[2020-07-31 04:15] xwartz commented on #26985
@dougcoburn
Where did you set it up?

[2020-07-31 05:29] idhowardgj94 commented on #29428
I believe I set up environment step by step from official website.
I think `install` section need to be updated.

anyway, problem solved. thank for help :)

[2020-07-31 05:50] MoOx commented on #29237
This has been fixed in 0.63.2 See https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0632

[2020-07-31 06:52] zabojad commented on #26687
@xchmelmilos excuse me you are right again, the following error log appears without preloading AppRegistry:
[code]

I was mistaken because `ReactRootView: runApplication: call AppRegistry.runApplication` is a `E` error log and I was interpreting it as an error while it is probably not one.

So all is good, you hotfix works indeed. But shouldn't it be fixed right within RN?

[2020-07-31 06:55] MadaShindeInai commented on #28844
Error: Unable to resolve module `./debugger-ui/debuggerWorker.cff11639` from ``:

None of these files exist:
  * debugger-ui/debuggerWorker.cff11639(.native|.native.js|.js|.native.json|.json|.native.ts|.ts|.native.tsx|.tsx)
  * debugger-ui/debuggerWorker.cff11639/index(.native|.native.js|.js|.native.json|.json|.native.ts|.ts|.native.tsx|.tsx)
    at ModuleResolver.resolveDependency (/Users/sergein

[2020-07-31 09:41] robinhuy commented on #22211
SafeAreaView is currently only applicable to iOS devices, so on Android, I must add paddingTop to avoid Status Bar.
And paddingTop working on Android (but not in iOS), so I don't need to check Platform to set padding. I think add more View inside SafeAreaView to set padding is acceptable.
It's better if SafeAreaView working on both iOS & Android.

[2020-07-31 09:46] xapai commented on #26687
Got similar to @zabojad problem. After implementing a fix suggested, got this:

[code]
Not ideal, but leads me to a direction which component may actually cause a problem.

[2020-07-31 09:59] andrekovac commented on #28551
@anthony1110 What do you update in `node_modules/react-native/Libraries/Network/RCTNetworkTask.mm`?

[2020-07-31 10:12] andrekovac commented on #29493
@sjonchhe How do you upgrade the Flipper version for iOS?

For Android I update `FLIPPER_VERSION` in `gradle.properties`. But I don't know how to do it for iOS..

[2020-07-31 10:56] dharmendrashah commented on #29493
i remember this issue, i spent 4 days to google this thing out but nothing works.
will this is a vey common problem in RN 0.62
But this [react-native-fetch-blob](https://www.npmjs.com/package/react-native-fetch-blob) package is really good try this it will sure help you out.

[2020-07-31 11:07] andrekovac commented on #29493
For me it's an issue because the requests of packages I use (i.e. `react-native-video` and `@aws-amplify/auth`) fail..

[2020-07-31 11:26] maximiliancsuk commented on #27032
I'm facing the same issue!

For me, the image also disappears when the on-screen keyboard flips out because the user tapped into a text-box. I suspect(!) it also happens whenever the size that the image can take up changes... but I couldn't check that yet.
The workaround mentioned by @lukeforehand does indeed work for me too... but it's far from ideal. I'm showing images that are about 1mb in size

[2020-07-31 12:03] xchmelmilos commented on #26687
Yes, this magical lazy loading of AppRegistry is nonsense, it should be explicit call like `initializeAppRegistry()` or initializing AppRegistry immediately when import is called.

[2020-07-31 12:30] Baterka commented on #28551
Just RNFS works rn

[2020-07-31 13:16] anthony1110 commented on #28551
@andrekovac , you can follow this thread and follow the IOS and android solution.  https://github.com/facebook/react-native/issues/29021#issuecomment-664030881

[2020-07-31 13:35] cklinx commented on #27231
Same

[2020-07-31 14:19] sammy-SC commented on #29021
Could you post here a screenshot of your redbox with stack tracked copied into a gist?
I suspect it might be a different issue as if you comment out `RCTLogError` statement, there is nothing that can throw a redbox.

Thank you

[2020-07-31 14:19] andrekovac commented on #28551
Applying the [patch](https://github.com/facebook/react-native/issues/29021#issuecomment-662231934) @anthony1110 mentioned doesn't work for me.

But a solution (for React Native `0.63`) seems to be coming soon: https://github.com/facebook/react-native/issues/29364#issuecomment-664526253

[2020-07-31 14:59] anthony1110 commented on #28551
@andrekovac , dont follow my patch, that one is hack. Bad solution. You should follow the update https://github.com/facebook/react-native/issues/29364#issuecomment-663005914 for IOS issue.

[2020-07-31 15:03] matinzd commented on #29360
I had the same problem. Adding `delayPressIn={0}` fixed for me!

[2020-07-31 15:35] abhishekrawe opened #29537 "ReactNative"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description of site
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
R

[2020-07-31 15:36] abhishekrawe commented on #29537
findingBugs

[2020-07-31 16:19] AndrewMorsillo commented on #29424
This issue continues to irritate my team. I'm sure this isn't how LogBox was intended to operate but the above linked reproduction shows that this happens on a fresh empty project.

[2020-07-31 16:37] whalemare commented on #25157
Still reproduced

[2020-07-31 16:43] chanthea commented on #28910
You just saved my life. Thanks

[2020-07-31 16:52] SConaway commented on #29428
Glad it's solved. I think this issue should be closed then

[2020-07-31 17:13] SConaway commented on #29532
1. If you're trying to install on a physical device, it's not detecting the device. You should try stopping the simulator or running the command with `--deviceId <ID>` at the end of it. To find the device ID, run `adb devices` and copy / paste the id.
2. It's saying that the target (in this case, a simulator) is out of space. To solve it, increase the amount of storage in the simulator settings. O

[2020-07-31 20:27] ignaciosantise commented on #29493
In my case, the problem was Flipper.
This is how i partially solved the problem in Android:

https://github.com/facebook/react-native/issues/28551#issuecomment-610652110

[2020-07-31 20:41] G0retZ commented on #28573
Hi guys! Do you plan to do anything with this?

[2020-07-31 23:59] patrickbattisti commented on #28470
It´s working for me: https://blog.cpming.top/p/react-native-0-62-undefined-symbol

All errors was solved, except the "linker command failed with exit code 1 (use -v to see invocation)"

[2020-08-01 03:14] crystalneth opened #29539 "Infinite nw_socket_handle_socket_event error"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Bug #21030 still occurs for me with RN 0.63.2

One of the fixes mentioned works, making this change in AppDelegate.m:

[code]

## React Native version:
0.63.2

[2020-08-01 05:48] #29489 closed

[2020-08-01 08:09] gegana commented on #26687
For my case I had to upgrade `react-native-progress`.
https://github.com/oblador/react-native-progress/issues/201#issuecomment-623714289

[2020-08-01 09:14] #19709 closed

[2020-08-01 09:14] #28223 closed

[2020-08-01 09:14] #28724 closed

[2020-08-01 09:14] #28704 closed

[2020-08-01 09:14] #28720 closed

[2020-08-01 09:14] #28678 closed

[2020-08-01 09:14] #28684 closed

[2020-08-01 09:14] #28611 closed

[2020-08-01 09:14] #27050 closed

[2020-08-01 09:14] #28729 closed

[2020-08-01 09:15] #28701 closed

[2020-08-01 09:15] #28740 closed

[2020-08-01 09:15] #25812 closed

[2020-08-01 09:15] #27040 closed

[2020-08-01 09:15] #28574 closed

[2020-08-01 09:15] #28527 closed

[2020-08-01 09:15] #26797 closed

[2020-08-01 09:15] #27363 closed

[2020-08-01 09:45] cklinx commented on #23693
+1

[2020-08-01 09:47] vikil143 opened #29541 "React Native App ScrollView,Flatlist and Animation laggy on Android Version 9 and 10"
I have a business app which builds on react-native technology on development time its version was compileSdkVersion and targetSdkVersion was 28(i.e. Android Version 8) so that I think it works fine below Android Version 9 device So now I need to solve that laggy issue is there any solution for this I tried changing complieSdkVersion to 29 but it's not working fine so please
help to tackle  this is

[2020-08-01 10:09] rahamin1 commented on #29237
I am reopening this, until we tests it in 0.63.2 and see that the problem has been solved.

[2020-08-01 11:45] mluisbrown commented on #29246
I also had this issue and asked about it on the [Swift forums](https://forums.swift.org/t/strange-linker-error-mentioning-swift-gettypebymanglednameincontextinmetadatastate/38936/3). The cause is trying to link against an older Swift runtime while targeting a newer version of the OS.

You should be able to just remove those `LIBRARY_SEARCH_PATH` entries entirely (or just leave `$(inherited)`) and

[2020-08-01 13:13] maystrenkoYurii opened #29542 "modal change navigation bar color"
If use modal end custom bottom nav bar color https://www.npmjs.com/package/react-native-navigation-bar-color, color navigation bar reset to transparent, and show color from android theme style
![IMG_20200731_161453](https://user-images.githubusercontent.com/23016311/89102443-e1707e80-d411-11ea-9141-507a22cc0c36.jpg)

[2020-08-01 13:13] maystrenkoYurii opened #29543 "modal change navigation bar color"
If use modal end custom bottom nav bar color https://www.npmjs.com/package/react-native-navigation-bar-color, color navigation bar reset to transparent, and show color from android theme style. Bug located in dialog theme styles modal

react: 16.13.1 => 16.13.1
react-native: 0.63.2 => 0.63.2

![IMG_20200731_161453](https://user-images.githubusercontent.com/23016311/89102467-25638380-d412-11ea-9799

[2020-08-01 13:37] shubhamsingh96 commented on #25537
where you able to resolve it ?

[2020-08-01 15:04] Monte9 commented on #25787
@friederbluemle is spot on

Since `PackageList` is now a generated file, you need to run `yarn react-native run-android` to build the android app. That's what auto links the package and generates that file.

Regardless of if that command builds/fails - if you go back to Android Studio and build the file - `PackageList` will no longer throw that error!

[2020-08-01 15:13] mattijsf commented on #29378
Even though it is a different component it feels somewhat related to https://github.com/facebook/react-native/issues/29412

[2020-08-01 16:00] fungilation commented on #19981
Arise, zombie bug. Arise!

[2020-08-01 17:21] hkaracaoglu opened #29544 "'React/RCTBridgeDelegate.h' file not found"
'React/RCTBridgeDelegate.h' file not found when I tried run project.

## Description
I programmed my application on my windows laptop first. Then I moved project to my MacBook. I made all instructions about moving procedure. But I couldn't run project.

## What I tried
I tried some solutions that I read on web.

Delete pod file and create again with `pod init` and `pod install` again.
`pod deinteg

[2020-08-01 18:04] Mhde96 commented on #28712
what are you doing here for this

[2020-08-01 19:00] yashwant-dangi commented on #26598
This should be fixed

[2020-08-01 19:34] oeduardoal opened #29545 "PlistBuddy getting wrong CFBundleIdentifier variable with Xcode 12.0"
/usr/libexec/PlistBuddy can not found a CFBundleIdentifier variable on Xcode 12 in iPhone 11 (iOS 14.0)

## Description
I tried to run my `paz.church` application with the` yarn ios` that opens the iPhone 11 (iOS 14.0) XCode 12.0 simulator, but I get an error that cannot find the application in the build folder

## React Native version:
[code]

## Steps To Reproduce
Provide a detailed list of step

[2020-08-01 20:02] cristianoccazinsp commented on #29451
@fabriziobertoglio1987  I know you have been getting your hands dirty by debugging some very deep react native bugs. Sorry about tagging you here, but do you have any ideas what could be this bug? Seems like extremely serious since it cripples Android apps.

[2020-08-01 20:36] inferusvv commented on #29387
MainApplication have onCreate method. But nothing changes. App still changes colors

[2020-08-02 03:51] daviditsygin commented on #29101
I googled this for hours and tried every solution including the one above, but I was finally able to fix it by doing

`git config --global core.autocrlf false`

and then running `pod install` again

[2020-08-02 04:00] ecreeth commented on #29537
This is an empty issue! can be closed.

[2020-08-02 04:23] Monte9 commented on #28481
@Shywim you are right! 💯 Excluding `okhttp3` from the `flipper-network-plugin` get's rid of this error.

Also thanks for submitting the PR! Looks like it got merged in here https://github.com/facebook/react-native/commit/a642c3f264e31f3c2a80a70c1fb7baa2325f4e5e and will be available in the next release! 👍

[2020-08-02 04:32] mcraigie commented on #29376
I feel like compensating for being inside a scrollable container is the more unusual case (I checked several RN codebases I maintain and it was something like 5:1), which makes me think the default behaviour should be no delay, with a prop that can be used to add a delay if required. Maybe something like `pressDelay: number | 'scroll' = 0`.

[2020-08-02 06:08] lordmaul commented on #27769
I am getting this error when I call animateToRegion on a map obj (react-native-maps). any fix would be appreciated?

[2020-08-02 06:55] take-o20 commented on #28630
I use react-native 0.62.2 . I can't resoleve this problem by above.
But I can upload image file by using "uploadFiles" func  of react-native-fs .
https://github.com/itinance/react-native-fs

[2020-08-02 08:30] SudoPlz commented on #25537
For us even though we were getting that error in logcat it wasn't the real reason for the crash.
The real reason was read only memory which is an API 29 feature.
The workaround was to down grade to API 28 and the crashes stopped!

[2020-08-02 09:03] whalemare commented on #26813
Still reproduced in `"react-native": "0.63.2"`

[2020-08-02 11:42] numandev1 opened #29547 "how can we make ListHeaderComponent as sticky header in SectionList"
## Description
i am using horizontal tab bar inside `ListHeaderComponent` and I want make `ListHeaderComponent` as a sticky header in SectionList. we can make stickyheader in flatlist by `stickyHeaderIndices={[0]}` but it does not work in **SectionList**

## React Native version:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. make section list  and add

[2020-08-02 11:45] whalemare opened #29548 "Kotlin UI components not work with React-Native"
When you try implement native view module written in Kotlin, it is not resolved in React-Native via `requireNativeComponent`

## Description
I have my own `ZoomView` implementation in native android part.
I was add this package as described in [docs](https://reactnative.dev/docs/native-components-android). When JS **debugger** connected to application, **module resolves correctly**, but when we ru

[2020-08-02 11:50] markgrancapal commented on #29021
Thanks @anthony1110 , this one fixed my Android issue.

I'm uploading an image to a S3 presignedUrl, and it's throwing an status of 0 when using XMLHttpRequest PUT.

[2020-08-02 11:52] htbkoo commented on #29376
I can confirm that the quick workaround suggested by @EhsanSarshar is working for me too (i.e. adding an `onPress` handler to `Pressable` and the delay to the UI feedback is eliminated)

FYI, I am using `react-native` of `v0.63.0` on an Android tablet (SDK level 28 if it is helpful to know)

[2020-08-02 12:23] padapada09 commented on #29376
That's not s workaround, that's not expected behavior. Adding or not an onPress handler should not change the press in delay.

[2020-08-02 12:58] SimonHausdorf commented on #26892
that's the way to go! Thanks

[2020-08-02 13:37] abeyuya commented on #25239
Currently, the PR [Support for ScrollView.maintainVisibleContentPosition on Android](https://github.com/facebook/react-native/pull/29466) is open.
I brought [the RN that built this branch](https://github.com/abeyuya/react-native/tree/patch-maintainVisibleContentPosition) into my app.
And it is working as expected!

However, the same problem as [this](https://github.com/facebook/react-native/issues

[2020-08-02 14:47] jcbdev commented on #29492
I have this issue on a project I update from 0.62.2 to 0.63.2.  I have used `npx react-native-clean-project` a million times but all popups freeze the screen.  I can see that the app hasn't actually crashed though as subscription events are still re-rerendering underneath, its just all touch input no longer works.

I can get it to work if I disable flipper.

Is there something that isn't getting c

[2020-08-02 14:52] gedeagas commented on #29536
Interesting, @rratanak is this only affect you on iOS 13? , i will try to replicate this issue on my end.

[2020-08-02 14:53] fabriziobertoglio1987 commented on #29451
Thanks a lot @cristianoccazinsp currently I only have weeekends to do opensource, unluckily I never worked with the ReactNative Dimensions SourceCode

My todos for next weeks are finishing https://github.com/facebook/react-native/pull/29117 and https://github.com/facebook/react-native/pull/29070

Then I can take a look at this.
The first step in solving all bugs is creating a Minimum Reproducible

[2020-08-02 15:12] jcbdev commented on #29492
Fixed this.  For anyone interested these are the steps I had to follow:

* Close everything (of course)
* Open <project>.xcworkspace in xcode. Cmd-Shift-K to clean build (I also tried Cmd-Shift-Option-K)
* Close xcode
* delete the contents of folder ~/Library/Developer/Xcode/DerivedData (*I think this is the key tbh*)
* open simulator -> Device -> Erase all contents and settings
* Close simulator

[2020-08-02 15:29] Gustash commented on #29492
Okay, so it seems like this issue should be moved to the flipper repo instead, everything seems to be pointing to it being the issue

[2020-08-02 16:19] retyui commented on #28633
@Desintegrator

[code]

[2020-08-02 17:12] tarunaahuja20 opened #29549 "Firebase support confirmation for react-native apps"
## Description
I am building an application that has a requirement of using a firebase realtime database. I tried using this [library](https://rnfirebase.io/) but facing some issues. Can someone please confirm if react-native supports firebase totally or it supports with some known bugs.

## React Native version:
0.62.2

## Steps To Reproduce

1.  I created a react-native app. Now what I want is t

[2020-08-02 17:28] #28492 closed

[2020-08-02 17:28] #28766 closed

[2020-08-02 17:28] #28755 closed

[2020-08-02 17:41] fungilation commented on #23870
Arise, zombie bug. Arise!

[2020-08-02 18:46] nitishkumarnitc commented on #28521
Even I am getting this issue.
Workspace integrety issue, could not load the project.

[2020-08-02 19:33] ratanakrung commented on #29536
@gedeagas Yes, only on iOS 13 with rn 0.62.2. I tested on iOS 12 working as expected.

[2020-08-02 20:28] #28759 closed

[2020-08-02 20:45] danielbattat commented on #23764
I am getting:
```unknown:NativeModuleInitError: java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libreactnativeblob.so caused by: Error: Cannot load /data/app/com.***********-1/lib/arm/libreactnativeblob.so result: 0```

with
    "react": "16.13.1",
    "react-native": "0.63.2",

[code]

[2020-08-02 23:26] cristianoccazinsp commented on #29451
I will try to test a fresh project to discard webviews and navigation causing issues.  But it really seems like something internal from RN is breaking in a very bad way and I don't really see how other libraries could affect it.

[2020-08-03 01:28] #28738 closed

[2020-08-03 01:48] ikimiler commented on #27032
@maximiliancsuk thx,This bug puzzled me for a long time

[2020-08-03 02:02] caijiami opened #29551 "Unable to find module for UIManager"
Unable to find module for UIManager
Run this error
RN 0.58.6

[2020-08-03 02:08] caijiami commented on #29551
"@ant-design/react-native": "^3.1.3",
    "@react-native-community/art": "^1.0.0",
    "axios": "^0.18.0",
    "hoist-non-react-statics": "^3.3.0",
    "jcore-react-native": "^1.5.0",
    "jpush-react-native": "^2.6.1",
    "jsencrypt": "^3.0.0-rc.1",
    "jverification-react-native": "^2.4.0",
    "lottie-ios": "^2.5.3",
    "lottie-react-native": "^2.5.11",
    "native-base": "^2.12.2",
    "pro

[2020-08-03 02:13] developius commented on #28712
@Mhde96 @mylesshie @RockinGarg

Your logs include a message about missing adb (`/bin/sh: adb: command not found). I would suggest making sure adb is installed before trying to debug anything else.

[2020-08-03 03:09] rajeshsmallarc commented on #26967
@MahiK14 are you able to resolve this issue?

[2020-08-03 04:26] HKGolden-Dev commented on #27032
Issue occurs in the commit: 3b67bfa. I am able to use gif without disappearing gif & refreshing.
But it could be a bad practice as all the code related to gif are now renamed as RCTAnimatedImage, using the unrefined version of RCTGIFImageDecoder may not be a good idea.

[2020-08-03 04:45] cbedoy commented on #29493
Same error here, iOS app work perfectly but Android is failing.

[code]

I already disabled Flipper and still failing, oh god! I've expending to much time facing error with iOS releasing and now this thing, what's next?

[2020-08-03 05:21] nihp commented on #28766
The above is still an issue

[2020-08-03 06:27] brunofunnie commented on #22234
I've created this patch for the React Native 0.63.2. If you have **'drawable-*'** folders, rename it for **'mipmap-*'** instead, you can change the reference for it in the _android/app/src/main/AndroidManifest.xml_

Run this in the project's root to create the patch file

[code]

then apply the patch with

```patch node_modules/react-native/react.gradle < react-native-0.62.3-react.gradle.patch```

[2020-08-03 06:28] #28688 closed

[2020-08-03 06:55] SunskyXH commented on #29246
@hengkx, it works for me! Thanks a lot!

[2020-08-03 06:55] #29246 closed

[2020-08-03 07:16] Desintegrator commented on #28633
@retyui thanks, will try it soon

[2020-08-03 07:36] htbkoo commented on #29376
Yes - I actually meant "quick hack" (to eliminate the delay) instead - editing to avoid confusion.

And I agree that this should be fixed properly instead (say, by [exposing an optional prop `delayPressIn` as discussed above](https://github.com/facebook/react-native/issues/29376#issuecomment-662620006)) and the press in delay should be orthogonal to the `onPress` handler

[2020-08-03 08:13] chelseytutoring opened #29552 "Android: Can't adjust Animated.View's opacity from 1 to 0"
this has been issued since last year and tagged resolved, but it seems still occurs the same trouble.

`const opacity = useMemo(()=> new Animated.Vaue(1),[something]);

useEffect(() => {
   Animated.timing( opacity, {
      toValue(0),
      duration: 500,
      useNativeDriver: true,
   }
},[something]);

...

return (
...
   <Animated.View style={{opacity: opacity}}>
      <div> ... </div>
   </

[2020-08-03 08:16] #29552 closed

[2020-08-03 08:17] jiyoon127 opened #29553 "Android: Can't adjust Animated.View's opacity from 1 to 0"
this has been issued since last year and tagged resolved, but it seems still occurs the same trouble.

[code]

### this is the first issue that I found
[https://github.com/facebook/react-native/issues/25318](https://github.com/facebook/react-native/issues/25318)

### and my react-native info
[code]

[2020-08-03 08:23] yinbolove576 opened #29554 "RN 0.60+ ,Activity is abnormally destroyed"
## Description
react native jump android activity ,restart app, activity destroy

## React Native version:
System:
    OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
    Memory: 57.60 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.4.0 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.10.1 - /usr/local/bin/npm
    Watchman: 4.9

[2020-08-03 08:40] krzysztofnowak commented on #29500
@react-native-bot it is not Image component issue. Image renders base64 properly. It is Share component

[2020-08-03 09:06] d4vidi commented on #23870
@yungsters @mdvacca could we get another shot at this? Last time we tried it, @davidbiedenbach's PR was reverted because of an alleged increase of ANR's in #23870. I think it's important enough to as to try again. Wdyt?

[2020-08-03 11:28] #28772 closed

[2020-08-03 12:29] take-o20 commented on #28587
This issue was happened me.
"react": "16.13.1"
"react-native": "0.62.2"

However, it was not the right way to use it in the first place.
"onEndReachedThreshold" and "onEndReached" should be used with style's "height".
`<FlatList
      data={auctions}
      renderItem={renderListItem}
      horizontal
      onEndReachedThreshold={0.5}
      onEndReached={handleLoadMore}
      style={{height: '100%'

[2020-08-03 13:04] ravirajn22 commented on #29507
Does adding this prop help `textAlignVertical='center'`?

[2020-08-03 13:07] bboure commented on #27504
I am facing this issue too. Any workaround while waiting for the fix?

[2020-08-03 13:14] andordavoti commented on #28698
Having the same issue... Works fine in production, but crashes on android.

[2020-08-03 13:20] #29474 closed

[2020-08-03 14:00] MAhtishamShahzad commented on #28628
'React/RCTViewManager.h' file not found after upgrade 0.62 to 0.63.2

[2020-08-03 14:04] ibrahimyolbir commented on #29496
Hi @Gustash I have a question. I dont want to upgrade my React native version 62.2 to 63.2. Is it enough if i just change android/build.gradle >  **targetSdkVersion = 28** to 29

[2020-08-03 14:04] Gustash commented on #29496
Yes, should be

[2020-08-03 14:16] hussam132 commented on #28607
yes the solution was about the API level of my android evaluator I discovered that the minimum level supported now  is 21

[2020-08-03 14:16] #28607 closed

[2020-08-03 14:45] AlessioCamm opened #29555 "ITMS-90429: Invalid Swift Support"
When I archive my react-native app and put on the App Store Connect, I got this error :

`ITMS-90429: Invalid Swift Support - The files libswiftDarwin.dylib, libswiftDispatch.dylib, libswiftCoreGraphics.dylib, libswiftCoreFoundation.dylib, libswiftUIKit.dylib, libswiftMetal.dylib, libswiftCore.dylib, libswiftFoundation.dylib, libswiftQuartzCore.dylib, libswiftos.dylib, libswiftObjectiveC.dylib, li

[2020-08-03 14:54] fikar46 commented on #28551
i try this and works 100%

[2020-08-03 15:17] AlessioCamm commented on #29555
Found a solution, at [this link](https://developer.apple.com/library/archive/technotes/tn2435/_index.html#//apple_ref/doc/uid/DTS40017543-CH1-ADD_FRAMEWORK_TARGET)

Go to the site, and search for "**Embedded .dylib Files**"

[2020-08-03 15:18] #29555 closed

[2020-08-03 15:50] safaiyeh commented on #29549
Hi @tarunaahuja20 I would suggest creating an issue with react-native-firebase. Personally, I have used many of their modules, but it does take a bit of setup. Issues on this repo relate to React Native core, thanks!

[2020-08-03 15:50] #29549 closed

[2020-08-03 15:53] safaiyeh commented on #29547
Hi @nomi9995 thanks for the issue! Could you provide a snack that show cases this issue?

[2020-08-03 15:57] safaiyeh commented on #29545
Hi @oeduardoal I noticed you submitted a PR in the cli repo to address this error. Would that resolve this issue as well?

[2020-08-03 15:59] safaiyeh commented on #29544
Hi @hkaracaoglu does the resolution in this issue solve your case? https://github.com/facebook/react-native/issues/25838

[2020-08-03 15:59] oeduardoal commented on #29545
Yes, in reality, it is an error that occurs in the cli!

[2020-08-03 16:01] safaiyeh commented on #29539
Hi @crystalneth thanks for the issue. If one of the fixes worked, are you proposing the fix should be implemented in the template? If so, feel free to open a PR.

Otherwise, can we close this issue?

[2020-08-03 16:03] safaiyeh commented on #29537
👍

[2020-08-03 16:03] #29537 closed

[2020-08-03 16:07] safaiyeh commented on #29536
This a bit tricky to reproduce because it requires a OTC service.

@gedeagas were you able to reproduce this?

@rratanak could you provide a video that displays this issue?

[2020-08-03 16:10] safaiyeh commented on #29535
@bhandaribhumin Did the resolution in this issue help you out?

[2020-08-03 16:12] bhandaribhumin commented on #29535
Yes bro

[2020-08-03 16:15] bhandaribhumin commented on #29535
Yes

[2020-08-03 16:15] #29535 closed

[2020-08-03 16:29] safaiyeh commented on #29545
Great! I'll close this issue. I appreciate your work on it in the cli.

[2020-08-03 16:30] oeduardoal commented on #29545
Ok!

[2020-08-03 16:31] #29545 closed

[2020-08-03 16:40] cristianoccazinsp commented on #29451
Repro here: https://github.com/cristianoccazinsp/react-native-dims-bug

Although the webview seems needed to trigger the bug, I believe it is something related to either surface handling or event emitters (that the webview use), but technically any component could trigger the bug.

Running the above example: just run it on android and rotate the device a few times, dimensions will stop updating ri

[2020-08-03 16:46] safaiyeh commented on #29532
Hi @ArqaanAli thanks for the issue. This seems to be an issue with your emulator not having enough storage.

Thank you @SConaway for providing possible ways to fix this!

This issue board is to track React Native core work, closing and redirecting to Stack Overflow

[2020-08-03 16:46] #29532 closed

[2020-08-03 16:48] safaiyeh commented on #29493
Duplicate of https://github.com/facebook/react-native/issues/28551

Let me know if the solutions on that issue help resolve this.

[2020-08-03 16:48] #29493 closed

[2020-08-03 17:09] andymatuschak commented on #29507
@ravirajn22: Nope, that doesn't change the output, neither on Android nor on iOS.

[2020-08-03 18:13] safaiyeh commented on #29496
@amarjain07 have you had problems targeting SDK 29? Application SDK targets override any targets in Android dependencies. Otherwise, could you close this issue?

[2020-08-03 18:33] Shing-Ho opened #29556 "TouchableWithoutFeedback is highlighting when I long press it in ios."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
TouchableWithoutFeedback is highlighting when I long press it in ios.

## React Native version:
System:
    OS: macOS 10.15.3
    CPU: (6) x64 Intel(R) Core(TM) i5-8400 CPU @ 2.80GHz
    Memory: 883.04 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.13.1 - ~/.

[2020-08-03 19:31] tacitomv commented on #28470
@patrickbattisti not the same issue, but your link helped me with a previous article:

https://blog.cpming.top/p/undefined-symbol-swift-getfunctionreplacement

bullseye.

Aldo I felt in the same issue as yours:

with a message above I believe it's relevant, that says:

this one I'm getting no clue.

[2020-08-03 19:43] felire opened #29557 "Accessibility - Item Behind another"
## Description

 If I have two items overlapped, for example a fixed header and an item behind, if I touch on the header with VoiceOver or TalkBack it automatically select the item behind instead of the header, I tried with `zIndex` style prop or with `importantForAccessibility` prop (android) and it's still not working

I resolved on android, wrapping the View that I want to give priority on a `T

[2020-08-03 19:44] leopavez commented on #25240
Hi guys, same problem from here.
I fixed it by running `react-native unlink react-native-vector-icons`, for some reason it doesn't work with that installation method

[2020-08-03 19:49] dumbokitty commented on #28844
Hey, I just started a new expo project with expo-cli and tried the remote debugging on expo-cli. I've got the same error/warning messages. Moreover,  the chrome debugging console didn't show the code error location in the code. Rather, it shows some weird location in the build bundle file which is of no use in real debugging. I am wondering if this behavior is linked to these errors and has anybod

[2020-08-03 20:59] inferusvv commented on #27876
Issue closed, but no answers.. How to disable this mode? I don't want phone settings affect my app styles.

[2020-08-03 21:04] osikes commented on #29364
Seems weird this hasn't been resolved and released yet. No one using 0.63 can build an app that uploads files until then.

[2020-08-03 21:41] mrprkr commented on #29364
@osikes Yep, this is actually pretty ridiculous. The patch doesn't seem to work on my CI either and couldn't roll back to 62 without breaking changes. Now stuck not able to release an app version until an update is available.

[2020-08-03 21:48] samuelgrigolato commented on #28954
Solved here as well. Did anyone figure out why this happened exactly?

[2020-08-03 22:00] ssuchanowski commented on #29364
@mrprkr do you know which version was last to work?

[2020-08-03 22:56] cinder92 commented on #24149
Appstate.addEventListener("focus") is not working on Android 7

[2020-08-03 23:11] trcoffman opened #29558 "C++ ABI problems with JSI when JSError exceptions are thrown"
# Background

My team has been working on integrating JSI into react-native-webview's Android implementation.
We need a synchronous function call into JS in order to solve a bug we were experiencing in our app.
We adopted JSI as it seems like the only way to accomplish this. We are not using hermes, we are using JSC.

Some of the things I've observed with JSError exceptions thrown from libjscexecu

[2020-08-03 23:31] trcoffman commented on #29558
I added my environment info

[2020-08-03 23:56] #29056 closed

[2020-08-04 03:48] intelligentiallc commented on #28844
same problem here
 I solved by this
1- remove node_modules
2- remove the installed app in your device
3- install the packages again
4- run `cd android && gradlew clean`

and i works

[2020-08-04 03:49] jacoolee opened #29559 "Image nested in Text only show half content part on Android."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When an Image is nested in Text, only half part content would be showed on android.

## React Native version:
Run `react-native info` in your terminal and copy the results here.
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. put a `<

[2020-08-04 03:55] Michael24884 commented on #25838
Still getting this error when archiving, on React 63.2

[2020-08-04 04:13] channy1 opened #29560 "ssh block"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-04 06:06] fikar46 commented on #29364
thank you bro, this is very work for me, rather than waiting for an update from react native that is very long

[2020-08-04 06:13] zhubinsheng commented on #26244
这个问题无法被社区解决啊？

[2020-08-04 06:36] asor7007 commented on #29396
![image](https://user-images.githubusercontent.com/57497414/89260658-ad8e9680-d667-11ea-8c20-07192d3b28a7.png)
If the app build mode is a `Release`, it will not be connected.
To switch build you should go to the `Product > Scheme > Edit Scheme` and select Debug for Build Configuration.

[2020-08-04 06:37] nomi9995 commented on #29547
@safaiyeh I have added reproducible snack example.

[2020-08-04 06:38] mrprkr commented on #29364
0.62 worked with no issues

[2020-08-04 06:52] zhubinsheng commented on #29528
新建一个全新的rn项目
将全新的rn项目中的android中的 android\gradle\wrapper\gradle-wrapper.properties里面的东西复制到自建android项目中

将全新的rn项目中的android中的android\settings.gradle里面的东西合并到自建android项目中

将全新的rn项目中的android中的里面两个build.gradle文件里面的东西分别合并到自建android项目中

将全新的rn项目中的android中的里面gradle.properties文件里面的东西分别合并到自建android项目中

这样可以运行，但是未从根本上解决问题

[2020-08-04 07:21] #27965 closed

[2020-08-04 08:01] ndbeyer commented on #28823
For me this works on an ios device with debug mode off. For all other cases (ios device debug mode on, ios simulator, android simulator, android device) this does not seem to work.

[2020-08-04 08:14] bitcrumb commented on #29455
We're seeing the same behavior. The onDismiss callback is never called when hiding the modal. I can also confirm the behavior as explained by @diolegend.

[2020-08-04 08:44] mydylan commented on #26985
Unfortunately I am having this issue in 62.2

[2020-08-04 08:54] hannzern commented on #28828
any solutions for this? running into this issue now

[2020-08-04 09:53] desarrollospyro commented on #28489
Thank you! it works! 👍

[2020-08-04 09:53] desarrollospyro commented on #28489
@pxmage thank you! It works!! :)

[2020-08-04 10:12] alexlevy0 commented on #28698
@andordavoti
https://github.com/walling/unorm 👍

[2020-08-04 10:37] yinbolove576 commented on #29554
edit AndroidManifest.xml
remove android:launchMode="singleTask"

[2020-08-04 10:37] #29554 closed

[2020-08-04 11:31] mshehrozsajjad commented on #28551
This works (Y)

[2020-08-04 12:09] AlessioCamm opened #29561 "this._calllisteners.bind"
After I try to install unit test and babel, I got this error :

![Screenshot_1596542817](https://user-images.githubusercontent.com/22292009/89291990-d315a300-d65b-11ea-8458-adb608a77223.png)

I also try `react-native start --reset-cache`, but not working...

### Informations
**System**:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
    Memory: 3.08 GB / 15

[2020-08-04 12:14] sethkane commented on #24519
@PeoB
I created a POC and tested the Input fields with Talkback enabled and I don't see any issues in React Native 0.63.  I have done the same POC with React Native 0.59 and it is an issue as you and the rest of the group have stated.

[2020-08-04 12:24] daniel102510 commented on #25923
It worked for me in RN version 0.62.2 by adding to `android/app/build.gradle`:

`implementation 'com.facebook.soloader: soloader: 0.9.0+'`

[2020-08-04 12:30] TamashiKaizen opened #29562 "Hi, how to disable the start screen in react native? Does the start screen appear in production mode?"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Hi, how to disable the start screen in react native? Does the start screen appear in production mode?

## React Native version:
Run `react-native info` in your terminal and copy the results here.

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

[2020-08-04 13:27] konstantinmv opened #29563 "Cannot update a component from inside the fn body of a different component"
## Description
After upgrading to the latest version of RN and React, I have this warning every time there is a redux action dispatched.
Components are connected to redux via containers, mapDispatchToProps is implemented using bindActionCreators (https://react-redux.js.org/using-react-redux/connect-mapdispatch#defining-the-mapdispatchtoprops-function-with-bindactioncreators).

The warning is trigg

[2020-08-04 13:46] osikes commented on #29364
Reverting the commit https://github.com/facebook/react-native/commit/31980094107ed37f8de70972dbcc319cc9a26339#diff-9a034658197479288c4d346a0eb4d98c does work thanks 😊 . However for people actually with jobs in RN they likely have CI process, so now that has to get modified as well... because this apparently great framework can't offer basic functionality like upload a profile image or a file.

[2020-08-04 13:56] mrprkr commented on #29364
This is exactly the issue, I have a TestFlight pipeline setup with beta users able to receive nightly builds. I'm not sure how I would go about specifying a particular commit in `package.json` for the CI to use.

[2020-08-04 14:00] Vednus commented on #29364
You could use `patch-package` to run as a post install step. That's what I've done

[2020-08-04 14:03] joaoschaab commented on #29364
Downgrade is the way to go

[2020-08-04 14:20] champion007 opened #29564 "Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)"
I have started getting this error Invariant Violation: _Module AppRegistry is not a registered callable module (calling runApplication)_ since yesterday, my application was working and all of sudden it broke.

Google for hours most of them asked to - Delete your yarn.lock/package-json.lock file and run yarn/npm install. Then try clearing cache with npx react-native start --reset-cache but none of

[2020-08-04 14:26] felire commented on #29557
I'm using a SectionList to render the header

[2020-08-04 15:34] cbedoy commented on #26987
I'm not using custom configurations, we only have Debug|Release schemas.

I've been trying with 0.62.2, and 0.63.2, but still having instant crash when run on release mode or when testers got new build from testflight.

[code]

[2020-08-04 15:42] MihaiDev08 commented on #29564
I got the same error today and after I run npm start or expo start on my folder again it worked.I hope it will work at you too!

[2020-08-04 15:59] safaiyeh commented on #29547
Thanks for the snack @nomi9995. It seems like it is working in iOS and not Android. I appreciate the repro

[2020-08-04 16:10] lehuydev2203 opened #29565 "Build release app ios be struct."
<img width="821" alt="Screen Shot 2020-08-04 at 11 06 51 PM" src="https://user-images.githubusercontent.com/41155784/89317146-311ba800-d6a7-11ea-953f-01d26362448a.png">

## Description
Build IOS Archive bi error warning in here...

## React Native version:
System:
    OS: macOS 11.0
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 1.35 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh

[2020-08-04 16:19] napalm00 commented on #26687
Even after using the AppRegistry lazy-loading workaround it doesn't work for me.
It seems to crash when using react-navigation's createStackNavigator and other such methods.
Just upgraded from RN 0.61.5 to 0.63.2, had no issues before.

[2020-08-04 16:26] nomi9995 commented on #29547
@safaiyeh it is not working on both android and ios.

[2020-08-04 16:33] gedeagas commented on #29536
@rratanak @safaiyeh just finished debuging this both on my iOS 14 Testing Device and iOS 13 Testing Device. .

Using the same code and react-native 62.2 i can't replicate the problem that @safaiyeh having. The `oneTimeCode` works perfectly.

**Demo**
RN 62.2 on iOS 13.
https://streamable.com/4tay7c

[2020-08-04 16:40] joan2404 commented on #29387
Same problem here... Same React and RN version. Added `AppCompatDelegate.setDefaultNightMode(AppCompatDelegate.MODE_NIGHT_NO);`to `onCreate()` method on `MainApplication.java` and on Xiaomi the background color changes, which is very bad for the app as it relies on a pure white background. On other devices it works ok. Any clue to a fix?

[2020-08-04 16:59] gedeagas commented on #29425
Nice catch @dhirajj14.

@omuomugin see here for the implementation https://github.com/facebook/react-native/blob/c8d678abcf93fd3f6daf4bebfdf25937995c1fdf/React/CoreModules/RCTActionSheetManager.mm#L169 as per @dhirajj14 statement. if the URL is malformed ( doesn't have the proper scheme as per https://tools.ietf.org/html/rfc2396 ) it will return nill thus the if check below would not passed. https

[2020-08-04 17:21] safaiyeh commented on #29425
Appreciate the investigation and PR to the docs @gedeagas!

[2020-08-04 18:41] rectified95 commented on #29565
It'd be helpful if you provided more context, eg. the env info, the actual build command, some more of the build output etc..

[2020-08-04 18:43] #29563 closed

[2020-08-04 18:46] #29562 closed

[2020-08-04 18:47] #29560 closed

[2020-08-04 18:56] chrisglein commented on #29559
Created a Snack for this: https://snack.expo.io/@chrisglein/repro29559
Repros as you say on Android, but not on iOS or Web, where the image fills the text dimensions:
![image](https://user-images.githubusercontent.com/26607885/89333154-73160100-d649-11ea-8bec-7212038a2d0a.png)

[2020-08-04 18:57] chrisglein commented on #29559
Tried hosting inside a `View` instead of `Text` and there on Android it shows the same size as the parent container. So does seem to be related to `Text` hosting.

[2020-08-04 19:01] rectified95 commented on #29557
Please, add a more concrete repro, such as a Snack or at least a code snippet. We also require environment info before accepting issues.

[2020-08-04 19:31] tomcastro commented on #29314
@goatandsheep just tried with the latest version and we still have the same problem.

[2020-08-04 20:10] ththugues44 opened #29566 "Network error: the network request failed on some phone brand and POST type requests"
## Description
Hello

Our application is in production and has problems for POST type requests. On some phone brands and all android versions (5, 6, 7,8,9,10). and on the other hand the Post type requests work very well on other phones and all android version (5,6,7,8,9,10)

The exact error produced is: Error · Error: Network error: Network request failed.

React native command result:

Different

[2020-08-04 20:11] Friis1978 commented on #28419
I found another solution

In podfile, just make sure that the flipper versions are:

  versions['Flipper'] ||= '> 0.49.1'
  versions['DoubleConversion'] ||= '1.1.7'
  versions['Flipper-Folly'] ||= '> 2.1'
  versions['Flipper-Glog'] ||= '0.3.6'
  versions['Flipper-PeerTalk'] ||= '~> 0.0.4'
  versions['Flipper-RSocket'] ||= '~> 1.0'

And in the AppDelegate.m file just add:
TARGET_OS_SIMULATOR to the

[2020-08-04 20:12] professorkolik commented on #27140
I had similar issue, when I upgraded RN to 0.62+ I missed below line in ios/PodFile

`use_react_native!(:path => config["reactNativePath"])`

[2020-08-04 20:15] weblancaster commented on #29364
Like @joaoschaab and others mentioned. Downgrading is probably the best option but depending on how much dependencies your project has you might have issues.

In my case, going from 0.63.0 to 0.62.0 had a couple of issues that would take too much effort/time to fix them but going from 63 to 0.61.5 I had to do very little changes.

[2020-08-04 20:50] goatandsheep commented on #29314
@tomcastro for validating. Let's continue this conversation on the related ticket https://github.com/goatandsheep/react-native-dotenv/issues/15

[2020-08-04 21:15] AlinDev commented on #28419
@Friis1978  can you please show some code,as it is not clear for me

[2020-08-04 21:20] AndrewMorsillo commented on #28775
So here's all of the undocumented or buggy behavior I've encountered with onLayout and .measure so far:

1. `onLayout` doesn't get called in some conditions (seemingly when an element is moved by a parent resizing)
2. `measure` returns undefined on android unless there's an `onLayout` or `collapsible: false` on the view
3. `onLayout` doesn't take transforms into account, it returns the "internal"

[2020-08-04 21:22] gboyegadada commented on #26892
Worked like magic !
If you are getting accidental taps (while scrolling in a list e.t.c), try doing:
[code]

[2020-08-04 21:30] whalemare commented on #29548
@safaiyeh I was add repo with reproducible demo for this case.

Also, I was add some comments in application describes how to reproduce JS crash in runtime.
You need check `master` and then checkout to `feature/java`. So, just run application in android emulator and feel free to ask questions if needed.

[2020-08-04 21:32] xlcrr commented on #28004
I was able to fix this by setting a `height` prop and assigning it to my absolutely-positioned keyboardAvoidingView.

When `componentDidMount` or `_keyboardDidHide` execute, I updated height to SCREEN_HEIGHT * 0.1 when platform == android.

Height `0` for iOS works fine

Works now 🤷‍♂️

Suggested improvement - stop buying androids!

[2020-08-04 21:51] aesthytik commented on #26106
I changed the build to new build system from legacy.

it worked 🤩👌🏻

[2020-08-04 22:48] Friis1978 commented on #28419
@AlinDev, In AppDelegate.m the code should look like this, the only thing to replace is '#if DEBUG' with '#if DEBUG && TARGET_OS_SIMULATOR'

Example:
// ...

#if DEBUG && TARGET_OS_SIMULATOR
#import <FlipperKit/FlipperClient.h>
#import <FlipperKitLayoutPlugin/FlipperKitLayoutPlugin.h>
#import <FlipperKitUserDefaultsPlugin/FKUserDefaultsPlugin.h>
#import <FlipperKitNetworkPlugin/FlipperKitNetworkPl

[2020-08-05 00:39] DeadKuriel commented on #26687
That worked for me.
Thanks

[2020-08-05 01:30] mngyuan commented on #18472
I generated my own `ios/main.jsbundle` using `react-native bundle` as per some of the suggestions in this thread, and for some reason had it listed in `Copy bundle resources`. Deleting the `ios/main.jsbundle` file and removing it from `Copy bundle resources` got `react-native-xcode.sh` running normally again.

[2020-08-05 02:23] nguyenduy2392 commented on #22744
I use FastImage to fix this problem. but i need more solution better

[2020-08-05 03:10] rratanak commented on #29536
@gedeagas  I test again and the problem somehow happens only on iOS 13.5. I have added two videos above to replicate the problem I'm having.

@safaiyeh I have edited and added videos to replicate the problem I'm having. About OTP service, I think you can test by send message to yourself, no need to subscribe to any services.

[2020-08-05 04:19] cbedoy commented on #27758
I still having same issue since three weeks ago, I've been trying different solutions. I created new project with 0.63.2 it works
but I can't figure it out why mine still broken.

[2020-08-05 05:17] roshanj80 commented on #20011
Still facing this issue on Android. Any solution for this?

[2020-08-05 05:21] weblancaster commented on #27696
Thank you @Taylor123 that worked for me. I originally had the style color set but for some reason, only 1 field out of 5 worked.

[2020-08-05 05:42] roshanj80 commented on #20011
Hi all, I found the bug and the actual problem was with updating the redux state (there is some kind of delay here). If you're updating the state on press, please comment that code and check if it works for you. In my case I was updating the state on press and opening an animated view... This is a weird issue. I should find a way now to pass the updated state before displaying the animated view

[2020-08-05 06:18] gedeagas commented on #29500
Hi @krzysztofnowak, I can't seem to replicate the issue on my end. Did you enable the permission of your app to save images?. A snack or repo example would be very helpful

https://snack.expo.io/CVcVKraWV

[2020-08-05 07:30] konstantinmv commented on #29563
It's not a problem of upgrade, it's an issue with the new version of React and RN, why is this issue closed?

[2020-08-05 07:43] champion007 commented on #29564
Tried it multiple times but it does not work :(

React-Native Info

[code]

[2020-08-05 07:47] winardis commented on #28924
are there any updates on this topic?

[2020-08-05 10:36] krzysztofnowak commented on #29500
@gedeagas full example here: https://github.com/krzysztofnowak/rn-sandbox

[2020-08-05 10:52] NioxyBrown commented on #25843
Just in case for those who are still looking for it.
I solved it by setting the property **`flex`** of the **`SafeAreaView`** component to 0.
For me it did the work :)

[2020-08-05 11:27] lisichka999 opened #29568 "Failure [INSTALL_FAILED_VERSION_DOWNGRADE] on Android"
## Description
I am getting Failure [INSTALL_FAILED_VERSION_DOWNGRADE] error when trying to install my application on device.
If I do clean install  and not upgrade the installation does succeeded, but I need to release new version for upgrade.

## React Native version:
61
## Platform
Android

## Steps To Reproduce
Not changes were made

[2020-08-05 11:41] SchneiderOr commented on #26985
Struggle is real! i can still reproduce it with versions 62.2

[2020-08-05 12:08] mjfiandaca commented on #27946
Not stale.
My app was just updated to react 0.63.2.
The issue remains.

[2020-08-05 12:11] DomiR commented on #23090
**My issue:**
https://github.com/react-navigation/react-navigation/issues/8676

On android, setting a view's opacity will render artifacts when child views have elevation.

So I've investigated this issue and came to the conclusion, that this is an android intended behavior.

**Background:**

[code]

To understand this issue we let's dig into react code.
Both views will get a BaseViewManager (see

[2020-08-05 12:38] champion007 commented on #26687
I am also facing issue with React Navigation with reference to stack other methods. Mine is new project it was working yesterday suddenly stopper tried all the above mentioned steps but nothing worked for me.

RN info -
[code]

[2020-08-05 12:58] retyui commented on #23921
Faced with the same issue react-native@0.62.x

[2020-08-05 14:51] chrisglein commented on #29566
Related? #28551

[2020-08-05 15:00] chrisglein commented on #29556
Put together a Snack to hopefully help zero in on this one: https://snack.expo.io/@chrisglein/repro29556

I've confirmed that this repros on iOS but not on Android or Web.

[2020-08-05 15:07] zhubinsheng commented on #29528
the last version also didn't help，i had tried 0.63 and 0.61 and 0.59.

[2020-08-05 15:08] Shing-Ho commented on #29556
[code]
It's fixed now using these texts.

[2020-08-05 15:08] zhubinsheng commented on #29528
But if copy the configuration of the auto generated Android project, it works and help me

[2020-08-05 15:12] Shing-Ho commented on #29556
But hope this fixed in TouchableWithoutFeedback

[2020-08-05 15:30] safaiyeh commented on #29536
@rratanak Thank you for the videos! Also, what is the behavior with the latest RN version?

[2020-08-05 15:30] eloisp opened #29569 "TextInput with multiline={true} render empty value"
## Description
Hi,
I found a bug with TextInput when multiline={true} and when we change the value (in a certain situation, after a render but not the first.)
Bug on iOS (did not test on android).

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i7-4558U CPU @ 2.80GHz
    Memory: 28.43 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.16.1

[2020-08-05 15:36] omuomugin commented on #29425
Thanks for resources and adding docs.

Really helped me!

[2020-08-05 15:37] omuomugin commented on #29425
Closing this issue.

[2020-08-05 15:37] #29425 closed

[2020-08-05 16:22] chrisglein commented on #29144
Confirmed in the docs now:

https://reactnative.dev/docs/appearance#getcolorscheme

[2020-08-05 16:22] #29144 closed

[2020-08-05 16:25] chrisglein commented on #29525
@bertrandgressier Sounds like you have a patch available through the original bug, and it seems pretty localized. Why not submit a PR with that fix?

[2020-08-05 16:33] chrisglein commented on #29569
I created a Snack to help test this repro: https://snack.expo.io/@chrisglein/repro29569
Tried on iOS and Android. I'm not seeing the behavior (assuming I'm getting your repro correct). However I think Snack might not be on 0.63 yet, as it lags behind a little bit. Can you confirm if you're seeing what you expect in the Snack or not?

[2020-08-05 16:37] chrisglein commented on #29524
Can you tidy up that repro please? That snippet doesn't drop in well, even after trying to fix the formatting, as it has all sorts of dependencies. Can you produce a Snack or link to a repo?

[2020-08-05 16:37] eloisp commented on #29569
I have already tested on snack, there is no bug on it. Only on the xcode simulator and on my device (iphone XR).

[2020-08-05 16:50] clfristoe commented on #29524
@chrisglein Here is a snack with the general idea: https://snack.expo.io/N5qTzRNuN
This one shows the case where I can scroll to dismiss the keyboard, but I am unable to scroll through the list when the keyboard is open. I've added a comment with a quick code change to show the other experience.

[2020-08-05 16:54] safaiyeh commented on #29481
Hi @lily-chenll thanks for the issue!

Could you create a repro in a Snack so it is easier to visualize the issue you are having?

[2020-08-05 16:56] safaiyeh commented on #29479
Hi @norbertschuler, glad you figured out your issue.

For future upgrade related issues, head over to https://github.com/react-native-community/upgrade-support.

[2020-08-05 16:56] #29479 closed

[2020-08-05 17:05] safaiyeh commented on #29476
cc @dulmandakh

[2020-08-05 17:07] safaiyeh commented on #29473
Hi @000xuandu thanks for the issue. Since this affects iPad, could you provide a repo that demonstrates this issue?

[2020-08-05 17:09] chrisglein commented on #29556
Ah, so it's `Text`, not the `TouchableWithoutFeedback` that's adding the highlight. Based on the docs, it looks like this is an expected platform difference on iOS: https://reactnative.dev/docs/text#suppresshighlighting
(as strange as that might seem)
Sounds like this by design.

[2020-08-05 17:09] #29556 closed

[2020-08-05 17:18] chrisglein commented on #29491
Isn't the expected meaning of `contain`? If you want the image to fill you'd want `cover` or `stretch` (depending on whether you want to preserve aspect ratio or not).
https://reactnative.dev/docs/image#resizemode

It'd be helpful to put together a Snack like this one to demonstrate your issue in context: https://snack.expo.io/@chrisglein/repro29491

[2020-08-05 17:21] chrisglein commented on #29464
For those of you who are hitting this, please provide a standalone repro (Snack ideally, or link to repro repo) to make sure this issue can be efficiently investigated. A link to a youtube tutorial is not going to meet the bar.

[2020-08-05 17:21] safaiyeh commented on #29426
Hi @goldrod could you test this on the latest React Native version and provide a repro with the issue either as a Snack or repo.

Does this issue only occur with the devices you listened or generally with Android devices?

[2020-08-05 17:24] safaiyeh commented on #29400
Hi @ajfick your React Native version is a bit old. Could you verify this still occurs in 0.63?

[2020-08-05 17:30] chrisglein commented on #27946
Confirmed repro on provided [Snack](https://snack.expo.io/@mjfiandaca/toggle-securetextentry).

Android
| Launch | Press TextInput | Toggle Eye |
| --- | --- | --- |
| ![image](https://user-images.githubusercontent.com/26607885/89444155-204e4f00-d706-11ea-8f40-7bd223b99a2a.png) | ![image](https://user-images.githubusercontent.com/26607885/89444207-322ff200-d706-11ea-82e7-42298fbeb478.png) | ![imag

[2020-08-05 17:42] eloisp commented on #29569
Here a record screen : https://www.youtube.com/watch?v=wgwwb4ljTEw

[2020-08-05 17:50] #29428 closed

[2020-08-05 17:53] ahtierney commented on #29491
@chrisglein I believe I've updated the snack you've provided to demonstrate @alishehzad2017's issue: https://snack.expo.io/FbQZQbcVO

From my understanding, the expectation is that "contain" would preserve the aspect ratio, take 100% width, and adjust the height of the image container so it mirrors the height of the rendered image – without specifically setting a height style.

[2020-08-05 18:25] eloisp commented on #29569
I just tried on react-native 0.62.2. No problem, it works well.
So this issue is only on 0.63.X

[2020-08-05 18:40] freezeX commented on #29200
No. It's breaking our CI which adopted this flag. The workaround we have is to switch to Xcode legacy build system or have the flipper flavored pod prebuilt.

[2020-08-05 20:12] colinfwren commented on #16826
From an automation perspective (using Appium) this works, you just need to make sure you put the testID/accessibilityLabel on the hidden input so that the actions are carried out against that instead of the visible one.

I had to reduce the timeout to 100ms instead of the full second as this was causing issues with the text entry as it would miss characters.

[2020-08-05 20:38] evanc commented on #25790
This is still an issue

[2020-08-05 20:43] Krizzu commented on #29568
This is not RN issue - more like mistake when versioning your app. [Here're docs about it](https://developer.android.com/studio/publish/versioning). (tl;dr: make sure you bump `versionCode` in `app/build.gradle` when doing a release - `versionCode` is to determine if app is newer than previous one.).

[2020-08-05 22:41] prazgaitis commented on #28372
For anyone who ends up here - check to make sure your IDE didn't auto-import a library that you didn't want to include. This was the cause for me!

[2020-08-06 00:17] frankenthumbs commented on #29021
it sounds like you didn't install patch package correctly. you have to add a postinstall script. in your `package.json` https://www.npmjs.com/package/patch-package

[2020-08-06 03:12] cristianoccazinsp opened #29572 "iOS TextInput - text undo/redo doesn't work if value, defaultValue, or onChange is set"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Setting `value`, or `defaultValue` with `onChange` will cause iOS undo/redo keyboard feature (mostly on iPads) to break or rarely work.  Additionally, it may cause a native crash from time to time.

Basically, the undo button gets enabled for half a second, and then gets disable

[2020-08-06 03:28] irekrog commented on #25790
This bug is over a year old. Is anyone from the react native team considering solving this bug?

[2020-08-06 05:39] victor012888 commented on #28551
This bug gonna drive me crazy
All solutions above is not working

[2020-08-06 06:10] jlmcdonald commented on #28408
@wang542413041 Try also requiring the native_modules from react-native-community:

- Ensure you have installed `@react-native-community/cli` with npm or yarn
- Modify your Podfile to look like this (after the platform line)

[code]
Then delete your `Pods` directory and any pod lockfile, and try running `pod install` once more.

[2020-08-06 06:31] dishantwalia commented on #24519
This issue has been fixed with this PR
[https://github.com/facebook/react-native/pull/24359/commits/f733da55c212f61ca31b9664d95536600bf73b91]

Additionally for the current fix in older RN version We can add a same OnClick capabilities on TextInput by creating Custom React Element with Touchable view that inherit TextInput element with clickable props that focus the keyboard after onClick.

[2020-08-06 08:06] HoWonJang opened #29574 "Type error problem after updating expo version from 36 to 38"
I updated the expo version to 38. When I was 36, the app worked normally, but an error occurs in the image. I tried the npm intall and other methods, but they were not solved. How can I solve this problem?
![update error](https://user-images.githubusercontent.com/49952957/89507148-13fdeb00-d807-11ea-9c18-abc30cbb733a.jpg)
[my app file.zip](https://github.com/facebook/react-native/files/5033416/my.

[2020-08-06 08:22] girish54321 commented on #28551
Hey @victor012888  have tried the `rn-fetch-blob`

[2020-08-06 08:27] HoWonJang commented on #29574
![info](https://user-images.githubusercontent.com/49952957/89509324-24fc2b80-d80a-11ea-9fad-62aa7e714f98.PNG)

[2020-08-06 08:32] mrprkr commented on #29364
Thanks all, have downgraded to 0.62.2 (and jumped through hoops to get pods working again!). Everything seems to be working on this version.

[2020-08-06 08:40] andreaspalsson commented on #28774
Reran the snack it with latest version of Expo v38.0.0 and React Native 0.62.2 and the issue is still there.

[2020-08-06 09:15] victor012888 commented on #28551
I use the upload FLIPPER_VERSION=0.50.0 way finally solved
My problem is INSTALL_FAILED_INSUFFICIENT_STORAGE cause the new packges are too big
After add more RAM for vitual machine everything is working on

[2020-08-06 10:08] pavermakov commented on #28583
I get the following error when I try to upgrade flipper
![Снимок экрана 2020-08-06 в 13 07 21](https://user-images.githubusercontent.com/10779996/89519916-c8871500-d7e5-11ea-85d3-84bb0b5f1ca5.png)

[2020-08-06 10:09] yewenxiang23 commented on #29364
My React - Native version is 0.63.2, And I found that this problem occurs when the interface for uploading images is secondary interface, but it doesn't exist when it is the initial route

[2020-08-06 10:57] vitalyiegorov commented on #29386
Having the same issue

[2020-08-06 11:24] T00rk opened #29575 "Couldn't find package "@react-native-community/cli@^4.7.0" required by "react-native" on the "npm" registry"
## Description
I tried to create a new application using `npx react-native init myapp`

## React Native version:
Version 2.0.1

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. `npx react-native init myapp`

## Expected Results
[code]

[2020-08-06 11:26] sandy2196 commented on #29575
The same issue, can anyone fix it!

[2020-08-06 11:28] genie09 commented on #29575
same issue here...

[2020-08-06 12:49] thobiasn commented on #28469
This is working for me aswell. I am sticking to this solution for now, to avoid messing too much with the underlying ios code. Great find, thank you!

[2020-08-06 14:51] oleksandr-dziuban commented on #29565
This is the reason:
https://github.com/facebook/react-native/pull/29477
Pr is raised for this, we need to merge it ASAP

[2020-08-06 15:08] MrLoh commented on #28503
The cause for me was that the new scheme I had created was not setup in my Podfile, I needed to add a line:
[code]

[2020-08-06 15:56] HarshaUdaraSandaru commented on #29364
Seem to still has the error in React-Native version 0.63.2.

[2020-08-06 16:27] wkarimvd commented on #27522
In vscode it automatically imported from @babel/core. I removed it and problem resolve thanks for @valerit and @farazAdnare

[2020-08-06 16:44] priyankapakhale commented on #21729
I added `alignSelf: "stretch"` and it worked for me. If you also want the text in the middle then just add `textAlign: "center"` as well.
Hope this helps someone.

[2020-08-06 17:26] mbfrom138 opened #29577 "Android library builds broken after upgrade to 0.63"
Note: this is a duplicate of https://github.com/react-native-community/upgrade-support/issues/93 and seems to be a bug in react native itself, we seem to be running into an issue where this statement may not be correctly evaluating

[code]

## Environment

System:
    OS: macOS 10.15.5
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 1.17 GB / 16.00 GB
    Shell: 5.7.1 - /bi

[2020-08-06 18:15] radiosilence commented on #29313
I did this eventually:

[code]

But you could do the same with TouchableOpacity I think. Seems kind of dumb, but I see both sides to the argument. I think changing the default behaviour is kind of leaving everyone who's already assumed the default is `0` high and dry because they now have to go back to their team and find workarounds, replace loads of stuff, and get PRs approved.

What would have

[2020-08-06 19:31] luskin commented on #29364
For anyone else having this issue, as a temporary fix update your local file: `node_modules/react-native/Libraries/Image/RCTLocalAssetImageLoader.mm` and replace the Obj-C method `shouldCacheLoadedImages` with the following

[code]

[2020-08-06 23:21] #29082 closed

[2020-08-07 00:16] danielrocha13 commented on #26331
In my case, for some reason, the node lost permission to connect externally,
this work for me [https://github.com/tj/n/issues/394#issuecomment-386807868](url)

[2020-08-07 00:54] safaiyeh commented on #29574
Hi @HoWonJang for Expo related issues, please file an issue at their repo https://github.com/expo/expo. Thanks!

[2020-08-07 00:54] #29574 closed

[2020-08-07 01:05] safaiyeh commented on #29502
Hi @srinivasanBG thank you for the issue. Issues on this repo concern core React Native APIs. Filing an issue with react-native-linkedin would be better for this. Thanks!

[2020-08-07 01:05] #29502 closed

[2020-08-07 01:11] safaiyeh commented on #28250
Appreciate this! Could you share what was your fix for people who stumble upon this issue? Might be worth adding to the docs site as well.

[2020-08-07 01:12] safaiyeh commented on #28495
Is this still an issue in 0.63? @git-single-lee @rickhanlonii

[2020-08-07 01:22] hank121314 commented on #29569
May I pick up this issue?
I think I have found the problem.

[2020-08-07 01:33] #29551 closed

[2020-08-07 01:45] yewenxiang23 commented on #29364
@luskin Thank you very much. That solved my problem

[2020-08-07 01:56] Un3qual commented on #29186
Any update on this besides disabling turbo modules?

[2020-08-07 02:03] suwu150 opened #29578 "Unable to resolve module `./unsupportedIterableToArray` from `node_modules/@babel/runtime/helpers/slicedToArray.js`:"
## Description
<img width="312" alt="截屏2020-08-07 10 03 18" src="https://user-images.githubusercontent.com/20339760/89600696-39d1d100-d895-11ea-8dcc-7b80168a50e6.png">

[code]

## React Native version:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.
When starting after running, it will prompt the above error information directly

## Expected Results
It can

[2020-08-07 02:21] david-cako commented on #28525
Definitely still seeing this.  Moved to [expo/react-native-appearance](https://github.com/expo/react-native-appearance) for now.

[2020-08-07 03:29] rahulje9 commented on #27483
This is happening to me with RN 0.63.2. I was on 0.61.5 and updated packages just 2 weeks before and this is a big issue for us since we are in production.

[2020-08-07 03:45] leoxiaoping commented on #28551
I have try all, still have problem.
not only debug version but release version.

[2020-08-07 04:02] leoxiaoping commented on #28551
I have solve my issue now!
①update FLIPPER_VERSION=0.52.0  latest

②formData code like this
let formData = new FormData();
      this.state.pics.map((value,index) => {
          console.log(value)
          console.log(index)
          let file = {uri:value.uri, type: 'multipart/form-data',name:value.uri.substr(value.uri.length-10,10)};
          formData.append('file'+index,file)
      })

type m

[2020-08-07 04:30] bardliu commented on #22234
Copy `node_ modules/react-native/react.gradle` to `android/app/react.gradle`, then modify `android/app/build.gradle` and `android/app/react.gradle`:

`android/app/build.gradle`
[code]
`android/app/react.gradle`
[code]

[2020-08-07 06:11] pablogil commented on #29541
I have the same problem. Flatlist stops for a couple of seconds when scrolling in Android, iOS flatlist component works pretty well.

To replicate you can create an react-native from scratch and load a flatlist with 600+ items

Here is my env

System:
    OS: macOS 10.15.5
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 25.88 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Bina

[2020-08-07 06:16] pablogil commented on #29275
I have the same problem, posted a comment in another open issue I found first.

here is my env

System:
    OS: macOS 10.15.5
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 25.88 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.3 - /usr/local/bin/node
    Yarn: Not Found
    npm: 6.14.5 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman

[2020-08-07 06:50] MuhammedAlmaz opened #29579 "React-Native Objc Bridge EXC_BAD_ADDRESS code 2"
There is a bridge of React-Native. The birdge start with this code block

[code]

I have a storyboard on swift. I send a data from swift to obj-c appdelegate.

[code]
After than i catch the a base64string on there

[code]

The everything is fine but... SCANNER_RESOLVER throw an exception. EXC_BAD_ACCESS code 2

When i run the SCANNER_RESOLVER on RCT_REMAP_METHOD i never got error. But when i use i

[2020-08-07 06:59] nnphuong9718 commented on #29101
you are my sunshine, you saved my life.

[2020-08-07 07:57] HugoGresse commented on #28305
There is a more broad subject related to conflicted fbjni lib on pytorch & also on react-native :/ both does not cohabitate :/

[2020-08-07 08:29] riadhriadh opened #29581 "react native android reload props 2 times on render component"
if we launch a component we change props twice

System:
    OS: macOS 10.15.3
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 2.19 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.19.0 - ~/.nvm/versions/node/v10.19.0/bin/node
    Yarn: 1.22.0 - /usr/local/bin/yarn
    npm: 6.13.4 - ~/.nvm/versions/node/v10.19.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/wa

[2020-08-07 08:32] riadhriadh opened #29582 "en release android textinput unfocus"
on first focus text input unfocus automatique

System:
    OS: macOS 10.15.3
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 2.19 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.19.0 - ~/.nvm/versions/node/v10.19.0/bin/node
    Yarn: 1.22.0 - /usr/local/bin/yarn
    npm: 6.13.4 - ~/.nvm/versions/node/v10.19.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/wat

[2020-08-07 08:33] lily-chenll commented on #29481
Hi @safaiyeh thank you for your reply. The problem cannot be reproduced. Previously it seems like the `Keyboard.dismiss` in `TouchableWithoutFeedback` doesn't work, now it works.

[2020-08-07 08:39] riadhriadh commented on #29578
npm install  @babel/runtime@7.8.4 --save-dev

[2020-08-07 08:47] riadhriadh commented on #29561
this.callListeners.bind(this);

[2020-08-07 08:54] AlessioCamm commented on #29561
A simple `npm start --reset-cache` work for me

[2020-08-07 08:54] #29561 closed

[2020-08-07 09:15] djpetenice commented on #27355
Any further updates on this? Just updated my app to 0.63.2 and the TouchableOpacity inside a ScrollView are super sensitive. Was working fine on 0.61.2

[2020-08-07 09:59] konstantinmv opened #29583 "Cannot update a component from inside the fn body of a different component"
## Description
This is not an upgrade issue!
Reference of a previously closed issue: https://github.com/facebook/react-native/issues/29563#issue-672793230

After upgrading to the latest version of RN and React, I have this warning every time there is a redux action dispatched.
Components are connected to redux via containers, `mapDispatchToProps` is implemented using `bindActionCreators` (https://

[2020-08-07 10:28] amangoelfv commented on #29035
any update ?

[2020-08-07 10:31] eloisp commented on #29569
I just tested your PR @hank121314
It works ! Nice work.

Thank You !

[2020-08-07 10:34] yewenxiang23 commented on #29364
Now I have encountered a new problem. The first upload is ok and the picture is displayed normally. After that, if I want to modify the picture, the second upload will have the same error

[2020-08-07 12:58] sanborN93 opened #29584 "[TextInput] Nested Text Components not able to have different Colors [iOS]"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

My project is a social network and I am currently encountering the following problem: I have a TextInput which is meant for comments, when the user enters his text he can mark other people. These are marked by an @username and are blue in color.

Inside the TextInput I render a

[2020-08-07 14:08] soorajnraju commented on #29035
I also faced the same issue

[2020-08-07 14:12] usama-asfar opened #29586 "React Native S3 image upload returns “Stream Closed” using XHR"
After updating React Native version to latest 0.63.2 and trying to upload the image to S3 bucket XHR returns error Stream Closed image upload was working fine with version 0.61.5

The Code

[code]
When the user wants to upload a profile image first App send a request to the server and get return the pre-signed URL and upload from client-side this how App was working.

dev env info
[code]

[2020-08-07 14:13] usama-asfar commented on #29586
This is not an S3 issue this issue with react native latest version `0.63.2` when using XHR

[2020-08-07 14:59] lordofflakes commented on #26293
I was able to fix this issue using react-native-keyboard-aware-scrollview module instead of using the whole NativeBase library.

[2020-08-07 15:31] Derewith opened #29587 "Could not connect to development server"
Hello there,
i can't understand why the MetroBundler it's not working.

## Description
As soon as i start the app, it throws me this error that won't let me connect to my metro bundler. I checked everything, from the port 8081 status and i don't understand why.
Via the simulator it's working, but with my real device it's not.
_I have an iPhone XR with iOS 13.6_
## React Native version:
[code]
## S

[2020-08-07 16:13] younisabuzayed opened #29588 "Error in React Native with Jest & Style and Dimensions"
I have problem in React Native Jest Testing . Jest not accept Style and Dimensions in React Native.
Error
` FAIL  __tests__/HomeScreen-test.js
  ● Test suite failed to run

    Invariant Violation: __fbBatchedBridgeConfig is not set, cannot invoke native modules

      3 | import { Colors } from './Colors';
      4 | import Fonts from '../../../assets/fonts/Fonts';

        |

[2020-08-07 16:19] Mhde96 commented on #28551
how to update FLIPPER

[2020-08-07 16:27] MahmudHasanMenon opened #29589 "Upgrading to 0.63.1 version android app is lagging"
I have recently upgraded my react-native project from 0.59 version to 0.63.1(latest) version. I have disabled hermes engine and configure everything as documented. My app is working fine on iOS but in android my app is performing slow. every UI event such as touch, navigation take 2s-3s delay on release build than before and lagging. Is there anyone who has faced same kind of issue? How you have s

[2020-08-07 16:31] safaiyeh commented on #28336
Hi @jinhale would this section of the docs help you out? https://reactnative.dev/docs/images.html#images-from-hybrid-apps-resources

[2020-08-07 16:35] safaiyeh commented on #28480
Hi @PiPauwels & @mgoral2
Could you run `npx react-native doctor` on your project's root to identify problems with your environment?

[2020-08-07 16:38] safaiyeh commented on #28552
Closing as the issue is a iOS Simulator bug rather a bug with React Native.

[2020-08-07 16:38] #28552 closed

[2020-08-07 20:12] chrisglein commented on #29491
I'm not positive what the expectation is. The [documentation for `height`](https://reactnative.dev/docs/layout-props#height) implies it should behave like CSS. But if you look at react-native-web in [that Snack](https://snack.expo.io/FbQZQbcVO)... it doesn't display the un-heighted items at all (behaving differently from iOS and Android). And if I put together the CSS equivalent of what I think th

[2020-08-07 20:19] Calls4ever commented on #25244
same problem looks like no body is fixing this problem

[2020-08-07 23:54] jonthanon opened #29590 "CC_MD5 is deprecated (in addition to being broken)"
## Description
`CC_MD5` is used in `RCTUtils`' function `RCTMD5Hash(NSString *string)` ([here](https://github.com/facebook/react-native/blob/36b586ada1b6110d82bf2b1f3e8c612b43c2bb6a/React/Base/RCTUtils.m#L224)), which is used in `RCTAsyncLocalStorage.mm` and `RNCAsyncStorage.m` to get a file name. My company's security team has requested we remove all use of MD5, **regardless of whether it's used

[2020-08-08 01:25] evelant opened #29591 "Document or remove depenence upon exact sync of Date/Time between emulator and debugger"
When running the Android Studio emulator to develop a react-native app the system time and the emulator time must be _exactly_ in sync to the second. If they are not in sync many things go wrong and the development and debugging experience become nearly impossible.

Recommendations:
1. Documenting the dependence upon exact sync of system time when developing in the Android Studio emulator.
2. If p

[2020-08-08 01:55] safaiyeh commented on #29591
Hi @AndrewMorsillo thanks for issue! This is an interesting problem, could you expand more on

Could provide exact examples where this occurs? You mentioned animations, are animations using the host time instead of the emulator for calculations?

[2020-08-08 02:50] safaiyeh commented on #29274
@swapnilgadilkar Could you create an issue at https://github.com/react-native-community/async-storage

[2020-08-08 02:50] #29274 closed

[2020-08-08 02:52] safaiyeh commented on #29067
Closing as UIWebView was removed from core.

[2020-08-08 02:52] #29067 closed

[2020-08-08 02:56] #28788 closed

[2020-08-08 02:57] safaiyeh commented on #28964
Hi @ntachev thanks for the issue! Been a while since you reported this.

Can you confirm this happens on the latest RN version and provide a Snack that demonstrates this.

[2020-08-08 03:02] safaiyeh commented on #29486
Closing as this is an environment issue not related to React Native.

[2020-08-08 03:02] #29486 closed

[2020-08-08 03:03] #29482 closed

[2020-08-08 03:07] safaiyeh commented on #29587
Hi @Derewith is your physical device on the same network as where the metro server is running?

[2020-08-08 03:11] safaiyeh commented on #29388
Hi @martinop as @therealansh mentioned, the error thrown is a syntax issue in your XML.

[2020-08-08 03:11] #29388 closed

[2020-08-08 03:19] safaiyeh commented on #29503
Please open an issue with https://github.com/react-native-community/react-native-webview

[2020-08-08 03:19] #29503 closed

[2020-08-08 03:23] safaiyeh commented on #29485
Closing as it was fixed with https://github.com/facebook/react-native/pull/29074

[2020-08-08 03:23] #29485 closed

[2020-08-08 04:03] safaiyeh commented on #29590
Hi @jonthanon some history for this.

RCTAsyncLocalStorage eventually became the community module async-storage as part of the Lean Core efforts; however, the module stayed in React Native core as Facebook has a dependency on it and needs to migrate out of it internally.
cc @cpojer for updates on that.

There are two options that could be taken
• Migrate out of the `CC_MD5` deprecation
• Maintain

[2020-08-08 04:16] mariod3w commented on #27250
Thanks!
I was all day trying to solve this problem, you saved me.

[2020-08-08 07:04] misterngng opened #29592 "I can't run the template project"
I want to run the template project.but the project run failed.

## Description
I try to run the template project,but，it report this error.

**Execution failed for task':app:processDebugResources'**

in version 0.63.2

I check this  "$rootDir/../node_modules/react-native"  folder .Found no ‘android’ folder

I can find the ‘android’ folder in other versions

## React Native version:
 version 0.63.2

[2020-08-08 07:34] #29592 closed

[2020-08-08 07:38] #28790 closed

[2020-08-08 07:38] #28771 closed

[2020-08-08 07:38] #28466 closed

[2020-08-08 07:38] #28207 closed

[2020-08-08 07:38] #28757 closed

[2020-08-08 07:38] #28734 closed

[2020-08-08 07:38] #28786 closed

[2020-08-08 07:38] #28782 closed

[2020-08-08 07:38] #27925 closed

[2020-08-08 07:38] #27936 closed

[2020-08-08 07:38] #27961 closed

[2020-08-08 07:38] #27949 closed

[2020-08-08 07:38] #28787 closed

[2020-08-08 08:20] jpyne17 commented on #18911
@stale very much not fixed 😘

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-08-08 08:26] Derewith commented on #29587
Yeah it is on the same network

[2020-08-08 08:37] #27966 closed

[2020-08-08 08:37] #28744 closed

[2020-08-08 08:37] #28680 closed

[2020-08-08 08:37] #28689 closed

[2020-08-08 08:37] #28753 closed

[2020-08-08 08:55] arasrezaei commented on #29267
Does anyone even watched this issue?
🤔🤔

[2020-08-08 09:37] #28813 closed

[2020-08-08 09:37] #28812 closed

[2020-08-08 09:37] #28815 closed

[2020-08-08 09:37] #28814 closed

[2020-08-08 09:46] Elias-Graf commented on #28250
@safaiyeh I stated what I do for -1 in the issue itself. Was this your question?

[2020-08-08 13:07] AndrewMorsillo commented on #29591
@safaiyeh I don’t know exactly how or why react-native depends on exact time sync with the emulator. I only know that when time is out of sync a bunch of strange things start to happen. Here’s some of what I’ve experienced:

## When time is out of sync by a few seconds
Development is very difficult
1. App runs very slowly in general, interactions (touches) take significant time (500ms-2s) to respo

[2020-08-08 13:54] jjd314 commented on #26687
In our case, there was a bug in a function that was being called at the global level in a module, i.e., at module load time.  We had something like this in foo.js:
[code]
and then in bar.js we had something like this:
[code]
i.e., called foo() at the top level of the module but without the final argument.  I doubt it was specific to this particular bug, but the crash at module load time was probab

[2020-08-08 14:28] DmytroT commented on #20398
The issue has not been fixed. It looks like guys just ignore that.

[2020-08-08 16:30] cristianoccazinsp commented on #25593
@react-native-bot reopen please. This is still happening with 0.63.x

[2020-08-08 16:32] cristianoccazinsp commented on #26237
Property still valid on RN 0.63.x.  Any thoughts about keeping this and removing the deprecated label?  This can be very convenient sometimes.

[2020-08-08 17:03] ScottPierce commented on #28846
This issue hasn't been fixed, and yes, it needs to be.

[2020-08-08 17:35] Abdullah-Shamhan opened #29593 "Textinput dose not auto switch text direction RTL & LTR on ios"
Textinput doesn't change input direction based on keyboard language, instead it's based on system language..
It works fine on android ,the issue is on IOS only.

## Expected Results
Auto switch writing direction between RTL and LTR

react native 0.62.2

[2020-08-08 17:36] Abdullah-Shamhan commented on #28494
Did you manage to fix it?

[2020-08-08 17:37] #28773 closed

[2020-08-08 18:18] jcczmetal commented on #29301
Hey, I had the same issue. Here is my solution:

- If you are running npx react-native start, just stop it.
- Run npm outdated
- Updated in package.json the Wanted versions. Her is my configuration: ```"devDependencies": { "@babel/core": "^7.11.1", "@babel/runtime": "^7.11.2", "@react-native-community/eslint-config": "^1.1.0", "babel-jest": "^25.5.1", "eslint": "^6.8.0", "jest": "^25.5.4", "metro"

[2020-08-08 18:53] safaiyeh commented on #29578
Hi @suwu150 thanks for the issue. Can you provide a repro that consistently throws the error? My hunch is some outdated dependencies as @riadhriadh mentioned.

[2020-08-08 18:58] safaiyeh commented on #29217
Hi @shivo-ham could you follow the issue template? Thanks.

[2020-08-08 18:59] safaiyeh commented on #29151
Hi @CuiBenyong could you follow the issue template, thanks!

[2020-08-08 19:01] safaiyeh commented on #29164
Hello @AMINDRH91 could you follow the issue template? It will help understand your issue better.

[2020-08-08 19:02] safaiyeh commented on #29130
Hi @zhangyang520 you can run `npx react-native doctor` on the root of your RN project to check for environment issues.

For future, environment issues Stack Overflow would be the more appropriate place to ask this. Thanks!

[2020-08-08 19:03] #29130 closed

[2020-08-08 19:05] safaiyeh commented on #29404
Hi @JonsonHI could you fill out all the sections on the issue template and provide a repro?

Also, what device & OS version is the issue happening on?

[2020-08-08 19:06] safaiyeh commented on #29410
Hi @rajprakash00 you should file expo related issues on their repo https://github.com/expo/expo

Thanks!

[2020-08-08 19:06] #29410 closed

[2020-08-08 19:13] safaiyeh commented on #27997
@TheSavior Does HostComponent still need appropriate types?

[2020-08-08 20:11] dzoba commented on #28423
I am running into this issue as well and, like @curiousdustin , am really curious of the underlying cause.  I'm not sure where to start looking for what is broken.  The stack trace is minified code on top of minified code.

[2020-08-08 21:01] hsource commented on #28298
As of the latest master ~1 week ago, this is still an issue. Perhaps updating `folly` will fix it?

[2020-08-08 21:26] paddlefish commented on #29364
For those encountering this issue, I think I found a fix and have submitted a PR: https://github.com/facebook/react-native/pull/29595  The minimal line is to initialize `requestToken` by addint `= ^{};` to `sendRequest:withDelegate:` in RCTImageLoader.mm on line 1044 approximately.

[2020-08-09 02:04] levantAJ commented on #29344
I'm getting the same issue while integrating React Native to Swift project

[code]

[2020-08-09 03:37] #28818 closed

[2020-08-09 05:58] Dellybro opened #29596 "TextInput on focus - Maximum call stack size exceeded"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

Upon focusing on a text field i get a "Maximum call stack  size exceeded", this only happens when __DEV__ = true

The call stack is calling "isValidArgument" an infinite amount of times, when i follow it the function seems only to run when __DEV__ is true.

## React Native vers

[2020-08-09 06:21] TheSavior commented on #27997
I think this is resolved. Thanks for flagging!

[2020-08-09 06:22] #27997 closed

[2020-08-09 06:59] ShivamJoker commented on #27658
Thanks @fabriziobertoglio1987 I have tested your changes and it works perfect, hope they merge this soon

[2020-08-09 07:37] mstrk commented on #28551
I'm having this issue, started on RN63+ and I do not have flipper. Flipper is completely uninstalled.

[2020-08-09 07:39] cpojer commented on #29590
Unfortunately we haven't gotten around to cleaning up the repo yet. How did the open source version of async storage deal with the same issue? Can we backport the fix for now?

[2020-08-09 07:57] Anahita-Fakhravar opened #29597 "TextInput does not get fontSize and fontFamily styles when set a value for defaultValue prop"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When I set a text for defaultValue or value props in textInput it does not get fontFamily and fontSize styles.

## System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
    Memory: 1.72 GB / 7.88 GB
  Binaries:
    Node: 12.8.1 - C:\Prog

[2020-08-09 10:00] ilogico commented on #22747
It's not fixed.

[2020-08-09 11:10] hiep294 opened #29598 "Use useMemo in FlatList item, nested component of item is still rendered"
I get a problem with FlatList in React Native
[code]
![Screenshot from 2020-08-09 18-01-47](https://user-images.githubusercontent.com/46871089/89730617-815d8600-da6a-11ea-821c-89dbcab74c19.png)

When press buttons to delete a todo, or add a random number to title, the NestedTodo of all Todo components are rendered at all. Whether it is a bug or not, and how to avoid that. I just would like to rend

[2020-08-09 11:56] #29542 closed

[2020-08-09 12:22] co-de commented on #29596
I experience the same thing. When I deploy me react-native app to my phone in "debug" mode I see this error. If I deploy the app in release mode the error disappears.

**react-native info**
[code]

[2020-08-09 13:00] putupadang commented on #28448
thankyou, my problem is using ### fontWeight

[2020-08-09 13:06] putupadang commented on #28448
thankyou sir @lauriharpf , my problem is using fontWeight

[2020-08-09 15:28] juniorhc commented on #26687
0

Ok guys, here we are my solution for this issue:

- npm install native-base@latest -g
- npm install react-native@latest -g
- change package.json for these dependencies
- delete node_modules and npm install

Open it Xcode and Build/Run from scratch

I hope it helped

[2020-08-09 17:48] CTOverton commented on #28639
@cHaLkdusT I'm also still having this issue in react-native 0.63.2. All I have is another
[code]
That when accessed from inside the listener at
[code]
It is always the same value even when updated previously

[2020-08-09 18:25] #28810 closed

[2020-08-09 18:56] Suresh-R-S commented on #26331
I was facing this issue in debug mode, and the problem was with NSAppTransportSecurity -> NSAllowsArbitraryLoads
https://medium.com/@rssuresh2/react-native-ios-debug-mode-no-bundle-url-present-22f1e2728fbe

[2020-08-09 23:30] Asinox commented on #28844
Please just clear your react native project...

[2020-08-09 23:50] ShumGG opened #29600 "How to insert img between strings?"
Hi, I'm new in react-native and I'm making a small notebloc to get started, the problem now is that I want to allow the user add an img while writing and then jump to the next line and continue to write, something like this:

![LywV0](https://user-images.githubusercontent.com/64358196/89744065-e4d3cc00-dadb-11ea-8c25-f8bb53ffb3d7.png)

For that I have this structure for now :

[code]
The result is

[2020-08-10 00:10] aklinker1 commented on #26985
I was able to get this resolved by rewriting our `AppDelagate.m` and `AppDelagate.h` from scratch.

Used the react native upgrade helper to see what those files looks like for a new project, copied that in, and the went though all our native libs that had modified those files (RNN, firebase, and app auth) to set them back up.

By the time that I finished, there was about a 30 line difference. At s

[2020-08-10 02:25] #28826 closed

[2020-08-10 02:56] ForU commented on #29559
Yeah, `<View><Image/></View>` works well.

[2020-08-10 03:09] stackia commented on #29313
Closed in favor of https://github.com/facebook/react-native/issues/29376

[2020-08-10 03:09] #29313 closed

[2020-08-10 03:23] todorone commented on #29575
@T00rk It was npm registry outage, now it works correctly...

[2020-08-10 04:08] ASCII128514 commented on #29232
Same issue here, even it was fixed according to https://github.com/facebook/react-native/issues/7546#issuecomment-246342692 , I am using react-native 0.63.2, line height of the first line of the ttf font I am using differs from all the other liens. And it is only on Android. I tested on Pixel 2 API R.
![screenShot](https://user-images.githubusercontent.com/42830965/89751182-9afddc80-db01-11ea-8a9f

[2020-08-10 04:46] crystalwm commented on #26331
network proxy issue. it helps me

[2020-08-10 05:04] asafda commented on #26985
@aklinker1 do you mind sharing your `AppDelegate.m` before and after?

[2020-08-10 06:04] MayheMatan commented on #28103
can i give appContainer a try too?

[2020-08-10 06:06] Smanchanda2 commented on #26165
I'm also getting the same error. Please help me

[2020-08-10 06:49] sarath-pits commented on #29008
Hi,
Do you had any solution on this ?
I am also facing the same issue .

[2020-08-10 07:09] Smanchanda2 commented on #26165
Please help me as soon as possible.

[2020-08-10 07:14] engrrbilal commented on #26245
It's worked for me

[2020-08-10 07:21] #29426 closed

[2020-08-10 07:23] whalemare commented on #26813
I have created new issue that's relevant to my case
https://github.com/facebook/react-native/issues/29548

[2020-08-10 08:10] barunprasad commented on #29364
Started facing this issue when we upgraded our RN project from 0.61.5 to 0.63.2. Hoping to get this issue resolved soon as this is a blocker.

[2020-08-10 08:47] vickypathak123 opened #29601 "Background process not work after app closed or kill from background or foregorund"
react: 16.9.0 => 16.9.0
react-native: 0.61.4 => 0.61.4

For IOS :--

I'm use many library for Run background processing.

I'm create notification reminder features in my app.

like if i'm select 02:00 pm to 03:00 pm and 10 notification come in this time period but when app closed or remove from background and foreground notification not work properly.

Please message if any one know the solution.

[2020-08-10 09:45] jdegger commented on #29587
Might be related to https://github.com/facebook/react-native/issues/29433 which is also unresolved

[2020-08-10 11:21] nhohb commented on #28557
Same issue on iOS when offline mode

[2020-08-10 11:26] Paul0523 commented on #29526
I have the same problem, ios is ok, but android is 0 every time.
info Fetching system and libraries information...
System:
    OS: macOS 10.15.5
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 16.62 GB / 64.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.18.1 - /var/folders/6b/c9q49jl5153c1rfkbr9p2mh40000gn/T/yarn--1597058736211-0.3680143605781827/node
    Yarn: 1

[2020-08-10 11:28] VictorioMolina commented on #29526
I think the only way to go on for now is using the function I wrote on the Stack Overflow thread

[2020-08-10 11:44] mrousavy commented on #25537
@SudoPlz I've changed my `targetSdkVersion` to 28 and cleaned the build folder but I'm still getting the error..

[2020-08-10 12:39] divyanshunegi opened #29602 "[Android] Images from device local storage are not rendering.(In some devices)"
## Description
When I try to show a image from local storage using
<Image source={{ uri: 'file:///path' }} style={{width:100, height:100}} resizeMethod='resize' />
it is working fine in IOS but in case of android, in some devices the images are not showing at all, the view is taking the space in the view but no image is visible. devices In which it did not work OnePlus 5T and Google Pixel.

## Rea

[2020-08-10 13:15] Danik711 opened #29603 "Augmented Reality in React-Native"
My react-native version is 0.61.5

Hello everyone,
It is not a bug report. It is a question to professional developers at react-native. My react-native application needs augmented reality in it to develop complex games. I tried using viro-react, if you know this package. Developers of viro-react gave up on the package:
   1) Not supported on IOS anymore
   2) Documentation for some components is m

[2020-08-10 13:30] levitomer commented on #28844
Same here, I guess we will just need to live with that.. :/

[2020-08-10 13:50] SudoPlz commented on #25537
@mrousavy my solution only resolves the crash that happens because of  [execute-only-memory](https://source.android.com/devices/tech/debug/native-crash#xom) (introduced in api 29).

Not sure what the problem may be on your end.

[2020-08-10 13:56] draperunner commented on #29598
All your callback functions are redefined on every render because you are inlining them. You should check out [`useCallback`](https://reactjs.org/docs/hooks-reference.html#usecallback) which lets you memoize functions. The problem here is that all the `<Todo />` components receive new `onDel` and `onAddRandomNumberToTitle` props every render, even though you should think they were the same. You sh

[2020-08-10 13:57] waheedakhtar694 commented on #29517
@SudoPlz I don't have logs rights now but maybe this error will help.

<img width="279" alt="Screenshot 2020-08-10 at 6 53 45 PM" src="https://user-images.githubusercontent.com/45425486/89790322-319abf80-db3b-11ea-9272-3dd717eefc56.png">

[2020-08-10 13:58] SudoPlz commented on #29517
@waheedakhtar694 Nah, this is too generic, you definitely need logs man.

[2020-08-10 14:08] mrousavy opened #29604 "Cannot run app on Android at all - UnsatisfiedLinkError: dlopen failed: library "libjsc.so" not found"
## Description

When running on Android I get the following error: `java.lang.UnsatisfiedLinkError: dlopen failed: library "libjsc.so" not found`.

Here's my Logcat output:

[code]

Some lines after that, the React Context fails to initialize (I'm guessing that's related?):

[code]

## React Native version:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

[2020-08-10 14:16] mrousavy commented on #29604
I'm also seeing this error:

[code]

[2020-08-10 14:40] waheedakhtar694 commented on #29517
@SudoPlz Here is the log.

2020-08-10 19:39:01.041291+0500 Wefiq[96867:136828492] [javascript] 'Native Error', 'Signal 11 was raised.\n(null)'
2020-08-10 19:39:06.039106+0500 Wefiq[96867:136828431] RELEASING LOCKED RN EXCEPTION HANDLER

[2020-08-10 14:51] suwu150 commented on #29578
Sorry, I upgraded the NPM library from 3.2.0 to    "@ant-design/react-native": "4.0.0", which solved the problem

[2020-08-10 14:52] suwu150 commented on #29578
I think this issue can be closed!

[2020-08-10 14:54] SudoPlz commented on #29517
This looks like a totally separate issue.
Also it feels that there's more info to this. Are you using this by any chance: https://sourceapp.tgdd.vn/appplugins/react-native-exception-handler/-/blob/master/ios/ReactNativeExceptionHandler.m#L100 ?
I'd start by adding a breakpoint there, checking how that code works and see if I can find more info about the crash there.

[2020-08-10 14:58] Emidomenge commented on #28844
Everything was working fine on my project until this error appears and now, I'm stuck like all of you :thinking:

[2020-08-10 15:03] waheedakhtar694 commented on #29517
Yes, I am using this exception handler to the caught the exception because if I don't use this, the app just crashed immediately.

here is an image of the logs from my Xcode, before that crash everything was normal

<img width="474" alt="Screenshot 2020-08-10 at 7 58 23 PM" src="https://user-images.githubusercontent.com/45425486/89797136-fe106300-db43-11ea-9628-68f846a3ccb1.png">

[2020-08-10 15:04] safaiyeh commented on #29578
@suwu150 glad you figured it out!

[2020-08-10 15:05] SudoPlz commented on #29517
I think you need to open a new ticket on their page, your issue is not related to the one above.

[2020-08-10 15:09] waheedakhtar694 commented on #29517
So you are thinking it's more related to the exception handler, not with RN?

[2020-08-10 15:21] riadhriadh commented on #29600
one must use  flexDirection
https://reactnative.dev/docs/flexbox

[2020-08-10 15:22] SudoPlz commented on #29517
It could be related to the exception handler, or it could be a low memory situation, or there's more to that error than what your current stacktrace reveal.

11 SIGSEGVs are SUPER generic and always a huge pain to track, so you need to play and see if there's any other info you can retrieve. Worst case scenario start removing code and see if you can track which part of your code leads to that cras

[2020-08-10 15:23] mrousavy commented on #29604
Apparently this has to do with the bundle not being created on debug? Will investigate further, but I can tell that Hermes and JSC both won't work.

[2020-08-10 15:27] waheedakhtar694 commented on #29517
Yeah, I am trying to generate this issue by disabling other things and I have disabled the exception handler and trying to generate this issue, I will let you know if I found more information about this

[2020-08-10 15:41] rebekahshaw92 opened #29605 "yogakit/yogakit.modulemap' not found React Native"
## Description
I create a new app using react native. When I try to run the app within an iOS emulator using Xcode I get the following error and the app doesn't run.

fatal error: module map file '/Users/rebekah/Library/Developer/Xcode/DerivedData/example-feduelzeswwgfqdrghxcxxfxavuz/Build/Products/Debug-iphonesimulator/YogaKit/YogaKit.modulemap' not found

I have tried to google this but have bee

[2020-08-10 15:49] CDAracena commented on #29364
Facing this issue after upgrading RN to 0.63.2

[2020-08-10 16:07] mrousavy opened #29606 "Metro bundler not working at all"
## Description
The Metro bundler apparently does not work at all in the newest react native version (0.63). I've spent almost 5 hours debugging this now.

[code]

<img src="https://user-images.githubusercontent.com/15199031/89804296-458ef300-db34-11ea-8379-583ed2a4c4a8.png" width="50%">

## React Native version:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the iss

[2020-08-10 16:26] mrousavy commented on #29301
I'm still experiencing this problem. No clean or install helped!

[2020-08-10 16:39] aklinker1 commented on #26985
Sure thing! This is before and after the fixes **for RN 60**, but this also worked when we did similar re-writes for RN 62. The main thing to notice is how different the RNN and Firebase setups are.

I would also recommend making these changes in XCode, you'll get errors and warnings in real time.

##### `AppDelegate.m` Before

<details>

[code]

</details>

##### `AppDelegate.m` After

<details>

[2020-08-10 16:45] #29578 closed

[2020-08-10 17:02] agusvazquez commented on #29138
Hello! I am having the same behavior with 0.63.2 when the app starts. It's just random, sometimes it works fine and other times it doesn't.

[2020-08-10 17:07] safciplak commented on #25244
is it works?

[2020-08-10 18:11] scobo opened #29608 "Network requests silently fail in Android since v0.63.0"
## Description
None of the network examples work in Android since v0.63.0; iOS is unaffected. Confirmed this is still an issue in v0.63.1 and v0.63.2 (the latest as of this report). Failures are silent and simply result in no data being returned to the view.

Since this is an issue with the network APIs, this affects all libraries that rely on those APIs, e.g., Apollo.

## React Native version:
[c

[2020-08-10 18:40] rajeshsmallarc commented on #29008
@sarath-pits After searching everywhere in web I was unable to find a solution. Then I formatted my system. Installed OS again. Now everything working fine.

[2020-08-10 20:09] scobo commented on #29608
Fixed Snack link: [https://snack.expo.io/2HgnLjyI_](https://snack.expo.io/2HgnLjyI_)

[2020-08-10 20:11] akhan118 commented on #25244
android/gradle.properties

Add this

FLIPPER_VERSION=0.50.0

[2020-08-10 20:12] tsdmrfth commented on #26892
I have merged solutions of @thomasttvo and @lrholmes and it has worked now. 💯

[2020-08-10 20:13] ssuchanowski commented on #29364
There are workarounds in this thread (eg. reverting https://github.com/facebook/react-native/commit/31980094107ed37f8de70972dbcc319cc9a26339#diff-9a034658197479288c4d346a0eb4d98c by using `patch-package`). It takes like 5 minutes to do this so for everybody with this issue please do that and let's monitor what the team is doing.

For sure if it's gonna be fixed in the next version someone will men

[2020-08-10 20:28] eliasjnior commented on #29387
I also have the same problem. I'm running with Expo, also with Xiaomi devices something overrides my styles with Styled Components. Even the splash screen, that's an white SVG, is replaced by a black SVG.

[2020-08-10 20:33] eliasjnior commented on #27876
Probably related to #29387

[2020-08-10 21:38] troubleshootdev opened #29611 "Keyboard only accepts 1 letter at a time"
## Description
[https://media2.giphy.com/media/JqE49ekO0ftB7SFYSa/giphy.gif](url)
It exits the keyboard after 1 character is pressed.

## React Native version:
info Fetching system and libraries information...
System:
    OS: macOS 10.15.5
    CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Memory: 19.68 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.0 - /usr/loc

[2020-08-10 21:45] wmonecke commented on #25646
This same error is happening to me on Android Devices running Android 10 (Pixel 4, for example).
Will test @jsaraiva solution tomorrow to see if it helps!

[2020-08-10 22:53] safaiyeh commented on #29590
@cpojer It looks like async-storage also depends on the RCTMD5Hash as well https://github.com/react-native-community/async-storage/blob/af2664e5334175a180d71e22fe10e184904d63ff/ios/RNCAsyncStorage.m#L365

I'll file an issue with them and that should be back ported to core.

[2020-08-10 23:56] scobo commented on #29608
With further testing, it seems v0.62.x releases do not work with iOS. Had to downgrade to v0.61.5 to get a release where the network examples work for both platforms.

[2020-08-11 02:08] Paul0523 commented on #29526
I use it but still not work, I found the problem is parentNode measure always return undefined. I tried many ways, but still can not find reason.
![image](https://user-images.githubusercontent.com/11917690/89848970-14f19c80-dbba-11ea-9625-ca971ad8b4a5.png)
![image](https://user-images.githubusercontent.com/11917690/89848985-2175f500-dbba-11ea-8184-b68997e84ed8.png)
Just like picture, the focusTabR

[2020-08-11 02:31] safaiyeh commented on #29608
Hi @scobo thanks for the issue.

I checked out the example and tested it out locally. I did not see the same issue you are experiencing.

Could you provide a repo?

<img width="1051" alt="Screen Shot 2020-08-10 at 7 29 43 PM" src="https://user-images.githubusercontent.com/8675043/89850827-e7680d00-db3f-11ea-9a72-3e0e42b7f300.png">

[2020-08-11 02:34] safaiyeh commented on #29606
Hi @mrousavy thanks for the issue. I have had no issues building the application.

Couple things you can try:
• Delete your package-lock.json or yarn.lock file and reinstalling your dependencies.
• Run `npx react-native doctor` to diagnose environment issues

If these do not resolve your issue, could you provide a repo that demonstrates the error?

[2020-08-11 02:38] VictorioMolina commented on #29526
@Paul0523 did you use it correctly? I did something really similar few weeks ago and worked fine on my Samsung. Just make a ref to the parent view of the child red too, and call the function of StackOverflow. This has to work because this function substracts the pageX/Y of the child to the pageX/Y of the parent, and pageX/Y are not undefined on Android.

Hope you solve your issue!

[2020-08-11 02:39] VictorioMolina commented on #29526
https://stackoverflow.com/questions/63151197/react-native-get-position-of-element-relative-to-parent?noredirect=1#comment111685819_63151197 use the method of my answer.

[2020-08-11 03:05] Paul0523 commented on #29526
Ok, may be there are some other problems, I will keep trying to solve it.
![image](https://user-images.githubusercontent.com/11917690/89852473-808b3800-dbc1-11ea-9a28-0c54a71766d0.png)
By the way I found android always return 0. 😂

[2020-08-11 03:24] GwFreak01 commented on #28503
I gotta bump up this issue because it seems like many other people having the same issue including me.

[YogaKit Missing](https://www.gitmemory.com/issue/facebook/react-native/28503/614092615)
#29605
[YogaKi Stackoverflow 1](https://stackoverflow.com/questions/63342540/yogakit-yogakit-modulemap-not-found-react-native)
[YogaKi Stackoverflow 2](https://stackoverflow.com/questions/63261150/yogakit-mo

[2020-08-11 04:43] Paul0523 opened #29612 "ref.measure can not get args in js when android code return correctly"
![image](https://user-images.githubusercontent.com/11917690/89857621-2c875000-dbcf-11ea-8797-4830c7e41ab9.png)
![image](https://user-images.githubusercontent.com/11917690/89857814-a8819800-dbcf-11ea-832f-b61854f957d1.png)
Just like picture, js code is undefined, but android code is normal.
Js code is just like it in chrome console
My environment is
info Fetching system and libraries information...

[2020-08-11 06:24] Andy-ZYA opened #29614 "KeyboardAvoidingView mistakingly adds white space on screen bottom after being untangled"
## [Description]
I wrapped a view as a footer inside KeyboardAvoidingView. It works properly before the keyboard has been untoggled. However, after the keyboard is untoggled, it adds a white space on the bottom of the screen. The height of the white space is as big as the keyboardVerticalOffset. This white space shouldn't exist.

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (8)

[2020-08-11 07:06] jannomeister opened #29615 "Highlight specific text in TextInput"
Is there a way to highlight a specific text inside a textInput?

[2020-08-11 07:14] riadhriadh commented on #29602
no you have to use base64 format

[2020-08-11 07:16] riadhriadh commented on #29601
use firebase cloud messaging

[2020-08-11 07:17] LixingY opened #29616 "Unable to find module for UIManager"
Unable to find module for UIManager
Run this error
RN 0.62.2

[2020-08-11 07:20] riadhriadh commented on #29587
checked info.plist

[2020-08-11 07:23] riadhriadh commented on #29615
change background  textInput or add style for border

[2020-08-11 07:28] LixingY commented on #29616
System:
    CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
SDKs:
    iOS SDK:
      Platforms: iOS 13.6, DriverKit 19.0, macOS 10.15, tvOS 13.4, watchOS 6.2
Binaries:
    Node: 14.6.0 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.7 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman

[2020-08-11 07:29] LixingY commented on #29616
System:
CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
SDKs:
iOS SDK:
Platforms: iOS 13.6, DriverKit 19.0, macOS 10.15, tvOS 13.4, watchOS 6.2
Binaries:
Node: 14.6.0
Yarn: 1.22.4
npm: 6.14.7
Watchman: 4.9.0

[2020-08-11 07:31] Derewith commented on #29587
@riadhriadh what do you mean?

[2020-08-11 07:34] riadhriadh commented on #29587
@Derewith cheked
this issues https://stackoverflow.com/questions/38501012/is-it-safe-to-add-localhost-to-app-transport-security-ats-nsexceptiondomains

[2020-08-11 07:37] rikikuswo commented on #26575
Hello,
npm install -g expo-cli --force

works for me too..

Thank you

[2020-08-11 07:42] Derewith commented on #29587
<img width="282" alt="Schermata 2020-08-11 alle 09 42 00" src="https://user-images.githubusercontent.com/2650542/89870980-f76f0380-dbb6-11ea-9069-d761e2bfaa60.png">
@riadhriadh this is my info.plist and i think it's everything okay with it..

[2020-08-11 08:03] thehanimo commented on #27253
Is this issue fixed? Unable to reproduce it on the latest commit (c03b7dd).

[2020-08-11 08:09] mrousavy commented on #29606
@safaiyeh I installed metro-config 0.58 as a devDependency and suddenly it started working again. Took me a really long time to figure that one out, but it's because react-native doesn't take newer versions of metro-config so well.

[2020-08-11 08:10] riadhriadh commented on #29587
https://stackoverflow.com/questions/42064283/could-not-connect-to-react-native-development-server-on-android

[2020-08-11 08:39] Derewith commented on #29587
@riadhriadh i'm on iOS so i'cant test on android what's going on

[2020-08-11 08:47] Symous commented on #29432
@a1005342094  any progress here?

[2020-08-11 08:48] mrousavy commented on #26400
I'm on 0.63.2 and this issue is still not fixed for me! Cannot run the Android App in Debug or Release with Hermes enabled or disabled on my Emulator!

[2020-08-11 09:03] rebekahshaw92 commented on #29605
I have already come across this but it did not fix my problem

[2020-08-11 09:20] mrousavy commented on #27157
Also still having that problem on 0.63.2

[2020-08-11 09:21] mrousavy commented on #29616
Please give more information about your problem. Try running:

[code]

[2020-08-11 09:22] #29612 closed

[2020-08-11 09:22] czf123456 opened #29617 "Failed to launch emulator. Reason: No emulators found as an output of `emulator -list-avds`"
After I run the project flutter, running the react_native project won't connect to the simulator.
Failed to launch emulator. Reason: No emulators found as an output of `emulator -list-avds`
why?How to solve.

[2020-08-11 09:44] mrousavy opened #29618 "Android bundle not loading from metro-bundler server"
## Description

On Android I was suddenly unable to get the metro bundler server to work. I've been debugging this for the past 5 hours, and I couldn't find any cause for this issue. So my App won't start at all now.

Whenever I try to run the Android app (I've tried with all kinds of different settings, enabling/disabling Hermes, ABI splits, explicitly forcing an SoLoader version, stripping all k

[2020-08-11 09:59] mrousavy commented on #29618
When I try starting the Android App through commandline instead of Android studio (so running `npx react-native run-android`), the same thing happens. It just tries to start but immediately crashes when it tries to load the JS bundle/creating the React context.

![Screenshot 2020-08-11 at 11 57 09](https://user-images.githubusercontent.com/15199031/89884493-ed0a3500-dbc9-11ea-93c4-7925555eb851.png

[2020-08-11 10:14] 007arunwilson commented on #28404
Done this after a Gradle clean. (y)

[2020-08-11 10:21] #29605 closed

[2020-08-11 10:33] janeirojoaopedro commented on #28999
You did all the steps? My app dont open now...

[2020-08-11 11:59] #29611 closed

[2020-08-11 12:02] troubleshootdev opened #29619 "Keyboard keeps closing"
## Description
[https://media2.giphy.com/media/JqE49ekO0ftB7SFYSa/giphy.gif](url)
It exits the keyboard after 1 character is pressed.

## React Native version:
info Fetching system and libraries information...
System:
    OS: macOS 10.15.5
    CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Memory: 19.68 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.0 - /usr/loc

[2020-08-11 12:18] john1jan opened #29620 "App crashes in Samsung Galaxy J7 (SM-J700F) /system/lib/libart.so (art_quick_imt_conflict_trampoline+7)"
App crashes in Samsung Galaxy J7 (SM-J700F)

## React Native version:
System:
    OS: macOS Mojave 10.14.4
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 8.93 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 13.10.1 - /usr/local/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.14.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman

[2020-08-11 12:42] ahmaddehnavi commented on #29589
first, check the FPS (from developer menu)
if you have a lot of FPS drop then you can use some tools like `rn-snoopy` to find the issue.
in my case, it was related to some usage of react-native-animatable and I had 30 PFS drop all the time on android and when I disable that animation it came back to 60PFS. I don't know why it causes a lot of FPS drop even with native animation driver

[2020-08-11 12:43] ajitsing commented on #29315
This fix worked for me as well.

[2020-08-11 12:58] mrbrentkelly commented on #28970
Debugged this a bit today.

The `enqueueNativeCall` function in [MessageQueue.js](https://github.com/facebook/react-native/blob/master/Libraries/BatchedBridge/MessageQueue.js#L236) is getting called over and over by the `'send'` method from `WebSocketModule`. I'm not sure if this is expected or not?

If it is expected then we should perhaps suppress logging traffic from WebSocketModule by default

[2020-08-11 13:28] ravirajn22 commented on #12534
Actually what android does should not matter because react-native does not use any android layout system, they use flexbox implemented using yoga.

[2020-08-11 13:42] AE0011 opened #29621 "Metro bundler wont connect after implementing a native module in android"
## Description
I want to user this package https://github.com/FolioReader/FolioReader-Android in react native
I did that by help of this guide https://reactnative.dev/docs/native-modules-android
And got access to folioreader functions in js side but after i run project this error appears: (npm run android - debug mode)
![err](https://user-images.githubusercontent.com/37038198/89903887-77b85780-dbf

[2020-08-11 13:46] alina-beck commented on #27157
I have the same issue after upgrading from react-native 0.61.5 to 0.63.2.

- Debug mode works fine, when running `npx react-native run-android` and `yarn start` in a separate terminal window.
- Release build works fine, when running `npx react-native run-android --variant=Release`.
- Staging build installs without problems but crashes after splash screen, when running `npx react-native run-android

[2020-08-11 14:00] Sine99 commented on #13413
I had a mix of video contents, Webviews, and images as flatlist items. I found lag when I reached video or Webview content during the scroll. **Switched to V8** and scrolling is now smooth. Not facing any lag.

[2020-08-11 14:52] JH108 commented on #28503
I was getting this error when using `xcodebuild` to automate the build process. I found out my failing build command:

[code]

was missing `-workspace <AppName>.xcworkspace` to specify that I was trying to build the workspace and not the project. The complete command that was working for me is below.

[code]

[2020-08-11 15:24] maystrenkoYurii commented on #23693
+1 according to my observations related CutoutMode

[2020-08-11 15:58] muhammadwafa commented on #13413
@Sine99 , Could you please let me know, how you have switched to **v8**?

[2020-08-11 16:05] JPI22 commented on #26126
Hi. im experiencing also this type of crashes. any chance that in the meantime you managed to overcome this?

[2020-08-11 16:28] aforty commented on #25246
Jesus effing christ this took me way too long to find. It used to me Cmd+D on IOS was it not?! The devil in this whole thing is that Cmd+D still works sometimes and it's just so incredibly frustrating but Ctrl+Cmd+Z works every time. Thank you!

[2020-08-11 17:20] safaiyeh commented on #29606
@mrousavy Glad you found a solution!

Hm how could React Native improve using metro-config? What did you bump into that was difficult?

[2020-08-11 17:23] safaiyeh commented on #29620
Hi @john1jan we would need a bit more information about the crash. Could you provide a repro that demonstrates the issue you are having?

[2020-08-11 17:28] mrousavy commented on #29606
@safaiyeh tbh I didn't have any problems using metro so far other than a few cache errors. I got a huge problem right now tho, which I still couldn't resolve! On Android I can't manage to get my app running, it somehow fails to load the bundle and crashes :(

[2020-08-11 17:30] safaiyeh commented on #29498
Closing as empty template.

@madilraza if you still have a issue to file, please make another one with the template filled out. Thanks!

[2020-08-11 17:30] #29498 closed

[2020-08-11 17:34] safaiyeh commented on #29602
Hi @divyanshunegi thanks for the issue! Could you create a repro so it is easier to check out the issue?

You mentioned the community camera roll module, if you can confirm the URI they confirm is a valid link to an Image on the device and React Native core cannot render it?

Also, is this a possible solution?

[2020-08-11 17:36] safaiyeh commented on #29616
Closing as empty template.

@LixingY if you still have an issue to file, please file a new one with all fields in the template filled out. Thanks!

[2020-08-11 17:36] #29616 closed

[2020-08-11 18:33] chrisglein commented on #29621
Did you try any other native modules? Did all not work, or just this one?

[2020-08-11 18:50] chrisglein commented on #29619
Well that's extremely obnoxious to use :O

If you just extract that component out for a state-driven TextInput, it works fine. For example this:
[code]
Something is different about the way that's hosted that causes the keyboard to flip out. Trying to get this to min-repro... what is it that triggers that keyboard closing behavior?

Of note, that Snack doesn't load in Android because you're hosting

[2020-08-11 19:00] chrisglein commented on #29614
This looks similar to the sample for [KeyboardAvoidingView](https://reactnative.dev/docs/keyboardavoidingview). We're having trouble reproducing your snippet in a Snack. Mind helping refine this so we can get the repro? Have [this](https://snack.expo.io/@chrisglein/repro29614) so far, which more like the docs sample has the page content as well as the button inside the KeyboardAvoidingView.

[2020-08-11 19:16] safaiyeh commented on #29606
Closing! Thanks for the separate issue.

[2020-08-11 19:16] #29606 closed

[2020-08-11 19:20] safaiyeh commented on #27537
We have a few solutions here:

@falxcerebri

@2333Ge

Have these solved the issue you were having @ericdevries

[2020-08-11 19:23] Vasu1990 commented on #29496
I believe thumb rule is to have compileSdkVersion should be greater than or equal to the targetSdkVersion
Below is the setting I made for my App
    ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 16
        compileSdkVersion = 29
        targetSdkVersion = 29
        excludeAppGlideModule = true
    }

[2020-08-11 19:32] safaiyeh commented on #28341
Hi @NativeCoder25, thanks for the issue. I edited the code snippet you provided.

Let me know if this works out for you. It might be an issue with assigning refs. Also could you verify on the latest RN version?

[code]

[2020-08-11 19:34] safaiyeh commented on #28416
@jaroslav009 is this still an issue?

Could you provide a repro on the latest RN version? Otherwise, feel free to close.

[2020-08-11 19:37] safaiyeh commented on #28444
Hi @willnaoosmit I tired out your code snippet and I could not reproduce the issue in the video.

Could you make a repo we could clone to check it out? Make sure to use the latest React Native version. Thanks!

[2020-08-11 19:42] safaiyeh commented on #29591
Thank you for the extra details @AndrewMorsillo ! Tagged Issue Manager Attention for further discussion.

I found another case where the host & emulator timing messes up functionality:
https://github.com/facebook/react-native/issues/27008#issuecomment-592048282

[2020-08-11 19:44] safaiyeh commented on #28476
Hi @Sixzero than you for the issue!

Did this help solve your issue?

I'll close this issue as a dup of the issue filed above ^

[2020-08-11 21:32] troubleshootdev commented on #29619
You're right. My Register function in 'My app.js' had a wrapped component like
<Text><Register/></Text>.
I removed the <Text></Text> like you said and it fixed my keyboard issue for both iOS and Android! Thanks a lot!

[2020-08-11 21:32] #29619 closed

[2020-08-11 22:18] jpodpro commented on #28844
I have just discovered that this error disappears when i change my main App to a functional component instead of a class component.

[2020-08-12 00:10] jonthanon commented on #29590
@safaiyeh Awesome, thanks for the info. I'll move my questions to the new community thread.

[2020-08-12 00:48] AndrewMorsillo commented on #29591
@safaiyeh Thanks for getting this issue some attention. The Android emulator issues make development of react-native very painful sometimes (I know they're RN issues because I've also used Flutter on the Android emulator and it has zero issues). Here's a stack overflow post with some more relevant information: https://stackoverflow.com/questions/42142933/react-native-debugger-is-too-slow

[2020-08-12 00:59] AndrewMorsillo commented on #27008
This issue affects far more than just onPress. Set your clock to be slightly different than the device clock and observe things such as:

- `setInterval` will run in an infinite loop or other broken behavior
- Animation timing and delays will be off.
- Animations will lag and run past their stop times.
- Staggered animations will animate the first element to completion then animate the rest stagge

[2020-08-12 01:55] skyfx64 commented on #26696
I have exactly the same issue and currently fix it with RN 0.61.5, but when using 0.61.4 sometimes unstable.

[2020-08-12 02:05] AndrewMorsillo commented on #29591
I did some digging and seem to have made the issue significantly better by syncing the clock of the android emulator and system. Here's how:

- You must have root access. This means a "google-apis" emulator image not a "google-play" one
- Check the drift between your system and android clock with `echo "Host\t\t$(date +%Y-%m-%d_%H:%M:%S:%3N)" && echo "Emulator\t$(adb shell date +%Y-%m-%d_%H:%M:%S:

[2020-08-12 02:59] unpokolokko commented on #26418
solution by @tsehiuming solve my problem. i missed out
[code]

[2020-08-12 03:03] Andy-ZYA commented on #29614
Thanks for responding and creating this snack. I just tried [what you created](https://snack.expo.io/@chrisglein/repro29614). Try to add this prop
`keyboardVerticalOffset={100}`
to KeyboardAvoidingView and run it on iOS. You'll see how the button is pushed up after the keyboard gets toggled then dismissed. It works properly in Android.

[2020-08-12 03:09] jannomeister commented on #29615
@riadhriadh I mean, highlight specific in a text-input. Ex: textInput value: `hello world` I want to only applied the text color to `hello` only

[2020-08-12 03:43] hengkx commented on #17968
How to use kotlin?

[2020-08-12 04:34] rhaegar453 commented on #29314
Excellent . This solved the issue

[2020-08-12 06:56] edtorba commented on #26621
Hi @badeleux could you please more specific, and point out where those settings are actually located? Thanks!

[2020-08-12 07:04] AE0011 commented on #29621
@chrisglein

Yes I tested another random package and it worked without any problem.

Then I test versions 61, 62 and 63 of react native but I had same problem.

It is weird because I did the same in macbook and it works fine just only this problem happen in windows system

[2020-08-12 07:23] rohitEST opened #29624 "Fetching is slow suddenly in android only, working fine after killed application"
## Description
i am getting an issue in android version(not in iOS) while fetching data, getting proper response sometimes but suddenly data is unable to fetch for 2-4 minutes. Needs to kill the app and restart. Please help me with this, I already wasted 3-4 days.

## React Native version:
System:
    OS: Windows 10 10.0.18362
  Binaries:
    Node: 12.10.0 - C:\Program Files\nodejs\node.EXE
    Ya

[2020-08-12 07:28] riadhriadh commented on #29620
you been using : react-native-mapbox-gl

[2020-08-12 07:56] abdulghanitech commented on #28992
same issue on RN 0.62.2

[2020-08-12 08:12] AE0011 commented on #29621
running this repo failed at windows system but worked on mac
https://github.com/Shaaraan/react-native-folioreader
[code]

[2020-08-12 08:44] liliangzdh commented on #29414
watch this , is the same for me ,run on android emulator API 19。

I found use Button can Reproduce the problem。
<img width="547" alt="AE525236-4337-4C61-A640-4470BA52A8E3" src="https://user-images.githubusercontent.com/16744633/89994606-f3c4a500-dcba-11ea-807b-ad6a1841acef.png">
<img width="615" alt="5D50D6AF97E0BA5D53F070E19939AE40" src="https://user-images.githubusercontent.com/16744633/89994616

[2020-08-12 10:02] riadhriadh opened #29625 "Android TextInput auto Dismiss Keyboard ( release )"
Android TextInput auto Dismiss Keyboard

System:
OS: macOS 10.15.3
CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
Memory: 2.19 GB / 16.00 GB
Shell: 5.7.1 - /bin/zsh
Binaries:
Node: 10.19.0 - ~/.nvm/versions/node/v10.19.0/bin/node
Yarn: 1.22.0 - /usr/local/bin/yarn
npm: 6.13.4 - ~/.nvm/versions/node/v10.19.0/bin/npm
Watchman: 4.9.0 - /usr/local/bin/watchman
Managers:
CocoaPods: 1.9.3 - /usr/

[2020-08-12 10:25] tapz commented on #23443
Not sure if it's the same issue, but in Android when rotating the device to landscape the window scaled outside of the visible  screen area. So if I position something absolutely and set `right: 0`, the view is partially outside the screen. This didn't happen in RN 0.62. I'm using RN 0.63.2 and React 16.13.1.

[2020-08-12 11:10] devinkg commented on #28624
In my case, it was import { types } from '@babel/core'
Thank you!!!

[2020-08-12 11:22] polarisdigitech commented on #29625
Had this same issue some months ago, found a way around. Didn't occur to me to open an issue then, then I decided to do that today. Was literally about to open and issue then saw yours.

[2020-08-12 13:22] lukeramsden commented on #29237
Could we get a hotfix for 0.62?

[2020-08-12 13:49] clems36 commented on #21002
This is happening to me on random devices on Android as well. Also, the app is not crashing systematically, only like 20% of the time and only in production. @dulmandakh could you re-open this ? Even after following the above tips, this is still an issue.

[2020-08-12 13:51] thakurdivendra commented on #22762
i also facing the same issue in 0. react-native: 0.62.2 => 0.62.2
not able to change cursor color @react-native-bot

[2020-08-12 13:52] thakurdivendra commented on #22762
still not found any solution for this. if we want to provide a different color for cursor

[2020-08-12 14:01] thakurdivendra opened #29627 "TextInput blinking cursor color is not correct when using selectionColor. not able to change cursor color while using any of given props"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Not able to change blinking text input cursor color using any of given props or with style

## React Native version:
System:
    OS: Linux 5.4 Ubuntu 20.04 LTS (Focal Fossa)
    CPU: (4) x64 Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz

Binaries:
    Node: 10.19.0 - /usr/bin/node

[2020-08-12 14:06] fabrizio commented on #22762
please remove me from this thread..I am not the  right "Fabrizio"

On Wed, 12 Aug 2020 at 10:53, Divendra Rajput <notifications@github.com>
wrote:

--
Fabrizio Michels

[2020-08-12 14:22] graphee-gabriel commented on #28551
Hello, I'm using expo 38 with RN 0.62.2
I'm using the bare workflow, so i can edit the native code.
I have the same issues even though i tried every fix listed:
- Updated Flipper in gradle.properties to 0.52.0
- commented out the initializeFlipper line in MainApplication.java
- Tried every possible configuration for the type of the 'file' formData param.

My code looks like this

[code]

[2020-08-12 14:24] vysakh0 commented on #28551
We just updated our project from 0.60 to 0.63, have the same issuee

[2020-08-12 14:33] riadhriadh commented on #29625
@polarisdigitech if you have a solution share

[2020-08-12 14:40] riadhriadh commented on #29627
#22762

[2020-08-12 14:45] matheushf commented on #28503
Tried everything, what worked was to delete the whole `DerivedData` folder, when running `react-native run-ios` again it just worked. Located in: `/Users/YOUR-USER/Library/Developer/Xcode/DerivedData/`

Just `rm -rf /Users/YOUR-USER/Library/Developer/Xcode/DerivedData/`

[2020-08-12 15:13] divyanshunegi commented on #29602
I fixed this issue by adding this """"android:requestLegacyExternalStorage="true""""" in AndroidManifest.xml. The issue is related to android SDK version not sure which one.

<application
android:largeHeap="true"
android:name=".MainApplication"
android:label="@string/app_name"
android:icon="@mipmap/ic_launcher"
android:roundIcon="@mipmap/ic_launcher_round"
android:allowBackup="false"
android:reque

[2020-08-12 15:13] #29602 closed

[2020-08-12 16:45] neXorianus commented on #25936
@fxbayuanggara's https://github.com/facebook/react-native/issues/25936#issuecomment-549749991 was the solution for me.

Check your `AndroidManifest.xml` for invalid xml or other bad stuff!

[2020-08-12 16:50] RG-404 opened #29628 "Error with @jest/core with no code change. Unable to resolve module `os` from `node_modules/@jest/core/build/SearchSource.js`"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Error started occurring while testing the application on Android.
The development server returned response error code 500.
error: Error: Unable to resolve module `os` from `node_modules/@jest/core/build/SearchSource.js`: os could not be found within the project.

If you are sure

[2020-08-12 17:23] scobo commented on #29608
This was 100% repro for us and now it’s zero. I have no idea what was wrong.

[2020-08-12 17:24] chrisglein commented on #29627
Yep, looks like a duplicate of #22762

[2020-08-12 17:24] #29627 closed

[2020-08-12 17:34] chrisglein commented on #29627
[Maybe fixed in 63?](https://github.com/facebook/react-native/issues/22762#issuecomment-622235721)

Also [created a Snack](https://snack.expo.io/@chrisglein/repro29627). Text color and selection color seem to work on Android in this Snack.

[2020-08-12 17:41] chrisglein commented on #22762
Based on comments above this seems like it's fixed. I'm also not able to repro on a modern Expo Snack on Android: https://snack.expo.io/@chrisglein/repro29627
But sounds like some others are still seeing. Can you clarify what's different about your repro from the Snack above?

[2020-08-12 17:51] fabrizio commented on #22762
please remove me from this thread..I am not the right "Fabrizio"

On Wed, 12 Aug 2020 at 14:41, Chris Glein <notifications@github.com> wrote:

--
Fabrizio Michels

[2020-08-12 18:20] jrobber opened #29630 "getInitialURL truncates any additional query parameters beyond the first"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed:

Given this url: `myscheme://user/verification?confirm=1596497089568&email=pers

[2020-08-12 18:26] mathieumg commented on #22762
@fabrizio The unsubscribe link is in the footer of the email you're replying to.

[2020-08-12 18:37] henrymartison commented on #28503
None of the above worked. Thanks man, you totally saved me!!!!!

[2020-08-12 18:59] scobo commented on #29608
Repro again. AFACIT all I did to trigger it was `cd android/ && ./gradlew clean`. After that, network requests in Android fail silently 100% of the time.

[2020-08-12 19:43] scobo commented on #29608
100% repro with the following steps.

1. `npx react-native foobar --version 0.63.2`
1. `cd foobar`
1. `npx react-native run-android`
1. View demo/welcome screen.
1. Replace `App.js` contents with fetch example (see Snack link above).
1. Refresh app with `R` in Metro console.
1. Blank screen. Expected: List of movies with years.
1. Uninstall app.
1. `Ctrl`+`C` to shut down Metro and close window.
1

[2020-08-12 20:30] scobo commented on #29608
Same result on iOS now.

Flipper indicates the request was successful and I can inspect the response there, but `isLoading` is `true` in the app and `data` is an empty array.

[2020-08-12 20:32] Sine99 commented on #13413
@muhammadwafa  [github.com/Kudo/react-native-v8](url) u can follow their instructions. U just need to make the changes in the two build.gradle files.

[2020-08-12 20:49] igoriols opened #29633 "Fail to build using Xcode 12 Beta 4"
## Description
When I try to build a project with Xcode 12 Beta 4 to test iOS14, I got a plenty of `Undefined symbols for architecture x86_64`. Every time I build the app, the list of errors is changed. Native libraries fail to recognize base React classes.

## React Native version:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Add native dependencies

[2020-08-12 21:33] scobo commented on #29608
1. `rm -rf foobar`
1. npx react-native foobar --version 0.61.5`
1. Works.
1. `rm -rf foobar`
1. `npx react-native foobar --version 0.63.2`
1. Doesn’t work.

[2020-08-12 21:43] mikeshuttjuvo commented on #29021
This fixed the issue for me and seems like it is not a kudgy workaround:

https://www.gitmemory.com/issue/facebook/react-native/29364/663005914

[2020-08-12 22:34] scobo commented on #29608
Finally reproed on 0.61.5. It’s Flipper. Network requests are non-deterministically blocked when Flipper is running.

[2020-08-13 00:09] CDBridger commented on #29378
I'm getting this as well (on android), additionally, when I do specify a colour, the component shows, but it is not animating, it just shows a static icon. I'm running 0.63.2, it worked fine when I was running 0.62.x

[2020-08-13 01:32] sordev commented on #29364
this seems to be working
just replacing line
__block RCTImageLoaderCancellationBlock requestToken;
with
__block RCTImageLoaderCancellationBlock requestToken = ^{};
fixed the issue.

[2020-08-13 01:32] sordev commented on #29364
this seems to be working
just replacing line
__block RCTImageLoaderCancellationBlock requestToken;
with
__block RCTImageLoaderCancellationBlock requestToken = ^{};
fixed the issue.

[2020-08-13 02:13] wangchongwei commented on #29242
I got the same issues.

[2020-08-13 02:34] gabrieldonadel commented on #23313
@cpojer could I remove `ImageStore`?

[2020-08-13 02:55] cbetori commented on #29543
I am having the same issue.

[2020-08-13 04:05] muhammadwafa commented on #13413
@Sine99 thank you very much, Could you please let me know, Why and When should we use `V8 engine` instead of `Javascript Core`, what is the **benefit** of it?

[2020-08-13 04:23] JanithaR commented on #13413
It's just better in terms of a Javascript engine that should run on a limited hardware capabilities.
 https://github.com/Kudo/react-native-js-benchmark

[2020-08-13 04:42] muhammadwafa commented on #13413
@JanithaR thank you very much,

Are you meaning react-native+v8engine only works on few devices ?

[2020-08-13 04:57] akkravikumar commented on #29021
For S3 Upload i used below code, its working good

`RNFS.readFile(filePath, 'base64')
    .then(res =>
     Storage.put(
          fileName + '.jpeg',
          Buffer.from(res, 'base64'),
          { contentType: 'image/jpeg' },
      )
 )`

[2020-08-13 05:01] JanithaR commented on #13413
No. I'm just saying it performs better. https://v8.dev/

[2020-08-13 05:03] bhaskarGyan commented on #13413
@muhammadwafa you can check below for a comparison of V8 with JSC and Hermes

https://medium.com/walmartglobaltech/react-native-memory-profiling-jsc-vs-v8-vs-hermes-1626949a653b

[2020-08-13 05:08] muhammadwafa commented on #13413
@bhaskarGyan thank you very much I already read it your topic on medium thanks for that.
But there everything was about memory usage, nothing about speed and performance.

[2020-08-13 05:12] muhammadwafa commented on #13413
and warning is why react-native team theirselves are not deciding to use v8 engine by default, may there is cons of it, and I want to know that, the pros and cons of using v8, because I have more than 10k users and some users are complaining about the chat list specially while they are scrolling fast.

[2020-08-13 06:21] JanithaR commented on #13413
JSC was used for a long time (heavy, bulky, outdated etc.) and then made V8 (compiles to machine code) also available but, optional. Facebook still wasn't happy so they built Hermes specifically to be used by React Native on Android devices.

I believe starting from 0.63 it is the default engine. Don't trouble yourself with V8 too much.

[2020-08-13 07:42] knifedge commented on #25522
if you are using module-resolver

- Expand the Bundle React Native code and images phase.
- Replace the script with the following
--------------------------
`cd $PROJECT_DIR/..
export NODE_BINARY=node
./node_modules/react-native/scripts/react-native-xcode.sh`

--------------------------
Note that this might break if the source of this is a bug in 0.63.0, so you may need to undo this on a future re

[2020-08-13 07:51] cohen72 commented on #28503
I'm banging my head trying every answer here with no luck.

I have no problem running the project from Xcode, but I stubbornly really want the option to run the project via `react-native run-ios` from the command line using iTerm.

In an effort to further understand the cause, I run the same command from my VSCode terminal, and it works! Why?

Why....?

If anyone can shed some light, perhaps this

[2020-08-13 08:02] jpggvilaca commented on #28503
Tried every single solution as well. Nothing worked. Updated everything, cleaned project, restarted mac/iterm/xcode, ran from iTerm and from Xcode and nothing yet.

[2020-08-13 08:42] Akanksha-Thakur commented on #26739
@tostringtheory - accessibilityRole use for announce accessibilityLabel also and yes is it like a hacking code because I don't think there is any other way to shoutout this issue.

[2020-08-13 08:46] Eli-Nathan commented on #26154
RNv0.63.2 still facing the issue. Any word on this?

[2020-08-13 09:04] muhammadwafa commented on #13413
Thank you very much, and one the last question, if you have time kindly let me know it.

If I used v8 engine, then Do I need Hermes?

[2020-08-13 09:07] hengkx commented on #23693
+1

[2020-08-13 09:28] JanithaR commented on #13413
I linked to a benchmark repo above. Look at the results spreadsheet and decide for yourself. Personally, Hermes is good enough for me.

[2020-08-13 09:52] borbhuiyagulsan opened #29635 "Warning: Cannot update during an existing state transition (such as within `render` ). Render method should be a pure function of props & state"
I have tried all sorts of solutions from stackoverflow but still I am getting this error whenever I login with correct details to home screen. I have uploaded my code on github , you can see that.

https://github.com/borbhuiyagulsan/uber

[2020-08-13 09:57] borbhuiyagulsan commented on #29635
<img width="570" alt="Screenshot 2020-08-13 at 3 27 03 PM" src="https://user-images.githubusercontent.com/42679215/90121352-80ce3380-dd79-11ea-800f-e34241741e84.png">

[2020-08-13 10:20] oleksandr-dziuban opened #29636 "babel-plugin-module-resolver doesn't work with react-native 0.63.0+ for iOS production builds"
## Description
In my react-native project I'm using babel-plugin-module-resolver plugin to achieve relative short path for the modules, files, directories. When I mograted from ``react-native@0.62`` to ``react-native@0.63`` I found that iOS Production build cannot be assembled. Xcode throws Error 65 during build with Fastlane on CI. Manually locally in Xcode it throws the same error for Production

[2020-08-13 10:24] riadhriadh commented on #29636
@oleksandr-dziuban  version babel-plugin-module-resolver ?

[2020-08-13 10:26] riadhriadh commented on #29617
@czf123456 check your adb

[2020-08-13 10:27] oleksandr-dziuban commented on #29636
The latest v4.0.0

[2020-08-13 10:37] AndriyF commented on #29364
another possible option here is to change `validateRequestToken` method, see https://github.com/facebook/react-native/commit/ffc90c7f92e63e1a53ed107833e3deed492ab435#diff-479bdaeb9bb8ca6ea323675b6b479fc6
`patch-package` can be used for that as @Vednus  and @ssuchanowski suggested

[2020-08-13 10:52] oleksandr-dziuban commented on #29636
@riadhriadh Yes, I can confirm, this PR fixes the issue:
https://github.com/facebook/react-native/pull/29477

I have assembled release iOS build locally with this change and it works!

[2020-08-13 11:41] JoeyMat opened #29637 "EIntegrity Checksum error"
Hi there!

I'm trying to download react-native and the expo-cli packages through the command line. I've installed (and reinstalled) Nodejs, npm and yarn a few times now. And tried all the cache clearing commands, and deletion of the npm folders in the %AppData% folder. But I get the same error checksum error message in powershell or git bash when I'm trying to fetch the packages through npm or yar

[2020-08-13 12:34] jinshiyi11 opened #29638 "UIManager.measureInWindow on android not work as document"
## Description
UIManager.measureInWindow on android not work as document.
in _ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java_
[code]
it saids that

.But in _ReactAndroid/src/main/java/com/facebook/react/uimanager/NativeViewHierarchyManager.java
React Native version 0.60.5,it removes the status bar from the height
[code]
and in lateset version ,it subtract visibleWindo

[2020-08-13 12:45] whenmoon commented on #28992
same issue on RN 0.62.2

[2020-08-13 12:50] draperunner commented on #29598
I'd to something like this

[code]

[code]

[2020-08-13 14:12] bsatria commented on #28844
please how to solve this problems ?

[2020-08-13 15:00] dangthaison91 commented on #29521
I have the same issues.

[2020-08-13 15:32] ltsharma commented on #29387
How is this issue is closed? there is no answer at all...

[2020-08-13 15:48] l1fe commented on #21747
Is there an update on this? This seems very annoying!

[2020-08-13 15:57] psatler commented on #28551
Unfortunately, the mentioned workarounds about commenting Flipper lines of code and such did not work for me.

I managed to get this working though by using [rn-fetch-blob](https://github.com/joltup/rn-fetch-blob#multipartform-data-example-post-form-data-with-file-and-data).

Below is a piece of code showing how I've used that library to upload a pdf file:

[code]

[2020-08-13 16:49] Monojitgit commented on #29364
Seem to still has the error in React-Native version 0.63.2. Plz help me...
ExceptionsManager.js:179 Missing request token for request: <NSURLRequest: 0x6000019b3580> { URL: file:///Users/...../...../Data/Application/F880FB79-B4FB-40BB-9F34-2FAE72753A07/Documents/images/E4CC6AA6-895D-426C-97A6-B65EFE3360AB.jpg }

ExceptionsManager.js:179 Error processing request body: Error Domain=RCTErrorDomain Co

[2020-08-13 18:35] jbrunton commented on #29521
Also seeing this issue.

[2020-08-13 20:51] mertbuldur opened #29640 "is there any way to open the app while the app is closed"
I'm sorry for my bad english.
Is there such a method in ios when working on android?

[2020-08-13 22:48] efeliz commented on #28823
Thanks, @mrbrentkelly! I've confirmed that this manual fix works for me while using the official Appearance API. 🥳

[2020-08-13 23:04] mstankov commented on #26687
Probably the single most vague, annoying error in the react-native environment... And we know there's a lot of them :) Usually I'm getting it after adding a package via **yarn add**. Not sure if it's connected to yarn itself and whether npm fixes it. Fix is to simply remove **node_modules** and reinstall them.

[2020-08-14 02:36] joaogabrieljs commented on #29496
I just did it like @Vasu1990 and rebuild the project.

[2020-08-14 02:37] ecreeth commented on #29547
@nomi9995 Please, use SectionList prop: [stickySectionHeadersEnabled](https://reactnative.dev/docs/sectionlist#stickysectionheadersenabled). This works fine!

[2020-08-14 03:46] #29640 closed

[2020-08-14 04:06] kpence commented on #26813
@simplesthing
What settings did you have in your `.expo/settings.json` when you had your debugger turned on?

According to #400 `there is no documentation on this, it is a private configuration used internally by expo`. According to @thezealousfool `The docs do not mention it [how to turn the debug mode on]` Then I won't find the answer in the docs, I have to ask you what was in your `.expo/settin

[2020-08-14 04:26] zhuyongjun18 opened #29642 "pointerIndex out of range"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
react-nat

[2020-08-14 04:28] akmallmr commented on #28551
Bro its work perfectly, Thank you 👍

[2020-08-14 04:30] zayedelfasa commented on #29101
Paradise waiting for you brother! You save my life too!

[2020-08-14 05:35] karlgit opened #29643 "DoubleConversion compile failed"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
when i updated my Mac python environment, i find my react-native app can not run success!
I can run success in xcode, but not in command.
clang-4.0: error: cannot specify -o when generating multiple output files

The following build commands failed:
	CompileC /Users/apple/Librar

[2020-08-14 05:51] kkkasio commented on #28583
I had the same problem here!
its worked for me <3

[2020-08-14 05:57] rajkumarwaghmare commented on #28488
I am using Expo SDK 38 which is still using RN 0.62 https://www.npmjs.com/package/expo
As its Expo ,i cant use above patch to fix the issue.

Any suggestions to fix this issue in this situation?

[2020-08-14 06:24] 026binit opened #29644 "Error while updating property 'fontFamily' in shadow node of type: RCTText"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

i have got crash log from firebase . My app standalone apk is crashed in some device at startup but working fine in some other devices.
My standalone apk is working fine in Samsung Galaxy M11
My standalone apk is crashing in Samsung Galaxy S9 Plus

Below is the crash log receiv

[2020-08-14 06:26] NKGS opened #29645 "Icons issue after upgarding react native from 0.62 to 0.63.2"
In below code you can see Icon used is eye and eye-off but actually app shows cart.Similar is the case for all other ICONS in app. This issue occured after i updated react-native to 0.63 version and also i upgraded nativebase to latest verions.

`InputGroup rounded
error={this.props.loginPassword.length > 0 && !this.props.loginPasswordValid}
success={this.props.loginPassword.length > 0 && this.pro

[2020-08-14 06:27] safaiyeh commented on #28583
Closing as we have a fix, thanks everyone

[2020-08-14 06:27] #28583 closed

[2020-08-14 06:35] safaiyeh commented on #29101
Thanks for the solution!

[2020-08-14 06:35] #29101 closed

[2020-08-14 06:36] xierunzeNo2 commented on #29336
Thank you, perfect

[2020-08-14 06:57] safaiyeh commented on #28823
Awesome find! Feel free to submit a PR

[2020-08-14 07:11] cx5168 commented on #28727
same issue.
any way for it?

[2020-08-14 07:17] karlgit commented on #29643
I have try to change the defalut shell to zsh, it work for me!
I do not know why, but maybe i change something i do not know careless.

[2020-08-14 07:38] ajanauskas commented on #29364
@Monojitgit read the whole thread, it already provides couple of workarounds/solutions. (eg. reverting 3198009 by using patch-package)

[2020-08-14 07:38] nomi9995 commented on #29547
@ecreeth `stickySectionHeadersEnabled` will make stick section header not `ListHeaderComponent `. i want to make stack ` `ListHeaderComponent ``

[2020-08-14 07:51] ThienMD commented on #21436
It work, thanks

[2020-08-14 07:52] mrbrentkelly commented on #28823
I already did a few weeks back :) https://github.com/facebook/react-native/pull/29106

[2020-08-14 07:56] artemkhalygov commented on #28925
Yes, I found problem. There was HTML code with css style { text-align: start }.

[2020-08-14 08:02] #28925 closed

[2020-08-14 08:14] ShivamJoker commented on #28823
[code]
The whole code to fix this, hope this gets fixed ASAP

[2020-08-14 08:26] draggie commented on #29132
I also have experienced this on Android, RN 0.63.1

[2020-08-14 09:23] graphee-gabriel commented on #28551
Ahhhh I found what I missed out on !
In my case i was feeding the wrong header to my fetch call, due to and old copy paste >.<
I was using

[code]
when instead it should have been:
[code]

The tricky part is that:
1. this mistake works on iOS
2. it had always been as such on Android for months with no trouble uploading files

It seems that since the last updates of RN, such mistakes are not tolera

[2020-08-14 09:45] jocoders opened #29647 "Fatal Exception: java.lang.IncompatibleClassChangeError: Couldn't find com.facebook.react.module.annotations.ReactModule.name"
Get the error from crashlytics in production on Galaxy S4 Android 5.0 .

**Environment:**
- System:
 OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
    Memory: 117.95 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
- Binaries:
    Node: 13.13.0 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.5 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bi

[2020-08-14 10:05] cx5168 commented on #28727
follow:
https://github.com/facebook/react-native/issues/5047

solved it!

[2020-08-14 10:05] meiqi1992 commented on #29493
same issue+1

[2020-08-14 10:17] AlexeyJersey commented on #27008
Awesome!!! 🎉

[2020-08-14 10:18] Aure77 commented on #28727
Can you explain us the solution ? Last comment is same code as provided on this issue (listener + getInitialURL).

I notice that it seems working when dev server is not used (bundle file instead of bridge url).

[2020-08-14 10:52] polarisdigitech commented on #29625
It might depend on how your code is structured. Are you using a `FlatList`

[2020-08-14 10:55] jocoders commented on #29647
I have already written environment info.

[2020-08-14 10:57] polarisdigitech commented on #29625
For me, its was the `FlatList` that caused the issue. I switched to using just a `ScrollView`, and the issue stopped. Is your issue happening to only `TextInput`s close to the bottom of the screen?

[2020-08-14 11:13] scrapecoder commented on #15826
facing same issue v0.62.2

[2020-08-14 11:18] naveen-c commented on #29633
+1 facing the same issue ```Undefined symbols for architecture x86_64```

[2020-08-14 11:37] usama-asfar commented on #28551
I was getting `stream closed` when trying to upload to S3 with xhr and this solve the issue and thank  you 👍

[2020-08-14 12:06] NKGS commented on #29645
info Fetching system and libraries information...
System:
    OS: Linux 5.4 Ubuntu 20.04 LTS (Focal Fossa)
    CPU: (8) x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
    Memory: 950.75 MB / 15.53 GB
    Shell: 5.0.16 - /bin/bash
  Binaries:
    Node: 10.19.0 - /usr/bin/node
    Yarn: Not Found
    npm: 6.14.4 - /usr/bin/npm
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
  IDEs:
    Andr

[2020-08-14 12:08] jbrunton commented on #29521
In case it's of use to anyone, I was able to work around this by adding React imports in a bridging header file. Example in a PR against @algera's sample repo here: https://github.com/algera/rnproject-error/pull/1

Caveat: I'm brand new to native iOS dev, so unsure if I've missed anything or if there may be problems with that approach.

[2020-08-14 12:25] tirthjivani opened #29648 "Shadow in Android with React-Native"
## Problem
I was trying to create <a href="https://miro.medium.com/max/3200/0*D64v9Py83jSkuBMn.png"><b>Neumorphism (Soft UI)</b></a> in Android but the idea is not working with the android part, I have seen that the props mentioned on https://reactnative.dev/docs/shadow-props are also mentioned for the only iOS and not for android. It is not a kind of bug but we can say there needs to be some solu

[2020-08-14 12:47] anuj-njoshi opened #29649 "Android New apps must target at least Android 10 (API level 29)."
after i  changed targetSdkVersion:29 CameraService now working.

[2020-08-14 13:14] ppeelman commented on #27203
Same here

[2020-08-14 13:31] usama-asfar commented on #29586
solved #28551 at [link](https://github.com/facebook/react-native/issues/28551#issuecomment-611085378)

[2020-08-14 13:31] #29586 closed

[2020-08-14 14:05] cuddeford commented on #28534
@chris9753 Thanks! I've been trying to figure this out for a long time

[2020-08-14 14:29] theambidextrous commented on #28624
I have the very same problem.. the difference is that i have no @babel import at all .. below is how my App.js looks like
`import { StatusBar } from "expo-status-bar";
import React, { useEffect } from "react";
import {
  NavigationContainer,
  DarkTheme as NavigationDarkTheme,
  DefaultTheme as NavigationDefaultTheme,
} from "@react-navigation/native";
import AsyncStorage from "@react-native-commu

[2020-08-14 15:04] gedeagas commented on #29591
Hi, @AndrewMorsillo yes you are correct that the time on Javascript and Native side must be in sync. If the times on the debugger and device have drifted it should throw an exception to warn the developer. See here for the code https://github.com/facebook/react-native/blob/c32ec1f2ab508e7e22fcd5e16e20637163a34c69/ReactAndroid/src/main/java/com/facebook/react/modules/core/JavaTimerManager.java#L330

[2020-08-14 15:17] gedeagas commented on #29591
if your time is not in sync you should see a warning message like this. ( both on your device and console ).
![Screenshot from 2020-08-14 23-13-52](https://user-images.githubusercontent.com/8868908/90264824-dee33f80-de7b-11ea-98e8-d7991d0ed308.png)

[2020-08-14 16:00] safaiyeh commented on #27952
Hi @thilonel sorry for the delay, I haven't had time to check it out. I can pick it back up again.

[2020-08-14 16:49] omid-ebrahimi commented on #28551
I upgraded Flipper to version 0.51.2 and it worked for me.

[2020-08-14 17:05] ktjd123 commented on #26418
this helped me, but not sure too if this is right solution..

[2020-08-14 17:50] saghul commented on #27203
We keep running with this patch... 🤷‍♀️

[2020-08-14 18:11] AndrewMorsillo commented on #29591
@gedaegas I've never seen that warning. It seems to be if the drift is more than 60s, however if the drift is only 500ms or 2s it causes severe problems with the emulator and debugger so that warning isn't very useful at the moment.

[2020-08-14 19:08] safaiyeh commented on #29591
@gedeagas yeah this should be mentioned in the docs. Seems like the issue is known just not documented.

[2020-08-14 19:18] nharis7 commented on #28624
What error are you getting ? Show that error here

[2020-08-14 20:07] andymatuschak commented on #29376
FWIW, sharing how UIKIt handles this: by default, press interactions on buttons are delayed when they're inside of scroll views (and not otherwise). `UIScrollView` exposes a `delaysContentTouches` property (default on) which controls this behavior. But of course, you don't really want to hard-couple scroll views and buttons; the mechanism is more general. At the `UIGestureRecognizer` level, this c

[2020-08-14 21:35] ribamarsantos commented on #28738
Hi guys, I'm currently facing this issue on RN version 0.62.2.

Having configuration name Debug works fine but if I rename it to DebugTest DebugQA it does not work. I have tried move to 0.63 version as well and didn't work. Any clues ?

I didn't like to create multiple Schemes if that's the only option.

Thanks in advance.

[2020-08-14 22:00] safaiyeh commented on #29543
Glad you found a fix!

[2020-08-14 22:00] #29543 closed

[2020-08-14 22:01] xlcrr commented on #28408
Following @tapz directions worked for me. Delete the podfile folder, podfile.lock and change podfile to

[code]

then `pod install` and get back to business

[2020-08-14 22:08] TheLartians commented on #29377
We're experiencing a similar crash in our app after upgrading React Native from 0.61.5 to 0.63.2. While we are not using tesseract, we have our own C++ libraries which have worked fine before. After updating, we are experiencing a `std::bad_cast` exception in the yaml-cpp library originating from [this line](https://github.com/jbeder/yaml-cpp/blob/9a3624205e8774953ef18f57067b3426c1c5ada6/include/y

[2020-08-14 23:03] usama-asfar commented on #28551
Hello @omid-ebrahimi , how did you upgrade Flipper version?

Thank You

[2020-08-15 01:38] xuezhimin opened #29657 "FlatList ItemSeparatorComponent"
Hello ,  I get a problem,  a FlatList set same height, but show result different, hope bosses resolve， Thanks

[2020-08-15 03:02] meiqi1992 commented on #28551
same issue 0.63.2

[2020-08-15 05:19] omid-ebrahimi commented on #28551
Go to `gradle.properties` and add this line
[code]
You should have the following lines in your `android/app/build.gradle`:
[code]

[2020-08-15 06:37] gedeagas commented on #29591
@safaiyeh @AndrewMorsillo just finished adding pr for the docs.

[2020-08-15 06:42] theambidextrous commented on #28624
I solved it. Searched all the imported screens for @babel and found below.. which i commented out and it worked
`import { loadOptions } from "@babel/core"`

[2020-08-15 06:48] safaiyeh commented on #29591
Appreciate it! @gedeagas

[2020-08-15 07:38] safaiyeh commented on #29648
@tirthjivani there is this shadow generator that might help you: https://ethercreative.github.io/react-native-shadow-generator/ let me know if it does!

[2020-08-15 07:45] safaiyeh commented on #29628
Hi @RG-404 this might be an issue with Metro or Jest, could you create an issue in their repos? The issue board here deals with React Native core issues. Thanks!

[2020-08-15 07:45] #29628 closed

[2020-08-15 07:47] safaiyeh commented on #29618
@mrousavy Could you provide the repro?

[2020-08-15 07:48] safaiyeh commented on #29596
Hi @Dellybro  and @co-de it would be helpful to have a repro with steps to get the error to happen. Could you try to provide that? Thanks!

[2020-08-15 07:51] safaiyeh commented on #29519
Hi @davStar this issue is more appropriate to be opened in the react-navigation repo. Feel free to open the issue there!

[2020-08-15 07:51] #29519 closed

[2020-08-15 10:24] xlcrr commented on #28470
That article from cpming helped a lot, but I had to change `swift-5` to `swift 4.2` to create the build before upgrading to swift-5

[2020-08-15 11:00] hasgardee commented on #26850
[https://stackoverflow.com/a/58724298](https://stackoverflow.com/a/58724298)

[2020-08-15 12:09] tirthjivani commented on #29648
Nope, this doesn't work, I have tried it earlier and even other 3 npm packages,
1. https://www.npmjs.com/package/react-native-simple-shadow-view
2. https://www.npmjs.com/package/@gfpacheco/react-native-shadow or https://github.com/879479119/react-native-shadow
3. https://stenbeck.io/styling-shadows-in-react-native-ios-and-android/

This last one works but a little change in the radius creates a me

[2020-08-15 14:07] usama-asfar commented on #28551
@omid-ebrahimi  upgrading flipper also solves the issue thank you, And I have opened an issue on this at StackOverflow with the bounty, please submit this answer there and I can award the bounty to you.
[
issue link](https://stackoverflow.com/questions/63267222/react-native-s3-image-upload-returns-stream-closed-using-xhr)

[2020-08-15 16:58] YasirHasn9 commented on #28844
I stopped remote debugging in expo client and it worked, im gonna use the web browser to fix stuff

[2020-08-15 17:13] renatobenks commented on #21747
I didn't fix that yet @l1fe, even didn't find any workaround, sometimes it happens, and other times just don't 😕

[2020-08-15 17:58] efstathiosntonas commented on #28844
Lol go away stupid bot!

[2020-08-15 18:00] safaiyeh commented on #28470
Thanks for the resource! Closing, feel free to open another issue if it comes up again

[2020-08-15 18:00] #28470 closed

[2020-08-15 18:03] safaiyeh commented on #29625
Hi @riadhriadh could you follow the issue template? Thank you

[2020-08-15 18:04] safaiyeh commented on #29647
Hi @jocoders thanks for the issue. We would need more information about the crash. Could you provide a repro that demonstrates the error?

[2020-08-15 18:10] Vijaysuryawanshi1993 commented on #28503
Thanks man.
It worked (on existing project suddenly I was getting that issue).

[2020-08-15 20:59] codeamo opened #29659 "Building and opening project on ios simulator with npx react-native run-ios takes too long"
## Description
I have recently ejected my project from expo to bare react native and I have followed the document for smooth transition which was straight forward, but when I try to build my react-native project on the ios simulator is takes too long and never builds the app. here is a screen shot of my terminal building the app and I can't get past here as building process takes forever.

<img wi

[2020-08-15 22:24] Garrett1Tolbert commented on #26892
This works 100%! Even logically, it makes sense.

[2020-08-16 00:07] wesson818 commented on #25240
I got the same issue. I tried lots of different ways listed above. Didn't work for me.
I fixed by remove all .ttf lines in /ios/exampleApp.xcodeproj/project.pbxproj which listed in XCode when I build.
Hope it helps if other solutions does work.

[2020-08-16 00:10] safaiyeh commented on #26892
Thanks for the fix! Closing this out.

[2020-08-16 00:10] #26892 closed

[2020-08-16 03:01] safaiyeh commented on #25240
Thanks for all the solutions everyone! The original issue seems to be a bit dated. Closing, please open a new issue if this occurs in the latest RN version and none of these solutions work.

[2020-08-16 03:01] #25240 closed

[2020-08-16 03:06] safaiyeh commented on #29659
Hi @codeamo thanks for the issue. Expo initially comes with more dependencies than the React Native template, that could be a sign of the slowness. Also the resources on your machine.

Could you create an issue on the expo repo? They could help you out better.

[2020-08-16 03:11] safaiyeh commented on #21436
Appreciate the solution! This issue is a bit dated, if anyone still has this issue and none of these solutions work, feel free to open a new issue.

[2020-08-16 03:13] safaiyeh commented on #29643
@karlgit glad you found a solution! Closing for now.

[2020-08-16 03:13] #29643 closed

[2020-08-16 05:24] codeamo commented on #29659
@safaiyeh ok that looks reasonable. I will create an issue on the expo repo. Thanks

[2020-08-16 05:24] #29659 closed

[2020-08-16 08:04] mylesshie opened #29660 "Can't upload ReactNative to App Store, error with javax.xml.stream.XMLStreamException"
hello, there is a question for my reactnative app.When I uploading my app to App Store,I get an error:

[code]

I can't find where the error happened, please help

react-native: 0.62.2
java: 8

[2020-08-16 08:16] #28904 closed

[2020-08-16 09:04] Osamasomy opened #29661 "Library not found for -lDoubleConversion Build failed"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

https://i.stack.imgur.com/8VbEV.png

**ALREADY TRY THIS**

here is what i did

- I clean and rebuild
- rm -f ~/Library/Developer/Xcode/DerivedData/cache
- also add remove flags from **Other Linker Flags**
- also try to add .a file in Link Binary With library under **build phase

[2020-08-16 09:11] #28820 closed

[2020-08-16 09:11] #28867 closed

[2020-08-16 09:11] #28758 closed

[2020-08-16 09:11] #26407 closed

[2020-08-16 09:11] #28838 closed

[2020-08-16 09:11] #28797 closed

[2020-08-16 09:11] #28262 closed

[2020-08-16 09:11] #28850 closed

[2020-08-16 09:11] #28816 closed

[2020-08-16 09:11] #28855 closed

[2020-08-16 09:11] #27801 closed

[2020-08-16 09:11] #28856 closed

[2020-08-16 09:11] #28831 closed

[2020-08-16 09:11] #27823 closed

[2020-08-16 09:11] retyui commented on #23537
Ha ha

[2020-08-16 09:52] divonelnc opened #29662 "In FlastList, separators.updateProps("leading", {...}) won't work for the item at the index value of initialNumToRender"
## Description
Calling `separators.updateProps("leading", {...})` from the item at index `initialNumToRender` won't find the leading item.
For example, with `initialNumToRender=10`, calling `separators.updateProps("leading", {...})` from the item at index 10 of your Flatlist won't work.

From debugging, I found out that the issue comes from `VirtualizedList.js:842`. The loop restarts once this ind

[2020-08-16 10:00] Osamasomy commented on #29643
I have same Question How to solve this problem?

[2020-08-16 10:34] #28900 closed

[2020-08-16 10:57] hiep294 commented on #29598
Seem like, should not create nested component in FlatList as the article said:
https://reactnative.dev/docs/optimizing-flatlist-configuration#use-basic-components

[2020-08-16 11:53] glacjay commented on #29625
I also have this issue:

[code]

react-native info: (0.61.5)

[code]

![WeChat_20200816193715](https://user-images.githubusercontent.com/292719/90333597-c7ca5c00-dff9-11ea-8357-6cc7bef7fb71.gif)

[2020-08-16 13:13] enjeyw commented on #29414
We're having this issue too. Seems like it could be related to whatever caused the ripple issue? https://github.com/facebook/react-native/issues/9870

[2020-08-16 13:59] xiao99xiao commented on #29633
+1 here. Only fails with Xcode 12 beta with Debug, while Release works. Xcode 11.6 works.

[2020-08-16 14:10] #28518 closed

[2020-08-16 14:27] simonkincaidkintronix commented on #1693
Hi All

I had the same annoying error during debugging on a v0.57 app but I managed to hack/fix it.

This error occurs in

node_modules/react-native/Libraries/Components/Touchable/touchable.js

(Which gets bundled into index.bundle)

For me, you get

`console.error(
        'Attempted to transition from state `' +
          curState +
          '` to `' +
          States.RESPONDER_ACTIVE_LONG_PRE

[2020-08-16 14:41] kutaisan commented on #29414
I've reproduced the issue. Android versions between 4.1 and 4.4 are crashing

[2020-08-16 15:08] mrousavy opened #29663 "TextInput placeholder is always multiline on Android"
## Description

On Android, the `<TextInput>`'s `placeholder` property always renders to multiple lines, whereas on iOS it trails the ending (like `ellipsizeMode="trail"`).

![Screenshot 2020-08-16 at 17 05 02](https://user-images.githubusercontent.com/15199031/90337460-dc4f2a00-dfe2-11ea-969a-735795be8430.png)
![Screenshot 2020-08-16 at 17 06 24](https://user-images.githubusercontent.com/15199031

[2020-08-16 15:27] salp13 commented on #26892
For me a pretty quick fix was more in how the modal is triggered. I have a button that used to just set the modal's viewable variable to true when the button was pressed; however, now when the button is pressed I set the viewable to false and then setTimeout for 10 ms and then set the viewable variable to true. The change is pretty seamless, the user won't notice the 10ms.  This is better for me b

[2020-08-16 16:30] pavi2410 commented on #29648
Shadow colors can't be changed on Android API below 28

Click on the link below to find a similar discussion on Compose channel
https://kotlinlang.slack.com/archives/CJLTWPH7S/p1594065063468800?thread_ts=1594065063.468800&cid=CJLTWPH7S

[2020-08-16 17:10] #28870 closed

[2020-08-16 18:00] valiaghaei commented on #28707
Thnak you  so  much
I was busy with this error  for  monthes  and  tested  all  methods that mentioned  in different sites , none of them were usefull

[2020-08-16 18:28] todorone opened #29665 "View nested in Text reconciliation bug on Android"
## Description

When `Text` component has another `Text`s and `View` as children and `View` changes position, reconciliation does not work properly on Android. On iOS it works perfectly.

Demo correct behaviour[iOS]:
![bug-ios](https://user-images.githubusercontent.com/423701/90341233-9310d180-e006-11ea-94a6-5ff3eab27e37.gif)
Demo incorrect behaviour[Android]:
![bug-android](https://user-images.gi

[2020-08-16 18:40] todorone commented on #29665
@rigdern AFAIK You worked on this feature so maybe some ideas on what could be the problem?
@mdvacca Or maybe some thoughts from You as i see last Your commit fixing `View` nested in `Text`...

[2020-08-16 18:59] tirthjivani commented on #29648
Is there any way to add it in Android 29 or later?

T.

[2020-08-16 19:10] #28874 closed

[2020-08-16 20:50] pavi2410 commented on #29648
Yes, see [View#setOutlineAmbientShadowColor(int color)](https://developer.android.com/reference/android/view/View.html#setOutlineAmbientShadowColor(int)) and [View#setOutlineSpotShadowColor(int color)](https://developer.android.com/reference/android/view/View.html#setOutlineSpotShadowColor(int))

[2020-08-16 21:01] rigdern commented on #29665
@todorone I sent a PR for a similar sounding bug quite a while ago but it hasn't been merged yet: #24836. Perhaps it would fix your issue as well.

[2020-08-17 03:32] cx5168 commented on #28727
my solution:
node_modules/react-native/Libraries/LinkingIOS/RCTLinkingManager.m

getInitialURL:

RCT_EXPORT_METHOD(getInitialURL:(RCTPromiseResolveBlock)resolve
                  reject:(__unused RCTPromiseRejectBlock)reject)
{
  NSURL *initialURL = nil;

  if (self.bridge.launchOptions[UIApplicationLaunchOptionsURLKey]) {
    initialURL = self.bridge.launchOptions[UIApplicationLaunchOptionsURLKey

[2020-08-17 04:08] Bardiamist commented on #23693
<details>

![PHOTO-2020-05-29-11-46-34](https://user-images.githubusercontent.com/22082342/90356258-1703a180-e079-11ea-9aa4-acd6efced5a8.jpg)

<summary>
`Dimensions.get('window').height - StatusBar.currentHeight` works for devices without software bottom navigation bar.
</summary>
</details>

<details>

![Screenshot_2020-08-14-18-31-46-631_com valr app](https://user-images.githubusercontent.com/22

[2020-08-17 05:18] jaikme commented on #28992
Same here. Cant find a solution...
mine is related with `@react-native-firebase/database` connections

[code]

[2020-08-17 05:38] tirthjivani commented on #29648
Ok, let me give you an update soon. 👍🏻

[2020-08-17 05:42] todorone commented on #29665
@rigdern Yeah, it seems the same bug, thank You.
@mdvacca There is mention that You have tested this PR while back importing it, what can we do to push this forward?

[2020-08-17 05:50] areeb-hub commented on #28890
Same issue here

[2020-08-17 07:07] dgreen-dev commented on #25656
same problem facing in RN 0.63.2

[2020-08-17 07:09] msmtr14 commented on #25656
Same problem RN 0.63.2

[2020-08-17 08:20] SemperChen opened #29668 "Why is the error reported?'React/RCTViewManager.h' file not found"
![1](https://user-images.githubusercontent.com/12069583/90374023-6790f400-e0a5-11ea-9552-af45265ca68b.png)
![2](https://user-images.githubusercontent.com/12069583/90374046-72e41f80-e0a5-11ea-9f1d-a561fd04f2a3.png)

React Native version:
Run react-native info in your terminal and copy the results here.

System:
OS: macOS 10.15.5
CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Memory: 96.62 MB

[2020-08-17 08:24] SemperChen commented on #29668
I created a new framework,But it says that the file is not found

[2020-08-17 08:33] abdulghanitech opened #29669 "EventEmitter is not working in Release apk"
## Description
I'm using the react native's event emitter to send events from native to JS. This thing is working absolutely fine on my **DEBUG version**. I'm able to send events with data from native side to JS, but this is not working in the final **RELEASE APK**!

To further test out things, I changed my build variant to "release" version. To my surprise it works fine even in release variant. T

[2020-08-17 08:49] fairySusan commented on #27355
so,how to fix this problem? I try all methods, not work for me

[2020-08-17 08:56] devproivansurzhenko commented on #27721
I am on 0.62.1. Issue is still appearing. We just skipped those specs for now. I am planning to migrate my project to 0.63 during the current week.

[2020-08-17 09:16] bashen1 commented on #28011
same issue

[2020-08-17 09:58] wmonecke commented on #29617
Please stop posting these issues on `facebook/react-native`.
**It has nothing to do with this library!**

[2020-08-17 10:03] sunnylqm commented on #17530
Just saw a commit that sounds related https://github.com/facebook/react-native/commit/1e4d8d902daca8e524ba67fc3c1f4b77698c4d08

especially since the ordering of the Create+Delete is not guaranteed (a reparented view could be created "first" and then the differ could later issue a "delete" for the same view).

@fabriziobertoglio1987

[2020-08-17 10:34] amarjain07 commented on #29496
Closing the issue as it doesn't require any change in the library to support api 29.

[2020-08-17 10:34] #29496 closed

[2020-08-17 11:37] Mhde96 commented on #28551
I upgrade fliipper  to version 52.0
and use fetch and it worked for me
But when  use axios.post don't work
And when use axios like
axios({ method:'post , data : file , ............. })
it work fine

And don't set header
'Content-Type': 'multipart/form-data'
also it will work fine

[2020-08-17 12:48] alen252 opened #29671 "java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/inject/Provider;"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
After I upgradereact native from 0.51.0 to 0.61.5, I start my app. Got a crash.

## React Native version:
0.61.5

FATAL EXCEPTION: create_react_context
    Process: com.xxx, PID: 31177
    java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/inject/Provider;
        at c

[2020-08-17 13:05] jasmeet447 opened #29672 "Text Scroll Issue in TVOS"
## Description
Hii, I've been trying to make a scrollable text component for tvos like the one we see in terms and conditions box in a lot of applications. The code works fine for android tv but the text doesn't scroll down in tvos.

## React Native version: 0.61.2

## Steps To Reproduce
The code snippet is as follows:

<ScrollView style={
{
flex: 1,
paddingTop: getScaledValue(50)
}}
contentContai

[2020-08-17 13:22] nivas412 commented on #14887
it is giving 0 value

[2020-08-17 13:40] john1jan commented on #29620
nope we are not using:  react-native-mapbox-gl

[2020-08-17 14:28] kelset commented on #14887
As mentioned already by a few folks, it seems that the PR that supposedly was going to fix this (#20999) has been actually closed and the solution implemented in a separated library: https://github.com/th3rdwave/react-native-safe-area-context

I would recommend trying to use that library to fix this issue.

[2020-08-17 15:22] udeyrishi commented on #28876
This one still needs attention

[2020-08-17 16:08] owjsub commented on #28902
Will try to reproduce this on React Native 0.63 asap

[2020-08-17 18:23] sharpcodepro commented on #29396
The phone and the computer have to be on the same WiFi connection.

[2020-08-17 18:37] Johbrun commented on #29396
Sometimes connect pc and phone on the same network is not enough :/

[2020-08-17 18:41] divonelnc commented on #17530
Any idea of how someone could fix this issue while using Expo, therefore without access to the project's android folder? 😅

[2020-08-17 19:23] scobo commented on #29608
AFAICT this was due to both VMs being in a bad state, although I don’t know how they got there; the lack of logs and errors made debugging impossible.

[2020-08-17 20:59] scarlac commented on #24429
@matthieupinte Can we close this now? I've made a PR that it may return `null` if debugger is enabled:
https://github.com/facebook/react-native-website/pull/2151

[2020-08-17 21:01] moh3n9595 commented on #26605
Same issue

[2020-08-17 21:21] safaiyeh commented on #29672
Hi @jasmeet447 thank you for the issue. tvOS has been moved to this repo https://github.com/react-native-community/react-native-tvos

Please file an issue over there!

[2020-08-17 21:21] #29672 closed

[2020-08-17 21:23] safaiyeh commented on #29671
Hi @alen252 thanks for the issue. For upgrade related issues, checkout https://github.com/react-native-community/upgrade-support.

Please leave an issue there!

[2020-08-17 21:23] #29671 closed

[2020-08-17 21:39] AndrewMorsillo commented on #29591
I still suspect there's a bug here @safaiyeh . If I pause at a breakpoint for a bit then hit resume the app behaves strangely and I get the "out of sync by 60 seconds" warning even though the system times are synced within 10ms!

I don't know the internals of how the debugger works but it seems this dependence upon clock sync is extremely brittle. Is there any way around it or at least to correct

[2020-08-17 21:47] safaiyeh commented on #29591
I'll throw that question to @rickhanlonii or @dulmandakh for more insight on the debugger

[2020-08-17 22:14] safaiyeh commented on #29669
Thanks for the issue @abdulghanitech! Could you provide a repo so I can build the production app? I want to make sure it happens on a clean template.

[2020-08-17 22:15] safaiyeh commented on #29661
Hi @Osamasomy upgrade issues have been moved to https://github.com/react-native-community/upgrade-support. Could you check out if this was solved or create a new issue there? Thanks!

[2020-08-17 22:15] #29661 closed

[2020-08-17 22:16] safaiyeh commented on #29630
Hi @jrobber thank you for filing the issue! I'll check out the example you linked

[2020-08-17 22:18] safaiyeh commented on #29575
Thanks for the context. Closing now as it is resolved. Feel free to file another issue if this comes up again.

[2020-08-17 22:18] #29575 closed

[2020-08-17 23:17] jpodpro commented on #29396
i painstakingly updated from RN 0.59 to 0.62 and now i have this issue on iOS device. no shake, no metro-triggered dev menu or reload works.

i would try upgrading to 0.63 but react-native-webview doesn't fully support it.

[2020-08-18 00:57] safaiyeh commented on #28298
Checked Folly's master it looks like it still has this. Should this be raised with Folly?

[2020-08-18 01:25] safaiyeh commented on #29500
Thank you for the issue @krzysztofciombor.
Thanks for checking it out @gedeagas .

I ran your example locally and it is crashing. Might have been introduced in 0.63, Snack's are currently at 0.62.

[2020-08-18 02:10] danielfitzpatrick314 opened #29674 "Android debug and release app crash"
gets the following log when opening the app .this log shown using the ADB logcat

[code]

[2020-08-18 02:41] sunnylqm commented on #17530
@divonelnc There is a workaround: Use a new key everytime a textinput in rendered, for example,
[code]
And of course it may cause some other problems and performance loss.

[2020-08-18 03:03] tmaly1980 commented on #29101
None of these work for me. Any suggestions?

[2020-08-18 04:02] gedeagas commented on #29500
interesting, I haven't tested it on react-native 63. will try to check again today.

[2020-08-18 04:05] mylesshie commented on #29660
info Fetching system and libraries information...
System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
    Memory: 35.86 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.16.3 - ~/.nvm/versions/node/v12.16.3/bin/node
    Yarn: 1.22.4 - ~/.nvm/versions/node/v12.16.3/bin/yarn
    npm: 6.14.4 - ~/.nvm/versions/node/v12.16.3/bin/npm
    Watchman: 4.9

[2020-08-18 04:53] Preetha-stack commented on #25240
Hi guys, Same problem..tried with all solutions above mentioned!!

[2020-08-18 04:55] vinhtran6921 commented on #21801
I still stuck on android. Anyone have solutions for this ?

[2020-08-18 05:00] kunisettysarath opened #29675 "Same issue in ubuntu with gradle"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-18 05:54] kockok commented on #29021
I am using `0.63.3` and the problem still present. I use `apollo-upload-client` to upload files.
Please advise.

[2020-08-18 06:12] krzysztofnowak commented on #29500
@safaiyeh @gedeagas I'll add that my main project is using RN@0.61.23 and I'm having same issue so it is not something new introduced in latest version

[2020-08-18 06:12] mehul76 opened #29676 "org.slf4j.helpers.NOPLogger cannot be cast to org.gradle.api.logging.Logger"
info Installing the app...
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

FAILURE: Build failed with an exception.

* What went wrong:
org.slf4j.helpers.NOPLogger cannot be cast to org.gradle.api.logging.Logger

* Try:
Run with --stackt

[2020-08-18 06:39] NE-SmallTown commented on #15114
For me, you can set `numberOfLines={0}` to fix this, I notice that this will [make](https://github.com/facebook/react-native/blame/f53267f7031dec9f8e61c679bf786d025d634eb6/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextView.java#L473) react-native(Android) use `Interger.MAXVALUE` as the maxLine(height) for `Text` since 4 years ago  though I don't know why this could fix the bug

[2020-08-18 06:48] weblancaster commented on #26687
I spent a few hours having the same issue `Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)` and it happened "from nowhere".

Because everything was working fine in the previous day and everything was still working fine in the production bundle I thought the usual YOLO commands delete, clean and re-install everything would fix it but I was wrong.

[2020-08-18 07:05] hellochirag opened #29677 "Exception '-[NSNull substringToIndex:]: unrecognized selector sent to instance 0x7fff8062d200' was thrown while invoking sendRequest on target Networking with params"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-18 07:18] vinaysharma14 commented on #27549
Hey Zack, this should help you out.

[code]

[2020-08-18 07:21] vinaysharma14 commented on #27549
Hey @zackify, this should help you out.

[code]

[2020-08-18 07:22] vinaysharma14 commented on #27549
Hey @zackify, this should help you out :)

[code]

[2020-08-18 07:23] vinaysharma14 commented on #27549
Hey @zackify, this should help you out :)

[code]

[2020-08-18 07:24] vinaysharma14 commented on #27549
Hey @zackify, this should help you out :)

[code]

[2020-08-18 07:24] vinaysharma14 commented on #27549
Hey @zackify, this should help you out :)

[code]

[2020-08-18 07:33] Taulant1992 opened #29678 "Cannot download git://github.com/CharlesMangwa/simple-markdown.git when using npm install in a react native project"
Hi,
I am using npm install to get all the dependencies needed for my react native project to run, but I am facing an error related with one dependency called CharlesMangwa/simple-markdown. Please notice that I am behind a proxy server.

npm version: 6.14.6
node version: v12.18.3

**Package.json**

[code]
**Error**
![RN issue](https://user-images.githubusercontent.com/32356248/90483917-c605b300-e13

[2020-08-18 07:42] divonelnc commented on #17530
@sunnylqm Unfortunately that didn't help 😞. I am still having it crash randomly on the screen with dozens of text inputs.

[2020-08-18 07:52] SubhashisPK commented on #15826
Still an issue in react-native 0.62.2

[2020-08-18 08:43] Liqiankun commented on #28890
@areeb-hub #29504

[2020-08-18 08:54] rebeccatay92 commented on #28898
Bump. This happened to me too until I removed the 0.

[2020-08-18 09:27] JencirJamal opened #29681 "ios/Pods/Headers/Public/React-Core/React/RCTBridgeModule.h:132:1: Property with 'retain (or strong)' attribute must be of object type"
iOS Xcode build fails with this Syntax error "**ios/Pods/Headers/Public/React-Core/React/RCTBridgeModule.h:132:1: Property with 'retain (or strong)' attribute must be of object type**"

## Description
I am using this RCTBridgeModule to create my own custom bridge module for one of my application. Recently i migrated the app to latest react-native version 0.61.5. Now the iOS xcode build and react-n

[2020-08-18 09:38] ssuchanowski commented on #29021
`0.63.2` is the latest as of this moment - you have work arounds (patch fix) for file uploading -> https://github.com/facebook/react-native/issues/29364#issuecomment-671565181

[2020-08-18 09:48] abdulghanitech commented on #17530
I can confirm this issue in Production! RN: 0.62.2 😕

[2020-08-18 09:55] imansalhi opened #29682 "Linking.openURL doesn't open app in android 9 and 10"
## Description
`Linking.openURL(intent link)`  doesn't the open app in android version 10 and 9, whereas it works on lower versions of Android

## React Native version:
"react-native": "0.62.2"

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.set intent link ([+](https://developer.android.com/training/app-links/deep-linking))
2.run a background job or use some s

[2020-08-18 11:16] alexkbsoft commented on #29618
I have this issue too after upgrading from react-native 0.61.2 to 0.63.2
Cant fix it (

[2020-08-18 11:39] pedrogarciyalopez commented on #25244
that's worked for me.

@akhan118 thanks a lot dude!

[2020-08-18 12:08] sa1dai commented on #28844
Same error, I have just updated to Expo 38

[2020-08-18 13:34] backmeupplz commented on #27549
@vinaysharma14 looks like the second part still doesn't render. Are you sure it works? What RN version are you running?

[2020-08-18 14:20] roman-gula commented on #29414
I have same issue - `TouchableNativeFeedback` does't work on Android 4.x simulator
react-native ver. 0.63.2

Just run

[code]

and add `TouchableNativeFeedback` to the code.

[2020-08-18 14:41] JLOUIS3434343443 commented on #29505
hello
im facing same issue
any news from your side?

[2020-08-18 16:28] jaikme commented on #27008
For me it still persists, I have Xiaomi Redmi Note 7, and my code was working perfectly 1 week ago, and suddenly started giving this error... this is driving me crazy. My project needs to access Firebase Realtime Database, which is when the error happens.
The gradle probably updated something in the build, because I forced myself to create a new project yesterday, with the command
`npx react-nativ

[2020-08-18 16:31] Souro7 commented on #29417
Is there a solution for this?

[2020-08-18 16:49] safaiyeh commented on #29682
hi @imansalhi thanks for the issue. Can you provide a repro? You mentioned react-native-firebase, can you confirm the functionality doesn't work from a scratch template

[2020-08-18 16:50] safaiyeh commented on #29681
Hi @JencirJamal could you test this out on v0.63 and provide a repro?

[2020-08-18 16:51] safaiyeh commented on #29677
@hellochirag Thanks for the issue, could you please fill out all the fields in the template?

[2020-08-18 16:52] safaiyeh commented on #29675
Closing as the template is empty. Please create a new issue with the template filled out.

[2020-08-18 16:52] #29675 closed

[2020-08-18 16:53] safaiyeh commented on #29604
@mrousavy could. you provide a repo of the project that consistently throws this error?

[2020-08-18 16:55] AndrewMorsillo commented on #27862
I may be encountering the same or a related issue. I have a function component that works fine when first loaded. If I edit the file and the component is fast refreshed it starts an infinite loop. Even after a reload it _still_ infinite loops. Only way to break the loop is to close the app on the emulator and open it again, seems some sort of bad state is persisted even across reload? Working on n

[2020-08-18 16:57] safaiyeh commented on #29524
@clfristoe Thanks for the snack, yeah I see the issue you are mentioning.

[2020-08-18 17:01] safaiyeh commented on #29660
Hi @mylesshie we need a bit more information.

Could you follow the template and provide a repro? Thanks!

[2020-08-18 18:14] avonipenti commented on #17968
Is this still a bug on RN 0.63? We are using 0.61 and plan to upgrade to 63 soon
I plan to use the workaround but wondering if this is fixed on 0.63?

[2020-08-18 18:34] gaearon commented on #27862
@AndrewMorsillo This sound quite bizarre! (I don't think it has any relation to this issue btw.)

[2020-08-18 18:34] gaearon commented on #27862
No, I just haven't got a confirmation that this either doesn't repro or that it was fixed.

[2020-08-18 18:36] gaearon commented on #27862
Actually I wonder if this case is related to conflicting values between long and shorthand `flex` property notation.
We warn for this in the DOM because it's broken: https://reactjs.org/blog/2020/02/26/react-v16.13.0.html#warnings-for-conflicting-style-rules
Maybe RN has the same problem?

[2020-08-18 19:06] safaiyeh commented on #29520
@waheedakhtar694 thanks for the issue! Could you provide either a Snack or a repro of this? Thanks

[2020-08-18 20:07] choubeyaakash77 opened #29686 "[Android] NativeRunnable - Unexpected EOF no stack crash"
## Description
I'm working on a hybrid app where React Native Host and context is initiated at app launch. We have bundle updates based on Firebase Remote Config which gives us a version and bundle s3 link, from where we download the zip file and unzip it.
For the past few months, this crash has been too frequent after sending updates and we've been unable to reproduce the same. Any hints are appr

[2020-08-18 20:57] dumbokitty commented on #27008
Is this still open? The mannual adjusting is really painful.

[2020-08-18 21:19] agusvazquez opened #29688 "White / Blank screen displayed on launch in release mode."
Hello guys!

I am having this issue.

## Description
Blank / White screen is randomly shown on startup in release mode and I get stuck, I have to close the app and try again in order to make it work. I think it has a lot of more chance for the white screen to be displayed if it is the first run after a fresh install. I think it has something to do with react navigation and react-native-screens but

[2020-08-18 21:20] yungsters commented on #29608
Hey @scobo! Can you provide details on the iOS Simulator or Android Emulator (I assume this is what you meant by "VM") setup that you used to reproduce the issues? Thanks!

[2020-08-18 21:39] igoriols commented on #29633
Hi @xiao99xiao, thank you for the workaround. Unfortunately, I can't use this in my real project. Another errors arise if I change to the legacy build system. Besides that, legacy build system is deprecated and is scheduled to be removed in a future Xcode release.

I think there is something missing in build settings, but I can't figure out what it is yet. Maybe we need to set a new configuration

[2020-08-18 21:57] Dellybro commented on #29596
@safaiyeh the problem is i don't know how to reproduce it. Half of my app works, and then the other half does not. I'm doing nothing different, i import the input just like i do everywhere else.

[2020-08-18 22:24] rikur commented on #18132
AFAIK, still a bug in latest RN.

[2020-08-18 22:57] philywu commented on #28824
Same issue to me. another 16 other issues comes when set the debug to No

[2020-08-18 23:39] xclidongbo commented on #28844
Same Error. RN Version:  0.63.2

[2020-08-18 23:43] safaiyeh commented on #29596
How about how you're using the component? Something to narrow it down. Code snippet of how it's used etc..

[2020-08-18 23:56] SirhCloud opened #29689 "[Android] TextInput events inconsistent when using backspace key"
## Description
Hi all,

I have a use case where I am checking for a TextInput's value to be empty when using the backspace key. I have found a bug when using the backspace key on Android devices. The onChange, onChangeText and onKeyPress events fire at different intervals depending on the character being deleted. For example:

Removing a letter fires in this order:
1. onChange
2. onChangeText
3. o

[2020-08-19 00:54] #28926 closed

[2020-08-19 00:54] AndrewMorsillo commented on #28844
Disabling cache on the network tab in chrome can help

![image](https://user-images.githubusercontent.com/858965/90579665-bc5f6800-e194-11ea-8400-bdfa442789ab.png)

...but not always. I'm pretty sure this issue is what causes the "debugging loads old builds" problem where fast refresh updates your code but upon app reload you end up with an old cached version. That was a fun one to discover.... Th

[2020-08-19 00:56] #29026 closed

[2020-08-19 01:18] vyashole commented on #18132
Still a bug

On Wed, 19 Aug, 2020, 3:54 am Riku Raisanen, <notifications@github.com>
wrote:

[2020-08-19 01:38] safaiyeh commented on #18132
@fabriziobertoglio1987 did you gave a PR that addressed this?

[2020-08-19 01:51] safaiyeh commented on #29689
@SirhCloud I appreciate the issue, this is some odd behavior... I verified the logs. Could this be something you can look into>

![Screen Shot 2020-08-18 at 6 50 53 PM](https://user-images.githubusercontent.com/8675043/90582893-bf9e2800-e183-11ea-9643-4cf1d5eed9bf.png)

[2020-08-19 01:52] sanchitos commented on #27526
I was working on a pure JS RN app so the approach of @MitchellSlavik was not suitable for me.
If you have the same 'problem' this package saved my life:
[https://www.npmjs.com/package/react-native-keyboard-aware-scroll-view](https://www.npmjs.com/package/react-native-keyboard-aware-scroll-view)

[2020-08-19 01:52] safaiyeh commented on #29688
Hi @agusvazquez sorry you're experiencing this. Could you provide a minimum repro that demonstrates this?

[2020-08-19 01:54] safaiyeh commented on #29686
Hi @choubeyaakash77 thanks for the issue! For us to investigate, a reproducible demo would be helpful. You mentioned Firebase Remove Config, have you also checked with the issue board on the react native port?