[2017-06-09 14:46] srijak commented on #14404
@hramos #14423 :)

[2017-06-09 15:17] alvaromb commented on #8855
I'm the author of `react-native-keyboard-aware-scroll-view`. I would be happy to:

- Integrate my solution into RN core.
- Help to improve `KeyboardAvoidingView` with a similar approach than the one I've used.
- Help to improve `KeyboardAvoidingView`.
- Keep maintaining my component as a separated repo.

And I still don't think that linking to a third party solution should close the issue. Keyboar

[2017-06-09 15:33] scerelli opened #14424 "Flow throws errors with RN 0.45 and React alpha 16"
It seems that `flow 0.47` doesn't work well with `RN 0.45`. I managed to get flow working only using flow `0.42`, RN `0.45` and react `16.alpha.6`.

This is something you can check by just creating a new `RN` project and than run flow inside it.

[2017-06-09 15:40] dwilt commented on #2280
I'm having trouble with this too

[2017-06-09 16:38] PauloDurrerMelo commented on #14312
+1

onEndReached is called one or two times before the first load ends and data array is filled.
It should only get called when the data is loaded and the onEndReachedThreshold is true. Since no data is yet displayed, the onEndReached should not be called.

This does not happen on iOS.

[2017-06-09 16:44] volodymyrrudyi commented on #13831
+1

[2017-06-09 16:44] hsavit1 opened #14426 "What happened to the old MapView component?"
I've recently upgraded a project to RN 0.45, and I've had to swap out the deprecated MapView component for the AirBnB MapView component, which is unreliable. The deprecated MapView doesn't exist in the react-native-deprecated-custom-components library. Is it stashed somewhere else?

[2017-06-09 16:50] cronos88 opened #14427 ""Warning: SceneView has a method called shouldComponentUpdate()", used with react-native-router-flux"
In react-native v0.45.0 when is used with react-native-router-flux v3.39.2, show the following warning in the emulator:

Warning: SceneView has a method called shouldComponentUpdate(). shouldComponentUpdate should not be used when extending React.PureComponent. Please extended React.Component if shouldComponentUpdate is used.

[2017-06-09 16:52] BeginReactNative commented on #14368
same here !

[2017-06-09 16:56] hramos commented on #14423
I have not yet been able to reproduce this, on 0.45, macOS Sierra 10.12.4, Xcode 8.3.3. I have yarn installed, which means the CLI will use it instead of npm-cli, though I don't see any boost package in my `node_modules/`. I am able to launch the app on iOS, though I get a RedBox due to #14246.

[2017-06-09 16:57] hramos commented on #14209
We're now at 0.45, which does have its own issue (#14246). Let's wait for #14246 to be fixed and then I'll recommend you use 0.45.

[2017-06-09 17:00] hramos commented on #14426
The `react-native-deprecated-custom-components` package is for JavaScript components only. The `MapViewIOS` component requires native code. It was deprecated some time ago, and was finally [removed entirely in 0.44](https://github.com/facebook/react-native/releases/tag/v0.44.3).

The recommendation is to use the Airbnb MapView library, and file any issues you may find directly in their repo.

[2017-06-09 17:00] #14426 closed

[2017-06-09 17:00] brennanerbz commented on #10765
Any update on this?

[2017-06-09 17:02] hramos commented on #14420
Thanks for sending the PR!

[2017-06-09 17:03] hramos commented on #14421
Can you please fill out the template?

[2017-06-09 17:03] #14421 closed

[2017-06-09 17:03] hramos commented on #14424
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:03] #14424 closed

[2017-06-09 17:03] hramos commented on #14427
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:03] #14427 closed

[2017-06-09 17:04] hramos commented on #14419
We really need more information here. "Create iOS project" is too vague.

[2017-06-09 17:04] hramos commented on #14418
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:04] #14418 closed

[2017-06-09 17:04] hramos commented on #14417
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:04] #14417 closed

[2017-06-09 17:05] xsgkaka commented on #11042
i got the same problem

[2017-06-09 17:05] hramos commented on #14415
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-09 17:05] #14415 closed

[2017-06-09 17:06] hramos commented on #14410
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:06] #14410 closed

[2017-06-09 17:06] hramos commented on #14409
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-09 17:06] #14409 closed

[2017-06-09 17:23] idibidiart opened #14429 "flexWrap has definite, reproducible buggy behavior (!)"
## Reporting Bugs

Since issue #8960 has so many bugs some of which turned out to be normal behavior per the Flexbox spec, I figured we need a new issue that focuses on an actual, definite bug

Here is the issue, first reported by @EyalSi

I've made a simple version of the code posted by @EyalSi in #8960  that shows an interesting definitely buggy behavior:

The only difference in the two screens

[2017-06-09 17:25] prateekewl commented on #4968
I tried all above methods but still getting the same error
Anyone else found the solution?
<img width="441" alt="screen shot 2017-06-09 at 18 24 56" src="https://user-images.githubusercontent.com/9169500/26986794-fc76f624-4d40-11e7-8c39-40886ee4db61.png">

[2017-06-09 17:30] MattFoley commented on #12103
Navigation is a big component of any well built mobile application. The React Native team punting this to third party developers is not a good omen.

At the very least, it seems like it would be useful to provide a migration guide for users who have built applications on top of Navigator, rather than just removing it from the documentation.

[2017-06-09 17:33] shubhomoy commented on #12717
Nope. Still no effect on multiline. updated to RN 0.45. Using Samsung Galaxy S6. Works fine in Google Keyboard though.

[2017-06-09 17:35] vendramini commented on #12717
Same here. Updated and no effect on multiline.

[2017-06-09 17:58] shubhomoy commented on #12717
This is a serious issue..not able to publish the app due to this.
@nikolay-radkov tried your code too. works fine but its inserting 2 newlines successively plus cursor remains in the same position when inserting new line from the middle of the text.

[2017-06-09 18:06] vendramini commented on #12717
@shubhomoy to prevent the 1 newlines, you should debounce the function because some Android's version dispatch it twice. I did:

On constructor:
[code]
The _onSubmitEditing function:
[code]
On TextInput: `onSubmitEditing={this.onSubmitEditing.bind(this)}`
For the position issue, try what @BCGen said above. I didnt yet.

[2017-06-09 18:30] cronos88 commented on #14427
Thanks

[2017-06-09 18:31] chriscohoat commented on #11480
@wookiem's solution worked for me..I needed to select the virtual machine's settings, click options, click applications, and then disable sharing of windows applications with Mac:

<img width="689" alt="screenshot 2017-06-09 12 28 33" src="https://user-images.githubusercontent.com/566461/26989220-7c5b010a-4d0f-11e7-8238-4392b9128bdf.png">

[2017-06-09 18:31] cronos88 opened #14430 "SceneView has a method called shouldComponentUpdate() with React-native-router-flux"
Description:
---------------
In the emulador appear this warning:

Warning: SceneView has a method called shouldComponentUpdate(). shouldComponentUpdate should not be used when extending React.PureComponent. Please extended React.Component if shouldComponentUpdate is used.

Reproducing Bug:
------------------------
1. Create a new project: react-native-cli init test
2. Install react-native-router-

[2017-06-09 18:47] lslima91 commented on #14189
@avencat updating to 0.45 solved it for me

[2017-06-09 18:56] shubhomoy commented on #12717
thanks @vendramini for the debounce tip. Did the trick.
As far as the position issue from middle of the text is concerned, I found a dirty trick...
here's my code

In constructor
`this.onSubmitEditing = this.onSubmitEditing.bind(this);`

Inside class
[code]
In render function
[code]

[2017-06-09 19:19] brentvatne opened #14431 "Add PlatformConstants.ServerHost for iOS to support react-devtools on device"
### Description

As described in [this issue](https://github.com/react-community/create-react-native-app/issues/124#issuecomment-307475949), react-devtools works great for iOS and Android in simulator/emulator, but only works on device on Android. I believe this is because `PlatformConstants.ServerHost` is not implemented on iOS, so it always falls back to attempting to connect to localhost, and t

[2017-06-09 19:19] parkerdan commented on #10360
The path to the server is not found.  Just re-start the server manually by `cd { your project }` `npm start`

[2017-06-09 19:37] johnschimmel commented on #12492
looks like new API setAccessibilityFocus to a react component is coming soon in 0.46, <http://facebook.github.io/react-native/releases/0.46/docs/accessibilityinfo.html#setaccessibilityfocus>

[2017-06-09 19:45] beaudry commented on #13870
Since you change only the height value, I suggest you use the [Animated API](https://facebook.github.io/react-native/docs/animated.html)

[2017-06-09 20:19] hramos commented on #14429
Do you have a Snack that easily reproduces this?

[2017-06-09 20:19] hramos commented on #14430
Can you provide more details? I think step 3 is a bit vague.

[2017-06-09 20:31] kamaljit-sharma commented on #2962
@Hkmu thank you very much, your solution worked for me :+1:

[2017-06-09 21:05] #13257 closed

[2017-06-09 21:11] gaearon commented on #14431
We’re going to look at this with @javache.

[2017-06-09 21:12] javache commented on #14431
In some places we use [getDevserverUrl](https://github.com/facebook/react-native/blob/292cc82d0ebc437a6f1cdd2e972b3917b7ee05a4/Libraries/Core/Devtools/getDevServer.js). It sounds like we should merge that with ServerHost, which is only exposed on Android right now.

[2017-06-09 21:22] agentilela opened #14434 "TextInput AutoFocus Prop Causes Jest to Crash"
### Reproduction Steps and Sample Code

Broken Test File
[code]

Broken Jest Output
[code]

Working Test File
[code]

Working Jest Output
[code]

### Additional Information

Not 100% sure whether this was a bug with react-native or Jest, but just wanted to make you guys aware. Up until now, I am able to run the app properly without any errors, only tests fail. I will keep digging and see if I can

[2017-06-09 21:44] davidgross commented on #10865
Just ran into this today, would really like to have a resolution for our project.

[2017-06-09 22:02] MattFoley opened #14436 "NativeComponents iOS Documentation - RCT_CUSTOM_VIEW_PROPERTY"
### Description

The RCT_CUSTOM_VIEW_PROPERTY example for RNTMap no longer functions, and isn't properly explained.

[code]

The native RNTMap class does not exist, and prior to this is not mentioned at all throughout the tutorial. It is however created later on when describing event handling, although the creation of it is not explained.

Side note, why does RCT_CUSTOM_VIEW_PROPERTY supply "json"

[2017-06-09 22:16] cronos88 commented on #14430
I don't know what additional info do you need. If you say me what info do you need then I put them here.

[2017-06-09 22:37] hramos commented on #14246
This is now fixed as of 0.45.1, thanks to @skevy.

Run `npm install react-native` to install the latest version which is now 0.45.1, or run `npm install react-native@0.45.1` if you want to be explicit.

If you were targeting the RC, you can install `0.46.0-rc.2`: `npm install react-native@0.46.0-rc.2`.

[2017-06-09 22:37] #14246 closed

[2017-06-09 22:38] hramos commented on #14430
The contents of your App.js would be a good start.

[2017-06-09 22:48] hramos commented on #14436
`MapViewIOS` was removed a couple of versions ago. No one has touched this guide in a while, so unless someone volunteers to get it back up to date, we'll probably end up removing it from the docs.

[2017-06-10 00:34] untungs commented on #10865
In my project this red screen doesn't appear for non-debug build and the web page I'm using still works without any issue. While in debug build I could just dismiss the red screen and continue. But It's kinda annoying and who knows when an issue's gonna popping up in non-debug build. Please fix.

[2017-06-10 01:04] cinder92 commented on #14417
same issue here! whats going on with latest react native release? is fully os issues in both platforms :(

[2017-06-10 01:05] fuxianwei commented on #14368
+1

[2017-06-10 01:39] kapilratnani commented on #12495
I copied the code from react and created a Native Module for my project. I think it should be fixed in react.

[2017-06-10 01:40] idibidiart commented on #14429
@hramos

here is the buggy version:

https://snack.expo.io/SkhAnauGZ

same code without the bug with only difference being the last Text is "test test" instead of "test"

https://snack.expo.io/BkQtnTOG-

Expo in the Snack simulator fails to load sometimes so if that happens just reload it inside the simulator.

[2017-06-10 01:43] postace commented on #14368
+1 Same here,
When run command run-ios, I didn't see the packager terminal open up.
So I follow the above instructions, downgrade react-native to 0.44.0 and wala, it works

[2017-06-10 04:20] tushar-singh commented on #4099
use `flexGrow: 1` instead of `flex: 1` – works like minheight, much like what you want.

[2017-06-10 04:58] musicode commented on #14368
+1

[2017-06-10 05:30] outaTiME commented on #1831
It is impossible to have a smooth scroll in large lists using ListView / FlatList / VirtualizedList / WindowedListView (whatever) in old hardware like iPad 3 / iPad Mini running iOS 9.x.

Note: I'm talking about flat lists, no images, only text components in rows.

Someone could share a functional example with a dataset of 7000 records where the scroll is smooth and not be choppy, im try all attri

[2017-06-10 06:03] lprhodes commented on #1831
Agreed - I'm clearing out-of-view cells too for memory management. It's a shame that such an essential component in many apps is so lacking in performance for a lot of use cases. I'll be diving deep into it in the next week or so to see if there's any significant performance gains to be made.

On 10 Jun 2017, 3:30 PM +1000, Ariel Falduto <notifications@github.com>, wrote:

[2017-06-10 06:09] outaTiME commented on #1831
Awesome @lprhodes, here I share a simple use case using FlatList with ~ 200 records, this example is choppy on an iPad 3 with iOS 9.

[code]

or expo uri: [exp://8v-xvw.outatime.skillcase.exp.direct:80](url)

Thanks !!!

[2017-06-10 07:20] denghejun opened #14438 "Is there a way to import jsx file in react native?"
Like this:

`import TestComponent from 'Test.jsx'`

[2017-06-10 07:39] renehauck commented on #14438
How you export "TestComponent"?

You can do this (based on your component-export):

`import TestComponent from 'Test'`
or
`import * as TestComponent from 'Test'`
or
`import {TestComponent} from 'Test'`

[2017-06-10 07:44] denghejun commented on #14438
@renehauck
NO, I mean import a jsx file is not support in react native.

[2017-06-10 07:47] mocanSergiu666 commented on #14078
Actually I've forgotten, sorry. But I guess the problem was that the phone had not direct net access to the computer when I was working in debug mode through usb. You need to do so that phone and computer can have net access to each other. With phone you connect to wifi and in dev settings you specify the ip address and port of the machine. Port usually is 8081. I hope that one was the solution.

[2017-06-10 07:48] renehauck commented on #14438
Ah... sorry....maybe [this](https://github.com/airbnb/javascript/issues/982) help

[2017-06-10 07:50] sahrens commented on #1831
Your example code has many bad practices that are addressed in the documentation. For example, you are recreating and rebinding functions constantly, which is a tax on the CPU and causes unnecessary re-renders of your list items. You should make sure your ListItem component is a PureComponent, and make sure all the props passed to it remain shallow-equal to prevent unnecessary re-renders. It's goo

[2017-06-10 08:23] pran-i317 commented on #13076
+1

[2017-06-10 08:44] MrLoh commented on #10865
Is this gonna be fixed, it's super annoying and there are plenty suggestions for a solution?.

[2017-06-10 08:48] jdeibe commented on #14417
Same error for me but after a cleanup all works.

[2017-06-10 08:48] WhoJave commented on #14423
@srijak I also come across this error , Im trying your solution now

[2017-06-10 09:11] dioxide commented on #14382
same issues ,   look:
![screen shot 2017-06-10 at 16 23 36](https://user-images.githubusercontent.com/2282840/27001570-e0c9d468-4dff-11e7-9298-695279f1d3c4.png)

[2017-06-10 09:12] jasan-s opened #14439 "running on device takes ~1 min to load after it states running on device using xcode and won't even load through CLI"
`react-native run-ios --device "iPhone" ` does not do anything on device.
However build and run through Xcode runs the app but after being stuck on launch screen for approx. ~1 min. Additionally in simulator the app launches within 10sec
`react-native run-ios --device "iPhone"  --configuration Release` works as it should.

I expect it to launch through CLi using the pre-bundle js.  and In Xcode it

[2017-06-10 10:20] linnett commented on #14334
+1

This problem occurs also when there are multiple physical devices running hot reload. The only one that updated is the last one you enable

[2017-06-10 10:23] smartdevth opened #14440 "[Webview] startInLoadingState={true}"
I have an issue with startInLoadingState={true} on first load on web view (only iOS) it broke some javascript related to scroll position but when startInLoadingState is disable, everything is fine. I saw that the code in WebView.ios.js set Webview hidden when startInLoadingState is enable with style height=0. I think this causes the problem.

NOTE: #{html_element_id} at the end of url won't scroll

[2017-06-10 10:48] rochadsouza commented on #14368
+1

[2017-06-10 11:43] dotansimha commented on #11508
This error is not your main error, it's just a side effect of a failed build.
The `CFBundleIdentifier` is not found, because in most of the times the `Info.plist` does not exists at all, but the react-native packager still try to execute the app, causing this error to show.

Few tips to debug this issue:
* Update your XCode to the latest version.
* Look at the log - in most of the times you will s

[2017-06-10 12:02] nico1510 commented on #14326
I think I have something related to this. I'm using [react-native-fbsdk](https://github.com/facebook/react-native-fbsdk) and when using `CxxBridge` the project doesn't compile and shows a warning 'non portable path to file Math.h' and an error and doesn't find the `limits` import (limits file not found).
When using the `BatchedBridge` everything compiles.

[2017-06-10 12:35] RichardLindhout commented on #14438
I ended up renaming all files to js with a command and ignore eslint warnings when having jsx in js files.

[2017-06-10 12:42] basith374 opened #14441 "DNS Cache Issue"
### Description

I have migrated my server to a different host. The IP has changed and now some of the apps in production is not working(not everyone affected). Not working as in network error caused due to the change in IP address probably.  Especially affected those who are using android with version less than 5(lollipop). Is this issue known or is it something else? I am using react-native v0.3

[2017-06-10 12:47] subsub commented on #5174
@stoffern Now it's working.
Here's how. After asking my friend and he also struggle to find out why, who couldn't help to make it work after all. After he gave up, at the end, I then check all the version:
os (windows 10, same),
node (me: 6.11.0, him: 6.10.3),
npm (3.10.10, same).
I find we all use the same version except node js. I use latest node js v6.11.0 while he uses 6.10.3. So I uninstall n

[2017-06-10 13:15] kyle-ssg commented on #14423
Thanks for the fix @srijak, I was able to reproduce this too since 0.45

[2017-06-10 13:26] antoinerousseau commented on #4968
Looks like https://github.com/facebook/react-native/pull/14412 fixes this
Just got releases through [0.45.1](https://github.com/facebook/react-native/releases/tag/v0.45.1)

[2017-06-10 13:38] louietan opened #14442 "[PickerIOS] Indicator line missing"
### Description

Hi, you all!

When I'm trying to make a custom component by combining several PickerIOS components, I found a strange behavior on PickerIOS that the indicator lines sometimes are disappeared. **Just like this**:

![](https://raw.githubusercontent.com/louietan/PickerIOSIssue/master/demo.png)

### Reproduction Steps and Sample Code

Here is my code. It can't be reproduced using Snac

[2017-06-10 14:31] beeant commented on #934
@brunolemos same here

[2017-06-10 15:00] nsisodiya commented on #934
Cannot believe, this is 2017, and we do not have a solution to this.

[2017-06-10 15:06] Gaafar commented on #13562
Any updates on this issue? any way to clear webview cookies?

[2017-06-10 15:17] neetocode commented on #14430
I'm have a same error warning
Using:
[code]

[2017-06-10 16:11] Gaafar commented on #13562
@telmen, @israelidanny I found a way to delete cookies using this lib https://github.com/joeferraro/react-native-cookies
function: `CookieManager.clearAll`

[2017-06-10 16:27] RWOverdijk opened #14444 "Object.assign enumerable key 0.45.0"
[code]

I updated to 0.45.0 using the `react-native-git-upgrade` command, upon running I encounter the above in the app. I tracked it down to it trying to assign this function:

[code]

to key `$asyncbind`

I don't know what any of this means to be honest.

[2017-06-10 16:47] laurent22 opened #14445 "React-Native appends "charset=utf-8" to HTTP call Content-Type"
### Description

I'm trying to use the Dropbox API with React-Native but when I try to call [filesUpload](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUpload__anchor) I'm getting the following error:

	Error in call to API function "files/upload": Bad HTTP "Content-Type" header: "application/octet-stream; charset=utf-8".  Expecting one of "application/octet-stream", "text/plain; char

[2017-06-10 17:12] dorthwein commented on #11586
See @scarlac response - helpful link on how to sign using configure in Android Studio
https://developer.android.com/studio/publish/app-signing.html

Scroll to the **Configure the build process to automatically sign your APK** section

[2017-06-10 17:14] laurent22 commented on #8237
I'm also having this problem and, while doing some testing, I've tried setting an invalid charset "dropbox-cors-hack" (as I'm testing the Dropbox API) so the request was like this:

    apiRequest = request.post(getBaseURL(host) + path)
      //.type('application/octet-stream;')
      .type('text/plain; charset=dropbox-cors-hack')
      .set('Authorization', 'Bearer ' + accessToken)
      .set('Dr

[2017-06-10 17:17] laurent22 commented on #8237
Based on this comment it doesn't look like it will be fixed on the okhttp side:

https://github.com/square/okhttp/issues/3081

They suggest using the `create` overload that takes a `byte[]` parameter. Can it be done at the React-Native level?

[2017-06-10 17:33] priyansh360 opened #14446 "android multiple Imageview"
package com.darkweb.android.amityaaroh.HomeActivity;

import android.os.Bundle;
import android.os.Handler;
import android.support.v4.app.Fragment;
import android.support.v7.app.AppCompatActivity;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.view.animation.Animation;
import android.view.animation.AnimationUtils;
import android.widget.Im

[2017-06-10 17:50] davebro commented on #6785
+1

[2017-06-10 18:12] danidewitt commented on #14368
+1

[2017-06-10 18:28] thiagovictorino opened #14447 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
I am trying to run a new react-native project but I have an error

My setup
* xCode 8.3.3
* Node v6.11.0
* npm v3.10.10
* react-native v0.45.1

[code]

I tried everything that others similar issues say:

* Change the File->Project Settings->Advanced->Custom changing to  "build/Build/Products"
* Upgrade and update everything
* lsof -n -i4TCP:8081 to kill a process that was running
* react-native up

[2017-06-10 19:22] heckchuckman commented on #13309
Confirming that deleting `package-lock.json` and then running `npm install` clears the issue for me. Thanks!

[2017-06-10 19:29] billpatterson commented on #11696
This is NOT closed in the sense of "solved".  I have this problem, and setting the environment variable had no effect.

[2017-06-10 19:33] yasicmd commented on #11475
Any solution yet? @lacker

[2017-06-10 19:36] brunolemos commented on #934
@srhise @beeant @nsisodiya If [this](https://github.com/facebook/react-native/issues/934#issuecomment-269811544) doesn't show the body to you use [this](https://github.com/facebook/react-native/issues/934#issuecomment-269063769) instead by now

[2017-06-10 19:39] billpatterson commented on #12378
Same here. This is not (only?) a workers-limit problem. Changing that setting has no effect at all on the issue for me.

[2017-06-10 19:52] ronak301 commented on #570
+1

[2017-06-10 20:20] I-ad commented on #11475
if you are not using expo so you can use [react-native-restart](https://github.com/avishayil/react-native-restart),
you can make a condition at the first like if !isRTL then make true and then restart.

[2017-06-10 20:35] naxiaoguang opened #14448 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
** BUILD FAILED **

The following commands produced analyzer issues:
	Analyze /Users/naxiaoguang/File/projects/untitled/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c

	Analyze /Users/naxiaoguang/File/projects/untitled/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c
(2 commands with analyzer issues)

The following build commands failed:
	PhaseScriptExecution Install\ Third\ Pa

[2017-06-10 22:20] MSiddharthReddy opened #14449 "native tabbar ios"
Please read the following carefully. Issues that do not follow these guidelines will be closed.

We use GitHub Issues exclusively for tracking bugs in React Native.

- Have a question? Ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- Have a feature request? Submit it here: https://react-native.canny.io/feature-requests
- Want to know more about future plans? Check ou

[2017-06-10 23:00] rclai commented on #13874
I'm assuming that you also need to update this too?

[code]

[2017-06-10 23:25] lprhodes commented on #1831
@outaTiME you also shouldn't be calling loadFeed on each render

[2017-06-10 23:37] raytorres280 commented on #12120
Currently dealing with same issue.

[2017-06-10 23:39] Mikael491 commented on #14448
What version of RN and NPM are you on? @naxiaoguang

[2017-06-10 23:40] Mikael491 commented on #14447
@thiagovictorino I was able to fix by doing 'npm start' or 'npm run ios' instead... there seems to have been changes in version 0.45

[2017-06-11 01:06] ranjitpandit commented on #11853
Any ideas how to get send progress events on Android with bytesSent?

[2017-06-11 01:54] zphhhhh opened #14451 "When updating to node 8, `npm i` got error"
### Description

After updating to node.js 8.1.0, the `npm i` got the error that `Unexpected end of input at 1:26309`

### Reproduction Steps and Sample Code

[code]

### Solution

### Additional Information

* React Native version: 0.45.1
* Platform: test on Android
* Development Operating System: Windows
* Dev tools:
* **Node.js version: 8.1.0**
* **npm version: 5.0.3**

[2017-06-11 03:14] ganisback commented on #14368
+1

[2017-06-11 03:29] benoitvallon commented on #14417
I have the same error. Cleaning the `node_modules` works for me but the error reappears after every Xcode build. Any idea why?

[2017-06-11 04:57] nsisodiya commented on #934
First hack done not work for me. Second hack do not print headers. All
these are hack. Network Tab should only be the place to see network
requests. I was very surprised to see that we still need to use these hacks
at the year too.

I am using fetch APIs and I want to check whether I am sending cookies or
not. Checking this much taking huge pain.

[2017-06-11 05:07] brunolemos commented on #934
@nsisodiya if that's a need to you, maybe you can dive in to the react native source code and help with a pull request

[2017-06-11 05:13] nsisodiya commented on #934
I wish I could. From last 10 years, I only coded JavaScript. I am pretty
sure, this bug needs Java skills. I am ready to contribute when it comes to
JavaScript.

[2017-06-11 05:37] #14449 closed

[2017-06-11 06:20] nebtrx commented on #14447
Having the same issue here. However, doing `npm start` or `npm run ios` didn't fixed the issue

[2017-06-11 06:36] ray0324 opened #14452 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
node --version
v8.0.0
npm --version
5.0.3
react-native --version
react-native-cli: 2.0.1
react-native: 0.45.1

xcodebuild -version
Xcode 8.3.3
Build version 8E3004b
yarn --version
0.24.6
---------------------------------------
The steps i create my project:
react-native init Tst
...
cd Tst
react-native run-ios

the simulator boots normally,but build failed with errors

----------------------------

[2017-06-11 07:32] huozhenwei commented on #14032
I have had the same problem
If you use a third-party component, change ViewPropTypes.style to View.propTypes.style

[2017-06-11 07:45] beeant commented on #934
@brunobar79 I've been using that other way but it slows down the app when debugging because of `console.log`

[2017-06-11 08:04] forki commented on #13780
Ping. Can someone please help me?

[2017-06-11 09:13] zphhhhh commented on #14451
This helps me:
[code]

[2017-06-11 09:13] #14451 closed

[2017-06-11 09:18] Congrammers opened #14453 "RedBox displayed after "Debug JS Remotely" is disabled"
### Description

So, I build the app using "Debug JS Remotely" Mode most of the time.
After disabled the mode, I face the following error

![screenshot from 2017-06-11 15-34-22](https://user-images.githubusercontent.com/10162227/27009752-8b765e04-4ec8-11e7-8c1b-4782c329752b.png)

This is actually has similar pattern to the error from following issue
[redux-saga render issue](https://github.com/red

[2017-06-11 09:30] nenti opened #14454 "RN 0.45.1 EdgeInsetsPropType undefined is not an object (evaluating 'PropTypes.number')"
[code]
React native 0.45.1 broken for me after updating node_modules folder from 0.45.0 to 0.45.1

[2017-06-11 09:56] sahir commented on #4688
@Cxxxx100  is there any way to ReadableArray as Bundle (initialProps)?

[2017-06-11 10:05] albertaleksieiev commented on #4688
@sahir you can use [my code](https://github.com/albertaleksieiev/react-native-android-extras) and send HashMap from Java as Bundle.

[2017-06-11 10:15] nenti commented on #14454
This is related to new alpha 13 of the react package that breaks the proptypes import.

This was my fault because I installed react alpha manually and it addad `^` automatically. To fix this if you have similar issues change: `"react": "^16.0.0-alpha.12"` to `"react": "16.0.0-alpha.12" to prevent auto update to version 13

[2017-06-11 10:15] #14454 closed

[2017-06-11 10:29] mikenk2010 commented on #14452
Hmmm, it still works from my site. There is my package.json. I think you should clean or reinstall again.

[code]

[code]

[2017-06-11 10:37] sahir commented on #4688
@albertaleksieiev I try to use your code but there is no default constructor available in com.facebook.react.ReactInstanceManager.

[2017-06-11 11:34] kozillla commented on #5823
Have the same issue,

[2017-06-11 11:40] hrubilov commented on #14161
I have the same issue. RN version: v0.45.1

[2017-06-11 12:59] cogmeta commented on #14302
We are into same exact trouble after installing react-native-calendar-picker.

[2017-06-11 13:15] PauloMelo opened #14456 "[FlatList][0.45.1] onEndReached gets called before dataSource being filled"
<FlatList
data={dataSource}
keyExtractor={(_, i) => i}
numColumns={2}
renderItem={({ item }) => this._renderListItem(item)}
onRefresh={() => this.handleRefresh()}
refreshing={refreshing}
onEndReached={() => this.handleLoadMore()}
onEndReachedThreshold={0.3}
/>

onEndReached is called one or two times before the first load ends and data array is filled.
It should only get called when the data is lo

[2017-06-11 13:42] emrehayirci commented on #14302
@cogmeta could you please install it directly from github repository not from npm.

[2017-06-11 14:57] JDansercoer commented on #11834
@hramos I've run in to the same problem. Apparantly, `activeOpacity ` only works if `underlayColor` is explicitly declared. Any idea why?

[2017-06-11 15:45] vampire2610 commented on #11265
same problem when i use space in folder name

[2017-06-11 16:44] Calvin92 opened #14457 "[TextInput] When caretHidden=true, paste event won't trigger ~!"
Is it a bug?  Is there any other ways to enable paste as [caretHidden=false] does?

[2017-06-11 16:49] 13hoop commented on #5054
@julesmoretti
`react-native upgrade` worked

[2017-06-11 16:57] Calvin92 commented on #14457
Well, set SelectionColor equals to a certain value helps me.

[2017-06-11 16:57] #14457 closed

[2017-06-11 17:17] degaray commented on #8401
I have the same problem. It also started when I updated to a newer Android Studio IDE

[2017-06-11 17:44] AndreiCalazans commented on #3199
Does anyone have a permanent solution for this?,
I did use the following command and it works fine, but every time i restart my pc it resets the values.

I have tried editing the maximum queued file itself but i again it always resets.
I am running a Ubuntu 16.10.

[2017-06-11 18:08] jsroyal commented on #8401
Can you post here your log what is problem you facing?

[2017-06-11 19:29] thiagovictorino commented on #14447
Thank you @Mikael491, but it didn't works =(

[2017-06-11 19:44] Mikael491 commented on #14447
@thiagovictorino It looks like you just created the project, try doing 'npm install -g create-react-native-app' and then creating the project with 'create-react-native-app <Project-Name>' like in the docs...this is how I began my solution

[2017-06-11 20:10] thiagovictorino commented on #14447
Hi @Mikael491! This open the new project, but in a very different folder structure (very lean) and with 0.44 react-native version. It could be a partial solution and I am grateful for your help. But I really to to work with "old way" like a official document says.

[2017-06-11 21:28] brennanerbz commented on #13870
Did you find a fix for this? @MyGuySi

[2017-06-11 22:19] outaTiME commented on #1831
@lprhodes render method only executes one, btw i update the code using some best practices and still choppy on an iPad 3 with iOS 9 (in iPhone 7 all goes smooth), I keep doing something wrong @sahrens? thanks for your advice.

[code]

[2017-06-11 22:56] funkjunky opened #14459 "TouchableOpacity shadows don't work"
https://snack.expo.io/SyFucHjMW

See the view has a shadow, but the TouchableOpacity doesn't.

[2017-06-11 22:59] funkjunky commented on #14459
If anyone comes across this for a fix. It's a pain, but you can always just wrap a TouchableOpacity in a View and give that shadows.
https://snack.expo.io/SyFucHjMW

[2017-06-11 23:28] ghuh commented on #8169
This is still a bug as of RN 0.44.3

[2017-06-12 00:17] degaray commented on #8401
I had another process  running on the same port as adb. I killed it and it worked fine.

[2017-06-12 00:24] Rufyi opened #14460 "How to open external YouTube App from WebView"
Is there a way I can open the external YouTube app on my phone if I click on a video from my app, using WebView, or any other way besides WebView.

[2017-06-12 00:45] kid-wumeng opened #14461 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
hi, I created a new project with: https://kylewbanks.com/blog/react-native-tutorial-part-1-hello-react

But it has some error ( it also don't run by xcode )

My mac version: macOS Sierra 10.12.5
xcode: 8.3.3
react-native: 0.45.1
node: 7.6.0
npm:  4.1.2

<details>
 export APPLY_RULES_IN_COPY_FILES=NO
    export ARCHS=x86_64
    export ARCHS_STANDARD="i386 x86_64"
    export ARCHS_STANDARD_32_64_BIT

[2017-06-12 00:59] uandco commented on #11693
I'm on the same boat with onMomentumScrollEnd being triggered on manual scroll only on Android, whereas it's triggered after scrollTo too on iOS. An acceptable workaround would be a scrollTo callback function I guess.

[2017-06-12 01:40] RooneyJung commented on #14456
At initial time, dataSource maybe empty array.
So, It can call onEndReached. (empty = on end reached)
Furthermore, FlatList only knows dataSource's reference not the state.
It means FlatList can't know data is loading, is loaded or is initializing.
So, 'It should only get called when the data is loaded' is not right.
(If FlatList can accept a dataSource as null, it may be right.)

And You have to

[2017-06-12 02:16] RooneyJung commented on #14447
I have the same issue.
Using 'create-react-native-app' and 'npm run eject' is fine. (RN version is 0.44)
But 'react-native init ...' has the problem. (it's RN version is 0.45)

-> 'react-native init ...'
-> remove 'node_modules'
-> change RN version to 0.44 and react version 16.0.0-alpha6 in package.js
-> 'npm install'
is FINE...

But I have really serious problem.
My project that created a month

[2017-06-12 02:55] 136357477 commented on #14461
I have the same problem , who can help me ?

[2017-06-12 02:58] godcheese commented on #14461
I have the same problem,but i have no ideas.

[2017-06-12 03:01] wj495175289 commented on #12494
how to resolve this issue? I can not find the commit?  thanks

[2017-06-12 03:07] Feng999 opened #14462 "negative value of property transform doesn't work on some android 7.0 devices."
RN version:  "0.41.2"
devices:
FRD-AL10（honor 8）  EMUI:5.0      android: 7.0
MHA-AL00(Mate9)    EMUI:5.0      android:7.0

On some android device mentioned before , negative value of transform(e.g.. scaleX  scaleY ) doesn't work.  i found this problem when i'm using  the package of [react-native-invertible-scroll-view](https://github.com/expo/react-native-invertible-scroll-view).  It write like th

[2017-06-12 03:40] wj495175289 commented on #12246
the same issue, i have this problem with RN 0.43.4. how can we solve it?

[2017-06-12 03:48] jsroyal commented on #8401
@degaray Good . GO for it.

[2017-06-12 03:52] troyz commented on #14368
+1

[2017-06-12 03:53] Alonexx commented on #11680
On master branch, okhttp was reverted to 3.6.0. Anybody can tell me why making this change? OkHttp 3.8.0 release recovers a bug gracefully on Huawei devices running Android 7.0 which can cause app crash . Can master branch work with OkHttp 3.8.0 well ?

[2017-06-12 04:54] Ian8829 commented on #14461
Also.. Pls help me with some ideas.

[2017-06-12 05:07] varungupta85 commented on #8169
This actually is a bug in the iOS itself. I can easily reproduce this problem in the native Reminders and Calendar app.

[2017-06-12 05:50] sahrens commented on #1831
Better, but setting `debug` will slow things down a ton. You should also make sure you're running an optimized production build, not a dev / debug build, when evaluating performance. Lastly, you're still creating a new style object every render, and you can use initialScrollPosition instead of calling scrollToOffset in onMount.

[2017-06-12 06:05] naxiaoguang commented on #14448
"dependencies": {
		"react": "16.0.0-alpha.12",
		"react-native": "0.45.1"
	},
	"devDependencies": {
		"babel-jest": "20.0.3",
		"babel-preset-react-native": "1.9.2",
		"jest": "20.0.4",
		"react-test-renderer": "16.0.0-alpha.12"
	},

npm : 4.2.0

[2017-06-12 06:06] sharkrice commented on #14368
+1

[2017-06-12 06:14] Sxiaobai opened #14463 "undefined is not an object (evaluating 'RCTToastAndroid.SHORT')"
undefined is not an object (evaluating 'RCTToastAndroid.SHORT')

[2017-06-12 06:24] simonracz commented on #11680
Here is the commit. Can't find an explanation. https://github.com/facebook/react-native/commit/3af9be52b272b767b480ed4f989ddfd6146a56f8

[2017-06-12 06:26] albertaleksieiev commented on #4688
@sahir I apologize for potential version mismatch. Can you please send code where you use `com.facebook.react.ReactInstanceManager` constructor?

[2017-06-12 06:31] sduqlsc commented on #11027
@mattijsf glad to hear that. 👍

[2017-06-12 06:59] Liqiankun commented on #13010
@yanush I did see the libjschelpers.a file!

[2017-06-12 07:09] Liqiankun commented on #13010
@bosung90  It works for me! Thank you a lot!

[2017-06-12 07:23] Liqiankun commented on #13874
@Benjamin-Dobell Thank you !

[2017-06-12 07:33] probedb commented on #10865
Just ran into this today too. I can see the website load in the app and then I get this error. Has completely halted work on our app.

[2017-06-12 07:37] arunkumarrmrj commented on #14415
Ok You will send exact answer link

[2017-06-12 07:43] avencat commented on #14189
@lslima91 I will test it then! 😃 Thanks for the feedback! :)

[2017-06-12 08:01] patwaswapnil commented on #7009
Try this workaround -

`gradlew assembleRelease --console plain`

[2017-06-12 08:14] PauloMelo commented on #14456
I am sorry but I do not agree with your reasoning.

At initial time, dataSource may be empty or not. It may even be null.
The API states that onEndReached is called once when the scroll position gets within onEndReachedThreshold of the rendered content.
So if dataSource is null or an Array with 0 size it cannot be called because ScrollIndex is 0 and onEndReached is not at x% of TotalListHeight. Th

[2017-06-12 08:38] phamios commented on #12397
I got the same this error , please let me know how to resolve this problem. thanks so much

[2017-06-12 08:57] lslvxy commented on #14461
the same with you

[2017-06-12 09:05] ben-snaize opened #14464 "Could not list contents of '/third-party/glog-0.3.4/test-driver' - Android Release"
**Scenario**
When creating an Android release APK, the error `Could not list contents of '/Users/user/project/node_modules/react-native/third-party/glog-0.3.4/test-driver'` is encountered which causes the build to fail.

**Steps to Reproduce**
`npm i react-native@0.45 --save`
`cd android && ./gradlew assembleRelease && ./gradlew installRelease`

There is a folder named `third-party-podspecs` that

[2017-06-12 09:11] carlesnunez commented on #7474
Any updates on this?

[2017-06-12 09:12] naxiaoguang commented on #14461
me too too too too ... ! no zuo no die !

[2017-06-12 09:37] pvinis commented on #14442
try with this https://github.com/facebook/react-native/pull/13342

[2017-06-12 09:42] ferologics opened #14465 "Undefined symbols for architecture arm64: linker command failed with exit code 1"
### Description

After updating React Native and related Cocoapods, the project broke.
[code]

### Reproduction Steps
Have a project with ton of Obj-C, Swift and React Native code, upgrade your React Native with `react-native-git-upgrade`.

### Solution
Tried to clean module cache and derived data unsuccessfully.
Updated to the latest Cocoapods version. Deintegrated -> Installed -> Updated all pod

[2017-06-12 09:58] RooneyJung commented on #14456
I am sorry. I was rash. I just focused 'loaded' meaning. It's my fault.
So, I tested some codes with FlatList, and I have a question.
Is the refreshing property false before loaded?
If refreshing is true, it triggers onEndReached in my tests.
(tested with RN 0.44, currently I can't test with RN 0.45. It has some issues can't run-ios)

[2017-06-12 10:05] javache commented on #14326
For google-ability. This issue also manifests itself as:

Non-portable path to file '<String.h>; specified path differs in case from file name on disk.
No member named 'memcpy' in the global namespace
No member named 'memmove' in the global namespace

[2017-06-12 10:12] ferologics commented on #14465
I must have changed the scheme build configuration on auto-generating from `release` to `debug`. The scheme's Pod subspecs didn't include `"DevSupport"`, hence the error. Issue solved and moving on, cheers :))

[2017-06-12 10:12] #14465 closed

[2017-06-12 10:19] MyGuySi commented on #13870
I haven't had time to try the suggestion above so no progress yet

[2017-06-12 10:27] GideonLiu commented on #13010
@jeanregisser   It works for me! Thank you a lot!

[2017-06-12 10:27] MrLoh commented on #10865
the solution from @kyle-ilantzis works well. I just wrote a patched WebView class for myself, feel free to use. This class also automatically JSON encodes and decodes the messages.

[code]

[2017-06-12 10:58] wh-Coder commented on #14461
also HELP!!!!!!!!!!!!!!!!!!!!!

[2017-06-12 11:17] camellieeee opened #14466 "Have any idea to get this special effecte? (Include ScrollView, StickyHeader and ScrollTab)"
![scrollview10](https://user-images.githubusercontent.com/18331008/27031366-99c86ba2-4fa2-11e7-8d77-5a0fc5dfdd58.gif)

[2017-06-12 11:32] HaseebYousaf commented on #14461
me too!

[2017-06-12 11:33] HaseebYousaf commented on #14423
+1 same here!

[2017-06-12 11:34] HaseebYousaf commented on #13895
+1

[2017-06-12 11:34] wh-Coder commented on #14368
lol same here

[2017-06-12 11:46] aqnaruto commented on #14154
@deepaksisodiya it is not work on rn 4.4 ios.  but android works well

[2017-06-12 11:49] JobsSteve opened #14467 "0.45.1 crash Android app when try to launch"
When I shake my android phone to try to show the popup menu, my App crashed for below errors:

06-12 18:24:31.988 30153-30153/com.dhc.abox.cconsole E/art:   objectSize=512 (412 from super)
06-12 18:24:31.988 30153-30153/com.dhc.abox.cconsole E/art:   access=0x0000.0001
06-12 18:24:31.988 30153-30153/com.dhc.abox.cconsole E/art:   super='java.lang.Class<java.lang.Object>' (cl=0x0)
06-12 18:24:31.98

[2017-06-12 11:50] JobsSteve commented on #14467
0.45.0 is OK. Hope for anyone's tips or help. Thanks.

[2017-06-12 11:54] HaseebYousaf commented on #14404
downloaded and replaced boost_1_63_0.tar.gz in the .rncache folder. It seem to fix the problem for me.

[2017-06-12 12:00] nsisodiya commented on #14154
For me `include` is working on both.

On ios, if you close the app, cookie will be deleted. So you need to save
Cookie on AsyncStorage.

[2017-06-12 12:17] sarahmarciano commented on #4099
Thank you so much @tanguyantoine!! you saved my day!!

[2017-06-12 12:43] kitolog commented on #1190
+1

[2017-06-12 13:17] danikenan opened #14468 "assets other than fonts are not being linked"
Only font assets are collected and linked using `react-native link`. All other files are ignored.
[code]
The other files can be in the same directory as the fonts or other directory.

[2017-06-12 13:33] BaluRaut-oabstudios commented on #14468
Can you give list of file names you are saying ignoring.

[2017-06-12 13:37] AvishyBD commented on #2825
check out this: #12241

Hope this helps...

[2017-06-12 13:49] Kerumen commented on #11834
@hramos This should be reopened. The issue has 13 upvotes and is still not working on the latest React Native. Can you reconsider?

[2017-06-12 14:00] jcharlet commented on #9348
hi @aleclarson , do you have some code to share to show how to write data on native side to handle app termination as you explained..? I'm using asyncStorage at the moment to store data, and I have no idea how to access/store stuff on native side. Any hint/ things you would recommend looking at?

[2017-06-12 14:16] viettranx commented on #14368
This is a stupid issue. We can resolve it by moving react native project to a folder path without white space characters.

For ex this path will not work in RN 0.45.x: /User/viettranx/React Native/DemoApp

The reason is in where RN build the app, it export command was wrong:

`export SCROOT=/User/viettranx/React Native/DemoApp`

The right syntax must be
`export SCROOT=/User/viettranx/React\ Native

[2017-06-12 14:53] PauloMelo commented on #14456
Sorry if I sounded harsh.
The refresh property is false before loading the data.

[2017-06-12 14:59] irrigator commented on #14368
@viettranx But mine does not contain any space characters.

[2017-06-12 15:47] sospedra commented on #14461
From my previous experience with CFBundleIndentifier problems (see #7308) it's the xcode version. Problem is our Apple friends enforced the last xcode upgrade (8.3.3) you only have two options: use the last one or not use xcode at all :/

[2017-06-12 15:48] ramosalx1504 opened #14471 "Init app project crash only on android 7.0 when try to launch."
new react-native **init** project crash **only** on android 7.0 emulator when try to launch.

I'm using

- "react": "16.0.0-alpha.12",
- "react-native": "0.45.1"

## Additional info:

- In the other versions of android it works normally.

- I have applications made with react-native in the Google App Store and are currently blocking only on devices with android 7.0

avd logcat :

ActivityManager:

[2017-06-12 15:54] viettranx commented on #14368
@irrigator it seems file /Users/zjy/.rncache/boost_1_63_0.tar.gz could not unpack. You can check it or try removing rncache.

[2017-06-12 15:55] 1c7 opened #14472 "Why Webview only work when it's the root element? is this expected behavior?"
package.json
[code]
## it's root: working

![image](https://user-images.githubusercontent.com/1804755/27042723-6a3509c2-4fca-11e7-8663-f4b5b6f0cb95.png)

## it's nested: not working
![image](https://user-images.githubusercontent.com/1804755/27042783-959c5f16-4fca-11e7-99fd-7cb137be7013.png)

# Env
![image](https://user-images.githubusercontent.com/1804755/27042864-d0d38fa0-4fca-11e7-92ca-13239d010

[2017-06-12 16:11] irrigator commented on #14368
@viettranx Tried that before, does not work. Still get the same error.

[2017-06-12 16:12] irrigator commented on #14368
Does it work on your machine? RN 0.45 with Xcode 8.3.3?

[2017-06-12 16:15] viettranx commented on #14368
@irrigator yes.

XCode: 8.3.3
React Native: 0.45.1
React: 16.0.0-alpha.12

[2017-06-12 16:21] dsimmons commented on #10712
Ditto, can confirm that I'm still seeing this on RN v0.45.0 (latest).

It's not apparent to me if this is intended behavior based on the corresponding underlying native capabilities, or rather an unintentional discrepancy.

I'd just like to add that it certainly makes achieving a consistent layout between both platforms challenging, in achieving parity with pre-designed screens. I've resorted to d

[2017-06-12 16:44] cyprusglobe commented on #14342
I ended up trying this

```sudo xcode-select -s /Applications/Xcode-beta.app/Contents/Developer ```

which worked

not sure if its the best approach though.

[2017-06-12 16:47] cliren commented on #11781
I am running into the following error and have setup a simple example for anyone to advise what's going wrong here: https://github.com/cliren/RNIntegration.

Using cocopods version: 1.1.1 (can't upgrade due to exiting app's dependency). Appreciate any help!

[code]

[2017-06-12 16:48] bbrodsky commented on #14368
@viettranx been following along. Your suggestions cleared up my errors that mimicked @irrigator , but now I am facing this one:

/Users/.../node_modules/react-native/third-party/boost_1_63_0/boost/config.hpp:30:12: 'boost/config/user.hpp' file not found

My project was working fine on RN 0.44.2, React: alpha.6

[2017-06-12 16:52] ToniChaz commented on #13390
I have the same problem

_Cannot find module 'react/lib/ReactComponentTreeHook' from 'ReactDebugTool.js'_

[code]
react-native-git-upgrade --> 0.2.7
node --> v8.1.0
npm --> 5.0.3

Any idea?

[2017-06-12 16:58] tushar-singh commented on #14466
You can implement this by listening to [`onScroll`](https://facebook.github.io/react-native/docs/scrollview.html#onscroll) on [`ScrollView`](https://facebook.github.io/react-native/docs/scrollview.html) and use `NativeModules.ScrollViewManager.getContentOffset` to get pixels from top. With that you should be able to calculate when to change header content/style

If you're not interested in impleme

[2017-06-12 16:58] viettranx commented on #14368
@bbrodsky pls check /Users/.../node_modules/react-native/third-party/boost_1_63_0/boost/config folder. It include file user.hpp although it empty (but comment lines).

May be it was an issue about unpacking or caching file.

[2017-06-12 16:59] wschurman commented on #14391
Seeing this as well. Commenting to bump.

[2017-06-12 17:10] kingbin commented on #14399
The following has fixed the double-conversion errors for me by removing ~/.rncache, cleaning the ios project(Product->Clean), cleaning the build folder(option + Product -> Clean Build Folder...) and kicking off the packager with npm start -- --reset-cache. I believe the problem is in cached files in ~/.rncache.

[2017-06-12 17:17] adrianlemess commented on #13884
I had the same issue too!
![image](https://user-images.githubusercontent.com/12432777/27046158-bf03bf08-4f79-11e7-8b41-5d411203fdea.png)

I don't want the bottom line!

Additional Information

React Native version: latest RC
Platform: Android
Development Operating System: Windows
Dev tools: VSCode

[2017-06-12 17:19] bbrodsky commented on #14368
@viettranx ya, the folder is empty...

[2017-06-12 17:25] viettranx commented on #14368
Just remove third-party folder, it will re-download and unpack with `react-native run-ios` command.

[2017-06-12 17:29] adrianlemess commented on #11042
Same problem here, when I'm using borderTopRightRadius and to make a semi circle. When I'm put borderTopWidth, borderRightWidth and borderLeftWidth with value and borderBottomWidth 0, the border disappear. And if I'm just put borderWidth: value and borderBottomWIdth: 0 the border bottom showing again:
![image](https://user-images.githubusercontent.com/12432777/27046603-753a787e-4f7b-11e7-84d7-5b6d

[2017-06-12 17:37] bbrodsky commented on #14368
@viettranx That fixed it for me. Thanks!

[2017-06-12 18:15] SBShane commented on #14368
@viettranx Worked for me too. Annoying, but at least it works now. Thanks!

[2017-06-12 18:16] miuel commented on #12720
hey I have the same error, did you find the solution ?
same Xcode 7.3.1
Build version 7D1014
@eremzeit what do you mean when you said "Movie" ?

[2017-06-12 18:21] hsavit1 commented on #14426
@hramos the AirBnB MapView component does not work at all. They take what seems like MONTHS to reply to issues. There's even an issue titled ["Is airbnb still on this project?"](https://github.com/airbnb/react-native-maps/issues/1280)

For that reason i see this solution as pretty unacceptable.  I have no options now.

[2017-06-12 18:29] Jhonte commented on #12967
Wow thanks this was driving my nuts...  Had tried all kinds of combinations and had really weird behavior with watchPosition where the marker sometimes went going 1 km in a straight direction...

The constants are explained here for example https://developer.apple.com/documentation/corelocation/kcllocationaccuracybest (the better accuracy the more battery drain).

Guess it maybe is valid to reset

[2017-06-12 18:37] mdrohmann opened #14473 "TransformPropTypes documentation is not showing up in website menu"
It took me a while to find the support for transformations on the website:

Through the website search I could find the permalink:
http://facebook.github.io/react-native/releases/0.46/docs/transforms.html#transforms
where the "Prev" arrow button links to the LayoutProps and the "Next"-arrow button to the ShadowProps documentation.  But the documentation on "transforms" does not appear in the menu

[2017-06-12 18:43] harley commented on #14461
@kid-wumeng it's like one or more of your tar balls may not have been downloaded/extracted properly. check `~/.rncache` and removing the double conversion tar or just remove the whole folder and try `yarn install` then `react-native run-ios` again?

[2017-06-12 18:46] gregblass commented on #12310
If there is a lot of rendering going on, there is bound to be a delay. I'm experiencing this as well. Is there a recommended method to delay rendering of certain things until after the modal is shown?

[2017-06-12 18:46] faure-finimize opened #14474 "Submodule depends on Node only package and packager can't find it"
In order to avoid code duplication, I have inserted my React/Redux web application inside my React Native directory. This way, I should be able to import the Redux store and use it in my React Native application.

The packager doesn't seem to like the submodule and it's complaining with the following message.

![image](https://user-images.githubusercontent.com/24221728/27049543-948aa204-4fa7-11e7-

[2017-06-12 19:21] gadfil commented on #13758
+1
on device all fine
on emulator same error

[2017-06-12 19:27] AlanRussoDev commented on #14461
me too! HELP !!!!

[2017-06-12 19:53] woodwoodchow commented on #14461
as @harley mentioned, in version0.45, there are three third-party-lib should be download, `boost_1_63_0`  `double-conversion-1.1.5` and `glog-0.3.4`. You can download the `tar.gz` yourself and move to `~/.rncache`. when you run `react-native run-ios` it will be unzip to `node/modules/react-native/third-party` and build them.
the most important: do not close Xcode when you see `Running 1 of 3 custo

[2017-06-12 19:58] outaTiME commented on #1831
@sahrens yup without the `debug` flag and with optimize production build runs better less choppy, as I said before I'm using expo 17 which uses react-native 0.44, I guess the new version of react-native (0.45) has improvements on the `FlatList`.

btw, why styles create in every render? in this case the render with the `flex` styles (in `Feed` component) are executed only once:

1. `App` render
2.

[2017-06-12 20:37] ctxdl commented on #6679
Can confirm error still happens in 0.45.1

[2017-06-12 20:44] hramos commented on #11834
@Kerumen I've reopened the issue. If people are still running into this, I highly suggest submitting a PR with a fix. Otherwise the issue may get closed again after a period of inactivity.

[2017-06-12 20:46] peacechen commented on #14302
Thanks @emrehayirci, this was exactly the problem I encountered.  Pointing to the latest version of react-native-calendar-picker (the Github repo) works because the React dependency has been moved to devDependencies.  Stephy should publish the latest version on npm to avoid this common error.

[2017-06-12 20:50] hramos commented on #14439
It sounds like you're reporting multiple issues. Can you edit your original post and ensure it follows the new issue template? That will help clarify what exactly is being reported. Thanks!

[2017-06-12 20:50] #14440 closed

[2017-06-12 20:50] hramos commented on #14440
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:50] hramos commented on #14441
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:50] #14441 closed

[2017-06-12 20:52] hramos commented on #14444
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:52] #14444 closed

[2017-06-12 20:53] hramos commented on #14445
As this involves a third party library, can you try and reproduce this using `fetch()`? If RN is modifying the request in the way you describe, then the behavior can likely be observed using `fetch()`.

[2017-06-12 20:53] #14446 closed

[2017-06-12 20:54] hramos commented on #14447
Can you confirm that 0.45.1 is being used here? The issue you're describing was present in 0.45 but should have been fixed.

[2017-06-12 20:54] hramos commented on #14448
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:54] #14448 closed

[2017-06-12 20:55] hramos commented on #14452
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:55] #14452 closed

[2017-06-12 20:55] hramos commented on #14456
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:55] #14456 closed

[2017-06-12 20:55] hramos commented on #14460
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-12 20:55] #14460 closed

[2017-06-12 20:56] #14463 closed

[2017-06-12 20:56] #14466 closed

[2017-06-12 20:56] hramos commented on #14467
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:56] #14467 closed

[2017-06-12 20:57] hramos commented on #14468
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-12 20:57] #14468 closed

[2017-06-12 21:09] dsn5ft commented on #12025
I think this would be very helpful for integrating React Native into existing Android projects.

As far as I can tell, React Native currently doesn't support Android projects that target higher than API level 23 or that use support libs above version 23.0.1. @hramos do you know if that is correct?

If so, then it seems like React Native can't be easily integrated into most Android projects that ha

[2017-06-12 21:12] sahrens commented on #1831
That warning is kind of a bug that has been fixed on master, but 85 seconds for your initial mount is crazy slow - you should really dig deeper in your code to figure out what's taking so long. There are many resources out there if you google for react performance, or ask around in the broader React community for help.

And yes, I meant `initialScrollIndex`. You'll need to implement getItemLayout

[2017-06-12 21:51] hramos commented on #14461
Are there specific repro steps? I have had no issues creating a new project using `react-native init` and launching it on Xcode 8.3.3 with 0.45.1.

[2017-06-12 21:53] hramos commented on #14474
The packager is no longer bundled with React Native as of 0.45. Can you open the issue against https://github.com/facebook/metro-bundler instead?

[2017-06-12 21:53] #14474 closed

[2017-06-12 21:59] outaTiME commented on #1831
great @sahrens, I am afraid about old hardware like iPad 3 or OS version iOS 9 ... testing on newer devices there is no performance issues, I wanted to know if anyone else was experiencing the same hardware issue ... In a while I'll be ask the community to see if I get to something deeper, thks !!!

[2017-06-12 22:14] nehvaleem commented on #14417
Also having exact same issue. Solution provided by @olivierkaisin seems to work, but it is indeed frustrating having to delete node_modules at each build.

[2017-06-12 23:02] tanguyantoine commented on #4099
@sarahmarciano You are welcome but why ?

[2017-06-12 23:11] hellomaya commented on #14461
Same issue, but not the @harley mentioned one, all third party lib were downloaded with well format, but can't compile them correct, one of the error looks like:

[code]

And Yes, it doesn't have config.h in the same path.

-Xcode 8.3.2
-React native 0.45.1

[2017-06-12 23:42] brennanerbz commented on #10765
@jtewright what happens when you scroll while the keyboard is up, then close by tapping the scrollview? do you see any weird padding / extra space issues?

[2017-06-12 23:43] ms88privat commented on #14464
https://github.com/facebook/react-native/issues/14417

[2017-06-13 00:17] whitelionV commented on #9665
Similar issue. It started today without any meaningful software or hardware changes. Neither the device I'm testing in, nor the Mac I'm using to debug.:

[code]

[2017-06-13 00:29] rcorrie commented on #13076
This is definitely still an issue, and should definitely still be opened.

For the meantime (For our particular use case), we applied a 180deg rotation on the scrollView and the issue is manageable. You have to account for inverted scrolling among other things but at least those can be remedied.

[2017-06-13 01:03] JobsSteve commented on #14467
:(

[2017-06-13 01:05] JobsSteve commented on #14471
👍  I have crash problem in Android too. Hope your question will be noted, mine [](https://github.com/facebook/react-native/issues/14467) has been closed.

[2017-06-13 01:06] JobsSteve commented on #14471
👍 I have crash problem in Android too. Hope your question will be noted, mine has been closed.
https://github.com/facebook/react-native/issues/14467

[2017-06-13 01:56] lslvxy commented on #14461
use [create-react-native-app](https://github.com/react-community/create-react-native-app) to create app.

 then run `npm run eject` to get the full code

run `react-native-git-upgrade` to update to the latest version

run `npm  run ios` and  it is ok

[2017-06-13 02:21] 136357477 commented on #14461
PhaseScriptExecution Install\ Third\ Party /Users/guohui/Desktop/React_Native/eeee/ios/build/Build/Intermediates/React.build/Debug-iphonesimulator/double-conversion.build/Script-190EE32F1E6A43DE00A8543A.sh
    cd /Users/guohui/Desktop/React_Native/eeee/node_modules/react-native/React
    export ACTION=build
    export AD_HOC_CODE_SIGNING_ALLOWED=YES
    export ALTERNATE_GROUP=staff
    export ALTE

[2017-06-13 02:22] louietan commented on #14442
Thank you @pvinis ! it worked for me.

[2017-06-13 02:53] bang88 commented on #14368
clean  xcode project and rerun working for me.

`CMD + SHIFT + K `

[2017-06-13 02:59] sjmueller opened #14476 "[0.46.0-rc.2] react-native init fails"
Running `react-native init rn46 --version "0.46.0-rc.2"` fails to create a new project, with exception:

[code]

The generated package.json does not include react:
[code]

I tried this with node version `v7.9`, `v7.10`, `v8.1`, and yarn `v0.24.6`, all giving the same exception.

[2017-06-13 03:06] younatics commented on #6692
same here when integrating to existing apps

[2017-06-13 03:10] zhenliliu commented on #14476
I have the same issue

[2017-06-13 03:11] zhenliliu commented on #14476
I have the same problem

[2017-06-13 03:38] JobsSteve commented on #14476
Me tooooooo

[2017-06-13 03:42] WhoJave commented on #12307
@onuar I have the same problem , I restart the iOS simulator then react-native run-ios  it's OK.

[2017-06-13 03:49] idibidiart commented on #14429
curious, any update on this?

@hramos

[2017-06-13 04:15] JobsSteve commented on #14476
0.44以后的这几次升级，太TM蛋疼了，我又不得不退回到44

[2017-06-13 04:17] louietan commented on #14442
@pvinis , could you explain the rationale behind this?

[2017-06-13 05:02] hujiaweibujidao commented on #12735
I tried the solution in here: [https://twitter.com/skellock/status/818813810781908992](https://twitter.com/skellock/status/818813810781908992), and the problem solved. Remember to `disable parallelize build` in scheme configuration and add `React` target before your own project target. Hope it helps.

**Additional information**:
React Native version: 0.44.0
Platform: iOS (Xcode 8.3.2)
Operating Sy

[2017-06-13 05:08] RooneyJung commented on #14461
@lslvxy react-native-git-upgrade dose not resolve this issue.

[2017-06-13 05:58] tianwawawa commented on #14368
worked for me @shubhnik awesome!!

[2017-06-13 06:02] lenmoyouziJiangjun commented on #14368
0 11.7M    0 16969    0     0      5      0  28d 11h  0:49:36  28d 10h     0
  0 11.7M    0 16969    0     0      5      0  28d 11h  0:49:37  28d 10h     0
  0 11.7M    0 16969    0     0      5      0  28d 11h  0:49:38  28d 10h     0curl: (56) SSLRead() return error -36
curl: Saved to filename 'boost_1_63_0.tar.gz'

[2017-06-13 06:17] tmaly1980 commented on #11781
I had a similar issue with yoga.c, and fixed it by running `react-native link`

[2017-06-13 06:26] sarahmarciano commented on #4099
@tanguyantoine  Oh sorry for my mistake! I meant @tushar-singh :)

[2017-06-13 06:50] nihgwu commented on #14476
`TerminalClass` was renamed to `Terminal` https://github.com/facebook/metro-bundler/commit/c1ff8b5b81f53d359abee0696ba9468d4fae9b85

[2017-06-13 06:59] lsps9150414 opened #14478 "Using minHeight with flex creates unexpected padding"
### code:
[code]

### Screenshot:
Note the white space at the bottom. The two children View does not fill the parent view.
This only happens when `minHeight: 50` is added.
The height of the white space seems to be the same as the value of `minHeight`.

![asset](https://user-images.githubusercontent.com/5022617/27069680-7d78656e-5048-11e7-8944-4abb4f466b9e.PNG)

### Env:
- "expo": "^17.0.0",
- "rea

[2017-06-13 07:16] Symous opened #14479 "FlatList top Item index"
Hi,Is there a provided method to enable us to get the index of the top item of the FlatList when we scroll it ?

[2017-06-13 07:46] fov42550564 commented on #570
+100

[2017-06-13 08:05] RWOverdijk opened #14480 "Object.assign enumerable key 0.45.0"
### Description

[code]

I updated to 0.45.0 and tried 0.45.1, too, using the `react-native-git-upgrade` command, upon running I encounter the above in the app. I tracked it down to it trying to assign this function:

[code]

to key `$asyncbind`

I don't know what any of this means to be honest.

### Reproduction Steps and Sample Code

It seems to be coming from within react native itself. I can't

[2017-06-13 08:14] stoffern commented on #14430
This problem appears with RN 0.45.0+ and when you use: `shouldComponentUpdate` in a `PureComponent` as described in the  to a

[2017-06-13 08:15] godoakbrutal opened #14481 "Is react-native can build Augmented Reality Application ?"
I want to know is possible to use React-Native build application that use for Augmented Reality: AR
I try to find component from npm-package But not found it

So is possible to use react-native build Augmented Reality Application ?

Thank you for advance.

[2017-06-13 08:33] RWOverdijk commented on #14481
@godoakbrutal This belongs on stack overflow, not github issues. In any case:

 https://github.com/facebook/react-vr there is a project for react.

https://github.com/facebook/react-vr/issues/225 people are asking for react native support

But it currently can't do that https://github.com/facebook/react-vr/issues/225#issuecomment-307591041

[2017-06-13 08:51] Symous commented on #13727
+1 I have met the similar issuse . any progress here ?

[2017-06-13 08:56] CJStroud opened #14482 "LayoutAnimation using PropTypes from React"
### Description

Using `KeyboardAvoidingView` in an new project causes a warning to be thrown:

`Warning: checkPropTypes has been moved to a separate package. Accessing React.checkPropTypes is no longer supported and will be removed completely in React 16.`

### Solution

Use the `prop-types` package for PropTypes inside `LayoutAnimation`.

This seems to have been fixed on Master a month ago, but

[2017-06-13 09:25] Vanessa219 commented on #7308
唉，已经爬坑太久，收集了很多异常处理情况。累觉不爱呀 ~~~
其实造成 ":CFBundleIdentifier", Does Not Exist 的问题很多。请看终极解决办法
https://hacpai.com/article/1497235254333 iOS -> 'React/RCTBundleURLProvider.h' file not found

[2017-06-13 09:28] jeanlauliac commented on #14476
Sorry about that. We should have published the packager with a breaking-change version number bump but didn't. See explanations on #14477. We're looking into it.

[2017-06-13 09:31] PelloUp opened #14483 "RCTHTTPRequestHandler sendRequest:withDelegate crash"
# React Native version: 0.44.0

Platform：iOS
Crashed: com.facebook.react.ImageLoaderURLRequestQueue

[code]

[2017-06-13 09:41] hyochan35 opened #14484 "react-native-session-is-not-created-when-imbed-html-and-js-in-webview"
## Reporting Bugs

I have created WebView like below in react-native.

<WebView
    source = { require('./web/index.html') }
    javaScriptEnabled={ true }/>
which works fine. But WebView won't save the cookie and store it.
When I request to rest api that requires session id, It prints out that it is undefined.

When I test this locally in browser, it works fine but not in react-native WebView.

W

[2017-06-13 09:42] kytwb commented on #12825
@Naoto-Ida Since 0.45, `FlatList` got the [ListEmptyComponent](http://facebook.github.io/react-native/releases/0.45/docs/flatlist.html#listemptycomponent) prop.

[2017-06-13 09:42] harley commented on #14461
@136357477 it's difficult to see but i think you face the same problem with downloading tar balls for reactnative's `third-party` libs

[code]

@hramos i think this is the same issue as #14423 that you also helped. maybe it only affects people with connectivity/downloading issues. i saw an incomplete folder of boost in my own setup until I cleared `~/.rncache` myself and retried. alternatively, do

[2017-06-13 09:49] nsisodiya commented on #6188
Can somebody tell me any `workaround` ?

[2017-06-13 09:51] liulongdev opened #14485 "issue when execute 'react-native run-ios'"
Environment :

node v8.1.0
react-native-cli: 2.0.1
react-native: 0.44.3
xcode 8.3.3
OSX 10.12.5

react-native init AwesomeProject
cd AwesomeProject
react-native run-ios

terminal display：
.
.
.
curl: Saved to filename 'double-conversion-1.1.5.tar.gz'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

                                 Dload  Upload   Total   Spent    L

[2017-06-13 10:01] hose314 commented on #12825
@kytwb yeap, also notice that, thanks!

[2017-06-13 10:12] laurent22 commented on #14445
After some digging, it seems to be related to the okhttp library. I've put my findings in this related issue:

https://github.com/facebook/react-native/issues/8237#issuecomment-307578320

I've also added a comment to the okhttp issue but it doesn't look like they are going to fix it:

https://github.com/square/okhttp/issues/3081#issuecomment-307581489

[2017-06-13 10:25] jeanlauliac commented on #14476
If you try again, I believe this should now work as expected.

[2017-06-13 10:26] GregYeo commented on #14452
I have exactly same problem.
[code]

I tried re-install xcode(because i already used to use latest) and put leak of library(boost/config/user.hpp)  but it did not worked and xcode could build ios except for react-native.

Node version wasn't matter of me. I tested it both of below
[code]

I finally found solution which downs version of react native
https://github.com/facebook/react-native/issues/1

[2017-06-13 10:44] ijharulislam commented on #14478
You can check my answer on Stackoverflow.
https://stackoverflow.com/questions/44514465/using-minheight-with-flex-creates-unexpected-padding/44518993#44518993

[2017-06-13 11:24] madeindjs commented on #5017
It not work for me too (even with `backgroundColor` trick..)

[code]

[2017-06-13 12:17] ZHT131 commented on #12864
I have the same problem, can you tell me how to solve it?

[2017-06-13 12:18] ShathaHz commented on #4968
Same issue, all previous solutions are not working, i even started a new project and i still get the same issue.

i tried every step in this thread...this is really upsetting.
<img width="371" alt="screenshot at jun 13 15-17-06" src="https://user-images.githubusercontent.com/29402624/27081956-817f1d94-504b-11e7-8a6d-d35208cf96a7.png">

[2017-06-13 12:20] ZHT131 commented on #12671
I have the same problem, can you tell me how to solve it?

[2017-06-13 12:20] gnosticism commented on #4968
All i needed was node version 6
Everybody who gets the above error has older node version installed.

- Just update node. In mac [ install node](https://nodejs.org/en/download/). This will update your node.
- And then `sudo npm install -g react-native-cli`
- react-native init AwesomeProject
Should work now without error

[2017-06-13 12:23] probedb commented on #10865
@kyle-ilantzis Am I missing something from my code? I have implemented it as per your example, I have put debug code into the site I use inside the WebView so I can see it sends the postMessage, however nothing happens in the react-native app :/

    const patchPostMessageFunction = function() {
      var originalPostMessage = window.postMessage;

      var patchedPostMessage = function(message, t

[2017-06-13 12:24] aem commented on #4968
^that's likely a red herring. Re-installing node clears lots of caches. Moreover, when I was experiencing the problem I had tried using node 5, 6, and 7 and all saw the error.

Yesterday I was put on a new RN project and started seeing the same issue again. The only thing that has resolved this in *both* of my projects now has been using `haul` instead of the built-in packager.

[2017-06-13 12:35] Naoto-Ida commented on #12825
@kytwb Thanks for notifying me! Unfortunately I'm still stuck on 0.40 so can't use them.

[2017-06-13 12:36] githubdoramon commented on #13853
Please.... any advice on this? It is getting impossible to develop... I can't use dev mode anymore

[2017-06-13 12:38] kyle-ilantzis commented on #10865
@probedb so you no longer have the red error screen? Next problem is most likely that react native has not loaded into the webview.

Maybe the site calls postMessage before react native has attached hooks into the webview

To be sure that this is the reason, sourround your site's postMessage with a timeout

setTimeout(
function() { windown.postMessage(...)  }
,
2000 )

You can get more details bel

[2017-06-13 12:41] ZHT131 opened #14489 "Oppo mobile keyboard blocked cannot display！！"
Keyboard congestion problem on OPPO mobile phone!
Such as:
There are now two containing Textinput page on the first page, click the Textinput pop-up keyboard after retracting the keyboard, and then click Textinput to jump second page pop-up keyboard, when I press the standby button open again after clicking the Textinput and bring up the keyboard, so the keyboard was blocked, have encountered simi

[2017-06-13 12:45] vincejah commented on #14407
I have exact same issue when an intent belonging to the application is called on an already running application instance (android:launchMode="singleTask")

Additional Information

React Native version: 0.44.3
Platform: Android
Development Operating System: Mac OSX

[2017-06-13 12:54] abbasfreestyle commented on #6188
I've added this into ProductPains / Canny

Please upvote to give it more attention:
https://react-native.canny.io/feature-requests/p/touchable-component-sounds-android

[2017-06-13 12:55] Nauzer opened #14490 "ReactNative.unstable_batchedUpdates is undefined"
### Description

In my project I use react-native-meteor (which relies on minimongo-cache) to connect to a Meteor backend server. Upon launching I get an error because of ReactNative.unstable_batchedUpdates being undefined. Was there any change introduced why this API is no longer exposed? If so, is there a replacement?

### Reproduction Steps and Sample Code

Create app with react-native init

`i

[2017-06-13 13:01] vincejah commented on #14407
@iremlopsum in case you are intereseted, I found a workaround. Just before your StatusBar gets rendered, you can call the static method:
[code]

In my case it solves the problem.

[2017-06-13 13:02] davidperrenoud commented on #12070
It seems that this bug doesn't appear when using both React Native 0.45.0 and the Nodes Android rendering (React Native 0.42.0, 0.43.0, 0.44.0 with Nodes had the same bug).

[2017-06-13 13:20] kid-wumeng commented on #14461
@hramos

I was only execute two commands...

$ react-native init ReactCalculator
$ cd ReactCalculator
$ react-native run-ios

[2017-06-13 13:27] jwerlley commented on #11389
Just activate a JS Minify option in the Emulator Dev Settings

    In Emulator: Menu > Dev Settings > JS Minify ☑(active)

Here it worked only with this, I hope it has helped;)

[2017-06-13 13:48] probedb commented on #10865
@kyle-ilantzis yep, the red screen has gone :) It appears to be in the react app I run in the WebView. For some reason although the code is running, it's not firing the postMessage. I tried a very simple test and it picks up the code. Thanks for the help 👍

[2017-06-13 13:59] florismettey commented on #7308
I had the error:
Failed to install the requested application
An application bundle was not found at the provided path.
Provide a valid path to the desired application bundle.
Print: Entry, ":CFBundleIdentifier", Does Not Exist

I found the issue: do NOT use space in your project path!

[2017-06-13 14:00] florismettey commented on #7786
I had the error:

I found the issue: do NOT use space in your project path!

[2017-06-13 14:01] florismettey commented on #7308
I had the error:

I found the issue: do NOT use space in your project path!

[2017-06-13 14:05] enstulen commented on #1190
+1

[2017-06-13 14:05] cliren commented on #11781
@tmaly1980 I tried your suggestion on https://github.com/cliren/RNIntegration but still ran into the same issue. I am using the below dependencies, may I know what versions are you using?

[code]

[2017-06-13 14:12] avogel3 commented on #13758
+1
Deleting watchman cache and reinstalling node modules still does not fix the error for me

[2017-06-13 14:18] florismettey commented on #14368
I had the same issue.
DO NOT use space in project path

[2017-06-13 14:21] roszelj commented on #14083
I'm having a similar problem, did you find any resolutions?

[2017-06-13 14:43] karthiganesan90 opened #14491 "error: bundling: UnableToResolveError: Unable to resolve module `ReactNativeART` from `/node_modules/react-native/Libraries/react-native/react-native-implementation.js`: Module does not exist in the module map or in these directories:"
## Reporting Bugs

Recently I have updated the npm & react-native package.
I am getting this error while running the build in both IOS & Android.

**Version:**

Updated react-native version : 0.45.1
Updated npm version : 3.10.10

**dependencies**

"dependencies": {
    "react": "^16.0.0-alpha.6",
    "react-addons-pure-render-mixin": "^15.5.2",
    "react-native": "^0.45.1",
    "react-native-fing

[2017-06-13 14:49] thiagovictorino commented on #14447
Hello @hramos, yes it is

[code]

[2017-06-13 14:55] MrLoh commented on #10865
@probedb did you get it working to receive `postMessage` from the WebView, it worked without problems for me when triggered through a button. Maybe you need an on document ready hook.

[2017-06-13 14:57] MrLoh commented on #10865
Here some example code for sending and receiving messages from react native and web view back and fourth.

native side:

[code]

webview side:

[code]

[2017-06-13 14:59] endari1 opened #14492 "React Native on installing third part library it deletes other files"
I have a problem when i try to install third part libraries.
When i create new project on RN it works ok and then  when i install third part library it installs 8 packages and deletes 167 other and the project is not working. It writes 'the command start not recognize'..

any idea why this happens?

[2017-06-13 15:02] ginex commented on #14492
Same problem here. Using 0.45.1

[2017-06-13 15:27] agrcrobles commented on #13836
Closed #13836

[2017-06-13 15:27] #13836 closed

[2017-06-13 15:44] sdotson commented on #8980
In case somebody else tries the above and it still doesn't work:

[2017-06-13 15:55] endari1 commented on #14492
try to install another  version of node js. It works on me

[2017-06-13 16:11] tmaly1980 commented on #11781
I have to stick with 0.42.3 and 15.4.1 because of some packages that refuse to support alpha code (react 16.0.0)

[2017-06-13 16:36] smartdevth opened #14493 "[Text][Android] weird line break"
`<Text></Text>` on Android line break is acting weird but on iOS is fine, for example:
`longsomethingname (code:20016998)`

on iOS it will break like this:
**longsomethingname (code:
 20016998)**

But on Android:
**longsomethingname
(code:20016998)**

It looks like that android line break is counting on breaking-space but not on iOS.

### Additional Information
* React Native version: 0.43
* Platf

[2017-06-13 16:37] mmckinley8 opened #14494 "Keyboard persists when you use the Done/Go button to navigate to a new page"
### Description
Prior to upgrading to 0.44.0 I could use the keyboard "Go" button to navigate to a new page. Now, it navigates but the keyboard reappears. I must dismiss the keyboard and trigger the navigation with a non-keyboard button. This also only happens on a fresh installation. After I hard close and reopen, it works.

Explain what you did, what you expected to happen, and what actually hap

[2017-06-13 16:41] #14481 closed

[2017-06-13 16:42] hramos commented on #14479
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-13 16:42] #14479 closed

[2017-06-13 16:43] hramos commented on #14482
You can check whether a commit is in a given release by looking at the tags. If it isn't in 0.45, it may be in the next release, 0.46.0-rc.

[2017-06-13 16:43] #14482 closed

[2017-06-13 16:43] #14483 closed

[2017-06-13 16:43] hramos commented on #14484
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-13 16:43] #14484 closed

[2017-06-13 16:43] hramos commented on #14485
0.45.1 is the latest stable version. Can you try using that instead?

[2017-06-13 16:43] #14485 closed

[2017-06-13 16:44] hramos commented on #14489
0.45.1 is the latest stable version. Can you try using that instead?

[2017-06-13 16:44] #14489 closed

[2017-06-13 16:44] hramos commented on #14491
Hey, thanks for reporting this issue! Can you provide exact reproduction steps?

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going

[2017-06-13 16:44] #14491 closed

[2017-06-13 16:44] hramos commented on #14492
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-13 16:44] #14492 closed

[2017-06-13 16:45] hramos commented on #14493
Hey, thanks for reporting this issue! It looks like you're not using the latest stable release.

Your description is also missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I a

[2017-06-13 16:45] #14493 closed

[2017-06-13 16:45] #14476 closed

[2017-06-13 16:47] hramos commented on #14473
Our React doc generation is a bit flaky at the moment. This is one of a few bugs affecting the autogenerated API docs in the site.

[2017-06-13 16:48] hramos commented on #12813
Yes, 0.45 should have addressed this.

[2017-06-13 16:48] #12813 closed

[2017-06-13 16:50] ryanhomer opened #14496 "How safe is React Native with React 16 Alpha?"
I am currently on React Native **0.42.3**. Since then 0.43, 0.44, 0.45 have been released as stable and 0.46 is around the corner. RN 0.42.3 uses React **15.4.2**. March saw the release of RN 0.43 which started using the React 16.0.0-alpha series and completely skipped version 15.5. This has prevented me from updating React Native as I've been waiting for a official "stable" release of React 16.

[2017-06-13 16:50] yogevlahyani opened #14497 "FlatList Animate"
Hello, I have a FlatList of lots of rows and I added a scale & opacity animation.
The thing is that it works only once, and all of the items at once, I want it to initiate one by one (The lists loads 10 rows at once onEndReached but the animation variable is a global variable and I can't figure out a way to make it work, I also tried onScroll but didn't managed to make it ..

[2017-06-13 16:53] gaearon commented on #14496
The 16 alpha version of `react` package is entirely stable (we are using it in production). It doesn’t really correspond to what we’ll eventually call “React 16” because `react` package itself contains only very simple internals. The bulk of the implementation is synced separately, and right now React Native uses implementation from React 15.

The mismatch in versioning is because React Native has

[2017-06-13 16:53] #14496 closed

[2017-06-13 17:00] brentvatne commented on #14438
no

[2017-06-13 17:00] #14438 closed

[2017-06-13 17:21] renancsoares commented on #13204
Same for me... it automatically sets the first option as value so you can't select it, all others options are working properly.

I have this problem usign RN 0.44.2.

[2017-06-13 17:32] owenauch opened #14498 "Building for android "Could not resolve all dependencies for configuration ':app:_debugApk'""
### Description
I recently started working on an existing React Native app implemented only in ios, and started the task of trying to build and develop it on Android as well. I followed all the instructions on the React Native docs, but keep getting this error and can't figure out why:

    A problem occurred configuring project ':app'.

Based on research, I'm assuming that it has to be something

[2017-06-13 17:45] opolyo01 commented on #5974
It doesn't work in React Native 0.44 with startInLoadingState set to true.  I am trying to load a file from my web service into a webview.

<WebView
          source={{
            uri,
            headers: {"Authorization": `Bearer ${token}`},
            token: `${token}`,
          }}
          startInLoadingState={true}
          scalesPageToFit={false}
        />

[2017-06-13 17:54] opolyo01 opened #14499 "Webview cannot load a file from remote URI"
### Description

I have a service that returns a binary file (xls/pdf/html) back to user.  I tested in the browser by hitting service URL directly, and it works fine.  It also works fine on iOS if I have startInLoadingState set to false.   It never works on Android with or without flag.

### Reproduction Steps and Sample Code
Load a webview that points to remote uri that needs Authentication.

Exp

[2017-06-13 17:57] opolyo01 commented on #12532
I still need this to be fixed.  I had to throw ugly refresh button on my navbar instead of pull to refresh as a workaround.

[2017-06-13 18:06] reznord commented on #14275
If this is still open, I'd like to work on this.

[2017-06-13 18:59] brunolemos commented on #6946
I'm having this... rn 0.44

[2017-06-13 18:59] congqiao commented on #14391
Same here. It seems this only happens in React Native 0.45. For me the probability is around 50%.

Quick workaround: Tap the screen to continue.

[2017-06-13 19:17] probedb commented on #10865
@MrLoh many thanks :) It seems to be something in my WebView side sending the messages as I tried it with a very basic HTML page with a click to send and the React Native side picked it up.

[2017-06-13 19:17] iremlopsum commented on #14407
@vincejah this fixed it, thanks!

[2017-06-13 19:17] #14407 closed

[2017-06-13 19:28] hramos commented on #14429
@idibidiart nothing on our side (there's still many open issues to go through and prioritize). Feel free to send a PR if you investigate this further.

[2017-06-13 19:34] ababba15 commented on #13567
Yes, it would be cool to be able to get that blue dot coords : )

[2017-06-13 19:54] nehvaleem commented on #14464
also having this issue

[2017-06-13 19:55] parkerdan commented on #13567
Air BnB maps uses google play services, so using this helps `https://www.npmjs.com/package/react-native-google-location`

[2017-06-13 19:55] #13567 closed

[2017-06-13 20:12] ababba15 commented on #13567
@parkerdan just tried and got this:

[code]

[2017-06-13 21:24] ShathaHz commented on #4968
@aem thanks for your suggestion, i installed haul and it was running yet im facing the same issue! im about to give up on react native completely ...

[2017-06-13 21:44] galmis opened #14500 "App crashes during launch, built using react-native run-ios --device "name""
### Description

Initially I found that an app built using 'fastlane ios beta' was silently failing during launch. Then I tried running react-native run-ios --device "name" and saw the same issue. In Crashlytics dashboard I can see that the following exception is being thrown "Fatal Exception: RCTFatalException: No bundle URL present. Make sure you're running a packager server or have included a .

[2017-06-13 22:22] billpatterson commented on #7009
@patwaswapnil  the --console plain does change visible output in terminal, but has no effect on the actual issue for me. It still hangs indefinitely at the :app:bundleReleaseJsAndAssets step.

[2017-06-13 22:35] billpatterson commented on #10078
To add to what's been said:

I started experiencing this "hang while trying to build APK" issue shortly after I started implementing jest tests for my React Native project. My project uses Realm.io realm-js database. I have tests that do database interactions, which cause realm runtime files (db, db manager, etc) to appear in the root of my RN project directory.

The command to build APK apparentl

[2017-06-13 23:40] sjmueller commented on #14328
Any help here? I've tried just about everything:
- Reconfigure `Other Linker Flags` with every combination of `-all_load` `-Objc` `-lc==`)
- Include libthird-party.a in our project's `Linked Frameworks and Libraries`
- Add to `Header Search Paths` `$(SRCROOT)/../node_modules/react-native/third-party` recursively

@ericvicenti @javache @vjeux @lelandrichardson: The thirdparty changes included in 0.

[2017-06-14 00:31] stantoncbradley commented on #1846
for anyone looking to fix this with layoutChanged, this worked for me:
[code]

[2017-06-14 00:37] hramos commented on #14499
Can you reproduce this using Snack?

[2017-06-14 00:39] renso3x commented on #12534
Any solution for this issue? I have also experience it on android development.

[2017-06-14 01:50] jayhuang75 commented on #3330
@codepandy Did you get your problem resolve? I have the same problem now!

[2017-06-14 01:56] nmhuang commented on #14483
We have the same problem!

[2017-06-14 02:01] charlle commented on #4229
@antonKalinin This is definitely correct.  If you have multiple ScrollViews or ListViews layered in your app then you have the possible of `tapping` one of them, which means each one can register a Scroll Responder event and close the Keyboard.

@dsandor & @jmeyers44 this is the correct place to test this problem.
[code]
*BUT* you shouldn't need to edit this code if you add `keyboardShouldPersistT

[2017-06-14 02:27] Easyzhan commented on #14368
Why no one to solve this problem

[2017-06-14 02:30] ganisback commented on #14368
when i upgrade rn to 0.45.1, this issue disappear for me

[2017-06-14 02:32] jackqqxu commented on #10553
same problem on RN0.38

[2017-06-14 02:41] codepandy commented on #3330
@jayhuang75  sorry,I didn't solve the problem.

[2017-06-14 03:08] gary-domain commented on #637
+1

[2017-06-14 03:09] gaberudy commented on #13396
I had the same issue as @topher in "Debug" build configuration. It turned out when moving my project to a pod configuration, a "libReact.a" was left in another directory that was in the library path and being picked up by the linker (i.e. there were two libReact.a files, and the wrong one was being linked to). Since I didn't do a Product -> Clean before I updated my project with cocoa pods it was

[2017-06-14 03:47] irrigator commented on #14368
The problem is when building react-native for iOS, the process tries to download some files (using ```curl```) into ```~/.rncache```. Specifically, they are "boost_1_63_0.tar.gz, double-conversion-1.1.5.tar.gz folly-2016.09.26.00.tar.gz, glog-0.3.4.tar.gz". The sources of them (at least some of them) are from AWS S3,  which aren't accessible in some regions (I'm from China). And that caused the pr

[2017-06-14 04:24] Lexiwu commented on #14461
Same Problem !!

[2017-06-14 04:30] henrykapostel commented on #14368
@irrigator Yeah, I upgraded RN to 0.45.1, but the same issue doesn't disappear. how can I set the `http_proxy ` and `https_proxy ` environment variables. Please let me know the example

[2017-06-14 04:53] Ilyaololo commented on #14499
I have some problem on React Native version 0.42.0 on Android platform. But If use:
`
<WebView url="http://url" />
`, it work and page is loading.

[2017-06-14 04:57] cliren commented on #11781
@tmaly1980 I tried 0.42.3 and 15.4.1  but still get the same error. It looks very fragile unless I am missing something basic.  Would you mind checking if I am missing anything here: https://github.com/cliren/RNIntegration?

[code]

[2017-06-14 05:25] irrigator commented on #14368
@henrykapostel https://stackoverflow.com/questions/9445489/linux-curl-command-with-proxy

[2017-06-14 05:44] henrykapostel commented on #14368
Thanks

[2017-06-14 06:17] kyo504 commented on #14391
I also experienced this behavior after upgrading to 0.45.

[2017-06-14 06:23] RobIsHere commented on #14368
Also having this issue. I was on a train when starting react-native run-ios the first time. Maybe the unstable internet connection. And had to search around to find this out. I'm seeing

tar -xf ~/.rncache/glog-0.3.4.tar.gz
glog-0.3.4/ltmain.sh: (Empty error message)
tar: Error exit delayed from previous errors.

when running tar -xf on the file manually.

Either it should be bundled and be downlo

[2017-06-14 06:29] Michael-xiaojie opened #14503 "Windows---Reacr-native :Could not install the app on the device, read the error above for details."
List of devices attached
30af2fe7        device

Scanning 551 folders for symlinks in E:\gz\App\node_modules (19ms)
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat installDebug)...

 **java.lang.NullPointerException**

        at org.gradle.api.internal.classpath.DefaultModuleRegistry.getExternalModule(DefaultModuleRegistry.java:69)
        at org.gra

[2017-06-14 06:31] Michael-xiaojie commented on #14503
This question has plagued me for a whole day, even if I make a new project

[2017-06-14 06:39] V1sk commented on #14461
I have the same problem on react-native 0.45.1
And i edit the package.json to make my project works fine on old version react-native

1. Modify the package.json, and change react and react-native version to:
`"react": "16.0.0-alpha.6",
"react-native": "0.44.3" `

2. Delete the node_modules dir

3. npm install

[2017-06-14 06:40] ftao123 commented on #4968
Forgive my English is not good, the error message said: node_modules \ react-native \ node_modules \ react \ lib
The I was in the previous project which copy the lib folder into it can be run. Copy lib, copy lib The In the old works inside. I hope everyone has to help.

[2017-06-14 06:43] vuduclong0309 opened #14504 "React-native bundle: Cannot include original source code in sourcemap."
### Description

I'm trying to use react-native bundle command include the include the content of source files in the source map, something can be achieved in uglifyjs by including --source-map-include-sources flag. Can I do the same thing with react-native?

### Reproduction Steps and Sample Code
I ran this command to generate the bundle.
[code]

### Solution

### Additional Information

* React

[2017-06-14 06:58] ChachiQ commented on #2133
my version is 0.45, and config pod like below can fix this issue

  pod 'React', :path => './ReactNative/node_modules/react-native', :subspecs => [
      'Core',
      'RCTText',
      'RCTNetwork',
      'RCTWebSocket',
      'BatchedBridge',
      'DevSupport',
  ]
  pod "Yoga", :path => "./ReactNative/node_modules/react-native/ReactCommon/yoga"

post_install do |installer|

  installer.pods_pro

[2017-06-14 07:20] rclai commented on #14326
I've ran into this error when ejecting from create-react-native-app into ExpoKit mode. I added the additional pod specs per [this](https://github.com/facebook/react-native/commit/5aca739cc25949eebc04a0309c2944f92b5b5391).

And I'm now here.

[2017-06-14 07:24] RomualdPercereau opened #14505 "Refresh Rate 120fps iPad Pro 2017"
### Description

The new iPad Pro support a 120 fps refresh rate, but the perf monitor is only showing 60 fps.
I can't tell if the real display speed of the animated librairie is really on 120 fps?

### Reproduction Steps and Sample Code

Run a debug build on an iPad Pro device (not a simulator).

### Solution

The perf monitor should display as much as 120 fps.

### Additional Information

* Reac

[2017-06-14 07:47] Symous opened #14507 "scrollEventThrottle not worked with Android"
scrollEventThrottle of FlatList not worked with Android.Is that iOS supported only?if so any similar prop here to limit the onScroll invoke frequency？

[2017-06-14 07:58] javache commented on #14328
The compilation error you mention should be fixed by https://github.com/facebook/react-native/commit/2766103291606c18f1e9520c668c39048acd1271. Can you check if those changes are present in your copy?

[2017-06-14 08:06] rikuayanokozy opened #14508 "Support for reparenting"
React native can move nodes without re-creating it when there placed in the same tree, like `<View>{node1}{node2}</View>`.
But if we have to re-parenting nodes, that will cause re-creating. For example, we want to move node1 into the Modal, node1 will be re-creating.
[code]
The states of node1 will be purge as the old node1. In most cases it's not a big problem, we can maintain states in the root

[2017-06-14 08:17] rikuayanokozy commented on #14508
We solved the problem by create a wrapper for the native component.
[code]
ViewManager.m:
[code]
PlayerWrapper.m:
[code]
But it would be better to have some help from react native core.

[2017-06-14 08:41] lako90 commented on #29
i opened a request here https://react-native.canny.io/feature-requests/p/add-borderleft-right-top-bottomwidth-to-textinput--on-ios

please vote it =)

[2017-06-14 09:06] rgabrielsson commented on #13668
+1 on emulator

[2017-06-14 09:17] liujunhongz commented on #13758
node v7.10.0 was working for me, but node v8.0.0+ was not.

[2017-06-14 09:21] ViGi-P commented on #11964
I'm facing the same problem on an LG K7. Has anyone figured out a solution other than what @BogdanHossu mentioned?

[2017-06-14 09:38] Farzad7 commented on #14144
Same problem, my problem was the fact that I needed internet connection in order to be able to download the packages for my React Native mobile app to be built properly hence it was failing

Hope this saves a bit of your time if you come across similar problem :)

[2017-06-14 09:38] chenyi5266 commented on #14381
if you use LayoutAnimation：
node_modules/react-native/Libraries/LayoutAnimation/LayoutAnimation.js，line 18
	var {PropTypes} = require('prop-types')
	var {checkPropTypes} = PropTypes;

[2017-06-14 09:43] edmundkwok commented on #14490
Looks like `'ReactNativeInternals'` (which exported `unstable_batchedUpdates`) was removed from being exposed as per:

https://github.com/facebook/react-native/commit/f3dbddcf2bdc0e4f49dd6f5220360b5ff383e16f#diff-834d77988fd4294e13e3e35533b3e248L161

As an interim fix, we are importing `'ReactNativeInternals'` directly:

[code]

Would the Internals be exposed in a future version of RN or will we h

[2017-06-14 09:46] ShathaHz commented on #4968
@ftao123 thanks for your response, you made me realise it might be the components i am using from another project, and its true! when i created the same components manually rather than import it my project ran perfectly.

Thank you, but i hope this gets fixed soon.

[2017-06-14 09:48] yury commented on #14462
Confirm at RN 0.43.2 Huawei OS7.0 P10. VTR-L09/VTR-L29

Doesn't work with transform, works with deprecated.

[2017-06-14 10:12] kamyzd commented on #14409
Maybe you are using Xcode 8.1 , I upgraded Xcode to 8.2.1 which fixed my problem

[2017-06-14 10:12] kamyzd commented on #14368
Maybe you are using Xcode 8.1 , I upgraded Xcode to 8.2.1 which fixed my problem

[2017-06-14 10:17] sunalyou commented on #12289
Same issue here debugging android

React-native: 0.45.1
Platform: Android
OS: WIN7
JS Debugger: Chrome Dev Tools, React Native Debugger

@mrbrentkelly thank you for this fix, but it doesn't work for me.

[2017-06-14 10:20] RobIsHere commented on #14368
I fixed my problem by deleting and downloading the ~/.rncache directory again.
This fixed my problem.

Maybe there are two possible reasons for this issue? Just thinking. Old xcode OR failed download.
Also there are really like 10 or so other issues that sound related (build fails because of sth. missing), all of them opened in the last days.

[2017-06-14 10:33] ravirajn22 opened #14509 "Linking openURL with schema tel error in iPad"
I am using the following code...

[code]

I am testing on an iPad without SIM card feature (Wifi only) , the canOpenURL gets resolved and the Linking.openURL(url) is called which shows an Alert with the mobile number and two options 'Cancel' and 'Call'. When I press 'Call' the alert gets closed and nothing happens which is expected since it is Wifi only iPad.
But when I press 'Cancel' the app cras

[2017-06-14 10:35] sattaman opened #14510 "Android - SyntaxError: \u can only be followed by a Unicode character sequence"
* React Native version: 0.45.1
* Platform: Android
* Development Operating System: macOS / Windows
* Dev tools: Android Studio 2.3.3

My app is running on iOS fine , but on android I am getting

SyntaxError: \u can only be followed by a Unicode character sequence

![](https://i.stack.imgur.com/MeFAI.png)

My full logs: https://pastebin.com/by6uCmPW

I've also created a SO question here: https://st

[2017-06-14 10:39] brendanscarano commented on #14209
I was having similar issues running "react-native": "0.44.0". I deleted, and reinstalled my node modules, and also ran "killall -9 node" in my terminal and my project is running again.

[2017-06-14 10:46] phuwasit commented on #14461
react-native 0.45.1
i try to solve this problem by running shell script in react-native package manually

1. open terminal
`node_modules/react-native/ios-install-third-party.sh `
2. after downloading finished, set pemission to .rncache folder
`sudo chown -R $(whoami) ~/.rncache`
3. run
`react-native run-ios`

[2017-06-14 11:13] antousias opened #14512 "run-ios is failing on newly generated project"
I decided to use react-native for my next app since I've heard a lot of good feedback about it.

So, I followed the installation process (I'm using Mac which is running El Capitan version 10.11.5) and it was installed properly.
Then I created a new project and tried to run it for iOS:
[code]
The last command gives me a lot of output, trying to compile the code that was generated by the init comman

[2017-06-14 11:36] phuwasit commented on #14447
react-native 0.45.1
i try to solve this problem by running shell script in react-native package manually

1. open terminal
`node_modules/react-native/ios-install-third-party.sh`
2. after downloading finished, set pemission to .rncache folder
`sudo chown -R $(whoami) ~/.rncache`
3. run
`react-native run-ios`

[2017-06-14 11:46] godfredcs commented on #4181
Guys I also have the same problem. I'm using expo and I'm getting _DEV_ === true, development-level warning are ON, performance optimizations are OFF. My apps take too long to open up on my simulator so I'm stuck with this white blank screen.

Can I get any help please?

[2017-06-14 11:53] tmaly1980 commented on #11781
Sorry, I honestly don’t know, I am using ignite as a boilerplate/scaffolding and they have a command line script out that generates my project. Not to sound like a sales person, it saves me a ton of time with having a project structure in place and generating components, containers, redux/sagas, etc. I tried upgrading to 16.0.0.alpha-2 but that breaks some of the testing suite I’m relying upon (as

[2017-06-14 12:06] thiagovictorino commented on #14447
When I run ios-install-third-party.sh got this error

[code]

Finally running react-native run-ios again I got the same error:

[code]

[2017-06-14 12:09] renbo809199658 commented on #13943
after I run react-native link command ,It shows that  the .xcodeproj can't be  parsed error when I what to open the project.And I run react-native second time ,It also show the same logs above(Expected "/*" or ";" but """ found.).

[2017-06-14 12:11] sivakumar-cf commented on #14326
When I update from react-native 0.44.3 to 0.45.1, I got a build issue in iOS.

in Folly/Math.h

    pod 'React', :path => '../node_modules/react-native', :subspecs => [
    'Core',
    'CxxBridge',
    'RCTText',
    'RCTNetwork',
    'RCTWebSocket', # needed for debugging
    'RCTImage',
    'RCTNetwork',
    # Add any other subspecs you want to use in your project
    'DevSupport'
    ]
    # To

[2017-06-14 12:32] MindFreeze commented on #2303
After reading the comments on this issue, my opinion of the react-native team has changed drastically.
The only reason stated for not supporting .jsx is that it would raise a conflict between `index.ios.js` and `index.ios.jsx`. Have you heard of priority?
And do you realize that this basically means that ReactNative does not support React and Facebook does not support something invented by Faceboo

[2017-06-14 12:50] okonet commented on #8723
2 days of my life just gone because of that :(

[2017-06-14 12:54] mitsuhiko commented on #8723
One annoying part of this bug is that it's not trivial to find the core issue of. In particular since the entire wrong env is being passed you might see really bizarre errors as a result of it picking up the wrong babel env.

In case that is intentional which I don't think it is, it should at least spit out a warning when the babel env is overridden.

[2017-06-14 12:58] MSSPL-PiyaleeMaiti opened #14513 "ScrollView fires "onLayout" and "onContentSizeChange" all the time"
### Description

I add onLayout and onContentSizeChange two prop in ScrollView to get content size and viewHeight so that I can scroll to bottom properly in my section.

I want to stop calling onLayout and onContentSizeChange fires continuously, and also want to stop rerendering if any values haven't changed.

The scroll is working fine, but onLayout and onContentSizeChange fires continuously, eve

[2017-06-14 13:09] jayhuang75 commented on #12754
For me run the second time, everything went well! :) cheers

[2017-06-14 13:19] jniac commented on #14209
sounds stupid but restart the computer might be the solution !

[2017-06-14 13:27] nikolakanacki commented on #231
any plans to support `yaml` as well?

[2017-06-14 13:31] david-casagrande opened #14514 "[FlatList] `FlatList` and `SectionList` mocks are not defined in `jest/setup.js`"
### Description
using `jest-react-native` and testing a component with `FlatList` or `SectionList` logs an error `Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.`

### Solution

`FlatLlist` and `SectionList` mocks

[2017-06-14 14:11] mryechkin commented on #12077
@SnehaGindi that fixed the issue for me, thanks!

[2017-06-14 14:15] Ashi90 opened #14515 "How do I get Raw folder path in Android"
I have searched alot but unable to find any solution for fetching up mp3 file from raw folder.

How do I get local mp3 path for playing mp3 from raw folder in Android.

I am using "react-native-audio-streaming" module.

this.chalisa = './song/shree_hanuman_ji_ki_aarti.mp3'

NO LUCK AT ALL :(

[2017-06-14 14:24] andon commented on #14328
We are having the same issue after upgrade from rn-0.44.2 to rn-45.1.

@javache I checked react-native in node_modules, and the changes from https://github.com/facebook/react-native/commit/2766103291606c18f1e9520c668c39048acd1271 are present, but we still get the errors.

Similar as with @sjmueller, we tried all the steps to clean up the project before getting to this issue.

[2017-06-14 15:04] ChasonTang commented on #7258
@AvatarQing is right, the issue is happen with the feature`Configure on Demand`

[2017-06-14 15:07] bashen1 commented on #14423
.rncache  删除这个目录下的所有tar.gz，然后react-native run-ios重新下载

[2017-06-14 15:10] sumesh1993 commented on #13981
+1

[2017-06-14 15:17] drivedreams opened #14516 "Is there any plan to upgrade the android support libraries to the latest version (25+)?"
Why react do not upgrade the support libraries` version. **I am confused for that!!!**   Library version 25 has already been publish for a long time.  Less and less project will continue use api 23.
I want to integrate react-native into my project, but the ridiculous version problem stop me!  I have used so many open source project, there is no one like that.  Can any contributor solve it?

I am a

[2017-06-14 15:22] rodrigooler commented on #14209
I changed the version and now it came back working may be a problem in the version, I went back to "0.44.0" and it worked again

[2017-06-14 15:25] jDeppen commented on #2251
@chirag04, that works for me!

I see you're checking `if(offset)`; is there a time when offset would be falsy or would it be ok to leave out? Thank you

[2017-06-14 15:34] Traviskn commented on #11415
I'm also running into this issue, I have no problems connecting the chrome debugger to a webview in the emulator, but when I run the app on a physical device the debugger cannot find the webview.

[2017-06-14 15:36] radko93 commented on #14513
Please check on latest react native version, this one is very old.

[2017-06-14 15:44] radko93 commented on #14447
@phuwasit your solution doesn't help me.

[2017-06-14 16:09] fangkyi02 opened #14517 "[FlatList] Flatlist BUG"
RN：0.44
**data structure** :

![image](https://user-images.githubusercontent.com/3389652/27141235-4fc3e6f8-515a-11e7-9a0a-66bfaa8269d3.png)

**control interface** :

![image](https://user-images.githubusercontent.com/3389652/27142329-4767951a-515d-11e7-86f6-cb97d2f518b7.png)

**Interface effect** :

![image](https://user-images.githubusercontent.com/3389652/27142670-4ef713a4-515e-11e7-9464-82a1d1e

[2017-06-14 16:20] kyledmellander commented on #14330
I've had a similar problem on Android with the Surface and Shape. They have worked fine on IOS but behave differently on Android.

When I generate and draw a path, it works correctly on the first render.  Unfortunately when pressing the sleep button to put the phone to sleep and then moving back to the app, the path has disappeared. I haven't been able to reproduce this in the Android Emulator, bu

[2017-06-14 16:21] manjeets12 commented on #2880
ok if you have configured your project or machine with yarn and used npm install in your project than your project will break with the same error.
solution - delete node_module flder
than use yarn install followed by react-native run-android

[2017-06-14 17:24] luisfcofv commented on #11696
I'm having the same issue

[2017-06-14 17:36] AriaEdo commented on #13364
Duplicate module name: fb-watchman

`../app/node_modules/react-native/node_modules/fb-watchman/package.json`

collides with

`../app/node_modules/react-native/node_modules/jest-haste-map/node_modules/sane/node_modules/fb-watchman/package.json`

RN upgrade from 0.44.0 > 0.45.1

[2017-06-14 17:48] ahetawal-p commented on #12322
We you able to fix this. I am having the same problem. ?

[2017-06-14 17:58] hramos commented on #14516
This is a dupe of your earlier issue #12025. If you think that issue should remain open, perhaps comment on it instead of opening a new one?

[2017-06-14 17:58] #14516 closed

[2017-06-14 17:59] hramos commented on #14517
Hey, thanks for providing samples of your code. May I ask that you post them in plain text? Even better, if you can reproduce this using [Snack](https://snack.expo.io) that would be very helpful.

[2017-06-14 18:00] hramos commented on #14513
0.45.1 is the latest stable. If this is reproducible in 0.45.1, please open a new issue and make sure to follow the template.

[2017-06-14 18:00] #14513 closed

[2017-06-14 18:01] hramos commented on #14512
You'll need Xcode 8 at the very least. Please install Xcode 8.3.3 and try again.

[2017-06-14 18:01] #14512 closed

[2017-06-14 18:03] hramos commented on #14510
Closing as it's already posted to SO. If you believe this is an issue in React Native, feel free to open a new issue, making sure to fill out the entire issue template.

[2017-06-14 18:03] #14510 closed

[2017-06-14 18:04] hramos commented on #14509
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-14 18:04] #14509 closed

[2017-06-14 18:12] hramos commented on #14209
0.45.1 is now available. Can you check if this is still reproduced in 0.45.1?

[2017-06-14 18:13] hramos commented on #637
Can you move this to https://github.com/facebook/metro-bundler now that the packager has been moved out of React Native?

[2017-06-14 18:14] hramos commented on #14517
Also, can you edit the title to describe the actual bug you're encountering?

[2017-06-14 18:15] hramos commented on #14505
Can you send a PR? The new hardware is unlikely to be in many of the core contributor's hands, so you're probably in a better spot to look into this.

[2017-06-14 18:16] hramos commented on #14508
Thanks for opening the issue, however it looks like a feature request. As noted in the [Issue template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) we'd like to use the GitHub issues to track bugs only. Can you implement the feature as a standalone npm module? If not consider sending a pull request or a create an entry on [Canny](https://reactnative.canny.io/fea

[2017-06-14 18:16] #14508 closed

[2017-06-14 18:16] hramos commented on #14497
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-14 18:16] #14497 closed

[2017-06-14 18:16] hramos commented on #14478
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-14 18:16] #14478 closed

[2017-06-14 18:28] sjmueller commented on #14328
@javache I have prepared a barebones swift 3 project with RN `0.46.0-rc.2` which reproduces the errors:

[rn46-swift-3rd-party-errors.zip](https://github.com/facebook/react-native/files/1075522/rn46-swift-3rd-party-errors.zip)
- `npm i` to install dependencies
- open project in xcode, then `⌘ SHIFT <` to uncheck parallelized build + add React as the first target:

  ![image](https://user-images.gi

[2017-06-14 18:59] ide commented on #14505
You might also want to go through the codebase and see if 1/60 is hardcoded anywhere. IIRC a lot of React Native's scheduling is tied to CADisplayLink, which should account for 120 fps, but there still might be parts of the code that assume 60 fps.

[2017-06-14 20:39] ryanmcgrath commented on #14209
This is still present for me in 0.45.1. Same repro steps as everyone above.

[2017-06-14 20:52] ryanmcgrath commented on #14209
In fact, simpler test is this: new folder, `npm install react-native@0.45.1`, then open a console and run:

[code]

Reproduced on multiple machines/environments.

[2017-06-14 20:53] victorpluna commented on #13157
@agerro, i have the same problem. How did you fix it?

[2017-06-14 21:17] annelorraineuy commented on #13658
I encountered this issue too, but it's difficult because repro rate isn't 100% of the time. Not certain what factors cause this yet.

[2017-06-14 21:36] hramos commented on #14209
This does not reproduce for me on a brand new project. I've tried:

[code]

react-native version: 0.45.1
yarn version: 0.24.3
macOS Sierra, Xcode 8.3.3

[2017-06-14 22:00] ahetawal-p opened #14519 "[TextInput Android] Text truncated on start when text longer than TextInput size"
### Description

Trying to use the Android TextInput component, but the text gets cut off in start when text is longer than the component size.
![screen shot 2017-06-14 at 2 44 44 pm](https://user-images.githubusercontent.com/8919529/27156490-1e48212c-5112-11e7-8ca1-8f5cc2f37e18.png) required state
![screen shot 2017-06-14 at 2 11 51 pm](https://user-images.githubusercontent.com/8919529/27156488-1

[2017-06-14 22:05] fackius commented on #10266
@hramos I've seen a few issues related to this bug, and none of them has been fixed or taken by RN developers to fix it.

can you guys stop closing issues by inactivity and start to fix them?

I am handling the same issue, I've tried all the options I've seen in all closed issues, and different articles, but none of them fixed my problem.

This is a real issue, you guys should take a deeper look h

[2017-06-14 22:17] Kiarash-Z commented on #13202
Hi mine fixed by giving style={{ backgroundColor: 'white' }} to flat list

[2017-06-14 22:17] Kiarash-Z commented on #13316
Hi mine fixed by giving style={{ backgroundColor: 'white' }} to flat list

[2017-06-14 22:18] Kiarash-Z commented on #1831
Hi mine fixed by giving style={{ backgroundColor: 'white' }} to flat list

[2017-06-14 22:28] freeljt opened #14520 "[SectionList] SectionList's sticky header dose not work well with 'inverted' option"
### Description

When rendering SectionList with 'inverted' option and renderSectionHeader, the sticky header is upside down and sticky to the bottom. (in our App, we want them sticky at top even)

### Reproduction Steps

Render SectionList with inverted option and section header.

#### Sample Code

            <SectionList style={styles.messageList}
                         **inverted**

[2017-06-14 22:52] tiaanduplessis commented on #13595
Facing the same issue

[2017-06-14 23:47] AdamTyler commented on #12295
I've been troubleshooting this all day on 0.44.0 and I'm fairly certain there is an issue with the formData implementation.

[2017-06-15 00:03] daesan commented on #14328
@javache I have upgraded from 0.44.3 to 0.45.1 and I am experiencing the same linker error as @sjmueller. My project is Objective-C based and I am using CocoaPod.

Looking at the linker warnings, there seems to be path misconfiguration? "ios" part is being repeated in the path.

<img width="251" alt="error" src="https://user-images.githubusercontent.com/2495/27159510-9747025a-51a8-11e7-85b5-6fa44a

[2017-06-15 00:13] sjmueller commented on #14328
Sorry you have the same issue @daesan -- didn't know until now that objc projects are affected too. I originally thought it was just swift.

[2017-06-15 00:17] sjmueller commented on #14328
FYI our swift project does not use cocoapods at all.

[2017-06-15 00:58] rheilgm commented on #10775
+1

[2017-06-15 01:15] Charles-LMQ commented on #10367
if you are using windows

open a command, and  cd to your project path
type in "npm start" but **do not run it!**

then open another command
enter:   react-native run-android
nodejs will automatically popup

now, when the nodejs popup has the error and crash automatically, then go back the first window, press Enter!!

ok, very thing will be fine in that moment....

[2017-06-15 02:24] asphalt2018 commented on #14368
I fixed this problem by amending my package.json file.Changing react-native version from 0.45.1 to 0.44.2.

[2017-06-15 02:28] irrigator opened #14521 "[FlatList] always mount and unmount some top items even if initialScrollIndex was set"
### Description

Set ```initialScrollIndex``` to " immediately renders the items starting at this initial index". However, some tops items are mount and unmount after the initial items are mount and unmount.

### Reproduction Steps

Run the sample code below on React Native 0.45.1. The expected behavior is:

item 101 was mount => item 98 ~ 100  and item 102 ~ 104 was mount (because windowSize is 7

[2017-06-15 02:35] muhammadridho commented on #6691
I have a same problem, because my image's name has '-','+','_'. the solution is try react-native link or restart packager.

[2017-06-15 02:35] MagLiC commented on #11900
thx,problem is sovled.

[2017-06-15 02:45] ZHT131 opened #14523 "Keyboard congestion in oppo mobile phones!!!"
### Keyboard congestion in oppo mobile phones!

For example, there are two pages of A and B, write a TextInput component respectively in the two page, when in the A page, click on the pop-up keyboard TextInput, and then close the keyboard, and then open the new page B, click on the pop-up TextInput keyboard, the keyboard is closed again, and then return to the A page, click TextInput cannot eject

[2017-06-15 02:48] #14504 closed

[2017-06-15 02:51] ZHT131 commented on #14523
This is also true in several closed Issues
[#12671](https://github.com/facebook/react-native/issues/12671)
[#12864](https://github.com/facebook/react-native/issues/12864)
[#14489](https://github.com/facebook/react-native/issues/14489)

[2017-06-15 03:07] younatics opened #14525 "Use `yarn` instead of `nom install` in 45.0.1 version"
<details>
  **Issues that do not describe a bug or do not fill out the template below will be closed**

  We use GitHub Issues exclusively for tracking bugs in React Native.

  - If you're looking for help with your code, consider asking on Stack Overflow instead: http://stackoverflow.com/questions/tagged/react-native
  - Want to know more about future plans? Check out the roadmap: https://github.

[2017-06-15 04:20] nbyh100 opened #14526 "App crashes for "mutex lock failed: Invalid argument""
### Description

App crashes for "mutex lock failed: Invalid argument"

### Reproduction Steps

It crashes only when app in backend. We cannot reproduce it.

### Additional Information

We get crash infomation in fabric. Here is the crash report:

[2017-06-15 04:22] hramos commented on #14526
As it happens, debugging one off crashes from an analytics service is not something within the scope of this repository. If you're able to provide some specific reproduction steps, feel free to submit a new issue.

[2017-06-15 04:22] #14526 closed

[2017-06-15 04:23] hramos commented on #14525
What version of yarn did you use? Can you include more details about the failure?

[2017-06-15 04:24] hramos commented on #14523
We really need more detailed reproduction steps, and most importantly, sample code. That's probably why those other issues were closed as well.

[2017-06-15 04:25] hramos commented on #14519
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-15 04:25] #14519 closed

[2017-06-15 04:25] hramos commented on #14515
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-15 04:25] #14515 closed

[2017-06-15 04:25] hramos commented on #14503
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-15 04:25] #14503 closed

[2017-06-15 04:27] hellomaya commented on #14461
I had saw the same issue a few days ago, but this time, when I create a new app, and it's working well!!

[2017-06-15 04:44] ZHT131 commented on #14523
@hramos  But here, as in GIF, there are only two simple pages, each containing a TextIput, and nothing else

[2017-06-15 04:45] ZHT131 commented on #14523
@hramos This problem can be reproduced in a OPPO cell phone

[2017-06-15 04:51] ZHT131 commented on #14523
## This is page A
`export default class tongcheng extends Component {
    render() {
        return (
            <View style={{ flex: 1 }}>
                <TextInput
                    style={{ height: 40, borderColor: 'gray', borderWidth: 1 }}
                />
                <TouchableOpacity onPress={()=>this.props.navigation.navigate('New')}>
                    <Text>open</Text>

[2017-06-15 04:59] MSSPL-PiyaleeMaiti commented on #14513
I can't use new react native version for now because of many library support. We will do it later task may be after few months. Please tell us for now that can we fix this issue in this current version or not.

[2017-06-15 04:59] ZHT131 commented on #14523
After you open the keyboard and close it on the B page, return to the A page and click TextInput, then you can't open the keyboard

[2017-06-15 05:18] mhorowitz commented on #14328
There's two problems here:

1. the react project file includes folly/File.cpp, which is what pulls in these symbols, and is unnecessary.  You can delete it; I'll submit a fix to do the same upstream.

2. Normally, an unreferenced .o file in a .a file would not cause a problem, but your top-level project file includes `-all_load` in Other Linker Flags.  This causes all .o files to get pulled in, wh

[2017-06-15 05:49] phuwasit commented on #14447
@radko93 @thiagovictorino
Try this
1. Download 4 zip files
https://github.com/google/glog/archive/v0.3.4.tar.gz
https://github.com/google/double-conversion/archive/v1.1.5.tar.gz
https://github.com/react-native-community/boost-for-react-native/releases/download/v1.63.0-0/boost_1_63_0.tar.gz
https://github.com/facebook/folly/archive/v2016.09.26.00.tar.gz

2. unzip
- boost_1_63_0
- double-conversion-

[2017-06-15 06:00] ddolheguy opened #14527 "Android Websocket errors on closed connections and attempting to send"
We have ben seeing a lot of errors on Android using WebSockets with the below error coming through from Google Play.

It seems to be not handled correct when the connection is closed but it's not a error we can easily reproduce.

java.lang.RuntimeException:
  at com.facebook.react.modules.websocket.WebSocketModule.send(WebSocketModule.java:221)
  at java.lang.reflect.Method.invoke(Native Method:0)

[2017-06-15 06:15] xzf158 commented on #14382
I’ve got the same issue. :(

[2017-06-15 06:31] PeterEmanuel commented on #14368
Same here, I also reverted to last commit before upgrading, due to this "double-conversion" issue.

[2017-06-15 06:38] Ashi90 commented on #14515
Why I asked such kind of question in Stackoverflow,?
Is this question is not related to react native???
I already asked this question on Stackoverflow but not getting any success.
Please let me know what can I do for solving my problem.

[2017-06-15 06:40] aqnaruto commented on #1344
oh,we need webview cathe ,it is very important for me!@mkonicek

[2017-06-15 06:48] aqnaruto commented on #5334
same issue  https://github.com/facebook/react-native/pull/8578

[2017-06-15 06:53] sjmueller commented on #14328
Thanks for chiming in @mhorowitz. As mentioned above, I tried every combination of Linker Flags. For the record, I have never been able to get a swift project to work with react native using just `-lc++` and `-ObjC` linker flags. Yes the project will build, however the app will immediately crash at runtime.  This is what I just got by removing `-all_load` in favor of `-ObjC` in the swift project I

[2017-06-15 06:53] ipenpen opened #14528 "[FlatList] render same dataRow too much every time"
### Dev - Environment
* React Native version: 0.45
* Platform: iOS
* Development Operating System: macOS
* Build tools: Xcode

### Sample Code
[code]
### Problems
- if data.length <= 10, it is ok, but
- if data.length is bigger than 10, with each item in data renderItem() is called more than 1 time
- the number of calling renderItem() of each data is near: (1 + (data.length - 10) / 10)
- expected

[2017-06-15 07:00] zakster12 commented on #6691
I have very easy fix for the problem that works perfectly for me. I remove the problematic image from the assets folder and add it again. And the red screen is gone. Just drag & drop.

[2017-06-15 07:06] sjmueller commented on #14328
Actually, the error above is caused by AppTransportSecurity -- i forgot to add the exception:
[code]
After updating info.plist, I get the error:
[code]

These are not errors I recall seeing before. For reference, the error is the same for `-all_load` or `-ObjC`, of course after a clean + rebuild.

[2017-06-15 07:09] #11412 closed

[2017-06-15 07:22] celalkasli commented on #5823
+1

[2017-06-15 07:41] andon commented on #14328
Removing ```-all_load``` from ```Other Linker Flags``` makes the project build again.

[2017-06-15 07:52] datnguyen92 commented on #7308
@florismettey your solution saves me man!!! I have tried all of the provided solutions but only this works for me. Thanks so much!

[2017-06-15 07:56] jjzazuet opened #14529 "Provide --android --ios flags to react-native link"
Hi. I've battling a lot when upgrading native library dependencies between iOS and Android on each major RN release. The most hassle free way I've found to manage these is:

- For iOS: Use Cocoapods, since `react-native link` produces non-compiling projects most of the time.
- For Android: `react-native link` works flawlessly most of the time.

So, any flag options to direct `react-native link` to

[2017-06-15 08:00] EdwardHuCS commented on #14391
Just upgraded and ran into this bug. Using @sebandres' quick hack to force it to complete.
[code]

[2017-06-15 08:03] 13hoop commented on #7308
same here
`Installing build/Build/Products/Debug-iphonesimulator/AwesomeProject.app
An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=2):
Failed to install the requested application
An application bundle was not found at the provided path.
Provide a valid path to the desired application bundle.
Print: Entry, ":CFBundleIdentifier", Does Not Exist

Command failed: /usr

[2017-06-15 08:16] cbjs commented on #13697
0.45 Android still not working

[2017-06-15 08:26] Zehio commented on #12895
+1!!!!  Extremely annoying.

[2017-06-15 08:36] sjmueller opened #14530 "[0.46] Packager fails: Unknown plugin "transform-runtime""
Create a fresh app with: `react-native init rn46 --version "0.46.0-rc.2"`, then `CMD+R` in Xcode which attempts to fire up the packager, but immediately bombs with:

[code]

Since it's a reference error, I add the dependency `npm i babel-plugin-transform-runtime --save-dev` and rerun, which now bombs with:

[code]

Okay, let's now try `npm i --save-dev babel-preset-env`, which bombs with:

[code]

[2017-06-15 08:43] mattijsf commented on #14382
I also have the same issue using react-native 0.45.1:

`$ rm -rf node_modules/ && yarn cache clean && yarn install`
`$ ls node_modules/react-native/` (missing third-party directory)

Xcode build fails:` 'config.h' file not found`

`$ node_modules/react-native/ios-install-third-party.sh`
`$ ls node_modules/react-native/` (third-party directory found)

Xcode build succeeds.

[2017-06-15 08:46] sjmueller commented on #14328
@mhorowitz FYI removing File.cpp fixes the problem 🎉  -- I tried with our full project. There are some other problems now with the packager for `0.46.0-rc.2` that I've detailed in #14530, but not related to this issue.

[2017-06-15 09:00] ismdcf commented on #8693
+1

[2017-06-15 09:02] GitterYang commented on #14209
This is still reproduced for me in 0.45.1
I can't react-native init NewProject, I use it with cocoapods in my old project.

versions:
react-native-cli: 2.0.1
react-native: 0.45.1
yarn:0.24.5
macOS Sierra, Xcode 8.3.2

[2017-06-15 09:08] mattijsf commented on #14382
Building my parent / main project still fails:
I multiple of these errors:

[code]

I also noticed that the files link from the React project are wrong/missing. For example:
`node_modules/react-native/React/folly-2016.09.26.00/folly/dynamic.cpp`
`node_modules/react-native/React/glog-0.3.4/src/config.h`
Which doesn't exist.

If I build a new project using `react-native init` the same files in the R

[2017-06-15 09:20] redak105 commented on #14382
I have same problem.
In Xcode have added Third party (folly, glog, double-conversion) in React project, which are not exist at path set in project.

I am using npm version 5.0.3.

[2017-06-15 09:24] hkung77 commented on #1882
onSubmitEditing works great for Enter but how about listening for other input events like backspace?

[2017-06-15 09:31] radko93 commented on #14513
@MSSPL-PiyaleeMaiti create a new empty project a try if you can reproduce this issue on new RN version, you don't your whole app to do this.

[2017-06-15 09:41] MSSPL-PiyaleeMaiti commented on #14513
@radko93   It may fix bug it's a live version and we need a quick fix. We know as it may surely fix the issue after using the new version. So can you provide some quick solution for now.
As we are focusing to new version upgradation later.

[2017-06-15 09:48] mbashiq opened #14531 "[FlatList] 2 FlatList Performance Issue"
I have 2 FlatList inside a ScrollView. The ScrollView and the second FlatList lags as soon as the FlatList comes into view. I tried keeping only one FlatList and it works pretty smooth. I'm also using PureComponent to render each individual items for the FlatList

[code]
[code]

[code]

[2017-06-15 09:56] nguyencaochien opened #14532 "What is MyAppText component??? I have custom font and want to use it throught my app."
T have custom font and want to use it throught my app but don't know how to do this. I read Text.md and see that using MyAppText component can resolve it. But where is <MyAppText> and how to write it?

Please help me.

[2017-06-15 09:56] birthmark commented on #6875
@cskaynar good！

[2017-06-15 09:58] MehdiAlouafi commented on #14209
I just hit 'react-native init' and then 'react-native run-ios' and upon launching the simulator I see the well-known error message : 'cannot find module AccessibilyInfo'

version:
on macOS Sierra, react-native 0.45.1

I wish I could help, keep up the good work !

[2017-06-15 10:10] mattijsf commented on #14382
My above comment about files that are not linked correctly solved by itself so I don't think the errors were related to that at all:
1. `$ rm -rf node_modules/ && yarn cache clean && yarn install`
2. `$ open node_modules/react-native/React/React.xcodeproj/`
3. Observe path of `node_modules/react-native/React/glog-0.3.4/src/demangle.h`: wrong & missing
4. Build the project (succeeds)
5. Observe pat

[2017-06-15 10:18] sergey-akhalkov opened #14533 "[Android] Unable to recreateReactContextInBackground"
Hey guys,

### Description

There is an issue with `recreateReactContextInBackground()` method after upgrading React Native version from 0.44.3 to 0.45.1:
[code]

I have RN project that uses CodePush SDK and I want to call `CodePush.restartApp` method, but I'm receiving the error above.
To restart an app (reload js bundle) `CodePush.restartApp` method uses `loadBundle` method and `loadBundle` meth

[2017-06-15 10:39] iegik commented on #14209
https://github.com/facebook/react-native/blob/master/Libraries/react-native/react-native-implementation.js#L19

[2017-06-15 10:49] attilaaronnagy commented on #14417
after every node_modules reinstall i have to update the build tools versions.. so the solution provided by @olivierkaisin works, but please fix this bug, every android build takes 10 times longer than before :(

[2017-06-15 10:50] Koblaid commented on #14373
@iremlopsum Thanks for your solution, removing node_modules and reinstalling worked for me. But I'm confused. Does this mean that my old node_modules differed from the reinstalled one? I thought that this kind of difference is prevented by yarn? (I used yarn)

[2017-06-15 11:37] mattijsf commented on #14382
Finally fixed the `folly::detail::formatBinary` related errors. They were caused by the `-all_load` flag in my Other Linker Flags. Not sure what will break at runtime but at least the build works ;)

[2017-06-15 11:54] whj5484138 opened #14535 "webview.injectJavaScript()"
when i use injectJavaScript like this:

 `this.webview.injectJavaScript("alert('test')")`,

alert will block javascript thread, then the function will never finish, and i can't even close the alert. the app is deadlock.

I fixed it like this:
[code]

it worked, but i don't think it's the best way, any idea?

[2017-06-15 12:23] stiang commented on #2018
I believe @blockspeiser is correct that this is about fractional widths/heights, and I was finally able to figure out why that happens. One clue was that it worked perfectly on my iPhone 6s, but not on my colleagues’ iPhone 7 Pluses.

Our app uses a launch image asset catalog source (actually a different one for every scheme), and it turned out that we had added images just for some of the sizes -

[2017-06-15 12:30] stereodenis commented on #13773
I'm tired of downloading a file

[2017-06-15 12:51] jpb12 commented on #8615
If this is unlikely to get fixed soon, can we at least get the docs updated to indicate that this doesn't work in iOS?

[2017-06-15 13:00] sjmueller commented on #1831
So hramos & @sahrens, what exactly is the best workaround for this issue with FlatList? Running into this with react `0.44.0` using `react-native-tab-vew`, and it's not really clear what the core team is recommending at this time.

[2017-06-15 13:00] sjmueller commented on #1831
So @hramos & @sahrens, what exactly is the best workaround for this issue with FlatList? Running into this with react `0.44.0` using `react-native-tab-vew`, and it's not really clear what the core team is recommending at this time.

[2017-06-15 13:07] anceque commented on #904
as @uandco mentioned, the overflow cannot be used together with shadow properties.. What is the workaround here?

[2017-06-15 13:14] samhann commented on #13079
We are also facing the same issue.

[2017-06-15 13:20] ankurToko commented on #13775
I am facing similar issue but with iOS. When the app goes to background by clicking the home button, now if we open app using the icon or from the background, then it gets rendered 2 times and then 3,4,5.... times.

[2017-06-15 13:21] ptomasroos commented on #14462
This is a real case reported by various user by us as well.

[2017-06-15 13:26] tewodroswondimu commented on #11293
For me I just do a `react-native upgrade` then `react-native run-ios` and it works

[2017-06-15 13:29] jp928 opened #14536 "Touchable* cannot touchable inside a absolute View"
### Description
TouchableOpacity/TouchableNativeFeedback not working if its parent view has position absolute.
If I do following in 0.45.1, the _onPress function would not be called.

#### Sample Code

[code]

### Additional Information

* React Native version: 0.45.1
* Platform: Android
* Development Operating System: Mac OSX with Android 6.0 device

[2017-06-15 13:41] eduplus commented on #11586
@Ethan0007 Your bundle command did the trick for me. Otherwise the build worked and it installs on the phone, but would crash complaining:

UncaughtException: java.lang.RuntimeException: Error calling AppRegistry.runApplication
..Could not get BatchedBridge, make sure your bundle is packaged correctly

Now I am just confused why that is and why that is not done automatically? Do I need to run that

[2017-06-15 14:08] iMagdy commented on #2607
Did you get it working when setting state inside start/stop?

[2017-06-15 14:24] krunalsshah commented on #12246
At this point the solution is to include `abiFilters` as below in `defaultConfig` of your applications `build.gradle`.
[code]
Yes this will increase the size of the .apk file. If you want to reduce the apk file size you should go with [split APKs](https://developer.android.com/studio/build/configure-apk-splits.html) Please note universal .apk will not work as dual ABI support devices will still tr

[2017-06-15 14:36] #14536 closed

[2017-06-15 14:38] alexmngn commented on #14209
I deleted my node_modules folder
Then:
[code]

Fixed it for me.

[2017-06-15 15:14] Ehesp commented on #8615
@jpb12 maybe it's worth making the PR and seeing if they merge it. May actually get this more visible as it seems to be forgotten about.

[2017-06-15 15:21] MehdiAlouafi commented on #14209
I fixed it by using the latest version of npm@5.0.3 and node@latest ... I don't know why but now react-native init works ...

[2017-06-15 15:32] hramos commented on #14527
I'm afraid that without clear reproduction steps, this issue may not get resolved.

[2017-06-15 15:34] hramos commented on #14529
Thanks for opening the issue, however it looks like a feature request. As noted in the [Issue template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) we'd like to use the GitHub issues to track bugs only. Can you implement the feature as a standalone npm module? If not consider sending a pull request or a create an entry on [Canny](https://reactnative.canny.io/fea

[2017-06-15 15:34] #14529 closed

[2017-06-15 15:36] hramos commented on #14532
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-15 15:36] #14532 closed

[2017-06-15 15:42] hramos commented on #14417
This issue is closed. If this is still affecting you, please open a new issue and make sure to fill out everything in the template as documented in the contribution guidelines. Thanks!

[2017-06-15 15:46] hramos commented on #14523
Have you tested this on other devices (non-OPPO)? Does it reproduce on Snack?

[2017-06-15 15:46] andrelimawork commented on #7955
convert it to base64 and inject it in the webview...

[2017-06-15 15:47] hramos commented on #1831
@sjmueller didn't @sahrens say that this is already fixed in master?

[2017-06-15 16:12] duhseekoh opened #14537 "[Android] AppState 'inactive' not triggered on Android"
### Description

 When listening to an AppState change, `inactive` is never triggered on Android, only `background`.

### Reproduction Steps

1. Setup a `change` listener on AppState.
2. Output the current app state in the listener function.
3. Send the app to the background (go to home screen) and notice `background` is logged, but never `inactive`

#### Sample Code

[code]

### Additional Inform

[2017-06-15 16:33] tibbus commented on #14295
I tested in the last version `v0.45.1` still doesn't work.

[2017-06-15 16:46] z4qx commented on #14288
Same issue on IOS Phone emulator with React Native version: 0.45.1, on macOS 10.12.5.
The app crash if the remote debug is set to true. No problem on android, emulator and hardware device.

[2017-06-15 16:53] Schwad commented on #4968
Well, looks like this issue is old enough that I'm being pointed here from the error messages in the code directly, and the example isn't working otherwise I wouldn't have come here. Will post my solution if/when I resolve this.

[2017-06-15 17:02] Deevent opened #14538 "Cannot read property 'string' of undefined | React.PropTypes | LayoutPropTypes.js"
After deleting and reinstalling my node_modules folder, I'm facing an issue that I don't understand in LayoutPropTypes.js file.

In node_modules/react-native/Libraries/StyleSheet/LayoutPropTypes.js
The following variable is undefined : var ReactPropTypes = require('React').PropTypes;

react-native: 0.45.1
react: 16.0.0-alpha.12

[2017-06-15 17:02] hramos commented on #14531
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-15 17:02] #14531 closed

[2017-06-15 17:04] #14535 closed

[2017-06-15 17:04] hramos commented on #14538
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-15 17:04] #14538 closed

[2017-06-15 17:05] wuno commented on #7955
Thanks, we ended up doing it natively with Swift and Android.

[2017-06-15 17:06] Ethan0007 commented on #11586
Sir, please try to cd android then try to & ./gradlew clean. then & ./gradlew assembleRelease

[2017-06-15 17:10] AggarwalAnkit commented on #11565
please, someone, explain the difference between flex and flexGrow in react-native

[2017-06-15 17:13] jamesreggio commented on #13976
The impact on React Native users isn't quite zero — in fact, this is a breaking change.

The iOS pbxproj generated by `react-native init` includes a 'run script' build step that invokes the following shell command:

[code]

Now that `/packager` is gone and `react-native-xcode.sh` now lives under `/scripts`, existing React Native users will have to update the path in this build step.

There's a lot

[2017-06-15 17:16] wootwoot1234 commented on #11565
I spent a day or two trying to figure this out.  Here is what I came up with:

[flex vs flexGrow vs flexShrink vs flexBasis in React Native?](https://stackoverflow.com/a/43147710/1078829)

Hope it helps.

[2017-06-15 17:18] iremlopsum commented on #14373
@Koblaid I don't actually understand what is causing this issue. I updated to 0.45.1 and I had to go through the same thing again. It seems like it's the same versions of the things. Maybe some issue with cache?

[2017-06-15 17:20] johnchourajr commented on #11565
@AggarwalAnkit

Flex is a parent property, and applies to its children. Just like how flexAlign will make as set of children align in a broad way.

FlexGrow is a self property. Similar to how alignSelf works.

The biggest change is that you can't blanket apply flex to a parent element and expect all of the children to just assume the proportions of the container. I've found that yo have to go in,

[2017-06-15 17:20] Schwad commented on #4968
*If you are taking your first dive into the React Native tutorials and just got here, here's what worked for ME*.

@gnosticism's answer worked for me, first I had to `rm -rf /usr/local/lib/node_modules/npm/node_modules/rimraf/node_modules`.

I was on node `4` but now am on `>6`.

**To recreate the project I created a new folder and followed the same steps for AwesomeProject again**

[2017-06-15 17:23] johnchourajr commented on #11565
@AggarwalAnkit

If you look here, https://codepen.io/enxaneta/full/adLPwv/, in the css usage of the 'flex' property, it's an all encompassing shorthand property comprised of flex-grow flex-shrink and flex-basis.

Why React Native doesn't treat it in this way? I'm not sure.

[2017-06-15 17:24] DrPandemic commented on #13727
@OrganicCat when do you call your `scrollToBottom`? When I try to call `scrollToEnd` too quickly (something faster than 1 second after the constructor) it doesn't scroll.

[2017-06-15 17:26] AggarwalAnkit commented on #11565
@johnchourajr that is what my question was. Flex in react-native is not same as flex in CSS where flex = flex-grow flex-shrink flex-basis. @johnchourajr @wootwoot1234 thanks for the pointer. I will read more and update here.

[2017-06-15 17:26] pietgk commented on #1693
+1 RN 0.45.1

[2017-06-15 17:29] cpojer commented on #13976
cc @grabbou – would you mind including this in the Release Notes? We weren't aware that generated files would have full paths.

[2017-06-15 18:22] Koblaid commented on #14373
@iremlopsum Yes, I remember that `react-native start` has the flag `--reset-cache`. Maybe running this would help. If this is true then it could be worth it to let `react-native-git-upgrade` run the `--reset-cache` command.

[2017-06-15 18:28] iremlopsum commented on #14373
@Koblaid I guess that would help. Will try that with the next update if the issue remains.

[2017-06-15 18:32] lazyhoneyant commented on #14288
+1 same issue

[2017-06-15 18:47] OrganicCat commented on #13727
[code]

Also, I changed my timeout to 100 miliseconds.

[2017-06-15 18:55] PriyamDutta opened #14539 "Image not loading from Images.xcassets"
Unable to load images facing the following issue

![simulator screen shot 16-jun-2017 12 24 33 am](https://user-images.githubusercontent.com/21267926/27196981-3426e51e-522a-11e7-8b70-862e26dd3dd9.png)

[2017-06-15 19:16] rborn commented on #2468
I'm late to the party, but I found this way to have independent border radius on both platforms 😄
https://snack.expo.io/BJfN38eXW

![screen shot 2017-06-15 at 21 14 41](https://user-images.githubusercontent.com/406409/27197770-ca54866a-520f-11e7-931b-caffd3eb665f.png)
![screen shot 2017-06-15 at 21 15 05](https://user-images.githubusercontent.com/406409/27197771-ca59dcfa-520f-11e7-9626-56a8037ec00

[2017-06-15 19:38] austinksmith commented on #8785
I really wish there wasn't a trend of closing issues that haven't been resolved, it's only been inactive on the maintainers part not the community.

[2017-06-15 20:01] stajics commented on #6050
@williambout Same issue. Could you provide me with some hints as to how you solved this with Animated?

[2017-06-15 20:06] #14328 closed

[2017-06-15 20:12] jasan-s commented on #10443
I'm still seeing this issue on RN 0.45.1. what is the accepted solution?

[2017-06-15 20:17] mhorowitz commented on #14423
I just added code in the above rev to improve the logging around this failure.  If you see it again, please post the output so we can try to narrow down what's going on here.

[2017-06-15 20:32] jjzazuet commented on #14529
Ok, will do. Thanks.

[2017-06-15 20:32] mhorowitz commented on #14326
I'm hopeful I've worked around this.  If you're experiencing this problem, please try your app against a version of RN including the above rev and post what happens.  Thanks!

[2017-06-15 20:37] #14539 closed

[2017-06-15 20:47] sihitejulio opened #14540 "How to revmove page transition"
`componentDidMount() {                                                                    `
 `const token = AsyncStorage.getItem("username").then(token => { `
 `  if(token) {                                                                                         `
 `     this.props.navigation.navigate('Main');                                         `
 `  }

[2017-06-15 21:08] nerdmed commented on #12071
Any news here? Seems that this is still broken and its not the intl lib?!

[2017-06-15 21:36] MehdiAlouafi commented on #14209
I think it might be related to this npm issue
https://github.com/npm/npm/issues/16839#issuecomment-308809150
Le jeu. 15 juin 2017 à 16:54, Alexis Mangin <notifications@github.com> a
écrit :

--
Mehdi AL OUAFI
Front-End Developer Junior

Paris, France

Portfolio <http://mehdialouafi.github.io/Portfolio/> - Behance
<https://www.behance.net/MehdiAlouafi/> - Twitter
<https://twitter.com/AMehdiW> - Lin

[2017-06-15 22:27] courtneybeames opened #14541 "Unable to resolve module error"
Everytime I try to run my app on the simulator, I get this error:

Unable to resolve module "..." from "/Users/../../node_modules/react-native/Libraries/react-native/react-native-implementation.js': Module does not exist in the module map or in these directories: /Users/.../Desktop/../node_modules/react-native/node_modules, /Users/../Desktop/../node_modules

When I clear watchman, delete the node

[2017-06-15 22:50] sjmueller commented on #1831
@hramos I just reviewed this whole thread again. I may have missed it, but nowhere did I see @sahrens mention that FlatList going invisible is fixed on master. Nor did I see a commit/PR that references this issue, and finally no recommended workaround for fixing the problem.

[2017-06-15 23:00] sjmueller commented on #1831
I do see that @yaronlevi recommends setting `lazy={true}` on `react-native-tab-view` or `TabNavigator`, but that causes jumpy delays even on an iPhone 7 plus.

@knappdev says it works without `lazy` on 0.44.2 and beyond, so I'll try to upgrade and see if I have success.

[2017-06-15 23:18] MarkRich commented on #10187
ping as well. also having this problem.

[2017-06-15 23:24] sjmueller commented on #14362
Please include 4fd427e!

[2017-06-15 23:27] fangpenlin opened #14542 "Text with adjustsFontSizeToFit turned on will lose fontVariant"
<details>
  **Issues that do not describe a bug or do not fill out the template below will be closed**

  We use GitHub Issues exclusively for tracking bugs in React Native.

  - If you're looking for help with your code, consider asking on Stack Overflow instead: http://stackoverflow.com/questions/tagged/react-native
  - Want to know more about future plans? Check out the roadmap: https://github.

[2017-06-15 23:31] juniorgarcia commented on #7308
Did everything that you told in here, the **only** thing that worked was to downgrade React Native on my package.json to version  `0.44.0` **as well as my global package** and React to `16.0.0-alpha.6`, this way:
[code]
[This solution was found here](https://github.com/facebook/react-native/issues/14452#issuecomment-308074080)

After that, I was able to run my app, although a `unable to resolve mo

[2017-06-15 23:48] lprhodes commented on #1831
My work around is to turn removeClippedSubviews on/off depending on whether the flatlist is in use or not.

[code]

[2017-06-15 23:57] hellomaya commented on #14461
This steps probably work, don't forget to reset your iOS simulator

- Restore computer
- Open terminal
- Run ```react-native init example2```
- Start iOS simulator
- Reset content and settings
- in example2, run ```react-native run-ios```
- will work

[2017-06-16 00:56] ehfeng commented on #5378
Sentry's [React Native support](https://docs.sentry.io/clients/react-native/) is now [officially released](https://blog.sentry.io/2017/03/14/react-native) with support iOS and Android. This includes both JS source map decompression as well as Swift/Obj-C [symbolification](https://blog.sentry.io/2017/04/11/ios-symbolication-troubles)

[2017-06-16 01:03] SniperAK commented on #13788
same problem too.

but i solved wrapped sectionHeader with View using flex:1. It's works fine for me.

I tried before section header`s root View style has flexDirection:'row' style but it was not working.
So i used wrapped root View. it will be solve problem but not correct answer.

i think section header inside static renderer made those problem.

[2017-06-16 01:12] lslvxy commented on #14461
it suddenly work today

[2017-06-16 01:38] airman00 commented on #13245
@udfalkso any luck or updates with this?

I'm experiencing the same issue and lost with what to try next

[2017-06-16 02:10] LaPoPvLe commented on #14498
try `cd android && ./gradlew assembleDebug --info` will show the build progress detail.
hope it help u.
refer:  [React-native debug apk](https://stackoverflow.com/questions/37454913/react-native-debug-apk)

[2017-06-16 02:17] junliang0819 opened #14544 "fail to start the program!"
### Description

** BUILD FAILED **

The following commands produced analyzer issues:

	Analyze /Users/jlchen/Desktop/AwesomeProject/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c
	Analyze /Users/jlchen/Desktop/AwesomeProject/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c
(2 commands with analyzer issues)

The following build commands failed:
	PhaseScriptExecution Install\ Th

[2017-06-16 02:25] ZHT131 commented on #14523
@hramos Other devices are normal, oppo has this problem

[2017-06-16 02:25] pannz commented on #14544
same issue！

[2017-06-16 02:27] Feng999 commented on #14462
@ptomasroos  how do you guys fix this?

[2017-06-16 02:29] ZHT131 commented on #14523
@hramos It was also mentioned that Meizu mobile phone has this problem

[2017-06-16 02:36] yaxin3690 commented on #12246
thinks @krunalsshah

[2017-06-16 02:56] sahrens commented on #1831
removeClippedSubviews is now off by default for FlatList.

For issues on slow devices, have you tried the RNTester app FlatListExample?

[2017-06-16 02:58] sahrens commented on #1831
How does FlatListExample perform for you?

[2017-06-16 03:01] lprhodes commented on #1831
Yeah - that's why I turn it on when the actually scrolling. I get fewer random jitters that way.

I then replace (far) out of view cells with empty ones in order to reduce memory overheard further than FlatList does by itself

[2017-06-16 03:22] fajrinimamarif commented on #6499
thanks

[2017-06-16 03:40] lazyhoneyant opened #14545 "Debug JS Remotely wait for clicking in IOS simulator."
‘ Debug JS Remotely ‘ wait for clicking in IOSsimulator.

To debug I turned on the Debug JS Remotely.
After that, simulator wait for clicking on the response of HTTP request.
For example when request login to a server, server response immediately to the client, But iOS simulator wait for my clicking. After clicking anywhere on the screen, It goes next. It's like a breakpoint.

Android is OK, Real

[2017-06-16 03:54] xkrumeng opened #14546 "React Native project init error (windows)"
when i run the command: **react-native init AwesomeProject** , then show me those info below:

npm WARN react-native@0.45.1 requires a peer of react@16.0.0-alpha.12 but none was installed.
{ Error: Command failed: npm install --save --save-exact react-native
    at checkExecSyncError (child_process.js:481:13)
    at execSync (child_process.js:521:13)
    at run (C:\Users\Administrator\AppData\Roam

[2017-06-16 03:55] rajivramv commented on #11623
I had a similar issue on android. Closing the remote-debugger tab and recreating a new one by selecting "Debug JS remotely"  did the trick.

[2017-06-16 04:05] fangpenlin commented on #14542
Forgot to mention, thanks @jarodl for spotting this bug

[2017-06-16 04:24] bingfj2008 opened #14547 "fetch is not work in IOS with React Native 0.45.1"
Hi !
fetch is not work in IOS with React Native 0.45.1

/************  source like this *************************/
export async function callApi(paramObj, successCallback, errorCallback) {

  // オプション
  let option = {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
    },
    body: paramObj,
  };
    try {
      let response = await

[2017-06-16 04:35] EdwardHuCS commented on #14547
There are already issues about this (#14391). Basically, response.json() is not resolving for some reason when RN is upgraded to 0.45.1. There is a quick work around.
[code]

[2017-06-16 04:40] dannycochran commented on #14545
Noticed this on my Android emulator as well, using RN 0.45.1

[2017-06-16 04:51] lslvxy commented on #14417
Removing node_modules/.bin/ worked

[2017-06-16 04:52] mikelambert commented on #14391
And the modified ES7 form of the above code that also works for me (thanks!):
[code]

Just add the setTimeout before you call `json()` or `text()` or anything else that operates on `response.blob`.

As far as the underlying bug, definitely feels like the eventloop "falls asleep" when processing `response.blob` and `readBlobAsText`, instead of recognizing there are still a `Promise` on the eventloo

[2017-06-16 05:06] edwardfhsiao commented on #12754
@colorfulberry, after renaming my project, your answer helped, thx

[2017-06-16 05:12] igofind commented on #13997
I am facing similar issue but with {textAlign: 'right'}.

[2017-06-16 05:13] RobertSheaO commented on #12071
@nerdmed The current solution is to add the following to your `scripts` section of your `package.json` file.

[code]

If that's not working for you, you might have another NPM that's including a `.babelrc` that is tripping up React Native. I personally am surprised it's not fixed yet, I'm currently on version 0.44.0

[2017-06-16 05:14] RobertSheaO commented on #12071
Looks like it was fixed in 0.45.1

https://github.com/facebook/react-native/commit/7932b93fef7f0d92bf11ff1532fdc3fd3916d45c

https://github.com/facebook/react-native/releases

[2017-06-16 05:17] tuneZola commented on #14447
Having the same issue.

[2017-06-16 05:23] lslvxy opened #14548 "[0.45.1] Android release build failed"
just like #14417
[code]

[2017-06-16 05:24] lslvxy commented on #14548
I have tried all methods but all does not work

[2017-06-16 06:03] tuneZola commented on #14447
+1

[2017-06-16 06:09] ptomasroos commented on #14326
Will try right away and report back!

[2017-06-16 06:10] younatics commented on #13198
Still get this error in RN 0.45.1

[2017-06-16 06:14] pallavbohara commented on #9342
This worked for me.
npm install -g react-native-cli

[2017-06-16 06:17] gary-domain commented on #9404
+1

[2017-06-16 06:42] Symous opened #14549 "FlatList not scrollable in absolute View."
When we put a FlatList inside a view which position is absolute,the FlatList can not scroll.
[code]

[2017-06-16 07:10] mbashiq commented on #14531
Okay thanks for that :D

[2017-06-16 07:17] rexlow commented on #7495
Nothing works, watchPosition will not even be called on Android, iOS works perfectly. It's already RN v0.45.0 (I'm currently on 0.44.0) and it's still not solved? Come on!

[2017-06-16 07:56] walkerXiong commented on #14045
+1, need custom keyboard with TextInput, just want that keyboard never show when TextInput focus

[2017-06-16 07:58] hepiska commented on #9391
@vikrampanwar  get same issue, have u update your node to node 8?

[2017-06-16 08:20] rogerluo410 opened #14550 "Webview can't call onLoad's callback when source is HTML source code in iOS, but, it'ok for Android."
-- Please use this template, and delete everything above this line before submitting your issue ---

**Description**

The Webview's source is HTML code, will inject JS while onLoad callback executed.  This is ok for Android, but, for iOS, the onLoad's callback is even NOT called...

[code]

this code works well on Android,  but, even NOT call onLoad to inject JavaScript in iOS...
Meanwhile, if I p

[2017-06-16 08:45] jhalvorson commented on #8949
We're using RN 0.43.4, Firebase 3.9.0 and experiencing this on Android only.

[2017-06-16 08:51] onuar commented on #12307
@WhoJave I think, you killed the process when you restart the simulator.

[2017-06-16 08:58] lazyhoneyant commented on #14548
+1 same issue

[2017-06-16 08:58] Ethan0007 commented on #12080
@sospartan  sir, what xcode version are you using right now? I'm having the same issue.

[2017-06-16 08:59] nazarTrynko commented on #14045
@walkerXiong https://github.com/wix/react-native-keyboard-input custom keyboard

[2017-06-16 08:59] z4qx opened #14552 "Animation working only on android [RN 0.45.1]"
### Description
I tried to use animation to fit the layout of my keyboard.
Following this example : https://medium.freecodecamp.com/how-to-make-your-react-native-app-respond-gracefully-when-the-keyboard-pops-up-7442c1535580

The code work properly on Android Emulator and Android device but crash on IOS Emulator and IOS device.

Error is : undefined is not an object (evaluation 'singleValue.stopTra

[2017-06-16 09:42] walkerXiong commented on #14045
@nazarTrynko thanks, i tried it some time ago and i find that the system keyboard still will show at the first time and then quickly hide, that appear flicker, so this lib also can't solve our problem.

[2017-06-16 09:45] RomualdPercereau commented on #14505
Yes, I read the code and 60 fps looks to be hardcoded in

Libraries/NativeAnimation/Drivers/RCTAnimationDriver.h

`static CGFloat RCTSingleFrameInterval = 1.0 / 60.0;`

Is their anywhere else, is it implemented? I'll try to submit a PR.

[2017-06-16 09:54] MrLoh commented on #6050
@stajics You can solve it by just manually animating the e.g. width value from the start to the end position. You'll have to calculate the width yourself though using onLayout etc.

[2017-06-16 10:37] grabbou commented on #13976
Makes a lot of sense! I'll include it right away

[2017-06-16 10:43] grabbou commented on #14362
Will do - how about the second issue in regards to packager? I guess it makes sense to cherry-pick those two if fixes are going to land soon

[2017-06-16 10:50] AggarwalAnkit opened #14553 "Dangerous permissions are being auto granted even on android M and above."
Whatever dangerous permission I add in Android Manifest file and run the app in emulator or mobile having SDK version >= M, I get that permission automatically. Even if I manually switch off the permission I PermissionsAndroid.request() returns true for that permission. I am following the [example code](https://facebook.github.io/react-native/docs/permissionsandroid.html#example) from ReactNative

[2017-06-16 11:42] get2abhi commented on #13079
+1.
Restarting the device fixes the issue but a fix is needed. Is it related to multidex?

[2017-06-16 11:50] drivedreams commented on #12025
Support  23 has  been publish for very long time. Now, most of app use support library 25 by default.  If google  publish higher version, more difficult may occur to upgrade it. Why not RN upgrade it.

[2017-06-16 12:14] drivedreams commented on #12025
Appcompat support provide so many greate features. Maybe some issues can  not be resolved in 23, but it can be resolved in newest version.  Is any one can tell me the plan for it.

[2017-06-16 12:32] LAITONEN commented on #13390
`npm install react` did the trick for me. if it does not for you, then try the same with react-native -
 `npm install react-native`

[2017-06-16 12:40] nagamanir commented on #13079
+1. We are also facing this issue. Can some one help?

[2017-06-16 12:53] kramer9x commented on #14375
@JonnyBurger
Try to use
<ScrollView contentContainerStyle={styles.container}>
instead of
<ScrollView style={styles.container}>

[2017-06-16 12:57] 95deepan commented on #14430
Solved... After upgrading to the latest version ` (v3.40.1).`

[2017-06-16 13:02] dmueller39 commented on #12607
@zabojad This is probably not necessary, and has ALWAYS led to problems for me. What you want is for xcode to find the headers in the build folder (It searches there automatically). The way react is guaranteed to be built in the right order is through the schemes. If you create a new project via `react-native init NewProj` you can see how this is set up. Under Manage Schemes->NewProj->Build "Paral

[2017-06-16 13:17] webdevbyjoss commented on #13364
+1

[2017-06-16 13:29] Ehesp commented on #11611
Just been stung by this. PR raised above.

[2017-06-16 13:29] aminebenkeroum commented on #1167
I'm getting it working after removing fontWeight! Apparently, I have only 400 weight font.

[2017-06-16 13:32] udfalkso commented on #13245
Sorry @airman00 I had to resort to starting a clean project and moving my code into it and adding dependencies back in piece by piece.

[2017-06-16 13:32] #13245 closed

[2017-06-16 13:38] catchin commented on #12717
Thanks @shubhomoy for your code. I created a wrapper component out of it for general use in [this gist](https://gist.github.com/catchin/47afe706256604959c13dc25e7bb9383).
Works for me on Samsung without major issues so far. The only thing I noticed: When selecting text somewhere inside and pressing enter, the cursor jumps ahead too much.

[2017-06-16 13:38] jp928 opened #14555 "Touchable* not working in position:absolute View"
### Description

Touchable* would not be touchable in the sample code.

### Reproduction Steps
Any position relative view covers the screen, the absolute view  would not render above it no matter how many zIndex was set.

#### Sample Code
[code]

### Additional Information

* React Native version: 0.45.1
* Platform:  Android
* Development Operating System:  macOS
* Build tools: Android Studio 2.x

[2017-06-16 14:06] savanthongvanh opened #14556 "WebView.props.source.uri is never updated"
WebView uri is never updated.

I'm loading a 3rd party chat client into a webview.  The exit button of this this does history.go(-1)
which is not what I want but I have no control.  My work around is to monitor the webview and call a function  when they hit back.  The problem is that I can't find out from the webview when they go back.  WebView.props.source.uri never changes after it's loaded rega

[2017-06-16 14:24] xaviervia commented on #7070
Coming here from the documentation about TextField: it seems that replacing the font family is not working on Android. Is this one of the styles that is not supported? I’m surprised that I did not find any issue specifically about that, so I think I might have missed something.

[2017-06-16 14:27] Deevent commented on #10032
I have the exact same issue trying to link react-native-fbsdk and I've checked my *.pbxproj and it's all good.

[2017-06-16 14:38] cajacko opened #14557 "ize"
<details>
  **Issues that do not describe a bug or do not fill out the template below will be closed**

  We use GitHub Issues exclusively for tracking bugs in React Native.

  - If you're looking for help with your code, consider asking on Stack Overflow instead: http://stackoverflow.com/questions/tagged/react-native
  - Want to know more about future plans? Check out the roadmap: https://github.

[2017-06-16 14:39] #14557 closed

[2017-06-16 14:42] iegik commented on #9043
same on RN 0.44.3

[2017-06-16 14:49] Katakeyni opened #14558 "have react-native link error with project integrating from existing app"
Hi,

I have integrated RN with an existing android app following this link [here](https://facebook.github.io/react-native/docs/integration-with-existing-apps.html).
I wanted to add **react-native-vector-icons**  but when I run **react-native link ** I have the following error :
_**ENOENT: no such file or directory, open 'android/src/main/java/com/szxb/s8api/MainApplication.java'**_
![error](https:

[2017-06-16 15:08] ben-snaize commented on #14548
#14548

[2017-06-16 15:13] ben-snaize commented on #14558
This would be best asked [here](https://github.com/oblador/react-native-vector-icons)

[2017-06-16 15:33] emileNetter commented on #14538
I have the same issue !

[2017-06-16 15:33] vahuja13 commented on #10187
Can we get a 'needs help' label on this? would be cool if someone with objective-c knowledge can help out on this.

[2017-06-16 15:35] mwarger commented on #14480
I'm getting the same thing, same place, on Android on Windows 10 with react@16.0.0-alpha.12

[2017-06-16 15:41] stoffern commented on #14430
Yet a problem as i have described!

[2017-06-16 15:42] skalbfell commented on #14209
I am not a geek - but can anyone please state what helped to resolve this issue? I tried out:
1. watchman watch-del-all
2. rm -rf node_modules && npm install
3. npm start-- --reset-cache

I am running on react-native 0.44.3

I would be delighted to learn how to solve this issue. many thanks
// simone

[2017-06-16 15:43] tuneZola commented on #14368
+1

[2017-06-16 15:53] duhseekoh commented on #14555
Put the absolute view *after* the scrollview.

[2017-06-16 16:03] iegik commented on #13853
Same on RN 0.42.3

[2017-06-16 16:06] savanthongvanh commented on #14556
one workaround is this but it's only available during the event

        onLoadEnd={(e)=>{console.log("loaded");console.log(e.nativeEvent.url);}}
        onLoadStart={(e)=>{console.log("loading");console.log(e.nativeEvent.url);}}

[2017-06-16 16:19] iegik commented on #14209
https://github.com/facebook/react-native/issues/13853

[2017-06-16 16:25] edencakir commented on #10032
+ 1 same problem as Deevent's

[2017-06-16 16:25] rauliyohmc opened #14561 "react-native link does not work with Android native modules written in kotlin"
### Description

Since Google announced Kotlin support for developing applications with Android, I've been building a library that implies bridging Native code to JavaScript and decided to go with Kotlin. However, the linking step does not work automatically since `local-cli` only supports modules written in Java

### Reproduction Steps

- Write a simple Native Module in Android using Kotlin
- Con

[2017-06-16 16:33] iremlopsum commented on #9665
This issue seems to come and go. Can't really find what is that magic star alignment that is causing it. I had that issue in 0.42 a couple of times and then it kind of fixed it itself. Now I have it again with 0.45.1.

@projoneftw your solution doesn't work for me unfortunately

[2017-06-16 16:48] octopitus commented on #14552
Perhaps you should bind `keyboardWillHide` and `keyboardWillShow` to component (in constructor).

[2017-06-16 17:08] andresfcamacho commented on #10613
@jonas-arkulpa  I'm also trying to get https://github.com/wix/react-native-keyboard-aware-scrollview to work on Android. I'm noticing another difference between the behavior of iOS and Android.

It looks like 'keyboardDidShow' fires every time when entering a TextField on iOS even if the keyboard is up.  In Android it only fires once, that is if the keyboard is already up it doesn't fire when ente

[2017-06-16 17:29] Katakeyni commented on #14558
Thank you I finally find the solution.
Thank

[2017-06-16 17:29] #14558 closed

[2017-06-16 17:33] z4qx commented on #14552
Same problem if I bind in the constructor. I also tried with the events `keyboardDidShow` and `keyboardDidHide` but same issue.

[2017-06-16 17:35] BATMAH69 commented on #10032
+1 same problem as Deevent's
I change
react-native install react-native-fbsdk
to
npm install react-native-fbsdk@0.6.0 --save
react-native link react-native-fbsdk

[2017-06-16 17:37] edencakir commented on #10032
@BATMAH69 ... and that worked?

[2017-06-16 17:42] BATMAH69 commented on #10032
@edencakir I can't check now I'm not at the Mac unfortunately. But the error does not appear on the ubuntu.

[2017-06-16 17:45] vinagrito commented on #10032
@BATMAH69  @edencakir
I can confirm that it just worked for me 🎉 . Thx got the hint @BATMAH69

[2017-06-16 18:19] a-koka opened #14564 "Documentation for useNativeDriver needs to be updated"
### Description

The [docs](
https://facebook.github.io/react-native/docs/animations.html#using-the-native-driver) state that `backgroundColor` works when using native driver under the Caveats section but I verified that this indeed doesn't work. We need to update the docs.

![screenshot](https://user-images.githubusercontent.com/16167317/27238187-c95babf0-5280-11e7-97d5-359f986fd5b5.png)

#### Sa

[2017-06-16 18:26] kisubs opened #14565 "java.lang.IllegalStateException:"
Hello,

I've been getting crash reports on my product from the google play console.

The user uses a Le Eco Max 2 and has Android 7.1

`java.lang.IllegalStateException:
  at okio.RealBufferedSink.write(RealBufferedSink.java:39)
  at okio.ForwardingSink.write(ForwardingSink.java:35)
  at com.facebook.react.modules.network.ProgressRequestBody$1.write(ProgressRequestBody.java:58)
  at okio.RealBuffer

[2017-06-16 18:34] kipricker commented on #13390
When upgrading react to a alpha/beta version, make sure you also upgrade any other packages you are using from the react repo. In our case we needed to upgrade react-dom which was using deprecated classes in react.

`yarn upgrade react-dom@16.0.0-alpha.12`

[2017-06-16 20:09] BATMAH69 commented on #10032
@dzhuowen It seems the problem was somewhere in this commit.https://github.com/facebook/react-native-fbsdk/commit/a5bf87c63b6e037afce5ff439f8bbe4051fcf79d

[2017-06-16 20:11] hramos commented on #12025
As far as I can tell, you can target API levels above 23 (you can see people filing issues here that have been targeting 24 and 25).

We're still using 23 internally when building and testing, as we need to target older versions. We can't guarantee RN will work great when targeting 24+, but it certainly should be doable.

Are there any specific issues you have run into?

[2017-06-16 20:12] hramos commented on #13853
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-16 20:12] #13853 closed

[2017-06-16 20:13] hramos commented on #14564
cc @janicduplessis should backgroundColor be supported?

[2017-06-16 20:14] hramos commented on #14553
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-16 20:14] #14553 closed

[2017-06-16 20:17] #14555 closed

[2017-06-16 20:17] #14565 closed

[2017-06-16 20:19] hramos commented on #14544
There's already an open issue about this.

[2017-06-16 20:19] #14544 closed

[2017-06-16 20:19] hramos commented on #14545
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-16 20:19] #14545 closed

[2017-06-16 20:19] #14546 closed

[2017-06-16 20:20] #14547 closed

[2017-06-16 20:20] #14549 closed

[2017-06-16 20:29] marlonoso commented on #14209
@skalbfell I deleted [this line ](https://github.com/facebook/react-native/blob/master/Libraries/react-native/react-native-implementation.js#L19) as @MehdiAlouafi pointed out and it works

[2017-06-16 20:36] MehdiAlouafi commented on #14209
When I deleted it the first time it works but the second time (after
installing another dependencie I believe) the app throws the exact same
error but.. with the required package on the next line !

I really think this is an npm issue, a simple npm install
react-native@latest afterwards makes everything works again

--
Mehdi AL OUAFI
Front-End Developer Junior

Paris, France

Portfolio <http://meh

[2017-06-16 20:46] bcitdaltond commented on #99
For people looking here for a solution, without understanding/going through someone's code:

Example:
[code]
[code]

[2017-06-16 20:50] dsn5ft commented on #12025
@hramos We ran into the "IllegalAccessError: Method 'void android.support.v4.net.ConnectivityManagerCompat.<init>()' is inaccessible to class 'com.facebook.react.modules.netinfo.NetInfoModule'" issue when targeting Android 25.

I have a feeling that that issue should be reopened - https://github.com/facebook/react-native/issues/6152.

[2017-06-16 20:57] cammanderson commented on #2303
I agree with the above that have a preference order is a good/safer solution. People are working around this issue with various atom/IDE changes, but your expectation as a react developer is JSX is a JS file containing a React Component.

We are trying to support components in web/iOS/android, and because of this opinion to not support JSX extensions we end up having to drop jsx in our web naming

[2017-06-16 21:11] bcitdaltond commented on #14541
**Questions:**

1. Have you recently deleted a package/library/dependency?
2. Is the missing module "..." a added package/library/dependency or something to React-Native or iOS itself?
3. Have you tested this on a actual device? Does it result in the same error?
4. Do you have "Remote Debug Mode" on?

**What I can think of off the bat:**

- Issue: https://github.com/facebook/react-native/issues/76

[2017-06-16 21:18] bcitdaltond commented on #14500
Just a comment: You could just open XCode and push it to your device... :)

- If you opened the project in XCode you would see that the project needs a "Bundle Identifier"
maybe specifying no '--configuration Release' does not set it.

[2017-06-16 21:39] dirkstoop opened #14566 "World's worst high-five not rendering in second code sample"
### Description

Visited https://facebook.github.io/react-native/, tried second example (under header "A React Native app is a real mobile app") in a react-native project. Image does not render

### Reproduction Steps

1. Add the below JSX to any component that won't apply a styleSheet to it:
        <Image source={{uri: 'https://i.chzbgr.com/full/7345954048/h7E2C65F9/'}} />
2. npm start ios
3. no

[2017-06-16 22:15] Tawfeekamr commented on #10032
Thanks! Worked for me @BATMAH69 ... but i won't to ask ... does FBSDK have problem ?! i try to do login with Facebook and that not work at all (with last react native )

Unable to resolve modules i face it every time i try a lot of tutorials !!

[2017-06-16 22:36] dirkstoop commented on #14566
Isolating issue: replacing the uri with "https://media0.giphy.com/media/xUA7baC8zM9BAVFYLC/giphy.gif" does not address issue, showing that problem is not related to original gif no longer being world's worst high-five ever.

[2017-06-16 22:44] hramos commented on #12025
Alright, looks like @bestander already suggested creating a feature request on Canny about this. It doesn't seem like it was added. Can you create one at https://react-native.canny.io/feature-requests? This board helps gauge what are the top issues that the community needs.

[2017-06-16 22:47] hramos commented on #14566
Interesting - I thought I had fixed this, but it looks like I didn't get around to pushing a fix. Yes, the fix is to add `style={{width:320 height:240}}` as React Native needs to know the dimensions for a remote image ahead of time. Do you want to send a PR? Should be a quick fix.

[2017-06-16 23:11] dirkstoop commented on #14566
Sure thing, I'll put one up in a minute. Cheers!

[2017-06-16 23:20] BATMAH69 commented on #10032
@Tawfeekamr On Monday morning I set up a fb login for android. With version 0.6.0 there was a bug with java dependencies. After I fixed it with android everything was fine. Today I wanted to set up on iOs but because of this problem I did not have time. I'll set up tomorrow if everything works out. I will rely on [this instruction](https://developers.facebook.com/docs/react-native/configure-ios) a

[2017-06-16 23:48] sjmueller commented on #7687
This should be reopened? It doesn't seem like the padding hack is working anymore:

![image](https://user-images.githubusercontent.com/29085/27248024-3bd70760-52b3-11e7-8d0d-96f13abe93dd.png)

Using the style:
[code]

[2017-06-16 23:48] jlo1 opened #14570 "[0.45.1] Android Release Build: "Allocation failed - process out of memory""
### Description

Running `./gradlew assembleRelease` will fail with these logs:

[code]

### Reproduction Steps
`cd android && ./gradlew assembleRelease`
Ran with `"--max-old-space-size=4096"`, and also tried bumping it up to `8192`, too. Still fails with same exception.

#### Sample Code
see repro steps

### Solution
Downgrading back to `0.44.3` fixed the issue for now.

### Additional Informatio

[2017-06-17 00:23] connercms commented on #10939
@corymayer This solution worked for me. Started project on Windows, source control to GitHub, purchased a MacBook and cloned the project. react-native run-android did nothing. Deleted android folder, ran react-native upgrade and it is working perfect now

[2017-06-17 01:29] alzalabany commented on #11158
thanks, i ended up using wix/react-naviagation solution 👍  it allowed me to relaunch app whenever i needed. thanks for explanation 💯

[2017-06-17 01:31] alzalabany commented on #14083
must set security transport policies, its mandatory since xcode 8.1+

[2017-06-17 02:04] SudoPlz commented on #6691
Removing spaces and parenthesis from my path fixed that issue for me too.

[2017-06-17 02:37] cielu commented on #14548
I solve the problem by  - delete the third-party folder generated in node_modules/react-native/

thanks @ben-snaize

[2017-06-17 02:47] cielu opened #14572 "what a pity ,Install faild . --version 0.45.1"
react native --version 0.45.1 .
gradle 3.3
build sdk version 25.0.0

[2017-06-17 03:43] AndrewHenderson commented on #5047
I can't seem to get any use from Linking.getInitialURL which I have on my app root. It fires with `url` as `null`.

`Linking.addEventListener('url', this._handleOpenURL);` never executes the callback at all. 😕

[2017-06-17 03:54] flynnch commented on #14461
sudo chown -R $(whoami) ~/.rncache

[2017-06-17 05:09] prtkkmrsngh commented on #14087
With me flickering issue is with android < 5.0

[2017-06-17 05:09] rclai commented on #11954
@SRandazzo how do you get to that public headers screen?

[2017-06-17 07:39] apurvajain commented on #916
@brentvatne I am trying to do the same thing
For Twitter:
Linking.openURL('https://twitter.com/telkomsel') - it works (Opens the twitter app)
Linking.openURL('https://facebook.com/telkomsel') - doesn't work it opens the facebook page in browser and not the app
Any help is appreciated ?

[2017-06-17 08:00] peterp commented on #14566
@hramos I've seen this issue hit a few web-dev-people, do you think there's value in adding a runtime warning to images loaded over the network that don't specify dimensions? Something along the lines of "Remote images must specify dimensions, `style={{ height: 100, width: 100 }}`, ahead of time."

[2017-06-17 08:36] Symous opened #14573 "FlatList cannot scroll when wrapped in a absolute position View."
Code:
[code]
Platform: Android

React-Native Version: 0.43.4

[2017-06-17 09:22] renguochao commented on #7308
There is something wrong with react-native init

Please do not initialize the project with `react-native init ProjectName`

You should append react-native version argument in the end.

For example:

`react-native init ProjectName --version 0.44.2`

[2017-06-17 10:31] grabbou commented on #14561
Do it! Since we work together, you know where to look for help! 💯

[2017-06-17 10:51] justinushermawan commented on #7308
@renguochao 's solution works for me, thanks.

[2017-06-17 11:59] saeedhei commented on #12981
I have a simple react native project for android and I'm  using firebase auth with react native for Login and Signup, but I got that yellow error, What should I do? Link of my Question in stackoverslow (https://stackoverflow.com/questions/44603362/setting-a-timer-for-a-long-period-of-time-i-e-multiple-minutes )

[2017-06-17 12:11] vbahtev commented on #8923
You need to add another root container:
If you want red box to not be cut from @kpink224 's comment  you need to add another container that have only one style property style={{flex: 1}}

full code
[code]
result

<img width="603" alt="preview" src="https://user-images.githubusercontent.com/1300658/27252784-36b29274-536f-11e7-9874-7054b5fef231.png">

[2017-06-17 12:21] akyGit commented on #13461
multi-string value does not resolve thit issue

[code]

[2017-06-17 13:58] DZuz14 commented on #12981
If you go to my [repository](https://github.com/DZuz14/React-Native-Custom-Java-Module) I made and download the three files in it, and place them inside of your React Native project at this path, "yourprojectname/android/app/src/main/java/com/yourprojectname/", I can almost guarantee that it will work.

Once you put those into that directory, just open up the file "MainApplication.java" and inside

[2017-06-17 15:30] guidsen commented on #11821
I'm experiencing this issue as well. Any updates on this yet?

[2017-06-17 15:52] iMokhles commented on #14454
@nenti thanks saved me a lot of times cheers man

[2017-06-17 16:09] #14572 closed

[2017-06-17 16:12] giffordjoe opened #14574 "Something went wrong while linking."
Err: Something went wrong while linking. Error: Expected "/*", "//", or "{" but "<" found.
Expected "/*", "//", or "{" but "<" found.

Using react-native 0.45.1 and react-native-cli 2.0.1.  This is a new react-native project.

[2017-06-17 16:47] raul782 commented on #11655
Is this solved? I tried the solutions mentioned above, but I still have 145 errors, related to react_native/Libraries files
I'm still getting the same issue:
[code]

[2017-06-17 16:54] SudoPlz commented on #8923
Interesting, I'll try that!

[2017-06-17 17:32] ioannis85 commented on #14574
i have the same problem!!!

[2017-06-17 17:39] mikelambert commented on #14189
I believe this is fixed by https://github.com/facebook/react-native/commit/0518a0ba12e7cafc8228be0455403cc23b055a79 , which is part of 0.46 (unless you cherry-pick it).

[2017-06-17 17:40] mikelambert commented on #14157
It might possibly be fixed by https://github.com/facebook/react-native/commit/0518a0ba12e7cafc8228be0455403cc23b055a79 , which is part of 0.46 (unless you cherry-pick it).

[2017-06-17 17:41] ReactFan23 opened #14575 "picker text cropped"
hello i have big data (9000 Item) and  using react native picker for select , when i open picker my inner text was cropped (android)
can anyone help me ?

[see this pic](http://prntscr.com/fkxqs0)

how i can break text at new line  if text doesn't fit?

this is picker code

`<View style={styles.input}>

                        <Picker iosHeader="Select one"
                                mode="dr