[2016-03-02 20:28] satya164 commented on #6152
cc @bestander

[2016-03-02 20:28] aksonov commented on #6086
Nobody answered my question there.

Pavel.

[2016-03-02 20:30] satya164 commented on #6086
@aksonov Try asking in #reactiflux or discord channel may be?

[2016-03-02 20:33] satya164 commented on #6233
How do you think it'd work?

We should probably do this

It'll generate a lot of warnings which are not possible to fix everywhere. In many places these are used just for styling and layout, so accessibility props don't make sense there.

[2016-03-02 20:36] Anthonyzou commented on #6152
The issue is that the `ConnectivityManagerCompat` constructor is now private in version 23.2

[2016-03-02 21:04] lprhodes commented on #6237
I've updated the title/deleted the original description sorry (I thought I'd done this yesterday just after creating the issue)

Thanks for your suggestion - I'll give it a go but a fear it may be too slow for a ListVIew.

Here's another example of it working as expected when not contained in a ListView so there definitely looks to be something up here: https://rnplay.org/apps/hu9Jvw

[2016-03-02 21:31] timjacobi commented on #6233
Good points. Be no means I know the react-native code by heart so I am not sure if the APIs for the first option exist. I guess raising awareness through documentation is the best way then.

[2016-03-02 21:47] bestander commented on #6152
Oh snap, I'll look into that tomorrow

[2016-03-02 21:58] vespakoen commented on #5917
This is fixed now that react-native supports the "browser" and "react-native" field (that works as the "browser" field but gets precedence)

https://github.com/defunctzombie/package-browser-field-spec

[2016-03-02 22:03] jacobrosenthal commented on #5917
Amazing, Ill check soon. What version was that support added?

[2016-03-02 22:08] cpojer commented on #5917
I'd be happy to support this inside of node-haste, see https://github.com/facebook/node-haste – once we have that, we can integrate it both into Jest and packager. Does anyone want to work on sending a PR for node-haste? :)

[2016-03-02 22:23] PublicParadise opened #6251 "UIExplorer is broken: undefined is not an object (evaluating 'scenes.map')"
#### Problem

UIExplorer seems to be broken. I am getting this error on launch:

<img width="468" alt="screen shot 2016-03-02 at 2 16 43 pm" src="https://cloud.githubusercontent.com/assets/2541332/13477632/383c2ecc-e082-11e5-8056-2d91dc7460a4.png">

#### Environment

- OSX 10.10.5
- XCode 7.4
- iPhone 6 simulator
- React Native version = 8717b2d19cf7fbe8898a039507f8f41d1c7baa06

#### Steps

[code]

[2016-03-02 22:25] dannolan commented on #5997
Would you believe we're getting this as well
[code]

Only in ReactNative 20.0, Genymotion Android 4.4, we're trying to figure out what's causing it

[2016-03-02 22:31] vespakoen commented on #5917
It is already in node-haste! (I think this got added in version 0.20, was still in react-native back then)

https://github.com/facebook/node-haste/blob/master/src/Package.js#L94

Btw, if you like even more browserify compatibility, support / improve my PR:

https://github.com/facebook/node-haste/pull/46

[2016-03-02 22:53] yelled3 commented on #5180
@license2e can you please write a step by step solution? (& specify versions, etc...)

[2016-03-02 23:01] vespakoen opened #6253 "[Packager] Global require replace (ala webpack's resolve.alias and browserify's builtins)"
I am working on making modules that depend on browserify's builtins compatible with `react-native`.

My current [pull request](https://github.com/facebook/node-haste/pull/46) over at `node-haste` supports the browserify builtins but unfortunately `node-haste` is depended upon by other packages, so I am looking for a more generic solution.

The first solution that came to my mind is to support a co

[2016-03-02 23:20] vespakoen commented on #5555
You can check what browserify is using for these here:
https://github.com/substack/node-browserify/blob/master/lib/builtins.js
And use those instead.

events: https://github.com/Gozala/events
timers: https://github.com/jryans/timers-browserify

[2016-03-02 23:25] vespakoen commented on #4018
It does do it recursively, however, some packages expect to be run after being "browserified", and depend on node modules that browserify will automatically replace / shim with a browser compatible version.

At the moment you can use: https://github.com/mvayngrib/rn-nodeify to "hack" the package.json's of your sub-node_modules to add in the necessary replacements

[2016-03-02 23:28] vespakoen commented on #4017
I saw some references to this in the packager, using `.android.js` and `.ios.js` postfixes, would you want to test it out (on the latest react) and let us know?

[2016-03-02 23:35] brennanerbz commented on #1501
+1

[2016-03-02 23:44] kristian-puccio commented on #1501
can we lock this issue? I get exited every time I see this in my inbox only
to be disappointed by a +1.

On 3 March 2016 at 10:36, brennanerbz <notifications@github.com> wrote:

[2016-03-02 23:54] olofd commented on #1501
+1 On inbox excitement! :)

[2016-03-03 00:04] mangogogos commented on #5095
just an FYI that this was added in 481f560

[2016-03-03 00:24] kkgelu commented on #3233
You can't image how surprised I was when first firing up my 'fine tuned' iOS version on Android...

[2016-03-03 00:32] jsntghf commented on #5370
It is not working for me on v0.21.0, what happend?

[2016-03-03 00:40] crockpotveggies commented on #410
+1

[2016-03-03 01:11] mangogogos opened #6256 "[Android] TouchableNativeFeedback doesn't forward touch event"
I came across this issue and after a little peek into the source code noticed that the presshandlers in TouchableNativeFeedback don't capture or pass on the touch event parameter. Compare:

TouchableOpacity.js:109
[code]

to

TouchableNativeFeedback.js:152
[code]

That particular function in TouchableNativeFeedback hasn't been touched since RN for Android was first released so I was surprised to n

[2016-03-03 01:49] yejodido commented on #6251
Same issue here; found this looking for a solution.

[2016-03-03 01:58] brandonfancher commented on #6251
It works a few commits back. I checked out an earlier commit from today (eb531943aab37ec59c9e160f8b602313b4aa954f), ran `rm -rf node_modules && npm install`, and it seems to be working. Latest commit (2708df4) is broken for me. I haven't tried commits in between to see when, exactly, it broke.

[2016-03-03 02:31] yejodido commented on #3784
+1

[2016-03-03 02:39] Bob1993 commented on #306
@dvisco It's my pleasure ~

[2016-03-03 02:53] shangsunset commented on #5747
Having the same problem here. Tried the fix other people suggested but when i put `react-native` in `.babelrc` instead of `es2005`, i got error:
[code]

and when added `stage-1` to `.babelrc`, got error:
[code]

.babelrc
[code]

this is my package.json:
[code]

[2016-03-03 03:02] Apercu commented on #5747
@shangsunset Please leave this issue clean, the error message should be obvious about what your problem really is.

[2016-03-03 03:12] brothersharp91 commented on #5934
hi.I meet the same question.I have solved it.
when change datasource,you should render a blank screen first,then render the screen you want to show. I think its a bug.

[2016-03-03 03:16] FrancisShi commented on #2880
yep  "npm install"  fix the problem

[2016-03-03 03:17] xiaobuu commented on #5839
I met the same problem. The refreshing prop is passed as props by redux. In android, the refreshing control will hide properly but in iOS the refreshing control will remain showing most of the time (it does hide sometimes). Seems to be a bug.

[2016-03-03 03:18] dinghua commented on #6251
+1

[2016-03-03 04:33] pucca601 commented on #5393
does it need restart server

[2016-03-03 04:33] martinbigio commented on #6118
Yeah, the packager supports "haste" modules so I'm not sure if the module-alias plugin would provide much value.

Wow, you're right, there's no documentation about the module system we support :'(. Maybe we could add a section here: https://facebook.github.io/react-native/docs/javascript-environment.html#content

cc @vjeux

[2016-03-03 04:46] sinjimmyi commented on #2496
I got this worked by call the [measure](https://facebook.github.io/react-native/docs/nativemethodsmixin.html) function. At first set the numberOfLines=0 , then in the measure funtion, I can get the height of the view, if the value of height is bigger than my setting value(in my case 100 pt for 4 lines)。it means there are some word need to truncate，so I set numberOfLines to 4,and show the show more

[2016-03-03 05:08] adokania commented on #3946
What worked for me is running 'npm start' from react-native root..

[2016-03-03 05:14] tugh commented on #4547
+1 for DatePickerIOS warning

[2016-03-03 05:15] nHiRanZ opened #6258 "Placeholder Text Size in TextInput"
This is not a bug, but in the UI level, think this is important. The Placeholder text has a fixed text size and if you are going with a smaller text, the placeholder text being larger than that looks quite odd. We already have a `placeholderTextColor`. Think `placeholderTextSize` should be included too.

[2016-03-03 05:18] MITDelian commented on #904
I still have this issue but only with absolutely positioned views. The overflow: 'hidden' works for me as well.

[2016-03-03 05:20] #6258 closed

[2016-03-03 05:32] futurefeeling commented on #2842
@jaygarcia hi, how do you fix it?I met this problem although I use v0.20.0 version.

[2016-03-03 05:35] vjeux commented on #6118
We should mention in the docs the fact that we use this internally but insist on the fact that this is an implementation detail and you should NOT use this when building a react native app

[2016-03-03 06:37] mysoniw commented on #6251
I have the same issue ... 2708df4

[2016-03-03 07:08] megazoid84 commented on #6251
I have the same problem

[2016-03-03 08:04] caoyue commented on #5586
I had a image that  57px × 57px  for @2x and 85px × 85px for @3x, met the same problem.
Guess that 57/2 != 85/3 cause this problem? so I updated the images to 56px × 56px and 84px × 84px, and it was resolved :)

[2016-03-03 08:12] shexiaoheng opened #6261 "couldn't find "libxxx.so""
my library has .so file , has error:
[code]

[2016-03-03 08:16] efkan commented on #5595
Actually [this blog](http://android--code.blogspot.com.tr/2015/08/android-edittext-cursor-color.html) says;

So, if the cursor color can be changed, performance issues may not be exist.

[code]

![androidedittextcursorcolor](https://cloud.githubusercontent.com/assets/6974198/13488186/587759e0-e128-11e5-9915-b4f11ed15459.png)

![androidedittextcursorcolor2](https://cloud.githubusercontent.com/asset

[2016-03-03 08:23] eric-sung opened #6262 "[TabBar combination with NavigationBar error]"
code:
[code]
when i set navigationBarHidden to true,Tabbar can show at bottom,but set false can
what's this problem?
-------------------------------------------------------------------------------------------------------------------
1.show navigator bar
![image](https://cloud.githubusercontent.com/assets/4538766/13488438/25f7827c-e15c-11e5-9212-13f4ce001db5.png)
2.hide navigator bar
![image](https

[2016-03-03 08:30] efkan opened #6263 "[Android][TextInput] Cursor color"
TextInput needs a prop like 'syncCursorColor' to change cursor color.

syncCursorColor prop value should be a bool. If there is a syncCursorColor prop in the `textInput` component (it means the prop value is `true`) then the java code of `android:textCursorDrawable="@null"` has to be run in Android side.

I've never contribute to this repository. So I don't know what the React-Native textInput com

[2016-03-03 08:31] adamterlson commented on #6118
@vjeux Just out of curiosity, why add it to the docs if folks should not use it?

[2016-03-03 08:35] #6020 closed

[2016-03-03 08:40] yimiaodaren commented on #6251
+1

[2016-03-03 08:41] ios122 commented on #6158
It May Help:
[code]

[2016-03-03 08:45] ghamaide opened #6264 "[DatePickerIOS] Warnings failed propType unexpected"
I'm currently trying out the DatePickerIOS and this simple example throws two warnings :

[code]

I'm getting these warnings :

[code]

I did a` console.log(this.props)` in react-native's file DatePickerIOS.ios.js in Libraries/Components and the output is the following :

[code]

Any chances I'm doing this wrongly ?

[2016-03-03 08:56] oldashes commented on #6158
@ios122
hi , could you post some more details?
it may be solved my problem.
thank u.

[2016-03-03 09:02] ios122 commented on #6158
Simple,when App Init,don't creat RCTBridge immediately; I do it,after 0.05 seconds;

[2016-03-03 09:03] nHiRanZ commented on #6264
+1 Getting the same error.

[2016-03-03 09:36] kelvinaliyanto opened #6265 "[ListView] Crashes if scroll down fast"
I am trying to render the ListView with the dataSource being retrieved from the AsyncStorage. So for some reason, if the dataSource is very long and I try to scroll down in a fast manner, it will crash the app.However, if I actually wait until it finishes rendering until the end, the app does not crash. Is there any way to prevent this from happening?

[2016-03-03 09:54] shexiaoheng commented on #6261
now , i remove library and move the .so file under android/app/src/main/jniLibs , still this error .

[2016-03-03 09:56] liamzebedee commented on #3233
Anyone against adding this to the Known Issues page?

[2016-03-03 10:05] MossP commented on #1961
Ah, sorry @wilcosheh I somehow missed your comment. @kinhunt. I have some ideas but the requirement for it in the app i was writing was removed so I didn't flesh them out fully. Injecting script using the https://github.com/alinz/react-native-webview-bridge and checking for the state of scroll inside the webview and passing that back.. the issue i thought of though was that the scroll events may o

[2016-03-03 10:41] vjeux commented on #6118
@adamterlson: good question. All the js files in the implementation of react native (outside of the examples) are using it. Since this is non standard and a bit esoteric, we should mention it so that people are not confused.

[2016-03-03 11:06] aleclarson commented on #2496
Ideally, you should avoid manual text layout. But it's sometimes required. Thus, I implemented some helper functions on `NativeModules.TextManager`.

How you use these helpers to achieve truncation is up to you. But I will eventually report back here with details about doing so.

---

Use `TextManager.computeWidth()` for **single-line** `Text` components.

[ See the implementation](https://github.

[2016-03-03 11:12] #6225 closed

[2016-03-03 11:14] wheatma commented on #6225
reinstall the packages and the preblem solved

[2016-03-03 11:39] oldashes commented on #6158
@ios122
i fixed my bug as your idea
it's not the same problem , but thank you all the same.😄

[2016-03-03 11:57] babbarankit commented on #4676
@ide How Do I use this plugin?
I need it urgently. Thanks.

[2016-03-03 12:00] srlopez opened #6268 "Shared a component between scenes occurs a unwanted behavior on render"
Between scenes that share a component, the component thought to belong to the first scene that render it.

Using
- "react-native": "0.19.0",
- "react-redux": "4.1.2",
- "redux": "3.1.7",
as @alinzin explain in [github](https://github.com/alinz/example-react-native-redux), with all the tricks to setup this project. Are out there any other good solution?

This is a simple App that shares a component

[2016-03-03 12:40] ceichinger commented on #6152
+1 same issue here

[2016-03-03 12:43] taypo commented on #700
Any update on this issue? I'm looking for a straight forward way of testing components. Cheers..

[2016-03-03 13:11] rameshvishnoi90904 commented on #1046
I also want to do same thing(Stop Panresponder after a given event).Please Help

[2016-03-03 13:13] grabbou commented on #6265
Hey, could you include the stack trace from the crash? That would help a lot.

[2016-03-03 13:17] jqmobile commented on #6211
@jaredly
![screenshot_2016-03-03-20-14-41](https://cloud.githubusercontent.com/assets/7835147/13494251/170108de-e17e-11e5-9b59-862a820a9611.jpeg)

Here is a screenshot of my program running on device.  In my program, there is a bundle open when app start. And this bundle is locate in assets directory. And this bundle is used for selecting another bundle from server. It sends a request to server, s

[2016-03-03 13:29] grabbou commented on #6261
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-03-03 13:35] grabbou commented on #6237
For me both examples look the same, am I missing something?

https://rnplay.org/apps/hu9Jvw
https://rnplay.org/apps/xk2Jrg

[2016-03-03 13:38] grabbou commented on #6236
I am using similar functionality internally and all works well. Are you sure event is emitted from native code? Have you tried putting a simple log above it to check if that line is hit?

[2016-03-03 13:40] grabbou commented on #6246
I can confirm no issues on iOS (I am using patch quite heavily), however - in few Android apps I haven't noticed it as well.

CC: @vjeux you seem to be active in polyfill-related discussions, so cc'ing!

[2016-03-03 13:51] bomalley commented on #6237
@grabbou – Those two rnplay links produce different results for me – exactly as @lprhodes describes.

Here are the screenshots:  [React Native Flexbox Issue Screenshots](http://imgur.com/a/GiF0u/all)

I'm seeing similar issues with absolutely positioned items that don't have their dimensions set explicitly.  It's a huge challenge to style those components.

[2016-03-03 13:57] grabbou commented on #6268
I believe passProps are only evaluated at the time you call the function for the first time, meaning the next time they change - these won't be propagated to the scene (that's why you don't see any updates).

I think you should instead of `passProps: {...this.props}` in your Scene1 component, just pass {...this.props} inside `App.js` and that should fix the issue.

So, change App.js to be:
[code]

[2016-03-03 14:01] grabbou commented on #6237
There was a discussion about absolute positioning somewhere here if I am not wrong (i've gone into that issue as well).

I am probably blind, but I still see the same behaviour on both pictures - yellow bg takes 100% of the row height in both cases?

[2016-03-03 14:03] efkan commented on #5479
@gregkawere ,
I've created an apk in Windows by using Cygwin and [official site directions](http://facebook.github.io/react-native/docs/signed-apk-android.html). Cygwin provide simple and basic Linux terminal command set on the Windows. Look at [this](https://cygwin.com/install.html).

After installing Cygwin, the command of `cd android && bash ./gradlew assembleRelease` can be used. Keep in mind

[2016-03-03 14:04] grabbou commented on #5628
Copied & pasted your code and all looks good:
<img width="392" alt="screen shot 2016-03-03 at 15 03 27" src="https://cloud.githubusercontent.com/assets/2464966/13496551/26ad847e-e151-11e5-9d46-84129786d455.png">

I have also added `top: 0` to make it go to top.

If you are still having this issue, please provide rnplay example with reproduced glitch so we can check what's wrong :)

[2016-03-03 14:05] #5628 closed

[2016-03-03 14:13] grabbou commented on #6222
I think all feature requests regarding that should be directly filled in square/okhttp repo, especially given the fact they already discussed that issue and agreed it's not spec compliant.

CC: @mkonicek

[2016-03-03 14:19] farwayer commented on #5905
Look like it is about #6272. Check that you installed react-native-cli globally.

[2016-03-03 14:20] grabbou commented on #6216
I think the issue is missing `docs/` prefix - we had few PR's adding them recently, so that might be the way to go. Not all pages have it though, so I think for better clarity it's just better to just leave the base.

However, I cannot see a broken link to WebSockets on the page you've linked (in fact - I can't see any link on that page), so would appreciate if you can share some examples (and ide

[2016-03-03 14:22] StevenLangbroek commented on #700
@taypo see this article: https://blog.formidable.com/unit-testing-react-native-with-mocha-and-enzyme-51518f13ba73

[2016-03-03 14:24] grabbou commented on #6245
If that's using Algolia, it might be tricky if full URLs are stored in their database. I would say the most reasonable thing would be to store only `docs/...` part of a link instead so it probably could work straight away given the correct base_url.

[2016-03-03 14:36] mc-zone commented on #3991
Same as #2783.

[2016-03-03 14:39] srlopez commented on #6268
Thanks @grabbou,
I just test that line you said
` <Component navigator={navigator} route={route} {...this.props} />`
The Scene2 can't `render`, the counter is '`undefined`', and click on the actions throw this error `_this4.props.increment is not a function`, so this.props in that line doesn't bind nothing.

I don't understand why, as `passProps` in the `navigator.push` in Scene1, is just a brige

[2016-03-03 14:48] jaulz commented on #505
@nicklockwood That sounds great! Is it also possible to use it outside of WebView? When I try to require a *.html file I get a simple 1 returned:
[code]

[2016-03-03 15:08] lifehackett commented on #5747
I just upgraded to the newly released `react-native@0.21.0` and am no longer experiencing the issue.  I'll hold off on declaring the issue resolved as some of the "fixes" listed in this thread have provided temporary relief only to have the error resurface.  I suggest other try upgrading.  I'll update in a few days.  These commits stood out as potential fixes

https://github.com/facebook/react-nat

[2016-03-03 15:11] nicklockwood commented on #505
@jaulz `require(...)` doesn't return the source object directly, it returns a resource id. Try this:

    var resolveAssetSource = require('resolveAssetSource');
    var source = resolveAssetSource(require('test.html'));
    console.log(source.uri);

[2016-03-03 15:18] cablegunmaster commented on #2720
@peduxe got the same issue and uploading the APK seem to work and running the server seemed to work.

Still not sure how to resolve this in the other projects, gonna investigate more as to my own problem to post it here. Downgrading gradle might have helped.

[2016-03-03 15:24] fxhereng commented on #4844
:+1: It worked for me but when this will be a permanent fix? We have to wait next version of react?

Thanks,

[2016-03-03 15:29] grabbou commented on #6268
Ah, sorry - forgot to mention your App component has to be connected to Redux. So you should do:
[code]
and change your App to be connected to redux store. Then, you should be able to pass down the props from store to underlying components (currently your Scene1 component is connected to Redux so that all changes made to store only cause re-render in that component).

[2016-03-03 15:39] prabakarviji opened #6276 "No notification pop up in top of the ios device while app is running foreground"
Notification is not appearing in top of the device while app is running .But notification reaches the notification bar in the device.How to handle this situation?

[2016-03-03 15:42] bebeun commented on #3422
Exactely the same problem...

How to set the ScrollView to "take all the remaining space" instead of setting height: XX ?

Depending on the device which is being used, the remaining height varies a lot...

[2016-03-03 15:49] mudetroit commented on #6246
FWIW, some change between v0.20.0 and v0.21.0 seems to have fixed whatever problem was underlying my issue. I am trying to figure out what changed that led to it, but base problem is gone now.

[2016-03-03 15:49] #6246 closed

[2016-03-03 15:59] jaulz commented on #505
@nicklockwood Thanks for the quick answer :) Though I hoped that it is possible to get the content of the HTML file as a JavaScript string. I assume this is not possible?

[2016-03-03 16:07] nicklockwood commented on #505
@jaulz once you have the uri, you can load it via XMLHttpRequest.

[2016-03-03 16:22] hchoriq commented on #3946
nvm alias default v5.6.0 did it for me. It was referencing an older node version by default.

[2016-03-03 16:35] Cryszon opened #6278 "Incorrect visual initialization of transform scale 0"
Initializing a component with `transform: [{scale: 0}]` visually initializes it as `transfrom: [{scale: 1}]`. However, when animating the component it animates as if the initial value was actually `0`. Using a float (`0.0`) doesn't work either.

The example code below demonstrates this problem. Tested on Android using React Native 0.21.

Initially pressing "Animate to 0" doesn't animate the first

[2016-03-03 16:39] jaulz commented on #505
@nicklockwood XMLHttpRequest does not really sound what I would like to do. What a pity... I thought there would be a way to link static resources anyhow.

[2016-03-03 16:52] morochena commented on #5962
I just had to update babel-register to 6.6.0 and it fixed this issue.

[2016-03-03 16:58] fxhereng commented on #5962
Installing babel-register 6.6.0 (which I have no idea what it is for) solved it
 :+1: @morochena

[2016-03-03 16:59] skevy commented on #5864
@steveluscher Fixed in Babel 6.6.4 by https://github.com/babel/babel/commit/f4197cc77b464f34c14085d0a0b4c67265432f54

[2016-03-03 16:59] #5864 closed

[2016-03-03 16:59] skevy commented on #5864
Just need to upgrade our babel deps now in RN.

[2016-03-03 17:03] grabbou commented on #6276
Notifications are not showing due to iOS impl. details.

In order to e.g. present an Alert when app is running in the foreground, simply:
[code]

Don't forget to follow all necessary steps for PushNotificationIOS module to work properly as described here -> https://facebook.github.io/react-native/docs/pushnotificationios.html#content

For the future issues regarding that, please consider filling i

[2016-03-03 17:06] grabbou commented on #6263
@mkonicek shouldn't this be default behaviour?

[2016-03-03 17:07] grabbou commented on #6262
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-03-03 17:10] nicklockwood commented on #505
@jaulz If you want to get a copy of a file as a string in JS, XMLHttpRequest is currently the only way.

The only real difference between that and having require() return the string directly is that it's async.

[2016-03-03 17:10] justinr1234 commented on #4844
@brentvatne can you investigate https://github.com/facebook/react-native/issues/4844#issuecomment-191282653 and https://github.com/facebook/react-native/issues/4844#issuecomment-190473078

Not sure if there is an issue or this belongs somewhere else, but it seems something is causing issues with the babel helpers.

[2016-03-03 17:10] grabbou commented on #6262
Hint: Make sure you don't have height of your scene hardcoded. I have the feeling that when tabBar is presented, the height of container becomes smaller and hides your tabBar. Either consider using flexbox or position: absolute, bottom: 0

[2016-03-03 17:25] #5719 closed

[2016-03-03 17:34] grabbou commented on #5616
I think the issue here is not the type, but redirection that happens and that might not be supported in RN itself.

[2016-03-03 18:11] ssomnoremac commented on #3371
I'm having this issue when passing a Blob as the body. Is that an accepted body type for a fetch PUT?

[2016-03-03 18:49] staradayev commented on #6028
![s60303-194355](https://cloud.githubusercontent.com/assets/5321206/13505238/0099a53a-e181-11e5-937a-2bb9c381b324.jpg)

Here is screenshot from Meizu M2, (android 5.1 flume), also the same i saw on latest nexus (android 6.0.1) and android emulator (Android 21).

P.S. Padding at the bottom i have seen only on Meizu.

[2016-03-03 18:53] Kureev commented on #6028
If I understand correct, then you're using a style attributes which are implemented for iOS only. Can you share a style you supply to the `<Image />`?

[2016-03-03 18:53] staradayev commented on #6028
A few details:

- this issue occurs only on picture click (tap)
- I tried to clear all styles of picture, still exist
- Moving onPress binding from the covering TouchableHighlight to nested image doesn't have result also.

[2016-03-03 18:57] staradayev commented on #6028
I didn't use any styles except calculated width and height.

`<Image key={image.id} style={[styles.image, this.calculateSize()]} source={{uri: 'http://dev.pics.care/media/'+image.picture_url}}  >`

styles.image is empty
calculateSize() return {width: size, height: size}

[2016-03-03 19:02] Kureev commented on #6028
Well, then your code looks good to me and it means that the issue could be in the cache. Run the packager with a `--reset-cache` flag, that may solve your problem.

[2016-03-03 19:32] ide commented on #4676
@babbarankit it's not super simple if you're not familiar with babel... if this is time-sensitive for you, I recommend hiring a consultant who can help you for this one task

[2016-03-03 19:40] cedoucette commented on #6152
+1 same issue here

[2016-03-03 19:43] cpojer commented on #700
I'm currently polishing up the release for 0.9.0 which should improve the babel support in Jest and will fix performance. The next step will be to improve mocking of react-native by *a lot*.

[2016-03-03 20:07] srlopez commented on #6268
Hi again @grabbou,
I made these changes, and some others like the App has been 'connect'ed before as a Container to bind the store and actions, removed the Provider form App component, and removed the passProps in Scene1

I have declared AppContainer inside the render of the RootComponent. Is this a good place? I don't use in any other place and RootComponent never render again?

[code]
From App r

[2016-03-03 20:20] efkan commented on #6263
@grabbou , your question is not for me but I think shouldn't.

Because Android sets the EditText cursor and placeholder as gray as default. However, when developing Android app this color can be changed.

For instance; YouTube search EditText's cursor color. When pressing the magnifying glass to search video, the title and menu icon are removed and cursor color is changed to 'red'. (Sony music app

[2016-03-03 20:27] neciu commented on #1655
@mikeygee thanks.
Here you can find the patch I'm using in my project: https://gist.github.com/neciu/391127f1f70b3eb69adf

[2016-03-03 20:28] martinbigio opened #6280 "Hot Loading not working for *new react components*"
We have infra in place to send new dependencies to the HMR runtime if they didn't happen to be initially included on the bundle. This is working fine for module that export functions. For instance, given that `foo` is already on the bundle:

[code]

If you add the new module `bar`:

[code]

and then change `foo`:

[code]

You'll get "Hello World" as expected.

However, if bar is a component this j

[2016-03-03 20:28] martinbigio commented on #6280
cc @skevy @satya164

[2016-03-03 20:44] Traviskn commented on #6152
Has anyone been able to fix the issue by changing their version of the android support package?  I cannot get around the issue no matter which version I use (23.0.1, 23.1, 23.2)

[2016-03-03 20:46] ssomnoremac commented on #854
@nicklockwood: curious if there's any progress on this. In my case I need to post the blob after a fetch. Seems like a common use case.

[2016-03-03 20:50] ide commented on #6280
What if you use JS's `export default` instead of `module.exports`? Curious if that solves the problem.

[2016-03-03 20:50] tuneZola commented on #6152
@Traviskn No, I was not able to fix it either by specifying those earlier version. I did a gradle clean, but it still seems to import the new version. I think its because I have other dependencies like the FB SDK that always imports the latest.

[2016-03-03 20:53] Anthonyzou commented on #6152
If you are using the `react-native-dialogue` module the material-dialogue dependency will not compile without support v23.2. (all their tags point to the latest commit).

[2016-03-03 21:01] Anthonyzou commented on #6152
to property downgrade your support version download this https://dl-ssl.google.com/android/repository/support_r23.0.1.zip and extract it into $ANDROID_DIR/extras/android/support

[2016-03-03 21:07] martinbigio commented on #6280
@ide the problem is that the packager server doesn't send the HMR updates on the order it should. For the example described on this issue, we should always accept new modules before existing ones. I'll fix this now :)

[2016-03-03 21:09] martinbigio commented on #6280
The problem is not that simple because by requiring a new module we could potentially have to send a whole new dependency tree. We need to make sure that dependency tree is evaluated from the leaves to the root :/

[2016-03-03 21:11] rc12 commented on #2879
For me it was menu button on the right hand side. It will load a menu with option "Reload JS".
That's it. Reload your changes.

[2016-03-03 21:12] martinbigio commented on #6280
have an idea: the resolution response returns the dependencies on BFS order. In here we build the list of modules we need to send to the client. The way we iterate on the list keeps the relative order of the modules, so we could just reverse that list and use that order :)

[2016-03-03 21:12] martinbigio commented on #6280
BTW, thanks @davidaurelio for flagging this!

[2016-03-03 21:20] erzeghi commented on #784
This is what worked for me:
I installed version of flow (from [flow releases](https://github.com/facebook/flow/releases/)) which is specified at the end of .flowconfig set by react-native. (react-native 0.20.0 asked for 0.21.0 flow).
Also if Nuclide does not work with flow after that, put the absolute path in Nuclide-flow settings.

[2016-03-03 21:22] satya164 commented on #6280
I noticed this yesterday with the last RC. Didn't get the time to test on master though. Yeah, sending the whole new dependency tree will suck.

[2016-03-03 21:37] staradayev commented on #6028
Finally I founded case, for reproduce tis issue.

**This construction will cause an error on Android:**

`<TouchableHighlight onPress={this.onPressPicture.bind(this, image)}>
      <Image>
          <View>
          </View>
      </Image>
</TouchableHighlight>`

But,
**This construction works well on both:**

`<TouchableOpacity onPress={this.onPressPicture.bind(this, image)}>
      <Image>

[2016-03-03 21:49] martinbigio commented on #6280
We only need to reverse the list of modules we need to patch. I'm landing a fix internally now :)

[2016-03-03 21:51] satya164 commented on #6280
@martinbigio That's great. Waiting for it :)

[2016-03-03 22:05] grabbou commented on #6268
No worries, so does it work now as desired?

Did you mean `Scene2 is rendered` instead of Scene3?

Anyway, if the main issue here is resolved, feel free to close. You can find me on Discord under the same nickname in 10-20 GMT+1 - we could keep discussion in there so I could help you with the remaining bit.

[2016-03-03 22:38] nicklockwood commented on #854
@ssomnoremac we haven't attempted to solve the problem of marshalling arbitrary binary data across the bridge yet, but we support adding file attachments to XHR requests by just specifying the url so that the data never needs to cross the bridge (it will download and upload the data on the native side as a single action).

Alternatively, if it's an image, there's a workaround involving using the I

[2016-03-03 22:41] nicklockwood commented on #854
@nsainaney I'm a bit unclear on your use case. If you have a url that returns a blob of imageData, can't you pass the url as the `<Image>` source directly?

[2016-03-03 23:11] ssomnoremac commented on #854
@nicklockwood: Brilliant, prefer the first option. Second works but increases the payload size. Not sure I follow "specifying the url", I have two urls in my case: a remote and a local (couchbase-lite) device database. is it in fetch docs?

[2016-03-03 23:18] tuneZola commented on #6152
One temporary fix you can do is exclude the package from your other dependencies in your app/gradle.build. This is an example of ours.

[code]

[2016-03-03 23:36] nicklockwood commented on #854
@ssomnoremac I've only tried it with plain XHR, but I assume it works with fetch as well.

The trick is to use our FormData polyfill. It seems like the docs for that aren't on the website, but it's pretty well-documented in the FormData.js file:

https://github.com/facebook/react-native/blob/master/Libraries/Network/FormData.js

[2016-03-04 01:31] kelvinaliyanto commented on #6265
Hi, I tried to debug in chrome, but the app is crashing without giving any trace. It just force closes, "Unfortunately, app is not responding". Anyway I am compiling android version.

[2016-03-04 01:59] yimiaodaren commented on #4547
+1

[2016-03-04 02:22] just4fun commented on #5616
@grabbou yes, there is no extension but redirect in my case, I also think it's not supported well in RN. But sometimes it works well, it's weird.

[2016-03-04 02:24] ssomnoremac commented on #854
Great Nick, this looks great. Could be a life saver for our app. Thanks so
much!
On Mar 3, 2016 6:38 PM, "Nick Lockwood" <notifications@github.com> wrote:

[2016-03-04 02:41] hackrole commented on #5412
hi, everybody. I meet the same errors. I tried npm3 but not work.
But I found the error was because that:  I named my project AsyncStorage which was the same will the package under react-native.
I remove my project which was just a demo. And recreate a new project name AsyncExample. and the same code.
I use npm not npm3. And it works now.

[2016-03-04 03:00] kelvinaliyanto commented on #6265
I just installed Fabric inside my app. When I tried to reproduce the error, it gives the following stack trace:

Fatal Exception: java.lang.AssertionError
       at com.facebook.infer.annotation.Assertions.assertNotNull(Assertions.java:21)
       at com.facebook.react.uimanager.RootViewUtil.getRootView(RootViewUtil.java:29)
       at com.facebook.react.uimanager.NativeViewHierarchyManager.measure(

[2016-03-04 03:57] jandom opened #6282 "Unable to execute JS call: __fbBatchedBridge is undefined"
Hi guys,

I believe a similar sounding bug has already made it here some time ago (just searching the issue tracker).

The message in the Xcode console is
[code]

Steps to reproduce (using "react-native": "^0.21.0")

1. Execute `react-native init AwesomeProject`
2. open AwesomeProject.xcodeproj in Xcode
3. edit AppDelegate.m, uncomment `   jsCodeLocation = [[NSBundle mainBundle] URLForResource:@"m

[2016-03-04 06:16] efkan opened #6285 "How can React-Native textInput component can be modified?"
I've asked on [stackoverflow ](http://stackoverflow.com/questions/35776017/how-can-react-native-textinput-component-can-be-modified)but there is no a solution.

React-native offers developing [native modules][1] and UI components.

However I want to make minor changes in the [`TextInput` component][2] which is used in my app and is found on my computer. However there is no a Java file that is rela

[2016-03-04 07:14] SteveAquino opened #6286 "Strange error with multiple callbacks"
I'm trying to implement a module with multiple callbacks (eg, onStart and onComplete), however it seems that even with a minimal example React Native errors out executing the second callback.  Here is an example:

[code]

[code]

And the resulting error:

![screen shot 2016-03-03 at 11 11 57 pm](https://cloud.githubusercontent.com/assets/539839/13520472/6b95be00-e195-11e5-826b-f92fe331588d.png)

I

[2016-03-04 07:59] srlopez commented on #6268
Thanks @grabbou
Oh! Wrong write!

Now the trace show that when i press 'Forward' to Scene2 (in Scene1), the Scene1 is rendered again !!!! and then Scene2 is rendered, so Scene1 is rendered twice. (minor problem)

[2016-03-04 07:59] #6268 closed

[2016-03-04 08:02] mikollo commented on #1402
@rclai set scheme to release

[2016-03-04 08:22] svenjung opened #6287 "The user limit on the total number of inotify watches was reached"
After I installed react-native-image-picker, error via run npm start :
 ERROR  A non-recoverable condition has triggered.  Watchman needs your help!
The triggering condition was at timestamp=1457078390: inotify-add-watch(/sven/study/nodebb/node_modules/y18n/test) -> The user limit on the total number of inotify watches was reached; increase the fs.inotify.max_user_watches sysctl
All requests will

[2016-03-04 08:26] L-Jovi opened #6288 "navigator.replace have no animation"
sorry to trouble, I found that `this.props.navigator.replace(route)` have no animation as default `push(route)` action, how could I replace current route with animation transition of `Navigator.SceneConfigs.HorizontalSwipeJump`?

thanks for your time.

regards,

[2016-03-04 08:39] gavin1990 commented on #5747
I just upgraded version 0.21.0 but also appeared the problem....

[2016-03-04 09:05] raymanyoung commented on #4118
@mjhlybmwq I think a good reason is you can trigger the onPause/onResume events here.

[2016-03-04 09:25] Arnold134777 commented on #6158
@ios122 Lazy load is it right way? How long need to delay,how to judge?  I did same to you before,but i don't think it's the rightest way to solve it.

[2016-03-04 10:07] Thirumal-Sakthivel commented on #3199
+1. Thanks for your sharing.

[2016-03-04 10:09] ios122 commented on #6158
@Arnold134777 @oldashes  up to 0.21.0 It will be OK! It works,but i don't know how!

[2016-03-04 10:15] shaikhussian commented on #5762
I am getting an error in RCTwebSocket.m expression result unused using react-native version-0.20.0

[2016-03-04 10:18] bestander commented on #5762
@shaikhussian, we have already moved on to 0.21.0, it is considered stable.
Do you have any problem updating to it?

[2016-03-04 10:31] oldashes commented on #6158
@ios122 you could read the source code in `RCTModuleData.m` , the `- (void)setBridgeForInstance` has changed.It may help you to know that.

[2016-03-04 10:53] slamus commented on #3652
+1

[2016-03-04 10:56] noabyuna commented on #5974
push

[2016-03-04 11:16] danhawkes opened #6290 "Fetch with gzipped response returns assertion as body() on Android"
Minimal example:

[code]

OkHttp automatically inserts an `Accept-Encoding: gzip` header.
The server successfully receives the file and retuns a gzipped response. However, `body()` returns the above assertion from [within OkHttp](https://github.com/square/okio/blob/master/okio/src/main/java/okio/GzipSource.java#L120).

This particular service works fine on iOS, and also OkHttp via the java API on

[2016-03-04 11:35] adamterlson commented on #6118
@vjeux Thanks for the clarity!  Makes sense.

The reason why you don't want folks to be using this is because it's part of fbjs, and the plan is to ultimately remove fbjs from React Native, so the support for this will go away?

Is it also true that the `module-alias` plugin is likely to start working when fbjs is removed?

I ask because I'd like to have some sort of solution for removing the `../

[2016-03-04 11:37] rclai commented on #1402
Ah! Thanks!

[2016-03-04 11:41] nicklockwood commented on #854
cc: @mkonicek, @bestander - can we get the FormData docs added to the web site? It's not the first time this has come up, and judging by the number of 3rd party file upload modules, I don't think anyone knows this feature exists.

[2016-03-04 11:43] jaulz commented on #2328
That would definitely be an interesting feature. Any chance to implement that?

[2016-03-04 12:07] oillamp commented on #5211
@terrysahaidak  i have the same issue , a blank html, looks like many page redirection cause it, and how can i inspect my rn-app in chrome ? i connect my phone by usb, and just could see  LG-D858
#LGD858DB61B26E , no inspect button,  but when i open mobile browser and open a page , the chrome inspect page show the inspect button ,but not belong to my app, how can i debugge the rn-webview? thanks a

[2016-03-04 12:55] grabbou commented on #6288
Closing as duplicate of https://github.com/facebook/react-native/issues/1981

[2016-03-04 12:55] #6288 closed

[2016-03-04 12:58] grabbou commented on #6285
React Native ships with already compiled Android source to speed up the run time process. If you want to change its internals and `compile from source`, please follow this guide: https://facebook.github.io/react-native/docs/android-building-from-source.html#content

PS. It'd highly recommend you to write your own component on top of TextComponent or even copy it to your source so you can persist c

[2016-03-04 12:58] #6285 closed

[2016-03-04 13:05] grabbou commented on #6282
Hey,

So, none of the already proposed solutions in the closed issues works for you yet? :(

Leaving the search link for reference: https://github.com/facebook/react-native/issues?utf8=%E2%9C%93&q=__fbBatchedBridge

[2016-03-04 13:24] StephaneP opened #6291 "Chrome debugging from phone"
I've had some problems when deploying the react-native app on my and wanted to debug, the RCTWebSocketExecutor.m in the setup funciton:

    NSString *URLString = [NSString stringWithFormat:@"http://localhost:%zd/debugger-proxy?role=client", port];

I have to changed the localhost to my proper IP, I suggest that the code does the same as the port on this line, I might do a PR to add this in.

This

[2016-03-04 13:46] mkonicek commented on #854
@joewood Thanks for flagging this! Would you be up for sending a PR to update the docs?

[2016-03-04 13:57] grabbou commented on #6291
Awesome, I've been wondering recently why this is not working as well! PRs welcome :)

[2016-03-04 14:00] jandom commented on #6282
Hey,

Thanks for getting back so quickly. Yeah, tried a handful yesterday and a few today – but it's hard to do a complete enumeration...

However, irrespectively of whether there is a fix in one of those Issues, this is likely close to a step-by-step copy&paste instructions that new users will follow, since this is the vanilla AwesomeProject.

Here is what i tried:
* https://github.com/facebook/r

[2016-03-04 14:14] grabbou commented on #4146
Closing as @RandyZ mentioned "it works perfectly" w/o the content, so event is dispatched correctly. Please reopen if we have closed this by a mistake!

[2016-03-04 14:14] #4146 closed

[2016-03-04 14:15] mkonicek commented on #4547
Guys if you want to get this visibility can you post it to Product Pains where people can vote and see what the most important issues are? People can login with GitHub so it's quite seamless:
https://productpains.com/product/react-native/?tab=top

[2016-03-04 14:32] terrysahaidak commented on #5211
@oillamp connect you phone via USB, allow USB debugging and then got to this url `chrome://inspect` in chrome, then you'll see your device and page that currently opened in webview

hmm, it should display your rn-webview. try to use another webview (you can find it on react.parts or github)

[2016-03-04 14:33] vjeux commented on #6118
What haste does is to provide a global namespace for your modules. You can do @providesModule bla in any file and then do require('bla').

This is great inside of fb because we control all the codebase and has nice properties like the ability to move around files without having to change the requires of tons of files.

Now, the issue is that it makes a global namespace. If you put this in the hand

[2016-03-04 14:48] foghina opened #6292 "New Project Structure Proposal"
## The problem

We generate a lot of boilerplate code (the `ios/` and `android/` folders containing the native app code) into people's projects / repositories. This is not uncommon, a lot of frameworks do this, but they generally do it for other reasons. They do it to impose a certain structure that they then expect when running the app. We only expect an index.js file, the rest of the stuff that

[2016-03-04 15:07] grabbou commented on #6292
Honestly, to me, the only real issue was these two extra folders living at the root. As projects get bigger and new tools are added, I like to keep the structure sleek w/o two extra folders on top of that. In all my projects I've been successfully changing the structure and moving them to `native` folder, so it looks just like in the snippet above. Having said so, that would've been my main motiva

[2016-03-04 15:08] andreicoman11 commented on #2852
This is unrelated to the issue mentioned above, and your question is better suited for stack overflow.

[2016-03-04 15:08] #2852 closed

[2016-03-04 15:23] shahchirag commented on #6282
Hey,

Can you try commenting out the following lines https://github.com/facebook/react-native/blob/master/packager/react-native-xcode.sh#L15-L18 . It was mentioned [here](https://github.com/facebook/react-native/issues/5770#issuecomment-180403648) and worked for me

[2016-03-04 15:32] foghina commented on #6292
@grabbou thanks for your comments. I don't have much context on iOS (I mostly work on Android) -- it sounds like we've got some unique challenges there but it also sounds like they could be solved by adding more configuration to the generation process?

That's pretty smart, I like it.

[2016-03-04 15:43] mkonicek commented on #6263
See https://github.com/facebook/react-native/blob/master/ISSUE_TEMPLATE.md

This is a feature request that should live on Product Pains so people can see how many people want this feature and prioritize based on that. Also, this should be implemented by the community, fb won't add this unless it's needed in one of the fb apps. GitHub should be used for tracking bugs.

I'll close this but feel free

[2016-03-04 15:43] #6263 closed

[2016-03-04 15:45] mkonicek commented on #6256
Sounds like a good idea, thank you for noticing this! Can you send a PR please and link to this issue so it gets closed once the PR is merged?

[2016-03-04 15:47] mkonicek commented on #6238
We'll need some example code / project to understand what this means.

[2016-03-04 15:48] mkonicek commented on #6056
Thanks for the example @Somojojojo! Any idea how to make Chrome show you the value of `response`?

[2016-03-04 15:49] mkonicek commented on #6065
Hey and thanks for posting this!

This looks like an usage question. There's an awesome place to post code / ask question first before filing an issue: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see and answer your question. This lets us use the github bug tracker for bugs.

[2016-03-04 15:49] #6065 closed

[2016-03-04 15:50] mkonicek commented on #6069
Hey and thanks for posting this!

This looks like an usage question. There's an awesome place to post code / ask question first before filing an issue: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see and answer your question. This lets us use the github bug tracker for bugs.

[2016-03-04 15:50] #6069 closed

[2016-03-04 15:51] mkonicek commented on #6121
Hey and thanks for posting this!

This looks like an usage question. There's an awesome place to post code / ask question first before filing an issue: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see and answer your question. This lets us use the github bug tracker for bugs.

[2016-03-04 15:51] #6121 closed

[2016-03-04 15:52] mkonicek commented on #6189
Good that you've found the solution! Will close this but feel free to discuss here.

[2016-03-04 15:52] #6189 closed

[2016-03-04 15:53] mkonicek commented on #6207
cc @vjeux

[2016-03-04 15:54] gobadiah commented on #5747
After upgrading to 0.21.0 I also still have the problem.

[2016-03-04 16:08] jandom commented on #6282
That fixed for me, thanks @shahchirag and @grabbou

in `node_modules/react-native/packager/packager.sh `

Replace
[code]
with
[code]

[2016-03-04 16:08] #6282 closed

[2016-03-04 16:13] lifehackett commented on #5747
@gobadiah You said you are using "Latest versions everywhere". Does that mean 5.x? I'm using 4.3.1.
@gavin1990 What node version are you using?

[2016-03-04 16:15] jandom commented on #6282
Out of curiosity, and largely as a digression to this issue, is this a bug? Or is it due to xcode/simulator?

Additionally, i'm guessing not everybody is dependent on the xcode-heavy workflow that i go through, but how else does one upload the Archived version of the code to testflight and alike?

[2016-03-04 16:19] sercanov opened #6296 "gradlew assembleRelease Issue"
Hey there,

Having the attached problem. Followed the guide here: https://facebook.github.io/react-native/docs/signed-apk-android.html

Mac OSX
RN 0.21
npm 2.14.22

![ekran resmi 2016-03-04 18 18 50 1](https://cloud.githubusercontent.com/assets/10291644/13532710/a0ad99be-e235-11e5-9b64-470901ba07ab.png)

[2016-03-04 16:20] gobadiah commented on #5747
@lifehackett Yes node 5.7.0, I'm trying to find out now what's going on. If I don't succeed I'll reverse to 4.3.1 to see what happens.

[2016-03-04 16:21] matthewsimo commented on #4601
@timzaak - What steps did you take to resolve this? I'm running into this setting up a new project and seeing same results. Tried multiple times with no luck. Any leads might help, thanks!

[2016-03-04 16:36] vjeux commented on #6207
Do you have a fix? Or another bezier implementation that we can use that doesn't have this issue?

[2016-03-04 16:56] gobadiah commented on #5747
There are other issues regarding babelHelpers. I followed [this comment](https://github.com/facebook/react-native/issues/4844#issuecomment-191282653) by @justinr1234 .

It simply suggests ... to edit the babelHelper file and add the code needed. In our case, edit the file

    vim node_modules/react-native/packager/react-packager/src/Resolver/polyfills/babelHelpers.js

add these lines :

    babel

[2016-03-04 17:04] tomprogers opened #6298 "SyntaxError: Unexpected use of reserved word 'let' in strict mode"
Transpiled `import` code throws an immediate exception at runtime:

[code]

There is exactly one instance of `let` in the transpiled code, which I believe I've traced back to this statement in `@exponent/react-native-navigator`:

[code]

Here's the specific set of dependencies and my project's entire babelrc:

`package.json`
[code]

`.babelrc`
[code]

My understanding is that the `react-native` ba

[2016-03-04 17:06] satya164 commented on #4601
@matthewsimo Do you have a `.babelrc` in your project by any chance?

[2016-03-04 17:08] matthewsimo commented on #4601
@satya164 It does!

[code]

[2016-03-04 17:10] stereodenis commented on #5858
@ide on ios I have two scrollview types: one horizontal with a lot of vertical in it. How can I reproduce it?

[2016-03-04 17:13] marcshilling commented on #6298
This literally just happened to me. My project was working fine, but when a coworker pulled it down fresh from github he ran into it. I then deleted my project to try to reproduce and the same thing happened to me. Stumped.

[2016-03-04 17:32] tomprogers commented on #6298
@marcshilling I'm talking to the babeljs people about it now, and I'm setting up a small repo that demonstrates the problem. Should be up in 10 minutes.

[2016-03-04 17:41] bestander commented on #6152
@Anthonyzou we don't instantiate ConnectivityManagerCompat, so constructor visibility should not make a difference.
But anyway, I am debugging this

[2016-03-04 18:00] Somojojojo commented on #6056
Besides using the console JS API I haven't found a solid way of getting those values.
I haven't read into how React is managing the Chrome debug session at all, and I haven't had any experience managing it myself. At a high level, I would say you could defer breakpoints inside an async function the same way you defer code execution. As code execution progresses in an async function, you would exec

[2016-03-04 18:19] bestander commented on #6152
Looks like it is a breaking change in android support library.
We don't have capacity to fix this right now, a Pull Request with a fix that would work both for 23.1 and 23.2 would be very much appreciated.
Otherwise vote on it https://productpains.com/product/react-native here.

[2016-03-04 18:21] mkonicek commented on #1501
to be disappointed by a +1.

That's why it's better to use Product Pains where people can vote and the most important issues get surfaced. You can login with GitHub so it's quite little overhead: https://productpains.com/product/react-native/?tab=top

[2016-03-04 18:32] marcshilling commented on #6298
I locked my babel-preset devDependency versions to where they were previously working, and still the same issue. This is absurd.

[2016-03-04 18:45] ide commented on #6298
We ran into this yesterday and didn't dig deep but believe that Babel could have broken something. @marcshilling even if your babel preset's version is locked, its dependencies aren't locked so....

[2016-03-04 18:48] aleclarson commented on #6207
Found the fix [here](https://github.com/arian/cubic-bezier/issues/1).

Something with Newton's method is bugged.

Comment out this code:
[code]

[2016-03-04 18:48] experimentsin commented on #854
@nicklockwood One use case we have where it seems passing a URL to `<Image>` can't help is when the remote image in question is secured and requires a custom access token header to be passed as part of the request. In that case it looks like we need to make a full strength fetch or XHR request to access the data then somehow hand it off locally in such a way that `<Image>` can address it.

[2016-03-04 18:51] ide commented on #5858
It's just not supported with RN Android. My suggestion is to figure out how you would implement this with pure native Android (Java) and use the same techniques in RN Android and, if necessary, write some Java code to expose this new feature to the RN JS.

[2016-03-04 18:55] ide commented on #6207
IIRC the bezier calculation in RN was written quickly to get things working and hasn't been optimized. Could be a good, self-contained opportunity for optimization if anyone is interested in helping out.

[2016-03-04 18:59] ide opened #6300 "[Errors] Improve the error message shown when an unregistered callback is invoked"
See https://github.com/facebook/react-native/issues/6286. RN expects exactly one callback to be called exactly once, after which point it unregisters the callbacks to free memory. We should print a nicer error message when an unregistered callback is invoked.

[2016-03-04 19:00] ide commented on #6286
Due to how RN works, exactly one callback must be called exactly once (for garbage collection reasons). We should make the error message clearer though (opened https://github.com/facebook/react-native/issues/6300).

If you need to send multiple signals from native to JS, use DeviceEventEmitter or NativeAppEventEmitter instead. Here is an example: https://facebook.github.io/react-native/docs/native

[2016-03-04 19:00] #6286 closed

[2016-03-04 19:02] vjeux commented on #6207
@ide I googled for bezier and found the one linked. It appeared to work so I copy and pasted it :p

[2016-03-04 19:29] tomprogers commented on #6298
Yeah, the only way to really avoid these problems is to shrinkwrap your project. We hadn't gotten that far, because we're still choosing libraries.

[2016-03-04 19:46] satya164 commented on #4601
@matthewjohnston4 The `.babelrc` looks correct though. Can you try removing it and see if works anyways?

[2016-03-04 19:57] matthewsimo commented on #4601
@satya164 Yes, we made a branch that removed the babel dependency and it is building properly for now. Doing some digging to find out where the conflict is, but no luck as of yet. Appreciate your responses, thanks. :+1:

[2016-03-04 20:13] jaredly opened #6303 "[Android] No API for updating props on android root component"
In iOS, you can do `rctRootView.appProperties = newProps`, and it will update the root view with new props. On android it doesn't seem to be implemented.

This behavior is critical for my use case of incrementally adopting react native in a large android app.

I think I want a function like `ReactRootView.updateProps(Bundle props)` that would look something like

[code]

[based on the startReactAp

[2016-03-04 20:29] mtford90 commented on #4547
+1, rather annoying because I get spammed with the yellow warning boxes in every view that has a DatePickerIOS ;)

[2016-03-04 20:49] vjeux commented on #6207
Feel free to send a pull request. Would be nice to add some tests as well if you have time :)

[2016-03-04 21:15] rawcreative opened #6305 "Packager fails with bundled html files with embedded svg."
Version: 0.21
Platform: IOS
Machine: OSX

After upgrading to 0.21, I cannot build my app as the packager fails with the error: `uncaught error Error: TypeError: invalid svg` There are no SVG's in the project, other than what is embedded in html files that are rendered via webview. Since they are svg's using the <symbol> property to define the paths it appears that the image-size module is throwing

[2016-03-04 21:22] nicklockwood commented on #854
@experimentsin ah, good point. We should extend the image source object to include headers and http method, like the one for webview.

We'd need to do some work on RCTImageLoader as well to make it accept NSURLRequests and not just url strings.

[2016-03-04 21:46] satya164 commented on #6238
@mkonicek The `name` field in `package.json` has a `-` which is not supported in an android package name. Right now we use the name field to generate a package name, which we should probably change in the future.

[2016-03-04 22:40] sercanov commented on #6296
Fuking android.

[2016-03-04 22:49] grabbou commented on #6125
That was the motivation behind removing it: https://github.com/facebook/react-native/issues/4682#issuecomment-163368310

[2016-03-04 23:52] eric1iu commented on #4600
the default fontFamily not the same when set secureTextEntry={true}. looks weird.

[2016-03-05 00:03] bcalik commented on #1598
Wow this is a year old simple issue and still has no progress!

[2016-03-05 00:21] danawoodman commented on #6216
It appears it was fixed in the last day or so. I verified the issue on multiple pages of the docs site, so it wasn't an isolated incident but glad it's fixed!

[2016-03-05 00:21] #6216 closed

[2016-03-05 00:25] mikeygee commented on #1655
Just saw this: https://github.com/ericvicenti/navigation-rfc/blob/master/Docs/NavigationOverview.md. I guess the navigator is getting replaced with a new one, so no point in updating this one.

[2016-03-05 00:57] eric1iu commented on #6149
got the same issue.

[2016-03-05 01:19] jeffchienzabinet commented on #6238
@satya164 nailed the issue.

[2016-03-05 05:26] 3riccc commented on #5511
I have met the same problem...

[2016-03-05 06:24] mehdichamouma commented on #637
Declaring my local dependency as follow :
`dependencies: {
       my_local_module: "file:../../path/to/local/module"
}`
then `npm install my_local_module`
seems to work for me.

[2016-03-05 06:31] kittens commented on #637
Npm doesn't use symlinks for 'file:'. It just copies the folder.

On Saturday, 5 March 2016, Mehdi Chamouma <notifications@github.com> wrote:

--
Sebastian McKenzie

[2016-03-05 06:36] ck227 commented on #3107
i have meet the same problem

[2016-03-05 11:07] corbt commented on #1598
Warning removed in https://github.com/facebook/react-native/commit/2d27cf0ceb6441e0044e9dada3482fd6fe2672df. Sorry that took so long!

[2016-03-05 11:07] #1598 closed

[2016-03-05 11:25] tal952 opened #6308 "keyboard hide TextInput when using placeholder and textAlign combination."
[code]

I running the above code on my android lg g3.
when i touch the TextInput, the keyboard opens, and hide the TextInput.
If i remove `textAlign:'center'` or `placeholder='0'`, the View being scrolled and the textInput is visible.

I generated a new react-native@.21 project.
The problem **not** happend in https://rnplay.org/apps/fIoWrw.

[2016-03-05 11:44] hasen6 commented on #4730
Just wondering if this would ever be fixed. Up to 0.21 now and still seeing the memory leak...albeit not as extreme as before. I know its only in debug mode but its debug mode where we're on the lookout for errors. This could be misleading.

[2016-03-05 12:36] sercanov commented on #6296
@Kureev I think it's solved by deleting contents of hidden .bin folder.

[2016-03-05 12:36] #6296 closed

[2016-03-05 13:19] corbt commented on #6292
I'm writing a React Native project focusing on iOS to start. I consider this a "pure" RN project as opposed to just "RN embedded" because the vast majority of it has been implemented in React Native, but even so I've had to make changes to my `AppDelegate.m` to support the following behaviors:

1. Add exception monitoring/logging with Sentry.
2. Customized the location of the JS bundle in developm

[2016-03-05 13:53] satya164 commented on #6292
Not entirely sure what's the best approach. But I'll share my thoughts.

I think changing the Native files is very common for lots of people. For example, on Android, say you want to add push notifications, analytics etc. you cannot do that without touching native files. Often third party plugins require changes to native files to work. And many other cases @corbt and @grabbou mentioned. So people

[2016-03-05 15:19] rclai commented on #6292
It would be great to have an easier upgrade process. Writing custom stuff is my main concern in this. Using rnpm to do this seems fine. Regarding the app delegate and root view controller, perhaps there can be a programmatic way to hook into it from a custom rnpm module middleware style to help attach launch screens, change the dev server ip, etc?

[2016-03-05 16:20] cheeaun commented on #4933
Also happening to me, using:

- React Native 0.21.0
- Genymotion 2.6 (Google Nexus 5X - 6.0.0 - API 23 - 1080x1920)
- Chrome 50.0.2661.11 dev (64-bit)

`navigator.replace` works but not `navigator.push`, *only* when debugging in Chrome.

[2016-03-05 16:22] aleclarson commented on #6291
+1

You might also want to change [this line](https://github.com/facebook/react-native/blob/f2438b440d410ca1aa3ca7d0544d6e000e29e774/React/Modules/RCTRedBox.m#L97) (if you tap the stack trace to open it in the text editor).

[2016-03-05 16:30] richardbrammer commented on #1442
If I package my app and view it on an iOS device, the asset files are not there. The only file, that is there, is the html file used by the WebView (and required).
How can I make sure, the packager copies the *.js and *.css files to the asset directory?

[2016-03-05 16:39] JonnyBurger commented on #2246
Some people here might find it useful to know that there is a `global.__DEV__` variable exposed to the Javascript bundle which can be `true` or `false`. It is dependent on a parameter you pass to the JS bundle URL: Either `&dev=true` or `&dev=false`.

Of course this is neither documented nor official, so your apps might break if you use this and it gets changed in a future release. Be careful.

[2016-03-05 16:58] bcalik commented on #1501
Wow. This issue is a year old, and still has no progress.
I do not get this warning on Android, but I get it on iOS for the same code.

[2016-03-05 17:02] corbt commented on #1693
@satya164 since you asked if this was still an issue, I've been running into it debugging on the device with Chrome on master. I think there's some timing issue going on more generally, as I've started running into other errors as well.

[2016-03-05 17:54] grabbou commented on #6292
Yeah, we can actually write everything, just needs thinking what, how long and whether it's a good move. I'd like to get an update on Nuclide progress and how's FB doing in open sourcing the rest of announced at F8 things as we might need a decent IDE at some point as well.

[2016-03-05 18:25] ben-manes commented on #6152
@tuneZola Using a resolutionStrategy is a cleaner approach to force the version across all sub-projects.

[code]

[2016-03-05 18:45] corbt opened #6311 "RefreshControl layout breaks on device rotation"
When the device is rotated while a `RefreshControl` is active and refreshing, both its position and dimensions change in an unexpected way.

### Expected Appearance (portrait)
![simulator screen shot mar 5 2016 6 32 36 pm](https://cloud.githubusercontent.com/assets/176426/13549633/c7ea958c-e301-11e5-9895-508f7bceedf1.png)

### Appearance after rotating from portrait to landscape
![simulator screen

[2016-03-05 19:07] janicduplessis commented on #6311
Thanks @corbt for the detailed report! Seems like we need to invalidate the layout somehow on screen rotation, I'll take a look at this.

[2016-03-05 19:29] DanielRosenwasser opened #6314 "Broken link on 'LinuxWindowsSupport.md'"
From [LinuxWindowsSupport.md](https://github.com/facebook/react-native/blob/a6a89fe4e08b6cf834df35cb176feac077234025/docs/LinuxWindowsSupport.md):

However, [the code that should've been linked to](https://github.com/facebook/react-native/blob/5fa33f3d07f8595a188f6fe04d6168a6ede1e721/packager/react-packager/src/DependencyResolver/FileWatcher/index.js) has moved to [node-haste](https://github.com/f

[2016-03-05 20:16] bcalik commented on #6188
@christopherdro could you please label this as `android`.

[2016-03-05 20:21] ericmasiello commented on #25
@gudmundurmar can you provide some sample code of how you are detecting a change in the devices orientation?

[2016-03-05 20:56] cldwalker commented on #5433
I had the same NativeModules issue with RN 0.20.0 and node 5.7.1. Locking down fbjs to 0.6.1 as explained in https://github.com/facebook/react-native/issues/5622#issuecomment-189364805 and following the above fbjs instructions resolved this for me

[2016-03-05 21:05] frantic commented on #3948
#5518 has landed and we no longer depend on global `react-native-cli` to build iOS projects.

[2016-03-05 21:05] #3948 closed

[2016-03-05 21:25] frantic commented on #6035
Looks like you are trying to debug offline bundle in Chrome, which doesn't work because of browser's offline content policy. Press Cmd+D, "Disable Chrome Debugging"

[2016-03-05 22:54] tkmoney commented on #795
+1

[2016-03-06 00:01] christopherdro commented on #6188
I was thinking about this myself the other day.
This would be something custom since it's currently not available through React Native.

Going to leave this open for both platforms.

[2016-03-06 00:18] bcalik commented on #6188
I don't know for iOS, but these touch sounds are default on Android native apps. When you just add a simple Button component, it has touch sounds by default.

[2016-03-06 00:54] iricketson commented on #5488
Is this a duplicate of #5435?

[2016-03-06 00:54] iricketson commented on #5435
+1

[2016-03-06 01:07] jhabdas commented on #5962
This seems fairly critical given the upgrade paths for most users have been blocked now and the upgrade instructions for `v0.21.0` call for a mandatory `react-native upgrade`.

[2016-03-06 01:09] jhabdas commented on #5962
@fxhereng The more dependencies you install the harder your app becomes to maintain. If you're not sure what something does, or if it seems like magic, good practice calls for further research before affecting change.

[2016-03-06 01:15] jhabdas commented on #5962
@MacKentoch The general comments in this issue regarding RN made it difficult for me to follow this thread. Do you know if there' s a chatroom for general upgrade chat?

[2016-03-06 01:16] jhabdas commented on #5962
/cc @brentvatne

[2016-03-06 01:51] kinhunt commented on #1961
@MossP it's a smart workaround and the bridge module is cool. I will give it a try, the overlap issue seems to be difficult to solve.

[2016-03-06 01:58] jwhitley opened #6315 "React Native Testing docs/setup appears to be broken"
tl;dr: Setting up and running tests for a new React Native project appears to be broken when following the official documentation.  The error received is at least superficially similar to #3999.

**Repro steps**

1. `npm install -g react-native-cli`
2. `react-native install ReactNativeTesting`
3. `cd ReactNativeTesting`

Now, following the instructions [RN Testing docs (@ 0.21)](https://facebook.g

[2016-03-06 02:41] jhabdas commented on #6315
I build RN with Webpack and that too [is devoid of tests](https://github.com/webpack/webpack-dev-server/issues/334). It'd be nice to see a focus on stabilization and encouraging best practices in the near future. Hopefully Facebook will see some support from the Node Foundation as described on the [2016 update](http://blog.npmjs.org/post/138752155600/npm-inc-update-2016):

[2016-03-06 02:42] jhabdas commented on #6315
Updated to remove obviously erroneous info ^^

[2016-03-06 04:51] grittathh commented on #25
Looks like this is related to https://github.com/facebook/react-native/issues/2111

[2016-03-06 06:41] ramneekhanda opened #6316 "Remote Images are not fetched with existing cookies?"
Hi,
I am required to authenticate with server before i can fetch images and the server sticks some cookies for the further http requests.

If i do this with browser it works but seemingly react Image fetch doesnt use existing cookies that have been set via fetch.

Here is what works:
1. Auth request using fetch - works and sets cookies on client side
2. Another request using fetch which needs auth

[2016-03-06 07:24] vladp commented on #5393
Same problem is happing with 0.21 upgrade.
But there are no .babelrc  in the ./node_modules.  So the suggestion to clean them out does not work.

My package.json fragment

Including the react-proxy or react-deep-force-update directly into package.json did not help either.

At this point I am stuck and would appreciate any pointers
Linux mint 17.3
nodejs 5.7.1
![react-proxy-erorr](https://cloud.git

[2016-03-06 08:08] PublicParadise commented on #6251
Seems to be fixed now: 87245b2d40a865290fbeb4d8f5474fb8b5c1b891
Closing...

[2016-03-06 08:08] #6251 closed

[2016-03-06 08:55] leavesgreen commented on #2720
@peduxe
"I'm not using an emulator - it's really slow (even genymotion), I'm deploying to my device connected via usb/wi-fi"
so how you connected the device by the wifi? would you give me a link for more details ?
thanks

[2016-03-06 08:58] terrysahaidak commented on #4933
I think it happening because when we push, chrome should do the all calculations of each frame, instead of replace where is no animations. it also depends on your computer

[2016-03-06 09:36] satya164 opened #6318 "On windows, when adding new images/modules, you need to restart the packager"
Context - #6144

[2016-03-06 10:07] af7 commented on #5488
Yes it is eventually.

I ended up using `react-native-maps` which doesn't have this problem:
https://github.com/lelandrichardson/react-native-maps

Maybe you would like to see what they are doing there OR (even better) work together and merge it into `react-native`?

[2016-03-06 10:08] af7 commented on #5435
I had this problem too.

I ended up using `react-native-maps` which doesn't have this problem:
https://github.com/lelandrichardson/react-native-maps

Maybe you would like to see what they are doing there OR (even better) work together and merge it into `react-native`?

[2016-03-06 13:23] JansenLi opened #6320 "[iOS] [ListView] the item's dealloc method would't be called in listview even with the removeClippedSubviews optimizations option"
I used ListView in my project. I also found the same memory problem with this  [issue](https://github.com/facebook/react-native/issues/499#issuecomment-128836161) . I turned the removeClippedSubviews option on. But I found the item's dealloc method would't be called. I wonder how the memory benefit from this property if the item is still in the memory.

[2016-03-06 14:09] dsandor commented on #4229
This also worked for my problem with `ListView`.  When I had buttons in a `ScrollView` or ListView it would take 2 taps to register an `onPress`.  I made a slight change to @jmeyers44 code snippet to make it a little less destructive.

In the **ScrollResponder.js** (~ line 182) file add the first if statement:
[code]

Now you can use my (not so well named) property:
[code]
The use is the same on t

[2016-03-06 14:44] ak114 commented on #3032
I don't mind making a WP layer for react-native if some people are requesting one but is it still needed ?

[2016-03-06 15:21] aboutqx commented on #5174
I has the same problem when starting the `Example` project in the react-native master branch,and no other node server running.

[2016-03-06 15:25] huitiemesens commented on #3032
if it's about time saving, i think yes, as a content only application ( i mean without platform specific needs ) could be available on the 3 platform , without creating , 1 project for Ios/android and one for WP.

[2016-03-06 15:44] ak114 commented on #3032
Well then, I'll get on it asap.

[2016-03-06 15:47] huitiemesens commented on #3032
@ak114 if u need help somehow for testing , tell me

[2016-03-06 16:16] ak114 commented on #3032
@huitiemesens I will, ty !

[2016-03-06 16:57] jaulz opened #6323 "ES6 style import text inside of string breaks packager"
[code]

It seems that as soon as you try to have a variable that contains the string to import a module the packer breaks. It's really easy to reproduce: https://rnplay.org/apps/FBm0LQ
The obvious workaround is to have a variable that concatenates the string but does that make sure that there are no other side effects?

[2016-03-06 17:56] jayesbe commented on #5546
I changed the Application ID and **not ** the package name.  the result is I can compile and launch the app for android via Android Studio.. but running from the command line results in

Error type 3
Error: Activity class {com.foo/com.foo.MainActivity} does not exist.

[2016-03-06 17:57] vitorbaptista commented on #6110
Had the same issue with React-Native 0.21.0 running on Android emulator with SDK 23.0.2.

[2016-03-06 18:37] satya164 commented on #6323
cc @martinbigio

[2016-03-06 19:20] brentvatne commented on #6320
Hi @JansenLi!

So it doesn't actually dealloc the view, but rather it removes the view from the underlying view hierarchy which allows images to be unloaded from memory. This is where the benefit comes from.

Hope that helps!

[2016-03-06 19:20] #6320 closed

[2016-03-06 19:21] brentvatne commented on #6314
cc @cpojer

[2016-03-06 19:22] brentvatne commented on #6316
cc @nicklockwood

[2016-03-06 19:23] #6316 closed

[2016-03-06 19:24] brentvatne commented on #6315
cc @cpojer

[2016-03-06 19:25] cpojer commented on #6314
Ugh, we should at least update the documentation, but then the problem is that the developer has to dig into compiled output in `node_modules/node-haste/lib`. Is this a common issue? If yes, we should probably make this a configurable option for FileWatcher instances.

[2016-03-06 19:25] brentvatne commented on #6323
Also cc @cpojer

[2016-03-06 19:29] brentvatne commented on #6314
@cpojer - good point, perhaps this should be configurable. I'm not sure where this originated from and don't use windows, @DanielRosenwasser do you know if this is common?

[2016-03-06 19:29] cpojer commented on #6323
We don't use static analysis to analyze dependencies but rather just regex, for performance reasons. Unfortunately that means we can't ignore strings that look like imports/require's. As you suggested, the workaround is string concatenation.

[2016-03-06 19:29] #6323 closed

[2016-03-06 19:31] brentvatne commented on #6303
@bestander - could you check this out to see if it's reasonable? This is part of getting parity with iOS, cc @mkonicek

[2016-03-06 19:32] jaulz commented on #6323
Thanks for the quick answers and good to know :)
@cpojer any hint where I can find that part of the code?

[2016-03-06 19:32] ramneekhanda commented on #6316
hi @brentvatne, I dont think i can provide you a minimal example as the issue requires setting some cookies and needs some support on the server etc..

version of react native that i used is 0.21

OS i tested was primarily on iOS.

Will see when i get time, i will open a proper issue but would suggest to reopen this in the mean time.

[2016-03-06 19:32] brentvatne commented on #6298
@kittens @amasad @thejameskyle

[2016-03-06 19:33] cpojer commented on #6315
@jwhitley I'm sorry, you unfortunately hit an issue with a transitive dependency that broke Jest yesterday. We just published a major update to Jest and redid the entire website ( http://facebook.github.io/jest/ ) on Friday as well and I'm currently rewriting the react-native documentation for Jest. Deleting `node-hase` and `jest-cli` from your node_modules and re-installing it should make the err

[2016-03-06 19:34] cpojer commented on #6323
All of this is in https://github.com/facebook/node-haste :)

[2016-03-06 19:42] bestander commented on #6303
Will do on Tuesday

On Sunday, 6 March 2016, Brent Vatne <notifications@github.com> wrote:

[2016-03-06 20:00] brentvatne commented on #6292
Echoing the comments above, it's very common to change your AppDelegate/Info.plist and MainActivity/AndroidManifest.xml. I'm afraid that if we try to hide these through a leaky abstraction we will add more complexity than we are shaving off by simplifying the upgrade process.

[2016-03-06 20:00] brentvatne commented on #6315
Awesome stuff @cpojer :) :hand:

[2016-03-06 20:04] cpojer commented on #6315
To unblock you, I recommend installing jest-cli 0.9.0 and babel-jest 9.0.1 with the babel-preset-react-native. See the Getting Started guide of Jest on how that works: http://facebook.github.io/jest/docs/getting-started.html#content please also remove the scriptPreprocessor in your Jest config, which is not needed any longer if you are using babel-jest.

I'll keep this issue open until I'm done re

[2016-03-06 20:07] brentvatne commented on #6236
@py110 - can you post the full code for your WeChatModule as well? This should work. A style comment -- you might want to create a public method on WeChatModule called `finishPayment` or something like that which accepts params and handles emitting the event using `getReactApplicationContext()`

[2016-03-06 20:08] grabbou commented on #6292
@brentvatne +1 that, for instance - we add custom fonts with rnpm to Info.plist since that's easy, but there might be some other cases we simply don't think about at the moment which will lead users to fill in an issue/feature request later.

[2016-03-06 20:11] brentvatne commented on #6237
@vjeux - I know you're out of office but if you have some free time and want to weigh in on this it might be appreciated :)

[2016-03-06 20:15] brentvatne commented on #6238
So we have a decision that needs to be made here:

- Do we update the Android package name script to properly deal dashes or do we add docs to the upgrade process? It seems to me that we should be dealing with this edge case.

[2016-03-06 20:35] satya164 commented on #6238
@brentvatne I think custom package names can cover a wider use case. Most packages (at least on android) follow the format domain.company.name, and I think we should support this use case (I can give it a try). But of course it's not as simple as stripping out invalid characters. I think we can go with stripping the characters first, then we can add support for customizing the package name.

[2016-03-06 20:36] brentvatne commented on #6265
Hi @kelvinaliyanto -- I have yet to have this issue on any of my apps with large data sources. Please follow the issue template that you see when you create a new issue and provide the React Native version  and some sample code that allows us to reproduce this. If you can create a new issue with that information it would be much appreciated. Thanks! :) :)

[2016-03-06 20:36] #6265 closed

[2016-03-06 20:37] brentvatne commented on #6238
@satya164 - it looks like you can customize the package name when you init the project by providing the `package` option: https://github.com/facebook/react-native/blob/master/local-cli/__tests__/generators-test.js#L111-L116

Do we just need to make this work with upgrade? Let's decide on this and update our implementation and test plan.

[2016-03-06 20:38] brentvatne commented on #6303
:rocket:

[2016-03-06 20:39] satya164 commented on #6238
@brentvatne Wut! Never knew this existed. I'll test if it works with `react-native upgrade`, and if does update the docs.

[2016-03-06 20:43] brentvatne commented on #6291
Hi all!

Let's make this actionable. The least friction approach to fix this is to update the docs to include @StephaneP and @aleclarson's changes, so let's do that.

**Implementation plan:** Add a note to running on device for iOS docs to indicate the changes that need to be made to `RCTWebSocketExecutor.m` and `RCTRedBox.m` to debug in Chrome on a device.

**Test plan:** Generate new project, fo

[2016-03-06 21:02] brentvatne commented on #6308
@tal952 - is your device stock or is it rooted? can't think of what could cause this, cc @mkonicek

[2016-03-06 21:06] brentvatne commented on #6290
@lexs - based on NetworkingModule blame this seems up your alley, please re-assign if I'm mistaken :)

[2016-03-06 21:08] thejameskyle commented on #6298
If someone can provide input code that creates invalid output code then I could reproduce this, but using the example in this issue works as expected: https://github.com/thejameskyle/__babel-bug-react-native-6298

[2016-03-06 21:08] brentvatne commented on #6261
This isn't actionable enough for us, we would need exact repro steps or a project with the issue :( Please repost with this information if it is still an issue.

[2016-03-06 21:08] #6261 closed

[2016-03-06 21:09] brentvatne commented on #6238
Haha awesome :) I assigned you so it's clear who is taking over this one

[2016-03-06 21:10] brentvatne commented on #6236
On second thought I am going to close this issue for now, we cannot debug with the information that has been given because this works for us (you can try the NetInfo module for example and you will see that this exact behaviour works as expected on Android in debug or otherwise). Please reopen an issue with a project that we can reproduce the issue in.

[2016-03-06 21:10] #6236 closed

[2016-03-06 21:11] amasad commented on #6298
Cc @hzoo I think there was a bad release that broke block scoping. Are you
sure you're at the latest version?

I also want us to move away from using semver versions in Babel internally
so that if you look your Babel-core or preset version you wouldn't get
transitive dependency that were just released.
On Sun, Mar 6, 2016 at 1:09 PM James Kyle <notifications@github.com> wrote:

[2016-03-06 21:11] brentvatne commented on #6245
Assigned @skevy as it looks like he implemented this

[2016-03-06 21:15] brentvatne commented on #6233
@timjacobi - if you come up with a proposal for how we can solve this we can open an issue with your suggested approach.

I think this will need to be driven by library authors. If you create issues or pull requests on the libraries that you're using to fix this, that is probably the best way forward right now and I'm sure others would appreciate your efforts!

[2016-03-06 21:15] #6233 closed

[2016-03-06 21:17] brentvatne commented on #6227
@grabbou - Can you also include the React Native version? and preferably some code where we can reproduce this.

@mkonicek - are any FB apps crashing with this error? I haven't seen it on Exponent apps.

[2016-03-06 21:17] episodeyang commented on #4968
the solution above solved my problem

[2016-03-06 21:19] brentvatne commented on #6298
@amasad - is there an issue tracking that on babel phabricator? if so we can just close this and link to it

[2016-03-06 21:21] brentvatne commented on #6234
@lprhodes - easiest to post some code for this (even if you strip out irrelevant parts) as sometimes code is more clear than words ;) also it's good to relate to functionality in a popular app so we have a better idea of what you're trying to accomplish, or show a mockup. This does seem like a StackOverflow issue, though, so I will close this but if you link to the StackOverflow thread for this on

[2016-03-06 21:21] #6234 closed

[2016-03-06 21:22] brentvatne commented on #6226
@tadeuzagallo - this seems like something you could answer in your sleep, any ideas?

[2016-03-06 21:23] thejameskyle commented on #6298
Discussing removing the ^semver ranges here https://github.com/kittens/lerna/issues/76 and updates on transitive dependencies here: https://github.com/kittens/lerna/issues/27

[2016-03-06 21:27] kittens commented on #6298
react native uses a shrinkwrap so I don't think that issue is relevant?

[2016-03-06 21:28] brentvatne commented on #6237
Problem: Layout for ListView rows is different than if you lay out the row outside of a ListView. In column 1 and 3 if you set flex: 1, it will not take up the full height of the container.

[code]

[2016-03-06 21:38] brentvatne commented on #6222
@nowaits - If we add this behaviour, we need to support the same thing on iOS.

- If you want to submit a pull request to solve this on iOS and Android that would be appreciated, and we can discuss there.
- Otherwise I have created a ProductPains issue for this, so people can indicate whether or not this is a large pain for them: https://productpains.com/post/react-native/support-post-redirect-for

[2016-03-06 21:38] #6222 closed

[2016-03-06 21:39] brentvatne commented on #6209
@aleclarson - what's the pain point you want to address here? If we add this, it should probably be an opt-in feature.

[2016-03-06 21:47] hzoo commented on #6298
It's weird that `import type * as ExRoute from './ExRoute';` is resulting in a let?

`import type` should be stripped away by the strip-flow-types plugin in the react-native preset https://github.com/facebook/react-native/blob/master/babel-preset/plugins.js#L28?

[2016-03-06 21:48] hzoo commented on #6298
Ah and also regarding `let`, in 6.6.5, we pushed a release that removes `let` from the common js transform (which is what this is about `import *`), since before we were relying on the block scoping plugin to run and change it to a var.

https://github.com/babel/babel/releases/tag/v6.6.5

So it shouldn't be an issue after updating to that?

[2016-03-06 21:53] brentvatne commented on #6188
@bcalik - did you try [TouchableNativeFeedback](https://facebook.github.io/react-native/docs/touchablenativefeedback.html)?

[2016-03-06 21:57] bcalik commented on #6188
@brentvatne Yes I have been using TouchableNativeFeedback in my app.

[2016-03-06 21:59] tal952 commented on #6308
stock, not rooted.

[2016-03-06 22:02] brentvatne commented on #6199
@terribleben - I think this is where our css-reset type changes we did to the Exponent Android styles would be helpful.

[2016-03-06 22:04] brentvatne commented on #6203
@AlexHandy1 - this seems related to #6298, I think it might be a fixed issue if you try it again :( Sorry

[2016-03-06 22:04] brentvatne commented on #6298
See #6203 for another instance of this occurring

[2016-03-06 22:05] brentvatne commented on #6203
@AlexHandy1 - I mentioned this issue in the one I linked to above, thank you so much for the detailed report, hopefully the folks in that issue can get to the bottom of it so others don't have the problem again. I'm closing this because we're already discussing in the other thread, but this will be a useful reference for those folks.

[2016-03-06 22:05] brentvatne commented on #6308
@tal952 - do you have another Android device you can test this on? I don't have mine handy at the moment otherwise I would try it.

[2016-03-06 22:06] brentvatne commented on #6188
@bcalik - and does that work as you expect?

[2016-03-06 22:09] bcalik commented on #6188
@brentvatne No, that's why I am reporting this issue.

[2016-03-06 22:11] thejameskyle commented on #6298
@brentvatne You sure this isn't because react-native is shipping uncompiled code? That example in the other issue is from `node_modules/react-native/local-cli/cli.js:74` and Babel shouldn't be compiling `node_modules`

[2016-03-06 22:19] bestander commented on #6245
Yeah, this one is a bummer, I looked at it briefly when was versioning the website.
Probably this requires some smarter integration with Algolia to differentiate between versions/paths.
If someone has a quick fix, it would be great.

[2016-03-06 22:20] brentvatne commented on #6298
@thejameskyle - I'm not so familiar with how the cli works, I'll reopen that issue and ping appropriate person, sorry about the noise!

[2016-03-06 22:21] brentvatne commented on #6203
@martinbigio - reopened because: https://github.com/facebook/react-native/issues/6298#issuecomment-193005739

[2016-03-06 22:23] brentvatne commented on #6245
@bobylito - maybe this is something you could look at? :)

[2016-03-06 22:25] hzoo commented on #6203
From https://github.com/facebook/react-native/blob/4130f11b9d8178602427e907cd31cba435baf4e2/local-cli/cli.js#L74?

Although it does look like babel is being run with
[code]

[2016-03-06 22:38] grabbou commented on #6227
Latest React, going to close this one as it looks like @jeanregisser did the trick at the moment (which is really weird, but ok). Will reopen later if it happens.

[2016-03-06 22:38] #6227 closed

[2016-03-06 22:49] brentvatne commented on #6290
@facebook-github-bot label Android

[2016-03-06 22:51] brentvatne commented on #6018
Hi there! This should no longer be an issue in newer versions of react-native, where whole program optimisations only runs when bundling for release

[2016-03-06 22:51] #6018 closed

[2016-03-06 22:54] brentvatne commented on #5858
@facebook-github-bot answered

[2016-03-06 22:55] #5858 closed

[2016-03-06 22:56] brentvatne commented on #6219
You can just use `scrollTo` - https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollView.js#L365-L387

It would be nice to add this to our docs :)

[2016-03-06 22:56] brentvatne commented on #6219
@facebook-github-bot answered

[2016-03-06 22:57] #6219 closed

[2016-03-06 23:02] brentvatne commented on #6278
@facebook-github-bot label Android

[2016-03-06 23:08] brentvatne commented on #6278
This works as expected on iOS, but indeed appears to be broken on Android.

#### iOS

<img width="242" alt="screen shot 2016-03-06 at 3 06 34 pm"  style="display: inline-block" src="https://cloud.githubusercontent.com/assets/90494/13557929/148b821a-e3ad-11e5-996a-dd4927227ef8.png">

#### Android

<img width="270" alt="screen shot 2016-03-06 at 3 06 15 pm" style="display: inline-block" src="https:/

[2016-03-06 23:09] brentvatne commented on #6264
@facebook-github-bot label iOS

[2016-03-06 23:11] brentvatne commented on #6264
@ghamaide - seems like a bug! if someone can investigate this it would be appreciated. It's worth trying the DatePickerIOS example in UIExplorer and ensuring that works as expected without warnings, if not then use that as the test case to fix.

[2016-03-06 23:14] jwhitley commented on #6315
@cpojer Brilliant, that nails it.  :heart:

I've pushed one additional commit to the sample repo mentioned above which applies your configuration changes.  `npm test` now works as expected on `master` of that repo.  It's great to see `babel-preset-react-native` being broken out as a first-class plugin.  That's going to make a lot of folks lives easier with these alternate build workflows.  Likewis

[2016-03-06 23:17] brentvatne commented on #6211
Hi there! This is not a bug so you will need to get some help on StackOverflow. You could alternatively reach out to the people working on CodePush (https://github.com/microsoft/code-push) or AppHub (https://apphub.io/) who know a lot about this type of thing.

[2016-03-06 23:17] #6211 closed

[2016-03-06 23:18] cpojer commented on #6315
Hey! Nothing yet (it's Sunday after all ;) ) but if you'd like to contribute a page on how to set up React-Native testing with Jest, that would be fantastic! I'm thinking of adding it to the Jest repo, see https://github.com/facebook/jest – the setup is the same as here, so just change the docs, `npm start` inside the website folder and see your changes live there :) If you want to contribute an e

[2016-03-06 23:22] brentvatne commented on #6188
@bcalik - OK. If you would like to submit a pull request to fix this, we can discuss there. I created a ProductPains issue to track this, it is the tool that we use to prioritize features from open source, please go ahead and upvote there: https://productpains.com/post/react-native/touchable-components-need-touch-sounds-for-more-native-feeling/

Anyone else interested should also upvote on Product

[2016-03-06 23:26] brentvatne commented on #2367
@aleclarson - can you create an issue on ProductPains with this description so people can vote on priority of it?

[2016-03-06 23:26] brentvatne commented on #1882
cc @dsibiski ^

[2016-03-06 23:28] brentvatne commented on #2088
Another option is to wrap the Text component with one that adds the capabilities that you want, so then if you have the uppercase prop set on it, it will `toUpperCase()` everything. Can you create an issue on ProductPains that includes the great description of the problem that you just stated @jonlong?

[2016-03-06 23:31] brentvatne commented on #5410
Collapsing this issue into #5410

[2016-03-06 23:31] #5410 closed

[2016-03-06 23:32] brentvatne commented on #6104
@cpojer :)

[2016-03-06 23:34] cpojer commented on #6104
Ugh, this is so annoying that it keeps popping up. Once the testing docs are rewritten, this will hopefully not be an issue any longer. I'll take a look soon.

[2016-03-06 23:39] steveluscher opened #6326 "“Unexpected end of input” exception when using Fetch API with Chrome debugging enabled"
This testcase uses the Fetch API to fetch some data from the network and display it. With Chrome debugging off, it renders the response as expected. With Chrome debugging on, the response is the empty string.

**Test case**:

[code]

This is especially inconvenient when trying to load and parse a JSON response, since `JSON.parse('')` results in the following redbox:

<img width="374" alt="screen s

[2016-03-06 23:43] #3068 closed

[2016-03-06 23:50] hzoo commented on #6298
I just setup react native on android with the same preset/plugins and with `import type * as ExRoute from './ExRoute';` and wasn't able to reproduce.

This is with `babel-plugin-transform-es2015-modules-commonjs@6.6.5` which has the changes I mentioned [above](https://github.com/facebook/react-native/issues/6298#issuecomment-193003007).

[2016-03-06 23:50] brentvatne commented on #641
I think this is a very important issue because it's a common requirement -- pretty much every app has forms and it sucks that everyone needs to come up with a one-off solution for how to handle this. We need `tabindex`. This is a significant undertaking, we should look at building it on a separate project and if it becomes mature enough then maybe integrating it back into core.

[2016-03-06 23:58] vjeux commented on #6237
I've seen this fix: https://github.com/facebook/css-layout/pull/145 than landed on Android https://github.com/facebook/react-native/commit/f538032888976f0199659645ddecf0650133cc62 which may fix the problem.

[2016-03-07 00:05] brentvatne commented on #371
Created a ProductPains issue for this here: https://productpains.com/post/react-native/make-ios-uitextviewinputaccessoryview-on-textinput-/ -- please upvote if this is important to you.

@danleveille - if you can share your implementation, messy or otherwise, that could be helpful as a starting point :)

[2016-03-07 00:07] brentvatne commented on #6104
great, sorry for bothering you on a Sunday :)

[2016-03-07 00:38] alexprice91 commented on #1501
I don't want to add noise here, but I noticed I am seeing this issue on iOS if I have a Picker inside the ScrollView. I am guessing this is an issue with there being a scrollable component within this scrollView

[2016-03-07 01:05] aleclarson commented on #2367
https://productpains.com/post/react-native/improve-performance-of-chrome-debugger/

[2016-03-07 01:11] aleclarson commented on #6209
From [this article](http://blog.xebia.com/ios-pixel-misalignment-why-its-bad-how-to-fix-it/):

And this:

The packager can detect this problem! :smile:

https://productpains.com/post/react-native/packager-detect-pixel-misalignment-on-image-assets/

[2016-03-07 01:16] DanielRosenwasser commented on #6314
Well I ran into it when starting to use React Native on Windows, and someone else documented it at some point, so it's probably sufficiently common.

For the record, I don't see node-haste as a dependency in version 0.21.0, so I don't know what the correct workaround is right now.

[2016-03-07 01:21] cpojer commented on #6314
For older versions that don't have node-haste, you can just update https://github.com/facebook/react-native/blob/5fa33f3d07f8595a188f6fe04d6168a6ede1e721/packager/react-packager/src/DependencyResolver/FileWatcher/index.js as you pointed out yourself in the initial comment.

[2016-03-07 01:26] DanielRosenwasser commented on #6314
D'oh. Forgot where I'd left off last night. :smile:

[2016-03-07 01:30] brentvatne commented on #6245
Discussed this with @vjeux - let's remove the search bar from old versions if possible, and only enable search on the most recent version.

[2016-03-07 01:30] martinbigio commented on #6298
The problem is that `babel/register` doesn't work for the file that includes that directory, on this case `local-cli/cli.js`. Replacing `const` for `var` should fix the issue. I'm not sure why this doesn't repro consistently..

[2016-03-07 01:31] martinbigio commented on #6298
Sorry, I meant to comment on https://github.com/facebook/react-native/issues/6203.

[2016-03-07 01:31] martinbigio commented on #6203
The problem is that `babel/register` doesn't work for the file that includes that directory, on this case `local-cli/cli.js`. Replacing `const` for `var` should fix the issue. I'm not sure why this doesn't repro consistently..

[2016-03-07 01:32] alexprice91 commented on #4547
+1

[2016-03-07 01:44] hzoo commented on #6203
Yep that's what I got from it - https://github.com/facebook/react-native/pull/6329

[2016-03-07 01:46] kittens commented on #6298
The source should just be compiled instead of using `babel/register`. `babel/register` is bad for performance and memory. Take a peak at `~/.babel.json` after running the react native CLI. All of that is being loaded into memory, and on first load/compile it's pretty slow.

[2016-03-07 02:16] martinbigio commented on #6298
cc @davidaurelio

[2016-03-07 02:20] tonytbl opened #6331 "cannot find entry file ...UIExplorerApp.android.js in any of roots"
help me

I just clone https://github.com/facebook/react-native.git
then npm install
then ./gradlew :Example:UIExplorer:android:app:installDebug
then ./packager/packager.sh
then below...

I don't have any changes in codes,juest want to run it,and learn.

![qq 20160307100034](https://cloud.githubusercontent.com/assets/3360934/13559334/12b958e4-e44e-11e5-9ae4-b7c25da8b378.jpg)

[2016-03-07 02:56] #6203 closed

[2016-03-07 03:14] grittathh commented on #2111
I managed to hack together something that works. Probably not PR-worthy, but, basically I pass in the width and the height from the parent view of the Navigator using the style property. Then, in Navigator.js, I removed the maincontainer style, and replaced all instances of SCREEN_WIDTH, SCREEN_HEIGHT, SCENE_DISABLED_NATIVE_PROPS, and disabledScene, with equivalent objects containing props.style.w

[2016-03-07 03:15] kelvinaliyanto commented on #6265
Hi @brentvatne -- Sorry, I am a newbie in this github forum. Is the updated question sufficient to help? Thanks! :)

[2016-03-07 03:38] jonlong commented on #2088
@brentvatne sure thing — done: https://productpains.com/post/react-native/texttransform-should-be-available-in-stylesheet/

[2016-03-07 03:55] qiaoyd523 commented on #6028
@Kureev I replace the TouchableHighlight with TouchableOpacity,then it work well.Thanks @staradayev

[2016-03-07 05:28] shaikhussian commented on #4968
hai iam using react-native version 0.21, When i try to install react-native-side-menu, I got like this in terminal  ENOENT: no such file or directory, open '/Users/stlmini-1221/package.json', in my simulator it shows like this
![simulator screen shot 07-mar-2016 10 54 23 am](https://cloud.githubusercontent.com/assets/11956308/13561462/50c80946-e453-11e5-83b3-627bff829138.png)
when  i checked in no

[2016-03-07 05:33] KarandikarMihir opened #6332 "[Android] underlineColorAndroid somehow applies globally to all TextInput components"
I have a component in search.js. Something like this-

[code]

The style for given TextInput is this-

[code]

![screenshot from 2016-03-07 10 57 13](https://cloud.githubusercontent.com/assets/17466938/13561502/b738ab9a-e453-11e5-86a5-95b2baa6c31e.png)

I have another TextInput placed in my sign-in page.

[code]

Style-

[code]

![screenshot from 2016-03-07 11 01 59](https://cloud.githubuserconten

[2016-03-07 06:04] brentvatne commented on #6332
Example re-creating this on rnplay: https://rnplay.org/apps/_btSdw

[2016-03-07 06:16] kinhunt commented on #5839
It doesn't hide with the following code

[code]

[2016-03-07 06:17] mihir-harbinger commented on #6332
@brentvatne Your example is explicitly setting underlineColorAndroid for every TextInput individually. Whereas in my app, I am passing the same underlineColorAndroid prop for only one TextInput. It should not affect other TextInput, right?

[2016-03-07 06:18] mihir-harbinger commented on #6332
@brentvatne Thanks!

[2016-03-07 06:27] juncocoa opened #6333 "Android how to support font strikethrough（line-through）"
Android how to support font strikethrough（line-through）
By textDecorationLine  property

[2016-03-07 06:27] Raz0rwire commented on #6149
I also have the same issue

[2016-03-07 06:28] juncocoa commented on #6333
`old Price：<Text style={{textDecorationLine :'line-through'}}>{'$ ' + oldPrice}</Text>`

[2016-03-07 07:05] mmazzarolo commented on #6149
Same issue on all Android versions I tested

[2016-03-07 07:26] iugo opened #6335 ".eslintrc in repo can not work with Atom"
React Native version: 0.21.0
.eslintrc: https://github.com/facebook/react-native/blob/36f1961003a7983918f12180a4d18bb2424ee494/.eslintrc

Error info:
AssertionError: ImportDeclaration should appear when the mode is ES6 and in the module context.

Such operations can reproduce the error:
[code]

Atom with linter and linter-eslint packages.
When open the *.js contain `import`, editor displays the fo

[2016-03-07 07:54] timjacobi commented on #6233
@brentvatne Agreed. I'm already doing that.

[2016-03-07 08:10] aparedes commented on #6335
This is because you installed the latest eslint (2.3.0) which is not compatible with babel-eslint.
Try installing `estlint@1.x` that worked for me.

[2016-03-07 08:47] plrthink commented on #6035
Also have this issue with a refresh inited react-native@0.21 project using offline bundle.

[2016-03-07 09:09] yummish commented on #4968
I had similar issue that it cannot find module crypto, which is required by "request" module.

In the code, originally I imported request module with
`import request from request`
Then I tried
`var request = require('react-native').request` and it works!

I got this idea from this post: https://github.com/joeferraro/react-native-env/issues/3

I'm not sure why though. Hope this helps!

[2016-03-07 09:15] tal952 commented on #6308
@brentvatne - tried it on samsung galaxy s4, same result.

[2016-03-07 09:16] plrthink commented on #6225
@wheatma How do you reinstall the packages? Remove node_modules and re-run `npm install`? This doesn't work for me.

[2016-03-07 09:43] davidaurelio commented on #6298
@hzoo: unfortunately, the packager currently follows type imports. I’m going to land a change today that changes that.

@martinbigio Yes, I was thinking about that for a while. But it’s doesn’t have a high prio for me. We should tailor a transform that keeps everything that node 4 supports natively.

[2016-03-07 09:46] davidaurelio commented on #6298
I meant, use [babel-preset-modern-node](https://www.npmjs.com/package/babel-preset-modern-node)

[2016-03-07 10:09] grabbou commented on #6335
@facebook-github-bot answered

[2016-03-07 10:10] #6335 closed

[2016-03-07 10:30] cubbuk commented on #3610
Same issue here, I declared style prop twice after removing the unused one problem solved. The main issue is red screen does not give a proper definition in linux environment. It only warns the property style is redefined but does not point to anywhere in the source.

[2016-03-07 10:34] ios122 commented on #4202
Note For Chinese: 小米三, MI3W:
开启调试菜单方法:设置 --> 系统应用 --> 安全中心 |  (当前页最下面)各模块功能设置 | 授权管理 --> 应用权限监控 ,关闭即可. Thanks @lizhangqu @plcstpierre

[2016-03-07 10:36] staradayev commented on #6028
@qiaoyd523 you are welcome :)

[2016-03-07 11:09] ck227 commented on #6331
any solution?

[2016-03-07 11:19] grabbou commented on #1550
That's now done -> https://github.com/grabbou/react-native-touchable-bounce

Going to publish it to npm later today & update react-native repo to reference it.

Anything we can do about:
https://github.com/grabbou/react-native-touchable-bounce/blob/master/src/index.js#L19

[2016-03-07 11:24] jayesbe opened #6337 "Images not being bundled into Android assets / resources"
I have created a simple demo app that is basically laid out as follows
[code]

Inside the login.js I have a simple image
[code]

The image shows up fine in the simulator.. when I build a signed apk and deploy to my device.. application runs as expected.. however.. no logo.

Using RN 0.21

[2016-03-07 11:40] grabbou commented on #1550
@brentvatne @mkonicek right now it uses internal not-exported modules (https://github.com/grabbou/react-native-touchable-bounce/blob/master/src/index.js#L14-L21) which unfortunately does not work (as far as I remember, relying on that has undefined behaviour - in examples it works, but when consumed from npm it does not).

Any chances these get included? (Touchable seems to be included in master n

[2016-03-07 11:44] jayesbe commented on #6337
this works as expected. Image is showing. In my app the image was actually logo-500px.png

the '-' appears to be a big no-no.

use underscore instead of dashes.

hopefully this helps others that may run into the same issue.

[2016-03-07 11:44] #6337 closed

[2016-03-07 12:08] zhouyuguo opened #6338 "Text can not set property like lineBreakMode"
hi

   when the charactors are mixed with Chinese,English and Number,I want to set the lineBreakMode（in ios）property to control  how to wrap the text，but by now there is no way to do that.It is not a friendly support to chinese text.

[2016-03-07 12:19] Kureev commented on #6291
Maybe it's a good time for `--device` flag?
Example: `run-ios --device` or `run-android --device`

[2016-03-07 12:33] bobylito commented on #6245
That could be nice to have ;) I'm seeing what we can do on our side.

[2016-03-07 12:46] bobylito commented on #6245
We definitely support multiple versions. Do you want to forward? It's just a matter of choosing the right facet value. I can give you a hand for the algolia parameters @skevy @Bhullnatik

[2016-03-07 12:48] aleclarson commented on #6291
I agree with @Kureev here. Automating the process would be great for when my IP address randomly changes. And not having to dig in source code is nice for newbies. :stuck_out_tongue_closed_eyes:

[2016-03-07 13:21] Kureev commented on #6291
I'm currently working on this one with @kaphacius. We'll try to send a PR this evening.

[2016-03-07 14:02] bestander commented on #6245
If it is a matter of params that we can define during build time then sure, let's do it.
Just to recap, we build a new version of website every 2 weeks and upload it to github CDN:
http://facebook.github.io/react-native/releases/0.20
http://facebook.github.io/react-native/releases/0.21
http://facebook.github.io/react-native/releases/next (for master branch build)
http://facebook.github.io/react-na

[2016-03-07 14:04] mmazzarolo commented on #5188
Since this morning I'm having this issue again, anybody else?
[code]

[code]

My .babelrc:
[code]

P.S.: The repo is [here](https://github.com/mmazzarolo/react-native-starter)

[2016-03-07 14:09] aleclarson commented on #6338
I submitted PR #6339 to fix this.

[2016-03-07 14:15] tronin commented on #4547
+1
```Required prop `onDateChange` was not specified in `RCTDatePicker````

[2016-03-07 14:17] lexs commented on #6290
@danhawkes I can't repro this, I'm running the code below and see the html contents being printed to the console.

[code]

[2016-03-07 14:27] hzoo commented on #5188
This shouldn't be an issue anymore since the change was reverted a while back in 6.5.2 https://github.com/babel/babel/releases/tag/v6.5.2 - I would probably clear/reinstall node_modules?

[2016-03-07 14:31] Obooman commented on #2815
@aleclarson Could you please be more clear? I have the same problem which really annoying me.Thanks😭.

[2016-03-07 14:41] mmazzarolo commented on #5188
I already tried with:
- npm cache clean, rm -f ~./npm, rm -f ./node_modules
- ./node_modules/react-native/packager/packager.sh start --reset-cache
without any success...

Thank you anyway hzoo, I also asked on [stackoverflow](http://stackoverflow.com/questions/35846129/react-native-static-class-properties-a-semicolon-is-required-after-a-class-prop), because it seems it's an issue only on my setup

[2016-03-07 14:42] slamus commented on #4547
Guys,

Please know that you can make those box disappear by putting this in the root file of your app:
[code]

See you !

[2016-03-07 15:04] aleclarson commented on #2815
I think Facebook is working on a native solution for this (as evidenced here: 5c1ac2a).

Right now, React Native's JS `ScrollView` wraps around the native `UIScrollView`. If the `ScrollView` was written from the ground-up in JS, it could partake in the JS responder system. That would effectively avoid this error. But it's up to Facebook to decide if a JS-based `ScrollView` is feasible.

[2016-03-07 15:30] aleclarson commented on #6207
PR submitted: #6340 :wink:

[2016-03-07 15:30] #6207 closed

[2016-03-07 15:30] martinbigio commented on #6298
Oh that's awesome!

[2016-03-07 15:39] danhawkes commented on #6290
@lexs This may be an issue with our backend - there's a [bug in WSO2 ](https://wso2.org/jira/browse/ESBJAVA-2262)where it's adding the gzip header to the response but not actually gzipping the content. Will check and get back to you.

[2016-03-07 15:51] danhawkes commented on #6290
Yep, that's it. Turns out it worked with our 'native' OkHttp code because we're explicitly setting a `Accept-Encoding: gzip,deflate`, which has the effect of not returning the erroneous header.

[2016-03-07 15:51] #6290 closed

[2016-03-07 15:51] jaygarcia commented on #6292
Hiding core react-native project stuff in `.react-native` will make it harder for folks to edit code in that space, some of which is required.

I like the idea, but maybe just rename it to `native` or `react-native`.

[2016-03-07 16:03] gengjiawen commented on #2797
When executing **react-native init AwesomeProject --verbose**, I get these:
[code]
node version: v5.7.1
os: win 10, x64
npm: 3.6.0
@mkonicek Any suggestion, thanks.

[2016-03-07 16:41] BilalBudhani commented on #4773
Hey did anyone happened to get through this issue? I'm facing the same problem currently. WebView doesn't appear inside ScrollView. I'm on `0.21.0`.

[2016-03-07 17:19] l-urence commented on #6326
@steveluscher Updated the Libraries/Fetch/fetch.js to latest from https://github.com/github/fetch. This seems to fix this. Should I send a PR for this?

[2016-03-07 18:28] tomprogers commented on #6298
As of this morning, the issue appears to be fixed. I'm not shrinkwrapping my deps just yet, so nuking my node_modules and reinstalling very possibly pulled in a different version of babel, react-native, and/or the react-native babel preset.

Thanks everyone for whatever you did. 8)

Today will be spent setting up npm-shrinkwrap.

[2016-03-07 18:43] cpjolicoeur commented on #1774
Doesn't flexbox already handle this via `flexDirection` and `alignItems` combo?

[2016-03-07 18:45] skevy commented on #6326
@l-urence yep, if that fixes it, please send a PR and tag both me and steve :)

[2016-03-07 18:46] skevy commented on #6326
@steveluscher i'm not sure when this started happening...seems odd though, given that people are constantly using `fetch` and I don't see that this error has been reported before.

[2016-03-07 18:57] astuetz commented on #6152
Should be fixed with https://github.com/facebook/react-native/commit/36400807ab968f9e48aee2292545147e74462caf

[2016-03-07 19:05] brunobar79 commented on #5989
This seems to be fixed after upgrading to 0.21.

[2016-03-07 19:05] #5989 closed

[2016-03-07 19:06] marcshilling commented on #6298
Confirmed this is also resolved for me now!

@tomprogers shouldn't take you a day, I just set it up in 2 minutes! Let's hope it prevents crap like this from happening again :)

[2016-03-07 19:31] nevir opened #6348 "Better control over when the packager launches (iOS)"
Currently, the React xcode project has a run script step that checks for the packager and launches it if it is not running.

I've got a few cases where I'd like to be able to build my RN projects without spawning the packager.  Building for native tests, or to pass the binary off to another machine/device.

Ideally, I think, this script should be a phase of userland xcode projects rather than part

[2016-03-07 19:42] satya164 commented on #6152
Closing based on @astuetz's comment. Let's reopen of its still not working

[2016-03-07 19:43] mmazzarolo commented on #5188
It is so weird, I can confirm I'm still having the issue, tried with both React-Native 0.20 and 0.21 on two different repositories (on both Ubuntu and OSX).
Tomorrow I'll add semicolon back on every single class property and I'll give it another try in the future.

[2016-03-07 19:58] brentvatne commented on #6245
Awesome @bobylito & @bestander :) Algolia is even more powerful than I had thought

[2016-03-07 20:09] #3468 closed

[2016-03-07 20:21] adnbsr commented on #952
@chirag04 @ericvicenti Why did we pushed back on v 0.20 ?

[2016-03-07 20:54] jabm111 commented on #5584
I'm getting the same error using Android version 4.4.4 (api 19) and trying to make a post request to an https endpoint (http works). Adding/removing headers doesn't help. It works on Android version 5.1.0 and 6.0.1. I'm using RN v0.20.0.

[2016-03-07 21:10] ide commented on #6348
I think this is right. @frantic what do you think about moving the script that launches the packager, so that the script is in the project created by `react-native init` instead of React.xcproj?

[2016-03-07 22:01] janicduplessis commented on #6331
Windows support is broken ATM on master :(. I'll got a PR fixing it, it should get merged soon. #6260

[2016-03-07 22:03] tomauty commented on #6110
+1

[2016-03-07 22:36] ambarc commented on #4968
I think @ekryski is on the money. Check if your deps run solely on node (which runs on the V8 engine as opposed to react-native in iOS which runs on Apple's JavaScriptCore).

An example with this is the 'crypto' package - I had it as a dependency and because it doesn't work with JavaScriptCore react-native wouldn't copy the package (present in the node build) to the build on the phone/emulator.

@

[2016-03-07 23:22] aoriani commented on #4021
A concern that I have is that React-Native imposes a certain version of OkHttp to the hosting app. That is particularly bad for existing apps that are already using OkHttp and want to use  React-Native to implement some new functionality.  In my particular case  we use OkHttp 2.7.4 whereas React-Native 0.20 uses 2.5.0.  As noticed above there's some incompatibility between those two OkHttp 2.x ver

[2016-03-07 23:32] arunabha opened #6350 "Packager error upgrading to 0.21 from 0.20"
Upgrading from 0.20 to 0.21 causes an error in the packager. The project builds fine, but when the packager launches, it gives an error

[code]

It might have something to do with the change in directory structure.

in 0.20

[code]

in 0.21
[code]

Is there a workaround ?

[2016-03-08 00:48] poonamst opened #6354 "Error: Unable to download JS Bundle from dev server - Android devices RN 0.20"
**React version** - RN 0.20
**Environment** - Android devices
**Issue** - Unable to download JS Bundle from dev server when trying to use localhost on Android devices.

The issue is not reproducible on Android simulators. Applicable only for Android devices. Attached is a screenshot of the error. Verified that was not an issue in RN 0.18.

**Description and steps to reproduce**:-

1. Set the JSBun

[2016-03-08 01:05] Somojojojo commented on #5967
Chris, I updated our react native install and tried the widget elsewhere
and it is working now... So weird. Sorry for bothering you, you can close
this issue.
On Feb 19, 2016 5:51 PM, "Christopher Dro" <notifications@github.com> wrote:

[2016-03-08 01:06] #5967 closed

[2016-03-08 01:34] brentvatne commented on #6308
thanks @tal952

This ticket is available for interested contributors!

There is no clear answer for what needs to be changed -- you will want to be familiar with Android as this will require some understanding of the native side. If anyone wants to dig into this it would be much appreciated, Facebook folks might not get around to it until it becomes an issue for them.

[2016-03-08 02:07] yiyangest opened #6356 "ART on android can't recognize gesture"
I'm using react-native v0.20, and have a view containing ART surface and shape, like this:

     <View onStartShouldSetResponder={this.onStartShouldSetResponder.bind(this)}
                    onMoveShouldSetResponder={this.onMoveShouldSetResponder.bind(this)}
                    onResponderGrant={this.onResponderGrant.bind(this)}
                    onResponderMove={this.onResponderMove.bind(this

[2016-03-08 02:14] crockpotveggies commented on #3049
@tomauty that also fixed issues on our end here, too. Nice thinking!

[2016-03-08 03:22] kitt1987 commented on #3890
same issue here.

[2016-03-08 03:49] christopherdro commented on #5967
:+1: No worries! Glad you got it resolved.

[2016-03-08 03:54] huyhva909 opened #6358 "React Native RCT Networking.sendRequest got 6 arguments, expected 7"
Hi All,
Please help me fix this error.
i have one application. I had run it by real device (Samsung galaxy s5).
I run all command it's work. But my device's screen is red with error.
Error is below:

RCTNetworking.sendRequest got 6 arguments, expected 7

invoke
BasejavaModule.java: 227

call
NativeModuleRegistry.java: 158

call
CatalystInstanceImpl.java: 428

run
NativeRunableDeprecated.java: -2

[2016-03-08 04:14] gavin1990 commented on #5747
@lifehackett node  v5.6.0

[2016-03-08 04:48] christopherdro commented on #6350
@arunabha It appears that the ReactAndroid folder is not being copied when you upgrade.
This is from some recent changes to the Android build process.

A update has already been pushed here.
https://github.com/facebook/react-native/commit/403176ae9332fb7c8beac339dd41cbb067f995fd

You can either update react natives package.json and run npm install again, or just copy the the directory  over manual

[2016-03-08 04:48] #6350 closed

[2016-03-08 04:55] christopherdro commented on #2879
Hey there! Closing this issue since it's been tagged as a question appropriate for Stack Overflow.
We are trying to keep GitHub issues strictly for bugs.

Thanks!

[2016-03-08 04:55] #2879 closed

[2016-03-08 05:00] #4273 closed

[2016-03-08 05:01] christopherdro commented on #4281
Hey there! Closing this issue since it's been tagged as a question appropriate for Stack Overflow.
We are trying to keep GitHub issues strictly for bugs.

You can also try [Product Pains](https://productpains.com/product/react-native/?tab=top) where community members can vote on feature requests and bug repots.

Thanks!

[2016-03-08 05:01] #4281 closed

[2016-03-08 05:02] christopherdro commented on #4317
Close this for Stack Overflow or  [Product Pains](https://productpains.com/product/react-native/?tab=top).

[2016-03-08 05:02] #4317 closed

[2016-03-08 05:02] #4425 closed

[2016-03-08 05:04] jeremyong commented on #4730
@skevy

I'm not sure what aspect of a memory leak that causes my app to be unrunnable after a few minutes of use in a simulator makes dev mode easier to debug.

Also how are you supposed to debug an *actual* leak if leaks already exist? The reason debug builds are slow is because unoptimized code maps in a one to one fashion to source code, which makes it easy to step through a debugger. That's it

[2016-03-08 05:06] christopherdro commented on #4724
@m4rcoperuano I've actually experienced something similar in the past but can't think of what name I using for my module! :)

Closing this since it appears your were able to find a workaround.

[2016-03-08 05:06] #4724 closed

[2016-03-08 05:07] christopherdro commented on #4756
@super2457  We're you able to resolve this issue?

[2016-03-08 05:09] christopherdro commented on #5955
Fixed via https://github.com/facebook/react-native/commit/46422ddd99a798d1af9ea337629f2de5334d72fa

[2016-03-08 05:09] #5955 closed

[2016-03-08 05:13] hasen6 commented on #4730
Exactly, Its pretty hard to debug anything when you don't know if the ever expanding memory is anything to do with it. Not only that but it seems the source of the memory leak has already been isolated.

[2016-03-08 05:26] skevy commented on #4730
@jeremyong If the leak is causing your app to be "unrunnable" after a few minutes of use, then yes, of course I consider it a blocking issue.

When I commented previously, that wasn't my understanding of the problem (and I'm sorry if I misunderstood). It seemed as though it was something that happened over long term use, or at least at a slow rate...specifically, a rate that wasn't detrimental to

[2016-03-08 05:27] skevy commented on #4730
@tadeuzagallo I unassigned you from this until I do a bit more investigation. Will re-assign if I find that it's something that you could help with/fix :)

[2016-03-08 05:47] christopherdro commented on #6354
@poonamst I can't image this being a problem between RN versions. Did you double check that your device is connected to the same network as your localhost?

If your devices are running Android 5+, you can try running `adb reverse tcp:8081 tcp:8081` instead of entering it manually through dev settings.

Also make sure you restart your packager when changing between versions.

[2016-03-08 05:47] christopherdro commented on #6333
Hey there! Closing this issue since it's a feature request.
We are trying to keep GitHub issues strictly for bugs.

You can try creating a ticket on [Product Pains](https://productpains.com/product/react-native/?tab=top) where community members can vote on this feature requests.

Thanks!

[2016-03-08 05:47] #6333 closed

[2016-03-08 05:50] #6152 closed

[2016-03-08 05:51] jeremyong commented on #4730
@skevy Thanks for looking into it :)

[2016-03-08 05:54] Traviskn commented on #6152
@astuetz @satya164  This is great news!  Do you know what version of react native that fix will be available in?

[2016-03-08 06:05] christopherdro commented on #6291
@Kureev Maybe this helps.
https://github.com/wildlifela/react-native/commit/b2f079c121522f224e2f4ce4810c9bd5d86c495d

[2016-03-08 06:13] christopherdro commented on #2954
@gsxiang There are various commits that fix this problem.
i.e
https://github.com/skillz/react-native/commit/ffd83f9cf07ba74891a2fe7011f2311c0c983733
https://github.com/Tinkerhq/react-native/commit/c3b85c6814aeb3656b98667a62541dd50abe7f88

Any chance you can send us an update on whether this issue has been resolved? Thanks!

[2016-03-08 06:16] christopherdro commented on #3030
Hey there! Closing this issue since it's a feature request and not a bug.
We are trying to keep GitHub issues strictly for bugs.

Here is a great library you can try for videos.
https://github.com/brentvatne/react-native-video

Hope this helps.

[2016-03-08 06:16] #3030 closed

[2016-03-08 06:17] christopherdro commented on #2854
Fixed via https://github.com/facebook/react-native/commit/0fb86c2495157038ded99fc22bfa1e19652989d6

[2016-03-08 06:17] #2854 closed

[2016-03-08 06:18] kanerogers commented on #5851
Thanks so much for fixing this guys - this was driving me nuts!

[2016-03-08 06:33] nvcken commented on #3890
@SFantasy
not yet

[2016-03-08 06:37] christopherdro commented on #5718
@chenqizheng

Double check that you ran `npm install` inside the UIExplorer demo before running the app.

Closing this for now. Feel free to re-open the issue if the problem persists. Thanks!

[2016-03-08 06:37] #5718 closed

[2016-03-08 09:03] Kureev commented on #6291
@christopherdro hm, if that's already in the master, why we don't need this issue? It's no longer a manual step.

[2016-03-08 09:08] Kureev commented on #6291
@christopherdro we had a similar idea. The only difference is how you store an IP. Our proposal was to store it into `*.plist` using PlistBuddy, but `#define` statement also looks fine to me.

[2016-03-08 09:10] Kureev commented on #6291
@mkonicek @grabbou seems this issue can be closed (fix is already in the master).

[2016-03-08 09:45] alvaromb commented on #6191
Check if you have any `TouchableNativeFeedback` with `Ripple` option and you're running in a lower Android version.

[2016-03-08 11:10] corbt commented on #6311
Fixed in https://github.com/facebook/react-native/pull/6359

[2016-03-08 11:10] #6311 closed

[2016-03-08 12:23] kaminskypavel commented on #4515
@mkonicek thanks for sharing!

[2016-03-08 12:54] srlopez opened #6360 "Redux reducer different behavior on the same action"
@gaearon @grabbou I need help on this question.
The dispachts on redux actions seem fine, but the reducer behaves differently if invoked from the parent component props or from the detail element props in ListView.

I don't know how to continue.

All the code is in this repo [https://github.com/srlopez/test][1]

This is the reducer, all seems to be  ok

        //Reducer
        const reducer = (s

[2016-03-08 13:04] bestander commented on #6303
@jaredly go for it, we would appreciate this feature.
Ping me with the PR.

[2016-03-08 13:09] gengjiawen commented on #2797
reinstall nodejs fix my issue :)

[2016-03-08 13:21] cornedor opened #6361 "Multiple newline's not working correctly in TextInput"
Multiple newlines in a defaultValue as visible in this snippet do not work correctly:
[code]

The result is a TextInput with only a newline after "Hello World!". If there are multiple newlines or if there is a whitespace after a newline the newline's are ignored.

This does occur in iOS and Android in React 0.21.0

![screen shot 2016-03-08 at 14 11 01](https://cloud.githubusercontent.com/assets/57

[2016-03-08 13:29] aleclarson commented on #6291
@Kureev [The fix isn't in master yet.](https://github.com/facebook/react-native/blob/64d56f34b779de94f251f4b443463cbfe790912d/Libraries/WebSocket/RCTWebSocketExecutor.m#L54)

And we should add `LOCAL_IP_ADDRESS` to these places too:
- [RCTRedBox.m](https://github.com/facebook/react-native/blob/f2438b440d410ca1aa3ca7d0544d6e000e29e774/React/Modules/RCTRedBox.m#L97)
- [AppDelegate.m](https://github.

[2016-03-08 13:46] grabbou commented on #6291
Nice, updated labels. Fingers crossed :)

[2016-03-08 13:54] chenxiaohu commented on #586
+1 for shouldOverrideUrlLoading on Android

[2016-03-08 14:17] cornedor commented on #6361
After a bit more research I found that the problem is not with the input, but it is probably something with the JSX transformer.
![screen shot 2016-03-08 at 15 02 46](https://cloud.githubusercontent.com/assets/570297/13603978/ed5019a0-e540-11e5-916d-ed16bb4c6cc4.png)

[2016-03-08 14:42] christopherdro commented on #6291
@Kureev That commit was cherry picked to another fork of React Native. I never made a PR because I knew there were probably some other issues involved in getting it working completely.

@aleclarson I don't remember having any issues with android.

[2016-03-08 14:45] #6314 closed

[2016-03-08 15:10] ibraheemabukhdair commented on #3974
Going into build phases in xcode and deleting the last entry  `images` worked for me.

[2016-03-08 15:24] naivehhr commented on #5599
+1

[2016-03-08 15:26] aleclarson commented on #6291
#6362 :checkered_flag: :+1: :beers:

[2016-03-08 15:30] aleclarson commented on #6291
It looks like there was already a similar PR: #6345

Have anything to add to this, @frantic?

[2016-03-08 15:32] aleclarson commented on #4351
#6362 and #6345 both have a go at fixing this issue

[2016-03-08 15:35] aleclarson commented on #6291
And there was already a huge conversation here: #4245

[2016-03-08 15:36] aleclarson commented on #4245
#6362 and #6345 both have a go at fixing this issue

[2016-03-08 15:39] aleclarson commented on #1597
#6362 and #6345 both have a go at fixing this issue

[2016-03-08 15:42] aleclarson commented on #883
#6362 and #6345 both have a go at fixing this issue

[2016-03-08 16:48] corbt commented on #3007
Flow support is working with React Native with the latest versions of RN and Flow. If you use the default generated `.flowconfig` file that is created for you when you run `react-native init` or `react-native upgrade` you should be fine.

[2016-03-08 16:48] #3007 closed

[2016-03-08 16:51] corbt commented on #6326
Just as another data point, I got this error a few times on `master` a couple of days ago but it has since disappeared. I don't remember if I was debugging with chrome or not at the time though.

[2016-03-08 16:52] garr741 opened #6363 "ear"
Hey there and thank you for using React Native!

React Native, as you've probably heard, is getting really popular and truth is we're getting a bit overwhelmed by the activity surrounding it. There are just too many issues for us to manage properly.

Do the checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes a

[2016-03-08 16:54] #6363 closed

[2016-03-08 17:48] #6326 closed

[2016-03-08 17:49] davidaurelio commented on #6326
Fixed in fd3a0ba781082a567d5713524fb269877baa0b1d

[2016-03-08 17:51] #4185 closed

[2016-03-08 18:06] sudarshanj618 commented on #1093
I tried the Base64 encoding of jsbundle file in iOS, and it works great.
But having problems on android.
How do the same on android jsbundle.

[2016-03-08 18:16] satya164 commented on #6360
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-03-08 18:16] #6360 closed

[2016-03-08 18:17] satya164 commented on #6358
You RN JS and Native code are out of sync. Run `react-native upgrade` in your project to fix the issue.

[2016-03-08 18:17] #6358 closed

[2016-03-08 18:19] satya164 commented on #6354
You need to set the address to your computer's IP address, not `localhost`. Or run `adb reverse tcp:8081 tcp:8081` as @christopherdro suggested. Let's re-open if we're missing something.

[2016-03-08 18:19] #6354 closed

[2016-03-08 18:23] satya164 commented on #6298
Closing this since this seems to be fixed now.

[2016-03-08 18:23] #6298 closed

[2016-03-08 18:25] satya164 commented on #6287
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-03-08 18:25] #6287 closed

[2016-03-08 18:37] DHidee66 commented on #6191
@alvaromb Yeah that was the problem. There are some things like the `Ripple` option and the elevation that are not available on API 19. Thanks for your answer :)

[2016-03-08 19:06] jaulz opened #6365 "Unable to resolve module path from ..."
Hey. I get the famous red error box with the message "Unable to resolve module path from ... /*/*/node_modules/amdefine/amdefine.js". The path stated here though exists and I wonder what the issue could be. Until now I followed the described steps of the error:
1) upgrading to latest RN
2) watchman watch-del-all
2) rm -rf $TMPDIR/react-*
3) npm start -- --reset-cache
3) restart the packager

Any i

[2016-03-08 20:12] #6256 closed

[2016-03-08 20:21] bestander opened #6366 "Issue to track 0.22 stability"
List of commits to cherry-pick into 0.22-stable branch
- [x] node-haste fix Windows compat fd816b1
- [x] live reload 2e9c888dcd9bf1dbfe62282caa9cf35b91630d0a 972395a7c9a72d746bd9baead803e5caa4c071a2
- [x] netinfo fetch  336dbe4
- [x] new npm publish script with CI ceb6bd5272f7d6971fef8ee9647213ba40e9fd9c
- [ ] fix HMR variable namings d0caf7e48b12e9a11185eb86e0a17017c9a3287c - not importing this
-

[2016-03-08 20:24] satya164 commented on #6366
For HMR, we need to do disable the HMR menu when Dev is disabled. I'll do it. Just mentioning here.

[2016-03-08 20:35] donaldpipowitch commented on #5668
I just stumbled over the same problem. Do you know when this will be released? Thanks.

[2016-03-08 20:38] bestander commented on #5668
It should be in 0.21 already

On Tuesday, 8 March 2016, Donald Pipowitch <notifications@github.com> wrote:

[2016-03-08 20:58] bickerstoff commented on #6358
I took a stab at adding it to stackoverflow.

http://stackoverflow.com/questions/35877867/react-native-rctnetworking-sendrequest-got-6-arguments-expected-7/35877868#35877868

[2016-03-08 21:08] donaldpipowitch commented on #5668
Strange. I'll check my version tomorrow, but I installed it just two hours ago. Thanks so far.

[2016-03-08 22:02] janicduplessis commented on #6366
#6260 When the node-haste stuff is resolved.

[2016-03-08 22:14] apalmblad commented on #5934
I updated the reproduction from @npomfret to 0.21 and the issue still happens.

Through testing, I found a few workarounds:
* Adding a the property renderScrollComponent to the listview, ie `renderScrollComponent={(props) => <React.RecyclerViewBackedScrollView {...props}/>}`
* Setting scrollRenderAheadDistance to 0 on the list view seems to fix the issue, but crashes with values > 0
* Setting remo

[2016-03-08 22:21] Kureev commented on #6365
Maybe I'll ask a very silly question, but are you sure you have `amdefine` installed?

[2016-03-08 22:37] Kureev commented on #4017
@vespakoen these postfixes works, but I believe the question is about an environment, not a platform.
What is a next action for this issue? Should we close it?

[2016-03-08 22:44] l-urence opened #6369 "App is crashing if network request fails"
App crashes with red box if network request fails.
![screen shot 2016-03-08 at 23 38 23](https://cloud.githubusercontent.com/assets/472753/13618917/dcda4122-e586-11e5-9f91-63a7a81a6f1f.png)

[2016-03-08 22:44] l-urence commented on #6369
https://github.com/facebook/react-native/pull/6368 add missing check for failing network requests.

[2016-03-08 22:53] martinbigio commented on #6366
https://github.com/facebook/react-native/pull/6325 when it lands in a few minutes

[2016-03-08 22:58] Sh3rawi opened #6370 "[Android][WebSocket] IllegalStateException: Listener failed to call close on message payload"
This error, as we noticed, is crashing the app on a fair amount of devices on production. Almost all Sony and HTC devices with Lollipop face this crash very very frequently (we still don't know why).
But what we figured out is that we can reproduce this same exception if we open the app (and the socket by default) while applying an edge case of slow and lousy internet connection.

Fatal Exception:

[2016-03-08 23:40] bestander commented on #5668
sure, this setting is definitely in 0.21: https://github.com/facebook/react-native/blob/0.21-stable/local-cli/setup_env.sh

[2016-03-09 00:47] l-urence commented on #6369
Fixed in https://github.com/facebook/react-native/pull/6368

[2016-03-09 00:49] #6369 closed

[2016-03-09 00:57] Jeansilva89 commented on #6282
:+1:  This solution also worked for me. I just started a new project on React-Native 0.21.0

[2016-03-09 03:11] nparsons08 commented on #1360
Hi facebook/react-nativ,

I'd like to add you to my professional network on LinkedIn.

- Nick

Confirm that you know Nick: https://www.linkedin.com/e/v2?e=0-ilk9qrdu-ol&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=3ciWTf73&invitationId=6113168880128061442

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our members in features li

[2016-03-09 03:11] nparsons08 commented on #1360
Hi,

I'd like to add you to my professional network on LinkedIn.

- Nick

Confirm that you know Nick: https://www.linkedin.com/e/v2?e=0-ilk9qrcm-sn&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=4OJ1V-TX&invitationId=6113168880501346305

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our members in features like People You May Kno

[2016-03-09 03:32] tianzhijiexian commented on #5944
When I touch the screen,I got:
java.lang.RuntimeException: Tried to get non-existent cookie
                                                                        at com.facebook.react.uimanager.events.TouchEventCoalescingKeyHelper.getCoalescingKey(TouchEventCoalescingKeyHelper.java:75)
                                                                        at com.facebook.react.uimanager.events.

[2016-03-09 04:17] kevando commented on #5412
using `npm3 install` fixed my problem, but why? should i use that from now on instead of npm?

[2016-03-09 05:50] kanerogers commented on #5604
I'm having this same issue, @eadz!

[2016-03-09 06:56] jaulz commented on #6365
Yes, certainly - the path exists but the difference is that it was installed (and is required) via a dependency. Anyway what I wonder about is that the file path of the actual error message exist so there must be a check for a different file. Can you point out any potential checks that I can debug?

[2016-03-09 07:20] ms88privat commented on #3159
:+1:
I get the warning `Unsupported dashed / dotted border style` when I try this on a View on iOS:

[code]

on Android I see a border (not dashed) without any warnings

[2016-03-09 08:02] ning-zhao commented on #6331
@janicduplessis Have you solved this problem? I'm into same question.

[2016-03-09 08:26] eadz commented on #5604
Does my fix work you as well?

On Wed, 9 Mar 2016 05:51 Kane Rogers, <notifications@github.com> wrote:

[2016-03-09 08:33] lu-ko commented on #5854
+1

[2016-03-09 08:35] lu-ko commented on #6110
+1

[2016-03-09 08:43] shprink commented on #2303
Hi,

Is this included in any stable release?

[2016-03-09 08:52] kanerogers commented on #5604
I haven't yet had a chance to have a look - I'll check it out and let you
know!

On Wed, Mar 9, 2016 at 7:28 PM Eaden <notifications@github.com> wrote:

[2016-03-09 08:56] maraujop commented on #4961
Hi @mkonicek ,

Sorry, for the delay too, I've been waiting for the app to crash with the same error, so I could report `adb logcat` Today it has finally shown up again, here is the stacktrace:

[code]

I hope this helps, because this the only bug that's biting us in RN that really worries us.

Thanks, cheers
Miguel

[2016-03-09 09:14] grabbou commented on #6370
Looks like okhttp exception, have you tried filling in a bug report in their repo? https://github.com/square/okhttp

[2016-03-09 09:15] grabbou commented on #6365
What is the dependency name?

[2016-03-09 09:30] yonatanmn commented on #4775
Having the same issue (actually adding is ok, but slicing array of pages, and pushing causes this).
I've tried changing key (to `AndroidViewPager`) according to @brentvatne proposal, but then other problems occurred - no animation sometimes, and after some fast changes errors spawned.

I know there are problems with the native android component ([look here](http://stackoverflow.com/questions/13664

[2016-03-09 09:43] farwayer opened #6374 "Can't set AndroidToolbar logo if set it to null before"
If you set `logo` in `AndroidToolbar` to `null` at least once setting it to valid image don't work.
[code]

This works:
[code]

[2016-03-09 10:44] Sh3rawi commented on #6370
I've seen that issue on their repo, but i don't  think that its from their side only.
Im no java expert, but if you see the solution proposed in the issue, its something added to the websocket object.
Also, after digging a bit into the code, there is something wrong that happens in the onMessage method of the react-native websocket listener, that causes this after returning :
    messageClosed = f

[2016-03-09 10:58] pesterhazy commented on #5196
Seeing a similar problem when running the packager (0.19) on OSX (machine has 4GB). The command line is:

[code]

The GC log says:

[code]

[2016-03-09 11:24] sahrens commented on #2140
Looks like this is an iOS-only problem, and only occurs with `multiline={false}` (which is the default).

I haven't touched iOS for a while - @nicklockwood, can you take a look?

[2016-03-09 11:24] sahrens commented on #2140
Sorry for the super slow response, this totally fell off my radar and most of the syled inputs we have been using are all multiline so we didn't notice internally.

[2016-03-09 11:43] detunized commented on #4184
I experience the same on Android. `response.statusText` in `fetch` callback is always `undefined`. `response.status` is correct though.

[2016-03-09 11:50] dmmiller commented on #5944
Do you have a consistent repro that you can share?  I've got a few reports of it, but nothing is consistent that I can really investigate why we don't have the event cookie.  If you have a consistent way to get it, I would love to know.

[2016-03-09 12:18] sethx commented on #2502
i _love_ resurrecting old issues. Any updates on this?

[2016-03-09 12:48] nihgwu commented on #5599
the same

[2016-03-09 12:50] bgrieder commented on #2502
@sethx I published definitions (with contributions from others) on DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/react-native

[2016-03-09 13:13] sulinixl commented on #6184
I'm really hurt by NavigationExperimental, Poor document, Too complex, Missing feature.
I have spend one week on this, maybe it's too early to merge it into master.

[2016-03-09 13:14] abhinavsingi commented on #5196
@pesterhazy Did you try with `"--max-old-space-size=8192"`?

[2016-03-09 13:38] shahchirag commented on #6282
I know this sort of feels like a hack, but currently that's the only way to fix it. I believe this would be fixed in the coming days.

[2016-03-09 13:44] donaldpipowitch commented on #5668
I don't know why this happened. I use 0.21 and you're right, I have "ulimit -n 2048", too.

[2016-03-09 13:59] bestander commented on #5668
And what message do you get when you run it?

[2016-03-09 14:01] sethx commented on #2502
Can you elaborate on the tooling chain for supporting TS is implemented?
Did you have to modify the packer? Some info is appreciated.

On Wed, Mar 9, 2016 at 1:51 PM Bruno Grieder <notifications@github.com>
wrote:

[2016-03-09 14:05] bgrieder commented on #2502
Please check https://github.com/bgrieder/RNTSExplorer
I have not updated it with the latest definition files and typescript version, but it should get you started.

[2016-03-09 14:11] pesterhazy commented on #5196
@abhinavsingi, I did, but it did not have any effect on the memory consumption -- it maxed out at 1.4G (verified using `htop`).

Actually when the packager runs, there are multiple node processes running. `max-old-space-size` only applies to the parent process, but the worker processes don't inherit the command line argument (you can see that using `ps`). The code uses https://nodejs.org/api/child

[2016-03-09 15:05] adampietrasiak opened #6378 "Is it possible to use icons inside Navigator?"
![image](https://cloud.githubusercontent.com/assets/7311462/13639359/aee45688-e610-11e5-9dfe-4df0d9697e76.png)

Is there any way to use icons inside Navigator component instead of plain text? If so - is it documented anywhere or do you know how to do it?

Also - as on attached image - some of the icons are navigating to different views and some are in kind of "toggles" that are highlighted when to

[2016-03-09 15:37] mkonicek commented on #6378
@facebook-github-bot stack-overflow

[2016-03-09 15:40] mkonicek commented on #6374
Hey @farwayer, mind sending a PR with a fix?

[2016-03-09 15:53] donaldpipowitch commented on #5668
I had `ulimit: open files: cannot modify limit: Operation not permitted` yesterday, but switched to a root user since then. I can't reproduce it now easily, sorry.

[2016-03-09 15:54] #4862 closed

[2016-03-09 15:55] #4861 closed

[2016-03-09 15:56] bestander commented on #5668
No worries.
I'll close the task.
This question would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug trac

[2016-03-09 15:56] #5668 closed

[2016-03-09 15:57] perryao opened #6380 "Error when trying to run UIExplorer on android"
I'm trying to run the UIExplore example app on android. Steps I've followed:
1. Cloned
2. `npm install`
3. `npm start` to start the package manager
4. `adb reverse tcp:8081 tcp:8081` because I'm running on device
5. `./gradlew :Examples:UIExplorer:android:app:installDebug`

As soon as the app launches, I get an error stating that an unknown module named invariant was required. It's definitely ther

[2016-03-09 15:58] xushvai commented on #3703
@qudao   :smile:

Thanks ！！！

[2016-03-09 16:07] charpeni commented on #6378
You can refer to https://github.com/react-native-simple-router-community/react-native-simple-router, it's documented with example.

[2016-03-09 16:12] mkonicek commented on #6378
Thanks @charpeni! I'll close this issue as the question has been answered.

[2016-03-09 16:18] mkonicek commented on #6378
@facebook-github-bot stack-overflow

[2016-03-09 16:20] #6378 closed

[2016-03-09 16:57] corbt commented on #6366
https://github.com/facebook/react-native/pull/6373 fixes `NetInfo.fetch` returning `undefined`.

[2016-03-09 17:15] besarthoxhaj commented on #5269
Got the same problem, do someone know why that happens?

[2016-03-09 18:03] gorjanz commented on #4560
Just tried to use CameraRoll as indicated here, with React Native v0.20:

http://facebook.github.io/react-native/releases/0.20/docs/cameraroll.html#content

and had problems on iOS, android is working as expected. The problem on iOS is that, although, in ```Build Settings / Header Search Paths``` there is an entry in the form of: ```$(SRCROOT)/../node_modules/react-native/React``` which is marked

[2016-03-09 18:06] ericvicenti commented on #6184
- My apologies for the sparse documentation. The work-in-progress is available here: https://github.com/ericvicenti/navigation-rfc/tree/master/Docs
  - Contributions would be very welcome!
- Is there some complexity that you would like to see removed, without sacrificing flexibility?
  - If so, file an issue and explain how we can simplify things
  - You may be interested in higher-level component

[2016-03-09 18:23] bomalley commented on #1846
I can't even get this to work on iOS.  I must be missing something in the source attribute now the URL is deprecated.

`<WebView source={require('./foobar.pdf')}/>`

That fails with _Unable to resolve module_.

Can anyone point me in the right direction?

[2016-03-09 18:49] kostandinangjellari opened #6383 "Rquiring unknown module <module> in RN 0.21.0, error when using .jsx instead of js."
After upgrading to react-native 0.21.0 and running the app **Rquiring unknown module <module> when using .jsx instead of js.** error message is shown.

When changing module extensions to .js it works ok.
Any idea ?

[2016-03-09 19:06] janicduplessis commented on #6383
.jsx entensions are not supported in RN, see this comment for the reasoning why. https://github.com/facebook/react-native/pull/5233#discussion_r49682279

[2016-03-09 19:06] crockpotveggies commented on #5378
Any luck on using Raven here? I'm not getting global crash reports at all :/

[2016-03-09 19:07] janicduplessis commented on #6383
@facebook-github-bot expected

[2016-03-09 19:07] crockpotveggies commented on #5378
Any luck on using Raven here? I'm not getting global crash reports at all :/ Raven is reporting errors that I explicitly attempt to catch, but anything that causes the app to crash & close is not reported. Do I need to add a global handler via `ErrorUtils`?

[2016-03-09 19:08] #6383 closed

[2016-03-09 19:14] janicduplessis commented on #6380
Can you try again with the current verson of master? I think there was a bad commit it was reverted here 9213d0411d6a906a915431fe2ad095fbfdfaa9c3

[2016-03-09 19:15] pianetarosso commented on #5196
@Bhullnatik how you succeed on android?

Could you share the command used?

Until now I built the apk using _./gradlew assembleRelease_ but it doesn't work anymore...

[2016-03-09 19:18] stereodenis commented on #4933
it's still not work on 0.22.0-rc :disappointed:

[2016-03-09 19:23] Bhullnatik commented on #5196
@pianetarosso I modified the command in `react.gradle` from
[code]
to
[code]

The paths might be relative to your system configuration.

[2016-03-09 19:35] pianetarosso commented on #5196
It worked!!! Thank you

[2016-03-09 19:56] adampietrasiak commented on #6378
Actualy you didn't response to the question - the answer is no? Component you've linked is not really popular and I'm not sure if it might be production ready.

[2016-03-09 19:58] kushal commented on #6225
I'm also seeing this on a fresh install and am unclear on what packages I could reinstall to fix this.

[2016-03-09 20:08] bradhanebury commented on #6225
Also seeing this after deleting entire node_modules directory and running npm install

[2016-03-09 20:10] kushal commented on #6225
It turned out I was seeing this error because I had a running packager for a different app already running. Closing that terminal session and running again fixed this. The clues were not seeing the packager start and an error that the application couldn't be found in the Xcode console. That said, it'd be great to get a better error message, especially since it purports to tell me why I'm seeing th

[2016-03-09 20:16] charpeni commented on #6378
[react-native-simple-router](https://github.com/react-native-simple-router-community/react-native-simple-router) is a simple implementation of `Navigator` component.

Do not judge by the number of stars, the repository has been created about 1 month ago. 649 downloads in the last month. It's based on https://github.com/t4t5/react-native-router, since t4t5 doesn't maintain it.

I would say it's pro

[2016-03-09 20:22] andresn opened #6384 "[Docs] Permalinks are undefined, or resolving to getting started page"
http://screencast.com/t/sus9HGNGxVrS

Heads up and adds resistance to adoption of RN.

[2016-03-09 20:42] verilogz opened #6386 "[iOS][Text] Text textAlign is being overriden by iPhone's default NSTextAlignmentNatural"
I am using RN 0.21 on Mac for iOS 8 & 9.

I am building an app that supports both RTL and LTR, and I have noticed that switching my phone language between RTL and LTR languages will override the following style attributes: textAlign, writingDirection, and flex.

Case 1: App should display English text, while the phone language is in Arabic, while <Text> component has the following style attributes

[2016-03-09 21:07] ncnlinh commented on #5000
Hi, @barbarosh did you find out a way to solve this?

[2016-03-09 21:08] eduardoboucas commented on #2570
I wonder if [the problem I'm having](http://stackoverflow.com/questions/35898461/images-flicker-when-creating-a-fade-between-two-images-in-react-native) is related to this issue. Is there any successful workaround?

Thanks!

[2016-03-09 21:42] jaredly commented on #6303
ok so my initial attempt was unsuccessful (pretty much doing what I outlined above), and we've decided not to invest in RN yet, so it's unlikely I'll dig into this further in the near future

[2016-03-09 22:22] niftylettuce commented on #4723
Please reopen

[2016-03-09 22:23] niftylettuce commented on #4723
For temporary solution (manual way) see <http://stackoverflow.com/a/34213517>:

[2016-03-09 22:24] bobzoller opened #6387 "b"
Hey there and thank you for using React Native!

React Native, as you've probably heard, is getting really popular and truth is we're getting a bit overwhelmed by the activity surrounding it. There are just too many issues for us to manage properly.

Do the checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes a

[2016-03-09 22:24] #6387 closed

[2016-03-09 22:24] gnestor commented on #4968
For those of you who encountered this error after upgrading to 0.21.0 or 0.22.0-rc, you will notice when you run `react-native upgrade` that react is now a peer dependency of react-native, therefore you must install react yourself. `npm install react --save` solved the "Unable to resolve module LinkedStateMixin" error for me.

[2016-03-09 22:28] niftylettuce commented on #4723
Another approach that might work, and might be easiest, perhaps we should document it, is to navigate through GitHub to the tag/release you want to use for React Native version.  Then install the CLI for that version specifically, e.g. for RN 0.17, you'd install `npm install -g react-native-cli@0.1.7` per <https://github.com/facebook/react-native/blob/0.17-stable/react-native-cli/package.json>.  A

[2016-03-09 22:29] niftylettuce commented on #4723
Actually that doesn't seem to work, it installs the latest RN version, scratch my previous comment :facepunch:

[2016-03-09 22:35] cosmith commented on #6384
Thanks for the bug report! Do you have any idea where it comes from? Do you think you could maybe send a pull request to fix it?

@facebook-github-bot label Documentation

[2016-03-09 22:35] udfalkso commented on #1360
@nparsons08 Stop that.

[2016-03-09 22:37] cosmith commented on #6384
@facebook-github-bot label Documentation

[2016-03-09 22:38] cosmith commented on #1968
I think gifs work fine now. Trying the bot :wink:

[2016-03-09 22:38] cosmith commented on #1968
@facebook-github-bot close

[2016-03-09 22:40] #3633 closed

[2016-03-09 22:40] #3776 closed

[2016-03-09 22:42] niftylettuce commented on #4723
My next best solution is to `git clone` this repository, then checkout to the branch `git checkout 0.17-stable`, then `cd react-native-cli`, edit the `index.js` to explicitly say `install react-native@0.17` (for all occurrences) and then `npm install` from inside that folder, and then run `./index.js init MyProject`, and then `mv MyProject ~/elsewhere`.

[2016-03-09 22:46] cosmith commented on #2975
@facebook-github-bot stack-overflow

[2016-03-09 22:47] #2975 closed

[2016-03-09 22:49] cosmith commented on #3194
@facebook-github-bot close

[2016-03-09 22:49] #3194 closed

[2016-03-09 22:49] cosmith commented on #3263
@facebook-github-bot close

[2016-03-09 22:50] #3263 closed

[2016-03-09 22:50] cosmith commented on #3244
@facebook-github-bot close

[2016-03-09 22:51] cosmith commented on #3407
@facebook-github-bot label Documentation

[2016-03-09 22:51] #3244 closed

[2016-03-09 22:55] kostandinang opened #6390 "RN 0.21.0 Unable to connect with remote debugger."
After upgrading to RN 0.21.0 I encounter the following error:

[code]

npm module version: **0.21**

When switching back to 0.20 it works ok, Any idea ?

[2016-03-09 22:55] cosmith commented on #3799
@facebook-github-bot stack-overflow

[2016-03-09 22:56] #3799 closed

[2016-03-09 23:02] cosmith commented on #6292
@facebook-github-bot label For Discussion

[2016-03-09 23:20] adampietrasiak opened #6391 "Require file dynamically by variable"
I want to require files like:

`var component = require("myApp/components/" + name);`

Seems like require wants passed string to be static, not dependent on any runtime actions.

[code]

Is there any way to require files by dynamic string?

[Here](http://stackoverflow.com/questions/29168433/es6-variable-import-name-in-node-js) is similar question, but based on node.js

[2016-03-09 23:30] farwayer commented on #6374
Hmmm... You convinced me :) I like react native and I am happy to make it better. And I noticed that the problem with nav and actions icons also.

[2016-03-09 23:36] rxb commented on #6391
Based on how the packager works, this isn't really possible with require.
Packaging happens once before runtime so those variables don't have values yet.

You can do something like this though:
[code]

[2016-03-09 23:42] adampietrasiak commented on #6391
No way to do it any different way, I just hate doing this that way and repeating paths like that!

[2016-03-09 23:51] rxb commented on #6391
You could also create a single file that just serves to require all of the needed components into an object and then exports that object. Then all you need to do is require that single file.

var assortedComponents = require("myApp/components/assortedComponents");
var myComponent = assortedComponents["myComponent"];

[2016-03-09 23:57] adampietrasiak commented on #6391
Thanks @rxb, I know I can collect my components in many ways. I appreciate your help, but I'd like to know if there is any way to require file with dynamic string path or require all files in dir without knowing what are they.

[2016-03-10 00:01] ipsy-eric commented on #1880
:+1: The documentation literally says "See ListViewDataSource" lol

[2016-03-10 00:11] ide commented on #6391
This is not possible -- you should generate a massive switch-case statement that looks like this:
[code]

[2016-03-10 00:17] adampietrasiak commented on #6391
I'll cry when I'll commit it to my code.

[2016-03-10 00:21] bestander commented on #6303
No worries, we'll do it eventually.
Would you mind giving feedback why you have decided to not proceed with RN right now?
Any particular pain or aspect you think we should address?

[2016-03-10 00:47] jaredly commented on #6303
mostly immaturity of android, and to a lesser extent iOS. We have large apps that we're thinking of integrating react native into incrementally, which definitely isn't a well-documented use case. we're planning on doing further investigation in a few months and might have a different decision depending on how things have matured.

[2016-03-10 01:26] chenxiaohu opened #6393 "onNavigationStateChange of WebView on android get url with about:blank when use hash"
click link "help"

on Android is wrong get blow (also call two times... with wrong url):
[code]

on IOS result is OK, get blow:
[code]

Test code:

[code]

[2016-03-10 02:08] coolicer opened #6394 "Error when debugging on chrome"
![qq20160309-0 2x](https://cloud.githubusercontent.com/assets/811078/13657265/dc0c1c02-e6a8-11e5-9212-a228748c44d6.png)
![qq20160310-0 2x](https://cloud.githubusercontent.com/assets/811078/13657266/dc0f64ac-e6a8-11e5-9ab1-b54c9604a486.png)

[2016-03-10 02:36] loic-sharma commented on #3032
@ak114 How's it going? Need any help?

[2016-03-10 03:48] nowaits opened #6397 "Uncaught Error: Requiring module "NativeModules" which threw an exception"
on Mac EI Captian React Native 0.22-stable

_**

ExceptionsManager.js:76Error: Requiring unknown module "ReactPerf", stack:
Error: Requiring unknown module "ReactPerf"
at requireImpl (require.js:53)
at _require (require.js:31)
at ReactPerf (Systrace.js:35)
at Object.Systrace.setEnabled (Systrace.js:51)
at Systrace.js:203
at requireImpl (require.js:71)
at _require (require.js:31)
at MessageQueue.js

[2016-03-10 03:49] zaihuishou commented on #3199
@oren It is work for me ,Thanks!

[2016-03-10 06:16] mihir-harbinger commented on #6386
How about using alignSelf: ["center", "flex-start", "flex-end"]?

[2016-03-10 07:36] plrthink commented on #6225
any updates? still have this issue.

[2016-03-10 07:57] skv-headless commented on #6127
Actually I can work on this. So I just need approval

[2016-03-10 08:57] Kureev commented on #6390
Looks like a regression, @mkonicek

[2016-03-10 09:04] Kureev commented on #6394
Close all debug chrome tabs, restart packager and the error should go.
From what I see, you have a problem with running a debugger for you app on emulator. First error tells you pretty much what you need to do, the second one tells you that there is a DNS resolution failure(see [this](http://stackoverflow.com/questions/2897610/receiving-error-domain-kcferrordomaincfnetwork-code-2-when-attempting-t

[2016-03-10 09:05] Kureev commented on #6394
^ this moment, when you don't have a permission to use a github-bot

[2016-03-10 09:06] Kureev commented on #6394
@facebook-github-bot stack-overflow

[2016-03-10 09:36] bski006 commented on #5467
npm ddp fixed the issue for me

[2016-03-10 09:49] Xwoder commented on #5839
I also met the problem.

This is my code:
[code]

[code]

[2016-03-10 10:15] daemonchen commented on #6227
### some times when launch app, this issue occur:

![Module RCTNativeAppEventEmitter is not a registered callable module](https://raw.githubusercontent.com/daemonchen/images-for-issues/master/issue/nzaom-ios/crash_screen_1.png)

### the xcode console is:

![crash console](https://github.com/daemonchen/images-for-issues/raw/master/issue/nzaom-ios/crash_screen.jpg)

[2016-03-10 10:19] daesan opened #6401 "Image Zooming Animation with onScroll Event"
I am trying to achieve Twitter Profile Page's Image Zooming (and Blurring) effect when the scroll view is pulled downward.

My current approach is to update _Animated.Value_ in _onScroll_ event callback to drive the zooming animation of the image at the top of _ScrollView_. The issue I am having with this approach is that the animation is quite flaky.

Does anybody have an idea to tackle this part

[2016-03-10 10:19] cosmith commented on #5996
You shouldn't have to use DeviceInfo to get screen width, use `Dimensions` instead, like this:

[code]

[2016-03-10 10:20] cosmith commented on #5996
@facebook-github-bot answered

[2016-03-10 10:21] #5996 closed

[2016-03-10 10:38] plrthink commented on #6225
finally I solve this problem. my issue is not have ref to main.jsbundle in xcode project.;)

[2016-03-10 11:01] Kureev commented on #6394
@facebook-github-bot shack-overflow

[2016-03-10 11:03] Kureev commented on #6394
@facebook-github-bot stack-overflow

[2016-03-10 11:03] #6394 closed

[2016-03-10 11:10] wtfil commented on #5668
Hi!
I faced with the same problem. For some reason, my machine allows me to call `ulimit` only for 1024 without root access, so [this](https://github.com/facebook/react-native/blob/0.21-stable/local-cli/setup_env.sh#L9) limitation does not work for me.
I found the fix which could be useful for others with same problem. All you need is to all following lines into you `.profile` file

[code]

This w

[2016-03-10 11:30] verilogz commented on #6386
@mihir-harbinger  Using alignSelf makes the text overflow.

Here is a sample code
https://rnplay.org/apps/MVXW2A

If you run the code in the rnplay link on iPhone device/simulator with the app's language set to English, you get this:

![english_phone_lang](https://cloud.githubusercontent.com/assets/4957895/13668211/a548e69c-e6bb-11e5-81bc-a9af1ff975ae.png)

and if you run the same app while the ph

[2016-03-10 12:26] AntonNiklasson opened #6402 "[Android] Entering a dev server IP containing a space crashes the app"
I accidentally entered an IP including a space in the dev settings of my react native application.

The app crashehs on a reload, and when I try to restart it instantly crashes. The only thing I've found that helps is a reinstallation.

I haven't tried this on iOS yet.

[2016-03-10 12:53] mkonicek commented on #6378
@facebook-github-bot stack-overflow

[2016-03-10 13:00] mkonicek commented on #6378
We use the GitHub issue for bugs only.

[2016-03-10 13:02] jelsabird commented on #2033
I got this error when I experimentet with extended stylesheet in my app. I installed and required react-native-extended-stylesheet successfully. When I used EStyleSheet.create instead of StyleSheet.create, the function wasn't recognized. So I tried changing it back to StyleSheet.create, still having variables like $margin inside the style sheet. That's when I got Object.freeze can only be called o

[2016-03-10 13:25] odino commented on #4933
+1

[2016-03-10 13:44] erdinc commented on #6227
@daemonchen did you add the line `require('RCTNativeAppEventEmitter')` and still getting error? I wonder because I added that line to my ios.js and thought its okay for now.

[2016-03-10 13:46] ceichinger commented on #5934
@apalmblad thanks! fixed it for me :)
(used scrollRenderAheadDistance in my case)

[2016-03-10 14:30] thomasrose commented on #5839
Seeing the same problem here, also passing a refreshing prop via redux. Interestingly it only seems to happen only every second time the dataSource changes, the other times it is okay, but that may just be my setup. Android is fine

[2016-03-10 14:31] astuetz commented on #6152
@Traviskn It's fixed in 0.22.0-rc already :)

[2016-03-10 14:46] epooren commented on #6264
![image](https://cloud.githubusercontent.com/assets/5410503/13672465/e4092af0-e70f-11e5-8066-aaa819b04214.png)

because of `requireNativeComponent`,  the `RCTDatePickerIOS` will be verify props base on the `DatePickerIOS.propTypes`.

 but using `RCTDatePickerIOS` in the `DatePickerIOS#render()` was wrong, the `date` is number, undefined the `onChange`

[2016-03-10 14:50] ajwhite commented on #6264
Good discovery @epooren - that makes a lot of sense.

[2016-03-10 15:06] yimiaodaren opened #6404 "scrolllview' contentInset does't work when first loaded."
<ScrollView
        contentInset={{top: -400, left: 0, bottom: 0, right: 0}}
        style={styles.scrollview}
        contentContainerStyle={styles.contentContainer}
	   refreshControl={
	     <RefreshControl
	            refreshing={this.state.isRefreshing}
	            onRefresh={ () => this.onRefresh() }
	     />
         }>
        {this.state.testData}
     </ScrollView>
    .....
    var st

[2016-03-10 15:17] epooren commented on #6264
![image](https://cloud.githubusercontent.com/assets/5410503/13673888/17e2de1a-e716-11e5-8ac6-d38b379e45d9.png)

i fixed it at my branch

[2016-03-10 15:31] astuetz commented on #6152
@knowbody I think the fix for this Android-specific bug should be included in the 0.22.0-rc release notes as well. (Although the [commit message](https://github.com/facebook/react-native/commit/36400807ab968f9e48aee2292545147e74462caf) doesn't really sound like a major bugfix)

[2016-03-10 15:35] ajwhite commented on #6264
Would you mind opening a Pull Request with your changes? It'd be great to introduce a solution to this!

[2016-03-10 15:50] knowbody commented on #6152
@astuetz done

[2016-03-10 15:51] lucasfeliciano opened #6405 "Webview on android doesn't load embed youtube url"
[code]

If instead of using `source={{uri: youtubeUrl}}` use `source={{html: iframeHtml}}` it works.
But i don't want to use an iframe since I can't have access to the html inside of the iframe.

On iOS works fine. Is that a bug or a normal behaviour for android?

edit: Might be related to this:

- set a WebChromeClient to your WebView

    		web.setWebChromeClient(new WebChromeClient());

- and t

[2016-03-10 15:55] bestander commented on #6303
:+1:
Thanks, this gives some very important feedback.

[2016-03-10 16:00] chirag04 commented on #4559
I just encountered this today. Will look into this later today.

[2016-03-10 16:05] nicklockwood commented on #1968
We've not changed the GIF implementation, so I doubt this situation has improved. Small GIFs work fine (as they always have), large GIFs will probably still cause an OOM.

[2016-03-10 16:41] prashanth1509 commented on #4968
Tried removing fbjs and react at deeper levels and installed them only at top level, but that din't fix the issue. On Upgrading to Node 5.0 and npm 3.3.6 worked for me.

[2016-03-10 16:42] janicduplessis commented on #5839
Could someone provide a code sample or a link to rnplay that reproduce the bug so I can look into it?

[2016-03-10 17:02] niftylettuce commented on #167
@brentvatne @ide Could either of you give code example or perhaps implement the fix for Pomodoro app to make it work 100% proper?

[2016-03-10 17:42] adampietrasiak opened #6408 "Is it good practice to import components globally?"
I use some components (Text, Image etc) in a lot of components of my app and to avoid importing it in every file I've made something like this:

[code]

It works great, but I wonder if it's good approach. Does it have any impact on performance or might cause some potential issues?

Thank you.

[2016-03-10 17:48] npomfret commented on #5934
Using
`
renderScrollComponent={(props) => <RecyclerViewBackedScrollView {...props}/>}
`

On a static (never changing) list results in nothing being displayed at all in android!

[2016-03-10 17:49] niftylettuce commented on #1282
@jaygarcia Hey - do you have code sample of how you achieved this?  When phone off / screen locked - you hit a button and then RN code works while in background?

[2016-03-10 17:51] niftylettuce commented on #1282
@joshblour how would we rewrite that for Android per <https://github.com/facebook/react-native/issues/1282#issuecomment-189201873>?

[2016-03-10 17:51] esauter5 opened #6409 "[Android] Failed to initialize bridge"
I opened the Android emulator for the first time in a couple of weeks yesterday and received this error:

![screen shot 2016-03-10 at 12 00 51 pm](https://cloud.githubusercontent.com/assets/1442232/13677438/04ea1f02-e6b8-11e5-95f5-c9129b50f2e7.png)

I've been able to reproduce on RN 0.19.0, 0.21.0, and 0.22.0rc1. This issue is not present on iOS. Using a Mac.

I am able to run my app successfully

[2016-03-10 18:01] frantic commented on #6291
On Android there is a wonderful tool called `adb reverse` that forwards TCP ports from device to the computer. They don't have this problem because all connections to `localhost:8081` are tunneled (for emulator via virtual ethernet, for the physical devices over the wire). I have a prototype of a tool that works the same for iOS, I'll put up a PR soon.

[2016-03-10 18:34] frantic commented on #6348
This sounds good to me. We already have an "integration" script inside generated Xcode project called `packager/react-native-xcode.sh`, I guess we could use that to start the packager.

![image](https://cloud.githubusercontent.com/assets/192222/13680023/8c20f584-e6ab-11e5-8e49-9ba6cab1afa9.png)

[2016-03-10 19:07] guyca opened #6410 "Is sharing ReactInstanceManager across multiple activities broken?"
I'm trying to share a ReactInstanceManager singleton across multiple activities. I've wired my ReactInstanceManager instance the my activities life cycle methods, so when `ReactActivity.onDestroy` is called, the `mReactInstanceManager` also gets destroyed and then `mCurrentReactContext` is set to null.

When opening a new activity and instanciating react views with the singelton manager everything

[2016-03-10 19:15] bomalley commented on #1846
Okay, for future generations, here's how I solved this problem:

**iOS only**

    render: function() {
      return <WebView source={{uri: 'My.pdf'}}/>
    }

The trick is that you need to include `My.pdf` into your project in Xcode and make sure it's added to your build target.

Just copying it into your React Native project folder wasn't enough. It had to be part of the Xcode project itself.

[2016-03-10 20:04] astuetz commented on #6152
@knowbody thanks! :)

[2016-03-10 20:55] ide commented on #5467
This should be fixed in 0.22-rc.

[2016-03-10 20:55] #5467 closed

[2016-03-10 21:20] adampietrasiak commented on #6184
Are you able to tell anything about when to expect it to be "less experimental"? I'm starting new project, I have a lot of pain understanding current Navigator or finding some good docs about it and I'm not sure what to do now.

[2016-03-10 21:26] grabbou commented on #6278
Also, same for height: 0 to height: 40 animation on Android, works normally on iOS. See http://stackoverflow.com/questions/35926051/why-does-rn-animated-timing-tovalue-of-0-not-animate for reference.

[2016-03-10 21:27] 9mm commented on #6278
Have you found any workarounds? Setting it to `0.01` is the only thing I can find.

[2016-03-10 21:44] #1509 closed

[2016-03-10 22:24] ignu commented on #4968
set aside a night to work on react-native, and i spent almost two hours trying all these solutions and not getting anywhere last night.

[2016-03-10 22:49] ericvicenti commented on #6184
NavigationExperimental is the supported option going forward. We will remove the 'experimental' name once the API changes have died down and we've adopted it in Facebook apps.

[2016-03-10 22:57] bomalley commented on #1846
@nicklockwood The require syntax did not work for me.  It worked if I wanted to load an html file, but replace `.html` with `.pdf` and it fails.

[2016-03-10 23:33] adampietrasiak commented on #6184
If I'd start using it now, are you able to tell how big potential api changes could be? Could it be something that will require big effort to fit into potential new one?

[2016-03-10 23:58] ericvicenti commented on #6184
The API changes will be tiny in comparison to the difference between Navigator and NavigationExperimental.

For example, the reducer API may change or get more advanced, but your views would remain unaffected

[2016-03-11 00:23] KioKrofovitch opened #6413 "Android emulator loses connection to debugger and becomes unresponsive"
To reproduce:
- Fire up a Genymotion emulator
- `react-native run-android` on your project
- Attach chrome debugger
- Put an error in javascript, for example `returns` instead of `return`
- Refresh your emulator (Cmd M, Reload)
- Fix the error in your code
- Refresh your emulator (Cmd M, Reload) again
- Emulator will display dialog that says "Please wait.. connecting to remote debugger"
- There is

[2016-03-11 01:22] sandect commented on #3705
@astreet
I got the same issue,  the same code worked on IOS platform, but broken down on Android, after replacing the \u2028, worked.

[2016-03-11 01:30] daemonchen commented on #6227
@erdinc I import `NativeAppEventEmitter` like this:
[code]

and this issue can't reproduce each time, it appear occasionally.

[2016-03-11 01:57] springuper commented on #1424
I'm writing a react-native-thrift lib, but find out that binary protocol can't be sent over xhr, Typed Arrays will make it work as [MDN](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Sending_and_Receiving_Binary_Data) says, can you continue to work for this feature?

[2016-03-11 02:32] greghe commented on #6408
You're free to do as you like of course, but creating any sort of global is discouraged by nearly every textbook on programming. In this case you are effectively exporting the names, `Text` and `Image` from the `React` namespace into the global namespace where they could (however unlikely) conflict with other global names, either now or in the future. You've also "elevated" these names, rather arb

[2016-03-11 03:04] aboutqx commented on #6331
Seems there is another problem when change scene in UIExplorer with this PR.

[2016-03-11 03:32] holmesal commented on #2023
Is this working for anyone? I'm still having the issue described above, where measuring a ListView cell  returns `0` for `x` and `y`.

[2016-03-11 03:49] Creemli opened #6414 "[IOS] Add Customer resource folder for assets image"
when I try to add another assets image folder, I found the path is not correct:
First, we run the command :
<code>react-native bundle --assets-dest ./ReactRes --entry-file ./index.ios.js --bundle-output ios.jsbundle --platform ios --dev true --minify false</code>
it will create a folder ReactRes and put directory assets into this folder.
And the images will not displayed.

When I try to debug this

[2016-03-11 03:54] rlau1115 commented on #5392
Hi Leland, thanks for this and your great work on Enzyme.

Can you elaborate on: "I was able to run this file on startup which got it done:"?

I'm currently trying to setup mocha as well, but also having an issue with babel and node modules.

[2016-03-11 04:13] rlau1115 commented on #5392
Looks like this code is actually running as intended based on my previous post, but gets stuck on external node modules. The error I'm getting:

[code]

[2016-03-11 06:06] skv-headless commented on #6384
Fixed on master and 22rc. http://facebook.github.io/react-native/releases/0.22/docs/getting-started.html#requirements feel free to close

[2016-03-11 06:13] L-Jovi commented on #1981
I'm not sure why can't below code work correctly :(

    this.props.navigator.immediatelyResetRouteStack(this.props.navigator.getCurrentRoutes().splice(-1,1));

then I try another way which execute normally.

    this.props.navigator.immediatelyResetRouteStack(this.props.navigator.getCurrentRoutes().slice(0, -1));

hope make sense.

regards.

[2016-03-11 06:17] agiron123 commented on #6300
Is this issue still open? I see that the referenced issue is closed.
Anyways, I'm a first time contributor that would love to help out. Is there anything that I should keep in mind while I familiarize myself with the code base and begin to put together a PR with associated unit tests?

[2016-03-11 06:29] ide commented on #6300
@agiron123 Hi, this issue is still open and thanks for offering to help. To answer your question, I would say the main thing to keep in mind is balancing the cost of maintaining the code with how valuable a feature is to everyone using React Native. For this issue specifically, I don't think that will be an issue -- a clearer error message in this case should be simple and strictly better than wha

[2016-03-11 06:59] #6397 closed

[2016-03-11 06:59] #5950 closed

[2016-03-11 06:59] #5660 closed

[2016-03-11 07:00] #5576 closed

[2016-03-11 07:00] #5375 closed

[2016-03-11 07:15] nicole1314 opened #6415 "Touchableopacity not clickable after integrating to existing iOS project"
I have an ios project and I use offline bundle to integrate a react native app into my main project. I have a scorllview inside a view with a touchableopacity outside the scrollview. It works perfectly fine by itself. But after I integrate to my main app, the touchableopacity is not clickable. I tried putting the touchableopacity inside each slide it works. Please advice how to fix it. Thanks a lo

[2016-03-11 07:32] h3l commented on #5487
@timjacobi have you get the right ipa?
I always get a previous ipa

[2016-03-11 08:23] akupila commented on #6184
I think adding NavigatorExperimental docs to the official docs would help with some of the pains here. The reason i opened the issue in the first place is very similar to @adampietrasiak, starting a new project and not really knowing where to start with navigation. If the code is part of the main repo, doesn't it make sense to keep the docs in the main repo too, instead of [https://github.com/eric

[2016-03-11 09:14] lu-ko commented on #854
@experimentsin +1 It's exactly my case. I'm looking forward for some solution that could be simply used.

[2016-03-11 09:18] cosmith commented on #6384
Thanks!

[2016-03-11 09:18] cosmith commented on #6384
@facebook-github-bot close

[2016-03-11 09:19] #6384 closed

[2016-03-11 09:27] cosmith commented on #1968
@facebook-github-bot reopen

[2016-03-11 09:29] cosmith commented on #6408
Hi @adampietrasiak, this type of questions is better suited for Stack Overflow. We try to keep only bug reports in here :)

[2016-03-11 09:29] cosmith commented on #6408
@facebook-github-bot stack-overflow

[2016-03-11 09:29] #6408 closed

[2016-03-11 09:59] jcsjohnson commented on #304
I am getting this error on only one of my projects. I loaded the project on to my phone yesterday and today I am getting the error for only this one project. My other projects do not get this error. The odd thing is that the power went out last night and my computer restarted while the project in question was running. Has anyone heard of anything like this happening?

React-native - 0.21.0
NPM 3.8

[2016-03-11 10:02] kfll commented on #6174
In your project, try adding `android:windowSoftInputMode="adjustPan"` to `MainActivity` in `AndroidManifest.xml`.

Works for me.

My `git diff` finally looks like this:

[code]

[2016-03-11 10:04] furyFTW commented on #3865
change color for text and icon, work for me
`

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:textColorSecondary">@android:color/white</item>
        <item name="android:actionMenuTextColor">@android:color/white</item>
    </style>
`

[2016-03-11 10:10] corbt commented on #6415
@facebook-github-bot stack-overflow

[2016-03-11 10:10] #6415 closed

[2016-03-11 10:11] corbt commented on #6415
I recommend creating a simple test case that reproduces your issue, preferably on [RNPlay](https://rnplay.org/). Then post your question on Stack Overflow, where you'll likely get a solution quickly!

[2016-03-11 10:20] nicklockwood commented on #6401
How are you implementing the blur effect?

[2016-03-11 10:22] nicklockwood commented on #6401
The zoom effect can be achieved by just setting the image's resizeMode to 'cover', then it will zoom automatically when the container is resized. That should be pretty smooth. There's no way to implement the blur without a custom native component though (unless there's already a 3rd party component to do this).

[2016-03-11 10:24] springuper commented on #1424
#6327

[2016-03-11 10:55] #6171 closed

[2016-03-11 11:04] yoniholmes commented on #1884
Hi @artyomtrityak, did you have any success working around this problem? I'm working on an app for an internal team that relies on accessing webviews, and until the underlying certificate issue can be resolved this problem effectively prevents the app from working as intended. Any tips or work arounds welcome! Cheers, Jonathan

[2016-03-11 13:38] JohnyDays commented on #4075
This is supported in webpack, and AFAIK used widely. I use it in all my projects and it greatly simplifies refactoring by not relying on relative folder structure.

[2016-03-11 13:45] oblador commented on #1968
@nicklockwood: Would you accept a PR using FLAnimatedImage?

[2016-03-11 13:56] Raz0rwire commented on #6149
I did find this:

Here: http://developer.android.com/guide/topics/ui/dialogs.html#CustomLayout but I'm not sure how to go about fixing it.. @christopherdro

[2016-03-11 13:59] lu-ko commented on #586
+1 for shouldOverrideUrlLoading on Android

[2016-03-11 14:26] danhawkes commented on #6149
@Raz0rwire In native android the default behaviour is as you describe, but setting the font family works to override the default. What seems to be happening here is that the override is not being applied.

[2016-03-11 15:00] christopherdro commented on #5710
Duplicate #6149

[2016-03-11 15:00] #5710 closed

[2016-03-11 15:22] daesan commented on #6401
Thanks for the tip!

I did go on to implement a custom native ScrollView component to use "scrollViewDidScroll:" method to drive the zooming animation and I am quite happy with the result. I will try what you suggested and report back how both methods fare. It will be awesome if similar performance can be achieved without using native method!

For the blur effect, I first tried to wrap _UIVisualEf

[2016-03-11 15:24] christopherdro commented on #6149
Related: https://github.com/facebook/react-native/issues/4435

[2016-03-11 16:00] masom commented on #6174
The demo code seems to be fixed by using `adjustPan` although the app exhibiting the behaviour still has the bug.

`adjustPan` still seem to have a bug: When going to another app and coming back, the keyboard disappears and the app text input glitches to the bottom of the screen. Tapping it brings it up again.

[2016-03-11 16:07] #6374 closed

[2016-03-11 16:20] nsainaney commented on #854
@nicklockwood, @experimentsin got it. The image server I'm dealing with requires an auth token in the header.

[2016-03-11 16:25] marcshilling commented on #6282
I don't know why those lines exist...you should absolutely have the option of running the bundled code on the simulator.

[2016-03-11 16:33] MaximLeonov commented on #6028
Changing TouchableHighlight to TouchableOpacity fixed this issue for Image component. But for Animated.Image issue still appears while changing height property of image.

[2016-03-11 16:34] taypo commented on #6390
I can confirm this issue. I'm on windows + android device over wifi, debugging broke after upgrading to 0.21. Downgrading to 0.20 works.

[2016-03-11 17:03] ranjitpandit commented on #952
Hi, I'm running into this issue with v0.21. Is it fixed on a specific version and if so which one would it be?

[2016-03-11 17:15] tsolyanVolusion commented on #4968
what a mess!!!!

[2016-03-11 17:55] zapbang commented on #6405
I too am struggling with getting a youtube video playing in React Native.

[2016-03-11 18:12] mchev2 opened #6418 "Fetch response.json() seems slower than response.text()"
Just wanted to document this performance issue (incase it really exists).

[code]

[2016-03-11 18:17] joshuapinter commented on #1543
FYI, my buddy [EKryski](https://github.com/ekryski) and I were hanging out and he mentioned that NPM has a weird behaviour when the major version is 0.

Basically, when the major version of a package is 0, like React Native is (currently `0.21.0`), then the caret won't do what it typically does when a package's major version is >= 1. It simply ignores the caret and only cares about the specific ve

[2016-03-11 18:50] urquilla commented on #3572
+111

[2016-03-11 18:52] daesan commented on #6401
I did try the method you suggested. While utilizing image's resizeMode makes the animation a lot smoother than zooming manually in JS, the lagging/jiggling is quite noticeable, especially when you pull down the scrollview and let go. For the zooming part, I think I will stick with custom scrollview approach.

For the blurring effect, I implemented custom native image view component and am using al

[2016-03-11 19:10] lwansbrough commented on #3865
@furyFTW Yes, a static solution was offered in November, which is identical to what you posted. I'm suggesting that there should be a way to change this using JS in React.

[2016-03-11 19:36] satya164 commented on #6418
@mchev2 Can you do some profiling and post the results?

[2016-03-11 20:04] bestander commented on #6366
https://github.com/facebook/react-native/pull/6260 node haste

[2016-03-11 20:04] #6087 closed

[2016-03-11 20:08] bestander commented on #854
@nicklockwood in browsers this problem is solved with [URL.createObjectURL()](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL).
Developers are supposed to call `URL.revokeObjectURL()` manually when the binary data in the native memory is no more needed.
It is logical to repeat the same approach in RN.

[2016-03-11 20:17] urquilla commented on #3572
Ok I made some tests, I expected to need some explicit configuration to enable gzipping, which I didn't found documented. But observing the traffic I note Accept-Encoding: gzip was sent without any special configuration.

The response came gzipped and was decoded and parsed correctly.
So it's working ok for me.

This on react native v0.18.0

[code]

[2016-03-11 20:28] guyca commented on #6410
@AndrewJack My activities extend ReactActivity, as intended, in this case you can't really prevent the call to `ReactActivity.onDestroy()`.

Seems like this issue was introduced when [Add a base activity for React Native apps](https://github.com/facebook/react-native/pull/4827) was merged.

[2016-03-11 21:09] IanVS opened #6422 "Embedded Android Docs Outdated"
It seems like there were some major changes to lifecycle methods, as evidenced in https://github.com/facebook/react-native/commit/ad17a2f2908f430b05fd2836d3f08873988bce10 (I can't find the actual changes yet).

Judging by this commit, the [Integrating with Existing Apps](https://github.com/facebook/react-native/blob/v0.22.0-rc/docs/EmbeddedAppAndroid.md) docs seem out of date.

[2016-03-11 22:54] janicduplessis commented on #6331
I think the PR was based on a bad version of master, I rebased it and got merged so Windows support should work properly on master now. Feel free to reopen if im wrong :)

[2016-03-11 22:54] janicduplessis commented on #6331
@facebook-github-bot close

[2016-03-11 22:55] #6331 closed

[2016-03-12 00:48] aleclarson commented on #5712
I think this behavior is coming from `requestAnimationFrame`. Not 100% sure though.

[2016-03-12 00:49] ide commented on #5712
Is this when you type requestAnimationFrame into the Chrome REPL (expected that this doesn't work -- it runs on a different event loop), or when you have requestAnimationFrame in your app's code?

[2016-03-12 00:51] aleclarson commented on #5712
@ide In my experience, it's when I call a function that sets an `AnimatedValue`. And since that API uses `requestAnimationFrame`, that must be where it's getting hung up.

[2016-03-12 00:52] joshuapinter commented on #6225
I'm getting this issue and removing `node_modules` directory and running `npm install` doesn't do the trick.

[2016-03-12 00:57] Nagle commented on #685
👍🏻

[2016-03-12 02:21] andresn commented on #6384
Awesome, thanks!

[2016-03-12 02:29] ltyhome opened #6425 "ReferenceError:Can't find variable: _fbBatchedBridge"
Hi ~
 When I build this project used my phone(HTC820us-AndroidOS4.4.4) in my macbook,Although though the project it works but produce a runtime exception.
 java.util.concurrent.ExecutionException:java.lang.RuntimeException:ReferenceError:
       Can't find variable:_fbBatcheBridge(<unknown file>:1)
screenshots
https://s-media-cache-ak0.pinimg.com/originals/9b/f1/63/9bf163a170b41ca5550acd1319b588ac

[2016-03-12 02:48] ide opened #6426 "[CLI] Make `react-native upgrade` prompt to delete `node_modules`"
A big source of problems comes from the fact that `node_modules` gets into inconsistent states depending on how you installed the packages and I believe this leads to issues with people getting the wrong JS after an upgrade (e.g., mismatched number of arguments for bridged method class, `__fbBatchedBridge` errors).

We probably want to support unattended upgrades as well so here are a couple ideas

[2016-03-12 03:46] aleclarson commented on #5712
@ide It's also happening with `onLayout` callbacks. Touching the screen seems to flush the Chrome event loop?

[2016-03-12 04:29] nicole1314 commented on #6415
I figured it out myself. Please mark it as closed.

[2016-03-12 04:43] ide commented on #5712
Touching the screen will run the React Native event loop. What's happening, roughly, is that when you execute code from the REPL, you're not inside of the React Native event loop. The native side of the bridge isn't in a call stack that receives commands from JS and processes them.

Last I looked into this about a year ago, there's no easy way to hook into the Chrome REPL (maybe an extension?) so

[2016-03-12 04:58] aleclarson commented on #5712
Does that mean native is "responsible" for any UI jitter while `Debug in Chrome` is enabled? Or are there side effects to the JS thread too?

Could we "prevent" the event loop from sleeping when `Debug in Chrome` is enabled?

[2016-03-12 05:27] ide commented on #5712
It depends on the type of jitter. For something like Animated, which computes each frame in real time on the JS thread and sends it from JS to native (over the WebSocket connection in the Chrome debugger's case), it's probably due to the JS thread not being able to send frames consistently at 60fps to the native side. The cause of that could be slow JS (ex: a heavy JSON.parse in the middle of an a

[2016-03-12 05:51] aleclarson commented on #5712
Would it be possible to reduce latency by going through direct connection (as opposed to wireless)?

Should we get a PR going on this? Or is hooking into the Chrome REPL a choke point?

As for the overhead with Chrome, avoiding wi-fi could make this workable. Or just raising the polling interval.

[2016-03-12 06:29] ide commented on #5712
I'm not sure how much of the latency comes from where. You might be able to test this (relatively) easily by setting up tethering over USB.

I don't think this is a good direction - it doesn't fix the root issue of the REPL executing code out of band, adds complexity to the bridge code, and makes the development environment less like production.

[2016-03-12 06:31] jordansexton commented on #586
+1 for `shouldOverrideUrlLoading` on Android. Without this API exposed, all sorts of links break the WebView (`mailto:`, `target="_blank"`, links to external sites, etc).

[2016-03-12 07:00] GilangJulianS commented on #500
I tried to run project by clicking build button on XCode and i got the same error message. Then i run the project via command line with "react-native run-ios" and it worked.

[2016-03-12 07:42] peng051410 commented on #5997
Android4.1.1 have same problem!

[2016-03-12 07:59] AndrewJack commented on #6410
Just make your own ReactActivity

[2016-03-12 08:10] guyca commented on #6410
hmm... I feel like that misses the whole point of having a base activity for react native apps.

[2016-03-12 08:30] ahanriat commented on #6425
Hi @ltyhome
As @ide says in https://github.com/facebook/react-native/issues/6425, it is probably due to your `node_modules`. Try this `rm -rf node_modules && npm i`, and then `npm start --reset-cache`
Hope this will help :wink:

[2016-03-12 08:34] jcsjohnson opened #6427 "Could not connect to development server"
![Uploading Simulator Screen Shot 11 Mar 2016, 7.18.23 PM.png…]()
I am getting this error on only one of my projects. I loaded the project on to my phone yesterday and today I am getting the error for only this one project. My other projects do not get this error. The odd thing is that the power went out last night and my computer restarted while the project in question was running. Has anyone hea

[2016-03-12 09:34] sahrens commented on #167
@andrews is also thinking about timers and event ordering. We have some ideas floating around for hi-pri event precedence, and maybe even changing the JS runloop model to poll native rather than native always calling into it, which could give us more flexibility to do re-ordering and other queue processing in JS, and is probably more performant than calling in from native on every event like we ar

[2016-03-12 11:37] someok commented on #4968
react-native 0.21.0 is ok, but 0.22.0-rc has this problem again.

[2016-03-12 12:31] corbt commented on #5273
Fixed in https://github.com/facebook/react-native/pull/5286

[2016-03-12 12:31] #5273 closed

[2016-03-12 12:34] satya164 commented on #6426
Right now, before running `react-native upgrade`, you have to do `npm install react-native@version` (which is quite slow). Deleting `node_modules` after that means you need to repeat the same thing again.

May be introduce a `react-native upgrade --version 0.22` command which prompts the deletion?