[2017-07-07 07:05] evanjmg commented on #7308
The version of React native strictly depends on the version of your Xcode, React, and React native version - I found this when upgrading Xcode from 7.3 to 8.0 and then to the latest. 7.3 works well 15.3.2 React and 0.37 native. Xcode  8.1 works well with the latest of The cli as of Monday this week. For future reference, keep your Xcode up to date and use the cli to see which version is compatible

[2017-07-07 07:18] zgc2537 opened #14882 "utf8 is not a function"
Hello,
I've updated react native to 0.46 from 0.44 for my company project. But problem occurred , when i compiled release version.

** I initiated a new 0.46 react native project, the problem also exists.**

![image](https://user-images.githubusercontent.com/8650623/27947178-5c7ec88e-6327-11e7-80ce-cd3994d88613.png)

![image](https://user-images.githubusercontent.com/8650623/27947153-43896b04-6327

[2017-07-07 07:19] vigzmv commented on #14878
Is the packager running? Need more information.

[2017-07-07 07:21] aditya1027 commented on #14878
@vigzmv I am new in RN. Please let me know how to check whether it's running or not.

[2017-07-07 07:21] joIivier commented on #14841
Ohh right I never saw this chapter in the docs and was assuming everything was supposed to be non-blocking. It makes a lot more sense now. I'll change my native Android module to be non blocking then.
Thanks a lot!

Olivier

[2017-07-07 07:21] #14841 closed

[2017-07-07 07:25] mikelambert commented on #13765
Ugh sorry. :( In my bug https://github.com/facebook/metro-bundler/issues/18, the author there said "Unfortunately, I expect thing to get broken again", so maybe my solution above is incomplete (and break immediately for you, and will break eventually for me).

But just to check, your error is `transform.forEach is not a function`? One other idea to try, is to delete `node_modules/merge/` (or possi

[2017-07-07 07:27] vigzmv commented on #14878
Follow this. https://facebook.github.io/react-native/docs/getting-started.html
Start `react-native start` in one terminal and do `react-native run-android` in another.

Are you able to see your app, is there any errors in terminal or in app screen ?

[2017-07-07 07:41] grabbou commented on #14857
Not yet, waiting for major packager fix to release one version at a time.

On Fri, 7 Jul 2017 at 00:33 Takeshi Kajino <notifications@github.com> wrote:

[2017-07-07 08:19] alainib commented on #14209
i got this problem but now ok after few try
1) remove the node_module folder
2) "npm install"
3) "npm start -- --clear cache"
4) "cd android"  then "./gradlew clean"
5) rebuild

my dependencies

       "dependencies": {
		"react": "16.0.0-alpha.12",
		"react-native": "0.45.1",
		"react-native-button": "^2.0.0",
		"react-native-camera": "git+https://github.com/lwansbrough/react-native-camera.git",

[2017-07-07 08:39] pmcguane commented on #13316
this is still happening in 44 with removeClippedSubviews={false} set

[2017-07-07 08:47] DeliDoktoru commented on #14837
thanks for your answer. if i dont use step 4 i geting this error

and after your answer, i delete my bundle and i re-create. its worked.i will write bash script every run  i delete it and re-create it.

my packager only show me

Loading dependency graph, done.

[2017-07-07 08:56] Alleeeen commented on #14833
Yes, I saw the code of Alert.js and figured out that this error is due to I call the Alert with a param of 'error' which is a object not a string anymore. The strange thing is this happened after I upgraded the react native version from 0.29.0 to 0.45.1.

[2017-07-07 08:56] #14833 closed

[2017-07-07 09:10] ravis95 commented on #14865
module.js:487 error arises if node is unable to detect the module you want to run in the selected directory,
Copy the files into some other directory and try C:\users\admin\...and Run it.

![1](https://user-images.githubusercontent.com/22999821/27951305-1477c09a-6322-11e7-889f-d81558483d4e.JPG)
![2](https://user-images.githubusercontent.com/22999821/27951306-147a15de-6322-11e7-890a-3722a5e2582b.JP

[2017-07-07 09:12] henrytao-me commented on #10712
I did a little test on CustomLineHeightSpan.java. It works on new pure Android project but not on RNTesterApp. I am still investigating what the different between ReactNative TextView and PureAndroid TextView. I would like to pair with ReactNative core team to work on this investigation (if possible).

The idea is simple: use `descent` and `baseline` as base metrics, then recalculate `bottom`, `as

[2017-07-07 09:24] Richard-Cao commented on #14858
Same problem

[2017-07-07 09:28] zgc2537 commented on #14882
"react-native run-android" is ok

[2017-07-07 09:29] Richard-Cao commented on #14866
Same problem

[2017-07-07 09:30] Farzad7 commented on #14717
Same issue here, after React Native 0.46 was released yesterday I downloaded and configured everything to what React Native suggests, Node v6.11 and downgraded npm from 5 to 4
Download Expo and opened emulator, started the app and in the Expo clicked on Device

Everything works but this error intermittently occurs and it's very annoying!
Hope they fix this annoyable bug ASAP

[2017-07-07 09:37] Farzad7 commented on #14717
As of today 7th July, the best way round this problem is to enable "Remote JS Debugger" from your emulator "Ctrl + M"
Hope it helps

[2017-07-07 10:25] ejaz47 commented on #14865
Its same even after changing the directive and drive too :(

[2017-07-07 10:41] aidan2129 opened #14887 "Detect window dimension change when virtual buttons are show/hidden on samsung s8"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`:0.44.2
2. `node -v`:7.4.0
3. `npm -v`:4.0.0
4. `yarn --version` (if you use Yarn):

Then, specify:

1. Target Platform (e.g. iOS, Android):Android
2. Development Operating System (e.g. macOS Sierra, Windows 10):Linux mint
3. Build tools (Xcode or

[2017-07-07 10:41] Tekosawa commented on #10423
Anyone found a real fix ? Problem still exist.

[2017-07-07 10:46] henrytao-me commented on #10712
Checkout my proposal for `CustomLineHeightSpan.java` fixed. https://github.com/henrytao-me/react-native/pull/1.
<img width="376" alt="screen shot 2017-07-07 at 5 45 20 pm" src="https://user-images.githubusercontent.com/5274722/27954883-2c0ab14e-633c-11e7-8bdf-01ef4b208556.png">

[2017-07-07 10:47] voneiden commented on #13210
FYI Happens when jest doesn't find any test files (or the tests folder?).

[2017-07-07 11:13] jmullings commented on #14209
sudo react-native start
Then
react-native run-ios || run-android
👍

[2017-07-07 11:37] silver6wings opened #14889 "WebView didn't get canGoBack correctly"
### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.45.1
2. `node -v`:
v8.1.2
3. `npm -v`:
5.0.3
4. `yarn --version` (if you use Yarn):
0.24.6

Then, specify:

1. Target Platform (e.g. iOS, Android):
iOS
2. Development Operating System (e.g. macOS Sierra, Windows 10)

[2017-07-07 11:53] litmanenPL commented on #14749
It seems that adding **BatchedBridge** subspec resolves the issue.
I found it out based on **[React.podspec](https://github.com/facebook/react-native/blob/master/React.podspec)** file analysis. _JSNoBytecodeFileFormatVersion_ is defined in _JSCWrapper.cpp_

[2017-07-07 11:55] weberli commented on #14859
I have the same problem...

[2017-07-07 12:19] SoundBlaster commented on #14843
No need to delete Babel config - it's important part of the app. Restarting the Terminal and calling the `react-native start` command help me.

[2017-07-07 12:58] abhisheklalnediya opened #14890 "Using state to get the value of place holder is making it blank, react-native TextInput"
Using state to get the value of place holder is making it blank, react-native TextInput

### Environment
react-native-cli: 2.0.1
react-native: 0.45.1
node: v6.9.5
npm: 3.10.10

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): Mac

### Code
![image](https://user-images.githubusercontent.com/3649024/27958534-44f3a85a-6341-11e7-80d4-0bb3

[2017-07-07 13:40] jibberilins commented on #14858
Not sure why my comment was down voted. Your Node and npm are both too old to work with React-Native 0.46. React-Native 0.46 uses ES6. The error is on a ES6 operator. Node V4 does not know what this is. So you need to upgrade to the latest node and npm which uses this feature.

[2017-07-07 13:57] jeanlauliac commented on #14530
So, the original problem "Unknown plugin "transform-runtime"" should now be fixed for v0.46 if you do a clean set-up, or if you upgrade the `metro-bundler` package to `0.7.8` in your repo/lockfile. I'll wait for confirmation this looks fixed for you folks before closing.

Creating a project from scratch with v0.46 worked for me, and the simulator loads the app correctly. For the other problems tha

[2017-07-07 14:03] donovantc commented on #11748
@knapeto did you make any progress regarding this issue?

[2017-07-07 14:07] cpojer commented on #14530
@jp928 Facebook doesn't manage open source releases for react-native, and we are probably not as actively involved as we should be. There are probably ways we can get better at this, but if this is a huge problem for you, it would be awesome if you could step up and help us avoid this class of problems in the future by helping us straighten out the release cycle.

[2017-07-07 14:29] t4deu commented on #14633
Dude, you can even close the issue, but don't need to be rude

[2017-07-07 14:47] keeleycarrigan commented on #14874
Yea when I updated to RN 0.46 my app will rarely load past the launch screen if the debugger is running. If I turn the debugger off I works normally, and this really only started after I used the React Native Git upgrade.

[2017-07-07 15:03] GollyJer commented on #2228
Hey!  I know this is old but I wanted to say thanks to those who provided insight here.
I've been trying to get a pinned header & footer solution working and synced scrolling was one of the key pieces.  What I have works but isn't optimal.
If you want to follow along [I put together a StackOverflow post that points to a working Expo Snack](https://stackoverflow.com/questions/44973820/react-native-

[2017-07-07 15:32] Eluss commented on #11813
@easybird I had the same issue and setting library search paths indeed solves the problem, thanks!

[2017-07-07 15:45] w8choi commented on #14857
shouldn't it be open until the fix is actually released?

[2017-07-07 15:46] aung-win commented on #14861
Thanks. @hramos
My current npm version is 5.1.0.
Problem solved by changing npm version to 4.0
`npm install -g npm@latest-4`

[2017-07-07 15:46] #14861 closed

[2017-07-07 16:12] grabbou commented on #14530
@jp928 I am really sorry for the inconvenience. The "RC" bug report somewhat got lost in my inbox full of notifications. During manual testing that I usually do (as well as testing on the CI) the bug wasn't revealed. Sometimes not every single issue can be reproduced, but I think we did our best to fix it as soon as possible post the release.

[2017-07-07 16:13] grabbou commented on #14857
It's being released now, please try 0.46.1 in like an hour.

[2017-07-07 16:15] AdrianBrown1 commented on #12504
I am having the same issue but looking at #4968 is not helpful...

[2017-07-07 16:52] kcalmes commented on #14838
@Amurmurmur I am still seeing the issue on 0.45.1 even after downgrading babel. I wonder how much node and npm versions might be affecting which fixes work and which ones don't.
node: v8.1.0
npm: 5.1.0
OS: macOS Sierra 10.12.5

[2017-07-07 16:57] fungilation commented on #14530
So is a minor release fix coming? I'm working around with a manual `react-native start`, as `run-ios` result in the babel related packager errors. Other workarounds haven't worked for me on getting `run-ios` to work.

A side question is this: does this affect production releases, which wouldn't be tied to a running instance of the packager?

Repasting from the other issue, my package.json:
[code]

[2017-07-07 17:10] grabbou commented on #14530
0.46.1 is coming with a fix for different issue. Fix for this issue was
released to metro-bundler package directly. Metro-bundler is React Native
dependency "^0.7.6" meaning that you will get latest patch version every
time you do a fresh install. Since they released 0.7.8 with a fix, no React
Native update is required.

On Fri, 7 Jul 2017 at 18:58 Gary F <notifications@github.com> wrote:

[2017-07-07 17:16] xiaozhouwu commented on #14866
me too, same problem. when will this be solved?

[2017-07-07 17:17] fungilation commented on #14530
Can you clarify on "you will get latest patch version every time you do a fresh install"? Does it include running a `react-native-git-upgrade`?

[2017-07-07 17:19] iRoachie commented on #14866
@xiaozhouwu It's already being worked on.

[2017-07-07 17:22] jeanlauliac commented on #14530
I believe not. The action necessary depends on what package manager you use. For `yarn`, you have to upgrade the version of `metro-bundler` used in the lockfile. I believe `yarn upgrade` can be used for that. For `npm` 5, there should be a similar command to upgrade the locked dependencies, but I'm not familiar. For `npm` 4, deleting `node_modules` and running `npm install` again should do the dea

[2017-07-07 17:37] Amurmurmur commented on #14838
@kcalmes Make sure you reset react-native packager after you've downgraded babel with:
[code]

[2017-07-07 17:41] fungilation commented on #14530
Confirm fixed with `yarn upgrade`, and yarn.lock file went from `version "0.7.6"` to `version "0.7.8"`, under the line `metro-bundler@^0.7.4:`. Thanks for the clarification!

A side issue I noticed now on React Packager's terminal below. Does this warrant a new issue?
[code]

[2017-07-07 17:48] jeanlauliac commented on #14530
I believe it's the issue reported in https://github.com/facebook/metro-bundler/issues/18. We have a fix that's been landed, not sure when we'll make it spread through `react-native` yet.

[2017-07-07 17:57] fungilation commented on #14530
That's fine, shouldn't be a blocker as it's just a console warning.

[2017-07-07 18:02] cogwheel commented on #8475
Downgrading babel no longer fixes this starting around react native 0.43.0. It breaks the build in another way (I can't recall at the moment).

[2017-07-07 18:05] kcalmes commented on #14838
That did the trick, I previously deleted the node_modules dir, but I didn't realize I missed the other cache. Thanks for your help @Amurmurmur!

[2017-07-07 18:17] vijayhike commented on #1049
@ssssssssssss whats the FPS you arrived in case of each cell is react micro app ? Have you tried of reusing RCTRootView? @ide Any drawbacks of re using  RCTRootView.

[2017-07-07 18:38] cogwheel commented on #12590
We are using ClojureScript with Reagent + Re-frame + React Native. For production builds, all of the clojure code compiles down to a single 3 MB JavaScript file which times out after 5 minutes. I'm still testing to see how long it will take on my machine (i7-6700k). A freshly generated (with re-natal) ClojureScript project takes 23 seconds to bundle.

When running with Figwheel, the clojurescript

[2017-07-07 18:40] #14879 closed

[2017-07-07 18:43] #12623 closed

[2017-07-07 18:48] amanpree commented on #14879
Hello Mr hramos may I know why you close my bug.. Thanks

[2017-07-07 18:57] rcorrie commented on #7271
thanks @alinz that works for me

[2017-07-07 19:10] grigored commented on #14544
did you fix this?

[2017-07-07 19:26] mhorowitz commented on #14840
Two commits to get CocoaPods working right with the new bridge:

1ef21ece92e44256691e7449c96da808da977c45
26f01faf1b3f801501f77d47b00e05fb8a8b3b32

Thanks! cc @javache

[2017-07-07 19:39] javache commented on #14840
This one too then, if we're aiming for a fully working Podspec in 0.47: https://github.com/facebook/react-native/commit/6c2beaffdcfa52c23012d7a8e0ffd6de0405d1a3

[2017-07-07 19:43] DeliDoktoru commented on #14878
hi did u make bundle ? if ur problem like this https://github.com/facebook/react-native/issues/14837 lets talk

[2017-07-07 19:43] mhorowitz commented on #14612
The problem described in this issue is that when using the CxxBridge with CocoaPods, the third-party dependency pods need to be explicitly included in the Podfile.  There's an example of this here: https://github.com/mhorowitz/native-navigation-boilerplate/blob/0cb090c6d67ffcb3b47b51e2f06a4253635ef797/ios/Podfile#L13-L16

There's also conversation in this thread about another issue with CocoaPods

[2017-07-07 19:43] #14612 closed

[2017-07-07 19:44] ide commented on #14840
I went ahead and cherry-picked those three commits (1ef21ec, 26f01fa, 6c2beaf) and pushed 0.47.0-rc.1. Think it will be good if people can start testing the Podspec (and therefore RN 0.47 in general as well) early.

[2017-07-07 19:51] Jacse commented on #14672
Experiencing this as well. Environment:
[code]

Error in logs: `fatal][tid:main] Exception '*** -[__NSArrayI objectAtIndex:]: index 2 beyond bounds [0 .. 1]' was thrown from JS thread`

[2017-07-07 19:52] Jacse commented on #14672
For the record it happened after upgrading to `0.45.1` from `0.44`.

[2017-07-07 19:53] Jacse commented on #14288
This happens on emulators as well. Same issue at #14672

[2017-07-07 19:53] Jacse commented on #14672
Duplicate of #14288

[2017-07-07 19:56] Jacse commented on #14288
Error I get on simulator:
[code]

[2017-07-07 20:18] baraa95 opened #14893 "react native modal"
### Is this a bug report?

yes

### Have you read the Bugs section of the Contributing to React Native Guide?
no

### Environment

1. `react-native -v`:
2. `node -v`:
3. `npm -v`:
4. `yarn --version` (if you use Yarn):

Then, specify:

1. Target Platform (e.g. iOS, Android):
2. Development Operating System (e.g. macOS Sierra, Windows 10):
3. Build tools (Xcode or Android Studio version, iOS or And

[2017-07-07 20:31] hramos commented on #14893
The bug report is missing some necessary details. Please read the contributing guide and open a new issue, thanks!

[2017-07-07 20:31] #14893 closed

[2017-07-07 20:31] hramos commented on #14890
The bug report is missing some necessary details. Please read the contributing guide and open a new issue, thanks!

[2017-07-07 20:31] #14890 closed

[2017-07-07 20:32] hramos commented on #14889
The bug report is missing some necessary details. Please read the contributing guide and open a new issue, thanks!

[2017-07-07 20:32] #14889 closed

[2017-07-07 20:32] hramos commented on #14882
The bug report is missing some necessary details. Please read the contributing guide and open a new issue, thanks!

[2017-07-07 20:32] #14882 closed

[2017-07-07 20:32] hramos commented on #14878
The bug report is missing some necessary details. Please read the contributing guide and open a new issue, thanks!

[2017-07-07 20:32] #14878 closed

[2017-07-07 20:33] #14875 closed

[2017-07-07 20:33] #14874 closed

[2017-07-07 20:33] mhorowitz commented on #14326
I've landed fixes for all the CocoaPods+CxxBridge issues I am aware of.  They have just been cherry picked into v0.47.0-rc.1, so if you want to try this out, you *must* be using this version or later.  You can do this in your package.json file like this:

    "react-native": "0.47.0-rc.1"

For any earlier version of React Native, you cannot use CocoaPods with CxxBridge.  You need to use the `Batch

[2017-07-07 20:35] hramos commented on #14866
0.46.1 is now out, please give it another go. As always, make sure to clear out your node_modules directory and run `npm install` again.

[2017-07-07 20:35] hramos commented on #14858
@jibberilins is correct.

[2017-07-07 20:35] #14858 closed

[2017-07-07 20:37] hramos commented on #14849
Is this supposed to work? Nesting scroll views does not seem like a good idea.

[2017-07-07 20:39] hramos commented on #14692
It looks like the description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

Feel free to open a new issue with the additional information provided. Thanks!

[2017-07-07 20:44] basketofsoftkittens commented on #14661
+1

[2017-07-07 20:57] hey99xx commented on #13487
@olegbl Would it make sense to open this constructor to public https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java#L104 or https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java#L76 instead of package-private `/* package */` so peopl

[2017-07-07 21:08] iRoachie commented on #14866
Confirming fix in 0.46.1. Great works guys! @hramos @grabbou

[2017-07-07 21:08] #14866 closed

[2017-07-07 21:17] yidc commented on #14692
Another similar thread has mentioned that this will be fixed on 0.46, so I will just ignore this from now...

[2017-07-07 21:22] hramos commented on #14661
If this is a bug, feel free to open a new issue, making sure to follow the template.

[2017-07-07 21:30] hramos commented on #14651
Does this still reproduce within a FlatList? ListView is deprecated.

[2017-07-07 21:31] hramos commented on #14057
Does this still reproduce using FlatList? ListView is deprecated.

[2017-07-07 21:31] #13935 closed

[2017-07-07 21:31] hramos commented on #13788
Does this still reproduce using FlatList? ListView is deprecated.

[2017-07-07 21:31] hramos commented on #13701
Does this still reproduce using FlatList? ListView is deprecated.

[2017-07-07 21:36] #14620 closed

[2017-07-07 21:38] hramos commented on #14837
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-07 21:38] #14837 closed

[2017-07-07 21:54] annelorraineuy commented on #13391
@cyaxares Read this https://facebook.github.io/react-native/blog/2016/08/19/right-to-left-support-for-react-native-apps.html

[2017-07-07 22:11] tywoodpav opened #14896 "ScrollView inside a FlatList causes jittery scrolling"
I am making a component that scrolls to the next row in the `ListView` programatically. Each row in the list view is 100% of the width and height of the ListView's parent container (so you only see one row at a time).

I want the content *inside* the row to be scrollable (in case it is taller than the height of the parent). This code renders properly but causes a jittery effect when scrolling the

[2017-07-07 22:26] tywoodpav commented on #14896
A ha! `react-native` is totally fine. My issue was I had it wrapped in a `GestureRecognizer` from `react-native-swipe-gestures` which was overriding the scrolling. Removing that solved the problem.

[2017-07-07 22:26] #14896 closed

[2017-07-07 22:48] grabbou commented on #14840
Thanks! Now we can also cherry-pick
https://github.com/facebook/react-native/commit/9afb71fde8199156ed683dca6aa59826f9fb9279
as
it finally landed.

On Fri, 7 Jul 2017 at 21:45 James Ide <notifications@github.com> wrote:

[2017-07-07 23:06] ragnorc commented on #14326
Thanks @mhorowitz! Followed your above-mentioned steps but still getting `limit not found in Math.h` with fbsdk.
This is my podfile:
`react_native_path = '../node_modules/react-native'

platform :ios, '8.0'

target 'MemoriesApp' do

   source 'https://github.com/CocoaPods/Specs.git'
pod 'React', :path => react_native_path, :subspecs => [
    'Core',
    'RCTText',
    'RCTNetwork',
    'RCTImage',

[2017-07-07 23:18] brentvatne commented on #14851
Hi there! Is this happening for you on a blank React Native project? `react-native init SomeProject` and then `react-native run-android` causes the problem for you? If not, can you share an example project with this happening? Thanks!

[2017-07-07 23:20] browniefed opened #14899 "Starting new Animation in start callback not cancelling existing animation"
### Is this a bug report?

Yes.

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes.

### Environment

react-native-cli: 2.0.1
react-native: 0.45.1

Then, specify:

1. Target Platform (e.g. iOS, Android): Both
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS El Capitan

### Steps to Reproduce

1. Start an animation with `Animated.timing` or any

[2017-07-07 23:29] brentvatne commented on #14850
Hi! Please provide a Snack example for future bug reports as suggested in the issue template. I re-created this on Snack here: https://snack.expo.io/SyBvv56VZ

Notice that it works on iOS and not on Android. As you noted, it also works with the Remote Debugger enabled. This is because the JavaScript engine is different in each of those scenarios and supports different features. iOS uses the latest

[2017-07-07 23:29] #14850 closed

[2017-07-07 23:44] ODelibalta commented on #12609
deleting ios/build did not fix it for me. App opens but I get the error

[2017-07-07 23:56] rubetrio commented on #7308
I had this issue and I tried to run Xcode build. Found out the build failed due to [https://github.com/facebook/react-native/issues/8472](Issue).

[2017-07-08 00:16] alexduckmanton commented on #14858
Cheers guys. @jibberilins that did the trick, thanks.

[2017-07-08 00:47] brentvatne commented on #14838
@facebook-github-bot close

[2017-07-08 02:36] mhorowitz commented on #14326
@ragnorc you didn't say which version of react-native you're building against.

[2017-07-08 03:22] drhorse commented on #7308
cannot believe 0.46.1 still have this issue, using 0.44 for now, but hope it will be fixed in newer release soon...

[2017-07-08 07:25] sisyphsu commented on #7308
I resolved this issue.

The key of this issue is `...build/Build/Products/Debug-iphonesimulator/*.app`.
Obviously, `run-ios` command need the Compiler export the App to `build/Build/Products` in `Debug` mode.

So, you need make sure that:
**Build Location is `build/Build/Products`, not `XCode Default`, not `Build/Products`.**
You can find it in XCode's `File` > `Project Settings` > `Advanced`
**Bu

[2017-07-08 09:05] sytolk opened #14905 "[Android] No possible to handle JavaScript addListener event on native side"
I'm looking this code:
https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/uimanager/events/EventDispatcher.java#L144

Correct me if I'm wrong but there is not clean solution how to handle JavaScript call to `addListener("event")` method from `NativeEventEmitter.js` on native - Java side.

If I have on native side Java listeners it's need to add/remov

[2017-07-08 09:15] ragnorc commented on #14326
@mhorowitz I am building against `0.47.0-rc.1`.
My pod output doesn't seem to differ from yours: https://gist.github.com/ragnorc/c20f36ec79496180049b7255b2854348

But still getting the error.

[2017-07-08 09:45] drhorse commented on #7308
But 0.44.0 uses the same build location as 0.46.1, Debug-iphonesimulator, no problems there...

[2017-07-08 10:12] qruzz commented on #13160
@mienaikoe Could you expand on that?
I am looking at that file, but have no idea what I am looking for?

[2017-07-08 10:19] Luthfiansyah commented on #12609
thanks deleting ios/build fixed it.

[2017-07-08 11:10] mnlbox commented on #14631
Any suggestion about this?

[2017-07-08 15:15] roadev commented on #14858
I'm using node 6.11.0 and I have the same issue

[code]

[2017-07-08 15:40] vinefreeman commented on #14209
@jmullings similar worked for me by running:
sudo npm start
react-native run-ios

It seemed that the node packager was causing issues?

Just a noob but it worked for me.

[2017-07-08 16:17] wellyshen commented on #14382
@Ignigena Thanks man

[2017-07-08 16:31] zephinzer opened #14907 "Adding Build Target and Scheme causes `run-ios` to fail"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native-cli: 2.0.1, react-native: 0.46.1
2. `node -v`: v6.10.2
3. `npm -v`: 3.10.10
4. `yarn --version` (if you use Yarn): 0.24.6

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS
2. Development Operating System (e.g. macOS Sierr

[2017-07-08 17:24] LAITONEN commented on #9575
I am also getting this issue from time to time. RN 0.45.1

[2017-07-08 17:39] shadowm2 opened #14908 "TouchableHighlight component not showing underlayColor on touch unless onPress property is set."
### Is this a bug report?
Yes

### Have you read the Bugs section of the Contributing to React Native Guide?
No

### Environment

1. `react-native -v`: react-native-cli: 2.0.1          react-native: 0.45.1
2. `node -v`: v6.11.0
3. `npm -v`: 3.10.10
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. ma

[2017-07-08 17:50] llearn commented on #14368
+1

[2017-07-08 18:04] Brenw10 opened #14909 "Error: Make sure you have an Android emulator running or a device connected and have set up your Android development environment"
[code]

I was created a blank project and it was working fine (Android Emulator). After, I installed and follow the Facebook SDK and then it not work more. I got this error above.

[2017-07-08 18:12] josvos opened #14910 "props.style keys with (final) value "undefined" should be treated as not present"
Version: 0.44.2
Platform: Android

Example 1:
`<View style={[{backgroundColor: 'red'}, {backgroundColor: undefined}]} ...>`

In this case, the `backgroundColor` property is treated as not present and the background will get the color of the parent.  This is good, as it allows you to "remove" style properties when cascading styles.

Example 2:
`<View style={[{fontSize: 20}, {fontSize: undefined}]}

[2017-07-08 18:14] mienaikoe commented on #13160
hey @qruzz . It's been a while, but I think I remember what I was talking about:

Somewhere near the bottom of the file, you'll have your build configurations. In here there are several build settings, including `HEADER_SEARCH_PATHS`, `FRAMEWORK_SEARCH_PATHS`, and `LIBRARY_SEARCH_PATHS`. `react-native unlink` seems to be expecting these to be lists in all cases, but many projects just have one val

[2017-07-08 18:42] sivakumar-cf commented on #14326
++ @ragnorc I am also facing with same issue on 0.47.0-rc.1.
error: 'limits' file not found #include <limits>

[2017-07-08 18:47] DevHossamHassan commented on #14851
I'm stuck on this issue too,
I'm currently using those versions:

    react: 16.0.0-alpha.12
    react-native: 0.45.1
    npm: 5.0.3
    node: v8.1.3
    yarn: v0.24.6

[2017-07-08 19:42] edvaldoszy commented on #2720
I solved the problem putting `--deviceId` right after `react-native run-android`

[2017-07-08 20:14] dmr07 commented on #13393
With a textInput inside an multiple absolutely positioned element, I had to set the offset to 500+

[2017-07-08 20:21] RyanWan commented on #14288
+1

[2017-07-08 20:25] Jacse commented on #14288
I can confirm this happens on versions 0.45.1, 0.44.3, but not on 0.44.0

[2017-07-08 20:28] ryancoughlin commented on #14209
The only thing that changed for me was it worked when running `react-native start` with `sudo`

[2017-07-08 20:39] necolas opened #14911 "Touchables inconsistently call press handlers"
### Is this a bug report?

Yes (and maybe)

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: snack.expo.io
2. Target Platform: iOS, Android, (and Web)

### Steps to Reproduce

1. Add press handlers to a Touchable
2. Press Touchable
3. Observe which handlers are logged

### Expected Behavior

I expected expected each of the d

[2017-07-08 20:46] dmr07 commented on #10765
+1

Padding is left after the scroll disappears. Used inside an absolutely positioned element.

[code]

[2017-07-08 20:50] dmr07 commented on #13754
+1

[2017-07-08 20:55] HofmannZ commented on #14849
@hramos Two scroll views in the same direction is definitely not a good idea, but a horizontal scroll view inside a vertical scroll view is quite common 😌

[2017-07-08 21:03] #14909 closed

[2017-07-08 21:03] w8choi commented on #14857
still doesn't link properly on Android (doesn't add compile project on app/build.gradle and if I run react-native link again, it makes duplicate on settings.gradle and MainApplication.java)

[2017-07-08 21:15] warrenronsiek commented on #14686
I have the same problem after upgrading to react-native 0.46.1. Running envinfo gives me:
[code]

[2017-07-08 21:45] ODelibalta commented on #12609
Deleting ios/build did **not** fix my issue.

[2017-07-08 23:01] necolas commented on #14911
Turns out the bug lies in [this example's logger](https://github.com/facebook/react-native/blob/bd004568d3e006b61391417fc405e9483996dc81/RNTester/js/TouchableExample.js#L206-L211).

Fixed: https://snack.expo.io/HkBPXykrZ

[2017-07-08 23:01] #14911 closed

[2017-07-08 23:30] ivpusic opened #14912 "[0.46.3] fails to run on device"
### Is this a bug report?

yes

### Environment

[code]

Target Platform: iOS

### Steps to Reproduce

Build iOS app for release, and try to run it on the actual iOS device.

The app will crash with error:

[code]

On the simulator, the app runs fine.
After downgrading to 0.45.1 everything worked on the device as well again.

[2017-07-08 23:45] oeddyo commented on #14866
still seeing this:

➜  albums react-native -v
react-native-cli: 2.0.1
react-native: 0.46.1

[2017-07-08 23:48] oeddyo opened #14913 "[0.46.1]No bundle URL present not fixed in 0.46.1"
**SOLUTION** (LIKELY RELATED TO):

When I turned shadowsocks off, it seems to compile. Maybe that's the problem. Hope it helps

Is this a bug report?

Yes

Have you read the Bugs section of the Contributing to React Native Guide?

Yes

Environment

react-native: 0.46.1
node: v6.11.0
npm -v: 5.0.1
yarn --version (if you use Yarn): v0.24.6
Then, specify:

Target Platform (e.g. iOS, Android): iOS
Dev

[2017-07-09 01:01] askarhu commented on #10606
+1, hope this gets some attention.

[2017-07-09 01:19] 452MJ commented on #14866
+1 @oeddyo

[2017-07-09 01:42] oeddyo commented on #14913
tried everything mentioned in #14866
including:
downgrade npm to 4.xx
downgrade react-native to 0.45, 0.44 etc

none worked

[2017-07-09 02:56] sisyphsu commented on #7308
I meet this issue after my XCode updated, so I think the problem was XCode, not react-native, and I resolved my problem.

There may have other cases I have not run into.

[2017-07-09 03:45] oeddyo commented on #14913
btw I'd like to mention that for

react-native run-android

works for me

[2017-07-09 04:03] zLihuan commented on #12737
I have got the same problem, and solved this problem by checking the console log and found this issue may be raised by another issue. the log has some errors: there is something wrong with the third-party:boost_1_63_0, and reports file not found, according this https://github.com/facebook/react-native/issues/14404,I finally solved this problem by replace the boost_1_63_0 with the one I downloaded

[2017-07-09 04:18] mickr commented on #8234
Using a boolean here is now deprecated... should now be `keyboardShouldPersistTaps="always"`

[2017-07-09 06:06] xtrycatchx commented on #12754
i encountered the same because in my app i was loading WebView with src from local file.
after modifying my Info.plist with solution from @yustada fixed my problem.

     <key>NSExceptionDomains</key>
     <dict>
          <key>localhost</key>
          <dict>
               <key>NSExceptionAllowsInsecureHTTPLoads</key>
               <true/>
          </dict>
          <key>NSAllowsArbitraryLoads

[2017-07-09 07:20] rbermudezg commented on #12971
@Selman555 The window.WebSocket is undefined exception usually happens when window global variable has been overwritten.  I hope this can help you.

[2017-07-09 07:26] Swapnilchavan18 commented on #10032
@jaimecorrea ,your solution worked for me. Thanks...

[2017-07-09 08:16] ZHT131 commented on #13506
0.46 have you solved the problem?

[2017-07-09 08:18] ZHT131 commented on #13506
Has anyone solved the problem of not adding new lines?

[2017-07-09 09:50] qruzz commented on #13160
@mienaikoe Thank you very much for the reply !
Unfortunately, that did not solve the problem for me either ..
All my `HEADER_SERCH_PATHS` were lists already, but had to change all the `LIBRARY_SEARCH_PATHS` .. There were however no `FRAMEWORK_SEARCH_PATHS` in my project, but instead a `LD_RUNPATH_SEARCH_PATHS` instead, that I also changed into lists.

[2017-07-09 11:33] starchand commented on #2447
@shahchaitanya is this android only?

[2017-07-09 12:01] betapcode commented on #14858
yes, i have the same issue
npm WARN react-native@0.46.1 requires a peer of react@16.0.0-alpha.12 but none was installed.
/Users/betapcode/workspace/reactnative/test01/node_modules/metro-bundler/build/lib/TerminalClass.js:141
    this._nextStatusStr = util.format(format, ...args);
                                              ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (v

[2017-07-09 12:06] nzhtrtlc commented on #6240
You can use expo. With expo you can run ios app on windows no need mac or xcode.
BUT you need an iphone device. As the result you need at least one mac device.

[2017-07-09 13:00] vongohren commented on #14838
Still experiencing this with 0.46.1 and babelrc on both 2.0.0 and 2.1.0. Tried all the things done here but it doesnt fix it. Why was this closed @brentvatne @grabbou

[2017-07-09 13:29] AlexeyZich commented on #14382
@Ignigena, Thank you for your help! It works

[2017-07-09 13:53] Norfeldt opened #14915 "ImageBackground don't accept resizemode style (Image does)"
I upgraded to version 0.46 and implemented `ImageBackground` instead of `Image` but now I can't use `resizemode` anymore in the styling.

I can't find any docs on the [website](https://facebook.github.io/react-native/) regarding the `ImageBackground`

Is it a bug or name change of the property?

[2017-07-09 14:47] Amurmurmur commented on #14838
@vongohren Double make sure you reset the packager, Im using react-native 0.46.1 and babel at 2.0.0 all good on both platforms Debug/Release builds.
Please make sure you run
[code]

Also make sure you reset your android/ios emulator/simulator, delete both android/ios build folders.

[2017-07-09 15:14] Mr-Antivirus commented on #14546
Why was this closed? I'm also having the same issue and I can't find a resolution. I personally think there is a bug where the cli version is referencing the wrong version of react. If I don't get a beta version of the cli, then I shouldn't be getting a beta version of react. It should be referencing the most stable version of react.

react-native-cli version: 2.0.1

[2017-07-09 15:17] vongohren commented on #14838
Loool, this is what I have done all the way, but I did not reset the emulator and delete the build folder. Seemed to help, thanks man. But can anyone answere why this happens? @grabbou @brentvatne

[2017-07-09 15:29] zmGitHub commented on #12152
+1

[2017-07-09 17:21] dmr07 commented on #10990
Seeing the same behavior; there's a visible gap between the keyboard and the view. @vonovak KeyboardAvoidingView does not work for me either. There are numerous open issues describing the same bugs I'm having (padding not being removed after keyboard is dismissed, etc.)

It's quite frustrating when I can't build my own when the out-of-the-box solution doesn't work. You guys are really tying my han

[2017-07-09 18:14] mvincent7891 commented on #10201
I've run into this same issue and you indirectly solved it. The primary issue for me was that, as described in the tutorial, I was adding the package within `getPackages()` in `MainActivity.java`, whereas its actually needed in `MainApplication.java`, as shown in the example above.

I'm fairly certain anyone following the tutorial in Facebook's docs is just writing a bunch of code and then using t

[2017-07-09 20:22] lupena commented on #14368
+1
Same problem here! React is not working for me from version 0.44

Tried everything listed above (Including no space in directories).

Upgraded * to the latest version:
Xcode 8.3.3
react-native-cli: 2.0.1
react-native: 0.46.1
OSX Sierra 10.12.5

[2017-07-09 20:29] MyTotoro opened #14916 "Access React Application Context from Android Application"
### Is this a bug report?
Yes?

### Have you read the Bugs section of the Contributing to React Native Guide?
yes
### Environment

react-native-cli: 2.0.1
react-native: 0.44.2
v7.10.0
5.1.0

Android
macOS
Android Studio

### Steps to Reproduce

Create a Native Module to save data:

`FileOutputStream fos = getReactApplicationContext().openFileOutput(MainApplication.SOME_DATA_FILE, Context.MODE_PRIV

[2017-07-09 21:41] mhorowitz commented on #14326
Ok, this is all helpful.  I have a couple more questions.

1. What version of Xcode are you using?  (I'm using Xcode 8.3.2)
2. What version of pod are you using?  (I'm using 1.2.0)

And now I have a theory.  Both of your ( @ragnorc and @sivakumar-cf ) error messages include header files in `.../ios/build/Build/Products/Debug-iphonesimulator/include`.  The entire contents of the `ios/build` directo

[2017-07-09 22:02] masarufuruya commented on #12077
@SnehaGindi Thanks!! fixed the issue for me!

[2017-07-09 22:35] #13506 closed

[2017-07-09 23:25] hramos commented on #14913
Is the packager running, and if so, does it display any error? Do you see any logs once the client connects to it?

[2017-07-10 00:07] hfossli commented on #13483
Related to https://github.com/facebook/react-native/issues/10266 and https://github.com/facebook/react-native/issues/8570?

[2017-07-10 01:07] bingfj2008 commented on #14849
@hramos In my case what the project I doing now, I have to use the Scroll View like this. So have any solution to fix this or to instead of this?

[2017-07-10 01:09] bingfj2008 commented on #14849
@hramos Unfortunately,  in my case what the project I doing now, i have to use the Scroll View like this. So have any solution to fix this or to instead of this?

[2017-07-10 02:24] zgc2537 commented on #14882
@dgoudy Thx, it works for me.

[2017-07-10 02:39] Symous opened #14917 "undefined is not an object (evaluating 'this.wrappedInstance.setNativeProps') with TouchableHighlight"
Hi, after I update RN to 0.45.1 ,when I add a TouchableHighlight component to my page and set a onPress prop ,error undefined is not an object (evaluating 'this.wrappedInstance.setNativeProps') occured when I press in it.
[code]

Platform: Android
RN Version : 0.45.1
OS: Windows 10 64 bit .

[2017-07-10 02:50] yabeow commented on #14838
Downgrade babel-preset-react-native to 2.0.0 work for me too. But why 2.1.0 don't work?

[2017-07-10 02:51] oeddyo commented on #14913
Thanks for the response @hramos

The packager is running. It doesn't mention any errors, but two warnings. Complete output:

Scanning 565 folders for symlinks in /Users/exie/workspace/album/node_modules (7ms)
 ┌────────────────────────────────────────────────────────────────────────────┐
 │  Running packager on port 8081.                                            │
 │

[2017-07-10 02:52] oeddyo commented on #14913
it didn't give any errors neither. As soon as I type react-native run-ios, it launched and showed the messages above, the messages remained the same.

[2017-07-10 02:54] Symous commented on #14917
Sorry,Just have found that we need to wrapped the children of the TouchableX component into a <View>.
:-)

[2017-07-10 02:54] #14917 closed

[2017-07-10 04:11] sivakumar-cf commented on #14326
@mhorowitz I am using XCode 8.3.3, cocoapods 1.2.1.
I have cleared the lib folder before building the project. still the issue persists. In Xcode, I have done additional steps to build  the React Project first. By Changing edit schema->Build->Added the React and unchecked the parallelised build.
And moved the React to Top on my project target.
Issue was not resolved.

[2017-07-10 04:35] dmr07 commented on #14756
I'm closing this issue as the original problem was caused by bad design / inadequate understanding of FlatList. Better documentation would be helpful though.

[2017-07-10 04:35] #14756 closed

[2017-07-10 04:38] teaualune commented on #14843
I managed to solve the issue temporarily without removing `.babelrc` by

1. install `metro-bundler@0.7.8`
2. `rm -rf node_modules/react-native/node_modules/metro-bundler`

#14530 has more details on this

[2017-07-10 04:40] yash2code commented on #4968
same issue again and this time its not solving .tried everything

[2017-07-10 04:47] SudoPlz commented on #14368
Many of you might be able to fix this with https://github.com/facebook/react-native/commit/5c53f89dd86160301feee024bce4ce0c89e8c187

[2017-07-10 05:06] mhorowitz commented on #14326
Which is the lib folder?  After the build fails, what does `ls -l ios/build/Build/Products/Debug-iphonesimulator`say?

If you are building in Xcode, and not from the command line, you may also need to remove the Xcode DerivedData directory.  You can do `rm -rf ~/Library/Developer/Xcode/DerivedData` from the command line, or Option-Shift-Command-K from Xcode.

As another experiment, if you download

[2017-07-10 05:48] m860 commented on #3468
same issue , react native version is 0.44.0

[2017-07-10 06:07] abhishekbansal-kiwi commented on #14777
Hi Guys, I am a new joinee. I am learning react native. After successful set up of v0.39 I was able to create a list view with rows containin images and a label. Then I started on react-navigation to be able to implement a tab bar below. It required me to upgrade react native to > v0.43 so I moved to v0.45.1 considering that I will be ultimately using flat list instead of list views. There were ma

[2017-07-10 06:29] mribbons commented on #13364
This happened to me for every module. Instead of doing rm -rf node_modules, I just renamed them to node_modules1, node_modules2. I had to move them outside the app to remove the error.

[2017-07-10 06:50] mattop1709 commented on #14767
downgrade to npm version 4. Works for me!

[2017-07-10 07:36] ide commented on #14767
A newer version of npm@5 may work as well. Try using npm 5.1.0 for example.

[2017-07-10 07:44] anbu369 commented on #4968
everything was working well until yesterday. I built my project from scratch and got this error. none of the solutions above fixes it.

react-native-cli: 2.0.1
react-native: 0.45.1

[2017-07-10 07:44] kaimiyang commented on #7308
try user yarn to download dependencies

[2017-07-10 07:47] SuhairZain commented on #12981
Does anyone know if someone from the RN team or the community is working on a solution to this issue?

The warning popup redirects to this issue but I can't find any proper solution here other than to hide the warning, which isn't a solution at all. Any ideas or suggestions?

[2017-07-10 07:52] yushengchu opened #14919 "images not always rendering"
1. `react-native -v`: 0.43.4
2. `node -v`: v8.1.2
3. `npm -v`: 5.0.3
4. `yarn --version` : 0.24.5

5. Target Platform: iOS
6. Development Operating System: macOS Sierra
7. Build tools: Xcode 8.3.3

### Steps to Reproduce

(Write your steps here:)

1.open app
2.open authentication viewcontroller

### Expected Behavior

all image rendering

### Actual Behavior

images not always rendering
back resta

[2017-07-10 07:53] ankitpopli1891 commented on #14767
@hramos happy to give it a go, will do it this weekend :smiley:
@ide thanks for the update, will try it out. Thanks :+1:

[2017-07-10 07:58] ujwal-setlur commented on #14382
Running into the same issue. rn 0.46 is completely broken for me. Reverting to 0.44. Yuck

[2017-07-10 08:01] ujwal-setlur commented on #14382
@Ignigena, when I followed your steps, the build worked, but app crashed on my phone. Interestingly enough ```react-native run-ios``` for the simulator was working all the time. Only when I tried to build on Xcode for my phone did I have issues.

[2017-07-10 08:10] ujwal-setlur commented on #14382
Looks like this is fixed in 0.47-RC. Hopefully, they will roll a 0.46.1 out with this fix:

https://github.com/facebook/react-native/commit/5c53f89dd86160301feee024bce4ce0c89e8c187

[2017-07-10 08:13] jackc105 opened #14920 "TextInput multiline value, smaller than placeholder in TextInput component"
When adding text into a `<TextInput>` component with `multiline` set to false the `value` text matches the `placeholder` text font size, whereas if `multiline` is equal to true, the `value` text font size is smaller than the placeholder font size.

![so](https://user-images.githubusercontent.com/15000036/28008118-107ba38e-654e-11e7-9040-577365d6e2fc.gif)

Haven't tried this on Android yet as I'm o

[2017-07-10 08:19] Gargam commented on #7786
As @florismettey said, I was using a space in my product name.
To fix it without affecting the Display name (bellow the app):

Open your project and select your target.
Go to Build Settings, search "product name" and remove any space in it.

It should work after that.

[2017-07-10 08:22] madox2 opened #14921 "Yellow box - application not responding after "Dismiss All""
When I press "Dismiss All" button for warnings in yellow box, aplication is not responding to user touches anymore. However "Dismiss" and "Minimize" buttons works fine.

Running on real android device connected via cable on Ubuntu.

[code]

I have also found workaround: when app is in this not responsible state, toggle inspector on and off.

[2017-07-10 08:35] Obooman commented on #14758
As there's no one reply the issue I'll close it.But I have to say the problem still exits.
😞
By moving website to a public repo and `chrome devTool network panel`,I can continue my development

[2017-07-10 08:35] #14758 closed

[2017-07-10 08:42] liuwenping828 commented on #12415
Android Bug (xiaomi Mobile  Version: Android 7.0)
06-24 01:31:01.936 32461-32461/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
06-24 01:31:01.936 32461-32461/? A/DEBUG: Build fingerprint: 'Xiaomi/hydrogen/hydrogen:7.0/NRD90M/V8.5.1.0.NBCCNED:user/release-keys'
06-24 01:31:01.937 32461-32461/? A/DEBUG: Revision: '0'
06-24 01:31:01.937 32461-32461/? A/DEBUG: ABI: 'arm64'

[2017-07-10 08:43] slorber commented on #8094
@allthetime what's the difference between `touchBank` and `evt.nativeEvent.touches` ?

Also, for me it's not working very well because when I put a 2nd finger on the element, no more `onPanResponderMove` event is triggered unfortunatly. Any idea?

I'm trying to implement solution of https://stackoverflow.com/a/37449923/82609

[2017-07-10 08:50] slorber commented on #8852
I am having same issue: move event does not fire anymore when there are 2 fingers in the screen

[2017-07-10 08:51] fungilation commented on #14843
No need for manual install or deletes. With yarn, all you need is `yarn upgrade`. https://github.com/facebook/react-native/issues/14530#issuecomment-313747461

[2017-07-10 08:54] slorber commented on #8852
Please vote for https://react-native.canny.io/feature-requests/p/panresponderonpanrespondermove-not-responding-for-pinch

[2017-07-10 09:09] zssr commented on #4968
I ran into the same problem. Tried @satya164 's solution but still failed. So I delete my whole proj and init a new one. It worked fine. And I was trying to setup `flow` for my project. But after I  ran `npm install --save-dev babel-cli babel-preset-flow`, things went wrong again exactly like before. So I was guessing `npm install --save-dev babel-cli babel-preset-flow` had sth to do with this. Ho

[2017-07-10 09:23] bingfj2008 opened #14923 "[Beginner]How to open the ［Location Services］ screen of IOS by react-native？？"
How to open the ［Location Services］ screen of IOS by react-native？？

By the way. I tried the way to open location services screen like this.

`if (&UIApplicationOpenSettingsURLString != NULL) {`
`   NSURL *url = [NSURL URLWithString:UIApplicationOpenSettingsURLString];`
`    [[UIApplication sharedApplication] openURL:url];`
`}`
`else {`
`  // Present some dialog telling the user to open the settin

[2017-07-10 09:33] filiphosko commented on #12609
Same issue, removing ios/build didn't solve it.

[2017-07-10 09:38] diennguyentien opened #14924 "FlatList onEndReached auto call when init screen"
### Description

FlatList onEndReached triggered when I view init screen before reach end of list. This is my source code:

[code]
I tried to add onEndReachedThreshold and received same problem

[code]
###Additional Information

React Native version: v0.46.0
Platform: Both
Operating System: MacOS

[2017-07-10 09:50] vongohren opened #14925 "[iOS] Undefined symbols for architecture x86_64"
### Is this a bug report?
Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native-cli: 2.0.1 - react-native: 0.46.1
2. `node -v`: v7.5.0
3. `npm -v`: 4.1.2

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra 10.12.5

### Steps t

[2017-07-10 09:52] vongohren commented on #14923
Think if its better to ask this question on: https://stackoverflow.com/questions/tagged/react-native

[2017-07-10 09:57] flyher commented on #10756
same problem here in Android 6.

@langjun
The axios worked for me too.

[2017-07-10 10:02] mr-bat commented on #6691
I solved(!?) this problem by creating a copy of the image and replacing the original one, then renamed the image. This indeed is a weird bug, your photo at once becomes useless.

[2017-07-10 10:39] jozan commented on #14869
We've hit this as well. Nice catch! :)

[2017-07-10 10:56] ejaz47 commented on #14865
I found this is a bug in **react-native 0.46.0**.
downgrading to **react-native 0.44.0** solved it.
its a bug in latest **virsion 0.46.0** so i am not closing this issue.

[2017-07-10 11:12] huangcheng1 opened #14926 "Navigator and UITabbarController has some conflict on iOS."
1. react-native 0.43.4:
2. node 4.5.0:
3. npm 3.10.7:

when i create a UIWindow with rootController is UITabbarController, and the UITabbarController contain some UINavigationConller . then , i push a new vc contain RCTRootView with full screen , native UINavigationBar is hiden , and hidesBottomBarWhenPushed is YES . final appear RCTView bounds is not correct .

this is layer preview

[image](http

[2017-07-10 11:18] Strayer opened #14927 "Wrong usage of lodash.uniq in local-cli/link/link.js (should be uniqBy?) causes flow errors"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.46.1
2. `node -v`: v8.1.3
3. `npm -v`: 5.1.0
4. `yarn --version`: 0.27.5
5. `react-native-cli`: 2.0.1

Then, specify:

1. Target Platform (e.g. iOS, Android): both
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra
3

[2017-07-10 11:21] rh389 commented on #14924
My guess is that's because your data is initially empty (so the end of the empty list is in view)?

You could try not rendering the list until you've finished loading eg.

[code]

[2017-07-10 11:28] rajsuvariya commented on #13874
@Benjamin-Dobell after adding react@16.0.0-alpha.12, I am getting the following error

![image](https://user-images.githubusercontent.com/12663795/28016000-2ea51d26-6590-11e7-8d1d-c963a41a9a13.png)

I am trying to integrate react native in existing Android app. I am following this guide: [link](https://facebook.github.io/react-native/docs/integration-with-existing-apps.html)

MyReactNativeActivity

[2017-07-10 11:30] realrider opened #14928 "[iOS][Accessibility] Picker item scroll not announcing the current selected value"
Our project is a hybrid of React Native modules and native UI. We are adding accessibility to our App and are hitting on issue, one finger scroll up or down not announcing the current selected/shown value.

Tapping on it again would announce the complete information about the picker item with hints, but one finger scroll up not announcing the current value.

[Video Attachment.zip](https://github.c

[2017-07-10 11:34] mausworks commented on #5974
Having a similar issue with the `WebView` on a physical Android device, OnePlus 3T.

`startInLoadingState` renders the loading state, but the content never loads &hellip; *unless* I switch the WiFi on or off, then the WebView content loads instantly.

[2017-07-10 11:44] vigneshmack commented on #14865
I cannot able to create a sails app. It shows an error.
I set the environmental variables like:C:\Users\Vignesh Ravi\WebstormProjects\sailsapplication\sails.
I created the notepad file added the path:
 node "C:\Users\Vignesh Ravi\WebstormProjects\sailsapplication\sails.js"
saved it as batch file. I added this batch file in C:\Windows\System32

![sailerror2](https://user-images.githubusercontent.co

[2017-07-10 11:55] sirilicious opened #14929 "[Text] Emoji not supported on Android 4.4.2?"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

react-native-cli: 2.0.1
react-native: 0.45.1
node: v7.10.0
npm: 4.6.1
yarn: n/a

1. Target Platform: Android
2. Development Operating System: macOS Sierra
3. Build tools: Android Studio 2.3.3, Android 4.4.2

### Steps to Reproduce

1. open [https://snack.expo.io/SyMm

[2017-07-10 11:56] rajsuvariya commented on #13874
@Benjamin-Dobell It worked. Thanks.

[2017-07-10 11:56] Yoruba commented on #8913
I have the same problem, did create multiple keystores over and over again but still the message.
'Keystore was tampered with, or password was incorrect'. The gradle.properties is located when building and is finding the correct keystore. I can list the entries of the keystore.

Version React Native: 0.46.1
OS: Win 10

`keytool -genkey -v -keystore test.keystore -alias test -keyalg RSA -keysize 20

[2017-07-10 12:06] arjunkathuria commented on #9031
^ +1, any fixes ?

[2017-07-10 12:11] JonnyBurger commented on #14869
Made a PR: #14931

Reviews appreciated as Objective-C and especially Networking in it is not my strength.

[2017-07-10 12:16] khushdeepkaur commented on #698
I have a dropdown Menu which is being overlapped by text view, zIndex does not work

![screenshot_2017-07-10-12-31-11-404_com firstproject](https://user-images.githubusercontent.com/30046379/28017603-a1f4cb6c-6597-11e7-8d01-c99ea83a6c8c.png)

`

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View,
  TextInput,
  TouchableOpacity,
  Image
} from 'react-nat

[2017-07-10 12:16] sevli commented on #3975
who can help me to resolve this question ！？？？

[2017-07-10 12:19] khushdeepkaur opened #14932 "React native zIndex not working"
Created a form in react native with drop-down spinner and few text view. There is a problem when I click on drop-down spinner its options are being overlapped by the text views below

Below is code snippet and also adding screenshot
![screenshot_2017-07-10-12-31-11-404_com firstproject](https://user-images.githubusercontent.com/30046379/28017684-edf08f42-6597-11e7-8dad-b0f0015e8828.png)

import Re

[2017-07-10 12:25] UlfR opened #14933 "React Native 0.46.1 does not support import/export generator functions"
### Is this a bug report?

yes

### Have you read the Bugs section of the Contributing to React Native Guide?

yes

### Environment

1. `react-native -v`: 0.46.1
2. `node -v`: v7.10.0
3. `npm -v`: 4.2.0
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): Ubuntu Linux 17.04
3.

[2017-07-10 12:41] rigobcastro commented on #12981
@SuhairZain Everything seems to indicate that are errors of external libraries to RN

[2017-07-10 12:49] SuhairZain commented on #12981
@rigobcastro This warning can be easily reproduced with a `setInterval()` call with a time long enough (which was 5 minutes in my case). So I'd say this isn't something caused by 3rd party libs.

BTW, I've since found a library here: [react-native-background-timer](https://www.npmjs.com/package/react-native-background-timer) which helps me get the job done.

[2017-07-10 12:57] hjh5696 commented on #14586
@fernandofranca I am in the exact same situation.
You mean `window.postMessage (SOME_DATA, '*')` should be used instead of `window.postMessage (SOME_DATA)`. right?
But it does not work.. if I am doing something wrong, please let me know

[2017-07-10 13:06] rigobcastro commented on #12981
@SuhairZain yes u right! my problem was with 3rd party lib but the owner fixed the error (I imagine they just changed `setInterval()`) and the warning disappeared.

Good recommendation, thanks.

[2017-07-10 13:07] crazy9code commented on #13010
after update Cocoapods 1.1.1 to 1.2.0
![screen shot 2017-07-10 at 6 25 20 pm](https://user-images.githubusercontent.com/16454771/28019483-bcd580b4-659e-11e7-87e0-1e67a73e034e.png)

[2017-07-10 13:08] crazy9code commented on #13010
If anyone solves this issue, kindly replies.

[2017-07-10 13:15] JakeDoe commented on #14921
Please answer this questions:
1. Do buttons work fine before you have press YellowBox buttons?
2. Have you tried to remove problem code from your application for debug?

[2017-07-10 13:32] MoOx commented on #14106
I am having similar issues and I only able to reproduce on certain devices (ios 6 plus, xperia Z5), so it's also probably related to screen resolution/dpi.

Here is a snippet:

[code]

Here is the result on

iphone 6s

![iphone6s](https://user-images.githubusercontent.com/157534/28020426-aaf121c4-6584-11e7-9482-5a9823cbeb60.PNG)

iphone 6s Plus

![iphone6splus](https://user-images.githubuserconten

[2017-07-10 13:39] grabbou commented on #12749
Yes, it didn't land for some reason. There are issues on CircleCI related
to the build. I was hoping to get it fixed last week, but totally lost
track because of conference I am travelling to.

I will try to fix it as soon as possible.

On Thu, 6 Jul 2017 at 11:23 Koen Punt <notifications@github.com> wrote:

[2017-07-10 13:45] charpeni commented on #14923
@facebook-github-bot stack-overflow

[2017-07-10 13:50] Larry-Liu2016 commented on #11989
Hey everyone. Just check the clocks on your computer and phone. If there is a noticeable difference, disable the auto setting on one device and change it to match the other.

My android phone's clock was around 7s earlier than the clock on my Mac, and there was ~ 1/3 chance to trigger the error when button is pressed with chrome debugging on. After I adjust the clock to reduce the difference to ar

[2017-07-10 13:51] michals commented on #14416
seems to be caused by #6802 that was closed without a fix :-/

[2017-07-10 13:51] reimertz commented on #14368
Fresh install  `react-native init Hello` breaks
Fresh install  `react-native init Hello --version 0.44.0` works

Since I symlink into my iCloud drive folder, I can confirm whitespace was the issue for me but I also have issues on 0.44 related to react-native-flux-router so I have to manually edit generated bash scrips till this is resorted.

I guess symlinking into my iCloud Drive folder wasn't th

[2017-07-10 13:53] matt-oakes commented on #14838
Downgrading worked for me, but I'd also like to know what the issue actually is and what a real fix is.

[2017-07-10 14:24] alainib commented on #14209
today i have this error too

 	Loading dependency graph, done.
	error: bundling: UnableToResolveError: Unable to resolve module `AccessibilityInfo` from `D:\iosReactTest2\node_modules\react-native\Libraries\react-native\react-native-implementation.js`: Module does not exist in the module map or in these directories: D:\iosReactTest2\node_modules\react-native\node_modules,   D:\iosReactTest2\node_m

[2017-07-10 14:31] vongohren commented on #14838
Running a completly new project, that is not dependent on cocoapods or swift, works out of the box. I did not try to add all my dependencies but that could be a test case.

[2017-07-10 14:44] Ehesp commented on #14905
Because your compiling the native code, you can't dynamically set the event values, nor dynamically add/remove listeners.

What you need to do is subscribe to a general event on JS side, which your native side emits too. For example JS:

[code]

Now using your native code, you can emit to `package_event` with a WritableMap/NSDictionary with an ID value and any other data.

[2017-07-10 14:47] Ehesp commented on #14873
I always thought this was expected iOS behaviour. Agreed it's annoying as you can't have the same code base to handle alerts.

[2017-07-10 14:47] Ehesp commented on #14932
Please sort your code formatting out.

[2017-07-10 14:52] outaTiME commented on #11378
Hi guys,
I'm here with react-native 0.45 and I'm still having problems (on android only) with JSON, here my code:

[code]

Here the exception:

[code]

Thanks !!!

[2017-07-10 15:10] outaTiME commented on #10377
Hi guys,
I'm here with react-native 0.45 and I'm still having problems (on android only) with JSON, here my code:

[code]

Here the exception:

[code]

But with @pranavrajs it works as expected:

[code]

Thanks !!!

[2017-07-10 15:13] sobstel commented on #13393
0.46.1 introduces following fix a975c1e. Hopefully it'll help. Anyone to confirm?

[2017-07-10 15:57] Lepozepo commented on #14933
I think changing `babel-preset-react-native` from 2.1.0 to 2.0.0 fixes the issue, it looks like whatever changes have been made to the regeneratorRuntime hit the preset

[2017-07-10 16:07] scerelli opened #14935 "react-native-xcode error after upgrading to 0.46"
### Environment

react-native:
[code]
node: `v8.1.3`
npm: `5.0.3`
yarn: `0.27.5`

1. Target Platform: iOS
2. Development Operating System: macOS Sierra
3. Build tools: Xcode 8.3.3

### Steps to Reproduce

1. Project with `RN 0.44`
2. `yarn upgrade --latest`
3. `react-native-git-upgrade`
4. `react-native run-ios`

### Expected Behavior
Expect my project to build

### Actual Behavior

After upgradin

[2017-07-10 16:13] diennguyentien commented on #14924
@rh389: I changed the above, but this problem is still not resolved

[2017-07-10 16:26] fernandofranca commented on #14586
@hjh5696 Yup.

In my environment `window.postMessage(someString, '*');` works.  YMMV as it's not documented and the behaviour is not consistent.

I'd suggest you to wrap your call in a try/catch and check what kind of error is being thrown.

[2017-07-10 16:30] AndrewJack commented on #14935
change `../node_modules/react-native/packager/react-native-xcode.sh`
to `../node_modules/react-native/scripts/react-native-xcode.sh`

[2017-07-10 16:32] tigerohuang commented on #14935
I met the same problem.

[2017-07-10 16:38] aleclarson commented on #698
@khushdeepkaur In the future, consider creating a Gist when you have a lot of code to share. Also, you should open a new issue. This is an issue about perceived lack of support for `zIndex`, which has been resolved.

@ide @vjeux Should this thread be locked?

[2017-07-10 16:48] #14935 closed

[2017-07-10 16:49] theohdv commented on #13560
It will work only with small list:

[scrollToIndex(params: object)](https://facebook.github.io/react-native/docs/flatlist.html#scrolltoindex)

[2017-07-10 16:50] hjh5696 commented on #14586
@fernandofranca Thank you for reply. However, even if I use try/catch, how do I get an error message within the html code of webview? is it from Android studio?

[2017-07-10 16:56] SudoPlz commented on #14382
Running the following script on npm post install seems to have fixed my problem:

[code]

[2017-07-10 17:03] emmajam commented on #5823
+1

[2017-07-10 17:06] sytolk commented on #14905
@Ehesp thanks but I want to handle subscription for events .addListener() method call in native side
https://stackoverflow.com/questions/44821313/react-native-handle-on-java-side-addlistener

[2017-07-10 17:13] fernandofranca commented on #14586
@hjh5696 I didn't knew any other way and had to improvise.

Eg.: Inside your webview, use the catch block to add a new DOM element containing the stringified error.
[code]
Don't forget: **Do not use // inline comments**

[2017-07-10 17:16] Ehesp commented on #14905
Can't you handle the events client side, then call a native function with
the data?

Not actually tried listening for events native side, whether it's even
possible I don't know.

On 10 Jul 2017 18:07, "Stanimir" <notifications@github.com> wrote:

[2017-07-10 17:21] UlfR commented on #14933
@Lepozepo no, downgrading babel-preset-react-native does not help.

[2017-07-10 17:26] sytolk commented on #14905
Yes I can call native method like @ReactMethod eventListeningStartedOnJS() but I don't think this is cleanest solution. For iOS we can extend RCTEventEmitter and handle this:
[code]
Can we have the same for Android?

[2017-07-10 17:28] m-sayari commented on #7495
Any update regarding this issue?

Still no solution.

________________________________
From: adriancuco <notifications@github.com>
Sent: Tuesday, July 4, 2017 2:44:28 PM
To: facebook/react-native
Cc: Marouen SAYARI; Comment
Subject: Re: [facebook/react-native] Geolocation 'enableHighAccuracy' on Android always times out (#7495)

#raldred,
Sorry. My fault!
Before killing myself I decided to check o

[2017-07-10 17:31] madox2 commented on #14921
@JakeDoe yes, application works fine before pressing YellowBox buttons.

[2017-07-10 17:48] rraspo commented on #13765
So, I don't really know if this will work for someone else, but I ran

[code]

and it stopped showing this error and working again.

[2017-07-10 17:51] hramos commented on #14858
Is this still happening with React Native 0.46.1?

[2017-07-10 17:51] hramos commented on #14546
Feel free to open a new issue, making sure to fill out the template and it won't be closed.

[2017-07-10 17:54] hramos commented on #14849
Right - I would not expect two nested, vertically scrolling views to work well together. In the Snack posted here, it seems like it is working as you would expect - the parent scrollview is the one handling the vertical swipe gestures.

[2017-07-10 17:54] Lepozepo commented on #14933
Mmm, yeah, I ended up going back to 0.45.1, ran into the same issue in that version but then modified the preset to 2.0.0 and it started working again (after doing the whole `watchman watch-del-all` stuff).

[2017-07-10 17:55] #14777 closed

[2017-07-10 17:57] hramos commented on #12749
Here's the failing 0.43.1 build: https://circleci.com/gh/facebook/react-native/19438

[code]

My guess is that the buck configuration got changed in some way after 0.43 was cut, but the commit that did that was not cherry picked into 0.43.1.

[2017-07-10 18:41] hramos commented on #14908
Is there a particular use case you have in mind where you would use a TouchableHighlight but not actually assign a `onPress` function? Why not use a plain old Text component in that case?

[2017-07-10 18:42] hramos commented on #14910
Thanks for opening the issue, however it looks like a feature request. As noted in the [Issue template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) we'd like to use the GitHub issues to track bugs only. Can you implement the feature as a standalone npm module? If not consider sending a pull request or a create an entry on [Canny](https://reactnative.canny.io/fea

[2017-07-10 18:42] #14910 closed

[2017-07-10 18:43] hramos commented on #14912
That seems strange. Is this something you can reliably reproduce? For example, does it occur on a plain new project created with 0.46.1?

[2017-07-10 18:44] hramos commented on #14915
Check out the release notes: https://github.com/facebook/react-native/releases/tag/v0.46.1

[2017-07-10 18:44] #14915 closed

[2017-07-10 18:45] hramos commented on #14916
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-10 18:45] #14916 closed

[2017-07-10 18:45] hramos commented on #14919
Please try on a newer React Native release, and provide sample code that allows us to reproduce the issue. Thanks!

[2017-07-10 18:45] #14919 closed

[2017-07-10 18:45] hramos commented on #14920
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-10 18:45] #14920 closed

[2017-07-10 18:46] #14923 closed

[2017-07-10 18:46] hramos commented on #14924
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-10 18:46] #14924 closed

[2017-07-10 18:47] hramos commented on #14926
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-10 18:47] #14926 closed

[2017-07-10 18:47] hramos commented on #14928
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-10 18:47] #14928 closed

[2017-07-10 18:48] hramos commented on #14932
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-10 18:48] #14932 closed

[2017-07-10 18:48] hramos commented on #14929
It works fine on the emulator used by Snack. Perhaps that emoji is not supported on Android 4?

[2017-07-10 18:48] #14929 closed

[2017-07-10 18:54] shadowm2 commented on #14908
@hramos I understand what you're trying to say and actually i have my created my sample application successfully but it just bothers me knowing that i'm living in side of a bug like this.

[2017-07-10 18:55] raldred commented on #7495
@m-sayari you're going to been to give us a little more information to help.

* RN version
* Android Build Target Version
* Android Device Version

Devices you're having this issue on.
They'll be something specific to your implementation/setup causing the issue. As per my earlier does we have it working without issue across multiple live apps.

[2017-07-10 19:05] hramos commented on #14908
Fair enough. Seems like something that shouldn't be too hard to fix, feel free to send a PR!

[2017-07-10 19:14] shadowm2 commented on #14908
@hramos Sorry I don't know what a PR is. Can you please explain it to me ?

[2017-07-10 19:22] hramos commented on #14908
PR = pull request. You can dive into the TouchableHighlight or TouchableWithoutFeedback files and see if you can fix the underlying issue, then submit the fix back to the repo.

[2017-07-10 19:38] benwicks commented on #2911
What was the change that fixed this? The above link references a line that has changed

[2017-07-10 19:51] Amurmurmur commented on #14838
@vongohren Indeed the fresh project will work for you however once you start using babel features such as export/import you will face the problem with babel-preset-react-native 2.1.0
This is a relevant issue #14933

[2017-07-10 20:05] ben-brott opened #14937 "Re-sizing image components on Android"
I am rendering an `Image` component inside of a `Text` component on Android. I want to resize the image based on its aspect ratio. I fetch the image's dimensions and trigger a re-render in `componentDidMount` (also tried using `componentWillMount`), but the image is not  actually re-rendering as expected. I am trying to re-render the image because `resizeMode={'contain'}` had no effect. This works

[2017-07-10 20:31] hjh5696 commented on #14586
@fernandofranca Thank you so much! I will let you know when I figure out my problem.

[2017-07-10 20:39] leoafarias commented on #14767
I got the same error with npm 5.1.0 had to downgrade

[2017-07-10 20:44] cbrevik commented on #9436
Seems like timers in general are affected (`fetch` too) #14681

[2017-07-10 21:02] joncursi commented on #10032
Downgrading `react-native-fbsdk` from `0.6.1` to `0.6.0` solved the problem for me!

[2017-07-10 21:18] JeffreyLeeSpokeo commented on #9582
How does that help? Because you aren't using the ReactRootView from the MyApplication are you?

[2017-07-10 21:45] ikrtolica commented on #11813
In case anyone else runs into this issue and wants to test out the schemes-manager solution, I created an example (project)[https://github.com/ikrtolica/xcode-env-variables-scheme-manager] that incorporates @D1no 's guide as a github project you can pull and play around with.  I spent some time hard-coding paths to header files and realized that this would not scale well once more developers ended

[2017-07-10 21:50] hjh5696 commented on #14586
@fernandofranca I solved my problem. In my case, it worked well in Android 7.1 but not in below versions. I used some arrow functions in my <script></script>, and that was the problem. After I changed them to function(){ }, it works well in below versions.
Thank you for your help!

[2017-07-10 22:35] fungilation commented on #11989
Does Android not use internet time servers properly to have a 7s
discrepancy? 🤔
On Mon, Jul 10, 2017 at 6:52 AM Larry-Liu2016 <notifications@github.com>
wrote:

--
Cheers,
Gary

[2017-07-10 23:04] ds300 commented on #9711
@yogiben you might be interested in [patch-package](https://github.com/ds300/patch-package) for future situations like this. I use it to prevent mangling myself :-)

[2017-07-11 00:57] nmfzone commented on #13760
Using `overflow: 'hidden'` on the same element that have `borderRadius` should fix this issue, I guess..

[2017-07-11 02:17] jjuel commented on #14115
I am having this issue currently.

[2017-07-11 02:29] TisnKu opened #14938 "webview reload not working on android"
I try to reload a `WebView` in `componentWillReceiveProps` when `state` changes. It works as expected on IOS but not on Android. Although loading indicator does show up, the web page does not redraw and no http request is sent.

### Environment
1. `react-native 0.35.0`:
2. `node 6.6.0`:
3. `npm 3.10.3`:
4. Target Platform Android
5. Development Operating System : macOS Sierra

[2017-07-11 02:38] erikfox commented on #13034
@janicduplessis Was this completed/should be closed? Is `Linking` mock mentioned above still an issue?

[2017-07-11 03:00] iwangx commented on #14648
@mikelambert
I solved the problem by installing the application using yarn
[code]
[code]

[2017-07-11 03:01] #14648 closed

[2017-07-11 03:53] hujiaweibujidao commented on #13751
I have the same issue for both platforms, and the reason is that the version of RN libraries (integrates them into an old project) is not the same with the RN version used to build the bundle file. Check the versions if you have the same problem. :-)

[2017-07-11 03:53] hujiaweibujidao commented on #14735
@chuckern I have the same issue for both platforms, and the reason is that the version of RN libraries (integrates them into an old project) is not the same with the RN version used to build the bundle file. Check the versions if you have the same problem. :-)

[2017-07-11 04:12] UlfR commented on #14933
@Lepozepo sorry, you are right, downgrading babel-preset-react-native + clearing cache fix the problem

[2017-07-11 04:12] #14933 closed

[2017-07-11 04:55] Noitidart commented on #8968
@janicduplessis I am still having this issue. I uploaded a screencast for ios, android, and even uwp(windows). Android is funky. I was on `0.45.1` but then I ran `react-native-git-upgrade` and then `react-native start` then `react-native run-android` but I am having same issue, even though I am now at `0.46.1`. I uploaded screencasts in a stackoverflow issue here please - https://stackoverflow.com

[2017-07-11 05:12] Lepozepo commented on #14933
Awesome!

[2017-07-11 05:14] JakeDoe commented on #14921
@madox2 please attach error message text here or take a screenshot. You can turn on debug in chrome (press CMD+D in Simulator for iOS or shake device)

Also, you can delete a part of code while an error disappears and debug problem part.

[2017-07-11 05:17] Mark-Fulton commented on #14935
Same problem here as well, However I have moved the react-native-xcode.sh file to the new scripts file created and still face the same error.

react-native-cli: 2.0.1
react-native: 0.46.1

node: v8.1.3
npm: 5.0.3
yarn: 0.27.5

[2017-07-11 05:34] iwangx commented on #14079
I solved the problem by installing the application using yarn
[code]
[code]

[2017-07-11 05:41] PanRada commented on #13010
anyone solves ? all solution dosent work still

[2017-07-11 05:53] edmofro commented on #10795
Pretty sure this issue can be closed - it's essentially a duplicate of the now fixed #10845

[2017-07-11 06:06] sathishu37 commented on #14858
yes. same issue for me.

[2017-07-11 06:24] mansoorahamedf opened #14939 "error while using reactnative fbsdk in android"
possibly unhandled promise rejection (id 1) type error:undefined is not an object(evaluating result.grantedPermission.toString) in react-native while running it on android device kindly any one help me to debug this error
this is my code whats wrong with this code i dont know
import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View,
  TouchableOpacity,
  Touch

[2017-07-11 06:25] igofind commented on #12167
+1
No one can solve this problem?

[2017-07-11 06:55] JAGATBARAIYA commented on #14565
Getting this as well on LG G5 and Samsung devices. Any solutions?

[2017-07-11 07:02] Nahueleti commented on #13390
The solution proposed by @LAITONEN worked for me, had the same problem as @ToniChaz

[2017-07-11 07:04] pecopeco commented on #12167
+1

[2017-07-11 07:16] richa commented on #14209
keep calm and run `yarn install babel-preset-react-native-stage-0`
(npm install babel-preset-react-native-stage-0 if you are using npm)

react-native start -- --reset-cache
react-native run-ios
react-native run-android

This finally fixed the issue for me. Please confirm if it works for anyone else.

[2017-07-11 07:30] Noitidart commented on #1076
zIndex has some issues on Android - https://github.com/facebook/react-native/issues/8968#issuecomment-314322836

It is working fine in iOS and UWP (windows)

[2017-07-11 07:36] Noitidart commented on #14854
I have the same issue here - with screencasts - and git clone'able super simple app - https://github.com/facebook/react-native/issues/8968#issuecomment-298992588

That comment links to stackoverflow - https://stackoverflow.com/questions/45021849/zindex-not-working-on-android-0-46-but-does-on-ios-and-even-uwp-windows

zIndex works perfectly as expected on iOS and even windows (UWP) but not on Andro

[2017-07-11 07:49] gaussz commented on #5823
+1

[2017-07-11 07:55] Noitidart commented on #1768
You can override the `prototype` as done in `react-native-global-props` package - https://github.com/Ajackster/react-native-global-props/blob/master/src/CustomFunctions/setCustomText.js#L8

[2017-07-11 08:29] mllw commented on #14382
ios-configure-glog.sh No permission to execute

[2017-07-11 08:55] crazy9code commented on #14925
save issue in my project

[2017-07-11 08:56] crazy9code commented on #14925
![screen shot 2017-07-11 at 2 25 55 pm](https://user-images.githubusercontent.com/16454771/28060493-e53fba46-6644-11e7-88d1-025398698d03.png)

[2017-07-11 09:35] MehdiAlouafi commented on #14209
Everytime I did a react-native init and then `npm install` some dependencies I encountered this bug. I just tried to switch to using `yarn add` instead and now everything works fine.

At some point some solutions described above worked for me (the `rm .babelrc` one for example) but it was always triggered by a `npm install` .

[2017-07-11 09:43] cbrevik commented on #14681
@javache Just wondering if any commits related to #10027 landed in `0.45.0`?

Been having difficulty tracking it down, but seems like something happened related to timers, and the debugger being attached. Possibly also related to `RCTWebSocket` (see above comment).

I might be barking up the wrong tree here, but would be nice to cross it off the list. :)

[2017-07-11 09:46] itswaze opened #14941 "[Android] Rotating screens makes app restart to initial scrren"
Hi!

I have a modal that shows a swiper with images, and It has landscape support. But on Android, everytime I rotate the screen the app resets to main screen. Although on iOS it works perfectly fine.

Anyone experienced this?

[2017-07-11 09:52] mikelambert commented on #14681
I assume you read https://github.com/facebook/react-native/issues/9436#issuecomment-302868758 ? That's the most promising avenue I've seen yet, though it's personally not high enough on my radar for me to dig in...

[2017-07-11 09:53] javache commented on #14681
I believe I fixed this in https://github.com/facebook/react-native/commit/64825389dfb4e01d5b30cd63b0b41937a9bb431d which is in v0.47.

[2017-07-11 09:53] mikelambert commented on #14391
And I just found this comment (in a "closed" bug), which might describe the root cause of this issue: https://github.com/facebook/react-native/issues/9436#issuecomment-302868758

[2017-07-11 10:02] cbrevik commented on #14681
@mikelambert I read that comment but it seemed (at first glance) like the fix was Android-specific?

@javache Thanks! Did a simple test with `0.47.0-rc.1`, seems like that commit fixed it. Closing this issue.

[2017-07-11 10:02] #14681 closed

[2017-07-11 10:20] Saradion commented on #14423
The fix proposed by @folivi above worked perfectly for me.

For the record, I stumbled upon this issue today when creating a brand new project with `react-native init`
react-native : 0.46.1
react-native-cli : 2.0.1

[2017-07-11 10:26] anikets43 opened #14942 "fetch Api: Read response header"
Trying out to read the Authorization token sent with response header, but gets only body segment. Is there any way response headers can be read.
`checkLogin(email) {

    var payLoad = {
      method: "POST",
      credentials: 'same-origin',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email: email })
    }

[2017-07-11 10:32] mikelambert commented on #14391
Yay, this appears to be fixed in 0.47 by https://github.com/facebook/react-native/commit/64825389dfb4e01d5b30cd63b0b41937a9bb431d !

[2017-07-11 10:32] #14391 closed

[2017-07-11 10:32] mikelambert commented on #6679
Yay, this appears to be fixed in 0.47 by https://github.com/facebook/react-native/commit/64825389dfb4e01d5b30cd63b0b41937a9bb431d !

[2017-07-11 10:48] dauane commented on #14445
I have the same issue. Tried using different third party libraries and even RN fetch. It all failed.

[2017-07-11 10:55] langovoi commented on #14925
+ :-(

[2017-07-11 11:15] pedromazala commented on #13684
Some news about this?

[2017-07-11 11:27] johngoren commented on #4968
@jang0509's solution fixed it for me (on Mac) when the usual solutions above failed.

[2017-07-11 11:32] laurent22 commented on #14938
Not sure if that helps but I couldn't get reload working either, so I've ended up doing this:

https://github.com/laurent22/joplin/blob/master/ReactNativeClient/lib/components/screens/onedrive-login.js#L64

[2017-07-11 11:33] wj495175289 opened #14944 "Trying to add unknown view tag"
Is this a bug report?

Yes

Have you read the Bugs section of the Contributing to React Native Guide?

Yes

Environment

react-native -0.43.4:
node -6.9.1:
npm -3.10.8:
yarn --version (if you use Yarn):
Then, specify:

Target Platform (e.g. iOS, Android): Android
Development Operating System (e.g. macOS Sierra, Windows 10): Mac OS
Build tools (Xcode or Android Studio version, iOS or Android SDK ve

[2017-07-11 11:34] laurent22 commented on #14939
Please use Stack Exchange as the issue tracker is not for support but for bug reports only.

[2017-07-11 11:47] tavriaforever commented on #14858
I have the same issue
react-native-cli: 2.0.1
react-native: 0.46.1
nodejs: 6.11.0
npm v3.10.10

[2017-07-11 11:59] DevSzurmanski opened #14945 "[Flatlist] initialScrollIndex doesn't work at all"
**Is this a bug report?**

Yes

**Have you read the Bugs section of the Contributing to React Native Guide?**

Yes

**Environment**

react-native: 0.45.1

**Steps to Reproduce**

(Write your steps here:)

Made a horizontal flatlist with initialScrollIndex. It should go to the index and stay there.
[code]

**Actual Behavior**

It goes to the right index and after about a half second it goes back to

[2017-07-11 12:05] Oddadmix commented on #14942
You use `const headers = response.headers.entries();`

[2017-07-11 12:13] jigfox commented on #10865
I tried @MrLoh Code, but I still get the red error screen:

[code]

[2017-07-11 12:22] SudoPlz commented on #14382
@mllw thanks!

[2017-07-11 12:28] MrVisitor commented on #14423
I had this issue too, but it disappeared once I removing everything from ~/.rncache/ and used command react-native-git-upgrade

[2017-07-11 12:46] vspedr commented on #12717
I tested with 0.46.1 and it seems that it wasn't fixed, input with multiline and blurOnSubmit={false} still does not add a new line on Android with a keyboard other than default (e.g. Swiftkey) :(

[2017-07-11 13:07] SaranPinpan commented on #14925
+1

[2017-07-11 13:13] RafaRuiz commented on #4968
I started learning React Native today and I want to quit already :D

[2017-07-11 13:31] jibberilins commented on #14858
Hi @betapcode. You need to upgrade your node to v6 and your react. React-Native 0.46.1 needs the latest React version. @tavriaforever I would say check your React version as well because since you have the latest React-Native version, your React version needs to be up to date also.

[2017-07-11 13:50] crazyx13th commented on #14851
hi there,
same problem here.

**app.js**
[code]

**package.json**
[code]

**exp.json**
[code]

thanks!

greetings crazyx13th

[2017-07-11 14:00] charpeni commented on #10795
Then let's close this, if it happens again please open a new issue.

[2017-07-11 14:00] charpeni commented on #10795
@facebook-github-bot close

[2017-07-11 14:02] RnMss commented on #14382
This also occur in 0.46.1.
And I have to keep a previous build, and copy the whole `node_modules/react-native/third-party` folder built at 0.45.1, into the new one, every time I click build in XCode.

[2017-07-11 14:11] dauane commented on #14445
Fixing the server was the simplest solution for me. Thanks @ericwooley

[2017-07-11 14:13] crazyx13th commented on #14209
I think it's a problem with npm... my **clear-all** scripts for windows:
[code]

[2017-07-11 14:19] charpeni commented on #8026
@facebook-github-bot reopen

[2017-07-11 14:20] charpeni commented on #8026
@sdwilsh again :(

[2017-07-11 14:24] itswaze commented on #2716
Im still having this issue, and my AndroidManifest.xml has that line.
Everytime I rotate my phone, it resets to initial screen. On iOS works as expected.

[2017-07-11 15:01] doque commented on #12241
@gensc004 Can you specify? I'm going up two directories, but adding ` __dirname, Path.join(__dirname, "../..")` doesn't work for me:
[code]

[2017-07-11 15:26] gensc004 commented on #12241
@doque, Just to make sure, have you rebuilt your project after adding the rn-cli config file?

[2017-07-11 15:28] ericwooley commented on #12717
One work around, for those of you who are super desperate, is to put a text area in a webview, and communicate the data back and forth.

The work arounds above (mostly work). But it's still not perfect.

[2017-07-11 15:53] budiga commented on #10367
@Keenew thank you for your advice.I solved the problem by add two lines code in the android/app/build.gradle file,the code is the following:
 aaptOptions.cruncherEnabled = false
 aaptOptions.useNewCruncher = false.
I don't know how it works.

[2017-07-11 16:17] Tom29 commented on #1831
So, finally, still no way to fix it instead of using `removeClippedSubviews={false}` even it costs performance so hard?

[2017-07-11 16:23] Jahans3 commented on #11257
This issue is now intermittent for me. It's getting ridiculous though. I'll spend a while solving the issue, trying every available fix, only for it the problem to crop up shortly after.

The only thing that consistently works, even if it is very temporary, is to completely destroy the folder containing the RN project and clone the repo again. This allows me to work on the project until I need to

[2017-07-11 16:30] hramos commented on #14858
If anyone is still running into this, please open a new issue and posted _detailed_ steps on how you upgraded to the new React Native version. As in, did you use `react-native upgrade` or did you just change the version number in the package, did you use npm to update your dependencies, and so on.

[2017-07-11 16:59] hramos commented on #14945
Can you reproduce this using Snack?

[2017-07-11 17:01] hramos commented on #14944
I'm closing this as the author states it cannot be reproduced. In general, debugging crashes shown in logs that can't be reproduced locally is not something that can be handled nicely here in this issue repo. I'm not saying the problem is not there - however I believe it's best to wait until this can be reproduced locally before opening an issue. Thanks for your understanding!

[2017-07-11 17:01] #14944 closed

[2017-07-11 17:12] javache commented on #14925
You need to add a dependency on the RCTBatchedBridge subspec (if using 0.46) or RCTCxxBridge (if newer).

[2017-07-11 17:15] javache commented on #14824
We use Android.mk for these (e.g. https://github.com/facebook/react-native/blob/master/ReactCommon/cxxreact/Android.mk). You can extend the compilation options there.

[2017-07-11 17:15] #14824 closed

[2017-07-11 17:15] razvanilin commented on #3324
@jabez128 Just wanted to let you know that I was stuck on this for more than a week and your answer saved my sanity. Thanks! I owe you 20+ beers

[2017-07-11 17:17] #14942 closed

[2017-07-11 17:17] hramos commented on #14941
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-11 17:17] #14941 closed

[2017-07-11 17:17] #14939 closed

[2017-07-11 17:18] hramos commented on #14938
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-07-11 17:18] #14938 closed

[2017-07-11 17:30] LandonS23 commented on #1831
The fix for me was to disable debugging js remotely for ios simulator

[2017-07-11 17:47] bhaskarmurthy commented on #14824
@javache thanks for the information. since we are import react-native in our `package.json`, and do not have a fork of RN in our codebase, how can we extend the compilation options?

[2017-07-11 18:08] elvenvdk commented on #11257
+1
Holy shit this sucks...

[2017-07-11 18:33] jstheoriginal commented on #14945
It could be because your initalNumToRender is lower than the initialScrollIndex.

[2017-07-11 18:47] ashikjs commented on #9136
[I Gave a Answer hare ](https://github.com/oblador/react-native-vector-icons/issues/354)
And
[I Got Solution from hare](https://stackoverflow.com/questions/38701115/windows-android-react-native-server-crashes-very-often/38831876)

[2017-07-11 19:20] kensongoo commented on #14209
@sjmueller is correct. The incompatibility issues are masked by the AccessibilityInfo exception. For us, it was React Native SVG 5.2 that was required by react-native-pathjs-charts. Upgrading React Native SVG to 5.3 solves the issue.

If you are still experiencing this problem, try looking for dependencies that have RN SVG 5.2. If still couldn't find the problem, try deleting some dependencies and

[2017-07-11 19:55] haggholm opened #14950 "Infinite recursion (max. call stack size exceeded) in mqt_native_modules"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native: 0.46.1
2. `node -v`: v8.1.3
3. `npm -v`: 5.1.0
4. `yarn --version` (if you use Yarn):

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): Linux (Fedora 2

[2017-07-11 19:58] madox2 commented on #14921
@JakeDoe it is probably not an error in application logic. Application works fine until I press "Dismiss All" button.

However it is not reproducible in fresh new RN project therefore I am closing this issue.

[2017-07-11 19:58] #14921 closed

[2017-07-11 20:02] elvenvdk commented on #11257
Actually found something.  I was getting the same error and just now after my first comment I checked if I had yarn installed and which version.  After hitting `yarn -v` it installed itself and all of the dependancies that were removed during my `npm install --save firebase`.  After the install, in another terminal instance I re-ran `npm run start` which didn't have any issues then in the main ter

[2017-07-11 20:29] rvhue commented on #13684
1+

[2017-07-11 20:38] hramos commented on #14950
We need a list of steps to reproduce the issue. It sounds like you're able to get this to happen reliably. Can you expand your original post with specific steps? Something like disable dev mode, then expand on how exactly you're adding this to AVD, etc.

[2017-07-11 20:40] pedromazala commented on #13684
People, I removed all dependencies on Expo, and then I added all again. Afetr run `yarn install` my app get back to life.

[2017-07-11 20:46] hansfpc commented on #4470
Same issue here (Using RN 0.45). I have to disable 'Debug JS remotely' :(

[2017-07-11 20:55] llamaluvr commented on #13630
I'm having this issue, as well.
+ 1

[2017-07-11 21:30] dannycochran commented on #11669
Did this ever get merged into a release? I still see this on 0.45.0

[2017-07-11 21:36] reneweb commented on #11669
Nah, the pr is still open and it's been quite a while now (#11125). I don't know whats the hold up in merging this in...

[2017-07-11 21:46] theobouwman opened #14952 "Error: Activity class ... does not exist"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment
1. `react-native -v`: 0.45 & 0.46.1
2. `node -v`: v6.9.1
3. `npm -v`: 3.10.8
4. `yarn --version` (if you use Yarn): 0.17.6

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra

#

[2017-07-11 22:03] johel opened #14954 "Press event preventing pan responder"
Hi, I'm not sure this is actually a bug, a lack of knowledge or is just a feature that does not exist yet. So I'm grateful for your patience to take a quick look in my problem.

I have an animated component(Animation) which its sole purpose is to swipe its content left and right horizontally.

Inside my Animation component I have a few buttons as its children. See below:

    <Animation onSwipeRig

[2017-07-11 22:14] grabbou commented on #14530
Going to close it as it looks like the issue has been resolved :)

[2017-07-11 22:14] #14530 closed

[2017-07-11 22:36] sibelius commented on #14007
try this https://github.com/entria/yarn-package-boilerplate/blob/master/package.json#L47

[2017-07-11 23:49] sandinosaso commented on #14935
Thank you @AndrewJack suggestion of moving the react-native-xcode.sh script to a different folder worked, however I am wondering, why is this required? I mean is this just a workaround right ? Thank you

[2017-07-11 23:49] haggholm commented on #14950
Well…my *steps* are basically

[code]

Unfortunately, I can’t really share the code for the RN app in question, as it’s proprietary. Given that, I’m not sure how helpful the above is. I do not currently have any kind of minimal example. I wonder if there’s any way to at least get a more useful stacktrace from the Android logs?

[2017-07-12 00:11] opp100 opened #14958 "[0.46.1] TextInput wrapt in touchable, will led touchable stop working"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native: 0.46.1
2. `node -v`: v8.1.1
3. `npm -v`: 5.1.0

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS
3. Build tools (Xcode or Android Studio version, iOS

[2017-07-12 00:20] hahai23456789 opened #14960 "I am frist use react native ,I have a problem ,Cannot find entry file index.android.js in any of the roots"
{"message":"Cannot find entry file index.android.js in any of the roots: [\"D:\\\\OK\"]","name":"NotFoundError","type":"NotFoundError","status":404,"errors":[{}]}

I use win7 ,

![image](https://user-images.githubusercontent.com/23414297/28096641-f99938e4-66dc-11e7-8af5-7fb4a431dc08.png)

[2017-07-12 00:31] hahai23456789 opened #14961 "who can help me ? bundling 'index.android.js' 0.0% (0/1) , failed."
![image](https://user-images.githubusercontent.com/23414297/28096595-b246bc96-66dc-11e7-93a4-858db831167b.png)
![image](https://user-images.githubusercontent.com/23414297/28096623-cfafecee-66dc-11e7-9844-9bc7ff4076a0.png)

[2017-07-12 00:55] kylebebak commented on #12241
@gensc004
I've been getting the same error as @doque . I'm trying to import a module that's at `../components/Module` relative to the root of my RN project, and I've added the `rn-cli.config.js` you suggested.

The error shows that the path to the component I want to import is corrrect, but it says that directory doesn't exist.

[2017-07-12 01:01] kylebebak commented on #3099
@yugalbagul @maotora
I can also confirm @dutzi 's solution doesn't work if the minimal `package.json` file is in a parent directory relative to the RN project root. From what I understand, this is [expected behavior](https://github.com/react-community/create-react-native-app/issues/232) of the RN packager.

I haven't found a work-around.

[2017-07-12 01:08] fungilation commented on #14382
@Ignigena's work around fixes it for me too. But I've seen 2 XCode build errors, somewhat alternating when I was moving files and around and trying to find a fix with `yarn` cache clean and such. One being the one this issue originally posted about missing `config.h`, the other to do with `double-conversion`.

XCode output below on Shell Script Invocation Error in `double-conversion`:
[code]

[2017-07-12 01:19] ujwal-setlur commented on #14382
I have seen that too. I am very surprised this got released with this very critical issue.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Gary F <notifications@github.com>
Sent: Tuesday, July 11, 2017 6:11:47 PM
To: facebook/react-native
Cc: Ujwal Setlur; Comment
Subject: Re: [facebook/react-native] [0.45.0] third-party: 'config.h' file not found (#14382)

@Igni

[2017-07-12 01:45] fungilation commented on #14382
And I'm hitting the `double-conversion` xcode build error again.

[2017-07-12 01:58] opp100 commented on #14958
Downgrade to 0.45.1 can fix this issue.

[2017-07-12 02:00] opp100 commented on #14961
have you cd into your project folder?

[2017-07-12 02:03] hahai23456789 commented on #14961
@opp100 yes i have

[2017-07-12 02:06] yozef commented on #7308
This issue has been running since 2016 and still getting this issue. No solution above has solved it for me.

[2017-07-12 02:30] opp100 commented on #14961
Can you do a screen shot of your project folder?

From my iPhone

[2017-07-12 02:31] hahai23456789 commented on #14961
I probably ate shit, installed watchman, went to fuck watchman and bothered me for 2 days

[2017-07-12 02:33] hahai23456789 commented on #14961
@opp100
Thank you for your help, I found the reason, because my computer installed watchman before, I can work properly after uninstalling

[2017-07-12 02:37] jacruzca commented on #6682
I had this problem with my iOS app and restarting the mac did not work. I managed to solve it by doing :
- Open the iOS project with XCode
- Clean the Project (Product -> Clean)
- Clean the build folder (*with alt key pressed: Product -> Clean the build folder)
- Run `react-native run-ios`

Hope it helps.

[2017-07-12 03:10] hahai23456789 commented on #14961
where are you from ,i am from China;

[2017-07-12 04:29] joshuapinter commented on #13351
Got snagged with this as well. I am renaming my items in the Picker and when you update the Picker items, including the renamed one, it loses the selected value, even if your selected value is still in the list.

For example:

[code]

If you change the second `Picker.Item` to:

[code]

It has to re-renders but it loses the selectedValue is just becomes the first one, even though the value of the s

[2017-07-12 04:40] opp100 commented on #14961
卧槽，我也是

From my iPhone

[2017-07-12 05:09] kevinleeTCA commented on #9146
By referring @24ark 's post, I got the following error
![untitled](https://user-images.githubusercontent.com/6743660/28102641-e35f76a6-6713-11e7-822e-87b47f555d30.png)

`RCTRenderingPerf ` do exist in the lib, the way we use it might related to the error.

[2017-07-12 05:39] gandhirahul commented on #570
2 years passed,  any progress recently?

[2017-07-12 05:47] 2zH commented on #11483
WSL only supports amd64 (native 64bit).
React Native use android-sdk 23 that is 32-bit binary and 32-bit binary doesn't support WSL.
[https://github.com/Microsoft/BashOnWindows/issues/390](https://github.com/Microsoft/BashOnWindows/issues/390)
If using android-sdk 24.0+, it will be 64-bit binary.

[2017-07-12 06:17] shireen commented on #4968
Thank you for this thread! You all are the best!!

[2017-07-12 06:40] xvjianzhe commented on #12893
+1

[2017-07-12 06:44] DevSzurmanski commented on #14945
@hramos probably not :(. It's a pretty big app and I would need to put there the whole app. I just though somebody had this problem before :(

@jstheoriginal didn't work :(

[2017-07-12 07:10] #14961 closed

[2017-07-12 07:10] hramos commented on #14960
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information, or the list of reproduction steps is not complete. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I

[2017-07-12 07:10] #14960 closed

[2017-07-12 07:26] AndrewJack commented on #14935
@sandinosaso sorry I should have been clearer.

Open in Xcode -> Select your Project -> "Build Phases" tab -> "Bundle React Native code and images"

Then change the above paths.

[2017-07-12 07:47] ViGi-P commented on #14952
@theobouwman Check whether the following values are same,

- package (usually line 2) in /android/app/src/main/AndroidManifest.xml

- applicationId (usually line 90) in defaultConfig section of /android/app/build.gradle

- Line 1 of /android/app/src/main/java/com/paysack/MainApplication.java

- Line 1 of /android/app/src/main/java/com/paysack/MainActivity.java

[2017-07-12 08:17] xwartz commented on #13079
I have the same issue.

[2017-07-12 08:27] songxuhua opened #14965 "global.nativeTraceBeginSection is not a function"
Once i run the project(react-native run-ios),i edit my js file,try to Reload JS ,but get error global.nativeTraceBeginSection is not a function,what is the wrong?
![2017-07-12 4 26 43](https://user-images.githubusercontent.com/10429468/28108671-f0cea5fe-671e-11e7-9215-be6f723bfee4.png)

[2017-07-12 08:30] xwartz commented on #9979
+1 RN 0.37.0

[2017-07-12 08:42] jsoendermann opened #14966 "SectionList and getItemLayout"
`getItemLayout` is currently hard to compute for `SectionList`s because it gets called with the same parameters as the `FlatList` one (`index` and `data`). To compute the item layout for a row, we have to manually add up the height for everything that comes before it, including section headers and separators.

I wrote [a small package](https://github.com/jsoendermann/rn-section-list-get-item-layou

[2017-07-12 08:46] scerelli opened #14967 "[KeyboardAvoidingView] Possible bug on android when typing on text input"
###  Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

react-native-cli: 2.0.1
react-native: 0.46.1
npm 5.0.3
node 8.1.3
0.27.5

Target Platform: Android 7.1.1 and 8.0
OS: OSX 10.12.5

### Steps to Reproduce

1. Place an input inside a `flex: 1`
2. Type something
3. IT breaks

### Expected Behavior

Keep the ui consiste

[2017-07-12 08:57] EugeneBichel commented on #14491
Hey, I faced the same issue.
<img width="334" alt="screen shot 2017-07-12 at 11 53 54 am" src="https://user-images.githubusercontent.com/5603242/28109759-e01b8086-66f8-11e7-881d-a8eb1ed09941.png">

Yesterday it worked well until I run the following command for removing node_modules: `rm -rf node_modules` and then run `npm install`.

I tried the steps for fixing in the error description, tried to r

[2017-07-12 09:21] himb2001 commented on #5806
facing the same issue, how it can be closed if people who are start using it is also facing the same issue again and again.

react-native init project is not able to create all files required .

[2017-07-12 09:21] liucr commented on #10471
+1

[2017-07-12 09:22] crazyx13th commented on #14851
works again with:
[code]

[2017-07-12 09:23] xareelee opened #14968 "Performance issue with large data: Cells/Rows in the <SectionList/> loading slowly on Android"
**TL;DR**

With large data, `SectionList` will:

1. reload the same item repeatedly
2. performance issue on Android (laggy and only update a few item per scrolling)

### Is this a bug report?

YES

### Have you read the Bugs section of the Contributing to React Native Guide?

YES

### Environment

1. `react-native -v`: `0.45.1` & `0.46.1` (I've tried both versions)
2. `node -v`: `v7.8.0`
3. `npm -

[2017-07-12 09:24] cyclops24 commented on #12005
@butchmarshall , @a1gemmel , @lucaspenney , @georgesdoe  Any news about this?

[2017-07-12 09:26] pvinis commented on #14864
@otoinsa kind of bitter response.
@pokey i agree, there should be some testing for regressions. these bugs in new releases are a pain to fix, and mess up the ci/cd that we have set up.

[2017-07-12 09:30] andpor commented on #11813
What a mess!!!! I just spent several days trying to figure out what is going on with my XCode project. We rely on custom configs heavily - this completely broke our project. When is this going to be fixed proper????

[2017-07-12 09:39] wei63w opened #14969 "CFBundleIdentifier", Does Not Exist"
this is my init new project  but it has error ...

[code]

[2017-07-12 09:46] imwangze commented on #13668
+1 on emulator

[2017-07-12 09:52] pokey commented on #14864
@pvinis Ok, so there is ci/cd that enforces various tests before release / merge to master, then?  So the issue is that the tests that are already in place and automatically enforced just need to be more extensive?

[2017-07-12 09:54] haris-ramzan opened #14970 "Unhandled error Network error"
### Is this a bug?

Unhandled error Network error: Network request failed Error: Network error: Network request failed
at new ApolloError ()

### Environment

1. `react-native`:0.44.0
2. `react-apollo`:1.1.1
3. `apollo-client`:1.0.4

### Steps to Reproduce

1. When turn off internet connection.
2. When turn off internet during app navigation.

### Expected Behavior

Component should render without

[2017-07-12 10:03] doque commented on #12241
I've built the project numerous times. I've set up from-scratch using both `create-react-native-app` and `react-native init`, in both cases I'm unable to require modules outside the respective root directories. Adding the rn-cli.config.js did not help, even running `npm link` didn't work.
The only thing that vaguely resembled a solution was manually copying my modules to `node_modules` of the mobi

[2017-07-12 10:05] LAITONEN commented on #14690
I am surprised nobody replied. I have the same problem.

[2017-07-12 10:06] QuantumInformation commented on #12241
Can someone reopen this ticket?

[2017-07-12 10:19] Baptiste-Garcin commented on #14969
I bet you are using react-native 0.46 on mac...

[2017-07-12 10:21] bitfabrikken commented on #14935
@AndrewJack thanks, works for me!

[2017-07-12 10:30] tapz commented on #14464
In addition to unlinking, I also had to remove `third-party/glog-0.3.4` in the project root.

[2017-07-12 10:31] fanyuexiang commented on #14969
#14604 this is it

[2017-07-12 10:37] scerelli commented on #14967
Update: It doesn't happen on Android < 7.

[2017-07-12 10:39] crazyx13th commented on #14851
sorry,
`"react": "16.0.0-alpha.6"` i got this error
`"react": "16.0.0-alpha.7"` i got another error
`"react": "16.0.0-alpha.8"` seems to works

[2017-07-12 10:39] Aroniez commented on #14851
blank project from `react-native init somename` works fine. The issue is actually when I build a debug or release apk and run it. running react-native run-android works fine. Not sure what's being broken on building apk and installing it on device/emulator. here is my package.json

{
  "name": "my app",
  "version": "1.0.0",
  "description": "My coolest app",
  "author": "Aroniez",
  "private": tr

[2017-07-12 10:41] Aroniez commented on #14851
@crazyx13th `"react": "16.0.0-alpha.8"` works fine?

[2017-07-12 10:41] Baptiste-Garcin commented on #14969
You should try to remove react-native and reinstall the 0.44 version, it worked for me.

[2017-07-12 10:45] crazyx13th commented on #14851
yupp, inside my minimal test project

[2017-07-12 10:54] Aroniez commented on #14851
Let me try that

[2017-07-12 10:59] itswaze opened #14971 "[Android] Rotating screens makes app restart to initial scrren"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.46.0
2. `node -v`: 7.9.0
3. `npm -v`: 4.2.0

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra
3. Build tools (Xcode or Android Studio version, iOS or

[2017-07-12 11:03] saeedhei commented on #4968
When I Run `watchman watch-del-all` in my Project Directory, I got This:
**bash: watchman: command not found**

What Should I do?

[2017-07-12 11:05] gopaldevra commented on #14969
Hey Baptiste, how to remove the react-native and install the 0.44 version? please leme know.

[2017-07-12 11:18] WilliamIPark commented on #14776
Fixed in the latest version of react-native

[2017-07-12 11:18] #14776 closed

[2017-07-12 11:35] fredbt commented on #4968
@saeedhei you have to install watchman. It depends on the platform you're using, but instructions can be found here: https://facebook.github.io/watchman/docs/install.html

[2017-07-12 11:45] sumesh1993 commented on #8615
@alsh76 for me its working when the app is in background, it doesn't work when the app is killed from the multitasking menu.
I resolved that by calling the following function whenever my home screen is launched.
`if(Platform.OS === 'android'){
        NetInfo.isConnected.fetch().then(isConnected => {
          if(!isConnected)
            return;
           //Do something
        });
    }`

[2017-07-12 11:52] oea-san commented on #14528
Happening here too, is there any insights or progress into the matter?

React Native version: 0.44.0
Platform: iOS
Development OS: Mac 10.12.5

[2017-07-12 11:55] jstheoriginal commented on #14945
Did you check whether something in your onScroll or scrollEventThrottle may be reacting to the initial scroll the app is doing that causes it to go back to the start? Does it do it if you change the Flatlist to vertical?

[2017-07-12 11:59] yushengchu commented on #14919
I used a component that was deprecated in version 0.46(Navigator)

[code]

[2017-07-12 12:04] HelloEdit commented on #14838
Same issue here, from `react-native version `react-native: 0.45.1` on Windows, downgrading and @Amurmurmur's method doesn't work

[2017-07-12 12:15] DevSzurmanski commented on #14945
@hramos
@jstheoriginal I resolved my problem - my getItemLayout was wrong, but now I have similar issue. It goes to the good index, then I't blank for about 0.5s and then it's rerendering the item on the good index. My component doesn't rerender. OnScroll and scrollEventThrottle works and they have no affect on my issue. InitialNumToRender didn't helped too even with higher number than initialScro

[2017-07-12 12:18] hahai23456789 commented on #14961
你在哪上班 啊

[2017-07-12 12:29] pvinis commented on #14864
no no. I mean the bugs mess with my ci/cd I have for my project in react native. when I need to do manual steps like the config.h problem, my server cannot build automatically and I need to intervene. I have no idea what kind of testing they have from Facebook for react native, but I agree we should have some that catch these upgrade problems.

[2017-07-12 12:38] Amurmurmur commented on #14838
@HelloEdit
But it works, can you share an example project where the problem occurs for you ?
It works fine on my side no matter RN 0.45.1 or 0.46.1 all still.

[2017-07-12 12:44] wvteijlingen opened #14972 "SectionList calls getItemLayout with out of bounds index"
### Is this a bug report?
Yes

### Have you read the Bugs section of the Contributing to React Native Guide?
Yes

### Environment

1. `react-native -v`: react-native-cli: 2.0.1 / react-native: 0.46.1
2. `node -v`: v8.1.0
3. `npm -v`: 5.0.3
4. `yarn --version`: 0.24.6

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS 10.3
2. Development Operating System (e.g. macOS Sierra, Windows 10): m

[2017-07-12 12:53] ouss-athome commented on #13461
Same probleme here. I tried to inspect the pbxproj whith no success.

[2017-07-12 13:12] alainib commented on #14382
i have the same problem on react native  0.46.0 and 0.46.1 ( ios)
any solution ?

[2017-07-12 13:19] dioxide commented on #14382
+1 , this is a critical issue! since 0.45

[2017-07-12 13:19] ozsirma commented on #11809
![iphone-se](https://user-images.githubusercontent.com/17460410/28119423-7f07c5dc-671d-11e7-98d0-9c2a7ab30c29.gif)

![iphone-7](https://user-images.githubusercontent.com/17460410/28119427-84270c44-671d-11e7-9d28-ae0f6d8f00d8.gif)

I have a problem. This code is running correctly in SE but other scrollable tab has lag in other simulators. Why? This is interesting event.

react-native: 0.44.2
react-

[2017-07-12 13:20] SudoPlz commented on #14382
Why aren't you just using [this](https://github.com/facebook/react-native/issues/14382#issuecomment-314168011)?

[2017-07-12 13:28] chris-griffin commented on #14434
Relevant discussion on the jest repo

https://github.com/facebook/jest/issues/3707

[2017-07-12 13:39] yozef commented on #14969
everybody has this issue, and so far it's being ignored.

[2017-07-12 13:42] sm2017 opened #14974 ""react": "16.0.0-alpha.12""
Today I run `react-native init` , Why it install 16.0.0-alpha.12 version? is it safe for me?

I run `yarn add react-dom` and it fetch version 15.6.1 , so I think it is not match 16.0.0-alpha.12
Is there any version matches ?

[2017-07-12 13:44] alainib commented on #14382
i followed your tips

cd  /node_modules/react-native/scripts/
curl https://raw.githubusercontent.com/facebook/react-native/5c53f89dd86160301feee024bce4ce0c89e8c187/scripts/ios-configure-glog.sh >ios-configure-glog.sh
chmod +x ios-configure-glog.sh

i get this error now

/Users/Alain/Library/Developer/Xcode/DerivedData/iosReactTest2-bphijysweorcfectrxtfnflaibcn/Build/Intermediates/iosReactTest2.bui

[2017-07-12 13:46] llamaluvr commented on #13630
I think I fixed this on my end. I had a CRNA project that I had just upgraded to Expo v.18. I was serving it from my computer via the default "react-native-scripts" that CRNA automatically puts in package.json, but then I was publishing it via the "exp" CLI. When I would run it via CRNA, it would seemingly throw all of Expo on my Android phone into this state where it was using another stack for i

[2017-07-12 13:51] sesm commented on #8547
Try updating SDK path in `<PROJECT_DIR>/android/local.properites`

[2017-07-12 14:01] simba4everyoung commented on #10939
@corymayer Thanks! Saved my day!

[2017-07-12 14:06] chirag04 commented on #14974
because RN is using react v16 alpha. It is as safe as an alpha version can get. Although, i think facebook is using that in production.

yarn add react react-dom will install the latest stable which is 15.6. If you need alpha you need to explicitly mention the version when installing.

[2017-07-12 14:06] #14974 closed

[2017-07-12 14:24] amismailphp commented on #9498
Same issue here Android 5.1

[2017-07-12 14:26] cjcheshire commented on #4977
So for those still having this problem - @dmr07, I found this solution worked for me - https://stackoverflow.com/a/37882782/4392314.  Ensure you set ```paddingVertical: 0```

[2017-07-12 14:31] Baptiste-Garcin commented on #14969
I've done exactly what @yozef said and it somehow worked.

@gopaldevra You might have some issues if you have already an app and try to downgrade it. If it is the case, they are mostly related to the folder structure.
Let me know if it works

[2017-07-12 14:36] Nualiian commented on #8226
@jDeppen kind of a workaround, but resetting the simulator fixes it for me as well

[2017-07-12 14:39] a1gemmel commented on #12005
I did find a workaround. I pivoted my career path and became a Java developer.

[2017-07-12 14:47] gensc004 commented on #12241
@doque, @kylebebak What versions of react-native are you on? I checked back through my solution to see if I missed any steps and haven't found anything that seems amiss, but I will keep trying to help where I can. Also, I currently only use this solution for IOS and haven't tried it on android so that may be part of the problem.

[2017-07-12 15:00] gensc004 commented on #12241
I just made a new project with react-native init, and tried the solution on IOS (I only have access to an IOS emulator at the moment). After adding the rn-config file, closing my bundler, and re-running the build it worked for me. The only thing I can see being a problem is that the solution doesn't work on Android. If someone could confirm that they are seeing the solution not working on Android

[2017-07-12 15:03] hramos commented on #14969
https://github.com/facebook/react-native/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20CFBundleIdentifier

[2017-07-12 15:03] #14969 closed

[2017-07-12 15:04] hramos commented on #14970
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information, or the list of reproduction steps is not complete. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I

[2017-07-12 15:04] #14970 closed

[2017-07-12 15:04] hramos commented on #14971
Thanks for opening the issue! It does not appear like a community member will be able to reliably reproduce this issue. This may be for several reasons; perhaps it affects a particular app but a minimal repro has not been provided, or the issue may be sporadic. As it happens, we need a concrete set of steps that can demonstrably reproduce the issue as this will allow your fellow community members

[2017-07-12 15:04] #14971 closed

[2017-07-12 15:05] hramos commented on #14968
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-12 15:05] hramos commented on #14965
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information, or the list of reproduction steps is not complete. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I

[2017-07-12 15:05] #14965 closed

[2017-07-12 15:06] hramos commented on #14958
Can you tell us more about the issue you're reporting? What did you expect and what happened instead?

[2017-07-12 15:06] #14925 closed

[2017-07-12 15:07] yozef commented on #14447
Devs keep ignoring this issue, and keep closing them. My Faith in RN is loosing momentum.

[2017-07-12 15:25] babakansari commented on #5174
The this._hasteFS.exists method used in react-native\packager\src\node-haste\index.js does not return correct value. It returns false even though the index.android.js file exist in the path.

Check https://github.com/facebook/react-native/issues/14736

[2017-07-12 15:29] rcorrie commented on #10793
I'm experiencing this as well

RN 0.46.0
Xcode Version 8.3.3 (8E3004b)
Simulator Version 10.0 (SimulatorApp-745.10)

![jul-12-2017 11-25-37](https://user-images.githubusercontent.com/6488063/28125545-e4aabaf8-66f4-11e7-8807-3f05d5fda5a3.gif)

[2017-07-12 15:39] sm2017 commented on #14974
But I cannot found react-dom@6.0.0-alpha.12

[2017-07-12 15:46] ragnorc commented on #14326
@mhorowitz I also cleaned my Xcode project several times, deleted all pods and reinstalled them. The issue persists. The funny thing is that I could build https://github.com/mhorowitz/native-navigation-boilerplate without any errors, even after replacing the podfile with mine and adding some npm modules.

[2017-07-12 15:59] doque commented on #12241
I'm running these versions:
[code]

[2017-07-12 16:13] Tom29 commented on #13413
@stoffern have tried your lib and it doesn't help.
I have to switch back to ListView after all.

[2017-07-12 16:21] akaiworld commented on #13069
The same question

[2017-07-12 16:21] HeEAaD opened #14975 "[0.47.0-rc.2] Podspec: subspec "DevSupport" requires InspectorInterfaces"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native: 0.47.0-rc.2
2. `node -v`: v8.1.3
3. `npm -v`: 5.0.3
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS S

[2017-07-12 16:31] sirilicious opened #14976 "[Scrollview] scrollTo behaviour different in Android than iOS"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

react-native-cli: 2.0.1
react-native: 0.45.1
node: v7.10.0
npm: 4.6.1
yarn: n/a

Target Platform: Android
Development Operating System: macOS Sierra
Build tools: Android Studio 2.3.3, Android 4.4.2

### Steps to Reproduce  --  Expected & Actual Behavior

1. Open [htt

[2017-07-12 16:53] javache commented on #14975
I think the correct solution is to add these files to the `jschelpers_legacy` podspec. Can you send a PR for this?

[2017-07-12 16:54] gensc004 commented on #12241
@doque, doesn't look like it is a version problem, are you testing on android or ios?

[2017-07-12 16:54] ckim16 opened #14977 "Unable to resolve module react-native/Libraries/Renderer/shims/ReactNativePropRegistry"
Hi all,

I'm currently using
`"native-base": "^2.2.1"` and
` "react-native": "^0.44.3"` and I get an error saying

`Unable to resolve module react-native/Libraries/Renderer/shims/ReactNativePropRegistry from path/to/node_modules/native-base/dist/src/Utils/computeProps.js`.

I believe this is a version issue and but not sure  this is a native-base's issue or react-native's issue.

Has anyone had sa

[2017-07-12 17:03] dmr07 commented on #10614
Any updates on this? on 0.46.0 running on iOS. still having issues.

[2017-07-12 17:20] fungilation commented on #14382
https://github.com/facebook/react-native/issues/14382#issuecomment-313163119 is the working fix.

[2017-07-12 17:33] d7laungani commented on #12366
I also have this issue so it still exists

[2017-07-12 17:36] thiagovictorino commented on #14447
As you can see at my question @SamMatthewsIsACommonName I have no space in my path
[code]

[2017-07-12 17:36] kisubs commented on #14977
I am getting the same error.

[2017-07-12 17:42] chrisknepper commented on #14178
@janicduplessis Is there a way to use the JS driver, i.e. by passing `useNativeDrive: false`? My calls to `Animated.timing` look like:

[code]

But I still get an error:

[code]

[2017-07-12 17:55] bbuscarino commented on #14977
Got the same error with `"native-base": "2.2.1"` and `"react-native": "0.44.3"`, went back to `"native-base": "2.2.0"` and the error was resolved. Looks like this is an issue with native-base.

[2017-07-12 18:10] charpeni commented on #14977
`react-native/Libraries/Renderer/shims/` is a new directory since `react-native@0.46.1`, you should downgrade your dependencies or upgrade react-native.

I'll close this since it's related to Native Base and not React Native.

[2017-07-12 18:10] charpeni commented on #14977
@facebook-github-bot close

[2017-07-12 18:10] #14977 closed

[2017-07-12 18:11] charpeni commented on #10795
@facebook-github-bot close

[2017-07-12 18:11] #10795 closed

[2017-07-12 18:13] kisubs commented on #14977
i found a work around by changing the import statement in node_modules/native-base/dist/src/Utils/computeProps.js
`var _ReactNativePropRegistry=require("react-native/Libraries/Renderer/native/ReactNativePropRegistry"); `
to
`var _ReactNativePropRegistry=require("react-native/Libraries/Renderer/src/renderers/native/ReactNativePropRegistry");`

You should check where your ReactNativePropRegistry.js

[2017-07-12 18:15] arv opened #14978 "DrawerLayoutAndroid: changing drawerWidth is broken"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.46.1
2. `node -v`: v7.10.0
3. `npm -v`: 4.2.0
4. `yarn --version` (if you use Yarn): 0.23.2

Then, specify:

1. Target Platform (e.g. iOS, Android): Android
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra
3. Build

[2017-07-12 18:31] frantic opened #14979 "New Guide: "Improving User Experience""
As discussed with @brentvatne and other during ChainReact '17, it would be great to have a section in the docs that lists mobile-specific important UX details.

This is a rough checklist:

- [x] hitSlop
- [ ] tab bar
  - tab selected tab to pop
  - if empty stack, scroll to top
- [x] touchable with ripple
- [ ] keyboard:
  - [x] autofocus and return key
  - [x] space under keyboard and dismissing

[2017-07-12 18:33] timmywil opened #14980 "[Image] Retina Assets - Image component does not resolve images with filenames that include '@' symbol"
### Is this a bug report?

Yes, this worked in previous versions.

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.46.1
2. `node -v`: 8.1.4
3. `npm -v`: 5.2.0
4. `yarn --version` (if you use Yarn): none

Then, specify:

1. Target Platform (e.g. iOS, Android): both
2. Development Operating System (e.g. macOS Sierra, Window

[2017-07-12 18:42] achuvm commented on #13731
Thanks @saubcy! This solved the issue for us because we have ~600MB of assets in the packager.

[2017-07-12 19:19] Tom29 commented on #7308
Created new project with different location with same name, clone code.
It works like a charm then move it to the old path then got this error again.

It's weird. I think the path has been cached somewhere.
Eventually, i have to give up the old path then work with the project on the new path instead.

[2017-07-12 19:26] hramos commented on #10793
@rcorrie as this issue is closed, I suggest opening a new issue.

[2017-07-12 19:27] peacechen commented on #14712
Where is 0.45.2 available?  I don't see it on npm at the moment.

[2017-07-12 19:28] hramos commented on #14979
Yes, yes, yes. These are all things that I quickly notice when an app doesn't get it right. Thanks for driving this!

[2017-07-12 19:29] hramos commented on #14980
When did it break? Did you upgrade from 0.46 or from an earlier version?

[2017-07-12 19:31] teameh commented on #14436
@ShannonChenCHN Yeah that worked for me as well. I'll create a PR for this. Took me way too long to figure this out.

[2017-07-12 19:40] kaxline commented on #14838
For me, using [yarn](https://yarnpkg.com/) instead of `npm` was the only thing that worked.

[code]

I also downgraded `babel-preset-react-native` to 2.0.0, so I'm not sure if it was the combination or just switching to `yarn`.

[2017-07-12 19:42] chourobin opened #14981 "<Text> w/ adjustsFontSizeToFit does not use the correct font family when first character is an emoji"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.45.1
2. `node -v`: v8.1.4
3. `npm -v`: 5.0.3
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

1. Target Platform (e.g. iOS, Android): both
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra
3. Build too

[2017-07-12 19:46] teameh commented on #14436
Added another pr, clearing up the categories a bit.

[2017-07-12 19:46] teameh commented on #14436
I'll stop here for now, but maybe I could rewrite the whole page if I understand how everything works a bit more 😏

[2017-07-12 19:48] HeEAaD commented on #14975
Sure, I'll create a PR.

[2017-07-12 19:56] spiskommg commented on #14838
yes yes yes! @kaxline i agree with your yarn theory. relying on that as well as downgrade babel-preset-react-native@2.0.0, react@045.1, and moving /node_modules/react-native/packager/react-native-xcode.sh
to =>
/node_modules/react-native/scripts/react-native-xcode.sh

finally! i've been trying everything for the past few hours.

[2017-07-12 21:01] Memerto commented on #14537
+1

[2017-07-12 21:01] HelloEdit commented on #14838
I upgrade my project to RN 0.46.1, and it's work !

[2017-07-12 21:05] hramos commented on #14954
I think Stack Overflow is a good place for this for now. If you find that this is indeed an issue, feel free to come back and open an issue here, with clear repro steps. Thanks!

[2017-07-12 21:05] #14954 closed

[2017-07-12 21:07] hramos commented on #14952
It looks like the repro steps require adding several other libraries. I wonder if you can provide a minimal repro that shows this is indeed an issue in RN?

[2017-07-12 21:18] hramos commented on #14976
Can you elaborate on steps 2 and 3 - what is expected and what actually happens?

[2017-07-12 21:37] hramos commented on #14712
I don't think it has been released yet. You can see there's no 0.45.2 tag on the repo.

[2017-07-12 21:48] nicolaselmir opened #14985 "ScrollView autoScroll"
Hey Guys, I wanted to know if there is anyway to make a scrollview to scroll and pass by all the items automatically.

[2017-07-12 21:49] opp100 commented on #14961
我在澳洲上班呢，小公司，不出名的

From my iPhone

[2017-07-12 21:58] mhorowitz commented on #14326
Well, I'm glad to hear that native-navigation-boilerplate works for you, at least.

Especially given that you can modify that as you described, and it still works, I still am left with the idea there's something weird about your particular build setup which is causing the issue to persist.  I'm not sure how I can help at this point.

The only thing I can imagine left to try is to start moving your

[2017-07-12 22:01] hramos commented on #14985
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-12 22:01] #14985 closed

[2017-07-12 22:14] peacechen opened #14986 "Native module cannot be null -- RCTNetworking.ios.js"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: CLI is 2.0.0, RN is 0.45.1
2. `node -v`:  7.0.0
3. `npm -v`: 3.10.8

Then, specify:

1. Target Platform (e.g. iOS, Android): iOS 9
2. Development Operating System (e.g. macOS Sierra, Windows 10): macOS
3. Build tools (Xcode or Android Studio ver

[2017-07-12 22:31] oeddyo commented on #14913
Any idea is this my env only? Do you have a minute to look into this?

@hramos

[2017-07-12 22:31] dantman opened #14989 "labelFor: TextInput accessibility on Android"
Right now there's no way to associate a label with a `<TextInput />` for accessibility. Looking information up I see that `android:contentDescription` (accessibilityText) is not recommended for EditText because it stops being announced after the field is filled and `android:hint` (placeholder?) is only announced when empty.

The proper way to label an EditText seems to be to create a text node and

[2017-07-12 22:44] hramos commented on #14712
Waiting on https://circleci.com/gh/facebook/react-native/19525

[2017-07-12 22:57] athornz commented on #10544
Would love Android TV support too.

[2017-07-12 23:24] DiegoZen commented on #14447
I had the same problem and it turned out to be a matter of updates. I had a pending update of macOS Sierra to version 10.12.5, I did it and now it works.

[2017-07-12 23:28] #14975 closed

[2017-07-12 23:28] javache commented on #14840
Please pick https://github.com/facebook/react-native/commit/e43c061e95d3da22b5876f06eee21225abce48f1 which fixes another Podspec issue

[2017-07-12 23:44] gmaggess commented on #7135
I wonder if this has been forgotten by the react native team...

[2017-07-12 23:51] opp100 commented on #14958
Hey @hramos,

I have do a sample project on this issue, we can see the TextInput wrapt in touchable is working on 0.45.1. But not working on 0.46.1.

0.46:
![046](https://user-images.githubusercontent.com/19526135/28144649-208f91fe-67b0-11e7-9890-754c57251458.gif)

0.45:
![045](https://user-images.githubusercontent.com/19526135/28144758-c6d3b086-67b0-11e7-8ee3-f2d1fddc1e78.gif)

source code of thi

[2017-07-13 00:00] scottarivale commented on #13981
@SpecialDOS did you ever find a resolution for this? Running into it myself.

[2017-07-13 00:06] yozef commented on #14447
react-native-cli: 2.0.1
react-native: 0.46.1
npm: 4.2.0
node -v: 6.9.1
watchman: 4.7.0
xcode: 8.3.3
Mac 10.12.5

Still not working

[2017-07-13 00:53] ide commented on #14840
Picked e43c061 and sent 0.47.0-rc.3 to CI. (9afb71f is part of 0.47.0-rc.2).

[2017-07-13 01:29] cyakimov commented on #14777
I'm seeing this issue too. Weird thing is it only happens when I _archive_ the project. Running a `Release` build on the Device/Simulator with Xcode works fine, but archiving the `Release` and then installing it on the Device ends on a blank screen soon after the LaunchScreen.

No crash. Nothing interesting in the logs. Just a blank screen. RN 0.46.1

[2017-07-13 01:34] wei63w commented on #14447
@RooneyJung  My project same to your's

[2017-07-13 01:35] debrice commented on #9958
I have the same issue, I cannot copy/paste etc... in a TextInput when it is in a KeyboardAvoidingView.
Once back in a View, it's works again :(

[2017-07-13 01:42] wei63w commented on #14969
@Baptiste-Garcin     ,  no no no ,  I tried many version because of this error, a few days ago my project version is 45  , i do nothing in project  and when i  using run command it's wrong. then i tred version of 0.44.0 ,0.45.1, 0.45.0 , 0.46.1  but it also was wrong.

[2017-07-13 01:46] wei63w commented on #14969
@fanyuexiang  啥意思 , 你说的那个已经关闭了啊, 也没有成功的解决方案啊 ? 我猜你看得懂中文

[2017-07-13 01:53] fanyuexiang commented on #14969
@wei63w 把"package.json"里面"react"换成这个版本, "16.0.0-alpha.6","react-native": "0.44.3",然后删除node_modules文件夹,重新npm install, 再react-native run-ios,如果还报错,你打开ios项目里面,target-buildphases-bundle react native code and images, 里面有个路径是写错了的,好像是script,正确的是"packager",你按照那个路径打开,把正确的路径写上去再运行试试

[2017-07-13 02:13] SpecialDOS commented on #13981
Nope

[2017-07-13 02:46] turlac commented on #12167
+1
@pecopeco just made my day. thank you for the workaround!
Any idea how we can get around the keyboard limitation of it having to be 'default' and not 'numeric'?

[2017-07-13 03:17] abhishekbansal-kiwi commented on #14777
It was an error in converting swift to bersion 3 when i started using
xcode8.3. Automatic conversion added private or fileprivate function in
front of did finish launching app delegate function. It was not getting
called. I removed fileprivate pr private and voila it all the orked again.
I was on simulator.

On Thu, 13 Jul 2017 at 7:00 AM, Carlos Yakimov <notifications@github.com>
wrote:

--
Best

[2017-07-13 03:20] MZabih commented on #7308
Its all about Luck, Some solutions working for someone but not for anyone else, Ridiculous Good Job React native

[2017-07-13 03:26] beau6183 commented on #13991
+1 for fixing. Without it, socket.io (at least) cannot be used in RN with http-long poll fall back, which is important to have in case someone is running a socket.io-server behind an AWS ELB.

[2017-07-13 04:07] gopaldevra commented on #14969
Thanks, @yozef, @Baptiste-Garcin, Now I am running the app through the Xcode and it's working.
So I am not using the command to run on the iOS.

[2017-07-13 05:33] hey99xx commented on #12597
@maraujop @feisan Looks like FB is building a new version of JSC for Android https://github.com/SoftwareMansion/jsc-android-buildscripts

The README says there's support for more i18n support, but the trade-off is that your apk binary will grow in size.

[2017-07-13 05:43] Sean-Snow commented on #14382
RN:0.46.2  +1

[2017-07-13 05:47] ujwal-setlur commented on #14382
Not to sound critical, but this is such a critical issue. How could this have gotten out? Makes me worry.

[2017-07-13 06:06] apurvajain commented on #4099
@tushar-singh Worked like a charm! Thanks 👍

[2017-07-13 06:22] ruwusu commented on #14854
hack
{left:0,zIndex:10} or {top:0,zIndex:10}

[2017-07-13 06:29] ruwusu commented on #14854
hack style:
{left:0,zIndex:10} or {top:0,zIndex:10}

[2017-07-13 06:57] wei63w commented on #14969
@fanyuexiang    thanks for you , 额 谢谢啦, 跟你说的一样 那个shell会报错 写错东西了 script需要改成packager ,

[2017-07-13 07:15] hramos commented on #14958
Why is everything wrapped in a TouchableOpacity?

[2017-07-13 07:29] FlexWorld commented on #8309
Please Try F10  it works for me..

[2017-07-13 07:49] xiaoyongchen opened #14994 "alert() ActionSheet crash"
### Is this a bug report?

(write your answer here)

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`:
2. `node -v`:
3. `npm -v`:
4. `yarn --version` (if you use Yarn):

Then, specify:

- Target Platform:

- Development Operating System:

- Build tools:

### Steps to Reproduce

(Write your steps here:)

[2017-07-13 07:49] moriarty1900 commented on #14980
I had the same issue. Upgrade from 0.44.3

[2017-07-13 07:51] xiaoyongchen commented on #14994
conflict result to crash    alert() and ActionSheet

[2017-07-13 07:55] dauane commented on #10635
I'm also getting the exact same error on when running the app on Android. This error displays on every touch event.

<img width="277" alt="screenshot 2017-07-13 09 50 19" src="https://user-images.githubusercontent.com/13472071/28155879-c41e1494-67b0-11e7-93c7-648e138f3475.png">

"react": "~15.4.1"
"react-native": "0.42.0"

[2017-07-13 08:02] yash2code commented on #14312
same issue

[2017-07-13 08:04] get2abhi commented on #13079
Write this code in the very beginning of the application

`import com.facebook.soloader.SoLoader;`

[code]

[2017-07-13 08:21] lihue commented on #13684
Same problem on macOS Sierra

[2017-07-13 08:21] gerbenis commented on #14786
We're experiencing the same problem. It that a race condition occurs somewhere at the start of the app. The FlatUIImplementation is kind of critical to us, without it the overall app experience decreases significantly. Any updates on this issue?

[2017-07-13 08:48] mganandraj opened #14995 "Debugging with dev server on Android is broken"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

PS C:\Users\anandrag.FAREAST> react-native -v
react-native-cli: 2.0.1
react-native: n/a - not inside a React Native project directory
PS C:\Users\anandrag.FAREAST> node -v
v8.1.2
PS C:\Users\anandrag.FAREAST> npm -v
5.0.4Then, specify:

- Target Platform: Android

-

[2017-07-13 09:15] DLevai94 opened #14996 "Unable to resolve module *any*"
If I install any package and import it, the packager stops with this Exception all the time.
There are some tips for what should I do, but it isn't working. Every time, I get this error, I trying all of the commands (below on screenshot) and `react-native-git-upgrade`, `npm cache clean --force`, `npm cache verify`, `yarn cache clean` in various order but it's a magic how it works... It's get resol

[2017-07-13 09:30] anhngd commented on #14838
@kaxline Thank you. It worked for me!

[2017-07-13 09:33] doque commented on #12241
I'm running `react-native run-ios`. BTW this issue occurs as well if using `create-react-native-app` and Expo.

[2017-07-13 09:41] roofiah commented on #14882
@dgoudy i have same problem. can you explain step detail for it?. thanks

[2017-07-13 09:43] Thibaut-Fatus commented on #14873
This does not look like an expected behaviour

[2017-07-13 09:45] opp100 commented on #14958
Generally is unnecessarily warp all in one touchable, but users tap on textInput will be much easier than tap the small icon on side.    For example, if there are one drop down picker nested in this touchable, tap on textInput directly shows the picker, and when users select some option called other,
Users can instantly input text in that textInput.

From my iPhone

[2017-07-13 09:51] joncursi commented on #12237
Ditto. I use react-native-config to store environment variables for development, staging, and production. Git upgrade wipes out these files since they are not committed to github (contain secrets). Pain in the butt to have to replace them every month when a new RN version comes out.

[2017-07-13 10:00] breeze1988 opened #14997 "upgrade to 0.46.2 java.lang.ClassNotFoundException: Didn't find class "com.facebook.react.cxxbridge.JSCJavaScriptExecutor""
When upgrade RN version to 0.46.2,I run my apk get this error:

java.lang.ExceptionInInitializerError
                                                                at com.facebook.react.JSCConfig$1.getConfigMap(JSCConfig.java:14)
                                                                at com.facebook.react.ReactInstanceManager.recreateReactContextInBackgroundFromBundleLoader(ReactInstanc

[2017-07-13 10:30] nazywamsiepawel commented on #1706
@syousif94 you're a star, thanks!

[2017-07-13 10:39] LukasKnuthImagineOn opened #14998 "App crashes when logging an error with console.error"
### Environment

1. `react-native -v`: `react-native-cli: 2.0.1 | react-native: 0.42.0`
2. `node -v`: `v6.10.0`
3. `npm -v`: `3.10.10`
4. `yarn --version` (if you use Yarn): Not used

Then, specify:

- Target Platform: Android

- Development Operating System: Android 6.0.1

- Build tools: Gradle, SDK 25

### Steps to Reproduce

(Write your steps here:)

1. Wrap a `JSON.parse` in a try-catch block

[2017-07-13 10:48] diennguyentien opened #14999 "No matching version found for react-native@^0.45.2"
When I upgrade to new version 0.45.2 I received error as below:
[code]
I can see it in github: http://prntscr.com/fv5om7

[2017-07-13 10:53] itinance commented on #14935
+1 @AndrewJack thx!

[2017-07-13 10:56] saeedhei commented on #4968
1. Clear watchman watches: `watchman watch-del-all`.
2. Delete the `node_modules` folder: `rm -rf node_modules && npm install`.
3. Reset packager cache: `rm -fr $TMPDIR/react-*` or `npm start -- --reset-cache
After These 3 steps I got This Error:
![photo_ - - _ - -](https://user-images.githubusercontent.com/25050762/28163278-b091edea-67df-11e7-8915-9bb8a6bc0114.jpg)

[2017-07-13 11:09] kesha-antonov commented on #11692
@shergin Tried 0.46-stable (0.46.2).
Still doesn't work.

[2017-07-13 11:15] akaiworld commented on #13069
I created a swift class to read data from react native async storage. You can try to adopt it to your case. Here it is - https://github.com/akaiworld/react-native-async-storage-to-swift

[2017-07-13 11:18] hyochan35 commented on #7924
When will this be fixed? This is really annoying..

[2017-07-13 11:20] xareelee opened #15000 "SectionList with jest: nodeHandle.getHostNode is not a function"
I have a `<SectionList>` element:

[code]

When running jest, it shows an error:

[code]

How do I deal with this? Or is it just a bug?

### Environment

1. `react-native -v`: 0.46.2 (with jest 20.0.4)
2. `node -v`: 7.8.0
3. `npm -v`: 5.2.0
4. `yarn --version` (if you use Yarn): 0.22.0

[2017-07-13 11:40] pawlowskim commented on #10712
Same problems with fonts on RN: 0.44.0. There are few issues as far as I know about this, or very similar behaviour.

[2017-07-13 11:49] igorczapski commented on #10712
It's a big problem for me. I'm working on a project in which correct font rendering is critical. As a temporary workaround I have applied lineHeight bigger than fontSize.
I also added paddingBottom and marginTop to negative value. I had to manually adjust these values for each font. This was to prevent Text component from growing due to increased line height. But it's not a production solution, I

[2017-07-13 12:00] xareelee commented on #14968
I did follow React-Native docs to use `<SectionList/>` and it acted differently on iOS and Android.

The docs doesn't demonstrate this behavior on Android, so I think it might be a bug.

[2017-07-13 12:08] rdixonbhw commented on #12237
I've started using rn-diff for upgrades, usually pretty quick and less frustrating to do it manually. https://github.com/ncuillery/rn-diff

[2017-07-13 12:16] LAITONEN commented on #6282
0.46 keep constantly getting this error.

[2017-07-13 12:47] nonotest commented on #14866
have this in 46.2

[2017-07-13 12:51] chudnyi commented on #6785
+1

[2017-07-13 12:51] wvteijlingen commented on #14972
The following code shows this issue.

[code]

Console output:

[code]

[2017-07-13 13:05] xahon opened #15001 "Bug: Unable to override Image style prop"
### Is this a bug report?
Yes

### Have you read the Bugs section of the Contributing to React Native Guide?
Yes

### Environment
Ubuntu 14.04

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.45.1

2. `node -v`:
7.10.0

3. `npm -v`:
4.2.0

4. `yarn --version` (if you use Yarn):
0.27.5

Then, specify:

- Target Platform: Android 6.0.1 Miui 8.1.2.0

- Development Operating System: Ubun

[2017-07-13 13:06] ronnen commented on #11206
Exactly same need. Any update?

[2017-07-13 13:18] foghina commented on #14995
CC @gaearon / @bvaughn - looks like this is hitting OSS now.

@mganandraj if you need to be unblocked a workaround is to go into `ReactNativeFiber-dev.js` and `ReactNativeStack-dev.js` (in `Libraries/Renderer`) and remove `if (__DEV__) {` and the corresponding closing bracket at the end of the file.

[2017-07-13 13:29] 9point6 commented on #10544
Since I forgot to post the link before: https://react-native.canny.io/feature-requests/p/android-tv-support

[2017-07-13 13:44] martinezguillaume commented on #13141
I have exactly the same problem !

[2017-07-13 13:48] gopaldevra commented on #14382
Removing the third party folder, not working, please let me know the solution.

[2017-07-13 13:50] DenizTemizer opened #15002 "[Android] Switch thumbTintColor gets reseted"
### Environment

1. `react-native -v`: 0.46.2
2. `node -v`: 8.0.0
3. `npm -v`: 5.2.0

Then, specify:

- Target Platform: Android

- Development Operating System: macOS 10.12.5

### Steps to Reproduce

1. Create empty project on with newest version
2. Add a switch component with a thumbTintColor property and test it
[code]

### Expected Behavior

When toggling the switch to on the thumbTintColor sh

[2017-07-13 13:56] jackc105 commented on #10032
Can also confirm along with @jaimecorrea @Swapnilchavan18  and @joncursi that down grading to 0.6.0 works

[2017-07-13 14:04] theobouwman commented on #14952
@hramos the Auth0 library requires the MainActivity to have the launchMode as singleTask. Could that be the cause of this bug?

[2017-07-13 14:05] martinezguillaume commented on #13207
I have the same problem ... No new solution ?

[2017-07-13 14:06] ninsy commented on #12241
Exact stuff happens with command 'react-native run-android'. What's even worse, I've also moved my source file into project's root and still receiving error 'Unable to resolve module ... Directory doesn't exist".
React-Native ver: 0.45.0, React ver: 16.0.0-alpha.12

[2017-07-13 14:13] myhere commented on #12077
i tried all the methods above, still can't fix it.
and i create a new project with `react-native init` still the same error.  :(

**env**:
- xcode:
  - Version 8.3.3 (8E3004b)
- react-native:
  - 0.42.0
- react
  - ~15.4.1

![image](https://user-images.githubusercontent.com/515630/28170301-8f943c8c-6817-11e7-80af-740dcc82c699.png)

[2017-07-13 14:58] seanyusa commented on #15001
@xahon You should not be using the spread operator within the array. The style prop accepts either a style object or an array of style objects.

[2017-07-13 15:02] moiseshilario opened #15003 "TypeError: global.nativeTraceBeginSection is not a function (Systrace)"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: react-native-cli: 2.0.1, react-native: 0.46.1
2. `node -v`: v7.10.0
3. `npm -v`: 4.6.1
4. `yarn --version` (if you use Yarn): Not used in this bug

Then, specify:

- Target Platform: iOS

- Development Operating System: macOS Sierra v 10.12

- B

[2017-07-13 15:03] seanyusa commented on #14996
@DLevai94 Just to clarify, do you use yarn or npm?
Also are you restarting the packager after installing your dependency?

[2017-07-13 15:31] philtrep commented on #2088
Separation of concerns is important. It is counter intuitive to do this in JS.

[2017-07-13 15:32] timmywil commented on #14980
I upgraded from 0.45.1.

[2017-07-13 15:33] zgc2537 commented on #14882
@roofiah just update version of nodejs of system to the 6.11.1, and it will be ok.

[2017-07-13 15:35] DLevai94 commented on #14996
@seanyusa npm. Yes, I am restarting. As I think this issue is related mostly to package managing. Sometimes when I install X dependency by `npm i --save x` console say: "added 2 packages, removed 1"
and when I look after, it randomly deletes one of my packages. Sometimes this workaround is the best:
1 - close simulator/emulator
2 - stop packager
3 - terminal: `rm -rf ./node_modules` `rm -fr packag

[2017-07-13 15:36] timmywil commented on #14980
I'll check 0.46.0 right now.

[2017-07-13 15:37] bvaughn commented on #14995
I'll look into this.

[2017-07-13 15:44] timmywil commented on #14980
The bug exists in 0.46.0, so something changed between 0.45.1 and 0.46.0.

[2017-07-13 15:48] cbjs commented on #14869
0.46.2, still not working

[2017-07-13 15:53] thatjuan commented on #14997
What have you tried?

Try:

1. `rm -f node_modules`
2. `rm -rf ~/.rncache/`
3. `npm install`
4. `react-native link`

[2017-07-13 16:11] hugomosh commented on #5308
I think there is a problem if you use 'image/jpg' instead of the **correct one: 'image/jpeg'**
Not sure if this can cause a problem or just having the incorrect type is the reason.

[2017-07-13 16:15] brkyldz opened #15004 "Image.prefetch does not work as expected on ios"
### Is this a bug report?

Yes.

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes.

### Environment

1. `react-native -v`: 0.43.3
2. `node -v`: 7.10.0
3. `npm -v`: 5.0.3
4. `yarn --version` (if you use Yarn): 0.24.6

- Target Platform: iOS

- Development Operating System: macOS

- Build tools: Xcode
Yes, the issue is specific to iOS.

### Steps to Reproduce

1. Pr

[2017-07-13 16:29] cooperka opened #15005 "Image.onPartialLoad doesn't work with progressive JPEG"
### Expected behavior

I expected progressive JPEG images to render progressively by default, with callbacks for `onPartialLoad` during rendering. According to the [Image docs](https://facebook.github.io/react-native/docs/image.html#onpartialload) for `onPartialLoad`:

### Actual behavior

The callback is never invoked, and the progressive JPEG image doesn't render at all until the entire file has

[2017-07-13 17:27] hramos commented on #14968
I see. If you feel strongly about this being a bug, feel free to open an issue again, but please make sure to follow the bug template. Thanks!

[2017-07-13 17:45] Malagasy commented on #7495
Resolved here ! RN 0.45.1 using a Redmi 4A with Android 6.

I had this problem calling navigator.geolocation.getPosition() inside componentDidMount()
Instead of getPosition just call watchPosition() with the same parameters.

[2017-07-13 17:52] peacechen commented on #14986
`libRCTNetwork.a` dropped out of the linked libs even though it was in the Podfile.  Manually added it and have gotten past this error.

[2017-07-13 17:52] #14986 closed

[2017-07-13 18:06] clozr commented on #14869
Sorry for late reply. back from vacation. It seems that withCredential flag and the fix to send the cookie by default conflicts each other. Let me analyze a bit more and will update.

[2017-07-13 18:20] Noitidart commented on #14854
Thanks @ruwusu very much for sharing a work around. I tried it but it didn't work. May you please help me understand the hack. I even tried `zIndex` of `999` but it still wouldn't work.

[2017-07-13 18:21] stevehollaar commented on #14927
Is there any good way of suppressing library flow errors like this? If I add:
[code]
to `.flowconfig`'s `[ignore]` section, I get:
[code]

[2017-07-13 19:12] kylebebak commented on #12241
@gensc004

I'm using Expo 18, which means I'm on RN 0.45.0. We found a work-around and no longer need to import modules from outside the project root, but it would be nice to know if you guys find a solution to this problem.

[2017-07-13 19:13] treemore commented on #12884
legacyImplementation={true}  even more performance.
when the FlatList RenderItem has Image , the flat is so slow and re-render many times ,you can see the screen is blink and blink.

"react": "16.0.0-alpha.12",
    "react-native": "^0.46.2",

legacyImplementation={true} is very quick. but has a bug, when render more than 55 items,
no IMage will be show

[2017-07-13 20:57] HeEAaD opened #15006 "RCTScrollEvent: "UI API called from background thread""
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 1000.0.0 (current master, 6dd9d16)
2. `node -v`: v8.1.3
3. `npm -v`: 5.0.3
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

- Target Platform: iOS

- Development Operating System: macOS

- Build tools: Xcode 9 beta 3

### Steps to

[2017-07-13 22:38] hramos commented on #15004
Thanks for the issue! Sorry to ask, but can you update your post to ensure it fits the issue guidelines? You should see a template when you create a new issue with further instructions.

[2017-07-13 22:39] hramos commented on #15002
Can you post a Snack or at minimum screenshots of the issue?

[2017-07-13 22:40] hramos commented on #15000
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-07-13 22:40] #15000 closed

[2017-07-13 23:15] Alejandro-Glooko commented on #14288
+1

[2017-07-13 23:16] GantMan commented on #14734
@joshyhargreaves and @brentvatne - What's the plan?  I just verified this is an issue in React Native 0.46.2

I'll be happy to update the docs, or work with objective C to implement Josh's code etc.  Looks like this has had 2 weeks to sizzle, so feel free to ask me to implement if needed!

Cheers! 🍻

[2017-07-13 23:23] bvaughn commented on #14995
FYI a fix for this has been landed internally and will sync upstream to GitHub whenever the next batch-sync happens. (Soon?)

[2017-07-13 23:23] #14275 closed

[2017-07-13 23:24] joshyhargreaves commented on #14734
Aha @gantman so my fix was in fact complete bogus, didn’t fix anything. Unless we have a fix, then probably no harm in documenting the defect for the time being.

I’m still curious as why setting the width is actually necessary from a technical perspective...

[2017-07-13 23:25] GantMan commented on #14734
I might throw some energy into it, and fall back to just documenting.  Will report back.

[2017-07-13 23:28] joshyhargreaves commented on #14734
More than happy to work with you on this! I was starting by asking the question, why is it necessary for RCTPicker vs other ‘Native’ components

[2017-07-13 23:45] y3n3rrr commented on #13024
Baby Dont Lie - https://www.youtube.com/watch?v=9uo9oy-Eqo4

[2017-07-14 00:02] asselstine commented on #14382
I woke up the next day without having changed a line of code to a missing header:  ```#include "config.h"``` in Glog

I ended up getting it working by removing node modules, installing yarn, then reinstalling the modules.  I'm guessing Yarn does some kind of initialization that npm does not.

[code]

Success!

[2017-07-14 00:04] ckknight commented on #15000
This feels like a legitimate bug in `react-native`. Not necessarily something for StackOverflow.

[2017-07-14 02:14] GantMan commented on #14734
@joshyhargreaves - how about a bandaid to make a default width until we have time to uncover?  I don't feel documenting this is a better path than a default width.  Thoughts?

[2017-07-14 02:16] xareelee commented on #15000
For workaround, adding the following mock code to your `jest_setup.js`:

[code]

`VirtualizedList` has a method `getScrollableNode` which triggers this issue.

[2017-07-14 02:37] AndrewCloud commented on #9496
Hello，I got the same problem, but I dont know how to use  MutableContextWrapper to solve this problem, could you show me ?

[2017-07-14 02:44] wei63w opened #15010 "- `React/BatchedBridge (from `../node_modules/react-native`)` required by `Podfile`"
[code]

and my podfile
[code]
I want to add google map in my project . so
is missing some support with me ?

[2017-07-14 03:02] hramos commented on #15000
Not disputing it's a bug. Feel free to submit a new issue, but please make sure to follow the issue template.

[2017-07-14 05:01] JLLLinn commented on #14958
This is a regression. Confirm that downgrading works. This is needed for user's input that is not from keyboard (e.g. date picker) and consistency on style.

[2017-07-14 05:35] brentvatne commented on #14734
@GantMan - the problem with a default width, if it is just something arbitrary, is that if we set that and then decide to change it, then it's a breaking change and people will potentially need to update their apps. I'd like to have a better solution than guessing an arbitrary width before actually making a code change

[2017-07-14 05:58] igofind commented on #12167
@pecopeco
Thanks ! It works!

[2017-07-14 06:10] ckitterl commented on #14693
It seem like if a state of listItem be changed, all items's props will influenced。That means if you only want to change one of your item，it will be incorrect

[2017-07-14 06:35] shadowwzw opened #15011 "404 on packager defaults file"
https://github.com/facebook/react-native/blob/master/packager/defaults.js
404
in doc:
https://facebook.github.io/react-native/docs/images.html#static-non-image-resources

[2017-07-14 06:39] lihue commented on #13684
This helped me:

- delete node_modules folder
- npm install
- npm run ios (or react-native run-ios)

[2017-07-14 07:00] Manibasto opened #15012 "Shell Script Invocation Error"
### Unpacking /Users/Vaiha/.rncache/boost_1_63_0.tar.gz...
tar: (Empty error message)
tar: Error exit delayed from previous errors.
Command /bin/sh failed with exit code 1

(write your answer here)

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`:
2. `node -v`:
3. `npm -v`:
4. `yarn --version` (if you u

[2017-07-14 07:13] janicduplessis commented on #14178
@chrisknepper Native and non-native drivers are not compatible so you need to use either one per animated value. If you get this error it is probably because you use useNativeDriver on another animation for the same animated value.

[2017-07-14 07:41] DenizTemizer commented on #15002
After component init:
![initial](https://user-images.githubusercontent.com/16053154/28202971-fac2cd38-6877-11e7-81fc-1d0e3988b12a.png)

After first toggle:
![firsttoggle](https://user-images.githubusercontent.com/16053154/28202972-fd98a302-6877-11e7-88f3-f5572e1d3e03.png)

After second toggle:
![secondtoggle](https://user-images.githubusercontent.com/16053154/28202975-feff51aa-6877-11e7-8b7a-b77bf

[2017-07-14 08:14] doque commented on #12241
@kylebebak what's your workaround?

[2017-07-14 08:19] SupriyaKalghatgi commented on #14276
Why is this issue closed without any solution or reference to other issues?

[2017-07-14 08:23] Tom29 commented on #14935
@AndrewJack I'm having the same trouble but with this error: `./node_modules/react-native/scripts/react-native-xcode.sh: No such file or directory` , couldn't search for `Bundle React Native code and images`

[2017-07-14 08:46] aahz commented on #14786
Finally found a solution to solve the problem for me. It seems like it is somewhere [here](https://github.com/facebook/react-native/blob/5c7c65e964f9c8e516ebbd6fc8e812ff915d368c/ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementation.java#L150-L157) at FlatUIImplementation.java and likely described in a comment.

But the solution is to init Fresco before this method execution. So,

[2017-07-14 09:22] ethan605 commented on #14854
Thanks to @ruwusu, it seems that the `elevation` trick could work for now. There's only a problem with shadow effects with elevation, but that's better than not working.

[2017-07-14 09:38] nigelnindo commented on #13758
I run into this on iOS, when I switched react native versions. I think it happens due to stale react native binaries. Cleaning the project and running the build in Xcode solved it for me.

[2017-07-14 10:04] brkyldz commented on #15004
Of course, I did.

[2017-07-14 10:12] nimamyscreen commented on #14717
I get this error (real device) when I try to dismiss a modal and I have to say I'm using react-native-navigation lightbox
[code]

[2017-07-14 10:20] kundantmz opened #15015 "Windows build server 2008 R2: ReferenceError: Unknown plugin "transform-runtime" specified in "\\node_modules\\regenerator-transform\\package.json" at 0, attempted to resolve relative to "\\node_modules\\regenerator-transform" (While processing preset: "\\node_modules\\babel-preset-react-native\\index.js")"
### Is this a bug report?

Not Sure : only facing on Windows Server 2008
No issue reported while running on Mac OS

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`:0.46.2 || 0.31.0
2. `node -v`:6.11.0
3. `npm -v`:3.10.10
4. `yarn --version` (if you use Yarn):

Then, specify:

- Target Platform: Android

[2017-07-14 10:59] johngoren commented on #14209
@richa This fix works great for me (though with **yarn add** instead of **yarn remove**.) Sweet.

[2017-07-14 11:16] ofairfoul commented on #14368
thankyou @SudoPlz 5c53f89 helped me. but why isn't this in 0.46.2 already!?

for all those who are stuck the answer is to add this to your build to manually patch your RN version.
[code]

[2017-07-14 11:20] ofairfoul commented on #14368
thank you @SudoPlz following instructions in 5c53f89 helped me. but why this commit isn't this in 0.46.2 already?

for all those still facing problems manually patching your RN version during build with the folllowing script helped
[code]

[2017-07-14 11:50] DmitryMaksakov commented on #6827
@ilyago, could you please provide some more info about fix? Where we shouldn't use fullchain.pem and should those three lines you wrote?

[2017-07-14 11:55] Manibasto commented on #13390
Unable to resolve module `react/lib/ReactComponentTreeHook` from `/Users/Vaiha/Desktop/mani/AwesomeProject/node_modules/react-native/Libraries/Performance/Systrace.js`: Module does not exist in the module map or in these directories:
  /Users/Vaiha/Desktop/mani/AwesomeProject/node_modules/react-native/node_modules/react/lib
,   /Users/Vaiha/Desktop/mani/AwesomeProject/node_modules/react/lib

This

[2017-07-14 12:33] jzhangdev commented on #5568
@Kottidev Hi, can you solve this problems on android ?

[2017-07-14 13:11] malashkevich commented on #14130
Hi! @zoharlevin, did you able to get it work?
Or may be there are some updates on this issue from developers?

[2017-07-14 13:28] nerdmed commented on #12679
@tadeuzagallo would be great to leave a comment on how to activate the CPU Profiling we cant find any information on that. And your presentation is more then one year ago.

[2017-07-14 13:28] dave-irvine commented on #11610
@alioguzhan It would be great if you could share the solution that you did manage to get working.

[2017-07-14 13:53] mkraft commented on #14866
+1

[2017-07-14 14:07] tadeuzagallo commented on #12679
Yeah, it's been a while since I stopped working on that. Apparently everything is still there, you can try running it by compiling the CPU profiler support library. All you have to do is run `make ios9` inside the folder `JSCLegacyProfiler`, then just recompile your app and the option should now be in the dev menu. If that doesn't work, I honestly don't know, it's been too long.

[2017-07-14 14:08] xahon commented on #15001
Thanx, closing

[2017-07-14 14:08] #15001 closed

[2017-07-14 14:16] mark0978 opened #15017 "Link command does not have very good error messages"
This is a bug report/feature request for better error messages from the link command.  If it can't find the files to write the link statements into, it should gripe, especially if the folders those files should be in don't exist.  The link command lacks a -verbose option so you can see what it is trying to do as well.  In general link appears to be barely usable due to the lack of diagnostics it c

[2017-07-14 14:29] alexmngn commented on #14209
I have tried all possible suggestion from this thread but nothing worked for me.
Although the solution that worked was to clone my project into a different folder name and reinstall everything.
For some reason there must be some caching on my mac the commands above don't clean that has the name of my project somewhere...

[2017-07-14 15:06] jkomyno commented on #14287
@tonystaa I've created a small library around the link @brentvatne posted, but it seems that onPress events aren't captured by the PanResponder used. I don't want to encourage posting of these kinds of questions here on issues either, but would have suggestion?
https://github.com/jkomyno/react-native-user-inactivity

[2017-07-14 15:34] bvaughn commented on #14995
This change has landed in React Native ([221286b](https://github.com/facebook/react-native/commit/221286be136c092df4c2a736d66c2f5aacf3bab4)) and I've reached out to @grabbou about getting it cherry picked/released.

[2017-07-14 15:47] johngoren commented on #14209
It seems like the problem has gotten worse after upgrading to 0.46. I'm now having to run these fixes a few times an hour in order to keep things working smoothly. This kind of thing makes React for Android feel awfully alpha.

[2017-07-14 15:56] mpm commented on #3874
I came here after having trouble importing the [a Wordpress REST API wrapper for node.js](https://github.com/WP-API/node-wpapi).
I had the same issue with `unable to resolve module url`. I took [inspiration from a similar issue](https://github.com/epoberezkin/ajv/issues/435) and solved it by running

`npm install --save url` (and subsequentially installing a package named `util` as well).

As @sat

[2017-07-14 16:07] nerdmed commented on #12679
@tadeuzagallo thanks for your response. I needed to change the url inside the makefile and i have downloaded an old ios8 sdk as promted. But it still failes with the following error:

[code]

[2017-07-14 16:17] smhatre59 commented on #10544
No I am working on some other projects now. Will get back to this one when I get time

[2017-07-14 16:38] coreybyrum7 commented on #9342
Thanks :) @pallavbohara

[2017-07-14 16:49] michaelknoch commented on #12679
`Makefile.base:31: *** "Expected to be compiled with iOS SDK version 8, found 10".  Stop.`
do you have a recommendation how to fix? @tadeuzagallo

[2017-07-14 16:53] hramos commented on #15002
If I recall correctly, someone submitted this as a bug some time ago and it turned out that the native switch on Android behaves in a similar manner. In other words, the issue is with the native control.

[2017-07-14 17:07] nerdmed commented on #12679
@tadeuzagallo this does not seem to lead to anything that will work. Total waste of time. I am wondering why this is still inside the react-native repo. Do you know if there could be anyone else in the RN team that might be interested in adding a CPU profiling to React Native?

[2017-07-14 17:20] #14178 closed

[2017-07-14 17:22] yukkeechang commented on #13149
I get this error when trying to use the react-native-element module :( just the Error: not opened and all the error messages after that. Does anyone know why that happens?

[2017-07-14 17:29] tadeuzagallo commented on #12679
Sorry for wasting your time, sir. I shall aim to do better next time I'm helping someone on my personal time.

All I can suggest is that you send a pull request that removes it and see what the team will say.

The version of the CPU profiler that was used is this script has been removed from recent versions of JavaScriptCore. I'd check if there's any better tooling built into Safari for debugging

[2017-07-14 17:37] janicduplessis commented on #13207
The issue should be fixed currently on master for iOS. Android still has some issues.

[2017-07-14 17:55] nerdmed commented on #12679
@tadeuzagallo i really did not mean your work by waste of time, just wanted to prevent other developers to build the dylib and be disappointed. I think your investment in a cpu profiling tool is brilliant. Like you have presented in your video: Its the only thing that really makes sense when debugging performance issues. Its sad to see that no one in the team took the effort to keep this important

[2017-07-14 18:05] tadeuzagallo commented on #12679
@nerdmed The sampling profiler replaced the LegacyProfiler in recent versions of JSC, however neither of them export a proper API. However, we managed to call the legacy profiler without modifying JSC, but I don't think that's possible with the sampling profiler. My knowledge might be out of date though, as it's been a while since I stopped working on it. I don't who would be the best person to ta

[2017-07-14 18:32] Amurmurmur commented on #10032
@joncursi +1 worked for me just downgraded from 0.6.0 and linking worked just fine

[2017-07-14 18:38] hramos commented on #15015
Can you fix your code blocks? You can use triple ticks, and also surround long blobs of text with a <detail> tag if needed. It's a bit hard to parse this issue at a glance.

[2017-07-14 18:39] #15012 closed

[2017-07-14 18:39] #15011 closed

[2017-07-14 18:41] hramos commented on #15011
Already fixed in master: https://github.com/facebook/react-native/commit/94116dbad59dba489014d46f152b2233b00c8c43#diff-a9a8718d9b53e6140509339957c1e155

[2017-07-14 18:41] hramos commented on #15010
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information, or the list of reproduction steps is not complete. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I

[2017-07-14 18:42] #15010 closed

[2017-07-14 18:42] romanenko commented on #1973
Thanks, @vnil! Your workaround works amazingly well! It should become canonical, until `backfaceVisibility` is implemented in Android.

[2017-07-14 18:43] hramos commented on #15004
Thank you!

[2017-07-14 18:43] hramos commented on #14276
Because the issue is completely empty and is non-actionable.

[2017-07-14 18:45] #14994 closed

[2017-07-14 19:13] githubdoramon commented on #14639
+1

[2017-07-14 19:17] githubdoramon commented on #14639
It seems that the bug only happens whit JS debug on

[2017-07-14 19:32] janicduplessis commented on #15003
I just discussed this with @javache and it seems like the issue is that Systrace is currently broken with the c++ bridge because the module currently doesn't get compiled for the OSS build.

For some reason I did not get that crash but instead no JS trace were reported in the trace I recorded.

[2017-07-14 19:36] Barathwaja commented on #9498
yep same issue.. !! Attaching the screenshot.

![test](https://user-images.githubusercontent.com/5066436/28227908-b50fc9bc-68f9-11e7-8164-75bcdc9d5f4f.png)

[2017-07-14 19:37] hramos commented on #14713
Re-opening for 0.46.3 release.

* 5c53f89dd86160301feee024bce4ce0c89e8c187 nominated by @janicduplessis to address compiling issues when running on device
* ee42cd092894a3084d20979f85fef9c4ef247d22 nominated by @gre, fixes https://github.com/facebook/relay/issues/1866

[2017-07-14 19:53] hramos commented on #14713
v0.46.3 has been cut and will be released once https://circleci.com/gh/facebook/react-native/19569 finishes.

[2017-07-14 19:55] hramos commented on #14174
This should be shipping in 0.46.3 once https://github.com/facebook/react-native/issues/14174 finishes.

[2017-07-14 20:11] ujwal-setlur commented on #14713
Critical iOS fix is needed:

https://github.com/facebook/react-native/commit/5c53f89dd86160301feee024bce4ce0c89e8c187

[2017-07-14 20:19] ujwal-setlur commented on #14713
Looks like it got included. Thanks!

[2017-07-14 20:27] esganzerla commented on #10471
+1

I am not facing the problem with Alert, but closing one Modal and opening other.
Using timeout solved the problem for now.

[2017-07-14 20:49] nikoootine commented on #6785
+1

[2017-07-14 20:59] hramos opened #15018 "[Docs] Releases page does not link to latest release notes if patches available"
### Is this a bug report?

Yes, this is a bug in the website generation script.

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes.

### Environment

This is a website/docs generation issue, specifically one affecting the versions.html page which is always generated from master. The issue is present in master as of this writing, and is unrelated to my local build e

[2017-07-14 21:12] masako-yamada commented on #12754
(for iOS)
In my case, I could run on simulator, but failed on device or release build.
It was because my script was missing from Build Phases and jsbundle was not generated.
I added "Bundle React Native code and images" script like this: (Shell: /bin/sh)
[code]
*"packager" could be "scripts" based on react-native version. You can check /node_modules/react-native/ folder and choose existing one.

[2017-07-14 21:21] ujwal-setlur commented on #14382
0.46.3 is out with this fix.

[2017-07-14 21:45] ujwal-setlur commented on #14548
Aargh! Now that https://github.com/facebook/react-native/issues/14382 was fixed in 0.46.3, I upgraded to 0.46.3. Now I run into this issue! This kind of calls into question how these releases are tested...:(

@itinance, your solution worked. I guess I have to put it into a npm postinstall script.

[2017-07-14 21:58] ujwal-setlur commented on #14464
With RN 0.46.3, @itinance solution worked for me.

[2017-07-14 22:24] ujwal-setlur commented on #14464
This issue occurs in 0.46.3 only if you do an android build **after** you do an iOS build. That link gets created during the iOS build. If you do an android build after a fresh npm install, it's fine.

It's ironic that I ran into this issue after I upgraded after https://github.com/facebook/react-native/issues/14382#issuecomment-315233853 was fixed in 0.46.3

[2017-07-14 22:43] hramos commented on #14999
That version was not published to npm. Try 0.45.1 or 0.46.2.

[2017-07-14 22:43] #14999 closed

[2017-07-14 22:48] MarcoPolo opened #15022 "Systrace is not enabled for JSC on Android"
### Is this a bug report?
Yes

### Environment

- `react-native -v`: 0.46

- Target Platform: Android

- Development Operating System: macOS

### Steps to Reproduce

Systrace module in RN depends on hooks like `nativeTraceBeginSection` to exists (see https://github.com/facebook/react-native/blob/master/Libraries/Performance/Systrace.js#L134). But they are added [here](https://github.com/facebook/r

[2017-07-14 23:34] CharlesMangwa commented on #8290
**TL;DR:** This kind of issue come from an error you made in your code by writing the specified character in the error message. For me it was the use of the new exponentiation operator `**`.

______

I've faced a similar error and I too, didn't find the answer online. So I though I might just share my solution here if it can help anybody else.
Here is what my error looked like:

<img src="https://

[2017-07-14 23:37] ujwal-setlur commented on #14548
Please see https://github.com/facebook/react-native/commit/5c53f89dd86160301feee024bce4ce0c89e8c187#commitcomment-23107918

[2017-07-14 23:37] ujwal-setlur commented on #14464
Please see https://github.com/facebook/react-native/commit/5c53f89dd86160301feee024bce4ce0c89e8c187#commitcomment-23107918

[2017-07-14 23:39] ujwal-setlur commented on #14548
This is fixed in master branch. Guess we need to wait for 0.47.0

[2017-07-14 23:39] ujwal-setlur commented on #14464
This is fixed in master branch. Guess we need to wait for 0.47.0

[2017-07-14 23:53] ujwal-setlur commented on #14713
If we have a 0.46.4, please include https://github.com/facebook/react-native/commit/7d1981ef8245cd6267823a970054cbebb2d2fd14

[2017-07-14 23:55] codergelly opened #15024 "jschelpers/JavaScriptCore.h file not found"
cocopods version 1.2.1

The project is written in swift

More anxious, online and so on

thanks

![image](https://user-images.githubusercontent.com/15134985/28234499-ce419052-68c5-11e7-9bde-f9972b14d205.png)

![image](https://user-images.githubusercontent.com/15134985/28234478-a3832eb6-68c5-11e7-8fb8-3c95125eeeef.png)

[2017-07-15 00:09] elmarti commented on #13765
I've tried all of these steps, still getting `undefined is not a function (evaluating 'transform.forEach')`

[2017-07-15 00:52] silasrm commented on #7306
Hi guys!

I'm solving this problem in the server. Following this https://www.bjornjohansen.no/securing-nginx-ssl

Precisely this part:

In your webserver use the certchain file as certificate file.

[2017-07-15 03:25] carloabelli opened #15025 "Expo Something Went Wrong Error"
### Is this a bug report?

Yes

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes

### Environment

1. `react-native -v`: 0.45.1
2. `node -v`: v8.1.4
3. `npm -v`: 5.3.0
4. `yarn --version` (if you use Yarn): 0.27.5

Then, specify:

- Target Platform: iOS, Android

- Development Operating System: Linux (Arch Linux), 4.12.1

- Build tools:

### Steps to Reproduce

(W

[2017-07-15 04:04] #15006 closed

[2017-07-15 04:18] gonglong commented on #7495
@raldred
RN version
0.46
Android Build Target Version
api 22
Android Device Version
6.0.1
Devices you're having this issue on.
nexus 5

Calling getCurrentLocation without the third parameter 'options' solves my issue.  It does not work for me that setting 'enableHighAccuracy' as false

[2017-07-15 04:29] janreyho commented on #9256
Same with RN 0.41

[2017-07-15 05:00] eurobob commented on #13289
Have come back round to wanting this functionality again and doing a small bit of digging. I think if we change this file:

```Libraries/Core/Devtools/setupDevtools.js```

to somehow use this package: https://www.npmjs.com/package/bluetooth-websocket-api

I think we could achieve this, although I'm not entirely sure what i'm doing :/

[2017-07-15 05:15] chandanGr opened #15026 "compileDebugJavaWithJavac - is not incremental"
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:app:prepareComAndroidSupportAppcompatV72301Library UP-TO-DATE
:app:prepareComAndroidSupportMediarouterV72300Library UP-TO-DATE
:app:prepareComAndroidSupportSupportCompat2520Library UP-TO-DATE
:app:prepareComAndroidSupportSupportCoreUi2520Library UP-TO-DATE
:app:prepareComAndroidSupportSu

[2017-07-15 05:20] chandanGr commented on #15026
I am new to react native and I was trying to setup FCM on my react native project and I got this error, can anyone please solve this error .

[2017-07-15 05:44] sm2017 opened #15027 "Version problem"
`react-native init` install react@16.0.0-alpha.12 I need react-dom too so I install last version react-dom@15.6.1 , these version are incompatible so I downgrade react to react@15.6.1

When I run application , I see this error

![image](https://user-images.githubusercontent.com/19644997/28237566-a080c42a-6957-11e7-87fd-691fb64e1e39.png)

[2017-07-15 07:26] GurtejSafaltek commented on #9347
yes I'm facing same issue @jaredtibs

[2017-07-15 08:10] JanPeter commented on #14178
Is there any roadmap when style properties like `height` or `backgroundColor` will be supported by native animations?

[2017-07-15 08:29] jayshah123 commented on #15022
I have filed a similar issue regarding missing systrace due to fbsystrace.h @ https://github.com/facebook/react-native/issues/14394

[2017-07-15 08:35] #15026 closed

[2017-07-15 09:06] ajostergaard commented on #14334
https://react-native.canny.io/feature-requests/p/hot-reload-multiple-clients-simultaneously

[2017-07-15 09:10] ajostergaard commented on #14334
I have what appears to be the same problem when running Android and iOS simulators simultaneously - the last one reloaded gets the hot reload. Does that work for others?

[2017-07-15 11:54] udhayaraj01 opened #15028 "React Native fetch() Network Request Failed(This error message is useless please configure to give some detailed error)"
### Is this a bug report?

(write your answer here)

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`:
2. `node -v`:
3. `npm -v`:
4. `yarn --version` (if you use Yarn):

Then, specify:

- Target Platform:

- Development Operating System:

- Build tools:

### Steps to Reproduce

(Write your steps here:)

[2017-07-15 11:56] ketankulkarni opened #15029 "undefined is not an oject(evaluating 'hr,ReactCurrentOwner')"
### Is this a bug report?

(write your answer here)

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native - 0.44..2`
2. `node -: 6.10.3`
3. `npm -v`: 3.10.10
4. `yarn --version` (if you use Yarn): no

Then, specify:

- Target Platform: Android

 ubuntu 16.04 LTS
- Development Operating System:

 Android Studio
-

[2017-07-15 12:33] paulftw commented on #14594
This is not a bug in react-native - it's a really [old known issue with CocoaPods](https://github.com/CocoaPods/CocoaPods/issues/1275) and latest react-native-fbsdk commits trigger it by using more modern project.pbxproj format.
I think there's no reason to track it in the RN repository as the root cause and possible workarounds are isolated inside either cocoapods or rnfbsdk.

react-native instal

[2017-07-15 13:11] ricardosasilva commented on #14209
Try this: Delete both the $TMPDIR/react-* and the file $TMPDIR/haste-map-react-native-packager-*

    $ rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/haste-map-react-native-packager-*

I guess the reason that it worked for some people by running with sudo is because it may use a different $TMPDIR and thus needs to recreates the haste-map... file.

[2017-07-15 13:38] treemore commented on #13600
@pepavesely   that is right . before  i set   android:largeHeap="true"  ,the image will not show when i get 50 records. but after i set it , i can only show 200 records.
use ListView and set renderItem  use an Image ,when every Image uri different ,the problem will be come.
if use FlatList  ,Image will be show right .but FlatList has a delay problem..
https://github.com/facebook/react-native/issue

[2017-07-15 13:47] treemore commented on #13600
every renderItem has a different Image uri .
if all the image has the same uri will work well.

[2017-07-15 14:14] peterp commented on #7607
I don't think this issue should be closed since square bracket and dot notation are both valid, it should be bundling correctly in production.

@andrewtoth could you re-open this?

[2017-07-15 14:26] peterp commented on #13976
@grabbou I couldn't find this in the release notes?

[2017-07-15 14:50] srameshr commented on #7474
Any updates on this? Still see the status bar when the modal opens.

[2017-07-15 15:30] andrewdacenko commented on #14935
@Tom29 in case you've initiated project with react-native v 0.46 and then downgraded dependency - you need to change in your `ios/${Project}.xcodeproj/project.pbxproj` next lines:
* from `export NODE_BINARY=node\n../node_modules/react-native/scripts/react-native-xcode.sh`
* to `export NODE_BINARY=node\n../node_modules/react-native/packager/react-native-xcode.sh`

[2017-07-15 15:46] prayasht commented on #8714
I subclasses `RCTEventEmitter` for a background timer and for some reason the events fire in the background in the emulator but not on my real iOS device. Does anyone know why this happens? `sendDeviceEventWithName` works perfectly but it sends a deprecation warning.

[2017-07-15 16:39] arronhunt commented on #14340
I'm having the same issue. The problem I'm encountering is that I'm saving my icons @3x for retina displays, but they get rendered 3x larger than they should on the screen. You can't use `iconSize` when using `require()` to import the PNG. Any workarounds for this?

[2017-07-15 16:40] codler commented on #11721
If `Libraries/React.xcodeproj` are red in xcode then reinstall node_modules

[2017-07-15 17:02] aneesv commented on #14361
We have the same issue with android web view, App is crashing when user clicks on select inside webview

[2017-07-15 17:59] samstr commented on #5823
+1

[2017-07-15 18:57] janicduplessis commented on #14178
It's not on the roadmap at the moment, backgroundColor should not be that bad to implement but layout properties like height is a lot harder. You can usually get around those limitations by using opacity with multiple stacked views and LayoutAnimation.

[2017-07-15 18:59] chenghaohao opened #15030 "it did not contain a package, nor an index file"
### Is this a bug report?

(write your answer here)

### Have you read the Bugs section of the Contributing to React Native Guide?

(Write your answer here.)

### Environment

1. `react-native -v`: 0.46.1
2. `node -v`:v6.10.3
3. `npm -v`:3.10.10
4. `yarn --version` (if you use Yarn):v0.24.5

Then, specify:

- Target Platform: Android

- Development Operating System: Windows10

- Build tools:

###

[2017-07-15 19:32] codler commented on #14423
Reinstall node_modules `rm -rf node_modules && yarn`

[2017-07-15 20:25] atlanteh commented on #14645
Yep, happens to me too

[2017-07-15 20:43] wilkerlucio commented on #5806
I'm having the same issue too, is there a workaround for it?

[2017-07-15 20:50] himb2001 commented on #5806
@wilkerlucio.       Install yarn and then try to run 'react-native init project'
I am able to run it after installing yarn

[2017-07-15 21:00] wilkerlucio commented on #5806
@himb2001 thanks, in the end I realized my issue was the node version, was using 4.x, upgrading to 6.11.1 solved the issue

[2017-07-15 22:09] dsimmons opened #15031 "Inconsistent dynamic array-length rendering behavior between iOS and Android."
### Is this a bug report?

Yes.

### Have you read the Bugs section of the Contributing to React Native Guide?

Yes. If there is any open issue(s) related to this behavior, I must have missed it.

### Environment

1. `react-native -v`:

[code]

2. `node -v`: `v7.10.0`
3. `npm -v`: `4.2.0`
4. `yarn --version` (if you use Yarn): `0.24.5`

- Target Platform: iOS, Android

- Development Operating Syst

[2017-07-15 23:28] fabien-h commented on #14639
Yes, as described ; debug mode with a debugger opened. So not blocking ; just annoying when building the app.

[2017-07-16 00:08] mhorowitz commented on #14326
Another option is to construct a repro you are willing to post.  The failure is building OSS code, so it should be possible to remove the proprietary bits of your system, confirm it still fails, and post the code (Podfile, sources, etc) so I can see it happen and dig into it.  (And if it doesn't fail, that helps narrow down the culprit.)  Given that this is a build-time failure, if the resulting a

[2017-07-16 00:48] giulianok commented on #2603
I'm having the same issue. When I'm debugging with Chrome, for each request, I have to click on the app (simulator) to be able to make each request. Without debugging I works fine :(

[2017-07-16 00:51] giulianok commented on #14545
Having the same problem here (I commented in https://github.com/facebook/react-native/issues/2603)

When I'm debugging with Chrome, for each request, I have to click on the app (simulator) to be able to make each request. Without debugging I works fine :(

[2017-07-16 01:17] thaibinhnguyenduc commented on #9342
In Windows, Please follow this image, you will solve this issue.
![config node js](https://user-images.githubusercontent.com/15172078/28243712-39bfb4be-69ff-11e7-9ef2-21a054afd1c0.png)
![config android tools](https://user-images.githubusercontent.com/15172078/28243713-39ce305c-69ff-11e7-833a-f26d223d2698.png)

[2017-07-16 01:59] andrewschreiber commented on #13309
Removing `yarn.lock` and `package-lock.json` then running `yarn` worked for me.

[2017-07-16 02:52] PaulAndreRada commented on #4845
It's definitely the `live reload` and `remote debug` in my case.
I tested it with the `performance monitor`  on a text input while typing as fast as my little piggies could handle, my RAM moved from:

`150MB` to roughly `162MP` when off.
`150MB` to a whopping `193MB` when `live reload` and `remote debug` where on

@JasonHenson You might want to look into [debounce and throttle](https://css-tricks.

[2017-07-16 03:15] samthui commented on #3422
Setting ScrollView's `style={{width: "100%"}}` works for me.

[2017-07-16 03:17] samthui commented on #3825
Setting ScrollView's `style={{width: "100%"}}` works for me.

[2017-07-16 05:22] Rehubbard commented on #12754
After looking through all of these comments, I found no solution worked for me. My packager terminal has an es6 spread error and I believe its tied to issue #14858. I am running the following:

node: 6.11.1
npm: 3.10.10
react-native: 0.46.3

I hope they resolve this issue soon, because I can't even get a sample app off the ground and running. Feel like that's a major problem

[2017-07-16 08:07] peterp commented on #15027
You could install `react-dom@16.0.0-alpha.12`

[2017-07-16 08:17] zoharlevin commented on #14130
Hi @malashkevich , I haven't tried anything further myself :(
I'd love to hear from someone who is more familiar with the internals of Animated about this issue.  I might be mistaken, but to me it feels like this is one example of a wider bug.

[2017-07-16 08:29] hectoroso commented on #14996
I'm having what appears to be the same/similar issue. I have 0.45.1 projects I created a week or so ago where everything works fine, but now when I try to create projects:

react-native: react-native-cli: 2.0.1, react-native: 0.46.3
node: v6.11.1
npm: 2.15.11

All I do is run:

- complains I don't have babel-core

I've also tried it where I install babel-core before i try run-ios.

<img width="374

[2017-07-16 08:33] dongsx commented on #14740
+1

[2017-07-16 09:35] sm2017 commented on #15027
@peterp I tried `react-dom@16.0.0-alpha.12` But I have same issue
see https://github.com/necolas/react-native-web/issues/570

[2017-07-16 09:36] malashkevich commented on #14130
@zoharlevin Yeah, I agree. As for now I just split my view into 2 separate and animate on one color and on other - transformations.

[2017-07-16 09:53] laurent22 opened #15034 "App crashes when using geolocation when ACCESS_FINE_LOCATION permission is missing"
### Is this a bug report?

yes

### Steps to Reproduce

1. Use geolocation without ACCESS_FINE_LOCATION permission
2. Application crashes

### Expected Behavior

I would expect an error message or a dialog to authorise ACCESS_FINE_LOCATION.

### Stacktrace

[code]