[2019-05-13 17:07] AbdelrahmanNabil96 commented on #24825
Had to replace it with `recyclerlistview` which resolves my problem, thanks. https://github.com/Flipkart/recyclerlistview

[2019-05-13 17:07] #24825 closed

[2019-05-13 17:19] m-pol commented on #24688
@zhongwuzw Yeah, that fixed it. Thanks.

[2019-05-13 17:24] arshidkv12 commented on #24826
I tried with RN 0.59 in laptop. I am getting same issue in Android.

[2019-05-13 17:27] dratwas commented on #21282
@zamotany and I are trying to debug cpp code from ReactAndroid to find out what happens. We already managed to attach debugger and it stops on breakpoints but we are not able to see values of variables because of optimisation. We found that we can turn off optimisation by adding `APP_OPTIM=debug` in `Application.mk` or setting `NDK_DEBUG=1` when running `ndk-build`, but it fails with either of tho

[2019-05-13 17:35] jlocke2 opened #24830 "openURL doesn't reject promise after pressing Cancel"
Based on the [documentation for openURL](https://facebook.github.io/react-native/docs/linking#openurl), I expect the returned promise to be rejected when pressing `Cancel` on the confirmation alert in iOS.

React Native version:
[code]

## Steps To Reproduce

1. Call `openURL` on a phone number.
2. Press the `Cancel` option.

Describe what you expected to happen:
1. Promise is rejected.

Describe

[2019-05-13 18:26] adil-s commented on #24519
same here, I just wonder why accessibility is not being taken seriously!
the first issue regarding this bug was open in 2017. but noone seems to care to fix it.

[2019-05-13 18:46] craigcosmo opened #24831 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
after the react-native run ios command, I got this bug

[code]

React Native version:

Environment:
  OS:  macOS 10.14.2
  Node:  10.15.3
  Yarn:  0.17.10
  npm:  6.4.1
  Watchman:  4.6.0
  Xcode:  Xcode 10.1 Build version 10B61
  Android Studio:  3.3 AI-182.5107.16.33.5314842

Packages: (wanted => installed)
  react: 16.2.0 => 16.2.0
  react-native: 0.52.x => 0.52.3

## Steps To Reproduce

1. clo

[2019-05-13 20:05] agrass commented on #17530
Anyone already solved this?? I'm with this issue in RN 52, I upgraded to 56 but still the error. I tried the steps to reproduce it, but I can't. Some devices still firing this randomly.

[2019-05-13 21:45] ChrisAlatorreT opened #24833 "Failed to load bundle. Unable to resolve module `path`. Module `path`does not exist in the Haste Module map"
I was adding style to a part of my project, I was saving and reloading every line, after I added a position: ´absolute´ the project stopped working. I do not think the styles are related to this, but just in case...

This is the screenshot:
![IMG_9748](https://user-images.githubusercontent.com/31039275/57656486-150d8180-759e-11e9-8922-7e7cc1582cf5.jpg)

I have tried all the possible solutions that

[2019-05-13 23:05] gregkerzhner commented on #24543
Updating react and react native fixed the issue for me

[2019-05-13 23:13] shamkhalshukurov opened #24834 "Question: PanResponder sometimes didn't trigger on android"
this.state.animationH.x.addListener(({value}) => this.setState({hX:value}));
this.state.animationH.y.addListener(({value}) => this.setState({hY:value}));
this.state.animationM.x.addListener(({value}) => this.setState({mX:value})); this.state.animationM.y.addListener(({value}) => this.setState({mY:value}));

 this._panResponderH = PanResponder.create({

            onMoveShouldSetResponderCapture:

[2019-05-13 23:15] #24834 closed

[2019-05-13 23:15] tamdao commented on #17530
any luck with this issue?

[2019-05-13 23:19] shamkhalshukurov opened #24835 "Question: PanResponder onPanResponderMove triggers big value first time (after reload app))Question:"
this.state.animationH.x.addListener(({value}) => this.setState({hX:value}));
this.state.animationH.y.addListener(({value}) => this.setState({hY:value}));
this.state.animationM.x.addListener(({value}) => this.setState({mX:value})); this.state.animationM.y.addListener(({value}) => this.setState({mY:value}));

this._panResponderH = PanResponder.create({

        onMoveShouldSetResponderCapture: () =>

[2019-05-13 23:25] #24835 closed

[2019-05-14 00:53] deecewan commented on #22652
This is still broken.

Running `new Date('2019-05-13T00:00:00+10:00').toLocaleString()` with the device set to `Australia/Brisbane` (which is also +10) results in an output of `'5/12/2019, 2:00:00 PM'`. With options passed in, it looks as tho it just renders the dates in GMT. ('May 12, 2:00:00 PM GMT')

I'm running React Native 0.59.8, with the latest JSC from `jsc-android-buildscripts`, and follo

[2019-05-14 00:56] iRayan7 opened #24837 "RTL languages text gets cut-off vertically on Android"
RTL languages text gets cut-off vertically on Android (Pixel 2 and OnePlus 6). This is a new app just initialized to reproduce the issue.

Arabic text, last line vertically cut off:
<img width="322" alt="Screen Shot 2019-05-14 at 3 27 46 AM" src="https://user-images.githubusercontent.com/24809389/57663012-cd691300-75fa-11e9-9e5c-cc06ad9c9caa.png">
Where it should be rendered like this:
<img width=

[2019-05-14 01:53] EternalChildren commented on #22592
try to modify some configurations in tsconfig.json like below
`
  module: "es2015",
  target: "es2015"
`
it's work for me.

[2019-05-14 02:45] ralph-dev commented on #24831
Sometimes you can have old or duplicated pods in your project. This is a snapshot from when i had a problem before and how our company solved it! Let me know if this works and good luck!

Command failed: /usr/libexec/PlistBuddy -c Print:CFBundleIdentifier build/Build/Products/Debug-iphonesimulator/cheapreats.app/Info.plist
Print: Entry, ":CFBundleIdentifier", Does Not Exist
DELETE THIS LINE FROM P

[2019-05-14 03:07] shihabus opened #24838 "Boost C++ lib out dated"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react-native/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.
_Sorry for not following the issue template._
**My only concern is, is RN making using of Boost C++ library. If so which version?**

[2019-05-14 03:08] nadavmos commented on #24837
same issue with hebrew when the targetSdkVersion is 28. you can change targetSdkVersion to 27 as a workaround

[2019-05-14 03:15] #24838 closed

[2019-05-14 03:17] shihabus opened #24839 "Question: React Native Boost C++ library version"
🚨 The issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

### https://stackoverflow.com/questions/tagged/react-native

If you have a coding question related to React Native, it might be better suited

[2019-05-14 03:25] #24839 closed

[2019-05-14 03:46] zhongwuzw commented on #24688
cc. @cpojer @kelset .

[2019-05-14 03:51] EdwardtoGitHub opened #24841 "Where is the definition of the "WITH_FBJSCEXTENSIONS" and "JSEvaluateSourceCode” in the source code of C++"
![image](https://user-images.githubusercontent.com/19811123/57669683-8f8dde00-763e-11e9-9997-d3704a9f6bbf.png)

[2019-05-14 03:55] #24841 closed

[2019-05-14 04:07] mg4u commented on #10812
@AE0011  did you find a solution?

[2019-05-14 04:12] EdwardtoGitHub opened #24842 "Question: Where is the definition of the "WITH_FBJSCEXTENSIONS" and "JSEvaluateSourceCode” in the source code of C++"
🚨 The issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

### https://stackoverflow.com/questions/tagged/react-native

If you have a coding question related to React Native, it might be better suited

[2019-05-14 04:13] budleigh commented on #22378
Seeing this with 0.59. I've tried 14 different babel presets, from just `preset-env` to `babel-preset-react-native` and the default `module:metro-react-native-babel-preset`. In all cases, replacing render with an arrow function fixes the issue, but fails otherwise.

[2019-05-14 04:15] #24842 closed

[2019-05-14 04:35] dilip91 commented on #24578
Any update on this......?

[2019-05-14 06:37] AE0011 commented on #10812
@mg4u I downgraded react native to version 0.59.2 and problem solved. it seems that it is fixed in new release 0.59.8 but I didn't test it
https://github.com/facebook/react-native/releases

[2019-05-14 07:39] asifalikhokhar commented on #23707
I am facing the same issue, any work around ?

[2019-05-14 07:40] indapublic opened #24844 "Unhandled JS Exception: Can't find variable fetch"
React Native version:

[code]

If I will start Metro by `npx react-native start`/`npm start` (with cache clearing or not) - I receive that error:

![image](https://user-images.githubusercontent.com/856260/57678489-a8ad8380-766c-11e9-8c14-76394fa37556.png)

But if I will start via `./node_modules/react-native/scripts/launchPackager.command` - it works

What's can be wrong?

[2019-05-14 07:42] chenliez commented on #24429
Confirm Linking.getInitialURL() always returns null
iOS
0.59.8
Simulator
Universal Link

[2019-05-14 07:47] SantoshKumar4547 opened #24845 "Could not initialize class com.android.build.gradle.internal.VariantManager"
While running command 'react-native run-android' from my terminal system thwors the following ERROR.

info JS server already running.
info Building and installing the app on the device (cd android && ./gradlew app:installDebug)...

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/santoshkumar/sites/AwesomeProject/android/app/build.gradle' line: 1

* What went wrong:
A problem

[2019-05-14 07:55] #24845 closed

[2019-05-14 08:05] SantoshKumar4547 opened #24846 "Could not initialize class com.android.build.gradle.internal.VariantManager"
info JS server already running.
info Building and installing the app on the device (cd android && ./gradlew app:installDebug)...

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/santoshkumar/sites/AwesomeProject/android/app/build.gradle' line: 1

* What went wrong:
A problem occurred evaluating project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run w

[2019-05-14 08:55] TrustTheBoy opened #24847 "Regular check Chinese punctuation, return true in development mode, return false in release"
Regular check Chinese punctuation, return true in development mode, return false in release

React Native version:
[code]

## Steps To Reproduce

1.For example, the following check returns true under normal conditions, true in react native debug mode, false after release
[code]

Describe what you expected to happen:
Release support for Chinese symbols

Snack, code example, or link to a repository:

[2019-05-14 09:11] platonish commented on #24624
For me, the issue was that although the app would come to the foreground on clicking on the app link (say from an SMS), the callback passed to `Linking.addEventListener` never got fired.

So what I ended up doing is this: add an `AppState` listener to check the url from `Linking.getInitialURL`, and if it is a valid URL, redirect accordingly.

[code]

[2019-05-14 09:16] platonish commented on #22509
See [this](https://github.com/facebook/react-native/issues/24624#issuecomment-492155502)

[2019-05-14 09:22] mohsenomidi commented on #24627
Hi All,

I found a work around solution for Http (non HTTPS)  fetch :
Add the codes in your main AndroidManifest.xml

`<manifest
  xmlns:tools="http://schemas.android.com/tools">
  ....
    <application
      android:usesCleartextTraffic="true" tools:targetApi="28">
    ...
    </application>
</manifest>`

[2019-05-14 09:58] sardmendoza commented on #24529
Adding `android:usesCleartextTraffic="true"` to AndroidManifest.xml seems to fix the issue on my end.

[2019-05-14 10:24] sinhpn92 opened #24850 "Question: Buiding react native from source on android fail"
Hello,
I have an issue with building react native from source (0.55.4) on android.
I got error:
`Android/sdk/ndk-bundle/build/core/add-application.mk:178: *** Android NDK: APP_STL gnustl_shared is no longer supported. Please switch to either c++_static or c++_shared`

build.gradle:
[code]

app/build.gradle:
[code]

settings.gradle:
[code]

local.properties:
[code]

gradle-wrapper.properties:

[cod

[2019-05-14 10:25] #24850 closed

[2019-05-14 10:36] kelset commented on #24688
Thanks @zhongwuzw

[2019-05-14 10:36] #24688 closed

[2019-05-14 10:38] MakhouT commented on #23943
Having the same issue here, I am on RN 0.59.8

[2019-05-14 10:50] Niryo commented on #24432
why is this closed?
a workaround is not a solution, it is still an issue.

[2019-05-14 10:55] xgAnd opened #24851 "getReactInstanceManager().getCurrentReactContext() is not correct return in Android"
join up a android sdk return msg on BroadCastReceiver i get it and make a call back in my Activity i want to send the msg to react-native but get a failure.
![ECA26742-9AC8-48E6-A2C3-620203860622](https://user-images.githubusercontent.com/27660602/57692361-2aa3a980-7679-11e9-82ce-7120a8724948.png)
getReactInstanceManager().getCurrentReactContext() look at is not return a correct ReactContext under

[2019-05-14 10:58] xgAnd commented on #24851
![93EB9946-3423-40AA-828C-4162A73595C3](https://user-images.githubusercontent.com/27660602/57692796-43f92580-767a-11e9-9bf1-31bbf2115932.png)
![E5993278-9BE4-41F3-86FD-A39EA11EFD71](https://user-images.githubusercontent.com/27660602/57692799-45c2e900-767a-11e9-9788-6d7a303e2996.png)

[2019-05-14 10:58] sinhpn92 opened #24852 "Buiding react native from source on android fail"
Hello,
I have an issue with building react native from source (0.55.4) on android.
I got error:
`Android/sdk/ndk-bundle/build/core/add-application.mk:178: *** Android NDK: APP_STL gnustl_shared is no longer supported. Please switch to either c++_static or c++_shared`

React Native version:
[code]

## Steps To Reproduce

build.gradle:
[code]

app/build.gradle:
[code]

settings.gradle:
[code]

local

[2019-05-14 11:06] rochapablo commented on #24505
Same here!

This is not my first version; I have already published my app, but some how it stop working and only for releases.

[code]

[code]

[2019-05-14 11:13] hariegnify commented on #24505
@rochapablo Do you have bundle file in android/app/src/main/assets

[2019-05-14 11:16] rochapablo commented on #24505
@hariegnify, `android/app/src/main/assets` does not have any `bundle file`.

[2019-05-14 11:17] hariegnify commented on #24505
what this(react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res)  command resulting, can you able to create bundle through it.

[2019-05-14 11:17] TrustTheBoy commented on #24847
Thank you , I created the latest version of react native 59, no such problem, I think I should upgrade

[2019-05-14 11:19] rochapablo commented on #24505
@hariegnify, indeed through this command I should have the bundle file, but nothing happens.

[2019-05-14 11:20] hariegnify commented on #24505
@rochapablo any error you are getting?

[2019-05-14 11:26] rochapablo commented on #24505
@hedgerwang no errors besides the main one.

If I'm right, RN new versions only read `index.js`

[code]

Any other line related to `index.android.js` it's commented by default RN setup when build new app project.

[2019-05-14 11:30] hariegnify commented on #24505
@rochapablo can you share app/build.gradle file

[2019-05-14 11:34] rochapablo commented on #24505
@hariegnify,

[code]

[2019-05-14 11:37] retyui opened #24853 "[Flow.js] Invalid .flowconfig template"
React Native version:
[code]

## Steps To Reproduce
[code]

[code]

## Expected

Flow can resolve module `a`;

## Actual

Now how you can see above flow resolve strange path is `./a.`

[2019-05-14 11:41] hariegnify commented on #24505
can you comment this line from: "../../node_modules/react-native/react.gradle" and try react bundle command try full path of index.js file

[2019-05-14 12:02] iRayan7 commented on #24837
Thanks, @nadavmos!
This is what solved the problem for me: in `/android/build.gradle`
[code]

[2019-05-14 12:06] rochapablo commented on #24505
@hariegnify, wow! it seems to work.

[code]

Running from Android Studio, worked. I'm creating a new release...

[2019-05-14 12:47] rochapablo commented on #24505
@hariegnify, release worked! Thank you.

[2019-05-14 12:54] ChrisAlatorreT commented on #24833
It is the latest version

[2019-05-14 14:46] Niryo commented on #21310
for me the problem was because i am using custom root. there is an issue with the custom root in RN59: https://github.com/facebook/react-native/issues/24432

[2019-05-14 14:52] housenkui commented on #10471
At iOS side,I do this work well.

UIViewController *presentedViewController = [UIApplication sharedApplication].keyWindow.rootViewController.presentedViewController;
    NSOperationQueue *mainQueue = [NSOperationQueue mainQueue];

    mainQueue.maxConcurrentOperationCount = 1;

    NSBlockOperation *dismissOperation = [NSBlockOperation blockOperationWithBlock:^{
        if (presentedViewController

[2019-05-14 14:53] housenkui commented on #10471
`UIViewController *presentedViewController = [UIApplication sharedApplication].keyWindow.rootViewController.presentedViewController;
NSOperationQueue *mainQueue = [NSOperationQueue mainQueue];

mainQueue.maxConcurrentOperationCount = 1;

NSBlockOperation *dismissOperation = [NSBlockOperation blockOperationWithBlock:^{
    if (presentedViewController) {
        [presentedViewController dismissViewC

[2019-05-14 14:56] housenkui commented on #10471
At iOS side,I do this work well. I hope the code can help you.

[code]

[2019-05-14 15:05] GianMantuan opened #24854 "App crashes on launch when building a variant release"
After update my project to the latest version of React-Native, the APK start to crash on launch, so I create a new project with the latest version o RN, without any code and simply run the <code>react-native run-android --variant=release</code> and this new project crash on launch
PS: i configured the keystore and the variant releases in <code>build.graddle</code>

## Environment

React Native ver

[2019-05-14 15:26] edwardmsmith commented on #20016
I'm running across this as well on iOS.  I've tried all sorts of things to try to reset the size, position, zoom, etc. of the scrollview on rotation, but have not found anything that alleviates the issue.

[2019-05-14 15:41] cpojer commented on #24760
Thank you everyone for making this happen. This was a super awesome collaboration between so many people. @rickhanlonii and I made a brief video to show off the new screen: https://www.youtube.com/watch?v=ImlAqMZxveg&feature=youtu.be

[2019-05-14 15:41] #24760 closed

[2019-05-14 15:43] zhongwuzw commented on #23660
@jpamarohorta Hi :) can you check the latest master branch, we fixes some bug for text input component, is it still reproducible? I checked it, seems looks the same.
<img width="367" alt="image" src="https://user-images.githubusercontent.com/5061845/57711789-001a1680-76a2-11e9-8610-f292958cb6bc.png">

[2019-05-14 16:20] kylethielk commented on #24854
Hi @GianMantuan I just encountered this too.

By chance I remember being prompted by Android Studio to upgrade my Gradle Version earlier in the day.

I reverted my Gradle version and the issue immediately resolved itself.  Here are the gradle changes that Android Studio applied:

<img width="704" alt="Screen Shot 2019-05-14 at 11 13 24 AM" src="https://user-images.githubusercontent.com/3186142/577

[2019-05-14 16:46] gzzo opened #24855 "RefreshControl does not work correctly on state change"
React Native version:
0.59.8

## Steps To Reproduce

1. Pull down on list, refresh control appears (as it should)
2. Press button on top of list to load data, refresh control does not appear even though refreshing is true. You can also this is true by pressing the button first, the pulling down, then finally pressing the button again.

Describe what you expected to happen: The refresh control shou

[2019-05-14 16:53] acro5piano commented on #24170
Maybe this issue is related to #17734.

Now #17734 is closed, so I will post my solution here.

[code]

Hope #24170 will fix it.

[2019-05-14 17:48] hramos commented on #24831
@craigcosmo can you update your React Native version? 0.52 is several versions behind (we're at 0.59 right now).

[2019-05-14 17:48] #24831 closed

[2019-05-14 18:20] export-mike commented on #24716
@sourabhv any luck on solving this issue?

[2019-05-14 18:33] eddskt commented on #19121
Hi, the solution that solved for my:

First Close all terminals and Emulator opened

1 - deleting and reinstalling watchman with brew
"watchman watch-del-all" after each attempt at bundling
2 - rm -rf node_modules && npm install
3 - npm start -- --reset-cache
4 - Open emulator with react-native run-ios
5 - Uninstall the installed app
6 - run react-native start (1 - 6 minutes, wait)
the process ope

[2019-05-14 18:39] asherccohen commented on #10991
This is still not working, I confirm that functional component break the screen:
"react-native": "0.57.5",
"react": "16.6.1",

I have to constantly reload by hand because hot reload crashes and displays red screen.

![Capture](https://user-images.githubusercontent.com/34692625/57723144-4cf0f380-7688-11e9-9aa0-baa577ac0f56.PNG)

[2019-05-14 19:03] mcgloneleviROOT commented on #22941
A teammate and I ran into a similar issue in our application.  After a few hours of debugging, it looks like the image's size returned from Image.getSize is half the size for some reason.  For example, we had a ~4000x3000 px image taken from an iPhone.  Image.getSize would return 2000x1500.  Scaling the value returned from the function by 2 fixed our problem.

[2019-05-14 19:45] joewired commented on #18899
watchman watch-del <path-to-project-directory>
watchman watch-project <path-to-project-directory>

And rebuilding the project fixed for me.

[2019-05-14 20:26] zamotany commented on #21282
After finally, getting debugging to work properly, we found that when using any bundle, let it be non-ram, FIle RAM bundle or Index RAM bundle, the `CatalystInstanceImpl.java` is always using [`loadScriptsFromAsset`](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java#L218), which is calling [`CatalystInstanceImpl::jni

[2019-05-14 21:54] anjali100 opened #24856 "published expo application is showing me the right mile, Google play store is showing wrong miles"
Hi All,

React-native-cli: 2.0.1
react-native : 0.57.1

In my React Native application, I am showing miles from the users current location to the destination. I am using geodist for that purpose. Below is my partial code:

`componentDidMount() {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        this.setState({
          latitude: position.coords.latitude,
          longit

[2019-05-14 22:18] MCAxiaz opened #24857 "[iOS] Changing List Data during onRefresh"
Changing the data of a FlatList or SectionList while it's refreshing causes the first press after refresh to not register. Originally encountered while using SectionList and occurred in 100% of refreshes, reproduced using Flatlist in the snack below, but the issue does not occur consistently anymore.

**React Native version:**
react: 16.8.3 => 16.8.3
react-native: 0.59.8 => 0.59.8

## Steps To Rep

[2019-05-14 22:27] GreenRidingHood commented on #19134
i dont use pod,
but that accepted answer from Stef, help that error

xcode 10
node v10.15.3
react-native-cli: 2.0.1
react-native: 0.58.6

[2019-05-14 22:58] iagorm commented on #21755
This error still happens in RN 0.59.1, stack trace below:

[code]

[code]

[code]

[2019-05-15 00:08] tdinckaya commented on #20875
hello,
you will main.jsbundle change to main.js :)

[2019-05-15 00:25] sourabhv commented on #24716
@export-mike [Answered here](https://stackoverflow.com/questions/56002938/reactnative-0-59-x-build-fails-on-circleci-with-exit-value-137/56027775#56027775)

**Solution:**

Fixed by setting `maxWorkers: <# workers>` in `metro.config.js`.

[code]

[2019-05-15 01:11] nguyentvnhat opened #24858 "Cannot run simulator on iOS with expo"
Hi guys,

I have got expo message after upgrade MacOS:
====
Trying to open the project in iOS simulator...
Simulator is installed but is identified as 'com.apple.CoreSimulator.SimulatorTrampoline'; don't know what that is.
Simulator not installed. Please visit https://developer.apple.com/xcode/download/ to download Xcode and the iOS simulator. If you already have the latest version of Xcode instal

[2019-05-15 02:13] zhongwuzw commented on #21515
Fixing in https://github.com/facebook/react-native/pull/24840.

[2019-05-15 02:35] anjali100 commented on #24856
yes, everything looks good.

[2019-05-15 03:01] shufengwu5946 commented on #23905
Has the problem been solved?
I also had similar problems.
This problem occurs when the version is higher than 0.57.8.
Fetch caches result even with cache: 'no-store' supplied.
Thanks.
@react-native-bot @WithGJR

[2019-05-15 03:11] #24851 closed

[2019-05-15 03:15] TrustTheBoy commented on #24847
Sorry, the latest version has the same problem.

[2019-05-15 03:37] JefriRizal commented on #21310
thanks @g4laura

[2019-05-15 03:43] #24847 closed

[2019-05-15 04:25] JijoBose commented on #24854
Thank you @kylethielk , I tried the same and it worked for me

[2019-05-15 06:52] teamdraftbox commented on #21319
Hi guys even i am facing the same issue, while placing, multiple touchableOpacity icons beside each other, it activates the wrong icon.This is not seen when used with text or touchableOpacity icon when placed one above the other. Pls provide a work around

[2019-05-15 07:34] aibek-bird commented on #21030
Having the same issue on iOS 12.1.4, react-native: 0.59.5, XCode 10.2.1.

Runs many times:
[code]

Any updates?

[2019-05-15 08:20] MarvynORourke commented on #24529
It works for me, thank you.

[2019-05-15 09:01] kelset commented on #24529
Ok then, I'll close this for now. If the issue re-surfaces please provide a repro so that it can be investigated properly 🙇‍♂️

[2019-05-15 09:01] #24529 closed

[2019-05-15 09:23] kelset commented on #21319
Hey everyone, can anyone provide a repro on 0.59?

[2019-05-15 09:38] hussainahmad commented on #12167
still it is in `0.59.8` , not fixed yet

[2019-05-15 09:40] albat opened #24861 "[Android] App crash on release build with gradle:3.4.0 / gradle-wrapper:5.1.1 (debug is working)"
Hi,

I have an issue when launching an Android app with a release build (or a non-debug build) when using **gradle:3.4.0** plugin and **gradle-5.1.1** wrapper
The app crash directly after launch and I can see the following error in the logcat tab of Android Studio :
`2019-05-15 11:16:39.412 31945-31961/? E/AndroidRuntime: FATAL EXCEPTION: create_react_context
    Process: com.testproject, PID: 319

[2019-05-15 09:45] jasvinder797 commented on #21284
Execution failed for task ':app:compileDebugJavaWithJavac'

[2019-05-15 09:45] jasvinder797 opened #24862 "Execution failed for task ':app:compileDebugJavaWithJavac'"

[2019-05-15 09:46] kelset commented on #24861
Hello there 👋

I think that the core of the issue lays here

I am pretty sure that we can't use Gradle 5 - have you seen somewhere in the changelog mentioning that is supported (I may be wrong)?

Do you have any precise reasons for needing to use Gradle 5?

[2019-05-15 09:46] #24862 closed

[2019-05-15 09:48] kelset commented on #24857
Can you reproduce this in a react-native init'd project? Expo Snack still uses RN 57, while we are currently on 0.59.x

[2019-05-15 09:49] kelset commented on #24861
Also, it seems that it's probably the same issue described here: https://github.com/facebook/react-native/issues/24854 so it seems to be related also to 3.4.0?

I'm closing this in favour of that other issue, but I'll ping internally if we are aware of these incompatibilities

[2019-05-15 09:49] #24861 closed

[2019-05-15 09:50] kelset commented on #24854
Hey everyone, thanks for reporting this - it seems to suggest that RN 0.59.x can't be used with Gradle 3.4.0 - I'll ask if it's a known limitation of the current version.

[2019-05-15 09:54] albat commented on #24861
It's the latest available version and Android Studio ask me to update my project so I tried ;-)

But indeed I haven't seen that we can use this version of Gradle yet.

Thanks for the reply

[2019-05-15 10:25] khalidahmada commented on #24246
I have the issue on Android

[2019-05-15 11:44] shufengwu5946 opened #24865 "Question: Has the problem been solved? #23905"
Has the problem been solved? #23905
I also had similar problems.
This problem occurs when the version is higher than 0.57.8.
Fetch caches result even with cache: 'no-store' supplied.
Thanks.

[2019-05-15 11:45] #24865 closed

[2019-05-15 11:46] #24696 closed

[2019-05-15 13:04] hnrqsss commented on #19981
Yes i had the same issue on 0.59 but only in android.
If i use borderRadius all the colors are changed to black.

[2019-05-15 14:22] douglasjunior commented on #24260
Same problem here with two totally different apps running RN 0.59, and the problem just happens on a specific devices (Samsung S7 with Android 6.0.1).

Unfortunately, I still have not been able to get these devices to debug.

[2019-05-15 14:24] douglasjunior commented on #24260
Same problem here with two totally different apps running RN 0.59, and the problem just happens on a specific devices (Samsung S7 with Android 6.0.1).

Unfortunately, I still have not been able to get these devices to debug.

Please everyone, upvote this issue to get RN team attention.

[2019-05-15 14:32] douglasjunior commented on #23352
Seems to be related to https://github.com/facebook/react-native/issues/24260

[2019-05-15 14:54] jdnichollsc commented on #23479
same issue here using expo

[2019-05-15 15:05] zhongwuzw commented on #24858
@nguyentvnhat Thanks for reporting, we'll close because duplicate of https://github.com/facebook/react-native/issues/23878.

[2019-05-15 15:05] #24858 closed

[2019-05-15 15:34] kenjdavidson commented on #21030
Was having the same issue on:
- IOS 12.2

- XCode 12.2.1

- RN 0.59.8

Looking at the comments on a number of posts I was able to resolve the issue by applying pretty much the same fix to AppDelegate.m.  First of all, I'm terribly new to Objective-C so I'm sure this could be prettier, but its effective:

`- (NSURL *)sourceURLForBridge:(RCTBridge *)bridge
{
#if DEBUG
  NSURL *jsUrl = [[RCTBundleURL

[2019-05-15 15:57] buoyad commented on #23992
We've seen this on devices other than the pixel running android 9. The emulator works correctly.

[2019-05-15 16:02] aureliopetrone opened #24870 "setState updates the UI only after tap on screen even if the console shows the method has been called before"
## Goals

I'm trying to update the UI of my app when there is an update of realm data from the server/client.

I have a listener on a Realm Object for getting updates. When there is an update on the server (or in the client) the function provided to the listener calls setState({}).

## Expected Results

The UI updates when render function is called.

## Actual Results

The strange part is that eve

[2019-05-15 16:12] aureliopetrone commented on #24870
Added

[2019-05-15 16:47] canpoyrazoglu commented on #22354
Same issue here. Lost about 5 hours because of this bug. I've removed the space from my project's path and everything worked perfectly.

[2019-05-15 17:04] xaamin commented on #10471
In which file you made this change @housenkui ? Thanks in advance.

[2019-05-15 18:40] solkaz opened #24871 "Inverted list on Android is not positioned correctly"
Inverted lists (on Android) are not being "positioned" on screen, which is causing issues with E2E tests using Detox. To be clear, _elements within the list are displayed properly_, but when viewing the list in `react-devtools`, the list will not be highlighted, and is supposedly "off screen". iOS does not exhibit this behavior and will be correctly position/highlighted in `react-devtools`.

React

[2019-05-15 18:56] Taylor123 commented on #20666
@elucaswork Do you know if there's a way to use the functionality of `justifyContent: 'space-between'` with the wrapping `Text`?

I currently have the following use case where one text node is aligned on the left side of the screen, while the other is on the right. But without wrapping the nodes in `Text`, the baseline alignment does not work on android.

[code]

However, due to the properties of

[2019-05-15 19:09] ccreonopoulos commented on #24870
I seem to be running into the same issue but without using any Realm Object. Even though the render function is fired and some console logs indicate that all the data has been updated after a network call completes, the UI will not update unless I tap on the screen.

Side note: This only seems to happen on the iOS simulator for me.

React Native Environment Info:

`    System:
      OS: macOS 10.1

[2019-05-15 19:29] quietbits commented on #24260
@cpojer  Repo with source (RN 0.59.8 react-native clean init project with no edits) and APK file (inside `/apk` folder) is here: https://github.com/quietbits/react-native-apk-crash
Could you (and anyone else) please try it on your device(s) and see if you can successfully launch it? There is a list of devices we've tried in the readme. Much appreciated!

[2019-05-15 19:31] quietbits commented on #23352
Posting this here as well in the other related issue. Here is a repo with APK to try: https://github.com/quietbits/react-native-apk-crash. Any tests are much appreciated!

[2019-05-15 19:36] karimbutt commented on #22682
@noahtallen did the update to 0.57.8 resolve the issue for you?

[2019-05-15 19:45] noahtallen commented on #22682
hmm.. We're on 0.59.8 now. Looking through our crash reports, I don't see any recent reports of this issue. Perhaps it's fixed! I was never able to reproduce it, so I can't say for sure. I think I'll close this issue then? Let me know if I should reopen it.

[2019-05-15 19:45] #22682 closed

[2019-05-15 19:56] aureliopetrone commented on #24870
@ccreonopoulos are you in release or development mode?

[2019-05-15 20:09] MCAxiaz commented on #24857
Yes. Using a fresh react-native init'd project on 0.59.8, with the same code as the snack, the issue still occurs. Also noting this seems to be an iOS issue only as I cannot reproduce it on Android.

[2019-05-15 20:16] davidgaspardev opened #24872 "[android] I can not query on a local server (localhost) with fetch library, error "Network request failed""
**React-Native Framework**

I always get the same error and have nothing wrong on the server side, the problem is in the fetch method.

can anybody help me ?

My code (Api.js):
[code]

[2019-05-15 20:25] #24872 closed

[2019-05-15 21:25] ccreonopoulos commented on #24870
@aureliopetrone  This happens in development mode. And I just noticed it only when a debugger is attached. If a debugger is not attached, I don't encounter this issue.

[2019-05-15 21:55] pgqueme commented on #24000
As mentioned before, the error is because of NativeBase. I fixed it by changing all the `backgroundColor: null` to `backgroundColor: ''` from the folder `node_modules/native-base/src/theme/components/Button.js`.

[2019-05-15 22:49] aureliopetrone commented on #24870
@ccreonopoulos it's strange because in my case it works only with "React Native Debugger Tool" connected...

[2019-05-15 23:24] oferRounds commented on #23764
@slestang did you find any solution to this one? Got some crashes of this kind, using RN v0.59.5

Could your [comment](https://github.com/facebook/react-native/issues/23764#issuecomment-479897378) above work?

[2019-05-15 23:57] jackryu opened #24874 "FlatList : After loading 100 items my bottom navigation bar event working very slow"
Hello Team,

I am new with react native I am trying to create an application but I am facing some delay issue in bottom nave bar after adding "FlatList" in my project.

Issue: after loading 100 items in my FlatList my bottom navigation bar buttons working very slow. If I am clicking on my bottom navigation bar button next screen displaying in 3-4 sec or more.

React Native version:

## Steps To Re

[2019-05-16 00:11] RSNara opened #24875 "👻 Flow Typing NativeModules"
# Flow Typing NativeModules

The TurboModule system is nearly feature-complete on both Android and iOS. Before we rollout the system, we'd like to migrate all our OSS NativeModules to use it. As a prerequisite for this migration, all the the NativeModules must have spec files. There are currently 41 NativeModules in total, so there is a bunch of work to do. We'd love to use this as an opportunity

[2019-05-16 00:30] karimbutt commented on #22682
Thanks @noahtallen - that gives me hope :)

[2019-05-16 01:47] ericlewis commented on #24875
@RSNara any examples on how to handle event emitter classes?

[2019-05-16 02:02] glacjay commented on #21301
How to reproduce this bug here as minimum example:

- update create-react-native-app to the latest version:
  - node.js: 10.15.3
  - npm: 6.9.0
  - yarn: 1.16.0
  - create-react-native-app: 2.0.2
- create-react-native-app TestImage
  - template: blank
- App.js:

[code]

- yarn start
- run on my android device (1+5):

![图片](https://user-images.githubusercontent.com/292719/57821061-b3c5f800-77c1-11e

[2019-05-16 02:09] fkgozali commented on #24875
[code]

[2019-05-16 02:20] rizkyramadhan commented on #24260
What, why is this closed ? is this resolved ?

[2019-05-16 02:52] ericlewis commented on #24875
Also worth noting: there are some places in the code base that directly access constants in JS, they need to be changed to be grabbed from getConstants. Example:
[code]
becomes:
[code]

luckily, flow will complain about these if you do your typing right! So, just update the callsites.

[2019-05-16 03:09] dulmandakh commented on #24852
please use NDK version that has gnustl_shared support

[2019-05-16 03:09] #24852 closed

[2019-05-16 03:56] olegwn commented on #23235
@karanjthakkar fix worked for me like a miracle

[2019-05-16 04:02] anhkhoi commented on #24408
Thanks @alexPimentel. It works for me

[2019-05-16 05:15] passerbyloo commented on #24685
I tried 0.59.8 version, iOS 12.1, iPhone XS, can not reproduce

[2019-05-16 06:33] teamdraftbox commented on #21319
I was able to find the solution for my problem,First try touchableOpacity with Icon from react native element library ,and rm -rf node_modules ,npm install, clean build in xcode and build your app again
`   <View key={id} >
                                <TouchableOpacity style={Styles.iconBG} onPress={() => { selectedIdentityType(identity.type); }}>
                                <Icon

[2019-05-16 06:36] michalchudziak commented on #24875
Hey! I'd like to help with `Linking` module.

[2019-05-16 06:40] Krizzu commented on #24875
Hi, I can help with `PermissionsAndroid`

[2019-05-16 06:47] flyinghawker commented on #23942
This piece of work is suspended in project, and waiting for any better solution. 😆

[2019-05-16 07:06] gedeagas commented on #24875
Hi, I would like to help with `DeviceInfo `

[2019-05-16 07:10] fkgozali commented on #24875
@michalchudziak, @gedeagas both were done by &ericlewis’ PRs

[2019-05-16 07:14] Krizzu commented on #24875
@fkgozali I see, what about `TimePickerAndroid ` ? If it's free, I'd take it

[2019-05-16 07:15] fkgozali commented on #24875
PermissionAndroid/TimePickerAndroid are still open I think

[2019-05-16 07:17] Krizzu commented on #24875
I'll go with `PermissionsAndroid` then

[2019-05-16 07:19] michalchudziak commented on #24875
Sure, no problem! Is it possible to work on `ExceptionsManager `?

[2019-05-16 07:22] michalchudziak commented on #24875
Sure, no problem! Is it possible to work on `AccessibilityManager `?

[2019-05-16 07:37] lukewalczak commented on #24875
I can go with `AlertManager`

[2019-05-16 08:06] wojteg1337 commented on #24875
I work on `ToastAndroid`

[2019-05-16 08:32] dishantwalia commented on #24261
Removing 64 bit is not a solution as per `Google Play 64 bit support policy.` It could potentially affect apps going live after `1 August 2019`.  We would like to have proper solution for this issue. @hramos any update on this ? Please draw some attention.

[2019-05-16 08:34] ndvbd commented on #24150
Any solutions?

[2019-05-16 08:34] thymikee commented on #24875
Taking `Networking`

[2019-05-16 08:38] dagenius007 commented on #23352
I am having the same issue. RN version 0.57.8

[2019-05-16 09:04] ashu777 commented on #23707
I am also  facing the same problem . Gradle version updated and reinstalled android studio and node JS but   facing the same problem. Any suggestions  appreciated.
Lower versions of react native  works . only problem in react native version  "0.59.8".

[2019-05-16 09:06] dongzhixuanyuan commented on #23764
In my case ,this crash 100% happened when use google App Bundle.

[2019-05-16 09:16] alexandre033 commented on #24112
Work on windows 10 with 0.59.3

[2019-05-16 09:18] jeanregisser commented on #24875
Working on `Timing`

[2019-05-16 09:30] retyui opened #24887 "[Flow.js] Typed children"
How about add custom children type `children: React$NativeNode` for many react native component:
[code]

It was really useful for the next case:
[code]

[2019-05-16 09:35] #24887 closed

[2019-05-16 09:45] retyui opened #24890 "[flow.js] Typed children"
How about add custom children type `children: React$NativeNode` for many react native component:
[code]

React Native version:
[code]

## Steps To Reproduce

It was really useful for the next case:
[code]

## Describe what you expected to happen:

Flow.js do not tell about invalid children type

[2019-05-16 09:47] jeanregisser commented on #24875
Working on `WebSocketModule`

[2019-05-16 09:51] ndvbd commented on #23220
Same problem here with RN 0.59 RC - any solutions?

[2019-05-16 09:56] iamandiradu commented on #24731
@matthargett, I would, but I don't know how to integrate the debugger.

[2019-05-16 10:08] chakrihacker commented on #24875
Taking `ToastAndroid`

[2019-05-16 10:08] ndvbd commented on #23220
Solved when I moved from 0.59.0-rc.0 to 0.59.8

[2019-05-16 10:09] ndvbd commented on #23352
solved when I moved from 0.59.0-rc.0 to 0.59.8

[2019-05-16 10:12] wicharek commented on #23835
I had a similar issue. In my case, I tracked it down to native bridge serialization problem. Basically, the problem is that some JS values are not accepted as arguments for native method calls. Most notably: **NaN** and **Infinity**, also functions.

How to diagnose:

First, look for the errors like this in your log:

[code]

This might give you and idea what specific value causing the problem.

I

[2019-05-16 10:13] wojteg1337 commented on #24875
Working on HeapCapture

[2019-05-16 10:16] r281GQ commented on #24429
Strange enough. Android simulator, android real device works. Real iPhone works. Simulator only works when debugging disabled.

Info
 React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
      Memory: 74.79 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.10.0 - /usr/local/bin/node
      Yarn: 1.15.2 -

[2019-05-16 10:23] chakrihacker commented on #24875
Working on `IntentAndroid`

[2019-05-16 10:40] devt3000 commented on #23352
https://medium.com/@impaachu/react-native-android-release-build-crash-on-device-14f2c9eacf18 this post fixed my issue, but I skipped some steps.

[2019-05-16 10:49] kelset commented on #24874
👋 there - it seems that your issue here is not really caused by a bug but by your code; in any case, there are already quite a few issues open on this subject, in particular, I'd suggest you take a look at https://github.com/facebook/react-native/issues/13413#issuecomment-438664082

Also, this could help you https://facebook.github.io/react-native/docs/performance
and this too, since you are using

[2019-05-16 10:49] #24874 closed

[2019-05-16 10:53] kelset commented on #18616
Hello there 👋 this issue seems to have been inactive for the past few months. Because of this, it's likely that the issue is not a high priority anymore or it has been solved by OP; for these reasons, we'll close it.

But please, if it's actually still an issue with 0.59 please comment below and we can reopen it or please send us a Pull Request with a fix 😊

[2019-05-16 10:58] douglasjunior commented on #24260
I found this issue #24261 with Hi-Pri tag.

[2019-05-16 11:00] douglasjunior commented on #23352
I found this issue #24261 with Hi-Pri tag.

[2019-05-16 11:05] abhiin1947 commented on #24875
Working on `ModalManager`

[2019-05-16 11:10] Rutheniceye92 commented on #24522
Did you find any solution?

[2019-05-16 11:14] jeanregisser commented on #24875
@RSNara what about the case where the native method definition differs on iOS and Android?

This is what I did sofar for the `close` method of [WebSocketModule](https://github.com/facebook/react-native/pull/24893/files#diff-e556a43ea770a609461bcd916e6c24cc):

[code]

[2019-05-16 11:23] thymikee commented on #24875
@jeanregisser I had similar issue with Networking module: https://github.com/facebook/react-native/pull/24892 and after consulting ideas with @rickhanlonii we decided to create two native modules for now: `NativeNetworkingIOS` and `NativeNetworkingAndroid` as even when using `Platform.OS` check, Flow mixed 2 definitions resulting in errors of wrong signature being used.

[2019-05-16 12:17] atrauzzi opened #24895 "Allow configuration of bundler port via env or project level config"
It appears as though right now the only way to change the metro bundler port is by manually starting the bundler, passing in a different setting and then manually changing it in the running app.  Based on what I'm reading in the documentation, all this has to be done by hand.  Per machine, per checkout, per emulator, per app install.

It goes without saying, but this is a considerable inconvenienc

[2019-05-16 12:19] atrauzzi commented on #24895
I just want to add that I think it's incredibly poor form to suggest to people that they modify files in `node_modules`, as per [the official troubleshooting doc](https://facebook.github.io/react-native/docs/troubleshooting.html#port-already-in-use).

A project such as react native shouldn't be playing it fast and loose with advice that might also cause people to misuse their vendor dependencies.

[2019-05-16 12:26] atrauzzi commented on #24895
I don't think the template is applicable in this scenario.

[2019-05-16 12:39] jeanregisser commented on #24875
Working on `TimePickerAndroid`

[2019-05-16 12:43] ovy9086 commented on #18266
so why is this closed ? as this clearly still happens. I assume the RN implementation uses `clipChildren=true` when a `borderRadius` is specified in the Style, and this causes the above mentioned issue.

[2019-05-16 13:00] jeanregisser commented on #24875
Working on `TVNavigationEventEmitter`

[2019-05-16 13:21] jeanregisser commented on #24875
Working on `SourceCode`

[2019-05-16 13:53] uqmessias commented on #24875
Working on `NativeAnimatedModule` \o/

[2019-05-16 14:07] zhongwuzw commented on #24875
Taking `ExceptionsManager`.

[2019-05-16 14:15] ericlewis commented on #24875
Taking UIManager

[2019-05-16 14:22] sasurau4 commented on #24875
Working on AlertManager

[2019-05-16 14:26] cristianoccazinsp commented on #10471
Any updates on this? Still happening...

[2019-05-16 14:29] yjose commented on #24875
Taking `ImageLoader `

[2019-05-16 14:54] raphaeleidus commented on #24875
can I take `DevSettings`?

[2019-05-16 15:02] sattaman commented on #24875
I'll take Platform.android.js

[2019-05-16 15:06] tominou commented on #18266
Using react-native 0.59.8:
Android 21 - Fine
Android 22 - Fine
Android 23 - Fine
Android 24 - Not working
Android 25 - Not working
Android 26 - Not working
Android 27 - Not working
Android 28 - Not working
Android Q - Fine

[2019-05-16 15:15] sikeeoh commented on #24261
Hi, everyone, I hava same issue in 0.59.8,
We would like to have proper solution for this issue.

[2019-05-16 15:27] saddacracker commented on #17986
On emulator refresh, it appears it rendering a duplicate modal. I have to close the app in the emulator and relaunch to work around this.

[2019-05-16 15:55] ericlewis commented on #24875
I will take JSCSamplingProfiler

[2019-05-16 16:03] ericlewis commented on #24875
Will take FileReaderModule

[2019-05-16 16:07] glenna commented on #24875
i'll take `DevLoadingView`

[2019-05-16 16:19] ericlewis commented on #24875
I will take JSDevSupport

[2019-05-16 16:25] thymikee commented on #24875
Taking NativeAnimatedModule

[2019-05-16 16:28] Kudo commented on #24261
Hi,
I am helping with the JSC crash issue and also a collaborator of jsc-android-buildscripts.
RN 0.59 JSC is in fact from [jsc-android-buildscripts](https://github.com/react-native-community/jsc-android-buildscripts).

To troubleshoot the crash issue, we need the crash backtrace.
Hopefully, please follow the steps to below get backtrace and post here.
I could then follow up to find potential solu

[2019-05-16 16:30] fkgozali commented on #24875
Thank you all for doing the work! We're halfway there :)

[2019-05-16 16:33] RSNara commented on #22990
Thank you guys for all the work here! We have another opportunity to contribute to an RN project: TurboModules. Please check out #24875.

[2019-05-16 16:33] ericlewis commented on #24875
Taking HeadlessJsTaskSupport

[2019-05-16 16:40] ericlewis commented on #24875
Will take I18nManagerModule

[2019-05-16 16:56] ericlewis commented on #24875
taking BlobModule

[2019-05-16 17:15] Fuel4us opened #24910 "defaultSource and Avatar border radius not working correctly"
[code]

Focusing only in renderItem and FlatList.
Avatars are being displayed like this.

![Imagem](https://user-images.githubusercontent.com/23045254/57873409-17721480-7806-11e9-969b-77fc281d424b.jpeg)

Some are circles some with rounded corners and defaultSource avatar are squares.
I've tried using borderRadius as an Image prop instead of using inside of the Image style.
Can't seem to find a sol

[2019-05-16 17:16] #24910 closed

[2019-05-16 17:52] ndel commented on #19508
Thank you @minhphung210

[2019-05-16 17:52] martinvol commented on #20384
In case this is helpful, I have the same issue today but I solved it closing the metro bundler terminal and running `react-native run-android` again.

[2019-05-16 17:57] uqmessias commented on #24875
Working on `DialogManagerAndroid`

[2019-05-16 18:21] panvourtsis commented on #22592
Thanks for the tip @EternalChildren, my app now is saying that "Application # has not been registered." when i run it with these options

[2019-05-16 18:48] pedpess commented on #24875
taking `DatePickerAndroid`

[2019-05-16 19:04] akshayaroraGS commented on #19454
Pass the array not object for list data :P

[2019-05-16 19:07] cristianoccazinsp opened #24913 "Input crash inside FlatList"
Rendering <Input> components inside a FlatList seem to randomly crash on Android. I can't still consistently reproduce this, but the error happens entirely on the native side and is nearly impossible for me to debug/understand it. I will try to provide as much code as I can below.

## React Native version:

React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R

[2019-05-16 19:39] uqmessias commented on #24875
Taking `DeviceEventManager`

[2019-05-16 20:03] uqmessias commented on #24875
Taking `ImageViewManager`

[2019-05-16 20:10] ericlewis commented on #24875
taking AnimationDebugModule

[2019-05-16 20:30] fkgozali commented on #24875
@uqmessias:

Actually viewmanagers shouldn’t be typed, re: ImageViewManager

[2019-05-16 20:32] uqmessias commented on #24875
@fkgozali
I was almost finishing, but I'll stop it and keep the current code in a separated branch.

[2019-05-16 20:35] ericlewis commented on #24875
ImageViewManager & RedBox remaining.

[2019-05-16 20:36] orta opened #24917 "PR Template needs updating"
[code]

This now redirects back to contributing.md which doesn't include a reference on how to write a changelog entry.

[2019-05-16 21:06] yjose commented on #24875
@fkgozali  can you check the `ImageLoader` mapping ios and android files in the table: `RCTImageEditingManager.m` and `ImageLoaderModule.java` look like something wrong?

[2019-05-16 21:12] hramos commented on #24917
Thanks for the heads up. If anyone wants to send a PR, we now have the relevant content in the wiki. e.g.

[code]

[2019-05-16 21:16] ericlewis commented on #24917
@orta do you also forget the values each time? 😆

[2019-05-16 21:18] uqmessias commented on #24875
@yjose,
I [was working](https://github.com/facebook/react-native/compare/master...uqmessias:feat/spec-image-view-manager?expand=1) on something related to this one

[2019-05-16 21:21] orta commented on #24917
Hah, yep, I let the bot tell me 💯

[2019-05-16 21:32] yjose commented on #24875
@uqmessias hmm ok

in this case, I think they mean `ImageEditor` which have the correct ios and android files `RCTImageEditingManager.m` and `ImageEditingManager.java`?

[2019-05-16 21:42] ericlewis commented on #24875
@yjose i think you are correct

[2019-05-16 21:49] TerrellLinnell opened #24920 "Share.share resolves promise on open not on file share"
When using Share.share on android the promise resolves on open rather than when the file is actually shared. This means when a user opens the share on android we get the response "sharedAction" so it looks like they shared the link even though they may have opened the share and dismissed it without actually sharing the message with anyone. This only happens on android, on ios it works as expected.

[2019-05-16 21:55] OtacilioN commented on #24261
@marlonchalegre

[2019-05-16 21:55] MalcolmScruggs commented on #24261
@Kudo This is the log I got running those commands on a fresh project on RN `0.59.8`
I tried building debug and release builds and compiling the jsc myself by the logs looked the same in each case.

[code]

I have a S7 at hand and would be happy to try running anything else to try and figure this out.

[2019-05-16 21:57] yjose commented on #24875
working on `ImageEditor`

[2019-05-16 22:03] empyrical commented on #23943
For users encountering this issue, does this fix help?

 - Open `node_modules/react-native/jest/setup.js`
 - Add the following line: (doesn't really matter where - the end of the file, or near the other calls to `.mock()`)
[code]

If it works, I can submit this as a pull request and preferably try to get this in by the next release of RN.

cc @jogboms

[2019-05-16 22:39] pedpess commented on #23313
Are those migrations from core still up for grabs? If so, what are the up-to-date next candidates? I would like to try to give a hand as well :)

[2019-05-16 23:20] ericlewis commented on #24875
We got 'em all i think

[2019-05-16 23:46] #24917 closed

[2019-05-17 00:54] chops318 opened #24925 "Draggable AnimatedViews crash simulator"
When running on iOS simulator, draggable AnimatedViews throw an unhandled error. I've already tested this in release on testflight, and the draggable modal behaves as expected with no error.

React Native version:

## Steps To Reproduce

1. Create an AnimatedView and a PanResponder which controls the position of the view
2. Try and drag the View.

The View should drag according to the PanResponder

[2019-05-17 01:34] nugrohotanjo commented on #17530
i get this issue RN 0.59.5

[2019-05-17 02:48] guhungry commented on #24913
Duplicate with #17530

[2019-05-17 03:18] shenjin commented on #23934
I believe the correct prop is autoCompleteType

[2019-05-17 03:42] cristianoccazinsp commented on #17530
Seems like this fixes it.

[2019-05-17 03:51] cristianoccazinsp commented on #24913
Changes from @wangjianhuiwita seems to fix it.

[2019-05-17 03:58] jarvisluong commented on #24875
Taking Platform.ios.js

[2019-05-17 04:56] matthargett commented on #23313
I think @brentvatne @ide @ericvicenti @kmagiera have informed opinions on what could still be moved out and not impact the developer experience when using third-party libraries like react-navigation and reanimated.

[2019-05-17 05:13] matthargett commented on #18266
Based on @tominou ‘s table above, this is an OS bug? If that’s the case, is the best option to document this properly with a PR that includes the above table?

[2019-05-17 05:21] matthargett commented on #24261
My suggestion is to recompile the JSC with JIT *disabled*. It’s possible the security mechanisms in the OS interfere with the JIT’s
operations in some unpredictable way.

[2019-05-17 06:26] antonellil commented on #20309
@zubko that fix works great. this seems worthy of a PR into RN to fix this?

[2019-05-17 06:39] mitulsavani commented on #24875
I would like to help with ` AppState` . Let's get started right away.

[2019-05-17 06:56] sivakumar-cf commented on #23996
I am also facing the same here.
Using react-native 0.59.8

[2019-05-17 07:10] meghaptg commented on #22938
any leads?

[2019-05-17 07:17] aerialkoala opened #24926 "Question: [iOS]Xcode assert when add file For protocol of RCTImageURLLoader extension"
For protocol of RCTImageURLLoader extension
`RNImagerLoaderModule : NSObject <RCTImageURLLoader>`

but once building xcode program,  it's  assert of js error

[2019-05-17 07:25] #24926 closed

[2019-05-17 07:31] thymikee commented on #24875
@mitulsavani AppState is already done and merged. Please have a look at "NativeModule List" section of the original post. Looks like the only one left is "TimePickerAndroid.ios.js" – feel free to grab it while it's free! (and please check https://github.com/facebook/react-native/pull/24897/files because it may overlap, so it may be better to cooperate with the author, @jeanregisser, on this one)

[2019-05-17 07:39] slestang commented on #23764
@oferRounds no sorry. The crash don't happens too often in our case so I didn't spend more time on it.

[2019-05-17 07:58] LaurentCHRETIENMT commented on #24529
adding the missing "react-native": "0.57.1" to app.json, (with sdk version set to 31),  solved (at last) the problem in my case (expo client). (as displayed in https://stackoverflow.com/questions/53402555/expo-react-native-version-mismatch-error-javascript-version-0-55-4-native). (More generally, the right matching of those two versions seems thus to be a crucial point).

[2019-05-17 08:08] mitulsavani commented on #24875
I would certainly like to claim that. Although i have no clue how and what needs to change/add, but I want to at least give a shot!  @thymikee

[2019-05-17 08:10] oferRounds commented on #23764
@slestang got you, thank you!

[2019-05-17 08:31] kuzzmi commented on #23781
Same situation here. Using Expo if that makes any difference.

I've tried all sorts of things, clearing cache on all levels, restarting everything, nothing seems to help. I'm a bit lost here.

@deecewan any idea how you fixed that?

[2019-05-17 09:05] jeanregisser commented on #24875
@mitulsavani @thymikee indeed https://github.com/facebook/react-native/pull/24897 addresses `TimePickerAndroid.ios.js` as well.

[2019-05-17 09:40] thingthing commented on #21030
@kenjdavidson thanks, it works perfectly! Just you can optimize the code a little bit by reusing the jsUrl variable:
[code]

[2019-05-17 09:48] devs4522 commented on #24093
@Alicoo1907 Then what is the solution ? I m still facing same issue. node -v: 10.15.3, npm -v: 6.9.0

[2019-05-17 09:54] Alicoo1907 commented on #24093
I dont remember solution now. I can check my computer and tell you

[2019-05-17 09:59] LaurentCHRETIENMT commented on #24529
it resulted apparently also in solving an other strange error with "UIManager function undefined" (for me playTouchSound ..) occuring when touching the screen. (that I could in the meantime keep aside putting a ()=>{} in it at the very beginning in App.js ..  " require('react-native').UIManager.playTouchSound=()=>{}; " )

[2019-05-17 10:04] devs4522 commented on #24093
Please let me know the solution asap. Appreciation in advance.:)

[2019-05-17 10:19] Alicoo1907 commented on #24093
my udemy teacher send this link
https://github.com/npm/npm/issues/13345

[2019-05-17 10:46] tanf1995 commented on #14045
come on!anyone has solution?

[2019-05-17 11:35] RocKhalil commented on #14045
@Grohden @tanf1995 I wrote a monkey patch for Android [here](https://github.com/facebook/react-native/issues/14045#issuecomment-407666552). If this works for you, try replicating it on iOS.

[2019-05-17 11:36] AndrewJack commented on #24261
I've reproduced the same crash logs as @MalcolmScruggs. On a S7 - Android 7.1.2 - LineageOS 14.1.

On RN 0.59.8 & the latest version of the [master branch](https://github.com/facebook/react-native/tree/ad4a5d9a3eac9794038e93158d45e7f1ceb9e495).

No changes required to reproduce crash. The default RN template trigger a crash after a bit of tapping on the screen.

Repo here - https://github.com/Andr

[2019-05-17 11:40] buskerone commented on #22076
@vinnyhoward solution works for me! Thanks

[2019-05-17 11:41] jedsada-jed commented on #24854
I found problem same you but my platform is windows.

[2019-05-17 12:08] AndrewJack commented on #24261
With latest master and using [no_dfg_jit or no-jit](https://www.npmjs.com/package/@kudo-ci/jsc-android) from @Kudo's fork I cannot reproduce the crash.

https://github.com/AndrewJack/jsc_crash/tree/no_dfg_jit
https://github.com/AndrewJack/jsc_crash/tree/no_jit

[2019-05-17 12:32] luojin commented on #21095
good answer

[2019-05-17 13:24] maystrenkoYurii opened #24931 "Question: How get system ringtones in array list android and iOs for notifications?"
🚨 The issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

### https://stackoverflow.com/questions/tagged/react-native

If you have a coding question related to React Native, it might be better suited

[2019-05-17 13:25] #24931 closed

[2019-05-17 13:36] Kudo commented on #24261
@AndrewJack Amazing, you found my experimented builds so quick.
Thanks for your feedback and good to know these versions fixed the crash for you.

[2019-05-17 13:41] Kudo commented on #24261
Dears,

I had two experimented JSC versions, please try if these could fix crashes for you.
A brief steps here:
https://gist.github.com/Kudo/cc40662163fbd69dd01d66fd99476c17

One experimented version is to disable one kind of JIT.
And the other one disable JIT totally from @matthargett recommended.
If the two versions will fix crash for you, please also feedback to us the overall performance & TTI

[2019-05-17 13:44] cpojer commented on #23313
One of the things we could use help with is to get rid of using ToolbarAndroid in RNTester on Android. Could somebody work on replacing its usage with something else?

[2019-05-17 13:51] wbercx commented on #24261
@Kudo Thanks for those! What do you know about concurrent GC in those builds? I saw mentioned somewhere that was another difference compared to the 32 bit version, but of course I cannot find that comment anymore. May be another thing worth playing with incase crashes do persist.

[2019-05-17 13:53] cpojer commented on #23313
Just finished updating the top level post. ImagePickerIOS is one of the unclaimed components where the component wasn't extracted yet. Is there anybody who'd like to take on the effort and send a PR to the repository created at https://github.com/react-native-community/react-native-image-picker-ios ?

[2019-05-17 13:59] cpojer commented on #23313
Finally, it seems that the work on bringing DatePickerIOS and DatePickerAndroid never materialized, see https://github.com/react-native-community/discussions-and-proposals/pull/85 – This is a good opportunity! Ideally somebody takes the charge to extract both DatePicker components into this repo: https://github.com/react-native-community/react-native-datepicker

With two high-level exports, DatePi

[2019-05-17 14:07] jeanregisser commented on #24647
Is it useful to have RNTester up to date with master, so new development there can use RNTester as a testbed and showcase of new functionality/features/UI?

I'm a bit confused about this.

RNTester uses master and is [built](https://github.com/facebook/react-native/blob/ad4a5d9a3eac9794038e93158d45e7f1ceb9e495/.circleci/config.yml#L376) and tested ([unit](https://github.com/facebook/react-native/b

[2019-05-17 14:16] cpojer commented on #23313
Added ReactART as another part of RN that we'd like to extract into a separate repo: https://github.com/react-native-community/react-native-art

Help wanted!

[2019-05-17 14:34] sijad commented on #23313
can I take `DatePickerIOS` and `DatePickerAndroid`?

[2019-05-17 14:41] cpojer commented on #23313
@sijad have you worked with React Native before and do you have a plan for how to do the extraction?

[2019-05-17 15:00] ericlewis commented on #24647
@jeanregisser targets android too. Also includes e2e interaction tests for both platforms.

That said; to OP, idk if I love the if splitting RNTester completely out. Maybe if we just cleaned it up, and adopted more of a monorepo feel, it could live there.

[2019-05-17 15:02] VinceBT commented on #24055
Any workaround ?

[2019-05-17 15:05] doublex commented on #21319
I think this is an issue with RN 0.56

[2019-05-17 15:12] ivanmoskalev commented on #23313
@cpojer Can I take ReactART starting next Monday? I'm currently evangelising and driving RN adoption at work, and so I had to deal with both ReactART and wrapping native code as reusable RN packages.

[2019-05-17 15:13] Kudo commented on #24261
@wbercx Do you mean concurrent GC or concurrent JS (concurrent JIT)?
By default, concurrent GC is only enabled for arm64 and x64.
Concurrent GC may not relate to the crash issue. It is likely about heap management and not JIT related.

Concurrent JS is disabled for my both builds.
(By default, it will only enabled for `ENABLE(DFG_JIT) && USE(JSVALUE64)`)

BTW, JIT in JavaScriptCore is complicated

[2019-05-17 15:29] ZacMonroe commented on #21830
This issue persists for me on 58.6

[2019-05-17 15:32] thorsonmscott commented on #24055
I've been following this one as I really wanted that modal picker for an app I started with 0.59 as well.  Seems like the comment above pretty much says what the RN team is thinking, they're waiting for Appcompat version 1.1.0 to drop a stable release before updating RN to use that version, which should solve this issue.  You can keep checking here for progress on that: https://developer.android.c

[2019-05-17 15:34] cpojer commented on #23313
@ivanmoskalev sounds great! Let me know when you are getting started and make a PR for the new repo I created :)

[2019-05-17 15:34] mazenchami commented on #21773
@kiritmodi2702 were you able to solve this issue?

[2019-05-17 15:49] castocolina opened #24932 "Create multiple instances of my component [Backlog] "Discussion""
## Description

ReactNative issue when send the app to background and return from. Create multiple instances of my component.

With RN Debugger is easy to see multiple rootTags when send app to BG (press device home button) and launch app again (Press app icon, shortcut or from app list). May someone say the debugger isnt real escenario, i take the time to create and test in release mode.

This is

[2019-05-17 16:03] german970814 commented on #24055
@thorsonmscott Thanks

[2019-05-17 16:06] mazenchami opened #24933 "How to Disable Display Size/Zoom on Android/iOS"
I am looking to disable Display Size scaling on Android. I have been able to sort out text size scaling by using allowFontScaling={false} but I cannot find a way to do the same for display size. When display size is increased, all my Views get mashed together making the app impossible to use.

React Native version:
info
  React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU

[2019-05-17 16:12] pavermakov commented on #23886
None of the above worked for me

[2019-05-17 16:35] maxammann commented on #22956
In my case this was caused by using the legacy babel plugin "transform-es2015-modules-commonjs".

[2019-05-17 16:55] Swaagie commented on #23313
@cpojer did you by accident completely overlook the `review` branch? It had all work minus docs and some detox tests.

[2019-05-17 16:58] adamterlson opened #24934 "OpenGLRenderer error with horizontal list wider than 2730 pixels (Android crash)"
## Exception
[code]

## App code
After what seemed like years of tracing this issue, involving commenting out parts of the UI line by line, I have reached a minimal repro.
[code]

## Environment
React Native version: 0.59.2
Android version: 8.0.0
Device: Samsung Galaxy S7

I have not yet been able to test on another device yet, but will try and narrow it down to see if it's limited to the S7.

Sor

[2019-05-17 17:02] mitulsavani commented on #24875
@jeanregisser I see that your PR addresses the `TimePickerAndroid.ios.js`, but should I still go ahead and work on the iOS specific platform? I think I am bit confused here, sorry.

[2019-05-17 17:05] fkgozali commented on #24875
Thanks all for the PRs, we're going through them one by one to ensure nothing else breaks in FB internal infra. Stay tuned!

[2019-05-17 17:16] MalcolmScruggs commented on #24261
@Kudo I tried out your `no-jit` and `no-dfg-jit` experimental JSC versions and was unable to reproduce the crash. This seems to be in line with what @AndrewJack reported.

I was trying this on a basic project so I can't comment on any performance impact.

[2019-05-17 17:53] uqmessias commented on #18579
@TheSavior
Since this a bug that is there for a while, I'd like to try fixing this issue.
Tonight, I'll set up my dev environment in order to debug and test your diff, if it doesn't solve the issue I'll try something else. Either way, eventually I'll open a PR with the fix as soon as I fix it.

[2019-05-17 18:03] CareerFairPlus commented on #18472
I experienced the same issue but it was due to nvm default version being set to a different version than what is defined in the project folder's .nvmrc file.  I would think that this script should honor the version defined in .nvmrc.

[2019-05-17 18:05] indexzero commented on #23313
@cpojer @sijad the work definitely materialized as @Swaagie mentioned. I reached out in Discord as well.

No worries about missing the branch – it can be easy to overlook. In retrospect I should have advised Martijn open a PR in `Draft`-state while he continued to make the smaller PRs for the work we broke out and put into our sprints.

Is there a place where I could help suggest documentation for

[2019-05-17 18:10] cpojer commented on #23313
Oh man, I must have and then recreated a repo with a different name -.-

Could you send a PR to the new datepicker one?

[2019-05-17 18:21] Swaagie commented on #23313
Will do! Thanks for the quick turnaround! Also no hard feelings, we're all human and I like @crobbins said we should have made the work more visible.

[2019-05-17 19:09] xeastcrast opened #24935 "onLongPress call function immediately when use debugger mode"
React Native version:

[code]

## Steps To Reproduce

1.Close debugger mode
2.It work!!

Describe what you expected to happen:
It must be wait a second for long press. But it's not

Snack, code example, or link to a repository:
[code]

[2019-05-17 21:37] grisaitis commented on #23327
@bartolkaruza why did you not have to run `react-native link` after running `yarn` in the main project?

[2019-05-17 22:48] nickbui729 opened #24937 "Docs: GenderMag on setting up React environment"
As a learning tool for my university, we were asked to apply a GenderMag session on an open source project of our choice. After applying the GenderMag session, more information can be found [here](https://gendermag.org), we found that the documentation can be lacking for newer users.

After applying the GenderMag tool on "the process of how to get started with contributing to React", we ran into a

[2019-05-17 22:58] panvourtsis commented on #22592
I found that this is not working with react-native-vector-icons that is why i am getting those errors

[2019-05-17 23:50] harryt2 commented on #24261
I have some more info, I'm seeing this crash too on:
**Samsung Galaxy S7 (herolte), Android 7.0**
**Oppo F7 (CPH1819), Android 8.1**

[2019-05-17 23:58] harryt2 commented on #24261
The crash is still happening here too after reverting to 32 bit

[2019-05-18 01:10] dongzhixuanyuan commented on #23764
this crash was resovled on  version 0.58.6
Thanks

---Original---
From: "Ofer Morag"<notifications@github.com>
Date: Fri, May 17, 2019 16:14 PM
To: "facebook/react-native"<react-native@noreply.github.com>;
Cc: "Magina"<735106520@qq.com>;"Comment"<comment@noreply.github.com>;
Subject: Re: [facebook/react-native] [ANDROID] SoLoader error using App Bundle (#23764)

@slestang got you, thank you!

—
Yo

[2019-05-18 01:31] grisaitis commented on #23327
I can reproduce @bartolkaruza's screenshot with @814k31's repo, but not if I start with a fresh project (`react-native init`):

[code]

Build succeeds, but when I click the button, this happens

![image](https://user-images.githubusercontent.com/908970/57962845-2d590580-78ea-11e9-9499-f063f264f545.png)

When I diff `RNApp` with `RNApp2` (`diff -qr -x node_modules -x build -x android ./RNApp ./RNAp

[2019-05-18 01:39] Eden12345 commented on #19981
+1, I appear to be running some of the same issues. Here's what my style props look like:

`imageSymbol: {
    height: 20,
    width: 20,
    borderWidth: 2,
    borderTopColor: 'green',
    borderBottomColor: 'blue',
    borderLeftColor: 'red',
    borderRightColor: 'white',
  }`

*Unexpected Behavior*
1) As @Hinaser mentioned, if I add a `borderColor` prop, only `borderTop` and `borderBottom` ov

[2019-05-18 02:10] hnrqsss commented on #19981
None of the solutions worked for me.

On iOS worked perfectly, so i  had to use Platform to check if is on  android and my solution was a create a semicircle a little large of my image and position it behind.

[2019-05-18 06:18] JackClown commented on #14045
+1

[2019-05-18 07:17] ishigamii commented on #21832
@eggybot did you solve your issue I got the same message but with `glog-0.3.4`and I am stuck with that :'(

[2019-05-18 11:15] gurkamal-io commented on #24192
So far using the workaround. This fixed the podfile issue on react native 0.59.8 allowing me to consume @mapbox/react-native-mapbox-gl

I am curious about the difference between
[code]
and
[code]

Should yoga be included for the workaround?

Also after the workaround I am getting an error regarding duplicate UUIDs in the xcodeproject:
[code]
Is this anything to be worried about?
The projects runs

[2019-05-18 12:42] kozillla commented on #24925
having exactly the same issue, sadly only downgrading to 0.58.x solved me issue

[2019-05-18 13:57] AndreiCalazans commented on #23394
@rreina I tried reproducing this, I didn't have any luck. Here is what I did.

1) react-native init TestJestTs --template typescript
2) yarn test

Here is the reproduction: https://github.com/AndreiCalazans/TestJestTs

@LinusU I think it does use `metro-react-native-babel-preset`, or at least the the `typescript` template does. See [jest config](https://github.com/AndreiCalazans/TestJestTs/blob/ma

[2019-05-18 15:04] zhongwuzw commented on #23660
@jpamarohorta Hi :), thanks for reporting, I'll close this issue because I can't reproduce in latest master branch, seems it's already fixed. Feel free to comment if you still met the issue.

[2019-05-18 15:04] #23660 closed

[2019-05-18 17:08] tenfabricio opened #24941 "Question: Undefined is not an object (evaluating 'RootComponent.prototype')"
Hi guys,

I'm trying to write my first react-native app, and I'm really not the best programmer in the world lol... I'm trying to create a simple web browser, with a fixed URL to be used. With no toolbar or address bar.

I'm getting this error though.. I had browsed lots of websites and forums but I couldn't understand what am I doing wrong by now.

_**Undefined is not an object (evaluating 'RootC

[2019-05-18 17:15] #24941 closed

[2019-05-18 22:35] muganwas commented on #23909
Disabling Hot reloading doesn't fix it for me.

[2019-05-18 22:44] dmkato opened #24942 "Docs: Missing info in the Pull Requests page about how to build and run project"
In the [Pull Request wiki](https://github.com/facebook/react-native/wiki/Pull-Requests#getting-ready-to-submit-your-first-pull-request), the section on Implementing your changes has no mention on how to run or build the project. Someone new to NPM may not know that they need to run npm install to gather dependencies, and that they are able to sue the commands in the package.json.

[2019-05-19 01:36] ryanliszewski commented on #24429
I can also confirm it's not working on iOS when remote debugging is enabled.
[code]

[2019-05-19 04:12] FlorOtero opened #24944 "Question: Deep linking looping"
Hi! I have my project on react-native and I'm trying to use deep linking for a specific flow. At first, I'm able to complete the flow, but when finishing it keeps looping because is always getting again through Linking.getInitialURL(). It seems the URL is not cleared, and that is why keeps entering. How can I remove this URL once I finish my flow to avoid this behavior?

Thanks

[2019-05-19 04:15] #24944 closed

[2019-05-19 05:36] rewieer commented on #18899
Got it fixed using
[code]
Into `package.json` then running `yarn`. You can remove it afterwards. Thanks @sbycrosz !

[2019-05-19 06:24] Navidhp opened #24945 "Question: Native Component (Android) not show nothing"
Dear friend ,
i write sample native component like your document step by step but calling from js return blank screen (show white screen)
react-native version : 0.59.8

------------------------
VideoPlayerPackage.java
package com.videoPlayer;
import com.facebook.react.ReactPackage;
import com.facebook.react.bridge.NativeModule;
import com.facebook.react.bridge.ReactApplicationContext;
import com.f

[2019-05-19 06:25] #24945 closed

[2019-05-19 06:37] Navidhp opened #24946 "Native Component (Android) not show nothing"
React Native version:59.8

## Steps To Reproduce

1.write native component step by step like react native documentation but return nothing (white screen)

VideoPlayerPackage.java

package com.videoPlayer;
import com.facebook.react.ReactPackage;
import com.facebook.react.bridge.NativeModule;
import com.facebook.react.bridge.ReactApplicationContext;
import com.facebook.react.uimanager.ViewManager;
i

[2019-05-19 08:07] zhongwuzw commented on #23480
@1987cr Hi, thanks for reporting issue, I think it may designated behavior, contentInset adjustment don't change frame of component, which means distance between top text and bottom text is constant.

[2019-05-19 10:29] danielmartinprieto commented on #23480
Sorry, @zhongwuzw, thanks for the comment. Could you clarify why do you think that's intended? Note that the intrinsic content size of the component inside is smaller than remaining space, and that's why I also think it shouldn't add the extra height. If this content were bigger, then the behaviour would be ok (and it is, I think).

From a practical point of view, it just doesn't look well. If you

[2019-05-19 12:31] piotrpazola commented on #14045
Thank you @RocKhalil! You've saved my day...

Best regards

[2019-05-19 13:49] HVCode commented on #17986
same here, "react-native": "0.59.8",

[2019-05-19 14:02] smilecc commented on #10471
same question!
It's very incredible. I found, the question always appears in the real machine, but not in the simulator.

[2019-05-19 14:20] dozGrou opened #24951 "Bug: run-android --variant=release"
Hello,

The bug appear when initializing a new project (version 0.59.8) and after that running the application in a variant release

Output:
[code]

React Native version:
info
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz
      Memory: 4.41 GB / 15.94 GB
    Binaries:
      Yarn: 1.15.2 - C:\Program Files (x86)\Yarn\bi

[2019-05-19 15:28] LeoNatan opened #24952 "Infinite recursion in RCTProfileTrampoline"
### Description

Infinite recursion in RCTProfileTrampoline

In [Detox Instruments](https://github.com/wix/DetoxInstruments), we have added the ability to record RN profiling events. We do this by providing callbacks using `RCTProfileRegisterCallbacks` and then enabling the profiling on a bridge using `RCTProfileInit`.

To avoid user setup, we swizzle `-[RCTBridge setUp]` to listen to bridge creat

[2019-05-19 20:40] IndianNative commented on #23418
Have any one resolved this issue . I am getting this error in android 8.1  and above whenever I am switching tabs using navigation drawer and all the tabs are maps with different data
![Screenshot_2019-05-20-02-07-04-398_com where2go](https://user-images.githubusercontent.com/50475442/57987807-75bc2300-7aa4-11e9-8f4b-d7a96a745a47.png)

[2019-05-19 22:53] thib92 commented on #18357
@remarcus looks like the best answer to me.

[2019-05-20 00:10] brunohkbx commented on #21801
Hey @kelset, how much time until Mid-Priority issues get fixed?

[2019-05-20 03:08] 18842346909 opened #24957 "iPhone has denied the launch request. Internal launch error: process launch failed: Unspecified"
The project can be run on the ios simulator and the project will crash on the real machine and prompt ： iPhone to have the launch request.
Internal launch error: process launch failed: Unspecified
Environment
System:macOS Mojave 10.14.5
Node: 12.1.0
Yarn: 1.16.0
Npm: 6.9.0
react-native-cli: 2.0.1

Redo system is useless，I want to know what should I do?

[2019-05-20 03:09] PhuongNguyenETIT opened #24958 "IOS: I encountered "Allocation failed - JavaScript heap out of memory" error when archive in Xcode"
React Native version:

## Steps To Reproduce

1.
2.

Describe what you expected to happen:

Snack, code example, or link to a repository:

[2019-05-20 03:15] #24957 closed

[2019-05-20 03:44] 18842346909 opened #24960 "iPhone has denied the launch request. Internal launch error: process launch failed: Unspecified"
The project can be run on the ios simulator and the project will crash on the real machine and prompt :
iPhone has denied the launch request.
Internal launch error: process launch failed: Unspecified
![image](https://user-images.githubusercontent.com/33122833/57995027-90b58400-7af2-11e9-8812-83cd2be3eb13.png)

React Native version:
React Native Environment Info:
    System:
      OS: macOS 10.14.5

[2019-05-20 03:52] nppull commented on #23835
my problem RN0.59.8

[2019-05-20 06:49] snios commented on #15114
No news on when this will be fixed? Almost 2 years old now....

[2019-05-20 07:08] wicharek commented on #23835
@nppull notice `"left":"<>"`. Seems like somewhere in the code an incorrect value (NaN? Infinity?) is passed as `left` of some view.

[2019-05-20 07:25] aliustaoglu opened #24963 "Image.resolveAssetSource cannot resolve asset correctly in Android Release mode"
I have a native UI module in Android that takes props from JS. My images are not under /android folder so I use resolveAssetSource to get root level folder assets from Android.
Native module's prop is the output of `Image.resolveAssetSource(require('imagename'))`.

[code]

This works pretty good in debug mode. Because asset uri is in full form as below:

[code]

But when I bundle the app and creat

[2019-05-20 07:55] youngjuning commented on #24421
same bug

[2019-05-20 08:29] Swaagie commented on #23313
@cpojer could you update the top post and add my github handle to:
`Merge DatePickerIOS and DatePickerAndroid, move to community repo`
thanks!

[2019-05-20 08:33] cpojer commented on #23313
Done!

[2019-05-20 08:46] #18579 closed

[2019-05-20 08:52] fvsch opened #24965 "YellowBox text color should use black text to reach accessible contrast levels"
Because developers need accessible tools too. :)

The main text style for YellowBox seems defined here:
https://github.com/facebook/react-native/blob/master/Libraries/YellowBox/UI/YellowBoxStyle.js#L26-L28

It's white with an opacity parameter, but in practice it seems to always be full or high opacity. Let's say it's always white, to make things simple.

The yellow background uses partial opacity

[2019-05-20 09:04] cbsom commented on #22076
@vinnyhoward solution works for me as well.
This saved the few remaining hairs on my head.
No need to change distributionUrl though, gradle-5.1.1-all.zip worked fine.

[2019-05-20 09:15] biruk-tesfaye commented on #24828
@madoke thank you! 😉

[2019-05-20 09:18] fvsch commented on #24965
Steps to reproduce:
1. Start a react-native project in dev mode in an iOS or Android emulator
2. Add `console.warn('Hello')` in your JS code, e.g. in the render method of your root React component

Here's a screenshot showing low contrast text in a YellowBox.

![screenshot](https://user-images.githubusercontent.com/243601/58010343-711d5c00-7af0-11e9-8c3a-96dc33b1f1dd.png)

[2019-05-20 10:15] kelset commented on #24854
I've investigated and yes, I can confirm that the current latest 0.59.x is **NOT** compatible with Gradle 3.4.0.

But surely 0.60 will, thanks to this commit: https://github.com/facebook/react-native/commit/30348f789946dc99f5ccd02c85c8decbdb9ac29b

We will try to see if we can cherry pick it for the next 0.59.9, but it's unlikely.

Please be patient, we are trying to get an 0.60 RC out this week.

[2019-05-20 10:15] #24854 closed

[2019-05-20 10:16] kelset commented on #21319
@teamdraftbox are you using RN 0.59?

[2019-05-20 10:19] itolimaesther commented on #20543
am having similar issues.  Please can someone help

import React, { Component } from 'react'

import {
    View,
    Text,
    StyleSheet,
    TouchableOpacity,
    TouchableHighlight,
    TouchableWithoutFeedback,
    Image
} from 'react-native'

import InfoImage from 'images/info.png'

export default class ResturantRow extends Component {

    state ={
        showInfo: false
    }

    infoPres

[2019-05-20 10:19] kelset commented on #21801
I don't know, as I mentioned previously:

Also, we are trying to focus on getting an RC for 0.60 out this week, so 🤞, maybe it's fixed on master?

[2019-05-20 10:21] itolimaesther commented on #20543
![Screenshot from 2019-05-20 11-17-48](https://user-images.githubusercontent.com/18469407/58014697-55668580-7af1-11e9-9634-6c7a04cd4f61.png)

[2019-05-20 10:26] prrenish commented on #2814
defaultConfig {

    ndk{
        abiFilters "armeabi-v7a","x86"
    }
    packagingOptions {
        exclude "lib/arm64-v8a/libimagepipeline.so"
    }
    }
this worked for me

[2019-05-20 10:59] erickriva commented on #23193
I was using StatusBar like this on my render():
[code]
but backgroundColor was a empty string at first render() execution, so the exeception was thrown.
When testing, i've put a valid string color and everything's working fine now.

[2019-05-20 11:03] Kudo commented on #24261
@MalcolmScruggs Nice to hear both the experimented versions fix the crash for you.
I am thinking to disable DFG_JIT, at least the JIT option is aligned with old JSC.

[2019-05-20 11:18] thib92 opened #24968 "JS bundle isn't included in Android production build with Gradle 3.4"
React Native version: `0.59.8`

## Steps To Reproduce

1. Open Android-Studio and update `com.android.tools.build:gradle` to `3.4.1` in the main Gradle file
2. Sync Gradle
3. Try to build an APK and install it on an Android Simulator (`adb install`)
4. See the app crash
5. Run `adb logcat` to get the logs of the Android Simulator
6. See the exception saying `Unable to load script from assets 'inde

[2019-05-20 11:54] Desintegrator opened #24969 "Is cmd+r refreshing working?"
React Native version: 0.59.8

## Steps To Reproduce

1. run project at Xcode 10.1
2. press CMD+R to refresh

what expected to happen: app refresh
what actually happen: nothing

[2019-05-20 11:59] Asday commented on #16434
I'm trying to parse a URL.  The `URL` class is perfect for that.  I don't see anything in the docs mentioning you've gutted `URL` for "bundle size" reasons.

[code]

What's _really_ cool about that is that is that it works _just_ fine in testing because `jest` is running in a completely different environment to what the app actually will, so I've had something in `master` for about a week that sim

[2019-05-20 12:00] xutm opened #24970 "numberOfLines property of Text is invalid in iPhoneX"
## Bug
This is OK when only set `numberOfLines = {2}` in `Text`.
But when lineHeight is set, only one row is shown.

The style on iphonex is as follows：
![image](https://user-images.githubusercontent.com/11706751/58019937-486d8480-7b39-11e9-8ea6-36ac10248822.png)

The style on iphone 6 is as follows：
![image](https://user-images.githubusercontent.com/11706751/58019947-4f949280-7b39-11e9-803f-db29b

[2019-05-20 12:24] lanekatris commented on #18221
My workaround is acting like the `onKeyPress` and `onTextChange` event but doing so on `onChange`. I have to manually find the string difference though to determine the "key" they pressed. This will act the SAME across iOS and Android.
Demo: https://snack.expo.io/@loonison101/handle-event-firing-discrepancy-rn

[code]
[code]
[code]

[2019-05-20 13:17] billtlee commented on #24505
Hi,

Am I suppose to be able to do

react-native run-android --variant=release on my physical android device connected to my machine after the do the following?

$ react-native bundle --dev false --platform android --entry-file index.js --bundle-output ./android/app/build/intermediates/assets/debug/index.android.bundle --assets-dest ./android/app/build/intermediates/res/merged/debug
Loading depend

[2019-05-20 13:52] Desintegrator commented on #24969
So no i also can't type anything from keyboard into emulator (only with native ios keyboard)

[2019-05-20 14:01] itolimaesther commented on #22483
I have the same issue here

`{
                this.state.showInfo &&
                <View style={styles.info}>
                    <Text>Restaurant Info</Text>
                    <Image source={InfoImage}
                    style={{
                       width: 1,
                        height: 100
                    }}/>
                    resizeMode="contain"
                </View>

[2019-05-20 14:10] marco-solari commented on #21095
Didn't work for me

[code]

[2019-05-20 14:15] syk1k commented on #23482
Am have the same error

[2019-05-20 14:53] uqmessias commented on #24951
Hi @dozGrou,
Before you try to testing in release mode, you must set up Android to start building in release. To do so you need to follow this [step-by-step doc page](https://facebook.github.io/react-native/docs/signed-apk-android)

[2019-05-20 14:56] #24623 closed

[2019-05-20 14:56] #24610 closed

[2019-05-20 14:56] #24370 closed

[2019-05-20 15:08] JonBerglund commented on #24568
Hello, I have the same problem for some reason Uint8Array dont have the function from (undefined).

Bug report:

TypeError: TypeError: TypeError: undefined is not a function (evaluating 'Uint8Array.from((0, _base.decode)(validFor), function (c) {
          return c.charCodeAt(0);
        })')

This error is located at:
    in List (at ProductsTabScreen.js:26)
    in RCTView (at View.js:43)
    in

[2019-05-20 15:28] JonBerglund opened #24971 "undefined is not a function (evaluating 'Uint8Array.from ..."
Hello,
I seem to have a problem with Uint8Array.
The app crushes when Uin8Array.from is called (undefined for some reason).
It only happens on android environment and when debug mode is disabled.

- code line:
`let array = Uint8Array.from(atob(validFor), c => c.charCodeAt(0))`

- Bug report:
TypeError: undefined is not a function (evaluating 'Uint8Array.from((0, _base.decode)(validFor), function (

[2019-05-20 17:11] rochapablo commented on #24543
Upgrading to `"react": "16.8.6",` did work!

[2019-05-20 17:12] hramos commented on #19150
While we are tracking this internally, this issue is still up for grabs. If anyone from the community is interested in providing a pull request, please go ahead.

[2019-05-20 17:15] hramos commented on #15114
@snios we'd be happy to take a look at a pull request that fixes this. Let me know if you're interested.

[2019-05-20 17:18] MoOx commented on #24969
Be sure to have the keyboard connected (the line below the one highlighted).

<img width="865" alt="image" src="https://user-images.githubusercontent.com/157534/58039700-ca5aaf00-7b33-11e9-9a06-179c9e7c7e92.png">

[2019-05-20 17:33] albat commented on #24854
Thanks for your reply :)

[2019-05-20 17:48] Desintegrator commented on #24969
My mistake - i can type into fields.
But cmd+r still doesn't work.
Keyboard connected
![image](https://user-images.githubusercontent.com/17068034/58041391-6cd55b00-7b51-11e9-8a8d-7db1ed078cb5.png)

[2019-05-20 17:51] Desintegrator commented on #24969
It was ok before updating from 0.57.7 to 0.59.8

[2019-05-20 18:03] dimitarnestorov commented on #23313
Would be amazing if you adopt https://github.com/yfuks/react-native-action-sheet and merge it with ActionSheetIOS

[2019-05-20 18:32] necolas commented on #23313
If you're going to maintain a repo that is created to move APIs out of React Native core, please ensure you are capable of supporting implementations for other platforms, and be sure to look at the equivalent implementations in react-native-web and react-native-windows.

[2019-05-20 18:57] wildseansy commented on #24968
My workaround for this was to move the `index.android.bundle` from `app/build/generated` to `app/src/main/assets`, and then run gradle again to bundle this in.

Do this at your own risk, it definitely took some pain to figure this out, and may have unforeseen consequences

I run this to generate a release:
[code]

[2019-05-20 19:02] thib92 commented on #24968
@wildseansy I’ve seen this workaround as well, but I’m not a big fan as you’re adding a bundle to the src directory, which is in source control, which mean you have to modify your gitignore file etc.

[2019-05-20 19:12] lklepner commented on #23465
We are experiencing a similar crash in 0.57.8 that also seems attributable to memory management in some fashion. Approximately 4% of our app launches experience the crash below within 2 seconds of the app booting.

[code]

@mtostenson you mentioned you had some success working around this issue - would it be possible for you to post the fix you put into place? We'd love to give it a try in our pro

[2019-05-20 19:41] JanOwiesniak commented on #23465
@lklepner the fix @mtostenson mentioned above is captured in the first screenshot in [this](https://github.com/f111fei/react-native-unity-view/issues/79#issuecomment-465110101) comment. Hope this helps.

[2019-05-20 19:59] lklepner commented on #23465
Many thanks @JanOwiesniak, I'll give that a try.

[2019-05-20 21:05] arabbott commented on #15059
Seeing this as well on Samsung SM-G950U Android 9.0 using pinch to zoom.  I've turned off the console logs as mentioned in earlier posts.

I get this in an image gallery component I've made using react-native-image-view.  It doesn't appear to crash the app now that I've turned the console logs off but pinch to zoom stops working until I open a new image.

[2019-05-20 21:08] wildseansy commented on #24968
@thib92 - for sure. I just haven't found a better way yet, and downgrading will come at a cost after having integrated some React Hooks.

[2019-05-20 21:12] Collin3 commented on #23364
I'm seeing the same issue RN `v0.59.5` on iOS and Android

[2019-05-20 21:15] thib92 commented on #24968
I use hooks in my app and downgrading to `Gradle 3.1.4` didn't cause any problem 😊
But anyway I think it would be great if this could be fixed on the RN side!

[2019-05-20 21:29] matthargett commented on #24965
I actually heard from a sight-impaired React Native developer recently who complained that YellowBox ignored the font size preferences from the system settings. I love the idea of making React Native more accessible for app developers *and* their users.

[2019-05-20 21:45] hakkikonu commented on #23364
@kelset Yes, still I'm seeing

[2019-05-20 21:46] wildseansy commented on #24968
Ah, I see - I had assumed downgrading Gradle would mean also bumping RN down, which would cascade to React being bumped down.

[2019-05-20 21:48] thib92 commented on #24968
Fortunately it doesn't look like it 😄

[2019-05-20 22:15] MalcolmScruggs commented on #24261
@Kudo Are planning on targeting your fix of disabling `DFG_JIT` only to affected devices / CPUs?

[2019-05-20 22:38] Piero87 commented on #24450
Yesterday react-native run-ios works with no problem and today I get the error of this issue and haven't change or update anything, any solution?

[2019-05-21 01:08] anastely commented on #22069
I have the same issue when i run **./gradlew assembleRelease**

[2019-05-21 01:08] almikurniawan opened #24973 "Can't run-android"
react-native info
info
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
      Memory: 4.87 GB / 7.89 GB
    Binaries:
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.5429.30.34.5452501
node -v = v12.2.0

$ adb devices
* daemon not running; starting now at tcp:5037

[2019-05-21 04:56] pengliheng commented on #23495
how to fix it???

[code]

[2019-05-21 05:31] JigzIO commented on #23781
Same here, why has this issue been closed without a solution.

@deecewan I'd like to know as well how you managed to fix it.

[2019-05-21 05:32] devpascoe commented on #21310
problems went away when i moved the contents of my (previous 0.56.0 RN project) content in src folder to root.

[2019-05-21 06:59] guhungry commented on #24971
It is due to the old JavaScript Core. Please update React Native to 0.59.8 or try to update [android-jsc](https://github.com/react-native-community/jsc-android-buildscripts).

[2019-05-21 07:06] GospelHW commented on #24382
Hi yogeshchoudhary147 May i know how to downgrading it to 0.14 in package.json?

[2019-05-21 07:23] owinter86 commented on #18926
@hramos  I have been able to reproduce this into a simple example, as per below. Copy paste will break on android if a parent view has removeClippedSubviews enabled, and the textInput is wrapped in a view with certain styles. See below.

[code]
I think more people will have this issue as I believe createBottomTabNavigator from react-navigation uses removeClippedSubviews for performance improvement

[2019-05-21 08:06] bashen1 commented on #24815
You are right. fixed the 「We ran "xcodebuild" command but it exited with error code 65」

[2019-05-21 08:15] AndreyPatseiko commented on #21755
Like said **@mhkhung** I added simple delay into run application, and for now I don't getting crash in first time start application. But I getted crashes on other screens just when they start  rendering.
I don't think  adding delay on all screens it's good solution.
I use RN 0.55.

![image](https://user-images.githubusercontent.com/18285745/58079054-d63c8480-7bb8-11e9-9e01-b1761eae4e4c.png)

[2019-05-21 08:30] smadey commented on #24691
only android happen +1

[2019-05-21 08:33] zhongwuzw commented on #24969
@Desintegrator Strange, I think we don't change this feature a long time, can you please restart simulator and Xcode to retry?

BTW, shake gesture also can trigger reload.

<img width="396" alt="image" src="https://user-images.githubusercontent.com/5061845/58080585-136b3b80-7be6-11e9-980b-e318f50fbeb3.png">

[2019-05-21 09:07] Desintegrator commented on #24969
Yeah, shake gesture works but its longer than hotkeys
restart doesn't affect :(

[2019-05-21 09:31] ntorion commented on #24261
Did someone tried with last version of React Native (0.59.8) which is fixing some crashes (mentioned in release note) ?
https://github.com/facebook/react-native/releases

[2019-05-21 09:33] nes123 opened #24976 "Modal is not transparent on Android"
Modal behaves well on IOS and is transparent while on android it shows with white background

React Native version:

   System:
      OS: macOS 10.14.4
      CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
      Memory: 13.21 GB / 32.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.3 - /usr/local/bin/node
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /u

[2019-05-21 09:58] SlowDony commented on #23223
React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 107.77 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 11.14.0 - /usr/local/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 10.14, tvOS 12.1,

[2019-05-21 10:26] #24325 closed

[2019-05-21 10:30] ddinggu commented on #24421
react-native 0.59.8
I removed `['@bab   el/plugin-proposal-class-properties', { loose: true }]` and works fine.

[2019-05-21 10:38] jenskuhrjorgensen opened #24977 "Text component adds a linebreak when string content is equal to width of component"
## 🐛 Bug Report
On iOS (and possibly Android), when the length of the text string is the width of the Text component, it adds a linebreak. This is a duplicate of https://github.com/facebook/react-native/issues/24674 which was closed due to missing env info.

This is a copy of [this](https://github.com/facebook/react-native/issues/15893) closed issue.

## To Reproduce
1. Add a Text component anywhe

[2019-05-21 10:42] hopewise commented on #24192
In my case the problem occurred when I tried to link `@react-native-community/async-storage` in Podfile it was installing react 0.11.0 version, then I tried to keep the current version of react by:

[code]
and that was the start of the issue, wasted two days.

I've deleted `Pods` folder and `pod install`
and
`rm -rf node_modules`
`npm start -- --reset-cache`

and then I can work again.. for the me

[2019-05-21 10:45] #24977 closed

[2019-05-21 11:19] rafalgiemza opened #24978 "Wrong link"
## Steps To Reproduce

1. Go to page https://facebook.github.io/react-native/docs/javascript-environment
2. Click on 'navigator.geolocation'

Expected behaviour:

Change href from
`href="geolocation.md#content"`
to
`href="geolocation"`

![image](https://user-images.githubusercontent.com/11310249/58091898-13aa0d80-7bcb-11e9-9b2b-4d5409e10a6d.png)

[2019-05-21 11:20] arkhamsushant commented on #23908
This worked for me for 0.59.0. However, is this fixed in a higher version of RN.

[2019-05-21 11:22] khanhduy62 opened #24979 "couldn't find provider"
I got message "couldn't find provider" when run on iOS simulator
Please help me

[2019-05-21 11:23] #24979 closed

[2019-05-21 11:32] leemcmullen commented on #21242
I still couldn't get it to work, even with updating the `Podfile` to reference `node_modules` and configuring `metro.config.js` with the blacklist.

It turns out my issue was that there was an unused `React` directory lying around within `ios/Pods` which was causing the conflict. After I removed that, metro started first time.

[2019-05-21 11:44] lunatolun commented on #23886
check this out: https://github.com/facebook/react-native/issues/18408#issuecomment-386696744
it solved the issue for me.

[2019-05-21 12:10] rajendraptl-itpath opened #24980 "Question: Unable to set Animated.View design in react-native-view-shot captureRef"
🚨 The issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

### https://stackoverflow.com/questions/tagged/react-native

If you have a coding question related to React Native, it might be better suited

[2019-05-21 12:15] #24980 closed

[2019-05-21 12:18] rajendraptl-itpath opened #24981 "Question: Not able to use CaptureRef method"
Hi

I am using react-native-view-shot for taking snap shot.
In that I am passing React native view in captureRef method.
Now in my view there are multiple Animated.Views so I am getting error of The content size must not be zero or negative. Got: (0, 0).

Please help me if anyone have idea for this.

Thanks

[2019-05-21 12:23] pebehb commented on #24498
i updated to v0.59

[2019-05-21 12:54] sgovindan opened #24982 "Invariant violation: sylt object is not usable as a native method argument"
I upgraded the app to the latest react and react-native with the following versions and there is a page in app, which has a draggable component, which uses Animated.View as its root node. Once that component is dropped in screen. on pan gesture end callback does some state changes, which throws the below error.

     "react": "16.8.3",
    "react-native": "0.59.8",

Error:
![IMG_0338](https://user

[2019-05-21 13:34] Taym95 commented on #24973
I don't think it's an RN bug, the issue is with your setup, `Make sure you have an Android emulator running or a device connected` and Run `react-native run-android` command with `--verbose` to show more details!

[2019-05-21 13:41] Taym95 commented on #24978
This issue should be opened in [react-native-website](https://github.com/facebook/react-native-website) repo.

[2019-05-21 14:00] PrithviPrithvi opened #24983 "Pasting an Text in Input with maxLength on IOS causes style issues"
Hi everyone,

I'm using  _react-native_ version _0.59.1_. While developing an Application I noticed that when using **TextInput** component with maxLength and multiline from _react-native_ and pasting something which is bigger than maxLength in InputBox on IOS, all the style gets removed

Anyone who wants to trace this issue can take below snippet

[code]

Now, Run the app on IOS and try to paste

[2019-05-21 15:54] hafizali05 commented on #23156
@opnay can you explain a bit more?

this happened to me all of a sudden and i cant seem to figure out whats missing.

[2019-05-21 16:28] adityafuture01 commented on #20659
Is this issue fixed? Because I still this issue in 0.59 version.

[2019-05-21 18:08] andrewchae commented on #24505
Will there be something released so that we don't have to use this workaround soon?

[2019-05-21 19:16] harryt2 commented on #24261
In my case I was using 0.59.8, I've since then reverted to 0.57.8 since nothing else seemed to work. This bug is particularly bad because it causes the app to crash immediately upon opening. My app took quite a haircut in the reviews.

These devices have a signal 11 crash but it just shows a memory location.

General Mobile GM8 Go - Android 8.1
Motorola Moto E - Android 7.1
Samsung Galaxy A6+ - An

[2019-05-21 19:26] hramos commented on #24978
As @Taym95 said, please open an issue in the docs repo or send a PR. Thanks!

[2019-05-21 19:26] #24978 closed

[2019-05-21 19:29] kieran-alh opened #24986 "Unable to connect to remote debugger, stuck at Launching Dev Tools"
Using the remote debugger causes the react-native application not load. From the output of the `react-native-cli` it shows Launching Dev Tools (0/1) and it never moves. The remote debugger tab automatically launches in chrome, but localhost:8081/debugger-ui can't be reached.

Both the iOS and Android simulators shows:

[code]
### iOS Simulator
![ios-simulator](https://i.imgur.com/5h5sV9S.png)
###

[2019-05-21 20:50] perryhoekstra opened #24987 "[0.59.8] Android release build fails"
React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
      Memory: 1.74 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.3 - /usr/local/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:

[2019-05-21 21:53] rardoz commented on #10991
I think it has gotten worse actually. Im seeing it crash even when HMR is off and hot reloading is enabled. Every save, crash.

[2019-05-21 23:11] chops318 commented on #24925
As a temporary workaround, when setting the modal position using an AnimatedValue with setValue, you must supply an `x` and `y` coordinates (lucky for me,  my use case does not need anything but 0 as x).

By using this

[code]

This fixes the issue on simulator. As a side note, the offending underlying API piece is essentially being passed `NaN` as a value, causing the error.  Not sure what change

[2019-05-21 23:35] johnhaup commented on #15388
This was happening to me because I had the Debugger running and connected to another device.  So the iOS simulator connected to the debugger was blocking the Android device from connecting to the packager.  Stopping remote debugging on the iOS simulator allowed the Android device to connect, or you could also start debugging remotely on the Android device as well.

[2019-05-22 01:08] mhadam commented on #24192
I found these answers only worked for me if I enabled the legacy build system.
After that I just needed the `post_install` bit for `React`.

[2019-05-22 01:12] xgqfrms commented on #21882
# Q:

# A:

[code]

[2019-05-22 01:16] TaylorDale commented on #18899
@cdreier thanks for that, mine works after wrapping the root component

[2019-05-22 01:17] deecewan commented on #23781
I have no idea how I fixed it - I imagine uninstalling the App from the iOS simulator, clearing the cache, removing node_modules. I'm really not sure.

I've now upgraded, and haven't seen the error for a while.

[2019-05-22 01:19] guoliang1206 commented on #16067
Still has onEndReached bug, can not works well as the document said.

[2019-05-22 02:57] almikurniawan commented on #24973
i use android device and i check with command adb devices my devices is connected,
$ adb devices

daemon not running; starting now at tcp:5037
daemon started successfully
List of devices attached
4de8ae18 device

then downgrade node to 6.4.1 version and npm version 3.x.x and install react native version 0.55 it work in same devices, but not work for react native 0.59 and node 12.

[2019-05-22 03:24] hungvu193 commented on #23282
This worked for me

[2019-05-22 03:45] snios commented on #15114
@hramos thought there would be att least some one working on the development of this framework from Facebooks side.

And sorry but i just started using it so i probably wont figure it out in a few years.

[2019-05-22 04:05] gaodeng commented on #15114
even you send the PR,It will take years to be merged.

[2019-05-22 04:10] 7772 commented on #22963
#20841

[2019-05-22 04:17] guhungry commented on #24968
Duplicated with https://github.com/facebook/react-native/issues/24854

[2019-05-22 04:19] dulmandakh commented on #24987
you must use Android Gradle plugin 3.3.x with 0.59.x. 0.60 will support Android Gradle Plugin 3.4.x.

[2019-05-22 04:19] #24987 closed

[2019-05-22 04:41] guhungry commented on #24963
Please use this instead.
[code]
[`Image.resolveAssetSource()`](https://facebook.github.io/react-native/docs/image#resolveassetsource) doesn't intend to be used directly and for network image `width` and `height` won't be available.

[2019-05-22 05:42] hamzawaleed0102 commented on #24986
**Workaround:** Keep dev tools open in chrome and then press "Debug JS Remotely" on device/simulator.
_If doesn't work then try restarting packager and repeating the same._

[2019-05-22 06:20] AmyrAhmady commented on #23575
The thing is, universal apk file is like 27mb now, which was around 7mb before for a clean react-native project.
even they added new architectures support such as `arm64-v8a` and `x86_64`, that doesnt mean it should go this much high.

Before latest updates it was around 7mb while it was supporting both `armeabi-v7a` and `x86`. and for separated apk files, they were only 3mb and 5mb. but now after

[2019-05-22 06:30] AmyrAhmady opened #24988 "APK file size after latest updates (this issue was already reported but they're marked as closed)"
Hey :wave:
this issue was already reported multiple times but they're marked as closed.

The thing is, universal apk file is like 27mb now, which was around 7mb before for a clean react-native project.
even they added new architectures support such as `arm64-v8a` and `x86_64`, that doesn't mean it should go this much high.

Before latest updates it was around 7mb while it was supporting both `arme

[2019-05-22 07:01] sultan2Dilawar commented on #15476
+1

[2019-05-22 07:16] #24670 closed

[2019-05-22 07:20] hramos commented on #15114
@gaodeng we've closed 1,057 pull requests in the last six months, with 730 getting merged into the repository. As I said, we'd be happy to see a PR.

[2019-05-22 07:57] thib92 commented on #24968
@guhungry I didn’t see it had been fixed on master! Thanks!

[2019-05-22 07:57] #24968 closed

[2019-05-22 08:17] Conviley commented on #24986
I've never had sucess connecting to
`localhost:8081/debugger-ui`
Now that i'm using expo i connect to
`localIPv4:8081/debugger-ui` (on windows u can use `ipconfig` to find your ipv4)
and back when i wasn't using expo i connected to
`10.0.2.2:8081/debugger-ui`

I've only worked with android simulators but maybe it's worth a try?

[2019-05-22 08:35] aliustaoglu commented on #24963
What is it supposed to mean? Documentation does not mention anything about calling it directly. Also it is an exposed function which means it could be called. I am not doing any hack. Just using a function that is exposed. It is callable and it does work, just not in the release mode. width and height is not a concern for this one as it is a static asset.

According to here it is intended to be ca

[2019-05-22 08:38] brenwell commented on #23121
I am seeing this issue aswell, swapping a View to a ScrollView offsets the content by the height of the statusbar

[code]

[2019-05-22 08:38] brenwell commented on #23121
@xupengkun Did you just offset the scollview manually or was there something deeper?

[2019-05-22 08:40] alexkuttig commented on #24261
I can add some devices to the list of @harryt2.

Signal 11 crash with only a memory location:

Samsung Galaxy Note 9 - Android 9.0
Huawei Honor 8X - Android 9.0
Samsung Galaxy A7 (2018) - Android 9.0
Samsung Galaxy S9 - Android 9.0
Samsung Galaxy A6+ - Android 9.0
Nokia Nokia 8 - Android 9.0
Huawei Huawei P30 lite - Android 9.0
Samsung Galaxy Note8 - Android 9.0
Samsung Galaxy A9 - Android 8.0
Sam

[2019-05-22 08:42] brenwell commented on #23121
I am having to do something like

[code]

[2019-05-22 08:52] guhungry commented on #24963
Then @aliustaoglu should refer to native's [`ImageSource`](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/imagehelper/ImageSource.java) not from javascript side.

I said that be cause it not meant to be used the way you used it. That is implementation detail.

[2019-05-22 08:54] Harsh2402 opened #24990 "glog-0.3.5 getting logging.h not found in iOS"
When I tried to run the app from Xcode(10.1) then getting the following error.
logging.h not found.

It's working fine while running an app in Android.

      react: 16.8.3 => 16.8.3
      react-native: 0.59.8 => 0.59.8
      Node: 8.11.4
      Yarn: 1.16.0
      Xcode: 10.1

[2019-05-22 09:03] nicovak commented on #19981
Same issue here, on Android. I had to apply a single style for each situation. It can't be overrided.
`borderWidth` and `borderColor` must be set for each case. Only `borderRadius` can be set first.

[code]

[code]

[code]

If I set a `borderWidth` or a `borderColor` in `mainContentBorder` It's doesn't work (only bottom and top)

[2019-05-22 09:15] brenwell commented on #23121
Ok so that didn't work but I found a much better solution

[code]

[2019-05-22 09:29] serjiogunit commented on #24685
0.59.8 still contains this bug for me

[2019-05-22 09:29] Jyrno42 commented on #15114
I might look into this over the weekend (unless someone beats me to the punch).

[2019-05-22 09:40] examineyou65 opened #24991 "Dynamic import path from server or Json"
I have a JSON file which contains the path for different workspace. Each workspace js contains some js code which is used for supply event to the particular workspace. I need to load js dynamically when the workspace is load. But in React native I couldn't import dynamically. While bundle load itself it throws an error.

import("${path}").then(()=>{});

[2019-05-22 10:13] vikalpjain commented on #24657
I'm starting it using react-native run-ios. Will try from XCode also and update.

[2019-05-22 10:19] ssg-luke commented on #18221
Also seeing this on RN 0.59.1. There is no workaround other than to handle Android differently from iOS as far as I know

[2019-05-22 10:26] Developers-Employwise commented on #13149
By followed these two steps, websocket issues has been resolved.
Thanks  @ivorscott

[2019-05-22 10:55] Jaisai123 opened #24993 "Expo init is not working"
verbose stack Error: Command failed: git clone --depth=1 -q -b v0.22.1-exp.0 git://github.com/expo/react-native-maps.git /home/exa4/.npm/_cacache/tmp/git-clone-706a8668

***Command :: expo init <foldername> ***
After the name specified, it will run and install the npm dependencies normally but in my case, it just shows the following error:
npm ERR! code 1
npm ERR! Command failed: git clone --depth

[2019-05-22 10:56] carlosbonilla commented on #24450
@Piero87 I had exactly the same problem, I just delete the `build` folder inside `/ios` then just run again `react-native run-ios` and the error disappear.

[2019-05-22 11:04] MakhouT commented on #22076
@vinnyhoward That worked for me too.
As @cbsom said, no need to change the distributionUrl
Took me a day to find this.

[2019-05-22 11:07] TfADrama commented on #10865
The patched script makes my onMessage to be always called twice in iOS when i do a click event...
The useWebKit prop was the only way, at least for now...

[2019-05-22 11:38] guhungry commented on #24973
So this is old project right. Did you upgrade properly?

It quite tricky to upgrade cross many versions https://github.com/react-native-community/rn-diff-purge/compare/release/0.55.0..release/0.59.8

[2019-05-22 11:54] perryhoekstra commented on #24987
I tried multiple versions of the Android Gradle plugin, including 3.3.1 and 3.3.0 with no success

[2019-05-22 12:07] aweffr commented on #19413
My Envirment:
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i3-4160 CPU @ 3.60GHz
      Memory: 5.13 GB / 15.94 GB
    Binaries:
      Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.1.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5056338

I have got this problem too!

[2019-05-22 12:26] akhilsanker commented on #24149
Hi @kelset ,

Any update on this?

Thanks

[2019-05-22 12:36] sgovindan commented on #24982
I have attached the environment info as a screenshot

[2019-05-22 13:13] remiroyc opened #24996 "Question: Settings.set do not implement suiteName param (app groups) [IOS][API]"
Hello,

I tried to create a today extension for my ios app. I would like to share some data between my app and my extension via UserDefaults api. But I can't use standard UserDefaults but I should use app groups and set a suiteName.

[code]

But I think I can't set suiteName when I use your Settings API:

[code]

I saw a lot of native modules which reimplement UserDefaults to set suiteName like ht

[2019-05-22 13:15] #24996 closed

[2019-05-22 13:34] remiroyc opened #24997 "Settings.set does not implement suiteName param (app groups) [IOS][API]"
I think I found a lack into RN settings api implementation.

React Native version: 0.58.6

## Steps To Reproduce

1. I tried to create a today extension for my ios app. I would like to share some data between my app and my extension via UserDefaults api.
2. But I can't use standard UserDefaults but I should use app groups and set a suiteName.

[code]

But I think I can't set suiteName when I use y

[2019-05-22 13:54] Gomechatronics commented on #24260
In my case the application loads when the phone is connected to the metro-builder, but once the phone is disconnect from the Metro-builder the application crashes.

[2019-05-22 14:03] ilanolkies opened #24998 "Error with `http` node module"
Error when trying to use `web3` with React Native.

[code]

I think it is related with this https://docs.expo.io/versions/latest/introduction/faq/#can-i-use-nodejs-packages-with-expo

Steps to reproduce:

1. Create blank app
[code]
2. Import `web3` in `App.js`
[code]
3. Run
[code]

[2019-05-22 14:04] olajidenewton commented on #24613
update your react

[2019-05-22 15:20] Sharcoux commented on #24935
Try to run

[code]

[2019-05-22 15:26] Sharcoux commented on #24871
Probably linked with this : [https://github.com/necolas/react-native-web/issues/1254](https://github.com/necolas/react-native-web/issues/1254)

[2019-05-22 15:32] niclin commented on #24450
I just try `sudo react-native run-ios` the error disappear.

[2019-05-22 16:59] GreenRidingHood commented on #24657
@vikalpjain yes, pls update, i know probably dependencies related, because i dont have any problem in my other project (xcode10 and last version of RN). I dont see any error in both way if i run my app (from terminal and from xcode). And without error very frustrating, even cmd+d not working for debugging :( . I created this project from new RN project, after many attempt to run my project on new

[2019-05-22 17:09] GreenRidingHood commented on #24657
@vikalpjain i found a clue at apple forum, simulator can be problem, try running USB connected device. I am trying, i will update

[2019-05-22 18:18] janicduplessis commented on #24998
React Native does not implement node apis, this is why you cannot use the `http` module. RN does implement `XMLHttpRequest` and `fetch` for networking instead. You'll have to open an issue for the `web3` package to see if they can support RN.

[2019-05-22 18:18] #24998 closed

[2019-05-22 18:22] janicduplessis commented on #24988
I'm not sure exactly what caused the size increase but we did update JSC and added new architectures so it could be related to this. There might also be a regression and things we can improve so if someone can investigate what is causing the APK size to have gone up that would be great.

In the meantime I suggest looking at https://developer.android.com/platform/technology/app-bundle to ship more

[2019-05-22 19:10] ThomasGHenry commented on #20492
https://github.com/facebook/react-native/issues/20492#issuecomment-464343895

That and killing a stale instance of the metro packager helped me.

[2019-05-22 19:28] Ditto92 commented on #24022
![bug1](https://user-images.githubusercontent.com/50340990/58202707-39f0ab80-7ca6-11e9-9618-f85461066082.JPG)
ERROR: Could not get unknown property 'mergeResourcesProvider' for object of type com.android.build.gradle.internal.api.ApplicationVariantImpl.

[2019-05-22 20:30] dhk5 opened #25000 "nativeStackAndroid only contains up to 10 stack traces"
nativeStackAndroid only contains up to 10 stack traces. This is due to the "ERROR_STACK_FRAME_LIMIT" set to 10 on https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/bridge/PromiseImpl.java.

![2019-05-22_10-33-23](https://user-images.githubusercontent.com/5590665/58205971-9ba81a00-7c94-11e9-8552-209190891104.png)

nativeStackAndroid should contain al

[2019-05-22 22:44] dudusotero commented on #24261
Any solution for this at this moment?
I've tested in two different galaxy note 9, every phone crashes immediately

[2019-05-23 01:02] rudineybarbosa commented on #23528
a

Did you find how to avoid this problem?

[2019-05-23 01:19] ilanolkies commented on #24998
Thanks!

[2019-05-23 02:28] NotedToSelf commented on #19085
I'm having the exact same issue, just chiming in to say it's happening on a Pixel 2 XL

[2019-05-23 02:28] HughBerriez commented on #24450
I was getting this same error with regards to the Info.plist.

[2019-05-23 02:33] Noitidart commented on #19085
Thanks for the vote @NotedToSelf - I am also still having the problem.

[2019-05-23 02:36] crobinson42 commented on #24505
@hariegnify I was having the same issue as @rochapablo where the `index.android.bundle` was not being created until I commented out the line in my `build.gradle` file: `// apply from: "../../node_modules/react-native/react.gradle"`. (note: this didn't start happening for me until after I upgraded to rn 0.59 today)

After looking at the file `node_modules/react-native/react.gradle`  I'm curious if

[2019-05-23 03:23] crobinson42 commented on #22234
In my case there were files in the drawables `res/drawable-*` directories that were lingering from some other dev on my teams commit - I was getting a "Error: Duplicate resources" pointing at those file names - I deleted the files from drawables and everything works fine 👍

[2019-05-23 04:27] nomi9995 commented on #16376
i fixed this error by @grossingdev comment. but after updating react-native to 0.59.8 version. this error has come again

[2019-05-23 05:42] brunohkbx commented on #19497
+1
I've tried to using `pageX` as @KakarN mentioned but it still didn't work.

[2019-05-23 06:05] brunohkbx commented on #19497
+1
I couldn't find a way to properly get a correctly `Y` value

[2019-05-23 06:46] lawsonk1215 commented on #15388
This was my issue as well, thank you!

[2019-05-23 07:02] dellwatson commented on #21116
the thread is too long, and i didnt get the point how to solve this,

in Android i have to replace FlatList/ ScrollView with ViewPagerAndroid ?

[2019-05-23 07:22] AmyrAhmady commented on #24988
Just to let you know, on RN 0.58.6 which only supports `armeabi-v7a` and `x86` (means new architectures support wasn't even there to cause the size increase), release build file is +16mb (talking about universal app)
things that changed after 0.57.x version:
[code]
dependencies {
        classpath 'com.android.tools.build:gradle:3.2.1'
..........
task wrapper(type: Wrapper) {
    gradleVersion = '

[2019-05-23 08:38] matpaul commented on #24261
@dudusotero use @Kudo instruction https://gist.github.com/Kudo/cc40662163fbd69dd01d66fd99476c17

[2019-05-23 08:53] tgensol commented on #22392
Still having the issue. Custom keyboard is triggered with number-pad, but not with phone-pad

[2019-05-23 08:59] varunkumar2 commented on #23764
We are using `react-native:0.59.1` and getting this crash for following devices (using google app bundle)-
[code]
Config in build.gradle-
[code]

[2019-05-23 09:14] tijs commented on #24261
@matpaul @Kudo i can confirm that this experimental build of js core seems to fix the issue for us as well (tested on Samsung s7).

[2019-05-23 09:28] lucasSndr commented on #22033
Same here. No android folder in react-native/
Java compiler displays : cannot find symbol class ReactApplication and cannot find symbol ReactNativeHost.

Any update ?

[2019-05-23 09:28] Luckygirlllll opened #25003 "Error while trying to upgrade to 59.0"
React Native version:

 React Native Environment Info:
    System:
      OS: macOS 10.14.3
      CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
      Memory: 42.14 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman

[2019-05-23 09:35] Nahani commented on #23764
Hello,

I use RN 0.59.8  I have the same issue, the app not works with 64 bits phones, it work only with 32 bits phone.

As recommented in RN 0.59.8 I removed the ndk.abiFilters, the app not crash but I still have error at SoLoader with all lib.so :
libjscexecutor.so found on /data/app/com.app.test-SFnTD8ddIPtzG5-VSr7cKA==/lib/x86_64

Regards,

[2019-05-23 09:41] Luckygirlllll commented on #25003
@react-native-bot That's why I opened this issue

[2019-05-23 09:49] cj768025549 commented on #15892
It works for FlatList, but not for SectionList.

[2019-05-23 09:59] radeno commented on #23764
Guys, you should check 3rd party packages if they support 64bit ABI.
Please post your package list always. You can check default demo app on 64bit phone. If it doesn't crash then try to find a problem elsewhere.

[2019-05-23 10:10] wkmcyz commented on #22744
I tried it on Android 9 with v0.57.10 of react-native, and it works, the FlatList could scroll normally but seems slower when pagingEnabled is set than on OS versions <9 .

[2019-05-23 11:41] artechventure opened #25004 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Metro bundler build fails when adding aws-sdk-js on react-native 0.59.8.
It fails with a message below :

transform[stderr]: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

React Native version:

React Native Environment Info:
System:
OS: macOS 10.14
CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
Memory: 2.16 GB / 16.00 GB
Shell: 5.

[2019-05-23 12:36] guhungry commented on #25003
`react-native-git-upgrade` was deprecated for some time now. Please try https://github.com/react-native-community/rn-diff-purge instead.

[2019-05-23 12:42] remigarcia opened #25005 "error: bundling failed: Error: ENOENT: no such file or directory, scandir '/Users/myuser/MyProject/mycomponents/node_modules/private-dependency/images'"
Hello,

I'm facing this error when trying to build for iOS :
[code]

So, I have a private dependency "private-dependency" with an `images` folder in it.
In a component located in `/Users/remigarcia/Projets/MobileApp/component/navigation/` i'm trying to import one of this images :
`import logo from 'private-dependency/images/logo.png'`
The bundler seems to look for the image in the folder of the co

[2019-05-23 12:45] SmallCat123 opened #25006 "android8.0/8.0+ Invalid overlay installation"
Description:

    "Android8.0/8.0+，Overwrite installing the same version or installing a different version，After overwriting the installation prompt installation succeeded but no desktop shortcuts were generated."

React Native version:

    "react": "16.3.1",
    "react-native": "0.55.4",

## Steps To Reproduce

   1.  First installation
   2.  Second installation（app version as the  same as firs

[2019-05-23 12:55] #25006 closed

[2019-05-23 12:55] guhungry commented on #25005
Err, you need import logo from `./private-dependency/images/logo.png`.

[2019-05-23 12:59] Desintegrator commented on #23373
same issue
RN 0.59.8

[2019-05-23 13:07] vikalpjain commented on #24657
Sure. I'm still stuck. Tried building and running it from XCode but that
also is stuck.

On Wed, May 22, 2019 at 10:51 PM GreenRidingHood <notifications@github.com>
wrote:

[2019-05-23 13:24] remigarcia commented on #25005
@guhungry by doing this I explicitly tell to look in the path of the current component, the error is the same

[2019-05-23 13:33] ripern commented on #24280
When I was getting those problems, this solved it: https://stackoverflow.com/questions/56038027/react-native-make-sure-your-bundle-is-packaged-correctly-or-youre-running-a-p

[2019-05-23 13:40] grifotv commented on #22762
@ferrannp [This fix](https://github.com/facebook/react-native/issues/22762#issuecomment-487539126) will also change the color of the Alert buttons unfortunately.

In case you need white or a very light color, your Alert buttons will not be visible due to the white background color in Alert modal in Android.

[2019-05-23 13:56] OtacilioN opened #25007 "Question: Should we add a SECURITY.md file?"
**Feature requested**

GitHub has just released the Security Policy feature, by writing the SECURITY.md file a new tab with security informations should appear in the repository.

You can check the [Electron SECURITY.md example](https://github.com/electron/electron/blob/master/SECURITY.md)

It will really improve people trusting in open source security standards by adding this file to the reposito

[2019-05-23 14:05] #25007 closed

[2019-05-23 14:13] guhungry commented on #25005
@remigarcia Always use relative path to files unless import library.

[2019-05-23 14:15] danieldcaesar opened #25008 "Could not create service of type ScriptPluginFactory using BuildScopeServices.createScriptPluginFactory()"
I've been trying to get my react-native environment setup for quite some time now and have run into a few errors. Currently, I am running Ubuntu 18.04 LTS in a virtual machine on a windows host system. I have my device connected to the VM. When I run `adb devices`, I get the following output.
[code]

However, when I run `react-native run-android` from the root of the app folder, I get this:
[code]

[2019-05-23 14:16] remigarcia commented on #25005
@guhungry yeah, the only working method seems to be :
[code]

Closing this, thanks.

[2019-05-23 14:16] #25005 closed

[2019-05-23 14:25] #25008 closed

[2019-05-23 14:26] #24656 closed

[2019-05-23 15:18] ferrannp commented on #22762
@grifotv yeah that might happen as several native widget use `colorAccent`. Then you would need to do even more overriding like in this answer: https://stackoverflow.com/a/29303960/2277631.

[2019-05-23 15:52] nicolashemonic commented on #17898
@anirudha-ani solution works well but it's still an issue on RN 0.59.8

[2019-05-23 15:58] fredrik-jarnbrost commented on #23265
I'm seeing this issue with:
react: 16.6.3,
react-native: 0.58.5

[2019-05-23 16:02] ermantepe opened #25009 "Question: Numeric Keyboard returnKeyType Label"
Hello,

I try to add "done" button to iOS keyboard on my react native application.
When it is standard keyboard, "Done" label will change by language of the phone.
But when I use numeric keyboard, "Done" label not changing.

How can I change label of "Done" text on iOS?

[2019-05-23 16:05] #25009 closed

[2019-05-23 16:07] grifotv commented on #22762
@ferrannp I see, not so bad. thanks

[2019-05-23 16:37] GreenRidingHood commented on #22140
i have the same problem, there is another open ticket #24023

[2019-05-23 16:40] AdrianoRuberto commented on #21209
Hello,
I manage to make it work by using `readAsDataURL`:

[code]

[2019-05-23 16:50] wildseansy commented on #24261
My crashes related to this this trace went away on Android when I downgraded to `0.58.6`.  Was planning on having to downgrade to `57.6`, but `58.6` seems to have fixed this for me (although there are [some other Android issues](https://github.com/facebook/react-native/issues/24968) where I have to manually build for release)

[2019-05-23 16:51] GreenRidingHood commented on #21030
https://github.com/facebook/react-native/issues/24023#issuecomment-474608280 @patrickkempff 's solution possibly help

[2019-05-23 17:06] GreenRidingHood commented on #24023
thank you @patrickkempff that solved. sorry @dotconnor i didnt understand your solution, i dont have much xcode or RN knowledge (yet :) )

[2019-05-23 17:09] GreenRidingHood commented on #22140
@wzup like my previous comment @patrickkempff solution worked for me,

at AppDelegate.m  , changing

`return [[RCTBundleURLProvider sharedSettings] jsBundleURLForBundleRoot:@"index" fallbackResource:nil];`

to

`return [NSURL URLWithString:@"http://<ip of the packager>:8081/index.bundle?platform=ios"];`

[2019-05-23 17:11] GreenRidingHood commented on #24657
@vikalpjain maybe not issue for you but i was seeing xcode console these #24023 issues,
and that comment https://github.com/facebook/react-native/issues/24023#issuecomment-474608280  helped me, yes i am still stuck on metro-bundler but at least i am seeing different error on device

[2019-05-23 17:47] MartinCura commented on #15114
@Jyrno42 I'm not familiar with the RN code but i looked at it for a couple of minutes (i have a OP5T with system font set to OnePlus Slate). (Disclaimer: i'm using RN 0.56 as it's what i have at hand.) The following may help you (or whoever):

- It is reproducible with a Text component with fontWeight set to whatever
- The cut-off seems to be follow the same rules that it would for wrapping a line

[2019-05-23 17:48] scarlac commented on #17530
For those wondering how to reproduce: We reproduced it by adding 100 `<TextInput ...>`s to a `<ScrollView ...>`. At that point we were able to reproduce the error with an estimated 75%-90% success rate. Enough to try out solutions. 50 fields were not enough.

@Hopding 's [workaround](https://github.com/facebook/react-native/issues/17530#issuecomment-416367184) is worked for us. The proposed altern

[2019-05-23 18:22] vanGalilea commented on #10991
Is a there a fix available, which still enables to use react hooks and HMR?

[2019-05-23 18:38] zeevl commented on #10991
What is working for me is to use class components for screens.  Then, any child components can be functional w/ hooks, and HMR still works.

Also, if you're using mobx, make sure you're using https://github.com/mobxjs/mobx-react-lite

[2019-05-23 19:35] #24965 closed

[2019-05-23 19:55] rardoz commented on #10991
@zeevl I converted all of my views into class components, but still the same. Save, crash. I also cleared the builds, reinstalled everything, and upgraded everything to the latest version.

[2019-05-23 20:00] MaxBabenko commented on #24094
Got the same error. Renaming root `index.js` to `index.ios.js` did the trick for me. But I'm not sure what is the real issue here

[2019-05-23 20:01] solixmedia commented on #19107
@getaaron Did you ever find a solution? My crash report looks similar to yours. App worked fine in build mode and in 3 different devices but crashed on appstore review.

[2019-05-23 20:21] radeno commented on #24988
You can use `Analyze APK` from Android Studio to see how native packages changes size and which ones are significant.

[2019-05-23 20:45] Krizzu commented on #24149
Hey @LaurenceRolandJames, @kelset, @akhilsanker,

When a user pulls down `StatusBar` (open Notification drawer), the active activity is not going through its normal lifecycle (`onPause`/`onResume`). The only way to find if the drawer is pulled down is by listening for `onWindowFocusChanged` event, which fires when, well, activity lose focus.

I've implemented this locally and I can confirm it's wo

[2019-05-23 21:02] CelsoTeixeira commented on #22213
Hello, currently experiencing this issue on RN 0.59.8, if we have a larger view, when applying a borderRadius, the view dissapear, it's content dont.

Made this simple repo to show: https://github.com/CelsoTeixeira/rn-view-border-issue

Tested on two different phones that was available at the moment.

S9+ with Android 9.0 is displaying the view with the border.
S8 with Android 7.0 dont display the

[2019-05-23 21:24] GokulDharumar commented on #24657
i have the same issue... it get stuck with loading dependency graph when i run react-native run-ios. But works when i run from xcode

[2019-05-23 21:39] Johan-dutoit commented on #24647
@cpojer I've submitted a PR that does the first round of moving things around.  I definitely felt the pain of 'hard to navigate'.  Should be somewhat simpler now to find the entry point and the examples.

[2019-05-23 22:23] djangofan commented on #24382
I'm having this error on an Android application build , using rn 0.59.3,  stacktrace-parser 0.1.6,  and node 10.13.0

[2019-05-23 23:10] MalcolmScruggs opened #25016 "Alert default text not set on android if button config is specified"
### Evironment

[code]

## Description
Setting an `Alert` with a button configuration with no text does not use default text on android. On iOS one button with `OK` is created, while on android no button is created. If `{ cancelable: false }` is set this makes it impossible to dismiss the alert since there is no button and tapping outside will not dismiss it.

Example code:

[code]

Screenshots pr

[2019-05-23 23:11] AndreiCalazans commented on #24647
Oh man, @Johan-dutoit I should have said something, I did some work on this too on Sunday but I didn't have time to test everything until now. But that's ok, we had similar approaches I guess we can let them choose which one they prefer or let each PR inspire the other. Cheers.

https://github.com/facebook/react-native/pull/25013

[2019-05-23 23:19] hey99xx commented on #25000
not a bug, as the behavior matches what the author has intended. still it could be consistent among iOS/Android.

@Salakar in your PR https://github.com/facebook/react-native/commit/794d2264f93b6eaeab4eb53c7d2eaf7880b89649 do you remember why you limited Android stacktrace to 10 items? Is there an issue with stacktraces too long?

[2019-05-24 00:07] djendacott commented on #23764
We are experiencing this issue as well. Is the consensus now that this is caused by 3rd party packages?

[2019-05-24 01:35] SmallCat123 opened #25017 "android8.0/8.0+ Invalid overlay installation"
"Android8.0/8.0+，Overwrite installing the same version or installing a different version，After overwriting the installation prompt installation succeeded but no desktop shortcuts were generated."

React Native version:
"react": "16.3.1",
"react-native": "0.55.4",

## Steps To Reproduce

1.First installation
2.Second installation（app version as the same as first）

Describe what you expected to happ

[2019-05-24 01:51] yqz0203 commented on #22592
@EternalChildren not work in 0.57.8😿

[2019-05-24 02:47] EternalChildren commented on #22592
I guess the reason for this is typescript. everything is ok in javascript.
so it must somewhere is difficult to identify after typescript is compiled. maybe you can try to adjust the "tsconfig.json".
I am in  react-native@0.59.4 and use metro.config.js to complie typescript.

[2019-05-24 03:01] billtlee opened #25018 "Unable to load script from assets 'index.android.bundle'.make sure you bundle is packaged correctly"
When trying to build and run release build on android after all the signing certs are setup I am getting this error.  It took me a few days to get this resolved.  The default android:bundle script created by react-native init is:
react-native bundle --dev false --platform android --entry-file index.js --bundle-output ./android/app/build/intermediates/assets/debug/index.android.bundle --assets-dest

[2019-05-24 03:24] yqz0203 commented on #22592
It works, thx.

[2019-05-24 03:36] guhungry commented on #25018
Probably due to React Native 0.59.x doesn't support `com.android.tools.build:gradle:3.4+` (https://github.com/facebook/react-native/issues/24968, https://github.com/facebook/react-native/issues/24854) but was fixed in 0.60 via https://github.com/facebook/react-native/commit/30348f789946dc99f5ccd02c85c8decbdb9ac29b
For the time being until 0.60 released or the fix is cherrypicked to 0.59.x please u

[2019-05-24 04:18] zhongwuzw commented on #24969
@Desintegrator Strange, because we just override `keyCommands` of `UIResponder`, UIKit call `RCT_keyCommands` to return commands, https://github.com/facebook/react-native/blob/06c6c7c673682629073dbcb3811b6a6806253a74/React/Base/RCTKeyCommands.m#L104, can you help us to debug wether UIKit call it?

[2019-05-24 04:22] almikurniawan commented on #24973
no this is create new project.

[2019-05-24 05:59] Anshuman71 opened #25020 "Size of clean apk with no dependencies or assets is 28MB"
Size of clean apk with no dependencies or assets is 28MB
React Native version:  0.59.8

React Native Environment Info:
    System:
      OS: Linux 5.0 Ubuntu 19.04 (Disco Dingo)
      CPU: (4) x64 Intel(R) Core(TM) i3-6006U CPU @ 2.00GHz
      Memory: 413.98 MB / 7.69 GB
      Shell: 5.0.3 - /bin/bash
    Binaries:
      Node: 10.15.2 - /usr/bin/node
      Yarn: 1.16.0 - /usr/bin/yarn
      npm: 6

[2019-05-24 06:14] zjchxl opened #25021 "Question: The new React Native project found that the Android R file was lost, so I couldn't write some Native activities"
🚨 The issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

### https://stackoverflow.com/questions/tagged/react-native

If you have a coding question related to React Native, it might be better suited

[2019-05-24 06:15] #25021 closed

[2019-05-24 06:31] zjchxl opened #25022 "Run `react-native info` in your terminal and copy the results here."
React Native version:

React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 82.46 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.14.0 - /usr/local/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman

[2019-05-24 06:32] rikur commented on #21116
Yeap there's no momentum when `pagingEnabled` and I have to concur that the UX is rather horrible.

[2019-05-24 06:32] zjchxl commented on #25022
The new React Native project found that the Android R file was lost, so I couldn't write some Native activities

[2019-05-24 06:48] rainytooo commented on #24990
I have solved this problem because the downloaded `glog` and `double-conversion` are corrupted, delete the package under `~/.rncache`, and then download the following files into this directory.

* https://github.com/google/double-conversion/releases
* https://github.com/google/glog/releases

Then recompile, Good luck!

[2019-05-24 06:52] rainytooo commented on #22703
I have solved this problem today
https://github.com/facebook/react-native/issues/24990#issuecomment-495493250

[2019-05-24 07:09] zakabluk commented on #24470
The problem was fixed through update xcode to version 10.2.

[2019-05-24 07:09] #24470 closed

[2019-05-24 08:46] compojoom commented on #16826
I tried to debug this today without much success. What I found out however is that _onKeyboardChange is triggered no matter if we have a multiline true or false. In both cases LayoutAnimation receives the same config:
https://github.com/facebook/react-native/blob/master/Libraries/Components/Keyboard/KeyboardAvoidingView.js#L107

I added an onAnimationDidEnd callback to LayoutAnimatijon and it has

[2019-05-24 08:48] Johan-dutoit commented on #24647
@AndreiCalazans No worries mate.  It looks like you've progressed more than I have.  I was planning on doing the rest in the next pass (just wanted to get the ball rolling at least).

I'm happy to bin mine (once yours has been merged in) and continue with that.

[2019-05-24 08:54] luigimannoni commented on #23380
Also had this problem on Android 9 on a simulator, fixed by adding the add `android:usesCleartextTraffic="true"` as explained [in the comment above](https://github.com/facebook/react-native/issues/23380#issuecomment-473871592) and also I had to reroute the application on `localhost:8081` by opening the in-app menu (CTRL-M/CMD-M) and then Dev Settings > Debug server host & port for device > `localh

[2019-05-24 09:05] sjchmiela opened #25023 "[android] Inspecting nested text element throws "Expected to find at least one React renderer.""
React Native version:
[code]
## Steps To Reproduce

1. Run a React Native application on Android
2. Toggle Inspector
3. Tap on a nested text
4. Error is shown ⬇️

![Screenshot_20190524-104711](https://user-images.githubusercontent.com/1151041/58315842-940e7f80-7e12-11e9-93e1-1ac4bf9c8372.png)

### Describe what you expected to happen

Nested text is being inspected. No error is thrown.

### Snack,

[2019-05-24 09:30] guhungry commented on #25020
Duplicate with #24988.

[2019-05-24 09:44] dozGrou commented on #24951
You are totally right @uqmessias, my bad. Thank you for your reply.

[2019-05-24 09:44] #24951 closed

[2019-05-24 09:55] BasilJohn opened #25024 "Android App crash on start after upgrading to 0.59.8"
I upgraded react native from 0.56 to 0.59.8 using the rn diff tool.
The code builds successfully however the app crashes immediately after launch.

React Native version:
React Native : 0.59.8

## Steps To Reproduce

1.Upgrade to RN 0.59.8 using RN DIFF tool
2.Run command "react-native run-android"

I get the below error when i do a logcat from Android Studio.

 **java.lang.RuntimeException: Unable

[2019-05-24 09:58] pvinis commented on #24647
I'm back on Monday and I will review. very cool! 💪

[2019-05-24 10:01] nunobasto commented on #2814
I have several Apps with RN 0.54.2.  Is there no way I can get a 64bit version without upgrading to 0.59?

I've tried a couple times to upgrade with rn-diff-purge or ```react-native upgrade```  but I spend a lot of time solving conflicts and in the end the project doesn't work correctly.

[2019-05-24 10:01] nicolashemonic commented on #15571
RN 0.59.8 works well by showing alternative view on dismiss error

[2019-05-24 10:34] muhammadali2012 commented on #24434
for me the error was because of my faulty import of component i.e I was importing like
import xyz from 'Components/xyz'
instead of
import xyz from './Components/xyz'
Such a silly mistake but it wasted my whole day

[2019-05-24 10:47] holospeed commented on #24826
I faced the same issue. At the version of 0.59.4 the animation was fluent, but at the version 0.59.8 the animation was "vibrating". I uploaded the "cleaned" version of my project so you can test it (I deleted every code from it except the animation).

**Here a gif about the animation with React Native version of 0.59.4**:

![ezgif-2-c05091a68aae](https://user-images.githubusercontent.com/3962013/5

[2019-05-24 11:13] ferrannp commented on #25024
@BasilJohn can you show me how you use `SplashTheme` and `AppTheme` in your `AndroidManifest.xml` ?

[2019-05-24 11:18] saadsaleem187 commented on #2814
My react native version is 0.59 but my app is not working on android 9 after downloading from play store. I followed the @prrenish way but id didn't worked for me. Also i generated Android App Bundle of my app and uploaded to google play console but app still on working on android 9.

[2019-05-24 11:41] BasilJohn commented on #25024
<application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">

[2019-05-24 11:42] krtr commented on #19709
I'm experiencing this issue still on both xhr and fetch on android
`react-native@0.59.8`

[2019-05-24 11:44] BasilJohn commented on #25024
application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"

[2019-05-24 11:44] ishantsagar commented on #24261
@Kudo

@Kudo I had two observations here, as also mentioned in your gist

- App hangs with `@kudo-ci/jsc-android@241213-no-dfg-jit` dependency, when using one of our production app for few minutes.
- App is working fine with `@kudo-ci/jsc-android@241213-no-jit` dependency **`as of now`** and TTI remains the same/unnoticeable with respect to previous builds.

[2019-05-24 12:08] getaaron commented on #19107
@solixmedia We rewrote the app in Swift and got rid of React Native.

[2019-05-24 12:17] ptrocki commented on #25022
Did you build the App ? How did you create app ? Can you provide repo or more info ?

[2019-05-24 12:23] ptrocki commented on #24973
Did you type `adb -s _device_name_ reverse tcp:8081 tcp:8081`

[2019-05-24 12:24] gianpaj commented on #24094
Upgrading to these versions seems to have fixed this issue for me on `react-native v0.59.8`

`package.json`
[code]

[2019-05-24 12:29] zjchxl commented on #25022
Yes I tried to create a new application on Windows and macOs. Unfortunately there are no R files in the android folder.

[2019-05-24 12:37] almikurniawan commented on #24973
Yes i run the command before. Thanks all, i use old react version and work. Next time, i try to use new react version.

[2019-05-24 12:40] ThomasLarge opened #25026 "Debug a real device doesn't work, boots the app and freezes iOS 12.3"
**Boot to a real device in debug mode doesn't work, app freezes iOS 12.3**

I have also tested this on a fresh install of react native and the issue still happens. When you build in **Xcode 10.2.1** with the scheme set to the following (default)

**Build Configuration: Debug
Debug executable: ticked**

The app will boot on to the device but not connect to the metro bundler. Then Metro bundler is t

[2019-05-24 12:51] LRNZ09 commented on #10471
@housenkui can you tell which file is it?

[2019-05-24 13:01] #25020 closed

[2019-05-24 13:02] dev-twoweb commented on #16895
In my case the problem was a component that was being used within the modal (react-native-simple-radio-button), taking it out the problem stopped.

[2019-05-24 13:13] Johan-dutoit commented on #23313
@cpojer are you really doing all of those or can I grab one?

[2019-05-24 13:13] guhungry commented on #25024
Did you try clean android build cache after upgrade?

[2019-05-24 13:15] ptrocki commented on #24935
It works on Android 9 device. Tested version from master. I could not build correctly version from 0.59-stable branch.

[2019-05-24 13:18] ptrocki commented on #25026
Related https://github.com/facebook/react-native/issues/24986

[2019-05-24 13:28] ptrocki commented on #24830
Tested on Android device. After click on button and choose application, app redirect correctly. Probably you want to use `canOpenURL()`, don't you ?

[2019-05-24 13:34] zhifeng-heng commented on #24987
Hi all, i am facing the exact same issue.

Environment:
- RN 0.59.8
- Gradle 3.4.1
- compileSdkVersion 28
- buildToolsVersion '28.0.3'

Anyone have any solution so far?

[2019-05-24 13:49] NativLouie commented on #21135
@neonsec where is `.git/index.lock` located?

[2019-05-24 14:22] jlocke2 commented on #24830
@ptrocki - Thanks for the response, but that isn't the issue I'm reporting.

The phone number by this point has already passed `canOpenURL`.  In iOS, the user is given a prompt to confirm or cancel the action.  Per the documentation, pressing `Cancel` should reject the promise instead of resolving it.

[2019-05-24 14:27] alyalya opened #25027 "passing Flatlist prop scrollEventThrottle doesn't make sense (regression 0.59.5 -> 0.59.8)"
After updating React Native from 0.59.5 to 0.59.8 scrollEventThrottle in Flatlist stopped working, which resulted in ramming the bridge

React Native version:
0.59.8

## Steps To Reproduce

1. Add scrollEventThrottle prop to Flatlist
2. Scroll Flatlist
3. We get every scroll event in onScroll prop

Describe what you expected to happen:

Expected to get throttled scroll events

Snack, code example,

[2019-05-24 15:12] ferrannp commented on #25024
@BasilJohn remove `android:theme` from `<application>` tag and add it inside the `<activity>` tag. Let me know if it works.

[2019-05-24 16:31] subhashchandrujobop opened #25029 "Xcode doesn't loads react native project manually"
I have created an xcode project ,and i have manually opened xcodeproject in ios folder but after that the application stops responding ,but when i create a new project manually in xcode it builds well

My spec

Macbook pro 2017 15 inch
2.9 ghz intel core i7
16 GB 2133 MHz LPDDR3
Intel HD Graphics 630 1536 MB

[2019-05-24 16:35] #25029 closed

[2019-05-24 16:39] subhashchandrujobop opened #25030 "Xcode painfully slow when loading react native projects"
I have created a react native  project ,and i have manually opened xcode project in ios folder but after that , Xcode open the project after 20 min ,but when i create a new project manually in Xcode it builds well , i dont whom to blame wheather is it xcode /react native  ,and even sucks when i try to open with **CLI**,but xcode run well with its native projects

My specs are:

Macbook pro 2017 15

[2019-05-24 16:44] radeno commented on #24988
Something "weird" about bundling.
We have published patch version builded on different machine with different Node version.

Before we used NodeJS 10 and now NodeJS 12. Bundle size rapidly decrease.
Change is only in `libjsc` and `libc++_shared` library files.
Both builds have identical source code and dependent packages.

Any reason why so significant change with Node 12 ?

![image](https://user-

[2019-05-24 16:53] subhashchandrujobop commented on #25030
the issue was perfectly stated

[2019-05-24 17:06] ericlewis commented on #24958
@PhuongNguyenETIT this can happen when metro is bundling extremely large javascript / JSON files. If you perhaps have a giant (1-3mb or so) JSON or JS file & not enough available memory on your machine, this will fail.

[2019-05-24 17:08] ericlewis commented on #24993
@Jaisai123 i presume you are referring to trying to use: https://github.com/expo/expo-cli, in which case, you should file a bug there. This doesn't seem like a failure of react-native, but rather incorrect permissions on your machine. Perhaps you npm installed using sudo? In any case, I recommend filing this issue with expo.

[2019-05-24 17:08] #24993 closed

[2019-05-24 17:10] riso commented on #14045
I opened https://github.com/facebook/react-native/pull/25028 which allows to overcome this limitation properly - i.e. without having to hide the native keyboard when it appears.

Is any react-native contributor able to review it?

[2019-05-24 17:11] ericlewis commented on #24990
The advice above is only for versions of RN prior to 58, you can also try removing: `/users/youruserhere/Library/Caches/com.facebook.ReactNativeBuild` or even better, just clearing node_modules and reinstalling. Feel free to reopen this issue if you still have trouble. The issue is indeed usually because of a corrupt install.

[2019-05-24 17:11] #24990 closed

[2019-05-24 17:13] ThomasLarge commented on #25026
Looks like it's the new macOS update, works on macOS 10.14.4 but not macOS 10.14.5

Hope this helps!

[2019-05-24 17:19] kdawgwilk commented on #24647
I would actually vote that `react-native-navigation` should be used because it is the most likely to break with new react-native releases.  They use some APIs that are not common for other libraries and due to this react-native has broken their lib multiple times with API renames that the react-native team didn't think anyone was using.  This has been the biggest pain point for us when upgrading t

[2019-05-24 17:25] pvinis commented on #24647
Should or should not? If it's more likely to break, that should be a reason to not use it, right?

[2019-05-24 18:06] castocolina commented on #24932
Hi @pearlismylove . May you can share your experience with the issue #18081 and say if you solve this problem?

[2019-05-24 18:14] castocolina commented on #24932
Hi @hramos ! I see your comment in another closed issue report #13679. Please, may you can say anything about this? Thanks

[2019-05-24 18:25] AndreiCalazans commented on #24647
I think he is suggesting to use it, to try to protect it from future changes.

[2019-05-24 19:04] Philemono opened #25032 "onPress works only on debugging mode!"
I've got an issue, The whole app i am building is only working on debugging mode, all the buttons and components that has `onPress` not firing any event if i am not opening remote debugger, also its not working on the production for both android and iOS

React Native version:
Environment:
  OS: macOS 10.14.4
  Node: 10.15.3
  Yarn: 1.10.0
  npm: 6.4.1
  Watchman: 4.9.0
  Xcode: Xcode 10.2.1 Build

[2019-05-24 20:39] cpojer commented on #23313
@Johan-dutoit yes, unfortunately the removal of modules can only be done by a Facebook employee. Looking forward to your ImagePickerIOS extraction!

[2019-05-24 20:54] King-of-Spades commented on #23878
@robrecord Your notes remind me of symptoms I saw on an entirely different framework (Xamarin.UITest) that were caused by the update between Xcode 10.1 -> 10.2 modifying how the simulator had to be referenced in order to be connected to for debugging. And actually I've seen that connection requiring updates in the framework many times in the past, though the symptoms were usually a little less ext

[2019-05-24 21:31] #25016 closed

[2019-05-25 00:35] solixmedia commented on #19107
@getaaron Thanks for replying. Kind of discouraging to hear.

[2019-05-25 00:36] solixmedia commented on #19107
@getaaron Thanks for replying. Kind of discouraging to hear.

[2019-05-25 02:13] sgehrman commented on #24112
I'm using expo.  I don't know how to call react-native.  I tried expo start -c.  Didn't work.

[2019-05-25 02:42] yennhan commented on #25030
Did you found the solution for this?

[2019-05-25 02:49] BasilJohn commented on #25024
@ferrannp  this works !!!! Thanks a lot for the support.

[2019-05-25 02:57] PhuongNguyenETIT commented on #24958
Thanks @ericlewis. Can you guide me to handle this error?

[2019-05-25 03:19] dongzhixuanyuan commented on #23764
Upgrade to react_native 0.58.6 will sovled.
The reason is react-native build script.
You can the patch

---Original---
From: "djendacott"<notifications@github.com>
Date: Fri, May 24, 2019 08:10 AM
To: "facebook/react-native"<react-native@noreply.github.com>;
Cc: "Magina"<735106520@qq.com>;"Comment"<comment@noreply.github.com>;
Subject: Re: [facebook/react-native] [ANDROID] SoLoader error using App

[2019-05-25 03:23] dongzhixuanyuan commented on #23764
Maybe not all libxxx.so both have 32bit and 64bit.You can analasy the apk to confirm it.

---Original---
From: "Varun Kumar"<notifications@github.com>
Date: Thu, May 23, 2019 17:02 PM
To: "facebook/react-native"<react-native@noreply.github.com>;
Cc: "Magina"<735106520@qq.com>;"Comment"<comment@noreply.github.com>;
Subject: Re: [facebook/react-native] [ANDROID] SoLoader error using App Bundle (#237

[2019-05-25 03:42] Albert0405 opened #25037 "Changing Package Name Makes APK Corrupted"
React Native version:
[code]

## Steps To Reproduce
I change the following packages to a new one

## 1. The folder
[code]

## 2. MainActivity.java
[code]

## 3. MainApplication.java
[code]

## 4. AndroidManifest.xml
[code]

## 5. android/app/build.gradle
[code]

I tried to create an apk file, i have my keystore already, there was no error during `gradlew assembleRelease` but after the build i inst

[2019-05-25 04:20] subhashchandrujobop commented on #25030
no

[2019-05-25 06:30] #25037 closed

[2019-05-25 08:10] keshav00001 commented on #23528
yes, i uninstall the react-native and reinstall, and change USB cable change, its work.

[2019-05-25 08:47] pvinis commented on #24647
Ah ok. Maybe we could have a comparison?

[2019-05-25 10:20] vanydeasy commented on #23764
I'm using 0.59.0 but the problem still persists. Not quite sure if it's a misconfiguration on my side. If someone can confirm this, that would be great. We have analyzed the apk and can confirm that all so files are in place.

[2019-05-25 10:31] ericlewis commented on #24958
The best guide I have is to make sure you don’t have any large JSON or JS files. Otherwise, do you have reproduction steps or an example you can provide?

Sent via Superhuman iOS ( https://sprh.mn/?vip=ericlewis777@gmail.com )

On Fri, May 24 2019 at 10:57 PM, < notifications@github.com > wrote:

[2019-05-25 10:42] shreyasthiagaraj commented on #24139
Still having this isssue, using react-native 0.59.8. Anyone else still experiencing this?

[2019-05-25 11:33] ZainabShakeel commented on #21936
Have you find any solution to this problem ?? this error arise when i include the dependency of firebase storage (implementation "com.google.firebase:firebase-storage:17.0.0") ...
![eror](https://user-images.githubusercontent.com/31104373/58368749-c00d2c00-7f0a-11e9-9738-cd884674b5f5.JPG)

[2019-05-25 11:44] Johan-dutoit commented on #23313
@cpojer 🎉PR Submitted and tested 🎉

[2019-05-25 12:47] bn3t commented on #16376
At react-native 0.59.3, here is what the code should look like to workaround the problem:

[code]

[2019-05-25 12:48] ZainabShakeel commented on #21936
this issue is solved when i replaced this ( implementation "com.google.firebase:firebase-storage:17.0.0" ) by
( implementation "com.google.firebase:firebase-storage:16.1.0" )
so project successfully runs.

[2019-05-25 14:15] ivanzhang2 commented on #12981
same isseue with Pusher on latest RN0.59

[2019-05-25 14:31] code-matt commented on #24986
I never had to do this before but after upgrading to 59.8 I noticed CORS errors in the chrome debugger tab, even though the packager says 100%.

Installed a chrome extension to allow CORS and then it loaded fine after reconnecting the app to debugger.

[2019-05-25 14:39] pramodsharma403 opened #25038 "Paste feature not working on TextInput (Android)"
React Native version: 0.58.6

## Steps To Reproduce

1. Adding TextInput with the bottom bar screen
2. Copy text & try to paste in TextInput which is on screen with Bottom Tab Bar
3. Paste option not showing

Device - MI A1 (9.0)

Describe what you expected to happen:
Paste feature should work.

Snack, code example, or link to a repository:

<TextInput
					style={GLOBAL_STYLE.TextInputStyle}

[2019-05-25 15:36] Philemono commented on #25032
@react-native-bot
I did update React native  and it still freezing, i wonder why i am replying to a bot :D

[2019-05-25 16:59] rudineybarbosa commented on #23528
I avoided this problem with the environment PATH variable. I added twos news paths on it. Look:

![PATH](https://user-images.githubusercontent.com/29411015/58372541-4585e180-7ef5-11e9-8f7e-1c2d45bb9e9e.PNG)

[2019-05-25 17:29] code-matt commented on #24524
Installing a Chrome extension that allows CORS works in the meantime. This showed up in 59 it seems

[2019-05-25 17:43] spyr0s commented on #24505
Which line in react.gradle file?

[2019-05-25 18:23] Salakar commented on #25000
Not a bug as @hey99xx pointed out,

I implemented it with a limit as the output is structured to match the JS StackFrames format RN uses (Array of Maps) compared to iOS which just gives you an unparsed array of strings, the plan was implement a follow up PR to do the same format for iOS if possible, that way they can be merged into a single nativeStack property.

I wasn't entirely sure on the perf

[2019-05-25 20:46] swushi commented on #12981
I seem to only run into this issue when I make a call to firebase's realtime database.

`await firebase.database().ref('users/' + id).set(data);`

RN 0.57.1

I have not confirmed with 0.59.

[2019-05-25 21:08] GianMantuan commented on #24854
Thank you @kylethielk, your solution worked for me. It was the Gradle after all...

[2019-05-25 22:06] TheNoim commented on #18616
@kelset Issue still persists.

[2019-05-26 00:37] Jadeon-FPM opened #25040 "(Android) App component reconstructed on split screen resize"
React Native version:
[code]

## Steps To Reproduce

1. Create a new project via `react-native init AppName`
2. Add constructor with a `console.log` in the default app component (in `App.js`)
3. Run the app

### Expected behaviour

Switch to split-screen view or pop up view and resize the app window and continue to be able to use the app where it left off.

### Actual behaviour

When switching to

[2019-05-26 04:17] wangdanting commented on #24458
"react-redux" not recommend using connect as a decorator, because the spec is unstable.

[2019-05-26 05:49] aliustaoglu commented on #24963
Thanks for the helper function suggestion. I think I'll handle it from the native side. However, I still think that this is an issue. An implementation detail should not be exported then. I see that in stackoverflow people suggest using this method. That's why private and public functions exist.

[2019-05-26 06:17] Hermanyo commented on #25038
Can you do a minimal reproduction of this? With `TextInput` inside the `Bottom Tab Bar` and publish it here?

If you are using `ScrollView`/`FlatList`, try to add props `removeClippedSubviews={false}`([#18926](https://github.com/facebook/react-native/issues/18926) and [#9958](https://github.com/facebook/react-native/issues/9958))

[2019-05-26 06:24] Hermanyo commented on #25032
I guess that onPress was firing, but you don't see what showing, so... Try again with `alert` (Because alert show a modal)
`<TouchableOpacity style={styles.touchable} onPress={() => alert('Pressed!!')} > <Text> Press Me </Text> </TouchableOpacity>`

[2019-05-26 06:53] Dror-Bar commented on #2814
So what are the exact steps required after upgrading an app to RN 0.59 so that it will be both 32bit and 64 compliant? I've seen several different suggestions including [this](https://github.com/facebook/react-native/issues/2814#issuecomment-462647801), [this](https://github.com/facebook/react-native/issues/2814#issuecomment-489658223) and [this](https://github.com/facebook/react-native/issues/281

[2019-05-26 07:05] teamdraftbox commented on #21319
iam using RN0.57

[2019-05-26 08:23] d4vidi commented on #23870
@yungsters @hramos any leads regarding improving / fixing this?

[2019-05-26 10:26] ShaMan123 commented on #24505
@hariegnify Wow! You saved me hours of frustration! Thanks!

[2019-05-26 10:31] diazweb opened #25041 "AppState change listener called multiple times on Android"
**React Native version:**

    React Native Environment Info:
        System:
        OS: macOS 10.14.5
        CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
        Memory: 197.04 MB / 16.00 GB
        Shell: 5.3 - /bin/zsh
        Binaries:
        Node: 10.15.3 - /usr/local/bin/node
        Yarn: 1.16.0 - /usr/local/bin/yarn
        npm: 6.9.0 - ~/.npm-global/bin/npm
        Watchman:

[2019-05-26 11:47] muneebsajjad commented on #24942
@dmkato I agree with you, I am looking for my first PR, I can take this up. however  do this issue need any **acknowledgment** or **approval** before, I made any PR for this!!

[2019-05-26 11:52] nadav2051 commented on #23373
Same issue, RN0.59.0, happens when building for release.

[2019-05-26 12:16] Desintegrator commented on #23373
check your gradle version (distributionUrl)
RN0.59.0 doesn't support gradle 5

[2019-05-26 12:34] hemedani commented on #19979
I have the same problem
in horizontal scroll view content  sticks to the left side even when set `contentContainerStyle={{ flexDirection: "row-reverse" }}`

[2019-05-26 15:17] LeoNatan commented on #24952
I found the issue. There is an incorrect unhooking here:

https://github.com/facebook/react-native/blob/1151c096dab17e5d9a6ac05b61aacecd4305f3db/React/Profiler/RCTProfile.m#L353

Instead, it should be

[code]

[2019-05-26 16:00] JamieCorkhill commented on #23495
I need a fix as well.

[2019-05-26 17:15] noahtallen commented on #21030
I'm also on 0.59.8 and the latest iOS and Xcode. My workaround looks like this:

[code]

The errors are gone while I _do_ have a JS debugger open, but
[code]
just repeats indefinitely while I'm not debugging JS. So I guess the solution isn't working for me :(

[2019-05-26 22:22] davidcort commented on #20917
originWhitelist={['*']} still do the trick, BUT ...

The social media buttons share in the webview not work :(

[2019-05-27 01:59] yz1311 commented on #24465
downgrade targetSDKVersion to 27,it works well.But it's just a workaround for app not distributed.

[2019-05-27 02:00] glacjay opened #25043 "When do you plan to upgrade indirect dependencies `fibers` and `fsevents` ' version?"
React Native version:

Environment:
  OS: macOS 10.14.5
  Node: 12.3.1
  Yarn: 1.16.0
  npm: 6.9.0
  Watchman: 4.9.0
  Xcode: Xcode 10.2.1 Build version 10E1001
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: 16.2.0 => 16.2.0
  react-native: 0.53.3 => 0.53.3

## Steps To Reproduce

1. yarn

Describe what you expected to happen:

install dependencies success

[2019-05-27 02:16] glacjay commented on #25043
@react-native-bot  I can't upgrade to the latest release because this issue #21301 :-(

[2019-05-27 02:46] GospelHW commented on #24987
same  bug

[2019-05-27 02:46] GospelHW commented on #24987
React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (8) x64 Intel(R) Core(TM) i7-4750HQ CPU @ 2.00GHz
      Memory: 81.60 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.6.0 - /usr/local/bin/node
      npm: 6.7.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.2, macOS 10.14,

[2019-05-27 02:48] GospelHW commented on #24987
@dulmandakh  Hi how can i do? pls help me,thx

[2019-05-27 04:47] the-vishal-kumar commented on #23373
Don't upgrade gradle
Use *.jks format instead of *.keystore
Locate the app-release.apk, and install in any device

[2019-05-27 04:50] the-vishal-kumar commented on #23373
Don't upgrade gradle
Use *.jks format instead of *.keystore
Locate the app-release.apk, and install in any device

[2019-05-27 05:43] HaloWang commented on #22942
Same issue

# Env

[code]

[2019-05-27 06:36] maxvodoo opened #25044 "[Android]TextInput selection order is different if backspace is pressed or any other key"
<h4> If subtext is selected then i press backspace then order of events is the following</h4>

 <p>onSelection {start: 3, end: 8}</p>
 <p>onSelection {start: 8, end: 8}</p>
 <p>onChange</p>
 <p>onSelection {start: 3, end: 3}</p>

 <h4>and if i press anything else the order is the following</h4>
<p> onSelection {start: 3, end: 8}</p>
 <p>onChange</p>
 <p>onSelection {start: 4, end: 4}</p>

<h3>Reac

[2019-05-27 07:20] akhila-antony opened #25045 "If the text is too long first letters truncated and displays the text at the end - Android only"
React Native version:
"react": "16.8.3",
    "react-native": "0.59.5",

## Steps To Reproduce

1. Create a sample TextInput in your code.
2. Type a lengthy string in it.
3. First few letters are truncated

Actual Result:
Displaying the text at the end of the text field
Expected Result:
Display the text from beginning

It happens only in Android

[2019-05-27 07:21] nppull commented on #23835
i was fixed it :)
i use lib navigator.. have a file `NavigatorNavigationBar.js`

before:

after:

[2019-05-27 07:24] absss opened #25046 "RN接入现有项目时，内存泄露问题"
为现有iOS项目接入RN的时候，我遇到一个关于内存的问题，我写了一个简单的添加了RNRootView的控制器，当我进入页面、然后退出页面的时候，我发现内存没有减少，然后打印deinit方法(我的项目是swift项目)的时候，我发现控制器已经销毁了，重复进入页面、退出页面，我发现内存会一直增加，这个问题该如何解决？

React Native version:
0.59

[2019-05-27 07:25] Taym95 commented on #24973
@almikurniawan If it works can you close this issue?

[2019-05-27 07:32] #24973 closed

[2019-05-27 07:54] nadav2051 commented on #23373
Thank you for the suggestions!

To follow up, my problem was completely different and stemmed from the fact that our CI server failed when trying to build JS bundle due to the limit of the amount of watchers reached, which resulted in the fact that the .apk did not contain the bundle and thus the create_react_context failed while trying to retrieve the package from the local server.

After I incre

[2019-05-27 08:10] ptrocki commented on #24830
@jlocke2 do you know, if this works before ? I checked the code and I found
https://github.com/facebook/react-native/blob/4a5d0bdbd75c433d2f51f160657a0ad91e440272/Libraries/LinkingIOS/RCTLinkingManager.m#L165

Reject will be call, if url is malformed or has wrong format. Probably there is a mistake in react documentation. Ios doc says:
https://developer.apple.com/documentation/uikit/uiapplication/

[2019-05-27 08:25] ptrocki commented on #24830
This should be added as a feature:
https://stackoverflow.com/questions/13743344/how-can-i-find-out-whether-the-user-pressed-the-call-or-the-cancel-button-when-m?noredirect=1&lq=1

https://stackoverflow.com/questions/13745902/ios-how-to-detect-user-cancel-dial-a-phone-number?noredirect=1&lq=1

[2019-05-27 08:33] tonmanayo commented on #6849
This is still an issue, using scrollTo causes a flash which most people here don't want but rather want to just start at that possition

[2019-05-27 08:33] ptrocki commented on #24393
Very similar https://github.com/facebook/react-native/issues/24429 . Maybe it helps you.

[2019-05-27 09:08] jpodpro commented on #20328
also experiencing ~1000ms from setTimeout even what i have it set to very short (1ms).

Remote JS Debugging enabled, RN 0.59.8, Chrome 74, MacOS High Sierra 10.13.6

[2019-05-27 09:11] reza7rm commented on #24150
I have the same issue in "react-native": "0.59.5".
I had no problem signing the apps in previous versions. double checked everything, created another keystore, but not working

[2019-05-27 09:32] benjaminky commented on #2814
thanks you, in 2019 Google will stop update 32 bit app

[2019-05-27 10:08] huangxiaojieCoder opened #25047 "Question:"
问题：在Android的Image 的外链接显示不出来

[code]
It is this connection https://oss.yi-ai.cc/yiai_img/purOrder/64_1558944809903_0.jpg that cannot be displayed on the Android machine. The simulator can be displayed.

[2019-05-27 10:09] huangxiaojieCoder commented on #25047
Question: The external link to Android's Image does not show up.

[2019-05-27 10:14] #25047 closed

[2019-05-27 10:14] huangxiaojieCoder commented on #25047
表达不争取

[2019-05-27 10:15] huangxiaojieCoder opened #25048 "Question: The external link to Android's Image does not show up."
问题：在Android的Image 的外链接显示不出来

<Image style={{width: 130,height:130,marginLeft:30,marginBottom:30}}
                 source={{uri: "https://oss.yi-ai.cc/yiai_img/purOrder/64_1558944809903_0.jpg"}}

          />
It is this connection https://oss.yi-ai.cc/yiai_img/purOrder/64_1558944809903_0.jpg that cannot be displayed on the Android machine. The simulator can be displayed.

[2019-05-27 10:25] #25048 closed

[2019-05-27 10:33] huangxiaojieCoder opened #25049 "The external link to Android's Image does not show up"
It is this connection https://oss.yi-ai.cc/yiai_img/purOrder/64_1558944809903_0.jpg that cannot be displayed on the Android machine. The simulator can be displayed.

<Image style={{width: 130,height:130,marginLeft:30,marginBottom:30}}
source={{uri: "https://oss.yi-ai.cc/yiai_img/purOrder/64_1558944809903_0.jpg"}}

      />

React Native version:

 "react": "^16.6.3",
   "react-moment": "^0.8.4",

[2019-05-27 10:52] chenhuaxian commented on #25046
i have the same issue
version: 0.57.8
phone: ios12.2

[2019-05-27 10:54] guhungry commented on #25049
Might be due to `This server's certificate chain is incomplete. Grade capped to B.`

https://www.ssllabs.com/ssltest/analyze.html?d=oss.yi-ai.cc&s=120.77.166.170

[2019-05-27 11:00] chenhuaxian opened #25050 "NumberOfLines of text has bug in Ios && Android"
NumberOfLines Bug:

1、Show not accurate in IOS

2、 Truncation not accurate in Android

React Native version:
"react": "16.6.3",
"react-native": "0.57.8",

## Steps To Reproduce

1. Create a sample Text in your code.
2. set numberOfLines

Actual Result:
（1）Ellipsis is inaccurate in IOS：
          [https://i9.taou.com/maimai/p/20086/5907_53_EM8DiV48lQc2XL](url)
          [https://i9.taou.com/maimai/

[2019-05-27 11:45] pavermakov commented on #19057
@arosca Thank you so much!

[2019-05-27 11:54] AlecDr commented on #19812
I've added only the <code>[untyped]</code> entry that @flolege described and it's working on vscode with the **Flow Language Support** package.

react-native-cli: 2.0.1
react-native: 0.59.8
flow-bin: 0.92.0

[2019-05-27 12:05] kelset commented on #24149
Thanks for opening the PR! 🤗

[2019-05-27 12:07] kelset commented on #24826
Interesting, thanks for providing the repro! Given that now we know that it must be a commit we cherry picked between .4 and .8, do you have any idea of which one it may be?

[2019-05-27 12:08] kelset commented on #18616
Can you submit a repro?

[2019-05-27 12:08] kelset commented on #21319
Ok, but we need to know if it's an issue on the latest stable - can you please provide a repro?

[2019-05-27 12:10] hasan-li commented on #23943
@empyrical it didn't work for me, returns same errors

[2019-05-27 12:12] TheNoim commented on #18616
I did. In the initial issue. I updated the repo.

[2019-05-27 12:14] dishantwalia commented on #25038
#https://github.com/react-navigation/tabs/issues/135

[2019-05-27 12:29] ptrocki commented on #25050
https://github.com/facebook/react-native/pull/24975 probably it is related.

[2019-05-27 12:32] doublex commented on #21319
Works RN 0.59 (0.56 failed)

[2019-05-27 12:35] kelset commented on #18616
The one submitted above is using RN 0.54 (https://github.com/TheNoim/zIndexBug/blob/3e36101903ab96841ba4841e6db214cb4a7df50e/package.json#L18)- as I mentioned when I closed the issue, we'd need one with 0.59

[2019-05-27 12:48] tereshchenkoartyom94 commented on #24150
The same problem for me, just updated to a 0.59.8 and my release build doesn't work anymore

[2019-05-27 12:53] bharatidudhjiya opened #25051 "React native Android Scrollview slow down after some redirections in app:"
I have react native app like instagram,
My problem is first time app is load scrollview working very smoothly in home page with large data, but after some redirection in app, back to home page, scrollview stuck at some points.

here is my code

                   <ScrollView
    					ref={ref => this.scrollView = ref}
    				 	scrollEventThrottle={400}
    				 	onScroll={({nativeEvent}) => {

[2019-05-27 12:55] #25051 closed

[2019-05-27 12:55] chenhuaxian commented on #25050
![image](https://user-images.githubusercontent.com/14290626/58421113-c42f7a00-80c1-11e9-9add-2ca3c80ed6a1.png)

![image](https://user-images.githubusercontent.com/14290626/58421127-cc87b500-80c1-11e9-8fdf-2d79201c27d7.png)

[2019-05-27 12:56] chenhuaxian commented on #25050
![image](https://user-images.githubusercontent.com/14290626/58421163-ddd0c180-80c1-11e9-9f1c-0130fee3b586.png)

**Truncation not accurate in Android**

[2019-05-27 12:57] chenhuaxian commented on #25050
![image](https://user-images.githubusercontent.com/14290626/58421240-0bb60600-80c2-11e9-8ebd-9a0efb480c50.png)

**Truncation not accurate in Android**

[2019-05-27 13:03] tereshchenkoartyom94 commented on #24150
Thanks, @abdurahmanadilovic, your solution works!

[2019-05-27 13:15] spaul03 commented on #21731
Guys, any update on how to control increase in image size while uploading a FormData obj to the server? Am facing this issue for iOS only

[2019-05-27 13:26] TheNoim commented on #18616
went through the hassle and updated to 0.59

[2019-05-27 13:33] naorzr commented on #21731
@spaul03 If using rn-fetch-blob is not an option, then I have no idea.. wasted like a day and a half on this problem, but couldn't work it out.
The route I would have taken would be trying to see if there are other implementations for formData object that do work.

[2019-05-27 13:33] fmonsalvo commented on #22366
I'm having the same issue with react-native 0.59.8 and React 16.8.3. Any idea how to fix it?

[2019-05-27 13:45] nadav2051 opened #25052 "[RN 0.59.3, iOS] After upgrading from 0.51, RN wouldn't work in RN debug mode, getting a 404 from the bundler."
**Issue description:**
After upgrading React and going through the motions, I've manage to get Android to work properly, but when trying to load iOS I've encountered some failure, when trying to debug the failures, I've noticed that the bundler/debugger-ui won't behave properly.

Running the bundler in --verbose mode, when the bundler is being queried, I see this:

[code]
That URL returns a 404 wh

[2019-05-27 13:50] #25052 closed

[2019-05-27 14:04] ferrannp commented on #25024
No problem :)

[2019-05-27 14:04] #25024 closed

[2019-05-27 14:18] heyman333 commented on #23380
@hackdie  YOU SAVED MY LIFE 👏

[2019-05-27 14:32] zhongwuzw commented on #25050
@chenhuaxian Hi, please separate issues of iOS and Android, and fill in the template issue. After that, we can try to investigate.

[2019-05-27 15:25] YajanaRao opened #25053 "App crash in android 5.1"
# Configuration

 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz
      Memory: 2.43 GB / 7.91 GB
    Binaries:
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
      Watchman: 4.9.0 - C:\Shortcut\watchman.EXE
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5199772

`react-native-track-player`
 react-na

[2019-05-27 15:29] paincher commented on #21731
The only workaround that i found was uploading the image as a base64 string. In my case im using the library react-native-image-base64 and then uploading the file on a JSON payload. I dont really know if this is a good approach for larger images, but at least in my usea case it works like a charm

[2019-05-27 15:46] djschilling opened #25054 "Fetch error in Android https GET"
When i call the url `https://www.cchd.de/ct/api/info` with the `fetch` api on Android i always get the error: `Network request failed`. On iOS it works fine.

I use an android simulator for my tests:

* Nexus_5X_API_27

This is the code is use to test it:

[code]

I also read some other issues about similar issues but none of them solved my issue.
Other urls like this one work fine: https://testda

[2019-05-27 16:42] Belobobr commented on #22807
I've fixed it by adding <View accessible={true} />. I think react-native should provide some description for common sources of such errors.

[2019-05-27 17:29] ostaron commented on #15059
Are there any implications to adding `console.reportErrorsAsExceptions = false;`? Would this result in some other exceptions not getting reported that should be?

[2019-05-27 18:57] caiopardal opened #25056 "[TextInput] Input field cursor (teardrop) remains on screen"
In devices with Android 5.1.1 the teardrop inside TextInputs doesn't go away after closing it or submitting the text written.

Screenshot:
![image](https://user-images.githubusercontent.com/43478950/58435378-a993db80-8096-11e9-8765-f946ff23945c.png)

React Native version:
  React Native Environment Info:
    Binaries:
      Node: 10.15.3 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/ya

[2019-05-27 19:34] empyrical commented on #23943
@hasan-li Are you also using macOS like the other users having the problem? I am suspecting this may be a Mac-only problem (as I'm not encountering this bug on Ubuntu)

[2019-05-27 19:55] vishnevskiy opened #25057 "NativeModule call performance reduced since RN58"
We at Discord just upgraded from RN57 to RN59 and immediately noticed a slow down while doing certain actions in our app. Since our chat view is actually a native component we ship it large arrays of messages and emojis. It became clear the bottleneck was coming from this. After doing some research of what changed since RN57 it was clear the JSExecutor has been refactored and seems to have changed

[2019-05-27 20:48] johannmiller commented on #20423
This problem appeared out of nowhere for me. Everything had been building fine, until suddenly it didn't. I tried virtually all suggestions involving xcode build paths, schemes, library linking ordering etc. Did not help.  Finally, this is what got my build going again: `rm -rf node_modules && npm install`.

[2019-05-27 22:01] german970814 commented on #23021
Is there any updates about this issue?

[2019-05-28 00:47] ThomasGHenry commented on #23785
+1

`$ react-native info

  React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (8) x64 Intel(R) Core(TM) i7-3740QM CPU @ 2.70GHz
      Memory: 740.73 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.3 - ~/.nvm/versions/node/v10.15.3/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v10.15.3/bin/npm

[2019-05-28 01:10] opnay commented on #23156
@hafizali05
My issue code is
[code]

This is not usage of `StyleSheet.create`
`create`'s argument must be
[code]

[2019-05-28 01:30] wuchangming commented on #21801
@AaaChiuuu ， I think it‘s not a good workaround. Demo without the bug just because header layout Animation do not affect scrollview.
https://snack.expo.io/@wuchangming/bad-donut-x

[2019-05-28 02:00] alishamae commented on #21801
Unsubscribe

On Mon, May 27, 2019, 9:33 PM wuchangming <notifications@github.com> wrote:

[2019-05-28 02:10] lxylinki opened #25059 "Flatlist onRefresh does not work within nested Scrollview"
React Native version:
0.59.5

 CourseView is a FlatList with onRefresh function located at bottom half of the page, nested inside a horizontal Scrollview(onRefresh works fine), and a portrait Scrollview(onRefresh does not work after this layer of nesting) contains the entire page except search bar.

The page scrolls as the screenshot displays, I have to put Flatlist inside ScrollView to achieve th

[2019-05-28 02:26] JensonMiralles commented on #22366
For me the fix was instead of using
[code]
I used
[code]

and it worked magically 🤣

[2019-05-28 02:44] jamesone commented on #20774
Is the new xcode build system supported on RN 0.59+? Im using xcode 10.2 and have tried using the new build system but it errors saying there is an issue with my carthage libs.

[2019-05-28 02:44] Kudo commented on #24261
Some more update here:
I really doubt if the native crash happens easily on S7 edge, there should be other applications faced such problems.
Gotcha!
[Google Play Service with Text API had this problems but no OSS fix](https://github.com/googlesamples/android-vision/issues/269)
[Mono found a crash issue on S7 Exynos bit.LITTLE arch](https://www.theregister.co.uk/2016/09/13/arm_biglittle_gcc_bug/) a

[2019-05-28 03:30] absss commented on #25046
我已经解决该问题。
解决方案：
[code]
在deinit方法中调用该方法，注意，如果你rn的公用父类，不要在父类的deinit方法中调用上述方法，要在子类的方法中调用该方法

[2019-05-28 04:03] SmallCat123 commented on #25017
mainfest中，配置的action.VIEW没有带scheme整个<intent-filter>报红导致的

[2019-05-28 04:03] #25017 closed

[2019-05-28 04:44] HarshitMadhav commented on #25003
@Luckygirlllll checkout the answer to this question https://stackoverflow.com/questions/53378354/upgrading-react-native-to-latest-version/54849799#54849799

[2019-05-28 05:04] ujwal-setlur commented on #20774
It works just fine for me, but I don't use any Carthage libraries...

[2019-05-28 06:02] craigcosmo commented on #15431
got this problem on ios

React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz
      Memory: 305.79 MB / 24.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.15.3 - /usr/local/bin/node
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.6.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platform

[2019-05-28 06:34] ptrocki commented on #25054
https://github.com/facebook/react-native/issues/10404

https://github.com/facebook/react-native/issues/24120

Maybe this will help you ?

[2019-05-28 06:36] memory125 commented on #21824
The simulator error as the following screenshot showed.
![image](https://user-images.githubusercontent.com/10826147/58456089-d65af800-8155-11e9-99e7-ef548cb635b4.png)

[2019-05-28 06:37] danielgindi commented on #24460
Am I the only one this happens to?
This also happens with latest `@react-native-community/cli`

[2019-05-28 06:38] memory125 commented on #21824
The simulator error as the following screenshot showed.
![image](https://user-images.githubusercontent.com/10826147/58456256-4bc6c880-8156-11e9-9825-60ba377f92cd.png)

[2019-05-28 06:49] YajanaRao commented on #25053
I got this issue resolved by adding below line of code to AndroidManifest.xml

[code]

Here is what the complete block looks like:
[code]

[2019-05-28 06:49] #25053 closed

[2019-05-28 06:53] ptrocki commented on #24857
On ip 7 v.11.4 this bug does not occur.

[2019-05-28 06:55] huangxiaojieCoder commented on #25049
thanks,Yes due to This server's certificate chain is incomplete. Grade capped to B.

[2019-05-28 06:55] #25049 closed

[2019-05-28 07:01] ptrocki commented on #24933
https://stackoverflow.com/questions/28395842/iphone6-display-zoom-functionality-disturbs-the-whole-view

On native side, this is done by autolayout. Probably it should be handled by yoga somehow ?

[2019-05-28 07:17] Kevinpahlevi commented on #21140
any update for this? i facing same problem after upgrade to react-native 0.59

[2019-05-28 07:22] djschilling commented on #25054
I already read these issues, but i couldn't find a solution there.

[2019-05-28 07:44] spaul03 commented on #21731
@naorzr will it work for an expo detached app? my build started failing after it asked for POD UPDATE

[2019-05-28 08:30] naorzr commented on #21731
@spaul03 it depends, if you're using expokit then there are some issues with rn-fetch-blob and expokit, but if you detached to bare react native, then it should work fine, did you remember to do cd ios && pod install?

[2019-05-28 08:41] xeastcrast commented on #24935
https://github.com/facebook/react-native/issues/24935#issuecomment-494849747

Why to change date on smartphone.

[2019-05-28 08:51] hariegnify commented on #24505
@spyr0s comment the react.gradle line in app gradle

[2019-05-28 09:02] AurelienLW commented on #19958
Hello there, i've been trying to do this the past week, and still have no clue how to deal with cookie-based Auth.

[code]
my url is https, still added android:usesCleartextTraffic="true"
i've used curl for testing the request, and everything works fine.

i'm getting a Network request failed with no hint of how to resolve it.
if you have any update on the topic it'd be great.

[2019-05-28 09:16] Sharcoux commented on #24935
It is in order to sync the clock from the computer with the clock from the phone. I had issues with that, but maybe it is fixed in newer versions of RN.

[2019-05-28 09:48] zhongwuzw commented on #24820
Fixed in https://github.com/facebook/react-native/pull/24821.

[2019-05-28 09:48] #24820 closed

[2019-05-28 10:04] ducNgbk opened #25060 "[Android-RN 0.59.8] Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0xee0f0434 in tid 16493 (mqt_js)"
Hi I want to build my project on **RN 0.59.8**. MY app use **react-native-webgl**
Building process is fine, but **app crashes right after it starts.**

However, **everything works fine on RN 0.57.8**

React Native version:
[code]

## Steps To Reproduce

1. Init new RN prj with RN 0.59.8
2. Add react-native-web-gl module
3. Download NDK 18
4. Build and run project with `react-native run-android`

D

[2019-05-28 11:08] chenhuaxian commented on #25046
这是个单例呀。invalidate以后，再次打开其他rn页就白屏了。。。

[2019-05-28 12:04] alikazemkhanloo commented on #25040
I tested with small changes to the size of the app. It doesn't rerender for small changes.

[2019-05-28 12:33] xeastcrast commented on #24935
https://github.com/facebook/react-native/issues/24935#issuecomment-496434689

Thanks a lot 👍 😄 💯

[2019-05-28 12:33] #24935 closed

[2019-05-28 12:35] KevinCallagher commented on #23964
I've been experiencing same issue for a few days with multiple libraries such as Async Storage and Realm. Finally solved it.

Open android project in Android Studio. Do 'Clean Project' and then 'Rebuild Project'. Now execute 'react-native run-android'. It should not throw 'react-native-gesture-handler:generateDebugRFile FAILED' error anymore..

[2019-05-28 13:34] oreporan commented on #24065
Any updates on this? Nothing seems to get rid of the `warnOnce` doesn't exist error

[2019-05-28 13:34] AdamZaczek commented on #3346
It's still happening

[2019-05-28 14:01] donysukardi opened #25061 "Make eslint-config-react-native-community more inline with eslint-config-react-app"
`eslint-config-react-native-community` seems to be a lot stricter than it needs to be, comparatively to `https://github.com/facebook/create-react-app/blob/master/packages/eslint-config-react-app/index.js`.

For example, `no-shadow` is very strict in codebases that use redux as all `mapDispatchToProps` instances will get flagged.

The config less opinionated on coding styles, e.g. removing `curly`.

[2019-05-28 14:05] #25061 closed

[2019-05-28 14:24] craigcosmo commented on #24602
saved my life, thank you

[2019-05-28 14:43] unutoiul opened #25062 "Docs: background position"
I'm using ImageBackground and I have a
[code]

the image is in the middle how can I position it at the top..in css you could do : background-position: top;

Thanks,
Lucas

[2019-05-28 15:14] kkusanagi commented on #13938
React-Native 0.59 version. Only show COPY when long press.

[2019-05-28 15:30] Kudo commented on #24261
The experimented builds that fixed `__clear_cache` have ready.

The steps are same as [before](https://gist.github.com/Kudo/cc40662163fbd69dd01d66fd99476c17) but only to use different npm dependency.
1. `yarn add '@kudo-ci/jsc-android@241213-fix-clear-cache-dfg'` and confirmed adb logcat with version `241213.8000.0` ([ref source code here](https://github.com/Kudo/jsc-android-buildscripts/tree/fix_

[2019-05-28 15:37] legshampoo commented on #25026
also having this issue, on macOS 10.13.6
iOS v12.1.4

disabling wifi doesn't help

[2019-05-28 16:07] nirvo commented on #21768
I have the same issue, how do you resolve the problem ?
`React Native Environment Info:
    System:
      OS: macOS Sierra 10.12.6
    Binaries:
      Node: 11.13.0 - /usr/local/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 11.2, macOS 10.13, tvOS 11.2, watchOS

[2019-05-28 16:22] hery commented on #23934
What's the state of things here? I have an Android release running 0.59.8 that's still reporting this crash.

[2019-05-28 16:36] risingworld777 commented on #21768
@nirvo  Are you using Facebook SDK?

[2019-05-28 16:39] nirvo opened #25063 "fbsdk IOS - framework not found CoreServices for architecture i386"
I am using FBSDK with RNN2, I get this issue when I compile IOS xcode project

ld: framework not found CoreServices for architecture i386
clang: error: linker command failed with exit code 1 (use -v to see invocation)

React Native Environment Info:
    System:
      OS: macOS Sierra 10.12.6
    Binaries:
      Node: 11.13.0 - /usr/local/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm:

[2019-05-28 16:44] nirvo commented on #21768
the issue was closed so I deleted my message here

Yes I use FBSDK

I create a new issuer https://github.com/facebook/react-native/issues/25063

[2019-05-28 16:52] mickael-h opened #25064 "[Android] It seems impossible to add values to a WritableArray"
When I add a value to a WritableArray (for example, using pushInt(1) or pushMap(myMap)), it has no effect. The size of the array is still 0, and if I try to access the data I pushed, it triggers and
out of range exception.

React Native version: 0.59.2
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
      Memory: 3.22 GB

[2019-05-28 16:55] code-brewer opened #25065 "Question: react-native run-android do not found source maps"
Is it a bug or I miss anything?

Just run `react-native run-android` and opened `http://localhost:8081/debugger-ui/` from Chrome browser.  But failed to jump to source code when clicked on the URL among logs,  as bellow image show.

[![rn_url_insdide_log.png](https://i.loli.net/2019/05/29/5ced657f61f5327772.png)](https://i.loli.net/2019/05/29/5ced657f61f5327772.png)

I suspect the source maps file

[2019-05-28 16:55] risingworld777 commented on #25063
https://github.com/facebook/react-native/issues/21768#issuecomment-429644983

[2019-05-28 17:05] #25065 closed

[2019-05-28 17:13] canpoyrazoglu commented on #23740
I'm on 0.59.8 and I can confirm that this issue is present. My `TouchableWithoutFeedback` does not fire inside my `FlatList` cells, whereas `TouchableOpacity` does.

[2019-05-28 17:20] holospeed commented on #24826
It's looks like the problem appears since 59.7

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3962013/58497951-4fba1100-817d-11e9-9ea7-adbea4f75e36.gif)

59.6 looks fluent:
![rn59_6](https://user-images.githubusercontent.com/3962013/58497817-0e296600-817d-11e9-852f-3821d424d08f.gif)