[2017-03-22 14:41] maggialejandro commented on #8075
Same issue here
I'm opening a modal with a TextInput and a ListView, after I start typing I need to press twice over a list's Item, first to hide the keyboard then to trigger the Item's event handler

[2017-03-22 14:42] maggialejandro commented on #8075
Same issue here
I'm opening a Modal with a TextInput and a ListView, after I start typing I need to press twice over a list's Item, first to hide the keyboard then to trigger the Item's event handler

[2017-03-22 14:59] jeanregisser commented on #10366
For those who upgraded to RN 0.43-rc and can't use the Dev Menu anymore when RN is installed with CocoaPods, you now have to explicitly add the `DevSupport` subspec in your `Podfile`.

Change was introduced by https://github.com/facebook/react-native/pull/12602

[2017-03-22 15:02] getreup commented on #11200
On react-native 0.42.0 as well and seeing a bunch of these, for example:

[code]

Which seems to be internal to react-native.

[2017-03-22 15:08] markusguenther commented on #7708
I used Modal in version 0.40 ad now 0.42 and everything works fine on iOS and android. So I can not reproduce this behavior.

[2017-03-22 15:20] getreup commented on #11200
Turns out after deleting node-modules and npm install a few times, these warnings went away. Not entirely sure that was what did it or not.

[2017-03-22 15:39] pfulop commented on #12832
Had the same problem. After recreating app it was gone until I installed some other lib via cocoapods, the developer menu stopped working. Upgrade to 0.42.3 solved  this issue so I guess if somebody has same problem, just do upgrade.

[2017-03-22 16:20] arnihermann commented on #1092
I have this issue as well. I'm using a third party component that has a `disabled` property (https://github.com/oliviertassinari/react-swipeable-views/blob/master/packages/react-swipeable-views-native/src/SwipeableViews.animated.js#L384) but it seems once the `panHandler` has been set, I cannot disable it by passing a `disabled={true}` to the third party component. This behavior breaks my mental m

[2017-03-22 16:24] ericvicenti commented on #13074
Can you please send a pull request with the fix?

[2017-03-22 16:28] sahrens commented on #1831
@gre: do you have a repro app for the issue with FlatList? I would like to get that fixed asap!

[2017-03-22 16:33] davidsharp commented on #13074
@seenickcode, I can see it's not there, but that's how async/await works.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await

It's certainly something that should be clearer in the docs, but it's not a React Native issue specifically.

[2017-03-22 16:36] npomfret commented on #10249
I can also reproduce it in production devices now.  Running 4.4 or 4.1

[2017-03-22 16:38] npomfret commented on #7530
Was there any progress on this.  I've recently started getting SoLoader java.lang.VerifyError in 4.4 and 4.1 builds.  Its been fine until recently

[2017-03-22 16:47] prasang7 commented on #13015
Thankyou @Nick177 and @mikaalanwar for your suggestions. It solved my issue.

[2017-03-22 16:48] #13015 closed

[2017-03-22 17:00] LeonChabbey opened #13086 "Interating in ReactNativeComponentTree.getInstanceFromNode crashes on Release scheme"
### Description

I am trying to know whether an instance is part of a specific component tree or not.
I.e I got a ScrollView with several children and I want to check somewhere else in the code if when I click anywhere on the screen the clicked element is a child of that ScrollView.

The code below works perfectly, but only in debug scheme.

When I try running it as a release, I get this error :

[2017-03-22 17:00] gerardus1995 commented on #13010
same

[2017-03-22 17:01] seenickcode commented on #13074
Good to know thanks.  It's just that it's in the React Native main
documentation and that example they give clearly doesn't work for newbies
like me.  Not to be negative but it's surprising from the quality of
documentation Facebook produces.  I couldn't find how to report a problem
with documentation.

On Wed, Mar 22, 2017 at 8:34 PM, David Sharp <notifications@github.com>
wrote:

[2017-03-22 17:07] vnswvnsw opened #13087 "Imposible to create Grid with Flex"
I do not thnik its possible to create great like bootstrap for responsivnes on different orientation or different screens.

Because of flex: 1 , if last line has less columns , they will be different size.
So there is impossible to create table with flex with same columns.

[2017-03-22 17:08] Taakn commented on #13053
I couldn't get it working, so I went back to 0.39.2 (0.39.0 wasn't working either). I'm leaving the issue open, but since I moved on from that version I cannot comment on whether or not this is fixed. If you feel that this issue should be closed, please do so.

[2017-03-22 17:09] BaoBaoJianqiang opened #13088 "'self.bridge.eventDispatcher sendAppEventWithName' does not work"
First, the method 'sendAppEventWithName' is deprecated.
2nd, "self.bridge" is always null, so OC can't invoke js function in RN.

[2017-03-22 17:46] avdg commented on #8259
how to reproduce from scratch?

[2017-03-22 17:49] ericapply commented on #6502
I would like to have LayoutAnimation work with iOS text. If the performance is a problem maybe enable it with a flag.

[2017-03-22 18:10] theseansy commented on #11680
The [PR hasn't been merged](https://github.com/facebook/react-native/pull/11835)

[2017-03-22 18:23] manjula91 commented on #13044
Thanks issue is resolved

[2017-03-22 18:25] natdm commented on #1831
@gre , do you have example code for that? And do you mean in componentWillMount for that component encompassing a ListView?

[2017-03-22 18:27] natdm commented on #1831
@ericvicenti - looks like it takes quite a few other pieces of code from RN. I was worried it was going to be borrowing bits and pieces from elsewhere. I may pull it out. Maybe throw it in a repo for other people to use -- is that allowed?

[2017-03-22 18:39] lyahdav opened #13089 "Error when assembling Android release with proguard"
### Description

After creating a new React Native project, enabling proguard per [these instructions](https://facebook.github.io/react-native/docs/signed-apk-android.html#enabling-proguard-to-reduce-the-size-of-the-apk-optional), and building a release Android build I get the following error:
[code]

The specific warning in the output is:
[code]
### Reproduction

1. `react-native init --version="

[2017-03-22 18:57] vldgeorgiev opened #13090 "App gets closed when Remote JS Debugging is enabled"
### Description
When the JS Debugging is started from the Dev menu, the app on the mobile gets closed on its own after a while. It does not happen immediately, but after a minute or two, sometimes after 20-30 seconds.
It only happens if there is a debugger actually attached. If the option is enabled, but the debugger is closed immediately, the app runs as it should. E.g. if the Chrome window local

[2017-03-22 19:03] Pedneri1 opened #13091 "White screen when opening React Native from existing app"
### Description

I am integrating react native to an existing app, it already works by following the docs. But there is a problem, every time I click the button that opens the RN activity/view controller, it takes 2 or 3 seconds in a white screen (loading the bundle). Is there any way to pre load this bundle and avoid this white screen ?

### Reproduction

1. Integrate any existing app with React

[2017-03-22 19:41] foggy1 commented on #12112
Having this issue going from .40 to .42.3.  On first try, merge conflicts registered in the proper files.  But subsequent tries yielded no such luck and required the reject flag for any discernible conflict.

[2017-03-22 20:02] hramos commented on #13087
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-22 20:02] #13087 closed

[2017-03-22 20:02] hramos commented on #13088
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-22 20:02] #13088 closed

[2017-03-22 20:04] hramos commented on #13074
Most of the documentation is hosted in this repo, in the `docs/` directory. The API reference docs are generated from the JavaScript comments in the source files itself.

A good way to report a problem with documentation on React Native is just like this - by opening an issue in the GitHub tracker. A pull request would be ideal, however!

[2017-03-22 20:52] carlospaulino opened #13094 "Remove react-native package from maven central and jcenter"
### Description

A really old version of react-native is being hosted on maven central and jcenter.

Please remove it to avoid confusions.

http://search.maven.org/#artifactdetails%7Ccom.facebook.react%7Creact-native%7C0.20.1%7Caar
https://bintray.com/bintray/jcenter/com.facebook.react%3Areact-native

### Additional Information

* React Native version: 0.20.1
* Platform: Android

[2017-03-22 20:57] jocjeffrey commented on #1693
Don't know if this helps anyone at all (we all seem to have slightly different issues with this), but my app was crashing whenever I used TouchableOpacity with any kind of styles. It turns out there was a 'width: 100%' in my styles. When I removed that, the app stopped crashing.

[2017-03-22 21:05] RyanMitchellWilson commented on #13038
Well I've got a specific case but normally I would do that. My page is basically three parts with a profile info section on the top, tabs in the middle that determine the bottom content and the bottom content. I pretty much need that top and middle section to scroll with the content if the bottom content is long enough for it to scroll. And not all the content that shows at the bottom will need a

[2017-03-22 21:16] gre commented on #1831
@sahrens sorry it's in my company app, but maybe I can try to create a blank example to repro it!

@natdm a bit above in a comment: https://github.com/facebook/react-native/issues/1831#issuecomment-231069668

[2017-03-22 21:25] mycool0943 commented on #29
+1 for TextInput

[2017-03-22 22:14] fadookie commented on #8717
@niros001 Please see the note I added to the bottom of the "Using fetch" section of the networking docs: https://facebook.github.io/react-native/docs/network.html#using-fetch :

[2017-03-22 22:25] zachrnolan commented on #12895
+1
Having the same exact issue every reload.

[2017-03-22 23:18] chandu0101 commented on #13063
facebook is using `react`-`master` in production! :)

[2017-03-22 23:40] Blapi opened #13097 "[PermissionsAndroid] request is not prompting and always return true"
### Description

I want to use the camera in my react-native application on Android. For this, I'm using the Camera from https://github.com/lwansbrough/react-native-camera.

So, in order to this, i'm using PermissionsAndroid to make sure that the user has the access to the camera. Here comes my problem.

I'm using the code from the doc (here https://facebook.github.io/react-native/docs/permissions

[2017-03-23 01:11] hnzlk2014 commented on #13078
npm ERR! notarget No compatible version found: react-test-renderer@16.0.0-alpha.4
npm ERR! notarget Valid install targets:
npm ERR! notarget 1.0.0, 1.1.0, 15.3.0, 15.3.1-rc.1, 15.3.1-rc.2, 15.3.1, 15.3.2-rc.1, 15.3.2, 15.4.0-rc.1, 15.4.0-rc.2, 15.4.0-rc.3, 15.4.0-rc.4, 15.4.0, 15.4.1, 15.4.2, 16.0.0-alpha, 16.0.0-alpha.0, 16.0.0-alpha.2, 16.0.0-alpha.3, 16.0.0-alpha.5

[2017-03-23 01:14] hnzlk2014 commented on #13078
16.0.0-alpha.3 is ok.

[2017-03-23 01:42] ide commented on #13094
@mkonicek What do you think about removing this? I believe it's been over a year since the last publish.

[2017-03-23 03:47] telesoho commented on #3692
I got same error on react-native 0.41.2, I build by Xcode Version 8.2.1 (8C1002)

[2017-03-23 04:08] annelorraineuy opened #13100 "[FlatList] Horizontal FlatList can't scroll to rest of content when RTL is true for localization"
### Description

Localizing for a Right-to-Left language, Farsi, causes ListViews to reverse in a way that the scrollview can't scroll to the rest of the content. Here is a GIF of its behaviour -

![rtl-scrollview](https://cloud.githubusercontent.com/assets/5892190/24231461/71ba2b70-0f4a-11e7-8c18-19a1f6173e73.gif)

### Reproduction
An ordinary horizontal Listview will suffice. See mine below.

[c

[2017-03-23 04:23] clarle commented on #13094
Just curious, what's the reasoning behind not publishing it to Maven Central / JCenter regularly?

[2017-03-23 04:30] loki4u opened #13101 "Is it react-native broken framework?"
Hi Team,

when i tried to start project from create to deploy in to device. faced lot of issues in each step like installation issue, build issue, no proper docs. etc.. very difficult to find proper solution in some forum also. finally i ended up unhappy with  with react-native.

[2017-03-23 04:51] ide commented on #13094
Unlike most other libraries, RN has inherently coupled JS+Java and JS+Obj-C so we want to distribute related code together in the interest of high cohesion. Additionally the build system is JS-centric and works out of `node_modules`, so we want to distribute the JS using npm more than we want to distribute the Java using Maven or ObjC using CocoaPods.

We also want to keep the deployment process s

[2017-03-23 04:52] Sinapse87 commented on #8401
I have exactly the same problem. Happened to me after using my pixel. I spent over three hours now!

[2017-03-23 04:55] natdm commented on #11964
Here is a video of the bug:
https://www.youtube.com/watch?v=vubkS6Sikpg&feature=youtu.be

If you are hot reloading and you have the page reload at all, it will show the activity indicator.

[2017-03-23 05:13] Jarred-Sumner commented on #12906
It turns out that calling `invalidate` on the `RCTBridge` manually is the cause of this issue. Setting the `RCTBridge` instance to `nil`, instead, fixes it (in my implementation, I set the whole UIViewController containing the `RCTRootView`to `nil`). Calling `invalidate` twice on the `RCTBridge` maybe causes a retain cycle somewhere?

[2017-03-23 05:21] Lxxyx opened #13102 "fix webp image size caculate bugs by upgrade dependencies image-size to newest version"
### Description
When I try to use webp for app. But some webp images get an error message unsupported file type by image-size@0.3.5.

And I in image-size repo I found a issue image-size/image-size#65.
This is the same problem.

And try image-size^0.5.1 the error fixed.

### Reproduction

[FILL THIS OUT: Try to reproduce your bug on https://sketch.expo.io/ and provide a link. If you can't reproduce

[2017-03-23 05:42] annelorraineuy commented on #13100
Temporary workaround just for the scrollview to the get to the rest of the content.

See `renderScrollComponent` on ListView.

Layout will look LTR though, not RTL as it should be.

[code]

0.39.2 doesn't have [scrollToEnd()](https://facebook.github.io/react-native/docs/scrollview.html#scrolltoend) so I don't know what else to do.

[2017-03-23 05:44] demonhunterunderdarkness commented on #3082
@meznaric,Good suggestion!

[2017-03-23 06:00] keshavkaul commented on #12992
This issue is there in 0.42.3 as well

[2017-03-23 06:41] ABleas commented on #11657
I have a similar use case to make updates based on where a scrollView ends up, with or without gesture input. Can use `setTimeout()` to approximate, but it's not ideal.

[2017-03-23 06:43] dvpr commented on #12754
In Mac, when I enable proxy will get this issue, disable proxy everything fine.

[2017-03-23 06:43] stereodenis commented on #231
@brentvatne get the same issue too. I can't read yml file

[2017-03-23 07:00] ide commented on #12992
You need to include the Yoga reference in your Podfile too: https://facebook.github.io/react-native/releases/next/docs/integration-with-existing-apps.html#podfile

[code]

[2017-03-23 07:04] charlle commented on #3163
@grabbou is there anything like this for react-navigation?

[2017-03-23 07:18] liyonghui16 commented on #12827
I also met this problem, and I think that is a bug on VirtualizedList.

[2017-03-23 08:02] seenickcode commented on #13074
Ok noted.  Thank you!

On Thu, Mar 23, 2017 at 12:05 AM, Héctor Ramos <notifications@github.com>
wrote:

[2017-03-23 08:27] maxandmin commented on #7308
if you install two  Xcode,please  delete a Xcode.

[2017-03-23 08:30] keshavkaul commented on #12992
If I may ask, What is this Yoga dependency? Also, could anyone explain the difference between a React.xcodeproj and ReactCxx.xcodeproj ? These are something new in 0.42 version.

[2017-03-23 08:32] hovox commented on #12992
I think this should be fixed in master branch so newcomers will not have this issue.

[2017-03-23 08:51] kohver commented on #1092
@arnihermann did you try my workaround with `onStartShouldSetPanResponder`?

[2017-03-23 08:55] zhiyong888 commented on #7308
My environment:
react-native-cli: 2.0.1
react-native: 0.42.3
node: 7.3.0
npm: 3.10.10

AwesomeProject doesn't running and build failed.

** BUILD FAILED **

The following build commands failed:
	PhaseScriptExecution Start\ Packager /Users/luca/workspace/pillsy/ios/build/Build/Intermediates/React.build/Debug-iphonesimulator/React.build/Script-006B79A01A781F38006873D1.sh
(1 failure)

Installing buil

[2017-03-23 08:56] zhiyong888 commented on #7308
I tried all solutions but doesn't working...

[2017-03-23 08:57] Exilz commented on #10882
How do people even work on modules since then ?? I don't understand how this issue is still there

[2017-03-23 08:58] arnihermann commented on #1092
Yeah that didn't work for me for some reason. I did something like this:

[code]

[2017-03-23 09:07] acresta88 commented on #8259
@avdg Thanks for the help, after I upgraded I still had the problem, so I dag into uglify to find out what file was creating the problem. At last I found a ` new.target ` in the code that created the problem. From what I can see [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/new.target) that should be usable, but it's not. An the biggest problem is that uglify d

[2017-03-23 09:11] RiaParshina commented on #7308
@zhiyong888 Xcode version?

[2017-03-23 09:12] zhiyong888 commented on #7308
I'm using latest version.

[2017-03-23 09:14] zhiyong888 commented on #7308
XCode: Version 8.2.1 (8C1002)

[2017-03-23 09:15] gezichenshan opened #13106 "Direct manipulation TextInput defaultValue"
I was looking for help on the stackOverflow but just get this one which didn't solve my problem:
[here](http://stackoverflow.com/questions/37016664/setnativeprops-change-value-for-text-component-react-native-direct-manipulation)

I also want to directly update the value of a component due to performance reasons.
Here is my code,

`<TextInput ref="currentAlphabetRefer" editable={false} style={{widt

[2017-03-23 09:33] jevakallio commented on #13101
Hi loki4u,

I think you misspelled React-native. The "React" is supposed to start with a lowercase r.

Happy to help.

[2017-03-23 09:33] gezichenshan commented on #13106
OK,I've seen this question: [issue1390](https://github.com/facebook/react-native/issues/1390),
and resort to [this](https://facebook.github.io/react-native/docs/direct-manipulation.html#setnativeprops-to-clear-textinput-value) page,which solved my puzzle.

[2017-03-23 09:33] #13106 closed

[2017-03-23 09:56] Petermuturi commented on #2244
Did anyone find a solution to this?

[2017-03-23 10:04] avdg commented on #8259
There was some `new.target` code implemented on the harmony branch. But I think it's a feature that isn't used a lot (unless proven otherwise).

Given that this issue probably refers to the master branch of harmony and by so, don't rely on harmony features, can you please remove these `new.target` snippets from the code?

[2017-03-23 10:10] sospedra commented on #7340
still having the issue, the PR looks unmerged

[2017-03-23 10:18] martinjobb commented on #5823
+1

[2017-03-23 10:25] pvinis opened #13107 "percentage support for transform translate"
### Description
3f49e74 added support for percentages in some style properties, and its awesome.
we should also have support for transform translates.

### Reproduction

I want to absolutely position a view and center it vertically.
I can now do `top: '50%'`, but thats not centered. To make it centered I would also need `transform: [{translateY: '50%'}]`.

### Solution

Add support for percentages

[2017-03-23 10:42] javiercr commented on #10882
@Exilz I think most of us are making changes to our librares under `node_modules` and then copy and pasting to the proper folder...

[2017-03-23 10:44] Exilz commented on #10882
@javiercr that's what I thought...

PSA : Don't ever `yarn` while doing this, because contrary to `npm install`, it will remove folders that are not in your `package.json`, erasing your current work.

Believe me, it hurts.

[2017-03-23 10:49] tk130 opened #13108 "State Error in TextInput Sample"
### Description
I'm not working with the emulator. I have my mobile phone connected and run the Application on this. I tried out the following source code: https://facebook.github.io/react-native/docs/handling-text-input.html
Just by copy and paste and changed all 'PizzaTranslator' to the actual name of my project. I activated hot reload. When I saved the Code I  expected the same view as shown in

[2017-03-23 10:57] rkretzschmar commented on #11196
Hi all,
for me - the following solved the problem (deadlock):
I patched `RCTModuleData.mm` by replacing the mutex in `setUpInstanceAndBridge` in a way that it only protects the write access (the `new` operation in this case), rather than all the block - so the method looks like that now:

[code]

I know that mutex is not the root cause and a deadlock can still be happen, because of all those `disp

[2017-03-23 11:15] quangas opened #13110 "ListView RefreshControl - Unable to pull to refresh if empty"
### Description

When a ListView is empty, there is no way to do a pull down to refresh with the RefreshControl. I have no other event triggered option to refresh besides pull down to refresh. How can I get around this?

[code]

### Additional Information

* React Native version: 0.41
* Platform: Android
* Development Operating System: MacOS
* Dev tools: Android Studio

[2017-03-23 12:29] tk130 commented on #13108
Allright, when I restart everything, that means: I start the command line again with react-natve start and react-native run-android, reconnect the phone, it works. Whats the problem?

[2017-03-23 13:05] rkretzschmar commented on #11196
Maybe `[self setUpMethodQueue]` and `[self setBridgeForInstance];` have to be protected separately as well. Haven't thought this through completely. Just mentioning.

[2017-03-23 13:23] langjun commented on #10756
I got the same crash.
`"react-native": "0.42.3"`

when I do this on Android.
`fetch('http://s1.dwstatic.com/group1/M00/F5/15/af09c9472255fc101863cf4929a4daff.gif')`

I try to use `axios`, it's  correct.

[2017-03-23 13:32] ted-ks opened #13112 "TextInput not working as expected when programatically entering text"
The below code does not work properly in iOS (iPhone 6). When I press ‘Push Me’, the word is not displayed completely and the cursor is also not shown. On further investigation, I found out that onChangeText and onContentSize change are not triggered. Pressing any key on the key board after pressing the ‘Push Me’ button displays the full word. I want the full word to be displayed when the button i

[2017-03-23 13:41] gaearon commented on #13078
I think the problem is that we didn't pin the React version during one of the previous syncs: https://github.com/facebook/react-native/commit/24a7665df5c35e0db32572c6ff83f51392c43f13#commitcomment-21457443. So now every time we release a new alpha of `react` (potentially with breaking changes because it's an alpha), React Native RC that contains `~` in the peer dependency will let the users happil

[2017-03-23 13:53] grundmanise opened #13113 "Get active slide index when using Animated.ScrollView"
### Description

I have a horizontal `Animated.ScrollView`, how can I get active slide index? Normally I'd hook up some functions to the `onScroll` event, but my `onScroll` is `Animated.event`.
[code]

How to deal with `Animated.event` and still be able to get active slide index?

### Additional Information

* React Native version: 0.43
* Platform: iOS

[2017-03-23 14:11] imjameshall opened #13114 "Linking module fails when user has uninstalled Mail.app"
### Description

I set up linking to send an email using 'mailto:anyone@anywhere.com?subject=hi' as the URL.  When I clicked the link it crashes... because the user has REMOVED the mail app!

### Reproduction

1) On a test device, remove the mail app.
2) Add the following code after adding the required dependencies:
`Linking.openURL('mailto:anyone@anywhere.com?subject=hi').catch(err => console.err

[2017-03-23 14:30] maggialejandro opened #13115 "Expected ')' in RCTProfile.m"
### Description
Expected ')' in [RCTProfile.m](https://github.com/facebook/react-native/blob/ba149d72772111758b12b76db56c60dea5b1ef26/React/Profiler/RCTProfile.m#L399)

![rctprofile](https://cloud.githubusercontent.com/assets/3394748/24252330/ed322020-0fbb-11e7-91af-7e2ea376ce1f.png)

Related issue #13020

### Reproduction
Product Clean
Product Run

### Additional Information
* React Native versio

[2017-03-23 14:34] javache commented on #13115
Please install Xcode 8.2, UIAcitivityType is part of the iOS10 SDK.

[2017-03-23 14:34] #13115 closed

[2017-03-23 14:54] RyanRong opened #13117 "Could not get unknown property 'androidSdk' for object of type org.gradle.api.internal.artifacts.repositories.DefaultMavenArtifactRepository."
I update my Android SDK 25 and Gradle 3.3,

Error:(22, 0) Could not get unknown property 'androidSdk' for object of type org.gradle.api.internal.artifacts.repositories.DefaultMavenArtifactRepository.
<a href="openFile:/Users/myproject/build.gradle">Open File</a>

[2017-03-23 15:01] robclouth opened #13118 "Setting the backgroundColor of an ARTSurfaceView crashes"
Setting the backgroundColor of and ARTSurfaceView crashes with the following message when     compileSdkVersion=25 and targetSdkVersion=25

```java.lang.UnsupportedOperationException: TextureView doesn't support displaying a background drawable```

In Nougat, you can't change the background of TextureViews it seems. This will be important for #12929 as anyone using ART will encounter problems.

[2017-03-23 15:02] robclouth commented on #12929
Note that the ART library will need to be updated: #13118

[2017-03-23 15:12] #13041 closed

[2017-03-23 15:12] BaoBaoJianqiang opened #13119 "RN 0.42.0 can't make bundle file manually(both Android and iOS)"
The script is:

react-native bundle --entry-file index.android.js --bundle-output ./bundle_android/index.android.jsbundle --platform android --assets-dest ./bundle_android/ --dev false

iOS can't make bundle file manually either.

I also check RN 0.38.0, I find it works.

[2017-03-23 15:13] RyanRong opened #13120 "No such property: sdkHandler for class: com.android.build.gradle.LibraryPlugin"
I download react-native-master and import project

 No such property: sdkHandler for class: com.android.build.gradle.LibraryPlugin
<a href="openFile:/Users/Ryan/Downloads/react-native-master/ReactAndroid/build.gradle">Open File</a>

[2017-03-23 15:23] gaearon commented on #13078
(And we need to pin React versions in the future, just like we did before. I'm not sure why we broke the pattern, and whether it was intentional or not.)

[2017-03-23 15:28] javache commented on #13078
The package build issue should be resolved as far as I'm aware with https://github.com/facebook/react-native/commit/a2cfea1934ab3682b2597a53de0b2b00a319832f

[2017-03-23 15:37] omidfi commented on #13101
Hi @loki4u,

Your frustration is understandable. Even though react native might not be very friendly to new developers, but I have seen it working alright in many projects.

I have a few suggestions that might help you:

  * Follow the the getting started guide: http://facebook.github.io/react-native/docs/getting-started.html

  * Whenever you hit a problem that you can't solve yourself, or by sea

[2017-03-23 15:37] gaearon commented on #13078
The followup we agreed on is @bvaughn will submit a PR removing `~` from `package.json` and coordinate with @mkonicek to get a similar change into RC branch.

[2017-03-23 15:42] prigornitskiy commented on #13080
## Step to reproduce
Rewind the flatList from the bottom up and click on the button when the application scrolls

[2017-03-23 15:47] brainbow91 commented on #11171
Same problem here.

React Native version: 0.42.0
Platform: Android
Operating System: Mac OS X

[2017-03-23 15:49] liyonghui16 commented on #12827
I also encountered this problem, hope the next version can fix it.

[2017-03-23 16:05] vikeri commented on #11196
@rkretzschmar If you can generate a patch file then I'll happily try it :)

[2017-03-23 16:47] LeonChabbey commented on #13086
It's my fault, I didn't know that when if the clicked element is a text that _currentElement returns only the string. That's why it's crashing... Sorry!

[2017-03-23 16:47] #13086 closed

[2017-03-23 17:24] hramos commented on #13120
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-23 17:24] #13120 closed

[2017-03-23 17:24] hramos commented on #13119
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-23 17:24] #13119 closed

[2017-03-23 17:29] iremlopsum opened #13123 "Unexpected token '>'"
### Description

I get an Unexpected token '>'  error upon which the app crashes and closes. No indication on which line this might be (except index.android.bundle?platform=android&dev=true&hot=true&minify=false:65027:9). I commented everything in the root and  just left a View and it still gives that error. Now, the weird thing is that if I manage to enable Debug JS Remotely fast enough the error

[2017-03-23 17:38] hramos commented on #13113
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-23 17:38] #13113 closed

[2017-03-23 17:39] aforty commented on #10822
Same problem here and it's very frustrating.

I use a `ScrollView` to allow for easy keyboard dismissing (when it is pressed) but Touchable* onPress events don't trigger. Interestingly, it works fine on my iPhone 6 (regular) and in the simulators (of all sizes) but not on any actual "Plus" sized devices (tested both 6 Plus and 7 Plus). This was a very frustrating bug to find as I don't own a "Plus

[2017-03-23 17:40] hramos commented on #13070
Thanks for opening the issue, however it looks like a feature request. As noted in the [Issue template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) we'd like to use the GitHub issues to track bugs only. Consider sending a pull request or a create an entry on [Canny](https://reactnative.canny.io/feature-requests). It has a voting system and if the feature gets up

[2017-03-23 17:40] #13070 closed

[2017-03-23 18:03] konstantin-mohin commented on #12971
hi friends,

I did nothing (except that I've installed several libraries), just continued to develop and now the error has changed (see the attached screen ). I want to again emphasize that the error only occurs when the Remote JS Debugger is turned off.

![screenshot_20170323-194310](https://cloud.githubusercontent.com/assets/14233139/24262416/9ad77216-1002-11e7-889b-a1a067e61cc0.png)

[2017-03-23 18:14] lyahdav commented on #13089
Pretty sure this is duplicate of https://github.com/facebook/react-native/issues/11891.

[2017-03-23 18:14] #13089 closed

[2017-03-23 18:17] Traviskn commented on #7474
I was able to work around this issue by going into my app's `android/app/src/main/res/values/styles.xml` file and changing the parent theme to `Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen`.  This essentially disables the status bar by default for your entire app, including for the modal. If you have other screens that need to show the status bar then you can still use the normal Statu

[2017-03-23 18:24] neiker commented on #2396
I tried all suggestions from this thread and still happen. On RN 42

[2017-03-23 18:33] neiker commented on #12806
Didn't work for me :(

[2017-03-23 18:47] acresta88 commented on #8259
I'm not using harmony actually, unless is used by some submodule by default. The error with new.target was in my code but uglify didn't tell me where.

[2017-03-23 18:52] montrealks commented on #10404
I replaced  fetch('http://localhost:3000/api/meetups') with the IP adress of my computer and it worked

[2017-03-23 18:55] Ellegarden1219 commented on #8852
having same issue, tried to create 4 drag and drop circle for iOS device, but it only worked 2 touches

[2017-03-23 19:09] avdg commented on #8259
Stable uglify can't handle `new.target` as it is a harmony feature. remove it.

[2017-03-23 19:12] Taakn commented on #11481
Same issue, same RN version (I cannot upgrade). Impossible to know what component is breaking.

[2017-03-23 19:18] mxmtsk commented on #11481
Hi,
this may not be applicable to everyone but in my specific case I went with this approach:

[code]

[code]

[2017-03-23 19:20] coderdave commented on #8968
Created product pain: https://react-native.canny.io/feature-requests/p/zindex--positionabsolute-breaks-with-dynamic-components-on-android

If the title and/or post can be clarified, I'm all for it.

[2017-03-23 19:27] Oddadmix commented on #13123
Did you install a dependency will the app being served ?

[2017-03-23 19:30] iremlopsum commented on #13123
@Oddadmix Found that this is an issue with a dependency, trying to figure out why though. Should be using general ES6 and nothing fancy. The dependency is written in company.

[2017-03-23 19:31] Taakn commented on #11481
@mxmtsk I ended up finding the missing flex that I had to replace by a flexGrow so it's working now. But really, thanks a lot for taking the time to reply a just few minutes after my post.

[2017-03-23 19:32] jpaas commented on #11586
This problem has been around since 0.41 and still exists on 0.43.0-rc.4. Should this PR be reopened, or should we create a new one? This issue has prevented me from ever being able to create an android release build for my project.

[2017-03-23 20:20] hramos commented on #13101
@loki4u sorry to hear you had a poor experience hear. React Native has several dependencies, requiring a fully working development environment for iOS and Android app development, as well as Node and other JavaScript projects. The team over at [Expo](http://expo.io) have built a product that allows you to build React Native apps without requiring any native dependencies. We recently collaborated o

[2017-03-23 20:20] #13101 closed

[2017-03-23 20:49] jpshelley commented on #5787
I know this issue is closed. But if you are developing React Native in an Android Library, then you will still have this issue as the newer version of Gradle forces library artifacts to resolve their images to a v4 drawable suffix.

I'm currently working on a fix that I will submit a PR for that specific use case.

[2017-03-23 21:01] grundmanise commented on #13113
Yes, you are absolutely right

[2017-03-23 21:18] joshuapinter commented on #4229
Just want to chime in here with my case where I had a simple `Modal` pop up asking for a user's `InputText` with a save `Button` on the `Modal`. The main view was wrapped in a `ScrollView` as it was a long form.

Without changing anything the user would have to click on the `TextInput`, enter some text, click anywhere (including the `Button`) to dismiss the keyboard and then finally click on the s

[2017-03-23 21:27] joshuapinter commented on #4087
@ragnorc is correct. They fixed this over the last two years and now just setting `keyboardShouldPersistTaps="handled"` on your `ScrollView` allows your children `Touchables` to handle the click event when appropriate.

Progress! 🚀

[2017-03-23 22:47] Traviskn commented on #11872
Looks like @rgngl's PR got merged, so this should be fixed in newer versions!

[2017-03-23 23:06] gaearon commented on #13078
Fix up in https://github.com/facebook/react-native/pull/13121.

[2017-03-23 23:42] dcu-sharepoint commented on #4843
I am working on the windows system and this is what I get when running the app:

Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:
https://facebook.github.io/react-native/docs/android-setup.html

the problem is that the **read the error above for detai

[2017-03-23 23:52] restlessCalm commented on #641
Bump.

[2017-03-24 00:03] tmpace opened #13125 "Bundler crashes when using npm to install dependencies"
### Description

With an app running in the emulator, when running the command `npm install --save lodash` I get this output:

Bundler:
[code]

Npm error:
[code]

**Note:** I was running as admin, and my environment variables are set properly, and I do _not_ get errors when using `npm install` when the bundler is not watching my files.

### Reproduction Steps and Sample Code

I'm honestly not sure

[2017-03-24 00:13] ryanwalker commented on #8714
@aaronksaunders How are you instantiating the RCTEventEmitter (YourModule)? I have my code pretty much exactly the same as yours, but if I instantiate MyEventEmitter, the bridge variable is null and the app crashes. I've read that I should "let react instiatate modules" but I'm not quite clear on how to do this. It seems possible in ObjeC but how to do it in Swift?? I'm missing something simple I'

[2017-03-24 00:48] chromakode opened #13126 "Android line-height clipping off center + affected by font ascent/descent values"
### Description

The line spacing and alignment of `<Text>` components on Android appears to be incorrectly affected by the ascent/descent metrics of the font metadata. Here is a comparison of OpenSans being rendered on both iOS and Android:

<img width="787" alt="screen shot 2017-03-23 at 2 57 03 pm" src="https://cloud.githubusercontent.com/assets/16893/24275838/a9c8492a-0fef-11e7-864e-6f9c0b1d15

[2017-03-24 01:05] tmpace commented on #13125
I should note that I have tried switching back to node 6.1.0 to test and that didn't make a difference.

I have also tried a fresh install of Android Studio, as well as Node - no dice.

[2017-03-24 01:56] whyming commented on #5823
+1

[2017-03-24 02:12] manishtpatel commented on #12261
You guys haven't tried upgrading when using cocoapods, it will take IBM watson to fix pbxproj file.

I am leaning toward cutting the tie with react-native upgrades with ios changes. No more automated xcode changes, try to figure out what changed and if it is really important then manual make the change in xcode.

Just curious if anyone already done that, how is your experience with upgrades? I wis

[2017-03-24 02:34] groke commented on #12895
Me too. Maybe a plugin causing it? Do we have anything in common?
    "react-native-admob": "^1.2.1",
    "react-native-fcm": "^6.1.0",
    "react-native-linear-gradient": "^2.0.0",
    "react-native-menu": "^0.20.2",
    "react-native-splash-screen": "^2.0.0",
    "react-native-swipe-gestures": "^1.0.2",
    "react-native-timer": "^1.3.1",
    "redux-persist": "^4.4.2",

[2017-03-24 03:13] tested01 commented on #29
+1 <TextInput />

[2017-03-24 03:41] zhuyifan2013 opened #13127 "[iOS] Can't open Dev Menu after upgrading to 0.43.0-rc.4"
### Description

Can't open Dev Menu after upgrading to 0.43.0-rc.4 , I am sure I am in Debug scheme , and I use cocoapods 1.2

### Reproduction Steps and Sample Code

I upgrade from 0.41

### Solution

None

### Additional Information

* React Native version: 0.43.0-rc.4
* Platform: iOS
* Development Operating System: MacOS
* Dev tools: Xcode 8.2.1

[2017-03-24 03:54] flybayer commented on #12610
Same. Is it something to worry about?

[2017-03-24 04:31] ariona commented on #11389
I am using react-native 0.39, and the solution from @karpoff works for me :) https://github.com/facebook/react-native/issues/11389#issuecomment-265995961

[2017-03-24 05:15] hnzlk2014 commented on #13127
add DevSupport module.
E.g：
pod 'React', :path => './React/node_modules/react-native', :subspecs => [ 'Core', 'xxx', 'xxx', 'xxx', 'DevSupport']

[2017-03-24 05:44] MiLeung commented on #1953
The solutions above only work if all the transitions for a navigator are none.  I think defaultTransitionVelocity applies to all transitions.

[2017-03-24 05:57] dushaobindoudou commented on #7015
https://github.com/dushaobindoudou/babel-plugin-require-all

[2017-03-24 05:58] dushaobindoudou commented on #7015
maybe help [requireAll](https://github.com/dushaobindoudou/babel-plugin-require-all)

[2017-03-24 07:43] arsenslyusarchuk commented on #11389
@ariona Yes, for 0.39 it works, but for 0.35 (which I'm using) there is no such file at all. If I remember correctly, it appeared in 0.36 or 0.37

[2017-03-24 07:45] rkretzschmar commented on #11196
Hi @vikeri - thanks!
Here is the commit https://github.com/rkretzschmar/react-native/commit/d0a9c7df51b4567b1d11b394a73a1da9eb1c6d85 based on the latest react-native master. Maybe you can just cherry-pick.

[2017-03-24 07:55] trcarlocastro commented on #2558
@grabbou Good day sir, what tweaks did you do to solve your problem?

[2017-03-24 08:18] Etheryte commented on #1953
@MiLeung Not really? I'm successfully using the above solution along with other transitions in an application.

[2017-03-24 08:58] vikeri commented on #11196
@rkretzschmar Awesome! Thanks, I'll try it asap

[2017-03-24 09:13] MarnoDev opened #13130 "'react-native init MyApp --template demo' is not work"
`react-native init MyApp --template navigation` is OK for me , but why `react-native init MyApp --template demo`  is not.

[2017-03-24 09:33] trcarlocastro opened #13131 "My TouchableX view isn't very responsive while rendering hundreds of data in our listview (contain images, icons and text)"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-03-24 09:57] danilvalov commented on #12737
I have the same problem. I use a custom configuration for my Xcode project: `Stage` (except base `Debug` and `Release`) and after the error I have a directory `/ios/build/Build/Products/Stage-iphonesimulator` with one subdirectory `MyApp.app`, but this directory is empty.

The `Debug` and `Release` configurations work correctly.

[2017-03-24 10:05] RyanRong opened #13132 "node:80415"
Macos ,  "react-native": "^0.40.0",

RyandeMacBook-Pro:ruyipin_jobseeker Ryan$ react-native run-android
JS server already running.
Running /Users/Ryan/Library/Android/sdk/platform-tools/adb -s 0648c3410acc7ad9 reverse tcp:8081 tcp:8081
adb server version (36) doesn't match this client (39); killing...
* daemon started successfully *
Building and installing the app on the device (cd android && ./gr

[2017-03-24 10:19] miniFrank commented on #12678
+1

[2017-03-24 10:21] putuyoga commented on #8968
Same issue here 🤣

[2017-03-24 10:32] jasan-s commented on #7308
nothing is working for me either

[2017-03-24 10:37] Anima-t3d commented on #12707
@dfoverdx is right, the march 2017 update changed a few things. @hramos must have tried it with the previous version. @hramos do a fresh install of android studio and try to replicate your steps?

[2017-03-24 11:05] davidhellsing commented on #10865
You could wait for the `onLoad` before passing `onMessage` into the component (passing `null` until the onLoad triggers).

It worked for us, but we have to implement a simple queue in the webview that collects posts until the `onLoad` has triggered, which then triggers another `onLoad` inside the webview using `injectJavaScript`...

[code]

[2017-03-24 11:06] loki4u commented on #13101
HI Team,

Thanks for your kind information about react-native.

[2017-03-24 11:08] yogi9999999 opened #13133 "how to set the value to <Text>?"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-03-24 11:32] ryankask commented on #13133
@facebook-github-bot stack-overflow

[2017-03-24 11:33] #13133 closed

[2017-03-24 11:36] kyle-ilantzis commented on #10865
@davidhellsing interesting to use the webview onLoad. With the injectedJavascipt solution I still needed to implement a queue in the webview

[2017-03-24 11:55] iiitmahesh commented on #1023
@seanzarrin how do solve this. could please share code snippet or steps to slove ?

[2017-03-24 12:04] RajanPN commented on #12042
I've finally fix the this issue with this solution 👍
To solve the issue, you have to do the following:

In Xcode, go to the project scheme (Product -> Scheme -> Manage Scheme -> double click your project).
Click on the 'Build' option at the left pane.
Uncheck 'Parallelize Build' under Build Options.
Then in Targets section, click '+' button then search for 'React'. Select it and click 'Add'.
'Reac

[2017-03-24 12:50] adogor commented on #12770
Hi @ericvicenti , could we reopen this issue ? Or do we have to create another one ?

Like @gerbenis with all versions after 0.42.0 even the react-native init doesn't work. So we have to stay at 0.41.x .

Thanks !

[2017-03-24 13:19] ludovic-coder opened #13134 "onPress event is not triggered during scroll ListView animation"
### Description

onPress event is not triggered during scroll animation and after selected tabbar change.

### Reproduction Steps and Sample Code

I got TabBar that embedded an Navigator and a ListView. The cells have an onPress event that trigger an alert. If I scroll down (or up) the list view then change tabbar selected tab during list view animation and go back to list view, onPress is not tri

[2017-03-24 15:04] denisk20 commented on #2814
I have tried the workarounds above, one which excludes 64bit binaries and another which targets `armeabi-v7a` and `x86` architectures, and in both cases I'm getting the same error when trying on x86_64 emulator (API 25):
[code]

What might be causing it?

[2017-03-24 15:34] obykoo commented on #2481
Thats not really multiplatform solution. Is there any possible library or plugin which solves this for me?

[2017-03-24 15:36] gpeal opened #13135 "DevOptionsSupportManager doesn't null dialog in reload()"
If reload() gets called in DevOptionsSupportManagerImpl while the dialog is showing, it will call dismiss() on the dialog but not null it (https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java#L917).
The next time (and any time after that) showDevOptionsdDialog() is called, the dialog will be non-null but dismissed

[2017-03-24 17:04] SudoPlz opened #13136 "Persistent scroll indicator"
Hey there,

I was wondering if you plan on adding a way to show the scroll bar (either a vertical, or a horizontal scroll indicator permanently).

Right now it only shows when the user scrolls and then it hides itself.

Any ideas?

Thanks.

[2017-03-24 17:06] GeoffreyPlitt commented on #12895
We use react-native-linear-gradient and react-native-swipe-gestures

[2017-03-24 17:25] hramos commented on #12707
@Anima-t3d this should be fixed now (in master).

[2017-03-24 17:35] hramos commented on #13130
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-24 17:35] #13130 closed

[2017-03-24 17:38] hramos commented on #13136
GitHub issues is not the best place to ask questions - we're trying to stick to issues in the code itself, so we're cutting down on non-bugs issues for now. You can find our roadmap in the wiki, and outstanding feature requests in Canny.

[2017-03-24 17:38] #13136 closed

[2017-03-24 17:38] hramos commented on #13134
Can you provide a minimal amount of code to reproduce this using [Sketch](http://sketch.expo.io)? This is necessary for people to be able to see and debug the issue being reported.

Closing this issue as it is not actionable. Please open a new one with a Sketch link (preferred), or link to a GitHub repo with clear instructions how to repro.

[2017-03-24 17:38] #13134 closed

[2017-03-24 17:38] #13132 closed

[2017-03-24 17:39] #13131 closed

[2017-03-24 17:46] Stefflan00 commented on #12768
thanks @hannigand you just saved my Weekend :)
Turning of the remote debug worked fine. I am on 0.42.0.  I am curious why this debug is affecting my Modal. Any hints?

[2017-03-24 17:48] hramos commented on #12768
Closing as this has been fixed in 0.42.2.

[2017-03-24 17:48] #12768 closed

[2017-03-24 17:51] jackcutting commented on #11821
@grundmanise I was experiencing exactly the same issue as @thomaslindstrom

Wrapping the `Text` with a `View` solved this issue for me. Maybe try doing the same with your `FlatList`

[code]

[2017-03-24 18:38] MiLeung commented on #1953
My configureScene looks like this

[code]

And the end result looks something like this

![](https://media.giphy.com/media/xUA7b4pjdjr0Xj2x56/giphy.gif)

The middle tab has the FloatFromBottom transition.  When you press it, the scene shows up very rapidly, but when you exit the scene, it transitions at a normal speed.

[2017-03-24 19:23] hnryjms commented on #7749
Here's my workaround for anyone that ends up at this ticket, utilizing the convenient `prop` for the navigation styles:

[code]

[code]

[2017-03-24 19:40] #13123 closed

[2017-03-24 20:03] iremlopsum opened #13139 "Getting a babel runtime error"
### Description

Hand an issue with modules, did a rimraf and reinstalled everything, after this I keep getting the following error

[code]

Any ideas?

* React Native version: 0.42
* Platform: Android
* Development Operating System: Windoes
* Dev tools: Android Studio version 2.3

[2017-03-24 20:03] dabit1 commented on #12021
@Exilz you are right. Many thanks!!!!

[2017-03-24 20:03] #12021 closed

[2017-03-24 21:38] Talor-A opened #13141 "[FlatList] Removing rows above and below another row in a flatlist causes a crash"
### Description

I've noticed a strange problem with FlatList and LayoutAnimation on Android only (no issue on iOS). If I have a FlatList with rows A,B,C  and I remove A and C at the same time with a LayoutAnimation applied, row B disappears as well. Then, if A and C are added back to the list, an error is triggered that says
[code]

In my app, I have a FlatList being populated by a realm.io datab

[2017-03-24 22:22] suparng-medallia commented on #12337
I am seeing the exact same behavior with my library as well.

[2017-03-24 22:38] catarinasoliveira commented on #5405
Same problem in 0.42.0 :/

[2017-03-25 00:41] perrosnk commented on #10553
I am also getting this error

[2017-03-25 00:45] chrisharrison commented on #10553
For me, it happened when other remote image URLs on the same screen were
not responding. Once my image server was responding again, this exception
went away.

On 25 Mar 2017 00:42, "perrosnk" <notifications@github.com> wrote:

[2017-03-25 01:16] #13081 closed

[2017-03-25 01:46] lucasmaciel commented on #4393
I have this issue too. My code:

[code]

And only connects if I'm in debugging mode.  The console log, when I'm in debugging mode, outputs `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36` for `window.navigator.userAgent`, even rewriting it on `UserAgent.js` file. I don't know why. The modules version:
react-native: 0.32
socket.io-client: 1.

[2017-03-25 02:20] perrosnk commented on #10553
I just discovered that there was a similar issue with my server as well. Thank you @chrisharrison

[2017-03-25 03:09] diennguyentien opened #13144 "how can use react native connect with shared library(.so file)"
##Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.
### Description

I'm working on a React Native project and I using shared library (.so) for server.but I don't know how to connect. Is there anyway or solutions for connect React Native with (.so) file? Thanks

### Reproduction

 I want to con

[2017-03-25 03:35] jiangbophd commented on #4494
@dragonwong @ivanbrens Thanks for your solutions, it works, resolve my questions, I hope RN will support it in the future, so that we do not need to change source code.

[2017-03-25 03:51] xingjianpan commented on #5823
+1

[2017-03-25 03:54] dbof10 commented on #12770
[code]
I did a sample to try `FlatUIImplementation` but hit the same issue

[2017-03-25 04:57] heywarddai commented on #12311
I encountered this issue as well and seemed to fixed it with the method in the pr above.

[2017-03-25 05:00] jzhen commented on #2941
+1 for closing Deco.

[2017-03-25 05:36] chatras commented on #1093
For someone trying to figure it out. Here are the steps:

[2017-03-25 07:35] jasan-s commented on #9136
on react-native 0.42 on windows 7 x64 using sublimeText. What is the accepted solution?

[2017-03-25 07:44] itcurves commented on #10845
I am using RN 0.42.3, but I am still getting this error randomly on application start.
![android-error](https://cloud.githubusercontent.com/assets/1397397/24320524/6304f73a-110d-11e7-8abf-7ab6714f2841.PNG)

[2017-03-25 09:06] grundmanise commented on #11821
@jackcutting does not work with `FlatList`/`ScrollView`
https://github.com/facebook/react-native/issues/13076

[2017-03-25 09:35] andreleon commented on #10517
I also ran into this issue (react-native 0.42.0). To fix this I simply added a platform specific `keyboardVerticalOffset` to counter this issue.

[code]

I thought this workaround might help some people who encounter the same issue.

[2017-03-25 09:49] blackPeanut commented on #11389
for 0.35 [this](https://github.com/facebook/react-native/issues/11389#issuecomment-287784965) solution works just great

[2017-03-25 10:15] GiacomoP commented on #4204
This is still a bug.

[2017-03-25 12:23] cemo commented on #10845
@itcurves give a try with `v0.43.0-rc.4`. I think that this release contains necessary patch as @grabbou stated.

[2017-03-25 12:24] YouHan26 commented on #12876
I give up

[2017-03-25 14:21] nihgwu commented on #12876
Why not use `Share`, I'm using it and it works really well
https://facebook.github.io/react-native/docs/share.html

[2017-03-25 14:24] ignacy130 commented on #8868
Had similar problem, but with
`NoClassDefFoundError`. Uninstalling java and jdk, rebooting and installing java and jdk (x86 and x64) helped me.

[2017-03-25 15:40] ammichael commented on #12735
This issue is dragging me for two days already. I've tried everything you guys mentioned here, all the Twitter/Stack Overflow screenshots, but nothing seems to work. My debug scheme is working fine, but when I switch to release it complains about lexical issue.

I'm not sure how the debug scheme works fine and release don't.

Also, is it just me or every RN update seems to be a pain?

[2017-03-25 16:35] fuleshu commented on #12735
Well, if you check:
[http://isitmaintained.com/project/facebook/react-native](http://isitmaintained.com/project/facebook/react-native)
you see a resolution time of 24 days, which is really bad. React itself for example only has 21h!
I really wish the react-native team would stop the monthly releases and focus on bug fixing for while.

For me building a release version also works after the discusse

[2017-03-25 17:02] divyachandana commented on #9637
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'AwesomeProjectGod'.

     Required by:
         :AwesomeProjectGod:unspecified

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 21 mins 38.128 secs

[2017-03-25 17:38] hovox commented on #11293
I have just started over, and it worked.

[2017-03-25 19:05] allpwrfulroot commented on #13010
+1

[2017-03-25 20:46] lifuzu commented on #12823
+1

[2017-03-25 20:50] groke commented on #12895
I think I found a way around this issue, at least for my setup.
From the development menu on my android I selected _Dev Settings_ and re-enabled _JS Dev Mode_ that resolved this issue for me.

[2017-03-25 20:58] JBerendes opened #13147 "Android: CameraRoll.getPhotos({assetType: 'Videos'}) doesn't return videos"
### Description

The goal is to have my own video picker working correctly on both platforms.
On Android: When the picker opens it returns images but the images are not videos, they are simply photos and not photos related to any of my videos.
On iOS: Everything works correctly.

### Reproduction Steps and Sample Code

Record a video on Android with your default camera app. (Do this on both Androi

[2017-03-25 21:24] JBerendes commented on #13147
Dupe of #11877 but the sketch is helpful for testing.

[2017-03-25 21:24] #13147 closed

[2017-03-25 21:28] hypnocill opened #13148 "ScrollView is broken!"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-03-25 21:29] hypnocill commented on #13148
No matter what I do, a simple ScrollView is not working!

[2017-03-25 22:17] Alisamix commented on #13148
Ask on stackoverflow, github is for bugs and fixes.

[2017-03-25 23:18] pitops commented on #4845
The problem is still there after all this time. Also what helped is close remote debugging

[2017-03-26 02:51] sachinrekhi commented on #12189
I seem to be running into the same issue. Did you find any workarounds or fix?

[2017-03-26 03:33] ndbroadbent opened #13149 "React Native Packager sometimes crashes with WebSocket "ERROR not opened""
### Description

When developing an app and reloading the iOS simulator, occasionally the react native packager will crash, and I have to restart it.

Here is the output from my console:

[code]

### Reproduction Steps and Sample Code

This happens when I press CMD+R to reload the iOS simulator, but it only happens once every few hours. Sometimes just once a day.

### Solution

Catch the error, an

[2017-03-26 04:55] undershot opened #13150 "Animation.event 'style property is not supported'"
### Description

I have a problem with Animated.event with interpolate on scroll event. When I use Animated.event with

`useNativeDriver: true`

 I receive next error:

`Style property 'height' is not supported by native animated module`

If I use `opacity` property - it works fine.

`opacity` - works.

`height` - didn't works.

Without `useNativeDriver: true` - all works fine.

### Reproduction S

[2017-03-26 05:21] ABleas commented on #3303
In my case it occasionally works, but it's really difficult to get the child scroller to scroll. I am wondering how scrollers are done on Android, because I can't find any reference to NestedScrollView in RN source?

I have vertical scrollers inside a horizontal (paged) scrolling parent, which is pretty much how the Facebook app works on Android. So they are doing *something* to get that working s

[2017-03-26 08:11] darthbinamira commented on #12928
Still doesn't work for me. Enabled live reload in the developer options (Ctrl+M) and tried changing index.android.js.

Hot reload works though...

[2017-03-26 08:42] AAverin commented on #4968
Could this warning be related to the problem?
`warning react-native > xcode > node-uuid@1.4.7: use uuid module instead`
react-native depends on xcode 0.8.9 while 0.9.1 is already out

[2017-03-26 08:48] paalex commented on #2468
On Android RN0.35 none of the methods work. `backgroundColor` doesn't respect `borderRadius` style nor prop.
Anyone managed to make it work?

[2017-03-26 08:51] LeonHwa commented on #12757
@julesmoretti  I have the some error like yours. But it still go wrong After I add domain in info.plist. Can you show me your setting please?

[2017-03-26 08:58] paalex commented on #2468
Managed to make it work on Android if I switch to `resizeMode={'cover'}`

[2017-03-26 09:23] zhaozy93 commented on #13043
Sorry, long time not to login github.
Cannot see any error in terminal.
but i switch the debug model from yes to no in Dead Code Stripping in Build Settings in Xcode, then the app runs normal in real devices including iPhone 5s with ios10, iPhone 5 with iOS 8,  iPhone 6s with 10.

[2017-03-26 09:44] libin1991 commented on #1772
static get defaultProps() {
  return {
       yourkey: yourvalue
  }
}

[2017-03-26 10:08] nihgwu opened #13151 "SectionList misses scrollTo* methods"
I'm planning to switch from `ListView` to `SectionList`, but find that I can't perform any `scrollTo*` methods, they are defined in `VirtualizedList` but not in `VirtualizedSectionList`. At least `scrollToOffset` should be implemented.

I'd like to send a PR, but I'm afraid to break the docs, and I don't know whether should we implement `scrollToIndex` and `scrollToItem` as they are different from

[2017-03-26 10:14] LeonHwa commented on #10410
I  solve this issue  by implementing `onShouldStartLoadWithRequest` . the error occur when the webView try to open a wrong url.  we can intercept the request before it happen.

[2017-03-26 12:24] rccoder commented on #11116
@anahitsk123  Hi, I get this problem too.

Could you solve it?

[2017-03-26 12:27] moerabaya commented on #10812
Is this still on?

[2017-03-26 12:36] sumitk commented on #11327
`npm i --save-dev invariant `
works for me

[2017-03-26 12:47] nihgwu commented on #13150
It's not a bug, Native Animation only support non layout props, such as transform and opacity, you can try to achieve your intention using `transform translateY` if you want to use Native Animation

[2017-03-26 12:55] nihgwu commented on #13148
Why the others didn't report this but you, why not read the docs and check you code more carefully before you such an issue?
Without any description nor any code but an ridiculous empty **ISSUE_TEMPLATE**, how do you suppose the others to help you?

[2017-03-26 13:09] urbancvek commented on #12754
For me the issue was it couldn't create the JS bundle. It doesn't state the error when building from Xcode so there is no way for you to know this. To find the error run the following command.

[code]

For me the error was something with missing PureRenderMixin component. To which the solution can be found here: https://github.com/facebook/react-native/issues/13078. Basicly you have to manually in

[2017-03-26 13:42] philjoseph commented on #10812
We use the workaround suggested by @alizahid that works great for us

[2017-03-26 13:52] moerabaya commented on #10812
It's not working for some reason, maybe it will work fine in the production?

[2017-03-26 14:46] sahrens commented on #13151
Yeah I punted on this but I agree it's important. Maybe `scrollToIndexInSection({sectionKey: string, index: number})`?

[2017-03-26 15:23] nihgwu commented on #13151
IMO, `scrollTo*` is a bit complex, especially the `scrollToOffset({ animated: boolean?, offset: number })`, now that it receives a object, what about simplify them to a single method `scrollTo(params)` where the `params` is in a shape of `{ animated: boolean?, offset: number?, index: number?, item: object?, sectionKey: string? }` or `scrollToOffset(offset: number, animated: boolean?)`

And the `re

[2017-03-26 17:18] oargaruna opened #13152 "Unable to define the Accessibility Focus order in React Native components"
### Description

There is no way to define the accessibility focus order for individual components. From what I can see when swiping left/right with Talkback/VoiceOver enabled is that the UI is scanned from top-left to bottom-right and accessible views are highlighted as they are encountered. I would like to define my own focus order for the screen readers, but currently there seems to be no way t

[2017-03-26 17:28] Emilios1995 opened #13153 ""No script url provided” error in release mode"
### Description

I created a new app with `react-native init` and tried to run it in release mode by changing the scheme.
The problem is that the app crashes immediately after opening it.
Xcode throws an error "No script URL provided"

I I've already checked the contents of the generated .app as described in this answer http://stackoverflow.com/a/41986215/1978520 and I found that the `main.jsbundl

[2017-03-26 18:34] guymorita opened #13154 "Unable to require image with non-lowercase letters/numbers"
### Description

Unable to require images with certain non-lowercase letters/numbers.

Ex. '_'

![image](https://cloud.githubusercontent.com/assets/2003939/24334014/dabcdf10-128c-11e7-9e8c-674ab29b1fff.png)

[code]

I'm able to require images with no special characters. Certain ones work '-', however not '_'.

### Solution

### Additional Information

* React Native version: 0.42
* Platform: Both

[2017-03-26 18:58] #13153 closed

[2017-03-26 18:58] Emilios1995 commented on #13153
Just notices this is because the packager is using the wrong version of node

[2017-03-26 19:32] sahrens commented on #13151
I appreciate the input, but here is the reasoning:

scrollTo* is more explicit and makes the API more clearly self documenting and simpler to flow-type, especially with composition.

renderItem(info: {...}) makes it easier to pull out just the info you care about in an order-independent way, and gives us the option value to add more data in the future in a backwards compatible way.

[2017-03-26 20:13] RakanNimer commented on #13154
This usually happens when adding an image to a directory that is being watched.
Try killing the packager server and running it again.

[2017-03-26 20:21] guymorita commented on #13154
Thanks what if the image is dynamic.

On Mon, Mar 27, 2017, 3:14 AM Rakan Nimer <notifications@github.com> wrote:

[2017-03-27 01:01] tattn commented on #12754
In the same way as @akiver,  I solved the problem.

[code]

[2017-03-27 01:06] xilonxiao commented on #10608
Just reporting here that, yesterday with el captain the simulator was fine, and today post update to sierra I'm having the same problem.

[2017-03-27 01:12] codeNgamer commented on #7521
Any word on this? i checked @mkonicek link and there's no activity on there. This issue makes ui recording impossible, @daniel-beard how did you disable the recursive generation?

[2017-03-27 01:44] rodperottoni commented on #13154
If your image is coming from an API, then all you have to do is use **{ uri: imageUri }** instead of **require(imageName)**. The documentation is pretty clear: [React Native Image](https://facebook.github.io/react-native/docs/image.html)

[2017-03-27 01:46] rodperottoni commented on #13148
No wonder why this repo has 1k+ "issues" reported. Dude couldn't even erase the template. Argh..

[2017-03-27 01:51] rodperottoni commented on #13090
There's already an issue for this: #9665

[2017-03-27 04:56] willdawsonme commented on #12543
Also running into this on React Native 0.43.0-rc.4. The animated value or interpolation is treated as though it's undefined on the second render. If the animated value is only added to the Animated Component on the second render, it seems fine.

[2017-03-27 05:41] qq326646683 commented on #980
@smk524198002 ,can it support in android?

[2017-03-27 06:08] taranjeettemp commented on #10845
I added a delay of 1 second before showing the infected view page, which solved the issue temporarily

[2017-03-27 06:11] taranjeettemp commented on #10845
I think it is related to react-native-router-flux

[2017-03-27 06:32] vldgeorgiev commented on #13090
Thanks. It is exactly the same behaviour. I read the comments, but unfortunately after 7 months the issue is still there and it is a major one.

[2017-03-27 06:32] #13090 closed

[2017-03-27 06:43] Kerence commented on #11481
I have encountered this issue, the reason is as follows:
view in a parent with flexDirection:'row'  sets flex:1 and width:value
view in a parent with flexDirection:'column'  sets flex:1 and height:value
In android, react native automatically skip flex:1 and uses the width/height value
In ios, react native detects the collision and throws an error.

[2017-03-27 06:46] janicduplessis commented on #12543
@scarlac @willdawsonme Could you try master see if the issue is still there? I think https://github.com/facebook/react-native/commit/9c3e6ae9f0f246e5fd8cdc3599801c37d1c11690 might have fixed it.

[2017-03-27 07:18] guymorita commented on #13154
[code]

[2017-03-27 07:18] #13154 closed

[2017-03-27 07:45] Jacse commented on #6679
I think this issue should be re-opened as it hasn't been resolved.

[2017-03-27 08:43] agerro opened #13157 "React Native v.0.42.3 - AssembleRelease dosen't generate apk file."
### Description
I was trying to generate a release apk of my react native application, with the "cd android && gradlew assembleRelease". In the terminal, it shows success, but there is no apk file in the folder suggested by React Native ("/outputs/apk...").

I've followed the guide https://facebook.github.io/react-native/docs/signed-apk-android.html with no luck.

### Reproduction Steps and Sample

[2017-03-27 09:03] pulpiks commented on #7308
react-native-cli: 1.0.0
react-native: 0.42.3
xcode 8.2.1

Works great!

Update watchman, react-native, xcode.

[2017-03-27 09:22] #13078 closed

[2017-03-27 09:44] 3rd-Eden opened #13158 "require/import of json files do not take native platform extensions in to account"
### Description

When importing a JSON file through the `import` statement or `require` function it does not take the platform specific extensions like `.ios`, `.native` into account like it does with JavaScript files.

The assumption was made here that the require flow threats all files in exactly the same way.

### Reproduction Steps and Sample Code

- Create a folder called `example`
- Add an `

[2017-03-27 09:50] zhaolei1177 commented on #11481
@Kerence ,  i meet the same issue,and my code is:
posterPlayImg: {
        flex: 1,
        height: 48,
        resizeMode: 'contain'
    }

if i change it like the under code(**add the width prop**):

posterPlayImg: {
        flex: 1,
        height: 48,
        **width: 48,**
        resizeMode: 'contain'
    }

can it close my error?

[2017-03-27 09:54] Pallandor commented on #12754
I followed the steps outlined by @cutemachine, worked for me. Although prior to that, also did the usual rm -rf node_modules, reset packager cache.

[2017-03-27 10:18] ammichael commented on #12735
What I did to solve, after trying everything described here:

Created a new project with react-native init using the same name as my actual project, copied the iOS folder to my actual project.

At first I updated the project with Xcode's recommended settings, but have problems anyway. Tried again without applying the updates and worked, finally, fine.

[2017-03-27 10:48] achakra21 commented on #10404
use your ip address in place of localhost,It should work

[2017-03-27 11:46] codewithpassion opened #13159 "[TextInput] Multiline doesn't work with certain keyboards on android"
Hi react-native team,

I'm using the Expo framework and came across an issue with multiline  TextInput

In my (demo) app (see below), I've got simple a multiline TextInput.

Now usually I use the Android Keyboard SwiftKey for my daily use. Now, if I enter text and then hit the enter key on the keyboard, the onSubmitEditing event is fired and the keyboard collapses. According to the doco, this even

[2017-03-27 11:47] vladimir-kotikov commented on #12705
This was 'broken' in https://github.com/facebook/react-native/commit/0849f84df26e4c56f5763375363bae90d94015fe. Since that commit transformer module doesn't use default babel's 'transform' method (which was taking care of merging original and generated source maps - see https://github.com/babel/babel/blob/7d37017a5f85260c0c95580731585916e791265c/packages/babel-core/src/transformation/file/index.js#

[2017-03-27 11:52] #13157 closed

[2017-03-27 12:21] pvinis opened #13160 "searchPaths.filter is not a function, when unlinking"
### Description
i tried unlinking a library and i got an error
[code]
### Reproduction Steps and Sample Code
try to link and then unlink a library i guess.

### Solution
no idea.

### Additional Information

* React Native version: 0.42.3
* Platform: iOS
* Development Operating System: MacOS
* Dev tools: Xcode

[2017-03-27 12:23] rnowm commented on #8968
Experiencing the same issue here, but even with position: relative.
I was able to fix this by using a Modal component, but I need the rest of the screen to be touchable, and Modals are fullscreen so I could not use that either.
Thanks!

[2017-03-27 12:32] dcp12345678 commented on #10845
@cemo

I have not been able to run this release.  I followed the documentation located [here ](https://facebook.github.io/react-native/docs/upgrading.html ) to upgrade to this release version you  mentioned in your post, but when I try to do 'react-native run-android', this is what I get (see below).  Is there any documentation for how to install one of these release versions?

* What went wrong:

[2017-03-27 12:46] Pau1fitz opened #13161 "A server with the specified hostname could not be found (code -1003)"
I am trying to set up react native and run on my phone using expo.

I have [created a react native app using][1] `create-react-native-app`.

After running this command everything gets built on my machine. I have also downloaded the expo app on my phone.

I then ran `npm start` and was given the following in my terminal:

When I try this I get the following error in expo -

Has anyone come across t

[2017-03-27 13:16] keyurparalkar commented on #12419
Is this issue resolved in react native : 42.0

[2017-03-27 13:40] magician11 commented on #950
@clinyong your [method](https://github.com/facebook/react-native/issues/950#issuecomment-220041422) works great in my iOS simulator.

When I view it via Expo on my Android phone I get

Looks like we can't use null. Stackoverflow answer [here](http://stackoverflow.com/questions/37483753/error-while-updating-property-x-in-shadow-node-of-type-rctview).

Your solution was so slick.. I'd like to keep u

[2017-03-27 13:58] NeoPi opened #13162 "C++ exception"
![722099625](https://cloud.githubusercontent.com/assets/8284829/24359961/7b798c62-12cb-11e7-957a-7574dc56af59.jpg)

How can i fix it

[2017-03-27 14:05] ptomasroos commented on #11302
This is now fixed in https://github.com/facebook/react-native/commit/d2939eafbf56f99ea4da7374b9812ae6f54c1d3d should be closed @kevinTutu

[2017-03-27 14:28] StefanoCremona commented on #10374
I had the same problem with React Native 0.42 when integrating it in an existing iOS/swift app.
Solved in this way:

- Create the bundle running command specified by @pan100
- Add the main.jsbundle file to your XCode project (XCode>File>Add File to "MyProject").
- Load the bundle in your swift controller in this way:
let jsCodeLocation = RCTBundleURLProvider.sharedSettings().jsBundleURLForBundleRo

[2017-03-27 15:00] aem commented on #4968
Also running into this. Android app, Android Studio, latest node and NPM, installed a new module from our private NPM instance and started seeing this. Removing the import gets the code to compile.

I've tried all of the following in various combinations to no avail:

* clear watchman watches
* blow away `node_modules`
* `npm clear cache`
* `npm start --reset-cache`
* changing import statement to

[2017-03-27 15:24] zalesky opened #13163 "Too high TabBarIOS"
I need to place a Button or a Text right over TabBarIOS. But this one have an overvalued hight and I can not receive my goal. You can see this problem here: https://sketch.expo.io/Bk9QnjI2l
Incorrect area is painted in black

[2017-03-27 15:36] quanvuong opened #13164 "react-native-git-upgrade does not update package.json"
### Description

Explain what you did, what you expected to happen, and what actually happens.

I current have `react native 41.2`. I ran `react-native-git-upgrade` which ends with `The upgrade process succeeded but there might be conflicts to be resolved. See above for the list of files that have merge conflicts.` After I fixed the conflict, I ran `react-native-git-upgrade` which ends with an err

[2017-03-27 15:40] ronniegong commented on #5399
@mc-zone can you explain how to 【run _base.jsbundle_ in JSContext at a good time】,don't get it, thanks

[2017-03-27 16:02] jkomyno commented on #13162
Which custom native modules are you using? Or are you only using official react-native's modules?

[2017-03-27 16:06] jkomyno commented on #13144
Please remove iOS platform (you said you're working on Windows and using Android Studio). Also, you should be able to import that .so directly (https://developer.android.com/ndk/guides/prebuilts.html) and create a wrapper for react-native as described here: https://facebook.github.io/react-native/docs/native-modules-android.html

[2017-03-27 16:47] ericwooley commented on #4968
@aem There are a bunch scattered throughout the comments. Might be worth a read to go through, maybe later today I will summarize them

What worked for me was importing relatively into the node_modules folder

`import whatever from '../../node_modules/thing/whatever'`

[2017-03-27 17:07] n1ru4l commented on #9665
For me it only crashes when I am using remote debugging. ( **0.42.3** )

[2017-03-27 17:18] joshyhargreaves commented on #12512
I played around with FlatList on iOS with 'full-screen' images in a list and a small _windowSize_ of **3**. Memory usage climbs linearly until it hits a threshold where it no longer increases. From enabling debug it it would appear it initially renders a few pages worth of views before the 'windowing' behavior kicks in (nice to see this behavior working :)); the debug visuals would suggest these i

[2017-03-27 17:34] sahrens commented on #12512
Sounds like you're still using the default `initialNumToRender` of 10 - try setting `initialNumToRender={2}` to reduce peak memory consumption. It's documented in the underlying `VirtualizedListView`, but I should probably add it to the FlatList documentation since it's a pretty important prop.

I should also add to the docs that the `initialNumToRender` items are never removed. This is improves t

[2017-03-27 17:51] saigrandhi opened #13165 "Copy button is not working in android emulator, linux"
### Description

The copy button in the android emulator is not working on the Linux platform.

### Reproduction Steps and Sample Code

In order to reproduce this, just create a new react-native app and add a syntax error in index.android.js. Run this app and the error screen will show up but you would not be able to copy the error.
[CopyToClipboard.js has no case for linux](https://github.com/fac

[2017-03-27 18:21] vexsnare commented on #8615
Same issue. 0.40

[2017-03-27 18:22] joshyhargreaves commented on #12512
Created a PR: https://github.com/facebook/react-native/pull/13167/files

[2017-03-27 18:24] rqzheng2015 commented on #12827
i know how to solve this, you just need to set onEndReachedThreshold as a rate of visibleLength.
So you just need to set it as a number smaller than 1, then it worked!!!!!

[2017-03-27 18:24] rqzheng2015 commented on #13070
I know how to solve this, you just need to set onEndReachedThreshold as a rate of visibleLength.
So you just need to set it as a number smaller than 1, then it worked!!!!!

[2017-03-27 19:01] geoc3 commented on #13011
Hey @sriraman just checking to see if you every found out what was causing Apple to reject your app. Thanks!

[2017-03-27 20:10] assitaliroma commented on #13010
+1

[2017-03-27 20:26] kingfun2015 commented on #13010
+1

[2017-03-27 20:42] sriraman commented on #13011
We explained everything to Apple and submitted the App again. Our app is in review for past 6 days now. I'll update this thread, once we get proper response from Apple.

[2017-03-27 20:46] ophite commented on #12895
+1

[2017-03-27 21:46] kevinold opened #13168 "Packager not handling .babelignore'd files due to sourcemap generation logic"
### Description

I have a need to bundle a pre-optimized external lib with my RN application.  Until RN 0.42 I had been using a `.babelignore` to prevent the packager from trying to optimize this file and choke.

It seems in 0.42 and higher I'm no longer allowed to ignore the file.

This issue has also been reported as https://github.com/facebook/react-native/issues/12071

I've chatted with @logan

[2017-03-27 21:52] kevinold commented on #13168
@davidaurelio Hi David, see this issue.  Adding you here as this might be related to your recent patch (https://github.com/facebook/react-native/commit/0849f84df26e4c56f5763375363bae90d94015fe#diff-4676ea0b3c55c65c3929aa993144f07f).

[2017-03-27 22:31] christianversloot commented on #13164
Today I updated from 0.38 and it changed my package.json.

`"react-native": "^0.42.3",`

[2017-03-27 22:58] joshjconlin opened #13170 "Margin Auto?"
Just curious why doesn't margin Auto work? Any recommendations on what to use instead?

[2017-03-27 23:05] browniefed commented on #13170
Margin auto is in the pre-release  version (0.43.0-rc.4) of react-native. So unless you are using that version it will not work.

[2017-03-27 23:07] chandu0101 commented on #12695
@kevinold

https://github.com/scalajs-react-interface/mobile.g8/blob/master/src/main/g8/scalajsTransformer.js

` "scripts": {
    "start": "react-native start server --transformer scalajsTransformer"
  },`

[2017-03-27 23:48] fxrhxn commented on #3406
Tried setting flex to 0 but still got the same error. It got resolved for me by setting flex to 1.

[2017-03-28 00:41] willdawsonme commented on #12543
Unfortunately that doesn't seem to help! My `Animated.ScrollView` that controls the native event isn't actually being re-rendered, just a sibling component that relies on the native value. It doesn't seem to happen on every reload either, but somewhat intermittently.

[2017-03-28 00:45] janicduplessis commented on #12543
Thanks for trying that out, I'll see if I can figure out the cause with @scarlac repro.

[2017-03-28 01:17] assitaliroma commented on #13010
Just in case this help anyone, my version of cocoapods was 1.1.1 and not 1.2.0, I had to uninstall cocoapods and reinstall it again:

1. sudo gem uninstall cocoapods
2. sudo gem install cocoapods
3. pod install
4. build and enjoy

[2017-03-28 01:20] NeoPi commented on #13162
i just use a custom native module. it has a method :
 `@ReactMethod
    private String byte2Hex(byte b) {
        int value = (b & 0x7F) + (b < 0 ? 0x80 : 0);
        return (value < 0x10 ? "0" : "")
                + Integer.toHexString(value).toLowerCase();
    }`

maybe it caused

[2017-03-28 02:37] joonhocho opened #13171 "[cli][upgrade] Failed to run react-native-git-upgrade to 0.43.0-rc.4"
### Description
run react-native-git-upgrade

It fails due to bunch of false positive UNMET PEER DEPENDENCY statements across many npm packages that I have installed.
All of them are false positive and can be ignored because some npm packages, for example, add peer dependency of react@^15.0.0, but still works great with react@16.0.0. So these peer dependencies can be ignored completely.
However, r

[2017-03-28 03:13] asimolmez commented on #229
I deleted a folder of a test project in` Project Navigator` and `Targets`. It solved my problem.

[2017-03-28 03:23] droidwolf commented on #10061
[Android - Sharing Empty Strings Between Exectuables Causes Segfault](https://qnalist.com/questions/5072677/sharing-empty-strings-between-exectuables-causes-segfault)

[2017-03-28 03:42] wjm117 commented on #13110
Now my project has the same problem,Have you Fixed it?

[2017-03-28 04:38] julesmoretti commented on #12757
@LeonHwa
[code]

[2017-03-28 05:19] YL2014 commented on #8401
I have the same problem, and it no work for me

[2017-03-28 05:39] Sinapse87 commented on #8401
Guys, I might have found the solution, are you all using Android Studio IDE?

[2017-03-28 05:57] #11302 closed

[2017-03-28 06:04] liubobuzhidao commented on #10845
@itcurves Do you have resolved this problem?

[2017-03-28 07:03] khzliu commented on #11871
same issue with v0.42.3

[2017-03-28 07:19] zalesky commented on #13163
use 'flex: 0' for TabBarIOS element

[2017-03-28 07:19] #13163 closed

[2017-03-28 07:28] TWGN commented on #1438
thanks a lot, it is great help for me!

[2017-03-28 07:59] LeoNatan commented on #11871
CC @majak

[2017-03-28 08:17] ineilzhang commented on #8714
@hitbear518  I make it out,thanks.

[2017-03-28 08:21] aknad commented on #12401
in my layout I use a 0.5 border for a list separator
with borderBottomWidth=0.5 it works
but with borderTopWidth=0.5 it's wrong

<img width="431" alt="screen shot 2017-03-28 at 10 20 33" src="https://cloud.githubusercontent.com/assets/7056879/24395530/494b7fea-13a0-11e7-9cad-ef8eb025b0b6.png">

[2017-03-28 08:29] WeweTom opened #13175 "randomly Unexpected end of script on Android"
### Description

Our APP is a hybrid app that embed ReactNative into Native. Recently, we added some new features to our app on js side, and we haven't added anything on native side. Therefore the size of js bundle file has become larger than previous version from 730kb to 788kb.

Then we have come across a random crash as the log below. According to the information, it seems that ReactNative has

[2017-03-28 08:32] llioor opened #13176 "react native fbsdk MODULE_NOT_FOUND after link commend"
I opened bug on Facebook developer support tool and after investigation I received this answer:
"We investigated this and it looks like an issue with React Native itself. Can you please report the issue using our React Native issue tracker at https://github.com/facebook/react-native/issues?
On this tool we don't currently support React Native itself, but we support its Facebook SDK."

I'm trying t

[2017-03-28 08:34] YL2014 commented on #8401
I had solved that. Just set the host `127.0.0.1 localhost`, then it runs ok. Actually, I also close my proxy, the network maybe a case.

[2017-03-28 08:40] stuartjeasyodds commented on #5122
@jnrepo I have the same issue with react-native 0.42.0.

It started happing after I changed my navigation to the new [React Navigation](https://reactnavigation.org/docs/intro/) and added the Native Animation library.

Have you fixed the issue?

[2017-03-28 08:44] laowenlu commented on #13010
@assitaliroma me too!

[2017-03-28 08:44] jsroyal commented on #8401
Just check whether your path is correct set or not
![image](https://cloud.githubusercontent.com/assets/10773353/24396425/c6b88a98-13c0-11e7-833e-a59c503b444a.png)

[2017-03-28 08:50] Gumija commented on #8968
I am using Modal from react-native and when I close it (set visible to false), it makes my other components disappear one by one. First close navbar, second close a card. Both has elevation and zIndex set.

@rnowm Can you share your fix with Modal?

[2017-03-28 09:02] aem commented on #4968
@ericwooley whoops. tried that as well, forgot to include that in my list of fixes.

I went through the whole thread, nothing worked at all. i'll keep poking at it today as the library is crucial for our app to function properly, but no luck so far

[2017-03-28 09:03] zhaolei1177 commented on #6842
hi,@BigPun86, i have this problem, too. did u resolve this issue?

[2017-03-28 09:14] drinkingcode opened #13177 "[RN 0.42 Android] Native UI Components (DatePicker/TimePicker)"
It works fine to use native DatePicker and TimePicker on android 6.0 by  [Native UI Components Guide](http://facebook.github.io/react-native/docs/native-components-android.html) , it displays like this:
![4e3efb95-fd4e-4fa9-bca5-9f98196c2bfc](https://cloud.githubusercontent.com/assets/15334969/24396846/3401f7e0-13d7-11e7-8cee-f19632938acd.png)

but when running the same code on android 7.0,  it di

[2017-03-28 09:20] phanngoc commented on #3082
In my suitation, i need to set on both function:
[code]

[2017-03-28 09:55] kingfun2015 commented on #13010
@assitaliroma do well

[2017-03-28 10:15] ItsNoHax commented on #13148
@hypnocill ? stop wasting peoples time, look at your issue you copy pasted it and didn't fill anything in.

[2017-03-28 10:21] aymericbouzy commented on #6849
This SO question seems to give directions on how to implement this : http://stackoverflow.com/questions/22307239/how-to-set-the-starting-position-of-a-scrollview

@bcalik where did you find about these attributes?

I have no experience whatsoever in Android dev, but I really need this feature. Can anyone help me make a PR?

[2017-03-28 10:37] quangas commented on #13110
No fix but I just created a button to reload if the content if is empty.

So basically

`if (this.state.datasource.getRowCount() == 0) {
<View>
 <Text>No content</Text>
 <Button onClick={this. _onRefresh.bind(this)}>Click to refresh</Button>
</View>
} else
{
 <ListView ....... ></ListView>
}
`

[2017-03-28 10:37] #13110 closed

[2017-03-28 10:47] bcalik commented on #6849
New experimental listview components solve the problem.

https://facebook.github.io/react-native/blog/2017/03/13/better-list-views.html

https://www.facebook.com/groups/react.native.community/permalink/921378591331053/

[2017-03-28 10:58] amanthegreatone opened #13179 "Android Image Load Error"
Hi,

I am fetching an image saved in s3 and getting a TypeError as per the screenshot below.

![screenshot_20170328-162125](https://cloud.githubusercontent.com/assets/24354452/24401692/fd415d80-13d2-11e7-8ce2-b82fe38317b9.png)

This is the code for the AttachmentItem that is being rendered

[code]

This is working perfectly on ios simulator and ios devices but only giving this error on android dev

[2017-03-28 11:12] pepavesely commented on #7408
The same in 0.42.0

[2017-03-28 11:15] durbon commented on #12646
I resolved that forcing for all my dependencies would be the same. I had already some dependencies using v3.5.0 and having the conflict with new okhttp-ws integrated into v3.5.0 :man_facepalming:

 It's a workaround. Be aware that with this one we cannot use v3.5.0.

`configurations.all {
    resolutionStrategy.force 'com.squareup.okhttp3:okhttp:3.4.1'
}`

[2017-03-28 11:17] amanthegreatone commented on #13179
i think i found the issue. Instead of passing in a string to Image.prefetch i was passing an object. refactored and its working.

[2017-03-28 11:17] #13179 closed

[2017-03-28 11:25] olegdizus commented on #393
Hi, @alloy! Can you explain how to use this solution?

[2017-03-28 11:32] alloy commented on #393
* Start the packager and point it to a custom config like so https://github.com/artsy/emission/blob/185d9610832b9698de525a5a89178473464406ba/package.json#L15
* Have a custom config file that points to the custom transformer like so https://github.com/artsy/emission/blob/185d9610832b9698de525a5a89178473464406ba/rn-cli.config.js
* And place the transformer files in the path pointed to from the custo

[2017-03-28 11:39] zhuyifan2013 commented on #13127
@hnzlk2014  I did this , but still didnot work, I have roll back to 0.42

[2017-03-28 11:46] BigPun86 commented on #6842
Sorry my friend, i never found out how to fix this. I simply cleared watchman, removed the the node module and made an update to the latest react native. after that installing it with yarn it worked ;)

[2017-03-28 11:49] asbjornenge commented on #12261
You can use the following cmd if you want to accept `theirs`:

`cat project.pbxproj | sed '/<<<<<<< ours/,/=======/g' | grep -v '>>>>>>> theirs' | grep -v -e '^$'`

(works well if you have `react-native unlink` before `react-native-git-upgrade`)

[2017-03-28 12:58] IrvanWijaya commented on #1438
@dwilt thanks for the solution. By the way what does the flexGrow do? I check it https://facebook.github.io/react-native/docs/layout-props.html there and it give me nothing.

thanks

[2017-03-28 13:36] bitsal commented on #12952
@shergin @ericvicenti any ideas how to fix it?
We want to move to the newest version of react-native and all related libraries but we can't due to this.

Any thoughts how to figure it out myself appreciated.

[2017-03-28 14:00] Deboracgs opened #13181 "How to avoid re-rendering when we were updating the state?"
How to avoid re-rendering when we were updating the state?

I have varius setstate, but i need the calling last and update before other states, how make this?

[2017-03-28 14:05] bitsal commented on #12952
I've noticed that RCTAnimationType.h is included into React proj file:
`node_modules/react-native/React/React.xcodeproj/project.pbxproj:				3D302FE81DF8290600D6DDAE /* RCTAnimationType.h in Copy Headers */,`

but why is it invisible for my project?!

[2017-03-28 14:21] cailenmusselman opened #13182 ""ref" callback and "componentDidMount" not being triggered on initial render"
### Description

`ref` callback and `componentDidMount` life-cycle hook is not being triggered until _after_ manually triggering an additional re-render with `setState`.

Also asked on SO, but not getting any responses: http://stackoverflow.com/questions/43009993/react-native-initial-lifecycle-hooks-not-being-called/43010267#43010267

### Reproduction Steps and Sample Code

"constructor", "compone

[2017-03-28 14:22] alexandrebini commented on #12683
@doochik adding this on package.json fixed for me

[code]

more here: https://github.com/andyearnshaw/Intl.js/pull/264#issuecomment-279947557

[2017-03-28 15:19] javache commented on #12765
That's not true. Before iOS9, NSNotificationCenter holds an unsafe-unretained reference to your view, from iOS10 on it's a weak reference instead. Neither of these increase the retain count of your objects and don't prevent deallocation.

Passing a weak reference to NSNotificationCenter also doesn't work that way, since you're effectively turning it into a strong reference when using it as an argu

[2017-03-28 15:19] #12765 closed

[2017-03-28 15:25] dwilt commented on #1438
@IrvanWijaya read this [guide](https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-10) which is probably implemented the same way on React Native. It

[2017-03-28 15:48] shercoder commented on #3150
Ok so I followed the instructions shared by @BBLN. However, the app still crashes the first time I open the app. It is weird, in the background it will open the overlay permissions screen and the app crash occurs. Has anyone else experienced this? How did you mitigate this issue?

[2017-03-28 16:17] #12388 closed

[2017-03-28 16:20] perrosnk commented on #8615
I am experiencing the same issue

[2017-03-28 16:55] PeterKow commented on #12261
Rn-diff saved me! https://github.com/ncuillery/rn-diff

1. Apply manually changes for your version using https://github.com/ncuillery/rn-diff/compare/rn-0.41.0...rn-0.42.3
2. commit
3. react-native-git-update
4. resolve file conflict with yours
5. done

You can alternatively branch out copy xcode all file and then merge it back to your main branch and resolve conflicts with some tools, but then it

[2017-03-28 16:58] alinz commented on #9920
@MrHubble @morenoh149 You just have to remove the `_` and assign the `refreshControl` to `self.refreshControl`

![screen shot 2017-03-28 at 12 57 00 pm](https://cloud.githubusercontent.com/assets/967050/24417390/34a073c8-13b6-11e7-980d-a0a9b1f67108.png)

that should fix the problem.

[2017-03-28 17:20] shergin commented on #11871
@javache Do you have any idea?

[2017-03-28 18:20] jnrepo commented on #5122
@stuartjeasyodds I had to remove `React` from my Podfile and had to manually move the libraries I needed into my Xcode project, which let me use it again. I followed what others did on this ticket https://github.com/facebook/react-native/issues/10366

[2017-03-28 18:45] hramos commented on #13181
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-28 18:45] #13181 closed

[2017-03-28 18:47] #13162 closed

[2017-03-28 18:48] #13170 closed

[2017-03-28 18:49] hramos commented on #13139
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-28 18:49] #13139 closed

[2017-03-28 18:49] hramos commented on #13144
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-28 18:49] #13144 closed

[2017-03-28 18:49] #13148 closed

[2017-03-28 18:51] hramos commented on #13150
Working as expected. Animating layout props is not supported by the native driver.

[2017-03-28 18:51] #13150 closed

[2017-03-28 18:52] hramos commented on #13100
Can you try out FlatList or any of the new list views? ListView is being deprecated in favor of them. Please do open a new issue if you find the new list views have a similar issue.

[2017-03-28 19:26] smkhalsa commented on #1831
I'm having this issue with SectionList - blank on initial render until I scroll. @sahrens is there a fix in sight?

[2017-03-28 19:33] vinayan3 commented on #12784
I have this problem on 0.41.0 with a ScrollView which contains TouchableHighlights. Is there some workaround I can do?

[2017-03-28 20:03] mikaalanwar commented on #13161
The same process works fine for me. Try to double check hostname and make sure that the port isn't pre-occupied with something else OR maybe try the QR Code scanning approach, lesser room for errors there.

[2017-03-28 20:06] sahrens commented on #1831
@smkhalsa do you have a clear repro? Does setting removeClippedSubviews={false}

[2017-03-28 20:16] dylanpyle opened #13185 "PushNotificationIOS methods resolve with numbers rather than booleans"
### Description

The methods `PushNotificationIOS.requestPermissions` and `PushNotificationIOS.checkPermissions` both, according to the documentation and the code itself, resolve with an object in the format:

[code]

In reality, these seem to instead resolve with an object in the format:
[code]

### Solution

I'm guessing it's the code itself that's wrong — a boolean value seems more correct & fr

[2017-03-28 20:24] michaelgmcd opened #13187 "[Flow] react-native FormDataPart type conflicts with built-in FormData types in flow"
### Description

The built-in type for FormData in flow requires that the second argument to the `append` method is a `string`, `Blob`, or `File`. This conflicts with the react-native `FormDataPart` type defined in
Libraries/Network/FormData.js:

[code]

Flow built-in types:
- FormData: https://github.com/facebook/flow/blob/2278be3ffbc2f5ebb965e91f83fc8d957fc7d779/lib/bom.js#L292-L312
- Blob: http

[2017-03-28 20:25] dylanpyle commented on #13185
nb: can't add a demo link since you have to link native modules — but it's very simple to repro:

[code]

[2017-03-28 20:55] ryanhomer commented on #11655
If you use brew...

I install flow via brew on macOS and it's not possible to pick the version you want to install. If you upgraded your flow version but still have the older one installed you can switch back to it via something like `brew switch flow 0.38.0` otherwise, you'll need to get the older version elsewhere.

I've created a brew tap for those who still need version 0.38.0. To install it:

[2017-03-28 21:07] aaronjensen commented on #11655
It seems like react-native should target a specific flow version rather than a `^` version. At least use `~`. Minor flow versions have breaking changes all of the time, so it doesn't make sense to allow the latest minor version to install when it hasn't been tested.

[2017-03-28 21:25] Maftalion opened #13189 "Remove Placeholder for AlertIOS"
### Description

If you set 'secure-text' for AlertIOS.prompt, it will give you a placeholder 'Password' which is an issue because some things I want as secure-text aren't passwords, such as pin numbers. I was wondering if you would be able to remove this placeholder/make it optional/allow us to enter what placeholder we would like there.

### Reproduction Steps and Sample Code

![screen shot 2017

[2017-03-28 22:48] bennyguitar opened #13191 "Android inline image width/height is reversed."
This is on master as of issue creation.

You can see the problem right here:

https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/text/frescosupport/FrescoBasedReactTextInlineImageShadowNode.java#L138

[2017-03-28 23:01] ide commented on #13191
Anyone want to submit a PR and small test plan?

[2017-03-28 23:03] mbokowy commented on #12967
I've the same problem. How to fix it?

[2017-03-28 23:28] jmparsons opened #13192 "SectionList renderItem multi item support"
From the looks of it only FlatList has multi item support.

Will SectionList get multi item support or can the FlatList be used as the renderItem for a SectionList?

[2017-03-29 00:11] Nick177 commented on #13191
Hello, I see that the width and height are reversed in the link provided by "bennyguitar". I am new to React-Native, but I was wondering if I can still help out.

[2017-03-29 00:14] tigerohuang opened #13193 "Fix crash when move on the edge of some phones like HUAWEI P9"
I have tested the new source code, but crash occurred again.

[2017-03-29 01:10] joonhocho commented on #13171
Here's sample output for the upgrade

[code]

[2017-03-29 01:53] nscarcella commented on #1474
In case anyone ends up on this issue (as I did) looking for a nice way of creating react-native components without JSX, you may want to check [NJSX](https://github.com/uqbar-project/njsx).
It is quite easy to customize and we built it around plain react/react-native, so it does not require any changes on the react-native framework to work.

[2017-03-29 02:30] jmparsons commented on #13192
@sahrens Hopefully I'm using this correctly.

I'm closing this issue because it looks like FlatList works well as a renderItem for SectionList. I did a stress test with 1000 FlatLists with a possible 10 - 50 data items in each one rendering an image 125x125 with getImageLayout dimensions set and it worked great. Even scroll to top had no issues.

[2017-03-29 02:30] #13192 closed

[2017-03-29 02:35] NARUTOyuyang commented on #12754
![2017-03-29 10 29 35](https://cloud.githubusercontent.com/assets/22002078/24435915/b14a84ea-146a-11e7-93f5-df5371cfe696.png)

This is the problem of network agents, you can check whether the use of their own network over the wall tools

I put the Shadowsocks agent from the global model from the global model into automatic proxy mode on it
![2017-03-29 10 34 55](https://cloud.githubusercontent.com

[2017-03-29 02:40] MyTotoro commented on #11200
`:grep 'naming collision' temp.txt  | wc -l
      59`

I am getting a huge number of these naming collisions - I just installed react-navigation and tried running `react native run-android`

`{
  "name": "MyProject",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "react":

[2017-03-29 05:05] jaredtibs commented on #10553
I am experiencing this as well. Anyone aware of a fix or workaround for this issue?

[2017-03-29 05:17] suspectdoubloon commented on #8615
**0.42.3** - I experienced the same issue running iOS on both the simulator and an actual device. Using the solution from @Knight704 has mitigated the problem.

[2017-03-29 06:08] SteffeyDev commented on #8968
Glad I'm not the only one having issues with this (zIndex + position: absolute).  I've been trying to statically set zIndex's, but then realized I could just ditch zIndexing my absolute views and just reorder them in my render return so that they stay on top.  I know this will not fix most of the problems of those who actually need to use zIndex but hopefully it helps someone.

[2017-03-29 06:12] joonhocho commented on #13171
Related https://github.com/facebook/react-native/pull/13194

[2017-03-29 07:27] huhanghao commented on #11389
my react-native version is "0.31.0"。set emulator dubug js remote works,but my emulator runs slowly.I'm finding another way to save it. God bless me.

[2017-03-29 07:37] huhanghao commented on #11389
thx to @niranjan-b-prajapati ,I change my react version to v15.4.0 , my react-native to 0.41.2. It works to me

[2017-03-29 07:43] rnowm commented on #8968
@Gumija in my case I just needed one component with z-index (a toast) over my view, maybe that's why it worked for me. Did not tested with other elements using z-index.

[2017-03-29 07:46] reimertz commented on #7308
I got this error when I changed my name from `org.abc.xyz` to `com.reimertz.something` which seems to have broken paths.

[2017-03-29 07:55] stuartjeasyodds commented on #5122
thanks @jnrepo. Fingers crossed the next few react native updates aren't as painful!

[2017-03-29 07:59] Deevent opened #13195 "Date constructor behaves differently in debug mode"
I've tried to create dates from string using new Date() constructor and it behaves differently in debug mode than in standard mode. For example, in debug mode I can create a date using
`const date = new Date("2017-10-09 12:00:00")`

In standard mode (without debug js remotely) I get `Invalid Date` in my const.

Looks like the constructor accepts more formats in debug.

[2017-03-29 09:12] hodangquocdat commented on #3912
thanks! jforaker

[2017-03-29 09:44] Kalyani518 commented on #8968
Same issue here

[2017-03-29 10:03] woshi82 commented on #6691
when i  integration-with-existing-apps the image cannot show . the problem is same with https://github.com/facebook/react-native/issues/12062. and restart package not work.  `watchman watch-del-all` not work

[2017-03-29 10:24] stoffern commented on #13176
react-native install react-native-fbsdk is not a valid command.

try this inside the app folder
[code]

[2017-03-29 10:25] antonysastre commented on #7836
I still have this issue though.

I do see my device running `adb devices`.

If I manually run `adb install [path/to/apk]` and `adb reverse tcp:8081 tcp:8081` I can actually get the app running. But for our teams sake I would really like to resolve this so we can have an easy test workflow.

Any ideas how to further debug this?

Error log: [error-log.txt](https://github.com/facebook/react-native/fi

[2017-03-29 10:32] woshi82 opened #13197 "image can't show when integrate with existing apps in android"
### Description

  **When i integrate with existing apps in android , the image cannot show,instead errors.**
  The android project is just a simplest project generated by `Android studio` through the `start a new Android studio project ` option.
  i just follow the steps in document. http://facebook.github.io/react-native/docs/integration-with-existing-apps.html

  ### Reproduction Steps and Samp

[2017-03-29 10:43] markusguenther commented on #9665
I have this since I upgraded to the current release 0.42.x .... I was on version 0.40 before and it did not happen there.

[2017-03-29 10:50] filiphosko commented on #13195
Hi, by debug mode you probably mean remote debugging in Chrome? There are differences between the JS engines that are used by the simulator/device (JavaScriptCore) and by Chrome (V8). You can check the answer in [this StackOverflow question](https://stackoverflow.com/questions/41874676/react-native-code-doesnt-work-without-remote-debugger-enabled). Another thing that I noticed is that you have one

[2017-03-29 10:53] g6ling commented on #13041
I met same error. How did you solve this error?

[2017-03-29 11:02] #11317 closed

[2017-03-29 11:12] llioor commented on #13176
Thanks @stoffern
What weird is that in all doc it is written:
react-native install react-native-fbsdk

Weird...

[2017-03-29 11:37] Snorlock commented on #13127
Adding DevSupport worked for me, have to remember to "pod install" again

[2017-03-29 11:46] alshakero commented on #11232
@ide any update on this?

[2017-03-29 11:50] alshakero commented on #9974
@ide

Does this mean I can use them in Andriod > 5-6.x as per the link?

[2017-03-29 12:37] dcp12345678 commented on #13078
The solution suggested by ncuillery did not work for me. I still get same "No bundle url present" error.

[2017-03-29 12:44] skv-headless opened #13198 "[iOS][cocoapods] 'RCTAnimation/RCTValueAnimatedNode.h' file not found"
### Description

`'RCTAnimation/RCTValueAnimatedNode.h' file not found.`
in current master https://github.com/facebook/react-native/tree/c233191485ef733aa7a8d4ea5c758b9e6a06964c

1) related to 28 of march changes. @janicduplessis might help
2) podspec test are passed. @alloy do you have ideas how tests could be improved?
Maybe we need to run `xcbuild` to test?

### Reproduction Steps and Sample Co

[2017-03-29 12:49] alloy commented on #13198
Nah, we should ideally build all the subspecs, I’ll take a look at how long those take.

[2017-03-29 13:10] alloy commented on #13198
@skv-headless Your example fails to build from a fresh clone with different issues than the one this ticket is about. Can you make sure it fails with the exact issue you mention from a fresh clone (so no `pod install`, no `npm install`) ?

[2017-03-29 13:11] alloy commented on #13198
While enabling full podspec testing I did encounter this failure, which is probably the one you’re referring to:

[code]

[2017-03-29 13:12] stoffern commented on #13176
please send a PR to `react-native-fbsdk` about this.
This issue can be closed

[2017-03-29 13:22] skv-headless commented on #13198
Yep. This error. I've updated repo in case it still needed. Are you going to update test script?

[2017-03-29 13:24] alloy commented on #13198
Yeah I’ll do that, and then we’ll see how much time it takes to complete on CI.

[2017-03-29 13:26] einvalentin commented on #9979
We are also seeing this crash in production for example on a Galaxy S7 with Android 6.0 (RN 0.42.0)
[code]

[2017-03-29 13:27] hiteshsahu commented on #9342
I had to run cmd as admin, otherwise, it won't work. I am running window 7 -64 bit.

[2017-03-29 13:30] ramilushev commented on #11809
@emilsjolander Any update on the yoga fix?

[2017-03-29 13:34] emilsjolander commented on #11809
Still working on it

[2017-03-29 13:34] #13176 closed

[2017-03-29 14:01] Mactub07 commented on #8169
see problem on RN-0.42 too

[2017-03-29 14:06] wildQueequeg opened #13200 "Inconsistent image bundling in Android"
I'm using "react-native": "0.41.2", but have been having this issue since well before this release.

Sometimes when I bundle and build my android project, some of the images won't show up. The number, and which images are inconsistent as well. If I bundle again, some other images might show up, but others will disappear. If I bundle and check all of them a few times, they might all show up at some

[2017-03-29 14:12] sooth-sayer opened #13201 "[Android] App crash on android search assistant opening"
### Description
App crashes on opening android search assistant when modal is visible

### Crash log
03-29 17:43:44.600 18602 18602 E AndroidRuntime: FATAL EXCEPTION: main
03-29 17:43:44.600 18602 18602 E AndroidRuntime: Process: com.modalcrash, PID: 18602
03-29 17:43:44.600 18602 18602 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.View.dispa

[2017-03-29 14:17] jerolimov commented on #3233
See also #13199

[2017-03-29 14:17] jerolimov commented on #3485
See also #13199

[2017-03-29 14:18] jerolimov commented on #10622
See also #13199

[2017-03-29 14:30] galeldar commented on #12686
@henryw374 your suggestion did do the trick! I will mark at as solved and will close the issue! Thank you!

[2017-03-29 14:30] #12686 closed

[2017-03-29 14:38] filiphosko commented on #13195
@Deevent If you are ok with the response and are not considering leaving this issue open, we can close it.

[2017-03-29 15:05] #13195 closed

[2017-03-29 15:32] conrad-vanl opened #13202 "[FlatList] render issues using `scrollToIndex` on `componentDidMount`"
### Description

Running into an inconsistent bug when trying to use `scrollToIndex` on `componentDidMount`. Essentially, if the `index` I'm scrolling to is outside of the `initialNumToRender`, it doesn't get rendered until I start manually scrolling. You can see the behavior in this gif:

![](https://github.com/conrad-vanl/rn-flat-list-tests/blob/master/screencast.gif?raw=true)
(apologies, just r

[2017-03-29 15:36] #13197 closed

[2017-03-29 16:11] alizahid commented on #10812
@philjoseph @moerabaya Does [this](http://alizahid.net/post/157525270196/rtl-support-for-react-native) help?

[2017-03-29 16:36] kitsune7 commented on #12514
I'm getting the same exact error, but nothing on here has worked for me so far.

- react-native-cli: 4.1.2
- react-native: 0.42.3
- MacOS Sierra 10.12.3
- Xcode: 8.3

[2017-03-29 16:50] ciceroneves commented on #10729
I have tried the *"debugger"* approach before but it did not work. The issue is mainly visual and I am saying that because when I take a look on the context when the breakpoint is hit it shows me all the variables in original place I put the breakpoint. I just wanted a way to fix this because it is so annoying.

I will try the RN 0.42 and see if it works :)

So far what worked for me was the sugge

[2017-03-29 16:57] hoangpham95 commented on #13177
Could you edit your question format so the code blocks get easier to read?

[2017-03-29 17:01] nmquebb commented on #13127
Also, if you're anything like me you toggle "Connect Hardware Keyboard" and end up forgetting about it when you go to access the dev menu.

[2017-03-29 17:22] hramos commented on #13200
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-29 17:22] #13200 closed

[2017-03-29 17:22] #13193 closed

[2017-03-29 17:24] hramos commented on #13189
This would be useful. Want to send a PR?

[2017-03-29 17:24] monumentyusuf commented on #11829
Im in trouble with the same issue. Im running same pager and adapter classes in an AppCompatActivity and it works but not in ReactActivity.
Did you find any solution for that @tlcheah2

[2017-03-29 18:40] ide commented on #9974
@alshakero no because RN Android uses JSC without Proxies. You can use them on iOS 10 only.

[2017-03-29 18:45] ide commented on #11232
No updates but if you'd like to help financially sponsor the work to get this done please reach out to me and I will try to coordinate with a contractor whom I believe is especially well-equipped to work on this.

[2017-03-29 19:40] MattyK14 commented on #12882
Getting `false` on iOS simulator & iPhone 6 10.3, when isConnected should return `true`.

[2017-03-29 20:11] mehdihz commented on #7308
@brianneisler Your soloution saved my life. Thanks 🙏

[2017-03-29 20:41] jnrepo commented on #5122
@stuartjeasyodds seriously, its like playing with fire

[2017-03-29 20:48] Yurii-Laguta commented on #13191
@ide PR sounds easy, test plan is harder, I would create this textView with some demo image, and then check with Espresso on Android that width and height of view is same as predefined image.
Any suggestions on tests?

[2017-03-29 20:53] bennyguitar commented on #13191
@Yurii-Laguta looks like it's already in: https://github.com/facebook/react-native/commit/c3110963f2517b3ef8b80f5d510b8dd41a67350d

[2017-03-29 21:28] CarlosOV commented on #7495
In my case remove maximumAge solved the problem.

[2017-03-29 21:30] Talor-A opened #13204 "Can't select first option from Picker"
### Description

Using a Picker, onValueChange has no effect when the first item is selected, but works for the rest.
### Reproduction Steps and Sample Code

[Here's](https://sketch.expo.io/rkMh8jKne) a sketch project demonstrating the bug.

### Additional Information

* React Native version: 0.43.0-rc.1 on my device, don't know the version used on Expo
* Platform: Both
* Development Operating Sys

[2017-03-29 21:32] Talor-A commented on #13204
Sorry, this was fixed by adding a selectedValue prop.

[2017-03-29 21:32] #13204 closed

[2017-03-29 22:09] ide commented on #13191
A test plan is not quite the same as automated tests. Just providing repro steps and screenshots is helpful.

[2017-03-29 22:14] ianweng opened #13205 "Block Button no left and right spaces between button and screen"
Code:

[code]

Result:

![screen shot 2017-03-30 at 11 10 44](https://cloud.githubusercontent.com/assets/13402148/24479053/f297d766-1539-11e7-93ff-eb8d17ebdcb2.png)

By the way, I also use expo.io, could the issue be caused by using this?

[2017-03-29 22:14] ericapply opened #13206 "Running out of memory when using hundreds of same Image"
### Description

I am using react-native-maps to draw about 750 markers on the map.
Each marker is using same Image

### Reproduction Steps and Sample Code

[code]

### Possible Solution
Re-using UIImage
http://stackoverflow.com/questions/25555778/optimising-custom-marker-image-performance-with-google-maps-sdk-for-ios

However, I do not know how to do this in React Native as React abstracts away t

[2017-03-29 22:23] vonovak commented on #13206
this is a stackoverflow question

[2017-03-29 22:25] #13206 closed

[2017-03-29 22:28] hramos commented on #13205
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-29 22:28] #13205 closed

[2017-03-29 22:30] hramos commented on #13161
Make sure both devices are on the same network, and that they can reach each other. The easiest way to test if there's reachability is to open the URL on your device directly. Go to the browser and try loading http://12.34.567.89:19000. If that URL is not found, then the device can't reach your server.

This is typical in captive portal wifi networks (e.g. coffee shops and other public wifi networ

[2017-03-29 22:30] #13161 closed

[2017-03-29 22:34] smkhalsa commented on #1831
@sahrens It looks like setting removeClippedSubviews={false} does fix this for me. Without this, I get a blank screen every time I navigate to this particular view.

I will try to isolate the issue in a fresh repo and post it if I can.

[2017-03-29 22:34] ericapply commented on #13206
https://stackoverflow.com/questions/43105313/running-out-of-memory-when-using-hundreds-of-same-image

[2017-03-29 22:35] vjeranc opened #13207 "LayoutAnimation easeInEaseOut causes children of top view to disappear or duplicate"
### Description

I've made a selection object that keeps track of which element of the list is
selected (selection is made using presses). Elements are in the list but the
top list can be rerendered during the lifetime of the app (so can the
elements). If `LayoutAnimation.easeInEaseOut()` is used in the way below,
interaction with list gets glitchy.

### Reproduction Steps and Sample Code

Selecti

[2017-03-29 22:52] llioor commented on #9136
Same problem here...
This is the output I have when I try to build..
[code]

[2017-03-29 23:14] llioor commented on #13176
I have this error now:

https://github.com/facebook/react-native/issues/9136

[2017-03-29 23:27] k3ithl1m commented on #13072
Aleksandar, I think you've just copied and pasted the template to open a new issue. May we know whats the issue?

[2017-03-30 00:27] asciiman commented on #11377
I need to programmatically switch enableGestures and kept getting the "attempting to run js driven animation on animation node" error.  Here's how I solved it.

[code]

[2017-03-30 01:46] seantempesta opened #13208 "Packager takes forever when parsing a large js file"
Using react-native "0.42" and Clojurescript, the packager takes 10 minutes to parse my `index.[ios|android].js` file.  Please correct me if I'm wrong, but the packager is parsing it just to get a list of `require statements`?  Because the Clojurescript compiler has already done all the necessary javascript transformations and minified the file.

Is there a way for me to specify a list of the `requ

[2017-03-30 03:36] darrenchiu commented on #7786
+1 same error as @abuammar

[2017-03-30 03:43] biyeshengplay commented on #9752
you need to add these in your proguard-rules.pro
https://gist.github.com/cpunion/f0712cae8ad552f9d49db86cc60ebeb4

[2017-03-30 03:47] just4fun commented on #12223
I upgraded to v0.42.2 and it works.

[2017-03-30 04:00] diennguyentien commented on #13144
@Jkomyno: Thanks, I will try.

[2017-03-30 04:03] duhseekoh commented on #12672
Seeing the same results on the iPhone 6 simulator with RN 0.42.3

[2017-03-30 04:43] tlcheah2 commented on #11829
@monumentyusuf I found out 2 solution for this. One of it you can use viewpager.setOffScreenPageLimit() to your viewpager. As this is how ReactViewPager did it. Refer to the picture below
![screen shot 2017-03-30 at 11 31 29 am](https://cloud.githubusercontent.com/assets/7456033/24486399/92dedf7e-153c-11e7-955e-f7771708fb02.png)

Else you can measure and relayout your View when requestLayout calle

[2017-03-30 04:43] #11829 closed

[2017-03-30 04:43] CoLagon opened #13210 ":app:bundleReleaseJsAndAssets FAILED"
C:\dev\myApp\android>gradlew build
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:app:prepareComAndroidSupportAppcompatV72301Library UP-TO-DATE
:app:prepareComAndroidSupportRecyclerviewV72340Library UP-TO-DATE
:app:prepareComAndroidSupportSupportV42340Library UP-TO-DATE
:app:prep

[2017-03-30 05:14] CoLagon commented on #13210
I didn't even code anything I just made a project with react-native init {'Your App Name'}. I couldn't run my project on with react-native run-android so I tried building it with gradlew build and I get this error (above). I have a virtual device running on my computer. I'm running windows 10. Any help will help me since I'm fairly new to react/react-native. thanks

[2017-03-30 06:37] hey99xx opened #13211 "Documentation typo ReactFontManager.java"
### Description

https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactFontManager.java#L78

[code]

The line with `Typeface#DEFAULT` should be changed to `Typeface#NORMAL`. Default is a typeface object, normal is the value 0 as documented in [TypeFace](https://developer.android.com/reference/android/graphics/Typeface.html#NORMAL) class.

[2017-03-30 07:04] cwRichardKim commented on #12261
@npomfret Can confirm that init-ing a new project (with the new upgraded react native locally) kind of worked. at least xcode isn't crashing anymore.  I'm in the process of relinking all of the necessary libraries, but i feel pretty confident about it

[2017-03-30 07:05] vardanmobiloitte commented on #1438
Hello All,
  I am using react native 0.28.0. and I am not able to wrap text in chat I am using react-native-gifted-chat . also I get error if I use maxWidth. Do anyone know workaround of maxWidth

[2017-03-30 07:19] hilkeheremans commented on #11826
Same here, following device info (extract from bugsnag):
[code]

[2017-03-30 07:25] vardanmobiloitte commented on #8960
Can someone suggest what to use for RN 0.28 to solve above problem

[2017-03-30 07:41] mfclarke commented on #10288
@lacker this is a workaround, but not a reasonable one IMO. It requires uninstalling and reinstalling simulators when you want to change the iOS version that `react-native run-ios` uses.

[2017-03-30 07:41] stoffern commented on #9136
Whenever Android Studio starts gradle sync or to process files in the appdir. the watchdog on react-native will die with this error.
Try to start simulator from console or start simulator from Android studio, then run `react-native run-android` close android studio and develop...

[2017-03-30 07:56] warpech commented on #11232
Is JavaScriptCore for Android part of React Native project or is it a separate dependency?

[2017-03-30 07:58] ide commented on #11232
It is a separate dep/repo but maintained under RN Android.

[2017-03-30 08:04] baotoan1905 commented on #7408
The reason is mentioned in react-native page officially ([http://facebook.github.io/react-native/releases/0.20/docs/known-issues.html]), the only thing we can do now is that try to load images with the size as small as possible, exp: load thumbnail for small images. My solution is whenever uploading any image to server, server will save that image to 3 versions: thumbnail, medium and large. Then w

[2017-03-30 08:34] monumentyusuf commented on #11829
Thanks a lot @tlcheah2 you saved my day :)

[2017-03-30 09:06] faysalsoufiiane commented on #10297
i solved it with this solution
[`stackoverflow](https://stackoverflow.com/questions/42707846/rn-progressbarandroid-manually-calling-react-proptypes-for-the-indeterminate)

[2017-03-30 09:07] faysalsoufiiane commented on #9692
i solved it with this solution
[stackoverflow](https://stackoverflow.com/questions/42707846/rn-progressbarandroid-manually-calling-react-proptypes-for-the-indeterminate)

[2017-03-30 09:08] grundmanise commented on #12827
If onEndReachedThreshold  > 0 then it is triggered 2 times..

[2017-03-30 09:16] alikemalcivelek commented on #6971
I have same issue. How can I resolve?

[2017-03-30 09:19] kapone89 commented on #13011
I think Apple will eventually reject apps that use CodePush even if they are allowed now. This is because it's just out of compliance with the guidelines to update apps or their parts without App Store. And it's completely not related to system methods that are used or not.

And because RN allows running external js code itself, there is a non-zero probability that one day Apple will reject all ap

[2017-03-30 09:26] henrikra commented on #11891
@AndrewJack Thank for the solution! It worked for me too. How did you find about this? Because proguard is not showing in the output what class it tried to find. I spent so much time on this issue :)

[2017-03-30 09:36] ptomasroos commented on #13011
@kapone89 That means web browsers should also be banned it runs external js code? Seems legit. Worst comment I've read in a while.

[2017-03-30 09:40] DaleJefferson commented on #9364
I can recreate this issue in React-Native 0.42, this is still a bug

[2017-03-30 09:45] helloworldtang commented on #12344
Solution:
under "react-native" directory:
after run command "./gradlew :Examples:UIExplorer:android:app:installDebug" successfully,
run commnad "./packager/packager.sh" successfuly.
then click "UIExplorer App“ in the emulator or the device

[2017-03-30 09:45] helloworldtang commented on #9336
Solution:
under "react-native" directory:
after run command "./gradlew :Examples:UIExplorer:android:app:installDebug" successfully,
**run commnad "./packager/packager.sh" successfuly.**
then click "UIExplorer App“ in the emulator or the device

[2017-03-30 09:51] AndrewJack commented on #11891
@henrikra I read in the proguard output that `TextLayoutBuilder` was the source of the issue (Admittedly a very hard to read output). I then found the TextLayoutBuilder repo on github. I saw it is built as a Jar and not an AAR, therefore the proguard files aren't supplied with it.

[2017-03-30 10:04] kapone89 commented on #13011
@ptomasroos You are completely right, but you only think about it from a developer perspective. But look at it from a user perspective, security, and Apple guidelines. RN allows writing apps that have some features and then reloads it's code and becomes completely different App. It's out of compliance with the Apple guidelines. It's not safe for users. Apple can't control that kind of apps. That's

[2017-03-30 10:21] 438198602 opened #13213 "[Android] Modal backgroundColor: rgba(0, 0, 0, 0.3) is not work in RN 0.41?"
[Android] When I use {backgroundColor : rgba(0, 0, 0, 0.3)} in Modal , It's ok on debug, but in the release apk , show backgroundColor is '#000', the opacity is not work. My react-native version is 0.41,(0.40 is ok). who can help me?

[2017-03-30 10:24] valeryq opened #13214 "`PickerAndroid` has no propType for native prop"
Have an error when I try to render Picker component.

**IOS** version is ok, it works good
**Android** version with error below:
[code]

Android version: 6.0.0 (API 23)
React Native version: v0.42.3

[2017-03-30 10:28] rodperottoni commented on #7308
Hey guys, I might have found a solution for this. Worked for me on my 2 Mac computers.
I had to:

- update node
- update npm
- clean my npm cache
- delete my project's node_modules and download it from 0.

[code]

My current environment after updating everything:
Node 7.8.0
NPM 4.4.4

I've tried **everything** people posted here on my 2 macs and nothing worked. Only after going through the above s

[2017-03-30 10:38] hongyang51 opened #13215 "debug apk also crash . android log , one bug?"
`
  java.lang.RuntimeException: An error occurred while executing doInBackground()
                                                                          at android.os.AsyncTask$3.done(AsyncTask.java:309)
                                                                          at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)

[2017-03-30 10:48] llioor commented on #9136
Hey @stoffern
My simulator is avd... I'm working with phpStorm so I'm working with the console over there:
Run `android avd` which open AVD manager with a list of devices and I start one of the devices.
When the device is ready I run in the phpStorm `react-native run-android` which start to load all packages and then I see the error.
I understood what you wrote but I don't understand how to implem

[2017-03-30 10:52] gyzerok commented on #9220
I guess [this](https://github.com/facebook/react-native/issues/6472) is related.

Looks like issue is still relevant.

[2017-03-30 10:53] desmond1121 commented on #11790
+1

[2017-03-30 11:28] gustavjf commented on #1863
@dennishansen

I'd also like to know how to achieve hitSlop on text links. Have you been able to figure that out?

[2017-03-30 11:30] gustavjf commented on #1863
The best I've tried so far is something like the following: https://sketch.expo.io/SJAyOPche

I'd like to treat the touchable text the same as regular text so the copy flows correctly when it reaches the end of a parent container.

[2017-03-30 11:43] az-9 commented on #5770
My app starting to show this error in the middle of the developing.
Delete the app from the simulator and run `react-native run-ios`

[2017-03-30 11:51] Gp2mv3 opened #13216 "Close Modal when touching the outside"
### Description

I use Modal component in my app. Is it possible to add a parameter to close the modal when the user touches the overlay (outside of the modal content) ?

### Reproduction Steps and Sample Code
[code]

### Solution
Add a parameter ?
[code]

[2017-03-30 11:56] glcrazier commented on #13175
I encountered some similar issue. Did you do something like zipping js bundle and unpacking it in the device?

[2017-03-30 11:57] glcrazier commented on #13175
If that's the case, check your build script.

[2017-03-30 12:00] moerabaya commented on #10812
@alizahid nope, it only works when the device language is arabic and there's another issue in react that the app won't change back to english (LTR) when the device language is changed to arabic!!

[2017-03-30 12:02] vjeranc commented on #13216
TouchableWithoutFeedback inside of Modal is the way to go.

[2017-03-30 12:03] stoffern commented on #9136
install android SDK...
https://facebook.github.io/react-native/docs/getting-started.html#3-install-the-android-6-0-marshmallow-sdk

[2017-03-30 12:03] hilkeheremans commented on #13011
Could we refrain from this type of discussion in this thread? The purpose of this thread is first and foremost to help solve the issue @sriraman has reported.

At this time, there is still nothing that points towards Apple rejecting, as a whole, mechanisms such as Code Push or RN, so let's not speculate on that too much, at least not until we get a clear response from Apple. Most of us are aware o

[2017-03-30 12:18] alloy commented on #13198
Pushed #13217

[2017-03-30 12:18] glcrazier commented on #13069
Read the fxxking source code

[2017-03-30 12:20] llioor commented on #9136
I already installed Android sdk.
With a clean project I can run the app on my avd emulator.
The problem starts only when I install the fbsdk and setting it up.

[2017-03-30 13:25] AdriaRios commented on #13080
+1

[2017-03-30 13:31] sun2rise opened #13218 "Set threshold before ScrollView or ListView move"
### Description
I am trying to understand how can I set a threshold for the RN ScrollView o  ListView.

This is because if you have multiple vertical scrollable View in a horizontal ScrollView then the horizontal scrolling of the Views is very difficult.

So i just need something that holds the horizontal scrolling until the finger swipe horizontally for a certain pixel-span.

Has anyone a clue ab

[2017-03-30 13:34] AdriaRios commented on #13080
It my case, it happens when I make click in an <Image> that contains a <Text> inside (all inside virtualist).

[2017-03-30 13:51] warpech commented on #11232
Thanks for the clarification.

ES6 Proxy is a language meta-programming feature (see many examples at https://github.com/mikaelbr/proxy-fun). There are more and more JavaScript projects like ours ([Palindrom](https://github.com/palindrom/palindrom)), that use ES6 Proxy.

As the Palindrom guys we are not directly interested in sponsoring that feature because we are fine providing an old version of

[2017-03-30 14:38] fernandosouza commented on #637
Any ideas when this would be resolved?

[2017-03-30 14:39] GuillaumeMunsch commented on #1882
Hi !

Any news on this ?

[2017-03-30 14:49] acomito commented on #13023
I had same issue. It only happens when I'm using 0.42.0

[2017-03-30 14:59] vjeranc commented on #13207
Seems to be related to #11962 .

[2017-03-30 14:59] azamkth opened #13219 "how to refresh or update listView when database table is update (iOS)"

[2017-03-30 15:06] djohnkirby commented on #12770
Experiencing the same thing after upgrading from 0.39 to 0.42

[2017-03-30 15:26] alizahid commented on #10812
@moerabaya Yeah, that's a good one. Only way you can _fix_ that is by using the `allowRTL` and `forceRTL` methods from `I18nManager`.

[2017-03-30 15:28] kapone89 commented on #13011
@hilkeheremans Ok, I agree that it's maybe the wrong place for that discussion.

If the RN team is talking with Apple about its the RN compatibility with the Apple guidelines, is there a place/issue/whatever where we can track the current status of that topic? Is the RN team proactive in this or just wait until Apple starts blocking apps or something? Are there any guidelines for RN developers tha

[2017-03-30 15:28] gre commented on #7818
The problem with what you suggested, @lacker, is that there is no way to reproduce it with just a sample app. It's not about an app that reproduce the bug but the contextual around it: a user that have a LOT of images.

related to that, there is this SO question http://stackoverflow.com/questions/35077923/ios-app-crashes-for-some-users-when-using-alassetslibrary-to-retrieve-images-in and someone a

[2017-03-30 16:08] axemclion commented on #13011
@kapone89 We are working with @sriraman and rest of the folks to see how we can resolve this issue. At this point, we have not heard any reports of CodePush apps being banned. Note that Ios Developer License section 3.3.2 explicitly states that it is ok to update code running in JavaScriptCore or Cordova, and React Native apps use JSC.

Also note that if the purpose of the app is changed, that wou

[2017-03-30 16:12] sahrens commented on #12827
The denouncing is based on state changes, so if you rerender anything or update the data in response to the callback or after it's called the first time, it might get called again.

[2017-03-30 16:15] henrikra opened #13221 "Switch onTintColor bug on Android"
### Description
When setting `onTintColor` prop for component `Switch` it works as expected. But when you change the value of the `Switch` it has the default green `onTintColor` for a fraction of a second.

### Reproduction Steps and Sample Code
Here the bug is reproduced: https://sketch.expo.io/B1vEAochg

### Solution
I think something needs to be tweaked in the Java side of the `Switch` componen

[2017-03-30 16:24] kapone89 commented on #13011
@axemclion Could you send me the link that developer license because I couldn't find it.

There is nothing about it here:
https://developer.apple.com/app-store/review/guidelines/

Just
"(vii) They must use the Mac App Store to distribute updates; other update mechanisms are not allowed."

[2017-03-30 16:39] bennyguitar commented on #13191
The test plan should be:

* Create a `<Text>` component that wraps an `<Image>` component.
* Make sure the style of the image contains different width and height
* Verify visually that the width/height passed in are respected.

Before this issue, you could pass in `width: 20, height: 100` and see the opposite - an image wider than it is tall. With the change, it would be a taller image.

Basically

[2017-03-30 16:43] kelset commented on #13011
@kapone89 you need to be logged in to view it, but you can find it here: https://developer.apple.com/terms/

foregoing are scripts and code downloaded and run by Apple's built-in WebKit framework or
JavascriptCore, provided that such scripts and code do not change the primary purpose of the
Application by providing features or functionality that are inconsistent with the intended and
advertised pu

[2017-03-30 16:43] hilkeheremans commented on #13011
@kapone89 If you had carefully read through this thread above, you would find that both your last question and the gist of your initial remarks were already replied to. So might I suggest you re-read this entire thread?

[2017-03-30 17:11] pwcremin commented on #2468
None of these options are working on 0.42 ios

[2017-03-30 17:36] briman0094 commented on #10756
I'm getting the same crash when requesting an HTML page. Don't have an iOS device to test on, but this crash occurs on my Pixel XL with latest `react-native` and latest Android version.

[2017-03-30 17:50] sphairo commented on #6849
The solution a this problem is:

[code]

[2017-03-30 18:06] JasonHenson commented on #1190
+1

[2017-03-30 18:08] philipphecht opened #13223 "Xcode 8.3 IOS 10.3 with react-native 0.39.2 doesn't work"
* React Native version:0.39.2
* Platform: IOS 10.3
* Development Operating System: MACOS
* Dev tools: XCODE 8.3

Class PLBuildVersion is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x1200d7cc0) and /Applications/Xcode.app/C

[2017-03-30 18:13] hramos commented on #13223
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-30 18:13] #13223 closed

[2017-03-30 18:16] hramos commented on #13208
GitHub Issues are not meant to be used for questions.
Questions can be asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

If you feel this is an issue that should be tracked here on GitHub, please make sure to follow the issue [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md). This is necessary for people to be able to unders

[2017-03-30 18:16] #13208 closed

[2017-03-30 18:17] #13210 closed

[2017-03-30 18:17] hramos commented on #13210
Closing due to non-use of the template.

[2017-03-30 18:17] hramos commented on #13211
Should be a quick fix. Want to send a PR?

[2017-03-30 18:17] #13213 closed

[2017-03-30 18:18] #13214 closed

[2017-03-30 18:18] #13215 closed

[2017-03-30 18:18] hramos commented on #13216
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-30 18:18] #13216 closed

[2017-03-30 18:18] hramos commented on #13218
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-30 18:18] #13218 closed

[2017-03-30 18:18] #13219 closed

[2017-03-30 18:19] hramos commented on #13221
Thanks for the repro! Looks like a bug. Here's a GIF of the repro for anyone who might look into this:

![](https://d3uepj124s5rcx.cloudfront.net/items/2T2z0u1p003u053y3J2v/Screen%20Recording%202017-03-30%20at%2011.19%20AM.gif?v=f85dc61d)

[2017-03-30 18:34] claykohut opened #13224 "Hot Reloading not working with Navigator (refreshes entire route stack to initialRoute instead of just the component)"
### Description

I'm having trouble getting hot reloading to work on our app. Changes seem to be submitting / the app shows a banner showing that changes are applied but nothing happens / updates.

If I change the entry point index component to be a stateful component which returns the App component, then changes seem to update but the Navigator component resets to the initial route.

Can anyone p

[2017-03-30 18:37] bcalik commented on #6849
@sphairo That is not a solution, that is the problem itself, because It won't work if the position you want to scroll is not rendered yet, as I said several times before.

[2017-03-30 18:49] keshavkaul commented on #505
How can I load local css file into web view's html?

[2017-03-30 19:04] ide opened #13225 "[CocoaPods] Add support for the C++ bridge"
This is an issue to track adding support for the C++ bridge to the Podspec. @mhorowitz is one of the authors of the new bridge. The longer-term plan is to move completely to the C++ bridge while giving people a period of time to transition. At first the C++ bridge will be opt-in, then opt-out, and then the legacy bridge will be removed.

I haven't put much thought into how we want to approach this

[2017-03-30 19:07] mhorowitz commented on #13225
Thanks, @ide !  I don't know much about podspecs, but I'll answer whatever I can about the new bridge to get you guys moving.

[2017-03-30 19:07] CoLagon commented on #13210
@hramos I am using the react-native template, how am I not?

[2017-03-30 19:10] hramos commented on #13210
There's literally nothing from the new issue template here. You'll see it when creating a new issue.

[2017-03-30 19:13] sun2rise commented on #13218
Thanks @hramos, actually I posted it 7 days ago. I just thought that maybe here I could increase my chances to find a help.

[2017-03-30 19:13] hramos commented on #13224
`Navigator` is no longer a part of React Native (it was deprecated earlier this year, and will not ship in the next stable release, 0.43). I highly suggest using `react-navigation` in its place. If this is also an issue in `react-navigation`, feel free to open an issue.

[2017-03-30 19:13] #13224 closed

[2017-03-30 19:20] CoLagon commented on #13210
@hramos oh so you want me to ask stackoverflow for help. Already did no answers. see usually when this project builds it will skip: :app:bundleReleaseJsAndAssets. I've been stuck trying to fix this for days.

[2017-03-30 19:27] hramos commented on #13218
As it happens, GitHub Issues are not the best place to ask questions. We'd like to keep the issue tracker focused on actionable issues that can be addressed with a PR, ideally.

[2017-03-30 19:31] theminerymike commented on #7378
I just fixed this issue.

The issue was fixed once before, and referenced here http://stackoverflow.com/questions/37020690/text-align-right-doesnt-work-for-placeholder-when-multiline-is-true

I applied the same update, in the same file, but inside updateFrames, just at the bottom, I put the line `_placeholderView.textAlignment = _textView.textAlignment;`

I was having this issue with 0.42.0, the v

[2017-03-30 20:41] farazs commented on #11230
See my PR for this on Android: https://github.com/facebook/react-native/pull/12807

[2017-03-30 21:03] kapone89 commented on #13011
@hilkeheremans @kelset Ok, I just thought that they removed the entry about JSC.

After reading this and following issues on the Github:

- https://github.com/facebook/react-native/issues/12778
- https://github.com/Microsoft/react-native-code-push/issues/748
- https://github.com/Microsoft/code-push/issues/415

It looks like CodePush is "OK" because it doesn't change the native code of the app. **B

[2017-03-30 21:12] satya164 commented on #13011
They have been allowing webview apps to do that from beginning and React Native is not any different. You cannot update native code, which means the API exposed to javaScript can't change, like a web view based app. So it doesn't pose any more security threats than a normal web view based app.

[2017-03-30 21:28] MarbleDev commented on #10625
Same here. I'd love to know more information on how to switch from Buck to Gradle. I can't seem to get this to work. Can't make the reactprocessor run on react packages.

[2017-03-30 21:29] OriginalYellow commented on #12261
I've got to agree with @npomfret and @cwRichardKim. I did everything @thatjuan said to do up to step 4, and the linter gave me the all clear after I fixed every merge conflict and applied the patch it generated. But in the end it still caused xcode to crash every time I tried to open the project. The safest way to do this seems to be just remaking the project from scratch.

[2017-03-30 21:33] rodriguesbreno commented on #10608
Latest version of Xcode 8.3 (8E162) and Mac Sierra 10.12.4 (16E195)  fix the issue.
It's running 60FPS again 🎉

![simulator screen shot mar 30 2017 6 32 09 pm](https://cloud.githubusercontent.com/assets/19731692/24527114/36f3a218-1577-11e7-878a-4ec14a2db9a9.png)

[2017-03-30 21:40] jpshelley commented on #13151
Has anyone started work on this? Don't want to duplicate efforts if so, otherwise I may have time to try it out. Although I'll defer to @sahrens if he already has thoughts on how to implement 😄

[2017-03-30 21:44] kapone89 commented on #13011
@satya164 If it's all about security only, then maybe you are right. But I think there is also a business logic behind it etc. and it's more complicated.

And running web app inside a webview is a little bit different than rendering native view in the RN using JSC.

[2017-03-30 21:47] ide commented on #13011
As @hilkeheremans posted earlier, please have speculative discussions somewhere else.

[2017-03-30 22:00] ShMcK commented on #8984
Is there a way to load an npm dependency into the web view? - other than as a string wrapped in a script tag?

[2017-03-30 22:02] xilonxiao commented on #10608
Just confirming what @rodriguesbreno said, these updates fix the issue.

[2017-03-30 22:10] shergin commented on #7378
That file was heavily refactored (by me) in master thought. Therefore I believe that issue was fixed as part of that refactoring because we have this line now: https://github.com/theminery-hr4/react-native/blob/master/Libraries/Text/RCTUITextView.m#L108

[2017-03-30 22:14] shergin commented on #7378
Therefore, as I can see from the screenshots, we can also have this another much more complicated RTL-related issue.

[2017-03-30 22:14] #7378 closed

[2017-03-30 22:26] ophite commented on #5839
the same problem in 0.42 version

[2017-03-30 22:39] ophite commented on #7086
+1

[2017-03-30 22:51] ericvicenti commented on #12669
The movies sample has been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:51] #12669 closed

[2017-03-30 22:51] ericvicenti commented on #12169
The movies sample has been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:51] #12169 closed

[2017-03-30 22:51] ericvicenti commented on #11028
The movies sample has been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:51] #11028 closed

[2017-03-30 22:51] ericvicenti commented on #7652
The movies sample has been removed from the core RN repo, so I think we can close this

[2017-03-30 22:51] #7652 closed

[2017-03-30 22:52] ericvicenti commented on #12124
The samples have been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:52] #12124 closed

[2017-03-30 22:52] ericvicenti commented on #12024
The samples have been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:52] #12024 closed

[2017-03-30 22:53] ericvicenti commented on #7274
The movies sample has been removed from the core RN repo. Feel free to publish standalone example apps, and we can curate a list of them for the website.

[2017-03-30 22:53] #7274 closed

[2017-03-30 22:55] satya164 commented on #13221
If you go to android system settings and tap on a switch, you'll see the same behaviour.

[2017-03-30 23:03] brandensilva commented on #2088
provide clear value and can't be reasonably done otherwise. Since you can
easily use JS to do this, I don't think we'll provide specific support for
it.

@sahrens Providing clear value means you'd come to the conclusion that textTransform is far superior than inlining a toUppercase() all over <Text /> elements which quickly leads to unmaintainable code. With a pseudo CSS property it can be applied

[2017-03-31 00:49] tmpace commented on #13125
It seems I've fixed this by using `watchman` - However, this is not apparent anywhere on the official documentation (https://facebook.github.io/react-native/docs/getting-started.html).

Finding a windows version of `watchman` could also be easier.

[2017-03-31 01:20] 438198602 commented on #13213
why???

[2017-03-31 01:33] sahrens commented on #13151
No one is working on it to my knowledge so a PR would be appreciated :)

Just need to figure out the right API since we need to account for sections. I'll let you take a stab at it and we can iterate in review, just cc me in the PR summary.

[2017-03-31 01:38] Sam1301 commented on #10822
faced same issue, solved it by wrapping the contents of ` TouchableWithoutFeedback` within a `View` component.

[2017-03-31 02:02] nihgwu commented on #13151
@jpshelley 👍

[2017-03-31 02:17] WeweTom commented on #13175
@glcrazier yes, we did.

[2017-03-31 03:30] valeryq commented on #13214
@hramos What is the result of closing the task?

[2017-03-31 04:27] jtmarmon commented on #12956
as far as I can tell this is an issue on iOS as well

[2017-03-31 05:07] CoLagon opened #13229 "Task 'installDebug' not found in root project ''."
C:\dev\myApp>react-native run-android
Scanning 552 folders for symlinks in C:\dev\myApp\node_modules (15ms)
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat installDebug)...

FAILURE: Build failed with an exception.

* What went wrong:
Task 'installDebug' not found in root project ''.

* Try:
Run gradlew tasks to get a list of available tasks. Run with

[2017-03-31 05:10] CoLagon commented on #13229
I've been looking at this error for about a week now. I looked at every tutorial and even tried looking at stackoverflow for some answers. I can't run my app on my virtual device because of an error that doesn't specify what root project that installDebug needs to be in. I am running windows 10, any help will help me.

[2017-03-31 06:07] yustada commented on #12754
@Binb1
Have you tried `NSAllowsArbitraryLoadsForMedia` ?

Some ATS parameters have been added for iOS 10.0 and later and in macOS 10.12.
https://forums.developer.apple.com/thread/6767

[2017-03-31 06:41] xiongxiong opened #13230 "Animated doesn't work after setState is called"
### Description

I want to perform some change before animation start, so I called setState() before Animated.spring().start(), I expected the component is updated first then animated, but the animation isn't started at all. Is this a bug? If not, how should I do?

### Reproduction

Here's sample code:
...
this.setState({zIndexLeft: 0, zIndexRight: 1});
Animated.spring(this.state.contentPositionRi

[2017-03-31 06:49] mediaxtend commented on #13151
@jpshelley, can you have a look to sticky section header support too? ;)

[2017-03-31 06:57] glcrazier commented on #13175
@WeweTom It might be caused by your build script or your js bundle is not unzipped properly.

[2017-03-31 07:03] dewski commented on #7391
For those still looking to get this working, I found these steps to be of help:

1. Make sure **Linked Frameworks and Libraries** in the General tab includes all of the same libraries the main application includes.

![image](https://cloud.githubusercontent.com/assets/79995/24539753/f7b49dae-15bd-11e7-93f3-4c36d5449839.png)

2. **Other Linker Flags** in **Build Settings** has both `-ObjC` and `-lc+

[2017-03-31 07:09] jinlong commented on #13063
How to upgrade to React-Native 0.43-rc4?

[2017-03-31 07:29] YouHan26 opened #13231 "【IOS】Image cache control doesn't realize?"
I saw the `cache control` of Images in docs. So I use `force-cache` option for Image data cache.
But it not work. So I check the source code, I doesn't handle the cache options. The docs is fake?

![](https://image.ibb.co/mwpjgF/image.jpg)
![](https://image.ibb.co/cKvqMF/22.jpg)

[2017-03-31 07:44] moruiwei2 opened #13232 "全是英文,看不懂"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-03-31 07:45] gorangajic commented on #4968
this new packager https://github.com/callstack-io/haul should fix this issue

https://twitter.com/golenull/status/847713776283471872

🎊

[2017-03-31 07:53] Jacse commented on #4968
What repeatedly works for me is fully closing the Packager, the iOS simulator and running `react-native run-ios`again. Hasn't failed a single time yet.

[2017-03-31 07:58] colinramsay commented on #4968
@gorangajic is `haul` going to be the packager to ship with RN in future?

[2017-03-31 07:59] #12876 closed

[2017-03-31 08:01] saumya commented on #6004
As @lacker was saying we should open a new issue, has anyone opened a new issue for this? Or should we continue in this thread? For me, it seems we should continue here only and re-open this one.

[2017-03-31 08:20] grabbou commented on #3163
@charlle, please ask this question in react-navigation repository :)

[2017-03-31 08:21] carlobambo commented on #11743
Will this be fix or any workaround for this issue?

[2017-03-31 08:22] grabbou commented on #2558
In particular, I have worked on making ListView.DataSource comparator
return `false` when it doesn't have to rerender the view. I believe it's no
longer applicable as there's FlatList that offers better performance out of
the box.

On Fri, 24 Mar 2017 at 08:56 trcarlocastro <notifications@github.com> wrote:

[2017-03-31 08:22] leoselig commented on #4844
I can't help but find the solutions posted here not really helpful
I agree that the answer of @skevy does a great deal of explanation and gives a great workaround for the `stage-0`-folks

If babel's mechanisms are broken on purpose to achieve better performance, fine - but I'd expect an alternative "react-native way of adding my own presets or plugins"

Right now, we are failing to get rid of the

[2017-03-31 08:24] nihgwu commented on #13232
Shame on you

[2017-03-31 08:30] cbrevik commented on #11743
You could look at [other networking libraries](https://facebook.github.io/react-native/docs/network.html#using-other-networking-libraries) and see if they will work better.

Personally I went for a quick-fix instead, and reloaded the JS-bundle in order to get out of the bad state. Using [react-native-restart](https://github.com/avishayil/react-native-restart) worked fine for the latter.

[2017-03-31 08:39] carlobambo opened #13233 "BUG: onNewIntent is not called when app is killed by the system due to low memory"
### Description

onNewIntent is not getting called when the app is killed by the system due to low memory or by using memory booster app.

### Reproduction Steps and Sample Code

1. Set `android:launchMode="singleTop"` in android manifest
2. Install react-native-push-natifications
2. Open the app.
3. Put app in background.
4. Clear memory by using Solo Cleaner
5. Notify the app using GCM
6. Open t

[2017-03-31 08:40] leoselig opened #13234 "[babel-preset-react-native] Error with empty destructuring: babelHelpers.objectDesctructuringEmpty is not a function"
### Description

Empty destructuring operators do not work with `react-native-babel-preset`.

### Reproduction Steps and Sample Code

Setup `react-native` with a custom `.babelrc` like this:
[code]

Then, somewhere in your code, perform a destructuring on a function argument like this:

[code]

### Solution

Unsure. Probably the most obvious and quick solution, is to add the missing babel helper f

[2017-03-31 08:41] sundou commented on #12223
I set console.disableYellowBox = true;
and it works too.

[2017-03-31 08:47] twvdb commented on #371
+1

[2017-03-31 09:42] MnemosyneMei commented on #2570
After resizing all my images, it works well.. Thanks @ammichael .

[2017-03-31 10:03] #11668 closed

[2017-03-31 10:22] henrikra commented on #13221
@satya164 So basically Android has made bad UI component? :/

[2017-03-31 10:22] Braidio commented on #4357
Building on to what @manifestinteractive said. All I did to fix this was

It was a call that went feral. Thanks!

[2017-03-31 11:44] joonhocho commented on #11196
I am having the same issues. React native v0.42.3
[code]

[2017-03-31 11:47] rkretzschmar commented on #11196
Hi @joonhocho - sorry to hear that. Do you think you have time to try out my patch https://github.com/rkretzschmar/react-native/commit/d0a9c7df51b4567b1d11b394a73a1da9eb1c6d85 ?

[2017-03-31 12:02] sunnylqm commented on #13232
I was thinking of @nihgwu you before I clicked into this...

[2017-03-31 12:39] jpshelley commented on #13151
@mediaxtend PRs get merged faster if broken into smaller 'sections', so you should probably submit a new issue for it.

[2017-03-31 13:09] olegdizus commented on #393
Thanks! I'll try it later.

[2017-03-31 14:00] keshavkaul commented on #11101
I'm running react-native v 0.42.0 and am facing problems in laying out WebView with flex
[code]

In the above snippet, the WebView flex should cover more height as I have set `flex=10`. But that's not the case.
![simulator screen shot 31-mar-2017 7 24 04 pm](https://cloud.githubusercontent.com/assets/3319809/24553383/ba50ee42-1647-11e7-9b11-5cb271d6d426.png)

**Comparing the above to working flex

[2017-03-31 14:20] wootwoot1234 commented on #11565
This is still confusing to me too...

[2017-03-31 14:48] rickvandermey opened #13235 "[WebView, iOS] not rendering anything"
I am trying to render a certain page, even some basic HTML or a site like m.facebook.com will not render in iOS. When in Android i don't have any problems. Is this a bug, or just badly implemented

Code: https://jsfiddle.net/sk1uon0L/

[2017-03-31 14:49] sahrens commented on #13151
Sticky headers are already in master.

[2017-03-31 14:55] satya164 commented on #13221
I guess

[2017-03-31 14:55] satya164 commented on #13221
Probably we could animate the color change to make it feel nicer.

[2017-03-31 15:02] mediaxtend commented on #13151
@jpshelley, got it for the next time! :innocent:
@sahrens, I thought they were not because I've read:

(https://github.com/facebook/react-native/blob/master/Libraries/Lists/SectionList.js#L111)

(https://github.com/facebook/react-native/blob/master/Libraries/Lists/SectionList.js#L149)

I have to test this.

[2017-03-31 15:10] f0rr0 commented on #12543
@janicduplessis running into the same issue on the latest master

[2017-03-31 15:22] f0rr0 commented on #12543
@janicduplessis further more i think the incorrect value is always the upper limit of the output range.

[2017-03-31 15:23] rclai commented on #7391
Thanks @dewski I'll have to give that a try.

Also, linking to [this issue](https://github.com/rclai/React-Native-Today-Widget/issues/1) as the continuation of your post.

[2017-03-31 15:32] alloy commented on #393
@olegdizus Oh btw, you also need the RN patch that’s applied to 0.42 in my fork https://github.com/alloy/react-native/tree/v0.42.0-with-customisable-source-exts. We’re in the process of making it all work with 0.43.rc1, some things have changed.

[2017-03-31 15:34] f0rr0 commented on #12543
@janicduplessis also this issue is iOS specific finely, works fine on android

[2017-03-31 15:37] zeeshanhanif commented on #12344
I faced the same problem, it is because adb in not in your path.
Add adb in your path and it will work fine.
adb will be in <root/sdk/platform-tools>

[2017-03-31 15:54] sahrens commented on #13038
See my first comment - nesting them isn't really recommended. Try to make your outer ScrollView a ListView (or ideally FlatList or SectionList) with the web view and text input rendered in the header.

[2017-03-31 16:03] AliakseiRusetski opened #13236 "Application and Package naming in manifest"
### Description
Using command
`react-native init MyApp --package="com.mycompany.myapp"`
or
`react-native init MyApp --package com.mycompany.myapp`
or
`react-native init MyApp --package=com.mycompany.myapp`
does not give properly created package in _AndroidManifest.xml_.
(I've come from this link [stackoverflow](http://stackoverflow.com/questions/40281569/use-specific-package-name-when-setting-up-a

[2017-03-31 16:03] thurt opened #13237 "Flow cannot access types defined in source code"
### Description

it looks like there are lots of nice flow typing already inlined for many react native apis/components. but my flow typechecker is not able to access them in my project.

**I'm guessing Flow is not able to leverage the existing types in the source, possibly due to this file using getters (flow cant resolve types from getters?)** :

https://github.com/facebook/react-native/blob/0.4

[2017-03-31 16:06] kevinpumpup opened #13238 "Using newer version flow with older version react-native"
### Description

Note: I originally posted this on https://github.com/facebook/flow/issues/3624.

Currently each react-native version looks to be tied to a flow version. For example, `react-native@0.40.0` is tied to `flow@^0.36.0` per the former's stock `.flowconfig` file.

The semver `flow@^.36.0` has been pretty clear that any newer version say `0.37.0` is not supposed to work. Nonetheless I sti

[2017-03-31 16:20] QuantumInformation commented on #4968
I tried a rel import, but get the same error. I give up I'm gonna try haul.

https://github.com/QuantumInformation/react-native-cron/blob/master/demo/index.ios.js#L10

[2017-03-31 16:32] jpamarohorta commented on #11557
Any idea why this sometimes happens? I'm having the same problem and I usually develop iOS e Android +- at the same time

[2017-03-31 16:40] hramos commented on #13214
The issue failed to provide all the information required by the new issue template, therefore it was closed.

[2017-03-31 16:41] hramos commented on #13213
Please read the issue template.

[2017-03-31 16:42] #13235 closed

[2017-03-31 16:43] #13232 closed

[2017-03-31 16:44] #13231 closed

[2017-03-31 16:44] hramos commented on #13230
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-31 16:44] #13230 closed

[2017-03-31 16:44] hramos commented on #13229
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-31 16:44] #13229 closed

[2017-03-31 16:45] hramos commented on #13237
FWIW, generally issues that link out to SO hardly get any attention. It'd be best if the issue here contained all the necessary information.

[2017-03-31 16:57] olegdizus commented on #393
@alloy, okay. Do you added a PR to react-native repo? I want to vote for =)

[2017-03-31 17:00] thurt commented on #13237
@hramos thanks, updated initial post with full details

[2017-03-31 17:06] claykohut opened #13240 "Hot Reloading not working with React-navigation (refreshes entire route stack to initialRoute instead of just the component)"
**Description**

I'm having trouble getting hot reloading to work on our app. Changes seem to be submitting / the app shows a banner showing that changes are applied but nothing happens / updates.

If I change the entry point index component to be a stateful component which returns the App component, then changes seem to update but the react-navigator stack resets to the initial route.

Can anyone

[2017-03-31 17:09] hramos commented on #13240
cc @ericvicenti

[2017-03-31 17:16] mdstaff commented on #13038
@sahrens Thanks for the quick reply!

[2017-03-31 17:32] robwalkerco commented on #11557
@jpamarohorta Not sure why it happens, but I can fix it by deleting `node_modules` and re-running `yarn` (or `npm install`).

I can only guess that Android Studio is somehow changing stuff in `node_modules` but as I ignore the folder in git, I have not been able to see what. Perhaps we should try adding it to git, then see what has changed when the error occurs? Will report back what I find!

[2017-03-31 18:29] hramos commented on #5688
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:29] #5688 closed

[2017-03-31 18:30] hramos commented on #12918
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:30] #12918 closed

[2017-03-31 18:30] hramos commented on #12633
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:30] #12633 closed

[2017-03-31 18:31] hramos commented on #12604
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:31] #12604 closed

[2017-03-31 18:31] hramos commented on #12555
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:31] #12555 closed

[2017-03-31 18:31] hramos commented on #12476
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:31] #12476 closed

[2017-03-31 18:31] hramos commented on #12324
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:31] #12324 closed

[2017-03-31 18:31] hramos commented on #12342
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:31] #12342 closed

[2017-03-31 18:32] hramos commented on #12311
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:32] #12311 closed

[2017-03-31 18:32] farazs opened #13241 "[Android] Webview scroll gets stuck when form autocomplete is displayed"
### Description

On a Android 7.0 high-resolution device, if you have a webview that goes to a page with a form on it, and that form is completed once, the webview saves the form data. When you go to the same form again and tap on a field, the autocomplete suggestion dropdown is displayed and when this happens the webview scrolls to the top and gets stuck there. When trying to scroll down, the web

[2017-03-31 18:33] hramos commented on #12003
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:33] #12003 closed

[2017-03-31 18:33] hramos commented on #12044
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:33] #12044 closed

[2017-03-31 18:33] hramos commented on #12046
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:33] #12046 closed

[2017-03-31 18:33] hramos commented on #12075
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:33] #12075 closed

[2017-03-31 18:33] hramos commented on #12186
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:33] #12186 closed

[2017-03-31 18:34] hramos commented on #11934
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:34] #11934 closed

[2017-03-31 18:34] #11826 closed

[2017-03-31 18:34] hramos commented on #11825
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:34] #11825 closed

[2017-03-31 18:34] hramos commented on #11704
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:34] #11704 closed

[2017-03-31 18:34] hramos commented on #11344
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:34] #11344 closed

[2017-03-31 18:35] hramos commented on #11218
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #11218 closed

[2017-03-31 18:35] hramos commented on #10847
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10847 closed

[2017-03-31 18:35] hramos commented on #10810
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10810 closed

[2017-03-31 18:35] hramos commented on #10805
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10805 closed

[2017-03-31 18:35] hramos commented on #10780
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10780 closed

[2017-03-31 18:35] hramos commented on #10742
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10742 closed

[2017-03-31 18:35] hramos commented on #10683
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10683 closed

[2017-03-31 18:35] hramos commented on #10560
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10560 closed

[2017-03-31 18:35] hramos commented on #10525
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:35] #10525 closed

[2017-03-31 18:36] hramos commented on #10473
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:36] #10473 closed

[2017-03-31 18:36] hramos commented on #10023
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:36] #10023 closed

[2017-03-31 18:36] hramos commented on #9200
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:36] #9200 closed

[2017-03-31 18:36] hramos commented on #8607
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:36] #8607 closed

[2017-03-31 18:37] hramos commented on #8003
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:37] #8003 closed

[2017-03-31 18:37] hramos commented on #10142
Closing as ListView is deprecated in 0.43. Use FlatList.

[2017-03-31 18:37] #10142 closed

[2017-03-31 18:37] hramos commented on #9452
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-31 18:37] #9452 closed

[2017-03-31 18:37] #8677 closed

[2017-03-31 19:09] alfonsogoberjr commented on #521
None of the above has worked for me. 0.42.3

[2017-03-31 19:17] despreston commented on #10138
+ 1

[2017-03-31 19:22] hramos commented on #12456
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:22] #12456 closed

[2017-03-31 19:22] hramos commented on #12181
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:22] #12181 closed

[2017-03-31 19:22] hramos commented on #11905
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:22] #11905 closed

[2017-03-31 19:22] hramos commented on #11734
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:22] #11734 closed

[2017-03-31 19:23] hramos commented on #11683
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #11683 closed

[2017-03-31 19:23] hramos commented on #10600
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #10600 closed

[2017-03-31 19:23] hramos commented on #9610
Navigator has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #9610 closed

[2017-03-31 19:23] hramos commented on #10598
Navigation Experimental has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #10598 closed

[2017-03-31 19:23] hramos commented on #11114
Navigation Experimental has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #11114 closed

[2017-03-31 19:23] hramos commented on #11377
Navigation Experimental has been deprecated in favor of the [`react-navigation`](https://reactnavigation.org) library.

[2017-03-31 19:23] #11377 closed

[2017-03-31 20:11] janicduplessis commented on #12543
Just tested on master and I it works properly with @scarlac's repro. Might be fixed by c9fae2fb935c7b7b619b246f42b3fb9d3c14c9ac which landed 3 days ago. If someone is still running into a similar issue could you please provide a new repro so I can try it out?

[2017-03-31 21:03] jordantjh commented on #7308
This method works for me. Init your project with a lower RN version:

"    react-native init --version="0.38.0” AllTheBestApp    "

[2017-03-31 21:16] mrbrentkelly commented on #12289
Same issue here. App crashes a few seconds after enabling remote debugging on my Android Emulator

RN: 0.42.3
Android 7.1.1
OS X 10.12.3

[2017-03-31 21:22] alexpoe22 commented on #12289
Like a four car pileup

React Native version: 0.42
Platform: iOS
OS: OS X 10.11.6
JS Debugger: Chrome Dev Tools, React Native Debugger

[2017-03-31 21:32] joshjconlin opened #13243 "Cannot Add a child that doesn't have a YogaNode to a parent with out a measure function"
I've been trying to get React Native up and running for a project I'm working on. It works beautifully for IOS, however on Android every time I try to use a Text component I keep getting the error
[code]
my entire code is
[code]

I'm using react native 0.4.3
Any ideas what could be causing this and how I could fix it?

[2017-03-31 21:56] mcmatan commented on #7308
1. Kill processes on port 8081
2. rm -rf ios/build/* (Delete all files in iOS build folder)
3. Reboot
4. Open up in XCode and change the scheme from building for a Release to Debug.

[2017-03-31 22:35] jakecraige commented on #12608
Did y'all consider naming/renaming the `app.json` file something different? Maybe `rn-app.json`, `config-app.json`, `app-config.json` etc?

I just came across this same thing and spent a solid few hours attempting to debug before finding this issue. For the SEOs, I was getting the `__fbBatchedBridge` error.

I've seen many apps that have an `app/index.js` file so while this is expected behavior of

[2017-03-31 22:44] janicduplessis commented on #13243
Does it work if you wrap the Text inside a view? It's possible it doesn't work because you app is only a Text node and might require at least one View, at least on Android.

[2017-03-31 22:49] janicduplessis commented on #13238
Sadly I don't think this will be possible since new versions of flow may create new errors inside the RN codebase (every time we update flow we end up adding a few // $FlowFixMe or fix those new errors). As someone mentionned in the flow issue the best solution if you really don't want to update RN is to ignore react-native and create your own type interface for it.

[2017-03-31 22:49] #13238 closed

[2017-03-31 22:52] janicduplessis commented on #13237
This is actually a regression in recent RN versions, we used to do a hack to work around getters not working but they do work now so we removed the hack but didn't enable flow in react-native-implementations.js which exports all RN modules.

I have a PR up to fix this but it hasn't been reviewed yet. https://github.com/facebook/react-native/pull/12917

[2017-03-31 22:55] rhysburnie commented on #12608
@jakecraige yeah that was my original point, no one seemed interested tho.
Also when you first create an app the `app.json` doesn't exist, its being generated when you start up for some reason, not sure why, it only contains data you can get dynamically from other sources like the `package.json`.
I of course simply don't use an `app/index.js` now because I know, but I don't get why you wouldn't si

[2017-03-31 23:02] janicduplessis commented on #13207
This is probably related to bugs with layout delete animations. The issue is pretty complex and sadly I don't have time to figure out a proper fix for it at the moment. One way you can work around the issue is create the layout animation with the delete one with:

[code]

If someone would like to put up a PR to remove delete animation from the default preset that could be a good temporary solution

[2017-03-31 23:11] joshjconlin commented on #13243
I just tried that and I still got the same error unfortunately

[2017-03-31 23:40] udfalkso opened #13245 ""unterminated string constant" when generating production bundle"
### Description

I've just upgraded from 0.39 to 0.42.3 and things seem to be working well, but I can't do a non-dev build.

[code]

Changing ```--dev true``` works however.

[code]

### Reproduction Steps and Sample Code

Unfortunately this error is so vague that I'm not sure where to begin with reproducibility other than to upload my entire codebase, which unfortunately isn't possible.

Does any

[2017-04-01 00:19] CoLagon opened #13246 "Task 'installDebug' not found in root project ' '."
### Description

Hi, I am new to react/react-native and I have a problem that I've been trying to fix for a week. I've created a react native app with the **react-native-cli** with the cmd: `react-native init myApp`. After my app gets created automatically. I run this command: `react-native run-android` and I get this error:

![runandroidfail](https://cloud.githubusercontent.com/assets/20275733/24

[2017-04-01 00:21] bedemiralp commented on #10823
#11897

[2017-04-01 00:24] bedemiralp commented on #10823
This problem is also reported under #11897

[2017-04-01 01:08] tigerohuang commented on #13193
how can I fix it now before new react native version published?

[2017-04-01 03:02] 438198602 commented on #13213
@hramos I cannot find the issue with my problem in the issue template. help me, please.

[2017-04-01 03:12] thiensubs commented on #13246
What's version of gradle?
EX:
`distributionUrl=https\://services.gradle.org/distributions/gradle-2.14.1-all.zip'`
And what's version of build tool grade?
EX:
 `classpath 'com.android.tools.build:gradle:2.2.3'`

[2017-04-01 03:35] hey99xx commented on #7652
@ericvicenti Did you even read this issue in the first place? It **literally** had nothing to do with movies sample app.

[2017-04-01 05:10] CoLagon commented on #13246
@thiensubs My classpath is: `classpath 'com.android.tools.build:gradle:2.2.3'`

[2017-04-01 05:18] CoLagon commented on #13246
@thiensubs and yes my distributionUrl is: `distributionUrl=https\://services.gradle.org/distributions/gradle-2.14.1-all.zip`

[2017-04-01 06:00] svicalifornia commented on #7308
I just got it working. I had to update Xcode to 8.2.1 (the latest version supported on El Capitan), and then (IMPORTANT!) had to remove the build directory. When you try any of the solutions above, be sure to remove your iOS build directory before running again:

    rm -rf ios/build/
    react-native run-ios

[2017-04-01 07:10] jjhesk commented on #12737
in my case I got this error from having the workspace file saved in the folder `ios` and it stopped from using command `react-native run-ios`.
[code]

[2017-04-01 07:35] jjhesk commented on #13182
same here ++

[2017-04-01 07:57] tigerohuang commented on #13017
@droidwolf, where can I find the newest version of react and react-native such as  react@~16.0.0-alpha.3 and react-native@0.43.0-rc.1 , I only can find 0.42.3

[2017-04-01 08:02] hfossli commented on #5590
I would love to see this reopened.

[2017-04-01 09:05] npomfret commented on #12261
@cwRichardKim yes, creating a brand new project from scratch worked.  After linking I had to do a bunch of manual steps, (which I've added to to some documentation now) such as

 * the version number
 * the deployment target
 * some manual linking (such as the CameraRoll module)
 * the versioning scheme
 * the provisioning profile management
 * team setting
 * launch images
 * various extra manual

[2017-04-01 10:41] liuliangsir commented on #3082
@phanngoc thx~

[2017-04-01 11:22] QuantumInformation commented on #4968
@gorangajic I'm having a refresh issue with haul, have you had any luck so far?
https://github.com/callstack-io/haul/issues/78

[2017-04-01 12:39] eshwarramesh commented on #11581
I'm sorry but where is `onMessage` defined? (`this.onMessage`)

[2017-04-01 12:44] eshwartm commented on #11581
Where is `onMessage` defined from `this.onMessage`?

[2017-04-01 12:49] Air-Miha commented on #13246
Hey @CoLagon,

I cloned your project locally, ran `npm install`,  and then `react-native run-android`. I got an error, but not the same one as you. It just said that it couldn't install the app on the device. Then I ran  `./gradlew installDebug` from the `android` directory and got a permission denied error.

After I did `chmod +x gradlew`, I navigated back to the root directory. I ran `react-nati

[2017-04-01 14:29] acomito commented on #12754
I will randomly get this error for almost no reason (not running a proxy, not making any crazy project changes). To fix it I will delete my node_module, then re ` npm install` and it works. But it is a little worrying that it happens so randomly.

[2017-04-01 14:59] droidwolf commented on #13017
https://github.com/facebook/react-native/releases

[2017-04-01 15:43] charlesfranciscodev commented on #239
I get a similar error and I don't know how to fix it.
Ubuntu 16.04.2 LTS
watchman version 4.7.0
MAX_WAIT_TIME = 120000

Error: Watchman error: Watcher took too long to load (WatchmanWatcher)
Try running `watchman version` from your terminal
https://facebook.github.io/watchman/docs/troubleshooting.html. Make sure watchman is running for this project. See https://facebook.github.io/watchman/docs/tro

[2017-04-01 16:47] sahrens commented on #13151
Oh ha, forgot to update that comment!

[2017-04-01 17:20] olivierIllogika commented on #13020
For the sake of documenting this issue further and helping others stumbling here for answers, this is caused by the following commit: https://github.com/facebook/react-native/commit/453e70d19c28b56dfcecfe205ccd4ccad2b33009

React native version: 0.42.3
Platform: iOS
Dev system: MacOS
Dev tools: Xcode 7.3.1, iOS target 8.0

Updating Xcode to 8+ should fix this. Workaround if you want to stick to Xc

[2017-04-01 21:08] CoLagon commented on #13246
Hey @Air-Miha ,

Thanks for checking out my problem. So I ran cmd gradlew inside the android directory and got this:

![gradlewtaskssuccess](https://cloud.githubusercontent.com/assets/20275733/24582405/27ceaad0-16e4-11e7-95d4-75a716254f49.PNG)

so it seems that `gradlew tasks` builds successfully. Is that weird that `gradlew tasks` builds successfully but `gradlew build` doesn't?

[2017-04-01 21:39] thurt commented on #12363
Some updates:

Linking library mock is coming #13049

and for anyone looking for info on what mocks are currently provided, you may look here https://github.com/facebook/react-native/blob/master/jest/setup.js

[2017-04-01 22:21] flaurida opened #13249 "Cannot get initial React Native App to Run"
### Description

I can't get an initial React Native app to run, following a basic tutorial. The error seems to have to do with `UIUserInterfaceIdiomCarPlay`.

### Reproduction Steps and Sample Code

Following the tutorial [here](https://facebook.github.io/react-native/releases/0.23/docs/tutorial.html#content)

I created a new React Native project `react-native init AwesomeProject`
Then went into

[2017-04-01 23:05] brunolemos commented on #321
I really believe we should reopen this issue. (or #10456)

1. WebView was deprecated by Apple, [WKWebView](https://developer.apple.com/reference/webkit/wkwebview) is strongly recommended:
[![image](https://cloud.githubusercontent.com/assets/619186/24583061/2ddc9654-1715-11e7-9eeb-c9da669cf823.png)](https://developer.apple.com/reference/webkit/wkwebview)

2. [Fix performance issues](https://github.

[2017-04-01 23:40] whoadave commented on #11498
@tedjames why the `yarn add uuid` in your fix?

[2017-04-01 23:55] lazaridis-com commented on #13249
@flaurida , don't know react, but the tutorial you refer too was written for version 0.23, and it looks it was not updated to the latest 0.42 version you're using.

Pick this one as a starting-point:

https://facebook.github.io/react-native/releases/0.42/docs/tutorial.html

-

If you have more problems, you better ask at...

http://stackoverflow.com/questions/tagged/react-native

...because the is

[2017-04-02 01:47] flaurida commented on #13249
Thank you for the prompt reply! However, I am not even getting the basic app to run for the errors I highlighted. The tutorial you link to has the same setup instructions that I was using:
[code]

I am still getting the same error.

[2017-04-02 02:14] lazaridis-com commented on #13249
(note that I'm just a guest here, like you)

Ok, this looks pretty basic... so I guess you possibly hit on a bug. You have to await a response from some contributor who is on mac (you may want to post your version numbers, xcode version seems to play a role, e.g. using the latest one)

(as an off-topic sidenote: I'm just going through the basic tutorials of angular2 on win10... it's pure headache,

[2017-04-02 05:29] binoy14 opened #13251 "Clear function on TextInput does not call onChange"
### Description

When calling clear function on TextInput, it does not call `onChange` or `onChangeText` method.

### Reproduction Steps and Sample Code

https://snack.expo.io/ry1B5ZR2g

### Solution

What needs to be done to address this issue? Ideally, provide a pull request with a fix.

### Additional Information

* React Native version: 0.42.0
* Platform: both
* Development Operating System: M

[2017-04-02 06:41] trung1008 opened #13252 "i'm using Linking.openURL(url). But url being open in safiri. i want to link open in my app. Anyone can help me."
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-04-02 06:50] sdeleon28 commented on #12817
I can reproduce this. If you set `borderWidth: X`, the four borders get drawn, but if you use `borderBottomWidth` (to achieve the rather common effect of dotted underlining) no borders show up.

[2017-04-02 07:37] sdeleon28 commented on #7838
I was able to achieve this effect by using this hack:

[code]

[2017-04-02 07:41] sdeleon28 commented on #12817
You can use this workaround -> https://github.com/facebook/react-native/issues/7838#issuecomment-290970249

[2017-04-02 09:18] solartcc opened #13253 "[Android] A random exception occurred while updating prop xxx"
### Description

I embed two `ReactFragment` into `ViewPager` of a `Activity`, each `ReactFragment` loads a different bundle file at the same time. Then we have come across a random crash as the log below, probability is about 60-70%. According to the information, it seems that ReactNative has some problem on dealing with multi `ReactFragment` loaded at the same time in a same `Activity`.

The bun

[2017-04-02 10:00] Air-Miha commented on #13246
@CoLagon,

I reinstalled everything Android related on my machine with Windows 7. I followed the [official instructions](https://facebook.github.io/react-native/docs/getting-started.html). I was able to run your application on my device. Actually, the installation eventually failed because of insufficient storage, but in your case this would be a good problem to have :).

Notice that your root pro

[2017-04-02 10:41] npomfret commented on #3049
I'm still getting mega-slow navigation transition animations on a physical android device running RN0.42.

Tried turing off dev mode, which did improve it slightly but not much.  Any other suggestions?

[2017-04-02 10:49] LeoAref opened #13254 "How to create a dropdown menu"
I'm wondering how we can have a dropdown similar to the given screenshots from *Google Translate* app, I searched in the docs and didn't find anything

![screenshot_2017-04-02-12-43-54](https://cloud.githubusercontent.com/assets/6577222/24586496/b0d48d7c-17a2-11e7-99c0-0a19fbd09927.png)

![screenshot_2017-04-02-12-44-02](https://cloud.githubusercontent.com/assets/6577222/24586495/b0d0898e-17a2-11e

[2017-04-02 10:58] LeoAref commented on #13254
I found this https://github.com/jaysoo/react-native-menu, I'll give it a try and post he my thoughts about it

[2017-04-02 11:14] grundmanise commented on #2552
@shergin RN 0.42 - `onChange` still does not called after autocorrect

[2017-04-02 11:56] sergeylaptev commented on #11071
Same issue on iOS and Android. React-native 0.42 ;-/

[2017-04-02 13:56] G2Jose commented on #1204
@anirudh24seven the links you mentioned do not work (anymore)

[2017-04-02 15:10] henrikra commented on #13221
I would not make hacks to this native component. If it is like that then I would close this :)

[2017-04-02 15:30] atdrago commented on #12440
Just want to add that this still occurs in 0.42 and also affects MacOS,

[2017-04-02 15:39] henrikra commented on #3198
Here is my reproduction of the problem: https://snack.expo.io/ByMfo50hx

[2017-04-02 16:11] lazaridis-com opened #13256 "[PROJECT] Provide Clarifications about "Public vs. Facebook Internal Version""
source: https://github.com/facebook/react-native/issues/3198#issuecomment-241867280

And then we see a user-base doing kind of an "organized plea", asking the "masters" to give a bit more:

https://react-native.canny.io/feature-requests/p/add-overflow-support-to-android

Is this the way "Facebook Open Source" works? I am **highly** disappointed.

I think its a matter of project-transparency, that

[2017-04-02 16:48] flaurida commented on #13249
I solved the issue by installing the new Mac OS and updating Xcode, thanks!

[2017-04-02 16:48] #13249 closed

[2017-04-02 17:11] LeoAref commented on #13254
#### Update:
https://github.com/jaysoo/react-native-menu works fine without any issues!

[2017-04-02 17:11] #13254 closed

[2017-04-02 17:40] ahmedlhanafy opened #13257 "Image component reduces the quality of images"
### Description

I have an image component (in a `<ScrollView/>` to be able to zoom in the image) and there is a noticeable difference in quality between the photos app on IOS and the RN app when the photo is zoomed in.

Changing the `scale` in `source` prop or `resizeMode` prop doesn't change anything.
Here is the image in photos app
![screen shot 2017-04-02 at 7 29 54 pm](https://cloud.githubuse

[2017-04-02 19:45] AlexanderFillbrunn opened #13258 "Crash when swiping finger into screen from the edge"
### Description

When moving the finger from outside of the screen into the screen (left or right) in any of the Android React Native apps I tested, the app crashed on my Huawei P10. This might be the same as issue #13193, but that issue has been closed, probably due to insufficient description of the problem. Other non-react-native apps do not seem to have that problem.

### Reproduction Steps an

[2017-04-02 22:05] CoLagon commented on #13246
@Air-Miha

the new android sdk update doesn't have a GUI. I downloaded a workaround to getting the GUI back. Did you have a GUI to work off of? or were you doing everything sdk and avd related in a the cmd prompt? I'll delete everything android related I reinstall everything again.

[2017-04-02 23:33] llioor opened #13259 "Can not build after install react-native-fbsdk"
I got this error:
[code]

It starts after I installed fbsdk and I went through all steps one by one (few times).
Any help please?

[2017-04-03 00:15] butchmarshall commented on #10795
I get this crash randomly while using [react-native-loading-spinner-overlay](https://www.npmjs.com/package/react-native-loading-spinner-overlay)

[2017-04-03 00:30] r4ggj commented on #13258
huawei mate9 has the same problem! how to resolve this problem?

[2017-04-03 00:32] r4ggj commented on #13193
huawei mate9 has the same problem,how to fix?

[2017-04-03 03:42] jpshelley commented on #13151
@sahrens I started a branch on this work here and wanted to get your (and others) thoughts on the API.
https://github.com/jpshelley/react-native/tree/SectionList-AddScrollToSupport

I'm basically just making a wrapper call to the underlying `VirtualizedSectionList` which calls the `VirtualizedList`. The `scrollToEnd` is a fairly trivial function to show the implementation, with `scrollToIndexInSec

[2017-04-03 03:45] willdawsonme commented on #12543
No luck here, but here's a repro! https://snack.expo.io/SyQd4Bkal It doesn't actually need interpolated values, just an Animated.Value.

In the repro, the ScrollView starts at an arbitrary x offset. After 3 seconds, the Header is re-rendered with a state update, which causes it to ignore the animated translateX value on the header until you re-scroll the main view.

Let me know if you need any mor

[2017-04-03 04:59] CoLagon commented on #13246
@Air-Miha

I Removed everything that was Android related on my Device and reinstalled everything. It still says the same error: I don't know what I'm doing wrong. I have my environment variables set correctly. I have an avd running on my computer. I followed the React documentation and still not luck. It makes no sense that it runs correctly on your computer but on my computer it can't run. I'm so

[2017-04-03 05:18] CoLagon commented on #13246
@Air-Miha

HEYYYYYYYYYYYYY!!!!!!!! I FIXXED IT!!!!!!!!!!! OMG. I'm so happy. Thank you so much you inspired me to think and fix the problem.  so when you said that it might be my environment, I scratched my head was thinking about my environment variables and things I did to my computer. So about a month ago I went into my registry editor (regedit) and made a new string value in `HKEY_CURRENT_USER