[2017-03-14 05:24] Jakevin commented on #12895
+1
When I do reload at using Remote JS Debug.
[code]

[2017-03-14 05:24] avivaWang commented on #12784
Dear @janicduplessis , the CommentInput component did not included in a ScrollView, at first , the Button(TouchableHightlight) can receive the onPress method, but after several quick open the CommentInput component use keyboard to input some text and at the same time press the background to close the CommentInput., next Time the Button component won't accept the onPress method at the first tap, an

[2017-03-14 05:27] utopianism commented on #1964
+1

[2017-03-14 05:27] sahrens commented on #12827
What if you set the threshold to zero?

[2017-03-14 05:50] alphasp commented on #12827
@sahrens If `onEndReachedThreshold` is set to zero, `onEndReached` will be trigger when reach end of list. However if the threshold is set to more than 0, for example 10, `onEndReached` will be trigger before it go past the threshold value due to this line
https://github.com/facebook/react-native/blob/master/Libraries/CustomComponents/Lists/VirtualizedList.js#L591
where you compare `distanceFromEn

[2017-03-14 05:53] hramos commented on #12913
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-14 05:53] #12913 closed

[2017-03-14 05:55] hramos commented on #12897
Thanks for the feedback - I fixed this in master last week: http://facebook.github.io/react-native/releases/next/docs/getting-started.html

[2017-03-14 05:55] #12897 closed

[2017-03-14 06:10] yanqiw commented on #10845
+1

[2017-03-14 06:54] cesarkawakami commented on #12754
I'm just leaving this here, in case other people stumble upon the same cause.

In our team's case, during the migration to 0.42.0, we've accidentally removed the "Bundle React Native code and images" build phase from the XCode project.

Manually re-adding the phase solved the problem, but we're left scratching our heads as to when or how the phase was removed.

![sglearner_xcodeproj](https://cloud

[2017-03-14 07:27] dsernst commented on #2215
FYI this `react-native-invoke` tutorial shows how to create a `getContentOffset` method: https://medium.com/@talkol/invoke-any-native-api-directly-from-pure-javascript-in-react-native-1fb6afcdf57d#.df3j2w5ne

Re @brentvatne's [request for a use-case](https://github.com/facebook/react-native/issues/2215#issuecomment-139922385), I have a list of items in my ScrollView, which are each links to a diff

[2017-03-14 07:56] niztal commented on #12401
@ericvicenti I think this issue should be reopened since it was prove by all the guys here , that the problem exist.
Thanks.

[2017-03-14 08:15] RalfNieuwenhuizen opened #12918 "ListView sometimes leaves an extra pixel between rows"
Once every two or three rows the ListView has an empty pixel row between the actual rows of the list. Any clue where this comes from?

[2017-03-14 08:27] Choicelin commented on #4845
the last few comments seems to associate with the performance of our simulator or mobile,I think it is the reason too.

[2017-03-14 08:33] alloy commented on #11781
@joshuafeldman Can you share a reduced example app that demonstrates the problem?

[2017-03-14 08:37] npomfret commented on #12261
If you want to try @thatjuan's technique of unlinking your project before attempting the upgrade, then there's a node script [here](https://github.com/npomfret/upgrading-react-native#unlink-your-xcode-project) that will help with the unlinking process.

I tried, and still had loads of conflicts.  I attempted to resolve them by hand but the resulting Xcode project wouldn't compile, it had some sort

[2017-03-14 08:41] Anima-t3d commented on #6110
I have this issue with android. Running `react-native 0.42.0` I only got it fixed in 1a and 1b by setting `flex:1` in the element style, setting `flex: 1` on the element with `flexDirection: 'row'` does not fix it (see 1c and 1b).
[code]
Any updates on this?

[2017-03-14 08:47] izadmehr commented on #7617
@sampurcell93 thanks.
You are right.
The error came from 'Ripple drawable is not available on android API <21'. It came from using TouchableNativeFeedback.Ripple on android below 5.
it's better to use canUseNativeForeground before setting background.

[2017-03-14 08:49] davidpelayo commented on #12737
same issue happening here.
[code]

[2017-03-14 08:55] philjoseph commented on #12685
@Msspl-PrashenjeetRoy - Did you reported your issue ? we have something similar and prefer not to create duplicates report

[2017-03-14 09:41] henryw374 commented on #12686
I know you said you increased the memory, but was it using this command below? Issue 5196 refers to a few ways of changing it, some of which seem to be outdated.

`
node --expose-gc --max_old_space_size=4096 ./node_modules/react-native/local-cli/cli.js bundle --entry-file ./index.ios.js --platform ios --dev false --bundle-output "ios/main.jsbundle" --assets-dest "ios" --reset-cache
`

[2017-03-14 09:45] ArwaLh commented on #7572
Thank you so much !! Now it's working for me

[2017-03-14 09:52] swaroopa94 opened #12922 "How to store images in Async Storage"
Hi,

I am using Async Storage concept to store my data.

I am getting an uri of my image an I want to store that i mage in Async and show the image when i am in offline.
How can I do this.
Can anyone help me in solving this.

[2017-03-14 09:53] grundmanise commented on #12722
@mnkang89 thanks for sharing. I also used `getItemLayout`, without `getItemLayout` not a whole list is scrollable, it appends list items as you scroll.

[2017-03-14 10:03] antoinerousseau commented on #5886
@mmazzarolo what happens on March 15 (tomorrow)?

[2017-03-14 10:22] sudotliu commented on #11655
I'm having issues using numerous flow versions with RN as well. Hundreds of errors in `node_modules/react-native` each time with numerous different versions of flow including the latest.

I will probably just rely on PropTypes for similar effect in the meantime, but it's pretty bad practice to even mention a tool like Flow (see https://facebook.github.io/react/docs/typechecking-with-proptypes.html

[2017-03-14 10:25] sarahmarciano commented on #10987
I met the same problem, @rafales did you solve it??

[2017-03-14 10:26] mmazzarolo commented on #5886
[Google Play’s New Privacy Policy Rule Goes into Effect on March 15th](https://www.xda-developers.com/google-plays-new-privacy-policy-rule-goes-into-effect-on-march-15th/), and READ_PHONE_STATE is one of the permissions that will force you to publish a Privacy Policies document.

[2017-03-14 10:33] ExplodingCabbage commented on #12897
Oops, I probably should've check that before opening an issue. Thanks, @hramos.

[2017-03-14 10:38] avkvak commented on #11248
Same question. Up :)

[2017-03-14 10:40] SandroMachado commented on #10845
I am experiencing the same issue. The only way I found to avoid the crash is wrapping the next action in a `setTimeout(..., 1000)` to give time to the modal to be dismissed.

[2017-03-14 10:42] studio3w commented on #12717
Had the same problem with SwiftKey Keyboard. Following fixed it for me:
#12923

[2017-03-14 10:58] rafales commented on #10987
We created custom back android module which did not use sets under the hood.

[2017-03-14 11:00] robcalcroft commented on #12822
Can you run `which react-native` and post the output

[2017-03-14 11:24] RichardLindhout commented on #12784
I also have this problem sometimes on 0.43

[2017-03-14 11:39] grundmanise commented on #12884
`data` pop is coming from a container component which is tied to the `redux`. The `data` is static for now.

Can't find InteractionStallDebugger in RN 0.42.0 /Libraries/Interaction.

`shouldItemUpdate` _always_ return false.

Setting `debug={true}` gives me a red screen error:

Don't know why, becuase I don't render `FlatList` if the data is empty:

[code]

[2017-03-14 11:50] rmevans9 commented on #12922
I would say base64 your image which gives a string and then store that. With that said this question would be better suited for Stack Overflow as this issue tracker is used for tracking bugs within React Native. Closing this.

[2017-03-14 11:50] rmevans9 commented on #12922
@facebook-github-bot close

[2017-03-14 11:53] grundmanise commented on #12884
I want to better describe what behaviour I am experiencing:

When `FlatList` was just scrolled and stopped (wtih a finger) first few taps on the `ListItem` are ignored, the same is in the FlatListExample in UIExplorer, but there `FlatList` items are rendered faster and only the 1st tap on the `ListItem` is ignored. My `ListItems` are a bit "heavier" and it could take several taps before they becom

[2017-03-14 11:55] rmevans9 commented on #12796
@zpao maybe I jumped the gun. After it working here it failed again today:

https://github.com/facebook/react-native/issues/12922

[2017-03-14 12:11] vitorbaraujo commented on #9434
Is there any solution to that?

[2017-03-14 12:20] SudoPlz commented on #6849
New link for the product pain:
https://react-native.canny.io/feature-requests/p/androidscrollview-is-missing-initial-scroll-position-for-android

[2017-03-14 12:31] bcalik commented on #6849
@alvaromb It won't work when you try to scroll to position that is not rendered yet. initial scroll position lets your app to start rendering from your scroll position, not from zero. You you won't have to wait for all of the rows to be rendered, which is a massive performance impact.

[2017-03-14 12:33] alvaromb commented on #6849
@bcalik yeah, I agree, it's not an ideal solution but for some cases it's working for us.

[2017-03-14 13:06] apgl commented on #2618
Does anyone know if tvOS apps build with react native will be accepted into the App Store? Thanks.

[2017-03-14 13:16] fdnhkj opened #12925 "NetworkOverlay - undefined is not an object (evaluating '_this._renderScrollComponent.bind')"
### Description
#### What I did
1. Toggle inspector
2. Press Network

#### What I expected to happen
See the network panel

#### What happens
<img width="376" alt="capture d ecran 2017-03-14 a 13 15 34" src="https://cloud.githubusercontent.com/assets/5569608/23902115/3b96d790-08c0-11e7-9d85-08e1ba26d3b8.png">
Stack trace

### Solution

It looks related to https://github.com/facebook/react-native/c

[2017-03-14 13:17] fdnhkj commented on #12925
cc @janicduplessis

[2017-03-14 13:32] bengsfort opened #12926 "View containing vertically centered flex row has height of 0 outside of ScrollView"
### Description
When trying to build a vertically-centered flex row it seems as though the containing View's height calculation does not take the flex element height into account, resulting in a container height of 0 (unless there is padding added); even if you set explicit heights on the flex elements. This ends up causing pretty severe clipping/sizing issues on both iOS and Android.

Strangely e

[2017-03-14 13:50] Crash-- commented on #11557
I still got this issue after upgraded to RN 0.42. Even with a fresh project. I had to copy/paste my node_modules every time I want to write some native Android Code... Pretty annoying :(

[2017-03-14 14:38] Benjamin-Dobell commented on #12918
I've seen this same problem in RN 0.42 with other views, not a `ListView` (on iOS, admittedly haven't checked Android). Specifically I've seen it occurring horizontally with a `row` flex layout.

I'm inclined to think that there's a Yoga bug whereby it's attempting pixel-align views. However, it's doing so inconsistently, whereby the "previous" view in the flex layout is not having its primary axi

[2017-03-14 14:44] RalfNieuwenhuizen commented on #12918
Ah yes, I should have been more specific probably. This happens in iOS only as far as I have seen.
Your explanation may be right in that case.

[2017-03-14 14:56] sahrens commented on #12884
https://github.com/facebook/react-native/blob/master/Libraries/Interaction/InteractionStallDebugger.js

You could potentially grab the interaction handle earlier, for example when scrolling stops or in onResponderGrant or shouldSetResponder.

You can also try mucking with the advanced props from VirtualizedList like the windowSize, updateCellsBatchingPeriod, and maxToRenderPerBatch

Not sure what

[2017-03-14 15:04] naoufal commented on #2618
@apgl shouldn't be a problem. I have a React Native TV app in the App Store.

[2017-03-14 15:08] vijaybritto opened #12928 "Double tapping R after making a change in index.android.js doesn't reload the app."
### Description

Installed react native for android as per official docs. Ran the app. It loads in the emulator. But whenever I make a change in index.android.js and press R twice, it doesn't reload the app as mentioned.

### Additional Information

* React Native version: 0.42.0
* Platform: Android
* Operating System: OSX 10.11.6
* Dev tools: Android studio

[2017-03-14 15:15] vijaybritto commented on #12928
Figured it out.
cmd + M open the developer options. It has the option for hot reloading. Enabling that works.
It has to be mentioned in the docs.

[2017-03-14 15:33] robcalcroft commented on #12223
Is there a work around for this yet?

[2017-03-14 15:33] a-koka commented on #953
The suggestion to use `UIManager` works great on `iOS` but returns undefined on `Android` on the latest React-Native version `0.42.0`.

[2017-03-14 15:37] a-koka commented on #1374
The solution to use `UIManager` is no longer working on `Android` with `React Native 0.42.0`

[2017-03-14 15:41] ronocod opened #12929 "Build issues caused by outdated compileSdkVersion on Android"
### Description

The `build.gradle` files in the Android templates, sample apps and the ReactAndroid library seem to all use `compileSdkVersion 23`, which is quite an old version and causes build issues with the latest versions of the Android Support Library: https://github.com/tinycreative/react-native-intercom/pull/75, https://github.com/intercom/intercom-android/issues/316

`compileSdkVersion`

[2017-03-14 15:45] JuiceCrawl commented on #10233
Having the same issue. Any updates?

[2017-03-14 15:48] aem commented on #10233
@JuiceCrawl et al - forgot to post, but for the sake of posterity we temporarily resolved as follows:
[code]
not sure what side effects this has for RN debugging, but it was the only wait to get the build to pass

[2017-03-14 15:55] ragamufin commented on #11261
I've tried to use `Image.getSize()` on an image that is retrieved using `require` however because `require` returns an integer I get the error "JSON value '8' of type NSNumber cannot be converted to a valid URLRequest". I've tried to use `findNodeHandle` on the integer but it simply returns the same integer. Other than doing `onLoad` in an image is there another way to get the size of the image dy

[2017-03-14 16:06] rcugut commented on #12223
@robcalcroft the way I solved it was to locally edit the YellowBox.js file (inside `node_modules/react-native/...`) with the 3 lines from this commit: https://github.com/facebook/react-native/commit/adeb5ff940cb56a594b1f653660f22faeeebf382

Since this is only breaking development, it has no side-effects for production. It's an interim solution until a new react-native release is baked

[2017-03-14 16:21] nbastoWM opened #12931 "Xcode not reusing already opened packager"
### Description

On my early RN projects when I run a project from Xcode it used to "reuse" the already opened packager. Now, since using RN 0.41 / Xcode 8.2, every time I run a project from Xcode, in simulator or on device, if the packager is already running it tells me that the port 8081 is already in use and I have to stop/close the packager so it launches from xcode.

### Reproduction

- Open

[2017-03-14 16:36] alphasp commented on #12223
@robcalcroft the fix is already available in v0.42.1 and v0.43.0-rc.2

[2017-03-14 16:40] nfriedly commented on #12846
In reading things this morning, and [talking to folks behind the Fetch spec](https://github.com/whatwg/fetch/issues/506), React Native seems to be following the [fetch spec](https://fetch.spec.whatwg.org/#headers-class) correctly, with the exception of allowing access to `Set-Cookie` headers at all.

The header combining behavior is allowed (but not required) according to [the HTTP RFC](https://to

[2017-03-14 16:42] brunocascio opened #12932 "[Android] NativeModules Runtime Error"
[code]

It's happening when I try to release an .apk file following the docs: https://facebook.github.io/react-native/docs/signed-apk-android.html

react-native version: `0.41.2`

[2017-03-14 17:02] rops opened #12933 "[Android] Does Android networking module support HTTP caching?"
I've noticed that requests made using `fetch` on Android do not honour the HTTP etag when provided and don't do apply any HTTP caching.

By looking at the NetworkingModule it seems that caching is not enabled in the OkHttpClient.Builder. On the other hand, iOS requests seem to fallback to default `NSURLRequestUseProtocolCachePolicy`, hence caching is enabled.

Was that a design decision? Or a PR t

[2017-03-14 17:09] adrai commented on #12223
v0.42.1 seems not to be published right now, but you can test it by putting this instead of v0.42.1 in the package.json: facebook/react-native#v0.42.1

[2017-03-14 17:24] jqn commented on #12903
I'm facing the same problem. Is there a solution to this?

[2017-03-14 17:28] loloof64 commented on #6390
@jhabdas Your solution worked for me, but using standard laptop + ubuntu. Thanks :smiley:

[2017-03-14 17:32] jhabdas commented on #6390
@ericvicenti this is clearly still a problem. Could you please respond to my previous question and/or reopen this issue? Thanks

[2017-03-14 17:48] astreet commented on #10845
Sorry for the lack of update, I was able to use the verify what was going wrong, I should have a fix landed to master in the next day or two.

[2017-03-14 18:09] lucasbento commented on #12768
I'm having this same issue, it started when I added `<Modal />` to the code.

[2017-03-14 18:28] philjoseph opened #12934 "saveToCameraRoll failed with `Permission denied` error on Android"
### Description
saveToCameraRoll failed with `Permission denied` error on Android
[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

### Reproduction
Saving a AWS S3 photo to the device Camera Roll suddenly failed
[code]

In the android/app/src/main/AndroidManifest.xml i have
`    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"

[2017-03-14 18:29] hramos commented on #4457
Alright - can you open a new issue?

[2017-03-14 18:33] hramos commented on #12777
I've cherry picked 233015c93ee6f986cf1267f143fdfadbf9c6831d into `0.42-stable`. We may still need to deploy a new package to npm. cc @ericnakagawa @grabbou

[2017-03-14 18:35] grabbou commented on #12777
I'll investigate that as soon as I get home after Conf

On Tue, Mar 14, 2017, 11:34 Héctor Ramos <notifications@github.com> wrote:

[2017-03-14 18:43] janicduplessis commented on #12925
Hey, thanks for reporting this, it has been fixed in 0.43 which is currently in RC.

[2017-03-14 18:43] #12925 closed

[2017-03-14 18:51] anonrig commented on #12223
PS: When will the v.42.1 be released?

[2017-03-14 18:59] adbl commented on #4457
I will not bother because we have solved it for our purposes. This issue
has some of the information that explains what is wrong. Why close and open
a new one?
On Tue, 14 Mar 2017 at 19:30, Héctor Ramos <notifications@github.com> wrote:

[2017-03-14 19:04] hramos commented on #4457
The issue lacks all the detail required in the template, has been open for a really long time, and people have commented with possibly unrelated issues. If someone really cares about this, then the best way forward is to open a new issue with all the necessary details.

[2017-03-14 19:10] adbl commented on #4457
Ok, hopefully someone does care about it enough to do that then.
On Tue, 14 Mar 2017 at 20:05, Héctor Ramos <notifications@github.com> wrote:

[2017-03-14 19:12] Jaafar-abusair commented on #9434
just remove the background color for the picker.

[2017-03-14 19:35] empitechathu commented on #11389
@karpoff  ur solution is not working mate :(

[2017-03-14 19:35] empitechathu commented on #11389
im having "react-native": "0.29.0",

[2017-03-14 19:41] vitorbaraujo commented on #9434
That works, but I was trying to make the dropdown arrow to appear and have the same color as the text. But when I set color to the picker, the text changed its color, but not the arrow

[2017-03-14 19:54] Rebaiahmed opened #12937 "Execution failed for task ':app:installDebug'."
com.android.builder.testing.api.DeviceException: com.android.ddmlib.InstallException: Failed to install all
![react](https://cloud.githubusercontent.com/assets/13053759/23919742/59117a86-08f8-11e7-9b99-d329a2ce1ed9.png)

[2017-03-14 20:00] mythz commented on #12890
There are 2 other Event Source implementations that work with React Native:

 - [react-native-event-source](https://github.com/madriska/react-native-event-source/) - Uses XHR based on [EventSource polyfills](https://github.com/remy/polyfills/blob/master/EventSource.js)
 - [react-native-eventsource](https://github.com/JonnyBGod/react-native-eventsource) - Uses native [Obj-C](https://github.com/Jonn

[2017-03-14 20:00] #12890 closed

[2017-03-14 20:11] iremlopsum commented on #12937
Is this happening on 0.43.0 version? Because I have the same problem.

[2017-03-14 20:22] grundmanise commented on #12884
thnx, I'll try `InteractionStallDebugger` and let you know.

Sorry for the confusion. I already use RNN. Let me rephrase my question:
Should I call `InteractionManager.createInteractionHandle` and/or `recordInteraction()` when the only thing that I am doing in the `onPress` is calling `navigator.push({...params})`?
Do I need interaction handle in this scenario at all? Do you think it can help with

[2017-03-14 20:24] grundmanise commented on #12884
May you provide an example on how to grab an `interaction handle` in `onResponderGrant` or `shouldSetResponder`.

[2017-03-14 20:50] TGPSKI commented on #11462
@lacker @evollu any updates on the questions above? When will this PR get merged into master?

[2017-03-14 20:52] TGPSKI commented on #11717
Similar issues with nested Text components & the onPress prop on inner children: https://github.com/facebook/react-native/issues/11462

[2017-03-14 20:52] Jaafar-abusair commented on #9434
I solved it by setting the background color to white, and replace it inside a parent view after that i added icone to the view just next to the picker with absolute position above the picker like right:10. And this gave me what you looking for

[2017-03-14 21:03] phil714 opened #12939 "Toggling secureTextEntry between true and false cause text to disappear on iOS"
### Description

I'm trying to create a custom password input where you can toggle if you can see the password or not. The bug is that when you change between true and false on textInput, the content of the input disappear.

### Reproduction

First, you need to have a textInput with secureTextEntry. Then you enter a string in the textinput. After that you set the secureTextEntry to false and then

[2017-03-14 21:07] ColCh commented on #8794
Have you tried to specify file operation timeout (See this commit https://github.com/facebook/react-native/commit/8edb9524035b0c034135a81551ba955ee514dbd4 )

[2017-03-14 21:25] j2kun opened #12940 "react-native link occasionally errs with "str.replace is not a function", no way to debug"
### Description

I have an xcode workspace set up with nonstandard configurations, and adding a new react-native ios dependency sometimes fails with `str.replace is not a function`. I have no idea how to debug this, as the linking command doesn't provide a `--verbose` option, or anything similar.

E.g.

[code]

I cannot reproduce this issue from a fresh project install, and I have no idea where to

[2017-03-14 21:27] jcbiznoff opened #12941 "TouchableOpacity onPress event not handled on Andorid when upgrading from 0.33 to 0.34"
### Description

TouchableOpacity's onPress is not a recognized event on Android after an upgrade. iOS is fine.
I expected onPress on the debug console, but nothing shows.

[code]

### Reproduction

upgrade from 0.33 to 0.34

### Solution

[FILL THIS OUT: What needs to be done to address this issue? Ideally, provide a pull request with a fix.]

### Additional Information

* React Native version:0.

[2017-03-14 21:33] jcbiznoff commented on #12831
It seems this had to do with NavigationExperimental I was using in my code with passing ref as props. Removing this got me back on the road. Wish the logs are more descriptive.

[2017-03-14 21:40] arsenghazaryan opened #12942 "Attempting to disconnect view that has not been connected with the given animated node"
Hi @janicduplessis ,
I am having another issue with Animated library when useNativeDriver=true.

Randomly when I mount the component it will throw an error "Attempting to disconnect view that has not been connected with the given animated node"
The component has styles that are are controller through Animated.event (onScroll).

once I change useNativeDriver=false it will never happen again.
Was wo

[2017-03-14 21:41] hramos commented on #12941
I'd be surprised if something this basic broke in 0.34 and we're only hearing about it now.

Does this still happen in 0.42?

[2017-03-14 21:42] hramos commented on #12942
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-14 21:42] #12942 closed

[2017-03-14 21:43] hramos commented on #12937
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-14 21:43] #12937 closed

[2017-03-14 21:44] hramos commented on #12934
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-14 21:44] #12934 closed

[2017-03-14 21:46] hramos commented on #12929
Thanks for looking into this. This will also require some support from our team to make sure this does not break any internal tests. For the time being, 23 is the latest version that is officially supported.

[2017-03-14 21:49] philjoseph commented on #12934
OK thanks for the quick reply

[2017-03-14 22:30] jcbiznoff commented on #12941
@hramos 0.42 still has the same behavior. Btw I ran this on SDK 23 and 25.

[2017-03-14 23:17] robcalcroft commented on #12223
@alphasp ok thanks

[2017-03-14 23:20] binzailani3136 commented on #8855
Who solved this important problem?
https://github.com/APSL/react-native-keyboard-aware-scroll-view is working well on iOS as expected but it's not working on Android.
I've tried everything what I can do including `KeyboardAvoidingView` and other libraries.
But none of them working well on Android.
Is there any library which supports Android very well?

[2017-03-14 23:22] stantoncbradley commented on #12754
works for me when I build the app through xcode...

[2017-03-14 23:38] cdesch commented on #12831
Same here in respect to NavigationExperimental

[2017-03-15 00:02] braco commented on #3301
Just out of curiosity, why is it not enough to use `LayoutAnimation.configureNext()` for this effect?

https://medium.com/@Jpoliachik/react-native-s-layoutanimation-is-awesome-4a4d317afd3e#.ntn7h53jh

[2017-03-15 01:21] obykoo commented on #728
I would like to have also this, so I can define width: 50%, height: 50% and text can fill this on every screen..

[2017-03-15 01:51] jacob-israel-turner commented on #10559
This is still happening, but I'm pretty certain it's related to Chrome's new throttling mechanism.  Background tabs are severely throttled (completely throwing off animations, timers, etc.).  I'm not sure if there's a way to prioritize a tab, but that's the only solution I can think of short of the Chrome team rolling back this change.

[2017-03-15 02:16] JustinDFuller commented on #12747
@JodiWarren Cool you might want to close this issue then

[2017-03-15 02:18] hey99xx opened #12946 "[Android] Better error handling if react context initialization fails"
### Description

When I create `ReactInstanceManager` I am able to pass in a native exception handler. However, in case `ReactContextInitAsyncTask ` fails, this exception handler is completely skipped and the error is passed into dev support manager, which will crash the app in release. https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/ReactInstance

[2017-03-15 02:51] lucianomlima commented on #12858
Thank you @Naoto-Ida.
I'm not using GraphQL.
My problems disappeared after I generated a new clean application with React Native 0.42.0, moved all the files to the new clean version and reconfigured all JS modules.

React Native's upgrade is a trouble task yet.

[2017-03-15 02:51] #12858 closed

[2017-03-15 03:25] kingson09 commented on #12884
for me, when more than 40 items, all with same layout ，and all has been rendered，no data update，all "performance" option has been used， when scroll，was getting above 5 second delay for the press or other interaction，the cssRoot.calculateLayout cost cpu time so much. in a device with better CPU，such as iphone 7 or other android device，the delay will disappear。so  I am disappointed with the Yoga per

[2017-03-15 03:55] SuhairZain commented on #8932
Hi,
We're having this issue in one of our production app. Have anyone found any workaround for this? It'd be a great help.

[2017-03-15 04:05] freedomdouble commented on #11872
same issue how to fixed ? please...

[2017-03-15 04:33] sshymko commented on #12846
Just wanted to clarify regarding:

React Native's `fetch` acts as a browser in terms of maintaining cookies. When a response contains `Set-Cookie` header, React Native memorizes it and starts to include the respective `Cookie` header into all subsequent requests. That is pretty cool, isn't it? Well, the problem is that it does not respect the cookie scope (path for sure, haven't checked the domain

[2017-03-15 05:00] luoyushouchai commented on #4504
How can i pass a callback ??

[2017-03-15 05:07] jcbiznoff commented on #12941
I think package versions for react/react-native were getting mixed up under node_modules. Clearing this out and carefully using "npm update" got rid of the issue.

[2017-03-15 05:07] #12941 closed

[2017-03-15 05:51] rouge3351 commented on #10845
+1

[2017-03-15 06:00] SuhairZain commented on #12403
Having the same issue here. Have you found any workarounds?

[2017-03-15 06:10] keith527 commented on #11827
I have the same problem , Have you solved it yet?

[2017-03-15 06:45] ABleas commented on #12786
Further testing shows this issue doesn't seem to appear on Android devices. I have a server running and can connect with my Android device, while iOS fails to connect after a certain time, even after re-running a server.

[2017-03-15 06:55] xuanvan229 commented on #3199
many thanks @oren

[2017-03-15 08:30] doxiaodong commented on #11594
@Dryymoon' s method is good, but some env, you'd better use `es5` code:
[code]

[2017-03-15 08:30] davidskaarup commented on #8714
@hitbear518 would it be possible to provide a more complete example of your implementation?

[2017-03-15 08:59] rgoldiez commented on #12769
Same issue here.

[2017-03-15 09:01] #12747 closed

[2017-03-15 09:17] Proberts commented on #8932
@SuhairZain see https://github.com/facebook/react-native/issues/11776

[2017-03-15 09:21] SuhairZain commented on #8932
@Proberts
I do not set the keyboardType and still have this issue. Also, this is present only on some devices/OSs. For example, it works fine on Lollipop in Genymotion, but seems to be broken in JellyBean (Samsung device). I'll try and figure our the root issue and let you know.

[2017-03-15 09:24] Proberts commented on #8932
@SuhairZain At the bottom of the issue there's a PR that fixes it.

[2017-03-15 09:26] yunmenggyy commented on #304
thanks everyone

[2017-03-15 09:53] konstantin-mohin opened #12947 "undefined is not a constructor (evaluating 'new window.WebSocket('ws://' + hostname+':'+port+'/devtools')')"
Hey,

I'm using RN 0.39.0 and it was working fine, but yesterday I started getting this error: "undefined is not a constructor (evaluating 'new window.WebSocket('ws://' + hostname+':'+port+'/devtools')')" , it points to the setupDevtools.js:25 file.

Im using a real android device and if I turn on Debug JS Remotely option the issue disappears.

[2017-03-15 09:56] bbeldame commented on #12070
@davidperrenoud
The select element is working great on the experimental Nodes.

(Tested on RN 0.41.2 with a real tablet on android 5.1.1)

[2017-03-15 10:09] lihue commented on #12356
I've the same problem with RN 0.42. Can you please re-open the issue?

[2017-03-15 10:42] astreet commented on #11809
@janicduplessis sorry, I meant can you link the code for the test app you were using?

[2017-03-15 11:05] marcoacierno commented on #12932
Same issue with `0.42.0`

[2017-03-15 11:23] mrova commented on #12947
Try..catch around and see if you get more info in caught error.
I had similar problem - new URL(url) was throwing error like yours only with Debug JS Remotely turned off. Well, URL() doesn't exist if remote debugging is off.

[2017-03-15 11:31] wokalski opened #12949 "Components without a key in an array break whole app"
### Description

I have a component with the following render function.

[code]

If the component returned by `renderBar` doesn't have `key` specified *nothing is rendered (i.e. screen is blank)* and there's no error/warning. The moment I add `key` to the component everything behaves correctly.

### Reproduction

I tried reducing it but couldn't reproduce it in a small example.

### Solution

No i

[2017-03-15 12:12] hannigand commented on #12768
I can confirm I also received this error when adding `<Modal />` running on React Native `0.42.0` on iOS Simulator. Downgrading to `0.41.0` fixed the error.

Turning off `Debug JS Remotely` also works but isn't a workaround if you intend to debug the contents within the `<Modal />`

[2017-03-15 12:26] Ehesp commented on #12949
Does this happen on 0.42?

[2017-03-15 12:27] stefanwuest commented on #11302
+1

[2017-03-15 12:30] taiki-t commented on #12182
@Naoto-Ida I'm fine with it. I'm happy with my solution. Thank you for considering me.

[2017-03-15 12:41] jasan-s commented on #11809
Is this still a problem in android and iOS?

[2017-03-15 12:42] wokalski commented on #12949
No, I just checked. In 0.42 the element is rendered and there's a warning as expected.

[2017-03-15 12:52] wokalski commented on #12949
Ooops, it's gone in 0.43.0-rc.2. Very interesting. I also moved from React 16.0.0-alpha.3 to alpha 4.

[2017-03-15 12:52] #12949 closed

[2017-03-15 13:09] brunocascio commented on #12932
@marcoacierno and everyone.

I removed the reactotron dependency and it seems working. Let me know if you are experiencing same issue with another package. I'll leave open this issue anyway until your response.

[2017-03-15 13:38] jayshah123 commented on #10232
This might be the an expected behaviour, because as per the latest documentation, it says that View is allowed inside Text is supported on IOS only.
[docs link](http://facebook.github.io/react-native/releases/0.42/docs/text.html#nested-views-ios-only)

[2017-03-15 13:52] SudoPlz commented on #10635
In my case what haikyuu said solved it.
A had component that used ART in the background (a spinner), written stateless.

`const Whatever = (props) => { // ..... bla bla`

I changed it to a normal component:
`class Whatever extends React.Component { // ..... bla bla`

and I never saw the error ever since.

[2017-03-15 13:59] Naoto-Ida commented on #12182
Ok. Hopefully its not just us thats having issues.

[2017-03-15 13:59] #12182 closed

[2017-03-15 14:02] amalChandran commented on #10925
@lucas-tulio What was the wrong path that you had.

[2017-03-15 14:34] marcoacierno commented on #12932
Hello, fixed the same way. thank you : )

[2017-03-15 14:58] bitsal opened #12952 "'React/RCTAnimationType.h' file not found"
### Description
`react-native run-ios` fails with
[code]

Prodfile:
[code]

Any ideas how to treat it?

### Additional Information

* React Native version: 0.42.0
* Platform: iOS
* Operating System: MacOS
* CocoaPods: 1.2.0

[2017-03-15 15:14] alexhhn commented on #29
+1 for Text and TextInput

[2017-03-15 15:37] janicduplessis commented on #11809
@astreet I used the code provided by ncuillery in this gist https://gist.github.com/ncuillery/0b576650cebb34317e4c953e0efb56d5

[2017-03-15 16:15] astreet commented on #10845
Fix is in master now: https://github.com/facebook/react-native/commit/5873a228f41bca763c35c470375a9f3cb36f80ab

[2017-03-15 17:00] xareelee commented on #12409
@salutis

How do you know the arbitrary index of the `tree.children` for the button?

[code]

Is there any other way to get the button via a constant selector?

[2017-03-15 17:02] salutis commented on #12409
@xareelee

No idea. I'm back to Swift for now. Waiting for Jest to mature a bit.

[2017-03-15 17:11] AshokICreate opened #12955 "Build Failed with an exception. A Problem occurred configuring project ':app'. java.lang.NullPointerException."
I created react-native project but when i run `react-native run-android` on my windows i am getting below error(please find screenshots).

[code]

<img width="647" alt="screen shot 2017-03-15 at 9 57 40 pm" src="https://cloud.githubusercontent.com/assets/7522708/23961271/6f363dbe-09d0-11e7-99b1-08e20f6a3028.png">
<img width="644" alt="screen shot 2017-03-15 at 9 57 27 pm" src="https://cloud.github

[2017-03-15 17:27] joshuafeldman commented on #11781
@alloy I will try and find some time this morning and wrap something up

[2017-03-15 17:30] Ashoat opened #12956 "fetch API on Android doesn't respect credentials: omit"
### Description

If Android's native networking library detects valid cookies for a particular network request it will always tack those cookies onto the request, even if `credentials: "omit"` is passed to the fetch API.

This problem has been reported multiple times in #1274, which is an related issue that has been closed. I wanted to create a new issue to track it.

This problem makes it very di

[2017-03-15 17:33] Ashoat commented on #1274
I am also trying to handle cookies entirely within Javascript and seeing the same Android issue where the cookies are set regardless of `credentials: 'omit'` being passed to fetch. I opened #12956 to track the issue; heads-up @davidck, @haiyangjiajian, @ms88privat, @kristojorg, @vince-rowe. At this time, looks like the problem is only occurring on Android.

[2017-03-15 17:38] joshuafeldman commented on #11781
@alloy @rh389 I created a really fast application that displays the compilation error. Hopefully it is just something simple I am doing wrong :)

https://github.com/joshuafeldman/react-native-missing-file

[2017-03-15 17:47] hramos commented on #12955
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-15 17:47] #12955 closed

[2017-03-15 17:48] hramos commented on #12947
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-15 17:48] #12947 closed

[2017-03-15 17:49] #12914 closed

[2017-03-15 17:49] #12928 closed

[2017-03-15 17:55] the-mace commented on #11302
+1 RN 0.38

[2017-03-15 18:04] ericvicenti commented on #12952
Does this happen on a brand new project, or just on your app? It sounds like your Xcode configuration may not have been upgraded. Did this error always happen for you, or did something change recently that may have caused it?

[2017-03-15 18:16] giordy commented on #8144
@fadils if you're still interested we recently released on GitHub [react-native-nfc](https://github.com/Novadart/react-native-nfc).

[2017-03-15 18:18] hramos commented on #12928
You don't need to turn on hot reloading for refresh to work.

[2017-03-15 18:24] cestarid commented on #10052
What's stopping us from adding `toHashMap` and `toArrayList` to the `ReadableMap` and `ReadableArray` interfaces? It cannot be used for `JavaOnlyMap` and `JavaOnlyArray`, since the methods are in the `ReadableNative*` implementations only.

[2017-03-15 18:40] yolosaucisson opened #12957 "Could not find a valid GoogleService-Info.plist"
## Description
I installed Firebase/Messaging thanks to Pod.
So I add "pod 'Firebase/Messaging'" in my Podfile.
But everytime I build and run my app on my phone. I have an error that's in the title so the app stops running instantly.

I followed the tutorial and add my certs to the GoogleService-Info.plist file before downloaded it.
I added my plist file in the ios folder and in ios/my-app-name fo

[2017-03-15 18:48] chirag04 commented on #8624
I just got hit by this. We inject taskScheduler for our relay environment and in some cases the runAfterInteractions callback will never be fired and the screen would never be able to fetch the data (Only happens on android. works fine on ios).
`environment.injectTaskScheduler(InteractionManager.runAfterInteractions);`

I don't have an isolated repro yet. Will debug this now.

[2017-03-15 19:04] chirag04 commented on #8624
Ok figured it out. So in our case, `react-native-drawer-layout` moved to a JS based implemented even on android without bumping the major version! Due to whatever reason, the interaction handle is not cleared after opening and closing the drawer menu.

https://github.com/react-native-community/react-native-drawer-layout/commit/20212c7faedbb8b85acef5c97be8822d2495a899#commitcomment-21337227

[2017-03-15 19:05] bitsal commented on #12952
Existing app. We are migration from `0.39.x` to `0.42.0`.

@ericvicenti The error occurred right after I switched to new RN version.

[2017-03-15 19:21] salapao2136 commented on #2941
+1 for linux

[2017-03-15 19:22] johnmurphy01 commented on #1167
Same issue as @petermikitsh.

React Native v 0.35
Font I'm trying to load is Gotham Ultra.ttf. I renamed to gotham_ultra.ttf and moved to `./android/app/src/main/assets/fonts`

I tried deleting the .gradle folder and re-running the packager and `react-native run-android`.

I've tried every suggestion on this issue but nothing appears to work.

[2017-03-15 19:29] johnmurphy01 commented on #1167
Mine works now! I was adding the style to a single `Input` component, expecting the placeholder text to have the new font. However, it did not affect the placeholder text but did affect the actual typed text.

[2017-03-15 19:52] astreet commented on #11809
@emilsjolander and I investigated, this is two different issues compounding on each other:

1. There was a regression with the switch to native Yoga where, even though a layout hierarchy would be cached, we still copy the outputs from C to Java for the entire tree. This doesn't really show up for smaller screens, but for listviews with hundreds of rows, this could take upwards of 50ms.
2. When we

[2017-03-15 19:59] hramos commented on #12957
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-03-15 19:59] #12957 closed

[2017-03-15 20:00] hramos commented on #12894
Do you have specific repro steps that cause this?

[2017-03-15 20:10] DennisKo commented on #4968
If you are coming here because your create-react-native-app sent you this issue url when trying to use the EXPO SDK:

you have to use
`import { Components } from 'expo';`
**instead of**
`import { Components } from 'exponent';` as stated in their docs.

[2017-03-15 20:25] QuantumInformation commented on #4968
Its happening with just about every npm lib.

[2017-03-15 20:30] dylanpyle commented on #10991
I'm seeing the same issue with `PureComponent`. Let me know if that's unrelated and I can file a different issue — I'm not clear on why #9152 was closed.

[2017-03-15 20:33] d4rkm3z commented on #6499
Thanks, work on Xiaomi Redmi 4 Pro/Prime

[2017-03-15 20:42] shergin commented on #12793
@dlowder-salesforce, @milhauscz I would love to fix this issue properly... but... Could you please confirm one more time: Does setting `removeClippedSubviews` really fix the problem?
I am asking because... I double check and found that setting `removeClippedSubviews` for `UIScrollView` **does literally nothing**, the proof: https://github.com/facebook/react-native/blob/5353d39172034d04114f8e498fc9

[2017-03-15 21:05] dylanpyle opened #12959 "`react-native link` corrupts `project.pbxproj` file"
### Description

Starting from a working project, recently upgraded to React Native 0.42.0. Following the instructions at https://developers.facebook.com/docs/react-native/getting-started

[code]

[code]

[code]

![](https://cldup.com/ty0TeyJkO5.png)

[code]
https://gist.github.com/dylanpyle/144e98578227c72287a119d386fb1bee

### Reproduction

Can provide access to the project in question to the Re

[2017-03-15 21:15] dylanpyle commented on #12959
Temporary workaround — manually editing the `pbxproj` file by hand as follows seems to fix it. This is, I assume, what react-native link should have been doing.

[code]

[2017-03-15 21:33] dlowder-salesforce commented on #12793
@shergin Yes it really fixes the problem... PR #12944 fixes it on the JS side.

[2017-03-15 21:39] steida commented on #9152
@dylanpyle I don't use PureComponent anymore. It's a workaround to issue which is better to avoid. shouldUpdate belongs to data, not to a component because it slow downs PureComponent first render. redux-connect does it on data change, which is better. So, don't use PureComponent. Check Este https://github.com/este/este

[2017-03-15 21:44] dlowder-salesforce commented on #12793
Inspecting the code, it seems that the real implementation that uses `removeClippedSubviews` is in `RCTView.m` and `RCTViewManager.m`

[2017-03-15 22:01] Kureev commented on #12959
Thanks for the issue, @dylanpyle!

Most likely, this happens because of incorrect assumption [here](https://github.com/facebook/react-native/blob/545072b02d94e264a66987a5cebc15629a16f188/local-cli/link/ios/mapHeaderSearchPaths.js#L35). We assume that if we have `HEADER_SEARCH_PATHS` defined, then it is an array which is apparently not the case. We need to add a check if `HEADER_SEARCH_PATHS` is no

[2017-03-15 22:05] hramos opened #12960 "Update Intro Tutorial: Using a List View"
Now that FlatList and SectionList are coming up in 0.43, we can recommend their use over ListView in [Using a ListView](https://facebook.github.io/react-native/releases/next/docs/using-a-listview.html).

[2017-03-15 22:10] kalman opened #12961 "Upgrade to version 2 of whatwg-fetch"
### Description

I'm seeing issues with fetch on iOS, like the response not having an arrayBuffer property. I am guessing this is related to RN using version 1 of whatwg-fetch:

https://github.com/facebook/react-native/blob/master/package.json#L205

From reading the code it seems version 1 does support arrayBuffer, but they've fixed bugs relating to feature detection in version 2 onwards.

### Rep

[2017-03-15 22:24] shergin commented on #12793
@dlowder-salesforce Oh, thank you! I missed that this property is also proxied to `ScrollContentContainerViewClass`.

[2017-03-15 22:55] MossP commented on #1967
@sahrens This new FlatList component is great and handles this much better but the underlying VirtualizedList does fail at being able to pull extra data for a list that may have changed since it was last requested (imagine a comment pages that needs to be able to pull new comments into the bottom of a list) as it prevents repeated calls in the list size has not changed. I'm looking at submitting a

[2017-03-15 22:59] dylanpyle commented on #12959
@Kureev Thanks for the pointer! I'll take a look at getting a PR out tonight.

[2017-03-15 23:05] MichelDiz commented on #12960
I got problems to test the FlatList - " UnableToResolveError: Unable to resolve module `react/lib/ReactPropTypeLocations` "
I think is about the react module it self.  I'm using ""react": "^16.0.0-alpha.3"" that's recommended by the yarn installer.  And I'm using "react-native": "0.43.0-rc.2".

Just to be sure, I really need to upgrade the React module to use 0.43.0-rc.2? Thanks! Best regards.

[2017-03-15 23:11] grundmanise commented on #12884
@sahrens so I ended up setting `maxToRenderPerBatch={1}` it gives me worse fill rate, but a lot better perfomance..

Thanks for your help.

Can't wait when the cell reuse will be implemented natively.... it will be a huge step forward in performance and UX.

[2017-03-15 23:13] hramos commented on #12960
I'm using FlatList on React Native 0.43.0-rc.2 and React ~16.0.0-alpha.3, but did not run into this issue.

[code]

[2017-03-15 23:19] MichelDiz commented on #12960
Yep, I think few modules need old dependencies :/
Installing as "fresh" react-native init some app it's okay but when I insert old modules to my actual working progress app. It ask for old dependencies from react 15 or 14 not sure the version but it's older.

I think that I have to wait for stable dependencies...

[2017-03-15 23:29] shergin commented on #12904
Do you want to see `<TextInput>` with same size that `<Text>` with "Search" has?
So, in other words, do you expect from <TextInput> to have intrinsic content size which respects `placeholder` and `value`?

[2017-03-15 23:33] sahrens commented on #12884
Yeah, it is is pretty tricky balancing memory, fill rate, responsiveness, and frame rate but we'll keep optimizing!

[2017-03-15 23:37] sahrens commented on #1967
Kinda sounds like you want a pull to refresh but at the bottom instead of top? That's not a very common case so we probably won't support that explicitly. Is it tricky for you to use an onScroll listener to get what you need?

[2017-03-15 23:40] sahrens commented on #1967
Although I might have misunderstood - I'll need to check the code more carefully to compare the implementation to ListView.

[2017-03-16 00:12] peresbruno commented on #9874
In my case, to solve the problem:

- Open ios project in xcode
- Run project inside xcode
- See xcode logs

For me the problem are not related to react native directly, but with a plugin.

[2017-03-16 00:17] a-koka opened #12966 "RCTUIManager.measure not working on Android"
### Description
`RCTUIManager.measure` is not working on `Android`. Trying `this.refs.myRef.measure()` doesn't give any results either.

### Reproduction

[code]

### Additional Information

* React Native version: 0.42.0
* Platform: Android
* Operating System: MacOS
* Dev tools: Android Studio 2.3

[2017-03-16 00:34] shergin commented on #12725
I already have a fix for it. I hope I will land it soon after proper testing.

[2017-03-16 00:38] shergin commented on #12599
Could you please confirm that this issue still exists in current master? We recently fixed very similar issue and I hope that fix may help with this problem as well.

[2017-03-16 00:46] #11891 closed

[2017-03-16 00:47] MossP commented on #1967
Yeah. I could do that. I had suggested that earlier in the thread for the original ListView, but @aleclarson had gone one step further suggesting that the repeat block get removed. His suggestion was the one that went forward in [your commit](https://github.com/facebook/react-native/commit/a4f7aa4853bb3385ed25ef5b1d7f86c58a59420c). I was merely skipping ahead to the second level fix this time arou

[2017-03-16 00:51] shergin commented on #12252
I already have a fix for it. I hope I will land it soon after proper testing.

[2017-03-16 00:55] MossP commented on #1967
See before and after checks in [ListView](https://github.com/facebook/react-native/commit/a4f7aa4853bb3385ed25ef5b1d7f86c58a59420c#diff-b4c8e4c7b175f06ffa084d8dca28e86aR597) and [VirtualizedListView](https://github.com/facebook/react-native/blob/master/Libraries/CustomComponents/Lists/VirtualizedList.js#L591)

Also the new docs for FlatList have incorrect params for Header/Footer component. Shall

[2017-03-16 01:04] shergin commented on #11892
https://sketch.expo.io/rJvd4wDjg

[2017-03-16 01:12] shergin commented on #11739
It is iOS limitation. If you need "Done" button for numeric keyboard, you have to place it manually on `inputView` (toolbar bellow the keyboard). I don't think that it should be implemented inside React Native core.

http://stackoverflow.com/questions/584538/how-to-show-done-button-on-iphone-number-pad

[2017-03-16 01:15] pj0579 commented on #12894
@hramos   I have，Is such,The app is only one page，When you have a network in the first open the app at a time，images are ok，then you close the app from the background and shut down the network to open the app.(use my images list)

[2017-03-16 01:27] pj0579 commented on #12894
@hramos
the image no show will perform this method after  more than ten seconds
![image](https://cloud.githubusercontent.com/assets/20592579/23977671/6eff7478-0a2a-11e7-9d09-8e7fc1e25f4c.png)

[2017-03-16 01:28] shergin commented on #9646
#11892

[2017-03-16 01:30] shergin commented on #9417
iOS, Android, both?

[2017-03-16 02:17] YangShaoyue commented on #12252
@shergin look forward to your fix :)

[2017-03-16 02:36] himanshu266 opened #12967 "iOS geolocation watchPosition Incorrect"
### Description

Watch location of user on iOS seems to not be using GPS. The accuracy never goes below 65 and the speed is negative, which seems like that the GPS is not kicking in. It works just fine for Android. Also, navigator.geolocation works just fine in the browser with accurate speed and accuracy. (https://codepen.io/himanshu/full/bqoEQN/)

### Reproduction

Reproduced in Expo. (https://s

[2017-03-16 03:00] Jacse commented on #4968
I've struggled with this for so long now.
With my experience, I think we should consider changing the info message from:

To:

[2017-03-16 03:15] laalaguer commented on #12698
Shall we update the official tutorial as well? it still contains outdated info here:
https://facebook.github.io/react-native/docs/signed-apk-android.html

[2017-03-16 03:45] Swordsman-Inaction commented on #12599
@shergin Do you mean (this change)[https://github.com/facebook/react-native/blob/master/Libraries/Text/RCTTextView.m#L241]? This one doesn't fix the bug.

[2017-03-16 03:58] lhholylight opened #12968 "NDK build fail ?! Win7 64 + android-ndk-r10e"
Information:Gradle tasks [clean, :app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar, :app:prepareDebugUnitTestDependencies, :app:compileDebugSources, :app:compileDebugAndroidTestSources, :app:compileDebugUnitTestSources, :ReactAndroid:generateDebugSources, :ReactAndroid:mockableAndroidJar, :ReactAndroid:prepareDebugUnitTestDependencies, :ReactAndroid:generateD

[2017-03-16 03:58] Dansyuqri commented on #2720
You might want to uninstall the application from your device, and `react-native run-android` again. Somehow, this fixed for me when I received the error

[2017-03-16 04:54] Kulbear commented on #12599
@shergin Will do in 1-2 days.   👏

[2017-03-16 05:09] dojiboy9 commented on #10854
What was the issue here? How did you fix it @npomfret ?

[2017-03-16 05:09] hey99xx commented on #12966
Can you show me your view with the ref? I suspect you have the issue I've previously opened in https://github.com/facebook/react-native/issues/9382

[2017-03-16 06:15] xareelee commented on #11099
I still need to ignore some sources to suppress warnings from `node_modules` in `.flowconfig` with RN `0.42`:

[code]

[2017-03-16 06:25] gerbenis commented on #12770
@ericvicenti, @AaaChiuuu, any news on the issue? Moreover, I suggest to reopen it as there is a very clear way to reproduce it.

[2017-03-16 06:34] brentvatne commented on #6691
I've confirmed that this occurs when a path has parens, which is why people using Dropbox in this thread have this issue -- `Dropbox (Personal)` is part of the path. Spaces are working fine. cc @mkonicek

[2017-03-16 06:39] Naoto-Ida commented on #29
+1 for what? TextInput 😙

[2017-03-16 06:50] superquest commented on #5747
I just encountered this problem when adding the a dependency called redux-query.

Changing the [redux-query .babelrc](https://github.com/amplitude/redux-query/blob/v1.2.0/.babelrc) from:

[code]

To:

[code]

Made problem go away.

[2017-03-16 06:54] sebmarkbage commented on #12905
I think I know why this is but I'd like to confirm. Do you have a small repo?

Did you possibly have a `number` that you were tapping instead of a `string`?

E.g. `<Text>{123}</Text>`

I think this only happens for numeric text.

Sometimes this pattern can accidentally create numbers: `<Text>{number && 'Text'}</Text>`

[2017-03-16 06:59] ABleas commented on #12786
I am not sure about the instructions in this output:

[code]

[2017-03-16 07:08] damathryx opened #12969 "Error: Expected "/*" or ";" but "\"" found."
While trying to link libraries `react-native link` I'm getting this error:

![screen shot 2017-03-16 at 3 06 06 pm](https://cloud.githubusercontent.com/assets/14576761/23985480/5095d8bc-0a5a-11e7-97be-9c711d2591bb.png)

react-native-cli: 2.0.1
react-native: 0.42

[2017-03-16 07:10] Kulbear commented on #12599
With the dependencies below, the behavior **DOES CHANGE** but it still doesn't work as expected.
[code]

![repro5](https://cloud.githubusercontent.com/assets/14886380/23985528/90983de2-0a5a-11e7-8c6c-cdf8a20d98d2.gif)

[2017-03-16 07:23] jan-happy commented on #6691
The original topic of this issue is the "Unexpected character" bug.
It always occurs when an image file is added or changed.

[2017-03-16 07:44] Swordsman-Inaction commented on #12599
@shergin
I dug for a while. Here is how the issue happens:
- Enter some random word
- Click outside of the `TextInput`
- The [`textFieldDidChange`](https://github.com/facebook/react-native/blob/master/Libraries/Text/RCTTextField.m#L200) gets called twice immediately, `_nativeEventCount` is increased by 2.
- The [`_onChange`](https://github.com/facebook/react-native/blob/master/Libraries/Components

[2017-03-16 07:44] K-Leon commented on #12905
We have a very large RN App and we've seen this in Production - so i don't have an easy repro :/. Even though we absolutely use the pattern you described. We have all kinds of numbers and mixed numbers in text fields at the masks i tested.

[2017-03-16 07:46] K-Leon commented on #12905
Even though we have no crash if we use everything "slowly" - tap by tap. And I can confirm adding null Check solved it.

[2017-03-16 07:49] Swordsman-Inaction commented on #12599
A simple tmp workaround is remove the condition about `eventLag`, using `if ( ![text isEqualToString:self.text])` instead of `if (eventLag == 0 && ![text isEqualToString:self.text])` in [here](https://github.com/facebook/react-native/blob/master/Libraries/Text/RCTTextField.m#L138)

But it will cause the UI syc problem when your JS running slowly, be careful if you want to use the approach.

[2017-03-16 08:28] bexoss commented on #9136
Hi, I'm using Windows 7 (64), and WebStorm.

I'm also facing similar problem very often.
It seems like problem of permissions.
I got an error when builder trying to create, or delete folder/files.

I already unchecked 'safe write' in WebStorm, but it didn't help for me.
If I try to build 10 times, at least 5 times failed. It is very annoying.
I can't concentrate on developing, how should I do?

![

[2017-03-16 08:36] MossP commented on #1967
To clarify on the above. It's the ListFooterComponent and ListHeaderComponent params that are incorrect (FooterComponent and HeaderComponent respectively).

[2017-03-16 08:54] farzadab commented on #6556
I think the problem is not completely fixed. I also encountered this problem (on **Android**), the profile picture loads at first, but then turns black and the application crashes if I don't change the screen (e.g. press back).

Here's a screenshot:
![image-darken-crash](https://cloud.githubusercontent.com/assets/5062458/23988175/57a7d8b6-0a42-11e7-8824-f9c04fd972d4.gif)

-------------
Versions:
r

[2017-03-16 09:58] magneticz commented on #12330
@alfrednerstu, did you solve this issue? If I set the number before load, then by default it will be 0, and I don't want to display badge if it is 0.

[2017-03-16 10:10] jackuhan opened #12970 "TouchableOpacity in listview only shows first item"
RN0.41
TouchableOpacity in listview only shows first item.
在listview中用TouchableOpacity，只显示第一行的item，后面的item不显示。
TouchableWithoutFeedback is ok.

` renderRow: function (item) {`
`    return <TouchableWithoutFeedback>`
`<View/>`
 `</TouchableOpacity>`

[2017-03-16 10:17] louisdavidcc commented on #8932
Remove keyboardType="default" just like @Proberts did working for me

[2017-03-16 10:24] QuantumInformation commented on #4968
so tempted to hit the unsubscribe button

[2017-03-16 10:31] konstantin-mohin opened #12971 "undefined is not a constructor (evaluating 'new window.WebSocket') in setupDevtools.js file"
# Description

I started getting this error: "undefined is not a constructor (evaluating 'new window.WebSocket('ws://' + hostname+':'+port+'/devtools')')" , it points to the setupDevtools.js:25 file.

Im using a real android device and if I turn on Debug JS Remotely option the issue disappears.

# Reproduction

Can provide access to the project if needed.

# Additional Information
- React Native v

[2017-03-16 10:34] Dashue commented on #9136
I figured out it was happening once due to having created the files /
folders as an admin. Deleting and creating as current user sorted it.

It also happened when done other process kept a handle to the files /
folders. Maybe try to close your other programs and see if it goes away.

On 16 Mar 2017 8:29 a.m., "bexoss" <notifications@github.com> wrote:

[2017-03-16 10:38] zhihuitang commented on #12849
it is a known issue, found the solution here:
https://github.com/facebook/react-native/issues/11813

[2017-03-16 10:38] #12849 closed

[2017-03-16 11:10] NeETsu commented on #7936
Hello
is there already a acceptable solution for these issue. We have the same code in iOS and it does not cause the issue (only Android)
but we need to have the Value property cause we need to clear the fields after a button push

[2017-03-16 11:26] timolins opened #12972 "Weird 3d transform behavior on Android"
### Description

Weird 3d transform behavior on Android.

[This example](https://medium.com/@youngchanje/implementing-cube-in-react-native-cb61b9a7e8c3) should look like this:

![iOS](https://i.imgur.com/9LETFEY.png)

but it looks like this on Android:

![Android](https://i.imgur.com/vvtNUZw.png)

### Reproduction

https://sketch.expo.io/SylzHeuig (iOS isn't fully working too in this example, but

[2017-03-16 11:27] astreet commented on #11809
BTW, a good way to investigate these issues yourself without having to put a bunch of logging statements in your code is to use Systrace. I wrote a guide to doing that here: https://facebook.github.io/react-native/releases/0.31/docs/android-ui-performance.html

As an example, here's the trace I captured scrolling through the app in the repro.

![screen shot 2017-03-16 at 11 16 09](https://cloud.gi

[2017-03-16 11:34] ohwhen commented on #12971
Ran into the same error, try using:

`import { WebSocketModule } from 'react-native'`

[2017-03-16 11:52] npomfret commented on #10854
I didn't fix it.  For some reason they're no longer publishing the binaries in maven.  You simply can't compile react-native native libraries in isolation.

The way to work around it is to create a new react-native project, then import your project using package.json.  That's the only way I've found to do it, and I just can't come up with anything resembling a sensible work flow when developing na

[2017-03-16 12:12] magicismight opened #12975 "Apply native animation on layout only component throws error on Android"
### Description

Use an animation with useNativeDriver on a layout only View will throw an error like this:

[code]

### Reproduction

[code]

### Solution

Apply a backgroundColor on this layout only component will fix this.

[code]

### Additional Information

* React Native version: 0.43.0-rc
* Platform: Android

[2017-03-16 12:55] nihgwu commented on #12972
have test on RN0.43? included a commit which fixes transform.skew on Android

[2017-03-16 13:14] grundmanise commented on #12754
Same issue. Setted scheme for `Release` in Xcode and trying to archive the app for production, but `main.jsbundle` is not generating...

[2017-03-16 13:24] pbruna commented on #11975
Hi @7ynk3r
Can you explain what do you mean when you said:

[2017-03-16 13:25] iggyfisk opened #12976 "FlatList - Extreme scrolling breaks touches with focused TextInput"
### Description

With a FlatList that has a fairly large number of items, sometimes you can scroll far/fast enough to permanently break something around TextInputs and touches. After "extreme" scrolling inside the FlatList, and after something is typed into a TextInput, the **first** touch outside the TextInput is swallowed. The **second** touch works as normal. It's hard to describe so I made a [

[2017-03-16 13:33] my-love opened #12977 "SAMSUNG s6 keyboard without decimal point"
### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]
with SAMSUNG s6 TextInput and keyboardType is numeric the decimal point don't see in the keyboard

### Additional Information

* React Native version: 0.38
* Platform: Android SAMSUNG S6
* Operating System: MacOS
* Dev tools: [FILL THIS OUT: MacOS

[2017-03-16 13:34] fdnhkj commented on #12925
Hey @janicduplessis , thanks for the reply!
Could you please help me finding the fix ?
I don't find it in the  [0.43 release changes.](https://github.com/facebook/react-native/compare/v0.43.0-rc.2...master)

[2017-03-16 13:38] ptomasroos commented on #12976
Please take a look at this whenever you have the time @sahrens since its holding us back from moving FlatList to production. Our feeling is that its not just happening on extremely fast scroll, but thats a very easy way to reproduce it. It happens otherwise too just not deterministically. Cheers!

[2017-03-16 13:41] stoffern commented on #9392
@ide repoened thisone. why?

[2017-03-16 14:00] ambientlight commented on #11781
@joshuafeldman, @alloy:
Run into the same thing.

Went into the Pods.xcodeproj within Xcode. Then opened  React target **Build Settings**. Looked into **Header Search Paths**, $(PODS_TARGET_SRCROOT) environment variable doesn't get resolved. (cocoapods issue?)
So replacing it with the full absolute path to **react-native** essentially resolves this issue at the project builds fine.

Steps to repro

[2017-03-16 14:04] alloy commented on #11781
@ambientlight You need CocoaPods version >= 1.2.0. Can you double-check if that fixes it for you?

[2017-03-16 14:04] alloy commented on #11781
@joshuafeldman Awesome, thanks! Will take a look later today.

[2017-03-16 14:09] cutemachine commented on #12754
I had the same error and was able to run the app only through Xcode. `react-native run-ios` did not work. To resolve the issue you need to remove the build folder `YOUR_PROJECT/ios/build/`. After this you should be able to run your app through `react-native run-ios` again. Hope this helps.

[2017-03-16 14:22] om2pkral commented on #12754
For Debug configuration, which is default when new project is generated with `react-native init` command, build does not generate bundle file but instead uses packager for that. So the issue is related to network settings and is very likely related to proxy settings. If proxy is used, do not forget to set bypass proxy for localhost and 127.0.0.1 addresses.

[2017-03-16 14:44] ambientlight commented on #11781
@alloy yes, I can confirm that with cocoaPods **1.2.0** it builds fine out of the box. thanks.

[2017-03-16 14:50] astreet commented on #11809
Fix for the missing bridge optimization is in master now: https://github.com/facebook/react-native/commit/c8d922b4670127c417d744a0a1412cc6ad961fef . This should help fix the majority of them problems people were seeing. Yoga fix will be landing soon.

[2017-03-16 15:06] sahrens commented on #1967
@MossP: which error has been fixed?

Yeah, I just forgot to update the docs when I updating the component naming. @evv: we should merge the docs fix into the RC.

[2017-03-16 15:19] aymericbouzy commented on #3406
Adding `flex: 0` fixes it for me! I'm not setting flex to null though, so I'm not sure what was causing this in the first place ... I still think this issue should be reopened.

[2017-03-16 15:25] adrai commented on #12223
I've tested with facebook/react-native#v0.42.1 in the package.json...

for ios everything fine (just a new warning) but for android the build fails with something like:
[code]
:-(

[2017-03-16 15:36] cdesch commented on #12188
Letting Xcode Update the project settings fixed the issue for me.

[2017-03-16 15:36] Luckygirlllll commented on #6282
I have the same problem on 0.42.0, commenting didn't help me, and when I tried "react-native-git-upgrade" , it just says "command not found". Any ideas how to fix it?

[2017-03-16 15:58] MattyK14 commented on #6282
@Luckygirlllll did you run `npm install -g react-native-git-upgrade` first?

[2017-03-16 16:16] Luckygirlllll commented on #6282
@MattyK14 Just have tried it, so I done `react-native-git-upgrade`, and after that `react-native run-ios`, and the error didn't disappear.

[2017-03-16 16:39] sahrens commented on #12976
iOS only? And you don't see the same problem with ListView and the same level of "extreme scrolling"? Very odd. I wonder if it could be related to event coalescing? @shergin - maybe you can take a look?

[2017-03-16 16:43] sahrens commented on #10142
Has anyone tried moving to FlatList and seeing if this is resolved without disabling removeClippedSubviews?

[2017-03-16 16:51] MossP commented on #1967
@sahrens It was the error with the inconsistent params in FlatList / SectionList / VirtualizedList. I missed your commit from a few days ago.

The only remaining thing is whether we choose to make the onEndReach changes to VirtualizedList as they were with ListView (i.e allowing a user to re-trigger the onEndReach if they move outside and back again).

[2017-03-16 17:10] iggyfisk commented on #12976
I gave it another shot now that my scrolling hand is Usain Scrollt and could not make it happen with ListView nor Android.

On Android I would sometimes run into https://github.com/facebook/react-native/issues/12884, but that's **temporary** and **delays** events, so different in nature from this **permanent** event **skip**.

[2017-03-16 17:16] arsenghazaryan commented on #11809
Hi @astreet ,
Is there a way to cherry-pick this fix into 0.43.rc instead of waiting for 0.44.0rc version?

[2017-03-16 17:17] JasonHenson commented on #6679
Lol, it actually works -- wish I knew that long ago so many clicks so many clicks...

[2017-03-16 17:20] ncuillery commented on #11809
And 0.42.2 😉

[2017-03-16 17:23] damathryx opened #12978 "Prevent system font from overriding app font"
I need to force app font inside the app and not to be overridden by system font. Namely font size and fontFamily. I also added the font I am using in assets and resources for android and iOS respectively.

rn: 0.42

[2017-03-16 17:26] janicduplessis commented on #11809
ping @grabbou

[2017-03-16 17:35] 7ynk3r commented on #11975
Hi @pbruna,

The problem is that `npm link` won't modify `package.json`. So, even when your package *will be* under `node_module` in your app, `react-native link` won't see it because it needs the package to be declared in `package.json`.

I don't think there's an easy solution to this problem unless `react-native link` looks under `node_module` for rn packages instead of `package.json`, which at

[2017-03-16 17:36] arsenghazaryan commented on #11809
Hey @grabbou ,
Is there a way to include this fix into 0.43.rc release instead of waiting for the next one?

As you can see from the comments, this is a really important performance fix.

Thanks :)

[2017-03-16 17:37] #11975 closed

[2017-03-16 17:42] Elik86 commented on #11781
@joshuafeldman, @alloy:
same problem here.

- update pod to 1.2.0

- run "pod update"

- clean & build

worked for me

@ambientlight:

i used in my
Build Settings ==> Header Search Paths

"$(SRCROOT)/Pods/Headers/Public/" - for the environment variable

[2017-03-16 17:46] RafaelOda commented on #2088
I agree with @mikefrancis and @jonlong opinions.
Another issue that I face is when you are dealing with optional text nodes, for example.

Doing something like

[code]

seems worse than

[code]

[code]

[2017-03-16 17:52] gperdomor commented on #12754
Same here...

[2017-03-16 18:03] ajwhite commented on #2556
Will `xhr.abort()` actually cancel the native pending network request? We've seen scenarios where a bottleneck of hanging requests pile up, where there's an upper limit and they appear to start blocking requests that aren't hanging.

[2017-03-16 18:09] hramos commented on #12978
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-16 18:09] #12978 closed

[2017-03-16 18:09] hramos commented on #12977
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-16 18:09] #12977 closed

[2017-03-16 18:13] joshuafeldman commented on #11781
@alloy the project I linked to was setup using cocoapods version 1.2.0 and exhibits the issue. I wonder what the difference is.

[2017-03-16 18:15] SudoPlz commented on #2519
I've found out by experience that if you correctly design your app to use `points` instead of `pixel` font sizes, you don't need to disable `allowFontScaling` and you don't need ANY fancy code to choose the right font size for your elements.

I just tell our designer to design for iOS 5, and use Points in his mockups, and all magically just works.

[2017-03-16 18:15] hramos commented on #12972
Thanks for providing a repro with Sketch, this is very helpful! As of this writing, Sketch is using 0.41 so at least we know this issue occurs on that version.

[2017-03-16 18:19] hramos commented on #12968
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-16 18:19] #12968 closed

[2017-03-16 18:19] hramos commented on #12969
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-16 18:19] #12969 closed

[2017-03-16 18:19] hramos commented on #12970
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-16 18:19] #12970 closed

[2017-03-16 18:19] a-koka commented on #12966
Adding `style={{opacity: 1}}` did the trick. Thanks a lot!

Referring to your comment in #9382, what exactly do you mean by collapsable property?

`Now I always force it to be created with collapsable property.`

Although an annoyance, should I just follow your lead and close out this issue?

[2017-03-16 18:26] dannycochran commented on #10820
Seeing this on 0.41.0 as well.

[2017-03-16 18:35] shergin commented on #12976
OMG, this bug report is so amazing! Thank you, @iggyfisk!
I will try to debug it soon.

[2017-03-16 18:35] adrai commented on #12223
But seems to work better with: v0.43.0-rc.2 and new react v16.0.0-alpha.3 (at least on ios)

[2017-03-16 19:03] hey99xx commented on #12966
So `style={{opacity: 1}}` is what I used until I understood the issue.

Collapsable property is explained in https://facebook.github.io/react-native/docs/view.html#collapsable

However, some of UIManager functions such as `measure` expect to find a native view; and when it can't it returns `undefined` values instead of throwing an error; really it would be better to throw an error. React unfortuna

[2017-03-16 19:11] gwmccull opened #12979 "Timeout Error using react-native-git-upgrade"
### Description

I'm trying to upgrade my app from RN 0.36.0 to RN 0.40.0 (and eventually to RN 0.42.0).  I installed `react-native-git-upgrade` and ran it but it gave timeout errors.  I also attempted to ping the IP address and it timed out.

The error I received was:
[code]

### Reproduction

I ran the following commands:
`npm install -g react-native-git-upgrade`
`react-native-git-upgrade 0.42.0

[2017-03-16 19:14] grabbou commented on #11809
Yeah, I am back to work tomorrow and will release important updates. The
conference trip distracted me a bit.

On Thu, Mar 16, 2017, 18:37 Arsen Ghazaryan <notifications@github.com>
wrote:

[2017-03-16 19:27] CodeXtinction opened #12980 "BUG: android:windowSoftInputMode="adjustResize" will not work when StatusBar hidden="true""
AndroidManifest.xml
android:windowSoftInputMode="adjustResize"

I found this bug while playing with StatusBar
if you set StatusBar hidden="true" the keyboard push the header out of the screen instead of resizing.

hidden="false"
![](https://k60.kn3.net/652469001.png)

hidden="true"
![](https://k61.kn3.net/65E993B7F.png)

 "react": "15.4.2",
 "react-native": "0.41.0",

[2017-03-16 19:34] paalex commented on #12980
Same here..
http://stackoverflow.com/questions/42840555/how-to-avoid-keyboard-pushing-layout-up-on-android-react-native

[2017-03-16 20:09] alloy commented on #11781
@joshuafeldman I gave it a spin, the issue is the space in the `./Other Sources` path. This is definitely a bug in the podspec.

I’ll make a PR for this, but in the meantime you can work around it by either:

* Removing the whitespace from `Other Sources`
* Patch `Other Sources/ReactNative/React.podspec` to replace `"$(PODS_TARGET_SRCROOT)/ReactCommon"` with `"\"$(PODS_TARGET_SRCROOT)/ReactCommon\

[2017-03-16 20:11] astreet opened #12981 "Add support for AlarmManager in Timing to allow proper handling of long timers"
Setting timers for multiple minutes isn't handled properly in React Native on Android: it keeps the Timing module awake instead of relying on the system waking us up when the timer should go off.

We should explore setting a cut off at which we delegate to AlarmManager and Handler.postDelayed instead of handling the timers using framecallbacks.

[2017-03-16 20:32] hramos commented on #12980
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported. Specifically, a code sample or Sketch would be ideal

[2017-03-16 20:32] #12980 closed

[2017-03-16 20:45] account-archived-270316 commented on #12754
In my case it was because I was running Shadowsocks. (I'm in China at the moment)

[2017-03-16 20:59] joshuafeldman commented on #11781
@alloy there it is 🙌

Appreciate the insight.

[2017-03-16 21:17] Ignacio01 commented on #6938
Hello, I had the same problem and following these steps I was able to solve the error!
https://github.com/devfd/react-native-google-signin/blob/master/ios-guide.md

[2017-03-16 21:48] 7ynk3r commented on #12168
hi @StasDoskalenko! im having a similar problem. what was the solution in your case?

[2017-03-16 21:58] wkwyatt commented on #12711
So what do you need to run to get it working?

[2017-03-16 22:01] sungwoncho commented on #12698
@laalaguer I fixed this in https://github.com/facebook/react-native/pull/12699 but it seems that the doc has not been released yet. Let's close this when the updated version is released.

[2017-03-16 22:18] madilks opened #12982 "Can't Specify Transformer Options when Bundling"
### Description

When using the bundle command from the CLI, it is impossible to specify transformer options.

According to the [documentation](https://github.com/facebook/react-native/tree/master/packager), you should be able to specify a config file with a key `getTransformerOptions` that contains a function that will later return the transformer options.

The provided file is parsed and read in

[2017-03-16 22:19] sebmarkbage commented on #12905
Opened a fix upstream in React. https://github.com/facebook/react/pull/9194

[2017-03-16 22:37] janicduplessis commented on #12711
If you update react-native to 0.43.0-rc it will work.

[2017-03-16 23:02] janicduplessis commented on #12975
Fix here #12983

[2017-03-16 23:31] dpxcc opened #12985 "XMLHttpRequest.abort() throws warning"
### Description

XMLHttpRequest.abort() throws warnings

### Reproduction

https://sketch.expo.io/H1331o_jl

[code]

The warnings are not shown in expo:

[code]

### Solution

Remove warnings

### Additional Information

* React Native version: 0.42
* Platform: iOS simulator
* Operating System: MacOS
* Dev tools: Chrome dev tools

[2017-03-17 00:09] ddeanto commented on #10845
@astreet Unfortunately your fix is not working for me, I am still getting the null reference error. As you can see in the video below, one way I found to repro this crash is to submit a form **immediately** after updating it. Once submitted, the scene pops back.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/8404695/24023659/1f66fad0-0a84-11e7-8ef9-bf96b5f13c8e.gif)

Here is

[2017-03-17 00:24] sbaar commented on #12368
I am experiencing this issue on devices as well. Any solution?

[2017-03-17 00:29] suparng-medallia opened #12986 "Swizzling AppDelegate breaks the touch events"
### Description

If I swizzle a method in AppDelegate, the Developer Menu no longer remains interactive and touching any option doesn't do anything. I believe the touches aren't reaching the Developer Menu action sheet.

#### Update 1
This breaks all the touch events, not just the developer menu.

### Reproduction
Here is a simple code snippet to swizzle the AppDelegate's `application:openURL:opti

[2017-03-17 00:33] astreet commented on #10845
As per that commit, this particular NPE is no longer possible. Are you sure you have a version of RN with that commit in it?

If so, let's file a separate issue with a stack trace -- code that we can run on our end to repro the issue will also help us figure out the correct fix.

[2017-03-17 00:36] ddeanto commented on #10845
@astreet fair, I will do my due diligence and post my findings.

[2017-03-17 00:45] a-koka commented on #12966
Makes sense. Thank you @hey99xx!

[2017-03-17 00:45] #12966 closed

[2017-03-17 01:37] sharonjl commented on #4968
Just ran into this issue. Had created a custom component (`app.js`) and imported it in `index.ios.js`:

[code]

[2017-03-17 01:46] jeemuu commented on #9842
虽然重新渲染多余，但是state并没有变化，状态还可以保存下来，重绘未导致重新创建。

[2017-03-17 01:49] ericvicenti commented on #10781
Yeah, this is expected with Navigator, which will be deprecated soon. Please consider moving to React Navigation, where this issue is already fixed!

[2017-03-17 01:49] #10781 closed

[2017-03-17 01:49] ericvicenti commented on #11916
Sorry, Navigator will be deprecated soon. You can fork it and customize it for your app if you'd like, but otherwise you may want to look into React Navigation

[2017-03-17 01:49] #11916 closed

[2017-03-17 01:57] yunlongz commented on #10423
@armadilio3  I use yours,but It`s not running.

[2017-03-17 02:15] Rice-M opened #12988 "SAMSUNG s6 keyboard without decimal point"
### Description

with SAMSUNG s6 TextInput and keyboardType is numeric the decimal point don't see in the keyboard and this only happen in real device

### Reproduction

https://sketch.expo.io/SJtCVpdsg

### Additional Information

React Native version: 0.38
Platform: Android SAMSUNG S6
Operating System: MacOS
Dev tools: MacOS

[2017-03-17 02:44] cbjs commented on #12342
still no solution

[2017-03-17 02:50] CheragV commented on #12976
I am facing a similar issue with my project. While the text input is focused 2 things happen :

1 => scrolling works as usual, so this is great
2=> when I touch the list to select an option the first touch doesn't work, I checked onBlur is called at this point, and then the second press works just fine

I am not sure if it is the same problem you are facing, If not do you have a solution to this @

[2017-03-17 03:23] MiLeung commented on #11371
Got this error. had to use Math.pow instead of **

[2017-03-17 04:45] marcellodesales commented on #2880
So, I still can't get it to run... I'm trying to bootstrap it from a Docker image https://github.com/MaximeD/docker-react-native#get-image

[code]

However, I do have the command `android`...

[code]

[2017-03-17 05:13] onpaws commented on #3592
I upgrade my RN project to latest (0.42) and having same issue as @fangmobile. Anyone have insights on this?

[2017-03-17 05:55] MrCeleryman commented on #11533
Updated to 0.42 and still the same issue, I just make the change locally each time and it works fine but still haven't got around to doing a proper PR could anyone else have a look at this?

[2017-03-17 06:23] damathryx commented on #491
@gyzerok I have the same issue.

[2017-03-17 06:44] damathryx opened #12989 "Prevent system font from overriding app font"
Description:
Font style is overridden by system fonts on phones like Samsung which has a feature of changing system fonts on setting.

Reproduction:
You need a phone that can change system fonts not fonts by themes. Change the font in System -> Display -> Fonts. Then the app also gets that font.

- I added my fonts in assets
- Uses a stateless component called AppText with my custom font.

Additio

[2017-03-17 07:27] codetomylaw commented on #2798
java.lang.NullPointerException
com.facebook.react.views.text.ReactTextView.setText(ReactTextView.java:37)

RN： 0.29.2

why ？

[2017-03-17 07:40] codetomylaw opened #12990 "java.lang.NullPointerException"
android.widget.TextView.checkForRelayout(TextView.java:6668)
 android.widget.TextView.setText(TextView.java:3893)
 android.widget.TextView.setText(TextView.java:3744)
 android.widget.TextView.setText(TextView.java:3719)
 com.facebook.react.views.text.ReactTextView.setText(ReactTextView.java:37)
 com.facebook.react.views.text.ReactTextViewManager.updateExtraData(ReactTextViewManager.java:122)
com.f

[2017-03-17 07:42] liuliangsir commented on #8472
thank for me

[2017-03-17 08:27] StasDoskalenko commented on #12168
Hi @7ynk3r ! Upgraded to the last version of RN, added **splash screen**, built with bitcode, and error has gone.

[2017-03-17 08:29] CDog34 commented on #9880
I've met the same problem in RN 0.41
But I found that if I set an 'onLoad' prop with the empty function (()=>null) to the Image tag, can make it work.

[2017-03-17 08:54] gyzerok commented on #491
@damathryx this should be fixed in 0.42.

[2017-03-17 09:31] yingouqlj commented on #7308
resolved by updated Xcode  ☺☺☺☺

[2017-03-17 09:32] Ansalibrahim commented on #11248
Once, I had the same problem, then I changed the `return false;` to `return;`. Then everything seems to work good and in a more predictable manner. It will not be a solution. But so far it's working good at least for me

[2017-03-17 09:33] avivaWang commented on #12784
@did you find the solution?

[2017-03-17 09:33] avivaWang commented on #12784
@RichardLindhout  did you find the solution?

[2017-03-17 09:36] hannigand opened #12991 "Dynamically setting Modals visibility crashing iOS Simulator whilst debugging"
### Description

I have a `Modal` within my React Native app which has it's `visible` prop set via a state property. When using iOS Simulator with `Debug JS Remotely` and trying to toggle the visibility, iOS Simulator crashes. When disabling debugging, the application works as expected.

Here is the error that I am receiving in my console
[code]

Downgrading to React Native `0.41.0` seems to recti

[2017-03-17 09:53] cky113999742 opened #12992 "ios update to 0.43.0-rc.2, None of your spec sources contain a spec satisfying the dependency: `Yoga (= 0.43.0-rc.2.React)`"
// the profile
pod 'React', :path => './node_modules/react-native', :subspecs => [
    'Core',
    'RCTImage',
    'RCTNetwork',
    'RCTText',
    'RCTWebSocket',
    ]

Fetching external sources
-> Fetching podspec for `React` from `./node_modules/react-native`

Resolving dependencies of `Podfile`
[!] Unable to satisfy the following requirements:

- `Yoga (= 0.43.0-rc.2.React)` required by `Reac

[2017-03-17 10:27] komaldeep commented on #9452
I am facing same problem.... Anybody found solution for it

[2017-03-17 10:56] radiovisual opened #12993 "[Feature Request] Limit accidental "file opens" from Debug Screen File Stack"
### Description

The React Native Error Screen "The Red Screen of Death" has a feature where you can click on any of the items in the Call Stack to open the relevant file, for example, if I click on the top row of the File Stack below (`employeeCreate`) it will open `employeeActions.js`:

![image](https://cloud.githubusercontent.com/assets/5614571/24036225/8edbde46-0af0-11e7-82b9-e8276d03de02.png)

[2017-03-17 11:07] iggyfisk commented on #12976
That doesn't sound like the exact same thing @CheragV, once I break things by monster scrolling a FlatList, the onBlur handler on TextInputs still works as expected. It doesn't fire on the first touch after typing since that touch gets eaten by the bug.

Either way my solution so far is to spend an hour doing retakes of a bug report video, then wait for the California boys to sort it out.

[2017-03-17 11:10] jjdp opened #12994 "Proguard app crash (Caused by: java.lang.NoSuchFieldError: no "Lcom/facebook/jni/HybridData)"
### Description

I am getting a fatal exception when i use proguard on my release build.
`Caused by: java.lang.NoSuchFieldError: no "Lcom/facebook/jni/HybridData;" field "mHybridData" in class "Lcom/facebook/react/cxxbridge/CatalystInstanceImpl;" or its superclasses`

Here is the stacktrace:

[code]

### Additional Information

* React Native version: 0.42.0
* Platform: Android
* Operating System:

[2017-03-17 11:14] damathryx commented on #491
@gyzerok Hi, system font still overrides the app fonts in Samsung phones. I'm currently with version 0.42.

[2017-03-17 11:14] ptomasroos commented on #12992
As the error is trying to tell you. You need to include the dependency Yoga.

[code]

[2017-03-17 11:16] ColCh commented on #12060
Fix that helped me with disappearing components: setting `zIndex` to it
Another one, which removed disappearing screen problem using custom self-written Modal

[code]

[2017-03-17 11:29] gyzerok commented on #491
@damathryx there are to possible issues you have

1. You forgot to call `react-native link` before building your application so you simply do not have any fonts within your build.
2. You [need to sanitise your fonts](https://androidbycode.wordpress.com/2015/06/02/help-my-custom-font-does-not-work-on-android-5-0/) because some versions of Android are more strict about font file format.

[2017-03-17 11:32] grabbou commented on #12777
Version bumped, new package is getting deployed. I am going to close that issue, please update to 0.42.2 when it gets released to npm (next hour).

Apologies for incovnience caused.

[2017-03-17 11:32] #12777 closed

[2017-03-17 11:34] grabbou commented on #12664
Cherry-picked c8d922b4670127c417d744a0a1412cc6ad961fef

[2017-03-17 11:38] grabbou commented on #11809
0.43.0-rc.3 released with the fix

[2017-03-17 12:01] cbrevik commented on #11743
We've also noticed the same issue with React Native 0.39.0

Subsequent fetches will not reach the server. We have to hard-quit the app to be able to re-fetch.

[2017-03-17 12:03] damathryx commented on #491
@gyzerok
1.) I have linked my assets using rnpm link assets and on my package.json
`"rnpm": {
  "assets": "./assets/fonts"
}`
2.) Also custom fonts work but get overriden by Samsung system fonts (this is my problem)

[2017-03-17 12:11] emilsjolander commented on #11809
Yoga fix has not landed yet. Hopeing today

[2017-03-17 12:16] gyzerok commented on #491
@damathryx then I have no more solutions

[2017-03-17 12:19] fannedalk commented on #1240
@brucepom Any news on the distance problem? I'm experiencing this same issue.

[2017-03-17 12:23] ebaynaud opened #12995 "React-Native scrollToEnd on iOS behaves differently than scrolling manually, putting items to bottom"
### Description

Please consider this example on iOS: https://sketch.expo.io/SyeyMSx_il

Try to scroll manually, everything looks normal: No comments message stays on top.
If you click now on the button now, the No comments message sticks to the bottom.
If you scroll manually again, everything goes normal again.
Why using scrollToEnd should be different than scrolling manually? And how to fix this

[2017-03-17 12:25] MobiusHorizons commented on #12458
is there a temporary work-arround? I had to update to 0.43-rc.2 to get `FlatList` because of unfixed android bugs in `ListView` but this bug makes development a pain. I guess it goes away in the production version of the app, but that's still a real pain in development.

Also if there is specific work that you would like a PR for, I'd be glad to do it, as I know you guys have a lot of work on your

[2017-03-17 12:53] gemma-ferreras commented on #12991
#12768

[2017-03-17 13:06] deepaksisodiya commented on #10925
Same exception is coming in production but not in debug mode.
Any idea how to reproduce this exception locally?
And is this because of upgrading to RN 39?

[2017-03-17 13:10] cky113999742 commented on #12992
![2017-03-17 9 07 22](https://cloud.githubusercontent.com/assets/14501851/24044323/c3a94c7a-0b55-11e7-89cc-447db549d485.png)

I do it,but  the "Yoga.h" file not found.  React and Yoga in the same level, could import Yoga.h from React.h? @ptomasroos

[2017-03-17 13:20] #12991 closed

[2017-03-17 13:29] LucasSouzaa commented on #10423
@yunlongz are you building from source?
I use this "solution" and work fine.

[2017-03-17 14:00] L-Jovi commented on #9200
I find that temporary method to resolve this issue, put your ListView component inner the ScrollView, whatever you scroll and change the row, the render works well.

hope make sense and could help people who encounter here.

[2017-03-17 14:51] jaimecorrea commented on #12378
Same issue here, Mac OS

[2017-03-17 14:52] jaimecorrea commented on #4901
Same issue!

[2017-03-17 15:16] pocesar commented on #9665
getting this as well, just enough leaving the app opened for a couple of minutes, using RN 0.43.0-rc.3

[code]

pretty constant and reproduceable

[2017-03-17 15:42] shergin commented on #12976
I found an actual problem. The fix is coming! 🎉

[2017-03-17 15:43] ptomasroos commented on #12976
What a hero @shergin! Looking forward to it!

[2017-03-17 15:49] fadookie commented on #11301
@cpojer Thanks for getting this fixed? Any idea when react native will switch to jest 19?

[2017-03-17 16:05] deejayxd07 commented on #9136
still getting this error on v0.41.2

[2017-03-17 16:15] joshuapinter commented on #2468
@BabuinGH  What do you mean by `parameter`? Do you mean a prop on the `Image` component like:

`<Image borderRadius={5} ... />`

[2017-03-17 16:17] joshuapinter commented on #2468
@BabuinGH Holy crap, you're right. That works. Whereas setting `borderRadius` in the `style` doesn't do anything. Why would that make a difference? How are they handled differently? That should be logged as a bug for sure.

[2017-03-17 16:22] joshuapinter commented on #2468
Okay, quick update. I have confirmed that the specific border radius attributes work as props as well, like `borderTopLeftRadius`, `borderTopRightRadius`, etc.

I have also found that if you set a `backgroundColor` style on the Image (maybe before the image is fully loaded) the backgroundColor does not respect the `borderRadius` when set on the props of the `<Image .../>` component. However, when

[2017-03-17 16:25] 7ynk3r commented on #12168
Thank you so much @StasDoskalenko!

[2017-03-17 16:49] shergin commented on #12784
Probably same problem as #12976 is.

[2017-03-17 16:51] shergin commented on #12784
@avivaWang How hard is it to reproduce this problem?

[2017-03-17 17:02] MarkHan1213 commented on #12781
Thanks, my dir name is "React Native" ; change "React". and solved this problem, Thank u!

[2017-03-17 17:09] avdept opened #12996 "Geolocation timed out, code 3"
### Description

I have geolocation running in my app, followed examples described in docs. IOS version works fine, android however works only on non xiaomi devices. I tried on 2 xiamomi devices, and got `Location request timed out` error. While on samsung devices it works fine.

### Reproduction

[code]
### Solution

Need to find a way either provide reason why timed out, or just fix it.

### Add

[2017-03-17 17:15] janicduplessis commented on #12458
You can use console.ignoredYellowBox (http://facebook.github.io/react-native/docs/debugging.html#warnings)

[2017-03-17 17:16] janicduplessis commented on #12458
Also I have a PR already to fix this, should get merged soon and then we can include the fix in the next rc patch.

[2017-03-17 17:26] onpaws commented on #12337
I'm currently blocked by a similar Packager [issue](http://stackoverflow.com/questions/42863481/packager-looks-in-node-modules-instead-of-local-repo). Very similar behavior - build and run OK but Packager is looking in the wrong place for modules.

Would very much appreciate any insight on this.

[2017-03-17 17:28] avdept commented on #7495
Any progress on this ?

[2017-03-17 17:29] suparng-medallia commented on #12986
Please ignore this, it was a conflict with another internal library that was causing this issue.

[2017-03-17 17:29] #12986 closed

[2017-03-17 17:40] pocesar commented on #9665
and now this one (the app simply closes, no "App stopped working" [ok])

[code]

[2017-03-17 17:44] nishiltamboli commented on #12895
+1
Same issue. When I enable Remote Debugger and reload - Particularly when there is a reload after some change is made in a file.

[2017-03-17 17:47] greyvugrin commented on #7495
Alex, there are a few solutions on this thread. What have you tried? It
also may be worth creating a new ticket once you have more details since
this thread is so long, if none of the above solutions work.

On Fri, Mar 17, 2017, 10:29 AM Alex Sinelnikov <notifications@github.com>
wrote:

[2017-03-17 17:52] CodeXtinction opened #13000 "android:windowSoftInputMode="adjustResize" will not work when StatusBar hidden="true" Android"
Ill provide more info about this issue  #12980

android:windowSoftInputMode="adjustResize" at android/app/src/main/AndroidManifiest.xml  (by default in the lastest version) prevent the content collapses out of the screen when keyboard appears and works well, but here the problem, if you want to hide the StatusBar then adjustResize will not work, content collapses and if you have a ScrollView and m

[2017-03-17 17:55] raldred commented on #7495
Like you. None of the above suggestions work. The only solution for me to
get a location on Android was to use a watch and update the UI to inform
the user what's happening if your apps functions reply on locat. Don't
bother with getCurrentPosition it doesn't work on any of the 10 real test
devices we have running various android versions 4+

On Fri, 17 Mar 2017, 17:48 Grey Vugrin, <notifications@

[2017-03-17 17:58] sattaman commented on #7495
The following works for me

[code]

[2017-03-17 18:03] macnube commented on #12832
So I went through the painful process of recreating the project from scratch and slowly adding in everything little by little. Now the cmd R and debug menu with cmd D does work.

I did this after I cleaned out the project, cleared the TMPDIR for react-native and reinstalled watchman to no avail.

Not the best solution but I'm glad that it's working now.

[2017-03-17 18:03] #12832 closed

[2017-03-17 18:05] macnube commented on #12336
I did a clean install and now I'm running on the latest.

[2017-03-17 18:05] #12336 closed

[2017-03-17 18:08] jeanregisser commented on #12992
Thanks @ptomasroos I added the explicit dependency with RN 0.43.0-rc3 and didn't get any error 👍

[2017-03-17 18:42] shergin commented on #12952
Have you tried rebuilding Pods? Just delete `Podfile.lock`, `Pods`, and run `pod install`.

[2017-03-17 18:44] GeoffreyPlitt commented on #12895
Getting this constantly now.

[2017-03-17 20:10] mienaikoe commented on #11825
Having the same issue with react-native version 0.40.0

[2017-03-17 20:16] ravkr commented on #6499
Thanks SOOO MUCH!
Xiaomi Redmi 3S :smiley:

[2017-03-17 20:22] RichardLindhout commented on #12784
I think it has something to do with a busy JavaScript thread.

[2017-03-17 20:35] ayc1 commented on #12770
I wasn't able to reproduce this issue on multiple applications after enabling nodes.

@gerbenis @jcharbo can you provide a clear minimum repro that includes js code?

[2017-03-17 20:55] grin commented on #12976
I'm also running into a similar issue where extreme scrolling of a `FlatList` breaks touches. In my app I have a list of 100-200 items where each item has two touchable areas. After a bit of scrolling elements stop responding to touches, sometimes it takes a second try for it to work but sometimes it's 3-4 touches. I don't use TextInputs.

[2017-03-17 21:42] arsenghazaryan commented on #11809
Thanks a lot!
Now, let's wait for the Yoga fix :)

[2017-03-17 21:44] emilsjolander commented on #11809
Yoga fix had to be reverted as it broke some unexpected things. We will work on getting it in as soon as possible.

[2017-03-17 22:23] j2kun opened #13005 "react-native run-ios does not pass environment variables to the packager"
### Description

When you run `react-native run-ios`, and it launches the packager in a separate window, no environment variables from the context session are passed to the packager process.

This breaks any babel plugins that use `process.env`.

### Reproduction

Clone https://github.com/j2kun/react-native-run-ios-env-bug
`npm install` or `yarn install`

Run

[code]

Observe that the env-var is n

[2017-03-17 22:32] dotnetprofessional opened #13006 "PostMessage Bridge activation inconsistent btw platforms"
### Description
The Android and iOS platforms differ in the order in which they setup the linkBridge. The iOS version sets the bridge up first then executes user supplied scripts. However, Android does this in the reverse order. The iOS order is preferred and considered to be the correct order. This has caused an issue with our application in that we want to override the postMessage of the bridge,

[2017-03-17 23:20] markusguenther commented on #11036
Cool that helps, but on android it works without this attribute in portrait and landscape mode!

[2017-03-17 23:35] shergin commented on #12784
Yeah, probably. I hope fixing #12976 also will fix this problem.

[2017-03-18 00:22] RichardLindhout commented on #12976
https://github.com/facebook/react-native/issues/11809#issuecomment-285938537

[2017-03-18 00:23] arsenghazaryan commented on #11809
Thanks for the update.

[2017-03-18 01:59] Eyesonly88 commented on #12261
If you are still having issues after fixing syntax errors complaining about BundleIdentifier not found, here's what I did to solve it:

- Remove the tv-os target in your xcode (select your project in xcode and right click -> delete on the tv-os targets.
- Clean build folder through xcode (product -> clean)
- Run `npm start -- --reset-cache`

Now running `react-native run-ios` should just work ™️ 🎉

[2017-03-18 02:13] Eyesonly88 commented on #7107
Note for future readers: this error also happens if you have `throw Error(msg)` in your code!

[2017-03-18 03:18] fungilation commented on #12261
Note that I did `react-native-git-upgrade` from RN 0.41 to 0.42. Surprisingly no 3 way merge conflict this time in `project.pbxproj`. The most conflicts are in `Info.plist` instead, most of which is simply lines moved out of order. A programmatic rebuild would definitely be much better here that doesn't depend on order of lines.

[2017-03-18 03:29] tjboudreaux commented on #12737
I'm having the same issue

[code]

[2017-03-18 05:55] bitinn commented on #12846
I am the owner of `node-fetch` (which react-native uses) and was searching for a relevant issue about `getAll`.

Basically there are 2 issues to be fixed for `node-fetch` here:

- for `v1.6.3`, which `react-native` currently uses, you are saying `set-cookie` headers isn't parsed properly. I would glad to take a PR with tests to fix it.

- we are currently working on `v2` of `node-fetch`, which fol

[2017-03-18 08:27] yoonchulkoh commented on #12754
In my case, nothing was displayed on the other terminal that started up when `react-native run-ios` was executed.
It means that packager is not running.

So I was able to start packager by running `PROJECT_DIR/node_modules/react-native/packager/launchPackager.command` myself.
I run `react-native run-ios` again, it started up normally.

I don't know the cause, but the behavior of the `open` command

[2017-03-18 08:29] volodymyrrudyi commented on #5823
Same here, Android 6.0, latest RN,  remote debugging

[2017-03-18 09:40] leizard commented on #10591
+1. I have a result list from a search query. I want to get the value when people click on the Text component, which is inside a ListItem.

[2017-03-18 12:03] dkaushik94 commented on #9468
@willoughby Same. Got a response and rendering it after setState.  When value is changes i am thrown this error.

[2017-03-18 12:34] playma opened #13010 "jschelpers/JavaScriptCore.h file not found"
This is a clean repository, and I get some problem.
Can anyone help me?

<img width="739" alt="2017-03-18 8 31 44" src="https://cloud.githubusercontent.com/assets/7677470/24072016/1b554a2c-0c1a-11e7-8f97-b6fe9f29b408.png">

[2017-03-18 12:35] chrisharrison commented on #10553
Also getting this, and it's causing some images not to display. The images were working fine before and the paths have not changed.

[2017-03-18 13:13] afilp commented on #11068
I have exactly the same problem and cannot release without a fix...

RN: 0.42.3
Phone: Galaxy s6 edge

Is anybody working on this? Thanks.

[2017-03-18 13:47] mienaikoe commented on #12060
you're a lifesaver, @ColCh !

[2017-03-18 14:58] JulianKingman commented on #10882
`npm link` doesn't work yet, pwaiting for this pull request: https://github.com/facebook/react-native/pull/9009

[2017-03-18 15:04] sriraman opened #13011 "App Rejected from App Store"
Our App got rejected by App Store on March 17 with the following message from Apple

[code]

List of iOS packages used by us

* Reachability
* GoogleSignin
* Alamofire
* Crashlytics
* ~~Fabric~~
* NVActivityIndicator
* React Native SQLite Storage
* ~~RNTableView~~
* ~~CodePush~~
* RNDeviceInfo
* ~~react-native-mixpanel~~
* OneSignal
* react-native-camera
* react-native-keep-awake

We were suspecti

[2017-03-18 15:11] brunolemos commented on #13011
Is there any chance that you accidentally tried to publish a development build instead of a production one? Can you double check?

[2017-03-18 15:42] brunolemos commented on #13011
@sriraman did you remove codepush completely (yarn remove) or you just removed from the main file so maybe it was left on some parts like package.json?

[2017-03-18 16:07] nihgwu commented on #13011
@brunolemos I can confirm that **CodePush is OK** ( react-native-mixpanel is safe too)

Please check `Crashlytics` and `Fabric`, most of the reject cases are caused by those crash analysis tools

[2017-03-18 16:24] jcharbo commented on #10470
Has there been any progress on this?

[2017-03-18 17:19] flybayer commented on #12786
Same here!

It randomly stops working, even though my IP addresses are correct and not changing.

Usually if I wait a minute or so, I can tap Reload, and then it'll start working fine for another 30-60mins.

[2017-03-18 17:53] lyahdav commented on #13011
@brunolemos are you sure the code you linked could be an issue? I'm not sure if that would be considered "code which passes arbitrary parameters to dynamic methods" since the name of the library to load is hard coded.

[2017-03-18 17:58] brunolemos commented on #13011
@lyahdav no, but it's the code that contains the `dlsym` function mentioned by Apple

[2017-03-18 18:03] ide commented on #13011
Apple's analysis tools may see JSC and dlopen()/dlsym() invoked the same binary, leading to a false positive. I recommend commenting out those dlopen() and dlsym() calls so that they are completely gone from the binary and resubmit.

[2017-03-18 18:09] ide commented on #13011
I also want to clarify that React Native's calls to those functions may not have raised that alert. Other libraries may be invoking those methods, too.

[2017-03-18 18:23] lyahdav commented on #13011
@ide if he commented out those dlopen() and dlsym() calls won't it break React Native? Or are you just suggesting that as a process of elimination?

@nihgwu if it's Crashlytics or Fabric why would the many others apps using those libraries be accepted?

[2017-03-18 18:44] brunolemos commented on #13011
I have made some investigation. I searched for the methods mentioned by Apple on all repositories listed in this issue and these are the ones that use them:

### dlopen
- [react-native](https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=dlopen&type=Code)

### dlsym
- [react-native](https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=dlsym&type=Code)

### respondsToSelect

[2017-03-18 19:10] astapinski commented on #10729
Just FYI , try this again with RN 0.42. The source map generation was refactored and it seems to have solved similar issues in my company's app.

[2017-03-18 20:34] ghuh commented on #11212
Issue still exists on RN v0.42.0.  Fixed by removing `node_modules/.bin/`

[2017-03-18 22:06] frantic opened #13012 "PushNotificationIOS.requestPermissions won't resolve if no event listeners are attached"
### Description

`RCTPushNotificationManager` uses `startObserving` to register for `RCTRegisterUserNotificationSettings`. According to [the docs](https://github.com/facebook/react-native/blob/5e20b7bcfbefa9084ab6cdac9c24926ba8a64126/docs/NativeModulesIOS.md#optimizing-for-zero-listeners), the `startObserving` method won't be called until somebody subscribes to `NotificationManagerIOS`.

This mean

[2017-03-18 22:34] ytimocin commented on #12737
Same issue:

[code]

[2017-03-18 22:42] anks333 opened #13013 "Image"
Unfortunately, appName has stopped

When i'm trying to load Image using Image comp, Immediately my app crashes.
I'm using exactly same code as the code given here https://facebook.github.io/react-native/docs/images.html

`03-19 05:16:02.557  1546  1546 D wpa_supplicant: WPS:  * Configuration Error (0)
03-19 05:16:05.077 18286 18356 E AndroidRuntime: java.lang.NoClassDefFoundError: Failed resolutio

[2017-03-18 23:25] highbass commented on #1438
@a11y1337 ... that saved me ton of headache! thank you.

[2017-03-18 23:40] ihormihal commented on #8401
I cannot find a solution too. Setting ADB path in Genymotion to Android SDK has no effect.

[2017-03-19 01:08] ide commented on #13011
@lyahdav I don't think removing those calls would break React Native in production. Trying to come up with a minimal repro.

All of these methods are quite common in typical iOS programming, especially the latter three. Also historically Apple's automatic scanners sometimes have had false positives (ex: thinking a private API was called when there definitely were no calls to it).

For what it's wo

[2017-03-19 05:17] prasang7 opened #13015 "React-native, Error: Execution failed for task ':app:mergeDebugResources'. > Error: java.util.concurrent.ExecutionException: com.android.ide.common.process.ProcessException:"
### Description

I followed the installation steps at [react-native-getting-started](https://facebook.github.io/react-native/docs/getting-started.html). When I finally execute the last step
`react-native run-android`
I get an error message like this.

![screenshot 3](https://cloud.githubusercontent.com/assets/13434598/24078349/2f89f0c0-0c91-11e7-8cbc-6c752f35bda5.png)

The error message says: Exec

[2017-03-19 06:19] natdm opened #13016 "Android SIGSEGV crash on .42 [Navigator related]"
### Description

Android 0.40, and 0.42 are both experiencing this problem. Genymotion and Android Studio builds, android SDK 23 and 25 (since 25 comes with Android Studio).

I don't know what is causing the crash. I'm not a Java developer and am quite unfamiliar with the Java environment. Please let me know what else I can get for this, and how I can get it. I do not know how to reproduce the pro

[2017-03-19 06:52] jerossh commented on #4968
did not work.

[2017-03-19 06:55] jerossh commented on #4968
I reboot osx, and it works now.

[2017-03-19 08:19] droidwolf opened #13017 "Unable to resolve module `react/lib/ReactDebugCurrentFrame`"
Unable to resolve module `react/lib/ReactDebugCurrentFrame` from `....\node_modules\react-native\Libraries\Renderer\src\renderers\shared\stack\reconciler\ReactCompositeComponent.js`: Module does not exist in the module map or in these directories:
  ...\node_modules\react\lib

[2017-03-19 10:32] xiaotianhu commented on #12754
Thanks to @om2pkral  and @account-archived-270316 ,Shadowsocks in global mode cause the problem;If  you're running a proxy then try to close it;

[2017-03-19 11:05] Rebaiahmed opened #13018 "adb server version (32) doesn't match this client (36); killing..."
hi i get this error
![capt](https://cloud.githubusercontent.com/assets/13053759/24080292/46f90d6c-0c9c-11e7-9487-8f390f27be1d.png)

[2017-03-19 11:22] jorrit-g commented on #9665
Keeping the memory monitor open in android studio solves the problem for me as well, as observered by @compojoom. I using RN 0.41

[2017-03-19 12:12] droidwolf commented on #13017
When I update to 0.43.0 - rc. 1 version
`npm WARN react-native@0.43.0-rc.1 requires a peer of react@~16.0.0-alpha.3 but none was installed.`

[2017-03-19 14:43] #13017 closed

[2017-03-19 15:12] satya164 opened #13019 "Changing files inside `node_modules` requires restarting packager"
When I change files under node_modules, I need to restart the packager for it to pick up changes. The regression was introduced somewhere around v0.40. It becomes very difficult to debug/develop and debug libraries because of the issue.

[2017-03-19 15:12] satya164 commented on #13019
cc @cpojer

[2017-03-19 15:36] natdm commented on #13011
@ide , and no codePush?

[2017-03-19 16:48] cjmling commented on #10559
'Remote debugger is in a background tab which may cause apps to perform slowly. Fix this by foregrounding the tab **(or opening it in a separate window)**'

opening in separate window doesn't help either. Even new windows need to be visible/focused same as when it was a tab.

/MacOS

[2017-03-19 18:04] cubbuk commented on #4099
I had the similar problem and I solved it using `Dimensions` and `onLayout` property as following at least on Android, if there is a better or easier solution please let me know:

[code]

Thanks

[2017-03-19 19:43] hilkeheremans commented on #13011
Just wanted to add here that our app also got approved twice this past week. Our app uses, amongst others, code push, bugsnag and onesignal.

It would be good if we could get in touch with someone who knows more about the internals of Apple's review process. For starters, we cannot know for certain that Apple tests _all_ app submissions on _all_ fronts. It's quite possible they limit to a standard

[2017-03-19 21:56] booboothefool commented on #13011
Just to contribute, I've been getting approved with CodePush + OneSignal as well.

Btw @hilkeheremans how is bugsnag? I need something better than HockeyApp/FireBase crash reports cause I have no idea what those native errors are referring to sometimes.

[2017-03-19 22:00] brunolemos commented on #13011
Let's keep issues on topic, please.

[2017-03-19 22:10] mohammed1955 opened #13020 "Expected ')' in RCTProfile.m in reactnative"
I am running react-native project in xcode(7.3.1)  and this is the error I am getting
<img width="1152" alt="screen shot 1395-12-30 at 01 38 13" src="https://cloud.githubusercontent.com/assets/15388226/24085268/f1120346-0d0d-11e7-81d1-e5f4fd9949cc.png">
What's solution !!!!!

[2017-03-19 22:51] booboothefool commented on #12996
Need to check permissions:

Use https://github.com/lucasferreira/react-native-android-permissions or https://facebook.github.io/react-native/docs/permissionsandroid.html.

[2017-03-19 23:10] ivpusic commented on #10845
@astreet can we expect fix to be in rn 0.43?

[2017-03-19 23:12] npomfret commented on #12754
I moved from 42.0 to 42.2 and got this error with my test flight deployment. I deleted the build directory AND added `<key>NSAllowsLocalNetworking</key>... <true/>` and it started working again.  Don't know which of the 2 was the magic though.  I'm going to assume the 1st and remove the info.plist change.

[2017-03-20 00:14] rmevans9 commented on #13018
Are you using Genymotion per chance?

[2017-03-20 00:51] zjaml commented on #10729
@astapinski Thanks! That worked for me just in time!

[2017-03-20 01:10] alfonsodev commented on #11610
@alioguzhan do you have your extended component in a repo ?

[2017-03-20 01:33] Ashoat commented on #12770
I'm seeing the same exact issue using React-Native 42.3

[2017-03-20 02:57] yimingtang commented on #2685
I'm using CocoaPods 1.2.0 and React Native 0.42.0. When I try to archive a release build, the error occurs.

It seems that your solutions won't work in my situation. Any ideas?

[2017-03-20 03:31] sh377056544 opened #13021 "pod install - `React/Core (from `../node_modules/react-native`)` required by `Podfile`"
when i run `pod install'
[!] Unable to satisfy the following requirements:

- `React/Core (from `../node_modules/react-native`)` required by `Podfile`

It seems like you've changed the constraints of dependency `React/Core` inside your development pod `React/Core`.
You should run `pod update React/Core` to apply changes you've made.

when i run  `pod update React/Core`
[!] No `Podfile.lock' found

[2017-03-20 03:55] farhan687 opened #13022 "Reload app on android device issue on windows (ERROR EBUSY: resource busy or locked)"
### Description

I have connected android device and then I ran following commands on different terminal tabs:
`react-native start`
`react-native run-android`

App is working fine for the first time.
After changing the content in `index.android.js` file, I tap Reload option from dev menu of the device, and then it shows analyzing and start transforming modules for couple of seconds and suddenly it

[2017-03-20 05:08] ordram opened #13023 "react-native run-ios：** BUILD FAILED **？"
react-native run-ios报的错误

![Uploading IMG_1100.PNG…]()

[2017-03-20 05:10] ordram commented on #13023
OS X10.10.5     Xcode7.x

[2017-03-20 06:28] hi-bazinga commented on #13020
@mohammed1955 I just downgraded the react-native from 0.42.3 to 0.38.0 and the problem solved.

[2017-03-20 06:44] shergin commented on #12976
Was fixed in 23c2a6cf1ae297182a62d1a8143b55b186f5e1b7. 🎉

[2017-03-20 06:53] ptomasroos commented on #12976
Thanks a lot for looking into it Shergin.

On 20 Mar 2017 7:45 AM, "Valentin Shergin" <notifications@github.com> wrote:

[2017-03-20 06:56] ashubham opened #13024 "React-native support being discontinued ?"
Hello team,

I learnt from a friend who works at Facebook, that the project is going to be no longer maintained by facebook. In that case what will be the future of react-native ? Will it find a new home ?

[2017-03-20 06:59] jjdp commented on #12994
this happens when uncomment -dontobfuscate. is there any way to have  an exception for these two classes?

[2017-03-20 07:12] gavinyeah commented on #12770
I'm also seeing this issue after upgrading to RN42.0

[2017-03-20 07:16] jjdp commented on #12994
I had to add `-keepattributes InnerClasses` for it work. Is there a downside for this?

[2017-03-20 07:16] gerbenis commented on #12770
@ayc1, as I already mentioned, creating initial RN 42.0 project via CLI with nodes enabled in `MainApplication.java` was enough to reproduce the error. If it'll be of any help, I can create a repo and share it here.

[2017-03-20 07:17] jinxac commented on #12356
I havent tried it yet as was occupied in other projects. Will open the issue based on your feedback @lihue

[2017-03-20 07:18] christianbach commented on #12770
We to are seeing the same issue in our app. Worked prior to 0.42.0 and now we have the same yoga error. For us the error is related to the Text component.

[2017-03-20 08:10] stoffern commented on #13011
@sriraman are all your endpoints HTTPS?

[2017-03-20 08:57] ahjsrhj commented on #13000
I think this is a bug of Android, you can get more info from [here](https://code.google.com/p/android/issues/detail?id=5497) or [here](http://stackoverflow.com/a/19494006).

[2017-03-20 09:04] niros001 commented on #8717
I got the same error using RN 0.42.3 and REST API

[2017-03-20 09:21] ivpusic commented on #13024
what? 😄

[2017-03-20 10:02] allenhsu opened #13025 "contentInsets always overwrites scrollIndicatorInsets of ScrollView/ListView"
### Description

I set `contentInsets` and `scrollIndicatorInsets` of a `ScrollView`, actually  `ListView`, to different values. But seems the value of `contentInsets` always overwrites the `scrollIndicatorInsets` one.

### Reproduction

https://sketch.expo.io/Byi2M7psg

In this demo, `scrollIndicatorInsets.top` is 20, it's expected to be 100. After deleting `contentInset={{top: 20, left: 0, right

[2017-03-20 10:03] shuobeige11 opened #13026 "cookie wrong --by ios"
RN IOS write cookie reported the following error, is there a solution
![image](https://cloud.githubusercontent.com/assets/15864570/24095301/6f4f2110-0d97-11e7-918b-29942b4dcd72.png)

[2017-03-20 10:05] dottorblaster commented on #13024
Maybe your friend was joking 😂

[2017-03-20 10:20] iggyfisk commented on #12976
Fixed as far as I could test, good hustle team!

[2017-03-20 10:20] #12976 closed

[2017-03-20 10:28] iddan commented on #395
Custom loaders is another great advantage of Webpack React Native could benefit from

[2017-03-20 10:33] dpeek commented on #13024
Bit early for an April fools...

[2017-03-20 10:33] bitsal commented on #12952
Usually, I remove the following folders:
 - ios/Pods/*
 - node_modules/react*
 - ios/build/*
 - ~/Libraries/Developer/Xcode/DerivedData/*

Anyway, I've tried to remove `Podfile.lock` and got the same error.

[2017-03-20 10:52] moonjava2005 opened #13027 "ListView not display after back from Navigator. DON'T USE removeClippedSubviews={false}"
Dear all,
I got this issue if I don't use removeClippedSubviews={false}. If I use removeClippedSubviews={false}, the performance of ListView so terrible (cause of the large list)

We use GitHub Issues for tracking bugs in React Native.

- If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny:

[2017-03-20 10:55] OlivierCo commented on #13024
Fake news lol

[2017-03-20 10:56] damathryx commented on #12768
Any other solution aside from downgrading?

[2017-03-20 10:57] phelgo commented on #13024
What do you mean, that Facebook may abandon its community? I find that difficult to parse

[2017-03-20 11:07] cesarferreira commented on #13024
![img_4533](https://cloud.githubusercontent.com/assets/277426/24097348/548f7eae-0d5d-11e7-985b-3abfcf01af9b.jpg)

[2017-03-20 11:10] gre commented on #13027
this is a dup with https://github.com/facebook/react-native/issues/1831 ?

[2017-03-20 11:12] laalaguer commented on #9111
any progress on this issue? I am looking at the same graph on my trancing env, also.

[2017-03-20 11:14] moonjava2005 commented on #13027
Not dup "gre", the problem of #1831  is DataSource on RN0.5. My issue only occur when you back from Navigator

[2017-03-20 11:16] astreet commented on #10845
@grabbou This should be pretty safe to merge, what release can we get this into do you think?

[2017-03-20 11:19] #13027 closed

[2017-03-20 11:21] gre commented on #13027
but i'm pretty sure it's related, and I can experience the bug, (also see my comment https://github.com/facebook/react-native/issues/1831#issuecomment-222106476 )

also, afaik this bug does not seem to be even related to ListView, but more generally to ScrollView, as I can experience the bug even using FlatList.

[2017-03-20 11:22] hannigand commented on #12768
@damathryx a fix was issued in version `0.42.2`, simply upgrading should now remove the problem.

[2017-03-20 11:27] Crash-- commented on #13019
Since 0.39 we have some troubles with node_modules. See #11301

[2017-03-20 11:31] SandroMachado commented on #12216
I am experiencing the same issue with `react-native-snackbar`. Any fix for this?

[2017-03-20 11:42] robcalcroft commented on #12588
In addition to @chrisz100 's comment, this issue arises as RN adds a `app.json` file which confuses the `import` as its ambiguous between the `app` folder and the `app.json` file.

[2017-03-20 11:55] Crash-- commented on #12808
I think we already encountered a similar issue on Android. Can it be related to #10080 ?

[2017-03-20 12:13] ChanNagihong commented on #9822
still having this problem at RN 0.42, Could anyone help? please

[2017-03-20 12:37] jjdp commented on #12994
i had to add these:

[code]

aren't they supposed to be not obfuscated if they have @DoNotStrip in them?

[2017-03-20 12:40] zxyah commented on #12562
@selcute @hramos

i have got the same isuse
and i log Activity's life recycle
the log is:
`
03-20 20:19:05.871 8053-8053/? E/com.nongfenqi.app.android.thrall.MainActivity: ,onCreate:null
03-20 20:19:05.871 8053-8053/? E/com.nongfenqi.app.android.thrall.MainActivity: ,onResume:com.nongfenqi.app.android.thrall.MainActivity@a36c5db
03-20 20:19:29.571 8053-8053/? E/com.nongfenqi.app.android.thrall.Mai

[2017-03-20 12:42] zxyah opened #13029 "[Android] Multiple app instances on first run"
the same problem: https://github.com/facebook/react-native/issues/12562

i have got the same isuse
and i log Activity's life recycle
the log is:
`
03-20 20:19:05.871 8053-8053/? E/com.nongfenqi.app.android.thrall.MainActivity: ,onCreate:null
03-20 20:19:05.871 8053-8053/? E/com.nongfenqi.app.android.thrall.MainActivity: ,onResume:com.nongfenqi.app.android.thrall.MainActivity@a36c5db
03-20 20:19:29

[2017-03-20 12:45] toureek commented on #12754
I ran "react-native run-ios" in a second time, it went well.

[2017-03-20 13:06] Kureev opened #13030 "Support swift libraries linkage with `react-native link`"
**Motivation:**
Currently, `react-native link` supports only Objective-C libraries. Therefore, some great libraries (like native-navigation) can't be linked with it. I'd like to make a proposal for supporting Swift modules in `react-native link`.

**Linkage process for Swift modules:**
First of all, we need to detect a type of module we want to link. One of the approaches we can take there is to c

[2017-03-20 13:10] shengbo1992 opened #13031 "when in smartbar case the Dimensions ‘s height is not correct on Android"
when the devices have a smartbar,I handle the smartbar on/off, and js use  Dimensions  get height is not correct,
i saw the code in  ReactRootView.java。it use the OnGlobalLayoutListener'callback to notify the js.
but the emitUpdateDimensionsEvent function use DisplayMetricsHolder.getWindowDisplayMetrics() always get the same vaule.

[2017-03-20 13:11] grabbou commented on #13030
I think it's a great idea. I was talking about it with @leland briefly at React Conf and we were meant to follow up on this.

[2017-03-20 13:25] Kureev commented on #13030
Yeah, my main motivation is to make `react-native link` compatible with `native-navigation`, although I think it'll be useful for lots of developers out there.

I'll make a PR and let you know.

[2017-03-20 13:29] Umity commented on #12737
same...
osx 10.12.3
xcode 8.2.1
react 042

[2017-03-20 13:44] mkonicek commented on #13024
Hey, we're using React Native at Facebook and have an open source team to support the community. Nothing has changed. Can you ping me at mkonicek@fb.com please? I'd like to understand this concern better.

[2017-03-20 13:44] #13024 closed

[2017-03-20 13:50] Kureev commented on #12737
What do you have in "Bundle Identifier" here
![image](https://cloud.githubusercontent.com/assets/2273613/24102484/700123b2-0d7c-11e7-9334-44fcf0129e3b.png)
and here?
![image](https://cloud.githubusercontent.com/assets/2273613/24102517/8a5840d8-0d7c-11e7-829d-2c1ada1c7602.png)

[2017-03-20 14:53] sibelius commented on #12992
@cky113999742 can we close this?

[2017-03-20 14:56] blackPeanut commented on #11389
For everyone who still facing this error try to edit _**node_modules/react-native/Libraries/Utilities/UIManager.js**_ file and replace:

```function normalizePrefix(moduleName: string): string {```
with
```var normalizePrefix = function (moduleName: string): string {```

This worked for me,
referencing superfe [issue](https://github.com/super-fe/superfe-rn-troubleshooting/issues/7)

[2017-03-20 15:09] shemmarrah commented on #10730
@TuKun33 Did u ever fixed this issue. I need help. I'm using windows 8.1, node v 7.7.3, npm v4.4.1,
yarn v0.21.3, and Python 2.7.13. At this point, I have no clue what I can be possibly be doing wrong.

C:\Users\shemmarrah\Desktop\shem3>react-native run-android
The system cannot find the path specified.
child_process.js:512
    throw err;
    ^

Error: Command failed: C:\Users\shemmarrah\Desktop\s

[2017-03-20 15:23] pewh commented on #7495
Sometimes it work, some it doesn't. I have try ALL solutions above & no reliable solution so far. This really make me crazy :(

Is there any nativemodule that replicate function like getCurrentPosition? I'm seeking other repo because I can't write java code.

`watchPosition` has an issue when Location is not enabled. It never throw timeout although I set timeout = 1000

On 'getCurrentPosition', it

[2017-03-20 15:28] leaskc commented on #9581
We think we are seeing this also with 0.40 on iOS, Android is unaffected.

Has anyone had a chance to see if the changes for caching updates in 0.42 (https://facebook.github.io/react-native/docs/images.html#cache-control-ios-only) have improved anything?

[2017-03-20 15:53] Umity commented on #12737
com.myexample.myname
and
$(PRODUCT_BUNDLE_IDENTIFIER)

[2017-03-20 16:18] gperdomor opened #13033 "[Feature Request][PushNotification] Use UNUserNotificationCenter in iOS 10"
Currently, calling `PushNotificationIOS.cancelAllLocalNotifications` not remove the notification from the Notification Center

In iOS 10, a new UNUserNotification class was introduced, this class has a method which remove the notifications from notification center, check this `https://developer.apple.com/reference/usernotifications/unusernotificationcenter/1649502-removealldeliverednotifications`

[2017-03-20 16:19] alloy commented on #13011
FYI There have recently been rejections for people using Rollout (haven’t reread to see if other solutions were affected too). https://news.ycombinator.com/item?id=13817557

[2017-03-20 16:25] j2kun commented on #12216
@SandroMachado My fix was to manually link

[2017-03-20 16:29] hramos commented on #13029
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:29] #13029 closed

[2017-03-20 16:30] hramos commented on #13031
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:30] #13031 closed

[2017-03-20 16:30] hramos commented on #13026
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:30] #13026 closed

[2017-03-20 16:30] #13023 closed

[2017-03-20 16:32] hramos commented on #13021
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:32] #13021 closed

[2017-03-20 16:32] hramos commented on #13020
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:32] #13020 closed

[2017-03-20 16:32] hramos commented on #13018
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:32] #13018 closed

[2017-03-20 16:33] hramos commented on #13013
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-20 16:33] #13013 closed

[2017-03-20 16:41] SandroMachado commented on #12216
I did the same :(

[2017-03-20 16:53] j2kun commented on #12216
@SandroMachado It's sad that the more I work with react native, the more problems I find with the tooling.

[2017-03-20 17:04] alvaromb opened #13034 "Bug running Jest with ScrollView dependant components"
### Description

When running `npm run test`, the default tests `index.ios.js` and `index.android.js` fail due to the following error:

[code]

### Reproduction

[code]

### Solution

I'm open to send a PR with a fix if somebody can guide me through this. Could be here https://github.com/facebook/react-native/blob/dbe555ba78d7b0f79e482c62787db2fc3d897848/Libraries/Components/ScrollView/__mocks__/S

[2017-03-20 17:12] sriraman commented on #13011
@alloy We already submitted the app without CodePush. Still, they rejected the app. :(

[2017-03-20 17:15] sriraman commented on #13011
@alloy Can you check [RCTUtils L535-L538](https://github.com/facebook/react-native/blob/master/React/Base/RCTUtils.m#L535-L538) also.

[2017-03-20 17:27] sahrens commented on #9581
We use different Image and caching modules internally - this would be a nice opportunity for someone in the community to tackle. Maybe @janicduplessis? Sounds like there are a lot of karma points to be earned :)

[2017-03-20 17:29] ide commented on #13011
As far as we know, CodePush (for RN and Cordova, in this context the two are equivalent) itself is well within the Apple guidelines. CodePush and RN do not directly or indirectly pass arbitrary parameters to dynamic methods like dlopen and dlsym. As an app developer you shouldn't drastically change the advertised or intended purpose of your app (don't change your chat messenger into a catalog of o

[2017-03-20 17:39] alloy commented on #13011
I haven't done an appeal in a long time, can you ask them for more details about what exactly is causing the rejection?

[2017-03-20 17:54] cdimitroulas commented on #6849
has anybody found a solution for this?

I'm trying to start at the end of a horizontal ScrollView and animate towards the left (making it obvious that this is a section which is scrollable)

[2017-03-20 17:56] SudoPlz commented on #6849
I just did what @alvaromb suggested.
I use `scrollTo` in `componentDidMount`.

[2017-03-20 18:06] cdimitroulas commented on #6849
Thanks @SudoPlz but I tried this and it didn't seem to do anything at all.

[code]

my ScrollView looks something like this:
[code]

[2017-03-20 18:09] cdimitroulas commented on #6849
Nevermind, I got it to work by making sure the Navigator animation had finished before using `scrollTo` using the `InteractionManager.runAfterInteractions()` method

[2017-03-20 18:10] SudoPlz commented on #6849
@cdimitroulas Oooh right, I had to put it inside a `setTimeout` to make it work.

Try
[code]

Keep in mind that `InteractionManager.runAfterInteractions()` won't dispatch your function if there are no interactions taking place.

[2017-03-20 18:47] sriraman commented on #13011
We asked for the specific reason. They sent us the following message

What should we do next?

[2017-03-20 18:47] satya164 commented on #13011
hmm, which library does that?

[2017-03-20 18:51] sriraman commented on #13011
I have already listed the list of Library we use. No library is doing that. But, Apple App store saying that as the reason. We were suspecting CodePush, Mixpanel, RNTableView, etc., and Resubmitted without using it. Still, They are saying like this.

[2017-03-20 19:09] janicduplessis commented on #13034
Yea looks like the issue is that the ScrollView mock doesn't have any of the methods ScrollView has. Maybe we could use const `jest.genMockFromModule` to create a mock of the original component class and then extend it to override the render method. This will make sure we create mock functions for every method of ScrollView.

[code]
Not sure if that would work but if it does it would be nice to av

[2017-03-20 19:11] janicduplessis commented on #13034
PR would be nice, let me know if you need any help.

[2017-03-20 19:22] brunolemos commented on #13011
React Native?

@sriraman have you tried replacing `react-native-table-view`?

[2017-03-20 19:22] axemclion commented on #13011
@sriraman So basically, are you now submitting a plain simple react native app without any dependencies and getting this error ?

[2017-03-20 19:26] sriraman commented on #13011
@axemclion No. We just removed CodePush, Mixpanel and React Native Tableview. We didn't send them plain React Native app.

@brunolemos  Yes. We removed React native tableview when we were submitting the app this time.

[2017-03-20 19:31] brunolemos commented on #13011
@sriraman I think you should do the following:

1. Ask Apple directly about React Native
2. Open the source code for a couple people that can help looking for problems, preferably including someone in the RN core team

The possibility of react native being the rejection cause is very prejudicial to React Native image and community, we must find the real root cause ASAP and end this.

[2017-03-20 19:45] bgdavidx commented on #13011
We were able to get an app using CodePush into the app store. I don't believe it would be CodePush causing the problem.

[2017-03-20 19:50] arsenslyusarchuk opened #13035 "Android Modal style issues Samsung Galaxy S5/S6"
### Description

I've faced really strange issue happening on Samsung devices (Galaxy S6/S7 Android 6.0.1, other not tested) ONLY.
I'm using react-native Modal components in the app, and each component has a button at the bottom of the page (to confirm some action). This button has style `flex: 1` applied to it with parent container styles as: `justifyContent:"space-between"`. So the button is pla

[2017-03-20 19:56] janicduplessis commented on #9581
I've been using a custom Image module on iOS that is a simple wrapper around https://github.com/rs/SDWebImage since I've had issues with flickers and caching with the current implementation. Leveraging an existing image library seemed like an easier solution for me than trying to fix our current implementation. If this would make sense for RN to use this instead of our current implementation I cou

[2017-03-20 20:33] alloy commented on #13011
That [linked ticket](https://github.com/Microsoft/react-native-code-push/issues/748) has good excerpts on the rules and why something like CodePush shouldn’t be the problem ^.

I agree with @brunolemos in that you should try to get Apple to answer specific questions through an appeal. Thanks for hanging in there for the rest of us 🙏

[2017-03-20 20:58] huyanhh opened #13037 "Flatlist example in the docs not rendering"
### Description

On the documentation for Flatlist, I tried running the example in the browser. I then got an error on the simulator saying "FlatListExample could not be found!"

### Reproduction

[Link to docs](https://facebook.github.io/react-native/releases/next/docs/flatlist.html)

I go onto the docs, and click "Run this example" near the bottom.

### Solution

The documentation for that page

[2017-03-20 21:05] arsenslyusarchuk commented on #11389
Running React-native 0.35 and having same issue -- this is what helped to me

* In node_modules/react-native/Libraries/BatchedBridge/BatchedBridgedModules/NativeModules.js

    `function normalizePrefix(moduleName: string) ...`

  REPLACE WITH:

    `const normalizePrefix = function(moduleName: string)`

* In /node_modules/react-native/Libraries/Utilities/UIManager.js:

    `function normalizePref

[2017-03-20 21:13] mbodge commented on #12610
Same issue here.

[2017-03-20 21:13] RyanMitchellWilson opened #13038 "ListView does not work properly inside a ScrollView"
I've got a ScrollView as one of my top level components where it needs to render a View at the top of the screen then a ListView beneath it, so that when I scroll it takes the top content with it. But whenever I try to nest my ListView inside of the ScrollView it causes everything in the ListView to be rendered no matter what props I give it.

This is causing my app to run very slow with large lis

[2017-03-20 21:33] grabbou commented on #10845
Yeah, I'll include it in next RC tomorrow.

[2017-03-20 21:33] grabbou commented on #12664
https://github.com/facebook/react-native/commit/5873a228f41bca763c35c470375a9f3cb36f80ab

[2017-03-20 21:37] Blapi opened #13039 "Can't find variable Pc on release apk"
### Description

I am working on an Android App using react-native and I wanted to test my application on a release apk but after following the steps there (https://facebook.github.io/react-native/docs/signed-apk-android.html), when I launch the app on my phone, it crashes as soon as it opens and I've got the following error in Android Studio logcat :

[code]
Weird thing is that this is working we

[2017-03-20 21:40] saatchibhalla commented on #7551
Were you ever able to resolve this? Same issue.

[2017-03-20 21:48] SunburtReynolds commented on #6303
+1

[2017-03-20 21:48] qpowell commented on #11343
+1. I'm having a similar issue trying to get some images rendering in my app.

I've got a `ScrollView` that I'm using for onboarding like:

[code]

Inside the `OnboardingStep` component, I have a function that returns the image source:

[code]

...and the source is included using `<Image source={getSourceImage(this.props.name)} resizeMode="contain"/>`.

I have *8* images that I use in this process

[2017-03-20 21:51] Nick177 commented on #13015
@prasang7 Hello. I am new to react-native and have undergone the installation process in the past week. I tried replicating your error, and I have found that it happens when I create a project in the same "C:\Windows\system32" directory as you have done. On the other hand, it does not give me any problems when I create and run under "C:\Users\user_name_here\". I am not sure why it does this. Try i

[2017-03-20 22:21] lacker commented on #13019
@cpojer claims this should work in a version of RN where jest-haste-map is updated to 19.x+

[2017-03-20 22:26] satya164 commented on #13019
Seems it's in latest RC https://github.com/facebook/react-native/commit/570c564e77d00bbbc090acd047f04779914a5d9c#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

Maybe we could cherry-pick to stable? cc @grabbou

[2017-03-20 22:26] kmcrawford commented on #4986
It looks like @benvium fixed the issue on iOS.   It would be great if this was part of master so my builds would work and not just on my local.

On Android it is fixed by updating to the latest fresco version.

compile 'com.facebook.fresco:animated-base-support:1.1.0'
    // For WebP support, including animated WebP
    compile 'com.facebook.fresco:animated-gif:1.1.0'
    compile 'com.facebook.fre

[2017-03-20 22:31] #13019 closed

[2017-03-20 22:35] grabbou commented on #13019
I think it's a must as it's rather important feature. Let's discuss it tomorrow as I'll be wrapping up changelog.

[2017-03-20 23:18] binoy14 commented on #13012
@frantic If you are okay with it. I would like to take a stab at this.

[2017-03-20 23:50] sahrens commented on #13038
Nesting vertical scroll views or lists inside each other is not recommended. Ideally you should pass the view you want at the top down as a prop to the list and render it in the header. Does that not work for you for some reason?

[2017-03-20 23:51] wasa4587 commented on #1374
@a-koka
you can do it this way
[code]

or this way
[code]

[2017-03-20 23:54] sahrens commented on #9581
@brentvatne / @ide : what does exponent do? Would be nice to fix this by default in the core rather than using an external plugin.

[2017-03-21 00:09] gwmccull commented on #12979
Seems to be working now.  Closing

[2017-03-21 00:50] jcbiznoff commented on #11389
@arsenslyusarchuk  this works for me well. I was having so much problem before.

[2017-03-21 01:06] janicduplessis commented on #9581
@sahrens It uses the core one.

I guess the main changes that would be needed to make the current implementation have better UX is
1. Synchronous memory cache
2. Better / more aggressive cache, SDWebImage assumes urls are immutable to achieve better perf.
3. Persistent disk cache (no 100% sure about that one but I think the cache is reset when killing the app).
4. Support fadeDuration prop like An

[2017-03-21 01:14] stochris commented on #3099
Doesn't [this](https://github.com/tleunen/babel-plugin-module-resolver) work just as well ?
I've been using it on a complex project, and it's working pretty good. The only caveat is that you need to update all of the other IDE settings ( vs setting the project name in package.json, which I would think works out of the box )

[2017-03-21 01:25] brunolemos commented on #12996
Duplicated of #7495

[2017-03-21 02:01] pewh commented on #12996
Have same issue, too. Check permission is not enough. See my answer at https://github.com/facebook/react-native/issues/7495#issuecomment-287793663

[2017-03-21 02:17] Blapi commented on #13039
Fixed this when downgrading on React native 0.40

[2017-03-21 02:17] #13039 closed

[2017-03-21 02:24] Mackenzie-Mance opened #13041 "undefined is not a function (evaluating 'I.hasOwnProperty("process")')"
Couldn't find any leads on the net to this issue. I'm pretty new to this so sorry in advance for any lack of information. I started getting this error when i updated npm. the project works in debug mode but throws this error otherwise.

Thank you.

![screenshot_1490062591](https://cloud.githubusercontent.com/assets/24738013/24129755/10383b3e-0dbb-11e7-8384-60fdcf04e83b.png)

{
  "name": "firstrnpr

[2017-03-21 02:36] the-simian commented on #12159
We are seeing a similar error with the `whatwg-fetch/fetch.js` module. Its the same error more or less:

`EXC_BAD_ACCESS in /Volumes/MyProject/node_modules/react-native/node_modules/whatwg-fetch/fetch.js:441
Attempted to dereference garbage pointer 0xabe4ebec8.`

[2017-03-21 02:56] fov42550564 opened #13042 "WebView onMessage only receive one message"
[code]
react-native: 0.42.0
on ios, only receive one time `I am from react1[back]`
on android, receive nothing

[2017-03-21 03:00] fov42550564 commented on #13042
react-native-webview-bridge is work well.

[2017-03-21 03:23] a-koka commented on #1374
`onLayout` is a good solution but not ideal for use cases where several layout changes occur thus causing several callbacks. My issue got resolved by adding the `collapsible={false}` prop to the views being measured.

Thanks to hey99xx for his help in https://github.com/facebook/react-native/issues/12966

Collapsable property is explained at https://facebook.github.io/react-native/docs/view.html#c

[2017-03-21 03:29] ide commented on #3099
Yeah. Babel plugins are generally easier to grok and author. One caveat is that if you change them you need to clear the packager cache but they work well otherwise.

[2017-03-21 03:34] eulo commented on #11954
For anyone coming here looking for RCTImageUtils.h fix, this compiled for me

[code]

[2017-03-21 03:34] frantic commented on #13012
@binoy14 sure!

[2017-03-21 03:38] zhaozy93 opened #13043 "cannot open demo in real iphone 6s ios10.2.1"
using react-native-cli@2.0.1 create one project named ios4. and then build and run in Xcode on my real iphone 6s ios 10.2.1 and see the ios4 appIcon on my screen.
![wechatimg113](https://cloud.githubusercontent.com/assets/15324670/24131591/7e970e88-0e2a-11e7-93d9-861d14f7e4e6.jpeg)

 however when i open the ios4 app, i will struck on the startup page.
![wechatimg114](https://cloud.githubuserconten

[2017-03-21 03:59] joint-song commented on #4936
Has resolved?

Version: 0.38.1
Platform: iOS
`onAnimationDidEnd` never be called.

[2017-03-21 04:04] bpt2410 commented on #6785
I also have the same issue

[2017-03-21 04:34] manjula91 opened #13044 "Failed propType: Invalid props.style key 'color' supplied to [ 'View' | 'RCTView' ]"
### Warning: Failed propType: Invalid props.style key 'color' supplied to [ 'View' | 'RCTView' ]

I used color property in react native app and it gives above error.

### Reproduction

You can reproduce the issue

[code]

### Additional Information

* React Native version: [0.43]
* Platform: [Android]
* Operating System: [MacOS]
* Dev tools: [ Android SDK version using genymotion for emulator]
![s

[2017-03-21 04:57] Knight704 commented on #8615
According to @robertodias180 suggestions I came up to wrapper for isConnected,
It seems to work, but I wonder if it will work in all cases
`
export function isNetworkConnected() {
  if (Platform.OS === 'ios') {
    return new Promise(resolve => {
      const handleFirstConnectivityChangeIOS = isConnected => {
        NetInfo.isConnected.removeEventListener('change', handleFirstConnectivityChangeIO

[2017-03-21 05:24] woosungchu commented on #9136
Same error
'''
C:\react-native-practice>react-native --version
react-native-cli: 2.0.1
react-native: 0.42.3
'''

[2017-03-21 05:36] SoloRN commented on #11397
I have the same issue, do you have the way to resolve this issue ?  @insraq

[2017-03-21 05:44] sunnyraz commented on #11476
Yeah it work
thank you @gastonche

[2017-03-21 05:52] Ragnaroek opened #13045 "FlatList not found/exported => Docs not in-sync with current release"
### Description

Tried to use FlatList in a new app.
Documentation https://facebook.github.io/react-native/docs/flatlist.html describes it for the
current native version 0.43.x.

Neither
const ReactNative = require('react-native')
const {
  FlatList
} = ReactNative;

nor ES6 imports

import {
  ...,
  FlatList
} from 'react-native';

are possible.

### Reproduction
I basically tried to run this ex

[2017-03-21 07:03] cbjs commented on #12717
+1

[2017-03-21 07:29] CharlesMoone commented on #12754
check out your localhost
are you open ss? when i met this problem , i found i opened my vpn

[2017-03-21 07:42] hovox commented on #12992
Not fixed in latest releases or `master` branch

[2017-03-21 07:45] hilkeheremans commented on #13011
Just an aside -- I really doubt this is a factor -- but @sriraman, what version of RN are you using?

[2017-03-21 07:46] yumengbdw commented on #13044
backgroundColor

[2017-03-21 08:00] BaoBaoJianqiang opened #13046 "[!] Unable to find a specification for `Yoga (= 0.42.3.React)` depended upon by `React/Core`"
When I use RN 0.42 in my old iOS project, I define a pod file as follows:

project 'RN3.xcodeproj'

target 'RN3' do

pod 'React', :path => '../node_modules/react-native', :subspecs => [
  'Core',
  'RCTImage',
  'RCTNetwork',
  'RCTText',
  'RCTWebSocket',
]

end

When I exec pod install in command line, there is an error message:
[!] Unable to find a specification for `Yoga (= 0.42.3.React)` depe

[2017-03-21 08:06] ide commented on #13045
cc @hramos - it looks like the 0.43 are considered stable even though it's still in RC.

[2017-03-21 08:07] lsei commented on #1240
I'm using the following options for `watchPosition` and have managed to get pretty frequent updates in iOS Simulator and built onto my iPhone (RN 0.42.3):

[code]

[2017-03-21 08:32] Kottidev commented on #5568
I'm having same probleme with RN 0.42 .
![screenshot_20170321-004117_1024](https://cloud.githubusercontent.com/assets/12915009/24138617/32807e32-0e19-11e7-8a77-ad9cad597c6d.png)

[2017-03-21 08:32] hovox commented on #11293
I have followed [integration-with-existing-apps](http://facebook.github.io/react-native/releases/0.42/docs/integration-with-existing-apps.html) guide and seeing this error. Added localhost as exception domain. My files are not in ios directory may this be an issue?

[2017-03-21 08:38] rodperottoni commented on #11809
I just wanted to thanks all the people involved in this ticket. I have to release a new version of my app in 2 weeks and was going crazy with the 10fps + 20% constant cpu usage. You're geniuses.
Have a nice week!

[2017-03-21 08:43] sriraman commented on #13011
@brunolemos Thanks for the suggestion. We spoke with @brentvatne . We are opening our source to him. I think he can help us in finding the issue if we are doing something wrong.

We are starting the Appeal also. I'll let everyone know once we find the root cause for the rejection.

@hilkeheremans  We are using older version only (v0.30).

[2017-03-21 08:46] krishbhattacharyya commented on #9159
I am facing same issue in my app.

After login I navigate to main page -> Then minimize the app  or close the app with login state -> after 4 or 5 days kept in this state ( But for the short time this is not happening ) -> then I open the app got the main page -> No data available -> app is crashed when I click another button.

[2017-03-21 09:19] glinjy commented on #11397
@insraq  I meet same issue on **iOS 8.4** but error message is `SyntaxError: Attempted to redefine property 'backgroundColor'`. Then I find out the 'backgroundColor' and delete it,  it works fine. Thanks!

[2017-03-21 09:50] danielbrodin commented on #13044
You have to set the `color` style directly on a `Text` component for it to be white. Child components does not inherit style like on the web.

[2017-03-21 09:50] toureek commented on #13046
Add this line in your Podfile. Have a try.
pod 'Yoga', :path => '../node_modules/react-native/ReactCommon/yoga'

[2017-03-21 10:02] chris-verclytte commented on #350
@vjeux, I agree with @jasonkuhrt, as stated by the W3C, the correct way to handle this case in web development would be to use auto margin (see https://www.w3.org/TR/css-flexbox-1/#auto-margins).

Thus, I would expect this example to be solved by following code:
[code]
Is there any plan to support this behavior ?

[2017-03-21 10:04] javache commented on #9334
We're no longer seeing this crash internally.

[2017-03-21 10:04] #9334 closed

[2017-03-21 10:58] mauron85 opened #13047 "Possible duplicate imports of RCTBridge"
### Description

Some modules may import both React/RCTBridge.h and React/RCTEventDispatcher.h.
As RCTEventDispatcher is already importing RCTBridge and RCTBridge doesn't contain any `ifndef` guard to not allow importing itself multiple time, build will fail.

### Reproduction

Taken from [react-native-background-geolocation module](https://github.com/mauron85/react-native-background-geolocation/b

[2017-03-21 11:15] alvaromb commented on #13034
Hi @janicduplessis!

Thanks for your support, here's the PR https://github.com/facebook/react-native/pull/13048

Your suggested change worked perfectly, however when testing this specific case with the `react-navigation` library, the `Linking` library mock also fails. There's a workaround for that, so I was able to confirm the new `ScrollViewMock` is working. I don't know if the `Linking` mock iss

[2017-03-21 11:28] micro1226 commented on #5213
this bug happened again on version4.2.
this time setText function did not operated, instead doing `- (void)setTextStorage:(NSTextStorage *)textStorage`on RCTText.m
so, how to fix it?

[2017-03-21 11:34] BaoBaoJianqiang commented on #13046
Yoga works now. but anther issue occurs:

platform :ios, '10.2'
project 'RN4.xcodeproj'

target 'RN4' do

pod 'Yoga', :path => '../node_modules/react-native/ReactCommon/yoga'

pod 'React', :path => '../node_modules/react-native', :subspecs => [
  'Core',
  'RCTImage',
  'RCTNetwork',
  'RCTText',
  'RCTWebSocket',
]

end

In the workspace, #include <folly/dynamic.h>, Xcode says "dynamic.h file not

[2017-03-21 12:19] lfabreges commented on #11969
If `import "rxjs"` is not enough when `jest.mocking`, here's a workaround, add these lines in a Jest setupFile:
[code]

[2017-03-21 12:52] MacKentoch commented on #12103
Deprecating Navigator risks to be not that much welcomed: all applications using it now since the beginning...

But we understand that FB can't waste time maintaining all just for our smiles.

So in short term I conclude I have to use `react navigator` if I want to save rewrite for my new apps?

[2017-03-21 13:25] skrobek commented on #10865
@kyle-ilantzis I'm trying your solution with RN 0.42 but after using it I can't see `onMessage` callback:
[code]

[2017-03-21 13:38] kyle-ilantzis commented on #10865
@skrobek Do you mean pushCredentials() no longer causes onMessage() to be called?

1. Should it not be:
onMessage={this.onMessage.bind(this)}

2. I never thought that when posting a message from react-native to the webview the webview would call its own onMessage. I thought onMessage is only called when JS code in the webview calls window.postMessage(...)

[2017-03-21 13:42] skrobek commented on #10865
@kyle-ilantzis Look at the docs example:
[code]

[2017-03-21 13:50] geoc3 commented on #13011
Hey @sriraman so sorry to hear about your app store woes. I have been there many times. Are you using expo/exponent to build your app? As I understand it they still have the ability to hot reload your bundle which as amazingly awesome as I think that is and love that feature I think that is what Apple is cracking down on. I can see both sides of the argument I definitely lean towards the ability t

[2017-03-21 13:54] kyle-ilantzis commented on #10865
@skrobek Oh no 😱

My objective was to have the JS code in the webview talk to react-native. It was not to have react-native talk to itself through a webview.

patchPostMessage achieved my objective, no more red screen on ios when setting the onMessage property of a webview. JS code in an IOS webview could then talk to react-native

[2017-03-21 13:55] keshavkaul commented on #3059
@rebeccahughes I'm looking for some official documentation specifying correct way to create a native module library. I have come across this repo https://github.com/frostney/react-native-create-library but I'm not sure if that's the best way to go about creating a native react native library. Any help would be appreciated. Thanks

[2017-03-21 13:59] satya164 commented on #13011
source? from what people have posted above it's still there in the latest agreement.

React Native doesn't convert JavaScript to native code. It's not much different from what a browser does, provide access to few native APIs from JavaScript.

[2017-03-21 14:01] skrobek commented on #10865
@kyle-ilantzis Yeah. Now I have huge problem because docs cause red screen and your solution helps with the red screen but block `webview.postMessage` - no idea what to do ;-)

[2017-03-21 14:15] alloy commented on #13011
Yup, it’s still allowed. See “Apple Developer Program License Agreement” [here](https://developer.apple.com/terms/).

[2017-03-21 14:19] geoc3 commented on #13011
I was just looking here https://developer.apple.com/app-store/review/guidelines/#performance under the 2.5.2 I thought it used the be in their review guidelines but I guess not.

[2017-03-21 14:54] vjeux commented on #350
margin: auto is now supported by the underlying layout engine that powers react native (yoga), so it should be easy to add support for it if it doesn't work already

[2017-03-21 14:56] hramos commented on #13045
0.43 was incorrectly tagged as stable yesterday. This should be fixed already but a new website deploy hasn't gone out yet due to Circle being red.

[2017-03-21 15:00] acresta88 commented on #8290
Why is this issue closed? I'm getting the same bug with RN 0.40 is there a way to fix it? can you share your solution if you have one. Thanks

[2017-03-21 15:02] Kaberi-Basu commented on #304
@lealife your solution saved me from night stay at office 💃 . Thankx a lot.
It worked for me after hours of unsuccessful attempts.

[2017-03-21 15:04] ajwhite commented on #10433
Linking a crash report incase this can provide further details

http://crashes.to/s/ee7279ad0b8

[2017-03-21 15:08] acresta88 commented on #8259
Hi I tried with multiple version of uglify-js (2.6.2, 2.6.4, 2.7.3, 2.7.5) but still getting the same error, can we reopen it? I'm on RN 0.40

[2017-03-21 15:15] soutot commented on #2031
Do we have any updates on this? I am also not able to use react-native-orientation since the screen is not being locked

[2017-03-21 15:16] pvinis opened #13051 "searchPaths.filter is not a function"
https://github.com/rnpm/rnpm-plugin-link/issues/94

[2017-03-21 15:21] acresta88 commented on #12754
I have a similar problem with RN 0.40, it cannot generate the bundle in release mode. It stops with error
`Worker Farm: Received message for unknown index for existing child. This should not happen!

SyntaxError: Unexpected token: punc (.)`
and I cannot understand where the error is, but is the react-native bundle step that fails

[2017-03-21 15:25] avdg commented on #8259
Even in 2.8.x?

[2017-03-21 15:49] Taakn opened #13053 "Error after upgrade to 0.42.3"
### Description

error after upgrading to latest version of RN. I cannot run my project anymore. I am getting:

node_modules/react-native/packager/src/Bundler/index.js: Unexpected token, expected , (47:26)
  45 |   mainModuleName: string,
  46 |   options: {},

     |                           ^
  48 | ) => {} | Promise<{}>;

### Reproduction

run react-native-git-upgrade

### Additional Informati

[2017-03-21 15:51] ragnorc commented on #13037
#13053

[2017-03-21 15:51] ragnorc commented on #13037
#13053

[2017-03-21 15:51] ragnorc commented on #13037
#13053

[2017-03-21 15:53] ragnorc commented on #13037
#13045

[2017-03-21 16:31] thiensubs opened #13054 "UnableToResolveError: Unable to resolve module `BackHandler`"
### Description
![image](https://cloud.githubusercontent.com/assets/2623569/24158240/4deb9b1e-0e8e-11e7-80d6-9e80e54eab38.png)
This is my issue, how can i fix that?
More details:

[code]
My enviroment is: Xubuntu 16.04, Lasted NPM, RN: 0.42.3

[2017-03-21 16:53] #13054 closed

[2017-03-21 17:20] kenma9123 opened #13055 "Default Timepicker randomly crash on Android release version"
### Description

It's a hard crash randomly when somebody is opening the default Timepicker(`TimePickerAndroid`) on android(release version). It happens on random phone. I can't reproduce it myself. On genymotion I can't seem to launch the picker it always make the emulator crash. But google developer console was able to track people having crash and here's the log.

[code]

### Additional Informa

[2017-03-21 17:40] hey99xx commented on #12922
@rmevans9 looks like github bot did not do its job

[2017-03-21 17:44] hramos commented on #13044
What they said - set the color on the Text element. Be aware you're using a white background color on the View container, you'll probably want to use a different color for the text.

[2017-03-21 17:44] #13044 closed

[2017-03-21 17:50] hramos commented on #13045
Alright, this is now fixed. It required a manual deploy of the website to ensure 0.42 was listed as latest stable.

[2017-03-21 17:50] #13045 closed

[2017-03-21 17:52] hramos commented on #13037
I think this is actually affecting more than just FlatList. Other examples are not rendering. RNPlay is going away at the end of the month, so we'll need to either migrate the examples to run in [Sketch](http://sketch.expo.io), or remove the prompt entirely.

[2017-03-21 17:56] AlessandroSanino1994 commented on #12903
Also I'm facing this problem

[2017-03-21 18:11] mikearche opened #13056 "flexDirection 'column-reverse"
Please read the following carefully before opening a new issue.

We use GitHub Issues for tracking bugs in React Native.

- If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/feature-requests

Your issue may be closed without explanation if it does not provide

[2017-03-21 18:11] #13056 closed

[2017-03-21 18:27] hramos commented on #13037
I took a further look at this. So there's two different types of runnable examples that display in a modal:

1. One-off examples linked from the markdown docs (e.g. https://facebook.github.io/react-native/docs/direct-manipulation.html), which is something someone uploaded to RNPlay long ago - and in some cases, the example no longer exists. In the case of Direct Manipulation, the example was creat

[2017-03-21 18:30] ide commented on #13011
@geoc3 Hi, I work Expo -- with Expo specifically we've heard of zero App Store rejections due to this reason. While Apple's policies aren't always clear-cut, we make sure that the Expo codebase follows the Apple guidelines (technically & w.r.t. intent) and since Expo developers generally write only JavaScript, that clears the likelihood of a developer's accidentally breaking the Apple guidelines.

[2017-03-21 18:33] hramos commented on #13055
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-21 18:33] #13055 closed

[2017-03-21 18:34] #13051 closed

[2017-03-21 18:35] hramos commented on #13046
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-21 18:35] #13046 closed

[2017-03-21 18:36] hramos commented on #13043
Do you see any errors in the terminal?

[2017-03-21 18:36] hramos commented on #13042
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-21 18:36] #13042 closed

[2017-03-21 18:39] kenma9123 commented on #13055
For the two informations. I didn't included them as I don't have to say anything about that anyway. I can't reproduce the error and I don't have a proper solutions instead of giving the user a basic time picker for now.

[2017-03-21 18:44] kenma9123 opened #13057 "Default Timepicker randomly crash on Android release version"
### Description

It's a hard crash randomly when somebody is opening the default Timepicker(`TimePickerAndroid`) on android(release version). It happens on random phone. I can't reproduce it myself. On genymotion I can't seem to launch the picker it always make the emulator crash. But google developer console was able to track people having crash and here's the log.

[code]

### Reproduction

I ca

[2017-03-21 18:44] hramos commented on #13055
At the very least I'd like to see your Timepicker code, how is it being rendered, etc.

[2017-03-21 18:45] hramos commented on #13057
Please at least provide a sample of your code.

[2017-03-21 18:53] geoc3 commented on #13011
Hi @ide thanks for the detailed response and definitely eases concerns a bit. I just know how Apple reviews can go hence the slight bit of nervousness. Hoping like you said in a previous comment the problem is figured out and resolved and everyone can get on down the road building fantastic apps with Expo and React Native! Such an awesome platform!

[2017-03-21 19:07] ledfusion commented on #5787
In my case, it was just a matter of running ```./gradlew clean``` and trying to compile again

[2017-03-21 19:15] jnrepo commented on #5122
@jomaint did you ever solve this? We just ran into this issue randomly and have no idea what is going on

[2017-03-21 19:20] kenma9123 commented on #13057
Actually I'm just using the default code. Nothing fancy. Some phones keep it crashing, some are not.

[code]

[2017-03-21 19:24] saigrandhi commented on #11028
@ericvicenti Can we use TheMovieDB.org api instead of RottenTomatoes? I can work on it.

[2017-03-21 19:41] natdm commented on #1831
I have RN .42 and I don't see any experimental libs in here for the FlatList, so I'm stuck until I can upgrade (not for a little while) with this issue.

[2017-03-21 19:43] cinder92 opened #13058 "app crashes as soon as compile"
Im receiving this issue

[code]

i'm not using any native module from npm, here is my package json

[code]

when i run my app from terminal i saw this messages

[code]

any advice?

thanks

[2017-03-21 19:49] #12165 closed

[2017-03-21 19:55] grundmanise commented on #11821
I am experiencing the same issue only with a `FlatList`, it's height is not animated (the same behavior as with your `Text` element):
[code]

Wrapping `TextInput` with a `View` does not solve it.

[2017-03-21 19:58] ericvicenti commented on #1831
You can always copy the FlatList code into your app, even if you aren't using the latest version of RN.

[2017-03-21 20:26] SEAPUNK opened #13059 "packager creating invalid source maps?"
### Description

I'm trying to hook up react-native-webpack-server to react-native (due to our project setup, we need webpack), but during builds, we can't get source maps to correctly build.

Investigating the problem, it turns out that react-native's packager seems to generate source maps that the `source-map` module doesn't like. (See: https://github.com/mozilla/source-map/issues/258)

### Repr

[2017-03-21 20:51] ide commented on #13047
The #import pragma defends against this, this isn't #include. There's something misconfigured with your project.

[2017-03-21 20:56] pvinis commented on #13051
why just close it? there is enough info in the link. what is the problem?

[2017-03-21 20:57] binoy14 commented on #13012
@frantic Can you point me in the right direction? I am not sure which file to edit and what exactly to do.

[2017-03-21 20:58] cinder92 commented on #12646
any fix about this?

[2017-03-21 21:15] cinder92 commented on #11680
any fix for this? i'm having same issue as @theseansy

[2017-03-21 21:28] hramos commented on #13051
See the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) - issues that do not fill this out will be closed without explanation.

[2017-03-21 21:29] brunolemos commented on #13011
I'd suggest the React Native core team to write a small blog post just to make things clear to the community. We know that React Native has nothing to do with these rejections, but people keep raising this concern on public forums. They might just need to listen to it louder and clear, in an official and final way.

[2017-03-21 21:31] pvinis commented on #13051
ok then tomorrow i will just copy the other issue here i guess. the link has the "template".

[2017-03-21 21:34] jnrepo commented on #10366
@mazicky sorry, but I'm confused as to what to do after removing `React` from my podfile.

[2017-03-21 21:39] brunolemos commented on #13011
@sriraman React Native 0.30 is really old. Too much changed in the last 8 months. It's hard to give support for that, you should really upgrade it.

[2017-03-21 21:47] hramos commented on #13058
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-21 21:47] #13058 closed

[2017-03-21 21:48] cinder92 commented on #13058
i saw another issue and i just add this line in my gradle

[code]

but now, i'm receiving this issue

[code]

[2017-03-21 21:53] pawangiri commented on #11975
Facing the same issue. Any solution?

[2017-03-21 21:55] srhise commented on #10078
I have this issue. I am pretty sure it has to do with output images being put into the /android/app/main/src/res folder as when you delete some of those files then re-run it works. What would cause that?

[2017-03-21 21:57] cinder92 opened #13062 "Android app crashes as soon as opening"
### Description

I can't make my app run.

### Reproduction

get project from my partner cloned in bitbucket (in my partner environment the app works like a charm) , after that i do `npm i`, then try to ran my app and getting following error

[code]

then, a lot of searching after i saw this [issue](https://github.com/square/okhttp/issues/3040)

then i added this line to my gradle

[code]

#UPDATE

[2017-03-21 21:59] cinder92 commented on #13058
@hramos  [here](https://github.com/facebook/react-native/issues/13062) is using guide lines

[2017-03-21 22:13] srhise commented on #11845
That's just the way the cookie crumbles with RN. My only qualm with Android Studio is I am not sure I can produce a release build using *only* Android Studio (like I can with XCode using a release scheme).

One of the great things about using RN with android studio is you can debug your native Android components there. Highly recommend using AS with RN.

[2017-03-21 22:42] grundmanise commented on #10765
@austincline09 hey, on what element did you add `flexGrow` I've tried adding it on the `ScrollView`, `KeyboardAvoidingView`, wrappers... nothing solved this issue.

[2017-03-21 22:52] gre commented on #1831
I can still reproduce the "full view goes white when going back" bug with FlatList. I'm wondering if it's not more related to ScrollView.

[2017-03-21 22:55] lyahdav commented on #12646
No fix yet. I haven't had time to investigate further. Like I said above, also not sure if this belongs here or on my Stack Overflow question above.

[2017-03-21 22:55] n1ru4l commented on #10991
I can confirm the issue @tlvenn has when I use circular dependencies.
The example from @mattread90 helped me to *fix* the issue.
However I can not confirm that stateless functional components are not updating - Min update fine and almost every component I use is a stateless function component.

[2017-03-21 22:59] cgestes opened #13063 "React-Native 0.43-rc4 depends on React-0.16-alpha-3"
Hi,

What's going on with the dependency on React for the next RN release?

Right now 0.43-rc4 is pointing to an alpha version of React.

ping @acdlite

[2017-03-21 23:09] theseansy commented on #11680
@cinder92 - I'm following this PR now: https://github.com/facebook/react-native/issues/11835

[2017-03-21 23:18] joshuapinter opened #13067 "Add Toggle between iOS and Android for Documentation "Run This Example"."
To the right of Documentation Examples is a link to Appetize-powered examples of the code with running in an simulator. These are typically only iOS.

![screenshot 2017-03-21 17 17 03](https://cloud.githubusercontent.com/assets/180819/24175151/3dc41a56-0e5a-11e7-8799-aafa34fef3af.png)

Appetize supports both iOS and Android so it would be great to be able to run these examples in either platform.

[2017-03-21 23:37] cinder92 commented on #9770
@holiday  where did you find the duplicate file? i'm having same issue but with okhttp3...

[2017-03-21 23:56] 7ynk3r commented on #11975
Hi @pawangiri,

I'd recommend you to follow a structure similar to https://github.com/FormidableLabs/victory-native.
`npm link` didn't work well for me because of native dependencies.

I hope it helps.
JM

[2017-03-22 00:16] sahrens commented on #1831
The issue with briefly going white is totally different and unique to FlatList. We're working on mitigating it but it's a tricky consequence of asynchronous windowed rendering. The bug this issue refers to is where no content is visible on initial render until the user scrolls, which I hope is fixed with FlatList.

[2017-03-22 00:26] holiday commented on #9770
Turns out our react native library was conflicting with another jar that was pulling in the conceal library. I found it by decompiling all the jar files we had in the project. You may have luck updating all your dependencies to the latest version. Check all your jar files to see what they are pulling in. Research all your libs documentation or source code to see if they are importing the same libr

[2017-03-22 00:45] gyehuda commented on #12813
Can you give us a sense of the timeframe for this to be fixed. We'd love to use React-Native and feel blocked by the uncertainty of your licensing intent. Thanks!

[2017-03-22 01:02] Binb1 commented on #12754
@yustada Adding the NSAllowsLocalNetworking key solved my problem but now my NSAllowsArbitraryLoads key doesn't seem to work anymore (I can't load http images anymore for example). Any idea?

[2017-03-22 01:06] ericvicenti commented on #12813
I'm hoping to get this done by the end of the month, which will allow `react-native v0.44` to have this problem resolved. This release-candidate will be available ~April 1st, and the stable release is scheduled for ~May 1st.

[2017-03-22 01:08] mikaalanwar commented on #13015
Hey there! I'm new to react-native as well. A similar issue occurred for me too. To resolve it, avoid building the project in "C:\Windows\System32". It's probably due to write permissions in that area.

[2017-03-22 01:15] mikaalanwar commented on #13035
Hey there! Can you kindly share the relevant code snippet / source code, so that I'd be able to reproduce the issue easily?

[2017-03-22 02:32] longminxiang commented on #1489
RCTWrapperViewController.m

    - (BOOL)hidesBottomBarWhenPushed
    {
      return self.navigationController.viewControllers.count != 1;
    }

RCTTabBar.m

    - (void)reactBridgeDidFinishTransaction
    {
      ...

      if (_tabsChanged) {

        NSMutableArray<UIViewController *> *viewControllers = [NSMutableArray array];
        for (RCTTabBarItem *tab in [self reactSubviews]) {

[2017-03-22 02:44] austincline09 commented on #10765
@grundmanise I'm pretty sure I added it to my ScrollView component and it fixed the issue for me. My KeyboardAvoidingView also had contentContainerStyle={{flex: 1}}

[2017-03-22 02:48] ashemah commented on #1831
I have also encountered this issue with ListView (and FlatList as well).

I just discovered that I could get the list to render properly by resetting my datasource to [] in the constructor of the view and then resetting it to the list of items in a setTimeout()

FYI My listview is embedded in a ReactNavigation StackNavigator in a TabNavigator.

[2017-03-22 02:52] HyperSimon commented on #416
@maxiaochaos 我觉得应该是吧

[2017-03-22 03:18] liuliangsir commented on #6499
Thanks,
Solution: disabled Xiaomi 5 connection
Namely, pull the usb cable
Because, i charge phone by using usb cable

[2017-03-22 03:29] toureek commented on #11293
I did follow the  [integration-with-existing-apps](http://facebook.github.io/react-native/releases/0.42/docs/integration-with-existing-apps.html), too. When I met this same issue,  I just renamed my original folder which contains the iOS source code.
I ran this half an hour ago:
"mv originalFolderName ios" in the terminal before run "react-native run-ios", and it went well.

[2017-03-22 04:08] clarle commented on #13011
I suspect it's due to [react-native-one-signal](https://github.com/geektimecoil/react-native-onesignal/blob/724427ea0f6ebde46d72880a3d77f60414216b97/ios/OneSignalNativeSDK/OneSignal/OneSignalSelectorHelpers.m).

The selector helpers here allow swizzling out any arbitrary methods.  If these selector helpers are accessible from JavaScript in any way, then it's very likely that this is causing the is

[2017-03-22 04:45] cinder92 commented on #11680
idk why but i'm still getting same issue with RN 0.42.3 :(

[2017-03-22 05:01] frantic commented on #13012
@binoy14 how familiar are you with React Native? I'd recommend starting with building a simple app that uses local notifications. Then you can try reproduce this bug locally on your computer. Once you have the repro case, check out PushNotificationsIOS native module (Objective-C) and see if you can move some event subscriptions out of `startObserving` and into methods that actually depend on them.

[2017-03-22 06:00] clarle commented on #13011
Some more details after diving into how the OneSignal SDK works:

* It's [swizzling out a lot of selectors on UIApplicationDelegate](https://github.com/geektimecoil/react-native-onesignal/blob/724427ea0f6ebde46d72880a3d77f60414216b97/ios/OneSignalNativeSDK/OneSignal/UIApplicationDelegate%2BOneSignal.m#L121-L135), including nearly all of the lifecycle methods on it.

* There's an `initWithLaunchOpt

[2017-03-22 06:29] my2dieer commented on #6613
i have met the same issue. but i found the problem was that i had ran another project early. when i reload the terminal ,it works.

[2017-03-22 07:03] BaoBaoJianqiang opened #13069 "how to get data where AsyncStorage stores?"
I knows how AsyncStorage get and set data, but how can I manage this data in iOS or Android code?

[2017-03-22 07:08] zjhiphop commented on #4357
Hi， guys. After i uninstalled `yarn`, and removed yarn.lock file and .git/index.lock file, still not works for me.

[code]

[2017-03-22 07:12] rqzheng2015 opened #13070 "Please add onEndReachedThreshold to SectionList component"
After reading the SectionList APIs on https://facebook.github.io/react-native/releases/next/docs/sectionlist.html, I still don't know how to make "Scroll loading" without passing param "onEndReachedThreshold" to SectionList which was provided at Listview and FlatList component, can i have any suggestions on making scroll loading in SectionList work? THX!

[2017-03-22 07:24] mauron85 commented on #13047
@ide obviously you're right. Must be problem in my project.

[2017-03-22 07:24] #13047 closed

[2017-03-22 07:28] hilkeheremans commented on #13011
The two app reviews we passed last week - one last monday, one just this sunday - both had `react-native-onesignal` in them.

I'm not saying `react-native-onesignal` is _not_ the problem, since we cannot be certain Apple fully analyzes all submissions, but if they do, it is definitely not the issue here.

[2017-03-22 07:32] axten opened #13071 "unable to start the android hello world app on mac"
### Description

Hello,
I’m new to react native and have problems to setup the hello world app.
I followed the instruction on the „Getting Started“ page for installing android on mac.

First problems occur at „Starting the Android Virtual Device“ step.
`$ android` outputs

Then I created a new empty project in Android Studio and startet the AVD using the menu > tools > android > AVD Manager.
This

[2017-03-22 07:55] hilkeheremans commented on #13011
To get back to an earlier question I asked -- the OP is stating that they are still using RN v0.30. Is there any chance there is some naughty code in there that was removed in later versions?

[2017-03-22 08:12] arsenslyusarchuk commented on #13035
@mikaalanwar Just use React-Native Modal with code inside like this and test it on samsung S6/S7 devices, rerunning app for couple of times (delete from memory and open):

[code]

I've managed to fix this issue by using custom animated views instead of modals. But that's not the way it should work

[2017-03-22 08:17] unicornRainbows commented on #12556
I agree.. going to try the solution from
http://blog.bigbinary.com/2016/07/26/passing-request-headers-on-each-webview-request-in-react-native.html

[2017-03-22 08:27] pfulop commented on #13071
Hi,
It looks like you have old build tools. Mind checking if there is update available? You can do so by clicking icon of android with blue arrow behind him  in toolbar row. then you should get screen such as this http://imgur.com/a/lwi3j

[2017-03-22 08:30] grundmanise commented on #10765
Thanks, but none of the solutions works for me...

[2017-03-22 08:45] acresta88 commented on #8259
Yes, I just tried with "uglify-js": "^2.8.14" and get the same problem. But to be honest the error message is not very clear, it just says ` Unexpected token: punc (.) ` but it's not clear where. But after googling the problem the only related issue found is the one with uglify. Is there a way to debug the bundling step thoroughly?

[2017-03-22 09:10] mmazzarolo commented on #12769
Same issue, any hint?

[2017-03-22 09:14] jacobcyl commented on #12754
I get the same issue. But I solved it, because I have open proxy. Maybe you can check if you open network proxy, and make sure you have shut it down.

[2017-03-22 09:17] acresta88 commented on #12754
Sorry for the stupid question, but what do you mean for open proxy? I don't think I opened any network proxy, but I guess it may be under the hood. How can I check it and shut it down?

[2017-03-22 09:20] unicornRainbows commented on #12556
aaaaaand it didn't work..

[2017-03-22 09:29] aliyoge commented on #13069
i have the same question

[2017-03-22 09:40] axten commented on #13071
I installed the version mentioned on the [Getting started Page](https://facebook.github.io/react-native/docs/getting-started.html):

[2017-03-22 09:40] Aleksandar-FFWD opened #13072 "opacity"
Please read the following carefully before opening a new issue.

We use GitHub Issues for tracking bugs in React Native.

- If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/feature-requests

Your issue may be closed without explanation if it does not provide

[2017-03-22 09:53] jacobcyl commented on #12754
Maybe we are in different environment . I don`t have this issue yesterday and before, but get this error today cause I find I open a shadowsocks proxy soft ware which used to proxy. So when I turn it off, anything go ok. I don`t know if you get the same problem.

[2017-03-22 09:54] gre commented on #1831
also, the hack to trigger a 1px scroll programmatically still works both for ListView / FlatList. but you need to call it at the right lifecycle (usually when you come back to screen).

[2017-03-22 09:55] grundmanise opened #13073 "KeyboardAvoidingView with keyboardDismissMode interactive does not resize as keyboards hides."
### Description

When using `keyboardDismissMode="interactive"` on `ScrollView`  `KeyboardAvoidingView` does not resize as keyboards hides.

Here's a gif to demonstrate what behavior I'm referring to:

![gif](https://camo.githubusercontent.com/a2ee2a721cc55d5cdd2a2864c41ee31d034d3057/68747470733a2f2f7468756d62732e6766796361742e636f6d2f4d696e646c65737353616e65416e6777616e7469626f2d73697a655f7265737

[2017-03-22 10:04] seenickcode opened #13074 "'await' is a reserved keyword"
This example doesn't work.

http://facebook.github.io/react-native/docs/asyncstorage.html#content

"'await' is a reserved keyword" is displayed.

[2017-03-22 10:08] pfulop commented on #13071
In your android/app you have file called build.gradle. What is the targetSdkVersion, buildToolsVersion and compileSdkVersion there?

[2017-03-22 10:12] grundmanise opened #13075 "Keyboard key does not depress when ScrollView is scrolling"
### Description

When any keyboard key is pressed while `ScrollView` scrolls (swipe/pan/momentum) a key won't depress until:
1. you press another key (the pressed key will get stuck instead of the prev. key);
2. `ScrollView` stops scrolling'

---
This gif shows this bug when using `FlatList`:
[code]
![flatlist_scrollview_keyboard_bug](https://cloud.githubusercontent.com/assets/19417672/24192625/45

[2017-03-22 10:13] sevo1 commented on #12289
Crashes after ~30 seconds, if it is paused in debugger everything is fine
[code]

React Native version: 0.42
Platform: Android 6
OS: OS X 10.12.3
JS Debugger: Chrome Dev Tools, React Native Debugger

[2017-03-22 10:29] grundmanise opened #13076 "KeyboardAvoidingView with ScrollView inside -> no animation on keyboard show/hide"
### Description

Consider this structure:
[code]

When `TextInput` is focused and keyboard animation happens `TextInput` animates as expected, but `ScrollView` changes its height without any animation.

![flatlist_scrollview_no_animation](https://cloud.githubusercontent.com/assets/19417672/24193370/b644ae1e-0efa-11e7-87d9-a6bc95e80fab.gif)

### Reproduction

https://sketch.expo.io/B1JIYaynx

### A

[2017-03-22 10:30] yairk opened #13077 ""react-native link" adds dependncies multiple times to Android projects when working on a Windows dev environment"
### Description

When working on a Windows development environment with git's `autocrlf` configured as `true`, then repeatedly running `react-native link` will repeatedly add the same dependencies to the Android app's MainApplication.java, instead of recognizing that the library has already been linked after the first invocation.

### Reproduction

Run `react-native link` repeatedly on a Windows e

[2017-03-22 10:33] hnzlk2014 opened #13078 "init new project error with React-Native 0.43-rc4"
NPM version: 4.4.1
Xcode version: 8.2 (8C38)
React Native version: 0.43-rc1~4
Platform: iOS
Operating System: MacOS os x EI Capitan

react-native 0.42.3 no problem.

react-native init --version="0.43.0-rc.4" FlatListTest4

error message:
2017-03-22 18:24:09.965 [warn][tid:NSOperationQueue 0x618000030700 :: NSOperation 0x61800004f390 (QOS: DEFAULT)][RCTBatchedBridge.m:113] Failed to load source: Er

[2017-03-22 10:36] yygmind commented on #9136
Thanks @codebymikey ,
It works well for me through the solution,
In Webstorm, uncheck "File->Settings->System Settings->sychronization->use safe write"
I'm Win10, use Webstorm

[2017-03-22 10:44] ncuillery commented on #13078
I confirm the problem.

It's is due to the React version 16.0.0-alpha.5 published on NPM yesterday.

Fix your React version to 16.0.0-alpha.4 in your `package.json`and re-install the dependencies.

[2017-03-22 10:52] pampang opened #13079 "NoClassDefFoundError: com.facebook.react.bridge.WritableNativeMap"
I've just enter a NoClassDefFoundError when I re-start my MainActivity.
But I don't know the reason why will cause the error.
Can somebody give me a clue to fix it?
Thanks a lot.

[code]

[2017-03-22 11:08] axten commented on #13071
[code]

[2017-03-22 11:14] g3r4n commented on #12754
@yustada your solution ([here](https://github.com/facebook/react-native/issues/12754#issuecomment-285358064)) solve my issue. I think put this parameter will fix something broken in Xcode. All my projects are not debuggable !

[2017-03-22 11:32] axten commented on #13071
Now I found out that the port 8081 was already in use. after killing the process it seems that working a little bit "more" (terminal with React Packager opens) but in the end it fails again with error:

[code]

[2017-03-22 12:10] axten commented on #13071
Ok I fixed the last error by deleting the virtual device and creating a new one.
Now I choose nexus 6 and now it works. Note that it can take up to a minute until the emulator is launched properly.

**Summary for later visitors**
* make sure that the port 8081 is free using `sudo lsof -i :8081` and `sudo kill -9 <pid>`
* try creating multiple Virtual Devices until android boots properly in the emu

[2017-03-22 12:10] #13071 closed

[2017-03-22 12:22] davidsharp commented on #13074
It's because that snippet should be in an `async` function.

[2017-03-22 12:23] unicornRainbows commented on #9201
Why the F??? It does work now.. at least :)

[2017-03-22 12:25] unicornRainbows commented on #12556
HERE is a SOLUTION! I wasted HOURS on this..
https://github.com/facebook/react-native/issues/9201
<3 its a hack, but it works at least
:)

[2017-03-22 12:28] acresta88 commented on #12754
Apparently with the new version is working (2.8.13), I followed the various solutions and removed some problematic code from my project and it's better now. The problem is that uglify and in general the release environment are different from development environment. BUT uglify made it impossible to debug, to find out where the problem was I had to dig very deep to improve debugging.

[2017-03-22 12:50] kamalk333 commented on #9453
what you did can you please mention? I had the same error.
@magicspon

[2017-03-22 13:09] magicspon commented on #9453
![image](https://cloud.githubusercontent.com/assets/3268717/24199108/586e1b76-0f00-11e7-960a-c924c7b09c74.png)

eee... I can't remember... was some time ago...

package.json
[code]

[2017-03-22 13:39] prigornitskiy opened #13080 "Cannot read property 'onStartShouldSetResponderCapture' of undefined RN v0.43.0-rc.4"
### Description

Error log:
[code]

Log from google play:
[code]

### Additional Information

I am used FlatList, this is only in android. When i tap button in renderItem sometimes see this error. In release build app crashing

* React Native version: v0.43.0-rc.4
* Platform: Android
* Development Operating System: MacOS
* Dev tools: Android Studio 2.3

[2017-03-22 13:42] skv-headless opened #13081 "[iOS] Negative scale transform doesn't work anymore"
### Description

`style={{transform: {scaleY: -1}}}`
I use this trick to revert list of messages for chat. Also it is used here
https://github.com/exponent/react-native-invertible-scroll-view/blob/master/InvertibleScrollView.js#L75
On current master `View`s disappear when I use negative `scaleX` or `scaleY`. Still working for android.

caused by this commit https://github.com/facebook/react-native

[2017-03-22 14:02] goodhyun commented on #12717
#12923 didn't fix our case. We tried to replace the entire ReactAndroid folder, but in vain.
We had to roll back to 0.41.2
Hope this is fixed in 0.43

[2017-03-22 14:02] seenickcode commented on #13074
Strange. It seems it's not.  See this official example.
http://facebook.github.io/react-native/docs/asyncstorage.html#content

On Wed, Mar 22, 2017 at 4:23 PM, David Sharp <notifications@github.com>
wrote:

[2017-03-22 14:07] studio3w commented on #12717
@goodhyun have you built ReactNative from source?
https://facebook.github.io/react-native/docs/android-building-from-source.html

[2017-03-22 14:14] keshavkaul opened #13082 "Creating React Native Library Project"
### Description

I'm trying to create a native react-native library that I intend to publish on npm. What are the development guidelines that I need to follow to achieve this? So far I have only been able to write native code for the ios and android application project, but I haven't yet found an official guide to help me create a native library that I can publish on npm.

I have used the template