[2015-12-11 17:24] vjeux commented on #4709
@udfalkso @brentvatne actually implemented something like this but it didn't give us actionable feedback. Having a clear +1 button on the issues you want fixed is a much better indicator instead of guessing. I would really love if github would give us a +1 button and we could sort by it, but it is no, so we have to figure out another way.

@ExplodingCabbage the truth is that we have no idea what w

[2015-12-11 17:28] skevy commented on #4720
This is looking really cool @imton! Thanks so much for taking the time to start thinking about it. I agree with @vjeux about search...I think adding that functionality at the same time as we do a redesign would be valuable.

[2015-12-11 17:33] vjeux commented on #4720
For search, we should use Algolia who wanted to build the one for React itself: https://github.com/facebook/react/issues/4807

[2015-12-11 17:37] skevy commented on #4720
Yep! I've used Algolia before, it's awesome.

[2015-12-11 17:39] skevy commented on #4614
@seph14 thanks for reporting! Could you help us out and give us a test case that would allow us to reproduce this issue?

[2015-12-11 17:49] cancan101 commented on #4478
I am getting this on RN 0.15 when there is an exception caused in a `Component` constructor.

[2015-12-11 17:52] cancan101 commented on #4478
I also see:
[code]

[2015-12-11 18:03] cancan101 commented on #4478
Looks like this might have been fixed here: https://github.com/facebook/react-native/commit/4b78ed2123e638f4169ee59fede35ac5ec204107

[2015-12-11 18:22] jforaker commented on #4671
@arunabha did you try opening the developer menu (shake the device or click the hardware menu button in emulator) selecting "Debug in Chrome"?

[2015-12-11 18:26] doochik opened #4733 "flexDirection: row breaks numberOfLines in nested <Text/>"
The actual result I want to get is

[code]

I tried some cases, but it seems that flex breaks Text@numberOfLines

[code]

Here is my result

![2015-12-11 21-23-28 iphone 5s - iphone 5s ios 9 0 13a344](https://cloud.githubusercontent.com/assets/31961/11751893/78cf827e-a04d-11e5-92b8-43088b3a3180.png)

[2015-12-11 18:26] qbig commented on #2676
<img width="645" alt="screen shot 2015-12-12 at 2 20 41 am" src="https://cloud.githubusercontent.com/assets/5563225/11751834/ffd3d440-a076-11e5-8e79-76f76ab2b2b9.png">
@ide @satya164  could you help me out with this ?
Seems that if I just naively passing 'null' as 'cachedFileLocation', it won't work for JSCExecutor, while it's fine for ProxyExecutor.  @ide You mentioned that if RN cannot reach the

[2015-12-11 18:26] ExplodingCabbage commented on #4709
So, I'm just a peon and have never done any substantial work on open source projects nor explored the variety of bug tracking software available. But I know enough to know GitHub issues certainly aren't ideal - there's no built-in triage (although you can hack it with labels) and no proper system for voting on issues (which results in long pages of ":+1:  fix plzzz" posts on popular issues on larg

[2015-12-11 18:28] qbig commented on #2676
[code]

Does this piece of code has anything to do with 'if failed, load from cache' as you mentioned? The comment on top seems to be talking about something else.

[2015-12-11 18:30] udfalkso commented on #4709
Perhaps a forum based on http://www.discourse.org/ would be a stronger option than Product Pains (which is severely lacking).

It has worked well for Ionic:
forum.ionicframework.com

Another example:
http://www.discourse.org/

[2015-12-11 18:31] tchakabam commented on #4711
we can simply use the JavaScript bindings to GStreamer or in fact GstPlayer [1] :)

It offers support for all audio codecs under every platform including Android & iOS. Our own mobile apps are a proof of concept this works.

JavaScript bindings can be generated automatically for GObject things (underlying pseudo-object framework of GStreamer, part of GLib) with GObjectIntrospection [2].

[1] https

[2015-12-11 18:58] mschwartz opened #4734 "Documentation Error (iOS Native Modules page)"
Using 0.16.

See https://facebook.github.io/react-native/docs/native-modules-ios.html#exporting-swift

I did react-native init and added CalendarManager, bridge header, bridge .m file, etc., to the project.  I got the project to run with the code exactly as on the docs page.

As soon as I actually call the addEvent() method, I get errors in both Chrome debugger and a EXC_BAD_ACCESS error in Xcode:

[2015-12-11 19:31] ide commented on #2676
It's been awhile since I looked at the code but I think you were right that this logic may be in C++. There is a native JNI function that takes both a URL and file path and loads JS -- I believe that function may be loading the JS from the file path if the URL cannot be reached.

[2015-12-11 19:34] ide commented on #4478
I remember @javache posting that he fixed a bug that sounds very similar to this one. I'll close this issue but please open a new one if the bug has not been fixed in 0.16.

[2015-12-11 19:34] #4478 closed

[2015-12-11 19:40] ide commented on #4296
@fatuhoku To set expectations, things aren't going to Just Work when pulling from npm because npm is a repository of code for several different platforms.

Just as how we don't expect `npm install express` to work in the browser, many npm packages won't work in React Native unless they have (a) been explicitly written for React Native or (b) are pure JavaScript that uses the libraries in [the Java

[2015-12-11 20:04] blahoink commented on #3004
+1

For anyone looking for a quick replacement, [react-native-dialogs](https://github.com/aakashns/react-native-dialogs) is a good solution that plugs into native dialogs.

[2015-12-11 20:13] ide commented on #4477
This error is pretty obscure and seems to happen after another error occurs in React and puts it in a bad state. Would be super great if someone could send a PR to React to address it.

[2015-12-11 20:26] sghiassy commented on #4730
I compiled the JS bundle using command
[code]

and referenced the bundle in the app delegate.

Running the application again produces the same memory problem. It almost seems like the memory growth in production mode seems worse

![screen shot 2015-12-11 at 12 25 39 pm](https://cloud.githubusercontent.com/assets/792606/11754771/59227058-a002-11e5-9ac7-433b512ded37.png)

![screen shot 2015-12-11 at

[2015-12-11 20:28] sghiassy commented on #4730
The project is using `0.16` but I believe I've seen the same problem on `0.15` as well

[2015-12-11 20:37] arunabha commented on #4671
@jforaker No, I couldn't. The app shuts down immediately upon launching producing the logcat output mentioned in the original report. There is no chance to try the dev menu.

[2015-12-11 20:54] ide commented on #4730
Also be sure to test an iOS release binary instead of debug.

[2015-12-11 21:07] skevy commented on #4730
@sghiassy as you can see in the log at the bottom of the screen, you're not running in non dev mode. It still says performance optimizations are off.

[2015-12-11 21:28] DougBanksPersonal opened #4735 "Live reload/debug not working in embedded iOS App"
Followed directions here:
https://facebook.github.io/react-native/docs/embedded-app-ios.html#content

to get the list-of-movies demo from tutorial working as a tab in our existing iOS App.  Good times.

But I can't get any of the live reload or debug features to work (Cmd R, Cmd D, Cmd-Shift-Z, Rage Shake).

As far as I can tell, it's not even trying.

On a 'fully React Native' app, e.g. the tutor

[2015-12-11 21:57] chris-erickson commented on #681
This is getting stale, but here are two solutions I had, both worked.  I don't know about the first being that great, the second is probably better.

Add this to your `.m` file after `@synthesize bridge = _bridge;`.  I don't think it's optimal to make these a singleton or dispatch them on the main queue (pretty far in over my head here, but something to consider).
[code]

Or, dispatch the timer on

[2015-12-11 22:15] Sh3rawi commented on #4494
+1 for re-opening. We should know if this an intended behaviour or its a bug in navigator.

[2015-12-11 22:23] ide commented on #4494
Yeah this should be a supported feature. I think it'd be hard to automatically infer if a scene is opaque but we could have a flag on the route.

[2015-12-11 23:33] skevy commented on #3874
Hey everyone, can you all try:

1) upgrading to latest RN
2) `watchman watch-del-all`
2) `rm -rf $TMPDIR/react-native-packager-*`
3) restart the packager

And let me know if that fixes the issue?

[2015-12-11 23:33] skevy commented on #4296
Hey everyone, can you all try:

1) upgrading to latest RN
2) `watchman watch-del-all`
2) `rm -rf $TMPDIR/react-native-packager-*`
3) restart the packager

And let me know if that fixes the issue?

[2015-12-11 23:33] skevy commented on #3975
Hey everyone, can you all try:

1) upgrading to latest RN
2) `watchman watch-del-all`
2) `rm -rf $TMPDIR/react-native-packager-*`
3) restart the packager

And let me know if that fixes the issue?

[2015-12-11 23:58] jjshammas commented on #4515
@gre thank you so much for that workaround. Fixed the issue for me.

I'm only seeing this problem when building on a Mac via Jenkins. Not locally on any dev machine.

[2015-12-11 23:58] lklots commented on #4246
@ide do you have an example circle.yml that supports a merged ios/android codebase? we are introducing react native into our ios/android apps and need to figure out the continuous integration will work.

[2015-12-12 00:02] vjeux commented on #4709
@udfalkso we already have Discourse setup for React and it seems like there are react-native questions already posted there. Maybe we should highlight it more. @ide and @mkonicek what do you think? Sounds like a good idea to me

[2015-12-12 00:04] vjeux commented on #4709
Looks like ionic is super active, with 115 posts today. React one is a lot smaller with 8 posts yesterday.

[2015-12-12 00:12] ide commented on #4709
I like the idea of forums but would really like to find an alternative to Discourse which I find hard to use. Honestly I'd prefer a subreddit like r/reactnativehelp or something.

[2015-12-12 00:15] ide commented on #4246
I don't have an example for this, sorry! But people in an xfb eng thread had positive things to say about Circle and it sounded like it wouldn't be too hard to get in touch with them.

[2015-12-12 00:17] DougBanksPersonal commented on #3472
@jwhitley
I had the same problems, got through them.  Documented here:
http://zeemeeeng.blogspot.com/

[2015-12-12 00:56] ippa commented on #3049
I'm also bitten by this. RN 1.6 on android, Dev-mode and debugging of but perf monitor on I see JS-FPS drop to -2 (!) when transitioning between two scenes with Navigator. It's superslow.. and it also kind of feels like it's getting slower the longer I test back and forth between 2 scenes. I'm testing on the first nexus 5 which isn't a slouch.

[2015-12-12 01:26] imton commented on #4730
Thank you guys for the feedback. A little bit busy, will keep iterating slowly, but I promise I will take care of this :)

Some updates to the home. Still alpha.

I think we should put killer example there in the hero, for iOS and Android and let the switch. Would be nice to should the result too.

![screen shot 2015-12-11 at 10 25 28 pm](https://cloud.githubusercontent.com/assets/637225/11759280/

[2015-12-12 01:28] ippa commented on #4709
I have a similar view as OP on productpains. Also.. it wants me to create Yet another account just to press an upvote button without the option to login with my github-account.

I thought udfalksos suggestion on sorting open issues sounded good, too bad it never gave good results according to vjeux. But I also got the impression it could have been tweaked more? Is productpains really giving better

[2015-12-12 01:31] imton commented on #4720
Thank you guys for the feedback. A little bit busy, will keep iterating slowly, but I promise I will take care of this :)

Some updates to the home. Still alpha.

I think we should put killer example there in the hero, for iOS and Android and let the switch. Would be nice to show the result of it too.

![screen shot 2015-12-11 at 10 25 28 pm](https://cloud.githubusercontent.com/assets/637225/11759

[2015-12-12 01:44] aroth commented on #4730
@imton, I think you meant #4720.

Regarding the memory leak:

*dev = true*
* release: leak
* debug: leak

*dev = false*
* release: no leak
* debug: no leak

I noticed this on a 0.14 to 0.16 upgrade last week. This evening I took a closer look with a fresh 0.16 project to confirm. Any ideas higher up? I'll see if I can profile further.

[2015-12-12 01:46] ide commented on #4709
^ cc @arasmussen: github login could be good to add for "products" that are actually code projects

[2015-12-12 01:50] skevy commented on #4730
If I'm not mistaken, I don't think we really care too much (at least right now) about any potential leaks on dev...that's kind of expected, given the fact that absolutely no performance optimizations are put into dev mode (on purpose, to allow for easy debugging).

So if there's no leak in production mode, I think we're good here.

Feel free to let me know if you feel differently.

[2015-12-12 01:51] golorry opened #4736 "BackAndroid removeEventListener not removing listener"
My code snipped is as below. The issue is that if I put the code below in multiple pages (n pages), the navigator will pop n times when the back button is clicked. I am not sure if this the remove listener function issue or it's meant to this this way. I will need to handle a back button action in one page specifically so would need to insert the listener to that page. Thanks a lot!

I am using RN

[2015-12-12 02:01] jadsonlourenco commented on #4730
For me on 0.16:

debug = leak;
release = no leak;

[2015-12-12 02:09] vjeux commented on #4720
I like having code example at the top, shows that it's for developers :)

[2015-12-12 02:14] imton commented on #4730
I forked master, fixed a couple of things (package version) an leaks are  gone on dev too

[2015-12-12 02:21] aroth commented on #4730
@imton -- What did you change? I'd like to take a look.

![](http://i.imgur.com/fY2HM1n.png)

[2015-12-12 02:25] imton commented on #4730
@aroth use master, not .16

[2015-12-12 02:37] skevy commented on #4735
@DougBanksPersonal thanks for the report!

I'm not sure exactly what the issue is, and this MAY be something that's better for Stack Overflow...but I'm curious if you set some breakpoints in this file: https://github.com/facebook/react-native/blob/master/React/Modules/RCTDevMenu.m, specifically, https://github.com/facebook/react-native/blob/master/React/Modules/RCTDevMenu.m#L211, if these things a

[2015-12-12 02:40] skevy commented on #4717
@DougBanksPersonal thanks for reporting.

Docs are definitely something that need work across RN, and I appreciate you being so detailed in your issue.

After some debugging, where did you end up? I saw on #4735 that you may have gotten somewhere...would you be willing to put those learnings in a PR that could get merged into the docs? I'd be happy to help review!

[2015-12-12 02:47] skevy commented on #4711
It seems like we're gonna go towards releasing this outside of core, which I also +1.

Closing, but feel free to continue discussion!

[2015-12-12 02:47] #4711 closed

[2015-12-12 02:53] skevy commented on #4723
Honestly, I'm unsure why you'd _want_ to do this...keeping up with the latest version of RN as much as possible is definitely the recommended approach, given the fact that it changes as fast as it does. If you get even 3 versions behind (which can happen in just 6 weeks, if you're going by stable branches), you run the risk of having a large number of breaking changes when you upgrade.

If you hav

[2015-12-12 02:53] #4723 closed

[2015-12-12 02:56] skevy commented on #4690
@fov42550564 can you confirm that you fixed your original issue by following instructions in this thread?

I was just able to generate a new project using the CLI using RN master...can you provide more instructions to reproduce?

[2015-12-12 03:02] skevy commented on #4676
@atom992 @DanielHoffmann I actually just ran into this issue on iOS 8. I personally just used the babel-polyfill (http://babeljs.io/docs/usage/polyfill/) to fix it...there are other Symbol polyfills that may be smaller (since babel-polyfill polyfills lots of things). Use at your discretion and let us know if it fixes it!

[2015-12-12 03:05] skevy commented on #4672
@dsibiski that link doesn't work anymore...any idea where it went?

[2015-12-12 03:08] skevy commented on #4683
Hi everyone -

For the sake of keeping the issue tracker easier to manage, I'm going to say this is definitely an issue for Stack Overflow, especially given the fact that font handling in React Native defers down to the operating system.

In light of this, I'm going to close this issue. Feel free to still discuss, and if you find a specific issue that's React Native related, feel free to reopen/fi

[2015-12-12 03:08] #4683 closed

[2015-12-12 03:09] skevy commented on #4665
Hi @manojHM, can you provide more information here? I'm not sure exactly what you mean.

[2015-12-12 03:15] aroth commented on #4730
0.17.0-rc is still leaking, although at a much slower rate than 0.16. it's certainly in a better spot. as @skevy states, this may not be so critical at the moment. I tested 0.12 and the chart was very similar. 0.16 was the outlier.

![screen shot 2015-12-11 at 10 10 14 pm](https://cloud.githubusercontent.com/assets/542/11759900/0ae2b5d6-a054-11e5-95c2-5a7afc66b2f0.png)

[2015-12-12 03:23] skevy commented on #4664
@gs-akhan you're right, but currently React Native is not stable software. Things move extremely quickly, and there is only a guarantee of relative stability. The team has chosen this approach over keeping things stable, at the moment, because it allows React Native (as a new and up-and-coming framework) to iterate more quickly. This approach is the reason why Android support is out (and close to

[2015-12-12 03:23] skevy commented on #4664
@tbruceyu it seems like the top of your error got cut off. It looks like it might be some type of packager error. Would you be able to provide more information here?

Thanks.

[2015-12-12 03:30] skevy commented on #4730
@all - I guess what I'm trying to get at is an actionable issue here.

Do you, as community members, consider it a blocking (or even major) issue for the dev version of your React Native apps (that run in the simulator and on computers that probably have 16GB of RAM) to be leaking memory? If so, and even if I may disagree, let's start investigating _what_ may be causing the memory leak.

If this i

[2015-12-12 03:35] skevy commented on #4657
@justinmakaila In lieu of trying to make the issue tracker easier to manage, questions like this should probably go to StackOverflow (as the friendly Github bot up top explains).

If you determine that an issue in RN core is causing any issue that your seeing, or if you feel like there's places we can improve the documentation on embedding RN in existing iOS apps, please feel free to comment here

[2015-12-12 03:35] #4657 closed

[2015-12-12 03:36] skevy commented on #4657
Also, if you post on StackOverflow, feel free to comment here with a link to the post.

[2015-12-12 03:40] aroth commented on #4730
+1 to close.

[2015-12-12 03:40] skevy commented on #4656
@BenjaminConant are you working on iOS or Android?

This functionality is specific to each platform...this is one of those things that, if you have the bandwidth, may be better discussed in a PR. There has to be some thought given to both the external API of MapView as well as the internal implementations. There are many features of Maps that are not implemented currently (such as more robust anno

[2015-12-12 03:47] imton commented on #4730
Well my app on .16 was getting to 3Gb of ram in 1 minute on simulator, so sure it is important to fix. On the other hand, I don't know If I am up to the challenge :s Maybe master is leaking too, I can confirm is way better, but can't for sure say if in my case it was solved 100% or not.

[2015-12-12 03:53] skevy commented on #4730
@imton I won't exclude the possibility that there was some kind of memory leak regression on .16 - perhaps theres something to be said for having some type of suite of acceptance tests for perf before release (though, that's a huge amount of work).

If the leak is small enough on master to not be a detriment to the development process, then I think that's satisfactory at the moment.

[2015-12-12 04:33] #3135 closed

[2015-12-12 04:49] rclai commented on #4730
The leak rate is way too high to justify leaving it as is. I would appreciate an appropriate fix.

[2015-12-12 06:01] ide commented on #4730
@rclai are you on 0.17-rc? as mentioned above, the leak rate is not that high.

[2015-12-12 06:23] sghiassy commented on #4730
Looks like I forget to set the scheme to `release`. In doing so, I can confirm that the memory leak disappears.. yay!

I think the fact that it doesn't happen on `release` builds certainly takes the problem down from a red issue to yellow. But I also can't advocate simply living with a memory leak of this size.

[2015-12-12 06:24] sghiassy commented on #4730
Glad to see `0.17-rc` reduces the memory-leak rate

[2015-12-12 06:42] yerenyo commented on #4042
+1
use react-native@0.16.0-rc

[2015-12-12 07:34] qbig commented on #2676
Sorry ..@ide I was totally wrong. It seems that it has nothing to do with the native cpp code.
in DevSupportManager.java
[code]

[2015-12-12 07:41] qbig commented on #2676
https://developer.apple.com/library/tvos/documentation/JavaScriptCore/Reference/JSBase_header_reference/index.html#//apple_ref/c/func/JSEvaluateScript

<img width="744" alt="screen shot 2015-12-12 at 3 35 01 pm" src="https://cloud.githubusercontent.com/assets/5563225/11760828/f8c2f950-a0e5-11e5-8a39-9f9ce210a75a.png">

The redbox is because I attempted to passing null as **cachedFileLocation**, wh

[2015-12-12 07:45] imton commented on #4720
some minor fixes and some ideas popping up, feedback? ideas?

![screen shot 2015-12-12 at 4 44 04 am](https://cloud.githubusercontent.com/assets/637225/11760855/19d88606-a08b-11e5-8fad-0dcf4e8b3fb9.png)

![screen shot 2015-12-12 at 4 44 13 am](https://cloud.githubusercontent.com/assets/637225/11760854/19d483ee-a08b-11e5-9172-f020e119b9c7.png)

[2015-12-12 07:56] qbig opened #4739 "[Android][Redbox Message] Misleading redbox message when starting app for the first time without packager running."
<img width="828" alt="screen shot 2015-12-12 at 3 52 12 pm" src="https://cloud.githubusercontent.com/assets/5563225/11760893/823f22c4-a0e8-11e5-9bd3-54d59c87cd65.png">

The first time you run(accidentally) RN app without the packager running, the redbox would show the above message. Only after clicking 'reload' the info **below** would be shown, which is a lot more helpful?

<img width="822" alt="

[2015-12-12 07:59] qbig commented on #4739
[code]

if **reload** is clicked,
[code]
would get executed and show the correct the redbox info.

Seems this is the problem ?
[code]
@mkonicek

[2015-12-12 08:06] chenjun1011 opened #4740 "[Navigator Performance] Memory is not released after scene popped in Navigator"
I have a large list rendered in Navigator, but when I popped the scene, memory was not released.

The memory usage in Instruments was like this.

![image](https://cloud.githubusercontent.com/assets/1303018/11760902/c1438cf8-a0e8-11e5-83ed-70379fe81a20.png)

But if I destroy the list  without Navigator,  memory usage would drop quickly as the following picture show:

![image](https://cloud.githubus

[2015-12-12 08:11] noscripter commented on #4740
+1

[2015-12-12 08:11] ide commented on #4720
Some thoughts:
 - teal hero would look better without the top padding so that the code sample touches the bottom of the nav bar
 - the grid of components is hard to read compared to a list. i'm not sure the components should go on the home page, as opposed to the docs section.
 - where a grid could be good is if we had screenshots of the components so that someone sees one and says, "yes! i want a

[2015-12-12 08:13] yuanyan commented on #4740
Memory is big problem.

[2015-12-12 08:26] super2457 opened #4741 "android error ： Unable to upload some APKs"
![qq 20151212162122](https://cloud.githubusercontent.com/assets/9149356/11761008/f3bef36c-a0ec-11e5-9c3b-52a4ed22c037.png)
![qq 20151212162135](https://cloud.githubusercontent.com/assets/9149356/11761013/046b9b7a-a0ed-11e5-8268-8b915a07ba59.png)

Thank you！

[2015-12-12 09:01] #4741 closed

[2015-12-12 09:43] lamberta commented on #4034
I ran into this issue and I'm not running nvm:
[code]
The `react-native-xcode.sh` script is run as `$USER` but it's not getting my environment `$PATH`. (I use the prefix config option in `.npmrc`)
Here's the `$PATH` var within `react-native-xcode.sh`:
[code]

[2015-12-12 09:46] theoriginalgri commented on #4736
```BackAndroid::removeEventListener``` internally uses ```delete()``` on the subscription which does not exist, ```remove()``` would be the correct function.

See https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/Libraries/Utilities/BackAndroid.android.js#L71

[2015-12-12 09:52] ippa commented on #4720
Nice work! I really like code-examples, right away webppl see what little (familiar) code can give them native performance.

Suggestions, how about either:
- Making the example not tied to iOS + a comment "this compiles to native ios and android"
- Having tabs on top of the examplebox "index.android.js", "index.ios.js" which shows off specific platform features. Bonus idea: detect osx/ios and show

[2015-12-12 09:58] ippa commented on #4740
+1, I think I've experienced this as well (android, devmode & debug off) when transitioning between two Navigator scenes (one is a small list) are slow but getting slower and finally grinds to a halt.

[2015-12-12 10:05] ippa commented on #4739
Also, why not spell it out to new users "Please run 'react-native start' in the root of your project and make sure your device is connected"?

Maybe even mention "adb reverse tcp:8081 tcp:8081" if android is detected.. not sure about this one.

[2015-12-12 12:07] dsibiski commented on #4672
@skevy Hmm, I don't know...weird, it's just gone. Well, I created it again here: https://productpains.com/post/react-native/packager-whole-program-optimisations-taking-forever-on-live-reload/

[2015-12-12 13:02] jadsonlourenco commented on #4730
I can confirm, on 0.17.0-rc fix the leak!

[2015-12-12 13:59] iamdustan commented on #4720
All I was for Christmas is React and friends docs formatted for my mobile device.

🎄

[2015-12-12 14:12] imton commented on #4720
@iamdustan we will get there, eventually :)

[2015-12-12 15:25] gs-akhan opened #4746 "[Android] setTimoute inside componentDidMount never fires."
I am registering a setTimeout inside componentDidMount for several Components . What I observe is , componentDidMount does gets executed. but the setTimeout callbacks never.
[code]
Node Version 4.1.1
ReactNative : 0.16

Thanks.

[2015-12-12 15:42] guangwong commented on #4740
+1

[2015-12-12 15:44] benzhe opened #4747 "[Android] Touchable problem in AppCompatActivity with ActionBar"
Recently I changed MainActivity extends Activity to AppCompatActivity. It seems touch events are not compatible with AppCompatActivity with an native action bar (ToolBar).

The `pageY` from touch events does not relative to the screen but ReactRootView, that cause touchable components in my page can not trigger `onPress` event correctly in some scene. This could always be reproduced in real device

[2015-12-12 16:18] antigirl opened #4748 "Navigator stack difficulties"
I'm trying to achieve a well used UX pattern where user can divert off the main-route to a bunch of temporary routes. Like in Spotify and Instagram, where you click on a user/band and keep pushing these 'temp' scenes and then press back all the way to the main-route [to the point where you diverted off].

![alt text](http://i.stack.imgur.com/7g4DQ.gif, 'screenshot')

Consider my 3 routes
[code]
an

[2015-12-12 17:11] #3371 closed

[2015-12-12 17:26] rclai commented on #4730
Oh I haven't tried 0.17.0 rc. I trust it's fixed if others so :).

[2015-12-12 17:57] gaearon commented on #4674
Just released `redux@3.0.5` that doesn't ship `.babelrc`.

[2015-12-12 17:59] christopherdro commented on #4674
Nice @gaearon.

@anshul @pr1ntr Can you guys confirm that this working now so we can close the issue?

Thanks!

[2015-12-12 18:19] gaearon commented on #4674
I also released `react-redux@3.1.1` (3.x is what RN users use for now) without `.babelrc`.

[2015-12-12 19:19] imton commented on #1597
+1111

[2015-12-12 21:31] Andrewpk commented on #3999
@ahanriat 👍

[2015-12-12 22:02] ehd commented on #4711
@dsibiski That's awesome to hear!

@janmonschke @tchakabam If it's possible and not too counter-intuitive to mimic the WebAudio API I'd really like to do that. Sounds like GStreamer/GstPlayer could be a good shoot at implementing it.

react-native-web-audio, anyone? :wink:

[2015-12-12 22:35] steveleec commented on #282
I have a similar issue.
[code]
Any suggestion?

[2015-12-12 22:38] browniefed commented on #4244
So I ended up just bringing in `CSSProperty`, `CSSPropertyOperations`, and `dangerousStyleValue` into the polyfills folder so we can take advantage of React code already written.
Bumped `fbjs` dep as well.

Then just doing

[code]

Seems to work with minimal code changes. But obviously it's still using `13.3` and not `.14` so we need to call `getDOMNode`, should update all that.

[2015-12-12 22:40] dsibiski commented on #4711
@ehd, I agree that we should try and mimic the WebAudio API and that GStreamer or GstPlayer look to both be great choices for the implementation. I'm not sure about react-native-web-audio though, the word "web" seems to be a little confusing, plus I think trying to mimic web APIs in RN is the norm.

I know react-native-audio (the most obvious name) is taken, but maybe @jsierles would like to join

[2015-12-12 23:14] christopherdro commented on #4711
I agree with @dsibiski to develop upon a pre existing library. React Native is still pretty young and it would be great to contribute to available projects instead of building out a separate ones.

This would eliminate having tons of modules that all do different thing and make the project more active and regularly maintained.

[2015-12-13 00:14] lalith26 commented on #4616
+1

[2015-12-13 00:18] skevy commented on #4649
@nejoudahmad thanks for your report.

If you could, please ask this question on Stack Overflow. We're trying to keep the issue tracker on RN easier to maintain.

Closing for now, but feel free to reopen if you find a bug.

[2015-12-13 00:18] #4649 closed

[2015-12-13 00:20] skevy commented on #4645
Hi @migeorge -

Personally, I'm not all that familiar with Nodenv, but if it helps newcomers to RN get started easier, I think we'd definitely accept a PR.

Feel free to submit and link it here.

[2015-12-13 00:25] skevy commented on #4632
@DanielHoffmann for the sake of making the RN issue tracker easier to maintain, I'm going to suggest that you open up a StackOverflow issue and close this.

If you find that there actually is a bug in RN surrounding this, feel free to ping here and we'll reopen.

[2015-12-13 00:25] #4632 closed

[2015-12-13 00:27] skevy commented on #4594
Given the fact that this is a fetch bug, not an RN one, I'm going to close this issue.

Thanks!

[2015-12-13 00:27] #4594 closed

[2015-12-13 00:30] skevy commented on #4587
This is almost certainly a lack of a Symbol polyfill in JavaScriptCore. I've personally used the babel-polyfill (http://babeljs.io/docs/usage/polyfill/) to fix it...there are other Symbol polyfills that may be smaller (since babel-polyfill polyfills lots of things). Use at your discretion and let us know if it fixes it!

Closing for now as it's related to a specific use case.

[2015-12-13 00:30] #4587 closed

[2015-12-13 00:33] skevy commented on #4577
@idibidiart I am also familiar with the issue that the projects .babelrc doesn't seem to be respected correctly. Rather than continuing on on this issue, could you open another issue about that problem specifically?

Re: decorators...babel-transform-decorators-legacy is a good solution for now, plus, it's logged in breaking-changes.md (https://github.com/facebook/react-native/blob/master/breaking-

[2015-12-13 00:34] skevy commented on #4580
Hi @adamski - could you open up an issue on the watchman repo about this and consider closing this one? Thanks.

[2015-12-13 00:35] skevy commented on #4578
@gamedilong are you still encountering this issue? If not, please consider closing it - we're trying to keep the issue tracker easier to maintain.

[2015-12-13 00:36] gangstaJS opened #4750 "[Android] Insert local image don't work"
Insert local image don't work.
react-native 0.16.0
[code]

Result http://take.ms/6gLcB

[2015-12-13 00:36] skevy commented on #4571
Closing for now, but @myusuf3 feel free to link to your stack overflow post here to make it easier for people to find if they come searching for your problem on this issue tracker!

[2015-12-13 00:36] #4571 closed

[2015-12-13 00:38] skevy commented on #4560
@vinu123 if your issue is fixed, please consider closing this to help us keep the issue tracker clean! :)

[2015-12-13 00:41] uoroaix opened #4751 "Cannot read property 'getScrollResponder' of undefined"
Hi I am trying to make the view scroll on input focus. But every time I click into the inputs i get this error.
I put a debugger before calling
[code]
and found that this.refs is just an empty {}
Does anyone know why the refs are empty?
Here is my Codes

[code]

[2015-12-13 00:58] ajwhite commented on #4594
Sounds good. A heads up that they are not looking to address it.

[2015-12-13 01:16] gangstaJS commented on #4750
found solution https://github.com/facebook/react-native/issues/4010#issuecomment-155334530

[2015-12-13 01:16] #4750 closed

[2015-12-13 02:47] brentvatne commented on #681
cc @tadeuzagallo ^

[2015-12-13 02:50] brentvatne commented on #3472
Thanks for sharing @DougBanksPersonal! :+1:

[2015-12-13 03:15] brentvatne commented on #3760
Sorry I just saw this -- I believe the reason why I did this is very silly, you guessed it @sebmarkbage.

I didn't realize at the time that I should have used the style key for style props:  `setNativeProps({style: {transform: [...etc]}})`.

This is probably because `setNativeProps` let me get away with directly passing in style properties like `setNativeProps({left: 5})` for everything except `tr

[2015-12-13 03:15] #3760 closed

[2015-12-13 06:35] qbig commented on #4751
http://facebook.github.io/react/docs/more-about-refs.html    try using callback?

[2015-12-13 07:11] SunLn commented on #3948
I have soloved this problem by this answer.
http://stackoverflow.com/a/29211118

[2015-12-13 07:12] skevy commented on #4594
Fwiw, axios (https://github.com/mzabriskie/axios) is a non-fetch-based http client that works on react native. Maybe give that a try?

[2015-12-13 07:26] klvs commented on #4648
Was this a result of code written by you (in your app) or from using a 3rd party library (parse, twilio, loopback, etc.)? Just curious. I'm working on a fix, but if it's not 3rd party code you could always use the fetch api in the meantime.

[2015-12-13 08:07] ide commented on #4751
Using callback refs is a good answer. String refs are discouraged and less clear.

If you need more help solving this please ask on Stack Overflow. This GitHub repository is for bug reports.

[2015-12-13 08:07] #4751 closed

[2015-12-13 08:26] akshaysmurthy commented on #29
Definitely need it for `<TextInput />`

[2015-12-13 08:48] yasicmd commented on #3912
set
<ListView
                        showsVerticalScrollIndicator={false}
/>

[2015-12-13 09:24] olivierlesnicki commented on #4289
I'm having the same issue with latets react-native, i think this one should be re-opened

[2015-12-13 09:31] olivierlesnicki commented on #4289
Running `rm -rf $TMPDIR/react-*` did the trick which shows it's a react-native issue and should be fixed accordingly. On a previous app I had accidently submitted an old version of my app because of that.

[2015-12-13 09:41] ehd commented on #4711
@dsibiski @christopherdro Sounds good! Hey, @jsierles, what were your plans for the future of the API 😁

[2015-12-13 10:24] theoriginalgri opened #4753 "[Android] measure always returns 0 for x and y"
I wrote a small example here: https://gist.github.com/theoriginalgri/e0b2c50a6232ed4ff3c6

There are three colored areas, each has the views height. The green one in the middle is clickable and logs its measure() results to the console. Also the green one has a Text element with marginTop=100, which means it should always return y=100. Unfortunately all x and y values are always 0 on android. On i

[2015-12-13 10:27] olivierlesnicki opened #4754 "Can't leverage npm scripts to run react-native commands"
I have a script defined in my package json that includes a react-native command.
Running it fails and yields the following output:

[code]

Running the proposed commands doesn't solve the issue though.

[2015-12-13 11:59] adamski commented on #4580
OK no probs, done.

[2015-12-13 11:59] #4580 closed

[2015-12-13 12:02] jsierles commented on #4711
Hey! I have no specific plans for react-native-audio, but some people have contributed to it. I have no time to work on it, and am not using it myself, but it would be cool to make it more feature complete!

[2015-12-13 12:13] mroswald commented on #4754
do have have react-native installed globally as the message said? it's not necessary to install it globally. instead install react-native-cli using -g

[2015-12-13 12:29] shahankit opened #4755 "Expose component functions not working"
I read [this](https://facebook.github.io/react/tips/expose-component-functions.html) documentation for React and tried similar for React Native. I basically have a ScrollView with many views. I tried storing refs to them using the following code:
[code]

Card is a separate component which has testMethod defined:
[code]
still on ref.testMethod() I get error stating ref.testMethod is undefined. How

[2015-12-13 12:37] mkonicek commented on #4709
Actually, a lot (probably >50%) of the issues are **questions** (like "How to render a static image?") that should go to Stack Overflow.

The message says:

...

If we could automatically and reliably identify questions, it would be cool to tailor the message based on that. I have something in the works, it's not perfect yet but want to give it a try. Then, knowing the issue is very likely a featu

[2015-12-13 12:46] super2457 opened #4756 "[Android] Unable to upload APKS"
Android system version：5.11
pc system：window7
DOS instruction：react-native run-android
error：
![1450009022820-1449886131239-qq 20151212100825](https://cloud.githubusercontent.com/assets/9149356/11767034/a7b0b962-a1da-11e5-9c89-e6752338a474.png)

![1450009022818-1449886138620-qq 20151212100838](https://cloud.githubusercontent.com/assets/9149356/11767026/3324ec30-a1da-11e5-9080-def6aeebdc26.png)
My

[2015-12-13 13:25] #4755 closed

[2015-12-13 13:26] shahankit commented on #4755
Problem with my code checked in sample app.

[2015-12-13 13:47] ajwhite commented on #4594
Thanks for the link. I'm fine with fetch, it's just unfortunate there's a method that is commonly used this day that won't be added to their spec. Oh well.

[2015-12-13 13:52] olivierlesnicki commented on #4754
I actually don't! And before posting the issue I've actually attempted to uninstall `react-native` globally. But npm couldn't find it anyway.

[2015-12-13 14:00] golorry commented on #4736
I think I figured out the reason. I was using adding the listener to the drawer framework I use in every screen and I also added a listener to one of the children in the screen as well, so the listeners are added twice. It goes back to normal after I removed the drawer listeners.

[2015-12-13 14:00] #4736 closed

[2015-12-13 14:09] idibidiart commented on #4577
@skevy will do! thx

[2015-12-13 14:16] mkonicek commented on #4709
I've just tweaked the bot message a bit: https://github.com/facebook/react-native/blob/master/bots/NewIssueGreeting.md

[2015-12-13 14:18] mkonicek commented on #4706
Duplicate of https://github.com/facebook/android-jsc/issues/10, let's discuss there as it looks related to the JSC binary.

[2015-12-13 14:20] git-lt opened #4757 "In Xcode7.2 , has failed :("
all proj run in Xcode7.2 is failed;
img show like this:
http://i4.tietuku.com/627513ed7ceba0ed.jpg

[2015-12-13 14:31] mkonicek commented on #4488
No problem. Glad it worked! Closing.

[2015-12-13 14:31] #4488 closed

[2015-12-13 14:46] Grart opened #4758 "components style bug"
[code]

on function _handlePanResponderMove
[code]
 can't apply style left&top

but,that can appy
[code]

react 0.14.0 winx64

[2015-12-13 14:53] cbrevik opened #4759 "[Android] Issue using resizeMode style on <Image />, RN 0.16"
I keep getting two similar warnings on Android;
[code]
And almost the same message, but with `supplied to RCTView` instead of `View`, and `Check the render method of View` instead of `Image`.

The only thing in my app I can see this corresponding to is the following;
[code]

with this style;
[code]

The style not being applied correctly on Android, the image is not displayed as it should. This wor

[2015-12-13 15:11] thngdude commented on #1093
Is there a recommended tool to use for obfuscation of react native javascript code? Can I use something like Uglify?

[2015-12-13 15:24] jaygarcia commented on #4709
Thanks @mkonicek.  That new message is better!

As far as a bug tracking tool,  ( i know that I put my thoughts out on Discord days after PP was chosen) this wheel has been invented 23908472039874291874 times already.   Why not just choose something that's already widely used and supported by large OSS projects?

Usage of PP is a huge mistake.

[2015-12-13 15:38] satya164 commented on #4709
@mkonicek We should also ask to specify the platform. Many users don't specify the platform while reporting bugs.

[2015-12-13 16:07] christopherdro commented on #4757
@git-lt Did this work in a previous version of Xcode. I don't see how that could be the issue though.

Can you double check that `test` is the same value used in `registerComponent` ?

[2015-12-13 16:23] git-lt commented on #4757
react-natve  Version : 0.1.7
xcode Version:  7.2 (7C68)
@christopherdro
Just happen at that Upgrade Xcode to 7.2
new proj create like this:
react-native init test

index.ios.js
[code]

[2015-12-13 16:25] Sh3rawi commented on #4016
+1

[2015-12-13 16:29] joshbedo opened #4760 "fetch data before rendering navigator"
I'm currently trying to find a way to check if a user session exists on the backend before rendering the navigator scene but can't seem to delay render until the fetch is complete. Wondering if anyone has solved this already.

Here is the code
[code]

[2015-12-13 16:30] anderdb commented on #3980
My pull request has been accepted and merged into master.

[2015-12-13 16:31] theaqua commented on #4757
I has same problem, it was because I have cache from another project with different name and XCode use it's `main.jsbundle` (https://github.com/facebook/react-native/issues/4289).

I kill all processes, delete everything in TMPDIR and then start my build with `--resetCache true`

[2015-12-13 16:33] jaysoo commented on #4674
@christopherdro @anshul @pr1ntr Can confirm that this fixes it for redux. Might be other node modules that have same problem, but bug should be filed on their repo.

[2015-12-13 16:38] satya164 commented on #4756
Hey @super2457

It's most likely a bug with gradle rather than React Native. You can try changing your build tools version to see if it fixes your issue.

[2015-12-13 16:40] Sh3rawi commented on #4760
Add a 'ready' key to the getInitialState with false value, and as long as its false, render a waiting view or whatever, and then when the data is fetched from the backend, change this state key to true and render the navigator.
render() {
if (!this.state.ready) {
  return (<View> {some waiting login} </View>);
} else {
  // here you already have the data to know if he has a session
  return (

[2015-12-13 16:43] satya164 commented on #4760
You can return `null` from the render function until the data fetching is complete, or maybe a loading spinner.

[code]

[2015-12-13 16:45] satya164 commented on #4760
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-12-13 16:45] #4760 closed

[2015-12-13 16:47] satya164 commented on #4754
Duplicate of #4515

[2015-12-13 16:47] #4754 closed

[2015-12-13 16:56] git-lt commented on #4757
Running rm -rf $TMPDIR/react-*, now is working!  Thks!!!!!!!

[2015-12-13 16:56] #4757 closed

[2015-12-13 17:31] udnisap commented on #3459
I have a rough version at  #3459 which I committed while back.
I does what you asked. Sorry I didnt follow the thread for a while.

[2015-12-13 18:42] LeoFidjeland commented on #1924
hours_spent_here += 2;

[2015-12-13 19:22] satya164 commented on #4674
Closing this for now. Let's reopen if issue persists.

[2015-12-13 19:22] #4674 closed

[2015-12-13 19:29] satya164 commented on #4671
This most probably means that the JS bundle didn't get included. Did you upgrade from a previous version?

[2015-12-13 19:38] shahankit commented on #1014
Setting gestures to {} sometimes gave me error when using a scroll view in pushed view. I used the following and it solved all issues `sceneConfig.gestures.pop.edgeHitWidth = 0;`

[2015-12-13 20:01] burgalon commented on #2585
This is related to https://github.com/facebook/react-native/issues/4142
Consider trying to just import 'core-js' and you should get unhandled promise rejection reporting

[2015-12-13 20:05] ms88privat commented on #4759
@cbrevik did you try to set the resizeMode directly on the Image? `<Image resizeMode="cover" .../>`

[2015-12-13 20:09] ms88privat commented on #4758
@Grart You did not set any state at all? Try `this.setState({left: ..., right: ...})`  on `_handlePanResponderMove` and `this.state = {left: ...., right: ...}` on `componentWillMount`

[2015-12-13 20:20] satya164 commented on #4381
@rclai Ca you try the 0.17-rc and see if it's fixed?

[2015-12-13 20:38] cbrevik commented on #4759
@ms88privat that works, thanks! Still, it should be possible to apply it through styles, shouldn't it?

[2015-12-13 20:56] pixelgamma commented on #4381
I have the same issue with react-native 0.17.

[2015-12-13 21:48] ide commented on #4759
resizeMode is not a style: https://facebook.github.io/react-native/docs/image.html#props. The fact this works on iOS is because it's lenient but is unsupported behavior.

[2015-12-13 21:48] #4759 closed

[2015-12-13 21:56] tomsdev commented on #3360
It seems you are satisfied with using ids, if so could you close the issue?

[2015-12-13 22:17] ajwhite opened #4761 "Gradual memory leak with fetch (iOS only)"
I noticed my application, which relies on periodic polling, has a memory footprint that grows consitently over time. I've vetted it for any global leaks and decided to scale down the scenario with a new project that runs a single `fetch` on an interval and observed the same behavior in steady growth. Android remained flat with no growth after releasing resources.

_Note: this is in release mode, `

[2015-12-14 02:33] Grart commented on #4758
@facebook-github-bot
OK,thanks ,I Just tell you has a bug :)

[2015-12-14 04:11] jeffcressman commented on #4296
I've been having similar issues with path lookups for npm modules having `/Users/node_modules` prepended to a relative path name, e.g. `var thing = require('./my-module')` instead of using `__dir` to construct a full path.

To explore this further I just created a test React Native app and when I launched it in XCode the packager was trying to look up modules in the previous project I had been wor

[2015-12-14 04:27] atlas1119 opened #4763 "NavigationBar Title shake(the current react native is 0.15.0)"
hi,
I use Navigator.NavigationBar , when i push a new route ,and animation title ending , the center title appear shake. Why?
![qqq](https://cloud.githubusercontent.com/assets/9478646/11772944/f75b012e-a25d-11e5-851b-0e387266dd32.png)

[2015-12-14 04:27] niftylettuce commented on #1501
+1

[2015-12-14 04:44] fov42550564 commented on #4690
I found the problem, In my root dir: cd ~, there is a file .babelrc, delete it will work well.
thank oney

[2015-12-14 04:44] #4690 closed

[2015-12-14 05:06] skevy commented on #4296
@jeffcressman thanks for the correction! Updated the comment. :)

I'm gonna close this particular issue, as it seems that it is directly related to watchman and packager caches...but @jeffcressman please feel free to open another when you get a sample app put together (and tag me on it!) :)

[2015-12-14 05:06] #4296 closed

[2015-12-14 05:34] ender672 commented on #4730
I believe the leak is due to repeated websocket connection errors on localhost:8097.

This commit seems to be related:
https://github.com/facebook/react-native/commit/9a93a3cba47722a590a8912a5ace1c479eb4178a

If this was fixed in 0.17, could something be backported to 0.16? The leak makes testing dev builds on device very difficult.

[2015-12-14 06:02] wisetwo commented on #4578
try to install with this command: "npm install --no-shrinkwrap"
you can refer this issue: https://github.com/facebook/react-native/issues/4138

[2015-12-14 06:15] imton commented on #4730
I don't think it is fully solved, more over, I can't seem to get debug on
chrome work :(

Best,

Gaston
+59898704249

On Mon, Dec 14, 2015 at 2:35 AM, Timothy Elliott <notifications@github.com>
wrote:

[2015-12-14 07:22] tehong commented on #282
Same for me.  Using concatenated string or string variable doesn't work for me either in the "require()".  This makes my program more complex and I often needs to use variables for my images.   Now I have to do a switch() and hard code my string in the require().

[2015-12-14 07:52] aksonov opened #4767 "Different NavigatorBar for landscape mode?"
Native iOS Navigator for landscape mode has smaller height and hidden status bar, is it possible to achieve the same with RN NavigatorBar?

[2015-12-14 08:00] theoriginalgri commented on #4746
I cannot reproduce this with RN master.

[code]

[code]

[2015-12-14 08:06] atlas1119 commented on #4763
fix bugs！

[2015-12-14 08:06] #4763 closed

[2015-12-14 08:08] theoriginalgri commented on #4710
It looks like your ```(void)setTest:(NSString *)test { self.test = test; }```creates an infinite loop that results in a stack overflow.

A working solution might be:
[code]

[2015-12-14 08:10] kmagiera commented on #4706
it's not related to facebook/android-jsc#10, I think @yipengmu mistaken JSC for JSR. Let's instead discuss it here.

@yiminghe So it looks like there is a conflict with `@Nullable` class being provided twice. The question is what kind of additional dependencies you're adding to your project that may cause that conflict.

Worst case you can update your gradle file to exclude dependency on "JSR" in

[2015-12-14 08:30] #3360 closed

[2015-12-14 08:32] gs-akhan commented on #4746
@theoriginalgri Register multiple and I am facing this on Android only.. However I will try to setup a example.

[2015-12-14 08:34] Sunify commented on #2945
Have same error with 0.15.0 and 0.16.0

[2015-12-14 08:53] cosmith commented on #4047
It should work on Android (https://github.com/facebook/react-native/blob/0.16-stable/Libraries/Network/NetInfo.js) did you add all the permissions to your Manifest?

[2015-12-14 09:32] demiurga opened #4768 "[Image] Can't load image from app home dir"
Same problem with #2551, using RN-0.14. Error like that:

The RCTImageURLLoaders \<RCTAssetsLibraryImageLoader: 0x3ba97250\> and \<RCTPhotoLibraryImageLoader: 0x3ba1b630\> both reported that they can load the URL ~/Documents/imageName.png, and have equal priority (0). This could result in non-deterministic behavior.

I tried both `source={{uri: '~/Documents/imageName.png'}}` and `source={{uri: '/U

[2015-12-14 09:36] Sunify commented on #2945
My fault, i am use react-redux instead of react-redux/native

[2015-12-14 09:47] Ehesp commented on #4768
Have you tried going backwards down the directories to see if that works?

`source={{uri: '../../../..//imageName.png'}}`

[2015-12-14 10:09] bobylito commented on #4648
Thanks @klvs :) I'm working on fixing a third party library (algoliasearch-client) for React-Native :)

Does `fetch` implement any timeout?

[2015-12-14 11:21] shahankit commented on #1014
@mjw56 @ericvicenti @syousif94 Can you please help, There is a problem with my solution above and other specified don't work well somehow. I want to keep pop gesture for some screen and not for the rest. So for some I set edgeHitWidth to 0 and for the rest 30/150 depending on direction. After I push any component with nonzero edgeHitWidth all the others pushed with zero edgeHitWidth also now have

[2015-12-14 12:01] jadsonlourenco commented on #1501
This commit fix this issue: https://github.com/facebook/react-native/commit/67bf0f1a70aa6efc667a6fe4499ae7c2212332ff

[2015-12-14 12:05] bobmoff commented on #1875
Also got

[code]

but solved it using @norfish solution. thx!

[2015-12-14 13:01] davidaurelio commented on #4711
🦄

[2015-12-14 13:48] tchakabam commented on #4711
OK all, so just one more question:

*Do you really think you need to mimic WebAudio?*

For simple playback cases what you'd want might rather be HTML5 audio.

I think you'd need both, depending on the use-case.

For games and generally real-time scheduling or processing raw audio (music making etc) WebAudio is the weapon of choice (could be done with building things on top of GStreamer framework a

[2015-12-14 14:14] swdevbali commented on #2711
hm, my emulator from genymotion is running, but I also got this error. any suggestion?

[2015-12-14 14:42] Ehesp commented on #3004
+1

Some way to force a component to the front of the "stack" would be even more helpful, since it'd apply to more than just the Dialog spec.

[2015-12-14 14:46] #4290 closed

[2015-12-14 14:54] ajwhite commented on #4761
Wondering if this is something that @nicklockwood might have some thoughts towards

[2015-12-14 15:37] alubling commented on #1693
@Thomas101 - seriously, great job tracking this down.

[2015-12-14 15:59] ajwhite commented on #4761
I've tested this a couple more times.
- With `0.17.0-rc`, which includes the fix for #4538
- Without `fetch` and simply with a `setInterval` that updates the `state`.

Both of these have a gradual rise in memory. Without `fetch`, the increase is much smaller, but it still grows over time. The rise in memory also still exists in `0.17.0-rc` with `dev=false`

[2015-12-14 16:19] alinz commented on #4674
@gaearon This is still happening I think redux itself still uses `.babelrc.stage`. Here's the error I'm getting,

[code]

The workaround for now is to use the following bash script to get rid of all `babelrc` files except react-native's ones in order to get the code working.

[code]

@satya164 this issue needs to be reopened.

[2015-12-14 16:22] mkonicek commented on #4709
@satya164 Feel free to update the message.

[2015-12-14 16:27] mkonicek commented on #4709
@jaygarcia Actually it's only thanks to Product Pains that it's not clear what the highest-pri things to work on are. With github issues, there was no way to sort or filter the issues based on any criteria (e.g. "number of comments") to get this list:
https://productpains.com/product/react-native/?tab=top

Yes, we could use Phabricator or Jira too but Product Pains has been working well so far. Th

[2015-12-14 16:57] ajwhite commented on #4538
I've noticed some similar memory behavior, although not as drastic, over in https://github.com/facebook/react-native/issues/4761. Not sure if it's directly related or not.

Basically, running `react-native init`, and then throwing a `setInterval` when the component mounts that does something to the state every second or so, especially if that interval involves `fetch`, will have a gradual rise in

[2015-12-14 17:20] zcstarr commented on #2985
+1 stoked to see this happen !!

[2015-12-14 17:24] BigPun86 opened #4770 "How can i fix a npm error according to peerinvalid and peerDependencies"
Hey there,

i know this might be a stackoverflow question, but i didn´t have any success yet by getting an answer there.
I have recently updated my React Native project to RN0.16. After several problems i thought downgrading will be easier than fixing all issues and use React Native in my new Project.
Now my problem is that my npm shows me an error as soon as i install anything with it:

![screen

[2015-12-14 17:30] maraujop commented on #3725
As this has been added in 0.16.0 I'm closing this issue

[2015-12-14 17:30] #3725 closed

[2015-12-14 17:48] DougBanksPersonal commented on #4717
For what it's worth, already logged all my learnings here:
http://zeemeeeng.blogspot.com/

I would be happy to help edit your docs, but I don't understand how.

PR = pull request?  From git?
If so, where on git would I find this doc:
https://facebook.github.io/react-native/docs/embedded-app-ios.html#content

Thanks
Doug

On Fri, Dec 11, 2015 at 6:42 PM, Adam Miskiewicz <notifications@github.com>
w

[2015-12-14 18:38] manojHM commented on #4665
I used TouchableNativeFeedback for a View in my code .Onpressing that View i m navigating to the other page.But On press the ripple effect takes  a second or more sometimes to complete and navigate to the next page.I am calling a function on press of the View as shown below.

                  <TouchableNativeFeedback
                   underlayColor='#A3A7AC'
                   onPress={this.prop

[2015-12-14 18:41] mkonicek commented on #2676
@ide What do you want the behavior to be if the packager is not running? Added comments to this PR: https://github.com/facebook/react-native/pull/4738

[2015-12-14 19:41] dkolba commented on #3820
![](https://media.giphy.com/media/QB78LMb32YqoE/giphy.gif)

[2015-12-14 19:45] arasmussen commented on #4709
Hey all, I work on Product Pains full time. I used to work on React Native at Facebook.

I've been hearing great things about PP from the React team at FB so it's a bit startling to see the opposite from the community in this thread.

I'd like to reiterate what @mkonicek has said. I am working full time on the feature requests I receive. Last week that was post statuses. This week it's post search

[2015-12-14 20:03] ide commented on #2676
@mkonicek my desired behavior (during development) is to show a redbox saying that we couldn't download the bundle. This way if the packager is running but your phone can't connect to it (for example, if you are on a different WiFi LAN) there is no chance of loading a cached bundle by accident.

For Facebook's case where not everyone is not programming with RN yet, I think what you want is a custo

[2015-12-14 20:07] ide commented on #4674
The current solution of having every package maintainer (who uses Babel) need to remember to exclude .babelrc is not scalable. We need an option in Babel to say: ignore only the .babelrc files under node_modules.

[2015-12-14 20:48] nicholasalanbrown commented on #4547
+1 for fixing this soon, I get ```Invalid PropTypes``` warnings for both the ```date``` and ```onDateChange``` props event when following the example for ```DatePickerIOS``` directly.

[2015-12-14 20:50] tannewt commented on #4583
The packager was warning me I was still using iojs. Running ```nvm alias default node``` fixed it because my node is 4.1.1.

[2015-12-14 20:54] alinz commented on #4674
@ide agree with your proposal but Babel6 has introduces a lot of api changes. I think  this solution would be good for short time. I believe 3rd party modules need to be updated to be compatible with Babel6 or we end up with a lot of messy compatibility code and hacks.

Do you think putting `.babelrc` in `.npmignore` would be a bad idea? since npm module should be a production code.

[2015-12-14 21:06] ide commented on #4547
Just so we're on the same page -- I believe there are 3 levels of validation:

1. JS validation of the public component, like ScrollView
2. JS validation of the bridged native component, like RCTScrollView (React component)
3. Native validation of the bridged native component, like RCTScrollView (Obj-C class)

and "killing the JS-side type checking" solely refers to step 2. Do I have that right?

[2015-12-14 21:31] dabit3 commented on #4746
@gs-akhan have you looked at https://facebook.github.io/react-native/docs/timers.html#timermixin

[2015-12-14 21:39] ender672 commented on #4730
Pretty sure that the originally reported issue and the issue I am seeing is fixed in 0.17. This issue seems to be a duplicate of https://github.com/facebook/react-native/issues/3953

[2015-12-14 21:41] leovanhaaren opened #4773 "WebView inside ScrollView not working"
I noticed that, on version 0.16.0, putting a WebView inside a ScrollView results in a blank page, no error is thrown. Replacing the ScrollView with a normal View fixes this problem, but gives no way of scrolling through a list with for example a header component and a WebView body. Anyone?

[2015-12-14 21:42] DougBanksPersonal commented on #4735
I have a little progress.

I changed my command line to make sure that I'm cd-ing into the parent
directory of node_module, where I have a package.json file that defines the
'start' task:

NodeModulesParent/package.json:

{

        "name": "doesthismatter",

        "version":"0.0.1",

        "private":true,

        "scripts": {

                   "start": "node_modules/react-native/packager/p

[2015-12-14 21:47] nicklockwood commented on #4547
@ide correct. There's a bug in the native-side error logging at the moment which means you don't find out which prop has been set wrong, so we should probably fix that first before getting rid of the JS-side validation, however native-only properties should only be set in the JS wrapper for the component, so loss of the JS stack trace shouldn't be a big deal.

[2015-12-14 21:52] DougBanksPersonal commented on #4735
I set a bunch of breakpoints all over RCTDevMenu.m.  They never get hit.
Just as a test, I set some breakpoints in RCTRootView.m, those did get hit.

So it looks like RCTDevMenu is never being created.

What, exactly, is supposed to create RCTDevMenu?  I searched thru the code
I have to see where an RCTDevMenu is instantiated and I can't find anything.

Thanks
Doug

On Fri, Dec 11, 2015 at 6:38 PM

[2015-12-14 23:47] DougBanksPersonal commented on #4735
Got it.

Short version: the 'DEBUG' flag was set for the main project, but not for the 'Pods' project that includes React-Native.  No DEBUG flag, no Cmd-R or menu.

Details here:
http://zeemeeeng.blogspot.com/2015/12/integrating-react-native-final-chapter.html

[2015-12-14 23:51] satya164 commented on #4674
@alinz  There is another discussion regarding the issues arising due to the Babel upgrade (not only for Redux, but all 3-rd party libraries which have a `.babelrc`). - https://github.com/facebook/react-native/issues/4062

[2015-12-14 23:51] skevy commented on #4735
Ha, I was just going to mention that.

Glad you got it figured out!

[2015-12-14 23:52] skevy commented on #4735
I'm going to close this issue, as the DEBUG flag behavior is by design.

[2015-12-14 23:52] #4735 closed

[2015-12-14 23:55] satya164 commented on #4062
One temporary workaround would be, to delete all `.babelrc` files in the npm postinstall hook,

[code]

[2015-12-14 23:56] skevy commented on #4770
Hi @BigPun86 -

This has to do with the fact that all of those dependencies need to either update to support RN 0.16, or relax their peer deps.

This, unfortunately, is more of an NPM and Node ecosystem problem, as opposed to an RN problem.

Thanks,
-Adam

[2015-12-14 23:57] skevy commented on #4773
@leovanhaaren Thanks for the report! Would you be able to put together a simple test case and post the link here?

[2015-12-15 00:04] satya164 commented on #4709
@mkonicek Thanks. Will do.

[2015-12-15 00:53] demiurga commented on #4768
@Ehesp I tried what you said, but no luck there. Still got same error :(

[2015-12-15 01:19] ACCTFORGH opened #4775 "ViewPagerAndroid returns empty view when new source data added"
I am currently using the ViewPagerAndroid component to do a matching/unmatching function which requires dynamic data updating in the source data of the component. The children of of the view pager is generated by a function makeItems(this.state.data) and it returns an array of keyed views. i.e. [< View key={1}/>, < View key={2}/>....] with the index being the index of the for loop that generates t

[2015-12-15 01:33] skevy commented on #4062
This was mine -

```find node_modules -type f -not -regex \".*react-native\\/.*\" -name \".babelrc\" -exec rm -rf {} \\;```

Yours is a little easier to parse :-p

[2015-12-15 02:00] demiurga commented on #4768
Ok, it works with `source={{uri: '/Users/MYNAME/Library/Developer/CoreSimulator/Devices/20596C4E-XXXX-XXXX-XXXX-2D3CAC299F04/ ... /Documents/imageName.png'}}` after I cleaned my `Documents` dir. Close this even I don't know why it happened...

[2015-12-15 02:00] #4768 closed

[2015-12-15 02:16] satya164 commented on #4062
@skevy Haha, that's nasty 😂

[2015-12-15 03:16] brentvatne opened #4777 "[Docs] Showcase should work well on mobile"
![12369401_10153311757591188_651648200_o](https://cloud.githubusercontent.com/assets/90494/11801074/22d489f4-a297-11e5-8819-4df5d7c080c0.jpg)

[2015-12-15 03:17] aroth commented on #4761
Also discussed at https://github.com/facebook/react-native/issues/4730

[2015-12-15 03:19] 362228416 commented on #4740
+1

[2015-12-15 04:19] ajwhite commented on #4730
I believe I can confirm that `0.17.0-rc` **does not** resolve the leak.

Via https://github.com/facebook/react-native/issues/4761,

### Case 1 - `0.17.0-rc` with a polling network request

- `dev=false`
- `setInterval` with an http request every second

This leaks around 1MB/min

[code]

![leak](https://cloud.githubusercontent.com/assets/656630/11786120/dc5afce0-a252-11e5-9490-9a352281e665.png)

#

[2015-12-15 04:22] ajwhite commented on #4761
Thanks for the cross ref, there's a few threads open and I haven't seen this one yet.

[2015-12-15 04:22] ajwhite commented on #4062
Thanks for sharing @satya164, I think I'm going to go with your approach for now

[2015-12-15 05:00] qbig commented on #2676
#4738 tackle this by changing "Dev Setting“， are you suggesting to change the behaviour otherwise ? (set flag in MainActivity or allowing both ways to change the flag) @ide @mkonicek

[2015-12-15 05:13] ajwhite commented on #4761
After retesting these cases in **release mode**, I can confirm that this is not a problem and only exists when running in debug mode.

:tada:

[2015-12-15 05:14] #4761 closed

[2015-12-15 06:21] liyayun commented on #4562
Same issue when I  tried to integrates react-native with an existing android app. I followed <a href="http://facebook.github.io/react-native/docs/embedded-app-android.html#content">Official guide</a>.When everything was done. I started the development server then run my android app.I got the error.

In chrome console:

![69691811-9450-471d-9da3-8a0ef88bd33d](https://cloud.githubusercontent.com/ass

[2015-12-15 06:44] Menq commented on #1501
+1
It may because render a scrollview in another  list/scroll view!
And textInput is actually  scrollview indeed!
fix!

[2015-12-15 07:13] kritikinfo commented on #3820
The example above mostly works, but does not on an initial load.
The same example, when run on a device and there is an orientation change (android destroys and recreates views when that happens) the Ad loads.
The loading of the ad needs to be removed from the render cycle to after, perhaps via a call in componentDidMount?

[2015-12-15 07:14] shexiaoheng opened #4779 "The WebView has no java implementation"
webview.android.js did not find the corresponding Java implementation

[2015-12-15 07:17] jihopark commented on #3228
with the same flex style as @edo1493 's solution above, iOS8 and 9 in iPhone 6 are different. I cannot get it centered in iphone6 ios8 ..... :-1:

[2015-12-15 07:25] gtejasvi commented on #4665
What my observation while using the TouchableNativeFeedback it takes a while for the action to work when using it. This is what I had observed.
As soon as the View is touched (delayPressIn and delayPressOut set to 0 to ensure that there is no delay), the native ripple feedback starts and continues till the end which takes about 200-300ms. I have given an animation to move the view around attached

[2015-12-15 08:46] satya164 commented on #4665
@manojHM Currently there is no way to configure the ripple effect duration.
@gtejasvi You can wrap your function in `requestAnimationFrame` for the effect to be visible immediately.

[2015-12-15 08:47] satya164 commented on #4779
@shexiaoheng It's planned, and will probably be in the next release.

[2015-12-15 08:47] #4779 closed

[2015-12-15 09:08] alvinwoon opened #4780 "Android reload very slow"
![image](https://cloud.githubusercontent.com/assets/1026383/11806429/0bc49616-a34e-11e5-8ff1-cf8321e29952.png)
Everytime I hit save on IDE and the live reload kicks in, it takes 20 seconds for the changes to show up on the device. This happens regardless of whether I turn on DEV flag or 'debug in chrome'. Some info on my tooling:

RN version: 0.16
Phone: LG4
Android version: 5.1

[2015-12-15 09:21] shexiaoheng commented on #4779
@satya164 It will TabBarAndroid?

[2015-12-15 09:28] JansenLi commented on #4710
great! thanks.
(void)setTest:(NSString *)test { _test = test; }  this manner solved my problem.

[2015-12-15 09:28] #4710 closed

[2015-12-15 09:32] satya164 commented on #4779
@shexiaoheng Sorry, didn't get you. The next release will probably include a `WebView` component. There is no `TabBarAndroid` component in the works (nor is it planned). You can however use - https://github.com/brentvatne/react-native-scrollable-tab-view

[2015-12-15 09:35] WATER1350 opened #4783 "can not controller the frame of a react-native view in oc code, and only the js code can do it"

[2015-12-15 10:20] sbugert commented on #3820
I think I solved it.
The problem is that the AdView has zero width and zero height until loaded. I attached an AdListener and do some layout and measure magic when the ad is loaded.

I added it to my [AdMob Library](https://github.com/sbugert/react-native-admob). It's far from perfect, but pull requests are welcome!

[2015-12-15 10:26] pietropizzi opened #4784 "New 'export default' issue in 0.16"
I can reproduce an issue with using `export default` since upgrading to 0.16.

The following scenario:

[code]

Once this code is transformed and run the error message is `undefined is not an object (evaluating '_constants.fetchStates.LOADING')`

What does not seem to work is the following line:

[code]

It also does not work with require:

[code]

This works though:

[code]

Alternatively using `

[2015-12-15 10:36] gre commented on #4784
noticed this too.

workaround is either to `require("./foo").default` or to not use `export default`

[2015-12-15 10:37] satya164 commented on #4784
@pietropizzi

About the first issue, React Native 0.16 uses Babel 6 to transpile, which changed lots of things. Can you try it by just using Babel 6, and if the issue persists, report this issue on Babel's bug tracker?

About the second issue with `require('./module')`, it's how it's supposed work. `default` exports are just named exports with a special name `default`. So you need to do `require('

[2015-12-15 10:40] leftstick opened #4785 "[Android] [TextInput] The `event` argument passed in `onBlur` function doesn't contains correct `nativeEvent` property"
I am expecting to get the text from `TextInput` component while `onBlur` as well as `onSubmitEditing`.

But it seems not working.

The `event` contains a `nativeEvent` property while listening `onSubmitEditing`, but left as empty while `onBlur`.

Is this by design?

[2015-12-15 10:41] Crash-- commented on #4717
You will find the doc to edit here : https://github.com/facebook/react-native/blob/master/docs/EmbeddedAppIOS.md

[2015-12-15 11:04] filod commented on #2985
+1 ( as a ping :D )

[2015-12-15 11:26] Sourcebits-Padmapreethi commented on #3452
@all : Here is how , i was able to fix this issue,

<ScrollView style={styles.scrollView}
horizontal={true}
onScroll={this.handleScroll}
onTouchMove={this.onTouchMove}
onTouchEnd={this.onTouchEnd} />

The catch here is to use onTouchMove and onTouchEnd to know if the scroll state.

onTouchMove:function(){
    isScrollInProgress = true;
  },

  onTouchEnd:function(){
    isScrollInProgress = false;

[2015-12-15 11:30] shexiaoheng commented on #4779
@satya164 Thanks very much , I'll  try to use it .

[2015-12-15 11:44] gre commented on #2615
BTW if you are using RN 0.16 you might reach a bug where elements inside navbar are not touchable.
I've fixed it in https://github.com/facebook/react-native/pull/4786

[2015-12-15 11:47] macelii opened #4787 "[DatePickerIOS] fails to get the correct value"
Hello there,

I just ran into a curious bug of DatePickerIOS(at least I believe so).

It fails to reflect the correct value(sometimes), here is how I reproduce it:
- add a console.log of date props in onDateChange;
- set mode of DatePickerIOS to "time";
- now scroll the hours' picker for just 1 or 2, then quickly scroll the minutes' picker, I can observe in console that the minutes remain as the p

[2015-12-15 11:48] leovanhaaren commented on #4773
https://github.com/leovanhaaren/ScrollViewWebView

It shows 2 WebViews, the top half in a normal View and the bottom one in a ScrollView. I can imagine this being related to the page being not loaded yet. But can't get it to work.

[2015-12-15 11:49] leovanhaaren commented on #4773
Added url now

[2015-12-15 12:01] prashanth1509 opened #4789 "Is react native's ReactNativeART library ready to use?"
ReactNativeART examples are spilled across web but not in react native docs and source code has references.
Is it available for ios and android and if so why isn't documented yet on react native documentation page?

[2015-12-15 12:05] udnisap commented on #3771
It is there in node v5 or npm 3.3.6 If we use `spawn` instead of `exec` we can show it with a pipe like we do in https://github.com/facebook/react-native/blob/master/react-native-cli/index.js#L207
in previous versions of node it would be bit tricky.

[2015-12-15 12:13] udnisap commented on #3718
It does work on
OSX - 10.10.5
npm - 3.3.6
node - v5.0.0

[2015-12-15 12:23] udnisap commented on #3316
Now it is `259 problems (119 errors, 140 warnings)`. I can fix it to `199 problems (119 errors, 80 warnings)` with `eslint --fix` Will send a PR

[2015-12-15 14:34] pietropizzi commented on #4784
An update on this issue:

My aforementioned code:

[code]

should not actually work according to spec and apparently Babel 5 made it work but Babel 6 is stricter. The right way to do the export is:

[code]

I changed that and now I can live without `module.exports = ` BUT

Inside of jest tests it still does not work. There the only way to make it work now is to change all the named imports to this

[2015-12-15 15:03] alinz commented on #4674
@satya164 thanks!

[2015-12-15 15:20] pietropizzi commented on #3999
@masom I have the exact same thing as you in RN 0.16: https://github.com/facebook/react-native/issues/4784

[2015-12-15 15:29] Ehesp opened #4793 "[Android] PullToRefreshViewAndroid child ListView not scrollable"
I have a basic example of a ListView, which has a parent PullToRefreshViewAndroid:

[code]

The outcome of this is that pull to refresh works, but the ListView is not scrollable. The only way to fix this is by applying `style={{flex:1}}` to PullToRefreshViewAndroid... Is this a bug or intentional? I'd expect PullToRefreshViewAndroid to take the full height of it's child by default?

If it's a bug,

[2015-12-15 15:36] scsidisk opened #4794 "AwesomeProject(ios) parse issue"
path/AwesomeProject/node_modules/react-native/React/Base/RCTBridgeModule.h:222:14: Expected '>'

[code]

Xcode 6.3.1
node.js 5.2.0

[2015-12-15 15:37] mariussoutier commented on #465
Bump...

[2015-12-15 15:54] pietropizzi commented on #3999
@cpojer I think I narrowed it down to a bug in this babel plugin https://github.com/facebook/fbjs/blob/master/scripts/babel-6/inline-requires.js

If you  set `inlineRequires` to `false` in https://github.com/facebook/react-native/blob/master/jestSupport/preprocessor.js#L23 it works. Meaning that something in the aforementioned plugin must be what is causing it.

[2015-12-15 15:55] pietropizzi commented on #4784
Closing this, since it is only about the tests. Narrowed it down, find more info here https://github.com/facebook/react-native/issues/3999#issuecomment-164806033

[2015-12-15 15:55] #4784 closed

[2015-12-15 16:08] jaygarcia commented on #1831
Linking a similar LisView issue: https://github.com/facebook/react-native/issues/4728

[2015-12-15 16:09] jaygarcia commented on #1831
Linking another similar issue: https://github.com/facebook/react-native/issues/4179

[2015-12-15 16:09] jaygarcia commented on #4179
Already linked to another bug report. closing this one.

[2015-12-15 16:09] #4179 closed

[2015-12-15 16:14] jaygarcia commented on #4709
@mkonicek moving to a well-known and well supported bug tracker tool would've done that w/out the need to invest in another tool. Absolutely no offense to @arasmussen (great work there).

We all recognize that GH Issues is not scalable for the amount of traffic that this project receives. :-\

[2015-12-15 16:16] jaygarcia commented on #4728
Hi @shadowpage, please feel free to close this issue. There are a few bug reports regarding ListView that have a lot of discussion. :)
For example: https://github.com/facebook/react-native/issues/1831

All the best!

[2015-12-15 16:23] jaygarcia commented on #3444
Closing this issue.

[2015-12-15 16:23] #3444 closed

[2015-12-15 17:05] dubert opened #4798 "When will babel dependency be updated to fix export default class?"
In 0.16 release notes under breaking changes:

* Exporting default class that extends a base class won't work due to Babel's [T2694](https://phabricator.babeljs.io/T2694).

This was [fixed](https://github.com/babel/babel/pull/3096) in babel 6.2.2 so upgrading babel should solve the issue.

[2015-12-15 17:22] mkonicek commented on #1194
Just saw this - sounds like we should have some global error handler for all JS (and native?) errors. Super useful to log all exceptions instead of crashing etc.

@foghina Do you know if we have anything like that (in the works) on Android, iOS?

[2015-12-15 17:26] skevy commented on #1613
We use push notifications extensively in our RN apps, and based on the comments here, it seems like it's working correctly from a React Native perspective.

Closing this issue for now, but please post on stack overflow if you all have any questions!

[2015-12-15 17:26] #1613 closed

[2015-12-15 17:31] skevy commented on #4783
Hi @WATER1350, if you could, please post your question on StackOverflow. If you discover a bug with RN, please feel free to come back and report it here! Thanks.

[2015-12-15 17:31] #4783 closed

[2015-12-15 17:32] skevy commented on #4798
@mkonicek we should get updating to the latest Babel on the release schedule for .17 stable if possible.

[2015-12-15 17:34] skevy commented on #4794
@scsidisk I can't repro tihs...but can you try updating to XCode 7?

[2015-12-15 17:35] skevy commented on #4789
We use it on a production app...but I'm pretty sure that there isn't much work being done on it internally.

It does _work_, however :)

@mkonicek can you comment?

[2015-12-15 17:39] dajomu commented on #4740
+1

[2015-12-15 18:09] jasonmerino commented on #1831
I'm seeing this in 0.16.0. Has anyone placed this on the radar on Product Pains? This one is becoming quite painful. :/

[2015-12-15 18:26] cpojer commented on #3999
The above issue about export default is unrelated to inline-requires. We are currently building a plugin to fix this but any help would be appreciated (we need someone to write a babel plugin :) ). The inline-require transform shouldn't be related to the export default issue. However, it might be an issue for your existing code.

We transform require statements (not imports) to be inline, which mi

[2015-12-15 18:31] mkonicek commented on #1194
See `ErrorUtils.setGlobalHandler`: https://github.com/facebook/react-native/blob/master/Libraries/JavaScriptAppEngine/Initialization/InitializeJavaScriptAppEngine.js#L87

[2015-12-15 18:50] ajwhite commented on #1194
Is it a bad idea to set my own global error handler?

My scenario was to
- Report exception to Sentry
- Reload the bridge to avoid crashing

[2015-12-15 18:51] imton commented on #3450
awesome work here, I'd totally support renaming ```Properties``` to ```Transitions``` and ```opacity/scaleXY``` to ```fadeIn/zoomIn```. It got me really confused when I first started using it.

[2015-12-15 18:53] philikon commented on #4045
Absolutely, that's the desired behaviour IMHO. But I thought Babel's Promise polyfill already did that? It does at least for me, but then again, I don't use the React Native packager -- I use webpack + a babel loader via https://github.com/mjohnston/react-native-webpack-server/.

[2015-12-15 18:56] jasonmerino commented on #1831
I've posted this on [Product Pains](https://productpains.com/post/react-native/listview-doesnt-render-rows-until-scroll/). If it's still affecting you feel free to vote it up on there.

[2015-12-15 18:58] andrewljohnson commented on #4022
I was having this issue, and @bruz solution worked for me... I had to change the react-redux imports when I updated react-native from .13 to .14.

[2015-12-15 18:58] imton commented on #3450
Question, is there a way to specifically opt-ou an element for transitions?

[2015-12-15 19:07] xwenliang commented on #3919
i'm run into the same question

[2015-12-15 19:11] gre commented on #3452
@ide , i'll give a try to your `pointerEvents` workaround, thanks!

Why is this behavior not the default on ScrollView if it works? Any downsides?

[2015-12-15 19:39] iZaL commented on #1501
:+1:

[2015-12-15 19:45] theoriginalgri commented on #4794
"lightweight generics" were introduced with XCode 7, so this is a minimum requirement for react-native

[2015-12-15 19:47] lpil commented on #4645
:+1:

[2015-12-15 19:49] theoriginalgri commented on #4767
I cannot find a NavigationBar component, what are you referring to?

[2015-12-15 19:49] finalquest commented on #4775
Hi.
I'm facing the same issue.
I have a pager that renders an array of views.
When I deleted an entry of the array, the next render of the pager is drawing an empty view.
Also, the last view of the array goes out of screen bounds and cant be reached.

I dont really know where I have to start looking to fully realize whats really happen

Regards

[2015-12-15 19:54] skevy commented on #4794
:+1

[2015-12-15 19:55] skevy commented on #4794
Closing this one.

[2015-12-15 19:55] #4794 closed

[2015-12-15 20:03] aksonov commented on #4767
Sorry, NavigationBar

Pavel.

[2015-12-15 20:05] djk4096 commented on #4559
I have found this to be a side effect of a change starting in v0.15.0 to how view hit testing is done when opacity=0, in this commit:

 77272d5a9193762b8668c99d54f5bb9a3e423a9e

I am currently working around this by replacing code in NavigatorNavigationBar.js, adding the following prop setting to the View rendered in _getComponent:

[code]

Also there was just an update to NavigatorNavigationBar.j

[2015-12-15 20:21] aksonov commented on #4767
Standard navbar, it is within Libraries/CustomComponents/Navigator/NavigatorNavigationBar.js

[2015-12-15 20:49] adriansprod commented on #4559
Ideally the NavBar should hide the button once faded out rather than build up 0 opacity views.

Another solution is amending NavigatorNavigationBarStylesIOS so the RightButton does not change position when transitioning the view to the left.

Stages.Left.RightButton sends the button to a left position at 1/3 Screen Width. By removing the 'Left' style value the button fades out in the right and is

[2015-12-15 20:58] DuntyVinayRaj opened #4802 "NetInfo.fetch().done gives undefined reach in iOS"
When I use NetInfo.fetch().done to find out the type of reach in iOS which is supposed to be wifi, cell, none or unknown, I always found reach to be undefined. Digging a bit into it, I noticed that getCurrentReachability method exported from RCTNetInfo.m sends status with key 'network_info' where as this is accessed as resp.network_reachability in NetInfo.js.

As I changed the NetInfo.js to access

[2015-12-15 21:16] scriptjs commented on #4402
@satya164 Any movement on this?

[2015-12-15 21:50] sharavsambuu commented on #3379
I'm using Ubuntu and trying to learn react-native,
exactly this error happening on android emulator when running AwesomeProject.

[2015-12-15 22:00] jmreidy commented on #3975
@skevy I just created a new test repo, recreated the bug, and then ran your commands. That fixed the issue in the test repo!

[2015-12-15 22:03] burgalon opened #4803 "Websocket polyfill doesn't call onClose after connect() fails"
Currently standard browser implementations call socket.onClose after failing connect() (as opposed to the connection closing)
This allows for libraries (such as [phoenix.js](https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js)) to handle reconnecting properly.

@nicklockwood Do you think this might be relevant https://github.com/square/SocketRocket/issues/299 ?
I tried

[2015-12-15 22:21] morenoh149 commented on #4655
I would also find this useful. Honestly I can't even find docs on the `ReadableMap` type.

[2015-12-15 22:26] morenoh149 commented on #4655
Nvm found it's a custom interface.

[2015-12-15 22:43] ghamaide commented on #3975
@skevy doesn't work for me... still the same error

[2015-12-15 22:46] spicyj commented on #2985
Commenting +1 doesn't help and is annoying. Locking this issue for now.

[2015-12-15 23:03] ajwhite commented on #4655
Yeah, takes a little looking around to locate it. Glad to see that there is some interest in this, I'll be getting to #4658 this week.

[2015-12-15 23:04] ide commented on #4793
Could you send a PR mentioning in the docs that flex:1 is required?

[2015-12-15 23:58] skevy commented on #2985
If you all would like to show the team that you care about this issue, please up vote the issue on Product Pains.

https://productpains.com/post/react-native/react-native-to-depend-on-react/

[2015-12-16 00:20] ide commented on #4784
In summary, Babel 6 implements a stricter but correct behavior. It's sort of a pain to migrate but from personal experience if you move entirely to import/export one thing that's nice is that cycles are less of an issue because there is no more clobbering of `module.exports`; with JS's `import/export` everything is assigned to `exports`.

[2015-12-16 00:30] ide commented on #3452
It's complicated and adding hacks to cover up a core issue in the gesture system (plus I haven't actually tried it.. just an idea that could work). We need to make the gesture system better and until then, make it possible for you to write the code to work around this issue.

[2015-12-16 00:32] ide commented on #4045
Someone had a good idea in the AMA today to have uncaught errors get fed into a global JS error handler. Then you could hook up the redbox to the global handler, or a custom handler as well.

[2015-12-16 01:19] shixy commented on #4780
+ 1

[2015-12-16 01:19] shixy commented on #4780
+1

[2015-12-16 01:38] philikon commented on #4045
So, I get to see a redbox due to this `console.error` call when my code doesn't catch a promise rejection: https://github.com/zloirock/core-js/blob/e00042d166ebbc3e4ad08dc483ba40de83af2618/library/modules/es6.promise.js#L134

Is this not triggering for anybody? If not, I wonder why. In any case, I support doing whatever we can to preserve the original stack (instead of having `core-js/es6.promise.

[2015-12-16 01:38] seb0zz opened #4807 "Image onLoad not fired on Android"
I am currently using version 0.16.0 of react-native. The `onLoad` prop for images on iOS works like a charm. Strange thing is that on Android the callback does not get executed. Also `onLoadStart` and `onLoadEnd` do not work for me on Android. Don't know if any example could is needed for this one, should be just including in `Image` into a react native `Component`, add an `onLoad` handler and run

[2015-12-16 01:44] wootwoot1234 opened #4808 "Has anyone used UI Testing with react native?"
Has anyone used UI Testing with react native?  I want to use Snapshot (part of Fastlane) to save my screenshots but when I try to record my clicks in the UI Test I get code that looks like this:

    app/*@START_MENU_TOKEN@*/.otherElements["    \Ue00e Getting Started \Ue00c   \Ue00e Unlimited Foods \Ue00c   \Ue00e Limited Foods \Ue00c "].otherElements["  \Ue00e Getting Started \Ue00c"]/*[[".otherE

[2015-12-16 01:52] wootwoot1234 commented on #4808
Ok, thanks.  I asked the question here:

http://stackoverflow.com/questions/34302710/has-anyone-used-ui-testing-with-react-native

[2015-12-16 02:15] #4578 closed

[2015-12-16 04:14] alvinwoon commented on #2882
+1

[2015-12-16 04:22] j-wang commented on #4289
God, I'm glad I ran across this thread. I've been pulling my hair out doing cleans, build cleans, touch, etc. and nothing worked before except literally generating an all-new XCode project.

@satya164's suggestion worked like a charm. Also on 0.15.0.

[2015-12-16 04:25] ajwhite commented on #4289
Been there. `--reset-cache` really needs to be added to the build script. Can this be reopened to the original point that the build command generates an outdated bundle?

[2015-12-16 04:29] #2802 closed

[2015-12-16 04:30] christopherdro commented on #4802
I think you may have a old version of React Native installed. This was fixed with the following commit.
https://github.com/facebook/react-native/commit/53403423ca281c7961fb8b7d5e99ed04c7d65748

[2015-12-16 04:30] #4802 closed

[2015-12-16 04:32] 362228416 opened #4810 "use Navigator navigationBar props has a warning when I upgrade to 0.16 on android"
Warning: cloneWithProps(...) is deprecated.......

<Navigator

                        renderScene={this.renderScene}
                        initialRoute={{
                        component: ..,
                        navigationBar: <View></View>
                    }}/>

[2015-12-16 04:46] ultrabook commented on #4808
Have you tried changing upper case U to lower case?
like `\ue00e Getting Started \ue00c`

[2015-12-16 04:47] christopherdro commented on #3068
Duplicate #4803

[2015-12-16 05:11] christopherdro commented on #4787
@macelii I'm can't reproduce this on master using the UIExplorer example project.
Could you share some of your code or create a example on www.rnplay.org?

[2015-12-16 05:49] burgalon commented on #4803
Closing in favor of #3068

[2015-12-16 05:49] #4803 closed

[2015-12-16 05:53] wootwoot1234 commented on #4808
@ultrabook Thanks for the idea.  I tried that just now and unfortunately it didn't help.

[2015-12-16 06:02] jayli opened #4811 "TypeError: undefined is not an object (evaluating 'GLOBAL.Text..."
hi

I can't run the 'HelloWorld' successfully. I don't know what's wrong.

I have just installed npm@2.14.7 node@4.2.3  react-native-cli@0.1.7 xcode@7.1.1. And I have initialized a new prject with `react-native init HelloWorld` without any error. Then hit run in Xcode.  It shows me this:

![](https://gw.alicdn.com/tps/TB15hAmKVXXXXbTXpXXXXXXXXXX-602-992.png)

    TypeError: undefined is not an obj

[2015-12-16 06:10] alittlecodebox commented on #2914
I encountered the same problem..

[2015-12-16 06:13] christopherdro commented on #3068
It appears the native implementations aren't checking if  a connections fails when calling `RCTWebSocketModule.connect `.

@nicklockwood
I looked over [Handling Stream Error] (https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/Streams/Articles/HandlingStreamError.html) and am wondering if we need something like this?

@mkonicek
Should we be closing OkHttpClient client [here](ht

[2015-12-16 06:28] satya164 commented on #4402
cc @brentvatne

[2015-12-16 06:28] christopherdro commented on #3581
Testing on the simulator will always return `wifi`.
You will need to test on a device to trigger between states.

[2015-12-16 06:28] #3581 closed

[2015-12-16 06:33] sahrens commented on #3450
LayoutAnimation is primarily intended simply to do the things that are common and cumbersome with the Animated API, which is the creation and cascading layout updates of views, especially when involving Text which requires asynchronous/native text measurement.

The idea was that everything else should be handled by Animated so as to reduce overlapping functionality.

That said, the animation parad

[2015-12-16 06:46] christopherdro commented on #3831
Looks like RCTPushNotification.xcodeproj is excluded from the rest of the libraries when creating a new project? @ide @nicklockwood Is this intentional?

To get this to work on master I had to add the project files, binary under build phases, and `$(SRCROOT)/../node_modules/react-native/Libraries` to my projects header search path.

We can update the docs explaining this if the project has been in

[2015-12-16 06:55] magicismight opened #4812 "[DeviceEventEmitter] How to use keyboard easing"
[code]

when `keyboardWillShow` event fired.It will pass an argument with an `easing` attribute inside.
just like
[code]

so.How to do animtion with `keyboard` easing,or this easing attribute has no usage at all?
If this easing attribute has nothing to do with Animated easing,what`s the point of passing it.

[2015-12-16 07:18] jayli commented on #4811
[here](http://stackoverflow.com/questions/34112110/upgrade-to-react-native-0-16-error) is the solution

I reinstall the '[preset-react](http://babeljs.io/docs/plugins/preset-react/)', remove the `"presets": ["es2015"]` from `~/.babelrc`. Then add `"presets": ["react"]` to this file.

[2015-12-16 07:18] #4811 closed

[2015-12-16 07:44] theoriginalgri commented on #4807
Is this a duplicate of #4704?

[2015-12-16 07:50] xueduany opened #4813 "How to sperate reactnative.bundle file into 2 part?"
I use reactPackager to bundle my rn project, and find that the bundle file is > 1MB , how can i sperate the bundle file into 2 part.One of them include all of react-native related resource and core coding, the anther is only my business codes, not include any reactnative codes.
So i can modify my native load component, before load remote server bundle file, use text merge them into a full file for

[2015-12-16 08:32] #4666 closed

[2015-12-16 08:38] pietropizzi commented on #3999
@cpojer The script I mentioned is quite new. It's first commit is on the 7th of November. It is the babel-6 version of the script, which has some slight differences from the babel-5 one.

I am using `require`s in my tests since there is an issue with `import` where the imported modules get hoisted to the to of the file and thereby get required before `jest.dontMock` calls.

It might still be that

[2015-12-16 08:42] cpojer commented on #3999
babel 6 changed how modules are imported. If you are using `require` for something that is exported using `export default`, for now you'll have to do `require('Foo').default` in your test. I realize this sucks and I'd like to fix this using a custom transform for test-files only that doesn't hoist imports. This should solve all of our problems regarding imports.

[2015-12-16 09:32] raheelshah31 commented on #1875
Updating watchman works!!! Thanks

[2015-12-16 09:50] seb0zz commented on #4807
Yes, duplicate of #4704

[2015-12-16 09:50] #4807 closed

[2015-12-16 10:02] nicklockwood commented on #3068
@christopherdro SRWebSocket is a 3rd party library, so I'm not too clear on the details of its implementation. If it's not handling the error case though, we should probably patch our fork, and maybe submit a PR to the original project as well so we don't diverge too much.

[2015-12-16 10:11] WaKeMaTTa commented on #4488
Thanks @jforaker `react-native upgrade` works on to me. :+1:

[2015-12-16 10:28] eva1943 opened #4816 "Cause: ndk-build binary cannot be found, check if you've set $ANDROID_NDK environment variable correctly or if ndk.dir is setup in local.properties"
Hello!
I had set ndk.dir in local.properties and also set $ANDROID_NDK in system path.
Also show ndk-build cannot be found.

<img width="526" alt="bd57c86c-65aa-419f-ac6f-1e356fae61d6" src="https://cloud.githubusercontent.com/assets/4629156/11838526/a38d0e2c-a422-11e5-91c0-b841b987705e.png">

<img width="570" alt="3e883b3c-39c5-4294-acb3-676e103a8fd4" src="https://cloud.githubusercontent.com/asset

[2015-12-16 10:47] pietropizzi commented on #3999
@cpojer that would be great! I'm already using the `require('Foo').default` in my tests. But inside those modules that are being required something goes wrong.

[2015-12-16 11:18] shexiaoheng opened #4817 "ReferenceError: Can't find variable: require( line 1 in the generated bundle)"

[2015-12-16 11:22] shexiaoheng commented on #4817
I execute the following command to create a new project , an error has occurred : "ReferenceError: Can't find variable: require( line 1 in the generated bundle) "
[code]

[2015-12-16 11:28] smalllixin commented on #1234
+1

[2015-12-16 11:59] gangstaJS commented on #3951
For me, this question is also relevant

[2015-12-16 12:26] theoriginalgri opened #4818 "Text outputs raw HTML-encoded string when set via variable"
The ```Text``` Element outputs the raw HTML-encoded string when it was set via a variable:

[code]

Displays: ```Escape Test: &copy; ©"```
Affects both iOS and Android with RN master (as of 0.16.0+).

[2015-12-16 12:28] MrPluto opened #4819 "how to disable YellowBox (enabled in iOS by default)"
i choose release mode in Xcode ,why my app still has the yellow box?

[2015-12-16 12:52] neciu commented on #4812
:+1:

[2015-12-16 12:58] Bronts opened #4820 "[View] Container borderRadius covered by sub view"
![image](https://cloud.githubusercontent.com/assets/3986255/11841282/305ccd38-a437-11e5-895c-8a287169e7e2.png)
In the root view, I set borderRadius is 17, it display well on right, but on the left, the border radius covered by green sub view and yellow sub view, is this a bug?

[2015-12-16 13:00] Harbon opened #4821 "How can I load from a JS Stream(integrating with existing app)? not JS Bundle file path."
I found that reactNative load react Js from android's default file directory,I want a api to load react Js from
a stream, not file path. so I can load Js from a network server instead of putting a Js bundle file in local directory.

[2015-12-16 13:21] NetPumi2 opened #4822 "I can not catch request code Android"
I have a problem with the response of my activity. It is a module to react natively. I have this react class and I am trying to get result from my activity. I've tried catching the requestCode like this:

[code]
and I open the class intent:

[code]
and another activity

[code]
Everything is ok. But I'm not catching the request code. Does anybody know why? Thanks

[2015-12-16 13:49] skatou opened #4823 "[feature request] Add purge cache option to "react-native bundle" command"
Hi,

It cost me over an hour to figure out why my pre-bundle js not get updated after some code changes, it's because "react-native bundle" command is using caches.  I find where the cache is by using the "--verbose" option.

The command line help doesn't provide any option relates to the cache used, it will confuse people who meet the same issue.

[2015-12-16 14:29] gre opened #4824 "[feature request] make navigator methods returning a Promise"
I don't know how feasible and how much work this involve but I would love to have navigator methods retuning promise.

Basically,
[code]
(but also for almost all `navigator.*` methods)

This unlock a lot of use-case. One of my best use-case is I have buttons that trigger navigation, and I want to "lock that button" until the navigation is done (meaning the button is not touchable until it's action

[2015-12-16 14:37] guizmaii commented on #4816
Is your local.properties file next to the ```gradlew``` file (in the source tree) ?

[2015-12-16 15:41] newyu commented on #2879
Check list:
-device's(such as emulator or smart phone) wifi connection
-react-native server status

[2015-12-16 15:52] iZaL commented on #1831
0.16, same issue

[2015-12-16 17:32] vjeux commented on #465
@mariussoutier, @gzm0, @chandu0101 any one of you want to take a stab at implementing it on React Native? It is not very hard.

You need to update this regex in order to support both require(...) and ["require"](...): https://github.com/facebook/react-native/blob/master/packager/react-packager/src/DependencyResolver/lib/replacePatterns.js#L14

[2015-12-16 17:50] morenoh149 commented on #297
I'm getting this after updating to 0.17-beta from 0.12. I also went through the app submission process. Opening up `http://localhost:8081/debugger-ui` works for me. But I get an error if chrome is simple open.

[2015-12-16 17:53] davidaurelio commented on #4045
I’m on it, but will turn on yellow boxes first

[2015-12-16 18:33] julipur commented on #1509
are there any plans to fix this for the TextInput multiline=false?

[2015-12-16 18:50] arbesfeld commented on #4821
Hey @Harbon, you can do this by downloading the entire JS file to local storage, and then using `setJSBundleFile` to point to this file in local storage. There's no technique for loading from a JS stream on Android at the moment.

[2015-12-16 18:53] DougBanksPersonal commented on #4717
New PR with edits:

https://github.com/facebook/react-native/pull/4828

Thanks for your help with this.

Doug

On Tue, Dec 15, 2015 at 2:43 AM, Quentin Valmori <notifications@github.com>
wrote:

[2015-12-16 18:55] gre commented on #3452
@ide Ok, make a lot of sense.
https://gist.github.com/gre/16f4235d23659c7d4374 : I've started a quick attempt following your idea.. it's a very naïve implementation (using onTouchStart & onTouchEnd, whatever the finger is) that unfortunately doesn't seem to work.. Maybe I need to give another try, but for now I guess I'll wait for that proper fix on gesture system.

[2015-12-16 18:58] gabrieleds commented on #637
+1

[2015-12-16 19:02] cpojer commented on #3999
Can you share a module that isn't working for you?

[2015-12-16 19:51] jsierles commented on #4720
Would be nice also to include runnable examples in your design. We have a baseline setup for this, but are still working on details of how to make the simulators show up on all doc pages. However, it's doable and would be a great addition! I think having one right on the main page would be awesome.

Here's an example of a working runnable example from UIExplorer:

https://facebook.github.io/react-

[2015-12-16 19:57] ide commented on #4818
This is expected and desired behavior. You'll need to run an HTML entity decoder yourself.

[2015-12-16 19:57] #4818 closed

[2015-12-16 20:15] imton commented on #4720
@jsierles great idea. Sadly that UIExplorer runnable throws lots of red errors. While I love appetize.io it is some kind slow to start up. I'd prefer to think some other ideas that show the things working right away (mini-videos/ gifs/ canvas...?)

[2015-12-16 20:56] jsierles commented on #4720
Hmm, the example is working for me. The advantage to using appetize is that the examples are interactive, and we can update as UIExplorer changes without having to do videos manually: I don't think anyone wants to do that work!

[2015-12-16 21:06] jamesfzhang opened #4829 "RCT_EXPORT_VIEW_PROPERTY in Swift"
I'm confused by the documentation on how `RCT_EXPORT_VIEW_PROPERTY` works. It doesn't explain how to access props in the Swift view. I assume it would be a property but the value of `assetURL` is `nil`.

[code]

[code]

[code]

The value of `assetURL` isn't passed from JS to Swift. What am I doing wrong? Thank you.

[2015-12-16 21:17] jamesfzhang commented on #4829
Found a guide here: http://browniefed.com/blog/2015/11/28/react-native-how-to-bridge-a-swift-view/

[2015-12-16 21:17] #4829 closed

[2015-12-16 21:20] alinz commented on #3106
+1

Should we expect this one to be merged in any time soon? This is a critical bug which prevents all LayoutAnimation success callback to be called.

[2015-12-16 21:38] cancan101 commented on #4577
@idibidiart Would you link to the new issue?

[2015-12-16 21:52] mariussoutier commented on #465
Done, see #4830.

[2015-12-16 22:18] adriansprod commented on #1501
@Menq is right, if you drag a scrollview by press and drag within a textInput then you get the error

[2015-12-16 22:25] cancan101 opened #4831 "babelHelpers.objectDestructuringEmpty is not a function"
I upgraded from RN 15 to RN 16 and now I get:
`babelHelpers.objectDestructuringEmpty is not a function`:
![image](https://cloud.githubusercontent.com/assets/51059/11855689/b4d137d4-a419-11e5-9eb5-dea906b167e9.png)

Currently my `.babelrc` files looks like:
[code]

I previously also had `es2015` in the `presets` list but then I got: http://stackoverflow.com/questions/34112110/upgrade-to-react-nativ

[2015-12-16 22:30] imton commented on #4720
@jo

Best,

Gaston
+59898704249

On Wed, Dec 16, 2015 at 5:09 PM, Joshua Sierles <notifications@github.com>
wrote:

[2015-12-16 22:34] chandu0101 commented on #465
@vjeux thanks alot for pointer

@mariussoutier  excellent :+1:

[2015-12-16 22:38] dabit3 commented on #4777
@satya164 Are you picking this up, or can I jump on it? Thanks.

[2015-12-16 22:39] DaveAdams88 commented on #3975
Hi guys,

I am also getting this error when using jsdom-jscore (or jsdom/jsdom-little)

`uncaught error Error: UnableToResolveError: Unable to resolve module querystring from /Users/•••/•••/•••/node_modules/react-native-svg/node_modules/jsdom-jscore/lib/builtins/url/url.js: Invalid directory /Users/node_modules/querystring
    at ResolutionRequest.js:351:15`

I have tried the steps from both comme

[2015-12-16 22:43] cancan101 commented on #4516
I am getting this error on 0.17.0-rc and I don't use sym links:
[code]

[2015-12-16 22:45] javache commented on #1501
We can probably apply the fix in https://github.com/facebook/react-native/commit/67bf0f1a70aa6efc667a6fe4499ae7c2212332ff to scrollviews as well. If you have a test case for this, please try it and send a PR.

[2015-12-16 23:31] natdm commented on #4811
I'm having the exact same issue, though I was always able to run projects fine in the past. I don't have a ~/.babelrc folder. Am I supposed to have created one? Is that something new?

[2015-12-17 00:36] ahanriat commented on #4817
@shexiaoheng which version of Android are you using ?

[2015-12-17 01:13] ide commented on #4810
This might be as simple as converting it to use cloneElement but please thoroughly test.

[2015-12-17 01:24] ide commented on #3831
Let's update the docs.

[2015-12-17 01:46] daesan opened #4834 "[Geolocation] navigator.geolocation.getCurrentPosition doesn't get executed first time it is called"
I've upgraded from RN 0.16.0 to 0.17.0-rc and navigator.geolocation.getCurrentPosition() doesn't get executed any more.

However, if I insert "navigator.geolocation.getCurrentPosition(()=>null, ()=>null)" before the actual call, it does get executed. Maybe this is related to new lazy loading feature?

[2015-12-17 01:51] christopherdro commented on #4834
This was recently fixed with the following commit. https://github.com/facebook/react-native/commit/f48dbbecd658123e6fdaacf1b5762692d4d1d7f5

[2015-12-17 01:51] #4834 closed

[2015-12-17 02:08] daesan commented on #4834
Great. Thanks!

[2015-12-17 02:22] lklots commented on #4246
I have a quirky but working solution for using circleci with react-native. The basic idea is to have a primary repo containing all the code and building the iOS version of the app. There is then a secondary repo containing only a circle.yml file configured for the android version of the app. Every iOS build will now trigger an android build.

The details:
Define a primary repository that holds the

[2015-12-17 02:29] shexiaoheng commented on #4817
@ahanriat yes , it's 6.0 . I now use Android5.1 no problem , Thanks.

[2015-12-17 02:30] #4817 closed

[2015-12-17 04:07] satya164 commented on #4777
@dabit3 I've not started on this. Feel free to jump on it of you want. Also thanks :)

[2015-12-17 04:09] dabit3 commented on #4777
Great, I will. Thanks!

[2015-12-17 04:21] sospartan commented on #4819
`console.disableYellowBox = true;`
@MrPluto

[2015-12-17 04:36] #4819 closed

[2015-12-17 05:35] #4734 closed

[2015-12-17 05:49] christopherdro commented on #3771
Nice one @udnisap! Just tested it out.
Could you submit a PR with this change?

[2015-12-17 06:02] ccheever commented on #3572
https://productpains.com/post/react-native/fetch-with-accept-encoding-gzip-does-not-work/

[2015-12-17 06:44] puresteelzhang commented on #2711
Try:
1、open android  Emulator;
2、react-native run-android； error??!! goto 3;
3、adb install app/build/outputs/apk/app-debug.apk；

[2015-12-17 06:55] #4170 closed

[2015-12-17 07:50] deminoth commented on #3874
Checkout https://github.com/facebook/react-native/issues/4062.

[2015-12-17 07:52] jayli commented on #4811
@natdm

You can create a new file called `.babelrc`

[2015-12-17 07:58] toriumi0118 commented on #4730
Hi. I took couple hours and tried to find the cause.
it may be related with #4282 and @ender672 mentioned above.

Same as #4282 and @ender672, I have checked the files below.

* https://github.com/facebook/react-native/blob/master/Libraries/Devtools/setupDevtools.js

The cause can be setupDevtools method called endless. But facebook/react-native#4283 is mentioned about how to fix it.

I think I ne

[2015-12-17 08:10] MrPluto commented on #4819
Thanks a lot. :+1:

[2015-12-17 08:18] NetPumi2 commented on #4822
solution: http://stackoverflow.com/questions/34290962/i-can-not-catch-request-code/34329678#34329678

[2015-12-17 08:32] yychun1217 commented on #4817
@shexiaoheng I am experiencing the same issue as well. Have no luck to solve it

[2015-12-17 08:51] thomasvm commented on #4820
Could you try setting `overflow: 'hidden',` on the root view's style?

[2015-12-17 09:13] kritikinfo commented on #3820
@sbugert I mostly followed your example and was able to get it working. However, I was able to simplify things.
1) `SimpleViewManager` specializes on `AdView`.
2) `createViewInstance` loads the Ad and returns an instance.
3) My `onAdLoaded` callback is as follows:

            @Override
            public void onAdLoaded() {
                super.onAdLoaded();
                Log.d(REACT_CLASS, "o

[2015-12-17 09:22] macelii commented on #4787
I reproduced the issue with simple code base.
I am on RN 0.11

[code]

[2015-12-17 09:22] shexiaoheng commented on #4817
@yychun1217 using Android 5.1 or Android 5.0

[2015-12-17 09:25] benzsuankularb opened #4837 "View not resize when keyboard pop-up/focus on TextInput"
This is when resize working

![screen shot 2558-12-17 at 3 56 10 pm](https://cloud.githubusercontent.com/assets/2444351/11865633/cc4329f4-a4d7-11e5-930d-221a55fab5a4.png)

This is when resize not working

![screen shot 2558-12-17 at 3 56 53 pm](https://cloud.githubusercontent.com/assets/2444351/11865641/e43f4df8-a4d7-11e5-91b6-57bacc0900d9.png)

When I firstly open this page, Keyboard show up and

[2015-12-17 09:26] macelii commented on #4787
Opps, looks like it runs well with the code above, I need more time to digg in my project to check if there is something wrong, will get back here when I find something

[2015-12-17 10:25] Bronts commented on #4820
@thomasvm Hi, I add overflow: 'hidden' on the root view's style and then it works well. Thank you very much. In iOS native code the root view's borderRadius would't affected by subview default, so I once considered this is a bug in RN.
Thanks for your suggestion again^_^

[2015-12-17 10:48] setdvd opened #4838 "'babelHelpers.taggedTemplateLiteral' is undefined in react native wen using tagged template strings"
I'm trying to use tagged template strings in react native app (rn version 0.16) like this
[code]

I get exception - 'babelHelpers.taggedTemplateLiteral' is undefined;

if I use just template string like:
[code]
It is working.

Since 0.16 rn moved to babel 6 and may be it is not only rn specific. I have check packager and "babel-plugin-transform-es2015-template-literals" included.

Any idea?

[2015-12-17 11:48] chrisbianca commented on #2552
Hi,
Is there any progress on this?  Although not major, it has the potential to become quite annoying from a user's point of view.

[2015-12-17 11:57] everfire130 opened #4840 "[Android]Native code ,how to let a custom RN view invokes a function and callback?"
We can call a view function like below in manager,but how to callback?
![image](https://cloud.githubusercontent.com/assets/11308837/11869126/e38717c2-a4f7-11e5-9d1a-5b2f7d40c604.png)
OR:
How to get the view instance through domNode(ReactTag) like iOS?
![image](https://cloud.githubusercontent.com/assets/11308837/11869169/543f76d0-a4f8-11e5-82f1-409792310e59.png)

[2015-12-17 12:24] steve-ng commented on #3820
@kritikinfo do you think u are able to provide a gist too? Thanks

[2015-12-17 12:27] kritikinfo commented on #3820
@steve-ng Sure - I'll put up the whole thing into a gist and reference it here.

[2015-12-17 12:34] Thomas101 opened #4841 "[Android] es6 Polyfills"
Hey,

I've found a few es6 polyfils which behave differently to how they should on android. They work fine on iOS and work fine when you run on android with debug enabled.

[code]

Tom

[2015-12-17 13:08] satya164 opened #4842 "[Android] App crashes when scrolling in a ListView"
Transformed `ListView` crashes when scrolling and reaches the end. It doesn't happen consistently though. In smaller lists, it doesn't crash at all.

Android 5.0, React Native 0.17.0-rc.

Here is the stack trace.

[code]

[2015-12-17 13:10] cxh80301983 opened #4843 "[Android]run-android error"
i have error code

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 5.902 secs
Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator ru

[2015-12-17 13:12] satya164 commented on #4842
cc @ide since you've experience with transformed list views

[2015-12-17 13:19] osemen-remit commented on #3379
`Menu -> Dev Settings -> Debug server host & port for device，eg: 192.168.0.xx:port`
What `Menu` do you mean ?

[2015-12-17 13:20] satya164 commented on #3379
@osemen-remit Shake youre device.

[2015-12-17 14:47] jadsonlourenco commented on #4730
@toriumi0118 I tried what you said but not work I think, look:
![Screen](http://uploadpie.com/TmnTb)

[2015-12-17 15:01] jadsonlourenco commented on #1501
@javache I have tested this PR few days ago, I think that solve this problem, but not: ```Warning: ScrollView doesn't take rejection well - scrolls anyway```

[2015-12-17 15:08] toriumi0118 commented on #4730
@jadsonlourenco thanks your share.

The condition may be different.
My condition is like this.

* Real Device Debug (iPhone 6)
* OSX 10.10.5
* Xcode 7.2
* react-native version 0.16.0

Result is like this.

*comment out version* (setUpDevTools(); is not working.)
![2015-12-17 23 55 41](https://cloud.githubusercontent.com/assets/2346203/11872892/1dc3a2d4-a51b-11e5-927c-96a6e598e587.png)

*not commen

[2015-12-17 15:14] natdm commented on #4811
that worked, thanks!

[2015-12-17 15:17] JeanLebrument opened #4844 ""babelHelpers.asyncToGenerator is not a function" on React-Native 0.16.0 and 0.17.0"
Hello,

I updated React-Native from 0.14.0 to 0.16.0 and from now, I have errors at runtime:

<img width="1428" alt="screen shot 2015-12-17 at 16 10 03" src="https://cloud.githubusercontent.com/assets/3106676/11873009/b5b3aee2-a4d8-11e5-96db-831de137af06.png">

<img width="272" alt="screen shot 2015-12-17 at 16 32 05" src="https://cloud.githubusercontent.com/assets/3106676/11873609/c1cc1c34-a4db-1

[2015-12-17 15:31] rclai opened #4845 "[TextInput] Error setting property 'text' of RCTTextField with tag #144: Native TextInput(Hdsgdh) is 4 events ahead of JS - try to make your JS faster."
This error happens when you type extremely fast. The more components you have alongside it, the more likelihood that this will happen.

[code]

And if you hit submit IMMEDIATELY after typing, the value won't be set and the input may just be blank.

In order for the value to actually be there, you have to wait just a little bit, then you can hit enter and the value will stay.

This is on iOS.

[2015-12-17 15:33] vjeux commented on #4045
cc @forbeslindsay

[2015-12-17 16:00] satya164 commented on #4777
@dabit3 :+1:

[2015-12-17 16:06] christopherdro commented on #4787
@macelii I tried last night as wasn't able to reproduce this.

Closing this for now. Feel free to open it again if the issue comes back.

[2015-12-17 16:46] jsierles commented on #4770
Also, while this error looks bad, your modules should still install correctly. It's there to warn you that there may be incompatibilities. Unfortunately, peer dependencies today gives no guarantees about module compatibility.

Closing this issue, but feel free to discuss more here or on stack overflow!

[2015-12-17 16:46] #4770 closed

[2015-12-17 17:22] jsierles commented on #4777
Merged in #4847. Nice!

[2015-12-17 17:22] #4777 closed

[2015-12-17 17:28] jsierles commented on #247
Since there are no plans to add this to React Native core, and we're working now to clean up issues, please checking existing projects like react-native-desktop, or open an issue on [Product Pains](https://productpains.com/product/react-native). Thanks!

[2015-12-17 17:28] #247 closed

[2015-12-17 17:31] jsierles commented on #332
Given the lack of activity on this, and the success of [Product Pains]( https://productpains.com/product/react-native), I'm closing this issue to help with cleanup.

[2015-12-17 17:31] #332 closed

[2015-12-17 17:32] sbugert commented on #3820
@kritikinfo Thanks for the idea to simplify things!
I found that `mAdview.layout(0, 0, width, height);` will break when using the banner in a flex layout.
Something like `mAdview.layout(originalLeft, originalTop, width, originalTop + height);` resolves this.
Also, your solution lacks the ability to change the banner size with a prop. This is why I added an event to style the javascript view with t

[2015-12-17 17:33] jsierles commented on #355
@vishnevskiy @Sherlock92 any updates on this? Are you still seeing issues?

[2015-12-17 17:36] Sherlock92 commented on #355
@jsierles actually I can say I'm no longer seeing an issue :)

[2015-12-17 17:43] maxs15 opened #4848 "[Idea] Layer component"
Hey guys,

What do you think about creating a Layer component in order to improve performances ? Would it be difficult to implement ?
This issue is well described in this example: https://github.com/facebook/react-native/issues/3203
Coud be useful, I'm not an IOS expert but I guess that any view that doesn't accept any user input should be a CALayer.

[2015-12-17 17:44] jsierles commented on #355
@Sherlock92 Great - closing this out!

[2015-12-17 17:44] #355 closed

[2015-12-17 18:09] GuilhermeMedeiros opened #4850 "VideoCore integration doesn't work as expected"
I'm trying to integrate [VideoCore](https://github.com/jgh-/VideoCore/issues/247) with React Native.
I've build [a project](https://github.com/GuilhermeMedeiros/RNVideoCore) to demonstrate my issue.

Basically the previewView from VideoCore works once in a while, probably because the way React Native build the views.

Could somebody give me some help? Thanks in advance.

[2015-12-17 18:11] ForbesLindesay commented on #4045
I've written the changes needed to track unhandled rejections in promise.  If a few people want to review then/promise#116  I'll merge and release a new version.  It should then be fairly simple for someone to buidl the yellowbox into react-native.  It shouldn't be redbox because of the high probability of false-positives.  Ideally the yellow box should be updated with a method to turn it green an

[2015-12-17 18:35] vjeux commented on #4676
Our goal with React Native is to provide a consistent js environment across all the platforms. We should polyfill it. @skevy want to take on this task?

TaskRabbit also hit this issue because IOS 9 has Symbol but not IOS 7 and 8: http://tech.taskrabbit.com/blog/2015/12/17/react-native-launch/

[2015-12-17 18:42] pkieltyka opened #4851 "Architecture, plans and a roadmap - please"
Hello,

I'd like to start by saying RN is ground breaking, amazing and I appreciate the efforts of all authors and the community.

My team has been using React Native for the last 8 months, and my team has done some incredible work with it (not yet public) - including many open components and a scene router. I believe in the premise of RN, to have a native runtime instructed by logic coming from a

[2015-12-17 19:15] ide commented on #4842
I get this error with non-transformed list views too.

[2015-12-17 19:36] satya164 commented on #4842
@ide Oh, it was hard to say, as it doesn't always happen. I changed the title.

[2015-12-17 20:26] frantic opened #4852 "react-native upgrade overwrites .flowconfig"
For all other files but `.flowconfig` it asks if I want to override/skip.
Noticed when upgrading from 0.15 to 0.16

@foghina can you take a look?

[2015-12-17 20:42] satya164 commented on #4851
IMO the platform specific components is one of the strengths of React Native. Wrapping platform specific components are the only way to ensure that UI elements look familiar to a specific platform. iOS and Android apps should not exactly look the same. Building both sets of components with the same style across different platforms is only going to make the user experience worse.

For the cases whe

[2015-12-17 20:44] satya164 commented on #4851
BTW there are many fundamental things written in JS from the groundup, like `Animated`, `ListView` etc. But the performance isn't very great since these run on the JavaScript thread.

[2015-12-17 21:31] vjeux commented on #4851
Thanks for this question, this is something that we had many heated debate on over the years.

The goal is to have all the pieces to be able to implement any control you want using JavaScript that behave the same way between iOS and Android.

Long term, we'll probably end up implementing a core set of components in pure React Native that works on both platform as you mentioned. We actually already

[2015-12-17 21:33] vjeux commented on #4851
Also one thing I forgot to say, we are working on unifying our APIs on iOS and Android as much as possible. What you see for Android is really us trying to make it work (which should always be step 1!), now we need to make it good.

The general vision is that things that are the same on both platforms should have the same API.

[2015-12-17 21:58] pkieltyka commented on #4851
@vjeux thank you for the quick reply and offering the story of RN's thinking.

It all makes sense that these are the beginnings, I agree that implementing the whole set of components is a huge under-taking - first on iOS and then again ion Android.

I wonder if there is a balance of rebuilding certain core components in their respective native lands (ObjC/Swift and Java) built for the RN runtime,

[2015-12-17 22:22] satya164 commented on #4848
What's a Layer component?

[2015-12-17 22:41] maxs15 commented on #4848
A component based on CALayer instead of UIView currently used in the View component

[2015-12-17 22:42] vjeux commented on #4851
I really want React Native to support all of the above. Then the developer is going to be able to pick and chose which one it wants based on the situation.

[2015-12-17 22:48] browniefed commented on #4848
I'm assuming this is basically ReactNativeART, granted it doesn't currently support touch events.

[2015-12-17 23:01] ide commented on #4848
I don't know if we want to expose a Layer component. Maybe a flag on a component that tells it to use a layer? But this is the kind of prop that may get deleted in a future version of RN.

[2015-12-17 23:02] ide commented on #4645
#4801 is in master.

[2015-12-17 23:02] #4645 closed

[2015-12-17 23:05] maxs15 commented on #4848
I completely missed this ART component ! Awesome that's the kind of thing I was looking for :+1:
Would be definitely interesting to add some docs about it as specified in this issue: https://github.com/facebook/react-native/issues/4789

[2015-12-17 23:05] #4848 closed

[2015-12-17 23:06] Kuzmin commented on #4704
For what it's worth, these are actually properly labeled with the `@platform: ios` tag in the source code, but it seems that the documentation has not been re-generated since those labels were added.

So, a re-generation of the documentation should fix this.

[2015-12-17 23:08] browniefed commented on #4848
@maxs15 the only issue is currently unsupported for Android, and also not touchable at each particular layer. :/

[2015-12-17 23:20] maxs15 commented on #4848
Ok, well Android is another problem I'm sure this is on the roadmap.
I guess it doesn't support touch events in order to improve performances, the ability to wrap it with ``TouchableWithoutFeedback`` is enough.
Awesome examples in your blog posts @browniefed ! If someone is looking for a great example to use ART [check this out](http://browniefed.com/blog/2015/11/07/react-native-how-to-create-twit

[2015-12-17 23:22] philolo1 opened #4853 "Click on button inside scrollview when textinput is focused"
I encountered the following issue: I have a view with two textboxes and one text button. Ones i enter something in the textbox and click on the text button, i have to click twice so that it actually works. If i replace the Scrollview by a View it works. Is there a fix for it?

var TestScreen = React.createClass({
  render: function() {
    var self = this;
   return (
     <ScrollView>
       <Tex

[2015-12-17 23:37] christopherdro commented on #4843
@cxh80301983 You need to install Build tools through your sdk manager.
https://facebook.github.io/react-native/docs/android-setup.html#configure-your-sdk

[2015-12-18 00:06] jadsonlourenco commented on #4730
@toriumi0118 great to know, because I tested with v0.17.0-rc, that has new bugs and not fix this issue too. But the v0.16.0 give me the same result, leak, on real device (iPhone 6+, IOS 9.2, Xcode 7.2, OSX 10.11.2), I will try your advice now with v0.16.0, thank you.

[2015-12-18 00:52] rmevans9 commented on #4853
http://stackoverflow.com/questions/34290787/touchableopacity-as-item-in-listview-only-reacts-after-textinput-has-lost-focus

[2015-12-18 00:58] philolo1 commented on #4853
thanks!

On Friday, 18 December 2015, rmevans9 <notifications@github.com> wrote:

[2015-12-18 00:59] #4853 closed

[2015-12-18 02:12] cxh80301983 commented on #4843
thanks  I think that are configured

INSTALL_RECEIPT.json docs                 samples
README               etc                  sources
add-ons              extras               system-images
bin                  platform-tools       temp
build-tools          platforms            tools
/usr/local/Cellar/android-sdk/24.4

and
.zshrc file  export ANDROID_HOME=/usr/local/Cellar/android-sdk

[2015-12-18 02:13] InnerPeace080 opened #4856 "Transfer large data between js and native (java android)"
hi every body. i have a question.

i know we can use readableArray and writeableArray to transfer array between js and native.
But i must copy data from true array buffer to it.

Have any other way to do this (faster?) like a memory use by all js and native? I wish transfer a lot of data between them.

Thanks

[2015-12-18 02:18] tuneZola commented on #282
What about svg images?

[2015-12-18 02:47] cxh80301983 commented on #4843
thanks
I found a solution

####中文

  首先 确定 是用 brew install android-sdk
  安装后 会在 /usr/local/Cellar/android-sdk 这个目录
  同时 /usr/local/var/lib/android-sdk  这个目录也会存在一部分 源
  前者 一部分 以 link  后者的
  最后  要把 前者目录里的  platform-tools   build-tools   拷贝到   /usr/local/var/lib/android-sdk
  ANDROID_HOME=/usr/local/var/lib/android-sdk
  react-native run-android
</code>

###English

First determine with brew install

[2015-12-18 03:55] baumant commented on #289
I had this issue, and it was only resolved by replacing
[code]
with
[code]

[2015-12-18 03:57] #4843 closed

[2015-12-18 04:13] ide opened #4857 "Android tests are failing due to missing class"
https://circleci.com/gh/facebook/react-native/496

[code]

cc @mkonicek (probably need to add ReactBuildConfig for https://github.com/facebook/react-native/commit/8cd7730080976deeb9a94046717b0cbe32e494f7)

[2015-12-18 04:17] ide commented on #4857
Also, this code runs on whatever thread loads the class but `WebView.setWebContentsDebuggingEnabled` needs to run on the UI thread so moving this out of a static initializer might make sense too.

[2015-12-18 04:25] gphilipp commented on #3798
Tried today with react-native 0.17.  have a lot of these in the console after typing something like
`react-native init MyProject --verbose` :

[code]

[2015-12-18 04:26] gphilipp commented on #3798
Probably related to https://github.com/npm/npm/issues/9862.

[2015-12-18 06:58] castlesix opened #4858 "UIExplorer install failed"
run ./gradlew :Examples:UIExplorer:android:app:installDebug

error:
react-native/ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java:78: error: cannot find symbol
    if (ReactBuildConfig.DEBUG && Build.VERSION.SDK_INT >= Build.VERSION_CODES.KITKAT) {
        ^
  symbol:   variable ReactBuildConfig
  location: class ReactWebViewManager
Note: Some input files use or

[2015-12-18 07:00] christopherdro commented on #4858
Related #4857

[2015-12-18 07:14] mozillo opened #4859 "Can I update specific route in initialRouteStack when navigator jumpTo it?"
I am newbee in RN and I built a tabbar component with RN Navigator, but when initialRoute was rendered, I loaded all data to redux state ( it was happend after initialRouteStack ).I jump to second TabView, TabView did not refresh itself.What should I do , help me please

[2015-12-18 07:56] mozillo commented on #4859
It seems like redux did not work with initialRouteStack.

[2015-12-18 08:06] ide commented on #4859
`initialRouteStack` is used only during the initial render, hence its name. You probably want to reset the route stack. Go ahead and create a question on Stack Overflow if you find you need more help.

[2015-12-18 08:06] #4859 closed

[2015-12-18 08:06] ide commented on #4858
Same issue; closing this one.

[2015-12-18 08:06] #4858 closed

[2015-12-18 08:26] lawgimenez commented on #4695
If you set minifyEnabled true, this error will occur. False, otherwise.

[2015-12-18 09:04] shahankit commented on #3824
@PhilippKrone Did you find how to do so finally?

[2015-12-18 09:06] fender commented on #4047
@cosmith @lalith26 I am also still seeing the error described in this issue although on version `v0.16.0`. Permissions are added to my manifest. `NetInfo` is returning `undefined` on Android.

[2015-12-18 09:09] PhilippKrone commented on #3824
@shahankit I'm using the code snipped pasted above.

[2015-12-18 09:20] shahankit commented on #3824
ok

[2015-12-18 10:47] chaoslawful commented on #4055
Your home directory maybe contains the file `.babelrc` and referenced plugin `syntax-async-functions` in it. It is the case in my development environment.

[2015-12-18 11:37] mkonicek commented on #4857
Thanks for keeping an eye on it. My commit broke it. Fixed here: https://github.com/facebook/react-native/commit/a3d16c0178d3794991f1cb2f656b66078efa2a26

[2015-12-18 11:37] #4857 closed

[2015-12-18 11:50] klvs commented on #4648
@bobylito My apologies, I was mistaken in thinking fetch has a timeout. Somewhat surprised myself but should have research more. Regardless, hopefully my PR is of high enough quality and will help you if you're still looking for a fix.

[2015-12-18 13:14] maraujop opened #4861 "Area behind warnings is not clickable after dismissing them"
Hi,

We've recently updated our app to RN 0.16 from 0.13 and we've found these great new yellow boxes that show you warning messages. However, after you dismiss them, the area behind them is not clickable if you are using `TouchableNativeFeedback` or `TouchableHighlight`

As you can see in the screenshot, a button falls right behind the warnings. However only the thin blue line visible above it is

[2015-12-18 13:28] maraujop opened #4862 "GLOBAL.Text error when upgrading to 0.16"
Hi,

After upgrading to RN 0.16 we had some nasty red boxes like this one, in iOS and Android.

![zbrhi](https://cloud.githubusercontent.com/assets/252257/11897741/77186dc0-a592-11e5-834a-18e9fb399f61.png)

[code]

Apparently there are more people having this issue and asking for help online. We didn't know how to fix it, so we created a new app and starting moving chunks of code trying to find th

[2015-12-18 14:06] BigPun86 opened #4863 "No Images are loaded when i build release apk -> RN Android"
Recently when i buld my signed APK my Android App loads without any Images. I had this before too, but forgot how i fixed it :( . No idea anymore what the reason was...Maybe someone has an idea?
When i build the debug apk (react-native run-android) Images are loaded.....

[2015-12-18 14:22] mkonicek commented on #4789
No one is working on it at fb but I believe it's good to go. If anything doesn't work please report issues / send PRs.

You're right it doesn't have any docs which is sad: https://github.com/facebook/react-native/blob/master/Libraries/ART/ReactNativeART.js

If anyone can add docs to that file that would be awesome :)

[2015-12-18 14:22] #4789 closed

[2015-12-18 14:23] mkonicek commented on #3980
yay! :rocket:

[2015-12-18 14:24] mkonicek commented on #3980
The fix is in 0.17.0-rc go out in 0.17.0 later today. Closing.

[2015-12-18 14:24] #3980 closed

[2015-12-18 14:29] prashanth1509 commented on #4789
@browniefed I'm following your examples :)

[2015-12-18 14:30] mkonicek commented on #3004
@Ehesp Totally agree. We used to have a JS-based solution internally but later realized a native implementation works better in hybrid apps (apps where only parts are built with React Native).
Here is the JS implementation, feel free to try it out: https://gist.github.com/mkonicek/1a8bd7253e3257687228

It hooks into the `Portal` here: https://github.com/facebook/react-native/blob/master/Libraries/

[2015-12-18 14:53] jaysoo commented on #4851
@pkieltyka This would be useful for contributors as well. Something like [react-future](https://github.com/reactjs/react-future) repo is useful to see future goals of reactjs.

Personally, I don't think all platforms need feature parity because apps in Android, iOS, and beyond will probably need different UI/UX to make them feel "native" to their respective users. Meaning that certain components m

[2015-12-18 15:05] shtefanntz commented on #4708
I'll have a pull request in a few hours for this.
I would need some details whether colors like "#ABC" are valid values for react-native.
Also, can anyone confirm if this is list is supported by react-native?
http://www.w3schools.com/cssref/css_colornames.asp

Thanks!

[2015-12-18 15:22] vjeux commented on #4851
@jaysoo: yeah those are bugs. Opacity: 0 not having the same touch behavior I think has been fixed. We've got a plan for overflow: visible not working on android. I'm not sure i'm aware of any bug concerning padding though.

[2015-12-18 16:38] satya164 commented on #4708
@shtefanntz hex, rgb and rgba colors are supported. not sure about others.

One quick way to verify the supported named colors will be to create a small React component on http://rnplay.org

[2015-12-18 17:35] christopherdro commented on #4708
@shtefanntz Take a look at [processColor](https://github.com/facebook/react-native/blob/master/Libraries/StyleSheet/processColor.js).

[2015-12-18 18:16] shtefanntz commented on #4708
Thanks for the tip, @christopherdro . I was going to reimplement some of the code from there :)

@satya164, forgot about this site. Thanks!

[2015-12-18 18:34] theoriginalgri commented on #4837
Did you try to set ```android:windowSoftInputMode``` explicitly to ```adjustResize``` (or another option that suits your view) in your ```AndroidManifest.xml```?

I also had strange behavior with keyboard and the resize without setting this option myself.

[2015-12-18 18:41] jaysoo commented on #4851
@vjeux This is the one I ran into https://github.com/facebook/react-native/issues/3485

[2015-12-18 19:20] ide commented on #4857
Thanks Martin!

[2015-12-18 19:20] maxs15 commented on #3114
+1

[2015-12-18 19:27] ide commented on #4856
React Native isn't designed for this because the JS <-> UI message channel needs to run at 60fps for smooth UI. Best to keep your large objects only in JS or only in native and design your APIs around that constraint.

[2015-12-18 19:27] #4856 closed

[2015-12-18 20:48] ide commented on #4861
Just so you're unblocked, add this to your code:

[code]

[2015-12-18 21:27] rclai opened #4867 "[Animated.Value] Add a getter for the value?"
I notice that there's no getter for it, is there a reason why?

[2015-12-18 21:30] ide commented on #4867
Animated has this constraint since the values may one day be moved to the native side instead of being in JS so you should use the asynchronous events (I forget the specifics but you can asynchronously get updates from animated values) instead of synchronously getting the value.

[2015-12-18 21:30] #4867 closed

[2015-12-18 21:35] inithink opened #4868 "ProgressBarAndroid doesn't work in real device."
I'm trying to make loading progressBar on android (0.16.0).

With Genymotion, I'm very excited with react-native's ProgressBarAndroid. It's great.

But when I test with real devices, It doesn't work (does not appear).

The devices were Samsung SM-T320, SM-G906

I tried [react-native-material-kit](https://github.com/xinthink/react-native-material-kit) alternative to progressBar.

When I used [Spinn

[2015-12-18 22:12] bleonard commented on #2618
I realized something that seems interesting, but it's not clear to me how it applies.

This whole [TVML](https://developer.apple.com/library/tvos/documentation/LanguagesUtilities/Conceptual/ATV_Template_Guide/index.html#//apple_ref/doc/uid/TP40015064-CH41-SW1) thing is basically the same approach as react native.

* The application delegate launches the javascript
* the JS renders a template and t

[2015-12-18 22:27] christianscheuer opened #4869 "Using Images as backgrounds, handles etc. of components is not easily feasable due to lazy/off-thread loading"
I think there might be a use case for Images which isn't properly supported with the current off-thread decoding model for Images.

I am currently translating an iOS app written in Objective C and partly Xamarin to react native. A lot of my current custom controls/components are skinned with images - be it slider handles, scrollbar handles, component backgrounds etc. This works great, is beautiful

[2015-12-18 22:31] christianscheuer commented on #4869
Thank you, bot. Please see the following stackoverflow discussion for further details, and why we think this is something that should be supported:
http://stackoverflow.com/questions/34272286/how-to-prevent-static-images-in-react-native-from-stuttering-loading-asynchron/34353999#34353999

[2015-12-18 23:00] BenLeggieroNCR commented on #2758
Would you please reopen this issue and ask that someone else to confirm?

[2015-12-18 23:34] RickFrom1987 commented on #240
Built new react-native app: 2 minutes.
Searching for instructions on how to view app on phone: 1 hour!

[2015-12-19 01:52] apike opened #4870 "TouchableHighlight does not work unless TouchableNativeFeedback is also included"
As of 8a9b534a695c50b0199af75fe1b39d69fbddc557, the <TouchableHighlight> component doesn't work on iOS (as in, taps cause no highlight and onPress is not called) unless TouchableNativeFeedback (the Android equivalent) is also included. This isn't documented anywhere, so I believe it's a bug. I'd like to make the time to put up a reduced testcase, but in the meantime this is here for folks searchin

[2015-12-19 02:01] vjeux commented on #2758
No one is working on it neither any prototype has ever been started by the team.

[2015-12-19 02:16] satya164 commented on #4870
@apike Can you give a code sample of what you're facing? I don't see how that commit is related though.

[2015-12-19 02:33] cancan101 commented on #4862
Duplicate of #4811.

[2015-12-19 03:18] chapinkapa commented on #3974
My nvm version is `/usr/local/var/nvm`, but it is trying to looking for nvm at `~/.nvm`.

Any suggestions

[2015-12-19 03:20] satya164 commented on #4869
@christianscheuer Hi. If you want this as something to be worked on by the team, please post it on [Product Pains](https://productpains.com/product/react-native/)

An alternative for you will be to write a native component which does this for you.

[2015-12-19 03:37] InnerPeace080 commented on #4856
Thank for your reply

[2015-12-19 03:39] satya164 commented on #4842
@ide Have you found the reason, or any workarounds?

[2015-12-19 03:45] shadowpage commented on #4728
Hi @jaygarcia, it's not exactly the same issue with #1831, since grid layout works on 0.11rc (and older version).

I think listview wants to show 11 lines so it requests 11 cells because it believes there's only one cell per line. If it knows there're 3 cells per line it would request 33 cells then there would be no problem at all! :)

[2015-12-19 03:52] frostney commented on #1835
Testing against React Native 0.17, this does not result in a crash any more.

[2015-12-19 03:57] #1835 closed

[2015-12-19 04:08] hasen6 opened #4871 "How to get the version of react-native"
How can I show the version of react native in terminal?

[2015-12-19 04:15] satya164 commented on #4871
[code]

[2015-12-19 05:58] hasen6 commented on #4871
That was more complex than I thought, I was expecting something like

$ react-native version

to be the answer. What you suggested didn't work, it returned directory not found but its ok, I was able to find out from your answer that I could just go directly to node_modules/react-native/package.json and look in the file to see the version number.

Thanks for your help.

[2015-12-19 06:36] dozenlue opened #4873 "In 0.17, WebView on Android failed to show UTF-8 characters"
Making JS able to set default encoding of a web view might be a solution. e.g. In Java, to call
WebSettings settings = mWebView.getSettings();
settings.setDefaultTextEncodingName("utf-8");

In React Native JS, add a property "defaultTextEncodingAndroid"?

[2015-12-19 07:00] satya164 commented on #4871
@hasen6 Probably you ran it from a wrong directory?

There is `react-native --version`, but it'll give the version of `react-native-cli`.

Anyways. Closing this issue now

[2015-12-19 07:04] Obooman commented on #2301
@dubert Awesome!It's really a great solution(I don't like the scale animation) and thank you so much.Besides,I wrapped <Navigator/> with <View> element whose background color is black,and set the config opacity form 1 to 0.8.It seems like we have the darkened overlay ,something like this:
![overlay](https://cloud.githubusercontent.com/assets/9863282/11911905/4e42ebb2-a661-11e5-81e4-ebcf7a0bcc04.pn

[2015-12-19 07:05] #4871 closed

[2015-12-19 07:09] hasen6 opened #4874 "How to upgrade React Native"
I wanted to follow up my previous issue regarding showing React Native version but it was closed too quickly so am posting another. I have an app running version 0.16 which is suffering from the memory leak problem, so I wanted to upgrade it to 0.17. I tried:

$ React-Native upgrade

which seems to do something but upon checking the package.json in node_modules/react-native/ it seems to still show

[2015-12-19 07:13] satya164 commented on #4874
First install the RN version you want to upgrade to,

[code]

Then do,

[code]

http://facebook.github.io/react-native/docs/upgrading.html#1-upgrade-the-react-native-dependency

[2015-12-19 07:13] #4874 closed

[2015-12-19 07:21] hasen6 commented on #4874
Ok thanks that worked great. I tried

$ npm install

and then

$ react-native upgrade

but that didn't do it. It seems you have to specifically select the version like you described. Its upgraded now no problem.

[2015-12-19 07:24] hasen6 commented on #4874
Confirmed, the method in the link you gave won't upgrade from 0.16 to 0.17. It has to be done as you described here.

[2015-12-19 07:30] heliumsoule opened #4875 "[Memory Leak] Animation Issue"
Hey guys,

I'm trying to build a mobile pool game in React Native for experience and am running into problems concerning garbage collection. Right now I have ten circles that are being rendered simultaneously that bounce around the screen. However, memory consumption for the application is increasing over time and I don't know how to address this issue.

It seems like this was a React Native probl

[2015-12-19 07:31] satya164 commented on #4874
@hasen6 The docs tell you to change in the `package.json` file first. But the way I said is a bit easier.

May be we should update the docs. Care to send a PR?

[2015-12-19 07:35] satya164 commented on #4868
@inithink Works fine for me. Can you provide some sample code? May be a demo on http://rnplay.org ?

[2015-12-19 07:37] hasen6 commented on #4874
Ok I see but there are so many entries of 0.17 in the package.json file to change, also using your method here its all done automatically. Also if you change the version number yourself you have no way of knowing if it was successful or not since as far as I know, checking the package.json file is the only place to check the version number.

And a PR is what exactly? I'm new here as you can tell.

[2015-12-19 07:41] satya164 commented on #4874
@hasen6 So many entries? There should be a "react-native" entry with the version number. Example - https://github.com/scrollback/io.scrollback.neighborhoods/blob/master/package.json#L11

You have to run `npm install` after changing the version number. It's the same as `npm install -S package@version`.

PR, short for pull request :)

I was saying we should update the documentation to say that we ca

[2015-12-19 07:47] satya164 commented on #4844
Try clearing the package cache may be?

[code]

[2015-12-19 07:52] hasen6 commented on #4874
Yes but its like this in package.json:

      "react-native@0.17.0",
      "/Users/hasen/react/dongbeihua"
    ]
  ],
  "_from": "react-native@0.17.0",
  "_id": "react-native@0.17.0",
  "_inCache": true,
  "_location": "/react-native",
  "_nodeVersion": "4.2.1",
  "_npmUser": {
    "email": "martin.konicek@gmail.com",
    "name": "mkonicek"
  },
  "_npmVersion": "2.7.1",
  "_phantomChildren": {},

[2015-12-19 07:54] satya164 commented on #4874
@hasen6 I was talking about the changing the version in `package.json` in your project root, not under `node_modules`.

[2015-12-19 07:55] hasen6 commented on #4874
Ok but shouldn't it also change in node_modules? It changed after using your method here, but not with the method in the docs.

[2015-12-19 07:57] satya164 commented on #4874
@hasen6 After changing it and running `npm install`, it will automatically install the new version under `node_modules`.

May be it didn't change previously because you didn't run `npm install`.

[2015-12-19 08:08] satya164 commented on #4837
@benzsuankularb You need to the following,

1. In your `AndroidManifest.xml`, change/add `android:windowSoftInputMode` to `adjustResize`. The default is Pan which will move your screen up.

2. Listen to `keyboardDidShow` and `keyboardDidHide` events and add a spacer at the bottom of the view.

Here is an example `KeyboardSpacer.js`,

[code]

[2015-12-19 08:20] satya164 commented on #240
All instructions you need are here,

http://facebook.github.io/react-native/docs/running-on-device-ios.html#content
http://facebook.github.io/react-native/docs/running-on-device-android.html#content

[2015-12-19 08:23] satya164 commented on #3874
@skevy May be we should add these steps to `react-native upgrade`?

[2015-12-19 08:28] hasen6 commented on #4874
Like I said above: I ran

$ npm install

and then

$ react-native upgrade

I actually tried this again to be sure when I received your reply 'cos I too thought it should update to the latest version with just npm install....but surprisingly it didn't. Afterwards I tried your method above and then it did update.

[2015-12-19 08:30] satya164 commented on #4874
It's 3 steps,

1. Change version in `package.json`
2. Run `npm install`
3. Run `react-native upgrade`

Or

1. Run `npm install -S react-native@version`
2. Run `react-native upgrade`

[2015-12-19 08:46] hasen6 commented on #4874
Oh I see, update the package.json in your root directory, then it will know which version to update to, otherwise 'npm install' will just do nothing at all. Ok I get it now. Would be good to update the docs.

[2015-12-19 09:42] kinhunt commented on #499
@sahrens expecting. how is it going?

[2015-12-19 10:17] jugimaster commented on #4062
As a bit of a side-note, I can't help but think _something_ is wrong when we have a separate GitHub repo for _one tiny source file_, with reams of extraneous files lying around, and no one bats an eye.

It was always possible _not_ to pollute the global namespace with wild abandon, but the front-end hive-mind decided that no one should need to be able to arrange his <script> tags in the correct or

[2015-12-19 11:22] cosmith commented on #4047
Looks like it was fixed in 0.17 https://github.com/facebook/react-native/commit/cf892a96d693af778679278549fc8fa354326f43

[2015-12-19 11:31] ms88privat commented on #4100
After I upgraded from 0.15.0 to 0.17.0, I had to change the `resizeMode constant` from `UIViewContentModeCenter` to `UIViewContentModeScaleAspectFill` to get it working again.

This should be the same, right?

@meznaric

[2015-12-19 13:03] Sh3rawi opened #4876 "[Android] Package name change leads to textAlign Error"
Im trying to change my package name in android. Before the change the app builds and run correctly.
After changing the package name, the app builds, but the red screen comes with a "Error while updating property 'textAlign' of a view managed by: AndroidTextInput".

The change i made was :
- Change android/app/build.grade applicationID.
- Change AndroidManifest package name.
- Change package name i

[2015-12-19 14:07] bibodeng commented on #2806
I also use VPN, but nothing changed, I just fail and try agian on the old folder(choose yes when terminal ask continue), and it successd!
node v4.2.3
npm v2.14.7
Mac OSX , EI Capitan

[2015-12-19 14:22] #4876 closed

[2015-12-19 16:54] AaaChiuuu commented on #3004
Oh man, I don't think anyone currently uses it. In fact, it got broken when we removed BaseViewPropertyApplicator so styles weren't properly applied to the host view. I really, really wish I could get on this to unblock you guys but my hands are all tied with internal integration and it sounds like the London side of our team is getting stretched too. Krzysztof attempted a fix before he left but i

[2015-12-19 16:57] PhilippKrone opened #4877 "Android: Public interface to recreateReactContextInBackground()"
Hi,

is it possible to make
[code]
 a public interface? I need to reload RN from within JS and I thought about writing a native module to call this method.

In iOS, i use
[code]
@mhorowitz What do you think about that? I've seen that you have worked on this part. Would you accept a PR for that?

Regards
Philipp

[2015-12-19 17:00] Richard-Cao commented on #4877
you can use
[code]
this method

[2015-12-19 17:00] Richard-Cao commented on #4877
you can use
[code]
this method

[2015-12-19 17:17] satya164 commented on #4877
@PhilippKrone You can just add some method in Java which restarts the activity and call the method from JS. And then on the restart, set the path to new URL.

[2015-12-19 17:21] PhilippKrone commented on #4877
@satya164 Yea I know, but I wonder whether using the method recreateReactContextInBackground() isnt easier / better, as 1) its more like iOS concerning reloading bridge I think and secondly, the description of this method seems to say exactly what I want to be - only point is that it isnt public and I wonder / would like to know why. Does it have any drawbacks to use this method?

[2015-12-19 17:32] satya164 commented on #4877
@PhilippKrone I've no idea what this method actually does. And making methods public always has a risk, you can't change them ever! I think its fine though, restarting activity.iOS doesn't have a concept of activity at all, so we can't really map everything to how it works on iOS. I guess code push also restarts the activity.

If this is about OTA updates to bundle, in the app I'm working on, I do

[2015-12-19 17:36] PhilippKrone commented on #4877
@satya164 Yea, concerning not being able to change it ever, I agree. I'm using codepush for OTA, but I'm currently experimenting with reloading bundles dynamically for a different use case - and as "createReactContextInBackground()" is public, I was just wondering why "recreateReactContextInBackground()" isnt - and especially whether a PR here would be fine or not ;)

[2015-12-19 17:39] satya164 commented on #4877
@PhilippKrone Okay. Cool then.

If I may ask, what's the use case? Just eager to know.

I don't know if there are any plans to make it public or not though May be you can send a PR and discuss the use cases and see?

[2015-12-19 18:08] satya164 commented on #3068
@mcgsoftware Are you talking about Android or iOS? In any case, should be easy to fix, just need to dispatch the close event from Native side after failure.

[2015-12-19 20:03] gre opened #4878 "[Android] TouchableOpacity transparency bug"
Tested on RN 0.17.
TouchableOpacity transparency is not working on Android, and it's inconsistent with iOS.

<img width="662" alt="screen shot 2015-12-19 at 21 00 33" src="https://cloud.githubusercontent.com/assets/211411/11914995/b9efa29c-a693-11e5-9b62-09cc3d0bbab6.png">

[code]

Note that, if removing the `<TouchableOpacity>`, it works the same:

<img width="644" alt="screen shot 2015-12-19 at

[2015-12-19 20:20] skevy commented on #3874
@satya164 seems reasonable to me.

[2015-12-19 20:32] ChrisSki commented on #3948
+1 to @SunLn.

node: 4.2.3
npm: 2.14.7
nvm: 0.29.0

[2015-12-19 21:32] BillyBarbaro commented on #4715
Hi there.  I'm new to the community and was hoping to take this issue on as a first task.  I started playing around with it; however, I can't seem to reproduce it.

I tried testing it with a piece of code like this:

    var obj = {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Origin': '',

[2015-12-19 21:34] JAStanton commented on #4715
Strange that's more or less exactly what I did. Lemme go back and check the
react version I was on
On Sat, Dec 19, 2015 at 1:33 PM Billy Barbaro <notifications@github.com>
wrote:

[2015-12-19 21:48] shahankit commented on #1665
Does any have an idea how to do source map from the crashlytics crash stack trace. It shows me line in the bundle. Quite useful but yeah any inbuilt tool which react native uses internally while showing line number in dev mode.

[2015-12-19 22:40] zackify commented on #3974
This is a good solution for now if you use nvm: `ln -s /Users/zach/.nvm/versions/node/v5.3.0/lib/node_modules/* /usr/local/lib/node_modules` @chapinkapa

[2015-12-19 22:48] chapinkapa commented on #3974
Oh! Of course. Good idea. Although another solution would be better for react-native in general.

Sent from my iPhone

[2015-12-20 01:29] Grmiade opened #4879 "Unable to fetch location within 0s."
When i try to get my position with the proposed example in docs (https://facebook.github.io/react-native/docs/geolocation.html), i have this error: `Unable to fetch location within 0s.`
I have tried on simulator with a location and on device. Same error :/
An idea ? I use v0.17.0.

[2015-12-20 03:14] umhan35 commented on #3441
Any update on this? `automaticallyAdjustContentInsets` is not consistent for my app too.

[2015-12-20 04:42] Geequlim commented on #3199
The same problem.Thanks for your sharing oren!

[2015-12-20 04:53] onzag commented on #4414
I need to change the timeout, where is such option in react native?

[2015-12-20 06:44] steve-ng opened #4881 "Can't find variable: __fbBatchedBridge (line 1 in the generated bundle)"
new project on react-native 0.17.0 Android

does anyone experience this too?

[2015-12-20 06:46] am5a03 opened #4882 "Failed to start project if .babelrc is added"
I've added a .babelrc in my project's root directory
[code]
It cannot be started, I got the same error message as in https://github.com/facebook/react-native/issues/4690
[code]

However, this .babelrc works in one of my previous projects, which is using react-native 0.14.2
Here is an excerpt of the dependency of this new project:

[code]

And the dependency of my old project
[code]

Both are using

[2015-12-20 08:32] qbig commented on #4881
@steve-ng There is a chance that your packager is not running. This happens when you tried to pass an empty bundle file to jsc to execute.

[2015-12-20 09:26] steve-ng commented on #4881
thanks @qbig is there any possible place that I can check this? I didn't fiddle with my packager

[2015-12-20 09:45] IanWang commented on #4195
I got the same issue, so how did you solve this one? @Thorbenandresen

[2015-12-20 10:19] Pikaurd commented on #4879
@Grmiade That seems a bug in v0.17.0
[A quick fix](https://gist.github.com/Pikaurd/636069c6ee4cb03c89d1) here
but this version will ignore `accuracy`. :(

[2015-12-20 10:20] yonatanmn opened #4885 "not sure if javascript"
please review code example

https://github.com/facebook/react-native/blob/master/docs/Animations.md

typescript perhaps?

[2015-12-20 10:45] ms88privat commented on #4885
@yonatanmn What is your question or bug report here? The code examples in the link are in javascript 2015 (e.g "ES6" / "ES2015" ).

[2015-12-20 10:52] ms88privat commented on #4882
@am5a03 since v0.16.0 React Native uses BABEL6, which currently does not support decorators, so they will not work. From the Release notes: `JS decorators won't work until` [T2645](https://phabricator.babeljs.io/T2645) `lands in Babel. It's being worked on. The proposal for decorators is not final and therefore Babel 6 left decorator support out for now.`

And since then also .barbelrc are not sup

[2015-12-20 10:59] yonatanmn commented on #4885
line 2:
` constructor(props: any) {`
8:
`render(): ReactElement {`

I think the rest is fine

[2015-12-20 11:05] ms88privat commented on #4878
I'm not sure but you could try something like this:

[code]

[2015-12-20 11:07] satya164 commented on #4885
@yonatanmn It's ES2015 + JSX + Flow

http://flowtype.org

[2015-12-20 11:08] #4885 closed

[2015-12-20 11:09] gre commented on #4878
Image can have children? weird
I can probably find a workaround getting this to work (like moving the touchableopacity on top) but that still make the initial code a bug.

[2015-12-20 11:11] yonatanmn commented on #4885
ahhh flow... thx!

[2015-12-20 11:12] yonatanmn commented on #4885
maybe
`/* @flow */`
will be informative

[2015-12-20 11:17] satya164 commented on #4878
@gre If you want to set the image as the background, the correct way would be to add the element as children of `<Image />` as @ms88privat described.

[2015-12-20 11:32] Grmiade commented on #4879
Thanks @Pikaurd, i will test that.

[2015-12-20 11:41] gre commented on #4878
Ok cool :) nice tip, thanks.

But that's still a bug (or at least an inconsistency with iOS) on absolute
positioning I guess (imagine if my layer with opacity takes the full
viewport).

2015-12-20 12:18 GMT+01:00 Satyajit Sahoo <notifications@github.com>:

--
Gaëtan Renaudeau, greweb.fr / @greweb <https://twitter.com/greweb> /
Github: gre <https://github.com/gre>

[2015-12-20 11:43] satya164 commented on #4878
@gre Yeah. Can you post this on product pains :)

[2015-12-20 11:43] benzhe commented on #4747
It seems will be fixed in [0.17.x](https://github.com/facebook/react-native/commit/5775d9e1d00b4c919ee97bdf780c42bab7cb2d5e#diff-c2d241af0fe113563c7eba04f7c31ade).

[2015-12-20 11:43] #4747 closed

[2015-12-20 11:50] NexusLee commented on #4881
I got this error too

[2015-12-20 12:15] NexusLee commented on #4881
![image](https://cloud.githubusercontent.com/assets/4703440/11917917/fb60126c-a755-11e5-9bfe-8be1646c08b3.png)

[2015-12-20 13:25] wzpan commented on #4873
Same problem. Messy codes are shown when the page contains UTF-8 characters.

[2015-12-20 13:49] wzpan commented on #4873
My problem may have a little bit difference. I tried to display the content of [this page](http://paichyperiondev.github.io/api/posts/ciiekajt400065qtg01uwyczb.json) via setting the prop `html` of RN WebView component.

Part of the code looks like this:

[code]

And I can see only messy characters.

[2015-12-20 14:12] seb0zz opened #4886 "iOS: Geolocation with NSLocationAlwaysUsageDescription"
I use version 0.17.0 of React Native

Geolocation works for me if I use `NSLocationWhenInUseUsageDescription` like mentioned in the documentation on https://facebook.github.io/react-native/docs/geolocation.html. Unfortunately it doesn't ask for the permissions if I specify `NSLocationAlwaysUsageDescription` in my `Info.plist`. Is this a known issue?

Could also be related to #4879

[2015-12-20 14:59] Geequlim commented on #4842
The same issue. 0.16 and 0.14 doesn't appeared.

[2015-12-20 15:20] mhagmajer commented on #2700
+1

[2015-12-20 15:28] skevy commented on #4879
@Grmiade would you be able to try this on master and let us know if the bug still exists?

[2015-12-20 15:49] eyaleizenberg commented on #4229
@brentvatne I am still unable to do this with a ScrollView. I now have the same issue also in a normal View element. What am I missing?

[2015-12-20 15:53] eyaleizenberg commented on #4229
@brentvatne Sorry, my bad about it being a regular View. But I do think that it's related to the fact that the TextInput is within this same ScrollView. Suggestions?

[2015-12-20 15:54] ibraheemabukhdair opened #4887 "How can I get the selected text from TextInput"
I was wondering how can I get selected text from TextInput? It does not seem to be a UIControl with events at all. If someone could give me some direction that would be great. Thank you.

[2015-12-20 16:16] liyaodong commented on #3948
I'm using [tj/n](https://github.com/tj/n) to manage node, same problem,can fix with `source ~/.bash_profile` & @SunLn solution  hope a official solution .

[2015-12-20 16:40] paramaggarwal commented on #1665
@shahankit Make a source map when you generate the JS bundle and use the `source-map` npm module to map the line number on Crashlytics back to the original line number in your source code.

[2015-12-20 16:42] bodyflex commented on #4048
+1

[2015-12-20 17:40] christopherdro commented on #4886
@seb0zz I think if you've accepted Location permissions once it won't ask you again unless you clear the settings.

It might be easier to just setup a new app and test `NSLocationAlwaysUsageDescription`.

[2015-12-20 17:45] AlexeyToksarov commented on #4672
Working link: https://productpains.com/post/react-native/packager-whole-program-optimisations-taking-forever-on-reload/

[2015-12-20 17:54] niftylettuce opened #4888 "Add more documentation on `Dimensions`, e.g. `Dimensions.get('window').width;`"

[2015-12-20 17:56] niftylettuce commented on #4888
In particular we should document that stuff like `Dimensions.get('window').width` will return points and not pixels.  Per <http://www.paintcodeapp.com/news/iphone-6-screens-demystified>.  We should document some examples maybe?  This is super useful for responsive design with screen height sizes.

[2015-12-20 18:11] onzag commented on #4881
I'm getting this error as well, however if I switch to production then it doesn't happen.

[2015-12-20 18:16] qbig commented on #4881
@steve-ng not sure but if you 'npm start' at your project dir did the packager start normally? @onzag if you switch to production, you would be using a pre-bundle file. So it wouldn't happen.

[2015-12-20 18:21] onzag commented on #4881
@qbig I understand that, what I'm supposing is that the server is not actually running; but my question is, as I run react-native run-android I don't really seem to get any server running, I'm trying to find out where it is, but all the good guides I find are for xcode. I'm a bit lost here.

[2015-12-20 19:02] trungdq88 commented on #4881
Having a same issue here.

[2015-12-20 19:03] trungdq88 commented on #4881
Having a same issue here. Can't run the default project on Android (iOS still works).

[2015-12-20 19:14] onzag commented on #4881
@qbig @steve-ng @trungdq88 I found what's the reason of this issue, first make sure you have watchman installed if you're on windows or linux; https://facebook.github.io/watchman/docs/install.html

Then you make sure to run react-native start before running react-native run-android so that the server, and the packager is running... you'll most likely anyway hit the error.

Shake your device or hit

[2015-12-20 19:16] kutenai commented on #3974
I am not using nvm because I have an alternate nodejs prefix, and nvm would  not install unless I removed that from my nodejs install, and used the 'standard' prefix. I used the alternate prefix for a reason, so I didn't want to conform to nvm's limitations.

I saw that several people were advocating modifications to react-native-xcode.sh in order to resolve the missing path issue. I was not comfo

[2015-12-20 19:17] onzag commented on #4881
Also make sure you have the gradle daemon running just that it doesn't take ages. https://docs.gradle.org/2.9/userguide/gradle_daemon.html happy coding :)

[2015-12-20 19:20] trungdq88 commented on #4881
@onzag thank you, it works now. Btw, my server is automatically start when I run `react-native android`, so I think might be a gradle daemon problem. (Or is it just works because I just have restarted my device?)

[2015-12-20 19:30] onzag commented on #4881
@trungdq88 well to be fair I'm not sure, I've never used gradle before, also, I'm on linux mint now, it might be a platform differences problem, if you're using mac that's what it supposed to happen.

I also noticed that the device has to be connected to the same network of the computer, I'm trying to find a workaround for offline usage, because making sure that the device is connected wirelessly

[2015-12-20 20:47] seb0zz commented on #4886
@christopherdro That was my first thought, too. So I tested my app on a real iOS device. I am now able to reproduce the problem by the following steps:

1. Add `NSLocationWhenInUseUsageDescription` to my plist file
2. Deploy to my real device
3. Get asked for permissions
4. Uninstall the app from my real device
5. Change the key in my plist file to `NSLocationAlwaysUsageDescription`
6. Deploy to m

[2015-12-20 20:56] bmcmahen commented on #4229
I'm having this same issue. The basic problem: I want the scrollview to dismiss the keyboard when touched, but I don't want it to 'cancel' or 'prevent default' the user's touch. In other words, I don't want the user to have to 1) touch a <TouchableHighlight> to close the keyboard, and 2) again touch the <TouchableHighlight> for the resulting action to occur. The initial touch should perform both (

[2015-12-20 21:30] niftylettuce opened #4890 "Android - Method POST must have a request body"
It looks like we can't send POST requests without a body.

Might be a bug with our HTTP Android layer?

https://github.com/square/retrofit/issues/854
https://stackoverflow.com/questions/30626100/failed-to-get-request-token-method-post-must-have-a-request-body

Not sure where it comes from, but I'm assuming the patch for now is to just send over a blank request body.

[2015-12-20 22:06] ide commented on #4842
This is fixed in https://github.com/facebook/react-native/commit/e6d498b99b984187a56991c112c6d5df160ad538

[2015-12-20 22:06] #4842 closed

[2015-12-20 22:06] ide commented on #4672
AFAIK the plan is to run WPO only when minify=true.  cc @tadeuzagallo

[2015-12-20 22:38] satya164 commented on #4842
May be we should cherry-pick this to 0.17.1? @mkonicek

[2015-12-20 23:08] mrcmrc opened #4893 "Node Gyp build fail"
System: Windows 10
Location:Brazil
Hello, i try start a project using react-native, but the cmd returns a node gyp error.

C:\Users\anton\trimtrim>react-native init AwesomeProject
This will walk you through creating a new React Native project in C:\Users\anton\trimtrim\AwesomeProject                Installing react-native package from npm...

C:\Users\anton\trimtrim\AwesomeProject\node_modules\rea

[2015-12-20 23:47] skevy commented on #4672
If anyone wants a quick fix in lieu of the update, comment this out: https://github.com/facebook/react-native/blob/57a76c0c014eacb9c138ab8faf9aaabd964e416d/packager/react-packager/src/Bundler/Bundle.js#L113-L124

Don't forget to put it back in before you bundle!

[2015-12-21 00:27] christopherdro commented on #4888
@niftylettuce That sounds like a good idea!

Do you think you can provide a few examples and submit a PR?

[2015-12-21 00:36] christopherdro commented on #4882
Closing for #4062

[2015-12-21 00:36] #4882 closed

[2015-12-21 01:47] julipur commented on #3975
I'm having the same problem with numerous packages. I start working on a new project and it works. I bring in a new package and it randomly stops working and I start getting the same error looking in users/node_modules. Does not matter which package. I start a new project and add the package it is complaining about and it works.

I am new to node, but have been playing with react-native for last c

[2015-12-21 01:55] TanTan-TT opened #4894 "[Android]Upload FormData error"
This is my code
[code]
Will get server error

**The body of your POST request is not well-formed multipart/form-data**

I found it is a bug for RN or okhttp, because RN send following request
[code]
Noticed that **Content-Length: 92**, this should not be included in the multipart body according to [RFC1867](https://www.ietf.org/rfc/rfc1867.txt)

And then, I searched RN's [source code](https://gith

[2015-12-21 01:58] TanTan-TT commented on #4894
@satya164 This is my analysis.

[2015-12-21 02:18] hiquanta commented on #4881
how to solve this?

[2015-12-21 03:23] fov42550564 commented on #4823
+1

[2015-12-21 03:34] fov42550564 commented on #4823
cd /var/folder && sudo find -name react-packager*

[2015-12-21 03:43] Charca commented on #2560
If you just want to have your custom NavBar in a separate module, you don't need to wrap it in a new component, and you don't need to proxy all methods of the original component. Unless you really need to wrap the NavigationBar in a React component, I recommend modularize it like this:

[code]

And use it in your component like:

[code]

[2015-12-21 03:53] atlas1119 opened #4896 "tabbar run on 0.17 error"
my app run on 0.16 ,no error ,but run 0.17  run error.  the reason is tabbar icon is error.
![image](https://cloud.githubusercontent.com/assets/9478646/11923089/54ee48de-a7d9-11e5-9fcd-c217648d2a10.png)

please help me, why?

[2015-12-21 04:41] shahankit commented on #1665
OK is there any option to be provided to generate sourcemap. Also I don't use normal bundle command rather use curl command to generate bundle, because minified bundle provided seems to screw up relay code that I'm using.

[2015-12-21 06:51] sankhadeeproy007 commented on #4435
Is there a solution for this yet?

[2015-12-21 07:45] eyaleizenberg opened #4898 "no clicks are registering on 0.17.0"
Hi,
I just upgraded to RN 0.17 and for some reason none of my clicks are working at all. Any ideas?

[2015-12-21 07:53] satya164 commented on #4898
@eyaleizenberg Can you provide a code sample? Which platform are you on?

[2015-12-21 08:03] eyaleizenberg commented on #4898
I am running on Xcode Version 7.1 (7B91b), RN 0.17.0

[2015-12-21 08:54] kritikinfo commented on #3820
@steve-ng  https://gist.github.com/kritikinfo/1bc92d2a07b3b1516a9d
The only thing special is in the `onAdLoaded` as per previous comments.

@sbugert eagerly waiting for the updates!

[2015-12-21 09:48] Kim-Andersen commented on #304
I can also load the dev server resource in my browser, and also updated my info.plist as jamesfzhang suggested. But I'm still getting the red screen connection error message.

Now I tried to to access the dev server resource (http://[my ip]:8081/index.ios.bundle?platform=ios&dev=true ) through a browser on my device, and that page doesn't load. I'm sure my workstation and device is on the same net

[2015-12-21 09:50] eva1943 commented on #4043
I've the same issue.
I added   <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> in manifest.xml, and run, is ok.

[2015-12-21 09:54] PWDream opened #4899 "how check react-native version?"
hello, can you tell me how check react-native version? thank you

[2015-12-21 10:17] jondot commented on #4583
+1, don't forget that the packager may run in a different terminal which is not wired to a specific node version.

[2015-12-21 10:19] filod commented on #4844
+1 same issue here

[2015-12-21 10:19] ling-wong commented on #289
Had this issue as well. After that I realized that my images were too huge for the screen (some 500KB each). After reducing the size (to about 1/10th of it), it worked fine.

[2015-12-21 10:55] MachineVk opened #4900 "Error building DependencyGraph: no such file node_modules/react-native/Libraries/ReactNative/ReactNativeViewPool.js"
upgrade 0.16.0 to 0.17.0  and run .stop with error info :
Error building DependencyGraph:
 Error: ENOENT: no such file or directory, open node_modules/react-native/Libraries/ReactNative/ReactNativeViewPool.js'
    at Error (native)

[2015-12-21 10:59] MachineVk commented on #4900
![image](https://cloud.githubusercontent.com/assets/5071121/11929312/de1b8442-a814-11e5-9c0a-a2056c7c6073.png)
![image](https://cloud.githubusercontent.com/assets/5071121/11929326/ecfb8c32-a814-11e5-8607-bd4495e408c1.png)

[2015-12-21 11:00] samuelkraft commented on #4559
The fix by @djk4096 works for me!

[2015-12-21 11:01] gre commented on #4899
`npm ls --depth 0`

[2015-12-21 11:02] satya164 commented on #4899
Hey @PWDream

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests on github and especial

[2015-12-21 11:02] #4899 closed

[2015-12-21 11:05] MachineVk commented on #4900
i remove react-native folder ，and then run npm install  。and everything is ok

[2015-12-21 11:05] #4900 closed

[2015-12-21 11:19] turka50 opened #4901 "[ANDROID] generating apk stuck"
Hi ,

This is the command i used to generate the apk :
 cd android && ./gradlew assembleRelease

It seems to run but it gets stuck on :app:bundleReleaseJsAndAssets.

Any ideas ?
Thanks.

[2015-12-21 11:22] filod commented on #4844
@JeanLebrument i remove my own `./babelrc` in root dir, then everything goes alright.

don't know how but works.

[2015-12-21 11:30] turka50 commented on #4616
+1

[2015-12-21 11:30] rmevans9 commented on #4893
It looks like it ran into a permissions issue when trying to do a rename operation.

npm ERR! Error: EPERM: operation not permitted, rename 'C:\Users\anton\AppData\Roaming\npm-cache\is-arrayish\0.2.1\package\package.json.b6548ef82219bd9e82e1b2029ba5b4f4' -> 'C:\Users\anton\AppData\Roaming\npm-cache\is-arrayish\0.2.1\package\package.json'

I would recommend running npm cache clean and trying again.

[2015-12-21 11:32] turka50 commented on #4901
![image](https://cloud.githubusercontent.com/assets/10440278/11929861/42c17966-a7e7-11e5-9f71-32138f88058e.png)

This is the error i'm getting .

[2015-12-21 11:38] golorry commented on #4740
+1, also some variables are not destroyed so it's saved in memory with old data which causes confusion in usage.

[2015-12-21 11:38] ACCTFORGH commented on #4740
+1, also some variables are not destroyed so it's saved in memory with old data which causes confusion in usage.

[2015-12-21 12:15] idibidiart commented on #4293
Thanks @ide  you saved me from having to stay up all night. Restarting did the trick,

[2015-12-21 12:17] christianscheuer commented on #4869
Hi @satya164. Thank you for your quick reply. I'll post it on Product Pains as soon as I get to it. If I end up implementing something myself that could be useful to the community I'll make it available as a package or PR.

[2015-12-21 12:49] Sh3rawi commented on #4016
on 0.17 its still broken.

[2015-12-21 12:51] eyaleizenberg commented on #4898
OK, so the issue was related to a modal I had which for some reason was interrupting the other views. I had to move it up the 'dom' in order to get this to work.

[2015-12-21 12:51] #4898 closed

[2015-12-21 12:52] ashleydw commented on #4753
I'm getting this too, will try with the `measureLayout` function. Perhaps you could provide an example of that @theoriginalgri .

Note: @theoriginalgri Is talking about `ox` and `oy` from the docs.

[2015-12-21 13:23] theoriginalgri commented on #4753
@ashleydw

Assume your render() method has the following content:
[code]

This scrolls to the correct position:
[code]

This does not scroll to the correct position:
[code]

[2015-12-21 13:30] andreyluiz commented on #4881
Same here.

[2015-12-21 13:35] andreyluiz commented on #4881
I tried to run ```react-native start``` and I got:
[code]

Next I tried to issue in another terminal the command ```react-native run-android``` to run in my Nexus 5, connected to my laptop. The packager terminal added the following:

[code]

The app starts in my Nexus, but still the error occurs.
Any tips?

[2015-12-21 13:52] skatou opened #4904 "[ListView] removeClippedSubviews={true} and overflow:"hidden""
Hi,

The document of ListView says the removeClippedSubviews={true} property only works when the list items have overflow:"hidden" style set.

I'm wordering whether this is just an interface design or an impmentation must.

In my case I want to display a badge on the upper-left corner of each of the list item, in order to avoid clipping the badge by the item margin, I set overflow to "visible" but

[2015-12-21 14:02] cancan101 opened #4905 "Error building DependencyGraph: RangeError: Maximum call stack size exceeded"
I am on RN 0.17 and I get the following when running `react-native start --reset-cache`:
[code]
This might be related to https://github.com/facebook/react-native/issues/4516 but I am not using symlinks.

my `.babelrc` files looks like:
[code]

[2015-12-21 14:27] elinac commented on #4881
I got the same error when i try to run react-native/Examples/UIExplorer release apk.I slove it after I change the BundleAssetName and JSMainModuleName  in  react-native\Examples\UIExplorer\android\app\src\main\java\UIExplorerActivity.java.
Maybe you can try  correcting your React-Native  Actitivy.

[2015-12-21 14:39] lexs commented on #4890
This should already have been fixed: https://github.com/facebook/react-native/pull/4518

Please reopen if this is incorrect.

[2015-12-21 14:39] #4890 closed

[2015-12-21 15:19] herby commented on #4811
I wanted to have tests, processed by babel, as well.
I ended up with this helper file `mkrnbabelpreset.js` having in the project root (ugly, but works):

[code]

running it once (or before mocha in npm test specification) created babel preset that copies react-native's .babelrc. You should then have your root `.babelrc` as this:

[code]

[2015-12-21 15:31] sbugert commented on #3820
@kritikinfo I did not yet succeed in changing the banner's props on the fly because calling setAdSize() for changing is illegal. Creating a new instance didn't work either because the view passed to a prop method is final.
The only solution I came up with is (again) wrapping a ReactViewGroup and creating a new AdView everytime a prop changes.
Here is a [gist](https://gist.github.com/sbugert/dcdb62

[2015-12-21 15:41] PCharpentier commented on #4084
@hoangviet Do you have a same solution for Android ?

[2015-12-21 15:46] myxvisual opened #4906 "null is not an object()"
i am a designer,just study javascript not long, an error i can't fix,Sincerely thank everyone,this is my code.

    'use strict';

    var React = require('react-native');
    var Dimensions = require('Dimensions');
    var AppHeight = require('Dimensions').get('window').height;
    var AppWidth = require('Dimensions').get('window').width;
    var PixelRatio = require('PixelRatio');

    var {

[2015-12-21 16:16] pewh commented on #2945
Hi @Sunify
How can you use react-redux in React 0.16?
As far as we know, React 0.16 use Babel 6. Latest version of react-redux (v4.x.x) doesn't contain `react-redux/native`. Only version 3.x.x contains `react-redux/native`, which is not compatible with Babel 6.
CMIIW, thanks.

[2015-12-21 16:24] Sunify commented on #2945
@pewh react-redux@3.1.1 and redux@3.0.5 is compatible with babel 6

[2015-12-21 16:36] pewh commented on #2945
@Sunify Oops, sorry for my fault. I've tested it & you right.

[2015-12-21 17:09] bestander commented on #4547
So @nicklockwood @ide what did we decide on in the case of `colors` Prop in [PullToRefreshLayoutAndroid.android.js](https://github.com/facebook/react-native/blob/37f81341a006458d84d934882485c2a0a8838497/Libraries/PullToRefresh/PullToRefreshLayoutAndroid.android.js) (step 2 from above)
Do we convert colors property to `any` in that file?

[2015-12-21 17:12] nicklockwood commented on #4547
I think we should just define ColorPropType as being any of the supported color formats.

[2015-12-21 17:55] udfalkso commented on #4831
Hi @cancan101 I'm also hitting this issue.  Did you manage to solve it?  Thanks

[2015-12-21 18:30] #4476 closed

[2015-12-21 18:58] cancan101 commented on #4831
Try adding `"transform-runtime"` to the plugins.

[2015-12-21 19:02] cancan101 opened #4910 "SyntaxError: Unexpected use of reserved word 'import'"
In RN 0.17: I am getting: `SyntaxError: Unexpected use of reserved word 'import'`:
![image](https://cloud.githubusercontent.com/assets/51059/11938806/6c6cc6c2-a7eb-11e5-988c-0a5b960bff5f.png)
with `.babelrc`:
[code]

[2015-12-21 19:15] apike commented on #4870
@satya164 The relevance of 8a9b534 is that is the version of react-native I was using (master from ~2 weeks ago) when I hit the issue. When I'm able I'll put together a sample project, and test it again against master to see if the problem has been fixed.

[2015-12-21 19:27] alinz commented on #4727
@nowaits @skevy There is a pending PR https://github.com/facebook/react-native/issues/3106 which needs to be addressed.

[2015-12-21 19:36] alinz commented on #3106
@brentvatne the PR from @kujohn seems working on iOS. However we have a serious problem in Android. We don't even pass the `success` or `failed` callbacks to any underneath methods [from here](https://github.com/facebook/react-native/blob/v0.17.0/ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java#L499-L504) to [here](https://github.com/facebook/react-native/blob/v0.17.0/

[2015-12-21 19:40] udfalkso commented on #4831
Thanks.  Did you have to add babel-runtim@6.x to your package file to get this to work?

I've tried that and now I get this problem:

[code]
But this file is there.

[code]

[2015-12-21 20:14] jozn commented on #4740
+1 Memory usage is big problem for me. I wanted to post slimier problem for android. I have monitored android app memory usage, most of memory seems to be eated by none-java code(dalvik heap),  in adb command report it reports most of memory is used by 'Unknown'. this is probably is javascript VM, (javascriptcore), and some other react-native c++ tools (NDK stuff). i hoe this problem resolve.

[2015-12-21 20:40] JeanLebrument commented on #4844
Thanks for your answer @filod but I need to use the preset stage-0 for my project.

[2015-12-21 23:33] udfalkso commented on #4831
@cancan101 Any chance you could share what's in your package.json and .babelrc files?  Would be very helpful, thanks!

[2015-12-22 00:57] #4822 closed

[2015-12-22 01:13] dozenlue commented on #4873
Hi, is there any plan to fix this in near releases?

[2015-12-22 01:37] zuhair-naqvi commented on #2000
Any update on this?

[2015-12-22 02:53] cancan101 commented on #4862
FWIW I am seeing this issue on 0.17 as well.

[2015-12-22 02:58] cancan101 commented on #4862
[These polyfills](https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/Libraries/JavaScriptAppEngine/polyfills/document.js) seem to be transpiled as:
[code]

[2015-12-22 03:22] SFantasy commented on #3890
Hi @nvcken

Got the same issue on iOS7. Any solution yet?

[2015-12-22 04:04] hasen6 commented on #4210
Getting this as well. No errors running in debug mode but have this error on release along with error "linker command failed with exit code 1 (use -v to see invocation)" in React Native 0.17

[2015-12-22 04:11] hasen6 commented on #4210
Ok I had dead code stripping enabled to solve a previous error. But with this version, disabling it corrects these other errors and it builds successfully.

[2015-12-22 06:13] mihirsoni commented on #4910
Hi @cancan101

Could you please provide a code snippet you are trying to run ?

[2015-12-22 06:50] PWDream opened #4914 "pod mananger"
hello,I manager the react use pod ,but the version is 0.13 now, can I how update? thanks

[2015-12-22 06:56] PWDream commented on #4011
@patelsan I restart the XCode and simulator ,but the don't work? Can you help me ?

[2015-12-22 07:00] patelsan commented on #4011
It did work, but might be just a coincidence. I didn't make any other changes. Sorry, I wish I could help more.

On Tue, Dec 22, 2015 at 12:27 PM, PWDream <notifications@github.com> wrote:

@patelsan<https://github.com/patelsan> I restart the XCode and simulator ,but the don't work? Can you help me ?

—
Reply to this email directly or view it on GitHub<https://github.com/facebook/react-native/issu

[2015-12-22 07:01] PWDream commented on #4011
Thanks

[2015-12-22 07:03] ide commented on #4914
Please refer to the docs: https://facebook.github.io/react-native/docs/embedded-app-ios.html#install-react-native-using-cocoapods

[code]

[code]

[2015-12-22 07:03] #4914 closed

[2015-12-22 07:10] shubhamgautam commented on #4435
any solution yet ?

[2015-12-22 07:16] gs-akhan commented on #4011
This happened to be after the upgrade from react-native 0.15 to 0.16. I then created new app and moved the files and error disappeared. If this helps :(

[2015-12-22 07:18] christopherdro commented on #4435
Could you try replacing `secureTextEntry` with `password`.

[2015-12-22 07:35] AdamGorkoz opened #4916 "Debug with chrome error after upgrading to 0.17"
Getting this error in the console :
Uncaught TypeError: Cannot read property 'apply' of undefined

Please help.

[2015-12-22 07:40] turka50 commented on #4894
What version of RN are you using ?

[2015-12-22 07:49] satya164 commented on #4894
Thanks @TanTan-TT . Can you send a PR?

[2015-12-22 07:55] #4793 closed

[2015-12-22 07:56] jacobbubu opened #4917 "Initialise a react-native project with a specific react-native version"
For now, initialise a new rect-native project using react-native-cli can not specify the react-native version that the new project use (react-native-cli can only install the latest version of react-native from npm).

Since that the react-native has a very frequent release cycle (2 weeks) and brings breaking changes in common. We need to do a lot of cross versions verifications for our codes and 3r

[2015-12-22 08:06] PWDream opened #4918 "native is 0.13-rc"
hello, I have 0.13-rc in pod manager, the dependencies is 0.16, I every time run the app crash?
how can you tell me why?

[2015-12-22 08:10] nowaits opened #4919 "How can I auto dismiss the Alert View, without Tapping any button?"
How can I auto dismiss the Alert View, without Tapping any button?

[2015-12-22 08:16] vinu123 opened #4920 "Syntax error in ImageEditingExample.js for using 'type' for Objects"
I am getting Syntax error for the following objects. I do hope they are objects.

      type ImageOffset = {
        x: 100;
        y: 100;
      };

      type ImageSize = {
        width: 100;
        height: 100;
      };

      type TransformData = {
        offset: ImageOffset;
        size: ImageSize;
      }

How do I fix this syntax error?

[2015-12-22 08:23] ashleydw commented on #4753
Great! Can confirm `measureLayout` works for me in android and ios

[2015-12-22 08:39] imton commented on #1685
ok like this
[code]

I think it's really important to have tintColor accessible across all UIView, how can we do it?

[2015-12-22 09:01] turka50 commented on #4901
Issue resolved after upgrading to 0.17

[2015-12-22 09:01] #4901 closed

[2015-12-22 09:03] vitonzhang commented on #4583
@tlins is right !!

After upgrading to 5.2.0 everything was working!

[2015-12-22 09:07] satya164 commented on #4918
@PWDream You need to have the same version in both native and JS. RN is no longer distributed through the pods repository. The new instructions to set up the RN cocoapod are here - https://facebook.github.io/react-native/docs/embedded-app-ios.html#content

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best

[2015-12-22 09:07] #4918 closed

[2015-12-22 09:36] skevy commented on #4727
@alinz for records sake, the PR was actually #3190. It should be merged shortly.

[2015-12-22 09:46] sherryein opened #4923 "Error:Execution failed for task ':sdkdemo:transformClassesWithDexForDebug'. > com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: org.gradle.process.internal.ExecException: Process 'command '/Library/Java/JavaVirtualMachines/jdk1.8.0_25.jdk/Contents/Home/bin/java'' finished with non-zero exit value 2"
Warning:Ignoring InnerClasses attribute for an anonymous inner class
(com.xiaomi.smack.p) that doesn't come with an
associated EnclosingMethod attribute. This class was probably produced by a
compiler that did not target the modern .class file format. The recommended
solution is to recompile the class from source, using an up-to-date compiler
and without specifying any "-target" type options. The

[2015-12-22 11:36] bodyflex opened #4925 "fontWeight '300' not working on Android"
setting `fontWeight` to `'300'` on Android doesn't make any difference although it switches to a lighter font on iOS.

example:
[code]

I'm using RN 0.17.0

[2015-12-22 11:50] yelled3 opened #4926 "[Modal] Appears above the Inspector"
When using `Modal` the Inspector is hidden bellow the Modal, which means you can't really use the Inspector.

[2015-12-22 11:52] nicklockwood commented on #4925
I think Android only supports bold and regular (I was told this is a limitation of Android itself, not just React Native)

cc: @dmmiller

[2015-12-22 11:57] satya164 commented on #4919
@nowaits Currently there is no wat to do this. Up for a PR?

[2015-12-22 11:59] jonolock91 commented on #4047
@cosmith I've just upgraded to 0.17.0 and I can now check on NetInfo if isConnected, but adding a listener for a change doesn't work it doesn't get called, any ideas?

[2015-12-22 12:25] satya164 commented on #4869
@christianscheuer That would be awesome. Thanks :)

[2015-12-22 12:26] satya164 commented on #4844
@JeanLebrument All transforms in `stage-0` are already enabled in React Native.

[2015-12-22 12:30] mschipperheyn commented on #3941
Just upgraded to react-native 0.17 and I'm getting this unrecognized error again

[2015-12-22 12:41] yelled3 commented on #4926
https://productpains.com/post/react-native/modal-appears-above-the-inspector/

[2015-12-22 12:41] #4926 closed

[2015-12-22 12:44] ACCTFORGH opened #4927 "0.16.0 Not Updating Generated APK after Running ./gradlew assembleRelease or./gradlew installRelease"
I followed the guide on the docs to generate the APK. However, after the first version, it stops updating the generated APK. I have tried re-generating the keystone, clean build in Android Studio and re-run both assembleRelease and installRelease.

Is there some kind of cache that I should clear?

I am using RN0.16.0 Android on Mac OS.

[2015-12-22 12:48] myxvisual commented on #4906
![Uploading image.png…]()

[2015-12-22 12:48] #4906 closed

[2015-12-22 12:54] txix commented on #4600
I'm also having an issue with the placeholder text on Android. It does not apply the fontFamily which I have set in the styles. When I focus the TextInput the right fontFamily does get applied.

[2015-12-22 12:59] bodyflex commented on #4925
Android certainly supports light fonts: http://stackoverflow.com/a/13329907/1810160

[2015-12-22 13:00] myxvisual commented on #4906
<iframe src="https://onedrive.live.com/embed?cid=8397A9E5A736AAD1&resid=8397A9E5A736AAD1%212132&authkey=AM-wVmxGsDk-uAo" width="193" height="320" frameborder="0" scrolling="no"></iframe>

[2015-12-22 13:04] nicklockwood commented on #4925
@bodyflex in that case, I must have either misunderstood the issue, or been misinformed. If you think you know how to implement this, a PR would be appreciated.

[2015-12-22 13:22] satya164 opened #4928 "Add a dismiss event for Alert dialog"
Currently the Alert dialog on Android can be dismissed by tapping outside or pressing back button as well as pressing on any of the action buttons. The problem with this is that you've no way of knowing that the dialog was cancelled if the user cancels it by tapping outside.

For example, consider a location based app (my use case),
- Check if GPS is enabled, if not, prompt the user to enable it
-

[2015-12-22 13:36] alvaromb commented on #3941
Same here.

[2015-12-22 14:02] PCharpentier commented on #4863
I had the same problem.

You can see #4084

To create bundle and assets :

    react-native bundle --assets-dest ./android/app/src/main/res/ --entry-file ./index.android.js --bundle-output ./android/app/src/main/assets/index.android.bundle --platform android -dev false

After, in android project on Android Studio, you can go to Build, Generated APK.

Finally, install your apk with :

    adb insta

[2015-12-22 14:13] antoxi4 opened #4929 "SVG Support?"
Do you have plans to include support for SVG?

[2015-12-22 14:16] Casy commented on #3975
@julipur do you have the solution?

[2015-12-22 14:19] PWDream opened #4930 "uncaught error Error: TypeError: Object.assign is not a function"
I use this command "react-native bundle $OPTS --bundle-output ios.jsbundle --minify --entry-file index.ios.js --platform ios" ReactPackager,but error :
 Created ReactPackager
uncaught error Error: TypeError: Object.assign is not a function
    at transform (/Users/panwei/Desktop/Mall/react/node_modules/react-native/packager/transformer.js:33:25)
    at module.exports (/Users/panwei/Desktop/Mall/re

[2015-12-22 14:50] alinz commented on #4727
@skevy Awesome. What about Android? Android version is pretty broken on this one!

[2015-12-22 15:10] julipur commented on #3975
@Casy Not really.

If I stop everything and git clone my project into a new folder and then npm install, it works. That's the workaround that I've been doing.

This does sound like some sort of caching issue. If I understand correctly the solution by @skevy above in the thread would solve the caching issue, but that has not worked for me.

[2015-12-22 15:22] antoxi4 opened #4931 "No ViewManager defined for class ARTSurfaceView"
I try using react native art on Android but it write 'No ViewManager defined for class ARTSurfaceView'

[2015-12-22 15:37] ide commented on #4931
ART is currently not supported on Android. The plan is to eventually support it but there is no timeline for that.

[2015-12-22 15:37] #4931 closed

[2015-12-22 15:49] herby commented on #4811
Put his in your `.babelrc`:

[code]

And that's it - you copy react-native settings for your whole project (so no conflict).

[2015-12-22 15:53] nowaits commented on #4727
i have tried the master branch, the problem seems have been solved😁

[2015-12-22 15:54] #4727 closed

[2015-12-22 15:55] iostalk commented on #3452
Watch

[2015-12-22 15:55] nowaits commented on #4919
@satya164 good idea

[2015-12-22 15:55] #4919 closed

[2015-12-22 16:14] ilansas commented on #2945
I have this error too on 0.15

[2015-12-22 16:29] iostalk commented on #3452
Version 0.13 is ok?

[2015-12-22 16:48] udfalkso commented on #4831
Finally managed to get past this error.  It turns out that I had code like this that needed to be removed:

[code]

[2015-12-22 17:07] gre commented on #4929
it's not built-in but you can use https://github.com/brentvatne/react-native-svg

[2015-12-22 17:08] cancan101 commented on #4831
That worked for me as well.

[2015-12-22 17:08] cancan101 commented on #4831
Is this some sort of know issue ? How did you figure it out.

[2015-12-22 17:14] antoxi4 commented on #4929
Yes but it only for IOS not for Android.There it currently no way to decide it problem.

[2015-12-22 17:17] udfalkso commented on #4831
Just a lot of digging around and trial and error.

[2015-12-22 18:47] belvikram commented on #1758
Downgrading the npm@2.14.6 works for me.

[2015-12-22 18:55] davidengler opened #4932 "Option to disable overscroll effect in ScrollView"
There is no option to disable overscroll effect in ScrollView

[2015-12-22 18:56] sahas- commented on #3437
It just happened to me. I started a hello world project but ended up doing more there.. finally, wanted to move them over. Created a new project with RN init and copied my assets over. npm install installed all dependencies and react-native run-android fails with this error "app:compileDebugJavaWithJavac FAILED". Any workarounds apart from recreating the project with different name?

[2015-12-22 19:45] niftylettuce commented on #4888
@christopherdro no time at the moment :frowning:

[2015-12-22 19:51] cancan101 commented on #4910
Caused by `"transform-runtime"` running before certain other transforms. Fixed by removing it from the list.

[2015-12-22 19:51] #4910 closed

[2015-12-22 19:51] cancan101 commented on #4905
This issue went away when I `rm -rf node_modeules`.

[2015-12-22 19:56] ankitduseja opened #4933 "navigator.push doesn't respond while debugging with chrome"
While debugging with chrome, navigator.push doesn't work. Strangely it starts working while "debug in chrome" is inactive. I added console.log on componentDidMount and also the at the end of render() method. They both output logs as expected but the navigator doesn't update the view in the emulator. There is no error in chrome console and I am using android emulator (Intel x86 with HAXM support on