[2021-05-11 07:00] lgh89 opened #31509 "node_modules/react-native/scripts/generate-specs.sh: /bin/bash: bad interpreter: Bad address"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-11 07:30] #31447 closed

[2021-05-11 08:10] rrebase opened #31510 "FlatList getItemLayout scroll jumps with dynamic heights"
## Description
Implemented `getItemLayout` for a large list with dynamic heights in order to scroll outside of the render window with `scrollToIndex`, but the scrolling starts jumping when scrolling past the midpoint of a large list.

Likely related if the issue is with `VirtualizedList`: https://github.com/facebook/react-native/issues/31163

Seems like a 🐛 as the small amount of docs that exist f

[2021-05-11 09:58] Jorgezz opened #31511 "0.64-stable/Libraries/FBReactNativeSpec NotFound?"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-11 10:10] Toparound commented on #27056
Please could you short explain? I can't understand where to paste this code - for each item or wrap a flatList.

[2021-05-11 10:34] dmusev commented on #31181
I managed to solve the issue by re-installing NVM and downgrading Node to 12.5 and it worked for me after a day of headaches..

This fixed it for me:

1. Reinstall node & nvm like explained here:
https://jamesauble.medium.com/install-nvm-on-mac-with-brew-adb921fb92cc

2. Install older Node version (12.5 in my case) && use it

[code]

3. Install pods & build

4. 🚀

[2021-05-11 13:57] DigitalZebra commented on #28442
I noticed I started getting this issue after switching around the default ports/bundle location used by the app when running on a simulator. After resetting everything to the defaults (dev menu -> configure bundler -> reset to default) the high CPU usage SEEMS to have improved.

[2021-05-11 14:58] Nox04 commented on #28807
For KDE users:
`"android:linux": "konsole --hold --new-tab -e $SHELL -c \"yarn start\" & react-native run-android"`

[2021-05-11 15:11] TheWirv opened #31512 "Android Native UI Module: "View config getter callback for component `MyNativeModule` must be a function (received `undefined`).""
## Description
Hey all, so in lack of any real `onFocus`/`onBlur` functionality (except for `TextInput` obv), I've been trying to build my own component as a native module. I've been following both the docs for [plain native modules](https://reactnative.dev/docs/native-modules-android) and [UI modules](https://reactnative.dev/docs/native-components-android), I used [`create-react-native-library`](

[2021-05-11 15:50] vishwadeepghimirezph commented on #28405
Thank you @devethan . Your solution worked for me.

[2021-05-11 17:43] jessejjohnson commented on #31480
**Is there a solution when version < `0.62`?** We're on `react-native: '0.60.6'` with upgrade not being an immediate option.

[2021-05-11 18:12] surajsahijwani commented on #30761
This is a simple cache issue. Invalidate caches from android studio and rebuild project properly. This worked for me everytime I faced this issue

[2021-05-11 18:15] AmbassEugene commented on #31228
This worked for me too

[2021-05-11 20:10] rahamin1 commented on #25986
Thanks @Arshimonde. I tried this but it didn't help me:
- Without hermes, the app with 0.63.3 is **about 10 times slower** than the app with 0.59.9 (https://github.com/facebook/react-native/issues/30403)
- With hermes it is even slower (with 0.63.3, it is about 50% slower than without hermes)

[2021-05-11 21:09] murtazabeans commented on #28992
I am also facing the same issue. RN version 0.63.4. Did anyone in this thread resolve the issue? When I try to run the app with 0.61.5 version, it works fine. It is happening for all the versions > 0.62.0

[2021-05-11 21:12] harikrishnagit commented on #28992
Hari Narasimhamurthy
Trillion Technology Solutions
***@***.***
+1.434.465.0152
.

[2021-05-12 02:01] aarononeal commented on #16376
Onboarding to RN and was surprised to hit this three and a half year old bug. Everyone has to go through this?

[2021-05-12 02:03] cheese-git commented on #31366
Same problem here.

[2021-05-12 03:25] harbolaez commented on #31452
any idea?

[2021-05-12 03:55] omitchen commented on #30171
This method still has no response in my project. Although no error is reported, onViewableItemsChanged will not be executed.

[2021-05-12 04:24] marinne commented on #28503
On my system (MacBook Air M1, Xcode 12.4) everything worked fine but one day I performed "Product > Clean Build Folder" action then suddenly this "module map file not found" error happened and kept occurring. I setup a new project, the "Clean Build Folder" action introduced the same "module map file not found" error (although for different pod).

This error only occurred when I tried to build/run

[2021-05-12 05:08] ThanhNguyen140797 commented on #30484
same issue

[2021-05-12 05:23] DevenHurt commented on #29301
That's my issue as well. What exactly did you do to solve it? I can't quite figure it out.

[2021-05-12 05:23] DevenHurt commented on #29301
That's my issue as well. What exactly did you do to solve it? I can't quite figure it out.

[2021-05-12 05:28] jessejjohnson commented on #31480
This increases my fear that a solution for earlier versions is currently not known 😬

[2021-05-12 07:23] EatherToo opened #31514 "Cant use react-native run-ios --device to run app on a real ios device"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Cant use react-native run-ios --device to run app on a real ios device.
**but there is a device have already connected to my mac**.
![image](https://user-images.githubusercontent.com/22785612/117934317-21677900-b335-11eb-97c7-733543816783.png)

## React Native version:
[code]
xc

[2021-05-12 07:40] iceAnson commented on #31176
so where is the plugin 'com.facebook.react.codegen', anyone can provides the classpath?

[2021-05-12 07:48] iceAnson commented on #31176
it's no solution there.

[2021-05-12 07:51] iceAnson commented on #30271
can you provide the plugin classpath?

[2021-05-12 07:55] elderbary commented on #29829
I have the same problem. Any reason to explain this error?

[2021-05-12 08:22] 1280103995 commented on #31514
Try  to run ```yarn ios --device```

[2021-05-12 08:25] EatherToo commented on #31514
had tried, also useless

[2021-05-12 08:41] strawberry-code commented on #28405
From the comment of @devethan I propose this bash script to be launched from root of the project:

DIR="node_modules"
if [ -d "$DIR" ]; then
  echo "fixing react files in ${DIR}..."
else
	echo "missing node_modules folder, are you running this script from the correct path?"
	exit 1
fi

[code]

[2021-05-12 08:58] hlynbech commented on #31249
We had the same issue when building on a build server with fastlane, when fastlane is started from a shell that has NVM environment variables set.
Removing the NVM variables from the shell (in this case in .zshrc) makes the build work in fastlane.
The build never had issues when building from the Xcode UI.

[2021-05-12 09:47] hlynbech commented on #31249
@sumanbhattarai Why did you close this issue, I know that disabling NVM and removing code from find-node.sh resolves it, but then there must be a bug in find-node.sh which is under the control of the react-native project.

It seems that some effort is going on in react-native to support also NVM, so this bug must be fixed, right? Or is it resolved in another issue?

[2021-05-12 09:49] sumanbhattarai commented on #31249
@hlynbech okay, i have reopened it.

[2021-05-12 10:22] slxsh opened #31515 "Build failing randomly"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
My project was working fine last time I checked. However, I am unable to build it now and I don't think I changed anything in my project. This is the error message
* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

I looked at simi

[2021-05-12 11:35] kelset commented on #31480
@jeanremy thanks for your note, I've updated the original post to reflect that you need to be on 0.63.3 👍

@jessejjohnson no, there's no known solution for versions below 0.62, sorry.

[2021-05-12 11:39] maartenvandillen commented on #28442
@DigitalZebra thanks for the info. I never change anything in the dev menu. However, a default installation (react-native init) does not work on the iOS Simulator on my machine. It always shows the error No bundle URL present. To fix this I have to change the url in AppDelegate.m to 127.0.0.1:8081. Maybe this is the cause of the high CPU usage? Does anybody else who commented in this issue have th

[2021-05-12 12:24] slxsh commented on #31515
Ok, so I was able to build successfully by changing `firebaseMessagingVersion = "+"` to `firebaseMessagingVersion = "21.1.0"` in `android/build.gradle` but I still don't understand how this was working all along and stopped today. Also, I have `googlePlayServicesVersion = "+"` this in build.gradle. Should I change this one too?

[2021-05-12 12:51] petr7555 commented on #17530
+1

[2021-05-12 13:25] niubajr19 commented on #28716
You can just set zIndex:1 in the parent container. Automaticaly, the children containers will be able to be click.

[2021-05-12 14:04] githubbla commented on #17530
Android 11, Galaxy S10e

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference
com.facebook.react.views.textinput.ReactEditText.<init>

[2021-05-12 14:23] Desintegrator commented on #27232
@PrimulaX thanks! also works with `TouchableWithoutFeedback`

[2021-05-12 14:41] glynnallen1704 commented on #29301
Also needed to upgrade CLI dependency.

@react-native-community/cli | react-native
-- | --
^5.0.0 (master) | ^0.64.0
^4.0.0 | ^0.62.0
^3.0.0 | ^0.61.0
^2.0.0 | ^0.60.0
^1.0.0 | ^0.59.0

[2021-05-12 14:55] MatthiasDh commented on #31515
@slxsh we had a similar issue in our project. firebase messaging got a breaking change and because you have '+' it auto updated firebase messaging. By doing this you probably installed the new update of firebase messaging that has breaking changes.

[2021-05-12 15:09] DevenHurt commented on #29301
That worked. Thank you!

[2021-05-12 15:27] QuetzalTiago commented on #30123
THANK YOU! THIS IS THE WAY!

[2021-05-12 15:28] QuetzalTiago commented on #30123
This works, thank you, i was about to go crazy lol

[2021-05-12 15:39] patelnets commented on #30271
how do we get this to work then?

[2021-05-12 16:35] troyblank commented on #31495
I am also seeing this near exact issue on 0.61.5.

[2021-05-12 17:04] WilliamJ13 opened #31517 "Android crash in production"
## Description
Since my app is in production, several crashes occured on a few devices (Android only) such as a Samsung Galaxy S9+ SDK29. Does anyone have a clue about what caused the app to crash ?

## React Native version:
react : 16.13.1
react-native : 0.63.4

## Stack trace :
[code]
Thanks in advance

[2021-05-12 17:22] AmirDiafi commented on #28551
**This issue solved in react-native 0.63.3+**

[2021-05-12 17:32] humble-programmer opened #31518 "Autofill not showing up"
## Description
The React-Native app (Android) that I'm working on has sign up and log in screens. Both of these screens have email and password TextInput components as well as a primary button. When signing up, the user enters email address and password, then presses the button. Upon pressing the button and moving to a new screen, a native Android app would automatically bring up the password savi

[2021-05-12 18:00] gmartpad opened #31519 "[!] No podspec found for `React-DevSupport` in `../node_modules/react-native/`"
## Description
After "npm install", I went to the ios folder and executed "pod install" and this happened:

![image](https://user-images.githubusercontent.com/44455190/118025494-50cab580-b336-11eb-8f01-5a67822050dd.png)

## React Native version:
"react-native": "^0.64.0"

## Steps To Reproduce
 1. > on the project's folder, execute "npm install"
 2. > go to the "ios" folder
 3. > execute "pod inst

[2021-05-12 18:15] ecreeth commented on #31503
![image](https://user-images.githubusercontent.com/20761166/118023977-25db6400-b32c-11eb-96bc-963c4c83d594.png)

[2021-05-12 19:28] loikfb commented on #30814
@mandeep115 I think your way is better if you want to upgrade from a very old version of RN because your native iOS/Android projects will have more diff than a more recent one. This is why it's much straightforward to use [RN Upgrade helper](https://react-native-community.github.io/upgrade-helper/) for a project you want to regularly keep up to date and therefore target the latest sdk version.

[2021-05-12 19:45] shehanrangana commented on #25703
You can set negative margin from bottom and fix that negative margin with padding like this.
`<ScrowView style={{ marginBottom: -12 }} contentContainerStyle={{ paddingBottom: 12 }}>`

[2021-05-12 19:57] iwmdipak opened #31520 "Create new project not run in ios"
System:
    OS: macOS 11.3.1
    CPU: (4) x64 Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz
    Memory: 45.98 MB / 4.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 16.1.0 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.12.1 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs:
    iOS SDK:

[2021-05-12 21:32] Sezer67 commented on #28404
![image](https://user-images.githubusercontent.com/49758941/118046831-8bf2d600-b382-11eb-974a-3b193e12b14e.png)

Bende böyle bir hata alıyorum NDK versiyonu olarak son sürümü yükledim ama hata devam ediyor

[2021-05-12 22:44] amarlette commented on #30959
@anaskhraza thank you for taking this one! Remember to tag this issue in your pull request. I look forward to getting your PR on the board

[2021-05-12 23:24] bAngerman commented on #31094
I was able to get this to work by editing `/node_modules/react-native/scripts/react-native-xcode.sh`.

`BUNDLE_FILE="$DEST/main.jsbundle"` toward the end of the file...
was modified to reflect what actually was created in that folder.
I changed the value to the Display Name shown on the "General" tab in Xcode.

Whack

[2021-05-12 23:46] jonahfidel-avant commented on #31493
SOLVED!

Manual linking was the solution since this was a legacy package.

1.) ignore the package in the react-native.config.js
`'react-native-push': {
      platforms: {
        ios: null, // disable ios platform, other platforms will still autolink if provided
      },
    },`
2.) drag the package xcodeproj into xcode libraries
![image](https://user-images.githubusercontent.com/59847928/11805741

[2021-05-12 23:46] #31493 closed

[2021-05-13 00:09] blarz-bix commented on #31480
This partially worked. I also needed this to make it work.
![image](https://user-images.githubusercontent.com/75634952/118059139-0acd1c00-b34d-11eb-8d67-677e0a2facfc.png)
You can find more about it here https://stackoverflow.com/a/57195975/3250503

[2021-05-13 00:14] williamhaley commented on #31249
This patch got things working for me with `nodenv` on macOS 11.3.1 with Xcode 12.5

[code]

This is specific to `nodenv` mostly, but I adding a bunch of logging to `find-node.sh`.  _Without_ the `--no-rehash` flag, `nodenv` apparently attemps to `rehash` https://github.com/nodenv/nodenv/blob/master/libexec/nodenv-init#L104 when the command is eventually evaluated.

I didn't look into all the detai

[2021-05-13 01:47] peterhungh3 commented on #29829
I recently encountered this with an error related to Firebase:
RNPushNotification.java:37: error: cannot find symbol
import com.google.firebase.iid.FirebaseInstanceId;

And [this solution](https://github.com/zo0r/react-native-push-notification/issues/1981#issuecomment-839275519) worked for me. (adding firebaseMessagingVersion = "21.1.0" to ext {...})

[2021-05-13 03:27] johnbowdenatfacet commented on #31181
Uninstall NVM and install official node appears to have solved this...

[2021-05-13 04:48] DOCSPLOIT commented on #31374
It works great!, but sometimes it has performance issues. Hope the next version will resolve this.

[2021-05-13 06:31] vivek-bluebash commented on #28551
Ok, So I feel the point is made clear that the issue is while trying to send invalid file validated attributes like invalid file uri, type or in case some missing required data attributes like name, **while the issue being resolved**.

[2021-05-13 07:35] eyalyoli commented on #29587
`npm start -- --reset-cache` helps!

[2021-05-13 07:43] #28517 closed

[2021-05-13 07:56] edgaraskazlauskas commented on #31038
Same issue macOS Big Sur, react-native 0.61.5

[2021-05-13 08:28] theNinthDay commented on #31038
It can't run with terminal,   react-native run-ios

but  it works if  build and run with xcode

[2021-05-13 08:30] GreatAuk commented on #31038
It's work for me: https://github.com/facebook/react-native/issues/31038#issuecomment-840389818

[2021-05-13 09:03] andordavoti commented on #30503
React Native v0.64.1 is out and there is still no fix. This is very concerning...

[2021-05-13 09:34] sanduluca commented on #30123
Bug reproduced with v0.64.1
[code]

[2021-05-13 10:34] darkbasic commented on #31503
@ecreeth `flex: 1` doesn't set `flexGrow: 1, flexShrink: 1, flexBasis: 0` either, because `flexGrow: 1, flexShrink: 1, flexBasis: 0` renders correctly (see screenshot below) while `flex: 1` doesn't (see previous screenshot).

[2021-05-13 10:35] darkbasic commented on #31503
@ecreeth `flex: 1` doesn't set `flexGrow: 1, flexShrink: 1, flexBasis: 0` either, because `flexGrow: 1, flexShrink: 1, flexBasis: 0` renders correctly (see screenshot below) while `flex: 1` doesn't (see previous screenshot).

![react native flex basis 0](https://user-images.githubusercontent.com/1047358/118114314-b3c85500-b3e7-11eb-8377-d8fd17e88779.png)

[2021-05-13 13:48] rdewolff commented on #31480
Any similar info about RN 0.61.5?

[2021-05-13 13:50] AstroCorp commented on #24224
Still an issue on rn 0.64.1 :'v

[2021-05-13 15:08] mikehardy commented on #31245
I believe this should be closed, as there is a commit on master and it's been picked to release-0.65 as well

[2021-05-13 15:17] LaurenceM10 commented on #29279
This is not working for me.

[2021-05-13 15:45] TheRogue76 opened #31521 "Catalyst Instance has already disappeared crashes android build on first start in production"
## Description
Hi. I'm using reanimated 2 on Android and iOS and it uses the new JSI and Turbo modules under the hood. In production, the first launch of the app results in a crash with the following error:
[code]
and in iOS it will flat out not work on its first launch. Everything becomes OK the second time around but that first launch is terrible. I have already posted it on their side, but it h

[2021-05-13 16:11] #31245 closed

[2021-05-13 16:23] chrisozgo99 commented on #31520
Experiencing same issue with app initialization in xcode

[2021-05-13 16:41] christopher-caldwell commented on #22211
Don't make it stale, bot! Still a problem.

[2021-05-13 17:56] iwmdipak commented on #31520
@chrisozgo99
This happened also to me upgrading from 0.63 to 0.64. After trying all solutions with no luck, I found that moving the folder to a directory where the path contain no spaces works and build the app successfully.

[2021-05-13 18:14] iwmdipak commented on #31228
This happened also to me upgrading from 0.63 to 0.64. After trying all solutions with no luck, I found that moving the folder to a directory where the path contain no spaces works and build the app successfully.

Also, make sure you don't have any spaces in the project path

Move the project folder in a path with no spaces (i.e. ~/Dipak/React Native/DemoApp won't work till you have spaces in the p

[2021-05-13 18:15] iwmdipak commented on #31181
This happened also to me upgrading from 0.63 to 0.64. After trying all solutions with no luck, I found that moving the folder to a directory where the path contain no spaces works and build the app successfully.

Also, make sure you don't have any spaces in the project path

Move the project folder in a path with no spaces (i.e. ~/Dipak/React Native/DemoApp won't work till you have spaces in the p

[2021-05-13 18:20] chrisozgo99 commented on #31520
@iwmdipak yes I had the same solution. Weird why that is the breaking error but I'm now in a path with no spaces and working fine.

[2021-05-13 18:31] sunwooz commented on #25838
I'm currently on a lower version than react-native .60 so do not make use of pods.

I had to remove the podfiles and uninstall pods with

`pod deintegrate project.xcodeproj`

[2021-05-13 19:08] SudoPlz commented on #31271
Flipper strikes again..

Just remove that sh1t from your Podfile

[code]

and build your app without hustle.

[2021-05-13 22:02] phasjim commented on #29638
Hey there!
I am running React Native 0.63.4 and noticing that `undefined` is still being returned on Android when using `measureInWindow`. This works fine on iOS. I looked at all the linked issues and tried their suggestions and to no avail. Wanted to bring this to your attention! Thanks

[2021-05-14 00:27] edgarbonillag commented on #28405
Hi everyone! I'm running RN v0.61.5 and this is what worked for me:

[code]
Notice the `RCTBridgeModuleNameForClass([module class]))` instead of the RCTBridgeModuleNameForClass(Class(module)))` of the other solutions above.

And at the very end of the Podfile:

[code]

Thanks to all the ones who contributed to this thread!

Note: The `patch-package` solution didn't work for me, I don't really know

[2021-05-14 00:30] edgarbonillag commented on #31480
Hi @rdewolff, I'm running a project with RN v0.61.5 and this is what worked for me:
https://github.com/facebook/react-native/issues/28405#issuecomment-840914650

[2021-05-14 01:07] javioli-devbase commented on #31094
I have the same issue with RN 0.63.3 , I tried all solutions here, but nothing worked , Can anyone help me?

[2021-05-14 01:11] JoaoBGusmao commented on #29923
Also an issue for me. HybridData$Destructor represents 80% of my entire heap dump

[2021-05-14 02:33] LoKiLyn commented on #29749
Any update on this issue?

[2021-05-14 02:42] #31372 closed

[2021-05-14 03:29] sidverma32 commented on #31372
Thanks @kacieb for your help and support in closing this issue 🙏🏻🎉 . It was really great working experience on this PR and exploring things inside `react-native` 😊😎 [ Looking forward for some more challenges 😉]

[2021-05-14 06:29] HishamMubarak commented on #31382
Hi, I released an update with the changes you proposed and things seems to have fixed.
Thanks a lot for your help, much appreciated :)

[2021-05-14 06:29] #31382 closed

[2021-05-14 06:57] melch-inno opened #31523 "TypeError: Cannot read property 'getItem' of undefined"
Uncaught TypeError: Cannot read property 'getItem' of undefined
    at FlatList._checkProps (FlatList.js:452)
    at new FlatList (FlatList.js:396)
    at constructClassInstance (ReactNativeRenderer-dev.js:7726)
    at updateClassComponent (ReactNativeRenderer-dev.js:12729)
    at beginWork (ReactNativeRenderer-dev.js:14756)
    at Object.invokeGuardedCallbackProd (ReactNativeRenderer-dev.js:93)

[2021-05-14 06:58] #31499 closed

[2021-05-14 06:59] AbdulrhmanAtta opened #31524 "TypeError: Object is not a constructor (evaluating 'new _reactNative.TextInput()')"
I Updated my react native and since then I'm struggling with this error, I tried to reset the cache but it didn't work , I also removed node modules and installed it again but nothing is working

<img width="565" alt="Screen Shot 2021-05-14 at 13 46 38" src="https://user-images.githubusercontent.com/26340556/118233779-974a1c80-b4bc-11eb-8a67-41dc20fc6c59.png">

[2021-05-14 07:07] junqdu opened #31525 "Local image is not being rendered in release and TestFlight"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
info Fetc

[2021-05-14 08:08] MoronovArt commented on #31409
same issue

[2021-05-14 08:37] mrtaiw commented on #29867
i tried and failed, can you post sample code

[2021-05-14 08:58] vyshakh commented on #31366
I had a global react-native cli which caused the issue. Try running  ```npx react-native run-android```

[2021-05-14 09:06] rajatgyl commented on #31440
Not able to create a new project using 'npx react-naitve init project_name'

There is a pod error and it asks to install pod manually by cd project_name and then cd ios and after that pod install but getting error in pod install.

![Screenshot 2021-05-14 at 2 32 24 PM](https://user-images.githubusercontent.com/48783158/118248292-c616c180-b4c1-11eb-9d25-37fe81e91d3c.png)

[2021-05-14 09:34] daothithuong commented on #31245
I fixed it this way

[2021-05-14 09:49] mattyx96 commented on #30836
same here

[2021-05-14 10:01] vishwadeepghimirezph commented on #30761
@rahulson Thank you for your solution :). This worked for me. I did the same and it worked.

[2021-05-14 11:08] AlanSl commented on #31298
This is a real problem and the same happens on Android too. We've had to work around it by detecting if the screen reader is active and if it is, swapping in interactive View-based blocks like `TouchableOpacity` in place of inline clickable text.

This is an ugly workaround because it looks and reads like this:

...and it doesn't use any of the screenreader features or patterns for links users are

[2021-05-14 11:27] Jpunt commented on #28283
We're having the same issues, requesting Firebase Cloud Functions (which has a valid IPv6 test).

[2021-05-14 11:47] ronkot commented on #29340
Had the same problem and @tsdmrfth 's solution worked.

RN: 0.63.2
react-native-unimodules: 0.13.3
xcode: 12.5

[2021-05-14 16:07] disko998 commented on #26193
The only way for me is a custom font, so you should just change the fontFamily accordingly ('roboto-bold, roboto-regular, etc.') witch is annoying...

[2021-05-14 16:27] b3coded commented on #31514
@EatherToo you can try the solution described here: https://github.com/react-native-community/cli/issues/1404#issuecomment-829496819

it worked for me

[2021-05-14 18:24] mohity777 commented on #21718
It exists in 0.64, scrollToIndex does not fire onMomentumScrollEnd at the end of scrolling. It is called when user drags it but not when scrollToIndex is used.

[2021-05-14 18:40] enyawson commented on #29628
@SINGHPRT
Yeah, it worked.  For me, i had to remove an import statement;

import { run } from 'jest';
removing this fixed this.

[2021-05-14 18:44] ahartzog commented on #30236
Promise.allSettled is undefined in React Native 0.64.1 for me. Using Hermes for both iOS and Android now.

[2021-05-14 18:47] douglasjunior commented on #30236
RN dont have allSettled by default, you need to use [Promise.allSettled polyfill](https://www.npmjs.com/package/promise.allsettled).

[2021-05-14 20:27] kacieb commented on #31372
@sidverma32 feel free to keep an eye on the [React Native project boards](https://github.com/facebook/react-native/projects) if you are interested to keep contributing! We're still working on adding to the Code Quality project, and the Accessibility project has a bunch!

Thanks so much for tackling this issue and making React Native better! 🎉

[2021-05-14 21:55] hi337 opened #31526 "Sudden TypeError: Network request failed."
## Description
I was going to build my react native application on windows for android, just as i usually do. The app builds fine, but i quickly notice that all network requests, no matter the method, were failing. I tried many everything i could think of. I built on different devices, made sure the IP address was correct, made sure clear text traffic was enabled, updated packages. But nothing wor

[2021-05-14 22:34] nachiketnkulkarni opened #31527 "flatlist horizontal scrollable area height"
After adding flatlist there is some remains space between scrollable container and scrollbar. How to remove it?
![Screenshot 2021-05-15 at 10 25 21 AM](https://user-images.githubusercontent.com/72228360/118337842-c1591880-b568-11eb-8ac2-ab8984754289.png)

expo snack [expo](https://snack.expo.io/@nachiketkulkarni/e9862b)

[2021-05-14 23:36] oguzturker8 commented on #31527
FlastList has default flexGrow: 1 property. You can give flexGrow: 0 to FlatList or just wrap it with plain View.

  <View style={styles.container}>
   <View>
      <FlatList
         ...
      />
      </View>
      <Text>Hello</Text>
    </View>

[2021-05-14 23:38] #31527 closed

[2021-05-15 02:08] hi337 commented on #31526
never mind. I fixed this error by making a new react native application and moving all my app folder from the old projects to the new one, replacing the app.js folder in the new app with the old one, and installing deps. I guess the errors came from not updating packages the right way.

[2021-05-15 02:08] #31526 closed

[2021-05-15 09:25] Rajan-Savaliya-spt opened #31528 "i want react native FlatList fully performance like RecyclerListView............more then 200 item after FlatList performance so slow/poor and app is not work properly"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-15 09:26] Rajan-Savaliya-spt commented on #31528
please give me better way to do perfomace listview

[2021-05-15 09:26] withzhaoyu commented on #28687
meet same issue .

[2021-05-15 09:26] Rajan-Savaliya-spt commented on #31528
react native developer mack a better flatlist or i quit react native

[2021-05-15 09:28] Rajan-Savaliya-spt commented on #31528
do not close this issue......or i am gone a Switch to flutter.........

[2021-05-15 09:29] Rajan-Savaliya-spt commented on #31528
if this problum not solve...all react native developer check this link out ...
(React native -flutter doc)[https://flutter.dev/docs/get-started/flutter-for/react-native-devs]

[2021-05-15 09:43] withzhaoyu commented on #27008
face same problem ,drive me crazy..

[2021-05-15 11:09] prakashjais99 opened #31529 "Callback not working in Turbomodules from Java to JS"
## Description
I want to use TurboModules to send events from Java to JS using JSI bridge. But i am not able to find a right docs or sample code to proceed. Below is what I have achieved so far.

Code to register and later callback
[code]
Below is the JS side code
[code]
Registration is working but when I tried to do call sendKeyEvet later for an event from Java native function call back is not ca

[2021-05-15 12:54] juliendeveloper commented on #29333
Is there anything new?
In my opinion it's a recommend feature

[2021-05-15 13:01] umaradilov opened #31530 "React Native application freezes while fetching API"
## Description
Hi I have very common problem, react native application freezes while fetching API, It is like when you fetching you cannot click or do anythink till your fetching ends.

## This is my code where I call function which fetchs APi

[code]

## Here is my api calling layer

[code]

[2021-05-15 13:27] oguzturker8 commented on #31528
[This could help ](https://stackoverflow.com/a/44403088/9519490)

[2021-05-15 14:35] rdewolff commented on #29021
This worked for me too! Thanks for sharing.

[2021-05-15 17:42] Bram-Zijp opened #31531 "[Expo?] Developing/debugging push messages"
I was testing push notifications and got stuck somewhere along the line. It appears to be caused by an notification not being dismissed. Every later notification was ignored.

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Get an infinite push message (not sure how I broke it. Somewhere in a long session, I copy pasted a lot of example code and then removed it

[2021-05-16 00:03] ithustle commented on #30795
Same here... I can't build on physical device

[2021-05-16 00:51] ithustle commented on #30516
RN 0.64.1
node: 16
Macbook Pro M1

[2021-05-16 01:19] ithustle commented on #31094
I ran Metro bundle with sudo and Build was successful.
Why is that? Because every time the process was near to end, the Metro lose connection to watchman and build fall

[2021-05-16 03:31] hoangtrieukd commented on #30623
i have same issue

[2021-05-16 04:24] MarkKoenig95 commented on #31480
I tried literally everything, I even ran into the same error with a freshly built react native project. Finally I found this thread and applied the suggestion [here](https://github.com/facebook/react-native/issues/28409#issuecomment-805195735) and finally fixed the problem.

I think the problem me and others on that thread were facing might possibly be related to NFPS Case Sensitive file systems [

[2021-05-16 05:34] rdewolff commented on #31480
Yeah, updating version is always full of surprises and usually takes a lot longer than planned. For me it us usually means a lot of trial and error.

[2021-05-16 07:13] anaskhraza commented on #30959
@amarlette I have investigated the issue, I think this PR #31001 has already resolved this issue. Can you please verify my findings?

[2021-05-16 07:17] ghadeeraqraa1992 opened #31533 "android Unknown (SIGSEGV) issue"
## Description
I got  Unknown (SIGSEGV) issue on my production version installed from google play.

## React Native version:
 OS: macOS 11.2.2
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 171.89 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 12.14.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 6.13.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/loc

[2021-05-16 09:10] manurana commented on #31314
Confirming the issue. Took about 10 hours to build.
I had killed 2-3 previous build, thinking they were dead, until I came across this thread. Persevered, and finally got a build.

Machine is a 2014 MacBook Pro
2.6GHz Dual Core Inter Core i5
8 GB Memory

[2021-05-16 11:05] dhillm920 opened #31534 "Text Strings must be rendered within a <Text> component"
![Screenshot (20)](https://user-images.githubusercontent.com/71113936/118394827-55011680-b647-11eb-95aa-5f538e67aa25.png)

[2021-05-16 11:29] prajwalghate commented on #29758
I am having same issue , any leads will be helpful

[2021-05-16 12:51] mrsimply commented on #28525
Dump question, isn't it the easiest way to just call `Appearance.getColorScheme()` when the Listener fires? Works well for me without a cumbersome timer...

[code]

[2021-05-16 13:59] tsirolnik commented on #29605
I've opened the project with `xed -b ios` instead of opening it via xcode and it worked properly

[2021-05-16 15:13] DOCSPLOIT commented on #31534
Check that you're imported the right Text component.

`import {Text} from 'react-native'`

[2021-05-16 17:58] rchaubey commented on #31505
facing the same issue after enabling hermes in ios

[2021-05-16 21:52] martinivanalfonso commented on #30960
I had a look at this issue and found out `accessible` & `accessibilityState` props are properly being passed down to the component (TouchableWithoutFeedback inside TextInput.js) however there seems to be some conflict with TextAncestor.Provider in the same file because when I removed it the screen reader was able to read all props including `checked`.

This problem was not present on Button #30950

[2021-05-16 23:23] rafaelmaeuer commented on #21301
This issue still seem to exist in RN 0.64.0 with android. Changing from png to jpeg is a fix that works but doesn't make me happy 😕

[2021-05-17 00:01] anabeatrizzz commented on #16376
@unixvb in which file I have to write this code, please?

[2021-05-17 01:50] harveyconnor commented on #31345
Can confirm, removing `<item name="android:textColor">#000000</item>` solves the issue.

[2021-05-17 02:20] Jorgezz commented on #31511
alraedy resolved by run `sh $HOME/.nvm/nvm.sh | echo $?` and return status 0.

[2021-05-17 02:20] #31511 closed

[2021-05-17 02:21] Jorgezz commented on #31511
https://github.com/nvm-sh/nvm/issues/1985

[2021-05-17 02:53] Doko-Demo-Doa commented on #26930
For me, it was caused by `@cometchat-pro/react-native-calls` dependency. Its `build.gradle` is:

[code]

Hilariously, the native Android SDK depends on `react-native` so I had to exclude some inner dependencies for it to work:

[code]

[2021-05-17 03:54] levymetal commented on #31249
@williamhaley's fix pointed me in the right direction. Looking into the `nodenv: cannot rehash` error, I found that `nodenv-rehash` will blow up when run in parallel: https://github.com/nodenv/nodenv/blob/master/libexec/nodenv-rehash.

Naturally, I thought `find-node.sh` may have being running in parallel. But after some investigation this doesn't appear to be case. Then I checked the `~/.nodenv/s

[2021-05-17 04:02] levymetal commented on #31181
After trying everything in this thread to no avail (I use `nodenv`), I found that I had a rogue `~./nodenv/shims/.nodenv-shim` file. This file is supposed to get cleaned up after a rehash and is used as a guard against parallel rehashing, but in my case a borked rehash must have caused it to stick around. Deleting it resolved the error.

[2021-05-17 05:25] unixvb commented on #16376
`app-name/ios/AppName/AppDelegate.m`

[2021-05-17 06:00] Rajan-Savaliya-spt commented on #31528
my list of data i have 10000 item [{}...10000]  and i also apply `https://stackoverflow.com/questions/44384773/react-native-100-items-flatlist-very-slow-performance/44403088#44403088` but still user experience is still slow..render time tack a to long.................................. i want a better solution

[2021-05-17 07:28] tbanj commented on #28503
@ ghost this work for me, opening the project through workspace

[2021-05-17 09:10] fabriziobertoglio1987 commented on #30855
This is the result of my quick research on #1

**accessibilityActions** prop

Javascript
https://github.com/facebook/react-native/blob/83e5cdd369de637bbf9ea20d93cebc9984efaabb/Libraries/Components/View/ViewPropTypes.js#L433

https://github.com/facebook/react-native/blob/83e5cdd369de637bbf9ea20d93cebc9984efaabb/Libraries/Components/View/ViewPropTypes.js#L46

Java
https://github.com/facebook/react-n

[2021-05-17 09:37] ChiragMDave commented on #21801
The problem isn't in android but lies somewhere in your code which deals with the height values. You can, smoothly transform, translateY number of Animated.Views simultanously e.g. Header view, middle view, bottom view using Pan, ScrollView or Flatlist.
Note: You cannot animate using height property while using useNativeDriver: true, it should be false.
1. Interpolation negative outputRange value

[2021-05-17 10:08] iampkumar commented on #29279
Have you resolved it?

[2021-05-17 10:13] ahmadeyamin commented on #17530
After 3 years it's still not resolved 🙄

[2021-05-17 10:54] Rajan-Savaliya-spt commented on #31528
i have a solution use pureComponent.................................................................................................................................

full code

`
import React, {Component, useState, useEffect} from 'react';
import {
  SafeAreaView,
  View,
  FlatList,
  StyleSheet,
  Text,
  ActivityIndicator,
  StatusBar,
  Dimensions,
} from 'react-native';
import { List, Avatar}

[2021-05-17 10:54] Rajan-Savaliya-spt commented on #31528
use Pure Componet..must......large list

[2021-05-17 10:55] #31528 closed

[2021-05-17 11:06] Rajan-Savaliya-spt commented on #31528
PureComponent + 10/20/30 item pagination + getItemLayout ...........use...

[2021-05-17 11:12] oguzturker8 commented on #31528
Pagination makes sense you can also use `onEndReached` prop

[2021-05-17 11:24] nachiketnkulkarni opened #31535 "How to pass data to flat list footer component?"
How to pass data to flat list footer component i tried with extraData property but it didn't work.

[2021-05-17 12:18] Harshitha91 commented on #29455
Any update about the issue?

[2021-05-17 12:42] cengoist opened #31536 "TypeError: Cannot read property 'position' of undefined"
![IMG_3558](https://user-images.githubusercontent.com/46006061/118490042-3160cd80-b726-11eb-9ac9-80fdadfad299.PNG)

Hello, nice software developers. I am developing an application for react native and I get such an error. It does not open on ios and android devices "react-native": "0.61.1", I am using version and "react-navigation": "^ 4.0.8", "react-navigation-stack": "^ 1.9.0", "react-navigation

[2021-05-17 13:02] haruhiroYakumo commented on #29356
The same error encountered after switching from 15 to 16 Node version. My solution was to remove and install again node_modules folder, but I hardly see why this helped.

[2021-05-17 13:26] Sach-SPF commented on #27400
@kirantripathi - I too facing the same issue, did you able to come over this issue?

[2021-05-17 14:01] robertying opened #31537 "[Android] React Native strips non-ASCII characters from HTTP headers"
## Description

When using React Native's `FormData` on Android to upload a file, things in the header `Content-Disposition`, such as the filename will get stripped, if they contain non-ASCII characters such as Chinese.

For example, uploading a file with the name "test测试test.jpg":

[code]

The actual HTTP headers sent will only include `filename=testtest.jpg` with `测试` stripped.

---

As I invest

[2021-05-17 14:31] SergeyKo69 commented on #17530
All these actions did not help me. The program still crashes.

[2021-05-17 14:55] smanzini commented on #29279
hi @ralphbourji  could you please clarify what do you mean with 4. used required to fetch local image ?
How can you link the Build Phases to the new asset folder then?
In my case I've created an 'Images.xcassets' folder under my project (under ios).
In the code I use <Avatar rounded source {{uri:'../ReactNative/NameProject/src/assets/images/Stefano.jpg'}} />
Thanks

[2021-05-17 14:57] smanzini commented on #29279
Hello, what happens to me is that images are correctly displayed on Simulator but not on Device. Is that solving also issue on Device?
Thanks

[2021-05-17 15:00] skay97 commented on #31437
@itsmistad I'm having the same issue with my app. Were you able to figure how to resolve the issue?

[2021-05-17 15:55] tiggem1993 commented on #29759
Getting this crash in my Firebase Crashlytics.

`Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$Itr.next(ArrayList.java:860)
       at android.view.View.registerPendingFrameMetricsObservers(View.java:6565)
       at android.view.View.dispatchAttachedToWindow(View.java:18484)
       at android.view.ViewGroup.dispatchAttachedToWindow(ViewGroup.java:3441)

[2021-05-17 16:06] skay97 commented on #31507
@luan-nvg This seems similar to [Issue 31437](https://github.com/facebook/react-native/issues/31437). Were you able to make any progress on this?

[2021-05-17 16:09] kacieb commented on #31419
Support for this role added in https://github.com/facebook/react-native/commit/da899c0cc4372830e5ca053a096b74fff2a19cb8

[2021-05-17 16:09] #31419 closed

[2021-05-17 16:16] pqminh opened #31539 "[Android] Fetch takes so much time to call simple api"
## Description
Fetch takes so much time to call simple api. Over 60s

<img width="746" alt="Screen Shot 2021-05-17 at 23 24 25" src="https://user-images.githubusercontent.com/13993984/118523218-1febe580-b767-11eb-8a85-1216a681a830.png">
<img width="300" alt="Screen Shot 2021-05-17 at 23 22 43" src="https://user-images.githubusercontent.com/13993984/118523225-224e3f80-b767-11eb-84ef-7de816e82e0f.pn

[2021-05-17 16:18] kyle-ssg commented on #31269
@matmartic you are an absolute hero

[2021-05-17 16:24] amarlette commented on #30959
@anaskhraza I believe that the fix will be very similar but don't know if that PR fixes this issue. I will get back to you.

[2021-05-17 16:40] luan-nvg commented on #31507
I still couldn't get friend, this error is giving in the newest version of the react to 64, and the craziest is that if I put it in version 0.63 it doesn't give this problem, however according to them on the ipad version 14.5.1 of the problem. this week I had to hire a person to emulate my project on an ipad compatible with what they asked for, and the same works as they are rejecting the informan

[2021-05-17 17:22] naxir opened #31540 "New RN Project Build Failed on M1"
Could not find node. Make sure it is in bash PATH or set the NODE_BINARY environment variable.
Command PhaseScriptExecution failed with a nonzero exit code

[2021-05-17 17:23] naxir commented on #31540
Solution
sudo ln -s $(which node) /usr/local/bin/node

[2021-05-17 17:23] #31540 closed

[2021-05-17 18:56] hugoh59 commented on #26348
Me too but with AppAuth.

[2021-05-17 19:15] mljlynch opened #31541 "SIGABRT: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'n.default.init')"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

Our app is crashing when deployed via MSFT app center or app store connect with the following error:

SIGABRT: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'n.default.init')

I'm unsure how to determine what is undefined

Recently, we changed the ap

[2021-05-17 19:31] biomancer commented on #16376
If that would help someone I was using react-native 0.64.0 with flipper setup with versions like that in Podfile:

`use_flipper!({ 'Flipper-Folly' => '2.5.3', 'Flipper' => '0.87.0', 'Flipper-RSocket' => '1.3.1' })`

I had no luck applying the fix that is suggested above getting error "Use of undeclared identifier 'RCTDevLoadingView'" and what's worked for me is downgrading flipper, changing that l

[2021-05-17 19:54] Jojr commented on #29333
On Android, the frame rate settings are available from API level 30 or higher. Currently, React Native 0.64 is using API level 29. It will be available only on further versions of RN, I guess.

https://developer.android.com/guide/topics/media/frame-rate

[2021-05-17 20:47] manuelduarte077 opened #31542 "A problem occurred evaluating project ':app'."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-17 22:11] jlandrum commented on #31480
This is embarrassing. This is easily the 8th issue I've had with React Native on iOS due to an Xcode update, and I can't count how many times outside of React Native. If someone has a contact within Apple, it needs to be brought up to them that they can't keep releasing breaking changes to Xcode.

[2021-05-17 22:14] TheSavior commented on #30914
Interesting, [the examples on MDN](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL#examples) include:
[code]

[2021-05-17 22:20] solutioner00 commented on #28405
I'm running RN v0.61.x This solution is working well. Thanks for your report.

post_install do |installer|
    ## Fix for XCode 12.5
    find_and_replace("../node_modules/react-native/React/CxxBridge/RCTCxxBridge.mm",
    "_initializeModules:(NSArray<id<RCTBridgeModule>> *)modules", "_initializeModules:(NSArray<Class> *)modules")
    find_and_replace("../node_modules/react-native/ReactCommon/turbo

[2021-05-17 22:31] mikehardy commented on #31480
I can't imagine any software company that would agree to stop releasing breaking changes, that's technically silly.
The problem is that they bundle the SDK updates (new symbols for new iOS versions) with the IDE update. No idea why they do that, but *that* is the problem. Breaking change takes some time to adopt, but you can't wait to adopt the SDK updates because you need the new symbols to devel

[2021-05-17 23:15] sanu23kumar commented on #31539
You are not writing fetch as intended in your repo.
Please write your fetch logic in a useEffect(() => {//your code}, [])
In the App function above the return statement and post your results again.

[2021-05-17 23:16] sanu23kumar commented on #31536
Please add your tab navigator code here

[2021-05-17 23:18] sanu23kumar commented on #31535
https://reactnative.dev/docs/flatlist
Go to the footer support section. Why is this even an issue, ask questions on stack overflow?

[2021-05-17 23:20] sanu23kumar commented on #31534
Your emulator error is because of you deleting the Subslide file.

[2021-05-17 23:24] sanu23kumar commented on #31523
What are you passing as data to the flatlist.

[2021-05-17 23:52] yungsters commented on #30914
I think that the `path` needs to be normalized to start with `/`, which explains the following:

[code]

But other than that, we should not be appending `/`:

[code]

Today, it seems like we are always appending `/` which is wrong.

[2021-05-18 00:34] computerjazz opened #31544 "Android TextInput placeholder with custom font has incorrect height"
## Description
TextInput placeholders that do not use the default android font and differ in their wrap point from the default font may be cut off.  For example, if the default font does not wrap, and the custom font is slightly wider and does wrap to the next line, the placeholder will NOT reflect this wrapping, and the TextInput will only be one line.

## React Native version:
[code]

## Steps T

[2021-05-18 01:30] jailsonpaca commented on #19507
same problem here

[2021-05-18 03:21] shensven commented on #29522
how did you solve this lost focus problem

[2021-05-18 03:40] chj-damon commented on #26870
+1

[2021-05-18 05:31] udaysagartammina commented on #31284
I am also getting the same error.

+ node /Users/user/Documents/Examples/node_modules/react-native/cli.js bundle --entry-file index.js --platform ios --dev false --reset-cache --bundle-output /Users/user/Library/Developer/Xcode/DerivedData/StepUp-arcbdgjhmmvylwbgivrtxllexdqe/Build/Intermediates.noindex/ArchiveIntermediates/StepUp/BuildProductsPath/Release-iphoneos/main.jsbundle --assets-dest /User

[2021-05-18 06:20] hardikshah197 commented on #31544
May I take up this issue? if it is open @computerjazz

[2021-05-18 06:33] cengoist commented on #31536
`import React from 'react';
import {createAppContainer} from 'react-navigation';
import {Image} from 'react-native';
import { createBottomTabNavigator } from 'react-navigation-tabs';
import routerCars from '../Cars/routerCars';
import routermap from '../map/routermap';
import routerReports from '../reports/routerReports';
import routerSettings from '../setting/routerSettings';
//import * as Animat

[2021-05-18 06:40] cengoist commented on #31536
import React from 'react';
       import {createAppContainer} from 'react-navigation';
        import {Image} from 'react-native';
        import {createBottomTabNavigator} from 'react-navigation-tabs';
        import routerCars from '../Cars/routerCars';
        import routermap from '../map/routermap';
        import routerReports from '../reports/routerReports';
        import routerSettings fr

[2021-05-18 06:43] cengoist commented on #31536
**I redirect from this page, this page works after the user logs in to all pages. When I run this page, I get that error. When I run the pages it redirects one by one, I don't get any errors.**

[2021-05-18 07:12] vdthieu opened #31545 "Inconsistency padding properties when using flex"
This get weird when I add padding properties

## React Native version:
System:
    OS: macOS 11.2.1
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 116.91 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.3.0 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.9 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Manage

[2021-05-18 07:27] amoerke commented on #12606
The magic that worked for me was **_key={(new Date()).getTime()}_**

Thanx Malina!

[2021-05-18 07:39] cheese-git commented on #26610
add style `flexGrow: 1` to parent component fixed this in my situation:

[code]

[2021-05-18 08:29] pqminh commented on #31539
Only for demo. Pls check App.js file.
TKS!!

[2021-05-18 09:02] sanu23kumar commented on #31539
I did @pqminh, that's why I requested you to move it to the correct place. Right now I've no idea what lifecycle your code is going to follow outside of the app function. It needs to be inside the app function.

[2021-05-18 09:19] riadhriadh opened #31546 "my app crashes in some device (android 11)"
after the last android update on some device my app crashes in some device that receives the android 11 update

Example of unsupported device :
onePlus 7
pixel 5 : ABI ARM64_V8

## React Native version:
System:
    OS: macOS 11.3.1
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 28.48 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 12.21.0 - ~/.nvm/versions/node

[2021-05-18 09:28] riadhriadh commented on #31545
I think it is necessary to use margin

[2021-05-18 09:46] vdthieu commented on #31545
I mean using padding make those flex child (green and red view) doesn't have the same width.

[2021-05-18 11:10] sidverma32 commented on #31372
Sure @kacieb , i will keep an eye on it. Just wanted to checkout with you is there any common channel/platform/discussion-forum where outside people can connect with the FB engineers or post/discuss problems in a group or get updates on [engineering channel] what/how core react-native team is solving engineering problems [ eg: we use Slack :P ]

[2021-05-18 11:24] Saurabhreactninja opened #31547 "PermissionsAndroid don't show custom title and message ."
In react version 0.62
I am calling PermissionsAndroid with custom message and title but app just show the default message. I am using the code given below.
const requestLocationPermission = async () => {
  try {
    const granted = await PermissionsAndroid.request(
      PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION,
      {
        title: "LocationPermission",
        message:
          "Ou

[2021-05-18 11:25] Murtala-1 commented on #31060
Also here

[2021-05-18 12:07] adumat commented on #31323
In my case i get the same message randomly when using metro server and fast refresh during development.

[2021-05-18 12:50] maxymczech commented on #30664
Still an issue for Windows users

[2021-05-18 12:53] gulsher7 commented on #30922
this is usually caused by having the .xcodeproj file open instead of .xcworkspace.

[2021-05-18 14:30] henrik-d commented on #28279
@fabriziobertoglio1987 It does not work for me either.
[code]
The word is breaking `superfragilisticexpiaid ocious` and without hyphen. Is there something wrong with my code?

[2021-05-18 15:06] enahum commented on #30034
using the `scaleY: -1` instead of `transform: [{scaleY: -1}]` indeed seems to fix the performance issue, **BUT** (as usual there is a but) the refresh control becomes an issue.

It renders on the top of the screen as you attempt to scroll down and in order to actually scroll you'll need to scroll up then down to "free" the pan responder somehow.

[2021-05-18 15:51] pqminh commented on #31539
Tks for your reply!
This issue was gone!
Maybe due to my network or datetime sync macos & android

[2021-05-18 15:51] #31539 closed

[2021-05-18 16:54] RishavKumar-3796 commented on #28774
Please resolve this !

[2021-05-18 17:03] tkserver commented on #31397
THANK YOU THANK YOU!  I was stuck in an infinite loop when launching on android.  Commenting out this code in my App.js fixed the problem:

`if (__DEV__) {
  NativeModules.DevSettings.setIsDebuggingRemotely(true)
}`

[2021-05-18 17:58] bw-space opened #31549 "Building React Native document link for android not working"
## Description
Link given under react-native/ReactAndroid for Building React Native for Android docs, which points to https://reactnative.dev/docs/building-from-source.html#android
shows page not found.

[2021-05-18 18:15] #31549 closed

[2021-05-18 18:19] chrisglein commented on #31546
Without a repro or callstack this issue isn't actionable. Can you provide more information?

[2021-05-18 18:22] chrisglein commented on #31545
Put this in a snack [here](https://snack.expo.io/RlWKRQg8ih)

[2021-05-18 18:29] chrisglein commented on #31544
This looks similar to lots of other TextInput line height issues that have come through: #31112 or #30666 for example. @computerjazz do either of those look the same to you?

[2021-05-18 18:38] computerjazz commented on #31544
@chrisglein the issues you linked look related, but I don't think any of these is an actual duplication of this ticket.
- re: #31112, my ticket is specifically about placeholder wrapping, adjusting `lineHeight` doesn't seem to have an effect
- re: #30666, my ticket does not have to do with respecting `numberOfLines` prop

[2021-05-18 18:46] vdthieu commented on #31545
What I want to say is flex has not the same WIDTH when add padding. Let's compare with the Simple Flex in my example, they are the same, and they should still be same when I add padding.
Anyway, sorry for using wrong height that make you misunderstand

[2021-05-18 18:55] elan opened #31550 "Android: Allow delay on Touchable ripple effect"
## Description

Pressables now have support for the Android ripple effect. Huzzah!

Unfortunately, there doesn't seem to be a way to delay the effect, as you see in most Android apps (e.g. just look in the Settings app). We've heard reports that the immediate ripple effect is a bit jarring as well as can cause some jank when scrolling. I tried using `unstable_pressDelay` and this does delay the ri

[2021-05-18 19:54] karladler opened #31551 "Using underscore as number separator leads to error on android build"
## Description

Using an underscore as number separator as described in [this proposal](https://github.com/tc39/proposal-numeric-separator) leads to an error when building for android.

## React Native version:

    OS: macOS 11.3
    CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Memory: 557.13 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 12.14.0 - /var/folders/3j/s9s

[2021-05-18 21:50] jefelewis commented on #29145
Any update on this? I'm creating a NPM library [react-native-slide-modal](https://www.npmjs.com/package/react-native-sliding-modal). It only doesn't use any 3rd party libraries, but I'm getting the error `Can't find variable: React` when I import the library into a fresh project.

Is this an issue with `tsconfig.json` or `React 17`?

[2021-05-18 23:00] tommulkins commented on #31181
Thanks @iwmdipak!  This was the solution that worked for me. 😄

[2021-05-18 23:23] lunaleaps commented on #28140
I think I lean towards setting the property to false by default and adding a property to ScrollView to override it for the following reasons:
* The lack of documentation of what `automaticallyAdjusts` means
* The fact that you have the flexibility to [customize scroll indicator insets](https://reactnative.dev/docs/scrollview#scrollindicatorinsets-ios)
* To users of React Native who are not familia

[2021-05-19 00:41] Gra55h0pper commented on #31181
Not sure whether I'm alone on this but before the PhaseScriptExecution error is see:
`cp: /Users/.../Library/Developer/Xcode/DerivedData/.../Build/Products/Debug-iphoneos/main.jsbundle: No such file or directory`

React-native 0.64.1 with Xcode 12.5

[2021-05-19 02:18] iceAnson commented on #31176
finally i have a fix with this problem:

1、build plugin reac-native-codegen from 'react-native/packages/react-native-codgen' and  uploadArchives to my own private maven.
2、the first problem you got maybe is the CodegenPluginExtension.jsRootDir is null, you can set this params as  'xxxx/react-native/Libraries' ,it will fix this;
3、if you find some module not found , cd react-native ,npm install xxx

[2021-05-19 02:21] iceAnson commented on #30271
finally i have a fix with this problem:

1、build plugin reac-native-codegen from 'react-native/packages/react-native-codgen' and uploadArchives to my own private maven.
2、the first problem you got maybe is the CodegenPluginExtension.jsRootDir is null, you can set this params as 'xxxx/react-native/Libraries' ,it will fix this;
3、if you find some module not found , cd react-native ,npm install xxx。i

[2021-05-19 02:34] #30951 closed

[2021-05-19 02:59] andyhaha commented on #29761
still no answer for my problem？

[2021-05-19 03:24] junedkhan commented on #28712
Thanks @developius  this has sloved my issues.

[2021-05-19 03:59] fabriziobertoglio1987 commented on #28279
https://developer.android.com/reference/android/widget/TextView#setHyphenationFrequency(int)

[2021-05-19 04:26] vdthieu commented on #31545
I updated my code above to clearly show the problem

[2021-05-19 04:38] hb-abhilash commented on #28405
@devethan thank you. you save my day

[2021-05-19 05:20] dulmandakh commented on #29377
We regularly update NDK version used in RN, and Android NDK deprecated libstdc++, then switched to libc++, so we had to switch from to libc++. See https://developer.android.com/ndk/guides/cpp-support

Also there is a notice for library developers.

So I think it's best to file an issue to third party library provider

[2021-05-19 05:57] DylanVerstraete commented on #28405
thanks @edgarbonillag I confirm your fix works for RN 0.61.5

[2021-05-19 06:07] bw-space opened #31552 "RN Tester App build failed in Windows."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Upon trying to execute
`./gradlew :packages:rn-tester:android:app:installJscDebug
`

from the react-native master branch the following error occurs in Windows OS.

FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':packages:react-native-codeg

[2021-05-19 06:40] RidaRidss commented on #29279
Thanks @tomcheung this quick fix worked for me , images were not showing on debug mode with the compilation of Xcode 12.5

[2021-05-19 07:53] supostat commented on #17530
Got the same issue
[code]

[2021-05-19 09:26] vesai commented on #31275
I had the same situation.
I looked to a file that call script **generate-specs.sh** and I found **ios/Pods/Pods.xcodeproj/project.pbxproj**.
I tried to change bash to zsh (because it is default in my laptop). And build is started working.
Then I tried to find reason why bash didn't work and I have found.

Look at my **~/.bash_profile** before changes:

[code]

In the last line `$PATH:` was missed,

[2021-05-19 10:14] gtebbutt commented on #31249
I was seeing the same issue on a new project created with RN 0.64.1. Explicitly running `pod install` from the `ios` folder altered the `FBReactNativeSpec` checksum in `Podfile.lock`, and everything built without an issue after that.

[2021-05-19 11:28] janziemba commented on #31015
@chrisdrackett Could you please share your solution?

[2021-05-19 11:28] MwareSolutons commented on #31391
Same here not working for 0.64

[2021-05-19 11:46] Saurabhreactninja commented on #31547
I am using react native version 0.64. If you want to check than please check this offical code https://reactnative.dev/docs/permissionsandroid with ACCESS_FINE_LOCATION instead of CAMERA. When you use camera as a permission it show custom message and title but as soon you replace the CAMERA permission with ACCESS_FINE_LOCATION than it start showing default message.  https://reactnative.dev/docs/pe

[2021-05-19 12:48] ashnassadiyan commented on #29301
i could fix this just running npm install
and i  have removed metro.config.js

[2021-05-19 13:06] stijnstroeve commented on #31391
I'd like to have a look at this issue, could you maybe assign me? @AdamChrist

[2021-05-19 13:14] busterbogheart commented on #28981
@pedroenrre Did you solve this?

[2021-05-19 13:27] AndreyBaryshev commented on #29387
I use expo-splash-screen and fix work only if I add it in two places.
Without second line fix does'n work for me.
![image](https://user-images.githubusercontent.com/75067606/118820414-4d4fa500-b8c7-11eb-8588-08c3c0d892b0.png)

[2021-05-19 14:13] Great-hijack commented on #28794
What is the solution for this issue?

[2021-05-19 14:24] MrQureshi opened #31553 "Android SyntaxError: Unexpected token ﻿ in JSON at position 0"
suddenly API response failed with SyntaxError: Unexpected token ﻿ in JSON at position 0

## Description
response of all APIs is failed.
in Fetch call res.json() failed
can't use JSON.parse() in axios.

## React Native version:
System:
    OS: macOS 11.3.1
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 44.68 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.4.

[2021-05-19 15:18] MrQureshi commented on #30008
I'm facing the same issue but no solution found yet.

[2021-05-19 16:52] rohitgurudasani commented on #28844
in my case i'm using `react-native-ble-manager` package, by turn-off my Bluetooth, now its working fine.

[2021-05-19 19:10] daniel-moya commented on #30365
Any update on this issue ?

[2021-05-19 19:11] daniel-moya commented on #30365
Any update on this issue ?

[2021-05-19 19:29] CurtisTD commented on #29644
I am still having the same issue

[2021-05-19 19:31] chrisglein commented on #31545
I believe this is just expected from flex layout. For example if I translate your markup to HTML like so:

[code]

I get the same result. You can run that in a jsFiddle [here](https://jsfiddle.net/xmLjsot4/).
If it behaves this way with HTML flexbox layout then it seems correct that RN/Yoga flexbox match. This appears to be by design.

[2021-05-19 19:31] #31545 closed

[2021-05-19 20:00] mausic commented on #26193
react-native cli v0.64.1 issue still persist

[2021-05-19 20:45] pybuche opened #31555 "ScrollView item width overflows screen width with alignItems flex-start"
## Description
While trying to craft a "self-positioning" component, I realized that `alignItems: flex-start` on a ScrollView makes the items width exceed the screen width, creating quite a huge overflow and an unwanted (and unspecified on the code) horizontal scroller.

| Expected behavior | Current behavior |
| ---- | ---- |
| ![image](https://user-images.githubusercontent.com/7555711/118880525-

[2021-05-19 21:01] lokomass commented on #30258
Thanks for solution
I’ve updated RN but this doesnt fix my bug
How i can do this please ?

[2021-05-19 21:58] rraczae opened #31556 "RN 0.64: Scrollview StickyHeaderIndicies do not adjust when direct siblings' height changes"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
We have a scrollview with sticky elements where the height of certain items can change.

[StickyItem]
[NonStickyItem - height can change]
[StickyItem]
[NonStickyItem - height can change]

On version 0.63.4 this was working fine, however on 0.64 when the height of a non sticky it

[2021-05-19 23:54] aforty opened #31558 "an npm package is able to break core functionality (Linking.getInitialURL promise never resolves)"
## Description
There is a npm package (`json-api-normalizer`) that is able to break core functionality. Just by importing it the `Linking.getInitialURL()` promise never resolves. I suspect the change in this commit [this commit](https://github.com/yury-dymov/json-api-normalizer/commit/8158e433bb3d8f2498a96511260a4a21b60e5648) breaks this because it works with 1.0.1 but not >1.0.2. I'd like to know

[2021-05-20 03:14] bcsaxon commented on #31249
I ONLY commented out `project/node_modules/react-native/scripts/find-node.sh` like @sumanbhattarai mentioned as the second part of his solution above. I'm still scared of bash a bit so I didn't dig in to mess with my paths.

Think this will cause me headaches in the future? hopefully, a true fix and less of a patch will be coming soon.

[2021-05-20 04:11] kenfoo commented on #30756
I'm experiencing the same problem too.

Issue only happens when loading an image from a path outside the project directory in debug mode.

React Native is somehow picking up the image dimensions properly & allocating the appropriate space on the view, but no image is displaying.

Works in Android release mode. Works in iOS debug & release mode.

A simple App.js using the example above will reprodu

[2021-05-20 06:18] Andriiklymiuk commented on #25782
Is someone found how to solve it?

[2021-05-20 06:40] stgreenman commented on #27029
Same for me except only for externally defined functions.

Workaround: Update logic or UI on a functional component. Metro for some reason rebuilds external functions then which is faster than rebuilding the entire project every time.

[2021-05-20 06:50] tucomel commented on #28944
THX! I solved my  1month problem with an interpretation of your answer.
I was setting ```setPressed(ispressed)``` before set a hotspot, with your answer I moved the setPressed right after set the hotspot and everything works like a charm really thanks! <3 <3 <3 <3 <3 <3 <3 <3

![image](https://user-images.githubusercontent.com/8607299/118932280-3d16e480-b91e-11eb-9efe-a547625a0d66.png)

[2021-05-20 07:21] SarvaDev-123 commented on #29543
but this code change to be 3 icon color also. How to change the 3 icon colors does not any effect on the android device.

[2021-05-20 07:42] levymetal commented on #31249
@hlynbech shims are an `[x]env` concept (`rbenv/pyenv/nodenv` etc) so you wouldn't have this exact issue with `nvm`. Have you read over the comments on https://github.com/facebook/react-native/issues/31181? A lot of `nvm` users there with various fixes.

Also, even if you aren't actively using `nodenv`, do you have it installed (`nodenv -v`)? If you've got it installed and there's a `.nodenv-shim`

[2021-05-20 07:55] whalemare commented on #26892
This solution close modal on any touch outside, not on swipe

[2021-05-20 08:06] aTreey opened #31560 "border/jagged edges only on the iPhone 12 series device"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

border on background: #006FFF and

[2021-05-20 08:06] sankomil commented on #31323
@adumat  Any luck rectifying this issue?

[2021-05-20 08:34] SNWStaff commented on #29699
We are also facing this issue, any news?

[2021-05-20 08:44] MaxCode-fan opened #31561 "This is not a BUG"
Can existing Modal add gesture closing?

[2021-05-20 08:45] MaxCode-fan commented on #31561
Or will this capability be improved in a later version?

[2021-05-20 09:50] oguzturker8 commented on #31555
+1, also `flex:1 ` container items not working properly with `horizontal` scrollview. First item exceeds screen width.

[2021-05-20 10:05] ynoval commented on #30836
Using latest versions works for me
use_flipper!({'Flipper' => '0.91.1', 'Flipper-Folly' => '2.6.7', 'Flipper-RSocket' => '1.4.3'})

[2021-05-20 10:33] ezranbayantemur commented on #31561
I think not. You should use [community package](https://github.com/react-native-modal/react-native-modal) for customization

[2021-05-20 10:40] ezranbayantemur commented on #31551
I'm not sure about that but maybe [numeral.js](http://numeraljs.com) can help you about number formatting. It's not a solution about your issue context, of course. but maybe you can check it out if your problem is urgent.

[2021-05-20 11:13] aleppos commented on #30921
Fatal Exception: java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so
	SoSource 0: com.facebook.soloader.a[root = /data/data/com.alghad/lib-main flags = 1]
	SoSource 1: com.facebook.soloader.c[root = /data/app/com.alghad-Yh0rj5OxfZhcSzZq49_JCw==/lib/arm64 flags = 0]
	SoSource 2: com.facebook.soloader.c[root = /vendor/lib64 flags = 2]
	SoSource 3: com.facebook.soloader.c[root = /

[2021-05-20 12:31] ravirajn22 commented on #31483
Duplicate of https://github.com/facebook/react-native/issues/30245

[2021-05-20 13:03] Luckygirlllll commented on #29829
I got this error as well today: "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0."

It looks like it complains about bunch of libraries such as: react-native-async-storage_async-storage, react-native-gesture-handler,  react-native-webview, react-native-screens, react-native-firebase_app.

Any updates about this issue?

[2021-05-20 13:12] maartenvandillen commented on #28442
I think I found the solution! I was always wondering why the default url in AppDelegate.m did not work. So I started focusing on that. It turns out that my huge adblocking hosts file was the cause of this. Restoring the original /etc/hosts file solved both problems! 🎉

[2021-05-20 14:07] xclidongbo commented on #31480
use_flipper!('Flipper' => '0.75.1', 'Flipper-Folly' => '2.5.3', 'Flipper-RSocket' => '1.3.1')
react native: 0.63.2

crash

[2021-05-20 14:11] sametyabalak commented on #29396
It worked for me. Thanks al lot !! But its so weird :d

[2021-05-20 14:54] Aurangempire commented on #27232
Saved my Day 👯‍♂️

[2021-05-20 15:22] klever34 commented on #29990
Still facing this issue in `react-native: 0.63.4` `ios 14.5 XCode 12.5` and all the fixes above aren't working. Can someone suggest a fix?

[2021-05-20 15:28] oarsoy commented on #26892
I agree it's not ideal but only working solution so far. I hope they merge this because I think FB hates iOS and they love to keep it broken.

[2021-05-20 16:28] justinwh commented on #28140
In current React Native, all apps have `automaticallyAdjustsScrollIndicatorInsets` = true and can't turn it off.  (This affects all ScrollViews with or without custom insets.)

I'm in favor of changing the new default to false because I think it's the right value going forward (i.e. the least-unexpected behavior for new apps).

However, changing it to false is a breaking(-ish) change for existing

[2021-05-20 17:57] woohoou commented on #31525
+1 Same problem here I'm using 0.63.4, @junqdu did you solve the issue?

[2021-05-20 18:01] junqdu commented on #31525
@woohoou nope, but I got a workaround for it. I stored the base64 encoding string in a separate file, and referenced them that way.

[code]

Not an elegant solution, but it works, and we don't have too much local assets.

[2021-05-20 18:17] MwareSolutons commented on #27937
if you are on 63.4 the solution is to delete this from APP_ROOT/node_modules/react-native/Libraries/Components/Touchable/Touchable.js

its cause there is a tvtouchable.js in the same folder

delete:

   this._tvEventHandler = new TVEventHandler();
    this._tvEventHandler.enable(this, function (cmp, evt) {
      const myTag = ReactNative.findNodeHandle(cmp);
      evt.dispatchConfig = {};
      if

[2021-05-20 18:22] #31152 closed

[2021-05-20 18:37] tastafur commented on #30925
I have the same problem when I nest two flatLists and in the one inside I try to scrollToIndex, it gives an error in the VirtualizedList on line 452 in this._scrollRef.scrollTo, the scroll functions do not have them for whatever the flatList is the one I want to scroll.

React-native version: 0.63.4

[2021-05-20 18:52] dandre-hound opened #31563 "iOS refresh control jump after upgrading to v0.64.1"
## Description
After upgrading to react-native v0.64.1, there is a 42px-ish jump when pulling to refresh a scrollable list on iOS devices (see screen recording below). Android is fine. This was not an issue on previous versions, and I'm able to reproduce on a fresh react-native init app.

I say "42px-ish" because the only way I could calculate this is taking screen recordings, capturing still fram

[2021-05-20 20:01] p-sun commented on #28140
I chatted with @fkgozali, my engineering manager on the React Native team, and we are still in favor of adding the automaticallyAdjustsScrollIndicatorInsets as a prop and keeping default as true, consistent with Apple's default as true. I think in this case it's more important not to break existing apps than to potentially fix an issue with extra insets that existing apps haven't prioritized fixin

[2021-05-20 20:29] twistezo commented on #28503
If you have this problem on M1 with clean new project `react-native init Foo` just comment `use_flipper!()` in `ios/Podfile` -> remove folder `ios/Pods` -> remove file `ios/Podfile` -> run `pods install`

Then you can run this sample project in simulator `react-native run-ios`

Xcode 12.5
react-native 5.0.1

[2021-05-20 20:36] lunaleaps commented on #28140
It sounds like either option would break some people's current usage of the ScrollView. Can we update the PR (https://github.com/facebook/react-native/pull/29809/) to make this a prop as we'll need that regardless?

I think for default value, again I think both arguments are strong and it seems like it comes to deciding whether we want to go on either
* What is the "majority" use case? Which could

[2021-05-20 21:48] ecreeth commented on #31489
This is an empty issue. Can be closed.

[2021-05-20 21:55] ecreeth commented on #31460
Hey @kelset, this is an unexpected behavior, isn't it?

[2021-05-21 01:35] xclidongbo commented on #31480
Podfile, Delete all of Flipper, worked for me.

[2021-05-21 03:25] MarkKoenig95 commented on #31480
You need to be on the latest 0.63 release. 0.63.3 as stated above. Maybe higher now.
See the react native docs about upgrading https://reactnative.dev/docs/upgrading

[2021-05-21 03:35] liyanfang opened #31565 "java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes-executor-release.so caused by: dlopen failed: library "libjsinspector.so" not found result: 0"
java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes-executor-release.so caused by: dlopen failed: library "libjsinspector.so" not found result: 0

	at com.facebook.soloader.SoLoader.c(SoLoader.java:46)

	at com.facebook.soloader.SoLoader.o(SoLoader.java:16)

	at com.facebook.soloader.SoLoader.n(SoLoader.java:1)

	at com.facebook.soloader.SoLoader.l(SoLoader.java:18)

	at com.faceb

[2021-05-21 03:37] liyanfang commented on #31565
Mobile phone models：
华为荣耀：LLD-AL20，系统：8.0.0
华为荣耀畅玩6X：BLN-AL40，系统：8.0.0

[2021-05-21 05:16] ravi0the0sun commented on #28409
thank you so much for this it removed of openssl but then it showed error saying `node not found` which i was able to solve by this https://github.com/facebook/react-native/issues/31480 and because i was using https://github.com/Schniz/fnm

currently i have the latest `node@16` version installed using `homebrew` and it is working fine i will update this comment after testing it on `node @LTS` wish

[2021-05-21 05:46] #31520 closed

[2021-05-21 08:13] Planetfunky commented on #31480
use_flipper!('Flipper' => '0.75.1', 'Flipper-Folly' => '2.5.3', 'Flipper-RSocket' => '1.3.1')
"react": "16.13.1",
"react-native": "0.63.2",

Still craashing... I;ve been following this issue for quite a while. So I've pretty much have tried all suggestions.

[2021-05-21 08:38] sunnylqm commented on #31480
@Planetfunky Update to 0.63.3 first

[2021-05-21 09:56] DesertStrom16 commented on #30736
@cokepizza Thank you, thank you, thank you. I too just spent the last 3 days fighting this random bug and was about to accept that I genuinely had no clue. You really saved my bacon man, huge props I mean it. For anyone reading, as of May 2021 this solution is still working. multiline={true} and scrollEnabled={true}. Like he said it is somewhat hacky but appears to be the only present solution for

[2021-05-21 10:04] Aliveing opened #31566 "iOS crashed after using Hermes when install archived ipa on device [RN 0.64.1]"
## Description
I upgrade current project to RN 0.64.1 and enable hermes, it works well on debug and release mode of ios, but when I archived and exported the ipa file and installed it on iPhone, it crashed, here is crash log.

<details>
Incident Identifier: D18B6F3A-F0E6-4028-988C-BA841E0408C8
CrashReporter Key:   29e9905b296c9d896c73c7365d69fac1bf241bc4
Hardware Model:      iPhone10,2
Process:

[2021-05-21 10:16] sw517227087 commented on #31259
Same here，Have you solved it now？

[2021-05-21 10:22] xclidongbo commented on #31480
Podfile, Delete all of Flipper, `pod install` worked for me.

[2021-05-21 11:08] deva11 commented on #28409
Add below line to pod file.
RN 0.63.4

Replace existing line ,
**use_flipper!({ 'Flipper-Folly' => '2.5.3', 'Flipper' => '0.87.0', 'Flipper-RSocket' => '1.3.1' }),**

with

**use_flipper!({ 'Flipper-Folly' => '2.3.0', 'Flipper-RSocket' => '1.1' })**

Worked like charm!

[2021-05-21 12:27] adumat commented on #25538
@GIRIRAJNAGAR768 thank you man, i love you ❤️

[2021-05-21 13:03] Acousticdesk commented on #25838
Definitely, not the greatest solution and is not applicable to everyone, however, these are the steps that helped me in my situation:

- Remove the project repository
- Clone it from the remote repository
- Navigate to the project folder
- `npm install`
- `cd ios`
- `pod install`
- `npm run ios`

[2021-05-21 13:29] Reshma-K-U opened #31567 "TextInput dynamic colour changing not working in Android on auto capitalising letters."
In my project I have a use case that there is a TextInput which receives a postcode. The postcode has a specific format.
While a user enters the value, if that input is in correct format then the text colour should be black else red. I can validate whether the entered value is in correct format or not using a function. This was working fine in both Android and iOS. But later there is a requirement

[2021-05-21 13:36] naresh-ziraff opened #31568 "IOS build analyze Permission-BluetoothPeripheral new is unavailable"
I am trying to analyze my IOS app got an Permission-BluetoothPeripheral issue **"new" is unavailable**, with iphone 11 version build and analyze got success but when i select **Any IOS Device** getting issue. flipper is disabled in my code.
xcode version :12.5, react-native version: 0.63.2

![image](https://user-images.githubusercontent.com/84566657/119145619-74dd7380-ba67-11eb-8b42-5cfe8d4a89eb.p

[2021-05-21 13:49] Marka-Ragnos commented on #16376
The same problem I have

[2021-05-21 14:09] whysetiawan commented on #31440
any update on this?

[2021-05-21 14:37] CostachescuCristinel opened #31569 "Uncontrolled TextInput - color style not updating with multiline=true (ios, android) and text lost (android)"
## Description
It seems that `TextInput`s with `multiline={true}`, but which **do not** specify either `value` or `defaultValue`, behave somewhat unexpectedly on both iOS and Sndroid.

On both iOS and Android, the text `color` does not update even if the `style` prop changes and specifies a different value.
This does not happen if the `TextInput` has `multiline={false}` (or no `multiline` prop spe

[2021-05-21 14:54] skjangid opened #31570 "error: node_modules/react-native/Libraries/Components/Touchable/TouchableHighlight.js: /Users/sanjayjangid/Desktop/Projects/3sigma-app-new/node_modules/react-native/Libraries/Components/Touchable/TouchableHighlight.js: Cannot read property 'end' of null"
error: node_modules/react-native/Libraries/Components/Touchable/TouchableHighlight.js: /Users/sanjayjangid/Desktop/Projects/3sigma-app-new/node_modules/react-native/Libraries/Components/Touchable/TouchableHighlight.js: Cannot read property 'end' of null

package.json :

"private": true,
    "scripts": {
        "android": "react-native run-android",
        "ios": "react-native run-ios",
        "

[2021-05-21 15:04] jhclaura commented on #31558
Also have this issue after upgrading React Native from 0.63.4 to 0.64.1, not knowing any specific NPM package, just all Promises never resolve, would it be something missing during the upgrade?

[2021-05-21 15:15] hugomrdias commented on #30378
Any chance we can get some feedback with this ?

[2021-05-21 15:40] IyiolaOwabumowa commented on #31228
Thank you so much!

[2021-05-21 17:24] petegivens commented on #31480
I ran into this locally and was able to resolve by simply deleting the Pods folder before running `pod install`

[2021-05-21 17:34] huzaifaaak commented on #30959
@amarlette I tested this and it:

- Announces **checked** when checked when `accessibilityState={{checked: true}}`
- Announces **not checked** when `accessibilityState={{checked: false}}`

[2021-05-21 17:43] guychou7 commented on #31480
I had the same problem, after having tried without success several proposed solutions including that of kelset I delete hermes-engine just out of curiosity and wow he was the one to blame
`react-native-cli: 2.0.1
react-native: 0.64.0`
in Podfile change `hermes_enabled => false to hermes_enabled => false`

[code]

[2021-05-21 19:46] moGeekHex commented on #29829
I have the same problem too

[2021-05-21 23:39] xclidongbo commented on #31480
update 0.63.4, but not work.

[2021-05-22 02:10] sebastiancichos commented on #28503
remove Podfile.lock, next `use_flipper!({ 'Flipper' => '0.91.1' })` and `pod install`

[2021-05-22 02:10] PhungVanHoa commented on #31302
Same problem if i enable Hermes and use use_frameworks!

[2021-05-22 03:44] JamesJs commented on #27232
Any update? Touch is passing throught absolute View...

[2021-05-22 03:44] Manbec commented on #28992
Got the same setup as @pjay79 , trying to dig into the AppRegistry.js, 'LogBox' is registered and run, it seems the next to run is the app, but it crashes right before it. Downgraded axios from 0.21.1 to 0.18.1, still stuck. not sure how to trace that any further

[2021-05-22 04:56] p-sun commented on #28140
Yes, adding that prop would be fantastic!

[2021-05-22 06:56] bhattanmol101 commented on #31302
Same issue as @PhungVanHoa. Please provide a solution to this issue.

[2021-05-22 09:19] preflower commented on #29929
i have the same error; but in my case, 2nd modal not appear if 2 modals set transparent, and if i set `transparent=false` is work;  and if i evoke 2nd modal use setTimeout(timeout = 0) is work...
is there any solution?

[2021-05-22 10:55] Jexim commented on #31480
Updated to 0.64.1 and it not work. All @kelset and @smadan scenarios have all been tested but the bug is keeping.

[2021-05-22 12:00] vinaygoyal20 opened #31571 "Android Statusbar is not tranparent in 0.63.4 version"
In 0.63.3 the same code  is working fine bug in 0.63.4 statusbar is always white

## React Native version:0.63.4
![img](https://user-images.githubusercontent.com/26671420/119225736-3efdc500-bb23-11eb-8a29-4bc40a8a7fd1.jpeg)

##Android Version is 10

[2021-05-22 14:11] AndrewMorsillo commented on #28905
Also seeing this on RN 0.64.1, only in the release build. It is not deterministic as far as I can tell. I'm not sure it's possible to make a minimal reproduction of this issue since there doesn't appear to be a clear case in which it arises. It appears random and only in release builds on user's devices which makes it significantly harder to analyze.

Somebody familiar with the native Android code

[2021-05-22 15:11] Sunhat commented on #26544
Hello everyone, please read on renderToHardwareTextureAndroid to resolve this issue

[2021-05-22 16:32] b3coded commented on #31568
@naresh-ziraff maybe [this issue](https://github.com/zoontek/react-native-permissions/issues/590) can help you

[2021-05-22 16:37] mohammadrahmanian commented on #19150
I'm facing the same issue and I cannot use `disableVirtualization={true}` because of performance issues it creates.
Please fix this bug :((

[2021-05-22 18:29] dandre-hound commented on #31563
This is actually a duplicate of #31461 -- closing.

[2021-05-22 18:29] #31563 closed

[2021-05-22 18:30] dandre-hound commented on #31461
I opened (and have now closed) a duplicate issue. I had added some notes there that may be worthwhile to pin to this issue. My notes are in that issue #31563.

[2021-05-22 20:29] PrimulaX commented on #31480
Upgraded to 0.64.1 but there was bunch of errors while building the app. Then I just did comment out `use_flipper!()` from Podfile and build succeeded. 🤔

[2021-05-22 20:30] st1ng opened #31572 "Android crashes when tried to render TextInput on RN 0.64.x and using appcompat library of 1.4.0"
## Description
Latest 0.64 react-native is not compatible with latest appcompat androidx library. When app tries to render _TextInput_, NullPointerException thrown. This happens in file _ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java_ (line 972):

` private void updateCachedSpannable(boolean resetStyles) {    // Noops in non-Fabric    if (!mFabricViewStateManager.

[2021-05-22 21:08] roman-r-m commented on #29911
I think may be a workaround for this issue: add new `ReactPackage` with
[code]

[2021-05-22 22:32] southkeys commented on #31480
I'm running into this error when I run `npx react-native run-ios`

[code]
Here is my env

[code]

    I tried all of the solutions here, none worked. Any ideas ?

[2021-05-23 05:25] endronk opened #31573 "TextInput placeholder remains empty when multiline is true and the placeholder is set after certain timeout"
## Description
A bug with `TextInput` when `multiline` is `true` and the `placeholder` is set after certain timeout.
This bug only happens on iOS. It works fine on Android.

## React Native version:
[code]

## Steps To Reproduce
1. Create a `TextInput`, then set the `multiline` props to `true` and leave the `placeholder` value empty.
2. Set a timeout to run a function that will set the `placeholde

[2021-05-23 05:52] ofri-7chairs opened #31574 "iOS upgrade to 0.64.1 from 0.63.3 - can't archive, stuck on Bundle React Native code and images"
before upgrade rn version, I was on 0.63.3 and it worked fine.

currently it runs:
export NODE_BINARY=node
../node_modules/react-native/scripts/react-native-xcode.sh

tried also:
export NODE_BINARY=$(which_node)
without success

node: 12.18.0
npm: 6.14.4
xcode: 12.4

[2021-05-23 06:41] SaeedZhiany commented on #6480
@vasilestefirta

using `overflow: 'hidden'` hides elevation effect on android in my case. I didn't test, but maybe it hides shadows on iOS too.

[2021-05-23 09:31] ferdicus commented on #31215
@Junhano, I'm happy that you got your issue resolved - would you kindly post the solution to your problem, so other people stumbling over the issue can actually jump straight to the resolution?
Thanks

[2021-05-23 09:55] NavidHosseini commented on #13413
I used 'react-native-optimized-flatlist'
 and my problem was solved, the only thing to be careful about is that when you use this package, it removes keyExtractor and extraData

Good luck.

[2021-05-23 11:00] yogeshdotnet commented on #26797
I have also faced this issue and solved by following steps:

Update Package.json(Remove "react-app/jest" from extends array

"eslintConfig": { "extends": [ "react-app" ] },
Run npm install and check again It works It works fine for me

[2021-05-23 11:48] fabriziobertoglio1987 commented on #30960
https://github.com/facebook/react-native/blob/051082117059e461f340f0fb7b0bde3db835e5dd/Libraries/Components/TextInput/AndroidTextInputNativeComponent.js#L549-L550

https://github.com/facebook/react-native/blob/051082117059e461f340f0fb7b0bde3db835e5dd/ReactCommon/react/renderer/components/textinput/androidtextinput/react/renderer/components/androidtextinput/AndroidTextInputShadowNode.cpp#L25

https

[2021-05-23 11:51] riadhriadh commented on #31546
the problem is solved
I upgraded the react native version
and other problems with sentry

[2021-05-23 11:51] #31546 closed

[2021-05-23 14:36] mrousavy commented on #29663
I created a PR for this here: https://github.com/facebook/react-native/pull/29664

[2021-05-23 15:14] mehthabux commented on #21801
any luck ?

[2021-05-23 17:24] blueberry6401 commented on #23480
Hello?

[2021-05-23 18:15] ksnyder commented on #31259
Hi -- I had the PhaseScript Execution error described above, I use NVM (and XCode 12.5) and the problem went away when I switched from Node 12.18.3 to 14.17.0.

[2021-05-23 19:32] lincolnBerlick commented on #31249
i had the same problem probably was any path variable bad configured with mvn and node, i got resolve, removing nvm, node and reinstall all
i followed this tutorial
https://tecadmin.net/install-nvm-macos-with-homebrew/

be attention with the node version that you need,

good luck

[2021-05-23 23:04] #31574 closed

[2021-05-23 23:12] dotku opened #31576 "Are we going to support outlineStyle style prop?"
I found set TextInput {outlineStyle: "none"} can resolve the outline display, but it seems not support by react native yet. Any plan to add it?

[2021-05-24 01:23] safaiyeh commented on #31576
Would this help you https://reactnative.dev/docs/view-style-props#borderstyle?

[2021-05-24 01:34] safaiyeh commented on #31573
Interesting, thank you for the repro!

I was able to reproduce it, the placeholder prop is not handling updates correctly.

[2021-05-24 01:37] safaiyeh commented on #31572
Hey @st1ng I want to learn your motivations needing to support `androidx.appcompat:appcompat:1.4.0-alpha01` is there an API RN is not supporting that you need? If RN does not support the version (especially alpha versions) there isn't an expectation for it to be working.

[2021-05-24 01:38] safaiyeh commented on #31571
@vinaygoyal20 thanks for the issue! Can you provide a repro that demonstrates this? Is it just the generated template that shows this?

Thanks!

[2021-05-24 01:43] safaiyeh commented on #31569
A bunch of these bugs seem to be related. https://github.com/facebook/react-native/issues/31573, also points to some weird state when multiline is enabled.

[2021-05-24 02:13] AndrewMarkley commented on #17530
Getting the same issue as above in prod
react-native 0.64.1
Android 10 and Android 11

`
java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference
    at android.graphics.drawable.DrawableContainer$DrawableContainerState.createAllFutures

[2021-05-24 02:59] blastoy commented on #31461
@dandre-hound were you able to fix it? I'm also experiencing the same issue.

[2021-05-24 04:19] grgr-dkrk opened #31577 "CI: The 'test_android' step always fails due to a robolectric path mismatch."
## Description
The `docker-build-android` step running in CI now fails the test due to a robolectric path mismatch as:

- https://app.circleci.com/pipelines/github/facebook/react-native/9139/workflows/09348fbd-b53a-4fbe-a2f9-9dcc8ed6aed5/jobs/202029
- https://app.circleci.com/pipelines/github/facebook/react-native/9137/workflows/100d83cf-6187-42df-8f73-9081854e976f/jobs/202009.

It seems that Chan

[2021-05-24 06:15] samiullah0243preesoft commented on #31228
Buddy You save my life man

[2021-05-24 06:20] ofri-7chairs commented on #31574
open the issue in
https://github.com/react-native-community/upgrade-support/issues/165

[2021-05-24 07:10] sw517227087 commented on #31259
thanks ，I reinstall NVM and install node 14.17.0, It worked

thanks ，I reinstall NVM and install node 14.17.0, It worked

[2021-05-24 07:10] sw517227087 commented on #31259
thanks ，I reinstall NVM and install node 14.17.0, It worked

[2021-05-24 07:22] #31515 closed

[2021-05-24 10:30] sw517227087 commented on #31440
try this
![image](https://user-images.githubusercontent.com/5086901/119334752-0e9e5e00-bcbe-11eb-9c8c-73341ebd7df6.png)

[2021-05-24 10:43] roman-r-m commented on #29911
Positing a workaround I found in case someone will find it useful.
Add a package containing this to your `MainApplication`
[code]

[2021-05-24 11:35] dan-developer commented on #17530
The #29452 solve the issue.

[2021-05-24 11:54] hk22sync opened #31578 "React native's Modal not getting dismissed in iOS"
Using ActivityIndicator inside Modal.

<Modal
      transparent={true}
      animationType={'none'}
      visible={this.props.loading}
      onRequestClose={() => {}}

 <View>
    <ActivityIndicator animating={this.props.loading} size={'large'} />
 </View>
</Modal>

Steps on the use case:
1. loading prop is set to true --> Modal opens
2. API call is made
3. loading prop is set to false --> Modal s

[2021-05-24 13:14] dandre-hound commented on #31461
Nope -- today I was going to look at any RefreshControl-related files and their diffs between 0.63.3 and 0.64.0 to see what changed. Maybe something will stand out.

[2021-05-24 13:51] smanzini commented on #28420
hi all, same issue for me RN 0.64, metro-bundler has never been launched automatically.
Now I need to do it manually via command npx react-native start.
Don't know why? I'm going to try some hints from you guys.

[2021-05-24 13:56] smanzini commented on #28420
@Piteraguayo cannot find in my .git folder I've got index not index.lock

[2021-05-24 14:28] jeffpball commented on #31480
Hey @kelset, will you please consider putting this on your list above? This is the solution for Xcode 12.5 and RN 0.61.5. Great work @edgarbonillag

[2021-05-24 14:42] qburst-subins opened #31579 "Crashlytics Crash at RCTUtils.m - Line 751"
Getting crash on iOS device
iOS versions 14.4+.
![Screenshot 2021-05-24 at 20 06 25](https://user-images.githubusercontent.com/8746256/119364229-50360580-bccc-11eb-989a-7243eedf4dd0.png)

![Screenshot 2021-05-24 at 20 16 44](https://user-images.githubusercontent.com/8746256/119364923-0e598f00-bccd-11eb-8f85-b1fbc2837645.png)
It shows that it was caused by memory leaks.

 React Native version:
  "r

[2021-05-24 14:43] lglam commented on #29351
Thank you so much rnnyrk .
In my project have file index.tsx I have to change the script index.ts to index.tsx.
It worked.

[2021-05-24 14:53] kelset commented on #31480
@jeffpball Good idea, added - thanks

[2021-05-24 16:33] amarlette commented on #30959
Ok thank you @huzaifaaak for the help! I will link that PR and close out this ticket.

[2021-05-24 16:33] amarlette commented on #30959
Closed by #31001

[2021-05-24 16:33] #30959 closed

[2021-05-24 16:40] Szymon20000 opened #31580 "Cannot catch JSError on Android. [Duplicated symbols?]"
## Description
First I must admit I'm not a C++ expert and it's possible I'm missing something here.
I'm one of the react-native-reanimated developers and we have had a problem with catching JSError on Android for quite some time.  Our library depends on libhermes.so and libreactnativejni.so . Unfortunately, We found out that both libraries provide strong JSI symbols. Here is our CMake: https://gi

[2021-05-24 16:59] huzaifaaak commented on #30959
@kacieb @amarlette should I write test for this ?

[2021-05-24 19:14] emawby commented on #28727
This issue is caused because when launching the app from a notification the launch options will not contain the initial url, and since the React-Native run time is not available yet, the url event listener won't fire.

[2021-05-24 20:02] tinymobile commented on #21301
I've had this issue for 2 years now and have just upgraded my projects to latest version of React and it's still happening. I can only solve it by only using images with both sides under 2048 pixels.  Anything bigger on either axis and it goes blurry. Most annoying bug ever.

[2021-05-24 20:45] dawidchyrzynski commented on #30123
Hi guys,

I'm getting the same result as @melero2000. Any idea how to fix this?

[2021-05-24 20:56] dotku commented on #31576
@safaiyeh I found Mobile doesn't have the border issue, but web has the issue, and IDE promoted says that outlineStyle doesn't work yet.

[2021-05-24 21:41] helder9991 commented on #30123
The function 'setNativeProps' is overwriting the property 'text' to empty string. You can see this setting:
``` setNativeProps({ text: "some text" } )```

You can fix this problem using 'useState' from react library.

[code]

[2021-05-24 21:52] Rafael-Pessoni commented on #29396
Here is what worked for me:

![image](https://user-images.githubusercontent.com/11237682/119411645-1f9c9e80-bcc1-11eb-8dd6-b04d30014092.png)

http://hiddenlinux.blogspot.com/2016/01/how-to-fix-adb-device-offline.html

[2021-05-24 22:05] mtakac commented on #28448
But then what do you use to specify the `fontWeight`? It works correctly on iOS for me. Now I would have to create different styles for android and reference different font weights like this: `fontFamily: 'nunitosans_light'` which is not really ideal.

Was anybody able to make custom fonts work with `fontWeight` on Android?

[2021-05-24 22:06] #25494 closed

[2021-05-24 22:35] MustafaAnasKH99 commented on #28687
This worked for me. however, now I cant fetch data. It says my time is ahead. lol

[2021-05-25 01:01] luan-nvg commented on #31507
@skay97

I found out that at 0.63 I was accusing blank screen only in the approval of the Apple ad, in my Xcode it was marked in the option Archive as debugging in Product / Scheme / Edit Sheme / Archive / Build Configuration, change to a non-debuggable release so I was able to pass in Apple.

Since the topic I opened went to 0.64 with the error Non-public use of the API, the topic will remain ope

[2021-05-25 03:05] YeldosQoja opened #31581 "Error: Failed to install CocoaPods dependencies for iOS project, which is required by this template."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-25 03:39] Garamani opened #31582 "Auto injecting error message inside _createBaseFor.js caused error in my react native project"
An error message was injected inside _createBaseFor.js

Without any particular action from me, suddenly this happened. After some investigation, I found this error message at the end of _createBaseFor.js:

I'm not using any Lodash code inside my project and It's installed by default by create-react-native-app.

This kind of behavior needs serious attention.

SYSTEM INFO:

It seems this might be re

[2021-05-25 04:37] russelRajitha commented on #28405
dont think like that. As a developer you and everyone is trying to do something like they do. which we are giving some releases or updates to relevant clients, it can be a developer or customer or whoever just imaging someone blaming you for a buggy app or website. you know how much hard work behind that small update. look how many answers are there. rather than blaming just do some work around an

[2021-05-25 04:43] nbaua commented on #28448
I used different static font files for the regular and bold versions in stead of using weights with the variable fonts.
Why this is better? https://blog.logrocket.com/variable-fonts-is-the-performance-trade-off-worth-it/

I guess this helps.

[2021-05-25 05:30] mirfanahmed commented on #28551
Hello. I am facing a problem from past 2 days in android that whenever I try to hit an api through axios by simply sending a formdata I get a network error. I have updated to expo sdk 41 and react native version 0.63.3 but it still it gives me this error. I need urgent help.

[2021-05-25 06:35] noumantahir opened #31583 "TextInput value disappear after 30+ lines if nested under ScrollView in Android 8.0 (28)"
## Description
I have a TextInput inside a ScrollView, on Android Oreo 8.0 (26), after adding in 30+ lines of text as TextInput value, the text disappears along with input cursor as well, the text input does maintain state will disappeared.

## React Native version:
SDKs:
    Android SDK:
      API Levels: 28, 29, 30
      Build Tools: 28.0.3, 29.0.2, 29.0.3, 30.0.2, 31.0.0
      System Images: an

[2021-05-25 07:44] jamzi opened #31584 "Large images not cached on iOS"
## React Native version:

System:
    OS: macOS 11.2.3
    CPU: (8) x64 Intel(R) Core(TM) i7-8569U CPU @ 2.80GHz
    Memory: 76.79 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.16.0 - ~/.nvm/versions/node/v14.16.0/bin/node
    Yarn: 1.22.10 - ~/.nvm/versions/node/v14.16.0/bin/yarn
    npm: 6.14.11 - ~/.nvm/versions/node/v14.16.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watch

[2021-05-25 07:54] IshaTyagi opened #31585 "Screen Reader(Talkback) is not narrating role as "Dialog"/ "Alert" when Alert is opened"
Screen Reader(Talkback) is not narrating role as "Dialog"/ "Alert" when Alert is opened.

## Description
Screen Reader(Talkback) is not narrating role as "Dialog"/ "Alert" when Alert is opened however voice over narrates the role as Alert in iPhone.

## React Native version:
System:
    OS: macOS 11.2.3
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 20.55 MB / 16.00 GB

[2021-05-25 08:22] anaskhraza commented on #30964
Hi @amarlette, I would like to contribute to this issue, can you please assign this to me?

[2021-05-25 09:13] Helyios commented on #31438
Facing the same issue, I hope it get resolved soon because don't really want to do without flipper...

[2021-05-25 09:28] hqdai commented on #29557
I can the same issue, this is my example project [Interactive.zip](https://github.com/facebook/react-native/files/6538112/Interactive.zip) for re-produce steps. It seems the header section is always behind the item section. So we can't touch the header section when scrolling down. :(

<img width="950" alt="Screen Shot 2021-05-25 at 16 20 17" src="https://user-images.githubusercontent.com/19548213/

[2021-05-25 09:29] nghiant96 opened #31586 "Build app crash in android."
I am init project with npx react-native init and run with npx react-native run-android
device xiaomi mi 9, android 10, miui 12.0.4

--------- beginning of crash
2021-05-25 16:19:56.877 22991-22991/com.oncallermobile E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.oncallermobile, PID: 22991
    java.lang.RuntimeException: Unable to create application .MainApplication: java.lang.RuntimeExce

[2021-05-25 10:59] lutakyn commented on #17530
Please on which line can I apply the fix, I'm quite confused when I read the thread on #29452 . anyone to help me. Which file and where do I go to apply the fix. I'm not using expo.

[2021-05-25 12:07] oguzturker8 commented on #31578
Seems screen won't refresh after this.prop.loading is set to false. How do you update `this.props.loading` ? You need to change it in parent

[2021-05-25 14:01] Osamasomy commented on #18472
TRANSLATE INTO ENGLISH

I just want to know why the main.jsbundle file is obviously needed, but the framework is not automatically generated

[2021-05-25 14:20] AndrewMorsillo commented on #27552
Had to disable layoutanimations on Android due to this. I think @lcarrettin may be right about the underlying cause but I don't have the native android experience to attempt a PR with a fix.

[2021-05-25 14:28] charleston10 commented on #31511
instead
`pod 'FBReactNativeSpec', :path => "../node_modules/react-native/Libraries/FBReactNativeSpec"`
to
`pod 'FBReactNativeSpec', :path => "../node_modules/react-native/React/FBReactNativeSpec"`

[2021-05-25 14:45] charleston10 commented on #31440
Worked... tks

[2021-05-25 14:45] lezinx commented on #31586
Same here.
Device: Samsung A11, android 10.
STR:
1. npx react-native init AwesomeProject
2. npx react-native run-android

Error:
2021-05-25 17:44:31.809 9926-10110/com.awesomeproject E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.awesomeproject, PID: 9926
    java.lang.NullPointerException: Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null ob

[2021-05-25 15:05] tbanj commented on #16376
For me I make use of react-native-firebase in my application but you can still make use of the instruction below is how inserted  code reference from @unixvb thanks

step 1: I updated react-native-navigation node package run below commands
            npm uninstall  react-native-navigation --force
            npm install  react-native-navigation
            npx rnn-link

step 2: Edit AppDelegate.m

[2021-05-25 15:42] Zlass commented on #31181
This combined with making sure my npm was the latest version (6.14.13 -> 7.14.0) and then deleting my project in `~/Library/Developer/Xcode/DerivedData/ ` and doing a fresh build seemed to work for me.

[2021-05-25 15:49] infapednekar opened #31588 "libc.so crash in production build"
## Description
Getting libc.so crashes in firebase Crashlytics dashboard. The majority of these devices are Samsung devices.

## React Native version:
Run `react-native info` in your terminal and copy the results here.

## Steps To Reproduce
Unable to reproduce the crash. We can see it happening in production build based on crashlytics.

## Expected Results
The app should not crash.

## Snack, cod

[2021-05-25 16:07] Kudo commented on #29377
The problem may come from conflict version of libc++_shared.so (between r20 and r21)

scanbot sdk bundled libc++_shared.so with ndk r21.
checked from the [sdk 1.70.1 here](https://nexus.scanbot.io/nexus/content/repositories/releases/io/scanbot/sdk-core/1.70.1/sdk-core-1.70.1.aar)

react native 0.62/0.63 bundled with ndk r20

some suggestion to add `packagingOptions.pickFirst` in build.gradle, but

[2021-05-25 16:22] giuthub commented on #31574
Facebook App [canhbui](https://reactnative.dev).vn(rét

[2021-05-25 16:34] giuthub commented on #31588
Facebook App (Canhbui. Facebook App)

[2021-05-25 17:37] maki3000 commented on #18415
Another workaround which might help. We apply a black overlay with just one button inside (we make our own power save mode for OLED devices :) because our app can't go into background...). The button is visible all the time.

[code]
And the styles:
[code]
We toggle `savePower` in `setPowerSaveMode` method and work with same backgroundColor as the container when not visible and black backgroundColo

[2021-05-25 18:21] renatobenks commented on #29813
@safaiyeh any idea why this is still happening? I didn't struggle anymore with that issue, since 0.63.3 actually 🤔

[2021-05-25 22:24] computerjazz commented on #30581
I had this issue after upgrading my project from 0.63.3 -> 0.64.1 and was able to fix it without any patches or extra plugins.

After deleting my `yarn.lock` and reinstalling, the error went away, suggesting a stale dependency somewhere. Obviously deleting `yarn.lock` isn't the actual solution, so I reinstated my `yarn.lock`, then manually ran `yarn upgrade metro-react-native-babel-preset` and saw

[2021-05-26 00:03] kovkev commented on #21310
I am getting this issue with

[code]

I am not sure how to troubleshoot it. I've tried the solutions presented here.

[2021-05-26 00:04] kovkev commented on #21310
I am getting this issue with

[code]

I am not sure how to troubleshoot it. I've tried the solutions presented here.

[2021-05-26 03:01] godot007 commented on #29892
@rectified95 were you able to find a fix for this issue?

[2021-05-26 03:39] nghiant96 commented on #31586
i think error of rom xiaomi. I am have reset my phone. It working

[2021-05-26 03:39] #31586 closed

[2021-05-26 04:04] dan-developer commented on #17530
Follow the files in order and change your code https://github.com/facebook/react-native/pull/29452/files

[2021-05-26 04:05] khloukrada commented on #31181
Yes I am having exactly the same issue with fresh new project. All of the above mentions and fixes not working.
Mac OS: 11.4
RN: 0.64.1
Node: 14.13.1 - /Users/username/.nvm/versions/node/v14.17.0/bin/node
Yarn: 1.22.10 - /Users/username/.nvm/versions/node/v14.17.0/bin/yarn
npm: 6.14.8 - /Users/username/.nvm/versions/node/v14.17.0/bin/npm
CocoaPods: 1.10.1 - /usr/local/bin/pod

[2021-05-26 04:08] amarlette commented on #30964
Thank you @anaskhraza for taking on this issue. I look forward to seeing your pull request!

[2021-05-26 04:13] amarlette commented on #30956
Thank you @sladyn98 for your contribution to a more accessible React Native! Can you comment your Twitter handle if you have one so that I can give you a shout-out?

[2021-05-26 05:26] hk22sync commented on #31578
I have a parent component where I maintain the state: **loading**: false
I change this state to true before the API call and set it back to false after that.

[2021-05-26 07:20] riadhriadh commented on #31588
i think this article can be help you
https://source.android.com/devices/tech/debug/native-crash

[2021-05-26 07:26] Michal-Kurzal opened #31591 "Submit button on Amazon Fire OS TV"
## Description
I am creating a Fire OS TV APP using react-native. The App uses standard TextInput core component. After setting the focus on the textInput and pressing hardware select button on the fire Tv remote control, a soft keyboard appears. Everything works fine but there is a one big problem. OnSubmitEditing event fires after I press 'Go'  Button on the soft Keyboard.  The event starts even

[2021-05-26 08:10] aleksandarbos commented on #27510
I've figured out that `multiline` property was causing a lot of issues for me, like:
  - `autoCapitalize` didn't work
  - was unable to clear `TextInput` no matter what I've tried

[2021-05-26 08:48] khalednailigit commented on #29813
I am also facing same issue, any solution?
Thanks in advance.

[2021-05-26 09:28] yepes opened #31592 "React Native not building on Xcode 12.5"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Created a RN blank project on a new mac mini m1 apple silicon. SO: Big Sur 11.3.1
[code]

After that, yarn ios works fine. The app is launched correctly on the ios simulator.

if I open Xcode and try to build, I get this error:

Showing All Messages
/Users/myusername/Proyectos/A

[2021-05-26 09:50] medonagy45 opened #31594 "Landroid/media/AudioTrack;->getLatency("
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

	at android.os.StrictMode.lambda$static$1(StrictMode.java:416)
	at android.os.-$$Lambda$StrictMode$lu9ekkHJ2HMz0jd3F8K8MnhenxQ.accept(Unknown Source:2)
	at java.lang.Class.getDeclaredMethodInternal(Native Method)
	at java.lang.Class.getPublicMethodRecursive(Class.java:2079)
	at

[2021-05-26 10:35] LukhiKartik commented on #26908
Same issue. It doesn't looks good in iPhone x model. It will stick over status bar.

[2021-05-26 10:57] Manisha-Bacancy opened #31595 "Android app crash on multiple time click of button.Unable to find JSIModule for class UIManager issue."
React native android app crash on multiple time click of button. getting java.lang.IllegalArgumentException: Unable to find JSIModule for class UIManager issue.

## Description
First i have updated react-native version from 0.63.0 to 0.64.0 then after i have getting following error in react native android
when i click on any button multiple time i m getting java.lang.IllegalArgumentException: Unab

[2021-05-26 11:03] yepes commented on #31592
Just having a look at this issue, adding arm64 to excluded architectures seems to work. I'm not exactly sure if this is the correct way to solve this, or what implication will this have in the future:

![image](https://user-images.githubusercontent.com/1114453/119649305-c51b5380-be22-11eb-9e78-ad71962aa879.png)

Can anyone with an m1 computer please confirm this?

[2021-05-26 11:33] canpoyrazoglu opened #31596 "Error/warnings that appear on bottom makes whole app unresponsive for a few seconds."
## Description
Last several weeks (probably after 0.64 or 0.64.1) I've noticed that my app becomes totally unresponsive whenever an error or warning occurs (regardless of the error or warning). I'm talking about these ones that appear on the bottom:

![Screen Shot 2021-05-26 at 14 28 56](https://user-images.githubusercontent.com/4348413/119652418-c18dc980-be2e-11eb-947b-0dd7eb249bbc.jpg)

When the

[2021-05-26 12:21] SundyGuo commented on #25157
still facing same issue

[2021-05-26 12:28] sladyn98 commented on #30956
@amarlette my twitter handle is [@SladynN](https://twitter.com/SladynN) .Thanks for the shoutout

[2021-05-26 12:55] fatats96 opened #31598 "Long story short, we need to automatically active the Show On Lock Screen permission on Android devices using React Native?"
We are building an app using React Native and we couldn't give the Show On Lock screen permission for the app automatically. Some applications are doing that such as Whatsapp, Telegram, or Alert applications. Especially on miui devices it's a bit of a challenge. Is there anyone who can help with that?

![photo_2021-05-25_18-05-04](https://user-images.githubusercontent.com/42178489/119663088-ba6cb8

[2021-05-26 13:03] banjo09 commented on #29493
Doing this:

appending the uri information does not work. It doesn't even send the network request when I try to append an object. But if I append it as a string using Json stringify method.

Then it will send the request, but it breaks for obvious reasons. Why is FormData not allowing me to append an object?

from https://github.com/react-native-image-picker/react-native-image-picker/issues/798 b

[2021-05-26 14:25] lezinx opened #31599 "Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference"
## Description
App crashes on startup only in debug mode. Release build is fine.
Device: Samsung A11, android 10.

    java.lang.NullPointerException: Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference
        at java.util.regex.Matcher.reset(Matcher.java:280)
        at java.util.regex.Matcher.<init>(Matcher.java:186)
        at java.util.regex.Pat

[2021-05-26 15:02] evanjmg commented on #26987
This issue can be closed since it's podfile configuration - might want to add this to setup instructions

[2021-05-26 15:09] arnaudambro commented on #29807
it doesn't do anything for me, is there an extra step to do ?

[EDIT]

I forgot to update my babel config in `babel.config.js`

[code]

[2021-05-26 15:27] ashutosh-akss commented on #29853
@ghost could you get this resolved? I am facing this issue?

[2021-05-26 16:49] imownbey opened #31600 "Long lived requests do not get progress updates if the responseType is "text" on Android"
We are using server-sent events which means the server holds a connection open and continuously sends down events to the client. Because of how NetworkingModule.java is implemented though it is impossible to get incremental updates from a request.

## Description
If an XMLHttpRequest wants incremental updates React Native correctly adds a interceptor which is made to notify of updates here: https:

[2021-05-26 21:20] aparicio08 commented on #31480
Hey all, I just wanted to leave a note. I'm running RN v0.63.4. The original solution in the issue ticket worked to build my project but the app was crashing upon startup in the iOS simulator. Looking at a few of the flipper GitHub issues I took a gamble on trying an upgraded flipper version...the following seemed to work in my case for RN 0.63.4

`use_flipper!({ 'Flipper' => '0.87.0', 'Flipper-Fo

[2021-05-26 22:56] lunaleaps opened #31601 "Remove defaultProps from our core components"
## Description
defaultProps makes it difficult for us to migrate components to functional. This will be the global issue tracking removing defaultProps from our codebase.

## Tasks
**Note:**
This issue is purely for tracking the following issues. If you want to work on any of the following, please comment on the issue and I will assign it to you if it's not already claimed - thank you!
- [x] FlatL

[2021-05-26 22:59] lunaleaps opened #31602 "Remove defaultProps in FlatList"
See parent issue #31601

## Expected Results
`defaultProps` are removed from [FlatList](https://github.com/facebook/react-native/blob/dc80b2dcb52fadec6a573a9dd1824393f8c29fdc/Libraries/Lists/FlatList.js#L279)

[2021-05-26 23:02] lunaleaps opened #31603 "Remove defaultProps from Picker"
See parent issue: #31602

## Expected Results
`defaultProps` is removed from [Picker](https://github.com/facebook/react-native/blob/0afd71a18d19edef3d6603cabd2672ffde5ba30e/Libraries/Components/Picker/Picker.js#L143)

[2021-05-26 23:08] lunaleaps opened #31604 "Remove defaultProps in SegmentedControlIOS"
See parent issue #31601

## Expected Results
`defaultProps` are removed in [SegmentedControlIOS](https://github.com/facebook/react-native/blob/dc80b2dcb52fadec6a573a9dd1824393f8c29fdc/Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.ios.js#L79)

[2021-05-26 23:10] lunaleaps opened #31605 "Remove defaultProps in DatePickeriOS"
See parent issue #31601

## Expected Results
`defaultProps` are removed in [DatePickeriOS](https://github.com/facebook/react-native/blob/0afd71a18d19edef3d6603cabd2672ffde5ba30e/Libraries/Components/DatePicker/DatePickerIOS.ios.js#L120)

[2021-05-26 23:15] lunaleaps opened #31606 "Remove defaultProps in DrawerLayoutAndroid"
See parent issue #31601

## Expected Results
`defaultProps` are removed in [DrawerLayoutAndroid](https://github.com/facebook/react-native/blob/dc80b2dcb52fadec6a573a9dd1824393f8c29fdc/Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js#L164)

[2021-05-26 23:18] lunaleaps opened #31607 "Remove defaultProps from StatusBar"
See parent issue #31601

## Expected Result
`defaultProps` removed from [StatusBar](https://github.com/facebook/react-native/blob/0afd71a18d19edef3d6603cabd2672ffde5ba30e/Libraries/Components/StatusBar/StatusBar.js#L387)

[2021-05-27 00:07] omaryoussef commented on #30533
@fabriziobertoglio1987 It seems to only fix `contentOffset` but not `contentInset`. Can confirm `contentInset` is not working at all on Android.

[2021-05-27 02:16] yaohuangguan opened #31610 "Running pod-install failed. Something went wrong running `pod install` in the `ios` directory. Please help!!"
So this is my first time installing RN with npx create-react-native-app, and then i got this warning.

![image](https://user-images.githubusercontent.com/43796777/119755223-3bc45980-bed4-11eb-8682-b988e9fadc7f.png)

I followed the instrcution and install pod like npx pod-install. then i got another error as below. I have no idea what happened...

Please help me! Thank you guys!

Installing glog (0

[2021-05-27 05:27] Gra55h0pper commented on #31181
After a lot of messing around I got my setup working again but am not quite sure what exactly made it work.

- I completely uninstalled all development dependencies making sure there were no doubles: `homeBrew`, `node`, `watchman`, `npm`, `CocoaPods`.
- I then reinstalled everything following: `https://reactnative.dev/docs/environment-setup`
- I did **not** reinstall `react-native-cli`.
- Note tha

[2021-05-27 07:28] SolutionsTeam-hue commented on #27203
I have installed...Zap certificate on emulator...Added Proxy...to test my app...and then I get this error...JS Functions are not convertible to dynamic...no stact

[2021-05-27 08:10] riadhriadh opened #31614 "Xiaomi Redmi 6A (libc.so)"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
in Xiaomi Redmi 6A i have this crash

`*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'xiaomi/cactus/cactus:8.1.0/O11019/V10.3.8.0.OCBMIXM:user/release-keys'
Revision: '0'
ABI: 'arm'
pid: 27617, tid: 27949, name: Thread-5  >>> com.allocab.allo

[2021-05-27 09:06] JuanpaG94 commented on #31461
Can confirm we're facing this issue after upgrading RN to 0.64.

[2021-05-27 09:11] khalednailigit commented on #29813
Please check XCode console log first. You will find that the app couldn't find out those specific image assets on path "{project name}.app/assets/resources/.."
https://stackoverflow.com/questions/35354998/react-native-ios-app-not-showing-static-assets-images-after-deploying

[2021-05-27 09:26] xiaoliuxiansheng commented on #30623
i have same issue

[2021-05-27 09:49] nobi1007 commented on #24224
hack: (inspired from @chinieer's hack)

[code]

[2021-05-27 09:53] ebaynaud commented on #31245
@mikehardy do you know if using master or 64-stable in package.json instead of 0.64.1 could be a workaround? When is this aar pre-built?

[2021-05-27 12:08] mohsinulhaq opened #31615 "Rendering RCTRootView in a hybrid app setup causes the whole app to reload"
## Description
I have a React Native app, that renders some native `UIViewControllers` written in Swift using the brilliant tutorial [here](https://pspdfkit.com/blog/2017/native-view-controllers-and-react-native/).

From those controllers, I want to navigate to some React-based screens, which I'm achieving with the help of the `RCTRootView` tutorial [here](https://reactnative.dev/docs/integration-

[2021-05-27 12:14] mikehardy commented on #31245
@ebaynaud web search for building / running react native from source

[2021-05-27 12:53] matyihub opened #31616 "Column of elements is not always rendered correctly on Android"
## Description
On Android, when rendering simple colored rectangles in a column (behind one another) using View components with given height, they are not rendered correctly when the margin of the containing SafeAreaView is changed. Some of the rectangles seem to be displaced in y-direction, leading to overlaps on one end and gaps on the other.
How it looks with no margin:
<img src="https://user-i

[2021-05-27 14:18] kenpower opened #31617 "scrollToIndex not working on a FlatList"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
calling scrollToIndex() does not scroll to index

## React Native version:
Run `react-native info` in your terminal and copy the results here.

How do I run Run `react-native info` on snack (I assume snack is using a recent react)?

## Steps To Reproduce
Provide a detailed list

[2021-05-27 14:27] aarshad786 commented on #21747
Exists in React 0.64.1 as well...

I have been seeing that proper refresh of bundle happens only when both reload are clicked in dev menu.. just one reload shows un-deallocated React components

[2021-05-27 15:44] Fannolo commented on #31607
Hi can I take this issue?

[2021-05-27 16:05] lunaleaps commented on #31607
@Fannolo assigned!

[2021-05-27 17:22] oguzturker8 commented on #31605
Hi @lunaleaps!, I want to take this issue

[2021-05-27 19:35] mouhsnimohamed commented on #29242
I meet the same problem with release APK

[2021-05-27 20:14] mouhsnimohamed commented on #29242
My app crash only with release version :

System:
    OS: macOS 11.2.3
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 1.57 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.15.1 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.12.0 - /usr/local/bin/npm
    Watchman: Not Found
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDK

[2021-05-27 22:38] rdobda-gaia commented on #31519
Wow after making like 20 changes of the various tutorials over the last 5 years that have changed over and over to integrate react native into an existing iOS project (starting with the official obsolete doc and moving through various other 3rd party tutorials over the years with differing nuance) , i reached this one and am blocked. Would be nice if there was an up to date tutorial on how to add

[2021-05-27 23:50] jesobreira commented on #30918
Had this issue on 4.0.2... disabling Hermes works

[2021-05-28 00:37] milesziemer commented on #30587
@mrousavy I'm having the same issue, did you ever solve this?

[2021-05-28 01:05] allthetime commented on #28405
@russelRajitha Well said! We're all in this together. I was very frustrated 20 minutes ago when I encountered these issues after upgrading macOS and XCode. But I have had issues like this before and I know that it's something to do with react-native & XCode compatibility and because of that that many people would have the same problem. Also, blaming XCode is missing the point... XCode doesn't exis

[2021-05-28 01:06] robertoclavijob commented on #18472
This was the only way to get it working on AppCenter. Thanks @foxundermoon

[2021-05-28 01:58] El-Salavas opened #31621 "The following build commands failed"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-28 04:53] kashif-sk commented on #28450
We can add `User-Agent` in header which can be passed as third parameter of Websocket

Following code works for me:
`let ws = new WebSocket(url, '', {headers: {'User-Agent': 'ReactNative'}});`

[2021-05-28 05:50] kangear commented on #31572
same problem

[2021-05-28 06:22] shubham696 commented on #25537
@zhuweideng I tried this but still getting the same issue, any idea how to fix this

I have tried most of the solutions from this page

[2021-05-28 07:43] appasaheb4 commented on #30123
customs font adding after text not center showing any idea?

[2021-05-28 07:48] appasaheb4 opened #31623 "TextInput in customs fontFamily adding then text center not showing?"
RN version: 0.64.1
multiple way trying like this:
[code]
output like this:
<img width="415" alt="Screenshot 2021-05-28 at 1 18 21 PM" src="https://user-images.githubusercontent.com/24726539/119949141-34c24780-bfb7-11eb-9cea-293deced8c88.png">

[2021-05-28 09:01] milky-grech commented on #21718
I have found a tricky workaround for this - you can use onScroll instead and check for some conditions.

For instance, check if paginated scroll completed scrolling to the next page with ```
if (event.nativeEvent.contentOffset % Dimensions.get('window').width === 0) {
  %something you wanted to trigger in onMomentumScrollEnd%
}```

[2021-05-28 09:15] greatnonso7 commented on #31269
@matmartic You are a genius, thanks a lot saved me a lot of stress.

[2021-05-28 09:30] kioli opened #31625 "ReactNative app fails Java 8 desugaring in release mode"
## Description
I have a problem when running my sample app (targeting Android APIs 19 to 30) which uses a library I made which in turns makes use of Java 8 classes.
I followed the [official Google guidelines](https://developer.android.com/studio/write/java8-support) to allow Java 8 compatibility both in the app and in the library, and that works when I launch my app in debug mode, but when I try t

[2021-05-28 10:33] amank22 opened #31626 "Google Play feature (Dynamic Modules) Support for local resources"
## Topic:
[Play Feature Delivery ](https://developer.android.com/guide/playcore/feature-delivery)

## Issue:
Resources can not be loaded from feature module. [res/* folder, assets/* will work]

## Scenario:

- Put react native bundle in feature module of Android.
- Load the module. (Using native code, working fine)
- React activity is started and all the text is shown. (Taking example of react-nat

[2021-05-28 11:52] chj-damon commented on #31423
same here.

[2021-05-28 12:09] 0x0a0d commented on #30271
can you please write it step by step :(

[2021-05-28 12:37] dulmandakh commented on #31592
@yepes could you please test https://github.com/facebook/react-native/pull/31622

[2021-05-28 12:38] #31599 closed

[2021-05-28 13:27] anup690 commented on #28800
@blavalla you guessed it bang on, it is Samsung's _Voice Assistant_ indeed, got my tester do away with android talkback, yes I recently learned that _Voice Assistant_ is a fork of talkback and outdated,
and the links do read fine on the stock based ROMs (due to Talkback that is)

though with talkback, it reads, `"link", "links available, use swipe up and right to view"` for each link in the page n

[2021-05-28 13:44] yepes commented on #31592
@dulmandakh how am i supposed to test that PR? do I have to init a new RN project and apply your changes to my node modules and try?

[2021-05-28 14:01] El-Salavas commented on #31621
@dulmandakh Hello , i try your topic but nothing , i can't build my app..

[2021-05-28 14:43] yepes commented on #31592
@dulmandakh tried but doesn't work:

[code]

Looking your PR it seems that what you are doing is just checking if /opt/homebrew/bin exists and adding it to the path. I don't know if this is related with the issue I am facing.

Anyway, I didn't install node using homebrew (when I bought the mm was impossible) and have installed manually:

[code]

[2021-05-28 15:59] appasaheb4 commented on #31623
issue fixed.
[code]

[2021-05-28 15:59] #31623 closed

[2021-05-28 19:42] yeyintkoko commented on #31284
It's because of node version. But just logging out of the computer and switching node version to latest with nvm, doesn't work.
The issue is solved only when I restart my computer (my MacBook). Then I removed node_modules and reinstall packages. Then all work.

[2021-05-29 00:20] 0x0a0d commented on #31176
@iceAnson please share more details about build this plugin. Thanks

[2021-05-29 03:18] Codelica commented on #28525
@mrsimply you could, although I'm not sure what ignoring the colorScheme that's sent in really buys.   Are you not seeing the listener fired twice with the wrong and then correct color scheme when the app is backgrounded?

 I definitely do, so for now have just been ignoring the colorScheme listener calls when AppState says things are backgrounded.

[2021-05-29 07:01] Setito commented on #31606
Hello there, I'm able to take this one  :)

[2021-05-29 07:29] KPS250 commented on #27510
autoCapitalize still doesn't work even after removing multiline & keyboardType props. Any update on this?

[2021-05-29 08:12] matinzd commented on #31480
I think it's nothing to do with Flipper because I disabled Flipper and my builds are still failing.

missing required module 'swiftshims'

[2021-05-29 09:08] lowkeyboard commented on #31427
do you have a repo includes all of your code?

[2021-05-29 11:02] LogLiangTang commented on #29396
How do you fix this? Or have any solution to create multiple environment?

[2021-05-29 11:51] lincdh opened #31628 "ScrollView has a width and height that overlaps it's child elements"
## Description
I have in my render() a ScrollView which contains a TouchableOpacity(or other with onPress) that cannot be pressed because it is overlapped by the ScrollView itself. I only detect how is it not pressed only when showing the Inspector which reveals parent ScrollView has a width and height that overlaps the TouchableOpacity

I have provided a screen shot at the end of this issue

## R

[2021-05-29 13:31] Jayesh-Mahato commented on #30176
I am facing the same problem even with adding Content-Type in the call as explained here: https://stackoverflow.com/questions/67751230/why-is-fetch-query-always-returning-error-segment/

Any suggestions.

[2021-05-29 14:35] jurecka commented on #30913
Upgrade a version of the react-native to 0.64.1 (from 0.64.0) in package.json and hit yarn install.

[2021-05-29 18:50] anujraghuvanshi commented on #31259
I am not yet sure what's wrong with version `0.64.x` 😬

TIll the time I had put this issue. I was able to run with `0.64.x` on my 1 Mac system. But now I am trying to run the Project from my other system which is having a fresh setup and the react-native version in the project is `0.64.1`. It's not running even the iOS & Pods folder has not the correct files for running.  Only getting 2 corrupted

[2021-05-29 21:09] anujraghuvanshi commented on #31259
Is anyone here running React Native `0.64.x` with XCode `11.x?

[2021-05-29 21:13] BenHurMartins commented on #31259
I am on Xcode 12 and Mac m1

[2021-05-29 21:39] anujraghuvanshi commented on #31259
From [this Doc](https://blog.logrocket.com/whats-new-in-react-native-0-64/) - It's been clear that XCode 12 is required. So anyone who is trying to run the latest react-native version with Xcode version less than 12. It may not run.

[2021-05-29 23:04] Fannolo commented on #31602
Hi can I also take this issue while I wait for #31607 to be merged? I saw that @oguzturker8 changed more than one file in his PR, please let me know if I can take it. Thanks!

[2021-05-30 04:43] actaruss commented on #27191
For expo users, "expo upgrade" should do the job

[2021-05-30 05:25] melch-inno commented on #31523
children: Array(15)
0: {index: 0, name: "Afghanistan", code: "AF", states: Array(34)}
1: {name: "Albania", code: "AL", states: Array(12)}
2: {index: 2, name: "Algeria", code: "DZ", states: Array(48)}
3: {index: 3, name: "American Samoa", code: "AS"}
4: {index: 4, name: "Andorra", code: "AD", states: Array(7)}
5: {index: 5, name: "Angola", code: "AO", states: Array(18)}

[2021-05-30 15:33] Kudo commented on #28298
created a pr for folly to address this: https://github.com/facebook/folly/pull/1593
this may not have much difference to the workaround but should explain why this broken after ndk r21.

[2021-05-30 18:26] manurana commented on #31314
@dimaportenko , @danieloprado : Do you mind posting your package.json here ? I am trying to see if a specific package or two is causing this issue.

[2021-05-30 18:46] danieloprado commented on #31314
No problem!

[code]
I'll try again tomorrow to see if the result changes

[2021-05-30 19:13] dimaportenko commented on #31314
Sure, mine dependencies are
[code]

[2021-05-30 19:41] markmoomoo commented on #28954
in my case, my RN version is
`0.60.4`
 keep your build tool as the
`classpath('com.android.tools.build:gradle:3.5.0')`

[2021-05-30 21:31] juanamd commented on #25923
I'm having this same issue with the following conditions:
-RN v0.63.4
-Hermes NOT enabled -> Using JSC
-Latest SoLoader (0.10.1)
-Using app bundle
-Run gradle clean before bundleRelease
-Issue only happens to certain devices on production (multiple Android versions and manufacturers)

After digging for a while I found [this PR](https://github.com/facebook/react-native/pull/30749) which mentions th

[2021-05-31 02:44] hello-jun commented on #25787
Just click "Make Project" in Android Studio,and it will be generated automatically.

[2021-05-31 05:02] Trex28 commented on #31176
@iceAnson Yes. We need the plugin build too. Thanks

[2021-05-31 07:09] quanghoahcm commented on #28503
I have same problem.
I run ok with command: 'npx react-native run-ios' but it not work when i run in my real device Iphone 11 Pro Max.
Pls help me.

[2021-05-31 07:23] tbanj commented on #28503
@quanghoahcm Have you try opening your project with the .workspace file in the ios folder

[2021-05-31 08:50] tastafur opened #31634 "[Accesibility] accessibilityRole is in English only, not multilanguage"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
accessibilityRole is read in English, people with visual disabilities do not have to know English, I need it to be able to support multilanguage so that it does not say the role in English and say it in the corresponding language

## React Native version:
System:
    OS: macOS 1

[2021-05-31 09:12] robertying commented on #30271
I think right now, it is better to build directly in React Native repo, rather than build in your app's repo as a dependency. Build react native, and then push the whole repo with artifacts to GitHub. Use GitHub repo's URL to install your custom react native.

Here is what I have done to build patched RN (mostly just following the [wiki](https://github.com/facebook/react-native/wiki/Building-from-

[2021-05-31 10:13] ghost opened #31635 "ScrollView StickyHeaderIndices not working when passing mutiple indices."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When passing single index into sticky header it is working fine and header getting sticky at that index but it's not working when passing multiple index in this only first index getting view getting sticky in header.
https://reactnative.dev/docs/upgrading.html

## React Native v

[2021-05-31 11:44] bharathbnbr opened #31636 "Release apk shows this issue"
✋ To keep the backlog clean and actionable, issues will be
🚫 closed if they do not follow one of the issue templates:
👉 https://github.com/facebook/react-native/issues/new/choose

com.facebook.react.bridge.DefaultNativeModuleCallExceptionHandler.handleException (DefaultNativeModuleCallExceptionHandler.java:20)
com.facebook.react.devsupport.DisabledDevSupportManager.handleException (DisabledDevSupp

[2021-05-31 12:59] jfaq89 commented on #29978
Is there any way to get more information on this? It's very frustrating that I cannot reproduce it.

[2021-05-31 13:45] fuchien commented on #26118
Thanks. Its works here!

[2021-05-31 13:49] AllanBSantos commented on #31583
same problem here

[2021-05-31 13:50] Trex28 commented on #31176
Finally, I have resolved the problem in my way. In my settings.gradle, I add these:
[code]

The problem here is that when I installed RN `0.64.1`, folder `packages/react-native-codegen` does not include the `android` folder, it just contains some prebuilded JS scripts. So I need to go to GitHub and copy these files from branch `0.64.1`.

I think RN team should update "building from source" documen

[2021-05-31 13:53] Trex28 commented on #30271
You can check my solution here: https://github.com/facebook/react-native/issues/31176#issuecomment-851505561

[2021-05-31 13:56] JB-CHAUVIN commented on #31269
Thanks you very much @matmartic for you helpful message.
You saved my RN 0.64 upgrade.

[2021-05-31 15:03] jittuu commented on #30788
@draperunner did you find any workaround? I have the same issue with sentry.

[2021-05-31 15:30] alexco2 commented on #29978
Crashlytics offers screenrecording of the sessions the test devices undergoe. Perhaps you'll get more input through those. I unfortunately don't have screenrecordings, because the bot somehow doesn't manage to go past my login screen.

[2021-05-31 16:35] diegobugs commented on #29702
This is still an issue !

[2021-05-31 18:43] draperunner commented on #30788
@jittuu We're using the change I suggested in my previous comment. We are patching `react.gradle` on postinstall using the technique explained here: https://opensource.christmas/2019/4

[2021-05-31 18:48] ciari commented on #31480
tried all provided solutions, nothing worked.
downgrading xcode to 12.4 with Podfile contains _use_flipper!({ 'Flipper-Folly' => '2.2.0' })_  builds without error.
for downgrade; just download 12.4 from apple developer account, rename extracted xip, then run
` # sudo xcode-select -switch /Applications/Xcode.12.4.app`
you can use switch latest later.

[2021-05-31 19:31] garrylachman commented on #31061
workaround in xcode:
go to your target -> Build Phases -> Bundle React Native code and images
add `export PLATFORM_NAME=ios` before `../node_modules/react-native/scripts/react-native-xcode.sh`

[2021-05-31 19:59] sobernaut commented on #31282
I had the same issue after upgrading react native to version 0.64.1 in a project with monorepo setup. I had the same error message as @Johan-dutoit. I managed to make it work after following exactly what the message said making following changes.

export NODE_BINARY=node
export ENTRY_FILE=mobile/index.tsx
../../node_modules/react-native/scripts/react-native-xcode.sh

I hope this helps.

[2021-05-31 22:55] syntacticsolutions opened #31637 "create-react-native-library doesn't build the example"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-05-31 23:45] yuki-js commented on #30788
I solved it by making buildType `Stgrelease`, which contains `release` and worked as expected.

[2021-06-01 02:26] endlesstech opened #31638 "My app is working fine in local on both simulator and physical devices. But, app can't launch when put to the TestFlight."
I search in Xcode organizer, it shows an error at

void RCTFatal(NSError *error)
{
  _RCTLogNativeInternal(RCTLogLevelFatal, NULL, 0, @"%@", error.localizedDescription);

  RCTFatalHandler fatalHandler = RCTGetFatalHandler();
  if (fatalHandler) {
    fatalHandler(error);
  } else {
    @try {
      NSString *name = [NSString stringWithFormat:@"%@: %@", RCTFatalExceptionName, error.localizedDescri

[2021-06-01 03:02] tubo-15 commented on #30991
is this solved

[2021-06-01 03:28] kerm1it commented on #31603
Can I take this issue?

[2021-06-01 03:35] kerm1it commented on #31604
Can I take this issue?

[2021-06-01 06:53] feeza10250 commented on #30186
Is there a solution?

[2021-06-01 08:33] chengfang1103 opened #31640 "RCTImageLoader crashes （RN 0.63.3）"
✋ To keep the backlog clean and actionable, issues will be
🚫 closed if they do not follow one of the issue templates:
👉 https://github.com/facebook/react-native/issues/new/choose

caused by:Application received signal 11
--
1 | callStackSymbols: {
2 | 0   libobjc.A.dylib                 0x0000000182a56b30 objc_msgSend + 16
3 | 1 CoreFoundation 0x0000000182c12dbc -[NSArray sortedArrayFromRange:opti

[2021-06-01 08:34] chengfang1103 commented on #31640
caused by:Application received signal 11
--
1 | callStackSymbols: {
2 | 0   libobjc.A.dylib                 0x0000000182a56b30 objc_msgSend + 16
3 | 1 CoreFoundation 0x0000000182c12dbc -[NSArray sortedArrayFromRange:options:usingComparator:] (in CoreFoundation) + 1084
4 | 2 DocPlatform 0x00000001008ee54c -[RCTImageLoader imageDataDecoderForData:] (in DocPlatform) (RCTImageLoader.mm:0)
5 | 3 DocPla

[2021-06-01 10:37] JainBhavesh commented on #30123
please add value prop issue will solve

[2021-06-01 10:42] suresh777 commented on #31259
i tried with same version, i am facing same build issue

[2021-06-01 11:20] vbmaarten opened #31641 "Sending a jpeg using XMLHttpRequest is increasing the file size on IOS"
## Description

Using XMLHttpRequest to upload a JPEG on IOS, increases the file size. Sending a compressed JPEG with XMLHttpRequest is uploading a file of which the file size is increased.

Executing the following will code will trigger the behaviour
[code]

It seems to be that the following code is being executed on the IOS side
[code]

From what I understand, this code is uncompressing and then

[2021-06-01 13:54] samuelneff commented on #28992
Getting same error here, but oddly only one tester out of three reports it, and that user reports it consistently. We're not using websockets within the app.

React Native 0.64.1.

[code]

[2021-06-01 14:00] esthor commented on #31637
have you checked out the troubleshooting the recent issue with flipper folly?  https://github.com/facebook/react-native/issues/31480

[2021-06-01 14:09] syntacticsolutions commented on #31637
That worked! Thank you!

[2021-06-01 14:09] #31637 closed

[2021-06-01 14:24] kylanhurt commented on #28551
Still having same issues in RN 64.1

[2021-06-01 15:03] BeeMargarida opened #31642 "iOS KeyboardAvoidingView weird behaviour with TextInput double tap"
## Description

In iOS, when using `KeyboardAvoidingView` with behaviour `height`, after the first appearance of the keyboard by focusing on the input, when clicking in the input, the keyboard appears above the input, but the focus is not lost.

Observations:
1. Only happens if a letter is written and then the tap is made on the input.
2. The onBlur is not called
3. If calling the input focus on `

[2021-06-01 15:35] BeeMargarida commented on #31610
Have you tried doing something like this?

`sudo xcode-select -s /Applications/Xcode 12.0.app/Contents/Developer/`

From https://stackoverflow.com/questions/48928498/configure-error-c-compiler-cannot-create-executables-react-native

[2021-06-01 16:10] rchristian opened #31643 "eslint-config-react-native-community uses a deprecated version of babel-eslint that can cause eslint to fail when linting template literals"
## Description
The `eslint-config-react-native-community` package currently uses `babel-eslint` as a dependency. This package contains a bug that can cause eslint to fail when encountering template literals. Furthermore, `babel-eslint` has been deprecated and is now `@babel/eslint-parser`, meaning this bug will continue to cause issues until the deprecated package is updated.

See [here](https://g

[2021-06-01 16:34] AdamLee321 commented on #25838
Great find, my podfiles deployment target was 11.0 and my projects was set to 10.0. Thanks.

[2021-06-01 17:12] cwilby commented on #31259
This solution works for me.  RN was failing to resolve the node path via nvm.  With `fnm`, works fine.  Guessing there is some technical difference between how/where paths are resolved with fnm.

(Added bonus `fnm` is quite snappy!)

[2021-06-01 19:32] roni-castro commented on #29232
Reproducible example with the font `HelveticaNowDisplay` https://snack.expo.io/@ronicesarrc/custom-font-example

<img width="500" alt="Screen Shot 2021-06-01 at 16 27 34" src="https://user-images.githubusercontent.com/24610813/120379890-cce16900-c2f6-11eb-83ab-5ab4f20e1f3c.png">

[2021-06-01 19:55] iJimmyWei commented on #31215
It looks like `blacklist` was renamed to `exclusionList` for inclusive language reasons in .64 (https://github.com/facebook/metro/commit/3e2d9116d8a7f2580dcda51990cca5b3d98a81ff)

For me excluding `dist` with Junhano's example was too destructive. I adapted it and this worked out for me:

metro.config.js
[code]

[2021-06-01 21:03] lunaleaps commented on #31604
@kerm1it assigned! Please set me as a reviewer on your pull request and thank you for your help in making RN better!

[2021-06-01 21:05] lunaleaps commented on #31603
@kerm1it assigned, thanks for working on this! Please set me as a reviewer for your pull request!

[2021-06-01 21:12] blavalla commented on #28800
From an Android perspective, Talkback is doing this for each TextView that contains a ClickableSpan or URLSpan in its text.

From the RN side, whenever you set a link role on a component, we are under the hood creating a URLSpan and setting it as the full length of text on that component:

https://github.com/facebook/react-native/blob/da899c0cc4372830e5ca053a096b74fff2a19cb8/ReactAndroid/src/main/

[2021-06-02 00:53] asmiddy commented on #29990
make sure the following code is in your metro.config.js file

module.exports = {
    transformer: {
        assetPlugins: ['expo-asset/tools/hashAssetFiles']
    }
};

[2021-06-02 02:24] ravindranpandu commented on #31464
this helped me, thanks

[2021-06-02 03:38] infinitbility commented on #31412
Check the below article to solve the build update issue in code 12.5

https://infinitbility.com/build-failed-after-update-xcode-12.5

[2021-06-02 03:39] infinitbility commented on #31432
Check the below article to solve the build update issue in code 12.5

https://infinitbility.com/build-failed-after-update-xcode-12.5

[2021-06-02 03:40] 15110011 commented on #21729
in my case, just remove letterSpacing on Android? or set an int number not a float(if u want to use it)
ex: letterSpacing: Platform.OS === 'ios' ? 0.5 : 1

[2021-06-02 04:27] uday-brainium commented on #31638
This issue may be causing because of the SSL and Flipper so the easy solution worked for me is to update Xcode version and try again.
or enable Flipper and SSL in your project

[2021-06-02 04:43] septe01 commented on #25586
please location this file

[2021-06-02 05:29] visheshsprinzo commented on #27522
I deleted all the babel related stuff and it helped me

[2021-06-02 06:42] ferdicus commented on #31215
Yep, just a name change indeed:
[code]

`blacklist` => `exclusionList`

[2021-06-02 06:58] wertlop commented on #30944
Can I take this issue?

[2021-06-02 07:08] ShahidIqbal452 commented on #31409
Same issue. Any solution to this except removing spaces from folder names because it will have consequences for other projects.

[2021-06-02 07:37] dGalitsky opened #31646 "Regular Expression Denial of Service vulerability in "ws" package"
## Description
React Native is using version `6.1.4` of `ws`. A new moderate vulnerability has been found for versions below `7.4.6`: https://www.npmjs.com/advisories/1748.
Please consider upgrading `ws` to `7.4.6`.
## React Native version:
[code]

## Steps To Reproduce
1. install react-native@0.64.1
2. run `npm audit`
3. observe new vulnerability

## Expected Results
No vulnerabilities found

##

[2021-06-02 10:38] haikyuu commented on #29353
I have the same issue. It appears if I provide `visible` without the state tracking variable. But the workaround isn't working.

[2021-06-02 10:51] Zshay2203 commented on #29377
Hi,

In the past weeks, I tried to investigate the issue, and apparently, the only solution for it (unless Facebook solves the issue before) is to build your native code using the static version of libc++.

In addition, I kept looking for workarounds, and today I found a one, which some of you (including me) will call dirty or nasty - but it works.
I am sharing it with you so can provide your opin

[2021-06-02 11:43] ezranbayantemur commented on #31561
@MaxCode-fan Can you close the issue if your problem solved?

[2021-06-02 11:56] Bardiamist commented on #27204
No crash in React native 0.64.1 but caret is hidden.

[2021-06-02 12:15] OlegDeg commented on #30587
@mrousavy Can you provide the code please?

[2021-06-02 12:23] eqlion commented on #31525
The same issue here: RN 0.64.1, Xcode 12.4, Hermes enabled.
The workaround suggested by @junqdu seems ridiculous, might try it as a temporary measure, however this is not acceptable in the long run.

[2021-06-02 12:58] douglasjunior commented on #27204
@Bardiamist this is because a totally wrong "fix" was accepted by the core team. As we mentioned here https://github.com/facebook/react-native/issues/27204#issuecomment-702662348, https://github.com/facebook/react-native/issues/27204#issuecomment-703704916 and https://github.com/facebook/react-native/issues/27204#issuecomment-707478867.

[2021-06-02 15:37] dgtman commented on #28078
Still happening as of this date.  Adding width:'100%' does seem to "fix" it, but we are all hacking around the problem instead of getting a proper resolution.

[2021-06-02 17:42] lunaleaps commented on #31603
@kerm1it oh no! I didn't realize! Is there anyway for you to request a reviewer?

[2021-06-02 19:11] AlbertVilaCalvo commented on #25586
@septe01 it will have a different name in your project, but it will end with `.xcworkspace `

[2021-06-02 19:47] mgmolisani commented on #31385
Any update on this? Still an issue.

[2021-06-02 20:58] DracotMolver commented on #29765
I facing the same issue with a **Release** mode. The image actually is displayed during a few seconds, but after I've got a success/failure response from the source prop loading an external image, in android, the defaultSource disappear

[2021-06-02 22:32] #31621 closed

[2021-06-03 00:40] CaiYiLiang commented on #31467
Thanks @jonstuebe
Works for me

[2021-06-03 01:47] WilbertJanney commented on #29279
Upgrading to React Native 0.63.4 fixed it for me since it has this fix included, but it works on the simulator and when building directly on the device. When I publish to an IPA file, it doesn't work. Anybody know why? I'm using an Expo 41 ejected bare workflow React Native project.

[2021-06-03 04:15] #31600 closed

[2021-06-03 04:30] AdamChrist commented on #31391
No problem, but I can't assign it to you directly.

[2021-06-03 05:40] kirx76 commented on #31245
some solutions? i have a simple modal with useState[true/false] and button to open the modal. when i click on this button like 4-5 times before modal is showing, i have that crash. it may crash after 2-7 repeats. and error are same...

[2021-06-03 06:43] SarvaDev-123 commented on #25594
height is fail in case of Hebrew language or when you performing rtl activity.

[2021-06-03 06:48] itajenglish commented on #28551
@mirfanahmed and @kylanhurt I fixed this issue by hard coding the file type extention. Take a look at the `uriParts` variable and `fileType` variable. Let me know if this works for you.

[code]

[2021-06-03 07:13] SmilerKai commented on #29396
same for me :<

[2021-06-03 07:44] syedamirali14 commented on #26331
this happens when you install homebrew and node both in a same machine

[2021-06-03 07:57] lclrobert2020 opened #31649 "The app is granting all android user permission automatically when installed with react-native run-android"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
The app is granting all android user permission automatically when installed with react-native run-android. Even for the permission like CAMERA

## React Native version:
System:
    OS: macOS 11.2.1
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 73.53 MB /

[2021-06-03 08:26] longseespace commented on #26331
In my case, I converted my app from Objective C to Swift and thus the `DEBUG` flag detection was wrong. Adding correct Swift Flags fixes mine

https://stackoverflow.com/a/58877579/3940420

[2021-06-03 08:47] eqlion commented on #31534
Apart from advices above, make sure you don't have any `{" "}` or `{"\n"}` in the JSX you return in your components. They may appear after VSCode autoformatting.

[2021-06-03 09:20] sangameshrently commented on #31534
Can you post exact component ?

[2021-06-03 09:32] Zshay2203 commented on #30459
Hi @chichoch
Yesterday I posted a suggested workaround in https://github.com/facebook/react-native/issues/29377 for the crashes/failures that are caused under versions >= 0.62 of React Native.
In order to test it, I downloaded your sample project from https://github.com/chichoch/testarcgis and tested it.

Putting the call: System.loadLibrary( "c++_shared"); at the first line of onCreate(), in clas

[2021-06-03 09:39] erich04 opened #31650 "crash events underSecDroidFuzz"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

## React Native version:
Run `react-native info` in your terminal and copy the results here.

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.
2.

## Expected Results
Describe what you expected to happen.

## Snack, code example, screenshot,

[2021-06-03 09:39] #31650 closed

[2021-06-03 09:41] geovrisco commented on #29698
how? i have same problems

[2021-06-03 09:57] ahmedawaad1804 commented on #31181
it is all about node
1- run npm start manually in terminal ( dont use internal terminal of vs code)
2- run react-native run-ios
3-enjoy
note : *please dont use vs code terminal for node env accessability

[2021-06-03 10:23] chichoch commented on #30459
Upgrading `react-native` to v0.64.1 (with help from https://react-native-community.github.io/upgrade-helper/) and upgrading the 3rd party to v100.10.0 was successful.

[2021-06-03 10:23] #30459 closed

[2021-06-03 10:27] Zshay2203 commented on #30459
Hi,
Not in the case of our product, which uses the same version of React Native.
Thanks
Shay

[2021-06-03 11:04] Nagato717 commented on #21801
try this workaround, you can even *4 for smoother

[2021-06-03 12:19] chichoch commented on #30459
@Zshay2203
Sorry to hear that!

I was hoping that `ndkVersion = "20.1.5948944"` that was added to `android/build.gradle` was a fix for this kinds of problems, but I haven't look into it deeper.

I don't know what `System.loadLibrary("c++_shared")` really does, but I will keep it in mind if it's needed in future versions!

But I'll keep this issue closed for now, since the bug can't be reproduced w

[2021-06-03 12:29] Zshay2203 commented on #30459
Hi @chichoch,

The call System.loadLibrary("c++_shared") issues a request to the JVM to explicitly  load the Native Shared Library libc++_shared.so to the app's memory.
This library, which holds the C++ code that fails and causes the exception/failures is usually loaded to the app's memory by the React code during its initialization phase.
My assumption is that the preliminary load of the library

[2021-06-03 12:41] devang-p-eq commented on #28954
thanks  !!

[2021-06-03 13:07] enestatli commented on #31649
Add following permission to `android>app>src>debug>AndroidManifest.xml`

`<uses-permission android:name="android.permission.CAMERA" />
`

[2021-06-03 13:21] seasonalmatcha commented on #31181
Every other solution didn't work for me but this one did! Thank you!

[2021-06-03 13:23] seasonalmatcha commented on #31181
I found this solution on stackoverflow and it worked for me

1-) cd ios
2-) rm -rf Podfile.lock
3-) rm -rf Pods
4-) pod install

[2021-06-03 13:33] hkar19 commented on #31269
by the way make sure you also do modify necessary files using react native upgrade helper (for my case from RN [0.63 to 0.64](https://react-native-community.github.io/upgrade-helper/?from=0.63.4&to=0.64.1)).

so later when you `assembleRelease` your app wont crash at start.

[2021-06-03 14:21] mikehardy commented on #31245
@kirx76 the solutions are all here. Use react-native 0.63.x or wait for 0.64.2 and/or 0.65 or build from source with the patch.

[2021-06-03 15:59] kilimchoi commented on #30599
any workaround?

[2021-06-03 15:59] thecodecafe opened #31653 "XMLHttpRequest Keeps Failing In React Native 0.64.0"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Since I upgraded to RN 0.64.0 Ajax a lot of the times fail to make a successful connection to my API, I'm currently using Axios and have two different versions installed on two separate RN 0.64.0 projects and they both behave the same way, a new project is using Axios 0.21.1 whi

[2021-06-03 16:17] Itsindigo commented on #31354
If you've followed @jonrigerths2's steps and you're still running into the same issue, you can also delete the contents of `node_modules/react-native/scripts/find-node.sh`, this will however stop working each time you reinstall your dependencies.

[2021-06-03 18:14] iMJumpmxn commented on #31653
Same here

[2021-06-03 18:26] btroia opened #31654 "iOS 14+ `<Image />` only showing first frame of WebP animations"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

The latest RN [documentation](https://github.com/facebook/react-native-website/pull/2418) indicates full support for WebP images on iOS "out of the box" - however, it only appears to load static WebP's - animated WebP's do not play (only first frame is shown).

## React Native

[2021-06-03 21:58] amarlette commented on #30854
Closed by #31532

[2021-06-03 21:58] #30854 closed

[2021-06-04 03:25] aaron0215 commented on #30147
Any update on this issue? Or any official fix is done?

[2021-06-04 04:02] fachrighiffary commented on #28483
did you solve this problem?,, ive got this proble too

[2021-06-04 05:36] hamzasumbal commented on #13413
I set the height of the Flatlist to the height of the screen. It worked for me.
If the height was set to "auto", the scrolling was very laggy.

[2021-06-04 06:04] cassidypignatello commented on #31480
Tried everything for 0.64.1 on XCode 12.5, still no luck. The build keeps failing consistently due to something with FBSDK:

[code]

What's strange is the x86_64 part of the error seems to refer to a problem with M1 MacBooks, but I'm on a MacBook Air 2020 (the Intel version, not the M1). Does anyone else know how to resolve this by any chance?

[2021-06-04 06:07] prankymat commented on #27400
we're facing this issue on Android, can't reproduce reliably, tried using singleTask and updating Firebase didn't seem to help.

[2021-06-04 06:52] codercodingthecode commented on #31570
Similar error in both android and ios  [macos]
![image](https://user-images.githubusercontent.com/20182536/120758395-68313480-c4d7-11eb-86a6-015f6fa9a220.png)

[2021-06-04 08:45] Nicholson85 commented on #30196
Are there no further developments here.  It seems crazy to omit these files from the libraries given the impact this is causing.

[2021-06-04 08:55] longb1997 commented on #30558
For anyone who comes here, it's fixed (again) in 0.64.2:
https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0642

[2021-06-04 10:04] erich04 opened #31655 "Crash under SecDroidFuzz"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
We recently scan the RN application using a fuzz tool named ScedroidFuzz, and got crash events like this.
We are not pretty sure if this is a bug or security risk, thx for the clarification。

java.lang.UnsupportedOperationException: This method is not supported for ReactViewGrou

[2021-06-04 11:59] mrshahzeb7 commented on #27758
any solution to this ?

[2021-06-04 12:12] Krunal-K-SimformSolutions commented on #29084
@avinashlng1080 : Please try with import FlatList from 'react-native-gesture-handler'.

[2021-06-04 12:44] aitorct commented on #31163
We are facing the very same problem implementing an emoji picker as well.

[2021-06-04 12:58] Elabar commented on #31163
Give [recyclerlistview](https://github.com/Flipkart/recyclerlistview) a try. It's performance is even better than flatlist in my project.

[2021-06-04 13:54] lucasluca commented on #30041
I'm having the same problem here.

[2021-06-04 14:08] Morritz commented on #31242
Any workaround available?

[2021-06-04 14:23] Yogita98 commented on #30976
Hey @wedonotcodeanymore
Are you still interested in working on this? If not, I can pick it up

[2021-06-04 14:52] kbwo commented on #29605
I'm using m1 macbook air.
In my case, these solutions are not working when running the "react native run-ios" command, but after a successful build by pressing the play icon in xcode, the "react native run-ios" command is now successful.

[2021-06-04 16:02] ebaynaud commented on #31245
It is

On Fri 4 Jun 2021 at 18:01, Juan S. Escobar ***@***.***>
wrote:

--
Erwan

[2021-06-04 16:03] mikehardy commented on #31245
It's almost the only thing in the changelog?

[2021-06-04 16:14] escobar5 commented on #31245
sorry, I must have missed it, thanks

[2021-06-04 16:37] AlexandreHauber commented on #29455
Still facing this issue RN 0.64.1

[2021-06-04 16:54] dungnguyentri3110 opened #31657 "Error: Workspace integrity - Could not opent workspace when try open RN project 0.64 by xcode 11.3.1 Macos Mojave"
Hi guys. I have problem with my project. I clone my project from my company and it build by RN version 0.64.1. Then i catch this error:
![z2533368001836_2e35163a64d90ada709685e86d903e4a](https://user-images.githubusercontent.com/54011066/120836466-cd486100-c58f-11eb-9475-16a9004f4f00.jpg)
I could not open my project also pod file.  Help me! and thanks you

[2021-06-04 16:57] vcellu opened #31658 "Building with Hermes Enabled for iOS on RN 0.64.2 Hangs"
## Description
Building in release mode, with Hermes enabled in iOS in XCODE 12.5 hangs Xcode

## React Native version:
System:
    OS: macOS 11.3
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 2.57 GB / 32.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.15.5 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.11 - /usr/local/bin/npm
    Wa

[2021-06-04 17:10] SaadFarhanIdress opened #31659 "I am too harass on finding the text should be rendered within a <Text> component."
## Description
I am too harass on finding the text should be rendered within a <Text> component. I don't why it is still occurring even I check the code fully.

## React Native version:
[code]

## Steps To Reproduce
I don't know how to reproduce it.

## Expected Results
I expected that it should run clearly because I checked fully and the text is rendering within a Text component.

## Snack, code

[2021-06-04 17:16] #31659 closed

[2021-06-04 17:24] Enesklmc commented on #28510
Also, it happens when you change `index.js` to `index.tsx`. Go back to `.js`.

[2021-06-04 18:21] mdehghani65 commented on #30249
I suddenly encountered a similar situation after updating to xcode 12.5. downgrading to Xcode 12.4 solved the problem

[2021-06-04 19:32] jorisvo2 commented on #21801
I've these value and isn't smooth ...

[code]

Any idea?

[2021-06-04 19:57] gustavolsilvano commented on #30814
I upgraded my react native to version 0.64.1, but in my build.gradle the targetSdkVersion and compileSdkVersion was still 29. Do I need to manually change them to 30 in order to fullfil the requirement of API level 30?

[2021-06-04 20:02] naxir opened #31660 "Build Failed React Native IOS M1"
If I try build a fresh RN app for iOS, I get linking errors.

ld: warning: Could not find or use auto-linked library 'swiftFoundation'
ld: warning: Could not find or use auto-linked library 'swiftDarwin'
ld: warning: Could not find or use auto-linked library 'swiftUIKit'
ld: warning: Could not find or use auto-linked library 'swiftCoreFoundation'
ld: warning: Could not find or use auto-linked libr

[2021-06-04 20:03] naxir commented on #31660
Solution:

Delete node_modules
Delete Podfile.lock and Pods/ folder
update Pod file and comment use_flipper() #use_flipper!()
Install node dependencies with npm install
Install pod dependencies with pod install in ios folder.
it worked.

[2021-06-04 20:03] #31660 closed

[2021-06-04 21:38] hossein-zare opened #31661 "`Image` and `ImageBackground` unexcepted behavior."
## Description
`ImageBackground` / `Image` on the same screen with different behaviors:
1. **on the Login screen** of my app. Everything is good.
2. I log into my account. Then I close and reopen the app and log out, its navigated to the Login screen and **The component has shrunk**.

This also happens on other screens.

![1](https://user-images.githubusercontent.com/56504893/120864662-cde9f300-c5

[2021-06-04 23:00] hey99xx commented on #31655
You should provide JS code you use to build the application as the 1st step in repro steps. Without it, noone can diagnose this issue. The issue should be closed unless you'll provide the code sample you use for testing.

[2021-06-05 01:22] dulmandakh commented on #30814
You can change the value

[2021-06-05 04:00] #31603 closed

[2021-06-05 05:11] tuanpnUET commented on #25992
@maletiger0404
sorry I got some trouble. I did a cd android then ./gradlew installDevDebug and that built failed.
**> Task :app:compileDevDebugJavaWithJavac FAILED
/Users/tuanpham/Documents/Amela/DemoApp/android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:93: error: cannot find symbol
      new CodePush(getResources().getString(com.demoapp.R.string.CodePushDeploymen

[2021-06-05 07:48] #25696 closed

[2021-06-05 08:01] lincdh commented on #31628
Seems like this is not related to ScrollView but the toggle inspector is not quite accurate

[2021-06-05 08:01] #31628 closed

[2021-06-05 08:57] ravindranpandu commented on #29605
I am on M1 Macbook pro and this seems my problem and this helped me to resolve the issue, thanks

[2021-06-05 11:16] IM-CrazyDeveloper commented on #26687
Hi All,
Facing this issue in RN upgrade 0.64.1 . I am using below configuration
Xcode 12.4
node 10.0

Tried : 'npm start --reset-cache'
also
installed : "@react-native-community/art"

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
 ERROR  Invariant Violation: ART has been removed from React Native. It can now be installed an

[2021-06-05 15:41] john1jan commented on #29396
This worked for me

[2021-06-05 15:45] BenShelton commented on #28405
If you are using a much older version of react-native (I was on `0.54.4` 😬 ) then the name of the method may be `_initModules` instead of `_initializeModules`. And `RCTTurboModuleManager` doesn't even exist. Plus I was on a version before the `Podfile` was a thing 😅

So I adjusted the script @strawberry-code mentioned above and now run this on a `postinstall` script in `package.json`:

[code]

The

[2021-06-05 18:16] ardhichoiruddin opened #31662 "Hermes makes SVG a mess."
## Description
when activating Hermes in the android/app/build.gradle file, Hermes makes the SVG that I have set up and combined with d3-shape messy.

## React Native version:
System:
    OS: Linux 5.4 Ubuntu 18.04.5 LTS (Bionic Beaver)
    CPU: (4) x64 Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz
    Memory: 730.97 MB / 7.68 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 12.13.0 - /usr/local/

[2021-06-05 18:22] NickNish09 commented on #28283
Any news on this issue?
I'm having the same problem in react-native 0.64 using axios (or the fetch api) to call a domain which has ipv6.

The first fetch is always taking too slow, no matter what route.
I restarted my internet connection and it worked for a little bit, but now the problem is back

[2021-06-05 18:55] NickNish09 commented on #31373
Any news on this issue?
I'm having the same problem with react native 0.64 on android

[2021-06-05 20:53] JosePBrotons commented on #31438
I was able to run the project by commenting the use_flipper line in the Podfile and also by removing the Library Search Paths in the project, I don't know how It could impact deleting those properties but for now the project is running without any issues.

[2021-06-05 23:28] reaperdtme opened #31664 "Please use relative path in ios pod codegen"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native@0.64.1` for the project I'm working on.

We have our pod sources checked in to git and in the latest patch the new codegen added an iOS Build script via pods that used literal file directories.

Here is the diff that solved my problem:

[code]

<em>Th

[2021-06-05 23:52] aspectgfg commented on #31664
Again

[code]

[2021-06-06 00:08] aspectgfg commented on #31480
Here's the patch
[code]
Made an issue for it
https://github.com/facebook/react-native/issues/31664

[2021-06-06 00:26] aspectgfg opened #31665 "Please store ios codegen artifacts in Pods repository or build folder"
Currently the new ios buldscript codegen module is producing artifacts into the node_modules directory and is using those outputs in the xcode build.
Please consider moving those artifacts into the Pods directory or if it's build time only, then a build folder

[2021-06-06 00:37] #31665 closed

[2021-06-06 06:11] #31228 closed

[2021-06-06 06:18] mattijsf commented on #31218
I'm seeing the same using react-native 0.64. A bit strange because according to the changelog it should have been fixed in 0.57.2: https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0572

[2021-06-06 06:32] Zshay2203 commented on #29377
Hi @Kudo,

Last week I found a workaround to the above failure - by explicitly loading libc++_shared.so before RN loads its own Native Shared Libraries.
This change does not require any other change and was verified on different RN apps.

If the issue is still relevant for you, I will be more than happy to have your comments on it.
Thanks
Shay

[2021-06-06 07:36] im-subash commented on #31148
Hi I ran into same problem. But i got a solution by changing the React-native > Packager: Port to **8081**.
Previously i changed to different port following old videos, now I'm able to launch the emulator. Hope this works fine for you too.

[2021-06-06 07:42] tamaasrory commented on #28954
thanks a lot bro...

[2021-06-06 08:01] SpertsyanKM commented on #28992
I was getting the same error in Android Studio LogCat. My app was stacking on splash screen with no errors in logs or on the phone, only this message in LogCat. I've calculated the line, which caused this error - call of NativeModule method.

To find the error I've wrapped native method call with `InteractionManager.runAfterInteractions` and the error appeared as habitual red box, saying "**Cannot

[2021-06-06 08:45] mattijsf commented on #31218
Not ideal, for the time being I'm using this workaround to have a scrollable overflowing container:

[code]

[2021-06-06 09:40] intergalacticspacehighway commented on #30977
@blavalla Sorry to reply so late. Thanks for such a thorough explanation.
This has really helped me to come up with a solution that won't require any additional API from the user side.

Testing it with FlatList - https://user-images.githubusercontent.com/23293248/120919495-8f565480-c6d7-11eb-8a4b-45639a495eed.mp4

I would like to point out some observations.

Flatlist, Section or Virtualized list

[2021-06-06 12:25] mdawoodmughal opened #31667 "[Android] [0.63.4] Exception in native call from JS"
## Description
My app is working fine when I run the app also working fine with hot reload but when I reload the app with the developer option it shows me a red screen error

## React Native version:
[code]

![Screen Shot 2021-06-06 at 5 24 38 PM](https://user-images.githubusercontent.com/53940990/120924245-157c9600-c6ec-11eb-9c33-4304266ad936.png)

[2021-06-06 13:59] tamago3keran commented on #31245
I tried to build it in the following way, but it did not improve.

1. npm install ( also watchman )
2. apply a patch ( ref. https://github.com/BulbEnergy/react-native/commit/88174742327ae8c730c7eec9d333706882c1ac7a )

<details>
  <summary>diff</summary>
`node_modules/react-native/ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerHelper.java`

[code]

</details>

3. run npx react-nat

[2021-06-06 14:05] Bardiamist commented on #31245
Fixed in 0.64.2

[2021-06-06 14:09] tamago3keran commented on #31245
@Bardiamist Thank you so match.

[2021-06-06 16:07] austintp commented on #28670
Has anyone come up with an elegant work around for this issue?

[2021-06-06 19:07] GoktuqCan commented on #31173
I'm having the same error when using react-native-calendars with hermes. If I disable hermes app runs correctly.

[2021-06-06 20:11] maheenriaz commented on #22234
Renamed the image from assets folder that is duplicate and then goto android/app/src/main/res/drawable-mdpi/
and delete image that were duplicate solved my problem!!

[2021-06-06 21:53] spikesagal opened #31670 "`npx react-native run-ios` fails if the project dir contains a space"
## Description
The build step fails because of a faulty generated shell script:

FBReactNativeSpec.build/Script-CA3B037230D24B8B9510291201FA6A38.sh
bash: Projects/RNTestProject/node_modules/react-native/scripts/../Libraries: No such file or directory
Command PhaseScriptExecution failed with a nonzero exit code

The directory this refers to is actually named "Software Projects". Looking into the sc

[2021-06-06 21:59] spikesagal opened #31671 "npx runs an alpha build of react-native by default"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
`npx react-native --version` -> 5.0.1-alpha.2

## React Native version:
System:
    OS: macOS 10.15.7
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 523.71 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 16.2.0 - /usr/local/bin/node
    Yar

[2021-06-07 02:03] salgilbarana opened #31672 "borderColor not working in RN CLI"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

i wanna apply a borderColor to component View

I 've tried `borderColor: "#D5DDE5" ,  border: "1px solid #D5DDE5"`

but it's not work

How do i  solve to this

## React Native version:
Run `react-native info` in your terminal and copy the results here.

[code]

## Steps To Repr

[2021-06-07 05:37] ajith-ab commented on #31412
This isssue is resolved when you update react native version but if you want to solve on your current version then you have add below code on your Podfile.

[code]

Add below code on your end of Podfile

[code]

[2021-06-07 07:40] prateekchitransh1907 commented on #28405
You da man !!

[2021-06-07 08:38] pvegh opened #31674 "Suppory Gradle configuration cache"
Using a new Gradle 7 feature with
`org.gradle.unsafe.configuration-cache=true`

I get the warning:
Calculating task graph as configuration cache cannot be reused because cached version information for com.facebook.react:react-native:+ has expired.

This issue should be improved, otherwise the new feature and performance gain cannot be used in a project using React Native.

Gradle documentation:
ht

[2021-06-07 09:25] xclidongbo commented on #31480
one of Flipper-Folly `s dependencies is "OpenSSL-Universal" . version: '1.1.180' is incompatible with  'libssl.a' old version.
when I run app, it always crashes with EXC_BAD_ACCESS in Flipper.

How can I fix it?

[2021-06-07 09:50] vasuagrawal84 commented on #31625
I was seeing this stack trace only for devices running devices on Android 7 or below in my application. I believe it was because `OffsetDateTime` was added in API 26 (Android 8) and the Usabilla React Native lib doesn't have a safety check for it. https://developer.android.com/reference/java/time/OffsetDateTime

Resolved by adding a system version check before calling the initialise function. Not

[2021-06-07 10:32] thainquet opened #31676 "React native not launch package manager after upgrading from v0.59.2 to v0.64.1, which causes "timed out waiting module" error on real device"
## Description
After upgrading from v0.59.2, my project stops launching metro in terminal.

## React Native version:
System:
    OS: macOS 11.2.3
    CPU: (8) arm64 Apple M1
    Memory: 602.81 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.3.0 - /opt/homebrew/bin/node
    Yarn: 1.22.10 - /opt/homebrew/bin/yarn
    npm: 7.15.1 - /opt/homebrew/bin/npm
    Watchman: 2021.05.31.00 -

[2021-06-07 10:33] rumax commented on #26193
@dulmandakh Can you, please, elaborate a bit more about what kind of Android issue it is. And is it Android or RN Android issue? Looking into Android dos https://developer.android.com/reference/android/graphics/fonts/FontStyle it seems like it should be possible to use numeric values. Cannot find any limitations.

That's fine if RN supports the same, right? Rather than do not support at all, which

[2021-06-07 10:46] kioli commented on #31625
Hi @vasuagrawal84 , what do you mean precisely by `the Usabilla React Native lib doesn't have a safety check for it`? How would you implement it? (besides the compatibility with desugaring explained by the Google guidelines)

And about your solving it, which kind of version check did you put? Something that circumvent the usage of `OffsetDateTime` when it's running on Android below 26?

[2021-06-07 11:38] coucoseth commented on #28794
facing the same problem. any solution?

[2021-06-07 12:05] kelset commented on #31480
@xclidongbo I think that error is caused by cocoapods, make sure you are on latest

[2021-06-07 12:48] xclidongbo commented on #31480
cocoapods version is 1.10.1

[2021-06-07 13:33] kh30 commented on #31246
Hi, I had the same problem. I noticed that the text only disappears when you set "lineHeight" in the stylesheet.
Seems to be a bug in RN?

[2021-06-07 13:42] mmehmetAliIzci commented on #31672
Hi @salgilbarana,

Please check https://reactnative.dev/docs/view-style-props. I believe you've mistaken this with web but in native you can use:
[code]

Example expo: https://snack.expo.io/NBQV6yh6F

[2021-06-07 14:08] salgilbarana commented on #31672
omg thank you so much
I got it my mistaken

im sorry bother u

[2021-06-07 14:08] #31672 closed

[2021-06-07 14:57] mmehmetAliIzci commented on #31658
Might be related to https://github.com/facebook/react-native/issues/31480

[2021-06-07 15:51] EashSundar opened #31677 "React native s3 upload fails in android"
I'm trying to post image to s3 via s3.upload in react native app. This function works good in iOS, but fails only in android.
But when i enable network in debugger, then images are been posted.

React native version : 0.63.4

Went through various solution like,
1. Changing FLIPPER version.
2. Commenting FLIPPER code.
3. Adding manifest files code with android:usesCleartextTraffic="true".
4. Adding

[2021-06-07 16:11] nphivu414 commented on #31480
I got the same problem with my iMac 2017 and this solution works for me: https://github.com/facebookarchive/react-native-fbsdk/issues/794#issuecomment-695217977

[2021-06-07 16:57] TheEhsanSarshar commented on #29123
this issue still exists for `tsx` files.
maybe there is some conflicts between eslint and typescript

[2021-06-07 17:50] kacieb commented on #30977
Thanks so much for working on this! The example above seems like a great proof of concept to me. I'll leave it to @blavalla to verify the accessibility behavior!

Questions from me - how would this work with nested lists?

ex.

[code]

Additionally, how would this work if FlatList numColumns is greater than 1? Ex. in [MultiColumnExample.js](https://github.com/facebook/react-native/blob/74d5d03dbd5

[2021-06-07 18:04] amarlette commented on #30975
Yes @Yogita98! In your PR please mention the issue so we can connect the two. 😃

[2021-06-07 18:05] amarlette commented on #30944
@wertlop yes you are welcome to pick up this issue. Please mention the issue number in your pull request so that it links back. Thank you!

[2021-06-07 18:09] amarlette commented on #30975
@Yogita98 I would recommend looking at the parent issue #30977 as @intergalacticspacehighway is working on Flatlist right now and what they've discussed with the React Native Core team could be helpful.

[2021-06-07 19:21] EashSundar commented on #31677
Closed adding Signatureversion:v2

[2021-06-07 19:21] #31677 closed

[2021-06-07 19:27] victoriaSh commented on #31369
@ravi-poonia Thank you! You just saved me a lot of time. Had the similar issue with "expo-splash-screen".

[2021-06-07 21:49] peterharding commented on #18472
During an upgrade from `0.61 to `0.62`, I encountered a strange state where the packager would start, but would not create the bundle. None of the normal solutions worked for me, and it turns out I had a strange line in my `project.pbxproj` file:

`"GCC_PREPROCESSOR_DEFINITIONS[arch=*]" = "FB_SONARKIT_ENABLED=1";`

Removing this line solved the issue, hopefully this helps someone else save 3 days

[2021-06-07 22:34] PiN73 commented on #29709
I faced the same issue when doing Product -> Archive:

I tried to [remove](https://github.com/facebook/react-native/issues/29709#issuecomment-683395558) pods related to AccessibilityResources. But then I get [this](https://github.com/facebook/react-native/issues/29709#issuecomment-679371890) problem:

and running 'pod install' just restores deleted pods back.

---

I managed to fix the issue by mo

[2021-06-07 23:11] jlandrum opened #31680 "Some Unicode Languages Cut Off on Android when Wrapped in View"
## Description
With a unicode language (In this particular case, Tibetan) inside of a view inside of a scroll view, the text is cut off. This appears to be different than the previous issues solved by setUseLineSpacingFromFallback, or may be caused by it.

## React Native version:
System:
    OS: macOS 11.4
    CPU: (8) arm64 Apple M1
    Memory: 160.77 MB / 8.00 GB
    Shell: 5.8 - /bin/zsh
  Bin

[2021-06-07 23:47] jlandrum commented on #31680
I was able to fix this using:
`                <View
                  style={[styles.content, contentHeight > 0 && { height: contentHeight }]}
                  onLayout={(event) => setContentHeight(event.nativeEvent.layout.height)}

                Which hints to me that something else unusual is going on - the view is not sizing to the height of the content but the layout knows the proper heigh

[2021-06-07 23:52] ravi-poonia commented on #31369
@victoriaSh I decided to switch to `react-native-bootsplash`

[2021-06-08 01:52] ionansantos commented on #29123
![Captura de Tela (9)](https://user-images.githubusercontent.com/69859498/121110028-01679000-c7e3-11eb-84bf-96a94d450ecd.png)
 alguem sabe como resolver?

[2021-06-08 03:40] JNUfeatherwit commented on #29068
Any Solution?

[2021-06-08 09:56] kelset commented on #31671
👋 there - that's actually the expected behaviour as the version is the current latest for the CLI :) https://github.com/react-native-community/cli/releases

[2021-06-08 09:56] #31671 closed

[2021-06-08 09:59] rughvi commented on #30690
Facing same issue on MAC :
`npx react-native init myMobile --version="react-native@0.64.0" --template react-native-template-typescript`
Gives the error
[code]

`cd ./myMobile/ios && pod install`
will give
[code]

Anyone got around this issue on MAC?

[2021-06-08 10:02] Estevete commented on #26195
How did you manage this problem? Could you find a solution?

[2021-06-08 10:06] yanel777 commented on #31314
Confirming the issue. Took about 35+ min for build on ios. was 15-20 min. android also builds slowly (+5-7 min)

[2021-06-08 10:35] vcellu commented on #31658
Hello, thanks for the reply.  However, this is not the same issue.  The issue referenced fails to link.   In this issue it actually builds and links and it is successful if Hermes is not enabled in iOS.

[2021-06-08 11:38] maxoumime commented on #30502
👋 PR #31681 fixes this issue.

[2021-06-08 13:48] firstfloordigital commented on #26870
+1

[2021-06-08 14:03] captainIT opened #31683 "Process 'command '../../node_modules/hermes-engine/osx-bin/hermesc'' finished with non-zero exit value 5"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2021-06-08 14:04] captainIT commented on #31683
mac m1

[2021-06-08 15:36] luanccp commented on #28279
it doesn't work for me either.
@fabriziobertoglio1987 do you have some code examples?

[2021-06-08 16:24] putrantoz commented on #30096
@ps0305 thank you. my problem solved too

[2021-06-08 16:24] Natteke commented on #29915
still exist RN 0.64. tried nodejs 14 / 16. Watchman installed. OS BigSur. chip M1

ulimit -a:
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
file size               (blocks, -f) unlimited
max locked memory       (kbytes, -l) unlimited
max memory size         (kbytes, -m) unlimited
open files                      (-n) 524288
pipe size            (512 bytes, -p

[2021-06-08 16:52] AssimDelteil opened #31684 "Problem with scaling and onPanResponderMove"
## Description
Iam making a canvas Component that I can move with 1 finger and move/rotate/scale with 2 fingers.
My canvas's size is 200x200.
In the onPanResponderMove: (event, gestureState) function I use **event.nativeEvent.touches[<0 or 1>].location<X or Y>**
Printing those values gave me the expected ones (0x0 on top left and 200x200 on bottom right, regardless of the number of finger and the

[2021-06-08 17:26] aardvarkk commented on #30785
I ran into this problem recently. In my case it was triggered by a `<RefreshControl>` element that was just sitting in the component tree (as opposed to being the `refreshControl` prop of a `ScrollView`). After adding a `ScrollView` and passing the `RefreshControl` to it, the crash went away.

[2021-06-08 17:48] SamiChab commented on #30287
@avbeladiya what do you mean when saying `lib status should be optional (which works in all devices)` ?

[2021-06-08 18:50] MannySAD commented on #26619
the changes @mronline suggest is very different from the lines of code in my RCTStatusBarManager.m file. My react native version is: 0.63.4, the string fixes mentioned by @gpawlik in info.plist result in the same red error OP has shown. Although the app does not crash it is still unpleasant to be told its wrong.

[2021-06-08 20:40] IMaz6 commented on #31480
What a fucking shit show.

[2021-06-08 21:35] DracotMolver commented on #30206
I'm facing the a similar issue as @info-bit
I'm currently using my physical device with Android 10. In my case, when I show up a WebView, the change event is triggered. Then, after closing the app, the change event is triggered again, but this time in this infinite loop.

I'm using react-native: "0.63.4"
My code is something like this
[code]

My solution was to use the `focus` event. But, this won

[2021-06-09 00:28] yoojeen126 commented on #31480
Still build faild on RN 0.63.2, even clean react native project done.

[2021-06-09 01:12] bachhuberdesign commented on #31143
Saw this GitHub issue when searching for something else, and I figured I would clear this up. This actually has nothing to do with React Native and is just an issue/quirk with `adb` itself. The `&` character is not automatically escaped before it is passed to Java. You would notice the exact same issue by running

[code]

(Just as a note, uri-scheme is just a fancy wrapper around `adb` for Android

[2021-06-09 01:35] Mahern-13 opened #31685 "React-Native-CLI project breaks when adding react-navigation/native in android build"
<p style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(201, 209, 217); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; or

[2021-06-09 01:55] ramyma commented on #27649
I can see that skew style rules are still not working correctly on Android with RN `v0.64.2`.

Even the example provided on the [transforms documentation page](https://reactnative.dev/docs/transforms) doesn't work:

![anroid-skew-not-working](https://user-images.githubusercontent.com/14105815/121280142-1244fe00-c8d6-11eb-9a5c-eb8e084deefe.png)

However it works on iOS as described in the original

[2021-06-09 02:32] bachhuberdesign commented on #25675
Just a side note for those who have upgraded to React Native 0.64.x. We were still having the same issue, but needed to change the workaround others are using to

[code]

rather than

[code]

Seems to work fine after making said change.

[2021-06-09 02:58] gmonte commented on #29990
Do you find any solution?

[2021-06-09 05:43] gmonte commented on #31480
I created a new project from react-native cli today (react native 0.64.2) and the command `react-native run-ios` does not working.
[code]

Well, I tried run the project directly on xCode and it works! But running with react-native cli it fails again.
All solutions above does not fix this problem to me.

My environment:
MacBook Pro Intel - macOS 11.4
xcode 12.5 - iOS 14.5
react-native 0.64.2

[2021-06-09 05:50] fantasyado commented on #30148
This works for me.   But how can come up with this fix...

[2021-06-09 05:51] swizes commented on #30092
This issue needs attention. It does not allows us to release for staging and testing

[2021-06-09 05:54] brunobrante commented on #29396
Same !

[2021-06-09 05:59] silencer07 opened #31686 "WritableMap values can be arbitrarily changed in JS side, hence the next listener will received a modified value instead of the original values from Native Event"
## Description
WritableMap(and I should say WritableArray as well) are mutable on the JS side.

## React Native version:

0.64.1

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a Native event and fire it from native side. Ensure that you are passing a reference argument(like WritableMap or WritableArray). let's say that native returns { "a" : 1, "b": 1

[2021-06-09 07:04] seanim0920 commented on #30750
Hermes is the subject of this issue.

[2021-06-09 07:22] Delta93500 commented on #31684
Hello its me again.
I found a solution: put the scale in the state and scaling with height/width:200*this.state.scale instead of scale: this.state.scale
It give me the correct values

[2021-06-09 07:26] zatakiyanarendra12 commented on #30660
Is there any update on this?

[2021-06-09 07:46] radiosilence commented on #31480
Whenever I try to `pod install` it fails to install `glog`:

[code]

Enviroment: Macbook Pro M1
Cocoapods 1.10.1
Xcode 12.5
react-native 0.64.2

I've tried both in a Rosetta Terminal and a Native terminal and they both fail the exact same way.

[2021-06-09 07:55] ospfranco commented on #27384
I have noticed that pressing `R` `R` reloads the app on the latest react-native versions, same as on the android emulator, so maybe this is an intentional change.

**For those coming in nowadays**
In any case, so far the workarounds seem to be:

- `cmd` + `shift` + `z` to trigger the dev menu and then click on reload
- `r` `r` sometimes also does the trick
- `d` if the simulator is focused

[2021-06-09 07:55] jovyllebermudez commented on #21002
Fixed by using number not string.
like height: 100 and not height:"100px"

[2021-06-09 08:08] zmhweb opened #31687 "Task :app:compileDebugJavaWithJavac FAILED"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
run yarn android , Task :app:compileDebugJavaWithJavac FAILED

## React Native version:
Run `react-native info` in your terminal and copy the results here.
![image](https://user-images.githubusercontent.com/16442336/121317101-8d40ff80-c93c-11eb-87a0-4b93c0dca91b.png)

## Steps T

[2021-06-09 09:06] #31578 closed

[2021-06-09 09:16] SpookyUmi commented on #29507
Yep, still an issue

[2021-06-09 09:59] 61people commented on #28557
I found the cause of this issue.

prefetch method will call imageLoader's loadImageWithURLRequest method.
This method will set size to CGSizeZero and scale to 1 by default.
Image cache will use url string, size and scale to create a key for storage.
When you set Image's source, size is image's size, scale is screen's scale. So it will never hit the cache.
[code]

[2021-06-09 11:43] aashiriftikhar opened #31689 "React native dimensions bug"
## Description
Hello, I hope that you all are doing good.
I encountered a bug in the newest version of react native where Dimensions are returning same "width" and "height"
I tried on different devices with different sizes. The issue remains the same.
The issue isn't related to the "Dimension" class only but "useDimension" has the same issue.
## React Native version:
System:
    OS: macOS 11.0.1

[2021-06-09 12:46] auguyon opened #31690 "Bug with a part of my code that working in pure Js but not with RN"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
I'm using a code that works in pure js but return nothing in RN.
I had this bug with Expo, so I tried with RN and it got the same result.

## React Native version:
info Fetching system and libraries information...
System:
    OS: macOS 11.4
    CPU: (8) x64 Apple M1
    Memory: