[2017-02-23 14:42] simonjk commented on #12542
was there any change. it is working now for me including babylon 6.16

[2017-02-23 14:44] chapati23 commented on #12542
interesting, what os / node / react-native-cli versions @simonjk ?

[2017-02-23 14:47] hzoo commented on #12542
## Yes the workaround should be to pin to babylon@6.15.0

Ok I have to work, so going to revert the 2 PRs and do a patch.

[2017-02-23 14:48] dfischer commented on #12542
(sorry for OT) Well, if there's one thing to say it's interesting to see how many people are trying to get up and running with a tutorial. I just ran into this too. 👍  thanks for the quick response @hzoo

[2017-02-23 14:49] rizwanahmed19 commented on #12542
+1

[2017-02-23 14:50] jonrh commented on #10816
Thanks for the insights @ide, wasn't aware that was the case. As to my own case this issue has [been solved](https://github.com/josdejong/mathjs/issues/797#event-973269447) with v3.9.2 in math.js thanks to the swift response of the maintainers. Thank you all for your brilliant work in the React Native repo!

[2017-02-23 14:50] huxinmin opened #12545 "You can only use Class Properties when the 'classProperties' plugin is enabled"
I use react-native init preoject, and it failed and I dont know why:

├─ yallist@2.0.0
├─ yargs-parser@4.2.1
└─ yargs@6.6.0
Done in 338.50s.
G:\TestReact\node_modules\babel-core\lib\transformation\file\index.js:600
      throw err;
      ^

SyntaxError: G:/TestReact/node_modules/react-native/packager/react-packager/src/node-haste/index.js: You can only use Class Properties when the 'classPropertie

[2017-02-23 14:52] hzoo commented on #12542
Yeah @dfischer, really sorry this is the experience people get when starting out with react-native/javascript/open source. We make mistakes

[2017-02-23 14:52] mcmillan commented on #12545
Please see #12542.

[2017-02-23 14:53] huxinmin commented on #12545
I run this in windows and My nodejs version is v6.9.5,
react-native-cli: 2.0.1

[2017-02-23 14:53] dfischer commented on #12542
It's all good, I think it's cool how many people are reporting in. Good work @hzoo you rock!

[2017-02-23 14:55] ericnograles opened #12546 "React Native LTS on Roadmap?"
Hi RN team,

Sorry if this is the wrong avenue for this, but I figured it was worth a discussion.

As React Native matures, is there any thought of following an LTS cycle like Node.js, or is that simply not feasible in the immediate future due to manpower, technical reasons, etc?

Only reason I ask is because I am using React Native for client engagements (mainly larger enterprises), and while too

[2017-02-23 14:55] robdonn commented on #12542
@hzoo Actually I think this is a really good experience for new people because it shows how quickly a problem can get resolved in a well supported project.

[2017-02-23 14:56] hzoo commented on #12542
# Releasing v6.16.1 until we actually can get the time to figure this out.

Ok made a new patch release that just reverts the PRs that caused the issues.

If you need to you'll need to `rm -rf node_modules` and `npm install` again. You don't need to add babylon to dependencies if you did before if this fixes it.

[2017-02-23 14:57] futurechallenger commented on #12542
cool! @hzoo

[2017-02-23 14:58] zyhou commented on #12542
Good for me, it's work :)

Thanks @hzoo

[2017-02-23 15:00] IAmFledge commented on #12542
🎉 - Back in business!

[code]

[2017-02-23 15:02] kafkaca commented on #12542
Thanks @hzoo

[2017-02-23 15:02] #12542 closed

[2017-02-23 15:04] sunruh commented on #12542
@simonjk @chapati23 If the haste map has been generated once with a babylon version that's working and no change requires regeneration, it keeps workng even if you upgrade babylon again.

[2017-02-23 15:06] sdcooke commented on #11809
@astreet this fix has the same impact as reverting.

[2017-02-23 15:06] mlazari commented on #4302
@browniefed Sorry, I think my example was wrong and the switch inside the ListView is not changing because row data is not changing. If I change row data, it works fine: https://rnplay.org/apps/FfoVmg

[2017-02-23 15:09] simonjk commented on #12542
@chapati23 MacOS 10.11.6

react-native --version
react-native-cli: 2.0.1
react-native: 0.41.2

node --version
v7.4.0

had the problem first too but after a rm of the folder and a re-init it the problem was suddenly gone

[2017-02-23 15:12] astreet commented on #11809
@KakarN You'll probably need to wait until the next release of react native, or build the master version from source. We haven't yet released a new build that has this fix but I'll make sure we do soon.

[2017-02-23 15:17] KakarN commented on #11809
oK @astreet  Will be waiting for it. Thanks again.

[2017-02-23 15:18] madwed commented on #12544
Ah, I figured out the solution. I was incorrectly writing `RCTLinking` in the podfile, which prevented me from linking `RCTLinking` there. Changing that to `RCTLinkingIOS` as specified in the podspec fixed the issue.

[2017-02-23 15:18] #12544 closed

[2017-02-23 16:11] desmond1121 commented on #12536
You can build your android sdk from source (see [Building React Native from source](http://facebook.github.io/react-native/docs/android-building-from-source.html)), it would be a gradle module of your project then change okhttp version by yourself.

[2017-02-23 16:12] jeroenbourgois commented on #12542
@hzoo @grabbou and everyone involved: thanks! Amazing how fast this was resolved!

[2017-02-23 16:13] SvetlanaBarros commented on #12514
Hi @brentvatne,

I noticed this morning that i was in a different network than my collegue @brodeuralexis. I switched from the network i was on and i had no longer the error, the simulator runs the app with no problem.

Thanks for your help anyway

[2017-02-23 16:19] steveccable commented on #12525
@brentvatne I'm not sure I understand.  Are you saying the issue is that it SHOULD take a node and doing so doesn't work for some reason, or that it SHOULDN'T take a node but currently accepts a broader type than it should?
The link you put makes it seem more like the latter, but that would indicate to me that it once worked and was intentionally taken out without updating the propTypes in TextInp

[2017-02-23 16:42] brentvatne commented on #12525
It should not take a node. I was saying that it is possible that Facebook internally has an implementation that supports nodes for placeholders, but the OSS version only supports text.

[2017-02-23 16:44] brentvatne commented on #12545
@huxinmin - as @mcmillan pointed out, #12542 seems to solve this problem

[2017-02-23 16:44] #12545 closed

[2017-02-23 16:45] kirkstrobeck opened #12551 "Jest coverage is throwing packager errors"
- How do I ignore the coverage directory from packager?
- How is it getting included?

[code]

[2017-02-23 16:47] brentvatne commented on #12541
Please google these types of questions first, it was easy to find an answer:

http://stackoverflow.com/a/38308037/659988
http://stackoverflow.com/questions/4740382/will-an-app-continue-to-work-if-my-provisioning-profile-expires

[2017-02-23 16:47] #12541 closed

[2017-02-23 16:48] #12536 closed

[2017-02-23 17:06] seanadkinson commented on #12163
Using `react-native@0.39` was able to get access to a working `Perf` using:

    var Perf = require('ReactPerf');

After measuring, it seems to be displaying useful information in the console using `Perf.printInclusive()`.

[2017-02-23 17:53] meno1 opened #12553 "FlatList does not render items when its count is < numColumns"
The fix:  https://github.com/facebook/react-native/pull/12552

[2017-02-23 18:14] steveccable commented on #11721
The underlying issue is that the sub-projects like RCTVibration, RCTWebSocket, etc all depend on things in the React project, but do not have it as a build dependency, so it is possible for them to try to build before the things they depend on have built.

I actually found that if you make the React project a dependency of all the other RCT* sub-projects, you can turn parallel builds back on and i

[2017-02-23 18:54] LucasSouzaa commented on #11610
Did you solve your problem?

[2017-02-23 19:47] ide commented on #12546
There was some discussion of LTS awhile ago and the conclusion was that moving from two-week releases to monthly releases (to address some issues with the fast release cycle) was the best solution when considering the maintenance costs. There would need to be enough of the largest consumer-and-contributors of RN to be willing to maintain an LTS branch and one hasn't emerged. Since an unmaintained

[2017-02-23 19:50] ericnograles commented on #12546
Makes sense, thanks for the clarification @ide.  I'm hoping with a bit of advocacy we can get to that point, and I'd definitely be willing to help move that forward.

[2017-02-23 19:50] #12546 closed

[2017-02-23 20:07] jackdweber commented on #2560
Do you have your styles for this navbar? I've been trying to style mine but it is not listening.

[2017-02-23 20:24] jaredly commented on #6303
@brentvatne bump :P this is totally basic for having sane integration with an existing app

[2017-02-23 22:08] ksegla commented on #11809
@ming436534 : aah. that was exactly my issue. Bil lag after 50-100 components (with external images) The press is acknowledged immediately (I can see it with a console log) but it would take 3-4 (or more) seconds before displaying what it is supposed to. I really hope @astreet 's fix solves it and makes it to 0.42. Otherwise, I'll revert to 0.38 :(. I can't wait much longer before launching the ap

[2017-02-23 22:16] RyanMitchellWilson opened #12555 "ListView renderSeparator rendering a separator under the last element in list"
Whenever I use the renderSeparator prop on a ListView it keeps rendering a separator under my final element which it should not be doing.

* React Native version: 0.41.0
* Platform: Both

[2017-02-23 22:20] RyanMitchellWilson commented on #103
I'm using React Native 0.41.0 and getting the same problem that @proteye mentioned for React Native 0.35.0.
Is this being worked on yet?

[2017-02-23 22:49] ide commented on #12555
It might be doing this because that's what iOS does. You could maybe make your renderSeparator function conditionally return null if it's for the last cell.

[2017-02-23 22:50] ryanhomer commented on #11655
@sahrens Thanks for testing on your end. For me, it turned out to be something I added to my `.flowconfig` to solve an issue that worked at that time (see #11099) but has since caused the issues I was having; it doesn't seem to be needed by flow anymore anyway so I was able to simply remove it.

[2017-02-23 23:24] julesmoretti commented on #5054
`react-native upgrade` ... took me a while to resolve it :/

[2017-02-23 23:26] janicduplessis commented on #12453
Ok, I'll try to figure out why this happens, in the meantime using an extra view seems like an ok workaround.

[2017-02-23 23:27] alioguzhan commented on #11610
@LucasSouzaa No. i rewrote my own Android Webview App with my custom bridges and configuration. And replaced moved from react native to react for now. No one interested this issue so far :/

[2017-02-23 23:33] RyanMitchellWilson commented on #12555
Ya I could do something like that but I feel as though in pretty much any case that you would want to separate something you would only want it between your items and wouldn't want anything trailing. When you see the word separate you'd assume it is splitting two things up, so having this named 'renderSeparator' is misleading if it just puts something under every single list item. In the case that

[2017-02-23 23:38] ide commented on #12555
The reason not to make it part of the component is that when a cell is pressed, you usually want to change the styling of both adjacent separators, not just the one below, hence why the renderSeparator API was introduced.

[2017-02-23 23:55] RyanMitchellWilson commented on #12555
Yes that is all good, but that doesn't change the fact that you don't want a trailing element. Just for an example if you look at the right side of this page you see a separated list but there is no trailing line under the participants. In almost all cases that someone would want to separate a list they probably want it looking something like that.

[2017-02-24 00:03] manask88 opened #12556 "WebView doesn't redirect successfully"
### Description

I used the WebView component in RN 0.41.2

### Reproduction

1. Load a page that contains a form with a submit button.
2. Click on the submit button.
3.Page should be redirected after this, but the Location response header that comes form the server is not being process correctly.

I did the same test in a desktop browser and a mobile browser. In both cases, the page was redirecte

[2017-02-24 00:09] booboothefool commented on #7495
Hey @greyvugrin,

Thanks for the big tip about the permissions. I think that's what I was missing. After implementing https://github.com/lucasferreira/react-native-android-permissions (I prefer this API over https://facebook.github.io/react-native/docs/permissionsandroid.html), it seems to work for everyone now.

My app went from 1 star on the Google Play Store to 3.6, hahaha! 👍

[2017-02-24 00:11] ide commented on #12555
That's true on webpages, looking at mobile though it seems to be the common case ex: the messages app.

[2017-02-24 01:04] greyvugrin commented on #7495
@booboothefool that's such great news, glad to hear it!!!

[2017-02-24 01:09] nhayfield commented on #12070
@brentvatne What if its for your own server

[2017-02-24 01:10] srhise commented on #11702
Is this available in RN yet?

[2017-02-24 01:16] rhysburnie commented on #12539
After trying system reboot etc I also tried importing the file both ways under two variable names so I could see what is being returned:

`index.ios.js`:

[code]

Result:

AppImport1 (the failing import)
[code]
- no idea where the build system is getting that from its clearly not in the `./app/index.js`

AppImport2 (correct but requires full path which you should never need in node ie. `./app/inde

[2017-02-24 01:18] nhayfield commented on #12261
@thatjuan I got lucky and merged it right the first time. I agree its a pain. What I did was look for duplicate hashes and merge them by hand. If I didn't see a duplicate then I would just include both. Seemed to work. I really took my time and read through the code though.

[2017-02-24 01:22] nhayfield commented on #12129
maybe remove all your components and add them back one at a time till you see which one causes the issue.  i found that some of the libraries haven't been updated to be compatible and some have pull requests to fix it which you can use instead of the library itself until the fix is merged in.

[2017-02-24 01:26] nhayfield commented on #12436
i had good luck with this one: https://github.com/wkh237/react-native-fetch-blob

[2017-02-24 01:46] HernanAA commented on #1167
As @tje3d  said before, I made those 4 steps and also I ran " gradlew clean".
One thing more: my font file is called "Lato-Bold.ttf" so I had to use {fontFamily: 'Lato-Bold'} to make it works instead of {fontFamily: 'lato-bold'} as I read in some pages. So I had to use the fontFamily as it called.
Thank @tje3d !

[2017-02-24 02:16] computerjazz commented on #12440
I was able to get around the error by calling `jest.unmock('ScrollView')` before my test

It has something to do with Jest automatically mocking ScrollView, which WebView needs to validate propTypes in WebView.ios.js:
 `decelerationRate: ScrollView.propTypes.decelerationRate,`

I'm still getting a console.error of ` Warning: Stateless function components cannot be given refs (See ref "webview" in

[2017-02-24 02:17] liyanxi commented on #8868
@cyprusglobe
Thanks for your help.
This pit is good!

[2017-02-24 02:23] LitbLeo commented on #11389
@karpoff  Thanks!

[2017-02-24 02:31] litingjun2015 commented on #11016
I can reproduce it:

[code]

[2017-02-24 03:14] pannz commented on #8522
that is the because of the font
use the default system font, Chinese character and English character even the Number are not in same alignment
so when they in same line and same <Text /> components, the render result will not be centered!

You should found the FONT that the two kind of character render the same alignment

[2017-02-24 03:22] demonhunterunderdarkness opened #12557 "when onScrollEndDrag with DrawerLayoutAndroid , bug occurs"
After Invoke onScrollEndDrag event and scrolltoend,BackAndroid listener doesn't listen to back button when DrawerLayoutAndroid opened and click back button.
If I use onPress with text as a external switch to drag scrollview instead of listening on onScrollEndDrag event,it works.it's wired!
Well, my version info:
react-native 0.41.0
anyone encounters this error? please give me a favor, thanks in ad

[2017-02-24 03:47] Swordsman-Inaction commented on #12214
It's not related to React Native. It's a connection issue between `adb` and `devices`. Try [this](http://stackoverflow.com/questions/26213954/how-to-solve-adb-device-unauthorized-in-android-adb-host-device)

[2017-02-24 04:06] Swordsman-Inaction commented on #11665
![image](https://cloud.githubusercontent.com/assets/12252463/23290151/a8239262-fa89-11e6-9155-e7fdc5253731.png)

Try to uncheck `Configure on demand`.

[2017-02-24 06:02] DaniAkash commented on #10027
@pietgk's solution worked for me

[2017-02-24 07:10] huangcheng1 opened #12558 "DevMenu"
when i use devmenu to debug, i found when i open many rootview , shake device ,will open many devmenu . but i want just open one .
be more easy , i want modify the bridge showshake property , but when i modify in other place ,will update , because RN use userdefault save . so can't just one to one save?

RN 0.39.2

[2017-02-24 07:18] s2zaman opened #12559 "Could not expand ZIP 'C:\Users\MyUser\AppData\Local\Android\sdk\extras\android\m2repository\com\android\support\appcompat-v7\23.0.1\appcompat-v7-23.0.1.aar'."
[code]

Getting this issue while building for **Android only.**
The Android SDK directory has **full permissions**.
My app's directory has full permissions, including the node_modules.

**I have**
[code]

Any one faced this issue so far ?

[2017-02-24 07:26] s2zaman commented on #12559
Unfortunately i have posted it in the `react-native-fabric` [react-native-fabric/issues](https://github.com/corymsmith/react-native-fabric/issues).
Can't continue a duplicate thread here, so better to visit that **fabric repo**, for its solution.
This issue is **SOLELY** related to **`react-native`**.

Got it resolved.
Have a look at [react-native-fabric/issues/107](https://github.com/corymsmith/r

[2017-02-24 07:26] #12559 closed

[2017-02-24 07:43] emilsjolander commented on #11702
Yeah :) in master at least.

[2017-02-24 07:57] richmonkey commented on #7221
Still exists on 0.41.2.
any plan to fix it ?

[2017-02-24 08:29] YouHan26 commented on #12155
I came the same problem. `react-native run-ios --variant=release` show error : `unknow option --variant`. Any advise?

[2017-02-24 08:53] Venryx commented on #11336
Had the same issue, and also fixed it using solution by Kaishlet above.

[2017-02-24 09:28] JonoH commented on #11561
Same issue my side.

[2017-02-24 09:40] liu-jian-neu commented on #10511
any update?

[2017-02-24 09:42] jimzhao2012 commented on #5399
@njafei unbundle is not a good design, too many small files in output bundles.
it's very easy to split main.jsbundle to base.bundle.js and business.bundle.js, but you need modify the native code for RN to load different parts.

[2017-02-24 09:50] Richard-Cao commented on #5399
@mc-zone Amazing!

[2017-02-24 09:56] #10511 closed

[2017-02-24 10:36] retailos opened #12561 "Build fails when using new scheme in Xcode"
### Description
When creating a new scheme in xcode, the react-native project fails to build with the error "React/RCTBundleURLProvider.h file not found"

### Reproduction
I created a new react-native project with react-native init. This is installing version 41.2.
I open the project in xcode and under info > configurations created a new build configuration. (duplicating the release config).
I cre

[2017-02-24 11:31] radko93 commented on #11825
Probably this is related? https://github.com/facebook/react-native/issues/3042

[2017-02-24 11:45] diegorodriguesvieira commented on #5859
This bug still happens on iOS version 9.6 (iPhone 4S)
![image](https://media.giphy.com/media/3o84TSWWRQWKMHceRy/giphy.gif)

[2017-02-24 12:43] himelnagrana commented on #8237
Having the same issue while working with Urban Airship APIs. Frustrating as UA supposed to be not changing at their end. What to do?

[2017-02-24 12:54] selcute opened #12562 "[Android] Multiple app instances on first run"
Hi. I've just experienced weird thing using react native. When I run command react-native run-android (can't test on iOS) app runs ok, when I press Home button and run it again using app icon, app creates second instance, and doing it again creates +1 instance.
After killing this first-run app makes the problem disappear - next run and doing same thing makes the app back to its instance.
So first

[2017-02-24 13:42] srhise commented on #11702
Nice, I'll check it out.

Thank you!

Sean Hise

On Fri, Feb 24, 2017 at 2:44 AM, Emil Sjölander <notifications@github.com>
wrote:

[2017-02-24 14:09] heatnode commented on #11721
@steveccable I can confirm your steps worked in my case. I went from RN 0.36 to 0.41 and resolved the dependency issues following your steps. Thanks for posting that. It was tedious, but it worked.

[2017-02-24 14:55] jinxac opened #12563 "A border appears at the bottom of RefreshControl on pulling for refresh"
### Description

I was using refresh control for refreshing data in my app from the server. But apparently with a background color I see that the when i pull down to refresh a border appears at the bottom but as soon as I go up its gone again.

### Reproduction

I have created a sample app on react native [here](https://rnplay.org/apps/C4k0Lw) . Now if you pull the screen down you would see a line

[2017-02-24 16:07] Freddy03h commented on #11915
Answer from Yoga's contributor.

[2017-02-24 16:23] RyanMitchellWilson commented on #12555
That looks more like a bottom border to me, but if your feeling strongly enough the other way, I will concede

[2017-02-24 16:54] austincline09 commented on #10765
I added style={{flexGrow: 1}} to my <KeyboardAvoidingView> and it seemed to fix the white space issue when I hide the keyboard

[2017-02-24 17:21] booboothefool commented on #12512
Hi, I do not know how to interpret this data. Does this look normal to you guys?

(before and after scrolling an infinite list of user pictures)

![screen shot 2017-02-24 at 12 20 29 pm](https://cloud.githubusercontent.com/assets/13257645/23313464/d32d24c6-fa8b-11e6-98e8-3b66920e7f38.png)

[2017-02-24 17:35] hramos commented on #12558
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Does this reproduce on the latest version of RN? Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I a

[2017-02-24 17:35] #12558 closed

[2017-02-24 17:37] hramos commented on #12562
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-02-24 17:37] #12562 closed

[2017-02-24 17:38] hramos commented on #12557
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-02-24 17:38] #12557 closed

[2017-02-24 17:40] jasongrishkoff commented on #12512
Wow, yours is using an incredible amount of memory -- but still shows the same trend that I'm experiencing.  One thing I see at an extreme level on yours is the # of Views.

[2017-02-24 17:47] timscott commented on #505
I'm stuck.

I started with the HTML file in the same folder as the component. This worked fine in development.

[code]

But when when I build for release.

[code]

It fails.

[code]

So I moved the html file and the changed the source property.

[code]

But now, though WebView renders, the injected script doesn't run. It's the same script that was working before.

[2017-02-24 17:48] sahrens commented on #12512
@booboothefool that's with FlatList? Something is definitely broken there. Sample code would be helpful.

[2017-02-24 18:03] steveccable commented on #12525
PR created and linked just above this comment.

[2017-02-24 18:30] dabbott commented on #12518
@pavankat I can't reproduce this, `flex: 1` shows up for me. Are we doing anything differently?

![screen shot 2017-02-24 at 10 28 27 am](https://cloud.githubusercontent.com/assets/1198882/23315693/28c443c0-fa7c-11e6-8011-a6dccbff3e81.png)

[2017-02-24 19:38] RiaParshina commented on #7308
**:CFBundleIdentifier** error means that you version of Xcode does not support some of the features, which react-native provides (as an example, carplay).
First of all, make sure you are using the **latest version of Xcode**, when you use the latest version of react-native.
Second, install **yarn**. It will improve the management of your modules.
If you have node and npm installed, uninstall them

[2017-02-24 19:52] iroshanAV commented on #12214
@Swordsman-Inaction At last an answer :)

[2017-02-24 19:52] #12214 closed

[2017-02-24 20:10] adriancuco opened #12570 "pushnotificationios remote push notification custom fields"
### Description
Hi,
I am trying to pass a custom parameter to remote push notification as follows:
{
  "aps":
  {
    "alert": "News!",
    "sound": "default"
    "myurl" : "https://raywenderlich.com",
  }
}

Please advise the way to get myurl parameter sent by Remote Push notification.

Thanks a lot

* React Native version: 0.41
* Platform: iOS
* Operating System: MacOS

[2017-02-24 21:00] brentvatne commented on #12561
Hello! Please post this to StackOverflow :)

[2017-02-24 21:00] #12561 closed

[2017-02-24 21:17] brentvatne commented on #12539
This issue is a little bit confusing, can you post an example project that repros it?

[code]

[code]

This works exactly as expected. I imagine you probably forgot to add the function wrapper around the second param in AppRegistry.registerComponent, so it invoked the functional component and returned the result, which is the result of rendering, rather than the component itself.

Feel free to cre

[2017-02-24 21:17] #12539 closed

[2017-02-24 21:19] brentvatne commented on #12518
Thanks for investigating @dabbott!

[2017-02-24 21:19] #12518 closed

[2017-02-24 21:20] brentvatne commented on #12510
I am closing this issue because it is a dup of #8607

[2017-02-24 21:20] #12510 closed

[2017-02-24 21:22] brentvatne commented on #12529
Hello! The react-native 0.29 is very out of date, can you try to repro this in the latest version?

[2017-02-24 21:22] #12537 closed

[2017-02-24 21:23] brentvatne commented on #12570
Hello! Please post this to StackOverflow.

[2017-02-24 21:23] #12570 closed

[2017-02-24 21:25] JAStanton commented on #12529
Oh I'm sorry I meant to say `0.39.2`

[2017-02-24 21:27] iboxgithub commented on #10188
Thank. You. So. Much.
Hey, Facebook, don't you think it might be good to fix this? You have a lot of people using React native on Ubuntu!

[2017-02-24 21:47] icnovaro opened #12573 "The debugging with stetho documentation is not updated apparently."
**Description**

The **onCreate** showed in the react-native debugging with stetho page is different that the showed in github.

[code]

[code]

**Reproduction**

I'm new in react and I was trying to debug my app with stethos but I was having errors by following the react page instructions, but when I used the github onCreate method my debug works!.

**Additional Information**

React Native versio

[2017-02-24 21:48] ericvicenti commented on #10188
@iboxgithub, what is the fix? Would you mind submitting a pull request for it?

[2017-02-24 21:54] jameszonk commented on #11821
Wrapping TextInput with View component fixed this issue for me

[2017-02-24 22:09] sakulstra commented on #11657
we've currently a usecase where we want to synchronize multiple scrollViews... a scrollView callback would be pretty neat to handle unbouncing

[2017-02-24 22:55] zachrnolan commented on #5047
@KiraNavarro Did you ever find a solution for this? Running into the same issue.

[2017-02-24 22:56] rodrigopivi commented on #10525
I'm also experiencing this issue on android listview, using a `listView.scrollToEnd({ animated: false });` works fine on iOS, but fails at android.

Btw seems like nobody is assigned to this issue.

[2017-02-24 23:52] iboxgithub commented on #10188
Hi, actually I just used the workaround, that's why I let a message for FB devs.
this worked for me by just running it in my terminal (Ubuntu)
`echo fs.inotify.max_user_watches=582222 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

[2017-02-24 23:54] iboxgithub commented on #10188
Ha... you are a FB dev...my comment looks weird now :1st_place_medal:

[2017-02-25 00:10] fadookie commented on #4968
@davidaurelio @mkonicek I believe I have tracked down a consistent repro case. Give the instructions here a shot: https://github.com/fadookie/react-native-issue-4968

[2017-02-25 01:24] ericvicenti commented on #10188
Maybe you could add this workaround to the troubleshooting page?

http://facebook.github.io/react-native/releases/next/docs/troubleshooting.html#content

[2017-02-25 01:34] SudoPlz commented on #11659
Or

[code]
for the ones that use the airbnb eslint configuration.

[2017-02-25 01:40] kasuboski commented on #10925
@shahbhavir Can you add what your folder structure looks like?

[2017-02-25 03:04] glcrazier commented on #12454
@hirande Well, for dev server, check react and react native versions in package.json. For your application, check react native library version.

[2017-02-25 04:29] booboothefool commented on #12512
The previous screenshot was with `ListView` and my full app. It took a while, but I stripped down the code a lot to make this using `FlatList`, which includes getting rid of my images and just rendering text. I did notice a minor performance improvement. It's like my app slows down to the point where it's annoying, but it doesn't slow down to the point where it's completely unusable.

Here are the

[2017-02-25 04:39] booboothefool commented on #12512
The previous screenshot was with `ListView` and my full app. It took a while, but I stripped down the code a lot to make this using `FlatList`, which includes getting rid of my images and just rendering text. I did notice a minor performance improvement. It's like my app slows down to the point where it's annoying, but it doesn't slow down to the point where it's completely unusable.

Here are the

[2017-02-25 04:51] kazimmusani opened #12574 "use mutliple events in single scene"
Hi,

i have multiple screens and i want to use both in single scene, is that possible ?

Screen1: Screen2

<Router>
    <Scene rightTitle="Add" key="DataList" component={Screen1, Screen2} hideNavBar />
</Router>

[2017-02-25 07:04] sanketsahusoft commented on #5917
It works well with this .babelrc plugin:
https://reactnatve.wordpress.com/2016/06/16/alias-in-react-native/

[2017-02-25 07:09] Obooman commented on #1964
+1

[2017-02-25 09:04] Chathula commented on #12289
i also faced this problem

[2017-02-25 09:17] pamler commented on #5944
I have got the same problem, please help~
RN: 0.39 Android
![image](https://cloud.githubusercontent.com/assets/3872791/23329940/18f642f6-fb7e-11e6-8cd8-99f33f460753.png)

[2017-02-25 09:57] devinhu opened #12577 "RN okhttp okhttp-ws not compatible"
My project is useful to okhttp, I upgrade the okhttp version to the latest version of 3.6.0. but RN need to use okhttp-ws, the latest version of okhttp-ws 3.4.0 is not compatible with the latest version of okhttp, please help to solve this problem，thanks!

[2017-02-25 10:26] iboxgithub commented on #10188
Done, with some explanation in order to understand why this happens, let me know if it is ok

[2017-02-25 12:01] santhosh77h commented on #11389
@karpoff I did that still i'm getting the same error
But if i run using debug  js remotely it works fine

[2017-02-25 12:03] rgoldiez commented on #12046
I think the problem is that you're passing in an array (vs. an object/collection) to your cloneWithRows.  ListView.DataSource isn't smart enough to know which (in your case) non-keyed row has prior state; when you update your datasource, you're getting a full replacement.  If you try this with a object/collection, I think you'll get the results you're looking for.

Something like this `const initi

[2017-02-25 12:47] orta commented on #388
There is a PR which addresses this here: https://github.com/facebook/react-native/pull/11932

[2017-02-25 14:30] stonecold123 commented on #4105
Cntrl-m isn't working on linux

[2017-02-25 14:40] pulpfree commented on #1831
Here's a simple way to get started now with FlatList for anyone dealing with this: https://hackernoon.com/react-native-new-flatlist-component-30db558c7a5b#.xnp03gd2u

[2017-02-25 15:20] K-Leon commented on #12223
For me it's triggered if i'm transitioning towards a scene that contains an visible modal that is shown on render.

[2017-02-25 15:24] K-Leon commented on #12223
The only significant change i observed between .41 and .42 is this one: https://github.com/facebook/react-native/commit/f33f84e75f1957f381e34bc99a902b9c324db6fa

Could this be related?
@shergin

[2017-02-25 15:41] peternann opened #12579 "iOS doco on 'Native Modules' is unclear on passing back JavaScript objects"
### Description

I'm developing an iOS Native Module integration, and found the documentation lacking/erroneous(?) in detail for creating objects for callbacks to javascript.

**Cutting to the chase: Shouldn't the iOS Native Module examples show the creation of a JavaScript object (for callbacks) as an NSDictionary?**

### Details:
Where a callback is shown in the examples here: https://facebook.g

[2017-02-25 16:29] anuragdadheech commented on #11506
I was facing it in 0.41 for 2 reasons. Thought I 'd share so it can help somebody. To fix it, I

- Wrapped `ListView`s and `ScrollView`s within a component and set `style={{flex:1}}` to that component
- Made sure `flex: null` or `flex: undefined` was not set anywhere. In my case, this was happening in a progressBar where I was giving `flex: calculatedValue`, where `calculatedValue` was undefined i

[2017-02-25 16:44] rusfearuth opened #12580 "We just tried to add listener, you won't believe what happens next"
### Description

I'd decided to add `PermissionListener` to `ReactActivity#requestPermissions`. Android Studio showed me that `PermissionListener` was missing in `com.facebook.react:react-native:+`. I dived deep and found that `react-native` for Android is **v0.20.1** and it didn't have a lot of interfaces, classes and etc. How could it be possible? Why is ReactNative 0.41.2 in Github and 0.20.1 i

[2017-02-25 16:49] MorrisDa commented on #11389
Me too, same error

[2017-02-25 16:58] shergin commented on #12223
@K-Leon It is very unlikely, IMO. Could you please locally revert that (f33f84e) commit and test again?

[2017-02-25 16:59] jamesisaac opened #12581 "Wrapping a view in TouchableOpacity breaks alignItems:'stretch', but only in flexDirection:'row'"
### Description

The docs for `TouchableOpacity` state that it changes wrapped view opacity "without actually changing the view hierarchy", so I'd expect it to not have an effect on flexbox layout.

However, I'm unable to create a row of items that match the parent's height if some of them are wrapped in a `TouchableOpacity` - as soon as they get wrapped, they no longer stretch, and just match the

[2017-02-25 17:42] rgoldiez commented on #12411
@magicismight - How did you resolve this?  I'm seeing the same thing `{"isTrusted":false}`

[2017-02-25 18:14] ericwooley commented on #4968
For anyone else who made it through this whole thread with nothing working,

I got it to work by importing like this:
[code]

[2017-02-25 19:07] pgarciacamou commented on #11721
@steveccable please keep us posted if you do create a PR.

[2017-02-25 19:28] krzysztofp commented on #10845
Same problem here, I'm using 0.40.0 on Android.

[2017-02-25 19:56] K-Leon commented on #12223
@shergin Sorry for the wrong ping! You're absolutely right.

i did a git bisect of the whole release and the offending commit is https://github.com/facebook/react-native/commit/407973ab27212616cdfac4509875beb6d20c1222
@cailenmusselman Could you look into it? To resolve this i deleted the elevation part locally and it works perfectly again.
Is there some polyfill missing in chrome debugger to suppo

[2017-02-25 20:32] kirkstrobeck opened #12582 "Jest coverage is throwing packager errors"
### Description

#### What I did

I added Jest to my project and started generating code coverage reports, which creates a folder named "coverage" at the project root.

#### What you expect to happen

I expected nothing to happen with the code.

#### What actually happens

Packager is looking at it for some reason, and it is causing an error.

[code]

### Reproduction

Having trouble reproducing.

[2017-02-25 20:41] zachrnolan commented on #5047
Figured it out. In case anyone else has the same issue just use the following:

[code]

This is the only way to get the URL when the app is starting fresh.

[2017-02-25 21:04] vigzmv opened #12585 "Docs: Missing step in Getting Started"
### Description

Missing command ```react-native start``` to start the packager in the Linux-Android section.

The page at [Getting Started](https://facebook.github.io/react-native/docs/getting-started.html) for Linux Android has a step missing. i.e ```react-native start``` without which the bundler won't start.

This step is mentioned in Windows sections but not in Linux Section.

### Solution

#

[2017-02-25 21:07] jamesisaac commented on #12581
Ok, turns out the root of my issue was out of date docs, submitted a PR here: #12583

However, I can't help but feel the current approach is a bit inconsistent?  Out of the 4 current `Touchable*` components, 1 is wrapped in a `View`, 1 is wrapped in an `Animated.View`, and 2 are cloned elements?  So for them to be at all interchangeable inside layouts, custom wrapping logic is needed.

Also, even

[2017-02-25 23:17] hamidhadi opened #12586 "App is crashing on Launch Screen"
When I'm testing my app on develop mode, everything is ok, but when I'm sending a test flight version of my app to the app store my app is crashing at Launch Screen and I have to open the app from recent list of iPhone.
I really don't know what is my problem and how can I fix that.

[2017-02-25 23:31] chrisz100 opened #12588 "Element type is invalid after upgrading to 0.42.2"
### Description

After upgrading from react-native 0.42.1 to 0.42.2 I get the following error:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`

I am using the following two libraries: react-native-router-flux and react-native-maps

The maps are not active and the error appears right after launch. I tried deactiv

[2017-02-25 23:37] anton-matosov commented on #1093
I have implemented embedding of jsbundle in #12587

[2017-02-26 00:09] #12588 closed

[2017-02-26 00:09] chrisz100 commented on #12588
Inclusion error, please see as resolved.

[2017-02-26 00:17] kevindavis commented on #8890
adding lc++ to the other linker flags worked for me

@akshay2604 : in the xcode project navigator (leftmost option in the sidebar), select the project - the topmost item in the hierarchy

there should be a dropdown in the top left that lets you select the target - select the test target,  and navigate to 'build settings' > 'all' .. you should see a 'other linker flags' line that you can add an ite

[2017-02-26 00:18] alejandronanez opened #12589 "Crash on start. babelHelpers.asyncToGenerator is not a function"
### Description

I just created a new RN project using `react-native init Foo`

### Reproduction

Immediately after running `react-native run-ios` I got this error:

![screen shot 2017-02-25 at 7 15 54 pm](https://cloud.githubusercontent.com/assets/464978/23335964/1f9b884e-fb8f-11e6-9113-557fa1de7df7.png)

### Additional Information

* React Native version: 0.41.2
* Platform: iOS (Haven't tried on

[2017-02-26 00:31] alejandronanez commented on #12589
Oh well, I'm not facing this anymore. Maybe I just got a hanging process that was messing up with my project.
Thanks!

[2017-02-26 00:31] #12589 closed

[2017-02-26 02:09] sunxfancy commented on #11927
Same problem on HUAWEI Mate 8 (Android 7.0)

[2017-02-26 02:28] percyteng commented on #12289
React Native version: 0.38.0
IOS

It crashes my app right after I open it

[2017-02-26 02:48] petermikitsh commented on #1167
I'm having some issues getting custom fonts working on Android (however, it works fine on iOS).

- I've installed my fonts in `./android/app/src/main/assets/fonts`:

<img width="266" alt="screen shot 2017-02-25 at 6 39 35 pm" src="https://cloud.githubusercontent.com/assets/1571918/23336610/ca44bbc2-fb89-11e6-85aa-1dcb9c7b7c4b.png">

- My project uses an abstract `CustomText` wrapper component, to

[2017-02-26 03:07] rhysburnie commented on #12539
@brentvatne nope did not forget function wrapper.

`index.ios.js`

[code]

`./app/index.js`

[code]

The project started via `react-native init TestProject`. Only those two files created / edited can't be any simpler than that.

As stated unless the full index path used the default isn't imported instead it is an object instead of the expected component

If I inspect what is imported using `import

[2017-02-26 03:14] wrell commented on #12520
:+1:

Does anyone have a workaround for this? Being able to change state on `onValueChange` is pretty crucial.

[2017-02-26 03:19] WaffleStudios commented on #12520
@wrell Currently my workaround is that I moved the onValueChange code to a button that fires it onPress and save the selected value to state.  This prevents any bunk submissions.  Obviously, this may not be a workable solution for everyone, but it's better than nothing.

[2017-02-26 04:04] Blue-Lan commented on #9566
@tiaaaa123
@dsibiski workaround does work on RN 0.40 for me.
I think some better solutions without modifying native library should be conceived,
or it will be painful every time I upgrade RN to a new version.

[2017-02-26 04:07] lucianomlima commented on #12457
@aakashrai1 Not work for me.
Never show the ShareDialog and in log I receive the message:
`ReactNativeJS: 'shareImage has been cancelled', ''`

Here is FBShareDialogModule.java
[code]

[2017-02-26 04:27] mattbierner opened #12590 "Packager: Transform Times Out on Large Json File"
### Description

Try to require a large json file, such as that found in the [cmu-pronouncing-dictionary](https://www.npmjs.com/package/cmu-pronouncing-dictionary) module

### Reproduction

[code]

Here's the actual 4.5MB file: https://raw.githubusercontent.com/zeke/cmu-pronouncing-dictionary/master/index.json

I also tried changing the json to a regular js module but hit the same issue. Here's th

[2017-02-26 04:36] rhysburnie commented on #12539
Further to this - if I copy the `./app/index.js` file and use the same content in a subdirectory `./app/subfolder/index.js` and then import from there `import App from './app/subfolder';` then it works perfectly fine. File content exactly the same - makes no sense.

[2017-02-26 05:25] nthtran commented on #6139
Did #8111 really fix this? Still having this issue on 0.41.0 (Exponent 14.0.0). Does anyone else have it?

[2017-02-26 05:46] mattbierner commented on #12590
Actually this does not seem specific to json. I converted the file to js by prefixing it with `export default` but still ran into this issue.

[2017-02-26 06:21] ide commented on #12590
My guess is that the packager is passing both JS and JSON files to Babel when it should be passing only the former.

[2017-02-26 06:37] NayeemUrRehman commented on #6499
@lironess Thank you!!... after trying all permutations and combination ... finally this helped me to sort the problem ... also advise for every1 here dont use MI phone for debugging it will not allow you to taste the actual flavour of android ... thank you all !!!!

[2017-02-26 10:38] Kielan commented on #9786
I have the exact same behavior nativeEvent.locationX and nativeEvent.locationY do not update on Android. pageX and pageY do update on Android. @Arkanine 's suggestion to return true does not fix this.

[2017-02-26 10:47] Kielan opened #12591 "panResponder nativeEvent.locationX and nativeEvent.locationY values do not update on Android"
We use GitHub Issues for

I am referencing #9786 but because of the unspecific title I worry the react-native team is not paying attention to this bug.

### Description
in onPanResponderMove evt.nativeEvent.locationX and evt.nativeEvent.locationY do not update on Android. pageX and pageY do update on Android. @Arkanine 's suggestion to return true at the end of the panresponder does not fix this i

[2017-02-26 11:09] nicolabortignon opened #12592 "Android Emulator: SyntaxErorr ' Attempt to redefine Property 'Content - Type'"
### Description

![screen shot 2017-02-26 at 12 08 03 pm](https://cloud.githubusercontent.com/assets/883459/23339154/40881fb2-fc1c-11e6-919c-f43ac567134b.png)

Unfortunately I have no idea where to start to fix this.
If I select Remote JS Debugging, the error disappear and the app starts and works normally.
I don't have this problem while running on iOS

### Reproduction

This happens when I try t

[2017-02-26 12:13] levarberry commented on #10028
Installing watchman worked for me.

[2017-02-26 12:52] Pourya8366 commented on #12212
@glcrazier there is a skew function in canvas library of android and it works there!

[2017-02-26 12:58] glcrazier commented on #12212
@Pourya8366 Cool, thanks for correction! I realized that matrix may do the work as well. Which function are you referring to in canvas library?

[2017-02-26 14:43] Smallpath commented on #6139
@nthtran same here after upgrading from 0.35 to 0.41.

[2017-02-26 16:01] plusmancn commented on #10835
May be you can put your component into a `StaticContainer`.  It can prevent scene from twice-rendering.
For Example:
[code]

[code]

[2017-02-26 19:59] raldred commented on #7495
I've tried all the approaches suggested here. Can't get anything from getCurrentPosition but timeouts on simulator or device. `watchPosition` works but doesn't really offer the best UX for the user.

I've tried:
* enableHighAccuracy: false
* removing options argument
* checking for and asking for permission android >= 23
* Both FINE & COARSE in manifest.

[2017-02-26 21:28] hanipcode commented on #6063
i'm coming to old project with react native version 37,
for me upgrading the react native is not enough, i have to shutdown watchman and run react-native start with --reset-cache
`watchman watch-del-all
watchman shutdown-server
react-native start --reset-cache
`
and it worked.

[2017-02-26 21:31] olofd opened #12595 "[FlatList] numColumns glitch when rerendering"
### Description

When you set the property numColumns in the new FlatList and then rerender a column when eg. pressing that column, the entire row rerenders and you can see it rerendering, it blinks.

### Reproduction

Set numColumns on FlatList and then cause a rerender.

### Solution

Looking at the implementation it seems that each row is only one instance of CellRenderer in VirtualizedList. An

[2017-02-26 21:34] booboothefool commented on #12595
+1 Also noticing some flickering/stuttering with FlatList numColumns={2} in various situations (like when I just add a `SeparatorComponent`.

[2017-02-26 22:14] ncuillery commented on #12261
The `link` command already uses that kind of tool under the hood ([this one](https://github.com/alunny/node-xcode)).

If you want to be able to rewrite all the changes you need in the `project.pbxproj` programmatically, maybe you could write and maintain your own rnpm plugin to do the job, but IMO I don't think it will be more time-saving and easier than resolving 20 or 30 conflicts in the `projec

[2017-02-26 22:21] ncuillery commented on #12210
I close this in favor of #12261 since a single place to discuss about react-native-git-upgrade is better than two.

[2017-02-26 22:21] ncuillery commented on #12210
@facebook-github-bot duplicate #12261

[2017-02-26 22:24] ncuillery commented on #12210
@mkonicek I'm in the whitelist [here](https://github.com/facebook/react-native/blob/master/bots/IssueCommands.txt#L1) but the bot doesn't obey me.

Is there another configuration to do ?

[2017-02-26 23:43] vba opened #12596 "Module does not exist in the module map for all external npms"
### Description

When I try to import a class from an external, third party npm package I get the exception `Module does not exist in the module map for all external`.  I've tried 4 or 5 different third party packages, the result is the same.

### Reproduction

Install for example `npm install -S react-native-action-button`

Dependencies:
[code]

Component:
[code]

### Solution

I have no idea how

[2017-02-27 00:22] fungilation commented on #12261
Close, but no. I look at diffs per file in the interactive `upgrade` and choose to keep and merge conflicts, or have it overwritten by new version.

`react-native-git-upgrade` is an improvement with the 3 way merging. It's just for `project.pbxproj` it's almost *always* too many to merge manually. So like I wrote in https://github.com/facebook/react-native/issues/12261#issuecomment-280932462, I re

[2017-02-27 02:05] rhysburnie commented on #12539
FYI - Figured out what was happening...

If you have a file `./app/index.js` and you attempt to import like so:

`import Something from './app';`

What actually happens is the system is importing the root level `./app.json` file which contains the object in question.

So while this isn't a bug it is perhaps a **gotcha**?

It seems reasonable to expect that some developers may create an `app` folde

[2017-02-27 02:17] hoperce commented on #1831
Set initialListSize to a proper value and set removeClippedSubviews to false solve my problem

[2017-02-27 02:29] hey99xx commented on #12580
Because react-native no longer publishes to maven; but only to npm. Also shame on you for clickbait title

[2017-02-27 02:41] whk1459086640 commented on #12112
Why i can‘t find this line

[2017-02-27 02:49] JaysonMandani commented on #11767
Add this missing lines `android/app/src/main/assets/index.android.bundle` to your directory then run again the release configuration

[2017-02-27 02:56] pocesar commented on #4944
Hmm it randomly started happening, after testing on real device with RN Debugger. it was working fine, and suddenly stopped.

[2017-02-27 03:32] Swordsman-Inaction commented on #11936
I do not think Gradle support auto-detect proxy itself. You can open `http://myHost:8080/array.dll?Get.Routing.Script` in the browser, then find out the real `proxyHost` and `proxyPort`, then set them to `systemProp.http.proxyHost` and `systemProp.http.proxyPort`

[2017-02-27 03:38] Swordsman-Inaction commented on #11678
Can you provide more details? like a simple example to reproduce it?

[2017-02-27 04:17] MrHubble commented on #9920
@morenoh149 did you find a fix?

[2017-02-27 05:48] rusfearuth commented on #12580
@hey99xx 'cos I haven't found any information about it in [docs](https://facebook.github.io/react-native/docs/native-modules-android.html).

[2017-02-27 05:52] joseabraham commented on #9841
In mi case I had react-native-parallax-scroll-view": "0.19.0 and that was creating a problem,  I ended up not using it in order to avoid that issue.

[2017-02-27 06:03] samuelltk commented on #12057
Thanks @saberking.  Your share is perfect.

[2017-02-27 06:25] roshangm1 commented on #12212
@Pourya8366 hey did you find any workarounds ?

[2017-02-27 06:44] wkarim86 commented on #2396
I had the same issue in mac. I just unchecked Web Proxy(HTTP) and Secure Web Proxy (HTTPS) under Systems Preferences > Network > Advance > Proxies
That's it and React Native start working

[2017-02-27 06:45] wkarim86 commented on #9874
I had the same issue in mac. I just unchecked Web Proxy(HTTP) and Secure Web Proxy (HTTPS) under Systems Preferences > Network > Advance > Proxies
That's it and React Native start working

[2017-02-27 07:13] anteloe commented on #12586
Not sure, but I would guess you have to bundle your app. See http://facebook.github.io/react-native/releases/0.19/docs/running-on-device-ios.html

[2017-02-27 07:27] Swordsman-Inaction commented on #12403
I checked the source code([here](https://github.com/facebook/react-native/blame/master/ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java#L249)), the border won't be drawn if borders are not fully set(all four borders) when the `radius` is set. But I don't know why...  @janicduplessis do you have any idea?

[2017-02-27 08:08] NeETsu commented on #11694
The issue is solved the issue was solved by changing the Build file:
`
android {
    compileSdkVersion 23
    buildToolsVersion '23.0.2'
    defaultConfig {

        minSdkVersion 16
        targetSdkVersion 23

        versionName "X.X"
        versionCode 1
        // Needet for the 64 bit phones
        ndk {
            abiFilters "armeabi-v7a", "x86"
        }
    }

    packagingOptions {

[2017-02-27 08:17] ericvicenti commented on #12592
Hmm, all I can suggest here is process of elimination. Does this happen when you debug a blank project in your environment? Does this happen just on emulator or also on device? Have you tried both genymotion and android emulator?

[2017-02-27 08:18] ericvicenti commented on #12586
Yeah, you may want to use some crash reporting system to get the error, but it may be that you haven't packaged it correctly. I'm closing this for now because you haven't provided enough information for anybody to reproduce the issue.

[2017-02-27 08:18] #12586 closed

[2017-02-27 08:20] ericvicenti commented on #12581
cc @emilsjolander

[2017-02-27 08:21] ericvicenti commented on #12582
cc @cpojer

[2017-02-27 08:23] ericvicenti commented on #12519
That pull request was closed because it used private APIs that would cause rejection in the app store. Do you know if it can be done with public UIKit APIs?

[2017-02-27 08:30] ncuillery commented on #12261
I've never thought about that. Sounds good, I'll definitely test that.

[2017-02-27 08:30] emilsjolander commented on #12581
I don't know anything about how TouchableOpacity works but from the look of the rnplay posted it look as though it wrapps it in an extra flexbox node which has a default direction of column.

[2017-02-27 08:40] grabbou commented on #12261
I somehow agree with the OP, however I have never really used git-upgrade
in production. Partially because of aforementioned issues, partially
because they contain sensitive informations and since it's part of our
daily tasks, we upgrade them manually. We've been evaluating at Callstack
different approaches to the upgrade issue and we are slowly working on
releasing an automated tool to address th

[2017-02-27 08:53] ericvicenti commented on #12596
I just tried with `react-native-action-button` on a fresh project, and importing the button worked fine for me on the same version of RN Android.

Maybe this is related to `node --version`? I'm on `v7.4.0`

[2017-02-27 08:54] Swordsman-Inaction commented on #12155
@YouHan26 try to replace `variant` with `configuration`

[2017-02-27 08:56] ericvicenti commented on #12591
Thanks for filing a new more specific issue. Can you see if this is reproducible on new versions of RN such as 0.41?

Also is it possible to get a code snippet, with an inline comment describing exactly what is not working?

Once we have these clarifications I'll do a quick sanity check and prioritize the issue with the core team.

[2017-02-27 08:59] ericvicenti commented on #9786
This issue is pretty unclear. Lets continue the discussion in #9786 because it seems better articulated there

[2017-02-27 08:59] #9786 closed

[2017-02-27 09:05] ericvicenti commented on #12577
This isn't something that is likely to be fixed within RN. Sorry but I think the best thing may be to wait until okhttp-ws is compatible

If you need to use modern versions of RN with an earlier version of okhttp, you could fork RN for your project and revert the commit that upgraded okhttp.

[2017-02-27 09:05] #12577 closed

[2017-02-27 09:07] Burak07 commented on #10471
I had the same issue.

I covered my modal with view and in this view added onstartshouldsetreponder to call closeModal callback function which makes visibility state of modal false. Method was called modal was closed but UI was blocked too until clicking screen one time.

I changed my wrapper view with a TouchableOpacity and called the same method. Modal was closed and UI was not blocked.

Both ha

[2017-02-27 09:08] maraujop opened #12597 "localeCompare is wrong in Android vs iOS"
### Description

It seems that `localeCompare` works differently in iOS and Android. In Android it doesn't return the expected value.

### Reproduction

[code]

In Google Chrome in Mac returns 0
in Android 6.0.1 react-native (device and emulator) returns 1
in iOS 10.2 react-native returns 0

It's my understanding that `localeCompare` is not reliable in Android for anything that is not English. I d

[2017-02-27 09:17] #12585 closed

[2017-02-27 09:21] arkhwise commented on #11989
`react-native: "0.40.0"`

I faced with this issue when the following conditions:

- Remote JS debugging is on
- View has two components, one of them is conditional
`
<View style={styles.btnWrapper}>
      <TextButton
        title='text'
      />
      {
        this.props.enableHint &&
        <QuestionHintButton
          style={styles.btnToggleShowHint}
          onPress={this.onQuestionHintBut

[2017-02-27 10:06] nicolabortignon opened #12598 "ListView disappear after RefreshControl has been triggered"
Here visually what happens :
![feb-27-2017 11-12-36](https://cloud.githubusercontent.com/assets/883459/23357368/c2d79972-fcdd-11e6-9db0-18a7a6f96a35.gif)

Here the [code](https://github.com/PolyStyle/RNFashion/blob/master/app/components/Stream/StreamListView.js)

Please note how I moved the rendering of the data for the list view, outside any react lifecycle. This is not the end case, but for the

[2017-02-27 10:33] nihgwu commented on #11809
@astreet any plan to make a cherry-pick?

[2017-02-27 10:42] Kulbear opened #12599 "Possible bug with TextInput and Chinese input method on iOS"
### Description

I have some TextInput components in my project and there should be some problems with `onEndEditting` and `onBlur` props of TextInput component. If I make the TextInput blur before I confirm the entered content from the Chinese input method, all the changes I made during this round of focus will be lost. Check the video below, starts from 0:17, the video demonstrates the issue.

B

[2017-02-27 11:25] astreet commented on #11809
Unfortunately, no: See @mkonicek's post here: https://www.facebook.com/groups/react.native.community/permalink/931576460311266/

It looks like this could potentially be a breaking change for libraries that are dependent on the previous over-zealous onLayout behavior.

[2017-02-27 11:38] nicolabortignon commented on #12592
This is the log from logcat, quite not informative, anything else I can do?

[code]

[2017-02-27 12:14] Amurmurmur commented on #12598
Have you treid to set padding to the contentContainerStyle?
[code]

[2017-02-27 12:22] nicolabortignon commented on #12598
You meant on the ListView, right ? this is what happened

![feb-27-2017 13-21-42](https://cloud.githubusercontent.com/assets/883459/23361199/bacc9e5a-fcef-11e6-863b-a4f2d5f7447f.gif)

Unfortunately from the Inspector on the emulatore I cannot see the ListView anywhere after the pull to refresh ..

[2017-02-27 12:24] Amurmurmur commented on #12598
try set it to the style prop of the list view, the padding

[2017-02-27 12:31] nicolabortignon commented on #12598
Unfortunately it looks exactly like the last gif i posted.

Also note that this StreamListView, is a module included in this [class](https://github.com/PolyStyle/RNFashion/blob/master/app/containers/Stream/StreamContainer.js)

And both the ListView, and the View containing the listView has flex:1.  I'm really puzzled :/

[2017-02-27 12:38] MaxToyberman opened #12600 "[Android] App is not re-rendering after changing Locale"
### Description
I am developing an app that supports RTL using react-native-i18n. but the layout is not re rendered
I have added  `android:supportsRtl="true" to manifest `
and this to onCreate :
[code]
### Reproduction
1) start the app.
2) go to settings and change language
3) start the app  again

### Expected Result
1) layout is re loaded with different text and layout.

### Actual result:
1)

[2017-02-27 13:00] jamesisaac commented on #12581
Yup you're right.  I thought I had tested it with the correct flexDirection applied to the TouchableOpacity nodes, but apparently not.

[2017-02-27 13:00] #12581 closed

[2017-02-27 13:03] ShoaibKhazer commented on #12344
thanks psam44
complete Path is:
 [yourProjectFolder]\node_modules\react-native\local-cli\runAndroid

[2017-02-27 13:27] sohobloo commented on #8624
Here is my condition:
- A ListView with several cells.
- A panGesture for each cells. `onStartShouldSetPanResponder` returns `true`.
- **Call `setState()` on `onPanResponderGrant`. **
- From now on, `InteractionManager.runAfterInteractions` will never execute the callback.

I'm giving up using `runAfterInteractions`.

[2017-02-27 13:32] prithsharma commented on #10845
@praveenperera - does 0.41.2 have a fix for this?

[2017-02-27 13:44] kirkstrobeck opened #12601 "Adding `transform-remove-console` to `.babelrc` causes Fatal Exception"
### Description

#### Explain what you did

Followed steps from [console section](https://facebook.github.io/react-native/docs/performance.html#console-log-statements) of performance.

- added the module `babel-plugin-transform-remove-console`
- added the following to my `.babelrc`

[code]

#### What you expected to happen

Remove console logging in production

#### What actually happens.

App cra

[2017-02-27 13:45] cemo commented on #10845
Not yet. This issue is the most popular 15th issue according to comments and still there is not any comment from the dev team since the beginning of this issue. This issue really caused tremendous frustration on my side.

[2017-02-27 14:46] formatlos commented on #12311
I'm experiencing the same issue. In my case it doesn't seem to be related to `initialListSize` or `pageSize` but it stops triggering at some point, sometimes it's at row 60, sometimes 293, seems to be totally random. It also just happens in production builds, in dev mode everything seems to be fine.

[2017-02-27 14:47] siemiatj commented on #11094
@uriklar the fie is actually located in `RCTAnimation.xcodeproj/Products/`.

[2017-02-27 14:49] albinhubsch commented on #12591
@ericvicenti Yes I can confirm this also affects 0.41! This is really annoying since it performs differently on iOS and Android! On Android I have to use `evt.nativeEvent.locationY + gestureState.dy` to get the same results `evt.nativeEvent.locationY` gives me on iOS

[2017-02-27 15:32] cailenmusselman commented on #12223
Hey guys, I'll take a look at this early this week.

Weird that it would be my commit causing an issue on iOS though since the only edit was to the YellowBox's "elevation" style property, which is an android-only property.

[2017-02-27 15:33] morenoh149 commented on #9920
@MrHubble don't think so. I moved on.

[2017-02-27 15:44] neosavvy commented on #12223
I found that it was a packaging thing, but it just doesn't give a helpful
error when it crashes - it just hangs until it crashes.

I believe when doing a debug app, if you get off wifi, the JS assets aren't
available for your app so it just crashes on the splash screen.

I packaged as a non-debug app and it pushed all the code contents to my
phone and worked fine when I was off wifi - I believe th

[2017-02-27 15:51] chemitaxis commented on #934
Thanks for the solution ;)

[2017-02-27 16:24] drewwyatt commented on #11655
I started the process again and am still having issues. This is on a new-newly initialized project:

[code]

[2017-02-27 16:58] K-Leon commented on #12223
@neosavvy >
This has absolutely nothing (!) to do with wifi or dropping connections - i've a stable environment and it's reproducable on Simulator every time....

The Elevation thing seems to be incompatible with chrome js engine or triggers there some bug.

[2017-02-27 17:12] cailenmusselman commented on #12223
Okay @K-Leon I'll still take a look early this week. Are your steps to reproduce different from the original (patrikholcak/react-native-remote-bug)?

[2017-02-27 17:19] neosavvy commented on #12223
Wow @Leon - my bad just must have misread something. (!)

On Mon, Feb 27, 2017 at 12:13 PM, cailenmusselman <notifications@github.com>
wrote:

--

Adam Parrish | 349 5th Avenue, Suite 412 | New York, NY, 10016 |
919.741.9597

[2017-02-27 17:45] Snorlock commented on #12480
This is known and a PR ongoing: https://github.com/facebook/react-native/pull/8950#issuecomment-281776167
Iv noticed that my app still works, even if the activity doesnt start. Just have to start i manually. I had problems with my app, and thought it was this, but it seemed that it was some selfmade bug.

[2017-02-27 18:13] hey99xx commented on #12597
Can you try if it's different between iOS 8 and 10? JavaScriptCore version on Android is locked as FB built it from a commit from WebKit repo close to iOS 8 branch, and never changed it. If there's a change in `localeCompare` implementation, we should see a difference from iOS 8 to 10.

[2017-02-27 18:15] hey99xx commented on #12597
react-native does not use v8 on Android by the way, so that's irrelevant.

[2017-02-27 18:22] hey99xx commented on #12580
That doesn't make your title any better. Also it is explained in this link http://facebook.github.io/react-native/docs/integration-with-existing-apps.html

You're likely missing these steps. Instead of pointing to public maven, which only has up to 0.20, you need to use your node_modules directory.

[2017-02-27 18:46] alekseykarpenko commented on #12513
**IMPORTANT UPDATE!**

Bug is reproducing on:
*Samsung J1* (**Android 5.1.1**) & *Samsung Galaxy S6 Edge+* (**Android 5.1.1**)
but not reproducing on:
*Samsung Galaxy S7* (**Android 6.0.1**), *LG Nexus 5x* (**Android 7.1.1**), *Moto G2* (**Android 6.0**), *AVD Nexus 5* (**Android 6.0 API Level 23**), *LG G3 Vigor* (**Android 4.4.2**), *AVD Nexus 5* (**Android 6.0**),

Now I can conclude this bug i

[2017-02-27 19:13] alekseykarpenko commented on #12513
May be related to internal Android issue: https://code.google.com/p/android/issues/detail?id=33868

[2017-02-27 19:17] marcoacierno opened #12604 "overflow visible on ListView on Android"
### Description

I want to show the current item of a ListView at the center and show the prev and next item (if available) to the left and right. I use the pagination feature (`pagingEnabled={true}`) so the user can snap between the items.

On iOS it works fine, I can see the prev and next items but on Android they don't appear

### Reproduction

- Create a ListView, and set the width the ListVie

[2017-02-27 19:36] holgersindbaek commented on #6691
The space in the path was the problem for me as well. I can't change that space, since it's controlled by Dropbox. Any other solution to this issue?

[2017-02-27 19:54] sahrens commented on #8624
Hmm, not sure why that helps - `onResponderTerminate` should call `clearInteractionHandle` before calling `onPanResponderTerminate`. I think something else must be going on, but glad to hear you found a workaround.

[2017-02-27 20:32] j2kun commented on #1924
Is there any way to clear the cache while the packager is still running? Or more to my ultimate goal, just tell the react-native packager to re-transpile a specific javascript file on some filesystem event?

[2017-02-27 20:52] K-Leon commented on #12223
No - not really. Happens all the time for me. Just take simulator, iOS and a medium sized app. Pushing a button that leads to a scene with a modal triggers it for me.

[2017-02-27 20:54] RyanMitchellWilson opened #12606 "Image never reloads with same uri"
I am using an Image component to display a profile picture but no matter what I do to the image component it will not reload the image. I have to use the same url for the profile pictures so I tried to give the Image a unique key prop to try and get it to reload the image but it still just uses the image from cache. I have changed the image on the server countless times but the Image component onl

[2017-02-27 21:04] lprhodes commented on #1924
@j2kun  Enabling live reload should work for everything except after changes to node_modules.

[2017-02-27 21:16] zabojad opened #12607 "RCTViewManager.h not found"
### Description

I'm trying to create a native iOS UI Component as [described there](https://facebook.github.io/react-native/docs/native-components-ios.html).

When compiling in XCode, I get `RCTViewManager.h not found`.

### Reproduction

Simply follows the example steps of the MapView custom component implementation (described there)[https://facebook.github.io/react-native/docs/native-components

[2017-02-27 21:37] zabojad commented on #12607
OK I've solved my issue with header search pathes settings. This should be indicated in the doc imho...

[2017-02-27 21:37] #12607 closed

[2017-02-27 21:54] rhysburnie opened #12608 "Gotcha - app.json loaded instead of app/index.js"
Hello,

I was having an issue starting a very basic app where I had a file `./app/index.js` containing a component to mount in the registry which would throw an error when imported like so:

`import App from './app'` would throw an error when registering `App`

But it would work fine if imported like: `import App from './app/index'`

The expectation of `import App from './app'` is that it would im

[2017-02-27 21:56] andrerfneves commented on #12473
^^ can confirm this is happening on my build too

### Information

React Native version: 0.41.2
Platform: both
Operating System: MacOS

[2017-02-27 21:56] C3-TKO commented on #8890
How can I set the linker flag manually? My xcode instance constantly crashes as soon as i try to add the flag to the test target within the ui editor.

[2017-02-27 22:05] #6332 closed

[2017-02-27 22:11] j2kun commented on #1924
@lprhodes This doesn't work for non-javascript file changes. What I have been doing (a really crappy workaround) is creating a watchman trigger for my specific file to run

[code]

But this doesn't even work because I have to restart the packager for it to pick up that these cache files got deleted. I would really love a way to say "Hey packager, when this file changes, please re-transpile this JS

[2017-02-27 22:17] ide commented on #12608
This is the same behavior as Node's require() algorithm, which RN aims to follow where it makes sense (i.e. most places). I don't think the RN repo is the right place to document Node gotchas.

My recommendation in Node and RN is not to use index.js, name your files more explicitly.

[2017-02-27 22:24] adambene commented on #2556
Try https://github.com/benestudio/fetch/tree/feature/timeout

* `npm install whatwg-fetch-timeout --save`;

[code]

This fork supports timout just like [node-fetch](https://github.com/bitinn/node-fetch).

This way you can have timeouts runtime and bundle time also. Say goodbye to memory leaks.

Hope it could be merged some sunny day.

[2017-02-27 22:31] AdilSoomro commented on #11471
Do you've any updates on this. I also stumbled upon this error.  I've been facing this with Urdu characters, with certain custom font ie Jameel Noori Nastaleeq.

It is CoreText error while creating justified lines. I've following line from CoreText which causes this error:

[code]

and the text that can cause this error is:

`رہگزر نہ`

It has something to do with Kerning of the characters. Someho

[2017-02-27 22:43] rneiss commented on #11471
That summarizes the problem perfectly.

In the end we couldn't find a code solution forward on this so we ended up modifying the font we were using -- essentially using fontforge we created a bunch of custom ligature glyphs in the private use area of the unicode block and called those, effectively bypassing all the various positioning kerning rules that seemed to be mucking up RN.

You can see the

[2017-02-27 22:49] GerryQuest commented on #2711
I had a similar problem. I changed the android gradle plugin version to 2.0.0 in android/build.gradle `com.android.tools.build:gradle:2.0.0`
And you may need to update the gradle wrapper under "android/gradle/wrapper/gradle-wrapper.properties"
by changing the version to gradle-2.10-all.zip

[2017-02-27 22:51] GerryQuest commented on #4086
I had to increase the gradle version to 2.0.0

[2017-02-27 23:20] #12608 closed

[2017-02-27 23:23] vba commented on #12596
Hi Eric,
Indeed, after updating it works better. Thanks a lot.

[2017-02-27 23:28] j2kun commented on #1924
This was the solution I was able to come up with. Would appreciate any suggestions for improvements, or better yet a principled way to do it

http://stackoverflow.com/questions/42212314/tell-react-native-packager-to-watch-a-non-javascript-file/42497592#42497592

[2017-02-28 00:50] athompson909 commented on #7308
Hey so at first I couldn't get `react-native upgrade` to work but then I saw that there was an invalid version number listed for react-native so I changed it to what my actual version number was and then the build succeeded

[2017-02-28 02:12] ericvicenti commented on #12596
Great! If you can think of a place to document this fix, that would be awesome

[2017-02-28 02:12] #12596 closed

[2017-02-28 02:37] Kennytian opened #12609 "Running Xcode's "analyze" on Yoga code surfaces issues"
run `react-native run-ios` command

### Description
The following commands produced analyzer issues:
`Analyze /Users/kenny/projects/almondWallet/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c`

`Analyze /Users/kenny/projects/almondWallet/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c`
(2 commands with analyzer issues)

The following build commands failed:
`Analyze /Users/kenn

[2017-02-28 02:41] satya164 commented on #8624
What I've seen is if the component unmounts when touch is active, it never clears the handle.

[2017-02-28 03:37] Thadeu commented on #5308
I'm using RN 0.40+
In my case, multiples photos, I solved problem with below code.

[code]

[2017-02-28 05:18] JINC06 commented on #12609
I have the same issue

`** BUILD FAILED **

The following commands produced analyzer issues:

	Analyze /Users/julionava/ReactNative\ Projects/PlatziMusic/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c
	Analyze /Users/julionava/ReactNative\ Projects/PlatziMusic/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c
(2 commands with analyzer issues)

The following build commands failed

[2017-02-28 05:20] kevmojay commented on #12289
React Native version: 0.41.2
Platform: Android device 7.1.2
OS: macOS
JS Debugger: Chrome Dev Tools, React Native Debugger

[code]

[2017-02-28 05:29] tanmynguyen commented on #11721
I see problem???

<img width="869" alt="screen shot 2017-02-28 at 12 28 25" src="https://cloud.githubusercontent.com/assets/11315567/23392915/73e55212-fdb1-11e6-8ef3-331eb2dcdb68.png">

[2017-02-28 05:36] sialvsic commented on #4968
I think that it sometimes because the  Node module and ES6 module conflict.
Like：
ES6 module
[code]
Common JS module
[code]

so Maybe. In fact we need to see the source code to make sure this is a ES6 module before we use.

[2017-02-28 05:39] pantaopt commented on #10027
that is not an problem.

[2017-02-28 05:47] kirkstrobeck commented on #11721
I just did a fresh project with the new version and ported over all the code. None of the above worked for me.

[2017-02-28 05:48] kirkstrobeck commented on #11721
Closing, because it looks like https://github.com/facebook/react-native/issues/11721#issuecomment-270672904 is solving for most folks.

[2017-02-28 05:48] #11721 closed

[2017-02-28 05:50] tanmynguyen commented on #11721
@kirkstrobeck  you see warning???

<img width="869" alt="screen shot 2017-02-28 at 12 28 25" src="https://cloud.githubusercontent.com/assets/11315567/23393282/5f4fff66-fdb4-11e6-8aee-b5bdf9e0589b.png">

[2017-02-28 05:52] kirkstrobeck commented on #11721
@tanguyantoine would you please open a new issue and reference this one?

[2017-02-28 06:18] tanguyantoine commented on #11721
@kirkstrobeck I think you can :)

[2017-02-28 06:44] tanmynguyen opened #12610 "Warning ALWAYS_SEARCH_USER_PATHS when upgrade RN version 0.40.0"
I have been issue blow:
<img width="869" alt="screen shot 2017-02-28 at 12 28 25" src="https://cloud.githubusercontent.com/assets/11315567/23394482/fc422bda-fdbb-11e6-8bb2-d494f2e0bd50.png">
Who can help me?

[2017-02-28 07:10] rikur commented on #2088
+1 We're building components that work in both web and react-native and using JS to transform text in web feels so wrong.

[2017-02-28 07:25] rusfearuth commented on #12580
@hey99xx hmmm.... But why? Using `node_modules` looks like a workaround =/ I won't believe that so strong programmers from Facebook wouldn't build and upload JAR to maven )

Okey, it doesn't matter. Thanks for help )

[2017-02-28 08:14] MrPluto commented on #4504
@micheletedeschi got error said below, any help?
[code]

[2017-02-28 08:29] bd-arc commented on #12610
I can confirm having the same issue after upgrading from RN 0.39.2 to RN 0.41.2.

[2017-02-28 08:34] tanmynguyen commented on #12610
hi @bd-arc  :) . I upgrade from RN 0.39 to RN 0.40.0? I known't fix it where? I worry won't build product in IOS :(

[2017-02-28 08:35] mhdayyoob opened #12612 "row text cannot be used outside of a <text> tag. not rendering string:""
can You tell me how to fix this issue

row text cannot be used outside of a <text> tag. not rendering string:"

I can't understand what this error....

[2017-02-28 08:40] ramilushev commented on #12606
@RyanMitchellWilson What I do as a workaround is add a meaningless query parameter to the url. Now whenever I want the image to reload, I just change that param and that invalidates the cache.

[2017-02-28 08:44] qsys opened #12613 "null is not an object (evaluating 'this._scrollComponent.getScrollResponder')"
--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

On using the animated library and building the application:

*Actual behavior*
[code]

*Expected behaviour*
No `null` exceptions

### Reproduction

### Solution

Add null checks.

In last release:

https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/Animate

[2017-02-28 08:49] krzysztofp commented on #10635
Same issue here - when do you think a fix can be done?

[2017-02-28 08:50] qsys commented on #12613
sorry, same as #10635

[2017-02-28 08:50] #12613 closed

[2017-02-28 09:05] MrPluto commented on #4504
ops,  missing `import android.os.Bundle;`  new at android ,thanks a lot 🍻

[2017-02-28 09:16] ericvicenti commented on #12574
Hi, your issue isn't super specific. Please provide lots of details next time, including example code, as well as what version and platform you're using.

I'm not sure what events you're referencing, but generally, yes, you can re-use events between screens.

One way we do that at FB is by using a polyfill of node's event emitter API: https://nodejs.org/api/events.html#events_class_eventemitter

[2017-02-28 09:16] #12574 closed

[2017-02-28 09:19] ericvicenti commented on #12579
These docs aren't very great right now, but if you can send in a pull request for some improvements, you can cc me, and I'll take a look and cc the right experts to weigh in and make sure it looks good.

[2017-02-28 09:27] tianwawawa commented on #3976
# android-ndk-r10e repalace the old version  it works Thank you

[2017-02-28 09:33] kelset commented on #8949
+1 0.38, happens rarely. Both iOS and Android.

[2017-02-28 09:57] Proudmoor commented on #6646
@yueshuaijie 你解决这个问题了吗？have you solved this problem?

[2017-02-28 10:01] Kulbear commented on #12599
I'll give a workaround which can fix the problem with both my original project and this reproduction project. The only modified part is inside the `render()` method. Check it below

[code]

Basically, `setTimeout` did the trick but I am not sure why. And I think the bug I mentioned in this issue is still worth to figure out and fix.

[2017-02-28 10:39] adambene commented on #2556
Any idea on how to use my fetch fork without forkinf RN itself?

[2017-02-28 11:10] kazimmusani opened #12614 "React Native BackAndroid"
Hi Friends,
I need your help.

i am using BackAndroid EventListner on one of my screen but it automatically applies on all available screens on app. Can you please advise how to refactor the below code. I want to use below code only on one screen not all.

import { BackAndroid } from 'react-native';

componentWillMount() {

BackAndroid.addEventListener('hardwareBackPress', () => {return true});

}

[2017-02-28 11:18] eduardomoroni opened #12615 "RCTLog.h not found After setting up cocoapod"
I created a brand new project: `react-native init cocoa`
then `cd cocoa && npm install`
My xcode project looks like the picture:
![image](https://cloud.githubusercontent.com/assets/823150/23403202/cdf8f732-fd8d-11e6-9a94-411f72bf073f.png)
so I did `cd ios && pod init` and removed all references from library folder on Xcode project and set up my Podfile like this:

[code]
then `pod install`
After t

[2017-02-28 11:46] chmursonss commented on #12527
Same issue here. I have to run packager on different port since 8081 is already taken by McAfee processes ( cannot change that easily :( )

[2017-02-28 11:49] chmurson commented on #12527
Same issue here. I have to run packager on different port since 8081 is already taken by McAfee processes ( cannot change that easily :( ). Everything works fine when I change host  & port device via "in-app menu" (CMD+M). However it returns same error as in issue description when I turn on the remote debugger.

[2017-02-28 11:54] Kielan commented on #5932
this issue should not be closed. @jdmunro gave a very good issue and source and still not resolved.

[2017-02-28 12:20] TBouder commented on #7631
Hi ! I'm working with React Native 0.40.0 and I have the exact same issue with an android device (Version 5). It happens only on a few pages (My login form has no issue, and my account creation form (the same component with differents props) is broken). I think the issue is still here :(

[2017-02-28 12:47] kyle-ilantzis commented on #2556
@adambene you want your polyfill to overwrite react-native's polyfill.

The first lines of fetch.js look like

if (self.fetch) {
    return
}

Which will be true because the fetch function already exists.

I suggest doing

global.fetch = null;
require('whatwg-fetch-timeout')

(I am not sure but i think it would be in global)

Or changing the if to check for your fetch function such as if (fetch.ha

[2017-02-28 12:54] andrispraulitis opened #12617 "TouchableOpacity not fully touchable inside rotated View on iPhone 7"
### Description

When you have TouchableOpacity inside rotated view touchable is not fully touchable on actual device iPhone 7

### Reproduction

See example: green rect is TouchableHighlight an is fully touchable inside rotated view, however red rect is not fully touchable.

[code]

### Additional Information

* React Native version: 0.41.2
* Platform: iOS iPhone 7

Works fine on simulator, works

[2017-02-28 13:12] anders-g-hansen commented on #12527
I believe that #12095 which has a PR that has not yet been merged will partially fix the issue.  I am able to work around this currently by setting a breakpoint in debuggerWorker.js and changing the port on the message.url before continuing (see screenshot).  This is a painful work around, but until that PR is merged, not sure there is a better option.

![debuggerworker js](https://cloud.githubuse

[2017-02-28 13:13] codebymikey commented on #8463
For me this error occurs in Dev mode, when "JS Dev Mode" is disabled, but "Enable Hot Reloading" is also enabled.

Disabling "Enable Hot Reloading" fixes it, but sometimes you want hot reloading without JS dev mode enabled.

[2017-02-28 13:16] adambene commented on #2556
@kyle-ilantzis whatwg-fetch is already imported before I could do anything: https://github.com/facebook/react-native/blob/292cc82d0ebc437a6f1cdd2e972b3917b7ee05a4/Libraries/Network/fetch.js

[2017-02-28 13:17] chilismaug commented on #9881
By golly, first run of init failed on the "--save-exact" issue, second run worked.

[2017-02-28 13:19] khannasaransh commented on #570
Any update on this??

[2017-02-28 13:20] sattaman opened #12618 "StatusBar background color is not being set on Android 7"
### Description

StatusBar background color is not being set on Android 7

### Reproduction

https://rnplay.org/apps/ELYWHg

### Solution

StatusBar color should be applied in Android 7

### Additional Information

* React Native version: 0.41
* Platform: Andriod 7.1
* Operating System: MacOS

[2017-02-28 13:21] kyle-ilantzis commented on #2556
@adambene yes whatwg-fetch is already imported. You want your whatwg-fetch-timeout to take precedence. I imagine you are importing yours? The problem is in your fetch.js file at the top of the file there is

if (self.fetch) {
return
}

[2017-02-28 13:49] shivanikumar444 commented on #10410
Same here, does any one have a proper solution for this issue.

[2017-02-28 14:03] appsthatmatter commented on #12020
currently 135 errors with

* Flow 0.39.0
* react-native 0.41.2

is there any way to suppress them?

[2017-02-28 14:03] rengasahusoft opened #12619 "Swipe(right to left) to push new Route in NavigationExperimental ?"
Is it possible to have Swipe(right to left) to push new Route in NavigationExperimental ? I tried looking into source code but couldn't figure out how to achieve this?  I Use NavigationCardStack .

[2017-02-28 14:20] ryanhomer commented on #11655
@drewwyatt Can you specify your RN version, flow version and post your `.flowconfig` file?

[2017-02-28 14:23] ryanhomer commented on #12020
Ongoing discussion in issue #11655 also.

[2017-02-28 14:30] Etheryte commented on #12580
See https://github.com/facebook/react-native/issues/6459#issuecomment-196594689

[2017-02-28 14:44] adambene commented on #2556
@kyle-ilantzis I feel that whatwg-fetch-timeout should only be an extension to whatwg-fetch, so removing the fetch implementation check seems hacky to me.

I've tried npm-shrinkwrap, but does not allow different package names only versions to be overridden.

I am searching for a really maintainable and universal solution, because all my future projects are going to rely on fetch timeout to achieve

[2017-02-28 15:09] Etheryte commented on #12612
Please see [Stack Overflow's guide on how to create a minimal, complete and verifiable example](http://stackoverflow.com/help/mcve).

[2017-02-28 16:04] ptomasroos commented on #12619
You should ask this on Stackoverflow. Its def possible, this is for bug reporting.

[2017-02-28 16:09] shergin commented on #12433
`accessibilityViewIsModal` is here b00c1fa3b66a2c9070a4dfc04aeed205a10d4798!
@StefanoSarioli Could you please check that your solution in the drawer works properly?
Thank you for your effort!

[2017-02-28 16:30] nicolaselmir opened #12622 "Disable touchableHighlight's underlayColor"
Hey Guys,
Well my main view is a touchable highlight and I need to remove the underlayCollor cause when I click everywhere it shows me the touch.

Thanks , Nick

[2017-02-28 17:41] jhabdas commented on #10729
I believe this is a source maps issue unrelated to RN or Webpack, but exacerbated by them. It's been around since Backbone. Which source map style are you using? Also, ProTip, try moving your breakpoint to the next line and leverage "debugger" statements. If you're logging you're wasting time.

[2017-02-28 17:53] RichardLindhout commented on #11809
Is there a fix available 1 March?

[2017-02-28 17:57] RyanMitchellWilson commented on #12606
So it turns out I was actually hitting the wrong dev environment for the picture so it just looked as though it wasn't changing when it actually was.

[2017-02-28 18:14] adambene commented on #2394
@simondelacourt RN uses whatwh-fetch runtime so there is no timeout by default. I have a workaround (whatwg-fetch-timeout package): https://github.com/facebook/react-native/issues/2556#issuecomment-282876518

I am really curious about how you enthusiast RN users out there build robust apps without having timeout and abort().

[2017-02-28 18:16] adambene commented on #3876
dupe #2556

[2017-02-28 18:37] adambene commented on #2556
It seems that there are 3 choices to override fetch in RN.

### 1 Fork RN
Fork RN and rename the `whatwg-fetch` dependency to `whatwg-fetch-timeout`.

Well, it's a maintenance hell.

### 2 Import `whatwg-fetch-timeout` in all files
Import `whatwg-fetch-timeout` in all relevant .js files after setting `fetch = undefined`.

Explicit and clean, just don't forget to import everywhere.

### 3 Override

[2017-02-28 18:52] kwef opened #12623 "Not documented AdSupportIOS"
### Description
I had to add the RCTAdSupport.h and RCTAdSupport.m files to XCode to manually link to react native in order to get AdSupportIOS to stop throwing "undefined is not an object.... ". There ought to be better documentation for this.

* React Native version: [0.41.2]
* Platform: [iOS]
* Operating System: [MacOs]

[2017-02-28 19:08] SudoPlz commented on #11565
Still doesn't make sense to me..

[2017-02-28 19:28] joecaraccio opened #12625 "Image Prefetch Additional DOcumentation"
### Additional Information

Not sure if I am alone in having issues with simply understanding how React-native Prefetch Image works.

IS there any additional documentation or an example application that utilizes this?

[2017-02-28 20:50] tsteele2013 commented on #12311
@formatlos I've also experienced some randomness as well in production builds. Good to know I'm not crazy. The project I have implemented this in contains sensitive data, so it seems it's going to be more tedious than originally thought for me to create a sample project.

Is one still needed? Or is it unnecessary since you're a contributor and you've been able to recreate the problem?

[2017-02-28 21:00] jaredtibs commented on #9347
@ericvicenti

I am experiencing this issue with:
[code]

It only loads the first location on boot, but then does not register any change in location when using Debug -> Location. Any help at all would be greatly appreciated.

[2017-02-28 21:03] mattvagni commented on #1278
📢  For anyone else ending up on this *still* (like me) an easy way to reverse the order is to simply add `flexDirection: 'column-reverse'` to the Navigator.

[2017-02-28 21:04] Virsaviya commented on #10682
I'm on 0.35 and @asivura's solution works.  Thanks!  Have you found a more scalable workaround, by any chance?

[2017-02-28 21:11] asivura commented on #10682
@Virsaviya I have not. I hope it will be fixed in next versions or we'll stop to use compatibility mode for iOS app in the feature. But it might be an effect from another more complicated issue. I don't know.

[2017-02-28 22:11] joeferraro commented on #1417
This is happening to me as well on 0.38. After updating the `ListView`, the new `Image` will load only after scrolling it off then on screen.

[2017-02-28 22:47] qpowell commented on #12625
@joecaraccio I had the same issue and ultimately solved my problem with a little trial and error. Is there a specific scenario you had in mind? If so, maybe I can offer some insight.

In my particular case, I needed to render some cover images for a content libraries, and wanted to show a loading screen until all of them were completed. Before using `Image.prefetch`, the images would just trickle

[2017-02-28 22:57] kirkstrobeck commented on #11721
^ ha! oops, I meant to mention @tanguyantoine

[2017-02-28 22:57] kirkstrobeck commented on #11721
^ ha! oops, I meant to mention @tanmynguyen

[2017-02-28 23:44] hramos commented on #12623
Can you elaborate?

[2017-02-28 23:45] #12619 closed

[2017-02-28 23:45] #12612 closed

[2017-02-28 23:46] hramos commented on #12614
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-02-28 23:46] #12614 closed

[2017-02-28 23:47] #12580 closed

[2017-02-28 23:47] hramos commented on #12598
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-02-28 23:47] #12598 closed

[2017-03-01 00:21] mohammad-rahchamani commented on #6760
I'm not rendering anything special but after adding `ActivityIndicator` to my login page, application stopped working.
@flaviotobi 's workaround solved my issue. :+1:

[2017-03-01 00:31] joecaraccio commented on #12625
@qpowell  Thanks so much for your response.. that little code sample right there was pretty valuable alone! My ultimate scenario I am trying to accomplish is implement a tap slideshow, where when I press the image view it automatically transitions to the next image, without any loading or white flicker

I do have a few specific questions that I think quite a few people wonder..
Where did you call

[2017-03-01 00:55] hecontreraso opened #12627 "How to open contact app to add a contact?"
Sorry for posting this here, but I didn't receive an answer in stackoverflow and after so much investigation I still have no idea about what to do.

Could someone please refer to my question here?

http://stackoverflow.com/questions/41476907/how-to-add-contact-to-the-phone-using-react-native

Thank you so much!

[2017-03-01 04:46] kirkstrobeck commented on #12582
- I have since upgraded to `0.41.2` and am still experiencing the issue, so any additional notes may be applicable to only this newer version
- Tried https://github.com/facebook/react-native/issues/7271#issuecomment-215375355 and it didn’t work
- It throws the error when the coverage report is generated. If I hit reload, I can use my app just fine even though the offending `.png` is still present.

[2017-03-01 04:52] kirkstrobeck commented on #12582
This worked for me http://stackoverflow.com/a/41963217/537998

This still feels like a bug to me, but I’ll close since the issue can be resolved.

[2017-03-01 04:52] #12582 closed

[2017-03-01 04:54] kirkstrobeck commented on #7271
I was suffering the same thing at https://github.com/facebook/react-native/issues/12582

My code ended up being

[code]

and my `package.json` `start` script became

[code]

[2017-03-01 05:28] Proudmoor commented on #12599
thanks for your help

[2017-03-01 05:44] droidwolf commented on #8694
I hava the same issues. version 0.36
when i used getCurrentActivity in ReactContextBaseJavaModule some times return null.
I create ReactInstanceManager not in onCreate method，But in the onCreate after a period of time。
So there is no onHostResume method is called, passing the current activity to ReactContext.
My solution is to create a ReactInstanceManager called after ReactInstanceManager.onHostR

[2017-03-01 06:34] f0rr0 commented on #1964
+1

[2017-03-01 07:06] trazyn commented on #934
@brunolemos thanks guys

[2017-03-01 07:19] elyonsaber opened #12630 "Image does not display in SimpleDraweeView when open react-native page for the first time"
I wrapped up android native UI component, and integrated it with my react native application. The layout of this component includes SimpleDraweeView
[code]
And I set imageUri of SimpleDraweeView dynamically in code:
`
SimpleDraweeView avatar = (SimpleDraweeView) infoWindow.findViewById(R.id.avatar_image);                    avatar.setImageURI(UserRepository.getInstance().getUserInfo().getAvatar().

[2017-03-01 07:24] magicismight commented on #12411
@rgoldiez Everything goes fine.
You can not print the `event` object directly.
[code]

[2017-03-01 07:38] Jiasm commented on #4455
+1
waiting for resolve

[2017-03-01 08:30] rgoldiez commented on #12411
Thank you @magicismight !!

[2017-03-01 09:01] gavinyeah commented on #10755
I have also encountered this issue and it can repro quite frequently when you rotating the device and the page gets re-rendering. I guess maybe because the rendering phase before rotate can't get the original objects after rotated. The previous rendering is not properly stopped when rotating, is it possible?

[2017-03-01 09:23] joncursi commented on #9326
Unfortunately I'm still struggling with this. The best I've able to do with NavigatorExperimental is to to set the navigator header properties (via Redux) after the scene completes its transition using InteractionManager:

[code]

However, as you can see below, this is still janky as F because of the time delay in rendering the new header content and the immediate flash:

![untitled](https://cloud

[2017-03-01 09:39] joncursi commented on #9326
For what it's worth, this is a screen capture of Navigator Experimental's behavior if you dispatch these actions before the push transition completes (aka, you don't wrap stuff in a setTimeout or InteractionManager):

![untitled2](https://cloud.githubusercontent.com/assets/4974609/23454059/f9d0318a-fe38-11e6-804a-b979f29e6f86.gif)

The scene won't get fully pushed because the action stops the anim

[2017-03-01 09:41] KarlosQ commented on #12519
Ah, okey. I see that now. When I try to open a modal in a real device with the modified DatePicker.IOS the app crash.

Maybe [](https://github.com/xgfe/react-native-datepicker) is the solution

[2017-03-01 09:47] olofd opened #12632 "ImageLoaders not loaded before Image is displayed"
### Description
If you send a image with Ajax before you have displayed ANY images in your app. This request will fail because it's the codepath of displaying an image that makes sure that the imageLoaders are loaded.

### Reproduction

Fresh project => Send a local image with AJAX before displaying ANY image in the App.

### Solution

Make sure imageloaders are loaded when canHandleRequest when R

[2017-03-01 09:52] maraujop commented on #12597
Yes, you are right I totally forgot it uses javaScriptCore.

I've checked with an iOS 8.1 and it returns 1 too, so it's also broken. So as you say, there is a difference between iOS 8 and 10. Because my previous tests were in an iOS 10.2.

So, the only fix would be to update WebKit version for Android in RN, which sound like a hot potato.

Anyone knows a workaround to sort international strings?

[2017-03-01 10:08] miklschmidt commented on #10506
@fungilation until or since? Because i still have it on 0.41.2.

[2017-03-01 10:14] fungilation commented on #10506
Until. I've never seen it on 0.37 and older. But that could just have been me testing less before.

[2017-03-01 10:30] taranjeettemp commented on #10845
I also have the same issue. Not able to solve it

[2017-03-01 10:47] aleakhtar commented on #11603
Installing NodeJS separately, solves it. Thanks @killinit !

[2017-03-01 10:56] xaviraol commented on #8714
@hitbear518  Can you give more insights on how to use module(for: ) and get the instance of RCTEventEmitter? Thanks a lot

[2017-03-01 11:04] miklschmidt commented on #10506
Okay, in my case it seems to be the AppTransportSecurityPolicy (or whatever it's called) that wasn't set to allow insecure connections. I had to hack RTCUtils.m:82 to print the JSON blob instead of the error. It seems like it's the userInfo object that's the cause of the issue.

[2017-03-01 11:09] fungilation commented on #10506
In my case, I've already set AppTransportSecurityPolicy allowed insecure connections.

[2017-03-01 11:15] hitbear518 commented on #8714
@xaviraol Here's what i did:

1. subcass RCTEventEmitter
[code]
2. export it to js
[code]
3.get the RCTBridge(I saved it as singleton), then get the module to send event
[code]

then you can subscript the event from js code

[2017-03-01 11:52] Ideasbritain commented on #8615
The line to add to you AndroidManifest.xml is:

[2017-03-01 12:02] astreet commented on #11809
The fix will show up in v43 (the march 2017 release): see https://github.com/facebook/react-native/releases

[2017-03-01 12:13] YouHan26 commented on #12155
@Swordsman-Inaction Solved, Xcode has the command `Product` -> `Clean`, then everything will be ok. Thanks your advise anyway.

[2017-03-01 12:23] miklschmidt commented on #10506
Try doing the same thing, the json blob will tell you what's wrong. It's a workaround for now at least.

[2017-03-01 12:29] sibelius commented on #11758
@AbeHerbert can we close this?

[2017-03-01 12:29] sibelius commented on #10120
@comountainclimber can we close this?

[2017-03-01 12:30] sibelius commented on #9336
@Zygro can we close this?

[2017-03-01 12:50] snechiporenko commented on #10471
Try this:
[code]

[2017-03-01 12:55] Jlexyc commented on #10471
For everyone who suggest to use timers:
Maybe this bullshit codding is ok for JS or Android... but for native iOS developer it looks 100% unacceptable. Better to disable modal animation at all...

[2017-03-01 13:06] ajamiesonfraser opened #12633 "ListView's initialListSize not working when Debugger is Turned OFF"
My app has two different ListViews rendering rows with information fetched from a JSON url. Both ListViews have pageSize, initialListSize and scrollRenderAheadDistance defined. I had originally though that the ListView in my second screen was rendering slow because it was having trouble fetching the data, or that there was more data being grabbed, but when I set the iOS Simulator Debugger ON, the

[2017-03-01 13:15] vicmpen commented on #10471
@Jlexyc Take it easy. No one is forcing you to use RN. Go with Ionic, or w/e, if you don't like it or you are not satisfied by the development work being done.

[2017-03-01 13:33] grabbou commented on #10471
It's not a surprise that it is OK for JS, it's a timeout, it's Javascript,
it's async bridge. There are a lot of concepts that make this workaround a
very natural solution.

On Wed, 1 Mar 2017 at 13:56 Oleksii <notifications@github.com> wrote:

[2017-03-01 13:51] Jlexyc commented on #10471
ionic instead of RN... really? (facepalm)

[2017-03-01 14:50] esutton commented on #1693
I had not seen this on an iOS device until now.  I can no longer debug.

Fiddling with my MacBook and iPad clock times does not seem to be helping as it did with Android.

RN 0.38.1
iOS 10.2.1
OS X 10.11.6

[2017-03-01 15:09] awitherow commented on #3042
Still experiencing this with `"react-native": "0.41.2"`. Wanted to implement the

```renderScrollComponent={props => <RecyclerViewBackedScrollView {...props} />}``` as recommended in the documentation, but apparently this is deprecated.

[2017-03-01 15:16] awitherow commented on #3042
Currently solution for my team is just to pass in the initialListSize to equal the listItems.length. Luckily our list is only around 50 items long with no graphics.

[2017-03-01 15:20] khacanh commented on #10331
@guilhermebruzzi As it states here the `package` in the manifest must match the project base package name, so it's not possible to use a placeholder https://developer.android.com/studio/build/application-id.html

I'm curious what do you want to achieve with that though

[2017-03-01 15:48] guilhermebruzzi commented on #10331
Hi guys @khacanh @reneweb, we used to specify on app/build.gradle a config like:

[code]

Then you can use ${applicationId} on any part of your AndroidManifest.xml file and it used to work for us, but now we changed to use the original package name explicit (which according to @khacanh  link it isn't required because it defaults to your applicationId value anyway).

So I think I can close this iss

[2017-03-01 15:48] #10331 closed

[2017-03-01 16:19] saracodes commented on #12096
Same problem here.
RN v0.41.2

[2017-03-01 16:24] redpandatronicsuk commented on #12590
I had the same issue, also using cmu-pronouncing-dictionary :), add
[code]
to .babelrc and it should fix it.

[2017-03-01 16:30] tomauty commented on #12324
We've been having this issue for some time as well. Immediate regression from 0.39 (I believe) and onward.

[2017-03-01 16:41] bcbcarl commented on #10367
You can solve this problem by installing `Android SDK Platform 23` and `Sources for Android 23`.

[2017-03-01 17:16] jjhesk commented on #10608
same in here. I use macOSX serria 10.12.1 and it is slow. i get only 21 - 24 FPS.

[2017-03-01 17:23] neilsarkar commented on #10506
You can also disable Remote JS Debugging and read the logs from the XCode console in order to find out what the actual error is.

So I could write the same kind of patch for an `NSError` containing an `NSURL` that I did for an `NSError` containing an `NSError`, but that feels like playing a game of whack-a-mole...theoretically any object could be returned from an error and we would have to keep sp

[2017-03-01 17:51] EricCarrGH commented on #12622
It sounds like you aren't using the appropriate component for your use case (component wide onTouch).

Have a look here to review your options to transparently handle touch in your component:

[https://facebook.github.io/react-native/docs/handling-touches.html](https://facebook.github.io/react-native/docs/handling-touches.html)

[2017-03-01 18:06] jr-k opened #12635 "ImageView weird GET request"
Hello,

I was developing something for my app and I listened what's the client was asking to my server. I cornered a html GET request triggered by 4 ImageViews and I don't know why this request is fired (those ImageViews have to fetch a remote picture with {uri:'https://....jpg'} and it's working !).

Here is the screenshot of wireshark:

![Weird /d requests](http://puu.sh/upwEU/84652eff63.png)

M

[2017-03-01 18:15] cvillecsteele commented on #10820
+1 Seeing this behavior also.

[2017-03-01 18:18] MattyK14 commented on #12468
Any luck with this?

[2017-03-01 18:22] cknitt commented on #12071
Just encountered this problem in 0.42.0 release. 0.41 works fine.

[2017-03-01 18:22] kwef commented on #12623
Sure. In order to get AdSupportIOS to work, I had to manually add files to Xcode. I feel like this wasn't clear that it was required to somehow manually link files, as the documentation about AdSupportIOS currently says nothing about this: https://facebook.github.io/react-native/docs/adsupportios.html.

[2017-03-01 18:26] onlydave commented on #6139
Coming to the end of the day for me so might be losing it a bit but doesn't look like it's fixed on 0.42.0

Did that pull not just fix the positioning in general? This issue is more specifically where the user taps a child of `TouchableNativeFeedback`.

[2017-03-01 18:42] mkoo21 commented on #11389
Same issue on RN 0.35
Tried changing the declaration of`handleError`, still get same issue
This issue suddenly appeared in all of our android apps around 2 weeks ago

[2017-03-01 19:11] cknitt commented on #12071
@ericvicenti: This error occurs during **packaging**, not while using the library.

[2017-03-01 19:45] GeeWee opened #12638 "Fetch with credentials in-url fails silently on android"
### Description
URLs with authentication inside them (e.g. http://user:password@somesite.com) fails silently on android (perhaps only some versions) with a 401, but the same request works fine on iOS. This leads to some interesting bugs where the code that should be platform-agnostic only works on one platform.
With react native 41.0

### Reproduction
Code that reproduces it when copied to a new p

[2017-03-01 20:20] ncuillery opened #12640 "[0.42.0] Undesirable changes in Info.plist"
When upgrading from 0.41.2 to 0.42.0 (using either `react-native upgrade` or `react-native-git-upgrade`), two lines are removed in the `Info.plist` file:

https://github.com/ncuillery/rn-diff/compare/rn-0.41.2...rn-0.42.0#diff-faf314fabd1fcf63d4c5d4dc90ac7f1c

I think that's because this commit https://github.com/facebook/react-native/commit/516d97397bbf32ca9c05c17b7af5ecd8bea1d885 is in the `0.41

[2017-03-01 20:28] RichardLindhout commented on #12604
There is a new ListView implementation. https://hackernoon.com/react-native-new-flatlist-component-30db558c7a5b. Maybe it will work.

[2017-03-01 20:30] hramos commented on #12623
Would you be willing to open a PR to add the necessary steps missing from that file?

Otherwise, can you comment on this issue with the exact list of steps you had to take in order to use AdSupportIOS.

[2017-03-01 21:29] dmius opened #12643 "RN corrupted after the second activity quit"
Hello, I use RN 0.36 for Android app. My application have two activities: MainActivity - application entry point and second for process Share page intent from browser. Share page can be started when MainActivity already is started or not.
Both activities use same RN component. I mean what is registered with AppRegistry.registerComponent.

Issue Description
1 App is started, so MainActivity is acti

[2017-03-01 21:41] Jorrit2002 commented on #12588
How did you solve this?

[2017-03-01 21:42] kwef commented on #12623
I can open a PR. Where's the best place/file to do that?

[2017-03-01 21:43] farazs commented on #11594
I think for Android you can use `window.__REACT_WEB_VIEW_BRIDGE.postMessage` instead.

the delay for Android is in executing this:
[code]

You can use the javascript interface directly instead for Android based on the implementation. However, this could break in a future version if they update it.

[2017-03-01 22:12] hey99xx commented on #12597
I see this polyfill https://github.com/kosmobot/locale-compare-polyfill but

[2017-03-01 22:34] marcoacierno commented on #12604
Tried it now, the same issue :(

Current result http://i.imgur.com/7Hxy3ZB.png (Android)

Correct result: http://i.imgur.com/0OXZtW0.png (iOS, the other items are in overflow visible)

If I open the layout inspector in Android Studio I can see the other is correctly rendered, but the HorizontalScrollView fails to show the children outside his bounds ( http://i.imgur.com/HcBLFCj.png )

[2017-03-01 22:41] ivanzotov opened #12644 "[Android] onContentSizeChange of ScrollView fires when content size didn't change"

[2017-03-01 22:49] ericvicenti commented on #12644
I think this was recently fixed. Can you try master?

[2017-03-01 23:00] dbeard-groupon commented on #6946
I also see this occurring. I'm getting completely wrong filenames from sourcemaps.

[2017-03-01 23:10] RichardLindhout commented on #11809
The 0.43 RC will likely be available around 9am CET (Central European Time)

[2017-03-01 23:11] chrisz100 commented on #12588
My node version requires me to use import the following way:
`import App from './app/index';`
instead of
`import App from './app';`

[2017-03-01 23:15] hramos commented on #12623
You would need to add comments to the source file at https://github.com/facebook/react-native/blob/master/Libraries/AdSupport/AdSupportIOS.js. You can take a look at other APIs to see how these comments should be formatted.

[2017-03-01 23:17] hramos commented on #12643
I think Stack Overflow might be a better place for this sort of question. We're using GitHub to track issues in RN proper.

[2017-03-01 23:17] #12643 closed

[2017-03-01 23:45] i8wu commented on #9404
Is there really still no solution for this? :(

[2017-03-02 00:07] lyahdav opened #12646 "duplicate entry error related to okhttp3 when integrating React Native into existing Android project"
### Description

After adding React Native to an existing Android project, I get the following error when running `./gradlew assembleDebug`:
[code]

This project already had a dependency on okhttp3, so I'm not sure how to make Gradle ignore the React Native dependency on it.

### Additional Information

* React Native version: 0.31
* Platform: Android
* Operating System: MacOS 10.11.6 (15G1217)

[2017-03-02 00:15] lukescott commented on #10471
I solved my problem with a timeout, but it didn't work at first. One thing I noticed was I was closing my modal without dismissing the keyboard first. This is what caused the conflict. So I had to dismiss the keyboard and then dismiss the modal after a timeout.

What interesting is it was smart enough to dismiss the keyboard on it's own when the modal was dismissed, but because the modal dismissal

[2017-03-02 00:16] Jorrit2002 commented on #12588
perfect!

[2017-03-02 00:41] yunibaek commented on #12261
I ended up downgrading back to the my previous RN version. My xcodeproject works at least for now, only as a temporary solution. It would be really good to see if someone can solve a workaround regarding the merging conflicts.

[2017-03-02 00:53] ericvicenti commented on #12261
cc @mkonicek

We're also working on a `react-native eject` step, which will autogenerate all the native code for your project. This would squash any local configuration you may have, but more and more things will eventually be configurable via the `app.json` file.

[2017-03-02 02:16] a289459798 commented on #12040
+1

[2017-03-02 02:32] chuyik commented on #11594
@farazs Man you really saved my day.

[2017-03-02 02:58] wwarodom commented on #12284
I got exactly the same error, and from #12195 I never use 'react-native-svg'.  Any idea?

React Native version: 0.41.2
Platform: Android
Operating System: Windows

[2017-03-02 03:09] boiawang commented on #7238
Maybe you could use <https://github.com/alibaba/rax/blob/master/packages/babel-plugin-transform-jsx-stylesheet/README.md>.

[2017-03-02 03:14] magicismight commented on #11317
0.42.0
[code]

[2017-03-02 03:25] sahrens commented on #12595
Hmm, what kind of re-rendering are you doing? I don't know why it would blink unless you're doing something like rendering a placeholder briefly or something like that? You can see in the `<FlatList> - MultiColumn` example in UIExplorer that pressing a row will re-render it without causing any sort of blinking as far as I can tell. Are you seeing something else?

[2017-03-02 03:34] tanmynguyen commented on #12610
I updated RN 0.42.0 and setting like blow?
<img width="689" alt="screen shot 2017-03-02 at 10 28 36" src="https://cloud.githubusercontent.com/assets/11315567/23491901/c5292a9e-ff33-11e6-8fca-fda6caa3609b.png">

[2017-03-02 03:36] sahrens commented on #12512
So `windowSize` is in units of visible length, typically screens, so where you set `windowSize={(deviceHeight * 0.35) * 2}` you're setting the render window to hundreds of screens worth of content, which is over 10x the default value and basically zero windowing at all and would perfectly explain the behavior you're seeing.

You have a comment that says you tried the default value - were the memor

[2017-03-02 04:24] janicduplessis commented on #12284
Might be another library, what are you using?

[2017-03-02 04:30] sryze commented on #6682
I faced the same problem after running my project from within VS Code (using React Native Tools extension). Before that I used `react-native run-ios` and it worked flawlessly. It seems that VS Code messed something up.

[2017-03-02 05:06] ranjithnori commented on #3303
Any updates / monkey patches to fix this ? Facing the same issue on android.

[2017-03-02 05:15] hey99xx commented on #5773
In case we would like to run react-native conditionally , so we can at least avoid crashing on these devices , is there a standard way to check whether the underlying architecture would support React or not?

[2017-03-02 05:19] satya164 commented on #3303
No one is working on this AFAIK.

[2017-03-02 05:31] booboothefool commented on #12512
@sahrens I hope I'm that stupid. XD Maybe I was just imagining using the default props? :) Either way I think something changed:

Using this code:
[code]

I made a video of the `debug={true}`: https://www.youtube.com/watch?v=wlQmzICT3j0

and here are the results:
![screen shot 2017-03-02 at 12 25 44 am](https://cloud.githubusercontent.com/assets/13257645/23494202/47916d70-fedf-11e6-883e-a6bc86a613

[2017-03-02 05:35] jasongrishkoff commented on #12512
@booboothefool your memory usage went from 186mb to 359mb -- that's very high, and it's likely that as soon as you move to another app, Android will automatically garbage collect your app.

[2017-03-02 06:32] donchg opened #12651 "com.facebook.react:react-native Retrofit2.2.0 comflict"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you

[2017-03-02 07:34] booboothefool commented on #12512
Yeah, seems like I spoke a bit too soon. When I added all of my images back, things became super choppy. I actually find ListView smoother for scrolling down the list, heavy images and more text and all.

[2017-03-02 07:56] booboothefool commented on #12512
Yeah, seems like I spoke a bit too soon. Noticed the app slowed down a ton once I added everything else back (images, ads, calculations e.g. Birthday -> Age).

[2017-03-02 08:00] wwarodom commented on #12284
@janicduplessis

No error: (AlbumDetail.js)

[code]

Error with  "Cannot add a child node" as stated above: (AlbumDetail.js)

[code]
here is my Card.js

[code]

Here is my full code: https://github.com/wwarodom/helloRN

[2017-03-02 08:00] tlvenn opened #12652 "Upgrade Android SDK Build-tools to 23.0.3"
Various parts of RN are referencing 23.0.1 version while the latest (23.0.3) has been released a year ago already. This starts to be an issue as more and more CI will provide only the latest revision for a given major SDK version. This is the case for Bitrise for example. The user can always pull the outdated 23.0.1 manually but that's an extra step he should not have to do.

And beyond CI world,

[2017-03-02 08:08] ericvicenti commented on #12651
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-02 08:08] #12651 closed

[2017-03-02 08:10] pocesar commented on #4968
for me the problem was joi module using hoek as a dependency and while trying to transverse the imports, was choking on `require('buffer')`. you can't use node internal modules in React Native (must be plain JS versions, for crypto, buffer, path, fs, etc)

[2017-03-02 08:29] akaiz opened #12653 "I want to be able to be injecting a given script in all webpages visited in a web view. Hower when I inject a script it was only run on the first page I did visit but not in all the next pages"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you

[2017-03-02 09:17] bilelmnasser commented on #7165
Hello all, any update on this issue ?

[2017-03-02 09:24] smk524198002 commented on #980
defaultSource is also working in android?

[2017-03-02 09:28] WeweTom commented on #11302
+1
RN 0.31

[2017-03-02 10:12] evanidul commented on #8693
+1

[2017-03-02 10:55] lengocgiang commented on #10608
I downgraded to Elcapitan 10.11 , it solved

[2017-03-02 11:10] xaviraol commented on #8714
thanks @hitbear518 !!!

[2017-03-02 11:14] note89 opened #12654 "[Android] "alignItems" and "justifyContent" overides "position: 'absolute'" 0.42"
### Description
After upgrading to 0.42 our app looks like this.
![image](https://cloud.githubusercontent.com/assets/6696963/23504802/49a912a4-ff41-11e6-9154-1af8b530c3cd.png)
The red dots are centered in the portraits.

This is the code
[code]
`DotCountIndicator` is has `position: 'absolute'`

If i remove
[code]
from the parent i get the following look.
![image](https://scontent-arn2-1.xx.fbcdn.n

[2017-03-02 11:22] Nopik opened #12655 "AnimatedComponent references `_component` before it is set"
I'm getting a number of cryptic crashes in NewRelic, with the following stack trace:

[code]

It seems, that https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/AnimatedImplementation.js#L1707 is being called before https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/AnimatedImplementation.js#L1814 is called.

Sadly, at the moment I do not know how t

[2017-03-02 12:41] MrPluto commented on #11489
+1 on 0.41.2 . onendreached just called one time

[2017-03-02 12:47] wachunei commented on #12261
I have the simplest project ever (https://github.com/wachunei/wifiuc-react-native), almost no linked libraries. I've tried to run `react-native-git-upgrade`, tried replacing `=======` with `);` where syntax looks like it should go.

But no, I can't do it. It's driving me nuts 😫.

I'd gladly take a PR that resolves `project.pbxproj` conflicts after running `react-native-git-upgrade` 🙃

[2017-03-02 12:49] MrPluto commented on #1967
+1 here

[2017-03-02 12:52] MrPluto commented on #11489
+1 on 0.41.2.  HEEEEEELP

[2017-03-02 13:19] amitverma commented on #11846
I'm seeing the exact opposite behaviour. I get the invalid layout error only when remote debugging is switched on. RN 0.40.0

[2017-03-02 13:31] eugene-matvejev commented on #7308
for me it helped
[code]

[now i got different problem, react-native-maps from airbnb do not work :( ]

[2017-03-02 14:20] lodev09 commented on #10471
I just published my first RN package after few weeks of learning/using this framework -- and yes its far more better than other cross platform out there.

The package includes a custom ActionSheet that uses the modal which works well for me (disabled the default animation and created my own). If anyone interested:
https://github.com/lodev09/react-native-cell-components

[2017-03-02 14:33] AndrewJack commented on #12646
React Native v0.31.0 uses OkHttp v3.2.0
The latest version of react native uses OkHttp v3.4.1

The newest version of OkHttp you can use is v3.4.2 due to breaking changes in v3.5.0
https://github.com/square/okhttp/blob/master/CHANGELOG.md

[2017-03-02 14:34] AndrewJack commented on #12646
@facebook-github-bot answered

[2017-03-02 14:34] #12646 closed

[2017-03-02 14:36] AndrewJack commented on #12646
You'll be able to use the latest version once this has been merged https://github.com/facebook/react-native/pull/11835

[2017-03-02 14:50] Negan1911 commented on #8237
Im also seeing this

[2017-03-02 15:04] ajamiesonfraser commented on #12633
Porblem is solved for me. Needed to setState after running the for loop. Still don't know why this affected Debugger though

[2017-03-02 15:43] cxy200927099 opened #12658 "how to confuse,compression,encryption the react native js code?"
### Description

React Native JS bundle file how to confuse, compression, encryption, the existing program can not guarantee on the assets directory index.bundle file security?

When i decompose the android apk file, I get the index.android.bundle file from assets directory;
Then i open the bundle file with sublime text, I can easy find my request api  that was defined as const in js code!

React

[2017-03-02 16:04] seavan commented on #12071
@ericvicenti please reopen the issue

[2017-03-02 16:39] henrikra opened #12660 "Left, Right, Top and Bottom with percentages don't work when same element has flexDirection: 'row'"
### Description

Here is example:
[code]

With this code the layout **should** look something like this:
![image](https://cloud.githubusercontent.com/assets/12229968/23516753/c72f7756-ff76-11e6-848e-2ef6727c28ee.png)

Instead it looks like this:
![image](https://cloud.githubusercontent.com/assets/12229968/23516776/d83f7794-ff76-11e6-9b66-ee82badeb1a5.png)

So the `left` is not calculated right whe

[2017-03-02 16:45] henrikra commented on #12660
@emilsjolander I have posted this on facebook/yoga now :) https://github.com/facebook/yoga/issues/454

[2017-03-02 16:52] Parrryy opened #12661 "Semantic Issue when building RN project in XCode or with react-native run-ios"
I get the following error:

The terminal `react-native run-ios` error:

	CompileC /Users/cparry/repos/learnium/mobile/ios/build/Build/Intermediates/RCTAnimation.build/Debug-iphonesimulator/RCTAnimation.build/Objects-normal/x86_64/RCTNativeAnimatedModule.o RCTNativeAnimatedModule.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
(1 failure)

In xCode:
<img width="1279" alt="sc

[2017-03-02 17:11] MikeBlair commented on #12473
We are having a similar problem with release builds on 41.2.

For us, the cause was React Native 41.2 on a fresh npm install is pulling in uglify-js vs 2.8.3.  We shrinkwrapped it back to 2.7.5 and everything is working fine again.

[2017-03-02 17:13] sergeychilingaryan commented on #5846
@hnvcam how unregister LocalBroadcastManager ?

[2017-03-02 17:32] ericvicenti commented on #12658
We don't currently offer any code obfuscation features.

If this feature is important to you, please post the feature request on Canny, and the community can vote and help prioritize it for the core team!

https://react-native.canny.io/feature-requests

[2017-03-02 17:32] #12658 closed

[2017-03-02 18:17] sahrens commented on #1967
This should be fixed in the new FlatList component - let me know if you have issues with that.

[2017-03-02 18:34] DataGreed commented on #12609
Have the same problem

[2017-03-02 18:58] orenklein commented on #12453
I just experienced similar issue with Animated.View on android. However, translateX/translateY did not work also. I found that setting backgroundColor: 'transparent' is solving this issue. @scarlac Maybe it will work for you too.

[2017-03-02 19:21] ide commented on #8237
Looking at Chrome, it doesn't modify the content-type header at all so we shouldn't be adding a charset.

[2017-03-02 19:36] peacechen opened #12663 "LayoutAnimation singleton generates "Warning: Overriding previous layout animation" when multiple components animate at once."
### Description

LayoutAnimation can not deal with multiple components animating at once.  The console has the message:

### Reproduction

Component A does
[code]

Component B also does similarly:
[code]

If A and B's state change at the same time (or rather when React resolves their new states), the warning message appears and B's animation is overridden by A's configuration (or vice versa depend

[2017-03-02 19:47] fmatoss commented on #12640
I was going to create an issue for this, the CLI command `eject` is not working anymore.

[2017-03-02 20:37] hramos opened #12664 "[0.43] Commits to cherry pick into stable"

[2017-03-02 20:39] hramos commented on #12664
## `NavigationExperimental` is deprecated in 0.43 (@ericvicenti)

These commits should be cherry-picked into the next 0.43 RC release:

- a0f49fcbd5705d5e387ee1227fe5d6c4b41ea343
- 08dbc43fa64ff1dfc0d364b6cef6262426f76b64

[2017-03-02 20:55] BigPun86 commented on #12468
+1

[2017-03-02 22:07] maithuy opened #12666 "Command `npm install --save --save-exact react-native` failed"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

Every time I created a new app us

[2017-03-02 22:11] maithuy opened #12667 "Sophos Anti-Virus software reports ransomware activities"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

After installing react-native bun

[2017-03-02 22:50] fungilation commented on #10608
Requiring downgrade in one's OS is no "solution".

[2017-03-02 23:14] sahrens commented on #12512
Yeah, 400MB is still a little high - what device are you running on? The heap and cache sizes will vary depending on the device memory. The view count is much more reasonable, but also a bit high. You can try dialing down the `windowSize` too. The default is 21 which is actually quite large.

But note that the live memory number is going to be much higher than the background number. That  359mb in

[2017-03-02 23:40] th317erd commented on #12131
What is NOT said here is that the matching is anchored to the end of input (the regular expressions in the array are built into one final regular expression that is terminated by $)... so make sure to put a .* at the end of the regular expression you would like to match against. Also, another helpful hint is that all '/' forward slashes are automatically replaced with the current OS path separator

[2017-03-03 00:34] toshi0383 opened #12669 "Movies Example not working"
### Description

1. Clone and run Example/Movies/Movies.xcodeproj
2. Movie API responds with no data, the JS context crashes and error screen appears.

Is API token still valid?
I can submit a PR for the JS crash.

### Additional Information

* React Native version: master (fea874584)
* Platform:iOS
* Operating System: macOS Sierra 10.12.3

[2017-03-03 01:21] SeanDunford commented on #934
Would definitely like to see this implemented. https://react-native.canny.io/feature-requests/p/show-network-activity-in-dev-tools

[2017-03-03 01:36] yanni4night commented on #9256
Same with RN 0.35

[2017-03-03 02:15] booboothefool commented on #12512
@sahrens Hello friend. Thanks for your response. ^^

I tried adding some of my pictures back and besides that, the only code change to FlatList was:
[code]
I noticed that using a smaller `windowSize` instead of the default definitely reduced the lag with the scrolling.
https://www.youtube.com/watch?v=JgkeojJLmmA
Here's the data:
![screen shot 2017-03-02 at 9 07 46 pm](https://cloud.githubuserconte

[2017-03-03 02:33] Maxwell2022 opened #12670 "[0.42.0] Missing Pod specs"
I'm not sure I should report this here or in Yoga repo.

Running `pod install` with react-native 0.42.0 I got the following error:

![screen shot 2017-03-03 at 1 30 41 pm](https://cloud.githubusercontent.com/assets/670701/23535948/dbc74690-0015-11e7-94f1-ce429b05ca76.png)

[2017-03-03 02:41] 13160102112 opened #12671 "keyboard may not show when using OPPO phone sometimes"
keyboard may not show when using OPPO phone sometimes

[2017-03-03 02:47] 13160102112 opened #12672 "DatePickerIOS minuteInterval does not work when choose mode='time' on some phones"
this happens not on every phone ,however,when I change time to datetime ,it woks correctly on those phones which do not work correctly when using time

[2017-03-03 02:49] 13160102112 commented on #12672
my version is 039.0

[2017-03-03 04:43] sahrens commented on #12512
Does `ListView` not use more memory than `FlatList`? Or is `FlatList` better on memory, but more sluggish than `ListView`? Wth a gigantic `windowSize`, like you had before, or with `enableVirtualization={false}`, they should have pretty similar performance. Also note that `debug` is a massive perf hit, so make sure to turn that off (and also make sure you are not in `__DEV__` mode) when you are ev

[2017-03-03 05:26] a1exlism commented on #9312
@SupriyaKalghatgi Thanks for your update.

[2017-03-03 05:35] felagund18 commented on #11489
Any nested ScrollView?

[code]
In this case, onEndReached or onScroll function will not be called on 2nd level of ScrollViews...

[2017-03-03 06:32] battuashwik commented on #4944
Im seeing this issue too.

[2017-03-03 06:33] jasongrishkoff commented on #12512
You're right -- FlatList is performing a heck of a lot better with __DEV__
mode disabled.  I created a release variant and am testing that on my
Android device -- it's behaving a lot better, and the memory is 1) staying
reasonable; 2) cleaning up a bit when activity stops (eg, app is
backgrounded or I stop scrolling).

My React Native app is still hanging around 120mb, which puts my app as the
hig

[2017-03-03 06:36] erichua23 commented on #8449
I my case, since i used Navigator, the 'RCTLinkingIOS' subspec is needed, add it to Podfile and it works.
[code]

[2017-03-03 06:45] brunolemos commented on #11627
@fgaleano were you?

[2017-03-03 06:59] keerthanarbt commented on #12414
Hi @hramos ,
Please give some explanation.
It seems like some issue related to cpu architecture support.

The same code works fine with other 32 bit devices like, Nexus 5,6, Asus and Moto android devices..
The same code work perfect in Apple device.

Really stuck here please help out.
Otherwise give some reason why you closed this issue. Which will be helpful.

[2017-03-03 07:06] Gapur commented on #2880
Are you sure that the correct directory? Look at directory of project.

[2017-03-03 07:17] vidhyalakshmirbt commented on #10845
i have similar issue , did anyone find solution to it or any one from development team would address this soon?

[2017-03-03 07:31] yeknava opened #12676 "RN start command uses so much ram."
### Description
in recent versions of RN 40+, react native start command uses more than 1.5G of RAM.

### Additional Information

* React Native version: 42
* Platform: both
* Operating System: Linux

[2017-03-03 07:33] KenChoi1992 commented on #11336
Same problem here, first run
[code]

Then copy node_modules/react-native/node_modules/babylon to override node_modules/babylon fix this problem.

[2017-03-03 07:39] formatlos commented on #12311
As I'll not have any time to look into the issues in deep, I'd still recommend creating a sample project. Actually I think it should be rather easy, the problems should occur without any data. I'll also try to put a sample project together ...

[2017-03-03 08:15] pgonzalez-santiago commented on #11681
@jagi I'm having the same problem, Did you fix it ?

[2017-03-03 08:16] Cederman opened #12678 "WebSocket "onclose" event is missing code attribute"
### Description
I have successfully opened a WSS connection on the iOS Simulator where I get data back from the socket. No issues. However, the same socket doesn't seem to get any data at all in the Android emulator. I've tried with another WSS endpoint just to rule out the SSL being the issue. _wss://echo.websocket.org_ works on both platforms without issues.

To debug this, I expected to get a `

[2017-03-03 08:19] arnsa opened #12679 "No CPU Profiling option"
Hello,

I'm developing an app using RN and I wanted to make some performance tests, but I can't find "Start CPU Profiling" option in dev menu on iOS. It's just not there. Why?

[2017-03-03 09:02] keerthanarbt opened #12680 "App crashes in 64 bit Android devices"
Hi @hramos ,
Please give some explanation.
It seems like some issue related to cpu architecture support.
(We were able to reproduce issues in Samsung S6, S7, Lenova K4 note.. devices)

The same code works fine with other 32 bit devices like, Nexus 5,6, Asus and Moto android devices..
The same code work perfect in Apple device.

Really stuck here please help out.
Otherwise give some reason why you

[2017-03-03 09:06] ckitterl commented on #5399
@jimzhao2012  I don't is a good idea to modify RN code.　Mybe could eval business.bundle.js at base.bundle.js?

[2017-03-03 09:07] desmond1121 commented on #12676
+1, it would start 4~6 node instance and every one use 300~400MB RAM.

[2017-03-03 09:27] gilbertKaradja opened #12681 "Child View have a 1pixel gap between them"
![x2_edit](https://cloud.githubusercontent.com/assets/22845863/23545389/76b3dd00-fffb-11e6-8266-2969eb98489f.png)
### Description
I have a simple layout.
1) View A: filling whole screen (flexDirection: column)

2) View B and View C = under View A. View B (flex: 25)  View C (flex 75)

3) View D and View E = under View C

Everything works fine in the emulator but when i build an apk and try it on a

[2017-03-03 09:51] oronbz commented on #12289
Same happens here
React Native version: 0.41.2
Platform: Android device 7.1.1
OS: macOS
JS Debugger: Chrome Dev Tools, React Native Debugger

[code]

[2017-03-03 09:57] K-Leon commented on #10845
I think it won't be easy to fix - as far as i've monitored it. I think it's the same Root Cause like: #10471 ( IOS ) correlated to Modal handling.

To specify this more clearly: Switching fast between "Modal Level" Items causes a lot of issues - even without animations. The current Implementation is highly sensitive towards these switches. I think it has something to do how these Modals are added

[2017-03-03 10:03] luoyushouchai commented on #7258
@zhangwebb Enables new incubating mode that makes **Gradle selective when configuring projects**. Only relevant projects are configured which results in faster builds for large multi-projects. See the section called “Configuration on demand”.****

[2017-03-03 10:07] MehediH commented on #7308
This worked for me, from https://medium.com/@alberto.schiabel/react-native-on-xcode-beta-8-0-how-to-fix-initial-build-error-f0225c649850

1. Start by opening your project on XCode
2. head over to the RTCWebSocket project (in the TARGETS section)and double click it;
3. in the build settings tab, select both “All” and “Combined” views
4. look for “Apple LLVM 8.0 — Custom compiler flags”
5. in the “O

[2017-03-03 10:07] vidhyalakshmirbt commented on #10845
@K-Leon  we haven't used any Modal component explicitly anywhere in our project. still issue persists.

[2017-03-03 10:16] joaosilva05 commented on #41
+1, also happening in 0.41

[2017-03-03 10:33] klaasman commented on #11068
Any news on this issue?

[2017-03-03 10:43] jdmunro commented on #11601
I just ran into this issue. I was able to solve it using the `yarn.lock` solution from @notjosh and then clearing the babel cache by removing `~/.babel.json` as @nikaspran suggested 👍

[2017-03-03 10:49] codebymikey commented on #10196
@alekhurst and @raphkr, the reason it fails on android releases is because the libraries in question have their `package.json` files referencing the ios versions explicitly as their [main](https://docs.npmjs.com/files/package.json#main) entry point.

react-native-location's [package.json file](https://github.com/timfpark/react-native-location/blob/b8cf94c/package.json#L18)

react-native-passcode-a

[2017-03-03 10:53] nicotroia commented on #12514
I'm getting this error too, on:
react-native-cli: 2.0.1
react-native: 0.41.2

This started happening mid branch after doing nothing particularly interesting. Now, even if I go back a few commits, I still get the error. I can no longer run any branch of my app... So strange. Trying everything...

[2017-03-03 11:00] GertjanReynaert opened #12683 "Packager fails loading Intl polyfill for Android"
### Description

For using React-intl on android we must add a polyfill, since Intl isn't supported yet in android. When importing the Intl polyfill in RN41.2 the react-intl library works fine. When using the same import in RN 42 the following error is thrown:

[code]

This is the same error as described in https://github.com/facebook/react-native/issues/12071, but since the issue was closed for a

[2017-03-03 11:06] scarlac commented on #12103
It seems counter-intuitive that NavigationExperimental should get better treatment (ie. stay in core), given its name and nature. I feel like it should just be treated the same, removed from core, perhaps creating a separate transition repository for those who want to upgrade but are tied up to it (if that's possible). Documentation and mentions should be removed as soon as possible.

The best exp

[2017-03-03 11:11] cuitianze commented on #11302
+1

[2017-03-03 11:16] keerthanarbt opened #12684 "App crashes in 64 bit android devices"
Hi @astreet,
Please give some explanation.
It seems like some issue related to cpu architecture support.
(We were able to reproduce issues in Samsung S6, S7, Lenova K4 note.. devices)

The same code works fine with other 32 bit devices like, Nexus 5,6, Asus and Moto android devices..
The same code work perfect in Apple device.

Really stuck here please help out.

[2017-03-03 11:19] sryze commented on #9023
I'm seeing this bug on Android too (Android 7.1 emulator). The `opacity: 0` solution from this post worked for me:

http://stackoverflow.com/questions/38579665/reactnative-activityindicator-not-showing-when-animating-property-initiate-false

[2017-03-03 11:28] huangqiaobo commented on #10870
I see the same log at 0.36.0

[2017-03-03 11:41] Parrryy commented on #12661
Just checked with my work mates, this may be an issue with my environment as they aren't having the issue...

[2017-03-03 11:50] GertjanReynaert commented on #12683
cc @ericvicenti since you closed the previous bug report

[2017-03-03 11:54] rmevans9 commented on #12684
@keerthanarbt it would be helpful if you provide any types of error messages or stack traces you are getting on the devices that are not working. You can gather this information by running logcat while the device is attached to your machine.

[2017-03-03 11:55] rmevans9 commented on #12680
@facebook-github-bot duplicate #12684

[2017-03-03 12:10] rmevans9 commented on #12680
Duplicate of https://github.com/facebook/react-native/issues/12684

Github bot is not listening for some reason so can someone close this?

[2017-03-03 13:36] Msspl-PrashenjeetRoy opened #12685 "Getting a issue of refs.scrollView.scrollTo"
I have used `refs.scrollView.scrollTo` in many components in my app and we are using r`eact-native-fcm` and `react-native-image-picker`.

After few minutes using app I am getting app crashes and in report i got this below issue:

[code]

[2017-03-03 14:03] alphasp commented on #12223
I am having similar issue when running on ios with version 0.43.0-rc.0 with remote debug enabled.
It can be reproduce by creating a new project with `react-native init --version="0.43.0-rc.0" rn43`, then add a `console.warn` in render function, the screen will be render in blank and no yellow box appear.

[code]

[2017-03-03 14:13] vinhlh commented on #3099
I miss the way webpack alias does so much :"(
[code]

[2017-03-03 14:19] cailenmusselman commented on #12223
Will try and find the time to investigate today

[2017-03-03 14:28] jagi commented on #11681
@pgonzalez-santiago no I didn't fix it so far. I'm just not using this view for Android for now, so there is at list no extra padding added. But it still hides input field when keyboard opens, and until I write something it's not visible. I hope it will be fixed in the future versions of RN

[2017-03-03 14:31] pgonzalez-santiago commented on #11681
@jagi, Doh! thanks.

[2017-03-03 14:42] Pourya8366 commented on #12212
@glcrazier i use this function and it works!
https://developer.android.com/reference/android/graphics/Canvas.html#skew(float, float)

[2017-03-03 14:42] Pourya8366 commented on #12212
@roshangm1 No, i found nothing yet! :(

[2017-03-03 15:06] kh1990 commented on #11196
Update: I noticed the deadlock only occurs for me when I am working on a branch. Each time I submit a pull request and merge into the master, the deadlock is resolved. Maybe this will help some of you.

[2017-03-03 15:19] stivaugoin commented on #12289
I have the same problem

React Native version: 0.42
Platform: Android device 7.1.1
OS: macOS 10.12.3
JS Debugger: Chrome Dev Tools, React Native Debugger

[2017-03-03 15:31] #12680 closed

[2017-03-03 15:34] glcrazier commented on #12212
it works for canvas, but it is not a good option for animation framework in my opinion. I noticed that in latest release this issue was resolved. You can take a shot

[2017-03-03 15:35] alexandrebini commented on #12683
It's also happening here... same setup.

[2017-03-03 15:39] clovs commented on #10115
Hello @xavicolomer,

Did you find a Solution?
I got the same issue on my project.
Let me know ;-)

[2017-03-03 15:51] RichardLindhout commented on #11809
I have updated to v0.43.0-rc.0 and it's still very slow. ListView gives a lot of lagg.

[2017-03-03 15:57] astreet commented on #10845
Hey everyone, sorry you've been having these crashes. Without being able to look at a repro, this looks like a race condition between the UI thread and the native modules (background) thread.

`onSizeChanged` [here](https://github.com/facebook/react-native/blob/a99f6f51a959717a124d7fe61beab43b146518bb/ReactAndroid/src/main/java/com/facebook/react/views/modal/ReactModalHostView.java#L312-L313) is e

[2017-03-03 15:58] astreet commented on #10845
Of course, a consistent repro would go a long way towards us being able to figure out the right fix :)

[2017-03-03 16:08] astreet commented on #11809
@sahrens: there might be other listview lag issues besides the one I fixed. Do we have any public resources for people to be able to debug?

[2017-03-03 16:34] mikach commented on #12607
@zabojad how did you solve it?

[2017-03-03 16:56] kwef commented on #12623
Is there anything else that I need to do here, or is the PR all set?

On Wed, Mar 1, 2017 at 6:16 PM, Héctor Ramos <notifications@github.com>
wrote:

[2017-03-03 17:08] galeldar opened #12686 "Bundling large static assets results in Heap out of Memory"
Hi All,

I am trying to bundle a react-native app for production, using the following command:

`react-native bundle --reset-cache --entry-file index.ios.js --platform ios --dev false --bundle-output ios/main.`

The react-native-app that I am building contains a lot of static assets, primarily videos--389 MB to be exact. When I am trying to bundle the app, I get the following output in the command

[2017-03-03 17:08] mikebridge opened #12687 "react-native link gives "Error: spawn UNKNOWN" on Windows 10 (postlink runs bash)"
### Description

On Windows 10 professional, `react-native link [library-name]` gives the error:

[code]

### Reproduction

[code]

### Solution

I don't have a solution but it looks like the react-native-lock is running bash scripts from `node_modules/react-native-lock/package.json`

[code]

When I remove those lines I don't get the error:

[code]
### Additional Information

* React Native versio

[2017-03-03 17:14] sahrens commented on #12512
For a music app there may be special APIs and maybe some native code you need to write to make it a truly great experience. For example, you could save state to disk and then completely toss the JS context and all your views on background and/or when you receive a memory warning and the music could keep playing with a native module.

On Mar 2, 2017, at 10:36 PM, Jason <notifications@github.com<mai

[2017-03-03 17:19] ddeanto commented on #10845
For me, I experience this crash randomly when I change the redux state of my app while transitioning to a new view. I experienced this crash using [react native router flux](https://github.com/aksonov/react-native-router-flux) and now with the new [react navigation](https://github.com/react-community/react-navigation) and react native versions 39-41.

I can't seem to consistently repro this crash,

[2017-03-03 17:21] jasongrishkoff commented on #12512
We're getting into unrelated territory, but how does one toss views on background?  Just monitor AppState and set the main component to be null when state is background?  Right now I'm using mobx + [react-native-music-control](https://github.com/tanguyantoine/react-native-music-control) to handle the playlist component, and it works just fine when the app is backgrounded.  It's just that the app d

[2017-03-03 17:34] sathyakumarseshachalam commented on #12188
I have removed the duplicates in my `.pbxproj` via [xUnique](https://github.com/truebit/xUnique). Yet I keep getting the below error
[code]
And almost sure .pbxproj is at fault here, for a couple commits back, this works without any problem, but just not able to pinpoint the problem.

PS : I come from a non-ios/xcode background

[2017-03-03 17:38] sathyakumarseshachalam commented on #12188
My bad. Had duplicate image assets. Removing them and re-running helped.

[2017-03-03 18:01] sahrens commented on #12512
That might help, yeah. You also might want to do some research on native Android development and might have to write some Java to get a world-class music player experience. Have you built anything similar with something like Cordova? How does it fair memory-wise, especially in the background?

[2017-03-03 18:03] sahrens commented on #12512
I think music playback should also keep your app prioritized and less likely to get killed by the OS in the background. Are you seeing otherwise? Might want to reach out to the react-native-music-control maintainers, or ask on stack overflow.

[2017-03-03 18:07] Cooke commented on #10845
@astreet Hey, I can consistently reproduce this with  https://github.com/Cooke/ReactNativeAndroidModalCrashBug/

[2017-03-03 18:14] sahrens commented on #11809
Could be a million things. General Android performance tooling? Is there a public fbsystrace equivalent? If the issue is just JS, you can try adding

    require('InteractionStallDebugger').install();

To their bundle.

[2017-03-03 18:19] hramos commented on #12414
This issue was closed because it did not provide sufficient information as outlined in the template. Feel free to open a new issue, and make sure to fill out every field.

[2017-03-03 18:21] hramos commented on #12684
Please fill out the template when opening a new issue. See https://github.com/facebook/react-native/issues/12414#issuecomment-284030023

[2017-03-03 18:21] #12684 closed

[2017-03-03 18:22] hramos commented on #12685
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-03 18:22] #12685 closed

[2017-03-03 18:24] hramos commented on #12652
I think it would be useful if you or someone could update all the references to 23.0.3, and open an issue here for anything that appears to block you from using the latest tools. Make sure to run all the unit tests, e2e tests, and so on.

I am going to go ahead and close this issue as it does not describe anything that is specifically broken, but please do go ahead and open any issues if you find

[2017-03-03 18:24] #12652 closed

[2017-03-03 18:29] Msspl-PrashenjeetRoy commented on #12685
Why closing wait for my reply. I have posted it today. I have big code in
my project so can't share all here. Main issue arises when i am using
scrollto in any component app crashes after some time. When i removed these
codes app is not crashing.
On 3 Mar 2017 11:53 p.m., "Héctor Ramos" <notifications@github.com> wrote:

[2017-03-03 18:29] jasongrishkoff commented on #12512
The music player experience is pretty solid -- they've done a great job with the aforementioned library.  My only problem right now is that my React Native app is quite lean (122 views on fully-loaded home screen according to meminfo), and yet still uses more memory than any other app on my Android device -- even when it's just a basic project (~70MB) with no FlatList or navigation or anything imp

[2017-03-03 18:34] hramos commented on #12685
You can open a new issue, just make sure it fills out everything in https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md

[2017-03-03 18:38] Msspl-PrashenjeetRoy commented on #12685
Ok
On 4 Mar 2017 12:06 a.m., "Héctor Ramos" <notifications@github.com> wrote:

[2017-03-03 18:53] gwmccull commented on #12342
Experiencing the same issue with rows and the header

Interestingly, if I update the Text component in a way that causes the live/hot reloading to refresh the screen (for example, changing the lineHeight), the text becomes selectable.

# Reproduction
Just to prove to myself that I wasn't crazy, I reproduced it on RN Playground on RN 0.33
https://rnplay.org/apps/R-pm5Q

# Additional Information
- R

[2017-03-03 18:58] dasmikko commented on #2481
@aicioara But what about iOS?

[2017-03-03 19:28] thatjuan commented on #12261
Here's what finally worked for me. I took some suggestions from this thread and finally got my project up from 0.40 to 0.42 (I meant it to be 0.43, but didn't realize 42 is still "latest").

## 1. Create a new branch (e.g. upgrades/0_40-0_42) (optional)

This is to facilitate the process of undoing steps if needed.

## 2. Unlink all packages

As suggested by @fungilation, unlinking all packages re

[2017-03-03 19:49] maggialejandro opened #12688 "assembleRelease error: Invalid filename. Unable to add."
I'm having this error when trying to build the release apk with assembleRelease

and this throws with --stacktrace

### Reproduction
cd android &&./gradlew assembleRelease

### Additional Information

I'm requiring a Component from
That file (MAirlines.png) is located in /src/screens/Vuelos/screens/Busqueda/component/Trayecto/airlines

* React Native version: 0.40.0
* Platform: Android
* Operating

[2017-03-03 20:20] esamelson commented on #12661
I'm getting this error as well. Have you found any solutions or workarounds?

[2017-03-03 20:52] mmmurf opened #12689 "o[8"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you

[2017-03-03 21:05] rgoldiez commented on #12670
Same issue.

[2017-03-03 21:08] mzmiric5 commented on #10751
Is it possible that this happens due to the fact that, since iOS8 UIViewController’s implementation of prefersStatusBarHidden returns YES when its trait collection’s horizontal size class is compact?

https://developer.apple.com/reference/uikit/uiviewcontroller/1621440-prefersstatusbarhidden

[2017-03-03 21:21] sahrens commented on #12512
Also make sure you're doing an optimized release build of the native code when making comparisons.

On Mar 3, 2017, at 10:32 AM, Jason <notifications@github.com<mailto:notifications@github.com>> wrote:

The music player experience is pretty solid -- they've done a great job with the aforementioned library. My only problem right now is that my React Native app is quite lean (122 views on fully-load

[2017-03-03 21:52] micopc commented on #12223
I'm also having the same problem on version 0.42. When I try to open a modal, the app freezes and after trying to interact with it, it crashes. Also the remote debugger is showing this warning: "Calling of `[-RCTUIManager setFrame:forView:]` which is deprecated." Which might be related to the commit f33f84e75f1957f381e34bc99a902b9c324db6fa

[2017-03-03 21:58] #12689 closed

[2017-03-03 21:59] hramos commented on #12664
## New list components in 0.43: `FlatList`, `SectionList`, `VirtualizedList`

These commits should be cherry-picked into the next 0.43 RC release:

- 2022b1eee6fdf0dfabac6102ec5f304d2aef5516
- d2ed064519cca3512c344374178d149868889506
- 32d753164d1dc33450087fc966fa448e7070a15d

[2017-03-03 22:23] zabojad commented on #12607
@mikach  In the build settings, I've added the nodes_modules/React directory in the Header search path.

[2017-03-03 23:33] ide commented on #12670
The official fix for this is to explicitly specify the location of React Native's copy of Yoga in your Podfile:

[code]

Would anyone like to submit a docs PR?

[2017-03-03 23:42] ksegla commented on #11809
I also upgraded to v0.43.0-rc.0, like @RichardLindhout. If anything, it felt even slower. With 0.41, my Galaxy S6 was fine with 50 items per page, now it's around 25 (more than that and I have to wait 4-5 seconds before getting a display). My items render as a picture, some text and icons, and are connected to redux. So not the simplest components but still, the same that used to fit perfectly by

[2017-03-04 00:38] cailenmusselman commented on #12223
Oooookay guys, so I have it figured out... sort of.

The elevation changes I introduced to `YellowBox ` cause iOS apps to hang when remote debugging is enabled and a warning is logged.

So my changes do not effect the `Modal` component directly, it's just that `Modal` is logging the warning `"Calling of '[-RCTUIManager setFrame:forView]' which is deprecated"` which in turn brings out the bug intro

[2017-03-04 01:31] Rovack commented on #12527
See https://github.com/facebook/react-native/issues/9935.

[2017-03-04 02:01] RichardLindhout commented on #11809
@sahrens it performs just normal on ios. Before I updated to later versions of React Native the app performed not the same as (a recyclerview in Android) but still it worked wel enough. Now when I scroll the listview my whole app (only on Android) becomes just not usable all the buttons and navigation are slow. When I select items in the listview they become selected after sometimes 10 seconds. If

[2017-03-04 02:58] chandu0101 opened #12695 "transformer not honoring .babelignore"
I have `.babelignore` file in my project directory with the following content `./assets/scalajs-output-android.js` . updated to 0.42 and i am getting following error  ..

`TransformError: assets/scalajs-output-android.js: Cannot read property 'tokens' of undefined`

Note : Its working fine in 0.41 though

[2017-03-04 03:19] chandu0101 commented on #6830
@satya164  i used your trick and it worked until 0.41, but in 0.42 its failing #12695  , any idea how to overcome this .. (my guess is new source-map support is the root cause here) :S

[2017-03-04 03:33] chandu0101 commented on #12071
probably related to #12695

[2017-03-04 04:09] yloeza commented on #11906
after some debugging on my own I found the reason why text inline image is not getting scaling properly, here my findings:

During this commit change: https://github.com/facebook/react-native/commit/68c6d71cea4e37f0360453be6e7f792ed12f6f3a
The way width and height are used to generate TextInlineImageSpan was changed:
from:
[code]
to:
[code]
so before it was getting set from `getStyle*()` methods,

[2017-03-04 04:12] wachunei commented on #12609
Same issue here!

[2017-03-04 04:27] roshangm1 commented on #12212
@glcrazier I think, not yet resolved. :/

[2017-03-04 05:21] chandu0101 commented on #12695
thank you for breaking this , for my use case custom transformer is more sane solution :)

[2017-03-04 05:21] #12695 closed

[2017-03-04 06:33] reyesr commented on #12223
Thansk for digging into the issue @cailenmusselman !

I think your first choice (1)  is pretty good, as long as elevation is not supported on IOS, keeping it undefined seems the better choice (ie, with the minimal possible side-effects)

[2017-03-04 06:41] tianxind commented on #1417
Yes seeing the same problem as well. This ticket shouldn't be closed.

[2017-03-04 06:46] futurechallenger commented on #11389
I got this problem because i started a 0.39 package server before i start the 0.41 one. Turn the 0.39 one off, then start 0.41 again. everything works fine!

[2017-03-04 06:57] ksegla commented on #11809
@RichardLindhout If you're referencing FlatList, first of all I was being a total idiot as I was importing and using an imaginary FlatView that, for some weird reason, refused to be a real thing :-). Once I realised my mistake, FlatList was actually simple to use (though I had to bind the render function in order to see my component props).
FlatList does seem a lot faster (though it seems that it

[2017-03-04 07:07] sungwoncho opened #12698 "react-native run-android no longer supports --configuration=release"
### Description

Documentation for [Testing the release build of your app](https://facebook.github.io/react-native/docs/signed-apk-android.html#testing-the-release-build-of-your-app) for Android seems to be outdated.

Concretely, the flag `--configuration` does not exist anymore.

### Reproduction

Running `react-native run-android --configuration=release` gives me:

      error: unknown option `-

[2017-03-04 08:07] taiki-t commented on #12609
I had the same issue and for my case, deleting `ios/build` directory and re-running `react-native run-ios` solved.
Errors shown were something like  this:

[code]

This happened as I imported most of project files from another project.

[2017-03-04 08:10] hilkeheremans commented on #12223
@cailenmusselman EXCELLENT work! I would also go with option (1).

Perhaps very obvious, but probably a good idea to comment a little extra in the code to provide context on why this change was done.

[2017-03-04 08:15] K-Leon commented on #11809
@ksegla Could you do a git bisect to isolate the bad commit?

[2017-03-04 09:51] yolosaucisson opened #12700 "Implement native tabs"
### Description

I would like to know when the native tabs for Android will be implement?
And in the future, for iOS?

### Additional Information

* React Native version: 0.42
* Platform: Android
* Operating System: Linux

[2017-03-04 12:02] alloy commented on #393
Here’s a custom transformer that sets up a pipeline that does TypeScript -> JS -> Babel transformation and all the source-map mangling required: https://github.com/artsy/emission/compare/93ab096089c3d07040511e070cb0585e66cccec2...5c6728b7058eac6a8fbd4353cd98e9f91a58ff99

[2017-03-04 12:11] alloy commented on #7083
Here’s a custom transformer that sets up a pipeline that does TypeScript -> JS -> Babel transformation and all the source-map mangling required: https://github.com/artsy/emission/compare/93ab096089c3d07040511e070cb0585e66cccec2...5c6728b7058eac6a8fbd4353cd98e9f91a58ff99

[2017-03-04 13:21] pewh opened #12701 "Android: invokeDefaultOnBackPressed not triggered anymore on RN 0.42"
Previously, I can trigger `moveTaskToBack` inside `invokeDefaultOnBackPressed` like this:

[code]

it's work on RN 0.40, until I upgrade to RN 0.42, it didn't trigger anymore when press back button on home page.

### Additional Information

* React Native version: latest (0.42)
* Platform: Android
* Operating System: Linux

[2017-03-04 13:34] doochik commented on #12683
I have the same problem. Do anyone find workaround?

[2017-03-04 14:22] sonaye opened #12702 "Adding defineEnumerableProperties to packager babelHelpers"
While working on a certain state management use case https://github.com/mobxjs/mobx/issues/839, i had an issue getting it to work specifically with react native. After some digging, i now understand that the react native packager uses some custom babel helpers, which can be found here [facebook/react-native/packager/src/Resolver/polyfills/babelHelpers.js](https://github.com/facebook/react-native/b

[2017-03-04 14:51] palaniraja opened #12704 "Where can I find source of "Gratuitous Animation App" referred in UIExplorer?"
--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

I built UIExplorer from master "7e2d7f0" and I see a reference to "Gratuitous Animation App" under "[Animated](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/AnimatedExample.js#L229)" section, but i could not find it in /examples folder.

I would like

[2017-03-04 16:05] iroshanAV commented on #9336
How can we run app on android v4 devices :( i'm still getting this error

[2017-03-04 17:16] cyclops24 commented on #12062
Hi guys,
I also want to create simple hello word based on this: https://facebook.github.io/react-native/docs/getting-started.html and I faced on this red error:
[code]

Can you help me to fix this?
I worked with React-Native later without any issue but after install new version this error appear on any app (also a simple hello world)

[2017-03-04 17:16] cyclops24 commented on #6691
Hi guys,
I also want to create simple hello word based on this: https://facebook.github.io/react-native/docs/getting-started.html and I faced on this red error:
[code]

Can you help me to fix this?
I worked with React-Native later without any issue but after install new version this error appear on any app (also a simple hello world)

[2017-03-04 17:25] cyclops24 commented on #12062
This is my complete error:
![photo_2017-03-04_20-51-18](https://cloud.githubusercontent.com/assets/8266479/23580755/d036e788-011c-11e7-9a2a-b2801d31a2b1.jpg)

[2017-03-04 17:25] cyclops24 commented on #6691
This is my complete error:
![photo_2017-03-04_20-51-18](https://cloud.githubusercontent.com/assets/8266479/23580755/d036e788-011c-11e7-9a2a-b2801d31a2b1.jpg)

[2017-03-04 17:33] sohobloo commented on #11939
Is there any workaround right now?

[2017-03-04 17:34] joshfriend commented on #6691
@cyclops24 restart the packager. It doesn't seem to pick up new images automatically.

[2017-03-04 17:36] cyclops24 commented on #6691
@joshfriend how restart packager. It's a simple hello world without any image:
I just run this command:
[code]
Exactly based on https://facebook.github.io/react-native/docs/getting-started.html

[2017-03-04 17:49] teodors commented on #11939
@sohobloo Not as far as I know. I struggled with this a lot and went back to ViewPagerAndroid. Unfortunately, iOS issues get a bit more love and attention than Android ones.

[2017-03-04 18:15] balesz opened #12705 "Can't debug TypeScript code because of the new source map generator in 0.42"
### Description

I use TypeScript and VSCode for development my app. Before 0.42 the RN packager is able to handle the compiled .js files with source map informations from TypeScript compiler. In 0.42 The new source map generator logic ignore these map informations and don't put them to the output boundle.map file. Because of this behaviour I can't debug my TypeScript code just the compiled JavaSc

[2017-03-04 18:21] asdacap commented on #6063
I was running react-native `0.42.0` and RxJS `5.2`, but babel-preset-react-native was on version `1.9.0`, the problem persist.

I can confirm that after upgrading babel-preset-react-native to `1.9.1`, it works. So I guess that is what really fix it.

[2017-03-04 18:48] deenfoxx commented on #7495
This is just something the Android Studio Emulator developers are going to have to fix/implement in the future when they get a chance.

However, in the meantime... You can import a large GPX trail file and let it play back at "1x" speed. I grabbed a GPX from here... [ExpertGPS.com -> ca-trails.gpx](https://www.expertgps.com/data/downloading.asp?file=ca/ca-trails.gpx)
...this file lasted about 8 mi

[2017-03-04 18:56] raldred commented on #7495
That's not true. I'm getting the same timeouts on real devices.
getCurrentPosition always times out. Watch works fine. Testing Z5, Nexus 5X
& Pixel,  All timeout on initial call to getCurrentPosition.

On Sat, 4 Mar 2017, 19:49 Deen Foxx, <notifications@github.com> wrote:

[2017-03-04 20:01] dfoverdx opened #12707 "Reference to `android avd` in Getting Started page is outdated"
I hope this constitutes a "bug", and that I'm posting this in the right place.

On [https://facebook.github.io/react-native/docs/getting-started.html](https://facebook.github.io/react-native/docs/getting-started.html):

According to [https://developer.android.com/studio/tools/help/android.html](https://developer.android.com/studio/tools/help/android.html), `android` is no longer supported.

[2017-03-04 20:33] smkhalsa commented on #6063
Also be sure to restart the RN packager

[2017-03-04 20:36] aleclarson commented on #9348
Perhaps a Facebook employee that knows more about the native bridge can help us?

It would be a dream come true to handle `applicationWillTerminate` and background tasks from the JS side.

[2017-03-04 20:41] Fenwil commented on #12212
@roshangm1 In [v0.42](https://github.com/facebook/react-native/releases/tag/v0.42.0) is fixed:
Fix skew transform on native side ([c681959](https://github.com/facebook/react-native/commit/c68195929b3d7f7cc1370e36f3e22b4cbd2d2707)) - @MaxGraey
I didn't try it yet but I guess it works now

[2017-03-04 21:18] aicioara commented on #2481
@dasmikko I believe it should be similar, but I don't have an Apple device to test, so don't take my word for it

[2017-03-04 22:23] sibelius commented on #10603
@oblador https://github.com/oblador/react-native-collapsible is working fine on RN42

[2017-03-05 00:02] roshangm1 commented on #12212
I tried it. But it doesn't seem to be working for me. Can you confirm if
it's working for you guys?

On Sun, Mar 5, 2017, 2:27 AM Leonardo Galante <notifications@github.com>
wrote:

[2017-03-05 00:16] hey99xx commented on #12597
@christopherdro This does not look to be Android specific issue, it's related to JavaScriptCore versions. The 'Android' label will be misleading.

[2017-03-05 01:09] MingYe-dz opened #12709 "RN0.42.0 not support ios 9.2 SDK."
I saw you modified the code in RCTProfile.m, as follows:
![image](https://cloud.githubusercontent.com/assets/19658375/23583544/88d8bad6-0182-11e7-96a5-c9f4d292ed7d.png)

but the api of ios 9.2 SDK is as follows:
![image](https://cloud.githubusercontent.com/assets/19658375/23583574/392febb6-0183-11e7-9d71-0d7f15091808.png)

so the param type is not matched。

[2017-03-05 01:38] tlvenn commented on #12652
Hi @hramos , thanks for a feedback, I will open a PR very soon. Have a good WE.

[2017-03-05 02:44] novotnej opened #12710 "release build fails with Execution failed for task ':app:processReleaseResources'"
switch (scale) {
      case 0.75: return 'ldpi-v4';
      case 1: return 'mdpi-v4';
      case 1.5: return 'hdpi-v4';
      case 2: return 'xhdpi-v4';
      case 3: return 'xxhdpi-v4';
      case 4: return 'xxxhdpi-v4';
  }

We use GitHub Issues for bugs.
### Description

This is a duplicate of [#5787](https://github.com/facebook/react-native/issues/5787), which has been closed for some reason.

T

[2017-03-05 03:46] fov42550564 commented on #1720
use https://github.com/remobile/react-native-smart-keyboard

[2017-03-05 04:45] lyahdav commented on #12646
@AndrewJack won't it not matter what version of okhttp3 React Native uses, because the project I'm adding RN to already uses okhttp3, it will still have this error?

[2017-03-05 04:50] MarkMurphy opened #12711 "Network inspector unaccessible due to error"
### Description

Network inspector unaccessible due to error.

### Reproduction

Create a new app with react-native-cli v2.0.1. Run iOS, Press CMD + D to open dev menu then "Show Inspector" then click on "Network".

### Solution

Unknown

### Additional Information

* React Native version: 0.42.0
* Platform: iOS, Android?
* Operating System: MacOS

![screenshot 2017-03-05 00 36 15](https://cloud.g

[2017-03-05 05:16] mikeaxle opened #12712 "Error receiving broadcast Intent { act=android.intent.action.HEADSET_PLUG flg=0x40000010 (has extras) }"
### Description
I am not so sure if this is a bug with React Native, or I am doing something wrong. I am creating a point of sale app. I have bridged a native android library to react native that allows the app to connect to a magnetic card reader peripheral, and read card details into the app from it via the device's headphone jack. There is a bug that causes the app to automatically close if the

[2017-03-05 06:29] ujwal-setlur commented on #7495
Removing the third parameter to getCurrentLocation worked for me on the emulator.

[code]

[2017-03-05 06:36] bexoss commented on #10404
+1 how can I fix it?
Even I changed `axios.get('localhost:3000/hello')` to `axios.get('127.0.0.1:3000/hello')`, the problem still left.

[2017-03-05 07:22] Yadro opened #12715 "[TextInput Android] duplicated input"
When I enter text in textinput, he duplicated in the console and Enter only sends to the console.

![](https://dl.dropboxusercontent.com/s/apphgbxmrepez52/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202017-03-05%2010.06.20.png?dl=0)

### Additional Information

* React Native version: 0.42
* Platform: Android, Genymotion Emulator
* Operating System: Windows

[2017-03-05 07:51] Maxwell2022 commented on #12670
@ide I'd be happy to do it, where would that documentation live? I don't think there is any section in the docs for Pods installation at the moment, except in troubleshooting?

I think it would a good idea to edit the release message (https://github.com/facebook/react-native/releases/tag/v0.42.0) to mention it too (@grabbou).

[2017-03-05 09:16] arsenghazaryan commented on #11317
@magicismight, @janicduplessis
When the component is getting unmounted it is throwing that error. Both android and iOS.

If you are using nativeDriver and Animated.diffClamp

[2017-03-05 09:40] phpfalcon commented on #26
@sebringj  thanks for sharing this can you please explain onBackStack

[2017-03-05 09:50] JPig opened #12717 "TextInput multiline={true} not functioning as expected"
### Description

TextInput multiline set to true no longer does newline on enter press. just blurs the TextInput instead.

### Reproduction

Just change from 0.41.2 to 0.42.0 using the default AutoExpandingTextInput Example from the TextInput Docs to see it happening

### Additional Information

* React Native version: 0.42.0
* Platform: Android ( Possibly iOS havent tested )
* Operating System: M

[2017-03-05 10:04] sonaye commented on #12702
any comments on this @skevy?

[2017-03-05 10:18] ahsanazwar opened #12719 "React Native Build Successfully But not running the app"
React Native Build Successfully but not doing anything just stuck on it
![4](https://cloud.githubusercontent.com/assets/20488590/23586465/07555e30-01b7-11e7-95a5-429be0e66763.PNG)

[2017-03-05 10:45] naihe138 opened #12720 "run the example in xcode has error"
when i open Movies.xcodeproj

<img width="614" alt="123" src="https://cloud.githubusercontent.com/assets/12893716/23586631/f2403b4c-01d3-11e7-9783-b20b72196322.png">

[2017-03-05 12:19] codeheadshopon commented on #6499
@lironess Answer Worked for Xiomi. I think that is the solution for Xiomi handsets. Thanks mate  :)

[2017-03-05 13:37] Dimous opened #12721 "cant set package name"
### Description

People from the Stack Overflow community say, that it worked the other day:
`react-native init MyApp -package "com.organization.project.app"`
--or--
`react-native init MyApp --package=com.organization.project.app`

### Reproduction

Run init with package name, but it keeps generating com.MyApp

### Additional Information

* React Native version: 0.42.0
* Platform: Android
* Operat

[2017-03-05 14:02] grundmanise opened #12722 "[FlatList] on new batch (items) render list bounces few px"
I've just recreated `FlatListExample` where `renderItem` has `Image` with `uri` & `Icon` from `react-native-vector-icons`, when scrolling the list I can see that sometimes it bounces few px. Am I the only one who experience this issue?

[2017-03-05 14:07] grundmanise commented on #12722
You can see this bouncing well when you scroll very fast to the bottom (I've got 500 items) and after that you scroll up with a smaller velocity

[2017-03-05 15:27] AndrewJack commented on #12646
@lyahdav What version of okhttp does your project use? If it is 3.5 or later you'll get a build failure due to some breaking api changes.

By including okhttp in your project you'll be updating the transitive dependency of okhttp that react native uses.

[2017-03-05 15:37] AlanFoster commented on #10201
For anyone else who falls into this; Renaming:

[code]

To be anything else, such as `ToastAndroidTutorial`:

[code]

And ensuring that you also update the wrapped JS file to use this new name:

[code]

[2017-03-05 15:41] LoekL commented on #6691
Here's how you restart packager: https://github.com/drapanjanas/re-natal/issues/56

I still don't get it to work though, re-starting packager nor path name without spaces fix it.

[2017-03-05 15:43] AlanFoster commented on #12720
Seems to be related to https://github.com/facebook/react-native/issues/12080 and https://github.com/facebook/react-native/issues/7308

What version of xcode are you running currently, is it still present on the latest version? :)

[2017-03-05 15:44] AlanFoster commented on #12719
Is the app accessible on the android emulator itself?

[2017-03-05 16:06] phaptq opened #12723 "Generating the release APK fails with error: UNKNOWN: unknown error, open 'C:\Users\truon\.babel.json'"
My version:
"react": "15.4.2",
"react-native": "0.41.2"

that is erro has fired:
`fs.js:558
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: UNKNOWN: unknown error, open 'C:\Users\truon\.babel.json'
    at Object.fs.openSync (fs.js:558:18)
    at Object.fs.writeFileSync (fs.js:1223:33)
    at process.save (E:\Mobile\phongtotapp\node_modules\

[2017-03-05 17:29] pedrohenriquerls commented on #12060
The same behavior happens with too, but no one of those workarounds fixes this behavior to me. I using the `0.42.0-rc.3`

[2017-03-05 17:48] GantMan opened #12724 "autocrlf git config - with windows EOL in source"
If you have autocrlf set to true, then the gradle.bat side of things has issues.   I've noticed this fixed in RN in the past, but it seems to be back.

There are 3 possible fixes, and I'm willing to do any:

### First Fix
Document that line endings cannot be enforced at a git level.  Adding this to the docs and suggesting the fix as policy:
[code]

### Second Fix
I could clean up the offending fil

[2017-03-05 17:50] ide commented on #12709
The existing code matches the latest docs here https://developer.apple.com/reference/uikit/uiactivityviewcontrollercompletionwithitemshandler?language=objc

You should upgrade Xcode and use the SDK for iOS 10. You app will still run on iOS 9.

[2017-03-05 17:50] #12709 closed

[2017-03-05 17:54] ide commented on #12670
Git grep for where there are docs on using cocoa pods, iirc there is a docs page that explains what the podfile should look like.

[2017-03-05 18:52] henrikra commented on #11302
Please look at @hkusb 's pr since I got this crash too!

[2017-03-05 19:08] ericvicenti commented on #12724
I'm in support of the manual fix and adding some basic CI test to prevent a future regression. Not everybody who works on this codebase will have an understanding of this problem.

Some of this may need to be addressed by the FB open source team, because the repo's commits are actually synced out of the fb-internal mercurial repository.

[2017-03-05 19:16] ahsanazwar commented on #12719
@AlanFoster yes it is it was running fine before I upgrade the react native

[2017-03-05 19:50] ahsanazwar commented on #12719
got it solved by reinstalling node.js

[2017-03-05 19:50] #12719 closed

[2017-03-05 20:00] sohobloo opened #12725 "[iOS]Multiline textinput can not pop toolbar on pressing the empty area."
### Description

Multiline textinput can not pop 'Paste | Select ...' toolbar when pressing the empty area.

### Reproduction

Simply render this:
[code]

If I press the line with text or cursor it works, otherwise not.
![3 -06-2017 03-49-38](https://cloud.githubusercontent.com/assets/13310861/23590738/85ee77ae-0220-11e7-91e2-f9ac350e35e3.gif)

It should pop the toolbar as the same as the iOS orig

[2017-03-05 20:12] vnshgrg opened #12726 "ListView can not use Methods (getScrollResponder, ScrollTo, etc)"
`React Native Version ^0.38.0`

I have a ListView which has a referenced as "listViewReference"

`
<ListView ref="listViewReference" ...
`

Trying to access methods of ListView I get following error

`
this.refs.listViewReference.getScrollResponder() is not a function
`

I can not access any methods. I tried `scrollTo()` and `getMetrics()` too but no luck!

I tried referencing with a call too.
`
<

[2017-03-05 21:45] eranbo opened #12727 "[Android] Chrome Debugging - Fetch crashes with invalid cookie characters"
### Description

Explain what you did:
Using fetch to get content of url (for example, here is a link from TechCrunch: https://techcrunch.com/2017/03/02/snap-shares-pop-more-than-40-in-public-trading-debut/)

what you expected to happen
Expected result was a resolved promise with response object that contains the web page html.

what actually happens:
Application crashed with the following excepti

[2017-03-05 21:48] Fouppy commented on #8778
@ericnakagawa I can confirm that this issue still exists as of RN 0.42.

[2017-03-05 21:53] eneskaya commented on #12661
@Parrryy have you found the problem?

[2017-03-05 21:58] Parrryy commented on #12661
Well my colleagueson weren't having the issue. So I downgraded and upgraded again and it seemed to run fine. That's the only advice I can give. I tried to reproducexplain it but couldn't.

[2017-03-05 22:23] Sofiane-13 opened #12729 "illegal callback type invocation from native module. This callback type only permits a single invocation from native code"
I developpe a react native application using sqlite.
My Android.node.js :

[code]
I have this error : illegal callback type invocation from native module. This callback type only permits a single invocation from native code

[2017-03-05 23:31] vincentaudebert commented on #11265
I agree with mentioning what XCode version should be used with each version of react-native. Couldn't find the information anywhere while facing the bug on this issue. Updating my macOS + Xcode now...

[2017-03-06 01:51] ericvicenti commented on #11924
I think this is out of scope of the core library. If you want to raise attention for it, maybe you can post on [canny.io](https://react-native.canny.io/feature-requests), where the community votes on features for the core contributors to focus on. In the meantime, I think this would best be addressed by building a standalone library.

[2017-03-06 01:51] #11924 closed

[2017-03-06 01:55] ericvicenti commented on #12727
I'm afraid this issue is going to be quite low-priority because it only affects chrome debug mode.

If you can find a simple fix, we can probably get it in.

[2017-03-06 01:56] ericvicenti commented on #12721
This isn't really a supported feature right now. But if you want to add the feature back, add me as a reviewer and I can help land it!

cc @mkonicek

[2017-03-06 01:56] #12721 closed

[2017-03-06 01:59] ericvicenti commented on #12080
So it looks like this issue can be resolved by updating Xcode?

Closing for now, but if anybody has a complete description of the issue, and repro steps, please file it as a new issue

[2017-03-06 01:59] #12080 closed

[2017-03-06 01:59] #12720 closed

[2017-03-06 02:00] ericvicenti commented on #12715
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-06 02:00] #12715 closed

[2017-03-06 02:00] ericvicenti commented on #12704
https://github.com/facebook/react-native/tree/master/Examples/UIExplorer/js/AnimatedGratuitousApp

[2017-03-06 02:00] #12704 closed

[2017-03-06 02:03] ericvicenti commented on #12676
cc @davidaurelio, any idea on how we can track down the RAM-hungry parts of packager?

[2017-03-06 02:05] ericvicenti commented on #12681
Have you tried an emulator with the same resolution and display settings as your phone? You may be able to reproduce it. Please also report the size of your phone screen and the version of Android.

[2017-03-06 02:50] omegayal commented on #12070
I also encounter this issue recently. If the webview is used in a pure Android project, the select element works normally. On the other hand, if the webview is wrapped in the form of the native UI component via SimpleViewManager and used in a RN project, the select element is not working anymore (just the sameas the WebView in react-native). So the problem seems to occur in the RN layer. Does anyo

[2017-03-06 02:52] Doko-Demo-Doa opened #12730 "error: cannot find symbol Method: parseOverScrollMode Location: ReactScrollViewHelper"
I got this problem. And it seems that React Native dependencies downloaded by Gradle doesn't have mentioned method:

ReactScrollViewHelper.java

/**
 * Copyright (c) 2015-present, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be

[2017-03-06 03:05] nickspacek opened #12731 "JavaScript strings with NULL character are not handled properly when passed to Native Modules"
### Description

We are using STOMP over WebSockets to communicate with our API. On iOS everything is working as expected, on Android messages are not arriving intact. As we dug it, we discovered the trailing NULL (\0) character in the strings was not arriving.

As we sought to narrow down the cause we were able to confirm (using a sample Native Module based on the ToastAndroid module) that on And

[2017-03-06 04:00] arsenghazaryan opened #12732 "Illegal node ID set as an input for Animated.DiffClamp node"
If I try to unmount the view it will throw an error "Illegal node ID set as an input for Animated.DiffClamp node".
Only if the view is controlled by the Animated value (nativeDriver = true). If I set nativeDriver=false then it is fine.

Same thing is hapening on RN 0.41, 0.42, 0.43.rc

Here is the code snippet:
[code]

![simulator screen shot mar 5 2017 7 40 36 pm](https://cloud.githubusercontent.

[2017-03-06 04:08] nihgwu commented on #12732
#11317

[2017-03-06 04:54] tiempham commented on #3198
On RN 0.41.2 you can try to add
import com.facebook.react.uimanager.UIImplementationProvider;
import com.facebook.react.flat.FlatUIImplementationProvider;
and
    @Override
    protected UIImplementationProvider getUIImplementationProvider() {
      return new FlatUIImplementationProvider();
    }
in ReactNativeHost class.

[2017-03-06 05:20] joshuapinter commented on #8488
@K-Leon Praise you 🙏

I was hunting down how to fix this for about an hour or so before I randomly stumbled upon your post. Thank you for not only posting this Issue but then coming back here and adding the solution. This is what makes the programming world go 'round.

Cheers.

[2017-03-06 05:41] naihe138 commented on #12720
Xcode 7.3.1
Build version 7D1014

[2017-03-06 06:07] naihe138 commented on #12720
@ericvicenti  #12080 and #7308 can`t solve this

[2017-03-06 06:20] droidwolf commented on #10061
the same issue:
`0  libreactnativejnifb.so         0x82469d80 facebook::react::makeJSCException(OpaqueJSContext const*, char const*)
1  libgnustl_shared.so            0x6ffcea68 std::string::_Rep::_S_empty_rep_storage`

Have used setNativeModuleCallExceptionHandler Setup exception catching
android version 0.36.
# OS Version: 5.0
# Device: vivo X5Pro D
# RAM Free: 1.9%
# Disk Free: 3.5%

[2017-03-06 06:24] ericvicenti commented on #12720
This "Movies" app is super old and we may want to simply remove it

[2017-03-06 06:30] ericvicenti commented on #2176
Having a more elegant solution for this would be great, but this has been stagnant for a while so I think this is relatively low-pri.

[2017-03-06 06:30] #2176 closed

[2017-03-06 06:31] ericvicenti commented on #12732
Closing as dupe of #11317

[2017-03-06 06:31] #12732 closed

[2017-03-06 06:36] ericvicenti commented on #7384
Sometimes errors like these can be fixed by wiping out node_modules and re-installing everything. Also by getting dependencies up to date.

I'm closing this for now because there are several workarounds for it, but I also think the packager team is working on making this more resilient.

[2017-03-06 06:36] #7384 closed

[2017-03-06 06:39] eranbo commented on #12727
Hi @ericvicenti, thanks for the reply.

I also tried with Nuclide package in Atom IDE debugger - same thing occur, if it makes any different for prioritizing the issue.

[2017-03-06 06:39] ericvicenti commented on #12504
I think this is a dupe of https://github.com/facebook/react-native/issues/4968

[2017-03-06 06:39] #12504 closed

[2017-03-06 06:40] ericvicenti commented on #12051
I think this is the same as #12078

Also, the issue may be related to mega issue https://github.com/facebook/react-native/issues/4968

[2017-03-06 06:40] #12051 closed

[2017-03-06 06:42] ericvicenti commented on #1234
Closing because this appears to be solved. Please re-open a new issue if you have a clear reproduction on new versions of RN.

[2017-03-06 06:42] #1234 closed

[2017-03-06 06:44] ericvicenti commented on #4986
It sounds like there is a workaround for this right now. Additional functionality here isn't super high-priority, but if anybody knows how to fix it, a PR would be appreciated.

[2017-03-06 06:44] #4986 closed

[2017-03-06 07:01] RomilChristian commented on #6499
thank you very much man.

[2017-03-06 07:06] ericvicenti commented on #12702
I'm landing the PR now, which will probably go smoothly

[2017-03-06 07:06] #12702 closed

[2017-03-06 07:06] f0rr0 commented on #12469
@brentvatne shouldn't this be in the docs? In case of naming collision with props, user supplied props get over ridden with the layout ones.

[2017-03-06 07:12] ericvicenti commented on #12726
There haven't been many changes here, so I think it should work to `this._listView.getScrollResponder().scrollTo()`

If you're using a HOC, refs will also have issues because you actually refer to the outer component. Without seeing your code its hard to see if this is the problem.

Does this work with new versions of RN? Can you provide a reproduction that demonstrates the problem? You can re-ope

[2017-03-06 07:12] #12726 closed

[2017-03-06 07:29] illianyh opened #12734 "react-native build failed: Xcode 7.2.1, react-native cli v : 2.0.1 (MacOSX 10.10.5)"
I'm new to react native. Initialised a new project by running react-native init project-name and then running it on Xcode but the build was failed....again and again.

By looking at solutions posted by other users, I commented out this line of code :

**//    case UIUserInterfaceIdiomCarPlay:
//      return @"carplay";**

That's one issue solved, but then when I tried to build the project it gave

[2017-03-06 07:31] kevando commented on #11196
No idea what I'm doing, but I get this same error when I enable the chrome debugger and use this lib

https://github.com/gre/react-native-view-shot

:/

[2017-03-06 07:36] ericcastro92 opened #12735 "RN 0.42.0 iOS 'Lexical Preprocessor Issue'. React header files not found."
### Description

Fresh RN project initializations have been failing to build and run for me. I have been facing this issue for about a week and a half and tried several different things. I simply cannot get a React Native project to build on my machine. Header files cannot be found for whatever reason. Any help would be very appreciated.

### Reproduction

`react-native init testproject`
open Xcod

[2017-03-06 07:38] ericvicenti commented on #12735
Yikes. Are you on the most recent version of Xcode? Maybe try deleting xcode's derived data folder?

Does it work to run `react-native run-ios`?

[2017-03-06 07:39] ericvicenti commented on #371
Lets keep track of this feature request on canny: https://react-native.canny.io/feature-requests/p/make-ios-uitextviewinputaccessoryview-on-textinput

[2017-03-06 07:42] ericvicenti commented on #12723
This may be a duplicate of https://github.com/facebook/react-native/issues/8678, please make sure the file permissions are set correctly for the `.babel.json` files

[2017-03-06 07:42] #12723 closed

[2017-03-06 07:42] ericvicenti commented on #12428
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-06 07:42] #12428 closed

[2017-03-06 07:45] ericvicenti commented on #6426
cc @bestander who has more context on this issue. But I'm closing it because I think the `node_modules` inconsistency problems have largely been addressed

[2017-03-06 07:45] #6426 closed

[2017-03-06 07:45] ericcastro92 commented on #12735
Thank you for the quick reply! It does not work with react-native run-ios. It actually produces a `":CFBundleIdentifier", Does Not Exist` error. I'm not sure if that's because I'm trying to run it on port 8999 since McAfee takes over 8101 on my laptop.

Just tried clearing derived data, no dice. Only difference is <React/RCTConvert.h> inside of the  RCTImage library can no longer be found now.

<i

[2017-03-06 07:50] xareelee commented on #11099
I use RN 0.41.2 and Flow 0.41.0, and encounter the same issues. It shows hundreds of errors from flow type check. Most of them are in the `node_modules/react-native/Libraries/Components/` folder.

[2017-03-06 07:52] ericvicenti commented on #12432
Yeah, unfortunately you are responsible for merging this manually. The new tool `react-native-git-upgrade` may help make the upgrade changes more clear.

[2017-03-06 07:52] #12432 closed

[2017-03-06 07:53] ericvicenti commented on #6552
Looks like this is fixed in newer versions of RN

[2017-03-06 07:53] #6552 closed

[2017-03-06 07:56] ericvicenti commented on #6785
I think `android:windowSoftInputMode="adjustResize"` is the best option here

[2017-03-06 07:56] ericvicenti commented on #6390
This is super old and it looks like chrome debugging works in recent versions

[2017-03-06 07:56] #6390 closed

[2017-03-06 07:59] ericvicenti commented on #12707
This guide has recently been updated by @hramos so I think its in reasonably good shape. I was able to set up the avd without much trouble by following the guide. If you have a specific recommendation for an alternative way we should recommend, feel free to open up a pull request about it.

[2017-03-06 07:59] #12707 closed

[2017-03-06 08:01] jhabdas commented on #6390
@ericvicenti The larger OSS tools (e.g. Jekyll) I work with tend to tag their issues as `stale` before closing, giving the community some time to respond, and this can be automated by a bot to save human time. Given the last reported occurrence of this was just a couple of months ago, I'd let this one hang out for a bit longer (like 6 months longer) before you blaze that trail.

[2017-03-06 08:02] ericvicenti commented on #6188
This is a feature request that proably belongs on [product pains](https://react-native.canny.io/feature-requests), unless somebody wants to submit a PR for it.

[2017-03-06 08:02] #6188 closed

[2017-03-06 08:03] ericvicenti commented on #12664
cc @grabbou, do we usually do cherry pick issues like this? This is the first one I've seen

[2017-03-06 08:04] ericvicenti commented on #12700
You can implement tabs a variety of ways. If the core library doesn't have a native module you want, you can always build it yourself!

[2017-03-06 08:04] #12700 closed

[2017-03-06 08:06] ericvicenti commented on #12430
You haven't provided enough info for people to reproduce this issue. cc @alloy  in case you know what is going wrong for @HarrisLee

[2017-03-06 08:06] #12430 closed

[2017-03-06 08:06] #11758 closed

[2017-03-06 08:09] ericvicenti commented on #11535
I have a feeling this is related to https://github.com/facebook/react-native/issues/12138, which seems to have a better description

[2017-03-06 08:09] #11535 closed

[2017-03-06 08:09] ericvicenti commented on #12730
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-06 08:09] #12730 closed

[2017-03-06 08:11] ericvicenti commented on #11099
I think the only way to fix this is to upgrade to `0.42`. Really sorry about the inconvenience- we are going to be careful with flow errors from here on

[2017-03-06 08:11] #11099 closed

[2017-03-06 08:12] ericvicenti commented on #12401
I'm going to close this because I don't think it makes sense to set a borderWidth to `0.2`

[2017-03-06 08:16] atlanteh commented on #12401
Why not? We use it both in android and in ios.. this makes the border very thin like we need it..
If you think this makes no sense then we need to disallow it both in android and ios. not let them behave differently.
(BTW I liked ur fbstart lecture :+1:  )

[2017-03-06 08:17] ericvicenti commented on #12725
This is probably not the highest-priority issue.

If you can fix this in the native code and send a PR, we can probably get it landed for you.

[2017-03-06 08:18] ericvicenti commented on #12363
@cpojer, maybe we should add a doc that discusses mocks for RN testing?

[2017-03-06 08:18] ericvicenti commented on #12671
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-03-06 08:18] #12671 closed

[2017-03-06 08:20] ericvicenti commented on #12356
I don't think this is a problem in new versions of RN. Can you check on RN 0.42 and re-open the issue if it is still a problem? Also, can you include the entire code snippet that will cause the error to happen?

[2017-03-06 08:20] #12356 closed