[2017-05-31 14:49] RobertWSaunders commented on #13996
@mikelambert [`3af9be5`](https://github.com/facebook/react-native/commit/3af9be52b272b767b480ed4f989ddfd6146a56f8) will indeed break this again. What is the reasoning for downgrading?

[2017-05-31 15:03] voidstarfire commented on #11681
Even stranger.

If I don't set a container view for Android it works but breaks on iOS.
Opposite is true if I do use a container view.

For example:

[code]

[2017-05-31 15:31] brentvatne opened #14275 "keyboardWillShow does not fire on Android"
As per https://github.com/facebook/react-native/issues/10613#issuecomment-300121457

This is easy to verify by searching the repo and verifying that the `keyboardWillShow` string does not exist in the React Native Android codebase: https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=keyboardWillShow&type=

[2017-05-31 15:31] brentvatne commented on #10613
Indeed on Android `keyboardWillShow` does not exist: https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=keyboardWillShow&type=

Tracking here: https://github.com/facebook/react-native/issues/14275

[2017-05-31 15:32] brentvatne commented on #14227
it looks like that repo has their own process for reporting issues: https://github.com/facebook/react-native-fbsdk#give-feedback

[2017-05-31 15:37] brentvatne commented on #2215
@MrLoh - I think the best way forward is for someone to open a pull request with code similar to what @daniel-nagy shared above for review and ideally along with an Android implementation. Not sure what value there is in opening this issue when there is already some code that we can use for a PR.

[2017-05-31 15:38] brentvatne commented on #14188
@camellieeee - please post the examples to https://snack.expo.io/ and I can reopen!

[2017-05-31 15:39] nhoxbypass commented on #4264
I think paddingTop is the only solution if you don't want to embed it in a ScrollView or use 3rd library to get exactly the StatusBar height.

[2017-05-31 15:40] brentvatne commented on #4845
cc @sahrens who worked on this initially

[2017-05-31 15:44] JanaTrajkovska opened #14276 "error: bundling: UnableToResolveError: Unable to resolve module `AccessibilityInfo` from ..."

[2017-05-31 15:45] satya164 commented on #14275
AFAIK we meed to listen to root view size changes to detect when keyboard is shown/hidden. So I am not sure if `willX` events can even be implemented.

[2017-05-31 15:48] brentvatne commented on #14153
@IgorVanian - this is a problem that exists on Windows whether you're using react-native or not, and watchman is a way to get around it. As far as production ready goes, well, this runs on your dev machine so it's not really production 😅 . For what it's worth, @dikaiosune is working on an alternative to watchman that would also resolve this problem. Unfortunately it's all out of the scope of the r

[2017-05-31 15:52] dstarod commented on #12754
Ensure your default shell is bash, because of 'export NODE_BINARY=node' command needed.

[2017-05-31 15:53] itswaze opened #14277 "Error on real device when it works on simulator"
Hey!
I need some help here.
When I run my app on simulator it works just fine, everything works.
But when I run it on my iPhone, on debug mode, when I click a specific button I get this error:

`null is not an object (evaluating "this.state.value.map")`

I've been getting this kind of errors alot when trying to map data to a fetch and then saving the data that comes from that fetch... It's hard to

[2017-05-31 16:03] kisubs commented on #14250
@hramos Yes, I tried but did not work. Right now, I'm just migrating code to a new project and hope this works.

[2017-05-31 16:03] #14250 closed

[2017-05-31 16:14] fkgozali commented on #13996
this was downgraded due to an issue that caused breakage to existing apps: https://github.com/square/okhttp/issues/3308

cc @emilsjolander in case there's more details to add

[2017-05-31 16:18] #14277 closed

[2017-05-31 16:21] jpamarohorta commented on #1831
@jhalborg I have exactly the same issue. Have you found any solution?

[2017-05-31 16:48] kylanhurt commented on #12534
Yeah this is currently happening with me even when the containing view has no border nor border-radius. This is definitely an issue because, for example, I want to show a circular icon on the top + middle area of my modal window. You can see it getting cut off below:

![image](https://cloud.githubusercontent.com/assets/6249205/26643460/41759120-45e6-11e7-9182-ac9b264f567e.png)

[2017-05-31 16:49] RobertWSaunders commented on #13996
@fkgozali Thanks, when a fix is found it should be updated once again.

[2017-05-31 16:57] tafelito commented on #13530
I found that when I start an animation from TouchableOpacity  within an Animated view, I get this error, but if instead I use a Button component, and do the call the same action, then it works fine

[code]

[2017-05-31 17:43] D1no commented on #11813
@stantoncbradley did you get buddybuild to work with Schema manager?

[2017-05-31 17:43] paynd commented on #6692
Same here.

[2017-05-31 17:45] kesha-antonov commented on #1167
In my case in Android it worked after setting ```fontWight: '400'``` ```fontWeight: 'bold'``` caused fallback to System font.

[2017-05-31 18:09] hramos commented on #13100
Alright, let's reopen this - can you edit your original post and make it about FlatList?

[2017-05-31 18:12] joro opened #14278 "CLI runIOS command failed to match full product name"
### Description

When running "react-native run-ios" command, after buildProject() process, it should return the updated product name. Otherwise it will fall back to project default name. This caused a problem on installing if I have renamed the product.

### Reproduction Steps and Sample Code

The run-ios command will run command located at ./node_modules/react-native/local-cli/runIOS/runIOS.js a

[2017-05-31 18:14] hramos commented on #13114
@lprhodes do you happen to have more information about the cause of the crash? Any logs or specific error message? This sounds like something that can be easily fixed by checking if the system supports opening the URL.

[2017-05-31 18:18] tomasfrancisco commented on #13316
I'm still experiencing this issue. `removeClippedSubviews={false}` solved the problem for now.

[2017-05-31 18:26] annelorraineuy commented on #13100
Here is the updated FlatList code, still with the same issue:

[code]

Just upgraded to RN 0.44.2 and my app also crashes when its on this screen. Not very sure if its related to FlatList itself, because I have a lot of items on my FlatList. On 0.44.0 it did not crash though...

[2017-05-31 18:38] annelorraineuy commented on #14198
I am seeing this issue as well, but on a horizontal Flatlist. The last item could leave the screen and doesn't lock at the "bottom" _(or in the case of my horizontal Flatlist, on the right)_.

[2017-05-31 18:43] lprhodes commented on #13114
I'll follow up with the crash report later but basically messages:// is returning that it's supported so you then go to open it but it crashes because it's been deleted. It wouldn't be so much of an issue but "catch" doesn't work so the app has no choice but to crash

On 1 Jun 2017, 4:15 AM +1000, Héctor Ramos <notifications@github.com>, wrote:

[2017-05-31 18:45] lprhodes commented on #13114
Fully native apps do manage to not crash when performing the same functionally. I'll figure it out and submit a PR

On 1 Jun 2017, 4:15 AM +1000, Héctor Ramos <notifications@github.com>, wrote:

[2017-05-31 18:53] mikehobi commented on #14193
@vjeux @emilsjolander, possibly a problem with the yoga implementation?

[2017-05-31 18:54] johnchourajr commented on #11565
agreed 👆

[2017-05-31 18:56] vjeux commented on #14193
I'm no longer working on React Native nor Yoga, sorry :(

[2017-05-31 19:14] RajuPedda commented on #4816
It got worked for me by setting up the environment variable as "ANDROID_NDK_HOME" to the located NDK(in my case it is - C:\Android\android-ndk-r10e-windows-x86_64\android-ndk-r10e).

[2017-05-31 19:45] ptomasroos commented on #14275
I can only add to whats @satya164 saying. As with my knowledge in this as well there is no way to actually discover when a soft keyboard will happen. May I ask in what use-case this would be needed? I know people are using will* to make transitions "faster" on IOS.

[2017-05-31 20:06] hramos commented on #13114
I found some references in the code to a change introduced in iOS 9 where the developer must whitelist schemes in Info.plist under the `LSApplicationQueriesSchemes` key. The expected behavior for opening a non-whitelisted scheme is for the operation to fail silently however.

[2017-05-31 20:10] hramos commented on #10821
Thanks for filing the issue. This seems like something that should be fixed. Do you have a list of the particular APIs that need to be marked in this manner?

[2017-05-31 20:14] hramos commented on #12573
This is due to the way the website is built. You can always see the same docs as those from `master` on GitHub by clicking on the release version at the top of the site and choosing "master". You'll see the version change to `next` in that case.

[2017-05-31 20:14] #12573 closed

[2017-05-31 20:15] hramos commented on #12749
Hey @rozele did you investigate this any further?

[2017-05-31 20:16] amanthegreatone commented on #10312
I am getting this error and chrome debugging is stuck!

[2017-05-31 20:16] hramos commented on #13025
Thanks for reporting this. Would you consider sending a PR? It seems like you've already done some of the work here.

[2017-05-31 20:23] hramos commented on #13233
What is `RNPushNotification.java` here? Do you think you can add a bit more context or sample code to help reproduce this?

[2017-05-31 20:29] hramos commented on #13337
This is not the best place to get help debugging a particular app, I'm afraid.

[2017-05-31 20:29] #13337 closed

[2017-05-31 20:30] hramos commented on #13344
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-31 20:30] #13344 closed

[2017-05-31 20:30] hramos commented on #13361
Hey thanks for reporting this! Unfortunately without a repro it is unlikely we will be able to take a look at this.

[2017-05-31 20:30] #13361 closed

[2017-05-31 20:32] hramos commented on #13406
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:32] #13406 closed

[2017-05-31 20:37] hramos commented on #13427
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:37] #13427 closed

[2017-05-31 20:37] hramos commented on #13450
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:37] #13450 closed

[2017-05-31 20:38] hramos commented on #13457
Thanks for reporting this! Can you try out `FlatList` instead? If it is still an issue there, please do submit a new issue against `FlatList`.

[2017-05-31 20:38] #13457 closed

[2017-05-31 20:39] hramos commented on #13473
Can you provide sample code, or ideally a Snack?

[2017-05-31 20:42] hramos commented on #13490
Ah, this is unfortunate. I do think that disabling the gestures is the way to go for now as it does not seem to be affecting too many developers.

[2017-05-31 20:42] #13490 closed

[2017-05-31 20:42] hramos commented on #13494
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-31 20:42] #13494 closed

[2017-05-31 20:45] hramos commented on #13534
Shouldn't `{$HOME}` and `/Users/$(whoami)` resolve to the same path on macOS?

[2017-05-31 20:45] #13534 closed

[2017-05-31 20:46] hramos commented on #13581
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:46] #13581 closed

[2017-05-31 20:47] hramos commented on #13634
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:47] #13634 closed

[2017-05-31 20:48] hramos commented on #13662
Would you consider sending a PR to add these types?

[2017-05-31 20:49] hramos commented on #13663
Can you check if this reproduces with `FlatList`?

[2017-05-31 20:49] hramos commented on #13674
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 20:49] #13674 closed

[2017-05-31 21:17] #13408 closed

[2017-05-31 21:30] pawellewandowski opened #14280 "[CameraRoll] Rotation bug"
RN: 0.43 or 0.44 (0.42.3 everything is ok)

Reproduction:
I made 1 photos, next I close camera, reopen and made 2 photos (camera orientation not changed):
![c0e7c33c-27a6-11e7-8587-2f0dc1306386](https://cloud.githubusercontent.com/assets/3199040/26654944/f68e7ae6-4658-11e7-8b19-c8ff8e14221f.png)

[2017-05-31 21:32] undef1ned commented on #9665
Same issue, tried 0.44 then reverted to 0.42 - the same

[2017-05-31 21:37] wuno commented on #7955
I have searched all over for an answer to this question. Have any of you solved this?

To be clear if we were facing the same issues,

I am rendering a web application through a web view. The loaded web page has a login form. Once the user logs in there is a download link which when clicked should download a .txt file to the user's phone. But when the user clicks the download link nothing happens.

[2017-05-31 21:46] brentvatne commented on #14275
@ptomasroos - I think it's less about making them "faster" and instead making them more responsive, so it can animate while the keyboard is opening rather than waiting until it has opened. I don't have a personal use case but just copied this over from #10613.

If anyone reads this and knows if it's possible to hook into a notification for the soft keyboard beginning to open on Android, let us kno

[2017-05-31 21:46] hramos commented on #14280
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-31 21:46] #14280 closed

[2017-05-31 22:02] hramos commented on #5974
That seems like a reasonable workaround.

[2017-05-31 22:04] lprhodes commented on #13114
Yeah it’s not that unfortunately (though admittedly I did forget about that so I spent some time scratching my head). That correctly fails silently.

On 1 Jun 2017, 6:07 AM +1000, Héctor Ramos <notifications@github.com>, wrote:

[2017-05-31 22:47] IgorVanian commented on #14153
Thank you for this clear answer ! :)

[2017-06-01 00:24] atlanteh commented on #13663
Yes, it reproduces with FlatList:
https://snack.expo.io/rJZYC03ZW

[2017-06-01 00:40] brucelane commented on #5974
well, I tryed htmlview, it's not fitting my needs: I would like to have a map (osm, leaflet) and other html pages inside my RN app, not a 'link launcher with an external browser' and I'm facing other problems:
- WebView only renders on ios if http**s** although there is a workaround which implies to declared the http website known urls
- on android, WebView only renders if it's not a child of a Vi

[2017-06-01 00:44] breeny commented on #14274
@rohitlf can you log the value of `typeOfBusinessLabels` just to rule out an issue with the data?

[2017-06-01 01:45] xilonxiao commented on #13316
I've experienced this too on RN 0.44.2 and it was solved with removeClippedSubviews={false}. Although, as @rogerkerse mentioned, it is not a optimal solution as it seems to remove some important optimisations.

[2017-06-01 02:48] solartcc commented on #13984
[Android, RN 0.41.0] The same problem I have encountered. Here are some recent crash reports.

<img width="917" alt="wx20170601-103031 2x" src="https://cloud.githubusercontent.com/assets/7566409/26662311/9e3eb3e4-46b5-11e7-8627-c94a4f9bfde1.png">

[2017-06-01 03:21] co2-git opened #14281 "Unexpected behavior on Android Talkback on double tapping a text input"
### Description

On Android, with Talkback enabled, if I double tap a `TextInput` and there is a `TouchableOpacity` before it, the touchable gets selected and pressed instead of showing keyboard.

### Reproduction Steps and Sample Code

https://snack.expo.io/HyyxvbpW-

Double tap the text input with Talkback on and the X gets selected instead of showing keyboard

### Solution

Using `TouchableNati

[2017-06-01 03:32] shergin commented on #14203
Was fixed in 1018cc8ceb8804c1f206367877cee5267423ead2.

[2017-06-01 03:32] #14203 closed

[2017-06-01 03:46] shergin commented on #14045
Could you please provide a bit more context, what is the point to have "focused" <TextInput> without keyboard? AFAIK, it is kinda pointless at least on iOS and it can be done only we implement custom (empty) input view.

[2017-06-01 04:48] sushant23 opened #14282 "Cant start new react native project"
I am unable to start new project with react native when I run `react-native run-android` it just gets stuck on `fetching js bundle...`
![screen shot 2017-06-01 at 10 32 57 am](https://cloud.githubusercontent.com/assets/5249730/26664960/b5348470-46b5-11e7-875e-b85c735c5321.png)

[2017-06-01 05:22] RobertSheaO commented on #13612
You've got to use ImageStore.getBase64ForTag(successURI) in your success callback to get what you want.

[2017-06-01 05:46] ignivaankushrishi commented on #14223
@david50407 the temporary fix did not work for me.
Here is my build.gradle:
[code]
Here are the logs:
[code]

Even I updated my build.gradle file like this:
[code]
I am unable to reproduce this issue

[2017-06-01 05:58] ignivaankushrishi commented on #14225
I have observed that the temporary fix is somewhere working for react-native versions greater than 0.35.

When I tried on 29.2 it did not work in any case after lot of effort.

Now, I am not in a situation to update to latest version as it will create a lot of problems and crashes. It may not work because not all the packages or libraries are updated with latest version of react native and will no

[2017-06-01 06:22] BeckZero commented on #12895
+1!!
"react": "16.0.0-alpha.6",
"react-native": "0.44.2",

[2017-06-01 06:22] Abdul-majid-ashrafi commented on #14144
Yeah Thanks @kholiavko-roman 👍

[2017-06-01 06:22] #14144 closed

[2017-06-01 06:31] kholiavko-roman commented on #14144
@Abdul-majid-ashrafi can you help me slove this issue please ? What are you do fo fix that ?

[2017-06-01 06:37] Thyiad commented on #12717
@renehauck It works, bug very slow...

[2017-06-01 06:37] petersuwara commented on #10471
The following does not work (Using react-native-spinner) for modal render.

`} catch({error, status}) {
            this.setState({error: error});
            console.log("error " + error);
            this.setState({isLoading: false});
            requestAnimationFrame(() =>
                Alert.alert(
                    'ERROR',
                    'Unable to connect to the server, please chec

[2017-06-01 06:43] SupriyaKalghatgi commented on #14282
Try a restart

[2017-06-01 06:58] githubmss commented on #13309
I was getting the same error initially , then i run following commands :-

1. npm install npm@latest -g (This makes my npm version from 3.10.8 to 5.0.1)
2. rm -rf node_modules/
3. sudo npm install --save
4. sudo npm install react-native-side-menu --save
Now when i run **react-native run-android** i start getting this bellow error :-

[code]
Any help please , i have been fighting with it from last

[2017-06-01 07:03] Abdul-majid-ashrafi commented on #14144
When we install dependency then this crash just remove dependency what you install last time or create new project

[2017-06-01 07:03] petersuwara commented on #13309
@githubmss have you tried a new project with out react-native-side-menu ?

Does it still work ?

[2017-06-01 07:04] AggarwalAnkit commented on #6469
It is an old question but I also faced simmilar issue and solved it by adding contentContainerStyle={{ flex: 1 }} to scrollview tag. E.g.
`<View style={{ flex: 1 }}>
    <ScrollView style={{ flex: 1 }} contentContainerStyle={{ flex: 1 }}>
        <ViewPagerAndroid style={{ flex: 1 }} initialPage={0}>
            <View><Text>View 1</Text></View>
            <View><Text>View 2</Text></View>

[2017-06-01 07:05] githubmss commented on #13309
@petersuwara , let me uninstall that package and try it

[2017-06-01 07:06] petersuwara commented on #10471
SIMPLE WORKAROUND DISCOVERED

[code]

[2017-06-01 07:06] githubmss commented on #13309
yes , still getting same error

[2017-06-01 07:21] petersuwara commented on #13309
Remove NPM, NODE, REACT-NATIVE-CLI.

NODE/NPM -> https://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x

Reinstall everything and create a new project.
https://facebook.github.io/react-native/docs/getting-started.html

- Install NPM
- Install react-native-cli (global)
- Install Watchman

Run react-native init testproj
Run react-nati

[2017-06-01 07:31] pawellewandowski commented on #14280
updated.

[2017-06-01 07:35] ncuillery commented on #14239
Fix by the (awesome) npm team in NPM@5.0.1

@facebook-github-bot close

[2017-06-01 07:36] githubmss commented on #13309
@petersuwara , i am not very much familiar with the commands , will it be possible for you if you can type all those commands for me . when i run "**brew info node**" command from the link provided by you

it displays something like this :-

**brew info node**

[code]

[2017-06-01 07:43] petersuwara commented on #13309
@githubmss you should look at ->

**brew info npm**

Suggest **brew uninstall npm** then find where your node_modules directory is and delete that.

[2017-06-01 07:48] githubmss commented on #13309
i got something like this :-

brew info npm

[code]

[2017-06-01 07:51] #14274 closed

[2017-06-01 07:58] rohitlf opened #14283 "IOS React Native build is not working"
I tried to run my react-native workspace using but it is giving below error.
<img width="315" alt="screen shot 2017-06-01 at 1 28 37 pm" src="https://cloud.githubusercontent.com/assets/24771677/26670121/0bf53c4c-46ce-11e7-83bf-9c98b5de3ec4.png">

I have made sure there is no code like the error as mentioned.

Also I created new project using react-native init NewProject and tried to start it as we

[2017-06-01 08:04] petersuwara commented on #13309
@githubmss please e-mail me on peter@realityworks.com.au I can help you there.

[2017-06-01 08:13] lprhodes commented on #1831
I'm using react-navigation and removeClippedSubViews works for me with this structure:

modal stack -> present tab stack -> include multiple tabs with navigation stacks

My problem was the lack of performance so I've made removeClippedSubViews value based on a state value so I can toggle it on/off depending on the whether the screen is loading

[2017-06-01 08:52] Symous opened #14284 "You attempted to set the key 'time' with the value '2017-05-31' on an object that is meant to be immutable and has been frozen."
Please I have raised an issuse before #14266 , but someone just closed it without solve this.they said the reason is that I try to changing prop value. But the fact is that even state value will also encounter this error.

now please see my code :
[code]
What I can confirm is that my componentMapView is ok. and once I assign markerList to my customMapView component , the error will occured!

Pleas

[2017-06-01 08:53] Blapi commented on #12893
Had this issue when trying to access to this.props in a constructor (yeah I've been dumb..), if that can help..

[2017-06-01 09:22] pandilladivya commented on #5823
This problem occurs when I debug remotely .

[2017-06-01 09:42] githubmss commented on #13309
@petersuwara , i have mailed you , please let me know if you require any further information.Thanks for your support . Appreciate it!!!!

[2017-06-01 10:03] kholiavko-roman commented on #14144
thanks!

[2017-06-01 10:26] MoOx commented on #13384
Another solution is via Xcode menu bar : Product > Clean. Worked for me.

[2017-06-01 10:37] soniyachandran opened #14285 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1966): SyntaxError: SyntaxError /home/app/file.js: Unexpected token (71:8)"
### Description

I used the Fetch API to fetch some data from the network and display it in a ListItem . But i got error as " UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1966): SyntaxError". Help me from this iissue i want to display the response in Listitem

import React, {Component} from 'react'
import {Text, View, StyleSheet, TextInput, ScrollView,Image} from 'r

[2017-06-01 10:44] amanthegreatone commented on #12223
Hi,
Having same issue with RN 0.44.2. Launch the app and in debug mode and it freezes.

[2017-06-01 11:00] SandroMachado commented on #7463
@charpeni please reopen the issue. It is not fixed.

[2017-06-01 11:21] iiitmahesh commented on #13039
same problem with

[code]

[2017-06-01 11:23] guilhermepontes commented on #5823
anyone?!

[2017-06-01 11:24] parkerdan commented on #13984
I removed Layout Animation and this stopped.

I am closing this because I know the culprit.

Thank you @stoffern

[2017-06-01 11:24] #13984 closed

[2017-06-01 11:25] iRoachie commented on #12717
@renehauck What if I want to add a newline in the middle of the text and not at the end?

[2017-06-01 12:39] leokaessner commented on #7680
@rburgst Did you find a solution? We still struggle with that problem. As the constant is defined as makro, we even can't really subclass or categorize the RCTLocationObserver.

[2017-06-01 12:59] coolboy88 commented on #12754
check out your localhost at hosts file at "/etc/hosts"
in my case, resolving the localhost to 127.0.0.1 completely solved the problem

[2017-06-01 13:08] maobon commented on #11288
Looking for JS files in
   D:\studiospace\AndroidRN

React packager ready.

Loading dependency graph, done.
warning: the transform cache was reset.
error: bundling: UnableToResolveError: Unable to resolve module `react/lib/ReactDebugCurrentFrame` from `D:\studiospace\AndroidRN\node_modules\react-native\Libraries\R
enderer\src\renderers\shared\fiber\ReactFiberContext.js`: Module does not exist in t

[2017-06-01 13:18] marcoacierno commented on #12604
Hi @bsonntag @hramos , I need to test again with the new version of React Native, but it didn't worked when I tried the last time (overflow was not visible even with flatlist). Anyway I fixed my issue by manually disabling the clip children/etc using Java.

I will test again when I have a bit of free time and, if I encounter the same issue with FlatList again, I will open a new issue

[2017-06-01 13:22] tonystaa opened #14287 "get user inactivity in react native"
This is not a bug or a feature request(as I don't not know if the solution exist already).
I have posted a question on stackoverflow 6 days ago ( [https://stackoverflow.com/questions/44196459/get-user-inactivity-in-react-native](url) ), but it got no answers.
My question is very simple-
What I want, is to display an Image if user does not interact with the app for 1 minute. I have tried implementi

[2017-06-01 14:01] ecbrodie commented on #12754
@coolboy88 the fix you are suggesting in `/etc/hosts` has already been suggested  in this Issue. And it has already been reported in this Issue that doing so is not enough to fix the problem, including in my own case.

[2017-06-01 14:08] ywongweb opened #14288 "Cannot debug JS remotely on iOS device"
### Description

Create app with `react-native init myapp`

Run the app in `Xcode` with real iPhone as target, open up the developer menu and select `debug js remotely`.

App screen on device now stuck at `Loading from pre-bundler file...`

In the debugger console log I can see an error:
`GET file:///var/containers/Bundle/Application/FB3D960C-BF23-4F8A-B458-A9FFED6AFEF2/myapp.app/main.jsbundle net

[2017-06-01 14:22] rdixonbhw commented on #12237
I'm assuming the files it obliterates are just as gone as if I'd run `rm` on them? If so that's a pretty significant setback for me.

[2017-06-01 15:02] JosephDev commented on #12895
Here is my solution but I don't know why it works.

0. remove native codes. ios and android folders. !! backup first !!
`rm -rf os && rm -rf android`
1. create a new dummy project.
`react-native init AwesomeProject`
2. copy native codes to current project folders
[code]
3. build
4. modify native codes as you've done on current project for example:
- icons, version information, and/or push notifica

[2017-06-01 15:16] lprhodes commented on #13727
@Ashoat TextHeightMeasurer looks like it'll be hand thanks! How do you use it within an app though? Is it meant to replace a <Text> component or do you iterate through records and render the TextHeightMeasurer component off screen then display the list once the measurements are ready?

[2017-06-01 15:22] baba43 commented on #12814
So the suggestion is to get rid of Cocoapods at all?

I have just started using it because it was recommended in some library.

[2017-06-01 15:25] bitsal commented on #12814
I wouldn't say it is a suggestion, it is a workaround to move a project forward ;)

[2017-06-01 15:28] jkomyno commented on #13464
The bug persists with version 0.44, at least on Android (haven't had the possibility to test on iOS yet), but @JonatanRydh hack did it! You can simply put `borderRadius: 1` to a View and you're done

[2017-06-01 16:23] hramos commented on #14280
Can you provide sample code and more detailed repro steps?

[2017-06-01 16:34] nikolay-radkov commented on #12717
@iRoachie you can get the cursor position in the **TextInput** from **onSelectionChange={(event) => this.setState({ cursorPosition: event.nativeEvent.selection.start })}** and in **onSubmitediting** to use something like [splice for strings](https://stackoverflow.com/a/21350614). See example

[code]

[2017-06-01 16:38] ChrisPikul510 commented on #14253
Ok I think this is part of #9665, since it's always happened regardless of App it seems like. Guess I'll have to investigate further since I didn't bring in or use any of the described packages in the stack trace explicitly.

[2017-06-01 16:44] SandroMachado commented on #7463
I made a [PR](https://github.com/facebook/react-native/pull/14289) to fix the issue.

The problem is that the HEAD request do not have body and at [this](https://github.com/facebook/react-native/pull/14289/files#diff-f8703d50cf5af4c06824e2928dddb500R373) part of the code React Native will try to convert it to a string. `OkHttp` is not able to convert it and produces an exception.

[2017-06-01 16:46] iRoachie commented on #12717
Yea I tried I already. However the cursor doesn't move to the newline like you'd expect. The cursor stays where it is and the new line is below

[2017-06-01 17:09] hramos commented on #14287
This is not the best place for this sort of question, I'm afraid. We'd like to focus on actionable issues with the framework itself.

[2017-06-01 17:09] #14287 closed

[2017-06-01 17:09] hramos commented on #14285
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-01 17:09] #14285 closed

[2017-06-01 17:10] hramos commented on #14283
Hey, thanks for reporting this issue! It looks like you have a lot of dependencies for something that should be a plain new project.

It does not look like this may be an issue with the framework itself. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understan

[2017-06-01 17:10] #14283 closed

[2017-06-01 17:11] hramos commented on #14282
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-01 17:11] #14282 closed

[2017-06-01 17:11] #14276 closed

[2017-06-01 17:14] hramos commented on #14272
Try marking cDM as `async` to keep it from blocking. Closing as this seems more of a Stack Overflow issue.

[2017-06-01 17:14] #14272 closed

[2017-06-01 17:22] brentvatne commented on #12360
It sounds like we should try to make these both behave the same, and look to the web for the correct default. PR welcome for this, it will be a breaking change for whichever platform changes.

[2017-06-01 17:24] dcu-sharepoint commented on #14236
@hramos I did, the last version where **Navigator** was deployed was react-native 0.43, but when I installed that version, the app does not work and is not loaded into the connected device, not on the gen motion or on the actual device. I guess my point is, there are no docs on how to migrate from the OLD navigator to the new whatever... and if I knew what I was doing instead of fumbling around li

[2017-06-01 17:35] brentvatne commented on #14287
I agree with @hramos, and I certainly don't want to encourage posting these kinds of questions on the issues, however I did want to chime in on this for posterity.

This would be very easy to implement *if it were not for some quirks with the current react-native gesture system* -- specifically, you can't have a view both 1) respond to a touch and 2) let the touch pass through to other views. Ther

[2017-06-01 17:40] hramos commented on #14236
For debugging Navigator issues on older versions of RN, Stack Overflow is the best place. As Navigator no longer forms part of RN core, we won't be tracking any issues against it.

You can find the most up to date Navigation docs at http://facebook.github.io/react-native/releases/next/docs/navigation.html

[2017-06-01 17:50] brentvatne commented on #14287
I stand corrected, by myself, here is a working solution: https://snack.expo.io/H1gk4AaZb

Rather than using an overlay like in the previous example I shared, just attach the the pan handlers to the root of the app.

[2017-06-01 17:55] Chandhru08 commented on #14164
@Breeny thanks for looking into the issue.

Here is the style parameters passed into the container view,
`descriptionContainerStyle: {
      borderColor: '#333333',
      elevation: 2,
      opacity: 2
    }`

Can you tell me how to pass the bounded parameter to ScrollView component or a link also would be better.

[2017-06-01 18:06] #13575 closed

[2017-06-01 18:16] Chandhru08 commented on #3422
In my case also the scrollview doesnot scrolls inside a view conmponent.
Any solutions for it?

[2017-06-01 18:24] hramos commented on #14147
Thanks for reporting this. We noticed this but have yet to work on a fix.

[2017-06-01 18:25] hramos commented on #13921
Dupe of #14147

[2017-06-01 18:25] #13921 closed

[2017-06-01 18:25] hramos commented on #13975
Looks like this is a react-vr issue.

[2017-06-01 18:25] #13975 closed

[2017-06-01 18:39] slender9168 commented on #11210
@pkjijie  did you manage to solve the issue ?

[2017-06-01 18:39] slender9168 commented on #7602
@ucoker did you manage to find a workaround ?

Thanks.

[2017-06-01 19:08] JakeDawkins commented on #13346
@lyquocnam did you resolve this? I'm having the same issue now

[2017-06-01 19:09] mienaikoe commented on #12784
@avivaWang While I didn't find a solution, there is a workaround for the case when your keyboard has been dismissed but the focus of the TextInput is still preventing your buttons from being clicked. If you use a keyboard listener from the Keyboard API, you can blur the input when the keyboard is dismissed:

`
componentDidMount(){
    this.keyboardDidHideListener = Keyboard.addListener("keyboardDi

[2017-06-01 19:11] jean9696 commented on #6566
Hi, sorry to reopen an old issue but I have the exact same problem.. I tried everything said above but still the same issue... I'm on windows for android, I'm using redux... Here are my dependencies :
[code]

[2017-06-01 19:21] rozele commented on #12749
Thanks @hramos, I think this commit may have fixed the issue https://github.com/facebook/react-native/commit/074fd33725626530c68d897150413a13715280a1

[2017-06-01 19:37] rburgst commented on #7680
I did modify the react native code. As I have it checked in I always put it
back when upgrading.

On 01.06.2017 at 14:40, Leo Käßner <notifications@github.com> wrote:

@rburgst <https://github.com/rburgst> Did you find a solution? We still
struggle with that problem. As the constant is defined as makro, we even
can't really subclass or categorize the RCTLocationObserver.

—
You are receiving this

[2017-06-01 19:52] hramos commented on #12749
Ah, that commit is only in 0.45. @grabbou is this something we could patch into older releases?

[2017-06-01 20:17] mikelehen commented on #6566
FYI- This issue is a year old, has some 40+ comments on it, and was used to discuss at least 2 completely separate issues.  You'll have much better luck opening a new issue with specific repro steps and error details.  Feel free to cc me on it so I see it.

[2017-06-01 20:18] ajostergaard commented on #13364
I have this, or a similar, issue but don't use react-native-router-flux.

[2017-06-01 20:57] hramos commented on #1831
It looks like this issue can now be closed, for the following reasons:

* We're recommending people use FlatList/SectionList now, no enhancements will be coming to ListView.
* It seems like a reasonable workaround has been identified in the thread.

Thoughts?

[2017-06-01 21:09] rozele commented on #12749
Confirmed that patching to 0.43/0.44 will resolve the issue.

[2017-06-01 21:17] projoneftw commented on #9665
same here, started just now, can't get past the "app:transformClassesWithDexForDebug" step when running "react-native run-android" :(
"react-native": "0.42.3"

[2017-06-01 21:18] aaronofleonard commented on #14284
They were right to close it. This is not related to React Native, and barely even to React itself. React is just nice enough to give you that informative message.

You say that even a state value will cause you to encounter the error. State is meant to be changed with `setState`, not by direct mutation. More than that, just because your `state` object "steals" the object from `this.props` does not

[2017-06-01 21:29] jpamarohorta commented on #1831
Isn't this a real bug? If yes, why closing the issue?

About the reasons:
* It also happens on FlatList, so it isn't a ListView only problem.

* Removing `removeClippedSubViews` seems like a hack with performance costs, not a reasonable workaround in my opinion.

[2017-06-01 21:55] githubdoramon commented on #11680
But when the master branch will be released??? I tried to use it but was unsucessful

[2017-06-01 21:56] githubdoramon commented on #13853
It is happening to me almost every time on dev mode

[2017-06-01 22:09] rbressi commented on #14043
Looks like the implementation of **RCTDeviceInfo.m** broke this, as the **RCTAccessibilityManagerDidUpdateMultiplierNotification** notification is being posted on the JS thread rather than the main thread, breaking the assertion in **RCTExportedDimensions**.

This is effectively blocking upgrades to RN 0.44 for anyone setting custom accessibility content size multipliers. Is this being looked at f

[2017-06-01 23:12] hramos commented on #637
Please avoid adding metoo +1 comments, as it distracts from the conversation. May I suggest using reactions instead?

[2017-06-01 23:16] phil-r commented on #637
@hramos The main problem with reactions that they don't attract any attention, but I agree that seeing that many `+1` is annoying.

[2017-06-01 23:17] #14174 closed

[2017-06-01 23:46] tibbus opened #14295 "panResponder doesn't work with Modal"
### Description

`onMoveShouldSetPanResponder ` is not triggered inside the `Modal` component, when used outside is triggered just fine.

### Reproduction Steps and Sample Code

https://snack.expo.io/HkttB70ZZ

1. Click on the `Touch me !!` green box and the alert from the event should be triggered.
2. Click on `Click Open Modal` to open the Modal.
3. Click on the `Touch me !!` green box, observe

[2017-06-01 23:55] stantoncbradley commented on #11813
@D1no @jamesone yes finally!  all I ended up having to do was set our Build Configuration to Staging for Archive.  D'oh!  Was setting it for Run, just not for Archive.  Thanks!

[2017-06-02 00:33] Symous commented on #14284
@aaronofleonard Thanks for your feedback! I understand what you said. but what confuse me a lot is that I have assign the state value to a totally new variable.
[code]
it would be no related to the state value, but I still encounter this error when I try to change its value, that's the key point.

[2017-06-02 00:40] lprhodes commented on #1831
Confirming that this is still an active bug within FlatList/SectionList.

There's also a few issues relating to the performance of FlatList/SectionList which means some people can't yet move from ListView, seems odd to have deprecated it already.

Could something like what I posted above be integrated into the components themselves?

[2017-06-02 00:52] sahrens commented on #1831
What problems have you had migrating off ListView?

[2017-06-02 00:55] lprhodes commented on #1831
#13727

[2017-06-02 00:57] cinder92 commented on #8923
this issue is braking my head!!! any fix about this? :(

[2017-06-02 01:06] Ashoat commented on #13727
It's sorta like StatusBar, it doesn't render anything so you can place it anywhere. I place it in the same View my FlatList is in.

The version in the gist I linked above probably has a bug or two, here's the latest version: https://github.com/Ashoat/squadcal/blob/master/native/text-height-measurer.react.js

[2017-06-02 01:23] lprhodes commented on #13727
Nice, thanks.

I ended up using onLayout then storing the dimensions of each cell.

I then used onViewableItemsChanged to determine whether a cell should be visible or not and stored this information too.

Finally, the render method checks whether the cell should be visible or not. If not it returns an empty view with the previously stored version (otherwise cells would jump around).

Additionally

[2017-06-02 01:27] sahrens commented on #13727
@ippa what perf issues did you have migrating off ListView?

[2017-06-02 01:28] sahrens commented on #13727
@giladno: does FlatList have any more problems than ListView for you, or is it mostly just the scrollToIndex with variable height problem?

[2017-06-02 01:36] sahrens commented on #1831
I'm not seeing any specifics of where ListView is better. Note you can increase the window size or turn off virtualization if that's an issue for you, since ListView doesn't do any of that.

[2017-06-02 01:41] lprhodes commented on #1831
I'd wait for them to respond to the questions you just asked before moving on from it but it's beside the point, this issue still occurs on FlatList and should remain open.

[2017-06-02 01:44] parkerproject commented on #13727
This issue is more to do with the styling. My approach was to add footer component, though it might not be the optimal solution, it gets the job done for now
`ListFooterComponent={() => (
                  <View style={{ height: 150 }} />
                )}`

You can adjust the height to meet you needs

[2017-06-02 01:58] wv1124 commented on #13901
v0.43.4 didn't work, i need fixed in v0.43.4

[2017-06-02 02:04] rocwangv commented on #14271
+1

[2017-06-02 02:04] SandraLum opened #14296 "ViewPagerAndroid renders empty dynamically added views after upgrade from v0.42.3 to v0.44.2"
### Description

I have an array to store children views for ViewPagerAndroid, as I dynamically append views to the array, I am expecting to see newly added views to be rendered as I swipe through the pager, it was working however after the upgrade from v0.42.3 to v0.44.2, it is currently rendering empty views.

### Reproduction Steps and Sample Code
[code]

### Solution

Going through the upgrade

[2017-06-02 02:28] jsntghf opened #14297 "will be remove from app store?"
If we use React Native, and use code push to fix some bugs, is this safe for review?

[2017-06-02 03:47] sahrens commented on #13727
I'm guessing there is an issue with the layout of your screen that's not FlatList specific. Try mucking with the style prop. A complete code snippet for the whole page might help others identify the bug.

[2017-06-02 05:11] JoshYuJump commented on #14297
It's safe. My App is on App Store and work very well.
As I know, `Code Push` is safe, `JSPatch` is not.

[2017-06-02 05:30] christianbach commented on #14070
Any "official" comment on this?

[2017-06-02 05:33] nihgwu commented on #14070
`npm start -- --reset-cache`

[2017-06-02 05:41] a407121393 commented on #6785
same issue+1

[2017-06-02 05:42] jjdp commented on #12896
apparently with the js sdk you have to set it to wss explicitly even if the serverURL is still https

[2017-06-02 06:02] abhishekpandeykr opened #14298 "JavaScriptException :{}"
```com.facebook.react.common.JavaScriptException : {}```,
I am getting this issue:
https://lh3.googleusercontent.com/-dcP7z0OZd7E/WTD9h58OKmI/AAAAAAAAAMI/7gEpJgcPNcskrJYJhq4OfSUzeRyNvVUQQCL0B/h1280/3584356336441677400%253Faccount_id%253D2

don't know whats getting wrong?

[2017-06-02 06:18] Abdul-majid-ashrafi commented on #14144
**@kholiavko-roman** are you slove this problem ?

[2017-06-02 06:31] kholiavko-roman commented on #14144
Yes. I reinstall global react-native cli and node_modules in my folder project.

[2017-06-02 07:02] ltfschoen commented on #3091
Further to @TheNotary comment. The alternative to creating your Android Virtual Device (AVD) from the command line is (i.e. instead of `android create ...`) you can instead just open the Android Virtual Device (AVD) Manager GUI with `android avd`, where you can easily create the AVDs and associated properties.

[2017-06-02 07:11] castielLi opened #14299 "run js remotely in ios simluator can't debug project source js"
i am a freshman in react-native and i'm very enjoy developing with this tool. When i builded a demo in iOS and debug its js file by following the docs, things happened to me just difference from docs.  There are no my demo project files in source tab but only two js file at localhost:8081 root
1.debuggerworker.js
2 index.ios.bundle?platform=ios&dev=true&minify=false

also cmd+p could not find my s

[2017-06-02 08:07] SpadeZach commented on #4968
I think the cause of this is because node_modules error, the solution to it is to install a new or existing project to replace the package

[2017-06-02 08:16] ivosabev commented on #637
I hope it is annoying enough so they finally fix a 2 year old issue.

[2017-06-02 08:36] yasserzubair commented on #5507
I'm using object.defineProperties, it doesn't work. Can somebody share code as of how to do it?

[2017-06-02 08:57] scarlac commented on #11586
@Ethan0007 It makes no difference for me. The 'bundle' command runs fine but the run-android still fails.

[2017-06-02 09:26] Ethan0007 commented on #11586
@scarlac  sir, can you please paste the said error.

[2017-06-02 09:40] piyush565 commented on #14225
app running cool with version react- 15.3.2, react-native- 0.35.0, but it asks for reactnativepropsregistry.js file missing or changed. So, i put "import { ReactNativePropRegistry } from 'react-native';" in node modules/react native easy grid/utils/ compute props.js... Happy coding after struggling for 5 days straight to figure out the issue solution.

[2017-06-02 10:05] scarlac commented on #11586
@Ethan0007 It was the exact error reported in this issue. For future reference, I solved it by following the [signing configuration guide](http://facebook.github.io/react-native/docs/signed-apk-android.html). The task `installRelease` won't be available unless the signing is set up properly. I followed the guide exactly, and then it worked.

[2017-06-02 10:27] huangming1994 commented on #3159
@yaofly2012 l got the same issue

[2017-06-02 11:31] emrehayirci opened #14302 "Post RN 44.2 Update UnableToResolve 'ActivityIndicator'"
Hello
I cloned one of my project and updated it's version. After update i got this error:

[code]

I applied all the methods that listed above, even updated my node version. Still i got this error.
By the way i am on Windows so i am not using watchman.
Later i gave it up started a new project. I only import packages that i used on this project. Even the code is just hello world code of RN i got th

[2017-06-02 12:05] iegik commented on #5886
Following rule craches on 5.1:
[code]

Solution is to remove:
[code]

[2017-06-02 12:42] mikelambert commented on #5886
@iegik , I'm not sure whose solution/code you were trying, but adding a `SYSTEM_ALERT_WINDOW` permission to release builds is *not* a solution I would recommend to others.

Please try my suggestion above, if you don't want to require that permission in your release builds.

[2017-06-02 13:41] rohitgoyal commented on #9880
It is working on iOS for me but looks like the 'defaultSource' is not supported on Android.

[2017-06-02 13:43] ThaJay commented on #637
probably not though
https://github.com/facebook/react-native/pull/9942

[2017-06-02 13:48] bleighb commented on #637
This wasn't in the original post, but please note that this isn't some obscure feature request. `npm link`, for example, uses symbolic links behind the scenes, so it breaks with that too. I can confirm that copying, rather then symlinking, does work, however that becomes impractical when working on different npm packages locally.

Also, I tried it on macOS and linux and same issue occurs.

[2017-06-02 13:58] rohitgoyal commented on #5017
Lot of people want this and there seems to be no update.

[2017-06-02 14:23] sukhvir1313 commented on #12754
@coolboy88 & @ecbrodie : Suggestion from coolboy88 worked for me. Thanks :)

[2017-06-02 14:32] tijp commented on #14037
To fix this you need to set FlatList's `scrollEventThrottle` prop to ~16 (amount of milliseconds how often it should update every second, you ideally want 60 fps so 1000ms/60fps = ~16ms).

However there is an issue where the value of `scrollEventThrottle` in the VirtualizedList (which FlatList is a wrapper of) is hardcoded to 50. This means that it will only update every 50ms (1000ms/50ms = 20fps)

[2017-06-02 14:32] ecbrodie commented on #14118
@hramos I extracted my specific bug from the original bloated issue thread #12754 as you requested, but it has not received any attention from either you or anyone from the React-Native team. What more needs to be done to get this issue triaged?

[2017-06-02 14:35] khaled-cliqz opened #14303 "Extend TouchableHighlight: `touchableHandlePress` is not invoked"
I'm trying to create a `Link` Component that extends from `TouchableHighlight` as follows:
[code]
The function  [touchableHandlePress](https://github.com/facebook/react-native/blob/master/Libraries/Components/Touchable/TouchableHighlight.js#L192) normally gets invoked when any `Touchable` is pressed, but that doesn't happen with my `Link` class, a press on the component directly invokes the parent

[2017-06-02 15:16] Devinwhite opened #14304 "Multiple Instances of Image fail to display when using resizeMode: 'stretch'"
### DESCRIPTION
When displaying a large list of images or using large images as a background. The Images begin to fail to display, resulting in a blank scene, while using resizeMode: 'stretch'.

### EXAMPLE

[code]

### WORKAROUND

resizeMode:'cover'

### Additional Information

The issue seems to be related to file size.  If the image is a larger image then it fails sooner, otherwise it is the th

[2017-06-02 15:43] guysegal opened #14305 "[FlatList] Locking scroll position in FlatList (and ScrollView)"
Hi,

I'm trying to create a FlatList that keeps the current scroll position locked and does not change by new items that are inserted at the top of the list.

I've created an [expo snack](https://snack.expo.io/ryUcWZ1fW) to demonstrate my intention:

The snack presents a ScrollView with green items, and a black item at the end.
When the app launch it scrolls to the bottom of the list. After five s

[2017-06-02 15:45] cwagner22 commented on #12223
My app is also crashing when Remote Debugging is enabled, using 0.44.2. (It happens randomly so hard to track down, like every 1-5 mins). And with [this issue](https://github.com/facebook/react-native/issues/7685) happening at each launch it makes RN development a nightmare for me.

[2017-06-02 16:25] mmmurf commented on #14209
@hramos I think people are just trying to express their sense of panic about issues like this :)

[2017-06-02 16:54] hramos commented on #14118
@ecbrodie we're still going through 1,000 or so remaining issues (all opened in the last two months), sorry

[2017-06-02 17:01] hramos commented on #14198
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:01] #14198 closed

[2017-06-02 17:03] #13716 closed

[2017-06-02 17:04] hramos commented on #13816
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:04] #13816 closed

[2017-06-02 17:04] hramos commented on #14006
Hey, thanks for reporting this issue!

Can you fix the formatting in your post? It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going

[2017-06-02 17:04] #14006 closed

[2017-06-02 17:05] hramos commented on #14015
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2017-06-02 17:05] hramos commented on #14037
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:05] #14037 closed

[2017-06-02 17:06] tapz commented on #13390
With 0.44.2 ReactComponentTreeHook cannot be found because RN (Systrace.js) tries to import files from /react/lib/, which does not exist at all in React 16.0.0-alpha.12. I'm just wondering how RN 0.44 works with anybody?

[2017-06-02 17:07] hramos commented on #14305
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:07] #14305 closed

[2017-06-02 17:07] hramos commented on #14303
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:07] #14303 closed

[2017-06-02 17:08] hramos commented on #14302
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:08] #14302 closed

[2017-06-02 17:08] hramos commented on #14299
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:08] #14299 closed

[2017-06-02 17:08] hramos commented on #14298
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-02 17:08] #14298 closed

[2017-06-02 17:09] hramos commented on #14297
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-02 17:09] #14297 closed

[2017-06-02 17:15] hramos commented on #13815
Done.

[2017-06-02 17:15] #13815 closed

[2017-06-02 17:37] arfa123 opened #14306 "cannot run app on Android 4.4.2"
I am trying to run app on android, but it shows error:

`Installing APK 'app-debug.apk' on 'XT907 - 4.4.2' for app:debug
Installed on 1 device.

BUILD SUCCESSFUL

Total time: 1 mins 40.331 secs
Running J:\Android\sdk/platform-tools/adb -s TA5970I02S reverse tcp:8081 tcp:8081
error: closed
Could not run adb reverse: Command failed: J:\Android\sdk/platform-tools/adb -s TA5970I02S reverse tcp:8081 tc

[2017-06-02 17:46] hramos commented on #14306
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-02 17:46] #14306 closed

[2017-06-02 17:47] #14239 closed

[2017-06-02 17:53] hramos commented on #14099
Any chance you can get the exact list of steps that got your project into this state?

[2017-06-02 19:09] iMagdy commented on #11480
I'm gettings this too

![image](https://cloud.githubusercontent.com/assets/611426/26740936/cfa52eea-47d7-11e7-9f0a-0f766742a6eb.png)

[2017-06-02 19:21] agrass commented on #8895
I'm with RN0.35 also with this issue in some devices. Any workaround?

[2017-06-02 19:42] gabriel-laet commented on #8723
Anyone found a workaround? This would really help mixed web/native projects

[2017-06-02 19:56] a-koka commented on #5886
I concur that `READ_PHONE_STATE` is not needed for `AsyncStorage` to work. Would anyone know why this permission is added?

[2017-06-02 20:12] joshfriend commented on #5886
@a-koka it's already been explained [above](https://github.com/facebook/react-native/issues/5886#issuecomment-230504022)

[2017-06-02 20:27] isnifer opened #14307 "react-native link freeze on windows"
## Reporting Bugs

Report a single bug per issue.

### Reproducing bugs
I've created repo https://github.com/isnifer/react-native-windows-issue

### Description
If I add any react-native package and try to link it - link command freezes

### Reproduction Steps and Sample Code
[code]

### Solution
I've discovered local-cli/link/link.js and I found that removing this line - https://github.com/facebo

[2017-06-02 20:37] constantinosergiou opened #14308 "how to add an external javascript to load all the time in the application"
is it possible?

[2017-06-02 20:56] ckim16 opened #14309 "Has 'vertical-align' feature been added?"
I saw several issues with vertical-align and I was wondering that feature is now being supported yet.

I want to position my text on the bottom of the image but I can't find a way to get around this.

If anyone can give me any update or advice, I would appreciate it.

Thank you,

[2017-06-02 21:27] shergin commented on #12904
@bryanjclark Ta-da! ea9d6746df8edab5d685614d6086c51f282f8056 (At least for iOS.)

[2017-06-02 22:33] hramos commented on #14309
I'm not sure which issues you're referring to - I'd check the releases notes to see if anything specific to vertical-align is covered. I'm going to close this as we're only using issues to track specific bugs in the core library.

[2017-06-02 22:33] #14309 closed

[2017-06-02 22:33] hramos commented on #14308
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-02 22:33] #14308 closed

[2017-06-02 22:41] annelorraineuy commented on #12895
I am getting this as well.
So on **DEV mode ON**, chrome debugging works the first time. Upon reload, the app is just a white screen. So I have to turn off Remote JS Debugging in order to get the app back again. Rinse and repeat cycle. :/

`"react-native": "0.44.0"`
I am using `"react-native-navigation": "^1.1.81"` though. Not sure if this has something to do with it.

[2017-06-02 23:45] sanathp commented on #3572
is this resolved ?? i still get this issue

[2017-06-03 01:07] cielu commented on #13816
@hramos @Free-ls  我用了别的方法解决了这个问题.
 I solve this problem in another way .

there are some key code

construct(props){
...
this.state={
    showSwiper:false
}
}

componentDidMount(){
     setTimeout(()=>{
          this.setState(showSwiper:true)
     },0)
}

renderSwiper=()=>{
     if(!this.showSwiper){
         return(
        <Swiper height:height ...>
         )
     }else{
         return (<View

[2017-06-03 02:09] gezichenshan commented on #7964
I encounter this issue on IOS, too.I set `backgroundColor:'rgba(0,0,0,0)'`on my Text to hidden the background but it is not good.

[2017-06-03 03:06] emrehayirci commented on #14302
@hramos thanks for the heads up . I was able to solve this by myself. Let me explain this issue detailed and ask the questions inside my head:

Everything started when i wanted to clone my project from github and update my project to RN - 44.2 .
After various attempts on clonenig, updating, re-installing i got error above and then i decided to start a clean project in 44.2 , add dependent packages

[2017-06-03 03:19] mienaikoe commented on #13160
@minhtc I didn't find this js file. Instead, I made all of the framework, header, and library search paths in `ios/<projectName>.xcodeproj/project.pbxproj` a list. Some of them were individual strings, but you can list them by surrounding the one string with (parentheses)

[2017-06-03 03:53] CDog34 commented on #9880
@rohitgoyal Yes, it is iOS only according to the official documents.

[2017-06-03 04:59] hieuvo commented on #7308
Got the same problem, these steps help me:
- upgrade reactive-native
- open project by Xcode, adjust/use a correct signing certificate

[2017-06-03 05:21] mykelaballe opened #14311 "Modal not showing"
RN: 0.34.0
Platform: iOS

With or without remote debugging, the modal is does not show on iOS simulators. Works fine on Android.

[2017-06-03 08:44] KeyX-y opened #14312 "[FlatList] FlatList onEndReached no work android"
<FlatList
        data={dataSource}
        keyExtractor={(_, i) => i}
        ItemSeparatorComponent={this._renderSeparator}
        renderItem={({ item }) => this._renderListItem(item)}
        onRefresh={() => this.handleRefresh()}
        refreshing={refreshing}
        onEndReached={() => this.handleLoadMore()}
        onEndReachedThreshold={0.3}
      />

this is no work  in android,
can wor

[2017-06-03 10:43] oallouch commented on #14070
ok... no expert here, but I guess I found it

. 1 window with the packager:
              npm start -- --reset-cache
. and in another window  :
              react-native run-android
The packager opens a server on the port 8081 and is used by the other window.

[2017-06-03 11:43] dunhuang opened #14313 "navigation template is not working anymore"
App generated by cli 'react-native init --template navigation' is not working anymore. The template should be upgraded.

[2017-06-03 12:34] D1no commented on #14246
I encounter the exact same issue now with 0.45.0-rc.2 in a fresh react-native init project.

[2017-06-03 13:20] D1no opened #14314 "0.45.0-rc2: Packager can not find entry file index.ios.js in any of the roots..."
When I run a fresh react native project I get the following error. I already changed node version from 6.10 to 7.8. Maybe this has something to do with the [latest rc2 update](https://github.com/facebook/react-native/releases/tag/v0.45.0-rc.2) (found under releases) ? Another rc2 project a few days ago ran without any problems.

### Reproducing bugs

run
`react-native init rn45rc2 --version 0.45.0

[2017-06-03 13:26] D1no commented on #14314
### Possible hint for Solution Aproach
When I run the packenger in another terminal first from the root folder via
`npm run start`
and than
`react-native run-ios`

The problem goes away. Still, `react-native run-ios` seems not to start the packenger properly.

[2017-06-03 13:56] nishantpardamwar commented on #10635
it is happening with me also whenever i try to dispatch an event on componentDidMount()
using

"react": "16.0.0-alpha.6",
"react-native": "^0.44.0",

[2017-06-03 14:01] FrenchMajesty opened #14315 "React Native Execution failed for task ':app:mergeDebugResources'."
Hey, I am trying to get react-native to work with Android but when I run react-native run-android I get this:

My emulator works fine, I can open my virtual device through Android Studio.
By default Android Studio came with the latest version, Android 7.1.1. I tried to install Android 6.0 but it did not fix the issue.
I also tried making a new project, cleaning the project and starting again but w

[2017-06-03 14:05] FrenchMajesty commented on #14315
Forgot to add:
My emulator works fine when I open my virtual device through Android Studio.

[2017-06-03 16:59] tanotify commented on #13758
+1 Same error

[2017-06-03 20:07] hynese commented on #14314
I too was banging my head with this most of yesterday...

I wonder will 0.44.4 be available via npm anytime soon?

Only up to 0.44.2 is available.

`npm show react-native versions --json`

I can see 0.45.0-rc.2, but I can't get it to work.

[2017-06-03 20:16] shergin commented on #14312
Can you provide a minimal amount of code to reproduce this using [Sketch](http://sketch.expo.io)? This is necessary for people to be able to see and debug the issue being reported.

[2017-06-03 21:19] hramos commented on #14313
This hasn't fully launched just yet. When you use a template name, it will look for a npm package named `react-native-template-XXXX` where XXXX is the template name. I don't see a `react-native-template-navigation` template in the npm registry.

[2017-06-03 21:19] #14313 closed

[2017-06-03 21:21] hramos commented on #14315
Can you try going through the getting started instructions? You'll need to switch to the latest version of the doc by clicking on the version number at the top.

[2017-06-03 21:21] hramos commented on #14311
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-03 21:21] #14311 closed

[2017-06-03 21:50] ricardofbarros commented on #14296
I'm also experiencing this, so I have also a hack in place to trigger a re-render so the view shows. I also encountered this issue while using (react-native-community/react-native-tab-view)[https://github.com/react-native-community/react-native-tab-view] when using the `lazy` option.

[2017-06-03 22:06] hugoruivo commented on #12754
Had the same issue here. What was happening on my setup was a permission problem, I had to run the following command at project folder:
`sudo chown -R myuser:staff myfolder`
After that `react-native run-ios` and it ran successfully.

[2017-06-03 23:36] YOmicha commented on #13704
I have the same error :(

[2017-06-04 01:31] FrenchMajesty commented on #14315
![screen shot 2017-06-03 at 8 28 43 pm](https://cloud.githubusercontent.com/assets/24761660/26758153/889d2592-489b-11e7-9ffa-27596c2a2167.png)
![screen shot 2017-06-03 at 8 29 00 pm](https://cloud.githubusercontent.com/assets/24761660/26758151/8899d716-489b-11e7-89ef-64566e6570e8.png)
![screen shot 2017-06-03 at 8 29 58 pm](https://cloud.githubusercontent.com/assets/24761660/26758152/8899e01c-489b

[2017-06-04 01:34] FrenchMajesty commented on #14315
I have kind of lost hope of figuring this out... but on the doc it says

But I can't find informations on how to run it directly from Android Studio

[2017-06-04 02:08] vahuja13 commented on #10187
ping

[2017-06-04 02:23] nkov commented on #14070
Works if you start the packager manually with `npm start` but doesn't work when launched alongside `react-native run-android` or `react-native run-ios`, it looks for the entry file in this location:

when it should just be `${PROJECT_DIR}`

[2017-06-04 02:57] niftylettuce commented on #13160
@minhtc Just to follow up - there are actually two places in that file that need adjusted as such.

[2017-06-04 05:13] raphaelboukara commented on #14157
+1 :)

[2017-06-04 05:43] ahilton commented on #13309
@githubmss, I had the same error [Cannot find module 'anymatch'] after upgrading from RN 0.41.2 to 0.44.1.

After re-installing NPM, NODE & REACT-NATIVE-CLI as per @petersuwara suggestion, I also had to delete '**package-lock.json**' in the project directory in order to resolve. No idea why.

[2017-06-04 07:05] lyquocnam commented on #13346
i abandon this project so long @JakeDawkins, react-native update many after that.

[2017-06-04 09:40] pencilcheck commented on #5122
I solved it by making sure that the project that builds React target (sometimes it might not be in your primary xcodeproject) has the preprocessor flag DEBUG=1

For example, i'm using detached expo project, which creates a Pod.xcodeproj next to the main xcodeproj within the xcodeworkspace.

I made sure in my bottom section of the Podfile, this happens
[code]

Then run `$ pod install` in the ios fo

[2017-06-04 10:23] dioxide commented on #14271
+1

[2017-06-04 14:57] joshyhargreaves commented on #637
+1

[2017-06-04 15:58] mateoc10 commented on #11480
@iMagdy i am having the same problem. Did you fix it?

[2017-06-04 16:05] mateoc10 commented on #11480
@iMagdy I just found a solution to that problem. The problem was that I uninstalled parallel desktop long ago but some files where still in my computer. I deleted the folder "Applications (parallel)". It had lots of windows applications in it. Now it works perfectly

[2017-06-04 17:53] Selman555 commented on #12971
Hi Konstantin,
I'm experiencing the same issues over several projects (about the WebSocket).
The websocket error appears after a second or two and doesn't break the app

I'm guessing the second error you are seeing (about undefined) has nothing to do with the WebSocket. It's got to be just an error that appears first and breaks further execution. That's probably why the WebSocket error doesn't sho

[2017-06-04 18:13] ChrisPomerleau commented on #4968
This is a stupid question, but how do I "recreate the project from scratch" ?

[2017-06-04 18:47] DominicTobias commented on #6282
Also getting this on 0.44

[2017-06-04 18:49] DominicTobias commented on #6282
I was getting this in 0.44, had to import `./app/index` instead of `./app` for some reason

[2017-06-04 21:00] gyurobenjamin commented on #637
Still waiting...

[2017-06-04 21:37] skellock commented on #637
The RN packager was built for Facebook's needs; which unfortunately (for us) didn't include symlinks.

But... packager will be getting some love shortly. Hoping to see some news this week.

In the meantime:

* Have a look at [haul](https://github.com/callstack-io/haul) by the [Callstack](https://callstack.io/) crew. Provided your symlink'd dependency doesn't have its own `react-native` dependency,

[2017-06-05 03:26] Jackoder commented on #13463
I met the similar issue when migrated version from 0.29.2 to 0.44.0, haven't found a way to resovle it.

[2017-06-05 06:11] m-sayari commented on #7495
@ralred, Thanks for the snippet but what is `AndroidPermissions` object?

[2017-06-05 06:21] gsklee opened #14319 "PickerIOS Documentation"
It is currently empty:

http://facebook.github.io/react-native/releases/next/docs/pickerios.html

[2017-06-05 06:29] Guacaswole commented on #14155
I too am having trouble getting touchable elements to work with FlatList.  In particular, TextInput

[2017-06-05 06:59] manujvashist commented on #14090
I had a similar problem.

The problem was when I would do adb devices or react-native run-android I would get "ADB is Not Recognized as an internal or external command".

So my fix was to add the path to adb.exe's parent directory to my Environment Variables and then restart my command prompts. After I did that, adb devices would not throw the "unrecognized internal external blah" and it listed my

[2017-06-05 07:41] deathemperor commented on #6691
Just got this on 0.44.2. my path has '-' not sure if it's the reason. Restarting the packager fixed.

[2017-06-05 07:52] cfs5403 commented on #12495
I see at stake overflow there is a hack to fix the spinner mode not work in android 7.0, check the answer by savanto. I tested it and it 100% work on android 7.0 devices, anyone can help make changes to the react native code based on his answer. This must be fixed as many android 7.0 user out there, they are complaining about the date picker for birthdate. Thanks.

https://stackoverflow.com/questi

[2017-06-05 07:57] konstantin-mohin commented on #12971
@Selman555
hey thanks,

No, I'm not.

I decided to upgrade a hole project to new version of React,
and it solves the issue.

[2017-06-05 08:23] Venryx commented on #9136
@pcguru Newer versions of react-native apparently use a different signature for blacklisting -- you're supposed to no longer include the "platform" parameter.

So instead of:
[code]

It should now be:
[code]

For reference, see [here](https://github.com/facebook/react-native/issues/10673) and [here](https://github.com/facebook/react-native/issues/7271#issuecomment-261552715).

For me, with:
react-

[2017-06-05 08:30] Venryx commented on #10673
An error should really be thrown when someone calls `blacklist` using the old signature.

This has caused problems, as it silently causes the blacklist system to fail in projects -- which is seemingly the only way to solve issues such as this: https://github.com/facebook/react-native/issues/9136

Because I didn't know this, and because using the wrong signature just failed silently, the build erro

[2017-06-05 08:31] leethree commented on #3693
I'm seeing the same issue. Y value is not updated as frequently as X value.

[2017-06-05 08:51] robinkam commented on #12058
@grabbou Please cherry-pick the fixes for this issue: #11809 into 0.41. Thanks a lot.

[2017-06-05 09:02] iegik commented on #5886
@mikelambert I have to request SYSTEM_ALERT_WINDOW permission from users, because our app crashes somewhere on getting permissions :(

[2017-06-05 09:13] mikelambert commented on #5886
@iegik From what I understand, normal release-mode apps shouldn't need `SYSTEM_ALERT_WINDOW`, and it's only useful for development-mode apps. Do you have a log of said crash, that show where this "somewhere" is?

Of course, you're welcome to do that if it suits your needs and isn't worth debugging for you... I just didn't want future readers of this thread to think they need to request that permis

[2017-06-05 09:16] tapz commented on #13390
The imports seem to be fixed in RN 0.45. Looks like they were too hasty release something unfinished as 0.44.

[2017-06-05 09:16] drpiou commented on #12077
I have the same issue with fresh RN-0.44. To reproduce what i've done:
- just start a new project and (try to) compile with Xcode...

[2017-06-05 09:52] bood commented on #14296
Should be similar to #13463, see my comment there for a work around fix.

[2017-06-05 10:01] Mindaugas-Jacionis commented on #13384
It is odd, because I get this error with RN 0.44.0 and only when running `react-native run-ios` command from terminal, if I am building using xcode - all is good.

[2017-06-05 10:06] kinop112365362 commented on #11171
Same problem here.

React Native version: 0.43.2
Platform: Android
Operating System: Mac OS X

[2017-06-05 10:22] mocanSergiu666 opened #14321 "App not installed with unsigned release apk"
I cannot install an application on a real device from unsigned release apk.
But when I try to install debug apk, it installs sucessfully, but the application doesn't work properly, it shows the red screen with the error "Could not connect to developmenet server".
What's the problem?

react native 0.44
android 4.4.2 real device

[2017-06-05 11:30] pavitran commented on #14321
if you have android studio installed, run
`react-native bundle --platform android --dev false --entry-file index.android.js   --bundle-output android/app/src/main/assets/index.android.bundle   --assets-dest android/app/src/main/res/`
and then import to android studio and run as normal app.

I'm getting the same error with and 4.4.2, the issue is `adb reverse tcp:8081 tcp:8081` failing.

[2017-06-05 13:19] itneste commented on #13788
yes,it works fine on android,but flexflexDirection:'row' not work on ios.

[2017-06-05 13:25] vdlindenmark commented on #14319
For the next release it's empty. For the documentation of 0.44 not: http://facebook.github.io/react-native/releases/0.44/docs/pickerios.html

[2017-06-05 14:05] zhuyifan2013 commented on #11370
Still exists in RN 44

[2017-06-05 14:09] ManishPatiyal commented on #14079
+1

[2017-06-05 15:42] juangl opened #14323 "Outdated documentation for gif support on Android"
## Reporting Bugs

https://github.com/facebook/react-native/blob/master/Libraries/Image/Image.ios.js#L109

Using this version of `animated-gif` with React Native 0.44 my app crashes on Android. To fix it, I'm using this version:

[code]

[2017-06-05 16:00] master-atul commented on #14246
Same here .. upgraded to 0.45 and facing this issue of having to do --reset-cache everytime before doing react-native run-ios or android .
Anyone found a permanent fix ?

[2017-06-05 16:24] ide commented on #11370
This issue exists because iOS uses many different versions of JavaScriptCore (a different version of iOS 8, 9, 10, 11) and RN Android uses its own JSC version. So there will *always* be some differences between different platforms until JSC completely stabilizes (maybe never, since JS changes each year).

To work around this you could write a polyfill or your own startsWith function instead.

[2017-06-05 16:33] hramos commented on #13822
Sorry to hear about your trouble. I believe I saw someone file an issue about this elsewhere in the repo. I'll need to close this specific issue here because there isn't sufficient information to act on it. If you want this to remain open, could you update your post to make sure it meets the issue guidelines?

[2017-06-05 16:33] #13822 closed

[2017-06-05 16:33] hramos commented on #14323
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-05 16:33] #14323 closed

[2017-06-05 16:40] hramos commented on #14315
You can launch it like any regular app built using Android Studio exclusively. You can find more in the Android Studio docs: https://developer.android.com/training/basics/firstapp/running-app.html

[2017-06-05 16:41] hramos commented on #13841
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-05 16:41] #13841 closed

[2017-06-05 17:34] nonameolsson commented on #13758
I had the same problem but thanks to the comments I managed to solve it.

I upgraded to:
    "react": "16.0.0-alpha.6",
    "react-native": "0.44.2",

After that:
`rm -rf $TMPDIR/react-* && watchman watch-del-all && npm cache clean`
`rm -rf node_modules`
`npm install`

That solved it.

[2017-06-05 18:05] maludwig commented on #4968
Just had this problem, and it took me forever to notice that I was trying to run a project when my other project was already running. I decided to restart my computer and then my one terminal was like, "bro, you sure you want to reboot? I have this server running here. It'll die. You sure?" and then I was like AUGH.

I'd love if it warned you, like, 'Hey, noticed you've got this thing running alre

[2017-06-05 18:41] grabbou commented on #12749
Yeah, I'll cherry-pick remaining commits and release new builds of all
those versions.

On Thu, 1 Jun 2017 at 23:11 Eric Rozell <notifications@github.com> wrote:

[2017-06-05 18:51] smartdevth commented on #13977
Any update on android?
Does anybody find this weird thing like me ?

[2017-06-05 20:04] GollyJer commented on #13192
@jmparsons you don't by chance have a code sample of how you're doing this?
How do you pass `item` from the section renderItem to the FlatList rederItem?

[2017-06-05 20:27] BehzadV opened #14324 "Geolocation does not recover from location being off in Android"
Ok,
I wanted to get user's location and if location is not turned on, ask user to turn it on and then get it. I have  tried many ways for solving this, however, I might be in the wrong. I have the following code in one of my React Native Components:
[code]

On Android, this works entirely fine if Location is on BEFORE component is rendered (before componentDidMount). Success callback gets invoked

[2017-06-05 20:51] hramos commented on #14324
Can you make sure to fill out the template properly? We need exact repro steps.

[2017-06-05 20:52] hramos commented on #14321
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-05 20:52] #14321 closed

[2017-06-05 21:10] jmparsons commented on #13192
@GollyJer It's something along these lines:

[code]

[2017-06-05 21:33] JasonHenson commented on #1190
+1 this would be a great addition

[2017-06-05 21:43] khisakuni opened #14325 "ative LocationServicesDialogBox"

[2017-06-05 21:44] #14325 closed

[2017-06-05 21:46] hyb175 commented on #13384
@Mindaugas-Jacionis That's because xcode and `react-native` store the built binaries in different folders. `react-native` stores in `your-project-folder/ios/build/`, but xcode stores in `~/Library/Developer/Xcode/DerivedData`

[2017-06-05 21:47] Kosai106 commented on #13309
I've been getting the same issue as @githubmss after upgrading to NPM 5.0.2, but luckily, like @ahilton suggested, deleting *'package-lock.json'* solved it.

[2017-06-05 21:50] mhorowitz opened #14326 "In a CocoaPod build, "Optional.h" will refer to folly/Optional.h unexpectedly"
### Description

The CocoaPods setup works, but there are issues integrating it into larger projects.  In particular, header files from folly (and maybe elsewhere?) pollute the user header filespace, and I don't know why.

### Reproduction Steps and Sample Code

1. check out https://github.com/mhorowitz/native-navigation-boilerplate and apply this:

[code]

2. To run pod and open in Xcode:
[code]

[2017-06-05 21:57] BehzadV commented on #14324
@hramos OK. Sorry. I'll retry like this:

With the code above, there are two scenarios:

1. (Correct, no issues scenario)
    - Turn on Android's location.
    - Then, navigate to the above component.
    - Everything runs as expected. Location is received.

2. (Problem)
    - Navigate to the above component.
    - A Toast Android will pop and ask you to turn on your location
    - Now, turn on yo

[2017-06-05 22:41] fast0490f opened #14327 "slow performance, Text over Image"
Hi, i have next code:

[code]
If Text style position: 'absolute' over Image,  setState update text value, perfomance: JS 8 - 15 fps. Else Text style position: 'relative' no over image setState text value, performance: JS 57 - 60    fps.
 If have 15 - 20 Text and call setState 1000ms of update values, critical js fps 0.  How can I achieve good performance?

[2017-06-05 22:48] hfigueira commented on #29
+1 for TextInput (Pleeeeeease!)

[2017-06-05 22:49] sjmueller opened #14328 "[0.45.0] + [0.46.0-rc.2] fails to compile folly: Undefined symbols for architecture x86_64"
Having a problem compiling react native 0.45 & 0.46-rc.2 during the linking phase:

![image](https://cloud.githubusercontent.com/assets/29085/26806163/56d6b4aa-4a04-11e7-8a67-0d1f2d5c8bc5.png)

![image](https://cloud.githubusercontent.com/assets/29085/26806216/9213dcbe-4a04-11e7-836a-9d8e93a18d2f.png)

I've never seen errors in RN related to folly, so not really sure what has changed from 0.44 to

[2017-06-05 22:52] sjmueller commented on #13958
Keep an eye on this sleeper: #14328, it breaks all swift projects by failing to compile.

[2017-06-05 23:16] #13691 closed

[2017-06-06 01:43] jamesone commented on #13835
@ahmadmuhsink Hey! Did you end up finding a way to add the fbsdk to your project without using cocoapods?

I'm in the same boat. We're using carthage and don't want to use cocoapods for various reasons.

However I've looked around and it looks like Facebook will not be adding Carthage support to the FBSDK. However they are adding the support for there SWIFT fbsdk package (which I don't think we ca

[2017-06-06 01:53] ahmadmuhsink commented on #13835
@jamesone
Hey! I use different approach for this. I need this carthage support because I want to have RN native module as library.

If you really need this carthage support you can add framework scheme by yourself, but that requires fork and will be hard to manage version.

[2017-06-06 01:55] jamesone commented on #13835
Yeah I figured 😄 How do you setup the fbsdk? Do you use cocoapods? I'm interested to know because we really need to setup the fbsdk but don't want to use cocoapods...so I'm exploring all options at the moment 👍
@ahmadmuhsink

[2017-06-06 01:58] jamesone commented on #13835
@ahmadmuhsink Do you use the swift SDK with react-native?

[2017-06-06 02:39] #14319 closed

[2017-06-06 02:40] sunnylqm commented on #10553
ping @ide  @javache

[2017-06-06 02:40] ahmadmuhsink commented on #13835
@jamesone Nope, I didnt use cocoapods, fbsdk, and swift sdk.

I only use react-native, and I use it as `submodules` for my native modules bridges. https://github.com/blog/2104-working-with-submodules

[2017-06-06 02:49] farazs commented on #11594
Why was this closed? It hasn't been resolved and the current implementation is flawed requiring complex workarounds.

[2017-06-06 02:52] Liberty-liu commented on #13895
who can help me？i have the same a question too

[2017-06-06 02:54] cani1see opened #14329 "Release version not package right when use flavorDimensions in gradle"
Build with demension1flavour-demension2flavour-release
Error:
Caused by: com.facebook.jni.CppException: Could not get BatchedBridge, make sure your bundle is packaged correctly

[2017-06-06 03:00] guoliang1206 opened #14330 "[Android] React ART can't drawing the line dynamic."
I have used the panResponder to catch the points moved on the screen ,draw the path and display it. It is works well on iOS, but it doesn't works on Android.

Here is the code:
process the points
[code]

render method:
[code]

This is it works on iOS, when I touch and moved ,it will display the line . and the points object will be correctly display ,notice the text : initial -> [Object object]
![d

[2017-06-06 03:10] vTrip commented on #1831
Just for general community knowledge.

I came across this issue in my scenario where I am using Nested ListView's i.e. ListView's within a ListView row. My solution was fixed by applying `removeClippedSubviews={false}` to the nested ListView's.

`
react-native-cli: 2.0.1
react-native: 0.41.2
`

[2017-06-06 03:17] ishwarrimal commented on #12885
I was getting the same error while running 'react-native run-android' and was getting a white screen. I followed @stoffern instructions. Now that error is gone. But still getting white screen. Please help

[2017-06-06 03:24] Kimmer12 commented on #2711
My react-native frozen at 97% anyone got the same problem? : mycode:
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat installDebug)...
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:app:prepareComAndroidSupportAppcompatV72301Library U

[2017-06-06 03:26] bernatfortet opened #14331 "[Text] Having an emoji changes line height"
To reproduce copy this to any view
[code]

![image](https://cloud.githubusercontent.com/assets/390010/26812540/220e680c-4a2d-11e7-9085-126aa9c1ae76.png)
notice the difference in height

Expected both lines have the same height.
As you can expect in any text emojis should not affect the line height for example in github 👇

Related to https://github.com/facebook/react-native/issues/4457

[2017-06-06 03:38] GollyJer commented on #13192
@jmparsons Awesome.  Thanks!

[2017-06-06 04:25] yliu05 commented on #14079
I feel it's difficult for me to find the reason for the warnings and error same as @brimes's.
And this issue has wasted much time (almost one day).
Finally, I found in the menu **Dev Settings**, unckecking the check box **JS Dev Mode** (default checked) works for me.
While in the adb output, u can see **__DEV__ === false**.
I know the warnings and error just temporarily hide by this way.
Hope some

[2017-06-06 04:30] VinceXie commented on #7308
Same problem. use all solution above but not work.wtf.

[2017-06-06 04:48] hramos commented on #14329
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-06 04:48] #14329 closed

[2017-06-06 04:49] hramos commented on #14327
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-06 04:49] #14327 closed

[2017-06-06 04:49] AnOrphanInTheBeautyfulWorld commented on #7308
VinceXie , same.
And run the project in Xcode is good , just cannot run as "run-ios".
Try all the answers dose not work.

[2017-06-06 05:37] colorfulberry commented on #12754
When i suffered it, i solved with follow
[code]

[2017-06-06 05:40] tdotcspot commented on #12754
I've previously tried out the AwesomeProject on other machines, but was first my time ever running into issues. Tonight I received the 'No bundle url present' error. This was on a new iMac. Fresh OSX install too.

For some reason, Safari was not resolving localhost and neither was the iOS Simulator (though other browsers were fine). After going thru various posts here, I assumed that it needed to

[2017-06-06 05:47] chetankotkar commented on #10191
@malithjkmt when I run the command "adb shell input keyevent KEYCODE_MENU"  output on my screen is "Error: TV display id Invalid, will send event to default displayId ".

[2017-06-06 06:15] rocwangv commented on #13160
+1

[2017-06-06 06:19] windhost commented on #13788
same problem +1

[2017-06-06 06:26] idibidiart commented on #1424
@sebmarkbage how would a shared reference get implemented? seems too low level for JS.

@all can we take care of the bridge--is-the-bottleneck issue? seems that the JS<->Native interop is the "weakest link" in the RN performance story.

[2017-06-06 06:36] topchyalexey commented on #13693
Face that problem too

[2017-06-06 07:21] Mindaugas-Jacionis commented on #13384
@hyb175 you're awesome! Thanks! :)

[2017-06-06 07:46] janicduplessis commented on #14275
Yea keyboard handling is really bad on Android, there is no event triggered so the way used to detect when it opens is to use a layout listener on the window and check if the height changed. Doing this means there is only one event triggered, the only thing we could do is trigger both `keyboardWillShow` and `keyboardDidShow` at the same time so the behavior is closer to iOS but that may not be rea

[2017-06-06 07:57] herarya commented on #29
+1 for TextInput

[2017-06-06 07:59] lavarajallu opened #14333 "How Can I Set Video Splash Screen in react-native Android?"
Please read the following carefully. Issues that do not follow these guidelines will be closed.

We use GitHub Issues exclusively for tracking bugs in React Native.

- Have a question? Ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- Have a feature request? Submit it here: https://react-native.canny.io/feature-requests
- Want to know more about future plans? Check ou

[2017-06-06 08:22] orta opened #14334 "[Packager] Only a single simulator gets LiveReload/HMR connections in Xcode 9"
### Description

Installed the Xcode9-beta simulator, opened up my app in two different devices and hit save.

![screen shot 2017-06-06 at 09 15 10](https://cloud.githubusercontent.com/assets/49038/26819971/1a95f920-4a99-11e7-96d7-063e15077e18.png)

You can see it happening in this tweet: https://twitter.com/orta/status/872002403930968064

### Reproduction Steps and Sample Code

List all the steps

[2017-06-06 08:29] Fanghornn commented on #13763
Hello, i also went through the same issue with react-native in 0.42 but i've been able to fix it.

I had a component that renders a single `<Image />` and it's only purpose was to compute it's height correctly.

So what i was doing, is that i was using the state to set the style of the image like `style={[styles.image, this.state]}`

And the state looks like this in the constructor: `this.state =

[2017-06-06 08:57] Juxtlie opened #14335 "DatePickerAndroid presets Date wrong if GMT is from -1 hours to over"
React Native: 0.44
GMT is -3 hours

DatePicker('simple', { date: new Date(2020, 4, 20) });
    https://www.dropbox.com/s/ij7qjrc6jhsxuxz/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202017-06-06%2011.56.51.png?dl=0

[2017-06-06 09:03] EgaSetya commented on #14078
How did you solve this issue?

[2017-06-06 09:13] #13010 closed

[2017-06-06 09:19] grabbou commented on #12749
0.43.5 was released.

[2017-06-06 09:19] #12749 closed

[2017-06-06 10:23] markgoodyear opened #14337 "Incorrect react-native-custom-components package linked on latest release notes"
I notice the `react-native-custom-components` link goes through to https://yarnpkg.com/en/package/react-native-custom-components instead of https://yarnpkg.com/en/package/react-native-deprecated-custom-components on the latest release notes (http://d.pr/i/v4ObOa/27V3MyOK).

Just thought I'd point it out incase it causes any confusion.

[2017-06-06 10:25] paprikka commented on #5219
@satya164 Thanks for the code example. I'm afraid, however, that you're missing Android 4.4 here (which might be an unsolvable issue, as the callback seems to be disabled completely in 4.4).

[2017-06-06 10:35] joncursi commented on #14209
I just hit this upgrading from `0.44.2` -> `0.44.3`

[2017-06-06 10:43] joselcvarela commented on #12062
@Jimmy-YMJ thank you, that worked for me :D

[2017-06-06 10:48] pesehr commented on #14209
Tnx ^_^

[2017-06-06 10:49] joncursi opened #14338 "`LikeView` has no propTypes defined"
I'm using the [`react-native-fbsdk`](https://github.com/facebook/react-native-fbsdk) package in React Native (I would post this to that repo, but they don't accept GitHub issues, so this is the next best place). When I booted up RN this morning, I started getting the following redbox error:

[code]

![screen shot 2017-06-06 at 6 47 56 am](https://cloud.githubusercontent.com/assets/4974609/26825708

[2017-06-06 11:24] joncursi commented on #14338
I wonder if this could be from a new babel plugin I installed yesterday:

[code]

However, I have tried removing this plugin and node_modules and re-installing node modules, but no luck.

[2017-06-06 11:39] GumboFroehn commented on #6692
Same problem, same exception.

[2017-06-06 12:32] nazarTrynko commented on #14045
The point is to create custom keyboard, with custom animation, which will be used to fill input, instead of default keyboard

[2017-06-06 12:55] Chatharaju commented on #29
+1 for TextInput

[2017-06-06 13:29] Venryx commented on #9136
Hmmm. I perhaps spoke too soon. While the above may have helped (hard to tell -- I don't want to replicate the old state to confirm), I then found I was still getting errors a couple builds later.

However, I believe I've fixed it fully now, by using watchman, as recommended by @chardlau.

However, the link he gave is outdated. The latest version can be obtained here: https://facebook.github.io/wa

[2017-06-06 13:30] Venryx commented on #11288
Note that for step 3, you can also call "react-native start --reset-cache" directly, which is a little more consistent with the usual commands. (eg. react-native run-android)

Also, note that if you're not currently using watchman, it might be worth switching (ie. installing watchman, then adding it to the path) -- especially if you're on Windows. For me, this was the only way I was able to fix th

[2017-06-06 13:40] luco commented on #13758
+1
This is a pain.

[2017-06-06 13:43] mehdijjz commented on #4926
why is this closed ?!

[2017-06-06 13:47] OrganicCat commented on #13727
This may be a dumb question, but is there a reason you're not using "scrollToEnd()"?

I had a pretty big issue with this until I attached that. I was adding dynamically sized components, and it wasn't going all the way to the bottom. Note, that it doesn't fire properly under "componentDidUpdate()" so I created my own method which fires it:

[code]

I'm not sure if this is NEEDED or I'm just missin

[2017-06-06 13:48] shivam6294 commented on #8949
+1
Causing my app to crash

[2017-06-06 13:51] Anu-Ujin opened #14340 "How to change TabbarIOS icon's size?"
[code]

Here is my code and i can't change size of the require image

[2017-06-06 14:14] basequatro commented on #10559
Same issue. RN 43

[2017-06-06 14:29] jbcullis opened #14341 "Confused on version"
I cannot reproduce this error at will, it seems when an update is interrupted the app has believes it's running the latest version and a sync will return as up to date, however it's still running the previous version of the code.

Is there an option to force update to the most recent package?

[2017-06-06 14:57] khunghang16 commented on #14227
hello. @imarem  . how about fix it? me too .

[2017-06-06 14:58] ugiacoman opened #14342 "Xcode 9 Beta Simulator failure"
### Description

React-Native doesn't want to launch beta Simulators that come with Xcode 9 Beta

If I run directly from Xcode and not from CLI, I receive the following error:
`Error returned in reply: Connection invalid`

### Reproduction Steps and Sample Code

1. Install Xcode 9 Beta
2. Run `react-native run-ios`

Error:

### Additional Information

* React Native version: 0.44.0
* React Native

[2017-06-06 15:01] imarem commented on #14227
Hi @khunghang16 ,

follow the steps from [http://stackoverflow.com/questions/44190829/facebook-sdk-android-error-building](url)

;)

[2017-06-06 15:21] amandameng commented on #7308
I fixed my issue, you can try it if you are in the same condition.

I encountered the same error(<Print: Entry, ":CFBundleIdentifier", Does Not Exist>) when I clone an existing react-native project from [https://github.com/bonniee/learning-react-native](https://github.com/bonniee/learning-react-native).

1. I initialize(using <react-native init yourProjectName>) a new project with the same name in

[2017-06-06 16:04] cpojer commented on #13976
We are live! https://github.com/facebook/metro-bundler &  https://twitter.com/MetroBundler/status/872120701125357568

[2017-06-06 16:09] javache commented on #14326
I've found the same thing in https://github.com/facebook/react-native/pull/14100, where `pod lib lint $POD_LINT_OPT --use-librarie` would fail for the same reason.

[2017-06-06 16:13] gregblass commented on #4239
Just wondering if this is for the mail app only? Most people I know use the Gmail app on iOS. The subject doesn't seem to work there. There doesn't seem to be any mention of it in the documentation. Is this just assumed that the user is using the default iOS mail app?

[2017-06-06 16:22] farazs commented on #13831
Same here (RN 0.42.3)

Stacktrace:
[code]

[2017-06-06 16:32] gregblass commented on #4239
This looks like its happening outside of React Native too, and appears to be a bug or shortcoming of the Gmail iOS app. Typical situation where Google and Apple don't care about working together on stuff like this. Not really a problem of React Native though.

[2017-06-06 17:02] hramos commented on #14341
Can you provide more details? Ideally, fill out the template when opening a new issue.

[2017-06-06 17:03] hramos commented on #14340
Hey @Anu-Ujin, thanks for reporting this. Unfortunately we need more details to help. For example, what did you expect and what did you get as a result? If you think this is a bug in the project itself, can you make sure to fill out the new issue template that we provide when you create a new issue?

[2017-06-06 17:05] hramos commented on #14338
According to the fbsdk repo, any bugs or issues should be reported to https://developers.facebook.com/bugs/. That's likely why it does not accept GitHub issues.

[2017-06-06 17:05] #14338 closed

[2017-06-06 17:11] brentvatne commented on #14275
It sounds like the best thing to do is clearly document this limitation then. Any takers?

[2017-06-06 17:13] chapeljuice commented on #11359
Just FYI these look to be benign warnings and nothing to worry much about. See the following for more detail: https://github.com/Microsoft/react-native-code-push/issues/582#issuecomment-260833783

[2017-06-06 18:19] edcalderin opened #14344 "React-native 0.44.2 and react-native-fbsdk 0.6.0 troubles."
Hi Guys. I was working with RN 0.37.x and react-native-fbsdk 0.5.0.
It was neat but I upgraded my project to RN 0.44.2 recently and fbsdk 0.6.0 as well but it didn't work. I had to uninstall it and to install react-native-facebook-login. In android Studio console, I saw some errors:

Error:(3) Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.M

[2017-06-06 18:21] #11603 closed

[2017-06-06 18:27] jbcullis commented on #14341
This error has presented itself on several occasions with my users and I've only been able to reproduce it once.
When the update process is interrupted and fails to update the package, it seems that code push has already decided it's got the most current version of the package and therefore subsequent sync calls will fail.

When this happens there are only two ways to fix the issue, you need to re

[2017-06-06 19:17] hramos commented on #14344
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-06 19:17] #14344 closed

[2017-06-06 19:18] hramos commented on #14341
Alright, we really need more detailed reproduction steps in order to keep this open. Can you fill out the template?

[2017-06-06 19:20] hramos commented on #14337
Fixed, thanks.

[2017-06-06 19:20] #14337 closed

[2017-06-06 19:23] jbcullis commented on #14341
Like I said, I cannot reproduce this on demand. What I'd be interested in is some sort of 'Force Update' option so we have a fallback when this happens.

We have a bit over 3k active users and as far as I'm aware it has only happened a dozen times or so.

[2017-06-06 19:44] kenma9123 opened #14346 "App crashed in Android 7 devices"
Description

I have been using react since, I published my app to playstore. So I got reports from the ANR/Crashes tab.  This happen specifically on android 7 devices. and even on emulator.

Google play sometimes call it "tgkill" and have trace like this. I have so many crashes like 50 and up.

[code]

It's working as expected on Android 6 and 5 devices but not with 7 really. So I'm not sure what'

[2017-06-06 19:54] emrosenf commented on #14250
We had this problem too. Turns out RN 44.3 is using React 16.0-alpha (which doesn't have react/lib/ReactPropTypes), but the codemod commit didn't make it until RN 45, https://github.com/facebook/react-native/commit/6564edce5e828685099957741db935cda029ca23

The solution was to upgrade to RN 45.0-rc3. Alternatively, it would seem that using an older version of React 15 would also help, but I'm not s

[2017-06-06 20:29] truckingsim commented on #6692
same issue doing a release build of my app

[2017-06-06 21:00] niftylettuce opened #14348 "v0.45.0+ - VirtualizedList slow performance and rendering"
The rendering of VirtualizedList (namely `<SectionList>`) has extremely poor performance.  I will be submitting a PR that seems fixes the issue introduced by this line <https://github.com/facebook/react-native/blame/v0.45.0-rc.3/Libraries/Lists/VirtualizedList.js#L537> per this commit <https://github.com/facebook/react-native/commit/52e50af56d601e63a0c83118c194149d3aed38ea#diff-25477c6bad509193f02

[2017-06-06 21:32] hramos commented on #14341
It's still unclear what specific issue you're reporting. If this is about Code Push, perhaps https://github.com/Microsoft/code-push is a better place to report the issue.

If you're confident this is an issue in React Native core, please open a new issue and make sure to fill out the template in its entirety. Thanks.

[2017-06-06 21:32] #14341 closed

[2017-06-06 21:33] hramos commented on #14346
As it happens, debugging individual crashes from a particular app is out of scope for the issue tracker. If you can distill this into a reproducible issue, we'd be happy to take a look.

[2017-06-06 21:33] #14346 closed

[2017-06-06 21:36] gusgard commented on #1438
@dabit1  thanks!

Example that works:

**Code**
[code]

**Styles**
[code]

[2017-06-06 21:40] DukeNukem1990 commented on #14275
Just opened a PR for this. Its my very first so if I did anything wrong please let me know.

[2017-06-06 22:29] oximer opened #14351 "Two application simultaneously on iOS"
I'm having trouble when drawing two React Application simultaneously on iOS.
Something when a click on button from application 1, the button from application 2 is also triggered.
It seems to me that both components have the same reactTagId and it is messing the whole thing.

It's not possible to have two application (Rootview) sharing a screen? Something like a big screen shared in two frames, eac

[2017-06-06 22:34] niftylettuce commented on #14348
So the issue is actually this function:

[code]

[2017-06-06 22:36] niftylettuce commented on #14348
Specifically on first load, this function has `hiPri` true, which delays the rendering until it finishes iterating over all records.  If we have 1000+ records, it's incredibly slow.

[code]

[2017-06-07 02:46] weeravit opened #14353 "Please support share api on Facebook app (Android)"
My below code didn't work with android because facebook app display empty text

`Share.share({
message: 'Test test test',
url: 'https://facebook.com/',
title: 'React Native'
})`

[2017-06-07 02:52] xuho opened #14354 ""react-native start" command consumes a lot of memory"
Hi.
I'm using RN to develop android and ios app, and I using Ubuntu 16.04. After long time to use (for 2 month). When I start packager by command "react-native start" or "npm start", it took me about 3GB RAM!!! Before, with the same project, it took me about 1.2-1.5 GB.
I tried deleting npm cache by command: "npm cache verify" or "npm cache clean" but it still is. How can I fix it?
Thank.

[2017-06-07 03:04] steven89 commented on #13754
Issue is still there in React Native `0.44.2`

For those running into this issue you can find a work-around here https://gist.github.com/steven89/f7aedca683deee6ee8211399e94cd583

The issue is related to `onLayout` mechanism (rendered height is calculated from layout's height):

- `onLayout` is not called when the keyboard is dismissed, because the keyboard is not constraining the component's layo

[2017-06-07 03:23] yesh0907 commented on #13865
@dobrienlzd That wasn't the issue, the problem was that  I was using homebrew's gcc-4.9. I uninstalled it and used the default gcc that comes with a Mac and it worked.

[2017-06-07 04:33] Guacaswole commented on #10138
@despreston & @gre that solved it for me.

Once my both my parent and child `FlatList` had the keyboardShouldPersistTaps prop set it worked a treat

[2017-06-07 04:42] uandco commented on #13665
Yeah I ran into the same issue and had to look at the source code to figure out you have to turn `pagingEnabled` off when using `snapToInterval`. The code comment is actually super clear about it but it's not specified in the documentation.

[2017-06-07 05:12] ejc3 commented on #12813
Did this get addressed in the latest release?

[2017-06-07 06:01] Obooman commented on #12103
Both `NavigationExperimental` before or `React Navigation` now can hardly handle high order navigation or customize needs.The Navigator has been removed from official document and the `React Navigation` is really weak though.

[2017-06-07 06:09] chandanGr opened #14356 "Facebook Login"
Please read the following carefully. Issues that do not follow these guidelines will be closed.

We use GitHub Issues exclusively for tracking bugs in React Native.

- Have a question? Ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- Have a feature request? Submit it here: https://react-native.canny.io/feature-requests
- Want to know more about future plans? Check ou

[2017-06-07 06:10] chandanGr commented on #14356
C:\Users\suhas\Documents\Facebook>react-native run-android
Scanning 556 folders for symlinks in C:\Users\suhas\Documents\Facebook\node_modules (16ms)
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat installDebug)...
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app

[2017-06-07 06:11] chandanGr commented on #14356
cd android
gradlew clean
cd ..
react-native run-android

when the above commands did not solve my Issue

[2017-06-07 06:43] windhost commented on #14086
I got the same problem. The error is:
`java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
                                                            at android.view.ViewGroup.addViewInner(ViewGroup.java:3562)
                                                            at android.view.ViewGroup.addView(ViewGroup.java:3

[2017-06-07 07:56] deepaksisodiya commented on #14154
@nsisodiya You should try this
fetch(url, {
  credentials: 'include',
  ...otherOptions,
});

[2017-06-07 08:00] chenyi5266 commented on #7495
I tried all methods , failed...

[2017-06-07 08:06] Andreyco commented on #14356
To note, such questions do not belong here. Anyway, I solved this issue doing following [these steps](https://stackoverflow.com/questions/44190829/facebook-sdk-android-error-building/44190896#44190896)

[2017-06-07 08:17] ZevenFang commented on #13364
+1

[2017-06-07 08:18] windhost commented on #14086
I fixed this by remove stickySectionHeadersEnabled option in android.

[2017-06-07 08:22] orenklein opened #14357 "Android - Image.getSize is unnecessarily decoding image"
Image.getSize is unnecessarily decoding image which is causing an high memory bump (which will be garbage collected in the future)

Reproduce (the specific url is used to show a big size image example) :
[code]
The above example is causing memory bump of approximately 50MB.
In think that using encoded image instead of decoded image is the right approach.

I will add a pull request - change the imp

[2017-06-07 08:27] Ethan0007 commented on #11586
@scarlac  Good to hear that.

[2017-06-07 09:01] BolexLiu commented on #14036
I have a similar problem. But I found that he was caused by third party sdk. When I eliminated the third party, SDK recovered.

[2017-06-07 09:08] clementcontet commented on #12967
@himanshu266 thanks for the fix.
But I would rather set `RCT_DEFAULT_LOCATION_ACCURACY`  to `kCLLocationAccuracyBest` instead of `0.0` because the value of these "accuracy constants" are not documented by Apple and may change (if `kCLLocationAccuracyBest` is `0.0`, what is
`kCLLocationAccuracyBestForNavigation`?)

Back to the root cause, I don't get why this `desiredAccuracy` is changed after we s

[2017-06-07 09:10] chandanGr commented on #14356
Thank You  so much. It worked for m @Andreyco

[2017-06-07 09:52] shenzhenjinma commented on #10865
please see http://68xg.com/reactnative/82.html

[2017-06-07 10:12] chenyi5266 commented on #7495
I tried  all solutions , all failed ....
suddenly remembered my app has a map module , the baidu map   ,  a chinese map (map.baidu.com) like google map, it can get markers and current location !!!   Finally I made it ~

you can search it by github    react-native-baidu-map

import {
  MapView,   // the map view   ( I dont need)
  MapTypes,  // type as 2D or 3D  ( I dont need )
  Geolocation  // ap

[2017-06-07 10:19] jeanregisser commented on #13788
Same here with RN 0.45-rc.2

One workaround is to wrap the section header into another `<View />` so the component which has `flexDirection: row` is not the first one.

@janicduplessis could this be caused by the changes for the new sticky headers implementation?

[2017-06-07 10:29] #14356 closed

[2017-06-07 10:31] chandanGr opened #14360 "Unable to resolve module `prop-types`"
error: bundling: UnableToResolveError: Unable to resolve module `prop-types` from `C:\Users\suhas\Documents\FacebookTest\node_modules\react-native-fbsdk\js\FBLikeView.js`: Module does not exist in the module map or in these directories:
  C:\Users\suhas\Documents\FacebookTest\node_modules
,   C:\Users\suhas\node_modules

[2017-06-07 10:39] Muneefm opened #14361 "Webview causing Error on Android 7 and greater"
While clicking on html select from webview  the app force close on  android 7 and greater.

[code]

### Additional Information

* React Native version: 0.44.0
* Platform: Android

[2017-06-07 10:53] #13958 closed

[2017-06-07 10:53] grabbou opened #14362 "[0.46] Commits to cherry-pick into stable branch"

[2017-06-07 11:13] Venryx commented on #9136
I've found a second solution.

1) Move your `index.android.js` entry file into the `src` folder.
2) Update your `android/app/build.gradle` file:
[code]
3) Update your `android\app\src\main\java\v\<project name>\MainApplication.java` file:
[code]

4) Create an `rn-cli.config.js` file in your project's root, with these contents:
[code]

What this does is it removes the need for the blacklist -- it j

[2017-06-07 11:21] TommyDevAll commented on #6303
Hi guys. Thank you for the amazing work you are doing with react.

Anyway i agree with @tianxind, someone should mention that Android is not ready to update props of a running component. I've lost half of my brain looking for a solution then a came here XD

[2017-06-07 12:36] ben-snaize opened #14364 "Requiring module 'NativeModules' by name - arguments[0].indexOf is undefined"
Hi,

Seeing an odd issue in RN 0.42 (since upgrading from 0.38, I believe).

I can't replicate the crash locally in debug or release which makes things difficult, but on both iOS and Android I'm seeing the following logged from Crashlytics. Both apps run through flawlessly locally, on device and via TestFlight / Play Store beta, yet something like like 1 in 20 users of the live Apps are crashing d

[2017-06-07 12:36] Symous opened #14365 "Animation interpolate rotateZ bug"
Hi, when I try to use interpolate to set a rotate for a view ,error occured that :
Error while updating property 'transform' of a view managed by : RCTView.

this is my code :
[code]

[2017-06-07 12:40] mrgoonie commented on #14246
It seems to be a common issue, I had this issue too with 0.45-rc2

[2017-06-07 12:47] vgalkin commented on #14246
Having same issue after upgrading.

[2017-06-07 12:50] Symous commented on #14365
OK,just have found that we can output rotate value in outputRange.
[code]

[2017-06-07 12:50] #14365 closed

[2017-06-07 13:20] br4nnigan opened #14366 "[0.45.0] new app setup fails "bundling: Error at DependencyGraph._getAbsolutePath""
react-native init testApp
cd testApp
react-native run-ios

yields:

`
error: bundling: Error
    at DependencyGraph._getAbsolutePath (/Users/nilspoltoraczyk/Desktop/temp/testApp/node_modules/react-native/packager/src/node-haste/DependencyGraph.js:280:11)
    at DependencyGraph.getDependencies (/Users/nilspoltoraczyk/Desktop/temp/testApp/node_modules/react-native/packager/src/node-haste/DependencyG

[2017-06-07 13:30] martwetzels commented on #13965
How did you resolve this issue? on iOS it is working fine but on Android it throws me the error: 'unknown protocol: data' from `data:image/jpeg;base64,${photo.data.userPhoto}`.

[2017-06-07 13:49] kwnccc commented on #12661
I'm facing the exact same issue, with both react-native v0.42.2 and v0.42.3. Anyone found a way to resolve this issue?

[2017-06-07 13:49] aparedes commented on #14366
I got it to work by starting the packager with `npm run start -- --reset-cache`.

But you have to reset the cache each time you close it.

[2017-06-07 14:03] ben-snaize commented on #14246
Also seeing this. Notice that after `react-native run-ios` the packager is doing the following:

Same symptoms as @MyTotoro

`Looking for JS files in
   /Users/me/App/node_modules/react-native/packager`

After `npm start -- -reset-cache`

`Looking for JS files in
   /Users/me/App`

Clear the first time around the bundle location is set incorrectly.

[2017-06-07 14:06] dmbfm commented on #14366
Getting the same error here after the last Xcode update.

[2017-06-07 14:30] SirNeuman commented on #14366
Also getting the same error with Android.

react-native init Project
cd Project
react-native run-android

Android: 7.0 and 6.0 (real devices)
Mac: OS 10.12.5
"react": "16.0.0-alpha.12",
"react-native": "0.45.0"

[2017-06-07 14:34] cmcguire79 commented on #14366
Getting the same error for run-ios and run-android.
Looking for JS files in <project-route>/node_modules/react-native/packager
instead of <project-root>

npm start works ok

[2017-06-07 14:38] vasyas commented on #13448
I have the same issue with sharing code between web & native apps.
I ended up putting all the sources under the native folder, and setting up webpack to use sources from that folder.

I hope there will be a better way to do it.

[2017-06-07 14:47] hramos commented on #14340
In this case, the component being displayed is an actual native UITabBar. Therefore we're limited in terms of how much it can be customized, especially when it comes to the presentation of icons. If you need to present a tabbar that is sufficiently different from the native iOS tab bar, you may want to write a JavaScript component that matches your look instead.

[2017-06-07 14:47] #14340 closed

[2017-06-07 14:54] AndreiCalazans commented on #11755
Alright well i'm having the same problem how do i make the react-native reference java 8 now that i have already reference java 9 ??

[2017-06-07 14:57] AndreiCalazans commented on #11755
I tried changing the version by doing this
**sudo update-java-alternatives --set java-8-oracle**

then checking the version with
**javac -version**

it returns **javac 1.8.0_131**

But when i echo $PATH i see that it is still referencing the java 9 folder

`echo $PATH
/home/andrei/.nvm/versions/node/v7.5.0/bin:/home/andrei/bin:/home/andrei/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/b

[2017-06-07 15:08] crazywako commented on #14366
Cannot run on-device debug. Getting this error. Trying to look files from '/node_modules/react-native/packager'

[2017-06-07 15:12] paul-aigue commented on #8949
+1 with RN 0.44 and Firebase 3.9.0, both Android and iOS

[2017-06-07 15:18] fengerzh commented on #13309
Just delete `package-lock.json` solved the problem. Don't worry, after you run `npm install`, `package-lock.json` will come back. I am not familiar with `yarn`, but I guess the file was generated by `yarn` to keep packages consistent.

[2017-06-07 15:24] fengerzh commented on #13390
That's true. If you are using RN 0.44, you'd better keep it as below:
[code]
don't use `^16.0.0-alpha.6`, otherwise when you run `npm update`, it will become `^16.0.0-alpha.12`, then cause this error. Or maybe you can upgrade react-native to 0.45.

[2017-06-07 15:24] irrigator opened #14368 "New project fail to build on iOS (double-conversion.build failed)"
## Reporting Bugs

New project fail to build on iOS (double-conversion.build failed)

### Reproduction Steps and Sample Code

```react-native init``` to create a new project and run ```react-native run-ios```

## Useful error messages:

### Additional Information

* React Native version: 0.45.0
* Platform: iOS
* Development Operating System: macOS 10.12.5
* Dev tools: Xcode 8.3.3

[2017-06-07 15:35] irrigator commented on #14368
Additional information, android version can run but only renders a white screen. Existing 0.44 app on my computer runs without any problems.

[2017-06-07 15:41] GetSource1234 commented on #29
+1 for TextInput and View (RN 0.44)

[2017-06-07 15:42] PublicParadise commented on #14366
I am seeing the same problem after upgrading to react-native 0.45. But my error message is slightly different:
```NotFoundError: Cannot find entry file build/app/app.ios.js in any of the roots: ["<omitted>/client/node_modules/react-native"]```

That might be the reason why @aparedes's `npm run start -- --reset-cache` didn't work for me. Using `--root` as suggested [here](https://stackoverflow.com/

[2017-06-07 15:51] MacKentoch commented on #12103
Having used **react navigation** is a significant application I finally would choose it over **Navigator** even if the latter were not deprecated.

Yes there is still some hard word to make it production friendly but as far as I experienced it is more often a lack of documentation (*for some use cases / situations*) and examples.

[2017-06-07 15:51] cprovatas commented on #14342
+1

[2017-06-07 15:57] cprovatas commented on #14342
Opening the simulator manually, then running the project fixed the issue for me.  I think it's a bug w/ Xcode 9 finding the PID and attaching to the simulator

[2017-06-07 15:57] markmadlangbayan commented on #14246
Same here, steps to reproduce and temp fix:

[code]

## Temporary fix:
1. Close terminal launched by running react-native run-ios
1. Run the following:
[code]
1. On simulator, type `cmd + r`
# Simulator will load the project properly.

**Note:**  I have to do the temporary fix every single time.

[2017-06-07 16:03] Jammyvm commented on #12120
I'm having the same problem in android, in the simulator and in a tablet with a release version. Anyone have a fix to this?

[2017-06-07 16:17] kotAPI opened #14369 "Link from website tutorial to example apps is broken"
--- Delete everything above this line ---

### Description

I was reading the [tutorial ](https://facebook.github.io/react-native/docs/more-resources.html#content)and tried to look into some example projects and hit a 404 when I clicked on it.

Currently points to [this](https://github.com/facebook/react-native/tree/master/Examples)

### Solution

The link needs to fixed to the correct repository

[2017-06-07 16:32] GuusDeGraeve commented on #14314
Also having this issue with the newly released 0.45.0, starting the packager manually does seem to be a workaround but it's far from ideal.

[2017-06-07 16:43] bernatfortet commented on #14368
Same here

[2017-06-07 17:18] BCGen commented on #12717
@iRoachie
you can set  [TextInput selection](https://facebook.github.io/react-native/docs/textinput.html#selection) to cursorPosition.

`<TextInput selection={this.state.cursorPosition} />`

and after add new line set cursorPosition to next position

 `const newPosition = this.state.cursorPosition + 1;`
`setState.({cursorPosition: newPosition});`

[2017-06-07 17:41] maotora commented on #3099
@yugalbagul did you solve this??

I'm currently getting the similar error and would like to have some help.

Thanks.

[2017-06-07 17:43] eskizo commented on #8980
been scratching my head for an hour, @nicoschi has the solution there

THIS should be in the docs

[2017-06-07 17:44] hramos commented on #14369
Thanks for the report. This is [already fixed](https://facebook.github.io/react-native/releases/next/docs/more-resources.html#content) in the latest version of the docs, which you can access by clicking on 0.45 at the top. I'll work on getting these fixes backported to 0.45 soon.

[2017-06-07 17:44] #14369 closed

[2017-06-07 17:45] hramos commented on #14360
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-07 17:45] #14360 closed

[2017-06-07 17:45] hramos commented on #14361
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-07 17:45] #14361 closed

[2017-06-07 17:46] hramos commented on #14364
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-07 17:46] #14364 closed

[2017-06-07 17:46] hramos commented on #14351
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-07 17:46] #14351 closed

[2017-06-07 17:47] hramos commented on #14353
Thanks for opening the issue, however it looks like a feature request. As noted in the [Issue template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) we'd like to use the GitHub issues to track bugs only. Can you implement the feature as a standalone npm module? If not consider sending a pull request or a create an entry on [Canny](https://reactnative.canny.io/fea

[2017-06-07 17:47] #14353 closed

[2017-06-07 17:47] hramos commented on #14333
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-07 17:47] #14333 closed

[2017-06-07 17:48] annelorraineuy commented on #14086
My FlatList crashes as well, more so after upgrading to RN 0.44.0

[2017-06-07 17:49] hramos commented on #14331
I saw you re-opened #4457. Can you make sure to fill out the issue template in its entirety?

[2017-06-07 17:55] GianlucaGuarini commented on #13448
I thinks there is no easy fix to this issue since RN uses its own package manager to handle npm dependencies. I will close this issue because there was no useful answer since 1 month and I had to hack stuff all around to let my RN app properly working in a shared web environment (along with other issues not related to the one above). I could only recommend to whoever comes to this issue that if yo

[2017-06-07 17:55] #13448 closed

[2017-06-07 18:00] ben-snaize commented on #14364
Thanks, I'm active on SO. I'll post there.

[2017-06-07 18:04] ramosalx1504 opened #14372 ""Hello World"app is not working on Android 7.0"
I've initialized a new react-native project and it does not work on Android 7.0, but in all other versions (4xx,5xx,6xx, 7.1.1) works normally on avd's.

adb logcat :

![captura de pantalla 2017-06-07 a las 12 03 30 p m](https://user-images.githubusercontent.com/12147160/26893721-5ed1f13a-4b79-11e7-8c53-19d86014e968.png)

Note: I have an app in the Google Play store, and it has reported locks on A

[2017-06-07 18:33] iremlopsum opened #14373 "App get's a syntax error after upgrade to 0.45"
### Description

I upgraded from 0.44.2 to 0.45.0 and after that I get and error:

C:\a\swipes-api\mobile\node_modules\babel-register\node_modules\babel-core\lib\transformation\file\index.js:590
      throw err;
      ^

SyntaxError: C:/a/swipes-api/mobile/node_modules/react-native/local-cli/core/index.js: Unexpected token (23:2)
  21 |
  22 | export type RNConfig = {

     |   ^
  24 |   /**
  25

[2017-06-07 18:47] hramos commented on #14372
Can you open a new issue and make sure to fill out the template with plain text?

[2017-06-07 18:47] #14372 closed

[2017-06-07 18:48] pangpond commented on #14373
did you try to re-install `babel-register` or use `ncu -a` to update node_modules package

[2017-06-07 19:15] iremlopsum commented on #14373
@pangpond I updated it to 6.24.1, but still receiving the same error

[2017-06-07 19:24] ccdwyer commented on #14366
I'm having this issue as well. @aparedes's advice is getting me by for now, but it's annoying having to run that command every time I want to launch my app.

macOS: 10.12.5 (16F73)

[2017-06-07 19:28] ccdwyer commented on #14373
I had this issue as well, deleting the node_modules folder and reinstalling dependencies got me to the issue in 14366.

[2017-06-07 19:32] emadd commented on #10360
Getting this in 0.45.0, Mac OSX Sierra

[2017-06-07 19:49] JonnyBurger opened #14375 "[SectionList] Sticky headers do not stick"
### Description

The `SectionList` component does have a prop called `stickySectionHeadersEnabled`. However when I set it to true, the section headers do not seem to stick to the top as the documentation suggests.

### Reproduction Steps and Sample Code

Snack: https://snack.expo.io/rkt7_TrzZ

### Additional Information

* React Native version: 0.45.0
* Platform: both
* Things I've tried: Adding a

[2017-06-07 19:53] iremlopsum commented on #14373
@ccdwyer same!

[2017-06-07 19:56] ds300 opened #14376 "[0.45.0] Project roots are incorrect if packager starts when invoking `react-native run-ios`"
### Steps for reproduction

First make sure you have no react-native packager instance running

    react-native init Bananas
    cd Bananas
    react-native run-ios

### Effect

I get the error

`Cannot find entry file index.ios.js in any of the roots: ["/Users/dshe/code/Bananas/node_modules/react-native/packager"]`

![image](https://user-images.githubusercontent.com/1242537/26898192-fc8c332e-4bc

[2017-06-07 20:09] OmgDef commented on #14376
+1

[2017-06-07 20:30] dcp12345678 commented on #14376
I got this when doing `react-native run-android` as well (this is with a brand new project created with `react-native init TestProject3`), so I don't think the problem is limited to ios.

![image](https://user-images.githubusercontent.com/5330970/26899856-7f25ece6-4b9e-11e7-8ea4-704336851d79.png)

[2017-06-07 20:40] ccdwyer commented on #14376
Looks like a duplicate of #14366.

[2017-06-07 20:56] ds300 commented on #14376
#14366 has the same reproduction steps and might be related, but is a different error. Note that it seems to persist even if you run the packager with `yarn start` or similar without clearing the cache.

[2017-06-07 21:12] iremlopsum commented on #14373
Fixed by rimrafing node_modules and reinstalling modules

[2017-06-07 21:12] #14373 closed

[2017-06-07 21:20] AndreiCalazans commented on #3199
Thanks @oren

[2017-06-07 21:29] ekryski commented on #14246
Yup this is a legit defect, I also ran into it.

I haven't been paying as much attention to the packager updates as of late but I _think_ it was introduced in the latest v0.45 release. Not seeing it in v0.44.

Possibly in this commit? https://github.com/facebook/react-native/commit/a26e0427846796809afb8a5742f864d733cad440

Basically when the packager is started automatically it doesn't have the co

[2017-06-07 21:39] pjeide commented on #14366
Same problem as @br4nnigan but with Android, @aparedes's solution seems to be working.

Windows 10
react-native 0.45.0
react 16.0.0-alpha.12
Android

[2017-06-07 23:28] kostap13 commented on #14376
run-ios and run-android not working.

[2017-06-07 23:42] #13900 closed

[2017-06-08 00:04] kostap13 commented on #14376
Maybe this commit broke build
https://github.com/facebook/react-native/commit/236e9e4d01f60225855477b710fd4b5e1b8817fb

[2017-06-08 00:09] dadsteph commented on #14246
I got the same trouble, any permanent fix?

[2017-06-08 01:32] ccdwyer commented on #14376
@ds300 Check out your console when you get this error.  At least for me, these errors seem to go hand in hand.
<img width="1706" alt="screen shot 2017-06-07 at 9 30 04 pm" src="https://user-images.githubusercontent.com/1327868/26908443-b1f57fb8-4bc8-11e7-8d05-115f30432b4f.png">

[2017-06-08 01:38] praisegeek commented on #13390
@danleveille specifying a version number should work as well. i.e react-native-git-upgrade 0.43.4

[2017-06-08 02:01] DMCHZP commented on #14368
+1

[2017-06-08 02:26] damiaozi commented on #5174
I has the same problem too. fixed founction:
1、react-native start
2、react-native run-android
will fix the problem.

[2017-06-08 02:40] tufik2 opened #14379 "Lost setNativeProp and others methods when I create personal Component with Child nodes"
Hi there, I am creating a custom Component
[code]
Inside MyComponent I loop over all Childs refs with the next code:
[code]
But when I try to use setNativeProp in `<Text>` inside my component. SetNativeProp is undefined

I am using the next code to reach the child inside of any method.

`this.refs.tab0.children[0],`

Another way I tried was putting up refs to each text but, I lost the refs also.

[2017-06-08 02:47] dmr07 opened #14380 "[0.45.0] So many errors that I literally cannot get started."
I'm new to react, and I'm having a lot of trouble getting started. Here's a list of what happens in sequence:

1. Run npm install on a package, then react-native run-ios. Then error:
`Command 'run-ios' unrecognized. Make sure that you have run 'npm install' and that you are inside a react-native project.`

2. Run install the latest react-native, which solves the problem.

3. Rerun the simulator. E

[2017-06-08 02:51] renlong commented on #14368
+1

[2017-06-08 03:12] psgganesh commented on #8880
You guys just put food for me on my table :), thank you very much, wish i could just contribute at-least via money, if not code; a link to donate would help 🥇

[2017-06-08 03:16] dmr07 commented on #14380
I just realized my react version is set at 15.5.4 when it should be 16.0.0-alpha.12

[2017-06-08 03:19] walkerXiong commented on #14087
any comment, any response will be appreciate.

[2017-06-08 03:21] dmr07 commented on #14376
@ds300 what version of React do you have in your node_modules? Make sure it's 16.0.0-alpha12+. I had the same issue and it was because npm was giving me 15.4.4

[2017-06-08 03:22] #14380 closed

[2017-06-08 03:29] anhtuank7c commented on #14376
I have same problem.
RN: 0.45.0
React: 16.0.0-alpha12

![screen shot 2017-06-08 at 10 26 42 am](https://user-images.githubusercontent.com/3163410/26911077-320dbf14-4c35-11e7-8028-3e48e27192b8.png)

[2017-06-08 03:34] gudjao commented on #14368
+1

[2017-06-08 03:37] BolexLiu commented on #14036
I've solved this problem because he's using the same source of the third party SDK's .so dynamic link library as the .so dynamic link library in React native. My approach is to find the third party sdk. Delete the same .so file. That's the solution to this bug.

我已经解决了这个问题，他是由于第三方sdk的so动态链接库与React native中的so动态链接库用了同一份导致的。我的办法是找到这个第三方的sdk。将相同的so文件删除掉。这样做就解决了这个bug。

[2017-06-08 04:06] zachlucas commented on #14376
+1

[2017-06-08 04:30] ragibkl commented on #14246
I have the same problem here. Currently affecting me when starting on a new project.
@ekryski is right, this issue is not present in v0.44
Hence, my current workaround is to init the new React Native project, using React Native v0.44

1. Install rninit (https://www.npmjs.com/package/rninit)
`npm i -g rninit`
2. Init project with react-nativev0.44.0 (https://www.npmjs.com/package/rninit#usage)
`rni

[2017-06-08 04:32] allmaxgit opened #14381 "[0.45.0] checkPropTypes warning on LayoutAnimation.easeInEaseOut()"
On call `LayoutAnimation.easeInEaseOut()` in React native 0.45.0 occurs next warning:
[code]

[2017-06-08 04:55] mars-lan commented on #14314
Same problem upgrading from 0.44.2 to 0.45.0

[2017-06-08 04:56] yaxin3690 commented on #12246
是是是

[2017-06-08 05:10] subsub commented on #5174
It's 2017, and I `still` get this issue. Worst experience as first timer like me. Have been looking for solution, but no real working solution yet. Happens on two computers, two operating systems each (windows and linux), all failed.

[2017-06-08 05:23] RaymondChuh commented on #14246
Ran into same problem and temporary fix works in my case.

[2017-06-08 05:31] br4nnigan commented on #14366
I ended up using [rninit](https://github.com/jacobbubu/rninit) to initialize the project with the previous release.

[2017-06-08 05:32] VitorBe commented on #14376
I have the same issue with _run-android_.
Yesterday everything worked fine.
Didn't upgrade anything manually.

[2017-06-08 05:40] jamesone commented on #13257
@ahmedlhanafy I think this is due to the image cropper resizing 👍 Not related to the Image component itself.

I have confirmed this by upsizing the image crop size & the blur is gone.

[2017-06-08 05:49] VitorBe commented on #14376
@dmr07    How can i check version of React in node_modules? How can i upgrade this? Sorry, i'm newbie.

[2017-06-08 06:18] joncursi opened #14382 "Xcode 10: third-party: 'config.h' file not found"
After upgrading from `0.44.3` -> `0.45.0`, XCode no longer builds for me with the following error:

[code]

![screen shot 2017-06-08 at 2 14 56 am](https://user-images.githubusercontent.com/4974609/26914635-6edbfdb0-4bf0-11e7-8d9f-8df97c0a01c7.png)

I am not using cocoa pods, just npm packages. Seems like [some related changes have been made](https://github.com/facebook/react-native/commit/1ea4002

[2017-06-08 06:19] abhishekpandeykr opened #14383 "Cannot read property 'style' of undefined"
[code]
I am creating new Project and I am getting this issue, what is the reason behind it, it happens all of sudden, before one week it was running fine and dont know what happen all of sudden.

https://lh3.googleusercontent.com/-eOoBbtCWAYw/WTjsM8vayKI/AAAAAAAAANA/FPyot7I7jhMcGT-RF19aEEqDcCOqW5fpwCL0B/h1280/2745609453805224300%253Faccount_id%253D2

[2017-06-08 06:34] ethanyanjiali commented on #14314
Same problem. `react-native run-ios` is broken on 0.45.0. need to start the packager by `npm start`

[2017-06-08 06:36] azmigit commented on #14314
i have same problem how to fix it

[2017-06-08 06:37] arvenjadeaguilar commented on #12937
I am also experiencing this issue. :(

[2017-06-08 06:37] nihgwu commented on #14375
can you test with RN0.46? several related bug-fix commits have been shipped in this release

[2017-06-08 06:38] mrgoonie commented on #14314
Still the same on 0.46.0-rc.0 (released a few hours ago)

[2017-06-08 06:38] mrgoonie commented on #14246
Still the same on 0.46.0-rc.0 (released a few hours ago)

[2017-06-08 06:54] ethanyanjiali commented on #14314
I just deleted the app on my simulator and ran `react-native run-ios` again. it's now working. I've also cleaned all the cached (watchman, rmrf node modules and npm start -- --reset), not sure if it's related

[2017-06-08 07:06] VitorBe commented on #14376
that's how i've solved the issue in my Windows PC:
1) in the first admin's cmd.exe typed: 'netstat -a -b -o'.
Found PID of 8081 server.
Then i killed this proccess by typing 'taskkill /pid 1234' where '1234' - your PID.
2) open normal cmd.exe and typed: 'react-native start'.
3) open another normal cmd.exe and typed: 'react-native run-android'.

[2017-06-08 07:08] windaxl opened #14384 "native start"
Please read the following carefully. Issues that do not follow these guidelines will be closed.

We use GitHub Issues exclusively for tracking bugs in React Native.

- Have a question? Ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- Have a feature request? Submit it here: https://react-native.canny.io/feature-requests
- Want to know more about future plans? Check ou

[2017-06-08 07:13] azmigit commented on #14314
@ethanyanjiali thx it work's for me

[2017-06-08 07:24] sus007 opened #14385 "Build failed with an exception while using Android Studio 2.3"
# FAILURE: Build failed with an exception.
@hawkrives
What went wrong: A problem occurred configuring project ':app'.
You have **not accepted the license agreements** of the following SDK components: [Android SDK Platform 23, Android SDK Build-Tools 23.0.1]. Before building your project, you need to accept the license agreements and complete the installation of the missing components using the And

[2017-06-08 07:28] ethanyanjiali commented on #14376
I posted a solution in different thread.
copy paster here to help more people:

[2017-06-08 07:32] rushabhmakwana opened #14386 "Cannot find entry file index.android.js in any of the roots"
![screen shot 2017-06-08 at 1 05 32 pm](https://user-images.githubusercontent.com/24916127/26917125-a4e52422-4c4a-11e7-8e72-c97b8616a6c2.png)

[2017-06-08 07:33] kostap13 commented on #14376
@dmr07 Version in packackage.json and node_modules is "react": "16.0.0-alpha.12"

`lsof -n -i4TCP:8081` - no processes

`ps -ef | grep "npm"` :
  `501  1603  1317   0 10:32   ttys001    0:00.00 grep npm`

[2017-06-08 07:34] kostap13 commented on #14376
@ethanyanjiali
Is `react-native run-android` or `react-native run-ios`  working now?

[2017-06-08 07:36] Oblongmana commented on #5603
To add another scenario to this situation - I have images that are not network images, and I can't reasonably be expected to know the size of them. They're being retrieved via an API where I need to authenticate (so I can't just plumb it in as a URI into getSize), so it's being pulled down to the device.  getSize works on iOS, but not android, funnily enough. If there's something I'm missing here,

[2017-06-08 07:40] ethanyanjiali commented on #14376
haven't tried android. but `react-native run-ios` works for me after i cleaned up everything through the commands I listed above

[2017-06-08 07:43] coma commented on #14386
I'm getting this too on a freshly created app (react-native init foo) using react-native-cli 2.0.1 on OSx.

[2017-06-08 07:44] neverlan commented on #14368
Same here

[2017-06-08 07:48] rushabhmakwana commented on #14386
@coma Same here.

[2017-06-08 07:49] coma commented on #14386
The bundling process is failing somehow...

[2017-06-08 07:54] mattijsf commented on #11027
Thanks @sduqlsc that worked for me too. Though I only needed to add:
[code]

Btw, the above code is also part of the boilerplate Android project that is created when you would run `react-native init`. Though I'm not sure what the impact would be of disabling arm64 / x86_64 output.

[2017-06-08 07:58] rushabhmakwana commented on #14386
Yup..waiting for an expert to help here.

[2017-06-08 07:58] peterp commented on #14381
It looks like this [was fixed](https://github.com/facebook/react-native/commit/962e664c33e514729de8a8bd3a7289c8ddb2d5d9). I'm not sure why it's not in this release.

[2017-06-08 08:02] DemisBand commented on #14386
Same problem since upgrade react native 0.44 to 0.45

[2017-06-08 08:09] stoffern commented on #14384
@windaxl you are like missing everything in your issue..

[2017-06-08 08:14] yliu05 commented on #14079
In the file View\ViewPropType.js, there is a line like this:
`style: stylePropType,`
Comment this line or change the "style" key to other name. This works 4 me.

[2017-06-08 08:15] shubhomoy commented on #12717
is this issue solved yet?

[2017-06-08 08:16] engladgut commented on #14386
`react-native-git-upgrade 0.44.0`

I know this not the answer for 0.45 but this solved all my problem like yours or this one -> [14209](https://github.com/facebook/react-native/issues/14209)

I think I will stay at 0.44.0 for now. 0.44.1~3? Didn't work for me.

[2017-06-08 08:29] coma commented on #14386
Yupe, after initing a new app, just downgraded to react-native@0.44.2 and it's working now...

[2017-06-08 08:30] ethanyanjiali opened #14387 "[0.46] react-native-stage-0 plugin doesn't work in 0.46.0-rc.0?"
### Description

Upgraded to 0.46.0-rc.0, and the packager gave me an error

/Users/yanjia.li/Projects/penny-mobile/Penny/node_modules/babel-core/lib/transformation/file/options/option-manager.js:328
        throw e;
        ^

ReferenceError: Unknown plugin "transform-runtime" specified in "/Users/yanjia.li/Projects/penny-mobile/Penny/node_modules/regenerator-transform/package.json" at 0, attempt

[2017-06-08 08:35] ds300 commented on #14376
@ccdwyer in the packager output I see the same error message as I get in the red screen of death.

@dmr07 my react version is 16.0.0-alpha12

@ethanyanjiali That didn't work for me. Did you make sure the packager wasn't already running before trying `react-native run-ios`?

FWIW I think this is just an issue with how the packager gets invoked by the react-native cli if it is not already running. H

[2017-06-08 08:39] MSchmidt commented on #14376
@ethanyanjiali this only works because you are starting the packager with ``npm start`` (regardless of ``--reset-cache``). The issues people are having is related to the automatic packager start through ``react-native run-ios``.

[2017-06-08 08:41] aramiscubillo commented on #14386
Yeap, downgraded to 0.44.0 and works now. In cause somebody doesn't know how to downgrade react, you need to install: https://github.com/facebook/react-native/tree/master/react-native-git-upgrade

[2017-06-08 08:43] onurersel commented on #14246
Having the same issue. Running packager with `npm start` before launching the app with `react-native run-ios` solves the problem though.

react-native-cli: 2.0.1
react-native: 0.45.0

[2017-06-08 08:44] csotiriou commented on #2814
@LegNeato @leeight regarding the pull request for jxcore

Think that if this gets merged, and react native will depend on it for 64 bit support, RN will be forced to drop support for devices it currently supports. Something that needs to be heavily considered. I for one like to look fordward, so I believe that support for Android 4.1 is not needed anymore.

However, if this pull request works then

[2017-06-08 08:45] Skahrz commented on #11657
Any new informations concerning this issue ?

[2017-06-08 08:46] ethanyanjiali opened #14389 "[0.45.0] Image cannot be rendered after upgrading to 0.45.0"
### Description

The image doesn't show up after I upgrade to 45. I've set height and width already and checked it through inspector. There's a placeholder but just no image.

### Reproduction Steps and Sample Code

List all the steps required to reproduce the issue you're reporting. These steps should be clear and concise.

[code]

this png is a white link symbol with transparent background.

###

[2017-06-08 08:46] anhtuank7c commented on #14376
In my case:

Open terminal Tab 01: react-native start
Open terminal Tab 02: react-native run-ios

Should work :-p

[2017-06-08 08:48] willorfang opened #14390 "RCTRootView render finished notification"
Is there a way to get notified when a RCTRootView finished rendering?
This is my scenario: There is an RCTRootView. I need to set its appProperties several times for updating. But I don't want to see the previous render before the new updating takes effect. A "loading view"  should be shown instead.

[2017-06-08 08:52] ethanyanjiali commented on #14376
@MSchmidt @ds300
Like I said

Let me rephrase the solution again:
1. open you simulator, delete the app
2. `watchman watch-del-all`
3. `rm -rf node_modules && npm install`
4. `npm start -- --reset-cache`
5. STOP you packager that started by last command
6. `react-native run-ios`

[2017-06-08 08:53] yinchonging commented on #10360
Getting this in 0.45.0, Mac OSX Sierra

[2017-06-08 08:55] ethanyanjiali commented on #14376
I used this solution and succeed twice (one for upgrading from 0.44 to 0.45, one for downgrading from 0.46 to 0.45)

[2017-06-08 09:02] mikelambert opened #14391 "response.text() and response.json() get "stuck" sometimes"
My code more or less does the following, on React Native 0.45:
[code]

When running this in Chrome Debugger on the iOS Simulator, the result will get "stuck" sometimes. By that, I mean the first time I call it, it works fine. But the second time I run a request, the `data` will not be printed out until something else happens to jiggle the event loop and cause it to return.

If I disable the chrome

[2017-06-08 09:04] micabe commented on #13895
me too

[2017-06-08 09:14] mikelambert opened #14392 "[SectionList] Cannot scroll to top of a SectionList with Header"
`SectionList.scrollToLocation` internally calls `VirtualizedList.scrollToIndex`. Calling it with `{itemIndex: 0, sectionIndex: 0}` will scroll to the first element, but in the case of a header, will leave the header offscreen.

In writing this up, I discovered an ugly hack workaround that takes advantage of the calculation code: `{itemIndex: 0, sectionIndex: 0, viewPosition: 100}` will scroll to t

[2017-06-08 09:20] kostap13 commented on #14376
@anhtuank7c Thanks!
It works as @ethanyanjiali described without Step 5.

[2017-06-08 09:22] moyanggong commented on #14368
same

[2017-06-08 09:30] shubhnik commented on #14368
+1

[2017-06-08 09:32] igroz777 commented on #14020
has anyone had any luck in figuring out the issue?

[2017-06-08 09:40] jayshah123 opened #14394 "[Android] Systrace markers not visible for JS threads."
Checking as of RN 0.44, Checked with all android OS, and with both emulator and device,
there are no systrace markers visible for JS thread.

Systrace is recorded using the command provided in docs [link](https://facebook.github.io/react-native/docs/performance.html#1-collecting-a-trace) [Also tried with Android monitor, same results]

The systrace looks like :
<img width="647" alt="androidsystrac

[2017-06-08 10:01] axten commented on #10865
@davidhellsing this sed script is not working on android
it seems that react native android uses pre compiled sources and the change to the java file has no effect.
this is where i go so far https://facebook.github.io/react-native/docs/android-building-from-source.html

messing the second day in a row with this bug...shit

[2017-06-08 10:10] ethanyanjiali commented on #14389
Downgraded to 0.44.0 and it is all good now

[2017-06-08 10:12] antoinerousseau commented on #14373
Had to `rm -rf node_modules/` AND `rm package-lock.json` to make it work (using npm 5)

[2017-06-08 10:13] magicalcosmos commented on #14368
same to me

[2017-06-08 10:23] pietrasiak commented on #13976
I think it'd be nice to write key this key sentence from here: 'What will change as a user of react-native? Nothing.' on Metro repository readme. I was looking few good minutes for some docs about 'how to switch to metro' :)

[2017-06-08 10:24] ngtranthanhtoan commented on #14386
Me too get the same. Hope someone help

[2017-06-08 10:25] willorfang opened #14395 "RCTTouchHandler doesn't work properly with nested RCTRootViews"
This is the scenario:
There are two nested RCTRootViews: A & B。C is a normal RCTView within B.
Currently, when C is touched, two touch events are dispatched to C, with different <PageX, PageY> pairs. <PageX, PageY> is calculated according to A and B‘s coordinate respectively。

<img width="166" alt="2017-06-08 18 26 12" src="https://user-images.githubusercontent.com/5610207/26924356-108d154a-4c78-1

[2017-06-08 10:27] reehamRaed opened #14396 "RTL in picker not supported"
Hi ,
can any one help me in making picker and picker item  RTL
even i use I18nManager every thing was good except picker

[2017-06-08 10:40] Rewieer commented on #6228
Same here. I have no way of reproducing the error for sure.

[2017-06-08 10:55] rvpyrv commented on #5174
Same problem here.
I tried to clean the npm cache, and complete reinstall node_modules. I tried to reinit the RN project.
No effect.

[2017-06-08 10:55] GetSource1234 commented on #14386
Got the same issue.

[2017-06-08 11:04] stoffern commented on #5174
i also assume you have tried:
`node node_modules/react-native/local-cli/cli.js start --reset-cache`

[2017-06-08 11:08] FMCorz opened #14397 "SectionList initialScrollIndex only works for a brief moment"
### Description

I am using a SectionList with an InitialScrollIndex. The initial scroll happens as it should but only for a brief moment, a second or so. Afterwards the scroll is reset to the top of the list.

### Reproduction Steps and Sample Code

Here is the code sample: https://snack.expo.io/rJAYCsIGb

Click the "Sectioned" button.

IMPORTANT: I could only reproduce this when trying locally!

[2017-06-08 11:12] Jahans3 opened #14398 "mixedContentMode has no effect"
### Description

I added the prop `mixedContentMode='always'` to a WebView but it had no effect. I am using a WebView to host the checkout page for my app, however the styles on that page are not loading and they come from an insecure domain and the checkout is obviously secure.

### Reproduction Steps and Sample Code

1. Create a WebView
2. Add `mixedContentMode='always'` as a pro
3. Load a secur

[2017-06-08 11:12] Selman555 commented on #12971
Lucky you, I'm already on the latest version and I'm still having this issue

[2017-06-08 11:32] EyalSi commented on #8960
check out the output of this example. not sure what is happening here... so frustrating.
[code]
![overlap](https://user-images.githubusercontent.com/7838363/26926622-18a7509a-4c57-11e7-9fac-f2d33d131172.PNG)

[2017-06-08 11:38] rvpyrv commented on #14386
Same issue.

[2017-06-08 11:41] xxxinghao commented on #14366
I met a problem, also hope to get some help, thank you very much:
Error message:
<
Loading dependency graph, done.
error: bundling: Error
    at DependencyGraph._getAbsolutePath (/Users/xinghao/Desktop/RNNewsCar/node_modules/react-native/packager/src/node-haste/DependencyGraph.js:280:11)
    at DependencyGraph.getDependencies (/Users/xinghao/Desktop/RNNewsCar/node_modules/react-native/packager/src

[2017-06-08 11:50] Easyzhan opened #14399 "when run react-native run-ios,please tell me what should i do?"
** BUILD FAILED **

The following commands produced analyzer issues:

	Analyze /Users/vizard/WebstormProjects/AwesomeProject/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c
	Analyze /Users/vizard/WebstormProjects/AwesomeProject/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c
(2 commands with analyzer issues)

The following build commands failed:
	PhaseScriptExecution Install\ T

[2017-06-08 11:55] JonnyBurger commented on #14375
Upgrading to `react-native@0.46` alone did not make it work, but in the `RNTester` it seems to work. From that I might be able to pinpoint the exact issue. Will look into this a bit closer as I would like to use the SectionList in my app.

I also tried `AnimatedSectionList` – no dice.

[2017-06-08 11:58] Easyzhan commented on #14368
+1

[2017-06-08 12:06] jdeibe commented on #14366
I'm having the same problems after upgrade from react native 0.36.0 to 0.45.0 and running npm run start -- --root starts      from console starts the app. Running latest xcode update

[2017-06-08 12:07] JonnyBurger commented on #14387
`babel-preset-react-native-stage-0` is not official and pretty old. It extends an old version of the official `babel-preset-react-native` preset which does not have all the plugins that react-native now needs.

Most likely you can fix this by removing the `babel-preset-react-native-stage-0` preset and switch to the newest version of `babel-preset-react-native`.

[code]
.babelrc
[code]

If you depe

[2017-06-08 12:10] hawkrives commented on #14385
I, uh… why did you mention me?

Have you tried installing the packages that the error message reports from the command line? It’s complaining about 23, but you say you tried 24.

[2017-06-08 12:15] arm0nic commented on #14314
@ethanyanjiali Worked for me as well, thanks so much! :)

[2017-06-08 12:18] juhasuni commented on #14386
In my case `react-native start --reset-cache` was the key for resolving the issue.

After that I had to do some other changes to codebase. I had `import ... from 'immutable';` statement, which I removed since I don't need `immutable` and it was not in my `package.json`.

I was also using `id` prop with some views, which I needed to rename, since Android was throwing me an error with registering a

[2017-06-08 12:53] gdboling commented on #14386
Also having this problem. Downgrading works, as suggested. But creating brand new app with latest react-native-cli gives the "Cannot find entry file..." error.

[2017-06-08 12:57] simpleblack commented on #12981
hi~
I used socket.io. `nodejs and RN44 or RN 45`
I saw warning this timers.

I found this solution for reactotron PR

personal server nodejs and scoket.io
[code]
Thanks!

[2017-06-08 13:01] Benouzef commented on #14386
Same problem since upgrade react native 0.44 to 0.45

[2017-06-08 13:08] Barbery commented on #14368
+1

[2017-06-08 13:17] florinpop17 commented on #14386
+1

[2017-06-08 13:23] Tom-Bonnike commented on #14382
I’ve got the same issue. :(

[2017-06-08 13:23] fbyn commented on #14386
Same problem with 0.45

[2017-06-08 13:28] sus007 commented on #14385
@hawkrives Coz I saw your previous post on similar issue, I hoped that you'd be able to help me ? I actually had installed for 23 (not 24, edited above 👍 ) from the command line. Do you know how to get around this problem ? Need I describe more ?

[2017-06-08 13:39] musicode commented on #13895
how to resolve it?

[2017-06-08 13:42] hawkrives commented on #14385
So I have actually run into the problem of Android Studio / command-line tools deciding that I haven't agreed to the license agreement, _even though I have_.

The only solution I could find was to completely remove the Android SDKs and Android Studio, then reinstall Android Studio. I tried just removing and reinstalling the packages, but nothing worked until I removed it all.

Good luck.

[2017-06-08 13:47] javache commented on #14382
Can you try removing the third-party folder in your node_modules/react folder?

[2017-06-08 14:07] javache commented on #14382
Looks like there's a bug with the install-third-party scripts. In `ios-install-third-party.sh` can you replace  "$SCRIPTDIR/ios-configure-glog.sh" with  "../../scripts/ios-configure-glog.sh"?

[2017-06-08 14:08] Tom-Bonnike commented on #14382
Removing the third party folder did the trick. (I left the third-party-podspecs) though. Do you still want me to try the other fix?

[2017-06-08 14:13] hackdie commented on #14383
your problem is in the line 30 of the Scene.js file.

[2017-06-08 14:36] tabrindle opened #14400 "react-native bundle configs"
### Description

This is a react-native bundle and react-native packager issue.

Currently there is no way of modifying the configurations passed to `react-native bundle` when building for iOS and Android. You are locked into the configs either the Debug/Release build config and build type respectively pass. Also, unlike what many [recent posts](https://medium.com/react-native-development/deployin

[2017-06-08 14:44] cgoudouris commented on #14386
+1

[2017-06-08 14:45] SMJ93 opened #14401 "scrollResponder.scrollResponderScrollNativeHandleToKeyboard crops FlatList content on focus"
### Description

I have a flat list which includes a list of form elements (input, select etc). On any input focus I want the FlatList to scroll to the selected Element. I am using the scrollResponder to do this.

The focus works for the first item in the FlatList, but the further down the FlatList the form element the more out of sync the scroll gets. It seems to scroll to the correct position (y

[2017-06-08 14:52] ggcaponetto commented on #14386
<code>react-native start --reset-cache</code> seems to fix only the next start. Killing the packager process and running <code>react-native run-android</code> leads to the same problem, again.

[2017-06-08 14:54] pbailey commented on #14386
+1

[2017-06-08 15:22] ggcaponetto commented on #14386
0.45 seems to have a whole different project structure and entry point. The docs just got updated btw. The new entry point seems to be App.js, placed on the root.

[2017-06-08 15:26] idibidiart commented on #8960
on iOS it is also buggy

I've made a simpler version of the code posted by @EyalSi that shows an interesting definitely buggy behavior:

The only difference in the two screens below is a single extra "." after the last "test"

![image1](https://s30.postimg.org/pzskmed0x/Screen_Shot_2017-06-08_at_8.17.00_AM.png)

![image2](https://s10.postimg.org/ai4qxxj89/Screen_Shot_2017-06-08_at_8.10.23_AM.png)

[2017-06-08 15:41] l3omtz commented on #14314
@ethanyanjiali WORKS!! after 2 hours lol thank you!!

[2017-06-08 15:43] javache commented on #14382
Yeah, if you could try removing the folder again, and try if running that script still works, that'd be awesome!

[2017-06-08 15:49] farwayer opened #14403 "ART Text: support config object as font property?"
[code]

[2017-06-08 15:51] dmr07 commented on #14376
@kostap13 Hmm. Here is what I did to resolve the error:

1. Do not close the terminal window of the server that threw the error.
2. `lsof -n -i4TCP:8081`
3. `kill -9 (process id returned above)`
4. `npm start`

[2017-06-08 16:03] hramos commented on #14313
Turns out this particular template is not loaded from npm, but rather is bundled in the `react-native` package itself. The template can be found at https://github.com/facebook/react-native/tree/master/local-cli/templates

What specifically is not working for you?

[2017-06-08 16:05] gdboling commented on #14386
@ggcaponetto what? I don't see a new project structure. Are you saying that react-native-cli isn't generating the appropriate project structure and that could be the issue?

[2017-06-08 16:05] #14384 closed

[2017-06-08 16:06] #14403 closed

[2017-06-08 16:06] hramos commented on #14401
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-08 16:07] #14399 closed

[2017-06-08 16:07] hramos commented on #14398
Can you provide a reproduction on Snack?

[2017-06-08 16:08] hramos commented on #14396
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-08 16:08] #14396 closed

[2017-06-08 16:08] hramos commented on #14395
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-06-08 16:08] #14395 closed

[2017-06-08 16:09] hramos commented on #14390
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-06-08 16:09] #14390 closed

[2017-06-08 16:09] SMJ93 commented on #14401
@hramos it seems like a bug with React Native scrollResponder?

[2017-06-08 16:10] #14387 closed

[2017-06-08 16:10] maquanhong opened #14404 "'boost/iterator/iterator_adaptor.hpp' file not found"
fatal error: 'boost/iterator/iterator_adaptor.hpp' file not found
#include <boost/iterator/iterator_adaptor.hpp>
         ^
1 error generated.

** BUILD FAILED **

The following build commands failed:
	CompileC /Users/maquanhong/项目/RN/AwesomeProject/ios/build/Build/Intermediates/React.build/Debug-iphonesimulator/third-party.build/Objects-normal/x86_64/Bits.o /Users/maquanhong/项目/RN/AwesomeProject/

[2017-06-08 16:11] hramos commented on #14386
@ggcaponetto that is only the case when a new project is created using `create-react-native-app`. The behavior of `react-native init` should remain the same.

[2017-06-08 16:12] #14383 closed

[2017-06-08 16:12] ggcaponetto commented on #14386
You are right, sorry to have brought confusion.

[2017-06-08 16:18] muhdashiq commented on #14366
I am also facing similar error.
Loading dependency graph, done.
error: bundling: Error
    at DependencyGraph._getAbsolutePath (/Users/ashiqm/Ashiq/Learning/React-native/kasave/node_modules/react-native/packager/src/node-haste/DependencyGraph.js:280:11)
    at DependencyGraph.getDependencies (/Users/ashiqm/Ashiq/Learning/React-native/kasave/node_modules/react-native/packager/src/node-haste/Depende

[2017-06-08 16:24] mateofd commented on #14366
Me too

[2017-06-08 16:31] pcxiong commented on #12237
react-native-git-upgrade deletes my jks file.
I just *****

[2017-06-08 17:00] croshim commented on #14366
+1

[2017-06-08 17:00] sonikro commented on #14386
When running **react-native run-android** on React-native 0.45, the packager is looking for JS files in \Project\node_modules\react-native\packager. That's why It's not finding the index.android.js file.

If I use react-native start, the packager will start looking for JS files in the correct place (\Project).

[2017-06-08 17:08] skevy commented on #13990
Hi there!

The packager no longer lives in this repo. It now lives in https://github.com/facebook/metro-bundler. The reasoning for the split is explained here: https://github.com/facebook/react-native/issues/13976.

If you're still interested in pursuing this issue, please open an issue on that repo! :)

Thanks!
-Adam

[2017-06-08 17:08] #13990 closed

[2017-06-08 17:08] skevy commented on #13979
Hi there!

The packager no longer lives in this repo. It now lives in https://github.com/facebook/metro-bundler. The reasoning for the split is explained here: https://github.com/facebook/react-native/issues/13976.

If you're still interested in pursuing this issue, please open an issue on that repo! :)

Thanks!
-Adam

[2017-06-08 17:08] #13979 closed

[2017-06-08 17:08] skevy commented on #14053
Hi there!

The packager no longer lives in this repo. It now lives in https://github.com/facebook/metro-bundler. The reasoning for the split is explained here: https://github.com/facebook/react-native/issues/13976.

If you're still interested in pursuing this issue, please open an issue on that repo! :)

Thanks!
-Adam

[2017-06-08 17:08] #14053 closed

[2017-06-08 17:09] skevy commented on #14070
Hi there!

The packager no longer lives in this repo. It now lives in https://github.com/facebook/metro-bundler. The reasoning for the split is explained here: https://github.com/facebook/react-native/issues/13976.

If you're still interested in pursuing this issue, please open an issue on that repo! :)

Thanks!
-Adam

[2017-06-08 17:09] #14070 closed

[2017-06-08 17:09] skevy commented on #14314
Hi there!

The packager no longer lives in this repo. It now lives in https://github.com/facebook/metro-bundler. The reasoning for the split is explained here: https://github.com/facebook/react-native/issues/13976.

If you're still interested in pursuing this issue, please open an issue on that repo! :)

Thanks!
-Adam

[2017-06-08 17:09] #14314 closed

[2017-06-08 17:19] hramos commented on #14381
If the commit landed 27 days ago, then it should be in the current release candidate (0.46) that was cut this week.

[2017-06-08 17:19] #14381 closed

[2017-06-08 17:23] urbananimal commented on #11415
@hramos - I am also having this issue - I'm using -

React Native version: [0.43.1]
Device : [samsung galaxy j5, sony xperia z(x)]
Platform: [ Android - 6.0.1]
Operating System: [ MacOS]

I can debug using the emulator but the bug I'm trying to fix doesn't occur when running in the emulator.

I'm pretty sure I've read every piece of material available on the internet but I've got nowhere - Is this

[2017-06-08 18:36] #14404 closed

[2017-06-08 18:36] samartha-kar23 commented on #14386
The fix which seem to work well is upgrading your project to the current version **0.45**.
You should consider using the new upgrade tool based on Git. It makes upgrades easier by resolving most conflicts automatically.
To use it:
- Go back to the old version of React Native(If you haven't tried upgrading likewise )
-Go to your project folder with old version of React Native
- Run "**npm install -

[2017-06-08 18:40] hramos commented on #14376
@kostap13 236e9e4 is unrelated to this, as that commit is not in the 0.45 or 0.46 releases.

[2017-06-08 18:43] ozburo commented on #14366
Doesn't anyone test these releases?

[2017-06-08 18:50] gdboling commented on #14386
@samartha-kar23 So I need to upgrade a project I just created from scratch? That's not a fix. A brand new `react-native init App` should work.

[2017-06-08 19:03] muhdashiq commented on #14366
Issue resolved for me.

The react-native launched new release 0.45 a few days back. So, the commands to create a react-native application and running locally have many differences.

npm install -g create-react-native-app
Then run the following commands to create a new React Native project called "AwesomeProject":

the new way of creating a react-native application as follows
`create-react-native-a

[2017-06-08 19:07] AVBelousov commented on #14386
In first console window, from project folder run:
`npm start --root .`
(run packager manually with right root)

In second console window, from project folder run:
`react-native run-android`

[2017-06-08 19:25] LegNeato commented on #2814
I don't think merginf will drop support for any phones...worst-case you can still only build the 32bit flavor of this lib. Also, the API version bump is just for building this, not for running AFAIK.

I could be wrong though, been a while since I looked at the specifics.

[2017-06-08 19:34] hramos commented on #14246
I'm consolidating various related issues into this one. As far as I can tell, #14366, #14376, and #14386 are all duplicates.

### Description

React Native projects built with native code targeting `0.45` are encountering an issue during app launch, where the app is unable to connect to the packager. The user is presented with a RedBox error with the following text:

`Cannot find entry file index.

[2017-06-08 19:37] joncursi commented on #14382
Hmm, my `node_modules/react` folder doesn't contain a `third-party` folder:

![screen shot 2017-06-08 at 3 36 18 pm](https://user-images.githubusercontent.com/4974609/26947312-4c9a3094-4c60-11e7-9101-e5be8782a537.png)

[2017-06-08 19:37] hramos commented on #14366
Applications created using `create-react-native-app` are set up in a different manner. Projects created using `react-native init`, e.g. "Projects Built with Native Code", are still supported and should work. The workaround is not to switch to CRNA, but rather to kill and restart the packager directly using `npm start`. At this point you can reconnect your app to the packager by reloading.

Closing

[2017-06-08 19:37] #14366 closed

[2017-06-08 19:37] hramos commented on #14376
Closing as duplicate of #14246.

[2017-06-08 19:37] #14376 closed

[2017-06-08 19:37] hramos commented on #14386
Closing as duplicate of #14246.

[2017-06-08 19:37] #14386 closed

[2017-06-08 19:42] joncursi commented on #14382
Hmm, but my project builds now. I must have done a clean re-install of `node_modules` last night before I gave up and shut down my computer; this seems to have both A) wiped out the `third-party` folder as needed and B) reset the caches to enable the project to build this morning

[2017-06-08 19:51] davidsamacoits commented on #14368
Same here 👍

[2017-06-08 20:18] llanginger commented on #14368
Same here, totally crippled at the moment.

Xcode & react-native-cli both updated to latest releases.

[2017-06-08 20:20] mmckinley8 commented on #10360
Can someone reopen this? I didn't start seeing this until upgrading to 0.45.0 today.

[2017-06-08 20:22] dikarel opened #14406 "Inconsistent naming convention for callback props"
### Description

There are currently 2 different naming conventions being used to name callback props. It's not clear what the official naming convention should be, which makes it harder to:
- Recall the prop name without being forced to open a browser and consult docs
- Name things consistently when developing components

Naming should be consistent, so that it's clear to third-party developers w

[2017-06-08 20:40] yemarnevets commented on #14246
Great stuff @hramos .

**Do you have any idea why running 'npm start' after re-creating the issue works?** I ran into the same issue (entry file index.ios.js not found) after several days hiccup free. However, today I did some Django work in a Python3 virtualenv. When I came back to ReactNative I ran into the same issue you detailed above.

* react-native: 0.45
* platform: iOS
* macOS Sierra (10.1

[2017-06-08 20:45] javache commented on #14382
Sorry, I meant the react-native folder.

[2017-06-08 21:04] sibelius commented on #12457
I think https://github.com/facebook/react-native-fbsdk is a better place for this issue

[2017-06-08 21:06] aferrerallu commented on #12543
I had this problem with RN 0.33, 0.34 and now with 0.35. Any solution at the moment?

Thanks!

[2017-06-08 22:16] andy9775 commented on #1846
I still seem to be getting this error in RN 0.44, although it's intermittent

[2017-06-08 22:22] iremlopsum opened #14407 "Android StatusBar translucent does not get applied when push notification clicked"
### Description

I use OneSignal for push notifications. When app is in the background or focused and I tap on the notification the translucent state does not get applied and content is rendered beneath the StatusBar.

Initially I though that this happens only when application is on the background and app is resumed because of tapping on the application, but it happens as well if the app is alread

[2017-06-08 22:51] shireen commented on #10553
+1

[2017-06-08 23:01] JasonGore commented on #14209
This just happened to me and it was because I had a hung 'node' process on port 8081, preventing a new instance of react packager from starting. I did killall -9 node and then was fine.

[2017-06-08 23:55] niftylettuce commented on #14348
See <https://github.com/facebook/react-native/pull/14349#issuecomment-307258520>.  I've fixed this and the scrolling is much more performant now.

[2017-06-08 23:55] #14348 closed

[2017-06-08 23:55] niftylettuce commented on #14348
I also switched to use a FlatList.

[2017-06-09 00:01] mikelambert commented on #14348
Question from the peanut gallery...I'm confused. I thought virtualized list
controlled whether there is an update based on the contents of the
`sections` or `data` field, and whether they had changed. How would the
existence/use of a non pure component cause anything to be re-rendered?
Were you changing your data model for the list during scroll?

2017年6月9日(金) 8:56 niftylettuce <notifications@gith

[2017-06-09 00:05] adjustit commented on #14404
I got around this by manually downloading the Boost 1.63 package (https://sourceforge.net/projects/boost/files/boost/1.63.0/) and installing it into the `third_party/` folder manually. It's not a great fix, but nonetheless, it at least works.

[2017-06-09 00:35] jslz commented on #9031
hi, We seem to be seeing it with react-native version 0.44.0. It is rare and nondeterministic so hard to have a repro case.
![image](https://user-images.githubusercontent.com/27701565/26956204-e8f580be-4c70-11e7-89bd-55f8522bb99c.png)

[2017-06-09 01:39] dgurns commented on #14399
How did you solve this? I'm running into the same problem.

[2017-06-09 01:45] sahrens commented on #14348
Yeah, one of the changes from ListView is that we no longer do any special diffing - we rely on the components to do their own diffing with PureComponent or shouldComponentUpdate. It turns out it's just about as fast to render all the cells that are in the finite render window as it is to do all the data diffing manually - the important bit is that the cells not re-render recursively. By making di

[2017-06-09 01:54] Easyzhan commented on #14399
not yet

[2017-06-09 02:01] gregblass commented on #12884
Getting the same issue. ~100 records, about a 1.5s delay. I can tap around 7 times during that time while the list is being rendered before I can navigate to the next stack.

[2017-06-09 02:27] kuangmeng opened #14409 "Xcode error"
react-native-cli: 2.0.1
node v8.0.0
npm  v5.0.0
Command /bin/sh failed with exit code 1

[2017-06-09 02:37] giangqaz opened #14410 "RCTJSONStringify() encountered the following error: The data couldn't be written because of an error in the content of the data"
I got this issue when try input emoji into a textinput that has maxlength defined
ex:
I have a text input with props: maxLength=30
I type 29 characters and then type 1 emoji, it will fire this bug.
It's ok if I type 28 character and then type 1 emoji

addition info:

- React Native version: 0.44.0
- Platform: iOS 10.3
- Development Operating System: MacOS
- Dev tools: Xcode 8.3

![simulator screen

[2017-06-09 02:40] srijak commented on #14404
I just ran into this after a fresh install of react-native.

Doesn't seem like it should be closed because the solution is very much a workaround.

[2017-06-09 02:57] mikelambert commented on #14348
Ahh interesting. I was going off this documentation:

So I guess resolving these two statements (yours, and docs):
- If your props changes are shallow-equal, the contents of your list won't be updated.
- However, `VirtualizedList` can still do any re-rendering it wants, and often re-renders rows repeatedly out of simplicity. However, it will not pull in the latest props...rather, the render will b

[2017-06-09 03:02] sahrens commented on #14348
Yes, the list has to re-render itself even ignoring props don't change in order to adjust the window while scrolling. That comment is more about people changing things inside the data array without changing the array object itself, which would remain shallow-equal and not trigger a render of the new data.

Feel free to clarify the docs with a PR :)

[2017-06-09 03:30] winterrain5 commented on #13874
i have the same problem in the ios,is there anybody solved it?

[2017-06-09 03:32] sarath263 commented on #12814
clovs comment in [https://github.com/facebook/react-native/issues/12042 ](#12042 ) solved the issue for me..

[2017-06-09 03:34] Benjamin-Dobell commented on #13874
@winterrain5 As I mentioned, make sure you've installed the correct version of React. If you're using React Native 0.45:

[code]

[2017-06-09 03:46] pduy117 commented on #14368
Same here

[2017-06-09 03:47] wasterd commented on #14368
same here

[2017-06-09 04:09] austinkettner commented on #14118
Can confirm a temporary solution is to downgrade to React Native `0.44` unless you critically need something in `0.45`

[2017-06-09 04:25] flyandi commented on #10360
Still happening to me, too. Cleaned out everything. No go.

[2017-06-09 04:28] flyandi commented on #14366
+1 - this happens on an upgraded application as well.

[2017-06-09 05:16] flyandi commented on #14246
Even after running the separate packager .. it still creates the same issue.

 "react": "16.0.0-alpha.3",
 "react-native": "^0.45.0",

What is the actual work around at this point?

[2017-06-09 05:16] xxxinghao commented on #14366
Brothers, ladies I found the solution:0.45.0 seems to be a beta and formal version of the mixtureWhen we are creating a new project to knock this command react - native init XXX - versoin 0.44.3Then you can I've tried no problem is not in use 0.45.0 version created

[2017-06-09 06:11] Balasnest commented on #14368
me too facing the same issue.

[2017-06-09 06:11] MrPluto commented on #11927
+1 at mate 8 & android 7
logcat `E InputEventReceiver: Exception dispatching input event.`

[2017-06-09 06:25] rushabhmakwana commented on #14386
"react-native init YourAppName" creates an application with the react native version 0.45.0 and that creates the problem.
So I create new app with the specified version of react-native via "react-native init --version="version_number" MyFirstApp" command i.e "react-native init --version="0.44.2" MyFirstApp" and that solves my problem.

[2017-06-09 06:26] MrPluto commented on #11927
find a fix in 0.44.3. [Fix java.lang.RuntimeException: Tried to get non-existent cookie](https://github.com/facebook/react-native/commit/d2939eafbf56f99ea4da7374b9812ae6f54c1d3d)

[2017-06-09 06:32] vincentmrlau commented on #14368
the same
xcode:8.3.2
react-native-cli: 2.0.1
react-native: 0.45.0

[2017-06-09 06:50] AndreyPatseiko commented on #14366
$ react-native init ProjectName --version 0.42.0

[2017-06-09 06:51] pduy117 commented on #14368
0.45.0 din't worked for me(same error) so i just used 0.44.0
react-native init [PROJECT_NAME] --version 0.44.0
----- Thank: shubhnik
This's worked for me!!

[2017-06-09 07:11] hramos commented on #14404
I closed the issue because there was no effort to fill out the issue template. Please open a new issue and make sure to fill it out.

[2017-06-09 07:12] Nivedita-g commented on #14399
Same problem here

[2017-06-09 07:13] hramos commented on #14246
#14412 should fix this in master. We'll need to cut a new 0.45 release.

[2017-06-09 07:14] kumarryogeshh commented on #14399
Facing same issue.

The following build commands failed:
	PhaseScriptExecution Install\ Third\ Party ... /ios/build/Build/Intermediates/React.build/Debug-iphonesimulator/double-conversion.build/Script-190EE32F1E6A43DE00A8543A.sh
(1 failure)

[2017-06-09 07:31] kumarryogeshh commented on #14409
Same issue.

react-native-cli: 2.0.1
react-native: 0.45.0
node: v6.6.0
npm: 5.0.3

[2017-06-09 07:39] sohobloo opened #14414 "Multiline TextInput has different behavior between iOS and Android"
### Description

Multiline textinput with text over one screen display the text at the beginning on iOS while at the end on Android.
**And I want to know how to make it display at the beginning on Android.**

### Reproduction Steps and Sample Code

##### Core code:
[code]

##### Screenshot iOS:
![image](https://user-images.githubusercontent.com/13310861/26965640-40145e66-4d29-11e7-93df-335b92af8b1

[2017-06-09 07:54] luisfuertes commented on #3282
I have the same problem, but props arent undefined.

I have a listview with this rows:
[code]

With
[code]

On iOS measure logs:
[code]

On Android measure logs:
[code]

Why my oy on android is always 0?

[2017-06-09 07:57] deathnopool commented on #13874
i got the same problem after upgrading to 0.45

[2017-06-09 07:58] Darkhorse-Fraternity commented on #10833
[Android]In Webview, alert isn't working. Android

React Native version: v0.44.3
Platform: android
Operating System:MacOS

 <WebView
                    ref={w => {
                        this.webview = w
                        this.props.getWebView && this.props.getWebView(w)
                    }}
                    automaticallyAdjustContentInsets={false}
                    style={styles.we

[2017-06-09 08:02] Tom-Bonnike commented on #14382
@javache
It did work (WITHOUT modifying the script like you asked), so yeah, can’t really reproduce the issue :(
Here’s the output just in case it could be of any help:
[code]

[2017-06-09 08:09] Sophia-Gao commented on #14409
the same issue

[2017-06-09 08:26] carera commented on #14409
Same as https://github.com/facebook/react-native/issues/14368 ?

[2017-06-09 08:29] pariswang commented on #12295
same issue on 0.42.3.
any feedback?

[2017-06-09 08:34] sohobloo commented on #14414
Here is my temporary workaround for Android:

[code]

**But with some issues:**
1. Text flash from end to begin.
2. The cursor will locate at the beginning instead of your first touch coordinate.

[2017-06-09 08:38] arunkumarrmrj opened #14415 "How to open Settings of Android Phone on a button click in our Android App"
### Description

I'm using React-Native (0.43.1) for making Android application. There is scenario where I need to check whether internet connectivity is present or not. If there is no internet connectivity then I need show a button which will open device settings (through which user can enable his connectivity).

### Reproduction Steps and Sample Code
Linking.canOpenURL('app-settings:')
      .th

[2017-06-09 08:42] vickychu commented on #12864
i have the same problem

[2017-06-09 08:44] lsps9150414 opened #14416 "[Android] overflow visible not working on SectionList"
### Description
- The `View` container is given `overflow: visible`
- The vertical list (`SectionList`) is given a `padding` and `overflow: visible`
- The horizontal sub list (`FlatList`) is given a negative `marginHorizontal` so the items won't be chopped by the padding when scrolled.

### Rendered as expected on iOS:
![asset](https://user-images.githubusercontent.com/5022617/26968380-6af537d0-4d

[2017-06-09 08:57] lsps9150414 commented on #12604
Confirmed problem still exist on SectionList.

New issue created https://github.com/facebook/react-native/issues/14416

[2017-06-09 09:02] xeonwell commented on #8577
happen on react-native 0.42.3 & iphone6 plus

[2017-06-09 09:14] vomchik opened #14417 "[0.45.0] Android release build failed"
After updating to new version release build failed. Any ideas how does this fix?

[code]

[2017-06-09 09:16] didil commented on #12237
same , some gitignored files get deleted and I have find them in my backups, pretty annoying if you dont expect it ...

[2017-06-09 09:17] ben-snaize commented on #14246
@hramos - Awesome, when is this going to be available?

[2017-06-09 09:37] javache commented on #10553
Commenting +1 is not useful, those comments will be deleted.

Please provide a sample app that reproduces the issue.

[2017-06-09 10:02] windhost commented on #14368
+1

[2017-06-09 10:17] windhost commented on #14368
Unpacking /Users/wind/.rncache/double-conversion-1.1.5.tar.gz...
Unpacking /Users/wind/.rncache/boost_1_63_0.tar.gz...
boost_1_63_0/boost/fusion/container/vector/detail/cpp03/preprocessed/vector30.hpp: (Empty error message)
tar: Error exit delayed from previous errors.
Command /bin/sh failed with exit code 1

[2017-06-09 10:23] chandanGr opened #14418 "bundling: UnableToResolveError"
I installed react-native-fbsdk (Facebook SDK) for the login in my app and I get this error which I am not able to understand.

error: bundling: UnableToResolveError: Unable to resolve module `prop-types` from `C:\Users\suhas\Documents\FacebookTest\node_modules\react-native-fbsdk\js\FBLikeView.js`: Module does not exist in the module map or in these directories:
  C:\Users\suhas\Documents\FacebookT

[2017-06-09 10:31] subsub commented on #5174
@stoffern I did, but still not working

[2017-06-09 10:34] l3wi commented on #14399
Me too.
Same script as above: double-conversion.build/Script-190EE32F1E6A43DE00A8543A.sh

[2017-06-09 10:36] chandanGr commented on #14418
I am using Windows 10 and I am getting the same error even after running the following commands:
del node_modules && npm install
npm start -- --reset-cache

[2017-06-09 10:46] ViGi-P commented on #201
@Rashhh did you find a solution???
I'm facing the same problem.

[2017-06-09 10:46] stoffern commented on #5174
@subsub give me some details
Versions ?
OS
Node
NPM
RN
Custom babelrc ?
Default RN repo?

[2017-06-09 10:46] jugraj commented on #5174
I had the same issue but trying below definitely worked for me:
1. at the root of the project in terminal - `npm start --root .`
2. Open new terminal at the root of the project and` react-native run-android`

Make sure the emulator is running. Hope it helps

[2017-06-09 10:56] olivierkaisin commented on #14417
Same problem here, it happens to me when I try to build a release APK for Android at the `:app:bundleReleaseJsAndAssets` step.

As a temporary solution deleting the whole `node_modules` folder and re-installing dependencies fixes it.

[2017-06-09 11:04] kumarryogeshh commented on #14399
Fixed using earlier versions. Try this

react-native init --version="0.42.0" AwesomeProject

[2017-06-09 11:04] kumarryogeshh commented on #14382
Fixed using earlier versions. Try this

react-native init --version="0.42.0" AwesomeProject

[2017-06-09 11:34] nazywamsiepawel commented on #12717
any updates? does anyone know where is this issue coming from?

[2017-06-09 11:36] ramilushev commented on #8949
Could #10856 be a potential fix? This is causing most of our crashes in production as well ...

[2017-06-09 11:38] nsisodiya commented on #14063
Just to add the discuss. I have created an app using `CRNA`. I implemented login mechanism using cookie. Server use Set-Cookie header to put a JWT token. login mechanism is working fine but there is just one problem. iPhone app (right now playing using EXPO client) require me to login again and agian. every time I close the app, it ask for login. it means, at iPhone, when I close the app, It do no

[2017-06-09 12:09] iRoachie commented on #12717
Seems to be fixed in 0.45

[2017-06-09 12:22] Dani93380 commented on #10488
@lacker , if you just want to prevent user from going to a specific site for example , you dont want to visit youtube.com , you can do something like this:

`import React, { Component } from 'react';
import {
  AppRegistry,
  WebView
} from 'react-native';

export default class webbbbbb extends Component {
  constructor()
  {
    super()
    this.state={
                oldUrl:'',
    }
    this.o

[2017-06-09 12:32] liorzil commented on #12077
In the command line, cd to the project directory and type in npm install.

[2017-06-09 12:45] mkirank commented on #14389
I had the same issue, I was using pods and had to add 'RCTImage', in podspec to get this working

[2017-06-09 13:48] oliveriobw opened #14419 "iOS app crashes on launch in xcode"
### Description
Crash when app is loading in Xcode.
Reproducible maybe 50% of the time

### Reproduction Steps and Sample Code

Steps
- Create iOS project
- Define a controller, loaded at launch, with no buttons
- Launch the app

Result

Crash at this point:

![image](https://user-images.githubusercontent.com/18595960/26978110-217bba64-4d22-11e7-98de-7f04665a6c55.png)

### Solution

[code]
### Add

[2017-06-09 13:49] zachlucas commented on #14246
How does a bugfix release like this work?  Will it be semantic versioning for npm?  like `npm install react-native@0.45.1`?

[2017-06-09 14:07] tabrindle commented on #14417
I use a Makefile that points its clean target to a full clean script. I have found most issues like this can be solved by killing all simulators, packagers, etc, running clean, then reinstalling node_modules:

clean.sh
[code]

[2017-06-09 14:19] tabrindle opened #14420 "Require more information in ISSUE_TEMPLATE"
### Description

Many issues here on GitHub are very difficult to recreate, due to the low amount of context information given - the template as it stands only asks for RN version, Platform, OS + toolchain. Given the number of global dependencies this project has, I believe it may be prudent to ask for more information, especially **node + npm version**, given the major releases recently.

### Sol

[2017-06-09 14:31] guru0510 opened #14421 "React native packager not running for android"
When I run this command
  react-native run-android
React Native packager seems to be started, but stuck and not working

 ┌────────────────────────────────────────────────────────────────────────────┐
 │  Running packager on port 8081.                                            │
 │                                                                            │
 │  Keep this packager running while de

[2017-06-09 14:46] srijak opened #14423 "[Master Task] Print: Entry, ":CFBundleIdentifier", Does Not Exist"
(_Edits by @hramos_)

### Description

iOS build fails with the following output:

[code]

It's common to see the above error for a number of issues with your project. You may want to try the various solutions presented in this thread. Please avoid opening a new issue unless you've found a definite set of repro steps.

# Original Issue
_(Edits by @mhorowitz: I have landed a permanent fix for this