[2022-10-04 12:33] cortinico commented on #34789
Have you tried to use: `NetworkingModule.setCustomClientBuilder`?

https://github.com/facebook/react-native/blob/97f5ef05e6396e9694e4b021e830b71c5900cd3c/ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java#L169-L171

[2022-10-04 12:47] MuhammadAbdullah54321 commented on #32931
I am also facing same issue. my endpoint is https and not http. My other internet requests are working like those with Amplify

[2022-10-04 12:50] thanggggg1 commented on #34059
it solved successfully

[2022-10-04 12:50] thanggggg1 commented on #34059
`brew install cmake`
it solved successfully

[2022-10-04 13:01] Noitham opened #34862 "TextInput can't be set to undefined programmatically"
### Description

Noticed that after updating to 0.70.1, our `<TextInput>` components weren't clearing their values when setting them programmatically to `undefined`.

This behaviour used to work on versions prior to the 0.70.x.

### Version

0.70.x

### Output of `npx react-native info`

[code]

### Steps to reproduce

Generate a project using `react-native` version `0.70.x`.

1. Add a `<TextInput

[2022-10-04 13:14] nes123 commented on #34852
Thank you for your reply. The screenshot shows the bundle composition. There is base/root/com/ibm folder that was not there before. There is also libsqlite4java.dll under windows and mac folders that didn't show up before.

I am not using  react-native-macos or react-native-windows

[2022-10-04 13:17] raffaeler commented on #32931
@MuhammadAbdullah54321 this issue is strictly related to fetching with HTTPS where the server is using a private or self-signed certificate.
In this case, if you carefully follow my points you should resolve the issue.

It is very bad that meta is not even answering or even checking the issues. This should be clarified and be part of the official documentation.

[2022-10-04 13:25] cortinico commented on #34852
Can you share your package.json?
Can you verify that this is happening also on a empty project?

[2022-10-04 13:30] nes123 commented on #34852
`{
  "name": "***",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest",
    "postinstall": "npx jetify && patch-package",
    "lint": "eslint ."
  },
  "dependencies": {
    "@invertase/react-native-apple-authentication": "^2.2.2",
    "@react-native-community/audio-toolkit": "^2.0.3",
    "@react-native-

[2022-10-04 13:31] nes123 commented on #34852
Didn't check it in empty project

[2022-10-04 13:46] mantegnous opened #34863 "Unable to resolve module @babel/runtime/helpers/slicedToArray"
### New Version

0.70.2

### Old Version

0.70.1

### Build Target(s)

android ios

### Output of `react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 892.86 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.17.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.15.0 - /usr/local/bin/npm
    Watchman: 2022.07.04.00 - /opt/homebrew/bin/watc

[2022-10-04 13:52] mantegnous commented on #34863
npm cache clean --force

[2022-10-04 13:52] #34863 closed

[2022-10-04 14:11] rohitthakre commented on #34624
Browser exited with error:, Error: invalid url, missing http/https protocol

[2022-10-04 14:28] BerkePalamutcu commented on #34855
I checked the yarn's last version and I have the last version. I still have the issue and I can't understand why bot closes the topic whereas I specified  my environment information?

[2022-10-04 14:49] cassde commented on #33557
@Mihai-github I've applied the solution but still get the same error. Do you know if there is a way to see which other files may have the incorrect import?

[2022-10-04 14:55] chernandezlt commented on #34706
same problem here, I've implemented some solutions that I've found but nothing happens, any solutions?

[2022-10-04 15:15] Mihai-github commented on #33557
@cassde have you added the patch-package after you did the changes and added as a postinstall and also npm install or yarn install or anything you are using to install packages?

[2022-10-04 15:42] mantegnous opened #34865 "ViewPropTypes has been removed from React Native..."
### New Version

0.70.1

### Old Version

0.67.4

### Build Target(s)

ios android

### Output of `react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 1.97 GB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.17.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.15.0 - /usr/local/bin/npm
    Watchman: 2022.07.04.00 - /opt/homebrew/bin/watchm

[2022-10-04 15:53] cassde commented on #33557
@Mihai-github yes, and I haven't installed any new packages after that so I'm not sure where the error is coming from. I also searched all the node modules and every one of them has the correct import now, but somehow I still get this error.

[2022-10-04 16:21] iMateo commented on #32908
Well, this works for me:
Reinstall (update) Cocoapods.
`sudo gem install cocoapods`

[2022-10-04 16:49] cipolleschi commented on #34841
Hi there, thank you for opening this. Can you try to archive a new app?
To create it:
`npx react-native init TestArchive --version 0.70.1`

Also, do you have a specific need to use Xcode <= 13.2.1?
It is pretty outdated: the most recent Xcode 13 version is 13.4 and there is already Xcode 14 out of the beta.

I tried to reproduce it, but I don't have a team ID to sign them.

[2022-10-04 16:53] zhumingcheng697 commented on #28525
@komik966 Very glad that you asked! I thought it would, and it almost did, but there were two minor cases where the `DynamicColorIOS` colors were not updated correctly in the app switcher, specifically:
1. the custom border color I set for React Navigation header and tab bar
2. the custom border color I set for [NativeBase](https://nativebase.io/) `Input` and `Select` components

Not sure if it is

[2022-10-04 16:59] nes123 commented on #34852
Is there a simple way to find out where the com.ibm.icu dependency came from?

[2022-10-04 17:10] dilan-dio4 commented on #32726
Any update on this?

[2022-10-04 17:24] Noitham commented on #34862
Seems that this has already been taken care of with commit:

https://github.com/facebook/react-native/commit/191eb62edb58bc8e934226f4cbd4829c88958455

[2022-10-04 18:22] SufianBabri commented on #31491
I have resolved the conflict in my project.

Previously I had the following line in my **.eslintrc.js**:
[code]
I updated it to the following:
[code]

[2022-10-04 19:00] KodyFintak opened #34866 "react-native run-ios --simulator='<any name>' doesn't find simulator and instead uses default"
### Description

When upgrading to RN 70 our team noticed that the `react-native run-ios --simulator='<any name>` doesn't find simulator and instead uses the default simulator on your machine.

This seems to occur only with a combination of using RN 70 and also using the latest Xcode version (14.0.1)

Output

[code]

### Version

0.70.1

### Output of `npx react-native info`

[code]

### Steps to

[2022-10-04 19:38] nes123 commented on #34852
After some more investigation, I see that the bundle contains testing components in the dex classes and base folder. These are libraries that show up here:

https://github.com/facebook/react-native/blob/main/ReactAndroid/src/test/java/com/facebook/react/bridge/BaseJavaModuleTest.java

How come the release bundle suddenly started to include these files? Any help will be much appreciated.

[2022-10-04 19:39] b0n1q commented on #33422
has anyone found smth?

[2022-10-04 20:01] nes123 commented on #34852
Can close. The problem is with the new facebook SDK.

com.facebook.android:facebook-android-sdk:15.0.1

I imported it with a + and the new version includes these unwanted dependencies.

[2022-10-04 20:35] roots-ai opened #34867 "com.facebook.react.JavaScript (9): EXC_BAD_ACCESS (code=1, address=0xffffa0000c250698 [iOS]"
### Description

I was facing the error
[TypeError: undefined is not an object 'installCoreFunctions' react-native-reanimated [iOS]](https://stackoverflow.com/questions/73917181/typeerror-undefined-is-not-an-object-installcorefunctions-react-native-reanim)

and after making the changes as mentioned above, the error went away, but the app started crashing with on the start with a new error `com.fac

[2022-10-04 21:27] #34852 closed

[2022-10-04 22:01] tapz opened #34868 "Restricted in strict mode, js engine: hermes"
### Description

After updating to RN 0.70.2 I started getting this error:

`Error: Requiring module "src/api/Api.js", which threw an exception: TypeError: Restricted in strict mode, js engine: hermes`

### Version

0.70.2

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) x64 Intel(R) Core(TM) i7-1068NG7 CPU @ 2.30GHz
    Memory: 73.93 MB / 32.00 GB
    Shell: 5.8.1 -

[2022-10-04 22:03] cortinico commented on #34855
What's the output of `yarn --version`?

[2022-10-04 22:03] #34868 closed

[2022-10-04 22:39] lukearndt commented on #29712
Thank you for documenting this. Adding `collapsable={false}` has worked for me too.

[2022-10-04 22:46] BatDroid commented on #34745
after trying a lot, I removed the `expo-sentry` (`Sentry.init`) and I couldn't reproduce it on my Samsung device (as this happens there) any more. so seeing this issue on a `react-native` channel, I suppose this issue should be related to `react-native-sentry` rather than `expo-sentry`

[2022-10-04 22:56] lunaleaps commented on #34665
Confirmed reverting relevant changes  https://github.com/facebook/react-native/commit/d8c25ca1b62df2b93f70bbb1f7b379643ab9ccd4? fixes the issue and that it's only reproducible pre-Fabric

[2022-10-05 00:22] Saad-Bashar commented on #33883
Did you guys figure out any fix for this? It seems that this particular code is written here in react native repo, https://github.com/facebook/react-native/blob/main/ReactAndroid/src/main/java/com/facebook/react/jstasks/HeadlessJsTaskContext.java#L174

[2022-10-05 00:41] markl-vesper commented on #34688
In our case we are upgrading from 0.65.1to 0.70.1after xcode update. Stripe seemed to break the xcode build.

What has worked well in the past when the builds break, is that we start with a 0.70.1 hello world application and then slowly integrate our existing app in by bringing in the various modules and wrapping the h/w app inside them etc etc

What we noticed in this occasion that when we update

[2022-10-05 02:15] heroshinn commented on #34688
Looks like react native team doesnt care about this, Our project was delayed. We will try to downgrade if it will work.

[2022-10-05 02:56] efstathiosntonas commented on #33139
Bad bot, issue still exists to this day

[2022-10-05 04:10] pramancodes commented on #32879
image upload using fetch fails only at first time while in subsequent requests it works, what could be the possible reason?

[2022-10-05 08:42] hikmert commented on #34868
Same issue here

[2022-10-05 09:04] kof3r opened #34870 "FlatList with stickyHeaderIndices scrolls erratically"
### Description

We've noticed weird behaviour with the `FlatList` which seems to be caused by providing the `stickyHeaderIndices` prop. The issue we saw on RN 0.69 was that the component would have a tendency to blank out once you passed the initial render window and the scroll in general would behave very erratically - removing the `stickyHeaderIndices` fixed it.

We decided to do an update to R

[2022-10-05 09:15] tapz commented on #34868
@hikmert This is because of Axios 1.0.0.

[2022-10-05 09:17] kelset commented on #34665
@lunaleaps is there already a "revert commit" in main? I'd rather cherry-pick that then do a revert locally in 0.70-branch

[2022-10-05 10:29] maheshwarimrinal commented on #34688
While creating android build I set proguard to false and that worked for me.

Temporary solution for me.

[2022-10-05 10:47] alfredarcifa opened #34871 "[CXX1405] error when building with cmake"
### Description

Hi RN community,

I have an issue with ANDROID STUDIO when I try to build my app with new arch.
Below is the error.
Before I run:
[code]

[code]

### Version

0.70.2

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 353.41 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.6.0 -

[2022-10-05 11:25] thangld322 commented on #34410
Same as @amirkhanzada-iinv

[2022-10-05 12:07] lhr000lhr commented on #33889
same issue but only on iOS 13.

[2022-10-05 12:57] cipolleschi opened #34872 "☂️ Improving Codegen"
### Description

Hi everyone!
This is an umbrella issue to collect a set of tasks aimed to improve the code in the [react-native-codegen](https://github.com/facebook/react-native/tree/main/packages/react-native-codegen) package.
[Codegen](https://reactnative.dev/docs/next/the-new-architecture/pillars-codegen) is a pillar for the New Architecture and is part of the core developer experience. We bel

[2022-10-05 12:59] andrestone commented on #33587
Hey, @ecexplorer. Have you managed to solve this?

[2022-10-05 13:11] gabrieldonadel commented on #34872
Hi @cipolleschi I would like to help with the `Extract the error.js file from the flow and typescript folders into an error.js file in their parent folder. Then, have the two parsers use the same ParserError` task

[2022-10-05 13:17] rahulnainwal107 commented on #34865
It looks like this issue is related to [#34614](https://github.com/facebook/react-native/pull/34614).

[2022-10-05 13:19] NaashNix commented on #32673
I got the same error!

`Warning: Internal React error: Attempted to capture a commit phase error inside a detached tree. This indicates a bug in React. Likely causes include deleting the same fiber more than once, committing an already-finished tree, or an inconsistent return pointer.

Error message:

TypeError: undefined is not a function
    in HybridProvider (created by NativeBaseProvider)

[2022-10-05 13:21] #34813 closed

[2022-10-05 13:59] tarunrajput commented on #34872
Hey @cipolleschi I'd like to work on following task:
```Extract the modules/schema.js from the flow and typescript folders in a shared parsers-commons.js file. Then, have the two parsers use the same wrapModuleSchema function for modules.```

[2022-10-05 15:32] DivyatejaChe commented on #34688
@react-native-bot , pls update on this issue - we're struck after the upgrade to the latest. No choice but to downgrade for now.

[2022-10-05 15:59] AntoineDoubovetzky commented on #34872
Hey @cipolleschi, thank you for this umbrella issue!
I'd like to pick the third one:
[code]

[2022-10-05 16:59] lunaleaps commented on #34665
I'm not sure we can easily revert, it fixes an issue on Fabric. I'm trying some superficial attempts at fixing forward as the author is not in office right now. @javache if you have more ideas?

[2022-10-05 17:33] cortinico commented on #34865
Closing as a duplicate of https://github.com/facebook/react-native/issues/33734
Please find the suggested solution over there

[2022-10-05 17:33] #34865 closed

[2022-10-05 17:42] cortinico commented on #34745
Don't you mind opening an issue here https://github.com/getsentry/sentry-react-native/issues and link against this one?

[2022-10-05 17:43] cortinico commented on #34867
Hi,
Thanks for reporting this issue.

It seems like this issue is actually unrelated to React Native core but related to Reanimated. Please open this issue against this other repository:

https://github.com/software-mansion/react-native-reanimated/issues

I'll be closing this but feel free to reopen if the other repo points back to us as a issue in the core of React Native.

[2022-10-05 17:43] #34867 closed

[2022-10-05 17:58] costea93 commented on #34400
any updates on this?

[2022-10-05 18:03] efstathiosntonas commented on #34688
@heroshinn it’s not up to the meta devs, it’s up to the library maintainers to catch up, there were many changes introduced in 0.70 so everyone need to be patient here and not rush to upgrade to 0.70.

 The best thing to do in general is to stay 2 major versions back from the latest one and keep an eye on the repos of the packages you’re using for compatibility updates.

Even major libraries like

[2022-10-05 18:47] RodrigoSarmento commented on #33596
It worked for me for the debug, though it still does not work for my release flavors, I have multiple releases for each flavor.

Anyone with the same problem could make it work?

[2022-10-05 18:53] jennifer-elyse commented on #33557
move to TypeScript should not be the solution

[2022-10-05 19:11] lucaswitch opened #34873 "Build phase taking too long even with the correct flags"
### Description

![image](https://user-images.githubusercontent.com/29023475/194141778-23d87fc8-31fb-4104-bb0a-b659cbe12215.png)

### Version

0.70.1

### Output of `npx react-native info`

After migrate from 0.63.4 to 0.70.1 the build takes about 20 minutes on task ReactAndroid:hermes-engine:buildCMakeRelease[arm64-v8a][libhermes]

### Steps to reproduce

Install 0.63.4 app
Upgrade to 0.70.1 usin

[2022-10-05 19:32] kivi commented on #34532
I am experiencing same error. I tried also with pnpm and with yarn on Linux

Versoins
    "react": "18.1.0",
    "react-native": "^0.70.2"

[2022-10-05 19:32] jjenzz commented on #34350
also experiencing this on Pixel 5 emulator (API 33) and a physical Pixel 6 Pro device but in reverse. I have set `barStyle` to `light-content` by default and it switches to `dark-content` when modals open.

[code]

[2022-10-05 20:16] ahtokca commented on #33896
have a similar crash on Galaxy S20 5G/Note10 Lite/A22 5G/Galaxy A53 5G/Galaxy S10+/Galaxy S22/Galaxy A52s 5G/Galaxy S21 Ultra 5G/Galaxy S21 Ultra 5G, android 12 and react 0.63.4

`Crashed: Thread :  SIGSEGV  0x0000000000000040
#00 pc 0x646bbc libjsc.so
#01 pc 0x71ef7c85cc
#02 pc 0xf540 libart.so
#03 pc 0xf540 libart.so `

[2022-10-05 20:19] ahtokca commented on #31274
Looks lite the issue is back
have a crash on Galaxy S20 5G/Note10 Lite/A22 5G/Galaxy A53 5G/Galaxy S10+/Galaxy S22/Galaxy A52s 5G/Galaxy S21 Ultra 5G/Galaxy S21 Ultra 5G/Pretty much all samsungs, android 12 and react 0.63.4

[code]

[2022-10-05 20:49] mikehardy commented on #31274
I don't believe this version is supportable at all - please see if you can reproduce on current https://github.com/facebook/react-native/releases

[2022-10-05 21:01] ZihanChen-MSFT commented on #34872
Sounds like a good place to log what I am going to do next for the TypeScript part:

- Refactor: In component, props and events pick properties from the component interface by themselves independently, I would like to reverse the direction, to have a function dispatching properties to props and events, to reduce duplicated code.
- Support intersection of object types, `{...a, ...b, ...}` in Flow i

[2022-10-05 21:05] rhadamez commented on #29965
Still happening in version 0.68.2.

[2022-10-05 21:32] andrestone commented on #33587
@cortinico It seems like this isn't solved.

The issue here is that the code that implements the mechanism to prevent the flash in `RCTRootView`'s has no equivalent in `RCTSurfaceHostingProxyRootView`.

Maybe this should be reopened?

[2022-10-06 00:37] izyspania commented on #26154
Same here with 0.68 , app seems to be working.

[2022-10-06 01:34] vickfan commented on #34701
Hi @edwardhsueh, I was using react native 0.68.0 and facing the same problem
One thing that you can try is adding the below code to the location that specified by [React Navigation Documentation](https://reactnavigation.org/docs/deep-linking)
as I am not familiar with Swift and placing the code in the wrong location
[code]
It's working for me now

[2022-10-06 01:53] denysonique opened #34876 "npx react-native init myapp && yarn ios -- results in BUILD FAILED"
### Description
npx react-native init app fails to build with resulting output:

[code]
### Version

0.70.2

### Output of `npx react-native info`

[code]

### Steps to reproduce

[code]

### Snack, code example, screenshot, or link to a repository

[code]

build error:

[code]

[2022-10-06 04:32] nkjs-git opened #34877 "React Native Android Build with new architecture enabled is failing"
### Description

When newArchEnabled is set to true in android/gradle.properties and do npm run android the build is failing in my local machine(as well as in pipeline).

`> Task :react-native-reanimated:configureCMakeRelWithDebInfo FAILED
C/C++: release|x86 :CMake Error at CMakeLists.txt:74 (add_library):
C/C++: release|x86 :  Cannot find source file:
C/C++: release|x86 :    /home/vsts/work/1/s/n

[2022-10-06 05:06] samih-sghier commented on #29460
same here

[2022-10-06 06:04] micahlt commented on #34743
Can confirm there is an issue on Windows as well

[2022-10-06 06:14] williamleungapptask commented on #34583
I received a lot of similar issues reported.
All issues happens on Pixel phones with Android 13.

[2022-10-06 06:26] micahlt opened #34878 "[Windows] Gradle release build fails when spaces are in directory path"
### Description

I'm on Windows.  When building my app for release in Android Studio, I receive the following error after Metro successfully generates the assets:

[code]

The path of the repository is `C:\Users\Micah Lindley\Documents\Code\repo`.  This appears to be an issue with switching over to Hermes as Android Studio says it's tied to this line:

https://github.com/facebook/react-native/blob

[2022-10-06 06:58] shalom-aviv commented on #32384
Did somebody find a solution?

[2022-10-06 07:59] kvlknctk commented on #31507
I manage two separate projects and they both have the same react versions. While one has this error, the other does not. But I can complete my operations perfectly, so the application is sent to the appstore despite the error. I guess itss a bug that doesnt concern us much. Apple's shit.

[2022-10-06 09:21] imhazige commented on #33649
Encountered same problem

[2022-10-06 09:53] m-lce commented on #33639
Hello,
I use registerForActivityResult in my code in my React Native project. The activity launch is ok with this, but I never get the callback of registerForActivityResult executed.
Have you any ideas of what could be going wrong ?

[2022-10-06 09:54] dhruvtailor7 commented on #34872
Hi @cipolleschi. I would like to work on the following task.

[2022-10-06 10:01] cortinico commented on #34878
Can you share your full build log?

[2022-10-06 10:03] cortinico commented on #34743
Spaces are not supported in the folder name.

If you were to try to create a folder with a space with `npx react-native init` it would fail with:

[code]

So you should rename your folder to remove the space.

[2022-10-06 10:03] #34743 closed

[2022-10-06 10:06] cortinico commented on #34877
Hi,
Thanks for reporting this issue.

It seems like this issue is actually unrelated to React Native core, but from the build log it looks related to Reanimated and to the way how they interact with the native build. Please open this issue against this other repository:

https://github.com/software-mansion/react-native-reanimated/issues

I'll be closing this but feel free to reopen if the other re

[2022-10-06 10:06] #34877 closed

[2022-10-06 10:12] cortinico commented on #34532
If you use pnpm you'll most likely have to use metro-resolver-symlinks
https://microsoft.github.io/rnx-kit/docs/tools/metro-resolver-symlinks.

We don't offer official support for `pnpm` so we can't really help here at this stage. We'll look into it in the near future.

I can suggest to try using `metro-resolver-symlinks` for now, and ask support in the dedicate issue tracker: https://github.com/m

[2022-10-06 10:12] #34532 closed

[2022-10-06 10:15] cortinico commented on #34873
That's happening only for the New Architecture.

Are you using the `--active-arch-only` flag suggested here?
https://reactnative.dev/docs/build-speed#build-only-one-abi-during-development-android-only

Moreover, please look into setting up `ccache` as suggested in the same page.

Sadly this is "expected" as of now. React Native 0.71 will contain improvements on the build time that should alleviate

[2022-10-06 10:15] #34873 closed

[2022-10-06 10:17] krystofwoldrich opened #34880 "Codegen fails if there is an interface without extends in `NativeLib.ts`"
### Description

Code generation fails when there is an interface without `extends` in the ts native interface specification.

Expected result would be that this unrelated interface would just be skipped/ignored it should not effect the result in any way.

### Version

0.70.1

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (10) x64 Apple M1 Pro
    Memory: 42.89 MB / 32

[2022-10-06 10:18] cortinico commented on #34866
Hi @KodyFintak
Thanks for reporting this issue.

It seems like this is a duplicate of this: https://github.com/react-native-community/cli/issues/1707 which is already fixed.

As a rule of thumb, issues against the CLI should be opened here:
https://github.com/react-native-community/cli/issues

[2022-10-06 10:18] #34866 closed

[2022-10-06 10:18] cortinico commented on #34862
Closing as this is fixed and will land in 0.71 👍

[2022-10-06 10:18] #34862 closed

[2022-10-06 10:20] dmytrorykun commented on #34876
Hey @denysonique could you please clean `/Users/dennis/Library/Developer/Xcode/DerivedData/`, and then try to reproduce the issue.
If it persists, please attach full `react-native run-ios` output here.

[2022-10-06 10:26] cortinico commented on #34871
Can you clarify which version of React Native are you using?

[2022-10-06 10:27] cortinico commented on #34871
Also can you please share your `android/build.gradle` and `android/app/build.gradle`

[2022-10-06 10:29] cortinico commented on #34765
Hey @wgywgy
Can I ask you to post this question inside the Working Group:
https://github.com/reactwg/react-native-new-architecture
You should already have access.

As a rule of thumb, questions should be posted there as we're tracking them more closely and they form a knowledge base that we'll use to expand our official docs.

We can totally answer on Github issues, but the information is easily l

[2022-10-06 10:29] #34765 closed

[2022-10-06 10:31] cortinico commented on #34764
Hey @psionic12
Can I ask you to post this question inside the Working Group:
https://github.com/reactwg/react-native-new-architecture
If you don't have access, please request it via the form in the README

As a rule of thumb, questions should be posted there as we're tracking them more closely and they form a knowledge base that we'll use to expand our official docs.

We can totally answer on Gith

[2022-10-06 10:31] #34764 closed

[2022-10-06 10:31] #34763 closed

[2022-10-06 10:58] tarunrajput commented on #34872
Hi @cipolleschi. I would like to pick this one too: ```Extract all the errors in the flow/module/errors.js and in the typescript/module/errors.js into a single parser/errors.js file. All the errors must drop the corresponding Flow or Typescript token in the name and take an extra language parameter in the constructor. Also, rename the hasteModuleName parameter to nativeModuleName```

[2022-10-06 11:22] alfredarcifa commented on #34871
// Top-level build file where you can add configuration options common to all sub-projects/modules.

android/build.gradle

[code]

android/app/build.gradle

[code]

[2022-10-06 12:08] leoparis89 commented on #34701
Unfortunately this is not working for me.

I modified RTCLinkingManager.mm as follows:
[code]

[2022-10-06 12:18] leoparis89 commented on #34701
This solution is not working for me either.

I added the lines you described in RTCLinkingManager.mm.
I added the lines in AppDelegate.mm as instructed in [RN Linking docs](https://reactnative.dev/docs/linking).

Is there possibly some extra setup to do ?

I find it surprising that a major feature like deeplinking is currently broken.
Any clue on a possible workaround ?

[2022-10-06 12:28] cipolleschi commented on #34872
@gabrieldonadel these are supposed to be a different task for each error. The logic to decide whether to throw each error is slightly different from each other. Is it ok if we start with the first one?

[2022-10-06 13:05] jtvargas commented on #27449
The duplications of letters are still happening, `RN:0.68.0 on Android` when you try to use the delete function.

[2022-10-06 13:10] rahulnainwal107 commented on #34720
Hi @dippathak26, Can you please share your exact code snippet? I tried it with same configuration and it is working fine. Code snippet -
[code]
![Screenshot_20221006-182441_newproject](https://user-images.githubusercontent.com/36499090/194319832-961d8d88-ede1-4cca-a2b6-fd27b017b249.jpg)

Add some margin in order to make it clear, just like this -
[code]
![Screenshot_20221006-182416_newproject](htt

[2022-10-06 14:32] liamjones opened #34883 "iOS - Duplicate HTTP requests occur when an authorisation challenge is returned (401 with www-authenticate header)"
### Description

RN's iOS code is not working with authentication challenges in the way the Foundation framework expects and this results in extraneous, duplicate requests to login when bad credentials are presented to the server. It seems this was first noticed by someone in 2015 but didn't go anywhere: https://github.com/facebook/react-native/issues/2266

In our instance, this is causing us issu

[2022-10-06 15:57] AhmadNaeemK commented on #31507
I faced the same issue, with updating xcode and ios 16. I solved it by setting the "Minimum Deployments" in Targets > General, to the lowest value available.

[2022-10-06 17:39] lucaswitch commented on #34873
I'm always using --archive-arch-only and ccache is completely enabled and working.

[2022-10-06 17:42] lucaswitch commented on #34873
Thank you, we will wait until 0.71 for a upgrade.

[2022-10-06 19:09] Marcoo09 commented on #34872
Hi @cipolleschi I would like to help with the following task:

[2022-10-06 20:21] mantmartini opened #34887 "IOS - Upgrading 0.70 RN - Activity indicator screen gets stuck on the app. Doesn't lead to the main page."
### New Version

0.70.0

### Old Version

0.64.2

### Build Target(s)

Iphone 12 - ios 15

### Output of `react-native info`

System:
    OS: macOS 11.5.2
    CPU: (8) x64 Intel(R) Core(TM) i5-8279U CPU @ 2.40GHz
    Memory: 29.58 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.17.3 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.13 - /usr/local/bin/n

[2022-10-06 20:22] asklar opened #34888 "Out of bounds access in LayoutableShadowNode"
### Description

A few instances of out-of-bounds access:

https://github.com/facebook/react-native/blob/ce50c43986bae05ad62552be46f4d5bb4a46f097/ReactCommon/react/renderer/core/LayoutableShadowNode.cpp#L38

and others in that file; it seems like bad access on the first iteration.

### Version

0.70

### Output of `npx react-native info`

n/a

### Steps to reproduce

n/a

### Snack, code example,

[2022-10-06 20:23] asklar commented on #34888
@rozele FYI

[2022-10-06 20:55] mantmartini opened #34890 "Upgrade 0.70 RN | Android | The app closes itself without errors in console"
### New Version

0.70

### Old Version

0.64.2

### Build Target(s)

Emulator Android 12 Google Play | x86_64

### Output of `react-native info`

System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
    Memory: 9.78 GB / 31.69 GB
  Binaries:
    Node: 16.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 8.19.2 - ~\AppData\Roaming\

[2022-10-06 21:17] krystofwoldrich commented on #34890
You can try `adb logcat` to get some logs from the emulator.

[2022-10-06 21:20] qDanik commented on #33557
You shouldn't find any dependencies insecure another packages. Just make a patch for the react-native package and everything will work well.

P.S. Don't forget to setup patch-packages as described in the library guide. I mean post install and etc.

[2022-10-06 22:45] zienna commented on #34673
The script above will work to build the app but it breaks some libraries. It seems that globals in babel.config.js can't be seen. In our case that happens for react-native-vision-camera

[2022-10-06 23:20] lopesboa commented on #34890
same here

[2022-10-06 23:28] denysonique commented on #34876
@dmytrorykun

I did what you suggested and after more careful inspection it boils down to multiple instances of an error like:

[code]
which seems to be a duplicate of #34106

However thank you for your time and trying to help me.

[2022-10-06 23:28] #34876 closed

[2022-10-07 00:14] nandorojo commented on #34079
Adding this to my `package.json` (at the root of my monorepo) fixed it for me:

[code]

No need to downgrade anything. You can also set that `react` version to any 18+ version you're using.

[2022-10-07 02:17] #33441 closed

[2022-10-07 05:58] eyshella opened #34891 "TextInput wrong onChange call after value set (multiline, ios)"
### Description

`TextInput` component calls onChange callback with empty string right after `blur` method was called when backspace button was pressed few times on empty input. This can make it impossible to set value from outside in specific environment.
The issue reproducible only on `iOS` when `multiline` is set.
You can find more details in steps to reproduce.

### Version

0.70.2

### Output

[2022-10-07 06:22] hrishi2430 commented on #17530
thanks @douglasjunior it works

[2022-10-07 06:31] mohitcharkha commented on #34872
Hi @cipolleschi, I would like to work on the following task

[2022-10-07 06:38] GaelCO commented on #17530
@hrishi2430 This crash occurs even with the style change. Just less often.

[2022-10-07 07:44] ghost opened #34893 "Invariant Violation: "myAppName" has not been registered"
### Description

i'm trying to running on ios emulator, but without success:

[code]
metro is started, and build, so i think the problem is:
* A module failed to load due to an error and `AppRegistry.registerComponent` wasn't called., js engine: hermes

### Version

0.70.2

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 316.59 MB / 32.

[2022-10-07 08:45] Ikalli commented on #29696
Any solution?
Still same problem with `position: absolute` ScrollView.

[2022-10-07 09:15] aaronyee-eth commented on #16060
Hope there could be a native solution. Otherwise, we'll have to realize the animation using 3rd party libraries like reanimated.

[2022-10-07 09:33] kelset commented on #34673
just as an headsup, we have a PR getting merged with a fix that we think is the right level of "scope": https://github.com/facebook/react-native/pull/34826 it will get cherry picked for the next 0.70 release

[2022-10-07 10:47] vinayharwani13 commented on #34872
Hi @cipolleschi, I would like to take this up

[2022-10-07 10:48] mohitcharkha commented on #34872
Hi @cipolleschi, I would like to work on the following task

[2022-10-07 10:50] mantegnous commented on #34893
` "dependencies": {
    "@gorhom/bottom-sheet": "^4.4.5",
    "@ptomasroos/react-native-multi-slider": "^2.2.2",
    "@react-native-async-storage/async-storage": "^1.17.10",
    "@react-native-firebase/analytics": "^14.12.0",
    "@react-native-firebase/app": "^14.12.0",
    "@react-native-firebase/crashlytics": "^14.12.0",
    "@react-navigation/bottom-tabs": "^6.4.0",
    "@react-navigation/mate

[2022-10-07 11:41] krystofwoldrich opened #34894 "iOS Codegen fails to find `react-native.config.js`"
### Description

When I want to generate codegen for ios during development I've noticed the `react-native.config.js` is not found.

### Version

0.70.2

### Output of `npx react-native info`

info Fetching system and libraries information...
System:
    OS: macOS 12.6
    CPU: (10) x64 Apple M1 Pro
    Memory: 35.47 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 14.20.1 - ~/.volt

[2022-10-07 12:09] mdaj06 commented on #34872
Hi @cipolleschi I would like to take the following issue:

[2022-10-07 13:00] cipolleschi commented on #34872
Hi @mohitcharkha! before taking another task, please open a PR on the one already assigned. You are currently assigned to fixing the `MisnamedModuleFlowInterfaceParserError`. Thanks a lot!

[2022-10-07 14:17] cipolleschi commented on #34872
Small update: given the interest the initiative is having, I added some more tasks for people to pick up. :tada: :tada:

Thank you to every one of you for the amazing work! 😄

[2022-10-07 16:04] Abbondanzo commented on #34350
Shot in the dark, but we were running into this same issue. I think it's caused by the fact that the `StatusBarModule` is only updating the `WindowInsetsController.systemBarsAppearance` for devices API >30, and never touching the old `View.systemUiVisibility`:

https://github.com/facebook/react-native/blob/c4f9556f7e98454e2061ca7e121099ebbbddd4c9/ReactAndroid/src/main/java/com/facebook/react/modul

[2022-10-07 16:27] rafaelmaeuer commented on #34601
With update

After Upgrading React-Native to `v0.70.2` I get the following error:
`Multiple commands produce '<project-dir>/app/ios/build/Build/Products/Release-iphonesimulator/<name>.app/Frameworks/hermes.framework'.`

When removing `hermes.xcfrmework` from section **Frameworks, Libraries and Embedded Content**, building the app works again, but uploading the archive to Appstore Connect results i

[2022-10-07 18:07] Naturalclar commented on #34872
Hello @cipolleschi! I'd like to work on the following issue:

[code]

[2022-10-07 18:26] MaeIg commented on #34872
Hello @cipolleschi, this umbrella issue is awesome !

I would like to work on the following task:
`Extract the content of the case 'RootTag' (Flow TypeScript) into a single emitRootTag function in the parsers-primitives.js file. Use the new function in the parsers.`

[2022-10-07 18:52] avenable8 commented on #34344
I am having this same issue after upgrading to 0.70.2.

use_frameworks! :linkage => :static does not work for me. We are integrating react native into an existing native app that heavily uses Bond, which requires use_frameworks! and does not work with the static linking.

[2022-10-08 02:16] #33555 closed

[2022-10-08 02:16] #33437 closed

[2022-10-08 02:17] wustzhy commented on #30029
+1,  any one found solution?

[code]

[2022-10-08 06:04] AntoineDoubovetzky commented on #34872
Hi!
I opened a PR for the task I am assigned to, and now I'd like to work on:
`Extract the function assertGenericTypeAnnotationHasExactlyOneTypeParameter into a single function in the parsers-common.js file and replace its invocation with this new function.`

[2022-10-08 11:39] SurajMDurgad commented on #34186
+1

I don't want to user Flipper!

[2022-10-08 12:45] sachinxagrawal commented on #33768
12.4 is minimum requirement. update on top
platform :ios, '12.4'

[2022-10-08 15:53] Waltari10 opened #34902 "Using -PreactNativeArchitectures=x86 still builds all archetypes"
### Description

I would like to build different android production ABIs one at a time e.q. x86, x86_64, arm64-v8a and so on.

However when I try to use `-PreactNativeArchitectures=x86` it just anyway builds all archetypes at once. I believe this is the case because in the .aab `~/foo/android/app/build/outputs/bundle/release/app-release/base/lib` it has all 4 folders for each archetype as shown in

[2022-10-08 17:43] HarshitMadhav commented on #32928
same issue +1

[2022-10-08 20:57] wedhaka commented on #34441
First, remove the locally installed react-native

`npm uninstall -g  react-native` or `npm uninstall  react-native`

then retry it again

`npx react-native init AwesomProject`

[2022-10-09 02:52] adarshkhatri commented on #33916
Same thing is happening on my end too:

[2022-10-09 06:29] MaeIg commented on #34872
Hi @cipolleschi,
I finished my previous task. Now I'd like to work on:

[2022-10-09 06:42] Naturalclar commented on #34872
I'd like to work on:

[2022-10-09 08:08] owdji commented on #28697
Hey ! I had the same problem, I was  using `keyboardAvoidingView `with `absolute` position and putting it at the bottom of the screen.

This  code was not working :
`<KeyboardAvoidingView
      style={{
        position: 'absolute',
        top: WINDOWHEIGHT - 100,
...
`

But this code is working :
`      <KeyboardAvoidingView
      style={{
        position: 'absolute',
        left: 0, right: 0,

[2022-10-09 08:30] Amulya-Kumar commented on #34872
Hi @cipolleschi,
I would like to complete this task. Thanks!

[2022-10-09 08:47] ysng007 commented on #33916
Same issue

react: 16.11.0
react-native: 0.62.2

any solutions?

[2022-10-09 10:05] tarunrajput commented on #34872
Hi @cipolleschi, I'd like to work on this task next:

[2022-10-09 11:21] dkjeune commented on #33916
com.facebook.react.modules.core.ExceptionsManagerModule.reportException
com.facebook.react.common.JavascriptException

Same problem for me

 "react": "17.0.2",
 "react-native": "0.68.0",

[2022-10-09 17:27] AntoineDoubovetzky commented on #34872
@cipolleschi I believe that the 'Promise' case depends on `assertGenericTypeAnnotationHasExactlyOneTypeParameter` being extracted which depends on https://github.com/facebook/react-native/pull/34896.

In the meanwhile I'll work
`Extract the content of the case 'Double' into a single emitDouble function in the parsers-primitives.js file. Use the new function in the parsers.`

[2022-10-09 18:29] Solaimanx commented on #32984
unsetting the default alias fixed my issue.

`$ nvm unalias default`

clean the build folder then rebuild the project.

note : I'm using Xcode 14.0.1

https://stackoverflow.com/a/70944459/15266718

[2022-10-09 18:49] v0vchansky commented on #29507
Still an issue

[2022-10-09 19:16] youedd commented on #34872
@cipolleschi, I would like to elp with this task too

Thanks!

[2022-10-09 21:04] leroywagner opened #34912 "Can not choose simulator"
### Description

I running command ```npx react-native run-ios --simulator="iPhone 14 Pro Max"```, wanna specify simulator model, but it always starts iPhone SE

### Version

0.70.2

### Output of `npx react-native info`

System:
    OS: macOS 13.0
    CPU: (8) arm64 Apple M1
    Memory: 121.67 MB / 8.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.15.1 - /usr/local/bin/node
    Yarn: 1

[2022-10-09 22:14] Pietro-Putelli opened #34914 "Bug when use value as children of TextInput"
### Description

I'm having some problems using <TextInput> component in React Native 0.70.2.
Specifically I need to put the text like this <TextInput> {children} </TextInput>, instead of passing a value prop, because I need to manipulate text for creating a mention text input.
By doing this, in React Native before 0.70 it worked, but with the next version what happen is shown in the video.

https

[2022-10-09 22:55] #34894 closed

[2022-10-10 02:17] #33569 closed

[2022-10-10 03:59] ucheNkadiCode commented on #34673
Hey Everyone! I was able to find a solution! It's honestly much simpler than I thought.

I believe the bug must have gotten introduced in XCode 14 and it was not setting a development team for the iOS pod named "React-Core-AccessibilityResources".  This was stopping me from being able to build my app on my IPhone and likely would have stopped me from being able to archive my build to get it on the

[2022-10-10 05:49] AntoineDoubovetzky commented on #34872
I'm not completely sure what's the target for this task:

What I understand: the goal is to create functions like `checkIsInterfaceFound`, `checkIsMoreThanOneModule`, `checkIsModuleMisnamed` that check and throw error if necessary and then use them in `buildModuleSchema` so it would look like:
[code]

Is that right ?

[2022-10-10 05:54] ken0nek commented on #34872
@cipolleschi Hi, I would like to help with these unassigned tasks; `StringTypeAnnotation` and `FunctionTypeAnnotation` 💡

[2022-10-10 05:58] muhabutt commented on #34400
Any updates on this issue, I can reproduce this bug on Fresh react native 0.70.2.

[2022-10-10 06:58] mohitcharkha commented on #34872
Hi @cipolleschi, I have completed the assigned task. Can you assign me the next one?

[2022-10-10 07:04] Uros787 commented on #34695
+1

[2022-10-10 07:35] jay-stance commented on #32351
facing the same issue here, please how can this be resolved?

[2022-10-10 07:47] christianrank commented on #34673
@ucheNkadiCode this works only until you do `pod install` the next time.

[2022-10-10 07:47] dhruvtailor7 commented on #34872
Hi @cipolleschi, I have completed my assigned task. I would like to work on this next task.

[2022-10-10 08:05] cipolleschi commented on #34872
@ken0nek Thanks for the enthusiasm, I love it! To give everyone the chance to contribute, let's start with the `StringTypeAnnotation`. As soon as you are done, you can claim another one.

@AntoineDoubovetzky
Yes, Exactly! :D
After #34896 Is merged, we will have all the exceptions in a single file and language independent (already accepting a parameter). The idea is to merge the error handling in a

[2022-10-10 08:20] AntoineDoubovetzky commented on #34872
@cipolleschi Thanks for your answer, I'll wait for https://github.com/facebook/react-native/pull/34896 to be merged and then see which task is still not assigned.

[2022-10-10 09:26] cipolleschi commented on #34872
#34896 is landing, so hopefully in 30 min/1 hr we should be good! 😉

[2022-10-10 09:35] samuelcai-chancetop commented on #30206
Our app (RN 0.66.0) is having similar problem, I don't know when it started happen, or what caused it, still investigating, but here is what I observed:
**This happened not only on Android, but also on iOS. It is not happening all the time in our app, just some users and sometimes.**
I can find two customers based on our last two weeks' log:
Customer 1: Pixel 6, Android 13
Customer 2: iPhone 11, i

[2022-10-10 10:02] #31646 closed

[2022-10-10 11:11] harshsiri110 commented on #34872
Hi @cipolleschi, I would like to work on the following task

[2022-10-10 11:29] nangbanmai1907 commented on #31421
It's work for me
project.ext.react = [
    entryFile: "index.tsx"
]

[2022-10-10 11:48] pedrolopes10 commented on #33883
Nope, and yes it looks like that particular code is the responsible, maybe don't throw exception if doesn't find the task to finish?

[2022-10-10 11:50] Marcoo09 commented on #34872
Hi @cipolleschi, I finished my previous task. I'd like to continue working on:

[2022-10-10 13:29] mohitcharkha commented on #34872
Hi @cipolleschi, I finished my previous task. Can you assign me the next one?

[2022-10-10 13:31] gabrieldonadel commented on #34872
Hi @cipolleschi, I would like help with the following task.

[2022-10-10 13:34] AntoineDoubovetzky commented on #34872
@cipolleschi I'd like to work on

[2022-10-10 13:42] krystofwoldrich opened #34923 "Missing java stack trace"
### Description

When an error happens in Java code, the stack trace only shows the JNI C++ code stack trace.

I assume this might be a limitation of the New Architecture, but I don't have enough knowledge about it.

### Version

0.70.2

### Output of `npx react-native info`

[code]

### Steps to reproduce

Throw an error in native Java code.

[code]

### Snack, code example, screenshot, or link t

[2022-10-10 14:36] MaxHubin opened #34925 "Source maps from node_modules doesn't apply"
### Description

Any package from the module node cannot be debugged. Source maps are not applied.
<img width="174" alt="Screenshot 2022-10-10 at 16 31 11" src="https://user-images.githubusercontent.com/5043519/194889980-80997fee-ea73-4c3d-a698-5f24a62ab115.png">

In source code we cannot see source maps
<img width="419" alt="Screenshot 2022-10-10 at 16 32 18" src="https://user-images.githubuserco

[2022-10-10 14:49] javache commented on #34665
#34927 attempts to resolve this issue by enabling the new behaviour only on Fabric. I verified this resolves the repro given here, but would appreciate help testing other scenarios too (eg [the drawerlayout issue](https://github.com/software-mansion/react-native-gesture-handler/issues/2208))

[2022-10-10 14:58] leroywagner commented on #34912
Guys, it's really important, reply me

[2022-10-10 15:11] cipolleschi commented on #34872
😱 All the tasks has been assigned, so far... @Marcoo09, and every one of you who is about/has finished their tasks, bear with us for a while. Today I don't think I'll manage to come up with some other tasks, but I'll try to prioritize their creation for tomorrow morning. :+1:

Thank you everyone for the great work and your patience! 🙏

[2022-10-10 15:21] thegolddustrush opened #34928 "Cannot click button at bottom of page"
### Description

I cannot click a button or touchable opacity at the bottom of the page. We have to either move it to the top of the page or higher up.

Here's an example

[code]

### Version

0.68.2

### Output of `npx react-native info`

info Fetching system and libraries information...
System:
    OS: macOS 12.5.1
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 83.02 MB /

[2022-10-10 15:21] HugoGresse commented on #34344
Weirdly enough, I'm having the same issue, but I'm not using `frameworks` in the podfile and migrating from 0.67 to 0.68.
Applying the patch mentionned in the OP did not change anything too.

[code]

[2022-10-10 16:22] olawalethefirst opened #34929 "Endless loop of onEndReached call"
### Description

Flatlist's onEndReached is called in an endless loop

### Version

6.1.0

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.19044
    CPU: (4) x64 Intel(R) Core(TM) i5 CPU       M 540  @ 2.53GHz
    Memory: 2.48 GB / 7.87 GB
  Binaries:
    Node: 16.14.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.17 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 8.3.0 - C:\P

[2022-10-10 16:30] NguyenVanVietPoLy commented on #31507
i change target to 11.0 that work.

[2022-10-10 16:35] AsadAlihp commented on #17530
Error still exits

[2022-10-10 17:32] crackerack commented on #33462
I am still seing this issue. Is there anything besides the workaround? A lot of people seem to have reported this.

[2022-10-10 19:28] MaeIg commented on #34872
Hi @cipolleschi,

It's not much, but if it helps, I found some new tasks to work on:
- [ ] Extract the function createParserErrorCapturer ([Flow](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/flow/utils.js#L122-L143) [TypeScript](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/typescript/utils.js#L114-L135)

[2022-10-10 19:34] cipolleschi commented on #34872
Amazing, @MaeIg! Thank you for figuring these out! I'll move these three in the list above and I'll assign you the first one.

@Marcoo09, if you are ok with that, I'll assign you the second one.

Yup, I know that.. But components are more complex and more delicate... I'd like to take some time to think a little about them before start creating tasks. ;)

[2022-10-10 19:41] Marcoo09 commented on #34872
Great @cipolleschi @MaeIg. Assign it to me 💪

[2022-10-10 19:55] Vorob-Astronaut commented on #34792
same

[2022-10-10 23:27] iredox10 commented on #33116
please I am facing thesame problem too, but I didn't see any solution here

[2022-10-10 23:30] myou11 commented on #34382
Hello, is there any update on this issue? I am running into the same problem described above and specifying `PRODUCTION=1` is allowing me to archive the app successfully. I am not running into the issue where specifying `PRODUCTION=1` is causing the built app to crash at startup. My app is also spinning up fine on my simulator fwiw.

I'm just wondering if I have to do `PRODUCTION=1 pod install` ea

[2022-10-10 23:52] aprilmintacpineda commented on #34673
This solution worked best. https://github.com/facebook/react-native/issues/34673#issuecomment-1245445193

[2022-10-11 00:24] regulas1 commented on #34872
Hi There can i get `Extract the function isModuleRegistryCall ([Flow](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/flow/utils.js#L175-L211) [TypeScript](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/typescript/utils.js#L167-L203)) into a single function in the parsers/utils.js file and replace its invoca

[2022-10-11 01:38] Jungdaekyeom commented on #29663
Still the problem here too...

[2022-10-11 02:17] #33503 closed

[2022-10-11 06:34] ZohaibAhmad786 opened #34937 "JS Thread dropping issue"
### Description

Hey i am facing Js thread FPS dropping issues in react native project.

when i add more than 5 input component inside a signup screen and navigate from sign-in to sign-up the Js thread dropped to -2.1 FPS.

here is my package.json file

 "@react-navigation/native": "^6.0.13",
    "@react-navigation/native-stack": "^6.9.0",
    "axios": "^0.27.2",
    "deprecated-react-native-prop-

[2022-10-11 07:17] StampixSMO commented on #33631
Also having this issue

[2022-10-11 07:31] saad9624-tribalScale commented on #33789
Still getting the same issue in October

[2022-10-11 07:44] ADRE9 opened #34938 "Build fails after enabling new architecture"
### Description

[code]

### Version

0.70.4

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.22621
    CPU: (8) x64 Intel(R) Core(TM) i5-8300H CPU @ 2.30GHz
    Memory: 9.36 GB / 23.85 GB
  Binaries:
    Node: 16.15.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.17 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 8.19.2 - C:\Program Files\nodejs\npm.CMD
    Watchman: 20210110

[2022-10-11 07:46] shaikhalid commented on #29408
Hi everyone, I am facing this exact problem. I am using expo, and hence I created an issue on expo but @Kudo mentioned that once react-native integrates this fix to their SDK it should come to expo.

Can someone please help me understand if there is any timelines for this.

[2022-10-11 08:10] rayhk6 commented on #34084
Could you share your Podfile ? Thanks

On Mon, 5 Sep 2022 at 9:58 PM, Aziz Mobarak ***@***.***>
wrote:

[2022-10-11 08:12] pythonName commented on #31505
but i have this issue:

[!] Error installing hermes-engine
[!] /usr/bin/curl -f -L -o /var/folders/py/ywshkpqj4pvb285158rlrbb40000gn/T/d20221011-92879-f2mx73/file.tgz https://github.com/facebook/react-native/releases/download/v0.70.2/hermes-runtime-darwin-v0.70.2.tar.gz --create-dirs --netrc-optional --retry 2 -A 'CocoaPods/1.11.3 cocoapods-downloader/1.6.3'

  % Total    % Received % Xferd  Avera

[2022-10-11 09:29] RuthlessPotato commented on #29460
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-11 10:30] yirenkeji555 commented on #32673
solved it ?

[2022-10-11 11:20] JDerf commented on #30095
Could someone please walk through the steps to do this?

[2022-10-11 12:04] marandaneto commented on #34923
Apparently when you throw an exception on Java, instead of throwing it to `Thread.UncaughtExceptionHandler` it actually throws a signal handler on NDK for Android, not sure if this is the desired behavior of the new architecture or a bug.

If this is the desired behavior, still there's a problem since the stack trace isn't useful, after symbolicating with debug symbols, we still don't know what's

[2022-10-11 12:43] j-piasecki commented on #34665
@javache Thank you for fixing this. Your PR seems to be fixing the drawer layout issue.

[2022-10-11 14:19] cipolleschi commented on #34872
Hey everyone! Thank you again to everyone for the Amazing work!
I managed to create some other tasks, but be careful: some of them are more complex that what we worked on so far.

---

I think that it's worth explaining what will be the final outcome of this effort for the modules. If we all share the same vision, we can work better together toward our goal.

### What are we doing right now
If you

[2022-10-11 14:24] gabrieldonadel commented on #34872
Hi @cipolleschi, I would like help with the following task

[2022-10-11 14:24] vinayharwani13 commented on #34872
Hi @cipolleschi, I want to work on this task. Please assign it to me.

[2022-10-11 14:34] jitadlak commented on #33637
i will solved this problem. please connect with me on jitadlak@gmail.com

[2022-10-11 14:51] AntoineDoubovetzky commented on #34872
Hi @cipolleschi, if that's ok with you I'd like to work on:

[2022-10-11 15:05] cowen-slimmingworld commented on #30186
Any update on this?

[2022-10-11 15:08] mantmartini opened #34945 "Upgrade 0.70 RN | Android | E/ReactNativeJS: TypeError: _.default.createNode is not a function."
### New Version

0.70

### Old Version

0.64.2

### Build Target(s)

Emulator Android 12 Google Play | x86_64

### Output of `react-native info`

System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
    Memory: 1.04 GB / 31.69 GB
  Binaries:
    Node: 16.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 8.19.2 - ~\AppData\Roaming\

[2022-10-11 15:09] MaeIg commented on #34872
Hi @cipolleschi, thanks for the explanations the objective seems clear :)

I'd like to work on:

[2022-10-11 15:09] mantmartini commented on #34890
Thanks, I'm checking that :)

[2022-10-11 15:27] oleksandr-dziuban commented on #34912
Hello guys, yes, we have noticed same issue in RN 0.70
Seems like --simulator parameter was ignored. RN 0.69 work fine

[2022-10-11 15:45] prasanna-colan commented on #34624
Got any luck?

[2022-10-11 16:38] AlexanderEggers commented on #34372
@cipolleschi I had another look and did a few more changes to introduce typescript for the fabric spec to the project but no change to the issue.

I noticed that the actual component is created correctly but as soon as the component communicates with the native layer (via the generated Commands), the crash happens. So yes it would indicate there is somewhere a mismatch but according to the provide

[2022-10-11 16:59] youedd commented on #34872
Hello @cipolleschi
I'd like to help with this task, Thanks!

[2022-10-11 17:08] leroywagner commented on #34912
[code]

[2022-10-11 17:09] dakshbhardwaj commented on #34872
Hi @cipolleschi , I'd like to work on

[2022-10-11 17:35] mcanikhilprajapati commented on #32673
same issue facing here

[2022-10-11 19:41] friederbluemle commented on #34441
I also ran into this (very nondescript) error message, and for me it was simply caused by accidentally running the npx  command **inside a directory that already contained a `package.json` file**.

[2022-10-11 20:58] MaeIg commented on #34872
@cipolleschi, I just noticed that these two tasks are duplicated:

They are part of the list I gave yesterday.

cc: @AntoineDoubovetzky who took the first one.

So, as my current task isn't free, I'd like to work on:

[2022-10-11 21:14] cipolleschi commented on #34872
🤦‍♂️sorry! And sorry to @AntoineDoubovetzky too.

I should have paid more attention to those tasks!

Sure, I'll change the assigned task.

[2022-10-11 21:36] avegrv commented on #34871
Fixed with updating
`com.android.tools.build:gradle`
from
`7.2.2`
to
`7.3.0`

🤷

@cortinico @alfredarcifa

[2022-10-11 21:45] HilSny commented on #33639
@alarm109 did you ever get this to work, if so could you share a sample of how you did the permissions with registerForActivityResult. I'm currently working with the Health connect api and am looking for guidance on this specific issue :)

[2022-10-11 23:29] aphillipo commented on #32673
I also have this issue...

[2022-10-11 23:58] nazmeln commented on #29807
The issue still persists 🥲

[2022-10-12 00:54] Saikedo commented on #34816
Any updates on this? Facing the same issue.

[2022-10-12 02:17] #33572 closed

[2022-10-12 05:32] ekafe commented on #34402
Hai,

Any update to the problem, i want to use tensorflowjs which takes the image as array buffer.
Is there any alternative method is there, i cant seem to find it to load the image as arraybuffer.

Any help will be appreciated

[2022-10-12 05:40] harshsiri110 commented on #34872
Hi @cipolleschi, I would like to help with the following issue:

[2022-10-12 05:45] AntoineDoubovetzky commented on #34872
@cipolleschi I already opened a PR to extract the visit function: https://github.com/facebook/react-native/pull/34946

[2022-10-12 05:50] mohitcharkha commented on #34872
Hi @cipolleschi, i have completed my previous task and would like to help with the following task

[2022-10-12 06:26] tarunrajput commented on #34872
Hi @cipolleschi, I'd like to work on :

[2022-10-12 06:27] fabriziobertoglio1987 commented on #29505
I could reproduce it using the Accessibility Inspector, but not using VoiceOver on a real device.
I modified the example below to reproduce your scenario. Thanks

https://www.icloud.com/iclouddrive/058DYalQMfMD_rODqfnGn2owg#testing_voiceover_with_safeareaview

@aliossam

[2022-10-12 06:32] BatDroid commented on #34745
@cortinico I'm sorry for the wrong information I gave (didn't do it intentionally). As a matter of the fact, it wasn't `expo-sentry`, I just removed my `yarn.lock` and installed packages again.
I know how crazy this can be, but that was the only way for my project :)

[2022-10-12 08:00] SimonAM commented on #29702
@FontSanguinetti could you give me a little more detail into how this is related to onContentSizeChange?

[2022-10-12 08:10] MaeIg commented on #34872
Hi @cipolleschi, I'd like to work on:

The links are broken but I should be able to find the right place in the code 😄

[2022-10-12 08:23] #34593 closed

[2022-10-12 08:31] shahidyousafxai commented on #32951
It solves my problem.

[2022-10-12 08:41] retyui commented on #32504
Still an issue for me:

[code]

**UPD:**

Only forcing modal unmount fixed it

[code]

[2022-10-12 08:55] cipolleschi commented on #34872
@Marcoo09: I made a mistake and assign the same task (Extract the `visit` function) twice, once to you and once to @AntoineDoubovetzky. Antoine has already created a PR, #34946.

Is it ok for you if we proceed with that one and I'll assign you another task?
I'm really sorry about this. 😞

[2022-10-12 10:30] harshsiri110 commented on #34872
Hi @cipolleschi, I have completed my previous task. I would like t work on the following task next. Could you please assign it to me?

[2022-10-12 11:00] brascene commented on #31507
I've had the same error when trying to upload from XCode, but with Transporter app it worked quickly and without errors.

[2022-10-12 11:24] harshsiri110 commented on #34872
Hi @cipolleschi, could you please elaborate on the requirements of this task? Because when I went into the code, I could see that `UnsupportedFunctionReturnTypeAnnotationParserError` was already present in the `parsers/errors.js` file.

[2022-10-12 11:41] svenlombaert commented on #34784
Seems like this is now released in 0.70.2:
https://github.com/facebook/react-native/releases/tag/v0.70.2

[2022-10-12 12:57] cipolleschi commented on #34872
@harshsiri110 I updated the LOC that should be exported.
Yes, the error have been already moved in the proper `parsers/errors.js` file. What I'd like to extract is a function that encapsulate the logic of `if (condition) { throw new error }`.
As you can see, the logic that test the condition is exactly the same for both the parsers.
I realize now that the task is very misleading, I'm sorry for tha

[2022-10-12 13:11] kovkev opened #34957 "Cannot read property 'jsx' of undefined"
### Description

Start up a new project and use module `@react-navigation/stack` .

You will encounter this error

`Cannot read property 'jsx' of undefined` . It points to line 21 of `./node_modules/@react-navigation/stack/src/views/Screens.tsx` , which is simply a jsx component instantiation.

### Version

0.70.1

### Output of `npx react-native info`

[code]

### Steps to reproduce

Create a new

[2022-10-12 13:44] retrixe commented on #30034
Worth noting this workaround isn't perfect, since the scroll indicator moves to the other side of the list (from the right to the left). Currently, I disabled the indicator in my application, but this is really not ideal.

The underlying problem here is that `scaleY` in `transform` is considerably slower than `scaleY` outside the `transform` property on Android for some reason, since `scaleY` is d

[2022-10-12 13:56] retrixe commented on #34607
It seems this property was removed in #34050 due to being a deprecated property, however, this style property is still being used to work around the preferred `transform: [{ scaleY }]` being massively slower on Android devices.

[2022-10-12 13:57] rumax commented on #33202
@cortinico seems like you did focus on "Build times increased" instead of actual issue which is:

So yes, technically it is a "warning" but it can also cause unexpected results.

[2022-10-12 14:48] kelset commented on #34607
cc @Zachinquarantine who did the PR and @cipolleschi who imported it, who might be able to provide some insights

[2022-10-12 14:57] kelset commented on #34673
hey folks, we have released a fix for this in 0.70.3 - please update to this new version: https://github.com/facebook/react-native/releases/tag/v0.70.3

[2022-10-12 14:57] #34673 closed

[2022-10-12 15:34] saurav1124 commented on #30171
If you are using a different method then `onViewableItemsChanged ` make sure it is defined above the `useRef` lines. Like this:

`const onMyDataScroll = (changed,viewableItems) => {
    console.log(changed)
  }

  const viewabilityConfig = { viewAreaCoveragePercentThreshold: 95 }
  const viewabilityConfigCallbackPairs = useRef([{ viewabilityConfig: viewabilityConfig, onViewableItemsChanged: onMyDa

[2022-10-12 15:49] birgernass commented on #34914
This issue just got fixed with [0.70.3](https://github.com/facebook/react-native/releases/tag/v0.70.3).

[2022-10-12 16:17] MaeIg commented on #34872
Thanks :) I see that I am not assigned on the task. Can I work on it?

[2022-10-12 16:58] josaric commented on #16826
Try this:

[code]

[2022-10-12 17:50] sebasg0 commented on #34871
Hi @cortinico , I got same issue in 70.3. Any fix for this as bumping the com.android.tools.build:gradle didn't worked for me

[2022-10-12 18:01] necolas commented on #34425
@sarulathadurai are you still planning to work on box-shadow?

[2022-10-12 19:05] ucheNkadiCode commented on #34673
I have a problem with this new release unless @kelset can answer. For new version 70.3, the solution involves turning off code signing for all React-Core packages. What does that do and how does it affect publishing to App Store?

Thank you

[2022-10-12 20:22] MizukiHo commented on #34468
+1 with 0.70.3

[2022-10-12 22:01] Slapbox commented on #34402
It's crazy that this isn't supported. I've been trying to find a way around this all day.

[2022-10-13 02:08] hochungwong commented on #34583
Same, it happens exactly on my Pixel 4 which is running Android 13.
Also i'm using the package [react-native-gifted-chat](https://github.com/FaridSafi/react-native-gifted-chat)

[2022-10-13 02:16] #33594 closed

[2022-10-13 02:16] #33559 closed

[2022-10-13 02:18] artemiswkearney commented on #33440
Still a problem

On Wed, Oct 12, 2022, 9:17 PM github-actions[bot] ***@***.***>
wrote:

[2022-10-13 04:09] wragony commented on #34089
facing same issue.

[2022-10-13 05:26] sarulathadurai commented on #34425
@necolas  apologies I can't take it up

[2022-10-13 07:49] maksim-romanov commented on #34912
Same issue 😢

[2022-10-13 07:50] Vepsur commented on #34912
I have the same problem 😔

[2022-10-13 07:59] Saad-Bashar commented on #33883
Yeah as long as the app does not crash :(

[2022-10-13 09:45] lluisandreu commented on #34089
Same issue in RN 0.7.20

[2022-10-13 10:02] retrixe commented on #30034
For now, I have written a quick and dirty workaround to restore `scaleY` like so in my application's `index.js` file:
[code]
This allows you to continue using `scaleY` and avoid the aforementioned issue with the scroll bar being moved to the other side of the `FlatList` when using `rotate` instead of `scaleY`. This works fine in React Native 0.70.x, but might break in the future if support for the

[2022-10-13 10:20] dimaportenko commented on #32671
For those who don't know how to do it. You can go to the `android` dir and run
[code]
it will show your android dependecies.

In the `android/app/build.gradle` add following

[code]
I placed it at the same level as the dependencies section.

[2022-10-13 10:28] aspidvip commented on #28992
Same here, RN 0.66.4

[2022-10-13 11:00] Isopodus commented on #34957
I can confirm the same behavior on this minimal example:
[code]
Deps:
[code]

[2022-10-13 11:06] princefishthrower opened #34968 "npx react-native init AwesomeProject fails"
### Description

As the title states, I can't issue `npx react-native init AwesomeProject`, here's my console output:

[code]

### Version

70.3

### Output of `npx react-native info`

Can't even issue this one either:

[code]

### Steps to reproduce

1. Issue `npx react-native info` or `npx react-native init AwesomeProject` in a terminal

### Snack, code example, screenshot, or link to a reposito

[2022-10-13 14:22] nofacez commented on #31218
Also facing same issue 😔

[2022-10-13 15:01] KrisLau commented on #34608
@cipolleschi How do I update my ruby version? I tried running `bundle update` but my `ruby --version` still outputs `ruby 2.6.8p205`

[2022-10-13 15:44] pankti-0627 commented on #34131
not working for me! any other way to configure custom fonts in iOS?

[2022-10-13 15:57] alfonsocj commented on #34372
For more context, this only happens when adding native commands with `codegenNativeCommands`.

[2022-10-13 16:27] josephk96 commented on #34968
Hi @princefishthrower , I ran into a similar issue just a few hours ago. Can you try the following and see if it works?

`npm uninstall -g react-native-cli && npm install -g react-native-cli && npm install -g react-native && npx react-native init AwesomeProject`

I found this SO thread - https://stackoverflow.com/questions/72768245/typeerror-cli-init-is-not-a-function-for-react-native and it worke

[2022-10-13 17:11] #34929 closed

[2022-10-13 17:16] Basir-PD commented on #34688
Did you manage to solve it? I face same issue

[2022-10-13 17:46] jyotiprakash111 commented on #34688
Hi Folks, I would like to suggest you all to upgrade the Patched RN version 0.70.3

Change Log - https://github.com/facebook/react-native/pull/34958

npx react-native upgrade 0.70.3

[2022-10-13 17:54] olawalethefirst opened #34973 "FlatList stuck in Endless onEndReached trigger on IOS, Web and Android"
### Description

I am facing an issue where the FlatList's onEndReached function gets continuously triggered even when the list is not undergoing any panning.

When using the flatlist onEndReached to implement an infinte loading feature, an unusual behavior is noticed under two unique conditions.
1 - If list height is increment during data load and reduced when not loading. This is a common practi

[2022-10-13 18:44] avenable8 commented on #34344
@tapz I also had this issue with MaterialCommunity from react-native-vector-icons. I got around it by selectively statically + dynamically loading pod targets instead of globally using :linkage => :static. I posted the stackoverflow link above.

[2022-10-13 19:07] nickolasmdasilva commented on #34688
@jyotiprakash111 I tried upgrading now, but did not work too.

[2022-10-13 19:25] alfonsocj commented on #34372
I tried removing `codegenNativeCommands` and all props from `NativeProps` just to see if it rendered and I can see that it errors out with `Invariant Violation: View config getter callback for component `LottieAnimationView` must be a function (received `undefined`)`, which means that JS it's not even recognizing the native module.

[2022-10-13 20:10] tapz commented on #34344
@avenable8 I have no idea, which ones to set static and which dynamic. I'll just disable Hermes and wait until it and all dependencies are mature enough.

[2022-10-13 20:45] soulfresh commented on #25675
I was struggling with this issue recently as well and found two things. 1) The above resolved the issue on Android for me. 2) The root cause of my issue actually turned out to be a custom animation using React Native `Animation` running at the same time that Linking was trying to get the initial URL. I haven't tracked down exactly what it is about the animation that was preventing `InteractionMana

[2022-10-13 23:37] jitendragupta24 commented on #34775
@cortinico Thank you for your response. Building from the source to update a compile time flag for a tiny subset doesn't seem like a feasible solution for us and it will be difficult in terms of maintainability.

This is reported only for 'libturbomodulejsijni.so'. So, can you please revisit this again and enable -fstack-protector just for this module? This will help everyone to be compliant. If t

[2022-10-14 00:03] djendacott commented on #29333
Is there any official comment on 120fps support?

It is now over 12 months since iOS implemented promotion, and our react native animations stutter and feel juttery and low quality in comparison to every native app.

Has react native hit a wall?

[2022-10-14 01:42] djendacott commented on #29333
What version of RN are you running?

Are you talking about Reanimated or are you saying that the built-in Animated library works for you at 120fps?

[2022-10-14 02:17] #33431 closed

[2022-10-14 02:29] artemiswkearney commented on #33419
Still a problem

On Thu, Oct 13, 2022, 9:18 PM github-actions[bot] ***@***.***>
wrote:

[2022-10-14 02:42] hikopublic opened #34978 "Couldn't run pod install (no implicit conversion of Hash into String)"
### Description

I just bring a project from window to macos and facing this bug when running pod install
[code]

### Version

0.69.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 132.85 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.7.0 - ~/.nvm/versions/node/v18.7.0/bin/node
    Yarn:

[2022-10-14 02:43] #34978 closed

[2022-10-14 02:45] iamvucms opened #34979 "Couldn't run pod install (no implicit conversion of Hash into String)"
### Description

I just bring a project from window to macos and facing this bug when running pod install

[code]

### Version

0.69.3

### Output of `npx react-native info`

System:
OS: macOS 12.6
CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
Memory: 132.85 MB / 16.00 GB
Shell: 5.8.1 - /bin/zsh
Binaries:
Node: 18.7.0 - ~/.nvm/versions/node/v18.7.0/bin/node
Yarn: 1.22.19 - /usr/local/bin/

[2022-10-14 05:44] euphratesriver0216 commented on #34624
In my opinion, flipper has not been updated yet.
Should we just wait for the update?

[2022-10-14 06:03] Diego-Coto95 commented on #33557
@qDanik you are a genius man! It works for me.

[2022-10-14 06:42] rahulgpt1 opened #34982 "Undefined symbols for architecture x86_64: "_jump_fcontext" & "_make_fcontext""
Hi Mike,

As you said hermes wouldn't work in RN version 0.68.2, but you people resolved this issue in RN version 0.69.1 so I updated my RN version to 0.69.1 but it still gives the same error undefined symbol for "_jump_fcontext" & "_make_fcontext".

See the attached screenshot:
<img width="1374" alt="Hermes_Undefined_Symbol" src="https://user-images.githubusercontent.com/16076685/195770569-78fe1f

[2022-10-14 07:59] Heyfruz commented on #34912
I'm having the same problem. Always opens on iPhone 12 Pro Max

[2022-10-14 08:17] duggster commented on #27483
I'm also getting this when I have over 78 TouchableOpacity in a ScrollView. When I only have 77 it works fine. There is also a relationship to having a setState call within a .then() elsewhere in my component - this is actually where the warning seems to originate according to the warning's call stack. I can avoid the warning by doing any one of these three things: 1) change TouchableOpacity to Pr

[2022-10-14 08:26] KubaKubikula commented on #32612
same here

[2022-10-14 09:06] minhpham1203 commented on #33571
hi @galkinsden, any solutions for the Keyboard Listener if I keep using this lib: react-native-extra-dimensions-android? Thanks

[2022-10-14 09:30] 13387564366 opened #34984 "M1 iOS16 new Date = NaN"
### Description

console.log('--2022-07-08---', new Date('2022-07-08'))
console.log('--2022/07/08---', new Date('2022/07/08'))
 LOG  --2022-07-08--- 2022-07-08T00:00:00.000Z
 LOG  --2022/07/08--- Date { NaN }

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (10) arm64 Apple M1 Pro
    Memory: 540.56 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binarie

[2022-10-14 11:24] Aggroid opened #34985 "Picker has been removed from React Native. It can now be installed and imported from '@react-native-picker/picker after upgrading from react-native 0.65.1 to react-native 0.68.1"
### New Version

0.68.1

### Old Version

0.65.1

### Build Target(s)

iOS 14 os 16

### Output of `react-native info`

System:
    OS: macOS 12.6
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 1.14 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.5.0 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.5 - /usr/local/bin/npm
    Wa

[2022-10-14 11:38] Aggroid commented on #34985
PS If if go in node-modules/react-native and comment this code my application is working perfect :

(// Object.defineProperty(module.exports, 'Picker', {
  //   configurable: true,
  //   get() {
  //     invariant(
  //       false,
  //       'Picker has been removed from React Native. ' +
  //         "It can now be installed and imported from '@react-native-picker/picker' instead of 'react-nat

[2022-10-14 12:41] sandeeprana011 commented on #31452
Same Happening with me

[2022-10-14 15:19] bugracakir commented on #34912
As a workaround you can use this: `npx react-native run-ios --udid XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX`. You can see the udid on terminal or find it in xcode (Product>Destination>Add Additional Simualtors...)

[2022-10-14 15:30] Saadnajmi opened #34986 "Pressable unnecessarily re-renders if `disabled` prop is true"
### Description

See: https://github.com/facebook/react-native/blob/b55518c4bf22ea6f409b58151d9c84fa161d6e02/Libraries/Components/Pressable/Pressable.js#L206

Based in whether you pass `disabled` into Pressable, Pressable will conditionally create a new object as a prop for its underlying `<View>`. Because of that, it will fail React's shallow-compare reconciliation step and unnecessarily re-rende

[2022-10-14 15:53] leroywagner commented on #34912
Yeah, it works, but generally that's not solve the issue, it needs to be normal to provide simple implements using --simulator flag.

[2022-10-14 16:39] Yooooomi commented on #34497
Hey, I am having the same issue, did you find any fix to this? Thanks

[2022-10-14 16:45] pjsandwich commented on #34312
Is there any update on this issue? I'm also experiencing this mildly infuriating issue

[2022-10-14 16:59] luluhoc opened #34987 "iOS doesn't propose Strong Password modal React Native"
### Description

I'm unable to show the modal use a strong password on iOS, I have tried everything.

I have tried using oneTimeCode it doesn't work, I have tried blurOnSubmit={false} onSubmitEditing={() => Keyboard.dismiss()} it doesn't work either. I have added the associated domain in XCODE and it still doesn't work.

I'm running it on iPhone, but the same happens in the simulator.

I'm using i

[2022-10-14 18:37] alfonsocj commented on #34372
I think this issue has to do with how metro is configured on a monorepo like this one. I tried linking `packages/core` to a RN 0.70.3 app that's not part of the repo and I don't see those issues.

[2022-10-14 18:41] cortinico commented on #34312
This error is generally related to you using a older Node version (sometimes you have older Global version installed) or more simply, a `)` that you left around in the code.

Without reproducer, there is not much we can do here.

[2022-10-14 18:44] cortinico commented on #34912
I'm closing this as this issue is already solved:
https://github.com/react-native-community/cli/issues/1707

It's going to be released in the upcoming CLI version.

[2022-10-14 18:44] #34912 closed

[2022-10-14 18:51] cortinico commented on #34985
Can you share a reproducer? You won't see this warning on a fresh 0.68 project so it means that either you or some of your dependency is importing Picker.

[2022-10-14 18:57] cortinico commented on #34984
Closing as the issue is incomplete. Please spend some time describing what's the expected behaviour vs the actual and reopen the issue. Thank you 👍

[2022-10-14 18:57] #34984 closed

[2022-10-14 19:02] cortinico commented on #34979
Can you share your `ios/Podfile` file? Do you have any customization there?
It seems like your project is failing here:

https://github.com/facebook/react-native/blob/3e75c0b3baa265a7b5431cd2d304389f9a3faa44/scripts/react_native_pods.rb#L292

So I'm wondering if you edited the `react_native_path` in any form

[2022-10-14 19:05] cortinico commented on #34775
In general, we can't add a build flag for everyone, to handle your specific use case.

Why is this the case?
I actually believe that's the preferred way at this stage.

[2022-10-14 19:06] alexkendall commented on #34162
I have the same issue.

[2022-10-14 19:07] cortinico commented on #34162
Please open a new issue, provide your code or a reproducer and we can help you over there. Thank you 👍

[2022-10-14 19:09] cortinico commented on #34968
This is a duplicate of https://github.com/facebook/react-native/issues/34051 which is already solved

[2022-10-14 19:09] #34968 closed

[2022-10-14 19:10] cortinico commented on #34957
Hi @kovkev
Thanks for reporting this issue.

It seems like this issue is related to React Navigation.
Please open this issue against this other repository:

https://github.com/react-navigation/react-navigation/issues

I'll be closing this but feel free to reopen if the other repo points back to us as a issue in the core of React Native.

[2022-10-14 19:10] #34957 closed

[2022-10-14 19:14] cortinico commented on #34871
@sebasg0 @avegrv Please provide a minimal reproducer and we can look into this. I just checked on 0.70.3 and this issue doesn't reproduce on my machine on a empty project.

[2022-10-14 19:19] cortinico commented on #33202
@rumax Can I ask you where this claim comes from?
I'm aware of the implications of implicit task dependencies in Gradle, and rest assured that is high on my agenda as I mentioned before.

Similarly, we do have other build failures (not warning, i.e. the build is always broken) of specific platforms and user scenarios which have a higher priority that fixing implicit task dependencies.

[2022-10-14 19:20] #34784 closed

[2022-10-14 19:35] cortinico commented on #30186
Closing as `libnative-imagetranscoder.so` is not produced by React Native (at least not as of RN 0.70) so this issue is either stale or caused by an external dependency

[2022-10-14 19:35] #30186 closed

[2022-10-14 19:42] cortinico commented on #34923
This is a bug IMHO. As a rule of thumb, if an exception is raised at platform level (on the JVM) it should be reported there. We have the overall error experience on the New Architecture under our radar. Thanks for investigating this 🙏

Please also consider reporting this here: https://github.com/reactwg/react-native-new-architecture/ (you can request an invite via the form on the README)

[2022-10-14 19:58] leroywagner commented on #34912
Nothing is changed...

[2022-10-14 20:07] nicolasmelo1 opened #34988 "Bug with FileReader `.readAsDataURL` method when inside a promise."
### Description

Hello,

FileReader is presenting some issues and cannot be effectively used in a RN project.

So i've been trying to work with FileReader API on **react native (with Expo)** and it's not working as expected:

What i'm trying to reproduce is a file upload with octet-stream like:

The code is this one:
[code]

So what it does is this:
1 - We recieve a blob by doing it like this:

[c

[2022-10-14 20:08] cortinico commented on #34902
You're using the correct command, but if you want to build split bundles/APKs you'll have to enable it in the template:

https://github.com/facebook/react-native/blob/0db5178688d838689ece5cc246e4ec1ec7f2e607/template/android/app/build.gradle#L95

[2022-10-14 20:08] #34902 closed

[2022-10-14 20:49] matthew-dean commented on #21310
Getting this issue with importing directly a TypeScript module package. Wiping and re-installing with `pnpm install` has not worked.

[2022-10-14 21:14] pjsandwich commented on #34312
It seems to have resolved after two system reboots, including wiping data of emulator

[2022-10-14 22:27] jeremymeng opened #34989 "Why is WebSocket.binaryType undefined by default?"
### Description

After creating a `WebSocket` instance, its `binaryType` is undefined. This is different from the web spec

### Version

0.64.3

### Output of `npx react-native info`

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.22621
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 2.56 GB / 15.92 GB
  Binaries:
    Node: 16.13.1 - C:\Prog

[2022-10-14 22:57] amgleitman opened #34990 "`allowFontScaling` is ignored on iOS when Fabric is enabled"
### Description

The [`allowFontScaling`](https://reactnative.dev/docs/text#allowfontscaling) prop can normally be used to force text to stay the same size even when accessibility settings change the default font size. However, this property appears to have no effect when Fabric is enabled.

This was discovered when looking into implementing Dynamic Type ramps for Fabric as discussed in [this prop

[2022-10-14 23:36] luluhoc commented on #34987
You can resolve it by adding the `associated domains` in XCode.

[![assosietated domains][1]][1]

Remember that the domain must be valid and it should have a valid SSL certificate.

You will then need to add to your web server, the associated domain file.

This is the most basic example for it to work. You can check the whole example and more on the associated domains here [developer.apple.com][2]

[2022-10-15 02:17] #33603 closed

[2022-10-15 02:17] #33216 closed

[2022-10-15 03:59] irinaivanovaalex commented on #34823
For me helped in file "appclip name" >  AppDelegate.h to  change this code

[code]

to this

[code]

[2022-10-15 06:47] iamvucms commented on #34979
Hi @cortinico,
Here is my podfile, I didn't change anything yet. I init project on my window, then bring it to macos but face this issue.
[code]

[2022-10-15 08:35] ADRE9 commented on #34938
I tried running it with 0.70.3 , which again failed , but 0.70.4 runs successfully . Thank you.

[2022-10-15 08:35] #34938 closed

[2022-10-15 08:48] sxyshirly commented on #31218
Also

[2022-10-15 09:35] exzos28 opened #34991 "A/libc: /root/react-native/ReactCommon/jsi/JSCRuntime.cpp:397: virtual facebook::jsc::JSCRuntime::~JSCRuntime(): assertion "objectCounter_ == 0 && "JSCRuntime destroyed with a dangling API object"""
### Description

A/libc: /root/react-native/ReactCommon/jsi/JSCRuntime.cpp:397: virtual facebook::jsc::JSCRuntime::~JSCRuntime(): assertion "objectCounter_ == 0 && "JSCRuntime destroyed with a dangling API object""

### Version

0.70.1

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 112.72 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Bi

[2022-10-15 10:01] youedd commented on #34872
Hi @cipolleschi, I'd like to help with this task please.

[2022-10-15 10:13] nes123 opened #34993 "keyboardType breaks custom keyboard on android"
### Description

More specifically, the autocomplete suggestions in T9 dictionary keyboards do not show up correctly. Is it a bug or a feature? Didn't check with other custom keyboards.

Is there a way to add specific chars to the keyboards without defining the keyboard type? we need the "@" char that shows up in the "email-address" type that might be messing with the recommendations.

### Version

[2022-10-15 10:53] AlexanderEggers commented on #34372
@alfonsocj Thank you so much for looking into this problem from a different angle.

Based on your observations, I found the issue which was indeed part of the metro config file. I replaced my config with https://github.com/th3rdwave/react-native-safe-area-context/blob/main/fabric-example/metro.config.js for my fabric example project and seems to be working fine now. I believe that this specific be

[2022-10-15 12:33] codingSir opened #34994 "ReactAndroid:hermes-engine:configureBuildForHermes FAILED"
### New Version

0.70.1

### Old Version

0.69.0

### Build Target(s)

android

### Output of `react-native info`

System:
    OS: Windows 10 10.0.19043
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
    Memory: 1.86 GB / 15.75 GB
  Binaries:
    Node: 16.13.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.17 - C:\Program Files\nodejs\yarn.CMD
    npm: 8.1.0 - C:\Program Files\

[2022-10-15 14:07] proto1994 commented on #31505
Thank God, I solved it with this method, but need to be reminded that the file path cannot have spaces

[2022-10-15 14:08] proto1994 commented on #31505
Thank God, I solved it with this method, but need to be reminded that the file path cannot have spaces

[2022-10-15 14:10] proto1994 commented on #31505
In "node_modules/react-native/sdks/hermes-engine/hermes-engine.podspec", there's an environment variable "HERMES_ENGINE_TARBALL_PATH"
if ENV.has_key?('HERMES_ENGINE_TARBALL_PATH') Pod::UI.puts '[Hermes] Using pre-built Hermes binaries from local path.' if Object.const_defined?("Pod::UI") source[:http] = "file://#{ENV['HERMES_ENGINE_TARBALL_PATH']}"
So I downloaded the tar with chrome used the comm

[2022-10-15 16:03] StephenChips opened #34995 "`setInterval` (and `setTimeout`) is called way more frequent than it suppose to be"
### Description

I was writing a page where the app counts 1000 to 0, decreasing the value by one for every second. It should be very simple to write, but to my suprise, the number dropped crazily fast.

I tested on Snack but nothing went wrong. My testing phone is Xiaomi K40 (Android 11), and this problem does keep occuring on my phone for most of the time.

There was a time I reloaded the app, a

[2022-10-15 16:13] StephenChips commented on #34995
Oddly, I remove *Expo Go* from my App and reinstall it from *Play Store*, the problem is gone again. (Not sure whether it will come up later again or not).

[2022-10-15 17:03] tipsterz opened #34996 "Error installing CocoaAsyncSocket"
### Description

Environment set up failing running `pod install`

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 1.08 GB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.16.0 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.11.0 - /usr/local/bin/npm
    Watchman: Not F

[2022-10-15 17:29] micahlt commented on #34878
Bumping this - any updates?  I feel like this should be an easy thing to fix, but I'm not familiar with Gradle (which is where I believe the problem lies.

[2022-10-15 17:52] ugglr commented on #34688
I have this issue, upgrading to 0.70.3 does not work for me.

[2022-10-15 18:22] fgagneten commented on #34688
I guess you all getting the same issue due to react-native-reanimated 2.10 or 2.11. Try to downgrade to version 2.5 and try again. If so, let me know in the comments and we should try to find the fix in RN reanimated

[2022-10-15 18:33] Dev-Siri commented on #28510
Try setting `bundleInRelease` to false, it worked for me
[code]

[2022-10-15 19:28] Dancrf commented on #34994
[code]

[2022-10-16 02:17] #33613 closed

[2022-10-16 02:17] #33609 closed

[2022-10-16 02:17] #33608 closed

[2022-10-16 02:17] #33542 closed

[2022-10-16 05:12] bekroz opened #34997 "RCT-Folly blocking builds (Error message: typedef uint8_t clockid_t; )"
### Description

This is what my error message looks like:

❌  /pathToMyProject/ios/Pods/Headers/Private/RCT-Folly/folly/portability/Time.h:52:17: typedef redefinition with different types ('uint8_t' (aka 'unsigned char') vs 'enum clockid_t')

typedef uint8_t clockid_t;

### Version

react-native-cli: 2.0.1 react-native: 0.68.2

### Output of `npx react-native info`

My environment:

System:
    O

[2022-10-16 08:13] alickcai opened #34998 "App crashed after upgraded to React Native 0.69.6/React 18.0.0/Expo SDK46"
### New Version

0.69.6

### Old Version

0.68.2

### Build Target(s)

Expo terminal - android & ios phone

### Output of `react-native info`

package.jason after upgraded

  "dependencies": {
    "@react-native-async-storage/async-storage": "~1.17.10",
    "@react-native-community/slider": "4.2.3",
    "@react-navigation/native": "^6.0.13",
    "@react-navigation/native-stack": "^6.9.1",
    "@ty

[2022-10-16 13:48] alickcai commented on #34998
it's caused by package cos-js-sdk-v5, closed this issue

[2022-10-16 13:48] #34998 closed

[2022-10-16 14:22] Aggroid commented on #34985
Hey cortinico unfortunately I cannot. The application is with a private source for a very big company. More than 20m users. I was looking through the node_modules to check which library is using it but was not able to find any.

Here is my package.json

 "@react-native-async-storage/async-storage": "^1.13.2",
    "@react-native-community/checkbox": "0.5.0",
    "@react-native-community/cli": "^7.0

[2022-10-16 15:45] zxccvvv opened #34999 "onPress not fire occasionally when pressing"
### Description

`onPress` props not always run (occasionally) each time pressed

### Version

0.70.3

### Output of `npx react-native info`

[code]
var showup = 0

<TouchableOpacity
  onPress={() => {
    showup += 1;
    console.log("LOGGED", showup);
  }}
  delayPressIn={0}

  <Text> SHOW LOG </Text>
</TouchableOpacity>
[code]

[2022-10-16 16:00] neel132 commented on #33916
Facing the same issue..
Any resolution ?

[2022-10-16 17:51] ayuan-gy commented on #28436
Any new developments on this issue?

[2022-10-16 17:59] ayuan-gy commented on #28436
原生是怎么实现的

[2022-10-17 02:06] Scott-Atkinson commented on #34688
Same issue, just started learning react native, yesterday the app was working perfectly fine, today it's gone to sh*t.

[2022-10-17 02:17] #33620 closed

[2022-10-17 02:17] #33615 closed

[2022-10-17 02:17] #33204 closed

[2022-10-17 02:18] #33174 closed

[2022-10-17 03:04] hengkx commented on #32984
I've tried it all and still have problems.
react native 0.70.3

[2022-10-17 03:45] francisseverino commented on #34979
Did you run `yarn` or `npm install`?

[2022-10-17 04:06] wragony commented on #25537
I facing the same issue.

[2022-10-17 04:32] Mr-Rith commented on #34007
I have the same issue

[2022-10-17 04:33] Mr-Rith commented on #34146
same😭😭

[2022-10-17 07:22] hendradedis commented on #32673
yap me too , have this issue , anyone can solve it ?

[2022-10-17 08:00] dawidzawada commented on #34823
It works for me too! Thank you so much, I didn't noticed this at all. I've tested this on version 0.69.6 and 0.70.3 and it works for both. Thanks once again, I'm closing the issue!

[2022-10-17 08:00] #34823 closed

[2022-10-17 08:04] krystofwoldrich commented on #34923
@cortinico Thanks for the link, I've requested an invite. I'll be happy to add to the discussion.

[2022-10-17 08:10] SusulAdam commented on #34688
I upgrade react-native from 0.67.3 to 0.70.3.

In my case problem was with: ColorPropType, EdgeInsetsPropType, PointPropType, ViewPropTypes.

My steps to resolve this issue:
1. `yarn add patch-package`
2. add script to the scripts at the package.json ` "postinstall": patch-package"`
3.`yarn add deprecated-react-native-prop-type`
4. Go to `node_modules/react-native/Libraries/InitializeCore.js`
5. I

[2022-10-17 08:53] MortadhaFadhlaoui commented on #33059
Same here

[2022-10-17 09:46] Tran281 commented on #32673
Check if any async is used inside useEffect hook and remove it.
Worked for me

[2022-10-17 09:47] wfrsnk commented on #31968
be sure of using latin alphabet in name of image, this typo killed a lot of time for me  :/

[2022-10-17 10:31] karlhorky opened #35002 "Empty string without <Text> component does not cause error / crash"
### Description

Hi there, first of all, thanks so much for your continued work on React Native, amazing project! 🙌

Recently I tried adding an empty string (both literal `''` and a variable with the same value) outside of a `<Text>` component and I did not experience a crash like I was expecting (I was expecting it to show me the `Text strings must be rendered within a <Text> component.` error as

[2022-10-17 10:36] spaceod commented on #32952
npx react-native start --reset-cache 🎉

[2022-10-17 11:09] cortinico commented on #34007
Hey,
I'm closing this issue as @alexzobi you're not responsive.
Feel free to re-open it or create a new issue if the problem persists.
Thanks

[2022-10-17 11:09] #34007 closed

[2022-10-17 11:10] cortinico commented on #34979
Could you try on 0.70.3?

[2022-10-17 11:17] cortinico commented on #34878
Nope it's not an easy fix.
For the time being I would suggest you move your project to a directory without spaces.

The problem is that it's failing inside the React Native CLI, most likely inside Metro. But I can't tell exactly from your stacktrace.
Feel free to send over a PR, I'm happy to review and merge it 👍

[2022-10-17 11:18] cortinico commented on #34996
This seems like a local networking issue as you're failing to resolve: https://github.com/robbiehanson

[2022-10-17 11:19] Waltari10 commented on #34902
Thanks, I did not spot that before! However it is still building everything.

Looking at the `app/build.gradle` file is `PreactNativeArchitectures` actually only available if you have fabric enabled, since `abiFilters` property is wrapped inside if clause with `isNewArchitectureEnabled`?

[code]

[2022-10-17 11:22] Waltari10 commented on #34902
Even if I define `splits` like this in `app/build.gradle` it still builds everything and has zero effect. Bundle size is the same and all the architectures are seemingly included in the .aab file.

[code]

[2022-10-17 11:27] thexdd commented on #34792
same issue, no solutions?

[2022-10-17 11:28] YASH6004 opened #35003 "Nested TouchableOpacity in a FlatList is not working properly"
### Description

I want to create custom Dropdown without using library so, I have created a FlatList of TouchableOpacity cards with a Kebab(ThreeDots) dropdown but the dropDown menu is not clicking properly.

Working: i have created a touchable flatlist for cards and nested another touchable for the kebab dropdown which get enable on the basis of id check and render on the basis of checks DropDow

[2022-10-17 11:28] pche2020 commented on #34443
swift集成RN，pod install之后就报错/Users/hepengcheng/.rvm/gems/ruby-2.7.5/gems/cocoapods-1.11.3/lib/cocoapods/user_interface/error_report.rb:34:in `force_encoding': can't modify frozen String: "relative URI: /Users/hepengcheng/Desktop/ReactNative&Native/testReactNative/ios/node_modules/react-native/third-party-podspecs/DoubleConversion.podspec" (FrozenError)  这个如何解决呢

下面是打印信息

 pod install
Analyzing depen

[2022-10-17 11:48] godlatro commented on #27483
i use expo 45 and react native similar in bare workflow
all works fine when i was on firebase 9.9 and nodeJs 16.15 lts
After upgrading firebase to 9.12 have this warnings and some other

[2022-10-17 11:50] oluwaloju opened #35004 "OutputFile is deprecated in android/app/build.gradle"
### Description

Trying to generate an apk file but at the app/build.gradle level, the outputFile is deprecated
import com.android.build.OutputFile     //outputFile deprecated

When i run ./gradlew bundlerelease, it throws off the error:

[code]

How can I get a workaround for generating the apk release?

### Version

0.70.1

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.1

[2022-10-17 12:05] Yooooomi commented on #34497
I managed to fix the issue. I was using the [https://github.com/ajith-ab/react-native-receive-sharing-intent](react-native-receive-sharing-intent) library. I fixed it using [this comment](https://github.com/ajith-ab/react-native-receive-sharing-intent/issues/110#issuecomment-971612714), which was setting the intent to `null`. Hope it helps somebody.

[2022-10-17 12:08] efstathiosntonas commented on #33139
Hey fellow devs, please upvote the comment under the Meta discussion about what to improve: https://github.com/react-native-community/discussions-and-proposals/discussions/528#discussioncomment-3890273

let’s hope it will get enough attention

[2022-10-17 12:24] omerkocer commented on #32951
For my case:
If your project folder name called like _"Example Project"_
You must change it to **"Example_Project"**
Spaces are causen this error.

[2022-10-17 12:37] cortinico commented on #34902
Seems like App Bundles don't support ABI split. I believe this is because the ABI split is done by the Play Store so the `splits` configuration is ignored.

If you were to create an APK instead:

[code]

You'll have a x86-only APK that you can install on your device directly.

[2022-10-17 12:42] cortinico commented on #35004
Thanks for sharing your reproducer.
The issue is at this line:
https://github.com/oluwaloju/React-native-issue-deprecated-OutputFile-/blob/5435c49a48b77fe004ae2f188122b5aad7956d05/android/build.gradle#L36

The version of `com.android.tools.build:gradle` to use is 7.3.0

[2022-10-17 12:42] #35004 closed

[2022-10-17 12:44] cortinico commented on #34372
Wow that's awesome! Thanks for doing that. I had this issue in my inbox but I haven't found the time to look into it. Glad this got solved!

[2022-10-17 12:46] cortinico commented on #34997
I've just cloned your project, run your commands, and I'm able to build your app successfully.

[2022-10-17 12:46] cortinico commented on #34312
Closing due to this

[2022-10-17 12:46] #34312 closed

[2022-10-17 13:01] ayuan-gy commented on #34994
im update to 0.70.3 and it is still "Task :ReactAndroid:hermes-engine:configureBuildForHermes FAILED"

[2022-10-17 13:04] muffix200 commented on #34997
HI, can you share your config

[2022-10-17 13:10] hannojg opened #35005 "TextInput `setSelection` "ignored" when TextInput has gone out of focus"
### Description

When assigning a ref to `TextInput` there is a `setSelection` method, which in general works great for changing the selection of the input, without needing to set a `selection` prop.

However, on android, there is an edge case where when the TextInput has gone out of focus while calling `setSelection` the new selection is ignored.

See this video, where we have simple code that ad

[2022-10-17 13:31] cortinico commented on #34997
[code]

[2022-10-17 13:32] cortinico commented on #34994
We need the full error log as we can't help further here.

[2022-10-17 13:43] KrisLau commented on #32673
The return in a `useEffect` should be a function: https://reactjs.org/docs/hooks-effect.html#:~:text=Effects%20with%20Cleanup. If you're getting an error, check what you're returning in the `useEffect`

[2022-10-17 14:01] christopherklint97 commented on #33596
I had the same issue and this fixed it for me. It seems like https://issuetracker.google.com/issues/207403732 is solved on ACP 7.3.0:

[code]

[2022-10-17 14:55] professorkolik commented on #34497
@Yooooomi We also use the same library, thank you for sharing your findings, we'll try it out and update in this thread 😄

[2022-10-17 14:59] mikehardy commented on #34982
Please make a reproduction and post it, starting with `npx react-native init ProjectName`, committing that, then just committing the changes required to show the error.

I do similar and do not reproduce, via my build test harness here https://github.com/mikehardy/rnfbdemo/blob/main/make-demo.sh (but with `use_frameworks`, so may not apply, just saying you can make a reproduction

https://stackove

[2022-10-17 15:35] frankcalise commented on #34497
@Yooooomi can you post your work somewhere with demo app? I'm attempting to use that library but it is hanging on splash screen

[2022-10-17 15:53] Yooooomi commented on #34497
This is the version we use: https://github.com/kraaft-co/react-native-receive-sharing-intent.
Application stays on splash screen if I have hermes disabled.

[2022-10-17 15:54] ayuan-gy opened #35006 "Task :ReactAndroid:buildCMakeDebug[arm64-v8a][fabricjni,hermes-executor-debug,etc] FAILED"
### Description
[code]

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.22000
    CPU: (12) x64 AMD Ryzen 5 4600H with Radeon Graphics
    Memory: 4.47 GB / 15.37 GB
  Binaries:
    Node: 16.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.19 - C:\Program Files\nodejs\yarn.CMD
    npm: 8.11.0 - C:\Program Files\nodejs\npm.CMD
    Watchman: 20220918

[2022-10-17 16:08] frankcalise commented on #34497
@Yooooomi thanks I'll try that out

[2022-10-17 17:11] pascal-maker opened #35007 "[!] There are multiple dependencies with different sources for `ExpoModulesCore` in `Podfile`:"
### Description

This is My Podfile
[code]

This Is my podfile when i try to cd ios &&  pod install --repo-update i get this error  [!] There are multiple dependencies with different sources for `ExpoModulesCore` in `Podfile`:

- ExpoModulesCore
- ExpoModulesCore (from `../node_modules/expo/node_modules/expo-modules-core/ios`)

### Version

0.72.3

### Output of `npx react-native info`

warn Packa

[2022-10-17 18:36] fabriziobertoglio1987 commented on #30860
@blavalla I included an API Proposal in the Draft PR https://github.com/facebook/react-native/pull/34969 Thanks

Video of the Functionality on Android https://www.icloud.com/iclouddrive/0fdBl7MCKgQ3d0vMeRR-DDVuA#modal_title_android

[2022-10-17 19:47] sleaper commented on #34979
Same error for me.

[2022-10-17 19:58] sleaper commented on #34979
I removed `post_install` and it works for now.

[2022-10-17 20:25] fogg4444 commented on #32070
This is happening for me, seeing the error `unknown:FabricViewStateManager: setState called without a StateWrapper` when clicking on a TextInput field on Android. Works just find on iOS. The keyboard closes immediately and that's the tell that there's something wrong.

[2022-10-17 20:49] gabrieldonadel commented on #34995
This could be related to you not clearing your `setInterval` when the components unmounts, which in dev mode happens a bunch of times due to Fast Refresh.

Try adding something like this to your component
[code]

[2022-10-17 20:58] aurelienmartin opened #35009 "CocoaPods could not find compatible versions for pod "RCT-Folly""
### Description

Hi,

I created a new project from the cli.

Added some dependencies (see my package.json) :

[code]

When executing the command from the console in my project directory "/ios":
`USE_FABRIC=1 RCT_NEW_ARCH_ENABLED=1 pod install`

I tried to delete my pods. Delete the Podfile.lock file and empty the cache...

The following error appears. I can't solve it

[code]

### Version

0.70.3

[2022-10-17 22:34] jlariza commented on #33217
Any update? we are facing the same problem and the proposed fix has not worked. We are using:

- react-native: 0.70.1
- react: 18.1.0
- FLIPPER_VERSION=0.125.0 (this version is the one set in `gradle.properties`)

Thank you,

[2022-10-17 23:35] zain610 commented on #34625
Running into the same issue. Any solutions highly appreciated 😄

[2022-10-18 00:46] douglowder commented on #34372
I hit this assertion failure today in RNTester while working on the move to 0.70.3 for the Apple TV/Android TV fork.

I decided to debug it by just commenting out the `react_native_assert()` call and then see what happened... sure enough I then saw a Metro message that probably points to the real issue 👍

[code]

[2022-10-18 01:14] codingSir commented on #34994
I use the npx react native init Awesome Project. This project is version 0.70.3, but there is still a problem

 ---- error  log---

info JS server already running.
info Installing the app...
Starting a Gradle Daemon (subsequent builds will be faster)

Download https://github.com/google/double-conversion/archive/v1.1.6.tar.gz

Download https://github.com/fmtlib/fmt/archive/6.2.1.tar.gz

Download ht

[2022-10-18 01:15] bolan9999 commented on #18616
It's working, thank you.

[2022-10-18 01:24] cleandersonlobo commented on #34219
I was having the same problem.

There was a problema in react-native-gradle-plugin that was fixed in 0.71.4, but react-native@0.70+ uses version 0.70.3.

That solved it for me:

**package.json**
[code]

[2022-10-18 02:08] pche2020 opened #35010 "创建新的RN新项目的时候，没有生成pod文件"
### Description

![Uploading image.png…]()

### Version

0.70.3

### Output of `npx react-native info`

info Fetching system and libraries information...
System:
    OS: macOS 12.6
    CPU: (10) arm64 Apple M1 Max
    Memory: 113.97 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 17.9.0 - /opt/homebrew/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.19.2 - /opt/homeb

[2022-10-18 03:00] fmcalado commented on #34988
I have the same issue

[2022-10-18 04:45] bekroz commented on #34997
Maybe it’s specific for M1 macs or react-native with 0.68 versions. I’ll match your config and try to rebuild it. If it goes well, I’ll close the issue.

Thank you for the help, Cortinico. 🙏

[2022-10-18 05:17] gauravguptaoyo commented on #32928
facing same issue

[2022-10-18 07:39] rahulgpt1 commented on #34982
Hi Mike,

Now I am having another issue '**react/bridging/CallbackWrapper.h' file not found** when building the app(whether hermes is enabled or disabled). In my project I have already applied the path for **react-native+0.69.1.patch**
I tried https://github.com/facebook/react-native/issues/34102#issuecomment-1180727214 this solution but that doesn't work for me and also tried  https://github.com/

[2022-10-18 07:42] rahulgpt1 commented on #34982
Sorry to forgot now we are using static linkage**(use_frameworks! :linkage => :static)**

[2022-10-18 08:37] qardpeet commented on #29499
While the useEffect with the transitionEnded listener works, its a bit too large for my liking. I managed to solve this issue by firing the focus function using the onLayout prop. Also this error only happened with "email-address" keyboard type text inputs in my case.

`
<TextInput
    onLayout={() => emailInputRef.current?.focus()}
    textContentType="emailAddress"
    keyboardType="email-addres

[2022-10-18 08:53] bekroz commented on #34997
I sawthat

I saw that you’re using iOS 15.4, have you tried on iOS 16.0?

Thanks in advance.

[2022-10-18 09:27] cortinico commented on #35010
Hi @pche2020
In this issue tracker we accept only issues that are in English.
I'm closing this for now, please consider translating it to English and reopening it.
Thanks.

[2022-10-18 09:27] #35010 closed

[2022-10-18 09:30] cortinico commented on #34997
Nope I haven't but that shouldn't be unrelated to this build failure

[2022-10-18 09:33] cortinico commented on #34994
Is this a blank project?

I see the error is:

So I'm wondering if you applied some custom configuration to your CMake file

[2022-10-18 09:38] cortinico commented on #35007
Hi @pascal-maker
Thanks for reporting this issue.

It seems like this issue is actually unrelated to React Native core but related to Expo. Please open this issue against this other repository:
https://github.com/expo/expo/issues

I'll be closing this but feel free to reopen if the other repo points back to us as a issue in the core of React Native.

[2022-10-18 09:38] #35007 closed

[2022-10-18 09:39] codingSir commented on #34994
This is a blank project. I haven't customized anything

[2022-10-18 09:41] cortinico commented on #35006
I've pinged folks at Microsoft to look into this one. @ayuan-gy could you share your project? Is it a blank one?

[2022-10-18 09:56] cipolleschi commented on #35009
Hi @aurelienmartin! The problem that you are encountering is happening because `react-native-iap` is explicitly specifying a [version of Folly](https://github.com/dooboolab/react-native-iap/blob/main/RNIap.podspec#L4) which does not match the version of Folly specified by React Native (2021.07.22.00).

The solution would be to open an issue in `react-native-iap` and ask them to remove the line I h

[2022-10-18 10:01] professorkolik commented on #34497
@Yooooomi Thank you so much, that was the issue for us as well

[2022-10-18 10:21] ayuan-gy commented on #35006
-- Found the following ICU libraries:
--   uc (required)
--   i18n (required)
--   uc (required)
-- The following ICU libraries were not found:
--   data (required)
-- Failed to find all ICU components (missing: ICU_INCLUDE_DIR _ICU_REQUIRED_LIBS_FOUND) (Required is at least version "52")
-- Could NOT find Backtrace (missing: Backtrace_LIBRARY Backtrace_INCLUDE_DIR)
-- Configuring incomplete, erro

[2022-10-18 10:24] ayuan-gy commented on #35006
it is not my issue project,i get this message when  only set newArchEnabled=true in my blank project

[2022-10-18 10:25] edwardhsueh commented on #34701
Hi,
Finally, I found that linking works correctly on iOS/android when I upgrade react-native from 0.68 to 0.70.1 and follow the setting requirement for Linking

[2022-10-18 10:26] prakarti-shush commented on #33789
getting the same issue with newer version of Xcode 14

[2022-10-18 10:28] dhruvtailor7 commented on #34872
Hi @cipolleschi, I would like to work on this.

[2022-10-18 11:23] tipsterz commented on #34996
issue was related to my local `.gitconfig`, solved commenting:

[code]

[2022-10-18 11:23] #34996 closed

[2022-10-18 11:30] alabsi91 commented on #34084
- newly created project :

[code]

[2022-10-18 11:51] kelset commented on #33789
This issue has gone in many different directions (in some cases it's Apple's backend, in some it's Expo-related, etc etc) and there's no clear repro that pinpoints how this is a specific issue caused by react-native core itself.

I am closing this so if **anyone** has this issue with the **latest** version of react-native 0.70 (NOT EXPO) they can open a new issue with a clear, usable repro so that

[2022-10-18 11:51] #33789 closed

[2022-10-18 12:24] mikehardy commented on #34982
With apologies this is not an open-ended tech support thread for me. I try to help when I can, but lacking reproducible examples and just looking at screenshots isn't the way. I link a reproducible example above, it works. I don't have time to participate in this discussion any more

[2022-10-18 12:35] gabrieldonadel commented on #34872
Hi @cipolleschi, I would like help with the following task.

[2022-10-18 13:41] ZXY101 commented on #31149
Just chipping in, I used your `make-demo.sh` script as reference to get a new project working with RNFB and managed to get it building without the above fix, `react-native: 0.70.2` + `@react-native-firebase/app: ^15.7.0`

[2022-10-18 14:13] mikehardy commented on #31149
Thanks, happy to hear a success report on current stable, I'll remove this baggage from my script and see how it goes

[2022-10-18 14:13] mganandraj commented on #34084
@alabsi91 The log snippet says the static library creation is failing which points to the limitation of the "ar" tool in ndk 21 to handle the file paths more than 260 chars long. This restriction might go away once we switch to ndk 23 or higher. By the way, Did you enable long file path support in windows ? https://learn.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=re

[2022-10-18 14:16] Waltari10 commented on #34902
Thank you, it seems to be finally working!

A little bit disappointed though, it seems it takes about as long to generate all four builds as it takes to build just one :D Thought I'd save time by building them in parallel.

[2022-10-18 14:27] Sub-Zero-1 commented on #34857
@bhsrampage any new findings here? Also facing the same issue when enabling hermes, but not using new archticture. Is it possible to use hermes and not the new architecture with RN 0.70.3 at the same time?

[2022-10-18 14:46] rickhanlonii commented on #35002
This was an intentional change we made in React, but I think we missed it in the React Native changelog. The PR is here: https://github.com/facebook/react/pull/22807

The idea on Web is that when we server render an empty string, the client will received "nothing" so it does not know how to disambiguate whether `null` was rendered or an empty string was rendered. To fix, we now treat the empty str

[2022-10-18 14:46] #35002 closed

[2022-10-18 14:46] Aggroid commented on #34985
Hey guys, i resolved it by updating  "react-native-globals": "^0.60.3", to 0.64.0. Globals is using Picker. You can close this and I hope my answer to help someone with the same issue.

[2022-10-18 14:47] #34985 closed

[2022-10-18 17:06] aurelienmartin commented on #35009
Thank you @cipolleschi for your help !

The modification of the RNIap.podspec file now allows to successfully finish the installation of the Pods with the command "RCT_NEW_ARCH_ENABLED=1 pod install".

I opened a PR on the react-native-iap project to fix the problem : https://github.com/dooboolab/react-native-iap/pull/2056

I close this ticket.

Aurélien

[2022-10-18 17:06] #35009 closed

[2022-10-18 17:17] rifad4u commented on #34718
Have u got any solution for the same?

[2022-10-18 17:57] douglowder commented on #34372
@cortinico I thought about this some more -- should we consider removing this assertion for debug builds, to allow the real issue to surface in Metro?

[2022-10-18 19:27] jorgegvallejo commented on #34344
I'm getting this error as well on RN 0.72.3

[2022-10-18 21:18] only1chi commented on #34372
@douglowder I have the same problem and I tried commenting out the `react_native_assert()` call, but nothing happened. I do know that the app is crashing because the `AppRegistry` seems to be returning an empty object.

[2022-10-18 21:33] ahmetbilgay commented on #34999
Use useState

Example

const [shopUp,setShopUp] = useState(0)

const increment = () => {
     setShopUp(shopUp + 1)
}
<TouchableOpacity
  onPress={increment}
  delayPressIn={0}

  <Text> SHOW LOG </Text>
 <Text>{shopUp}</Text>
</TouchableOpacity>

[2022-10-18 21:38] ahmetbilgay commented on #34928
Use Flex

[code]

[2022-10-18 22:26] viktorRot commented on #34688
Thank you very much, with your tips I could figure out which lib caused the issue on my side!

[2022-10-18 23:42] maximpostnikov commented on #34719
Running into this error as well, upgraded from 0.67.3 to 0.70.3

[2022-10-19 00:22] raduciobanu22 commented on #34627
Have the same issue

[2022-10-19 02:00] micahlt commented on #34878
Gotcha.  Thanks for your response.  I look forward to this being solved in the future!

[2022-10-19 03:06] pche2020 opened #35018 "When creating a new RN new project, no pod file is generated"
### Description

Hello, I am creating the RN test project AwesomeProject, but there is no pod folder in the iOS directory, I will post the screenshot

"dependencies": {
    "react": "18.1.0",
    "react-native": "0.70.3"
  },

<img width="770" alt="image" src="https://user-images.githubusercontent.com/13309562/196583197-ba9296a6-1813-406e-8518-6dc0aa7acd9b.png">

The following figure is the creati

[2022-10-19 03:37] verifiedanswer commented on #34673
[[Solved] Select a development team in the Signing & Capabilities editor](https://verifiedanswer.com/select-a-development-team-in-the-signing-capabilities-editor/)

[2022-10-19 04:25] deftcat commented on #34146
`brew install coreutils` solves my issue. 🎉

[2022-10-19 07:30] bhaveshdotstudio commented on #34084
@alabsi91 not working above solution..........

[2022-10-19 07:59] andreymaslovru opened #35019 "Error when starting ios: Thread 1: signal SIGABRT"
### New Version

0.70.3

### Old Version

0.68.1

### Build Target(s)

iPhone 13 (15.2)

### Output of `react-native info`

System:
    OS: macOS 12.4
    CPU: (8) arm64 Apple M1
    Memory: 97.70 MB / 8.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.13.2 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 8.1.2 - /usr/local/bin/npm
    Watchman: Not Found
  Managers

[2022-10-19 08:33] gus-t27 commented on #34250
Same issue for me as well, on M1 Macbook

[2022-10-19 09:35] nkjs-git opened #35023 "React native application created using expo not working if newArchitecture is not working"
### Description

I have created a sample react native application using expo (followed https://reactnative.dev/docs/environment-setup) and run the app with newArchitecture disabled by doing expo eject and built it (using both 'expo run:android' and 'npx react-native run-android --active-arch-only' ). It worked fine.

But when I enabled the newArchitecture in 'android/gradle.properties' file genera

[2022-10-19 09:49] ajouve opened #35025 "React native The app references non-public selectors in Payload"
### Description

I have the following issue when I upload my React Native app to the app store

[code]

I do not really understand what is the issue, everything is working ok, this is just a warning

### Version

0.70.0

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 309.92 MB / 32.00 GB
    Shell: 5.8.1 - /

[2022-10-19 10:01] gus-t27 commented on #33522
I was about to give up all hope, until I did this. Thanks you sir!

[2022-10-19 10:49] wustzhy commented on #34274
https://github.com/facebook/react-native/issues/29356#issuecomment-658238011

works fine!!

when js code has error, main.bundle will create fail, then archive release package will fail too.
`npm run build:ios` helps to display the errro timely.

[2022-10-19 11:01] exerror8 commented on #33557
[[Solved] ERROR Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from ‘deprecated-react-native-prop-types’
](https://exerror.com/error-invariant-violation-viewproptypes-has-been-removed-from-react-native-migrate-to-viewproptypes-exported-from-deprecated-react-native-prop-types/)

[2022-10-19 11:24] efoken commented on #34424
I think `role="option"` is missing

[2022-10-19 12:22] DusanVulic74 commented on #32557
than you very much but actually it is not set to true but :

importantForAutofill="yes"

[2022-10-19 13:19] yogendrajs commented on #21801
still a bug!!!

[2022-10-19 13:41] mattiaferrari02 opened #35026 "Run web assembly on react-native"
### Description

I have to use this lib https://github.com/bitcoinjs/tiny-secp256k1 that is written using webassembly but when i try to call it says `Assertion failed: no binaryen method succeeded.`
Is there a way to use a `.wasm` file in react-native?
I tried istantiating a webview to run the wasm on, but it changes drastically the approach to the lib because now everything is event based and it

[2022-10-19 13:53] iamvucms commented on #34979
I did it and could run pod install but faced some errors such as  couldn't control statusbar in ios, it required uiviewcontrollerbasedstatusbarappearance in info.plist to YES. It related to skipping above step I think.

[2022-10-19 14:07] jazib10218 commented on #34220
it worked, thanks alot.

[2022-10-19 14:18] MaeIg commented on #34872
Hello @cipolleschi,

It seems that almost all the PRs regarding Codegen have been merged. If there are new tasks or inactive tasks that I can work on, do not hesitate to report it 😄

I can also help you find new tasks if you wish!

[2022-10-19 15:14] gabrieldonadel commented on #34424
Hi @necolas, just FYI I've opened a PR (https://github.com/facebook/react-native/pull/34976) a couple days ago tackling this

[2022-10-19 17:10] cipolleschi commented on #34872
Yep! @MaeIg, Starting from tomorrow, I'll start checking whether there are some inactive tasks that we can free up.
I also want to start creating the tasks that will finally unify the parsers.
I may have to create the starting point from that, so that everyone has a common ancestor, but after that bit of work, we can grow it incrementally! :D

[2022-10-19 17:19] euthribeiro commented on #32867
Is there any solution to be applied in order to solve this problem? I'm using axios with redux-saga and facing the same problem. It is more visible on old device as @martinezguillaume said. Please I need some help to fix it.

[2022-10-19 17:20] euthribeiro commented on #32867
Just to let you know I've tried to use fetch api but the problem still the same

[2022-10-19 17:40] cortinico commented on #35026
Hi @mattiaferrari02
I would suggest to rely on community built tools such as this one:
https://github.com/inokawa/react-native-wasm
Closing as not directly related to React native core.

[2022-10-19 17:40] #35026 closed

[2022-10-19 17:41] bodrius commented on #34400
the same error

[2022-10-19 17:43] cortinico commented on #35025
Essentially a duplicate of https://github.com/facebook/react-native/issues/31507
You should be able to use one of the solution suggested in the linked issue 👍

[2022-10-19 17:43] #35025 closed

[2022-10-19 17:46] cortinico commented on #35023
Hi @nkjs-git
Thanks for reporting this issue.

As this is a expo-related setup, I would suggest you:
1. Re-open this issue against expo here https://github.com/expo/expo/issues
2. Re-try with the init flow using the React Native CLI, and re-open this issue if the crash persists.

I'll be closing this but feel free to reopen if the other repo points back to us as a issue in the core of React Native

[2022-10-19 17:46] #35023 closed

[2022-10-19 17:51] cortinico commented on #35019
Closing as this is not actionable without a reproducer. Please provide a repro and we can start looking into it. Thanks

[2022-10-19 17:51] #35019 closed

[2022-10-19 17:55] cortinico commented on #34372
Yup @douglowder as @only1chi, removing the Assert is not sufficient. The failure is happening earlier in the execution time and we're not raising it early enough. The `AppRegistry` being null is just a symptom of the underlying failure.

[2022-10-19 17:59] #34146 closed

[2022-10-19 18:17] Basir-PD commented on #34269
Any solutions yet?

[2022-10-19 18:23] roots-ai opened #35029 "App Crash on starting Fatal signal 11 (SIGSEGV), code 2, fault addr 0x7f7831fb80 in tid 5283 (mqt_native_modu)"
### Description

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6.1
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 716.67 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.17.6 - /usr/local/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.18.0 - ~/Projects/App/node_modules/.bin/npm
    Watchman: 2022.07.04.0

[2022-10-19 19:05] Slapbox commented on #33557
@hramos @javache @RSNara

The above comment appears to be SEO spam. I'd suggest the user be muted or banned from posting in the issues for this repository.

[2022-10-19 20:02] anaclette commented on #34146
brew install coreutils fixed but issue too, but right after having cleaned and rebuilt my project from xcode xcworkspace. To answer @cortinico's question, in my case I was experiencing this issue in a react native project of my own.

[2022-10-19 21:15] maxperry commented on #34857
I have the same exact issue, but I haven't patched any react-native file.

[2022-10-19 21:17] jorgegvallejo commented on #34102
I still got this error on RN 0.70.3 and [this comment from Kudo](https://github.com/facebook/react-native/issues/34102#issuecomment-1180727214) helped me.

I'm not using `use_frameworks!` though

[2022-10-19 21:35] cannahum commented on #32328
Is there a fix that was merged / is being worked on regarding this vulnerability?

[2022-10-19 21:49] only1chi commented on #34372
@cortinico Any idea how I can expose the error since it's happening so early? At the moment, it feels more like guess work.

[2022-10-19 22:23] lightrow commented on #16060
same issue here, building an app with a video player with custom controls. It takes a lot of effort and various optimizations to make landscape rotation look not even good but just acceptable. The biggest problem imo is the performance impact caused by all layout recalculations, causing an already janky animation to look very glitchy and jumpy. We've been able to eliminate some of them with hacky

[2022-10-19 22:33] liquidvisual commented on #16060
I'm not sure if you're using Expo, but in my project I'm thinking of replacing my manual fullscreen implementation with [presentFullscreenPlayer](https://docs.expo.dev/versions/latest/sdk/video/#presentfullscreenplayer) which I think uses a native fullscreen approach. The downside is you lose any custom controls, but it might be a better experience overall - I'll test it and report back.

[2022-10-19 22:37] lightrow commented on #16060
we need custom controls, so presentFullscreenPlayer is not an option. Our video player is a fork of react-native-video, we use native portals to transition into fullscreen and "freeze" everything in the app to improve performance of layout recalculation, so that at least the player and its controls resize instantly.

In the future we'll write the whole player UI in native code.

[2022-10-19 22:50] liquidvisual commented on #16060
Interesting, I'm not as knowledgable on the RN front, but I'd be keen to learn more about these native portals so I could freeze everything in my own app on orientation change. Is there any documentation you could point me to?

[2022-10-19 23:11] lightrow commented on #16060
freezing and portals are separate things

portals: https://github.com/welearn-GmbH/rn-native-portals
freezing is done with a custom dimensions provider hook plus a HOC View that saves its own width and height

this only partially solves the problem for video player, but doesn't really work for general rotation of any screens in the app that use flatlists. We want to enable rotation in the whole ap

[2022-10-19 23:20] liquidvisual commented on #16060
Thanks for the info, will look into that. 👍

When you say freezing, are you referring to locking everything in portrait orientation, except for the player?

[2022-10-19 23:33] lightrow commented on #16060
that's not possible with react-native. The whole app rotates, but because of fixed width and height staying the same, it won't trigger expensive layout recalculation

[2022-10-20 00:40] Slapbox opened #35030 "Frequent app crashes with message: 'SamplingProfiler should be destroyed on the same thread it is created'"
### Description

App crashes on restart almost without fail with the message `'SamplingProfiler should be destroyed on the same thread it is created'`

### Version

0.69.6

### Output of `npx react-native info`

[code]

### Steps to reproduce

May require being connected to Flipper's Hermes Debugger for the issue to occur.

### Snack, code example, screenshot, or link to a repository

Unknown how

[2022-10-20 01:01] Slapbox commented on #35030
Bad bot. That section is filled in.

[2022-10-20 02:06] dransidu commented on #33116
Also i am facing this problem. How to fix this ?

[2022-10-20 02:39] bhsrampage commented on #34857
not really sure but i think the latest versions of rn requires new architecture with Hermes which is enabled by default.  For time being i reverted back to the older version which was working for me I'll upgrade it once i find a robust solution solution to this issue.

[2022-10-20 02:41] bhsrampage commented on #34857
haven't patched the package when i upgraded the version in package json i deleted the node modules and installed them again.

[2022-10-20 03:25] DanielWFrancis commented on #26237
Please keep this, it helps with a lot of libraries based on flatlist

[2022-10-20 03:48] pachun commented on #32984
I use an M2 Mac Air w/ home-brew (but node installed via asdf) and @ksealey 's answer worked for me:

[code]

Except, I had to make the directory first since it didn't exist - but it definitely worked:

[code]

[2022-10-20 04:21] hanayashiki commented on #29408
no, there isn't. patch/fork your own version of react-native because facebook engineers don't have the time

[2022-10-20 04:27] roots-ai commented on #35029
@cortinico can you please help out? These is holding our production app release.

[2022-10-20 04:55] nkjs-git commented on #35023
Hi @cortinico,
Thank you for answering the issue. I have a doubt here, even though I have created the react-native project using expo. I have created android and ios folders by doing expo-eject. Does this not means converting the expo based project to react native CLI based (this is a basic question)? ( Actually I had tried this but still the expo module references are there in android folder gene

[2022-10-20 06:02] andreymaslovru commented on #35019
there is no hermes in the assembly
it helped me #34608
closed

[2022-10-20 08:10] m7amad-7asan commented on #33525
getting build failed with the same error when trying to clean or build the app
gradlew clean or gradlew assembleRelease

react: 17.0.2
react-native: 0.68.2

anyone got this error resolved ?

[2022-10-20 08:39] m7amad-7asan commented on #33525
@palavellig did you find any solution ?

[2022-10-20 08:39] NarahariTagili-Eaton opened #35032 "react-native-codegen 0.0.7 transitive package unset-value/1.0.0 have known vulnerability security issue"
### Description

react-native-codegen 0.0.7 transitive package unset-value/1.0.0.0 have known vulnerability security issues.
We are using unset-value/1.0.0 transitive package under react-native-codegen 0.0.7 library, unset-value/1.0.0 transitive package having security issue ie.. unset-value is vulnerable to a prototype pollution attack. A remote attacker may be able to execute arbitrary code or c

[2022-10-20 08:42] palavellig commented on #33525
Open Android Studio Settings,  then select Gradle JDK as version 11 from the dropdown.

![sckAv](https://user-images.githubusercontent.com/61959533/196900497-6394c542-f4cf-449f-aecc-a62d0fd3bfe0.png)

[2022-10-20 08:44] kelset commented on #34102
is `/React-bridging` something Expo specific? 🤔

need a repro for react-native init'd component

[2022-10-20 08:46] palavellig commented on #33525
the solution which i answered was worked for me.

On Thu, Oct 20, 2022 at 2:09 PM m7amad-7asan ***@***.***>
wrote:

[2022-10-20 08:59] m7amad-7asan commented on #33525
Thanks for your response

could you please tell how to get this screen

On Thu, Oct 20, 2022 at 11:43 AM _pal ***@***.***> wrote:

[2022-10-20 09:14] PratthamArora opened #35033 "[IOS] ScrollView inside Flatlist blocks other touchables (children of parent Flatlist) in IOS"
### Description

The code to reproduce this is straightforward:
[code]

### Output of npx react-native info

[code]

[2022-10-20 09:31] cipolleschi commented on #34872
The task:
[code]
Is now up-for-grabs

---

I also add some other tasks to the list! Enjoy!

[2022-10-20 09:45] pche2020 commented on #35018
@cortinico  How am I going to deal with this problem?

[2022-10-20 10:23] AntoineDoubovetzky commented on #34872
Hi @cipolleschi !
Thanks again for all the time and energy you invest in adding tasks and reviewing PRs.

I'd like to work on:

The function should be in `packages/react-native-codegen/src/parsers/error-utils.js`, right ?

[2022-10-20 10:29] MaeIg commented on #34872
Hi, thanks for the update @cipolleschi :)

I’d like to work on:

[2022-10-20 10:33] cipolleschi commented on #34872
@AntoineDoubovetzky: yes, if it does not exists already, it should go there! :D

[2022-10-20 10:35] MaeIg commented on #34872
Hello @cipolleschi,I have a small question.

When you say "to a top level buildSchema function", do you mean we have to create a ‘buildSchema.js’ file in the parsers folder?

[2022-10-20 10:46] paulosborne commented on #34768
Fixed this by creating a .nvmrc containing the desired node version in the home directory.

[2022-10-20 11:32] RomanSytnyk commented on #34998
How did you find it out?

I don't have such a package, but I face this error.
I got if after upgrading from 0.68.4 to 0.70.3

[code]

[2022-10-20 11:39] #34987 closed

[2022-10-20 12:29] aziyatali commented on #31473
Check the official website of the react-native: It says following:

If you are having trouble with iOS, try to reinstall the dependencies by running:

cd ios to navigate to the
bundle install to install Bundler
If needed: install a [Ruby Version Manager](https://reactnative.dev/docs/environment-setup#ruby) and update the Ruby version
bundle exec pod install to install the iOS dependencies.

[2022-10-20 12:55] daileytj commented on #32453
I upgraded to RN 0.70.0 and this doesn't work for me. I also tried to use `core-js` RegExp polyfill, but haven't found success there either.

[2022-10-20 13:38] LoknathPandit commented on #34608
it worked for me

[2022-10-20 13:54] euthribeiro opened #35037 "React Native freezes UI when fetching response from API"
### Description

I'm facing a weird problem on old devices with react native apps. I realized that it happens with all the apps that I had developed with RN. Every time that I do a request to API the UI freezes until the request is responded. I have published 5 apps on Google Play store when the problem is the same. I don't know what to do. I need some help to solve it. Even the most recent versio

[2022-10-20 14:24] ayuan-gy commented on #35006
Any progress on this issue?

[2022-10-20 14:33] rodrigodiasf1984 commented on #34688
I´ve just tried to upgrade from 0.68.2 to 0.70.3 without success!

[2022-10-20 14:36] evelant commented on #34102
@kelset no it's part of react native core, here's a reproduction without expo: https://github.com/evelant/rnfbdemo

[2022-10-20 14:42] shrekuu commented on #34146
@cortinico  It seems it is fixed in this commit: https://github.com/facebook/react-native/pull/34145
Apple removes stuff and break things. We need to use latest version of React Native or `brew install coreutils`.

[2022-10-20 16:49] Robiullah2244 commented on #32778
I am facing the same issue. Any solution?

[2022-10-20 17:47] fabriziobertoglio1987 commented on #30097
https://stackoverflow.com/a/28481095/7295772

[2022-10-20 17:48] jsonxr opened #35039 "Android Text lineWrap and letterSpacing causes incorrect line break"
### Description

On an Android Pixel 6 pro device, discovered a text measuring bug when setting both lineHeight and letterSpacing.

This specific combination reproduces no matter the lineHeight, just the fact that you set it with letterSpacing of 1.6 causes it to line wrap when it should not.

[code]
<img width="95" alt="bug" src="https://user-images.githubusercontent.com/347109/197018695-59fefb7b

[2022-10-20 17:52] Alexis-Commits opened #35040 "Text can't show degress if the value of the string is passed by a variable"
### Description

### I think Text doesn't behave the same if the text is passed via a variable

### Version

0.70.1

### Output of `npx react-native info`

System:
    OS: macOS 12.3.1
    CPU: (8) arm64 Apple M1
    Memory: 160.70 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.17.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.19.2 - /opt/homebrew/bin/npm
    Watchman: No

[2022-10-20 18:13] ugurdalkiran commented on #34752
same problem persists in version 0.70.2. :(

[2022-10-20 18:37] elmcapp commented on #31251
Seem as of now we can not use SceneDelegate. I have the same issue. I convert my React Native objective-c to a swift template. When use SceneDelegate I get the same problem. Sometimes the Alert will show and some time it will not. Once I put my code into AppDelete problem was fixed.

[2022-10-20 18:38] maxperry commented on #34994
It worked for after updating CMAKE on Android Studio: https://stackoverflow.com/a/55991090

[2022-10-20 23:14] miguelarnalot commented on #34441
Check if you have npm installed

run `npm install`

[2022-10-21 00:05] rmojsejkov commented on #34719
Hello, solve this issue writing this in console:
rm -rf node_modules
rm yarn.lock
yarn

[2022-10-21 01:09] akkadaya commented on #31298
@blavalla thanks mate, in which version was that fixed? is there "Fabric renderer" package, or is it within React Native?
I'm using react native 0.64 and still having the issue

[2022-10-21 03:01] aniravi24 commented on #34219
Thanks for this! This helped me realize what caused my production crashes on RN 0.70. I bumped my gradle plugin to 7.3.1 and didn't realize that would be a breaking change. Downgrading gradle to the version in the RN template (7.2.1) fixed the build for me.

[2022-10-21 03:31] nix6839 opened #35041 "[iOS] Cannot start iOS in new project with react native cli"
### Description

After I read the official documentation and installed all the prerequisites, I ran iOS, but it doesn't work with the following error:
[code]

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M2
    Memory: 140.47 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.11.0 - /opt/homebrew/bin/node
    Yarn:

[2022-10-21 03:32] alickcai commented on #34998
I can explain more on my case:

I installed a 3rd-party package cos-js-sdk-v5 which worked well on version RN 0.68.2
I upgraded RN to 0.69.6 with cos-js-sdk-v5 upgraded automatically (per some dependency settings).

Unfortunately, the new version of cos-js-sdk-v5 didn't catch RN 0.69.6 so good (this package call some web function from a mobile instance), that's why I got above errors (...userAgent

[2022-10-21 03:38] cshfang opened #35042 "Unable to construct a new Blob()"
### Description

After creating a React Native app with the new architecture enabled, using the global `Blob()` constructor resulted in the following error: `Invariant Violation: NativeBlobModule is available.` This was reproducible in the following combinations:

| Platform | React Native version | New architecture enabled? | Blob() available? |
| :-: | :-: | :-: | :-: |
| iOS | 0.70.3 | Yes | ❌

[2022-10-21 04:56] kumarparth380 commented on #34745
I got this issue fixed by enabling Hermes. Earlier, hermes in my project was disabled because of some reason so had to turn it on to avoid these crashes. Now the app works fine on Android 12.

[2022-10-21 05:31] princefishthrower commented on #34712
Amazing... this worked for me too!!!!!!! But what is actually behind the need for `json`? Very weird in my opinion that this should affect importing modules in `index.js`...

[2022-10-21 06:41] cavanierc commented on #35037
I have the same issue on iOS application.

Output of `npx react-native info`:
System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 114.89 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.18.0 - /opt/homebrew/opt/node@16/bin/node
    Yarn: Not Found
    npm: 8.19.2 - /opt/homebrew/opt/node@16/bin/npm
    Watchman: Not Found
  Managers:
    CocoaPods: 1.11.3 - /op

[2022-10-21 06:46] HaykZiphycare commented on #34615
Is this issue still unresolved?

[2022-10-21 08:22] badeggg commented on #32001
Although it's really weird, I have to discuss that, things work after I `brew uninstall watchman` in my case. Hope my case can supply some useful info. Some background: a) I'm pretty new to RN; b) after remove watchman, `which watchman` produce nothing; c) mac os / ios d) react-native version `"react-native": "0.70.3"`

[2022-10-21 08:58] obasille commented on #22186
Found another one:

Indeeded `findHostInstance_DEPRECATED` is imported and used in `TouchableNativeFeedback.js`

[2022-10-21 09:23] 153 commented on #35023
cool

-- @153

[2022-10-21 09:24] RomanSytnyk commented on #34867
Also facing this problem

Have you solved it @roots-ai?

Thanks

[2022-10-21 09:24] RomanSytnyk commented on #34816
Any updates?

I'm facing this issue too

[2022-10-21 10:37] 406410672 opened #35043 "The React Native and Unity project integration doesn't seem to work out well."
### Description

The React Native and Unity project integration doesn't seem to work out well. When I used ReactRootView to integrate into an existing Unity project, the Component layout was reversed in the vertical direction, like title was originally above and now below, as are other Component s. The same code for newly created projects with XCode.

### Version

0.69.5

### Output of `npx react-

[2022-10-21 10:43] RomanSytnyk opened #35044 "[iOS] App crashes after upgrade from 068.3 to 0.70.3 - EXC_BAD_ACCESS"
### Description

I've upgraded the app from 0.68.3 to 0.70.3

Android works fine. But iOS crashes at the start up. No JS logs, only iOS device logs.

Exception Type:  EXC_BAD_ACCESS (SIGABRT)
Exception Subtype: KERN_INVALID_ADDRESS at 0xa9417bfd97fffc5b
Exception Codes: 0x0000000000000001, 0xa9417bfd97fffc5b

Full logs are below in the link.

Looks like something similar to #34867

### Version

0.

[2022-10-21 11:44] SectionTN commented on #34712
i think `json` is needed for app.json to register the app or something like that.

[2022-10-21 12:05] dakshbhardwaj commented on #34872
Hi @cipolleschi I would like to work on this
Extract the buildModuleSchema function ([Flow](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/flow/modules/index.js#L571), [TypeScript](https://github.com/facebook/react-native/blob/main/packages/react-native-codegen/src/parsers/typescript/modules/index.js#L584))in the parsers-commons.js function. The two fu

[2022-10-21 12:21] Ruslan-BG commented on #35029
This crash is Webview - Android 12

[2022-10-21 14:02] AppDevloper23 commented on #32758
this worked ofr me
https://stackoverflow.com/questions/70968067/typeerror-undefined-is-not-an-object-evaluating-innernativemodule-installcore

[2022-10-21 14:10] Pranav-yadav commented on #34872
Hi @cipolleschi !
I would like to help with;

If it's not already asigned :)

[2022-10-21 14:23] firasabf opened #35046 "React native app not archiving in Xcode"
### Description

error build: File /Users/user/Library/Developer/Xcode/DerivedData/appName/Build/Intermediates.noindex/ArchiveIntermediates/AppName/BuildProductsPath/Release-iphoneos/Beano.app/main.jsbundle does not exist. This must be a bug with React Native, please report it here: https://github.com/facebook/react-native/issues

app not building in Xcode when Archiving project

### Version

0.70

[2022-10-21 14:59] RomanSytnyk commented on #35044
I solved it by adding hermes.xcframework to my targets

In xcode > build phases > "Link binary with Libraries" section and making them "Embed & Sign" in General section

Source: #34608

[2022-10-21 14:59] #35044 closed

[2022-10-21 14:59] Alexis-Commits commented on #35040
https://www.npmjs.com/package/html-entities using this library resolves the problem...

[2022-10-21 15:13] cortinico commented on #35046
I'm sorry but there is not enough info for us to actionate this. We would need the full build log and a reproducer.

I'm closing this now, please reopen once you can provide the requested information

[2022-10-21 15:13] #35046 closed

[2022-10-21 15:18] cortinico commented on #35029
Could you provide a reproducer we can look into?

[2022-10-21 15:18] cortinico commented on #35043
Can you link to the documentation you've been using about Unity project integration?

[2022-10-21 15:20] firasabf commented on #35046
Hello Nicola,

So i need to add the packages used? please if you can provide more details
about the required information
you need the build log from xcode?

On Fri, Oct 21, 2022 at 6:13 PM Nicola Corti ***@***.***>
wrote:

[2022-10-21 15:20] cortinico commented on #35023
In theory yes, but for the sake of keeping our resources focues, we're now focusing our investigation only on projects created/built with the React Native CLI first. That's why if you can create a new project with the RN CLI and reproduce the crash, that's something we can totally look into.

[2022-10-21 15:25] cortinico commented on #34219
As @aniravi24 mentioned, RN 0.70 builds with AGP 7.2.1
Diverging from the AGP version is **not recommended** and will most likely cause crashes.

Specifically @cleandersonlobo I see you are on RN 0.70 with AGP 7.0.4. This is not supported. Doing a patch-package of react-native and using "react-native-gradle-plugin": "0.71.4" is **not recommended** and will result in further update issues in the fu

[2022-10-21 15:25] #34219 closed

[2022-10-21 15:26] bailinx commented on #35041
+1

[2022-10-21 15:29] cortinico commented on #35006
What do you mean with your 'my issue project'?

[2022-10-21 15:33] cortinico commented on #35018
Have you followed the instructions on this page?
https://reactnative.dev/docs/environment-setup

It seems like you're failing to run `cocoapod` from Ruby.

[2022-10-21 15:39] ayuan-gy commented on #35006
The error information in the comment is not the same project I issued, it is obtained from an blank project

[2022-10-21 15:39] cortinico commented on #35032
That's a valid report, but we'll have to bump `jscodeshift` to 0.14.0

[2022-10-21 15:42] cortinico commented on #34857
Yes, you can use Hermes without the New Architecture.

Nope, the latest version of React Native does NOT require the New Architecture. It's actually an opt-in at the moment.

Can someone provide a reproducer here?

[2022-10-21 15:43] cortinico commented on #35006
Ok great. I've passed this over to MSFT, I haven't got a response yet.

[2022-10-21 15:45] cortinico commented on #34372
Yeah I know the pain. We don't have a solution for this specific instance at this stage, sadly. We're looking into it and hopefully come with a solution in the near future.

Any PR is also welcome in this space 🙏

[2022-10-21 16:00] ayuan-gy commented on #35006
Does the Text component of react native has plan to adapting the justify style of Chinese text
https://github.com/facebook/react-native/issues/28436

[2022-10-21 16:36] cortinico commented on #35006
Please let's keep the conversation focused on this issue only

[2022-10-21 16:40] ayuan-gy commented on #35006
ok

[2022-10-21 16:52] carstenhag commented on #33139
Issue also exists with native android :D so I really don't think React can do anything apart from disabling hints on Samsung

[2022-10-21 17:09] thegolddustrush commented on #34928
Thanks a lot for the help but I have many different permutations of making buttons and more and more it seems we have an android bug on our hands. With every version of my button it appears the button is only clickable on the far left or right edge but not in the middle. My original code in the description works in the expo snack containers but I have yet to try on ios. I have upgraded my project

[2022-10-21 17:12] pierroo commented on #32884
@anniewey can you please clarify where did you add that line exactly?
The link you shared they are using a different implementation, by having it in

configurations.all {
    resolutionStrategy {
        force "com.facebook.fresco:fresco:2.5.0"
    }
}

and why animated-gif only?

[2022-10-21 17:22] nkjs-git commented on #35023
Got it, Thank you. As you said I have created the new react-native CLI project from scratch and tried to add dependencies in package.json as I have in my expo CLI project. But when I add the 'react-native-reanimated' using 'npm i react-native-reanimated' to new project of react-native CLI and do 'npx react-native run-android --active-arch-only' the build fails with the below mentioned error stackt

[2022-10-21 17:51] firasabf commented on #35046
[Xcode Build Log.pdf](https://github.com/facebook/react-native/files/9841228/Xcode.Build.Log.pdf)

github repo: https://github.com/firasabf/firasabf-react-native-V0.70

[2022-10-21 17:59] efstathiosntonas commented on #33139
@carstenhag I have many samsung devices, I do not face such an issue with native apps. Can you please link a repro or a link to an issue? Thanks

[2022-10-21 18:58] firasabf opened #35048 "React native app not archiving in Xcode"
Description

error build: File /Users/user/Library/Developer/Xcode/DerivedData/appName/Build/Intermediates.noindex/ArchiveIntermediates/AppName/BuildProductsPath/Release-iphoneos/Beano.app/main.jsbundle does not exist. This must be a bug with React Native, please report it here: https://github.com/facebook/react-native/issues

app not building in Xcode when Archiving project

Version

0.70.2

Outp

[2022-10-21 19:59] jsonchou commented on #34250
fails on M1

[2022-10-21 20:44] blavalla commented on #31298
@akkadaya, this should be fixed in 0.69 via this commit (https://github.com/facebook/react-native/commit/7b5b114d578142d18bf4a7a5279b179a9ac8d958)

[2022-10-21 23:46] Saadnajmi commented on #34986
Confirmed this is an issue despite the `React.memo` call

[2022-10-22 02:38] Marcoo09 commented on #34872
Hi @cipolleschi, I would like to work on these ones

[2022-10-22 03:16] matiassalles99 commented on #34872
Hi @cipolleschi, I would like to work on these ones

[2022-10-22 04:52] janicduplessis commented on #35030
Might be related to https://github.com/facebook/react-native/pull/34129, @jpporto do you know if there were fixes in hermes that mitigates this? This happens on RN 0.69 which probably uses hermes from a few months ago.

[2022-10-22 06:52] Marcoo09 commented on #34211
Hi @barrymcgee, to achieve this behavior, you must set the default style and isPrefered to true. With that you can place the button wherever you want.

<img width="551" alt="image" src="https://user-images.githubusercontent.com/18408823/197324891-fadcb411-8837-4220-8a3d-e24c3a70338e.png">

<img width="342" alt="image" src="https://user-images.githubusercontent.com/18408823/197324876-7bbaaf67-49d9-

[2022-10-22 07:10] roots-ai commented on #33495
Any updates herE?

[2022-10-22 07:15] roots-ai commented on #32928
Any updates here? Sad to see the state of product level `react native` repository

[2022-10-22 07:25] zxccvvv commented on #34999
it's about the `onPress` it self, you can see in my video at 8th second i've spam button but the `onPress` not trigger even the opacity has already show up

[2022-10-22 08:38] dimaportenko commented on #32671
@pierroo

It is most likely 3d party dependency.  Try `./gradlew app:dependencies` in the android directory to see the android dependencies tree.

check my previous comment

[code]

[2022-10-22 09:14] cortinico commented on #35048
Duplicates https://github.com/facebook/react-native/issues/35046

[2022-10-22 09:14] #35048 closed

[2022-10-22 09:46] pierroo commented on #32671
Thank you @dimaportenko

So according to your comment, the configurations.all should come BEFORE dependencies, so I just did then ran gradlew app:dependencies , which gave me:

![image](https://user-images.githubusercontent.com/17619412/197332689-57beccbb-b069-4274-b25b-eb677e172885.png)

(I extracted the part that mentioned fresco)
So here we can see fresco is at 2.5.0, but then for some reason b

[2022-10-22 11:43] Helios69 opened #35051 "com.facebook.react.JavaScript (9): "Could not get BatchedBridge, make sure your bundle is packaged correctly""
### Description

My ios app is keep crashing on iOS in production mode. In development mode it works correctly.
I already tried to:
1) create index.ios.js and index.android.js files;
2) disable Hermes in Podfile;

No effect.
I'm desperate :(

### Version

0.69.5

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) x64 Apple M1
    Memory: 60.41 MB / 16.00 GB
    Shell: 5

[2022-10-22 12:33] 34hf opened #35052 "Fungible foxs"
### New Version

0.66.0

### Old Version

0.65.1

### Build Target(s)

Fungible foxs

### Output of `react-native info`

import 'package:flutter/material.dart';
import 'package:flutter_authgear/flutter_authgear.dart';

void main() {
  runApp(const MyApp());
}

class MyApp extends StatefulWidget {
  const MyApp({Key? key}) : super(key: key);

  @override
  State<MyApp> createState() => _MyAppState(

[2022-10-22 13:29] hanwenbo commented on #25537
cd android && ./gradlew clean

[2022-10-22 13:58] MananVij commented on #28992
Did anyone find a solution?
RN 0.68.1

[2022-10-22 14:12] doublelam commented on #34178
Even when add property `onRefresh` also cause this issue

[2022-10-22 14:44] caixingyue opened #35053 "npx react-native init could not be done properly, it may be something missing from the system"
### Description

I initialized by command `react-native init name`, but got `error Your Ruby version is 2.6.8, but your Gemfile specified 2.7.5` failure message.

I have tried deleting .npm, uninstalling and reinstalling rbenv and gem, etc., and all of them have been cleaned up. I have re-deployed step by step according to the official website tutorial, but none of them have failed.

The current d

[2022-10-22 14:50] caixingyue commented on #35053
It worked normally at first, but I don't know what was deleted, which caused this problem. Then no matter what I do, I can't solve the problem

[2022-10-22 17:31] Helios69 commented on #35051
I tried to create a brand new project, and the production build is working fine. So, my assumption is that there is a dependency in my package.json that breaks my app. But I don't know which one. And even so, I can't just remove it from my app.

[2022-10-22 17:56] liebharc commented on #31173
We just encountered this issue as well when enabling hermes with react native "0.70.3". We don't have js files with a lot of exports, but we also have warnings due to "Require cycles" in luxon and aws-amplify.

[2022-10-22 17:58] jpporto commented on #35030
Hi @janicduplessis,

This is unrelated to #34129, and has been mitigated [here](https://github.com/facebook/hermes/commit/e9eb6b362d17d92136dfe59ba5038e47500b6551). The proper fix is part of RN ([this](https://github.com/facebook/react-native/commit/6fcfe2e1b35e9bdf319bcdc1647c8c0d997b58c7) and a few others). Backporting the Hermes fix might be more manageable.

John Paul

[2022-10-22 18:36] kalyantm opened #35054 "No matching function for call to 'fromRawValue'"
### Description

I'm trying to build a fabric native react component, and I'm following the steps as outlined here: https://reactnative.dev/docs/next/the-new-architecture/pillars-fabric-components

When I use codegen to generate the props from my `MyCustomCompNativeComponent.tsx`, I use the following props:

[code]
Everything goes as expected - except on the last step, when I actually build the pr

[2022-10-22 19:06] #35052 closed

[2022-10-22 19:47] janicduplessis commented on #35030
@Slapbox would you be able to update to 0.70 to see if it still happens

[2022-10-23 01:06] Slapbox commented on #35030
@janicduplessis I'd love to try, but unfortunately can't yet due to using Expo.

[2022-10-23 01:53] Johnhollack commented on #33525
adding this to your eas.json resolves the problem for me: @m7amad-7asan

"build": {
  "production": {
        "android": {
          "buildType": "app-bundle",
          "image": "latest"
        }
      }
}

[2022-10-23 02:17] #33213 closed

[2022-10-23 07:38] m7amad-7asan commented on #33525
@Johnhollack

Thanks but I'm not using expo

[2022-10-23 07:54] badal-ag commented on #27483
This issue is occuring because you are using useEffect in many functions to check for every change in state. Reduce this number and see the magic happening.

Wrong Approach: useEffect(() => { } );
Correct Approach: useEffect(() => { }, [ ] );

Replace this wherever possible.

I solved this issue within 24 hours of facing.

[2022-10-23 08:42] ahmetbilgay commented on #34928
Try giving Buttons with and height values

[2022-10-23 10:48] Bayramito opened #35055 "cannot initialize new project"
### Description

simply `npx react-native init` command doens't work.

<img width="1221" alt="Ekran Resmi 2022-10-23 13 45 56" src="https://user-images.githubusercontent.com/44513402/197387760-45cb09c6-56fe-4411-9300-38817a1540ba.png">

I am using a Macbook pro 16 inch 2019 intel, with Monterey 12.6 macOS version.

I installed ruby 3.1.2 which is latest via `asdf` and setted it as global ruby vers

[2022-10-23 12:45] CapDangTVF commented on #34250
fails on M1 - It took me a week and I can't fix it

[2022-10-23 13:50] TheTushar2696 opened #35056 "App crashing on launch"
### Description

We've recently migrated to rn 0.70.2 from 0.66.4, We've followed the react native upgrade helper carefully, gradle clean and build is successful but getting the below mentioned crash on launch, The below mentioned is the device logs

[code]

### Version

0.70.2

### Output of `npx react-native info`

Build is successful in my case.

### Steps to reproduce

- Follow the upgrade hel

[2022-10-23 14:08] kalyantm commented on #34412
@cipolleschi Do we still have to declare these properties on the `ViewManager` as of React Native 0.70.2? I'm facing a similar issue when I'm trying to write a fabric native component as well!

[2022-10-23 15:39] Helios69 commented on #35051
pod install --repo-update fixed the problem.

[2022-10-23 16:22] anniewey commented on #32884
@pierroo i'm using `animated-gif` only in my project for the gif support as documented [here](https://reactnative.dev/docs/0.69/image#gif-and-webp-support-on-android). that line is in `android/app/build.gradle`

[code]

[2022-10-23 17:34] isCagedBird commented on #34868
Try to close enableHermes: false may be useful, but it is normal after I try it in web debugger (v8)

[2022-10-23 19:40] #35051 closed

[2022-10-23 22:03] Slapbox commented on #35030
I don't know whether the issue is really in React Native or Flipper or both, but it seemingly only occurs with particular versions of Flipper, namely `0.171.x`.

See: https://github.com/facebook/flipper/issues/4242

[2022-10-23 23:03] julianjear commented on #28751
Experiencing this issue as well and even though `CellRendererComponent` does work, it causes my memoized RenderItem component to re-render (which does not happen if I don't use `CellRendererComponent`.

Would appreciate a proper fix on this!

[2022-10-24 02:18] #33647 closed

[2022-10-24 02:18] #33157 closed

[2022-10-24 02:47] PengQ1 commented on #32801
I met this crash also. Anyone can help me?

[2022-10-24 05:12] roots-ai commented on #34089
Is react native actively maintained now? Seems like the latest versions have many breaking issues that are unaddressed

[2022-10-24 07:56] 406410672 commented on #35043
I integrated the ReactNative into the Unity project and added the RCTRootView to the UnityView. Use the following document.
https://reactnative.dev/docs/integration-with-existing-apps

[2022-10-24 08:28] Sub-Zero-1 commented on #34857
My problems with hermes where homemade. Some of my native colleagues (using nativ first, then RN after login) "optimized" our code so the APK does not contain the libhermes-executor-debug.so as it was included even for the release APK. Therefore they made the following changes deep in the build.gradle:

[code]
In addition during our last upgrade of RN we had to set:

` enableVmCleanup: false`

to

[2022-10-24 08:37] cipolleschi commented on #34412
Yes. Unfortunately, we were not able to ship the piece of infra that allows us not to do it.

But it is close to be released!

[2022-10-24 08:38] cipolleschi commented on #34412
Yes. Unfortunately, we were not able to ship the piece of infra that allows us not to do it.

But it is close to be released!

[2022-10-24 08:52] mhyassin opened #35059 "Invalid podfile after installing dependencies with --production flag"
### Description

`pod install` command fails after installing dependencies of a project using the `--production` flag. The issue can be reproduced using yarn or npm on a new project using (npx react-native init reactNative69 --version 0.69.0).

This was working fine before 0.69.0

### Version

0.69

### Output of `npx react-native info`

error Failed to load configuration of your project.
info Run

[2022-10-24 09:22] roryabraham commented on #29055
Thanks to some help from @janicduplessis and a few other people, there's now a PR up to implement `maintainVisibleContentPosition` natively in the Android ScrollView: https://github.com/facebook/react-native/pull/35049

[2022-10-24 10:30] SERCHAT opened #35061 "Can not start HeadlesTask"
### Description

I have an app that is targeted SDK 32. I want to send a headless task from my native android code when the app is killed but I can not on android version greater the 10.  If I can not call a headless task from my code with targeted SDK 32 please help me to solve with other ways.

### Version

0.68.1

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.19044

[2022-10-24 11:53] kraenhansen commented on #33006
Although we have a workaround, I still feel this issue is important to get a proper fix for.

[2022-10-24 12:15] carstenhag commented on #33139
@efstathiosntonas This is the code that we are using (native android project):
[code]

[code]

Here's a repro description (sorry, only got it as png)
![bug-description-1](https://user-images.githubusercontent.com/3776997/197522927-66c98089-bbf1-413d-9968-5a799c1fc162.png)

I can also reproduce it with a Samsung Galaxy S22.

[2022-10-24 12:22] AsteriskZuo commented on #34717
0.64.3 A lot of people use it again

[2022-10-24 12:22] AsteriskZuo commented on #34717
My version 0.66.4 also has this problem.

[2022-10-24 12:23] evgenusov opened #35062 "[Codegen][Fabric][New architecture] Array of array crashes codegen"
### Description

I have this interface:

[code]

When I do codegen I get this:
[code]

### Version

0.70.3

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1
    Memory: 129.92 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.14.2 - /usr/local/bin/node
    Yarn: 1.22.18 - /opt/homebrew/bin/yarn
    npm: 8.5.0 - /usr/local/bin/npm
    Wa

[2022-10-24 13:16] Definence commented on #34688
I've upgraded from 66.1 to 70.3. Same issue

[2022-10-24 13:18] roots-ai commented on #34563
Facing the same issue. How did this get resolved?

[2022-10-24 13:35] Hostname47 commented on #27549
With a small addition to @aprilmintacpineda answer, you'll be able to have an aligned TouchableOpacity aligned with a text

After hours of war, I found a workaround to fix the pixels that RN add to TouchableOpacity element when you wrap it within a Text. The key is to add a View element within your TouchableOpacity and wrap all the element within that View and add marginBottom to negative value to

[2022-10-24 14:04] kelset commented on #33006
@kraenhansen does this still happen in 0.70?

[2022-10-24 14:07] philipheinser commented on #34995
@StephenChips you are not cleaning up the when the component unmounts so its to be expected to be called way to many times for example in dev when react renders double or a parent component renders or when it gets hot reload.

[2022-10-24 14:16] thegolddustrush commented on #34928
Yes I tried that too and had no success.  Thanks for the suggestion.

[code]

[2022-10-24 15:01] cipolleschi commented on #34872
@Marcoo09 I started assigning you only the first one of the two. I'd rather go one by one. Thank you for the understanding!

[2022-10-24 15:28] samad324 commented on #25244
I'm still getting this error even after adding `android:usesCleartextTraffic="true"` in `AndroidManifest.xml` file.

so i added my domain name in `network_security_config.xml` file.

[code]

don't forget to add `android:networkSecurityConfig="@xml/network_security_config"` in
[code]

[2022-10-24 15:28] dimaportenko commented on #32671
@pierroo tbh, I don't know. My case was slightly different and `force "com.facebook.fresco:fresco:2.5.0"` was enough.

[2022-10-24 15:29] tylercote commented on #34399
https://github.com/facebook/react-native/issues/23400 this unresolved issue from 2019 seems to face the same issue.

[2022-10-24 16:00] ddikodroid commented on #34608
anyone know which step i've missed?

<img width="620" alt="Screenshot 2022-10-24 at 22 30 54" src="https://user-images.githubusercontent.com/4207774/197571745-b7a04656-942a-4bc3-a684-f1c54def488f.png">

[2022-10-24 16:11] atkaygro opened #35068 "PromisImpl java class is not thread safe"
### Description

As obvious by inspection the PromiseImpl java class (https://github.com/facebook/react-native/blob/main/ReactAndroid/src/main/java/com/facebook/react/bridge/PromiseImpl.java) is not thread safe as it takes zero precautions in that direction.
And as expected I get stacktraces for the android version of an app i work on, which have the reject method of that class at the top. Here is

[2022-10-24 16:25] atkaygro commented on #35053
Lokk at the output of
`
which ruby
ruby --version
`
if which ruby does not point at a shims directory inside your homedirectory you might need to add
`
if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi
`
to your .bash_profile or .zshrc

this will setup rbenv on start of your shell.
If you have that line then look out for errors displayed at shell startup which might prevent it from runni

[2022-10-24 16:34] caixingyue commented on #35053
I have executed the command, but the results are accurate, and there is no error when I execute the shell directly.
<img width="377" alt="image" src="https://user-images.githubusercontent.com/39073687/197578244-faac126d-bb68-49e0-9a9f-39296e281dbf.png">

I cd into the directory after the failure and after doing `bundle install` it works fine, but I still get this exception when init.

I've tried t

[2022-10-24 16:36] caixingyue commented on #35053
我已执行该命令，但是得到的结果是准确的，直接执行shell也没有出现错误
<img width="382" alt="image" src="https://user-images.githubusercontent.com/39073687/197578889-da33b723-4943-4db4-9d7c-5059957aea2b.png">

我在失败之后cd进入目录并且执行`bundle install `后可以正常使用，但是在init时仍然会出现这个异常

我尝试过在其它电脑上测试init，并没有出现这个异常，所以我很奇怪

[2022-10-24 17:11] cipolleschi commented on #34608
@ddikodroid The problem you are facing is that React Native is using the system version while your folder is using something else. My suggestion would be to install a proper Ruby Version Manager as we suggest [here](https://reactnative.dev/docs/next/environment-setup). In the section: **React Native CLI Quickstart**/**MacOS**/**iOS**, we added some references to how to properly set up your ruby en

[2022-10-24 17:28] cortinico commented on #35053
You're clearly running the wrong ruby version. You should be on Ruby 2.7.5 for React Native to run correctly.

[2022-10-24 17:30] cortinico commented on #33006
+1 to this. Also for anything New Architecture related like this one, posting on reactwg/react-native-new-architecture should be the preferred way as we're getting a lot of noise on the React Native issue tracker, causing issue like this one to get lost.

[2022-10-24 17:35] #34717 closed

[2022-10-24 17:37] cortinico commented on #35061
Why you cannot?

[2022-10-24 17:41] cortinico commented on #35056
Can you share your `build.gradle` file?
What is happening for you is that the `hermes-executor` library are stripped away, not sure why without seeing your code.

[2022-10-24 17:42] cortinico commented on #35055
As the terminal says, you need to be on Ruby 2.7.5.
You should look into setting up Rbenv to control the ruby version

[2022-10-24 17:43] cortinico commented on #35054
cc @cipolleschi

[2022-10-24 17:47] cortinico commented on #35023
It seems like this issue is actually unrelated to React Native core but related to Reanimated. Can you opne your issue here?
https://github.com/software-mansion/react-native-reanimated/issues

[2022-10-24 17:51] ddikodroid commented on #34608
i've installed rbenv, but still encountering that problem.

but, eventhough the error appears, i'm able to run the project succesfully but executing

[code]

[2022-10-24 18:01] TacticCoder commented on #32928
Same here:
libjscexecutor.so caused by: couldn't find DSO to load: libjsc.so

[2022-10-24 18:57] mathbalduino commented on #23578
Hey guys, any news on this one?

[2022-10-24 19:04] cipolleschi commented on #35054
Hi @kalyantm!
The solution to this should be to create a named type for the `<action, id>` object.

Something like
[code]

And then use it like:
[code]

Can you try something like this and tell me if it works?

Thank you so much!

[2022-10-24 19:16] fabriziobertoglio1987 commented on #12534
as explained by @sibelius, It is caused by [ViewGroup#setClipChildren](https://developer.android.com/reference/android/view/ViewGroup#attr_android:clipChildren)
We use the Native Android APIs (View, ViewGroup..etc..).

https://medium.com/entria/solving-view-overflow-in-android-reactnative-f961752a75cd

[2022-10-24 19:48] tmchale opened #35069 "Cannot get Turbo Native Example to build on M1 Mac"
### Description

I am trying to get a simple RN app to build accessing a Turbo Native ObjC++ module. I followed the example in the Turbo Native docs (https://reactnative.dev/docs/next/the-new-architecture/pillars-turbomodules). I did comment out fabric_enabled and flipper lines from the Podfile and that got rid of some warnings. But I still get this error and I do not know how to solve it:

The fo

[2022-10-24 20:42] ahmetbilgay commented on #34928
button:{
width:500,
height:100
}

and <Button styles={styles.button} title={"Title"}  />

[2022-10-24 20:46] Ralisson-Mattias commented on #35037
Same problem

[2022-10-24 21:15] Rc85 opened #35070 "No scrollTo method provided. This may be because you have two nested VirtualizedLists with the same orientation, or because you are using a custom component that does not implement scrollTo."
### Description

Cannot programmatically scroll nested `SectionList` inside `SectionList`.

What I'm trying to accomplish is a horizontal bar with categories that will be stickied to the top of the screen, this requires a `SectionList`. Below it is another `SectionList` and for this, I render it inside `renderItem`. If I press on a category in the horizontal bar, it should scroll the nested `Secti

[2022-10-25 00:24] jdicami commented on #17530
Why is this closed, it's still an issue on production builds even on RN 0.70.3

[2022-10-25 02:09] Marcoo09 commented on #34872
Hi @cipolleschi, np
Maybe you can assign me also the previous one given the assigned one depends on this one

[2022-10-25 02:17] #33115 closed

[2022-10-25 02:17] #33112 closed

[2022-10-25 02:17] #33091 closed

[2022-10-25 02:17] #33082 closed

[2022-10-25 02:18] Marcoo09 commented on #34425
Hi @necolas, I'd like to help on this one if it's available

[2022-10-25 03:43] sandisahdewo commented on #34878
I'm also having the same issue.

[2022-10-25 03:50] micahlt commented on #34878
Apparently this isn't high priority, even though it fully breaks RN on any modern Windows machine (since Windows Setup automatically creates a home folder with a space in it.

[2022-10-25 05:12] kalyantm commented on #35054
@cipolleschi Nope, did not work, i get an error when i run `RCT_NEW_ARCH_ENABLED=1 arch=-x86_64 npx pod-install`

[code]

[2022-10-25 05:18] Bayramito commented on #35055
As you can see on the console i am using 3.1.2 as local ruby

[2022-10-25 05:20] kalyantm commented on #35054
@cipolleschi However, it does build if I define it like this:

[code]

But this again, leads to the same error in XCode:

<img width="1378" alt="Screenshot 2022-10-25 at 10 50 35 AM" src="https://user-images.githubusercontent.com/32995981/197689011-ba0bb2cf-7d58-439c-a2e7-0a7bcf40c284.png">

[2022-10-25 05:56] ombogdan opened #35072 "Ii get error in ios"
### New Version

0.64

### Old Version

0.63.3

### Build Target(s)

i don`t know

### Output of `react-native info`

System:
    OS: macOS 12.6
    CPU: (8) x64 Apple M1
    Memory: 27.44 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 14.16.1 - ~/Projects/WebstormProjects/ReactNativeProjects/mobilenew/node_modules/.bin/node
    Yarn: 1.22.11 - /usr/local/bin/yarn
    npm: 7.24.0

[2022-10-25 06:00] ZAJ0711 opened #35073 "ellipsizeMode="middle" numberOfLines={2} not work"
### Description

the react-native version is 0.59.10
the Text component parameter，'ellipsizeMode' and 'numberOfLines' can not work correctly
when the 'numberOfLines' is more than 1，'ellipsizeMode' dose not work when i choose 'head'、'middle'

thanks

### Version

0.59.10

### Output of `npx react-native info`

React Native Environment Info:
    System:
      OS: macOS 12.4
      CPU: (8) x64 Apple

[2022-10-25 06:39] atkaygro commented on #35053
What is the output of
`
ruby --version
`

[2022-10-25 06:41] SteveLai524 commented on #34410
Same Problem, waiting for resolve solution.

[2022-10-25 06:45] xiongxiongjiang commented on #34400
same error

[2022-10-25 06:46] xiongxiongjiang commented on #34400
node_modules/react-native/Libraries/WebSocket/RCTSRWebSocket.m:1632: warning run: Thread running at QOS_CLASS_USER_INTERACTIVE waiting on a lower QoS thread running at QOS_CLASS_DEFAULT. Investigate ways to avoid priority inversions
at:
[code]

[2022-10-25 06:58] araldortogul opened #35074 "npx react-native init project failure while installing Bundler: error Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
### Description

Hello, I am trying to initialize a new project by following the steps in [Setting Up the Development Environment](https://reactnative.dev/docs/environment-setup). I get an error during `npx react-native init (project name)` step about gem native extension. The details about the issue are provided in the screenshot below. I would be appreciated if you could help me resolve this iss

[2022-10-25 07:28] cipolleschi commented on #35054
Hum... That's weird, this should actually work.
I'll try to have a look at it today. Thank you for providing the sample repo!

[2022-10-25 07:30] SERCHAT commented on #35061
@cortinico  I'm trying to call the headless task inside a worker. I'm checking first if SDK version is  greater then Oreo then call context.startForegroundService else call context.startService. This is my code inside the worker class:

       try{
          Intent headlessService = new Intent(mContext, MyHeadlessTask.class);
          Data data = getInputData();
          Bundle serviceBundle = n

[2022-10-25 07:40] taboulot commented on #31000
I faced the same issue recently. It was reported as a BUG by my users.

The solution I found was, in my case, to use `TouchableWithoutFeedback` from `react-native-gesture-handler`.
It looks like they took another decision in the implementation of the long press (i.e. even if you move inside the button during a long press the delay continues).

I asked some UX designers around me and they agreed th

[2022-10-25 07:43] araldortogul commented on #35074
I was trying to initialize the project in a folder called "CMPE 451". I renamed that folder to "CMPE451" and after that I didn't encounter the error that I mentioned above. It's strange that renaming the folder solved my issue.

[2022-10-25 08:01] alessioemireni commented on #34400
+1

[2022-10-25 08:43] TheTushar2696 commented on #35056
`plugins {
  id 'com.android.application'
  id 'kotlin-android'
  id 'kotlin-android-extensions'
  id 'kotlin-kapt'
  id 'androidx.navigation.safeargs.kotlin'
  id 'com.jakewharton.butterknife'
  id 'com.google.gms.google-services'
  id 'com.google.firebase.crashlytics'
  id 'com.google.firebase.firebase-perf'
  id "io.sentry.android.gradle" version "3.1.6"
}

sentry {
  autoUpload = true
  upload

[2022-10-25 08:45] cipolleschi commented on #35054
I think I found the problem, @kalyantm.
I think that the codegen is missing this header:
`#include <react/renderer/core/propsConversions.h>` when it generates those nested structures. When I add it, it builds.

Could you try to add that header to the `Props.h` file in the `React-Codegen/react/renderer/components/RNMenuSpecs` Development Pods and see if it works at runtime too (I don't have an app

[2022-10-25 08:45] TheTushar2696 commented on #35056
@cortinico  Could this be happening because of this:

`packagingOptions {
    pickFirst 'lib/x86_64/libjsc.so'
    pickFirst 'lib/arm64-v8a/libjsc.so'
    pickFirst '**/armeabi-v7a/libc++_shared.so'
    pickFirst '**/x86/libc++_shared.so'
    pickFirst '**/arm64-v8a/libc++_shared.so'
    pickFirst '**/x86_64/libc++_shared.so'
  }`

[2022-10-25 09:22] Allenkardic commented on #34612
I am still having this issues are there any solutions for this yet

[2022-10-25 09:33] roots-ai commented on #35029
Made the changes in the question, please have a look

[2022-10-25 09:50] cipolleschi commented on #35054
It puzzles me because [here](https://github.com/react-native-webview/react-native-webview/blob/new-arch-ios/src/RNCWebViewNativeComponent.ts#L241) headers share a completely similar setup and the maintainer said that they are working... 🤔

[2022-10-25 09:53] kalyantm commented on #35054
@cipolleschi Yup, including that header fixed it for me!

[2022-10-25 09:55] roots-ai commented on #34867
Yes, this got solved by following the RN upgrade guidelines, but other issues popped up https://github.com/facebook/react-native/issues/35029

[2022-10-25 10:43] Acetyld commented on #34991
Same error here, any update?

[2022-10-25 10:46] exzos28 commented on #34991
i couldn't solve it, i get one successful app launch every 10-15 times.
It looks like the only successful option is to update react-native.

[2022-10-25 10:47] Acetyld commented on #34991
Yhea i did that, updated to newest react-native, still nu success

[2022-10-25 11:00] ahtokca commented on #33896
Reproduced at
jsc-android version 250230.2.1

Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x48 in tid 24761 (xxxx), pid 24761 (xxxx)
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'samsung/y2seea/y2s:12/SP1A.210812.016/G985FXXSEFVE6:user/release-keys'
Revision: '22'
ABI: 'arm64'
Processor: '5'
Timestamp: 2022-10-25 12:51:25.234091061+0200
Process

[2022-10-25 11:04] kietnguyen0814 opened #35077 "[TextInput] Android/iOS Keyboard next/prev Buttons & tab Support"
### Description

I have been unable to find throughout the documentation, or my own experiments a way to enable Android/iOS keyboard navigation. I feel like this is important and expected from users to be able to navigate between input elements and submit from the Android/iOS keyboard.

If somebody already has a solution for this, please let me know 😄

Request

Activate Android next/prev on the Bu

[2022-10-25 11:17] HarshitMadhav commented on #25537
Okay ! Here is my fix for this I was facing this issue,

I managed to fix this `"libjsc.so" not found` by installing the jsc-android package from npm. Here is the [link](https://www.npmjs.com/package/jsc-android).

**`Please NOTE`** : Refer to the docs of this package for proper installation as per your react native version

clean gradle and re run the entire app this issue will be gone.

but for

[2022-10-25 12:48] abdullahbayram commented on #35053
The documentation(https://reactnative.dev/docs/environment-setup) lead me to https://github.com/facebook/react-native/blob/main/template/_ruby-version and I installed ruby v2.7.6.
When I run
`npx react-native init AwesomeProject`
I got the same error(with different version):
`Your Ruby version is 2.7.6, but your Gemfile specified 2.7.5 `
I'm confused at this point. Should I have v2.7.5 or v2.7.6 f

[2022-10-25 13:08] sammy-SC commented on #34990
@amgleitman thank you for the report!

https://github.com/facebook/react-native/commit/e9b89b5ff2b0085128bec2879d761352747d6714 should fix it.

[2022-10-25 14:30] HarshitMadhav commented on #32928
Okay ! Here is my fix for this I was facing this issue,

I managed to fix this `"libjsc.so" not found` by installing the jsc-android package from npm. Here is the [link](https://www.npmjs.com/package/jsc-android).

_`This issue only comes when you have Hermes engine enabled.`_

**`Please NOTE`** : Refer to the docs of this package for proper installation as per your react native version

clean gra

[2022-10-25 15:44] caixingyue commented on #35053
Yes, obviously my version is correct, but at `init`, it tells me that my version is wrong again, I don't understand why.
<img width="567" alt="image" src="https://user-images.githubusercontent.com/39073687/197820046-43a6f218-b8de-4cf6-8199-16fd8c81b594.png">

[2022-10-25 15:45] Productivix commented on #34688
hi,
same pb : for me it was Axios : good in v0.27.2, and thoses messages when I jumped to 11.3 ! @jasonsaayman

[2022-10-25 16:47] alfredarcifa commented on #34871
Are you sure?
If I set 7.3.0 in build.gradle I receive an error console:

[code]

[2022-10-25 17:15] efeakyuz opened #35082 "'CompileC' error after React Native Upgrade"
### Description

`The following build commands failed:`
`CompileC /Users/username/Library/Developer/Xcode/DerivedData/Aposto-gmqtdupzstzukkcwwycvjhdnwfeh/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/React-Core.build/Objects-normal/x86_64/RCTAppSetupUtils.o /Users/username/file/Dev/mobile/node_modules/react-native/React/AppSetup/RCTAppSetupUtils.mm normal x86_64 objective-c++ com.ap

[2022-10-25 17:51] robbiesmith79 commented on #35053
I'm getting the same error. I did `which ruby` and it listed my rbenv/shims/ruby. I've updated my `.bash_profile` and `.zshrc`. I have confirmed my version is actually 2.7.5 but the npx react-native init still oddly thinks I'm using 2.6.8. I'm not. What am I missing?

[2022-10-25 18:09] PratthamArora commented on #35033
any help here?

[2022-10-25 19:42] Dragollla commented on #27887
Present in 0.70.2

[2022-10-25 20:43] Marcoo09 commented on #35082
Hi @efeakyuz Maybe this thread is useful for you: https://github.com/facebook/react-native/issues/26118#issuecomment-525085809

[2022-10-25 22:10] necolas commented on #34425
@Marcoo09 yes please, there is no existing PR. Since this isn't a feature that can simply be aliased to existing styles, you might want to first share how you plan to implement this feature, so we can run it past the RN team before you get started. Thanks

[2022-10-25 22:25] kirannk-1306 commented on #25537
Hi @HarshitMadhav, I am facing similar issue with libjsexecutor.so after enabling hermes on RN 0.68. Tried all possible solutions, please let me know if you find any solution.

[2022-10-26 00:17] MonkeyThunk commented on #33102
It was having this issue at a coffee shop, the docs pointed me to two solutions, I used my phone's hotspot.

"If you have any issues, ensure that your Mac and device are on the same network and can reach each other. Many open wireless networks with captive portals are configured to prevent devices from reaching other devices on the network. You may use your device's Personal Hotspot feature in thi

[2022-10-26 02:17] #33056 closed

[2022-10-26 02:17] #33024 closed

[2022-10-26 02:17] #32896 closed

[2022-10-26 02:21] corasan commented on #34688
This was my issue as well, downgraded to axios v0.27.2 and everything worked fine.

[2022-10-26 03:11] roots-ai commented on #35029
@cortinico

[2022-10-26 03:36] ddikodroid commented on #35053
you can leave the error, maybe there's something wrong with cli.

just go to the project dir and execute
[code]

the project should running fine

[2022-10-26 03:37] ddikodroid commented on #35053
you can leave the error, maybe there's something wrong with cli.

just go to the project dir and execute
[code]
the project should running fine as long as your ruby version is same with the recommended version

[2022-10-26 03:38] oaldobarbosa commented on #34688
With me also the problem was axios, I solved the problem by downgrading to version 0.27.2

[2022-10-26 03:54] caixingyue commented on #35053
This method solves the problem and the project runs fine.

But every time a project is initialized, it needs to be run once, which is very cumbersome and cannot solve the fundamental problem. I am looking for a way to solve the fundamental problem, that is, it can run smoothly during `npx react-native init`.

[2022-10-26 03:55] caixingyue commented on #35053
This method solves the problem and the project runs fine.

But every time a project is initialized, it needs to be run once, which is very cumbersome and cannot solve the fundamental problem. I am looking for a way to solve the fundamental problem, that is, it can run smoothly during `npx react-native init`.

[2022-10-26 04:05] gabrieldonadel commented on #34872
Hi @cipolleschi I would like to help with the following task

[2022-10-26 05:57] Gdevil commented on #31505
tried many times, still not work

[2022-10-26 06:31] atkaygro commented on #35053
Since you are running on M1 there might be something wrong with architecture handling:
If you spawn a shell using something similar to
`
arch -arch x86_64 bash
`
everything run from the new shell will think, its running on intel, so running
`
arch
`
on the new shell should yield x86_64. Try installing ruby 2.7.5 (and react-native cli) from that and see if that helps.

[2022-10-26 06:40] 310381453 commented on #33006
What should I do In JNI code

[2022-10-26 06:53] tomduncalf commented on #33006
@310381453 here is how I did it for Android: [https://github.com/realm/realm-js/commit/7b9ee1c3bd6b9b5d7ede8c7feeca90a3081cc0ac. I](https://github.com/realm/realm-js/pull/4725). Some of the complexity may be related to how Realm is set up. I seem to recall that if you use Turbomodules it is easier to get hold of the async call invoker.

[2022-10-26 07:03] radenlarko opened #35087 "Upgrade Failed"
### New Version

0.70.4

### Old Version

0.70.3

### Build Target(s)

Android Virtual Device

### Output of `react-native info`

System:
    OS: Windows 10 10.0.19043
    CPU: (4) x64 Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz
    Memory: 938.16 MB / 7.92 GB
  Binaries:
    Node: 16.14.2 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 8.5.0 - C:\Program Files\nodejs\npm.CMD
    Watch

[2022-10-26 07:15] gonefish commented on #35053
You can change ruby version in Gemfile, and then

1. bundle install
2. cd ios
3. bundle exec pod install

[2022-10-26 07:51] HarshitMadhav commented on #35029
Make sure Flipper is running

[2022-10-26 07:55] Acetyld commented on #34991
We found a solution for now.
Upgraded whole project to newest react-native and enabling "hermes", we couldt do this before because we are using Realmsjs, but!! 1 week ago they finally released Hermes support!.

For now we finnaly got android and ios working with code push, lets hope for little bugs :S

[2022-10-26 08:13] ohheyitskartik commented on #34872
Hi, i would like to takeup -

[2022-10-26 08:38] ohheyitskartik commented on #35087
seems like you would have to manually upgrade using - https://react-native-community.github.io/upgrade-helper/?from=0.70.3&to=0.70.4 as suggested in the output, its a few line change

[2022-10-26 08:47] radenlarko commented on #35087
yes but i don't have _ios/RnDiffApp.xcodeproj/project.pbxproj_ file in my project

[2022-10-26 09:36] selven commented on #35087
It would be ios/YOURPROJECTNAME.xcodeproj/project.pbxproj

[2022-10-26 09:40] radenlarko commented on #35087
oh i see, thank you @selven

[2022-10-26 09:40] #35087 closed

[2022-10-26 11:11] hellohublot opened #35090 "[Performance] Images on the iOS disk should be loaded from the background thread"
### Description

If an image is on the disk, we can't load it in the `main thread`, because it will cause the `main thread to get stuck`. The affected libraries include `react-native-code-push` and a series of libraries `that save the image in the sandbox`
https://github.com/facebook/react-native/blob/c868d5b26c5d680603d3f653de9277124c1b539b/Libraries/Image/RCTLocalAssetImageLoader.mm#L25-L35

###

[2022-10-26 13:06] Daha62 commented on #34893
having the same problem

[2022-10-26 13:32] heetsamber commented on #33926
@BegahanMan457  Thanks !!! you are my life saver

[2022-10-26 13:52] paulmthiebauth commented on #32928
Seeing this issue right now with RN `0.68.2`

[2022-10-26 14:13] cipolleschi commented on #34872
The other one depends on [this pr](https://github.com/facebook/react-native/pull/35057)... mmmhhh... It looks like I have to create some other tasks. I'll do that asap. Sorry for the inconvenience.

[2022-10-26 15:00] AntoineDoubovetzky commented on #34872
I just updated the PR, it should be ready to merge

[2022-10-26 15:11] facuescobar commented on #34063
None of the latest workarounds in previous comments have worked for me

[2022-10-26 16:31] thegolddustrush commented on #34928
Thanks for all your help. We actually figured it out. It appears out our network provider utility was interfering with the rendered components.

This library : import { useNetInfo } from '@react-native-community/netinfo';

We had some <View></View> appear when the network connection was not live. Although our connection to the network was up, it still was getting in the way of the buttons it appea

[2022-10-26 16:31] #34928 closed

[2022-10-26 16:53] mganandraj commented on #35006
@ayuan-gy Have you enabled long file paths on Windows host ? Could you also try switching to ndk24 ?

[2022-10-26 17:01] efeakyuz commented on #35082
@Marcoo09 I already checked this, nothing came up here :(

[2022-10-26 17:54] hirwablessing commented on #31507
You simply have to add that file inside the `Podfile`. But remember that the pod install script already exists, so try finding it and replace it with that.

[2022-10-26 18:58] necolas commented on #34424
Good spot. I'll add one more task to add `option`.

[2022-10-26 19:48] jeandiego commented on #34688
In case someone is experiencing this issue and have the packages 'lottie-ios" and "lottie-react-native" installed, in my case upgrade theme to latest version stopped the error. I'm using react native v0.70., lottie-ios v3.4.0 and lottie-react-native v5.1.4.

[2022-10-26 22:42] Slapbox commented on #35030
@janicduplessis @jpporto hopefully I'm not speaking too soon - but this seems to be caused by having `StrictMode` enabled. After disabling it, so far, no crashes.

`StrictMode` wastes more time than it will ever save, I have to conclude.

[2022-10-26 22:43] janicduplessis commented on #35030
I think since the issue is not super critical it should be fine to wait for next expo release to see if it is fixed.

[2022-10-26 22:50] Slapbox commented on #35030
@janicduplessis maybe not critical for the React Native team, but pretty critical for us... I waste 50% of my time per day because of this, unless the work I'm doing doesn't require the debugger. Note the times between crashes in this image:

![image](https://user-images.githubusercontent.com/6835891/198153280-2005a8d7-c1e0-4f7a-9b6a-0fd3f9981159.png)

Also note that I did indeed speak too soon; d

[2022-10-26 23:36] marquinmpfs commented on #27857
Same issue on all Iphones

![image](https://user-images.githubusercontent.com/10059932/198158377-6c763d6b-3bd6-40b4-9756-954c9a9c9c0b.png)

Any solution?

[2022-10-26 23:55] marquinmpfs opened #35096 "RCTBlobManager handleNetworkingRequest React native IOS"
### Description

I have an error only on iOS to upload the image, on android it goes normally.

In another app I made, I use the same format to send the bytes of a uri, but since this one is on a newer version (`0.70.4`), I'm getting this error.

I've tried everything, but I don't know how to solve it, does anyone have an idea?

Apparently the problem is with:

`const img = await fetch(path);`

`c

[2022-10-26 23:58] arthurhts commented on #33217
I have the same problem here.

Tested Versions
- react-native: 0.70.2 and 0.70.4
- axios: 0.21.4 - 0.27.2
- targets sdk 31 and 33

[2022-10-27 00:16] steavenb commented on #25537
For the folks upgrading to RN 0.70, we need to replace this
`if (enableHermes) {
        def hermesPath = "../../node_modules/hermes-engine/android/";
        debugImplementation files(hermesPath + "hermes-debug.aar")
        releaseImplementation files(hermesPath + "hermes-release.aar")
        implementation jscFlavor // It's important
    }`

with

`if (enableHermes) {
        //noinspection Gr

[2022-10-27 01:32] marquinmpfs commented on #27857
I tried to do it the way you did, but here it also didn't work I made the patch.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/10059932/198170223-a75837f2-9c74-4cd0-b296-f53da205f2a5.png">

<img width="366" alt="image" src="https://user-images.githubusercontent.com/10059932/198170257-f4f27710-be1a-47d5-867c-a0de08e5252f.png">

[2022-10-27 02:16] #32860 closed

[2022-10-27 04:24] roots-ai commented on #35029
@HarshitMadhav As you can see in the repo that I shared, I have remove all the references of Flipper from the code. So was expecting to not start Flipper along.

Though, now trying to include all Flipper code and see if it works.

[2022-10-27 04:51] hikopublic commented on #34979
:mac_catalyst_enabled => false . I commented this line and everything worked fine

[2022-10-27 05:13] iamvucms commented on #34979
Commented out mac_catalyst_enabled => true and everything worked fine. Thanks all
[code]

[2022-10-27 08:09] Ainias opened #35097 "Unnecessary Linebreak when content is as wide as text-component"
### Description

When the content of a text-component has the same width as the text-component itself, it can lead to a line break which leads to an empty line.

### Version

0.70.4

### Output of `npx react-native info`
[code]

### Steps to reproduce

Add
[code]
to your project

Then use the emulator Pixel XL with API 30 or iPhone 11 with iOS 14.0 to display the component. It should be using two

[2022-10-27 09:55] MaAlkhalaf commented on #17530
still happens with RN 0.66

[2022-10-27 10:07] efeakyuz commented on #35082
Problem solved yey. Maybe these reproduce steps will help someone. #26118 (comment) I applied the solution here before, but nothing happened. I tried these steps again. Then I stopped running Xcode with rosetta and came back on arm64. I realized that these kinds of errors are much more difficult to resolve with CLI. so I started getting builds from Xcode and check the errors from there. The first

[2022-10-27 10:07] #35082 closed, assigned to nobody

[2022-10-27 10:37] sandeep-subramani opened #35102 "pod installation on my ios folder in my react-native project throws error"
### Description

After creating a react native project using React Native CLI Quickstart, tried to install pod using `arch -x86_64 pod install` in the ios folder, that throws the following error:

Auto-linking React Native modules for target `MobileApp`: RNReanimated and react-native-skia
[Codegen] Generating ./build/generated/ios/React-Codegen.podspec.json
fatal: not a git repository (or any of t

[2022-10-27 11:06] elenitaex5 commented on #33571
What about experimenting same problem but not having `react-native-extra-dimensions-android` in my project???

[2022-10-27 11:17] jasonsaayman commented on #34688
Which version were you using prior to the downgrade?

[2022-10-27 11:38] dcangulo commented on #34719
Issue persists when upgrading from 0.69.3 to 0.70.4

[2022-10-27 11:42] buschco commented on #34349
I had a similar problem, and got it working by patching the `KeyboardAvoidingView` in react-native:

[code]

[2022-10-27 12:27] apolo-deloitte commented on #33731
If you remark where you put that it would be easy. Thanks!

[2022-10-27 12:57] Leonardo2604 commented on #35046
+1 I have the same issue

[2022-10-27 12:57] Leonardo2604 commented on #35048
+1 I have the same issue

[2022-10-27 13:26] shanhassan06 commented on #34624
You have to Set  :hermes_enabled => false in podfile

[2022-10-27 13:28] shanhassan06 commented on #34624
You should try
 :hermes_enabled => false
in podfile

[2022-10-27 14:48] jonesaustindev commented on #32928
Seeing this as well upgrading from `0.69.1` to `0.70.4`. Have had hermes enabled for quite a while already.

[2022-10-27 15:02] t1gu1 commented on #34677
I got the same same error. (The one on the image)

For me everything build on XCode v13.4.1 but **not on XCode v14**.
We use react-native: **0.70.3**

[2022-10-27 15:20] Sun-SunQian commented on #35053
I am having the same issue with Mac intel chips. ruby -v shows the correct ruby version, but running the project keeps on getting the same error message as you do. I have tried rvm and rbenv, none of them work.