[2017-02-13 11:31] Naoto-Ida opened #12358 "WebView containing URL scheme crashes"
### Description

When opening a URL scheme inside of a WebView, i.e. `urlscheme://`, (which is the scheme of the app itself defined in Info.plist), the app throws the error `RCTFatalException: Unhandled JS Exception: Can't find variable: URL', reason: 'Unhandled JS Exception: Can't find variable: URL` only when the Chrome debugger is turned off.

#9615 seemed like a similar issue, but I am not ins

[2017-02-13 11:41] janaka120 commented on #7408
Try to avoid using largeHeap option. It may cost you hard-to-notice performance drop and bad user experience.

[2017-02-13 11:46] Naoto-Ida commented on #12358
Apologies, this had nothing to do with the WebView component. Just the call back for the deep linking contained a instantiation of `URL` that I'd forgotten.

[2017-02-13 11:46] #12358 closed

[2017-02-13 11:52] Naoto-Ida commented on #9615
The correct answer to this should be installing [url-parser](https://www.npmjs.com/package/url-parse).

[2017-02-13 12:49] macnube commented on #12336
@lacker You know, I think this may have been an install that I downgraded back to 0.38.0 at some point because I was running into some other issues. I'll see what happens if I start from a fresh install with the project.

@ncuillery Nothing comes to mind and it was happening every time, though admittedly I didn't more than 5 times. With the extra info you've provided, I'll keep an eye out to see i

[2017-02-13 12:50] duhecx opened #12359 "Switch layout calculation fails on Android (SwitchCompat)"
### Description

Using Switch in my jsx fails with an error shown on the image below on Android, but works fine on iOS.
Tried changing buildToolsVersion, compileSdkVersion, targetSdkVersion in gradle config, but to no success.
Problem still persists on latest React native version (0.42.2).

![screenshot_1486988203](https://cloud.githubusercontent.com/assets/9784392/22884068/40c00810-f1f3-11e6-8c59

[2017-02-13 12:56] yury commented on #12259
@flaviotobi why you close this?

Did you found solution for this?

[2017-02-13 12:58] samparmenter commented on #12210
Yeah this is a bit of a mess really. I have a ~1600 line file now where I have to go through and fix all these issues by hand.

[2017-02-13 13:14] julienfouilhe commented on #11781
@alloy What release will this commit be available into? Can we expect it to be part of `0.42.0`?

[2017-02-13 13:26] pilwon commented on #12294
Same problem here. Does someone have any suggestions?

[2017-02-13 13:48] maikokuppe commented on #8454
I'm not planning to make a PR in the near future, since I'm currently working with non-RN related stuff.

[2017-02-13 13:49] semekh opened #12360 "Touches pass through overlay Views in Android, but not iOS"
### Description

There is a discrepancy between event propagation in iOS and Android.

On Android: You can have have two "overlay" views that span the whole view, containing some control elements. All control elements are tappable, as long as they don't overlap.

On iOS: The same configuration results in the top view acting like a glass that prevents any interaction with the elements on the bottom

[2017-02-13 13:49] kiki-le-singe commented on #10569
Hi guys!

I have the same problem and I saw this article: [React Native on Android — Lessons Learned](https://zeemee.engineering/react-native-on-android-lessons-learned-99fee8f1d390#.wg1htev6c)

I tried some recommendations and it seems to work well.

[2017-02-13 13:59] gourav-singhal opened #12361 "Code complexity for JSX code"
How can I get the code complexity for JSX code in VS code editor ? Currently I am using Code Metrics but I don't think it calculates the complexity of JSX code properly.

[2017-02-13 14:29] npomfret commented on #12261
Ugh, I'm trying to upgrade from  39 to 41, and even though I've not modified the at all since I've still got loads of conflicts in the _project.pbxproj_ file.  It just doesn't work, I think the only answer is to rebuild your project from scratch

[2017-02-13 14:43] quentinfasquel commented on #12286
@Snorlock were you able to compile ReactAndroid ?

[2017-02-13 14:56] grundmanise opened #12362 "ScrollView inside a View. Pass pan events from View to ScrollView"
I have a `ScrollView` inside a `View`. `ScrollView` is smaller than the `View`. I need to start a `pan event` on the `View` (outside of the `ScrollView` `bounds`) and pass it to the `ScrollView`, so that I can scroll the `ScrollView` while panning on the parent `View`. How can I pass a `pan events` from a `View` to the `ScrollView`?

Is it possible to set something like:

`[self.view addGestureRec

[2017-02-13 15:08] Dashue commented on #9136
Windows 10 vscode v1.9.1 here

[2017-02-13 15:29] ivpusic commented on #10915
update...ReactRootView#onGlobalLayout is not called when running on samsung galaxy s3, therefore there is no chance to trigger event. @lacker any ideas?

[2017-02-13 15:33] ptomasroos commented on #9433
@Hitabis Looks something like this

[code]

[2017-02-13 15:33] ptomasroos commented on #9433
We should close this issue. It makes no sense, everyone can use their own style interpolator

[2017-02-13 15:37] flaviotobi commented on #12259
I understand that the problem was somewhere where the data is decoded (the response came with data very nested), so in the server side we break the information in peaces for a better decode and networking process.

[2017-02-13 15:55] thurt opened #12363 "Confusion on which APIs should work (or must be mocked) in a jest testing environment"
### Description
when I was using react-community/react-navigation, I realized that I had to create stubs for the react-native Linking API in order to snapshot test my navigators without getting exceptions.

Then, I went on to test another component which uses the Dimensions API, expecting that I should stub Dimensions, only to find out that Dimensions actually works inside the jest testing environ

[2017-02-13 16:00] apopek commented on #7848
margin not work too for me

[2017-02-13 16:12] ptol opened #12364 "onPressIn doesn't work if key has been changed"
`onPressIn` doesn't work every other touch.
[code]
If you remove key from
[code]
or replace `onPressIn` with `onPress` it would work every touch.

* React Native version: 0.41
* Platform: Android
* Operating System: Windows

[2017-02-13 16:40] tiaaaa123 commented on #2763
Same issue in 0.40.0.

[2017-02-13 16:47] tiaaaa123 commented on #9566
Both workaround does't work for me in `react-native@0.40.0`

[2017-02-13 17:15] fcFn commented on #11681
I've noticed that not specifying `behavior` will get different results from specifying any one of three mentioned on doc page. It works better without the prop for me, no extra padding.

[2017-02-13 17:51] hramos commented on #10700
@kidphys the tutorial covers several small examples, it is not building towards one final app. Using one unique module name would imply all these examples go together in the same app, which would cause other issues.

I will be revisiting the whole tutorial workflow soon, and I will tackle this source of confusion

[2017-02-13 18:25] Snorlock commented on #12286
I just followed what they said, so i believe so. But I have not tried to use the menu yet. Will check it out next week, currently on vacation.

[2017-02-13 18:35] adamski commented on #10585
I managed to solve this by going in and deleting Pod-created `.a` files from the main Products/Release-iphoneos folder. Then rebuilding. Looks like leftovers from a previous folder structure.

[2017-02-13 18:47] cuongtructran commented on #10845
I'm having exact same problem, funny thing is that it happens randomly and the number of occurrences different from device to device.

For example, I have Galaxy S7 Edge and I couldn't reproduce it but in the other hand, our QA has Galaxy S7 and he faced that issue frequently.

Please someone working on this project, let us know which version you will fix this problem? This should be prioritized a

[2017-02-13 18:50] praveenperera commented on #10845
Note for anybody reading we solved our problem but in our case it had nothing to do with the Modal. It was a problem with react-native-router-flux we were not managing the scene stack properly. Using Actions.pop() correctly fixed our problem.

[2017-02-13 20:19] MarvinSantos commented on #10845
hey guys, i had this problem with an input inside a modal, In my case the keyboard was being hidden when the submit button were being pressed, and i was closing the modal before the keyboard finish hiding, that flux was causing the error, the InteractionManager didn't help, so i had to put a setTimeout 200ms to wait and then hide the modal. hope this helps.

[2017-02-13 20:28] lacker commented on #10915
Is this only happening on a Samsung Galaxy S3 or can you also repro it on other Android devices?

[2017-02-13 20:40] chrisbianca commented on #11677
I've got the same issue when trying to build from a fork of React Native 0.41.2.

Have spent the whole afternoon trying to get it to work with all sorts of different fixes suggested arounf the web but it doesn't want to work.  As soon as I switch back and point at 0.41.2 from npm it works fine, even when building from source!!

I haven't managed to figure out what's different between building from

[2017-02-13 21:16] ivpusic commented on #10915
currently only for s3.

[2017-02-13 22:21] lorrainefox commented on #2814
I have the same request, that we can run in 64-bit mode.

On Wed, Feb 8, 2017 at 10:04 AM, Adam Markon <notifications@github.com>
wrote:

[2017-02-13 22:39] RangerMauve commented on #9854
This isn't working in version 0.41.2

[2017-02-13 23:37] nhayfield commented on #11230
@the-ant those might work but they don't have all the new onMessage functionality and are outdated

[2017-02-14 01:03] yaalax-steve opened #12366 "ScrollView Broken on iOS Devices (emulator fine)"
### Description

I found when developing a complex application that ScrollView would work fine everywhere, except iOS physical devices. The iOS simulator, Android devices, all work without a problem. The symptom is that the scrollview will snap back immediately to the top of the area (but if you keep scrolling, all child content is rendered and the heights in the hierarchy are correctly measured).

[2017-02-14 01:06] WillSmithInChina commented on #12324
@Amurmurmur  this way didn't work for me

[2017-02-14 01:35] saigrandhi commented on #8510
@lebronJ We tested your code once again on Ubuntu with RN 0.41 and got the copy button to work after installing xclip with `sudo apt-get install xclip`.

Is it possible to add xclip as one of the dependencies when installing react-native on Linux?

[2017-02-14 02:07] jrodiger opened #12367 "Packager doesn't launch automatically on Windows and Linux"
### Description

When running `react-native run-ios` or `react-native run-android` on Mac OS, the packager is launched automatically in a new terminal window while the project is built. On Windows and Linux `react-native start` needs to be run manually in a separate shell, while `react-native run-android` is run in a different shell.

### Reproduction

Run `react-native run-android` on Windows or

[2017-02-14 02:25] rdagger commented on #4787
I'm experiencing the same problem.  The onDateChange event doesn’t always get passed the selected date.  Specifically if you spin the day wheel and then push it slightly right as it is stopping.  This can have very negative consequences since the user thinks they chose the correct date but the program stores a different date.  The problem might be more prevalent on slower devices.

[2017-02-14 02:27] cwRichardKim commented on #10027
+1
no solutions thus far have helped

[2017-02-14 02:37] ivpusic opened #12368 "ios simulator + "debug js remotely" = modals not showing up"
* React Native version: 0.42.0-rc.2
* Platform: iOS Simulator
* Operating System: MacOS

I installed RN 0.42.0-rc.2 and noticed that when I turn on remote js debugging, modal windows are not opening anymore. If I turn off js remote debugging, then again everything is fine.

[2017-02-14 03:12] the-ant commented on #11230
@nhayfield At last, I decided to use the [crosswalk webview](https://github.com/jordansexton/react-native-webview-crosswalk)

[2017-02-14 03:57] 2015lucky commented on #7775
I also met with the same question ,please tell me how to solve it ,thank you very much.

[2017-02-14 04:02] oargaruna opened #12370 "[Android] ToolbarAndroid is not accessible"
### Description

There is no prop in ToolbarAndroid which allows us to provide accessibility labels for the navigation icon. Ideally, we should be able to provide either an image source, or a View as the nav icon.

### Reproduction

1. Add a ToolbarAndroid component with a nav icon to any React Native View.
2. Activate Talkback on an Android phone.
3. Bring Talkback focus to the nav icon.
4. Talkb

[2017-02-14 04:18] EgaSetya commented on #10170
Have the same issue, I'm on 0.36. Do you Find any workaround for this issue?

[2017-02-14 05:28] AlimovSV commented on #10027
Edit Scheme -> Run -> Arguments - new env. var. `OS_ACTIVITY_MODE` with `disable` helped me

[2017-02-14 05:29] ShaqCc opened #12372 "[Android] downloadBoost Failed , Invalid cookie header"
## this is log:
$ ./gradlew :Examples:UIExplorer:android:app:installDebug
Incremental java compilation is an incubating feature.
:ReactAndroid:preBuild UP-TO-DATE
:ReactAndroid:preReleaseBuild UP-TO-DATE
:ReactAndroid:checkReleaseManifest
:ReactAndroid:preDebugAndroidTestBuild UP-TO-DATE
:ReactAndroid:preDebugBuild UP-TO-DATE
:ReactAndroid:preDebugUnitTestBuild UP-TO-DATE
:ReactAndroid:preReleaseU

[2017-02-14 05:51] hey99xx commented on #12364
There might be a bug in RN, but this example looks like it's intentionally created to make things fail. In what real life scenario, does key have to change in the middle of a press?

[2017-02-14 06:31] ptol commented on #12364
@hey99xx For example, I want to use object id as a key and I want to show new objects `onPressIn`.

[2017-02-14 06:33] WillSmithInChina commented on #8615
same to 0.41.2

[2017-02-14 06:43] hey99xx commented on #12359
Same as https://github.com/forcedotcom/SalesforceMobileSDK-ReactNative/issues/14

There's a bug report about Android switch view almost every month now; it seems many libraries use different versions of support libraries, always having incompatibility issues.

I think this is possible but not super straight-forward. Notice that `mShowText` can be customized with https://developer.android.com/refer

[2017-02-14 06:45] hey99xx commented on #12359
All that said, I think RN should have a fix hopefully. In my app, none of the devs is using the React switch component because of all the other bugs it got reported about. So we decided it's not worth it, and rolled out our own switch implementation with touchables.

[2017-02-14 07:21] BogdanHossu commented on #11964
My solution for the moment was to make my own "activity indicator" from a image which I am rotating it.

[2017-02-14 07:26] BogdanHossu commented on #11230
In the end I used the code from [this repo](https://github.com/martinarroyo/react-native-webview-file-upload/). Where I have created my own webview so also the onMessage functionality is there and the file upload.

[2017-02-14 07:27] lesniakania commented on #12014
@AaaChiuuu @sahrens @mmmulani @janicduplessis @amonshiz I see you (and many others) committing to this repo, but why no one responds to any issues? It is kind of worrying and discouraging from using react-native at all.

[2017-02-14 07:47] kythanh commented on #11327
Upgraded npm then follow @herudi commands worked for me.
[code]

[2017-02-14 07:54] kmuralidharan91 commented on #12294
Solution from @julienfouilhe

You don't need all the above fixes anymore, remove your patch function in your Podfile, remove the postinstall script in your package.json, just put the master branch of react-native in your dependencies and add yoga as a pod dependency and it should work

package.json:

"react-native": "facebook/react-native#master"
Podfile:

  react_path = '../node_modules/react-nat

[2017-02-14 08:10] oargaruna opened #12374 "[iOS] VoiceOver focus does not automatically move to first unrendered element in ListView"
### Description

Our project is a hybrid of React Native modules and native UI. We are adding accessibility to our App and are hitting a weird issue with VoiceOver in ListView:

VoiceOver does not automatically shift focus to elements rendered after the last visible element in a ListView.

### Reproduction

I have been able to reproduce the bug in a sample app: https://github.com/oargaruna/ListVie

[2017-02-14 08:54] djw27 commented on #11681
This is fixed/explained in the upcoming release (v0.42) of RN https://github.com/facebook/react-native/commit/e3d4ace3ae46e3e4046e1ec5a201b92033deb24a

[2017-02-14 09:09] Thibaut-Fatus opened #12375 "Platform specific libraries - automatic linking"
### Description

When using react-native link every dependency is linked to both iOS and Android projects, and I found no way (neither in rnpm legacy code nor react-native cli) to choose to link a lib only to a specific platform (Firebase Cloud Messaging in my case)

### Reproduction

Add a lib you want to use only in iOS or respectively in Android, call react-native link, lib will be linked to bo

[2017-02-14 09:38] AleF83 commented on #12172
@grabbou. Does this commit ([#12089](https://github.com/facebook/react-native/pull/12089) - [`031cb20`](https://github.com/facebook/react-native/commit/031cb2045de0ed430d539eb3d5c44baa2fe3bc8b)) supposed to be contained in rc.2/3? It will help me a lot! 10x

[2017-02-14 09:40] Poney1 opened #12376 "Task 'installDebug' not found in root project 'android'."
### Description
Integration With Existing Apps  and  execute "react-native run-android"

![image](https://cloud.githubusercontent.com/assets/10766773/22923482/9ce272ce-f2dc-11e6-9854-1f8498656043.png)

### Solution

### Additional Information

* React Native version: [the lastest version]
* Platform: [FILL THIS OUT:  Android, ]
* Operating System: [ Windows 7 x64 ]

[2017-02-14 09:42] alloy commented on #12172
@guysegal @AleF83 No new RC has been cut yet. @grabbou said he would include all the above commits, so it should all be in the next RC.

[2017-02-14 09:42] roselind opened #12377 "fetch ， When a request is not completed, the resulting memory leaks(iOS and Andriod)"
Call **fetch** for network requests when a request is not completed ，the resulting memory leaks(iOS and Android)

on iPhone simulator ：（instrument check）
![8e6cd0bb-635b-46ed-a8b3-e9452907813f](https://cloud.githubusercontent.com/assets/9067932/22921958/b70d9472-f2d6-11e6-9d1e-e6b07c33ab0d.png)

on Android Studio tip:
![39cbfa21-eb44-442d-9d54-3f5d7b6e493d](https://cloud.githubusercontent.com/asse

[2017-02-14 09:55] vuongp commented on #11825
Hi I'm having te same issue:
[code]

[2017-02-14 10:01] Thibaut-Fatus commented on #12375
Feel free to give me guidelines on how you'd like to see this support added, I'll be glad to help.

For what I've seen it won't be over complicated to patch [react-native/local-cli/link/link.js](https://github.com/facebook/react-native/blob/1c249e4804030b5691adf508751c369bf0036f1c/local-cli/link/link.js) but I'm unsure how to declare this dependencies (adding react-native specific keys to npm pack

[2017-02-14 10:55] khalidahmada commented on #10078
I Have the same issue :'( Building 93% > :app:bundleReleaseJsAndAssets **never progress** still gets stuck on Mac OS

[2017-02-14 10:56] steveliles commented on #9218
@idrougge ...

```Feb 14 10:42:01 localhost CoreSimulatorBridge[6978] <Warning>: Pasteboard change listener callback port <NSMachPort: 0x7fbd07c0a390> registered```

... seems to be caused by connecting to log-ios - it is always the most recent message immediately after i connect.

[2017-02-14 11:05] AndrewJack commented on #11891
The TextLayoutBuilder library has this in it's proguard rules (Fixed it for me):
[code]
https://github.com/facebookincubator/TextLayoutBuilder/blob/master/proguard-android.txt

[2017-02-14 11:19] khalidahmada opened #12378 "app::bundleReleaseJsAndAssets gets stuck never progress"
I'm trying to generate release version of my app using React-native :

`./gradlew assembleRelease`
It's progress until **app::bundleReleaseJsAndAssets** gets stuck at 93% and never progress. I dont have any error on terminal.

About OS I'm on Mac OS.

[2017-02-14 11:52] rohitgoyal commented on #12333
How did you solve this?

[2017-02-14 12:02] #12238 closed

[2017-02-14 12:10] mehdyMa opened #12379 "React Native Beginner Issue"
### Description
Hi developpers,
I am new to React Native, I followed some tutorials on Udemy and now starting working on my end of studies project.
So I am facing some issues, Ididn't get how to use the code proposed on this repository in my project because I am developping it on JSX (with Atom editor), with one file for iOS and android in the same time...
Hope you understand my issue !
Regards.

[2017-02-14 12:10] petegerhat commented on #12333
The solution with screenshot is here http://stackoverflow.com/a/42190870/5185570

[2017-02-14 12:38] julienfouilhe commented on #12294
See #11781

[2017-02-14 12:43] jdmunro commented on #12147
I'd like to take a closer look at this issue. I can't get my hands on an LG phone though so I've so far been unable to reproduce the problem. Is there a way to reproduce the problem using a stock emulator?

[2017-02-14 12:43] MaFiaaaaAxD commented on #11171
+1

React Native version: 0.40.0
Platform: Android
Operating System: Mac OS X

[2017-02-14 13:25] junaidahmed93 commented on #11731
try `npm uninstall -g watchman` then build (without installing again).

[2017-02-14 13:37] mikaello commented on #12147
I haven't been able to reproduce it in the simulators that came with my version of Android Studio. My next step before I figured out the workaround was to test different types of phones on [Firebase test lab](https://firebase.google.com/docs/test-lab/) or [AWS Device Farm](https://aws.amazon.com/device-farm/), but I never tested that. AWS Device Farm has the first 250 minutes free, so that may be

[2017-02-14 13:52] ruiaraujo commented on #12071
@gitim I am getting this again in 0.42-rc2.
It does work on 0.41.

[2017-02-14 13:53] grabbou commented on #12172
@alloy PR was cherry-picked and the build is pending.
@ide PR was closed, changes were not picked.

[2017-02-14 14:25] ggordan commented on #12265
@freakinruben Thanks a lot for that. Managed to get it to archive

[2017-02-14 14:25] #12265 closed

[2017-02-14 15:51] sibelius commented on #12112
@joIivier how can I apply your patch locally?

[2017-02-14 15:51] sibelius commented on #12112
@ncuillery I have the same error from RN39 to RN41

[2017-02-14 16:10] Jickelsen commented on #3049
No idea why this is so hard to find but https://reactnavigation.org/ seems to be the new official navigator, which also uses native animations for transitions. Just started using it the other day but I'm happy with it so far.

[2017-02-14 17:28] mmmulani commented on #12014
hey, this project is pretty high traffic so we don't really have time to go through the issues, cc @lacker (he helps to triage)

you can also check out https://facebook.github.io/react-native/support.html for places to get support. Issues are kind of the last resort, stack-overflow usually works better

[2017-02-14 17:43] Alexintosh commented on #10384
I have the same problem, I can run regular Android app through android studio, cordova, ionic cli and other tools.

[2017-02-14 18:08] note89 opened #12386 "Error in Release notes February 2017"
`adjustSize` should be `adjustResize`

https://github.com/facebook/react-native/pull/12154/files

[2017-02-14 18:09] lacker commented on #12014
We do in fact go through the issues, you can see we have dealt with most of them at https://github.com/facebook/react-native/issues . But it's true that a single issue might not get a response for weeks. In most cases someone from the React Native community does chime in.

I think the tough thing here is that your sample project is massive. When you post your whole project and ask if someone can d

[2017-02-14 18:47] benvium commented on #8615
@djohnkirby Your comment is missing the XML I think you meant to post - can you Edit it please?

[2017-02-14 19:06] jdmunro commented on #12147
AWS device farm looks like a good shout, I'll see what I can find out. Thanks!

[2017-02-14 19:43] matthamil commented on #8720
I came across this issue in RN 0.41.2, and I resolved it by stopping my Android emulator and rerunning it.

[2017-02-14 19:54] jdmunro commented on #12147
Interestingly I've been unable to reproduce this issue on any LG phones with Android 4.x. AWS Device Farm doesn't have any Android 5.x LG devices. Just wondering what version your G3 has?

[2017-02-14 20:40] ryanhomer commented on #11099
@notjosh I'm on RN 0.41 and Flow 0.37.4. I have 469 errors, most of them from `node_modules/`. What `suppress_comment` can I use to suppress these errors? My current config for this is:
[code]
Thanks in advance to anyone who can help. It's almost impossible to use Flow for type checking as is.

[2017-02-14 20:51] dkpalmer commented on #12071
Also getting this on 0.42.0-rc3.

[2017-02-14 20:53] JasonHenson commented on #12288
so, you are saying I must find another approach to get the user's time zone offset? That seems like a basic functionality for the date object.

[2017-02-14 21:13] amadeus commented on #10269
Shouldn't Workers be a JSCore feature, not specific to React Native?

[2017-02-14 21:32] mosesoak opened #12388 "Bugs in Animated + useNativeDriver time values"
### Description

When `useNativeDriver` is used with a supported value like `opacity`, several bugs manifest around time values:

- `delay` appears to operate in seconds, not milliseconds. This makes it look like the animation doesn't run at all, when in fact it's just delaying for several minutes.
- When `delay` is set, `duration` doesn't appear to work – animations just jump to their end frame w

[2017-02-14 21:42] joIivier commented on #12112
@sibelius in cliEntry.js replace `git apply --3way` by `git apply --reject`, run the migration script again and merge manually the files that were rejected by git (files ending in .rej).

[2017-02-14 22:00] ide commented on #12288
I'm saying use whatever technique you would use in iOS Safari, or write a native module if you prefer that option.

[2017-02-14 22:06] janicduplessis commented on #12388
Thanks for reporting this, I'll have a look, we don't have any tests with `delay` at the moment so it's very probable that it's broken.

[2017-02-14 22:06] ide commented on #10269
Workers are a Safari feature, not a JS feature. Some mechanisms like shared memory are JS features though.

[2017-02-14 22:07] JasonHenson commented on #12288
I see thank you.

[2017-02-14 22:07] #12288 closed

[2017-02-14 22:15] vu0tran opened #12390 "ERR! fetch failed when installing react with cocoapods"
[code]

Things I've tried:

1. Restarting my computer
2. rm -rf ~/.cocoapods
3. Clearing the cache
4. npm config set registry https://registry.npm.taobao.org

Any ideas what might be causing this? The project currently is  "react-native": "0.38.0"

[2017-02-14 22:51] ericvicenti commented on #9433
Yeah lets close this. At some point soon we will be migrating to react navigation

[2017-02-14 22:51] #9433 closed

[2017-02-14 23:46] dgurns commented on #41
Still seeing the same issue in 0.41!

[2017-02-14 23:46] nathanmalishev commented on #10002
Having the same issue on RN 0.39. Works on iOS physical device & emulator. Works on android emulator. Breaks on android device (android 6.0.1)

Anyone found a work around?

[2017-02-15 00:44] coreoas commented on #10180
It is working for me today, maybe it was solved in more recent versions (tested on 0.41).

[2017-02-15 01:14] madmaw commented on #4844
None of the above worked for me, but it was an issue to do with something, somewhere in the cache. I resolved the issue by running

react-native start --reset-cache

[2017-02-15 02:17] adamgins commented on #11781
linking https://github.com/facebook/react-native/issues/12294

[2017-02-15 02:36] yimingtang commented on #11781
Good news: [v0.42.0-rc.3](https://github.com/facebook/react-native/releases/tag/v0.42.0-rc.3) is out!

[2017-02-15 03:05] #12372 closed

[2017-02-15 03:19] qq3061280 commented on #11302
+1

[2017-02-15 04:00] SumaiyaKhan commented on #4006
Thank You so much for your suggestion!
It worked...
You are a STAR !!!

[2017-02-15 04:06] MagicalYan opened #12392 "Why foo() output 2 in react-native, but Chrome console output 3?"
foo(x, y = function() { x = 2; }) {
    var x = 3;
    y();
    console.warn(x);
  }
foo();
Who can tell me the reasion?

[2017-02-15 05:47] guiherzog commented on #12379
Hi, I'm happy you are learning React Native. However, this isn't the channel to ask these sort of questions. This channel is focused on issues (a.k.a bugs) existent on the RN framework.

1. If you want to learn how to use RN, write in JSX and ES6/7, you should read the documentation and tutorials on the internet:
https://facebook.github.io/react-native/docs/getting-started.html

2. If you have que

[2017-02-15 05:54] getnashty opened #12393 "Access a ref from inside itself?"
Something I run into quite often, is something like the following:

[code]

the onPress event never works - this._sv is always undefined... I haven't found any documentation around accessing a ref in such a manner, but I imagine there must be a common solution?

[2017-02-15 06:23] lesniakania commented on #12014
Thanks for the response. I can't really go to stack overflow as I believe it's bug in React Native itself.
From My experience developing my library, `PanResponder` is very very very fragile - really weird things happen if you have complex component structure.

@lacker this is example project: https://github.com/lesniakania/PanResponderExample (not my library, the library is massive indeed). Do you

[2017-02-15 07:59] LithodomosVR opened #12395 "StaticContainer file renamed, breaks native-base"
### Description

Latest master has StaticContainer.react.js instead of StaticContainer.js - just want to check whether this is deliberate/correct, so I can submit to either react-native or native-base to fix the problem. When using native-base, it attempts to include StaticContainer so breaks because it can't find it.

### Reproduction
// copied from native-base/src/basic/react-native-scrollable-t

[2017-02-15 08:33] cosmith commented on #2763
@facebook-github-bot reopen

[2017-02-15 09:00] xiaobeibeinihao opened #12397 "crash：undefined is not a function (evaluating '(bridgeConfig.remoteModuleConfig||[]).forEach'"
com.facebook.react.bridge.JSExecutionException: TypeError: undefined is not a function (evaluating '(bridgeConfig.remoteModuleConfig||[]).forEach') (http://localhost:8081/index.android.bundle?platform=android&dev=true&hot=false:7261)
                                                                            at com.facebook.react.bridge.ReactBridge.loadScriptFromFile(Native Method)

[2017-02-15 09:06] danieljvdm opened #12398 "Android white screen on launch"
When I lead my Android (7.0) RN app (0.38.0) I get a white screen (on various simulators + real devices). The logcat error is posted here: http://pastebin.com/96ww1f8S.

I've tried cleaning my gradle and deleting and reinstalling my node modules.

One thing to note is that I am using React Native Navigation which means I had to modify `MainApplication` and `MainActivity` to the following:

MainAct

[2017-02-15 09:31] chiptus commented on #12392
Seems to me like related to where the default y function is defined and what is its scope. React native compiles your code with babel so it is some issues with babel's scoping instead of react native.

Try compiling the code with babel and running the compiled code in chrome.

[2017-02-15 11:00] master-atul commented on #934
@brunolemos Your solution works best ! Easy and clean ! Thanks :)

[2017-02-15 11:04] flavordaaave commented on #10574
I got the same issue when setting/changing the navigation props during transition.
I have a screen where I pass an objectId as a parameter and load the object directly when the user navigates to the screen. As soon as I fetched the object I set the title in the Header/NavBar to the object's name. If the API response comes in before the transition has finished (and I dispatch an updated state with

[2017-02-15 11:09] vu0tran commented on #12390
Apparently this was an npm issue. When I manually cd's into the pods directly and manually ran npm install, npm was somehow trying to use my auth.

Doing a "npm logout" and re-running pod install worked for me.

[2017-02-15 11:09] #12390 closed

[2017-02-15 11:11] adamfaryna commented on #7408
@janaka120, so what alternatives do I have if I want to have a lot of images in my application?

Without `largeHeap="true"` images loads randomly and most of them are blank.

[2017-02-15 11:15] liuxinhu commented on #10715
My 8081 port is also occupied by McAfee. Combining the answer of @ltwaia and @Aaronius, it finally worked for me!

[2017-02-15 11:19] jjhesk commented on #12375
this is the new `rnpm` introduced by the cli? can I have more materials to catch up how to building automatic linkings pls?

[2017-02-15 11:25] ggordan commented on #12398
Is there an error in your Javascript code? To me that seems like the more likely problem. If there was an issue in the native layer I'd assume the app would just crash. Is it also a white screen on iOS devices?

[2017-02-15 11:55] rohitgoyal commented on #12042
I have tried everything as well and nothing makes these issues go away permanently. :-/
This is the worst update of react-native with much support for upgradation.

[2017-02-15 12:04] alekseykarpenko opened #12399 "[Android][Critical] When using Modal component in release build some leftovers overlap all other elements in application"
Hello, my name is Aleksey, i’m frontend developer (so i'm not familiar with Android Studio and other Java developer suite including debug tools) and I really need your help.

### Description

In my company I prepare our application to update the version of React Native from 0.29 to 0.41. Some time ago I was faced with an unusual bug in branch 0.41 with third-party component [react-native-loading-s

[2017-02-15 12:08] yunda commented on #7308
Why was this issue closed? Nothing of the above helps

[2017-02-15 12:23] askielboe commented on #12294
Same issue with `react-native 0.42.0-rc.3`. Using @julienfouilhe's `Podspec` fixes it for me.

[2017-02-15 12:49] kiki-le-singe commented on #4986
Any news about this issue?

Thanks

[2017-02-15 12:59] linytsysu commented on #12282
I have the same problem with RN 0.39. I found locationX never changes but pageX changes.

[2017-02-15 13:09] mattread90 commented on #10556
I'm also after the `pageX`/`pageY` for the purposes of drag and drop, so having to resort to `.measure()`.

On a slightly different but related note, my `.measure()` call is returning inconsistent values when my view is first mounted after navigating to the scene. The `pageX` value is being given as either 0 or 374.5, which I'm guessing is due to the fact that the scene is sliding in from the righ

[2017-02-15 13:13] faogustavo commented on #3874
Any solution? I'm stuck on this. :/

[2017-02-15 13:49] atlanteh opened #12401 "iOS borderWidth smaller than 0.5"
### Description

In iOS, setting a borderWidth of less than 0.5 results in incorrect behaviour of the entire View background is distorted
<img width="174" alt="screen shot 2017-02-15 at 3 47 28 pm" src="https://cloud.githubusercontent.com/assets/3952700/22977158/3902f124-f396-11e6-941b-e4abfe6f493b.png">

### Reproduction
[code]

https://rnplay.org/apps/BZSqVA

### Additional Information

* React

[2017-02-15 13:56] Msspl-PrashenjeetRoy commented on #12042
I got solution.
I solved this issue with this provided solution:

1- opened workspace file before opening close everything.

2- added pod file in manage scheme suggested by :https://stackoverflow.com/questions/40358719/framework-not-found-googletoolboxformac

3- also i followed this suggestions too: http://stackoverflow.com/questions/9458739/ld-warning-directory-not-found-for-option

4-I also upda

[2017-02-15 14:00] colin3dmax commented on #10569
`import React,{Component} from "react";
import {
    AppRegistry,
    Image,
    ScrollView,
    StyleSheet,
    Text,
    TouchableHighlight,
    View
} from "react-native";

export default class Demo extends Component{
    constructor(props){
        super(props);
        this.imageMap = [];
        for(let i=0;i<300;i++){
            this.imageMap.push("https://avatars2.githubusercontent.com/u/

[2017-02-15 14:15] hirviid commented on #11209
Had the same problem. Don't know why, but a hack like this seems to work:

[code]

[2017-02-15 14:33] SamSaffron commented on #12265
FWIW, I have $300 on the table for anyone that can figure out how to upgrade DiscourseMobile per:

https://discuss.reactjs.org/t/having-a-hell-of-a-time-upgrading-from-react-native-39-to-40/6331

[2017-02-15 14:50] niztal commented on #12401
+1

[2017-02-15 15:02] mikaello commented on #12147
The G3 had a Android 6.x version, I don't have access to the phone anymore to check the minor version.

[2017-02-15 15:05] sibelius commented on #12112
I think it should run `git apply --reject` if `git apply --3way` fails

[2017-02-15 15:12] jsdevel commented on #10269
Not sure what you mean by this @ide.  Web Workers are in the standards.  MDS shows all of the browsers supporting at least _some_ of the standard: https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers#Browser_compatibility

[2017-02-15 15:16] nihgwu commented on #12265
@SamSaffron I'd like to help  if no one else do that, I'm always using the bleeding edge version of React Native

[2017-02-15 15:25] SamSaffron commented on #12265
@nihgwu  sounds like a plan, should I update that topic to say that you are taking this? any timeframe?

[2017-02-15 15:26] nihgwu commented on #12265
Ok, I'll done in an hour or two, I suppose

[2017-02-15 15:31] SamSaffron commented on #12265
@nihgwu awesome, will update the topic, if you need to fork any of the dependencies and submit fixes as well feel free to point your PR at the forks.

[2017-02-15 16:10] alekseykarpenko commented on #10937
Same in RN 0.41.0, but cannot reproduce in 0.29.0

[2017-02-15 16:13] Thibaut-Fatus commented on #12375
rnpm has been merged 7 months ago to react-native cli as react-native link

[2017-02-15 16:31] Thibaut-Fatus commented on #11498
We still have problems resolving new libraries on 0.41, manually installing the dependency or  resetting content and settings in the simulator sometimes helps, but it seems it is not yet fixed

[2017-02-15 16:43] Thibaut-Fatus commented on #11257
The workaround does not fix the problem, we keep running into Unable to resolve module

RN 0.41

[2017-02-15 16:45] Thibaut-Fatus commented on #11887
This fix might work for this particular packages, but we cannot import any new added module

[2017-02-15 16:53] amadeus commented on #10269
@jsdevel I think what he means, is that workers are actually built into safari, not JSCore, the Js engine that React Native uses since it not loading up a browser.

So yes, they do exist in all browsers, but when it comes to the split of what the feature is apart of, it means that React Native actually doesn't have access to them.

[2017-02-15 17:00] code-by commented on #10823
Same problem for Android. borderRadius / backgroundColor not works together

[2017-02-15 17:14] danieljvdm commented on #12398
iOS functions perfectly. Nothing gets logged in the development server for Android.

[2017-02-15 17:16] code-by opened #12403 "<View> borderRadius / border[Left|Top|Bottom|Right]Color not works together @ Android"
### Description

I'd like to make a View with different colors for each side (with border{Side}width: 1) and add borderRadius.
But when I use borderRadius and border{Side}Color this not works together at Android.

### Reproduction

https://rnplay.org/apps/8dV5AA

[2017-02-15 17:20] freakinruben commented on #12042
@rohitgoyal Did you try [this solution](https://github.com/facebook/react-native/issues/11813#issuecomment-273279257)? It fixed issues for me with archiving a release with a different build-name than 'release'

[2017-02-15 17:47] coconup commented on #4323
If you want to pass a bunch of props, you can do this:

[code]

and in your navigator's parent:

[code]

[2017-02-15 17:50] fgaleano commented on #11627
@Vinu-MysteriousTechVision were you able to fix this?

[2017-02-15 17:51] a1gemmel commented on #12005
I'm having this same issue on Linux, also with react-native 0.40.0.  Have you happened to find a solution?

[2017-02-15 18:12] faalsh opened #12404 "Creating Native UI Component per docs results in duplicate symbols error"
### Description

I'm trying to create a native UI component as per the documentation http://facebook.github.io/react-native/releases/0.42/docs/native-components-ios.html

But I got error

[code]

### Reproduction

I've created a new project using react-native command, opened the Xcode project and added a new file RCTMapManager.m

[code]

### Additional Information

* React Native version: 0.42
* P

[2017-02-15 18:34] jsdevel commented on #10269
I think the fact that safari has them built in is irrelevant.   All browsers support the WW spec to some extent.

RN has ported WebSocket, fetch, and GeoLocation.

[2017-02-15 18:48] amadeus commented on #10269
Well there are 2 discussions going on here. I was just asking about it being in JSCore which means it should be available. But it's probably not that trivial to add

[2017-02-15 19:56] wachunei commented on #9581
I'm having this issue with RN 0.40.

Debugging I found that with small images: cacheKey in `RCTImageLoader.m` matches the cache because the response has a date and time of when the image was cached for the first time. But with larger images, response is always with current date, so cacheKey is not the same as the one that was used when that Image was cached, then retrieved image is null so it requ

[2017-02-15 20:13] nouveller commented on #10180
I've ran into this today, `TouchableWithoutFeedback` was working perfectly fine until it wasn’t. RN 0.41 and running in the up to date iOS simulator. Very bizarre.

[2017-02-15 20:35] baldurpan commented on #9581
Seems to be fixed for me in 0.41.2

[2017-02-15 20:46] ide commented on #12395
StaticContainer is part of the internal API (that is, it's not exported from `react-native`). As with any use of internal APIs, consumers of them (in this case Native Base) should either not use them or react to breaking changes.

So in the short term sending a PR to Native Base is best, longer term they can decide if they want to stop using RN's StaticContainer or continue keeping an eye on how i

[2017-02-15 20:46] #12395 closed

[2017-02-15 21:06] SudoPlz opened #12405 "Trying to add 24 hour format to react-native DatePickerIOS"
This is a long requested feature, but no one seems to be doing anything about it.

I'm trying to add a boolean value to our DateTimePickerIOS so that the js part of it looks like this:

[code]

Then I modified `React > Views > RCTDateTimePickerManager.m`. Specifically I added this code:

[code]

That solution is based on [this SO answer](http://stackoverflow.com/questions/21429841/uidatepicker-24h

[2017-02-15 21:55] alekseykarpenko commented on #10937
Related to #4968

[2017-02-15 21:55] alekseykarpenko commented on #4968
If anyone can try to init new project and include any working base64 library into it? (like `hi-base64` or `js-base64`)? Seems to me this bug is faced (_Unable to resolve module buffer_)

[2017-02-15 21:57] PaulBGD commented on #4968
@alekseykarpenko Different issue, you have to include your own buffer module.

[2017-02-15 21:59] alekseykarpenko commented on #4968
@PaulBGD if it was excluded from RN? Issues is not reproduced in RN v.0.29.2

[2017-02-15 22:14] alekseykarpenko commented on #4968
@PaulBGD Thank you very much for your help! I spent a few hours trying to resolve this.

[2017-02-15 22:15] alekseykarpenko commented on #10937
Just run:
`npm install --save buffer`

Thx to @PaulBGD

[2017-02-15 22:16] nhatho89 commented on #3282
I was still experiencing the issue with collapsable={false}.

What fixed it for me was adding onLayout={() => {}} instead.

[2017-02-15 22:56] dhwrwmgwra commented on #8584
@TimBroddin You rock

[2017-02-15 23:19] MagicIndustries commented on #12395
Excellent, thank you.

[2017-02-15 23:25] ckwong90 commented on #5823
I only get this when I'm in remote debugging. This doesn't happen normally. RN .41.2. Windows 10. Android

[2017-02-15 23:34] nathanmalishev commented on #10002
Hi there. I managed to work around my issue.
Background:  I was getting images from S3, using pre signed urls. These images did not have file extensions and could be any size.

Issue: Android Physical device threw the E_GET_SIZE_FAILURE, when images did not have a file extension (but it was a hard error to pick up because the android simulator did not, neither did iOS devices). Secondly when the i

[2017-02-15 23:37] gaearon opened #12406 "Can't run UIExplorer because of "ENOENT: no such file or directory, lstat <...>""
### Description

In master:

[code]

Expected: RN packager starts.
Actual: RN packager fails with a cryptic error:

[code]

### Solution

It seems like https://github.com/facebook/react-native/commit/bce6ece5f6927bcc06252dc2368840aa0c6fa30e (cc @harshil07) introduced some kind of symlink crawling in a predefined folder calculated like this:

[code]

This probably works inside a real app, but insid

[2017-02-15 23:40] gaearon commented on #12406
cc @Kureev per #11810

[2017-02-15 23:42] allthetime opened #12407 "React-native v0.29 app can't connect to internet on new iOS - HELP"
I know this isn't really the place but I'm really hoping someone can help quickly because I'm in a lot of trouble right now.

I didn't realize it, but my app is now broken because it cannot connect to the internet at all (it was totally fine before i updated my phone)

 I'm on an older version of react native (v 0.29) and the new ios 10.0 has completely bricked my app. It can no longer connect to

[2017-02-16 00:16] raulmt commented on #9581
Debugging into this, it seems the problem is related to [these lines](https://github.com/facebook/react-native/blob/master/Libraries/Network/RCTHTTPRequestHandler.mm#L65-L68).

`NSURLSession` created there is using the default `NSURLSessionConfiguration`, which comes with a "default" `NSURLCache`. I don't know the size of this cache, but it seems that requests bigger than some percentage of that c

[2017-02-16 00:17] srdjanprpa commented on #8968
me to, any update?

[2017-02-16 00:48] prayuditb commented on #12407
I think iOS 10 has new privacy permission settings, may be this article can help you
https://blog.xamarin.com/new-ios-10-privacy-permission-settings/

[2017-02-16 00:55] salutis opened #12409 "Tapping <Button> in Jest test"
### Description

I decided to try React Native after spending years with Objective-C and Swift. To kick things off, I built a simple counter (increment/decrement) app. All went well and the app works.

Time to check out the testing tools! So, the app has two buttons — _Increment_ and _Decrement_ and here's how one of the buttons looks in Jest snapshot:

[code]

I need to tap this button in my test

[2017-02-16 01:20] rmevans9 commented on #12409
It sounds like you are trying to do some interaction type testing. I would imagine you are looking for something more like using enzyme to test with jest as the test running. This link is for ReactJS but it applies for React Native as well:

https://facebook.github.io/jest/docs/tutorial-react.html#dom-testing

[2017-02-16 01:20] rmevans9 commented on #12409
@facebook-github-bot close

[2017-02-16 01:21] #12409 closed

[2017-02-16 01:33] rmevans9 commented on #12398
It looks like it is having difficulty finding your package:

[code]

What does you AndroidManifest.xml look like? It looks you are not using the standard React-Native base classes - have you ruled out it being an issue because of the different base classes you are using there?

[2017-02-16 01:34] rmevans9 commented on #12379
@facebook-github-bot close

[2017-02-16 01:35] #12379 closed

[2017-02-16 01:38] rmevans9 commented on #12361
This question would be better suited asking in a user group type setup - you could try the facebook group for react: https://www.facebook.com/groups/react.native.community/. The issue tracker here on GitHub is used to track bugs within React Native.

[2017-02-16 01:38] rmevans9 commented on #12361
@facebook-github-bot close

[2017-02-16 01:39] #12361 closed

[2017-02-16 01:47] sashamjolnir commented on #12169
It's because rotten tomatoes api doesn't work anymore. See #11028.
You should replace fetch url, like in this sample.
https://facebook.github.io/react-native/releases/0.27/docs/sample-application-movies.html

[2017-02-16 01:54] charpeni commented on #12386
cc @grabbou

[2017-02-16 03:39] hanhuizhu commented on #9946
unable connet debugger in 0.41.2 with windows&android

[2017-02-16 03:46] Johnson27 commented on #9136
The only certainty is that the solution below works well for WebStorm. Didn't check out other editors.

In Webstorm, uncheck "File->Settings->System Settings->sychronization->use safe write"

[2017-02-16 03:48] magicismight opened #12411 "WebView postMessage do not work on iOS"
`postMessage` to WebView can not work on iOS.

First, postMessage on react-native
[code]

Then receive the message on WebView side, the event is always {"isTrusted": false}
[code]

### Additional Information

* React Native version: 0.41.0
* Platform: iOS
* Operating System: MacOS

[2017-02-16 03:55] #12411 closed

[2017-02-16 05:17] shergin commented on #12404
So, it is because RN already has a class with this name: https://github.com/facebook/react-native/blob/master/React/Views/RCTMapManager.h

[2017-02-16 05:31] shergin commented on #12374
That's terrible. 😿
I will try to fix it. `t16126090`

[2017-02-16 05:40] shergin commented on #12362
It almost impossible on iOS.
`UIScrollView`'s panGestureRecognizer cannot start recognition without "capturing" `touchStart` event. You probably can workaround it overriding `hitTest:withEvent:` method of your view and return your `UIScrollView` instance as event target. It kinda makes your UIScrollView covers UIView from events perspective.
This question is unrelated to React Native though.

[2017-02-16 06:40] itxuye opened #12412 "Integration With Existing Apps ，Manifest merger failed with multiple errors, see logs"
[code]

[2017-02-16 06:50] itxuye commented on #12412
Sorry,it's my problem.The minSdkVersion should be the same with the react native android minSdkVersion .

[2017-02-16 07:35] minhtc commented on #12401
occurs on plus device when I set borderWidth = 0.5

[2017-02-16 08:12] Dashue commented on #9136
My issue came from having run vscode as an admin which created build folders my own user didn't have permissions on. Manually removed build folders and reset permissions solved it for me.

[2017-02-16 08:18] #8980 closed

[2017-02-16 08:52] quanvuong opened #12413 "image curved corners get squared"
I have an image like so:

![fav-icon](https://cloud.githubusercontent.com/assets/6988600/23013970/6d1aa15e-f446-11e6-818a-a67203d297bd.png)

When displaying the image with:

The image is rendered like so:

<img width="197" alt="screen shot 2017-02-16 at 12 51 31 pm" src="https://cloud.githubusercontent.com/assets/6988600/23014018/aa4de752-f446-11e6-86ce-891715fec786.png">

[2017-02-16 08:56] messense commented on #10379
@ewindso Could you give us more detail?

[2017-02-16 08:56] danieljvdm commented on #12398
Here's my manifest. I don't think I've changed it. The problem very well could be with the changed base classes, but everything seems to be in accordance with the package's example [here](https://github.com/wix/react-native-navigation/tree/master/example/android/app).

One weird thing to note is that for a day the app was actually building and working (and showing the main screen), and then withou

[2017-02-16 09:22] salutis commented on #12409
@rmevans9 Thanks! Enzyme (with its shallow rendering) is exactly what I need.

[2017-02-16 09:25] razvan-tudosa commented on #11964
I think I experience the same problem, I own a One Plus 3T but my client has a One Plus 3. I can see the activity indicators on my device and my simulators, however he cannot. Both of us are running Nougat on the devices with latest Oxygen updates.

I don't even know where to begin digging for this issue.

[2017-02-16 09:39] keerthanarbt opened #12414 "App crashes in Samsung devices"
Hi,
Error message:
react.uimanager.ReactShadowNode.setStyleWidth(float)' on a null object reference

com.facebook.react.uimanager.UIImplementation.updateNodeSize (UIImplementation.java:151)
com.facebook.react.uimanager.UIManagerModule.updateNodeSize (UIManagerModule.java:213)
com.facebook.react.views.modal.ReactModalHostView$DialogRootViewGroup$1.run (ReactModalHostView.java:302)
android.os.Handle

[2017-02-16 09:47] hey99xx commented on #12412
the app's minSdkVersion should be the same or higher than RN's minSdkVersion

[2017-02-16 09:49] gezichenshan commented on #11872
I am experiencing this issue too.

I add android:windowFullscreen = true in the styles.xml.
`<style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

         <item name="android:windowFullscreen">true</item>
        <item name="android:windowBackground">@drawable/launch_screen</item>
    </style>`

Then,when I call a modal showing, there is a gap in the bottom.

[2017-02-16 09:50] hey99xx commented on #12393
I don't see any issue with this, it's fairly similar to the examples at https://facebook.github.io/react/docs/refs-and-the-dom.html

You're not using functional component, are you? The doc says that won't work; otherwise I don't know the problem.

[2017-02-16 09:57] desmond1121 opened #12415 "[Android Bug] Native crash on Nexus 5X (Android 7.1.1)"
### Crash:

[code]

Addr2line output:

- **11 0001d681 (libreactnativefb.so)**

[code]

[Registration-inl.h#129](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/jni/first-party/fb/include/fb/fbjni/Registration-inl.h#L129)

- **10 000106d3 (libfb.so)**

[code]

[Exceptions.h#221](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/jni/first-party/fb

[2017-02-16 10:17] itxuye commented on #12412
@hey99xx  Yes,Thanks .

[2017-02-16 10:22] seanLee opened #12416 "Can not auto run packager service when use cocoapods to build a RN project."
According to ducumention
[code]
create a project and run successfully.
I find that the launchPackager.command will auto run when build the project.

But when I use cocoapods to integrate react-native,it will crash when run this app.How can i configure my Xcode to make ````npm start````auto run.

[2017-02-16 10:30] BroshkovD commented on #9434
+1

[2017-02-16 10:38] movie4 opened #12417 "Can't change default 'LaunchImage' rn 0.41.2- ios 10.2"
* React Native version:  0.41.2
* Platform: iOS 10.2
* Operating System: MacOS

After updating from react-native 40 > 41.2  changing launchimage don't work, app use default screen image
in react-native 40^ i use this solution http://stackoverflow.com/questions/34027270/ios-launch-screen-in-react-native

![react](https://cloud.githubusercontent.com/assets/1005998/23017894/d5624cc8-f45d-11e6-9e71-22

[2017-02-16 10:41] Naoto-Ida commented on #12417
What do you mean by it doesn't work?
Are you seeing an old one?

[2017-02-16 10:53] movie4 commented on #12417
it use default RN Screen
![screen shot 2017-02-16 at 15 52 13](https://cloud.githubusercontent.com/assets/1005998/23018486/ed325bfc-f45f-11e6-895b-91e2019a5c61.png)

Update issue on iOS 9.3 it work fine

[2017-02-16 11:15] WhynoChinese opened #12418 "Unable to resolve module ... doesn't exist"
Unable to resolve module ../node_modules/react-native/packager/store/configure-store from /Users/mac/Desktop/Deadpool/app/root.js: Directory /Users/mac/Desktop/Deadpool/node_modules/react-native/packager/store/configure-store doesn't exist

RCTFatal
-[RCTBatchedBridge stopLoadingWithError:]
__25-[RCTBatchedBridge start]_block_invoke_2
_dispatch_call_block_and_release
_dispatch_client_callout
_disp

[2017-02-16 11:29] burdiuz commented on #12413
Have you tried to change resizeModes? I think resizeMode="contain" might help

[2017-02-16 11:34] quanvuong commented on #12413
yes that works. Perfect thank you!

[2017-02-16 12:00] ilkarman opened #12419 "Navigator lags compared to NavigatorIOS"
When I try to use _ReactNative.Navigator_ instead of _ReactNative.NavigatorIOS_ I find that there is a lag when the pages update. For example when I render page 3 I still see some remnants of page 2 for a split second. This happens for iOS and Android. I am using react-native 0.41 and have posted both examples below:

**NavigatorIOS :**

Page 1:
[code]
Page 2:
[code]
Page 3:
[code]

**Navigator:**

[2017-02-16 12:08] grabbou commented on #12386
Thanks

[2017-02-16 12:08] #12386 closed

[2017-02-16 12:50] movie4 commented on #12417
Error is not repeated unknown reasons, maybe this simulator and xcode issues

[2017-02-16 12:50] #12417 closed

[2017-02-16 13:48] maingao128 commented on #4968
For my case, I stop all node proccess and run ::
1.rm -rf node_modules && npm install
2.rm -fr $TMPDIR/react-*
and then restart the xcode and start, it is OK

[2017-02-16 14:30] jagi commented on #11681
@djw27 that fix does not solve a problem :/

[2017-02-16 14:42] salutis commented on #12409
Actually, I got it working with snapshots!

1. Add `mock` for `Button` to shallow-render

[code]

2. Add `bind` to component's `constructor`:

[code]
3. Enjoy snapshots:

[code]

[2017-02-16 15:40] ktusharprdxn commented on #12091
@aniruddhashevle Please clarify your query clearly. What I understand from your query is that in react native text input field if value size is greater than width of that field then it gets render from right to left and start of the text gets cut.

<TextInput style={ width: 300} value="This is demo, this is demo will get cut this is demo is cut" />

So as we can see when text gets overflow, it wil

[2017-02-16 15:59] jose920405 commented on #5823
+1

[2017-02-16 15:59] jose920405 commented on #11989
+1

[2017-02-16 16:26] rgngl commented on #11872
I had a PR for this but it wasn't considered a real issue by the maintainer.

[2017-02-16 16:51] thatsVishal commented on #9336
Just uninstall the app and run `react-native run-android` it worked for me

[2017-02-16 17:05] ncuillery opened #12420 "[react-native-git-upgrade][0.41.2] Upgrading to 0.41.2 changes the name of my app to "Hello App Display Name""
### Description

After upgrading my app to 0.41.2, the name of my app became "Hello App Display Name" on my device.

### Reproduction

- Init a project using version 0.41.1 👉 `react-native init MyApp --version=0.41.1`
- Run the app on an Android device 👉 `react-native run-android`
- The name of the app on the home screen is "MyApp"
- Upgrade the project to 0.41.2 👉 `react-native-git-upgrade 0.41.2

[2017-02-16 17:20] bogobogo commented on #11853
Hey @dguillamot, would you mind sharing your solution? I am facing the same problem, and I currently don't have the knowledge to implement it natively (learning java but that will take me some time...).

[2017-02-16 17:21] honki91 commented on #11196
I have the same deadlock issue when trying to use [react-native-youtube ](https://github.com/inProgress-team/react-native-youtube). I'm using RN 0.41.2

[2017-02-16 17:40] lacker commented on #11196
Since all the bug repros involve specific libraries, maybe it would be more effective to report this issue to the makers of react-native-search-bar and react-native-youtube?

[2017-02-16 17:44] shoshi commented on #9359
@tonyrzhang What was the solution for you?

[2017-02-16 17:58] bruzenak commented on #11196
When I dug into this, it was not a client library bug, it was a React Native core bug. I imagine you'll see a variety of libraries trigger it based on hitting the race condition in the code. I don't think there's anything those libraries could do to fix it except putting in random arbitrary waits.

[2017-02-16 18:55] hubertperron commented on #8955
This is still an issue in the latest version.

[2017-02-16 19:12] Kureev commented on #12406
Nice catch! I never tested this case before.

I'll compose a PR and add appropriate specs this weekend.

[2017-02-16 19:28] alxyuu commented on #11418
if you use `onShouldBlockNativeResponder={() => false}` the release will be triggered

[2017-02-16 19:29] outaTiME commented on #10751
Same here with react-native 0.41.

The status bar disappears in landscape mode, check out the dark blue bar on top in second image:

![img_0351](https://cloud.githubusercontent.com/assets/140472/23037431/1241a74a-f465-11e6-90b6-c18c35594d2f.PNG)

![img_0352](https://cloud.githubusercontent.com/assets/140472/23037441/17903b3a-f465-11e6-9d9a-9f722bd5931a.PNG)

[2017-02-16 19:33] lacker commented on #11196
Hmm. I believe you, I am just wondering how to make it simpler for people to be able to debug this. Is there some way to reproduce this without any third-party modules?

[2017-02-16 19:52] harshil07 commented on #12406
@gaearon thanks for catching it. Your proposed solution seems reasonable.

[2017-02-16 20:11] Fenwil commented on #12212
Having the same problem here. The transform skewY does works, but if you add skewX then skewY stops working. Even using skewX only will not work.

[2017-02-16 21:04] bruzenak commented on #11196
You could probably build a module that exhibited the behavior as part of a project. I'd dig in further but am unfortunately strapped for time. Race conditions suck. Maybe if you built some code to purge the module cache and reloaded a few times?

[2017-02-16 22:15] #12413 closed

[2017-02-16 22:28] scarlac commented on #11760
Had same issue. Upgraded. Fixed in 0.41.
Maybe we should also get `Animated.ListView` since we also have `Animated.ScrollView`.

[2017-02-16 22:31] scarlac commented on #12419
It may be easier to understand what kind of lag you're seeing if you do a screen recording. If you're on macOS, you can use QuickTime Player -> File -> New Screen Recroding. Post a link here.

[2017-02-16 22:35] scarlac commented on #12392
I think this is a question better answered on StackOverflow, @MagicalYan

[2017-02-16 22:44] ddeanto commented on #10845
@praveenperera may you provide more details with what you were doing wrong with react-native-router-flux and what fixed it for you? Thanks!

[2017-02-16 23:29] nemo opened #12424 "UIManager.RCTScrollView.Commands.scrollToEnd is undefined on iOS – ScrollView.scrollToEnd doesn't work."
### Description
Trying to scroll to the end of a scrollView on iOS with the scrollToEnd method.

It crashes due to the command not existing at the lower levels of React. I got to [this point](https://github.com/facebook/react-native/blob/ad8cbb6deab2d20bcdbddbc41322bb27eb4f8c2e/Libraries/Components/ScrollResponder.js#L422) when debugging and realized that it's a bug within RN itself.

### Reproduc

[2017-02-16 23:32] nemo commented on #12424
I believe it's because I hadn't recompiled. Testing that now.

[2017-02-16 23:37] nemo commented on #12424
Yupp. Closing this.

[2017-02-16 23:37] #12424 closed

[2017-02-16 23:42] ide commented on #12419
This lag is understandable because of the threading model (NavIOS uses UI thread + CoreAnimation, Navigator uses just JS thread). This will be addressed with other techniques like native Animated in React Navigation and smoother scheduling with React Fiber.

For now I would recommend using React Navigation and perhaps deferring the rendering of your scenes until the transition is complete.

[2017-02-16 23:56] nhayfield commented on #11230
@the-ant  yeah i been looking at crosswalk but its still not fully functional for what i need yet. might have to put in some Pull Requests on it

[2017-02-17 00:12] steve-gray opened #12425 "XCode Builds should run packager inline"
### Description

The XCode usage of the packager is different to the usage for Gradle/Android. In an Android build the packager is invoked directly, feeding the bundle into the process and then terminating cleanly. This causes problems with build servers (Jenkins, GoCD, *anything*), as you:

- can't run concurrent headless builds - the first in claims the port.
- can't change the port easily globa

[2017-02-17 00:34] tldzyx opened #12426 "How to run react-native in Xamarin ?"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native

If you have a feature request, post it on Product Pains: https://productpains.com/product/react-native/

--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

[FILL THIS OUT: Explain what you

[2017-02-17 00:58] brucepom commented on #1240
I'm experiencing the issue where location updates are triggered every ~100m even if I set `distanceFilter` to a lower value. I've done some troubleshooting and I think the issue I'm experiencing is related to these lines: https://github.com/facebook/react-native/blob/0.42-stable/Libraries/Geolocation/RCTLocationObserver.m#L309-L311.
I'm still working on it and hope to be able to provide some more

[2017-02-17 01:04] dzunglht opened #12427 "[Upgrade to RN>=0.4.0] Upgrade pending without any verbove log"
Upgrade process is pending over hours. Please help investigate the case upgrade from 0.39.2 to 0.4X.X
![image](https://cloud.githubusercontent.com/assets/20235889/23048340/bb1f89ae-f4e7-11e6-8ba5-b1b4a2286d6e.png)

Tons of Thanks

[2017-02-17 01:45] JakeRawr commented on #10795
+1, This happens for me even if `visible = { false }`

[2017-02-17 03:10] NineCity commented on #11327
@skonves It worked for me too,thanks

[2017-02-17 03:41] seanLee commented on #12416
solve this problem,i change the path of the run script.

[2017-02-17 03:41] #12416 closed

[2017-02-17 04:20] koutsenko commented on #8436
Still same error on RN 0.41.2, dumb error without stacktraces.
I use kauffecup/react-native-web-hello-world boilerplate.

[2017-02-17 05:05] rderwin commented on #10404
Use 10.0.2.2 for default AVD and 10.0.3.2 for Genymotion
http://stackoverflow.com/questions/5528850/how-to-connect-localhost-in-android-emulator

[2017-02-17 06:04] pantaopt opened #12428 "How to use EventEmitterWithHolding.js?"
question as title.

[2017-02-17 07:18] HarrisLee opened #12430 "release edition can't load image when use cocoapods"
when i use cocoapods ,  local image can't load.

    NSURL *jsCodeLocation;
    jsCodeLocation = [[RCTBundleURLProvider sharedSettings] jsBundleURLForBundleRoot:@"index.ios" fallbackResource:nil];
    rootView = [[RCTRootView alloc] initWithBundleURL:jsCodeLocation
                                           moduleName:@"SmartHomeI"
                                    initialProperties:@{@"appName"

[2017-02-17 07:20] janaka120 commented on #7408
@adamfaryna, I create a sample app with 500 images. it works fine without give any errors. I try to keep every image size less than 200kb.

[2017-02-17 08:49] qxqxqxqx commented on #8584
@dwilt I do take a while to figure it out,hahaha

[2017-02-17 09:08] ShivBagherwal opened #12431 "String.fromCharCode and String.fromCodePoint methods are working in react native app's signed apk."
### Description

String.fromCharCode and String.fromCodePoint methods are not working in react native's signed apk. Both are working in console and emulator.

###CODE(index.android.js)

import React, { Component } from 'react';
import { AppRegistry, Text, StyleSheet, TouchableHighlight, View } from 'react-native';

class a extends Component {
  constructor(props) {
    super(props);
    this.state

[2017-02-17 09:33] scarlac commented on #12388
I think my issue is related to this. Let me know if you disagree, then I'll create a separate issue.
The issue is with `Animated.Text` and `opacity`:
[code]
In render:
[code]
Only the first value in the interpolation will be applied (in this case 0, which means text will never appear). The rest of the values have no visible effect.
If I change the first value to something larger than 0, I can fain

[2017-02-17 09:36] grundmanise commented on #12362
@shergin

I saw [this answer ](http://stackoverflow.com/questions/1220354/uiscrollview-horizontal-paging-like-mobile-safari-tabs/1220605#1220605). But I don't understand, in my custom RN component, how can I return `UIView` ( from the `- (UIView*)view` method ) that contains `UIScrollView` and pass all `RCT_EXPORT_VIEW_PROPERTY` to the `UIView`'s child - `UIScrollView`?
...is it something to do wi

[2017-02-17 10:41] #12168 closed

[2017-02-17 10:53] simonmitchell opened #12432 "Upgrade breaks pbxproj file"
### Description

react-native upgrade breaks pbxproj file if project name has a space in it. I've just run react-native upgrade on a project, taken your changes for the project file and it has broken my pbxproj file.

### Reproduction

Set the project's name to a name with a space in it. Run react-native upgrade from 0.35.0 -> 0.40.0

### Solution

Do not strip parentheses around "path" property i

[2017-02-17 11:14] StefanoSarioli opened #12433 "Basic View component used for the drawer navigation not working properly with VoiceOver on iOS"
### Description

The issue is explained on [this](https://stackoverflow.com/questions/42159122/making-the-background-screen-beneath-the-open-drawer-with-react-navigation-und) question on StackOverflow.
The problem is that we need to expose the 'accessibilityViewIsModal' property for the View component so that is possible to fix [this](https://github.com/react-community/react-navigation/issues/311)

[2017-02-17 11:14] simonmitchell commented on #12432
Same goes for Test file, it created it like so:
[code]

[2017-02-17 11:15] deepaksisodiya commented on #4087
This is how i solve it.

I had one input and one button inside view.

[code]

I wanted it to be scrollable so i added

[code]
But then button needs to have a double click in order to work
so i added keyboardShouldPersistTaps={true} in scrollView in order to button work on one click

[code]

But this causes the not hide keyboard when click on anywhere on screen. So i did it by doing this

final cod

[2017-02-17 11:29] trongan commented on #567
+1
I have similar this problem.

[2017-02-17 12:38] brendan-rius commented on #6764
@CapitanRedBeard thank you for your answer. However that's clearly a hack and not a viable solution.

I think there is clearly a problem here: my child ScrollView does not become the responder, but my parent does, how come?

[2017-02-17 12:46] brendan-rius commented on #11206
@liamfd I have exactly the same problem on 0.41 on iOS (did not try an Android). **This is clearly a problem here that needs to be solved.** Your solution is a hack not easily applicable everywhere and should not stop the issue from being fixed

[2017-02-17 12:56] matclayton commented on #11809
We're seeing the exact same issue here as well, iOS works fine, Android has become very laggy post update.

[2017-02-17 13:04] tomazahlin opened #12436 "[iOS] Problems with fetch/NetInfo while no internet connection"
RN 0.41.0, using iOS 10.2 simulator.

In our project we are using fetch(), which is from react-native dependencies - whatwg-fetch.

On Android it works good, when there is no internet connection, we can catch the TypeError with message Network Request Failed immediately.

But on iOS, the promise doesn't get resolved or rejected when no internet connection, so we cannot catch the TypeError in simul

[2017-02-17 13:37] L-Jovi commented on #9200
+1 , how about progress now?  I use RN 0.37

[2017-02-17 14:02] liamfd commented on #11206
@brendan-rius Sorry to hear you're encountering this. I agree that the issue should be addressed, I only posted my workaround to help people out who were in the same situation as me.

[2017-02-17 14:02] pvsong opened #12437 "Android can't display image large width"
Hi,
I have an image with size large width=5,000px, height=1,000px, 1.5Mb JPEG and it can't display on android.
Thanks!

[2017-02-17 14:21] nthtran commented on #3212
Document this?

[2017-02-17 14:43] buskerone commented on #6692
Same here!

[2017-02-17 14:47] K-Leon commented on #11809
Same here
@sahrens Any Idea who is the right person to approach with this issue?

[2017-02-17 14:49] buskerone commented on #12040
+1

[2017-02-17 14:49] hubciorz commented on #11809
Same here. We had to downgrade to 0.38.

[2017-02-17 14:52] quietbits commented on #11809
And same here. Hopefully this can be addressed soon.

[2017-02-17 14:56] hubciorz commented on #11809
@K-Leon I think that @astreet is the author of a commit (https://github.com/facebook/react-native/commit/d63ba47b59e3261403800c1f741d979a089efb48) introducing the new CSS engine.

[2017-02-17 15:19] Freddy03h commented on #11915
Still got the issue with react-native `41.2`.

Should I open the issue on https://github.com/facebook/yoga ?

[2017-02-17 15:25] georgemickael-b commented on #1438
@dwilt That helped!

[2017-02-17 16:17] SteffenBerlin commented on #6282
I am getting this issue no 0.41 as well! Commenting out fix doesn't work.. Any ideas?

[2017-02-17 16:34] sators opened #12439 "Android <Text /> with Selectable prop does not render ellipse correctly"
### Description

On Android, a `<Text selectable ellipsizeMode="tail" numberOfLines={1} />` that is expanding beyond it's bounds causing an ellipse does not render as expected.  Removing the `selecteable` prop fixes.

### Reproduction

https://rnplay.org/apps/MKVmRg

### Additional Information

* React Native version: 0.33.0 thru 0.39.2-?
* Platform: Android
* Operating System: MacOS

[2017-02-17 16:47] rroehrig opened #12440 "Cannot test WebView - Cannot read property 'decelerationRate' of undefined"
### Description

I updated from react-native 0.39 to 0.41.2.
Now, WebView tests fail.

### Reproduction

My example is more complicated (I shallow render a component containing a WebView) but I can reproduce it with the following snippet:

[code]
[code]

I'm sure it's not an enzyme bug as I can reproduce it with 'react-test-renderer' as well.

### Solution

?

### Additional Information

* React N

[2017-02-17 16:53] hubciorz commented on #6951
@lacker
I think the problem still exists. `StyleSheet.hairlineWidth` solves that, right, but `borderTopWidth: 0.5` on iPhone 6/6s Plus should rather render nothing as a border than break the layout. Don't use think?

borderTopWidth: 0.5
![image](https://cloud.githubusercontent.com/assets/6502822/23074430/fd0e128a-f538-11e6-9a33-1cb2bf8dd264.png)

borderTopWidth: StyleSheet.hairlineWidth
![image](h

[2017-02-17 17:04] thomas5903 commented on #10394
For me, I use NVM to set the latest node version. I had to set my default node version to a compatible version for react-native and afterwards everything worked fine.

[2017-02-17 17:28] sdg9 commented on #6184
Hopefully this will save ya'll 10m of google searching.
[mkonicek's comment on product pains](https://react-native.canny.io/feature-requests/p/better-navigator-api-and-docs) Jan 26, 2017 says to check out [React Navigation](https://reactnavigation.org/blog/2017/1/Introducing-React-Navigation)

[2017-02-17 18:12] studiobrain commented on #6849
Has there been any further discussion on this issue?  Would really love to set:
`pagingEnabled={true}
horizontal={true}`
and have the ScrollView set the x position to the 2nd page initially without the flash of (0, 0)

[2017-02-17 19:08] vexsnare commented on #7817
@wolframkriesing Thank you. It did work for me the way I wanted.

[2017-02-17 19:45] shergin commented on #12433
Thank you for pointing this out! I believe, that's really important.
I will implement `accessibilityViewIsModal` property soon at least for iOS (`t16163572`). If you already have a solution for drawer (even if it relays on unavailable yet property) feel free to open PR.

[2017-02-17 19:54] hramos commented on #12437
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-02-17 19:54] #12437 closed

[2017-02-17 19:56] #12426 closed

[2017-02-17 19:58] hramos commented on #12419
As @ide said this is understandable. While Navigator is not yet officially deprecated, we're encouraging people to start using React Navigation instead. I'm going to close this, but feel free to open a similar issue against React Navigation if needed.

[2017-02-17 19:58] #12419 closed

[2017-02-17 20:00] #12414 closed

[2017-02-17 20:01] #12407 closed

[2017-02-17 20:02] hramos commented on #12404
^ correct. Closing as this is working as intended.

[2017-02-17 20:03] hramos commented on #12398
Do you see this in the most recent RN release?

[2017-02-17 20:04] #12418 closed

[2017-02-17 20:05] #12393 closed

[2017-02-17 20:05] #12392 closed

[2017-02-17 20:05] #12368 closed

[2017-02-17 20:06] hramos commented on #12368
Closing as the issue is missing some information from the template. We can reopen once your issue is updated.

[2017-02-17 20:11] faalsh commented on #12404
@shergin Many thanks for the heads up.
@hramos Do you think the documentation should be corrected?

[2017-02-17 20:23] hramos commented on #12404
Oh I see, the documentation can certainly be improved here.

[2017-02-17 20:41] fungilation commented on #12261
What is even a virgin `project.pbxproj` from RN? I'd just use a stock project.pbxproj from RN@0.41 and unlink/re-link native modules, instead of trying to resolve a thousand conflicts, but I don't even know which to use as there's multiple project.pbxproj littered around the RN code repository here.

Ugh.

[2017-02-17 20:45] fungilation commented on #12210
What happened to the interactive react-native upgrade, where it actually ASK you whether you want to resolve conflicts or simply overwrite it with the new version from latest RN? Because overwrite is what I want, instead of resolving a thousand conflicts.

I can say that most would want with `project.pbxproj`, to have only "theirs" (RN) and not "ours". We can unlink and re-link native modules afte

[2017-02-17 22:21] janicduplessis commented on #12388
@scarlac I think you can make a separate issue, I tested this and the issue is related to `delay` being broken on iOS.

@mosesoak Got a PR to fix this!

[2017-02-17 22:56] benjick opened #12444 "Initing a new project with a numeric name throws"
### Description

I tried creating a project named "102030" but the cli throwed since it tried to run match on a Number (I guess)

### Reproduction

`react-native init 102030`

### Solution

Added a leading letter: `react-native init a102030`

### Additional Information

* React Native version: react-native-cli@2.0.1
* Operating System: MacOS

Stacktrace:

[code]

[2017-02-17 22:57] benjick commented on #12444
I guess a solution is `String(name).match`

[2017-02-17 23:05] matiasgq commented on #9136
This work for me:
`react-native start`
And when the load is complete type:
`react-native run-android`

[2017-02-17 23:35] ide commented on #12444
we also could do regex.test(name). either seems good to me. want to send a PR?

[2017-02-17 23:53] yuriyvl commented on #11781
@julienfouilhe - I replicated the Podfile as well as package.json dependency.  Running `pod install` produces:

Analyzing dependencies
Fetching podspec for `React` from `./node_modules/react-native`
Fetching podspec for `Yoga` from `./node_modules/react-native/ReactCommon/yoga`
[!] No podspec found for `Yoga` in `./node_modules/react-native/ReactCommon/yoga`

Any idea?

[2017-02-18 00:07] pdoggi commented on #6282
Getting error on `react-native 0.41.2`. Commenting https://github.com/facebook/react-native/blob/master/packager/react-native-xcode.sh#L17-L20 fixes it for me.

[2017-02-18 00:44] julienfouilhe commented on #11781
Did you run `npm install` before that? Is your `node_modules` located in the same directory than your `Podfile` (if not, you must change `./node_modules` to `whatever/the/path/is/node_modules`?

[2017-02-18 00:45] julienfouilhe commented on #11781
@yuriyvl Did you run `npm install` before that? Is your `node_modules` located in the same directory than your `Podfile`? If not, you must change `./node_modules` to `whatever/the/path/is/node_modules`.

[2017-02-18 01:12] benjick commented on #12444
Gladly 👍

[2017-02-18 01:13] yuriyvl commented on #11781
@julienfouilhe Yup. Discovered right after I posted it :). Thank you very much.

[2017-02-18 02:36] fungilation commented on #10506
I'm still hitting a similar error:
[code]

With `NSURL` in brackets instead.

I haven't been hitting this error until I upgraded RN from 0.37 to 0.41.

[2017-02-18 03:46] alexblack commented on #11859
I get this too, using React Native `0.41.2`

[code]

Using `com.android.support:appcompat-v7:23.3.0`

[2017-02-18 03:53] alexblack commented on #6152
I'm hitting this with React Native 0.41.2, I don't have a appcompat-v4 dependency in my build.gradle file, I do have:

`compile 'com.android.support:appcompat-v7:23.3.0'`

[2017-02-18 03:58] alexblack commented on #10371
I'm hitting this with React Native 0.41.2, any suggestions? Its not clear to me what the fix is here:

https://github.com/facebook/react-native/issues/6152#issuecomment-262345988

I currently have:

[code]

is that not correct?

[2017-02-18 04:49] greyvugrin commented on #7495
@Ascendance @Daniel-ltw I followed all solutions in this thread and could not shake the dreaded navigator.geolocation undefined issues. Then I logged `navigator`.

Here's what I got back:

[code]

Then I realized this was coming from the Navigator component that was imported! Somehow importing Navigator to deal with different scenes sets a `navigator` variable, which screws up any hopes of getting

[2017-02-18 04:55] greyvugrin commented on #9903
This was caused for me by importing the Navigator component above, more info: https://github.com/facebook/react-native/issues/7495#issuecomment-280821855

[2017-02-18 06:23] allthetime commented on #12407
@hramos I'm sure this has been addressed in an update/patch at some point, because I'm assuming people are using react-native in production now without issue, but I've read through the release notes since 0.28 and i haven't found anything. Was hoping someone could point me in the right direction.

[2017-02-18 07:15] craigcosmo commented on #4968
I followed about 5 of these solutions, none worked.

Is there a solid solution can sure or is is there a fix coming soon?

[2017-02-18 08:26] StefanoSarioli commented on #12433
Thank you, I start working on the PR for the react-native-drawer-layout component.

[2017-02-18 09:21] QuantumInformation commented on #4968
Nothing worked for me, so I gave up, I will come back to RN when its stable, looking fwd to building apps. Mind you by then I might be just making Progressive web apps!

[2017-02-18 11:23] fumiyasac opened #12449 "Never run & crash sample App in my Mac!!"
When my sample app run, never run & crash ....
Please teach me how to fix environment setting & resolve problem.

This is log of Xcode.
[code]

### Additional Information

* React Native version: react-native-cli: 2.0.1
* Platform: iOS (Xcode8.2)
* Operating System: MacOS Sierra

[2017-02-18 12:17] taobad commented on #3742
I am having the same issue too, is it fixed yet

[2017-02-18 13:23] craigcosmo commented on #6063
I can confirm that install the latest of everything will fix this issue

[code]

[2017-02-18 14:26] fumiyasac commented on #12449
I'm sorry. I solve this problem because of my Wi-Fi connection.
Also, I check terminal is colsed. thanks.

[2017-02-18 14:26] #12449 closed

[2017-02-18 14:48] antonshevchenko commented on #12405
The UIDatePicker displays time based on the user's locale. It doesn't seem like you can override that behavior in terms of UI.

[2017-02-18 16:00] SudoPlz commented on #12405
You can if you initialise it for a different locale, that's what `    [view setLocale:[NSLocale localeWithLocaleIdentifier:@"NL"]];` does.

I tested it and it does work.

[2017-02-18 16:52] adamfaryna commented on #7408
@janaka120 thanks, but it doesn't work for me. My application has only 50 images displayed on single screen with ListView. All images are less than 120kb. Only part of them are displayed on Android.

I'm using RN@0.39.2. Which version of RN are you using?

[2017-02-18 17:04] Mohamed-Abo-El-Soud commented on #12345
Ya apparently i had to reinstall the `node_modules` repos. Thanks, everything works now. I don't know why it didn't update the affected modules automatically.

[2017-02-18 17:04] #12345 closed

[2017-02-18 18:24] dwilt commented on #12112
This seems like a pretty basic thing for upgrading react native and I don't understand why more people aren't complaining about it. I've been unable to use this tool successfully and have reinstalled multiple times. Any updates here?

[2017-02-18 19:08] dragonwong commented on #9874
@1c7 thx

[2017-02-18 21:16] grundmanise opened #12452 "Issue with hitTest:withEvent: method in a custom RN module."
I am trying to create a custom `RN` `View` module whose sole purpose is to pass it's events to it's child - `reactSubview`. `reactSubview` is just a basic `RN` `ScrollView`.

Consider the following structure:

[code]

I made my module using [this solution](http://stackoverflow.com/questions/1220354/uiscrollview-horizontal-paging-like-mobile-safari-tabs/1220605#1220605). But the `hitTest:withEvent`

[2017-02-18 21:21] mosesoak commented on #12388
@janicduplessis awesome! 🎉

[2017-02-18 21:36] scarlac opened #12453 "Native animation driver animates opacity to wrong value"
The issue seems to be with `Animated.Text` and `opacity`: Enabling useNativeDriver for Animated may prevent some text from fading in:
[code]
In render:
[code]
Only the first value in the interpolation will be applied (in this case 0, which means text will never appear). The rest of the values have no visible effect.
If I change the first value to something larger than 0, I can faintly see some kin

[2017-02-18 21:43] hirande opened #12454 "Handler.java:739 Please Help"
![ekran resmi 2017-02-18 23 34 49](https://cloud.githubusercontent.com/assets/19289751/23097046/016bc50c-f633-11e6-862f-e91d8825aa4f.png)
![ekran resmi 2017-02-18 23 34 49](https://cloud.githubusercontent.com/assets/19289751/23097052/083e8f04-f633-11e6-8c00-d9eff134fc0d.png)

**Where am I doing wrong?**
===================================================
[code]

[2017-02-18 22:38] stinju commented on #10877
Running into the same issue with RN0.39 on an Android 4.4.4 device.  It crashes intermittently but very frequently (>50% of the time).  Using `compileSdkVersion 23` and `buildToolsVersion "23.0.1"`.  Any tips/workarounds would be greatly appreciated.

[2017-02-18 23:44] zsaraf commented on #11451
@jackkav dude you just saved me! I use gasmask and had a hosts file that didn't map 127.0.0.1 to localhost

[2017-02-18 23:57] HERRKIN opened #12456 "Navigator problem, can't pass it as prop"
### I can't pass navigator as props, it throrws an error
I am trying this:
[code]

I get the error `undefined is not a function (evaluating '(0,_color.Color)(this.toolbarDefaultBg)')`
and the first item in the error stack says the error was in statusBarColor light.js:132

### Additional Information
* react-native-cli: 2.0.1
* react-native: 0.40.0
* Platform: Android using AVD on nexus one
* Operat

[2017-02-19 00:07] patsimon commented on #5304
I have a found a solution to the problem of finding a mobile cross platform native open source framework that is stable - Nativescript :)

[2017-02-19 00:46] #12420 closed

[2017-02-19 02:56] lucianomlima opened #12457 "react-native-fbsdk ShareDialog.show promise not resolves in Android"
### Description

In my app, user selects an image, makes some modifications to the image, and then uses ShareDialog to send the processed image to his Facebook account.
I can successfully share the image, but I never get the result of the promise.
I'm trying in many ways but in all of them I don't know if it was shared successfully or canceled by the user to update the user interface accordingly.

[2017-02-19 04:26] alexblack commented on #12309
I hit this problem too, but I'm not sure what the solution is?

I've got

[code]

[2017-02-19 04:55] alexblack commented on #12309
I got this fixed by changing to reference a specific react-native version:

`compile 'com.facebook.react:react-native:0.41.2'`

Then I'd get an error when compiling, unable to find it.  Then changed to:

I hit this problem too, but I'm not sure what the solution is?

I've got

[code]

From

[code]

[2017-02-19 06:50] greyvugrin commented on #728
^ +1, this would be great to have, not sure how else to cope with varying text length in Android. Lmk if I'm missing something

[2017-02-19 08:23] janicduplessis opened #12458 "React PropTypes warning with LayoutAnimation"
We are calling PropTypes manually in LayoutAnimation which now triggers a warning since React 16. https://facebook.github.io/react/warnings/dont-call-proptypes.html explains the warning but there doesn't seem to be an ideal solution in our case, including a new dependency to do these validations seems a bit overkill and writing these validations manually a bit too complex.

Opening this issue to d

[2017-02-19 08:25] janicduplessis commented on #12458
I'm personally leaning towards point 3 or 4, those are more hacky but let's say that "we know what we are doing" :)

[2017-02-19 08:29] janicduplessis commented on #12453
Have you tried getting rid of Animated.parallel and running only that one animations to see if it works, looks like a pretty simple animations so I'm having trouble seeing what could go wrong.

[2017-02-19 08:30] janicduplessis commented on #12453
Also do you know if it happens on Android too? (Would help me know if the bug is in the native implementation or not).

[2017-02-19 08:31] janicduplessis commented on #12444
Closing this since the PR was merged.

[2017-02-19 08:31] #12444 closed

[2017-02-19 09:20] lucaspenney commented on #12005
I have the same issue after upgrading to react-native 0.420-rc.3. from 39. Haven't been able to find a way around it - just have to restart the packager whenever it crashes, which seems to be after a couple of successful hot reloads, not necessarily right away.

[2017-02-19 09:21] Aaaaaashu commented on #11449
@AdamChrist
This is my mistake. I remove the react native events listener in some code,
so result in the `BackAndroid `  failure.

AdamChrist <notifications@github.com>于2017年2月5日周日 下午3:59写道：

[2017-02-19 11:03] CecilLee opened #12460 "RefreshControl set the titleColor causes a crash"
We use GitHub Issues for bugs.

### Description

set titleColor property,
but I don't set the title, or set the titleColor first, after setting the title
causes a crash

### Reproduction

[FILL THIS OUT: Try to reproduce your bug on rnplay.org and provide a link. If you can't reproduce the bug on rnplay.org, provide a sample project.]

### Solution

[FILL THIS OUT: What needs to be done to address

[2017-02-19 11:36] npomfret commented on #12261
Prior to RN40 (i think) you could get a virgin project file by using react-native upgrade.  I thin kit's gone now though, and I suspect we really need it back.  Merging this file by hand simply isn't possible, at least not for me.  I've got maybe a hundred conflicts in there, and I've barley changed it.  There's just no way to upgrade now.

[2017-02-19 13:20] Larney11 commented on #1240
My solution was to call the "navigator.geolocation.getCurrentPosition" function inside a "setInterval" function.

[2017-02-19 13:54] ptfly opened #12461 "ListView wont execute onEndReached when onScroll handler is added to its ScrollView"
Here is the use case (v 0.41.2):

[code]

I'm not adding all the other props that `ListView` and `ScrollView` have but sure thing they are not causing the issue. As soon as `onScroll` is removed, everything works as expected. This is either a bug, or a missing documentation on how to implement `onScroll` and not capturing the event.

**Update:**
After some digging in the RN source, I understand th

[2017-02-19 14:30] bluetec commented on #11475
@lacker I call forceRTL method before appRegistery, but in first run everything will be rendered  Left to Right.
Android only

how should I call  forceRTL in native code?

[2017-02-19 14:36] bluetec commented on #10812
iOS uses available languages to set text direction, simply add Arabic language using xCode in project configuration, and text will be rendered in correct direction.

[2017-02-19 14:51] shahen94 commented on #10991
+1

[2017-02-19 15:15] wuhenwuya commented on #11592
@zongjingyao I also encountered the same problem,how did you solve it ? And How to be compatible with emoji (ios 、android)?

[2017-02-19 15:22] Villethemina commented on #4968
I'm having this issue on a fresh React Native project. Nothing mentioned in this thread worked so I guess I'll just have to use relative paths everywhere.

[2017-02-19 15:59] kyle-ssg commented on #1682
Using cloneDeep to achieve this is not really a good solution, it's quite an expensive and unnecessary operation if you have an array of nested objects and breaks the reference equality check ide mentioned. This basically makes rowHasChanged equate to true but is actually even less performant than doing ```rowHasChanged: (row1, row2) =>false```.

I've been playing around with this myself, at first

[2017-02-19 16:05] crellison commented on #8436
@koutsenko I would check the `package.json` for the boilerplate you use to make sure that the npm package versions are up to date and not colliding

[2017-02-19 17:06] fungilation commented on #12261
I use these 2 regexes to replace the conflicted project file, to take out the ours sections and leave only the theirs:
[code]

This should, like I suggested, be an option in the new upgrade script. To add "all ours" and "all theirs", besides the current option of leaving all conflicts for in files.

[2017-02-19 17:58] flybayer commented on #304
@toanfet I just got dev bundles loading over ngrok at a coffee shop by temporarily modifying this line in `AppDelegate.m` like so:
[code]

[2017-02-19 18:55] hirande commented on #12454
up

[2017-02-19 18:55] lodev09 commented on #10471
FYI, this is still broken in RN0.41. I guess the best "official" solution for this is to implement an `onHidden`. I tried [this](https://github.com/facebook/react-native/pull/10303#issuecomment-252920282) suggestion but no luck.

My solution for now is that I'm combining `setTimeout` and @feyy's `animationType="none"`. I'm currently implementing my own custom ActionSheet so I need to show another

[2017-02-19 20:01] Ashoat commented on #9466
Hey there - reopening this issue in part because I am experiencing the same thing, and in part because the Canny.io (née ProductPains) link is now broken. Worst case it gets closed again and I get a Canny.io issue I can upvote :)

By the way, please let me know if this concern ought to be addressed to the Yoga team instead of React Native.

[2017-02-19 20:09] ncuillery commented on #12261
@fungilation @npomfret There is nothing stopping you from using `react-native upgrade`. The command still exists.

[2017-02-19 20:18] MattFoley commented on #728
It's been built on iOS, just needs an Android implementation added.

[2017-02-19 20:37] janicduplessis commented on #12460
This should be fixed on master now https://github.com/facebook/react-native/commit/93a263d874789c23646cb1f77df0198e9e58cf33

[2017-02-19 20:37] #12460 closed

[2017-02-19 20:39] janicduplessis commented on #12461
If you put onScroll on the ListView directly instead of the ScrollView it should work.

[2017-02-19 20:41] janicduplessis commented on #12461
Also is there any particular reason you use renderScrollComponent here? By default ListView uses a ScrollView.

[2017-02-19 21:20] Ashoat opened #12463 "LayoutAnimation on iOS can't animate a View with a fixed-position View below it"
### Description

On iOS, if you fix a View to the bottom of the screen, LayoutAnimation isn't able to animate the y-position of any Views above it.

This issue has been reported before in #9466.

Please let me know if I should be reporting to the Yoga team instead!

### Reproduction

https://rnplay.org/apps/sFELjg

1. This issue repros only on iOS.
2. It repros with different techniques for fixing

[2017-02-19 21:27] ptfly commented on #12461
I haven't tried `onScroll` on the `ListView` because it's not documented as a prop. The reason why I'm using `renderScrollComponent` is customization of the scroll view I need. The code above is just an excerpt, there are much more stuff in my actual code.

[2017-02-19 22:00] fungilation commented on #12261
Sure. But this issue is about this being 2 steps forward 1 step back, when
it can be just 2 steps forward.
On Sun, Feb 19, 2017 at 12:11 PM Nicolas Cuillery <notifications@github.com>
wrote:

--
Cheers,
Gary

[2017-02-19 23:04] janicduplessis commented on #12461
It might not be super clear from the docs, but ListView can take the same props as ScrollView http://facebook.github.io/react-native/docs/listview.html#scrollview

[2017-02-19 23:28] juddey commented on #5787
Just an update to @hmedney's solution. Make sure you modify the file in:
`${project_dir}/android/build.gradle`.

That is, not the one in `android/app` :)

[2017-02-19 23:34] rodperottoni commented on #11989
+1

[2017-02-19 23:43] rodperottoni commented on #9665
+1. Happens after around 1 minute with the app open on a real device and debugging on chrome. RN 0.40.

[2017-02-19 23:56] greyvugrin commented on #7495
@kulmajaba the `maximumAge` parameter fixed any caching problems for me. Setting it to 0 will force it to always get a new position.

For anyone else struggling with the timeout issue, I've read that sometimes high accuracy GPS calls can take a while (upwards of a minute), especially when indoors - as @RoBYCoNTe pointed out above.

Relying on a high accuracy call from the get go might not be the b

[2017-02-20 01:09] APLK commented on #11859
use compile 'com.facebook.react:react-native:+',make sure the build package is up to date,then in your activity to extends ReactActivity,in your Application to implement ReactApplication.

[2017-02-20 01:26] luoshuai5 opened #12464 "I hope React Native can develop Android TV Applications。"
I hope React Native can develop Android TV Applications。How does that work?

[2017-02-20 03:14] yaochenfeng opened #12465 "How to a custom error page?"
How to a custom error page?

[2017-02-20 03:21] yaochenfeng commented on #12465
How to a custom error page in the event of a network or other errors

[2017-02-20 04:27] alexblack commented on #11859
I solved my problem, the problem was that I was using `com.facebook.react:react-native:+` which pulled in version 21 from the web, instead of 0.41.2 locally due to a path error.  I changed it to specify 0.41.2 specifically, then it failed to find it, enabling me to discover and fix the path issue.

[2017-02-20 04:37] janaka120 commented on #7408
I used RN 0.38.0 version

[2017-02-20 04:48] keerthanarbt opened #12466 "React Native : App crashes in samsung devices"
Hi,
Error message:
react.uimanager.ReactShadowNode.setStyleWidth(float)' on a null object reference

com.facebook.react.uimanager.UIImplementation.updateNodeSize (UIImplementation.java:151)
com.facebook.react.uimanager.UIManagerModule.updateNodeSize (UIManagerModule.java:213)
com.facebook.react.views.modal.ReactModalHostView$DialogRootViewGroup$1.run (ReactModalHostView.java:302)
android.os.Handle

[2017-02-20 06:08] thatjuan commented on #12261
I was excited about the new upgrade workflow until I had to use it. xcodeproj files are notorious for being really awkward to merge. I spent hours trying to manually fix about 25 conflicts and every single time I ended up with an unreadable file.

I've been thinking that approaching this issue by merging xcodeproj files is just not going to pan out. I think a better approach would be to programmat

[2017-02-20 06:15] sebmarkbage commented on #12458
We have an open issue of this internally. We're exposing an external API to do the type checking explicitly. https://github.com/facebook/react/pull/9004

[2017-02-20 06:32] ptfly commented on #12461
Thanks Janic, you are right. It's working just fine by adding these props directly to the `ListView`.
May be someone could drop one sentence in the docs just above the `ScrollView props...` link :)

[2017-02-20 06:45] dannyyaou commented on #12118
+1
@rh389 @maartenschumacher thx, but that does'nt help to fix the problem

[2017-02-20 06:49] janicduplessis commented on #12461
Feel free to send a PR to make it clearer :), closing this since it has been resolved.

[2017-02-20 06:49] #12461 closed

[2017-02-20 06:59] naWang1227 opened #12467 "Can not find variable：require（http://localhosy:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false:30）"
### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens.]

![screenshot_1970-07-18-10-33-28](https://cloud.githubusercontent.com/assets/25194203/23114951/f327beb0-f77c-11e6-8b22-3e2f651c8c38.png)

![default](https://cloud.githubusercontent.com/assets/25194203/23114980/0e719b3c-f77d-11e6-9b45-0a6ef73b34a2.png)

* React Native version: 0.41.2
* P

[2017-02-20 07:04] naWang1227 commented on #12467
I tried to modify the port number 8083，but it is still error “Packager can't listen on port 8083”.

[2017-02-20 07:07] fungilation commented on #12261
This would be the much better approach for xcodeproj alone.
On Sun, Feb 19, 2017 at 10:10 PM thatjuan <notifications@github.com> wrote:

--
Cheers,
Gary

[2017-02-20 07:08] dannyyaou opened #12468 "[0.40] RCTRedBox.m:407:58: Conversion from value of type 'NSArray<RCTJSStackFrame *> *' to incompatible type 'NSArray<NSDictionary *> *'"
Hi All!
After I update my project to 0.40
I've done dealing with lots of issue and published my app
But today when I wanna keep fixing some bug in my app
I just have to compile in Xcode first, then this compile error happening
How can i fix it? Help!

![image](https://cloud.githubusercontent.com/assets/8759099/23115168/17941626-f77e-11e6-9d22-b1b0d33419f6.png)

React Native version: 0.40
Platform:

[2017-02-20 07:34] f0rr0 opened #12469 "Layout Props passed outside of `style` throw"
[code]
Why is `margin` even being looked at by RN?
This happens with other style props as well. For instance `padding`.

### Additional Information

* React Native version: 0.41.2
* Platform: both
* Operating System: MacOS

[2017-02-20 07:41] nikhilmandalia opened #12470 "npm start failed"
19 error node v7.5.0
20 error npm  v4.1.2
21 error code ELIFECYCLE
22 error myapp@0.1.0 start: `webpack-dev-server --hot`
22 error Exit status 1
23 error Failed at the myapp@0.1.0 start script 'webpack-dev-server --hot'.
23 error Make sure you have the latest version of node.js and npm installed.
23 error If you do, this is most likely a problem with the myapp package,
23 error not with npm itself

[2017-02-20 07:51] niranjan-b-prajapati commented on #11389
I have an app which till yesterday was working properly and i have to implement new plugin so i switched to different branch on my git flow and installed that plugin, but i had got to make build for client it was the urgent requirement so i switched back to develop branch and removed node_modules folder and did NPM install but after that i started getting following issue:SyntaxError: Strict mode d

[2017-02-20 08:00] santhosh77h opened #12471 "Trying to create apk build fails in ./gradlew assembleRelease."
### ./gradlew assembleRelease

`react-native start` is already running.

I did curl `curl "http://localhost:8081/index.android.bundle?platform=android" -o "android/app/src/main/assets/index.android.bundle"` and then `./gradlew assembleRelease` but my build failed with this exception everytime with this error
[code]

### Reproduction

I have put all the images in root folder of assets
Project
├── a

[2017-02-20 08:18] reyesr commented on #12223
I think this issue is also related to #12368 and appears when using Modal on IOS, in a specific context, in debug mode.

I do not use redux, my app actually uses NavigationExperimental (the root component of the display is a NavigationCardStack) and when I display a Modal on IOS in Debug Mode, the render() function freezes and the modal is never displayed. On Android, the very same code works fine

[2017-02-20 08:21] danywheeler commented on #950
@joshbedo the parent alignItems sets to center , cause the Image not show , does any one knows why? change the parent alignItems and flex:1 for the Image fix the problem for me .

[2017-02-20 08:22] xuebinliu commented on #3013
please use ThemedReactContext class instance to invoke getCurrentActivity function to get the Activity.

best regard

[2017-02-20 09:03] SushilShrestha commented on #8885
Managed to solve the problem using the `borderRadius` attribute on the Image instead of providing as style.
RN 0.40
[code]

[2017-02-20 10:09] aeirola opened #12473 "Bundle fails on unexpected token when minification is enabled"
### Description

I noticed an issue where the minified bundling fails on syntax errors, even though the development build works flawlessly.

Bundling the invalid code produces the output:

[code]

See reproduction section for invalid code example.

### Reproduction

[code]

### Solution

Would need to dig deep into the react native package to figure out what babel plugins or configurations cause t

[2017-02-20 10:14] digin-project commented on #12295
Any feedback on this ? I think we have the same issue here and we are kind of stuck with our iOS version since we upgraded RN to 0.40.0

[2017-02-20 10:23] fabriziomoscon commented on #2903
I solved this changing the XML in `android/app/src/main/res/values/styles.xml` like so

[code]

[2017-02-20 10:43] henrikra opened #12474 "Spring animation with delay"
### Description

When using spring animation with `delay` the delay is not registered at all. Here is how to use delay

[code]

But for example with `timing` is works:
[code]

### Solution

I think the solution lies here: https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/AnimatedImplementation.js#L447 because it looks like the spring does not take `delay` as parameter

##

[2017-02-20 10:57] SuperRainX commented on #12393
I encountered a error like this.

[2017-02-20 11:16] npomfret commented on #12261
A programatic way of adding my changes to a _virgin_ Xcode project file would be ideal.

[2017-02-20 11:21] npomfret commented on #1240
The `timeout` parameter is working for me now, I'm getting much more frequent updates by setting it to _250_ (ms).

[2017-02-20 11:55] astreet commented on #11809
This wouldn't be related to that commit -- it's more likely related to https://github.com/facebook/react-native/pull/11222 (is anyone able to try reverting that locally and see if the problems go away?)

I'll post internally and try to get someone on it.

[2017-02-20 12:04] Kerumen commented on #11809
The commit of #11222 was [cherry-picked into 0.38 and 0.39](https://github.com/facebook/react-native/pull/11222#issuecomment-264742994). People are reporting this doesn't happen on 0.38. Maybe this in not the root cause?

[2017-02-20 12:11] ivosabev commented on #637
Any ideas when this would be resolved?

[2017-02-20 12:30] nhuthuynh commented on #11257
i have the same problem and the workaround does not fix mine :(. Any other suggestion ?

[2017-02-20 12:36] nhuthuynh commented on #11498
i encounter the same problem but the workaround does not fix it. any other suggestion ?

[2017-02-20 12:47] nhuthuynh commented on #11498
i fixed the problem by following the workaround then install locally react-native, react and react-native-animatable which is the package cannot be resolved. Hope this help !

[2017-02-20 12:55] nihgwu commented on #11809
0.38.0 is different from 0.38.1
I haven't test the reverting thing, but I have to say there are a lot of layout issues on Android when I'm trying to implement a HTML render, then I switched to `Nodes` which is still experimental and all the **LAYOUT DON'T UPDATE** issues on Android are gone.
But when I upgrade my app to the latest version of RN, I scroll a list to load more data, the following int

[2017-02-20 13:10] hnhm commented on #11989
This only happens to me when Remote JS Debugging is enabled, at least on Android 6, RN v0.41.2.

[2017-02-20 13:26] sdcooke commented on #11809
Reverting that commit makes quite a large difference to us - I'm not 100% certain that performance is back to what it was before 0.39 - we'll continue testing.

[2017-02-20 13:48] davkuzmin commented on #11731
That fixed it!

[2017-02-20 13:49] em222iv commented on #9979
+1 RN0.39 also on Samsung devices! Any news on this?

[2017-02-20 14:04] bourgois commented on #9979
Still get the issue from time to time. Now I am on RN 0.41.2

[2017-02-20 14:20] ochanje210 commented on #12286
Thank you. building from source solved the problem!

[2017-02-20 14:42] 1c7 commented on #2797
@captain-miao soluation work for me, I am in China.

[2017-02-20 14:53] shahen94 commented on #8386
I have this issue too, But it works fine when debugging via Chrome

[2017-02-20 15:23] lironhel opened #12476 "Listview inside Listview"
### Description

I have a listView when each cell has a TouchableView & listView
MyElement - When clicking on the touchView - the listView will show\hide

MyElement:
.....
constructor(props) {
        super(props);
        this.state = {
            isExpended: true,
            dataSource: (new ListView.DataSource({rowHasChanged: (r1, r2) => r1 !== r2})).cloneWithRows(this.props.list),

        }

[2017-02-20 15:24] wildQueequeg commented on #8720
set time manually on android device

[2017-02-20 15:31] IgorZh opened #12477 "Error when start without debug"
Hello, I have a bug just after application started by command `react-native run-android`. Error appears when I switch off remote debug. With debugger all works correct.

### Description

[code]

versions of libs

[code]

[2017-02-20 15:44] rh389 commented on #12118
It can be safely ignored and shouldn't stop a build - what problem is it causing?

[2017-02-20 16:24] ataillefer commented on #7306
Hi,

If I may add a few details as I have been struggling myself for a while before getting a clear understanding of the problem.

I believe that @dslounge's issue actually was a "real" network error, triggering the ` xhr.onerror` callback from `fetch` thus the 'Network Request Failed' message, as it is shown by the `hasError: true` property of the `xhr` object.
So, in this case, the promise is in

[2017-02-20 16:48] RachelGreenberger opened #12478 "Dim Background on Modal Display"
-

### Description

Expected default behavior of modals on mobile devices, is that on dispaly of the modal, the background page dims. Currently, the transparent property of the Modal component sets the background to either transparent or white. It would make more sense to have 3 options for background: transparent, white or rgba(0,0,0,0.5) - dim.
### Reproduction

Default behavior of modal transpa

[2017-02-20 17:07] christopherdro commented on #10052
@facebook-github-bot icebox

[2017-02-20 17:07] #10052 closed

[2017-02-20 17:08] christopherdro commented on #12464
@facebook-github-bot stack-overflow

[2017-02-20 17:10] christopherdro commented on #12376
https://github.com/facebook/react-native/issues/2720#issuecomment-140562534

[2017-02-20 17:11] christopherdro commented on #7591
@facebook-github-bot icebox

[2017-02-20 17:12] christopherdro commented on #9417
@facebook-github-bot icebox

[2017-02-20 17:12] christopherdro commented on #9478
@droidwolf @tioback Is this still an ongoing issue?

[2017-02-20 17:13] christopherdro commented on #9766
Duplicate

[2017-02-20 17:13] #9766 closed

[2017-02-20 17:13] christopherdro commented on #9971
@facebook-github-bot icebox

[2017-02-20 17:14] christopherdro commented on #10120
@facebook-github-bot icebox

[2017-02-20 17:15] christopherdro commented on #10124
@facebook-github-bot icebox

[2017-02-20 17:15] christopherdro commented on #10131
@facebook-github-bot no-reply

[2017-02-20 17:16] christopherdro commented on #10171
@facebook-github-bot icebox

[2017-02-20 17:16] christopherdro commented on #10293
@facebook-github-bot icebox

[2017-02-20 17:17] #10313 closed

[2017-02-20 17:17] christopherdro commented on #10320
@facebook-github-bot no-reply

[2017-02-20 17:17] christopherdro commented on #10331
@facebook-github-bot no-reply

[2017-02-20 17:18] #10364 closed

[2017-02-20 17:18] christopherdro commented on #10367
@facebook-github-bot answered

[2017-02-20 17:18] christopherdro commented on #10428
@facebook-github-bot answered

[2017-02-20 17:18] christopherdro commented on #10434
@facebook-github-bot answered

[2017-02-20 17:19] christopherdro commented on #10493
@facebook-github-bot icebox

[2017-02-20 17:19] christopherdro commented on #10501
@facebook-github-bot answered

[2017-02-20 17:20] christopherdro commented on #10514
@facebook-github-bot no-reply

[2017-02-20 17:20] christopherdro commented on #10576
@facebook-github-bot answered

[2017-02-20 17:20] christopherdro commented on #10584
@facebook-github-bot stack-overflow

[2017-02-20 17:20] christopherdro commented on #10600
@facebook-github-bot answered

[2017-02-20 17:21] christopherdro commented on #10651
@facebook-github-bot icebox

[2017-02-20 17:21] #10677 closed

[2017-02-20 17:21] christopherdro commented on #10691
@facebook-github-bot no-reply

[2017-02-20 17:21] christopherdro commented on #10725
@facebook-github-bot no-reply

[2017-02-20 17:22] christopherdro commented on #10798
@ErikCupal Still having issues?

[2017-02-20 17:22] christopherdro commented on #10799
ping @lelandrichardson

[2017-02-20 17:22] christopherdro commented on #10803
@facebook-github-bot no-reply

[2017-02-20 17:22] christopherdro commented on #10807
@facebook-github-bot answered

[2017-02-20 17:22] christopherdro commented on #10883
@facebook-github-bot no-reply

[2017-02-20 17:24] #7591 closed

[2017-02-20 17:36] butchmarshall commented on #12005
I found it eventually went away.

Not sure if deleting all the cache (cd android && ./gradlew clean) and running package manager w/ react-native start --reset-cache helped at all?

[2017-02-20 17:49] booboothefool commented on #7495
Does anyone have a solid solution? Some users cant even register for my app due to part of registration requiring them to set their geolocation. The issue is only happening on some Android devices, and I have I'm not using the 3rd parameter. Driving me nuts.

[2017-02-20 17:56] lelandrichardson commented on #10799
@lacker @christopherdro it appears this crash went away when we upgraded to 0.38... I guess we can close for now. thanks!

[2017-02-20 17:56] #10799 closed

[2017-02-20 17:59] greyvugrin commented on #7495
@booboothefool try using the options parameter and pass highAccuracy as
false. Results are much faster that way.

On Mon, Feb 20, 2017, 9:50 AM booboothefool <notifications@github.com>
wrote:

[2017-02-20 18:23] JasonHenson commented on #6679
this has always happened for me -- I just click the screen over and over.

[2017-02-20 18:29] sibelius commented on #6679
it happens on RN41 as well

[2017-02-20 18:43] booboothefool commented on #7495
@greyvugrin Okay I will give that a shot. Why are half the people reporting that "you need to remove the 3rd parameter, just setting to enableHighAccuracy to false doesn't work"? It seems like everyone is saying something different.

[2017-02-20 18:46] dkpalmer commented on #12135
I had issues with `project.ext.react` getting picked up as well. After going through a few other issues, I saw mention of setting `org.gradle.configureondemand=false` in gradle.properties. After setting this, removing the same setting in my global gradle properties, and killing all running gradle processes, my `project.ext.react` settings started working.

As a workaround, you could try specifying

[2017-02-20 19:00] dkpalmer commented on #11785
I ran into the same "Could not get BatchedBridge" error with different build types instead of product flavors, but I suspect it's the same issue. In your build.gradle file, you can try added a `project.ext.react` section (see comment block at top of the file).

For me, I have three variants (`debug`, `beta`, `release`) with corresponding packages similar to `com.myapp.debug`, `com.myapp.beta`, and

[2017-02-20 19:18] pbojinov commented on #11781
After resolving the `RCTConvert.h yoga/Yoga.h file not found`, I'm now seeing the following now:

[code]

Anyone come across this?

I'm on react-native version `0.42.0-rc.3` with Xcode 8.2.1.

[2017-02-20 19:31] dkpalmer opened #12480 "run-android with custom package build variants launch wrong MainActivity"
--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

I've setup three different build types: release, beta, and debug. beta and debug have different package names from release, e.g.:

release: com.myapp
beta: com.myapp.beta
debug: com.myapp.debug

When running `react-native run-android --variant=beta`, build and install work as expe

[2017-02-20 19:37] henriqamaral commented on #11727
Hi,
I'm using version 0.41 and the problem continue.

**Additional Information**

React Native version: 0.41.2
Platform: Android (Emulator)
Android Version: 7.0
Operating System: MacOS

[2017-02-20 19:54] license2e opened #12481 "React Native getting started instructions on a fresh Mac OSX install returns error"
### Description

https://facebook.github.io/react-native/docs/getting-started.html#testing-your-react-native-installation

[code]

### Reproduction

Re-install Mac OSX on a new machine, follow instructions step-by-step.

### Additional Information

* React Native version: n/a
* Platform: iOS
* Operating System: MacOS

[2017-02-20 20:12] sudharsanmit commented on #11439
Observed that it works with 0.41 straight. No workarounds needed.

[2017-02-20 20:23] peacechen commented on #511
The value of TextInput may be retrieved through its `_lastNativeText`property.

this.refs.myTextInput._lastNativeText

The TextInput component needs a ref assigned to it of course.

[2017-02-20 20:44] puhfista commented on #10756
This is happening to me on android 5.0.1 when attempting to fetch(URL) an image.

[2017-02-20 21:51] matthamil commented on #12403
I'm experiencing the same issue. I can't seem to have two sides of the same `<View>` set to two different colors, AND set different border radiuses on different corners. When I try to have the top border color set to gray and the left border color set to blue AND have a border top left radius AND a border bottom left radius I get a gray border on all sides of my `<View>` like so:

![image](https:/

[2017-02-20 22:38] Kerumen commented on #10052
@christopherdro What is "icebox" ?

[2017-02-20 22:49] pbojinov commented on #11293
Seeing the same when following the `Integration With Existing Apps` guide http://facebook.github.io/react-native/releases/0.42/docs/integration-with-existing-apps.html

[2017-02-20 23:18] greyvugrin commented on #7495
@booboothefool you're right about this thread being confusing. From what I can tell, the people who are omitting the options parameter might have solved their problem because something else in the settings was affecting things.

omitting the 3rd argument for getCurrentPosition to use default values from native module works for me.

So the issue may have been with `timeout`. There are a lot of fact

[2017-02-21 00:56] julienfouilhe commented on #11781
That's funny, it's basically the same error. Are you using Pod? What's your Podfile like?

[2017-02-21 01:24] thatjuan commented on #12261
@ncuillery any comments on the above?

[2017-02-21 01:55] king6cong commented on #3301
Any updates? 😸

[2017-02-21 02:08] dwilt commented on #12112
@joIivier where in `cliEntry.js` are you seeing this? Here's mine:

[code]

[2017-02-21 02:10] asivura commented on #10682
I have the same issue on iPhone 7plus when app does not support 3x resolution.
React native 0.41.0.

Workaround: add {backgroundColor: 'transparent'} to Text style.

[2017-02-21 02:16] ssomnoremac commented on #12469
I'll chime in to say that this is an issue outside of styled components in setting props that collide with "layout props". And why do layout props exist as props outside of styles in the first place? There is no discussion of this feature besides the docs outlining them -- at least as far as I can tell.  Is it kosher to use these props to set styles and, more importantly, it is a side-effect or wa

[2017-02-21 03:01] andreibarabas commented on #11594
guys, this works on Android (i haven't tested it on iOS yet).

      <html>
       <body>
       <script>

       function waitForBridge() {

           //the react native postMessage has only 1 parameter
           //while the default one has 2, so check the signature
           //of the function

           if (window.postMessage.length !== 1){

             setTimeout(waitForBridge, 200);

[2017-02-21 03:25] jekram commented on #567
+1

[2017-02-21 04:14] willyyang commented on #4968
Same issue here. Hope someone can resolve this

[2017-02-21 04:54] ivanbrens commented on #4494
@dragonwong Your solution is a great place to start.  However I applied it a little bit differently:

`  _disableScene: function(sceneIndex) {
    let sceneConstructor = this._sceneRefs[sceneIndex];
    let nextRoute = this.state.routeStack[sceneIndex + 1];

    if (nextRoute && nextRoute.isPreViewStatic) {
        sceneConstructor.setNativeProps({
          pointerEvents: 'none',
        });

[2017-02-21 05:07] braco opened #12486 "react-native-git-upgrade breaks over yarn.lock?"
--- Please use this template, and delete everything above this line before submitting your issue ---

### Description

react-native-git-upgrade seems to fail with "error: yarn.lock: does not exist in index"

$ react-native-git-upgrade --version
0.2.7

$ react-native-git-upgrade

[code]

Despite success message, none of the files in my project are changed.

### Reproduction

yarn add react-native@0

[2017-02-21 06:42] dwilt commented on #12112
@joIivier @ncuillery Made a video showing my struggles lol. Any suggestions here would be greatly appreciated as our current method of upgrading, completely manual, is a total PITA.

https://youtu.be/5BIsXChxAhk

[2017-02-21 07:08] luoshuai5 commented on #12464
The use of react native development can not use the TV remote control .

[2017-02-21 07:36] ide commented on #12464
Could you write a native module for this?

[2017-02-21 07:37] haemi commented on #6152
@NoTraceOfSnow I can't implement `ReactApplication` as it is not found - using `compile "com.facebook.react:react-native:+" // From node_modules.`

Am I missing something?

[2017-02-21 07:37] luoshuai5 commented on #12464
yes,no focus on screen .

[2017-02-21 07:39] luoshuai5 commented on #12464
RN component cannot get focus。

[2017-02-21 07:41] luoshuai5 commented on #12464
How to get the RN component to get the focus and change the style？

[2017-02-21 07:41] dereknex commented on #11293
Don't forgot modify `Info.plist`
http://facebook.github.io/react-native/releases/0.42/docs/integration-with-existing-apps.html#app-transport-security

[2017-02-21 07:48] sun2rise opened #12490 "How can I bundle files inside android app?"
I am trying to bundle some file inside my react-native app.
I placed them inside android/app/src/main/assets/ folder but i don't know how to use them in debug and don't know how to load/read them.

Moreover I would like to use those files inside a webview (html and js)..

What are my possibilities?
Thank you

[2017-02-21 07:50] luoshuai5 commented on #12464
RN does not intend to support Android TV?

[2017-02-21 07:57] alexmngn opened #12491 "Android image have edges bleed"
### Description

I have an image coming from a server that I load in the `<Image> component. On iOS, no issue, although on Android when the image is not a square, the edges bleed to fit the square.

In the following example I use [ImageProgress](https://github.com/oblador/react-native-image-progress) to see the bleeding while it loads the image, and I refresh the view with Hot Reloading. Although

[2017-02-21 08:03] NoTraceOfSnow commented on #6152
@haemi  your project has download this about the reactnative file?  i have a good idea ,you can init a Official  project ,View all files and you can find difference in the project,copy the difference file to you self project.if you can improt reactnative in you project you can link me , i will try my beast .my QQ email 2371479117@qq.com and you project has this picture files
![1487663126 1](https:

[2017-02-21 08:32] haemi commented on #6152
@NoTraceOfSnow thanks for your quick response! I can import React into my project, I also have the `node_modules` folder with it's subfolders. But when I want to show my ReactNative-Activity, I get the error from above (`java.lang.IllegalAccessError: Method 'void android.support.v4.net.ConnectivityManagerCompat.<init>()'`).

Then I wanted to try what you wrote here (https://github.com/facebook/rea

[2017-02-21 08:35] fdb commented on #6691
I have this issue as well. Turns out it is because I have **spaces in the project path**:

- This works: `/Users/fdb/Desktop/myproject/icons/settings.png`
- This doesn't: `/Users/fdb/Dropbox (Personal)/myproject/icons/settings.png`

Running `watchman watch-del-all` has no effect — only moving to a path without spaces does.

[2017-02-21 09:03] gyzerok commented on #491
It seems to not work for me as well on Samsung phones when you do change font style in OS settings

[2017-02-21 09:20] temitope commented on #11293
try running `react-native init aProjectName` if you are forkinga n existing project and trying to run/test in simulator @1c7 @pbojinov @gen4sp

[2017-02-21 09:21] oargaruna opened #12492 "No APIs to explicitly give accessibility focus to React Native elements"
### Description

Our project is a hybrid of React Native modules and native UI. We are adding accessibility to our App and have hit a roadblock: We cannot explicitly give accessibility focus to an element in the screen so that screen readers, such as Talkback and VoiceOver, can read its accessibility label.

We have some scenarios where we would like to control the accessibility focus after we sub

[2017-02-21 09:26] NoTraceOfSnow commented on #6152
@haemi eee....  do you start your server? and i think you lost some file .
![fng1eayuw2s9x 9ds 7 6 g](https://cloud.githubusercontent.com/assets/13230439/23158510/6e3ec4a8-f85a-11e6-836c-c08e2f49234f.png)this is the office project ,i think you can see the office project file one by one.wish you success

[2017-02-21 09:45] krailler commented on #5405
Same issue in 0.40 :/

[2017-02-21 09:49] temitope commented on #9312
@cogwheel any fix for adding android/ios folders to an RN project?

[2017-02-21 09:53] baotoan1905 commented on #7408
Same issue, don't know how to fix :(. Please help

[2017-02-21 09:57] simonmitchell commented on #10049
@ericnakagawa Which version of RN solved this? I'm running 0.40.0 now and still experiencing the same issue.

[2017-02-21 10:10] npomfret commented on #10249
I've got the same issue, but only when running direct from android studio on 4.1 devices with RN 0.39

[2017-02-21 10:22] npomfret opened #12494 "SoLoader crashes android 4.x running from android studio"
using RN 0.39 and testing on physical android 4.1 and virtual 4.3 (geny motion sony experia z 4.3 api 18) devices...

My app works fine when I run a production build, but I'm trying to debug something and need to run through android studio.  When I try this on a 4.x device it won't start and crashes when it reaches this line in `MainApplication.java`

`SoLoader.init(this, /* native exopackage */ f

[2017-02-21 10:31] dhuidrom commented on #11389
@niranjan-b-prajapati   update react and react-native to
 "react": "~15.4.0",
  "react-native": "^0.41.2"
  Delete node-modules of your project and install npm.
  For me it works.

[2017-02-21 10:50] grundmanise commented on #11522
In some 'medium sized' components I also have this issue.. If I place two `TouchableOpacity` on the screen with let's say `setState(...)` in `onPress` for both and then press them promptly with a finger, one of them stucks at low opacity. It is always the last `TouchableOpacity` that gets stuck at low opacity.

Part of my component for the reference:

[code]

[2017-02-21 11:05] nikhilmandalia commented on #12470
if anybody could resolve above issue?

[2017-02-21 11:18] damathryx commented on #10845
happens in v0.38. need to fix it asap

[2017-02-21 11:19] Ycfx commented on #8968
same here, `zIndex` + `position : absolute`, any update ?

[2017-02-21 11:51] jhen0409 commented on #10412
Just let everyone know it has been fixed by https://github.com/babel/babili/pull/421, the main problem is [ExceptionsManager.js#L103-L104](https://github.com/facebook/react-native/blob/master/Libraries/Core/ExceptionsManager.js#L103-L104), we can waiting for new release of `transform-remove-console`.

[2017-02-21 11:52] adulhani-systango commented on #9965
I am also facing same problem on on iPhone5s and under(devices only, works fine on simulator). @XHTeng Have you found any work around for this problem?

[2017-02-21 11:59] mroswald commented on #11429
Are there any news on that? Did you check https://github.com/yamill/react-native-orientation ?

[2017-02-21 12:02] henriqamaral opened #12495 "DatePickerAndroid.open({mode: 'spinner'}) doesn't work"
### Description

Try to use DatePickerAndroid.open({mode: 'spinner'}), but always show the default calendar

### Reproduction

DatePickerAndroid.open({mode: 'spinner'})

### Additional Information

* React Native version: 0.41
* Platform: Android 7.0
* Operating System:  MacOS

[2017-02-21 12:09] jasongrishkoff commented on #11961
Similar issue from my side.  With Android (testing on device), every time I hot refresh the memory piles up.  Similarly, if I move to a different view on the app, the memory adds up. It never seems to be cleared.

[2017-02-21 12:12] julienfouilhe commented on #11961
Can someone take a look at this? @alloy, could you maybe ping someone that could know about this? :)

Thank you! :)

[2017-02-21 12:14] julienfouilhe commented on #11961
Can someone take a look at this? @emilsjolander, could you maybe ping someone that could know about this? :)

Thank you! :)

[2017-02-21 12:16] emilsjolander commented on #11961
If @javache has already looked I don't know who to ping

[2017-02-21 12:17] alloy commented on #11961
What isn’t clear to me from the thread is if the memory leak is also witnessed on a static build or if it might be related to the bundle loading, as suggested by @javache [earlier](https://github.com/facebook/react-native/issues/11961#issuecomment-275294583) ?

[2017-02-21 12:19] julienfouilhe commented on #11961
Oh sorry I didn't see @javache answer. If we are certain this doesn't affect release builds then fine with me.

[2017-02-21 12:23] steveliles commented on #11514
To find the actual error message, build directly with gradle and enable debug logging with --debug.

debug build -

[code]

release build -

[code]

I recommend that you first make sure to remove `./android/app/build` so that there's no remnants of a broken build that could influence the result. Also check that the broken build didn't leave anything in your android src tree. Mine had left behind a

[2017-02-21 12:24] alloy commented on #11961
@julienfouilhe Nobody has verified _and_ responded back yet, so probably a good thing to double-check (and let us know once you’ve done so).

[2017-02-21 12:37] indivisable commented on #10412
@jhen0409 Thanks I hope this functionality gets brought into RN, they really should considering this as an optimization step for final binary generation.

[2017-02-21 12:39] philipshurpik commented on #11813
Guys, the easiest fix that I found - is to set "CONFIGURATION_BUILD_DIR" in buildSettings of your configuration like:
`CONFIGURATION_BUILD_DIR = "$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)";`

Or if you want to set in XCode:
Your Project -> Build Settings -> Build Locations -> Per-configuration Build Products Path
for your new configuration: `$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)`

[2017-02-21 12:48] jasongrishkoff commented on #11961
I see this in multiple places in Android.  I'm basing this off of adb shell dumpsys meminfo -a

- When I reload the code, it doesn't clear any old memory or views
- If I do a "pull to refresh" it loads all the same data, but just adds on to the memory
- On infinite scroll, every time my ListView adds a new set of rows, memory increases and doesn't disappear
- If I navigate to new views within my a

[2017-02-21 12:49] JensDebergh commented on #9200
We are experiencing similar issues even on `ListView` without the section headers.

This issue mostly occurs when trying to prepend data to the existing dataset.
Scrolling to to before prepending the data does not fix it for us.

Any ideas? 👍

[2017-02-21 12:56] MatthieuLemoine commented on #11557
Nuking ``node_modules`` and avoiding to build with Android Studio seems to fix this issue.

[2017-02-21 12:58] scarlac commented on #8624
@Exilz @jqn I had this exact issue. Solved it: The callback for `InteractionManager.runAfterInteractions` was never being called. Turns out that when components are unmounted, their **animations are not stopped**. I had a `Animated.decay` animation which seems to make InteractionManager never return.
Calling `this.myDecayAnimation.stopAnimation()` in `componentWillUnmount()` did not work for me (m

[2017-02-21 12:59] iamrutvik commented on #3150
@eladgel where have you written this?

[2017-02-21 13:24] oargaruna opened #12497 "[iOS] ActivityIndicator colour defaults to transparent when accessibility props are set"
### Description

Our project is a hybrid of React Native modules and native UI. We are adding accessibility to our App and are hitting a weird issue with the ActivityIndicator:

The colour of the ActivityIndicator defaults to transparent when accessibility properties are set (such as `accessible` or `accessibilityLabel`). Even though the `color` prop is explicitly set as well, it has no effect.

#

[2017-02-21 13:30] Exilz commented on #8624
Hey @scarlac, thanks for your thorough explanation. I found out the exact same things, and `isInteraction: false` solved it for me too.

This really should be documented, I guess a lot of people once struggled with infinite loading and never suspected a looping or unmounted animated component to be the source of their problems... This is a huge "gotcha" 😛

[2017-02-21 13:43] pvinis opened #12498 "`RCT_EXPORT_METHOD` does not support multiple arities"
`RCT_EXPORT_METHOD` does not support multiple arities. for example
[code]
now if i call `Reporter.track('bla', { a: 1 })`, thats fine. but `Reporter.track('bla') complains that the method expects 2 args and i gave only 1.

do i need to make an example app for that? its pretty easy to try out.

i guess the second call to `RCT_EXPORT_METHOD` replaces the first one or something?
is this on purpose, o

[2017-02-21 13:46] hnhm commented on #10191
@wbpmrck  have you tried Frappé https://github.com/niftylettuce/frappe, or looking for something here? http://stackoverflow.com/questions/32914665/how-do-i-shake-an-android-device-within-the-android-emulator-to-bring-up-the-d?noredirect=1&lq=1

[2017-02-21 14:22] holyxiaoxin commented on #12160
Facing this as well. Flex property breaks when multiline is true for IOS TextInput. It's fine in Android.

[2017-02-21 14:22] holyxiaoxin commented on #7378
Facing this as well. Flex property breaks when multiline is true for IOS TextInput. It's fine in Android.

[2017-02-21 14:24] holyxiaoxin commented on #10614
@aleclarson why was this broken again? Did they revert this commit? Read that it was fixed in 0.33.

[2017-02-21 14:37] mrlords1 commented on #6691
I had this same error,
When i try stop n start server see this log:

myfile.png: Unexpected character '�' (1:0)

    | ^
  2 | 
  3 |
  4 | IHDR��X��d�IT   pHYs.#.#x�?vtEXtSoftwareAdobe Fireworks CS6輲�tEXtCreation Time11/14/166z�� IDATx��}w�dU��{��\��'�0PMRXP�"

[2017-02-21 14:47] joeferraro commented on #6691
@fdb I **do not** have spaces in my project path and still experience this issue.

[2017-02-21 14:59] aforty commented on #8624
That makes sense @scarlac and I agree that it should be documented.

However, I've encountered the issue with simply waiting for `InteractionManager.runAfterInteractions` within `componentDidMount` of a new component being animated by `Navigation`. I have seen it happen in extremely simple use cases but usually randomly without rhyme or reason.

[2017-02-21 15:01] anback commented on #11781
Hi!

I have the same symtom as @pbojinov, here is my pod file for your reference. I will give it another go when 0.42 comes out.

platform :ios, '8.0'
use_frameworks!
project 'Veckopengen.xcodeproj', 'Debug' => :debug, 'Staging' => :release, 'Beta' => :release, 'Production' => :release

target "Veckopengen" do
    pod 'Mixpanel', '<= 2.9.6'
    pod 'Firebase/Core'
    pod 'Firebase/Messaging'

[2017-02-21 15:04] gre commented on #8624
and it's still a breaking changes that `runAfterInteractions` no longer guarantees that your callback will be called. Having to set a flag on the animation side (and not on the `runAfterInteractions`) is not a viable fix. (imagine I use a library that underneath would do some animations)

[2017-02-21 15:06] alloy commented on #11781
@pbojinov @anback To be sure, did you re-run `pod install`? If so, if you could share an example that exhibits the problem, that’d be helpful.

[2017-02-21 15:11] lfabreges commented on #11969
Running into the same issue on `0.41.2`, the workaround doesn't work when I jest.mock() a module requiring "rxjs"

[2017-02-21 15:25] yoohoogun114 commented on #11418
+ 1 same here

[2017-02-21 15:27] lfabreges commented on #11969
Both tests succeed if you do not require the timer inside defineLazyTimer :
[code]

[2017-02-21 15:33] fcFn commented on #7708
The bug is still there on Android/RN 0.41.

[2017-02-21 15:43] julienfouilhe commented on #11961
@alloy @javache @emilsjolander I just tested by changing the scheme to release and it is still piling up
<img width="304" alt="screen shot 2017-02-21 at 4 42 54 pm" src="https://cloud.githubusercontent.com/assets/867741/23172070/e201893a-f854-11e6-9c41-a15d7313fab0.png">

[2017-02-21 15:44] ryanhomer commented on #11655
flow: 0.37.4, react: 15.4.2, react-native: 0.41.2

Flow has been completely broken for me since around RN 0.39.0. Not only do I get lots of errors stemming from `node_modules/` but it no longer reports anything for my actual project.

[2017-02-21 15:45] desmond1121 commented on #11655
It seems caused by commit 63d3ea17a717f032c59f0de315f4b197ededcfec @sahrens

[2017-02-21 15:56] desmond1121 commented on #12020
+1

[2017-02-21 15:56] tjkang commented on #11704
I also had same issue when It re-render list view with updated data for datasource, it leaves large gap. It was working fine with RN 0.37 before but this happened after I updated to RN 0.39.2 so i downgraded to RN 0.38 it's working fine now. i am not sure if this will be fixed above RN 0.40~.

[2017-02-21 16:06] haemi commented on #6152
is this in `build.gradle` correct?

[code]

shouldn't it be `ReactAndroid` at the end? I do not have a `react-native/android` directory...

[2017-02-21 16:13] DylanVann commented on #11704
The problem actually went away for me when I stopped using sticky section headers.

Switching to using FlatList also works.

[2017-02-21 16:17] bluedaniel commented on #12295
Could be because of formdata boundary, I had a similar issue and this PR fixes it https://github.com/facebook/react-native/pull/11342

Not yet in release though

[2017-02-21 16:27] otoinsa commented on #415
KeyboardAvoidingView does not work...
https://github.com/facebook/react-native/issues/8855

[2017-02-21 16:28] javache commented on #10027
You can silence the error with OS_ACTIVITY_MODE, this is just spurious logging from the websocket we open to React Devtools.

[2017-02-21 16:40] mmckinley8 opened #12501 "android secureTextEntry characters disappear immediately - no solution"
I have seen a couple of other threads referencing this issue but no solutions. Can anyone assist?

[2017-02-21 16:56] liamfd commented on #11969
@lfabreges I'd seen that, but doesn't moving the `require` outside of `defineLazyTimer` prevent it from actually be lazy loaded?

If the solution is to not lazy load these things, that makes sense, but I think it would require more of a refactor so that the code isn't implying that it's lazy loading something when it isn't. I'm not sure why these particular things are being lazy loaded, perhaps on

[2017-02-21 17:00] radelcom commented on #6691
@fdb that seems to be the case for me as well.

[2017-02-21 17:08] rohan-sethi commented on #11389
@lednhatkhanh Thanks ! you saved my life.

[2017-02-21 17:22] alexpareto commented on #1282
Experiencing this issue on RN .37 with react-native-video. Events work while the app is in the background unless the device is locked and screen turned off. Everything functions in the simulator.

Any ideas?

[2017-02-21 17:24] frostedcake commented on #10877
@stinju I've upgraded to RN 0.40 and it still happens. Also using compileSdkVersion 23 and buildToolsVersion "23.0.1".

[2017-02-21 17:28] lfabreges commented on #11969
You're right !

[2017-02-21 17:31] GuGuss commented on #2720
I had the same issue when running `react-native run-android` on the AwesomeApp tutorial with an avd emulator.

I fixed it by recreating a new emulator with the proper CPU/ABI: `Intel Atom (x86_64)`.

[2017-02-21 17:39] gusgard commented on #10078
@khalidahmada Do you solve your problem? I have the same issue

[2017-02-21 17:41] jonrh commented on #10816
Just had this issue myself by having [math.js](https://github.com/josdejong/mathjs) v3.9.2 as a dependency (which relies on [decimal.js](https://github.com/MikeMcl/decimal.js) v5.0.8). Decimal.js has released a fix which makes it compatible with React Native (v7.0.0 and newer).

I created a sample React Native project which demonstrates this issue: <https://github.com/jonrh/react-native-mathjs-bug

[2017-02-21 18:24] pbojinov commented on #11293
@dereknex you're right, issue was with `Info.plist`.

I was editing it in Xcode and the `localhost` key didn't get added under `NSExceptionDomains`. Ended up editing it in text editor and solved the wrong key path.

That solved it! Thanks

[2017-02-21 18:25] lukescott commented on #10471
I'm not sure if this is the same issue, but if I hide the modal while dismissing the keyboard the modal re-appears and the contents can't be interacted with.

[2017-02-21 18:31] pbojinov commented on #11781
@julienfouilhe I'm using Pod. And I haven't changed any `#import` lines. The Pod file is below.

After adding the separate `Yoga` pod, it ended up working.

[code]

And my folder structure looks like this:

[code]

[2017-02-21 18:38] julienfouilhe commented on #11781
@pbojinov Could you maybe push a basic example where the error occurs?

[2017-02-21 18:42] dwilt commented on #12112
Just tried on a coworkers computer who is in the same repo as us and got the exact same results.

[2017-02-21 18:45] sibelius commented on #12112
@dwilt change this line: https://github.com/facebook/react-native/blob/master/react-native-git-upgrade/cliEntry.js#L331

[2017-02-21 18:54] raphkr commented on #9023
The simplest I did was

<ActivityIndicator
   animating={true}
   style = {{ opacity : this.state.animate ? 1 : 0 }}
/>

[2017-02-21 19:10] gijoehosaphat commented on #7463
We are seeing this same error: `[TypeError: Network request failed]` in our HEAD requests in React Native 0.41.2

[2017-02-21 19:45] reactionic127 commented on #5586
I found this solution.
I've got this issue in Tab Bar icon image.
It was my problem. (home.png(25*25), home@2x.png(50*51), home@3x.png(75*76))
I solved this issue by resizing home@2x.png and home@3x.png file.
This is good result.
25*25, 50*50, 75*75
Hope this helps.
Regards.

[2017-02-21 19:46] ide commented on #10816
The packager mandates that all requires are statically available, perhaps that could change in the future (cc @cpojer). In the meantime you could write a custom Babel plugin that removes the requires.

[2017-02-21 19:56] lfabreges commented on #11969
I'm still investigating, but my guess is that both tests are running in parallel. I manage to make it work by modifying the jest-runtime, in the `requireModule` function, by putting `moduleRegistry[modulePath] = localModule;` at the end of the block. But it is not a viable solution since the script is run two times and doesn't take advantage of the `moduleRegistry`.

Bellow the steps :
1. Test 1 c

[2017-02-21 19:58] ide commented on #11961
This might be totally unrelated but I have seen leaks in the past (~ a year ago) when using frameworks instead of static libraries. Specifically the JSContext of the old RN bridge was not being totally cleaned up upon reload when using frameworks.

[2017-02-21 20:00] jasongrishkoff commented on #4740
Also having major issues with memory building up for each view that I go to -- to the point that the app becomes the #1 candidate for garbage collection/memory cleanup when it is backgrounded. This is a problem because it's a streaming music app, and staying alive in the background is essential.

[2017-02-21 20:53] bourgois commented on #10027
Hi @javache
I would kindly disagree with your point of view.
Indeed many of us are aware that disabling OS logging will prevent this to show. But this also prevent us to do normal debugging of our apps... Just again last week our team had an issue and it took us for ever until we remember to reactivate the os logs to catch the error and sort our issue...

[2017-02-21 21:06] peacechen opened #12503 "Retrieve React Native version programmatically"
### Description

I would like to retrieve the version of React Native through Javascript to include in diagnostic reports.  I haven't found a way to do this aside from a pre-build script that parses the package.json, podspec or gradle.properties.

### Reproduction

N/A

### Solution

[code]

### Additional Information

* React Native version: 0.34-0.42
* Platform: iOS and Android
* Operating Syste

[2017-02-21 21:22] ide commented on #12503
Could you write require('react-native/package.json').version?

[2017-02-21 21:31] hramos commented on #12477
Did you address this warning?:

   Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner, _store}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-ons. Check the render method of `View`.

Also, see if this still happens on the most recent version.

[2017-02-21 21:31] hramos commented on #12490
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-02-21 21:31] #12490 closed

[2017-02-21 21:32] hramos commented on #12495
Can you elaborate?

[2017-02-21 21:33] hramos commented on #12470
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-02-21 21:33] #12470 closed

[2017-02-21 21:43] peacechen commented on #12503
@ide   What a great idea. Thank you. That's so much simpler and doesn't call for any changes in React's code.

[2017-02-21 22:03] satya164 commented on #8624
It was always like that. Not sure how it's a breaking chafing

[2017-02-21 22:04] soorajvnair commented on #12401
Yes i can confirm this is happening on my end too.

[2017-02-21 22:08] satya164 commented on #8624
It was always like that. Don't think it's a breaking change if it does what's it supposed to do, defer callbacks until no animations or touch is active.

It' library's responsibility to mark an animation as not interaction of it shouldn't block interaction manager. How'd you specify it on interaction manage's side? How'd it even know what's an interaction or not?

I guess it could warn if an anima

[2017-02-21 22:13] henriqamaral commented on #12495
Hi,
When I try to use DatePickerAndroid.open({mode: 'spinner'}) , I should be able to select the date  using year, month, and day spinner, but always show the default calendar, where show the days of the month.
Here the documentation how it should be work:
[https://facebook.github.io/react-native/docs/datepickerandroid.html]

[2017-02-21 22:34] niocncn opened #12504 "Failed to build DependencyGraph: @providesModule naming collision error"
After adding pods to my project:
Podfile
[code]

I got error

[code]

cleaning cache not resolve problem

[code]

[2017-02-21 22:57] charpeni commented on #12503
@facebook-github-bot answered

[2017-02-22 00:18] IlyaRepo commented on #9849
Has [RCTImageLoader _loadImageOrDataWithURLRequest...] been fixed?

[2017-02-22 00:39] yoohoogun114 opened #12505 "in scrollView, onResponderRelease Event not fired on android"
### Description

in scrollView, onResponderRelease Event not fired on android

but it works nicely on ios.

### Reproduction

[code]

the above code works nice on ios. (logged on console correctly)

but it doesn't fire on android.

### Solution

in scrollView, onResponderRelease event fire on android

### Additional Information

* react-native-cli: 2.0.1
* react-native: 0.40.0
* Platform: android(

[2017-02-22 00:52] MattFoley opened #12506 "ReadableArray and ReadableMap do not support Long (int64)"
### Description

Attempting to consume an API that serves long values in some cases via JSON. When passing from JS to Native Java code on Android, there is no getLong functionality on ReadableArray and ReadableMap.

### Reproduction

Simply pass a value greater than MAX_INT to Java from JS via a ReadableArray or ReadableMap.

Attempt to use getInt and see exception:

[code]

Attempt to use getStri

[2017-02-22 01:02] pbojinov commented on #11781
I'll try to see if I can reproduce it again.

[2017-02-22 01:05] ide commented on #12506
I'm not certain but believe this could be because JS doesn't have longs yet (64-bit types are coming) and it would be deceiving to provide `set/getLong` methods that don't work reliably. It's more correct to write `(long)array.getDouble(index)` and make the programmer think about the consequences of double -> long conversion.

[2017-02-22 01:26] MattFoley commented on #12506
Interesting. I still don't quite understand the additions of the ReadableMap and ReadableArray, since Objective C just uses built in types. Is this just due to JavaScriptCore functionality, no comparable functionality in native Java?

[2017-02-22 01:41] dwilt commented on #12486
@braco sounds like a duplicate of https://github.com/facebook/react-native/issues/12112

[2017-02-22 01:44] lyahdav commented on #11952
This is trickier than it seems and I'm having issues with both of @BogdanHossu's suggestions:

1. The `injectedJavaScript` property is only read when the webview is initially loaded (at least according to the [docs](http://facebook.github.io/react-native/docs/webview.html#injectedjavascript)). It's also not clear to me how to do this with `postMessage`. Can you provide an example?
1. Reloading the

[2017-02-22 01:47] ide commented on #12506
I'm not really sure, I imagine the fact that the authors were different people at different times has something to do with the discrepancy. The unified C++ bridge is coming which should clear away these differences in C++ if you prefer to program at that level.

[2017-02-22 01:56] lyahdav opened #12507 "Cannot create WebView that allows setting URL programmatically after initial loading"
### Description

I am unable to create a WebView that allows setting the URL programmatically after the initial load.

### Reproduction

1. Go to the [WebView example in the docs](http://facebook.github.io/react-native/docs/webview.html#examples).
1. Click the Run this example link on the right side and start the simulator.
1. In the demo app, change address bar to `twitter.com` and hit the go but

[2017-02-22 02:35] zongjingyao commented on #11592
Hi @wuhenwuya , the problem is still there, I don't how to fix it.
You want to have same emoji on both iOS and Android?

[2017-02-22 02:35] NoTraceOfSnow commented on #6152
so sorry i am sleep last night ,yes,you should it be . i will tell you how to lead reactnative into your project.
![first](https://cloud.githubusercontent.com/assets/13230439/23194476/459b2016-f8e9-11e6-9d6d-485dd3747525.png)
![second](https://cloud.githubusercontent.com/assets/13230439/23194494/5f5ec8fe-f8e9-11e6-91fb-c969a404a494.png)
you should find the data.txt with you appgridle diffrence and

[2017-02-22 03:30] eddy201212 commented on #12217
can anyone has a suggestion?

[2017-02-22 04:07] dbof10 commented on #11891
it's helpful. Thanks

[2017-02-22 04:52] roshangm1 commented on #12212
I am having the same problem as @Fenwil . Any workarounds ?

[2017-02-22 05:12] hey99xx commented on #12506
There was previously conversation in https://github.com/facebook/react-native/issues/9685

If a programmer knows it's sending a large integer value, there's no choice other than using this forced casting code, which in my opinion leads to confusion rather than thinking about consequences of double -> long. The timestamps in Android/Java for example are mostly represented as longs, using  `set/getL

[2017-02-22 05:15] ide commented on #12506
I think the source code is the best place to look, it's already in master.

[2017-02-22 05:40] guiherzog commented on #3042
Still experiencing IndexOutOfBoundsException with RN 0.40 on Android.

[2017-02-22 05:50] hongyu315 commented on #8960
After RN 0.28, you have to use { flexWrap:'wrap'}，before that,{ flexWrap:'wrap' } work with {alignItems: 'stretch'}together default.

[2017-02-22 06:28] taozijie commented on #11389
I can't find node_modules\react-native\Libraries\Core\InitializeCore.js,Whta to do? @ @Taximan @

[2017-02-22 06:40] vijayperlakota commented on #11389
+ 1 @karpoff your solution works. Thanks :)

[2017-02-22 07:01] #12503 closed

[2017-02-22 08:13] voidale commented on #10273
@lacker finally a great navigation library cool thanks for referring me to it!

[2017-02-22 08:40] ming436534 commented on #11809
which commit should I revert to temporarily fix the problem?

[2017-02-22 08:48] Kerumen commented on #11809
It depends of your RN version as it was cherry-picked in the previous releases:
\>0.40: https://github.com/facebook/react-native/commit/fb230000a8d70fbc1e4c6ccfd9470de838554371
0.39: https://github.com/facebook/react-native/commit/4cd4b4b92207d0d77ef73374a6ba111103a7156d
0.38 https://github.com/facebook/react-native/commit/9a13def8b6fbb2ae3d1f31f63066f87527e56fcd

[2017-02-22 09:13] glcrazier commented on #12454
Probably the react native version running on your device does not match what is on your dev server.

[2017-02-22 09:16] sergeychilingaryan commented on #5823
@ckwong90, some here, only apears when remote debugging
RN .41.2.  macOS Sierra 10.12.3

[2017-02-22 09:24] LitbLeo commented on #11389
@taozijie @Taximan Me too,what to do?My version is 0.34.1

[2017-02-22 09:25] krishbhattacharyya opened #12510 "ListView data shows blank when running in background mode or closed for long time"
### Description
I have added a ListView within a View component. It is render properly. But suppose I am out of my app ( not closed staying in stack, running on the background ) or closed the app in login state ( Login state I ahve saved in AsyncStorage ), after long time I reopen my app, the ListView data shows empty. ListView data fetch only in componentDidMount, I didi not use any activity in b

[2017-02-22 09:37] JLLLinn commented on #11890
I am experiencing this too. Can Someone take a look?

[2017-02-22 09:38] sarkunanv commented on #6692
Isn't quite the same but I'm experiencing this problem now: ViewManagerPropertyUpdater: Could not find generated setter for class com.airbnb.android.react.maps.SizeReportingShadowNode

Until today I was able to bundle my project and run it fine without it crashing. Whenever I try to access the page with the maps it crashes the app. Anyone here have a clue to what is going on with this?

[2017-02-22 09:57] paynd commented on #11413
I've got the same bug.
adb installed correctly and available from terminal

[2017-02-22 10:01] aakashrai1 commented on #12457
Please try following steps:

1) Implement activitylistener in FBShareDialogModule.java

[2017-02-22 10:28] davidaurelio commented on #4968
In order to fix this we will need a consistent repro.

[2017-02-22 10:30] jasongrishkoff opened #12512 "ListView leaks memory and doesn't clean up (Android)"
Hi there, I'm using RN 0.41.2 on an Android device (not emulator).  I've created a really simple ListView component.  As I scroll down this list, the memory used by the app increases linearly. If I background the app, this memory doesn't get cleaned up at all.

While the code below is simple, you can imagine how out-of-hand this gets on a ListView that renders more-detailed rows (including Image a

[2017-02-22 10:42] gre commented on #8624
It's getting historical now, but I'm pretty sure it was not like that before 0.28 (because I start seeing the bug when migrating to that version, using same code base). maybe it was designed to be like that, but before 0.28 I'm pretty sure the bug was not existing (see my initial message).

so I expected runAfterInteractions to execute the callback **exactly once** but in fact it's **0 or 1 times*

[2017-02-22 10:49] grundmanise commented on #1693
RN 0.39, iPhone 5s, iOS 10.2.

Happens when debugging in chrome (via React Native Debugger app) and pressing `TouchableWithouthFeedback`. Wrapping child in `View` solves this problem for me.

[2017-02-22 10:52] satya164 commented on #8624
https://facebook.github.io/react-native/docs/interactionmanager.html#runafterinteractions says that the callback will only be called after all interactions have been completed, and afaik it was the same from start. Of course if the animation never completes it'll never be called. The contract is to wait for animations to finish.

I don't think depending on user interactions is random behaviour. Th

[2017-02-22 11:05] gre commented on #8624
ok, maybe I should just use setTimeout then ;-)
runAfterInteractions is only for fire & forget callback that you don't care it's potentially not called I guess.

Yeah, the method name is run after interactions but it doesn't say it's not guaranteed. Even if it returns a Cancellable, as the caller of runAfterInteractions, you don't own that cancellable, maybe it's cancelled by **something else**. I

[2017-02-22 11:07] satya164 commented on #8624
If it is, then it's a bug if I understand correctly

[2017-02-22 11:08] gre commented on #8624
ok, so back to the initial issue I guess then. The tricky part of this bug is it's very hard to reproduce :'( . I can only see it in some complex screens I have, and it reproduces only 10% of the time.

[2017-02-22 11:22] astreet commented on #11809
I have a fix in review internally that I'll hopefully get in today. I'll make sure it gets cherry-picked into the next release.

[2017-02-22 11:28] hubciorz commented on #11809
@astreet
Cool! Maybe It is worth to cherry-pick the fix into some older releases, too? Still many apps use 0.39 or 0.38 because of breaking changes in 0.40.

[2017-02-22 11:36] alekseykarpenko opened #12513 "Incorrect behavior of ellipsizeMode when text contains special symbols like '+'"
### Description

I'm trying to display user's email with ```ellipsizeMode='tail'```, but faced to RN bug with this property.

```ellipsizeMode``` property of ```<Text>``` component works incorrect when text contains some special chars (e.g. ```+``` but not ```_```)

### Reproduction

[code]
![screenshot_2017-02-22-12-41-38](https://cloud.githubusercontent.com/assets/4648983/23209863/b5d69544-f903-

[2017-02-22 11:37] astreet commented on #11809
I'm not sure on the feasibility of that, @mkonicek?

[2017-02-22 11:41] vijayperlakota commented on #11389
@LitbLeo try this

open node_modules\react-native\Libraries\Core\InitializeCore.js line 112
change function handleError(e, isFatal) to var handleError = function(e, isFatal)
then do npm start -- --reset-cache

Solution suggested by @karpoff

[2017-02-22 12:25] f0rr0 commented on #1611
What about variants of San Francisco? https://github.com/AppleDesignResources/SanFranciscoFont

[2017-02-22 12:51] Burak07 commented on #1190
+1 still looking forward

[2017-02-22 12:57] JensDebergh commented on #11704
I've had similar problems with huge datasets the only way I was able to make it work was clear the datasource.

First: `dataSource.cloneWithRows([]);`
Second run: `dataSource.cloneWithRows(items);`

This probably has a huge impact on performance but atleast my rows now render properly on multiple runs

[2017-02-22 14:33] nikhilmandalia commented on #12470
I do not think description is mandatory field , not sure but created separated folder and install require lib except ***-cli and then it was working.

anyways thanks to look into this issue

[2017-02-22 14:37] SvetlanaBarros opened #12514 "Unhandled JS Exception: TypeError when running react-native run-ios"
### Description

Hello,

I have a react native project, created with 'react-native init ProjectName'. react-native-cli is installed globally. And i have a custom webpack.config.js
When i run the command 'react-native run-ios', i should get the welcome message for React Native in the simulator instead i get a red screen inside the simulator with an exception:

![screen shot 2017-02-22 at 9 31 26 am

[2017-02-22 14:43] Dvidan opened #12515 "Modal on iOS (0.42.0-rc.3) not showing when in remote debugging"
### Description

Modal not showing when using "Debug JS Remotely" on a newly created react native project with 0.42.0-rc.3 and using the example for modal found at https://facebook.github.io/react-native/docs/modal.html.

Tested on a real device and simulator

No error in either Developer console or in xCode debug output.

### Reproduction

`git clone git@github.com:Dvidan/modalBugRN0420rc3 && cd

[2017-02-22 14:51] lucianomlima commented on #12457
Thanks @aakashrai1 I will test soon.

[2017-02-22 15:01] ferologics commented on #6282
Occurring on 0.41.0

[2017-02-22 15:27] aforty commented on #8624
I think there is a bug somewhere, although as it turns out perhaps it's not in the `runAfterInteractions` method but in the `Navigation` animation code instead. I can't put a number on it, but a non-zero percent of the time I will navigate to another screen (and press nothing else) and the `runAfterInteractions` callback will not be called on the new screen. There is a problem here somewhere.

[2017-02-22 15:42] quietbits commented on #11389
Another way to "fix" this, if you can't update to a newer version yet, is to enable JS Minify mode in Dev Settings. Works on version 0.34.0.

[2017-02-22 15:52] r-bansal commented on #9893
Has anyone found a resolution to this - I am noticing this on iOS 9 at the moment.

[2017-02-22 16:26] kirkstrobeck opened #12516 "Can’t access `__dirname`"
With webpack I can use `__dirname`, but  [Packager](https://github.com/facebook/react-native/tree/master/packager) doesn’t support it.

- Just want it so I can use the parent directory name as a string in the code.
- It won’t be used in that actual app, it’s just used for the compiling phase.

[2017-02-22 16:40] sahrens commented on #8624
I think the crux here is if the task is forever *delayed* (e.g. by animations running forever), of if the task is getting dropped entirely.

When you see the call not happen when you expect, do any further runAfterInteractions tasks get executed? If the problem is an infinite animation, I would expect the whole runAfterInteractions queue to get wedged. If hats not happening, there is definitely a

[2017-02-22 16:46] sahrens commented on #8624
It also sounds like there might be some issues with animations not getting stopped correctly. If you can find a repro, let us know, they should always stop on unmount (although it's certainly possible to have a bug in your code to keep restarting the animation after unmount so look out for that).

[2017-02-22 16:46] pavankat opened #12518 "Flex Dimensions example in documentation is broken"
### Description

for this part of the documentation:
https://github.com/facebook/react-native/blob/master/docs/HeightAndWidth.md

The flex dimensions example is broken.

flex : 1 doesn't show anything.

height : 300 does

### Solution

the documentation needs to get fixed

### Additional Information

* React Native version:
react-native-cli: 1.0.0
react-native: 0.41.2
* Platform: both
* Operating

[2017-02-22 16:56] gre commented on #8624
oh, so you mean that if `runAfterInteractions` is called and all animations are over, it is simply not called?
That would explain that, a race condition might happen if your animation is "faster" than a call to `runAfterInteractions` and maybe my bug is just here.

[2017-02-22 17:13] KarlosQ opened #12519 "[IOS] Improve DatePickerIOS style"
DatePickerIOS doesn't have a editable style.

this pull resquest is 'merged'
[https://github.com/facebook/react-native/pull/10356](url)
but it isn't in the master

It would be good to be able to control the fontFamily, fontSize.. etc

In DatePickerIOS.ios.js maybe must have a stylePicker for a height control ...etc.
One solution would be to put a property like stylePicker:
`style={[styles.datePick

[2017-02-22 17:19] WaffleStudios opened #12520 "Android Picker onValueChange is Firing on Initialization"
### Description

I have a Picker whose list loads dynamically, based on what has previously been selected (mutually exclusive options). When I select a value from the list, I would like to move it to a different list and remove it from the Picker options. The issue is that, it selects the topmost value and fires the `onValueChange` for that value every time the list is re-rendered due to the `setS

[2017-02-22 17:19] mkonicek commented on #4968
I tried to repro but couldn't:

[code]

In index.ios.js:

[code]

Reload JS works.

Can anyone provide consistent repro steps?

[2017-02-22 17:24] hramos commented on #12495
Gotcha, that seems like it is not working as expected. Thanks for reporting this. If you get a chance to look into what's causing it, feel free to send a PR.

[2017-02-22 17:27] sahrens commented on #8624
@gre: no, I'm not sure where you got that. All tasks scheduled with `runAfterInterActions` should be executed in order after interactions complete. If the interactions never complete (e.g. infinite animation) then those tasks (and any subsequently scheduled tasks) will ever get run. If you ever schedule tasks A then B with `runInteractionManager` and you don't see A run before B, there is definite

[2017-02-22 17:32] dcz-switcher commented on #12210
It's my first attempt with the "new way" and I am lost ...
how resolve conflicts ?
I suppose it can be made with git mergetool, but my project isn't a git one, so every git command failed

the new way maybe coolest but "how manage conflicts" is not really describe in documentation

[2017-02-22 17:34] IgorZh commented on #12477
I think that error happend somewhere in library `redux-store`, because if I replace my root component in `index.android.js` by simple `View`, error still happend. By when I commet using of `redux-loop`, error disappears.

[2017-02-22 17:35] zulkarnainshah opened #12522 "Invalid imageTag: assets-library://asset/asset.JPG?id=B84E8479-475C-4727-A4A4-B77AA9980897&ext=JPG"
`ImageStore.getBase64ForTag` throws error on passing image URI received from `ImagePickerIOS.openSelectDialog`

While using the function `ImagePickerIOS.openSelectDialog`, the callback gives a URI if the image picked from the CameraRoll of iOS. Then i use the function `ImageStore.getBase64ForTag` to get base64 encoded string so that i could upload to a server, but calling this function returns the

[2017-02-22 17:59] Monte9 commented on #10088
@brennanMKE You saved me like a hero! :) Thanks much!

[2017-02-22 18:07] j2kun commented on #12216
I'm experiencing a similar issue with `react-native-config`:

[code]

[2017-02-22 18:24] astreet commented on #11809
Fix is in: https://github.com/facebook/react-native/commit/15429e333f8fd80c4778f222058dbb16278cf625

Let's make sure it doesn't break anything internally and then we can see about getting it cherry-picked.

[2017-02-22 18:37] KristoferEng commented on #8464
Keep running into this error. Any thoughts on how to fix?

[2017-02-22 19:11] steveccable opened #12525 "TextInput unable to take Text node as placeholder"
### Description

When attempting to use a Text node as a placeholder of TextInput, the app throws an error (see screenshot).  This is contrary to what is indicated by the docs, which states that placeholder is of type Node.

### Reproduction

Sample Code:
[code]

For whatever reason, this problem presents itself when running via `react-native run-<ios|android>` but is not seen when editing in the

[2017-02-22 19:26] #10883 closed

[2017-02-22 19:30] hramos commented on #12477
Can you go back and make sure all the fields in the template are filled out? Right now, there is not sufficient information here for someone to reproduce what you're encountering, which greatly reduces the chances you will be able to get some help here.

Ideally, a GitHub issue would clearly outline a problem in React Native. Are you certain this is something that needs to be addressed in RN as op

[2017-02-22 19:31] ConnorMWGraham opened #12527 "remote debugging when running server on different port"
### Description
I am running my server with "react-native start --port 9090". I can not use port 8081. Enabling Remote JS Debugging from my android emulator produces the following error:
![image](https://cloud.githubusercontent.com/assets/11632613/23228476/a425afa4-f90a-11e6-9a70-b8e5f0832cd6.png)
The error seems to be easy to understand. It is trying to load a resource from localhost:8081, but ca

[2017-02-22 19:43] Kerumen commented on #11809
Just tested the fix on my repro repo with the bug and it works!
I hope the performance problem is solved for the others and both world will be happy 👍

[2017-02-22 19:53] astreet commented on #11809
Yes, I kept your original PR in mind :) Thanks for checking and reporting back!

[2017-02-22 20:13] austincline09 commented on #1974
If you put a ListView inside of a ScrollView it might help to set scrollEnabled=false for the ListView props. This fixed a scroll hang issue for me

[2017-02-22 20:38] r-bansal commented on #9893
@jsappme, @wcandillon - did you guys research this bug further?

[2017-02-22 21:10] jsappme commented on #9893
@r-bansal I was using a buggy image cache module

[2017-02-22 21:12] patrikholcak commented on #12515
Related: #12223

[2017-02-22 21:17] booboothefool commented on #12512
Same issue, except my app is actually in production and all my Android users are pissed giving me 1 star reviews. 😝

[2017-02-22 21:31] sahrens commented on #11655
Hmm, I can't repro - can anyone else still repro on the latest everything?

[code]

[2017-02-22 21:31] ryanhomer commented on #12020
I don't know what the issue is but I think we need some eyes on the `.flowconfig` file:

For one, the file used to contain:
[code]
and now the same comment has this following it:
[code]
1. Is that comment still accurate?
1. should the 2nd line have two `node_modules`?

In any case, changing it to `.*/node_modules/fbjs/.*` hasn't produced any noticeable change.

In the meantime, I added this to the

[2017-02-22 21:43] Brian-Kaplan commented on #9023
@raphkr i don't like that at all... Then it's always animating... not the best

[2017-02-22 21:54] ryanhomer commented on #11099
My issue turned out to be an entry I added to `[options]`:
[code]
which was to suppress flow errors caused when using such extensions. Removing this fixed my plethora of errors and I don't see the error I was getting before that made me add that option in the first place so maybe flow now supports `.ios.js` and `.android.js` extensions -- though I'm not sure.

[2017-02-22 22:12] brentvatne commented on #12525
My guess is that this is either a mistake or Facebook has a different native module for TextInput that supports nodes. Can you submit a PR to change it to `PropTypes.string`? https://github.com/facebook/react-native/blame/master/Libraries/Components/TextInput/TextInput.js#L398-L401

[2017-02-22 22:19] brentvatne commented on #12522
I think you are confusing the purpose of the ImageStore -- it is meant to store base64 images so that you don't need to pass them over the bridge each time. It does not convert arbitrary image urls to base64. You can upload the image using fetch with a multi-part POST request, eg: https://github.com/exponent/image-upload-example/blob/master/frontend/main.js#L155-L187

[2017-02-22 22:19] #12522 closed

[2017-02-22 22:20] brentvatne commented on #12518
cc @dabbott

[2017-02-22 22:21] brentvatne commented on #12516
you can add a babel plugin to do this if you want! just at the beginning of each file define a var called `__dirname` and set it to the directory

[2017-02-22 22:21] #12516 closed

[2017-02-22 22:23] brentvatne commented on #12514
Hello! React Native has its own packager and does not use Webpack. Sorry! Try out the [react-native tag on Stack Overflow](http://stackoverflow.com/questions/tagged/react-native)

[2017-02-22 22:23] #12514 closed

[2017-02-22 22:27] brentvatne commented on #12527
@ConnorMWGraham - did you rebuild the client using `react-native run-android` after changing the port?

[2017-02-22 22:32] brentvatne commented on #12512
Hello! What you are describing here is (sadly) the intended behavior of react-native's `ListView` component on iOS and Android -- it does not recycle views or unmount anything that goes out of view, with the exception of images if you use `removeClippedSubviews`. I see you looked into FlatList @jasongrishkoff -- that should help with this problem because it uses windowing -- only the contents you

[2017-02-22 22:34] brentvatne commented on #12510
When you scroll after foregrounding the app again do the contents appear? If so, then turning `removeClippedSubviews` off will resolve the problem.

[2017-02-22 22:37] pulpfree commented on #1831
Also dealing with this rn 0.41.2. Does someone have a simple implementation of FlatLIst that I can copy, really hoping for a solution soon.
Thanks,
ron

[2017-02-22 22:48] brentvatne commented on #12507
Hello! This appears to just be the behaviour of UIWebView, if you google it you'll find that others have similar problems. You can resolve this easily by only changing the URL when loading is done, if you want the TextInput to reflect the url immediately then have displayedURL and loadedURL state vars.

This fixes it:

[code]

[2017-02-22 22:48] #12507 closed

[2017-02-22 22:49] brentvatne commented on #12501
Hello! Best to follow up in those threads, and to include a reproducible example. Thanks!

[2017-02-22 22:49] #12501 closed

[2017-02-22 22:53] brentvatne commented on #12505
This isn't an exposed prop on ScrollView and so there is no contract with the component user that this should work. I'm not sure why exactly it's not called on Android but if you want to investigate you're welcome to!

[2017-02-22 22:54] brentvatne commented on #12474
Indeed spring does not support this, you can use `Animated.delay` if you like, it is more composable than an option.

[2017-02-22 22:54] #12474 closed

[2017-02-22 22:55] brentvatne commented on #12494
Can you post this to StackOverflow? Thanks!

[2017-02-22 22:55] #12494 closed

[2017-02-22 22:57] JAStanton opened #12529 "AsyncStorage Couldn't read row 0, col 0 from CursorWindow"
### Description

When reading values that are too large using AsyncStorage on Android I run into this error:

I wrote a large value with AsyncStorage and later tried to read it, but it crashed.

[code]

### Reproduction

It looks like on iOS we write to disk when the value is above a threshold and on Android we write to sqllite always.

[code]

### Solution

In order for me to fix this I'll need t

[2017-02-22 22:58] #12486 closed

[2017-02-22 22:59] brentvatne commented on #12477
As per @hramos' comment I think this is a problem with one of those libraries. If you can share the code it would be possible to verify that.

[2017-02-22 23:02] brentvatne commented on #12498
You can wrap the exposed native API in a JavaScript API that accepts multiple arities and provides default values when others aren't provided.

[code]

in js:

[code]

[2017-02-22 23:02] #12498 closed

[2017-02-22 23:03] brentvatne commented on #12468
Hello! Post this to StackOverflow please :)

[2017-02-22 23:03] #12468 closed

[2017-02-22 23:03] booboothefool commented on #12512
Hey @brentvatne,

@jasongrishkoff mentioned `FlatList` didn't help the memory issues. I just tried it myself as well, and got similar results.

Anything else worth trying?

[2017-02-22 23:24] coodoo opened #12531 "Add documentation for FlatList and underlying VirtualizedList?"
Now that `FlatList` and `VirtualizedList` is around the corner (available in `master`), is there any plan to update the documentation as well? From a quick skim there's seemed to be a bunch of new properties to the `VirtualizedList` which is much worth documenting.

[2017-02-22 23:26] brentvatne commented on #12469
I wouldn't depend on these remaining exposed, you should go through the `style` prop. It is a side effect of how the properties are implemented as far as I know.

[2017-02-22 23:28] brentvatne commented on #12467
Hi! Please ask on StackOverflow as this is not a bug but some problem with your setup.

[2017-02-22 23:28] #12467 closed

[2017-02-22 23:30] brentvatne commented on #12471
Hello! Please update your React Native version, it is now nearly 10 releases behind, if this was an issue it is likely resolved now. Otherwise you can try StackOverflow :)

[2017-02-22 23:30] #12471 closed

[2017-02-22 23:30] brentvatne commented on #12465
Hello! These errors only show up in development. The issues are meant for bugs, please use StackOverflow for general questions.

[2017-02-22 23:30] #12465 closed

[2017-02-22 23:31] brentvatne commented on #12464
Hello! React Native does not support Android TV out of the box. @grabbou may be able to help you but this isn't something that is built into core.

[2017-02-22 23:31] #12464 closed

[2017-02-22 23:32] brentvatne commented on #12466
Hello! Closing because we can't reproduce without some code.

[2017-02-22 23:32] #12466 closed

[2017-02-22 23:34] brentvatne commented on #12454
You may be using `'use strict'` somewhere that is causing this problem. Please post it to StackOverflow and try to provide a reproducible example for context.

[2017-02-22 23:34] #12454 closed

[2017-02-22 23:34] brentvatne commented on #12440
cc @cpojer

[2017-02-22 23:36] #12248 closed

[2017-02-22 23:37] brentvatne commented on #12241
I don't believe that this is a bug, you should not be able to read files from outside of your project's root.

[2017-02-22 23:37] #12241 closed

[2017-02-22 23:37] hramos commented on #12477
I am going to close this, but feel free to open a new issue with the additional information provided. Thanks!

[2017-02-22 23:37] #12477 closed

[2017-02-22 23:38] #12226 closed

[2017-02-22 23:38] brentvatne commented on #12204
The packager does not support symlinks because Watchman does not support symlinks :(

[2017-02-22 23:38] #12204 closed

[2017-02-22 23:39] #12121 closed

[2017-02-22 23:42] brentvatne commented on #12070
@preinvent - you shouldn't use WebViews for OAuth because it's insecure, check out https://github.com/openid/AppAuth-Android as an alternative

[2017-02-22 23:42] #12091 closed

[2017-02-22 23:43] sahrens commented on #1831
FlatList (andVirtualizedList) are in master if you want to play with them.

[2017-02-22 23:53] brentvatne commented on #12512
@booboothefool - is there anything else in your app that would make it slower? like maybe each row is subscribing to redux events? I'd try profiling your app to see where the slowness is coming from

[2017-02-23 00:31] opolyo01 opened #12532 "Pull to refresh is not visible when ListView inside of horizontally scrollable ScrollView"
### Description

Pull to refresh component always centered relative to the width of the ScrollView.  So if you have 20 columns, then you will only be able to see pull to refresh control if you scroll horizontally to 10th column.  On Android, it doesn't even do pull to refresh since bounce not supported.

### Reproduction
https://gist.github.com/opolyo01/f1697bbf51ddf75ec67ae812ddc5a480

### Soluti

[2017-02-23 01:10] hramos commented on #12531
I have yet to sync with @sahrens what the plans are for `FlatList`, but if it's on master then these should be going out with the next release candidate in March. In order to get the API docs displayed on the website we'll need to add these components to https://github.com/facebook/react-native/blob/master/website/server/docsList.js

If you want to go ahead and do that, you should be able to gener

[2017-02-23 01:16] sahrens commented on #12531
Definitely planning on docs (and moving out of /Experimental, exporting as part of require('react-native'), etc.) there are just a couple changes I want to make to the API and would like to get a little more data from our internal tests which are just going out now.

[2017-02-23 01:46] hramos commented on #12531
That seems perfectly reasonable. @coodo hopefully this answers your question: this is still in an early access phase, but we'll make sure it is fully documented by the time it is moved out of Experimental.

[2017-02-23 01:46] #12531 closed

[2017-02-23 01:50] LitbLeo commented on #11389
@vijayperlakota Thanks!But i can not find the file node_modules\react-native\Libraries\Core\InitializeCore.js
in my version of 0.34.1,so i do not konw how to fix this issue.

[2017-02-23 02:31] LitbLeo commented on #11389
@quietbits Thanks,this way can fix this issue!

[2017-02-23 03:04] dgurns commented on #5568
Still having this issue on lower end Android devices with RN 0.41.

[2017-02-23 03:21] sahrens commented on #11655
This should get fixed by https://github.com/facebook/react-native/pull/12533

[2017-02-23 03:29] linmic opened #12534 "[Android] position: absolute shouldn't be overflow: hidden within a container with border"
### Description

If you have an element `position: absolute` with negative offset within a container with a border, it's going to be weirdly cut off. But if you remove the border of the container, it works well.

#3198 is a similar issue, and was reported with lots of discussions. However, I believe they are not exactly the same.

### Reproduction

I've made [an example on rnplay](https://rnplay.o

[2017-02-23 03:29] t2krew commented on #6499
@lironess Thank you !

[2017-02-23 03:39] sahrens commented on #12512
Your memory usage low enough that the garbage collector might not even be kicking in, depending on the device you're running on. Try rendering more like 10000 rows and see if the memory continues to increase linearly or if it ever actually runs out of memory and crashes.

[2017-02-23 03:40] sahrens commented on #12512
As for slowness, I agree with @brentvatne that there is probably something else going on.

[2017-02-23 04:46] lijy91 commented on #11016
@locly you try to using axios and stetho, open `chrome://inspect`  and try a http request, always crash.

[2017-02-23 05:43] coodoo commented on #12531
Sounds good, thanks for the prompt replies, btw, @sahrens good job building out the `VirtualizedList`, it's probably the most exciting thing after `Adobe Flex` 👍👍

[2017-02-23 06:20] jasongrishkoff commented on #12512
Right, so I've got FlatList working using the very basic example provided in FlatListExample.js + ListExampleShared.js.  No other modules or fancy things in my project -- it's a fresh install.  The only thing I did was remove the thumbnails from the example.

**EXAMPLE 1 WITH VIRTUALIZED = TRUE AND fixedHeight = TRUE**
Initial app load: 78MB
Two swipes of scrolling (takes me to item #148): 108MB
A

[2017-02-23 06:25] wuhenwuya commented on #11592
@zongjingyao ,是的，android4.4.2获取不到发送的emoji长度（js emoji.length可以获取到，react native底层获取不到），还有android ios emoji的兼容也没有找到好的方法

[2017-02-23 07:12] shuyu6 commented on #6930
Can I know how u made ur own `<BarcodeScanner/>` component? I meet the same problem and I cant find the solution

[2017-02-23 07:19] ming436534 commented on #11809
Seems that this commit cannot fix my issue. My issue is that after scrolling a large list for a while, the touch response is extremely slow, the Touchable onPress event was triggered after I physically pressed the screen for 3-4 seconds.  The JS thread fps dropped to 30 fps while I am scrolling the list.

RN: 0.40
Dev mode: off

[2017-02-23 07:26] wcandillon commented on #9893
@r-bansal same for me!

[2017-02-23 07:32] devinhu opened #12536 "okhttp version conflict on RN"
I  have an project with the okhttp and RN，
the okhttp 3.6.0   okio 1.11.0 in my project.
the okhttp 3.4.1    okhttp-urlconnectio 3.4.1   onhttp-ws 3.4.1 in RN.

the version of okhttp 3.6.0 already contain onhttp-ws。 please help me, thanks.

[2017-02-23 07:33] gitanshu opened #12537 "Add Snapdeal app to Showcase"

[2017-02-23 07:39] k7 commented on #11781
@julienfouilhe I have the example.
[SwiftReactNative.zip](https://github.com/facebook/react-native/files/795788/SwiftReactNative.zip)

the steps is
[code]

and it show
[code]

[2017-02-23 07:43] ktusharprdxn commented on #12091
@brentvatne This issue is not yet resolved, can you please provide some solution so that we can work on. I don't know why it marked as closed.

[2017-02-23 07:53] zongjingyao commented on #11592
@wuhenwuya 兼容的话基本上都是在Android上显示iOS的emoji，你可以看一下下面这两个链接。
http://ragnraok.github.io/android-emoji-font-method.html
https://github.com/w446108264/XhsEmoticonsKeyboard

[2017-02-23 07:53] imbudhiraja commented on #11359
same issue

[2017-02-23 07:56] rhysburnie opened #12539 "importing throws error unless index is specified"
Hi,

This is weird...

I have a file `app/index.js` with:

[code]

In this case I should be able to do either `import App from './app'` or `import { App } from './app'` and use it in my `AppRegistry.registerComponent`.

However I get the following error unless I import the path `./app/index` which you should not need to do.

[code]

Versions installed, osx siera, node v7.5.0:

[code]

This is the

[2017-02-23 08:11] prateekbh commented on #6930
@shuyu6 lemme check if we can open source it in a different repo

[2017-02-23 08:17] prateekbh commented on #6930
@mohanrohith can help in this

[2017-02-23 08:35] hey99xx commented on #12536
It's your problem really, this is not an issue with RN, so you would probably get more help on Stackoverflow. I'm sure gradle has option to resolve compatibility, you can likely force RN to use 3.6.0 in your build files.

[2017-02-23 08:45] moerabaya opened #12540 "Local images takes time to load, and load separately"
### Description

Local images takes forever to load, and they loads separately. I believe that caused when loading external image from the web.

### Additional Information

* React Native version: RN 0.40
* Platform: iOS 10.2.1
* Operating System: MacOS

[2017-02-23 09:04] scarlac commented on #12453
Sorry, no Android setup here, but I'll try to remove `Animated.parallel` and see where that takes me. Currently, my workaround is to simply wrap the text in an `Animated.View` and move the opacity animation to that. No animation code change, but it still fixes the issue.

[2017-02-23 09:09] janicduplessis commented on #12453
I see, the issue is probably related to Animated.Text in that case.

[2017-02-23 09:23] hitbear518 commented on #8714
@andybangs
Actually, no need to use NotificationCenter, RCTBridge has a method called module(for: AnyClass),
which can get an instance of RCTEventEmitter, then you can call your fuction to send event

[2017-02-23 09:38] julienfouilhe commented on #11781
@pbojinov @anback  Can you try updating cocoapods? I just tried with @k7 example and I don't have any problem compiling

[2017-02-23 09:46] scarlac commented on #12453
I tried removing the parallel, so the animation is triggered by itself. Same result.
[Here's a quick video of the issue](https://dl.dropboxusercontent.com/u/4361479/animated-text-opacity.mp4).

Also, I tried adding:
`const textTop = animation.interpolate({inputRange: [0, 1], outputRange: [10, 0]});`
and then using it
[code]
Which works. So it's only opacity that has an issue. TranslateY works fine

[2017-02-23 10:01] Swordsman-Inaction commented on #7474
@janicduplessis  I already checked this issue. The reason it doesn't work is because `WindowInsets` is been set to the wrong `window`. `Modal` is implemented with `Dialog`, `Dialog` will create a `window` on the top of `Activity`'s `Window`. So it won't work for now. But I couldn't find a good way to get the `Window` of `Dialog`, do you have any idea?

[2017-02-23 10:14] ashik94vc commented on #12540
You tried it in production or just the debug version. Its because, it will be loaded from your react-native packager. It won't be packaged along with your app. Try to create a bundled build and test image loading in it.

[2017-02-23 10:26] krishbhattacharyya commented on #12510
@brentvatne  thanks, I will check this. Please do not close the ticket or say me to move this stackoverflow. I think this is react native issue.

One more thing noticeable(missed the last application test)!!!! Which I have not mentioned in my issue? Navigation changes is working fine but no fetch data is loaded ( application seems freeze ) ? Or sometime application is crashed when click any button

[2017-02-23 10:31] astreet commented on #11809
@ming436534: and that was a regression upon upgrading 0.39.2 to 0.40.0?

@sdcooke: can you verify that this fix improves your perf issues in the same way the revert did?

[2017-02-23 10:40] karpoff commented on #11389
@LitbLeo looks like this code is in another place in 0.34.1
try to open node_modules\react-native\Libraries\JavaScriptAppEngine\Initialization\InitializeJavaScriptAppEngine.js line 120 and change function handleError(e, isFatal) to var handleError = function(e, isFatal)
then do npm start -- --reset-cache

[2017-02-23 10:43] moerabaya commented on #12540
@ashik94vc yes, exactly that was the issue!! thanks :)

[2017-02-23 10:43] #12540 closed

[2017-02-23 11:16] notjosh commented on #11781
I can confirm updating CocoaPods to 1.2.0 fixed the `#import <jschelpers/JavaScriptCore.h>` issue on a project here, too.

[2017-02-23 11:27] KakarN commented on #11809
Hi @astreet Thank you for the fix. I too had performance issue with my app. I would like to know how do I get the fix for my app. My react-native version is 0.41.2. Do I just upgrade the react-native?

[2017-02-23 11:34] ilkarman opened #12541 "Dev build expires on iPhone?"
I deployed a 'release' build of my app to my iPhone, which worked for around a week. I don't have an Apple developer account. It seems the app stops working after around a week? I tried this again on another iPhone and the same thing happened. I'm not sure if this is a react-native thing or an XCode thing?

[2017-02-23 12:51] otoinsa commented on #3468
On Android it sort of works in React 0.41.2

I have noticed, that if I have set android:windowSoftInputMode to 'adjustNothing', these events are not fired.

Why? For me, the default behavior for android:windowSoftInputMode produces layout issues,
so i'd like these events to still fire even if I've set android:windowSoftInputMode to 'adjustNothing'

[2017-02-23 13:17] der-kua commented on #12539
+1

[2017-02-23 13:20] mlazari commented on #4302
@browniefed Is this solved? I think I encountered a similar issue with Switch in a ListView. Here is a repro: https://rnplay.org/apps/tb6-fw
Is something wrong in this example or it's a bug?

[2017-02-23 13:35] hirande commented on #12454
Yeah, it makes sense. But how do I do version checking?

[2017-02-23 13:36] jeroenbourgois opened #12542 "Creating new project fails"
### Description

I did a fresh install following the instructions on https://facebook.github.io/react-native/docs/getting-started.html#content, but it fails at the first step:

`react-native init AwesomeProject`

This results in this output (the packages are installed properly with yarn):

[code]

### Additional Information
I first thought it was a node problem so I reverted from 7.6.0 to the 6.10

[2017-02-23 13:45] kafkaca commented on #12542
+1

[2017-02-23 13:47] odemolliens commented on #12542
+1

[2017-02-23 13:47] kweaver00 commented on #12542
+1

[2017-02-23 13:47] Kraignos commented on #12542
+1

[2017-02-23 13:47] elizamaria commented on #12542
+1

[2017-02-23 13:48] scarlac opened #12543 "Animated.event with useNativeDriver disregards interpolations/etc when re-rendering"
The initial interpolated animation value of an `Animated.event` with `useNativeDriver` is calculated correctly, but once it gets re-rendered then the interpolation is ignored. But when it re-renders again, then the interpolated value is again correct. So:
1st render: Correct value
2nd render: Incorrect (0)
3rd render: Correct.
4th...*: Correct.

This also applies to `Animated.add` nodes as well.
I

[2017-02-23 13:51] jmz331 commented on #12542
+1 same problem.

[2017-02-23 13:51] UtkarshPramodGupta commented on #12542
+1

[2017-02-23 13:52] kumarpatel commented on #12542
+1

[2017-02-23 13:53] hacoval-fuke commented on #12542
+1

[2017-02-23 13:54] aliuspetraska commented on #12542
+1

[2017-02-23 13:54] BuiTruongXuan commented on #12542
+1

[2017-02-23 13:56] ConnorMWGraham commented on #12527
No. I thought I had adjusted the client appropriately by doing ctrl+M > Dev Settngs > Debug server host & port for device >"10.0.2.2:9090". Where can I find the appropriate client configuration file?

[2017-02-23 13:56] simonjk commented on #12542
+1

[2017-02-23 13:56] zphhhhh commented on #12542
+1

[2017-02-23 13:57] marcosiino commented on #12542
Lol, i'm just trying ReactNative now, and saw this strange error...so i've found this. Perfect timing! :) Btw, since i'm a beginner in ReactNative (just trying it now), how can i install the previous version of the cli which is not affect by this bug, using brew on mac, so that in the meanwhile i can try it ? (i've already installed the last cli, so i don't know if i first need to remove it). Some

[2017-02-23 13:58] nikolay-radkov commented on #12542
+1

[2017-02-23 14:00] idancali commented on #12542
+5 (the entire team is frustrated)

[2017-02-23 14:02] bluedusk commented on #12542
+1

[2017-02-23 14:03] agenciafera commented on #12542
+1

[2017-02-23 14:09] KaanErkol commented on #12542
+1

[2017-02-23 14:09] aliuspetraska commented on #12542
@grabbou please take a look

[2017-02-23 14:13] TheBlackHacker commented on #12542
+1

[2017-02-23 14:14] simonjk commented on #12542
This change was don on the file in question 3h ago so it should be the primary suspect:
https://github.com/facebook/react-native/commit/4a4dddbfdcebc71f0828654154b6d4a27b448df0

[2017-02-23 14:16] gmh04 commented on #12542
+1

[2017-02-23 14:16] gamer496 commented on #12542
+1

[2017-02-23 14:17] vaxo-m commented on #12542
+1

[2017-02-23 14:18] idancali commented on #12542
Found the bug people. Babylon (6.16.0 published an hour ago) messed something up. If you use 6.15.0 it works.

[2017-02-23 14:19] grabbou commented on #12542
Thanks, will let the team know we got a problem.

[2017-02-23 14:22] brodeuralexis commented on #12514
Hi @brentvatne, I am @SvetlanaBarros 's coworker.

For clarifications : we do not use webpack in the build process of react-native, only the web application.

The error that is shown above only happens on @SvetlanaBarros 's computer whilst I have no problem running react-native what so ever.

We have tried searching on Google, StackOverflow, react-native's issues, etc.

I too am on :
  - React Nat

[2017-02-23 14:22] kumarpatel commented on #12542
```npm uninstall babylon && npm install babylon@6.15.0```

[2017-02-23 14:22] craigedmunds commented on #12542
+1

[2017-02-23 14:28] carlosroberto555 commented on #12542
+1

[2017-02-23 14:29] MoOx commented on #12542
Stop +1 noise. Thanks.

[2017-02-23 14:31] shmakovdima commented on #12542
+1

[2017-02-23 14:31] chapati23 commented on #12542
+1 is the broken window effect of the developer world

[2017-02-23 14:31] hzoo commented on #12542
Looking into it now.

[2017-02-23 14:31] madwed opened #12544 "#import <React/RCTEventEmitter.h> file not found"
### Description

I recently upgraded an older project to 0.41. Everything is working fine, but there is one issue. When I try to build I always get `'React/RCTEventEmitter.h' file not found` from the `RCTLinkingManager.h` file.

I've manually linked `RCTLinking` to the project and included it in the build phases. I've tried fiddling with the header search paths. I've tried putting the `../node_mod

[2017-02-23 14:34] sunruh commented on #12542
@hzoo I suspect it to come from PR https://github.com/babel/babylon/pull/300

The changelog states

[2017-02-23 14:35] hzoo commented on #12542
Awesome, need to figure out what react-native is doing

[2017-02-23 14:35] georginio commented on #12542
+1

[2017-02-23 14:36] voidale commented on #12542
@kumarpatel doesn't seems to work to me any other ideas for temp fix?

[2017-02-23 14:36] diegorodriguesvieira commented on #12542
+1

[2017-02-23 14:39] MintyOwl commented on #12542
Operating System: Windows 10 64bit

[2017-02-23 14:41] chapati23 commented on #12542
temp fix possibly forking react-native and restraining babylon version to 6.15 in the 2 package.json's?
• https://github.com/facebook/react-native/blob/564126f2bf23f87bc80d9d02c7a9ed227dd1bb4e/package.json#L142
• https://github.com/facebook/react-native/blob/13edf6da2b8090c1b0bfa5fde4354fbfb24e6b4e/packager/package.json#L18