[2017-04-03 05:20] minhtc commented on #13160
up

[2017-04-03 05:30] CoLagon commented on #13246
@Air-Miha

I can't thank you enough!

[2017-04-03 05:30] #13246 closed

[2017-04-03 05:55] minhtc commented on #13160
my quick fixes:
file: /node_modules/react-native/node_modules/xcode/lib/pbxProject.js
line 1146:
change the condition from `if(searchPaths)` to `if (searchPaths && searchPaths !== '"$(inherited)"')`

[2017-04-03 07:52] jinqkim1 commented on #10683
thank you. i will try flatlist.

[2017-04-03 07:53] Leeds-eBooks commented on #3082
This is still an issue and the proposed solution doesn't always work. Could it be re-opened? It doesn't seem like it should be expected behaviour...

[2017-04-03 08:01] LeoAref commented on #12918
@hramos Is `FlatList` documented somewhere?
The link [here](https://facebook.github.io/react-native/docs/performance.html#listview-initial-rendering-is-too-slow-or-scroll-performance-is-bad-for-large-lists) redirects to the main page!

[2017-04-03 08:31] ataiiii commented on #10027
I am getting this error/warning when using fetch to my api on the net, bundle loads properly(ios10.3/RN 0.43-rc4). Server receives the request and sends the response but RN never receives the response.
So my real issue here is not receiving the response and not about the warnings.

[2017-04-03 08:39] vincentsong commented on #11727
I am using 0.42 on Andriod7.0. Same problem.

[2017-04-03 08:52] vincentsong opened #13262 "Question: Is there any plan to provide a DatePickerAndroid UI component instead of the API to open a dialogue."
### Description

I found there is a DatePickerAndroid API to open a date picker dialogue. Is there any plan to provide a UI component to show the date picker in the view, like the native date picker not the dialogue.

[2017-04-03 09:08] AndrewJack commented on #13258
It has been fixed here https://github.com/facebook/react-native/commit/d2939eafbf56f99ea4da7374b9812ae6f54c1d3d

It will be released with the 0.44.0-rc

[2017-04-03 09:08] AndrewJack commented on #13258
@facebook-github-bot close

[2017-04-03 09:09] #13258 closed

[2017-04-03 10:59] peterp commented on #13257
How did you extract the image from the camera roll? My concern is that you're not using the exact same image.

[2017-04-03 11:04] joshyhargreaves commented on #13202
+ 1 from me. I'd agree, the issue does seems to lie with trying to scroll to an index/contentOffset outside the initial render window.

Given the 'initialNumToRender' renders the items starting in 0th index in the provided array of items. As a user of the component, for example, would it make any sense to be abled to specify the 'initialNumToRender' as well as the starting index of the items to re

[2017-04-03 11:17] joshyhargreaves commented on #13202
@conrad-vanl: the reason your example wasn't working in sketch is that FlatList is in pre-release in 0.43 and AFAIK sketch is currently bundling 0.42.

[2017-04-03 11:23] charlesfranciscodev opened #13265 "Watchman error: Watcher took too long to load"
### Description

I get `Watchman error: Watcher took too long to load` when running `react-native start`

Error: Watchman error: Watcher took too long to load (WatchmanWatcher)
Try running `watchman version` from your terminal
https://facebook.github.io/watchman/docs/troubleshooting.html. Make sure watchman is running for this project. See https://facebook.github.io/watchman/docs/troubleshooting.h

[2017-04-03 11:59] codebymikey commented on #7288
+1, on Android

[2017-04-03 12:38] dileepkanta opened #13266 "react-native run-android throws error net.js:623 TypeError('invalid data')"
I am using **macMini** with **macOS "Sierra" version "10.12.2"**, when i run the command **"react-native run-android"**, it showing the following error.

net.js:623
    throw new TypeError('invalid data');
    ^

TypeError: invalid data
    at WriteStream.Socket.write (net.js:623:11)
    at WriteStream.stream.write (/Users/dileep/Documents/Dileep Kanta/ReactNative/TOGSample/node_modules/ansi/lib/n

[2017-04-03 13:08] iggyfisk opened #13267 "VirtualizedList has hard coded scrollEventThrottle value"
### Description
We're doing animations based on `onScroll` in a `<FlatList>`, but the result is choppy in iOS. We tried setting `scrollEventThrottle={16}` on the `<FlatList>` component itself, then inside a `renderScrollComponent` function. No surprise it didn't work, since it gets [overridden in VirtualizedList](https://github.com/facebook/react-native/blob/22a4205bdd63d60c7d7290693aaccfe47e84ebb

[2017-04-03 13:11] cubbuk commented on #11389
Had the same exact issue out of blue sky with RN `0.31` @arsenslyusarchuk' suggestion fixed it for me, have no idea why it has started, it was working fine

[2017-04-03 13:46] codebymikey commented on #10991
+1

[2017-04-03 13:54] malexsan1 commented on #13204
This seems to be happening to me too.

[Here's](https://snack.expo.io/SkzTmR16x) a sketch with my code. I've added the *selectedValue* to the Picker component and I still cannot select the first option.

Selecting any other option is working fine and after that everything works fine, including selecting the first item.

Currently experiencing this using ReactNative 0.42.3.

[2017-04-03 14:01] filipemonteiroth commented on #13262
@vincentsong I think that react-native will not build this component, since it only exposes native components as well. You can build your own, based on the API, it is not so hard to use.

[2017-04-03 14:07] filipemonteiroth commented on #13252
@trung1008 You should use a WebView instead of Linking.

[https://facebook.github.io/react-native/docs/webview.html](url)

[2017-04-03 14:12] filipemonteiroth commented on #13221
@henrikra I'm using this component instead of native one:

[https://github.com/poberwong/react-native-switch-pro](url)

[2017-04-03 14:12] heliocaruccio commented on #13147
Equivalent in groupTypes param  (Android)

[2017-04-03 14:15] filipemonteiroth commented on #13245
@udfalkso Hey, maybe you had a problem with merges. Maybe you could try to copy your source folder and create a new react native project, then copy your folder inside the new project. Thats how I upgrade react-native versions.

[2017-04-03 14:18] conrad-vanl commented on #13202
Not sure. The bug here definitely has to do with the bad values being sent in the `onScroll` event though.

[2017-04-03 14:20] sdg9 commented on #11114
Heads up for those migrating from navigation experimental to react-navigation the [same problem exists there](https://github.com/react-community/react-navigation/issues/738).

[2017-04-03 14:35] joshyhargreaves commented on #13202
The behavior I'm seeing is blank content loaded initially.
Scrolling backwards the content is blank until reaching the initially rendered pages. Scrolling forwards again, the content is rendered as expected.
<img src="https://cloud.githubusercontent.com/assets/1807207/24607825/899b1c66-186b-11e7-9844-d941fa0ee186.png" width=400 />

[2017-04-03 14:37] wellyshen opened #13268 "Don't forget to support "react-native-git-upgrade""
I found that react-native 0.43.0 has released and I upgraded my RN through "react-native-git-upgrade" but it can't find the exist repo, please support it :

<img width="1279" alt="2017-04-03 10 35 26" src="https://cloud.githubusercontent.com/assets/21308003/24614559/22605658-18be-11e7-85a1-4f20840540ac.png">

[2017-04-03 14:40] conrad-vanl commented on #13202
@joshyhargreaves I came across that issue as well. For me, it had to do with the `InteractionManager.runAfterInteractions` method that is used by `FlatList`. Essentially, I had some Animations that weren't being properly "stopped" or torn down...which was causing the exact same behavior you mention (blank items until I reach the items that initially rendered).

Potentially related to https://githu

[2017-04-03 14:45] ncuillery commented on #13268
The 0.43.0 hasn't been released yet. It's still in RC 😄

Please note that there a delay between the release on Github (displayed [here](https://github.com/facebook/react-native/releases)) and the NPM publish. For instance, the version 0.43.0-rc.5 released 3 days ago hasn't been published on NPM yet.

The desired package must have been published on NPM in order to use `react-native-git-upgrade`.

[2017-04-03 14:50] ncuillery commented on #13268
@facebook-github-bot close

[2017-04-03 14:51] filipemonteiroth commented on #13127
@zhuyifan2013 I had this same issue when tried to upgrade to 0.42 . I realized that when I ran from xcode not "react-native run-ios" it worked.

The problem was solved when I updated xcode.

[2017-04-03 15:06] joshyhargreaves commented on #13202
@conrad-vanl funnily enough, it looks like `runAfterInteractions` isn't being called for myself.

Just out of interest, if you call `scrollToIndex` with a `setTimeout` with some arbitrary period of _2s_, say, does the problem still occur for you?

[2017-04-03 15:13] joshyhargreaves commented on #13202
@conrad-vanl thanks for clarifying, much appreciated.

[2017-04-03 15:32] nigelnindo commented on #7495
Removing **maximumAge** works, but this is a temporary solution. Worked fine in most cases, but ran into some issues in production where on a map the user's current location would be completely off due to using stale coordinates. Switched to a native implementation instead.

[2017-04-03 15:35] sahrens commented on #13202
Yes I think it makes sense to add some `initialScrollIndex` or something, might add that soon.

Are you providing `getItemLayout`?

There should be logic to promote the cell rendering priority to bypass runAfterInteractions if they are close enough to or inside the viewport - perhaps that logic is broken? Or you are just doing other heavy JS computation that's blocking it up?

[2017-04-03 15:37] weiliank commented on #2743
@neciu do we have to run `react-native bundle --platform android --dev false --entry-file index.android.js   --bundle-output android/app/src/main/assets/index.android.bundle   --assets-dest android/app/src/main/res` everytime we wish to build apk?

[2017-04-03 15:37] sahrens commented on #13202
Oh sorry, looks like you are providing getItemLayout. I'll take a look.

[2017-04-03 15:42] conrad-vanl commented on #13202
@sahrens the `runAfterInteractions` bit I believe should be a separate issue, but yes, there was other JS computation that was blocking (specifically a looping Animation that wasn't being properly stopped). The only weird part was that once you scroll to the top to the rows that were rendered initially, the list snapped back into working it would start rendering cells as you scrolled down.

Again,

[2017-04-03 15:43] L3V147H4N commented on #7495
@nigelnindo what do you mean Native Implementation? within RN or doing it directly in Android?

[2017-04-03 15:47] sospedra commented on #11042
+1 why is this closed?

[2017-04-03 16:02] hramos commented on #13213
There's a template when a new issue is created. Make sure to fill it out in its entirety.

[2017-04-03 16:06] hramos commented on #13221
Agree with @henrikra.

[2017-04-03 16:06] #13221 closed

[2017-04-03 16:10] Trenrod opened #13269 "Unforunately, * has stopped. After invalid StyleSheet. From Getting Started"
### Description
Using Getting started Tutorial to reproduct an error I have with my current project.
When an error occurs during live reload, like having an invalid StyleSheet attribute, application crashes on my android phone as with emulator with "Unfortunately, myapp has stopped."

### Reproduction Steps and Sample Code

Install blank react-native application. Setup Android SDK, start Emulator.

[2017-04-03 16:19] ferrannp commented on #10751
I am using `0.43.0` and this still happens.

[2017-04-03 16:21] joshyhargreaves commented on #13202
Yep, does look like a couple of seperate issues!

@sahrens it looks like I've got a separate problem with `runAfterInteractions` being locked up which I'll have to get to the route of why. However, from the looks of it (or at least from what I can see), it looks like when using `scrollToIndex` (or the scrollView`contentOffset` prop) to adjust the viewPort/contentOffset programmatically the cell re

[2017-04-03 16:25] thiensubs commented on #12827
My error in Production:

onEndReached@574:4466
_onScroll@277:16504
scrollResponderHandleScroll@263:1975
_handleScroll@261:2584

I think EndReached has problem.

[2017-04-03 16:26] sahrens commented on #13267
Just an oversight, we could easily allow a user override.

But you should really try to use Animated.event with useNativeDriver: true if possible, see the Spindicator component in FlatListExample for a demo.

[2017-04-03 16:33] nigelnindo commented on #7495
@L3V147H4N directly in Android. There are a couple of libraries that you can use for this, but I've seen that most aren't compatible with the latest versions of RN. If there's enough interest in this, I don't mind spending some time creating a simple module to help solve the geolocation issues on Android outlined on this thread.

[2017-04-03 16:40] raldred commented on #7495
I think almost everyone on this thread would be very grateful @nigelnindo
<https://github.com/nigelnindo>

On Mon, 3 Apr 2017 at 17:34 Nigel Nindo <notifications@github.com> wrote:

[2017-04-03 16:43] #13268 closed

[2017-04-03 16:43] #13266 closed

[2017-04-03 16:43] #13262 closed

[2017-04-03 16:43] #13259 closed

[2017-04-03 16:47] #13252 closed

[2017-04-03 16:50] hramos commented on #13243
I'm not able to reproduce this on Snack, using the exact same code posted here: https://snack.expo.io/HJw8alx6e

Any chance you can provide a repro?

[2017-04-03 17:19] markusguenther commented on #5603
It seems that no one created a feature request. So if you also want that feature in RN vote here https://react-native.canny.io/feature-requests/p/support-static-images-in-imagegetsize

[2017-04-03 17:27] satya164 commented on #13221
Well, it's not a hack, and can be done is js, but anyway.

[2017-04-03 17:28] alfonsogoberjr commented on #9336
@sumit6b's solution worked for me, using Bluestacks

[2017-04-03 17:39] beau6183 commented on #3082
Agreed, I'm seeing it as well.

[2017-04-03 17:44] ericvicenti commented on #13265
I think this can be solved by running `watchman watch-del-all`

[2017-04-03 17:44] #13265 closed

[2017-04-03 17:45] joshjconlin commented on #13243
its a private repo, so unfortunately not, I can provide my package.json though to show all the dependencies and versions i'm using.
[code]

[2017-04-03 17:47] joshjconlin commented on #13243
also this is the MainApplication.java
[code]
Let me know if you need anything else

[2017-04-03 17:48] emilsjolander commented on #11809
Yoga fix has now landed

[2017-04-03 18:04] ptomasroos commented on #11809
You rock @emilsjolander !

[2017-04-03 18:14] grabbou commented on #11809
I'll cherry pick that were it makes sense. Not sure if it's already in
latest RC, I think I picked it just before it landed.

On Mon, Apr 3, 2017, 20:05 Tomas Roos <notifications@github.com> wrote:

[2017-04-03 18:14] stoffern commented on #11809
great work @emilsjolander and Yoga 🎉
The fix should be cherrypicked into v0.43.1, if it is not already in v0.43.0 ?

cc @grabbou

[2017-04-03 18:19] ppoliani commented on #12514
The error in my case is caused due to my `.babelrc` which has the following content

[code]

If I remove everything except for the `react-native` preset  it works fine.

[2017-04-03 18:25] ericvicenti commented on #3082
Re-opening because this seems like a real issue.

Does it also happen on an iPhone 7?

A fix would be appreciated for this, if anybody can figure it out!

[2017-04-03 18:25] llioor commented on #13259
Hey @hramos
Can you advice? I spoke with fackbook supports and they direct me to react-native page.
My node version is 6.10.1
npm 3.10.10
react-native-cli 2.0.1

[2017-04-03 18:30] kitsune7 commented on #12514
I don't know if anyone is still running into this problem, but I was able to solve the problem and document it on [stackoverflow](http://stackoverflow.com/questions/43098644/react-native-unhandled-js-exception-typeerror-on-new-ios-project/43103609#43103609).

[2017-04-03 18:46] iggyfisk commented on #13267
We're using Animated.event with useNativeDriver: true for our onScroll listener, but due to the size of our animation, scrollEventThrottle still makes a big difference. Which is expected, from what I understand https://github.com/facebook/react-native/blob/28ed5eddf2e54146e915ba4427d3960331231bc3/docs/Animations.md

The FlatListExample behaves the same way. Although it's very difficult to tell the

[2017-04-03 18:52] albinhubsch commented on #3082
@ericvicenti yes this happens on iPhone 7 as well!

[2017-04-03 18:53] hramos commented on #13259
It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2017-04-03 18:53] arsen commented on #11809
Hey @emilsjolander
Will this have any affect on IOS side also?
It will be great if you could provide a PR/Commit so we can see the files it is touching.

Thank you!!!

[2017-04-03 18:58] emilsjolander commented on #11809
No effect on iOS.

Commits:
https://github.com/facebook/yoga/commit/5884ab7b76a66b2a5b22a8ebd164f7a9b8f551ed
https://github.com/facebook/yoga/commit/5112564f083422194cdb1baf1a97c0308cbc14cb

[2017-04-03 19:04] joshyhargreaves commented on #13202
@conrad-vanl: thanks for the heads up about `InteractionManager`. Turns out we had a looping loading spinner animation that was blocking the Interaction Manager; fixed by specifying `isInteraction` to be false when configuring the animations.

@sahrens fixing the `InteractionManager` block actually fixes the issue with blank content, and cells are now rendering, given `runAfterInteractions` is now

[2017-04-03 19:09] ajwhite commented on #11809
Many thanks! Any chance this could find its way into 0.43.1?
Or should we fork RN and Yoga and build RN with Yogas patch?

[2017-04-03 19:15] grabbou commented on #11809
I'll cherry-pick it into 0.43.1 as well, but I'll do it tomorrow from
office. Depending on your time-zone, it might be there when you wake up :)

On Mon, 3 Apr 2017 at 21:09 Atticus White <notifications@github.com> wrote:

[2017-04-03 19:17] Deividy commented on #11809
I tested in 0.44.0-rc.0 and its fixed, thanks! :)

[2017-04-03 19:18] iwarshak commented on #12806
I am having this same problem.

[2017-04-03 19:23] frankmarineau commented on #13240
I think this happens because react-transform-hmr doesn't support functional components. This means that when you change a component, the component actually being reloaded is its nearest "parent" **class** component. In your case, this happens to be of higher order than your nav stack. When it gets reloaded, your whole nav context is lost.

I was able to get around this by converting the views I lo

[2017-04-03 19:39] lacker commented on #13256
You make a great point, that Facebook using React Native doesn't necessarily mean that React Native is the right tool for you. It's naturally a bit different how React Native is used at Facebook because the technology started here. So I think it makes more sense to look at some companies that have successfully adopted open source React Native, because their experience will be the most similar to y

[2017-04-03 19:39] #13256 closed

[2017-04-03 19:46] joshjconlin commented on #13243
I just updated to the newest release of react native and it seems to have resolved this issue;

[2017-04-03 19:46] #13243 closed

[2017-04-03 19:51] leoselig commented on #1424
@rclai @lacker
Product pain was added a while ago: https://react-native.canny.io/feature-requests/p/packager-support-resolvealias-ala-webpack
Kind of sad that the discussion on this died down
A wrap up of outstanding issues on this would be nice - maybe someone (*cough*) could give it a go

[2017-04-03 20:17] claykohut commented on #13240
@frankmarineau can you provide a little more insight here?

The components I'm using inside navigation are class based unless I'm missing something

[2017-04-03 20:20] Mactub07 opened #13275 "Flatlist - center content in componentWillMount"
I have 241 rows in flatlist and I wonder how to scroll to center of lists (121 item) without delay ( now I see white blank when use scrollToIndex

[2017-04-03 20:21] ptomasroos commented on #13275
This is not a bug, please ask this on Stackoverflow

[2017-04-03 20:26] lazaridis-com opened #13276 "[LEADERSHIP] Comment-Close-Lock is an Act of Barbarism"
[Please note that this addresses the project-leadership (Product/Project Manager etc.), so I ask Contributors to stay away from this issue, because it's non of your business.]

I filed this issue here:

#13256 - Provide Clarifications about "Public vs. Facebook Internal Version"

Which was commented then closed then **locked** by @lacker (I ignore his comment as they are mostly not relevant to the

[2017-04-03 20:31] #13276 closed

[2017-04-03 20:37] #13275 closed

[2017-04-03 20:55] vkurchatkin opened #13277 "Feature request: add error code to networking errors"
### Description

It would be useful to be able to interpret networking errors programmatically, for example to be able to check that error is a connection error, or DNS error, etc. This information can be used for error-reporting, generating more precise error messages and determining whether it's possible to retry failed requests.

### Solution

__Option 1.__ Add `code` field to error objects and

[2017-04-03 21:05] shergin commented on #2552
@grundmanise That's sad. :(
Does .42 contain a341e9d and 9a9ecea?
Which kind of TextInput (multiline on single-line)?

[2017-04-03 21:26] farazs opened #13279 "WebView finishes with loading event"
### Description

I have noticed this with pages that use angular ui router but it's possible it happens in other cases as well. When switching states on a page with angular ui router, in a small percentage of loads, the last navigation state change event on Android has `loading: true`. If you use a loading indicator, this would cause it to show indefinitely.

This happens because some Android webv

[2017-04-03 21:50] danieljoonlee opened #13280 "Platform is a read only object"
### Description

Seems like `Platform` object from `react-native` is a read only object, and mocking the functions like `Version` isn't possible.

After doing `Object.defineProperty(Platform, "Version", { writable: true })`, I was able to update the object.  Is this intentional?

### Reproduction Steps and Sample Code

Example:
`Platform.Version = 24`

### Solution

Haven't looked too deep into, b

[2017-04-03 21:52] hoangpham95 commented on #13251
I would suggest you change your code to
[code]

[2017-04-03 21:56] hoangpham95 commented on #13191
Should be closed as the PR was being imported into `master`: https://github.com/facebook/react-native/commit/c3110963f2517b3ef8b80f5d510b8dd41a67350d

[2017-04-03 22:08] a-shark commented on #4968
So if none of the above, including rebooting, reinstalling everything under the sun, checking the repo out fresh, _et c_, clears whatever RN has managed to break, my solution to continue editing the RN project I'm working on is... what? Format the whole machine and reinstall the OS?

[2017-04-03 22:09] grundmanise commented on #2552
@shergin
I think so.. it should contain.
It's a single-line input (controlled component) with `autoCorrect={true}`.
Tested on iPhone 5s.

Haven't you got any issues with `onChange` & `autoCorrect`?

[2017-04-03 22:13] hasLandon opened #13281 "URL query parameter encoding is different on android vs ios"
### Description
#### URL query parameter encoding when using fetch is not handled the same on both iOS and Android

When calling `fetch()` with the following URL query parameter:
`["AND",["NOT",["EQ","status","expired"]],["LIKE","name","%Geo%"]]`,

When I monitor the actual network request that is executed with charles when running on iOS, the query parameter is encoded as:
![screen shot 2017-04-0

[2017-04-03 22:21] ericvicenti commented on #13280
I'm not sure why you'd want `Platform.Version` to be writable. Maybe you can mock this out in your test code? Or you could change the value that the native code provides.

[2017-04-03 22:30] danieljoonlee commented on #13280
Right, so currently using `Object.defineProperty` I can change `Platform.Version` to be writable, otherwise it's read only.

If I'm testing for different android permissions for version `Platform.Version >= 23` and `Platform.Version < 23`.  Then those are two different work flows I need to write tests for.  Seems inconvenient that I can't mock `Platform.Version` without a bypass.

[2017-04-03 22:33] restlessCalm commented on #8024
@ilyadoroshin <TouchableWithoutFeedback> worked for me on iOS.

[2017-04-03 22:38] koenpunt commented on #12237
`.env` files also disappear, which I'm not happy about...

[2017-04-03 22:44] jcbiznoff opened #13283 "upgrade to RN 0.37 - could not connect to development server (ios simulator)"
### Description

Using an embedded RN here in our apps. Did a clean npm run at the source directory, expect for RN screens to show up nicely but seeing a red screen. Everything worked fine up to v0.36, and after the upgrade screens are just not showing. Android emulator works fine so I'm very confused.

Also i can also see JS transformation happening from the command prompt logs. It's just on the

[2017-04-03 22:45] jcbiznoff commented on #13283
This happens on v0.38, 0.39, and 0.40 as well.

[2017-04-03 23:00] QuantumInformation commented on #4968
@a-shark work on smth else till the community finds the solution.

[2017-04-03 23:01] QuantumInformation commented on #4968
I decided to not hit the unsubscribe button, due to the soap quality and entertainment value.

[2017-04-03 23:24] jeebus3000 commented on #13236
#12721

[2017-04-03 23:36] myusuf3 commented on #10433
This is happening frequently for many users any ideas what would be main cause for this.

[2017-04-03 23:56] rigdern commented on #10433
@myusuf3 What version of React Native are you seeing the crashes on? What callstack are you seeing? This information is important in order to be able to give you relevant suggestions.

A couple of fixes (https://github.com/facebook/react-native/commit/23423774ba0b97784ff74907eeba2e2ba9394679 and https://github.com/facebook/react-native/commit/2aca02150481ab558f136e816412cd0cff740c5f) went into Rea

[2017-04-04 00:06] myusuf3 commented on #9849
@IlyaRepo which version of react are you on?

[2017-04-04 00:13] crisys11 commented on #13283
Try creating a new app and verify if the same error occurs.

[2017-04-04 00:16] myusuf3 commented on #10433
@rigdern we are on `~0.35.0` but have been for awhile and the bug just exposed itself in the latest release. Not sure what triggered it but looking for a workaround atm. That being said has '0.41.0' been released? I will try backporting those fixes but can't get it to consistently reproduce this error atm.

[2017-04-04 00:29] rigdern commented on #10433
@myusuf3 Yes, 0.41 was released at the beginning of February. As described in [this blog post](http://facebook.github.io/react-native/blog/2017/01/07/monthly-release-cadence.html), a new version of React Native is released at the beginning of each month. 0.43 should be released sometime near the beginning of this month. You can see the full list of releases at https://github.com/facebook/react-nat

[2017-04-04 00:32] mzmiric5 commented on #10751
@ferrannp not sure if this will be resolve on the react-native end, but here is a solution that you can use

In your `AppDelegate.m` add the following lines in your `application didFinishLaunchingWithOptions`

[code]

and make sure that `UIViewControllerBasedStatusBarAppearance` is set to `false` in your app's `Into.plist`.

This will cause the status bar to be visible in landscape mode.

Hope thi

[2017-04-04 00:34] myusuf3 commented on #10433
@rigdern so do those commits fix the issue? We aren't able to reproduce but a significant chunk of users are hitting the issue.

[2017-04-04 00:39] rigdern commented on #10433
@myusuf3 Probably, those 2 commits fixed the most common image loader crashes. What's the callstack at the time of the crash?

[2017-04-04 00:41] crisys11 commented on #13277
Please open this feature request in whatwg-fetch package because react native delegate fetch implementation to this package please see https://github.com/facebook/react-native/blob/292cc82d0ebc437a6f1cdd2e972b3917b7ee05a4/Libraries/Network/fetch.js

[2017-04-04 00:48] myusuf3 commented on #10433
@rigdern

[code]

[2017-04-04 01:17] crisys11 commented on #13277
Searching  in the whatwg-fetch i found that is possible get the error code and after detect error type

[code]

[2017-04-04 01:32] rigdern commented on #10433
@myusuf3 I'm not sure if that particular crash is fixed by the 2 commits. Based on [this comment](https://github.com/facebook/react-native/issues/10433#issuecomment-262549568), somebody else crashed with this stack as well but never reported back whether my fixes resolved his issue.

[2017-04-04 01:58] trubin commented on #11586
Still having this issue in react-native version 0.43.0.

[2017-04-04 02:37] trubin commented on #11586
So it seems to be because I forgot to include "signingConfig signingConfigs.release" in the "release" property of the "buildTypes" property of the app\build.gradle.

[2017-04-04 03:04] haggholm opened #13286 "[Android] Crash when parsing JS stacktrace"
### Description

Very similar to  #8311, but rather than *no* stack, some of stack information is missing.

[code]

which points me to

[code]

### Solution

Unfortunately, I don’t immediately know if I can provide the code that caused the issue (I’d have to check up on some policies). However, maybe it could be so simple as to have explicit checks for the presence of the fields and/or changing to

[2017-04-04 04:35] tuandt opened #13287 "Failed to run on emulator after upgrading from 0.42.3 to 0.43.0"
After upgrading from 0.42.3 to 0.43.0 I got this error when using ListView:
undefined is not a function (evaluating 'this.updater.enqueueCallback(this, callback, 'setState')')

Does anyone got the same error like this?

### Additional Information

* React Native version: 0.43.0
* Platform: Android
* Development Operating System: Windows
* Dev tools: Android Studio version

[2017-04-04 05:04] mitogh commented on #3406
I was experience a similar situation where I was adding a dynamic class that has `flex: 1` after I removed that class the error was generated so I set `flex: 0` on my initial class and that fixed the problem.

Thank you @damathryx @aymericbouzy

[2017-04-04 05:34] sriraman commented on #13011
Hi,

Finally, We found out the root cause of the problem. It is not rejected because of the React Native or CodePush. We had our Manufacturer's SDK in our iOS App. They were using Amap ( Alibaba Map ) which was using the JSPatch. Since everything was in the compiled code, We were not able to figure out.

Thank you @brentvatne, @axemclion and the whole community for helping us to find the cause.

[2017-04-04 05:34] #13011 closed

[2017-04-04 05:44] ptomasroos commented on #13267
Thanks a lot for the fix @sahrens https://github.com/facebook/react-native/commit/f186cfb9d657bacafa32588b96de6ddac0786cf8

[2017-04-04 05:55] sahrens commented on #13267
Oh it hadn't occurred to me that the throttle would affect useNativeDriver but it hooks into the same event dispatching bus so that makes sense. Diff is in master now in any case. Thanks for the report!

[2017-04-04 05:59] #13267 closed

[2017-04-04 06:54] philohelp commented on #11578
Same here. I just did yarn then react-native-git-upgrade and it worked.

[2017-04-04 07:05] tiemevanveen commented on #13164
I'm having the same problem.

package.json is not updated after react-native-git-upgrade found some conflicts.

[code]

package.json:

    "react": "~15.4.0-rc.4",
    "react-native": "0.38.0",

There are no conflict delimiters in `'ios/MyProject.xcodeproj/project.pbxproj' ` btw.. there should be right?

Running the tool again fails because node_modules are already updated by the tool but not pack

[2017-04-04 07:16] hlung commented on #10346
I think if you have Safari web inspector opened for the JS app you are running (tvOS app), and then do a App.reload(), it will crash with this error.

[2017-04-04 07:39] hilkeheremans commented on #13011
@sriraman Really glad that you found the root cause and [hopefully] managed to work around it!

[2017-04-04 07:46] llioor commented on #13259
@hramos You are totally right! Sorry for that!
I edited my question and now I hope it is ok, if no please let me know what is missing.

Thank you in advance

[2017-04-04 08:14] llioor commented on #13259
@hramos These are my files:

MainActivity.java
[code]

**MainApplication.java**
[code]

**string.xml**
[code]

**AndroidManifest.xml**
[code]

[2017-04-04 08:52] joshyhargreaves commented on #13202
@conrad-vanl I'm actually seeing the same issue as you, although intermittently.

[2017-04-04 08:54] shahbaz07 commented on #12900
Any update about this issue?

[2017-04-04 08:56] shahbaz07 commented on #12900
@alloy can you please me with this issue.

[2017-04-04 09:29] amalChandran commented on #3334
For examples related to communication between android and native components. [Repo Link](http://github.com/amalChandran/ReactNative_Android_integration)

[2017-04-04 09:33] alexdimitriou commented on #7308
react-native run-ios looks for Info.plist at <application_root>/ios/build/Build/Info.plist (notice the double build in the path) while my project just had a single build directory <application_root>/ios/Build/Info.plist with all xcode stuff inside it.

A quick fix was copying and pasting the Build directory on the desktop and then pasting in into itself creating that structure.

It is not the best

[2017-04-04 09:55] philohelp commented on #13010
I get the error too in a brand new react-native init. I dont have any use of pod in the project.

[2017-04-04 10:23] alloy commented on #12900
@shahbaz07 I know nothing about Android. Maybe you'll get an answer sooner if you include an example app that demonstrates the problem so people don't have to spend more than a minute to reproduce the issue. Having said that, you’re problem seems very specific, so unless you’re able to demonstrate that this is a RN bug, I think you should maybe ask for help on e.g. StackOverflow.

[2017-04-04 10:27] shahbaz07 commented on #12900
@alloy, thanks you very much for your reply. I will try to provide sample APK and also try to post the same issue on StackOverflow.

[2017-04-04 10:48] cbjs commented on #10756
same +1

[2017-04-04 10:52] cbjs commented on #10756
same problem here.

trying to fetch image info from http head response.
crash only in release mode, android.

curl -I http://m.newsmth.net/att/inbox/52/89252
`
Accept-Ranges →bytes
Cache-Control →no-store, no-cache, must-revalidate
Connection →keep-alive
Content-Disposition →inline;filename=Íí·¹£¬Ñ©²ËÇà¶¹¶¹¸¯¡£170403_±±¾©¡£.jpg
Content-Length →89381
Content-Type →image/jpeg
Date →Tue, 04 Apr 2017

[2017-04-04 11:23] pvinis opened #13289 "Alternate debug connection than wifi on real device"
### Description

I have specific cases I need to test often, where the network should not be available. Sometimes no wifi, sometimes no cellular, sometimes no Bluetooth. Currently, for the case of no wifi or airplane mode, I just bundle the js part, and try to debug by console.loging. This of course is not great or fast.

### Solution

So I thought we might be able to do the same debugging but usi

[2017-04-04 11:35] ivanzotov commented on #13017
+1

[2017-04-04 12:33] znafets commented on #13010
same here trying to build an example project and get :
RCTSamplingProfilerPackagerMethod.mm:14:9: 'jschelpers/JavaScriptCore.h' file not found

Build failed

[2017-04-04 12:33] DevBkIL opened #13290 "react native facebook sdk crashes application when logging event with Array props"
Hi,
crashes application when logging event with Array props
![screen shot 2017-04-04 at 3 15 40 pm](https://cloud.githubusercontent.com/assets/20789425/24656574/c5ad1728-194b-11e7-92c4-ff0fea68f07e.png)

RN 0.40 Android.

edit: sorry to post here but i cant post in react-native-fbsdk repository

[2017-04-04 12:36] AlanFoster opened #13291 "React-native 0.43 depends on React 16.0.0-alpha.6"
### Description

After running

[code]

React native creates the following dependencies within the `package.json` file

[code]

I would have expected a dependency on a stable release of React, instead an alpha version is currently being used.

### Reproduction Steps and Sample Code

[code]

View the generated `package.json` file

### Solution

Clarify if this react alpha dependency is safe to use

[2017-04-04 12:54] myf9000 commented on #12152
+1

[2017-04-04 13:25] wilomgfx commented on #8615
Same on **0.42.3**

[2017-04-04 13:45] daniel90daniel commented on #13097
Hi, I had the same problem.
I solved it by changing the targetSdkVersion ( same to compileSdkVersion, in my case 23) in  android/app/build.gradle.

[2017-04-04 14:01] vineetkumar198715 opened #13292 "Make DrawerNavigator Available Globally"
I am using both DrawerNavigator and StackNavigator in my app. I have implemented the DrawerNavigator on one screen and from there the Drawer is available for every screen if I switch them using Drawer Options. As soon as use this.props.navigation.navigate and go to other screen, the Drawer is not available anymore. What should I do If I want a Global Drawer? Should I initialize DrawerNavigator in

[2017-04-04 14:12] joonhocho opened #13293 "[URGENT] http (not https) images are not displayed using <Image/> tag."
### Description

HTTP images are not displayed using Image tag.
Only HTTPS images are correctly displayed.
Not sure if this is intended or not, but it should at least provide an option to display non secure images.

### Reproduction Steps and Sample Code

Try `Image` tag with http://i.imgur.com/RRUe0Mo.png and https://i.imgur.com/RRUe0Mo.png.
Only https version will work.
On browser, both works.
T

[2017-04-04 14:15] itinance commented on #12261
I wonder about react-native-git-upgrade is never upgrading the packe.json-file, even if the RN-folders in node-modules point to the newest version then, in package.json the old ones remains.

[2017-04-04 14:18] joonhocho commented on #13293
Closing as duplicate. https://github.com/facebook/react-native/issues/8520

[2017-04-04 14:18] #13293 closed

[2017-04-04 14:26] jmfirth commented on #393
@olegdizus https://github.com/facebook/react-native/pull/11932

[2017-04-04 14:33] MQZhangThu opened #13294 "Animated.event fail to map two args"
In 0.42.0 version, when using ``Animated.event`` in ``Animated.ScrollView`` to respectively map ``e.nativeEvent.contentOffset.y`` and  ``e.nativeEvent.contentSize.height`` to two Animated value (``this.state.scrollY`` and ``this.state.contentSizeHeight``)  as below, only the first one (i.e., ``this.state.scrollY``) was mapped, while the second one (i.e., ``this.state.contentSizeHeight``)  does not

[2017-04-04 14:52] a-shark commented on #4968
Well, after upgrading to Sierra (!?) _and_ `rm`ing cache _again_ I can once again launch RN apps. Until I hit this bug a third time and it takes a different rain dance to fix it than the two different solutions that worked the first two times. So add "try every solution above, then upgrade your OS and try them all again" to the list of workarounds, I guess?

[2017-04-04 15:03] QuantumInformation commented on #4968
141 comments so far:

![image](https://cloud.githubusercontent.com/assets/216566/24663584/38b540ca-1950-11e7-9ce3-61b9d1c6d11d.png)

[2017-04-04 15:17] sahrens commented on #12827
@thiensubs It looks like you're providing a callback that may not be correctly bound so not sure what would be wrong with FlatList. Do you have more sample code that shows what you're doing and may reveal the bug?

[2017-04-04 15:25] sahrens commented on #13151
An internal client needed scrollToIndexAtSection support so I already added it in master (as `scrollToLocation` - maybe naming could be better, what do you think?). I think `scrollToEnd` can be done via `getScrollResponder` so not a big deal, but if you want to put up a PR for it I'll take a look.

[2017-04-04 15:29] poyannabati commented on #103
Related? @RyanMitchellWilson

[2017-04-04 15:29] thiensubs commented on #12827
My Flatlist like this:
` var flatList = <FlatList
                style={styles.lStyle }
                data={this.state.dataSource2}
                renderItem={ItemRowYesterdaySignal.bind(this)}
                onEndReachedThreshold={10}
                onEndReached={({ distanceFromEnd }) => {
                   this._ItemLoadMore();
                }}
                ref='_flatList'

[2017-04-04 15:35] sphairo opened #13295 "Unhandled JS Exception: Native animated module is not available"
![simulator screen shot 04 04 2017 10 33 52](https://cloud.githubusercontent.com/assets/4241383/24665223/584aaa02-1922-11e7-972a-57362d6bc1d0.png)

2017-04-04 10:33:14.945 [error][tid:com.facebook.react.JavaScript] Native animated module is not available
2017-04-04 10:33:14.947 [fatal][tid:com.facebook.react.RCTExceptionsManagerQueue] Unhandled JS Exception: Native animated module is not available

[2017-04-04 15:37] sahrens commented on #12827
Can you provide more context including the lifecycle of the component that renders the FlatList and where you use the ref?

[2017-04-04 15:37] ericchuawc commented on #12754
@cutemachine method works for me too :) thanks

[2017-04-04 15:39] #13191 closed

[2017-04-04 15:50] thiensubs commented on #12827
Yes. It like pagination, when I scroll to onEndReachedThreshold 10, it will call LoadMore, it repeat again with condition
`this.state.current_page +1 <= this.state.total_pages`
I don't use ref any where, I just define that.

[2017-04-04 15:53] thiensubs commented on #12960
I think we should close this issue, because now RN 0.43.0 is release.

[2017-04-04 16:01] Blapi commented on #13097
Much thanks @daniel90daniel  !!!!!!

I did what you did and this is now working perfectly !

If some guys are experimenting the same issue, be careful because as I said in my issue, my dev tools are android:minSdkVersion="16" android:targetSdkVersion="23" BUT those are the infos in my AndroidManifest.xml... in my android/app/build.gradle, the targetSdkVersion was 22 and not 23, and putting it to 2

[2017-04-04 16:01] #13097 closed

[2017-04-04 16:16] haikyuu commented on #12754
It worked for me when i launched the simulator from Xcode 🤔

[2017-04-04 16:45] pickfire commented on #11697
I can't solve it even if I do that.
[code]

[2017-04-04 16:56] hramos commented on #12960
The issue requires the tutorial to be updated, which has not yet happened. We can leave it open.

[2017-04-04 17:31] dryganets opened #13297 "onCatalystInstanceDestroy of java module is called on UI thread"
### onCatalystInstanceDestroy called on UI thread while @ReactMethod is called on native_module tread.

This is a fragile design as modules authors are not aware of it.
If you have a module which requires de-initialization this fact overcomplicates the design of the module.

[2017-04-04 17:51] PaulBGD commented on #4968
@QuantumInformation You sure? Top of the page says `satya164 opened this Issue on Dec 24, 2015 · 338 comments `

[2017-04-04 17:51] rahuljiresal commented on #12403
This looks like a regression. It was fixed here https://github.com/facebook/react-native/issues/5411

[2017-04-04 17:57] ericwooley commented on #4968
Guys, I'm watching this waiting for a solution, can you start a slack or something to discuss comment length.

[2017-04-04 17:57] wilomgfx commented on #13017
I got that error as well on react ^15.4.2 and react-native 0.43, but upgrading to 16.0.0-alpha.6 fixed it. So id say.. stay away from 0.43 or use react 16.0.0-alpha.6

[2017-04-04 18:03] ide commented on #13291
This is intentional because the React Native releases follow the copy of RN in Facebook's repo, which also sometimes uses alpha versions of React. It is correct to depend on React 16 alpha 6.

[2017-04-04 18:03] #13291 closed

[2017-04-04 18:23] jeffreymendez1993 commented on #13240
Yep ^

[2017-04-04 18:25] charlesfranciscodev commented on #13265
I tried running `watchman watch-del-all` but I still get the same error `Watchman error: Watcher took too long to load`. Any ideas?

[2017-04-04 18:35] janicduplessis commented on #12403
@rahuljiresal The issue you linked seems to be a different problem, I tried the example in it and it did work so I don't think it's a regression.

Not sure what the issue is but I reproduced it easily in snack, it does work on iOS but not android.
https://snack.expo.io/ry1VDvZ6x

[2017-04-04 18:42] jpshelley commented on #13151
We might end up using https://github.com/expo/react-native-invertible-scroll-view for our ScrollComponent for what I'm working on anyways so good timing 😄  We can ditch the branch I created in favor of yours and probably close this issue if @nihgwu agrees

[2017-04-04 18:53] gyetvan-andras commented on #13245
Do you use babel-plugin-transform-remove-console plugin? If so, it had some problem with RN. I have created an RN compatible one a few months ago at [https://github.com/gyetvan-andras/babel-plugin-transform-remove-console-rncompat](https://github.com/gyetvan-andras/babel-plugin-transform-remove-console-rncompat)

[2017-04-04 19:14] sphairo opened #13299 "Unhandled JS Exception: TypeError"
![simulator screen shot 04 04 2017 14 11 31](https://cloud.githubusercontent.com/assets/4241383/24674432/fef4d9cc-1940-11e7-8746-1dc51a34739d.png)

[info][tid:main][RCTBatchedBridge.m:72] Initializing <RCTBatchedBridge: 0x61800019aa90> (parent: <RCTBridge: 0x6000002bb2a0>, executor: RCTJSCExecutor)
2017-04-04 14:10:58.478 [warn][tid:com.facebook.react.JavaScript][RCTBatchedBridge.m:507] Failed to

[2017-04-04 19:27] haggholm commented on #13286
By a charming coincidence, this was fixed by another Petter H (@petterh), in https://github.com/facebook/react-native/commit/957b55c769661edeee691109e45dc99a06f87bc4; but it is only available in v0.44.0-rc.0. It’s not straightforward to upgrade to this version, since it requires an unreleased version of React. I wonder if there’s any chance of backporting?

[2017-04-04 19:34] bradleywilkerson commented on #2088
+1

[2017-04-04 19:43] udfalkso commented on #13245
Thanks @gyetvan-andras but removing that transform doesn't help with the problem.

@filipemonteiroth Thanks, I may have to resort to that, but it's not very simple as this is a complex application.  I used react-native-git-upgrade to do the merge and resolved all the conflicts.

The curious thing is why it works for dev and not for production...

[2017-04-04 19:44] arsen commented on #11809
Hey @grabbou
Just wondering if you had time to cherry-pick it into 0.43.1 ?

[2017-04-04 19:52] llioor commented on #13176
@stoffern Hey Kristoffer, maybe you can advice here:
https://github.com/facebook/react-native/issues/13259#issuecomment-291426909

[2017-04-04 20:00] claykohut commented on #13240
@frankmarineau this fixed it for me -- thanks frank!!

[2017-04-04 20:24] 509dave16 commented on #7662
@lacker Thanks for taking a look at this issue! I know you guys have a tall order combing over all the React Native issues. I have thought about helping categorize the issues, because some are not as critical as others. Anyways I'm working right now to post a new issue and an RN Playground Project. My previous project got wiped when they changed their infrastructure.

[2017-04-04 20:31] llioor commented on #9136
**Solution found:**
[code]

[2017-04-04 20:48] llioor commented on #13259
Problem solved:
http://stackoverflow.com/a/43217182/2862728

[2017-04-04 21:20] rahuljiresal commented on #12403
@janicduplessis Yes you're right. However, as soon as you add `borderRadius` to the styling of the triangle, it disappears. Try the following style with and without the borderRadius

[code]

[2017-04-04 21:21] lacker commented on #7662
Expo's Snack might be a better way to go nowadays - that looks a lot hotter than the old RN playground.

[2017-04-04 21:34] #13299 closed

[2017-04-04 21:34] hramos commented on #13297
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-04 21:34] #13297 closed

[2017-04-04 21:34] #13295 closed

[2017-04-04 21:35] hramos commented on #13294
Can you provide a minimal amount of code to reproduce this using [Snack](http://snack.expo.io)?

[2017-04-04 21:35] hramos commented on #13292
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-04 21:35] #13292 closed

[2017-04-04 21:35] #13290 closed

[2017-04-04 21:36] hramos commented on #13287
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2017-04-04 21:36] #13287 closed

[2017-04-04 21:38] hramos commented on #13286
It's unlikely this commit will be backported into 0.43, as the stable release has already been cut. You should still be able to use the RC version, we actually encourage people to use the RC in order to surface these kinds of issues as soon as possible.

[2017-04-04 21:38] #13286 closed

[2017-04-04 21:47] ericvicenti commented on #12813
Everything other than `Examples/UIExplorer` should be cleaned up, but unfortunately that is still under the samples license for `v0.44`

`UIExplorer` is somewhat tricky to move because it is integrated with our testing setup. I'll figure it out over the next couple weeks, and we will be completely under a consistent license for `0.v45`

[2017-04-04 21:52] sphairo commented on #13295
@hramos Why is this problem closed? What is the solution ?

I'm using JEST with react native my package.js contains this:

`{
  "name": "iMusica",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start"
  },
  "dependencies": {
    "axios": "^0.15.3",
    "react": "15.3.2",
    "react-localization": "0.0.7",
    "react-native": "

[2017-04-04 22:37] fungilation commented on #12458
I just upgraded to yesterday-released version of RN 0.43.0 and I'm seeing these yellow box warnings.

So please tell me. Is this ok to ignore in production as the PropTypes wouldn't be checked in production? Or there's a more proper fix coming before I release my app to production on RN 0.43?

Otherwise, in dev I'd just add these to yellowbox ignore. Thanks for a heads up on this as the last messa

[2017-04-04 22:42] 509dave16 commented on #7662
@lacker Woah. That is really recent. I'll try to use that instead if that service is preferred. Thanks for the recommendation!

[2017-04-04 23:14] bvaughn commented on #12458
Sorry for the temporary annoyance, folks! Andrew and I have been preparing the react 15.5.0 release for the last few days that will- among other things- provide a new "official" proptypes package to use for validation (as mentioned in facebook/react#9004).

Our plan is to publish an RC for all of the packages/add-ons (hopefully sometime this evening) so that people can do some test runs with react

[2017-04-04 23:22] gaearon commented on #12458
The issue here is that 0.43 final was released yesterday but didn't include this fix: https://github.com/facebook/react-native/commit/d9910a5d610ca46e38349e49a99200bd6860cce6. So looks like everyone in open source will get this stray warning now. 😞

cc @grabbou What can we do to get this fix out asap?

[2017-04-04 23:24] bvaughn commented on #12458
☹️  I didn't realize that 43 stable had gone out yet. I thought we were still on RC.

[2017-04-04 23:31] gaearon commented on #12458
For people encountering the warning: please feel free to [ignore it](http://facebook.github.io/react-native/docs/debugging.html#warnings) for now. Sorry this slipped through.

[2017-04-05 00:33] 509dave16 opened #13305 "[iOS] View Border Bleeding"
### Description
So the goal is to render a grid that doesn't have an outer border. This means rendering no borders on certain sides of the cells. Normally nothing out of the ordinary would happen if this were done on the Web or Android. However in iOS, there's **border bleeding**.

![iOS Sample Image](https://s15.postimg.org/z7dlfw2hn/ios-sample-image.png)
**NOTE: The following issue is related bu

[2017-04-05 01:46] parkerdan opened #13307 "Image cache causes high disk usage"
RN v 42.  The app I have an issue with uses a lot of remote images.

All other production RN apps I have released have no issues, but also use almost no remote images which leads me to believe this is a remote image issue with the Image component.

Download the release build of the app in question via TestFlight and the app size is `26mb` in Settings => General => Storage & iCloud Usage => Manage

[2017-04-05 02:09] 509dave16 commented on #7662
@lacker Here's my new issue with all the pertinent details https://github.com/facebook/react-native/issues/13305

[2017-04-05 02:28] tmxdyf opened #13308 "关于react-native 0.43.0-rc.4 Bug"
当在Android 本地代码中发送Json至JS代码时，发生JSON格式错乱问题。

### Description

[code]
如图：

![31491359677_ pic](https://cloud.githubusercontent.com/assets/6415080/24687425/2a80b5a6-19ec-11e7-84f4-21993aa1354c.jpg)

[code]
如图：

![Uploading 21491359648_.pic.jpg…]()

[2017-04-05 02:32] jinlong opened #13309 "React Native 0.43 upgrade error"
### Description

When my project upgrade to React Native 0.43，hint errors as follow:

[code]

How to resolve it?

### Reproduction Steps and Sample Code

I use `npm install --save react-native@0.43` to upgrade React Native

### Additional Information

* React Native version: 0.43
* Platform: Android
* Development Operating System: MacOS
* Dev tools: Android Studio 2.2.3

[2017-04-05 02:36] tigerohuang commented on #13258
"react-native": "0.44.0-rc.0"    has solved it, and I have tested it.

[2017-04-05 03:25] NARUTOyuyang commented on #12754
@acomito
Probably because you are running the native port number 8081 is occupied, for example, use some other software, you can look at the next try

[2017-04-05 03:31] ericvicenti commented on #13307
Maybe we should adjust the cache policy on images

[2017-04-05 04:11] parkerdan commented on #13307
I've tried using just RN's Image Component, I've tried this `https://github.com/wcandillon/react-native-img-cache` as the main Image component, but disk usage still seems excessive.

Is there anyway to wipe the disk usage?

[2017-04-05 04:26] fungilation opened #13310 "Yarn warning with react-addons-shallow-compare on RN 0.43.0 (released)"
This warning shows up on any yarn upgrade or install. This didn't show up before RN 0.43.

[code]

[2017-04-05 04:28] ericvicenti commented on #13307
The only way I know to wipe disk usage is to remove and re-install the app.

Is the disk usage growing at the same rate as your cached images? IE, if you cache 10 images that are 5MB each, is the disk usage growth ~50MB?

[2017-04-05 05:03] grabbou commented on #12458
I will cherry pick this ASAP as soon as I get to work, approx 2 hours.

On Wed, Apr 5, 2017, 01:31 Dan Abramov <notifications@github.com> wrote:

[2017-04-05 05:13] cwRichardKim commented on #12754
had to run `sudo xcodebuild -license` as instructed in the error message:

"Agreeing to the Xcode/iOS license requires admin privileges, please run “sudo xcodebuild -license” and then retry this command."

Works now

[2017-04-05 05:17] wzy911229 commented on #13010
+1

[2017-04-05 05:25] ide commented on #13309
You need to install `react@16.0.0-alpha.6`. You can safely ignore the warning about `react-addons-shallow-compare@15.5.0-alpha.0`, it is harmless and will be fixed in 0.43.1.

(cc @grabbou, I merged a commit to 0.43-stable that removes react-addons-shallow-compare [unused] from package.json)

[2017-04-05 05:25] #13309 closed

[2017-04-05 05:28] grabbou commented on #13309
Thanks, I'll be at work in a while and will pick it.

On Wed, Apr 5, 2017, 07:26 James Ide <notifications@github.com> wrote:

[2017-04-05 05:56] jordanmkoncz commented on #8968
I'm also having an issue with `zIndex` + `position: 'absolute'` on Android. I have a dropdown menu component that always displays the currently selected item, and when it is activated, it also displays a list of all of the available dropdown menu items below this. The view that this dropdown menu is used in has other components as siblings of the dropdown menu component, and they are all after the

[2017-04-05 06:06] irohit444 commented on #1314
I want to use TouchableOpacity  for Radio button with its text. so, can you help me how to do? When we touch the Radio button or its text the data should auto select in selected radio button.

[2017-04-05 06:35] AbhayVarshney commented on #13010
Is this because of a new version? I tried what assitaliroma suggested, but it didn't work for me. Still getting the error!

[2017-04-05 06:41] AbhayVarshney commented on #13010
+1

[2017-04-05 06:46] jwarby commented on #12237
Also lost some files which were `.gitignore`'d after using the upgrade tool... :disappointed:

[2017-04-05 06:54] nhducit commented on #13310
@fungilation https://github.com/facebook/react-native/issues/13309#issuecomment-291757857

[2017-04-05 06:55] AbhayVarshney commented on #13010
k guys. so I figured out how to fix the issue. So on xcode, go to build phases tab, then click the 'link binary with libraries'. Then add framework by clicking the + button and clicking the Javascriptcore.framework. Should be good cuz once I did this, it worked for me! Good luck!

[2017-04-05 07:07] karanjthakkar commented on #13305
@509dave16 It is my _guess_ that the issue you are facing is _probably_ because of the decimal borderWidth. I tried changing the `borderWidth` in multiples of 0.5 and that worked perfectly. Also the cutting off part is because your text component is overlapping with the view. You can increase the width/height to fix that. This is a version of your example with the width, height and borderWidth mod

[2017-04-05 07:19] janicduplessis commented on #13310
You can ignore the warning it won't cause any issue. It will be fixed soon.

[2017-04-05 07:19] 509dave16 commented on #13305
@karanjthakkar Appreciate the quick response. Don't see that everyday on Github. I'm surprised you saw the original issue description before I updated it. I took out the part about the overlapping text because it wasn't relevant to the issue title. And I probably should have know better concerning the overlapping elements. In any case, thanks for sharing with me your solution. I never would have g

[2017-04-05 07:19] #13305 closed

[2017-04-05 07:20] tinajohnson commented on #13053
This helped me - https://github.com/yarnpkg/yarn/issues/2696#issuecomment-282239215

[2017-04-05 07:25] Swizec opened #13311 "React Native 0.43 completely broken"
### Description

I ran `react-native init MyAwesomeApp`. It finishes with npm warnings about peer dependencies and the default app doesn't even run.

![screen shot 2017-04-05 at 00 20 13](https://cloud.githubusercontent.com/assets/56883/24694291/343370bc-1996-11e7-8008-1f4e411d0297.png)
![screen shot 2017-04-05 at 00 21 41](https://cloud.githubusercontent.com/assets/56883/24694292/36272a3a-1996-11

[2017-04-05 07:27] Swizec commented on #13310
It or something related to it causes issues.

--> https://github.com/facebook/react-native/issues/13311

[2017-04-05 07:32] janicduplessis commented on #13311
Thanks for reporting this, the peer dep isn't actually the issue. Might be related to some yoga commits that were cherry picked recently. cc @grabbou

[2017-04-05 07:36] grabbou commented on #13311
Have you tried restarting `packager` after upgrading React Native? Before pushing, I've checked `run-ios` on `UIExplorer` (bundled example of React Native) and everything worked.

@janicduplessis I was planning to cherry-pick Yoga commit but eventually didn't, as the commit was to `Yoga` separate repo.

[2017-04-05 07:37] janicduplessis commented on #13269
I can confirm the issue. Passing an invalid **value** to a stylesheet prop will cause a native crash, it would be nice to handle the case properly and show a helpful error message.

Repro:
[code]

[2017-04-05 07:42] Swizec commented on #13311
I wasn't updating React Native, I was starting a new project.

*But* it does look like I had a packager from a different project running in a hidden terminal window. After killing that and restarting, everything seems to work.

Thanks for the help ... but why can different projects impact each other like this?

[2017-04-05 07:43] grabbou commented on #13311
@Swizec packager was serving you a bundle for a different React Native version which resulted in a mismatch when JS -> Native calls happen (as per error message).

[2017-04-05 07:43] #13311 closed

[2017-04-05 07:46] janicduplessis commented on #13311
Yea every RN packager runs on the same port so it didn't start a new packager for your new project and just used the one that was running already.

[2017-04-05 07:56] znafets commented on #13010
Nope, just did exactly that and still have the same issue:

<img width="468" alt="screen shot 2017-04-05 at 09 55 16" src="https://cloud.githubusercontent.com/assets/1311944/24695431/1398dd6a-19e6-11e7-9d9e-0a35c48f27a5.png">

[2017-04-05 07:59] naivehhr commented on #12186
👌👌 😁

[2017-04-05 08:04] znafets commented on #13010
Nope, cannot confirm your findings. I just included the Javascript.framework explicitly in build phases as you recommend but with no success as to the build still fails with the exact same error

[2017-04-05 08:05] OlegKovalSmartexe opened #13313 "RN 0.43 bug"
Yesterday i update RN in my project to 0.43 (from 0.40)

And today i get report in crashanalistics about crash with message:

"Fatal Exception: com.facebook.react.common.JavascriptException: undefined is not an object (evaluating 'u[n]'), stack:
getListener@95:1029"

No crash before..

Any ideas how to fix it?

[2017-04-05 08:06] grabbou commented on #13310
0.43.1 is being now released with a fix

[2017-04-05 08:06] #13310 closed

[2017-04-05 08:07] grabbou commented on #13308
I am going to close this issue for now. If you believe this is a bug, please re-open and update the description in English with working screenshots.

[2017-04-05 08:07] #13308 closed

[2017-04-05 08:11] grabbou commented on #12458
@bvaughn it goes stable at the end of the month, if there's anything that you are working that needs extra time, please let me know on Slack so we can better organise that 👍

[2017-04-05 08:14] #12458 closed

[2017-04-05 08:17] EmielM commented on #11646
Same problem here! Any news @davidaurelio?

[2017-04-05 08:20] mitsuhiko commented on #11646
In case this comes up in the context of sentry we have a workaround in the sentry-cli tool whcih rewrites the sourcemaps before upload and that works quite well for us.

It would be easy to extract the code there to make it standalone.

[2017-04-05 08:25] irrigator commented on #13164
@tiemevanveen

That might be the problem. I had a similar error ("xxx does not exist in index) because I changed the location of a Java file. I guess that maybe react-native-git-upgrade can't handle this kind of error correctly, thus leaving the upgrade process in an inconsistent state.

[2017-04-05 08:54] gagiaso-ucp opened #13314 "Error loading up after upgrade to 0.43"
### Error loading up the app after upgrading to 0.43

After upgrading to 0.43 from 0.42.3 I get this error shown below. I have tried all suggestions from error message but none fixed the problem.

error: bundling: UnableToResolveError: Unable to resolve module `react/lib/ReactComponentWithPureRenderMixin` from `../app/node_modules/react-navigation/src/views/Header.js`: Module does not exist in the

[2017-04-05 09:03] tusharkhatiwada opened #13315 "[DatePickerAndroid] Getting previous Day value"
### Description

Hi, I'm using `DatePickerAndroid` on my app but I'm receiving wrong **Day** value. I'm not sure it's the `DatePickerAndroid` issue or the timezone issue.

### Reproduction Steps and Sample Code
[code]
When I select the Date as: Mon, Apr 05 2017, I get the following output for
`console.log(year, month, day);` : **2017 04 04**
`console.log(newState);` : **{"maxText":"Wed Apr 05 2017

[2017-04-05 09:04] AndrewJack commented on #11809
@grabbou I noticed [0.43.1](https://github.com/facebook/react-native/commits/0.43-stable) didn't include the yoga fixes, is it possible to cherry pick them or do they depend other commits?

The matching commits in React native are:
https://github.com/facebook/yoga/commit/5884ab7b76a66b2a5b22a8ebd164f7a9b8f551ed = https://github.com/facebook/react-native/commit/759b8ccf71ccf9a017be186327eb8701e760b

[2017-04-05 09:07] zgxzgxzg commented on #13079
Yes, I've met the question as you too.
help.....

[2017-04-05 09:09] khanghoang commented on #6488
I found a trick that will allow us to view pdf file on webview (android) by tweaking @sathyapriya31 solutions, simply pass the url with gdoc preview. For example:
- direct pdf link: https://example.com/abc.pdf
-   previewable link on webview: http://docs.google.com/gview?embedded=true&url=https://example.com/abc.pdf

Hope it helps

[2017-04-05 09:14] EmielM commented on #11646
I have now come up with a similar fixup tool. Simply assumes the sources are absolute filenames and enriches the data structure with the referenced files' content in `sourcesContent`:

[code]

[2017-04-05 09:40] Jazz747 commented on #13309
I'm having the same issue with react-native-maps@0.14.0 (latest)

react-native-maps@0.14.0 requires a peer of react@>=15.4.0 but none was installed.

[2017-04-05 09:54] kelset commented on #13309
So 0.43 is already running Fiber?
(react@16 = fiber right?)

[2017-04-05 10:34] gaearon commented on #12458
Thanks! Which Slack would that be?

[2017-04-05 10:49] joonhocho opened #13316 "[FlatList] Sometimes FlatList rows are rendered, but not displayed until scroll. RN 0.43"
### Description

When using FlatList, rows are not displayed though `renderItem` is called.
Rows appear immediately when scroll is triggered on the list.

### Reproduction Steps and Sample Code

[code]

### Solution

FlatList should always display its rendered items.

### Additional Information

* React Native version: 0.43.0
* Platform: iOS
* Development Operating System: MacOS
* Dev tools: Xcode

[2017-04-05 10:50] sherlock221 commented on #13314
This problem is due to the react version        use   "react": "16.0.0-alpha.3",  is fine

[2017-04-05 10:50] snowjade commented on #13080
doing as @AdriaRios said works for me . It is ridiculous.

[2017-04-05 10:52] joonhocho commented on #13316
Related https://github.com/facebook/react-native/issues/13202

[2017-04-05 10:53] joonhocho commented on #13202
@conrad-vanl https://github.com/facebook/react-native/issues/13316 Even the most basic example has the same problem.

[2017-04-05 11:18] windhamwong opened #13317 "Picker children do not accept {false}"
**Problem:**
When I try to implement dynamic item in `<Picker>`, the app returns

I did some quick test (actually not quick to spot the issue...), it seems to be an issue when the `children` is `false`. This might be related to #12829

**Prove of Concept (PoC):**

I use `{false}` here to represent no data in the dynamic variable.

`<View>{false}<View>`

View is working fine with `false` here.

`<P

[2017-04-05 11:20] joshyhargreaves commented on #13316
@joonhocho could you create a gif of this in action? I can't reproduce with your example.

[2017-04-05 11:24] joshyhargreaves commented on #13316
Are you experiencing this issue in a standalone project and/or are you able to reproduce in a standalone project if not?

[2017-04-05 11:26] gagiaso-ucp commented on #13314
I don't understand your comment, how is that fine? Effectively the upgrade path to the newer version is broken. Is there a suggested solution?

[2017-04-05 11:46] macelii commented on #6527
I had the same problem and curiously I have only to use {{uri:'image.png'}} for images that have nested contents, then it worked.

[2017-04-05 11:49] MacVej commented on #13314
@sherlock221 and how do u force it to use a older version, when using react-native init [project name] ?

[2017-04-05 11:55] MQZhangThu commented on #13294
@hramos here is the [Snack link](https://snack.expo.io/r1CpFUzTe)
from the console log, you will see that only something like  ``scrollY {"value":2060}``  is printed, while ``contentSizeHeight`` is not.

[2017-04-05 11:58] enieber commented on #13313
when this occurred? in the start the app or when you running a specific page?

[2017-04-05 12:41] leizeQ commented on #1093
I'm having problems with static resources. After using this process, all my images are gone from release app.
I am not sure where to put the "assets" directory so that react-native can find them.

[2017-04-05 12:47] alloy commented on #13127
@hnzlk2014’s comment is correct, this can be closed.

[2017-04-05 12:59] sarahscott commented on #10366
This and #13127 are duplicates.

[2017-04-05 13:46] zhuyifan2013 opened #13322 "No touch event when TextInput has focus"
### Description

When TextInput has focus , softkeyboard shows , but cannot touch anywhere except for keyboard and textinput field.

### Reproduction Steps and Sample Code

[code]

### Additional Information

* React Native version: [0.42]
* Platform: [iOS]
* Development Operating System: [MacOS]
* Dev tools: [Xcode 8 iOS10.3]

## SOLUTION
It is not a bug of react-native, it is caused by a library

[2017-04-05 13:59] ferrannp commented on #10751
@mzmiric5 nice, this works, thank you! Although, I didn't know default behavior of iOS native apps was to hide it on landscape. I guess this could be documented somewhere if we do not want to add it to `StatusBar` but definitely this issue can be closed.

[2017-04-05 14:23] #13127 closed

[2017-04-05 14:26] bvaughn commented on #12458
Thanks @grabbou! I had been coordinating with @yungsters but I think he's on PTO at the moment. I don't know which Slack channel you're referring to either. Is it just the reactiflux channel? (I thought that moved to Discord?)

[2017-04-05 14:30] Brian-Kaplan commented on #13314
@MacVej I don't think you can, just change the version in package.json after initing. Hilarious that there's no documentation for this...

[2017-04-05 14:46] Thomas101 commented on #13316
We're also seeing this issue. Looks like it could be something to do with the FlatList being in a navigator on iOS. Managed to reproduce it in a standalone project. You'll have to excuse the code it's a bit rough.

react-native init and add the following code as your index.ios.js. Once launched, tap on A. Tap remove. Tap back. Then you'll need to scroll to get FlatList to re-render.

We found this

[2017-04-05 14:51] grabbou commented on #11809
Yeah, I've already talked to Emil about that. Will release one more version
later today

On Wed, Apr 5, 2017, 11:05 Andrew Jack <notifications@github.com> wrote:

[2017-04-05 14:51] wilomgfx commented on #10078
Having the same issue on macOs 10.12.4

[2017-04-05 14:53] grabbou commented on #12458
It's reactnativecore.slack.com. We use it to coordinate things like
releases or work in projects. I believe you can get access by opening post
in Core Contributors group on FB.

On Wed, Apr 5, 2017, 16:27 Brian Vaughn <notifications@github.com> wrote:

[2017-04-05 14:55] Kennytian commented on #13314
Same issue here, change to "16.0.0-alpha.3" is fine, but i don't think this is good solution.  So, we hope facebook developer can be fix this bug, thanks!

[2017-04-05 14:56] wilomgfx commented on #12378
Did you fix it ? Im having the same issue on macOs 10.12.4

[2017-04-05 15:02] jaimecorrea commented on #12378
Hi, this worked for me:

To set a limit add the following environment variable:

export REACT_NATIVE_MAX_WORKERS=2

https://github.com/facebook/react-native/issues/11696

[2017-04-05 15:03] gagiaso-ucp commented on #13314
So changing the version to that and

rm -rf nodes_modules/ && npm install

is the suggested solution? I will try to verify tomorrow.

Indeed that's​ not very viable but good enough for now.

[2017-04-05 15:03] Brian-Kaplan commented on #13314
@Kennytian same here, and agreed

[2017-04-05 15:04] gaearon commented on #12458
Left a comment there. I don't see a pinned post if that's what you mean 😅

[2017-04-05 15:23] Matko95 opened #13323 "Remote debugger stops working after importing a library"
### Description

After importing a js library (https://github.com/orhan/react-native-openpgp) if you turn on the remote debugger, the app keeps crashing.

`
04-05 11:01:41.784  2775  2868 E AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
04-05 11:01:41.784  2775  2868 E AndroidRuntime: Process: com.lemonmobileapp, PID: 2775
04-05 11:01:41.784  2775  2868 E AndroidRuntime: java.lang.IllegalState

[2017-04-05 15:25] brunocascio commented on #13314
In order to use the alpha version, you need to run:

`rm -rf node_modules && npm install`

Clean ios/android build folder:

`rm -rf android/build && rm -rf ios/build`

After that, just run as usual:

`react-native run-ios` or `react-native run-android`

[2017-04-05 15:44] wilomgfx commented on #12378
@jaimecorrea  does not work for me. It hangs at 92%

[2017-04-05 15:50] hxmpro opened #13324 "change 8081 port not use"
My 8081 port listen by mcafee,so i use "react-native start --port 8082" to change my port.
It can start,but when i "run-ios", it fail.
How to do it right?

[2017-04-05 15:51] chatras commented on #1093
Yeah same problem here. Also the the loading of the js code is very slow now. Used to take 3 seconds, now its over 10s.

[2017-04-05 16:07] wilomgfx commented on #7009
same problem on 0.42.3

[2017-04-05 16:38] npomfret commented on #13310
Can't get 43.1 to work.  Still getting an error saying unable to resolve module...  react-addons-shallow-compare

[2017-04-05 16:42] npomfret commented on #13309
43.1 failed for me with: Unable to resolve module `react/lib/shallowCompare`

[2017-04-05 16:46] sahrens commented on #13316
Does setting removeClippedSubviews={false} fix the issue? Sounds like the issue might be related to the navigator which would explain why we don't see this problem at Facebook. cc @shergin

[2017-04-05 16:49] vijayst commented on #12956
I am facing the same issue. Using credentials: 'omit' on Android fetch does not work.

[2017-04-05 16:51] npomfret opened #13325 "rn 0.43.1 upgrade errors: react-addons-shallow-compare"
react-native-git-upgrade failed until I removed all my dependencies from my package.json file with this error:

[code]
...(and lots of warnings about `requires a peer of react@>=15.4.0 but none was installed.`)

After removing them the upgrade worked, but when I started the app (after putting the deps' back in) it fails with:

 `error: bundling: UnableToResolveError: Unable to resolve module `reac

[2017-04-05 17:06] joonhocho commented on #13316
@Thomas101 @sahrens I am using `react-navigation` for your information.

[2017-04-05 17:32] austinfathman commented on #12836
This issue is fixed in [v0.43.1](https://github.com/facebook/react-native/releases/tag/v0.43.1)

[2017-04-05 17:32] #12836 closed

[2017-04-05 17:39] wilomgfx commented on #12841
I get the same issue with 0.43.1

[2017-04-05 17:48] jtmarmon commented on #12956
for anyone looking for a workaround, since i didn't need cookies at all, i just cleared cookies before each request using https://github.com/joeferraro/react-native-cookies

[2017-04-05 17:53] saeedtabrizi commented on #4295
@skevy , @divrobot  I have same problem . when i rorate device **GLSurfaceView** draw and every thing running normally .

[2017-04-05 17:54] javache commented on #11871
I believe I've done some investigation into this before. Since the bridge actually allows you to queue messages as soon as `RCTBridge` exists, we can probably enqueue the render call immediately instead of waiting for the bridge to load.

[2017-04-05 17:59] Kureev commented on #11655
I had the same problem using flow@0.43. Rolling back to 0.38 solved the issue.

[2017-04-05 18:20] mikehobi commented on #13314
It seems odd to me that `0.43`, a stable version of `react-native`, depends on a potentially unstable alpha version of `react`

[2017-04-05 18:37] hramos commented on #13295
Please read the new issue template.

[2017-04-05 18:41] scotbond commented on #11418
Should intercept the touch event before release can be intercepted.
Try this:

[code]

[2017-04-05 18:55] hasLandon commented on #12835
I believe it's related to this: https://github.com/facebook/react-native/issues/12772

[2017-04-05 19:14] AbeHerbert commented on #12754
Ensure that your hosts file has 127.0.0.1 localhost in it. I found out that somehow I managed to delete it. Once I re-added it, the issue was resolved.

[2017-04-05 19:16] wilomgfx opened #13329 "React native doesn't build Android release. Hangs at bundleReleaseJsAndAssets"
### Description

Upgraded to 0.43.1 and tried running ./gradlew assembleRelease
to generate my Android build apk

It just hangs at usually 91..95% for ever.

![image of hang](https://d3uepj124s5rcx.cloudfront.net/items/3l421G1J0w0I0u3X312l/Image%202017-04-05%20at%2015.15.37.png?v=9227fec4)

### Reproduction Steps and Sample Code

Do the required signing for the apk and the various tasks in the gra

[2017-04-05 20:13] SudoPlz commented on #13309
I get `UNMET PEER DEPENDENCY react@16.0.0-alpha.6` even though react@16.0.0-alpha.6 is installed.

[2017-04-05 20:17] jqn commented on #13325
Plus one here

[2017-04-05 20:33] foggy1 commented on #11363
This isn't working for me with an animated gif as of 0.42.  Here's the Image's current style props

  gifStyle: {
    width: 63,
    height: 62,
    marginLeft: 13,
    borderRadius: 8,
    backgroundColor: 'transparent',
    justifyContent: 'center',
    alignItems: 'center',
    overlayColor: '#8E55FF' ##this is the same as the background color
  }

[2017-04-05 20:34] janicduplessis commented on #13325
cc @ide This is probably related to the commit that removes addons deps, looks like it was still needed for 0.43.

[2017-04-05 20:49] ide commented on #13325
I'm fairly sure the addons aren't used anymore in 0.43. (`git grep addon` shows they aren't used anywhere). I think this bug is related to react-native-git-upgrade as new projects work fine to my knowledge.

[2017-04-05 20:51] raffij commented on #13316
@sahrens removeClippedSubviews={false} works for us for now.

We are using Navigator for a tab based app.

1. Navigate to the flatlist scene. List shows.
2. Navigate to another tab.
3. Make a change which affects the flatlist scene.
4. Navigate to the already mounted flatlist scene.
5. Flatlist shows as empty.
6. Touch component and the items are made visible.

[2017-04-05 20:52] evollu opened #13330 "How do I import NativeMethodsMixin?"
I did `import {NativeMethodsMixin} from 'react-native'` but it is undefined.
here is exponent example. You will get redbox.
https://snack.expo.io/HJq_dCGTl

[2017-04-05 21:44] art-reddy commented on #13314
Agree. And some important packages like `react-native-router-flux` and `react-native-maps`  use the latest stable React 15.4.2 and now incompatible with RN 0.43.1.

[2017-04-05 21:50] code-by commented on #11411
@hpu-spring87 Having same problem. Made fix in build.gradle, but error still remains...

[2017-04-05 22:00] braunsquared commented on #637
Hey guys,
I got tired with dealing with the symlink handling so I forked react-native and patched the packager to fix the issues I was having.  This might not fix everyones issues but it has certainly fixed mine.  The issue that I was having (and have had since the dawn of time in using react-native) was caused by the packagers inability of discovering peer dependencies on symlinked modules (npm l

[2017-04-05 22:20] Rebsos commented on #5823
+1

I already wrapped the components in a View, but got this error. After that any TouchableHighlight in my App throwed this error. Solved it (temporary?) by clearing the app data in settings. The problem occurred in Android, Emulator, Win10, with "Debug JS Remotely" without "Hot Reloading".

[2017-04-06 00:34] hramos commented on #13330
There's a couple of examples if you grep for `NativeMethodsMixin` in the code base. Both of these should work:
[code]

[2017-04-06 00:34] #13330 closed

[2017-04-06 00:35] dantman opened #13331 "react-native assumes wrong package namespace when upgrading"
When upgrading (whether through `react-native upgrade` or `react-native-git-upgrade`) React Native assumes that packages are always `com.myapp` even when the iOS and Android applications actually use the namespace `org.mycompany.myapp`.

This is still an issue up to the current 0.43.

The main problem remaining is that when upgrading React Native attempts to patch `android/app/src/main/java/com/my

[2017-04-06 00:35] hramos commented on #13317
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-06 00:35] #13317 closed

[2017-04-06 00:43] jcharlet commented on #12967
Hi,
same get negative value for speed and weird coordinates/timestamp. very critical to me since I started implementing an app which works fine on android and am porting it to ios now (to deliver in may).
any workaround ? any visibility on a fix ? are we supposed to vote this up on some other platform than github?

    "react": "15.4.2",
    "react-native": "0.42.3",
platform ios 10.3

thx,
Jeremi

[2017-04-06 00:46] jcharlet commented on #12967
hi @himanshu266 @mbokowy did you guys find a workaround?

[2017-04-06 00:55] joonhocho commented on #13316
@raffij @sahrens It also fixed the issue for me as well.

[2017-04-06 01:34] MarsHuang123 commented on #13309
I also met this issue, 'UNMET PEER DEPENDENCY react@16.0.0-alpha.6'

[2017-04-06 01:35] Lizhooh commented on #13324
`Dev Setting -> Debug server host & port for device -> 192.168.1.1:8082`

[2017-04-06 01:59] devhyunjae commented on #12823
+1

[2017-04-06 02:13] hxmpro commented on #13324
@Lizhooh iOS Simulator have no "Dev Settings".

[2017-04-06 02:40] hxmpro commented on #13324
I find a way to kill McAfee progress.
`cd /Library/LaunchDaemons`
`sudo launchctl unload com.mcafee.agent.macmn.plist`

[2017-04-06 02:43] mlabrum opened #13332 "View backgroundColor is removed if the content is to long with borderRadius"
### Description

It seems if a `View` with `backgroundColor` + `borderRadius` contains a large amount of text, it will stop rendering the `backgroundColor` of the `View`

### Reproduction Steps and Sample Code
https://snack.expo.io/SJ6UPQmal

As you can see the top box renders correctly with a small amount of items, but the bottom box with 400 items doesn't display a background color
![screenshot_

[2017-04-06 03:52] #13324 closed

[2017-04-06 04:08] fuxianwei opened #13334 "HUAWEI mate9 android7 from the left or right edge of the screen slide app flash back"
### Description

HUAWEI mate9 android7 from the left or right edge of the screen slide app flash back

react native 0.43.1
mate9 android 7.0

### Additional Information
--------- beginning of crash
04-04 11:43:09.014 25976 25976 E AndroidRuntime: FATAL EXCEPTION: main
04-04 11:43:09.014 25976 25976 E AndroidRuntime: Process: com.jph.githubpopular, PID: 25976
04-04 11:43:09.014 25976 25976 E Androi

[2017-04-06 04:27] nihgwu commented on #13334
It has been fixed in RN0.44RC0, please search the **Issues** before create one

[2017-04-06 04:48] januslo commented on #10384
+1

[2017-04-06 05:03] evollu commented on #13330
I think this kind of import only work inside react native project (powered by haste?)
For the application everything should come from react-native module.

[2017-04-06 05:30] jordanmkoncz commented on #12561
I'm also having the same problem. I'm using react-native 0.41.2.

@retailos @chrxs Did either of you find a solution?

[2017-04-06 05:42] Lxxyx commented on #13309
@npomfret Got same issue. Do you fixed?

[2017-04-06 05:46] IlyaRepo commented on #9849
@myusuf3 0.34.0

[2017-04-06 05:56] viphsx123 commented on #9646
Any idea on how to resolve this problem？  inside a <View> component ？

[2017-04-06 06:32] aiDove commented on #12735
RN-0.43.1 have the same issue.

[2017-04-06 06:55] jinlong commented on #13309
Thanks !

As @ide say, i installed `react@16.0.0-alpha.6`, then my project could run normally.

Errors as follow are harmless, they will be fixed.

[code]

[2017-04-06 07:06] dennisobel commented on #3199
I tried orens way, got rid of the error, but then when i tried runnin the app, i got a scary red screen with  "Could not get BatchedBridge, make sure your bundle is packaged correctly" written on it. Help

[2017-04-06 07:13] raffij commented on #12770
Same experience with 0.43.1 with the base app created with `react-native init`

[2017-04-06 07:40] Thomas101 commented on #13316
`removeClippedSubviews={false}` works for us too. I noticed in the VirtualizedList docs there's some discussion around setting this as the default, could I +1 that as I imagine quite a few people will come up against this?

[2017-04-06 08:31] chiraggshah opened #13335 "Using WebView in Android v7.0 hangs the app."
### Description

**What I did:** Tried to open WebView in Android Emulator v7.0.0 (API 24)
**What I expected to happen:** Open the url provided in a webview
**What actually happens:** The app hangs without loading the webpage

I had used Genymotion Emulator for this.

Some of the errors which I was able to see while running `adb logcat` were:

[code]

Full logs at : https://gist.github.com/chiragg

[2017-04-06 08:35] skywlkr commented on #12754
I have tried out React Native first time ever yesterday and the same problem has occured to me.

This is what I have already tried:

- running "react-native run-ios" and during error "npm install" and re-run "react-native run-ios"
- removing "node_modules/" and "npm install"
- adding the above mentioned "NSAllowsLocalNetworking" stuff to Info.plist
- running it through Xcode

Notes:
- "127.0.0.1 l

[2017-04-06 08:43] AndrewJack commented on #13334
@facebook-github-bot close

[2017-04-06 08:43] #13334 closed

[2017-04-06 08:45] HyperSimon commented on #13329
I got an exception Instead
![2017-04-06 4 42 57](https://cloud.githubusercontent.com/assets/9377192/24745455/62531da0-1ae8-11e7-8231-3ff6cffb594b.png)

[2017-04-06 08:51] franj0 commented on #11725
For me fix was:
`react-native upgrade`

hit **y** for all iOS files

[2017-04-06 08:59] maheshbeeravelli commented on #12885
I am also facing the same issue in windows 7 with react-native-cli: 2.0.1 and
react-native: 0.43.1

[2017-04-06 09:57] javierpose opened #13336 ""display" is not a valid style property"
### Description

When I use display: 'none' in a View the console show the following error:
"display" is not a valid style property.
StyleSheet feedback: {
  "display": "none"
}
Valid style props: [
....

But it appears in the documentation:
[http://facebook.github.io/react-native/docs/layout-props.html](http://facebook.github.io/react-native/docs/layout-props.html):
display?: string
display sets

[2017-04-06 10:05] privateOmega opened #13337 "unknown error"
### Description

I tried to run the react-native app using `react-native run-android`.
It displays `Cannot read property '1' of null`
### Reproduction Steps and Sample Code

I am not sure.
https://gist.github.com/privateOmega/7516fbe550b4d651a5be2fe759aa60fb

### Additional Information

* React Native version: 0.42.0
* Platform: Android
* Development Operating System: Ubuntu 16.10 and Ubuntu 16.04

[2017-04-06 10:09] gre commented on #1831
same for me. we just add an easy repro in our app that have lists inside react-native-tab-view . I don't know however if a simpler example will repro it.

[2017-04-06 10:09] javierpose commented on #13336
I am sorry. I become aware that display is a Layout Props

[2017-04-06 10:09] #13336 closed

[2017-04-06 10:14] gre commented on #1831
see the 2 last paragraphs of my answer here https://github.com/facebook/react-native/issues/1831#issuecomment-228775913

I think it might be something around that (just an hypothesis):

(1) list get rendered in a background tab, since they are 'out of the bounding box' removeClippedSubviews will assume they are not here and will not render anything (white)
(2) when the tab goes to focus, and becau

[2017-04-06 10:45] code-by commented on #11027
When I run app (using 'react-native run-android' command) at 64-bit smartphone it worked fine, but release version apk crashed instantly, while same apk also working fine at 32-bit smartphone

RcaHandler: Build: Sony/E5603/E5603:6.0/30.2.A.0.100/167960284:user/release-keys
RcaHandler: java.lang.UnsatisfiedLinkError: dlopen failed: "/data/data/com.garagemobileapp/lib-main/libgnustl_shared.so" is 32

[2017-04-06 10:49] ptomasroos commented on #1831
Thanks for the lead @gre

[2017-04-06 10:51] chiraggshah commented on #13335
Found this in Android Docs for Android N(7.0) https://developer.android.com/about/versions/nougat/android-7.0.html#webview
Maybe its related to this

[2017-04-06 11:40] aidan2129 opened #13338 "WebView Crashes app when you zoom fully in or out"
I tried using the Webview on when i zoom out/in on any site fully it crashes the app every time.

[2017-04-06 11:57] daveamol commented on #8401
I had the same issue and just did
[code]
Got another adb process already running but not sure why it was started

Just did a kill -9 11809 and started adb server and its working fine now

[2017-04-06 12:36] stefan0s opened #13339 "RN 0.43 upgrade error ReactComponentWithPureRenderMixin"
### Description

error: bundling: UnableToResolveError: Unable to resolve module `react/lib/ReactComponentWithPureRenderMixin` from `C:\project\node_modules\react-addons-pure-render-mixin\index.js`: Module does not exist in the module map or in these directories:
  C:\project\node_modules\react\lib

### Reproduction Steps and Sample Code

After Upgrade from 0.42 to 0.43 we receive the following er

[2017-04-06 12:45] soorajvnair commented on #8615
same on 0.43.1

[2017-04-06 13:02] gsaandy commented on #10795
any updates on this?

[2017-04-06 13:22] fastmuse commented on #8968
Same here.

[2017-04-06 13:35] himanshu266 commented on #12967
@jcharlet Yes, I changed this default value to 0. This works for me because I wanted constant updates. You may have a different case.

https://github.com/facebook/react-native/blob/master/Libraries/Geolocation/RCTLocationObserver.m#L28

[2017-04-06 13:48] wilomgfx commented on #13329
I seemed to have fixed the problem by excluding my typescript src folder from the build process inside : `android/app/build.gradle` by adding it to this array:  `project.ext.react`

Kinda strange that it just hangs theres and says nothing... Will further investigate, but it seems to be a solution.

[2017-04-06 13:53] aem opened #13340 "React native breaks emulator networking"
### Description

Quite frankly, I'm not entirely sure. As background, I'm trying to integrate react-native into an existing app. I've followed all of the [instructions](http://facebook.github.io/react-native/docs/integration-with-existing-apps.html) and for a while successfully had React code running alongside native Android code. A couple of days ago I got a new laptop from work and when I tried

[2017-04-06 13:55] plougsgaard commented on #12967
@himanshu266 Let me know if I understand you correctly - you hardcoded the `RCT_DEFAULT_LOCATION_ACCURACY` value to `0.0` inside the `RCTLocationObserver.m` file? And this prevents iOS from just using the network location?

[2017-04-06 14:02] aem commented on #13340
Sorry. Forgot to include this in the original issue. My guess that it's related to react native breaking networking is because exclusively when running a my react-native project (only on the branch that has react-native, master doesn't have this problem, and no other Android projects cause this) the following message is logged to the emulator console (output of `~/Library/Android/sdk/tools/emulato

[2017-04-06 14:04] xareelee opened #13341 "Using deprecated 'w' property for 'CGSize'. Use 'width' instead."
### Description

After upgrading to **RN 0.43.1** from 0.42.0, I encounter these warnings in browser:

[code]

<img src="https://cloud.githubusercontent.com/assets/804308/24758291/850bed50-1b14-11e7-88b3-7b5ab3701766.png" width=375>

ENV:

[code]

[2017-04-06 14:10] himanshu266 commented on #12967
As the name describes, it's the location accuracy. When you set it to 0, every single time the phone moves, even a bit, new location gets updated. Otherwise it was set to 100 meters, which is pretty big gap.

[2017-04-06 14:16] plougsgaard commented on #12967
@himanshu266 True, though that should be possible to do with the `distanceFilter` prop too, right? For me the issue isn't that it doesn't update often, it's just that it's very inaccurate because it doesn't seem to use the actual GPS (not an issue on Android).

[2017-04-06 14:23] skv-headless opened #13343 "[Android] Attempted to assign to readonly property"
### Description

fails on start

<img width="300" src="https://cloud.githubusercontent.com/assets/1488195/24759243/eeb7a7e0-1af5-11e7-93a2-8e8f3655d221.png"/>

### Reproduction Steps and Sample Code

in UIExplorer in settings disable JS Dev Mode

### Solution

remove DEV check here https://github.com/facebook/react-native/blob/c7387fefc85fd15dceadfa291857099ed3e848b8/Libraries/react-native/react-n

[2017-04-06 14:26] skv-headless commented on #13343
It fails on `takeSnapshot` method so I think here is the problem https://github.com/facebook/react-native/commit/848593c0f0b75da9ff342596908c5091a2cd1430 @bvaughn

[2017-04-06 14:32] abazlinton commented on #9105
PR #13263 should resolve this I think

[2017-04-06 14:39] yuche opened #13344 "`setNativeProps` does not work with `blurRadius`"
### Description

I am trying to use the `setNativeProps` function to set Image component's `blurRadius` and it is not working,  Am I missing something?

### Sample Code

[code]

### Additional Information

* React Native version: 0.42.3
* Platform: [iOS]
* Development Operating System: [MacOS]

[2017-04-06 14:44] zandroid commented on #637
Not sure but probably node options `--preserve-symlinks` can help you somehow.

I had similar problem with symlinked files/modules (but on regular node project) and this option resolves problems for me.

[2017-04-06 14:45] grabbou commented on #13325
Yup, I was also able to successfully run it during my testing, so that shouldn't be an issue.

[2017-04-06 14:49] grabbou commented on #11809
@hey @mizinin, don't be confused anymore!

PS. 0.43.2 is now on Circle and should be on `npm` in like two hours. If anyone wants this to be cherry-picked into old release, please find the ticket `[XXX] commits to cherry-pick` and leave a note there.

[2017-04-06 14:49] himanshu266 commented on #12967
Yes, the distanceFilter should work, but if you look lower down in the file you will notice they are doing the math and resetting it back to the default. Hence my fast easy fix for my application was to set the default to 0.

[2017-04-06 14:50] grabbou commented on #11809
Having said so, can this issue be closed now?

[2017-04-06 14:55] ramilushev commented on #11809
I have tested this and can confirm it is fixed. A big thanks to everyone involved!!! You can close this.

[2017-04-06 15:02] #11809 closed

[2017-04-06 15:14] dulmandakh commented on #13339
Here is the excerpt from react documentation

[2017-04-06 15:19] forki opened #13345 "[Android] Regression with animated gifs in react native 0.43 - hard crash"
### Description

After the upgrade to react native 0.43 from 0.42 our app crashes hard on the display of animated gifs.

### Reproduction Steps and Sample Code

In http://facebook.github.io/react-native/releases/0.43/docs/image.html#gif-and-webp-support-on-android you describe how to use animated gifs with react native. Basically it's adding one line to `android/app/build.gradle`:

    compile 'co

[2017-04-06 15:22] fermuch commented on #10795
@gsaandy after using a custom version compiled from master, the problem is gone for me.
I'm using `react-native-router-flux` for navigation.

[2017-04-06 15:24] parkerdan commented on #13307
I'll have to dig a little deeper to check the disk usage per image.

The current native iOS app I am re-creating has a total disk usage of ~95mb after heavy app usage.

The RN re-creation is about ~150mb after heavy use....but I guess that's the way it is.  I might be pulling in higher quality images than the previous, native app, but I am not sure.  I do know we are pulling in more images and bun

[2017-04-06 15:24] lyquocnam opened #13346 "Unhandle ApolloError@10.0.2.2:8081"
![image](https://cloud.githubusercontent.com/assets/8347826/24762080/7b476468-1b17-11e7-8e17-7b0edf064494.png)

i trying to use react native android with react-apollo, but this error.
on IOS, this not happen.

[2017-04-06 15:41] sahrens commented on #13316
I'm running an experiment in production soon to see the effect on scroll perf. If the hit isn't too bad, we'll turn it off by default.

[2017-04-06 15:58] EnriqueDev commented on #13339
Similar problem here

[2017-04-06 16:07] dulmandakh commented on #13339
There are multiple blog posts on react won't be supporting mixins anymore. Also above excerpt from react documentation recommends PureComponent instead of PureRenderMixin. I did the same.

[2017-04-06 16:11] dulmandakh commented on #13339
https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750

[2017-04-06 16:15] bvaughn commented on #13343
Hm, I think the problem is because `takeSnapshot` got added to `react-native-implementation` in c7387fe but it's also (still) present on the renderer(s). I'll submit a PR to remove it from the renderers ASAP.

[2017-04-06 16:51] hey99xx commented on #13280
I think rather than trying to mock internals of React Native, you can create a simple wrapper for it. i.e.

[code]

Otherwise I would agree that the real Platform object should actually be frozen and not allow `Object.defineProperty(Platform, "Version", { writable: true })`, but the fact that it does allow does not mean you should break it.

[2017-04-06 17:03] r4ggj commented on #13258
yeah ,i'v got it .It was resolved.very good!

[2017-04-06 17:07] danieljoonlee commented on #13280
Hmm.  What about `Platform.OS`?  It's a string, so it's a lot easier to mock different platforms of `ios` and `android`.  I agree either these things should be mockable easily, or not mockable through React Native.  Regardless, one is a much easier task than the other.

[2017-04-06 17:32] flaviotobi opened #13350 "ScrollView Inconsistency Between Platform's"
Hi, i have a ScrollVIew with a TextInput , and when i click the TextInput the keyboard shows, the TextInput changes position to avoid to be under the keyboard.
It would be ok if the iOS have the same reaction, but it doesn't have.

I don't understand why this happen, especially when we have KeyboardAvoidingView component.

### Reproduction Steps and Sample Code
Just create a ScrollView with a Text

[2017-04-06 17:36] jqn commented on #13325
In my case this bugs happens on existing projects, new projects seem to work just fine.

[2017-04-06 17:37] ericvicenti commented on #13350
Hi, on iOS the app goes behind the keyboard, and usually on Android the app resizes when the keyboard opens. So this isn't a difference with the RN scroll view as much as it is a difference between iOS and Android

[2017-04-06 17:37] #13350 closed

[2017-04-06 17:42] hramos commented on #13346
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-06 17:42] #13346 closed

[2017-04-06 17:44] hramos commented on #13338
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-06 17:44] #13338 closed

[2017-04-06 17:49] flaviotobi commented on #13350
@ericvicenti thanks for the answer, do you know any way to disable this on android ?

[2017-04-06 17:53] stefan0s commented on #13339
It seems that "react-native-router-flux" cause the problem to me because it has dependency with "react-addons-pure-render-mixin"

[2017-04-06 17:54] stochris opened #13351 "Picker Component resets when items list changes"
### Description

If the picker item list changes, then, in some cases, the picker will call the `onValueChange` callback with the first item in the list as it's argument.

### Reproduction Steps and Sample Code

This can be reproduced at [https://snack.expo.io/Sy1JClEag](https://snack.expo.io/Sy1JClEag).

Select 2 or 3, then click on exclude. The new value is 1. This does not happen if you select

[2017-04-06 17:57] astapinski commented on #13159
This appears to be a duplicate of #12717

[2017-04-06 17:59] astapinski commented on #12717
+1 on this, we need a fix for this for our app because it affects Samsung.

[2017-04-06 18:14] ptomasroos commented on #13343
Big thanks @bvaughn !

[2017-04-06 18:17] bvaughn commented on #13343
No problem! Thanks to @skv-headless for calling my attention to this 😁  The actual fix was easy.

[2017-04-06 18:19] sospedra commented on #12440
Same problem here. The component is not even `stateless`

[2017-04-06 18:19] nascode commented on #9090
0.43.0 here. I can confirm that there is still a bug when using modal with translucent status bar on android

[2017-04-06 18:24] julesmoretti opened #13353 "[iOS] custom app naming best practice? ~breaking currently!"
### Description

When creating a new project name and trying to set a custom app name, when trying to deploy it on my phone or through simulator I get test errors.

### Reproduction Steps and Sample Code

These are the steps so far where I get hic ups:

[code]
create a directory called src with an index.js file with the following:

[code]
Edited:
app.json
[code]

index.ios.js and index.android.js

[2017-04-06 18:47] migueloller commented on #13353
`react-native eject` is still not documented, but as mentioned [here](https://github.com/facebook/react-native/blob/master/local-cli/eject/eject.js#L22), the `name` field should be in TitleCase. Moreover, [here](https://github.com/facebook/react-native/blob/master/react-native-cli/index.js#L169-L187) you can see that valid names must be alphanumeric (this is a limitation of iOS and Android project

[2017-04-06 18:52] codewithpassion commented on #13159
Thanks. You are right. Didn't find the other one.
Closing this one.

[2017-04-06 18:52] #13159 closed

[2017-04-06 18:53] codewithpassion commented on #12717
I have the same issue while using Expo. The Expo SDK 15 brought RN 0.42 and broke my input field.
See #13159.

[2017-04-06 18:53] jurassix commented on #13034
I ran into this issue and was able to mock this simply:

[code]

Also, I'm mocking the `Linking` module as well from [here](https://github.com/react-community/react-navigation/issues/256) that @alvaromb provided:

[code]

Note, I've configured this to be run as part of [Jests `setupFiles` configuration.](https://facebook.github.io/jest/docs/configuration.html#setupfiles-array)

[2017-04-06 19:10] rocxiay opened #13357 "[FlatList] does not recalculate number of visible rows after orientation change"
### Description

This was an issue posted by @Mtnt but it been closed recently because ListView is deprecated in 0.43. However, the issue still exists in flatList.

The original issue: #11218

[2017-04-06 20:11] jaygarcia commented on #1093
@chatras Are you testing this in a prod build?

[2017-04-06 20:31] julesmoretti commented on #13353
@migueloller - Thank you very much this clarifies a lot of things.

So it now works within the simulator, but does not with the `react-native run-ios --device 'iPhone custom name'`

I have tried killing the Packager then `watchman watch-del-all` then again `react-native run-ios --device 'iPhone custom name'` but it does not open the app on my phone anymore despite getting `** BUILD SUCCEEDED **`

[2017-04-06 20:57] lany44 commented on #12754
I got the same problem when i move the project to another empty folder.
but it can work when launched the simulator from Xcode.

finally solved by:
1.  remove the build folder YOUR_PROJECT/ios/build/
2. run react-native run-ios got aother error, looks like building not finish. 😕
3. run react-native run-ios again

@skywlkr @haikyuu  maybe useful

[2017-04-06 20:58] hey99xx commented on #13335
Did you also test on Android devices lower than 7.0? For example what happens with Lollipop or Marshmallow?

[2017-04-06 21:06] hey99xx commented on #13280
What about it? It's not really different from `Version`.

    mockablePlatform.mockInternal = (key, value) => mockablePlatform[key] = v;

if you really wanted it. What do you propose, a PR that freezes entire `Platform` object? I don't see a standard in this code base that freezes the public APIs (for example all [react-native keys](https://github.com/facebook/react-native/blob/master/Libraries/re

[2017-04-06 21:07] joshuapinter commented on #9105
@abazlinton Sweet, let's hope it gets into 0.44.

[2017-04-06 22:00] cgestes commented on #13063
React-native have been released with a dep on React 0.16-alpha.

Let's close.

[2017-04-06 22:00] #13063 closed

[2017-04-06 22:06] JodiWarren commented on #12103
I want to add another voice to the call of *at least* delaying the removal of the bundled Navigators, including NavigationExperimental.

While the latest batch of navigation options are really exciting, they're relatively immature.

Airbnb's Native Navigation library is, according to Airbnb themselves, not production ready:

React Navigation is certainly further along, but is still quite short of

[2017-04-06 22:29] JulianKingman commented on #13171
@joonhocho did you manage to fix it somehow?

[2017-04-06 22:38] escobar5 commented on #11378
Anybody knows how to fix this, Im getting the same error, tried with and without the accept-encoding header, always get the same error.

[2017-04-06 22:47] lyquocnam commented on #13346
@hramos here is my project
https://github.com/lyquocnam/react-native-demo
please help, im so confuse with this @@

[2017-04-07 00:12] gp3gp3gp3 commented on #2468
None of these are working for me in RN.042.  Just trying to get `borderTopRightRadius` and `BorderTopLeftRadius` on an image.  Wrapping in a View component with `border{x}Radius: y, overflow: 'hidden'` doesn't work, and neither does passing the image a `border{x}Radius` prop directly, although giving a `borderRadius` prop does.  This is just in iOS, not even approaching android yet.

[2017-04-07 00:22] dylanpinn opened #13361 "Crash on TextInput focus - com.facebook.react.views.textinput.ReactEditText.requestFocus(ReactEditText.java:192)"
### Description

We have been getting crash reports when users have been selecting a TextInput. It doesn't happen all the time only occasionally.

### Reproduction Steps and Sample Code

I have been unable to reproduce with a small sample app.

The component where it seems to be happening the most is here. Which is

[code]

Here is a pastebin of one of the crash logs. https://pastebin.com/ZKacW4Gb

[2017-04-07 00:53] chrisrbs commented on #13313
I am also seeing this. I get it occasionally after touching a TouchableWithoutFeedback or TouchableOpacity on android. RN 0.43.2

[2017-04-07 01:12] pwcremin commented on #2468
@gp3gp3gp3  I have something like this:

[code]

Is that not working?

[2017-04-07 01:20] pwcremin commented on #2468
@gp3gp3gp3
I just test and this is working for me:

[code]

This View is from shoutem/ui but I don't think it should matter

[2017-04-07 01:21] willdawsonme commented on #13294
I'm pretty sure this was fixed with https://github.com/facebook/react-native/pull/12697 and should be in `0.44.0-rc.4`.

[2017-04-07 02:03] ReganL opened #13362 "-v"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native.canny.io/fe

[2017-04-07 02:11] JCDJulian opened #13363 "fetch failing with "Network Request Failed" error from insecure HTTPS request"
I'm running into a "Network Request Failed" error while trying to hit a RESTful API. I'm running a service on localhost that uses self-signing certs (shows the "Not Secure" message in browser). I can hit the endpoint from postman, browser, console, etc. but it fails in RN.

https://localhost:8993/services

I have been through existing related issues threads including #5222 and #8118. The common fi

[2017-04-07 02:30] JCDJulian commented on #13363
Edit: Fixed this by editing RCTNetwork's RCTHTTPRequestHandler.

[Fix from SO.](http://stackoverflow.com/questions/36289125/react-native-fetch-from-https-server-with-self-signed-certificate)

[2017-04-07 02:30] #13363 closed

[2017-04-07 02:32] JCDJulian commented on #13363
Closing this issue, but also wondering if there's an easier fix. There's not really a clean fix to get this working on Android.

From the answerer on the above SO thread.

[2017-04-07 02:33] xareelee commented on #13341
UPDATE:

This issue has been gone with no reason. I have no idea. Maybe I cleaned some caches.

[2017-04-07 02:33] #13341 closed

[2017-04-07 02:34] xareelee opened #13364 "Jest shows warning about `@providesModule naming collision` after upgrade RN from 0.42.0 to 0.43.1"
After upgrading RN from 0.42.0 to 0.43.1, jest shows warning about `@providesModule naming collision`:

[code]

[2017-04-07 03:16] joncursi opened #13365 "[FlatList] Issues Rendering a TextInput within FlatList > ListHeaderComponent"
I am trying to render a TextInput at the top of a FlatList so that the user can search / filter the list of data.

[code]

Every time the `value` prop given to `TextInput` changes, the keyboard dismisses rather than staying active and allowing the user to type. It looks as though the entire `TextInput` component is unmounted and re-mounted, forcing this odd behavior.

I've used this pattern on `Li

[2017-04-07 03:19] xareelee opened #13366 "Failed to upgrade RN with react-native-git-upgrade"
I tried to use `react-native-git-upgrade` to upgrade RN from 0.43.1 to 0.43.2, but it failed.

[code]

[2017-04-07 03:25] xareelee commented on #13366
I found the problem is that `npm install -g npm` failed and it brake `npm` itself.

[2017-04-07 03:25] #13366 closed

[2017-04-07 03:37] vincentsong opened #13367 "Wrapper of DatePicker component on Android, the calendarView was disappeared after changed month"
### Description

I built a date picker component for react native android [here](https://github.com/vincentsong/react-native-datepicker-component-android) which is not a popup dialogue. When user scroll the calendar view, it disappeared.

### Reproduction Steps and Sample Code
1 create a test app with react-native cli
2 npm install react-native-datepicker-component-android
3 npm link
3 import this

[2017-04-07 03:38] joonhocho commented on #13171
@JulianKingman I successfully upgraded to v0.43.0 after release.

[2017-04-07 03:39] joonhocho commented on #13171
Closing as there is a newer version and it worked for me.

[2017-04-07 03:39] #13171 closed

[2017-04-07 03:54] jackyef commented on #12885
I am also facing the same issue
react-native: 0.43.0

No errors on my code. The bundling process was completed successfully to 100%.

The error is as shown:
[code]

[2017-04-07 04:21] jackyef opened #13369 "Spelling error in documentation"
Hi, I was reading through the docs and I found a small error in it. I felt that I should report it, but I don't really know where to. I hope this is the right place. Sorry if it isn't!

https://facebook.github.io/react-native/docs/scrollview.html
Find the string: 'everythign'

[2017-04-07 04:23] allmaxgit commented on #13314
https://github.com/react-community/react-navigation/issues/923

[2017-04-07 04:45] holms commented on #12261
"react-native ugprade" is able to rewrite all files without merging anything, why react-natiev-git-upgrade doesn't have such option?? i have no idea what should i merge in here, android and ios folders are autogenerated anyway..

[2017-04-07 04:55] moeinrahimi opened #13370 "Could not download antlr.jar while building android"
### Description

I created a new react app and tried to build android version by running command : react-native run-android
i get following error :
[code]
I'm also using tor so it's not related to restriction or whatever

### Additional Information

react-native-cli: 2.0.1
react-native: 0.43.2

* Platform: Android
* Development Operating System: Linux Ubuntu 16.04
* Dev tools: android sdk version

[2017-04-07 05:36] chiraggshah commented on #13335
@hey99xx : Yes, I had tried on Android devices lower than 7.0, and they work fine.

[2017-04-07 05:47] luckyleap opened #13371 "'React/RCTEventEmitter.h' file not found - RN 0.43.2"
### Description
1. Initialized new react native project following the react native getting started.
2. Encounter failed build with the error within terminal:
`'React/RCTEventEmitter.h' file not found`

### Reproduction Steps and Sample Code

`react-native init AwesomeProject`
`cd AwesomeProject`
`react-native run-ios`

Result:
`fatal error: 'React/RCTEventEmitter.h' file not found`

--Running in X

[2017-04-07 05:50] yoimhere commented on #7308
just use Xcode run  project/ios/project.xcodeproj  and retest react-native run-ios

[2017-04-07 06:07] krishbhattacharyya opened #13372 "(1) UNHANDLED JS EXCEPTION: MINIFIED REACT ERROR #143 (2) On update app behaviour change"
### Description

**(1) UNHANDLED JS EXCEPTION: MINIFIED REACT ERROR #143 ( Getting in the crash report )**

Since long days I am facing this issue. After long days on opening react native app the app is going crash.

**(2) On update app behaviour change**

 Suppose I update the app in logged in state then the app is crashed ( save the logged in state in AsyncStorage ). Then I have to reinstall the

[2017-04-07 06:57] joemckie commented on #13314
@mikehobi 0.43 is not a stable version unfortunately as it's still version 0

[2017-04-07 07:10] skv-headless commented on #13343
Just checked on master. It works. Thank you 👍

[2017-04-07 07:10] #13343 closed

[2017-04-07 07:19] RaThierry commented on #12062
Hi guys,
I also want to create simple hello word based on this: https://facebook.github.io/react-native/docs/getting-started.html and I faced on this red error:

`/node_modules/react-native/Libraries/CustomComponents/NavigationExperimental/assets/back-icon.png doesn't exist`

Can you help me to fix this?
Please, please, please, please!!!!!!

[2017-04-07 07:34] pickfire commented on #6499
Thanks a lot.

On redmi note 3s, once I disabled `使用MIUI优化` from settings and now it works.

[2017-04-07 07:34] aiDove commented on #12077
RN-0.43.2 has solved this issue.

[2017-04-07 07:36] guangmingzizai commented on #13371
Same issue.

[2017-04-07 07:38] desmond1121 commented on #3198
If just want to clip overflow sub views, you can set [removeclippedsubviews](https://facebook.github.io/react-native/docs/view.html#removeclippedsubviews) to true with `overflow: 'hidden'` and it would work.

[2017-04-07 07:38] ambientlight commented on #10027
Guys, please reopen this issue. Thanks.

[2017-04-07 07:44] plougsgaard commented on #12967
I'll try that then, thanks for explaining.

[2017-04-07 07:46] pickfire commented on #9336
It works after I did `adb reverse tcp:8081 tcp:8081`.

[2017-04-07 07:53] henrikra commented on #3198
@desmond1121 Can you modify my snack above and show you can do it with `removeclippedsubviews`?

[2017-04-07 08:05] smhatre59 commented on #10544
React native components are easily rendered on Android TV without any necessary modifications and simple button elements go in and out of focus by clicking directional arrows from TV remote.
Only issue is to handle click from directional pad to onPress event of currently focused Touchable elements. We are currently trying to map key button events from `[react-native-events](https://www.npmjs.com/p

[2017-04-07 08:29] aidan2129 opened #13374 "WebView Crashes app when you zoom fully in or out"
Description

I tried using the Webview on when i zoom out/in on any site fully it crashes the app every time. I have tested on other websites and i cant get it to happen on sites that don't allowing zooming.

Reproduction Steps and Sample Code

Here is an example of the code being rendered.

[code]

Solution

Stop the app crashing when the WebView is fully pinched to zoom in or out.

Additional In

[2017-04-07 08:29] aidan2129 commented on #13338
@hramos Sorry about that i have updated this one and created a new issue like you said here https://github.com/facebook/react-native/issues/13374

[2017-04-07 08:32] wv1124 commented on #5944
In our statistics, this exception throw a lot

RN: 0.38 Android

java.lang.RuntimeException: Tried to get non-existent cookie
	at com.facebook.react.uimanager.events.TouchEventCoalescingKeyHelper.getCoalescingKey(TouchEventCoalescingKeyHelper.java:75)
	at com.facebook.react.uimanager.events.TouchEvent.init(TouchEvent.java:90)
	at com.facebook.react.uimanager.events.TouchEvent.obtain(TouchEvent.jav

[2017-04-07 08:38] Thomas101 commented on #13345
We're seeing this as well. I've attached the stack trace below. I tried blindly updating fresco to 1.2.0 on the off chance that might fix it, but no beans

[code]

[2017-04-07 08:45] forki commented on #13345
just to make this clear: the app crashes completely. It's really serious.

[2017-04-07 08:45] huyanhh commented on #13316
Running into a similar problem here. It isn't exactly scrolling that's my problem though. What I have is a horizontal FlatList with paging enabled. I have a function that adjusts each item of the list to the width of the screen. What I'm doing right now is using redux and async storage to persist all my items, but the items do not render until I hit a button in my view to add another item in the l

[2017-04-07 09:06] jerossh commented on #12754
do not edit info.plist.
cause simulator need a package import from localhost.

[2017-04-07 09:24] Choujiji commented on #13134
+1, I have the same issue

[2017-04-07 09:39] skywlkr commented on #12754
@lany44 unfortunately it still does not work. but thanks.

[2017-04-07 09:43] jordanmkoncz commented on #10635
I'm getting this error as well, only seems to be happening on Android for me. So far I've only seen this error happen on a Samsung SM-G930F running Android 6.0.1.

My dependencies are:

[code]

[2017-04-07 09:50] magicismight opened #13377 "PanResponder can't work with Animated.event([], {useNativeDriver: true});"
### Description

PanResponder can't work with `Animated.event([], {useNativeDriver: true});` in iOS.

![image](https://cloud.githubusercontent.com/assets/7693239/24795072/a7fb1bf0-1bba-11e7-8cdb-aa95a0813a3e.png)

### Reproduction Steps and Sample Code

[code]

* React Native version: 0.43.1
* Platform: iOS

[2017-04-07 09:56] Hermaner opened #13378 "Why there are show two icon after Installed in the android"
Why there are show two icon after Installed in the android
![111](https://cloud.githubusercontent.com/assets/12965639/24795268/59ef7e32-1bbb-11e7-9289-eb0f244c0c30.jpg)

[2017-04-07 10:03] tanmynguyen opened #13379 "java.lang.OutOfMemoryError Android Ram 1GB"
### Description

<img width="906" alt="screen shot 2017-04-07 at 17 00 23" src="https://cloud.githubusercontent.com/assets/11315567/24795522/cc47de6e-1bb3-11e7-8a8b-7379874cf01d.png">

Hi Team.

### Reproduction Steps and Sample Code

 I see issue when view list image in android?

### Solution

<application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label=

[2017-04-07 10:14] Trailblazerr1 opened #13380 "Spelling errors in documentation"
Hey, I was browsing through react-native docs.
And I found some spelling errors.
Here are they:
String 'sytem': [Link](http://facebook.github.io/react-native/docs/upgrading.html#1-install-git)
String 'acheived': [Link](http://facebook.github.io/react-native/docs/integration-with-existing-apps.html#configure-permissions-for-development-error-overlay).

[2017-04-07 10:32] robcalcroft opened #13381 "JSON value '<null>' of type NSNull cannot be converted to NSNumber"
Having an issue with an array when using ART. Its in `react-native-chart` but the author is AWOL.
[code]
This array is causing `JSON value '<null>' of type NSNull cannot be converted to NSNumber` errors at odd times, sometimes it throws the error other times it doesn't and I cant see a pattern. Wondering if anyone can spot why this might be throwing this issue?

[2017-04-07 10:38] aem commented on #12302
Going to close this. We settled on a somewhat makeshift architecture for our react-native components. We have an injected `ReactInstanceManager` that is created on launch and then in each `View` where we'd like some react-native components we have some code like:
[code]

This solves my problem outlined here, now our only blocker is outlined in https://github.com/facebook/react-native/issues/13340

[2017-04-07 10:38] #12302 closed

[2017-04-07 10:38] zhouffan opened #13383 "too many images showed abnormal, Who can help me"
I have a question, the scrollview nested many image picture, then the picture is like a flower screen or display incomplete.Don't know if other people have met, can help with analysis of where should I start.

android : 4.4.2;    rn version: 0.35

![Uploading 20170407183438.jpg…]()

[2017-04-07 10:39] zhouffan commented on #13383
![20170407183438](https://cloud.githubusercontent.com/assets/10229738/24796891/9476aa0c-1bc1-11e7-9b8a-04db546b8ed0.jpg)

[2017-04-07 11:05] jcharlet commented on #12967
sorry to ask such a trivial question (am new to the node world): how do you patch a file from a node_modules package ?

Do I have to replace the value directly in that ./myApp/node_modules/react-native/Libraries/Geolocation/RCTLocationObserver.m (while node_modules is ignored by git and overridden at any npm install). Is there a cleaner way so that it's not in node_modules and in my git codebase?

[2017-04-07 11:28] mariodev12 commented on #2228
Same problem, anyone resolve this issue?

[2017-04-07 11:29] pvakharia9033 commented on #7009
I too getting same error

[2017-04-07 11:40] sglocastic commented on #4968
We had the same problem and tried all of the solutions from above but nothing worked. Colleague unexpectedly solved it by downgrading the native-base version from 2.1.1 to 2.0.12 and we locked it right there.

We use it with react@15.4.2 and react-native@0.42.0.

[2017-04-07 11:41] devboy commented on #6971
+1

[2017-04-07 11:43] matthewfang commented on #12246
the same issue, i have this problem with RN 0.42. how can we solve it?

[2017-04-07 12:09] rahulgautam297 commented on #10027
Please look into it.

[2017-04-07 12:13] brayoh commented on #12148
experiencing the same error

/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/PhotoLibraryServices.framework/PhotoLibraryServices `(0x113302880).` One of the two will be used. Which one is undefined.2017-04-07 17:34:19.268 [error][tid:com.facebook.react.JavaScript] { [TypeError: undefined is not an obj

[2017-04-07 12:58] damir-sirola commented on #12148
My problem was that there was residual code left somehow in cache or somewhere, I did search through grep to find the file. Same thing was also cached on CI.
Hope this helps

[2017-04-07 13:08] basho11 commented on #4968
Thank you @sglocastic , that worked for me!

[2017-04-07 13:30] brayoh commented on #12148
How exactly did you clear the cache?

[2017-04-07 13:42] goodhyun commented on #12717
Sorry @studio3w  I didn't know that I had to rebuild RN again from source.
Even 0.43.1 didn't solve this issue, and I rebuilt 0.43.1 with #12923 fix and it just worked like a charm.

This is a really annoying issue though.

[2017-04-07 14:07] fhad-getmaple opened #13384 "Post 0.43 upgrade: PerfMonitor has no setter or ivar for its bridge"
### Description

After upgrading to React Native version 0.43, getting the red screen with error: "PerfMonitor has no setter or ivar for its bridge, which is not permitted. You must either @synthesize the bridge property, or provide your own setter method".

<img width="371" alt="screen shot 2017-04-07 at 10 04 58 am" src="https://cloud.githubusercontent.com/assets/22453066/24803633/c9b43ae2-1b79-

[2017-04-07 14:58] baldurpan commented on #10218
This is still an issue in RN 0.43.2

[2017-04-07 15:44] ghidinelli commented on #13335
I can confirm this is happening on older versions of Android. It's related specifically to the Android System Webview update (v 57.0.2987.132, Updated May 29, 2017). Our app was working before installing, installed JUST that update, now it hangs.

I now have reports from:

* Android 7 (2017-03-01 security)
* Android 6 (2016-08-1 security)

I'm personally testing on Android 5.1 with security patch

[2017-04-07 16:17] ghidinelli commented on #13335
Google released a 126 version and then a couple days later the 132 version above. I believe the problem exists in both as 132 was just a security fix. Here is the changelog from the previous stable 108 to 126: https://chromium.googlesource.com/chromium/src/+log/57.0.2987.108..57.0.2987.126?pretty=fuller&n=10000

Here's a bug I logged with Chromium: https://bugs.chromium.org/p/chromium/issues/detai

[2017-04-07 16:25] mediaxtend commented on #11655
@Kureev, it solved the issue for me too.
I added ``.*/Libraries/.*/__flowtests__/.*`` to the ``[ignore]`` section of the ``.flowconfig`` to remove errors generated by some files of the react-native package (in ``react-native@0.43.2``).

[2017-04-07 16:41] hey99xx commented on #13335
@ghidinelli In your bug report to Chromium, you've written

So do you think it's between 126 -- 132 or 108 -- 126. I am confused reading your post here and the bug report. Anyways thanks for notifying, I will also try to test this, as we also use webviews in react-native.

[2017-04-07 16:53] ghidinelli commented on #13335
@hey99xx I think it's between 108-126 because the 126-132 was just a security regression patch. We only started getting reports of this about 7-8 days ago and that's when .126 started rolling out.

FWIW, uninstalling the update does restore working behavior.

[2017-04-07 17:01] javache commented on #13384
It looks like this line is swallowing the original exception: https://github.com/facebook/react-native/blob/master/React/Base/RCTModuleData.mm#L149-L153

Can you comment that try-catch to find the real underlying exception?

[2017-04-07 17:16] giordy commented on #13371
I confirm I'm gettting it too unfortunately. RunninUsing React Native 0.43.2 too

[2017-04-07 17:19] hramos commented on #13294
Thanks @willdawsonme. We should probably update our issue guidelines to ask that bugs be tested against master.

[2017-04-07 17:38] hramos commented on #13383
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-07 17:38] #13383 closed

[2017-04-07 17:38] jcollum commented on #11588
@shergin this is still happening in 0.43.2

[code]

It was reported 3 months ago. Is there any movement?

[2017-04-07 17:39] hramos commented on #13380
Please send us a PR with fixes :)

[2017-04-07 17:39] #13380 closed

[2017-04-07 17:39] #13362 closed

[2017-04-07 17:39] hramos commented on #13378
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-07 17:39] #13378 closed

[2017-04-07 17:40] hramos commented on #13377
What is that comment about 0.44 about? Does this reproduce on master?

[2017-04-07 17:41] hramos commented on #13372
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-07 17:41] #13372 closed

[2017-04-07 17:42] hramos commented on #13367
You probably want to open this issue against the `react-native-datepicker-component`'s issue tracker.

[2017-04-07 17:42] #13367 closed

[2017-04-07 17:46] #13369 closed

[2017-04-07 17:56] hey99xx commented on #13335
Looks to be same issue https://jira.appcelerator.org/browse/TIMOB-24540 ( at least same stack trace )

[2017-04-07 18:17] #13012 closed

[2017-04-07 18:37] huyanhh opened #13386 "[FlatList] Horizontal Paged FlatList does not render with initial items when passed as props from parent container or when passed as state, RN 0.43.2"
### Description

I'm creating a pager out of the FlatList. I have a function that adjusts each item of the list to the width of the screen. I'm manually passing a hard coded list for the data as props to have an initial render of the FlatList, but nothing actually shows up until I add another item to my list. The items should already be rendered when I start up the application.

### Reproduction S

[2017-04-07 18:42] christophermark commented on #12112
### What seems to cause this
This issue is reproducible when the diff between the React Native project template files have changed (between your current RN version and the newest RN version) in one of the following ways:
- You've already updated a file which got updated by React Native
  - Most commonly found with Gradle version numbers in Android projects, where Android Studio will update this fo

[2017-04-07 18:46] qpowell commented on #13314
@joemckie True, but:

![screen shot 2017-04-07 at 1 45 14 pm](https://cloud.githubusercontent.com/assets/1351050/24814753/8d8b4a50-1b98-11e7-9e73-d3a89f1499aa.png)

[2017-04-07 18:52] ugendrang opened #13387 "Error: spawn cmd.exe ENOENT"
Environment:
react: 16.0.0-alpha.6,
react-native: 0.43.1
OS: Windows 10
node.js: 6.9.2
yarn: 0.22.0

c:\sampleproject>react-native start
.....
 Running packager on port 8088.
.....

c:\sampleproject>react-native run-android
.....
Installing APK 'app-debug.apk' on 'Nexus_5X_API_23_1(AVD) - 6.0' for app:debug
Installed on 1 device.

BUILD SUCCESSFUL

Total time: 14.114 secs
Running C:\Users\User\App

[2017-04-07 19:12] hramos commented on #13387
GitHub Issues aren't the best place to troubleshoot dev environment issues I'm afraid. Feel free to reopen if you have identified a specific issue that can be addressed with a PR.

[2017-04-07 19:12] #13387 closed

[2017-04-07 19:36] Kureev commented on #11655
@mediaxtend thanks! If it works, then we need to update our `react-native init` template with your solution

[2017-04-07 19:39] dantman commented on #12112
Upgrading shouldn't require finding a hidden temp file or editing a library file. The simplest workaround would probably be adding a cli argument to `react-native-git-upgrade` that will make the git command use `--reject` instead of `--3way`.

[2017-04-07 19:44] migueloller commented on #13353
The app bundle ID in your `Info.plist` is what Apple uses to uniquely identify your app in their systems. This has to be unique across all apps. Usually this is written in reverse DNS format. For example, `com.example.HelloWorldApp` might be the bundle ID for a hello world app built by a company that owns the domain example.com.

A couple of things, though. This is simply a convention, it's not st

[2017-04-07 20:27] foggy1 commented on #12112
It seems like the patch should be agnostic as to the state of the thing needing to be upgrade, e.g. it should look to patch a version without caring about what the version number ought to have been previously.  This is especially the case because both Android Studio and Xcode will upgrade native config stuff as needed.

[2017-04-07 20:30] qpowell opened #13390 "Post 0.43 upgrade - Unable to resolve module ReactComponentTreeHook from node_modules/react-native/Libraries/Performance/Systrace.js"
### Description

Unable to launch app after upgrading to 0.43.2.

### Reproduction Steps and Sample Code

Upgraded `react-native`:

[code]

There were no conflicts during the `react-native-git-upgrade`. I'm not sure what code examples to provide since the crash happens during the launch.

I've also tried the steps here: https://github.com/facebook/react-native/issues/4968 with no luck.

### Additi

[2017-04-07 20:34] qpowell commented on #13390
I can verify that there's no `lib/` in `node_modules/react/`, but I'm not sure why the `npm install` wouldn't have taken care of that. Any help would be greatly appreciated :)

[2017-04-07 20:36] cannona commented on #13152
Looks like doing this on IOS involves subclassing the parent view? http://stackoverflow.com/questions/13279498/change-order-of-read-items-with-voiceover

This page also has a bit of info for both IOS and Android. http://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile/focus/focus-order

[2017-04-07 20:39] MaxwellGover commented on #11578
I tried cloning a copy of my old repo (0.42.0), running yarn, and then running react-native-git-upgrade 0.43.0 and still getting `fatal: working tree '.' already exists.` error. I saw something about removing a package from package.json temporarily? How do you even do that? Looks like react-native-camera may be causing the issue?

[code]

[2017-04-07 20:44] cannona commented on #12492
I haven't tried this, but have you tried setting a ref, and then calling .focus() on that ref? Or perhaps autofocus={true} will work (likely depends on the component type though).

[2017-04-07 20:51] qpowell commented on #13390
I was able to get past this. I started at my screen for a while, as well as upgraded a few of my dev  dependencies:

[code]

Not sure which step worked.

[2017-04-07 20:51] #13390 closed

[2017-04-07 21:07] cannona commented on #9725
I believe I'm seeing the same issue when using react-navigation.  However, I did notice an interesting result and would be curious if others can reproduce this in their own examples:

* Reproduce the above described issue on IOS.
* Press the home button to place the app in the background.
* reopen the app.
* verify whether the hidden screen is still visible with VoiceOver.

If others are seeing th

[2017-04-07 21:12] cyaxares opened #13391 "right to left"
I'm using a RTL language, If  I  change the app into RTL and android device's language is English, the place of Icones in left for e.g turn to right . and If I change it into LTR  and device's language is Arabic for instance, everything located in right turns to left. Is there anyway to fix the app so that everything is showed the same formation??
React-Native Version 0.42.0

[2017-04-07 21:15] hramos commented on #13391
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-07 21:15] #13391 closed

[2017-04-07 21:34] janicduplessis commented on #13377
This is a current limitation of native Animated.event. It doesn't work with PanResponder because it is implemented in JavaScript. You can have a look at https://github.com/wix/react-native-interactable which can handle gestures with native animated values.

[2017-04-07 21:34] #13377 closed

[2017-04-07 21:38] ragnorc opened #13392 "Set color of refresh indicator in FlatList"
With RefreshControl the color of the refresh indicator and some other props could be set. Is this still possible with FlatList?

[2017-04-07 21:48] jcbiznoff commented on #13283
We were using a library that blocked the newly added MultipartDataTask handling in iOS. Removing this resolved.

[2017-04-07 21:48] #13283 closed

[2017-04-07 22:38] nickcharles opened #13393 "iOS KeyboardAvoidingView not Entirely Avoiding Keyboard"
### Description

I'm trying to use a keyboard avoiding view to basically push up the entire app window on iOS (mocking the behavior seen by default on Android). `KeyboardAvoidingView` is having some trouble by not pushing things up quite enough to make it fully visible, the iOS keyboard's autocorrect menu obscures the very bottom of the contents.

### Reproduction Steps and Sample Code

Not really

[2017-04-07 22:43] luckyleap commented on #13371
I have seen and done the procedure before. It has not worked for me still :/
I tried adding the scheme in the order you described but it has also not worked.
It seems my RCTLinking is still broken because I still get:
'React/RCTEventEmitter.h' file not found in xcode

[2017-04-07 22:43] ccorcos opened #13394 "WebView inject javascript before window.onload"
### Description

When using the [WebView API](https://facebook.github.io/react-native/docs/webview.html) to communicate over `postMessage` and inject Javascript using the `injectedJavaScript` prop, the webpage has to wait until `window.onload`.

In the [example](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/messagingtest.html), if you run `window.postMessage('"Hello"

[2017-04-07 22:53] nickcharles commented on #13393
Looks like it has to do something with this nav bar at the bottom, if I wrap the entire thing then it correctly lines up.

[2017-04-08 00:13] MatthewAwesome commented on #11370
Issue persists in RN version 42, and I get it even with usual characters :( More of annoyance than anything, as String.indexOf('subString') == 0 as suffices as a workaround.

[2017-04-08 01:59] timothyallan commented on #10027
XCode 8.2.1
RN .43
iOS 10.3
Same thing here. Disabling the console to hide the issue isn't an option for me.

[2017-04-08 02:59] guangmingzizai commented on #13371
I solved this problem yesterday with:
1. Replace all `#import "RCT*.h"` with `#import <React/RCT*.h>`.
2. Since I have used CocoaPods, my RN native modules in Pods still had errors. I haven't found the solution, so I moved my RN native modules from Pods to project, it works.

*Ensure your have unchecked `Parallelize Build` and removed all `react-native` related `header search paths` from all targe

[2017-04-08 04:15] douglasjunior commented on #9445
Any solution?

[2017-04-08 04:23] taylorren commented on #13340
I agree with @aem.

I am running `react-native` generated programs and this message keeps popping up. The emulator goes well on Internet surfing.

[2017-04-08 05:04] topher opened #13396 "React Native cant find RCTEventEmitter after cocoapods integration"
Recently implemented cocoapods into a React Native project. Now RN is throwing this error after a successful xcode build
![screen shot 2017-04-07 at 1 39 43 pm](https://cloud.githubusercontent.com/assets/20007602/24825825/6cd38e3c-1bdc-11e7-9946-2751d5319eae.png)

And on one occasion
![screen shot 2017-04-07 at 9 54 10 pm](https://cloud.githubusercontent.com/assets/20007602/24825841/c47147ce-1bdc-

[2017-04-08 05:28] #13353 closed

[2017-04-08 07:03] joemckie commented on #11736
@janicduplessis I'm still getting very similar errors in `0.43.2`. Is this still a valid issue?

[2017-04-08 07:18] dastoori commented on #13080
I have the same problem on v0.43.1 (only on Android).
I have something like `<Text>{123}</Text>` (`123` is a number) and when i tap the text area, i get this error

[2017-04-08 07:20] kenma9123 commented on #13057
@hramos any news about this? I was able to replicate it with an android 6.0 emulator and a real device.

[2017-04-08 08:13] jackyef opened #13397 "Setting react-native run-android to use a custom adb.exe"
I have been trying to deploy a react-native app to the Nox emulator.
Apparently, the emulator comes with its own adb.exe. More info about this: https://www.bignox.com/blog/how-to-connect-android-studio-with-nox-app-player-for-android-development-and-debug/

The problem is, everytime I run `react-native run-android`, the cli will fail to find a device, eventhough the custom adb.exe clearly found a

[2017-04-08 09:48] budiga commented on #13390
I got this problem too.Can you tell me how to solve this problem?

[2017-04-08 10:31] petterh commented on #2814
@denisk20: Your `UnexpectedNativeTypeException` is almost certainly caused by a missing `lineNumber` in a JS stack trace. I created a [PR to fix it](https://github.com/facebook/react-native/pull/12920) &ndash; I gather my fix didn't make it into 0.43, but [it is in the master branch](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/devsupport/Stack

[2017-04-08 10:55] robertodias180 commented on #9880
@CDog34 can you post an example? I have the same issue and can't seem to fix it.

[2017-04-08 11:22] budiga commented on #13390
error message:
error: bundling: UnableToResolveError: Unable to resolve module `react/lib/ReactComponentTreeHook` from `/Users/liuxuehuan/Desktop/react/exec/MyApp/node_modules/react-native/Libraries/Performance/Systrace.js`: Module does not exist in the module map or in these directories:
  /Users/liuxuehuan/Desktop/react/exec/MyApp/node_modules/react-native/node_modules/react/lib
,   /Users/liuxu

[2017-04-08 12:51] Yadro commented on #12717
Doesn't work onContentSizeChange event in release 0.43.2

[2017-04-08 13:36] PARAGJYOTI commented on #13392
Flatlist is just a higher component based on Virtualizedlist . Look at the source code here https://github.com/facebook/react-native/blob/master/Libraries/Lists/FlatList.js

So , in order to change the refreshControl color , set the property in the source code or add your own props to it . Run react-native start again to see the changes .

[2017-04-08 13:44] PARAGJYOTI commented on #13392
Sorry , you have to pass the props into Scrollview Component in VirtualizedList class . See https://github.com/facebook/react-native/blob/master/Libraries/Lists/VirtualizedList.js

[2017-04-08 14:11] ahmedlhanafy commented on #13257
I'm using [react-native-image-crop](https://github.com/ivpusic/react-native-image-crop-picker), and I print the `uri` I get to the console then I open it on my mac via `Preview.app`.
That's how I compare both of the images @peterp

[2017-04-08 15:21] shiios opened #13399 "launchPackager.command cannot execute，because have not the rights of accurate"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues exclusively for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native

[2017-04-08 15:22] nico1510 commented on #13141
Yes I noticed the same. Deleting from a FlatList using LayoutAnimation causes exactly the problem you describe.

[2017-04-08 15:40] MaxwellGover commented on #6282
I'm on the latest version 0.43 and still getting this issue? :(

[2017-04-08 16:22] ericwooley commented on #13314
Is there any official word on this? I upgraded to 43 to get past done 42 bugs, and now storyshots broken.
It seems like a pretty bad idea to upgrade to an alpha version of react. I think maybe I'll need to go to 41 instead.

[2017-04-08 16:26] gpminsuk opened #13400 "D3 visualization has performance issue on Android"
### Description

I implemented Bubble data visualization with d3 simulation and it has performance issue only on Android that doesn't happen on iOS.
Bubbles are rendered as 'absolute' position and view with border radius.
`<View
                key={data.id}
                style={{
                  backgroundColor: 'transparent',
                  position: 'absolute',
                  transfor

[2017-04-08 16:30] kristojorg commented on #10991
+1

[2017-04-08 16:37] kristojorg commented on #10991
HMR appears to work for all components that are beneath at least one class component. So I made my root component a class, and now HMR is still working even with SFCs below. Hope this helps someone!

[2017-04-08 17:31] MaxwellGover commented on #9575
@adamski Did you solve the issue? I'm getting the same issue on RN 0.43 and also running on device.

[2017-04-08 18:00] kelvinaliyanto commented on #10845
Is this issue already fixed in the latest release? Because I just checked my crashlytics and this issue seems to appear quite often.

[2017-04-08 18:15] pfulop commented on #13390
For me react-native-git-upgrade did the trick.

[2017-04-08 20:05] apperside commented on #10635
I had this problem because the child of `TouchableHighlight` was no a `View` but a `Text`. Making a `View` the direct child of `TouchableHighlight` solved my problem

These are my dependencies

"react": "16.0.0-alpha.3",
"react-native": "0.43.2",

[2017-04-08 20:58] #13392 closed

[2017-04-08 21:49] ragnorc opened #13403 "[0.43] undefined is not an object (evaluating 'subscription.listener.apply') when tapping on TextInput"
The error `Unhandled JS Exception: undefined is not an object (evaluating 'subscription.listener.apply')` occurs when tapping on TextInput. Does anyone have an idea what the error could be?

[2017-04-09 00:04] ngmiller commented on #12754
I tried pretty much every combination of solutions here and none of them worked. The only way I was able to get up and running was to open two terminal sessions in the project directory, run `npm start` in the first one, and *then* run `react-native run-ios` in the second.

I don't recall having to do that a month or two ago when I was first playing around with this - maybe there is a regression i

[2017-04-09 00:05] antsankov commented on #12754
@ngmiller Worked for me!

[2017-04-09 01:10] llamaluvr commented on #13393
I'm seeing something similar- I can tell the TextInput is moving up as the keyboard appears, but it's not moving up the entire way, and is completely covered by the keyboard. Same React Native version I believe, using iPhone 6 simulator with iOS 10.2.

@nickcharles could you describe further what you did to make it work? Thank you.

Code:

`  render() {

    return (
            <View style={style

[2017-04-09 02:01] ide commented on #13403
This happens if an undefined event listener is passed in.

[2017-04-09 02:22] foggy1 commented on #13345
Thirded.  Hard crash on 0.43.

[2017-04-09 03:34] yijian166 commented on #7474
@Traviskn This solution also has a issue, in some time, at bottom of the Modal has a transparent bar , and height equal to StartBar height.

[2017-04-09 04:39] moeinrahimi commented on #13370
I got a step further now i'm getting this error :+1:
[code]

[2017-04-09 04:47] tusharkhatiwada commented on #13315
The issue was related to timezone. `new Date(year, month, day)` is using my timezone but then `toISOString` has zero UTC offset.
Solved using this solution from [Stackoverflow](http://stackoverflow.com/questions/439630/how-do-you-create-a-javascript-date-object-with-a-set-timezone-without-using-a-s)

[2017-04-09 04:47] #13315 closed

[2017-04-09 06:34] motiazu commented on #2228
@mariodev12 You can use `Animated.event` with native driver today.

From [react native blog](https://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html):

[2017-04-09 06:46] Kerence commented on #7870
I've found a solution to perfectly add pull refresh to webview for both android and ios.
the key is to use the js bridge to notify rn whether enable pull to refresh or not.
the following code was tested against react native 0.38.1.
class YourComponent extends React.Component{
  ......
 state={enablePTR:true}
  render(){
	return (<ScrollView refreshControl={<RefreshControl enabled={this.state.enabl

[2017-04-09 07:05] achakra21 commented on #11257
I am also facing the same issue after installing "npm install --save react-native-calendar-picker"
![capture](https://cloud.githubusercontent.com/assets/1450925/24835478/0e869cf2-1d21-11e7-8fbc-ce4e33462833.JPG)

[2017-04-09 07:08] achakra21 opened #13404 "I am getting "Unable to resolve module `react"
I am getting the below error

![capture](https://cloud.githubusercontent.com/assets/1450925/24835491/519dc358-1d21-11e7-9239-52cc78cfe834.JPG)
The development server returned response error code: 500

URL: http://10.0.2.2:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false

Body:
{"from":"D:\\AwesomeProject\\index.android.js","to":"react","message":"Unable to resolve module

[2017-04-09 07:17] fangkyi02 opened #13405 "0.43 version can not compile release"
I have tried to initialize a new project and then configure the release environment and upgrade to the original 0.43 to the same old

**Problem description**

:app:bundleReleaseJsAndAssets FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Failed to capture snapshot of input files for task 'bundleReleaseJsAndAssets' property '$1' during up-to-date check.

* Try:
Run with --stackt

[2017-04-09 07:54] cbjs commented on #13345
+1

[2017-04-09 08:09] iroshanAV commented on #13309
@jinlong but still getting the Unmet peer error :(

[2017-04-09 08:10] iroshanAV commented on #13309
In fact  after install react@16.0.0 i get this error

[code]

[2017-04-09 08:50] RemeJuan commented on #12885
Just spun up a new application this morning and am hitting the same issues.

[2017-04-09 09:12] yanush commented on #13010
+1

[2017-04-09 11:38] ragnorc commented on #13403
Oh thanks! Had not seen that I had removed the Keyboard listener functions.

[2017-04-09 11:38] #13403 closed

[2017-04-09 12:09] BigPun86 commented on #11578
i just had to run yarn before git-upgrade and everything is fine :)

[2017-04-09 12:53] kfir91 opened #13406 "Issues with rtl on ios"
Hello,
i added
[code]
and
`I18nManager.forceRTL(true);`

in main js
and still when i use flex: 1 the text ltr and textAlign not help for this...

the problem is only on ios, in android all the things are good.

tnx a lot

[2017-04-09 14:00] cbt2016 commented on #12885
Same Problem here but still the app is compiling and running as expected .Does have to do with package.json format ,i remember starting to get this problem after installing 'redux-thunk' ??!!

[2017-04-09 14:01] skywlkr commented on #12754
@ngmiller tried your solution too, but still not working. I'm starting to go mad.

[2017-04-09 14:08] cbt2016 commented on #12885
EPIPE error happens generally when your program does not have permissions to run something (in this case a pipe stream ) on your computer .i opened git bash as Administrator and rerun 'react-native run-android' and the error disappeared :)

[2017-04-09 14:18] pocesar commented on #12885
nope, not a problem with permissions, everything permission-wise is fine, it's completely random, and I guess it's mainly because of consecutive writes onto the same file (like rapidly pressing Ctrl + S twice on the same file, for example)

[2017-04-09 14:32] cbt2016 commented on #12885
In my case ,this is the code throwing the error ,it is a Promise :
`function symbolicate(connection, data) {
  return Promise.resolve(data)
    .then(JSON.parse)
    .then(symbolicateStack)
    .then(JSON.stringify)
    .catch(makeErrorMessage)
    **.then(message => connection.end(message));**
}`

[2017-04-09 15:01] chuyik commented on #3303
I found out if a horizontal ScrollView is inside a vertical ScrollView, the horizontal one will become hard to swipe on Android.
What I mean is the swipe gesture is easily recognized as a scroll gesture, and it's hard for me to do something like a Carousel inside a ScrollView because I have to implement the gesture recognizer for this with a PanResponder to prevent a bad user experience.

[2017-04-09 15:23] ngmiller commented on #12754
@skywlkr Very frustrating. I wasted several hours on this yesterday. Maybe a dumb question, but have you tried from a completely fresh project?

[2017-04-09 16:17] Air-Miha commented on #13404
@achakra21,

Is this the project in question:

https://github.com/achakra21/ReactNative-AwesomeProject

?

Could you include _react-native_ and _react_ as dependencies in your package.json, run _npm install_ and then try again?

[2017-04-09 16:24] RemeJuan commented on #12885
@cbt2016 good idea is relative, if it fixes the problem for now and you can carry on working then yes, when 0.43.3 pops out with the actual (possibly same) fix, then you just update.

[2017-04-09 18:04] smiled0g commented on #8968
Problem's still here

[2017-04-09 18:35] matthieucan opened #13408 "Broken link in documentation"
### Description

The last paragraph of  react-native/docs/Networking.md contains a link to a page recently removed in 08dbc43fa64ff1dfc0d364b6cef6262426f76b64

### Reproduction Steps and Sample Code

Click on 'Navigators' in the last paragraph of https://facebook.github.io/react-native/docs/network.html

### Solution

I didn't PR it since I don't know how you'd want to rephrase the conclusion.

##

[2017-04-09 18:42] Talor-A commented on #13207
This also seems related to #13141

[2017-04-09 19:01] wedelgaard commented on #12698
@sungwoncho not updated in 0.43 :/

[2017-04-09 19:49] stefalda commented on #13080
Same problem with RN 0.43.2 Android... but I'm unable to find the Text causing the error...

[2017-04-09 20:02] skywlkr commented on #12754
yes, I have tried it with a totally new project

[2017-04-09 21:30] joenoon commented on #13316
I had a possibly related issue with a ListView (RN 0.43.2) that seems to be solved by the `removeClippedSubviews={false}` suggestion.

In my case this ListView was inside an Animated.View with a translateY style (sliding down).  When the animation ended the ListView would have variable space above the first row (as if there was some contentInset padding).  Just barely scrolling the list would snap

[2017-04-09 21:52] bilby91 opened #13412 "app:bundleReleaseJsAndAssets depends on har-validator bin"
### Description
Android gradle task `app:bundleReleaseJsAndAssets` depends on har-validator. har-validator is a dependency of the `request` package. The current constraint for `request` is `^2.79.0`. Since `request 2.80` they updated `har-validator` to version 4.2 and this new version doesn't come with the bin executable, they split the project into `har-cli`. This generated an issue when having `

[2017-04-09 21:53] rgngl commented on #13035
When it breaks can you do a `adb shell dumpsys SurfaceFlinger`? There should be some lines towards the end like this:
[code]
Can you see if the `source crop` and the `frame` fields for your app's windows are different? If it's like that I might have a fix for that. See https://github.com/facebook/react-native/pull/13411

[2017-04-09 22:06] rgngl commented on #12359
The problem is caused by using `SwitchCompat` on an `Activity` that is not `AppCompatActivity`, so I am assuming your application is not using the `ReactActivity`(or you have a hybrid app).

As a workaround you can create your own `Switch` component by copying from RN sources and replace `	android.support.v7.widget.SwitchCompat` with an `android.widget.Swich`.

[2017-04-09 22:11] rgngl commented on #10877
See my comment here: https://github.com/facebook/react-native/issues/12359#issuecomment-292817057

Maybe switch component used in React Native can be changed with a `Switch` instead of `SwitchCompat` to make it compatible with regular activities.

[2017-04-09 23:11] seanrogs commented on #10027
Disabling the console to hide the issue shouldn't be an option for anyone. Closing your eyes also prevents you from seeing the warnings.

[2017-04-10 00:08] vincentsong commented on #13367
Hi @hramos , how to move this issue to `react-native-datepicker-component`

[2017-04-10 00:45] mdjnewman commented on #13340
I'm having the same problem.

ATM I'm taking a look to see if this is only an issue in the latest Android tooling - I wasn't getting this error earlier last week.

Interestingly fetching the bundle is fine, but accessing localhost:4000/foo (for example) using fetch() doesn't work, even though the same URL is accessible through Chrome.

[2017-04-10 01:07] Beelphegor commented on #8968
same here.

[2017-04-10 01:43] PARAGJYOTI commented on #12905
Still getting error in Strings . When I scroll fast in VirtualizedList and tap on some item , it crashes showing cannot get property of undefined _props[registrationName] .

[2017-04-10 01:49] parkerdan commented on #13307
@ericvicenti It seems to grow at a reasonable rate.  I will close this.

This app is difficult to use on an iPhone 5.  1GB RAM has a hard time with this app.  The other 2-3GB RAM iPhones have no issues....  I think it might be connected to all the images

[2017-04-10 01:49] #13307 closed

[2017-04-10 02:07] MattFoley commented on #8895
I don't know if this is helpful, but this only happens when LayoutAnimation is enabled.

[2017-04-10 02:25] ssssssssssss commented on #13400
https://facebook.github.io/react-native/docs/view.html#rendertohardwaretextureandroid

Does it help?

[2017-04-10 02:50] achakra21 commented on #13404
Yes right but how it was working previously with out  that ? I Am surprised in fact now i fixed the issue by downgrading the React-Native lib

[2017-04-10 03:03] Tiago-Marques commented on #12829
Any news about that? Same error here !

[2017-04-10 03:04] desmond1121 commented on #3198
@henrikra Sorry for my misunderstood,  removeClippedSubviews would remove out bound sub views but **not clip in bound views**.. so definitely it's not work with your problem.

[2017-04-10 03:15] AkiraXue commented on #12189
i get the same issue  when pop or switch the navigator from webview which the input is focused to another navigator which show the native component,  anybody know how to solve the issue

[2017-04-10 05:15] tianxind commented on #10845
So this commit is not in RN 0.43?

[2017-04-10 05:47] 8088 commented on #13010
add JavaScriptCore.framework it work for me.

[2017-04-10 05:53] JamesJin038801 commented on #8868
Thanks, it worked!

[2017-04-10 06:39] cyclops24 commented on #6691
@woshi82 I also have `+` in project parent name and after remove it everything goes OK.
Is it a bug or `+` is not acceptable for project folder name (maybe an undocumented limitation). I didn't find info or limitation about React-Native project name or path in docs.

[2017-04-10 06:40] Jimmy-YMJ commented on #12062
sudo chmod -R 755 your-project

[2017-04-10 06:41] cyclops24 commented on #12062
Hi @RaThierry,
See #6691 and check project folder path. Maybe special character exists in path. For example `+`. For me it's the main issue.

[2017-04-10 07:07] npomfret commented on #1626
@ordishs i figure out what was wrong with mine.  Basically I have several native libraries in my project, and even though the share extension doesn't use them it needs to be linked in the same way.  I have a headless JS app that starts as a side effect of importing the top level index.js file which needs a few native libs.  If the share extension isn't linked in the same way as my main project it

[2017-04-10 07:12] PARAGJYOTI opened #13413 "[FlatList] FlatList and VirtualizedList Scroll performance is laggy after 30+ rows ."
### Description

   Flatlist or VirtualizedList Scroll lags horribly after 30-40 rows .   I am fetching the same data on onEndReached . Upto 30 rows its looks fine , but after that scrolling drops several frames . When I disable virtualization , scroll becomes normal but but responsiveness goes away . I tried disabling virtualizing on scrolling velocity this way .

      isVirtualizationTrue(e){

[2017-04-10 07:18] arsenslyusarchuk commented on #13035
@rgngl Hello. After upgrade of Samsung devices to android 7, this bug disappeared. So, it definitely was an issue with the particular touchwiz version which is used on Android 6.0.1, because for devices with pure 6.0.1 no bug was noticed.

[2017-04-10 07:40] Warpenguin commented on #13396
Had the exact same issue.

Fixed it by adding most of the React subspecs to my Podfile:

`pod 'React', :path => 'node_modules/react-native', :subspecs => [
'Core',
'RCTText',
'RCTNetwork',
'RCTWebSocket',
'RCTAnimation',
'RCTImage',
'RCTLinkingIOS',
'RCTPushNotification',
'RCTActionSheet'
]`

[2017-04-10 07:42] hey99xx commented on #12359
@rgngl Do you have a source that explains why `SwitchCompat` needs to be used only with `AppCompatActivity`? This is the first time I am hearing this requirement.

But you are correct, I am not using `ReactActivity`. I am integrating React with an existing app which is already using a custom base class from `android.support.v4.app.FragmentActivity`. Then again I don't know what the other developer

[2017-04-10 08:11] br4nnigan commented on #6802
A property that's only supported in one OS is not very useful ... don't claim react-native supports it then.

[2017-04-10 08:25] chuyik commented on #8024
@AlanFoster Same with you. `onEndReached ` won't called if a <FlatList> is wrapped by a <ScrollView>, even if the <FlatList> is at the bottom.

[2017-04-10 08:53] rgngl commented on #12359
@hey99xx if you look at the source code of `SwitchCompat` you'll see in the constructor it's referring to some appcompat related resources. So your context should have a theme from from that package. If you try to set an AppCompat theme to a normal activity it throws out an exception while initializing saying that you can only use it with an `AppCompatActivity`.

https://github.com/android/platfor

[2017-04-10 08:57] ababba15 commented on #25
@mkoo21 we can also define width and height outside of class and change them `onLayout` to have access to that values in styles.

[2017-04-10 09:01] wuyunqiang commented on #12823
+1
how to fix it?

[2017-04-10 09:04] devhyunjae commented on #12823
@wuyunqiang  There will be a code using Promisify. Replace that to es6 promise or other.

[2017-04-10 09:16] rockynox commented on #9136
I have a feeling that it's a conflict between the server and the build android which try to access same files. Indeed in Webstorm they are both launch simultaneously and since I installed new react-module (react-native-fcm/react-native-fabric) it creates this permission conflict.

Two solution worked for me :
[code]
or
[code]

[2017-04-10 09:22] theohdv commented on #13404
I think there was a changement in React 0.43 that broke absolute path from require() method. I had to change all my path to relative one and the it worked.

[2017-04-10 09:54] rom1k commented on #13390
I have this exact same error after upgrading to 0.43.2, BUT only on one of my computers. Works fine on the other. I have tried resetting cache, reinstalling node modules etc but I still have the error. Anyone know the real cause of this error?

[2017-04-10 10:01] damir-sirola commented on #12148
I did a full text search via grep and removed the file that contained that code (`t.data` in your case)

[2017-04-10 10:11] grabbou commented on #10845
Looks like the commit didn't end up in 0.43 release by a mistake. I have
released a new version (0.43.3) along with some other smaller tweaks.

On Mon, 10 Apr 2017 at 07:16 tianxind <notifications@github.com> wrote:

[2017-04-10 10:26] wuyunqiang commented on #12823
@devhyunjae  thanks.

[2017-04-10 10:27] QuantumInformation commented on #4968
I tried Haul, no luck
I did a fresh install of react native today, no luck

![image](https://cloud.githubusercontent.com/assets/216566/24857388/fda90162-1ddf-11e7-97f2-2e012bd09e6e.png)

@sglocastic what native base version do you mean? I tried Rn 0.42.0, no luck

I'll be back in my usual 2 weeks.

[2017-04-10 10:42] sglocastic commented on #4968
@QuantumInformation I am using this library [NativeBase](https://nativebase.io/) and solution was just to downgrade it.

Which version of react native cli are you using?

[2017-04-10 10:44] QuantumInformation commented on #4968
2.0.1

[2017-04-10 10:50] gerardus1995 opened #13414 "Webview navigateTo"
### Description

I've been looking if theres a webview property that allow us to change the page we are currently at. Like a navigateTo so when something happens we can navigate to that page automatically (being later able to use goBack() to go back to all the pages previous to this one).

### Reproduction Steps and Sample Code

In his._onNavigationStateChange.bind(this) i will check the url we ar

[2017-04-10 11:06] achakra21 commented on #13404
@theohdv  How did you can you put the code

[2017-04-10 11:16] sglocastic commented on #4968
I would try to run it without cron-parser dependency and haul just to be sure. Remove the code that depends on them and reinstall node modules. Start the packager with `npm start --reset-cache` and try to run the app.

If it breaks again only thing I can think of is to create a blank react native app and copy the code line by line and see where it breaks, and if it breaks.

[2017-04-10 11:19] xareelee commented on #13364
I found this issue has already reported on https://github.com/facebook/react-native/issues/11200.

But it still happened on RN 0.43.2.

[2017-04-10 11:24] krishbhattacharyya opened #13416 "UNHANDLED JS EXCEPTION: MINIFIED REACT ERROR #143"
### Description

Used ListView , ScrollView & AsyncStorage in my app. In the AsyncStorage, with the login  I have saved the logged in state with others information & clear the state with the log out.

###  Reproduction Steps and Sample Code

1) Upload my app in mobile center.
2) Login the app.
3) Navigate to a listview page ( There I rendered some big images with content ) .
4) Minimized the app.

[2017-04-10 11:37] sospedra commented on #10032
I cannot upgrade to `0.43` cause this issue :/

[2017-04-10 11:40] sospedra commented on #12261
@holms "Hey! With this tech you can forget about native code... Well, unless you want to update at any time" 🥇

[2017-04-10 13:00] Aadesh05 commented on #10593
![simulator screen shot 10-apr-2017 6 28 59 pm](https://cloud.githubusercontent.com/assets/24405047/24862752/9b85ace2-1e1b-11e7-9dca-856ca471653c.png)
I am facing this issue can anyone help me solving it?

my package.json

{
  "name": "Project",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start"
  },
  "dependencies": {
    "react": "15.4.0",
    "react-nativ

[2017-04-10 13:13] ptomasroos commented on #12981
Great improvement!

[2017-04-10 13:17] chirag04 commented on #12981
this would help with socket.io which keeps a timer of `85000ms` by default. On RN master the threshold is `60000ms`.

[2017-04-10 13:21] ashik94vc commented on #13381
I think this issue must be with the data or with the react-native-chart. Can you post the complete log to debug it further ?

[2017-04-10 13:21] skv-headless commented on #12981
And Firebase which is also using long timers.

[2017-04-10 13:27] forki commented on #13345
I can confirm that fresco 0.14.1 works indeed. Weird thing is that v 1.2 doesn't.

PR for docs: https://github.com/facebook/react-native/pull/13419

[2017-04-10 13:38] forki commented on #13345
@AndrewJack proposed to use 1.0.1 - which seems to work as well.

[2017-04-10 13:39] navid94 opened #13420 "FlatList/VirtualizedList doesn't render ListHeaderComponent"
### Description
I'm trying to add a header component through the ListHeaderComponent prop of FlatList, but react-native
gives me this error:

[code]

### Reproduction Steps and Sample Code

I tried using the code of FlatList example and it doesn't run.

[code]

I tried logging the output of React.isValidElement() on <HeaderComponent /> and it gives true, so I don't understand what I'm doing wrong.

[2017-04-10 13:48] NataliaCt22 opened #13421 "."
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues exclusively for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native

[2017-04-10 13:52] robcalcroft commented on #13381
This is what the console generates:
![screen shot 2017-04-10 at 14 50 29](https://cloud.githubusercontent.com/assets/3504764/24864760/2a2f5b4c-1dfd-11e7-8018-1b6eb93cfeb0.png)
And the simulator:
![screen shot 2017-04-10 at 14 51 38](https://cloud.githubusercontent.com/assets/3504764/24864779/380a9c54-1dfd-11e7-91be-f4b0bafc6180.png)

[2017-04-10 14:16] cyprusglobe commented on #13420
in your render method try this
[code]

all i added was ```ListHeaderComponent={() => <HeaderComponent />}```

[2017-04-10 14:20] dcp12345678 commented on #12754
I have same issue as skywlkr and get the same results. I've tried all the suggestions here but unfortunately none of them have worked.

[2017-04-10 14:20] navid94 commented on #13420
@cyprusglobe thank you! now it works.

[2017-04-10 14:20] #13420 closed

[2017-04-10 14:22] sospedra commented on #13291
Is it correct but it breaks? (See the more than 100 issues opened with the `0.43` tag)
What are we missing?

[2017-04-10 14:24] damnfateh opened #13423 "[iOS][Android]is there a way to check the Current Version of an apps"
![image](https://cloud.githubusercontent.com/assets/7897935/24866117/d40b3580-1e3b-11e7-92e1-c313b525e3dc.png)

is there a way to check the current version in google play store or app store.
I want the app to check the google play store or app store for current version and compare with user's current version if it's not equal then alert for update
there are a lot of libraries, but none are able to

[2017-04-10 14:27] dennisobel opened #13424 "null is not an object (evaluating 'this.state.timeElapsed')"
import React, { Component } from 'react';
import { AppRegistry, Text , StyleSheet, View, TouchableHighlight, TouchableNativeFeedback} from 'react-native';

class AwesomeProject extends Component {
  getInitialState(){
    return{
        timeElapsed: null
    };
  }

  render() {
    return (
    <View style={styles.container}>
        <View style={[styles.header, this.border('yellow')]}>

[2017-04-10 14:37] ramilushev commented on #10021
This is still an issue for me, I am using RN v0.43.2

I pass the `renderScrollComponent` prop to `ListView` and render an `Animated.ScrollView` as a scroll component which has an `Animated.event()` for `onScroll`

The onScroll event is still not propagated and events such as `onEndReached` are never called.

@nihgwu could you share an example of how you got it to work? Thanks.

[2017-04-10 14:54] kodemi commented on #13313
I'm not shure, but maybe you try to render numeric value like this: `<Text>{n}</Text>` (where `n` is a number variable).
I had code like this and it works before upgrade to 0.43. I changed code to `<Text>{String(n)}</Text>`.

[2017-04-10 15:02] #13421 closed

[2017-04-10 15:20] ifalldev commented on #11257
+1

[2017-04-10 15:36] sospedra opened #13427 "Dirty upgrade to 0.43. Cannot link"
In addition to other reports onto 0.43.x problems #12261

I've spend the past 4 hours manual merging the `react-native-git-upgrade` conflicts. I'm pretty sure that all my files are ok, tho I still have issues like this one after linking.

[code]

I can attach `*.xcodeproj` files and Android related ones.

[2017-04-10 15:47] manishtpatel commented on #4787
+1 onDateChange doesn't fire in certain situations, tested with version 0.43, lot of reproduction detail in the thread so not adding it.

I hope i can contribute to resolve this but have no iOS experience, it is puzzling that such a core piece of functionality is buggy and no one from core team is looking into it. Not sure where the priorities are.

[2017-04-10 15:54] habovh commented on #12814
I have the exact same issue: managed to update to RN 42 so it works in both debug and release schemes on both simulator and actual device.

However, when archiving, the process fails with the following error (showing one example and the end of the log file):

[code]

### My investigation

Here's my `Link Binary With Libraries` build phase:
<img width="312" alt="capture d ecran 2017-04-10 a 17 40 1

[2017-04-10 16:00] hamidhadi opened #13428 "Remove "android.permission.SYSTEM_ALERT_WINDOW" from production"
I removed `android.permission.SYSTEM_ALERT_WINDOW` permission from `androidmanifest.xml` but after building the app for production, I still get `display system-level alerts` request permission.
How can I remove this permission?

[2017-04-10 16:06] mmmurf commented on #4968
I'm not using NativeBase and still get the problem using React-Native > 42

I've done all the cache clearing, etc.

[2017-04-10 16:21] jrodiger commented on #12367
@sinxwal Just tested on RN version 0.43.3 and confirmed the fix you suggested works. Are you planning on submitting a pull request?

[2017-04-10 16:23] colinramsay commented on #4968
Just thought I'd let you all know that I found on the wiki that there's a planned update to the packager coming soon:

https://github.com/facebook/react-native/wiki/Roadmap

https://mobile.twitter.com/cpojer is reponsible. We can but hope this issue will be addressed then.

[2017-04-10 16:31] QuantumInformation commented on #4968
I'll get the party hats ready.

[2017-04-10 16:40] JeffreyLeeSpokeo commented on #10651
Ok I think I know what the issue is. I encountered the same problem so I started removing properties from my Switch Component. Once I removed thumbTintColor, it works perfectly fine

[2017-04-10 16:41] jrodiger commented on #8510
@lebronJ This thread can be closed now that the functionality has been implemented for Windows: https://github.com/facebook/react-native/commit/10a29aa95438d1f65739fa91b608f29779c2d5c1 and Linux: https://github.com/facebook/react-native/commit/0fe0fc038b1cbc0f3be29f1e3a752c2feb153285

[2017-04-10 17:04] ashik94vc commented on #13381
This seems to be an issue with the library. File an issue in the respective library. Try with the original library by tomauty.

[2017-04-10 18:26] hey99xx commented on #13428
Please do a quick search, there are multiple issues asking the same thing. The most extensive discussion was in https://github.com/facebook/react-native/issues/5886
See especially mikelambert's solution of creating `/src/release/AndroidManifest.xml` file.

[2017-04-10 18:39] armenr commented on #13010
I fixed this in my project with a simple change.

See screenshot:
![screen shot 2017-04-10 at 11 38 35 am](https://cloud.githubusercontent.com/assets/7662191/24876917/4e56afc2-1de2-11e7-956a-c09966f8750f.png)

Just had to explicitly include libjschelpers.a to my build phases, under "Link Binary with Libraries"

[2017-04-10 19:55] #13428 closed

[2017-04-10 20:02] anttimo commented on #13424
@dennisobel when using ES6 classes the initial state is assigned in the class constructor instead of `getInitialState` https://facebook.github.io/react/docs/state-and-lifecycle.html#adding-local-state-to-a-class

[2017-04-10 20:03] cristian-eriomenco commented on #4843
This is my third attempt of getting the dev environment setup. And I got stuck with the same problem on windows 10. Slightly being sarcastic, but does it really need to be that complicated with hacking environment variables, shamanism with SDKs, AVDs, HAXM, cherry picking versions etc ? Feels like dealing with a "Touch me here.." system.

[2017-04-10 20:06] wuhenwuya commented on #11592
@facebook-github-bot The issues has been solved, but the code has not changed in ReactNative43(react-native init or [https://github.com/facebook/react-native/archive/v0.43.1.zip](url) [https://github.com/facebook/react-native/archive/v0.43.3.zip](url))

[2017-04-10 20:09] vikassarkar opened #13432 "cannot create release apk with all steps provides in : https://facebook.github.io/react-native/docs/signed-apk-android.html, always getting app-release-unsigned.apk which is not installable in devices"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues exclusively for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native

[2017-04-10 20:10] sebmarkbage commented on #12905
@PARAGJYOTI on which version of React Native?

[2017-04-10 20:14] sglocastic commented on #4968
@mmmurf Try to downgrade some dependencies and maybe you accidentally figure out which one is causing the problems. When I think about it, even upgrading could solve this problem :S

[2017-04-10 21:16] jasongaare commented on #12952
Any ideas on this? Having the same issue.

[2017-04-10 21:36] #13432 closed

[2017-04-10 21:37] #13424 closed

[2017-04-10 21:37] hramos commented on #13423
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-10 21:37] #13423 closed

[2017-04-10 21:37] hramos commented on #13414
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-04-10 21:37] #13414 closed

[2017-04-10 21:38] #13399 closed

[2017-04-10 22:28] mgscreativa commented on #13390
Thanks @rom1k!

For me it's:
[code]

[2017-04-10 22:32] Guacaswole commented on #11588
Not just me then :(

[2017-04-10 22:34] PARAGJYOTI commented on #12905
Its 0.43.3 . I fixed it , although Its a hack .

I replaced the line 150 to

  listener = props ?  props[registrationName] :null;

It's seems to be working now .

On Tue, Apr 11, 2017 at 1:41 AM, Sebastian Markbåge <
notifications@github.com> wrote:

[2017-04-11 01:19] pengyanb commented on #8968
Adding "elevation: 100" to the style solved my issue.
credit goes to [http://stackoverflow.com/questions/39614040/how-to-give-z-index-property-in-react-native-android-app](url)

[2017-04-11 01:39] parkerdan commented on #13365
^^ Yup.

I had to move it out.

[code]

[2017-04-11 01:51] zongjingyao commented on #11592
Hi @wuhenwuya The code has been merged into v0.44.
https://github.com/facebook/react-native/blob/0.44-stable/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java#L87

[2017-04-11 02:20] MountainHill commented on #13010
@playma Have you solve the problem? I also have this problem and do't know how to deal with.

[2017-04-11 02:41] xasopheno commented on #5932
I'm having the same problem.

[2017-04-11 02:46] faverex commented on #12717
+1

[2017-04-11 02:56] kokoniiruyo commented on #13345
`build.gradle` => `android` => `buildToolsVersion "25.0.0" `can fix it.

[2017-04-11 02:58] qianyanseu commented on #13010
@armenr Tried your solution but no luck. Are you using swift or Objective-C? What is your Xcode version?

[2017-04-11 03:39] HyperSimon commented on #8960
@kulmajaba It work for me, Can you tell me what is the reason?

[2017-04-11 05:08] JoeyCurry commented on #3406
`flex:0` fixed my problem
thanks  @damathryx

[2017-04-11 05:31] EgaSetya opened #13435 "Error after upgrading to React Native v0.43.3"
My project was running with no problem after upgrading however I got below error after upgrading:

![852106577_16469732896538723675](https://cloud.githubusercontent.com/assets/8707375/24894115/4415ea2a-1eb2-11e7-98d6-8c640323c861.jpg)

And when I run **npm start** I got below error:
<img width="570" alt="screen shot 2017-04-11 at 12 30 08 pm" src="https://cloud.githubusercontent.com/assets/8707375

[2017-04-11 05:37] wagstaffwm commented on #11257
+1 - i've gutted 2 projects now because of this, yikes

[2017-04-11 06:06] faceach commented on #13394
As React Native use UIWebView, I think you can't inject JavaScript before WebView load finished.

But in WKWebView, you can inject JavaScript at document start via API:
`- (instancetype)initWithSource:(NSString *)source injectionTime:(WKUserScriptInjectionTime)injectionTime forMainFrameOnly:(BOOL)forMainFrameOnly;`

[2017-04-11 06:19] dbarros opened #13436 "[TextInput] Text longer then visible area is hidden."
### Description

When creating a TextInput, and I enter more text than can be displayed in a single line component, the text and cursor does not move to be visible as I continue to type.

### Reproduction Steps and Sample Code

Create a TextInput:

[code]
When the app is run, and you enter text in the TextInput, as soon as you get to the right edge of the TextInput, the cursor runs off to the righ

[2017-04-11 06:39] pencilso opened #13437 "I'm sorry to bother you,Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'."
In the existing Android project, the introduction of RN.
compile "com.facebook.react:react-native:+" // From node_modules.
 maven {
            // All of React Native (JS, Android binaries) is installed from npm
            url "$rootDir/../node_modules/react-native/android"
        }
Then run the project in Android Studio, throw an exception.

FAILURE: Build failed with an exception.

* What went

[2017-04-11 06:46] huowenxuan opened #13438 "Can't find variable: FlatList"
**
"react": "^16.0.0-alpha.6",
"react-native": "^0.43.1",
**

crash on android

com.facebook.react.common.JavascriptException: TaskQueue: Error with task : Can't find variable: FlatList, stack:
value@650:17942
_renderValidatedComponentWithoutOwnerOrContext@256:8564
_renderValidatedComponent@256:8731
_updateRenderedComponent@256:7741
_performComponentUpdate@256:7178
updateComponent@256:6222
perform

[2017-04-11 07:08] achakra21 commented on #11257
@wagstaffwm i resolve this by downgrading the React-Native can you please mention exactly which scenario you got this error..In my case my  node module was corrupted..

[2017-04-11 07:21] stephlm2dev commented on #13436
I had the same problem until I remove the `width` property style on the `TextInput` and wrap it in a View where you can specify the `width`. Something like this:

[code]

[2017-04-11 07:22] Thomas101 commented on #13345
Upgrading to fresco 1.0.1 fixed for us. Thanks everyone!

[2017-04-11 07:24] jt100xu commented on #13339
I've integrated ReactNavigation today, and I'm facing with this issue.
Any solutions for this please, maybe downgrade @react version or @react-navigation version?
` "dependencies": {
    "react": "^15.4.2",
    "react-native": "0.43.3",
    "react-navigation": "^1.0.0-beta.7"
  },
  "devDependencies": {
    "babel-jest": "19.0.0",
    "babel-preset-react-native": "1.9.1",
    "jest": "19.0.2",

[2017-04-11 08:25] yanush commented on #13010
armenr solution worked for me.
I'm using RN 0.43.2, Xcode 8.3.1
These are the steps that I took:
1. Show the Project navigator
2. Click on your project in the tree
3. Select a project target to the first target in your Targets list
4. Switch to General tab
5. Scroll to the bottom of the tab
6. Click the + button
7. Add libjschelpers.a
8. Product -> Clean
9. Product -> Build

[2017-04-11 08:28] sospedra commented on #13435
Probably you already tried this but:

1. Close all the RN related processes: the packager, em/simulators, etc.
2. `rm -rf node_modules`
3. `npm i` // `yarn`
4. `watchman watch-del-all`
5. `npm start -- --reset-cache`
6. `react-native run-{os}`

[2017-04-11 08:43] #13438 closed

[2017-04-11 09:01] EgaSetya commented on #13435
I got error on step 3,
<img width="560" alt="screen shot 2017-04-11 at 4 01 00 pm" src="https://cloud.githubusercontent.com/assets/8707375/24901074/245f395c-1ed0-11e7-98df-ab3729d01107.png">

[2017-04-11 09:14] sunxlfred opened #13439 "Tried to show an alert while not attached to an Activity"
* android 7.0
* react-native 0.43
* when i use the 'alert' in an android app which integrated the react-native
the code after:

[code]

it give me the warning like this and no dialog show
* ![](https://raw.githubusercontent.com/sunxlfree/RES/master/rn_alert.png)
* ![](https://raw.githubusercontent.com/sunxlfree/RES/master/rn_alert2.png)

[2017-04-11 09:29] ankittyagi commented on #11655
Facing the same issue. Anyone resolved it

[2017-04-11 09:38] ifalldev commented on #11257
I resolved this using the `react-native-git-upgrade` package instead of `react-native upgrade` to upgrade the project. And because this package use `yarn` i had to use it instead of `npm`.

So, i did something like that:

[code]

[2017-04-11 09:38] vjtc0n opened #13441 "Could not remote debugging on real devices"
Hello,
I'm facing this issue recently.

Description: it was like my mac released the app to my phone, not debug and I don't know why.
Even I turn off the packager, the app still runs like normal way.
And I see no hot reloading and some other options.

More weird, when I use other iphones, the debug process is correct like I did before, but my phone still happens the above issue.

Does anyone have

[2017-04-11 10:08] joncursi commented on #13365
Thanks for the heads up. The problem with moving it out is that it won't scroll with the flat list though.

[2017-04-11 10:12] liftyourgame commented on #13309
I get the same issue with react@16.0.0-alpha.6 installed
I even tried removing node_modules first and then installing react@16.0.0-alpha.6 first before running npm install

[2017-04-11 10:24] liftyourgame commented on #13309
Upgrading npm seems to fix the issue:

`npm install npm@latest -g`

[2017-04-11 10:25] Dharmoslap commented on #637
We definitely need to find way how to run React Native Packager with `--preserve-symlinks` option.

[2017-04-11 10:44] cskaynar commented on #6875
By changing node executable path in build.gradle(app) works for me.
[code]

[2017-04-11 10:49] mediaxtend commented on #11655
RN 0.43.3 now support flow-bin@0.40.0.
This works:
[code]

[2017-04-11 10:52] MyGuySi commented on #13435
Do you have any errors before the screenshot you posted?

I'm getting `@providesModule naming collision` so wondering if you're seeing the same thing

[2017-04-11 10:55] jurmous commented on #11655
Same issue. I resolved it by going back to 0.40 and adding .*/Libraries/.*/__flowtests__/.* to ignore

[2017-04-11 11:25] sospedra commented on #13435
@EgaSetya `EISDIR` use to happen when a `package.json` is not found in the repo. Are you placed at root of your project? Is there a `package.json`? If don't just run `npm init`

[2017-04-11 11:32] hitbear518 opened #13444 "RN43 can't open dev menu when integrating with existing iOS project"
### Description

I have an iOS app integrating react-native, after upgrade to 0.43.3, cmd+D can't open dev menu any more.
I tried a empt project, i didn't work either.

### Reproduction Steps and Sample Code

I have an empty repo which can reproduce this bug
https://github.com/hitbear518/IntegrationBug

I haven't test Android yet

### Additional Information

* React Native version: 0.43.3
* Platfo

[2017-04-11 11:34] EgaSetya commented on #13435
@MyGuySi I don't have any error before updating my react native version, just a few conflicts at MainApplication.java

@sospedra package.json is there inside the project folder.

[2017-04-11 11:40] idancali opened #13445 "The Windows packager launcher script does not pass all arguments"
### Description

I'm hooking into the packager script and on Windows the script does not pass all the arguments, as the non-windows script does.

### Reproduction Steps and Sample Code

If you execute the `packager/launchPackager.bat` with arguments, those arguments are not passed along the the underlaying node process (cli.js)

### Solution

This line in the`packager/launchPackager.bat` script

`

[2017-04-11 11:42] idancali commented on #13445
I'm working on a pull request to fix this.

[2017-04-11 12:15] dennisobel commented on #13424
@anttimo
so i took your advice and moved some code around. Thank God there was no errors, but...the start button isn't performing it's purpose.

here's the revised code.

import React, { Component } from 'react';
import { AppRegistry,
    Text ,
    StyleSheet,
    View,
    TouchableHighlight,
    } from 'react-native';

class AwesomeProject extends Component {

  constructor(props){
	super(props

[2017-04-11 12:26] dennisobel commented on #13424
onPress() isn't doing anything

[2017-04-11 12:27] iroshanAV commented on #13309
@liftyourgame yes, that solved my problem too :D

[2017-04-11 12:30] dennisobel commented on #12319
hi, i'm new to reactnative. i have this stop watch i have been experimenting with but it isnt working. it doesnt display any errors, i think the onPress() isn't doing what it's supposed to.......

import React, { Component } from 'react';
import { AppRegistry,
    Text ,
    StyleSheet,
    View,
    TouchableHighlight,
    } from 'react-native';

class AwesomeProject extends Component {

  constr

[2017-04-11 12:47] tminard commented on #12216
Same issue. What is going on?

react-native-cli: 2.0.1
react-native: 0.43.3

[2017-04-11 12:56] ansmonjol commented on #13441
Did you tried `adb reverse tcp:8081 tcp:8081` before running your app ?

[2017-04-11 12:58] tminard commented on #12216
@stilllife00 I think I may have found it. My issue was due to a missing package name in my debug AndroidManifest.xml file. Ensure your manifests have a valid  package="com.<packagenamespace>" attribute:

`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.<package>">

...

</manifest>`

[2017-04-11 13:36] agrass opened #13447 "Objects are not valid as a React child"
Hello!

Some times I'm getting this error:

`com.facebook.react.common.JavascriptException: Minified React error #31; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7BLocation%20Example%7D&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings `

`Objects are not valid as a Reac

[2017-04-11 13:39] cjmling commented on #12717
Having same issue. :'(    same version , using expo , swiftkey

[2017-04-11 14:00] spencewine commented on #12754
I had this error and it was due to my xcode workspace file. I was lucky in that I hadn't done much work in the workspace, so I deleteed it and now it builds.

[2017-04-11 14:19] GianlucaGuarini opened #13448 "Modules resolution does not support relative paths"
### Description

The modules resolution does not support relative paths out of the project root

### Reproduction Steps and Sample Code

In any of `index.ios.js` or `index.android.js`
[code]

### Solution

I have spent hours using symlinks, `npm link`, changing the project root via `cli.config.js` `projectRoots` and last but not least  `babel-plugin-module-resolver` but none of these solutions see

[2017-04-11 14:27] rmevans9 commented on #13416
Hey @krishbhattacharyya - Your reproduction steps don't really help anyone reproduce this issue. Can you get it to happen in a simple app so that others can see the code that you are encountering an issue with?

[2017-04-11 15:35] vjtc0n commented on #13441
@ansmonjol thanks for your advice but it doesn't work.

But I could handle it by restarting my mac and reboot my phone, my internet modem aswell as deleting derived data.
And now it works like a charm...Still I don't know why but maybe it's an issue from xcode.
I think we could close the topic from now.
Thank you.

[2017-04-11 15:36] #13441 closed

[2017-04-11 15:42] vonovak commented on #13447
http://stackoverflow.com/questions/33117449/invariant-violation-objects-are-not-valid-as-a-react-child

[2017-04-11 15:47] vonovak commented on #13439
try to show the alert after a timeout, eg 100ms

[2017-04-11 15:49] ericchuawc commented on #13309
@liftyourgame his approach works for me too :) hooray

just i got a warning, not sure is there any side effect?

npm WARN react-test-renderer@15.4.2 requires a peer of react@^15.4.2 but none was installed.

hmm?

[2017-04-11 15:53] sexykodo commented on #11489
0.43.1 and Flatlist,  onEndReached never called on Android

[2017-04-11 15:54] ansmonjol commented on #13448
I think there is a way to tell your project that the default folder name is `MyProjectName` in RN but I don't really remember how  😕
So you could write
[code]
I think it's auto defined when you init your project with a given name

---

Do you have webpack in your project ?
If yes, you can create some `alias`  to define some folder you'll use a lot (like assets or shared components folder)

It look

[2017-04-11 16:09] danielfeelfine commented on #12829
@Tiago-Marques, for now the solution is:

1. Go to this line: https://github.com/facebook/react-native/blob/efcdef711eba82b2905d237ee9a3d094652c37ac/Libraries/Components/Picker/PickerAndroid.android.js#L119

2. Change to this:

[code]

It should be work

[2017-04-11 16:20] gpminsuk commented on #13400
@ssssssssssss No it didn't help. As in the screenshot, I don't think it is really heavy rendering task. I wonder how it affects performance?

[2017-04-11 17:23] #13447 closed

[2017-04-11 17:25] hramos commented on #13437
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-04-11 17:25] #13437 closed

[2017-04-11 18:01] Akath19 commented on #12808
@Crash-- , I can confirm it's related, here's my test:

- react-native init test
- Run without remote debugging -> ok
- Activate remote debugging -> crash (same stack trace as @janicduplessis posted)
- Apply ugly fix by @sarriaroman in #10080
- Activate remote debugging -> ok

Also, it's only happening on Android 7.0+ devices.

[2017-04-11 18:04] juanviola commented on #13384
Hi guys, I'm having the same issue, have you found a way to fix it?

[2017-04-11 18:11] yloeza commented on #11906
@christopherdro is there any news/progress around this issue?

[2017-04-11 18:13] Rewieer opened #13450 "Fetch : talk about response.headers.map in the doc + iterator exception"
I'm using Fetch in my project and i've come to realise that when using standard developer mode, I cannot use Iterator to loop through the entries of the Header object, but a "map" object is provided in the header. When i'm starting the JS Debugger with Chrome suddenly the entries iterator works. Maybe the fetch API relies on Chrome when Debugging and Native when it's not, but it's been weird to tr

[2017-04-11 18:20] tianxind opened #13451 "OpenGL based native view appears blank when connected to JS debugger on iOS"
### Description

I have enjoyed this framework a lot, but here is something that has been bugging me for a few months: I have written my own UIView that makes OpenGL calls to render itself. It works fine if I don't enable "Debug JS remotely" or "Reload JS" after the app builds and loads the first time. However, if I do those two things above, the OpenGL view will be completely blank. I integrate t

[2017-04-11 18:33] tianxind commented on #10433
I am also seeing a crash in RCTImageLoader, it is actually loading a local image using the require('xxx.png') syntax. Does anyone else experience this problem? Also I am wondering why it is still involving NSURLSession if it is just loading a local image? Thanks!

* thread #29: tid = 0x6ed912, 0x0000000192ee7014 libsystem_kernel.dylib`__pthread_kill + 8, queue = 'com.apple.root.default-qos', stop

[2017-04-11 18:35] jianglinchun opened #13452 "Customize cookie header with Fetch not working"
[environment]
react-native: 0.42.3

[issue]
customize cookie header in fetch failed while same customize header works fine with curl in shell.
For some reason. The cookie which response from 'Set-Cookie' header in the response object should be transform to another format.
For example:
First Response:
`……
Set-Cookie:  qSessId=xxxx,path=/;
……`

Next request:
`……
Cookie: qSessId=xxx; DWRLOGGEDID=xxx;

[2017-04-11 18:52] ccorcos commented on #13394
Hmm. Well you could fetch the HTML as a string and inject JavaScript that way...

I'm considering using React Native instead of Cordova so this might be out of scope.

[2017-04-11 19:18] dennisobel opened #13453 "Button not responding as should. handleStartPress() handles that functionality."
var formatTime = require('minutes-seconds-milliseconds');
import React, { Component } from 'react';
import { AppRegistry,
    Text ,
    StyleSheet,
    View,
    TouchableHighlight,
    } from 'react-native';

class AwesomeProject extends Component {

  constructor(props){
	super(props);
	this.state={timeElapsed:null, running: false};

	}

  render() {
    return (

    <View style={styles.contai