[2020-08-19 02:15] ktjd123 commented on #29417
I fixed it by removing react-native-cli

[2020-08-19 03:25] LenKagamine commented on #23693
The [workaround](https://github.com/facebook/react-native/issues/23693#issuecomment-662860819) by @trongitnlu works for me, but an alternative is to use [react-native-safe-area-context](https://github.com/th3rdwave/react-native-safe-area-context) and grab the frame width and height from there. This also seems to work with Android navigation buttons @Bardiamist.

[code]

A frame equivalent of  `wit

[2020-08-19 04:45] gedeagas commented on #29638
@safaiyeh just checked this on RNTester and it seems that the comment is wrong. On Android, the `measureInWindow` function does not include things like the status bar.

The function will return `x:0 y:0` instead of `x:0 y:${px from statusbar}`. That said I don't know what the correct "behavior" is.

haven't tested the behavior on iOS.

[2020-08-19 04:47] qcmoke commented on #28551
**The solution you provided is effective, but it still does not work for files starting with "file:///".**
**E.g:**
- This can work: `formData.append('files', {uri:'https://xxx.jpg', type:'image/jpeg', name:'test.jpeg' })`
- This does not work: `formData.append('files', {uri:'file:///xxx.jpg', type:'image/jpeg', name:'test.jpeg' })`

My react native version：
[code]

[2020-08-19 05:03] gedeagas commented on #29682
@imansalhi you can't start `Intent` from a background process in the newer android version. These restrictions help minimize interruptions for the user and keep the user more in control of what's shown on their screen. Because `Linking.openURL` rely on Android intent the same rules applies.

You can read more about this here.
https://developer.android.com/guide/components/activities/background-sta

[2020-08-19 05:12] philywu commented on #28824
remove flipper works for me, although it's not a perfect solution....
https://github.com/facebook/flipper/issues/1326

[2020-08-19 06:07] AlexanderIgnacz opened #29690 "Unable to resolve module in bundling iOS"
## Description
When I run the app with `release` build configuration of XCode, I get following build error though the app works very well in development build.
[code]

In my `app/App.js`, I just import Utils from `navigation`, which is located at `app/navigation/index.js`
[code]

Meanwhile, I set the `module-resolver` correctly from `babel.config.js` file.
[code]
## React Native version:
System:

[2020-08-19 06:11] gedeagas commented on #29638
Related issue https://github.com/facebook/react-native/issues/19497

[2020-08-19 06:19] AlexanderIgnacz commented on #29690
This helped me to solve.
https://github.com/facebook/react-native/issues/25522#issuecomment-673317744

[2020-08-19 06:19] #29690 closed

[2020-08-19 07:10] waheedakhtar694 commented on #29520
@safaiyeh I manage to fix this issue, actually, the bar was not hiding it was changing its color, there were few issues but the main issues were Webview changes the color of the bar when input becomes in focus, this solution worked for me

https://github.com/react-native-community/react-native-webview/issues/735#issuecomment-570935900

[2020-08-19 07:10] #29520 closed

[2020-08-19 07:12] safaiyeh commented on #29520
Glad you found a fix! @waheedakhtar694 that is odd behavior from WebView, should not be happening

[2020-08-19 07:12] JencirJamal commented on #29681
Hi @safaiyeh , I can test it in the latest  **v0.63** version of react-native, But i guess the bug is still there in this line of code in your repo https://github.com/facebook/react-native/blob/75a617827963fd53f5f36987677a992e137eaebf/React/Base/RCTBridgeModule.h#L146

There is the below PR which was suggested by some other developer who already had this issue 2 years back, he has done the fix for

[2020-08-19 07:13] EgbertYuan commented on #27204
react-native: "0.61.5", device:xiaomi  MI 8 SE,android10,MIUI 11.0.3
In my project  , it worked.Just add  View in outside.Maybe you can try try
`<View>
                    <TextInput
                        keyboardType={'email-address'}
                        multiline={false}
                        placeholder={'请输入邮箱'}
                        onChangeText={(inputData) => {

[2020-08-19 07:16] safaiyeh commented on #29681
Appreciate it, it looks like that PR needs to be reopened for discussion as the submitter didn't sign the CLA.

[2020-08-19 08:17] luatnd commented on #28278
This issue still occurs

[2020-08-19 08:31] gedeagas commented on #29638
@safaiyeh Just confirmed there is a feature parity problem between iOS and Android. The ios return y with status bar height while the android implementation does not. This issue is first discovered on #19497 and mentioned on RN Issue Triage Group 2 https://github.com/facebook/react-native/issues/24029.

I already make WIP PR on this but need a proper review from the React Native team. ( Multi Wind

[2020-08-19 09:17] xiao99xiao commented on #29633
Update: issue still exists with Xcode 12 Beta 5. Also, upgrading Cocoapods to 1.10 beta doesn't help.

The issue seems to be related with React Native's Auto-linking. So building a React Native only project won't be affected, but if you bring in some libraries like react-native-safe-area or react-native-webview , the compiling fails.

After compare the affected targets and other React Native targe

[2020-08-19 09:47] hanaechahid opened #29692 "react native app crashed on android 10"
## Description
Hello, I have a bug on my react native application, the last one crashes and closes only on Huawei HUAWEI P30 lite (HWMAR) (android version 10)

here is what i got on google platform:
[code]
how can I solve this? help please!

## React Native version:
React Native Environment Info:
    System:
      OS: macOS 10.15.4
      CPU: (4) x64 Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz

[2020-08-19 11:29] nahttoter commented on #29028
Hi everyone
Any updates on this?
Shall we treat them as some major issues or just warning that may not affect the end-users?

[2020-08-19 11:53] imansalhi commented on #29692
@hanaechahid  place this code in package.json

[code]

[2020-08-19 11:53] johnneuland opened #29693 "<View> and rows overlap with each other in Android"
## Description
I map some text, along with an icon (as rows). This works well in iOS but the rows overlap in Android.

## React Native version:
3.0.4

## Steps To Reproduce

[code]

This is where I am calling the component:
[code]

## Expected Results
The UI should be consistent in both, Android and iOS. I should be able to click on the icons on both platforms.

## Snack, code example, screenshot,

[2020-08-19 11:59] johnneuland opened #29694 "SafeAreaView only shown at bottom"
## Description

The **SafeAreaView (red coloured)** works well on all screens except this one, even though I am using the same styling everywhere. It is supposed to be shown at the top and bottom both. Here it is only shown at the bottom and not at the top. In this case, it is being hidden by the **View (in pink).**

I am afraid this could be because of how I navigate to this screen from the previ

[2020-08-19 12:11] hanaechahid commented on #29692
@imansalhi thank you for the reply, but I have already used this solution but didn't work  because isn't a JSStackTrace error if you have seen the logs error

[2020-08-19 12:30] #29693 closed

[2020-08-19 12:43] qam12 commented on #27548
Try this
xyz{
elevation: 4
}

[2020-08-19 13:25] Arjanvanmaren opened #29695 "Metro bundler starts with release scheme xcode"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
XCode starts bundler while running an app via the release scheme.

## React Native version:
"react": "16.13.0",
"react-native": "0.61.5",

## Version XCode
Version 11.6 (11E708)

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Set Run scheme

[2020-08-19 13:43] mrousavy commented on #29604
@safaiyeh I don't know what I changed, but I got it working now. Maybe some cache misses? I might also have had typos in the gradle files' project name.

[2020-08-19 13:43] #29604 closed

[2020-08-19 13:45] mrousavy commented on #29618
@safaiyeh My issue seems to have been fixed the same way as https://github.com/facebook/react-native/issues/29604. I think what fixed it was pinning the hermes engine to 0.58 and then cleaning everything and re-checking gradle files for spelling errors (had app name set to `Springsale` instead of `springsale`)

[2020-08-19 13:45] #29618 closed

[2020-08-19 14:06] ndotie commented on #21002
Check on your conditional styles where width is determined thru logic, either true or false is feeding BOOLEAN to your width, which is unexpected

[2020-08-19 14:09] JB-CHAUVIN commented on #29460
Same issue goes for me. Android release build crashes when using react-native 0.62.

[2020-08-19 14:12] clems36 commented on #21002
I did that. Turned out it was the dark mode an Android that made the app crash for me. Turn dark mode off and it does not crash anymore.

[2020-08-19 14:52] desmondmc commented on #26400
Closing this issue as the original bug as described has been fixed.

[2020-08-19 14:52] #26400 closed

[2020-08-19 15:13] igoriols commented on #29633
Hi @xiao99xiao , thanks for your help. Just let me see if I understand it right: this is script adds `React.framework` to `Link Binary With Libraries` build phase for each native library pods (the ones Auto-linked) that uses react-native. Is that right?

I used the following script:
[code]

The `Undefined symbols for architecture x86_64` errors persists and the script didn't add `React.framework`

[2020-08-19 15:20] agusvazquez commented on #29688
Hey @safaiyeh thanks for your response.

I have created a new project with the same structure as my real project, but I just wasn't able to reproduce the issue.
This is the project if you want to check it out.

https://github.com/agusvazquez/BlankScreen-Demo

Apologies for not being able to give you all the feedback you need. I will keep working on reproducing the issue.

[2020-08-19 15:47] safaiyeh commented on #29688
A quick check of the react-native-screens repo, I saw some issues concerning the blank screens. Could you check if those are helpful?

[2020-08-19 15:51] safaiyeh commented on #29688
Also I found this issue, does their fix work for you? https://github.com/facebook/react-native/issues/26400

[2020-08-19 15:58] safaiyeh commented on #29695
Hi @Arjanvanmaren I would need more details. Could you provide a video, a repro, or something that shows this happening? And verify it happens on 0.63

[2020-08-19 16:00] agusvazquez commented on #29688
Yes! I have been googling and tried most of the solutions on react-native-screens repo. I will check again, perhaps I missed something.

About #26400 , I saw that one is related to android only, and in my case it happens on both Android and iOS with more occurrences on iOS on the first launch.

[2020-08-19 16:00] safaiyeh commented on #29692
Hi @hanaechahid thank you for the issue. Your React Native version is a bit dated, could you verify this happens on 0.63. Also could you provide a repro? It will be helpful to understand what code is causing this.

[2020-08-19 16:03] safaiyeh commented on #29694
Hi @johnneuland could you provide a Snack that demonstrates this without react-navigation? My hunch is that react-navigation handles safe area views differently.

[2020-08-19 16:07] safaiyeh commented on #29028
Hm yeah the current OkHttp version is 3.12.1

https://github.com/facebook/react-native/blob/6a78b32878aea1b0dac98ff36378fb9392d4aeb1/ReactAndroid/gradle.properties#L16

We need to upgrade this version.

[2020-08-19 16:08] safaiyeh commented on #29638
@gedeagas appreciate the PR!

[2020-08-19 16:10] johnneuland commented on #29694
If I create a separate screen, then this issue doesn't exist. Generally, on other screens too, the SafeAreaView works fine.

[2020-08-19 16:19] naveen-c commented on #29633
@xiao99xiao thanks for the workaround, it's compiling for me now.

@igoriols you might need to update the script a bit as per your use case.

Pasting the script that worked for me:

[code]

[2020-08-19 16:20] xiao99xiao commented on #29633
@igoriols Sorry, I forgot to mention that I used `:generate_multiple_pod_projects => true` in my Podfile.
Therefore my pod project structure is different from yours.
You could either
add `install! 'cocoapods', :disable_input_output_paths => true, :generate_multiple_pod_projects => true` to your Podfile and try again,
or
rewrite the code to adapt to your pod target structure. To be more specificly,

[2020-08-19 16:22] safaiyeh commented on #29694
This might be a bug with react-navigation could you a file an issue with them?

[2020-08-19 16:23] MatiSera commented on #27712
I'm having the same issue on iOS

[2020-08-19 16:27] chrisglein commented on #28510
There's some solutions suggested above. Running git bash admin, installing that package. With those is anyone still blocked here?

[2020-08-19 16:39] johnneuland opened #29696 "unable to scroll in scrollView in Android"
## Description
I have a screen where I type in the input field and get search results accordingly. The list is rendered within a ScrollView but it still doesn't let me scroll when the keypad is open (in Android ). In iOS, it works fine.

I tried adding height: 80% to ```dropdown```, it's parent container view. This makes it possible to scroll a bit. However, when the keypad is open I can scroll bu

[2020-08-19 16:41] gedeagas commented on #29028
@safaiyeh are you working on this one? i am free today and can take a look.

[2020-08-19 16:42] chrisglein commented on #29244
Related to #28328 and #29457. As with the accessiblity props, [`returnKeyType`](https://reactnative.dev/docs/textinput#returnkeytype) isn't localized.

This seems to fall in the "not yet implemented" and really are pending a design for how this should be solved (see the linked issues).

[2020-08-19 16:42] safaiyeh commented on #29028
I am not but OkHttp upgrades are dependent on FB. Need to confirm this is a change that would be accepted.

cc @dulmandakh @TheSavior

[2020-08-19 16:49] chrisglein commented on #29238
Without a standalone repro or more context on the places in your app where you think the problem in RN core is there's not much that can be done with this issue. It doesn't seem like there's a way to know if it's app code or core just based on this. I'm not saying you're imagining things, just that it's hard for anyone else to investigate as is - looking at app crashes is generally out of scope fo

[2020-08-19 16:51] gedeagas commented on #29028
Ah ok then, I will leave it to the FB team.

[2020-08-19 16:53] nelsonprsousa commented on #29028
Sad news 😞

[2020-08-19 16:53] #29227 closed

[2020-08-19 16:53] #29226 closed

[2020-08-19 16:59] andresmtz98 commented on #29566
We have facing the same problem also using GET method. Some phones (Android e iOS) doesn't work.

[2020-08-19 17:00] chrisglein commented on #29218
Verified your repro in the Snack. It shows going to background the first time... but then doesn't any time after that. It just gets stuck as 'active'. Was that also what you were seeing?
You said rewriting as a class component fixed this. Do you have that as a Snack to share? I'm not sure if this is a bug in how the functional component is handling the event or in something deeper.

[2020-08-19 17:00] ayushjainrksh opened #29697 "Duplicate props in TextProps"
## Description
The `adjustsFontSizeToFit` prop in [TextProps](https://github.com/facebook/react-native/blob/master/Libraries/Text/TextProps.js) is being exported twice as can be seen [here](https://github.com/facebook/react-native/blob/2e88b25242a8bb1df149d876314234a16766febe/Libraries/Text/TextProps.js#L52) and [here](https://github.com/facebook/react-native/blob/2e88b25242a8bb1df149d876314234a16

[2020-08-19 17:07] EshgheCode opened #29698 "[TypeError: Network request failed] either with fetch API or axios on android"
I have a problem with fetching an API on my code I use both fetch and axios but the result is same:
`[type error: Network request failed]`

here is my code for fetch:
`useEffect(() => {
    fetch('https://jsonplaceholder.typicode.com/users')
      .then((res) => res.json())
      .then((data) => { console.log(data) })
      .catch((err) => console.log(err))
  }, []);
`

I don't use an emulator bec

[2020-08-19 17:09] chrisglein commented on #29648
Yeah, that's some different looking shadows for sure :o. Do you know how aligned the native layers are in capabilities here? How much can RN create a unified shadow experience versus is limited by what native can do. Shadows is one of those areas that's likely going to have some big differences under the hood (I'm thinking about what Windows would do here and, yeah, that's also going to be differe

[2020-08-19 17:13] chrisglein commented on #29633
Sounds like there's a workaround available for now (other than not using the beta). Anyone here know what the fix would actually be to that native iOS implementation to address this on the inside? At some point beta not going to be beta anymore and this will need to be fixed.

[2020-08-19 17:16] mohamad7694 commented on #26575
hello
npm install -g expo-cli --force
it works
thanks

[2020-08-19 17:18] chrisglein commented on #29583
It would be helpful to have more context on the snippets you've given. Do you have a link to a repo or to a minimized Snack?
Have you tried wrapping the whole logic inside a setTimeout to see if moving them outside the lifecycle events helps?
Definitely seems weird that this occurred as a result of an upgrade.

[2020-08-19 17:22] scobo commented on #29608
Hi! Your assumption is correct. I created an Android Emulator for a Pixel 3 with API 29. It worked Monday, but after logging in today the fetch example is failing to render again. Flipper indicates the GET was successful:

[code]

…but the app itself isn’t rendering the results. Again, it was working on Monday and all I’ve done is reboot.

[2020-08-19 17:27] jjhampton opened #29699 "getCurrentActivity sometimes null inside componentDidMount"
Duplicate of https://github.com/facebook/react-native/issues/18345

Please re-open this ticket. The original was closed by stale-bot, but it is still occurring as of React Native 0.60.5

Thank you.

[2020-08-19 17:31] andresmtz98 commented on #29487
+1

[2020-08-19 17:32] chrisglein commented on #29548
If I'm reading this right (and let me know if I'm not), at this point this is less of a suspected issue with the platform and more of a question about how to do components with Kotlin. Given that, we try to forward that kind of question to StackOverflow and focus this repo on issues with the platform.

[2020-08-19 17:33] #29548 closed

[2020-08-19 17:38] yschimke commented on #29028
Won't they override with a proxygen implementation internally?  I hope it's non contentious for them.

[2020-08-19 17:45] scobo commented on #29608
Just tried this on an actual Android device (Pixel 4) and I’m getting the same result. And just tried in an iOS Simulator and I get a loading spinner there that never resolves.

[2020-08-19 18:02] Dellybro commented on #29596
@safaiyeh

![Screen Shot 2020-08-19 at 10 58 50 AM](https://user-images.githubusercontent.com/10732096/90672515-1569e300-e20b-11ea-84f5-6f8858035caa.png)

[code]

[2020-08-19 18:10] xiao99xiao commented on #29633
I think the easy way is to modify the packages/platform-ios/native_modules.rb file, to add the React.framework link dependency to each pod. However I have little knowledge about ruby, hope someone else could have a look at it.

The hard way is to dive deep and see why Xcode 12 requires a React.framework linking while Xcode 11 doesn't, which I don't have a clue yet.

[2020-08-19 18:26] areebmkareem commented on #28551
the same issue tried upgrading flipper but not working.

[code]

[2020-08-19 18:47] sdandois commented on #27712
+1

[2020-08-19 19:12] arasrezaei commented on #29698
same here, those api's are so unstable on android:
i have another similar problem with them:
https://github.com/facebook/react-native/issues/29267

[2020-08-19 19:25] algera commented on #29521
@jbrunton This looks good - Removing the `import React` and utilizing the bridging header with `#import <React/RCTRootView.h>` is working sufficiently. Closing this issue.

[2020-08-19 20:12] EshgheCode commented on #29698
I saw your issue. and I try to use my code on snack, and it worked properly :

https://snack.expo.io/aXH9PxyIS

I just wonder why it doesn't work on a real device.
isn't that because of my Android version which is quite old?

[2020-08-19 20:13] Traviskn opened #29702 "TextInput onContentSizeChange returns incorrect layout size instead of content size on Android"
## Description
The `onContentSizeChange` prop of the `TextInput` component does not work on Android as it does on iOS. On Android it seems to be returning the layout height and width of the `TextInput` view, rather than the height and width of the text.

This same issue has been reported before in https://github.com/facebook/react-native/issues/25487 and https://github.com/facebook/react-native/is

[2020-08-19 20:19] AndriiChubariev commented on #23578
Experience the same bug right now. Basically there is no way to implement something as simple as masked input.

[2020-08-19 21:10] AndriiChubariev commented on #28931
Noticed it as well!

[2020-08-19 21:19] hbluestar27 commented on #28551
How about iOS?

[2020-08-19 21:29] defualt commented on #28931
Press R, and then press Command + R

[2020-08-19 23:05] otorenbosch opened #29703 "FAILURE: Build failed with an exception"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
FAILURE: Build failed with an exception.

* Where:
Script 'C:\Users\Temp\zoekapp\node_modules\react-native\react.gradle' line: 238

* What went wrong:
A problem occurred configuring project ':app'.

## React Native version:
System:
    OS: Windows 10 10.0.18363
    CPU: (4) x64

[2020-08-19 23:41] DiegoBM commented on #28844
Same error here.

It's definitely an error relative to sourcemaps. When you try to fetch the url for the sourcemaps it will dump that error. If you disable sourcemaps for both js and css in devtools settings, it won't show any more errors. I'd say that it's either not generating or not serving them?

Anyone knows why could that be? In my case it's happening in Windows

[2020-08-19 23:47] Docwali777 commented on #26331
I found this video which fixed the issue for me

- https://www.youtube.com/watch?v=eCs2GsWNkoo

[2020-08-20 00:58] lumberman commented on #28992
Anyone from this thread was able to solve the problem or have more info, please?

[2020-08-20 02:46] Duringzha commented on #26825
npx jetify
npx cap sync

[2020-08-20 03:09] speed1speed1 commented on #17968
No, I used RN 0.63.2 for my custom camera.
I still need to do this for now.

[2020-08-20 03:45] SYNTAG commented on #28551
Having this issue on iOS as well. Tried changing Flipper's version from 0.33.1 to 0.50.0 and above in my Podfile.

@abumostafa's suggestion made it work for Android but still not able to get it to work on iOS.

[2020-08-20 05:54] choubeyaakash77 commented on #29686
Hi @safaiyeh I am unable to reproduce it as it's happening on client devices with no obvious pattern. I'm using Android's firebase sdk for remote config, since the app was a mature Android native app and react-native is just a small part added later.

[2020-08-20 06:23] sudeepdino008 commented on #29633
+1 having the same issue.

[2020-08-20 07:21] tirthjivani commented on #29648
Yess Chris indeed finding a way to bring this look. I have explored native layers but I don't think so it will work with this, instead, I'm trying to switch to Android 29 and try to implement this https://developer.android.com/reference/android/view/View#setOutlineSpotShadowColor(int).
Yeah, shadows will be an important key for UI in the future.

[2020-08-20 07:47] jaworek commented on #29218
If I remember correctly, Snack with class component implementation provided in the official React Native documentation works as intended.

[2020-08-20 08:38] KhataeiAmin commented on #25852
use `npx react-native link`

[2020-08-20 08:44] slonv23 commented on #25782
For me no.

[2020-08-20 09:07] SYNTAG commented on #29364
None of these patching solutions seem to work on the latest version of React Native `0.63.2`

[2020-08-20 09:09] harrigee commented on #29364
For is https://github.com/facebook/react-native/issues/29364#issuecomment-670150318 did the trick.

[2020-08-20 09:25] SYNTAG commented on #29364
Sorry, I should've been more clear. The token error goes away with that patch but still can't upload the actual image. Might be related to Flipper/Network issues with the latest version of React Native.

Also, I found this 2 liner patch that gets rid of the missing request token error instead of doing `RCTLocalAssetImageLoader.mm`.

[2020-08-20 09:38] ivanmoskalev commented on #29703
Could you please post here contents of the following files:
1. `android/build.gradle`
2. `android/gradle/wrapper/gradle-wrapper.properties`

It is likely that the project is using an outdated version of Gradle. You can try to ensure your `android/gradle/wrapper/gradle-wrapper.properties` contains [this](https://github.com/facebook/react-native/blob/master/template/android/gradle/wrapper/gradle-wra

[2020-08-20 09:41] 2ducanhpham commented on #29379
same problem

[2020-08-20 10:17] otorenbosch commented on #29703
Package.json
![image](https://user-images.githubusercontent.com/69941158/90758049-b2498080-e2de-11ea-85ef-29077d60581d.png)

Android/build.gradle
![image](https://user-images.githubusercontent.com/69941158/90758139-d907b700-e2de-11ea-8275-c49e35811bd1.png)

Android/gradle/wrapper/gradle-wrapper.properties
![image](https://user-images.githubusercontent.com/69941158/90758250-06546500-e2df-11ea-845e-

[2020-08-20 10:28] wmonecke opened #29709 "iOS unable to archive [RN 0.63.2] - Target 'React-Core.common-AccessibilityResources' has create directory command with output"
## Description
I am unable to archive the project for release.

## React Native version:
[code]

## Steps To Reproduce
Archive a RN project at `0.63.2` with `new build system` in xCode 11.5 after upgrading from RN `0.61.x` or lower.

## Error encountered:
[code]

# Current Workaround:

Remove target in your `Podfile`. It should look something like this (`react-native 0.63.2`):
Note: **ONLY** remov

[2020-08-20 10:31] danghung24031992 commented on #26245
thank

[2020-08-20 10:40] jbrunton commented on #29521
@algera: Glad it helped! I think it would be useful to keep this issue open, however. At a minimum, it would be good to have someone from the React Native team confirm whether or not this is expected behavior, and update the docs if it is.

If you prefer to keep this closed, I'll open another issue to track.

[2020-08-20 10:44] sureshsu commented on #29210
@fabriziobertoglio1987
Refer to github repo: https://github.com/sureshsu/rn-menu-issue/tree/master/AwesomeProject

[2020-08-20 10:45] otorenbosch commented on #29703
My project is build with react-native 0.48.3 when i try to run-android with this version of react-native i get the following error.
![image](https://user-images.githubusercontent.com/69941158/90760630-77494c00-e2e2-11ea-8e37-25e3559c909c.png)

The suggested solution didnt work.
I found out that after i did an npm install(0.48.3) there were a lot vulnerabilities and i cannot execute npx react-nativ

[2020-08-20 11:56] omonk commented on #28710
fasd

[2020-08-20 12:28] Imperio8 commented on #27008
Had same issue. Switching Automatic Date & Time off and on on my physical device didn't fix this. I noticed the bug was on my emulator as well, so what I did was switch the automatic time on my machine (windows 10) off and on. It worked instantly!

[2020-08-20 13:39] shubhamsingh96 commented on #25537
For me disabling the Hermes engine worked.

[2020-08-20 14:53] AndrewMorsillo opened #29712 ".measure returns undefined on Android unless collapsable=false or onLayout are specified"
## Description
If you call `.measure` on a ref to a `View` on Android but you don't also have `onLayout` or `collapsable={false}` specified then `.measure` will call its success callback with `undefined`.

This issue got closed but it was never fixed https://github.com/facebook/react-native/issues/3282

The issue here is identical, a 5 year old bug! I suspect it's due to android removing "unnecess

[2020-08-20 15:12] aminosman commented on #26252
Facing this issue as well, APK works fine but AAB gives `Could not get BatchedBridge, make sure your bundle is packaged correctly`. Others facing this issue (mostly from 2016-2017) suggest missing JS bundle file but I inspected the AAB and can see then bundle file was at least packaged under `base>assets>index.android.bundle`

[2020-08-20 15:29] amphyxs commented on #26687
Like @weblancaster, I've recieved this error from nowhere. Some days ago I had a good-working app and after I recently launched it, this error appeared. I didn't install any modules or chabged anything. To fix it I've tried to delete and reinstall node modules, clean npm cache, re-link libraries, reinstall react-native and another libraries, but nothing helped. Even if I comment everything in main

[2020-08-20 16:58] PeteTheHeat commented on #29500
Do you have the crash stack trace?

Also what is the ObjC file backing the share native module? From a quick search I couldn't find it 😕  Android is https://github.com/facebook/react-native/blob/96a6ffb3e8070dfc45c5cfb78963afe3422def37/ReactAndroid/src/main/java/com/facebook/react/modules/share/ShareModule.java

[2020-08-20 17:07] agusvazquez commented on #29688
Hello @safaiyeh .

I have been testing this and I realized that this only happens when downloading the app from the Store / Testflight. Running as release mode does NOT reproduce this issue.

Looking for that, I saw this.

https://github.com/microsoft/react-native-code-push/issues/1356

I removed codepush from my project, and now it seems to work fine. I will continue it with them.

Thanks for you

[2020-08-20 17:07] #29688 closed

[2020-08-20 17:30] jurelik opened #29714 "TouchableWithoutFeedback onPress triggers before onPressOut (Android)"
## Description
If you tap a TouchableWithoutFeedback area really fast, the onPress function will trigger before onPressOut, even though the documentation states the folowing:

This happens with a clean app install using "react-native init" using a real Android device or the Android emulator.

## React Native version:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the

[2020-08-20 17:37] igoriols commented on #29633
Thanks to @xiao99xiao and @naveen-c , I was able to use the following script to solve my problem with the workaround:

[code]
**I had to add `yoga.framework` to `react-native-safe-area-context`, also. 😕**

[2020-08-20 18:02] gedeagas commented on #29500
@PeteTheHeat iOS uses `RCTActionSheetManager` https://github.com/facebook/react-native/blob/c8d678abcf93fd3f6daf4bebfdf25937995c1fdf/React/CoreModules/RCTActionSheetManager.mm for the share native module.

@krzysztofnowak interesting. can't seem to replicate it on my new project, will try to replicate this strange behaviour on RNTester.

[2020-08-20 18:20] dylancoots-mwi commented on #15826
Glad to see that after hours of googling, others are having the same issue as well. I set the borderRadius property to 0 and it resolves the issue; however, I wish i could keep my rounded corners >.<

[2020-08-20 18:33] safaiyeh commented on #29688
@agusvazquez Awesome! I'm glad you narrowed down the issue.

[2020-08-20 20:24] Conrador commented on #29709
Try:
$ pod deintegrate
$ pod install

[2020-08-20 20:30] ManuelPortero commented on #23313
Is possible help with this ? I'm a beginner and I think i can learn a lot with this .
Regards.
Manuel Portero.

[2020-08-20 20:43] felire opened #29715 "accessibilityActions is causing problems with accessible props (Android - accessibility)"
## Description
Hi! This is an easy problem to describe.

We have this piece of code:
[code]

Where the `accessibilityProps` are these:

[code]

Me and me team found that `accessible` and `accessibilityActions` can't coexist. I mean, if I want to use this like it's described above. When I click on the first Text or on the second the screen reader will read that text instead of selecting the entire

[2020-08-20 21:08] wmonecke commented on #29709
No this didn't work, I already tried it.

[2020-08-20 22:21] syntag opened #29717 "Android <Text> color becomes invisible when switching back to initial state"
## Description
This happens on `react-native: 0.63.2` on `Android`.

<Text> color is visible initially, however, when you dynamically update a state to change the color of <Text> and then revert it back by changing the state, the text will become invisible. This did not happen on `react-native: 0.62.2` and previous versions. Android forgets what its initial color was unless you explicitly set the

[2020-08-20 23:18] SirhCloud commented on #29689
@safaiyeh yeah, I can have a look and see what I can find thanks.

[2020-08-21 00:10] caiangums commented on #29364
I read on another Issue about updating the Flipper version to lastest and that solve the issue with it. Just check if it's your case! :smile:

[2020-08-21 01:44] SYNTAG commented on #29364
@caiangums I can confirm that in my case updating Flipper to `0.52.1` allowed me to upload but on Android only. I am experiencing this uploading issue on iOS. Is there a way to update Flipper's version on iOS somehow? On React Native `0.63.2` they removed the FLIPPER_VERSION option in the Podfile. Perhaps it will be the same fix.

[2020-08-21 02:58] luyouwei66 opened #29718 "android 4.4 Application crash react-native 6.2+"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Create a new project of version 6.2 or higher without any components. I have not tried the version below 6.2. It should be the same in version 6.0 and above. After turning on multiDexEnabled true and implementation com.android.support:multidex:1.0.1, opening the app will Direct

[2020-08-21 03:01] safaiyeh commented on #29718
Hi @luyouwei66 thanks for the issue. Can you please fill out all the sections of the issue template? Thanks!

[2020-08-21 03:26] hou666 opened #29719 "Android打包后TouchableOpacity点击延迟的问题"
如题，Android打包后某一个TouchableOpacity点击跳转的时候会延迟很久，无报错、跳转的时候并无请求接口，延迟20s+之后仍会跳转到指定页面，并请求页面上的数据，正常显示。
这个延迟很莫名，找不到原因。。。。
前提：模拟器、真机，在调试状态都是反应流畅，并无延迟。仅打包后会出先这个问题。
写法如下：
<TouchableOpacity onPress={() => { this.props.navigation.navigate("PageA") }}>

[2020-08-21 03:28] xfeng-github commented on #29625
System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz
    Memory: 8GB
  Binaries:
    Node: v12.18.2
    Yarn: 1.22.4
    npm: 6.14.5

出现场景是另一个页面goback()，以及选中TextView框后会弹出键盘，但紧接着键盘会自动关闭，出现第一次后第二将不会出现， 以及等待一会首次选中也不会出现

[2020-08-21 04:43] pjivers-bom commented on #23693
That's a really elegant solution. Thank you.

[2020-08-21 04:54] weblancaster commented on #26687
@amphyxs take a look at your imports or any small bug that could have been introduced in the past days. Turns out the error message is pretty vague and could be different things.

[2020-08-21 05:05] TGibsonn commented on #29451
I encountered this issue while handling rotation detection with a web view - it happens immediately on the first render. In my case, a call to `Orientation.lockToLandscape()` or `Orientation.lockToPortrait()` would be invoked before retrieving the window dimensions via `Dimensions.get("window")`. The dimension values, however, would not update after the orientation change.

The packages used:

[co

[2020-08-21 06:05] shubuu97 opened #29720 "Malformed calls are different: field sizes are different."
While scrolling down in a FlatList this error randomly shows up sometimes. It doesn't shows any meaningful error other than these numbers.

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
    Memory: 213.17 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.17.0 - ~/.nvm/versions/node/v12.17.0/bin/node
    Yarn: 1.22.4

[2020-08-21 06:09] juanjsebgarcia commented on #27008
I think what I would consider the end goal for this issue is to have the build tools run the sync time operations as part of a debug build, resolving the need for manual intervention and producing the right experience out of the box.

I'll admit I'm not sure how to approach it myself, but I do think that's the solution.

[2020-08-21 07:06] santhoshbanda commented on #29364
facing the same issue. none of the "fixes" working for me :(

[2020-08-21 07:55] zhfwch opened #29721 "[iOS] Crash in ARTNode setShadow"
## Description
setShadow

## React Native version:
0.62.2
Xcode Version 12.0 beta 3
iOS 14 beta

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. use ReactNativeART to set shadow
2. crash

## Expected Results
Shadows show normally

## Snack, code example, screenshot, or link to a repository:
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACC

[2020-08-21 08:31] MrtYlnzz opened #29722 "Invalid hook call error after upgrading from 0.61.5 to 0.62.2 or further"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
I have a yarn workspace monorepo project which contains a shared folder along with react-native and react projects. Before the upgrade I could build and run both native and web project with no issue. After upgrading to 0.62.2 or further versions I started getting invalid hook ca

[2020-08-21 10:39] marlti7 opened #29723 "Chinese dynamic style not working for TextInput"
I also have a question. if we remove `style={{ fontSize }}` in TextInput, the font size still change due to TextInput Ref. Why?

_Originally posted by @soqt in https://github.com/facebook/react-native/issues/26107#issuecomment-522822554_

[2020-08-21 22:20] Danielgb23 opened #29727 "Release app crashes instantly when run. Debug version is fine"
## Description
I can run my app fine on my phone while debugging but by running npx react-native run-android --variant=release
or making a release apk through android studio it crashes as soon as I open it.
adb logcat *:E

[code]

## React Native version:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.Run 'npx react-native run-android --variant=release

[2020-08-22 08:02] allan-simon opened #29729 "java.lang.RuntimeException: java.lang.IllegalArgumentException: Unknown event: getProfilingStatus in the android logs when opening react devtools"
## Description

When I try to open the react devtools, either through flipper or directly with `npx react-devtools` , and connect my app to it
I DO see the "Devtools 4.6.0 etc."  Screen appearing but it keeps on refreshing

and if I look in my android logs I keep on getting again and again this exception

[code]

## React Native version:

[code]

## Steps To Reproduce
Provide a detailed list of st

[2020-08-22 08:58] tramnguyengh opened #29730 "Invalid `Podfile` file: cannot load such file -- /Users/trammbp/Downloads/react-native-develop/myproject/node_modules/@react-native-community/cli-platform-ios/native_modules."
I tried to build a project from an existing source.
I go to the project folder and run _yarn install_, it throws errors:

 YN0001: │ HTTPError: @react-native-lightkits/android-keyboard-adjust@npm:^1.0.0: Response code 404 (Not Found)
    at s.<anonymous> (/Users/trammbp/.yarn/releases/yarn-2.1.1.cjs:23:36333)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
➤ YN0000: └ Compl

[2020-08-22 09:14] kanwar002 opened #29731 "getting error while starting react native"
Anyone can help me? I'm new in react native i'm trying to start server but it's throwing that error
![Screenshot (34)](https://user-images.githubusercontent.com/56306542/90953038-e1e6bd00-e485-11ea-8723-707fd1925c31.png)
`

[2020-08-22 10:52] Shanmuganthan opened #29732 "y"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-22 14:37] snowleopardAlex opened #29733 "error iOS project folder not found. Are you sure this is a React Native project?. Run CLI with --verbose flag for more details."
XCODE version: 11.6 (recently upgraded)
REACT-NATIVE version: 0.63.2 (the latest)

PROBLEM: npx react-native run-ios throws an **error iOS project folder not found. Are you sure this is a React Native project?. Run CLI with --verbose flag for more details.**

I know this issue was here a long time ago, but I didn't find a solution to my problem.
I created a react project with npx react-native init

[2020-08-22 18:12] AlecStein44 opened #29734 "React Native Android Crashing"
## Description
Android users randomly get the error "Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference FATAL EXCEPTION: main Process: com.reloadingallday.RADD, PID: 13733 java.lang.RuntimeException: Expo encountered a fatal error: Attempt to invoke virtual meth

[2020-08-23 12:00] montsea999 opened #29737 "Invalid regular expression: /(node_modules[\\\]react[\\\]dist[\\\].*|website\\node_modules\\.*|heapCapture\\bundle\.js|.*\\__tests__\\.*)$/: Unterminated character class"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-23 12:42] Zakyyy opened #29738 "Archive Failed; Undefined symbols for architecture arm64"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
I was trying to archive my project and then I got an error in the tests' target that Undefined symbols for architecture arm64

## React Native version:
ystem:
    OS: macOS 10.15.5
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 1.06 GB / 16.00 GB
    Shel

[2020-08-23 16:55] gedeagas commented on #28436
Can confirm that this is only happening on android. @fabriziobertoglio1987 if you run your snack on iOS it should display the correct behavior instead of the wrong behavior on android ( it has blank-space in both sides).

[2020-08-23 20:04] #27400 closed

[2020-08-23 20:04] #28897 closed

[2020-08-23 21:04] #28921 closed

[2020-08-23 21:16] FabrizioCaldarelli commented on #29364
I temporary fixed using `rn-fetch-blob`, but the issue is present in 0.63.2 version and I didn't want to patch node_modules react-native images library.

[2020-08-23 21:17] FabrizioCaldarelli commented on #29021
I temporary fixed using `rn-fetch-blob`, but the issue is present in 0.63.2 version and I didn't want to patch node_modules react-native images library.

[2020-08-23 21:57] safaiyeh commented on #29021
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: https://github.com/facebook/react-native/issues/29364#issuecomment-671565181
Android: Upgrade Flipper version https://github.com/facebook/react-native/issues/28551#issuecomment-674351386

[2020-08-23 21:57] safaiyeh commented on #29364
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: https://github.com/facebook/react-native/issues/29364#issuecomment-671565181
Android: Upgrade Flipper version https://github.com/facebook/react-native/issues/28551#issuecomment-674351386

[2020-08-23 21:58] safaiyeh commented on #29364
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: https://github.com/facebook/react-native/issues/29364#issuecomment-671565181, PR submitted here for the fix: https://github.com/facebook/react-native/pull/29595

Android: Upgrade Flipper version https://github.com/facebook/react-native/issues/28551#issu

[2020-08-23 21:58] safaiyeh commented on #28551
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: https://github.com/facebook/react-native/issues/29364#issuecomment-671565181, PR submitted here for the fix: https://github.com/facebook/react-native/pull/29595

Android: Upgrade Flipper version https://github.com/facebook/react-native/issues/28551#issu

[2020-08-23 22:06] safaiyeh commented on #26097
Closing, for future CLI issues please file issues at https://github.com/react-native-community/cli

[2020-08-23 22:06] #26097 closed

[2020-08-23 22:13] safaiyeh commented on #28953
Hi @stephenkopylov thanks for the issue and the PR! I'm curious if Pressable component would solve your issues with this?

[2020-08-23 22:16] safaiyeh commented on #29738
Hi @Zakyyy thanks for the issue. Could you verify this happens on the latest RN version? Also to better investigate could you provide a repro or some hint to why this may be happening.

[2020-08-23 22:17] safaiyeh commented on #29737
Hi @montsea999 could you fill out all the fields in the issue template? Thanks.

[2020-08-23 22:20] safaiyeh commented on #29123
Hi all the reason for this is that React Native template ships with a flow config. This error is a result of your VSCode plugins not working playing well with flow.

This should help you resolve the error!

[2020-08-23 22:20] #29123 closed

[2020-08-23 22:23] jafar-jabr commented on #28992
+1

[2020-08-23 22:25] safaiyeh commented on #29734
Hi @AlecStein44 thanks for the issue! For expo related issues, could you file an issue on the expo repo?

Thanks! https://github.com/expo/expo

[2020-08-23 22:25] #29734 closed

[2020-08-23 22:28] safaiyeh commented on #28801
Hi @piiih thank you for the issue. Could you provide a repro that consistently demonstrates this error?

[2020-08-23 22:29] safaiyeh commented on #29733
Hi @snowleopardAlex please fill out all the sections of the issue template.

[2020-08-23 22:31] safaiyeh commented on #28751
Thanks for the issue @ShaMan123!

Have you tried @bboure's solution? Does it solve your case?

[2020-08-23 22:32] #29732 closed

[2020-08-23 22:33] safaiyeh commented on #29731
Hi @kanwar002 it seems like you are using Expo, could you submit an issue to them? https://github.com/expo/expo

Thanks!

[2020-08-23 22:33] #29731 closed

[2020-08-23 22:34] safaiyeh commented on #29730
Hi @tramnguyengh could you fill out all the sections of the issue template? Thanks

[2020-08-23 22:36] safaiyeh commented on #29729
Hi @allan-simon thanks for the issue. Could you provide a repro that demonstrates this issue?

[2020-08-23 22:38] otorenbosch commented on #29703
Tonight i got my app working on an virtuel device. What i did to do that.
1. freshly install of the project in a new folder
2. Run "npm install" in a command prompt to install the packages in packages.json
3. Did not fix the vulnerabilities!!
4. Run "npm install react-native-cli"
5. Start a virtuel device in Android Studio
6. Run "npx react-native run-android"

The app crashed when i started it up

[2020-08-23 22:41] safaiyeh commented on #29727
Hi @Danielgb23, it looks like the cash is due to react-native-background-task. Unfortunately that library is no longer maintained. Could you find an alternative and figure out if the crash continues to happen?

[2020-08-23 22:44] safaiyeh commented on #29703
Hi @otorenbosch you can find upgrade diffs here: https://react-native-community.github.io/upgrade-helper/

If you have upgrade issues, file an issue here: https://github.com/react-native-community/upgrade-support

[2020-08-23 22:44] #29703 closed

[2020-08-23 22:48] safaiyeh commented on #22234
Hi all! Could someone make a PR for these changes? Editing node_modules is not ideal.

[2020-08-23 22:52] safaiyeh commented on #29723
Hi @marlti7 could you fill out the issue template?

[2020-08-24 00:11] jamesdmurphy51 commented on #26687
Downgraded back from 0.63.2 to 0.61.5.....fixed the problem.
Hopefully RN team will address this with next release and then Ill upgrade again

[2020-08-24 01:15] Dellybro commented on #29596
@safaiyeh so the crash is coming from

react-native/Libraries/BatchedBridge
react-native-windows/Libraries/BatchedBridge

The function "isValidArgument" is re-rendering and infinite amount of times

[2020-08-24 01:44] mrarronz commented on #25494
@Kudo Your updated version really helps me! After I installed it and pushed to production environment, the crash rate has been reduced a lot! Almost disappears from the google play console! Thanks so much!

[2020-08-24 01:55] crimson-med commented on #26939
I don't think this is stale as a few people have had the same issue and this was never addressed.

[2020-08-24 02:04] #28699 closed

[2020-08-24 02:40] 26903651 opened #29739 "iOS crashes in release version"
## Description
In debug mode or release ad hoc mode, the app is fine, but when I uploaded a release version to the apple
store, the reviewers reported that the app crashed, but I couldn’t figure out the problem at all. Below is the crash log they fed me back. I’ve symbolized it.
[crash.log](https://github.com/facebook/react-native/files/5115481/crash.log)
## React Native version:
System:
    OS: m

[2020-08-24 02:51] safaiyeh commented on #28699
Remove the // @flow comment at the top of the file and remove the type

[2020-08-24 03:53] origamih commented on #21747
This is super annoying and frustrated and a HUGE waste of time. It also cause unexpected crash when open React Debugger.

[2020-08-24 04:09] thanakij commented on #29398
One more clue here, I find that we have to run `./gradlew bundleRelease` twice as "index.android.bundle" will be missing in the first generated AAB. After running the same command again, this time "index.android.bundle" will be included in the final AAB.

[2020-08-24 04:25] safaiyeh commented on #29398
Thanks for the issue @lorenzoangelini!

Hmm are you saying after the second run of `./gradlew bundleRelease` it is generated correctly?

[2020-08-24 04:28] safaiyeh commented on #29739
Thanks for the issue @26903651. Could you provide more information to where this is happening? What components or actions trigger this? Also a repro would be helpful

[2020-08-24 04:46] safaiyeh commented on #29596
Thanks for the investigation! I'll tag this appropriately

[2020-08-24 04:49] Dellybro commented on #29596
@safaiyeh The app i'm working on is client related, so unfortunately i can't give full source code. But i'd always be willing to dive deeper, and even do some sort of zoom call to help debug this issue if something like that was possible, because at this current moment, i am unable to actually use these inputs, but luckily the app is 99% finished. This started happening after upgrading all the pac

[2020-08-24 04:52] safaiyeh commented on #29722
Hi @MrtYlnzz thanks for the issue! To investigate, could you provide a repro that consistently throws this error? Thanks!

[2020-08-24 04:54] safaiyeh commented on #29721
Hi @zhfwch thanks for the issue. Art was moved to a community for future maintenance please checkout https://github.com/react-native-community/art

[2020-08-24 04:54] #29721 closed

[2020-08-24 05:06] safaiyeh commented on #27008
@juanjsebgarcia it might be worth checking if the cli team would want to add this in

[2020-08-24 05:07] safaiyeh commented on #29720
Hi @shubuu97 could you provide. repro that demonstrates this error?

[2020-08-24 05:08] safaiyeh commented on #23693
Appreciate this work around! Closing, feel free to open another issue if this continues to be an issue thanks everyone.

[2020-08-24 05:08] #23693 closed

[2020-08-24 05:09] safaiyeh commented on #29719
Hi @hou666 can you fill out the template? thank you!

[2020-08-24 05:19] safaiyeh commented on #29717
Thanks for the issue @SYNTAG. This is odd behavior... seems to be introduced in 0.63. Thanks for the code snipet.

[2020-08-24 05:20] abdulghanitech commented on #25494
Can confirm this issue in production.
RN: 0.62.2

[2020-08-24 05:22] safaiyeh commented on #29715
Hi @felire thanks for the issue. Sorry you're having trouble, could you verify this occurs on the latest version?

[2020-08-24 05:25] akkravikumar commented on #29021
I used react-native version is 0.61.5 version and the following aws versions

       `"amazon-cognito-identity-js": "^4.2.1",
       "aws-amplify": "^3.0.8",
       "aws-amplify-react-native": "^4.0.4",
       "buffer": "^5.6.0",
       "react": "16.9.0",
       "react-native": "0.61.5"`

[2020-08-24 05:28] safaiyeh commented on #29714
Thanks @jurelik, have you checked out Pressable? This component may have solved event handling issues. https://reactnative.dev/docs/pressable

[2020-08-24 05:50] 26903651 commented on #29739
I have no more information. I tried all the methods to test. The debug mode will not crash, the ad hoc installation will not crash, and it is normal to use testflight to install the release package, but Apple reviewers report that it will crash. , I don’t know how to find this problem, my only resource is the crash log they provide

[2020-08-24 05:54] 26903651 commented on #29739
II don't know what component is wrong. This problem has troubled me for more than 2 months. I started to think it was a version problem of react native. So I updated react native from 0.60 to 0.62 and uploaded to the apple store. The same feedback was received.

[2020-08-24 05:56] 26903651 commented on #29739
![image](https://user-images.githubusercontent.com/16937789/91008764-a24cdc00-e611-11ea-84cc-f11b83296745.png)

[2020-08-24 05:59] thanakij commented on #29398
In a sense, yes. Below is what I have in my release script for Android side. It works well so far.

[code]

Otherwise, "index.android.bundle" won't be included in the generated AAB. I saw that "index.android.bundle" generation step is invoked but it is simply not included in AAB.

[2020-08-24 06:00] robto09 opened #29740 "App doesn’t start when there are more than one .e2e.js mock file"
Hellow! I have a file called actions.e2e.js which inside has some action(redux) mocked. I added another file called selectors.e2e.js which have 2 mock selector(redux) methods. Idea its to replace selectors.ts file in execution time. Issue is than when add the selector.e2e.js file with 2 mock selectors inside the app get stuck and dont start running..

Desktop OS/version used to run Appium: Catalin

[2020-08-24 06:04] msaqlain commented on #29068
Comment. Just to keep this thread active.

[2020-08-24 06:16] 26903651 commented on #29739
I created a testflight invitation code, you can install the app use this testflight code : KNVFCHLD

[2020-08-24 07:19] allan-simon commented on #29729
hello thanks for your reply,  I will try to do that during the day

[2020-08-24 07:26] lorenzoangelini commented on #29398
@safaiyeh @thanakij  yes it seems that the first time the folder assets with "index.android.bundle" is not present.
Run twice the ./gradlew bundleRelease for me is not a just solution, because the build time is x2.
In my case if i run bundleRelease i get three apps, dev,test and production. Where in dev, it crash when launch the app, because is missing the "index.android.bundle".
The goal is launc

[2020-08-24 07:32] thanakij commented on #29398
I would like to provide my setting below:

[code]

[code]

Hopefully, this would help maintainers fix the issue.

[2020-08-24 07:32] Bardiamist commented on #23693
@safaiyeh Workaround isn't fix.

Also @LenKagamine workaround not helpful in my case. I want to know dememsions before any view rendered for use demension in StyleSheet.

Instead that workaround possible to use just `View` with `onLayout`. But I want to fix instead workarounds.

[2020-08-24 07:57] charbelsako opened #29742 "Scroll view not scrolling"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
The scroll view scrolls on iOS but still doesn't get the intended purpose and doesn't scroll at all on android.
(I.e) there is content that I can't get to

## React Native version:
Run `react-native info` in your terminal and copy the results here.
System:
    OS: macOS Mojave 1

[2020-08-24 08:08] lorenzoangelini commented on #29398
With this i have the issue:
react-native: 0.63.2
com.android.tools.build:gradle:3.5.3
https://services.gradle.org/distributions/gradle-6.2-all.zip

With this version the issue is not present
react-native: 0.63.2
com.android.tools.build:gradle:3.4.2
https://services.gradle.org/distributions/gradle-5.5-all.zip

[2020-08-24 08:11] #29742 closed

[2020-08-24 08:21] Maddumage commented on #17530
The same issue occurred in RN 0.63.2  :(

[2020-08-24 09:18] jong-hui opened #29743 "[IOS] ScrollView previous momentum not remove when another scrolling"
Thank you for creating a great framework.
My English is not good, so please take it into consideration.

## Description
![image](https://user-images.githubusercontent.com/42797995/91022229-d505cd00-e62f-11ea-824e-a58796170f77.png)

### When a new scroll starts, the momentum that started before does not stop.
Next is my problem scenario.
OverScrolling(up) in ScrollView and scrolling down immediatel

[2020-08-24 09:31] jsamr commented on #23693
@safaiyeh With all respects, another workaround is to not use React Native, or change our careers in development. My point is, **a workaround is no fix**. The bug still exists. Please reopen :-)
ﻡﺮﮑﺸﺘﻣ

[2020-08-24 09:55] stephenkopylov commented on #28953
Hi @safaiyeh!

We in our team are going to check if `onTouchEvent` is calling with Pressable

But in this case we'll need to force users use Pressable instead of Touchable, so the root of problem (impossibility to make proper hit-test for transparent pixels) will not be solved...

[2020-08-24 10:11] Makerhack commented on #29414
I'm also having this issue with RN 0.63 and TouchableNativeFeedback in android 4.3

[2020-08-24 10:12] dattx-0602 commented on #25852
OS:
`
    "react": "16.9.0",
    "react-native": "0.61.5",
`

I Resolved by:
 - Remove all FontWeight
 - Copy font to `android/app/src/main/assets/fonts`
 - using  exact match for the ttf file

Example:
![Screen Shot 2020-08-24 at 17 07 57](https://user-images.githubusercontent.com/49387892/91032626-66734000-e62c-11ea-8c43-9ec5551d676d.png)

And my style
Before:
`
{
    fontWeight: 'bold',
    fon

[2020-08-24 10:25] SeasonLeee opened #29744 "Error during 'npx init react-native NameOfProject'"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
There are errors during command `npx init react-native NameOfProject`, as you can see from screenshot:
![image](https://user-images.githubusercontent.com/13610283/91033822-96274580-e636-11ea-9d82-69e82ddd985b.png)

## React Native version:
I assume it's the latest or whatsoever.

[2020-08-24 11:50] andyhaha commented on #26252
I have the same problem for release app on market，and I can not find why it happened，looking for further more help!

[2020-08-24 12:03] dcolonv commented on #27355
It worked for me using property `onPress` instead of `onPressIn` for both `TouchableOpacity` and `TouchableWithoutFeedback`

[2020-08-24 12:15] djpetenice commented on #27355
onPress has always worked - it's just extremely sensitive which is why I've tried the delayPressIn & onPressIn

[2020-08-24 13:11] #28980 closed

[2020-08-24 13:11] prashantchothani commented on #28980
Fixed as of noy

[2020-08-24 13:36] montsea999 commented on #29737
HI Safaiyeh! This is Montse from Barcelona.
Sorry because is is not a React-native issue. It is a React-360 issue: This bug appear in the starting of every project on React-360.... I  gonna do one example and copy u all the information, and then u can see, ok?  ;-)

1-   C:\Users\monts\Desktop>npm install -g react-360-cli
C:\Users\monts\AppData\Roaming\npm\react-360 -> C:\Users\monts\AppData\Roami

[2020-08-24 13:46] MrtYlnzz commented on #29722
Hello @safaiyeh here is a demo repo showing the said error. It's a simple setup of what I use. https://github.com/MrtYlnzz/rn-invalid-hook.git

[2020-08-24 14:03] tobilastik commented on #29364
I can confirm this worked for me, but wouldn't it change when I kind of reload the app?

[2020-08-24 14:11] paddlefish commented on #29364
I don’t think this would affect reload. In this case, “requestToken” is associated with this particular request.  After reload a new image load would get its own, new requestToken. A *static* variable could hold state across reloads, but fortunately this variable is not static.

[2020-08-24 15:38] kaal007 commented on #26575
bbb

[2020-08-24 15:50] akgunfu opened #29747 "[Android] <Button /> crashing the app for Android API 16"
## Description
Using the button component crashes the app for android api 16.

## React Native version:
[code]

## Steps To Reproduce
1. Create a test app `npx react-native init Test`
2. Modify App.js like following `const App: () => React$Node = () => {
  return <Button title={'test'}/>
};`

## Expected Results
Should render the button.

## Snack, code example, screenshot, or link to a repository

[2020-08-24 16:53] scobo commented on #29608
@yungsters I think I tracked this down to the @babel/core & @babel/runtime packages and/or the metro-react-native-babel-preset.

I moved the demo apps into our monorepo, where we’re on the latest version of the Babel packages. When I did that, I also upgraded metro-react-native-babel-preset (0.63.0) since we try to keep things up-to-date. I had to downgrade both packages in order to get the networ

[2020-08-24 17:27] scobo commented on #29608
Note: We also had to use `"resolutions"` to force `"@babel/preset-env": "7.8.7"` for iOS, due to this error:

Otherwise Yarn picks up the latest 7.x release since it satifies semver. And we still get an infinite loading spinner for iOS.

[2020-08-24 17:49] aminosman commented on #26252
I found the issue was using Hermes (the react JSC). I was able to get it working with Hermes but did so many things I forget which one got it working again. My recommendation is to set `enableHermes: false` in your `app/build.gradle` to get things working again. I ended up having to use the `org.webkit:android-jsc-intl:+` JSC because I needed internationalization support which Hermes lacks. If wha

[2020-08-24 18:39] nicocolascrete opened #29749 "Wrong width on text component with multiline content for Android"
## Description

A react-native Text component with multiline content should automatically scale the width of the longest line. It works fine on ios but not on Android.

## React Native version:
0.63.2

## Steps To Reproduce
- display Text component on one line -> auto-scaling width ok on ios and android
- display Text component with multiline -> auto-scaling width ok on ios and nut not on android

[2020-08-24 18:54] sgup commented on #29709
Also seeing the same issue.

[2020-08-24 19:37] safaiyeh commented on #29749
Thanks for the issue @nicocolascrete, I notice the extra space in the Android screen shot. Your code snippet has some dependencies, could you reproduce this in a Snack so it is easier to check out.

[2020-08-24 19:38] safaiyeh commented on #29747
Thanks @akgunfu for the issue. That is unfortunate! Could you provide a repo that I could build?

[2020-08-24 19:41] safaiyeh commented on #29737
@montsea999 this issue board is for React Native related issues. Please file an issue at https://github.com/facebook/react-360 for react-360 support

[2020-08-24 19:41] #29737 closed

[2020-08-24 19:43] safaiyeh commented on #27355
Pressable was made to support better press events. Let me know if that helps out.

https://reactnative.dev/docs/pressable

[2020-08-24 19:46] safaiyeh commented on #29744
Hi @SeasonLeee react-native-cli issue board could help you out better! Can you make an issue over at https://github.com/react-native-community/cli, thanks!

[2020-08-24 19:46] #29744 closed

[2020-08-24 19:48] safaiyeh commented on #29414
Thanks for the issue @euthribeiro, could you provide a repro that demonstrates the crash?

[2020-08-24 19:50] safaiyeh commented on #28953
Agreed! I'm leaving this open until your PR can be looked at.

If Pressable, solves your case it could be a quicker solve for you but definitely TocuhableOpacity is not working as expected.

[2020-08-24 19:51] safaiyeh commented on #29743
Hi @jong-hui I appreciate your effort in the issue. Could you provide a Snack that demonstrates your error? It is helpful to quickly see the issue. Thanks!

[2020-08-24 19:52] daxaxelrod commented on #28715
Having this issue as well. 61.2 on Android 10

[2020-08-24 19:54] matheus-rn commented on #29364
To temporarily correct this problem in CI, I added a post-installation to package.json, to run a script that replaces the RCTLocalAssetImageLoader.mm file in the node_modules folder. The file used for content replacement is the file quoted at https://github.com/facebook/react-native/issues/29364#issuecomment-670150318. In the file fix_ios.sh it has the command:

cat config/fix_ios/RCTLocalAssetIma

[2020-08-24 19:55] safaiyeh commented on #29740
Hi @robto09 thanks for the issue. Could you provide a repro that demonstrates this issue?

[2020-08-24 19:59] montsea999 commented on #29737
Yes, yes. I ve already done it! :)

[2020-08-24 20:06] robto09 commented on #29740
I can not provide a video in this moment because of copyright. What happens is that there is a file called actions.ts which inside has some methos for auth like to do login,logout,register, verify code etc from aws. And I need to mock that methods , for example in order to register a new user, I can not get a token from cognito each time I run the test to validate the user.. So there is an actions

[2020-08-24 20:08] paddlefish commented on #29364
Check out patch-package.  It's a very easy way to apply patches and when you update the component, it reminds you to update the patch -- or if the bugs are fixed you can just delete the patch.

[2020-08-24 20:10] safaiyeh commented on #29740
This might be either a bundler issue which should be filed here https://github.com/facebook/metro

RN_SRC_EXT is a command from Detox. Closing as this isn't an issue for React Native core

[2020-08-24 20:10] #29740 closed

[2020-08-24 20:54] akgunfu commented on #29747
Hi @safaiyeh, [Here](https://github.com/akgunfu/buttonCrashExample) is the basic example of the issue.
Here are some things I noticed so far:
On android Button implements TouchableNativeFeedback and there it decides backgroundProp like following in **TouchableNativeFeedback.js:339**:
`const getBackgroundProp =
  Platform.OS === 'android'
    ? (background, useForeground) =>
        useForeground &

[2020-08-24 21:15] SYNTAG commented on #29364
Can confirm that these issues worked for me. Earlier I said it didn't work on iOS but I eventually found out why. Posting here in case anyone else has the same issue.

I can confirm that both of these solutions worked for me. Earlier I said it didn't work on iOS but I eventually found out why. Posting here in case anyone else has the same issue on React Native 0.63.2 (after making the above change

[2020-08-24 21:15] nicocolascrete commented on #29749
Hello @safaiyeh,
I add snack example below. But the trouble is not visible in this case. Just when I build the project directly on an android divice ...

https://snack.expo.io/EQTVYTon8

[2020-08-24 21:18] AngeeelD commented on #29709
I had a couple of days attending this problem but I'm still getting same error or related error after testing different "solutions"

My project contains a Notification Extension and I'm getting this issue but instead to have it related with main target, i have the related with the extension.

Following Current Workaround provided on issue description, I'm getting this error on my Notification Exte

[2020-08-24 22:18] scobo commented on #29608
Another update: When we build locally, we have network connection and the fetch example renders as intended. When we bundle the same code for release, we get nothing in render.

[2020-08-24 22:19] Danielgb23 commented on #29727
It was the react-native-background-task unistallation that was causing problems, either I did it wrong or something went bad. Installing it again with all the steps did the trick.

[2020-08-24 22:42] nicocolascrete commented on #29749
This bug appear when you add padding to the container view. I add this snack example.
I fix it on my side by adding an intermediate view with no padding

[2020-08-24 22:44] gedeagas commented on #29747
@akgunfu I created related pr about this here. https://github.com/facebook/react-native/pull/29752. I think there is no need to check again for `Platform.Version >= 21 ` because `nativeForegroundAndroid` can only support Android > M. Hence the existing canUseNativeForeground check should suffice.

https://github.com/facebook/react-native/blob/6d175f2c257fe1acb1c36b15bc97bdb77560885c/ReactAndroid/s

[2020-08-24 23:05] tpakhoa1996 opened #29753 "Weird warning regarding style after upgrading to 0.63"
## Description
Im getting this weird error:
 **ERROR    Warning: Failed prop type: Invalid prop `style` of type `object` supplied to `TextSectionHeader`, expected a single ReactElement type.**
![image](https://user-images.githubusercontent.com/10357532/91104395-0b376100-e6b1-11ea-9a2a-e868f600179c.png)
HeaderComponent
![image](https://user-images.githubusercontent.com/10357532/91104831-ee4f5d80-e6

[2020-08-25 01:55] octaviotastico commented on #26617
I'm having the same issue :(

[2020-08-25 02:08] safaiyeh commented on #29747
@gedeagas appreciate the PR!

[2020-08-25 02:14] octaviotastico opened #29755 "openDrawer and closeDrawer methods from DrawerLayoutAndroid are not working."
## Description
The _openDrawer_ and _closeDrawer_ method are not working.
When I include the DrawerLayoutAndroid on my project, I can open the drawer by grabbing it from the border of the screen, but I'm not able to get it open by a button using those two methods.
The error says:
**Cannot read property 'current' of undefined.**

These two are screens from my computer, but the same error displays o

[2020-08-25 03:19] CampbellMG opened #29756 "EXIF stripped from images sent in POST requests"
## Description
This is a pretty bizarre issue and is a bit tricky to reproduce but essentially EXIF is being stripped from images when sent over a POST request after navigation.

This issue could be rooted in `react-native`, `react-navigation` or `Expo` but I am having a hard time tracking down which so if you have any information I would be very grateful.

## React Native version:
  Expo CLI 3.24

[2020-08-25 03:46] david-arteaga commented on #28998
@vonovak The code you provided to reproduce the error actually is expected to cause the callback to be run on every re-render (see [callback ref caveats](https://reactjs.org/docs/refs-and-the-dom.html#caveats-with-callback-refs)).

But still, I came across the same error even when the callback ref is not re-created on every render.
You can look at the result [here](https://snack.expo.io/@david-art

[2020-08-25 03:48] CampbellMG opened #29757 "Border width differing between iOS and Android"
## Description
When adding a bottom/left border with a radius, the width and radius seem to be completely different on Android vs iOS.

iOS
![iOS](https://camo.githubusercontent.com/59912aeec5b4f676bbeb64c4ed2f2f74040f3ea6/68747470733a2f2f692e696d6775722e636f6d2f513036547332482e706e67)

Android
![android](https://camo.githubusercontent.com/0f59c9b9ad00441b62f57cb0eff18fbbb30590cd/68747470733a2f2f6

[2020-08-25 04:12] chequochuu commented on #29753
I encountered the same issue. Do you have any solution yet?

[2020-08-25 06:52] GadirajuSanjayvarma opened #29758 "Modal crashes while pressing on Text input"
Hello.I have a modal and there is a text input inside the modal.When i am pressing the textinput keyboard opens and in next second both keyboard and modal closes.

## Description
Hello.I have a modal and there is a text input inside the modal.When i am pressing the textinput keyboard opens and in next second both keyboard and modal closes.

## React Native version:
{
  "main": "node_modules/expo/A

[2020-08-25 07:04] kangfenmao opened #29759 "ConcurrentModificationException"
## Description
java.util.ConcurrentModificationException at java.util.ArrayList$Itr.next(ArrayList.java:860)

[code]

## React Native version:

[code]

## screenshot

![image](https://user-images.githubusercontent.com/8253512/91142875-2b344800-e6e4-11ea-8ff1-227b71e53d18.png)

[2020-08-25 08:10] gedeagas commented on #29755
Hey @octaviotastico, thanks for filling an issue but this is not a bug. You can't just call `openDrawer` like this `DrawerLayoutAndroid.prototype.openDrawer()`, you will need to use `ref`.

Working example here.
https://snack.expo.io/YOUAYlOEe

I suggest you to read this https://reactjs.org/docs/refs-and-the-dom.html.

[2020-08-25 08:19] andyhaha opened #29760 "Hi @caishi3hao Did you find any solution for this? Even I'm getting this issue."
use app file storage instead of SD Card

[2020-08-25 08:48] #28721 closed

[2020-08-25 09:08] andyhaha opened #29761 "facebook::react::Recoverable: Could not open file/data/user/0/com.xxx.yyy/files/rn/main.jsbundle: No such file or directory"
I meet with the problem of my release app on line. help!
the React Native version is 0.60.4

stacktraces as follows:

com.facebook.jni.CppException
facebook::react::Recoverable: Could not open file/data/user/0/com.xxx.yyy/files/rn/main.jsbundle: No such file or directory
1 com.facebook.react.bridge.CatalystInstanceImpl.jniLoadScriptFromFile(Native Method)
--
2 com.facebook.react.bridge.CatalystIns

[2020-08-25 09:25] sarahisml opened #29762 "How to Stop and Hide ActivityIndicator when Sectionlist has rendered every item"
I have a sectionlist with an ActivityIndicator at the footer. The ActivityIndicator doesn't stop and hide even after the list has rendered every item. The data is local data.

[code]

development info
[code]
![Screenshot_1598347458](https://user-images.githubusercontent.com/70200003/91157416-e1555d00-e6f7-11ea-9ae7-4069477938a4.png)

[2020-08-25 09:40] sarahisml commented on #29762
I've updated the issue.

[2020-08-25 09:44] theLastCc commented on #25522
I was having the same problem as you. I can bundle the app.But LaunchScreen.storyboard can't load the launchImage.

[2020-08-25 10:01] dani-mp commented on #26610
Hi, @hramos. Sorry, I'm about to be a bit critical here. I can't believe this issue has been closed like that. This is not a minor bug, and I would say it's super important for React Native itself, not just its scroll view: this is the kind of bug that a native iOS/Flutter dev posts on Twitter and the React Native community gets one week of public shaming. I hope you understand what I mean.

[2020-08-25 10:27] sallar opened #29763 "PlatformColor does not work properly on Android"
## Description
`PlatformColor` documentation clearly says that if I want to use the values of `R.attr` in Android, I have to use `?attr/VALUE`, but when I use for example `?attr/textColorPrimary`, the app crashes on Android or throws an error.

https://developer.android.com/reference/android/R.attr#textColorPrimary

## React Native version:
[code]

## Steps To Reproduce

1. Paste this into your co

[2020-08-25 10:34] RageBill commented on #26610
This issue should not be closed without having a proper solution yet.

This is very frustrating to see a bug from almost one year ago to still haunt me till these days.

I tried the fixes given by @sbycrosz and @outaTiME , and neither of them worked in my case.

I am on `RN 0.63.2` right now.

[2020-08-25 10:35] damian-balas commented on #28992
+1

[2020-08-25 13:36] nlaitanatix commented on #28101
Same issue here, dont found anything about that in Stack Overflow

[2020-08-25 13:37] nlaitanatix commented on #28101
Same issue here, dont found anything about that in Stack Overflow

[2020-08-25 14:29] arnaudambro commented on #29021
well if the Debug mode is removed, no problem anymore.
So when I am about to test an image upload, I remove the debug mode and watch the debug messages in my terminal instead.

[2020-08-25 14:34] hhunaid commented on #29021
What do you exactly mean by Debug mode? And how do you disable it? Do you mean disabling yellowbox?

[2020-08-25 14:43] ahmedezzatGcs commented on #26255
It worked fine. When I execute command "grep -r UIWebView ." inside node module path nothing exists, but inside the project I found too many binary files inside ./ios/Build matches . Finally got the same mail from app store " UIWebView are no longer accepted".
Any solution, please ?

[2020-08-25 14:48] voxspox opened #29765 "after loading error Image does not show defaultSource and does not respect style"
## Description
I want to use [Image](https://reactnative.dev/docs/image.html) to display a remote PNG. Therefore I setup the URL in the `source` prop. Before the image is ready to be displayed I want to show a placeholder image. I used the `defaultSource` to a local asset/image.

## React Native version:
0.63.2

## Steps To Reproduce / Expected Results

#### basic setup:
`<Image source=... default

[2020-08-25 14:52] tobilastik commented on #29364
What I was saying just happened, I made the change in my code yesterday, when I close the editor and open it back today, the "= ^{};" I added yesterday is no more there I have to add it again, that means it will always happen that way. Any solution to that?

[2020-08-25 15:05] arnaudambro commented on #29021
![image](https://user-images.githubusercontent.com/31724752/91191513-2926b500-e6f5-11ea-830d-295099146d63.png)

[2020-08-25 15:30] paddlefish commented on #29364
Look at https://www.npmjs.com/package/patch-package.  That's how I apply custom code fixes to node modules.

[2020-08-25 16:15] MarcoDo99 opened #29766 "react-native run-ios : build failed"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When I try react-native run-ios the build fails.

When I try to build the xcodeproject in Xcode I get the error "module map file '/Users/myuser/Library/Developer/Xcode/DerivedData/myapp-ayblecstspgajagnjznbpmfzwnas/Build/Products/Debug-iphonesimulator/YogaKit/YogaKit.modulemap'

[2020-08-25 17:02] safaiyeh commented on #29766
Hi @MarcoDo99, thank you for the issue, this would be more appropriate for StackOverflow. Issue board here is about problems with React Native itself.

[2020-08-25 17:03] #29766 closed

[2020-08-25 17:24] dutradotdev commented on #27946
same here

[2020-08-25 18:05] tobilastik commented on #29364
okay, thanks

[2020-08-25 18:10] gedeagas commented on #29765
Hi @voxspox, thanks for the issue. Could you provide a repo/snack example that I could build? and also please note that on Android, the default source prop is ignored on debug builds. https://reactnative.dev/docs/image.html#defaultsource

[2020-08-25 18:23] HectorRicardo commented on #28919
Hello, I am on a trip right now and don't have access to a Mac or iphone to test. Can I get back to you next week to confirm if this also happens on iOS?

[2020-08-25 19:03] chrisbobbe commented on #29760
It's not at all obvious what this issue is about; I suspect it will be closed by an admin soon, or immediately, with a request to make a new issue that follows the template.

[2020-08-25 19:20] safaiyeh commented on #29760
Hi @andyhaha not sure what this is about 😅. Closing, please use the issue template for future issues thanks!

[2020-08-25 19:20] #29760 closed

[2020-08-25 19:21] safaiyeh commented on #28919
@HectorRicardo no worries! I'll keep this open until then

[2020-08-25 19:22] safaiyeh commented on #29765
Thanks for the repro @voxspox, could you provide a repro that demonstrates this error. Thanks!

[2020-08-25 19:27] safaiyeh commented on #26610
Since this is coming up again, I'll reopen.

We had a PR open in webview to be ported to core: https://github.com/react-native-community/react-native-webview/pull/1077

Could someone open a PR and test if this fix would work for RN Core?

[2020-08-25 19:28] safaiyeh commented on #29763
Hi @sallar thanks for the issue! Could you provide a Snack or repo that consistently shows the crash?

[2020-08-25 19:30] safaiyeh commented on #29761
Hi @andyhaha could you follow the issue template and verify this happens on the latest version?

[2020-08-25 19:32] safaiyeh commented on #29755
Hi @octaviotastico thanks for the issue. This has been moved to a community repo here: https://github.com/react-native-community/react-native-drawer-layout

Future issues will be addressed on that repo. Thanks!

[2020-08-25 19:32] #29755 closed

[2020-08-25 19:35] safaiyeh commented on #29759
Hi @kangfenmao we need more information to investigate this. Can you provide a repro that demonstrates this crash? a 28% crash rate is not good, hopefully we can find you a solution

[2020-08-25 20:04] chrisbobbe opened #29767 "Start using Jest's "modern" fake-timer implementation."
Recent improvements have been made to Jest's implementation of fake timers, on an opt-in basis, with a plan to make them the default in the future: https://github.com/facebook/jest/pull/7776.

Some prep work has been done toward this (https://github.com/facebook/react-native/pull/29011), but I don't find an existing issue for the actual change.

Simply flipping the switch to the "modern" implement

[2020-08-25 20:57] farad4y commented on #29739
@26903651 You can try Crashlytics to find the problem.

[2020-08-25 21:27] lucasluca opened #29768 "com.facebook.react.bridge.JSApplicationCausedNativeException: Illegal node ID set as an input for Animated.Add node"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Im developing an app in react native 0.62, and im having this issue in some moments on my app especially when i focus on a input, i already tried to fix all Elements key on map iterario. And this problem just happends on Andrroid.

## React Native version:
0.62.0

## Steps To Re

[2020-08-25 22:19] bonlemuel commented on #27204
Thank you @ahdzlee ! Saved me a lot of time searching for workarounds! Whew 👍

[2020-08-26 01:14] SConaway commented on #29738
@Zakyyy what architectures are you building for? Open the project in Xcode, then open the target in the editor (double click it's name in the directory view on the left, then open the Build Settings Tab. Make sure all options are shown, then it's Architectures > Architectures. See the screenshot for clarification.
![CleanShot 2020-08-25 at 18 11 50](https://user-images.githubusercontent.com/208076

[2020-08-26 01:36] hxzAugustinus opened #29769 "navigate pageA(rn)-->pageB(native)--->pageC(rn)"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
  navigate   pageA(rn)-->pageB(native)--->pageC(rn)

## React Native version:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.   use `npx react-native init ` creat  project  and use  reactnavigation  as   route;
2.   use  react  native  creat

[2020-08-26 01:54] marlti7 commented on #29723
same with #26107

[2020-08-26 01:54] marlti7 commented on #29723
just for ios, android is work

[2020-08-26 02:14] listenzz commented on #29769
You could use `react-native-navigation-hybrid` as Navigation.

[2020-08-26 02:33] kangfenmao commented on #29759
I did not find a way to reproduce the exception. This error from error monitoring log. I will pay attention to this problem. @safaiyeh

[2020-08-26 02:48] virus2016 commented on #28283
We are experiencing the same issues. It's very sporadic - fetch is sometimes very slow or then its sometimes json()/text() functions. Very strange.

[2020-08-26 02:53] kangfenmao commented on #29759
The following code will cause ConcurrentModificationException

[code]

[2020-08-26 02:58] marlti7 commented on #29363
i test it. not work just for ios.(chinese and japanese)

[2020-08-26 06:59] konstantinmv commented on #29583
I've not worked on it further and rolled back to the previous version of RN. I will try wrapping it in setTimeout to see if anything changes, if it doesn't I'll try to replicate it in a Snack, thanks.

[2020-08-26 07:59] zidniryi commented on #27203
Same Here Tooo. LMAO

[2020-08-26 08:04] #29598 closed

[2020-08-26 08:09] zidniryi commented on #25784
Yes, same here again. LOL

[2020-08-26 08:10] Fl0p commented on #29709
same

[2020-08-26 08:35] Conrador commented on #29709
Check your Podfiles. When you enter Build Phases -> Copy Pods Resources You should have(React-Core, not React-Core.common):
<img width="484" alt="Screenshot 2020-08-26 at 10 29 58" src="https://user-images.githubusercontent.com/31658644/91280712-6cc9ff00-e787-11ea-9a2c-be65233d6e57.png">

I also have Permissions Notification pod added above config, use_react_native!:
<img width="690" alt="Screensh

[2020-08-26 09:26] thirubaranikumar opened #29771 "Errors while running react-native run-android -> debugger-ui/debuggerWorker.cff11639.js"
I get this this below error when I launch my project using

The app goes blank "sometimes" and components are not loaded. But this error appears to be because of soft exception as observed from the android studio log when built using android folder. PFA the complete log information from android studio.

To reproduce:
My concern is do not know which of the following dependency is causing the errors

[2020-08-26 09:57] ThisIszas commented on #28844
I fixed this error by correct an css style error in style sheet.
I have a css style sheet with value displayed as below, the justifyContent's value caused this error. After correct the value of justifyContent, my app successfully loaded.
` loginOrCreateTabContainer:{
        flexDirection: "row",
        justifyContent: "stretch",
    },`

[2020-08-26 10:04] anfriis commented on #29492
Related issue in Flipper repo: https://github.com/facebook/flipper/issues/1399#issue-664783884

[2020-08-26 10:13] thijs-qv commented on #29749
As a workaround: replace the padding of the container with a margin.

[2020-08-26 10:16] JackShannon opened #29772 "KeyboardAvoidingView animation doesn't match keyboard on iOS"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
The KeyboardAvoidingView animation doesn't match the keyboard on iOS. Here is a slow motion gif of it on an iPhone 6 to see clearly. I also get the same result in the iPhone 11 simulator on a Macbook.

![ezgif-7-166fc6bd6a6f](https://user-images.githubusercontent.com/865983/9129

[2020-08-26 10:16] vikil143 opened #29773 "App lags on ScrollView, Flatlist and Animation on android version 9,10"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
App lags on the Android version above 8(i.e API level 28). I am upgraded my react native version from 61.5 to the latest(63.2) to tackle the laggy issue it's not resolved

## React Native version:
## latest version config which I upgraded
Run `react-native info` in your terminal

[2020-08-26 11:10] anfriis commented on #29492
I think this issue could be closed, as it seems that the bug is caused by Flipper: https://github.com/facebook/flipper/issues/1399#issuecomment-680798589

[2020-08-26 11:25] LauraBeatris commented on #29492
Sure!! Let's continue the discussion there

[2020-08-26 11:25] #29492 closed

[2020-08-26 11:27] sammy-SC commented on #29772
Hello @JackShannon

thanks for the report.

As a workaround you can use [inputaccessoryview](https://reactnative.dev/docs/inputaccessoryview). There we leverage `[UITextField inputAccessoryView]` and animation should match the keyboard's animation.

Regarding fixing `KeyboardAvoidingView`. This is something that's planned for React Native's new renderer.
cc @JoshuaGross

[2020-08-26 11:27] #29772 closed

[2020-08-26 12:16] espipj commented on #23313
If any help is still needed with this I am happy to help 😃

[2020-08-26 12:25] justincbeck commented on #28525
With this code in my App.js, I am seeing the extra calls but not the flash back and forth between themes:
`
const systemScheme = useColorScheme();
  const themeObject = systemScheme === 'light' ? light : dark;

  const toggleTheme = useCallback((colorScheme) => {
    const statusBarTheme = colorScheme === 'light' ? 'dark' : 'light';
    StatusBar.setBarStyle(`${statusBarTheme}-content`);
  }, []);

[2020-08-26 12:27] NikitaKis commented on #18472
This worked for me
https://github.com/facebook/react-native/issues/29351#issuecomment-657929014

[2020-08-26 12:35] TheDuc opened #29774 "[androidTV] Scrollview still scrollable with dpad when scrollEnabled={false}"
## Description
A scrollview with the `scrollEnabled` prop set to `false` still scrolls on tv remote dpad input on androidTV.
Also onScroll events are fired when the list is scrolled this way.

## React Native version:
0.61.5

## Expected Results
The scrollview should not scroll when `scrollEnabled` is set to false, regardless of touch, mouse or dpad input.

[2020-08-26 13:00] Arjanvanmaren commented on #29695
As we are not upgrading in the near future we can close this ticket for now. Thanks for your help

[2020-08-26 13:00] #29695 closed

[2020-08-26 13:02] JackShannon commented on #29772
Thanks for this @sammy-SC

Works perfectly for a TextInput.

However, I also have screens in my app that require a sticky button. Is it possible to always show the button rather than it being hidden until the keyboard slides up?

[2020-08-26 13:16] antonello-alfatauristudio commented on #11068
this worked for me and saved my life

[2020-08-26 14:18] sammy-SC commented on #29772
Hmn, InputAccessoryView won't work with a button unfortunately.
 I don't have an alternative solution.

[2020-08-26 14:27] gedeagas commented on #29774
@TheDuc can you confirm this behavior still exist on the latest react-native version?

Support for handling DPAD is just recently cherrypicked to react-native version 63.2.
https://github.com/facebook/react-native/commit/00c8b3cd09526c4a8afd141344793151ccb9ea0c

[2020-08-26 14:36] JackShannon commented on #29772
OK thanks for your help.

[2020-08-26 14:43] tpakhoa1996 commented on #6480
I tried every possible ways and this problem still persist. Are there any solutions for 0.63.2 yet?

[2020-08-26 15:08] OlivierFreyssinet opened #29776 "[Android] overscroll issue for ScrollView with nestedScrollEnabled nested inside "inverted" FlatList"
## Description
When nesting a ScrollView with the property `nestedScrollEnabled={true}` inside a FlatList that has the property `inverted={true}`, overscrolling the ScrollView makes the FlatList scroll in the opposite direction of where it is supposed to scroll.

[Illustrative video full res](https://github.com/OlivierFreyssinet/RNNestedScrollViewInvertedIssue/blob/master/docs/fullvid.mp4)

### Ex

[2020-08-26 15:59] RichardLindhout commented on #6480
This still works but it's in the hidden comments now..

[2020-08-26 16:00] jbromberg commented on #29396
I am having this issue with iOS. Using RN v0.63.2 and code v12.0 beta 5 with ios 14 beta on my device. I am unable to connect to the metro bundler and the app can only run on my device while it is running inside of xcode.

[2020-08-26 16:21] wbq813 commented on #29723
same problem with me, number and english work for ios, chinese works for android

[2020-08-26 17:34] friederbluemle opened #29779 "master force pushed?"
Just fetched from origin, received:

[code]

Any additional explanation regarding this?

Thanks.

[2020-08-26 17:47] luizaugustocs opened #29780 "Weird behaviour with selection on Android"
## Description
After reseting the selection on a text input, the input keep reseting the selection to the value, which makes the cursor flickering as the user types something. This happens only on android, on iOS it works fine

Similar issue: https://github.com/facebook/react-native/issues/26047

## React Native version:
System:
    OS: macOS 10.15
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @

[2020-08-26 19:11] patrickkempff commented on #29398
I have a build with the same problem. The bundle is missing but the images are copied correctly it seems.
Can anyone confirm their images are also present in the drawable folders?

[2020-08-26 19:20] scobo commented on #29608
No code changes since yesterday, yet today neither the demo app or the one in our monorepo have network connectivity. We’ve tried building from both macOS (two separate machines) and Ubuntu; same result in both environments. Flipper still indicates the requests are successful (and we can access the URL directly from a browser), but there’s nothing in render in the app.

[2020-08-26 19:40] mweststrate commented on #29492
Just as update for those following this issue: It seems that an outdated version of Flipper was shipped with RN. We'll make sure to fix that, as a temporarily workaround see https://github.com/facebook/flipper/issues/1399#issuecomment-680971940. Also see that thread for further follow-ups.

[2020-08-26 19:54] scobo opened #29781 "Unable to initialize app with verison 0.59.10"
## Description
Unable to initialize a new app using the latest 0.59.x version, 0.59.10 as of this report. Initializing any newer version works, e.g., `npx react-native init demo --version 0.60.0` does not have this problem.

## React Native version:
0.59.10

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. `npx react-native init demo --version 0.59.10`

error Er

[2020-08-26 19:54] scobo commented on #29608
Ran into a separate issue when trying to repro with an earlier version: #29781

[2020-08-26 20:14] scobo commented on #29781
Tried this as a workaround:

[code]

…but it fails as well:

<img width="332" alt="Screen Shot 2020-08-26 at 13 14 03" src="https://user-images.githubusercontent.com/424925/91351988-069ca680-e79e-11ea-897e-2efa477ae9e6.png">

[2020-08-26 20:45] omarcv07 commented on #28671
l

[2020-08-26 20:54] TheSavior commented on #29781
Heya! Good to cross paths again!

You'll probably get more help on the CLI repo over here: https://github.com/react-native-community/cli

It looks like they have documentation for using init that does mention the approach you are taking only works for >60. They have a section for how to init older versions here. It's kinda similar to what you tried last. https://github.com/react-native-community/c

[2020-08-26 20:54] #29781 closed

[2020-08-26 21:17] avonipenti commented on #27823
@IvanPaulBOB Did you figure out what the problem was? We upgraded Firebase module and android has been having this issue.

[2020-08-26 21:43] snowleopardAlex commented on #29733
I will add the necessary templates.

[2020-08-26 21:44] #29733 closed

[2020-08-26 21:49] friederbluemle commented on #29779
And it just happened again.. Is this some script gone rogue? 😕

[code]

[2020-08-26 21:55] fkgozali commented on #29779
cc @rickhanlonii

[2020-08-26 22:03] scobo commented on #29781
@TheSavior Hi! Thanks for the info and quick response. 🙂

[2020-08-26 22:09] rickhanlonii commented on #29779
Yeah we force pushed to fix the co-authors of [this commit](https://github.com/facebook/react-native/commit/1270873ed65ae32596c3094a3a9e165bb61c5ce1). That messed up some of our sync jobs, and we had to force push again to fix the issue.

[2020-08-26 22:09] #29779 closed

[2020-08-26 22:14] ambarc opened #29782 "Fetch failures on Android"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Fetch POST and PUT requests, to https endpoints, fail with "Network request failed", on android simulator. We're observing this after upgrading from 0.59.10 to 0.61.5. We can't upgrade further (yet) given other dependencies breaking.

Observation: Adding a [Header](https://devel

[2020-08-26 22:21] BravenxX commented on #25494
So there is no a official patch to fix it  yet?

[2020-08-26 22:27] friederbluemle commented on #29779
Thanks for the explanation @rickhanlonii - I assume this was a one-time occurrence (hopefully). Feel free to close this issue :+1:

[2020-08-26 22:30] BravenxX opened #29783 "Android App crash: Fatal signal 11 (SIGSEGV), code 1"
## Description

When I run the app:

`react-native run-android`

On physical devices the application sometimes (just sometimes) just closes itself without visible error.  while in Android Emulator it works okay.

In android studio Logcat, as error throws me this when the app crashes:

`2020-08-26 18:17:22.063 21369-21417/com.geslubapp A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault

[2020-08-26 22:32] friederbluemle commented on #29779
For future reference/traceability:

[code]

[code]

[2020-08-26 22:44] nicocolascrete commented on #29749
Thanks @thijs-qv but it not very helpfull for this bug :)
I just want no extra space on the right.

[2020-08-27 00:21] conlanpatrek opened #29784 "Cannot animate shadowOffset"
## Description
When trying to use `Animated.Value` and `Animated.View` to animate `shadowOffset.height` or `shadowOffset.width`, I find that the `shadowOffset` is always set to the initial `Animated.Value`, and then is never updated. I couldn't find any documentation on what properties are animatable, so I assume everything in the stylesheet is fair game.

## React Native version:
[code]

## Steps

[2020-08-27 02:44] luojinghui commented on #29123
Use "javascript.validate.enable": false in your VS Code settings.

[2020-08-27 04:15] export-mike commented on #28546
for those that might be interested I just patched this package with isEmpty and merge from react native core which has now been deleted

add the file to `patches/deprecated-react-native-listview+0.0.5.patch` and install and configure `patch-package`
[code]

[2020-08-27 05:36] ashishfeels commented on #26066
@sunnylqm @taschik how should i update to v8 facing similar crash

[2020-08-27 07:00] MegaMaddin commented on #22448
Sounds stupid, but worked in our case - for the assets stored within the app package, we switched to using PNGs. It's a bit more storage intensive and increases the app size, but that solved [as in workaround] the memory issues for us.

[2020-08-27 07:44] jong-hui commented on #29743
https://snack.expo.io/!SAgdJI88

I think it's my mistake. In the example above (https://snack.expo.io/!SAgdJI88). If you act like my gif, you can implement a problem case. However, if you delete "setState(false)" from "onTouchStart," it works the way I want it to.
The momentum is printed as if it were not deleted. This brought me confusion. You can check it on the console.
I'll close the issue.

[2020-08-27 07:49] #29743 closed

[2020-08-27 07:52] sallar commented on #29763
@safaiyeh I've created a repo for this. Uncomment line 21-23 of `App.js` and the app crashes on Android.
https://github.com/sallar/PlatformColorBugReproduce

[2020-08-27 08:07] LordMilan opened #29785 "React Native Expo cannot load my javascript file locally in webview!!"
Basically instead of using url of the script, i want to be able to use that script  locally from my app's own resources. so that i dont need internet connection for my app to work!!!!

Im trying to use pdf.min.js file:
WORKING EXAPMPLE:
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script> (IF I DO THIS THEN THE SCRIPT IS WORKS)

NOT WORKING:
    <script src="./p

[2020-08-27 09:35] HimiGame commented on #21747
I use Xcode to recompile the running project to solve this problem

[2020-08-27 10:39] OlivierFreyssinet commented on #29776
Is there a way to at least disable this overscroll behaviour ? i.e. when the nested scrollview is overscrolled, don't scroll the parent view at all.

[2020-08-27 10:40] hamdikahloun commented on #29785
Hi @LordMilan

Are you sure about ./pdf.min.js path ?

[2020-08-27 10:46] LordMilan commented on #29785
YES IM 100% sure! My problem is similar to this :
https://stackoverflow.com/questions/5733883/loading-javascript-into-a-uiwebview-from-resources/5810930#5810930

Image loading works fine if i mention the path but trying with js file doesnt seem to work!
i just wanna know if theres a workaround for this...im new and ive already wasted 2 days for this!

[2020-08-27 11:25] mweststrate commented on #29492
Simpler solution, in `ios/Podfile` change `use_flipper!` to `use_flipper!('Flipper' => '0.54.0')` and run `pod install` afterwards in `ios` dir

[2020-08-27 11:50] anfriis commented on #29492
@mweststrate
Awesome, this fix also works for me 👍🏼
I got an error when running `pod install`, so remember to run `pod repo update`

[2020-08-27 14:36] caioedut commented on #25494
anyone got that?

[2020-08-27 15:15] luhahaha opened #29788 "iOS Linking getInitialURL() Cannot read, copy or use the file in the url"
When the app is killed and I open the app sharing a file (a zip file) if I try to unzip the file or try to copy it goes in error.
Seems it doesn't have the permissions for that file.

If I get the URL with the app open through addEventListener('url') I can use the file.

## React Native version:
0.61.5

[2020-08-27 15:16] AlexaJosse commented on #29608
Hi,

I might have the same issue, did you mean that you can't do any http request or socket connection with any server from your android application ?
Because that's exactly my situation, the android phone is connected but my RN android app can't connect with my server.

Have a nice day

[2020-08-27 15:33] hsavit1 commented on #28492
NOOO VERY BAD @Stalebot

[2020-08-27 16:41] Orozco93 commented on #29505
Hi, I'm facing the same issue! Any news?

[2020-08-27 17:06] jamesdarabi commented on #27449
This issue is still present in React Native version: `0.63.2`

[2020-08-27 17:20] Kjens93 opened #29789 "iOS use_frameworks! broken in v0.63.2"
## Description
Support for the `use_frameworks!` directive in iOS podfiles was [fixed](https://reactnative.dev/blog/2019/09/18/version-0.61#other-improvements) in v0.61, however it seems to be broken again as of version 0.63.2. This is inconvenient because it means that CocoaPods plugins like [cocoapods-binary](https://github.com/leavez/cocoapods-binary) can't be used to speed up build times (beca

[2020-08-27 17:44] danielkv commented on #26750
same problem here

[2020-08-27 17:45] dpedneka opened #29790 "React Native App Bundle Version Code (Weird Number) -"
React Native App Version changes when Uploaded on Play Store
Version - 3145730 (1.0)
Version - 6291460 (2.0)

Is this because of APP Bundle?

To Release app we followed the following process.
https://reactnative.dev/docs/signed-apk-android

$ ./gradlew bundleRelease

Why this behaviour? Is it normal or is there any changes we need to do resolve this error.

[2020-08-27 18:07] edemagbenyo commented on #28503
This saved my day!!!

[2020-08-27 18:16] viniciuspetrachin commented on #29396
Windows 10.
With me the problem was solved as follows.
I was using PowerShell before and the error started to appear out of nowhere.
Then I opened the Command Prompt (CMD) in administrator mode. I ran the npx react-native run-android and then opened the normal emulator and stopped giving this error.

[2020-08-27 19:07] devanshujain95 commented on #28551
If anyone is still facing problem in RN Version 0.62 or higher, solution is:
You must have to give uri, name & type of the media you are uploading.
[code]

Then go to Line number 43 and comment this line:
 `builder.addNetworkInterceptor(new FlipperOkhttpInterceptor(networkFlipperPlugin));`
at android/app/src/debug/java/com/"project name"/ReactNativeFlipper.java

I have spent close to 8 hours diggi

[2020-08-27 19:12] SYNTAG commented on #28551
Yep, that was the case for me too, confirmed it here: https://github.com/facebook/react-native/issues/29364#issuecomment-679370449

[2020-08-27 19:14] SrBrahma commented on #15059
Happening in Redmi Note 8.

[2020-08-27 20:16] felire commented on #29715
@safaiyeh The bug is still happening on the lats version of RN.

Tested on `0.63.2`

[2020-08-27 20:20] vitorandrietta commented on #29715
hi, this is also happening with in version `0.63.2`
after passing `accessibilityActions` prop to the view I become able to select its children elements, even after setting
`accessible={true}` in the parent view

[2020-08-27 20:27] safaiyeh commented on #29763
@sallar thanks for the repro. The crash is reproduced on my end.

Two things:
1. It should not crash when there is an invalid color attribute
2. textColorPrimary should be valid.

Narrowed it down to this file https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/bridge/ColorPropConverter.java

Maybe @tom-un could take a look?

[2020-08-27 21:27] luskin commented on #28503
@karan-rawal Your syntax is unfamiliar to me as we are used to generally something along the lines of this:

[code]

That being said, we are still dealing with this issue after exactly what you said, we put in some custom build configurations and renamed Debug to `Staging.Debug`. Would you mind posting your exact setup here for how you setup your custom build configurations in your Podfile? Thank

[2020-08-27 21:43] ambarc commented on #29698
[Related](https://github.com/facebook/react-native/issues/29782). Try adding headers and see if that fixes?

[2020-08-28 00:32] zaptrem commented on #28824
Did this ever get fixed? I would prefer not to rip out flipper nor disable bitcode (isn't it a requirement for submitting to the App Store?)

[2020-08-28 01:03] vladp commented on #28768
Hello,
this issue is not resolved and requires attention.
the react-native-community-cli does not allow node_modules directory of the React native side to be arbitrary.
That functionality was available before react-native-cli in 0.61
This is not a Linux specific problem, so not sure why linux tag is added to the issue.

[2020-08-28 01:38] safaiyeh commented on #28551
Flipper upgrade PR raised by FB https://github.com/facebook/react-native/pull/29787

[2020-08-28 01:39] safaiyeh commented on #28551
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: https://github.com/facebook/react-native/issues/29364#issuecomment-671565181, PR submitted here for the fix: https://github.com/facebook/react-native/pull/29595

Android: Upgrade Flipper version https://github.com/facebook/react-native/issues/28551#issu

[2020-08-28 01:39] safaiyeh commented on #29364
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: #29364 (comment), PR submitted here for the fix: #29595

Android: Upgrade Flipper version #28551 (comment), PR raised #29787

[2020-08-28 01:41] safaiyeh commented on #29021
Bringing together all the fixes here, hopefully we can get a fix for this merged to core soon:

iOS: Revert a PR, requires modifying node_modules: #29364 (comment), PR submitted here for the fix: #29595

Android: Upgrade Flipper version #28551 (comment), PR raised #29787

[2020-08-28 02:24] marlti7 commented on #29286
Same behavior encountered

[2020-08-28 05:18] ajaymarathe9 opened #29795 "React-Native "react-native": "0.62.2" is not working on Android - 9."
## Description
I'm using "react-native": "0.62.2", I made one app released it on Google Play console, it's strange that app is working fine on android - 8 and less versions but not working on android -9, what's wrong with it?
It's showing blank screen after splash screen on android -9 version but working cool on android -8.

## React Native version:
"react-native": "0.62.2",

## Expected Results
A

[2020-08-28 05:22] therealansh commented on #29782
Are you using a localhost api? If so try changing the target url to http://10.0.2.2 for android emulator and if you are trying it on a real device try changing the endpoints to your computer's local IP address. But it is strange that it used to work before v0.61.5

[2020-08-28 05:54] vaibhavmittal5 commented on #29101
run cmd -- sudo xcode-select --switch /Applications/Xcode.app
then try -- pod install

[2020-08-28 08:17] FabrizioCaldarelli commented on #29364
Using `rn-fetch-blob` does not require any fixes.

[2020-08-28 08:23] danwhite-ipc commented on #27400
I am having this issue on iOS, when the app is in the background for 12+ hours

[2020-08-28 08:39] renielDev commented on #28551
I was having the same issue and none of the solutions here worked for me.

What worked for was that I am just missing the mime_type of my upload.

Be sure to have these data correctly:
 - uri
 - name
 - type

[2020-08-28 09:31] macci10 opened #29796 "Double slashes instead of tripple"
## Description
App was opening fine with myapp:// scheme. Suddenly it stopped opening with myapp:// scheme. I called Linking.makeUrl() and it returned myapp:///. Now when i open myapp:/// scheme the app works fine. I can't seem to find any place where this change happened. I want to use double slashes in my deeplink. It's an Expo App and the only configuration i can find for deeplink is setting th

[2020-08-28 09:36] mk250798 opened #29797 "EventEmitter removeListener performance degrades over time"
## Description

When EventSubscriptionVendor adds new subscription, it pushes it at the end of the array (see _EventSubscriptionVendor.js line 48 method addSubscription). When it removes subscription, it calls delete on element of subscription array (see _EventSubscriptionVendor.js line 80 method removeSubscription).

HOWEVER! When delete is called on an array element, it does not shift / shorten

[2020-08-28 09:43] yenda commented on #29364
There is already a working fix and PR that has been sitting for weeks

[2020-08-28 09:47] FabrizioCaldarelli commented on #29364
In my opinion, fixing a library in node_modules is a bad solution and it should avoid as much as possible and it should be only the last chance to compile and launch the application.

In all other cases, it should be used a more stable solution (in this case, rn-fetch-blob).

[2020-08-28 09:55] TheDuc commented on #29774
@gedeagas Thanks for your comment, but that merge is also in the 0.61.5 release.
Currently the `executeKeyEvent` method is overridden, but that does not seem to work correctly.
I have overridden the `dispatchKeyEvent` method with the same code, and that seems to work, but needs more testing

[2020-08-28 10:09] ChuksFestus commented on #25668
import "intl";
import "intl/locale-data/jsonp/en";

[2020-08-28 10:12] gedeagas commented on #29774
yeah, @TheDuc just tested this out and found out that it's not working on latest master. Doing some digging and I found out that `dispatchKeyEvent` works perfectly.

[2020-08-28 10:30] gedeagas commented on #29774
yeah, I just try this out yesterday and can confirm that it's not working.  And changing `executeKeyEvent` `dispatchKeyEvent` fixes the problem.

@TheDuc can you make a pr about this on `ReactHorizontalScrollView` & `ReactScrollView`. And thx for making an issue.

[2020-08-28 10:36] gedeagas commented on #29795
Hi, @ajaymarathe9 thank you for filling an issue, can you make a repro that showcases the issue?.

I have a production app that uses react-native `0.62.2` and it's working perfectly on Android 9. A repro would be very helpful to debug your issue.

[2020-08-28 10:41] SYNTAG commented on #29364
Under normal circumstances, I would probably agree, but [patch-package](https://www.npmjs.com/package/patch-package) is a no brainer with how easy it is to add, plus it is a stable solution since it saves the patch script and applies it on install.

[2020-08-28 12:31] borbhuiyagulsan commented on #29635
The solution I got on my own is I have imported mapView from react-native-maps instead of expo

`import MapView from 'react-native-maps';`

[2020-08-28 12:31] #29635 closed

[2020-08-28 12:42] sallar commented on #29763
@safaiyeh exactly. If the error happens on first render, the app crashes completely and exits. I had to film the screen and slow it down to see the error because it exits so fast.

[2020-08-28 13:13] ajaymarathe9 commented on #29795
@gedeagas which more code you want I have share gradle files thanks, I thought it is target api level issue, but ` targetSdkVersion = 29` is also fine, can you tell what will be the issue? I mean how can I find out? where to look?

[2020-08-28 13:37] safaiyeh commented on #29364
rn-fetch-blob is external to react-native, this should not break with fetch hence the necessary fixes

[2020-08-28 13:50] lifenautjoe commented on #26106
Still having this issue... none of these solutions helped..

[2020-08-28 14:00] AndrewMorsillo commented on #27819
This is still an issue requiring discussion! My users continue to report random app crashes due to this bug.

[2020-08-28 14:41] ambarc commented on #29782
Ty! No, this is for a hosted API, not on local, using https.

[2020-08-28 15:18] scobo commented on #29781
Could that link be added to the [environment setup docs](https://reactnative.dev/docs/environment-setup) as a note? Would have saved us some time and frustration.

[2020-08-28 15:30] safaiyeh commented on #29782
Hi @ambarc thanks for the issue! Is it similar to this? https://github.com/facebook/react-native/issues/29608

[2020-08-28 15:32] safaiyeh commented on #29727
@Danielgb23 great! Glad you found a solution, closing

[2020-08-28 15:32] #29727 closed

[2020-08-28 15:35] safaiyeh commented on #27819
Hi @AndrewMorsillo, I'm sorry you're having issues. It is hard to pinpoint the issue without something that could cause it.

Is there a user flow, a component, where this happens? Some hints to get closer

[2020-08-28 15:39] safaiyeh commented on #29028
We have an open PR for this https://github.com/facebook/react-native/pull/29741

[2020-08-28 15:50] gittysachin commented on #28103
If no one is working on AppContainer, then I'd like to take it up. Thanks!

[2020-08-28 16:02] AndrewMorsillo commented on #27819
Unfortunately I haven't been able to figure out when or why this happens. It seems to be random, usually during a user interaction (tap).

There's a related closed PR with a lot more information here: https://github.com/facebook/react-native/pull/11428
Also an old issue unfortunately without much info: https://github.com/facebook/react-native/issues/22867

I believe this is an internal bug with re

[2020-08-28 16:07] nelsonprsousa commented on #29028
Any idea on what RN version this will end up?

[2020-08-28 17:57] safaiyeh commented on #29774
Thanks for the issue @TheDuc and thank you for investigating @gedeagas!

Accepting this as a valid issue.

[2020-08-28 18:03] safaiyeh commented on #28768
Hi @vladp thanks for the issue and sorry that you have problems. This would be more appropriate filing with the CLI team. React Native core will have CLI as a dependency.

If you want to propose a new implementation, you can do so here https://github.com/react-native-community/discussions-and-proposals

[2020-08-28 18:04] safaiyeh commented on #28768
Closing, but please create an issue with CLI to get this resolved

[2020-08-28 18:04] #28768 closed

[2020-08-28 18:10] a7ul commented on #29373
Hey @luiey  How did you solve this issue ?

[2020-08-28 18:40] vladp commented on #28768
@safaiyeh I had created this issue with CLI, october 2019.
That project is not solving it.

Since RN had adapted CLI as the only method of building apps, and the CLI broke previously available functionality -- I am asking the RN team to look into this.

[2020-08-28 20:06] scobo commented on #29608
Today’s update: Was able to install an older version of the CLI and successfully run the fetch example from the docs in React Native v0.59.10. However, the same App.js fails to render when using React Native v0.63.2. This is in a separate directory created via `react-native init`, not our monorepo. The issue seems to be with React Native itself.

[2020-08-28 21:35] PastequeBuild commented on #25561
I have exactly the same issue and I tried each solution, except unsetting LDFLAGS and CPPFLAGS variables because I don't find them. I searched in `~/.bashrc`, `~/.bash_profile`, and `~/.profile`. I don't use zsh, but should I install it ? Thanks for your help.

[2020-08-28 22:56] JoseMoreville opened #29802 "Graphic problems on official react native page"
Hello, i was taking a look on react native page since i want to use it for one of my project and i realized there are some problems with the front-end when you hover some brand icons.

I'm pretty sure it's the size, background color and border of the anchor tags `<a></a>`

I'm not 100% if this post belongs here but hopefully it does.

**Image to show the bug**
[http://prntscr.com/u7rhgn](http://pr

[2020-08-29 00:38] safaiyeh commented on #29028
There hasn't been a branch cut yet, so expect it in the next release!

Closing as the PR is merged

[2020-08-29 00:38] #29028 closed

[2020-08-29 02:00] safaiyeh commented on #29802
Thanks @JoseMoreville for the issue. Send over your issue to https://github.com/facebook/react-native-website, this issue board deals with React Native core issue.

[2020-08-29 02:00] #29802 closed

[2020-08-29 02:02] safaiyeh commented on #29795
Hey @ajaymarathe9 thanks for the issue. A full repo would be helpful. It could be many other possible causes. Could you narrow it down with a crash log? We've seen the blank screen issue come from third party modules as well.

[2020-08-29 02:04] safaiyeh commented on #29796
Hi @macci10 could you create a repro without expo? To demonstrate this happens on a clean React Native template? Thanks, this would help us narrow down the issue.

[2020-08-29 02:08] mcraigie opened #29803 "false trackColor prop does not work for Switch component on iOS"
## Description
I'm trying to style the trackColor on a Switch component using something like this:

[code]

The `true` styling works, but the `false` one is ignored.

The best workaround I can find is to use the `ios_backgroundColor` prop, but for some reason that color is always darkened(?) so I can't quite get the colors I want.

(do you think I should raise another issue for the color warping t

[2020-08-29 02:08] safaiyeh commented on #29789
Hi @Kjens93 thanks for the issue.

@alloy could you check this out?

[2020-08-29 04:36] losh11 opened #29804 "Bug in TextInput's text style in android, when the text's style in changed conditionally"
We are conditionally changing the style of the text in TextInput. On iOS and Web this doesn't seem to have an issue, on android when the second condition is reached, the text looses all of its style. Please keep in mind that the text is still in state, the only thing wrong here is the style.

[code]

## Description
Code example available in this snack: https://snack.expo.io/@loshan1212/losh11-text

[2020-08-29 07:39] ShaMan123 commented on #28751
Strangely enough on iOS the solution suggested by @bboure works. On android it has no effect.
See updated [snack](https://snack.expo.io/hP4xXSsW_) with `CellRendererComponent` fix (thanks @seunghyun-woo)

[2020-08-29 08:44] PastequeBuild commented on #25561
I solved the problem with `$ sudo xcode-select --switch /Applications/Xcode.app`. **Important**: **restart your terminal after executing this command !** Then you can do `cd ios && pod install`

[2020-08-29 08:53] pathansajidkhan commented on #28503
I am having same issue on App Center. Locally on MacBook no issues.

[2020-08-29 09:01] jsamr commented on #25265
Someone has been able to reproduce on latest versions?

[2020-08-29 09:13] terrysahaidak commented on #18945
Still an issue.

[2020-08-29 09:17] archfz commented on #28807
Up.

[2020-08-29 09:50] aliazizi commented on #12167
Issue still exist

[2020-08-29 10:05] usama-asfar opened #29805 "Skipping device 'F-02F - 4.4.2' for 'app:debug': minSdkVersion [21] > deviceApiLevel [19]"
## Description
React Native app is not installing on tablet F-02F showing `> Task :app:installDebug FAILED` error but installed and running on Galaxy J7

## Device Info
### Build unsuccess on
Tablet Fujitsu Arrows Tab F-02F
Andriod Version 4.4.2

### Build success on
Samsung Galaxy J7 2016
Andriod Version 8.1.0

## React Native version:
[code]

## Conclusion
I think I get this error because my Tab

[2020-08-29 12:00] adriano461997 opened #29806 "Modal opens and closes when I update a variable using useState"
## Description
Whenever my application opens a modal and I try to update a variable using useState the modal opens and closes alone, in my modal there is a Switch that when I change the value it has to change a variable but it happens that this variable I need to change with useState.

## React Native version:
System:
    OS: Windows 10 10.0.18363
    CPU: (2) x64 Intel(R) Pentium(R) CPU G2030 @ 3

[2020-08-29 12:02] xqin commented on #27003
Discussion

On Sat, Aug 29, 2020 at 17:01 stale[bot] <notifications@github.com> wrote:

[2020-08-29 13:28] gedeagas commented on #29805
HI, @usama-asfar thx for the issue but I don't think this is a react-native bug.

The minSdkVersion of your app is `API Level 21` ( Android 5.0 ). Because you are trying to install the app on a device with Andriod Version 4.4.2 Gradle will skip your device because it's lower than Android 5.0.

Do your app use native modules that are dependant on android API level >= 21? if not you can try to lower

[2020-08-29 13:33] gedeagas commented on #29803
Hi @mcraigie yep you are correct that on iOS when the switch value is false, the track shrinks into the border. If you want to change the color of the background exposed by the shrunken track, you must use ios_backgroundColor. I think the main issue that you are facing here is about color warping that happens with ios_backgroundColor.
https://reactnative.dev/docs/switch

Any snack expo or example

[2020-08-29 14:01] kfiri opened #29807 "Unicode Properties are not supported/broken for Regular Expressions (Regex)"
## Description
The `Unicode Properties` feature for regular expression is supported for Node, Swift and Java (see References bellow).
However, when I use that feature in my code, it returns a wrong answer (specifically I used `\p{L}` and the `test` method).
For example, `/\p{L}/u.test('a')` returns `false`.
#### References
JS - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_

[2020-08-29 14:09] gedeagas commented on #29790
Hi @dpedneka this happens because https://github.com/facebook/react-native/blob/7694b32a88078278457dd8721eb61da9c4ac0f5a/template/android/app/build.gradle#L176 your versionCode is lower than the previous apk. The current calculation on versionCodeOverride is unpredictable.

V1.0 200
[code]

[2020-08-29 16:53] AndrewMorsillo commented on #26032
This is still an issue 1 year later. As far as I can see there are no working profiling tools for react-native Android at the moment and haven't been for a couple years. This is really painful for my team, we have customers reporting performance issues on Android but have no way to diagnose and solve them other than trial and error. Only chrome profiler appears to work but as we all know that does

[2020-08-29 16:59] justinwh commented on #28140
I've confirmed (again) that this issue still exists in RN 0.63.2, and my proposed fix still works.

I've been shipping my own app with a patched RN since February to "fix" this issue.  My patch is pretty dumb—it just makes iOS 13 devices match the pre-iOS 13 behavior.  That approach eliminates the need for OS version-specific workarounds, which is "good enough" for a one-off hack.

I don't think i

[2020-08-29 19:12] justinwh commented on #28140
Okay, I've submitted a PR for this

https://github.com/facebook/react-native/pull/29809

[2020-08-29 20:01] #26264 closed

[2020-08-29 20:01] #28264 closed

[2020-08-29 20:01] #26754 closed

[2020-08-29 20:01] #28928 closed

[2020-08-29 20:01] #27998 closed

[2020-08-29 20:01] #28883 closed

[2020-08-29 20:01] #28937 closed

[2020-08-29 20:01] #28942 closed

[2020-08-29 20:01] #28943 closed

[2020-08-29 20:01] #28944 closed

[2020-08-29 20:01] #28945 closed

[2020-08-29 20:01] #28951 closed

[2020-08-29 20:01] #27374 closed

[2020-08-29 20:01] #26246 closed

[2020-08-29 20:06] ambarc commented on #29782
It's very similar, but I think that issue might be running into broader problems. I'm trying to keep this issue open and focused on the presence of `Headers` being the difference between pass / fail on Android.

[2020-08-30 01:20] mcraigie commented on #29803
Thanks @gedeagas, I don't know how I missed that documentation

I'm not super familiar with which part officially makes up the "track" in a switch, but my expectation was that it was everything underneath the thumb circle.

Is there a reason not to automatically apply the `false` trackColor as the `ios_background` when the platform is iOS, unless the `ios_background` prop is provided explicitly? S

[2020-08-30 05:36] maniramezan commented on #28883
This shouldn't be closed, unless someone fixes it or confirms it's an expected behavior 🤷‍♂️

[2020-08-30 06:16] thatsatul opened #29811 "Metro-bundler error: Module `@babel/runtime/helpers/interopRequireDefault` does not exist in the Haste module map"
Trying to run the app through xcode (IOS) and metrobundler, I am getting this error

`error: bundling failed: Error: Unable to resolve module `@babel/runtime/helpers/interopRequireDefault` from `<rootDir>/index.js`: Module `@babel/runtime/helpers/interopRequireDefault` does not exist in the Haste module map

This might be related to https://github.com/facebook/react-native/issues/4968
To resolve t

[2020-08-30 08:18] Sargnec commented on #29247
I was having same issue. Some of the items was same so when viewableItems encounter first of the same items it was returning empty array.

[2020-08-30 08:54] gedeagas commented on #29803
@mcraigie I can confirm that `ios_backgroundColor` always has the "darken" effect you stated. I suspect this is because the native ios switch seems too always reduce the opacity of the background color when the value is false. (CMMIW). cc @safaiyeh not sure on whether this is a bug or not.

And for your question about Switch not to automatically apply the **false** `trackColor` as the `ios_backgro

[2020-08-30 09:05] heritvithalani19 commented on #29709
1. Open your xCode
2. select pod folder
3. find or search React-Core.common-AccessibilityResources
4. Remove  it from pod
<img width="1407" alt="Screenshot 2020-08-30 at 2 23 23 PM" src="https://user-images.githubusercontent.com/59663338/91655384-ca36b680-eacd-11ea-8ea5-6afdd704b63f.png">

5 rebuild your project

[2020-08-30 10:22] thatsatul commented on #27712
Getting same error.

Yarn add @babel/runtime not working.

react-native start --reset-cache not working.

Uninstalling watchman not working.

Below command is also not working for me.
watchman watch-del-all && rm -rf $TMPDIR/react-native-packager-cache-* && rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/metro-* && rm -rf node_modules/ && yarn cache clean --force && yarn install && react-native start --r

[2020-08-30 12:01] satheeshwaran commented on #29472
There are no specific reproduction steps for this crash as this happens in production but as per our analytics we see this happens during a react-native bridge call from the JS layer to native.

[2020-08-30 13:07] mohamedadel1994825 opened #29812 "react-native-pusher-push-notifications cant push notification if app is closed (android)"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-08-30 14:51] serhangursoy commented on #25494
Can confirm that this is happening in react-native 0.63.2 as well.

We are seeing two types of error in production actually.

One of them is only happening for Samsung devices and Android 9 only
[code]

Another one is with less information that affects several other brands and android versions
[code]

Unfortunately, Hermes is not an option, therefore, I'm planning to check other solutions

[2020-08-30 16:22] M-i-k-e-l commented on #28990
Something weird: the scenario were the pasting does not occur still happens but when trying to paste in a previously working scenario the app becomes stuck...
The new example project info is below.

System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 1.78 GB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 11.13.0 - ~/.nvm/versions/

[2020-08-30 17:31] luyouwei66 commented on #29379
me too

[2020-08-30 19:04] syntheticencounters opened #29813 "Local images not rendered on iOS 14 physical device for release build"
The bug previously listed where images aren't rendered on iOS 14 beta devices appears to be a bit deeper than what was listed. When running 0.63.2, local images are now rendered in an iOS 14 simulator, development build on iOS 14 physical device, but no local images are rendered on a iOS 14 physical device release build.

## Description
Remote images are rendered without any issue. Local images ar

[2020-08-31 00:16] #28367 closed

[2020-08-31 00:16] #28948 closed

[2020-08-31 00:16] #28957 closed

[2020-08-31 00:16] #28761 closed

[2020-08-31 00:48] hitsthings commented on #21747
Possibly related: I've sometimes seen sort of a "recursive" component tree in the standalone React Devtools. Like the root component has a root component as its child (so there might actually be two full apps running?). Haven't found a repro though. I suspect related to Fast Refresh and toggling Debug on and off.

[2020-08-31 01:03] dan-developer opened #29814 "Keyboard covering inputs at the bottom when it opens"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Keyboard covering inputs at the bottom when it opens.

## React Native version:
react: 16.13.1 => 16.13.1
react-native: ^0.63.2 => 0.63.2

## Steps To Reproduce

https://snack.expo.io/23NYcXv9w

## Expected Results
That works the way it does on iOS: perfectly

## Snack, code exa

[2020-08-31 01:50] BravenxX commented on #29783
For me it was because Realm.js [Issue](https://github.com/realm/realm-js/issues/3177)

[2020-08-31 01:50] #29783 closed

[2020-08-31 02:03] dan-developer commented on #29814
Whoever is experiencing the same problem on Android, edit the file `android\app\src\main\AndroidManifest.xml` set `android:windowSoftInputMode` to "adjustResize".

[2020-08-31 02:03] #29814 closed

[2020-08-31 02:45] safaiyeh commented on #29813
Hi @syntheticencounters sorry you're having issues! Could you provide a repro for your issue? iOS 14 is still in beta so issues like this are nice to highlight upcoming challenges

[2020-08-31 02:46] safaiyeh commented on #29812
Hi @mohamedadel1994825 please leave an issue with react-native-pusher-push-notifications. If this is determined as an issue in React Native core, feel free to create a new issue with the template filled out

[2020-08-31 02:46] #29812 closed

[2020-08-31 02:55] yifeiyin opened #29815 "keyboardWillHide is not called with consistent value"
## Description
`Keyboard.addListener('keyboardWillHide', callback)` does not get called with correct value for `event.endCoordinates.height` when keyboard is dismissed by tap.

## React Native version:
[code]

## Steps To Reproduce
1. Tap the text input to raise keyboard
2. Dismiss the keyboard by dragging on the scrollview
3. Tap the text input to raise keyboard
4. Dismiss the keyboard by tapping

[2020-08-31 02:56] syntheticencounters commented on #29813
Thanks for the quick reply!

Unfortunately I can't post any direct code from the project due to the agreements in place for the project as a whole.

The issue appears to be present across multiple projects running various versions of RN ranging from 0.59.x to 0.63.2. All projects that did not historically have any issues with image rendering prior to iOS 14.

Apps built with both Xcode 11 and Xcod

[2020-08-31 05:41] nive745 commented on #29019
Please give me solution

[2020-08-31 06:16] #23614 closed

[2020-08-31 06:43] GreatAuk commented on #28931
Press R, and then press Command + R
Press D, and then press Command + D
😭

[2020-08-31 08:15] Waqas-Jani commented on #28002
i'm facing same issue
Reat-native :0.63.2
Linux ubantu: 20.+,
android Studio: latest 4+
Error:
Cause: error=2, No such file or directory
:ReactNative:Running '[node, -e, console.log(require('react-native/cli').bin);]' command failed.

FAILURE: Build failed with an exception.

* Where:
Script '/home/waqas/Documents/Techloset/nhaspa-mobileapp/node_modules/@react-native-community/cli-platform-android

[2020-08-31 08:47] johnneuland opened #29816 "unable to scroll when entering screen for the first time"
## Description

I have a screen where I take user input and search results accordingly. The first time when I visit my screen the length of the resulting LocationsList is wrong so I am unable to scroll through my list. However, when I navigate Back, and come again, the list is displayed properly and I can scroll through it too. Why doesnt it work on the first attempt and how can I fix it?

Issue f

[2020-08-31 08:47] vijay-mca opened #29817 "useEffect not update the redux value its return null but i make change and save its work. first time app loaded its not work."
if i run the app value not update in useEffect please help me

[2020-08-31 09:34] carissacks commented on #27355
I found the solution [here](https://stackoverflow.com/a/62550438)
Hope it helps!

[2020-08-31 09:59] hoanghungbk93 commented on #17530
This commit may be fix this issue:
https://github.com/facebook/react-native/commit/a5b5d1a805a9c54d325763b432be1cf2c8811dc9

[2020-08-31 10:07] myckhel commented on #29806
can we see your codes on how you implemented your modal?

[2020-08-31 10:17] adriano461997 commented on #29806
Yes.

`/* This is an Login Registration example from https://aboutreact.com/ */
/* https://aboutreact.com/react-native-login-and-signup/ */
import React, { useState, useEffect } from 'react';
import {
    ActivityIndicator,
    View,
    StyleSheet,
    Image,
    Text,
    StatusBar,
    FlatList,
    Alert,
    TouchableOpacity, TouchableHighlight, Modal, ScrollView, Linking, TextInput, Switch,

[2020-08-31 11:42] alloy commented on #29789
This is due to Flipper dependencies, as described in the template’s Podfile (of newer RN versions) https://github.com/facebook/react-native/blob/6d3dcc72c58758c8818b75720b8a37a730e8d485/template/ios/Podfile#L16-L19

As of recently we do [build libevent from source](https://github.com/facebook/react-native/blob/master/third-party-podspecs/libevent.podspec), for macOS/Hermes at least, so I imagine F

[2020-08-31 11:42] #29789 closed

[2020-08-31 12:48] 3c133ps3d commented on #28992
+1

[2020-08-31 13:08] shermam commented on #28794
I believe it still requires attention. @fabriziobertoglio1987 has [this PR](https://github.com/facebook/react-native/pull/28995) that seems to fix the problem. It as a small 2 liner, but for some reason it was not merged yet. So if anyone could take a look at that it would be super cool.

[2020-08-31 14:04] hannessolo commented on #29521
Thank you @jbrunton , your workaround worked for me!

I am somewhat disappointed that the documentation page for "Integration with existing apps" (https://reactnative.dev/docs/integration-with-existing-apps) hasn't been updated with this information, even with the docs set to v0.63. In fact, the pages hasn't been updated in 3 years, which is pretty bad considering it's the next page after "install

[2020-08-31 14:19] Burzo commented on #29776
I'm also facing this issue, didn't find a solution as of yet. Any help is appreciated.

[2020-08-31 15:16] #27950 closed

[2020-08-31 16:11] macci10 commented on #29796
@safaiyeh I have created a new project with npx react-native init. There is no issue there. So i think it's the issue with Expo.

[2020-08-31 16:11] #29796 closed

[2020-08-31 16:24] john1jan commented on #29620
Fixed it
We had to enable
`        android:hardwareAccelerated="true"
`
In application tag of AndroidManifest.xml

[2020-08-31 16:24] #29620 closed

[2020-08-31 16:48] scobo commented on #29608
From macOS, with both a Pixel 2 emulator and a Pixel 4 device:
1. `npx react-native init AwesomeProject`
1. `cd AwesomeProject`
1. `npx react-native run-android`
1. Demo page renders.
1. Copy & paste [fetch example](https://reactnative.dev/docs/network#using-fetch) into `App.js`.
1. Refresh app via `R` from Metro console
1. Empty render.

From Ubuntu 18.04, with both a Pixel 3 emulator and a Pixel

[2020-08-31 17:08] Vasault commented on #26245
why this hasn't been fixed without involving people's coding?

[2020-08-31 18:07] scobo commented on #29608
@yungsters Can you try to repro by invoking `react-native` via Yarn?

1. `npx react-native init AwesomeProject`
1. `cd AwesomeProject`
1. `yarn react-native start`
1. `yarn react-native run-android`

We repro’d on a “clean” machine which was able to run the fetch example successfully via `npx`. Subsequently invoking `yarn react-native start` seemed to “poison“ the machine and network requests woul

[2020-08-31 18:27] SYNTAG commented on #29804
Duplicate of https://github.com/facebook/react-native/issues/29717

[2020-08-31 18:48] scobo commented on #29608
More info: If we invoke Metro via `yarn` in our monorepo, it seems to “poison” the Metro cache. Running `yarn react-native --reset-cache` in the monorepo has no effect. We have to create a demo app with the same package name to clean it, e.g., `npx react-native init <ourproject> && cd <ourproject> && npx react-native start --reset-cache`, then the app works again. It appears Metro caches based on

[2020-08-31 19:32] HolySamosa commented on #29771
I'm seeing identical issue on iOS w/ a brand new app created w/ `react-native init` with no modifications.

Upon connecting the debugger, this error appears in the console:
[code]

React Native info:
[code]

[2020-08-31 19:56] hueyAtFetchly opened #29818 "change `../node_modules/react-native/packager/react-native-xcode.sh`"
change `../node_modules/react-native/packager/react-native-xcode.sh`
to `../node_modules/react-native/scripts/react-native-xcode.sh`

_Originally posted by @AndrewJack in https://github.com/facebook/react-native/issues/14935#issuecomment-314160539_

Seems this is a 0.63.x bug no?

Being that we get this with entirely clean version of 0.63.2 (at least the version I am on), should this not be resolv

[2020-08-31 20:26] myckhel commented on #29806
maybe you need to move your `ModalP` function out of `Configuracoes`

maybe the reason is because your `ModalP` is being recreated every time `Configuracoes` renders
and animated component that is being recreated is likely to restart the show animation.

I suggest you practice more so you understand react better than.

I dont think it is a good practice to create react components inside react func

[2020-08-31 20:27] gnprice commented on #25481
No reason to think this isn't still an issue.

If someone can label this as "Backlog", that seems like it'd be appropriate.

[2020-08-31 20:55] HolySamosa commented on #28844
I'm seeing the identical issue on iOS after upgrading my project to RN 0.63.2 from 0.61.   I still see the same problem even when creating a new project  w/ `react-native init` with no modifications.

I've spent the better part of two days on this, trying every suggested solution above without success.

<details>
<summary> Here are my error details and react-native info output </summary>
Upon conn

[2020-08-31 21:35] goatandsheep commented on #29314
@rhaegar453 any test evidence?

[2020-08-31 22:23] ShawnCholeva commented on #29818
Under Build Phases -> "Bundle React Native code and images", I currently have the following script

[code]

And am still getting the error since upgrading to `0.63.2` from `0.62.0`

Error

[code]

[2020-08-31 23:24] boggsey commented on #27989
I'm providing a screenshot of the Layout in Flipper. You can see that `UIAccessibilityTraitButton` is true, `isAccessibilityElement` is true and `accessibilityValue` is either 0 or 1. Currently, the switch reads `Fragrance Status Toggle, 0, Button`

![Screen Shot 2020-08-31 at 7 16 25 PM](https://user-images.githubusercontent.com/1815842/91777783-bf0f8380-ebbe-11ea-8b8b-9a379355bc18.png)

It seems

[2020-08-31 23:49] hueyAtFetchly commented on #29818
@ShawnCholeva Thanks, I can confirm the change is not working for me. Seems with a fresh build on RN 0.63.2 this should not be necessary "out-of-the-box"

[2020-09-01 01:32] PabloTeari commented on #13413
**GG**, it worked for me, but we have to pay attention to the use of memory, because this feature requires a lot. My flatList is very quick, but I will do more tests so that I can conclude this question for my project.

[2020-09-01 04:54] exneval commented on #27204
Should be fixed in next version of react native.

Based on commit 07a597a

[2020-09-01 04:56] nenjamin2405 commented on #28794
I'm facing the same issue and it's quite annoying, please help to verify and merge @fabriziobertoglio1987 's PR :(

[2020-09-01 04:57] luatnd opened #29819 "SectionList (ScrollView) render empty white content when navigate right before stopping transition with react-navigation"
## Description
SectionList (ScrollView) renders empty white content when do navigate right before stopping transition.
Each tab as 1 stack of react-navigation

Please see the attached video & reproduction steps below for more details:

## Steps To Reproduce
It's simple as follow:

1. Create react-navigation stack, I use this code to create it:
[code]
2. User stack has 1 scroll view, you scroll it

[2020-09-01 06:04] marinashe commented on #29596
I had the exact same problem.
But the problem was not in TextInput, but in a component that  wrapped TextInput. For me it was InputScrollView from library react-native-input-scroll-view. In this library it was fixed by this commit https://github.com/baijunjie/react-native-input-scroll-view/commit/f4361eb871d70cd947fced7fa3189c81d05458b3

[2020-09-01 06:35] rumax opened #29820 "Missing dismiss from JS or timeout functionality for Share.share dialog"
## Description
Missing dismiss from JS or timeout functionality for Share.share dialog

## React Native version:
Any version of RN

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Follow official docs (https://reactnative.dev/docs/share) and open share dialog
2. Wait for some time and try to dismiss the dialog from JS or by timeout?

## Expected Results
It shou

[2020-09-01 07:32] saachitech commented on #29813
How do you embed local images? I think they won't work unless you embed them in the package, so for example, if you don't use require('localimage') or import them, they won't work in release build because they won't be packaged unless you explicitly embed them in ios package. You can either add them in build settings or create image sets.

[2020-09-01 07:33] superandrew commented on #28423
In my case the problem was indeed react-native-gifted-chat, however I am adding myself to the list of the curious people who would like to know the cause of the problem and mostly why it happens only on android.

[2020-09-01 07:50] oleksandr-dziuban commented on #29818
Hi, this PR fixes an issue
https://github.com/facebook/react-native/pull/29477

But community didn't merge it yet

[2020-09-01 07:54] saachitech commented on #29739
@26903651 You can try bugsnag to find out the error or open issue on StackOverflow because this seems to issue with your code not react-native.

[2020-09-01 08:07] renielDev commented on #26610
Same issue I've been experiencing and adding  `scrollIndicatorInsets={{ right: 1 }}` to the ScrollView fixed it.

[2020-09-01 08:17] tobiasr commented on #27253
I'm also unable to reproduce this on [6d3dcc7](https://github.com/facebook/react-native/commit/6d3dcc72c58758c8818b75720b8a37a730e8d485).

[2020-09-01 09:01] josegamboa commented on #28445
thanks a lot, I had the same issue,   it works fine classpath ("com.google.gms:google-services:4.3.3"), I had this before: classpath "com.google.gms:google-services:4.3.3"

[2020-09-01 10:16] adriano461997 commented on #29806
I understand, the same error occurs in the FlatList when I try to use setState it renders the entire layout again, for example I give a scroll in the Flatlist but when I open a modal or do something else using seState the scroll goes back up and the whole layout restarts but not resetting the values of the variables.

So if I understand correctly when I create a modal, I should do this outside the

[2020-09-01 10:24] leonardoballand commented on #29818
PR #29477 fixed the issue for me

[2020-09-01 10:55] oleksandr-dziuban commented on #29818
Yes, I also applied changes locally to test release bundle on CI.

Possibly this fix will be included to RN version 0.64+

[2020-09-01 11:13] neiker commented on #26066
A couple of weeks ago our project had a crash report on some devices because of Hermes, so I disabled it. Now we have a report on other devices because of JSC and the solution is switch to Hermes. Life is endless pain.

[2020-09-01 11:36] tobiasr commented on #9195
I think I've been able to reproduce this issue in a new Snack, here:
https://snack.expo.io/@rundbom/image-should-update

By using lorem picsum as a source a new remote image is available on each request to the same URI.

We force the image to rerender by updating the key prop.

The image doesn't change even though `cache: 'reload'` is used.

This might be expected behaviour though?

One idea on fi

[2020-09-01 12:51] riadhriadh commented on #29625
@glacjay  @xfeng-github  @polarisdigitech  @safaiyeh
maybe the problem in the react navigation dependence
https://github.com/react-navigation/react-navigation/issues/8525

[2020-09-01 13:15] metervara commented on #29279
From what I can see this now works for local images, however I'm still experience the issue when loading network images on iOS 14

This works:
`
source={require('./assets/images/593-400x200.jpg')}
`

But this does not:
`
source={{
    uri: 'https://picsum.photos/400/200',
}}
`

Both work on iOS 12.4 (Simulator, built from Xcode 12 beta)

[2020-09-01 13:15] syntheticencounters commented on #29813
Thanks for the information. All local images are loaded via require.

[2020-09-01 13:39] #29625 closed

[2020-09-01 13:45] riadhriadh commented on #29582
upgrade  react navigation

[2020-09-01 13:45] #29582 closed

[2020-09-01 14:52] Relax594 opened #29822 "Switch Default trackColor false does not persist on Android"
## Description
The Switch Component on Android does not persist its default trackColor for false. Its just gone (not just white) after switching On and Off again.

2 shows the Switch on first render
1 shows the Switch after being toggled On and Off again
![grafik](https://user-images.githubusercontent.com/22765758/91860449-f851fd00-ec6b-11ea-86bb-2906d5f08f2f.png)

## React Native version:
[code]

[2020-09-01 14:55] srknnaydnn commented on #26929
You can do that by going to {project root folder}\android\gradle\wrapper\gradle-wrapper.properties and changing the distributionUrl value to upgrade the Gradle version. You can check out here the lastest releases of Gradle https://gradle.org/releases/.

[2020-09-01 15:18] danielkhaleb commented on #27548
@qam12 Work for me, thanks

 `  <View
            style={{
              borderRadius: 16,
              backgroundColor: '#E03400',
              padding: 10,
              position: 'absolute',
              zIndex: 1,
              marginLeft: '45%',
              marginTop: 30,
              width: '55%',
              elevation: 4,
            }}

            <Text
              style={{

[2020-09-01 16:25] TheSavior commented on #27253
Thanks for the comments all! I'm glad this is resolved, I'll close it out!

[2020-09-01 16:25] #27253 closed

[2020-09-01 17:10] bmbmjmdm opened #29823 "XMLHttpRequest GET request fails on fresh RN project"
## Description
Making a simple XMLHttpRequest GET request to "https://www.google.com" results in the request immediately updating with `request.status === 0`. Usually it will eventually go through after 2-3 minutes, sometimes it won't. After it goes through, future XMLHttpRequests resolve quickly. This failure can also be seen using `fetch` or `axios`.

## React Native version:
[code]

## Steps To

[2020-09-01 17:58] RSP531 opened #29824 "toLocaleDateString() does not work in Android. The date format gets trimmed from 'yyyy' to 'yy' (iOS does work correctly)"
## Description
When using Dates in React Native, the method toLocaleDateString() clips the date. Is there a work around for android?

## React Native version:
"react-native": "~0.62.2",

## Steps To Reproduce
In any component paste this code and you will see...

[code]

## Expected Results
The first year will log a 2 digit year: '20'. In iOS the year will log a 4 digit year: '2020'

## Snack, code

[2020-09-01 18:15] rnnyrk commented on #29351
Still having this issue. Changing the code to:
[code]

Doesn't seem to work. Anyone with another solution? 🤔

[2020-09-01 18:41] chrisglein commented on #29824
Put that in a Snack:
https://snack.expo.io/@chrisglein/repro29824

If you just want the year, `getFullYear` produces the 4 digit value. Parsing it out of `toLocaleDateString` is going to be dependent on the locale formatting per platform, which I guess is different on Android? Is this an RN issue or just a difference in Android/iOS defaults? (Web also displays the 4 digit value, like iOS)

[2020-09-01 18:48] chrisglein commented on #29823
There are all sorts of things that could go wrong with this, naturally. It'd be good to have more data about what you're seeing in networking logs, etc. However, this is plain JavaScript and doesn't have anything to do with particular React Native APIs. The behavior you're seeing is more tied to the native platform and the JavaScript engine. Do you have reason to suspect something about React Nati

[2020-09-01 18:59] chrisglein commented on #29822
Recreated in a snack here: https://snack.expo.io/@chrisglein/repro29822
On iOS it shows red when switched on and grey when switched off (despite what the `false` value is).
![image](https://user-images.githubusercontent.com/26607885/91894438-8c12d180-ec4a-11ea-82da-e6ed717fd6cc.png)
On Android it shows the red, same as iOS, but with the thumb not colored (and looks ugly):
![image](https://user-ima

[2020-09-01 18:59] bmbmjmdm commented on #29823
Do you know how to get those networking logs? I've tried digging through logcat and it haven't found much ("could not identify captive portal state" and "captive portal exception" were of note). I suspect it's related to RN simply because I'm seeing this behavior across phones/OSs (so it seems unlikely to be caused by the platform). The phones' are able to access webpages via a browser and those s

[2020-09-01 18:59] RSP531 commented on #29824
Maybe just an issue with Android/iOS defaults? I just noticed a difference on the two platforms, but couldn't find any information on RN or MDN to explain why the js function works differently on the platforms.

[2020-09-01 19:02] chrisglein commented on #29820
If I follow you're question, you're looking for a programmatic way to cancel a share dialog after it's been launched. Not through user action, but through user inaction (timeout) or through some code event of some sort. Am I understanding that correctly? Is this a feature request or a bug in current behavior.

[2020-09-01 19:04] myckhel commented on #29806
yes that is what i meant.
did you try it? and did you see changes?

[2020-09-01 19:04] Relax594 commented on #29822
As I've written above, on expo snack it's working somehow. The behaviour I described is just happening on a real device as far as I can tell.

Just copying the code I provided into a brand new init project and building on android device. Nothing more needed. I can recreate it on multiple android devices with different OS versions.

[2020-09-01 19:10] chrisglein commented on #29822
Sorry, I missed your comment about it working in Snack. Both of them. Yikes, my eyes are failing me.

[2020-09-01 19:31] savioserra commented on #27483
Still experiencing this on v63.2 (react-navigation v5). Any updates?

[2020-09-01 19:33] jenniferburch commented on #29417
Same here.  If your package.json file includes @react-native-community/cli* they are probably the wrong versions.  Remove them from your package.json and do a fresh yarn install, then you should have the versions react-native is expecting.

[2020-09-01 19:40] alexwasner opened #29825 "Navigating from screen with autoFocus input to previous screen with autoFocus input, error thrown"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Navigating with React Navigation from ScreenB to previous ScreenA when both have an `autoFocus` `TextInput` on screen, the error `'focusTextInput must be called with a host component. Passing a react tag is deprecated.'` is thrown.

## React Native version:
[code]

## Steps To R

[2020-09-01 19:50] dulmandakh commented on #29805
Closing per @gedeagas comment. Thanks

[2020-09-01 19:50] #29805 closed

[2020-09-01 19:58] dulmandakh commented on #29785
Closing the issue because WebView is removed from React Native a while ago, and it’s recommended to use https://github.com/react-native-community/react-native-webview/. Please refer to its documentation, and injectJavascript might help.

[2020-09-01 19:58] #29785 closed

[2020-09-01 20:06] dulmandakh commented on #29769
The issue tracker is intended for only tracking bug reports in React Native. Please refer to React Navigation documentation, and deep links might work for your case

[2020-09-01 20:06] #29769 closed

[2020-09-01 20:18] dulmandakh commented on #29718
React Native doesn’t include Multidex support, but you can add it just like native Android applications per Multidex documentation. Please refer to Multidex documentation.

Closing the issue because the issue tracker is intended for only tracking bug reports in React Native.

[2020-09-01 20:18] #29718 closed

[2020-09-01 20:25] roman-gula commented on #29414
@safaiyeh try to add into `TouchableNativeFeedback` **View** component:

[code]

Also if remove View from React native `Button` component error will gone.

[2020-09-01 20:28] dulmandakh commented on #29759
Where is the Test class come from? Your custom native code?

[2020-09-01 20:48] dulmandakh commented on #29678
Closing the issue because this issue tracker is intended to track React Native issues, but this is related to installing npm packages.

[2020-09-01 20:48] #29678 closed

[2020-09-01 21:06] dulmandakh commented on #29515
Closing the issue because this issue tracker is intended to track RN issues, but the issue is related to your code. I would suggest to use FlatList instead.

[2020-09-01 21:06] #29515 closed

[2020-09-01 21:09] dulmandakh commented on #29512
Closing the issue because this issue tracker is intended to track React Native issues, but this looks like a support issue. Please see https://stackoverflow.com/questions/21631313/xcode-project-vs-xcode-workspace-differences

[2020-09-01 21:09] #29512 closed

[2020-09-01 21:20] dulmandakh commented on #29392
Closing the issue because this issue tracker is intended to track React Native issues, but your case is caused by your custom configuration. I suspect that Fresco version is bumped between 0.61.4 and 0.63.1, therefore you might need to upgrade your custom Fresco build too.

[2020-09-01 21:20] #29392 closed

[2020-09-01 21:36] dulmandakh commented on #29765
@voxspox did you see a small note on defaultSource documentation https://reactnative.dev/docs/image.html#defaultsource? On Android, defaultSource image won’t be shown on debug builds because all images are served from metro server which makes all of them remote. But will work on release builds. I hope this helps.

[2020-09-01 21:54] ioveracker commented on #29351
@rnnyrk oof, that must have been fun to track down.

Heads up: the [React Native docs on using TypeScript](https://reactnative.dev/docs/typescript#adding-typescript-to-an-existing-project) recommend leaving `index.js` as `.js`.

I don't know if there will be other problems beyond bundling, but thought I'd toss that out there. 🤷‍♂️

[2020-09-01 22:01] rnnyrk commented on #29351
@ioveracker Thanks for the heads up about this one. I dind't know about it and never ran into the docs page. Will revert since it, indeed, doesn't add any value to make the index file ts

[2020-09-01 22:03] emclab commented on #28263
I solved the problem by moving <Animated.View> inside <TouchableOpacity>. Reducing the height of <TouchableOpacity> didn't work for me.

[2020-09-01 23:42] dulmandakh commented on #29819
Closing the issue because this issue tracker is intended to track React Native issues, but this looks like related to React Navigation your implementation. Please see React Navigation documentation, pay special attention to lazy loading.

[2020-09-01 23:42] #29819 closed

[2020-09-01 23:51] dulmandakh commented on #29816
Closing this issue because this issue tracker is intended to track React Native issues, but this looks like your implementation issue. I would suggest to use FlatList instead of ScrollView for the purpose.

[2020-09-01 23:51] #29816 closed

[2020-09-01 23:52] dulmandakh commented on #29817
Please provide more information and reproducible sample code so we can further investigate the issue. Thanks

[2020-09-02 01:45] harveyconnor opened #29826 "com.facebook.react.bridge.NoSuchKeyException: springDamping"
## Description
I was wondering if anyone else is getting the same issue as it is throwing up a red error screen everytime I launch the app, I can dismiss it with no issue. Let me know if anyone knows how to solve this. Thanks.

I get the follow stack error in Logcat when running my application on Android.
[code]

## React Native version:
[code]

## Steps To Reproduce

I start the app and it does i

[2020-09-02 01:46] rexlow opened #29827 "How to ignore duplicate symbols error in a lib file?"
We are trying to integrating a `.a` static lib file into a React Native project. During build time, we encountered an error where a symbol (constant) is found declared **multiple times in the single .a file**.

We also try to integrate it into a normal Xcode project while having largely the same build configuration. Xcode would only emit **warnings** about the duplicate symbols and the build was s

[2020-09-02 02:16] rexlow commented on #29827
Resolved

[2020-09-02 02:46] fkurniaw commented on #28835
unfortunately i had to write a native module for android based on OkSse and register it on react-native to get SSE working

[code]

on the react-native side
[code]
for `ios` you can use the existing XHR-based EventSource polyfills

[2020-09-02 03:27] ejung-park commented on #29021
`dataForm.append('file', {
                uri: Platform.OS=='ios'? form.photo.uri.replace("file://", "/private"):form.photo.uri,
                name: 'photo.jpg',
                type: 'image/jpg'
            });`

**IOS : photo.uri.replace("file://", "/private")**

[2020-09-02 04:19] aprilmintacpineda commented on #28549
I have a newly initialized app, still a problem as of the moment.

[2020-09-02 04:42] liran commented on #28283
same issues.

[2020-09-02 05:57] Akhilbisht12 commented on #28283
Having a similar issue. Although the fetch API is working fine on the web. On the app, the first fetch takes way too much time.

[2020-09-02 06:15] kangfenmao commented on #27384
Not fixed

[2020-09-02 06:33] MahmudHasanMenon opened #29828 "iOS release build Error loading local images and icon"
After upgrading my RN version from 0.61.0 to 0.61.2 when i made a release build then it shows error saying that `No bundle url present`. then i delete my main.jsBundle from xcode and create that file again using that command
`react-native bundle --entry-file index.js --platform ios --dev false --bundle-output ios/main.jsbundle --assets-dest ios`
after release build 'No bundle Error' gone but in my

[2020-09-02 07:57] kotsh23 commented on #25239
SOOO ?

Any fix at 2020 ?

[2020-09-02 08:40] wontone18 opened #29829 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0"
Hi

i dont know whats wrong but i am getting this error continuously. Even i tried all with the fresh version also.

[code]

i tried all my procedures like for instance

1. Fresh installation of android studio
2. downgrade the jdk version
3. removing buil, grade folder these things are different. Because i tried this all with a new fresh version also where it giving me the same error.

info Fetchi

[2020-09-02 08:51] wontone18 commented on #29829
info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (4) x64 Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz
    Memory: 1.43 GB / 5.59 GB
  Binaries:
    Node: 13.9.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: N

[2020-09-02 09:15] harveyconnor commented on #29826
Here's a screenshot of the error:
![Screenshot_20200902-191225](https://user-images.githubusercontent.com/10123441/91962971-96b78e80-ed50-11ea-8fe8-8292b20fef27.png)

[2020-09-02 09:18] ZRacerx-Zuhri opened #29831 "zindex"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native release to make sure your issue has not already been fixed: https://reactnative.dev/docs/upgrading.html

## React Native version:
Run `reac

[2020-09-02 09:19] mhavid commented on #24624
//Add Listener to catch a state

componentDidMount() {
  Linking.addEventListener('url', this._handleOpenURL);
},
componentWillUnmount() {
  Linking.removeEventListener('url', this._handleOpenURL);
},
_handleOpenURL(event) {
  console.log(event.url);
}

[2020-09-02 09:59] aquile commented on #28844
I run RN 0.63.2 on macOS 10.15.6 with IOS emulator. And I struggle with that error for at least 6 months in a row. Here  is what helps me every time I get stack:

**1. Restart your mac
2. $ react-native start --reset-cache
3. Run app from the XCode**

Tips:
- once you miss to run "react-native start --reset-cache" and started your project from XCode without it, you may catch "Unable to resolve mod

[2020-09-02 10:11] MadaShindeInai commented on #28844
After that I go to the church and put some candles on, draw some pentograms, and dance with a tambourine for 2-3 hours. :) :) :)
I solved it using react native debugger application.

[2020-09-02 10:11] GreatAuk commented on #29021
0.63.2 still exist

[2020-09-02 10:16] MahmudHasanMenon commented on #26699
i am facing same problem. did you find any solution?

[2020-09-02 10:21] GreatAuk commented on #29364
0.63.2 still exist

[2020-09-02 10:37] adriano461997 commented on #29806
Thank you very much it worked perfectly

[2020-09-02 12:55] vinaygoyal20 commented on #28844
I was facing this issue in android.I tried everything mentioned above but nothing worked. Later i found that i have installed a dependency but that wasn't configured properly that was causing the issue.In my case it was react-native-firebase as I haven't configured it properly yet so i removed that after that i was able to run the app with enabling debugger.

[2020-09-02 13:36] saachitech commented on #29828
@MahmudHasanMenon Please post a reproducible snack or repo.

[2020-09-02 13:56] dulmandakh commented on #29091
Closing the issue because this issue tracker is intended to track React Native issues, but your issue is related to third-party module. Please file an issue to the third party module developers.

[2020-09-02 13:56] #29091 closed

[2020-09-02 13:59] dulmandakh commented on #29134
Closing the issue because this issue tracker is intended to track React Native issues, but your issue is related to Expo only features.

[2020-09-02 14:04] astronino commented on #29396
https://docs.microsoft.com/fr-fr/powershell/module/microsoft.powershell.core/about/about_execution_policies?view=powershell-7

if u r in windows change this setup works for me

[2020-09-02 14:23] HishamMubarak commented on #29035
Faced the same issue, got it fixed by running `./gradlew clean` inside android folder.
Worked once, and next time the same issue popped up again, got it fixed by the following step.

Source: [https://reactnativecode.com/android-project-not-found/](https://reactnativecode.com/android-project-not-found/)

[2020-09-02 14:50] szewah opened #29833 "ScrollView not working in sample app on ios simulator"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Unable to do scroll view on react-native app in ios simulator

<img width="338" alt="Screen Shot 2020-09-02 at 10 40 50 AM" src="https://user-images.githubusercontent.com/32065713/91998065-c80c6c00-ed08-11ea-88aa-8dcaed445162.png">

## React Native version:
System:
    OS: macOS

[2020-09-02 15:26] safaiyeh commented on #29833
Hi @szewah thank you for the issue.

I notice you are using iOS 14, could you check if this occurs in the latest version of 13.x? There isn't official support for iOS 14 yet but we should start keeping track of the issues as iOS 14 is coming soon.

Also could you try using `npx react-native run-ios` to see if you get the same behavior? Thanks!

[2020-09-02 15:32] wontone18 commented on #29829
Recent react native version having huge issues with android gradle. still i am finding its solution

[2020-09-02 15:33] MahmudHasanMenon commented on #29828
@saachitech  this project is confidential, so sorry i can't provide the repo. i can provide the code file.
Also the codebase is huge and there is lot's of dependency

[2020-09-02 15:33] safaiyeh commented on #29035
Hi @scarlehoff thank you for the issue!

I've bumped into this too 😅 pretty annoying. This issue board is for issues pertaining to React Native core items. Please file an issue with the CLI repo, they can better address this. Thanks!

https://github.com/react-native-community/cli

[2020-09-02 15:33] #29035 closed

[2020-09-02 15:36] safaiyeh commented on #29526
Hi @VictorioMolina and @Paul0523 sorry you are having issues with this and investigating!

Any conclusions or workarounds y'all have observed?

[2020-09-02 15:38] safaiyeh commented on #29521
Hi all! Sorry you are having issues, these type of questions belong on stack overflow.

As @hannessolo pointed out, the docs may need updating. A PR to the docs will be appreciated!

[2020-09-02 15:39] sospedra commented on #16376
Here's your activity. The warning continue to pops up in fresh new apps.

[2020-09-02 15:43] joebochill commented on #28784
I'm noticing the same issue with the vibrating SafeAreaView. My case is not inside of a ScrollView, but inside of an Animated.View.

[2020-09-02 15:46] safaiyeh commented on #16376
@sospedra could you provide a repo of this happening with React Native template without any external dependencies?

For the cases where it happens with third party libraries, issues should be filed with those libraries

[2020-09-02 15:50] safaiyeh commented on #28784
Hi @chrisparton1991, thanks for the issue.

Some observations when I wrap the ScrollView with SafeAreaView
[code]

The jittering stops. So there must be some weird calculations being done with ScrollView children + SafeAreaView

[2020-09-02 15:52] safaiyeh commented on #29047
Thanks for the issue @HectorRicardo! Sorry, for the delay to getting to this but it looks like @fabriziobertoglio1987 has it handled.

[2020-09-02 15:55] safaiyeh commented on #29828
@MahmudHasanMenon thanks for the issue!

I've noticed some issues popping up because of this:
https://github.com/facebook/react-native/issues/29813

There hasn't seemed to have a resolution for this. One thing that will be helpful is to generate a fresh project and demonstrate the issue you are having

[2020-09-02 15:57] safaiyeh commented on #29829
Hi @wontone18, I looks like the Flipper version is causing issues.

We have an open PR for it here: https://github.com/facebook/react-native/pull/29787

Could you apply the diff to your project and see if it helps?

[2020-09-02 16:03] safaiyeh commented on #29054
Hi @colmsnowplow thanks for the issue. This seems to be a specific optimization, have you encountered a use case where this caused you problems?

[2020-09-02 16:05] safaiyeh commented on #29040
Thank you for the issue @dylancom and thank you @jeswinsimon for finding the fix.

@dylancom can you confirm that commit has solved your issue? If so, feel free to close

[2020-09-02 16:07] safaiyeh commented on #28804
@hrezah thank you for the issue and @ghasemikasra39 thank you for providing a solution!

Closing for now, feel free to open another issue if this comes up again

[2020-09-02 16:07] #28804 closed

[2020-09-02 16:11] safaiyeh commented on #29806
Thanks for filing the issue @adriano461997 and happy @myckhel was able to find a solution for you.

Closing, feel free to open another issue if the issue persists in a different way.

[2020-09-02 16:11] #29806 closed

[2020-09-02 16:13] saachitech commented on #29828
That's OK. A minimal code block or repo to reproduce the issue would be fine.

[2020-09-02 16:15] algera commented on #29521
@safaiyeh The crux of the issue may be that the React module is no longer able to be imported into Swift and instead requires a bridging header for RCT related classes. This may be intentional as of 0.63.2, however AFAIK, preceding versions of RN (<= 0.62.x), this was not the case. Happy to submit a PR to alleviate future misunderstandings if `import React` has been indeed deprecated / removed.

[2020-09-02 16:15] safaiyeh commented on #29828
Please check out my comment here: https://github.com/facebook/react-native/issues/29364#issuecomment-682276573

There are temporary work arounds to get images to load

[2020-09-02 16:28] #29831 closed

[2020-09-02 16:31] scobo commented on #29608
Closing this issue since we’ve verified that un-poisoning the Metro cache by running a demo app with the same package name allows us to run debug and release builds of the demo app successfully.

It’s still not clear, however, what the issue is when running in our monorepo or how or why running the app in our monorepo poisons the Metro cache for **all** React Native apps. Since Flipper indicates t

[2020-09-02 16:31] #29608 closed

[2020-09-02 16:37] colmsnowplow commented on #29054
Yeah - I worked around it [here](https://github.com/snowplow-incubator/snowplow-react-native-tracker/blob/6eb35fd52b119196d8d29f5b93f8aaa9ef78e126/android/src/main/java/com/snowplowanalytics/react/util/EventUtil.java#L66-L68) by ignoring the value if it's null or empty. But this isn't the desired behaviour.

In this instance it's just an irritation that it's more effort than it's worth to elicit t

[2020-09-02 16:39] safaiyeh commented on #29826
Hi @harveyconnor, thanks for the issue! That is odd, and you said if you dismiss the app still works accordingly?

Can you provide a repo that demonstrates this error on a fresh React Native template? It might have to do with LayoutAnimation https://reactnative.dev/docs/layoutanimation#parameters

[2020-09-02 16:41] safaiyeh commented on #29054
Appreciate the link to the code snippet! Tagged Issue Manager Attention for the team to take a look

[2020-09-02 16:50] wontone18 commented on #29829
I will check the above point. But in my thinking its some where else is the issue. It making all the package components invalid and deprecated. Some of those packages we are regularly using

1. asyncstorage
2. webview

etc. gradle is somewhere making all these issues.

I can see several users are facing this issue but nobody getting a better result.

[2020-09-02 17:03] huyhai commented on #29414
same on RN 0.63.2

[2020-09-02 17:08] chrisglein commented on #28216
Do we think this is specifically a metro issue? I wonder if there's more assistance to be had on [this repo](https://github.com/facebook/metro). I'm not sure what the issue handling process is there but it's worth looking over there too.

[2020-09-02 17:11] kkirby commented on #28906
This is still an issue.

[2020-09-02 17:13] euthribeiro commented on #29414
@safaiyeh Sorry, I restructured the entire project. I had a deadline and I needed to finish. But I still don't know the cause of the problem.

[2020-09-02 17:13] chrisglein commented on #28456
Is this a criticism of how the existing module works? Because if so that could be potentially be fixed by the module or implemented by a different one. The reality is that React Native core is intentionally light and that apps are expected to pull in non-essential functionality through community modules. Most things are moving out of core, not in. So there'd need to be strong justification to solv

[2020-09-02 17:16] #29414 closed

[2020-09-02 17:17] chrisglein commented on #29054
I know we've had lots of discussions on the Windows side about how to handle doubles in the native code. I'm curious if @vmoroz can weigh in with what we did and/or if we have any suggestions on changes to core that we'd like to see and/or how this is affected by the Turbo Modules world (also pinging @stmoy in case he has that info).

[2020-09-02 17:24] mans17 commented on #29414
Maybe open New issue with this ?

[2020-09-02 17:25] chrisglein commented on #29387
I'm certainly no expert on Android's dark mode support, but is there some top-level thing you can declare in the app that opts you out of this? Not a React Native things separately, but just something part of the Android platform that lets you opt out. It should be a standard scenario to have apps that aren't built to handle both light/dark mode and don't want the change in styling. I don't have t

[2020-09-02 17:26] #29387 closed

[2020-09-02 17:29] chrisglein commented on #29396
Sounds like some people were able to fix this by upgrading 0.63.x, others are reporting that didn't work, there's some workarounds suggested... but overall lots of people are hitting this and there's some confusion for sure. As people are able to unblock themselves definitely share so that others can benefit.

[2020-09-02 17:52] bmbmjmdm commented on #29823
I have reproduced this again on a different computer and different phone. New computer's environment:
[code]

[2020-09-02 18:21] wontone18 commented on #29829
**Same issue by using your flipper github version.**

[code]

[2020-09-02 18:29] khaja-nizamuddin1 commented on #29123
https://stackoverflow.com/a/50726464/7344761

This worked for me ..quick fix!!
Simply go to VS Code >>File>>Preferences>>Settings >> go to javascript(or search javascript and scroll down)>validate> enable/disable >>disable or uncheck

[2020-09-02 18:38] JuanYut commented on #29314
Works for me, thanks!

[2020-09-02 18:40] hariaravind10 opened #29836 "React Native Environment setup issue"
xxxx-MacBook-Pro-2:SampleApp xxxxx$ react-native run-ios
info Found Xcode project "SampleApp.xcodeproj"
info Building (using "xcodebuild -project SampleApp.xcodeproj -configuration Debug -scheme SampleApp -destination id=BDB7A3CA-20F5-4C22-B29B-C6B50C36F802")
...............
**[error Failed to build iOS project. We ran "xcodebuild" command but it exited with error code 65](url
)**. To debug build

[2020-09-02 18:41] bmbmjmdm commented on #29823
Reproduce with React Native 0.62 and 0.60 as well

[2020-09-02 18:42] lkoehl opened #29837 "Scrolling inside the TextInput when the keyboard covers the text."
## Description
I have a relativ large TextInput component. When you write too much text, the keyboard covers the text and you don't see what you are writing. Also see the attached screenshots. There is no way to scroll inside the TextInput. Wrapping it with a ScrollView or KeyboardAvoidingViews didn't to the trick either. Is there any way to autoscroll and scroll manually, like in most modern chat

[2020-09-02 18:52] szewah commented on #29833
Hi @safaiyeh thanks for getting back to me. I'm unable to choose 13.x as that's not an option in the Xcode 12 simulator. I'll need to download the Xcode 11 beta to do that.

[2020-09-02 18:54] hariaravind10 commented on #29836
info Fetching system and libraries information...
System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
    Memory: 432.66 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.14.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 6.13.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.9.3 - /usr/loca

[2020-09-02 18:54] NickGerleman commented on #29040
@kander425 was running into the same issue. I was able to repro it on a newer build than the commit referenced.

The root cause is a change in behavior when migrating Touchables to use `Pressability` internally. Previously Touchable `_performSideEffectsForTransition` special cased moving out of long press state to fire onPress if no long press handler is available. Pressability instead will by def

[2020-09-02 18:56] hariaravind10 commented on #29836
Please any one help me

[2020-09-02 19:18] darrenvong opened #29839 "Persist user preferences of React DevTools when debugging with Flipper"
## Description

When I am debugging my React Native app using the React DevTools in Flipper, I like to change the settings/preferences available, in particular the component filter to remove components I don't care about so I can locate the component I'm after more easily.

However, when the app is being reloaded, the values of the filter (amongst other preferences such as theme colours) aren't be

[2020-09-02 19:23] imnotjames commented on #29455
In case it helps - I cannot seem to get `onDismiss` to ever fire on the docs example expo snack using Android either.

[2020-09-02 19:39] Etienne-M opened #29840 "ActionSheetIOS not working inside Share extension"
## Description

The following lines prevent using an action sheet inside of a Share App Extension on iOS.
https://github.com/facebook/react-native/blob/v0.63.2/React/CoreModules/RCTActionSheetManager.mm

The thing that is really odd is that behind the scenes, the API provided by Apple for the Action Sheet is exactly the same as the one for the Alerts (it simply needs a different style parameter ht

[2020-09-02 20:01] caseyli commented on #29398
I can confirm that running a double-build (ie. `./gradlew bundleRelease` twice) solves the issue. Not obviously a good long term solution, but definitely a hint to what's going on.

[2020-09-02 20:37] goatandsheep commented on #29314
@JuanYut do you have an example environment where this failed?

[2020-09-02 20:42] SnowLew commented on #26400
Using this, all work fine in React-Native 0.60.6.

[2020-09-02 20:54] awinograd commented on #27099
My workaround using expo-file-system

[code]

[2020-09-02 21:00] AndriiChubariev commented on #28794
facing the same issue, my phone model is Realme 6 pro

[2020-09-02 21:15] robto09 commented on #29740
This issue was fixed. Thanks

[2020-09-02 21:59] MattyK14 commented on #27721
@devproivansurzhenko I just migrated to 0.63.2, are you not still seeing this problem?

[2020-09-02 22:47] brycepavey commented on #29553
I'm experiencing this as well on both react-native 0.63.2 & 0.62.2. @jiyoon127 did you find a workaround?

[2020-09-03 00:38] flicknewb commented on #26687
I found that I had a small piece of styling that was missing a letter, and that caused this error to pop up. I had "alignConten" instead of "alignContent", and just adding that 't' fixed the error. I sincerely hope everyone was having different, and more relevant issues underlying their errors...

[2020-09-03 01:00] jcorpuz1999 opened #29841 "pod install script error on React Native"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description

## React Native version:
Run `react-native info` in your terminal and copy the results here.

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.) I run npx react-native init appName
2.) then an error occurs

Please try again manually: "cd ./cov

[2020-09-03 01:10] rickhanlonii commented on #29839
As mentioned in the thread, the blocker to this is reading storage synchronously when the bundle loads.

[2020-09-03 01:51] hank121314 commented on #29717
Hi @safaiyeh and @SYNTAG .
I have made a pr to fix this issue.
Would you please help me to test it?

[2020-09-03 01:58] safaiyeh commented on #29717
Awesome @hank121314! I'll check this out tomorrow. @ me if I don't give an update as I promised

[2020-09-03 04:47] trevor-scheer commented on #29841
Just ran into this myself, first attempt at a RN project on this machine (or ever).
Node: `v12.16.1`
NPM: `v6.14.5`
MacOS: `v10.15.6`

Initialized the project with a TS template using:
`npx react-native init MyApp --template react-native-template-typescript`

Please ping me if any more info is helpful or if I can help you get a reproduction.

[2020-09-03 05:06] Merlier commented on #29364
same issue with RN 0.63 but passing through with `rn-fetch-blob`

[2020-09-03 06:27] rumax commented on #29820
@chrisglein yes, you understand it correctly. I think it is more like a feature request.

[2020-09-03 06:28] rutvikrockers opened #29844 "fetch res.json() SyntaxError: Unexpected token ﻿ in JSON at position 0"
In iOS it works perfectly and get response in JSON. but in android throws an error unexpected token in JSON.I checked my postman response and also decoded JSON and it's perfect.Somehow in android only  it gave me an error. I am trying to solve this issue since 2 days but no luck.can anyone help me with this?it is urgent.please find below screenshot of my postman response.
1) I tried with **AXIOS**

[2020-09-03 06:49] ajaymarathe9 commented on #29795
Hello @gedeagas & @safaiyeh , I was little bit busy, but i solved the issue my self, when we launched the app it was showing white screen after splash, so when i debug the issue I got to know this was happening because **axios** api was not working in android -9 devices, so I google it and i found solution that I need comment this line in `ReactNativeFlipper.java.`
[code]
And simply add this in `A

[2020-09-03 07:18] bberak commented on #26551
Hey @samiede and @VictorioMolina,

I'm having the same issue unfortunately.. Would hate to disable LayoutAnimation entirely because the UI seems so static without it :(

Did you have any luck with this problem in he last few months?

[2020-09-03 07:43] bberak commented on #26551
Hey @samiede and @VictorioMolina,

I never found the root cause of the problem, but what solved it for **me** was enabling `react-native-screens`

Run:

[code]

Then place the following code at the top of your root file before rendering any screens:

[code]

[2020-09-03 07:43] myckhel commented on #29844
Does other endpoints work correctly or same issue?

[2020-09-03 07:47] bberak commented on #29086
For others encountering this problem - take a look at: https://github.com/facebook/react-native/issues/26551#issuecomment-686316279

[2020-09-03 07:52] rutvikrockers commented on #29844
Other Base url(endpoints) Working and give me JSON response.but particularly one endpoint gave me this response in AXIOS.But in iOS it works perfectly.

[2020-09-03 08:59] Liqiankun commented on #25244
@devkrkanhaiya  What are the debug folders?

[2020-09-03 09:52] Liqiankun opened #29845 "HTTP Failure in Axios Error: Network Error(only on android)"
## Description
I'm using Axios as my request library.
[code]
Once I request. This error comes in.
[code]
But it works great on iOS, I did try some solutions, none of them worked for me. But it used to work well, I remembered I did not change anything. It happened suddenly.

## React Native version:
System:
    OS: macOS 10.15.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory:

[2020-09-03 10:01] Lowisoft commented on #25675
Does this issue still exist on the latest React Native version (0.63.2)?
And if so, is there a plan to fix this on a future release, because proper deep linking seems currently not possible.

[2020-09-03 10:06] erazhapov opened #29846 "iOS 14 system font weird rendering with small-caps"
Hi!

I'm using default **Text** component with these styles:

[code]

Both labels has the same style, right have additional {  fontWeight: '500' }

It's works well on iOS 13.x, but looks weird (small-caps mode working incorrect with numbers) on iOS 14 beta 6.

Here is how it looks like:
![Frame 1](https://user-images.githubusercontent.com/23643476/92101386-b5b43000-ede5-11ea-8571-5b5832a0b1cd.png)

[2020-09-03 10:17] erazhapov commented on #29846
System:
    OS: macOS 10.15.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 100.96 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 14.3.0 - /usr/local/bin/node
    Yarn: 1.19.1 - /usr/local/bin/yarn
    npm: 6.14.5 - /usr/local/bin/npm
    Watchman: Not Found
  Managers:
    CocoaPods: 1.8.4 - /usr/local/bin/pod
  SDKs:
    iOS SDK:
      Platforms: iOS 13.

[2020-09-03 10:21] Stephen2 commented on #25675
Well, for us, upgrading to Expo38, upgrading `react-navigation` and using the new method of declaring a deep link handling function:
https://reactnavigation.org/docs/deep-linking/

Got deep linking working in all scenarios on all devices :fire: :partying_face:

[2020-09-03 10:25] VINTO1819 commented on #26813
yuh, I experienced it too in almost same code(in the project made with Ignite CLI)..
When I wrote this code and run it, It returns empty object :
`{}`

And I use react-native verson **"0.60.0"**(first time, I used 0.63.2 but I changed to 0.60.0 because of someone's comment)

KomoranParserModule.java (I used a NLP library that called "Komoran") :
[code]

KomoranParserPackage.java :
[code]

MainAppl

[2020-09-03 10:52] Liqiankun commented on #29845
It works on real device under release mode. It has something to do with cache? How do I clean it?

[2020-09-03 10:59] tamhv commented on #29021
@kockok could you please explain more on your solution, i'm using ReactNativeFile with apollo-upload-client to upload file

[2020-09-03 10:59] nethergrim commented on #29505
We've got the same issue

[2020-09-03 11:42] wontone18 commented on #29829
Hi at last issue is resolve. There are few things to be check.

1. check the project structure from android studio (suggestion option and instead of using + in the version put the version no)
2. npm cache
3. if debugging from mobile be sure developer mode should be switch off and on. Or else try with another device.
4. i also deleted my npm_module and fresh install the npm packages but be sure to

[2020-09-03 12:02] amblicity commented on #21718
i think i can shed some light to when onMomentumScrollEnd does not trigger on android as of RN0.61.5. that might sound weird but after fiddling for hours to fix this issue, we solved it by replacing margins with paddings on the children and each child needed a backgroundColor property, whether with 'transparent' or a color. not setting this property made the bug reproducible again and we weren't a

[2020-09-03 13:07] rutvikrockers commented on #29844
hello is there any help please?

[2020-09-03 13:59] eliw00d opened #29849 "ExceptionsManager.handleException is not a function"
We recently upgraded to React Native 0.63, Jest 26, and React Native Testing Library 7. When running jest with `--runInBand` we have noticed the following error randomly in our CI:

[code]

It appears that NativeExceptionsManager is mocked but handleException is not: https://github.com/facebook/react-native/blob/master/jest/setup.js#L42-L47

[code]

[code]

[2020-09-03 14:25] roman-gula commented on #29414
@safaiyeh It is the same problem, I just clarified where to look. `Button` uses `TouchableNativeFeedback`

[2020-09-03 15:00] rananajam1 commented on #29433
Kindly review your .xcscheme file and check if the buildConfigurations are set to "Debug". If thats the case set the buildConfigurations to "Release".

**NOTE: In my case the Ad-hoc ipa was crashing as it was dependant on the bundler**

[2020-09-03 15:11] eliw00d commented on #29849
[code]

[2020-09-03 15:19] roman-gula opened #29851 "TouchableNativeFeedback - Error while updating property 'nativeBackgroundAndroid'"
React native - **0.63.2**
Android - **4.x**

There is an error when using `TouchableNativeFeedback` with **View** inside

[code]

Try to add into `TouchableNativeFeedback` **View** component:

[code]

Same error when use `Button` component. The error will gone if remove `View` from React native `Button` component.

Also look here https://github.com/facebook/react-native/issues/29414

<details><sum

[2020-09-03 15:21] shaheer912 commented on #28503
Hi,

I tried ALL of the above solutions, they did not work for me. What did work for me was
- Open xcode .xcworkspace file
- Try build
- It should fail with the Yogakit.modulemap error
- With error it should also show you some warnings, along the lines of **update project settings to recommended** this warning should be listed twice, one for POD project and one for your app project
- Click on the

[2020-09-03 15:37] arasrezaei commented on #29844
i had similar issue ...

[2020-09-03 15:38] arasrezaei commented on #29844
https://github.com/facebook/react-native/issues/29267

[2020-09-03 16:00] Sukumar-Abhijeet opened #29852 "After Upgrading to react native 63, The borderBottomWidth doesnot work in a view or any place"
✋ To keep the backlog clean and actionable, issues will be
🚫 closed if they do not follow one of the issue templates:
👉 https://github.com/facebook/react-native/issues/new/choose

For Example :- I have a custom header component.
<View style={{borderBottomWidth:1 and borderBottomColor:'#ebebeb',width:''100%,height:50}} />
Previously Used RN 61.5 - Works fine
Upgraded to RN 63.2  - The bottomBorder

[2020-09-03 16:02] borbhuiyagulsan opened #29853 "Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object"
I am using `Pressable` instead of Touchable opacity but I am getting the above mentioned error. I have tried all possible solutions in `import` & `export` but still I am getting the error.

`

    import React, { useState, useEffect } from 'react';
    import { StyleSheet,View,Dimensions,Image } from 'react-native';
    import Pressable from 'react-native';
    import MapView, { PROVIDER_GOOGLE, M

[2020-09-03 16:04] borbhuiyagulsan commented on #29853
<img width="634" alt="Screenshot 2020-09-03 at 9 33 45 PM" src="https://user-images.githubusercontent.com/42679215/92139325-35b1b880-ee2d-11ea-8c16-ff463a6b3377.png">

[2020-09-03 16:07] borbhuiyagulsan commented on #29853
`
info Fetching system and libraries information...
System:
    OS: macOS Mojave 10.14.6
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 1.27 GB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.18.0 - /usr/local/bin/node
    Yarn: 1.22.4 - ~/.yarn/bin/yarn
    npm: 6.14.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaP

[2020-09-03 16:11] Derewith commented on #29587
Any updates?

[2020-09-03 16:13] borbhuiyagulsan commented on #29853
`

    const Home = ({ navigation, location1 }) => {

    const value = useSelector(state => state.location1.rValue)
    const cars = useSelector(state => state.location1.cars)
    //console.log(cars)

    const [location, setLocation] = useState({
        latitude: 0,
        longitude: 0,
        latitudeDelta: 0,
        longitudeDelta: 0,

    });
    const [errorMsg, setErrorMsg] = useState(n

[2020-09-03 16:41] freddieerg opened #29854 "[androidTV] Horizontal ScrollView: snapToInterval does not behave correctly when scrolling with dpad."
Trying to use a ScrollView with the dpad with snapToInterval enabled and set to any integer prevents any of the underlying Touchable components from receiving focus. On pressing dpad-right or dpad-left the set interval is completely ignored and the ScrollView is scrolled to an incorrect value.

[2020-09-03 16:42] freddieerg commented on #29845
Have you tried just restarting the emulated device? That usually works for me.

[2020-09-03 16:49] safaiyeh commented on #29854
Hi @freddieerg can you follow the issue template?

[2020-09-03 16:55] danielzzz commented on #28551
I tried this, but my file is uploaded as [Object object] not actual data..

[2020-09-03 17:07] chrisdrackett commented on #26393
still a bug in my testing

[2020-09-03 17:17] safaiyeh commented on #29829
@wontone18 glad you found a solution.

Currently React Native is not supporting Gradle 7.0, we are using v6.6. Is there any specific reason you need v7 support at this time?

[2020-09-03 17:18] dgellow commented on #29841
Same issue here.

[code]

## `react-native info`

[code]

[2020-09-03 17:23] safaiyeh commented on #29841
@jcorpuz1999 thanks for filing this issue, if you do not mind can you fix the format of your issue so it is more readable? Thanks!

[2020-09-03 17:25] wontone18 commented on #29829
nah i am not using gradle 7 at all. React native already having a gradle plugin package in gradle wrapper. which 6 but based on jdk version.

[2020-09-03 17:56] jinhale commented on #28336
From the documentation, it appears that this method wouldn't work. From the first sentence: "If you are building a hybrid app (some UIs in React Native, some UIs in platform code) you can still use images _that are already bundled into the app_ [emphasis mine]." I want to load an image after downloading it, so it will not be bundled in the app.

The sentence about assets is interesting: "For image

[2020-09-03 18:13] felire commented on #28299
Same issue here

[2020-09-03 18:15] Lowisoft commented on #25675
That’s good to hear that it works for you, but I was unsure, because the newest documentation of `react-navigation` has a note where it says that the bug still exists (and it is even linking to this issue): https://reactnavigation.org/docs/configuring-links

[2020-09-03 19:06] lorenamelor commented on #27449
I have the same problem.

[2020-09-03 19:11] LcsGrz commented on #29364
Will it be fixed in the next version of RN?

[2020-09-03 20:07] claudiaps commented on #27204
My hack:

[code]

[2020-09-03 20:35] douglasjunior commented on #27204
I don't think that this is a good solution, I think its possible to handle this problem without hide the cursor forever, like in @claudiaps hack.

[2020-09-03 21:04] BenHurMartins commented on #29035
Faced same issue, almost rewrote all the project from scratch, thanks.

[2020-09-03 22:02] Liqiankun commented on #29845
@freddieerg I deleted the simulator and created a one new. Let me check the network connection.

[2020-09-03 22:20] mirzahayat opened #29859 "zip end header not found"
✋ To keep the backlog clean and actionable, issues will be
🚫 closed if they do not follow one of the issue templates:
👉 https://github.com/facebook/react-native/issues/new/choose

[2020-09-03 22:27] Liqiankun commented on #29845
`emulator @<your_emulator_name> -dns-server 8.8.8.8` saved my day.
For more info [Android emulator: when there’s no connection to the internet](https://medium.com/@cafonsomota/android-emulator-when-theres-no-connection-to-the-internet-129e8b63b7ce)
@freddieerg Thanks, you give me the right clue.

[2020-09-03 22:27] #29845 closed

[2020-09-03 22:36] danielvportlandia commented on #26687
Encountered this issue after upgrading to 0.63.2, commenting out the imports did eventually help as I was able to see some additional error logs. I had 3 libraries giving me issues.

"react-native-paper": "^4.1.0", // forced to update from 2.15.2
"react-navigation-material-bottom-tabs": "^2.3.0", // forced to update from 1.0.0
"react-native-material-textfield": applied this patch https://stackover

[2020-09-03 22:56] #29859 closed

[2020-09-04 01:28] k1195453766 commented on #29232
The same question，Have you solved it

[2020-09-04 01:54] edritech93 commented on #29021
still issue

[2020-09-04 01:56] abemusic commented on #29021
@FabrizioCaldarelli -- I also didn't want to patch, so thank you for the `rn-fetch-blob` suggestion. Works great!

[2020-09-04 02:40] LcsGrz commented on #27483
same issue

[2020-09-04 03:24] Shuo-Mr commented on #29308
I also encountered a similar problem. When the view is absolutely positioned, internal events cannot be triggered, but positioning can be triggered to cover subsequent events, such as Scrollview's scroll event. I think it may be due to hierarchy, but I can't make a mask like thing on the outer layer of the positioned view, because it will affect the layout of peers. I hope someone can help me.

So

[2020-09-04 03:28] brambang commented on #27483
same with me.

[2020-09-04 03:41] kockok commented on #29021
Edit this file: `react-native/Libraries/Image/RCTImageLoader.mm` to `__block RCTImageLoaderCancellationBlock requestToken = ^{};`

[2020-09-04 04:17] Shuo-Mr commented on #27232
Has this problem been solved? I also have this problem. When my view is absolutely positioned, it is not in the scope of the parent view, and all internal interaction events will not take effect.

[2020-09-04 05:28] ASakkeer commented on #29021
I have tried " **__block RCTImageLoaderCancellationBlock requestToken = ^{};**"  on "**node_modules/react-native/Libraries/Image/RCTImageLoader.mm**" this file. Then I deleted my App on IOS and again I run the application using "**yarn ios**". But, still having the issue. Did I missed something?  @kockok @tamhv @akkravikumar

[2020-09-04 05:46] safaiyeh commented on #29587
@Derewith can you provide a repro that consistently does this so I can take a look?

[2020-09-04 05:50] safaiyeh commented on #29795
Ah yes the Flipper plugin has been causing problems, we are tracking this with this issue here: https://github.com/facebook/react-native/issues/28551

I'll close this to keep it keep it all on that issue. Thanks! Glad you were able to find a solution for yourself

[2020-09-04 05:50] #29795 closed

[2020-09-04 05:51] safaiyeh commented on #29804
Thanks for the issue @losh11, I'll close this so we can track it in one place #29717