[2015-11-23 19:42] ide commented on #4300
You need to import Image in header.js.

In the future please ask questions related to your own code on Stack Overflow. The GitHub issue tracker is primarily for bug reports.

[2015-11-23 19:42] #4300 closed

[2015-11-23 19:42] ide commented on #4301
Want to send a PR to update the docs?

[2015-11-23 19:45] ide commented on #4181
Thanks for following up with a PR!

[2015-11-23 19:55] gnestor commented on #1043
I haven't dug into React Native for Android yet, so this would just be an optimization for the react-native-xcode.sh. Here's what I'm thinking: https://github.com/gnestor/react-native/commit/68116d5f62d97c0c2b34e38c23fc521be2b9fef1

[code]

[2015-11-23 19:59] jonolock91 opened #4305 "[Android] Static images not displaying - 0.14.2"
I've upgraded from React native 0.12 I believe it was, to 0.14.2. But now using the new image system which has the new unified way of managing images, my Android images are not showing. I went through the upgrade process and update all my files and the gradle.build file react-native dependency. The images work fine on my iOS version of the app. An example of my code is:

`<Image
     style={{heigh

[2015-11-23 20:04] edenman commented on #4305
@jonolock91 http://facebook.github.io/react-native/docs/upgrading.html#from-0-13-to-0-14

[2015-11-23 20:05] ide commented on #1043
Xcode passes in CONFIGURATION as an environment variable to the script: https://developer.apple.com/library/mac/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Build_Setting_Reference/build_setting_ref.html#//apple_ref/doc/uid/TP40003931-CH3-SW49

Assuming that Debug implies using the packager server and Release implies using the embedded bundle, this seems like a robust approach.

[2015-11-23 20:08] jonolock91 commented on #4305
@edenman I've gone through that twice now and can't see any reason why it might not be showing. I updated my Xcode IDE as displayed on the upgrade page and my iOS app works fine, just my Android...

[2015-11-23 20:14] edenman commented on #4305
@jonolock91 sorry, misread.

[2015-11-23 20:16] gnestor commented on #1043
It could be as simple as that: `if [[ $DEV == true ]] exit 1`

The only use case that this ignores is testing on a device in dev mode (which would still be possible using `react native bundle`)...

[2015-11-23 20:31] #4292 closed

[2015-11-23 20:39] brentvatne commented on #686
:nail_care:'d it @mattotodd

[2015-11-23 20:43] idibidiart commented on #2618
HI,

Wouldn't Facebook want to release a social app for TvOS at some point in the future? Wondering if it's too early to tag this as 'Community Responsibility' ? @brentvatne

[2015-11-23 20:48] idibidiart commented on #2434
+1

[2015-11-23 20:50] satya164 commented on #4301
@ide #4306

[2015-11-23 20:56] mattotodd commented on #686
@brentvatne what did I nail ?

[2015-11-23 20:59] YoungElPaso commented on #1757
Why was this closed? Did adding the extension (presumably pdf) work? I've been trying to add density independent vector drawables the same way for Android, under react 0.14 and they also don't work (even if I add xml to ln 60 in packager/react-packager/src/Server/index.js).

On the other hand, if I remove 'png' from that same list, pngs are now unsupported, so it seems that array is where the diff

[2015-11-23 21:03] viix commented on #4280
@satya164 @christopherdro got it, thanks

[2015-11-23 21:13] ide commented on #2434
I implemented option 3 here: https://github.com/facebook/react-native/pull/3433. It's pretty straighforward -- specify `isInteraction: false` in your animation config and Animated will not register an Interaction for the animation.

[2015-11-23 21:13] #2434 closed

[2015-11-23 21:15] mtford90 opened #4307 "Cannot change content of multiline TextInput in iOS"
I'm running the 0.15 rc and neither methods I tried (`clearInputViaNativeProps`/`clearTextInputViaState`) worked when attempting to reset the `TextInput`

[code]

[2015-11-23 21:17] YoungElPaso opened #4308 "Can't use vector drawables for Android"
I'm not sure why this doesn't work, except that the packager doesn't look for *.xml files.  It would be great to have resolution/density independent image support.

[2015-11-23 21:19] mtford90 commented on #4307
#4290 could be the same issue

[2015-11-23 21:21] ide opened #4309 "[Promises] Make RN Android Promise.reject take an Exception instead of String"
We can easily go from Exception -> String without loss of info but not the other way. This brings us closer to iOS parity (which takes NSErrors) and will let us surface native stack traces to JS.

cc @davidaurelio @satya164

[2015-11-23 21:23] #4301 closed

[2015-11-23 21:33] satya164 commented on #4281
@bozzmob The overal code looks correct, except the comment @FaridSafi mentioned. It'll be of some help if we can see the aourcemaps in the redbox/error message above. Is source map not working for you? When you're loading from packager server, it might take a little while to show up.

[2015-11-23 21:38] Thorbenandresen commented on #3974
@lendyme I dont know, sorry. I assumed that it Xcode would use the NVM node version because, I got the exact same error upon `npm start` aswell when I uninstalled my non-NVM node version.

[2015-11-23 21:38] mbrgm commented on #3114
Same here ;)

[2015-11-23 21:56] adbl commented on #4301
cool @satya164 =)

[2015-11-23 22:10] manask88 commented on #3513
disable has been implemented. https://facebook.github.io/react-native/docs/sliderios.html. So this issue can probably be closed

[2015-11-23 23:26] ide commented on #3513
Ok, thanks for the note! `step` is also supported.

[2015-11-23 23:26] #3513 closed

[2015-11-23 23:31] chirag04 commented on #4269
@eric-sung Can you elaborate on the issue here?

[2015-11-23 23:52] frantic commented on #1043
Yeah that's what we used with at FB initially, however this special casing rules (skip bundle if Debug, unless building for device or if building on CI, etc.) only grew bigger and proved to be a nightmare to support. The other problem is that this bunch of `if`s had to be duplicated in both building scripts and Objective-C code that specifies where to load the bundle from.

This is true only for J

[2015-11-23 23:56] mkonicek opened #4310 "New issue"
How to use this

[2015-11-23 23:57] #4280 closed

[2015-11-23 23:58] mkonicek opened #4311 "New issue 2"
How do I use this project?

[2015-11-24 00:00] brentvatne commented on #4311
lol wut

[2015-11-24 00:01] mkonicek commented on #4311
haha

[2015-11-24 00:01] #4311 closed

[2015-11-24 00:01] #4310 closed

[2015-11-24 00:01] mkonicek commented on #4310
Just testing the bot.

[2015-11-24 01:20] calflegal commented on #4172
For what it's worth, I've been trying to use google sign in, not google analytics, but I have a very similar issue. Here is that documentation:
https://developers.google.com/identity/sign-in/android/start-integrating

Oddly enough, when I build with 1.5.0-beta3 as that page instructs at the time of writing, my apk contains NO libs directory, and hence crashes with the issue listed at https://githu

[2015-11-24 01:40] mkonicek commented on #4308
Vector drawables are not supported by the asset system. You'll need to place them into the drawables folder and use them the same way you'd do in any Android app.

[2015-11-24 01:43] mkonicek commented on #4308
For feature requests, please check out Product Pains: https://productpains.com/product/react-native/?tab=top
It has an awesome feature - people can vote on issues, which makes it clear what what the most impactful things are for the community and what should be worked on. That is something that's very hard to do with Github issues.

If you think that answers this issue please consider closing.

[2015-11-24 01:45] mkonicek commented on #4308
And thanks for reporting this! It's a good point that people might want to use vector drawables in RN too.

[2015-11-24 01:46] mkonicek commented on #4270
Good catch! This was fixed in https://github.com/facebook/react-native/commit/6b3a6e59580e71256a3a6b885b0fb8f88bd1cb6e, thanks for reporting it.

[2015-11-24 01:46] #4270 closed

[2015-11-24 01:47] mkonicek commented on #4251
I believe it is because [Fresco](https://github.com/facebook/fresco) (the image library we use) has a legacy dependency on this. Once they remove it we should get rid of the dependency.

If you consider this a good answer please consider closing the issue :)

[2015-11-24 02:16] baoti opened #4312 "0.15.0 should use `react-haste` instead of `react-tools`"
Look in [source of branch 0.15-stable](https://github.com/facebook/react-native/blob/v0.15.0/package.json#L78), it's dependencies doesn't match "React Native now uses React 0.14" in [v0.15.0-rc release note](https://github.com/facebook/react-native/releases/tag/v0.15.0-rc).

@ide @mkonicek

[2015-11-24 03:17] lizhangqu commented on #4305
@jonolock91 https://github.com/WoLfulus/react-native/commit/33e2d052b6e2e3e6b3595572abbc3cb9b66d5755

[2015-11-24 03:19] Clunt commented on #3946
I had the same problem too, but when I check my nvm default I solve this problem.
I use node@4.2.1 in work terminal,but the node@0.12.0 is my nvm default setting. When run the ios project, system will open a new terminal use node@0.12.0.
*So, Please check your node version in nvm default.*
[code]
*If not, set the default version(v4.2.1) or your lastest version.*
[code]

[2015-11-24 03:23] bozzmob commented on #4281
@satya164 Thanks. I had not seen that place yet.
The logs from **react-native start**

[code]

What does this mean-

A 404 and ok? 2 status codes or is it 404 alone? Please can you tell me what have I done wrong for it to throw a 404.

I am trying to open Listicons.js from the index.js(button click).

[2015-11-24 03:24] ide commented on #4312
Thanks for the heads-up. Removed that from the release notes. 0.16-rc is going out tomorrow.

[2015-11-24 03:24] #4312 closed

[2015-11-24 04:19] lawgimenez commented on #4243
Is there any documentation about this change?

[2015-11-24 04:35] prashanth1509 commented on #2985
Any ETA? :)

[2015-11-24 04:40] spicyj commented on #2985
No.

[2015-11-24 04:45] ide commented on #2985
Here is the Product Pains item for this issue: https://productpains.com/post/react-native/react-native-to-depend-on-react/

[2015-11-24 04:53] psbanka commented on #4022
Oh no, React Native `0.15` doesn't solve the problem either:

[code]
And here is the corresponding `package.json` just to be clear:
[code]
Also get the same result with:
- react-redux 3.1.0 and node 4.2.2 / npm 2.14.7
- react-redux 4.0.0 and node 4.2.2 / npm 2.14.7

So it sounds like if we want to be able to use React Native with modules that themselves require React, we need to stick with version

[2015-11-24 05:19] MuruganDurai commented on #4300
Sure. Thanks for your help.

[2015-11-24 05:44] kilgoremaskreplica opened #4314 "[TabBarIOS] Icon doesn't rerender on state change"
An overview: I'm using a conditional statement on the icon prop and title prop of a TabBarIOS item. When  the conditional value changes (through a state update) the title will rerender but not the icon. Is this a known bug?

I've included an example of the code below. I am updating the state of the TabBar in a seperate function.

[code]

[2015-11-24 05:47] ASCE1885 commented on #4251
thanks

[2015-11-24 05:47] #4251 closed

[2015-11-24 06:30] mjhlybmwq opened #4315 "[0.15] react-native upgrade: Cannot find module 'opn'"
I updated  the version of react-native under dependencies to 0.15.0 and ran
[code]
And when I run
[code]
I got a problem:
[code]

How should I do to upgrade my project to 0.15.0?

[2015-11-24 07:23] skatou opened #4316 "Differentiate view/defaultView creation"
Hi,

When a RCTViewManager call -(UIView*)view method, it is possible to know whether the call is for rendered view or default view?

Without this option I am not able to customize the defaultView further say don't set delegate property.

Thanks.

[2015-11-24 07:48] liubobo opened #4317 "how to convert local mp3 file to blob in react,"
how to convert local mp3 file to blob in react,

[2015-11-24 07:58] hufeng commented on #4304
react-native 0.15 is supported react-native link

[2015-11-24 09:19] potsypantsy commented on #3944
+1

[2015-11-24 09:47] mtford90 commented on #4307
I just delved into this a bit further - the culprit is this method in `RCTTextView.m`:

[code]

`eventLag` is always `1` and so nothing ever happens... I'm not familiar with the concept of event lag so not sure what's going on here, but if I remove the `eventLag == 0` check everything works as expected.

[2015-11-24 09:50] mtford90 commented on #4307
I still have to do this though:

[code]

Should `RCTTextView` not be controlled?

[2015-11-24 10:12] scgough commented on #4172
hi,
I've just been having this problem with Google Analytics and I managed to get around the issue by switching from:
`classpath 'com.google.gms:google-services:1.5.0-beta2'`
to
`classpath 'com.google.gms:google-services:1.5.0'`

This instantly seems to remedy the issue

[2015-11-24 10:47] nc commented on #4307
:+1:

[2015-11-24 10:51] christopherdro commented on #4243
@lawgimenez Try taking a look at the new asset system that was introduced in 0.14. More info can be found here. https://facebook.github.io/react-native/docs/images.html#content

[2015-11-24 10:59] respectTheCode commented on #1234
+1

[2015-11-24 11:05] davidaurelio commented on #4309
Good idea!

[2015-11-24 11:11] sankhadeeproy007 opened #4319 "Trying to add unknown view tag"
![screen shot 2015-11-24 at 4 11 29 pm](https://cloud.githubusercontent.com/assets/10998047/11365077/33beb7da-92ca-11e5-8cf4-5d099ebfe230.png)
The same code is working perfectly fine iOS though. Also please note that the code which has been commented out also works fine. What might I be doing wrong? Thanks.

[2015-11-24 11:16] sankhadeeproy007 commented on #4319
I don't know what better way to frame this question. This is a piece of code that is working fine on iOS and throwing up a vague error in Android. It'd be great if someone could atleast point me to a direction which might be helpful. Thanks.

[2015-11-24 11:38] ahanriat commented on #1322
Hi guys ! Any update on this since from 0.15.0, views with `opacity:0` receive touch ?

[2015-11-24 11:43] satya164 commented on #1322
@ahanriat Yes, they do, both on Android and iOS.

[2015-11-24 12:20] l-urence commented on #1997
Still have some issues with some jaggies with views inside a rotated view.
![jaggies_child_view_react-native](https://cloud.githubusercontent.com/assets/472753/11366320/de7dfab4-92ac-11e5-9649-edeb0bd68323.png)
Source: https://gist.github.com/l-urence/17fe144ac6a9003cde02

[2015-11-24 12:32] nc commented on #4296
:+1:

[2015-11-24 12:48] charmingzuo opened #4321 "Static Image Resource cannot load in mobile?"
the require code

[code]

[code]

[code]

The image working well in my genymotion, but did not visible in my mobile.
So, how does the packager packages "Static Image Resources"? or am I missed some document?

[2015-11-24 13:03] calflegal commented on #4172
Excellent. @scgough are you running on the emulator or on a device? Would you mind sharing your Google Play services version as listed on the device in Settings > Apps > Google Play services?

I'm running in the emulator, Google Play services version 8.1.85 (2247395-470)

My language in my comment was a little incorrect...my build doesn't fail, I get an error message of 'APPNAME won't run unless y

[2015-11-24 13:07] christopherdro commented on #4321
Did you by any chance create your project with a version before 0.14?

[2015-11-24 13:09] macelii opened #4323 "[Navigator] How to pass props when using Navigator?"
I used to have an app built on NavigatorIOS, and I use passProps to communicate for parent-children communication.

I am now switching to Navigator but it seems that passProps is no longer effective. What's the good pattern to pass properties in Navigator?

Many thanks for your help.

[2015-11-24 13:18] adrianrego commented on #4022
@psbanka that's correct. The issue to track was referenced above: https://github.com/facebook/react-native/issues/2985

[2015-11-24 13:20] christopherdro commented on #4323
You can use [`renderScene`](https://facebook.github.io/react-native/docs/navigator.html#renderscene) of navigator which gives you access to the `route` and `navigator` objects.

Then when you want to push a new scene you can pass the properties and have them accessible inside the route object.

Example of the renderScene function:
[code]
Example of the pushing a new scene:
[code]

[2015-11-24 13:27] scgough commented on #4172
Sure @calflegal

I'm running on a device (well, 2) and they both have: v8.3.01 (2385995-036)
We have tested on a virtual (Genymotion) device but I don't have access to that I'm afraid. It produced the same instant crash though.

[2015-11-24 13:35] jonolock91 commented on #4305
@lizhangqu I just made that change, but still no luck. Is there any specific name/location where the image directory should sit? My directory is called 'images' and sits in the main directory on the same level as Android, iOS etc.

[2015-11-24 14:00] jonolock91 commented on #4305
From the function getScaledAssetPath the correct image path is returned which successfully displays on my localhost http://localhost:8081/assets/images/logo.png.

[2015-11-24 14:54] 6i6arka commented on #4319
Try replacing `<Drawer>` with `<DrawerLayoutAndroid>` as per: https://facebook.github.io/react-native/docs/drawerlayoutandroid.html#content

[2015-11-24 14:59] lewisbarber commented on #371
Still not implemented?

[2015-11-24 15:22] jadsonlourenco opened #4326 "[Navigator] jumpBack and jumpForward not work"
I have two screens on navigator stack, when I navigate `jumpBack()` works fine, but when I do the inverse `jumpForward()` not work. Demo:
![Demo](http://uploadpie.com/CLzfx)

[2015-11-24 15:36] jadsonlourenco commented on #4326
@facebook-github-bot I don't know if this is a **bug** or a thing that need documentation about. Before open this issue I ask on **Discord**, but without answer.

Yes, I did a good explanation about this issue, including an image.
Thank you for the quick reply. :stuck_out_tongue:

[2015-11-24 15:36] ram535ii commented on #3837
It doesn't look like that fix went out in #3836 since I updated to 0.15.0 through npm and am still experiencing it. Any idea when it might go out?

[2015-11-24 15:42] mkonicek opened #4327 "[0.16] Things we should cherry-pick to 0.16"
0.16.0-rc has been published to npm. Here are the things we should get into 0.16.0:

  * [x] Make imports work: https://gist.github.com/ehd/49cb2465df9da6b39710, https://github.com/facebook/react-native/commit/ffea7793aff0961ebc22007d650ce36f7c2e61cb
  * [x] Need a fix for Chrome debugging? https://github.com/facebook/react-native/issues/4418. Update: @skevy and @mkonicek can't repro, likely fixed

[2015-11-24 15:44] mkonicek commented on #4326
Haha thanks for the feedback @jadsonlourenco! In cases when you're not sure whether it's a bug I think Stack Overflow is a great place to ask first.

[2015-11-24 15:45] mkonicek commented on #4326
Yup, the explanation is really good!

[2015-11-24 15:47] jadsonlourenco commented on #4326
@mkonicek Here: http://pt.stackoverflow.com/questions/100099/react-native-navigator-jumpback-and-jumpforward-not-work
(I can't use the tag *react-native* because I don't have 300 point of reputation on StackOverflow)

[2015-11-24 15:47] #4326 closed

[2015-11-24 15:49] mkonicek commented on #4326
Cool, thank you! I pinged James Ide who might know about Navigator.

[2015-11-24 15:50] jadsonlourenco commented on #4326
@mkonicek Thank you!

[2015-11-24 15:51] mkonicek commented on #4326
Hmm, I think you're using a version of StackOverflow in Portuguese? The tag should already exist so you should be able to use it I think: http://stackoverflow.com/questions/tagged/react-native

[2015-11-24 15:52] mkonicek commented on #4326
I'm logged in on SO but logged out on this site: http://pt.stackoverflow.com/questions/100099/react-native-navigator-jumpback-and-jumpforward-not-work

[2015-11-24 15:54] mkonicek commented on #4326
I don't know about `jumpForward` but can you try using `push(route)` as a workaround?

[2015-11-24 15:55] mkonicek commented on #4323
Thank you so much for looking @christopherdro!

[2015-11-24 15:59] mkonicek commented on #4319
Hey @sankhadeeproy007, I've enabled the bot to make an announcement that there is a very awesome place to ask questions like this one - Stack Overflow. Many people from the community hang out there and will be able to see your question.

In this specific case, I'm not sure what `Drawer` is - we have `DrawerLayoutAndroid` though as @6i6arka pointed out.

[2015-11-24 16:02] mkonicek commented on #4317
Hey @liubobo, this is a question perfectly suited for StackOverflow: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out there and will be able to see and answer your question, you can vote on answers and mark the question an answered, run bounties etc. It's a system that works really really well for questions. Keeping questions there lets us keep the li

[2015-11-24 16:06] mkonicek commented on #4315
Thanks for reporting this!

It might be a bug in `react-native upgrade`. I'll take a look. You can upgrade manually - for iOS you don't need to do anything, for Android you just need to change this line in `android/app/build.gradle`:

    compile "com.facebook.react:react-native:0.15.+

[2015-11-24 16:10] skevy commented on #4327
@mkonicek where was the regression on the imports issue?

[2015-11-24 16:14] mkonicek commented on #4305
Can you see the packager printing logs about fetching the assets?

You could try out version 0.15.0 which just shipped.

[2015-11-24 16:16] mkonicek commented on #4273
Hey and thanks for reporting this!

This issue looks like a question - please use [Stack Overflow](http://stackoverflow.com/questions/tagged/react-native) for questions. It's the best system for Q&A and the best way to get questions answered.

Many people from the community hang out on Stack Overflow and will be able to see your question and be more likely to answer because of the reputation syste

[2015-11-24 16:20] trippcr commented on #4260
I think got it figured out: pull #4328

[2015-11-24 16:25] christopherdro commented on #4323
@mkonicek No Problem! :)
@macelii Going to close this issue out for now since this questions seems more appropriate for Stack Overflow. Feel free to post your question there or join us on Discord if you'd like some more help.

Hope you get it figured out! :)

[2015-11-24 16:25] #4323 closed

[2015-11-24 16:28] christopherdro commented on #4319
Since you mentioned it works on iOS, is it possible that `Drawer` is a custom component? Or maybe you are using https://github.com/rt2zz/react-native-drawer?

If your are using the third-party module I would go ahead and open an issue up with them.

[2015-11-24 16:29] skevy commented on #4314
@kilgoremaskreplica could you throw together a quick example on RNPlay.org for this?

[2015-11-24 16:35] cancan101 commented on #2361
I am seeing this issue in `0.14.0` with:
[code]

[2015-11-24 16:54] ide commented on #1322
Use pointerEvents to ignore touches. Unfortunately on Android touches don't go through overlapping absolutely positioned views though.

[2015-11-24 16:56] mkonicek commented on #4273
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-24 16:57] mkonicek commented on #4327
@skevy It was somewhere in the big upgrade to Babel 6. Added a note here: https://github.com/facebook/react-native/blob/master/breaking-changes.md

[2015-11-24 16:58] skevy commented on #4319
@sankhadeeproy007 i'm pretty sure I've seen this issue when I've had two "React Native Debugger" windows open in Chrome. Just for the sake of having all of our bases covered, that's not the issue you're seeing here is it?

[2015-11-24 17:05] ide commented on #4327
We should also put out a warning about decorators if Babel support doesn't land in time. Any project with decorators in babelrc must wait for https://phabricator.babeljs.io/T2645 before upgrading to 0.16.

[2015-11-24 17:08] skevy commented on #4327
@ide :+1: I use decorators _everywhere_...as do you I think :)

[2015-11-24 17:10] almasakchabayev commented on #4279
+1

[2015-11-24 17:16] sankhadeeproy007 commented on #4319
Thank you everyone for the help. Yes @christopherdro I am in fact using that 3rd party Drawer, but I get the same error when I'm trying without the Drawer as well (see screenshot). That is why I thought this would be a better place than StackOverflow. And @skevy I've checked and made sure that there's only one debugger window open. Once again thanks for responding.
![image](https://cloud.githubuse

[2015-11-24 17:16] skevy commented on #4304
@olivierlesnicki This is currently a work in progress. As @hufeng says, `react-native link` now exists...but there's a whole workflow that is being built around this currently, that hopefully will make it out soon.

Considering that `react-native link` solves your original issue, would you consider closing this? Stay tuned to the release notes for the official announcement (and documentation) of t

[2015-11-24 17:18] skevy commented on #4268
Closing in favor of #4289

[2015-11-24 17:18] #4268 closed

[2015-11-24 17:19] olivierlesnicki commented on #4304
@skevy more than happy to close it. Do you have a link to the command documentation?

[2015-11-24 17:19] #4304 closed

[2015-11-24 17:20] mkonicek commented on #4327
Good point about decorators! Updated https://github.com/facebook/react-native/blob/master/breaking-changes.md

[2015-11-24 17:21] jonolock91 commented on #4305
I can't see anything on my packager output relating to images, I'll try upgrading to 0.15.0.

[2015-11-24 17:27] skevy commented on #4295
Hey @divrobot, this is a question perfectly suited for StackOverflow: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out there and will be able to see and answer your question, you can vote on answers and mark the question an answered, run bounties etc. It's a system that works really really well for questions. Keeping questions there lets us keep the l

[2015-11-24 17:31] skevy commented on #4316
@skatou I'm confused by your question. Could you provide more information as to what you're trying to do?

[2015-11-24 17:35] skevy commented on #4274
@prashanth1509 there is a module on npm called sprintf: https://www.npmjs.com/package/sprintf

React Native uses a vendored version from FBJS.

[2015-11-24 17:35] #4274 closed

[2015-11-24 17:40] skevy commented on #4281
Hey @Sharathnasa, this is a question perfectly suited for StackOverflow: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out there and will be able to see and answer your question, you can vote on answers and mark the question an answered, run bounties etc. It's a system that works really really well for questions. Keeping questions there lets us keep th

[2015-11-24 17:42] skevy commented on #4275
Looks like this could be related to #4319.

[2015-11-24 17:46] skevy commented on #4245
@aphillipo this is a great tip!

I'm not sure this should make it in and be default behavior, but perhaps this should exist in a "Tips & Tricks" section of the docs? Thoughts @ide?

[2015-11-24 17:49] skevy commented on #4243
@krxsky does @christopherdro's answer satisfy your original issue?

[2015-11-24 17:50] mschwartz commented on #4245
@skevy I did this up even better.

https://medium.com/modus-create-front-end-development/automated-ip-configuration-for-react-native-development-7bbf9a7a18bc#.5nh2789rj

@aphillipo did the work that inspired me.

[2015-11-24 17:51] mschwartz commented on #4245
Same blog post here:

http://moduscreate.com/automated-ip-configuration-for-react-native-development/

fully automated, including fix for setting IP for the debugging web socket :)

[2015-11-24 17:59] jonolock91 commented on #4305
0.15.0 broke my Xcode with a node module of icons that I'm using so I reverted to 0.14.2.

[2015-11-24 18:05] bozzmob commented on #4275
Thanks @skevy Yes. It looks similar. But, in my case I am not using any 3rd party code. Purely React Native components from UIExplorer Examples(Without any modification). I am not able to understand the reason for the issue.

[2015-11-24 18:06] skevy commented on #4304
@olivierlesnicki documentation isn't out yet, but I can point you to the commit :)

https://github.com/facebook/react-native/commit/4e5a2bc0791a77ac67c2b564a220278bea889fcf

It will get documented along with the rest of the workflow when that's finished.

[2015-11-24 18:09] mkonicek commented on #4315
Can you try `rm -rf node_modules` and install again? What does `node --version` print? For me it's 4.2.1.

[2015-11-24 18:09] ide commented on #4275
You might have a JS error somewhere.

[2015-11-24 18:11] ide commented on #4316
@skatou this is not supported. You could work around it by sending a dummy prop from JS whenever the component is rendered and that would tell you which view is truly on the screen.

@nicklockwood do you think it's desirable to expose whether a view is the template default view?

[2015-11-24 18:20] bozzmob commented on #4275
@ide  Thanks for your reply :)

This is the section of code that the error is pointing to-

[code]
Basically the 1st view tag. I have not changed any code from UIExplorer example of ListviewGridExample.js file. Except replacing some Image URLs. That's all.

[2015-11-24 18:21] krxsky commented on #4243
@skevy Sorry, I hadn't had time to try it lately. I was using the images for `ToolbarAndroid`'s icons, but I replaced the Toolbar all together to share more code with the iOS side. That said, I believe the documentation for `ToolbarAndroid`'s examples should be updated. They are still using the outdated way for all the examples.

[2015-11-24 18:34] toadums commented on #4296
:+1:

[2015-11-24 18:38] ide commented on #4326
@jadsonlourenco there might be a bug. I haven't used `jumpForward` though `jumpTo` has worked for me. Do you want to try fixing the code in case there is an issue? The implementations of jumping and pushing routes is here https://github.com/facebook/react-native/blob/master/Libraries/CustomComponents/Navigator/Navigator.js#L882.

[2015-11-24 18:39] bvogelzang opened #4329 "Text truncation for front or middle of string"
I realize the `numberOfLines` prop on the `Text` component can be used to effectively truncate the tail of strings if they are too long. What I'm requesting is that we have the option to truncate the middle or front of the string if needed. Something equivalent to the `NSLineBreakByTruncatingHead` and `NSLineBreakByTruncatingMiddle` options in iOS. Adding a new prop such as `truncatePosition` woul

[2015-11-24 18:45] MattFoley opened #4330 "[RCTDevMenu] Swizzle of motionEnded:withEvent: over riding existing implementations"
I use the shake gesture in my app, and the current implementation of `RCT_motionEnded:withEvent:` is squashing my implementation. I'd like to change this method to call the existing implementation if one exists. (whether it be implemented via category or previous swizzle)

Would this be a desired pull request? If so, is there an existing preferred style of this type of swizzling in the React Nativ

[2015-11-24 18:54] christopherdro commented on #4330
@MattFoley You can see the original implementation here
https://github.com/facebook/react-native/blob/0764e4ef293eb19da6b52c74df5f154e04854e70/React/Modules/RCTDevMenu.m#L156.

I was able to create my own method to override this but couldn't really find a way a nice way to switch between my own and the dev menu.

Here's how that looked.
https://gist.github.com/christopherdro/8418aa334ec5e6027f0d

[2015-11-24 19:18] MattFoley commented on #4330
I was looking there when I posted this issue, and I thought about implementing something similar to your solution, but I don't think that's a permanent solution for React Native.

It would be pretty easy for me to fix this so both any existing implementation and the RN implementations are both called, and that is much more developer friendly.

[2015-11-24 19:18] andriniaina commented on #2792
Hello, is this available in v0.15 or 16 ?

[2015-11-24 19:19] bartonhammond commented on #4319
<img width="481" alt="screen shot 2015-11-24 at 1 16 46 pm" src="https://cloud.githubusercontent.com/assets/1282364/11377849/bf85846e-92ad-11e5-92b7-baf014b2f928.png">
Similar problem - works fine on iOS simulator but not on genymotion.

I can't get the Cmd-D to respond (so no debugging) and there is no Chrome Debugger active.

[2015-11-24 19:21] christopherdro commented on #4330
Nice, that would be a really awesome addition!

[2015-11-24 19:21] ide commented on #2792
It will be available in 0.17.

[2015-11-24 19:22] bozzmob commented on #4275
@skevy @ide Thanks for your time and effort :)
Not sure how, but, I re-coded the same stuff from the scratch again. And it seems to be working fine.

Here is the code-
https://github.com/bozzmob/navigator-react-native

I will figure out the diff between files, across projects and update this issue on what had gone wrong.

Thanks again @ide and @skevy ! Will try my best to help :)

[2015-11-24 19:22] #4275 closed

[2015-11-24 19:22] PhilippKrone commented on #3557
@satya164 OK, I understand. I'm currently checking whether the following PR by @dmmiller  might fix this issue: https://github.com/facebook/react-native/commit/0c2ee5d480e696f8621252c936a8773e8de9f8b6, but it seems not to. :(

[2015-11-24 19:22] MattFoley commented on #4330
Glad to hear it. It may take me a few days to get to it, but I will eventually and I'll link back to this issue when I do.

[2015-11-24 19:27] ktoh commented on #1076
+1 to re-open this issue.

There are situations where one cannot rely on rendering order to enforce Z-index: the two are orthogonal principles, which is why CSS implements z-index.  For example, a card or a button console may need to be rendered above some descriptive text (in flex-order), but still sit in front of it (e.g. to capture touch first, to provide layout overlap, etc).

Also see https:/

[2015-11-24 19:31] mkonicek commented on #2792
It made the 0.16 cut and I even cherry-picked it to 0.15, give it a try :)

See the history for the 0.15 branch:
https://github.com/facebook/react-native/compare/0.15-stable

[2015-11-24 19:32] rileybracken commented on #3964
Any updates on this?

[2015-11-24 19:32] ide commented on #2792
Oops didn't realize 0.16 was cut so recently.

[2015-11-24 19:44] alfrednerstu opened #4331 "lineHeight as multiplier"
As React Native uses lineHeight unit-less it makes much more sense and would also be more flexible if it worked like CSS unit-less line-height ie that it's a multiplier of the font size.

That would enable you to set a common line height for several different sizes without needing to recalculate and it would also work well with text that changes in size dynamically.

Thanks!

[2015-11-24 19:49] arunshan commented on #3452
@brentvatne Here you go.
https://productpains.com/post/react-native-listview/onpress-event-triggered-while-scrolling-in-listview/

[2015-11-24 19:56] ide commented on #1076
The approach I would take is to reorder the native views so that from the perspective of React and css-layout there has been no reordering.

[2015-11-24 19:57] navels commented on #2985
A few folks above have alluded to workarounds. Could someone spell one out?

[2015-11-24 20:35] andriniaina commented on #2792
I just tested it. It's working as expected. Thanks :+1:   The bug was really a showstopper.

[2015-11-24 20:46] ExplodingCabbage opened #4332 "Putting a comment on the same line as an element in JSX, separated by a space, causes: Raw text cannot be used outside of a <Text> tag. Not rendering string: ' '"
The following render function, using roughly the JSX commenting style [suggested in the React docs](https://facebook.github.io/react/docs/jsx-in-depth.html), blows up React Native:

[code]

React Native is seeing the space between the `</View>` tag and `{ /* some comment */ }` as a space and throwing this error:

[code]

Even if it's right that React Native sees the space as text, it should at lea

[2015-11-24 20:53] jadsonlourenco commented on #4326
@ide following the documentation:
* jumpBack() - Jump backward without unmounting the current scene.
* jumpForward() - Jump forward to the next scene in the route stack.

I don't know if it is a bug, but I think yes, is. If I have the two scenes on route stack the normal is to move on between them without unmounting using this functions. I try the `jumpTo` but don't work. btw I test everything bef

[2015-11-24 21:35] BigPun86 opened #4333 "App doesn´t work after 0.15 Update!"
Like the Title says. I updated my RN to 0.15.0 from 0.13.0. Now the app won´t start and shows me following error, which i just can´t trace...

<img width="464" alt="screen shot 2015-11-24 at 22 32 07" src="https://cloud.githubusercontent.com/assets/7880624/11381320/a5a37e86-92fb-11e5-8b2b-51a4f5b86e9f.png">

Please Help! :P

[2015-11-24 21:43] YoungElPaso commented on #4308
@mkonicek Thanks for the input. I'll check out Product Pains for sure. I guess I should have been more explicit though, because I don't believe that even when in drawables, those will work.  I could do more testing on that however.  Either way, I suppose its a feature request and not a bug.

[2015-11-24 21:50] YoungElPaso commented on #4308
@mkonicek As you suggested:

https://productpains.com/post/react-native/vector-drawables-for-icons-in-android/

And I'll close.

[2015-11-24 21:50] #4308 closed

[2015-11-24 21:57] jjshammas commented on #4289
Ran into the same issue. Cleaning in Xcode before doing every build worked for us.

[2015-11-24 21:58] satya164 commented on #4333
Hi. Can you share your upgrade process? Did you use the command `react-native upgrade`?

[2015-11-24 22:05] christopherdro commented on #4289
@bellicose100xp - Could you try @jjshammas suggestion and report back to us if it did the trick?

[2015-11-24 22:06] satya164 commented on #4289
You can also try clearing the packager cache and see if it helps `rm -rf $TMPDIR/react-*`

[2015-11-24 22:11] satya164 commented on #4319
Just curious, how does the `roue.component` look like? May be it is the issue?

[2015-11-24 22:12] chirag04 commented on #4332
I can confirm this on rn 0.15.

@ExplodingCabbage If you have a fix for this please send a PR.

[2015-11-24 22:15] chirag04 commented on #3836
@mkonicek closing this since 0.15 is already released. I think we should document the "steps for cutting the branch"

[2015-11-24 22:15] #3836 closed

[2015-11-24 22:42] rileybracken opened #4334 "[Navigator] Custom Bar"
**The problem:**
I ran into a problem where I needed to pass the navbar a custom view and there was no way to do it.

**Application:**
I needed a gradient inside of the navbar, and to my knowledge the only way to get a gradient is to add Brent Vatne's linear gradient plugin https://github.com/brentvatne/react-native-linear-gradient. I could see this being used if you needed a image in as a backgro

[2015-11-24 23:48] BigPun86 commented on #4333
I edited the package.json file where i pointed react-native from 0.13.0 to 0.15.0 and after that i simply used npm install, which installed the update. After that i updated every third party module with npm install react-native-some-module@latest

[2015-11-25 00:11] satya164 commented on #4333
@BigPun86 After doing that, you can use the `react-native upgrade` command, which will also update the native library, gradle files etc.

Let me know if it helps.

[2015-11-25 00:55] Kuzmin opened #4335 "[ListView] Calls setState after component has unmounted"
After updating my app to react-native 0.15.0 from 0.11.4, I noticed the following warnings popping up in the XCode console in big numbers:

[code]

It logs a big amount of these messages, and basically halts the app during this.

I traced the issue a bit and found that the error message was added in react 0.13.0, and it is located in this file in the React repo: https://github.com/facebook/react/b

[2015-11-25 01:05] satya164 commented on #4327
I had to migrate my projects to move away from decorators. I love decorators, but there is this bug with Babel 6, and Flow doesn't support decorators either :(

[2015-11-25 01:17] Kuzmin commented on #4335
Sorry, pressed the submit button a bit early. It's now updated with everything properly.

[2015-11-25 01:24] satya164 commented on #4334
Hey @rileybracken . Thanks for the awesome work. Can you give a link to your implementation?

I guess an easier approach will be to wrap the NavigationBar in your custom component? Like so?

[code]

I've not tested this though.

[2015-11-25 01:52] mjhlybmwq commented on #4315
```react-native upgrade``` works after ```rm -rf node_modules``` and ```npm install```.
However, ```npm start``` no longer works. What I get is something like this:
[code]

[2015-11-25 01:53] coderdave commented on #3974
It confuses me when owners/contributors close issues like this one when they clearly aren't resolved. :(

But anyway, I also had to add `source ~/.bash_profile` to `./node_modules/react-native/packager/react-native-xcode.sh` to fix it.

[2015-11-25 02:06] kilgoremaskreplica commented on #4314
Hey Skevy, thanks for the reply.

Rnplay doesn't support requiring assets from within the IOS bundle so unfortunately I can't replicate this issue using that site.

However, after going through the process I have discovered this icon rerendering issue is directly tied to requiring an image from the IOS bundle. For instance this works:

		systemIcon={this.state.timerActive ? 'contacts' : 'bookmarks

[2015-11-25 02:19] satya164 commented on #4315
@mjhlybmwq Can you post your `package.json` file?

[2015-11-25 02:25] mjhlybmwq commented on #4315
my ```package.json````:

[code]

I'm wondering what's the difference between ```npm start``` and ```react-native start```

[2015-11-25 02:27] satya164 commented on #4315
In your case, `npm start` runs the `react-native start` command. You can change `react-native start` in your `package.json` to `node_modules/react-native/packager/packager.sh`.

Does this solve your issue?

[2015-11-25 02:36] mjhlybmwq commented on #4315
Of course it does. But it's wired that an npm script differs from a command in terminal. In my case, ```npm start``` does not behave as the same as  ```react-native start```. Any ideas?

[2015-11-25 02:39] satya164 commented on #4315
Did you run `npm uninstall -g react-native && npm install -g react-native-cli` ?

[2015-11-25 02:40] liubobo opened #4336 "LIstview is too slow"
LIstview is too slow,how to improve

[2015-11-25 02:42] mjhlybmwq commented on #4315
No, I didn't. I want to figure out what's wrong before I run it.

[2015-11-25 02:46] satya164 commented on #4315
The `react-native-cli` package provides the `react-native` command. The `react-native` package provides the library files. You don't have the correct package installed globally.

[2015-11-25 02:52] #4315 closed

[2015-11-25 02:58] mjhlybmwq commented on #4315
I know. But it does not explain that  ```react-native start``` works well.
What's more, after I ran  ```npm uninstall -g react-native && npm install -g react-native-cli```, I still get the same message, which is wierd. I've checked ```\usr\local\lib\node_modules\``` and there's no  ```react-native```. There's only ```react-native-cli```.

[2015-11-25 03:00] satya164 commented on #4315
@mjhlybmwq Obviously, the package name is `react-native-cli`. The `react-native` command will be under `/usr/local/bin/`.

[2015-11-25 03:09] mjhlybmwq commented on #4315
Yes, I got the command as expect but the script ```npm start``` still doesn't run the command.

[2015-11-25 03:11] satya164 commented on #4336
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-25 03:16] satya164 commented on #4315
@mjhlybmwq There might be something wrong with your path. The preferred way is to run `node_modules/react-native/packager/packager.sh` from `npm start`, as it doesn't require a global dependency, and everything is self contained in your project folder.

[2015-11-25 03:28] mjhlybmwq commented on #4315
First of all, thank you for your attention and your solution.
```npm start```, which runs ```react-native start``` command, works well with my another project which uses RN 0.14.2. I wonder there might be something wrong in the latest package.

[2015-11-25 03:30] satya164 commented on #4315
@mjhlybmwq You're welcome

[2015-11-25 03:44] louuysison commented on #3742
Anybody experiencing this issue when secureTextEntry={true}  _**after**_ the fix?

[2015-11-25 03:49] #4295 closed

[2015-11-25 03:56] oblador commented on #3579
Related [Product Pains post](https://productpains.com/post/react-native/offload-some-animations-from-js-thread-for-better-perf/).

[2015-11-25 04:18] mihirsoni commented on #4335
@Kuzmin  If it has solve your problem , please close the issue.

From next time onwards , please please ask such kind of questions to http://stackoverflow.com/ with ```react-native``` tags..

[2015-11-25 04:35] han4wluc opened #4337 "[iOS][WebView] Error loading page Domain: WebKitErrorDomain Error Code: 101"
<img width="275" alt="screen shot 2015-11-24 at 19 26 06" src="https://cloud.githubusercontent.com/assets/8134740/11388349/37a913e4-9370-11e5-892d-9ffe6d7d1986.png">

I load a webview page and the first page is displayed without problem. but when I click in a link, I have this error page displayed while the page is loading. After the pages is finished loading, the loaded page is displayed. But I d

[2015-11-25 04:36] frontvu commented on #1745
+1

[2015-11-25 05:12] bellicose100xp commented on #4289
@christopherdro @jjshammas suggestion didn't work but @slavik0329 suggestion did. I changed the name of the bundle to main2.jsbundle and changed the reference in appDelegate.m file

[2015-11-25 05:14] satya164 commented on #4337
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-25 05:15] satya164 commented on #4337
Also, I found a relevant link on StackOverflow for you - http://stackoverflow.com/questions/1528060/uiwebview-error-while-loading-url

[2015-11-25 05:19] yuriyvl commented on #1744
@janmonschke Same here - please respond if you found a way around...  Thank you in advance!

[2015-11-25 05:36] #4336 closed

[2015-11-25 05:45] bellicose100xp commented on #4289
so i changed the name back to main.jsbundle and builds are working fine without doing anything else.. I don't really know what fixed it but I've tried all of the suggestions listed in this thread..

[2015-11-25 06:00] sospartan commented on #1744
@janmonschke @udfalkso @yuriyvl
Is these icons included in some iconic font ? If so ,you should just use these iconic font . Check this out  https://github.com/sospartan/react-native-iconic-font

[2015-11-25 06:42] sankhadeeproy007 commented on #4319
@satya164 I don't think the `route.component` would be an issue. If it were it would have encountered some problems with iOS as well right? Anyways if I even remove the `Navigator` and just use the 3rd party `Drawer`, I get the same error. The only way it works is if I put a normal `<View>` or `<Text>` tag or if I call my component directly.

[2015-11-25 07:02] Kuzmin commented on #4335
@mihirsoni I "solved" my problem by patching the `ListView` class in `react-native`. So I think that this should stay open.

[2015-11-25 07:54] #4337 closed

[2015-11-25 08:18] r6203 opened #4340 "0.15.0 throws compile errors"
After upgrading my app to react-native 0.15.0 I can't compile my app from within Xcode.
Creating a new project and compiling it gives the same errors.

![rn error](https://cloud.githubusercontent.com/assets/4466258/11391768/4fece1c6-9355-11e5-883d-921bd1e2d57e.png)

Is this a know bug?

edit: Of course I also upgraded my app with "react-native upgrade". But as I encounter the same error with a bla

[2015-11-25 08:28] #4207 closed

[2015-11-25 08:37] alidawud commented on #3174
Same here.

[2015-11-25 08:41] ninamanalo commented on #3174
in simulator, how about running it with option 2 (bundle)?

[2015-11-25 09:04] gre commented on #3974
i've created https://productpains.com/post/react-native/fix-regression-on-xcodenvm-react-native-xcodesh-throws-react-native-command-not-found/

[2015-11-25 09:04] mihirsoni commented on #4340
@r6203

Hi tried doing same steps ,and it seems it is working fine. With new project as well as upgrade.

Are you sure while upgrading you made sure that that conflicts/merge resolve properly. It may overwrite your changes, **(if you have made any)**.

From next time , please use http://stackoverflow.com for asking such question, until you feel this is bug in project.

[2015-11-25 09:04] gre commented on #3948
I've created https://productpains.com/post/react-native/fix-regression-on-xcodenvm-react-native-xcodesh-throws-react-native-command-not-found/

[2015-11-25 09:07] gre commented on #3452
@arunshan I think you have created with a wrong "product", it appears in "react native listview" not "react native"

[2015-11-25 09:08] r6203 commented on #4340
@mihirsoni

Thanks for your answer.

Yes, I resolved all conflicts properly.

Just now I discovered that I'm running Xcode 6. At the moment I'm upgrading to 7 and then I'll try again.
May I ask which version you are running?

I posted it here because I thought it were an project bug. Sorry for that.

[2015-11-25 09:10] mihirsoni commented on #4340
@r6203

No problem. I am using Xcode 7.0.

If it still doesn't work let me know , and if it works please close this bug.

[2015-11-25 09:18] Bhullnatik opened #4341 "npm start doesn't work after upgrade to 0.15.0"
`npm start` stopped working after upgrading to React-Native 0.15.0 yielding:
[code]

Output of `npm -g list --depth=0`:
[code]

Output of `npm list --depth=0`:
[code]
To be noted, using `react-native start` works as expected, which make me think this is a npm bug but I'm not sure on how to get started.

[2015-11-25 09:35] NixusCN commented on #3870
+1

[2015-11-25 09:35] NixusCN commented on #3870
:+1:

[2015-11-25 09:38] ahanriat commented on #1322
@satya164 & @ide I now use `pointerEvents`, and I think it's better this way ;)
I assume return `false` instead of the component will do the same as a css `display: none` on the component itself

[2015-11-25 09:42] venil7 commented on #3379
Why is this issue closed?
I'm facing it when running `react-native run-android` right after I do `react-native init`

![screenshot_2015-11-25-09-39-11](https://cloud.githubusercontent.com/assets/508022/11393652/d6cb03be-9358-11e5-832c-b42f740d8875.png)

[2015-11-25 09:53] shohey1226 commented on #4296
:+1:

[2015-11-25 10:03] NishanthShankar commented on #3953
Having the same issue. The memory used seems to grow linearly. Testing a basic code on iOS device

[2015-11-25 10:40] ahanriat commented on #4341
Related to http://stackoverflow.com/questions/33908314/packager-wont-start

[2015-11-25 11:17] PhilippKrone commented on #3557
I've now implemented this fix but the issue is not gone yet.

[2015-11-25 11:31] aphillipo commented on #4245
Amazing stuff Michael - thanks for the credit and improving the solution considerably :+1:

[2015-11-25 11:37] satya164 commented on #3557
@PhilippKrone Which fix?

[2015-11-25 11:41] PhilippKrone commented on #3557
@satya164 Sorry, I guess the message didnt come through: https://github.com/facebook/react-native/commit/0c2ee5d480e696f8621252c936a8773e8de9f8b6

[2015-11-25 12:01] satya164 commented on #3379
@venil7 Most probably the App couldn't fetch the JavaScript bundle. Did you run `adb reverse tcp:8081 tcp:8081` ?

[2015-11-25 12:04] satya164 commented on #4245
Do you think this is something that can be in core?

[2015-11-25 12:06] diego04 opened #4342 "Will there be support for Android Studio 2.0 anytime soon?"

[2015-11-25 12:16] satya164 commented on #4342
@diego04 I'm using React Native with Android Studio 2.0 without any problems. What exactly do you mean by Android Studio 2.0 support?

[2015-11-25 12:19] satya164 commented on #4172
@scgough Thanks. Going to try it now.

[2015-11-25 12:37] aphillipo commented on #4245
I don't see why not; just needs a way to override it maybe?  A force IP address setting?  All the other stuff other than finding your IP consistently should be totally robust.

[2015-11-25 12:40] satya164 commented on #4245
@aphillipo Yeah, it definitely will be.

[2015-11-25 13:06] satya164 commented on #4172
@scgough Seems to be working. Thanks a lot.

[2015-11-25 13:19] BigPun86 commented on #4333
Okay i found out that the update has issues with my integrated Flux. I created a complete new Project, and as soon as i integrated my "ScreenAction" it shows me a WhiteScreen!

LoginScreen:

[code]

ScreenActions:

[code]

Dispatcher:
[code]

"flux": "^2.1.1",
"keymirror": "^0.1.1",

[2015-11-25 13:23] satya164 commented on #4319
@sankhadeeproy007 Can't really be sure, since iOS and Android have their differences.

[2015-11-25 13:24] #4331 closed

[2015-11-25 13:28] sankhadeeproy007 commented on #4319
Okay I get your point. Sorry for the ignorance. Anyways here it is.
![screen shot 2015-11-25 at 6 57 29 pm](https://cloud.githubusercontent.com/assets/10998047/11398411/6eacb428-93a6-11e5-87ab-5ad84bbe3983.png)

[2015-11-25 13:38] BigPun86 commented on #4333
Okay found the problem. Has nothing to do with flux! I called the Action to switch Screen directly in the onPress of MKButton (react-native-material-kit), which obviously doesn´t work...It will produce a whiteScreen without any error tracing. Didn´t know that this doesnt work...

[2015-11-25 13:44] sankhadeeproy007 commented on #4319
@satya164 I got my fix there. I was using a 3rd party `Icon` pack with restricted support for Android. Thanks for your time.

[2015-11-25 13:44] #4319 closed

[2015-11-25 13:47] satya164 commented on #4319
I'm not sure if `TouchableOpacity` can directly wrap a `Text` component. Can you try wrapping `Text` inside a `View` first?

[2015-11-25 13:47] satya164 commented on #4319
Oh. Cool.

[2015-11-25 13:48] lucasmaiaesilva opened #4343 "Font-size changes according the size of the text in Mobile"
I have a Android device (moto x), and the font-size changes everytime the text size change as well. So I have been researched a lot and I don't found the solution. I believe this is an issue.

[2015-11-25 13:55] admmasters commented on #4335
@mihirsoni I also think this should stay open as its a bug - like @Kuzmin my fix for this issue was to edit the React Native source code locally/on my own fork. Also AFAIK this.isMounted seems to be considered bad practice, or at the very least code smell: https://github.com/facebook/react/issues/3417  .

[2015-11-25 14:02] richarddewit commented on #4041
+1

[2015-11-25 14:31] satya164 commented on #4333
Closing the issue since it's a big with a third party library. It would be great if you could report the issue in RN Material Kit repo.

[2015-11-25 14:31] #4333 closed

[2015-11-25 14:47] ide commented on #4296
This error is probably showing up because the node_modules resolution algorithm crawls up the directory hierarchy. I agree the error message is confusing.

Cc @martinbigio

[2015-11-25 14:49] ide commented on #1322
The React component is still mounted when you use CSS "display: none". If you return null, the component will be unmounted and its state will be destroyed.

[2015-11-25 14:51] ide commented on #4340
This looks related to Obj C generics. Upgrading to Xcode 7 should fix this.

[2015-11-25 14:51] #4340 closed

[2015-11-25 14:54] ide commented on #3953
We were seeing a similar effect in the iOS UIExplorer with dev=true and profiling turned off. Didn't investigate where the leak was coming from but it was easy to repro.

[2015-11-25 14:59] atom992 opened #4345 "Error: undefined is not an object (evaluating \'process.versions.node\')"
I am using react native 0.13.2
when I add the following module into my react native project:
[code]

and add the following code
[code]

I got the error:
[code]

[2015-11-25 15:02] ide commented on #4345
You probably need to define process.versions yourself before requiring deasync. One thing to keep in mind is React Native != Node.

[2015-11-25 15:02] #4345 closed

[2015-11-25 15:08] scgough commented on #4172
great. glad that helped @satya164
I have it working (as far as I can tell!) using that change above

[2015-11-25 15:10] ide commented on #1744
On iOS I believe Images within Text are now supported.

From a practical standpoint I am going to use a custom icon font for Android. It's simple and should work well.

[2015-11-25 15:11] nowaits opened #4346 "image.capInsets not work in branch 0.16-stable and master"
2eb8068cf17f603823fb7fb41beacd0a997a7629 [2eb8068] RCTDecodeImageWithData function adjust the scale of image which lead to  image.capInsets not work well

[2015-11-25 15:13] ide commented on #4346
cc @javache @nicklockwood

Also if anyone would like to help, adding a capInsets example to the UIExplorer (if one doesn't already exist) would be helpful and we could add it to the snapshot test suite.

[2015-11-25 15:20] npapanastasiou opened #4347 "`Uncaught ReferenceError: require is not defined` when running on iOS device after upgrading to 0.15.0"
The app runs fine in Simulator, but when running on a physical iPhone 6 the app does not function save for TextInput components receiving input and Touchables registering presses. A Debug in Chrome reveals only the message from the title: `Uncaught ReferenceError: require is not defined`

Additional information I just remembered in case it can help:
- This very same issue also happened with versio

[2015-11-25 15:25] nicklockwood commented on #4346
There is a capInsets example in the Image example in UIExplorer, and I think that still works because we're not applying image scaling to static images (yet). But yeah, this is a problem.

The fix is basically to disable image pre-scaling in the loading pipeline when capInsets is set, which should be fairly straightforward.

[2015-11-25 15:31] dshalom commented on #3999
Im having the same issue too, my settings are:
Mac OS v10.10.5
node v5.1
npm v3.5.0
react-native-cli v0.1.7
react-native 0.1.7
jest-cli v0.8.0

[2015-11-25 15:38] sailei1 opened #4348 "react-native init problem"
react-native  init  TestApp

wait too  long  time  in China

the  log:
 react-native  init  TestApp
This will walk you through creating a new React Native project in /Users/zhangsailei/react-native/TestApp
Installing react-native package from npm...

generate TestApp/package.json

{"name":"TestApp","version":"0.0.1","private":true,"scripts":{"start":"react-native start"}}

[2015-11-25 15:38] nowaits commented on #4346
i have tried the Image example in UIExplorer, it's appearance is not ok, the background is enlarged without use of capInsets, so i think it's still a problem

[2015-11-25 15:39] cosmith commented on #4041
Yeah this is actually still broken for me too, but only if I load the bundle dynamically and not if I build it and load from disk, so it's not an issue in production.

[2015-11-25 15:43] sailei1 commented on #4241
me  too

[2015-11-25 15:53] cancan101 opened #4349 "Prevent Chrome Debugger Tab from Getting Focus in JS Refresh"
If I am using the chrome debugger, when I refresh the JS code, the debugger tab ("React Native JS code runs inside this Chrome tab.") gets focused which is annoying / unnecessary since there is no meaningful content on this page.

posted here: https://productpains.com/post/react-native/prevent-chrome-debugger-tab-from-getting-focus-on-js-refresh/

[2015-11-25 15:55] sailei1 commented on #4348
npm install -g npm@2

[2015-11-25 15:55] #4348 closed

[2015-11-25 15:55] elisei-timofte opened #4350 "[Navigator] Long previous route title and the leftButton from the navbar collide"
On long titles some of the text of the previous route title appears on the screen.
<img width="440" alt="screen shot 2015-11-25 at 17 53 36" src="https://cloud.githubusercontent.com/assets/6162068/11401885/88bbdb0e-939d-11e5-8694-fc14beac69b2.png">
Is this a problem with the Navigator or I am doing something wrong?
Thanks in advance!

[2015-11-25 16:02] rileybracken commented on #4334
Yeah here is the commit for it on my forked repo.

https://github.com/rileybracken/react-native/commit/e994b75fac195a69709580c17548e42993c54c5f

[2015-11-25 16:03] skevy commented on #3607
I'm going to close this, as its related specifically to #2985, and also, RN is now using React 0.14 :-)

[2015-11-25 16:03] #3607 closed

[2015-11-25 16:03] cancan101 opened #4351 "Inject IP Address of Host into DEFINE Constant to make Device Development Easier in XCode"
According to [the docs](https://facebook.github.io/react-native/docs/running-on-device-ios.html#content):

It would be cool to use something like [suggestion 2 in this SO post](http://stackoverflow.com/a/7944940/2638485) to inject a define constant such that I don't have to change my source code every time my IP changes.

[2015-11-25 16:03] yamill opened #4352 "Nested Navigator - swipe back to popToTop()"
Hi all, I'm not sure if this is possible or not but I'm trying to swipe back to popToTop() when I'm inside the nested navigator. Is this possible? I know I can set a button to close the nested navigator, but I'm stuck on the swipe back gesture.

Preferably if the index is at 0 in the route stack and you swipe back it will close the navigator.

[2015-11-25 16:05] skevy commented on #1425
This doesn't apply anymore, as Navigator no longer uses StaticContainer. Closing.

[2015-11-25 16:05] #1425 closed

[2015-11-25 16:11] yamill commented on #4352
I figured this out. :)

Set the nested scene config to act as a modal:

[code]

That way I can dismiss simply by swiping down.

[2015-11-25 16:11] #4352 closed

[2015-11-25 16:23] ranyefet opened #4353 "[Text] Weird gap in text elements"
Hi guys,

I'm having a weird issues with ```<Text>``` element in React Native ```0.13.0```
Some texts are breaking into multiple lines although there's enough space.
![simulator screen shot 25 nov 2015 17 58 05](https://cloud.githubusercontent.com/assets/1016375/11402241/8022a430-939f-11e5-8169-c4841d7a6a61.png)

Another issue is that some text have extra useless space after the text ends
![simula

[2015-11-25 16:25] radko93 commented on #4341
Try adding react-native-cli to your (dev) dependencies.

[2015-11-25 16:31] dmmiller commented on #3557
I have a fix internally that I should be pushing in the next day or so.

[2015-11-25 16:31] tadeuzagallo commented on #3953
It's related to the WebSocket heartbeat that keeps trying to connect to React dev tools, it's debug only though, I'm looking into it.

[2015-11-25 17:30] ide commented on #3557
@dmmiller thanks for the update. Much appreciated I'm sure.

[2015-11-25 17:34] adrian-social-prod commented on #4062
+1. I can't upgrade to v0.15 and use Redux because of the Babel 5/6 issues

But that's not as bad as the way v0.16.0rc blows up Xcode with compiler errors.

[2015-11-25 17:39] mihirsoni commented on #4332
@chirag04 It seems ,  babel is not transpiling  the comments of JSX. I tried on babel REPL (goo.gl/otEcBh) as well as with cli.
[code]

The above JSX got compiled with

```React.createElement(Text,{style:styles.welcome},'Welcome to React Native!'),' '```

  @sebmck  any idea on this ?

[2015-11-25 17:41] ahanriat commented on #4341
It works perfectly ! Thanks @radko93

[2015-11-25 17:47] dmmiller commented on #3557
@PhilippKrone @satya164 That fix you mentioned was not a fix for this issue.  That fix fixed the values passed in the touch events to be local to the targeted view.  The fix for this is currently in review and is explicitly for transformed views.

[2015-11-25 17:57] adrian-social-prod commented on #3978
This seems ok using the v0.16.0-rc version of this file, although there is still an issue with onEndReached sending no argument on the first call and subsequent calls with an argument

[2015-11-25 17:57] #3978 closed

[2015-11-25 18:18] #4341 closed

[2015-11-25 18:32] Bhullnatik commented on #4341
Thanks, this works but is it the expected behavior? Shouldn't `react-native-cli` be installed globally? Why the change in the 0.15.0?

[2015-11-25 18:35] JakeRawr commented on #4181
Hi,

It does show` __DEV__=!1` but i believe optimization is still off.
I also see this in the Xcode console:
[code]
I've tried setting `__Dev__ = false` directly from main.jsbundle. It didn't work.

Any idea what I can do to set Dev to be false?

[2015-11-25 18:38] marcshilling commented on #567
Just something to try...set `shouldRasterizeIOS={true}` on your images in renderRow(). I've seen some performance improvements this way.

[2015-11-25 19:11] JakeRawr commented on #4181
Sorry, I figured out my own problem. as @andrewsardone said, Xcode build configuration has to set to "Release" for development mode.

Here's how for people who want to know:
<img width="446" alt="screen shot 2015-11-25 at 10 58 57 am" src="https://cloud.githubusercontent.com/assets/7199499/11406917/ab00e99a-9364-11e5-88c1-4e3a4774681e.png">
Select "Edit Scheme"

<img width="894" alt="screen shot 2

[2015-11-25 19:12] lernerbot opened #4357 "Packager does not see changes to files. Reload does not work."
When I first started my project, reloading without recompiling worked. Somewhere along the way I broke this.

When I run the project from Xcode, the packager terminal window opens fine but it doesn't see the changes I'm making to the JS files. I'm using Atom as my editor.

This is as far as it gets:
React packager ready.

[11:06:24 AM] <END>   Crawling File System (7704ms)
[11:06:24 AM] <START> Bu

[2015-11-25 19:30] chirag04 commented on #1012
@chandu0101 Can you send a PR?

[2015-11-25 19:34] chirag04 commented on #960
https://github.com/facebook/react-native/commit/7da42e3950169b12c78a450ac83cbee8c9141dff added option for ``allowsInlineMediaPlayback`` in webView.

@jonathanong closing this infavour of that commit. Let me know if we need to reopen this.

@MadRabbit Can you open a separate issue for ``mediaPlaybackRequiresUserAction`` and possibly PR?

[2015-11-25 19:34] #960 closed

[2015-11-25 19:37] chirag04 commented on #703
@mbrgm Is this still a problem for you?

[2015-11-25 19:46] chirag04 commented on #4357
@lernerbot Is the app loading? I don't see a network request for the bundle in your terminal output.

StackOverflow and Discord #react-native channel is the best way to get help on issues like this.

[2015-11-25 19:50] chirag04 commented on #4351
@cancan101 Like the comment on SO, I too feel option 2 is kindof hacky. However i have heard people using services like https://ngrok.com/ etc.

@ide @brentvatne thoughts?

[2015-11-25 19:52] idibidiart commented on #3044
Can anyone else confirm this problem exists with Fetch and or XMLHttpRequest in React Native?

[2015-11-25 19:54] chirag04 commented on #4347
@npapanastasiou Have you changed the ip address while running your app on real device?

Here is the doc explaining more about it: https://facebook.github.io/react-native/docs/running-on-device-ios.html#content

Make sure you computer and your mobile device are connected to the same network.

[2015-11-25 20:03] cancan101 commented on #4351
ngrok looks cool but it still means that each developer needs to modify the source to point to his ngrok. I agree that for any given developer it simplifies the number of code updates.

[2015-11-25 20:17] #4342 closed

[2015-11-25 20:18] mkonicek commented on #4253
Just grepped the codebase for my username - no occurrences, phew! :)

[2015-11-25 20:48] brentvatne commented on #4253
5 days without a response means this issue is inactive so I'm closing it :) @kitolog - feel free to open a new issue for this with more information so we can properly help you debug the problem!

[2015-11-25 20:48] #4253 closed

[2015-11-25 20:51] christopherdro commented on #4289
@bellicose100xp This might sound silly, but have you tried restarting your computer?

Almost every time I've ran into issues that kept me scratching my head, a simple restart did the trick.

[2015-11-25 21:11] mycall opened #4358 "Need to change Android SDK from 23.0.1 to 23.0.2"
How do I change the Android buildToolsVersion in a project that was just created using react-native init?  I read 23.0.2 build tools doesn't have the same problem as 23.0.1 does:

Android/Sdk/build-tools/23.0.1/aapt: error while loading shared libraries: libz.so.1: cannot open shared object file: No such file or directory

[2015-11-25 21:13] npapanastasiou commented on #4347
@chirag04 Yes, this fixed it. Thanks!

[2015-11-25 21:13] #4347 closed

[2015-11-25 21:14] mycall commented on #4358
I'll check there first, thanks mr. bot.

[2015-11-25 21:14] #4358 closed

[2015-11-25 21:32] ide commented on #4062
@adrian-social-prod Regarding the compiler errors, make sure you are using the latest version of Xcode.

[2015-11-25 21:43] ide commented on #4351
ngrok is a no-go because it supports only HTTP unless you have a paid account.

Whatever solution we ship, it needs to be very simple and reliable, and easy to diagnose when things go wrong.

[2015-11-25 21:57] ide commented on #4341
npm 3 might have broken global lookup of modules from npm run-scripts (I haven't verified... just a guess)

[2015-11-25 22:10] mbrgm commented on #703
@chirag04 No, no longer. It seems like 0.15.0 added a run script phase, which creates the `.jsbundle`. Thank you!

[2015-11-25 22:10] #703 closed

[2015-11-25 22:28] Bhullnatik commented on #4341
@ide That's what my first thought was, but under the same node/npm configuration it works with React-Native 0.14.0, while it doesn't with the 0.15.0+.
I would be interested in fixing this myself, but I don't know where to begin looking.

Thanks for your answer.

[2015-11-25 22:46] radko93 commented on #4341
It's not npm 3 case, I've tested it on npm v2.

[2015-11-25 23:20] chirag04 commented on #703
:+1:

[2015-11-25 23:51] chirag04 commented on #1504
@brentvatne  @jsierles This seems to be pretty old. Is this still a problem?

[2015-11-25 23:53] chirag04 commented on #1502
``react-native update`` command is now available. Docs here: https://facebook.github.io/react-native/docs/upgrading.html#content

[2015-11-25 23:53] #1502 closed

[2015-11-25 23:55] chirag04 commented on #4347
:+1:

[2015-11-25 23:59] nicklockwood commented on #1504
I believe I fixed this a while ago by implementing te behavior discussed above.

[2015-11-25 23:59] #1504 closed

[2015-11-26 00:05] chirag04 commented on #1504
:+1:

[2015-11-26 00:10] aleclarson opened #4359 "[ListView] Prevent rendering during an interaction?"
I noticed that extreme jitter occurs if a `ListView` renders rows during a pan interaction. Is there any way to stop the `ListView` from rendering rows (maybe using `InteractionManager`)? Thanks!

[2015-11-26 00:22] brentvatne commented on #4359
I implemented this but not sure if it's something that will go into core: https://github.com/facebook/react-native/issues/2990

[2015-11-26 00:33] satya164 commented on #4334
@rileybracken Looks good. @ide @mkonicek do we want this in core?

[2015-11-26 00:49] satya164 commented on #3557
@dmmiller Looking forward to the fix. Thanks a lot :)

[2015-11-26 00:50] christopherdro commented on #4290
@wowpet It seems to working here https://rnplay.org/apps/tMJKx. However, this example is running 0.13-rc.

I tried locally on 0.14.2 and it does NOT work so I wanted to get some more information from you before trying to debug this further. Could you let me know what version of RN you are using? Thanks!

[2015-11-26 00:50] satya164 commented on #4172
Not sure if I should close this issue or not. This seems like a GA issue, but need to do more investigation on why it was even happening.

[2015-11-26 00:59] ide commented on #4334
It seems useful. A couple of use cases I can think of off the top of my head are a gradient and blur view. Both of those can't be implemented with a style.

I think it's very good that the API is flexible and makes you write your own code instead of something like `barLinearGradient={['#45baef', '#34bcd5']}`.

cc @ericvicenti

[2015-11-26 01:00] satya164 commented on #4253
@mkonicek I think your name appears when crashes occur in the C++ code. I've seen it before :D

[2015-11-26 01:13] chandu0101 commented on #1012
sorry no atm , busy with the other things. may be in future :)

[2015-11-26 01:24] christopherdro commented on #4353
@ranyefet Is there anyway you can try this with the latest version, 0.15 and see if the problem still persists?

[2015-11-26 01:26] mkonicek commented on #4334
I believe @ericvicenti is not actively working on RN as he moved to a different team.

[2015-11-26 01:31] mkonicek commented on #3459
Feel free to leave this out for now.

Travis runs on each branch every time there's a commit. It would be very wasteful to regenerate the website for every branch on every commit to master, and would get slower over time as we add more release branches.

[2015-11-26 01:45] chirag04 commented on #1780
Closing this since it's already fixed for ios 8+. Feel free to submit a PR with ios 7 support.

[2015-11-26 01:45] #1780 closed

[2015-11-26 01:47] chirag04 commented on #1889
@philikon closing this for now. PR with better docs is most welcome :)

[2015-11-26 01:47] #1889 closed

[2015-11-26 01:51] wowpet commented on #4290
Hi @christopherdro , thanks for the reply.

I'm testing the code against latest github repository.
[code]

I have tested on both iphone 6 plus emulator, and on iphose 5s device.

[2015-11-26 01:52] #2884 closed

[2015-11-26 01:56] rileybracken commented on #4334
There aren't any docs for the `NavigatorNavigationBar` component should I just make the https://facebook.github.io/react-native/docs/navigator.html#navigationbar docs more detailed before making a PR?

[2015-11-26 02:45] andyyou opened #4360 "Is this an issue or not about style(flexbox)"
I am attempt to describe the problem but I am not sure is that a issue or just I don't understand the knowledge of this. Base on my CSS experience I can do the effect like this [CodePen demo](http://codepen.io/andyyou/pen/RWzGBZ#0)

For example, I have three levels of structure `.father`, `.son` and `.grandson` the father element has dynamic elements inside and son too. I hope `.son` element can u

[2015-11-26 03:12] ide commented on #4334
@rileybracken that'd be helpful, thanks! What would be really great is if there were a separate docs page for NavigationBar like how TabBarIOS and TabBarIOS.Item have their own docs.

[2015-11-26 03:16] chirag04 commented on #4360
You can wrap ``<Text>Hello sandbox</Text>`` elements in a ``<View style="textSons">`` and apply the padding there.

[2015-11-26 03:28] andyyou commented on #4360
@chirag04 Thanks for your suggestion I have completed my requirement by avoid this situation. I just want to figure out about that behavior :)

[2015-11-26 03:42] KeithZhang commented on #3904
as the warning says, just add a background props,like this: background={TouchableNativeFeedback.Ripple()}, the waining disappear

[2015-11-26 03:56] cxfeng1 opened #4361 "[RCTText] Cached TextStorage not hit because of rounded width"
In method  `buildTextStorageForWidth`, we use `_cachedTextStorageWidth` and `_cachedTextStorage`  to store NSTextStorage.

[code]

While the text's property is updated,  we construct a width to see if the NSTextStorage is built already.

[code]

But here the width is not exactly same as the width before,  because `self.frame.size.width` is a rounded one.

[code]

For example , the width used to la

[2015-11-26 04:42] jihopark commented on #3228
yeah solved with @edo1493 's solution above... but still not so good :(

[2015-11-26 05:00] sebmarkbage commented on #2862
For context to anyone following along about the complexities involved here. They're not obvious unless you've followed this subject carefully.

`this` was at one point supposed to refer to the global object even in ES2015 module scopes. If that was true then platform implementors like React Native trying to implement a future and backwards compatible environment would not have any way to do so.

A

[2015-11-26 05:05] sebmarkbage commented on #2862
I think that for code that only runs in Facebook environments `global` would be fine.

[2015-11-26 05:17] bleonard opened #4362 "Handling different XCode Configurations"
Currently the [react-native-xcode.sh command](https://github.com/facebook/react-native/blob/9a64f17de84e50a4fc60f1b96168aa61925934a8/packager/react-native-xcode.sh) crashes when the `$CONFIGURATION` is anything but `Release` or `Debug`.

There are reasons why we have a configuration for `Staging`. All Xcode projects treat this as the default (usually Release). Your goals seems to be to set `DEV` t

[2015-11-26 05:17] bleonard commented on #4362
I'd be happy to make a PR if the above sounds more or less ok.

[2015-11-26 05:23] bleonard commented on #4362
hmm, ok. I'd be happy to do the latter. @frantic @ide let me know if you have anything against being a little more lax in there and I'll submit a PR.

[2015-11-26 06:41] rileybracken commented on #4334
@ide Tried writing some docs tonight but can't get the website setup locally. I am getting:

because of: (for example in getting-started.js)

[code]

It seems like this is auto generated when I refresh the page how can I get around this?

[2015-11-26 07:31] trave7er commented on #3684
I opened a PR regarding this issue: https://github.com/facebook/react-native/pull/4364

[2015-11-26 07:39] hendrikswan commented on #4062
@ide This might sound a bit crazy.. I'll probably be offered up to the open source gods, but.. Seeing that things are a bit broken with RN + Babel at the moment, perhaps rolling back to Babel 5 would help in the short run until Babel has been patched to support decorators (officially or unofficially) and to ignore node_module .babelrc files?

[2015-11-26 07:42] lxsameer opened #4365 "[Q] Is there any development process for react native itself?"
Hi

I want to patch a class in ReactNative android, But doing it on the react native copy inside `node_modules` does not effect the compiled app, Is there any specific way to develop react native itself ?

How can I test my patch ?

[2015-11-26 08:23] grimen commented on #4341
Ran into the issue, resolved after plenty of head scratching by cleaning `node_modules` (`rm -rf ./node_modules`) and then upgrading NPM (`npm install npm -g`) and install deps in the generated React Native project (`npm install`). Upgrade clash I guess, didn't have this issue last week.

[2015-11-26 08:40] coderlin opened #4367 "react-native/ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java:133 miss contanst"
hi react-native, thanks for read
when I clone the react-native project, after setup my env(sdk,ndk....)
then I run 'npm install' and './gradlew :Examples:UIExplorer:android:app:installDebug'
I found the error like this:

..............
bi-v7a/libreactnativejni.so
[x86] StaticLibrary  : libreactnative.a
[x86] SharedLibrary  : libreactnativejni.so
[x86] Install        : libreactnativejni.so => /User

[2015-11-26 08:50] nowaits commented on #1501
+1

[2015-11-26 09:07] MilanPalSingh commented on #304
It worked for me -> open the APP folder in the terminal and running "react-native start". Here you can also check on which port it is running and set the same.

[2015-11-26 09:53] venil7 commented on #3379
@satya164 that helped thanks.
do I need to run it every time? why do I need to run it in the first pace?
this error only happens with real device, not emulator.

[2015-11-26 10:16] lashad commented on #4367
Hi @coderlin,

Just workaround !!

Edit CatalystInstanceImpl.java file line 133. Replace Systrace.TRACE_TAG_REACT_APPS constant with Systrace.TRACE_TAG_REACT_JAVA_BRIDGE

good luck.

[2015-11-26 10:55] zechau commented on #2808
i missed the same issue too in Android 6.0 of Nexus5, only "source={{uri:'http://xxxxx'}}" works, any source get from require('xxx') just show me the white blank. That's weird.

[2015-11-26 11:11] dbrugne commented on #4296
:+1:

[2015-11-26 11:17] venil7 commented on #2720
restarting adb helps me resolve this issue

[2015-11-26 11:22] jcsmesquita commented on #1402
Can anybody point me to any documentation on this for Android?

[2015-11-26 11:36] ide commented on #4367
This should be fixed in master.

[2015-11-26 11:36] #4367 closed

[2015-11-26 11:51] christopherdro commented on #4365
@lxsameer you can fork the repo then update package.json to point to your forked repo.

Will look something like this.
[code]

You can also specify a specific branch.
`"react-native": "lxsameer/react-native.git#branch-name"`

[2015-11-26 11:55] wanjm commented on #3379
I come across the same problem. is there any update?

[2015-11-26 11:55] christopherdro commented on #3379
@venil7 You need to run on only when testing on a actual device.

@wanjm Did you make sure you run the command suggested by @satya164 as well?

[2015-11-26 11:56] satya164 commented on #3379
@venil7 You've to run it everytime you connect a device via USB.

[2015-11-26 12:01] lxsameer commented on #4365
@christopherdro My patch contains Java code and need to be compiled.
using your solution I can not use my local working tree of react-native, right ?

[2015-11-26 12:02] fxhereng commented on #1167
I just tried a new font using the @satya164 method and some words magically disappeared in my app, it seems that views doesn't calculate the sufficient space to display them. Does anyone have encountered the same problem?

[2015-11-26 12:04] wanjm commented on #3379
@christopherdro;
I tryed following step in the same terminal.
1. run adb reverse tcp:8081 tcp:8081;
2. run adb install to install the apk;

finally it works; I used to run it in different terminal;

but I still have questions;
1. I failed to install the apk by "react-native run-android" so i install it manually. how to solve it;
2. why do we need to run "adb reverse".  in fact, I want to know how

[2015-11-26 12:04] christopherdro commented on #4365
@lxsameer Not sure I understand completely. You should be able to make any changes you want, whether Java or JS and push those changes to your forked repo.

Although with each change, your going to have to run `npm update` so it pulls down your changes and make sure to restart the packager.

[2015-11-26 12:09] christopherdro commented on #3379
@wanjm For more information on adb and its services you can take a look at http://developer.android.com/tools/help/adb.html

I unfortunately cannot answer your other questions but feel that they are better suited for either Stack Overflow or by asking through Discord chat.

Thanks!

[2015-11-26 12:10] lxsameer commented on #4365
My point is that it would be hard to change a java code and push it to github and then pull it in my app and then build the changes. Is there any solution to force react-native to use the java code from my local clone of the react-native repo?

[2015-11-26 12:11] #3953 closed

[2015-11-26 12:11] satya164 commented on #3379
@wanjm Are you using Android 4.4? `adb reverse` works only for Android 5.0 and above. For instructions for Android 4.4, check the docs - http://facebook.github.io/react-native/docs/running-on-device-android.html

[2015-11-26 12:12] christopherdro commented on #4365
I personally haven't found any. I usually make changes directly inside the react-native that lives within the `node_modules` directory so I can see the immediate changes then copy them over to my forked version for safekeeping.

Would you mind posting this question on stack overflow or asking on Discord in the #react-native channel?

[2015-11-26 12:17] wanjm commented on #3379
@satya164  I need to support android 4.0 and above, so currently only 5.0 works;
thanks for your links;

[2015-11-26 12:17] lxsameer commented on #4365
Discord channel is kind a dead, I asked so many times. I added the java code directly to app and changed it a lot to fit as a external Native UI module.

There should be a easier way

[2015-11-26 12:19] christopherdro commented on #4365
@lxsameer I would suggest stack overflow then. Perhaps you get a bette response there.

[2015-11-26 12:20] satya164 commented on #3379
@wanjm React Native only supports Android 4.1 and above. You can find instructions about testing on Android 4.1 and above here - http://facebook.github.io/react-native/docs/running-on-device-android.html#configure-your-app-to-connect-to-the-local-dev-server-via-wi-fi

[2015-11-26 12:20] rocman commented on #3953
👏🎉🎊👍🏼

[2015-11-26 12:21] lxsameer commented on #4365
Thanks

[2015-11-26 12:22] christopherdro commented on #4365
:+1: Feel free to open this again if you don't get a response through Stack.

[2015-11-26 12:22] #4365 closed

[2015-11-26 12:25] mroswald commented on #3135
+1

[2015-11-26 12:29] wanjm commented on #3379
@satya164  it seems that the apk has to work with the server;  how can i generate the apk for normal user to download;

[2015-11-26 12:30] satya164 commented on #3379
@wanjm See http://facebook.github.io/react-native/docs/signed-apk-android.html#content

[2015-11-26 12:37] wanjm commented on #3379
@satya164  thanks;
could you give any help on , why react-native run-android failed to install the apk;
it shows:

Installing APK 'app-debug.apk' on 'PLK-CL00 - 5.0.2'
07:59:55 E/1103098422: Error while uploading app-debug.apk : Unknown failure
Unable to install /home/wanjm/temp/fn/android/app/build/outputs/apk/app-debug.apk
com.android.ddmlib.InstallException: Unable to upload some APKs
	at com.a

[2015-11-26 12:40] satya164 commented on #3379
Seems to be a bug with gradle. Consider asking the question on
StackOverflow.

Satyajit Sahoo
UX Designer
Behance Profile <https://www.behance.net/satyajitha28c7>

We're all stories, in the end. Just make it a good one, eh? — The Doctor,
Season 5, Episode 13.

On 26 November 2015 at 18:07, wanjm <notifications@github.com> wrote:

[2015-11-26 12:51] sethx opened #4370 "Collision during packer startup using 0.15.0"
Hello,
after updating to 0.15.0 i get this:

Error building DepdendencyGraph:
 Error: Naming collision detected: /Users/d/Desktop/radar/node_modules/react-native/Libraries/vendor/core/immediate/setImmediate.js collides with /Users/d/Desktop/radar/node_modules/react-native/Libraries/vendor/react/core/clamp.js
    at HasteMap._updateHasteMap (/Users/d/Desktop/radar/node_modules/react-native/packager

[2015-11-26 12:55] venil7 commented on #3379
is this an issue only while developing/debugging?
it wont happen when building for release, right?

[2015-11-26 12:56] satya164 commented on #3379
@venil7 Most likely it'll not.

[2015-11-26 13:05] christopherdro commented on #4164
@hufeng Closing this for now since it's been inactive for a week. Please report back if you are still have problems. Thanks!

[2015-11-26 13:05] #4164 closed

[2015-11-26 13:08] christopherdro commented on #4370
@sethx Could you try taking a look at issue #3558 and see if any of the answers posted help solve your problem? Thanks!

[2015-11-26 13:23] sethx commented on #4370
@christopherdro yes, thanks! `./node_modules/react-native/packager/packager.sh --resetCache` fixed it for me

[2015-11-26 13:23] #4370 closed

[2015-11-26 13:32] grabbou commented on #4362
I think it could play well with rn-cli.config.js and e.g. method `getConfiguration(xCodeRelease)` for instance.

[2015-11-26 13:33] anaibol commented on #2985
+1

[2015-11-26 13:48] satya164 commented on #1167
@fxhereng Custom font support has been added in React Native - https://github.com/facebook/react-native/commit/bfeaa6a4f531cfc18c097bc9ffb6a8dbe3ddc702

You can try 0.16.0-rc to use it.

[2015-11-26 13:59] baoti commented on #3904
`PropTypes.oneOfType` couldn't work with checkers which throws Error.(https://github.com/facebook/react-native/blob/f2545bafc967661beeefc3778c06532982a6addc/Libraries/Components/Touchable/TouchableNativeFeedback.android.js#L37)

[createStrictShapeTypeChecker](https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/Libraries/Utilities/createStrictShapeTypeChecker.js#L

[2015-11-26 14:38] cspkop commented on #3904
@KeithZhang Thanks!
Replacing the  background={TouchableNativeFeedback.SelectableBackground()}  with background={TouchableNativeFeedback.Ripple()} removes the warning.

[2015-11-26 14:40] satya164 commented on #3904
@ide @mkonicek Is the warning necessary? There is a already a default value set to `TouchableNativeFeedback.SelectableBackground()`.

@cspkop Note that using `TouchableNativeFeedback.Ripple()` will crash your app below Android 5.0.

[2015-11-26 14:57] baoti commented on #3904
There is a bug to combine `PropTypes.oneOfType` with `createStrictShapeTypeChecker`.

[2015-11-26 15:13] Intellicode commented on #4289
@regeda's trick seemed to work for me!

[2015-11-26 15:14] chirag04 commented on #1611
Fix for this already landed in master it seems. please reopen if i'm wrong.

[2015-11-26 15:14] #1611 closed

[2015-11-26 15:16] nicklockwood commented on #1611
Yeah, this is fixed.

[2015-11-26 15:18] jarvys opened #4372 "[AlertIOS] AlertIOS.alert crash in v0.15.0"
`AlertIOS.alert()` crash because `RCTKeyWindow()` always return nil.

[2015-11-26 15:19] christopherdro commented on #4370
:+1:

[2015-11-26 15:19] chirag04 commented on #2675
@ide is this still a problem? I think color processing moved to js.

[2015-11-26 15:21] christopherdro commented on #4372
@jarvys Could you provide us with a bit more information on your environment such as the version of React Native and iOS? Thanks!

[2015-11-26 15:26] chirag04 commented on #2545
Seems like everything is in place for node 4 now.

[2015-11-26 15:26] #2545 closed

[2015-11-26 15:26] mikeljames commented on #3040
I've found the borders to blur...

https://rnplay.org/apps/mGNsBQ
![image](https://cloud.githubusercontent.com/assets/2983327/11426191/1c842666-9452-11e5-806b-8e5d18581216.png)

RN version:14.2

[2015-11-26 15:49] rodripf commented on #3820
I reach the same point as you @steve-ng. In the catlog the ad request is successful but it doesn't shows. And admob knows that it is not showing because in the log it says "the ad is not being showed. re scheduling reload to 60 sec from now.".
I've added some things to the scenario: added google play services to the compilation, added the required permissions and activity to the android manifest.

[2015-11-26 16:09] javache commented on #4362
I think this is a good boundary for transforming the xcode config to a packager option (I don't think we would want to duplicate to similar logic for the Android config), so making react-native-xcode default to `DEV=false` sounds good to me.

[2015-11-26 17:36] bmcmahen opened #4373 "Sticky headers stuck/unstuck callback"
Just a small feature request. It would be nice if ScrollView/ListView could provide optional callbacks for when the sticky headers either stick or unstick, so that we could alter their styling. This is a relatively common pattern when building iOS apps.

[2015-11-26 18:09] #4373 closed

[2015-11-26 18:34] chirag04 commented on #3902
Refer below issues if its still a problem:
https://github.com/facebook/react-native/issues/1875
https://github.com/facebook/react-native/issues/3703
https://github.com/facebook/react-native/issues/2231

[2015-11-26 18:34] #3902 closed

[2015-11-26 18:35] #3510 closed

[2015-11-26 18:37] ide commented on #4334
@rileybracken, could you perhaps be using npm 3? I've seen that website error before when using npm 3 instead of 2.

[2015-11-26 18:50] niftylettuce opened #4376 "fetch needs patched for try/catch on JSON.parse"
Please fix <https://github.com/facebook/react-native/blob/854689dcfaa7dc13e8ee5dec69f9f7a569595dd1/Libraries/Fetch/fetch.js#L232> to have try/catch surrounding JSON.parse?

[2015-11-26 18:58] ide commented on #2675
Haven't seen this problem with animated recently.

[2015-11-26 18:58] #2675 closed

[2015-11-26 19:00] ide commented on #3953
Awesome, thanks @tadeuzagallo.

[2015-11-26 19:16] arunshan commented on #3452
Thanks @gre. I made that change and it should appear in 'react native'

[2015-11-26 19:29] nodkrot commented on #2478
Ill take a look thx @ehd

[2015-11-26 20:03] jcsmesquita opened #4377 "Android Widget"
Is it possible to write an Android widget (that goes on the home screen) with react-native? If not is there any plan to support this? Just curious...

[2015-11-26 20:34] rileybracken commented on #4334
@ide I was using 3 but switched to two after what you said. Still getting the same error though. I reset my NPM cache and restarted my machine to see if that would make it go.

[code]

[2015-11-26 20:45] niftylettuce commented on #375
Was this resolved?

[2015-11-26 20:51] niftylettuce commented on #4376
also why are you throwing errors instead of sending them back with Promise.reject?

<https://github.com/facebook/react-native/blob/854689dcfaa7dc13e8ee5dec69f9f7a569595dd1/Libraries/Fetch/fetch.js#L125> uses reject but this doesn't https://github.com/facebook/react-native/blob/854689dcfaa7dc13e8ee5dec69f9f7a569595dd1/Libraries/Fetch/fetch.js#L194

[2015-11-26 20:53] niftylettuce commented on #4376
Basically because you are throwing errors and not wrapping JSON.parse in a try/catch block - I had to dig deep to find out that my 404 response could not use `res.json()` in this example:

[code]

The error is thrown that it can't parse JSON (the body is text response)

[2015-11-26 20:53] niftylettuce commented on #4376
The reason I have to use `fetch` polyfill is because `superagent` doesn't work because it's trying to run in a node runtime environment and not a browser environment or something.  This is broken and we can't even hook in a simple API into react-native...

[2015-11-26 21:10] fender commented on #4233
+1

[2015-11-26 22:05] alizain commented on #41
<a href="http://dev-buildwithlove.elasticbeanstalk.com/facebook/react-native/issues/41/vote"><img src="http://dev-buildwithlove.elasticbeanstalk.com/facebook/react-native/issues/41.png" alt="BuildWithLove"></a>

[2015-11-26 22:30] kwaak commented on #4204
Yeah, I'm having the same issue, particulary with .idea or .hg directories.
The exception:
[code]

It's occuring so frequently that I've resorted to commenting the ``process.exit(1);`` line in the uncaughtException handler.
I'm going to dig a bit deeper into the file watching to see if I can dig something up.

[2015-11-26 23:41] WoLfulus commented on #4204
@kwaak It's not only those folders... I've commented the process exit too. Impossible to use packager without it...

[2015-11-27 00:31] NixusCN commented on #953
mark

[2015-11-27 01:17] TheSisb commented on #4244
@browniefed Thanks for looking into this!

"Ultimately I went with the worst option. I had to map directly to each file that was now being included w/ the including of ViewStylePropTypes"  - I came to the same conclusion :/

I'm on vacation right now but thanks for adding your notes into this issue ticket - hope it helps them clear the issues out down the line!

[2015-11-27 01:35] coderlin commented on #4367
thx @lashad @ide I will pull down and try again

[2015-11-27 01:35] pewh commented on #4377
+1

[2015-11-27 01:46] satya164 commented on #4191
This can be useful to show a splash screen until React Native does it's thing. Currently it shows only a white screen.

[2015-11-27 01:47] satya164 commented on #3780
@ide It's been working great for me with Node 5 and npm 3.

[2015-11-27 01:48] satya164 commented on #3701
Closing this since the relevant pull request has been merged.

[2015-11-27 01:48] #3701 closed

[2015-11-27 01:49] satya164 commented on #3557
@dmmiller Would be totally awesome if we could get it to 0.16.0

[2015-11-27 02:17] andyyou commented on #2397
I got a strange thing that my DatePickerIOS work fine but console still show me warning

[2015-11-27 02:23] bastengao commented on #3704
I console `RCTUIManager.ToolbarAndroid.Constants` in ToolbarAndroid.android.js, it's undefined. It seems `ReactToolbarManager.getExportedViewConstants` doesn't work. No more help I can do.

[2015-11-27 03:13] ericchris commented on #1167
@satya164 I still have a problem using that code..
when I change the font setting on the device, my font got changed too.
Any idea?

[2015-11-27 03:27] satya164 commented on #1167
@ericchris Did you try 0.16.0-rc?

[2015-11-27 05:05] hasen6 opened #4379 "[SegmentedControlIOS] Add setTitleTextAttributes to customize font stlying"
Any ideas how this is done? I added a style component to SegmentedControlIOS with fontSize but it didn't change anything.

[2015-11-27 05:09] chandu0101 opened #4380 "Support stateless function components in AppRegistry.registerComponent"
Finally stateless functional components working in 0.16.0-rc, props to rn team :)

can we have functional components support in  `AppRegistry.registerComponent ` ?

[2015-11-27 05:11] chandu0101 commented on #4023
they're working fine in 0.16.0-rc with one exception! (#4380)

[2015-11-27 05:29] yychun1217 commented on #1693
Encountered this error as well, TextInput inside ScrollView on iOS

[2015-11-27 05:40] zhjx19892008 commented on #4296
Failed to resolve, for help

[2015-11-27 05:47] satya164 commented on #4327
We should also cherry-pick this - #4298

It's a faitrly small fix for the annoyance where the Switch gets cut off in Android.

[2015-11-27 05:55] cspkop commented on #3904
@satya164 Then how we can get rid of this warning?

[2015-11-27 06:30] piyushchauhan2011 commented on #1693
:+1: repeated encounters

[2015-11-27 06:57] satya164 commented on #3904
@cspkop For now you can ignore it. It doesn't do any harm.

[2015-11-27 06:58] satya164 commented on #3904
@cspkop For now you can ignore it. It doesn't do any harm. In my app, I've done the following,

[code]

[2015-11-27 07:38] TerranTian opened #4381 "horrible memory leak in version 0.16"
create an empty project with "react-native init",run the xcode project， then you can see the memory increasing by almost 1M every second, it is horrible!
below is my screenshot,the memory reach to 400M in 4mins.
![memory leak](https://cloud.githubusercontent.com/assets/2083024/11436097/3f4b05b4-951c-11e5-8540-65878a7b5858.png)
here is then application view,just a empty project.
![screen](https://c

[2015-11-27 07:59] liusong1111 commented on #2985
+1

[2015-11-27 08:22] ide commented on #4381
KP (https://github.com/facebook/react-native/issues/3953) -- should be fixed in master.

[2015-11-27 08:22] #4381 closed

[2015-11-27 08:44] malinthe commented on #4041
@cosmith You're right. I tried building a release version and it had no issues.

[2015-11-27 08:46] richarddewit commented on #4041
Using `0.16.0-rc` fixes it

[2015-11-27 08:49] Kuzmin opened #4382 "[Android] `fetch` silently fails without resolving or rejecting the promise"
Trying to `fetch` an url like `https://example.com/api/resources/?scopes=new&filter={"name":"Hello World"}` on Android silently fails. On iOS it successfully executes the request.

This seems to be an issue in how the `fetch` adapter for Android handles malformed URLs, since by running `encodeURIComponent` on the relevant parts in the URL, this was resolved.

This is an issue because the Promise n

[2015-11-27 08:50] sankhadeeproy007 commented on #3742
Me.

[2015-11-27 08:52] luckymore commented on #2754
come on

[2015-11-27 08:54] zrhzhouronghui opened #4383 "how import js module using npm"
i have a question here, i want import a wrapper about protocol buffer,here is this git :https://github.com/dcodeIO/protobuf.js/wiki/Installation,i install it using
npm install protobufjs
/Users/ronghui/Desktop/ReactNative/APRNCore_0_15_0/node_modules/react-native/node_modules/protobufjs
,here is the full path, when i require it
var protobuf = require('./node_modules/react-native/node_modules/proto

[2015-11-27 10:09] mjhlybmwq commented on #4309
Can we convert a java object to a WritableMap by reflection?

[2015-11-27 10:16] satya164 commented on #4383
@zrhzhouronghui You're using a module which uses node native modules. It won't work under React Native.

[2015-11-27 10:16] #4383 closed

[2015-11-27 10:16] satya164 commented on #4383
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-27 10:16] satya164 commented on #4383
@zrhzhouronghui You're using a module which uses node native modules. It won't work under React Native.

[2015-11-27 10:18] Thomas101 opened #4385 "React 0.15 Android static es6 Array methods bug [Array.from, Array.of]"
Hey,

Found an interesting bug. Using React 0.15 if you add any static es6 Array methods such as `Array.from` the app comes up with an `undefined is not a function` error. Interestingly though when you turn on Chrome debugging it all works fine.

I've tried this in our own app and using the blank template app and get the same results. Here are some of the methods I've tested...

`Array.from([1,2,3

[2015-11-27 10:21] satya164 commented on #4385
Hey. Thanks for reporting. `Array.from` is available in RN only from `0.16.0-rc` - https://github.com/facebook/react-native/commit/c4739746ba583b4d549d1f131c6690adc5d17cd1

[2015-11-27 10:21] ide commented on #4385
cc @mkonicek updating android-jsc should fix this -- should we match iOS 9's version of JSC (in general, following the latest iOS)?

[2015-11-27 10:23] satya164 commented on #4382
cc @mkonicek

[2015-11-27 10:30] satya164 commented on #4376
if an error is thrown inside the `.then` callback, isn't it supposed to be propagated to the `.catch` callback?

[2015-11-27 10:43] Thomas101 commented on #4385
@satya164  Thanks for the heads up on 0.16!

[2015-11-27 11:15] aleki commented on #3796
ETA?

[2015-11-27 11:22] satya164 commented on #3796
@aleki It's on the 0.16.0 roadmap - https://github.com/facebook/react-native/issues/4327

[2015-11-27 11:26] NishanthShankar commented on #3156
Facing the same issue

[2015-11-27 11:45] Kudo commented on #2313
Are there any updates for change/willchange or willblur/didblur event?
I didn't see these events in current master branch code.
I would like to have willblur/didblur and I can help for a PR but not sure if this will fit React Native's road map.

My use case is for react-redux.
Currently I use Navigator with react-redux, unfortunately, Navigator.push() will keep old components and these old/hidden

[2015-11-27 13:13] neciu opened #4386 "Interpolating color with spring causes blink."
Using `Animated` spring color interpolation causes blinking (when the red box is on the right side).
![Animation](http://zippy.gfycat.com/GlitteringHonestJabiru.gif)

Example code:
[code]

[2015-11-27 13:18] rzvavram commented on #567
+1

[2015-11-27 13:34] mkotsbak commented on #4380
I don't see the need for functional component in Scala. What do you gain over just using a function like this: https://github.com/mkotsbak/Javabin-SriReactNativeDemo/blob/master/mobile/src/main/scala/sri/templates/crossplatform/mobile/AlcoMeter.scala#L26-L30

I see maybe in JS you get types and default values, but that is not needed in Sri, as you have both types, default values and named paramete

[2015-11-27 13:38] mkotsbak commented on #4380
See also https://news.ycombinator.com/item?id=10348391

[2015-11-27 13:38] aleki commented on #3796
@satya164 Thank you!

[2015-11-27 14:21] dmmiller commented on #4191
There doesn't seem to be a good event on Android equivalent to what exists on iOS which makes it really hard to implement.  If someone does have a good idea of how to detect it on Android, I'd be happy to look further.

[2015-11-27 14:35] richarddewit commented on #1167
I can't get it to work, it falls back to default font.

- using RN@0.16.0-rc
- TTF font file in `android/app/src/main/assets/fonts/`
- font file name exactly matches font name (i.e. font name = `FontName`, font file name = `FontName.ttf`)
- also tried setting font name and font file name to lowercase (`fontname` and `fontname.ttf`)
- no typeface specified in styles.xml

Anyway to debug if the font

[2015-11-27 15:11] chandu0101 commented on #4380
@mkotsbak  i think u posted in wrong thread ;)

[2015-11-27 15:36] mkotsbak commented on #4380
Ah sorry, yes the above comment was supposed to be for the Sri project.

[2015-11-27 15:43] alizain opened #4387 "OpenSource vs Facebook Internal"
So I've been keeping up with comments on issues that affect the community, and it seems that there exists divergence between the OSS RN and Facebook's internal RN. As someone who is experimenting with using RN in production, this perceived "double-effort" is disconcerting and raises many questions. The crux of those questions boils down to one: which is of a higher priority for FB, the OSS RN or i

[2015-11-27 15:43] bestander commented on #4045
Can we solve the problem of missing `.done()` statement with linters?

[2015-11-27 16:02] bestander commented on #4045
Maybe I am dreaming here but it could be: "if promise is not returned by method than it must be `.done()`-d"

[2015-11-27 16:03] bestander commented on #4045
Also Firefox outputs warning if an exception is silent in a Promise, this seems to be a native feature.
Chrome team promised to do the same AFAIK

[2015-11-27 16:09] davidaurelio commented on #4045
Chrome has it, I just checked it. `Promise.reject()` prints an error on the console immediately.

[2015-11-27 16:13] jpapillon opened #4388 "assetRoots argument is never considered"
Setting assetRoots argument for 'react-native start' doesn't change a thing. This is due to these lines in 'local-cli/server/server.js':
[code]
It's using args.projectRoots instead of args.assetRoots on second line.

[2015-11-27 16:21] mkonicek commented on #4387
We use the OSS RN internally and build on top of it.

For a detailed explanation see this talk (slides 45+): https://speakerdeck.com/mkonicek/under-the-hood-of-react-native

[2015-11-27 16:24] mkonicek commented on #4387
The issues that affect both fb apps and everyone else (which also tend to be the important ones) are the most likely ones to get fixed first.

See also the comment we put on every issue above, it has lots of info relevant to your question.

[2015-11-27 16:30] bestander commented on #4045
Yeah, this code prints error to log:
[code]
This one not because promise has error handling:
[code]

[2015-11-27 16:44] ajwhite commented on #4030
Will `v0.16.0` address this since it's introducing [babel-core@6.1.20](https://github.com/facebook/react-native/blob/v0.16.0-rc/package.json#L58-L83)? I came across this problem before going back down to `0.15.0`

[2015-11-27 16:50] chirag04 commented on #4387
@mkonicek's answer summarized everything. @alizain If you have more questions, let's continue the discussion on discord or stackoverflow.

[2015-11-27 16:50] #4387 closed

[2015-11-27 16:57] jcsmesquita commented on #4377
thanks bot!

[2015-11-27 16:57] #4377 closed

[2015-11-27 17:00] mkonicek commented on #4387
:+1:

[2015-11-27 17:02] bozzmob commented on #3976
Solved it at [Stack Overflow](stackoverflow.com/questions/33591532/unable-to-run-any-react-native-example-project/33917178). Closing this issue. Thanks @sailei1 @yipengmu and @ide for your responses and contributions, I could solve initial issues here rightaway :+1:

[2015-11-27 17:02] #3976 closed

[2015-11-27 17:03] bozzmob commented on #4159
Closing this issue as the commit was checked in and works fine

[2015-11-27 17:03] #4159 closed

[2015-11-27 18:05] alizain commented on #4387
Thank you very much! @mkonicek @chirag04

[2015-11-27 18:08] NextSeason commented on #2754
I had the same question. and I found the way to make MIUI can show the pop up window.
You just need to change the settings.
https://www.youtube.com/watch?v=hZfcIT74PS8

[2015-11-27 18:12] prashanthnani opened #4391 "AwesomeProject/ node_modules/react-native/packager/packager.js not creating in windows 7 ?"
If I run command like react-native start
Am getting watchman error
Watchman taking too long to load

[2015-11-27 19:07] christopherdro commented on #4379
After a bit of research it appears we need to access [setTitleTextAttributes] (https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UISegmentedControl_Class/index.html#//apple_ref/occ/instm/UISegmentedControl/setTitleTextAttributes:forState:) in order to add custom font and size.

Unfortunately that feature is not currently implemented yet, if you think this is somethin

[2015-11-27 19:08] sergiolepore opened #4392 "[Error] UIExplorer.app on Android"
I'm getting this error as soon as the Android app starts:

[code]

**Platform:**

OSX 10.11.1
react-native 0.1.7
Node 4.2.2
Genymotion Google Nexus 4 - Android 4.4.4 - API 19

[2015-11-27 19:08] mkonicek commented on #4045
Linters won't work because not everyone uses a linter.

[2015-11-27 20:01] idibidiart commented on #4289
In my case, I had stupidly added a manually generated main.jsbundle to my existing project via XCode (since it did not have main.jsbundle like newly created projects) which automatically added it to the Copy Bundle Resources step in Build Phases (I had no idea that it would do that)

I removed main.jsbundle from the Copy Bundle Resources step, removed it from my project and cleared the packager's

[2015-11-27 21:14] adamterlson opened #4393 "import syntax throws when importing socket.io if debugger is not attached"
I don't know how to even begin with this one, but I'm including Socket.IO into a project spawned from react-native init.  The import of the SocketIO library bombs, but only when the debugger is not attached.  I can use the require syntax instead and then that works no matter what.

Always works:
`let io = require('socket.io-client/socket.io');`

Fails with Chrome Debugging disabled but works other

[2015-11-27 22:58] ide commented on #4393
Socket.io likely needs to write a React Native version of their library. It looks like you're trying to run a browser version of their code.

[2015-11-27 23:02] dlindahl commented on #4327
Adding a note about the `babelHelpers.interopRequireDefault is not a function` error being caused by "Make imports work" because it is nearly impossible to discover this issue through a GitHub search or Googling it. I only [found this due to a Twitter search](https://twitter.com/void_0/status/669155663835213824) of all places.

[2015-11-27 23:20] christopherdro commented on #4393
@adamterlson  I can confirm that i've used socket.io with react native and had no issues.

The only caveat that I ran into earlier was that `userAgent` was undefined.
I managed a temporary work around by adding  `window.navigator.userAgent = "react-native";`

Here is an article by @browniefed that might help.
http://browniefed.com/blog/2015/05/16/react-native-and-socket-dot-io/

In the past i've w

[2015-11-27 23:27] christocracy opened #4394 "When will RN support Android M permissions mechanism"
Hopefully the framework will soon provide support for modules to request and respond to the new Android permissions mechanism I'm sure we're all aware of.

Cordova has released [their implementation](http://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html) (@see "Android Permissions") and it's very nice.

Ideally, we'll be able to do something similar from within a Module, whe

[2015-11-27 23:41] adamterlson commented on #4393
@christopherdo Well Socket IO works fine*, but that's not really the issue.  The question is why there's inconsistent behavior from RN depending on the type of import and whether a debugger is attached.  Does that not seem strange?

* I'm actually having an issue where RN is picking up SocketIO events emitted via `socket.emit`, but not  `socket.broadcast.emit`.  So it's ignoring the global events.

[2015-11-27 23:42] rodripf commented on #3820
I was not sure what to put into the repository and what not to make it usable, but I did my best.
Here is it: https://github.com/rodripf/react-native-android-admob
To note here, as commented before: what I added to manifest.xml and to the gradle files.
But not success after all :-(
Any other idea coming?

[2015-11-27 23:51] adamduren commented on #4392
:+1: I'm having this same issue.

[2015-11-28 00:28] satya164 commented on #4327
@dlindahl That commit fixes the issue, not cause it.

[2015-11-28 00:53] satya164 commented on #4393
@adamterlson As far as I understand, all imports are hoisted to the top, while requires are not. Hence, the reason it's not working with `import` syntax is `socket.io` is being required even before `window.navigator.userAgent = "react-native"` is called, and throws error.

Feel free to close the issue if this answers your question.

[2015-11-28 01:35] dlindahl commented on #4327
@satya164 :+1: My comment is just a bit of SEO so that others can find this issue if they encounter the `babelHelpers.interopRequireDefault is not a function` error like I did.

[2015-11-28 01:57] satya164 commented on #4327
@dlindahl Nice. The wording can confuse them though. Would be great if you can reword it.

[2015-11-28 02:04] dlindahl commented on #4327
Re-word my [comment](https://github.com/facebook/react-native/issues/4327#issuecomment-160224557)?

[2015-11-28 03:01] satya164 commented on #4327
@dlindahl Yeah, to make ti clear that that commit fixes the issue.

[2015-11-28 04:36] yuriyvl commented on #1744
@sospartan - thanks for pointing out the iconic font!  But unfortunately it does not fit my use case.  In fact I was hoping I could place any image of my choice along side the text.

@ide -  We do have a working solution with a custom native implementation (we could bridge that class over).  But I was wondering if there is a "React Native way" for this, so we don't have to resort to custom modules

[2015-11-28 06:41] ajwhite commented on #3371
Relatedly,

[2015-11-28 09:02] PhilippKrone commented on #3557
@dmmiller Anything new concerning this fix for transformed views?

[2015-11-28 09:11] davidaurelio commented on #4045
I thought about the deallocation method, and it has the same problem as warning on unhandled rejections: There might be unhandled rejections that are legitimately deallocated.

[2015-11-28 09:54] Tlvenn commented on #2985
+1

[2015-11-28 10:08] adamterlson commented on #4393
@satya164 Good enough for me, thanks for the explanation!

[2015-11-28 10:32] exoer commented on #4341
Solved on Stackoverflow http://stackoverflow.com/questions/33908314/packager-wont-start

[2015-11-28 11:51] adamterlson commented on #4393
@satya164 @christopherdro Have you also experienced an issue with Socket IO not working unless the chrome debugger is attached?

[2015-11-28 11:54] satya164 commented on #4393
@adamterlson Nope. I needed to 2 things, set the user agent, and disable jsonp.

[2015-11-28 11:56] adamterlson commented on #4393
What version of RN did you use?  Do you have a project up somewhere I can clone perhaps?

[2015-11-28 12:04] satya164 commented on #4393
@adamterlson I am actually using engine.io atm. But I had tested with socket.io previously. RN version shouldn't matter, because the WebSocket module hasn't changed.

Also it's weird that it would only work with Chrome debugger. In both cases it uses the Androide module.

BTW what's the error you're getting?

[2015-11-28 12:10] adamterlson commented on #4393
So I did a fresh init and plugged socket IO in and now I have two projects running.  My first project is where SocketIO only works when the Chrome Debugger is attached, and now this new one, it doesn't seem to connect in general and if the chrome debugger is attached it throws the exception also referenced here:

http://browniefed.com/blog/2015/05/16/react-native-and-socket-dot-io/

I'm just all t

[2015-11-28 12:43] satya164 commented on #4393
@adamterlson It didn't work for me without disabling JSONP. Have you tried that?

io("...", { jsonp: false })

[2015-11-28 12:43] satya164 commented on #4393
I'll have a proper look later tonight.

[2015-11-28 12:47] adamterlson commented on #4393
Yup, I have tried the jsonp thing.  Sorry it's excluded from the pushed version.  I'll update.

[2015-11-28 13:21] zjaml commented on #4392
Same issue here

[2015-11-28 15:56] oppakub commented on #4392
Same issue as well

[2015-11-28 16:06] QuantumInformation commented on #4370
![image](https://cloud.githubusercontent.com/assets/216566/11452719/f2920532-95e9-11e5-81fa-2980ab7b769f.png)

[2015-11-28 16:11] QuantumInformation commented on #4370
npm prune fixed it for me

[2015-11-28 16:51] QuantumInformation commented on #1480
I'm not clear how to get es6 modules in a new RN 0.16.0-rc project.

[2015-11-28 17:37] lxsameer commented on #2995
Can any one please give me an example of `NavigatorNavigationBarStylesAndroid` ?

[2015-11-28 17:44] herby opened #4396 "Confusion as to which `Map` to use"
There is `Map` that react-native uses internally and was available via `require('Map')`, OTOH, babel that processes react-native code provides its own polyfill.

The confusion leads to issues such as oney/react-native-gcm-android#4. The fix is ugly, using internal part of react-native. What is the right thing here? Should global `Map` be used, as babel's version is good enough (in that case, would

[2015-11-28 17:48] herby opened #4397 "Is `invariant` usage endorsed? If yes, how to get it?"
See oney/react-native-gcm-android#4 for the problem. The module uses `invariant(...)` call, but the old `require('invariant')` is not weorking any more, and the solution (oney/react-native-gcm-android@ca9087f) is less than optimal.

Should `invariant` be used? If yes, how to obtain it right way?

[2015-11-28 17:59] jcampbell05 opened #4398 "Unable to resolve module"
React Native was working fine and its in my list of local packages and npm is able to detect it when I run `npm list`.

Yet when I run it on the simulator I get this:

![simulator screen shot 28 nov 2015 17 58 11](https://cloud.githubusercontent.com/assets/1484989/11453210/b7460f54-95f9-11e5-9394-6720ecfbc5ca.png)

Notice how it doesn't load from my user path just the root user folder ?

[2015-11-28 18:01] ajwhite commented on #637
For people who are currently having issues with this, I just wanted to share what I'm doing for now.

In my main project, which has a handful of local dependencies, I have a Makefile step that will recursively copy all my local libraries into my projects `node_modules` directory. It's not a perfect solution, but it is as simple as running `make link` for now. I suggest others do the same until pro

[2015-11-28 18:35] ide commented on #4397
`invariant` is a private implementation detail of React Native. The public interface is whatever is exported from `require('react-native')`.

[2015-11-28 18:35] #4397 closed

[2015-11-28 18:38] ide commented on #4396
Could you verify this is actually the case? To my knowledge the babel-runtime plugin is excluded (https://github.com/facebook/react-native/blob/master/packager/react-packager/.babelrc), so RN's Map polyfill is the only Map. You should access `Map` globally in the same way you'd access Array or Math or Promise globally.

[2015-11-28 18:38] #4396 closed

[2015-11-28 18:59] Gurpartap commented on #2046
#1598

[2015-11-28 20:13] ide commented on #4045
@davidaurelio The fix for unhandled rejections that have been deallocated would be to add `done()` or an error handler.

OK. This seems like a good place to start. It's nice that it's deterministic unlike deallocation.

[2015-11-28 22:09] ecesena opened #4400 "TabBarIOS tintColor for unselected items"
Nice to have

[2015-11-28 22:14] christopherdro commented on #4400
Hey @ecesena! Closing this since it's a duplicate of #3083.

[2015-11-28 22:14] #4400 closed

[2015-11-28 22:22] ecesena commented on #4400
Ops, sorry... I searched for unselected, didn't think to inactive... :)

[2015-11-28 22:23] christopherdro commented on #4400
:+1: No worries :)

[2015-11-28 22:31] christopherdro commented on #3906
@sankhadeeproy007
Lets go ahead and start tracking this here #3893.

[2015-11-28 22:31] #3906 closed

[2015-11-28 22:34] christopherdro commented on #3893
Worked on this a bit the other day and have it working where we can have the follow type options:
`'plain-text', 'secure', 'login-password'`

I would like to improve upon it before making a PR so hopefully I can get that out soon.

[2015-11-28 22:39] christopherdro commented on #4372
@jarvys Just tested this on 0.15 and everything is working fine.
Closing this for now, feel free to open it again if the problem persists.

Thanks!

[2015-11-28 22:39] #4372 closed

[2015-11-29 00:24] christopherdro commented on #3374
@admmasters Actionsheet with UIAlertcontroller has been implemented.

I played around a bit with setting the tint color on both action sheet and alert and it seems fairly straightforward. Just need to find a good way to expose this as props.

If anyone else manages to tackle this before me, make sure to set the tintColor AFTER presenting the view to the user. If not, the highlight tint of the butt

[2015-11-29 00:25] christopherdro commented on #3842
@kevtastic @mbrochh
Let's go ahead and start tracking this on #3083 since this is a duplicate issue.

[2015-11-29 00:25] #3842 closed

[2015-11-29 00:28] satya164 commented on #1480
@QuantumInformation:ES6 modules are already supported by default in React Native. However there are some bugs preventing it to work in 0.16.0-rc, which will be fixed in 0.16.0

[2015-11-29 00:31] satya164 commented on #4398
Duplicate of #4296

[2015-11-29 00:31] #4398 closed

[2015-11-29 00:51] scriptjs opened #4402 "Naming collision detected"
#3558 is without a resolution and with some work arounds that may or may not work.

[2015-11-29 01:19] super-coder commented on #3456
ln: /usr/bin/node: Operation not permitted

[2015-11-29 01:27] scriptjs commented on #4402
I have rn-cli.config.js and others the blacklist approach but they don't seem to do anything.

http://stackoverflow.com/questions/30049111/how-to-blacklist-specific-node-modules-of-my-packages-dependencies-in-react-nat

http://stackoverflow.com/questions/32798701/is-there-a-way-to-make-react-native-ignore-some-files-that-not-to-bundle-them

[2015-11-29 02:00] brentvatne commented on #4376
Closing as per discussion in https://github.com/github/fetch/issues/235

[2015-11-29 02:00] #4376 closed

[2015-11-29 02:04] super-coder commented on #2806
U updated brew, reinstalled node and npm and run react-native init with --verbose. It showed me the process and after 20 min finally installed the project. Was weird though at the beginning....

[2015-11-29 04:54] satya164 commented on #4360
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-29 05:01] #1451 closed

[2015-11-29 07:43] hasen6 commented on #2361
I'm seeing it as well on 0.14.2 with systemICon

[2015-11-29 10:21] NoBaR commented on #4031
I also believe FIT_CENTER would be the correct choice here...

[2015-11-29 10:23] doochik commented on #3718
I still have the issue when running website locally (current react-native master)
OSX 10.11.1
npm@3.3.12
node@5.1.0

Index page works well but any `/docs` page generate error
[code]

[2015-11-29 10:29] mbrgm commented on #3810
@trave7er This project does not seem to have Android support yet.

[2015-11-29 11:15] iostalk commented on #2411
@vjeux @brentvatne @ide @spicyj
Awesome demo! I was looking for a solution like this, do you have a solution for this situation now?

[2015-11-29 11:24] oblador commented on #4386
`Animated.interpolate` doesn't handle extrapolating colors too well in my experience. Try setting `extrapolate: false` in your spring config.

[2015-11-29 11:57] VansonLeung opened #4406 "I have implemented Shadow Views in Android with CardView equivalent, should I send pull request?"
I think not having Shadow support for Android React Native lower than lollipop is not acceptable, so I made my shadow view today.

I am not really using CardView or support library things.
I have extracted RoundRectDrawableWithShadow.java  Drawable & set as background for ReactViewGroups.
Tested with settings corner Radius & shadow Radius, as well as margin & paddings.
Also tested both iOS + Andro

[2015-11-29 13:55] atom992 opened #4407 "SyntaxError: Unexpected EOF"
I am using React Native 0.13.2 with fetch to send HTTP GET request. when I run my app, I got a erorr:
[code]

but when I debug in Chrome, there is no error and all response as expect.
btw, the JS code is no error with flow check.
and http://localhost:8081/index.android.bundle?platform=android&dev=true can success return ReactNativeDevBundle.js without error.

[2015-11-29 15:17] doronnimrod opened #4408 "typeface textview has no type react rn typeface textview expcetion android"

[2015-11-29 15:18] #4408 closed

[2015-11-29 15:47] satya164 commented on #4407
Are you getting the error while trying to run the app on device via the `react-native run-android` command? Are you on Android or iOS?

[2015-11-29 16:02] satya164 commented on #4406
Hey. Thanks for your work.

cc @mkonicek

About rounded image view, what are you trying to achieve? Does a image with border radius not work for you?

[2015-11-29 16:52] Eulerianial opened #4409 "Invariant Violation"
I am seeing following error:
Warning: React.renderToString is deprecated. Please use ReactDOMServer.renderToString from require('react-dom/server') instead.
Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components).
Error: Invariant Violation: Element type is invalid: expected a string (

[2015-11-29 17:21] browniefed commented on #4409
Resolving on discord, please close.

[2015-11-29 17:27] grabbou opened #4410 "react-native init `product_name` value"
Ah, thank you @facebook-github-bot, sorted that out on Discord. Good luck on getting issues solved!

[2015-11-29 17:29] felipemartim commented on #4392
me too :(

[2015-11-29 17:37] #4410 closed

[2015-11-29 18:06] andrewsardone commented on #1626
@brentvatne I'm curious if there's any fundamental reason a share extension couldn't talk to an `RCTBridge` and create an `RCTRootView` within the presented `UIViewController`. If it's theoretically possibly, I was curious to know you have any pointers to get a proof-of-concept setup working. If it's not possible, or not within the scope of the react-native team's goals, please disregard my commen

[2015-11-29 18:13] skevy commented on #4327
@mkonicek looks like [#T2694](https://phabricator.babeljs.io/T2694) is fixed in Babel.

[2015-11-29 19:23] kapv89 commented on #3387
Well, please increase the size limit!

[2015-11-29 21:12] #4409 closed

[2015-11-29 21:12] ide commented on #4409
Unrelated to RN.

[2015-11-29 21:17] sbugert commented on #3974
My node is installed in a custom directory. Adding `source ~/.bash_profile` fixed the problem but gets tedious when you have to npm install a lot.

A more persistent solution is to prefix the command with the path to your node installation in Xcode like this:
```PATH=$PATH:/path/to/node/bin ../node_modules/react-native/packager/react-native-xcode.sh```
Still a hack though.

[2015-11-29 21:51] christopherdro commented on #4388
@jpapillon
Could you send a pull request with the change and reference this issue?

Thanks!

[2015-11-29 21:53] christopherdro commented on #3973
@ashee Were you able to find a solution?

[2015-11-29 21:54] kwaak commented on #2720
Platform: Win 7 x64

I had the same issue trying to deploy to my device "'Redmi Note 2 - 5.0.2". Downgrading Gradle to  1.2.3 also worked for me. I also tried Gradle 1.5.0 but that did not work either.

I think we could find out more by running the `pm` commands manually how Gradle does it:
[code]

[2015-11-29 21:54] christopherdro commented on #3971
@leenux I've gotten from time to time and it seems to go away every time I restart my computer.

Whats important is that the project runs on both Android and iOS, which has been the case for me as well.

[2015-11-29 21:54] #3971 closed

[2015-11-29 22:00] christopherdro commented on #3768
@h3l Unfortunately this is not possible at the moment.

[2015-11-29 22:00] #3768 closed

[2015-11-29 22:24] VansonLeung commented on #4406
Should be working , but I don't know why my <Image> in Android build does not clip images inside the borderRadius bounds. Is it also occurring on your builds?

[2015-11-29 22:37] DanielHoffmann opened #4414 "TimeoutException when installing on genymotion VM"
Hello, I am trying to install the AwesomeProject (without changing anything) in a Genymotion VM and I am getting a TimeoutException. Here is the stacktrace when I run `react-native run-android`:

[code]

No idea why, my `adv devices` shows that the device is connected correctly:
[code]

I can even use `adb shell` to access the VM and modify files so I don't think I configured anything wrong.

[2015-11-29 23:22] matejkramny commented on #2481
this 'feature' is retarded and is annoying. Would very much be interested how i can bypass this stupid check

[2015-11-29 23:37] Nosherwan opened #4415 "IOS - fetch request from ios simulator fails"
After upgrading to el capitan my ios simulator is failing on the fetch api requests to a node.js server application that is installed on the same machine via local host. This was working fine on yosemite with react-native 11.
[code]
In my app I am using facebook sdk for facebook authentication and that bit works fine. Only after that authentication step when I make this call to my local server app

[2015-11-30 00:31] satya164 commented on #4406
@VansonLeung Yes, directly setting border radius doesn't work, but it works when you wrap it in a View with same border radius

[2015-11-30 00:51] satya164 commented on #2481
@matejkramny

The images need to be able to statically analyzed, so that the packager could resolve them and package in the app automatically. Hence dynamic strings with `require` syntax is not possible.

It's the same as bundling JavaScript with browserify or webpack. Your JavaScript filenames need to be statically analyzed and bundled.

If you want to use dynamic strings, you sure can. But you'v

[2015-11-30 01:05] #4360 closed

[2015-11-30 01:19] satya164 commented on #1626
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2015-11-30 02:00] TanTan-TT commented on #3974
I am out of the office until 12/06/2015.

For any issues, plz ask Jinhao.Geng for help.

Note: This is an automated response to your message  "Re: [react-native]
react-native: command not found (#3974)" sent on 11/30/2015 5:18:43 AM.

This is the only notification you will receive while this person is away.

[2015-11-30 02:30] danhanfry opened #4417 "0.16.0-rc react-native start Error [Windows]"
Good.

As far as I know, to use version 0.16.0-rc I have to do the following.

1. `` react-native init NewVersion ``
2. modify package.json of 0.15.0 to 0.16.0-rc
3. npm install
4. console ``react-native start``
5. console ``react-native run-android``

ok

![image](https://cloud.githubusercontent.com/assets/8139751/11462298/91b6ff22-9712-11e5-8350-9b8e4b357988.png)

![image](https://cloud.githubus

[2015-11-30 02:48] #4050 closed

[2015-11-30 02:53] satya164 commented on #4243
@krxsky I'm closing this issue for now as there are too many reports regarding the same issue. And the docs have been updated too.

[2015-11-30 02:53] #4243 closed

[2015-11-30 02:54] satya164 commented on #4305
For me it was not showing in the debug version. Clearing the app data helped.

[2015-11-30 02:55] satya164 commented on #4343
Duplicate of #4273

[2015-11-30 02:55] #4343 closed

[2015-11-30 03:03] satya164 commented on #4414
Hey @DanielHoffmann .Thanks for reporting this. This is more likely to be an issue with gradle/genymotion rather than React Native.

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers

[2015-11-30 03:12] xuchuanqiu opened #4418 "0.16 can't debug in chrome"
When I use react-native 0.16-rc . if I "Debug in Chrome" , then App show the redbox:
![simulator screen shot 2015 11 30 11 04 29](https://cloud.githubusercontent.com/assets/870050/11462723/d1cb4f88-9752-11e5-8ad4-ef9d5de9d11e.png)

and chrome console display:
![chrome screen shot](https://cloud.githubusercontent.com/assets/870050/11462749/1e8c4458-9753-11e5-958d-d415be6feb1f.png)

[2015-11-30 03:20] andrewsardone commented on #1626
Fair point, @satya164. I have posted a Stack Overflow question here: http://stackoverflow.com/q/33990925/792979

[2015-11-30 03:22] satya164 commented on #1626
@andrewsardone Thank you

[2015-11-30 03:57] satya164 commented on #4418
Hey @xuchuanqiu . Thanks for the report. How did you upgrade to `0.16-rc`? Which platform are you on (iOS/Android) ?

[2015-11-30 04:12] xuchuanqiu commented on #4418
The iOS platform .  I checkout branch( master and 0.16-stable) and open Examples/Movies/Movies.xcodeproj ，the problem occurs . It's ok in branch 0.15-stable .

[2015-11-30 04:18] satya164 commented on #4418
Are you trying on Emulator or device? What's the version of OS X and X Code?

[2015-11-30 04:26] shaikhussian commented on #371
can any tell me that how to add done button for the keyboardType="number-pad". At the top of the keyboard

[2015-11-30 04:35] NickJorgensen commented on #499
Hello

Just an observation...

When running @kinhunt 's sample I am noticing a large difference between the way memory is managed on actual hardware vs the simulator.  I guess this is to be expected because the simulation is just that, a simulation, however this seems to be really drastic.

In this test case I am using @kinhunt 's example code, and am scrolling approximately 1000 rows each for eac

[2015-11-30 04:48] atom992 commented on #4407
I am run app on Android emulator. and I am run app using:
[code]
after I run the following command:
[code]

[2015-11-30 05:10] xuchuanqiu commented on #4418
I am run app on iOS emulator (iPhone 6s).
OSX version : 10.11.1
XCode version: 7.1.1

node version: 4.2.1 (and same problem in 5.0)
babel version: 6.2.0

chrome version:  46.0.2490.86 (64-bit)

[2015-11-30 05:40] satya164 commented on #4407
@atom992 can you share your code?

[2015-11-30 06:01] likidu commented on #4062
+1. I'm blocked on migrating to Babel 6 due to both issues covered here: decoration and old .babelrc format.

[2015-11-30 06:03] vincentbello commented on #3946
`source ~/.bashrc` (wherever your nvm config is) fixed my issue.

[2015-11-30 06:14] NishanthShankar commented on #3953
Has this been merged with 0.16.0-rc? The travis build for this has commit seems to have failed.

[2015-11-30 06:40] 362228416 commented on #4327
I also encountered such a problem, how to solve

[2015-11-30 07:23] Clunt commented on #4418
I have the same trouble with "document is not defined", And I am using the same version as xuchuanqiu.
But, when I visite the http://localhost:8081/debugger-ui in Safari, this problem was solve.

[2015-11-30 07:50] kmagiera commented on #3264
We should restrain from using dimensions as a constants in JS. In fact it would be better if we just delete Dimensions module completely as using it could be harmful. We can consider using react context for passing those but it needs to be clear that dimensions could change and this can happen not only due to orientation change (e.g. on iOS when incoming call bar is active)

[2015-11-30 08:05] satya164 commented on #3264
@kmagiera What do you mean by harmful?

[2015-11-30 08:08] kenny1har opened #4421 "Unable to install signed apk"
After successfulyl running
./gradlew assembleRelease
[code]

I put the "app-release.apk" into the phone, and tried to install it using File Browser. The app icon is showing nowhere.
"App not installed"
![screenshot_2015-11-30-16-04-56-819](https://cloud.githubusercontent.com/assets/1797207/11466509/4cce05ee-977c-11e5-90b3-ef9d9fbad591.jpeg)

[2015-11-30 08:31] feichngr commented on #4415
This is currently an issue with iOS simulators (afaik only on El Capitan). It can't connect at all to the host machine via its network IP, even e.g. with Safari.
The way I currently handle it is: I have a config.js file, which exports the domain / IP address I want to connect to. If I want to run on a simulator I just comment out the export of the IP address and uncomment the export of localhost.

[2015-11-30 08:36] cosmith commented on #4394
+1 on this, it should probably be part of core. I added a feature request on Product Pains: https://productpains.com/post/react-native/add-android-m-permissions-model-support/

[2015-11-30 08:37] thomasvm commented on #4357
I had the same problem. All of a sudden the packager stopped bundling when I changed files. This had been working for months without problems.

What I discovered was that my .git/ directory had an index.lock file. Once I deleted that file, the automatic re-bundling started working again.

[2015-11-30 08:42] Sandon opened #4422 "first click is of no effect when focusing on TextInput and then click elsewhere"
![picture](https://cbu01.alicdn.com/cms/upload/2015/172/005/2500271_81076344.png)

as showed above, focus on the TextInput, then click elsewhere.
The first click on green area is of effect.
The first click on red area is * of no effect * ( it's a ListView ). The same thing happens on the first click of hardware back button on Android when previously focusing on TextInput.

Is it a bug or that I om

[2015-11-30 09:00] ide commented on #4415
@feichngr thanks for answering. I had heard something similar about how this behavior is part of the latest iOS dev tools.

Please open a new issue if this is specifically an issue with RN and not OS X/iOS.

[2015-11-30 09:00] #4415 closed

[2015-11-30 09:26] kmagiera commented on #3264
I've seen people trying to use dimensions consts to fix the height (or position) of some of the elements on the screen. In that case when you turn "incoming call" bar on iOS (or when hotspot is enabled) that element will go offscreen or will be cropped which is a bad user experience. Also people don't usually test their apps with incoming call bar on, so this is difficult to be noticed by dev team

[2015-11-30 09:28] hufeng opened #4423 "import module can not destructor"
for example,
[code]

2015-11-30 17:26:25.916 [error][tid:main] SyntaxError  ... index.js: Unexpected token (4:8)

[2015-11-30 09:32] DerayGa opened #4424 "Couldn’t load network graph."
# Couldn’t load network graph.

## Too many forks to display.

[2015-11-30 09:37] asimparvez91 opened #4425 "[ListView] Not updating as expected"
Hi, I have been using list view in my application.  It does not update the state of individual rows once I have changed their property. I am doing it like this:

[code]

But only the first row responds correctly and the rest are not updated correctly. I have also tried making a new array and assigning it like:

[code]

But this didn't work at all.

The only solution that is working, is by creating

[2015-11-30 09:49] dmmiller commented on #3557
Waiting on @andreicoman11 to get back from holiday and accept it :)  He should be back today so hopefully, we can get it pushed today.

[2015-11-30 10:04] atom992 commented on #4407
sure, Following is my code:
[code]

when I call ``` Util.initDb().then() ``` , the log ``` initDb start... ``` and  ``` ajax fetch opts ---{"method":"get","headers":{"Accept":"application/json","Content-Type":"application/json"}}' ``` print, then I got the error:
[code]

[2015-11-30 10:05] satya164 commented on #3557
@dmmiller That would be awesome. Thank you :D

[2015-11-30 10:08] satya164 commented on #3264
@kmagiera Understood. Thanks.

[2015-11-30 10:14] zhangyi commented on #3379
I fix it.

Menu ->  Dev Settings -> Debug server host & port for device，eg: 192.168.0.xx:port

[2015-11-30 10:20] jsntghf opened #4426 "please tag v0.16 and pushed to cocoapods"

[2015-11-30 10:33] satya164 commented on #4426
Hi @jsntghf . 0.16.0 has been released yet.

[2015-11-30 10:33] #4426 closed

[2015-11-30 10:52] jsntghf commented on #4426
Hi @satya164 0.16.0 has been released, but the latest version in cocoapods is 0.13.0-rc.

[2015-11-30 10:57] satya164 commented on #4426
@jsntghf React Native is not published to CocoaPods repository anymore. Use it like it's described in the docs - http://facebook.github.io/react-native/docs/embedded-app-ios.html#install-react-native-using-cocoapods

[2015-11-30 11:14] matejkramny commented on #2481
@satya164 I am not talking about images here.

React-native is using node.js, so i'm organising my code a bit like i do on server apps.

directory tree:

[code]

`views/index.js`

[code]

but have instead got to do:

[code]

I am doing this so that whenever I `require('./views')` i can reference any component without extra requires.

[2015-11-30 11:18] mkonicek commented on #4424
This is a github issue, not React Native ;)

[2015-11-30 11:18] #4424 closed

[2015-11-30 11:20] satya164 commented on #2481
@matejkramny No, React Native doesn't use NodeJS.

If you've worked with client side apps and bundling JavaScript with webpack or browserify, that's how it works. The JavaScript files need to be statically analyzed in order to be bundled. You cannot use dynamic strings.

[2015-11-30 11:22] haledeng opened #4428 "close development mode in android"
In android, when I set
[code]
 in bundle file , the whole page shows blank.
I saw there are many logic to detect `__DEV__`, does it effect the page display.

[2015-11-30 11:25] matejkramny commented on #2481
I see, got a bit confused as its got `node_modules`, `require` and all that.

Thanks for explaining

[2015-11-30 11:26] ExplodingCabbage commented on #934
A support request relevant to this issue: http://stackoverflow.com/questions/33997443/how-can-i-view-network-requests-for-debugging-in-react-native

If anybody in this thread would like to provide an answer there, I'd appreciate it - making sense of this issue as an outsider is pretty difficult, and given that there are apparently security issues involved (or have they been fixed by @nevir's last

[2015-11-30 11:29] satya164 commented on #4428
Hey @haledeng , you don't have to set `__DEV___` directly? The bundle command will do it automatically for you.

e.g.-

[code]

[2015-11-30 11:33] haledeng commented on #4428
I try, it does not work. `__DEV__`  is still true.
Besides, while `__DEV__ = false`,  the whole page shows empty.

[2015-11-30 11:39] ExplodingCabbage commented on #934
Hmm, sorry, just realised that `delete GLOBAL.XMLHttpRequest;` seems to work. Could somebody clarify whether there are still any security issues involved with this somehow?

[2015-11-30 12:17] liemlyquan commented on #2066
@jackyanjiaqi I has the same problem with this too. Have you solved the problem yet ?

[2015-11-30 13:21] chenxiaohu commented on #1501
+1

[2015-11-30 14:07] gre opened #4429 "[Android] get a view by tag. Please expose the ShadowNodeRegistry instance"
I'm implementing a Native Module (gl-react-native) and I need to get a view for a given reactTag, basically to implement a method on my native component.

I've successfully implemented it in iOS but on Android, it seems I can't access the `UIImplementation.mShadowNodeRegistry` that I would need to do `.getNode(tag)` https://github.com/ProjectSeptemberInc/gl-react-native/blob/d4336bfb107f48b3d9a998

[2015-11-30 14:12] #3557 closed

[2015-11-30 14:13] satya164 commented on #4327
We should also cherry pick https://github.com/facebook/react-native/commit/c929e15523c2c33297b1e9895e9bea49442e4f73

[2015-11-30 14:57] mkonicek commented on #4417
This is caused by the "Watcher took too long to load" error.

**A note about Windows as a dev environment:** As RN iOS requires a Mac and most of the programmers at Facebook and the RN developers use Macs, support for OS X is a top priority. However, we would like to support developers using Linux and Windows too. We believe we'll get the best Windows support from people using Windows on a daily b

[2015-11-30 15:00] mkonicek commented on #4394
Upvoted. It's also listed here: https://facebook.github.io/react-native/docs/known-issues.html

No ETA yet, we're working on open sourcing the internal modules as quickly as we can in the order of upvotes.

@christocracy I think that answers your question so I'll close this.

[2015-11-30 15:00] #4394 closed

[2015-11-30 15:09] cancan101 opened #4430 "[AlertIOS] Support for Enabling / Disabling Buttons on AlertIOS based on Text Contents"
Along the lines of the [SO question](http://stackoverflow.com/questions/24474762/check-on-uialertcontroller-textfield-for-enabling-the-button), provide function to enable / disable buttons in `AlertIOS` based on text contents.

[2015-11-30 15:32] bozzmob opened #4432 "Attempted to assign to readonly property"
I am trying to check if the entry exists in the AsycStore and if it doesn't exist then, I create an object and set it. And there is a return statement that returns the dataobject.

Here is the pseudocode-
[code]

I am getting an error in console -
[code]
I am not really sure what is the readonly property I am trying to assign. The line number that is being warned is this line - "dobj.isdirty = tru

[2015-11-30 15:33] bozzmob commented on #4432
I made a [stackoverflow](http://stackoverflow.com/questions/33999948/react-native-attempted-to-assign-to-readonly-property) question for the same. Please help me with this for now.

[2015-11-30 15:34] skevy commented on #4423
Hi @hufeng - destructuring within an import is not supported by the Babel or the ES6 module syntax, and thus is out of scope of React Native.

You can try it for yourself here: http://babeljs.io/repl/#?experimental=true&evaluate=false&loose=false&spec=false&code=import%20React%2C%20%7B%0A%20%20View%2C%0A%20%20StyleSheet%2C%0A%20%20addons%3A%20%7BPureRenderMixin%7D%0A%7D%20from%20'react-native'%3B

[2015-11-30 15:34] #4423 closed

[2015-11-30 15:43] satya164 commented on #4432
@bozzmob You're trying assign a property to a string (a primitive). Strings are read-only and you cannot add a property to string.

Normally, nothing happens, but since you're in strict mode, this throws an error.

[2015-11-30 15:43] #4432 closed

[2015-11-30 15:45] skevy commented on #4430
@cancan101 This is an interesting idea. Marking this as community responsibility, as I don't think this is something that the core team would get to in the near future, but I can see its utility.

Seems like the biggest hurtle hear would be the imperative nature of the AlertIOS code. Right now, it's meant to perform one simple action. But it could be made into something a bit more declarative and

[2015-11-30 15:52] satya164 commented on #4421
Do you have the debug version installed? In that case, you'll need to uninstall it first.

[2015-11-30 15:54] satya164 commented on #934
@ExplodingCabbage I belive there is GLOBAL.originalXMLHttpRequest which you can use

[2015-11-30 16:07] ExplodingCabbage commented on #934
@satya164, hmm, now all my requests fail in a new way - with CORS errors:

[2015-11-30 16:11] satya164 commented on #4422
You need to add `shouldKeyboardPersistTaps={true}` on the `ListView`.

[2015-11-30 16:13] satya164 commented on #4422
You need to add `keyboardShouldPersistTaps={true}` on the `ListView`.

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list o

[2015-11-30 16:13] #4422 closed

[2015-11-30 16:21] bozzmob commented on #4432
Yes. Thanks @satya164 ! :+1:

[2015-11-30 16:26] satya164 commented on #934
@ExplodingCabbage Ah, forgot about CORS :(

We really need a way to debug network requests in dev tools. I'll look into integrating Stetho into RN when I've some time, so that we can debug network requests.

[2015-11-30 16:41] rmevans9 commented on #4305
@satya164 can you elaborate on what you mean by clearing the app data?

I am having the issue @jonolock91 describes in a project created on 0.14.2 and then upgraded to 0.15.0. Neither version was showing images correctly on either my mac or windows 10 machines. I dug into the issue a bit last night and found that when pulling the image path which ends up being http://localhost:8081/assets/...etc i

[2015-11-30 16:51] satya164 commented on #4305
System Settings > Apps > Your app > Clear data

[2015-11-30 16:56] rmevans9 commented on #4305
ah within the emulator. I was thinking you mean something in the project. I tried it and no luck. I will have to dig into this more later and see if it is just something on my machine/setup or what might be going on. Thanks for the info!

[2015-11-30 17:25] gre commented on #4429
It looks like ShadowNodeRegistry is not what I look for, it doesn't know about the actual View instance.
Who is making the link from the reactTag to the View?

Thanks

[2015-11-30 17:46] mosesoak commented on #4341
I got it to work by running npm install -g react-native-cli again and then closing the terminal window and opening a new one. npm start works now.

[2015-11-30 17:58] mosesoak commented on #3985
+1 on this. Eager to convert an existing project with lots of images. Please post any workarounds here as well.

[2015-11-30 18:40] slavik0329 commented on #3742
@louuysison I'm having the same issue. I have a username and password inputbox. Both styled with color:white. The one without secureTextEntry works as expected, but when secureTextEntry is enabled, the text color becomes black and I see no way of correcting it

[2015-11-30 18:46] slavik0329 opened #4435 "[TextInput] Setting secureTextEntry={true} forces input text to color:#000"
There doesn't seem to be anything I can do to get it to the set style color. This only happens when secureTextEntry is true.

[2015-11-30 19:03] chris-erickson opened #4436 "Sending events to JS from Swift across the bridge"
Is this something that should be possible to do?  I'm struggling finding any concrete details on it, and would love some feedback from the community.  I realize this isn't the ideal forum for such a thing, but questions go unanswered elsewhere.  See my question [on SO](https://stackoverflow.com/questions/31870775/react-native-sending-events-to-javascript-in-swift).  I'll keep that updated if I fin

[2015-11-30 19:05] ide commented on #4436
You can do this with RCTDeviceEventEmitter for example. See https://facebook.github.io/react-native/docs/native-components-ios.html#events. (The example is in Obj-C. It's usually simple to write the equivalent Swift code though.)

[2015-11-30 19:05] #4436 closed

[2015-11-30 19:11] idibidiart opened #4437 "Make Babel major version configurable"
Given the following issues popped up in Babel 6:

1. [Decorators cannot be used with RN 0.16..0-rc] (https://phabricator.babeljs.io/T2645)
2. [Can't export default class that extends base class] (https://phabricator.babeljs.io/T2694)

The first one being a serious issue as a lot of RN projects out there rely on @autobind decorator (and having to replace with the ugliness that is .bind(this) everyw

[2015-11-30 19:33] ide commented on #4437
I don't think the Babel version will be configurable because Facebook's infra has already moved on and it's like steering a big ship. Babel touches too many things for it to simply be a matter of changing the version number in package.json.

The decorators are a big issue. I'm going to work on it myself since the ecosystem needs something out there, but would appreciate help from someone who's wri

[2015-11-30 20:20] mkonicek commented on #3948
I have little context on this but see that people have posted multiple workarounds. Is anyone up for sending a PR to fix this in a generic way?

[2015-11-30 21:43] idibidiart commented on #4437
@sebmck @loganfsmyth FYI

That would be great @ide

Will be posting all future feature requests to ProductPains.

[2015-11-30 21:43] #4437 closed

[2015-11-30 21:45] johnckendall commented on #2792
Should this solve the issue where the SESSION cookies aren't being sent back to the server?  If so, it doesn't seem to be working for us...

Or maybe we don't understand the build process; is there some other step to rebuild for Android after upgrading to 0.15 (other than react-native run-android) ?

(a wireshark grab does show the JSESSIONID coming to the client but not getting returned on a subs

[2015-11-30 21:58] jdstein1 commented on #2122
I am having same issue.  Happens when running `yo gulp-angular [app-name]`.

[2015-11-30 22:19] appden opened #4443 "Array.from polyfill should call iterator's optional return() method on exceptions"
If the mapping function throws an exception, then the iterator's `return()` method should be called (if present) according to the ES6 spec.

[2015-11-30 22:22] andriniaina commented on #2792
I had the same issue at first when I tried to upgrade my project. But it worked after starting from a new project.

[2015-11-30 22:29] eddieloeffen commented on #2792
Mine started working with session cookies straight away after upgrading.

Did you also run react-native upgrade after npm installing the new version?

Also make sure you are passing the option "credentials" to "same-origin" on all requests through fetch

[2015-11-30 22:40] jordansexton commented on #410
+1

[2015-11-30 23:25] trave7er commented on #3316
I have several potential PRs that could fix a number of lint warnings in the Libraries directory. Should I make those PR's separately?

[2015-11-30 23:29] ide commented on #3316
@trave7er yes, separate commits would make them easier to review, merge, and bisect if there's an issue. thanks!

[2015-11-30 23:47] danhanfry commented on #4417
in the previous version 0.15.0 this part works well

[2015-12-01 00:16] BigMurry commented on #4392
Same issue when starting the UIExplorer in the emulator.

[2015-12-01 00:23] ide commented on #4392
Fix is here: https://github.com/facebook/react-native/pull/4405

It will land in master after the author addresses the comments.

[2015-12-01 01:04] MattFoley opened #4452 "Javascript and Native development interdependency?"
I'm starting to move deeper into RN distribution and I was curious about the interdependency of the JS and the native sides of React Native.

Should developers always plan on updating the native libraries of React Native when updating the JS side? Will there be a time in the future when the Javascript side of React Native will be updated more actively than the native side?

It occurs to me that th

[2015-12-01 02:10] DanielHoffmann commented on #4414
Hey @satya164 thanks for the response, it seems the problem was that I was developing inside a virtual box linux VM, I did not figured out what exactly was wrong but I was receiving errors when trying to connecting through a real device as well. It seems the problem I was having is more deep (probably with either VirtualBox or adb). Now I resigned myself to developing in windows :(

[2015-12-01 02:10] #4414 closed

[2015-12-01 02:23] Sandon commented on #4422
Thanks a lot.

[2015-12-01 02:47] satya164 commented on #4452
I usually push updates to JavaScript side when no native APIs have changed. If Native APIs have changed, I do a full app update.

[2015-12-01 02:48] steida commented on #2168
It's happening to me as well, using await async with promises in componentWillMount. I'm confused a bit, because `done` is not part of specs or I'm missing something. Why my code should use it?

[2015-12-01 03:04] ide commented on #4452
I don't think that's the right level of separation -- there are three layers:

App JS
RN JS
RN native

Today, due to technical reasons, the App JS and RN JS are bundled together. But conceptually it's correct to draw a box around the RN JS and RN native pieces, both of which make up the public API. It's the App JS's interfacing with the RN pieces that we want to stabilize.

So I think the question

[2015-12-01 03:14] charmingzuo opened #4455 "Render a ViewPagerAndroid in ListView.renderHeader() that the elements under ViewPagerAndroid will not display"
[code]
![bug](http://ww2.sinaimg.cn/large/3e4b2a8dgw1eyjzn0lsicj20eh0mi75t.jpg)

[2015-12-01 03:16] yuyaohshimo opened #4456 "[TextInput] Text disappears on blur"
1. Type text in TextInput 1 with Japanese keyboard.

  ![simulator screen shot dec 1 2015 11 53 42 am](https://cloud.githubusercontent.com/assets/3455528/11491236/5981ac26-9823-11e5-8791-e25814e02685.png)

2. Blur TextInput 1 and focus TextInput 2 without tapping `確定` (enter) button. Text in TextInput 1 disappears. (If tap `確定` (enter) button before blurring TextInput1, text does not disappear)

[2015-12-01 03:32] charmingzuo commented on #4455
I'm using react-native@0.15.0

[2015-12-01 03:38] imton commented on #332
+1

[2015-12-01 04:15] baotoan1905 commented on #2808
You can try this way for android

Check http://reactnative.vn/mot-so-loi-thuong-gap-khi-khoi-tao-mot-project-react-native/

[2015-12-01 04:34] h3l opened #4457 "[Text] Emoji changes the line height"
The demo is [here](https://rnplay.org/apps/fI38fg),
Emoji will change the line height.

[2015-12-01 05:24] allanjsx commented on #3948
I am hitting the same issue. Switching Node versions (4.2.2 -> 4.1.1 -> 5.1) doesn't help. I couldn't get it work with source ~/.bash_profile adding to the top of the script either.

[2015-12-01 05:45] huang47 commented on #1875
same here, El Capitan and running into below errors

[code]

[2015-12-01 05:53] dsibiski opened #4459 "[0.16.0-rc/Master] Error on start: "SyntaxError: Unexpected identifier 'c1x'. Expected ')' to end a compound expression""
**UPDATE**: Please upvote this bug on ProductPains: https://productpains.com/post/react-native/bug-error-on-start-syntaxerror-unexpected-identifier-c1x-expected-to-end-a-compound-expression/

Happens on both iOS & Android with a basic sample app on a fresh install of 0.16.0-rc:

`SyntaxError: Unexpected identifier 'c1x'. Expected ')' to end a compound expression`

In Android, it tells me a line nu

[2015-12-01 06:09] TerranTian commented on #4459
got the some problem, how to fixed it?

[2015-12-01 06:37] hufeng commented on #4423
@skevy  thank you very much.

[2015-12-01 06:45] browniefed commented on #4244
@TheSisb did a little work here. To get stuff working we just need to flatten the transform for the web.
[code]

And in the implementation
[code]
Now to go about implementing things properly. Not entirely certain how we should go about this. `AnimatedTransform` could be busted out, in the web build process we swap out the `AnimatedTransform` with our web implementation.

Not sure if we should make

[2015-12-01 07:06] yangfeiloveG commented on #500
Because use es6 in the bottom of scripts, so create a file called .babelrc and add {
  "whitelist":[
    "es6.modules"
  ]
}
in this file and then re-run . Bingo!

[2015-12-01 07:22] yangfeiloveG commented on #500
Because use es6 in the bottom of scripts, so create a file called .babelrc and add
[code]
in this file and then re-run . Bingo!

[2015-12-01 07:25] satya164 commented on #4459
Facing same issue with master.

[2015-12-01 07:26] rashmi-chachan opened #4460 "How to detect an end of a drag event in React-Native Android"
I am using a scrollview, and want to detect when the user ends the drag event. onScrollEndDrag doesn't work. Since, onScrollEndDrag is not being detected, I have written the logic for onTouchStart event. But, for the same logic that I have written for onTouchStart event, I want to write it for onScrollEndDrag. Is there any way to get around this?

Please, see the code below...

            var Mai

[2015-12-01 07:49] Alphmega commented on #4459
+1 how to fixed it ?

[2015-12-01 08:07] ldn0x7dc commented on #4221
@satya164 Pls check https://github.com/dgladkov/react-native/commit/590e36f478a5bd61899a28d5a0dccff6500ce4a9
and https://github.com/facebook/react-native/pull/3954.
Seems this issue has got fixed but NOT yet available in 0.15.0. I guess the next release will fix it.
Or if in hurry you can follow above links and modify the related java file by yourself.

[2015-12-01 08:21] huix9527 commented on #4459
+1, stuck, can't build now.

[2015-12-01 08:32] reddol18 commented on #4459
+1 Me Too. Does not work after changing popup menu.

[2015-12-01 08:42] fxhereng opened #4461 "Duplicate styles in stylesheet causes white screen [bug]"
I've just noticed a bug that causes me long times of debug, a duplicate style name like this:
[code]

caused me a white screen at launching the application with no error messages, which can be pretty uncomfortable when your stylesheet becomes big. I'm using currently the 0.14.2 version.

This wasn't a style sheet in the splash screen (my first route), it happens in whatever style sheet of the proj

[2015-12-01 08:49] casperin commented on #4459
+1

[2015-12-01 09:07] viphsx123 opened #4463 "Was Precomputing style removed"
Was  Precomputing style  removed ？

![qq20151201-1 2x](https://cloud.githubusercontent.com/assets/7017684/11496589/efcd313a-984d-11e5-8226-9bcc4fcd207e.png)

[2015-12-01 09:17] PCharpentier opened #4464 "[Windows] Static local image 0.15"
Hi,

I have a new problem with static image with the new 0.15 version : https://github.com/facebook/react-native/issues/4207

It's the same thing and change /assets doesn't works

[2015-12-01 09:19] ide commented on #4463
I think it was never part of the public API to begin with and it just so happened that you could reach inside react native and require it. Everything here is the public API: https://github.com/facebook/react-native/blob/master/Libraries/react-native/react-native.js (I don't see precomputeStyle).

[2015-12-01 09:25] ExplodingCabbage commented on #934
Unless I'm making a mistake that somebody wants to point out, it sounds like @MattFoley's commit wasn't sufficient to really resolve this issue and it needs reopening.

[2015-12-01 09:31] inickel commented on #4459
+1,mark

[2015-12-01 09:31] janmonschke opened #4465 "Can't build the app due to colliding 'react-native' bin declarations"
We ran in an issue today when trying to bundle a react native app with only local dependencies. Meaning that both `react-native` and `react-native-cli` where declared in our app's `package.json`.
When doing this, however, running `react-native bundle (...)` would execute `react-native`'s `bin` script -> `wrong-react-native.js` instead of the one of `react-native-cli` because both modules declare a

[2015-12-01 09:36] mjhlybmwq opened #4466 "[Android] Use dependency injection to manage packages and modules"
Can we use a xml/json file to add packages and modules instead of coding in the ```MainActivity.java```?
Here's an example of the xml file:

[code]

[2015-12-01 09:47] Sas0ri commented on #4459
+1

[2015-12-01 09:59] rashmi-chachan commented on #3958
TouchableWithoutFeedback, TouchableHighlight, TouchableNativeFeedback, TouchableOpacity, TouchableWithoutFeedback take around 3 seconds to respond in react-native android. How can I reduce it??? i have given delayPressIn={0}  delayPressOut={0} also.

[2015-12-01 10:10] neciu commented on #3082
@meznaric's https://github.com/facebook/react-native/issues/3082#issuecomment-144689910 fixed the issue in my case.

I have side drawer with `TouchableOpacity` buttons and this `PanResponder` rule fixed the problem on iPhone 6s:

[code]

[2015-12-01 10:58] adbl opened #4467 "xcodebuild -derivedDataPath and react-native bundle"
On 0.14.2...

JS errors sometimes "stick" in the `react-native bundle` phase when building with `xcodebuild -derivedDataPath`

1. `xcodebuild -derivedDataPath X ... build`

        ...
        + react-native bundle --entry-file index.ios.js --platform ios --dev true --bundle-output '.../X/Build/Products/Debug-iphonesimulator/Foo.app/main.jsbundle' --assets-dest '.../X/Build/Products/Debug-iphonesi

[2015-12-01 11:14] fxhereng commented on #4089
The doc doesn't mention it (https://facebook.github.io/react-native/docs/textinput.html#maxlength), is it fixed in the version 0.16.0-rc ?

[2015-12-01 11:31] inickel opened #4468 "token for a long time to create a new project"
when i want to init a new project,it would token for a long time during the npm installing packages,
is there have another way to fixed this problem?
 such as make a easy project template in local file system,when i want to create a new project , just copy it to my dest project with some config.
xd~

[2015-12-01 11:36] rashmi-chachan commented on #4459
facing the same issue. how to fixed it ?

[2015-12-01 11:51] mariusk commented on #4459
+1

[2015-12-01 11:57] yeziahehe commented on #4459
mark

[2015-12-01 12:20] shoreflyer commented on #4245
Just tried this on a fresh app and it works like a charm.
http://moduscreate.com/automated-ip-configuration-for-react-native-development/

+1 for making this part of the process...

[2015-12-01 12:26] barock19 commented on #2985
+1

[2015-12-01 12:28] watzak commented on #4459
+1

[2015-12-01 12:45] dsibiski commented on #4459
Hey everyone, I created a post on ProductPains here: https://productpains.com/post/react-native/bug-error-on-start-syntaxerror-unexpected-identifier-c1x-expected-to-end-a-compound-expression/

Please upvote this over there as it seems like our +1's here may not be very effective anymore.

[2015-12-01 12:46] dsibiski commented on #4459
@ide @brentvatne @mkonicek Any thoughts on this? Seems like it is just a broken dependency or something...

[2015-12-01 12:50] mariusk commented on #4459
I doubt it's anything like a broken dependency. I took a brief look at the source for the code that breaks, which is `art/core/path.js`:

[code]

My best guess is one of the babel transforms involved is a bit too aggressive removing those parentheses. Now which one and why is another question.

[2015-12-01 13:01] mariusk commented on #4459
Looks like there may be some unfortunate cirumstances related to babel removing parentheses and something else cleaning up whitespace. For instance `(a+(+b))` gets transformed to `(a+ +b)` which works fine in javascript. But if something removes that space, then it becomes `(a++b)` which is invalid.

[2015-12-01 13:28] rmevans9 commented on #4459
Not sure if it helps any but if you set "compact" to false in .babelrc in /node_modules/react-native/packager/react-packager it appears to work fine. I bet there are downstream effects but I got a basic app running on Android with that change.

[2015-12-01 13:36] szhu commented on #4459
**TEMPORARY WORKAROUND** for people who just want to revert to version 0.15.0:

[code]

Check out the patch details here: http://git.io/vBxKw
All I did was add @0.15.0 where needed.

[2015-12-01 13:37] mariusk commented on #4459
Great workaround. I guess that pretty much points to the bug being in babel (`babel-generator/src/generators/expressions.js` or similar), triggered by an update of `art` from the looks of it.

[2015-12-01 13:38] stereodenis commented on #4460
@rashmi-chachan you have two onScrollEndDrag declarations

[2015-12-01 13:59] Thomas101 opened #4470 "[BUG] setTimeout fires incorrectly when using chrome debug"
Hey,

I've found an issue that means when you're running on an iOS device and debugging in chrome setTimeouts can fire in the wrong order. If you place the following code block into a fresh app and run it you should get the error...

[code]

On the console you'll get something like...

[code]

... with the first 3 firing correctly and the last one incorrectly. I believe this bug is also what is ca

[2015-12-01 13:59] jsntghf commented on #4459
how to fixed it?

[2015-12-01 14:05] Thomas101 commented on #1693
Hey,

I've been doing some digging on this issue. Found out that it's because of a bug with setTimeout. When using chrome debugging they can fire in the incorrect order. (See dedicated issue and example in #4470).

What happens with this one is in the function `touchableHandleResponderGrant` in `Components/Touchable/Touchable.js` you setup two setTimeouts and when they fire in the incorrect order

[2015-12-01 14:05] szhu commented on #4459
@jsntghf, see my comment above https://github.com/facebook/react-native/issues/4459#issuecomment-160971744 for a quick way to fix it. Just run that command in your terminal.

[2015-12-01 14:08] nicoecheza commented on #4459
@szhu I tried that command, but it throws about not found modules. EX: Module not found 'chalk'.

[2015-12-01 14:23] szhu commented on #4459
Hi @nicoecheza, sorry I forgot to include a step: if you created your project with react-native 0.16.0, you need to delete it or move it aside, and `react-native init` your project again. If you made changes to `index.android.js`, you can move it back into the newly-inited project.

[2015-12-01 14:28] nicoecheza commented on #4459
hey @szhu

I did that, but when I run `react-native init` it fails since it doesn't find some modules.
If I reinstall `npm i -g react-native-cli` again, it works fine, but it installs react-native 0.16.0, and that version doesn't work :(.

Thanks!

[2015-12-01 14:34] szhu commented on #4459
@nicoecheza My patch changes the executable script provided by `react-native-cli`, so definitely reinstalling that will undo the patch. I didn't get dependency errors when I tried it though. Can you paste the entire output into a [gist](https://gist.github.com/) and link to it here?

[2015-12-01 14:37] rashmi-chachan commented on #4460
in scrollview i  have used onScrollEndDrag={() => console.log('onScrollEndDrag')} to check if it works. but it does not give anything in console window

[2015-12-01 14:42] nicoecheza commented on #4459
@szhu Sure. Here is the [gist](https://gist.github.com/nicoecheza/7e7b9522f17ca9c8ef5c)

[2015-12-01 14:43] nicoecheza commented on #4459
I'm thinking, maybe the problem is I'm using nvm, what do you think?

[2015-12-01 14:45] #4464 closed

[2015-12-01 14:54] mariusk commented on #4459
The absolute simplest method I have found so far is simply to patch art with the following patch:

[code]
I've put it up as a gist at https://gist.github.com/mariusk/3a71fa779311311b00b3.

To apply the patch, download the patch into your react native app directory and run:

[code]

[2015-12-01 14:57] tomazahlin opened #4471 "[Android] Emulator displays weird error messages"
During developing, for almost any kind of mistake that I do in the code, for example:

- Forget to import components which are used inside render() method
- Comments inside return function in the render() method
- Using undeclared variables
- Trying to access unexisting property of an object
And lots more...

I always get this error message:

TypeError: expected dynamic type 'double', but had type

[2015-12-01 15:00] gre commented on #4429
(I have found a way and provided a PR https://github.com/facebook/react-native/issues/4438 )

[2015-12-01 15:04] paramaggarwal commented on #332
Please use https://productpains.com to report requests.

[2015-12-01 15:05] paramaggarwal commented on #499
Please report on https://productpains.com/product/react-native/

[2015-12-01 15:05] nowaits commented on #4459
+1, master and 0.16-rc

[2015-12-01 15:08] mariusk commented on #4459
Yeah, looks like `art` hasn't been updated for a while. Something else must have changed; react-native packager or babel. Definitively looks like a minification artifact.

[2015-12-01 15:21] DanielHoffmann commented on #1322
+1, but for now it seems that adding
    {
        width: 0,
        height: 0,
    }

achieves the same thing. I did not test it thoroughly though.

[2015-12-01 15:26] szhu commented on #4459
@nicoecheza, my bad, I didn't test it on a clean setup. The problem is that `patch` reads through the symlink but it overwrites the symlink instead of its referrent, causing all kinds of working-directory issues. I've updated the command above. This should now work:

[code]

The command is long simply because there is no portable way to follow a symlink in one line. `readlink -f` is what I'm looki

[2015-12-01 15:27] christopherdro commented on #4470
@Thomas101 Try taking a look at https://facebook.github.io/react-native/docs/timers.html#timermixin at the last paragraph:
`We strongly discourage using the global setTimeout(...) and recommend instead that you use this.setTimeout(...)`

[2015-12-01 15:31] #3893 closed

[2015-12-01 15:32] christopherdro commented on #3893
This feature has been merged into master thanks to the help of @nicklockwood.

[2015-12-01 15:48] jaygarcia commented on #4245
Dope!

[2015-12-01 15:49] rmevans9 commented on #4459
@mariusk according to the release page they upgraded to Babel 6. My guess is that is where the problem is stemming from.

https://github.com/facebook/react-native/releases

[2015-12-01 15:55] dannibje commented on #4456
Im having this problem as well.  Runnig this.refs.textInput2.focus() in the onChange function for textInput1, causes it to clear.

[2015-12-01 16:01] jasonmerino commented on #4459
I'm also seeing this when upgrading to 0.16.0-rc.

For those who haven't yet make sure you go and [up vote this issue on Product Pains](https://productpains.com/post/react-native/bug-error-on-start-syntaxerror-unexpected-identifier-c1x-expected-to-end-a-compound-expression/).

[2015-12-01 16:03] christopherdro commented on #4459
+1

[2015-12-01 16:05] chirag04 commented on #4459
+1

cc @sebmck  also

[2015-12-01 16:05] marcshilling opened #4472 "[Navigator] Interactive Pop Gesture Doesn't "Lock" Native View Being Popped"
Setup: my `Navigator` is pushing a React Native view which wraps a Native UI (Objective-C) view. When I then drag from the left edge to pop said view, the view continues to receive pointer events during the interactive pop. Check the gif: http://i.imgur.com/GdNE7xN.gifv. I would expect that view to be "locked" as soon as I begin the pan gesture.

Interestingly, this doesn't happen when interactive

[2015-12-01 16:06] marcshilling commented on #4472
Tagging @skevy cause he told me to.

[2015-12-01 16:23] sunvooker commented on #4459
+1

[2015-12-01 17:07] lewisbarber opened #4473 "DatePickerIOS"
Is it possible to change the font color of the DatePickerIOS text? I have it on a black background and can't read the black text...

Passing color:'white' in the style param doesn't work, and from looking at the source code it looks like a RCTDatePickerIOS element is wrapped in a view. I can change the background color of this view, so the black text is legible, but this is not really ideal.

[2015-12-01 17:18] mariusk commented on #4459
This gotta be a babel issue:

[code]
outputs:
[code]

[2015-12-01 17:27] mariusk commented on #4459
Filed minimal sample and bug with BabelJS here:

https://phabricator.babeljs.io/T6736

[2015-12-01 17:40] Thomas101 commented on #4470
Thanks @christopherdro, we've been using that wherever possible but some of the built in react functionality uses plain old settimeout which is where the bug raised its head initially

[2015-12-01 17:51] ide commented on #4470
@Thomas101 Thanks for your detailed investigation and write-up. RN should implement timers correctly. In fact if I'm reading your code and logs correctly, it looks like the timeout arg is ignored as events A and B run at almost the same time. cc @sahrens

[2015-12-01 17:53] stereodenis commented on #1410
@facebook-github-bot-8 we are waiting

[2015-12-01 18:03] jcsmesquita opened #4474 "Missing import in Android Native Modules documentation"
I just managed to built my first native module for android. I think there's a lot of room for improving the docs about this but specifically there is a missing HashMap import on the [Toast Module](https://facebook.github.io/react-native/docs/native-modules-android.html#the-toast-module) code example, such that:

[code]

[2015-12-01 18:03] Thomas101 commented on #4470
Those were the logs that came out, you should get similar results if you run it yourself. This is purely speculation as I haven't looked at the implementation, but as it only happenens when running the chrome debugger and using the device, did wonder if it could be a time drift issue between my Mac and ipad?

[2015-12-01 18:04] mihirsoni commented on #4473
Hi @lewisbarber ,

As iOS docs says  there is no official API for changing appearance.  [You cannot customize the appearance of date pickers](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/UIKitUICatalog/UIDatePicker.html#//apple_ref/doc/uid/TP40012857-UIDatePicker)

[2015-12-01 18:05] #4474 closed

[2015-12-01 18:06] christopherdro commented on #4473
Related #3768

[2015-12-01 18:06] #4473 closed

[2015-12-01 18:12] DanielHoffmann opened #4475 "Allow functions callbacks inside StyleSheets"
React Native right now does not have a very comprehensive set of good practices, but something I found useful was to keep layout code outside the render function, unfortunately doing this while still using the StyleSheet class was quite cumbersome and boilerplate heavy. For example:

[code]

To me this not only is cumbersome to write it also mixes layout with structure inside the code. Sure I coul

[2015-12-01 18:14] mihirsoni commented on #4468
Hi @inickel

``react-native init ProjectName`` install react-native and all other required packages from npm and create the Template project for the given ProjectName.
You can make your own changes for your requirements. But I believe it doesn't make sense to make change on react-native cli.

If this answers your question , please close the issue.

[2015-12-01 18:30] ide commented on #4468
The CLI is designed to download the latest version of react-native from npm. It doesn't include a template itself.

You can try a few things:
1. Use npm 2
2. Make sure you have a fast connection to the npm registry server

[2015-12-01 18:54] amasad commented on #4459
Just published a fix, if you npm install you should get it. Sorry about that.

[2015-12-01 18:54] #4459 closed

[2015-12-01 19:11] gmhewett commented on #4459
Thanks for the fix! Just tried to see the update at https://www.npmjs.com/package/react-native, but nothing there yet. Any idea how long until we can update the version, "npm install", and "react-native upgrade"?

[2015-12-01 19:29] amasad commented on #4459
It's in Babel. But you should get it with a fresh install of react native.
Just rm your node_modules and npm install

On Tuesday, December 1, 2015, gmhewett <notifications@github.com> wrote:

[2015-12-01 19:31] jasonmerino commented on #4459
@amasad That seemed to fix that issue for me. Thanks! I had to go through and remove import statements for the time being from one module in my project because of the `babelHelpers.interopRequireDefault is not a function` issue that looks to be resolved by #4327 but now things are up and running for me.

Thanks again!

[2015-12-01 19:32] rclai opened #4476 "SliderIOS allow custom images for the left and side of track"
Instead of setting one image for both as done [here](https://github.com/facebook/react-native/blob/9fc3991615b5dd6815713697945dd5d9bc300a66/React/Views/RCTSlider.m#L42-L46), it would be nice to be able to set an image for both sides and be able to customize the cap insets.

[2015-12-01 20:00] eadz commented on #3077
Wow. I just thought my app was broken. The old Cmd+T...

The fact that the debug menu doesn't work when slow animations is on is surely a bug though. But maybe in the simulator rather than RN?

[2015-12-01 20:12] jasonmerino commented on #2361
With 0.16.0-rc this has become more of a nuisance because the warning now shows in a yellow box that covers over the tab bar, so if you want to navigate around the app via the tab bar you need to tap the warning and then tap the dismiss button.

https://dl2.pushbulletusercontent.com/3dkhmkimLNcQcenxCCJZx3DaWBds570r/IMG_5408.PNG

[2015-12-01 20:14] yberstad commented on #2763
I'm having the same issue, currently running 0.12.0. Does anyone know if this is fixed in any of the later versions?

[2015-12-01 20:27] nicklockwood commented on #2763
You can safely ignore this, it's a false positive due to a limitation of our propType checking. The public prop is a date, but the internal native prop is a number, so when it's converted internally, it thinks the type is wrong.

[2015-12-01 20:42] jasonmerino commented on #1831
For me this problem just showed up when upgrading from `0.14.2` to `0.16.0-rc`. The fix that worked for me was to set the `pageSize` prop on the ListView to 3. 2 didn't work for me, but 3 worked just great.

¯\_(ツ)_/¯

[2015-12-01 20:57] deanmcpherson commented on #2618
So in terms of getting input working, a naive quick win could be to try and port over UIButton? Not sure whether that is an extremely difficult thing to do. According to http://nerds.airbnb.com/tvos-focus-engine/ the only UIKit components that are focussable are;

UIButton
UIControl
UISegmentedControl
UITabBar
UITextField
UISearchBar

[2015-12-01 21:00] lklots commented on #2814
@corbt thank you for publishing the workaround!

[2015-12-01 21:37] cancan101 opened #4477 "Cannot read property '_currentElement' of null"
![image](https://cloud.githubusercontent.com/assets/51059/11515042/b9a260ca-9849-11e5-9bf1-6f1b2242bf2b.png)
![image](https://cloud.githubusercontent.com/assets/51059/11515046/bfe08bce-9849-11e5-9c7c-d23f081ea39b.png)
[code]

[2015-12-01 21:42] cancan101 opened #4478 "Invariant Violation: Level "fatal" not one of log,info,warn,error,mustfix"
[code]

[2015-12-01 22:12] georgi-kovachev opened #4479 "Scroll View Issue"
I am having layout issue with ScrollView
When I use View it was displaying like this.
http://collabshot.com/show/Kis4aJ

<View style={styles.content}>
     <View style={styles.messages}>
           <Text>
              Messages
            </Text>
      </View>
      <View style={styles.transmit}>
         <TextInput
              style={styles.searchInput}
              ref='Message'

[2015-12-01 22:15] georgi-kovachev commented on #4479
Why is the code changed?
Post again
I am having layout issue with ScrollView
When I use View it was displaying like this.
http://collabshot.com/show/Kis4aJ

<View style={styles.content}>
     <View style={styles.messages}>
           <Text>
              Messages
            </Text>
      </View>
      <View style={styles.transmit}>
         <TextInput
              style={styles.searchInput}

[2015-12-01 22:15] #4479 closed

[2015-12-01 22:16] georgi-kovachev opened #4480 "Scroll View Issue"
I am having layout issue with ScrollView
When I use View it was displaying like this.
http://collabshot.com/show/Kis4aJ

http://pastebin.com/Yagt8X38

When I changed it to scrollview
http://collabshot.com/show/f3lEtM

http://pastebin.com/zK0HnjaN

And here are the styles
content: {
    flex: 1,
    paddingTop: 10,
    paddingLeft: 10,
    paddingRight: 10,
    flexDirection: 'column',
    backgrou

[2015-12-01 22:26] lklots commented on #4145
@mkonicek , thoughts?

[2015-12-01 22:54] gmhewett commented on #4459
@amasad Thanks! However, I am still getting the error. Is there anything else I need to update? My react native version is still 0.16.0-rc.

[2015-12-01 22:57] amasad commented on #4459
@gmhewett With a fresh npm install you would get the new babel version. `rm -rf node_mdoules && npm install`

[2015-12-01 23:00] anderdb commented on #3980
I submitted pull request https://github.com/facebook/react-native/pull/4416 to fix this.  The problem is that the existing code uses the path module to generate the URL for assets.  On Windows, that means you have back slashes in the URL when you need forward slashes.  My fix just replaces these when necessary.

[2015-12-01 23:15] chirag04 commented on #4478
@cancan101 can you provide more information on this?

[2015-12-01 23:31] kanerogers commented on #1693
Awesome find!!
On Wed, 2 Dec 2015 at 1:06 AM, Thomas Beverley <notifications@github.com>
wrote:

[2015-12-02 00:28] inickel commented on #4468
just a suggestion ,maybe someone face the same problem,ths for the all answers

[2015-12-02 00:28] #4468 closed

[2015-12-02 00:53] wunnath commented on #3711
can someone share the sample project for loading a static image on android please.

[2015-12-02 01:11] MuruganDurai commented on #1332
Hi @ericvicenti, Could you please advise me how to proceed with this kind of navigation. Working on an android app with 'Navigator' component which contains a home screen with custom header (using <view>) with right buttons for search and in the home content area there is scrollable-tab-view with 4 different tabs. Files look like -->

app.js, home.js, header.js, search.js, storetab.js, brandtab.js

[2015-12-02 01:34] pangers commented on #4289
@christopherdro 's solution of restarting my computer allows you to make a change to the JS and bundle once. After more than one time, it keeps reusing the already generated main.js bundle. So if I want to make anymore changes after bundling once, I need to restart my computer again.

Has there been any progress on this?

[2015-12-02 02:27] qiepei123 opened #4484 "0.15-0.16-rc Version of the problem"
0.15-0.16 - rc version to execute commands run - android system CARDS maxed out, hope the official will give solution

[2015-12-02 03:11] satya164 commented on #4484
Hey @qiepei123 . Thanks for the issue. But I didn't quite get what you said. Can you explain a bit?

[2015-12-02 03:13] satya164 commented on #4476
@rclai Would be great if you can send a pull request.

[2015-12-02 03:16] satya164 commented on #4480
Hey @georgi-kovachev . thanks for reporting this! You can try setting the `contentContainerStyle` of the `ScrollView`.

BTW, there's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mar

[2015-12-02 03:16] rclai commented on #1424
This is also an issue for any kind of Bluetooth related functionality. Perhaps we should document current work-arounds for this?

[2015-12-02 03:16] #4480 closed

[2015-12-02 03:18] satya164 commented on #4466
@mjhlybmwq Why would you want to do that? It means learning an entirely new thing to add packages. Current way is good enough IMO, and with `react-native link` being worked on, it's simple to use too.

[2015-12-02 03:21] satya164 commented on #4461
Hey @fxhereng . Please consider using a linter like [ESLint](http://eslint.org/) to catch these kinds of bugs early. AFAIK there is no way to detect these kinds of errors from within JavaScript.

[2015-12-02 03:21] #4461 closed

[2015-12-02 03:23] satya164 commented on #4428
@haledeng Can you try with the latest React Native and see if it's fixed?

[2015-12-02 03:55] satya164 commented on #3711
@wunnath http://facebook.github.io/react-native/docs/images.html#content

[2015-12-02 03:56] satya164 commented on #3711
@yanggeorge You need to use `<Image source={{ uri: "android_search_white.png" }} />`

[2015-12-02 03:56] #3711 closed

[2015-12-02 04:03] satya164 commented on #4475
Duplicate of #193

[2015-12-02 04:03] #4475 closed

[2015-12-02 04:09] satya164 commented on #1170
Is this still an issue?

[2015-12-02 04:12] #2067 closed

[2015-12-02 04:13] #3115 closed

[2015-12-02 04:14] #4269 closed

[2015-12-02 04:16] #3703 closed

[2015-12-02 04:19] satya164 commented on #1098
Is this fixed?

[2015-12-02 04:20] satya164 commented on #1161
Is this still happening?

[2015-12-02 04:38] satya164 commented on #4471
Hey @tomazahlin , Thanks for reporting the issue. We definitely need better error messages for this. BTW you should consider using a linter like [ESLint](http://eslint.org) to avoid these kinds of errors.

[2015-12-02 05:53] TomClarkson opened #4485 "Can't run project made with react-native init"
When I try to run the hello world app i get heaps of syntax errors. Please tell me how can I fix it?

![screen shot 2015-12-02 at 6 55 50 pm](https://cloud.githubusercontent.com/assets/2054503/11523300/eeaa9328-9925-11e5-91bc-c8f07812d677.png)

[2015-12-02 05:56] ide commented on #4485
My guess is you are using an old version of Xcode. Can you check whether you are using Xcode 7?

[2015-12-02 07:18] huangqiaobo opened #4486 "If users runs the react-native app with bad network"
If users runs the react-native app with bad network, they may need to wait a long time to load bundle.
How to deal with this situation？

[2015-12-02 07:24] ide commented on #4486
During development, the bundle is loaded over your local network so it should be fast. In production, if you want to download the bundle then you should make sure your servers have a fast connection with users (lots of different optimizations possible but they aren't specific to React Native. you could probably hire a performance consultant  though) and write whatever caching policy you want. It's

[2015-12-02 07:24] #4486 closed

[2015-12-02 07:38] jacobbubu commented on #4245
I'm looking for it for long time, great job! Hope that could be merged to the core.

[2015-12-02 08:30] sankhadeeproy007 commented on #4006
I had a RN 0.13.2 project which was working fine on Xcode 6. Now after upgrading 0.16.0-rc and Xcode 7.1 I'm getting `Command /bin/sh failed with exit code 1` on building. My node version is 4.2.1 and npm is 3.4.0. The solution at #3948 doesn't seem to work for me either. Any help regarding this?

[2015-12-02 08:30] sankhadeeproy007 commented on #4485
I had a RN 0.13.2 project which was working fine on Xcode 6. Now after upgrading 0.16.0-rc and Xcode 7.1 I'm getting `Command /bin/sh failed with exit code 1` on building. My node version is 4.2.1 and npm is 3.4.0. The solution at #3948 doesn't seem to work for me either. Any help regarding this?

[2015-12-02 09:18] turka50 commented on #1167
@satya164  Can you give a sample code for using the custom fonts ? i'm using 0.16.0-rc and i added the fonts to assets/fonts but i cant get them to work.

[2015-12-02 09:24] richarddewit commented on #1167
@turka50 - the font file name should be the same as the font name and should contain only lowercase letter and underscores, e.g.:

[code]

`projectfolder/android/app/src/main/assets/fonts/font_name.ttf`

[2015-12-02 09:37] turka50 commented on #1167
@richarddewit  - This is the folder where my files are : \android\app\src\main\assets\fonts

and the files are :
![image](https://cloud.githubusercontent.com/assets/10440278/11527314/f2d62c88-98e8-11e5-98c8-fad93824a618.png)

and markup finaly is :

![image](https://cloud.githubusercontent.com/assets/10440278/11527330/0e03c920-98e9-11e5-994c-0ab4be0a44ab.png)

But the text doesn't get affected at

[2015-12-02 09:45] richarddewit commented on #1167
@turka50:
- Did you run `react-native run-android`?
- Do you have the latest file `projectfolder/android/app/react.gradle` and a reference to it in `projectfolder/android/app/build.gradle`?
- Do you have any `typeface` specified in `projectfolder/android/app/src/main/res/values/styles.xml`? If so remove them.

[2015-12-02 09:45] gefangshuai commented on #3130
mark!

[2015-12-02 10:01] huangqiaobo commented on #4486
@ide
do I need this?
such as always load bundle from local and download newest bundle for use for next time。
do you have better plan to recomment it ?

[2015-12-02 10:03] ide commented on #4486
@huangqiaobo during development, your app downloads the JS bundle from your computer. When you publish your app, React Native will add the JS bundle to your app so that users don't have to download it at all. That is the fastest and simplest solution.

[2015-12-02 10:13] ranyefet commented on #4353
@christopherdro Thanks, I still haven't tested it on 0.15 (or now 0.16) but I managed to find a work around.

On my ```<Text>``` element I had ```paddingRight: 50``` which I suspected to cause this issue.
So instead of:
[code]

I moved this property into the parent ```<View>``` that wraps my ```<Text>``` node and it's now working.
[code]

It's still a bug, so I leave it open but at least we have a

[2015-12-02 10:18] plougsgaard commented on #2985
Is this the Flow release you've been on about?

https://github.com/facebook/flow/releases/tag/v0.19.0

[2015-12-02 10:20] turka50 commented on #1167
@richarddewit  I think the issue is that 0.16.0-rc is not properly installed, I'm getting a weird error saying -
![image](https://cloud.githubusercontent.com/assets/10440278/11528395/1b4c61d6-98ef-11e5-983c-96cb73c66361.png)

Any ideas ?

[2015-12-02 10:24] richarddewit commented on #1167
@turka50 Check if you have `compile "com.facebook.react:react-native:0.16.+"` in `projectfolder/android/app/build.gradle`

[2015-12-02 10:27] turka50 commented on #1167
@richarddewit  Yes i do.  I'm getting this error also -
![image](https://cloud.githubusercontent.com/assets/10440278/11528525/fea4309e-98ef-11e5-95de-e7dcaa43d163.png)

[2015-12-02 10:28] richarddewit commented on #1167
@turka50 Delete the folders
- `projectfolder/android/.gradle`
- `projectfolder/android/app/build`

and rebuild your project using `react-native run-android`

Also your font is not in `assets/fonts/`

[2015-12-02 10:31] turka50 commented on #1167
@richarddewit  Tried what you suggested , Still not working. The weird thing is that i deleted that folder and there are not fonts at all but it still shows that error...

[2015-12-02 10:33] richarddewit commented on #1167
@turka50 It seems that it's referencing to `main/res/assets` instead of `main/assets/. Can you check there?

[2015-12-02 10:37] turka50 commented on #1167
@richarddewit  Ok that was the error ... moving on to the next error :)
![image](https://cloud.githubusercontent.com/assets/10440278/11528764/6265876c-98f1-11e5-8fb0-6f960c37bb41.png)

[2015-12-02 11:03] yychun1217 opened #4488 "TypeError in RCTNetworking.sendRequest for android for 0.16.0-rc"
I encountered the error in android when using 0.16.0-rc

TypeError: expected dynamic type 'double', but had type 'boolean' (constructing arguments for RCTNetworking.sendRequest at argument index 5)

[2015-12-02 11:14] yychun1217 commented on #4484
@satya164 There is a red page after I upgrade the react native version to 0.16.0-rc.

Upon opening the app, the red page appears.

![Image of error]
(http://postimg.org/image/wfb42hddj/)

[2015-12-02 11:17] satya164 commented on #4484
Cannot see the image. Can you re-upload?

[2015-12-02 11:35] devjiangzhou opened #4489 "ERROR connect.compress is not a function"
TypeError: connect.compress is not a function
    at runServer (runServer.js:28:18)
    at startServer (server.js:144:3)
    at _server (server.js:140:3)
    at server.js:24:5
    at tryCallTwo (/Users/jiangzhou/node_modules/promise/lib/core.js:45:5)
    at doResolve (/Users/jiangzhou/node_modules/promise/lib/core.js:171:13)
    at new Promise (/Users/jiangzhou/node_modules/promise/lib/core.js:65:

[2015-12-02 12:00] phoboslab commented on #1424
FYI: I recently put a lot of time into a workaround for reading/writing Typed Arrays in native code and it seems to perform reasonably well. About 7ms/MB for reading, 20ms/MB for writing. The overhead of the read/write function call itself (regardless of array size) is ~0.2ms. The whole journey is documented here:
http://phoboslab.org/log/2015/11/the-absolute-worst-way-to-read-typed-array-data-wit

[2015-12-02 12:38] vinu123 opened #4493 "Command /bin/sh failed with exit code 1 - After upgrading reactnative to 0.15.0 and NPM to 3.3.6"
I can no longer compile in Xcode after upgrading React Native to 0.15.0 and NPM to 3.3.6. When I compile Xcode throws an error saying "Command /bin/sh failed with exit code 1".

Forgive me if this has been covered elsewhere.

[2015-12-02 12:40] speedcell4 commented on #2720
@peduxe thank you, downgrading to 1.2.3 also works for my project.

[2015-12-02 13:01] fender commented on #1981
@miracle2k Although that allows `replace` to use the animations from `push`, I don't think it behaves the same. `replace()` will unmount the current component and then mount the new one immediately.

[2015-12-02 13:16] fender opened #4494 "[Navigator] Scene with transparent background doesn't show previous scene"
The [Modal](https://facebook.github.io/react-native/docs/modal.html) docs say to use Navigator instead of Modal with a top-level Navigator. However, when setting `backgroundColor: 'transparent'` on the scene being pushed, the previous scene is not visible below. So how do we actually go about simulating a Modal with Navigator?

If there's a way to do this already then I'd be willing to create a PR

[2015-12-02 13:20] fender commented on #4494
Closing to ask on StackOverflow first.

[2015-12-02 13:34] gre commented on #3948
for some reason I can't get the sourcing working anymore (I used to have it working) in 0.15.x :(
I basically can't run any RN project.

[2015-12-02 13:34] gre commented on #4493
Having the same issue.. I really wish this can be fixed. also there is lot of dups of this issue ( https://github.com/facebook/react-native/issues/3948 )

[2015-12-02 13:45] msathis commented on #4477
@cancan101 From my experience, This error mostly happens if any of the component is null.

[2015-12-02 13:50] georgi-kovachev commented on #3195
@yelled3
_scrollToInput {
  var scrollView = this.refs.myScrollView.getScrollResponder();
  var scrollResponder = scrollView.getScrollRef();

  scrollResponder.scrollResponderScrollNativeHandleToKeyboard(
    React.findNodeHandle(this.refs.myInput),
    0, // adjust depending on your contentInset
    /* preventNegativeScrollOffset */ true
  );

After you move the screen up how can you move it down

[2015-12-02 13:55] #4388 closed

[2015-12-02 13:55] gre opened #4495 "a require() inside a string will break the packager"
Following code will make the packager looking up for a `"foo"` package

[code]

My use-case was for console.logging some warning:

[code]

workaround is to do this uglyness:

[code]