[2015-05-31 17:40] brentvatne commented on #491
This was an issue with `RCTConvert` that I fixed in c09bdebcd532bfb487763d1800aaf1f3e4d2f150 - let me know if you're still having the issue and I will reopen.

[2015-05-31 17:40] #491 closed

[2015-05-31 17:40] tommcgurl commented on #364
This would definitely be nice to have for images as @despairblue mentioned. +1

[2015-05-31 17:40] #477 closed

[2015-05-31 17:45] brentvatne commented on #1349
I think we would probably want to execute the JS via a direct function call, eg:

`<WebView ref="myWebView" />`

`this.refs.myWebView.execute('alert("hello world")')`

It would also be neat if there was some way to get data back via a callback function :smile:

[2015-05-31 17:46] brentvatne commented on #506
@ckknight - executing JS would be easy to implement but adding a callback would be a bit more complicated. @oveddan is going to have a shot at least at executing JS in #1349, I mentioned also possibly adding a callback there as well!

[2015-05-31 17:46] #506 closed

[2015-05-31 17:48] brentvatne commented on #480
Take a look at your `rowHasChanged` function on your `DataSource`

That said, closing because @mkonicek is spot on :smile:

[2015-05-31 17:48] #480 closed

[2015-05-31 18:00] brentvatne commented on #935
- Packager isn't intended to be run as a production server
- A best practice for updating deployed JS to an App Store-deployed app hasn't been established yet but it would be awesome if someone from the community could come up with a module or blog post for this

@jacobjiangwei - yup, anything that is in the JS, as long as you don't update the native code

[2015-05-31 18:00] #935 closed

[2015-05-31 18:02] johanneslumpe commented on #800
@brentvatne No that didn't help at all. Actually in my screenshot above my own components are already named correctly. I just tried it in another project - the "Unknown" components are not the components I created. Those must be something else.

[2015-05-31 18:02] brentvatne commented on #443
I believe that this is protected against now, thanks for the issue @glenjamin!

[2015-05-31 18:02] #443 closed

[2015-05-31 18:03] brentvatne commented on #441
Protip: use the commit sha in your links so that when master changes we can still see the exact code you're referring to :smile:

[2015-05-31 18:04] tadeuzagallo commented on #1349
Keep in mind that `WKWebView` in only available on iOS 8.0 and later, and React Native supports iOS 7.

Also `WKWebView`, as far as I know, is not stable enough to replace `UIWebView` yet, so it might be a better idea to make it a npm module that replaces the built-in `RCTWebView`.

[2015-05-31 18:08] brentvatne commented on #708
https://github.com/facebook/react-native/issues/1365#issuecomment-104792251

[2015-05-31 18:08] paramaggarwal commented on #858
Hey @brentvatne, in my use-case I would like the entire image to show - hence would like that the height of the image vary so that it fit fully without any cropping nor bands. Now CSS does not support something like an `aspectRatio` style for something like this. In this issue I suggest an idea that does it out of the context of CSS with a very simple API by tagging the `width` and `height` in the

[2015-05-31 18:09] brentvatne commented on #456
@qingfeng - https://github.com/facebook/react-native/issues/1365#issuecomment-104792251

@syousif94 - rotation works as expected now [see docs](https://facebook.github.io/react-native/docs/transforms.html#content) eg: `transform: [{rotate: '30deg'}]`

[2015-05-31 18:10] brentvatne commented on #456
Looks like there are plenty of examples above now, more exciting stuff re: animations coming soon!

[2015-05-31 18:10] #456 closed

[2015-05-31 18:11] brentvatne commented on #394
Fixed now!

[2015-05-31 18:11] #394 closed

[2015-05-31 18:20] brentvatne commented on #435
Interesting question, @ide any idea about this?

[2015-05-31 18:23] brentvatne commented on #397
Dupe #779

[2015-05-31 18:23] #397 closed

[2015-05-31 18:24] brentvatne commented on #371
@sahrens - this would be great to see, this seems to be a highly requested feature

[2015-05-31 18:24] mcz commented on #708
Thanks Brent!

[2015-05-31 18:25] brentvatne commented on #391
@checkraiser - I believe I recall us resolving this in IRC. If I'm mistaken, let's follow up there or feel free to create a StackOverflow thread.

[2015-05-31 18:25] #391 closed

[2015-05-31 18:26] brentvatne commented on #708
No problem @mcz :smile:

[2015-05-31 18:27] mcz commented on #1365
@nicklockwood when do you guys think @vjeux 's animation library will land?

[2015-05-31 18:27] spicyj commented on #966
I think this is working as intended. The events come in the same no matter where the listener is, so there's no way this could give the location relative to your container. You probably want to measure the container's position and then subtract that from pageX and pageY.

[2015-05-31 18:27] #966 closed

[2015-05-31 18:28] brentvatne commented on #858
@paramaggarwal - would it help if you were given a callback with the width and height of the network image when it finishes loading?

[2015-05-31 18:29] #31 closed

[2015-05-31 18:30] brentvatne commented on #1315
@soliury - looks nice! would like to see it when the open source version is available. thanks for the follow up!

[2015-05-31 18:31] brentvatne commented on #245
@vjeux - "What are we working on" would be nice to see!

[2015-05-31 18:33] brentvatne commented on #1349
Good points @tadeuzagallo!

If we want to integrate this into our standard `UIWebView` based `WebView` perhaps we can just use [stringByEvaluatingJavaScriptFromString](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIWebView_Class/#//apple_ref/occ/instm/UIWebView/stringByEvaluatingJavaScriptFromString:)?

[2015-05-31 18:34] #395 closed

[2015-05-31 18:35] brentvatne commented on #297
Thanks :smile:

[2015-05-31 18:35] #297 closed

[2015-05-31 18:36] paramaggarwal commented on #858
Hmm, I'm unable to explain my use case clearly, I'll give it another shot.

Imagine I wish to display a network image, whose width and height is 200x100. I already know its width and height before fetching it. Now when I do its layout I would like it to keep its aspect ratio. So if it happens to be in a parent that is 300px wide, then I would like this image view to be of 300x150 size. Hence the 1

[2015-05-31 18:36] brentvatne commented on #179
This is a neat idea cc @tadeuzagallo

[2015-05-31 18:55] bootstraponline commented on #245
:+1: for "What are we working on"

[2015-05-31 18:59] glenjamin commented on #441
Whoops! I normally do that - "y" to toggle hash in URL

[2015-05-31 19:16] tadeuzagallo commented on #179
That's interesting, and I've talked about something similar with @nicklockwood before, but the problem that always comes up is that in most of the use cases the method would have to be sync...

[2015-05-31 19:23] brentvatne commented on #800
Strange, thanks for checking it out @johanneslumpe - let's move this issue over to the devtools repo

[2015-05-31 19:23] #800 closed

[2015-05-31 19:33] oveddan commented on #1349
@tadeuzagallo yeah in an ideal world we would be able to build this around `WKWebView`, but it's only supported in IOS8, and it's not really production ready - for example, loading html from the local file system doesn't work, nor does leveraging the html5 appcache to make a page loaded from a remote server available offline.  Those two things two work with a standard WebView.

I'd want to follow

[2015-05-31 19:35] brentvatne commented on #1349
@oveddan - let's try it as a separate Github repo and see how it turns out, if doesn't end up being too large or if there turns out to be a lot of demand then it might be worth integrating into core

[2015-05-31 19:39] nicklockwood commented on #179
Yeah, we do this already for stuff like RCTWebView, and it's a pain doing the same lookup code every time. Makes sense to have a simple macro to wrap that logic.

[2015-05-31 19:41] nicklockwood commented on #179
It should probaby wrap the UIBlock logic as well for view methods, to avoid accidents. Then there would be no need to dispatch to main queue inside the method.

[2015-05-31 19:42] brentvatne commented on #364
Sounds reasonable @tommcgurl - check out [facebook/css-layout](https://github.com/facebook/css-layout) and create an issue there, maybe someone will be up for implementing it :smile:

[2015-05-31 19:48] brentvatne commented on #179
Who wants to take lead on this one? @ide? :smile:

[2015-05-31 19:55] brentvatne commented on #146
@joewood - is this still something you're wanting to do? Did the discussion in the issue mentioned above solve you problem? ping me if not, otherwise we'll just keep this closed

[2015-05-31 19:55] #146 closed

[2015-05-31 19:56] brentvatne commented on #113
Nice on @dhrrgn! Seems simple enough. Might be worth putting into a library on npm until a solution is integrated into core

[2015-05-31 20:04] brentvatne commented on #110
@ide - did you ever look into this?

[2015-05-31 20:05] brentvatne commented on #97
This seems useful!

[2015-05-31 20:10] brentvatne commented on #441
@glenjamin - I did not know that shortcut, awesome!

[2015-05-31 20:13] brentvatne commented on #777
If I'm not mistaken, this is now implemented in the form of [onLayout](https://facebook.github.io/react-native/docs/view.html#onlayout) - let me know if this doesn't solve your problem @pjjanak and I can reopen.

[2015-05-31 20:13] #777 closed

[2015-05-31 20:13] brentvatne commented on #990
@dwilt - no problem, I'm glad your issue was resolved!

[2015-05-31 20:19] brentvatne commented on #932
You'll probably want to look into `RCTUIManager` and `RCTEventDispatcher`.

Not exactly equivalent to `document.querySelector` but you can find the native element corresponding to a given node handle (which you can get from the ref) by doing:

[code]

Not sure if this helps, I'm not very familiar with FRP so some of your question went over my head.

[2015-05-31 20:22] staltz commented on #932
Thanks, that sounds like helpful pointers.

[2015-05-31 20:31] brentvatne commented on #1336
Closing as there has been no response and doesn't seem to happen to others. @NecoleYu if you're still having the issue then ping me with some more details and we can reopen :smile:

[2015-05-31 20:31] #1336 closed

[2015-05-31 20:43] brentvatne commented on #858
That makes sense, you could maybe make a wrapper component around it that does that for you

[code]

then you can just calculate out the height and pass that on to an `Image` that is rendered by `ImageWithConstraints`. If you wanted to use `flex` you could hook into `onLayout` and find what width it is given and then calculate the height from the aspect ratio.

Would that solve your problem?

[2015-05-31 21:15] brentvatne commented on #1462
@browniefed - that seems like a good place to start!

[2015-05-31 21:19] crylico commented on #1077
Yeah! I'll work on it when I get a chance. I'll likely stick to the current
architecture (as a NativeModule), but exposing more of the font descriptor
for the initial PR. Once all the functionality is there, we can talk about
where it best belongs :)

On Sat, May 30, 2015 at 5:47 PM Brent Vatne <notifications@github.com>
wrote:

[2015-05-31 21:29] oveddan opened #1472 "[Layout] When using a 'column' flexBox layout for a view, child views of that view do not stretch to fit."
In standard w3c html/css flexbox layout, you can declare a div with a `column` `flex-direction`, and have children with `flex-grow`, and those children will stretch to the desired proportions to fit the parent with the `column` `flex-direction`.

See the jsfiddle [here](https://jsfiddle.net/8dLt71j4/1/) - The first column has its two child elements appropriately stretching to fit it.

With `react-

[2015-05-31 21:35] brentvatne commented on #1077
@crylico - awesome, looking forward to it :smile:

[2015-05-31 21:36] jtremback commented on #883
@brentvatne wasn't there another PR where someone had written objC code to switch the IP?

[2015-05-31 21:42] oveddan opened #1473 "[JS] Remove the global `document` variable"
Having a global `document` variable without implementing all of its methods causes interop issues with other libraries that expect the global document to have those methods, if it exists.

This occurs, for example, when trying to require `jquery`, and it sees a global document and attempts to call `createElement` on it.  Use case and explaination of issue can be seen [here](https://github.com/jque

[2015-05-31 22:04] vjeux commented on #1473
Can you send a pull request to remove the line that adds it? It's in InitializeJavascript js file

[2015-05-31 22:14] brentvatne commented on #1274
Awesome @joeferraro

[2015-05-31 22:16] oveddan commented on #1473
@vjeux sure I will look into this.

[2015-05-31 22:18] dhrrgn commented on #113
@brentvatne I will do that tomorrow...right after I figure out how to create an Xcode project people can just add to their's (bit of an Xcode "noob") haha. (Side note: it would be awesome if their was a "Creating Distributable Native Components" section of the docs for this sort of thing).

[2015-05-31 22:20] bparadie commented on #1429
@jsierles @ide @brentvatne Before I go ahead and implement something that nobody wants, I'd like to ask you guys whether you find this direction agreeable:
How about reading the information for `port` (8081) and `origin` ('http://localhost') from a dictionary in `info.plist`?

Roughly, I was thinking of adding a new dictionary to `info.plist` called `RCTWebSocketExecutor` with  `port` and `origin`

[2015-05-31 22:24] spicyj commented on #1473
(We'll probably want to set it to `undefined`.)

[2015-05-31 22:32] brentvatne commented on #113
@dhrrgn - I have something about that on my blog: [Packaging a React Native component](http://brentvatne.ca/packaging-react-native-component/)

[2015-05-31 22:41] dhrrgn commented on #113
@brentvatne Awesome, thanks.

[2015-05-31 22:47] brentvatne commented on #883
@jtremback - hmm, it sounds vaguely familiar but having looked through several hundred issues in the last few days I'm having a hard time remembering exactly, if you find it let me know

[2015-05-31 23:01] alinz commented on #1402
@liubko Yes, this is exactly what I want to get rid of. I haven't applied the patch yet but I will do it tonight.

[2015-05-31 23:21] jtremback commented on #1470
I need to investigate this further, will submit a PR if I pursue it.

[2015-05-31 23:21] #1470 closed

[2015-06-01 00:00] sebmck commented on #1451
I can expose that method if you want.

[2015-06-01 00:02] sebmck commented on #1451
Actually, as long as [this](https://github.com/facebook/react-native/blob/41859e594d0dbd0be43cf7cc1561051ac4b1b853/packager/transformer.js#L20) variable is an absolute path then the `.babelrc` files will be resolved and merged into the input options.

[2015-06-01 00:22] jwyld commented on #1339
Is -layoutIfNeeded truly required?  The default -init seems to set up with the correct size.  The other option is -sizeToFit which avoids the cost of layout.  By removing the layout, the objc_msgSend costs disappeared for this.

BTW, my tests were on the Simulator.  It's possible there are differences in the results of both -init and -sizeToFit: on iPhone versus iPad.

[2015-06-01 00:27] umhan35 opened #1474 "[Discussion] React native without jsx"
We can use react.js without jsx (http://facebook.github.io/react/docs/displaying-data.html#react-without-jsx), but there is currently no implementation for `React.DOM` in react native.

I have my own implementation now, which allows me to do the following thing in CoffeeScript:

[code]

I'd love to see react native being consistent with react by providing `React.DOM` or a better name than `DOM`?

[2015-06-01 00:48] upbit commented on #691
Great Works!

[2015-06-01 01:46] Selmanh commented on #24
Yea, using uri worked fine, thanks.
```<Image style={styles.gif} source={{ uri: 'test.gif' }} />```

[2015-06-01 01:58] phamhieu commented on #668
"It turns out that my project is moved to a folder with "space" character in the name. So the run script fail to run."

I have a [push commit](https://github.com/facebook/react-native/pull/699) to fix the issue.

[2015-06-01 03:03] magicismight commented on #41
Is there any progress here?

[2015-06-01 03:07] brentvatne commented on #1349
@oveddan - fyi, I just noticed #1191

[2015-06-01 03:14] spicyj commented on #41
Maybe with subclassing, you can make a `disableOffsetUpdates` like in the gist linked here:

https://twitter.com/andy_matuschak/status/559796157241507841

Not sure if that introduces significant lag.

[2015-06-01 03:29] magicismight opened #1475 "[ScrollView] responder capture bug"
Tring to captrue the responder of a ScrollView like this.
[code]
The ScrollView inside can`t get the responder and it should not scroll.
But the ScrollView will scroll sometimes.Just sometimes.
Is this a bug?

[2015-06-01 03:47] paramaggarwal commented on #858
Sounds perfect. One question: If `onLayout` I set the height of the image, would it trigger a full layout again and hence trigger `onLayout` again?

[2015-06-01 04:20] TimonSotiropoulos opened #1476 "[AnimationExperimental] iPhone 5 Animation Bug?"
Just been working on doing a few animations with AnimationExperimental to slide a View up and down using a TouchableHighlight. All seems to be working fine in the iOS Simulator on iPhone 6, 6 Plus and 5S but am getting some weird results on the iPhone 5. Instead of animating from it's current position to it's new position, on the iPhone 5 is it animating from outside of the screen entirely to the

[2015-06-01 04:32] naoufal commented on #700
@brentvatne PR submitted #1477.  Can you review/leave feedback?

[2015-06-01 05:24] ide commented on #435
It is possible but not implemented and AFAIK no one is working on it. You could expose a prop like leftButtonSystemIcon that takes the name of an icon, and on the Obj-C side display the corresponding icon.

[2015-06-01 05:30] ide commented on #97
Feels like this would result in a change to React since the component renderer would need to hook up each owner's setNativeProps to the root it owns. Perhaps there is a less intrusive way with a mixin that we can experiment with and then make the change to React once we understand the space better. I think there is something useful here with automatic proxying between the owner and its root, like

[2015-06-01 05:41] iostalk commented on #1422
In MainController.m, I set a ReactRootView instance as a root view, and I have a navigation Controller already in objective-c side:

In MainController.m(extended from a navigation controller):
[code]

In jsx:
[code]
My question is, can I get the navigator in the js side?

[2015-06-01 06:45] ide commented on #1339
sizeToFit should work. BTW you can test iPad via the simulator too if you weren't aware.

[2015-06-01 06:49] ide commented on #110
Last I looked at the touch handler the easiest way would be to override the hit testing of views. I haven't experimented with this, just have been making my views bigger to compensate for now.

[2015-06-01 06:54] ide commented on #529
+1 to shipping it on iOS. Seems ok for Android to fall back to left or center alignment since the app is still usable, sort of like how older browsers just drop rules they don't understand on the web until one day the property is supported.

[2015-06-01 07:04] ide commented on #667
There should probably be an entry under the podspec for LinkingIOS.

I think react diverges from the convention of shipping everything in the default spec because most apps won't use anything, and there are modules like adsupport that should be opt in.

[2015-06-01 08:32] yelled3 commented on #1276
@brentvatne thanks - will do :-)

[2015-06-01 08:47] jsierles commented on #1429
This seems like a good approach. Easy to point people here, and plist files are easy to edit programatically.

[2015-06-01 09:41] ThomWright commented on #1462
@browniefed Hit me up if you work on some React ART documentation, I'd be glad to help. I've been using it too and finding the lack of documentation frustrating.

[2015-06-01 11:56] mintuz commented on #1325
I do have nano set to my Shell Editor. and it only spikes at 95% CPU when I use React Native on the simulator.

[2015-06-01 13:25] tommcgurl commented on #364
Thanks @brentvatne, I'll definitely check that out :+1:

[2015-06-01 13:43] oblador commented on #1402
@brentvatne: I don't see how that patch would fix this problem (if I'm blind/stupid please forgive :-). The problem is that there's a moment between when the app has launched and React is still working. Ideally the LaunchScreen would show until React is finished and fully rendered as it does in a "fully native" app.

[2015-06-01 14:46] jaygarcia commented on #341
@jsierles DUDE! such a huge difference!!

React packager ready.

[10:46:03 AM] <START> request:/jsx/index.ios.bundle
[10:46:03 AM] <START> find dependencies
[10:46:03 AM] <END>   find dependencies (26ms)
[10:46:03 AM] <START> transform
[10:46:04 AM] <END>   transform (50ms)
[10:46:04 AM] <END>   request:/jsx/index.ios.bundle (95ms)

Thanks :)

[2015-06-01 14:46] #341 closed

[2015-06-01 15:37] urbien commented on #676
@brentvatne As stated in my prior comment, we proceeded to implement a subset of node.js modules in React Native iOS environment.

- [AsyncStorage](https://github.com/tradle/asyncstorage-down) as a leveldown module and a [small wrapper for level apps](https://github.com/tradle/react-native-level).
- a UDP module compatible with [Node.js Dgram](https://github.com/tradle/react-native-udp)
- [forked

[2015-06-01 16:04] bparadie commented on #1429
@jsierles Apologies if this is a stupid question: What are 'non-websocket' IPs/ports?

[2015-06-01 16:23] brentvatne commented on #1402
@oblador - ah, this would allow you to transition more smoothly by having the same background colour as the launch screen in the "flicker" moment.

@vjeux - how do you get past this issue in FB apps? I noticed that F8, which if I understand correctly is 100% React Native, transitions directly from the launch screen to the app.

[2015-06-01 16:29] jwyld commented on #1339
@ide I was lazy and hadn't tried the other platforms.

How "constant" do these need to be?  On the Simulator, there is a different width for iPhone 6 (375), iPhone 6 Plus (414), and iPad/iPhone 5 (320).

BTW, it seems -intrinsicContentSize is enough.  It could be slightly faster than -sizeToFit.  Additionally, it seems the date picker is initialized to the intrinsic size if not given a frame.  It'

[2015-06-01 16:35] bparadie commented on #1429
@jsierles @ide @brentvatne Just wanted to dog-pile one other idea to this PR. We could change the name from `RCTWebSocketExecutor` to, say, `AppImage` and add a property `bundle` / name in addition to `origin` and `port`. If `bundle` is specified the default `AppDelegate` code would use the bundle name etc.

What do you guys think?

[2015-06-01 16:38] nicklockwood commented on #1402
There's a (separate) fix for this issue too. Use the new `loadingView` property of `RCTRootView`, and set it to a full-screen `UIImageView` showing your launch image. The code might look something like this:

    UIImageView *launchView = [[UIImageView alloc] initWithImage:[UIImage imageNamed:@"MyLaunchImage"];
    rootView.loadingView = launchView;

I've been experimenting with a way to automatic

[2015-06-01 16:39] sahrens commented on #371
I'll take a look at what we have.

[2015-06-01 16:41] nicklockwood commented on #1463
You can use a base64 data URL containing the entire JS file as a string. Is that a viable solution for you?

[2015-06-01 16:46] brentvatne commented on #108
Trying out moving these kinds of discussions over to discuss.reactjs.org - see [the discussion here](https://discuss.reactjs.org/t/react-native-components-that-you-want-to-see/523) - I linked to this issue there.

[2015-06-01 16:46] #108 closed

[2015-06-01 16:47] holoed commented on #245
:+1: for "What are we working on"

[2015-06-01 16:49] ide commented on #1402
An easy solution to what @nicklockwood described is to load the launchscreen xib if you're on iOS 8+.

[2015-06-01 16:55] brentvatne commented on #1422
@iostalk - I haven't tried that myself, this is probably a better question for StackOverflow now that I see it, could you repost it there? If you don't get an answer, ping me here and I can reopen and see if someone on the team can help you. :smile:

[2015-06-01 16:55] #1422 closed

[2015-06-01 17:19] auser commented on #1190
I'm working on adding the `inputAccessoryView` on IOS. I'll update this issue when I have a PR.

[2015-06-01 17:20] brentvatne commented on #1190
Let's collapse this issue into #371

[2015-06-01 17:20] #1190 closed

[2015-06-01 17:31] jwyld commented on #1463
@nicklockwood "Speed of startup is very important for me."  base64 is going to add way too much overhead.  In my case, I have a mapped Unicode string.  By using such, I pay no cost for CFString to convert from UTF8.  Since it's a "native" string, it removes much of the string overhead cost for lex as well.

[2015-06-01 17:31] alinz commented on #1402
@ide I am using launchscreen xib. I see my lauchscreen view at the launch time but before my app boots up, I see a white view (flash).

[2015-06-01 17:33] brentvatne commented on #668
Thanks @phamhieu!

[2015-06-01 17:50] alinz opened #1479 "[Packager] require('react-native') must be assigned to React"
By accident I have assigned require('react-native') to a variable other than `React` and It failed to execute. hmmm...

This code works fine

[code]

By this one doesn't

[code]

Here's what I got as an error:
![screen shot 2015-06-01 at 1 47 47 pm](https://cloud.githubusercontent.com/assets/967050/7919244/fc3f157e-0864-11e5-9f95-e588bfc2abf8.png)

[2015-06-01 17:57] kevindeleon commented on #332
Should this have been closed?  I still think that UITableView is an important feature of iOS that users are accustomed to (swiping to delete, re-ordering, etc), and at the moment ListView just isn't the same thing. This would definitely be a nice feature to have.

[2015-06-01 18:00] jtremback commented on #1451
So, `filename` is used for error messages, and to find `.babelrc`?

[2015-06-01 18:01] sebmck commented on #1451
Yep.

[2015-06-01 18:05] nicklockwood commented on #1402
@alinz, I believe @ide means to use your launchscreen xib to set the RCTRootView loadingView (which you'll still need to do manually). There is no automatic support for doing that (yet).

[2015-06-01 18:07] nicklockwood commented on #1402
To clarify, iOS hides your launch screen at the point when React *begins* loading. To avoid seeing a blank screen, you'll need to extend the time that the launch screen is displayed by manually showing the same view as the RCTRootView's loadingView.

[2015-06-01 18:08] alinz opened #1480 "[Packager] ES6 Modules feature"
One of the feature that I really want to have is the new module syntax in `es6`. By brining Babeljs into the eco system I thought I can use it. Unfortunately,  `es6.modules` are not part of the [whitelist](https://github.com/facebook/react-native/blob/master/packager/transformer.js#L22-L34) :(

To me `es6 module` removes a lot of code and makes the code more readable and clean.

Any thoughts on th

[2015-06-01 18:10] alinz commented on #1402
Thanks @nicklockwood for clarification. That was my bad. :)

[2015-06-01 18:14] danicomas commented on #332
Of course not @kevindeleon . The ListView doesn't looks native! It is an horrible implementation! You know the official response. It is open source. Up to you xD

[2015-06-01 18:18] JohnyDays opened #1481 "[Bridge] Is there a way to guarantee in what order set#propName will be called in a view"
Currently implementing the solution for #1442 proposed by @brentvatne. Tried asking in IRC several times, but got no response.
While I'm at it, here's the current planned (and almost complete, barred by the interaction between changing from local urls to remote urls and etc.) api

[code]

For this I need baseUrl to be resolved before both url and html, and I have found no way to do this explicitly

[2015-06-01 18:27] nicklockwood commented on #1463
Fair enough. It should be fairly simple to add an alternative constructor to RCTBridge that accepts a script string. If you want to make a PR for it, I'm happy to review.

[2015-06-01 18:28] JohnyDays commented on #1481
Don't really see a way to implement this without explicit ordering of the props. Pausing development on this until someone can tell whether this is possible.

[2015-06-01 19:01] JohnyDays commented on #1481
Was told there was no way to do this, there might be another solution though.

[2015-06-01 19:01] #1481 closed

[2015-06-01 19:01] brentvatne commented on #1481
An example of how you might do this @JohnyDays:

[code]

[2015-06-01 19:06] JohnyDays commented on #1481
I need to deal with the transition between ````html/baseUrl```` to ````File/baseUrl```` to ````html/no baseUrl```` to ````file/noBaseUrl(in this case I am infering the base url from the file path)```` to ````remoteUrl````

And having an html(inline) property defined makes url navigation broken, since I can't point the url to a file or remote uri

[2015-06-01 19:11] brentvatne commented on #1481
@JohnyDays - maybe it's easiest for us to collapse all of these options into a `source` prop?

[2015-06-01 19:13] JohnyDays commented on #1481
@brentvatne That would be ideal, although it would change the current api. I'm not sure how much impact that would have

[2015-06-01 19:14] brentvatne commented on #1481
@JohnyDays - let's do that, leave the existing API in place and submit a PR then get some feedback on it - maybe we can leave those props in for a while and deprecate them after a few versions if we decide to go in that direction

[2015-06-01 19:15] jtremback commented on #1479
:+1:

[2015-06-01 19:30] JohnyDays commented on #1481
My IRC isn't working properly, after a few minutes of being logged in I stop both being able to write and read messages, gonna try to fix it soon.
Anyway, I'm implementing it with a source object right now.

[2015-06-01 19:33] mccambridge commented on #476
I seems as if replace suffers from the same issue.

[2015-06-01 20:04] shayne opened #1482 "[ScrollView] Sticky Headers do not handle gestures properly"
**[RCTScrollView] Make ScrollView detect taps on sticky headers #1415** had an unintentional side affect that prevents gestures from being passed to the appropriate parents of a sticky headers.

Prior to #1415, the header would work as expected, but suffered from not being able to receive touches once docked.

**Example:**

A sticky header with a horizontal scroll view that contains TouchableHighl

[2015-06-01 20:13] JohnyDays commented on #1481
Thanks @brentvatne, your suggestions really guided me towards making this work properly. I was clearly overthinking it. However there's still a few edges to be roughed out, should I submit a working, but unpolished pull request to gather feedback?

[2015-06-01 20:26] jaygarcia opened #1484 "[React] Unique "key" pop message. Is there a way to console.log out the offending view?"
I had some code where i got the following message (i've since manually reviewed my code & resolved):

[code]

For newer developers, is there something that can be done to alert them as to the origin of the issue? (class name, method name, etc?)

[2015-06-01 20:26] brentvatne commented on #1481
@JohnyDays - sounds like a great idea :smile:

[2015-06-01 20:29] brentvatne commented on #332
@kevindeleon - let's move discussions about features that aren't on the roadmap for core into here: https://discuss.reactjs.org/t/react-native-components-that-you-want-to-see/523

[2015-06-01 20:32] brentvatne commented on #332
On second thought, this seems to be pretty important to a lot of people so let's just keep it open here

[2015-06-01 20:41] alinz commented on #1479
After some digging I found that JSX transformer is the root cause.

Here's an example:

[code]

is compiles into

[code]

even though I required `react-native` to `Test`, JSX compiler doesn't really care and uses `React` object to create the `View` element.

[2015-06-01 20:51] jtremback commented on #1451
Here are my findings:

The packager will load `.babelrc`, IF `resetCache` is true: https://github.com/jtremback/rnTest3/blob/master/node_modules/react-native/packager/packager.js#L206

I found this out by putting a syntax error in `.babelrc`. However, it will apparently not merge the `whitelist`. Adding and removing transforms has no effect

I'm going to try spoon-feeding the packager a package co

[2015-06-01 20:52] vjeux commented on #529
Agreed. Pull request welcome

[2015-06-01 21:02] sahrens commented on #332
@danicomas: besides missing features, what makes you think ListView doesn't feel native?

[2015-06-01 21:07] vjeux commented on #1472
Thanks for the repro case, I need to investigate what's going on.

[2015-06-01 21:09] vjeux commented on #1365
@mcz: hopefully a month from now

[2015-06-01 21:12] kevindeleon commented on #332
@brentvatne thanks.

[2015-06-01 21:14] vjeux commented on #584
If both props are doing the same thing, we should probably only have one and use the web naming convention.

[2015-06-01 21:15] danicomas commented on #332
@sahrens I had problems in performance with a lot of rows. I have to try the latest version to verify again.

[2015-06-01 21:17] vjeux commented on #1461
@brentvatne: can you consolidate all those issues into one that's about implementing core components on web? Not going to happen anytime soon but should be tracked somewhere

[2015-06-01 21:18] vjeux commented on #898
Yes, we need a better solution...

[2015-06-01 21:21] jtremback commented on #1480
More detail: https://github.com/facebook/react-native/issues/1451

I'm going to just use browserify + babelify before sending files to the packager to get around these issues. I'll post an example in an hour or so.

[2015-06-01 21:21] sahrens commented on #332
Perf is something we're actively working on and isn't as simple as just using UITableView - we need to properly support view recycling at a low level.

Did you try playing with removeClippedSubviews and the various tunable props on ListView like pageSize?  Those were critical optimizations for getting good scroll perf in the Facebook Groups app.

[2015-06-01 21:25] kevindeleon commented on #332
@brentvatne thanks.

@sahrens For me it's less about performance and more about being able provide features that are available in UITableView that aren't readily available in ListView (like swipe to delete, reordering, etc...). ListView is nice, but it's just not the same thing, and it would be nice to have the ability to use either.

[2015-06-01 21:28] alinz commented on #1484
Usually these warnings are very accurate. However if you export your component directly without setting it to a variable and also not set [displayName](https://facebook.github.io/react/docs/component-specs.html#displayname) of the component, debug information won't have enough information to point you to right component. Take a look at the warning code [here](https://github.com/facebook/react/blob

[2015-06-01 21:33] vjeux commented on #1380
Hmm, Can't find variable X is the error message from JavaScriptCore. v8 has the wording: "Uncaught ReferenceError: ListView is not defined"

I'd rather not mess up with those as they are from js itself and you're likely to see them all the time

[2015-06-01 21:34] jwyld opened #1485 "[RCTConvert] +[RCTConvert UIColor:] is not thread safe"
If there are multiple contexts each using their own thread, it's possible to get multiple entering into +[RCTConvert UIColor:] at close to the same time.  colorCache is an unprotected, static cache.  As a result, all threads may attempt to adjust it at RCTConvert.m:586.  NSMutableDictionary is not prepared for such.

[2015-06-01 21:38] #1380 closed

[2015-06-01 21:47] brentvatne commented on #1380
:+1:

[2015-06-01 21:57] jaygarcia commented on #1484
@alinz, makes a lot of sense. I guess the key here is to ensure that you're helping the tool help you ;).

Reminds me of this skit: https://www.youtube.com/watch?v=OHXyVbxijko

[2015-06-01 21:57] #1484 closed

[2015-06-01 23:28] brentvatne commented on #898
PR welcome if someone wants to take a stab at solving this problem!

[2015-06-01 23:30] brentvatne commented on #1479
What use case do you have for using a name other than React? While this isn't ideal I don't think it is really a big issue either :smile: cc. @frantic.

@alinz - If you want to look into it and submit a PR that would be great.

[2015-06-01 23:33] ide commented on #1339
About the scope of constants: The constants are constant within the context of the RCTBridge instance. If you force-quit the app and relaunch it, you might get new values for your constants (ex: one "constant" could be the referrer URL that launched the app, or a timestamp of when the RCTBridge was created). So for this case we absolutely want the constant to be different across devices.

[2015-06-01 23:34] brentvatne commented on #770
Consolidating this issue into #182 :smile:

[2015-06-01 23:34] #770 closed

[2015-06-01 23:34] brentvatne commented on #1461
Consolidating this issue into #182 :smile:

[2015-06-01 23:34] #1461 closed

[2015-06-01 23:41] alinz commented on #1479
@brentvatne I don't have any! I wish I had one! ;)
I don't know whether this PR would be beneficial for anyone, but challenge accepted! :+1:

[2015-06-01 23:41] ide commented on #1429
@bparadie: bundles (I assume you mean JS bundles and not iOS asset bundles) and the web socket executor are independent. You could run a bundle across the web socket executor if you wanted. Best to keep the two concepts separate.

[2015-06-01 23:44] spicyj commented on #1479
We don't intend to support this in the JSX transformer, sorry. We require that you have `React` in scope.

[2015-06-01 23:44] #1479 closed

[2015-06-01 23:44] #1456 closed

[2015-06-02 00:24] jessepollak commented on #1454
Ah, that makes total sense to me. Generations are so cool, didn't know about them before.

I know that this is a common memory issue in JS, but that the JS VM in the browser automatically frees the memory after a while (though it can still consume some while it's waiting to be freed). Could the Apple VM not implement that (seems like a big flaw, but figured I'd suggest).

[2015-06-02 01:09] jessepollak opened #1487 "[Bridge] Deallocating memory when popping ViewController that contains React Native component"
I'm using React Native inside an existing app. I create a `RCTBridge` in `didFinishLaunchingWithOptions`, which I use to initialize `ReactRootView`s in certain ViewControllers (who's only purpose is to show the `ReactRootView`).

I've create a `RCTReactViewManager`, which lets me pop out of those React Views through some View Controller gymnastics (this was the best way I could figure out how to d

[2015-06-02 01:20] brentvatne commented on #858
@paramaggarwal - yeah, depending on your use case that might not be ideal but this seems pretty easy to implement so it's worth a shot :smile:

Please post code here afterwards! I'm curious to see

[2015-06-02 02:22] cxfeng1 commented on #1277
@nicklockwood  Unfortunately the RCTBridge must be initialized on the main thread,  if I preload a bridge in my app delegate,  it will not only block my app's launch but also consume a lot of memory, any advice about this?

[2015-06-02 05:20] paramaggarwal commented on #858
Sure, I'll also look at how I can specify the `css_node->measure` method that css-layout accepts where I can return a height based on a width parameter. Maybe I'm able to implement my original suggestion here myself. :stuck_out_tongue:

Will share code/learnings here. Thanks @brentvatne!

[2015-06-02 08:36] maplebaby opened #1488 "[TabBarIOS] The tintColor attribute of TabBarIOS is not working"
[Bug]The tintColor attribute of TabBarIOS isn't effective！Should it be white？

![2015-06-01 10 11 45](https://cloud.githubusercontent.com/assets/2143705/7931585/57b62200-0944-11e5-8a47-1c6093c7c16a.png)
![ios simulator screen shot 2015 6 1 10 11 15](https://cloud.githubusercontent.com/assets/2143705/7931672/2d47a0ba-0945-11e5-8c11-73bf6e6b5548.png)

[2015-06-02 09:14] maplebaby opened #1489 "[TabBarIOS] How To Hide Tab Bar in Navigation Interface"
[How To Hide Tab Bar in Navigation Interface](http://www.appcoda.com/ios-programming-101-how-to-hide-tab-bar-navigation-controller/)

[2015-06-02 09:26] ranyefet opened #1490 "[TabBarIOS] Customizing TabBar"
Hi guys,

Thanks for the great work!
I've noticed that master includes new useful properties for TabBar.
 - barTintColor
 - tintColor

Is there a way to add the following:
 - Remove the top border
 - Control the label text size & position
 - Control Icon size

Can someone point me to the right direction?

Your help is appreciated
Ran.

[2015-06-02 09:29] 86yankai commented on #1489
+1

[2015-06-02 10:32] JohnyDays commented on #1487
I worked around this problem by instantiating a bridge for every viewController, although you have to pay the startup cost every time

[2015-06-02 10:37] nicklockwood commented on #1277
I'm surprised that RCTBridge blocks your app loading noticably. It's true that it has to be initialized on the main thread, but msot of what it does afterwards

[2015-06-02 11:02] nicklockwood commented on #1277
You can load the bridge whenever you want, it doesn't have to be at app launch time. For example, you might load it on the screen before you present your RCTRootView controller so that by the time the user presses the button to display the React view, it's already loaded the JS. You could then throw it away again if they go somewhere else in the app.

To avoid the additional delay due to the JS ap

[2015-06-02 11:03] unknownexception commented on #1397
@brentvatne it was my message on IRC. I use `Image` a lot in my app and hardly need to somehow control the cache. I've made a PR #1491 but it's a just silly concept. Any thoughts how it could be done without risks to broke something in `<Image/>` for others? I see these options:
1) totally own component as an external library
2) use new `<Image>`  feature "displaying local files". So the part resp

[2015-06-02 11:20] ksokhan commented on #45
+1. Any chance of this? Would be a great to make this into a module.

[2015-06-02 12:29] danicomas commented on #332
I agree with @kevindeleon.

[2015-06-02 14:15] marcshilling commented on #980
@brentvatne I'm working from the current master branch, and defaultSource is not working for me.

Here's my code:
[code]

I use the network link conditioner tool to slow down my internet connection so that I can test this, and the image view remains blank until the URL is loaded, at which point it is displayed. I can confirm my "placeholder" image is working correctly because it is displayed fine

[2015-06-02 14:47] JohnyDays commented on #1439
@tadeuzagallo can I get a hint on where this rule is and how I can disable it? I'm currently using master and even changing this manually would speed up my development. Thanks!

[2015-06-02 14:48] PhilippKrone commented on #1319
@brentvatne I still have this issue, but am not able to make a runnable example.. Any chance to have a discussion, so I can focus my effort here?

[2015-06-02 16:17] cmcewen commented on #1490
You can modify all of those properties natively:
* http://stackoverflow.com/questions/14371343/ios-uitabbar-remove-top-shadow-gradient-line
*https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITabBarItem_Class/index.html#//apple_ref/occ/cl/UITabBarItem

However, since it sounds like you want a really custom TabBar, I'd probably recommend just building your with a Navigator unde

[2015-06-02 16:17] mikelehen commented on #1331
FWIW, @ide's proposal would definitely work for our use case.

[2015-06-02 16:27] brentvatne commented on #1319
@philikon - sure - I've never run into this issue, as per the above comment - if you take out the status bar related code, does it still crash?

[2015-06-02 16:31] mikelehen opened #1493 "[Remote Debugging] Chrome Debugger affects code behavior. (defines navigator.userAgent)"
I ran into a situation where a 3rd-party library was working fine when I had the chrome debugger open, but failed when I ran it normally.

It looks like opening the chrome debugger ends up adding/modifying global state.  In particular, navigator.userAgent is undefined when you run normally but if you have the chrome debugger open, it becomes Chrome's user agent.

I don't know how the chrome debugg

[2015-06-02 16:45] JohnyDays commented on #1493
It actually affects the runtime behavior a lot more than this, since running it on chrome uses google's V8 engine, while the app runtime uses JavascriptCore. I don't know how this would be fixed though, since I don't think the chrome remote debugging protocol supports using a different engine :cry:

[2015-06-02 17:03] PhilippKrone commented on #1319
Yea, its not working without the status bar code as well. It seems like a re-render (either triggered via setState or via forceUpdate()) is resulting in this error stack.

[2015-06-02 17:28] tadeuzagallo commented on #1439
It's set in: https://github.com/facebook/react-native/blob/master/packager/react-packager/src/FileWatcher/index.js#L70, sorry about that, I already know how to fix it, just didn't have the time to do so yet.

[2015-06-02 17:32] brentvatne commented on #1439
Thanks @tadeuzagallo :smile:

[2015-06-02 17:34] brentvatne commented on #1319
I would remove all calls to `forceUpdate` and see if that fixes it

[2015-06-02 17:38] JohnyDays commented on #1439
Had found with with grep, sorry I didn't update this issue. Glad to know I found the right one though :+1:

[2015-06-02 18:05] euforic commented on #1480
@jtremback you can just use the babel cli tool directly to pre-compile, but being able to do this directly in the react-native packager would be much nicer.

Below is an example script I added to my package json to do this.

[code]

Then just make your `index.ios.js` like this:
[code]
__One thing to note:__ Sometimes the react packager runs after the babel compile so you need to save twice to see

[2015-06-02 18:14] philikon commented on #1319
Hi, I think @brentvatne mentioned me by mistake, but I'm happy to chime in:

We use `Navigator.js` heavily in Facebook's Ads Manager app (in fact, that's mostly what it was written for). You can get it to adapt to the varying window height when on a call / tethering / etc. without the need for `forceUpdate` and changing styles:

    <Navigator
      sceneStyle={styles.scene}
      />

with `styles

[2015-06-02 18:21] brentvatne commented on #1482
@nicklockwood - any tips on how I can fix this?

[2015-06-02 18:22] brentvatne commented on #1319
Haha, sorry @philikon I indeed mention you by mistake ;) Best mistake I've made today

[2015-06-02 18:29] stan229 commented on #1493
I'm seeing a similar issue. I wonder if it has something to do with ES6 class usage?

![jun 02 2015 14 25](https://cloud.githubusercontent.com/assets/454130/7943582/5a4a4930-0933-11e5-8385-9ad013ce2c6b.gif)

[2015-06-02 18:43] JohnyDays commented on #1493
ES6 classes are supported by the packager AFAIK, but some other ES6 features aren't
The full list of supported features is here https://facebook.github.io/react-native/docs/javascript-environment.html#content
All of them are supported in master, because it's using babel.

[2015-06-02 18:44] jaygarcia commented on #1493
I am using es6 classes with .4.4 and don't see that problem

JG

:: @moduscreate

:: sent from my mobile device ::

[2015-06-02 18:45] stan229 commented on #1493
Is there anywhere I can set breakpoints to see if JavascriptCore is failing on some bit of code? Not seeing anything in the console output of Xcode.

[2015-06-02 18:54] cmcewen commented on #1488
I just cloned fresh from master and it works fine for me - are you using the latest version?
![screen shot 2015-06-02 at 2 53 00 pm](https://cloud.githubusercontent.com/assets/1307633/7944183/30cdc39e-0937-11e5-917a-932cb8889454.png)

[2015-06-02 19:01] srameshr opened #1494 "[Troubleshooting] Syntax Error! New to objective C"
Hi Find objective-C syntax really confusing. When I try to run a fresh project, I get this error:

[code]
[code]

[2015-06-02 19:09] alinz commented on #1480
@euforic I rather modify packager/transformer.js and add `'es6.modules'` into the whitelist than go through all these hacks. I wish we could override the whitelist with `.babelrc`. crossing finger to see this feature soon.

@jtremback any news on your side? Do you think we might be able to override whitelist with `.babelrc` file?

[2015-06-02 19:16] alinz commented on #1494
@srameshr can you provide more info. Such as what are your step to create a project,  which node version are you using? which version of react-native have you installed? Do you get any warnings or errors during creation of any react-native project?

[2015-06-02 19:17] hharnisc opened #1495 "[JS Polyfills] Can't find variable: document (potential need for document polyfill)"
It's understood that React Native doesn't have a document because it eliminates the need for it with native components. However, there are some cases where the `document` is needed by 3rd party node modules and Javascript components that rely on the `document` for initialization purposes. An example of this would be bundled up `Meteor` frontend code that provides communication with the backend (no

[2015-06-02 19:19] brentvatne commented on #1494
@srameshr - What XCode version?

[2015-06-02 19:30] srameshr commented on #1494
node 0.10.30
react-native the latest version
I dont get any warnings what so ever while creating
XCode 5.1.1

[2015-06-02 19:30] vjeux commented on #1495
Looks like the only reason meteor relies on document is to figure out when the dom is loaded. In React Native there is no such concept, you can just start running your code right away.

I don't think it's a good idea to add this in react native. I would much rather have meteor update their code and if they don't find addEventListener and readyState then just execute the code right away

[2015-06-02 19:31] stan229 commented on #1493
I'm not sure if I'm hunting in the right place but I tried to set some breakpoints on javaScriptDidLoad and bundleFinishedLoading in RCTRootView. They only fire after I enable Chrome debugging.

I thought it was could have been my simulator settings forcing debugging so I reset the sim, but still seeing the same results.

[2015-06-02 19:32] ide commented on #1495
My thinking is that events like 'readystate' and the notion of a document are auxiliary concepts to RN and would better be provided by an npm package if polyfilling `document` is the best direction.

[2015-06-02 19:36] jtremback commented on #1480
@euforic I tried that, had some other issues, specifically around Babel runtime. I could look into it more, but I'm just going to try to get some work done with the packager as-is for now. Having Browserify concatenate it doesn't work because of the native modules.

@alinz see this: #1451

`.babelrc` behavior is very erratic.

[2015-06-02 19:39] hharnisc commented on #1495
Agree with you @ide - especially since the JS runtime is ready immediately (good to know @vjeux!). Pulling the polyfill via NPM package would be great. I think the firebase community was dealing with this as well, and seems like one potential first point of friction for new framework communities exploring React Native.

[2015-06-02 20:00] sahrens commented on #332
Yup, totally agree on more features being needed, just wanted to make sure there wasn't anything else broken ;)

[2015-06-02 20:02] sahrens commented on #1397
You can also add a cache buster to the url from JS - not super elegant, but might work with no native changes?

[2015-06-02 20:08] amasad commented on #646
Try the comment here https://github.com/facebook/react-native/issues/521#issuecomment-104731068

[2015-06-02 20:12] amasad commented on #1430
I'm not familiar with the tradeoffs here. I'll leave it to @frantic

[2015-06-02 20:13] amasad commented on #1427
Thanks. fseevents is terrible

[2015-06-02 20:14] amasad commented on #1431
huh, can you add test case? A specific npm module?

[2015-06-02 20:18] amasad commented on #1437
I have a diff that will land by next diff. It's what we discussed before, @ide. The packager will only scan react-tools and react-native for providesModule, other modules will use node module resolution. As a bonus, node module resolution will be lazy, and should speed up server start up (internally that went from 20s to 15s).

Working on more speed ups and trying to contain Facebook JS infra funk

[2015-06-02 20:18] josebalius commented on #1431
@amasad I will try to get a test case for you.

[2015-06-02 20:20] amasad commented on #277
What I meant, is that it's easy to implement a websocket server without node c/c++ extensions. And I don't know why they have to be native. Anyways, I'm just being pedantic :P

[2015-06-02 20:20] #277 closed

[2015-06-02 20:35] alinz commented on #1494
@srameshr Is there any reason that you stick with old xcode?

[2015-06-02 20:53] uber5001 commented on #1431
In my case, I init the project:

    react-native init AwesomeProject
    cd AwesomeProject
    npm install reflect-metadata

and add this line below the first require in index.ios.js:

    require('reflect-metadata');

Which causes the error described above when run in XCode.

This error can be fixed by adding newlines:

    find node_modules/reflect-metadata -name "*.js" -type f -exec sed -i ''

[2015-06-02 20:58] amasad commented on #1098
Yeah, too noisy, we also have a few "unresolved" requires in core. warning for custom! resources sounds good.

[2015-06-02 21:06] brentvatne commented on #1494
@srameshr - update XCode to 6.3, that should fix your problem :smile:

If it doesn't, ping me and I'll open this issue up again.

Also, I updated the docs to indicate the recommended XCode version here: https://github.com/facebook/react-native/commit/613e561751db09a82d12137790310da1278ddcb3

[2015-06-02 21:06] #1494 closed

[2015-06-02 21:06] amasad commented on #1451
Yeah, you need to reset the cache when changing anything about the compiler. Any ideas of how we can incorporate .babelrc in the cache hash?
https://github.com/facebook/react-native/blob/master/packager/react-packager/src/JSTransformer/Cache.js#L160-L170

[2015-06-02 21:09] amasad commented on #341
Next sync a speed up will land which will make node_modules dependency reading lazy, i.e. unless you require a node module, that file will not be read.

[2015-06-02 21:10] amasad commented on #441
nice shortcut!

[2015-06-02 21:11] amasad commented on #441
let's merge this with #1098

[2015-06-02 21:11] #441 closed

[2015-06-02 21:12] amasad commented on #1451
Also should we mention `.babelrc` in the docs?

[2015-06-02 21:18] amasad commented on #395
wrt consuming source maps. Now, if you return a `map` from your transformer the packager would use it to generate the end source map

[2015-06-02 21:22] amasad commented on #363
@jsierles no. Go for it!
I'd like to know your use case, I'm curious.

[2015-06-02 21:27] amasad commented on #628
Going to close because it's not really actionable (we can continue to discuss). Let's revisit if once we have a plan to address the issues above.

[2015-06-02 21:27] #628 closed

[2015-06-02 21:29] amasad commented on #1451
@sebmck do you have any ideas on how to override the whitelist via babelrc?

[2015-06-02 21:33] amasad commented on #637
I thought we supported this use case. Thanks

[2015-06-02 21:34] amasad commented on #274
FYI the packager can now consume `map` sourcemaps returned from the transformer script

[2015-06-02 21:40] alinz commented on #1490
You can also use the open source extension of Tab bar such as [react-native-icons](https://github.com/corymsmith/react-native-icons#custom-tab-bar) if you don't want to extend it yourself.

[2015-06-02 21:43] amasad commented on #462
I believe babel does simple dead code elimination now cc @sebmck

[2015-06-02 21:45] amasad commented on #389
@jsierles don't most async JS loaders do xhr+eval? I'm sure require.js and webpack do. The old ones too (like LAB.js etc)

[2015-06-02 21:48] sebmck commented on #462
@amasad Yup, through the optional `minfication.deadCodeElimination` and `minification.inlineExpression` transformers. Babel actually implements a JavaScript interpreter for expressions which I'm hoping to extend to statements in the future to allow some extremely awesome constant folding.

[2015-06-02 21:51] sebmck commented on #1451
@amasad Babel actually has it's own cache [here](https://github.com/babel/babel/blob/master/src/babel/tools/resolve-rc.js#L6-7) for performance. So changes to `.babelrc` wont be reflect without a complete restart. There's currently no way to override specific options. The current `.babelrc` behaviour is pretty weird, it merges all parent configs which is kinda nasty. Hoping to make it more inline

[2015-06-02 21:55] alinz commented on #1474
Hmm... one of the benefit of using JSX is to write a very complex component in a declarative way. So I don't mind having a JSX compiler.

React and React-Native have other things in commons. Such as Component Life Cycle, triggering and registering events, and architecture. So in my point of view, having a DOM namespace make sense to differentiate the Web and Mobile devices.

I'd love you hear from

[2015-06-03 00:27] stan229 commented on #1493
Turns out it was a const keyword!

If you look at this page you'll see that const in strict mode is not supported by iOS 8 (JavascriptCore).  It does work if you're not using strict mode. In my case, I was in strict mode.
https://kangax.github.io/compat-table/es6/#ios8

@mikelehen see if you're using that anywhere.

[2015-06-03 00:36] umhan35 commented on #1474
@alinz Without JSX, it can be declarative too in CoffeeScript. It's just an alternative. Thanks for the points in second paragraph.

[2015-06-03 00:37] umhan35 commented on #1474
cc @vjeux because of this post: http://blog.vjeux.com/2013/javascript/react-coffeescript.html

[2015-06-03 00:50] ide commented on #1474
Why do you need React.DOM?

[2015-06-03 00:56] umhan35 commented on #1474
Because I don't need to create short-hand factory functions for each component when I want to use them declaratively without JSX.

The name of `DOM` is questionable.

[2015-06-03 00:57] vjeux commented on #1474
You can do

[code]

to use React Native without JSX

[2015-06-03 01:03] vjeux commented on #1474
You could do at the top of the files,

[code]

Not as pretty but still quite elegant

[2015-06-03 01:09] ide commented on #1474
Providing React.DOM doesn't really solve the problem because there's still the problem of creating elements for third-party components. Probably best to write your own helper like this:

[code]

[2015-06-03 01:17] umhan35 commented on #1474
@vjeux As you said, it's not pretty... As you have more components, the clutter `c` adds up.

@ide The built-in components are used far more often than third-party components. So, it's very convenient to have React.DOM. Third-party components should usually be used in one place (if a third party component is used everywhere, probably we should incorporate in core), so using `React.createFactory` i

[2015-06-03 01:44] ide commented on #1474
@vjeux and co. have the final say but I don't think it makes sense to add this to the core for a couple reasons. It's confusing if core components behave differently even though they otherwise look the same as third-party components. Also while totally ubiquitous components like Text and View belong in core, the majority of the other components in this repo aren't very different from third-party c

[2015-06-03 02:00] umhan35 commented on #1474
@ide Sorry, I don't quite understand. Why would adding `React.DOM` make it "confusing if core components behave differently even though they otherwise look the same as third-party components". If a third-party component has the same look as a built-in view, their different names can help differentiate them. I also didn't catch this: "the majority of the other components in this repo aren't very di

[2015-06-03 02:01] AdamBrodzinski commented on #1495
+1 I think having an NPM based polyfill that other 3rd party modules (like Firebase, Meteor, etc..) can all use sounds like a fairly good solution!

[2015-06-03 02:26] ide commented on #1474
Take a handful of components: View, Image, Camera, ListView. It's not intuitive to identify which ones let you write `Component({style: ...}, child1, child2)`.

My point is that I wouldn't be able to tell you that ListView or Navigator are first-party components while Camera or Video are third-party components without background knowledge. There's nothing intrinsic to these components that warrant

[2015-06-03 02:40] cxfeng1 commented on #1277
@nicklockwood Thanks for your advice, In my case,  the RCTRootView must be preloaded at app launch time, but my app is a pretty large app which is very sensitive about what can be done at  launch( RCTBridge's setup method now takes about 500ms,  it must be called on main thread, and if the bridge is not initialized, the JS can not be downloaded and loaded.)

So I'm looking forward to a setup API

[2015-06-03 03:01] umhan35 commented on #1474
Um... Mixing JSX and non-JSX is a bad practice. When `require`ing them (either from `React` or `React.dom`), we already know how to use them (either `<Component>` or `Component style: ...`).

Again, mixing JSX and non-JSX is a bad practice. If someone sticks to JSX, all components should be imported from `React` rather than `React.DOM`. If someone sticks to non-JSX and want to import third-party c

[2015-06-03 03:20] ide commented on #1474
This is a good idea. I just think it should be applied uniformly across all composite components. I'm not proposing to mix JSX and non-JSX; what I'm trying to say is that mixing uppercased composite-component classes and composite-component factories makes things more confusing. Maybe there should be lowercased `<view>` and `<text>` that act as primitive components, but I think it's easier to expl

[2015-06-03 05:05] grabbou commented on #1365
@vjeux React Europe deadline? :dart:

[2015-06-03 05:06] grabbou commented on #1365
On a side note - having something with a POP similar API would be very beneficial to those who are already familiar with your animation library when writing native apps in the old way!

[2015-06-03 06:11] ide commented on #1495
@hharnisc, @AdamBrodzinski - is this something you guys want to explore? Since you have a real use case for it I imagine you'll be able to make more progress on it than people who don't.

[2015-06-03 07:37] jeanregisser opened #1499 "[CLI] react-native bundle --minify fails with es6 for..of syntax"
[code]

I tried it on react-native 0.4.4, 0.5.0-rc1 and the latest master.
Works fine with no minification.

[2015-06-03 08:17] JohnyDays commented on #1493
Cool! This will be supported once babel lands though. (Already in master if you wanna live on the edge)

[2015-06-03 11:55] grabbou commented on #193
What I am doing in my current project (highly inspired by React source code) is...

[code]

Function expressions are definitely something worth exploring, especially when we consider writing `media-query` like stylesheets that export different properties depending on the device width.

[2015-06-03 11:55] grabbou commented on #321
I am reserving this!

[2015-06-03 12:07] grabbou commented on #321
@brentvatne, thanks for the label! Reserving as it seems nobody is currently working on it.

[2015-06-03 12:08] magicismight opened #1501 "[ScrollView] Warning: ScrollView doesn't take rejection well - scrolls anyway"
I put a ScrollView inside another ScrollView.
When I scrolled,It will give a warning: `Warning: ScrollView doesn't take rejection well - scrolls anyway` ,and sometimes the ScrollView inside will jump to the top or bottom.

[2015-06-03 13:05] jsierles commented on #363
For the [React Native Playground](https://rnplay.org), we're running the packager along side different versions of React Native. Having the packager separate would make it easier to test changes there without having to upgrade react-native itself, and vice-versa.

[2015-06-03 13:18] jsierles commented on #389
@amasad yep they do. I think what jhdxr meant was loading an whole new app bundle, replacing the current one. I tried this by evaluating fetched javascript in a simple test in React Native and nothing happened. No console output, nor did the app reload. It was not a very good test, I'll admit, so might be worth looking into more.

That said, loading a new js context works pretty well for us. [Here

[2015-06-03 13:55] bretrouse opened #1502 "[Docs] How to upgrade React Native version (original: How do you update a React Native app with the latest version of React Native?)"
The title says it all.

[2015-06-03 14:15] ranyefet commented on #1502
did you try running ```npm update```?
also make sure to re-run the packager and re-build the app after updating.

[2015-06-03 14:23] bretrouse commented on #1502
when you say re-run the packager, do you mean to init a new project?

[2015-06-03 14:28] jaygarcia commented on #1493
Living on the edge with This project can cause bleeding sometimes. :)

John, any idea when the next version of RN will be cut?

@stan229, please feel free to close this issue.

[2015-06-03 14:58] JohnyDays commented on #1493
I'm bleeding a bit from living on the edge, but nothing that's unsalvageable with responsible use of shrinkwrap and testing :+1:
@jaygarcia No idea, I'm not on the core team, but I'm sure 0.5.0 is soon to be released (you can already use the rc)

[2015-06-03 15:05] stan229 commented on #1493
@jaygarcia can't close as I kind of highjacked @mikelehen original post. Hopefully this thread helps him out.

[2015-06-03 16:09] urbien commented on #676
unresolved issue is with a [good source of randomness, see the issue we opened for it](https://github.com/facebook/react-native/issues/1189)
Can anyone help?

[2015-06-03 16:15] vjeux commented on #1499
This is an issue with uglify-js. Do you mind reporting it there? https://github.com/mishoo/UglifyJS2 Thanks!

[2015-06-03 16:52] marcshilling commented on #980
Another thing I discovered - this for some reason works on the iPhone 4s simulator, but not any of the other ones...

[2015-06-03 16:58] vjeux commented on #1499
Oh, actually nevermind I'm wrong. We made the switch to babel but we haven't enabled the `for of` transform yet. I just updated the es6 docs that were wrong, they [indicated that we supported `for of`](https://github.com/facebook/react-native/commit/b63a0a111dcb88a9f568f8c24475b511a5741f54):

http://facebook.github.io/react-native/docs/javascript-environment.html#javascript-syntax-transformers

No

[2015-06-03 17:00] brentvatne commented on #1502
I update the package.json to point to the specific version that I want then do `npm install` again

[2015-06-03 17:00] jeanregisser commented on #1499
Ok good! I'm closing this then.

[2015-06-03 17:10] brentvatne opened #1504 "[Text] Transparency requires backgroundColor: 'transparent'"
Edit: this was originally posted for Image, which turned out to not be a bug, but @jsierles pointed out an issue with Text that is related and being followed up on here.

## [0.4.4](https://rnplay.org/plays/28pp0A?autoplay=true)

![screen shot 2015-06-03 at 10 07 16 am](https://cloud.githubusercontent.com/assets/90494/7966351/5d3796b6-09d8-11e5-9d40-5328f6df3738.png)

## [master as of b63a0a](http

[2015-06-03 17:54] bretrouse commented on #1502
Thanks Brent, but will that pickup changes to iOS files? I think it would just affect the node_modules/react-native/* correct?

[2015-06-03 17:55] bretrouse commented on #1502
I guess what I'm looking for is a `react-native update AwesomeProject` command but I think it all has to be done manually right now. I've been creating a new project and copying files over.

[2015-06-03 18:55] brentvatne commented on #1502
@bretrouse - yup the iOS files will update too, you might have to restart Xcode to be safe. You will occasionally run into problems if new modules are renamed eg: when websocket was added, the included project was renamed from `RCTWebSocketDebugger.xcodeproj` to `RCTWebSocket.xcodeproj`, but for the most part it will just work because it will just be referring to `React.xcodeproj` and other requir

[2015-06-03 19:17] brentvatne commented on #1502
@bretrouse - you raise a good point though, this should be made clear in the docs

[2015-06-03 20:34] amasad commented on #1055
Fixed this internally, should go out in the next sync. Sorry for the delay.

[2015-06-03 20:35] mvayngrib commented on #1055
awesome!

[2015-06-03 21:07] amasad commented on #1431
I can't replicate this with the latest react-native. Which version are you using?

Latest uses Babel transformer and we don't print the comments, which I think is the problem in this case. If there is a comment at the last line then it would cause a problem. I'll fix this by adding a newline, but I'm just curious about if you're using babel or are you at an older version?

[2015-06-03 22:09] amasad commented on #1431
Landed a fix for this internally. Meanwhile until the next sync you can update to start using babel which shouldn't be an issue with it.

[2015-06-03 22:46] alinz commented on #456
@brentvatne @chadobado Do you guys know why animation doesn't work for transition from opacity 1 to opacity 0. The interesting thing here is it works perfectly fine when you want to transit from opacity 0 to opacity 1. I just want to do fade in and fade out.

[2015-06-03 23:41] rt2zz commented on #1195
Redefining `enableHighAccuracy` makes sense, and then potentially exposing seperately an `accuracy` option.

Because we are following the html geolocation api, this seems to be about the best mapping possible. If someone needs a more ios specific solution, I imagine that could live as a seperate module.

I implemented specifically the background(mode) option in https://github.com/facebook/react-na

[2015-06-04 00:05] amasad commented on #393
This is now fixed, if you return a `.map` property from your transformer the packager will use it and combine it with other sourcemaps. See:
https://github.com/facebook/react-native/blob/8b93b99d4a769f86fffc95d65434f2f6a3fd827d/packager/react-packager/src/Packager/Package.js#L37-L41

[2015-06-04 00:05] #393 closed

[2015-06-04 00:42] amasad commented on #773
Fixed this internally, should land next sync.

[2015-06-04 01:13] jonslenkooyala opened #1507 "Canonical way to be 'invisible' to touches / forward / delegate responder?"
hi. I have a top layer view that is getting the touch, and I would like it to /not/ be involved at all in the touch handling -- have the events go to the views underneath. What is the "standard" way this should be coded when using react-native? Thank you.

[2015-06-04 01:27] ide commented on #1507
You should use pointerEvents: https://facebook.github.io/react-native/docs/view.html#pointerevents

[2015-06-04 01:27] #1507 closed

[2015-06-04 02:07] jtremback opened #1508 "[Text] String displayed in Text view only updates when number of characters changes."
In https://github.com/jtremback/CodePathRN, I am incrementing a value and displaying it in a Text element. It exhibits this weird behavior:

![image](http://i.imgur.com/N6GspuQ.gif)

Here's the `render` method:

[code]

[2015-06-04 02:12] jtremback commented on #1508
Update: Adding some random characters, I see that this has to do with the size of the text contained. When the number of characters changes, the view updates.

[2015-06-04 02:14] ide commented on #1508
cc @a2 @nicklockwood

[2015-06-04 02:15] dvine-multimedia commented on #521
@larsvinter
+1. Works like a charm.

[2015-06-04 02:35] maplebaby commented on #1504
Good jobs！

[2015-06-04 02:41] maplebaby commented on #1488
Yes it is when clone the master。

[2015-06-04 03:30] dvine-multimedia opened #1509 "[TextInput] border formatting bug"
For a TextInput with multiline={ false } formatting a specific border (e.g. borderBottomWidth, borderLeftColor etc.) doesn't work.

Formatting all four border with borderWidth, borderColor etc. does work. If you make the input multiline, then single border formatting works as well.

[2015-06-04 04:32] #1488 closed

[2015-06-04 04:32] ide commented on #1488
Thanks for chiming in @cmcewen

[2015-06-04 07:19] cincas opened #1510 "Embed React Native to existing app failed"
Hi everyone,

We're trying to use ReactNative as part of our app and I was going through the documentation recently.

Tried example project EmbeddedReactNative, works fine, but it is using 0.2.*

Tried to do same thing in latest version (0.4.4), keep getting error msg as following:
[code]

Is there any step I miss?
Maybe it is worth to update the example project or documentation at here: http://fa

[2015-06-04 08:01] nicklockwood commented on #1508
The fix for this was included in Tuesday's update, so if you upgrade to the latest release it should now be working correctly.

https://github.com/ericvicenti/react-native/commit/49e87af934b8060858a8b0e3e1b03b690470b1e8

[2015-06-04 08:11] cleercode opened #1511 "[WebView] Expose scalesPageToFit"
iOS `UIWebView` has a `scalesPageToFit` property that scales the non-mobile web content down to fit in the web view.

[2015-06-04 08:34] cincas commented on #1510
turns out I made a very stupid mistake. pls ignore this.
Sorry gusy

[2015-06-04 08:53] #1510 closed

[2015-06-04 09:25] jaywalklabs commented on #1378
any plans for get this fix in for 0.5?

[2015-06-04 10:04] nicklockwood commented on #1509
This isn't exactly a bug, more like a policy decision we haven't made yet. The question is - should we expose border drawing on every component, or just on `<View>`, and require that you use composition  (or even remove it from `<View>` and add a new component called `<BorderView>`).

Happy to hear your thoughts on the matter.

[2015-06-04 12:26] dvine-multimedia commented on #1509
@nicklockwood
That is an interesting decision to make. Coming from the web I operated under the assumption that a box is a box is a box. This is a very simple and intuitive paradigm.  The question is, if it to difficult or cumbersome to enforce that for every component. React composite components shouldn't be a problem, because they always will have an outer View. So it's the native ones that coul

[2015-06-04 13:15] oveddan commented on #1472
@vjeux I have some time to work on this.  Want me to take a stab?

[2015-06-04 13:16] vjeux commented on #1472
@oveddan: would be awesome yeah!

[2015-06-04 13:57] chumster opened #1512 "[package.json] npm (2.10.1) chokes on package.json when installing the examples"
this fixed it:

"sane": "git://github.com/tadeuzagallo/sane#a029f8b04a",
"stacktrace-parser": "git://github.com/frantic/stacktrace-parser#493c5e5638",

[2015-06-04 14:55] MossP commented on #1188
Care to share your solution?

[2015-06-04 15:00] MossP commented on #1188
For anyone else, it looks like this is the solution. The fetch function was taken straight from here.
https://github.com/github/fetch

[2015-06-04 16:46] brentvatne commented on #1512
Interesting, in a recent commit I changed this to specifically not include the git schema

@chumster - does `npm i tadeuzagallo/sane#a029f8b04a` work for you?

[2015-06-04 16:49] brentvatne commented on #1512
With latest npm `2.7.5` as well as `1.x`

[2015-06-04 17:02] uber5001 commented on #1431
I'm using

    react-native-cli@0.1.3
    react-native@0.4.4

Which are the most recent versions on npm.

[2015-06-04 17:32] marcshilling opened #1514 "[ListView] Some props not having any effect"
Here's my render method, a simple ListView (contained within a NavigatorIOS and TabBarIOS):
[code]

The particular props I'm having issues with are contentOffset and scrollIndicatorInsets. Whatever values I pass these props, I see no changes upon reloading.

My other issue - for some reason the `onScrollEndDrag` prop function is not called on the iPhone 4S simulator. It is called on all the other

[2015-06-04 17:36] marcshilling opened #1515 "[Image] iPhone 4s Simulator unable to render <Image> with .jpeg extension"
[code]

Image is loaded fine on every simulator except iPhone 4s.

[2015-06-04 17:41] marcshilling opened #1516 "[Image] "defaultSource" prop not working"
Duplicate of #980, but my post there wasn't getting any love.

Here's my code:
[code]

I use the network link conditioner tool to slow down my internet connection so that I can test this, and the image view remains blank until the URL is loaded, at which point it is displayed. I can confirm my "placeholder" image is working correctly because it is displayed fine when I do:

[code]

Did this break

[2015-06-04 17:58] jsierles commented on #1504
For a text element, even with 'transparent' set, the background on master is white.

Working on 0.4.4: https://rnplay.org/apps/pIEhKg
master: https://rnplay.org/plays/PCqivA

[2015-06-04 18:54] brentvatne opened #1518 "[Inspector] Render inspector UI over status bar"
![](http://url.brentvatne.ca/128yc.png)

I don't think there is a lot of value in keeping the status bar around when the inspector is open, what do you think about saving the status bar state before opening and hiding it when the user closes the inspector?

[2015-06-04 19:29] brentvatne commented on #399
For future reference, if you don't want to use controlled, another way to clear is to set a ref on the TextInput then call `this.refs.yourTextInputRef.setNativeProps({text: ''})`

[2015-06-04 19:53] rxb commented on #1501
Is it a vertical + horizontal combination or two ScrollViews scrolling on the same axis?

[2015-06-04 20:23] ide commented on #1518
We should render the inspector UI on top of the status bar (window level + 1).

[2015-06-04 21:43] amasad commented on #1431
There should be a v0.5.0-rc release.

[2015-06-04 21:55] amasad commented on #363
I tried to keep it as decoupled as possible, so it shouldn't be too hard. Happy to help.

[2015-06-04 21:58] marcshilling commented on #1024
I definitely have a need for this. And not just title - also the ability to dynamically update the left/right buttons from the current route component

[2015-06-04 21:58] amasad commented on #389
Oh cool. cc @philikon who could be interested in this.

[2015-06-04 22:01] amasad commented on #462
@sebmck This is awesome! Can you give an example of the awesome constant folding that would require understanding statements?

[2015-06-04 22:13] sebmck commented on #462
@amasad

What I really want to do is statically execute functions so turning:

[code]

into:

[code]

Similarly, I've got this currently working in a Babel branch:

[code]

to

[code]

But it's pretty naive and there are a lot of edgecases that aren't handled which is why it's turned off.

[2015-06-04 22:23] grabbou commented on #1024
Currently I've just put all the stuff into a separate routing factory that has all the possible components defined upfront so displaying a new route is as easy as calling `this.navigateTo('route')`, but I am happy to work on few improvements on `NavigatorIOS` to bring more `UINavigationController` goodies. The issue seems to be somewhere at the bottom of the priority list, so let's talk about this

[2015-06-04 22:27] marcshilling commented on #1501
I get this warning randomly even without nested ScrollViews. No clue what it means.

[2015-06-04 22:29] brentvatne commented on #1518
@ide - even better

[2015-06-04 22:43] uber5001 commented on #1431
I'm now at:

    "dependencies": {
        "react-native": "^0.5.0-rc1",
        "reflect-metadata": "^0.1.0"
    }

Nothing seems to have changed. Still getting the error when `reflect-metadata` hasn't been modified with new newlines at the ends of its .js files.

[2015-06-05 00:51] brentvatne commented on #332
@sahrens - it looks like [removeClippedSubviews on ScrollView](https://github.com/facebook/react-native/blob/master/React/Views/RCTScrollView.m#L380-L383) does nothing, only on `RCTView`. ScrollView seems to pass that prop on to each row, which if I understand correctly doesn't do much to reduce memory footprint of a long ListView. I've noticed this while working on the React Native Playground app

[2015-06-05 01:27] skyline75489 commented on #1489
+1.

[2015-06-05 01:39] rxb commented on #1362
@brentvatne I managed to get some pretty good scroll-snapping action going by adding some code to scrollViewWillEndDragging in RCTScrollView.m . As far as I can tell, it's bad news to try to take control of the scroll with JS once the ScrollView is moving. Jumping in to redirect the place where the contentOffset lands in the objective-c feels a million times nicer. Here's a video of it in action w

[2015-06-05 03:02] brentvatne opened #1519 "[NavigatorIOS] Move to OSSLibraries folder"
In order to be able to better support community contributions and make clear that this library is not currently a priority for Facebook, the plan is to try moving this component to a separate directory that is not managed in the same way by the sync process.

1. Move `NavigatorIOS.ios.js` to new folder `OSSLibraries/NavigatorIOS/NavigatorIOS.ios.js`
2. [RCTNavigator code](https://github.com/facebo

[2015-06-05 03:34] sahrens commented on #332
cc @nicklockwood

[2015-06-05 03:59] flashlizi opened #1521 "[View] Inconsistent implementation of View between dev and prod"
The export of class `View`:

*  on `dev=true` - class `View` exports as `ReactClassMixin + ReactComponent`
* on `dev=false` - class `View` exports as  `ReactIOSNativeComponent` (ReactMultiChild + ReactIOSNativeComponent.Mixin + NativeMethodsMixin + ReactIOSComponentMixin)

I think this is because of performance. But when we use `ref` to get a reference to a component, it returns different things o

[2015-06-05 04:10] ide commented on #1521
@flashlizi could you tell us some of the inconsistencies that are giving you trouble?

[2015-06-05 04:13] sahrens commented on #1504
I'm confused - what's broken exactly?

[2015-06-05 04:25] ide commented on #1504
@sahrens the image is a transparent PNG and React Native is rendering it with a white background instead of a transparent one (presumably inherited from the background color of an ancestor view).

[2015-06-05 04:29] sahrens commented on #1504
@nicklockwood - your stuff?

[2015-06-05 05:35] TYRONEMICHAEL commented on #1362
That is awesome. I would love to take a look how you implemented it in RCTScrollView. Do you have it up on a repo yet? Exactly what I was looking for.

[2015-06-05 05:53] flashlizi commented on #1521
For example, In some case I would like to get the current `ReactElement` of a component, usually I can use `component._currentElement` to do so, but:

[code]

[2015-06-05 06:05] ide commented on #1521
@spicyj any thoughts? or know how to get the current element from a component (or if that's something intentionally kept private because it will break in React.next?)

@flashlizi my suggestion for the short-term (since you are using a private API) is to write a helper function that smooths over the differences. But this might break in a future version of React...

[code]

[2015-06-05 06:06] brentvatne commented on #1362
@rxb - that looks so cool! If you'd like to put together a PR for it, that would be much appreciated :smile:

[2015-06-05 06:45] flashlizi commented on #1521
@ida  This is always a risk, It's better to smooth all the differences.

[2015-06-05 07:02] spicyj commented on #1521
Instead of rendering `<Monkey ref="monkey" color={this.state.color} />` and accessing `this.refs.monkey._currentElement.props.color`, just access `this.state.color` (for example). We don't have an API for getting the element because it's already exactly what you returned from render. If you really need a copy of the element itself, you can even store it on your instance (`this.foo = <Foo />; retur

[2015-06-05 07:04] oveddan commented on #1472
:+1:

[2015-06-05 07:22] ida commented on #1521
@flashlizi: I think you accidentally pinged me, just saying, so @ide doesn't miss anything :-)

[2015-06-05 07:30] nicklockwood commented on #1504
@ide yes, this is expected behavior - it's an optimisation to resuce blending. Try setting the background color of the `<Image>` explictly to transparent and it shouldn't do this (if it still does then it's a bug).

[2015-06-05 07:34] wingofshadow commented on #1489
I hide the tabbar with toggle the hidden property of the tabbar in tabBarController,but when i swipe back,the animation effect in tabbar disappears.Looking forward to a better hack.

[2015-06-05 08:10] ide commented on #1504
@nicklockwood OK, makes sense and is consistent with Text nodes if I'm not mistaken.

I believe @jsierles has found a different bug here, where the Text node in `<Image><Text style={{background: 'transparent'}}>Words</Text></Image>` is rendered with an opaque background.

[2015-06-05 09:21] piyushchauhan2011 opened #1523 "[fetch] Integrating devise-token-auth with react-native using fetch ?"
I want to integrate devise-token-auth with react-native.

[code]

Unable to post the json in correct format, am I doing something wrong ?

### There is very less documentation on fetch api

[2015-06-05 15:25] rxb commented on #1362
@brentvatne Awesome! I'll do it. Looks like ScrollView might be broken right now on master? Can't scroll even normally and getting a red outline around my ScrollView.

@TYRONEMICHAEL You can see the additions here: https://github.com/facebook/react-native/compare/master...rxb:snap .

[2015-06-05 15:58] #1514 closed

[2015-06-05 15:59] marcshilling commented on #1514
Closing this - weird behavior from my react fork

[2015-06-05 16:13] johanneslumpe opened #1526 "[Packager] RCTPOPAnimationManager.js - syntax error after conversion with babel"
In [Libraries/BatchedBridge/BatchedBridgedModules/POPAnimation.js](https://github.com/facebook/react-native/blob/master/Libraries/BatchedBridge/BatchedBridgedModules/POPAnimation.js#L20) the following  block is invalid after transpiling it with babel:

[code]

It will turn to
[code]
resulting in a syntax error because of the broken `moule.exports` assignment.

[2015-06-05 16:17] christopherdro commented on #1523
Your missing the proper headers.
Should look something like this...
[code]

[2015-06-05 16:59] brentvatne commented on #1362
@rxb - try restarting Xcode and packager. if that doesn't fix it, vjeux/react-native#a5cabd17 works fine, just tried it

[2015-06-05 17:00] brentvatne commented on #1362
@rxb - one thing I didn't see there in the video, can you cancel the snap by starting to scroll again? That's something that's very missed from the current snap implementation

[2015-06-05 17:13] sahrens commented on #1504
Text is weird - it has backgroundColor, which refers to the actual area where there is text, and backgroundContainerColor, which is the background color of the UIView that hosts the text...I'm thinking that might have been a poor naming choice and perhaps we should flip those names and change to "textBackgroundColor"?

[2015-06-05 17:25] ide commented on #1504
To me it's more intuitive if backgroundColor sets the background behind the glyph runs and not the containing box, so the current naming makes sense in that light.

I think we want to disable the blending optimization on the container if the text has a translucent background color, so as to maintain the illusion that the container is transparent. So in the example above, the text's container would

[2015-06-05 17:36] lorenzostdubois opened #1527 "[Dependencies] Broken depends when building from scratch"
uname -a
Darwin MacBookPro.local 14.4.0 Darwin Kernel Version 14.4.0: Tue May  5 14:17:52 PDT 2015; root:xnu-2782.30.4~3/RELEASE_X86_64 x86_64

2015-06-05 10:31:32.214 xcodebuild[31128:3358611] [MT] PluginLoading: Required plug-in compatibility UUID 8DC44374-2B35-4C57-A6FE-2AD66A36AAD9 for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/GCC 4.9.xcplugin' not present

[2015-06-05 17:48] brentvatne commented on #1526
`module.exports = ((null: any): typeof POPAnimation);`

is this valid syntax or is the issue with the transformer?

[2015-06-05 17:50] brentvatne commented on #1527
Discussion about this on the [contextify repo](https://github.com/brianmcd/contextify/issues/151) - maybe that will help @lorenzostdubois

[2015-06-05 17:54] sahrens commented on #1504
Perhaps, but we want to be careful about adding too many magic special
rules that are hard to reason about.  That might be an ok one though, what
do you think @nicklockwood?

On Fri, Jun 5, 2015 at 10:26 AM, James Ide <notifications@github.com> wrote:

[2015-06-05 18:00] brentvatne commented on #1362
@rxb - including this in my newsletter this week :smile:

[2015-06-05 18:30] lorenzostdubois commented on #1527
It seems to be related to this issue building contextify:

gyp info spawn args [ 'BUILDTYPE=Release', '-C', 'build' ]
  CXX(target) Release/obj.target/contextify/src/contextify.o
  SOLINK_MODULE(target) Release/contextify.node
ld: library not found for -lgcc_s.10.5
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [Release/contextify.node] Error 1
gyp ERR! b

[2015-06-05 18:46] brentvatne commented on #1527
@lorenzostdubois - indeed, can you chime in on that issue I linked you to above? I think that they can help you better there.

What node version are you using? Or are you using iojs?

[2015-06-05 19:02] brentvatne commented on #1526
Ran into this myself on facebook/react-native#8b93b9 installing from https://github.com/rnplay/rnplay-ios/tree/c97ebe51860abcc249a9cbbf754b3bc8e0ddaad0

[2015-06-05 19:52] rxb commented on #1362
@brentvatne Awesome! Is this the kind of thing you mean with the canceling? https://vid.me/O3wB

@TYRONEMICHAEL Still having trouble with ScrollView on master. I'll dig in more to see if I can figure out what's up with that.

[2015-06-05 20:21] brentvatne commented on #1362
@rxb - yeah, like that but also in the opposite direction - so if it starts to snap you can cancel it and scroll back

[2015-06-05 21:40] mattds opened #1528 "[Navigator] Nested Navigator causing pop to fail"
Hi, I've recently updated to a more recent version of react-native and the navigation in the app I'm developing no longer behaves as expected. I've reproduced the issue: https://rnplay.org/apps/EK9ttQ

- I have a top level Navigator which contains a tab bar of other components which themselves have Navigators.
- When pushing a scene on one tab (pressing the "Next" button), then going to the other

[2015-06-05 22:01] rxb commented on #1362
@brentvatne How about this one: https://vid.me/yKVY

[2015-06-05 22:14] brentvatne commented on #1362
@rxb - awesome :smile:

[2015-06-05 22:32] #773 closed

[2015-06-05 23:22] ide commented on #1527
@lorenzostdubois the `lgcc._s.10.5` error is kind of a mystery. I encountered it too (Node 0.10, 0.12, 1.8.1, and 2.1.0) and couldn't get it to go away (tried updating brew packages, tried pruning them, used a clean installation of io.js) and the issue went away only after I restarted my computer (OS X Yosemite). Sorry I can't provide more informative guidance than that :/

[2015-06-05 23:40] ide commented on #1504
My reasoning is that CSS applies the background color to the glyph runs and not the bounding box. RN should produce that effect if it's the behavior we want (maintaining CSS compatibility is the strongest argument I can think of), and text with a translucent background color is a scenario that isn't eligible for the blending optimization. When I think of it that way, it's less a magic rule that us

[2015-06-05 23:46] sahrens commented on #1504
That's a great point.

[2015-06-06 00:15] ldesplat opened #1530 "0.6.0-rc StatusBarIOS.Style.lightContent undefined is not an object"
What happened to StatusBarIOS? This used to work on 0.4.x and then I upgraded to 0.5 and it continued working. I then upgraded to 0.6.0-rc and I get `undefined is not an object (evaulating 'StatusBarIOS.Style.lightContent')`.

Inspecting StatusBarIOS I see there is still setStyle and setHidden but that's it.

Alright, going through the docs I see that the API has changed (which is a breaking chang

[2015-06-06 00:18] ldesplat opened #1531 "[Docs] Documentation and versioning"
Documentation on the react website seems to be from the master version? It is very confusing when developing from the stable version where you expect some things to work but they don't. (renderSeparator for me last week).

There should be some way to browse "older" documentation and most likely it should default to the stable version and not rc.

Food for thought :+1:

[2015-06-06 01:02] ide commented on #1530
I believe this was an intentional change in https://github.com/facebook/react-native/commit/45d8fb0ef64a8a41929d61fe822a64c2febe5455. @nicklockwood could you confirm that the enum was dropped in favor of "default" and "light-content"?

cc @vjeux for the breaking change for the release notes.

[2015-06-06 01:11] nicklockwood commented on #1530
Yes, sorry, I updated the example but forgot to include it in the release notes.

[2015-06-06 01:17] ide commented on #1530
Thanks for confirming.

@ldesplat looks like this is working as intended and thanks for testing the RC!

[2015-06-06 01:17] #1530 closed

[2015-06-06 01:18] vjeux commented on #1530
@ide, i'm not at a computer, mind editing the changelog with this and react-native-mixin require (even though I thought that diff was reverted)

[2015-06-06 01:23] lorenzostdubois commented on #1527
Hey thanks guys for taking the time to reply.

node -v
v0.12.2

@ide I'll restart after installing the latest update. It looks like a dangling symlink that points no where and a few people have reported it without finding a real solution.

[2015-06-06 01:23] christopherdro commented on #1489
You could use Navigator on your index and set the initial route to your TabBars.
Now, any new screen that is pushed will overlap your TabBar screen.

[2015-06-06 01:37] lorenzostdubois commented on #1527
Restarting MacBook did the trick! :+1:

[2015-06-06 01:46] ide commented on #1527
#magic

[2015-06-06 01:46] #1527 closed

[2015-06-06 04:13] piyushchauhan2011 commented on #1523
Cool works perfect!

[2015-06-06 04:13] #1523 closed

[2015-06-06 04:13] AdamBrodzinski commented on #1495
@ide We've talked about it! Hopefully i'll have enough time in a few weeks to contribute :beers:

[2015-06-06 06:05] ide opened #1533 "[Bridge] UIColor cache fills up when animating colors"
See #1513. The issue is that animating a color quickly fills up the color cache. We probably want to:

- Cap the size of the cache and implement a policy like Least Frequently Used or segmented LRU
- Change the caching policy when the color is animated (e.g. MRU, or don't cache at all. But if the animation repeats it could be helpful to have cached the values.)

cc @sahrens @nicklockwood @vjeux fo

[2015-06-06 07:58] euforic commented on #1480
@jtremback @alinz I hacked together some of my build scripts into a makeshift cli tool if you guys are still looking for a fix. It's definitely not my best work but It has been getting me by until es6 modules work in the packager.

Github: [bh5-js/rctapp](https://github.com/bh5-js/rctapp)
NPM: [rctapp](https://www.npmjs.com/package/rctapp)

It can do the following:
- Run Babeljs transpiler
- Start

[2015-06-06 08:52] PhilippKrone opened #1534 "[Image] Error: invalid context 0x0"
Hello,

since upgrading to 0.5.0, I get a lot of the following errors, although everything seems to work as expected:

[code]

Do you have any idea where this might come from? Else I'd start to disable one plugin after the other and see what might be causing this.

Thanks
Philipp

[2015-06-06 08:52] sahrens commented on #1533
Oh yeah, forgot about the color cache. Another approach is to maintain a frequency map of usage that is periodically periodically reset (never more than 10 entries or something). Then you only cache elements if they have multiple counts in the map.

[2015-06-06 09:10] urvashi01 commented on #355
I am facing similar problems. 'keyboardWillOpenTo' remains null throughtout the lifetime, preventing the Scroll Responder from calculating the y offset to scroll to. Any updates on how to go about this?

[2015-06-06 09:33] PhilippKrone commented on #1534
Small update: it seems to happen whenever I navigator.push() away from a certain (quite complex) screen. However, it does not happen when i push() towards this screen.

[2015-06-06 13:54] olivierlesnicki commented on #1149
Having the same issue when using firebase.

[2015-06-06 15:13] despairblue opened #1536 "Failed to lookup the process ID of com.facebook.UIExplorer after successful launch."
I'm unable to start the UIExplorer in the simulator:

1. clone repo
2. checkout 0.5-stable
3. npm install
4. run project from xcode

It open the app and crashes, all xcode says is:

[2015-06-06 15:16] despairblue commented on #1536
Nevermind, the iOS Simulator was unable to start any app. Restarting the simulator fixed it.

[2015-06-06 15:16] #1536 closed

[2015-06-06 16:35] mschipperheyn commented on #80
Getting this issue against current version on a cleanly created project

    	2015-06-06 13:32:25.968 [error][tid:com.facebook.React.JavaScript] "Error:
	 stack: keyMirror@http://localhost:8081/index.ios.bundle:1717:28
	http://localhost:8081/index.ios.bundle:1624:34
	require@http://localhost:8081/index.ios.bundle:245:30
	http://localhost:8081/index.ios.bundle:1404:29
	require@http://localhost:8081

[2015-06-06 17:00] mschipperheyn commented on #80
Hmm, after trying various things. A full restart solved it

[2015-06-06 17:19] christopherdro commented on #1528
+1

Can confirm that I've came across this issue as well.

[2015-06-06 17:21] christopherdro commented on #1516
@marcshilling Could you provide a example of your project.

I can confirm that I have this working with 0.4.4.

[2015-06-06 17:37] brentvatne commented on #1528
cc @ide, the other navigator expert

[2015-06-06 18:19] mars commented on #637
Perhaps related, relative requiring a module above the iOS/React Native directory fails the same way:

    // in index.ios.js
    var Auth = require('../common/auth');

**Error: Requiring unknown module "../common/auth". If you are sure the module is there, try restarting the packager.**

I tried symlinking that higher-level directory within the React Native project to fix, but it failed as well,

[2015-06-06 18:33] mars commented on #795
Still an issue with React Native 0.6rc. Workaround is calling `this.refs.navigator.replace(…)` with the updated state in `passProps`.

[2015-06-06 18:39] elgubenis opened #1537 "[Packager] EM watch error"
[code]

[2015-06-06 18:43] browniefed commented on #1537
This is a fairly common error I think. Workaround is to up the ulimit with `ulimit -n 2560`
Similar issue here https://github.com/substack/node-browserify/issues/431

[2015-06-06 20:01] paramaggarwal commented on #858
Alright based on `onLayout` this is what we have: (results in a flash of re-layout...)

[code]

[2015-06-06 20:21] olivierlesnicki commented on #103
renderSeparator doesn't seem to work with ListView

[2015-06-06 20:52] sahrens commented on #103
Can you provide more context, like a code sample of how you tried to use it?  I'm pretty sure it's working in the Movies sample app, but it might have broken.

-Spencer

[2015-06-06 21:10] vjeux commented on #103
Shot in the dark. If you install react native the normal way, you get 0.5 that doesn't have this feature yet. You need to manually do npm install react-native@0.6.0-rc in order to test it out.

[2015-06-06 21:12] olivierlesnicki commented on #103
`"react-native": "^0.5.0"` touché!

[2015-06-06 21:14] paramaggarwal commented on #494
Please feel free to close this. Continuing discussion and sharing code snippets on #858.

[2015-06-06 21:33] paramaggarwal commented on #858
Figured out how to do this with `css_node->measure` from `css-layout`. Please refer to pull request #1538.

[2015-06-06 22:00] bparadie commented on #1429
This is the code snippet I am planning to use in `AppDelegate.m` and `RCTWebSocketExecutor.m`:
[code]

I have two questions:
- Should I put this in a utility function and call it from `AppDelegate.m` and `RCTWebSocketExecutor.m`? If so what's a good place to add that utility function?
- Should every example use this snippet, or should I just show how it works in one of the examples?

[2015-06-06 23:59] bparadie commented on #1429
@jsierles @ide @brentvatne I have something that works. This is a screenshot after changing the port number to `8086` in `Info.plist` and rebuilding `UIExplorer`:

![screen shot 2015-06-06 at 4 46 09 pm](https://cloud.githubusercontent.com/assets/1578115/8021988/e0aabff6-0c6b-11e5-8bea-500b60448554.png)

But it's not pretty:
- I had to add a new target called `ReactWithoutPackager` to `React.xcode

[2015-06-07 00:26] chumster commented on #80
Interesting... now I'm see it:

2015-06-06 19:23:52.022 [error][tid:com.facebook.React.JavaScript] "Error:
 stack: http://192.168.1.64:8081/index.ios.bundle:2047:29
require@http://192.168.1.64:8081/index.ios.bundle:245:30
http://192.168.1.64:8081/index.ios.bundle:1424:22
require@http://192.168.1.64:8081/index.ios.bundle:245:30
http://192.168.1.64:8081/index.ios.bundle:1234:36
require@http://192.16

[2015-06-07 01:45] sebmck commented on #1526
Fixed via babel/babel@64f4209119e5a77cb4bc719cbec0e560a493a8bc. This really should have been reported on the [babel/babel repo](https://github.com/babel/babel).

[2015-06-07 03:05] vishnevskiy opened #1539 "[Perf] Baseline CPU Usage"
It seems that any react-native app uses 4% CPU even when idle even when in Release.

https://www.dropbox.com/s/plsvxh7r15bpha9/Screenshot%202015-06-06%2020.00.45.png?dl=0

I profiled in Instruments (both my own app and UIExplorer) and it seems that jsThreadUpdate is the one responsible. Seems to be constantly looking up module names and dispatching to RCTEventDispatcher and RCTTimer (even when the

[2015-06-07 04:58] umhan35 commented on #1531
This is great but I think Facebook lacks resources on this project somehow.

[2015-06-07 05:11] maplebaby opened #1540 "[NavigatorIOS] How can I hide NavigatorIOS in child page when NavigatorIOS push?"
In 0.6.0-rc NavigatorIOS background can't be transparent, so I want to hidden it in the children page, but I have no idea! How can I make page like the follow picture?
![img_3599](https://cloud.githubusercontent.com/assets/2143705/8022688/f4bd4194-0d15-11e5-9e6e-27eb13cea49e.jpg)

[2015-06-07 06:17] JonasJonny commented on #1528
Maybe this is similar to my "solved" issue.
Let's start with: https://github.com/facebook/react-native/issues/1159#issuecomment-99688706

[2015-06-07 09:28] ide commented on #1539
4% CPU usage when the app isn't doing anything is high. The run loop shouldn't do real work if there are no tasks for it.

[2015-06-07 10:22] olivierlesnicki opened #1542 "Can't use TouchableBounce"
I'm using react-native 5.0.0

[2015-06-07 11:23] liubko commented on #79
+1
react-native v0.5.0

[2015-06-07 12:17] tadeuzagallo commented on #1539
ListView has a `setInterval` of 20ms used to check items that are on screen. I'm not sure it's still necessary, I'll look into it.

[2015-06-07 12:42] tadeuzagallo commented on #1539
Sorry, my mistake, it has already been removed recently, but we still have to go through the modules that implement `RCTFrameUpdateObserver`, that includes `RCTTimer` and `RCTEventDispatcher`, I'll see if we can avoid it.

[2015-06-07 13:50] jaygarcia opened #1543 "[npm] Stupid question: Why is `npm update react-native` not updating?"
Wasn't 0.6.0 released a few days ago?  My project just won't update.

Someone please help me understand what i'm  doing wrong here.

[code]
Then checking:
[code]

[2015-06-07 14:05] #1452 closed

[2015-06-07 17:32] christopherdro commented on #1542
Could you please provide a bit more information. Maybe a possible example?

I think your referring to version 0.5.0. Was this working with a pervious version?

[2015-06-07 17:34] christopherdro commented on #1543
The latest stable release is 0.5.0.

Did you make sure to update the version inside of package.json?

Afterwards, you can just run `npm update` in the your project directory.

[2015-06-07 17:37] brentvatne commented on #1543
@jaygarcia - I'd recommend updating the version in `package.json` then just running `npm i` again

[2015-06-07 17:40] brentvatne commented on #1542
@olivierlesnicki - you can require it using `var TouchableBounce = require('TouchableBounce')` - it isn't currently included in the react-native export.

See [https://rnplay.org/apps/q8c-hg](https://rnplay.org/apps/q8c-hg?autoplay=true) for an example

[2015-06-07 17:40] #1542 closed

[2015-06-07 17:44] brentvatne commented on #1537
Thanks @browniefed! @elgubenis - did this solve your problem?

[2015-06-07 17:45] brentvatne commented on #1512
Closing because I didn't hear back from you

[2015-06-07 17:45] #1512 closed

[2015-06-07 19:40] JonasJonny commented on #720
+1

[2015-06-07 19:46] JonasJonny commented on #1540
You should use custom Navigator.
For an example https://github.com/Kureev/react-native-navbar and push without navigationBar.

[2015-06-07 19:51] JonasJonny commented on #1515
Try to add specific width and height in style.

[2015-06-07 20:33] bparadie commented on #1429
@brentvatne np, done: https://github.com/facebook/react-native/pull/1546 !

[2015-06-07 20:47] vishnevskiy opened #1547 "[ListView] broken without setInterval"
This commit removed setInterval

https://github.com/facebook/react-native/commit/34cef28a10b7d44be453c072578b5b6c07a0dcd8

But it seems there might be a bug with ListView without it. No matter what I set initial size to eventually the ListView refuses to render the right amount of items until forced.

For example I set it to 10. If I keep changing the data source between 5 and 15 elements eventual

[2015-06-07 20:52] olivierlesnicki commented on #1542
I get the following issue when trading a TouchableHighlight with a TouchableBounce
[code]

[2015-06-07 20:55] olivierlesnicki commented on #1468
@kevindeleon whenever you mix objective c and swift you need a bridging file. This is standard practice however you're right that they should add a line in the doc

[2015-06-07 20:58] olivierlesnicki commented on #1468
@kevindeleon did you manage to implement a native UI widget using Swift? as per https://facebook.github.io/react-native/docs/nativecomponentsios.html#content

[2015-06-07 21:14] kevindeleon commented on #1468
@olivierlesnicki No, it was a [native module](http://facebook.github.io/react-native/docs/nativemodulesios.html#content) using Swift. I basically ported over a module Jay Garcia had created as a proof of concept in Objective C...I just wanted to see how difficult it would be in Swift.  You can [read more about the process](http://kevin-deleon.com/2015/05/custom-react-native-components-in-swift/) o

[2015-06-07 21:34] kevindeleon commented on #1468
@olivierlesnicki I went ahead and created a pull request with some proposed documentation changes.  I'll let the team decide if it's worthwhile.

[2015-06-07 21:42] ide commented on #1493
Closing since 0.5.0 is out

[2015-06-07 21:42] #1493 closed

[2015-06-07 21:48] brentvatne commented on #1542
@olivierlesnicki - you will need to link `Libraries/Animation/RCTAnimationExperimental.xcodeproj` with your project

[2015-06-07 23:52] brentvatne commented on #1468
Closed with #1548 :smile:

[2015-06-07 23:52] #1468 closed

[2015-06-07 23:56] brentvatne commented on #1531
The docs serve the OSS community and should be driven by us as well.

If you would like to browse the older documentation you can actually just run the server locally very easily - clone the repo and check out the version you are interested in, then cd into the `website` directory and run `node server/server.js` - this will start up a docs webserver locally and you can now browse it.

But you're r

[2015-06-07 23:58] brentvatne opened #1550 "[TouchableBounce] Split up into separate module"
As per #1545, this library should be pulled out into a separate project that is installable via npm.

[2015-06-08 00:25] bryanhelmig opened #1551 "[TextInput] Password Prop Regression in 0.6.0rc"
In my case it is a component like:

[code]

In 0.5.0 it renders the proper "bullets" - in 0.6.0rc it renders a normal text field with no "bullets".

[2015-06-08 02:11] flashlizi commented on #1521
@spicyj

There are also some public APIs expose on prod but not on dev. such as `moveChild`, `createChild`, `removeChild` (in `ReactMultiChild.Mixin`) etc.

Is there any way to traverse all children of a component except using `_renderedChildren` ?

[2015-06-08 02:54] albertwchang commented on #1219
+1
The problem I am having is with giving a bar button item access to objects and variables local within the target scene.  Example:  Scene 1 goes to Scene 2, but I setup the "onRightButtonPress()" function in Scene 1.

I am using the REACT-NATIVE-SIDE-MENU module in Scene 2, and do not know how to have the Bar Button Item access this component...

[2015-06-08 03:19] dvine-multimedia commented on #1402
Curtesy of http://stackoverflow.com/a/29115477/255765 I ended up with this:

[code]
Seems to work.

[2015-06-08 03:30] ssssssssssss commented on #1219
@brentvatne The animation of Navigator feels really janky and the animation is not identical to the NavigatorIOS. The interpolator of Navigator module should be "RightToLeft" if I remember correctly.

[2015-06-08 03:32] soheil commented on #1219
sorry I stopped using react native

On Sun, Jun 7, 2015 at 8:31 PM, fxwan <notifications@github.com> wrote:

[2015-06-08 03:48] john-difool opened #1552 "Incorrect bundle when serving TicTacToe"
npm start && npm install from github project root.

http://localhost:8081/Examples/TicTacToe/TicTacToeApp.includeRequire.runModule.bundle

is loading then I get the parsing error (... module.exports = ;}else ... ) line 35K ish.

module.exports = POPAnimationMixin;}});
__d('POPAnimation',["NativeModules","ReactPropTypes","createStrictShapeTypeChecker","getObjectValues","invariant","merge"],function

[2015-06-08 06:28] JaapRood commented on #637
I finally had some time to make an example to prove it's not working. Check out this repo which references the example app component through a symlink, which doesn't get resolved.

https://github.com/JaapRood/react-native-packager-symlink-bug

Now, if only I had any idea on why.

[2015-06-08 08:28] zxiest commented on #541
@kujohn do `ps aux | grep node` ; stop those processes.
Next, go to the main react-native directory, and do `npm install` to make sure you have all the modules.
Once this is good, do `npm start` ; this will run `packager.sh` and allow our example apps to run.
Next, open the project in XCode and run it. You should be good =)

[2015-06-08 08:43] hpze2000 opened #1553 "unable to create project , error as below！ please help 。"
$ react-native init AwesomeProject
This will walk you through creating a new React Native project in /Users/johnson/AwesomeProject
npm WARN engine stacktrace-parser@0.1.1: wanted: {"node":"~0.10"} (current: {"node":"0.12.4","npm":"2.10.1"})

ws@0.4.31 install /Users/johnson/AwesomeProject/node_modules/react-native/node_modules/ws
(node-gyp rebuild 2> builderror.log) || (exit 0)

[2015-06-08 08:47] checkraiser commented on #1553
Please upgrade Nodejs and npm to use the latest React Native.

[2015-06-08 09:50] magicismight opened #1554 "[Navigator] InteractionManager: interaction handle not cleared within 2000 ms."
In a Navigator, when I tried to drag back the previous view, and keep the mouse hold still for at least 2s, console will give a warning:

`InteractionManager: interaction handle not cleared within 2000 ms.
Error: InteractionManager: interaction handle not cleared within 2000 ms.
    at Object.InteractionManager.createInteractionHandle (http://localhost:8081/index.ios.bundle:14720:19)
    at Object

[2015-06-08 10:02] fbm-static commented on #255
:+1:

[2015-06-08 10:07] JonasJonny opened #1555 "[Navigator] initialRoute vs initialRouteStack after update to 0.5.0"
Hello,
I had working Navigation but after update to 0.5.0 version I have just blank screen.

I found out if I remove "initialRouteStack={ROUTE_STACK}" from Navigator then my first INIT_ROUTE_INDEX route/component in ROUTE_STACK {name: 'HomeNavigator', component: HomeNavigator, index: 0} is loaded fine.

(Of course then I have missing "Invariant Violation: Cannot jump to route that is not in the ro

[2015-06-08 10:42] steve-ng opened #1556 "[Question] TabbarIOS.Item icon with image"
How do I allow tabbarIOS.item to use my image?

Here's my code, I have an image called itemSelected

    <TabBarIOS.Item
      selected={this.state.selectedTab === 'Item'}
      icon={require('image!itemNotSelected')}
      selectedIcon={require('image!itemSelected')}
     title="Item"
     onPress={() => { this.setState({ selectedTab: 'Item',});}}

However, I can only see a square box being loade

[2015-06-08 11:30] bogdantmm92 commented on #1378
+1

[2015-06-08 12:00] jaygarcia commented on #1543
@christopherdro  @brentvatne that worked. It feels pretty stupid to have to manually update package.json, but it works. =)

Thanks.

[2015-06-08 12:00] #1543 closed

[2015-06-08 12:13] imaffett commented on #596
Hey @brentvatne - The fix is easy, but I'm currently not permitted to contribute to React Native (by Intel), only React.js .

[2015-06-08 12:32] bimawa opened #1557 "[Packager] Catch error on starting app version 0.5.0 cocoapods"
[code]
![screen shot 2015-06-08 at 17 31 47](https://cloud.githubusercontent.com/assets/1393809/8034773/49f1e662-0e04-11e5-82ad-e848615c3f15.png)

[2015-06-08 13:06] hpze2000 commented on #1553
@checkraiser TKS! bug error below again:

:~ johnson$ react-native init AwesomeProject
This will walk you through creating a new React Native project in /Users/johnson/AwesomeProject
npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "--save" "react-native"
npm ERR! node v0.12.4
npm ERR! npm  v2.10.1

npm ERR! shasum check failed for /var/folders/fj/4nbp1d9x5b341std7mz5wpt8

[2015-06-08 13:39] JonasJonny commented on #1555
First console part is with initialRouteStack removed.
Second is shown when I add initialRouteStack={ROUTE_STACK}.

![consoletabs](https://cloud.githubusercontent.com/assets/1771823/8035928/5d5013ce-0df4-11e5-9e59-52dbba0945ae.png)

[2015-06-08 13:43] paramaggarwal commented on #1553
It's probably just a download error, hence failure of checksum. Try deleting that cached file and try again.

[2015-06-08 13:45] alinz commented on #1349
+1

@brentvatne Any news on when it's going to be merged? #1191 is not merged yet so should I wait?

[2015-06-08 13:45] paramaggarwal commented on #1557
Are you sure you did something similar to `AppRegistry.registerComponent('EventLentView', () => EventLentView);` in your `index.os.js`?

[2015-06-08 13:48] marcshilling commented on #1515
The image has a width and height. Like I said, the image loads on non-iPhone 4s devices. Also, using a non-.jpeg image source on the 4s displays an image - leading me to believe it is specific to the 4S and JPEG images.

[2015-06-08 13:53] JonasJonny commented on #1515
I can't see style on your example.
Anyway I tried display your link inside my 4S simulator with specific width and height and it worked.

[2015-06-08 13:53] oveddan commented on #1349
@brentvatne Thanks for noticing #1191 - I believe this issue will be resolved when that is merged.

[2015-06-08 13:58] JonasJonny commented on #1515
[code]

[2015-06-08 14:11] marcshilling commented on #1516
So in a new react-native init project, the exact same code from my other project works. I guess I'll go set some breakpoints in Image.ios.js...

[2015-06-08 14:14] oveddan commented on #1149
@olivierlesnicki can you please provide a code sample?

[2015-06-08 14:28] bimawa commented on #1557
Yes. May be something changed in RCT_EXPORT_MODULE. @paramaggarwal can u help me in slack private messages?

[2015-06-08 14:30] vipulnsward commented on #730
This can be closed similar to https://github.com/facebook/react-native/pull/828 ?

[2015-06-08 15:07] marcshilling commented on #1515
This is annoying. Yes, you're right - in a fresh `react-native init` project that works. However I am having all sorts of issues with `<Image>` with my particular project setup, which unfortunately I can't easily share. See #1516

[2015-06-08 15:12] JonasJonny commented on #1557
Here you have some solutions http://stackoverflow.com/questions/29287987/invariant-violation-application-awesomeproject-has-not-been-registered-when-b.

I had similar issue after update and I have to init new project and copy my source code into.

[2015-06-08 15:17] grabbou commented on #113
Any updates on that? Calling `blur` on a view should act like `endEditing` as per @ide suggestion. If not, maybe worth adding another method.

My use case:
Using @brentvatne modal with `click backdrop to dismiss` feature. When the keyboard is opened, I'd prefer closing the keyboard instead of dismissing the modal so user has the ability to continue editing. Not all keyboard types are provided `don

[2015-06-08 15:29] paramaggarwal commented on #60
Hop on to the module system discussion over at #235 if you want to hear about progress on the above suggestions.

[2015-06-08 15:55] oveddan commented on #1473
@vjeux @spicyj I dug around for a while - we don't set GLOBAL or window.document anywhere, even in [InitializeJavaScriptAppEngine.js](https://github.com/facebook/react-native/blob/d796584b6c8122ecf6fc6f0de7f82131b2ed51d1/Libraries/JavaScriptAppEngine/Initialization/InitializeJavaScriptAppEngine.js)
All that we do with global.document is [set createElement to null](https://github.com/facebook/react

[2015-06-08 16:25] threepointone opened #1559 "[rebound] how does rebound work in react-native?"
- I was trying to get rebound.js to work in react native, and had to add `rebound.util.onFrame = global.requestAnimationFrame;` to make it work. However, I notice a number of RN components use rebound, but can't find a polyfill. How?

- I have a 'fix' for the rebound issue [here](https://github.com/facebook/rebound-js/pull/16/files), but it would be nice if we could special case it for RN. what 't

[2015-06-08 16:39] bimawa commented on #1557
Yea u right!
i roll out on v.0.4.2 and get new error:

[code]
go experimenting more ...

[2015-06-08 16:44] mattds commented on #1528
Thanks @JonasJonny. The issue seems to be one and the same. I would add to the original issue that this wasn't an issue as of version 0.3.4, which was the version I recently upgraded from. I think this is quite a common use case, so I'm hesitant to use a workaround if a fix is possible, hopefully there is one in the pipeline :)

[2015-06-08 16:52] albertwchang commented on #1029
Great advice w/ timer-mixin and where to use it, @brentvatne.  Thanks!

[2015-06-08 17:30] itsananderson opened #1560 "[Sample project] shouldn't gitignore project.xcworkspace"
See discussion in https://github.com/facebook/react-native/pull/463 where @ide explained why just xcuserdata should be ignored, rather than all of project.xcworkspace.

In this commit: https://github.com/facebook/react-native/commit/9b513ede77442636b39a7eb283c537eb231b33e6, `project.xcworkspace` was added to the .gitignore, as well as the sample project's _gitignore file.

One place where this is

[2015-06-08 17:59] brentvatne commented on #1526
Thanks @sebmck!

[2015-06-08 17:59] #494 closed

[2015-06-08 18:03] brentvatne commented on #113
@grabbou - do you have time to make the changes that @ide mentioned above and submit a PR?

[2015-06-08 18:07] brentvatne commented on #1219
I haven't had much time for this recently but should get around to fixing up a bunch of docs this week. Additionally, to better reflect Facebook's priorities the idea is to move NavigatorIOS [to an OSSLibraries folder](https://github.com/facebook/react-native/issues/1519) and outside of the internal sync process which will allow us (the OSS community) to iterate on it more quickly.

[2015-06-08 18:28] jtremback commented on #1480
@euforic :clap:

[2015-06-08 18:31] grabbou commented on #113
Yeah, can do. Just may need some to dig into the React as haven't contributed yet but would love to.

[2015-06-08 18:42] spicyj commented on #1473
We really don't want a `document` though for React Native. Annoying that it's non-writable, non-configurable.

[2015-06-08 18:44] cem2ran opened #1561 "[NavigatorIOS] Unable to change barTintColor and title once it is set"
I'd like to dynamically change the title and color of the Navigator. I'm testing on 0.6.0-rc
Is this possible or should I dive into the internals? rnplay: https://rnplay.org/apps/kilXnA

![navigatorios](https://cloud.githubusercontent.com/assets/959142/8042308/c2ac04f6-0e1e-11e5-9942-ed453608a463.png)

[2015-06-08 19:18] grabbou commented on #1550
Doesn't matter who's the owner of the repo?

[2015-06-08 19:21] vishnevskiy commented on #1547
So looks like to reproduce this is.

- Make 2 data sets. One that fits on the screen without scrolling and one that does not.
- Load up the small one first.
- Then switch it to the long data set and scroll all the way down.
- Then switch back to small one and then instantly back again to big one.
- It will now not render properly until you scroll.

Using a unique key for the ListView per dataset w

[2015-06-08 19:22] grabbou commented on #1390
Haven't seen any notes about `blur` and other methods available on a given component, is this something we would be interested in describing as well?

[2015-06-08 19:25] grabbou commented on #1519
@brentvatne what about keeping the structure inside `OSSLibraries` somehow similar to the `Libraries` so it's easier to just move around instead of investigating the whole folder from scratch?

[2015-06-08 19:53] ide commented on #1473
@jaredly I heard you were thinking about a new executor. There are a handful of issues like this one that could be closed by moving away from Chrome =)

[2015-06-08 19:56] cgarvis commented on #773
+1

[2015-06-08 20:03] ide commented on #1390
@grabbou yes, would be good to document public methods like `blur()`.

[2015-06-08 20:06] ide commented on #1560
I think it should be fine but may clash with fb's internal workflow (I'm not sure if this is indeed the case -- just a potential issue) cc @frantic

[2015-06-08 20:12] ide commented on #1526
@amasad looks like the next step is to upgrade babel

[2015-06-08 20:13] sebmck commented on #1526
Why is the Babel version fixed :fearful:

[2015-06-08 20:21] ide commented on #1526
I believe it has to do with how fb internally downloads npm packages. It'd be better for the external community for fb to use semver's caret in react-native's package.json, run `npm shrinkwrap` to generate npm-shrinkwrap.json to pin all dependencies for internal use, and then exclude npm-shrinkwrap.json from the external directory that is synced out to GitHub. cc @vjeux would this work for the tea

[2015-06-08 20:25] ide commented on #596
@imaffett the licenses for the two projects are identical, word for word except for the project names, if that helps you get permission from your legal team.

[2015-06-08 20:38] john-difool commented on #1552
This line in POPAnimation.js is creating this issue:

if (!POPAnimationOrNull) {
  // POP animation isn't available in the OSS fork - this is a temporary
  // workaround to enable its availability to be determined at runtime.
  module.exports = (null : ?{});
} else {

[2015-06-08 20:47] oveddan commented on #1473
@spicyj a bit more on this...http://stackoverflow.com/questions/30196216/why-window-or-document-cant-be-set-to-undefined-or-null

[2015-06-08 20:50] spicyj commented on #1473
@oveddan I understand. Still annoying. :)

[2015-06-08 20:59] vjeux commented on #1473
Maybe we could run in a web worker instead of the main js thread when debugging in chrome. This way we won't have document.

Not sure how the debugging experience is though

[2015-06-08 21:06] gpbl opened #1562 "[Cosmetic] Rename `tick` to avoid iTunes Store warnings"
I'm using v0.5. Before submitting the app, when I validate an archive, I get this warning:

[code]

Do you also get this message? Is it something I should worry about?

[2015-06-08 21:08] grabbou commented on #1390
Also, I am pretty sure that's something you've requested with `setNativeProps` forwarding, but I've found it pretty handy to have `blur` and others forwarded as well.. Say I have a custom `form` component that just wraps underlaying `<View><Input /></View>`. Instead of defining a `blur` and calling it explicitly in the form component, the `blur` method could've been forwarded if not present by def

[2015-06-08 21:12] paramaggarwal commented on #1219
From what I understand, the two drawbacks `Navigator` has are swipe-to-go-back and JS driven animations - while there are a number of other benefits. Any view 'controller' that iOS provides can very well be in JS because it is just logic. The view continues to remain native, but the control is now driven from JS. This makes it more customisable.

Fortunately even the two drawbacks as mentioned can

[2015-06-08 21:27] vjeux commented on #1562
cc @nicklockwood

[2015-06-08 21:32] nicklockwood commented on #1562
I don't think this should be a problem, as "tick:" is a pretty common name for timer handlers.

Thanks for letting us know though, I think we may want to change it just to avoid the noise.

(And of course, if your app does actually rejected for this, please do let us know).

[2015-06-08 21:33] oveddan commented on #1473
@vjeux After your comment - I just confirmed that:
When using chrome debugger, window.document is not undefined, and you get an error when trying to set it.
Same goes for safari debugger.
When not debugging, window.document is undefined.

If we wanted to have it run in the debugger from a web worker, it would need to be done for safari too.

I feel like this would adversely effect the debugging ex

[2015-06-08 21:46] gpbl commented on #1562
Alright thanks! Such messages are a bit frightening because it's difficult to find out their actual meaning, especially using third-party libraries. Feel free to close the issue, if you don't need it as reminder.

[2015-06-08 22:10] sahrens commented on #1547
Probably just need to add an extra call to manually trigger updates when data changes to catch that corner case. I'll put out a fix soon.

[2015-06-08 22:55] elgubenis commented on #1537
hi, i used sudo and it worked

[2015-06-08 22:55] #1537 closed

[2015-06-08 23:23] jaredly commented on #1473
Can't we just change `Environment.canUseDOM` to make it configurable? e.g. there be some global flag to disable it even in the presence of `document` etc.
As I understand it, that's the only reason we're messing with `document`. Are there other reasons that we want it not to be defined in chrome/safari?

[2015-06-08 23:27] spicyj commented on #1473
@jaredly It's not defined in the JSC executor, so we don't want it available when debugging either, for consistency. React isn't the only one who sniffs this. As one example, jQuery behaves differently depending on whether the `window` and `document` globals are available.

[2015-06-08 23:32] jaredly commented on #1473
Cool. I'd say let's try a webworker then -- debugging in chrome is pretty well supported (don't know about safari)

[2015-06-09 00:04] imaffett commented on #596
@ide -  I wish it were that easy :).  Theres a multi level process for approval at Intel (legal and then other approvals for scope of work on projects).  I'm hoping to get approval for React Native, but it could be another month or two.  Thanks for the information though!

[2015-06-09 00:21] jtremback commented on #1531
How about we have the main site pull docs from the version of RN that is on NPM? This would seem to be the correct one.

[2015-06-09 00:26] jtremback commented on #1437
:+1: Nice!

[2015-06-09 00:46] ide commented on #1531
The main site should match npm, and ideally there would be docs for RC (both to document RC and to act as a staging release in case there's a problem with the docs site) and master. I'm not so familiar with Jekyll and GH pages... is it easy to "reparent" a site so that it could live under https://facebook.github.io/react-native/rc/ or https://facebook.github.io/react-native/master, and customize t

[2015-06-09 00:50] ide commented on #596
@imaffett OK. I've added the "good first task" tag to encourage contributions from other devs in the community =)

[2015-06-09 01:12] jaredly commented on #1531
react-native gh-pages doesn't use jekyll -- there's custom script that downloads the html from the localhost docs server :) it wouldn't be too hard to hack it https://github.com/facebook/react-native/blob/master/website/server/generate.js

[2015-06-09 01:57] samfriend opened #1563 "xcode 7.0beta could not connect to development server."
Today I downloaded IOS9 and xcode7.0beta which is needed for ios9

When I try to build my existing project to both simulator and iphone. It refused to load the index.ios.bundle with msg...

'Application Transport Security has blocked a cleartext HTTP (http://) resource load since it is insecure. Temporary exceptions can be configured via your app's Info.plist file.'

How to make this 'Temporary ex

[2015-06-09 02:16] piyushchauhan2011 commented on #1501
Ohhh I'm also getting this warning don't know why :disappointed:

[2015-06-09 04:03] albertwchang commented on #1149
Given that I am having exactly the same problem using React Native 0.5.0, and having Chrome Inspector open...
![reactnativeissue](https://cloud.githubusercontent.com/assets/3760499/8050417/aeed4d50-0e21-11e5-9044-b60f8e165cc8.png)

[code]

[2015-06-09 05:16] bparadie commented on #930
@brentvatne @VonD CameraRoll in 0.6.0 is still dog slow for me.

Any thoughts on this note from the [ALAssetRepresentation](https://developer.apple.com/library/prerelease/ios/documentation/AssetsLibrary/Reference/ALAssetRepresentation_Class/index.html) documentation?

[2015-06-09 05:23] bimawa commented on #1557
Tag 0.4.3 not describe in React.podspec research continues..

[2015-06-09 06:11] samfriend commented on #1563
Adding the following to your Info.plist will disable ATS

<key>NSAppTransportSecurity</key>
     <dict>
          <key>NSAllowsArbitraryLoads</key><true/>
     </dict>

[2015-06-09 06:11] #1563 closed

[2015-06-09 06:49] bimawa commented on #1557
on commit: =>'bb4de45d56aaa5816bece984fa554cbb2881cb04' working fine, except for one thing minifying:

[code]

[2015-06-09 06:50] gyzerok commented on #1502
Same problem here. I guess making migrations manually is real overhead for the developer. Especially since React Native is now in the early stage with frequent updates.

[2015-06-09 07:19] grabbou commented on #444
Still an issue here...

No livereload:
![screen shot 2015-06-09 at 09 18 16](https://cloud.githubusercontent.com/assets/2464966/8052520/8a414206-0e88-11e5-9cd5-abdbdb901fd2.png)

With livereload 10 seconds after:
![screen shot 2015-06-09 at 09 18 29](https://cloud.githubusercontent.com/assets/2464966/8052529/921655fc-0e88-11e5-9287-36636d11b8c9.png)

[2015-06-09 07:27] bimawa commented on #1557
update on tag 'v0.5.0' call this `(JS_DIR=`pwd`/ReactComponent; cd Pods/React; npm run start -- --root $JS_DIR)`
get fails:

[code]

[2015-06-09 07:35] bimawa commented on #1557
I try this call `(cd Pods/React; npm run start --root '../../ReactComponent')` server launch success but after request root not found:

[code]

how change root path now?

[2015-06-09 07:38] arthuralee commented on #1531
I agree that the docs on the site should reflect whats on npm. We do, however, lose the ability to make quick bugfixes to the documentation, as discussed in #1022. I still think a version picker would be very useful in the long term. However, for now, we could just have links to stable, RC, and maybe master.

Yes, the site is generated as @jaredly mentioned, and Travis runs the script (see https:/

[2015-06-09 07:48] bimawa commented on #1557
Founded!!!! Somthing Wrong in new `parseCommandLine.js` replace this fail from tag v0.4.4 now woring all! Pls review this file guys: [parseCommandLine.js](https://github.com/facebook/react-native/blob/master/packager/parseCommandLine.js)

[2015-06-09 08:41] olivierlesnicki commented on #1149
Including and initializing an instance of Firebase is enough to replicate the issue (consistently)

[2015-06-09 08:51] voronianski commented on #1118
@brentvatne I have similar problem but your suggest is not working.

[code]

**DVEffectsView** is placed inside:

<img src="https://dl.dropboxusercontent.com/u/100463011/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202015-06-09%20%D0%B2%2011.47.09.png" width="300" />

And content of obj-c files:

[code]

[2015-06-09 09:24] soliury opened #1565 "After I update to 0.5.0, it take too much cpu"
I just do nothing , and the the app will take about 30% cpu of my iphone6. In v0.4.4, it take a little.

I just want to know why.

[2015-06-09 09:39] flashlizi opened #1566 "[Animation] what's status of `AnimationExperimental`?"
Is `AnimationExperimental` can be used on production now?

I have tried to use it, it works fine on 64bit devices, such as iPhone6 etc, but doesn't work on 32bit devices, such as iPhone4s, iPhone5C etc.

[2015-06-09 10:03] soliury commented on #1565
I have found the reason, in listView there is a `setInterval` in line 249. If I remove it, it working good. I think it is not nessasery to use `setInterval` to check the item is touch the end.

[2015-06-09 10:34] VonD opened #1567 "[Image] Make ALAsset representation and orientation configurable"
The Image component currently always renders the full resolution image, which can be particularly problematic when loading several images from the assets library.

This issue is a follow up from #930

[2015-06-09 10:35] VonD commented on #930
The issue about the image representation can be found here : #1567

[2015-06-09 10:38] paramaggarwal commented on #1557
Ah I am also having an issue with this file when upgrading from 0.4.1 to 0.5.0. The error I get is that `source.root.forEach` is an `undefined` function - and on further analysis, `source.root` was coming as a boolean `true`, though it should be a string.

[2015-06-09 11:10] bimawa commented on #1557
@paramaggarwal yes and now i fix it local on first time.

[2015-06-09 11:14] JohnyDays commented on #1563
I think this issue shouldn't be closed, we should probably try to make this work out of the box. Or perhaps apple should allow localhost or local ips to be loaded regardless?

[2015-06-09 12:49] steve-ng commented on #1556
it's working, except that my image needed to have transparent area.

[2015-06-09 12:49] #1556 closed

[2015-06-09 13:29] sreejithr opened #1569 "[Error Message] Cryptic Error Message for a Missing Import"
I just have a `ListView` with `TouchableOpacity` rows. I set the `dataSource` at `componentWillMount` and it crashes with:

[code]
I hunt around for 20 minutes to find that I haven't required `TouchableOpacity`. Shouldn't the error messages be meaningful?

[2015-06-09 14:35] alvaromb opened #1570 "Image component prevents ListView to render"
When using an `Image` component inside a `ListView` to render a series of items, I pass an image URL to the source `uri` prop:

[code]

`rowData.media` being `https://www.meneame.net/backend/media?type=link&id=2426367`. However, if I use our [Thumbor](http://thumbor.org) server to generate thumbnails based on the previous image URL, the `ListView` doesn't even render. The Thumborized URL is: `http

[2015-06-09 15:05] alinz commented on #1137
I have ported [WebViewJavascriptBridge](https://github.com/marcuswestin/WebViewJavascriptBridge) to React Native as a [separate component](https://github.com/alinz/react-native-webview-bridge).

[2015-06-09 15:20] michalraska opened #1571 "Cannot find module './docblock'"
Hi I just tried upgrade from 0.4.1 to 0.4.4 and got error described below.
[code]
Do you have any lead to solve this.
Thank you.

[2015-06-09 15:22] liubko opened #1572 "[View] Border radius greater than half of width/height works strange"
[code]
with `borderRadius` greater than `25` it isn't going to be a circle anymore.

I made a Demo https://rnplay.org/apps/vj3mJQ
You could reproduce it in react v.0.0.6-rc

[2015-06-09 15:29] mikelehen commented on #1149
FWIW, we'll be releasing a fix for the Firebase client shortly (hopefully today) that addresses this.  The client was basically assuming that if document exists, then document.createElement will exist and work, but react-native violates this under the Chrome debugger.

[2015-06-09 15:48] despairblue commented on #901
@brentvatne I just found the this solution only works if `flex: 1` is apllied to the view immediately beneath the one where `flexDirection: 'row'` is being applied to.
Example: https://rnplay.org/apps/B8mUMw

If one removes the second view or applies `flex: 1` to it it works, otherwise it won't.

Is this intended behaviour?

[2015-06-09 15:49] olivierlesnicki commented on #1149
@mikelehen thanks dude!

[2015-06-09 15:53] olivierlesnicki commented on #1149
@mikelehen when are we open-sourcing firebase js library :-p

[2015-06-09 16:14] threepointone commented on #1557
This is fixed in 0.6.0-rc with this commit https://github.com/facebook/react-native/commit/769efdfcefd55cfed4fc16752e06bea1e7604a00

[2015-06-09 16:43] soliury commented on #1557
I update to 0.6.0, also meet this problem.

[2015-06-09 17:23] soliury commented on #1557
Can anyone solve it ?

[2015-06-09 17:28] bimawa commented on #1557
@threepointone ye it not working for me.
@soliury how i write above, i just exchange parseCommandLine.js from v0.4.4 now i can work.

[2015-06-09 18:30] JonasJonny commented on #1572
From CSS, border-radius should be half of width/height. If you set bigger value, then browser render the circle anyway but it is not a good practice. Maybe react-native is the same.

[2015-06-09 18:44] asamiller commented on #1567
+1

[2015-06-09 18:54] liubko commented on #1572
@JonasJonny totally agree. Maybe it is not a bug at all, but I think most people will expect to get circle in that case.

[2015-06-09 20:54] ide commented on #1563
File a bug with Apple if you have a case for local IPs. They might already have a way to whitelist certain IPs in which case we could add localhost. I don't think weakening security for the entire app is a good default if we can avoid it.

[2015-06-09 20:56] ide commented on #1565
I believe the set interval call has been removed in 0.6.0-RC

[2015-06-09 20:56] ide commented on #1565
Thanks for investigating. The RC is published to npm so you could edit your package.json to upgrade to it and see if it fixes the CPU usage.

[2015-06-09 21:40] jwyld opened #1574 "[Bridge] requireNativeComponent should not require native props"
It would be possible to provide a native UI element which has no exposed properties.  I don't know how often this occurs in practice, but it certainly happened while I was first creating and exposing my native view.  requireNativeComponent.js:45 verifies there are native props being exported.  If there are none, it slips the UnimplementedView into place.

[2015-06-09 21:56] marcshilling opened #1575 "[ListView] Tap status bar to scroll to the top not working"
I have a TabBarIOS at the root. One of the tabs contains a NavigatorIOS, whose root is a simple ListView with content that extends past the bounds of the screen. I would expect to be able to tap on the status bar when scrolled all the way to the bottom to return to the top. This isn't working, even when I explicitly set `scrollsToTop={true}` on the ListView (although it is supposed to be true by d

[2015-06-09 23:00] JohnyDays commented on #1563
I'd imagine they implemented this to prevent naive implementations of OTA updates. But I do think it doesn't make sense for local IPs. I'm not an expert on IP addresses and other network-y things, but there's a few select ip ranges that are reserved for local networks right? Perhaps that could be automatically added to the whitelist(or atleast referenced somewhere)

[2015-06-09 23:11] ide commented on #1563
It has nothing to do with OTA updates. This is blocking HTTP and requiring HTTPS. An alternative solution would be for the packager to serve a self-signed certificate though I'm not sure what it would take to get the client to accept it.

[2015-06-09 23:13] ide commented on #1575
This is how UIKit behaves -- go through the ScrollViews in your app and make sure that all of them have `scrollsToTop={false}` except for the one you want to scroll to the top. See https://stackoverflow.com/questions/8527801/how-to-find-out-which-other-uiscrollview-interferes-with-scrollstotop for tips.

[2015-06-09 23:13] #1575 closed

[2015-06-09 23:55] marcshilling commented on #1575
@ide but, there are no other scroll views...the ListView is at the top level.

[2015-06-10 00:09] spicyj commented on #1521
Those are also not public, but I understand that they could seem that way.

No, there isn't. You should refactor your code to not need to inspect the rendered tree. Without a more specific problem statement, I can't really suggest how.

[2015-06-10 00:14] ide commented on #1575
How barebones is your code? Try paring it down to only the TabBarIOS, NavigatorIOS, and ListView with empty View cells if you haven't already.

[2015-06-10 02:05] magicismight opened #1577 "[TextInput] lineHeight in multiline TextInput"
It would be great if we can set `lineHeight`  in a TextInput which is set `multiline={true}`

[2015-06-10 02:24] soliury commented on #1557
@bimawa ok, thank you .

[2015-06-10 02:24] soliury commented on #1565
I see, yes it works well in 0.6.0.

[2015-06-10 02:24] #1565 closed

[2015-06-10 02:34] soliury commented on #1557
@bimawa but, I have try, it failed again.

[2015-06-10 02:48] soliury opened #1578 "[Bug?] After I update to 0.6.0rc, it can't support the es6 class?"
I use `.createClass` it works well, but use `class xxx extends Component`, it failed.
It shows that :RCTDataManager.queryData was called with 4 arguments, but expects 3

[2015-06-10 04:51] bimawa commented on #1557
@soliury  Are you sure that you were in tag v0.5.0 and replace `parseCommandLine.js` from v0.4.4 ?

[2015-06-10 04:56] bparadie opened #1579 "[CameraRoll] Please switch from Assets Library Framework to Photos framework"
#### PROBLEM
The current implementation of CameraRoll support uses Assets Library Framework, i.e.  [ALAssetRepresentation](https://developer.apple.com/library/prerelease/ios/documentation/AssetsLibrary/Reference/ALAssetRepresentation_Class/index.html).

The Apple documentation notes that Assets Library Framework will be deprecated in iOS 9 and recommends using the Photos framework instead, see [AL

[2015-06-10 05:45] soliury commented on #1557
oh, I use the tag v0.6.0-rc,

[2015-06-10 05:47] soliury commented on #1557
I have find the problem, the v0.6.0-rc don't support the es6 class, I create a new project, i change the example file to use `class xxx extends Component`, it will show this bugs.

[2015-06-10 05:49] bimawa commented on #1557
hmm ok i go try too thx

[2015-06-10 05:53] soliury commented on #1557
So, I think it's the problem of babel

[2015-06-10 08:08] lazywei commented on #1570
Do you mean it is working when using `https://www.meneame.net/backend/media?type=link&id=2426367`, but it is not working when using `http://thumbor.eduherraiz.com/unsafe/750x310/www.meneame.net/backend/media?type=link&id=2426126`?

I found I can't reproduce this. I tried the latter URI in my listview component, it works correctly.

Did you set the `style` props to your Image?

[2015-06-10 08:51] alvaromb commented on #1570
Yes @lazywei , that's what I meant. The style props were correctly set but the issue was when composing the image URL. The API was returning an entry without image and the URL generation was breaking but I couldn't see any errors in the console. Enabling `Pause On Caught Exceptions` in Google Chrome helped me to find the bug.

Thanks for helping me!

[2015-06-10 08:51] #1570 closed

[2015-06-10 11:13] qingfeng opened #1580 "[PushNotifications] Push Notification -didFinishLaunchingWithOptions"
I want to get from `didFinishLaunchingWithOptions [launchOptions valueForKey: @ "UIApplicationLaunchOptionsRemoteNotificationKey"]` , then open a page.

but  it seems that react-native still not complete? thanks

[2015-06-10 11:56] jaygarcia commented on #1578
I am extending React.Component via ES6 style classes and am using 0.6.0 and do not have those exceptions :(

[2015-06-10 11:58] michalraska commented on #1571
Resolved by ```killalll node```

[2015-06-10 11:58] #1571 closed

[2015-06-10 13:38] aksonov opened #1581 "[NavigatorIOS] Why NavigatorIOS overlaps upper part of inner component?"
I've just generated empty React-Native project (using react-native init) and added sample NavigatorIOS code.
[code]
![ios simulator screen shot 10 2015 15 33 19](https://cloud.githubusercontent.com/assets/1321329/8083626/4a02eff6-0f86-11e5-9264-245919e42754.png)

[2015-06-10 14:14] jwyld opened #1582 "[Xcode] lots of analyzer issues with Xcode 7 beta"
With Xcode 7 beta (7A120f), the analyzer has a lot of warnings.  These are mostly related to designated initializer overrides or incorrectly calling (or not) the inherited designated initializer.

[2015-06-10 14:22] marcshilling commented on #1575
Aha! I found it - it was my slide out side menu that had a ScrollView in it. Setting `scrollsToTop={false}` on that did the trick. I also did not know this was default UIKit behavior! Thanks @ide

[2015-06-10 14:25] marcshilling commented on #1581
This is default iOS behavior since iOS 7 when they made the Navigation Bar translucent. Content is supposed to be able to visually scroll beneath the nav bar.

Anyway, if you don't need that functionality, just set `paddingTop: 64` on your container style which will start everything beneath the nav bar.

[2015-06-10 14:57] aksonov commented on #1581
Thanks! Looks like translucent property is not in 0.5.0 yet and it is NOT on by default, so it looks a little bit confusing .

[2015-06-10 15:12] marcshilling commented on #1581
It should be on by default. Make a ScrollView with some colored views in it and scroll it up - you should see the colors bleed through a little bit.

[2015-06-10 16:35] athaeryn commented on #1578
@soliury Are you getting those issues in the Simulator or on real hardware?

[2015-06-10 17:50] brentvatne commented on #1578
This has worked for a while, the error seems unrelated to the class problem. If all you do is toggle between the `createClass` and `extends` does that break it still?

[2015-06-10 18:12] chirag04 commented on #1234
+1. Just got hit by this bug. need to explicitly give a height.

[2015-06-10 20:06] alinz commented on #1118
@voronianski, I think your component setup in javascript is incorrect. I think it should be like this:

[code]

[2015-06-10 20:07] Intellicode commented on #586
I had a go at this, and I got basic messages working using the techniques described at the Stackoverflow page. However, I was wondering how Apple would look at this feature since it allows remote websites execute code (sort of). Titanium seems to allow communication if the code is loaded from a local source (http://docs.appcelerator.com/titanium/3.0/#!/guide/Communication_Between_WebViews_and_Tita

[2015-06-10 20:15] voronianski commented on #1118
@alinz sorry, it's just a typo in code example, originally it looks the same as yours:

[code]

Error is still thrown.

[2015-06-10 20:24] cgarvis commented on #1284
How should min/max height work on images?

[2015-06-10 20:29] cgarvis commented on #426
:+1:

[2015-06-10 20:31] alinz commented on #1118
@voronianski, which component did you export as a module? `EffectView` or `DVEffectsView `? Also, you have to set `propTypes` as an empty object as well.

[2015-06-10 21:20] mixophrygian opened #1584 "[Touches] Disable multi-touch, specifically during navigation transitions"
I'd like to disable multi-touch throughout the entire app, particularly to avoid corrupting my navigation when the user accidentally double taps and the same view gets pushed twice.  What's the best way to achieve this?

[2015-06-10 21:58] ide commented on #1584
@ericvicenti does the navigator currently do anything special to ignore touches on views that will lose focus?

@mixophrygian the `pointerEvents` prop lets you disable touches for any view and optionally its subviews. You could set `pointerEvents="none"` on your root component for the duration of the transition. https://facebook.github.io/react-native/docs/view.html#pointerevents

[2015-06-10 22:01] olivierlesnicki opened #1585 "[Integration] facebook ShareKit with react native"
Given react native doesn't allow one to use UIViewController for custom UI component ... how would one call the sharekit dialog from a custom UI component (extending RTView)

[code]

The method requires a view controller :)

[2015-06-10 22:18] nicklockwood commented on #1572
We aim to follow the CSS spec as closely as possible with the border styles, even if the spec is weird. If it's behaving differently from a spec-compliant browser like Chrome then it may be a bug, otherwise it's as intended.

[2015-06-10 23:14] ide commented on #1572
The spec says to prevent overlapping which is what produces the circle effect: http://www.w3.org/TR/css3-background/#corner-overlap. If you were to set a 50pt radius on just one corner it should produce a quarter-circle: https://jsfiddle.net/36uax3oL/1/

[2015-06-10 23:43] jhabdas commented on #1373
breadcrumb https://github.com/facebook/react-native/issues/456 nom nom

[2015-06-10 23:50] medington commented on #667
I'll be more than happy to submit a pull request which just adds the LinkingIOS to the React.podspec file if it will help get this resolved. Currently we have to fork just to add it ourselves.

[2015-06-11 00:06] tonyhb opened #1587 "[PickerIOS] Wrapping `PickerIOS` with a container and `flexDirection: "row"` view breaks scrolling and selection"
Wrapping a PickerIOS with a parent who has the styles `flex: 1, flexDirection: "row"` breaks PickerIOS views completely.  It doesn't break date picker views, though.

Example code (the bottom picker will be unselectable):

[code]

[2015-06-11 02:04] soliury commented on #1578
I meet this problem in both simulator and hardware.

[2015-06-11 02:04] brentvatne commented on #1578
@soliury - but with both `createClass` and `extends`? or just `extends`? can you reproduce on rnplay.org?

[2015-06-11 02:09] soliury commented on #1578
Now, I close reboot and then, it works well. I don't know why.

And I have a project which using 0.4.4, and then I update it to 0.6.0-rc, it can't work. I use 0.5.0, it can works well.

It shows that :

[code]

[2015-06-11 02:21] arypurnomoz opened #1589 "[NavigatorIOS] Calling `navigator.replace` doesn't change the title"
After calling `navigator.replace`, the view is changed, but the navigator titles stay the same

[code]

[2015-06-11 02:31] ericvicenti commented on #1584
Yep, the navigator currently blocks all touches on scenes during transitions

[2015-06-11 02:48] brentvatne commented on #1559
@threepointone - can you post the code where you have a problem? I just tried this on my own project with `0.5.0` and this worked fine for me

[2015-06-11 02:53] brentvatne commented on #1562
I'm going to close this because otherwise it will just sit here, but a PR is very welcome to fix this :smile:

[2015-06-11 02:55] brentvatne commented on #1553
There hasn't been any followup in a few days, @hpze2000 ping us if you're still having the issue, thanks! :smile:

[2015-06-11 02:55] #1553 closed

[2015-06-11 02:56] brentvatne commented on #1552
This is an issue with Packager that has since been fixed: #1526 - thanks for reporting! :smile:

[2015-06-11 02:56] #1552 closed

[2015-06-11 03:03] dvine-multimedia commented on #1194
@ide Hi. I would very much appreciate such an API. In the mean time is there a way to prevent an production app from crashing on any random JavaScript exception?

[2015-06-11 03:13] ide commented on #1562
How do people feel about s/tick/runTick/? Would make for an easy task.

[2015-06-11 04:01] brentvatne commented on #1559
@threepointone - full code example [on rnplay.org](https://rnplay.org/apps/qHU_5w)

[2015-06-11 04:36] ide commented on #1582
cc @nicklockwood @tadeuzagallo @a2

[2015-06-11 04:57] amccloud commented on #1059
Same for me. I'm pushing a view that renders the `Camera` component from `react-native-camera`. I get major jitter when it is animating so for now i've use `setTimeout` to hide the camera. I've also noticed the jitter with simple list views also.

[2015-06-11 05:50] brentvatne commented on #1562
@ide - maybe onTick?

[2015-06-11 05:59] brentvatne commented on #1559
@threepointone - [this is why it works without making that change](https://github.com/facebook/rebound-js/blob/master/rebound.js#L1124-L1126)

[2015-06-11 06:03] brentvatne commented on #1559
@threepointone - I believe [this is why it works](https://github.com/facebook/rebound-js/blob/master/rebound.js#L1120-L1122)

[2015-06-11 07:42] aksonov commented on #1581
Strange, in my example I don't see symbols ("Welcome to React Native!...") from underlying view under "Preference" nav bar or it just should show background color, not text?

[2015-06-11 07:46] nicklockwood commented on #1582
Thanks, I'll take a look.

[2015-06-11 08:39] olivierlesnicki commented on #1585
Actually I managed to solve it by using the `rootViewController` as the value of the `showFromViewController` argument (accessed through the appdelegate shared instance). Pretty obvious when you think about it ...

[2015-06-11 08:39] #1585 closed

[2015-06-11 09:03] voronianski commented on #1118
@alinz I've added `propTypes` and using component as follows:

[code]

[2015-06-11 09:07] voronianski commented on #1118
@alinz Ideally I don't need a wrapper at all:

[code]

##### However in both examples I receive:

[code]

This is the code that worked well on ReactNative version `0.3.x` - https://github.com/voronianski/react-native-effects-view/blob/master/index.ios.js

[2015-06-11 10:11] threepointone commented on #1559
really odd. I'm not able to reproduce this anymore (moved from 0.4.4 > 0.6.0-rc in the last couple of days), so maybe that's why. I was clearly seeing that `window` was not defined, and the node condition would fail, so `onFrame` would be undefined.

Followup question - surely we can do faster than 60fps on react-native?

I'll mark this bug as closed, sorry for the trouble.

[2015-06-11 10:11] #1559 closed

[2015-06-11 10:18] jwyld opened #1592 "[Bridge] RCTBridgeModuleClassesByModuleID is tripped up on KVO"
In the RCT_DEBUG block of this function, it's attempting to do a scan across all classes for registered classes.  If a class has been exported to React but is also being used for KVO, the KVO system automatically adds a "NSKVONotifying_" prefixed subclass as well.  For example, exporting a "FooBar" class for which I end up observing will produce a "NSKVONotifying_FooBar" subclass as well.  Both wi

[2015-06-11 10:28] ide commented on #1592
Once https://github.com/facebook/react-native/pull/1583 is merged, can you see if this issue is present on master? One of the commits in that PR changes the native module registration to use `+[load]` which the KVO support subclasses shouldn't invoke.

[2015-06-11 10:29] JohnyDays commented on #1589
Can you give a bit more context? or perhaps a code sample

[2015-06-11 11:20] oveddan commented on #1149
@mikelehen can you link to the code that fixes this in the firebase library, just for reference for a fix for jquery?

[2015-06-11 11:22] oveddan commented on #1473
@spicyj good point - for consistency it would be best for document not to exist.  @vjeux  If you're not working on it yet, I'll take a stab at making it run in the web worker and see what the debugging experience is like.

[2015-06-11 11:41] shahbhavir commented on #846
@brentvatne your fix would work when I move from A(no navbar)->B(no navbar)->C(with navbar). But when I move back to B from C, B will show navbar and toggle in B won't work.

Is there any way we can listen on navigator route change? This would fix the problem.

[2015-06-11 12:57] alinz commented on #1118
@voronianski I will get back to you.

[2015-06-11 14:12] jaulz commented on #1578
Same issue here after upgrading to 0.6.0-rc. I still try to find out whether the project files must be changed as well but haven't figured anything specific out yet.

[2015-06-11 14:38] kwbock commented on #247
:+1:

[2015-06-11 14:44] chirag04 opened #1594 "[ActionSheetIOS] support image in showShareActionSheetWithOptions"
As per the official documentation it seems image can be passed to activity view.

There is a third party implementation of this component already here: https://github.com/naoufal/react-native-activity-view. Here you can pass imageUrl or image.

If there is a standard way to passing react image component to objective-c modules, we can use that instead two options like image and imageUrl.

Happy to

[2015-06-11 15:19] threepointone commented on #1559
I tried this
[code]
and it works well :) I haven't tried it with anything heavy yet, will report back after a day or so.

/cc @willbailey

[2015-06-11 15:43] brentvatne commented on #1559
glad it was resolved @threepointone :smile:

[2015-06-11 16:09] tonyhb commented on #1587
So one of the easy solutions is, in `PickerIOS.js`, wrapping RCTPicker in a view like so:

[code]

It's an unexpected wrapper and band-aid though.  Just haven't been able to pinpoint the relationship between flexbox and the RCTPicker view to figure out the issue.

[2015-06-11 16:29] brentvatne opened #1595 "[RFC: ListView] Default rowHasChanged for DataSource, initial rows value via constructor"
Similar to how we provided a default prop differ with `requireNativeComponent` it would clean up code a bit and reduce the cognitive overhead of people just getting into React Native to provide a default `rowHasChanged` function that defaults to a reference equality check.

The current minimal example from the docs:

[code]

This would become

[code]

Additionally, we could clean up the constructo

[2015-06-11 16:59] jsierles commented on #1519
What about a separate repository?

[2015-06-11 17:41] brentvatne commented on #1519
@grabbou - makes sense, so `OSSLibraries/Components/NavigatorIOS`?

[2015-06-11 17:42] brentvatne commented on #1519
@jsierles - @ide @vjeux and I discussed this and it may happen eventually but at the moment it would complicate things a bit too much on the Facebook end, so this is a step towards that

[2015-06-11 17:46] jsierles commented on #1519
Sounds good!

El jue., 11 jun. 2015 a las 19:43, Brent Vatne (<notifications@github.com>)
escribió:

[2015-06-11 17:51] brentvatne commented on #1118
@voronianski - hi there! Are you sure that the backing `DVEffectsView` class is linked to your project? You can verify it by doing `var NativeModules = require('NativeModules')` and checking for it on that object.

[2015-06-11 18:19] brentvatne commented on #586
@Intellicode - it seems like Titanium allows *some* actions to be triggered on remote sites as well - that said, I think the best angle here is to pull this out into an external library where we can discuss it and iterate on it and when it is mature enough potentially integrating it back into React Native. Are you willing to do that? It would be awesome :smile:

[2015-06-11 19:17] grabbou commented on #1519
@brentvatne - Yes. This kind of stuff. So it's possible to move other bits as well (currently there are none, but who knows ;) ). Anyway, will send over something by the end of the week and then we can discuss the structure further.

[2015-06-11 19:41] sahrens commented on #1595
I'm definitely a fan of your second suggestion for initial data - for the comparison function, the thinking was that we wanted people to make sure they thought about the perf instead of just doing things blindly, but I don't think that's really working out since people just copy-pasta anyway, and it's usually not even that big a perf opportunity to customize that function anyway, so I saw go for b

[2015-06-11 19:41] #1595 closed

[2015-06-11 19:49] sahrens commented on #1594
It should be pretty straight-forward to just pass a URL to the native component via a new property.  If you specify the type of the property as `UIImage`, then RCTConvert will automatically parse the string and convert it into a UIImage, whether it's a network url or a local static image file path:

https://github.com/facebook/react-native/blob/master/React/Base/RCTConvert.m#L613

Then in the nati

[2015-06-11 19:50] sahrens commented on #1594
I'm going to close this out assuming you'll put up a PR - if you have any more questions, feel free to ask here or reach out directly in the community group or IRC channel.

[2015-06-11 19:58] jaulz commented on #1431
Unfortunately I face the same issue. Upgraded to the latest version from git today and since then I have no idea how to fix it. @amasad: this version should already have babel or am I wrong?

[2015-06-11 20:46] chirag04 commented on #1594
@sahrens I was able to get the static image working by adding image option.
``[RCTConvert UIImage: image]``

However when i pass image as url string, RCTConvert is not able to convert it to an UIImage. eg:
``image: 'https://www.facebook.com/images/fb_icon_325x325.png'``

Seems like it expects a data: prefix to fetch network image. Not sure if this is a bug.
https://github.com/facebook/react-native

[2015-06-11 20:55] ide commented on #1595
I like the initial data constructor too. For the differ, I bet `(r1, r2) => true` will work better for most people as a default. It matches React's default for `shouldComponentUpdate` and is what you want when working with mutable data objects.

[2015-06-11 20:58] jaygarcia commented on #1282
A quick bump. this is still an issue.

[2015-06-11 21:00] jaygarcia opened #1597 "[Debugger] Error for newbs trying to debug on-device"
I love the idea being able to debug on the phone (it's quite essential, actually).  However for newbs doing it for the first time (/me raises hand), we're greeted with the following error:

[code]

I think it's bad form to ask non-objc devs to edit a class file.  There has to be some type of configuration that we can edit outside of a class file buried deep in the depths of a subproject dependency

[2015-06-11 21:02] jaygarcia commented on #1597
eeeeeh.... :-\

Maybe the real issue is "Can this be configured for on-device debugging"?

The following error makes complete and logical sense.
!()[http://content.screencast.com/users/djliquidice/folders/Snagit/media/e07df068-2d5c-47eb-8ee4-269ef42ca9f4/2015-06-11_17-01-34.png]

[2015-06-11 21:03] tadeuzagallo commented on #1594
The `data:` prefix is for base64 encoded images. For network images you need to use `RCTImageDownloader`.

[2015-06-11 21:05] chirag04 commented on #1594
So, we should support two options like ``image`` and ``imageUrl``?

This is what we do exactly here: https://github.com/naoufal/react-native-activity-view

[2015-06-11 21:08] tadeuzagallo commented on #1594
[code]

[2015-06-11 21:12] jaygarcia commented on #1597
OK, the issue is that i was running from a JS bundle.  The docs should state how to get this done properly.  Currently there is no mention of updating AppDelegate.m also.

[code]

Having to update configuration strings in two different places really seems counterintuitive.

I once published the idea of having end-developers update Info.plist.  What are your thoughts on leveraging Info.plist for th

[2015-06-11 21:16] jaygarcia opened #1598 "jsSchedulingOverhead warnings"
I'm quite embarrassed to say that I'm finally getting around to debugging my JSX code on the phone.

I'm getting these jsSchedulingOverhead warnings:

![jsschedulingoverhead](https://cloud.githubusercontent.com/assets/180031/8118527/7d3c489a-105d-11e5-9ac0-b8f406f2c2e9.jpg)

Should I be worried? Could it be caused by the fact that I'm debugging w/ chrome?

[2015-06-11 21:22] tadeuzagallo commented on #1282
I'll do a minor refactor on timers soon(ish) to address #1539, I'll try to look into it as well.

[2015-06-11 21:27] chirag04 commented on #1594
@tadeuzagallo That makes sense. I was reading through the code of RCTImageDownloader which seems to be using blocks(async). I'm new to ios and this seems to get little complicated here.

Mind reopening this issue?

[2015-06-11 21:42] nicklockwood commented on #1504
OK, so I have a solution for this. I'm thinking that for top-level <Text> nodes, the background color should apply to the whole view, and for nested <Text> nodes it should apply only to the span. This avoids the need for the extra containerBackgroundColor style, and makes the color propagation consistent with other views.

So this would yield a completely red view:

    <Text style={{backgroundCol

[2015-06-11 21:54] vjeux commented on #1504
@nicklockwood: that sounds like a good trade-off to me. It's not the exact same behavior as web but that's more in line with what people expect tbh

[2015-06-11 22:07] nicklockwood commented on #1504
An alternative solution (which is possibly the same or similar to what @ide is suggesting) would be to disable the ability to explicitly set the `containerBackgroundColor`, and have `backgroundColor` only affect the span.

In that scenario, we'd still inherit the container background from the parent, but if you set the span background to something translucent, it would disable inheritance.

The on

[2015-06-11 22:09] brentvatne commented on #1595
:guitar: :rocket: thanks for the feedback! @ide - excellent point, will try that as the default

[2015-06-11 22:59] jaygarcia commented on #1282
👍

[2015-06-11 23:46] sahrens commented on #1397
The image bug is a separate issue - changing the url should change the image, that definitely needs to be fixed.  Closing this because I don't think we want to change the internals since a cache busting param in the url should solve this particular issue (you can change the URL whenever you want to refresh the image...once that bug is fixed of course.)

[2015-06-11 23:46] #1397 closed

[2015-06-12 00:31] mixophrygian commented on #1584
Ya, the accidental double tap / double view push occurs before the transition.

[2015-06-12 02:20] magicismight opened #1600 "[ListView] ListView momentum scroll bug"
As the gif shows ,I dragged the ListView quickly to make a momentum scroll. and stop hold for few seconds and then release the drag. The ListView scrolls anyway.
BTW: my react-native version is 0.5.0, and the ScrollViews are in a navigator.
![scroll-bug](https://cloud.githubusercontent.com/assets/7693239/8122383/b51f29c4-10eb-11e5-9f06-e2496a2756d3.gif)

[2015-06-12 02:23] magicismight commented on #1600
It happens in ScrollView too.It should be a ScrollView bug.

[2015-06-12 02:36] ide commented on #1582
I solved this in my own components with a couple extra method declarations. In the header file I have:

[code]

The implementation file has:
[code]

That macro is defined as:
[code]

I'd be interested to learn of a leaner solution. It's kind of disappointing that NS_UNAVAILABLE alone doesn't suffice.

(Aside: with the nonnull keyword from Xcode 6.3, init methods no longer need the `if (self = [sup

[2015-06-12 03:31] ide commented on #1459
I'm seeing this with master still (up to and including the June 10 sync). Once I tap the screen the text reflows properly but occasionally it is rendered all on one line.

[2015-06-12 03:47] magicismight opened #1601 "[Navigator] Navigator transition bug"
The View which will be replaced in the Navigator didn`t animate to disappear,
It disappear once the transition starts.

`react-native\Libraries\CustomComponents\Navigator\Navigator.js`
[code]
After I removed the first line,it works fine.

[2015-06-12 04:06] ide commented on #186
Fixed by #1232 / https://github.com/facebook/react-native/commit/90439cec26e5ba86ee4f7f12d5a7591cdd745e62. The callbacks in the bridge code consistently go `(successCallback, errorCallback)`, which now matches most of the built-in native modules. And with promises the callback arguments are entirely hidden.

[2015-06-12 04:06] #186 closed

[2015-06-12 04:07] ide commented on #172
Fixed by #1232 / https://github.com/facebook/react-native/commit/90439cec26e5ba86ee4f7f12d5a7591cdd745e62. RCT_EXPORT_METHOD now can export JavaScript functions that return promises and are compatible with async/await.

[2015-06-12 04:07] #172 closed

[2015-06-12 07:04] ghostard commented on #514
Was looking for a feature like OP and came across this project: https://github.com/t4t5/react-native-router
Just thought I'd share...

[2015-06-12 07:57] nicklockwood commented on #1582
Hmm, well this is better than my solution, which was to have every unsupported initializer call the designated init with nil params, and then param assert that they mustn't be nil.

I'm surprised that it's no longer necessary to return self from init though - that's awesome! Is there a document about this change somewhere?

[2015-06-12 08:03] alvaromb opened #1603 "[NavigatorIOS] Navigator overlay NavigatorIOS bar"
Is it possible for a ``Navigator`` component to overlay ``NavigatorIOS`` navigation bar? I can't make the modal transition of the JS navigator to overlay the native navigation bar.

[2015-06-12 08:07] alvaromb commented on #1603
This is an example of the issue. Looks confusing to open a modal an still have a navigation with a back button that does not close the modal.

![modal](https://cloud.githubusercontent.com/assets/289640/8125964/c24a061a-10ea-11e5-968b-5409bf451121.gif)

[2015-06-12 08:10] nicklockwood commented on #1582
Btw, you can print [self class] directly using %@ - no need to use class_getName.

Did you try using [self doesNotRecognizeSelector:_cmd]? - I believe that's a common pattern for unsupported method implementations.

[2015-06-12 08:15] nicklockwood commented on #1582
Oh I see, you don't need to return because of the `@throw`, and you don't need the if self because of the ASSUME_NON_NULL. Makes sense.

[2015-06-12 08:42] voronianski commented on #1118
@brentvatne you're right there's no `DVEffectsView` inside `NativeModules` object though the folder with files is inside XCode project and view manager is calling `RCT_EXPORT_MODULE();`.

[2015-06-12 08:57] ide commented on #1582
This wouldn't work for init methods that have nonnullable parameters. In my example, `- (instancetype)initWithEventDispatcher:(RCTEventDispatcher *)eventDispatcher` actually desugars to `(nonnull RCTEventDispatcher *)` so it's not clear how to call it from `initWithCoder/Frame`.

Yeah I was referring to the 'if' check. Still nice to remove the extra level of indentation.

Just tried it now but the

[2015-06-12 09:00] ide commented on #1603
I would try putting the NavigatorIOS component inside of the Navigator (it might not work because it takes extra work to set up UIViewControllers inside of arbitrary views but worth a shot).

[2015-06-12 09:59] paramaggarwal commented on #1201
I feel it would be simpler if this resolution based image URL handling was done at a layer above React itself. This probably does not belong in the core. The application can decide what should be the correct URL for the right image and then set `source.uri`.

[2015-06-12 10:09] maplebaby commented on #1561
+1

[2015-06-12 10:40] alvaromb opened #1604 "[Docs] Suggested development environment for react-native"
I'm struggling to find a good development environment for React Native. Obviously [Nuclide](http://nuclide.io) is the way to go, but in the meantime, is it possible to have an small guide of the recommended tools for React Native development?

My list of needed items is:

* JSHint/JSLint with support for ES6 syntax
* Flow checker
* JSX support

Currently I'm using [Atom](http://atom.io) with a cou

[2015-06-12 10:54] grabbou opened #1605 "[StyleSheet] Sort valid style props alphabetically"
Was there any specific decision behind displaying them in the current way?

<img src="https://cloud.githubusercontent.com/assets/2464966/8128724/1d1d0c6a-1102-11e5-86c2-1eebd30a17eb.png" width="200" />

Personally having all the properties sorted alphabetically would've helped a lot to find the one wanted in case of a typo.

[2015-06-12 11:10] jsierles commented on #1429
Looks good @bparadie!

[2015-06-12 12:10] grin opened #1606 "[Crash] Can't start my app after upgrading to v0.6.0-rc"
Tested in iOS simulator, here is the console output:

[code]

[2015-06-12 12:33] soliury commented on #1578
I try to create a new project in 0.5.0, and then, update to 0.6.0-rc , and then , it can work.

Then, I try to copy the new project file to my older project in 0.4.4, but it also failed. I don't know why.

[2015-06-12 12:45] jaygarcia commented on #1604
Maybe i'm too old school, but Generic sublime text, Xcode, Google Debugger seem to work. just fine.

[2015-06-12 12:47] jaygarcia commented on #1600
Is it a bug or does your list view not buffer ahead of time enough?

[2015-06-12 12:55] ohadpartuck commented on #297
thanks!

[2015-06-12 13:52] magicismight commented on #1600
@jaygarcia
I think it is a bug,it happens in ScrollView too,not just in ListView.
Drag quickly to make a momentum scroll and then stop drag but do not release the cursor. After a few seconds release the cursor.It will continue the momentum scroll.

[2015-06-12 15:15] chirag04 commented on #1606
I'm getting the exact same error after update. @brentvatne: seems to be related to #1578

[2015-06-12 15:25] marcshilling commented on #1551
Yep - just discovered this myself.

[2015-06-12 15:53] nicklockwood commented on #1459
Is this only happening for you when the screen is rotated / RCTRootView is resized?

If so, I have a fix.

If not, can you provide steps to reproduce?

[2015-06-12 16:34] grabbou commented on #1589
Hm, haven't noticed that last time when was giving NavigatorIOS a go. Check if `push` instead of `replace` will work, maybe it's replace specific regression.

[2015-06-12 19:18] Intellicode commented on #586
I'll have a go at it this weekend, should be a good learning opportunity :)

[2015-06-12 19:38] kujohn commented on #541
Thanks @zxiest !

[2015-06-12 20:07] ardalann commented on #1601
Why are you setting ``this.state`` property directly instead of using ``this.setState`` method?

[2015-06-12 20:08] tadeuzagallo commented on #1598
What it means is that the start date passed on the timer creation (`Date.now()` on JavaScript) is 800ms ahead of the current time on iOS (`[NSDate now]`), when you're running the app on the device and the executor on your computer it's very unlikely that the times will be the same at the millisecond level. So no, don't worry about it.

[2015-06-12 20:22] ide commented on #1604
@alvaromb I recommend using eslint + babel-eslint + eslint-plugin-react. It handles flow syntax and matches the same linting and transformer used by the react-native packager.

[2015-06-12 21:02] ericvicenti commented on #1584
Is this a tap in the navbar or the scene itself? The navbar might have this issue, but tapping inside of a scene will be blocked once the transition begins, so a double tap should not be a problem.

This is a recent fix, so I would suggest cloning the repo and seeing if the master branch still suffers from this issue.

[2015-06-12 21:10] ericvicenti commented on #1601
@magicismight It is difficult to see what the problem is based on your description. The navigator is able to animate views away, but you might be using it differently than we do. Can you show a simplified example of this bug on rnplay.org, and describe what you expect to happen compared to what is actually happening?

@ardalann, that snippet is from RN's Navigator.js. This technique of setting sta

[2015-06-12 21:12] ericvicenti commented on #1589
I think this is the same issue as #476

[2015-06-12 21:12] #1589 closed

[2015-06-12 21:23] ide commented on #1584
Also so we're all on the same page - @mixophrygian are you using Navigator or NavigatorIOS?

[2015-06-12 21:28] ide commented on #1459
No screen rotation. The root view is smaller than the screen, but it isn't resized after its initial layout is computed... maybe there's a race condition where the content is rendered and then the root view is laid out.

[2015-06-12 21:51] ericvicenti commented on #1528
Contextual navigation within the Navigator component was getting very complicated, so I removed it: https://github.com/facebook/react-native/commit/4690983c10a60d84a98a2a6f8bdf9a1c39d2ef74

We will be adding back contextual navigation pretty soon, but right now you can use nested navigators manually by referring to `navigator.parentNavigator`.

So I think this issue should be resolved on master. L

[2015-06-12 22:15] nicklockwood commented on #1459
Possibly. I landed a fix for the rotation issue anyway. Once it hits Github, let me know if it's fixed.

If not, a sample app to repro the issue would be super-helpful.

[2015-06-12 23:00] sahrens commented on #1606
FYI: It's helpful if you include the stack trace with sourcemaps (a screenshot of the redbox should be sufficient).

But I think this is just from a breaking API change - replace usage of `RCTScrollViewConsts.KeyboardDismissMode.None` in your code with just the string 'none'

[2015-06-12 23:01] sahrens commented on #1606
please re-open if there is something else going on.

[2015-06-12 23:02] sahrens commented on #1604
@ide: want to stick something in the docs?

[2015-06-12 23:03] sahrens commented on #1603
yeah, you probably just don't want to mix these...but passing to Eric in case he's thought about this more.

[2015-06-12 23:04] sahrens commented on #1600
I think this is an ios issue in the simulator.  Do you ever see this particular bug on device?

[2015-06-12 23:04] #1600 closed

[2015-06-12 23:06] sahrens commented on #41
what do you think, @ide?  You seem to have the most experience with nesting and composing scroll views...

[2015-06-12 23:07] sahrens commented on #62
Closing for now since it doesn't sound like this is blocking anything.

[2015-06-12 23:07] #62 closed

[2015-06-12 23:10] dozoisch commented on #1451
:+1:  That would be awesome

[2015-06-12 23:11] sahrens commented on #79
I remember seeing a task about this internally that got fixed, and I can't seem to repro now.  Please re-open if you can repro in v0.6.0-rc

[2015-06-12 23:11] #79 closed

[2015-06-12 23:13] sahrens commented on #89
This is pretty busted - any updates, @nicklockwood?

[2015-06-12 23:14] sahrens commented on #110
I'm going to close this out - if you come up with an elegant solution, put up a PR?

[2015-06-12 23:16] sahrens commented on #179
Ping on this?

[2015-06-12 23:17] sahrens commented on #182
I know vjeux is excited about this, so passing to him for when he has time (or so he can find another owner).

[2015-06-12 23:28] brentvatne commented on #182
Here's an attempt made by @necolas to figure this out: https://github.com/necolas/react-web-sdk

[2015-06-12 23:44] mixophrygian commented on #1167
Does RN support .woff fonts?

[2015-06-13 00:26] jaygarcia commented on #1167
I think it's restricted to what IOS allows.

I've used free TTF's in my react native project.

[2015-06-13 01:20] ericvicenti commented on #1603
Yeah, combining navigator with the native navigator is not very well supported. But I suspect it will work if you put the Navigator outside of NavigatorIOS

[2015-06-13 03:54] nuggien commented on #1378
I can reproduce this with the exact same steps listed by @rxb

[2015-06-13 04:01] ide opened #1611 "[Text] Programmatically get the default font family (San Francisco vs. Helvetica Neue)"
Currently Helvetica is hard-coded in a couple places. We should instead get the system's font programmatically.

[2015-06-13 07:55] timminkov opened #1613 "[PushNotificationIOS] No register event ever gets triggered"
I'm trying to get push notifications working on my device:

Pulling [this](https://github.com/ericvicenti/react-native/commit/89a1e94a155ddf6290646e9ecb038db01941a10f) commit on React 0.5.0.

Adding a `PushNotificationIOS.requestPermissions()` in my render pops open the permissions box, but when I add:

[code]

I get nothing logged. I've tried in the simulator and on an actual device but once I cl

[2015-06-13 11:48] silentcloud commented on #1501
I'm also getting this warning

[2015-06-13 12:59] coderdave commented on #1502
To anyone getting here because the debugger no longer works after upgrading react native, it's because as @brentvatne pointed out, `RCTWebSocketDebugger.xcodeproj` was renamed to `RCTWebSocket.xcodeproj`.

To fix this, I had to start a new react native project and copy the `AwesomeProject.xcodeproj` file to my project, rename it back to what I had, and the debugger worked again.

[2015-06-13 14:40] castlesix opened #1614 "[fetch] How can I override response's charset?"
When response's charset is empty, responseText is null.

[2015-06-13 15:24] threepointone commented on #1559
one last followup - looks like on RN, rebound taps into RN's requestAnimationFrame, and as such, is super performant.

[2015-06-13 16:53] bolasblack commented on #1270
I found the reason:

![image](https://cloud.githubusercontent.com/assets/382011/8145155/4518f944-122f-11e5-9ab7-ae5901e15bfa.png)

The *UIView* and *UISearchBarBackground* frame size become `0, 0, 0, 0`, then I changed my code:

[code]

The issue resolved.

@brentvatne Maybe it's a bug of react-native?

[2015-06-13 17:12] chirag04 commented on #1606
@sahrens  I'm not using keyboardDismissMode in my app at all. I'm using using ``<ScrollView>....</ScrollView>``

After some debugging, this error seems to be coming from react-native code itself. Here:
https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollView.js#L323

It expects ``RCTScrollView.Constants`` to export ``KeyboardDismissMode``. However only ``Dece

[2015-06-13 17:28] DannyvanderJagt commented on #1613
I just tried to do the same thing, but I didn't get it to work either.

I just wanted the device token so I could use it for the push notifications and my node server. I have found a working solution but it is without the register event. In #1019 the requestPermissions uses a callback for giving you the device token. I have used https://github.com/lazaronixon/react-native/commit/af08fde42e4fb57bb0

[2015-06-13 18:20] mattds commented on #1528
@ericvicenti, I tested this now on master, and can confirm the issue is resolved, many thanks.

[2015-06-13 18:20] #1528 closed

[2015-06-13 18:28] sahrens commented on #1606
That code is only in the "if (Platform.OS === 'android')" branch which
isn't used in OSS yet...
On Sat, Jun 13, 2015 at 10:13 AM Chirag <notifications@github.com> wrote:

[2015-06-13 18:55] chirag04 commented on #1606
Ok. I took the latest master. I have attached the screenshots.

Error seems to come from line 24289 in the bundle. I have attached the screenshot of those lines in the bundle. Not where how are these constants coming here.

Let me know if you need more info.

![ios simulator screen shot jun 13 2015 2 52 30 pm](https://cloud.githubusercontent.com/assets/954063/8145604/f9d4a3dc-11db-11e5-98ce-c9b50f

[2015-06-13 19:30] sahrens commented on #1606
Hmm, do the source maps ever work for you? Looks like they didn't load
here. cc @frantic, @amasad

I'll dig into the actual failure...not sure how it could be so broken...
On Sat, Jun 13, 2015 at 11:56 AM Chirag <notifications@github.com> wrote:

[2015-06-13 19:34] chirag04 commented on #1606
As a matter of fact, the project was generated before react-native 0.4 i guess. Not sure if that has got anything to do here.

[2015-06-13 20:17] necolas commented on #182
The core components in general are really great building blocks, which is why I started implementing bits of them for our web stack.

How much of the API's do you imagine being necessary (or different) for web? For example:

* control over what DOM element is rendered
* removal of iOS/Android-specific props
* removal of non-standard `style` props (e.g., shadow props)
* addition of web features / s

[2015-06-13 22:10] mixophrygian commented on #1584
It's a custom navigator made with TouchableOpacity.

[2015-06-13 22:54] umhan35 commented on #1270
It's not a bug. I've been using the solution I provided in my project.

Here are the obj-c and JS files. Check out the last method in `RCTSearchBarManager.m`. I thought I will open source this, but there are a lot of features provided by a search bar and I only use part of them.

`RCTSearchBar.h`

[code]

`RCTSearchBar.m`

[code]

`RCTSearchBarManager.h`

[code]

`RCTSearchBarManager.m`

[code]

`

[2015-06-14 01:28] umhan35 commented on #1270
@bolasblack I just open sourced [react-native-search-bar](https://www.npmjs.com/package/react-native-search-bar) on npm. Check it out on [GitHub](https://github.com/umhan35/react-native-search-bar).

[2015-06-14 02:38] hansonkd commented on #247
+1

[2015-06-14 03:10] plandem opened #1618 "[Bridge] is it possible to get JavaScriptCore's JSContext somehow?"
Why do i need it? Sometimes i just want to use javascript directly and don't create wrappers to emit events to/from JS to get values.

[code]

For example, i would like to get value from 'SimpleApp.prototype.validate'. Just want to call it directly.

In my case, i have one bundle with visuals and some functions that has no any connection to visual part. Right now we have only:
[code]
and call it f

[2015-06-14 04:23] sherlock221 opened #1619 "[Text] padding problem"
The text element set padding under view causes no background to display.

on react-naitve 0.6.0-rc and 0.4.4

but rnplay is fine
https://rnplay.org/apps/E6HXug

[2015-06-14 04:27] sherlock221 commented on #1619
Just tested 0.5.0 is ok
![image](https://cloud.githubusercontent.com/assets/5842676/8147086/ad3ea27e-1290-11e5-872e-908a80fc21e7.png)

[2015-06-14 06:59] qingfeng commented on #1580
Resolved

[2015-06-14 06:59] #1580 closed

[2015-06-14 11:03] timminkov commented on #1613
I tried copying over the two notification files to my PushNotificationIOS directory and adding it to my project, but still no dice.

[2015-06-14 13:34] chirag04 commented on #1619
This thing is not vertically centered, which i think it should be. I was hit by this bug too. Not sure whats the problem is here.

[2015-06-14 14:03] DannyvanderJagt commented on #1613
I'm sorry for my stupid answer yesterday. I didn't read properly and I just started with react and IOS two days ago. However I did some more digging and I think I have found a proper solution.

 The problem is that `didRegisterForRemoteNotificationsWithDeviceToken` in the file `RCTPushNotificationManager` never gets called. I downloaded the latest version of react-native from the master and as sug

[2015-06-14 14:32] mosch opened #1621 "[Packager] Fails when package doesn't contain pure javascript"
The packager fails when the required package does not contain an javascript entry point with an exported *module.exports*. It looks like the feature is missing / other packagers support it.

**Example:** [dfcreative/color-name](https://github.com/dfcreative/color-name) is a module that only provides a json file.

**Error:** "cannot find package main file for package"

[2015-06-14 15:53] gcox commented on #247
+1

[2015-06-14 16:01] jawadrehman commented on #1389
can we scroll to using a rowID ?

[2015-06-14 18:06] jawadrehman commented on #107
@ide I am using the https://github.com/exponentjs/react-native-invertible-scroll-view .

i can easily add new content to the top , by pushing entries to the array. how do i add new entries to the bottom ?

the only solution i have in mind is to force an update by settting the array to be empty and then resetting it to an old one. but there has to be a better way ?

looking forward to a response. t

[2015-06-14 18:10] hansonkd opened #1622 "Websockets keep crashing."
Whenever I try to use websockets, they work and then after a period of time, the whole application crashes. I am unable to find any correlations about what is making it crash. Sometimes it will crash if I leave it sit for 5 minutes. Sometimes in the middle of using it. Equivalent code on react for web runs without incident.

Here is the exception:

[code]

and a sample snippet of code:

[code]

[2015-06-14 19:52] timminkov commented on #1613
@DannyvanderJagt were you able to get the event to trigger in the simulator?

[2015-06-14 20:05] wtfil opened #1623 "Update react-native"
Hi!

First of all thank you for amazing technology!
I have some with issue with updating `react-native` for existing app. I would like to have latest native part of `react-native` but I don't know how to do it.

Right now I have only one solution:
1) `react-native init NewApp`
2) copy all `js` files from old app to new one, configure build steps in xcode.

Is there any other production solution fo

[2015-06-14 20:12] DannyvanderJagt commented on #1613
@timminkov The register event can't be fired in the simulator because remote notifications are not supported in the simulator. Remote/Push notifications can only be used on an actual device. The error event from my fork does fire on the simulator and if your run the app in the simulator it will give you this error: `remote notifications are not supported in the simulator` which is an actual IOS (O

[2015-06-14 20:14] ide commented on #1621
What version of React Native are you using?

[2015-06-14 20:23] ide commented on #1623
If you're familiar with Xcode projects and CocoaPods then downloading react-native from npm and using the podspec under node_modules works well since you just regenerate the Pods project whenever you update react-native. You'll have to run the packager manually too.

If that isn't something you're familiar with then the approach you've outlined seems the most robust to me but is often unnecessary.

[2015-06-14 20:26] ide commented on #1622
This has been fixed in master. The WS library sometimes returned a nil error message, and ObjC crashes if you put nil in its common data structures :/

Fix should be out with react-native 0.7.0 in 3 weeks.

[2015-06-14 20:26] #1622 closed

[2015-06-14 20:29] wtfil commented on #1623
@ide thx for replay!
I am totally nooby with xcode, but  now I at least have keywords for googling:)

[2015-06-14 20:36] ide commented on #107
@jawadrehman open an issue on the other repo if you have trouble with it, but to answer your question you should `unshift` items onto your array instead of `push`ing them. It's the exact same as a regular scroll view, only that the pixels are flipped upside down.

[2015-06-14 21:05] sjmueller opened #1624 "[Xcode] 7 beta - keyboard shortcuts no longer working"
On Xcode 7 beta, none of the Keyboard shortcuts (⌘+R, ⌘+D etc) are responding anymore.  I stepped through [RCTKeyCommands](https://github.com/facebook/react-native/blob/a5212c8180de124bc5fefab90005e3ee1d01d97a/React/Base/RCTKeyCommands.m), and [RCT_handleKeyCommand](https://github.com/facebook/react-native/blob/a5212c8180de124bc5fefab90005e3ee1d01d97a/React/Base/RCTKeyCommands.m#L73) does not get

[2015-06-14 21:32] wtfil commented on #1623
@ide just updated react with npm (changed version from `0.5.0` to `git@github.com:facebook/react-native.git`) and everything works now with new `RCTPromiseRejectBlock` and  `RCTPromiseResolveBlock` features.
Any xcode manipulations weren't needed!
Closing  issue

[2015-06-14 21:32] #1623 closed

[2015-06-14 21:46] mosch commented on #1621
0.5

[2015-06-15 03:09] hansonkd opened #1625 "[DatePickerIOS and PickerIOS] are unusably slow in simulator."
Using the code from:

https://facebook.github.io/react-native/docs/datepickerios.html#content

or

https://facebook.github.io/react-native/docs/pickerios.html#content

or anything creates selectors that are unusably slow. It hangs when selecting an element in the most basic of examples. Its not just slow, but freezes the application until the pick is done. Is there additional configuration that is

[2015-06-15 04:31] alinz opened #1626 "share extension using React Native"
Just wondering whether we can write ios share extension by using react native? [somthign like this](https://developer.apple.com/library/ios/documentation/General/Conceptual/ExtensibilityPG/ShareSheet.html)

[2015-06-15 04:45] brentvatne commented on #1625
@hansonkd - I'm not seeing this in the simulator on my laptop, what kind of machine are you using? I don't see how this would be React Native specific, it seems more like either a simulator issue or slow hardware. Try this out with just a plain UIDatePicker, without React Native and let me know if you still have the issue. If you're not familiar enough with iOS to do this, check out [this tutorial

[2015-06-15 04:48] brentvatne commented on #1626
Yes, you can do this :smile:

You will have to use Objecitve-C or Swift and write it as you would with any other native app at the moment.

[2015-06-15 04:48] #1626 closed

[2015-06-15 05:00] brentvatne commented on #1619
This is what I see on 0.6.0rc:

![screen shot 2015-06-14 at 9 56 39 pm](https://cloud.githubusercontent.com/assets/90494/8153283/451ee212-12e0-11e5-961d-f8247f0f425a.png)
(https://rnplay.org/apps/BrylDg)

There is some discussion going on about this in #1504 as well.

[2015-06-15 05:01] hansonkd commented on #1625
@brentvatne Hmm. Yes it appears to be happening on native object-c. I am on a maxed out new 17" macbook pro, so my only guess is that it is El Capitan that is the problem.  I will close this issue.

[2015-06-15 05:01] #1625 closed

[2015-06-15 06:31] achang28 commented on #1149
@mikelehen Thanks a mil for 2.2.7.  And I 2nd oveddan's request.  I want to use Google Maps API, and the same problem ("document.createElement is not a function") is occurring...

[2015-06-15 06:36] dev-rkoshlyak opened #1627 "[Packager] Autoload for packager"
Is it possible to write autoload for packager? I have app structure where every file has only one class that it is exporting with same name. I was able to write autoload for webpack using:
require.context to iterate over all files and creating classes from each file, I don't have huge dependencies and can manage them manually and I am adding all classes to global (bad, but i don't care).
Is it pos

[2015-06-15 08:37] maplebaby opened #1628 "[NavigatorIOS] Is there a hidden NavigatorIOS demo?"
Is there a hidden NavigatorIOS demo?

[https://github.com/facebook/react-native/issues/1489](https://github.com/facebook/react-native/issues/1489)
Is it completed?

[2015-06-15 08:44] nrako commented on #1624
I'm seeing the same issues, however when I have a red screen (i.e chrome not running for remote debugging) ESC and ⌘+R are handled correctly.

[2015-06-15 09:01] alvaromb opened #1629 "[Packager] Requiring momentjs locale fails"
I'm trying to use a different locale for Moment.js, and I keep receiving the same error. This is the code:

[code]

And I'm receiving this error in the Chrome Dev Tools console:

[code]

It doesn't seems a Moment.js error though.

[2015-06-15 10:54] eljago commented on #1501
I'm getting this when scrolling vertically a ListView that's inside an horizontal ScrollView

[2015-06-15 11:25] zxiest commented on #1220
@henter's link did it for me; thanks!

[2015-06-15 12:32] yelled3 commented on #1276
@brentvatne I created an example repo:
https://github.com/yelled3/react-native-grid-example

where should I include this? in the ListView docs? add as a subfolder to `/Examples/` ?

[2015-06-15 12:50] oveddan commented on #1149
@mikelehen  If you want to see the temporary solution I came up with for jquery - check this out: https://github.com/jquery/jquery/issues/2349

The issue exists because these libraries believe there is a fully functioning document available, since it's attached to window.document in the chrome or safari debugger. I'm working on a possible solution that will remove document from the global window.

[2015-06-15 13:48] cyprusglobe commented on #1629
just do ```npm install moment```
then
```var moment = require('moment');```

[2015-06-15 13:51] alvaromb commented on #1629
That’s what I did. I can use moment and I’ve been using it with react-native, but I cannot change the moment ``locale``.

[2015-06-15 16:01] marcshilling commented on #45
@steffenmllr @ksokhan You can use mine https://github.com/marcshilling/react-native-image-picker

[2015-06-15 17:17] oveddan commented on #1473
@vjeux @spicyj Take a look at the PR and let me know what you think.  Debugging doesn't seem to be adversely affected in chrome.

[2015-06-15 18:24] brentvatne commented on #1276
@yelled3 - you could add it as an additional example in the UIExplorer :smile:

[2015-06-15 18:26] brentvatne commented on #1625
hansonkd - ah, makes sense, hard to say what could be going on with the early developer release of El Capitan :smile:

[2015-06-15 18:28] brentvatne commented on #1389
@jawadrehman - you could use the UIManager measureLayoutRelativeToParent function to determine the position and then scroll to that

[2015-06-15 18:31] brentvatne commented on #1629
@alvaromb - just a quick thought from browsing the moment docs, what about:

[code]

[2015-06-15 18:43] brentvatne commented on #1627
Maybe I'm misunderstanding, it seems like you just want to have your modules loaded and exposed globally automatically? Could you not create a single file, require that in your main app, and [do something like this](https://github.com/facebook/react-native/blob/master/Libraries/JavaScriptAppEngine/Initialization/InitializeJavaScriptAppEngine.js) to make everything attached to the global object?

[2015-06-15 18:49] brentvatne commented on #1629
Also, see this: https://github.com/moment/moment/issues/2007#issuecomment-99811475

If it doesn't fix the problem, let me know and I'll reopen

[2015-06-15 18:49] #1629 closed

[2015-06-15 19:07] jtremback commented on #1597
IMO, it'd be nice to keep that config in package.json. I hate xcode's point and click configuration stuff. Takes longer, needs to be manually reproduced, and you need to put screenshots in tutorials.

[2015-06-15 19:09] timminkov commented on #1613
Unfortunately following your instructions (and your commit) I'm STILL unable to even get the `remote notifications are not supported in the simulator` error message.

[2015-06-15 19:11] ide commented on #1597
The biggest reason to move it into package.json is the write once run everwhere aspect. Android =)

[2015-06-15 19:35] euclides-jr commented on #247
+1

[2015-06-15 19:35] mnylen commented on #1369
Also having this problem. At least U+2028 (line separator) character in http response body seems to cause this.

[2015-06-15 19:38] mnylen commented on #1369
U+2029 (paragraph separator) also causes this

[2015-06-15 19:40] mnylen commented on #1369
Weird thing is, it seems to work at least when debugging in chrome.

[2015-06-15 19:51] sahrens commented on #1360
I think the general fix is view recycling, but we might need to do Image caching differently as well.

[2015-06-15 20:09] mbrgm commented on #449
I found that the shadow disappears once I set `overflow: 'hidden'` in the view's style. Is this intended behavior?

[2015-06-15 20:19] jsierles commented on #1378
Also saw this - it seems related to a regression in css-layout as mentioned above. I haven't had time yet  to debug the specific issue, but testing with a newer version of Layout.c against master fixes this issue:

https://raw.githubusercontent.com/facebook/css-layout/fca176109d84a7b583bc091f91109d8c359ac1fc/src/Layout.c

I didn't try css-layout master which changes some core method signatures.