[2019-01-10 11:37] kanaReact commented on #22745
@rickhanlonii , It has problem with my node_modules folder. I have just updated the node modules and error is solved.

[2019-01-10 11:38] yangyankang commented on #18614
Have you solved it yet?

[2019-01-10 11:39] rickhanlonii commented on #22745
Cool, thanks!

[2019-01-10 11:39] #22745 closed

[2019-01-10 11:39] yangyankang commented on #18614
Now i have the same problem

[2019-01-10 12:54] pedrouid commented on #22933
Thanks @newyankeecodeshop 👍 just did

[2019-01-10 13:53] FrazeColder opened #22944 "app:compileReleaseJavaWithJavac failed - wrong path - how to change?"
I am facing a problem right now which I haven't had before.. Somehow React/Android is using the wrong path to my `MainApplication.java` file..

When I am running `react-native run-android`, React/Android is using this path: `/Users/max/Desktop/Max/Programming/Sparfuchs/android/app/src/main/java/com/dealbaer/MainApplication.java`

However, the actual path is: `/Users/max/Desktop/Max/Programming/Spa

[2019-01-10 14:05] #22944 closed

[2019-01-10 14:09] FrazeColder opened #22945 "app:compileReleaseJavaWithJavac failed - wrong path - how to change?"
I am facing a problem right now which I haven't had before.. Somehow React/Android is using the wrong path to my `MainApplication.java` file..

When I am running `react-native run-android`, React/Android is using this path: `/Users/max/Desktop/Max/Programming/Sparfuchs/android/app/src/main/java/com/dealbaer/MainApplication.java`

However, the actual path is: `/Users/max/Desktop/Max/Programming/Spa

[2019-01-10 15:05] #22945 closed

[2019-01-10 15:24] nrator commented on #22941
After digging into the [Android implementation](https://github.com/facebook/react-native/blob/0265ee199b364d5501d969dd389753d20f01c8d5/ReactAndroid/src/main/java/com/facebook/react/modules/camera/ImageEditingManager.java#L385-L386), I believe the bug is caused by using `Math.floor` instead of `Math.round` in these two lines of codes.

[code]

Since I am not a java developer and I am not familiar w

[2019-01-10 17:13] inten03 commented on #17530
@Twishka Unfortunately you would have to eject to raw react-native as well, because Expokit has the same issues.

[2019-01-10 17:22] beto81 opened #22947 "a.i"
GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native.

If you would like to report an issue in the React Native documentation, or anything related to the React Native website, please visit https://github.com/facebook/react-native-website/issues.

[2019-01-10 17:22] beto81 opened #22948 "a.i"
GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native.

If you would like to report an issue in the React Native documentation, or anything related to the React Native website, please visit https://github.com/facebook/react-native-website/issues.

[2019-01-10 17:32] th317erd opened #22949 "TextInput scrollEnabled prop existing crashes on iOS when multiline is false"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: Linux 4.15 Ubuntu 18.04.1 LTS (Bionic Beaver)
      CPU: (6) x64 AMD FX(tm)-63

[2019-01-10 17:49] sapariya2108 opened #22950 "error: bundling failed: SyntaxError: Unexpected token in JSON at position 0 at JSON.parse (<anonymous>)"
I need help for solving the react-native error. When I create a react-native project using React-native init Project-Name and run the project in a mobile phone using react-native run-android, I got an error as below. I do not change any code however I get this error.
![capture](https://user-images.githubusercontent.com/43532682/50986885-051d5c80-152e-11e9-8a74-9f4d507266f1.PNG)

[2019-01-10 18:05] #22950 closed

[2019-01-10 19:35] nate-whil commented on #21898
The issue still exists with the files specified by @jjenzz  with `"react-native": "0.57.8"` when upgrading to `"flow-bin": "0.82.0"`

[2019-01-10 19:44] nate-whil commented on #21897
The issue still exists with the files specified by @jjenzz  with `"react-native": "0.57.8"` when upgrading from `"flow-bin": "0.81.0"` to `"flow-bin": "0.82.0"`

[2019-01-10 19:52] amardeepranu commented on #18177
Having the same issue here

[2019-01-10 19:56] flashman2 commented on #15388
Have same issue when tried to launch on device. Is there any solution for device?

[2019-01-10 20:00] asaravi opened #22951 "[Android] TextInput inside a scrollView does not scroll to when focused"
## Environment
[code]
## Description
Hey Guys,

I've been trying to narrow this down but it doesn't look like I'm getting anywhere. I was hoping that you may have more insight into the situation, or if its simply an android bug waiting to be fixed.

I've noticed that with the below xml, when a TextInput field is focused, the ScrollView container is not focused into. The keyboard does pop up howeve

[2019-01-10 20:06] bmwertman commented on #22378
I get;
 `TypeError: instance.render is not a function. (In 'instance.render()', 'instance.render' is undefined)`
`This error is located at: in AppContainer (at renderApplication.js:33)`

 running the versions @huytran123 provided.

[2019-01-10 20:58] euroclydon37 commented on #21363
How would I go about linking a debuggable version of react native so that I can add breakpoints? There are instructions for building from source for Android, but I'm an iOS user.

[2019-01-10 21:20] euroclydon37 commented on #21363
# Best I Could Do
I'm not proficient with Objective-C and I had a friend look this over with me.

From what I could tell, it seems like `rootView` is `nil` here.
https://github.com/facebook/react-native/blob/630e9faf74e78c42ff14625f84ff63b24ceec0d0/Libraries/Text/TextInput/RCTBaseTextInputView.m#L478-L485

Also found this. Perhaps the `rootView` wasn't found because of some problem here?
https://g

[2019-01-10 21:44] shalbert94 commented on #17624
I"m an Android Native developer, not a React Native developer. However, this issue persists to Android Native, so it's definitely not a React Native issue.

[2019-01-10 22:03] proof666 commented on #21515
I have also experienced this issue on RN 0.57.5

React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
      Memory: 350.36 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.2.0 - /usr/local/bin/node
      Yarn: 1.9.4 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 -

[2019-01-10 22:44] FrazeColder opened #22953 "app:compileReleaseJavaWithJavac failed - change path?"
I am facing a problem right now which I haven't had before.. Somehow React/Android is using the wrong path to my `MainApplication.java` file..

When I am running `react-native run-android`, React/Android is using this path: `/Users/max/Desktop/Max/Programming/Sparfuchs/android/app/src/main/java/com/dealbaer/MainApplication.java`

However, the actual path is: `/Users/max/Desktop/Max/Programming/Spa

[2019-01-10 22:53] euroclydon37 commented on #21363
So I did some xcode debugging and found that it's searching the wrong root view. I'm further convinced that this is the issue. I think that Modals aren't adhering to the reactTag pattern here. This would lead a Modal to not be counted as a root view and for the app to keep looking, and therefore crawling the wrong view, and thus not finding the `InputAccessoryView` to associate with the `textInput

[2019-01-10 23:17] sm1th opened #22954 "NetInfo.isConnected.addEventListener: diverging behaviors on Android and iOS"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

[code]

## Description
#11041
NetInfo.isConnected.addEventListener diverging behaviors on Android and iOS:
- On Android, when a list

[2019-01-11 00:00] esmatptr opened #22955 "Issue when trying to build a release version"
## Environment
React Native: 0.57.8
React: 16.6.3
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
      Memory: 1.80 GB / 15.89 GB
    Binaries:
      Yarn: 1.9.4 - C:\Users\esmat\AppData\Roaming\npm\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
      Watchman: 4.9.4 - C:\Projects\gigassistant_mob\watchman.

[2019-01-11 00:35] #22948 closed

[2019-01-11 00:36] #22947 closed

[2019-01-11 00:38] hramos commented on #22929
It looks like you picked the Docs template when opening your issue. Can you use the Bug Report Issue template instead? Visit https://github.com/facebook/react-native/issues/new/choose, or edit your issue to follow https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2019-01-11 01:14] ataravati opened #22956 "Error Undefined is not an object (evaluating 'self.fetch') when importing Realm in React Native"
## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
      Memory: 1.47 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.14.1 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-01-11 03:12] linglu commented on #22635
I also encounter this problem, but when I try to install Release with command
[code]
the app works without error, Hope it can help you

[2019-01-11 04:19] LeXuanTien commented on #20394
I am facing this issue on reac-native 0.57.5

[code]

Issue: when I try to run this.setState, the modal auto close, I logged this.state.modalAccessoryVisible, it show true

This issue appear on iOS.

Android worked great.

[2019-01-11 06:20] mddanishansari commented on #17530
I'm not even setting `underlineColorAndroid` anywhere in my app still got this log in my firebase console. And I have no idea how to reproduce this issue again.

[code]

Talking about colors I have placeHolderTextColor and borderColor to `#acacac` and when some validation issue occurs borderColor to `red`. Apart from that I'm not even setting `underlineColorAndroid`.

Any help is appreciated.

[2019-01-11 06:31] vivek-walecha-657 commented on #21282
@hramos Please help here, As your documentation says we can use ram-bundles now. I was earlier on react native 49 but now i am on latest version.
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.1
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
      Memory: 1.49 GB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 11.3.0 - ~/.nvm/versions/no

[2019-01-11 06:43] #22905 closed

[2019-01-11 06:44] mddanishansari commented on #17530
Thanks a lot. I didn't expected reply so fast.

[2019-01-11 07:16] trandangtri commented on #19239
You saved my day. Thanks alot.

[2019-01-11 07:59] ajijoyo commented on #22521
Even on react native 0.57.8 this issue still appear, when successfull `./configure` then run `react-native run-ios` and that `config.h` suddenly disappear

[2019-01-11 08:56] alpamys-qanybet commented on #22492
I am also facing this issue

[2019-01-11 09:16] mllrmat opened #22957 "Websocket causing OutOfMemory in OkHttp on Android"
## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz
      Memory: 40.98 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.12.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watch

[2019-01-11 09:26] 2248157705 opened #22958 "android debug error"
undefined is not an object (evaluating '_reactNative.NativeModules.DevSettings.setIsDebuggingRemotely')
<unknown>
    index.js:14:28
loadModuleImplementation
    require.js:320:6
guardedLoadModule
    require.js:207:45
metroRequire
    require.js:136:24
global code

[2019-01-11 09:33] giantss commented on #22043
"socket.io-client": "2.0.4" works fine on `react-native 0.53.0`, but "socket.io-client": "2.2.0" does not work.

[2019-01-11 09:55] adititipnis commented on #21729
One plus 6t.. same issue.

This works though.

[2019-01-11 09:57] fuzunspm commented on #18242
i have the same issue

[2019-01-11 10:05] #22958 closed

[2019-01-11 10:34] YinWeiLF opened #22959 "IOS GIF is played only once, and the simulator can play it circularly"
env:

![image](https://user-images.githubusercontent.com/22316576/51028698-271aeb80-15cf-11e9-8e3c-fe9170d1323f.png)

IOS GIF real machine only plays once, IOS simulator can play circularly, Android can also play circularly, IOS real machine device is iPhone 6, system version 12.1.2

[2019-01-11 10:35] brunoosilva commented on #18680
You can use `console.error`, will show in Xcode Console

[2019-01-11 10:44] maxammann commented on #22956
I can confirm this issue. This happens only in when "Debug JS Remotely" is turned off.

[2019-01-11 11:05] #22959 closed

[2019-01-11 13:38] userbq201 commented on #19872
+1

[2019-01-11 13:38] userbq201 commented on #19872
how to fix it ?

[2019-01-11 14:19] lanjinli opened #22963 "Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle."
Require cycle: node_modules/react-native-popup-dialog/dist/type.js -> node_modules/react-native-popup-dialog/dist/components/DialogButton.js -> node_modules/react-native-popup-dialog/dist/type.js

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.

React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (8)

[2019-01-11 15:51] chuksynaza commented on #21528
+1

[2019-01-11 16:03] kelset commented on #22963
Closing, this is a Metro warning - there is already an open conversation in the dedicated repro about muting these warnings.

[2019-01-11 16:03] #22963 closed

[2019-01-11 16:05] #22926 closed

[2019-01-11 16:05] kelset commented on #22926
I suggest you ask this question in the Metro repository.

[2019-01-11 16:33] riadeveloper commented on #17944
And this is probably the best solution to fix it

[2019-01-11 16:38] liangguohun commented on #21241
"jest": {
    "preset": "react-native"//do not contain this line maybe can help
  }

[2019-01-11 16:40] perryspy opened #22964 "Upgrading react-native from 0.54.0 to 0.57.8 (latest), iOS red screen "Can't find variable: require", android app blank white screen. Help wanted."
`package.json`
[code]

`.babelrc`
[code]

[2019-01-11 17:34] jeffmwells commented on #18692
I am having the same issue with 0.57.7. If i add the `import com.facebook.react.BuildConfig;` to MainApplication.java, the app crashes entirely rather than giving a red screen of death. Same happens if i just return true or false from `getUseDeveloperSupport()`. I don't think generating the bundle is a valid solution.

[2019-01-11 18:05] #22964 closed

[2019-01-11 18:13] FrazeColder opened #22965 "Rename appliaction package name - Not able to compile"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
      Memory: 32.00 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.13.0 - /usr/local/bin/node
      Yarn: 1.12.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-01-11 18:31] ljuborados commented on #22955
I fixed this by adding:
[code]
to my android/build.gradle, although I had the problem with react-native-iap, but should be the same fix.
I'm guessing the react-native-audio/react-native-iap libraries use an older SDK/Build tools version thus not compiling correctly, but not sure why does it work in debug build..

[2019-01-11 18:37] Artorp commented on #21795
This is still an issue on `react-native@0.57.1` (Android).

Server code:

[code]

RN client code:

[code]

Output:

[code]

Expected both "X-Duplicate-Header" header values as a comma delimited string, but only the last entry is available.

As others, I encountered this issue when trying to authenticate to a web server that has multiple `WWW-Authenticate` headers.

[2019-01-11 19:00] hramos commented on #22800
What are the steps to reproduce this?

[2019-01-11 19:03] hramos commented on #22965
Hey there, sorry you're having trouble. We're using GitHub to track individual, reproducible bugs. Could you use the provided template to describe the issue? Specifically, we'd like to see a list of steps to reproduce it. Ideally, we'd like to see a minimal example of how this can be reproduced on a new project.

If you'd like help troubleshooting or working throughout your issue, we have a list o

[2019-01-11 19:13] benjarwar opened #22966 "NetInfo.isConnected.addEventListener behaves incorrectly"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
The callback passed to `NetInfo.isConnected.addEventListener` does not fire consistently nor accurately in iOS

[2019-01-11 19:14] benjarwar commented on #21953
Experiencing [similar issues](https://github.com/facebook/react-native/issues/22966) with `NetInfo.isConnected.addEventListener` in 0.57.8.

[2019-01-11 19:16] benjarwar commented on #22954
We are having other inconsistent behavior issues with `NetInfo.isConnected.addEventListener`, as documented here: https://github.com/facebook/react-native/issues/22966

[2019-01-11 19:48] FrazeColder opened #22967 "Rename appliaction package name - Not able to compile"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
      Memory: 32.00 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.13.0 - /usr/local/bin/node
      Yarn: 1.12.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-01-11 19:48] FrazeColder commented on #22965
Hey @hramos,

I just submitted a new issue here: https://github.com/facebook/react-native/issues/22967
Hope you guys can help me and figure out the bug or the solution!

Kind regards

[2019-01-11 20:27] hramos commented on #22953
This doesn't seem like a fair use of the Discussion template. Can you re-submit using the bug report template, or consider using one of the community resources for help?

https://github.com/facebook/react-native/issues/new/choose

[2019-01-11 20:27] #22953 closed

[2019-01-11 20:52] FrazeColder commented on #22967
## I found the error

Finallllyyy... I found my error. Maybe you guys should add this to your doc. The name of the application, e.g. HelloWorld, has **ALWAYS** to match the name of the package ending!

So, if the name of the app is **HelloWorld**, the package has to be my.package.helloworld and inside the helloworld folder there need to be the `MainActivity.java` and `MainApplication.java` files!

[2019-01-11 20:54] FrazeColder commented on #22967
## I found the error

Finallllyyy..., after 3 days I found my error. Maybe you guys should add this to your doc. The name of the application, e.g. HelloWorld, has **ALWAYS** to match the name of the package ending!

So, if the name of the app is **HelloWorld**, the package has to be my.package.helloworld and inside the helloworld folder there need to be the `MainActivity.java` and `MainApplication

[2019-01-11 22:51] ccorcos commented on #16376
@aleclarson what exactly does that code do?

[2019-01-11 23:02] xuelgong commented on #22635
Thanks, @linglu. It works for me too.

[2019-01-11 23:33] hramos commented on #19737
@DanielZlotin successfully upgraded the JSC in https://github.com/facebook/react-native/commit/f3e5cce4745c0ad9a5c697be772757a03e15edc5. Based on the current release cycle, it looks like @kelset's estimate will hold out: 0.59 will be the first release with the upgraded JSC.

[2019-01-11 23:47] gengjiawen commented on #22800
install RNTester debug version.
npm run start.

[2019-01-12 00:05] #22761 closed

[2019-01-12 00:05] #22853 closed

[2019-01-12 00:08] hramos commented on #22718
Closing after three weeks with no follow up from the original author.

[2019-01-12 00:08] #22718 closed

[2019-01-12 00:41] hramos commented on #2814
One of the main blockers, a 64-bit JSC, was just resolved in https://github.com/facebook/react-native/commit/f3e5cce4745c0ad9a5c697be772757a03e15edc5.

[2019-01-12 00:43] hramos commented on #14845
@celineotter 0.56.1 is pretty old - did you try the 0.58 RC?

[2019-01-12 00:44] hramos commented on #19150
@DanGDroid let me know if there's a pull request we can take a look at.

[2019-01-12 00:45] hramos commented on #22024
@tobi512 can you send a PR to https://github.com/facebook/react-native-website?

[2019-01-12 00:47] hramos commented on #22543
Please avoid tagging me on issues unless there's a direct ask.

[2019-01-12 02:21] aleclarson commented on #16376
@ccorcos It loads the `RCTDevLoadingView` earlier, so it doesn't have to block the main thread when it's loaded by RN. [This comment](https://github.com/facebook/react-native/issues/16376#issuecomment-350523177) might be an easier solution for you.

[2019-01-12 02:45] sunnylqm commented on #22521
@ajijoyo Open a new issue with detailed information

[2019-01-12 05:09] MrLoh commented on #21966
Will f6f8b092f9dac03e81cb01a73e748f3df85ea519 be part of the next RC, would be great to get a version with the fix.

[2019-01-12 07:34] ajijoyo opened #22968 "Xcode 10.1 : node_modules/react-native/third-party/glog-0.3.5/src/base/mutex.h:105:10: 'config.h' file not found"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2019-01-12 08:01] thanhit93 commented on #19211
Thanks @GaneshSaiKumar !

[2019-01-12 08:24] nandiniparimi1107 opened #22969 "onKeyboardWillShow is called after keyboard opens."
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
  React Native Environment Info:
    System:
      OS: macOS Hi

[2019-01-12 10:06] arta7 opened #22970 "onNavigationStateChange not working in device iphone but work in emulator"
i make react native app in ios for my store.in my app after i pay money i want to back to my application .i use webview for this app,and for control webview for back to my app i use onnavigatestatechange url event. my code works in expo site emulator but it is not work in iphone device and i can not goback after i clicked backbutton in webview. please help me.
`import React, { Component } from "re

[2019-01-12 11:05] #22970 closed

[2019-01-12 14:35] chriseteka commented on #22033
I have the same problem, and i have tried suggested solutions here and even in stack overflow, but none worked for me. Also i couldn't find "android" folder in node_modules/react-native folder

[2019-01-12 15:48] onitzschke commented on #11681
This is working for me on both Platforms:
[code]

[2019-01-12 15:58] mariano55555 commented on #22033
At the end, I stopped trying using expo and then eject the app, instead of that, I used the option "Build Projects with native code" from React Native official page, https://facebook.github.io/react-native/docs/getting-started...and It worked like expected

[2019-01-12 15:59] zuccha commented on #22713
Hi @triplea24 thank for your help. I tried with `flex: 1`, but that way the `ScrollView` is not scrollable anymore. It is easy to see by putting two long texts one after the other
[code]
The texts should have the same length, but I can't scroll through the 'b's. However, if I remove the `flex: 1`, the text disappears (but the view has the correct size). I don't think it's a problem of size (again,

[2019-01-12 16:04] saleem-hadad commented on #21892
stupid bot -_-

[2019-01-12 16:04] saleem-hadad commented on #21892
@fedecryto did you solve this issue?

[2019-01-12 16:18] gsaandy commented on #15990
try changing following

`<View {...viewProps}>
    <FlatList {..listProps} />
</View>`
to
`<ScrollView {...viewProps}>
    <FlatList {..listProps} />
</ScrollView>`

[2019-01-12 19:02] roots-ai commented on #19376
@corradio Adding this code, still doesn't resolve the issue for me.

[2019-01-12 23:49] matt-oakes commented on #22800
What is the workaround to this?

I'd like to use the RNTester app to work on a change to the React Native core, however, with this issue it's not possible to run the tester in the `master` branch. What is the best way around this until a fix lands?

[2019-01-13 00:16] Bautista-Baiocchi-lora commented on #22487
Is there anyway to run android without uninstalling java 11? I have tried changing gradle versions to: 5.0 but no luck.

[2019-01-13 08:38] pvanny1124 opened #22971 "How to dynamically require images for "react-native-image-sequence" component"
Hey all, was wondering if there was a workaround to require multiple images for an image sequence components.

I need to pass an array of require statements like so:

[code]

I have hundreds of animation images and want to automate this process of creating the arrays before passing it as a prop to the image sequence component. is there a way to do this without exporting a switch statement/using we

[2019-01-13 08:52] sreevisakh commented on #7495
I faced similar problem with multiple requests (continuously selecting use current location ) I have added retry for the location request. not the exact problem but may be will help somebody.
[code]

[code]

[2019-01-13 09:12] esmatptr commented on #22955
Works for me now, thanks @ljuborados

[2019-01-13 11:41] danwdart commented on #22487
Yes - just use the ol' `update-alternatives` trick to select which version you want to use, or update the local environment variable $JAVA_HOME to the correct place.

E.g.:

[code]

[2019-01-13 12:51] exced commented on #22100
Hey, I was wondering, isn't `Libraries/Components/View/ViewPropTypes.js` done ? 😄

[2019-01-13 16:33] AdamZaczek commented on #15556
For people revisiting, @hafizalfaza 's solution is the way to go. Picker's onValueChange needs setTimeout or some other way of adding to event loop to work correctly

[2019-01-13 16:36] thiagoh opened #22974 "undefined is not an object (evaluating hasOwnProperty.call(it, key)) when accessing global object with Symbol"
## Environment
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.2
  Yarn: Not Found
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.2 Build version 9C40b
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: 16.6.1 => 16.6.1
  react-native: ^0.55 => 0.55.4

## Description
**This only happens in Android devices.**
**I'm using react-native 0.55.4; can't up

[2019-01-13 17:38] TheSavior commented on #22100
I think it is close but there are one or two callsites that need strengthening in that file still.

[2019-01-13 17:57] exced commented on #22100
Thanks @TheSavior

[2019-01-13 18:05] lordheart commented on #22592
Can attest that this also happens to me.
"expo": "^31.0.0",
react": "16.5.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz",

pureComponent works fine but if I import a functional component from its own file.... hot reloading stops failed with

"Attempting to change the getter of an unconfigurable property.

<unknown>
    AppEntry.bundle?platform=ios&dev=true&min

[2019-01-13 18:18] YoruNoHikage opened #22975 "ImageBackground does not fill width on Android only"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] ~Use the latest React Native release: https://github.com/facebook/react-native/releases~ I'm not using the latest release since I use it with expo (see snack down below) but I've read the latest changelogs and saw nothing related to thi

[2019-01-13 19:02] dested opened #22976 "ScrollView with a TextInput Transform On Android"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (16) x64 Intel(R) Core(TM) i7-5960X CPU @ 3.00GHz

[2019-01-13 21:12] methodbox commented on #21241
I have also solved this by removing my .babelrc in the root (wasn't relevant anyway).

But it seems Expo is not handling this correctly. Shouldn't we be able to have localized Babel configuration in the root of the app?

Maybe this requires a configuration in the ```.expo```?

[2019-01-14 06:12] zhangjieJay opened #22977 "Cannot read property 'assetsPath' of null"
when I run "react-native link react-native-vector-icons"  in shell:

### **rnpm-install info Linking react-native-vector-icons ios dependency
rnpm-install info Platform 'ios' module react-native-vector-icons has been successfully linked
rnpm-install info Linking assets to ios project
rnpm-install info Linking assets to android project
rnpm-install ERR! Something went wrong while linking. Error: Ca

[2019-01-14 07:05] #22977 closed

[2019-01-14 07:18] linhtran-agilityio commented on #19036
Try with `clear()`
Example: this.inputRef.current.clear()

[2019-01-14 07:41] prashen commented on #21583
@wd Thanks it worked for me.

[2019-01-14 08:43] mtkopone commented on #16060
This issue is becoming a blocker for us for using react-native.
I would love to see it fixed, and can help if necessary.

[2019-01-14 09:18] Jacky9425 opened #22978 "Problem with navigation bar Android"
Hi, i am currently developing an app using react native and i have to say the most painful part is to implement a proper fullscreen app using react-native.

In my native-android code, i had coded the app to be fullscreen, without status bar and navigation bar (modern android devices now come with a navigation bar that can be hidden or shown in some app). The native code works well but once i inclu

[2019-01-14 09:58] santiph opened #22979 "aspectRatio + undefined width/height"
## Environment
[code]

## Description
aspectRatio and height: 100% seem to work only when width is set to undefined, but with aspectRatio and width set, then height is not required at all. (See Demo)
Why is that?

## Reproducible Demo
Working fine:
[code]

[code]

[2019-01-14 10:10] gutoglup commented on #21241
I tried this, but not works.

[2019-01-14 10:13] gutoglup commented on #21241
I tried all the solutions presented, but there was success in none at the moment.
The Jest or React-Native team could speak on this case.

[2019-01-14 10:22] danilobuerger commented on #22744
Also interesting: If you repeat the same picture 100x it doesn't lag. It has to be 100 different pictures.

[2019-01-14 10:46] tgensol commented on #13073
Still having this issue too

[2019-01-14 11:49] yasir-netlinks opened #22982 "InteractionManager is not working"
## Environment
[code]
## Description
Hi guys, as the title suggests, my code doesn't run when wrapped inside `InteractionManager.runAfterInteractions`. This is happening in `Android` but not sure about `ios`

e.g.
[code]
Similar issue is happening in other components where I wrapped few remote request to be dispatched inside `InteractionManager` but they do not execute at all

[2019-01-14 13:20] devbks opened #22983 "Can't build into production,"
I tried to build a production release of the project but the crashes while trying to launch it.
here are the project dependencies.
  "dependencies": {
    "react": "16.5.0",
    "react-native": "0.57.1",
    "react-native-firebase": "^5.1.1",
    "react-native-gesture-handler": "^1.0.12",
    "react-native-paper": "^2.4.0",
    "react-native-vector-icons": "^6.1.0",
    "react-navigation": "^3.0.9

[2019-01-14 13:52] Abhishekgarg727 commented on #22234
Using 57.8 react native latest version here is my sample gist for build.gradle with fixes

https://gist.github.com/Abhishekgarg727/daf031fb9f94fdfd985e84db57dedbe1

[2019-01-14 13:54] Abhishekgarg727 commented on #19239
Here is my Gist with my sample project gradle using react native 57.8

https://gist.github.com/Abhishekgarg727/daf031fb9f94fdfd985e84db57dedbe1

[2019-01-14 14:05] #22983 closed

[2019-01-14 16:25] nurely commented on #22500
@truongluong1314520 How did you solve this thing?? :/

[2019-01-14 16:58] mmmulani commented on #21030
I would much rather fix the logging issue than disable RCTReconnectingWebSocket. Right now it's used to let people connect the packager at any time instead of only looking for it on startup.

If we were to remove it, I'm sure we'd get questions from people asking why their app isn't connecting to the packager

[2019-01-14 17:16] chrisnojima opened #22985 "Animated gif loops stops after playing once on ios hardware only"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: (8) x64 Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz

[2019-01-14 17:30] mauricioscotton opened #22986 "react-native link stuck"
- [YES] Review the documentation: https://facebook.github.io/react-native
  - [YES] Search for existing issues: https://github.com/facebook/react-native/issues
  - [YES] Use the latest React Native release: https://github.com/facebook/react-native/releases
  - [YES] Googled A-LOT for this bug, nothing found.

## Environment
Run `react-native info` in your terminal and paste its contents here.
![im

[2019-01-14 17:34] zerbinidamata commented on #15059
Hey guys, having same problem on One Plus 6, any fix ?

[2019-01-14 17:48] arled commented on #21241
Why do people think this is down to upgrading?!! I've Just started a fresh project with the RN 0.57.8 and I have this issue straight out of the box. Has anyone got a real solution?

[2019-01-14 17:52] gsunsnackv commented on #22744
@danilobuerger Thank you! I forgot to mention that in the original post. It seems to be something related to memory management

[2019-01-14 17:57] leolusoli commented on #22592
+1 with RN 0.57.8. Did you find any solution? @adiospace

[2019-01-14 18:05] arled commented on #21241
Thank me later:

[code]

[2019-01-14 18:08] mauricioscotton commented on #22986
Dear bot.
I know you are a bot.
But what about checking for images as well?!?! XD
Just joking

[2019-01-14 19:06] hramos commented on #22986
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli. Can you post your issue there?

[2019-01-14 19:06] #22986 closed

[2019-01-14 19:06] hramos commented on #22538
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli.

[2019-01-14 19:06] #22538 closed

[2019-01-14 19:06] hramos commented on #21854
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli.

[2019-01-14 19:06] #21854 closed

[2019-01-14 19:10] hramos commented on #19761
The CLI was extracted from this repository, but the template still lives in this repo at https://github.com/facebook/react-native/tree/master/template. It's still the same template from when Ash first opened this issue, and the `__tests__` directory is still there.

The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli

[2019-01-14 19:10] hramos commented on #19185
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli, but the

[2019-01-14 19:10] #19185 closed

[2019-01-14 19:11] hramos commented on #18781
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli.

[2019-01-14 19:11] #18781 closed

[2019-01-14 19:11] hramos commented on #18295
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli.

[2019-01-14 19:11] #18295 closed

[2019-01-14 19:11] hramos commented on #18020
The command line tools have their own repository and issue tracker over at https://github.com/react-native-community/react-native-cli.

[2019-01-14 19:13] hramos commented on #22930
Thanks for the proposal. We mostly use GitHub to track issues, and the Discussion label is meant to track long running discussions, which I don't think applies in this case.

[2019-01-14 19:13] #22930 closed

[2019-01-14 19:41] rmilejcz commented on #21967
@chinds185a is your package.json the same as you previously posted? You need to remove the caret from `^16.7.0-alpha.2`, it should be `16.7.0-alpha.2` instead since `16.7.0` is officially released. Might also be a good idea to delete `node_modules` and then reinstall

[2019-01-14 20:05] #22978 closed

[2019-01-14 20:05] #22971 closed

[2019-01-14 20:05] #22936 closed

[2019-01-14 20:05] #22931 closed

[2019-01-14 20:05] #22838 closed

[2019-01-14 20:05] #22809 closed

[2019-01-14 20:05] benjarwar commented on #22966
@mmmulani you've worked on [RCTNetInfo](https://github.com/facebook/react-native/commits/master/Libraries/Network/RCTNetInfo.m) most recently. Any thoughts here?

[2019-01-14 20:11] ashfurrow commented on #19761
No problem. @hramos does this look sufficient? https://github.com/react-native-community/react-native-cli/issues/88 Should we close this issue, then?

[2019-01-14 22:06] chrisnojima commented on #22985
I put up a fix here: https://github.com/facebook/react-native/pull/22987

[2019-01-14 22:19] RichardLindhout commented on #6480
For me it works when I set in TouchableRipple.js the useForeground true + borderless false
[code]

Also on e.g. the FAB its needs an overflow: 'hidden' style. Works for me on both iOS and Android!
[code]

I'm running the latest Android (9 Pie)

[2019-01-14 22:24] RichardLindhout commented on #6480
I'm seeing some side effects in e.g. the header for the back button is a square now.

[2019-01-14 22:31] igsm commented on #13413
I needed to render 300 checkbox-list-items. I naively tried to set `initialNumToRender={20} `and `maxToRenderPerBatch={280}`. There was a slight delay (~700ms ± 100) in the beginning, but then surprisingly I got a complete list in one _maxToRenderPerBatch_ go.

[2019-01-14 22:51] gutoglup commented on #21241
I've tried that too.
If you create a clean project, can you run some test with the jest using the renderer?

Because of what has already been explained, either you put the preset to `react-native` and run the tests, or you run the application with the` module: react-native-babel-preset` preset. If you try to put both of them up, it's the problem that the community mentioned earlier in this issue.

[2019-01-14 23:35] hramos commented on #19737
As of https://github.com/facebook/react-native/commit/f3e5cce4745c0ad9a5c697be772757a03e15edc5, React Native apps on Android will automatically use the new JavaScriptCore (with x64 support). Closing as the commit is on master and due to be picked up in 0.59 or some other release.

[2019-01-14 23:35] #19737 closed

[2019-01-15 00:05] #20948 closed

[2019-01-15 00:05] #22890 closed

[2019-01-15 01:48] fkgozali opened #22989 "[React Fabric] Updating Build Configuration (CocoaPods, .xcodeproj, gradle)"
# For Discussion
Various parts of React Fabric code are available in github, but we need to upgrade a bunch of build configuration to make it build properly on iOS and Android. This will involve reflecting the BUCK targets for various parts of Fabric into the 3 areas:
* [React.podspec](https://github.com/facebook/react-native/blob/master/React.podspec#L92-L102) (iOS) -- note that we had partial co

[2019-01-15 02:46] TheSavior opened #22990 "Creating Standalone JS File For Each Native Component"
We are going to be generating native code from flow types in JS for our native components. In order to do this we need to have an individual JS file for each native component with complete flow types.

[Step 1](https://github.com/facebook/react-native/issues/21342), [Step 2](https://github.com/facebook/react-native/issues/21485), [Step 3](https://github.com/facebook/react-native/issues/21581), and

[2019-01-15 02:47] TheSavior commented on #22100
We still have one file to go here but I have created another issue with the next step of this project. I'd love any help we can get. You all have been amazing. ❤️

https://github.com/facebook/react-native/issues/22990

[2019-01-15 03:34] agamadev commented on #12606
Instead of new Date(), I added Math.random, it worked for me in both iOS and Android:

`<div v-bind:style="{ 'background-image': 'url(' + this.$root.profile.image + '?rnd=' + Math.random() + ')' }" class="..."></div>`

It would be something like this for _Image_ (not tested):

`<Image source={ uri: this.state.uri + '?rnd=' + Math.random() } />`

[2019-01-15 05:10] nd-02110114 commented on #22990
I'll take `AndroidDialogPicker ` .

[2019-01-15 05:17] Naturalclar commented on #22990
I'd like to contribute! I'll work on `AndroidDropdownPicker`

[2019-01-15 05:17] markentingh commented on #15830
This is definitely happening on my Samsung Galaxy S7 device using RN 0.55.4. It is 15 hours ahead even though I am using PST timezone.

[2019-01-15 05:27] ni3t commented on #22990
Hello! `RCTDatePicker`

[2019-01-15 05:28] WilliamIPark commented on #17517
I'm getting this issue I believe. The font will be applied to the placeholder, but not the text that the user inputs.

[code]

[2019-01-15 05:31] VisibleMarkov commented on #22990
Would love to help with `AndroidViewPager`

[2019-01-15 05:59] vickywane commented on #22990
I'll take RCTTabBar

[2019-01-15 06:08] ajstrand commented on #22990
I'll take the AndroidProgressBar.

[2019-01-15 06:16] Chi-AnTai commented on #22990
I will try to help with `RCTPicker`

[2019-01-15 06:38] scottmas commented on #13073
Also, InputAccessoryView has extremely spotty documentation. I'm not a novice programmer and I don't understand at all how this component is supposed to work. My initial efforts ended up with a whole lot of nothing.

[2019-01-15 06:40] OdaDaisuke commented on #22990
I’ll work on RCTSlider

[2019-01-15 08:01] TimmyGOGO commented on #16332
The same issue. I'm trying to pass redux store from first index.js to the next Components. The problem is when I'm passing the store to a simple Component, it's all right, but when I try to pass the store to decorated component, which is being exported like this:
`export default connect(
   mapToStateProps,
   mapDispatchToProps
)(Component);`
then I get this error. I can't understand why is this

[2019-01-15 08:33] Vitalik7 commented on #22781
I've same issue. React Native version 0.57.8

[2019-01-15 08:48] Leko commented on #22990
I'll work on `RCTActivityIndicatorView`

[2019-01-15 09:00] mauricioscotton commented on #22986
Thanks a million for pointing that out!
https://github.com/react-native-community/react-native-cli/issues/89

[2019-01-15 09:30] stu60610 commented on #22990
I'll take the `RCTSegmentedControl`

[2019-01-15 09:32] sasurau4 commented on #22990
I'll take the `ToolbarAndroid`

[2019-01-15 10:09] stanislavgalin commented on #22584
@Rishabh-Rathod How dod you resolve the issue with performance ?

[2019-01-15 10:10] Leko commented on #22990
I'll take the `RCTMaskedView`

[2019-01-15 10:20] achmadk commented on #22069
This issue has been solved since yarn release version 1.12.3, @voanhtuan318 . You can either install yarn version 1.12.3 or latest version (1.13.0)

[2019-01-15 10:38] geshanshan6 commented on #18760
brew cleanup

[2019-01-15 10:44] quyentran-agilityio commented on #19971
I got same issue. Any update?

[2019-01-15 10:55] MiracleDeveloper opened #23002 "React native have serious compatibility issue with Facebook Audience Network"
- [V ] Review the documentation: https://facebook.github.io/react-native
  - [V] Search for existing issues: https://github.com/facebook/react-native/issues
  - [V ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
the latest version of react-native and facebook audience network

## Description

There's only one repo for facebook audience netwo

[2019-01-15 11:05] brunoro commented on #18945
Also struggling with this here, I'm implementing infinite scroll to the top and need sticky headers (or inverted footers, apparently). Any solutions so far?

[2019-01-15 11:21] RCiesielczuk commented on #22990
I'll take the `RCTProgressView` 😄

[2019-01-15 11:47] Leko commented on #22990
I'll work on `RCTTabBarItem`.

[2019-01-15 12:03] dulmandakh commented on #22990
does this mean that native files (java and objective c) for above components will be removed in the future?

[2019-01-15 12:12] nerandell commented on #22990
I will take `RCTRefreshControl`

[2019-01-15 12:34] Return-1 opened #23005 "Fetch only brings latest value of same-name headers on Android, works on iOS."
- [ x ] Review the documentation: https://facebook.github.io/react-native
  - [ x ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ x ] Use the latest React Native release: https://github.com/facebook/react-native/releases

This is a long standing bug reported here https://github.com/facebook/react-native/issues/18837. Unfortunately #18837 became stale but i can c

[2019-01-15 12:59] zsajjad commented on #22990
I will take `RCTSlider`

[2019-01-15 13:31] erez-guesty commented on #22037
any update?

[2019-01-15 13:48] arcodergh commented on #22990
I will take RCTSnapshot

[2019-01-15 14:11] NicWickman opened #23007 "Bundling fails immediately with obscure invalid call error."
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Bundling on iOS fails immediately with the error:

`error: bundling failed: Error: index.js:Invalid call at line 53: require(path.join(folder, './package.json'))
    at /Users/nicwickman/Documents/apps/rallyapp/debug/node_modules/metro/src/JSTransformer/worker.js:247:19
    at Generator.next (<anonymous

[2019-01-15 14:34] appify-waheed opened #23008 "FlatList inside Scrollview Stuck the Scrolling"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.

[2019-01-15 14:43] sumitsahoo commented on #17497
Refer this : [https://stackoverflow.com/questions/54200727/reactnative-port-8081-issue-403-forbidden](url)

[2019-01-15 14:48] MSMurtaza commented on #17688
switching from java 9 to 8 resolved my issue

[2019-01-15 14:59] Aleksandern commented on #20497
How do you make '--scheme' and '--configuration' work?
I have error:
react-native run-ios  --scheme "Appname" --configuration Staging
[code]

[2019-01-15 15:03] MahmoudAliIbrahim commented on #21595
+1 on 0.57

[2019-01-15 15:09] #23007 closed

[2019-01-15 15:10] HolaMan commented on #23002
++

We have suffered the same issue and it's really important for all related app developer.
Please help on the issue

[2019-01-15 15:34] doniyor2109 commented on #22990
Hi. I will take `RCTInputAccessoryView `

[2019-01-15 15:48] gasparteixeira commented on #20817
@risabhkumar-cc Yes. I agree! I don't know why  the hell I had in my mind when I closed this issue.

[2019-01-15 16:01] nikhilarunw commented on #18408
Thank you @YuryKorovko
sudo xcode-select --switch /Applications/Xcode.app
It works.

[2019-01-15 16:22] methodbox commented on #21241
If you read this and related errors, you will notice that the direcotry it’s throwing the error from is inside node_modules.

A .babelrc will override in level of hierarchy other Babel configurations in subdirectories.

It would appear someone’s npm package is shipping with a .babelrc that presents a conflict when over-ridden.

This might also be another dot file in one of your project directories

[2019-01-15 16:35] TimurAsayonok commented on #18115
Any updates of this?
Have same problem. Try to use new version of `whatwg-fetch` 3.0.0 with Aborting fetch, and it's work but, when we create new build it will crash. Because they change code in 3.0.0 for browsers.

@chmartinez can you give example how we can you `abortableFetch` from `abortcontroller-polyfill`

[2019-01-15 17:47] tomershohet commented on #21301
I can confirm this change happen on my app as well, when updated to 0.57.8 and that it happen on 3rd part library like react-native-photo-view

[2019-01-15 17:51] javi10823 opened #23010 "Unhandled JS Exception: Maximum call stack size exceeded in iOS release mode"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
System:
      OS: macOS 10.14.2
      CPU: x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
      Memory: 184.24 MB / 16.00 GB
      She

[2019-01-15 17:52] el-lsan commented on #22682
Any workaround ?

[2019-01-15 17:55] noahtallen commented on #22682
I'm only getting it for a couple users in prod, so I haven't been able to figure it out

[2019-01-15 18:18] harrisrobin commented on #21990
I'm also running into this. @Val0429 did you end up figuring it out?

[2019-01-15 18:52] ziyoshams commented on #22942
I get this error after the app runs for a while, and then the live reloading gets disabled.

[2019-01-15 18:57] joshuadiezmo commented on #23010
Can you show us the code that can trigger that error?

[2019-01-15 19:01] javi10823 commented on #23010
@joshuadiezmo  is crahsing in release mode, I don't know when is crashing in the code. How can i know?

[2019-01-15 19:09] hramos commented on #22990
You're all awesome ❤ Thanks for signing up to help.

[2019-01-15 19:14] hramos commented on #13073
The docs for InputAccessoryView link to a working example: https://github.com/facebook/react-native/blob/master/RNTester/js/InputAccessoryViewExample.js. It might also be useful to understand the underlying iOS class: https://developer.apple.com/documentation/uikit/uiresponder/1621119-inputaccessoryview

[2019-01-15 19:17] hramos commented on #19761
Thanks for migrating the issue, let me close this one.

[2019-01-15 19:17] #19761 closed

[2019-01-15 19:36] NicWickman commented on #17933
I am having this issue in 0.57, does anybody have any more information? I have checked that my pod spec file is updated as noted above, so I'm not sure where this error is coming from.

[2019-01-15 21:24] tayfunyugruk commented on #21026
@danielgindi  i solved this problem by setting `top` position of the component so that it stays out of the actual view.

in my case i had picture on the screen and when it is clicked i was displaying a detail view for the clicked image and between detail image and original image i was displaying a transition image which basically resizes to detail view's image by translateX and translateY. When th

[2019-01-15 21:56] nerandell commented on #22990
I will also pick up `AndroidSwipeRefreshLayout`

[2019-01-15 22:03] hramos commented on #17699
Reopening because there's a PR with a proposed fix.

[2019-01-15 22:36] hramos commented on #23002
Thanks for raising the issue, however I do not think the issue tracker for React Native is the proper place for this. Please continue using https://github.com/callstack/react-native-fbads/issues/132 as the centralized place for any discussion around this issue.

[2019-01-15 22:36] #23002 closed

[2019-01-16 00:02] osdnk commented on #22800
@matt-oakes
Thank you so much! I confirm that it helps.
Maybe it is breaking https://github.com/facebook/react-native/commit/64de0c0aef6225e72beeb479972e8e6fc88b3c2c?

[2019-01-16 00:05] #22904 closed

[2019-01-16 00:05] #22851 closed

[2019-01-16 01:38] emmajam commented on #22990
I will take `RCTActivityIndicatorView` 😄

[2019-01-16 02:05] javi10823 commented on #23010
@hramos  this is a bug of react native platform, (js), please don't close the issue.

[2019-01-16 02:32] webguru001 commented on #15388
I have the same issue. Please help me.

[2019-01-16 03:17] AgingChan commented on #22378
I have encountered the same error. Also tried to re-generate the ios/android code using `react-native eject` but no good.

Here is the output of `react-native info`

[code]

[2019-01-16 03:44] caishi3hao opened #23015 "Could not open index.android.bundle: Permission denied"
Blackview  A7
RAM： 224.43 MB
sd： 479.99 MB
Android： 7.0
 root ： no

HUAWEI P9 lite、P8 Lite
Moto E (4) Plus、Moto E (4)、
DOOGEE S60、DOOGEE MIX、
Blackview BV6000
also crash

"react-native": "^0.57.5",

Fatal Exception: com.facebook.jni.CppException
facebook::react::Recoverable: Could not open file/storage/emulated/0/Android/data/com.xxx.android/files/.rn/index.android.bundle: Permission denied
keyboa

[2019-01-16 03:49] 25juan commented on #21732
me toot ,how to resovle this problem?

[2019-01-16 03:52] liweijieok opened #23016 "ViewPagerAndroid cat not dynamically update data"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

`ViewPagerAndroid` cant not dynamically add/delete data

## Environment
[code]

## Description
As below demo, when i click `AddPage`,then the setSta

[2019-01-16 04:00] caishi3hao commented on #23015
File f = new File(jsBundleFilePath);
        if (f.exists()) {
            builder.setJSBundleFile(jsBundleFilePath);
        } else {
            builder.setBundleAssetName("index.android.bundle");
        }

[2019-01-16 04:03] iamrommel commented on #21048
this worked for me too

[2019-01-16 04:05] #23015 closed

[2019-01-16 04:12] caishi3hao opened #23017 "Could not open file /storage/.../index.android.bundle: Permission denied"
System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 244.36 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.2.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.4.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS

[2019-01-16 04:29] tedpaulsen opened #23018 "Modal close causes orientation reset"
## Environment
[code]

## Description
This issue seems to be similar to #20402, but I'm still having this issue.

I am attempting to reproduce the modal demo as seen [here](https://facebook.github.io/react-native/docs/modal) on an iPad. When the orientation of the app is in landscape, the orientation of the app seems to be reset upon closing the modal. When the modal is reopened, it opens in the c

[2019-01-16 05:05] #23017 closed

[2019-01-16 05:13] caishi3hao commented on #23017
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
System:
OS: macOS 10.14.2
CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Memory: 244.36 MB / 8.00 GB
Shell: 3.2.57 - /bin/bash

[2019-01-16 05:39] caishi3hao opened #23019 "Could not open file /storage/.../index.android.bundle: Permission denied"
### Get help with your React Native app or ask code-level questions

System:
OS: macOS 10.14.2
CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Memory: 244.36 MB / 8.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 11.2.0 - /usr/local/bin/node
Yarn: 1.12.3 - /usr/local/bin/yarn
npm: 6.4.1 - /usr/local/bin/npm
Watchman: 4.4.0 - /usr/local/bin/watchman
SDKs:
iOS SDK:
Platforms: iOS 12.1, macOS 1

[2019-01-16 07:10] DimitryDushkin commented on #13588
[code]

[2019-01-16 07:52] HolaMan commented on #23002
We can discuss a lot in that thread, and no one have ability to change or fix the bug because it require the team of react native and facebook audience network's help to fix it.

So if the issue is closed, is there any further and helpful way which can make progress?

[2019-01-16 08:39] tr3v3r commented on #21055
Try:
`"watchman watch-del-all && rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-* && yarn cache clean"`

Worked for me

[2019-01-16 08:40] tr3v3r commented on #20588
Try:
`"watchman watch-del-all && rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-* && yarn cache clean"`

Worked for me

[2019-01-16 08:47] ajaymore opened #23020 "rxjs 6.3.3 operators do not work"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
[code]
## Description
Below code results in an error

### Code

[2019-01-16 09:18] lll000111 commented on #19594
ping!

Here is what needs to be done: add a property `Symbol.toStringTag` to an object that returns the name, here "Map" or "Set".

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/toStringTag

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map/@@toStringTag

https://tc39.github.io/ecma262/#sec-object.prototype.tostring ("19.

[2019-01-16 10:04] karlsander commented on #22891
Fix https://github.com/facebook/react-native/pull/22892#event-2076182818 merged

[2019-01-16 10:04] #22891 closed

[2019-01-16 10:17] doronoded opened #23021 "PermissionsAndroid.getPermissions immediately resolves to "never_ask_again" when asking for geolocation permissions"
## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (8) x64 Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz
      Memory: 1.45 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.14.2 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-01-16 10:21] 54vanya commented on #15556
Why is this even closed? Issue is still exist, @hafizalfaza 's solutions isn't that I really want to use in my life

[2019-01-16 11:08] grabbou commented on #18020
Reopening, since "react-native-git-upgrade" is still part of this repository.

[2019-01-16 11:45] yuezonglun commented on #12152
Encountered the same problem

[2019-01-16 11:57] #19022 closed

[2019-01-16 12:14] aamalric commented on #20593
It does still require community's attention. Please don't close it.

[2019-01-16 12:15] ancodeUDW commented on #21029
Actually no, the problem has not been solved yet. I am using expo because it does work. I tried to install last react-native version again last December from scratch, and the same problems arise.

Expo is ok for my current project, but it might become a bit short for some projects I plan to start in the near future, so I would be interested to be able to develop properly with react-native.

[2019-01-16 12:32] Ilphrin commented on #18773
Hi,

I had the exact same error yesterday (fixed this by reading the thread and changing `{ myVariable && ...}` to `{!!myVariable && (...)}` ) so thank you all for this ;)

Now, as @vjsingh said, this is a very frustrating issue, and even though a rule in tslint would be nice, I think the main issue here is that this error message isn't giving any information but the string used (and in my case th

[2019-01-16 13:33] #18827 closed

[2019-01-16 13:51] hyochan commented on #23018
@tedpaulsen I've just tried this in `Android` and I couldn't reproduce this in `expo sdk 32`. I want you to verify that this is only occurring in `ios`.

[2019-01-16 15:05] ravindraguptainfogain commented on #21202
please reopen, how we can stop the logging of these request messages.

[2019-01-16 15:20] karanjthakkar commented on #22966
@mmmulani Thanks for tagging me.

@benjarwar I tested out your example and it seems like this issue has been happening for atleast the last 6 commits, which was before I touched this piece of code. Now I know this isn't the answer you are hoping for, but I don't have the bandwidth to debug the reason behind this falkiness atm. If you are sure it was working on some version of RN in the past, then

[2019-01-16 15:32] zabojad opened #23022 "Some Images do not render in Android (release mode only)"
## Environment
[code]
## Description
For reasons I do not get, I have some png images (every time the exact same ones) that do not get rendered in Android release mode only.
In my sources:
[code]
I've checked the `android/src/main/res/drawable-mdpi/` folder and they get copied there correctly.

The only symptom I see in logcat is this:
[code]
corresponding to the 4 Images that do not get rendered.

[2019-01-16 15:35] karanjthakkar commented on #22954
@sm1th Hey! I was just checking out this . It looks like the first time, it doesn't fire the handler. But from that point onwards all changes are recorded as expected. I don't think it is related to #22966 at all. I don't know what is the expected behavior by the RN team here. But if you want it to fire the first time on Android as well, you might have to debug the Android side on your own coz his

[2019-01-16 15:38] godofmadness commented on #21801
@darylalexjohnson nope, issue still exist.

[2019-01-16 15:48] sm1th commented on #22954
@karanjthakkar You're right, I don't think my issue is related to #22966 either (@benjarwar I cannot reproduce your issues)

I would expect the expected behavior to be that the listener does not trigger on register.

In my case, however, I do want it to trigger on register, so this is my solution:

    public async componentDidMount() {
        // Set connection state as soon as component mounts

[2019-01-16 16:00] shyaniv7 commented on #20540
work around

[code]

[2019-01-16 16:15] adirzoari commented on #19150
same issue. any solution?

[2019-01-16 16:44] James2516 commented on #18426
not yet fixed

[2019-01-16 16:49] adamivancza commented on #20623
Issue still exists

[2019-01-16 17:14] aouaki opened #23023 "SSL Error using Android API 19 since OkHttp upgrade"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2019-01-16 17:14] hramos commented on #23002
I'd be happy to work with the folks at Callstack to resolve this through another channel - they know how to reach me.

[2019-01-16 17:14] TimurAsayonok commented on #18115
So, I try to use [cross-fetch](https://github.com/lquixada/cross-fetch) instead latest version of whatwg-fetch

[2019-01-16 17:15] hramos commented on #23010
I don't disagree with you. If you're able to provide a solid repro, please do open a new issue with all the pertinent details.

[2019-01-16 17:21] javi10823 commented on #23010
@hramos  I find the problem ... there is a file in the project that the code read , a json file have 200.000 lines... but in debug is working this is a RN issue?

[2019-01-16 17:31] HolaMan commented on #23002
@hramos
It's really nice to have your help and support.
Thank you very much,

I just raised the issues and the author just feedback their response
https://github.com/callstack/react-native-fbads/issues/132

Suraj-Tiwari (one of the author of callstack)
i tried to file issue and contact them with no proper response from them so
i think they won't resolve this issue. atleast for now

erandagan
It's

[2019-01-16 17:31] DanGDroid commented on #19150
no solution but to do it your own, i implemented a lazy loader of ScrollView but does not have all the benefits of a virtualised list

[2019-01-16 17:50] benjarwar commented on #22966
@karanjthakkar thanks for taking a look. I'll try to triage further.

[2019-01-16 18:41] agamadev commented on #12606
I **haven't tried** this, but in Vue the same happened to me. It didn't work with Date() but it worked with Math.random(). It would be something like this:

`<Image source= { uri: this.state.uri + '?rnd=' + Math.random() } />`

[2019-01-16 18:58] tedpaulsen commented on #23018
Yes, I just tried it on android as well -- unable to reproduce with `expo sdk 32` and `android sdk 27`. Seems to be only on `ios`

[2019-01-16 19:01] sahrens commented on #19150
What about `disableVirtualization={true}`? Don't have much time to look at this now - would love a PR :)

[2019-01-16 19:05] ericksprengel commented on #2814
Important note published yesterday on Android Developers Blog:

https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html

[2019-01-16 19:18] adirzoari commented on #19150
@sahrens I tried now, it's not working. it's still from left to right.

[2019-01-16 19:29] asaravi opened #23024 "[Android] Unplugging USB cable from device in Battery saving mode will restart the application"
## Description
Hey guys,

Seems like in Android 9, when the battery saver mode is enabled, unplugging and re-plugging the USB cable will restart the app from the first screen. It doesn't matter which screen you're in.

This does not happen in Android 8.

This requires a real device to test this on.

## Reproducible Demo
any react-native app (even those currently in production), navigate to any pag

[2019-01-16 20:03] hugetiny opened #23025 "Can RN fully support node.js in service worker?"
Can RN fully support node.js in service worker?
if not
Can RN apps run child process  like node.js do?

[2019-01-16 20:05] #23025 closed

[2019-01-16 20:05] #23024 closed

[2019-01-16 20:27] barnesheaton opened #23026 "Weird Reversal of Font Styles / Font Styles being overridden"
## Environment
[code]

## Description
1. Applying `fontStyle: 'italic'` overrides any use `fontWeight`
2. Using a particular `fontFamily` doesn't result in that font being displayed correctly
3. Just applying `fontWeight: '${number}'` sometimes results in an italic style being applied

Here I am using the react-native Text component with the specific fontFamily listed below (called subFonts maybe?

[2019-01-16 20:36] alexandrecanuto commented on #21718
Having this issue as well.

[2019-01-16 21:37] evaleirasclapps commented on #20394
Same here!

[2019-01-16 22:18] AugustoAleGon commented on #16878
Same Issue in version 0.57.5

[2019-01-16 22:37] hugofelp commented on #18441
I don't know stale bot! I don't know...

[2019-01-16 23:05] nol13 commented on #22966
Simulator or device? When i switch wifi on an off on laptop connectionChange still only fires once in simulator, but this has been working pretty reliably for us in 57.8 on device. (I actually thought this was fixed, appears still an issue though since when I remove the hacky code our offline status check goes bonkers.)

[code]

[2019-01-16 23:10] nd-02110114 commented on #22990
I'll take `RCTModalHostView `

[2019-01-16 23:12] hramos commented on #21029
What about React Native 0.57.8 or 0.58.0-rc.2?

[2019-01-16 23:16] grange74 commented on #2814
@ericksprengel thanks for sharing. It would be good to add the following to your quote so that people don't panic between seeing your post and reading the referenced link.

[2019-01-16 23:40] tido64 opened #23029 "Random crash in `RCTFollyConvert` on `NSUserDefaultsDidChangeNotification`"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

[code]

## Description

Our app randomly crashed in `RCTFollyConvert` when `RCTSettingsManager` received a `NSUserDefaultsDidChangeN

[2019-01-17 00:05] #22922 closed

[2019-01-17 01:04] hramos commented on #20774
This appears to be solved in 0.57.8, based on comments in the thread and lack of activity since that version was released.

If I am wrong, let me know and I can re-open.

[2019-01-17 01:07] hramos commented on #20492
This is the only known blocker left in #19573. Are folks still running into this problem in 0.57.8?

[2019-01-17 01:18] HeinrichTremblay commented on #22990
I'll give `AndroidDrawerLayout` a try ✌️

[2019-01-17 01:41] hramos commented on #23029
Thanks for reporting this. We generally do not track random crashes in the repository, as we need a solid repro. If you are able to figure out the root cause, or you come up with a list of steps that reliably reproduce the crash, please do open a new issue. Thanks!

[2019-01-17 01:41] #23029 closed

[2019-01-17 01:41] #22955 closed

[2019-01-17 01:51] zcgong commented on #22968
Did `./configure` success ?

[2019-01-17 02:00] LucasMonteiro1 commented on #22713
Same problem

[2019-01-17 02:03] wkmcyz commented on #7474
I changed the default Modal implementation of react-native and solved this problem. What I do is to replace the official Modal package with one a-little-modified Modal package which shows Modal in full screen with status bar above, you can refer to https://www.cnblogs.com/wkmcyz/articles/10277436.html for details.

[2019-01-17 02:08] ajijoyo commented on #22968
yap,and `config.h` successfull created
<img width="725" alt="screen shot 2019-01-17 at 08 56 57" src="https://user-images.githubusercontent.com/10805529/51290264-ed663c80-1a35-11e9-97b7-7216557a04e7.png">
<img width="882" alt="screen shot 2019-01-17 at 09 00 27" src="https://user-images.githubusercontent.com/10805529/51290406-5b126880-1a36-11e9-91e7-535da3b31fef.png">

but when i run react-native

[2019-01-17 02:30] andrei0807 opened #23032 "How to input multiple line placeholder in textinput?"
I am going to add multiple line placeholder text in textinput component.
But I don't know how to set multiple line placeholder.
Please help me

[2019-01-17 02:45] Val0429 commented on #21990
@harrisrobin I reinstall babels to version 7,

[code]

please let me know if that works for you.

[2019-01-17 03:00] #23016 closed

[2019-01-17 03:03] liweijieok commented on #23016
[ViewPagerAndroid returns empty view when new source data added](https://github.com/facebook/react-native/issues/4775)

[2019-01-17 03:05] #23032 closed

[2019-01-17 03:07] andrei0807 opened #23033 "How to input multiple line placeholder in textinput?"
GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native. GitHub may not be the ideal place to ask questions about using React Native, but we have compiled a list of resources that should help.

### Get help with your React Native app or ask code-level questions

Many members of the community use Stack Overflow to ask questions.

* Read through

[2019-01-17 03:08] #23033 closed

[2019-01-17 03:11] gazedash commented on #21967
Any estimate about the date when hooks will be ready to use with RN in production? I mean, using stable version, not alphas and betas

[2019-01-17 03:15] andrei0807 opened #23034 "How to input multiple line placeholder in textinput?"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
react 16.6.3
react-native 0.57.8

## Description
I am going to add multiple placeholder in textinput component.
But I don't know how

[2019-01-17 03:22] bwor opened #23035 "React -native adaptation problem"
Page design based on iphone6 design draft, running in iphone 5 style is out of order. What do react-native need to adapt? How to fit is according to the width and height scale of different models? Please give some advice to the experienced developers. Thank you

[2019-01-17 04:03] sushilm2011 opened #23037 "App crashes if 3 finger screenshot is used in Mi Phones"
On 3 finger drag which is used to take a [screenshot](https://en.miui.com/thread-305870-1-1.html) on Mi Phones, gives the following error

<img src="https://user-images.githubusercontent.com/18329032/51294717-39b37b80-1a3a-11e9-9988-b72f8249e076.png"  width=40%/>

[2019-01-17 04:05] #23037 closed

[2019-01-17 04:05] #23035 closed

[2019-01-17 08:43] NiuYangYang opened #23040 "StatusBar translucent = true, Sometimes invalid when opening my app."
![31547712900_ pic_hd](https://user-images.githubusercontent.com/19486884/51304496-4a341800-1a73-11e9-8ae7-b933ade70e81.jpg)

as the picture shows,
my app sometimes moves down overall,
cannot extend below the status bar.

open the app and exit,
after a while,
more than 80% chances when opening again

each page has the following code:
`<StatusBar backgroundColor={statusBarColor}  translucent={true}

[2019-01-17 09:03] MuhammadUzair commented on #22912
Still exist in new version

[2019-01-17 09:04] inpendio opened #23041 "StyleSheet.create returns an object not number"
Hi,

I have noticed that StyleSheet.create return an object and not number reference.
[code]

This results in propTypes for style: PropTypes.object, passing normally.

Shouldn't StyleSheet return an number reference to a style? Is this some __DEV__ behaviour or a bug?

[2019-01-17 09:05] #23041 closed

[2019-01-17 09:05] #23040 closed

[2019-01-17 09:10] NiuYangYang opened #23042 "StatusBar translucent = true, Sometimes invalid when opening app."
![31547712900_ pic_hd](https://user-images.githubusercontent.com/19486884/51304496-4a341800-1a73-11e9-8ae7-b933ade70e81.jpg)

as the picture shows,
my app sometimes moves down overall,
cannot extend below the status bar.

open the app and exit,
after a while,
more than 80% chances when opening again

each page has the following code:
`<StatusBar backgroundColor={statusBarColor}  translucent={true}

[2019-01-17 09:14] inpendio opened #23043 "StyleSheet.create returns an object not number"
## Description

I have noticed that StyleSheet.create return an object and not number reference.
[code]

This results in propTypes for style: PropTypes.object, passing normally.

## Environment

"react": "16.6.1",
"react-native": "0.57.7",

### Question

Shouldn't StyleSheet return a number reference to a style? Is this some __DEV__ behaviour or a bug?

[2019-01-17 09:19] Zver64 commented on #22922
Why, doesn't it? I pasted react-native info output into the Enviroment section. What else do i have to do?

[2019-01-17 09:21] nobady90 commented on #15826
Guys, same problem here ... are there any news for this? (for the moment I removed the borderRadius but I need to insert it)

[2019-01-17 09:33] santiph commented on #12152
Same problem. Any updates from RN team?

[2019-01-17 10:05] #23042 closed

[2019-01-17 10:05] #23043 closed

[2019-01-17 10:21] mirse commented on #22207
I can not open your website,can you send again?

[2019-01-17 10:38] NiuYangYang opened #23044 "StatusBar translucent = true, Sometimes invalid when opening app."
## Environment

[code]

## Description
![31547712900_ pic_hd](https://user-images.githubusercontent.com/19486884/51304496-4a341800-1a73-11e9-8ae7-b933ade70e81.jpg)

as the picture shows,
my app sometimes moves down overall,
cannot extend below the status bar.

open the app and exit,
after a while,
more than 80% chances when opening again

each page has the following code:
`<StatusBar backgroundCol

[2019-01-17 11:05] #23044 closed

[2019-01-17 11:34] inpendio opened #23045 "StyleSheet.create returns an object not number"
## Description

I have noticed that StyleSheet.create return an object and not number reference.
[code]

This results in propTypes for style: PropTypes.object, passing normally.

## Environment

"react": "16.6.1",
"react-native": "0.57.7",
[skip envinfo]

### Question

Shouldn't StyleSheet return a number reference to a style? Is this some __DEV__ behaviour or a bug?

[2019-01-17 12:05] #23045 closed

[2019-01-17 12:06] moonstruck commented on #23008
I'm getting very similar behaviour mostly in Android Pie.

[2019-01-17 12:46] azamkth opened #23046 "Always shows first tab when app open from background(Android)"
First of all I am sorry if i put this question on wrong place. I don't know where i should ask this question. I will be very thankful if i get the answer of this question.
I have simple react-native app (Android) which shows just two tabs 1) HomeScreen and 2) SettingsScren. When app is in background and try to open it again. Always shows first tab which is "HomeScreen" no matter which tab was sele

[2019-01-17 13:05] #23046 closed

[2019-01-17 13:09] pvinis commented on #21967
I think it should be this coming 0.58 right?

[2019-01-17 13:20] azamkth commented on #23046
this can be bug as well?

[2019-01-17 14:04] IgorVanian commented on #22392
There is a bug in iOS itself that causes this issue and it's currently impossible to switch from custom keyboard: https://forums.developer.apple.com/thread/92030#316507

[2019-01-17 14:19] gengjiawen opened #23049 "[Meta] Android target ES6 and beyond with new jsc landed on master"
## Motivation
With this we can have better perf and bundle size.

First tested at https://github.com/gengjiawen/ReactNativeNewJsc. (check `README` for basic setup).
Then move a more big project: https://github.com/gengjiawen/test-react-nav-with-screens.

Current Status:
[code]

The file is: `node_modules\react-navigation-stack\src\views\StackView\StackViewLayout.js`.
Please mind it's the one in `s

[2019-01-17 14:33] sourabhv commented on #19211
@7laria's answer worked for me. Well, part of the answer did the trick. Along with step 1 and 2, just updated `com.android.tools.build:gradle` to `3.2.0`

[2019-01-17 14:58] bemaverick commented on #22781
the same
does someone fixes?

[2019-01-17 15:16] ThaJay commented on #15556
Then don't use it. I have had another Picker component in my app for ages. This is not likely to get fixed any time soon.

[2019-01-17 15:25] rmilejcz commented on #21967
@pvinis I doubt it.

@gazedash 0.58 will probably ship with react 16.7 as a dependency, which does not include support for hooks unfortunately. Ideally, 16.8 *will* include support for hooks, and hopefully we can see that by react-native 0.60. For now we'll just have to accept that hooks are an experimental feature in react  so using them is gonna take a bit of legwork

[2019-01-17 15:42] bvaughn commented on #21967
The above replies are correct!

We (React core team) haven't announced the date when hooks will be released in a stable React version– (other than saying "soon")– and this is a prerequisite for supporting hooks in React Native.

I will say that as soon as hooks are released in React stable, I'll be working with the React Native team to unblock anything needed to support hooks there. I'm already wo

[2019-01-17 16:10] newyankeecodeshop commented on #23049
@gengjiawen This is the `babel.config.js` I came up with for our app. Since we target a minimum iOS 10.3 and use the new Android JSC, we can share the babel config on both platforms. I had to keep the `transform-classes` plugin because hot-module reloading doesn't work with ES6 classes. The debug builds never worked. Our app also uses react-navigation and this babel config works with it.
For relea

[2019-01-17 16:45] michbil commented on #17096
Still happens on react-native 0.57.7 It's only related to the files in local cache referenced with file:// protocol.

[2019-01-17 17:12] mccordgh commented on #5586
__If you need to scan the QR Code on iOS you don't need to do it through the Expo app:__
  1. Open the Camera app
  2. Point the camera at the QR Code
  3. It should recognize it and give you a banner notification to open in Expo
  4. Click the banner notification

[2019-01-17 18:02] hramos commented on #2814
@grange74 I edited the original post in this issue to include the full timeline from the article.

[2019-01-17 18:22] benjarwar commented on #22966
@nol13 interesting. In testing this further now, it seems not to be occurring now on my actual device (I swear it was previously!), but still *consistently* occurs in the iOS Simulator.

So is this a known problem? Are there other issues or documentation about `NetInfo` behaving sporadically, specifically in the Simulator only?

If anything, it behooves a note in the [documentation](https://facebo

[2019-01-17 18:54] jvt commented on #22383
Agreed, same as @MichielDeMey, we're also unable to implement CodePush into our application due to it loading the incorrect images for various screen resolutions.

[2019-01-17 19:16] nol13 commented on #22966
Ya, that's what the app state check was for. It would sometimes be offline for a split second right after unlocking, but the event wouldn't fire when it went back on. The double check is because only the second check was reliable, and even then sometimes (every few days) it needed a bit of a timeout as well.

That code was originally to work around NetInfo as it existed in 55.3, but after the 57.8

[2019-01-17 19:37] praveenkumarc86 commented on #18629
@lwt001no1 Can you elaborate this? Also did your phone and mac both are in same wifi or not?

[2019-01-17 19:48] vivek-walecha-657 commented on #21282
@shergin @javache @mkonicek @davidaurelio @nicklockwood @hramos @jeanlauliac
Guys, please help in this issue. it will be a great help

[2019-01-17 19:49] fcustodiof opened #23053 "Clear array in state using setState({array:[]}), remain the last element"

[2019-01-17 19:56] hramos commented on #21282
@vivek-walecha-657 please avoid tagging a lot of people, it's spammy and unlikely to expedite your issue.

[2019-01-17 20:05] MobilyteApps opened #23054 "undefined is not an object(evaluating 'n.type' )"
In index.android.bundle while creating debug build for Android getting an issue undefined n.type not an object. Also while evaluating View.propTypes not compiling.
 Wasted a day on this issue but could not find a solution. Please suggest if there is an workaround.

Looking forward for quick response.

[2019-01-17 20:12] benjarwar commented on #22966
@nol13 your code doesn't seem to help in the Simulator. The problem seems to be with the `connectionChange` event. It simply doesn't fire reliably after the first disconnection event.

What's interesting, though, is if I add a check for `NetInfo.isConnected.fetch()` in a `setInterval`, then the `connectionChange` dispatches reliably again in the Simulator. Like, calling `NetInfo.isConnected.fetch(

[2019-01-17 20:38] computerjazz opened #23055 "[Flex] flexDirection row with flexWrap does not allocate vertical space"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70

[2019-01-17 20:45] computerjazz commented on #23055
Found a fix -- adding `alignContent: 'stretch',` to the parent container seems to result in desired outcome.

[2019-01-17 21:05] #23054 closed

[2019-01-17 21:36] sharoneh commented on #18396
same about the repetitive re-rendering here (for each 10 items)
I noticed in my environment that it doesn't happen if I disable redux-persist at the state where the items of the list are
let me now if anyone's experiencing something like this

[2019-01-17 21:43] sharoneh commented on #18396
found something that can help: https://stackoverflow.com/questions/48357524/flatlist-calling-twice

[2019-01-17 22:35] luca-borrione commented on #19812
Lucky You! :)
I had to specify the following in my `[untyped]` section:
[code]

"flow-bin": "0.90.0",
create-react-native-app version: 2.0.2

[2019-01-17 23:03] likai057187 opened #23056 "The demo xcode project initialized from (react-native init AwesomeProject) failed to build."
## Environment
React Native Environment Info:
   System:
     OS: macOS High Sierra 10.13.6
     CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
     Memory: 589.20 MB / 8.00 GB
     Shell: 3.2.57 - /bin/bash
   Binaries:
     Node: 11.6.0 - /usr/local/bin/node
     npm: 6.5.0 - /usr/local/bin/npm
     Watchman: 4.9.0 - /usr/local/bin/watchman
   SDKs:
     iOS SDK:
       Platforms: iOS 12

[2019-01-17 23:16] pinko42 commented on #15388
you should add a path into your environment variables ... "adb" path you can find it location in the C:\Users\user\AppData\Local\Android\Sdk/platformtools

[2019-01-17 23:45] AdamZaczek commented on #15556
What do you recommend @ThaJay ?

[2019-01-18 00:05] #22920 closed

[2019-01-18 00:15] caosinhan commented on #18680
It only crash in release.  Debug mode is fine.

[2019-01-18 01:04] jerolimov commented on #20492
@hramos Unfortunately not. For me the Xcode legacy build option is still required with 0.57.8 and also with the new 0.58.0-rc.3.

To make this reproducible, I create a fresh new project and test it locally and with travis CI. I linked the original project below (but its just created with react-native init) and the successful and broken builds on travis. Maybe this helps? At least I could and will

[2019-01-18 01:44] andrei0807 commented on #23034
<img width="846" alt="screen shot 2019-01-18 at 9 43 04 am" src="https://user-images.githubusercontent.com/32348752/51360177-8fa12580-1b05-11e9-8d13-69e20ea8ec08.png">
<img width="284" alt="screen shot 2019-01-18 at 9 43 10 am" src="https://user-images.githubusercontent.com/32348752/51360179-929c1600-1b05-11e9-86dc-9d2bbf2f366a.png">
Thanks foriancargoet for your answer.
But I can not success.
Ple

[2019-01-18 01:55] NiuYangYang opened #23057 "StatusBar translucent = true, Sometimes invalid when opening app."
## Environment

[code]

## Description
![31547712900_ pic_hd](https://user-images.githubusercontent.com/19486884/51304496-4a341800-1a73-11e9-8ae7-b933ade70e81.jpg)

as the picture shows,
my app sometimes moves down overall,
cannot extend below the status bar.

open the app and exit,
after a while,
more than 80% chances when opening again

each page has the following code:
`<StatusBar backgroundCol

[2019-01-18 02:05] #23057 closed

[2019-01-18 02:05] mdvacca commented on #22990
No, this is required to autogenerate C++ code for components in Fabric. Java components will remain the same.

[2019-01-18 02:40] NiuYangYang opened #23058 "StatusBar translucent = true, Sometimes invalid when opening app."
## Environment

[code]

## Description
![31547712900_ pic_hd](https://user-images.githubusercontent.com/19486884/51304496-4a341800-1a73-11e9-8ae7-b933ade70e81.jpg)

as the picture shows,
my app sometimes moves down overall,
cannot extend below the status bar.

open the app and exit,
after a while,
more than 80% chances when opening again

each page has the following code:
`<StatusBar backgroundCol

[2019-01-18 02:54] dozel commented on #22187
@HasnainAD thank you I'll try it out

[2019-01-18 03:05] #23058 closed

[2019-01-18 03:09] treynolds110 commented on #20318
I've also just encountered this issue. Any updated information?

[2019-01-18 03:47] pzyryanov1995 opened #23059 "TextInput ignores dynamic textAlign with secureTextEntry"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS Sierra 10.12.6
      CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2019-01-18 04:54] Liqiankun opened #23060 "onEndReached called many many times"
## Environment
[code]

## Description
Once you scroll Flatlist to the bottom,  call `onEndReached`,  then props changed, it call once again!

[2019-01-18 05:51] zubko commented on #20309
This issue is still happening on RN 0.57.8

Quick fix:

In `node_modules/react-native/Libraries/Text/TextInput/RCTBackedTextInputDelegateAdapter.m`

Add

[code]

[2019-01-18 07:14] gsunsnackv commented on #22938
@esmatptr  @felixus95 When I have a few images the scroll is extremely choppy (ScrollView or FlatList), are you experiencing this? Also Android 9.0 only https://github.com/facebook/react-native/issues/22744

[2019-01-18 07:21] himanshuf35 opened #23061 "iOS release build crash on react-navigation 2 or higher"
release build works fine if i use react-navigation version 1 but crashing on upgrading to higher version

package.json

"dependencies": {
    "@babel/core": "^7.0.0",
    "@babel/plugin-proposal-decorators": "^7.0.0",
    "@babel/plugin-transform-runtime": "^7.0.0",
    "@babel/runtime": "^7.0.0",
    "buffer": "^5.0.6",
    "core-decorators": "^0.20.0",
    "image-downloader": "^3.4.2",
    "mobx

[2019-01-18 07:22] gsunsnackv commented on #22859
@kabus202 @esmatptr  When I have a few images the scroll is extremely choppy (ScrollView or FlatList), are you experiencing this? Also Android 9.0 only #22744

[2019-01-18 07:31] phoa commented on #21190
I just encountered this problem. I'm behind proxy too. Looks like proxy setup is required to whatever command line tool is used by react-native to download the file.

However, I can manually download the required .tar.gz files from web browser.
Here's what I did.

- Download the .tar.gz files. The url to download the files can be found at the bottom of file `node_modules/react-native/scripts/ios-i

[2019-01-18 07:39] vivek-walecha-657 commented on #21282
@hramos Sure. Can anyone help here to get this issue resolved?

[2019-01-18 07:51] gsunsnackv commented on #22444
@HaloWang @genogeno @malacca Is this only happening on Android 9.0 but not 8.x or 7.x ?
I wonder if this could be the root cause of #22744. FlatList try to load everything regardless if they are visible or not

[2019-01-18 08:05] #23061 closed

[2019-01-18 08:13] thecachedbyte opened #23062 "App Store Review Guideline 2.3.1 - Performance"
We have a hybrid app where few screens are in react native and other screens are native. We are using codepush for OTA updates. Recently Apple rejected our app review with reason

https://developer.apple.com/app-store/review/guidelines/#accurate-metadata

Anyone else facing/faced a similar issue?

[2019-01-18 08:35] genogeno commented on #22744
I gave up using FlatList.  I instead use this library.

https://github.com/Flipkart/recyclerlistview

[2019-01-18 08:35] andrei0807 commented on #23034
Thanks, I solved problem

[2019-01-18 08:36] gsunsnackv commented on #22744
Update: It seems that adding https://github.com/kmagiera/react-native-gesture-handler helps. So maybe the bug is in the area where react-native handles gesture

[2019-01-18 08:37] gsunsnackv commented on #22444
@genogeno Are you using https://bolan9999.github.io/react-native-largelist ?

[2019-01-18 08:37] gsunsnackv commented on #22744
Thank you @genogeno . I'll try

[2019-01-18 08:38] genogeno commented on #22444
No I am not using that.  I am using this library.

https://github.com/Flipkart/recyclerlistview

This library I think does not use any flatlist implementation.

[2019-01-18 09:03] gsunsnackv commented on #22744
Update: I confirm https://github.com/Flipkart/recyclerlistview works . Code https://github.com/gsunsnackv/android-9.0-react-native-scroll-bug/tree/recyclerlistview

[2019-01-18 09:05] #23062 closed

[2019-01-18 09:09] pzyryanov1995 commented on #23059
I found a temporary solution, but it is incorrect.
In textInput added this code:
[code]
Result demo: [https://snack.expo.io/B174vzk74](result_code)

[2019-01-18 09:37] kapil5harma commented on #18015
Facing a similar problem, any updates?

[2019-01-18 09:56] #23053 closed

[2019-01-18 10:09] tclarke-scottlogic commented on #20318
@treynolds110
This fixed it for me, can't speak to anyone else.
 https://github.com/facebook/react-native/issues/20318#issuecomment-415349996

[2019-01-18 11:20] JB-CHAUVIN opened #23063 "Webview shared cookie with fetch"
- [ v] Review the documentation: https://facebook.github.io/react-native
  - [v ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ v] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
  React Native Environment Info:
    System:
      OS: macOS

[2019-01-18 11:25] rafaellincoln opened #23064 "ReactAndroid:buildReactNdkLib FAILED"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-2435M CPU @ 2.40GH

[2019-01-18 11:49] caishi3hao commented on #21755
System:
OS: macOS 10.14.2
CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Memory: 244.36 MB / 8.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 11.2.0 - /usr/local/bin/node
Yarn: 1.12.3 - /usr/local/bin/yarn
npm: 6.4.1 - /usr/local/bin/npm
Watchman: 4.4.0 - /usr/local/bin/watchman
SDKs:
iOS SDK:
Platforms: iOS 12.1, macOS 10.14, tvOS 12.1, watchOS 5.1
Android SDK:
API Levels: 19, 20, 21, 22,

[2019-01-18 12:04] zaguiini commented on #6946
RN 0.57.8, Bugsnag 2.13.1. Still incorrect for Android. iOS is working fine.

[2019-01-18 12:44] igsm commented on #13413
Also these configuration helped to achieve better performance. `initialNumToRender={30} maxToRenderPerBatch={30} windowSize={101}`. I don't know, at the end it felt that it is about the best combination of the properties, perhaps, it is a quick fix for someone.

[2019-01-18 14:21] elizamaria commented on #18836
Any update on the issue? It happens to me on IOS on release mode as well.

[2019-01-18 14:22] Ezema-Ugonna-Donald opened #23065 "TextInput on android emulator doesn't let me type text"
I can't seem to get TextInput working on my android emulator. It displays properly but I can't enter text
`import React, {Component} from 'react';
import {StyleSheet, View, TextInput, TouchableOpacity, Text, StatusBar} from 'react-native';

export default class LoginForm extends Component {
    constructor () {
        super();
        this.state = {
            text: '',
            text2: ''

[2019-01-18 14:40] abrantes01 commented on #22882
@roots-ai did you manage to fix this issue ?

[2019-01-18 15:06] 18945168 commented on #20588
i have the  problem because of i use 'react-navigation', when i remove 'react-navigation'  its run ok, this is work for me, to add the plugin --> @babel/plugin-transform-flow-strip-types

[2019-01-18 15:09] ThaJay commented on #15556
I made my own. I think there was someone in this thread who made his own and published it as a module, but I just made a gist out of my code as an example of houw this could be done.
https://gist.github.com/ThaJay/80ee8647940e0cb753a9da67f55b14df

[2019-01-18 15:34] filipmadej opened #23066 "FlatList re-creates child items when numColumns > 1 and a new item is inserted or items are re-ordered"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (8) x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz

[2019-01-18 16:02] roots-ai commented on #22882
Yes! it was because of removing libReact.a from the Linked libraries.

[2019-01-18 16:05] #23065 closed

[2019-01-18 16:13] shaktalles opened #23067 "Autoscroll half of TextInput when its padding is set to '0'"
- [ x ] Review the documentation: https://facebook.github.io/react-native
  - [ x ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ x ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

  React Native Environment Info:
    System:
      OS: Linux 4.15 Linux Mint 19 (Tara)
      CPU: (4) x64 Intel(R) Core(TM) i7

[2019-01-18 16:16] ligaofeng0901 commented on #18415
Is there anyone who can fix it?

[2019-01-18 16:19] jerodgers1 commented on #18678
Any other suggestions? I have tried the following
* clean and rebuild
* quiting xcode then reopening
* removed node_modules and then reinstalled them.
* Overriding Deprecated Object-C methods - NO
* switching toolchains to swift 4.0.3

I am using Xcode 10.1

[2019-01-18 16:57] adnkh commented on #21006
I have the same problem, It is happening also in some Huawei devices.
Please have you found any workaround for this bug.

I got this in the logcat

from ProgressiveStringDecoder

[2019-01-18 17:33] barnesheaton commented on #20897
@L-Yeiser Instead of using margins as @buzzb0x suggested. I use a `View` (with the same height as my fixed content) as my 2nd child and apply `pointerEvents: "box-none"` to that _as well as_ my fixed content and that works for me

[2019-01-18 18:02] Pingou commented on #22445
Same problem using XMLHttpRequest().

[2019-01-18 18:57] tbergq commented on #22383
We are also having this issue.

This is how it looks in development:
![image](https://user-images.githubusercontent.com/7705041/51407071-e704bd00-1b28-11e9-932d-46bbcacd15fa.png)

And this is how it looks with code-push
![image](https://user-images.githubusercontent.com/7705041/51406896-6d6ccf00-1b28-11e9-9efe-12de884341db.png)

[2019-01-18 19:53] andyboythekid commented on #20460
For me the issue was watchman -- running the tests with the --no-watchman flag worked.

In my case, .watchmanconfig was ignoring node_modules

[2019-01-18 21:06] caspianprogrammer opened #23070 "touchableopacity react native z index"
I have some TouchableOpacity component that overlapping and when press one of them , It seems decrease zindex this TouchableOpacity , how can increase zindex or other solution for show pressed TouchableOpacity on top ?
![rntoucaleopacity](https://user-images.githubusercontent.com/14143169/51412995-ad60a000-1b82-11e9-926a-2f4f13d19a49.gif)

[2019-01-18 21:43] tapir opened #23071 "DeviceEventEmitter.removeAllListeners changes BackHandler behaviour"
## Environment
[code]

## Description
I've been chasing this bug for weeks now and I almost gave up. As I've thought this was related to the navigation solution that I'm using I've tried all the navigation libraries out there with each and every one of them having hardware back button not work (actually doing nothing at all)
Finally I've commented out the line that says `DeviceEventEmitter.removeA

[2019-01-18 22:05] #23070 closed

[2019-01-18 22:09] likai057187 commented on #21482
@fdobre, if remove React and ReactCommon in "Header Search Path", how can they find React headers?

I'm brand new to React Native, just followed the official tutorial and created the first RN project by using "react-native init". (My environment is up to date as I just started today. That is to say, RN v0.57.8, node v11.6.0, Xcode 10.1, etcs. )

1. The xcode project created by "react-native init"

[2019-01-18 22:53] dryganets commented on #21006
The initial version of my PR supported UTF-8 encoding only, but I was asked to make a solution similar to iOS.
The progressive download is not something that is enabled by default. If I remember correctly you could avoid it by not subscribing to the `onprogress` and `readystate` change events of XmlHttpRequest:
[code]
The code which might help to fix the problem on 4.4 UTF-8 is listed below.
The d

[2019-01-18 23:02] jeronnex2 opened #23072 "React-Native-Linear-Gradient on IGNITE CLI?"
Hello there I am trying out this thing called ignite CLI and I've been progressing however when I tried to add react-native-linear-gradient on to the project I seem to be getting an error. I just followed all the things listed in here https://github.com/react-native-community/react-native-linear-gradient and added it into my ignite CLI project.

here is the error that I am having.

error: bundling

[2019-01-18 23:05] #23072 closed

[2019-01-19 00:05] Nermin-K opened #23073 "react native modal doesn't behave as expected"
I'm trying to use `<Modal>` to make something like this
when pressing on About label in the drawer, it should open this popup screen
![screenshot_2019-01-19-01-22-49-059_com geekytools](https://user-images.githubusercontent.com/30387225/51417966-5e6a3900-1b89-11e9-8d5c-d6285f1c397d.png)
but what I get is this
at first it doesn't render the first view and the background isn't transparent
![screensh

[2019-01-19 01:05] #23073 closed

[2019-01-19 01:58] rafedweb commented on #18692
I also have same issue. nothing work to me.

[2019-01-19 02:48] Kielan opened #23074 "Manual linking React CxxBridge"
Essentially a duplicate of this issue, which in my opinion should not be closed until there is documentation explaining what that podfile config looks like in manual xcode linking. Not every project does or can use cocoapods including react native modules, thank you ahead of time for response.

https://github.com/facebook/react-native/issues/14925

https://facebook.github.io/react-native/docs/inte

[2019-01-19 05:04] ashleyjsands commented on #21925
I got this exact error.

It turns out that when I added `resolutionStrategy.force 'com.facebook.fresco:drawee:1.3.0'` to `app/build.gradle` file to fix a compiler error when creating my apk file, I inadvertently cause this error to occur when I would run the app. The solution for me was to remove the resolutionStrategy line.

[2019-01-19 06:04] Return-1 commented on #23005
### Ramifications of this. You. cant use fetch with any server setting more than 1 cookie 🍪.

[2019-01-19 09:01] gatspy commented on #21030
update `0.57.0` to `0.57.8`, i have same issue.

[2019-01-19 10:53] ishigamii opened #23075 "[Android/iOS] Crash if not in debug"
## Environment
[code]
## Description
Regression (I think)
When I create a new project with the latest version of react-native (`0.57.8` at the moment), and then launch the app on my android simulator / phone, I get a red screen or error (or a crash in release).
If I pass the pass in debug mode everything goes perfectly normal.

## package.json (the default one)
[code]

## Reproducible Demo
The rep

[2019-01-19 11:45] jaychsu opened #23076 "`TextInput.blur` is not working if with `Alert` on iOS"
- [v] Review the documentation: https://facebook.github.io/react-native
  - [v] Search for existing issues: https://github.com/facebook/react-native/issues
  - [v] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description

- on iOS: It's so stranger `TextInput.blur` was explicitly called but not working if used in `Alert.alert`. A

[2019-01-19 13:44] zcgong commented on #22968
Did you run `make && make install` ?  Look at `https://github.com/google/glog`

[2019-01-19 14:16] kristerkari commented on #18899
I can confirm that this fixed the problem for me when upgrading my project from React Native 0.56.0 to 0.57.8.

My `yarn.lock` had `react-deep-force-update` locked to version `1.1.1`.

I manually removed the `react-deep-force-update` from my `yarn.lock` and ran `yarn install` after that. Then when I restarted the packager using `yarn start --reset-cache` hot loading started working again.

[2019-01-19 15:10] ishigamii commented on #23075
To keep on going with the experimentation I installed the previous version (which is `0.57.7`)

## Reproduce Steps

1.  `react-native init --version="0.57.7" test577``
2. `cd test577``
3. `react-native run-android`

Doing so I got the same bad output as before but I found another project that was using the same version (that I made month ago) and check the differences. I found out this
**Working p

[2019-01-19 16:51] vrajeshkanna commented on #21140
Issue got resolved for me when I upgraded and locked my React version also

[2019-01-19 17:01] mrishan1993 opened #23079 "share images on social apps"
This is the code I am using

[code]

 when i use this, share modal pops up, but i cant share any image.
although, I am able to share links and text

[2019-01-19 17:05] #23079 closed

[2019-01-19 17:05] FarzadKaramouz opened #23080 "Flatlist pagingEnabled issue when using horizontal option"
## Environment
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i7-4510U CPU @ 2.00GHz
      Memory: 1.71 GB / 5.89 GB
    Binaries:
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5056338
[skip envinfo]

## Description
I am using FlatList with horizontal and pagingEnabled options. When I define borderWidth i

[2019-01-19 17:20] esmatptr commented on #22859
I updated the react native version to 0.57.8 and the scroll is working as expected now

[2019-01-19 20:48] arqex commented on #21455
Same here, isn't it a workaround or an explanation?

[2019-01-19 23:44] belal-mazlom commented on #22043
Thanks @bgoyal2222 it's works with me also.
I am using react native "0.56.0"

It's really horrible spending two days trying to figure out why it's work with debug remote js and not work without it.

[2019-01-20 01:25] vistiyos opened #23081 "Secured text strip the last character when set the state"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz

[2019-01-20 03:49] jaychsu commented on #23076
I temporarily use a workaround by making `Alert.alert()` asynchronous, also shown in the reproducible demo.

[code]

[2019-01-20 06:15] #19209 closed

[2019-01-20 06:15] #21313 closed

[2019-01-20 06:15] #21356 closed

[2019-01-20 06:16] #16850 closed

[2019-01-20 06:16] #19946 closed

[2019-01-20 06:16] #21445 closed

[2019-01-20 06:16] #21460 closed

[2019-01-20 06:16] #19313 closed

[2019-01-20 06:16] #21265 closed

[2019-01-20 06:16] #21446 closed

[2019-01-20 06:45] ysyyork commented on #18243
Why this is closed? So the recommended way is compile apk first and than manually use adb install to install on a specific device? No plan to fix the --deviceId option? I think it's better to fix the deviceId option right? Otherwise if it's not working then what's the point of having that option.

[2019-01-20 06:57] hyochan commented on #19991
What I really hope from this issue is to make `kotlin` standalone react-native modules possible. I saw many developers working with `react-native` project building their own `kotlin` module and couldn't port to standalone libraries to `npm`.

I hope `react-native` team is aware that many of android developers are willing to provide firm open-source native modules built in `kotlin` and not `java`.

[2019-01-20 11:10] ishigamii commented on #23075
Problem was due to a regex negative lookbehinds and javascript does not support them.

The error was caused by this regex. It seems strange that it works perfectly in debug and cause this error in dev mode don't know if it is a bug or just normal so I will just close this issue

[2019-01-20 11:10] #23075 closed

[2019-01-20 11:54] jsamr commented on #12534
Still an issue for me.

[2019-01-20 12:32] doronoded commented on #23021
By the way, asking for "fine" location, works just fine.

[2019-01-20 15:31] a-koka commented on #21552
Yes, it's still an issue. I'm happy to provide more information if needed.

[2019-01-20 16:01] iLevye commented on #20715
I can not reproduce the issue but there is too much users facing it specially after iOS 12.1
I am using react-native@0.55.2

My packages:
[code]

[2019-01-20 16:10] iLevye commented on #20715
@nicholasc can you confirm this today? Did you checked Xcode crash logs at these days?

![screen shot 2019-01-20 at 19 08 28](https://user-images.githubusercontent.com/1510974/51441824-d4d07d80-1ce6-11e9-9804-81671ac308d7.png)

[2019-01-20 19:01] andrej-kuznetsov opened #23083 "Portrait screen orientation is not locked properly on Android 8.1"
## Environment
[code]

## Description
#### Preconditions:
1. You must have android device with 27 API
2. I created new App via react-native init appName
3. Added this option in my AndroidManifest.xml to .MainActivity `android:screenOrientation="portrait"`
4. Added button with some deeplink
```Linking.openURL('https://www.google.com/maps/dir/api=1&travelmode=driving&origin=10,11&destination=12,11')

[2019-01-20 19:42] Bradzer commented on #18372
Same issue for me.
It is such a shame that a such critical and old issue is not being solved.

[2019-01-20 21:36] jdgarcia1381 commented on #20398
Same problem here. `fontFamily` is being ignored on nested Text and I can't find a solution for this. Enabling font scaling doesn't solve it for me.
If I apply the same `fontFamily` on nested Text, it is ignored.

[2019-01-21 00:36] muhammadkounta commented on #18760
`brew update && brew upgrade` worked for me

[2019-01-21 03:10] xiaohaook opened #23085 "ExceptionsManager.js:84 Warning: Expected instance props to match memoized props before componentDidMount. This is likely due to a bug in React. Please file an issue."
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

## Description
Describe your issue in detail. Include screensh

[2019-01-21 03:10] xiaohaook commented on #23085
"react-native": "0.57.7",

[2019-01-21 04:37] VirenMohindra commented on #22968
Nothing worked for me except building on a different mac with the same model. `make && make install for `glog`, the `ios-configure-glog.sh` inside the scripts folder in react-native modules, and also manually added the lines of code from here https://github.com/facebook/react-native/blob/v0.57.0/scripts/ios-configure-glog.sh#L44-L51

Copied the entire repository over including the build. Going to

[2019-01-21 05:15] ajijoyo commented on #22968
cannot complete install maybe because i had rename Xcode apps to Xcode 10.1
<img width="725" alt="screen shot 2019-01-21 at 11 54 14" src="https://user-images.githubusercontent.com/10805529/51453673-5f5ebe80-1d73-11e9-902d-334fa8a80917.png">

we dont have mac with same model, so i decided using latest project react native i have

[2019-01-21 06:06] joey3060 commented on #16067
Even I didn't put the FlatList inside ScrollView, the problem still persists.
RN 0.57.0

[2019-01-21 06:21] tristankenney commented on #22918
I was able to workaround the issue using this answer from [StackOverflow](https://stackoverflow.com/a/50419734/9410585)

[2019-01-21 06:48] sarath-mohan-xelp commented on #18339
The issue is happening for me too. Please open this issue. @react-native-bot reopen

[2019-01-21 07:10] clems36 commented on #20499
Fixed

[2019-01-21 07:10] #20499 closed

[2019-01-21 07:26] smahdi opened #23086 "Update package and error Can't find variable: require"
Hi everyone
### Description
--------------------
I gave the old code of react-native I extended and I had to update:

![2](https://user-images.githubusercontent.com/12386385/51457790-fcb3f580-1d67-11e9-9c32-6b15ea246725.png)

After eliminating many errors and conflict, I encountered the following error that I did not find a way.

![1](https://user-images.githubusercontent.com/12386385/51457932-8d8

[2019-01-21 07:32] ZackLeonardo commented on #22341
+1

[2019-01-21 07:46] indapublic commented on #22341
@ZackLeonardo FYI I used https://github.com/pentarex/react-native-gallery-manager for those purposes

[2019-01-21 08:05] #23086 closed

[2019-01-21 08:35] andrei0807 opened #23087 "Flexwrap question"
GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native. GitHub may not be the ideal place to ask questions about using React Native, but we have compiled a list of resources that should help.

### Get help with your React Native app or ask code-level questions

Many members of the community use Stack Overflow to ask questions.

* Read through

[2019-01-21 09:09] orangecoloured commented on #14295
Why is this issue is closed?
`panResponder` does not work properly with the `Modal` component.

[2019-01-21 09:40] csath commented on #21945
[#19451 ](https://github.com/facebook/react-native/pull/19451) patch didn't work for me. I reverted the ([dba2235](https://github.com/facebook/react-native/commit/dba2235d95e46514206bcfaefc7e965193536fe8)) commit and now it works as previously.

[2019-01-21 09:48] mmaschenko opened #23088 "Linking.openUrl show "Open With" popup dialog on android"
## Environment
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 6.9.1
  Yarn: 1.12.3
  npm: 6.4.1
  Watchman: 4.7.0
  Xcode: Xcode 9.3 Build version 9E145
  Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

## Description
I have app with links to website. After i have added deeplinks it shows dialog "Open With" after

[2019-01-21 11:11] ydv0121 opened #23089 "Connect React-Native with IoT"
how to connect react-native app with IoT??
tried couple of libraries like

https://github.com/aws/aws-iot-device-sdk-js
https://github.com/aws/aws-sdk-js

is it possible to connect react native with IoT?

[2019-01-21 11:43] shmilyiselephant commented on #20606
Hi, thank you for your answer. I have met the same problems.

After resolving it, I think for the password input the keyboardType="default" is better than others in android.

[2019-01-21 12:05] #23089 closed

[2019-01-21 12:30] 6pm commented on #19537
Why it's closed? Looks like it is problem with symlinks. It haven't resolved yet.
Facebook team please remove `react-native-bot` it is useless.

[2019-01-21 14:15] Devil-Cong commented on #21241
I met the same situation.
I initialized a project with `react-native-cli`, then I integrated `MboX` and use decorators, so my `package.json` and `.babelrc` like this:

[code]
[code]
When i run `react-native-git-upgrade`, i get this error:

git-upgrade ERR! Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3". If you are sure you have a compatible version of @babel/core, it is likely that

[2019-01-21 14:52] pie6k commented on #22592
Would be great to at least know what getter is being changed so it'd might be possible to refactor properly to avoid it.

[2019-01-21 15:12] rafaellincoln commented on #23064
Resolved!

I updated NDK from version r17b to r17c and cleaned the build folder.

[2019-01-21 15:12] #23064 closed

[2019-01-21 16:12] ferrannp opened #23090 "Elevation does not animate when it is inside a view which animates its opacity (Android P)"
## Environment
[code]

## Description
What described in the title works in any Android but not on Android P. See the differences:

### Android P:
![androidp](https://user-images.githubusercontent.com/774577/51485870-6d2a3900-1d9f-11e9-908e-cf89d5b37adf.gif)

### Below Android P:
![notandroidp](https://user-images.githubusercontent.com/774577/51485873-70252980-1d9f-11e9-8469-271b43f87c8f.gif)

## R

[2019-01-21 16:16] ferrannp commented on #19297
Finally I was able to put together code + issue on another big problem starting on Android P: [Elevation does not animate when it is inside a view which animates its opacity (Android P)](https://github.com/facebook/react-native/issues/23090).

This affects libraries such as `react-navigation`.

cc @kelset

[2019-01-21 16:59] juanfer0002 commented on #21953
Just to add. This is a problem that only occurs in iOS, it's working fine in Android.

A snippet like this would never print 'After isConnected':
[code]

[2019-01-21 19:49] coryb08 commented on #22093
@vemundeldegard or @gifary could you guys explain how how to "remove linker" ??

[2019-01-21 23:16] ziadtorkey commented on #18888
Setting the missing "JAVA_HOME" system environment variable worked for me.

    Press WIN+Pause on keyboard.
    Click advanced system settings.
    Click "Environment variables".
    Click "New" under "System variables".
    Type "JAVA_HOME" in the Variable name field.
    Type the path to the JDK in the Value field. For me the correct path with short filename was "C:\PROGRA~1\Java\jdk1.8.0_66".

[2019-01-21 23:35] radjivF commented on #18742
I have the same problem here

[2019-01-22 00:05] #22874 closed

[2019-01-22 01:15] gifary commented on #22093
@coryb08 just open .xcworkspace in xcode an find the library doesn't exist at library folder

[2019-01-22 01:36] radjivF opened #23091 "undefined is not a function (evaluating 'Object.getOwnPropertyNames(argument[i])"
## Environment
Environment:
  OS: macOS 10.14.2
  Node: 10.15.0
  Yarn: Not Found
  npm: 6.4.1
  Watchman: 4.9.0
  Xcode: Xcode 10.1 Build version 10B61
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: ^0.55.4 => 0.55.4

## Description
After moving my folder to one another one, clean every cache you can imagine about it, I ca

[2019-01-22 02:16] c623700 commented on #23056
I have the same setup trying the same awesome project and when I get to the step to open the project in xCode - using the .xcworkpace file the project failed to build and I get an error:
clang: error: linker command failed with exit code 1

[2019-01-22 02:40] azcodia opened #23092 "undefined is not a function(evaluation 'object.getOwnPropertyDescriptors(arguments[i])')"
before it went smoothly, but after I made native react a new error occurred,
this is the problem
"undefined is not a function (evaluation 'object.getOwnPropertyDescriptors (arguments [i])')"

even though the code is not I add a little bit of input
and that makes me crazy

[2019-01-22 02:45] punyasurya commented on #23092
have the same issue here...

[2019-01-22 02:46] thaitrandng commented on #23092
have the same issue here... =))

[2019-01-22 02:50] luolin2611 commented on #23092
Same problem

[2019-01-22 02:55] gabsima-nexapp commented on #23092
I've updated from react native 0.55 to 0.57 and i get this error on android while on ios everything works fine.

I've updated the dependencies in gradle in order to be able to build but i still get the error..

[2019-01-22 03:23] azcodia opened #23093 "Object.getOwnPropertyDescriptor(arguments[i])"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz
      M

[2019-01-22 03:38] matheusmoreira-hotmart commented on #23093
Indeed, just confirmed this info in my app

[2019-01-22 03:38] matheusmoreira-hotmart commented on #23093
Maybe if you disable delta it'll work

[2019-01-22 03:41] azcodia commented on #23093
I don't turn off delta, but it's still the same error

[2019-01-22 03:41] truongluong1314520 commented on #23092
please re-open this issue, I have the same problem like them :(

[2019-01-22 03:45] rodolphefauquez commented on #23092
Same problem here, android only, without reason (it was working this morning for me).
But the error disappear if i enable the 'debug JS remotely' option...

[2019-01-22 03:47] azcodia commented on #23093
are there any other instructions?

[2019-01-22 03:50] luolin2611 commented on #23092
Same problem

![image](https://user-images.githubusercontent.com/17327008/51511350-ee370e00-1e3b-11e9-8ff8-e4692019b8ca.png)

[2019-01-22 03:51] leiz-me commented on #14232
@hramos @shergin
Just updated to RN 0.58.0-rc.3, and confirmed that issue is still here.

[code]

Please correct me if I am using it wrong.

[2019-01-22 03:52] truongluong1314520 commented on #23092
@luolin2611 , that is it. I create a complete new project but the error appear at the first time running the project.

[2019-01-22 03:53] mikecobas commented on #23092
same problem

[2019-01-22 03:53] loves127 commented on #23092
same problem

[2019-01-22 03:56] luolin2611 commented on #23092
I also run the error for the first time, and I can’t go.

[2019-01-22 04:04] congnt148 commented on #23092
Same problem

[2019-01-22 04:04] azcodia commented on #23093
please give me a clue, how is the solution to this problem

[2019-01-22 04:11] Army-92 commented on #23092
same problem

[2019-01-22 04:14] minhanhnguyen2196 commented on #23093
Im having the same problem

[2019-01-22 04:19] melodion commented on #23092
same problem

[2019-01-22 04:20] thaitrandng commented on #23093
1.  Ctrl + M in emulator
2.  Click "Debug JS Remote"

Goodluck!

[2019-01-22 04:33] eduardo-santos commented on #23093
Anyone knows how to solve without the "Debug JS Remote"?

[2019-01-22 04:43] JintoAntony commented on #23092
Same issue here.

[2019-01-22 04:46] liuqing520it commented on #23092
restart your computer to solve this problem

[2019-01-22 05:07] Iungad commented on #23092
Same issue here.

[2019-01-22 05:14] carlmagumpara commented on #23092
same problem here

[2019-01-22 05:19] gucx commented on #23093
#22842

[2019-01-22 05:37] estebansolisd commented on #23093
Yes only move strong to left and right your phone and the menu will appears, there is the debug js remote option

[2019-01-22 05:38] PIlepRusel commented on #23092
does this fix the problem ?

[2019-01-22 05:41] ken-talkingsource commented on #23092
I restarted (my mac) but didn't solve this problem.

[2019-01-22 05:42] huiruo commented on #23092
react native undefined is not an object(evaluating 'Object.getOwnPropertyDescriptors(arguments[i])')

[2019-01-22 05:49] aldy010 commented on #23092
still no fix yet, tried the above solution

[2019-01-22 05:51] declanelcocks commented on #23093
Using the Debug JS Remotely option didn't work for me

[2019-01-22 05:52] chenxiubin commented on #23093
Im having the same problem

[2019-01-22 05:53] jayzyaj commented on #23093
I had the same problem when I try to create a new react-native project. But this error did not happen in my previous projects.

[2019-01-22 05:59] FrankMue commented on #23093
same on Windows 10 + NodeJs 11.7
Debug JS Remotely doesn' work too

[2019-01-22 06:00] estebansolisd commented on #23093
If you are working with real device, maybe adb reverse works https://facebook.github.io/react-native/docs/running-on-device

[2019-01-22 06:05] mohsincox commented on #23092
I restarted my computer, but did not solve the problem

[2019-01-22 06:11] GantMan commented on #23092
I have a terrible fix.

I guessed that the problem was some kind of dependency upgrade, and because React Native does not come locked to working versions, something got published and broke it.

I grabbed a yarn.lock from a project from over the weekend, pasted that into my project's `yarn.lock` file and then did `yarn` at the command line to have it automatically prune/lock things back up.   Somew

[2019-01-22 06:16] sunnylqm commented on #23092
@GantMan I just did the same thing. I saw mainly babel update when diffing a working version and a broken version. It is hard to tell what deps cause the break, so the best option is definitely to use a whole working lock file.

[2019-01-22 06:18] rolignu2 commented on #23092
please , reopen the issue. i have the same problem it probably because the object.getOwnPropertiesDescriptor doesn't exists anymore, the same happended on
react-native-keyboard-aware-scroll-view, the problem is on

node_modules/@babel/runtime/helpers/objectSpread.js

Object.defineProperties(target, Object.getOwnPropertyDescriptors(arguments[i]));

but i don't  know how i can solve

[2019-01-22 06:21] ashishmundra commented on #23092
same issue here

[2019-01-22 06:30] sunnylqm commented on #23092
@rolignu2 Thanks for locating the line, so I guess [this pr of babel-helpers](https://github.com/babel/babel/commit/3ae5e79ec8ab1e6d1c6927f35d4a1eeac04faf9a#diff-ba75bd4d116cc90ad8c8002e3010e821) cause the problem. It forgot to check this function in else branch. Please fix this asap  @hzoo @saschanaz

[2019-01-22 06:41] yll2wcf commented on #23093
Im having the same problem

[2019-01-22 06:43] mxc7609 commented on #23093
Im having the same problem on debug and release

[2019-01-22 06:47] carlmagumpara commented on #23093
still not working on actual device

[2019-01-22 06:48] mgwidmann commented on #23092
@sunnylqm Wow merged 10 hours ago... Sad that the NPM world is like this.

https://github.com/babel/babel/pull/9341

[2019-01-22 06:49] omid69 commented on #23093
I've this problem after running `yarn install`.

[2019-01-22 06:57] yoyo837 commented on #23093
babel/babel#9341

[2019-01-22 06:57] yoyo837 commented on #23091
babel/babel#9341

[2019-01-22 07:01] rolignu2 commented on #23092
@sunnylqm thanks man to apply the revert.

[2019-01-22 07:04] Army-92 commented on #23092
@rolignu2 Thanks for locating the line
I refer to the project I used before.
It is work for me.
node_modules/@babel/runtime/helpers/objectSpread.js
Replace with the code below in the path above.

var defineProperty = require("./defineProperty");

function _objectSpread(target) {
  for (var i = 1; i < arguments.length; i++) {
    var source = arguments[i] != null ? arguments[i] : {};
    var ownKey

[2019-01-22 07:06] vignesh601 opened #23094 "["Discussion"]how to receive ajax call data from php page in react native"
Use https://github.com/react-native-community/discussions-and-proposals to propose changes or discuss feature requests. This helps us ensure bug reports and regressions are given the priority they require.

You may also use https://discuss.reactjs.org/ for discussions on topics that are not necessarily served by the Bug Report template.

---

# For Discussion

[2019-01-22 07:34] sunnylqm commented on #23092
Babel just published a hotfixed version. Just remove your yarn.lock and `yarn` and this issue should be gone.

[2019-01-22 07:37] bepehr commented on #23092
@sunnylqm solution worked for me , just add that lines to package.json , and run yarn then run react-native run-android

[2019-01-22 08:10] FrankMue commented on #23093
After uninstalling Androis Studio 3.3 and installing 3.1 it's working again on my machine :)

[2019-01-22 08:46] Raserad commented on #18120
I found some solution for this problem. Just, i inject following script into webview:
[code]

After i create component:
[code]

I hope what it may help you))

[2019-01-22 08:56] ahmetabdi commented on #11370
@yernandus An alternative that works on both is:

`url.indexOf('http') === 0`

[2019-01-22 08:59] ifyapishore opened #23095 "Module `AccessibilityInfo` does not exist in the Haste module map"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
React Native Environment Info:
    System:
      OS: macOS High

[2019-01-22 09:13] and0202 opened #23096 "MacOS--react-native run-android-- Unable to open connection to: localhost/10.204.20.193:5037"
Error Info：
[DeviceMonitor]: Connection attempts: 52
[DeviceMonitor]: Unable to open connection to: localhost/10.204.20.193:5037, due to: java.net.ConnectException: Connection refused
[DeviceMonitor]: Connection attempts: 53
[DeviceMonitor]: Unable to open connection to: localhost/10.204.20.193:5037, due to: java.net.ConnectException: Connection refused
[DeviceMonitor]: Connection attempts: 54
[De

[2019-01-22 09:22] and0202 opened #23097 "MacOS--react-native run-android-- Unable to open connection to: localhost/10.204.20.193:5037"
Error Info：
[DeviceMonitor]: Connection attempts: 52
[DeviceMonitor]: Unable to open connection to: localhost/10.204.20.193:5037, due to: java.net.ConnectException: Connection refused
[DeviceMonitor]: Connection attempts: 53
[DeviceMonitor]: Unable to open connection to: localhost/10.204.20.193:5037, due to: java.net.ConnectException: Connection refused
[DeviceMonitor]: Connection attempts: 54
[De

[2019-01-22 09:42] #23097 closed

[2019-01-22 09:42] #23096 closed

[2019-01-22 09:44] eviliana commented on #22966
I have the same problem but only for Android devices, isConnected returns false if the device wakes up after 10-15 minutes (but no sooner than 10 mins).

[2019-01-22 10:00] raghulvaikundam commented on #23092
run npm install in the project directory to fix the issue. This command will install the missed dependency for  the react native project

[2019-01-22 10:15] ChhXin commented on #23092
i tried it, it didn't work...

[2019-01-22 10:38] JigzPalillo commented on #22511
is this somehow connected to my bug?
![img_0092](https://user-images.githubusercontent.com/31827190/51529931-c0ba8680-1e74-11e9-9720-0a085dd18bca.jpg)

[2019-01-22 10:38] ChhXin commented on #23092
Retry `react-native init name`，it's ok!

[2019-01-22 10:48] fdobre commented on #21482
@likai057187 my answer was for RN 0.57.1 and RN0.57.2 and there is a difference between **project** header search paths and **target** header search paths.

I added some print screens related to my case here:
https://stackoverflow.com/questions/52649586/react-native-0-57-ios-limits-file-not-found-could-not-build-module-corefoundatio

[2019-01-22 11:05] selcukitmis commented on #18680
++

[2019-01-22 11:09] raghulvaikundam commented on #23092
maybe u check with your package.json. Tried with latest react-native version 0.57

[2019-01-22 11:14] nabeelpkl commented on #23091
same issue

[2019-01-22 11:24] jamesmcn1 commented on #21937
@rajivshah3 did your fix get released in a new RN version yet?

[2019-01-22 11:31] leolusoli commented on #18843
**clear()** still not working with 0.57.8 on uncontrolled text input :(

[2019-01-22 12:07] dffalla commented on #23092
I solve this proplem now

1-Delete the old project and create a new project
 2-Then open the cmd for the project path and type
3-npm istall
Then
4-react-native init AwesomeProject

[2019-01-22 12:22] kelset commented on #23092
Hey everyone, looks like this was a Babel issue - they should have published an hotfix on their side already, in the meantime to avoid too much noise I'll lock this issue.

A workaround can be [found here](https://github.com/facebook/react-native/issues/23092) - thanks @sunnylqm 👍

[2019-01-22 12:40] ranvirgorai commented on #18680
Destructuring of an empty object may be the reason,
ex:
`let {}=this.props.result`

[2019-01-22 12:43] jamesmcn1 commented on #21937
Seems to have fixed all my tests when I just upgraded from 0.57.0 ---> 0.57.8

Thanks guys :)

[2019-01-22 12:52] plimerence commented on #21301
same issue

[2019-01-22 14:09] rajivshah3 commented on #21937
Yep, it was included in 0.57.5

[2019-01-22 14:12] sinay18 opened #23098 "lineHeight doesn't work in TextInput"
I know there are many posts on this.....but no fix apparently ?? just would like to check please

Thanks

[2019-01-22 14:33] xcrdev opened #23100 "Would like tcp_nodelay option to disable Nagle's algorithm"
I use websockets and would like to see a way to disable nagle's algorithm.  This is done in BSD Sockets using setsockopt with tcp_nodelay.

[2019-01-22 14:48] gujral1997 opened #23101 "zIndex and absolute position crashes on android"

[2019-01-22 14:50] onkar-dange opened #23102 "Possible Unhandled Promise Rejection (id: 0): TypeError: this.props is undefined"
I have a class component as PatientQueue in PatientQueue.js file and Another class component of PatientDetailView in PatientDetailView.js file.
And I am calling function Getdetails() which is in PatientQueue class from PatientDetailView class.By creating  its object. but when I am calling Getdetails I get the error of Possible Unhandled Promise Rejection (id: 0): TypeError: this.props is undefined

[2019-01-22 15:05] #23101 closed

[2019-01-22 15:05] #23102 closed

[2019-01-22 15:05] #23100 closed

[2019-01-22 15:05] #23098 closed

[2019-01-22 15:35] #21593 closed

[2019-01-22 15:45] zaporozhetsAnton commented on #22781
A month has passed, will this bug be fixed?

[2019-01-22 16:18] #23092 closed

[2019-01-22 17:05] TJTorola commented on #22574
I was able to finally fix this issue by pulling out the jest preprocessor (`cp node_modules/react-native/jest/preprocessor.js ./jest.preprocessor.js) and manually adding `[require('babel-preset-jest-hoist')],` on line 67. Also adding `{ transform: { "^.+\\.js$": "<rootDir>/jest.preprocessor.js" } }` in the jest block on package.json. Sorta related to this other issue with this version of RN and je

[2019-01-22 19:14] hramos commented on #19439
Coincidentally, https://github.com/facebook/react-native/issues/19737 landed, so this issue might actually be fixed on master.

[2019-01-22 19:17] hramos commented on #18243
@ysyyork I closed it as a workaround had been posted, and no one left a comment for a few months after that. If you think this should be fixed in the `react-native` CLI, a group of contributors have forked the CLI into a new repo at https://github.com/react-native-community/react-native-cli. Please consider opening an issue there, as the CLI has been removed from this repository.

[2019-01-22 19:19] TheSavior commented on #22990
You all are so amazing. These PRs have been super helpful. It looks like nobody has claimed RCTActivityIndicatorView yet.

@vickywane, do you still plan on working on RCTTabBar?

[2019-01-22 20:10] Salakar commented on #22375
Came across this issue today, I used a one liner to work around this:

https://github.com/invertase/react-native-firebase/blob/b887849526716b4171523ce82dfbfd02fd3de67a/tests/android/app/src/main/AndroidManifest.xml#L21

[2019-01-22 21:55] #23094 closed

[2019-01-22 22:12] AZIMAT commented on #22710
I am having the same problem, react native 0.57.8 , react 16.6.3

+1

[2019-01-22 22:59] ksairi commented on #19239
this [comment](https://github.com/facebook/react-native/issues/19239#issuecomment-450865824) worked for me!

[2019-01-23 00:08] hramos opened #23108 "[CI] Test failure - Various tests failing on master"
Tests help us prevent regressions, and without a clear signal, maintainers are unable to properly review pull requests. The following jobs are failing on `master`, and will need to be fixed before any new contributions can be considered:

- [x] `test_detox_end_to_end`
- [x] `test_android` (potential fix in https://github.com/facebook/react-native/pull/23106)
- [ ] `test_ios` (several failures fixe

[2019-01-23 00:08] #23087 closed

[2019-01-23 00:10] hramos commented on #23063
Thanks for reporting this. The WebView component has been forked, and future contributions are being considered through the new repository at https://github.com/react-native-community/react-native-webview.

Feel free to open a new issue over there, and make sure to include sufficient details in your issue description.

[2019-01-23 00:10] #23063 closed

[2019-01-23 00:14] hramos commented on #23074
Hi @Kielan, thanks for reporting this. If you think #14925 should not be closed, it's alright if you want to go ahead and create a brand new issue, just make sure to pick the Bug Report template: https://github.com/facebook/react-native/issues/new?template=bug_report.md

If you'd rather have this addressed in the docs, https://github.com/facebook/react-native-website/issues/new is the right place

[2019-01-23 00:14] #23074 closed

[2019-01-23 00:14] #22929 closed

[2019-01-23 00:31] hramos commented on #23081
Thanks for filing a new issue. Can you edit your issue and make sure all fields are sufficiently filled out? It's much cleaner and straightforward to take your issue into consideration when all the relevant information is in one place, even if you're simply duplicating what is already covered in the other issue. Otherwise, anyone interested in helping out will need to do duplicate work and go thro

[2019-01-23 00:32] hramos commented on #23060
Hi there, can you please make sure to fill out the entire template? Specifically, we'd like to see a list of steps to reproduce.

[2019-01-23 00:34] hramos commented on #23056
Hey @c623700, can you include what's the latest list of concrete steps to reproduce this failure? Sorry to ask, we want to make sure people can reproduce this - docs can change over time, so we'd prefer all the steps are listed in the issue itself.

[2019-01-23 00:34] hramos commented on #23055
Closing as author found a workaround.

[2019-01-23 00:34] #23055 closed

[2019-01-23 00:35] hramos commented on #23020
What error are you seeing?

[2019-01-23 01:44] amoljain opened #23110 "App crashes on start on Samsung Oreo devices because of dex issue"
Running a release variant of React Native app on Samsung Oreo (8) devices leads to a crash:

[code]

App runs fine on non-Samsung devices. (and iOS FWIW)

## Environment

[code]

## Description
Created a release version of Android app and any users that install it on Samsung Oreo devices report a crash.  (see more above)

## Reproducible Demo
You can download and run [this app](https://play.google

[2019-01-23 01:54] Naturalclar commented on #22990
I'll work on `RCTSnapshotNativeComponent`

[2019-01-23 02:07] dulmandakh commented on #23108
Android CI is green https://github.com/facebook/react-native/pull/23109

[2019-01-23 02:16] dulmandakh commented on #20342
RN master now use clang

[2019-01-23 02:16] #20342 closed

[2019-01-23 02:31] juansimon18 commented on #20772
@Unoken could you try this: It worked for me:
`sudo xcode-select --switch /Applications/Xcode.app`
Check the original answer on SO: [https://stackoverflow.com/questions/53028367/glog-configure-warning-missing-script-is-too-old-or-missing](url)

[2019-01-23 03:20] dulmandakh opened #23112 "[META] AndroidX migration plan"
Google introduced AndroidX as a new era for the Support Library https://android-developers.googleblog.com/2018/05/hello-world-androidx.html, and it is the future. I would like to talk and plan migration to it.

# About AndroidX

For more information about AndroidX please visit https://developer.android.com/jetpack/androidx/.
And migration guide https://developer.android.com/jetpack/androidx/migrat

[2019-01-23 03:22] dulmandakh commented on #23112
@mdvacca here is my proposal for AndroidX migration. Sorry for my poor English

[2019-01-23 06:02] PrathyushaKadiri opened #23114 "Image not visible for Android in Release Mode"
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.1
  Yarn: 1.7.0
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 10.0 Build version 10A255
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: 16.3.0-alpha.1 => 16.3.0-alpha.1
  react-native: 0.54.2 => 0.54.2

## Description

Images are not showing sometimes for android in release mode.

I am showing captur

[2019-01-23 06:34] xupengkun opened #23115 "ScrollView Component default position is wrong , in iphone X , the default distance is the height of the status bar at the top."
ScrollView Component default position is wrong , in iphone X , the default distance is the height of the status bar at the top.

react-native : 0.57.8
ios : 12.1
device : iphoneX

![image](https://user-images.githubusercontent.com/29838791/51587249-2bbe9880-1f1b-11e9-929a-093feb321746.png)

log output default position at -44

![image](https://user-images.githubusercontent.com/29838791/51587800-f58

[2019-01-23 06:35] prateekgoel commented on #10471
Any progress here? This is becoming a bottleneck.

[2019-01-23 06:39] Donhv commented on #22226
any update for this>

[2019-01-23 06:54] succeed2011 opened #23116 "typescript don't print error message"
i use below command to init a project
[code]
and create a add.tsx file
[code]
add.tsx is imported by App.js. when i run this project, no warning or error is printed, i don't know why

[2019-01-23 07:05] #23116 closed

[2019-01-23 07:25] ishigamii opened #23117 "TextInput does not scroll on Android with multiline on and editable off"
## Environment

[code]

in https://github.com/facebook/react-native/issues/18601  issue is happened on version 0.54.3, but that issue is closed.

in #14856 issue is happened on version 0.46, but that issue is closed.

## Steps to Reproduce
Set a part Props of "TextInput" as follows.
[code]
Set more lines text contents in this "TextInput" while
For example, if this "TextInput" can display up to max

[2019-01-23 07:32] ajaymore commented on #23020
[code]

I am seeing the above error.
[code]

[2019-01-23 07:46] ishigamii commented on #23117
A solution is to change the warper style depending on what you want to do.
For me it was only to show a long text that was never gonna be editable so I changed it to :
[code]

[2019-01-23 08:05] #23115 closed

[2019-01-23 08:23] khsily commented on #22592
use ``` module.exports = { MyButton } ``` instead just for now.

It's just a workaround and I also hope it to be fixed soon :)

[2019-01-23 08:37] hey99xx commented on #23112
I assume if RN migrates to AndroidX, statements like this:

[code]

etc. will also have to switch to the new path:

[code]

If brownfields apps are using v4 APIs for other things unrelated to RN, can they ship with both SupportV4 and AndroidX classes together in one APK? Is there any issue besides app size increase? Would there be any issues in runtime? For example can we render AndroidX native wi

[2019-01-23 08:45] dulmandakh commented on #23112
created a hypothetical BUCK for AndroidX's **appcompat** for discussions https://github.com/facebook/react-native/pull/23120.

@hey99xx IIRC, we'll enable some Gradle flags and it'll automatically translates old support library to AndroidX during compilation. So no need to hurry to change the code.

[2019-01-23 08:47] mdvacca commented on #23112
Thanks for kicking-off this effort @dulmandakh!!!

I will be sharing the internal plan at Facebook in the next couple of days and we can start coordinating this plan.

[2019-01-23 09:06] guhungry commented on #23112
Yes, add below to  gradle.properties file:
[code]

[2019-01-23 09:39] xupengkun opened #23121 "ScrollView Component default position is wrong , in iphone X , the default distance is the height of the status bar at the top."
## Environment

react-native : 0.57.8
platform :   ios
devices : iphoneX
devicesVersion : 12.1

npm : 6.4.1
node : 10.15.0

## Description

ScrollView Component default position is wrong , in iphone X , the default distance is the height of the status bar at the top.

![image](https://user-images.githubusercontent.com/29838791/51597038-443bac80-1f35-11e9-8ec9-305ffe8f67a0.png)

log output default

[2019-01-23 10:10] cpojer commented on #22375
Thanks to @Salakar's PR this will be fixed in RN soon :)

[2019-01-23 10:11] cpojer commented on #22990
This is amazing. In just 8 days, all of you helped us with this migration. Talk about moving fast!

Thank you *so so much*. This is seriously awesome and will help us make the communication between JS and native modules type safe.

[2019-01-23 10:11] #22990 closed

[2019-01-23 10:26] #23093 closed, assigned to nobody

[2019-01-23 11:09] #22375 closed

[2019-01-23 11:56] devapro commented on #18687
![image](https://user-images.githubusercontent.com/2677592/51604597-4fcfa900-1f1e-11e9-9b5b-9f4cfb09d990.png)

I have the same issue on latest version RN. I fixed it by opening File->Xworcspace settings ->Advanced and set Default (see my image)

[2019-01-23 11:59] waveChand commented on #18426
Not yet fixed. still happens when remote debugging turned off.

[2019-01-23 12:00] djbuch commented on #23018
Hello,
I found the problem on iOS, it is happening when animationType is defined.

Perhaps you will find something with this clue.

Regards,

[2019-01-23 12:49] lindesvard commented on #21801
Having similar issues..

[2019-01-23 13:41] windev92 opened #23125 "StyleSheetPropType not accessible from 3rd party ui component"
I came accross this closed thread : https://github.com/facebook/react-native/issues/1821
I have created my own native ui components that need to have ViewStylePropTypes, TextStylePropTypes, StyleSheetPropType, StyleSheetValidation accessible.

these 4 items are suggested by "ide" in the thread(cf below), and I would like to know the status of this topic. I am using 0.53.0 and 0.55.4, in both cases

[2019-01-23 13:42] draperunner commented on #22807
It would at least be good to be able to catch the error. The following does not work, and will crash the app:

[code]

[2019-01-23 13:42] minimaluminium commented on #21092
@Gregoirevda Oh god, you just saved my day. I was using fetch(), rn-fetch-blob with no luck for an entire day. Thanks a lot.

[2019-01-23 13:46] gutoglup commented on #21241
@Devil-Cong I did the test according to what you missed, it did not work either. Still giving the same problem.

[2019-01-23 14:01] mojtaba-hajishah opened #23126 "Attempt to invoke virtual method 'double java.lang.Double.doubleValue()"
## Environment
  System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz
      Memory: 36.91 MB / 4.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.15.0 - /usr/local/bin/node
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 11.2, macOS 10.13, tvOS 11.2, watchOS 4

[2019-01-23 14:05] #23125 closed

[2019-01-23 14:52] windev92 opened #23127 "StyleSheetPropType not accessible from 3rd party ui component"
I came accross this closed thread : #1821
I have created my own native ui components that need to have ViewStylePropTypes, TextStylePropTypes, StyleSheetPropType, StyleSheetValidation accessible.

these 4 items are suggested by "ide" in the thread(cf below), and I would like to know the status of this topic. I am using 0.53.0 and 0.55.4, in both cases I have metro failing with :

Unable to resolve

[2019-01-23 14:58] tylerssn opened #23129 "React Native does not honor Intent.putExtra(Intent.EXTRA_PROCESS_TEXT, STRING)"
## Environment
[code]

## Description
I have an android app that takes advantage of Androids new `Intent.EXTRA_PROCESS_TEXT` via:

[code]

This intent appends a menu item to Androids cut/copy/paste menu so that one can, for example, translate selected text and return the new value to the highlighted text as a replacement. I've noticed that react native apps, such as Messenger, that use app state t

[2019-01-23 15:05] #23127 closed

[2019-01-23 15:15] damrem opened #23130 "Warning 'Require cycle' between fetch.js & whatwg-fetch.js"
## Environment
[code]

## Description
Working with `react-native@0.57.7`, I encounter this warning:
`Require cycle: node_modules\react-native\Libraries\Network\fetch.js -> node_modules\react-native\Libraries\vendor\core\whatwg-fetch.js -> node_modules\react-native\Libraries\Network\fetch.js`
This issue had already kind of been raised in https://github.com/facebook/react-native/issues/20841. But it

[2019-01-23 15:22] windev92 opened #23131 "StyleSheetPropType not accessible from 3rd party ui component"
## Environment
RN 0.53.0 - RN 0.55.4
Environment:
  OS: macOS 10.14.2
  Node: 11.0.0
  Yarn: Not Found
  npm: 6.4.1
  Watchman: 4.9.0
  Xcode: Xcode 9.2 Build version 9C40b
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: ^16.4.0 => 16.7.0
  react-native: ^0.53.0 => 0.53.3

## Description
I came accross this closed thread : #1821
I have created my own native

[2019-01-23 17:19] LRNZ09 commented on #10471
I'm also having this issue on RN `0.57.8`

[2019-01-23 18:30] jrounsav commented on #22421
On 0.57.8 and am now seeing this same error.
Comment on above commit says the same

Removed attributes to get around for now

[2019-01-23 19:15] cassianomon commented on #22378
Using render as:
`render = () => {`

solved for me, but is it necessary? Even if I just return:

[code]

it returns me this error...

[2019-01-23 19:15] cassianomon commented on #22481
Using render as:
`render = () => {`

solved for me, but is it necessary? Even if I just return:

[code]

it returns me this error...

[2019-01-23 19:16] cassianomon commented on #20946
Using render as:
`render = () => {`

solved for me, but is it necessary? Even if I just return:

[code]

it returns me this error...

[2019-01-23 19:46] hey99xx commented on #22375
@Salakar How is devsupport files filtered out of release builds, I cannot find such information. RN only releases one AAR file, not for debug and release separately.

Also as far as I know having this XML file alone does not do anything, the application needs to point to it in AndroidManifest.xml through:

[code]

Did you confirm your commit fixes the issue in debug build and does not make localho

[2019-01-23 19:48] hey99xx commented on #11370
RN made the JSC upgrade in master branch, expected release is 0.59 https://github.com/facebook/react-native/issues/19737#issuecomment-453690580 This should likely be fixed with that.

[2019-01-23 20:18] tonyd3 commented on #23110
I had a similar issue before, I fixed it by forcing Java 8 in app/build.gradle.
[code]

[2019-01-23 21:14] gasparteixeira commented on #21455
Same here. RN 0.57.1

[2019-01-23 21:32] kuriel-trivu commented on #15990
For partial shown short list: added those values to FlatList and problem gone:
[code]
honestly i don't know which one fixes the problem or if works for large data.

[2019-01-23 21:48] rsmelo92 opened #23132 "'Warning: A string ref, "VIEW", has been found within a strict mode tree. String refs are a source of potential bugs and should be avoided."
## Environment
[code]

## Description
Wrapped app with `<StricMode />` and after solving every alert, this one still appears

![image](https://user-images.githubusercontent.com/16295402/51639304-5589b680-1f3f-11e9-9171-ec8a3a109891.png)

after following the alert we found out that the error comes from this react native component:
https://github.com/facebook/react-native/blob/87b65339379362f9db77ae

[2019-01-23 21:58] AdamZaczek commented on #10865
You man are my hero! This is so simple and eloquent. It works for Expo 31 even when using iframes

[2019-01-23 22:36] smitthakkar1 commented on #15892
@pausabe Man, you got it. I have the same problem. let me know if you came across any solution,

[2019-01-23 23:19] mr-mehti opened #23133 "Gif Render Problem"
Hi,
my app support gif images in normal use...
but when i use from [this ](https://github.com/qikong233/react-native-richText )lib for emojies replacement,emojies that are GIF not play ...
how can i solve this?

[2019-01-24 00:05] #23133 closed

[2019-01-24 01:01] dslounge commented on #21030
@rickhanlonii This is the issue I mentioned on Twitter. I think this has been a historical dev-ex issue in RN. What I've heard is that RN is set up to try to connect to react-devtools because that's how FB works internally. But a lot of us using the open source build don't use react-devtools, so we get a lot of connection error spam looking at the logs. A solution might be for RN to give up trying

[2019-01-24 01:44] benmcmaster opened #23134 "Switch component not rendering correctly in Android 9.0. It's invisible!"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
      Memory: 78.09 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.13.0 - ~/.nvm/versions/node/v10.13.0/bin/node
      Yarn: 1.12.3 - ~/.yarn/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v10.13.0/bin/npm
      Watchman: 4.9.0 - /u

[2019-01-24 02:32] dulmandakh commented on #23114
You should use defaultSource for this case. It works on both iOS and Android since 0.56, but works only on iOS for below versions.

[2019-01-24 02:32] #23114 closed

[2019-01-24 02:37] msand opened #23136 "react-native run-{ios,android} fails with Process terminated on launchPackager in 0.58.0-rc.3"
## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
      Memory: 327.33 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.2.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watch

[2019-01-24 02:56] dulmandakh commented on #23023
I think that it's unfixable, or we don't want to degrade HTTPS secure cipher requirements. Please see https://github.com/square/okhttp/issues/3894

[2019-01-24 02:56] #23023 closed

[2019-01-24 03:06] LanmeijingLucky opened #23137 "How to use React Native with openlayers"
First, I'm sorry for my bad English!

I am developing a mobile application in React Native requiring useing openlayers, and I found some information is about 'WebView',but I don't want to use it. Who can help me? Thanks!

[2019-01-24 03:19] dulmandakh commented on #23005
on Android, RN concatenates values separated by comma(**,**), see https://github.com/facebook/react-native/blob/4936d284df36071047ce776d9e2486c0371f7b97/ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java#L606

[2019-01-24 03:19] #23005 closed

[2019-01-24 03:20] CxxyLucifer commented on #21065
could you code here ?

[2019-01-24 03:22] dulmandakh commented on #23137
You can use RN modules if there are or you can develop UI components for it. See https://facebook.github.io/react-native/docs/native-components-ios and
https://facebook.github.io/react-native/docs/native-components-android.

[2019-01-24 03:22] #23137 closed

[2019-01-24 03:34] IsraelSouza commented on #18692
Simple as that: https://medium.com/@adityasingh_32512/solved-unable-to-load-script-from-assets-index-android-bundle-bdc5e3a3d5ff

Saved my life!

[2019-01-24 03:46] bosz commented on #22378
My own error was coming up because i had no `render()` method in the class component.

Maybe you add a render method and see if it works.

[2019-01-24 03:48] CxxyLucifer opened #23138 "renderer.getInspectorDataForViewTag is not a function"
![image](https://user-images.githubusercontent.com/6468756/51653298-d0011780-1fcd-11e9-9a10-d6366915fe3d.png)

the solution to fix this error  ?

[2019-01-24 04:05] #23138 closed

[2019-01-24 04:14] mikehardy commented on #22234
I was still seeing this, using macOS 10.14.3 + RN 0.57.8 + Android Studio 3.3 + Gradle 4.10.3. Maybe I'm not the only one? Or maybe someone here can confirm it works so I'll dig more and fix it for myself for real.

I'm currently working around it with the "patch-package" package in combination with the attached patch (with `.txt` suffix appended so github would accept the attachment) in order to

[2019-01-24 04:21] Devil-Cong commented on #21241
@gutoglup Sorry，but it work for me.
Did you try remove the `.babelrc` and run `react-native-git-upgrade`?

[2019-01-24 06:11] Siva123Prasad commented on #21241
When we try to run, this is what happens
bash: react-native-git-upgrade: command not found
@Devil-Cong

[2019-01-24 06:56] yesmesalman commented on #19569
**add these in build phases, if you have already added and still getting error then remove and add them again and build again**

![1](https://user-images.githubusercontent.com/37062860/51660204-cf1cb580-1fce-11e9-9804-05ff3fd99be0.png)

[2019-01-24 07:41] Devil-Cong commented on #21241
@Siva123Prasad You should install `react-native-git-upgrade` first. Look at [here](https://facebook.github.io/react-native/docs/upgrading).

[2019-01-24 07:47] Return-1 commented on #23005
@dulmandakh The behaviour you're describing would have been fine but it is not the one I experienced. Only the lates value was present in my case.

Please attempt to reproduce locally and you will see the same. I think the fact that it works with

[code]

[2019-01-24 07:51] dulmandakh commented on #23005
currently it uses ReadableNativeMap, where you must have unique keys. So they concatenate to workaround this limitation. Didn't see iOS code.

[2019-01-24 07:55] Return-1 commented on #23005
i will check again to make sure but i am fairly certain that concatenation isn't working and that only the latest value of the latest header is exposed

[2019-01-24 08:20] aligenc commented on #21094
it has been 1,5 year that I am coding with react-native. what i learned in this long time.

1. dont touch your released code
2. never mind doing something new

'cause all I have is these fc.g bugs with no solution.

[2019-01-24 08:22] Return-1 commented on #23005
@dulmandakh i've tested this again on a fresh install and i can **definitely** verify that it concatenate and only keeps the latest value without adding
[code]

on MainApplication.java

[2019-01-24 09:57] rudyryk commented on #21030
@mmmulani Logging garbage is not coming from packager connection errors. I got packager running all the time and it's working as expected but I still can see a huge bunch of such logs. BTW on device there's twice much of them vs simulator.

[2019-01-24 10:05] wbcbharani commented on #17654
https://github.com/nadirHomeFriend

[2019-01-24 10:40] iadcg commented on #21638
Still got this issue in v0.576

[2019-01-24 10:53] jawadg opened #23139 "how to sync 2 scrollviews scrolls sync. clearly shows lag, which is not acceptable"
GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs
in the React Native framework. Please do not submit support requests through GitHub.

Many members of the community use Stack Overflow to ask questions:
* Read through the existing questions tagged with **react-native**:
  http://stackoverflow.com/questions/tagged/react-native

* Ask your own:
  http://s

[2019-01-24 10:56] gengjiawen commented on #21638
repro ?

[2019-01-24 11:05] #23139 closed

[2019-01-24 11:36] SABRYX commented on #22591
@ianbutler did you find any workaround

[2019-01-24 11:38] aknad opened #23140 "If VoiceOver is enabled, FlatList does not scroll when end of list is reached"
https://github.com/facebook/react-native/issues/13743

## Environment

[code]

## Description

FlatList doesn't scroll when you reach the end of the list
I try to set _removeClippedSubviews={false}_ as suggested in the issue #13743 but it doesn't work

## Reproducible Demo
Here's an example:
https://snack.expo.io/@aknad/flatlist-accessibility

if you turn VoiceOver on and swipe listen the items, w

[2019-01-24 11:59] invyctus92 opened #23141 "java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState"
For some days I'm having problems on android, after I reopen the app from the background, I have sometimes the following warning about the test version, with the geolocation process active in the background.
Here is the error on an Oneplus 6.

![screenshot_20190123-131022](https://user-images.githubusercontent.com/13299821/51676702-b2d14680-1fd7-11e9-8e5a-c324cfd6b898.jpg)
![screenshot_20190123-13

[2019-01-24 12:03] alkahtani opened #23142 "React-native not installing under C:\Users\xxx\AppData\Roaming\npm\node_modules"
I know my be this is not the right place to post my issue but i have done every possible solution  with no luck ,  i need to install react-native , i followed the instruction , the files downloaded but it is not added under mentioned path above , the files downloaded and added under node_module under my user , i am not able to init any project from my E:\ drive or any  other drive " react-native n

[2019-01-24 12:05] #23142 closed

[2019-01-24 12:06] NicWickman commented on #22571
Same issue on the newest version of RN.

[2019-01-24 12:11] alkahtani commented on #23142
How can i provide output while i cannot even install , i am not able to install and looking for help

[2019-01-24 12:52] ozberkctn commented on #17338
i found the solution can you take a look @hramos [Pull request](https://github.com/facebook/react-native/pull/23143)

[2019-01-24 13:34] olehmisuna opened #23144 "[IOS][Android][Release] App crashes only in release"
## Environment
[code]

## Description
App crashes on both Android and IOS only in release.
Exception is same for both platforms:
[code]

## Dependencies
[code]

[2019-01-24 13:44] mikehardy commented on #16376
Not sure if this is still happening for others but it still happening for me with RN 0.57.8 + iOS 11.3 (at least)

I'm using the ["patch-package" module](https://github.com/ds300/patch-package#readme) to auto-apply the change from [the comment above](https://github.com/facebook/react-native/issues/16376#issuecomment-350523177) by @devburmistro

The patch I'm using (with `.txt` suffix appended so G

[2019-01-24 13:45] SinousX commented on #21238
The issue is no longer reproducible after updating RN. Ticket can be closed.

[2019-01-24 13:45] #21238 closed

[2019-01-24 14:04] #23144 closed

[2019-01-24 14:40] sejas commented on #22592
+1
It's really annoying.
RN 0.57.8

[2019-01-24 14:55] shivamsaigupta commented on #16567
I'm facing the same issue. Please help.

[code]

[2019-01-24 14:59] mmmulani commented on #21030
oh interesting, could you set a breakpoint in RCTReconnectingWebSocket and see what’s creating it then?

[2019-01-24 15:06] LRNZ09 commented on #17986
I'm also confirming this is still an issue on `0.57.8`

[2019-01-24 15:24] jedi4ever commented on #17968
A couple of findings:
- In the code of the ReactViewGroup there is indeed an explicit `// No-op since UIManagerModule handles actually laying out children.`
- To override `needsCustomLayoutForChildren`once needs to change the Manager from type  `SimpleViewManager` moved to` ReactViewGroup` `https://stackoverflow.com/questions/47830546/viewgroupmanager-vs-simpleviewmanager`
- I can confirm the need

[2019-01-24 15:26] mo22 opened #23145 "bug in RCTLocationObserver.m"
Hi,

related to https://github.com/facebook/react-native/issues/17145?_pjax=%23js-repo-pjax-container

The part `if (ABS(_locationManager.desiredAccuracy - RCT_DEFAULT_LOCATION_ACCURACY) > 0.000001) {` on line ~ 360 of RCTLocationObserver.m always resets the location accuracy to the default value.

It should rather check if _observingLocation is true and use _observerOptions.accuracy instead, like

[2019-01-24 15:43] rsmelo92 commented on #23132
PR #23146 should fix it

[2019-01-24 16:05] #23145 closed

[2019-01-24 16:13] jpolo opened #23147 "Implement onSelectionChange on <Text selectable />"
## Environment
[code]

## Description

I am trying to implement a rich text view with selectable text, url links, etc. Reading the selection range is a mandatory feature too.

At the moment I need to use a workaround for the root component to make it selectable:
- `TextInput` on ios
-  https://github.com/msand/react-native-selectable-text/ for android.

In the end, the text can be selectable but t

[2019-01-24 16:32] notFloran commented on #22543
It looks like it's related to this: https://stackoverflow.com/questions/52701160/native-uitextfield-secure-text-entry-forces-english-us-keyboard

[2019-01-24 16:32] Mohit-gwg commented on #22033
I also have same problem. I follow all the suggestions which are provided here.
@brien-givens "allprojects.repositories" is already present in my build.gradle. Please suggest.

[2019-01-24 16:52] mo22 opened #23148 "bug in RCTLocationObserver.m"
## Environment

  React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (8) x64 Intel(R) Core(TM) i7-3720QM CPU @ 2.60GHz
      Memory: 1.01 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.7.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.6.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDK

[2019-01-24 16:56] kyle-ssg commented on #6946
I'm presuming this is related to the original issue, if not then feel free to let me know. Sourcemaps seem to be completely off for me when debugging. Even to the point where inserting ```debugger;``` breaks on the wrong file.

<img src="https://i.ibb.co/jRgh9XG/download.png"/>

Using:

[code]

[2019-01-24 16:57] rudyryk commented on #21030
@mmccartney Can't get breakpoint event triggered in `RCTReconnectingWebSocket` but I get it in `RCTInspectorPackagerConnection.m` @ method:

[code]

[2019-01-24 16:59] ithustle commented on #6946
I recomend make `npm update`. At least work for me a few days.

[2019-01-24 17:39] rsmelo92 commented on #23132
closed by #23146

[2019-01-24 17:39] #23132 closed

[2019-01-24 18:00] Kielan commented on #19008
This is not an problem that should be solved by react-native upgrade, if possible an uninstall and reinstall at the exact version would be better. Then this can be confirmed as a react native bug.

[2019-01-24 18:41] hramos commented on #22571
Can either of you open a new issue? Please make sure to follow the template, thanks!

[2019-01-24 18:49] hramos commented on #14232
@martinchristov can you verify 0.58-rc and open a new issue if it's not resolved in the RC?

[2019-01-24 19:24] scottkennedy opened #23149 "Custom .so loading breaks Android App Bundles built with Android Gradle Plugin 3.3"
## Environment
[code]

## Description
https://issuetracker.google.com/issues/122953695#comment13 has some comments from Google on this.  The .so files are not extracted to disk, so they don't exist where RN is looking for them.  This only occurs with .aab files (app bundles), not .apk files.

"Someone should probably file a bug with reactnative so they stop reading the .so from the install directo

[2019-01-24 19:34] quantumpotato commented on #21002
Any update?

[2019-01-24 20:22] seriiix opened #23151 "Fetch fails on some https in android 4"
## Environment
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i5 CPU         760  @ 2.80GHz
      Memory: 2.19 GB / 7.99 GB
    Binaries:
      Yarn: 1.10.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5014246

## Description
Some

[2019-01-24 20:34] jrapala commented on #21741
I was having a similar problem.
I had configured a debugger to launch with `react-native run-ios`, but at some point, the command would launch a simulator that would never load the bundle, and the debugger would fail to connect.

Turns out it was a configuration issue. Maybe switched when I last updated XCode?

In XCode, go to your project Info tab and make sure the following, under Configurations

[2019-01-24 21:30] aleclarson commented on #21967
@bvaughn Are there large changes required for React Native to support hooks, or is it pretty basic stuff? I'm using [ptmt/react-native-macos](https://github.com/ptmt/react-native-macos), and I'm considering using React hooks in my codebase, even if that means making some changes to native code.

[2019-01-24 21:46] epshtielsl commented on #16895
I am having the same issue on Android only using RN 0.56

[2019-01-24 21:53] bvaughn commented on #21967
There might some unknowns but I don't think it should be large, no.

[2019-01-24 22:15] hramos commented on #21967
For those asking for a timeline, support for Hooks in RN should land no earlier than Release 0.60. This is based on the fact the 0.59 RC is due to be cut soon, with React 16.6.3 as a dependency most likely.

[2019-01-24 22:18] fbartho commented on #21967
Oh no‼️ ❤️ hooks, is there anywhere where we can beg to get hooks into 59? @hramos

[2019-01-24 22:49] mo22 commented on #23148
https://github.com/facebook/react-native/blob/v0.58.0/Libraries/Geolocation/RCTLocationObserver.m

[2019-01-24 23:13] abunsen commented on #20492
@hramos I am running into it when I run a build with [detox](https://github.com/wix/Detox), not `yarn ios`. Here is my config for my iOS simulator:

[code]

[2019-01-24 23:15] hramos commented on #21967
The 0.59 release is being coordinated in https://github.com/react-native-community/react-native-releases/issues/79, and that's the best place to discuss if you feel strongly that this cannot wait for 0.60.

[2019-01-25 00:06] #19073 closed

[2019-01-25 00:31] #15855 closed

[2019-01-25 01:06] kristerkari commented on #21966
Still reproducible with v0.58.0

[2019-01-25 02:13] guhungry commented on #23108
For test_ios is it related to ios simulator 12 since `RNTesterSnapshotTests`'s `_runner` have only ios 10 and 11 condition

[2019-01-25 02:41] pjay79 commented on #23136
Same issue here. Running react-native start followed by react-native run-ios / android works.

[2019-01-25 03:59] dulmandakh commented on #23149
App Bundling support landed in 0.58. Please upgrade to 0.58.

[2019-01-25 03:59] #23149 closed

[2019-01-25 04:00] methodbox commented on #18781
So you left this open for 9 months with no response and then just closed it saying, "wrong repo"?

Kind of a dick move.

[2019-01-25 04:29] terrytianliang opened #23153 "Android:Can't Signed release apk"
## Environment

React Native Environment Info:
System:
OS: macOS 10.14
CPU: (8) x64 Intel(R) Core(TM) i5 CPU @ 1.60GHz
Binaries:
Node: v8.11.1
Yarn: v1.6.0
npm: v6.5.0
Watchman: v4.9.0
SDKs:
Android SDK:
API Levels: 23, 25, 27, 28
Build Tools: 27.0.3, 28.0.3
System Images: android-28 | Google Play Intel x86 Atom
IDEs:
Android Studio: 3.2.1
npmPackages:
react: 16.6.3
react-native: 0.57.8

## Descri

[2019-01-25 04:53] TranLuongTuanAnh commented on #21065
@CxxyLucifer
My solution is here: https://github.com/facebook/react-native/pull/21237/files

[2019-01-25 05:34] TesterAllmax opened #23154 "Problem is that when headerTransparent: true accessibleId/ TestID does not work"
## The problem

There’s a `header` in the app, that contains `button back`. Header has prop `headerTransparent: true`, which applies `position: absolute` to header. When `headerTransparent: true`, Appium Inspector can’t find `button back` inside `header`. When `headerTransparent: false`, Appium Inspector is able to find `header` and `button back` in it.

## Code To Reproduce Issue
Sample component

[2019-01-25 05:49] yongching commented on #22571
I get rid of this by upgrading to the latest Xcode 10.1

[2019-01-25 06:14] longnk1301 opened #23155 "onMessage android Webview React Native not working in physical device (ios and virtual android working!)"
[code]

[code]

[code]

[code]

[2019-01-25 06:27] opnay opened #23156 "When Debug Style can't use style types values."
## Environment

run with expo dev mode

## Description

When turn on dev (i used with expo but, i found this with chrome dev), react-native will run StyleSheetValidation.

You can see this error
[code]

## Reproducible Demo

Use StyleSheet.create with string value like
[code]
`validateStyle` function will get 'backgroundColor', {backgroundColor: '#FFFFFF'}
so, must be change to
[code]

[2019-01-25 06:48] opnay commented on #23156
Opps, i didn't see document :(
Sorry.
https://facebook.github.io/react-native/docs/stylesheet

[2019-01-25 06:48] #23156 closed

[2019-01-25 07:05] #23155 closed

[2019-01-25 07:18] guhungry commented on #23108
Somehow layout of snapshot is changed i'm uploading image for comparison

[2019-01-25 08:00] aditiadika commented on #23136
same issue here. and run-react native start its not working too

[2019-01-25 08:00] vshab commented on #23136
The 0.58 release is affected as well.

[2019-01-25 08:21] rammmukul opened #23157 "TouchableOpacity don't call onPress callback when hitSlop is set (on some devices)"
## Environment
  we also built over expo.

  React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (4) x64 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
      Memory: 40.01 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.0 - /usr/local/bin/node
      npm: 6.4.1 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 10.14, tv

[2019-01-25 08:22] avalko commented on #22938
I ran into the same problem on Android 9 ....
Any idea how to deal with this?

[2019-01-25 09:21] guhungry commented on #23108
iOS CI is also green #23152

[2019-01-25 09:49] LinMaris commented on #23136
me too, 0.58 release doesn't seem to work.
I just
[code]
That always appeared this
![image](https://user-images.githubusercontent.com/17720805/51738159-6bc37e00-20c9-11e9-89cd-fc2db2aa2e88.png)

[2019-01-25 10:21] avalko commented on #22938
on my oneplus with android 9 all the components (react FlatList, ScrollView, react-native-gesture-handler FlatList, recyclerlistview...) that i tried to behave like this...

[2019-01-25 10:30] lynrose10 opened #23158 "[0.58] Inverted FlatList fast scrolling still doesn't work properly on Android P"
## Environment

**React Native Environment Info:**
System:
- OS: macOS High Sierra 10.13.6
- CPU: (4) x64 Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz
- Memory: 27.94 MB / 8.00 GB
- Shell: 3.2.57 - /bin/bash

Binaries:
- Node: 8.11.2 - /usr/local/bin/node
- Yarn: 1.10.0 - /usr/local/bin/yarn
- npm: 5.6.0 - /usr/local/bin/npm
- Watchman: 4.9.0 - /usr/local/bin/watchman

Android SDK:
- API Levels: 28
- B

[2019-01-25 11:03] eshikerya commented on #23136
works if metro started from ```nuclide```, but fails from ```run-{iOS,android}```

[2019-01-25 11:15] soumyamishra89 commented on #21862
Any update on this issue? I am also facing the same issue where the request is not resolved and nothing is sent to the server on IOS. works fine on Android.
I am using react-native: 0.57.8

[2019-01-25 11:45] vitalii opened #23159 "Can't run react-native run-ios with Build Active Architecture Only=NO"
## Environment
[code]
## Description
Can't build debug scheme with new build system but can  and **Build Active Architecture Only** set to **NO**

Basically, when I run Fastlane release build or through Xcode it works fine
this is a command from Fastlane/Xcode and it's working fine, binary is built.

[code]

But if I try to build debug version on simulator
[code]

[code]
it throws me error

[code]

[2019-01-25 11:47] TOTHO09 commented on #23158
i'm having the same issue .

[2019-01-25 12:19] YarKaras commented on #23153
You can edit your gradle files and it'll work
https://facebook.github.io/react-native/docs/signed-apk-android

[2019-01-25 13:37] juanfer0002 commented on #21862
@soumyamishra89It works fine in 0.56, you may want to downgrade in this one.

[2019-01-25 14:12] zabojad commented on #21030
I do not use remote js debugging and haxe those logs generated every 2 or 3 seconds. Where does it come from exactly?

[2019-01-25 14:44] doryanB commented on #13413
Hi, I have the same problem on my react-native V0.54 app... a FlatList with images (more than 300)... the app work fine with IOS, but crash with Android... I saw that the RAM was exploding (from ~120MB to +300MB which lead to a crash). Even when I limit the number of cards, I go from ~120MB to ~220MB only with 30 images

I Tried to change component, use libs more and more complex, but nothing is w

[2019-01-25 14:57] truongluong1314520 commented on #22500
Hi @nurely , sorry for replying you late. I have post the solution on this page

https://medium.com/@ttqluong93/react-native-max-old-space-size-2af6754b5926

[2019-01-25 15:35] soumyamishra89 commented on #21862
@juanfer0002 : any plans to fix this in the next release?

[2019-01-25 15:54] kristerkari commented on #21966
Still reproducible with v0.58.1

[2019-01-25 15:57] Thioby commented on #23158
@TOTHO09 @lynrose10
It seems to be fixed in 0.58.1

[2019-01-25 16:19] dslounge commented on #21030
This is coming from React native trying to connect to react-devtools, not
the packaging server

On Fri, Jan 25, 2019, 09:14 Thomas Fétiveau <notifications@github.com wrote:

[2019-01-25 16:33] zabojad commented on #21030
@dslounge you mean trying to connect to react-devtools instead of the packaging server?

I don't understand how did this happen, I did not have this error few days ago and I haven't changed anything to my config nor dependencies versions...

[2019-01-25 16:50] timt commented on #22578
@levibuzolic  Any view on when this will make it in? Looks like the pull request is still failing.

[2019-01-25 17:01] dslounge commented on #21030
I think it's been a constant issue for about a year or longer. Try turning
on react-devtools and you'll see it go away.

On Fri, Jan 25, 2019, 11:34 Thomas Fétiveau <notifications@github.com wrote:

[2019-01-25 17:09] csotiriou commented on #2814
Now that 0.58 is released, does it solve this issue? Is react native 64-bit yet?

[2019-01-25 17:14] msand commented on #23136
seems fixed in 0.58.1 https://github.com/facebook/react-native/pull/23160

[2019-01-25 17:20] seriiix commented on #23151
I fixed this problem based on [this](https://github.com/facebook/react-native/issues/7192) issue and this [gist](https://gist.github.com/patrickhammond/0b13ec35160af758d98c). I don't know if this issue should remain open or not. It's clearly a problem. Anyway, [Here'](https://gist.github.com/seriiix/093289bb28747e26301432a5fba6b060)s RN fix to it.

[2019-01-25 18:00] kelset commented on #23136
Yeah we fixed this in 0.58.1 - closing this issue for now, if it resurfaces I'll reopen ;)

[2019-01-25 18:00] #23136 closed

[2019-01-25 18:38] HananeAlSamrout commented on #19356
the error says

what i had to do is upgrading the deployment target of my project from 8 to 9
and that solved the issue

[2019-01-25 18:42] hramos commented on #20764
Follow up to my last comment: My understanding is that this is now consistent across both platforms. Previously, if you were to only test on iOS but targeted Android as well, it would be possible to ship an app to production without catching this. We now crash on both iOS and Android.

I do agree this behavior is surprising and leads to a bad DX, so I'm re-opening the issue.

[2019-01-25 19:07] hramos commented on #2814
It *should* be solved, to my understanding. Did you run into any issues when using 0.58?

[2019-01-25 19:10] hramos commented on #2814
Apologies, this is not in 0.58. It's in master, though, and is scheduled to be part of the 0.59 release.

[2019-01-25 20:06] esutton commented on #18375
This is frustrating.

I had removed and quit using lodash padStart() because I had discovered it was not needed anymore.

I started testing my app on Android again and now I learn I need to go back and replace it all with lodash padStart() all over again.

[2019-01-25 21:44] hramos commented on #23108
Thanks @guhungry! It looks like `test_ios` [switched to green](https://circleci.com/gh/facebook/react-native/68380) in 27617be9bb2083a58a56c1d9d20a45e9af069f42, but is [failing again](https://circleci.com/gh/facebook/react-native/68426) as of b905548a3b43b2130c35360c3602eda722f82e7f. It's just the one failing job so far, so perhaps it's flaky, but we might need to update snapshots again.

That las

[2019-01-25 21:59] SamuelKern2020 commented on #22556
I have this same problem after ejecting from Expo to vanilla react native... Anyone find a solution?

[2019-01-25 22:10] hramos commented on #23108
I'm unable to repro the testTabBarExample failure locally. I'll re-run https://circleci.com/workflow-run/03a88f51-0ca8-4adc-9994-7bbb0ea41caa and see if that was a one-off failure.

[2019-01-25 22:47] hramos commented on #23108
I finally reproduced this locally. #23161 fixes it for me, though I can't even tell what's different in the snapshot.

[2019-01-25 23:18] hramos commented on #23108
My PR failed test_ios as well.

[2019-01-25 23:53] castalonirenz opened #23163 "Button and Touchable onPress is not working in 0.58.0"
i created a new project with version 0.58.0 and i tried to make some basic log in. but the onPress of the button is not working, and the button itself is not even touchable. but in previous version its working properly. is this a bug? thank you

[2019-01-25 23:58] levibuzolic commented on #22578
@timt not really, I’ve been trying to work out why the tests are failing but have t had much luck they seem unrelated to the PR.

I’ll get it up to date with master again and see if that sorts things out.

[2019-01-26 00:00] hramos commented on #23163
Hey @castalonirenz, can you make sure you follow the bug report template? See https://github.com/facebook/react-native/issues/new/choose

[2019-01-26 00:00] #23163 closed

[2019-01-26 00:59] #22697 closed

[2019-01-26 04:14] juanfer0002 commented on #21862
I don't know, i just found out that worked in that versio. I'm not contributor. I'm also waiting for a solution to this

[2019-01-26 06:31] guhungry commented on #23108
After I ran unit test many times. Sometimes I found error in ScrollViewExample too (especially run only the test individually). My guess is that ImageView is loading image.

<details>
<img width="400" alt="screen shot 2019-01-26 at 13 26 56" src="https://user-images.githubusercontent.com/4032276/51783551-22793a00-216e-11e9-86f2-04f31a53f1a3.png">
</details>

[2019-01-26 07:00] mojtaba-hajishah commented on #23126
upgraded to react native 0.57.8 and react 16.7.0 but the issue still exists.

[2019-01-26 07:36] ldgarcia commented on #19009
In my case I incorrectly curried a function inside my component class:

[code]

[2019-01-26 09:48] ishigamii commented on #22543
Same bug happening with latest version of iOS : `12.1.3`

[2019-01-26 10:32] GoktuqCan opened #23166 "iOS Build Fail After upgrading from 0.57.8 to 0.58.1"
## Environment
[code]

## Description
I started project with version v0.57.8
I followed instruction here for upgrading to v0.58.1: [https://facebook.github.io/react-native/docs/upgrading#upgrade-based-on-git](https://facebook.github.io/react-native/docs/upgrading#upgrade-based-on-git)
After upgrading, Android app wasn't responding to touches but after deleting and re-installing node_modules, plus

[2019-01-26 12:07] nossbigg commented on #22303
@wzup I was investigating the code surrounding `Keyboard`, and the `result` is of this shape:
https://github.com/facebook/react-native/blob/e4d7fc06cb74fde24b508212a52a03122de596fa/Libraries/Components/Keyboard/Keyboard.js#L35-L40

Related code files:
- [Apple Developer: Keyboard Notification User Info Keys](https://developer.apple.com/documentation/uikit/uiwindow/keyboard_notification_user_info_k

[2019-01-26 12:45] marhaupe commented on #21241
I experienced the same issue for a while now. Yesterday, jest released jest@24.0.0, which upgraded its internals to Babel 7. I upgraded my dependency to the following:

`"jest": "24.0.0"`
`"babel-jest": "24.0.0"`
`"metro-react-native-babel-preset": "0.51.1"`
while still being on `"react-native": "0.57.8"`

I hope it works for some of you

[2019-01-26 14:49] danilobuerger commented on #23149
@dulmandakh which commit are you referring to?

[2019-01-26 17:46] Silva-Amon commented on #17474
It worked to me. Thank you!

[2019-01-26 18:10] naytun commented on #16186
You might find the technique used in this article helpful, at least for me.
[**Making FlatList 5x faster**](https://hackernoon.com/how-to-improve-react-native-list-performance-5x-times-b299c8a23b5d)

[2019-01-26 21:01] d2dindustries commented on #21801
I am also having this issue. Any resolution in sight?

[2019-01-26 21:03] Bardiamist commented on #22100
Anybody can to explain me why `import type {SyntheticEvent} from 'CoreEventTypes';` works?
Why flow understund `CoreEventTypes` alias ?

Because `module.system.haste.paths.whitelist=<PROJECT_ROOT>/Libraries/.*` in `.flowconfig`?
But `.flowconfig` of react native project containts `module.system.haste.paths.whitelist=<PROJECT_ROOT>/node_modules/react-native/Libraries/.*` and I can't using alias `Co

[2019-01-27 01:53] #22985 closed

[2019-01-27 03:57] huyhai opened #23170 "Crash on android"
i check my crashlytics report, this error happen many times on android 4 :
Fatal Exception: java.lang.NoClassDefFoundError: com.facebook.react.CoreModulesPackage$1
       at com.facebook.react.CoreModulesPackage.getNativeModules(CoreModulesPackage.java:74)
       at com.facebook.react.NativeModuleRegistryBuilder.processPackage(NativeModuleRegistryBuilder.java:47)
       at com.facebook.react.React

[2019-01-27 04:37] doniyor2109 commented on #22990
@reemtariqq Unfortunately all are taken. However you can search for issues with "Good first issue" label. There are many of them

[2019-01-27 06:53] hyochan opened #23171 "TypeError: require(...).getViewManagerConfig is not a function"
## Environment
[code]
## Description
Run `jest` will throw below error in `react-native@0.58+` in flow project (typescript project is ok).
[code]

## Reproducible Demo

[2019-01-27 08:01] keermanish commented on #21309
Any progress on this issue or any solution available, I'm also facing the same issue. Unfortunately, for me, it's on the landing page and happening only when I install the APK and immediately launch the application.(if I open application for next time, images are getting load/render)

[2019-01-27 08:16] mojtaba-hajishah commented on #23126
this is the stack trace of this error:

com.facebook.react.bridge.ReadableNativeArray.getDouble ReadableNativeArray.java:114
com.facebook.react.bridge.JavaMethodWrapper$4.extractArgument JavaMethodWrapper.java:64
com.facebook.react.bridge.JavaMethodWrapper$4.extractArgument JavaMethodWrapper.java:60
com.facebook.react.bridge.JavaMethodWrapper.invoke JavaMethodWrapper.java:359
com.facebook.react.br

[2019-01-27 11:58] smemamian opened #23173 "elevation + position doesn't work"
## Environment
nvironment:
  OS: macOS High Sierra 10.13.6
  Node: 8.10.0
  Yarn: 1.9.4
  npm: 6.0.0
  Watchman: 4.9.0
  Xcode: Xcode 10.1 Build version 10B61
  Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

## Description
I want to use position as `absolute` and everything work fine. but when I use `elevation` my pos

[2019-01-27 12:37] ifyapishore opened #23174 "Developer menu stop working after upgrade to "react-native": "0.57.8""
## Environment
 React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i7 CPU       M 620  @ 2.67GHz
      Memory: 30.45 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.6.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/

[2019-01-27 13:16] ifyapishore commented on #23174
Excellent!

I spend two weeks to upgrade to 0.57.8, went through dependency hell and finally was able to make new build and now you are proposing to do it again?

I have no any guarantee that 0.58 will work at all.

[2019-01-27 13:50] Kuchitama commented on #22421
@jrounsav Yes. Unfortunately, my patch(#22423) is not included in 0.57.8, 0.58.0 and maybe 0.58.1.

[2019-01-27 14:19] MohamadKh75 commented on #22703
I can confirm that this issue is resolved in Xcode 10.1 but exist in Xcode 10

[2019-01-27 15:03] ypyakymiv commented on #23157
I'd like to find out more about your issue.

Just to clarify - you are using a Note 8 emulator for which the reproducible demo fails to call the onPress callback, correct? As you said both the android and iOS test emulators show correct behavior through the expo link.

[2019-01-27 15:53] rammmukul commented on #23157
It's not the note 8 emulator but the actual device, and some OPPO device too exhibit this behavior. Exact details of note 8 I don't know right now but I will post on Monday.

[2019-01-27 15:58] ypyakymiv commented on #23173
If this bug remains once you update your react-native version I am interested in helping you solve this bug. What emulators/devices are you running your project on?

[2019-01-27 16:07] TareqElMasri commented on #21006
@dryganets  I have this issue for months, when is this gonna be merged? Or how can I implement this fix in my project?

[2019-01-27 16:52] vistiyos commented on #23081
I have updated the original post with the latest version (0.58.2) and it still happening.

[2019-01-27 18:18] sibelius opened #23175 "react-native-git-upgrade yarn workspaces support"
related to this issue https://github.com/facebook/react-native/issues/16666 that was closed without a solution.

This is the error thrown:

[code]

would you accept a pull request that fixes it?

[2019-01-27 19:05] #23175 closed

[2019-01-27 19:51] smemamian commented on #23173
I'm using galaxy s4 - android 5.

[2019-01-27 19:54] dzek69 commented on #22620
This is probably what causes https://github.com/facebook/react-native/issues/4944 (which is incorrectly closed or if it really was fixed then it should be reopened or something)

[2019-01-27 20:55] rajivshah3 commented on #21572
This looks like an iOS bug. It's happening in native apps as well: https://stackoverflow.com/q/52701160/3188334

[2019-01-27 21:13] Ghuller commented on #21801
I'm also having this issue using RN 0.57.8.

It looks like it only happens when you have a decreasing outputRange, like [100, 0], or in OP's case, [0, -200]. It also happens with animated margins and paddings.

[2019-01-27 22:23] misaku opened #23176 "bug with react-native link in android and windows"
## Environment

 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
      Memory: 2.66 GB / 15.89 GB
    Binaries:
      Yarn: 1.13.0 - ~\AppData\Roaming\npm\yarn.CMD
      npm: 6.5.0 - C:\Program Files\nodejs\npm.CMD
      Watchman: 4.9.4 - D:\servers\watchman\watchman.EXE
    IDEs:
      Android Studio: Version  3.3.0.0 AI-

[2019-01-28 00:46] dulmandakh commented on #23149
https://github.com/facebook/react-native/commit/abfd563b471b8f57d6d6f54862082a49e1a58258

[2019-01-28 00:46] CxxyLucifer commented on #21065
3Q ,  nice

[2019-01-28 01:48] CxxyLucifer commented on #21065
3Q, nice

[2019-01-28 02:47] hophoppoppop commented on #5886
i don't know if this related to this forum or not.

so because recent change of google play console permissions rules. Google will check our manifest to see android permissions we used.

although i have use 'tools:node="remove"' in every unused permissions and in release apps the permission not shown. Google still doesn't let me to publish my apps in google play console.

anyone have some problem

[2019-01-28 03:02] wahdatkashmiri33 opened #23178 "FlatList Horizontal not working but work for vertical"
![image](https://user-images.githubusercontent.com/16012220/51812289-e1e90000-22d6-11e9-80d8-bd6f3e82a6b0.png)
this is what it shows when i try to  show images in  horizontal direction  in flatlist
`<View style = {{flex :1}}>

      <FlatList
      style ={{flex:1}}
      horizontal = {true}
      data = {this.state.trailerData}
      renderItem = {
        ({item}) =>
         <Image
        sour

[2019-01-28 03:24] kangdawei opened #23179 "Release run crashes on Android Exeption."
Environment:
OS: macOS Sierra 10.14.3
Node: 11.0.0
Yarn: Not Found
npm: 6.5.0
Watchman: 4.9.0
Android Studio: 3.1.2

react: ^16.2.0
react-native: ^0.51.0

Target Platform:  Android (26)
compileSdkVersion: 25
targetSdkVersion: 23

*******************************************************************************************************

`E/AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
    Proces

[2019-01-28 03:31] Matrixbirds commented on #20296
I got same issue when using **react-natve: 0.57.8** **react: 16.6.3** when i import an typescript react-native component
ENV:
[code]

[2019-01-28 04:04] 17391895235 opened #23180 "WebView When loading Not fully displayed"
http://u9801853.viewer.maka.im/k/TLTOBXVU,
This URL is not fully displayed in the reactNative webview. It can be displayed when you slide up to the third page. The information page of the first page is not displayed. It is normal when loading in the android native WebView.

[2019-01-28 04:05] #23179 closed

[2019-01-28 04:05] 17391895235 commented on #23180
The second page is originally blank.

[2019-01-28 04:38] JoeLeung32 commented on #23166
### **Share**

**Before** upgrade to 0.58.1 (My RN: 0.57.7)
- Backup your /ios/ or rename to /ios_old/ (as you like)

`react-native eject`
`react-native-git-upgrade`
`react-native link`

**After linked**
- Compare all *.plist between /ios/ and /ios_old/ and cover the new one

`react-native run-ios`
- Done

I can run perfect now, in /ReactCommon/ folder still missing /privatedata/. 😢

[2019-01-28 05:20] godyolops commented on #23158
Please fix this issue, same here.

[2019-01-28 06:21] kangdawei opened #23182 "Release build crashes Android Exeption"
## Environment

Environment:
  OS: macOS 10.14.3
  Node: 11.0.0
  Yarn: 1.13.0
  npm: 6.5.0
  Watchman: 4.9.0
  Xcode: Xcode 10.1 Build version 10B61
  Android Studio: 3.2 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: ^16.2.0 => 16.2.0
  react-native: ^0.51.0 => 0.51.0

## Description
android devices crash

## Reproducible Demo
`E/AndroidRuntime: FATAL EXCEPTION: mqt_native_mo

[2019-01-28 06:43] JPeer264 commented on #20405
This issue is really weird. I tried to debug it, but it is really hard to find a device where it happens. The strange part: it happens just on production builds and just on some devices. I didn't find a specific pattern yet, but we had issues just on the newest OS versions.

On previous rn versions we had the problem with iPhone 6 + X (iOS 12). Now we have this problem with Samsung Galaxy S8 (Andr

[2019-01-28 07:18] shravanteegala commented on #23130
Iam facing same Warning issue.

[2019-01-28 08:08] kangdawei commented on #23182
sorry , i update

[2019-01-28 08:15] kelset commented on #23166
👋 there

we are currently trying to improve on the [upgrading experience](https://github.com/react-native-community/discussions-and-proposals/issues/68) because the tool that you used (and linked in the docs) is sort-of been unmaintained for a while.

I know it's not ideal and we are working on this 💪 Can you, in the meantime, try to do the same procedure but instead using this repo as source for

[2019-01-28 08:38] kelset commented on #21967
If you want a more in depth explanation of what it takes for Hooks to land: https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-457735214

(locking to keep this as last link until updates)

[2019-01-28 08:39] nonoyek commented on #22445
Error will come out when i try to read a photo, but text file just work fine. Is there anyone know how to make it work? : (

[2019-01-28 08:40] kelset commented on #23130
Closing, please refer to this -> https://github.com/facebook/metro/issues/287

[2019-01-28 08:40] #23130 closed

[2019-01-28 08:43] kelset commented on #23171
Can you reproduce this issue in a fresh `react-native init` project?

[2019-01-28 08:44] kelset commented on #23176
That's a good idea, but maybe it's worth working directly with https://github.com/react-native-community/react-native-cli which is the new place where the CLI will be hosted in the future 👍

[2019-01-28 08:45] kelset commented on #21801
Does this still happen on 0.58?

[2019-01-28 08:46] kelset commented on #23178
If you don't fill the template, we can't help you 😓

[2019-01-28 08:47] kelset commented on #22703
thanks for reporting, I feel that we can close this then.

[2019-01-28 08:47] #22703 closed

[2019-01-28 08:50] kelset commented on #21241
It seems that this issue was caused by incorrect upgrading - please refer to @Devil-Cong's comment above for a good step by step of how to avoid/fix the issue: https://github.com/facebook/react-native/issues/21241#issuecomment-456088170

Closing & locking as that comment fixes it, and also we are working on [improving the upgrading procedure](https://github.com/react-native-community/discussions-a

[2019-01-28 08:50] #21241 closed

[2019-01-28 08:52] tapz opened #23183 "Xcode: Undefined symbols for architecture x86_64: "_JSObjectGetPrototype""
## Environment

 React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: x64 Intel(R) Core(TM) i7-6567U CPU @ 3.30GHz
      Memory: 476.27 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.12.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-01-28 09:11] Ghuller commented on #21801
@kelset Yes. Here is a example tested on RN 58.1:

[code]

Just create a new project with react-native init and paste it on App.js. Here is a gif of the result:

![example-animation](https://user-images.githubusercontent.com/29331129/51825378-ccbaa400-22cb-11e9-8297-c13fa885cfa1.gif)

[2019-01-28 09:19] cpojer commented on #21065
I'll land the attached PR to fix this issue.

[2019-01-28 09:44] #23178 closed

[2019-01-28 09:46] NicWickman commented on #22445
Use axiom package instead of fetch for now

On Jan 28, 2019 12:40 AM, "nonoyek" <notifications@github.com> wrote:

[2019-01-28 09:55] tapz commented on #23183
Adding JavaScriptCore.framework to link libraries solved the issue. This probably should be added to the release notes.

[2019-01-28 09:58] Return-1 opened #23185 "Cookie based authentication issue aggregation + Issues got closed without resolution."
## Environment
Provided in corresponding issues
## Reproducible Demo
Provided in corresponding issues

## Description
Issues closed while still open. Cookie based authentication is at this moment not usable. This is partially due to the following issues:

- https://github.com/facebook/react-native/issues/929
- https://github.com/facebook/react-native/issues/23005

These issues have been closed eve

[2019-01-28 10:07] ue commented on #18130
[code]
I am using as the example. When it change at the first time it working grate but when connectivity change again (online to offline or vice versa) its not working so event listener becomes dysfunctional. It just working once
I am toggling from wifi settings.

What I am wrong?