[2018-11-02 14:31] marioharper commented on #21836
related: #20462

[2018-11-02 14:48] youngjuning commented on #21154
0.57.4 Is there any solution

[2018-11-02 15:07] jacamera commented on #22067
@bartolkaruza Thank you for bringing this to my attention. I had fallen back to using https://github.com/CRAlpha/react-native-wkwebview since there was no mention of the separate WebView package in the docs. I just tested it and the separate react-native-webview disposes of the WebView instances properly so it's just an issue with the built-in component.

I feel like this issue should still be lef

[2018-11-02 15:18] #22073 closed

[2018-11-02 15:20] #22077 closed

[2018-11-02 15:22] kelset commented on #22064
Duplicate, closing.

[2018-11-02 15:22] #22064 closed

[2018-11-02 15:38] robrousejr commented on #22074
That's very strange... I used `react-native init test`, and I just created a new project and again got the same `package.json` file

[2018-11-02 15:59] bmbmjmdm opened #22086 "accessible = {false} not working in Android"
## Environment
  OS: Windows 10
  Node: 8.11.3
  Yarn: Not Found
  npm: 6.4.1
  Watchman: 4.9.4
  Xcode: N/A
  Android Studio: Version  1.4.0.0 AI-141.2343393
Packages: (wanted => installed)
  react: 16.5.0 => 16.5.0
  react-native: ~0.57.2 => 0.57.2

## Description
Setting the property "accessible" to {false} on a UI element doesn't appear to do anything.

## Reproducible Demo
Create a parent tex

[2018-11-02 16:05] paulopacitti commented on #16332
I'm having the same issue, and it's the same react-native version. Renaming with "export default" or importing correctly is not the problem. Any news? If I update it, it should work?

[2018-11-02 16:10] bmbmjmdm commented on #22086
I'm using a create-react-native-app project, which depends on Expo. Here:

https://docs.expo.io/versions/latest/sdk/#sdk-version

shows that Expo supports up to v0.55.4

[2018-11-02 16:52] Kielan commented on #22078
interestingly, I notice that this feature is respected, but in typescript if you use the wrong syntax, such as js constructor syntax, the double tap is not respected. Very interesting case.

[2018-11-02 17:11] bmbmjmdm commented on #22086
Ran a fresh react native project using v0.57.2, reproduced the problem

[2018-11-02 17:36] donatelucas commented on #22068
Thanks!

[2018-11-02 17:38] #22068 closed

[2018-11-02 19:04] wardhanster commented on #21030
same !

[2018-11-02 19:16] balwinder4264 commented on #17891
If it is working with Ios then replace localhost to main ip address of Your computer.

[2018-11-02 19:18] yacut commented on #22023
same issue with 0.57 version

[2018-11-02 19:41] hramos commented on #19573
I'm in the process of switching our CI to use Xcode 10 by default. We're currently blocked due to an issue with Circle CI's macOS image. While Xcode 10.0.0 is available, the command line tools for 10.0.0 are not available in the image. This is keeping us from being able to compile `applesimutils` for use in tests. See https://circleci.com/gh/hramos/react-native/4447 for an example of such a failur

[2018-11-02 19:51] bartolkaruza commented on #22086
fresh project on 0.57.4?

[2018-11-02 20:02] ZachOrr commented on #21030
Hey all - “Same” and “+1” are not particularly helpful for this discussion.

[2018-11-02 20:09] exced commented on #21581
Yeay ! 🎉

[2018-11-02 20:11] selsamman commented on #15290
I don't know if this has been fixed in later versions of react-native.  However my rather simple workaround is based on the fact that locationX seems to be accurate in the onResponderGrant event  so in the onResponderGrant handler I just do:

`this.locationPageOffset = evt.nativeEvent.pageX - evt.nativeEvent.locationX;`

then in the onResponderMove handler I can derive locationX from pageX like th

[2018-11-02 20:44] hramos commented on #22079
The title implies this does not occur on iOS 11, but the description does not address this. Can you clarify what's the case?

[2018-11-02 21:10] gran33 opened #22088 "react-native init throws an error: Cannot find module './clone.js'"
## Environment
No output.
But I got this in old RN project:
[code]
## Description
`react-native init <PROJECT_NAME>` failed with this error:
[code]
## Reproducible Demo
Simply try to create new project:
`react-native init <PROJECT_NAME>`

[2018-11-02 21:12] EdwardDrapkin opened #22089 "Android: Timers do not run if specified before App mounts"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
If you call `setTimeout` or `setInterval` as the very first thing in the application, before any calls to reac

[2018-11-02 21:14] sandro0705 opened #22090 "1"
1

[2018-11-02 21:15] sandro0705 commented on #22090
[](url)ig my fuckng god github is so fucking retarded i cant figure out how to attach image

[2018-11-02 21:15] sandro0705 commented on #22090
but overall your fucking react native sucks

[2018-11-02 21:15] sandro0705 commented on #22090
so fucking retarded solution to have cross platform applications

[2018-11-02 21:16] sandro0705 commented on #22090
fix your retarded shit oh my fucking god

[2018-11-02 21:19] #22090 closed

[2018-11-02 21:19] sandro0705 commented on #22090
sorry, just cant get build archived both for android and ios

[2018-11-02 21:29] alexsmartens commented on #22088
I am having the same problem!

  OS: Win 10
  Node: 10.13.0
  npm: 6.4.1

[2018-11-02 21:34] gran33 commented on #22088
Smell to me like the problem is in `graceful-fs` and the fix is here:
https://github.com/isaacs/node-graceful-fs/commit/a1587eae7c5dcf74ccf6556ac7d6f704ea794804

Same old issues, our environment is soo flaky and can be broken so easily :(

[2018-11-02 21:35] gran33 commented on #22088
It's working now.

[2018-11-02 21:35] #22088 closed

[2018-11-02 21:37] alexsmartens commented on #22088
This is what helped me:
[code]

[2018-11-02 21:38] gran33 commented on #22088
Mmm, I'm pretty sure that the fix here isaacs/node-graceful-fs@a1587ea is what helped you. Your cache is fine this time :)

[2018-11-02 21:40] alexsmartens commented on #22088
I did not change package.json

[2018-11-02 21:44] gran33 commented on #22088
Sure, it's one of react-native dependencies that just published a fix (this is the fix commit isaacs/node-graceful-fs@a1587ea).

[2018-11-02 21:52] flolege commented on #19812
In addition to the above, I also had to add this to `[untyped]`:

`.*/node_modules/react-native/Libraries/react-native/react-native-implementation.js`

[2018-11-02 22:03] dzucchi opened #22091 "How can I fix this warning "Encountered two children with the same key""
Hi guys,

I have a problema with the key:

my code:
![image](https://user-images.githubusercontent.com/44011810/47942583-33990e80-ded1-11e8-92cf-b166a1050072.png)

the error:
![image](https://user-images.githubusercontent.com/44011810/47942607-4875a200-ded1-11e8-8be8-f97068a503e8.png)

I printed the 'grupo' that i send to reducer in console:
![image](https://user-images.githubusercontent.com/44011

[2018-11-02 22:03] monkeyboy64 commented on #20497
I think I'm running into this too.

[code]

In xcode I have two schemes, `cmi` and `Dev`. If I run `react-native run-ios --scheme Dev` it seems to just build the `cmi` scheme. What's strange is that when I run `xcodebuild -list` from the `ios` directory it only shows my `cmi` scheme. This has worked in the past, so I'm not sure what's changed for me.

@Pranit-Harekar Can you run `xcodebuild -list`

[2018-11-02 22:05] #22091 closed

[2018-11-02 22:39] robrousejr commented on #22074
Got it fixed! Had to install **yarn**, once I did that, for some reason it started working

[2018-11-02 22:40] #22074 closed

[2018-11-02 22:41] dzucchi commented on #22091
I fixed:
This error appears because in my component FlatList was wrong.

now works:
![image](https://user-images.githubusercontent.com/44011810/47943903-3b5bb180-ded7-11e8-9a09-d804dc07031b.png)

[2018-11-02 23:38] FullstackJack commented on #16376
Yes, I am having this issue as well, but what does it mean?

[2018-11-03 00:05] #21618 closed

[2018-11-03 00:05] #21964 closed

[2018-11-03 00:05] #21923 closed

[2018-11-03 00:08] bmbmjmdm commented on #22086
Just tried, same result

[2018-11-03 01:17] 12343954 commented on #18120
after try all the way, i found using "postMessage" directly on RN0.56，works well so simple！

1. without “window. or document.”
2. without “ injectedJavaScript”
3. without “timeout”

just one important thing is make sure the “HTML side code” has nothing error in browser！

html side：
![image](https://user-images.githubusercontent.com/1804003/47946560-3be06080-df48-11e8-9ac7-99961384f604.png)

RN sid

[2018-11-03 01:36] phips28 commented on #18692
I have a problem on creating a release build, since today its not building correctly anymore (I dont know why):

1) Task `:app:bundleReleaseJsAndAssets` successfully creates the index.android.bundle

[code]

2) but when I install the .apk release file, it is unable to load the bundle file. Because its not in the apk. also the assets (images) are not in the .apk.
How can this happen?

[2018-11-03 01:45] YanmaY commented on #22069
version@1.10.1 is OK @achmadk @thomanau

[2018-11-03 01:47] #18867 closed

[2018-11-03 03:08] cbjs commented on #21790
fixed by upgrading gradle to 3.1.4 and buildToolsVersion 27.0.3

[2018-11-03 05:50] bartolkaruza commented on #22086
If I understand the `<Text />` component on Android correctly, it actually turns nested text into a single `TextView`. Because there is only one actual `TextView` from your three `Text` components, there is only one accessible element (the parent). Try wrapping the child `Text` components in a parent `View` component, which should translate into three actual views on the native side. Wrapping will

[2018-11-03 05:57] bartolkaruza commented on #22085
How dynamic are your views in height? Do you have any way to calculate the height based on the data before rendering? If you do, that is usually the way to go with `Section/FlatList` as any variable height will cause unstable scrolling and other issues. You need to provide an exact calculation to [`getItemLayout`](https://facebook.github.io/react-native/docs/flatlist#getitemlayout) for a stable ex

[2018-11-03 06:16] gifary opened #22093 "linker command failed with exit code 1"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-4250U CPU @ 1.30GHz
      Memory: 1.23 GB / 8.00 GB
      Shel

[2018-11-03 06:48] folofse commented on #22079
I'm trying to figure out what's causing the problem. It seems to be something else that fails before and later causes this error, so I close this until I figure out what the underlying problem is.

[2018-11-03 06:48] #22079 closed

[2018-11-03 07:19] achmadk commented on #22069
I have downgraded yarn version to 1.10.1 then it works. Thank you @YanmaY .

[2018-11-03 07:28] IljaDaderko commented on #21967
@Foveluy I got it working (I built my own react files though), few ideas

1. Are you using `const MyComponent = () =>` instead of `function MyComponent () {}` perhaps?

2. Are you calling a hook that is not directly nested in the body of component function? https://reactjs.org/docs/hooks-rules.html#only-call-hooks-at-the-top-level

[2018-11-03 08:06] dccmmtop commented on #17423
I am back , I resolve  the problem ,hahaha.

adb uninstall "package name"

[2018-11-03 08:19] kientux commented on #17124
Anyone got a fix for this? Still tinting not working on iOS.

[2018-11-03 09:31] sryze commented on #18515
Same problem

[code]

[2018-11-03 10:28] panda0603 opened #22094 "Error - Unable to resolve "./withSafeArea" from "node_modules\react-native-safe-area-view\index.js""
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
"dependencies": {
    "@babel/plugin-transform-flow-strip-types": "^7.0.0",
    "expo": "^31.0.2",
    "firebase": "^5.5.0",
    "mob

[2018-11-03 11:04] burivuhster commented on #21236
I had this issue after updating Expo from v30 to v31.
Removing the strings
`  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }` from my .babelrc helped.

[2018-11-03 11:14] #22094 closed

[2018-11-03 11:16] panda0603 opened #22095 "React Native "GET /onchange HTTP/1.1" - - "-" "okhttp/3.6.0" log after react-native update"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[skip envinfo]

## Description
I've just updated from react native version 0.55 to 0.57.

After I start the project,

I keep on getti

[2018-11-03 11:35] Hermanyo commented on #22095
I'm face this issue too, when I downgrade to 0.55.4, all works again

[2018-11-03 15:41] sudobrackets commented on #20898
Hi folks, Anyone have idea to resolve this issue

[2018-11-03 15:44] riwu commented on #18942
Should this be fixed?

[2018-11-03 15:44] chc200 commented on #21094
react-native start --reset-cache worked for me on @hbicexp solution

[2018-11-03 15:51] soooji commented on #22095
Me too. Is there any solution? I hate downgrade.

[2018-11-03 16:02] aminnoura commented on #22095
I have the same issue....

[2018-11-03 16:04] bhirmbani commented on #21741
https://github.com/facebook/react-native/issues/21741#issuecomment-429193933 doing this on RN 0.57.4 is actually worked for me

[2018-11-03 18:53] burkeshartsis commented on #18790
Still a meaningful issue. Please fix 😘

[2018-11-03 19:04] #19051 closed

[2018-11-03 19:54] happy32x commented on #22033
same problem here ... please help us

[2018-11-03 20:39] basaamp commented on #18415
**an idea

if (visible) {
//display nothing with position relative
setState({display: none, position: relative})

} else {
//display something with position absolute or relative
setState({display: flex, position: absolute or relative} )
}**

[2018-11-03 21:03] rajivshah3 commented on #22093
Try deleting your `node_modules` and running `yarn` or `npm install` again to reinstall your dependencies. If that doesn't work, this is probably an issue with `react-native-firebase`. There are some similar issues here: https://github.com/invertase/react-native-firebase/issues

[2018-11-03 21:12] rajivshah3 commented on #21474
I think there's some differences between the Android JSC that ships with React Native and the iOS one (example: https://github.com/facebook/react-native/issues/18426). You could try https://github.com/react-community/jsc-android-buildscripts , which has a newer version of JSC, to see if that fixes it

[2018-11-04 00:05] #21867 closed

[2018-11-04 00:19] KangYoosam commented on #19239
https://github.com/facebook/react-native/issues/19239#issuecomment-425623992
this worked for me. version 0.57

[2018-11-04 01:40] TheSavior opened #22100 "Strengthening Flow Types for Core Components"
We want to tighten the Flow types of the props for our core components. We need the help of the community to comb through these files and improve these types.

Right now a lot of props are typed using `any`, `Function`, or `Object`.

Many of these types are used to validate what we send to native. If JS defines a function that expects a string but Native calls it with a number, applications can cr

[2018-11-04 01:47] TheSavior commented on #21581
Thank you all for the work on this cleanup. This is amazing. This has all been building up to being able to improve our flow types for these components now that we aren't on `prop-types`. I created an issue with that work here: https://github.com/facebook/react-native/issues/21581.

Thanks again for everything you all have done so far!

[2018-11-04 01:47] #21581 closed

[2018-11-04 02:13] nd-02110114 commented on #22100
I'll take `Libraries/Components/DatePicker/DatePickerIOS.ios.js`

[2018-11-04 02:16] exced commented on #22100
I'll start with `Libraries/Components/ScrollView/__mocks__/ScrollViewMock.js`

[2018-11-04 02:35] TheSavior commented on #22100
Silly bot.

[2018-11-04 02:41] exced opened #22101 "Flow error Promise"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[skip envinfo]

## Description
It seems there's a Flow type Error in Libraries/Core/polyfillPromise.js

Error ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈

[2018-11-04 02:47] waqaramjad commented on #17083
I face the same issue React Native performance is not good with firebase

[2018-11-04 02:50] leo-tavares opened #22102 "ls"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

## Description
Describe your issue in detail. Include screensh

[2018-11-04 02:51] #22102 closed

[2018-11-04 02:57] Foveluy commented on #21967
@IljaDaderko i tried a simple project just like
[code]
but got the same thing showing that error.

And I built my own renderers too.

[2018-11-04 03:12] exced commented on #22100
I'll take `Libraries/Components/RefreshControl/RefreshControl.js`

[2018-11-04 03:19] leo-tavares opened #22104 "Timer not working when Remote JS Debugging"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Environment:
  OS: Windows 10
  Node: 10.13.0
  Yarn: 1.7.0
  npm: 6.4.1
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version

[2018-11-04 03:35] nd-02110114 commented on #22100
I'll take `Libraries/Components/DatePicker/DatePickerIOS.ios.js` , `Libraries/Components/DatePickerAndroid/DatePickerAndroid.ios.js`

[2018-11-04 04:16] empyrical commented on #22100
If anyone needs help with figuring out the callback/return types of native components feel free to ask here, and we can help out! 👍

[2018-11-04 05:03] TheSavior commented on #22101
Trying to fix this here: https://github.com/facebook/react-native/pull/22048

[2018-11-04 05:13] #22101 closed

[2018-11-04 05:51] sopranolinist commented on #22100
I'd like to take `Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js`

[2018-11-04 06:54] enanda commented on #22095
same here

[2018-11-04 07:51] nd-02110114 commented on #22100
I'll take `Libraries/Components/Keyboard/Keyboard.js`

[2018-11-04 07:56] panda0603 commented on #22095
p.s. I'm using expo-cli. Could this be expo issue?

[2018-11-04 07:57] PaulinPrize opened #22113 "expo-cli bug"
![capture](https://user-images.githubusercontent.com/41732884/47961668-b32cf780-e00f-11e8-99cb-c022bcd23351.PNG)
## Environment
I installed nodejs version:10.13.0

## Description
hello, i have a problem when i run the command npm install -g expo-cli as shown in the attached screenshot

[2018-11-04 09:42] mmazzarolo commented on #21967
@Foveluy

This `index.js` should work:
[code]

If it does not, make sure you replaced the `renderer` folder only *after* installing all the other dependencies.
I also have to replace it each time I install a new dependency (but the error message is different from yours).

[2018-11-04 10:32] iksent commented on #17530
I know, that it is a strange solution, but restarting packager + clearing data for application on Android device worked for me

[2018-11-04 10:47] voidstarfire commented on #20492
Xcode 10.1 Seems to be building fine on both systems but I can't archive on either, many build errors. What to do now?

[2018-11-04 11:09] sudobrackets commented on #17096
Hi Folks, Anyone have solution for this issue.

[2018-11-04 12:07] exced commented on #22101
Sorry for the duplicate

[2018-11-04 12:21] alleniver opened #22116 "Hot Reloading causes crash on iOS"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
      Memory: 5.93 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.12.0 - /usr/local/bin/node
      Yarn: 1.12.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2018-11-04 13:00] kientux commented on #20011
I recognized that not only `FlatList` item, but every single `Touchable` on the screen won't call `onPress`  after `FlatList` refreshed.

[2018-11-04 13:07] exced commented on #22100
@empyrical How would you type `requireNativeComponent` ?

[2018-11-04 14:08] fungilation commented on #20492
You have to be more specific. Xcode 10 builds and archives fine for me (after solving some errors I don't remember now), on MacOS 10.12.6 and RN 0.57.0.

[2018-11-04 15:34] SM-Wistful commented on #19719
I am still getting this issue:

`react-native 0.57.1`

I added `@Override public void invokeDefaultOnBackPressed() { moveTaskToBack(true); }` my `MainActivity.java` but it still does not work. I am getting this error when trying to start up my app, it shows up immediately and I can't even test...

[2018-11-04 16:31] TheSavior commented on #22101
No worries. This issue caused me to take that report more seriously. Thanks for posting. :-)

[2018-11-04 16:35] TheSavior commented on #22100
Don’t worry about requireNativeComponent. We have another project internally working to remove that function and instead provide an accurate type.

[2018-11-04 18:48] SM-Wistful commented on #19719
Quick update: This was an obscure issue with another library I am using (https://github.com/APSL/react-native-keyboard-aware-scroll-view). My report here can be disregarded.

[2018-11-04 19:13] clintjansen commented on #22095
Yea, I believe this is an Expo issue only.
Happens since it updated to SDK 31.0

[2018-11-04 19:31] abrarum commented on #21094
Same error..

[2018-11-04 19:41] elizamaria commented on #21135
Anyone having this problem with 0.57.4? If my app is crashing for whatever reason, I fix the problem and I try to reload, it doesn't see the changes only if I build the app once more!

[2018-11-04 20:13] MarkOSullivan94 opened #22118 "Building React Native from source -> Project with path ':android-jsc' could not be found in project"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

[code]

## Description

Happened after I merged the latest changes for the React Native project into my forked version of it (with o

[2018-11-04 20:17] MarkOSullivan94 commented on #18993
Another block hit #22118

I would be great if someone with a running local build of React Native can test these changes for me.

[2018-11-04 20:18] MarkOSullivan94 commented on #18993
Another block hit #22118

I would be great if someone with a running local build of React Native can test these changes for me.

[2018-11-04 20:47] sopranolinist commented on #22100
@TheSavior I don't see `Object` anywhere on line 121 in `CheckBox.android.js`. What I do see is `any` on line 81 but it's in reference to `requireNativeComponent`, which you said above we shouldn't worry about.

[2018-11-04 21:14] TheSavior commented on #22100
Whoops. Looks like [another PR](https://github.com/facebook/react-native/commit/28de61e9f0a46a2389503b8bf4e1b33f333ed0e4#diff-7f3d990a8a1579593beee654dfc118fe) from @empyrical landed after I made that list which solved that line in Checkbox. Sorry for the churn. I'll mark that off the list.

[2018-11-04 21:37] exced commented on #22100
I'll take `Libraries/Components/StaticContainer.react.js`

[2018-11-04 21:39] Hermanyo commented on #22095
My project is to react native cli, and I had the same problem

[2018-11-04 21:44] codebymikey commented on #21006
Hi @dryganets @lexs

Ran into the same issue myself, and had to do some deep dive to find out what was wrong.
This breaks some of my network calls without giving back any indicator that the original network response has been ignored.

The regression bug can be recreated using this sample code:

[code]

Following on from the #15295 fix, it assumes the invalid byte is at the end of the input rather

[2018-11-04 22:07] kernel-sanders opened #22120 "Comments in-line with JSX elements cause Invariant Violation error"
- [ X ] Review the documentation: https://facebook.github.io/react-native
  - [ X ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ X ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
[code]

## Description
In line comments break react-native 56+, as shown in the code and repo

[2018-11-04 22:29] exced commented on #22100
I'll take `Libraries/Text/TextProps.js`

[2018-11-04 23:10] exced commented on #22100
I could take `Libraries/Components/Slider/Slider.js` as well

[2018-11-05 00:05] #21882 closed

[2018-11-05 01:03] guozhaonan commented on #22100
If no one has tackled `Libraries/Components/ScrollView/InternalScrollViewType.js`, I could take a swing at it

[2018-11-05 01:10] vafada commented on #22076
@naody

Did you happen to upgrade gradle version?

I got the same issue when I upgraded:

`classpath 'com.android.tools.build:gradle:3.2.1'`

from

`classpath 'com.android.tools.build:gradle:3.1.4'

and

`distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip`

from

`distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip`

[2018-11-05 01:30] Foveluy commented on #21967
@mmazzarolo   great, thanks a lot. it is helping.

[2018-11-05 01:35] thiszhong commented on #22116
+1. After 0.57.1 => 0.57.4

[2018-11-05 02:06] LannyCodes commented on #16626
@SamMatthewsIsACommonName Hi,I am having the exact same issue in 0.55.4 when I  used PermissionsAndroid for Camera permission ,how do you fix this problem,please help me, Thanks!

[2018-11-05 02:10] Clearives commented on #20011
onPress is normal,code is normal ,but refresh is not work
[code]

[2018-11-05 02:28] nabettu commented on #22100
I'll take `Libraries/Utilities/deepFreezeAndThrowOnMutationInDev.js`

[2018-11-05 02:32] soyanakagawa commented on #22100
I'll take Libraries/Components/StatusBar/StatusBar.js

[2018-11-05 02:32] yushimatenjin commented on #22100
I'll take ` Libraries/Components/Touchable/TouchableBounce.js` !

[2018-11-05 02:32] Tnarita0000 commented on #22100
I'll take `Libraries/Components/TimePickerAndroid/TimePickerAndroid.android.js` &
  `Libraries/Components/TimePickerAndroid/TimePickerAndroid.ios.js`

[2018-11-05 02:53] nabettu commented on #22100
I'll take `Libraries/Components/WebView/WebView.ios.js`

[2018-11-05 03:06] sinhpn92 commented on #22076
I have same issue when upgrade into latest version:
`classpath 'com.android.tools.build:gradle:3.2.1'`
`distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip`

[2018-11-05 03:30] exced commented on #22100
I'll take `Libraries/Components/Touchable/TouchableOpacity.js`

[2018-11-05 03:42] fantasy525 commented on #22095
same issues,and there are too many Http infos.....

[2018-11-05 03:50] harrisrobin commented on #21030
Weird,

doing
[code]

worked for me. Maybe it wouldn't hurt to add a `--reset-cache` after the start script, but I did not have to do that!

[2018-11-05 04:03] #18978 closed

[2018-11-05 04:14] empyrical commented on #22100
I'll take `Libraries/Components/View/ViewPropTypes.js`

[2018-11-05 04:36] Jmask opened #22129 "React native “fontFamily is not a valid style attribute”"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description

<img width="393" alt="screen shot 2018-11-04 at 3 20 17 pm" src="https://user-images.githubusercontent.com/15

[2018-11-05 04:51] wayne1203 opened #22130 "react-native init not work if node 9 and yarn installed"
I have installed the latest version of yarn, but I need to use node 9 for my development.
When I "react-native init", it will using yarn to build and error appear
`error sane@3.1.0: The engine "node" is incompatible with this module. Expected version "6.* || 8.* || >= 10.*". Got "9.11.2" `

It will fine if I uninstalled yarn, can I force "react-native init" to use npm or any solution to fix the pr

[2018-11-05 05:05] #22130 closed

[2018-11-05 05:12] wayne1203 opened #22131 "react-native init not work if node 9 and yarn installed"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

## Description
The upper information are getting by other react-native project that I created before
<img width="568" alt="2018-11-0

[2018-11-05 06:02] rodrigoelp commented on #21882
Oh wow... I would really recommend you to go into reactiflux or whatever the discord channel is called and raise the issue there, in here is going to be discarded.

[2018-11-05 06:32] bartolkaruza commented on #22131
Why not upgrade to the current Node version or one of the active LTS Node versions? https://github.com/nodejs/Release

Node 9 is no longer supported by the Node.js Foundation.

Perhaps we should add that 'engines' declaration from [Sane](https://github.com/amasad/sane/blob/c4d5b7f1329cf3894b6f876c850629023dae8540/package.json#L48 ) to the RN package.json?

[2018-11-05 06:35] bartolkaruza commented on #22129
Maybe full-text search for `styles.title` , to see if you are applying that style to a non-Text component somewhere?

[2018-11-05 06:37] wayne1203 commented on #22131
@bartolkaruza I know that node 9 is not longer support. But I have a library need to using node 9 for compile. I'll ask them for support. Thanks for your reply.

[2018-11-05 06:37] #22131 closed

[2018-11-05 06:48] erez-guesty commented on #21030
+1

[2018-11-05 07:48] daiyuqing opened #22138 "Could not read path 'E:\RNdemo\node_modules\@babel\parser\.bin\parser'."
run ‘ ./gradlew assembleRelease’,
Failed to capture snapshot of input files for task ':app:bundleReleaseJsAndAssets' property '$1' during up-to-date check.

[2018-11-05 07:55] eduplus commented on #21967
So far used useState and useEffect and seems to be working just fine. Only problem is red screen while debugging, just as others have reported.

[2018-11-05 08:05] #22138 closed

[2018-11-05 08:08] koenpunt commented on #21967
For me the instructions @hramos posted work great. But the app crashes when I try to use hot reloading. Also, when running tests it complains in certain cases about "hooks can only be used in function body", even when it is a functional component. Btw, I am using the alpha of `react-test-renderer`

[2018-11-05 08:22] tsukushi0104 commented on #22100
I'll take `Libraries/Components/Touchable/TouchableWithoutFeedback.js` ~~

[2018-11-05 08:26] elliscwc opened #22139 "onKeyPress being called after dictation in iOS"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-7400 CPU @ 3.00G

[2018-11-05 08:40] mmazzarolo commented on #21967
@kodafb

Might be related to: https://github.com/gaearon/react-hot-loader/issues/1088

[2018-11-05 08:59] thomasarogers commented on #22085
Unfortunately the row height is fairly variable between 100 - 250 pixels roughly as the content can differ quite drastically. The issue isn't with the calculation it is that onLayout is not being called so getLayout cannot get a list of the row heights and do any accurate calculation. Ive tried initiating animations / logging once onLayout is called but all calls to it happen 2-3 seconds after the

[2018-11-05 10:37] amit2908 commented on #17276
@wmcbain  I have tried this, but I found "View.proptypes.style" in my code as well as in one of the third party library of stripe payment, 'Tipsi-Stripe'.  It is in  Card.js.html file.

I have changed it to ViewProptypes.style in js files but as Card.js.html is an HTML file,  should I change it too?

[2018-11-05 10:42] burakggs commented on #16563
Hi @Sean-Snow,
How did you resolve this problem ?

[2018-11-05 10:44] wzup opened #22140 "nw_socket_handle_socket_event [C39.1:1] Socket SO_ERROR [61: Connection refused]"
React Native always sends this strange logs in Xcode console. This log is just infinite.

What does this log mean?
Is it normal for RN?
How to remove this behavior from my RN app?

![screen shot 2018-11-05 at 12 06 20 pm](https://user-images.githubusercontent.com/3880497/47993566-712bb080-e0f8-11e8-8f53-8f85b57f9af8.png)

[2018-11-05 10:46] tahirmq1 commented on #21225
did you find any fix for this???

[2018-11-05 10:50] burakggs opened #22141 "Android TextInput auto Dismiss Keyboard"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  OS: macOS High Sierra 10.13.3
  Node: 8.9.4
  Yarn: Not Found
  npm: 4.6.1
  Watchman: Not Found
  Xcode: Xcode 9.4.1 Build version

[2018-11-05 11:03] xSmoggeRx opened #22142 "react-native run-ios open the app in the iOS simulator but is closed immediately but if I run the app in the simulator from Xcode it works."
[code]
I'm trying to open my app from terminal using the command `react-native run-ios` to debug it after with chrome console.

The problem is that when the app starts, is closed immediately throwing no errors. I can see before the start,` Metro Bundler` loading dependencies but when it ends, the app is closed.

This is not happening when I run the app from `Xcode`. `Xcode` open the app with no pr

[2018-11-05 11:05] #22142 closed

[2018-11-05 11:05] #22140 closed

[2018-11-05 11:15] wzup commented on #22140
This is ridiculous!
Fix your bot. I raised a question that your bot doesn't understand.

[2018-11-05 11:29] vonovak commented on #22084
hi, why not just use `Picker`? It's the same thing as PickerIOS on ios...

[2018-11-05 11:48] eaodesigns opened #22143 "JS bundle not able to load by app"
the command "npm start" starts server by "react-native run-android" is unable to load the JS bundle

[2018-11-05 11:52] #20232 closed

[2018-11-05 11:52] #20426 closed

[2018-11-05 11:55] Fsarmento opened #22145 "[Android] Image.getSize returns wrong dimensions"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memor

[2018-11-05 12:00] robertofrontado commented on #22084
I'm using `Picker`, which relies on `PickerIOS`

[2018-11-05 12:05] #22143 closed

[2018-11-05 12:11] AndreyPatseiko commented on #21572
If you collapse your application and come back, you can get crash app.

[2018-11-05 12:12] vonovak commented on #22084
ah, I see. It wasn't clear from the description. You can match the item by text for now, just fyi.

[2018-11-05 12:32] aminnoura opened #22147 "App crash of start"
Hi. My app in debug mode works and when I release the app, it crashes. I tried to check certificates, remove logs and some other suggestions. I update my XCODE to version 10 and still the issue is same.

I deleted all the logs, node_module and etc and tried again and didn't work.

When I click on the app I am seeing 2 error in XCODE logs.

1.
HW kbd: Failed to set (null) as keyboard focus

2.
Can'

[2018-11-05 12:36] robertofrontado commented on #22084
Yeah I'm aware, but the text might change since its coming from an API :/

[2018-11-05 12:46] exced commented on #22100
I'll take `Libraries/Components/Touchable/TouchableHighlight.js`

[2018-11-05 13:03] ma-pe commented on #19717
This describes the same behaviour: https://github.com/facebook/react-native/issues/21092

[2018-11-05 13:05] #22147 closed

[2018-11-05 13:13] BenBtg commented on #18899
How is this still an issue? Am I missing something or is hot reload not important feature of RN?

[2018-11-05 13:15] vemundeldegard commented on #22037
Did you manage to fix the issue with `Suspense`?

[2018-11-05 13:17] MSSPL-PiyaleeMaiti commented on #12981
I also getting same warning after using socket.io.
**Warning is below:**
[code]

**My package details is below:**

- "react": "^16.3.0-alpha.1",
- "react-native": "0.54.4",
- "socket.io": "^2.1.1",
- "socket.io-client": "^2.1.1",

Any permanent solution find out?

[2018-11-05 13:46] vemundeldegard commented on #22093
I had this issue a few weeks ago.

As the error says there is something wrong in your Xcode project and the linked libarires you have added. I suggest checking if you are adding some libraries that does not exist or should not be added. I removed linker, and the issue was solved.

[2018-11-05 14:21] gengjiawen commented on #21311
@TheSavior Looks like a flow issue, can you find some people work on this ?
[code]

[2018-11-05 14:31] gengjiawen opened #22148 "[Discussion][CI] Migrate to Azure DevOps(formerly vsts)"
MS annoucement: https://azure.microsoft.com/en-us/blog/introducing-azure-devops/.
## Pros:
* Free for opensource and unlimited time, circleci masOS plan has fee and also has limit time.
* Support linux, macOS, windows, we can have a unify ci for mainstream os.
## Cons:
* Bug, currently you even can't see the build log.
* Circle ci can ssh to remote machine, which is very convenient.

[2018-11-05 14:31] bartolkaruza commented on #22145
Could this be related to density? `Image.getSize` is often used to specify a views size in the layout, which is `dp` vs raw pixels.

You can test this by using [PixelRatio](https://facebook.github.io/react-native/docs/pixelratio.html) to get the real pixel value from the returned pixel value from `Image.getSize`. If the [`getPixelSizeForLayoutSize`](https://facebook.github.io/react-native/docs/pix

[2018-11-05 14:37] bartolkaruza commented on #22113
I think this is not the right place for this issue. Have you tried posting it to [expo](https://github.com/expo/expo)? Expo builds on top of React Native, but the Expo CLI tooling is independently maintained by them.

[2018-11-05 14:38] gengjiawen commented on #21311
I have reported to flow team too, https://github.com/facebook/flow/issues/7138.

[2018-11-05 14:43] bartolkaruza commented on #22089
Just out of curiosity, what exactly is the use case for this? I thought the `registerComponent` call needed to be within the first event loop of the app, which is not the case if you wrap it in a setTimeout. I'm not sure if it is related to the issue, but there is a particular error thrown if the app is not registered before the [`runApplication`](https://github.com/facebook/react-native/blob/1151

[2018-11-05 14:47] vitorreis commented on #21241
This is still happening with a fresh project using latest react-native version (0.57.4)

## How to reproduce
1) Create a new react-native project
2) Add a test file e.g.:
[code]
3) `npm test`

[2018-11-05 14:53] abrel opened #22149 "[iOS][CRASH] - com.squareup.SocketRocket.NetworkThread: SIGABRT ABORT 0x000000018270d2e0"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10

[2018-11-05 15:03] kennethlynne commented on #19377
We get this constantly in our app. We're using 0.57.4, react 16.6.0 and react-navigation 2.18.2

[2018-11-05 15:15] sondremare commented on #19377
Experiencing the exact same thing, ends up double instantiation of our router and horrible performance

[2018-11-05 15:19] IljaDaderko opened #22150 "Opening Warning / Yellow Box details ui spikes CPU usage in iOS"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
Opening / Expanding warning notification to view fullscreen message causes massive CPU spike that persists and

[2018-11-05 15:23] EdwardDrapkin commented on #22089
Nothing happens, like ever.  No log messages or errors, the function just never gets called.  It gets called immediately if you set the timeout to 0, however.

We have to make a network request to determine which content pane to show users on app launch based on their remote session state... since NetInfo is [also broken before React Native launches on Android](https://github.com/facebook/react-na

[2018-11-05 15:35] shafips opened #22151 "Custom fonts not working in android (react native 0.57.4)"
I am using google font for my project (https://fonts.google.com/specimen/Noto+Sans+KR).

I have followed following documentation for linking fonts.
https://medium.com/@danielskripnik/how-to-add-and-remove-custom-fonts-in-react-native-b2830084b0e4

style for <Text> component is :
{fontFamily:'NotoSansKR-Regular'}

It's working in IOS but not working in android. Previous RN versions are working fine

[2018-11-05 15:38] megantracy93 commented on #18790
@hoda-oz lineHeight is not the correct property for my use case as I have a multi-line string that should be center-aligned. Using lineHeight on a multi-line string results in each line having that height, rather than the combination of all the lines.

[2018-11-05 15:44] AugustoAleGon commented on #19782
@Vabery Thanks man you save me.

[2018-11-05 16:00] kipertech commented on #18899
It is super crucial and to me it's a killing feature compared to other frameworks/libraries. It speeds up development a lot.

[2018-11-05 16:05] #22151 closed

[2018-11-05 16:38] Fsarmento commented on #22145
Hi @bartolkaruza, thanks for your reply. That also came to my mind, but according to the results below, I see no relationship between PixelRatio and the difference in both dimension.

With an Android 6.0.1 - One plus One:

- metadata from takePictureAsync: { width: 3120, height: 4160 }
- Image.getSize: { width: 780, height: 1040 }
- PixelRatio.get():  3
- real ratio: 4 (3120/780)

With an Android

[2018-11-05 18:09] flowkraD commented on #22100
I took ` Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js`

[2018-11-05 18:29] tibbus opened #22157 "Cannot read property 'bind' of undefined / undefined is not an object evaluating _this._setComponentRef.bind"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
[code]

## Description
With the latest react-native cli (2.0.1) when using TouchableOpacity, the app c

[2018-11-05 20:29] techacolyte42 opened #22159 "[iOS] TextInput selection state lost on update render"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
  React Native Environment Info:
    System:
      OS: macOS 10

[2018-11-05 20:31] fogil commented on #18899
How to fix hot reloading:
1.) DO NOT attempt to upgrade to 0.57.04 -- It will fail!
2.) Start a brand new react-native 0.57.04 project.

[2018-11-05 20:42] akashnigam08 commented on #15059
This is issue is happening on the newly released OnePlus 6T as well.

[2018-11-05 22:13] Monte9 commented on #21480
Ran into the same issue when upgrading from react-native: `0.54.6 => 0.57.0`

[2018-11-05 22:50] skinnyal commented on #22100
Hey y'all! I took Libraries/Components/ScrollView/ScrollView.js

[2018-11-05 22:52] #18744 closed

[2018-11-05 23:21] dev6james opened #22162 "React-native link only links to 1st Xcode target"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.5

[2018-11-05 23:48] saitoxu commented on #22100
I'll take `Libraries/Components/ScrollResponder.js`

[2018-11-06 00:05] #21895 closed

[2018-11-06 00:05] #21890 closed

[2018-11-06 00:05] #21992 closed

[2018-11-06 00:10] scally opened #22163 "React Native isn't compatible with yarn pnp"
## Environment
[skip envinfo]
`react-native info` doesn't work in this scenario:
`Command ``info`` unrecognized. Make sure that you have run ``npm install`` and that you are inside a react-native project.`

## Description
If you enable yarn pnp for a React Native app, it doesn't work. Perhaps something is hardcoded to look in `./node_modules`?

The resulting error is: `Error: Couldn't find a suita

[2018-11-06 00:33] gifary commented on #22093
@vemundeldegard thanks a lot, that's work by deleting library doesn't exist.

[2018-11-06 00:33] #22093 closed

[2018-11-06 00:54] techacolyte42 commented on #22159
Was finally able to fix by setting native props in the callback of requestAnimationFrame. Could not figure out how to get working with selection, onSelectionChange, or selectionState, despite those seeming to be the likely backup solutions.

[2018-11-06 02:12] DISKONEKTeD commented on #21982
I get a similar error, related to images. But fast-image does nothing for me. It only happens during debugging (when i connect to react-native-debugger). Are you debugging too?

it's a similar issue that seems to be around since 2016:

https://github.com/facebook/react-native/issues/9665

[2018-11-06 02:16] 2hyjun commented on #16376
Getting same issue on iOS 12.1, RN 0.57.4 without `react-native-device-info`

[2018-11-06 03:35] bartolkaruza commented on #22163
That path is hard coded in the project.pbxproj file of the iOS app. That's just one spot though, the native app projects resolve the native module dependencies using file paths pointing to node_modules. They are unable to run a JS based resolver to find those dependencies in the current conventions of React Native. This looks like a tough nut to crack, considering the [PNP proposal](https://github

[2018-11-06 03:47] bartolkaruza commented on #22162
I was just wondering what the expectation is with opening the issue for the third time? React Native Xcode projects with multiple targets are a more advanced setup. I've personally become accustomed to react-native link only working in the most simple setups, where more advanced setups require manual linking and at the very least a manual check of what the result was of running `react-native link`

[2018-11-06 04:00] bartolkaruza commented on #22089
There are two considerations you might consider for moving this logic into an actual component instead of pre `registerComponent`, UX and semantics:
UX is the situation where NetInfo returns connected, but you are not able to actually reach your server. Think of the `walled garden` state of wifi hotspots or other network issues while the device thinks it is connected. In those cases you would want

[2018-11-06 04:10] bartolkaruza commented on #22085
So I don't think this will work for a SectionList, as a dynamic height based on post layout calculations has never lead to a stable list for me before. It sounds like onLayout is actually called always, but late? You could consider hiding the list until after this point and only showing it when the onLayout has come through for all items. Some items further down the list will be rendered only afte

[2018-11-06 04:20] panda0603 commented on #22095
update your expo-cli to latest version, should fix most of it except the
`"POST /symbolicate HTTP/1.1" 200 - "-" "okhttp/3.6.0"`.

[2018-11-06 05:41] tomoyukim commented on #15571
I also face to redbox with `componentDidCatch` during development.
I get redbox even if `componentDidCatch` correctly handle the error. It seems redbox is shown by the following code:
https://github.com/facebook/react-native/blob/v0.57.3/Libraries/Renderer/oss/ReactNativeRenderer-dev.js#L12194
It's different context from global error handler and I couldn't suppress redbox with `ErrorUtils.setGloba

[2018-11-06 05:43] bartolkaruza commented on #22145
Ok, it looks really inconsistent for Android! The RN functionality for `Image.getSize` just calls into the [Fresco library](https://github.com/facebook/fresco). The relevant code in React Native is [here](https://github.com/facebook/react-native/blob/0a39cda39a83313fa1628759b2735d58ffcc02ec/ReactAndroid/src/main/java/com/facebook/react/modules/image/ImageLoaderModule.java#L71).

Would you be so ki

[2018-11-06 07:10] BodhiHu commented on #21075
could try the official ```babel-upgrade```

[2018-11-06 07:17] #17893 closed

[2018-11-06 07:21] creativefctr opened #22167 "Problem with custom native component and text node"
Hi,
I am creating a justified text view component for Android, I extended the text view in native Android java code and then applied everything that the main react native code did to Android's text view, to my new component (so that the new text module will have all the features as the default <Text>).

Now when I try to use it like this:

`<JustifiedText>This is some justified text!</JustifiedTex

[2018-11-06 07:24] ChengGPBU opened #22168 "Keyboard module not listener keyboardDidShow on Android"
react-native 0.57.4

![image](https://user-images.githubusercontent.com/24949641/48048892-f043e600-e1d7-11e8-8148-1046c0583d96.png)

[2018-11-06 07:30] burakggs commented on #22141
I fixed environment

[2018-11-06 07:37] corradio commented on #19376
I'm having exactly the same issue. Only happens on iOS, so I dug into the the iOS code.
It turns out this commit caused the issue: https://github.com/facebook/react-native/commit/047961fbf77cb012b53978184102e8ca3d00c7ec#diff-0b161cb06747782c515275d84ec94b14R234
In a nutshell, the HTTPShouldHandleCookies boolean has no effect when custom cookies are set (see https://developer.apple.com/documentatio

[2018-11-06 08:05] #22168 closed

[2018-11-06 08:05] #22167 closed

[2018-11-06 08:32] cjadhav commented on #21030
If someone is looking for temporary get rid of this issue then apply filter in XCode console with `[info][tid:com.facebook.react.JavaScript]`

So we can see our required debug log.. 😆

[2018-11-06 09:05] kuangyliang opened #22169 "TypeError: Network request failed"
![image](https://user-images.githubusercontent.com/7835871/48053592-107aa180-e1e6-11e8-9533-9ca4ad581e58.png)
ios is work,android has bug!!!why!!!

[2018-11-06 09:06] kuangyliang commented on #22169
upload Image

[2018-11-06 09:38] suwu150 commented on #19912
@pigflymoon Can the Share component share files in android? I am prompted to "Get Resource Failed" when I use it. How do you do it?

[2018-11-06 10:00] shubhang93 opened #22170 "Flat List Calling Render Item for already rendered Items. Causes a lot of frame drops."
React Native Version 0.55.4
React Version 16.3.1
I just have a list of 50 item. Why is FlatList re-rendering already rendered items. This has not been solved yet, please refer #14528 for more information.
Here are the logs, and I use MobX for state management. This scenario only happens during initial render and not during updates.
[code]

[2018-11-06 10:04] suwu150 commented on #19860
Can the Share component share files in android? I am prompted to "Get Resource Failed" when I use it. How do you do it? @jiangyuzhen

[2018-11-06 10:05] #22170 closed

[2018-11-06 10:05] #22169 closed

[2018-11-06 10:32] jankeesvw commented on #21094
We updated to React Native 0.57.4 and @babel/core 7.1.2 and our problem went away.

[2018-11-06 10:46] suwu150 commented on #19322
Can the Share component share files in android? I am prompted to "Get Resource Failed" when I use it. How do you do it?

[2018-11-06 11:12] niravhathi opened #22171 "course on udemy with version 0.33 is it ok for beginner ? as I see current version is 0.57 of react-native."
I start learning react-native and I found course on udemy with version of 0.33 so is it make worth to exploring react-native?

[2018-11-06 11:52] radex commented on #22162
agreed, this is IMHO not worth changing — if you want to have an expert Xcode setup, use Xcode

[2018-11-06 12:05] #20485 closed

[2018-11-06 12:05] #22171 closed

[2018-11-06 12:07] xutm commented on #15371
@maicki @nerdmed
react-native:@0.50.4
what's your react-native version?
![image](https://user-images.githubusercontent.com/11706751/48063261-745d9400-e1ff-11e8-9f00-1c6782b97653.png)

[2018-11-06 12:10] assafb81 commented on #20774
Any updates?
Is this going to be fixed soon?

[2018-11-06 12:21] SiSa68 commented on #17986
Still have this issue in RN 0.57.4
Why?!!

[2018-11-06 12:29] exced commented on #22100
I'll take `Libraries/Components/Touchable/TouchableBounce.js`

[2018-11-06 12:40] ithustle commented on #16895
I'm also experiencing the same issue:

react: 16.6.0
react-native: 0.57.4
Android: 6

I can reproduce this issue with a physical Android device.

[2018-11-06 12:51] nd-02110114 commented on #22100
I'll take `Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.ios.js`

[2018-11-06 13:23] lewnelson opened #22175 "Jest transpiling from "jest/preprocessor.js" broken"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
[code]
## Description
We have recently upgraded from v0.55.4 to

[2018-11-06 13:30] mottox2 commented on #22100
I'll take ` Libraries/Components/Touchable/TouchableNativeFeedback.android.js`

[2018-11-06 13:48] renatobenks commented on #19078
Is this fixed?

[2018-11-06 14:01] Jacse commented on #19376
@corradio I would love to see that as a PR. If the goal is to have the two platforms behave similarly then this would clearly need to be fixed, since cookies persist across redirects on Android.

[2018-11-06 14:05] #20427 closed

[2018-11-06 14:05] #20412 closed

[2018-11-06 14:18] KovalevAnton commented on #19121
Somebody fix it? Same here.

**Environment:**
macOS 10.12
Node: 9.11
npm: 8.2
Xcode: 9.2
Watchman: 4.9.0

**Packages:**
react: 16.6.0
react-native: 0.57.4

[2018-11-06 14:23] nd-02110114 commented on #22100
I think the fix is not needed in `Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.ios.js`
Maybe #21888 fixed this issue 👍

[2018-11-06 14:34] dev6james commented on #22162
Is having more than 1 target really an "expert Xcode setup". Are we saying that React Native should only provide abstractions for the most simple projects and anything more than that means go native and lose a ton of convenience? What is the downside to having a more powerful cli?

@bartolkaruza I would like to contribute although I was hoping that if was not too arduous a change that it'd be a lo

[2018-11-06 14:44] mmmulani commented on #19078
possibly, we were seeing an issue similar to this internally and I fixed it in https://github.com/facebook/react-native/commit/67afaefa78c314b38249a7e2758e0af38c18f34a

if you are seeing this crash, please provide some repro steps so we can fix it.

[2018-11-06 14:44] radex commented on #22162
Yes! Not in the sense that it's hard, but that it's a very Xcode-specific thing. If you're adding custom targets, you're already familiar with Xcode basics

I disagree with the premise. Knowing Xcode and Android Studio (&gradle...) basics is necessary (and not hard) if you're going to do something non-standard, like having custom Xcode targets.

[2018-11-06 14:45] khuramdogar commented on #17986
No Issue is resolved thanks for asking

On Tue, 6 Nov 2018 at 5:23 PM, Siyamak Fazleelahi <notifications@github.com>
wrote:

[2018-11-06 14:47] Zwerd commented on #19121
try to run react-native start with sudo, if it doesn't work try to run the following:
echo 999999 | sudo tee -a /proc/sys/fs/inotify/max_user_watches  && echo 999999 | sudo tee -a  /proc/sys/fs/inotify/max_queued_events && echo 999999 | sudo tee  -a

[2018-11-06 15:52] corradio commented on #19376
PR submitted: https://github.com/facebook/react-native/pull/22178

[2018-11-06 16:02] #20260 closed

[2018-11-06 16:25] Kennytian commented on #15571
Me too.   show the redbox error,   show componentDidCatch alert in my code.

[2018-11-06 16:27] radex commented on #22120
This is most likely a Babel bug. See how the compiled JS looks like

[2018-11-06 16:29] kennethlynne commented on #19377
We have noticed that we especially get it when we open the app through a push notification grouped by the OS (Android >8)

[2018-11-06 16:39] Fsarmento commented on #20150
This issue seams to be solved in 0.57.4 (https://github.com/facebook/react-native/commit/60b05cae9ededbff538a7fce6c59520399077264).

We can go back to:
[code]

[2018-11-06 16:49] sgtpepper43 commented on #17371
There's a new api for android devices called [DisplayCutout](https://developer.android.com/reference/android/view/DisplayCutout) that can be used for dealing with notches. We should consider using this with `SafeAreaView`, since there are quite a few android devices with notches coming out.

[2018-11-06 16:49] clementbmn opened #22180 "Copy paste bad language in react native textinput"
the Copy, Paste and Cut action buttons of my text inputs are all in english, although my app is french and locale detection with i18n works well.. Any idea ? Thanks

[2018-11-06 16:55] stefanoeb commented on #16067
React Native 0.57.2 and issue persists when the FlatList is inside a `<ScrollView>`. Removing the ScrollView solves the problem.

[2018-11-06 16:58] shubhang93 commented on #18396
Yeah , I am facing the same issue in react native 0.55.4, shouldComponentUpdate doesn't help there because this happens on initial render. I guess it is a bug which is not being addressed. For now I am using legacy implementation, which solves it but memory consumption is through the roof for large lists.

[2018-11-06 17:05] #22180 closed

[2018-11-06 17:06] lewnelson commented on #22175
I've just added another example to the repo that I came across, by adding an empty constructor arrow functions transpile correctly on class methods [https://github.com/lewnelson/react-native-jest-example/blob/master/src/working/containers/Something.js](https://github.com/lewnelson/react-native-jest-example/blob/master/src/working/containers/Something.js).

I'm not sure if the issue lies within the

[2018-11-06 17:30] vladikoff commented on #11594
Quick note about this fix for Android, if you used `postMessage.length === 1` fix for your Android app, Chrome 70 (and maybe 69?) now reports `postMessage.length` as `1`. So your app might be broken.

Use the `[native code]` fix or something like `postMessage.toString().includes('__REACT_WEB_VIEW_BRIDGE')`

[2018-11-06 17:44] kristerkari commented on #22157
I tried creating a new 0.57.4 app using `react-init` and when I use `TouchableOpacity` (the same way you do in your demo) it is working fine for me:

<img width="536" alt="touchable" src="https://user-images.githubusercontent.com/993108/48082795-24310280-e1fc-11e8-99bf-7de1876c20f0.png">

[2018-11-06 18:57] rauleb opened #22183 "Unhandled JS Exception: Unexpected EOF"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i7-4578U CPU @ 3.00GHz
      Memory: 38.38 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.11.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 1

[2018-11-06 19:10] mmccartney commented on #20774
I just checked and although my fix has been merged into the `master` branch, it has not been released.  There was a release `0.57.4` about 12 days ago but it contains older scripts.  I'm trying to figure out the release process.  [CONTRIBUTING](https://github.com/facebook/react-native/blob/master/CONTRIBUTING.md) says I just need to patch `master` and then it gets moved into FB's internal reposito

[2018-11-06 19:38] hramos commented on #20774
The release process is coordinated in the https://github.com/react-native-community/react-native-releases repository. https://github.com/react-native-community/react-native-releases/issues/54 looks like a good issue to discuss adding this to a `0.57.5` release.

[2018-11-06 19:40] hramos commented on #20774
Looks like @kelset is on top of it - he mentions he'll try to include @mmccartney's fix in `0.57.5` :https://github.com/react-native-community/react-native-releases/issues/54#issuecomment-436273232

[2018-11-06 20:13] Hermanyo commented on #22095
I'm not using expo-cli, I don't have expo in my project, and I face this problem, too... is there any solution? anyone?

[2018-11-06 20:15] axe-fb commented on #22148
I pinged folks at Microsoft to see how we can proceed on this.

[2018-11-06 20:48] Tilesentik opened #22185 "Running a web server in app"
Coming from Ionic, is there a built in web server component that can be launched in app available for React N . Ionic has an HTTP library that makes it possible to run the server while in the app. Is there a similar library available for React N.

[2018-11-06 21:05] #15932 closed

[2018-11-06 21:05] #22185 closed

[2018-11-06 21:32] #19338 closed

[2018-11-06 22:55] brunolemos opened #22186 "Fix StrictMode warnings"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
      Memo

[2018-11-07 00:05] #21889 closed

[2018-11-07 00:23] dozel opened #22187 "Percentage in styles causing Text components not to render"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-4960HQ CPU @ 2.60G

[2018-11-07 01:05] #20493 closed

[2018-11-07 01:58] geminiyellow commented on #20774
good news

[2018-11-07 02:05] LzxHahaha commented on #17251
0.57.4
borderStyle won't work when border had difference width
[code]

[2018-11-07 02:51] staroflead commented on #18506
@sambernaerdt thanks for the hint, I have remove the logging and it's no longer delay

[2018-11-07 05:05] #20364 closed

[2018-11-07 05:31] kennethlynne commented on #19377
Not sure if it is relevant for this issue, but I hope it helps someone debug: When we removed our splash screen the issue disappeared!

We had

[code]
and this caused the main activity to reinstantiate when the app came to foreground through OS grouped push notifications. We set up react-native-splash-screen instead and the problem went away

[2018-11-07 06:18] JohnRyanTsai commented on #17565
Same problem,How to solve this?

[2018-11-07 06:53] ChengHanSummer opened #22191 "ENOENT : no such file or directory uv_cwd(null)"
ENOENT : no such file or directory uv_cwd(null)

[2018-11-07 06:57] buraksak35 opened #22192 "My IOS app crashed in release mode."
## Environment

  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 390.63 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.11.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2018-11-07 07:05] #22191 closed

[2018-11-07 07:28] as27543035 commented on #22116
+1. After 0.57.3 => 0.57.4

[2018-11-07 07:50] batuhantoma commented on #16844
I've research a lot on this issue. working event for me  :  I removed Jdk, set it up again, and the problem is solved.

[2018-11-07 08:08] mmazzarolo commented on #19591
It's still happening on react-native@0.57

[2018-11-07 08:41] WrathChaos commented on #22129
Hey @Jmask ,
Can you fix the problem??

[2018-11-07 09:11] PrasannaLearnyst opened #22193 "Regular expression contains look behind is not working"
mystring.match(/((?<=paid\\/)|(?<=trial\\/))[0-9]*(?=\\/)/gm);

is giving error
Invalid regular expression: unrecognized character after (?)

Version: 0.55.4

[2018-11-07 09:17] sryze commented on #15892
Same problem

Can somebody stop this damn bot from closing all the relevant issues?

[2018-11-07 09:29] IljaDaderko commented on #21967
Noticed one potential bug with useEffect and animated

[code]

this is a simple animation triggered when user authenticates, works fine throughout, but when this component is unmounted and then mounted again, animation has much greater delay, expected one is `1000ms` on re-mounting (not updating) its random between `2000 - 400`

[2018-11-07 10:05] #22193 closed

[2018-11-07 10:08] rodalmeida opened #22194 "VirtualizedList + getItemLayout only renders initialNumToRender items"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
I understand this issue was already opened before (#15734) but nothing was done to solve it and it seems major

[2018-11-07 10:17] internet5 commented on #12167
I have the same problem on react-native 0.57.4

[2018-11-07 10:28] wbercx commented on #16099
@cosmith If you don't mind me asking, how did you achieve this? I'm serialising a 9MB object structure to JSON and writing it to disk with rn-fetch-blob, but it seems to crash quite often.

[2018-11-07 10:33] mmazzarolo commented on #21967
@IljaDaderko I'm using hooks + `Animated` as well and I'm experiencing a similar issue.
Strangely enough, if I place a `console.warn()` in the component it works correctly.

e.g.:

[code]

I haven't tried building in release mode yet though, maybe it would solve it.

[2018-11-07 11:38] mcatmos commented on #13149
+ 1

[2018-11-07 11:38] WCChimiiz opened #22196 "Android can't build after upgrade gradle to 4.4 and tools.build:gradle to 3.1.0"
Use https://github.com/react-native-community/discussions-and-proposals to propose changes or discuss feature requests. This helps us ensure bug reports and regressions are given the priority they require.

You may also use https://discuss.reactjs.org/ for discussions on topics that are not necessarily served by the Bug Report template.

---

# For Discussion

I upgraded RN to 0.56 from 0.55.4, gr

[2018-11-07 11:40] est7 commented on #15375
@MarcBrout outer component is scrollview ,if i replaced with flatlist , nested flatlist cant work

[2018-11-07 11:45] nighttiger1990 commented on #22116
+1

[2018-11-07 11:47] otaviogaiao commented on #20906
Yep, still happening on 0.57. Is there any workaround?

[2018-11-07 11:56] exced commented on #22100
I'll take `Libraries/Components/TextInput/TextInput.js`

[2018-11-07 12:07] luco commented on #13149
+1 on this. Is really annoying.

[2018-11-07 12:16] buraksak35 commented on #22192
Not working....

[2018-11-07 13:04] devsarosh opened #22198 "Error: Secure random number generation is not supported by this browser. Use Chrome, Firefox or Internet Explorer 11."
![screenshot 2018-11-07 at 6 29 01 pm](https://user-images.githubusercontent.com/43128739/48133111-b77d3d00-e2bb-11e8-8df9-75a0aa67f4c5.png)

[2018-11-07 13:05] #22198 closed

[2018-11-07 13:20] maggialejandro commented on #20607
@qasimalbaqali Yes, that worked for me

[2018-11-07 13:31] zvs001 commented on #19036
I also see this bug on android 6.0.
ReactNative version: `"^0.57.4"` react: `"16.6.0-alpha.8af6728"`
Steps to reproduce:
[code]
I know that we receive wrong values from Android sources: (last step)
[code]

It works correctly only when I do `Keybord.dissmiss()`  (unfocus)

[2018-11-07 13:35] miltoneiji commented on #21454
Up

[2018-11-07 14:00] ddesvillechabrol commented on #21945
Hello,

I had the same issue with react-native 0.57.4 and I deleted this commit https://github.com/facebook/react-native/commit/dba2235d95e46514206bcfaefc7e965193536fe8 to retrieve my triangles.

Dimitri

[2018-11-07 14:05] kddc commented on #21572
I just found out, that this problem does not occur when the one of the fields is set to `editable={false}`. So i toggle the editable property based on which text input field i clicked. Had to put a TouchableWithoutFeedback component on top, as the TextInput ignores the click events, when it's disabled, so it looks something like this.

[code]

[2018-11-07 14:10] WCChimiiz opened #22199 "After upgrade can't build android"
--------------^ Click "Preview" for a nicer view!

GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native. GitHub may not be the ideal place to ask questions about using React Native, but we have compiled a list of resources that should help.

### Get help with your React Native app or ask code-level questions

Many members of the community u

[2018-11-07 14:10] #22199 closed

[2018-11-07 14:18] PrasannaLearnyst commented on #22193
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.4
  Yarn: 1.9.4
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.4.1 Build ve

[2018-11-07 14:29] rauleb commented on #22183
Solved

[2018-11-07 14:29] #22183 closed

[2018-11-07 14:49] nikilarigela commented on #14754
@orchoban  i think you have to mention this in ``href`` path `` asset:/filename ``

[2018-11-07 15:11] pabloga265 commented on #20906
Extremely hacky and extremely no-no. Full combat solution until I find something better

I created a text component that for Ios basically returns Text and in android returns a Text with this onLayout thing on top of it.

Please I can't encourage anyone enough to not use this in their projects, and find a real solution but if you are in a hurry this patched my problem

[code]

This is not a fix of

[2018-11-07 16:02] cassioss commented on #21454
Up

[2018-11-07 16:05] TheSavior commented on #22100
@exced, TextInput has an open PR to convert it to an es6 class by @empyrical. You might have merge conflicts if you change more things in that file before it lands.

[2018-11-07 16:07] empyrical commented on #22163
Metro, one part of what needs to be updated for PnP, will have its PnP resolver open sourced: https://github.com/facebook/metro/issues/308

I am working on a patch for the CLI to give it the ability to see `react-native` & plugins when PnP is active

I am not sure about how to solve the hard-coded paths to `node_module`s on the XCode projects, does anyone have any ideas for this?

The Gradle and B

[2018-11-07 16:08] orchoban commented on #14754
I check it and Expo change the files name of the images and all the files in asset folder.
so I can't get them in `src ` attributes from HTML file(WebView).

[2018-11-07 16:09] empyrical commented on #22100
Yeah, you might want to wait - when it lands, however, there will still need to be work done on it to make it pass `flow strict-local` however! 👍

[2018-11-07 16:09] exced commented on #22100
@TheSavior @empyrical  Alright I'll wait

[2018-11-07 16:35] radko93 commented on #22196
Check out this MR https://github.com/react-native-community/react-native-releases/pull/60/files

[2018-11-07 16:35] #22196 closed

[2018-11-07 16:35] shubhang93 commented on #20922
Yes, this bug exists in React Native 0.55.4 as well, One of the things you can do to prevent this behaviour is wrap your Render Item this way
[code]
This solves the issue, but your render Item is still fired multiple times, only advantage is your actually Component will not be rendered due to PureComponent implementation. Is renderItem fired multiple times intentionally or is this a bug. Forgive m

[2018-11-07 16:37] radko93 commented on #22192
You're using an old RN version, please upgrade first. Also without any repro we won;t help you.

[2018-11-07 17:07] PurnimaNaik opened #22200 "Execution failed for task ':app:installDebug'. INSTALL_FAILED_INSUFFICIENT_STORAGE React-native app on Android Emulator"
I am getting the following error when trying to run `react-native run-android` hooked to Pixel 2 XL (API 26) Emulator

[code]

**Package.json**
[code]

**Project level Build.gradle**

[code]

**App level Build.gradle**

[code]

[2018-11-07 17:15] farzd commented on #21851
Yup this is still present in 0.57

[2018-11-07 17:49] mesutozturk commented on #19569
thanks a lot @guytepper 👍

[2018-11-07 18:05] #22200 closed

[2018-11-07 18:09] PurnimaNaik opened #22201 "Execution failed for task ':app:installDebug'. INSTALL_FAILED_INSUFFICIENT_STORAGE React-native app on Android Emulator"
--------------^ Click "Preview" for a nicer view!

GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native. GitHub may not be the ideal place to ask questions about using React Native, but we have compiled a list of resources that should help.

### Get help with your React Native app or ask code-level questions

Many members of the community u

[2018-11-07 18:10] PurnimaNaik opened #22202 "INSTALL_FAILED_INSUFFICIENT_STORAGE Execution failed for task ':app:installDebug'. React-native app on Android Emulator"
I am getting the following error when trying to run `react-native run-android` hooked to Pixel 2 XL (API 26) Emulator

[code]

**Package.json**
[code]

**Project level Build.gradle**

[code]

**App level Build.gradle**

[code]

Any help is appreciated!

[2018-11-07 18:46] Jmask commented on #22129
The problem was related to React native versioning. I changed my version in package.json from

[code]
to

[code]
and the problem resolved itself!

[2018-11-07 18:46] #22129 closed

[2018-11-07 19:05] #22202 closed

[2018-11-07 19:05] #22201 closed

[2018-11-07 19:37] scally commented on #22163
What if RN offered a prebuilt binary containing all the node_module requirements for a certain revision?

[2018-11-07 19:40] cranberyxl commented on #21410
FWIW - I can confirm that in our app if there is a view in the same hierarchy with a non-integer height, that text fields will not wrap properly.

[2018-11-07 19:41] scally commented on #21967
I tried following these steps and still get the `TypeError: dispatcher.useState is not a function` error.

I can see some other folks have it working, so it must be me, but not sure what is different between my usage/env and others.

Any chance of getting an alpha or some other prebuilt rev of this going? Now that I've seen hooks it's hard to want to keep writing things the old way.

[2018-11-07 21:07] PurnimaNaik commented on #20318
@macnibblet did you find a solution? I have the same issue

[2018-11-07 22:19] marcfielding1 commented on #19569
So I've literally tried everything I can find to get this to work and I'm guessing I'm missing something obvious, if I commit my project including node modules would someone fancy taking a look? I can't really make it public as it's a commercial project but obviously it'd be good to add any other solutions to this thread?

Things I've done:

Cleaned out Pods just to be sure
`
rm -rfd ~/Library/Dev

[2018-11-07 22:33] qchen-ms commented on #21643
We are having the same issue on Android and I was able to work around it by simulating the behavior with implementing onScroll() to track the x offset and scroll direction and calculate the snap location and call scrollTo with the new x  with animated = true in onScrollEndDrag().

[2018-11-07 22:37] mikeATL commented on #22116
+1 bump.  I'm having the same issue, do not have the issue in 0.57.2.  Is there a workaround?

[2018-11-07 22:49] #18606 closed

[2018-11-07 22:49] #18416 closed

[2018-11-07 22:49] #18795 closed

[2018-11-07 22:49] #20256 closed

[2018-11-07 22:49] #18469 closed

[2018-11-07 23:43] mariano55555 commented on #22033
I have the same problem...and I looked into node_modules/react-native and there is no "android" folder like it used to be in previous version, did you find any solution?

[2018-11-07 23:57] SchulzWill commented on #16840
Having problems with this too.
![error](https://user-images.githubusercontent.com/8031507/48168837-de9e3380-e2e8-11e8-9a9b-d7ef70ef68b4.jpg)

[2018-11-08 00:05] #21991 closed

[2018-11-08 00:19] woodpav commented on #21967
I have the same problem as @scally. I got it working before but now I can't. Perhaps recent changes in `react`?

[2018-11-08 01:52] snobear commented on #13754
Here is a workaround to fix the leftover space issue after the keyboard is dismissed: https://stackoverflow.com/q/41616457/193210

@Lily418 mentioned this in a comment above, but there wasn't an answer at the time.

[2018-11-08 02:05] jasonComing commented on #20588
these are the steps I have taken to resolve this issue in Windows

[code]

[2018-11-08 02:26] ak-star opened #22204 "update date of the SectionList, 2 more rows on top?"
[code]

TestData.js
[code]

start demo
![image](https://user-images.githubusercontent.com/16659573/48173802-53508c80-e340-11e8-8e55-a0c15bcc55a7.png)

press TouchableOpacity
![image](https://user-images.githubusercontent.com/16659573/48173846-7f6c0d80-e340-11e8-83a8-98d63ff94f52.png)

2 more rows on top，why?

[2018-11-08 02:28] ak-star commented on #22204
package.json
[code]

[2018-11-08 02:35] watanabeyu commented on #22100
I'll take `Libraries/Components/ScrollView/ScrollView.js`

[2018-11-08 02:44] ggtmtmgg opened #22205 "Removing propTypes from Libraries/Components/WebView/WebView.ios.js"
I tried strengthening Flow Types for `Libraries/Components/WebView/WebView.ios.js` as a task of #22100 , but this file has `PropTypes` and `@noflow`.
This file is needed to be removed `PropTypes` and `@noflow` for strengthening Flow Types.

- STEP1: remove `PropTypes`
- STEP2: replace `@noflow` with `@flow`
- STEP3: replace `@flow` with `@flow strict-local`(This task will be done as a task of #221

[2018-11-08 03:05] #22205 closed

[2018-11-08 03:05] #22204 closed

[2018-11-08 03:35] rtkhanas commented on #17873
@hey99xx seems like your example actually helps. Thank you!

[2018-11-08 03:36] paalex commented on #18357
The [suggestion](https://github.com/facebook/react-native/issues/18357#issuecomment-425728542) above by @bhardman1986 solved it for me! Thanks
However:
`The option 'android.enableAapt2' is deprecated and should not be used anymore.
Use 'android.enableAapt2=true' to remove this warning.
It will be removed at the end of 2018..`

The only solution is upgrading to RN 0.57.4?

[2018-11-08 03:38] WCChimiiz commented on #22196
I follow up form this link it not work for my case. It still error
[code]

[2018-11-08 03:42] rtkhanas commented on #21755
https://github.com/facebook/react-native/issues/17873#issuecomment-427272741 fix crashes on Samsung and LG phones.

[2018-11-08 04:21] Liqiankun opened #22207 "KeyboardAvoidingView doesn't work when behavior is padding on ios"
## Environment
[code]

## Description
when `behavior="padding"`
![padding](https://user-images.githubusercontent.com/11532418/48177628-a7636d00-e350-11e8-88a6-3b676308e8f7.gif)

when behavior="position"
![position](https://user-images.githubusercontent.com/11532418/48177637-bd712d80-e350-11e8-8c6c-d48fb4675102.gif)

## Reproducible Demo
[code]

[2018-11-08 04:42] bartolkaruza commented on #22194
Could you post an actual reproducible demo/snack for this? Both the linked issue and this issue do not provide this. I'd like to have a look, but I'm not sure what exact case is causing the issue. I know the base FlatList/SectionList works, even with a getItemLayout (which is really recommended for avoiding scrolling glitches and raw performance!). I have seen many Flatlist implementations contain

[2018-11-08 04:59] bartolkaruza commented on #22162
I would just like to add a way to deal with library dependencies in Xcode that I use for every project that has more than 1 target.

Instead of duplicating the dependencies to each target, I create a single Cocoa Touch Library target (named base), to which I add all dependencies. Then that base target is added as a dependency to all other targets. It is a more DRY approach to dependencies in Xcode

[2018-11-08 05:03] AndreyPatseiko commented on #21572
But if you dynamically change ** secureTextEntry** attribute, you have the same problem.

[2018-11-08 05:05] tibbus commented on #21430
I have the same issue on osX, nothing worked for me, tried the solutions from all the github issues  for hours....
This is a weird babel cache issue, I don't have the cache in /tmp/... .

The only thing that worked for me now was to restart the pc....

[2018-11-08 05:20] Liqiankun commented on #22207
@react-native-bot It's right there!
![2018-11-08 1 20 23](https://user-images.githubusercontent.com/11532418/48179212-1218a680-e359-11e8-8e4e-fb2bd176d455.png)

[2018-11-08 05:39] arthuranteater opened #22209 "Error: CFBundleIdentifier build/Build/Products/Debug-iphonesimulator/g.app/Info.plist Print: Entry, ":CFBundleIdentifier", Does Not Exist"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

  React Native Environment Info:
    System:
      OS: macOS H

[2018-11-08 06:19] JumalDB commented on #21639
Have the same issue on 0.57.3.

[2018-11-08 06:43] Young-Je commented on #18678
Overriding Deprecated Objective-C Methods set to NO

[2018-11-08 07:37] maitriyogin commented on #20969
Hi,
just dropped into this after trying to upgrade to expo 31 ...
My rn-cli.js config looks like this :
[code]

When I start my app I get the following error :
[code]

any ideas?

/Stephen

[2018-11-08 07:48] buraksak35 commented on #22192
I think problem is due to Mobx.Because I tried new clear project and I could build as release , but when I install mobx, I encountered crash again

[2018-11-08 07:49] tibbus commented on #22157
My initial error is with the js debugging active, without the debugger the error is : undefined is not an object evaluating _this._setComponentRef.bind which is found in more react-native issues :
https://github.com/facebook/react-native/issues/21430
https://github.com/facebook/react-native/issues/20588
https://github.com/facebook/react-native/issues/21055
https://github.com/facebook/react-native/

[2018-11-08 08:01] mmazzarolo commented on #21967
@scally @woodpav I have the same issue when I install a new dependency.
The workaround for now for me is replacing the `renderer` dir after each time I install a new dependency.

[2018-11-08 08:36] JumalDB commented on #21639
It seems that issue is solved in 0.57.4.

[2018-11-08 08:46] MrSeaWave opened #22210 "[TextInput] when use secureTextEntry=true in TextInput, can't modify textInput's text color"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
`react-native info`
[code]

`package.json`
[code]

## Description
when I use secureTextEntry=true, I can't change the text color dyna

[2018-11-08 11:13] letsgojuno commented on #22175
We have also ran into this issue on `0.57.3`. From an initial investigation I can make it work by disabling `inlineRequires` in the jest preprocessor https://github.com/facebook/react-native/blob/master/jest/preprocessor.js#L58

This is as far as I got. To get around the issue for now we are binding the methods in the constructor.

[2018-11-08 11:15] chrisbianca commented on #21967
For anybody that wants to save themselves the hassle of manually building React and remembering to update the `renderer` directory each time you install a new dependency, I have set up a Git repo with this already preconfigured.

Simply run the following and it will replace the current react-native installation with the 0.57.4 tag of RN + the hooks rendering code:

[code]

This build will still su

[2018-11-08 11:20] dani-mp opened #22211 "SafeAreaView doesn't respect `padding` property in style"
## Environment
[code]

## Description
Applying `padding` to SafeAreaView's style doesn't work.

## Reproducible Demo
https://snack.expo.io/@danielmartin/c2FmZW

[2018-11-08 11:21] yeomann commented on #15819
@SahRckr  thank you so much mate, i have no idea that JavaScriptCore is causing this problem. your solution was a good fix. thanks for sharing.

[2018-11-08 11:35] mefjuu opened #22213 "Invisible content of large View with borderRadius > 0 (Android 7.0, RN >= 0.57.1)"
## Environment
[code]

[code]

## Description
Large `<View /> ` with borderRadius > 0 gets invisible on Android 7.0 (API level 24) using RN **>= 0.57.1**.
It's regression, because it rendered correctly using RN 0.57.0.

## Reproducible Demo

This is rendered expectedly:
[code]

However after increasing the height, the violet content disappears, but ScrollView is aware of it so can be scrolled vert

[2018-11-08 11:57] 7laria commented on #19211
well, i solved in this way:
1. in gradle-wrapper.properties use
`distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip`
2. in gradle. properties remove enableAappt2=false
3. in android>build.gradle set
`buildscript {
    repositories {

        google()
        maven {
            url 'https://maven.google.com/'
            name 'Google'
        }
        jcenter()
    }

[2018-11-08 12:17] dsznajder commented on #22213
It should not be related to the Old Version you sneaky @react-native-bot

[2018-11-08 12:33] iagorm commented on #16640
@swarna-sathya you can do with a prop programmatically like this example:

[code]

[2018-11-08 12:33] SilverBboy commented on #15476
In my case it the reason behind this was that the debugger page was left open from previous sessions. Closing the tab completely and then opening the debugger in a new tab solved the issue.

[2018-11-08 12:34] levynir commented on #20938
Getting the same error with react-native-fbsdk 0.8.0
Any ideas?

[2018-11-08 12:39] jsaraiva commented on #18357
@paalex I managed to get it to work without the `enableAapt2 = false` part. What was mandatory was downgrading gradle to 3.1.4.
RN 0.57.2

[2018-11-08 13:18] nikilarigela commented on #14754
I think the best way is to host it and load it with URL rather than loading with local assets.

[2018-11-08 13:52] devprakashbinary commented on #21316
import React, { Component } from 'react';
import { withNavigation } from 'react-navigation';
import { BackHandler } from 'react-native';

class HandleBack extends Component {

  constructor(props) {
    super(props);
    this.didFocus = props.navigation.addListener('didFocus', payload =>
      BackHandler.addEventListener('hardwareBackPress', this.onBack)
    );
  }

  componentDidMount() {
    th

[2018-11-08 13:55] paalex commented on #18357
@jsaraiva got it, thanks! I'll try that

[2018-11-08 14:05] pk-developer commented on #21316
import React, { Component } from 'react';
import { withNavigation } from 'react-navigation';
import { BackHandler } from 'react-native';

class HandleBack extends Component {

constructor(props) {
super(props);
this.didFocus = props.navigation.addListener('didFocus', payload =>
BackHandler.addEventListener('hardwareBackPress', this.onBack)
);
}

componentDidMount() {
this.willBlur = this.props.nav

[2018-11-08 14:30] radko93 commented on #22192
Have you tried running with/without Chrome debugger?

[2018-11-08 14:35] svenjens commented on #21094
Updating to React Native 0.57.4 and @babel/core 7.1.2 did not solve it for me.

[2018-11-08 14:38] Zvukamar commented on #19002
Same problem here!

[2018-11-08 14:44] buraksak35 commented on #22192
I am talking about release mode. In debug mode there is no problem.

[2018-11-08 15:39] AlexanderPinkerton commented on #19036
Still an issue

[2018-11-08 15:39] melvinsalas commented on #21741
It worked for me

[2018-11-08 15:53] ger86 commented on #21430
I have the same problem and I have resolved it rebooting my computer and adding this babel plugin: @babel/plugin-transform-flow-strip-types

But I am sure that is a cache issue, because since RN 57.4 sometimes my iOS simulator cannot update changes done to the source code like if the metro can't detect those changes....

[2018-11-08 15:55] ger86 commented on #22157
I have the same problem and I have resolved it rebooting my computer and adding this babel plugin: @babel/plugin-transform-flow-strip-types

But I am sure that is a cache issue, because since RN 57.4 sometimes my iOS simulator cannot update changes done to the source code like if the metro/watchman can't detect those changes....

[2018-11-08 15:56] binoalien commented on #20897
I can confirm this does not work on 0.57.1

[2018-11-08 15:57] buraksak35 commented on #22192
<img width="1035" alt="ekran resmi 2018-11-08 18 46 12" src="https://user-images.githubusercontent.com/39245976/48210257-05f80d80-e388-11e8-9746-8e1326fe20e5.png">
<img width="1014" alt="ekran resmi 2018-11-08 18 55 08" src="https://user-images.githubusercontent.com/39245976/48210262-0690a400-e388-11e8-8831-d047fb6e5e01.png">
<img width="1072" alt="ekran resmi 2018-11-08 18 46 27" src="https://use

[2018-11-08 16:02] mezod commented on #21945
Hey Dimitri! Thanks! By deleting the commit you mean you forked react-native or just changed it in your node_modules while you wait for an upgrade? (i'm not fond of any of both solutions that's why I'm asking :P)

[2018-11-08 16:06] ger86 opened #22214 "Watchman / Metro Bundle cache don't update changes"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
      Memory: 36.08 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.12.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2018-11-08 16:23] Hermanya commented on #15807
As @bdrobinson pointed out, `initialNumToRender` on its own is not enough. You also need to set `maxToRenderPerBatch` and `windowSize`.
It's very odd that the first two variables are not derived from `windowSize` automatically.

[2018-11-08 16:28] hisztendahl opened #22215 "Unwanted offset when using Rotate + borderRadius on a view"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: Linux 4.8 Ubuntu 16.10 (Yakkety Yak)
      CPU: (4) x64 Intel(R) Core(TM) i5-6

[2018-11-08 16:44] ddesvillechabrol commented on #21945
Hey ! Yeah I forked react-native repo and I added a commit to undo changes 😄

[2018-11-08 17:04] haiau commented on #17276
In my case, when Release I got a message like:
`...
Thread 1 name: Dispatch queue: com.facebook.react.ExceptionsManagerQueue
Thread 1 Crashed:
...`
This bug prevented me from submitting my app to AppStore
Then I test all cases, and read the code carefully, I found that there is the getter in an undefined object.
So maybe there are some bugs in JS code and it causes crashes.

[2018-11-08 17:06] haiau commented on #19107
In my case, when Release I got a message like:
... Thread 1 name: Dispatch queue: com.facebook.react.ExceptionsManagerQueue Thread 1 Crashed: ...
This bug prevented me from submitting my app to AppStore
Then I test all cases, and read the code carefully, I found that there is the getter in an undefined object.
So maybe there are some bugs in JS code and it causes crashes.

[2018-11-08 17:39] waqas19921 commented on #21365
@EternalChildren Just remove the Linear gradient package from your project by using remove reference only option.
Then run

[code]

Hopefully it will run.

[2018-11-08 17:41] waqas19921 commented on #21365
Anyone wondering for third party dependency that do not support pods and you are using react from pods than add following line to that third party header search paths in build settings.
`$(SRCROOT)/../node_modules/react-native-file-selector/ios`

you can read more about that at
https://forums.expo.io/t/how-do-i-manually-add-pods-headers-public-to-the-header-search-paths-configuration/2427/6

[2018-11-08 18:54] Ashoat commented on #22207
I think you're using the wrong style for `behavior="padding"`. You can take a look into `KeyboardAvoidingView.js` to see how it's implemented, but if I recall correctly `behavior="padding"` basically works by varying the bottom padding. I think your style is implemented to layout from the top, which is why varying the bottom padding has no effect.

[2018-11-08 19:07] ericvicenti commented on #21967
Thanks @chrisbianca, your build is working for me, and is the easiest way for people to try hooks in RN right now.

But I think the `useEffect` error is more serious that just a dev-mode bug. It seems to prevent the effect from working on the first few renders. This simple example should change the status bar on every tap, but it only works after one or two taps:

[code]

[2018-11-08 19:14] kormic commented on #21052
How is this not included in the readme?

[2018-11-08 19:16] ziyafenn commented on #21966
Enabling textTransform on android with RN0.57.4 breaks the styling of the text and renders the text very weirdly.

[2018-11-08 21:17] maitriyogin commented on #22157
I get the same but use typescript! I'll try with the @babel/plugin-transform-flow-strip-types plugin ... feels a bit strange

[2018-11-08 21:30] harking commented on #20115
Until this is fixed, a workaround is to listen to the RCTJavaScriptDidLoad and set the appProperties in there.
[code]

[2018-11-08 22:26] #19494 closed, assigned to nobody

[2018-11-08 22:41] thousight commented on #18357
Another thing that's like `Don't ask me why it worked cuz I really don't know...`

[2018-11-08 22:52] watadarkstar commented on #19434
Following also have this problem 👍

[2018-11-08 22:56] jsaraiva commented on #18357
Apparently, Gradle 3.2.0 changed the location to which it generates asset bundles. RN expects its JS asset bundle to be in a specific path, which is the path used by Gradle 3.1.4. Because G3.2.0 puts them in a different spot, RN cannot find the JS asset bundle, and thus the files with the Javascript to run. Ergo, the crash in release mode.

In debug mode, the JS files are provided by the Metro dae

[2018-11-08 23:48] activephil opened #22218 "WARN react-native@0.57.4 requires a peer of react@16.6.0-alpha.8af6728 but none is installed. You must install peer dependencies yourself."
I have a newly installed React-Native environment and proceeded to do a test project (react-native init test).

The INIT ended but with WARN react-native@0.57.4 requires a peer of react@16.6.0-alpha.8af6728 but none is installed. You must install peer dependencies yourself.
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-3210

[2018-11-09 00:05] #21948 closed

[2018-11-09 00:05] #22059 closed

[2018-11-09 00:05] #22054 closed

[2018-11-09 01:17] bartolkaruza commented on #22218
Can you post the content of your package.json?

[2018-11-09 01:54] Liqiankun commented on #22207
@Ashoat Thanks! I will take a look. But In this demo, I didn't see any difference. [react-native-keyboard-avoidance-examples](https://github.com/spencercarli/react-native-keyboard-avoidance-examples/blob/master/app/styles.js)

[2018-11-09 02:01] bartolkaruza commented on #22163
@empyrical What if we use the [install script](https://github.com/facebook/react-native/blob/master/local-cli/install/install.js) or a new 'rnpm' like script to resolve the paths from JS using the `.pnp.js` file and move the native code `node_modules/<lib>/android` and `node_modules/<lib>/ios` to the original place in the `node_modules` of your project? That way we could side step any changes requ

[2018-11-09 02:03] jeremyblalock commented on #21094
Clean install doing nothing but `react-native init RNTestProject` produces this same error for me still.

[2018-11-09 02:20] bartolkaruza commented on #22211
Seems like intended behaviour from the [docs](https://facebook.github.io/react-native/docs/safeareaview.html). Try adding padding to your view inside the `SafeAreaView` instead.

[2018-11-09 02:31] bartolkaruza commented on #22210
This seems to be the default behaviour for UITextField at the native level. You can work around this if you really require it, by implementing your own 'bullet replacing' logic on a `TextInput` on JS side. The approach would be showing a transparent `TextInput` over a `Text` or something using a non-secure `TextInput` and keeping track of real and bulleted text separately. The IMO hacky [workaroun

[2018-11-09 04:32] rikur commented on #20398
+1, works fine on iOS but Android ignores the fontFamily of nested <Text> elements.

[2018-11-09 05:00] #20625 closed

[2018-11-09 05:11] bradennapier commented on #21030
Also running into this.

[2018-11-09 05:29] WCChimiiz commented on #22196
Thank, now we try upgrade to 0.57.4

[2018-11-09 05:32] Rnorback commented on #21030
Ran `yarn cache clean` and deleted derived data the app built fine.

[2018-11-09 05:55] isaaclem opened #22219 "TextInput text seems to be having second background color"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
![screen shot 2018-11-09 at 1 45 08 pm](https://user-images.githubusercontent.com/32945572/48245429-b23c0180-e

[2018-11-09 06:02] bntzio commented on #18899
@fogil I created a brand new react-native 0.57.4 project and it still doesn't work

[2018-11-09 07:49] nateblog opened #22221 "BorderWidth is causing laggy experience in android when you render it inside FlatList or ScrollView"
For 2 days I am struggling why my flatlist and scrollview has laggy feelings, did all the optimization settings suggested from different blogs but everything does not work. The laggy experience is all there.

Did some trial and error on my design and finally figured out. Here is my sample code:

[code]

Whenever I comment out the borderWidth everything runs smoothly, enabling it back makes the use

[2018-11-09 08:05] #22221 closed

[2018-11-09 08:21] zenz commented on #22218
did you do ' npm install ' in your projects folder?

[2018-11-09 08:31] activephil commented on #22218
Thanks for responding.  This are the contents of package.json
{
  "name": "test",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "react": "16.6.0-alpha.8af6728",
    "react-native": "0.57.4"
  },
  "devDependencies": {
    "babel-jest": "23.6.0",
    "jest": "23.6.0",

[2018-11-09 08:41] activephil commented on #22218
Hi. I don't remember doing that. I was following the "Get Started" at https://facebook.github.io/react-native/.  In a way I did do a 'npm install' because I installed the CLI from my home directory but I did not issue another 'npm install -g react-native-cli' inside the project folder.

These are  the terminal command issued from my root folder:
brew install node
brew install watchman
npm install

[2018-11-09 08:52] kelset commented on #19434
hey sorry, I completely missed all notifications about this lately 🤦‍♂️

I'll double check the PR and we'll try to get it in asap (but probably won't be next patch for 0.57.x, we'll see - if not it will be in the one after that).

[2018-11-09 09:05] zenz commented on #22218
I cannot remember the behavior of npm, I'm using yarn, so while I do react init App, it will get all base packages installed.
if you are using npm, then just try to run 'npm install' in you project's folder again, then you can try 'react-native run-ios' to test it.

[2018-11-09 09:08] danielmartinprieto commented on #22211
Thanks for the response, @bartolkaruza. I was wondering if it would be better if the padding applied by the consumer was added to the safe area one, instead of being overwritten. Thinking about it, the way the SafeAreaView component achieves its behaviour is more an implementation detail.

[2018-11-09 09:20] chrisbianca commented on #21967
I've just pushed an update which removes the annoying Debug errors.  You can install from a new tag:

[code]

@ericvicenti This doesn't address the issue you've flagged above, but should at least make debugging it easier.

[2018-11-09 09:29] PrasannaLearnyst opened #22222 "Regular expression contains look behind is not working"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.4
  Yarn: 1.9.4
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.4.1 Build ve

[2018-11-09 09:41] activephil commented on #22218
Hi. I tried your suggestion and issued 'npm install' in the project folder. Finally the Welcome to React Native! splash appeared on the simulator. I guess it worked. Please bear with me but I am very curious as to what did the 'npm install' do to make the build successful?

The 'react-native run-ios'  ended with:
** BUILD SUCCEEDED **
The following commands produced analyzer issues:
	Analyze /User

[2018-11-09 09:43] jiangsumadai commented on #20313
Thanks for your patience, but when I upgrade react-native to 0.57.4, the issue exits as before.
I implemented onEndReached and fetched some data in componentDidMount, the server returned 20 items which could not displayed in one screen, and then onEndReached was invoked automatically.

[2018-11-09 09:47] hoangvuanhdevelopervn commented on #20119
@oe5wei You write a story?

[2018-11-09 10:20] zenz commented on #22218
@activephil Read the documents please.

[2018-11-09 10:41] bartolkaruza commented on #22211
If the padding is added to the already in place padding that the SafeAreaView adds automatically, the next opened issue will be from someone asking why the padding value is not exactly the number of pixels specified by the style. Maybe someone would expect to be able to override the padding by using the padding style for some cases, which wouldn't work... Are the complexity and additional discussi

[2018-11-09 11:13] IljaDaderko commented on #21967
@chrisbianca Neat! What was the cause of that?

[2018-11-09 11:35] grean opened #22223 "const { } = this.props; blank screen only in release mode"
## Environment
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
      Memory: 2.29 GB / 15.86 GB
    Binaries:
      Yarn: 1.5.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.2.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5014246

## Description
In debug mode

[2018-11-09 12:08] oskfelin commented on #21851
I think, I've almost similar problem:
[](https://stackoverflow.com/questions/53222868/expo-react-native-fetch-local-file-not-working-after-update)

[2018-11-09 12:51] piubellofelipe commented on #20119
Any updates on this issue? Really annoying bug :(

[2018-11-09 12:54] danielmartinprieto commented on #22211
I wanted to share my thoughts regarding this because I found the current approach not ideal. I discussed this internally before creating the issue and people agreed with me that this was confusing.

If someone uses SafeAreaView I expect them to know that it will define new bounds and that all style properties applied to it would work in base to those new bounds (otherwise they would have used a Vi

[2018-11-09 13:57] YanvegHD commented on #21455
Same issue here ! Tried everything...

[2018-11-09 14:15] kimzwi opened #22224 "get APK from react-native app and error: failed linking references"
I want to get apk from react native app and I have this error:

[code]
what should I do to handle it and get apk?

[2018-11-09 14:29] exced commented on #22100
I'll take `Libraries/Components/StatusBar/StatusBar.js`

[2018-11-09 15:05] #22224 closed

[2018-11-09 15:47] takunee commented on #21002
Happen in release mode everytime

[2018-11-09 15:50] solkaz commented on #17986
I am still seeing this issue as of 0.57.1

[2018-11-09 16:01] watadarkstar commented on #19434
Thanks @kelset - this effect all chat apps and anything that uses `inverted={true}` on a Flatlist.

[2018-11-09 16:07] illestrater commented on #20119
@piubellofelipe I'd recommend using @sintylapse's temporary solution until it's fixed. Graceful enough for me in the meantime!

[2018-11-09 16:40] empyrical commented on #22100
@exced The ES6 conversion had to be rolled back, so you should be able to take this on.

[2018-11-09 16:58] Bunlong commented on #19546
React Native Core Team should make MaskedView more general and support it for Android as well. This would be great to have MaskedView for Android :+1:

[2018-11-09 17:22] eduardo-schork opened #22225 "Networking.sendRequest failed to allocate memory in POST request"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-4770S CPU @ 3.10GHz
      Me

[2018-11-09 17:53] woodpav commented on #21967
For anyone who would like to try hooks in production replace all instances of `enableHooks = false` with `enableHooks = true` in the cloned `react` repo. The relevant files are in `react/packages/shared`.

The `yarn build` command uses these flags to create `ReactNativeRenderer-prod.js` so you have to `enableHooks` before copying those files to your projects `node_modules`.

[2018-11-09 18:09] irasantiago opened #22226 "borderStyle is ignored on Android unless set on all sides with non-zero borderRadius"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
When the `borderStyle` property is set to `dashed` or `dotted`, Android will always render a solid border unle

[2018-11-09 18:15] irasantiago opened #22227 "Text components do not inherit boderStyle on iOS"
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description

On iOS,`Text` components do not inherit the `boderStyle` despite inheriting `View`'s style props.

Here's wha

[2018-11-09 18:43] umutpiri opened #22228 "com.facebook.react.common.JavascriptException: undefined is not an object (evaluating 'n.destroy'), stack:"
## Environment
Environment:
  OS: Windows 10
  Node: 10.9.0
  Yarn: 1.9.4
  npm: 6.4.0
  Watchman: 4.9.4
  Xcode: N/A
  Android Studio: Version  3.1.0.0 AI-173.4907809

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

## Description
I published my app on google play store in few days ago. But, when I check the Android Vitals from play console. I saw each

[2018-11-09 19:16] takunee commented on #17873
@hey99xx  Good job! I fixes the issue. Thanks!

anyone can reopen this ?

@react-native-bot

[2018-11-09 19:56] PaulvanMotman opened #22229 "Unable to run react-native app on iOS12 device with xcode10"
## Environment

[code]

## Description

The issue started after upgrading to xcode 10 and building for iOS 12 devices. First occurred in an existing project, therefor decided to try it out with a new one. Both existing project and new app are building perfectly fine for simulator, but when building for a device two things happen:

- The error message "Could not launch projectname. Iphonename's iph

[2018-11-09 19:59] empyrical commented on #22163
The Gradle and BUCK scripts should, hypothetically, be able to have some kind of helper functions written for them that could call a node subprocess, like:

    node ./resolvePnP.js --module=react-native

Which would print `/path/to/react-native` to `stdout`, then prepend the result of this to wherever the path to `node_modules/react-native` was hard-coded.

What I don't know is if something could

[2018-11-09 20:08] Ndukuzempi commented on #17970
Solution works fine for me, however had to change from **localhost** to my machine IP address. e.g. **10.1.1.1**:8081

[2018-11-09 21:48] raphaelrk commented on #21126
Tested with the same code from the snack on a new `react-native init` (`0.57.4`) and still have the issue that scrollsToTop scrolls to the bottom

[2018-11-09 23:29] buraksak35 commented on #22192
I solved with downgrade to 0.55.4.

[2018-11-09 23:40] jsaraiva commented on #22214
Have you tried starting Metro with the --reset-cache flag?

In other words, in a terminal window, run `react-native start --reset-cache`. This will start a Metro bundler instance in that terminal window.
In another terminal window, run `react-native run-<your platform>`.

Usually does the trick for me, when that error appears. But I haven't upgraded to the latest version of RN, so YMMV.

[2018-11-10 00:05] #21956 closed

[2018-11-10 00:05] #21981 closed

[2018-11-10 01:00] andylamax commented on #19991
Being a kotlin dev, I think kotlinJS is production. KotlinJS makes kotlin react possible, so yes. I am down for kotlin react native as well

[2018-11-10 08:52] dillonreyna commented on #22129
Encountering the same issue with this printing out to the Terminal

[code]

Package.json here:

[code]

[2018-11-10 09:26] Jimmy-H6 opened #22232 "React-native fails the textInput clear() method on ios"
React -native fails the textInput clear() method on ios，To react - native version ：0.55.4

[2018-11-10 10:05] #22232 closed

[2018-11-10 11:49] sryze opened #22233 "App crashes in Value::toString() when trying to hot reload (iOS)"
## Environment

[code]

## Description

After I enable Hot Reloading and make some change, the app crashes with EXC_BAD_ACCESS. This happens 100% of the time. It doesn't matter what I change, if I just save a file without making any changes the app crashes. I'm running it from Xcode.

This started happening after I upgraded from React Native 0.55.4 to 0.57.4 (latest version).

Stack trace:

[code]

[2018-11-10 12:59] jeffreyrajanofficial opened #22234 "[Android] Error: Duplicate resources"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:

    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
      M

[2018-11-10 13:14] sryze commented on #22233
After downgrading 0.57.2 hot reloading works again.

[2018-11-10 13:40] sryze commented on #22076
It seems like an old problem...

https://stackoverflow.com/questions/44446523/unable-to-load-script-from-assets-index-android-bundle-on-windows

[2018-11-10 14:41] jas99 commented on #21967
Hey guys
You can also use my starter project.
https://github.com/jas99/starter-ts-react-native-hook
It uses monkey-patching and also have typescript setup.

Thx

[2018-11-10 17:48] sryze commented on #22076
I was able to reproduce this bug by simply creating a new app:

1. react-native init TestApp
2. Open TestApp/android in Android Studio
3. Run the project on an emulator

[2018-11-10 17:56] fogil commented on #18142
FlatList renders every item in a list, regardless if they are within the view space or not.  Put a console.log('hi i am being rendered') in the renderItem function.  For a list of a thousand items, you'll get a thousand console log messages.

Use RecyclerListView instead, it does what it advertises but unfortunately does not support Headers/Footers.

[2018-11-10 18:01] HoangDinhHoi commented on #15388
I agree

[2018-11-10 18:55] mandala21 opened #22235 "Could no connect to development server"
I started an application in react, using the react-native init.
I configured android studios everything ok, the compilation of the right one but when I open the app I get the error of Could not connect to development server.
Already tried to start the server in the hand with the command npm start, react-native start and both return the same error:
Loading dependency graph...fs.js:1384
    throw er

[2018-11-10 18:56] Jmask commented on #22129
My only idea here would be your dependency of
[code]
Try using
[code]
instead

[2018-11-10 19:09] mandala21 commented on #22235
forget this, i runned react-native with sudo it is running perfect :).

[2018-11-10 19:09] #22235 closed

[2018-11-10 19:48] ericwooley commented on #17986
I wrote this and it solves my issue on android, haven't tried on ios yet.
[code]

[2018-11-10 20:07] tmswartz12 commented on #17986
Still having this issue! has anyone seen a solution?

[2018-11-10 20:46] sryze commented on #22076
For some reason I had `import com.facebook.react.BuildConfig;` in my MainAplication file, and therefore `BuildConfig.DEBUG` was set to false. Because of this:

[code]

React Native was always trying to load index.android.bundle from the app pacakge, not from the dev server. Removing the `import com.facebook.react.BuildConfig` line fixed the issue for me 🎆 🍺 👍

[2018-11-10 21:30] mks11 commented on #17957
Same issue!

[2018-11-11 03:08] gengjiawen commented on #22118
That's because we add 64bit cpu support for this.
We are currently doing some work to make react native fork more easily https://github.com/facebook/react-native-website/issues/653.

[2018-11-11 03:13] bartolkaruza commented on #22225
The problem is that your post body is causing an allocation of 100MB, which is well over the limit. The workaround, which is also much safer with unreliable network connections, is to split up your JSON file into multiple pages, none larger than ~5MB, and send each as a separate request. Mobile apps have limited memory which they are allowed to consume.

A simpler workaround, you could try increas

[2018-11-11 04:44] gengjiawen commented on #22118
For now you can try
[code]
Then remove `/android/` in .gitignore.
Also in this way you need not to hack around native dependency like `react-native-image-crop-picker`.

[2018-11-11 04:57] gengjiawen opened #22236 "[FEATURE] Make react native more easy to publish"
Currently some change to `.gitignore` and `README.md`.
Follow up by https://github.com/facebook/react-native-website/issues/653.

[2018-11-11 06:12] JKCooper2 commented on #22187
Hmm... I tried to reproduce with that code but no luck: https://snack.expo.io/@jkcooper/rn-view-percent. Can you try reverting to v0.57.0 to see if its a regression?

[2018-11-11 06:19] JKCooper2 commented on #22120
Repro: https://snack.expo.io/@jkcooper/rn-afterline-comments

[2018-11-11 09:57] luongs3 commented on #15892
@sryze  write another damn bot continuously comments

[2018-11-11 10:09] ZeroCool00 commented on #22234
check this https://github.com/facebook/react-native/issues/19239#issuecomment-414564404

You need to remove drawable folder image if there is any?

[2018-11-11 11:10] vgrigorjeva commented on #21638
same issue

[2018-11-11 12:29] sryze commented on #22233
I think it's the same issue as #22116, feel free to close if it is

[2018-11-11 15:04] sryze opened #22237 "Alert disappears when modal gets hidden (re-rendered with visible=false)"
## Environment

[code]

## Description

On iOS when an alert is shown on top of a modal and you hide the modal (by changing its visible prop via state) the alert also gets dismissed at the same time.

## Reproducible Demo

Demo project:

[demo.zip](https://github.com/facebook/react-native/files/2569490/demo.zip)

Video of the bug:

https://drive.google.com/file/d/1eV7p9F_GLZDMWeoVZJrkcGqOXhL8ViYR/

[2018-11-11 20:35] reemtariqq commented on #20384
I think you don't have to install any ads on but did you see the metro bundler running?
it should give you an indication that your app is bundled.

[2018-11-11 20:42] gvetsa opened #22238 "HeadlessJs doesnt start javascript task if the app is closed"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: x64 Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz
      Memor

[2018-11-11 20:50] levani commented on #22116
I'm fighting with this all day long. Now I'm glad I found this issue :D

[2018-11-11 20:50] narciero commented on #22116
+ 1 - yet another example of where a RN release is cut without testing core + essential features

[2018-11-11 22:57] Smolyan91 commented on #19211
[code]

[2018-11-12 00:57] sduqlsc opened #22241 "App crashes when coming back from another activity with landscape orientation On Android 8.1"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[skip envinfo]

## Description
I have a Reat Native v0.44 Main Activity A which is configured as `portrait` orientation while destina

[2018-11-12 02:54] BodhiHu commented on #21048
Sigh ... I feel just raw js is good enough - the babel thing added too much complex to this ....

[2018-11-12 03:34] hoangvuanhdevelopervn commented on #20119
Nothing change?

[2018-11-12 05:28] MSSPL-PiyaleeMaiti commented on #17970
@Ndukuzempi I try this slution before it's not working.
Admin should find permanent solution for this, otherwise it's so difficult for developer to debug their project.

[2018-11-12 07:18] jeffreyrajanofficial commented on #22234
@ZeroCool00 wont that affect the images in Android?

[2018-11-12 07:59] PaulvanMotman commented on #22229
https://stackoverflow.com/questions/45421179/xcode-9-error-iphone-has-denied-the-launch-request

See the second answer:

"I tracked this problem down to the "debug executable" checkbox in the product scheme (product->scheme->edit scheme->info->debug executable checkbox). I unchecked that and this stopped happening (as well as a couple other weird issues - no output in console being one)."

This fi

[2018-11-12 09:05] MrPluto commented on #18491
i can catch the error but seems it will not render the plan B ui in my ErrorBoundary

[2018-11-12 10:01] dlajarretie commented on #20352
We're also experiencing the huge memory allocation when fetching JSON. We're fetching a much bigger resource than the example provided here, and I wonder if the memory allocation is proportional because our app gets killed by iOS for memory consumption (spike from 150mb to over 700mb), even before the fetch call completes.

[2018-11-12 10:07] jeffreyrajanofficial commented on #22234
@ZeroCool00 @mkchx I checked with both of your answer, its working. Thanks a lot guys :)

[2018-11-12 10:15] lxcid commented on #20930
Can I know which PR?

[2018-11-12 10:38] kelset commented on #22225
Thanks Bartol for the writeup, I'll close this 👍

[2018-11-12 10:38] #22225 closed

[2018-11-12 11:01] apperside commented on #15388
If you are running an android 9 emulator, you have to add, as stated by @delj , `android:usesCleartextTraffic="true"` in you Application tag in manifest.xml

[2018-11-12 11:06] Neklan opened #22243 "Module AppRegistry is not a registered callable module (calling runApplication)"
## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: x64 Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
      Memory: 36.17 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.11.0 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 10.14,

[2018-11-12 11:17] reemtariqq commented on #22243
could you share the code as well ?

[2018-11-12 11:24] ziyafenn opened #22244 "[Android] textTransform breaks text styling"
## Environment
[code]

## Description
On react-native@0.57.4 using `textTransform` on Text breaks the color value (i.e. color set white but renders as black).

Also in some places text rendering is weird (i.e. text not breaking to the new line).

[2018-11-12 11:54] anthonyhumphreys commented on #20637
Hello,
Not got round to providing more issues but can confirm this behaviour does seem to still occur.

Reproduce - react native init -> throw an error in first render -> leave on RSOD and monitor resource usage

[2018-11-12 12:32] Neklan commented on #22243
I can, but which code?

Here is App.js
[code]

build.gradle
[code]

and app/build.gradle
[code]

[2018-11-12 12:34] dani-mp opened #22245 "Weird effect in a <Text> with background color with alpha and padding"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: x64 Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz
      Memory: 39.92 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 9.7.1 - ~/.nvm/versions/node/v9.7.1/bin/node
      Yarn: 1.2.1 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v9.7.1/bin/npm
      Watchman: 4.7.0 - /usr/

[2018-11-12 13:26] ms4ever7 opened #22246 "How to manage ASCII symbols in React Native application???"
Hello, I'm having a problem with ASCII symbols. We receive data from back end when we get it, for example, shop name `Some shop name &amp;`. Of course, on web it works fine, but not on react native.

Would be great to show appropriate symbol instead of the text in string.

Maybe someone have ideas how it can be fixed.

Thank u!

[2018-11-12 14:05] #22246 closed

[2018-11-12 15:11] proof666 commented on #18578
any news on this issue?
I also ran into this problem, at least in part "if the TextInput has focus, on iOS no onSelectionChange even is fired" when programaticaly change value prop.

[2018-11-12 15:56] samu opened #22247 "RN doesn't work with yarn workspaces"
## Environment
[code]

## Description
RN doesn't work with yarn workspaces. When i try to start the simulator, i get the following error:

[code]

## Reproducible Demo

Start in an empty folder.

1. `react-native init rnproject`
2. `rm -rf rnproject/node_modules`
3. Add package.json:
[code]
4. `yarn install`
5. `cd rnproject`
6. `yarn start`

[2018-11-12 16:04] iagorm commented on #20288
This error still happened here in Android Oreo.

[2018-11-12 16:10] vjsingh commented on #19736
It appears to me that any font-weight on android above '400' just gives bold text. Looking for a way to support in-between font weights of 500 or 600.

[2018-11-12 16:28] mmmulani commented on #21030
please stop commenting with +1/"me too". It's more frustrating than helpful.

about this issue, it's caused by Apple changing the error messages in their network stack making our fishhook logic no longer work. (Found here: https://github.com/facebook/react-native/blob/master/Libraries/WebSocket/RCTReconnectingWebSocket.m)

@maicki do you have any spare cycles to take a look at getting this working

[2018-11-12 16:34] recepkoseoglu commented on #16826
it is working;
`
<KeyboardAvoidingView behavior="padding" style={Platform.OS !== 'android' && { flex: 1 }}>
        <ScrollView>
             ...
             <TextInput ... />
             ...
       </ScrollView>
</KeyboardAvoidingView>
`

[2018-11-12 16:35] recepkoseoglu commented on #16826
it is working;
`javascript
<KeyboardAvoidingView behavior="padding" style={Platform.OS !== 'android' && { flex: 1 }}>
  <ScrollView>
      ...
      <TextInput ... />
      ...
  </ScrollView>
</KeyboardAvoidingView>
`

[2018-11-12 16:37] recepkoseoglu commented on #16826
it is working;
[code]

[2018-11-12 17:48] samermurad commented on #17530
none of the above solution worked for me, but apparently closing the app plus the packager and rerunning  did..

[2018-11-12 19:38] terrysahaidak commented on #18945
@iamolegga I just don't use section list with sticky headers currently. Just simply FlatList with custom functions for creating sections and then render it.

[2018-11-12 20:25] donatelucas opened #22249 "RCLog.logIfNoNativeHook - Could not get BatchedBridge"
Error image: https://www.dropbox.com/s/s6j8tdbx9clwaw3/BatchedBridge%20.png

## Environment
`React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 36.26 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.1.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /u

[2018-11-12 20:30] samu commented on #22247
Closing as this should probably be on the yarn repo

[2018-11-12 20:30] #22247 closed

[2018-11-12 20:50] donatelucas commented on #22249
The project is uploading to Github, so in case you need to download it, just wait a bit and it will be entirely there (the zip file has 540mb)

[2018-11-12 22:07] #20475 closed

[2018-11-12 22:47] lightninglu10 commented on #22000
@sryze I'm running into this issue now, what is the scheme you're talking about?

[2018-11-13 00:05] #22113 closed

[2018-11-13 01:26] syq7970 opened #22251 "[FlatList]When use getItemLayout, onScrollBeginDrag and onScrollEndDrag not trigger on Android"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

  React Native Environment Info:
    System:
      OS: macOS 1

[2018-11-13 01:29] franj0 commented on #21480
Hi everyone, try set your IP manually or switch to manual and back to DHCP,
sometimes can fix this stupid issue

uto, 13. stu 2018. u 01:58 Yanick Sevigny <notifications@github.com>
napisao je:

[2018-11-13 02:10] rifrayugo commented on #19476
i also have the same issue, is there any solution atm?

[2018-11-13 03:43] chendongcd opened #22252 "Animated Bug in height"
react-native :0.55.4
react:16.2.0
node:5.6.0
When i do some animation about height,First time start the animation it's _value will not change from 0 to 1,but the animation will run.And then when i switch ,it will run  two timesFirst 0 to 1 and then 1 to 0.
I have tried other Attributes don't see this problem.
![wechatimg104](https://user-images.githubusercontent.com/20551570/48389639-5335ff80-e739

[2018-11-13 04:05] #22252 closed, assigned to nobody

[2018-11-13 04:56] vdongbin commented on #15892
My app is made by react-native 0.57. Resfreshing work fine when flatlist has not any data. but it is still happening when i put data in flatlist. I need any solution to refresh.

[2018-11-13 05:38] baoxiehao commented on #19774
Your suggestion works for me!  Thanks~

[2018-11-13 06:34] rifrayugo commented on #19476
@d12544 How about IOS?

[2018-11-13 06:45] kuldeepoza14 commented on #17530
Simply clear your app data and run again

[2018-11-13 07:48] krystofbe commented on #21832
@eggybot and @kyungjoongo try to do `npm install` or `yarn` (depending which you use) in your project folder. this solved the problem for me

[2018-11-13 07:51] baoxiehao commented on #17685
@marlosirapuan I works for me, thanks

[2018-11-13 08:00] ubbcou commented on #22226
[code]
![](https://github.com/ubbcou/blog/blob/master/images/TIM%E5%9B%BE%E7%89%8720181113155736.png?raw=true)

[2018-11-13 09:07] #20564 closed, assigned to nobody

[2018-11-13 09:41] sryze commented on #22000
In Xcode go to upper left corner -> click on your app name -> Edit Scheme -> Build -> make sure in Targets you have React as your first target, and then your app's target. This tells Xcode to build React Native and all the modules before your project.

![screen shot 2018-11-13 at 15 40 50](https://user-images.githubusercontent.com/4525736/48404508-8dfc5f80-e75a-11e8-8c20-393ed5f039db.png)

[2018-11-13 10:07] #18518 closed

[2018-11-13 10:07] Liqiankun commented on #17251
Not work!
[code]

[2018-11-13 10:10] WCChimiiz opened #22255 "Upgrade to 0.56 from 0.55.4 android is build failed"
Use https://github.com/react-native-community/discussions-and-proposals to propose changes or discuss feature requests. This helps us ensure bug reports and regressions are given the priority they require.

You may also use https://discuss.reactjs.org/ for discussions on topics that are not necessarily served by the Bug Report template.

---

# For Discussion

[code]

[2018-11-13 10:14] Liqiankun opened #22256 "borderStyle: 'dashed' / 'dotted' does not work"
## Environment
[code]

## Description
borderStyle: 'dashed' / 'dotted' does not work

[2018-11-13 10:44] renishdeveloper opened #22257 "Error : Something went wrong at initializing native-native-google-analytics-bridge module"
[16:05:17] Something went wrong initializing the native react-native-google-analytics-bridge module.
Please check your configuration.
Did you forget to run 'react-native link' or install your node_modules?
- node_modules\react-native-google-analytics-bridge\dist\NativeBridges.js:6:18 in <unknown>
- node_modules\metro\src\lib\polyfills\require.js:292:12 in loadModuleImplementation
- node_modules\re

[2018-11-13 10:53] Smolyan91 commented on #19211
Or:
[code]
And add alias:
[code]
Save & exit.
[code]
If you have `bash`, add it to the `~/.bashrc` alias.

Now you can create a bundle with one command
[code]

Profit 😹

[2018-11-13 11:05] #22257 closed

[2018-11-13 11:22] 7laria commented on #19211
@Smolyan91  but with this solution u still use enableAappt2=false that will remove at the end of 2018

[2018-11-13 11:41] YoshiYo commented on #22129
I have the same issue and I updated to :
[code]

[2018-11-13 11:51] niralivasoya commented on #19983
i have the same issue please help to figure it out. react-native info is as follows:

[2018-11-13 12:07] iyegoroff opened #22258 "Question about PATENTS file in dependencies"
One of fresco [dependencies](https://github.com/facebook/fresco/search?q=%22com.parse.bolts%3Abolts-tasks%22&unscoped_q=%22com.parse.bolts%3Abolts-tasks%22) - [Bolts-Android](https://github.com/BoltsFramework/Bolts-Android) has a BSD + PATENTS style license. So it looks like legally nothing changed since removal of PATENTS file from react-native. Can you give some clarification on this issue? Than

[2018-11-13 12:10] gmantovani97 commented on #21556
Try to run `react-native run-android --variant=release` without running `adb reverse tcp:8081 tcp:8081`. It worked for me

[2018-11-13 12:23] petlys opened #22259 "[iOS] WKWebView reloads page each time it gets back into the foreground"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment

[code]

## Description

**iOS only!**

I have an simple app that simply renders a view with a `<WebView>` with and a `<Modal>`.
All

[2018-11-13 13:05] #22258 closed

[2018-11-13 13:20] iyegoroff opened #22260 "Question about PATENTS file in dependencies"
# For Discussion

One of fresco [dependencies](https://github.com/facebook/fresco/search?q=bolts-tasks&unscoped_q=bolts-tasks) - [Bolts-Android](https://github.com/BoltsFramework/Bolts-Android) has a BSD + PATENTS style license. So it looks like legally nothing changed since removal of PATENTS file from react-native. Can you give some clarification on this issue? Thanks.

[2018-11-13 13:55] jeffreyongcay commented on #16332
https://stackoverflow.com/questions/34130539/uncaught-error-invariant-violation-element-type-is-invalid-expected-a-string

[2018-11-13 14:17] willsmythe commented on #22148
(moving the questions/conversations here)

@gengjiawen - can you provide more details on what you are (well, aren't) seeing? Are you able to access the build results view in Azure Pipelines? If so, what log are you expecting to see something in, but aren't?

If the Azure Pipelines project is public, can you send a link to your build?

[2018-11-13 14:32] aparedes commented on #21832
Deleting `node_modules/react-native/scripts/third-party/glog-0.3.5/test-driver` solved it for me

[2018-11-13 14:45] kelset commented on #22116
Hey everyone, never noticed this post, and for some reason the bot ignored it too.

So, there are still some information missing to understand why this issue is happening; @alleniver you mention

what version of XCode have you been able to replicate this with?

Did you see any commit from the transition between 0.57.1 to 0.57.2/3/4 that seem to be related to it?

[2018-11-13 14:50] opiruyan commented on #20576
I had very similar issue and rebooting system worked for me.

[2018-11-13 14:54] levani commented on #22116
This happens to me on xcode 10, (with legacy build system enabled, is that matters).

I created a new project with `react-native init` and could reproduce the issue.

[2018-11-13 15:11] gengjiawen commented on #22148
@willsmythe see https://github.com/MicrosoftDocs/pipelines-xcode/issues/1

[2018-11-13 15:11] rahimasgari commented on #21856
I have the same problem.
any solution?

[2018-11-13 15:21] erickjth commented on #18177
I am having the same issue in 0.56.

[2018-11-13 15:32] kristerkari commented on #22244
I already created an issue about this bug a couple of weeks ago:
https://github.com/facebook/react-native/issues/21966

[2018-11-13 15:42] OneStromberg commented on #22183
In my case it was **unrecognised symbol**. It was in my JSON file with localization(i18n)
I found it when open index.bunlde and went to the specified line that is in error message;

[2018-11-13 16:07] george-moussa opened #22261 "ReactNative FlatList is not fully visible when there are other components rendered before it"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

=> Done.

## Environment
Run `react-native info` in your terminal and paste its contents here.

=>
 React Native Environment Info:
    System:

[2018-11-13 16:08] kristerkari commented on #21966
I tested with React Native 0.57.5, and the bug is still reproducible.

[2018-11-13 16:19] #22261 closed

[2018-11-13 16:20] george-moussa commented on #22261
I resolved it by adding flex:1 all the way to App.js

[2018-11-13 16:34] gianpaj commented on #19251
I believe this feature request is still valid

[2018-11-13 16:54] chawax commented on #21074
Upgrading JavascriptCore works, but it is not supported before SDK 21 (Android < 5.0). And I have the problem too on iOS 9.3.

Is there a way to use Typescript compiler (the one used by react-native-typescript-transformer ?) and not Babel 7 one to compile Typescript ? I already had to solve problems with namespaces and enums because of Babel 7. And now one more problem 👎

[2018-11-13 16:57] BaderSerhan commented on #21202
me too

[2018-11-13 17:43] wcandillon commented on #17616
@adrianfalleiro: on Android there is a default perspective set. I struggling to find it's value. I have a 3d rotation that depends on the perspective value. Works great on iOS but fails on Android because, I don't know which value I should assume for the perspective: https://snack.expo.io/@wcandillon/instagram-stories

I looked at the source code and tried some values like 1280, 1280*density, or 1

[2018-11-13 17:48] wcandillon commented on #16366
@thg303 @woowalker on Android there is a default perspective set. I struggling to find its value. I have a 3d rotation that depends on the perspective value. Works great on iOS but fails on Android because, I don't know which value I should assume for the perspective: https://snack.expo.io/@wcandillon/instagram-stories

I looked at the source code and tried some values like 1280, 1280*density, or

[2018-11-13 17:51] brentvatne commented on #21967
I took @chrisbianca's branch and applied one more patch to it in order to get it running in Expo, you can try the project out here if you like: https://github.com/expo/sdk-31-with-hooks-experimental

[2018-11-13 18:43] #20578 closed

[2018-11-13 18:54] Hermanyo commented on #22095
UP

[2018-11-13 19:32] asatalkar-ttm commented on #17688
This is resolved by switching to lower Java SDK. As soon as I switch to 1.8 from 1.9 in Intellij and point my redirect my "PATH=%JAVA_HOME%\bin" in terminal, everything starts working!

[2018-11-13 19:41] jbreuer95 commented on #22229
Same problem only unchecking debug executable doesn't seem to work for me :(

[2018-11-13 19:54] luco commented on #16826
@recepkoseoglu It works on non-multiline Inputs. Try on multiline.

[2018-11-13 20:13] sibelius commented on #21734
`[...Array(3).keys()]` is causing trouble on android as well

[2018-11-13 20:33] dslounge commented on #22116
I wish I could help figure out this issue, but I'm not sure what's going on. Trying a hot module reload crashes here.
![image](https://user-images.githubusercontent.com/492403/48439124-8d13ff80-e753-11e8-960d-e077a820f567.png)

My info:
[code]

[2018-11-13 20:43] #20535 closed

[2018-11-13 21:08] recepkoseoglu commented on #16826
Yes you are right. Working for multiline following :smile:

[code]

[2018-11-13 23:10] brunolemos commented on #21967
There were new releases today, `react-native@0.57.5` and `react@16.7.0-alpha.2`. I know you guys will probably update your builds soon but I did my own as well:

[code]

I published it on npm instead of git, the installation seems faster this way.

[Tweet](https://twitter.com/brunolemos/status/1062476577160785922)

[2018-11-13 23:29] hramos commented on #21978
Thanks for raising this question. I'd welcome a solid proposal about how to better deal with this. You can use the following repo: https://github.com/react-native-community/discussions-and-proposals

[2018-11-13 23:29] #21978 closed

[2018-11-13 23:43] #19049 closed

[2018-11-13 23:43] #19035 closed

[2018-11-13 23:43] #17026 closed

[2018-11-13 23:43] #18082 closed

[2018-11-13 23:53] brunolemos commented on #21967
I tested @ericvicenti's code. There seems to be two issues:

- The effect call seems to be one render late. It seems to happen only when remote debug is enabled.
- When remote debug is disabled, it works, but the effect takes a couple seconds to happen.

[2018-11-14 00:05] #21567 closed

[2018-11-14 02:29] bartolkaruza commented on #22256
@kelset duplicate of https://github.com/facebook/react-native/issues/22227 or https://github.com/facebook/react-native/issues/22226

[2018-11-14 02:35] johhansantana commented on #22157
Getting someowhat the same error.

![image](https://user-images.githubusercontent.com/9933887/48456137-485c8880-e794-11e8-87d7-e6226548a964.png)

babel.config.js:
[code]

I'm using expo with typescript

tsconfig.json
[code]

[2018-11-14 04:02] ssancheza227 commented on #22187
@JKCooper2 you have the reason, i have similar problem with the styles nested and i did regression to the v0.57.0 and work. CC @dozel

[2018-11-14 04:37] mk-nickyang commented on #16826
It's working if we use `<View>` to wrap the content instead of `<ScrollView>`, not ideal if you have many TextInputs though.
[code]

[2018-11-14 04:44] devpascoe commented on #18219
Using lodash's clone method helped me ensure i was not reusing the same objects in redux. _.cloneDeep

Once applied my props were updated as i expected and the TextInput behaved accordingly.

[2018-11-14 04:47] mixophrygian commented on #21556
Thanks to alternative bundler haul (https://github.com/callstack/haul) I was able to get a slightly more informative warning upon bundling that I did not get in my development build - one of the assets I was attempting to use in my bundle (that only appeared on the second screen) was way too big and was causing the release bundle to crash.  Very curious that it wasn't causing the development build

[2018-11-14 04:47] #21556 closed

[2018-11-14 04:53] WCChimiiz commented on #22196
@radko93 how to fix this
[code]
now I try upgrade to 0.56 from 0.55.4 iOS it fine but can't run android

[2018-11-14 05:53] PeideAmonNg commented on #19604
check if you have 'READ_EXTERNAL_STORAGE' and 'READ_INTERNAL_STORAGE' permissions in your AndroidManifest.

[2018-11-14 06:06] Liqiankun commented on #22116
Same issue after upgrade to `0.57.5`

[2018-11-14 07:01] iwangsyah commented on #7495
Try to add this permissions on your **_AndroidManifest.xml_** :
_    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:protectionLevel="signature" />
    <permission
            android:name=

[2018-11-14 07:02] iwangsyah commented on #7495
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:protectionLevel="signature" />
<permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            android:protectionLevel="si

[2018-11-14 07:03] iwangsyah commented on #7495
Try to add this permissions on your **_AndroidManifest.xml_** :
<_uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"_ />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:protectionLevel="signature" />
    <permission
            android:name="a

[2018-11-14 07:05] iwangsyah commented on #7495
Try to add this permissions on your **_AndroidManifest.xml_** :

<_uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"_/>
<_uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"_/>
<_permission_
            _android:name="android.permission.ACCESS_COARSE_LOCATION"_
            _android:protectionLevel="signature"_ />
<_permission_
            _android:name="an

[2018-11-14 07:43] jfrolich commented on #21967
@IljaDaderko: `react-spring` does already support hooks, and it even offers a bit more functionality, so might worth having a look at that.

[2018-11-14 07:56] raphaelrk commented on #16487
Still running into this issue, both with Xcode 9 and 10
[gif](https://gfycat.com/HairyAdolescentAppaloosa)

[2018-11-14 08:07] Ruanyang2015 opened #22264 "hide webView accessoryBar"
Use https://github.com/react-native-community/discussions-and-proposals to propose changes or discuss feature requests. This helps us ensure bug reports and regressions are given the priority they require.

You may also use https://discuss.reactjs.org/ for discussions on topics that are not necessarily served by the Bug Report template.

---

# For Discussion

[2018-11-14 08:18] greenais opened #22265 "[Android] double R in emulator brings keyboard after typing in TextInput"
## Environment
Environment:
  OS: Windows 8.1
  Node: 8.12.0
  Yarn: 1.3.2
  npm: 6.4.1
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version  3.1.0.0 AI-173.4819257
Packages: (wanted => installed)
  react: 16.6.1 => 16.6.1
  react-native: 0.57.5 => 0.57.5

## Description
After I typed in TextInput in any of my components reloading app in Android emulator with double R always brings up Andr

[2018-11-14 08:29] IljaDaderko commented on #21967
Indeed, but I'm trying to utilise rn API as much as I can at the moment :)

[2018-11-14 09:01] chawax commented on #21074
One gave me the solution ! You have to change your `rn-cli.config.js` file :

[code]

This way it doesn't use Babel 7 Typescript transformer but the former React Native Typescript transformer that supports namespaces and enums !

[2018-11-14 09:05] petlys commented on #22259
Thank you for the response. It does indeed work with `react-native-webview` 👍
However, I experience the same issue as listed here: https://github.com/react-native-community/react-native-webview/issues/136

[2018-11-14 09:07] kelset commented on #22259
Thanks Bartol!

@petlys as mentioned, WebView is maintained there, so help the conversation more forward there: it would surely help fixing it

[2018-11-14 09:07] #22259 closed

[2018-11-14 09:07] kelset commented on #22256
Thanks, closing

[2018-11-14 09:07] #22256 closed

[2018-11-14 09:07] #22251 closed

[2018-11-14 09:44] chrusart commented on #21643
thanks @qchen-ms , before Android horizontal snapToInterval we had as well full component implemented this way, I just reported it as it seems as a bug for us.

[2018-11-14 10:00] NichAga commented on #20774
@hramos , still getting Xcode 10 errors on react-native 0.57.5

![immagine](https://user-images.githubusercontent.com/33664465/48474702-627d8180-e7fb-11e8-8a72-4fca15ded6d4.png)

[2018-11-14 10:01] tarun29061990 opened #22266 "AsynStorage {“40”:0,“_65”:0,“_55”:null,“_72”:null} in React native"
My Code
[code]

[2018-11-14 10:04] IljaDaderko commented on #20774
Similar, seeing same issues as before (after removing node modules, cleaning cached and reinstalling everything with latest versions)

[2018-11-14 10:05] #22266 closed

[2018-11-14 10:12] MohamadKh75 opened #22267 "'config.h' file not found - mutex.h"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
As mentioned [here](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#i

[2018-11-14 10:13] kelset commented on #20774
My understanding is that the fix will only work for new projects - for existing projects probably the only ways are:

1) re-apply the workaround described in the first comment
2) manually apply the PR to your project - I use Pods on my projects so I was never actually affected, so can't really test this road. **Potentially** using the git-upgrade command **may** do it for this. But I don't know tb

[2018-11-14 10:21] kelset commented on #22116
Thanks for moving this forward:
* given the comments above, I still believe it's probably easier to understand what was cherry-picked in 0.57.3 (which seems to be the first issue to have this issue) -> https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#0573

* Here's the commit history (on 0.57-stable) that involves the folder @dslounge screenshot -> https://g

[2018-11-14 10:23] IljaDaderko commented on #20774
@kelset I will try to apply PR manually in a bit. Also wanted to ask, do you have example / reference to somewhere that shows how to use react as a pod? Sounds like it is more stable / easier way to implement it.

[2018-11-14 10:28] kronosfere commented on #22024
Just to add to @luisnaranjo733 's answer, I managed to get the app to connect to the bundler by adding the security config as such to `AndroidManifest.xml`

[code]

And then adding these config to `res/xml/network_security_config.xml` to whitelist localhost

[code]

[2018-11-14 10:36] kelset commented on #20774
@IljaDaderko there are a few articles out there, but it seems that they are a bit outdated: probably we should have a section in the docs for integrating:
- https://shift.infinite.red/beginner-s-guide-to-using-cocoapods-with-react-native-46cb4d372995
- https://medium.com/golee-engineering/my-experience-of-integration-between-react-native-and-ios-f1b9848f292a
- https://medium.com/@Baconbrix/using-c

[2018-11-14 10:37] allmaxgit commented on #21075
Continues in React native 0.57.5.

[2018-11-14 10:41] IljaDaderko commented on #20774
@kelset Thank you for the links, so I assume what you meant is that you use React Native through pods like documented here: https://facebook.github.io/react-native/docs/integration-with-existing-apps

And you don't experience any issues with third party scripts? I am refactoring to use pods right now, to check if it solves issues on my end, is this peace of documentation up to date?

[2018-11-14 10:52] marcocesarato opened #22268 "Expected instance props to match memoized props before componentDidMount"
After updgrade to react-native 0.57.5 and react 16.6.3 i've this error: `ExceptionsManager.js:84 Warning: Expected instance props to match memoized props before componentDidMount. This is likely due to a bug in React. Please file an issue.`
What mean this error? What i've to do?
UPDATE:
Resolved downgrading react-native to 0.57.4 but on 0.57.5 still have this error...

[2018-11-14 10:55] kelset commented on #20774
Yeah the docs should be up to date :) If not, can you open an issue on the website repo so that we can work it out?

[2018-11-14 10:58] piranna commented on #18973
Yes, it still happens.

[2018-11-14 11:02] soumyamishra89 commented on #19709
I have used a hack by keeping the connection idle for max 5 seconds. This has solved the issue to some extend. Have not faced the issue after this, but this is not an ideal solution. If anyone has some other solution please comment on this ticket.

[2018-11-14 11:05] #22268 closed

[2018-11-14 11:14] artyorsh commented on #21074
For those who are trying to configure ts with expo-31:
Check our [boilerplate](https://github.com/akveo/akveo-react-native-boilerplate/tree/typescript). This repo contains all initial configurations to make things working with new expo-31, babel 7, typescript and jest.

[2018-11-14 11:34] Meshz commented on #19376
I am trying to authenticate through NTLM in RN. Here's the normal flow: `Req with NTLM Type1Msg` > `Res 401 with WWW-Authenticate` > `Req with NTLM Type3Msg` > `Res 302 with Set-Cookie` > `Res 200`.

Everything is working on iOS 9.3 but it is broken on iOS 10.0 and above. Could this be related to cookie management? Any hint would be much appreciated!

[2018-11-14 11:34] warpech commented on #19737
Any updates on this? Thanks!

[2018-11-14 11:52] mefjuu commented on #22213
It seems to be resolved in RN 0.57.5

[2018-11-14 11:54] gengjiawen commented on #19737
maybe update jsc building with clang first, then update to new version. Also Microsoft is working on v8 for android with jsi launched.

[2018-11-14 12:00] eoinnorris commented on #22116
This code is called only when #if Debug is on ( I don't see it on in my version of react which is 0.55).
It happens in the

 void JSCExecutor::initOnJSVMThread()

method in JSCExecutor.cpp

#if DEBUG
      installGlobalFunction(m_context, "nativeInjectHMRUpdate", nativeInjectHMRUpdate);
#endif

[2018-11-14 12:15] IljaDaderko commented on #20774
@kelset refactored to use CocoaPods, everything is working 👌 with new build. I think I actually prefer this way of using react native.

I got few follow up questions for you if you have a minute?

1. I removed react related content in XCode from "Libraries" folder, and Build Phases. I edited my schema to use React from pods. Everything is working fine, but any chance I missed something else here?

[2018-11-14 12:17] juniorneo2 opened #22270 "[IOS] No component found for view with name RCTText"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @

[2018-11-14 12:31] levani commented on #22116
@kelset

0.57.4 version is broken, not 0.57.3

[2018-11-14 12:45] michbil commented on #22213
Updated 0.57.5, problem persists

[2018-11-14 12:46] ithustle commented on #13413
@kelset, I see you as batman, superman, The Avengers of the React Native... Any solution? I'm diying with this. Please, save me.

Using RN 0.57.4
React 16.6.1

If I remove the `Image`, `Flatlist` works fine... otherwise, my app go away

[2018-11-14 12:50] fwal commented on #21075
Can confirm that adding `@babel/plugin-proposal-class-properties` to plugins list in babel config works, but **only** when using `babel.config.js`.

Using `.babelrc` or a babel key in `package.json` _did not work_.

Tested with `react-native@0.57.1`

[2018-11-14 12:57] #22270 closed

[2018-11-14 12:59] juniorneo2 commented on #22270
Resolved, for some reason some libraries have not been added

[2018-11-14 13:07] chawax commented on #19492
It doesn't work for me. I use React Native 0.57.4.

[2018-11-14 13:16] cjrorvik opened #22271 "Continuously animated view throttles CPU on android emulator"
- [✅] Review the documentation: https://facebook.github.io/react-native
  - [✅] Search for existing issues: https://github.com/facebook/react-native/issues
  - [✅] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.7

[2018-11-14 13:20] kelset commented on #22116
You are right, I'll edit my comment above - sorry I misread ;)

[2018-11-14 13:21] HighSoftWare96 opened #22272 "Unpredictable behaviour with conditional opacity in TouchableOpacity and FlatList"
- [-] Review the documentation: https://facebook.github.io/react-native
  - [-] Search for existing issues: https://github.com/facebook/react-native/issues
  - [-] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Environment:
  OS: macOS 10.14
  Node: 8.12.0
  Yarn: 1.10.1
  npm: 6.4.1
  Watchman: 4.9.0
  Xcode: Xcode 10.0 Build version 10A255

[2018-11-14 13:29] michbil commented on #22213
Only one way to overcome this issue currently is to split big view to 3 subviews, with rounded corners assigned to top and bottom one, so big content will be without rounded corners at all

[2018-11-14 13:37] kelset commented on #13413
I suggest that you try the solutions listed above, such as:
- my comment [in May](https://github.com/facebook/react-native/issues/13413#issuecomment-369615309)
- Dan's comment above https://github.com/facebook/react-native/issues/13413#issuecomment-419693498

We are working hard on improving Android perfs from the ground up (a part of this should already land in 0.58) - but also a lot of work shou

[2018-11-14 13:46] geoker commented on #19816
Any @Peretz30  updates on this issue?

[2018-11-14 14:02] claudiotezzin commented on #18793
Anything else about this issue?

[2018-11-14 14:07] mepritam commented on #17470
Faced the same problem .

My Code :
` import { PermissionsAndroid } from 'react-native';`
`export async function requestCameraPermission() `
`{`
 ` try {`
    `const granted = await PermissionsAndroid.request(`
      `PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION,`
      `{`
       ` 'title': 'Example App',`
       ` 'message': 'Example App access to your location '`
     ` }`
   `)`
    `if

[2018-11-14 14:15] Peretz30 commented on #19816
@geoker unfortunately, no. 😔

[2018-11-14 14:20] vjsingh commented on #18773
This is fairly frustrating and time-consuming behavior, especially when porting a large iOS project to Android.

As has been noted, the generic error occurs when there is an extra space in your single-line JSX (<Tag> {children}</Tag>). In fact, it sometimes causes your app to crash entirely, which makes debugging even harder (<Tag> <View/></Tag>). It also happens when there are extra characters in

[2018-11-14 14:37] Net-Home opened #22273 "react-native link"
Something went wrong while linking. Error: Maximum call stack size exceeded

[2018-11-14 14:41] thodubois commented on #21154
Still there in 0.57.5. Try a `react-native init` and add a `console.warn('Hello Warn')` in App.js and got the error.

[2018-11-14 14:42] mefjuu commented on #22213
For me, as I've written, it started working properly after upgrading RN to 0.57.5.
However, on a cheap device equipped with poor GPU, screens containing those large `<View/>`s with rounded corners suffer for jerky scrolling again (in 0.57.1 i was smooth).

[2018-11-14 14:56] Kudo opened #22274 "Raise out android-jsc issues in current master"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
      Memo

[2018-11-14 15:05] #22273 closed

[2018-11-14 15:19] Kudo commented on #22274
@react-native-bot reopen

[2018-11-14 15:39] gengjiawen commented on #22274
I will take a look at RNTester build tormorrow, I have tested it, maybe I miss something.

[2018-11-14 15:47] balthazar commented on #6480
[code]

You guys should try to wrap your `TouchableNativeFeedback` in a view with a ``border-radius` and an hidden overflow.

[2018-11-14 16:00] gengjiawen commented on #22274
For the first, the miniSDK it's still 16, I am using a fork of buck when build it.

[2018-11-14 16:05] mmccartney commented on #20774
@NichAga @IljaDaderko Did you try deleting `third-party` (as in `rm -rf node_modules/react-native/third-party`) and then performing the build?

[2018-11-14 16:17] IljaDaderko commented on #20774
@mmccartney But that would be a temporary solution until package is re-installed right? I tried completely fresh setup with old node_modules deleted prior and it was failing :/

[2018-11-14 16:30] aMarCruz commented on #6480
@balthazar , wrapping the touchable hides the effect of borderless ripple, as desired in Floating Action Buttons components.

[2018-11-14 16:55] balthazar commented on #6480
@aMarCruz I'm not talking about borderless ripples here, as my example shows.

[2018-11-14 16:55] underbluewaters commented on #18899
Hot reloading only seems to work for me with remote debugging on.

[2018-11-14 17:18] jddk1 opened #22275 "TouchableOpacity navigate to another screen or stack (props use)"
Hello,

I'm building an Android application with react and I had to create a custom Footer instead of using the "createBottomTabNavigator" existent on "react-navigation". This was because I need to have my BottomTab, visible in All screens, but sometimes not having any BottomTab selected, just displaying another screen (that does not exist on the BottomTab).

I tried to submit some issues on Githu

[2018-11-14 18:02] mushinz opened #22276 "Upgrade 0.55.4 to 0.57 Babel Error on Decorators"
/node_modules/react-native/src/navigators/MainNavigator.js: The decorators plugin requires a 'decoratorsBeforeExport' option, whose value must be a boolean. If you want to use the legacy decorators semantics, you can set the 'legacy: true' option.

Dev package installed:
"@babel/plugin-proposal-decorators": "^7.1.6",
.babelrc file:

{
  "presets": ["module:metro-react-native-babel-preset"],
  "plu

[2018-11-14 18:05] #22276 closed

[2018-11-14 18:05] #22275 closed

[2018-11-14 18:41] qweasdzxc23 opened #22277 "react native android works well on debug mode but not in release"
Hello, this is new problem i faced here, when u run app in debug mode, everything works like charm, but after release some bad things happens, eg : KeyboardType numeric not working, and work like normal keyboard, some actions not dispatching and some styles not working as well as other problems,
this is my installed modules, using react native "0.57"

   "axios": "^0.18.0",
    "native-base": "^2.

[2018-11-14 19:05] #22277 closed

[2018-11-14 19:10] qweasdzxc23 opened #22278 "react native runs only in debug mode"
Hello, this is new problem i faced here, when u run app in debug mode, everything works like charm, but after release some bad things happens, eg : KeyboardType numeric not working, and work like normal keyboard, some actions not dispatching and some styles not working as well as other problems,
this is my installed modules, using react native "0.57"

"axios": "^0.18.0",
"native-base": "^2.8.0",
"

[2018-11-14 19:24] drewandre commented on #17129
I had commented out code in my android manifest which was throwing this error. The code was below the closing `</manifest>` tag -- any commented out code within these tags was fine.

[2018-11-14 19:39] wcandillon opened #22279 "Consistent Perspective between iOS and Android"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Description
On Android, there is a default perspective transformation applied to the view. That leads to inconsistent transformations between And

[2018-11-14 19:50] mmccartney commented on #20774
You are right, @IljaDaderko.  I'm having trouble reproducing the failure consistently but I do believe there is a problem with existing projects.  I have a feeling that the following commands will eliminate the problem but I can't be sure at this time:
[code]

[2018-11-14 19:52] hramos commented on #21518
Hey folks, please take a look at #21303.

[2018-11-14 19:52] hramos commented on #19983
@niralivasoya please open a new issue, and follow the template.

[2018-11-14 19:59] dvicory commented on #19737
@gengjiawen do you have a link to more information about Microsoft's effort for V8 with JSI? Can't find anything out there.

[2018-11-14 20:21] dashu3f commented on #20297
install again your packages. not correct installed package. maybe last package

[2018-11-14 21:05] #22279 closed

[2018-11-14 21:05] #22278 closed

[2018-11-14 21:08] KevinGeorge commented on #21722
Same issue for me. i ejected my project from CRNA too.
However when i create a new react-native project and run-android it works.

OS: Windows 10
Node: v10.7.0
npm : 6.1.0
Android studio 3.2.1
react : 16.5.0
react-native-cli: 2.0.1
react-native: 0.57.1

[2018-11-14 21:09] wcandillon opened #22280 "Inconsistent Perspective between iOS and Android"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[skip envinfo]
App created with `create-react-native-app` running on both iOS and Android.

## Description
On Android, there is a def

[2018-11-14 21:18] rickysullivan commented on #18221
Does anyone have a workaround?

[2018-11-14 23:22] dozel commented on #22187
Too bad we have to go back to 0.57, but thank you all for helping out!

[2018-11-14 23:22] #22187 closed

[2018-11-15 00:05] #22007 closed

[2018-11-15 00:29] gengjiawen commented on #22274
Yes, I know that. I only change app_platform when I bundle 64bit.

[2018-11-15 00:34] hey99xx commented on #22274
So then did you use https://github.com/facebook/android-jsc/pull/30 to create the android-jsc.aar that you checked into this project, or you only used to create 64bit .so files, then created the .aar by hand by adding all of regular 32bit .so files and the new 64bit .so files?

[2018-11-15 00:43] dev6james commented on #22214
If the cache is dependent on strict semantic versioning i.e. only the 3 numbers, I would say that if it encounters a dependency that diverges from the standard format that it should only do a direct string equality check. I dont have any insight into the current logic though so I dont know if it's doing anything like this.

[2018-11-15 00:50] gengjiawen commented on #22274
I put the buck patch link in pr description, and want to update the buck version later, but buck team seems not care this issue.

[2018-11-15 01:01] Kudo commented on #22274
@gengjiawen FYI, BUCK support an option `app_platform_per_cpu_abi`.
That's where I used in https://github.com/Kudo/android-jsc/blob/clang/.buckconfig#L3 in fact.

[2018-11-15 01:08] alleniver commented on #22116
@kelset  I have tested all the environments, XCode 9.3, 10.0, 10.1, iOS 9, 10, 10, all have this problem, but after starting the remote debugging, there is no problem, the project created by react-native init is the same, very strange.

[2018-11-15 01:11] gengjiawen commented on #22274
@Kudo Thanks. So the master branch actually won't crash on pre-sdk-21 device.
But I am intended to replace it with `/jsc-android-buildscript` after https://github.com/react-community/jsc-android-buildscripts/pull/66 got merged.

[2018-11-15 01:14] alleniver commented on #22116
@kelset quote"the fact that it works find when the remote debugging is on is also a hint, maybe it's simply something missconfigured? thinking".
i have re-created with react-native init,but the problem still exists.

[2018-11-15 01:33] Kudo commented on #22274
@gengjiawen How did you test that master branch code will not crash on pre-sdk-21 devices?
Because I could reproduced the problem on Android 4.1 emulator.

One way to check the unresolved symbols:

1. Dump undefined symbols from your *.so (unzip from android-jsc.aar)
`ndk-bundle/toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86_64/bin/arm-linux-androideabi-nm -D -u jni/armeabi-v7a/libjsc.so

[2018-11-15 01:43] gengjiawen commented on #22274
To keep consistency, I keep the original `libjsc.so` from the old jcenter aar for armeabi and x86 (see original pr). I tested it on a x86 4.4 emulator.

[2018-11-15 01:53] Kudo commented on #22274
Could you check you libjsc.so MD5 checksum?
From my environment:
libjsc.so from master branch android-jsc.aar
[code]

jcenter JSC download from https://bintray.com/react-native/android/download_file?file_path=org%2Fwebkit%2Fandroid-jsc%2Fr174650%2Fandroid-jsc-r174650.aar
[code]

Most of unresolved symbols are implemented after API 18, so please ensure to test on Android 4.1 environment.

[2018-11-15 02:10] gengjiawen commented on #22274
Yes, l checked again the hash on macOS, looks you result is right. The md5 I tested is on windows. Guess I maybe miss something.

[2018-11-15 02:15] gengjiawen commented on #22274
Replace the so with the old one or just upgrade to new jsc ? @DanielZlotin looks like testing it.

[2018-11-15 03:03] watanabeyu commented on #22100
I'll take `Libraries/Components/StatusBar/StatusBar.js`

[2018-11-15 03:19] piubellofelipe opened #22283 "android num-pad keyboard extreme lag after typing"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

[code]

## Description
I believe that RN's TextInput has some

[2018-11-15 03:19] seasparta618 commented on #20588
this really did help! Thanks!

[2018-11-15 03:44] Kudo commented on #22274
OK, I'll wait for a while.

[2018-11-15 03:45] wayne214 commented on #7474
ok,fixed by using
`
    <style name="AppTheme" parent="Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen">

        <item name="android:windowTranslucentStatus">true</item> // 设置状态栏不占据空间
    </style>`

[2018-11-15 03:54] syq7970 commented on #22251
@bartolkaruza thanks!

[2018-11-15 04:10] qweasdzxc23 opened #22286 "why react native app not working in release mode ?"
Hello, this is new problem i faced here, when u run app in debug mode, everything works like charm, but after release some bad things happens, eg : KeyboardType numeric not working, and work like normal keyboard, some actions not dispatching and some styles not working as well as other problems,
this is my installed modules, using react native "0.57"

"axios": "^0.18.0",
"native-base": "^2.8.0",
"

[2018-11-15 05:05] #22286 closed

[2018-11-15 06:00] karthinalliyappan opened #22287 "'React/RCTBridge.h' file not found, I upgrade react-native to 0.57.5"
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

## Description
Describe your issue in detail. Include screensh

[2018-11-15 06:31] assafb81 commented on #20774
This what works for me, I have 2 versions of XCode on my MAC (XCode 9.4.1 & XCode 10.1):

1. Open XCode 9.4.1 and clean the build
2. yarn cache clean
3. yarn install
4. Build project on XCode (with General iOS Device)
5. Close XCode 9.4.1 and Open XCode 10.1
6. Build the project with XCode 10.1
7. Sometime the build fails, because of `libfishhook.a` issues.
7.1 I remove and add `libfishhook.a` whi

[2018-11-15 06:48] raphael-liu commented on #18773
\<View\>\<\/View\> tag supports these types of children: boolean,null,undefined,Symbol,component(such as <View/>). and does not support : Number, String, Object(Map,Set...).
For example:

[code]

[2018-11-15 08:02] ger86 commented on #22214
Nope, I have tried it and same results.... I have noticed the error starts to happen (most of the times) when there is a dependency error (ie, import A from 'MyApp/src/no-existing'). Then I have to reset my computer or reinstall watchman...

[2018-11-15 08:07] realchiu commented on #15826
still having same issue. Any one found the solution?

[2018-11-15 08:32] brunolemos commented on #21967
@mmazzarolo did you also face it or just referring to the gif?

[2018-11-15 08:34] mmazzarolo commented on #21967
@brunolemos yep, facing it from day one.
Strangely enough, adding a `console.warn()` in the component that uses `useEffect` fixes the issue.

[2018-11-15 09:07] radko93 commented on #22196
Seems like `react-native-maps` have a different dependenc of `com.android.support:support-v4`. You should check `react-native-maps` gradle files and maybe ask there.

[2018-11-15 09:12] ishiestar commented on #17522
@smitthakkar1  check if `debuggable true` is there in the `buildTypes.release` block in your build script (module level build.gradle).

[2018-11-15 09:31] sabirbasha commented on #22267
Am also facing same issue can someone help me to resolve this

[2018-11-15 09:40] rom4ek opened #22288 "[Android] isRTLForced StrictMode violation on cold app start"
Hello, we're having this violation every time when we cold start our app

        at android.os.StrictMode$AndroidBlockGuardPolicy.onReadFromDisk(StrictMode.java:1440)
        at java.io.UnixFileSystem.checkAccess(UnixFileSystem.java:251)
        at java.io.File.exists(File.java:807)
        at android.app.ContextImpl.ensurePrivateDirExists(ContextImpl.java:572)
        at android.app.ContextImpl.

[2018-11-15 09:59] LustSkills commented on #20997
Bump

[2018-11-15 10:05] #22288 closed

[2018-11-15 10:19] rom4ek opened #22289 "[Android] isRTLForced StrictMode violation on cold app start"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[skip envinfo]

## Description
We're having this violation every time when we cold start our app

        at android.os.StrictMode$An

[2018-11-15 10:31] YanvegHD commented on #21455
Typo, it's "Touchable" not "Toucheable"

[2018-11-15 10:34] rborn commented on #21455
@YanvegHD 😅

[2018-11-15 10:51] esgudnason commented on #22145
I can verify this inconsistency for Android phones: G G6 (H870), Huawei P10 (VTR-L29), Huawei P8 Lite and (ALE-L21).  Workaround was to use multiply width & height with PixelRatio for users with those phones.

[2018-11-15 10:54] bashirpour commented on #16376
I have some issue

    "lodash": "^4.17.10",
    "react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-check-box": "^2.1.0",
    "react-native-collapsible": "^1.2.1",
    "react-native-elements": "^0.19.1",
    "react-native-google-analytics-bridge": "^5.8.0",
    "react-native-google-places-autocomplete": "^1.3.9",
    "react-native-map-clustering": "^1.3.0",
    "react-native-maps":

[2018-11-15 11:17] #22287 closed

[2018-11-15 11:45] MohamadKh75 commented on #22267
As a temporary fix, you could navigate to `..\node_modules\react-native\third-party\glog-0.3.5` and:

[code]

[2018-11-15 13:12] zhllucky opened #22291 "file:///data/user/0/ 的网页无法加载 net::ERR_ACCESS_DENIED"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: x64 Intel(R) Core(TM) i7-3632QM CPU @ 2.20GHz
      Memor

[2018-11-15 13:14] zhllucky commented on #21104
@react-native-bot  I have the same question in 0.57.3

[2018-11-15 13:15] IljaDaderko commented on #21967
Noticed another `useEffect` related issue. Code below works as expected when `delay` property is not passed to animated i.e. animation finishes and `logoAnimationLogic` is called. If I add `delay` (no matter what value), then `logoAnimationLogic` is not called after animation has finished for roughly 2 - 3 seconds (again this doesn't seem to be related to delay value).

[code]

[2018-11-15 13:59] michaelknoch commented on #21945
I rewrote my triangles to use transforms today. Maybe the comment "// Asymmetrical edgeInsets cause strange artifacting on iOS 10 and earlier." makes sense

[2018-11-15 14:45] thymikee commented on #22100
Happy to take `Libraries/Text/TextProps`

[2018-11-15 14:50] exced commented on #22100
@thymikee There's this PR opened #22122
Have you seen issues in it ? Thanks

[2018-11-15 14:54] thymikee commented on #22100
Oh, I haven't noticed this. Will try to find something different then ;)

[2018-11-15 15:04] robbiemilejczak opened #22292 "Cannot find module './init/init' after upgrade to 57.5"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 69.88 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.1.0 - /usr/local/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2018-11-15 15:10] fsarachu commented on #22267
this solved my problem: https://github.com/facebook/react-native/issues/19529#issuecomment-423898864

[2018-11-15 15:11] ObidosDev commented on #21583
Also do not forget call `pod install`

[2018-11-15 15:13] gengjiawen opened #22294 "[BUG] Compatibility issue for android 16"
Introduced in https://github.com/facebook/react-native/commit/e02a154787274be1da3632cb1412554cbd53928b.
stacktrace
[code]

[2018-11-15 15:15] thymikee commented on #22267
@facebook-github-bot duplicate #19529

[2018-11-15 15:16] gengjiawen commented on #22294
pr https://github.com/facebook/react-native/pull/22295.

[2018-11-15 15:21] #19434 closed

[2018-11-15 15:30] tomershohet commented on #21856
Same here

[2018-11-15 15:43] thymikee commented on #22292
It looks like an issue with this particular install. If reinstalling stuff with e.g. `yarn --check-files` helps, I think it's better to close this to not pollute the issue tracker.

[2018-11-15 15:48] HighSoftWare96 commented on #22272
@react-native-bot
This is not a "old version" bug. This bug is tested on Snack with the latest RN version!

[2018-11-15 15:49] asmagacz opened #22296 "React-Native Could not resolve all files for configuration ':classpath'."
I'm trying to start new project with react-native, i have set up all system variables and configured Android SDK and JAVA. While running command react-native start-android error occurs as below:
![error](https://user-images.githubusercontent.com/43851864/48563955-bd939f00-e8f5-11e8-859d-d8629ee85d9c.jpg)
 I've tried every solutions of similar problems but nothing works for me. I'll be thankfull fo

[2018-11-15 15:50] AlexandruVoica commented on #19546
Yes! MaskedView is much needed on Android as well.

[2018-11-15 15:50] HighSoftWare96 commented on #18375
With Android 7.0 and latest version of react native this bug does not occurs anymore... For the older version is there some workaround?

[2018-11-15 15:52] PrasannaLearnyst commented on #22222
- [X] Review the documentation: https://facebook.github.io/react-native
  - [X] Search for existing issues: https://github.com/facebook/react-native/issues
  - [X] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.4
  Yarn: 1.9.4
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.4.1 Build v

[2018-11-15 16:05] #22296 closed

[2018-11-15 16:16] Xifeat opened #22297 "Expected "/*" but "A" found"
## Environment
 OS : Linux 4.9
 Node : 10.11.0
 npm: 6.4.1
 Watchman: 4.7.0

Packages : (wanted => installed)
   react: 16.3.0 => 16.3.0
   react-native 0.55.0 => 0.55.0

## Description
When I try to link a lib whatever it is I got

rnpm-install ERR! Something went wrong while linking. Error: Expected "/*" but "A" found.
Please file an issue here: https://github.com/facebook/react-native/issues

E

[2018-11-15 16:26] Monte9 commented on #20497
I was setting up my project on a new computer and ran into this as well.

@monkeyboy64 I did run `xcodebuild -list` and see all my various schemes listed in there.

So before, I was able to run this: `react-native run-ios --simulator='iPhone X' --scheme 'pillow-qa'` and it would build and run the `qa` scheme from the cli.

But now, it just builds the default `pillow` (production) scheme and ignore

[2018-11-15 16:54] asmagacz opened #22298 "React-Native Could not resolve all files for configuration ':classpath'."
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

React Native Environment Info:
    System:
      OS: Windows 1

[2018-11-15 17:06] shubhang93 opened #22299 "React native ActivityIndicator keeps animating even after it is unmounted"
I have some code which displays an Activity Indicator for sometime, and then renders an expensive Component.
Here is the code for it
[code]
My Problem with this code is, if there is an ActivityIndicator present it takes a hell lot of time to actually render the Main View even after I set state of isLoading to false. If I replace that Activity Indicator with a return value of null or Loading..., I

[2018-11-15 17:12] thestouty commented on #21722
I've been dealing with this issue for a while now, resorted to react-native-init but this fixed it for me. Thanks.

[2018-11-15 17:44] neonsec commented on #19507
Any update on this issue? @joshjhargreaves

[2018-11-15 17:59] #22294 closed

[2018-11-15 18:02] MohamadKh75 commented on #22267
It's not duplicate because:

This bug is still in the 0.57.5 so i opened this issue!

[2018-11-15 18:05] #22299 closed

[2018-11-15 18:07] robbiemilejczak commented on #22292
@thymikee I actually meant to close the issue initially, since I already have a fix in place. I'll do that now

When you say with this particular install, how do you mean? I've been using this react-native install since 0.57.1 and have been upgrading regularly, this issue has only been introduced after upgrading to 0.57.5

[2018-11-15 18:07] #22292 closed

[2018-11-15 18:50] #16151 closed

[2018-11-15 19:29] neurosnap commented on #18692
I spent hours reading every single issue remotely related to the error to figure out how to fix this problem.  The issue was `useClearText` is disabled by default on Android > 9.0.

 https://stackoverflow.com/a/53326616/1713216

[2018-11-15 21:48] wzup opened #22303 "Keyboard module: what does it's callback receive?"
I've read
this https://github.com/facebook/react-native/issues/7969
this https://github.com/facebook/react-native/issues/22168
this https://github.com/facebook/react-native/issues/7986
this https://github.com/facebook/react-native/issues/15387
No answers

https://facebook.github.io/react-native/docs/keyboard

What does keyboard module callback receive? How does the object look? What fields does it

[2018-11-15 22:05] #22303 closed

[2018-11-15 23:51] numez commented on #19239
this worked for me. version 0.57 👍

[2018-11-16 00:05] #22194 closed

[2018-11-16 02:07] devinxuesong opened #22304 "ENOENT"
--------------^ Click "Preview" for a nicer view!

GitHub Issues in the `facebook/react-native` repository are used exclusively for tracking bugs in React Native. GitHub may not be the ideal place to ask questions about using React Native, but we have compiled a list of resources that should help.

### Get help with your React Native app or ask code-level questions

Many members of the community u

[2018-11-16 02:10] neilzhengzx opened #22305 "keyboardDidShow listener does not fire in 'horizontal' orientation"
- [Yes] Review the documentation: https://facebook.github.io/react-native
  - [Yes] Search for existing issues: https://github.com/facebook/react-native/issues
  - [Yes] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU

[2018-11-16 02:15] devinxuesong opened #22306 "Could not run adb reverse"
I've been using android-studio  for 3 years,i think jdk and sdk are all right.when i use react-native run-android,my phone will be download apk and not start.The list of log is as follows:
Scanning folders for symlinks in C:\Users\dell\Desktop\rndemo\RnMeiTuan-master\RnMeiTuan-master\node_modules (30ms)
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat

[2018-11-16 02:20] devinxuesong commented on #22306
i am sure my port 8081 is clean and ready to use

[2018-11-16 02:36] userbq201 opened #22307 "FletList scroll with 5 fps"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
I use flat list. And until yesterday it worked. But now scroll very slow. I dont now what to do.

package.json

[2018-11-16 03:05] #22306 closed

[2018-11-16 03:05] #22304 closed

[2018-11-16 03:17] neilzhengzx commented on #22305
[skip envinfo]

[2018-11-16 03:19] jfrolich commented on #21967
Thanks I was considering to use react-spring in react native, but indeed if it doesn't support useNativeDriver it's not a great option.

[2018-11-16 03:44] jfrolich commented on #21967
Does anyone have the problem that component trees with hooks don't hot reload?

[2018-11-16 03:46] sabirbasha commented on #22267
Still we are facing same issue in React 0.57.5..

[2018-11-16 04:43] dslounge commented on #22116
I just tried a brand new project using `0.57.3`, and trying HMR crashed the app. I wonder if it's something xcode related. I'm on Xcode: 9.4.1 still

[2018-11-16 05:34] giantss commented on #20423
same here

[2018-11-16 05:42] jiasongs commented on #22268
+1

[2018-11-16 06:29] vreality64 opened #22308 "mergeInto show console warning about pure object"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

## Description

[code in mergeInto](https://github.com/faceboo

[2018-11-16 08:05] mmazzarolo commented on #21967
I do. I think it might still be related to the `useEffect` issue discussed above.

[2018-11-16 08:56] shide1989 commented on #20423
@giantss i ended up adding the **libFishHook.a** library to my project's target and it solved my problem

[2018-11-16 09:07] fallenner commented on #19736
RN 0.57.4  android  default font thickening !!   why????

[2018-11-16 09:15] kelset commented on #22116
Uhm, nice catch! Can you, instead of relying on 0.47, try to fix the dep to

[code]

And let me know if it fixes it for you?

[2018-11-16 09:44] 1203556555 opened #22309 "IOS integrated react native 0.56.1, memory will not be released after the interface is destroyed."

[2018-11-16 09:52] jtreanor opened #22310 "Android projects with 'apply plugin: "com.android.library"' now fail to build"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

[code]

## Description

Any Android React Native project which

[2018-11-16 10:05] #22309 closed

[2018-11-16 10:21] AshleyRudland commented on #21154
After 3 days lost of this BS - removing `@babel/plugin-proposal-class-properties` from `.babelrc`/`babel.config.js` and run `react-native start --reset-cache` fixed it for me.

[2018-11-16 10:34] flexaddicted commented on #18692
Thank you!

[2018-11-16 10:37] 1203556555 opened #22313 "IOS integrated react native 0.56.1, memory will not be released after the interface is destroyed."
- [ ] Review the documentation: https://facebook.github.io/react-native
  - [ ] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: macOS 10.13.6
      CPU: (12) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2018-11-16 10:54] gianpaj commented on #21911
I got the same issue, but I can't reproduce it consistently:

iOS 12.1 Simulator on RN 0.56

<img width="300" src="https://user-images.githubusercontent.com/899175/48616990-de173400-e99d-11e8-898b-6c87bd8dc662.png" />

Code:
[code]
I'm using `<FormInput>` from `react-native-elements`

[2018-11-16 11:12] renishdeveloper opened #22314 "I want the click event of the Section list header"
How to make the section list header clickable in the Section list https://facebook.github.io/react-native/docs/sectionlist#rendersectionheader

[2018-11-16 12:05] #22314 closed

[2018-11-16 12:30] JeremyBradshaw7 commented on #14045
Yeah this needs to be reopened, there's still no solution other than the workaround given for Android as far as I can see.

[2018-11-16 14:02] riwu commented on #19307
-stale

[2018-11-16 15:11] sam1463 commented on #8169
Although https://github.com/dgladkov/react-native-uncontrolled-date-picker-ios seems to fix this issue, it doesn't support the `locale` prop, which is needed for a work-around to support 24 hour time, so it's not really a solution for this issue.

[2018-11-16 15:14] benhartouz commented on #18291
keyExtractor = { (item, index) => index.toString() };
this woked very well

[2018-11-16 15:20] jamalhassouni commented on #14968
Same issue.

[2018-11-16 15:38] JulienMalige commented on #21832
I think because I ran `/ios-install-third-party.sh`, mine was in `/third-party/glog-0.3.5/test-driver`

[2018-11-16 15:45] donatelucas commented on #22249
Besides the error pointing to all of the installation issues I pointed here, the error was solved by adjusting the variable that AppRegistry was pointing to. React-Native certainly needs a better way to explain this error, I lost 9h of work to this.

[2018-11-16 15:45] #22249 closed

[2018-11-16 15:50] userbq201 commented on #22307
fb sdk bug

[2018-11-16 15:50] #22307 closed

[2018-11-16 16:03] bcgilliom commented on #21768
This was happening for me with `react-native run-ios` and not in Xcode - changing to use command line tools 10.1 seems to have fixed it.

[2018-11-16 17:41] dslounge commented on #22116
@kelset setting metro to `0.48.2` did not work :(

[2018-11-17 00:05] #22023 closed

[2018-11-17 00:05] #19833 closed

[2018-11-17 00:05] #22207 closed

[2018-11-17 00:45] bearer-syntaxerror commented on #20288
I'm seeing it in my app on Android Oreo devices.
[code]

[2018-11-17 02:27] dkandari opened #22320 "Don,t learn react native."
I am js developer I have 5 year experience.
This is my personal experience.

 If you working react native. Then every time you getting native plugin error and your all time waist solve the native error without any write one line of the code your app.

If we solving the native error every time. when will we write code ?

Every time see the react native official website. you getting version is chang

[2018-11-17 03:04] giantss commented on #20423
@shide1989 Thanks, I didn't see a similar problem after I recreated the new project.

[2018-11-17 03:05] #22320 closed

[2018-11-17 03:06] esprehn commented on #20262
This issue still exists. Bridge promises don't follow the spec.

[2018-11-17 03:31] gengjiawen commented on #22118
Also you need this patch https://github.com/facebook/react-native/pull/22293.

[2018-11-17 04:52] BodhiHu opened #22321 "[iOS][Android] Can't find variable: require (http://10.0.2.2:8081/index.android.delta ..."
- [√] Review the documentation: https://facebook.github.io/react-native
  - [√] Search for existing issues: https://github.com/facebook/react-native/issues
  - [√] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.

[code]

## Description
Encountering below issue for both andro

[2018-11-17 04:58] BodhiHu commented on #22321
maybe related to ```node_modules/metro/src/ModuleGraph/worker/JsFileWrapping.js```  ? :

[code]

[2018-11-17 05:17] shekfarith opened #22322 "Undefined is not an object(evaluating region.address_lat)"
![error1](https://user-images.githubusercontent.com/23051454/48657422-6d801e00-ea56-11e8-92c3-0ad250cfc986.PNG)

I am getting the error while running my react native project.
Expo version: 2.4.0
React native Version: 0.55.4
React native CLI: 2.0.1

[2018-11-17 06:05] #22322 closed

[2018-11-17 06:17] staticStone commented on #22170
Do not set the keyExtractor property of the Flatlist，It work for me.

[2018-11-17 07:10] kalraneeraj24550 commented on #17251
working fine for me

codeViewStyle: {

        height: 44,
        width: 160,
        marginBottom: 20,
        backgroundColor: '#eeeff3',
        alignItems: 'center',
        flexDirection: 'column',
        justifyContent: 'center',
        borderColor: '#969696',
        borderStyle: 'dotted',
        borderWidth: 1.4,
        borderRadius: 1,
        position: 'relative',

    }

[2018-11-17 07:18] akshaysargar commented on #18692
@phips28 , @km16 did you guys get any solution?
My app works fine on physical device when debugging over USB but the release apk crashes.

[2018-11-17 08:29] IljaDaderko commented on #21967
Not sure if anyone tried it yet but issues outlined here
https://github.com/facebook/react-native/issues/21967#issuecomment-438483674

Also happen in release builds and on physical devices, so its likely not linked to dev mode or simulator.

[2018-11-17 08:36] IljaDaderko commented on #22291
Hard to tell but at a first glance this might nor be react-native error, but rather access issue with file you are requiring?

[2018-11-17 09:10] gengjiawen commented on #19737
@dvicory I have no clue of the progress either, hope to hear from them soon

On the other hand, we are planning using the jsc.

[2018-11-17 09:36] chawax commented on #21074
It won't solve other problems with Babel 7 and Typescript, support of namespaces for example. And from what I understood it comes from architectural constraints, so it won't be solved soon. If Babel 7 doesn't support the whole Typescript, it can't be the right choice for React Native with Typescript.

[2018-11-17 09:52] MahmoodBakhshayesh opened #22323 "slow animation in first time"

[2018-11-17 09:54] #22323 closed

[2018-11-17 10:29] yaronlevi commented on #17361
This is pure magic! (-:

[2018-11-17 11:43] #20675 closed

[2018-11-17 11:45] triplea24 opened #22324 "TextInput looses focus when wrapped in a HOC"
## Environment

  React Native Environment Info:

	System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i7-3820QM CPU @ 2.70GHz
      Memory: 74.63 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.12.0 - /usr/local/bin/node
      Yarn: 1.12.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS

[2018-11-17 11:54] abkiran commented on #19485
None of the above solutions worked for me

[2018-11-17 12:15] abhijit-padhy commented on #18899
Try adding -- --reset-cache to your run command.
*for Linux OS

Ref:
[](https://www.reddit.com/r/reactnative/comments/8mlelt/hot_reloadinglive_reload_stopped_working_how_do_i/)

[2018-11-17 12:48] pooyakn commented on #22157
I have exact same problem with new react native project and a touchable opacity component on windows 10.
I don't know how, but the exact same code runs fine on Linux (Opensuse Leap 42.3).
Also react navigation doesn't. It's frustrating.

[2018-11-17 13:21] kay-is opened #22325 "React-Native app shows white screen on signed APK"
## Environment
[skip envinfo]
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz
      Memory: 543.56 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.1.0 - /usr/local/bin/node
      Yarn: 1.3.2 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS

[2018-11-17 13:48] phips28 commented on #18692
@akshaysargar I updated to the latest RN 0.57 with the new metro bundler. then it worked

[2018-11-17 14:10] Frexuz commented on #18899
How can this get screwed up? It's promised out-of-the-box, as we all expect it to be, and work. 🤦‍♂️
0.57.5

[2018-11-17 15:43] creativefctr commented on #20398
Same issue here!

[2018-11-17 15:59] fantasy525 opened #22326 "Module `AccessibilityInfo` does not exist in the Haste module map --0.57.5 android"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
      Mem

[2018-11-17 17:35] tufailra97 opened #22327 "Out of memory on press TouchableOpacity"
## Environment
 Expo CLI 2.4.0 environment info:
    System:
      OS: Windows 10
    Binaries:
      Yarn: 1.9.4 - ~\AppData\Roaming\npm\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5056338
VS Code

=========

  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: x64 Intel(R) Core(TM) i5-8250U

[2018-11-17 18:11] tufailra97 commented on #22327
@react-native-bot  Updated the environment

[2018-11-17 19:41] grabbou commented on #22274
Another way to try reproducing the #2 case is to run:
[code]
and then, try running the Android app. This is how I stumbled upon this issue while initing an app with `master` of React Native.