[2017-05-17 08:23] mtyang opened #14016 "is BUG? Swift UIButton action not work"
I use Swift to write the react native components， I'm going to try to write a simple UIButton components, but events can't trigger, I then tried the UISwitch, also won't work。

[code]

React Native 0.44
Swift 3.0
Xcode 8.3

[2017-05-17 09:16] dualcyclone commented on #13754
I'm seeing this in React Native version: 0.40.0

[2017-05-17 09:19] wicharek commented on #11180
Hi. Did you figure out what was wrong?

[2017-05-17 09:27] dobrienlzd opened #14017 "Documentation for doing a sharable debug build on Android?"
I don't see any documentation on how to create a debug.apk that can be shared and run on Android devices without switching ports etc.   What steps need to be done a debug build. I want a apk that does not produce bridge errors etc when it is released. Is this possible?

Just to clarify I am not talking about how to debug on a device. My question is how can I create an debug APK that I could give t

[2017-05-17 09:34] zongwan commented on #7308
Thanks

These help a lot.
https://github.com/facebook/react-native/issues/7308#issuecomment-228638046
https://github.com/facebook/react-native/issues/7308#issuecomment-230198331

`vi node_modules/react-native/local-cli/runIOS/runIOS.js`
https://github.com/facebook/react-native/blob/master/local-cli/runIOS/runIOS.js#L100

make sure which one is existed and find it
[code]

[2017-05-17 09:39] aleinnocenzi commented on #12981
Same issue here with firebase 3.9.0

[2017-05-17 09:43] Aleksion commented on #13981
I'm  having the same problem. The first one fires as it should, but subsequent ones doesn't. I've only tested it with repeatInterval "minute", but I'm going to record back once I've had time to verify that it's the same for "hour" as well

[2017-05-17 09:48] lingz commented on #5351
Would love to see a working android example

[2017-05-17 10:11] sopaco opened #14018 "[OPTIMIZATION]too many threads in runtime (android), consider to reduce the thread useage"
[OPTIMIZATION]too many threads in runtime (android), consider to reduce the thread useage

[2017-05-17 10:12] gigeos commented on #7308
@zongwan I set Custom to Relative Path and set build/Products value because I have ios/build/Products. That was your case ?

But in your link I see
[code]

So I miss something?

[2017-05-17 10:47] #14016 closed

[2017-05-17 10:53] JuanbingTeam commented on #13058
@cinder92  same issue ~

any suggestion?

[2017-05-17 10:59] darrachequesne commented on #13991
@deanvaessen if I may intervene, I think @Nibbler999 is right here, it seems there is an issue with `XMLHttpRequest` implementation, it shouldn't throw "The response type cannot be set after the request has been sent" [here](https://github.com/socketio/engine.io-client/blob/3.1.0/lib/transports/polling-xhr.js#L247):

[code]

Using `{ transports: ['websocket'] }` (that is, disabling the xhr-polling

[2017-05-17 11:01] zongwan commented on #7308
@gigeos
Yes, so I restore it in **Project Settings**.
` Custom to Workspace` =>>> `Xcode Default`

At last : `ios/build/Build/Products`

[2017-05-17 11:12] skv-headless commented on #12981
If it bothers you just add `console.ignoredYellowBox = ['Setting a timer'];`

[2017-05-17 11:22] RWOverdijk commented on #12981
@skv-headless Opinion incoming. :)

In my opinion that attitude towards problems needs to go away. I've been seeing it pop up more often and it's causing people to ignore warnings. They're warnings. They warn you. Don't ignore them, do something. I've seen apps where all warnings just get ignored, even deprecation notices. Then your app breaks and you're left wondering why.

In this case, you can

[2017-05-17 11:47] stoffern commented on #14018
Please be more spesific..

[2017-05-17 11:53] stoffern commented on #13984
This issue will be fixed in this PR https://github.com/facebook/react-native/pull/11962

[2017-05-17 12:13] alioguzhan commented on #10032
@tybro0103 's solution worked for me. But note that there are many of `HEADER_SEARCH_PATHS` in `*.pbxproj` file. Find all and make sure all formatted well.

[2017-05-17 12:38] gigeos commented on #7308
Solve it! For information:

- I use RN v 0.44 (the latest)
- I setted `$(PRODUCT_BUNDLE_IDENTIFIER)` for Bundle Identifier in info.plist (Xcode 8.3)
- **I set the bundle identifier in general -> Bundle Identifier**
- Then run build again with Xcode (which will fail)
- then run  command`react-native run-ios` with success !

[2017-05-17 12:59] zackify commented on #13671
It works fine when I call that method in my own component. Doesn't seem to
be a bug with React native but rather that 3rd party library. I did the
exact call to get all media types and it worked fine for me, so I closed.
On Wed, May 17, 2017 at 00:40 Alex Roman <notifications@github.com> wrote:

[2017-05-17 13:25] igroz777 opened #14020 "React-Native 0.44.0 + react alpha 16: Bugs"
### Description

Created a new app with react-native init.

Installed app on emulator. Ran dev server. White screen on emulator. Restarted dev server. No change. Reinstalled app on emulator. No change. Restarted emulator. No change. Restarted emulator again and dev server. App showed up. Restarted system. Ran app on emulator. White screen again.

Above happens off and on. I tried creating a new ap

[2017-05-17 13:47] paulordbm commented on #9665
I have the same issue with 0.44.

[2017-05-17 13:51] FMGordillo commented on #6365
@laurent-descrivan That little workaround it could solve you, but to me, first it was "path", then "fs", and it stays there (even If I do `npm i --save fs` it gives the module error)

[2017-05-17 14:04] StevenTB commented on #11891
@AndrewJack This workaround works well. You saved my day !

[2017-05-17 14:11] npomfret commented on #9498
I have the same error when running `react-native run-android --variant=release` on a physical android 5.0 device. @damathryx you closed the issue - did you solve it?

[2017-05-17 14:14] npomfret commented on #7836
I'm getting this error too:

`com.android.ddmlib.InstallException: Failed to install all `

When trying to run on a physical android 5.0 device. Very suck...

[2017-05-17 14:19] bharath-kamath commented on #11950
@sibelius Please reopen this issue as its still not fixed.

[2017-05-17 14:26] sibelius commented on #11950
@bharath-kamath I recommend to move to `FlatList` instead of using `WindowedListView`,

and open another issue if you have the same problem with `FlatList`

[2017-05-17 14:31] stonecold123 commented on #11955
@mehcode
I'm on the verge of giving up the idea of embedding youtube video. How do you use **react-native-video** with online youtube url? Do you download the youtube clip first then play the mp4/flv with **react-native-video**?

[2017-05-17 14:35] antoinerousseau commented on #12988
Yes my user solved it by installing the Google Keyboard, but it doesn't solve this bug (that could indeed be Samsung's)

[2017-05-17 14:51] agersoncgps commented on #11588
You can also turn on remote debugging and see the errors in the console. They are copiable from there.

[2017-05-17 15:08] parkerproject commented on #1967
I decided to use [https://github.com/expo/react-native-infinite-scroll-view](https://github.com/expo/react-native-infinite-scroll-view)

[2017-05-17 15:15] sarovin commented on #1831
I have the same problem with ListView/FlatList and react-navigation.
I have fixed it with `lazy: true` in the TabNavigator options and removeClippedSubViews={false} in ListView

[2017-05-17 15:41] dmackinn commented on #13739
I'd like to see this as well

[2017-05-17 15:49] guidouil commented on #7308
I had an issue with McAffee Agent running on8081 port fixed it with un-install and reboot :
https://community.mcafee.com/thread/94244?start=0&tstart=0

[2017-05-17 15:58] deanvaessen commented on #13991
@darrachequesne Thanks you for the input! That's a fair point, I agree. In that case I will reopen the ticket and let the developers chime in on how to proceed.

[2017-05-17 16:13] yonatanmn commented on #3198
@wollld - what about it? should work as far as I see

[2017-05-17 16:13] npomfret opened #14021 "android build creating too many DEX files"
I'm getting a ClassNotFoundException.  It seems that the default android build is creating an APK that has over 100 DEX files in it (mine has 138!) which isn't apparently allowed on API 21 and 22 devices.

There some more info [here](https://issuetracker.google.com/issues/37134279).

[2017-05-17 16:15] grtickle commented on #10371
@alexblack Did you find a solution to this?

[2017-05-17 16:22] hramos commented on #14018
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-17 16:22] #14018 closed

[2017-05-17 16:40] dualcyclone commented on #10517
I've encountered an issue with this whereby, if you have multiple text fields (eg, a username and password field), the view will jump around when navigating between the fields.

Nothing overly special settings wise, just ```<KeyboardAvoidingView behavior={'padding'} style={...}>```

And on first focusing a field in this arrangement, the first field will jump to the top of the screen initially

[2017-05-17 17:19] aroth commented on #1167
From https://blog.bam.tech/developper-news/add-a-custom-font-to-your-react-native-app

In my case:

`Intelligent Design - Averta-Bold.otf` had to be renamed to `Averta_bold.otf` (along with 15 other variations).

[2017-05-17 17:32] chrise86 commented on #1391
@dvine-multimedia did you ever manage to manipulate the underlying scroll view for a multine input? I have a similar situation where I need to scroll the text input to the bottom after bulk text is inserted.

[2017-05-17 18:07] oallouch commented on #13900
Same here
And "adb devices" shows me my emulator, of course.

[2017-05-17 18:09] parkerproject commented on #14015
mine doesn't even trigger.

[2017-05-17 18:37] sinujohn commented on #3234
Is this no longer supported? I can see this is removed in version 0.29

[2017-05-17 18:42] hramos commented on #13900
Like I said above, I just went through all the steps on a clean machine and had no issues. If anyone can pinpoint if there's a step that is missing, or an assumption that the guide makes about the user's machine, that could help.

[2017-05-17 18:50] stoffern commented on #14020
your app code? sounds like you need a `{flex: 1}` style

[2017-05-17 19:20] anncatton commented on #5586
I've been getting this issue with the thumbImage for a Slider, but all my images are sized with matching ratios: 1x(40x40), 2x(80x80) and 3x(120x120). But my error says the loaded image size is {0,0} so I'm not sure if it's the same as the above issues?
![handleslidererror](https://cloud.githubusercontent.com/assets/5624601/26171342/9bfcdf4c-3b12-11e7-8e20-21c2305de2e1.png)

Anyone else experience

[2017-05-17 19:38] SteffeyDev commented on #9581
I can confirm that in RN 0.44 cached images in iOS are not working, using "force-cache" simply reloads from URL and using "only-if-cached" does not load the images at all, despite the images having been loaded previously using the same url.

[2017-05-17 19:43] oallouch commented on #13900
Ok, I found my problem.
I was running it from the conemu terminal and I was getting error messages with black text on a black background.
For me, the issue was a bad JAVA_HOME env var.

Hope that helps.

[2017-05-17 19:50] parkerproject commented on #1967
I had a similar issue of `onEndReached` not called but after playing around I discovered it had to do with the UI components(Native-Base) library I was using.
I suggest using the FlatList with no parent component and see if it works.

[2017-05-17 20:05] robertsimoes commented on #4968
@msqar
Thank you.  😆😵
![](http://imgur.com/nFAHAMM.png)

[2017-05-17 20:14] msqar commented on #4968
@robertsimoes hahaha glad it worked for you too, mate!

[2017-05-17 21:04] objectivesheep commented on #5586
The sizes need to match and be perfect multiplications in their 2x and 3x
forms. If you have img at 20*20 make sure that your 2@ and 3@ are exact
multiplications. If not rn will complain. It might be any one image in the
triplet... not necessarily the 1x

Op wo 17 mei 2017 om 21:21 schreef Ann Catton <notifications@github.com>

[2017-05-17 21:04] kpogz commented on #2133
I am also finding that CMD+D does not work while CMD+R does. just upgraded RN from 0.40 to 0.44
it is not an issue with keyboard being enabled, i have checked this. note that i run the project from xcode, starting npm server myself beforehand ("node node_modules/react-native/local-cli/cli.js start"). i do not use react-native run-ios (cmd+d works in this case). i need it to work when running from

[2017-05-17 21:17] anncatton commented on #5586
The error complains about the 2x image, although the size it gives is the 1x dimensions. All 3 are definitely exact multiples - 40, 80 and 120.

[2017-05-17 21:42] zachlucas commented on #13988
After removing my rich notification target, the project compiles and runs fine.  Anyone else use React Native with an app extension target?

[2017-05-17 23:11] thebigredgeek opened #14024 "AsyncStorage#removeItem returns null rather than a Promise"
### Description

[code]

yields

[code]
* React Native version: 0.43.2
* Platform: ios
* Development Operating System: osx
* Dev tools: expo, atom, unix cli

[2017-05-18 00:49] fengshanjian commented on #14015
@parkerproject
My paltform is ios 10.3,mac osx 10.12.5

[2017-05-18 00:55] jordanpapaleo commented on #14024
This is from 0.43.2

Here is the code for removeItem and yes it does return a promise.

[code]

Using your code in my app:

[code]

Also resolved is logged for me.

[2017-05-18 01:01] oliverbenns commented on #10180
Fixed my issue thanks @koenpunt .

[2017-05-18 01:11] areyoueye commented on #6390
On linux I ran into this issue because it was trying to launch chrome with the command `google-chrome`  I only had chromium installed, so I used created a symlink in /usr/bin/ like:
[code]

[2017-05-18 01:17] elantion commented on #11803
I am facing this issue too. Using almost the same environment. Why was this issue closed? I follow the get-start tutorian and came out this issue. I think this should be an issue not a question.

[2017-05-18 01:29] danidewitt commented on #7009
+1

[2017-05-18 01:58] damathryx commented on #9498
@npomfret no. i just install the apk manually for debug or relase by `adb install`

[2017-05-18 01:58] julesmoretti commented on #11020
@mkonicek - It seems to now be supported... https://github.com/facebook/react-native/pull/10999

Could someone please merge this pull request and add docs to how to use it?

Thank you.

[2017-05-18 02:15] danidewitt commented on #637
+1

[2017-05-18 02:16] jhabdas commented on #6390
Sadly when we create new toys sometimes to make life seemingly easier, we in fact make it more complex.

[2017-05-18 02:28] xareelee opened #14026 "Failed prop type: prop type is invalid (Text.propTypes.style.isRequired)"
### Description, Reproduction Steps and Sample Code

I wrote a React Native component:

[code]

Run `jest --watch`, and it shows warning:

[code]

After deleting the `isRequired` in the line `textStyle: Text.propTypes.style.isRequired`, the warning is gone, but I need this `prop` to be `required`.

### Additional Information

* React Native version: 0.44
* Dev tools: while jest testing

[2017-05-18 02:46] DevilMayCry4 opened #14027 "SectionList horizontal"
Is SectionList support  horizontal layout,like a grid view with section header?

[2017-05-18 02:55] ecbrodie commented on #12754
@zachrnolan an issue I have with your steps is that unlinking watchman and then installing it will not do anything. Furthermore, watchman will not even be in the PATH anymore because it is not linked. Here is the output from `brew install watchman`, which I expected:

Nonetheless, after following your instructions, I am still running into this error. Hopefully someone from the React-Native core de

[2017-05-18 03:25] thebigredgeek commented on #14024
Interesting.  I am definitely NOT seeing that behavior.  I literally ran the above code I pasted in my Expo app and out comes `null` rather than a Promise.  I actually discovered this because I was attempting to interact with the result as a Promise... which was causing a reference error.  Took me 30 minutes to figure out just how bizarre the problem was

[2017-05-18 03:27] AlphaDu opened #14029 "in 0.44 packager doesn't start automatically"
In window10 , after execute command "react-native run-android" and when apk built complete,packager.sh will excute  automatically in previous version ，but in 0.44,afer Build Successful, nothing happen~

[2017-05-18 03:28] zhangyao0328 commented on #13797
same problem，The solution?

[2017-05-18 03:55] idibidiart opened #14031 "FlatList doesn't call onEndReached if 'refreshing' is false"
### Description

If I set \the `refreshing` prop to false on FlatList it fails to call onEndReached. I tried different 0-1 values for the Threshold to no avail.

### Reproduction Steps and Sample Code

[code]

### Solution

If FlatList is built entirely in JS I might be able to help debug this issue. I'm also worried that my Row component might be doing something that interferes with FlatList.

I'

[2017-05-18 04:04] minhphung210 commented on #14002
same  issuses

[2017-05-18 06:40] dalufine opened #14032 "undefined is not an object(evaluating 'ViewPropTypes.style')"
### Description

When i clone a project from git, after **'npm install'** **react-native run-ios**,the error coming.But others in team can run success.

### Reproduction Steps and Sample Code

![](http://ww4.sinaimg.cn/large/006tKfTcgy1ffpiaxezb3j30ku12ate8.jpg)

### Additional Information

[code]

[2017-05-18 06:47] dphans commented on #1581
@marcshilling I think set style `paddingTop: 64` is not solve the problem. Because if screen change orientation to landscape, the scene will display not good, because in new state, UINavigationBar height is smaller than 64.

[2017-05-18 06:53] mayurbaldha commented on #8547
I have SDK installed on D:\Tools\Android on windows machine
Trying sdk.dir = D:\Tools\Android,

but no luck.

[2017-05-18 07:02] SnehaGindi commented on #12077
Open 'Build Settings', search 'Header Search Path'.

Double click next to 'Header Search Path', where other properties have a 'yes' or 'no'

Now add following to the "Header Search Path" (under Build Settings):

$(SRCROOT)/../node_modules/react-native/React

Make it recursive.

[2017-05-18 07:16] ismdcf commented on #11897
try using
`                borderWidth: StyleSheet.hairlineWidth,
`
might work

[2017-05-18 07:31] #14032 closed

[2017-05-18 07:43] zongwan opened #14033 "[FlatList] looks weird after call `scrollToEnd()`, add a gif"
[code]
`scrollToEnd()` without enough items then FlatList never comes back to top every time .

![before](https://cloud.githubusercontent.com/assets/1185694/26242273/657f0180-3cba-11e7-9360-49269fd1bb2f.gif)

core code
[code]

I don't know when will fetch action finish with redux-saga, so I do `setTimeout`. (sad for self)
Could you tell me how to trigger view's method after fetch action in a prefe

[2017-05-18 07:48] vikkio88 opened #14034 "packager prints out logs from chrome"
Hi, I am working developing a react-native app, and at some point a friend, send me a link of a diving centre, I went and browse around using Chrome, but for some reason I got logs of chrome into the packager console... how is that possible? is it an issue? what is happening in here?
Is the packager somehow sending out my browsing history?
![peek 2017-05-18 08-44](https://cloud.githubusercontent.c

[2017-05-18 08:04] vikkio88 commented on #14034
oh jesus, I find out that is the website that is poiting at the packager, thank god lol.

[2017-05-18 08:04] #14034 closed

[2017-05-18 08:16] eaintphyo commented on #8868
I got the same error on windows. Could you give me some solutions?

[2017-05-18 08:27] hielfx commented on #11200
Running `yarn install && npm dedupe` worked for me too (an alternative solution of @susanner23 's solution)

[2017-05-18 08:34] Razzeee commented on #8547
Try `\\` instead of `\`

[2017-05-18 09:20] nixoz commented on #13925
Same here after updated on 0.44
Somehow started work on simulator, but not on device....

[2017-05-18 09:25] sunkibaek commented on #13925
@shahen94 Thanks for the explanation. I've used your tip to fix it on simulator but on device (reelease mode) it shows nothing.

[2017-05-18 09:36] sefel opened #14035 "Getting startet should be edited for new Android Studio because it doesn't work"
New version of Android Studio is not compatibile with Getting startet description of react-native. It need update.

[2017-05-18 09:49] Altusvdm commented on #3282
I was experiencing this issue on Views and managed to work around it by adding empty onLayout as suggested.

However now I am trying to measure a ScrollView and adding onLayout did not fix the issue. I managed to work around it by wrapping all the content of my ScrollView with a View, adding an empty onLayout to that View, and then measuring that View.

[2017-05-18 09:50] JobsSteve opened #14036 "libreactnativejni.so", RTLD_LAZY) failed: dlopen failed: cannot locate symbol _ZSt14__once_functor"
### Description

I have tried to integerate react native component to my existed android app. But failed for reasons below:
[code]
I followed the facebook's guide, but failed every time, I donnot know why and hope anyone can help me. Thanks.

[2017-05-18 09:54] Exilz opened #14037 "[FlatList] onScroll's event is "stuttering""
I'm trying to implement a ScrollView that animates the Y position of a slider.
My `ScrollView` is actually a `FlatList`, and I'm using `onScroll` to animate the position of my slider.

I tried to use a `Animated.View` and use `position.setValue` in the `onScroll` event.
I also tried to use `ref.setNativeProps` to see if that speeds things up a bit, but the result is exactly the same.

It made me u

[2017-05-18 09:58] benderlidze commented on #14015
Yep, got the same - fires 2 times. But if you are using redux or even state - you can use something like this
[code]

[2017-05-18 10:00] yasserzubair commented on #3198
+1

[2017-05-18 10:17] CC10559 opened #14038 "update flastlist datasoure when i call setState throw an error"
### Description

i have a flatlist and a function named pressRow,when i press a row,called the function,then i have to change the corresponding attributes and update flatlist
then throw a error like this:
`Unhandled JS Exception: You attempted to set the key `content` with the value `"男"` on an object that is meant to be immutable and has been frozen.`

this is my pressRow function
`_pressRow(rowD

[2017-05-18 10:29] EdmundMai commented on #3198
+1

[2017-05-18 10:35] JobsSteve commented on #14036
PS: it's rn0.44

[2017-05-18 10:45] isaacalves opened #14039 "App doesn't update on iOS Simulator"
From the [Getting Started documentation](https://facebook.github.io/react-native/docs/getting-started.html):

I modified some text `index.ios.js` but I can't see any change on the Simulator when I reload. I can see it reloading though, so it's not the "Connect Hardware Keyboard" issue. And even if I close the simulator and run `react-native run-ios` again, I still see the old text.

Am I missing s

[2017-05-18 11:00] stoffern commented on #3198
Please....
Stop +1 ... Upvote it here: https://react-native.canny.io/feature-requests instead.
Stop spaming workarounds, they dont solve the issue, feel free to create a PR to fix it instead.

Could we please lock conversations until the issue is solved or there exists a PR to solve it?
@astreet @hramos

[2017-05-18 11:02] scarlac commented on #10718
@mountainmoon Too long time passed so I had to move on. I'm now working on other projects, so I unfortunately don't have the time to fix the issue that was raised by @arsen

If you can fix the issue I think @hramos will be willing to reopen it

[2017-05-18 11:04] ptomasroos commented on #14021
This is because there's too many dependencies in your android app usually. We've been running single dex with reducing dependencies and running multi-dex as well when we had more dependencies. But yes we're not targeting 21 and 22. But I can't really see how this could be a implication of react-native really.

[2017-05-18 11:05] ptomasroos commented on #14002
Are you using compile 'com.facebook.fresco:animated-gif:1.0.1' in the build.gradle?

[2017-05-18 11:06] stoffern commented on #9385
dupe https://github.com/facebook/react-native/issues/3198
@hramos 😉

[2017-05-18 11:14] stoffern commented on #10807
Works on iOS not on Android.
Android has a issue on it here: https://github.com/facebook/react-native/issues/3198

as @christopherdro said: answered
this can be closed @albinhubsch @hramos 😉

[2017-05-18 11:46] nixoz commented on #13925
http://blog.csdn.net/jiangbo_phd/article/details/71482363 - this helped.

npm uninstall react-native-windows
react-native start --reset-cache

[2017-05-18 11:52] ayunawani opened #14041 "Unable to access jsContext using bridge in v0.45.0-rc.0"
### Description

I am trying to access react-native's jscontext using RCTBridge in my **NativeModule**.

In v0.44.0,
i am able to access it using  `[self.bridge jsContext];`.

But in v0.45.0-rc.0,
i am getting error : `No visible @interface for 'RCTBridge' declares the selector 'jsContext'`

[2017-05-18 11:54] isaacalves commented on #14039
Solved by running `react-native start` in parallel... maybe that's missing in the Getting Started documentation?

[2017-05-18 12:41] ibedek commented on #14039
Packager didn't start automatically. Could be related to #14029

[2017-05-18 12:45] pietropizzi opened #14043 "AccessibilityManager.setAccessibilityContentSizeMultipliers exception"
### Description

Since upgrading to React Native 0.44 (from 0.43) when calling `AccessibilityManager.setAccessibilityContentSizeMultipliers` I get this red screen

![simulator screen shot 18 may 2017 13 58 48](https://cloud.githubusercontent.com/assets/410305/26202521/06f5b2ea-3bd8-11e7-990a-8954223f6995.png)

### Reproduction Steps and Sample Code

We call this method in our root component's `com

[2017-05-18 12:50] chetankothari commented on #14032
Facing the same issue, how did you end up solving it. Stuck with it for quite some time now.

[2017-05-18 13:04] oklivePOP opened #14044 "keyboardavoidview padding before time with list view and fixed textinput"
### Description
problem with ios **keyboardavoidview**
i have screen that build from 3 component
header - fixed
listView
TextInput -fixed

the problem is when i use  keyboardavoidview  the padding come before the key board and it look bad (broken)

![ezgif com-crop](https://cloud.githubusercontent.com/assets/28393667/26203306/626fe572-3be3-11e7-8c1c-4e8de1b8e675.gif)

in this gif it happen above t

[2017-05-18 13:21] teyou commented on #5187
I had the same issue which running on RN 0.38
Device: OPPO X9079
OS: Android 5.1.1

Totally no idea why this happened

[2017-05-18 13:24] iggyfisk commented on #13467
I'm not exactly sure when this was fixed but it's fixed now, thanks boys!

[2017-05-18 13:24] #13467 closed

[2017-05-18 13:32] ReDetection commented on #4264
Well, Navigator is deprecated and removed from default package. What is recommended solution now?

[2017-05-18 13:34] iggyfisk commented on #13198
This is fixed as of https://github.com/facebook/react-native/commit/7b7d6bb1583eada246de17d4c33b5fd37ba8ce0c @skv-headless

[2017-05-18 14:20] vijayst commented on #2556
@adambene For me, importing 'whatwg-fetch-timeout' in all files did not work. I tried the idea by @clshortfuse. The following code did not work:

[code]
I used `timeoutFetch('login', {timeout: 10000, method: 'PUT'});`. The call timed out in 90 seconds.

[2017-05-18 14:21] vijayst commented on #2556
@adambene Also, why should whatwg-fetch-timeout be imported in all files? Since, we are patching, should it not be done in the main file, say index.android.js?

[2017-05-18 14:31] coderabsolute commented on #8868
Am running into similar issue and am not sure how to @cyprusglobe's solution....

[2017-05-18 14:37] nickkapoor commented on #13925
I have a component that relies on react-native-windows.  node_modules/react-native-windows/Libraries/Components/Button.windows.js'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object.fs.readFileSync (fs.js:508:33)

So removing react-native-windows does not work.  As a side effect of this issue, I am not seeing Text display on the device but shows up on the simulator.

[2017-05-18 14:43] AlanFoster commented on #12679
@arnsa Not sure if you found out your answer or not; But based on https://youtu.be/0MlT74erp60?t=11m44s you have to compile your own dynamic library for your specific iOS simulator

[2017-05-18 14:45] nazarTrynko opened #14045 "Disable keyboard"
Hi, I'm using View as a custom keyboard. Is it possible that default Keyboard is not showing when TextInput is in focus?

[2017-05-18 14:46] idibidiart commented on #14031
@sahrens

Summary:

FlatList fails to call onEndReached unless 'refreshing' is set to true. Tried different Threshold values from 0 to 1.

[2017-05-18 14:51] nixoz commented on #13925
@nickkapoor mate, it's

`May 18 23:06:46 nimbp PhiMobile[76266] <Warning>: Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.

	Check your code at Text.windows.js:254.
	    in Text (at YellowBox.js:170)
	    in RCTTex

[2017-05-18 15:19] kwelch commented on #10257
I have similar issue where it does not work from Android Studio but it works from the command line.

[2017-05-18 15:23] vijayst commented on #2556
@ajwhite I published react-native-fetch-timeout. It seems to set the timeout on xhr. But ontimeout callback is not triggered after the timeout has elapsed.

[2017-05-18 15:32] sahrens commented on #14031
You shouldn't wrap lists or other ScrollView insude ScrollViews - it just breaks things unless you are very careful with your styles.

If removing the wrapped ScrollView

[2017-05-18 15:32] #14031 closed

[2017-05-18 15:33] sahrens commented on #14031
If removing the wrapping ScrollView doesn't fix the issue, feel free to update and reopen.

[2017-05-18 15:43] idibidiart commented on #14031
That did it @sahrens ... I had copied it from a source that used React Native Element's List component as a wrapper and so I just replaced with ScrollView thinking the scroll handling was done by the ScrollView and FlatLIst listened to events from ScrollView. Assumed FlatList was a pure JS implementation. Good to know! Thanks.

I'm going to run a few tests like giving items random height dynamical

[2017-05-18 15:56] slicksammy commented on #7308
I installed the newer version of Xcode but for some reason still had an older version around as well. There's a config file somewhere that specifies which version to use. You have to update it by running `xcode-select --switch "/Applications/Xcode.app/Contents/Developer/"`...and finally the build SUCCEEDED

[2017-05-18 16:18] linoleum00 commented on #13845
In my case, the View inside the TouchableOpacity doesn't have the position absolute style, but if you press gently enough, it does work, but if you press normally then it doesn't work.

I have seen some post in which the solution is to use onPressIn instead, and it does the trick but when you have a bunch of touchables inside a scroll view, then you can't scroll because the onPressIn is called imm

[2017-05-18 16:19] ericwooley opened #14046 "Config for react-native link"
I have come across a few native module packages that break my build for android, but work fine on IOS, so far the main culprit has been needing to target different API levels.

https://github.com/oblador/react-native-keychain for example, requires 23+ but I need to target api 19. So i need to implement two solutions, one for android and one for ios.

The ios version of react-native-keychain works

[2017-05-18 16:25] Leeds-eBooks commented on #13845
@linoleum00 Another related reason why this solution is unsatisfactory is that if you use `onPressIn`, the user can't cancel their tap by moving their finger away, which is a fundamental aspect of touch interaction.

[2017-05-18 16:26] ivankashtanov commented on #10515
@vvavepacket I've also encountered this error. Deleting debug build of the app before installing release build helped in my case.

[2017-05-18 16:54] yanweimin7 commented on #14009
sb

[2017-05-18 17:29] dbertella opened #14048 "[FlatList] Item remain grey after pressed on it on android"
### Description

I have a FlatList with TouchableHighlight as items, when press on them they remain dark grey until the next refresh

### Reproduction Steps and Sample Code

[code]
On iOS seems to work correctly.

### Possible solution
More a workaround then a solution, switched to TouchableOpacity seems to work ok.

### Additional Information

* React Native version: 0.44.4
* Platform: Android
*

[2017-05-18 17:42] chetankothari commented on #14032
Sorry, this is not related to `React Native`. The problem was with a version of `@expo/ex-navigation`. [Link](https://github.com/expo/ex-navigation/issues/473) to the issue.

[2017-05-18 17:56] cherick04 commented on #2711
I just ran across the same issue. I was doing everything suggested in the [documentation](https://facebook.github.io/react-native/releases/next/docs/getting-started.html) but no luck. What you need to do is open your project through Android Studio, click on the AVD manager icon in the toolbar and run your AVD. Then, run `react-native run-android` in your terminal.

[2017-05-18 18:19] spencewine commented on #11989
+1 RN 0.42.0

[2017-05-18 18:29] israelidanny commented on #13562
This is actually something I'm trying to do as well. Would love to know the answer.

[2017-05-18 18:42] zackify commented on #13299
This is happening to me as well, only when I build for release :(

[2017-05-18 19:06] lucasbento commented on #4470
The same thing happened here with RN `0.44.0` running on Android.

[2017-05-18 19:24] agrass commented on #3387
Hi! I changed the setMaximumSize but still having problems.  I get this error: `Couldn't read row 0, col 0 from CursorWindow`

[2017-05-18 19:26] agrass commented on #12529
Any recommended solution for this?? use react-native-fs?

[2017-05-18 19:37] githubdoramon commented on #4184
Why was this closed???? The problem remains... It is not possible to get the statusText on fetch requests... What can be done?

[2017-05-18 19:53] kevinfez commented on #14048
In their FlatList example they use the [extraData](https://facebook.github.io/react-native/docs/flatlist.html#extradata) prop to pass in selection state, and when that state mutates then the table will also refresh, perhaps that's the intended way to do this? Although I can confirm that TouchableOpacity will animate on press down and on press up.

[2017-05-18 21:36] nickkapoor commented on #13925
Thanks @nixoz So I am a bit confused now.

Are you suggesting that the react-native-windows is taking precedence in rendering the text?  And if so, why does the behavior vary between the simulator and the device.

To give a proper context, I am seeing this issue creep in for 0.44 RN.  I am using the gifted chat, which uses ParsedText.  The text displays correctly in the simulator but does not disp

[2017-05-18 21:42] tmilewski commented on #13365
Yeah, I'm running into this case as well. Attempting to use a `TextInput` to search a `SectionList` while still having it move with the rest of the items.

[2017-05-18 21:47] JAStanton commented on #12529
@agrass react-native-fs is a step in the right direction but it's quite slow. https://github.com/mvayngrib/react-native-safe-async-storage  has the right idea but it just needs to be re-written. Another option is to try to read from disk, if you fail catch the failure, dump your state, (full or partial) and keep moving on. I do both approaches in my app. Garbage collect, catch the failure, as well

[2017-05-18 21:59] JulianKingman commented on #13797
Npm i -g react-native-git-upgrade && react-native-git-upgrade

[2017-05-18 21:59] hramos commented on #13299
@cooperka issues that do not use the template are likely to be closed without explanation per https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md

[2017-05-18 22:00] #10807 closed

[2017-05-18 22:00] #9385 closed

[2017-05-18 22:06] Maftalion opened #14050 "Running forked react-native on iOS"
### Description

I am not able to run a react-native project using a forked repo on iOS. I made very little changes that worked on the main repo but when I tried to use my forked version, I ran into issues. The docs contain steps on building it for android but not for iOS. The error I'm getting when building through X-code is
`~/kiosk/node_modules/react-native ~
/Users/zzz/kiosk/node_modules/babel

[2017-05-18 22:41] atturnbull commented on #4968
@msqar

You are the real MVP. Saved me from scrapping my project.

[2017-05-18 23:58] msqar commented on #4968
@atturnbull  yea, i have no idea, it seems to be a bug related to npm packager maybe? looks like it's not being able to recognize that you have that react module added in your package.json and it's not installing it... even though you run through all that process of rm -rf /node_modules && npm install, etc, etc, etc... even cleaning packager cache doesn't solve it. So, don't know what might cause

[2017-05-19 00:02] nixoz commented on #13925
@nickkapoor - It is clearly just packaging/conflict issue between react-native and react-native-windows packages.

Why text is not rendered?
@cherniv have an example:

[code]

so the output will be:
[code]

internally it's represented as:
[code]
on iOS platform RCTText & RCTVirtualText are the same (check react-native's Text.js)

[code]
but in case of Text.windows.js it is re assigned to
[code]
wh

[2017-05-19 03:13] veb commented on #13074
If one scrolls down to the examples (http://facebook.github.io/react-native/docs/asyncstorage.html#examples) it shows you how to properly format it so that it works properly.

[2017-05-19 03:40] zhuyifan2013 opened #14051 "Textinput wrapped in another View causes maximum call stack"
### Description

TextInput usage  is wired.

### Reproduction Steps and Sample Code

My View hierarchy:

    A extends Component {
       render(this.props.innerView())
    }

    B extends Component {
       render(
          <A innnerView={this._renderInnerView}/>
       )
    }

And my innerView contains a TextInput .

In Android , My TextInput is below :

    <TextInput
                    sty

[2017-05-19 04:23] Gacnt opened #14052 "Cannot build for android"
### Description

[code]

I'm trying to run `react-native run-android` but I continuously get this error

I've built for iOS no problem, but can't seem to get the Android version to build.

I have my node_modules installed and I'm not sure what else to try, I've been googling for the last 2 hours and have come up with nothing.

And I have ran `react-native link`

### Reproduction Steps and Sample C

[2017-05-19 04:40] pavitran commented on #10094
Another lesson I learnt today, never rename the directory created by `react-native init <project_name>`.
for me this was the reason that caused this error.

[2017-05-19 05:08] dobrienlzd commented on #14048
Is item coming from an Array stored as state?  I think maybe no updates on property changes vs. state changes? Might have something to do with it ...

[2017-05-19 05:26] stoffern commented on #14045
See docs on `Keyboard` and `TextInput`

[code]

[2017-05-19 06:49] nazarTrynko commented on #14045
Unfortunately, this code also makes unfocus and Keyboard appears for 1 second, but I need TextInput to stay focused

[2017-05-19 06:56] kaberibasu commented on #1966
@sadafk831 awesome solution. Saved my time and effort at crucial time.

[2017-05-19 06:56] tatva-nisarg commented on #13944
Ok can you please suggest which version i need to be Upgrade?

[2017-05-19 07:07] zywj commented on #5823
+1

[2017-05-19 07:38] nixoz opened #14053 "react-native packager(or to be more precise - jest-haste-map) module resolution issue with 3rd party lib."
### Description

If react-native and react-native-windows installed together - the modules from latter considered being generic(g) by the packager(jest-haste-map). As result, we have broken app.

the initial discussion was started here: https://github.com/facebook/react-native/issues/13925

### Reproduction Steps and Sample Code

1. react-native init test
2. cd test && yarn add react-native-window

[2017-05-19 08:08] oldmilk commented on #5823
+1

[2017-05-19 08:12] fogmoon commented on #13806
@brentvatne
ico format not support in android in own app

@franciscofsales
Could you add test about ico format

[2017-05-19 08:13] progrmor commented on #11803
Re-opening the issue since no solution was found and lots of other people seem to have the same problem.

[2017-05-19 08:13] zhuyifan2013 commented on #13806
@fogmoon  I face the same problem!

[2017-05-19 08:19] cooperka commented on #13299
Wow, harsh policy @hramos. Seems like it hurts new contributors... explanations are always nice (e.g. the link you just sent is all that's needed).

[2017-05-19 08:33] ayunawani commented on #14041
Well for now i am able to access it using below code

[code]

[2017-05-19 08:33] #14041 closed

[2017-05-19 08:34] franciscofsales commented on #13806
@fogmoon and @zhuyifan2013, as seen [here](https://github.com/facebook/react-native/blob/66d51bb5d1f7df07694698094b2dbe6a6642a05c/packager/src/Bundler/util.js#L37-L43), ico is not handled as a picture, therefore should not be supported. Just in case I'm missing something, I gave it a try with a real device Android and iOS simulator and both failed.

@fogmoon I don't have my iOS device on me for th

[2017-05-19 08:35] Mbompr commented on #13542
Hi, I've got the same issue and it simply seems to be the direct cause of  android's new manifest keyword:
```<android:allowBackup="true">```
You can find more information [on android documentation](https://developer.android.com/guide/topics/data/autobackup.html) but quickly it says that app locally saved data might be backed up on Google Drive on the latest versions of Android. You can disable it

[2017-05-19 09:00] fogmoon commented on #13806
@franciscofsales
Thanks for your helpful information.

I also just used iOS simulator (iOS 10) which can render ico image correct. By your ref code, this is impossible.  So I am a little confused.

Whatever,  in my opinion, ico should be recognized as image format for the MIME type `image/x-icon`.  And now I had to think other method for my crawler-like app to show friendly `favicon.ico` of the we

[2017-05-19 09:07] franciscofsales commented on #13806
@fogmoon were you able to render the ico with react-native Image correctly on the iOS simulator?

I tried this setup and it just failed.
[code]

Also, I found this (issue)[https://github.com/facebook/fresco/issues/868] that is still open regarding fresco supporting `ico`.

[2017-05-19 09:12] goibibo-tarun commented on #9772
Same problem

[2017-05-19 09:54] cosmith commented on #11447
@facebook-github-bot close

[2017-05-19 09:54] #11447 closed

[2017-05-19 09:58] davidhellsing commented on #10865
If you feel brave, use a shell script to rename the native `postMessage`:

[code]

After running this script (you will need to do it after each `yarn` `npm install`), you can simply use:

[code]

inside your webView. IMO, this should be done a long time ago... there is a PR here for basically the same thing: https://github.com/facebook/react-native/pull/12997/files?diff=split

[2017-05-19 10:00] davidhellsing commented on #10865
I gave up on this and made a shell script that patches native code: https://github.com/facebook/react-native/issues/10865#issuecomment-302661876

Works flawlessly.

[2017-05-19 10:02] godLoveY commented on #12077
me too +2，someone can help me ?

[2017-05-19 10:25] dualcyclone commented on #4968
@msqar I've had to do this on several machines every time I update my repo with new commits... this is seriously annoying. I'm going to put this into a script so it does this every time I try and build 😒

[2017-05-19 11:06] FacuAcosta commented on #14052
Are you trying to run the app on an actual Android device or on the emulator?

[2017-05-19 11:14] kelset commented on #13889
Happening to me too on Android. Any idea for a workaround?

[2017-05-19 11:30] adambene commented on #2556
@vijayst because RN hacks fetch into the global. See: https://github.com/facebook/react-native/blob/dba133a29194e300e9a2e9e6753f9d4e3a13c194/Libraries/Core/InitializeCore.js#L182

[2017-05-19 11:30] YoranRoels opened #14056 "RefreshControl offset not functioning correctly for iOS."
### Description

When using a ListView / ScrollView with a RefreshControl setting the refreshing prop to true causes the RefreshControl to open appropriately. When doing this again, however, the RefreshControl will not show until the refreshing prop is set back to false.

### Reproduction Steps and Sample Code

First of all, because a good example is better than explaining this with a wall of text

[2017-05-19 11:33] adambene commented on #2556
For reference I have this question on StackOverflow: http://stackoverflow.com/questions/42495366/react-native-custom-fetch-polyfill

[2017-05-19 11:40] Gacnt commented on #14052
Emulator

On Fri, May 19, 2017 at 5:07 AM Facundo Acosta <notifications@github.com>
wrote:

[2017-05-19 11:43] alixeb opened #14057 "ListView scroll event stops Drag/Drop"
### Description

I am using `ListView` with `horizontal={true}`
The listview renders x numbers of `Card` component.
Each card can be dragged up to some drop zones
When the listview has a scroll, I can no longer drag a card up. The card does not move. It seems to freeze.

Drag and drop is done via https://github.com/deanmcpherson/react-native-drag-drop/tree/master/lib which provides some high order

[2017-05-19 12:13] nickkapoor commented on #13925
Awesome explanation. Thanks.

So are you suggesting I change the following as per your other blog?

at the same time, in jest-haste-map's lib/getPlatformExtension.js we have:

const SUPPORTED_PLATFORM_EXTS = {
  android: true,
  ios: true,
  native: true,
  web: true };
adding windows: true, to SUPPORTED_PLATFORM_EXTS dict will give us a fix:

[2017-05-19 12:17] nickkapoor commented on #13925
Additionally why does it work on the simulator and not on the device?

[2017-05-19 12:21] gotoAndBliss commented on #11781
This error occurs again on a fresh install of `react-native: 0.44.0`

[2017-05-19 12:40] nixoz commented on #13925
I guess, when u editing the react-native module file packager picking it up and rewriting the Text module, then packager picking it up from cache.

You can run packager with --reset-cache and everything will be broken again - until u edit the file again....

[2017-05-19 12:40] FacuAcosta commented on #14052
Try to create on the `android` folder in your react-native project a document called `local.properties` and inside this file type `sdk.dir=yourPathToSdk` where yourPathToSdk is the path for the Android SDK. If you don't know where is the SDK located open Android Studio, go to `Preferences > Appearance & Behavior > Android SDK` and copy the path that appears on Android SDK Location into the file yo

[2017-05-19 12:43] nixoz commented on #13925
You can try to run app with bundle (release) in simulator - will it work?

[2017-05-19 12:45] nickkapoor commented on #13925
In the simulator there is no problem. However on the device it show a blank for text.

[2017-05-19 12:49] nickkapoor commented on #13925
Think you are onto something with the jeste. Apparently the precedence is different on the simulator than on the device; that's possibly the reason for different behavior. Question is how do I enforce the same precedence on the device that seems to be correct on the simulator.  I was hoping that the device and simulator would behave the same way. But apparently that is not true. So something in th

[2017-05-19 12:56] gotoAndBliss commented on #7965
I just upgraded to Xcode 8.3 , and I have my command line tools selected ( they're the only selectable ones ), but I'm still getting this error

[code]

[2017-05-19 13:05] gotoAndBliss commented on #10288
If I run `react-native run-ios` after upgrading to 0.44.0, I get

[code]
Hmm.. looks like 10.2 is still getting called.

[code]

[2017-05-19 13:08] Gacnt commented on #14052
Thanks I'll try this once I get home from work and will let you know. Hopefully that works, if this is the case it's weird that it is undocumented in the documentation

[2017-05-19 13:09] nartawak commented on #13198
@iggyfisk Is it possible to have a 0.44 fix with this commit ?

[2017-05-19 13:52] hramos commented on #13299
The text from the link I sent is what populates every new issue. The very first line outlines the policy. With 1,336 issues open as of this writing, we have to be a bit more aggressive if we want to get the issue tracker back on track.

[2017-05-19 14:17] QuantumInformation commented on #11781
@gotoAndBliss try deleting your ios build folder

[2017-05-19 14:29] Hitabis opened #14059 "Inconsistent documentation about Breaking Changes"
### Description

The [wiki section about breaking changes](https://github.com/facebook/react-native/wiki/Breaking-Changes) is inconsistent with the [release comments](https://github.com/facebook/react-native/releases).

### Example
For version **0.42** there are no documented breaking changes in the [wiki](https://github.com/facebook/react-native/wiki/Breaking-Changes#043) whereas there are some i

[2017-05-19 14:39] lingz commented on #2819
@hramos The Android native modules docs still mentions sending "events" and says more information will be below, but this documentation has now been removed. What are we to use for event emitting besides RCTDeviceEventEmitter now for Android?

[2017-05-19 14:40] ferminmoli opened #14060 "Can't find variable AppRegistry"
I've just started with react native. I've run:

[code]

When it runs on the device shows red screen with:

React Native - Can't find variable AppRegistry

[2017-05-19 14:47] YoranRoels commented on #14060
This is a question you should be asking and it's not a react-native issue.

Still, if you link me the contents of your index.android.js file, I might be able to help you out quickly.
This is most likely caused by the fact that you didn't import AppRegistry.

[2017-05-19 14:52] lingz opened #14061 "No Android documentation for NativeEventEmitter"
There used to be a section of Android docs that mentions using `RCTDeviceEventEmitter` to pass events between Native and JS. However, since `RCTDeviceEventEmitter` was deprecated in favor of subclassing `NativeEventEmitter`, this section of docs, instead of being updated with how to use `NativeEventEmitter`, just got completely deleted in this commit https://github.com/hramos/react-native/commit/b

[2017-05-19 14:53] ferminmoli commented on #14060
[code]

[2017-05-19 14:56] jhabdas commented on #2819
@booboothefool just saw your comment. think the edit may have not triggered an email. not sure. or GH or my inbox are totes overloaded. xD thanks for the nfo

[2017-05-19 14:59] sibelius commented on #13461
You should do the same for

`LIBRARY_SEARCH_PATHS = "$(inherited)";`

[2017-05-19 15:56] iRoachie commented on #14060
What version are you on? `react-native --v`

[2017-05-19 16:02] 452MJ commented on #13889
Not yet.

[2017-05-19 16:10] lingz opened #14062 "createJsModules not possible because BatchedBridge is not exposed."
I was trying to create my own JsModule in my own application using createJsModules, and was following all the steps documented in this StackOverflow post: http://stackoverflow.com/questions/38661060/are-there-any-guides-for-implementing-javascriptmodule-in-react-native

I was almost able to create the Js module but I was not able to call `registerCallableModule` on `BatchedBridge` because it's not

[2017-05-19 16:14] lingz commented on #14061
I tried subclassing NativeEventEmitter but it requires registering a JS Module which also seems not possible right now. I documented this related but distinct issue in https://github.com/facebook/react-native/issues/14062.

However, using NativeAppEventEmitter seems to be the only way to emit events right now. Even though there is a comment that it is deprecated, I think the developer in https://g

[2017-05-19 16:38] calebmer commented on #13784
@Ashoat what precisely do you mean by “Somewhat related - `scrollToLocation` does not take `renderSectionFooter` into account?” Could you create an image or video describing the behavior you are encountering?

[2017-05-19 16:50] fast-one commented on #13340
Same issue

[2017-05-19 17:06] ferminmoli commented on #14060
react-native-cli: 2.0.1
react-native: 0.44.0

[2017-05-19 17:09] DanielZlotin opened #14063 "withCredentials flag in XHRs should default to "true""
### Description

react-native 0.44 introduced [`withCredentials` flag in XHRs](https://github.com/facebook/react-native/commit/454ab8fc238da16f9c3986d9a64ea8e716ac0bac#diff-10faae6fe100efe7101c16fe93478084R122), which, if not specified in every `fetch` request, defaults to `false`.
This change conflicts with the default behavior in native. In the iOS native SDK and the Android native SDK, when mak

[2017-05-19 17:10] iRoachie commented on #14060
You tried deleting node_modules and npm install already?

[2017-05-19 17:16] ferminmoli commented on #14060
Thanks @iRoachie  that fixed the issue!

[2017-05-19 17:18] #14060 closed

[2017-05-19 17:50] Ashoat commented on #13784
@calebmer - my apologies, I made that comment before actually testing anything (I was just reading the source of `scrollToLocation`). After reading the source a bit more, I can see that `renderSectionFooter` is handled as part of the last `ItemWithSeperator`'s render, which explains why `scrollToLocation` doesn't bother to consider it when calculating the flattened index.

(In contrast, I definite

[2017-05-19 17:58] julesmoretti commented on #14002
@ptomasroos - that did it for me thank you. Can someone update the react-native docs to include this information?

[2017-05-19 17:58] #14002 closed

[2017-05-19 18:11] hramos commented on #14039
The packager should be started by `react-native run-ios` automatically, but if you don't see the packager running then you can start it with `react-native start`.

[2017-05-19 18:11] #14039 closed

[2017-05-19 18:12] hramos commented on #13827
A fix is in #14040

[2017-05-19 18:12] #13827 closed

[2017-05-19 18:19] hramos commented on #14029
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-19 18:19] #14029 closed

[2017-05-19 18:32] bmcmillan commented on #10102
What's the status of this bug? It's May 19th 2017 at v0.44 and this is still happening.

FWIW, react-native link also only cares about the main scheme, and not other schemes.

[2017-05-19 19:04] jcharlet opened #14069 "ListView doesn't work properly on iOS if state is initiated while screen not being currently displayed"
### Description
I display a list of items using a ListView in a screen called History.
The state of that screen can be changed in 3 cases, and all of them happen when the user is looking at another screen
- when I start the app, I load the list of items on all my screens (using redux) and display the home screen
- when I create an item or I remove an item in separate screens, the history is also u

[2017-05-19 19:19] studiobrain commented on #12618
+1 Nexus 6p on 7.1 is not rendering the backgroundColor (its grey)...

[2017-05-19 19:28] sclanc commented on #12885
@janicduplessis, @khangbkhn

By adding

 +  const socket = process.platform === 'win32'
 +    ? 34712
 +    : xpipe.eq(temp.path(affixes));

and removing

33 -  const socket = xpipe.eq(temp.path(affixes));

I get a similar error to Khangbkhn on Windows 10:

TypeError: Cannot read property 'Symbol(Symbol.iterator)' of null
    at launchEditor (node_modules/react-native/local-cli/server/util/launchE

[2017-05-19 19:47] #14050 closed

[2017-05-19 19:47] ajwhite commented on #2556
@adambene you should have luck with [react-native-fetch-polyfill](https://github.com/robinpowered/react-native-fetch-polyfill) with the following:

[code]

This doesn't replace the `global.fetch` assignment, but it does let you import the polyfilled version with the timeout; which you could give the import a different name to avoid conflicting with the `global.fetch` name.

I have not attempted to

[2017-05-19 19:52] msqar commented on #12827
So on every onEndReached event i'm increasing my page number by 1. Would this be considered normal in a common app? or should I stop increasing the number if there are no more results to fetch?

Also, I noticed the when scrolling back up, sometimes endReached gets called again...

[2017-05-19 19:56] idibidiart commented on #12827
@msqar no you have to pick a value between 0 and 1 and stick to it. It's about when FlatList will get the new data, i.e, how far into the current view before it goes and get new data. 0 is the start and 1 is the end. When you get to the end and your Threshold is 1 it will get more data and at that point you're back at 0. It would be odd if the designers of FlatList expected the user to increment t

[2017-05-19 19:58] bosung90 opened #14070 "[Xcode][0.45.0-rc.0] React Packager starts in a wrong directory"
### Description

1. Close any existing React Packager.
2. Run iOS app using Xcode.
3. Watch React Packager running automatically, then failing with the following
![image](https://cloud.githubusercontent.com/assets/1477531/26264722/b1b7625e-3c92-11e7-8658-a1c8b6003998.png)
![image](https://cloud.githubusercontent.com/assets/1477531/26264730/b94c3076-3c92-11e7-8c57-b720298a53bc.png)

### Workaround

[2017-05-19 20:00] msqar commented on #12827
@idibidiart Ok, i will set it somewhere between 0.5 and 0.8. But is it good to have the page increasing by one all the time unless you `pull up to refresh` which resets it to 1 again? Or should i implemented it differently?

[2017-05-19 20:04] idibidiart commented on #12827
0.5 - 0.8 sounds good ... try to make any data processing loop asynchronous, e.g. with requestAnimationFrame (async re-entrant loop) so it does not hold up the list scrolling while you're transforming the data, that is if you have ay transforming to do.

What do you mean by page increasing by one all the time? The threshold should have nothing to do with the page number.

Maybe I'm missing somethi

[2017-05-19 20:13] bosung90 commented on #13010
For those of you who still get error, try Jeanregister's method and include `BatchedBridge` or `CxxBridge` in pod React

[2017-05-19 20:16] Brian-Kaplan commented on #14052
are you integrating into an existing app? You really have not provided enough information to fix anything

[2017-05-19 20:20] Brian-Kaplan commented on #13974
i think that this `compile "com.facebook.react:react-native:+`will still download .20.1 into your gradle cache but you should be ignoring that. Did you follow the steps outlined in the docs here https://facebook.github.io/react-native/docs/integration-with-existing-apps.html#prepare-your-current-app ?

[2017-05-19 20:26] stoffern commented on #12885
Node versjon?

[2017-05-19 20:26] stantoncbradley commented on #11813
@jamesone I think we are in the same boat.  Are you by chance trying to integrate code-push?  haha.  For us we can build our staging config locally using @philipshurpik's solution but only after we have built the project for release (building with the release scheme).  If you clean your build then run your staging scheme does it still work?  For us @philipshurpik's solution works locally if we bui

[2017-05-19 20:38] Gacnt commented on #14052
Sorry Brian. I basically made an app ensuring to use components friendly to
both iOS and Android. I'm not sure what you mean by existing I started the
app with react-native init and built it from there up with no issues
building on iOS only android.
On Fri, May 19, 2017 at 2:17 PM Brian Kaplan <notifications@github.com>
wrote:

[2017-05-19 20:45] ura1a commented on #12043
Have you been able to find a work around? We are facing the same issue.

[2017-05-19 21:01] PARAGJYOTI opened #14073 "ViewPagerAndroid pagePadding . (New Api Suggestion)"
It seems like ViewpagerAndroid doesn't have the feature to show previous and next page partially .Its an Important feature for viewpager or any swipper component . I suggest to add the setPadding feature to get result something like this.

![viewpager-cards-img-1](https://cloud.githubusercontent.com/assets/10888703/26266708/2ce3ee22-3d04-11e7-82af-a4e6e489fd71.png)

Or if anyone have any idea how

[2017-05-19 21:02] idibidiart commented on #12827
I assume that when using FlatList you need to keep the current materialized view's data and some buffer above it and below it, or else if you will run out of memory eventually. The event firing makes sense but the way tou handle it is up to you. FlatList is not fetching the data for you. It just tells you when the current Threshold has been reached, in either direction. Makes sense to me. I have t

[2017-05-19 21:17] msqar commented on #12827
@idibidiart yes :) then i think is fine then! Thanks!

[2017-05-19 21:20] ura1a commented on #12043
our use case was fixed by setting ScrollView's `contentContainerStyle={{flex: 1}}`

[2017-05-19 21:45] julesmoretti commented on #11020
@oblador - do you know who can help with this?

[2017-05-19 21:55] stantoncbradley commented on #11813
@jamesone I'm using @blargity's react-native-scheme-manager (thanks!!) and works great locally.  Buddy Build is still failing though :(
![image](https://cloud.githubusercontent.com/assets/5314103/26268224/2cd9d498-3ca3-11e7-87eb-033b0cdf677c.png)

[2017-05-19 22:52] cooperka commented on #13299
In my experience, most people just delete that text and don't read it. The issue template in general is a bad UX (on GitHub's end), but personally I don't think it's an excuse to ignore members of the community when they likely don't even realize they've done something wrong. Simply pasting that link is very helpful and can save others time and frustration.

"Hi, your description is missing requir

[2017-05-19 22:55] ltfschoen commented on #12754
I solved it by running the following (deletes the iOS build directory and re-builds):
[code]

[2017-05-19 23:10] Cxxxx100 commented on #10569
`removeClippedSubviews={true}` resolved this issue for me, thanks @oprisnik. (RN 0.41)

[2017-05-19 23:10] #10569 closed

[2017-05-19 23:51] rigobcastro commented on #12981
@imamatory I think is by Rectotron

[2017-05-19 23:58] imamatory commented on #12981
If so, this warning can be simply ignored.

[2017-05-20 00:08] rigobcastro commented on #12981
@imamatory I hope the real solution is just as easy

[2017-05-20 01:35] asongsoekamti commented on #12885
hi @stoffern , I'm using node version v7.10.0

[2017-05-20 02:33] Gacnt commented on #14052
@FacuAcosta @Brian-Kaplan  Unfortunately this did not resolve the issue

So I initially started the app with `react-native init App`

I've done all the development mostly through the iOS simulator

The only thing I've added that requires a `react-native link` is `react-native-vector-icons`, it is not a very large app at the moment, it only has a `react-navigation` tab bar, and 2 screens, everythin

[2017-05-20 02:46] Gacnt commented on #14052
I got it to work by doing

`yarn clean`
`yarn cache clean`
`rm -rf node_modules/ && yarn`

it now builds and there is hope.

[2017-05-20 02:46] #14052 closed

[2017-05-20 02:49] namdq1969 commented on #13151
@sahrens Thank you, I've found the method scrollToLocation, and it's working for a normal SectionList. Because I use Animated.event with nativeDriver when onScroll so I need to wrap this SectionList with createAnimatedComponent to be AnimatedSectionList. The problem appears that there's no method scrollToLocation for AnimatedSectionList. Please support this method for createAnimatedComponent(Secti

[2017-05-20 03:11] firetheworld commented on #9037
I'm on RN version 0.43,I have this problem also
Have you fixed this problem?
@lacker @eggli

[2017-05-20 03:46] christopherdro commented on #7863
@facebook-github-bot no-reply

[2017-05-20 03:47] gezichenshan opened #14075 "Attempting to run JS driven animation on ... with `userNativeDriver:true`"
encountered this error:Attempting to run JS driven animation on animated node that has been moved to "native" earlier by starting an animation with `useNativeDriver: true`.

[2017-05-20 03:47] christopherdro commented on #10297
@facebook-github-bot answered

[2017-05-20 03:51] christopherdro commented on #10961
Hey @RobinClowers.
Mapview has been deprecated and removed from the core library.

I would suggest trying this library as a replacement.
https://github.com/airbnb/react-native-maps

[2017-05-20 03:51] #10961 closed

[2017-05-20 03:51] sahrens commented on #13151
It's a method, so call it on the ref.

`createAnimatedComponent` exposes a `getNode` Method which provides access to `scrollToLocation` and any other methods on the wrapped component.

[2017-05-20 03:51] #13151 closed

[2017-05-20 03:53] christopherdro commented on #10972
@ronzilca Any updates?

[2017-05-20 03:54] christopherdro commented on #11100
@facebook-github-bot no-reply

[2017-05-20 03:55] christopherdro commented on #11115
@facebook-github-bot no-reply

[2017-05-20 03:55] christopherdro commented on #11183
@facebook-github-bot no-reply

[2017-05-20 03:55] christopherdro commented on #11300
@facebook-github-bot answered

[2017-05-20 03:56] #11324 closed

[2017-05-20 03:56] christopherdro commented on #11368
@facebook-github-bot answered

[2017-05-20 04:00] christopherdro commented on #11432
@facebook-github-bot no-reply

[2017-05-20 04:00] christopherdro commented on #11507
@facebook-github-bot no-reply

[2017-05-20 04:03] christopherdro commented on #11629
@facebook-github-bot no-reply

[2017-05-20 04:04] #11636 closed

[2017-05-20 04:05] christopherdro commented on #11653
@facebook-github-bot no-reply

[2017-05-20 04:07] christopherdro commented on #11686
@facebook-github-bot answered

[2017-05-20 04:07] christopherdro commented on #11739
@facebook-github-bot answered

[2017-05-20 04:12] christopherdro commented on #11832
@facebook-github-bot answered

[2017-05-20 04:13] #11885 closed

[2017-05-20 04:17] christopherdro commented on #10093
@facebook-github-bot answered

[2017-05-20 04:18] #10588 closed

[2017-05-20 04:19] #13072 closed

[2017-05-20 05:57] shahankit commented on #13299
Hello did anyone find any solutions to this. I'm suddenly started facing this issue previously it was working. I'm using Xcode 8.3.2 and react-native 0.44 and react 16.0.0-alpha.6. These are all my dependencies:
[code]

and my devDependencies:
[code]

The line at which it's saying I'm getting error is this on line 1246:
[code]

[2017-05-20 06:15] zackify commented on #13299
@shahankit I have React navigation and React native vector icons as well. For some reason I'm leaning towards a React navigation bug? Just a hunch. No real evidence though :/ I'm debating creating a new project and pasting everything over when I have some time or if it's still an issue when my app launches.

[2017-05-20 07:49] ronzilca commented on #10972
@christopherdro Unfortunately no, for my knowledge you can make it work on iOS but not on Android..

[2017-05-20 08:02] shahankit commented on #13299
Things got solved after running the packager with `--reset-cache`:
[code]

[2017-05-20 09:47] talkol commented on #14063
According to the [commit](https://github.com/facebook/react-native/commit/454ab8fc238da16f9c3986d9a64ea8e716ac0bac#diff-10faae6fe100efe7101c16fe93478084R122) description, the reason for this breaking change is to be

This doesn't make much sense to me. These are native apps. Native apps don't have cross-site concerns. The JS bundle is not served from a domain like the web.

The security model for

[2017-05-20 10:11] iiitmahesh opened #14076 "How to access cookies while fetch"
Please feel free to correct me.

How to access my session id in the cookies sent by server while fetch request.
In broswer api server responds as Http response => Body, Headers, Cookies
Server sends  cookie with JSESSIONID. How to access this cookie in fetch .
This my code
[code]

[2017-05-20 11:27] npomfret commented on #14021
My app has ~170k methods, that should fit into about 3 DEX files right?  It seems some combination of gradle or android has a bug in it where DEX files aren't collapsed.  I understand that some versions of android have a 100 DEX file limit.

Reducing my API dependency back to 16 resulted in a more sensible APK.  So it seems that it's just not possible to build a working v21 app at the moment.

[2017-05-20 11:27] #14021 closed

[2017-05-20 12:00] Odinvt commented on #9436
For the people who are still facing this issue ! which is the case for us on **RN 0.44.0 on Android** :

We found indeed that the problem was related to the device time not being exactly as the time on the chrome remote debugger machine. This is due to the React Native javascript setTimeout function calling the native Timing.createTimer method with a Date.now() parameter which is not the same as t

[2017-05-20 12:09] Odinvt commented on #4470
For the people who are still facing this issue ! which is the case for us on **RN 0.44.0 on Android** :

We found indeed that the problem was related to the device time not being exactly as the time on the chrome remote debugger machine. This is due to the React Native javascript setTimeout function calling the native Timing.createTimer method with a Date.now() parameter which is not the same as t

[2017-05-20 12:40] alejonext commented on #13987
That is not a solution

[2017-05-20 13:59] defoishugo opened #14077 "ScrollView : Application has stopped when scrolling"
Hello,

**React native :**
react-native-cli: 2.0.1
react-native: 0.44.0

**Android VM :**
Nexus 5
Android 6.0
2048 RAM
64 VM Heap
200 MiB Internal storage

[code]

When scrolling a lot (you have to spam click), it crashes. "The application has stopped"
No log, no trace when react-native log-android.
Is it an error from React Native ?

[2017-05-20 14:16] defoishugo commented on #14077
Also posted on StackOverFlow : http://stackoverflow.com/questions/44086929/react-native-application-has-stopped-when-scrolling

[2017-05-20 15:29] mocanSergiu666 opened #14078 "Network Request Failed"
I try to fetch some json data from a service through http in react native 0.44.
It throws an error: "network request failed".
It happens when I work with a real Android phone, Windows 10, Visual Studio Code.
On emulator i didn't have such problem.

Here is the code for fetching data:

static async getSports() {
	let result = null;

	await fetch(
		"http://www.picknation.com/scores/scoresService/Ac

[2017-05-20 15:32] octopitus commented on #13894
Make sure you have linked ART library:

[code]

If you have 200 * 200 Surface then:

[code]

[2017-05-20 15:49] #11739 closed

[2017-05-20 15:49] #14078 closed

[2017-05-20 16:05] emrehayirci commented on #12905
I am getting same error when using react-native-calendar-picker component. I wonder is there a solution?

[2017-05-20 16:38] dan-boa commented on #10404
I was also facing the issue and i replaced the localhost with my ip address and it worked.

[2017-05-20 18:52] nico1510 commented on #11140
@digitaldavenyc if you are displaying an image like this
[code]
then you have to make sure that user.photoURL can't be null otherwise this error will show on iOS. At least that was what caused it for me.

[2017-05-20 20:15] divyanshupathak commented on #13765
I have the same error.
Node version - 6.10.3
react-native version - 2.0.1
npm version - 3.10.10
Can anyone resolve this ?
Thanks in advance.

[2017-05-20 20:32] divyanshupathak opened #14079 "undefined is not a function (evaluating 'transform.forEach')"
I create a fresh app and got the following error while running it on android device:-

undefined is not a function (evaluating 'transform.forEach')

I had node version 6.10.3 and React Native version 2.0.1 and npm version 3.10.10.
I am using windows 10 (64 bit).

Please help for this issue.
Thanks.

[2017-05-20 22:24] TikiTDO opened #14080 "SecurityException on missing permission in com.facebook.react.modules.location.LocationModule#getCurrentPosition causes app to crash"
### Description

I have a situation where an android user opens a page which calls `navigator.geolocation.getCurrentPosition`. This in turn triggers a SecurityException in the function [`getCurrentPostion`](https://github.com/facebook/react-native/blob/2b0282aa69c0bc999aef9444bff7e1dfa54cac48/ReactAndroid/src/main/java/com/facebook/react/modules/location/LocationModule.java#L115) located in `com.f

[2017-05-20 23:02] baer commented on #13340
See this issue on the Android issue tracker

https://issuetracker.google.com/issues/37139091

[2017-05-21 00:42] FLGMwt opened #14081 "CLI: `'yarn' is not recognized as ...` message for operations on Windows"
### Description

Suspected source origin of issue in react-vr: https://github.com/facebook/react-vr/issues/203

When invoking `react-init` on Windows when `yarn` isn't present on the system, the error message from the check is output.

### Reproduction Steps and Sample Code

List all the steps required to reproduce the issue you're reporting. These steps should be clear and concise.

Example:

[co

[2017-05-21 00:45] rigdern commented on #14063
I'm sorry that my commit is causing issues for you.

Which Android API are you referring to?

I think there are several questions to think about here:

#### 1. What should RN's `withCredentials` default to?

The answer is not obvious to me. Ignoring the web, different APIs I'm familiar with have made different choices regarding the default for sending and saving cookies:
  - Libraries that disable

[2017-05-21 02:20] jhonnold commented on #14079
+1

[2017-05-21 02:24] skumancer commented on #13765
Having this same error.

node v7.10.0
watchman 4.7.0
react-native-cli 2.0.1
react-native 0.44.0
npm 4.2.0

Can't get it to work from a clean install.

[2017-05-21 02:35] nix23 commented on #13810
Faced same issue. If you are experiencing issues with exnavigation on RN 0.44( because NavExperimental is removed) you can just install exnavigation 3.0.0.(It contains removed NavExp package)

[2017-05-21 04:48] alzalabany opened #14083 "react native networking not working after updating xcode to 8.3.2"
### Description
all of a sudden, all my applications are getting Newtwork request failed after i updated my xcode to 8.3.2,

    Network request failed
    TypeError: Network request failed

i tried changing values in /ios/[projectname]/info.plist but still getting same error, even when i'm calling https:// endpoints.

    <key>NSAppTransportSecurity</key>

    	<dict>
    		<key>NSExceptionDomain

[2017-05-21 05:03] alzalabany commented on #14083
its also good to mention, when i tried to use expo "create-react-native-app" and used same code above.
the requests to http://ivf.simple*.com went through successfuly, yet the localhost still fails

[2017-05-21 06:01] egorkhmelev commented on #13198
For those who still searching for a quick solution. I was able to launch iOS app with RCTAnimation subspec by including following string to my **package.json**:

[code]

React: 16.0.0-alpha.12
ReactNative: 0.45.0-rc.0

Didn't work for me with above PR which already accepted in **0.45.0-rc.0**

[2017-05-21 06:19] davidtrogers commented on #12754
I get the same error/red screen again, "No bundle URL present" but this time the cause was a syntax error in my JS. I think one of the main problems here is that the error isn't appearing in the packager's output and the bundler is failing silently. The only indication I have that the bundle isn't being generated is from the Xcode output below:

<img width="1315" alt="vibe_xcworkspace" src="https:

[2017-05-21 08:30] ShashankaNataraj opened #14084 "Documentation error on Networking page"
AFAIK, [Handling the response section of the networking page](https://facebook.github.io/react-native/docs/network.html#handling-the-response) has an error:

[code]

I have written a comment beside the then handler that will not work. The actual code should've been:

[code]
Is it not?

[2017-05-21 08:38] isnifer commented on #14063
It's time to follow semver :)

[2017-05-21 08:46] itsmepetrov commented on #14063
We also faced with this problem, but fortunately, we have direct access to all `API` calls in our app.
As workaround, we use `fetch` with `credentials: 'include'`

[2017-05-21 10:26] dobrienlzd commented on #13987
show us your package.json contents and also tell us what versions of react and react-native are actually installed.  Remember you sometimes need to do:
npm start
then
react-native run-ios/android

npm list | grep 'react@'        // what version is really installed?
npm list | grep 'react-native@'  // what version of react native?

React Native works out of the box.

[2017-05-21 10:55] fdnhkj commented on #11939
I just checked if the issue was still there when using newest version of RN.
And.. it looks better in 0.44  🎉

Now, when doing the same gesture (vertical+horizontal), the swipe refresh is invalidated - where before the swipe refresh component remained stuck on the screen.

**Demo** https://github.com/fdnhkj/rn-issue-11939
![scrollview-refreshcontrol-android](https://cloud.githubusercontent.com/ass

[2017-05-21 13:04] kushanson commented on #12672
I can confirm the issue still exists in react-native 0.43.2. The issue occurs when hours and minutes are simultaneously settling on their respective values. The onDateChange callback can get blocked from being called when the hours and minutes are simultaneously settling.

When this defect occurred, the breakpoint in onDateChange callback did not get hit, so there was no opportunity to update the

[2017-05-21 13:12] flyskywhy commented on #13977
If your project use code-push before rn 0.43, you need upgrade to the latest code-push.
That works for me on stuck of ListView (rn 0.43, Android)

[2017-05-21 14:16] ishrak-imam opened #14086 "[FlatList] FlatList crashes on device"
### Description

I request server for data 10 items at a time and render those in a FlatList component. Everything is working fine in the emulator but when I build the app in device and scroll up and down very fast the application crashes. I used pure component for each row item of the list and implemented a getItemLayout method but the result is still same.

### Example code

import React, { Comp

[2017-05-21 14:30] jhalborg commented on #6691
Restart of packager works, but is a bit annoying :-)

[2017-05-21 15:00] smartdevth commented on #13977
@flyskywhy The issue I've seen is on iOS, what about iOS of your project ? Does it stop spinning when out-in app ?

[2017-05-21 15:32] yaronlevi commented on #1831
I can also confirm that the bug happens in  RN 0.44.0:

Happens when using react-navigation + TabNavigator + (ListView or FlatList).
When you go to a tab it looks empty. Only when you scroll a bit, the list is shown.

The only tab where it's not happening is in the initialRouteName of the TabNavigator

As mentioned, setting lazy: true on . the TabNavigator solves this.

[2017-05-21 15:58] vafada commented on #14063
This broke our app too. The original fix looks like it conflicts with:

https://github.com/github/fetch/blob/08602ff819f4c41e9d9e9c2c31bfc853b1bb5bf2/fetch.js#L448-L450

It seems to me there a lot of palces which sets `withCredentials` and each place does different things.

[2017-05-21 16:35] rigdern commented on #14063
@vafada What places are you referring to? I believe the place you linked to in an implementation of `fetch` is fine. When you pass `credentials: 'include'` to `fetch`, it should have the same behavior as setting `withCredentials` to `true` in `XMLHttpRequest`. That's exactly the case the code you linked to is handling.

[2017-05-21 16:44] kamilsalas commented on #11697
@pickfire
Try chaning Java to Java 8. I run command `archlinux-java set java-8-openjdk` and this command solve problem which you have.

[2017-05-21 16:48] vafada commented on #14063
@rigdern

Sorry, I just didn't understand the code well enough:

I was doing:
[code]

when I should be doing:

fetch(url, {
   ...options
  credentials: 'include', // sets    withCredentials to true
});
[code]

[2017-05-21 17:30] dewyze commented on #12754
I am running zsh with nvm on MacOS 10.12.4. I downloaded react native for the first time 2 days ago, and installed watchman 2 days ago, so I assume I am running the newest versions.

I get the same red screen whenever I run `react-native run-ios`.

If I just run that command, a new terminal window is popped open but nothing _seems_ to happen and then I get that red screen of death with the same no

[2017-05-21 18:47] duduindo commented on #10938
@dsummersl Thanks very much!

[2017-05-21 21:18] itsmepetrov commented on #14063
Also, what about `credentials: 'same-origin'`? Should it work as a fallback to 'include' or something else?

[2017-05-21 21:47] brimes commented on #14079
I have the same problem.

[code]

[2017-05-21 22:24] teodors commented on #11939
@fdnhkj Haven't developed in RN for a while, but was wondering if slight gesture changes would cancel swipe. What I mean is - would slight (natural) gesture changes cancel out PullToRefresh? Would this be frustrating to end user?

Still, I think this is not ideal. The underlying problem is that gesture is being hijacked. Progress on PTR element should remain, even if you move horizontally, since t

[2017-05-21 23:25] jamesone commented on #11813
@stantoncbradley I'm getting that exact same error. I've also tried using the scheme manager, but it doesn't work for buddybuild :\

Have you contacted buddybuild about this?

[2017-05-21 23:31] rodriguesbreno commented on #14070
Same here when upgraded to RN45-rc.

[2017-05-22 02:27] zhuyifan2013 commented on #11939
TabNavigation + FlatList  in RN 0.44 works well (PullToRefresh and swipe left and right), maybe you could refer to that implementation.

[2017-05-22 02:51] walkerXiong opened #14087 "when Modal set to hide, the status bar will flicker"
![e4inh](https://cloud.githubusercontent.com/assets/7894779/26290655/b2415c52-3edb-11e7-84bf-ef9f46f4c21f.gif)
here is code: and i want to know if it is a issue? or , whether it is a universal phenomenon.
[code]
environment:
react native version: 0.40
android version: 7.1.1
the gif explain everything, and this phenomenon confuse me whether should i continue to use Modal component.

[2017-05-22 02:51] coreform commented on #1040
@Aadesh05 string refs are bad-practice, so @michalraska was doing it better: https://facebook.github.io/react/docs/refs-and-the-dom.html

[2017-05-22 02:53] wangdetong commented on #13390
`react-native-git-upgrade`work for me too! thanks

[2017-05-22 03:38] bood commented on #13463
Met similar issue when adding pages to `ViewPagerAndroid` dynamically
Problem does seems to point to 15429e3 @astreet , `layout` of `ReactViewPager` is no longer invoked after the change in this case. However, newly added `ReactViewGroup` children of `ReactViewPager` requires the `layout` to be called to be properly layout-ed.

A temp working fix is to by-pass the optimization for `ReactViewPager`

[2017-05-22 03:47] sukeyang commented on #13895
i have the same question too

[2017-05-22 03:55] eggli commented on #9037
@firetheworld Yes, we did solve this problem by doing it in a super brutal and not-very-open-source-way: We wrote our own iOS WebView to replace React Native's built in since no one in Facebook cares about this problem and we found it's not easy to solve, here's our solution, it's brutal, not very cool, but it works:

[code]

In the code above, if we found the URL is not whatever we can handle, we

[2017-05-22 03:59] ChongChou commented on #13763
same issue for me, react-native 0.44, iOS was broken, but android work fine

[2017-05-22 05:05] dzuncoi opened #14088 "Android app in production mode hangs"
Hi all,

Currently, my Android app (production) hangs in a specific screen (contains 2 TextInput), I cannot touch any button, even the hardware Back button, but it works correctly in debug mode. So can anyone spot out some possible problems? My source is quite large so I don't post the code here.

I've tried to show an alert when it hangs:
- Enter error screen -> hangs -> after timeout 5s, show an

[2017-05-22 06:24] Tiendq commented on #3698
@unicornRainbows how did you do it exactly? It doesn't work for me :(

[2017-05-22 06:30] tobymurray opened #14090 "Android: Error calling AppRegistry.runApplication - com.facebook.jni.CppException: Could not get BatchedBridge"
### Description
Tried to run the default application on my USB-attached Android device, and the application showed a box with "Error calling AppRegistry.runApplication" instead of the expected "Welcome" screen

### Reproduction Steps and Sample Code

To reproduce:
[code]
The app crashes on the device. ADB logs (Error and Fatal only):
[code]

### Solution
Reading over #7336, I came across the comme

[2017-05-22 06:43] sjmueller commented on #14070
Same

[2017-05-22 06:50] wv1124 commented on #8038
`05-22 06:45:24.073 1747-7758/com.qianmi.adminapp E/ReactNativeJS: undefined is not an object (evaluating 'u[n]')
05-22 06:45:24.209 1747-7758/com.qianmi.adminapp E/ReactNativeJS: undefined is not an object (evaluating 'u[n]')
05-22 06:45:25.585 1747-1747/com.qianmi.adminapp D/AndroidRuntime: Shutting down VM
05-22 06:45:25.585 1747-1747/com.qianmi.adminapp W/dalvikvm: threadid=1: thread exiting w

[2017-05-22 06:51] anttimo commented on #14069
Sounds like https://github.com/facebook/react-native/issues/1831 and can be worked around by adding `removeClippedSubViews={false}` to the ListView. It might cause some performance issues depending on large your list is https://facebook.github.io/react-native/docs/listview.html#removeclippedsubviews but that's what we have been using.

[2017-05-22 06:52] flyskywhy commented on #13977
@smartdevth , sorry, I tested my APP again, code-push has no relationship. In my Android case, patch like this

    sed -i "s/Platform.OS === 'ios'/Platform.OS !== 'web'/" node_modules/rn-viewpager/viewpager/ViewPager.js
actually solved my stuck problem, maybe this patch's root cause is ViewPagerAndroid ref to https://github.com/facebook/react-native/issues/13463 , and there is no stuck problem in

[2017-05-22 07:14] #14038 closed, assigned to nobody

[2017-05-22 07:38] maotora opened #14091 "android/gradlew Errors while starting the app with react-native run-android."
Hi,

When I run `react-native run-android` I get the error message below.

I tried to track it and it's just when react-native calls `Android/gradlew` file which gives that error.

I'm using Android Emulator.

**Error Message**
[code]
Also, I can `wget https://services.gradle.org/distributions/gradle-2.14.1-all.zip` and download the gradle-2.14.1-all.zip just fine.

[2017-05-22 08:02] maotora commented on #14091
Got it !! 👯‍♂️

In `android/gradlew` file I took a look and it's making use of `JAVA_HOME` environment variable that I did not have set.

Set it with steps from [this SO link](http://stackoverflow.com/a/24641640/2405689) and it solved my issue.

**Solution code**
[code]
save that to wherever you put your env vars and viola!
`react-native run-android` does all the magic!

Thanks for this awesome pr

[2017-05-22 08:02] #14091 closed

[2017-05-22 08:05] bz123 commented on #12737
react-native upgrade , get rid of your old ios files by letting it rewrite the pod files etc and you are golden.

[2017-05-22 08:07] Tiendq commented on #25
@mkoo21 I got screen width changed in the onLayout event but view isn't re-rendered with new `this.state.pageWidth` :(

[2017-05-22 08:35] nxmohamad commented on #12902
hi. did you find a solution for this? currently facing the same error

[2017-05-22 08:43] Umity commented on #12737
how to get rid of old ios files?

On Monday, May 22, 2017, George <notifications@github.com> wrote:

rewrite the pod files etc and you are golden.

https://ci4.googleusercontent.com/proxy/ut9hJhU3jfu2KIEJrj6WzUr93hBZ6OF7beiCjV-piXSrw8X0x20Mjab-JS_bXFNtjLrQFEuSoix-RkUK5_h-S1ZhO3bV10L8_t7PwlPpq2nBtjcNhZynf_kAYyIm-DOprq_rJz5qtoZQN1z6oXWkKweec8iz9g=s0-d-e1-ft#https://github.com/notifications/beacon/AA

[2017-05-22 08:49] bz123 commented on #12737
@Umity  react-native upgrade command will prompt you asking you if you want to change several files, just let it change them.

[2017-05-22 08:52] Umity commented on #12737
thank you George.. will try when home

On Monday, May 22, 2017, George <notifications@github.com> wrote:

want to change several files, just let it change them.

https://ci3.googleusercontent.com/proxy/Jw4iN559fazhI7E1oDSPY0wu882nrigdja5wqbbJTjc_I5JPvj-obCbECh_gVcUQ89KRP5z6mybkI6voBRKpUDglsKIePCwMdexcamFc7ELMo-3jZkZWbWYIyQRTlFKyOvj0CGlJ30BxYxxtHYhYNcBLdR59ew=s0-d-e1-ft#https://github.com/notificat

[2017-05-22 08:56] #14088 closed

[2017-05-22 09:14] unicornRainbows commented on #3698
@Tiendq Remove all your launch screen assets, clean project, close Xcode, open it up again.. when you select the project and select iPhone5 simulator Xcode should prompt you to add in this image when you select the launch image asset drop down... Hope this helps.. this happened to me awhile back and was an Xcode related issue.

[2017-05-22 09:20] curioustechizen commented on #13648
I see a similar issue with `<Text>` on iOS: the actual label of the text always overrides the `testID` and `accessibilityLabel`. So I have no way of retrieving a `<Text>` by accessibilityId.

The repro is very simple: Just edit the default app produced by `react-native init` and edit index.ios.js. Find the "Welcome to React Native" text. Change it to:

[code]

**Expected**: The Accessibility Inspe

[2017-05-22 09:39] divonelnc commented on #6679
Still happening for me on 0.44.0
Is this still being investigated?

[2017-05-22 09:42] garthenweb commented on #13758
`npm start -- --reset-cache` was working for me!

[2017-05-22 09:50] mxklsn opened #14092 "nSheet"
Please read the following carefully before opening a new issue.
Your issue may be closed if it does not provide the information required by this template.

We use GitHub Issues exclusively for tracking bugs in React Native.

- If you have a question, ask on Stack Overflow: http://stackoverflow.com/questions/tagged/react-native
- If you have a feature request, post it on Canny: https://react-native

[2017-05-22 09:50] #14092 closed

[2017-05-22 10:01] codedogfish commented on #6679
My RN app run on android always be extremely slow for the first serveral fetch requests.
Finally, I realize the reason is my LAN has turned on IPv6, but in China (it's a great LAN not support ipv6). So it's seems that android wait ipv6 timeout and change to IPv4, then everything back to normal.

[2017-05-22 10:02] alexanderkjeldaas commented on #10635
@haikyuu which standard RN components are stateless?  View, Image, Text, ..?

[2017-05-22 10:18] jayshah123 commented on #13853
This happens when I do  -> MainActivity.this.recreate(); in dev mode.

[2017-05-22 10:23] jcharlet commented on #1831
same issue here, fixed with removeClippedSubViews
as described in duplicate issue https://github.com/facebook/react-native/issues/14069
I created a repo to reproduce the issue https://github.com/jcharlet/react_native_listview_bug if it can be of any help.

[2017-05-22 10:23] jcharlet commented on #14069
Thanks @anttimo that was it!

[2017-05-22 10:23] #14069 closed

[2017-05-22 10:24] jcharlet commented on #14069
Duplicate to https://github.com/facebook/react-native/issues/1831

[2017-05-22 10:31] #13500 closed

[2017-05-22 10:35] farrukhbashir opened #14095 "React native webView move to another page when wrong url enter"
'I am using the webview when  i enter the wrong url it will redirect to another white screen for a little moment show a pagenotfound screen then navigate to another screen.I am disable the warning then now when i enter wrong url it will redirect to white screen what is the solution i want to open pagenotfound screen as in our browser if pagenotfound..my code is
[code]

[2017-05-22 10:57] scarlac commented on #13765
We recently added Lottie and Firebase Analytics to our RN project and then I saw this error. Tried reinstalling node/npm version (7.10.0), yarn (0.24.5), watchman (4.7.0), etc. And still had this error. I tried a clean checkout of our project, removing the Pods/ folder, removing node_modules and reinstalling. Also tried resetting iOS simulator. Nothing worked.
Obviously, turning off debug mode wor

[2017-05-22 11:26] soraphis commented on #8349
this issue is really annoying and i can't understand how this issue can be open since nearly a year.
sure there are tons of date-format-npm-packages out there, but that's so unnecessary.

btw this is related: http://stackoverflow.com/questions/42218022/react-native-reacts-differently-when-not-debugging-remotely

[2017-05-22 11:30] liushigit commented on #13895
I solved this by removing everything in '~/.rncache' and run `react-native run-ios` again. Make sure all the tar balls in the `.rncache` have their integrity.

[2017-05-22 11:39] mohaaqqani commented on #12885
Same Error as @pocesar  , Win 10, Node 7.10.0 , I have tried

- ruining `react-native run-android` using Administrative privileges ,
- tried fixing the solution @stoffern provided.

Same error.
Also I have initiated new project in some new directory and same issue is displayed there too.

[2017-05-22 11:41] iegik commented on #6624
http://stackoverflow.com/questions/42872700/proguard-app-crash-caused-by-java-lang-nosuchfielderror-no-lcom-facebook-jni

[2017-05-22 12:06] farrukhbashir commented on #14095
@rigdern  plz give solution

[2017-05-22 12:10] anttimo commented on #14069
np. glad that I was able to help :)

[2017-05-22 12:14] knappdev commented on #13971
@uedkx Hey could you elaborate, I am facing same problem

[2017-05-22 12:22] zsajjad commented on #2018
Any update on this? We are integrated in some other app that is not using launch screen and we have to get it done asap...

[2017-05-22 12:23] cia48621793 opened #14096 "Possibility React Native Mac Remote Assistant App?"
Just like how Xamarin did it, we could actually relay all the work to a Mac Pro or MacBook, while I'm still handling and using the IDE of my choice on my Windows workstation.

In Xamarin Mac Assistant, all files and commands are remotely executed on the target Mac machine, most of the compilations was done on the Mac side, neat and simple, the only thing annoys me is that the simulator is running

[2017-05-22 12:23] igroz777 commented on #14020
@stoffern with the default setup. I thought maybe its something on my end but we had a react-native training session in my firm and people who did fresh installs had the issue as well.

[2017-05-22 12:29] JohnnyMa commented on #1966
@sadafk831 thanks for your feedback. It helps.

[2017-05-22 12:30] stoffern commented on #14020
Sounds to me like your emulator or device cant reach the "dev server/bundler".
Check that the IP is correct, see docs.

[2017-05-22 12:35] sharingjingang050241 commented on #5823
+1

[2017-05-22 12:44] louiscenter opened #14097 "Image.getSize() cannot detect portrait image"
### Description

Passed uri of newly captured portrait photo (960 x 1280) from iOS camera roll into Image.getSize(). Expected to receive `width: 960, height: 1280` from the callback, but instead received `with: 1280, 960`.

Image.getSize() does not take into account any orientation data stored in the image file.

### Reproduction Steps and Sample Code

[code]

### Solution

Image.getSize() should

[2017-05-22 13:12] prithsharma commented on #11910
I am also facing the same warning for `backgroundColor` as `transparent` - in fact, for `backgroundColor` with any opacity other than 1(using rgba).
While [this commit](https://github.com/facebook/react-native/commit/e4c53c28aea7e067e48f5c8c0100c7cafc031b06) explains the reason for the warning, but says nothing about a solution for using transparent backgrounds in a performant way other than not u

[2017-05-22 13:12] tommhuth commented on #505
I see `require("somefile.html")` referenced alot, but no matter what I do, I cannot get this to output the actual HTML from the file (only a resource id, with no ref to any content).

Is is even possible to make it do that, so i can do `source={{ html: require("somefile.html") }}`, or am I missing something here?

[2017-05-22 13:30] jkomyno commented on #11924
Has this issue been added to Canny? If so, can somebody please post its link down here in the comments?

[2017-05-22 13:40] RiyasMeeran opened #14098 "How to bind multiple data using DeviceEventEmitter?."
![screenshot_20170522-190619](https://cloud.githubusercontent.com/assets/16999176/26311546/4fa8f518-3f22-11e7-95a4-dae2f8eec6d5.jpg)
 Like mic volume bind to view. but i got error ("Client is busy with a request").

[code]

[code]

http://i.imgur.com/zjUjgY5.jp

[2017-05-22 13:42] Bryzz commented on #14076
Add this line to your fetch parameters :

`credentials: 'same-origin'`

Your fetch method should now get and send the current session's cookie.

I'd invite you though to post questions on Stackoverflow, since this place is about posting issues encountered while using React Native.

Regards

[2017-05-22 13:44] sdg9 commented on #9725
@cannona I am seeing this in react-navigation and @jeffbum I am seeing the same behavior as you.  While there may be several solutions I have one approach working in my project.  First I need something like #11788 merged into react-native to expose iOS's `accessibilityElementsHidden` property.  While waiting on that PR I've been maintaining [my own fork](https://github.com/sdg9/react-native/commit

[2017-05-22 13:46] tibbus opened #14099 "HOT Reloading shows the previous change"
### Description

I have this issue where HOT reloading works perfectly, but in the Simulator it shows the previous change instead of the current one.

### Reproduction Steps and Sample Code
Lets say I have a `<Text>12</Text>`
If I change it to `<Text>123</Text>` the Simulator shows on screen : **12**
If I change it to `<Text>1234</Text>` the Simulator shows on screen : **123**
If I change it to `<

[2017-05-22 14:10] KingDr commented on #13508
set `other linker flags` to `-lc++`, not `-lstdc++`

[2017-05-22 14:21] danielfeelfine commented on #12829
Closed by: https://github.com/facebook/react-native/pull/8153

[2017-05-22 14:21] #12829 closed

[2017-05-22 14:27] knappdev commented on #1831
Also this issue doesn't happen when using 'react-native-router-flux' instead of 'react-navigation' for the same use case

[2017-05-22 14:27] julienfouilhe commented on #2133
Adding `'DevSupport'` in the subspecs in my `Podfile` fixed it for me!

cc @kpogz

[2017-05-22 14:43] jsdario opened #14101 "AsyncStorage not fulfilling promise on Android 7+"
### Issue

I am using `redux-persist` in a react native project, that runs just fine in a broad number of devices execept Android 7. I am trying to debug the problem on why my AsyncStorage is nor persisting and found this:

The following code executes inside React Native component lifecycle's
[code]

Code after 'Inside setInterval' is never called. It only runs once if outside the setInterval. If

[2017-05-22 15:37] astreet commented on #13463
Yeah, we're not handling layout correctly here: the view should be given the ability to lay itself out (and its children) if it so requests. However, we're able to bypass a lot of extra work since the majority of views don't use this ability.

My first thought it to try to solve this by giving the view manager the ability to request the UIManager to layout the corresponding view in the next dispat

[2017-05-22 15:57] khaled-cliqz commented on #3356
I'm curious about how this issue resolved, did you find an alternative?

[2017-05-22 16:11] malashkevich opened #14105 "Can't change iOS entry file."
### Description
I want to change entry file from `index.ios.js` to `index.js`.
I also use CI to build and deliver builds.
There was no problem with Android, but iOS just don't want to accept string that mentioned in `jsBundleURLForBundleRoot` parameter in `AppDelegate.m`.

I found out that CI calls file `react-native/packager/react-native-xcode.sh` where hardcoded value `react-native-xcode.sh`.
Se

[2017-05-22 16:21] ThePaulMcBride commented on #8980
Why isn't this part of the docs?!

[2017-05-22 16:28] Igor1201 commented on #13198
@egorkhmelev same for me. `ss.header_dir` on Podspec didn't solve this issue.

[2017-05-22 16:29] alexwan02 commented on #5823
+1

[2017-05-22 17:16] SimplGy commented on #12401
I can repro this at 0.5 width on large devices (iPhone 6s+). Doesn't show up on iPhone 6s. Same behavior on both simulator and physical device. Setting the border to 1 makes it go away. Strangest thing ever.

[2017-05-22 17:53] SimplGy opened #14106 "Fractional left or top borders cause large, proportional transparent borders"
### Description

If a left or top border is `0.5`, all of the borders grow at partial opacity in a way that is not obviously deterministic (maybe proportional?).

### Reproduction Steps and Sample Code

#12401 has several consumers showing reproduction cases. #13305 has another example. Both these issues were closed but this is demonstrably real and reproducible today.

I have isolated cases on ex

[2017-05-22 17:57] hramos commented on #14098
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-22 17:57] #14098 closed

[2017-05-22 17:58] hramos commented on #14095
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-22 17:58] #14095 closed

[2017-05-22 18:04] mkoo21 commented on #25
@ababba15 If you mean access them from `StyleSheet.create()`, you could access them but unless it has changed recently, the point of a stylesheet is that it's calculated once and reused, so you wouldn't be able to change the values dynamically. I think it's just easier to use state since changing state automatically triggers a rerender.

@Tiendq Is this an issue you had with my example? Are you se

[2017-05-22 18:08] mohit-pandey opened #14107 "React Native Build Issue"
Hi,

I am trying to update dynamic content in string template, and for that, i found an ES6 solution in [stackoverflow](https://stackoverflow.com/questions/29182244/convert-a-string-to-a-template-string), which works great when tested in [https://es6console.com/j30fwzmy/](https://es6console.com/j30fwzmy/)

[code]

But when i integrated in my app, it doesn't work as expected and throws an error **I

[2017-05-22 18:10] shergin commented on #13648
@curioustechizen No, I believe this is not intentional and wrong. Seems the problem was introduced in e9db0338d27b2d4c11505262d53dc5d26a41fade.
Do you mind create another issue (With something like "accessibilityLabel does not work for <Text>" in title) and assign it to me?
Thank you!

[2017-05-22 18:16] shergin commented on #12401
@SimplGy iPhone 6s+ is not "double density" device, it is kinda "triple density" device, so you have to use `StyleSheet.hairlineWidth` (==`0.33`) instead of `0.5`.

[2017-05-22 18:40] nmquebb commented on #13775
I noticed very similar behavior to this when using the home button. Oddly enough it was only on the initial launch of the app.

[code]
Once the app launches minimize with the home button and launch it again. You can now hit the back button to close the second instance that was created and return to the first.

If you hit the back button enough to force the app the close this issue doesn't reoccur

[2017-05-22 18:46] the-simian commented on #13831
We are also seeing this. Its fairly infrequent (but regularly). I'd say about once or twice every release cycle for just one or two users, tops. I absolutely  cannot reproduce it.
<details>
<summary>Here is my stack trace. </summary>
java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState at
FragmentManager.java:1415android.app.FragmentManagerImpl.checkStateLoss
Frag

[2017-05-22 18:58] alejonext commented on #13987
[code]

[2017-05-22 20:04] sbodi10 opened #14109 "Getting Started Guide - Cannot run new project"
### Description

After followed the Getting Started guide, I am unable to run the starter application. When I run the command `react-native run-ios`, I receive the following error:

[code]

I believe that is because my machine is running McAfee in the background on port 8081.

I then tried running the following command:
`react-native start --port=8088`, but then my terminal gets stuck on "Loading

[2017-05-22 20:38] dpluna commented on #14079
+1

[2017-05-22 20:44] AndrewHenderson commented on #4087
Is anyone trying to use `keyboardShouldPersistTaps` on a ListView? I have it working on ScrollViews, but I can't press a touchable item in a ListView without first closing the keyboard.

[2017-05-22 21:06] seavan opened #14110 "RCTSRWebSocket - crash on foregrounding the app"
I am getting app crashes on RN v.0.44 and higher (currently using RN 0.45-rc-0).
The issue is not consistent and does not happen all the time.
I have the crash logs which point me to [RCTSRWebSocket stream::handleEvent].

https://github.com/facebook/react-native/blob/master/Libraries/WebSocket/RCTSRWebSocket.m#L1349

![image](https://cloud.githubusercontent.com/assets/750359/26328201/b88b2cb8-3f4a

[2017-05-22 21:33] ababba15 commented on #25
@mkoo21 maybe it not too cool, but I can define width and height outside the class like this:

[code]

Anyway it will work (if here is no any typo). Why like this? Because I prefer to avoid mixing inline and StyleSheet style. As for me, `style={[styles.container, { width, height }]}` looks more ugly..

But I can be wrong, I'm not too experienced, so let me know..
Peace, guys : )

[2017-05-22 21:45] SimplGy commented on #12401
@shergin Ok, great. Seems like hairlineWidth is canonical and that's awesome. Still think there's a bug here.

Why would specifying a "slightly too large" border (0.33 instead of 0.5) result in anything other than a slightly too large and/or blurry line?

Instead, we get this unexpected behavior where they (A) start acting proportional and (B) become partially transparent.

[2017-05-22 21:50] mhannig commented on #13987
@alejonext I had the same error; have you installed the Android SDK via brew? Removing gradle via `brew uninstall gradle` and installing the SDK manually did the trick for me.

Be sure to set the correct environment variables afterwards and reload your shell.

[2017-05-22 22:07] scottbrassfield commented on #11693
This still seems to be the case on React v0.44. Would be really nice to have this same onMomentumScrollEnd hook for programmatic scrolls on Android. Is there any inherent reason why this behavior can't be implemented for Android?

[2017-05-22 22:28] mkoo21 commented on #25
I added `backgroundColor = 'red'` in styles to test your code. It does not respond to rotations for me.

![screenshot at 2017-05-22 18 25 55](https://cloud.githubusercontent.com/assets/12832801/26330881/26df647e-3f1c-11e7-92c7-6d4ac9921ef4.png)
![screenshot at 2017-05-22 18 26 03](https://cloud.githubusercontent.com/assets/12832801/26330887/28fbccb6-3f1c-11e7-8b53-1d7f3e7ccd94.png)

[2017-05-22 22:52] emrehayirci commented on #5823
In my case i get this error on a package called react-native-callender-picker . When i selected a date or pressed something something just explodes and crashes. After a long sarch i found that (for not this EXACT error but its similar error referenced here: https://github.com/facebook/react-native/issues/13080  )
After fixing that everything went to normal and i stopped getting that kinds of error

[2017-05-22 23:13] hramos commented on #14109
This is covered in the [Troubleshooting guide](http://facebook.github.io/react-native/docs/troubleshooting.html#port-already-in-use). You'll need to update the native iOS app to use 8088 as well. You can search for references to 8081 in the code using your editor of choice.

[2017-05-22 23:13] #14109 closed

[2017-05-22 23:15] hramos commented on #13528
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-22 23:15] #13528 closed

[2017-05-22 23:16] hramos commented on #9935
Should be solved by #12095

[2017-05-22 23:16] #9935 closed

[2017-05-22 23:17] hramos commented on #12527
Solved in #12095

[2017-05-22 23:17] #12527 closed

[2017-05-22 23:18] hramos commented on #11937
Solved in #12095

[2017-05-22 23:18] #11937 closed

[2017-05-22 23:42] hramos commented on #12754
This issue has grown a bit out of control, and I am not confident that everyone here is running into the same issue. This has to do with the fact that the error can show up for any one of multiple reasons.

I highly encourage you to open a new issue if you run into this and are confident that a solution is not already provided in this thread.

[2017-05-22 23:42] #12754 closed

[2017-05-22 23:42] #11617 closed

[2017-05-22 23:42] timonsaval commented on #13257
@peterp thanks for helping. Did you experience the same issue? Any other ideas?

[2017-05-22 23:45] hramos commented on #9145
I've taken another look at this and there seems like more work is needed in the tooling. For example, `react-native run-ios` and `react-native run-android` will both attempt to launch a new packager on port 8081, even if one is already running on port 8088 (or any other port of your choosing). This can result in an error if 8081 is already in use by another process, preventing you from launching t

[2017-05-23 00:15] hramos opened #14113 "[CLI] Changing packager port not supported when running run-ios, run-android"
### Description

It is not currently possible to launch an iOS or Android app and have it connect to a port other than the default of 8081. While it is possible to separately start the packager on a custom port, e.g. `react-native start --port=8088`, the above two commands are hardcoded to always attempt to start a packager on 8081.

This is troublesome on systems where port 8081 is already in use

[2017-05-23 00:28] calebmer commented on #13784
@Ashoat sounds good. The original bug is being worked on 👍

[2017-05-23 00:57] prakashhiranandani commented on #13691
I can also reproduce this. Any updates when this will be available :)

[2017-05-23 01:05] Tiendq commented on #25
@mkoo21 I used inline style e.g. {{ width: this.state.width }} but it doesn't work.

[2017-05-23 01:07] janicduplessis opened #14115 "Build error when integrating new cxx bridge"
I'm getting this error from glog from this function. Happens only when building in release mode.

/Users/janic/Developer/pikapik/th3rdwave-app/node_modules/react-native/third-party/glog-0.3.4/src/signalhandler.cc:78:28: No member named '__rip' in '__darwin_i386_thread_state'; did you mean '__eip'?

[code]

Removing the #if block as a workaround does fix the issue and then everything works.

cc @mh

[2017-05-23 01:57] shergin commented on #12401
@SimplGy Yeah, I see now.
(Repro on @2x devices: https://snack.expo.io/B11TIM-ZW )

[2017-05-23 02:24] windhost commented on #11693
Because the scroll position you want to scroll is not rendered yet, you have to wait for all rows to be rendered before you scroll to that position.

[2017-05-23 03:17] jhen0409 commented on #10927
No longer cannot reproduce on newer versions.

[2017-05-23 03:17] #10927 closed

[2017-05-23 03:40] ecbrodie opened #14118 "No bundle url present: when the React Packager tab is closed"
### Description

This issue is spun off from  #12754, to log a specific situation to create the **"No bundle url present"** error.  I am running into the error message "No bundle URL present" in the iOS emulator when `react-native run-ios` is executed a subsequent time after a first successful execution. Specifically, once I close the terminal tab/window that spun off a React Packager process, I w

[2017-05-23 03:50] shergin commented on #14063
I personally agree with @rigdern, cookies should be disabled by default.
It is kinda standard nowadays (not only for browsers) that Cookies is [opt-in feature](https://fetch.spec.whatwg.org/#concept-request-credentials-mode).

We simply have to adopt new policy. Peace.

[2017-05-23 03:59] boiawang opened #14119 "why roundToNearestPixel use 0.4?"
https://github.com/facebook/react-native/blob/346858a5528a95e0fe869f4fd0269aa43b31cae0/Libraries/StyleSheet/StyleSheet.js#L24

[2017-05-23 04:48] iwater commented on #10553
same on RN 0.43.4, random happen

[2017-05-23 04:49] RiyasMeeran opened #14120 "client is busy with a request"
Set data to view using `DeviceEventEmitter.addListener` by binding native mic volume level.

[code]

[code]

but I get error as follows,

![screenshot_20170522-190619](https://cloud.githubusercontent.com/assets/16999176/26338753/3f32e0ee-3fa0-11e7-86ea-0e9ea2cd74a8.jpg)

How to solve this?

[2017-05-23 04:52] #14076 closed

[2017-05-23 05:52] b3ni commented on #14079
+1

[2017-05-23 06:06] iiitmahesh commented on #14076
@Bryzz I have added `credentials: 'same-origin'`. How to aceess cookie values??  can't we access directily or should I use this [https://github.com/joeferraro/react-native-cookies](https://github.com/joeferraro/react-native-cookies)

[2017-05-23 06:09] Symous opened #14121 "Change props not re-render the page"
Hi,According to the lifecycle of react-native,a changing of props value will lead to componentWillReceiveProps() and then shouldComponentUpdate() and finally render() the page;

But when I change a value of a prop in componentDidMount() like this:
[code]
the page isn't render and even componentWillReceiveProps() isn't invoked.
What's the reason of this ? Many thanks!

[2017-05-23 06:21] shergin commented on #14076
Have you tried add `include` instead of `same-origin`?
More info: https://github.com/facebook/react-native/issues/14063

[2017-05-23 06:30] rishabhpoddar commented on #677
This is also an issue in react-native v0.44.0. Any fixes yet?

[2017-05-23 06:32] TimoRuetten commented on #2962
@Hkmu Am I missing something ? Your solution does not work for me but you got upvotes. Maybe its not working anymore this way ?

[2017-05-23 06:37] iiitmahesh commented on #14076
@shergin  Since I am new to this, I am not able achive my need.
My server sents session id as a cookie (which I want to console it) , If I can save that seesion id , then I can reuse it for next api requests .can you help in that point of direction.

[code]

[2017-05-23 06:51] ababba15 commented on #25
@mkoo21 ok, I will check it today. I made it working somehow, just need to try again.

[2017-05-23 07:08] Bryzz commented on #14076
@iiitmahesh I hardly see why you would need the JSESSIONID from your cookie to send other requests to your API. Are you using Spring Security server-side ?

If so, using the line I suggested you on every fetch request should be enough. The cookie would be sent along any fetch request you added this parameter to and accept (or reject) the request depending of the user's authentication.

I shall inv

[2017-05-23 07:11] curioustechizen opened #14123 "accessibilityLabel does not work for Text component on iOS"
### Description

Continuing the discussion from https://github.com/facebook/react-native/issues/13648#issuecomment-303046218, for `<Text>` component on iOS, the actual label of the text always overrides the `testID` and `accessibilityLabel`

### Reproduction Steps and Sample Code

1. Create a new RN app using `react-native init`
2. Edit index.ios.js
3. Find the "Welcome to React Native" text and c

[2017-05-23 07:12] curioustechizen commented on #13648
@shergin Opened #14123 . I think I don't have the rights to assign it to you though.

[2017-05-23 07:37] mohaaqqani commented on #12885
I tried closing all Packagers and then restarting my machine
After restart, I started packager using `npm start -- reset-cache` and it is working perfectly fine.

[2017-05-23 07:39] awitherow commented on #12777
@jacobcyl can you please provide a solution to your template?

[2017-05-23 08:03] eaintphyo commented on #8868
I also try like this as you commented, but the error has not gone. I want to run with external device.

[2017-05-23 08:19] Symous opened #14125 "Can not render item of FlatList when state changed."
Hi, I have a checkbox which is hidden in the right part of the item of FlatList, and when I do a longPress at the Item, the checkbox is supposed to show as it's state has set to true.

[code]

but the result is the checkbox never show. Any idea about that ? Thanks.

[2017-05-23 09:22] kyomic commented on #14079
+1

[2017-05-23 09:55] saghul commented on #13439
I had the same problem, and I solved it by hooking my custom activity's (the one which renders the ReactNativeRootView) lifecycle methods to the ReactNativeInstanceManager as the docs describe: http://facebook.github.io/react-native/releases/0.42/docs/integration-with-existing-apps.html#add-native-code

Specifically I added onPause, onResume, onDestroy and onBackPressed (though you don't need the

[2017-05-23 10:27] lipeiwei-szu commented on #14121
@Symous  because props cannot be changed directly, it only can be changed by it's parent component. On the condition, you should use the state of component instead of props. you can see  https://facebook.github.io/react-native/docs/props.html  and  https://facebook.github.io/react-native/docs/state.html

[2017-05-23 10:40] javache commented on #14115
Fixed in https://github.com/facebook/react-native/pull/14100

[2017-05-23 11:01] allmaxgit commented on #1831
Some problem with react-navigation in TabNavigator. removeClippedSubViews={false} does not help.

[2017-05-23 11:09] zoharlevin commented on #11831
@clochokeca can you explain the solution?
this used to work in RN 0.42.0 but now with RN 0.44.0 i'm also getting this error.
however, your solution doesn't work with `useNativeDriver: true`

[2017-05-23 11:09] Symous commented on #14125
In brief , we can not change the Item style of the FlatList once we render it.such as press it to give it a different background color.

[2017-05-23 11:12] congsuboya commented on #12845
only override ViewPager getWindowToken?

[2017-05-23 11:12] congsuboya commented on #12845
@zxwxw

[2017-05-23 11:20] dbertella commented on #13595
@gavinyeah did you find any solution on this? I have the same problem on a single options dialog. The second time I try to select an option the app crash. Is this work around from @dobrienlzd working with the `react-native-dialogs` lib? If it's so I can't figure out how.

[2017-05-23 11:23] dbertella commented on #14048
In my case the array comes from store, not local state involved

[2017-05-23 11:46] Mobile-Mike commented on #11650
Had that problem before, fixed it by adding collapsable={false} on the element you want you measure, in you case try adding it to the view. BTW i had that issue only on Android.
Hope it helps :)

[2017-05-23 12:20] sumit-khajanchi opened #14128 "Webview html content not fully displayed"
Hi There,

I am facing a problem with Webview HTML content height. In my case, I set the style of Webview minHeight to 40 but the HTML content height is more than 40 pixel so the content not displayed fully on the screen. How would I set the WebView height according to the actual height of HTML content.

Please guide me to resolve this issue.

[2017-05-23 12:21] koenpunt commented on #12942
I see the same `Attempting to disconnect view that has not been connected with the given animated node` error. For me it happens when a parent component has a `Animated.Value` passed to child components, which is driven by a native scroll event.

Where the children consume this `scrollPosition` with interpolation.
And even though there are actually multiple consumers of this animated value, only o

[2017-05-23 12:27] Symous commented on #14125
OK.I just found out that if we want the FlatList to know the data change outside of the data prop,we need set it to extraData, so I do it like this now:
[code]

refer to : https://facebook.github.io/react-native/docs/flatlist.html - extraData .

[2017-05-23 12:27] #14125 closed

[2017-05-23 12:32] Symous commented on #14121
@lipeiwei-szu , yeah, I just ignore this even it is writing in the doc.Appreciate that you have solved the trouble comfusing me quite a while. ：-）

[2017-05-23 12:32] #14121 closed

[2017-05-23 13:14] idowe commented on #13841
我也遇到这个问题了，你是怎么解决的 @759325100

[2017-05-23 13:14] Abdul-majid-ashrafi opened #14129 "Could not install the app on the device, read the error above for details."
react-native run-android
Starting JS server...

Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:
https://facebook.github.io/react-native/docs/android-setup.html

adb devices
List of devices attached
T062808LX3 device

[2017-05-23 13:17] prakashhiranandani commented on #13691
We fixed above by adding below lines:
node_modules/react-native/Libraries/Text/RCTTextView.m
Add the below property to initWithEventDispatcher
self.isAccessibilityElement = YES;

[2017-05-23 13:35] StanSarr commented on #14077
Hi @defoishugo
I recommend you to use ViewPagerAndroid instead of ScrollView for android ...
I'm using and it works well ...
Hope it helps 👍

[2017-05-23 13:37] Ethan0007 commented on #11586
Hey Guys, can you please try my fix below:

react-native bundle --platform android --dev false --entry-file index.android.js  --bundle-output android/app/src/main/assets/index.android.bundle  --assets-dest android/app/src/main/res/

[2017-05-23 13:44] zoharlevin commented on #13530
there's definitely some bug related to animation order.
i have a transform and an interpolate for color, both animating text.
they can run ok separately but not together.
wondering if you found any other info on this issue?

[2017-05-23 14:05] voidstarfire commented on #1155
If you're going to use the EventBus the above code has a memory leak. You need 'removeListener' as well.

[2017-05-23 14:15] joanprimpratrec2 commented on #13015
Ty . I have same problem. It solved

[2017-05-23 14:17] PierBover commented on #1155
Obviously. That code only served for illustrative purposes.

[2017-05-23 14:20] voidstarfire commented on #1155
It's not obvious to newbie programmers.
Never assume people know everything.

Memory leaks can kill projects and they are hard to debug.

[2017-05-23 14:24] mkoo21 commented on #25
@Tiendq can you upload code or reproduce the issue with a minimal example so we can see what's wrong?

[2017-05-23 14:25] zoharlevin opened #14130 "error running 2 animations together that do work separately"
### Description

when using Animated with useNativeDriver I succeed in running a **transform animation** on a Text component and I can succeed in running a **color animation** on the same component, as long as the interpolated value is not related to the native driver.
however the **2 animations cannot run together** and I get the error:
`Style property 'color' is not supported by native animated

[2017-05-23 14:25] Carole89 commented on #14079
+1

[2017-05-23 14:30] JoeyVinyard commented on #13765
I had this same problem. I fixed it by updating to the latest node(7.10.0 at the time of writing this), then I completely torched the boilerplate project, rebuilt it, and it compiled without a problem.

[2017-05-23 14:32] PierBover commented on #1155
That's true. I should have probably also included a guide about design patterns and good practices with my example.

[2017-05-23 14:39] voidstarfire commented on #1155
For anyone else reading, make sure to include (For example)

[code]

When using any sort of event driven library.

[2017-05-23 15:05] Ethan0007 commented on #10257
Hi , can you please try my fix below:

react-native bundle --platform android --dev false --entry-file index.android.js  --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res/

Then: react-native run-android --variant=release

#Hope will help.

[2017-05-23 15:06] nickkapoor commented on #13925
@nixoz .  The file is in <PROJECT>/node_modules/react-native/node_modules/jest-haste-map/build/lib/getPlatformExtension.js

So I updated this:  const SUPPORTED_PLATFORM_EXTS = {
  android: true,
  ios: true,
  native: true,
  web: true,
  windows: true};

AND YES it works on the device too.  Many thanks for the guidance.  Also I thought others may benefit and you may want to update your docs also

[2017-05-23 15:20] mads79 commented on #14079
+1

[2017-05-23 15:42] sattaman commented on #12618
I found it was set intermittently, sometimes working other times not. I set
it in the java source code and this has worked for me .

On Fri, May 19, 2017 at 8:20 PM, Josh Longbrake <notifications@github.com>
wrote:

[2017-05-23 16:10] godspeedelbow commented on #14129
Did you turn on USB debugging on your device?

[2017-05-23 16:12] TikiTDO commented on #14080
This issue has been affecting quite a few more users than originally thought. Would it be possible to get some feedback as to the proposed solution from someone more familiar with the topic?

[2017-05-23 16:17] hramos commented on #14113
Related issues:

* #9145

[2017-05-23 16:18] hramos commented on #14129
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-23 16:18] #14129 closed

[2017-05-23 16:18] hramos commented on #14119
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-23 16:18] #14119 closed

[2017-05-23 16:19] hramos commented on #14128
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-23 16:19] #14128 closed

[2017-05-23 16:19] hramos commented on #14107
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-23 16:19] #14107 closed

[2017-05-23 16:21] bilalsyed001 commented on #14080
Quick work around is to use PermissionsAndroid. http://facebook.github.io/react-native/releases/0.44/docs/permissionsandroid.html#permissionsandroid

[2017-05-23 16:24] TikiTDO commented on #14080
Ah, many thanks.

I'm going to submit a pull request with an update to the docs to reference that.

[2017-05-23 16:34] vijayst opened #14134 "RCTNetworkingNative.sendRequest in Android does not respect timeout value"
### Description

Used react-native-fetch-polyfill to fetch an API with timeout. The timeout works in iOS but does not work in Android.

### Reproduction Steps and Sample Code

The [fetch-demo repo](https://github.com/vijayst/fetch-demo) has the sample code to reproduce the issue.

[code]

### Solution

RCTNetworkingNative.sendRequest in Android does not timeout for some reason.

### Additional Inf

[2017-05-23 16:35] petitmat opened #14135 "Automatic and manual timezone on iOS"
### Description

I've a problem on iOS, when I create a Date("2017-05-23T16:26:58.838+2") object and I want to print hours and minutes in the correct timezone in the app it prints 16:26 on the simulator, and on real iPhone, if Paris is automatically selected as timezone in settings 14:26 is printed. And if Paris is manually selected as timezone the correct hours are printed (16:26).

How is possib

[2017-05-23 17:01] fkgozali commented on #13996
It was very recently upgraded to v3.8.0: https://github.com/facebook/react-native/commit/93a1d592d61b229d3dafe57d1590d286312cc0bf

So master should have what you need.

[2017-05-23 17:17] FMGordillo commented on #9772
+1
from nowhere...

[2017-05-23 17:29] telmen commented on #13562
Still no answer. 😞

[2017-05-23 18:14] DContra commented on #14079
+1

[2017-05-23 18:18] thebigredgeek opened #14137 "`Picker` color style prop throws error"
According to the docs:

https://facebook.github.io/react-native/docs/picker.html

Picker accepts a `color` style key.  However, when using `color` in practice, React Native throws an error about `color` not being a valid style prop.  Ironically, on the Appetize demo on the Picker page, this same error is thrown for the example code :(

[2017-05-23 18:20] DContra commented on #14079
`TypeError: Cannot convert undefined or null to object
    at Function.from (native)
    at _toArray (/home/kontra/React-Native/Template/node_modules/react-native/local-cli/server/util/launchEditor.js:9:78)
    at launchEditor (/home/kontra/React-Native/Template/node_modules/react-native/local-cli/server/util/launchEditor.js:143:59)
    at Object.handle (/home/kontra/React-Native/Template/node_mod

[2017-05-23 18:28] ericvicenti commented on #14063
Apologies for not taking this under more careful consideration when reviewing the pull request! I thought this would be a strict win because it brings the two platforms in alignment, but as @talkol points out, it now conflicts with the behavior of the native networking libraries.

At this point I think it may be worthwhile to keep the new behavior, because we've already switched it, it matches the

[2017-05-23 19:32] DContra commented on #14079
I am getting the same error running off Ubuntu.
Node v 7.10.0
React Native Cli 2.0.1
React Native 0.44.0
React 16.0.0-alpha 6
Npm v 4.6.1
JDK v 8

[2017-05-23 19:52] benkraus commented on #12440
Have you tried `jest.mock('WebView', () => 'WebView')`? That worked for us.

[2017-05-23 20:01] ericvicenti commented on #14063
Ok, its only been an hour and we've got pretty clear signal: 13 votes to revert to the old credentials default, and 1 vote to keep the consistent behavior with override mechanism. I'll let the vote keep going for the next day, but it sounds like we should go back to the old inconsistent default.

I've put up a PR to go back to the 'include' default:

https://github.com/facebook/react-native/pull/1

[2017-05-23 20:04] DContra commented on #13900
JAVA_HOME env var missing has been causing a lot of issues. As an extra precaution I also put %JAVA_HOME% in my PATH env var as well after creating the appropriate JAVA_HOME var. React worked without issues after adding that. You will also need to restart your CMD or other CLI you are using.

[2017-05-23 20:17] DContra commented on #14079
I realized I built this project before I implemented the JAVA_HOME path, and upgraded npm, react, and node. I built another project after that, and am having no issues with the new one.

[2017-05-23 20:36] parkerproject commented on #13727
@giladno v0.44 doesn't fix it, I just updated and still having the same issue.

[2017-05-23 20:39] giladno commented on #13727
@parkerproject Yeah, that's pretty bad. I'm willing to pay for a bug fix :(

[2017-05-23 20:40] RobertWSaunders commented on #13996
@fkgozali Thank you for updating the version of `okhttp`, it now works. 👍

[2017-05-23 20:44] shergin commented on #14123
Thank you, @curioustechizen! I will fix that.

[2017-05-23 21:06] SimplGy commented on #12401
A few workarounds "fix" the strange border behavior:

    borderRadius: 1 // any non-fractional border radius

[2017-05-23 21:08] hramos commented on #13751
This usually happens when you have multiple packagers running.

[2017-05-23 21:08] #13751 closed

[2017-05-23 21:09] hramos commented on #14135
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-23 21:09] #14135 closed

[2017-05-23 21:11] hramos commented on #14137
The Appetize sample code is outdated, and has already been removed in master.

[2017-05-23 21:11] #14137 closed

[2017-05-23 21:11] ippa commented on #13727
Didn't have the exact same issue as you did, but I did have the same kind of data (images + random lengths of text).

When I switched to FlatList i ran into various perf-problems I couldn't get out of. Switching back to ListView solved it for me. Too bad, since the FlatList api is so much nicer.

[2017-05-23 21:39] dnish commented on #9979
+1 FN 0.43.4

[code]

We're hiding the slider when the user clicks on "Finish".

[2017-05-23 21:48] nicolasZZ commented on #12981
Hi, I think I found the solution:
Firstly you have to find the following file in your project: libraries/Core/Timers/JSTimer;js
Open it and you just have to change this const MAX_TIMER_DURATION_MS, to increase above your duration, wrote in the end of warning !

[2017-05-23 22:29] AmroAly commented on #12981
@nicolasZZ hi, Thanks for the solution. but  Is that a good practice to modify the `JSTimer` library rather than our own code?

[2017-05-23 22:34] rigobcastro commented on #12981
@nicolasZZ @AmroAly In my mind this solution is not a good practice because it is very unstable, the best is ignore the alert while the official solution is released.

[code]

[2017-05-23 22:35] dannycochran commented on #10820
No longer seeing this on 0.44. I think it's safe to close.

[2017-05-23 22:37] giladno commented on #13727
@ippa Thanks, I was originally using ListView and it was ok, the problem is that it doesn't support jump to item, which is crucial in my case.

[2017-05-23 23:03] RobertSheaO commented on #12071
Hoping this gets merged in soon. Can't currently run `./gradlew` without first running `rm -f node_modules/intl/.babelrc`, which requires me to update build scripts in our android deployment flow, that I'd rather not modify for a temp fix.

[2017-05-23 23:22] shireen commented on #12152
+1

[2017-05-23 23:41] satya164 commented on #14063
So current plain is to undo the breaking change. In long term, we probably want to default to not sending cookies for `fetch` by default (which is try for both same origin and cross origin on web), and leave `XMLHttpRequest` as is.

[2017-05-23 23:52] agersoncgps commented on #9404
Many scenarios where this behavior would be desirable, such as a login form, are not in a scroll view

[2017-05-24 00:14] kevineaton commented on #14032
I have this issue and I do not use expo nor do I see any expo dependencies. I am using Native Base and a few other libraries. Everything was running fine and then I tried to update a library and now I get this error. I reverted and even did a full git checkout of the repo before the attempted upgrade and now I get this anytime I try to run the application.

[2017-05-24 00:47] Abdul-majid-ashrafi opened #14144 "Could not install the app on the device, read the error above for details."
Greetings guys,
I am using a react-native project.
I am facing issue when I run cmd react-native run-android
### Error
Build failed
read the error above for details
Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:
https://facebook.github.io/react-nati

[2017-05-24 01:16] agersoncgps commented on #4229
Has anyone gotten this to work with a ListView that contains clickable eliments? I have a search box at the top and can not get it to loose focus and click in the ListView row in one click.

[2017-05-24 01:32] zxwxw commented on #12845
@congsuboya

ViewPagerAndroid(JS) -> ReactViewPager -> ViewPager (getWindowToken is null cause child view not draw)

so override ViewPagerAndroid(JS) -> CustomReactViewPager(getWindowToken)

[2017-05-24 01:35] Sxiaobai commented on #13758
@NickJorgensen  Have you worked out any approach to solve the problem?

[2017-05-24 02:00] Sxiaobai commented on #13758
@rkbhochalya  Only when release can have this mistake  Can you solve it

[2017-05-24 02:41] Tiendq commented on #25
@mkoo21 Never mind, sample code works now, I think it's my app's issue with nested views and FlatList view. Thanks.

[2017-05-24 02:57] sdqyang opened #14146 "FlatList---When I set prop “numColumns”，Rendering appears without setting white lines"
like picture
![image](https://cloud.githubusercontent.com/assets/5997041/26385058/ac3b91e8-406f-11e7-8db7-d013da0a303f.png)

thanks

[2017-05-24 03:03] rigdern opened #14147 "[Documentation] `style` prop details disappeared from `View` page"
As can be seen in the screenshot, the details for the `style` prop are missing from the `View` docs page. This is a regression between RN 0.43 and 0.44:

![image](https://cloud.githubusercontent.com/assets/199935/26385208/bcdd075c-3ff2-11e7-97e6-5c1e332ad697.png)

[2017-05-24 03:29] jamesone commented on #12188
@cdesdh Can confirm that this fixed it for me! For anyone wanting to know where you can update to the recommended settings: open xcode => the left sidebar should give you the option to update the recommended settings (it should have a yellow warning symbol next to it).

[2017-05-24 04:02] yuwenxing commented on #7009
same problem on rhel7

[2017-05-24 05:46] a289459798 opened #14149 "Native UI how to export custom event width android?"
for example in ios:

RCT_EXPORT_VIEW_PROPERTY(onMapFinish, RCTBubblingEventBlock);
RCT_EXPORT_VIEW_PROPERTY(onMapError, RCTBubblingEventBlock);

[2017-05-24 06:05] anyueruhui commented on #13799
I've found it very hardly, THANKS FOR U!

[2017-05-24 06:10] Feng999 commented on #10192
anything happened?

[2017-05-24 06:54] Charles-LMQ commented on #10367
I encountered too... I am using 0.44.0, the problem is same.

[2017-05-24 07:19] nehalahmad commented on #10170
Have the same issue on Android device but not on the simulator. I take photo and then use that image, Image.getSize throwing warning and screen is blank, its working fine for local images instead.

Any help would be highly appreciated.

Thanks in advance.

[2017-05-24 07:29] nartawak commented on #13198
@iggyfisk This PR ([7b7d6bb](https://github.com/facebook/react-native/commit/7b7d6bb1583eada246de17d4c33b5fd37ba8ce0c)) didn't solve this issue but this one which is closed yes [(13217)](https://github.com/facebook/react-native/pull/13217/files) !!!

Does someone work again on a this issue ?

[2017-05-24 07:51] grabbou commented on #14063
I'll cherry-pick and release new versions today.

[2017-05-24 07:59] clementino36 commented on #13751
Hi, i reproduced all these steps and still face the issue.

[2017-05-24 08:06] xiemeilong commented on #11042
+1

[2017-05-24 08:44] Swagov3rflow opened #14150 "Subject to delete."
-nvm, i'm a dumbass.

[2017-05-24 08:46] Fonze opened #14151 "Please include at least the right 'import' commands in documentation"
I'm trying to create a Callback in a native Android module but as Android has tons of import-commands for a Callback and I have no idea which one should I pick. So please include the import-commandlines to the documentation of Native Modules.

The Native Modules documentation also could use more React-side code especially in the lifecycle events as the docs give me no reference as how to access da

[2017-05-24 08:46] DevCappe commented on #8720
adb root
adb shell "date `date +%m%d%H%M%Y.%S`"

[2017-05-24 08:48] Tiendq commented on #10027
It still happens with RN 0.44.0, iOS 10, iPhone 5S.

Keep seeing "__nw_connection_get_connected_socket_block_invoke" every second is very annoying, so OS_ACTIVITY_MODE  temporary fix is very helpful.

[2017-05-24 08:57] sungjk commented on #13751
I've solved as a temporary. Not sure which step worked.

[code]

[2017-05-24 09:00] xwartz opened #14152 "Fatal Exception: java.lang.RuntimeException: Error in callNativeModules"
### Description

Fabric crash log

[code]

### Additional Information

* React Native version: 0.37.0
* Platform: Android
* Development Operating System: macOS
* Dev tools: Android Studio version

[2017-05-24 09:09] clementino36 commented on #13751
I did that aswell but now i'm getting `undefined is not an object (evaluating '_reactNative.ViewPropTypes.style')` as if the upgrade/downgrade messed with my modules.

[2017-05-24 09:12] America-first-melon commented on #13960
@ibeeger  啥原因？版本的问题还是navigator的原因?

[2017-05-24 10:00] eaintphyo commented on #9637
Check my solution =>
https://stackoverflow.com/questions/43521533/error-could-not-find-or-load-main-class-org-gradle-wrapper-gradlewrappermain/44154693#44154693

[2017-05-24 10:02] minhcasi commented on #13751
Hi you can create new fresh project with Expo v0.17 then copy existing project to override it, this will fixed expo upgrade issue on this version.

[2017-05-24 10:03] eaintphyo commented on #8868
I finally figured out the problem and solved it.

[2017-05-24 11:04] jhalborg commented on #1831
Same problem for me. Using react-navigation with TabNavigator and a StackNavigator as a child in the tab in question, and plain ListView. RN 0.44 / Expo 17

[2017-05-24 11:05] sohobloo commented on #13668
+1 on emulator

[2017-05-24 11:13] IgorVanian opened #14153 "EMFILE: too many open files when JS DEV Mode unchecked"
### Description

When uncheking JS DEV Mode in the menu, it starts to bundle everything but fails at 100%.
Same thing if I try to assmebleRelease.

### Reproduction Steps and Sample Code

Bundle after uncheck JS DEV MODE

[code]

[code]

### Additional Information

* React Native version: 0.44.0
* Platform: Android
* Development Operating System: Win10
* Dev tools: React Native CLI

[2017-05-24 11:14] guysegal commented on #13198
this is a blocker for us too.. why is the issue closed?

[2017-05-24 11:17] nsisodiya opened #14154 "Set-Cookie response header is not working on react-native 0.44.0"
I have created a Github repo for showcasing the bug.

Problem
======
When App make a XHR request for login. Login server sends cookie. App send XHR to get data and server read auth cookie on XHR. This is working fine with Android. However same code is not working with iPhone. At server side I am getting following logs. `JWT token is undefined`

How to reproduce this bug
=================
[code]

O

[2017-05-24 11:28] nsisodiya commented on #14063
@grabbou waiting. will it solve this issue - https://github.com/facebook/react-native/issues/14154

[2017-05-24 12:03] Mayzie opened #14155 "Touchable elements within FlatList / SectionList not registering"
### Description

For some reason, Touchable* elements within a FlatList or SectionList view, do not register touches. Rather, it seems that upon rendering a FlatList, a touch event immediately occurs.

### Reproduction Steps and Sample Code

The following, upon render, will produce an alert, "Touched". This should not happen, only on element touch. Furthermore, you cannot touch the TouchableHighli

[2017-05-24 12:22] Symous opened #14156 "How to change a Item value of a state."
for example, I have a list state like this:
[code]

How can I change the value of the first item of list from 1 to 0?

I usually use like this but I don't believe that is the best way.
[code]

Please who can tell me is there any better way to do this ?

[2017-05-24 12:24] Fonze commented on #14151
Got the listener thing working with info from OPEN issue #2819. Please document proper usage of DeviceEventEmitter too.

[2017-05-24 13:08] Shiza1aas commented on #570
+1

[2017-05-24 13:10] HofmannZ commented on #14156
You could use the [immutability-helper](https://github.com/kolodny/immutability-helper), that would look something like this:

You have the following state, and want to change the first item in the list array.
[code]

Using the update function, you can do the following:
[code]

Hope that helps you out!

[2017-05-24 13:17] talkol commented on #14063
I want to return to the discussion of what is the correct behavior in the long term.

I think that the vision behind React Native is to respect the different platforms and not to force web mentality over them. React Native is not web-first. Forcing all platforms to behave like the web is what killed several competing cross-platform frameworks for native developers such as myself. We don't want to

[2017-05-24 13:29] jaimeagudo commented on #2133
It sadly doesn't work for me on 0.44 @julienfouilhe, I am pretty sure my scheme is on debug, I ran `pod install` and I have reset all the caches

Any clues?

Version 10.0 (SimulatorApp-745.10 CoreSimulator-375.21)

[2017-05-24 13:32] wv1124 commented on #13313
05-24 13:29:30.543 2412-2604/com.qianmi.bolt E/ReactNativeJS: undefined is not an object (evaluating 'u[n]')
05-24 13:29:30.555 2412-2605/com.qianmi.bolt E/CustomCrashHandler: com.facebook.react.common.JavascriptException: undefined is not an object (evaluating 'u[n]'), stack:
                                                                   getListener@117:1034

[2017-05-24 13:33] #14150 closed

[2017-05-24 14:05] hjh5696 commented on #14037
I have a similar issue. I have a header(Animated.View) that has an absolute position above the FlatList. When I tried to animate the header by onScroll of FlatList, the animation stuttered. I also tried useNativeDriver: true, but the problem remained same.
If I use SectionList instead of FlatList, the animation is smooth enough. Is it a bug in FlatList?

[2017-05-24 14:31] 77ukhtar commented on #14032
@kevineaton same problem with me did u found any solution?

[2017-05-24 14:37] virgil9306 commented on #14032
@77ukhtar Check out https://github.com/react-community/react-navigation/issues/1352 , seems to have a solution from @chenyi5266

I personally have not seen this on Windows w/building for Android (latest Android Studio & updates) but I have seen this on Mac for iOS (latest updates)

[2017-05-24 15:02] jsonz1993 commented on #14118
mark

[2017-05-24 15:13] 77ukhtar commented on #14032
@virgil9306 thanks, i will just not use nativebase on this project till it fixed

[2017-05-24 15:14] adrienthiery commented on #11336
If it  can help someone else, in my case this error showed up after I introduced an error in my code.

The error being in a react-native functional component :

[code]

[2017-05-24 15:42] sahir commented on #11571
Thanks @dannycochran it's fixed in 0.41.0. This is the command executed to generate the release

react-native bundle --platform android --dev false --entry-file index.android.js \  --bundle-output ../android/app/src/main/assets/index.android.bundle \--assets-dest ../android/app/src/main/res/

[2017-05-24 16:07] miguelmsanchezm commented on #13814
@WhatAKitty @Daemon1993 I have just upgraded my project to React Native version: 0.44.0 and I have exactly the same problem. But I can't figure out how to fix it...

This are my devDependencies
[code]
**Additional Information**

[code]

[2017-05-24 16:33] victorkvarghese opened #14157 "[SectionList] sticky headers disappers after scroll - Section List - Android"
### Description
I used section list in react native android. While the sticky headers work perfect for sometime. When user scrolls up and down repeatedly, the sticky headers disappear/ do not get rendered. Tried this with stickySectionHeadersEnabled={false}, everything works fine.

### Reproduction Steps and Sample Code
[code]

### Solution

Sticky headers Enabled: http://imgh.us/Screen_Shot_2017-

[2017-05-24 16:33] SudoPlz opened #14158 "Add resizeMode repeat on Android."
Hey there..

Do you plan to add resizeMode repeat on Android?
It's been a long time that we've only had this for iOS.

Is this on the roadmap?

Thanks.

[2017-05-24 16:34] seancunningham commented on #1845
Same problem, did you manage to resolve yours after the month or so?

[2017-05-24 16:43] Traviskn commented on #7924
I'm running into this issue on 0.44 as well.

[2017-05-24 16:44] byn9826 opened #14159 "assembleRelease success, but can't find the app-release.apk file on Windows 10"
### Description

I'm trying to generating the signed APK. I got "build Success" by command "gradlew assembleRelease" and the app successfully installed on my android phone by command "react-native run-android --variant=release". However I can't find the APK file at "android/app/build/outputs/apk/app-release.apk". Actually, the "build" folder doesn't even exist in the "android/app" folder. Then I c

[2017-05-24 16:57] avdept commented on #1831
removeClippedSubviews helped me to fix IOS version, but for android i had to use initialListSize

[2017-05-24 17:12] raulgg opened #14161 "Error when using rotation transform and "useNativeDriver: true" in Android"
### Description

Animation do not work on Android when `useNativeDriver` is `true` and using a rotation transform setting the its angle as a `String` value. But it works as expected when setting it in radians using a `double` value. I usually set the rotation using a String as it is specified in the documentation, but in this case it crashes as it is expecting a double value.

The error I am getti

[2017-05-24 17:21] shergin commented on #14063
@talkol Tal,
I don't quite understand how (1) can be satisfied with (2). So, you suggest (1) to have *same* defaults for all platforms, (2) these defaults (many of them?) should be based on platform spirit. 🤔

[2017-05-24 17:25] AndrewHenderson commented on #2589
@gudmundurmar @ide I've added `keyboardShouldPersistTaps="always"` to my `ListView`. However, I'm experiencing the need for the user to tap twice when selecting an item in the list – one to close the keyboard and one to press the `ListView` row which houses a `TouchableHighlight`.

I'm using a `TextInput` for the search box and the `ListView` houses the results. I'd like the user to be able to cho

[2017-05-24 17:42] sgong-gzy commented on #13091
Running into same problem. Any updates on this? Any help is highly appreciated!

[2017-05-24 17:43] pawellewandowski commented on #1845
I return to RN 0.42 ...

[2017-05-24 17:50] talkol commented on #14063
@shergin I meant iOS and Android, the first two platforms, should have same defaults. Third platform is web, so if you're targeting your codebase for web (by sharing the same JS implementation) then you'll get the browser defaults naturally which can be different. And any other platforms like native desktop should have their own defaults.

[2017-05-24 18:24] JeffreyLeeSpokeo commented on #13091
@sgong-gzy So I did find a type of solution for it, not sure if it will work for you though. Basically my android app was originally developed in java. From the java side, I click on something to go to another screen that is using React Native. When I first start the app and load my first screen (in java), I build my ReactInstanceManager then I call createReactContextInBackground() on that build.

[2017-05-24 18:49] mosesoak commented on #14118
Some members of my team are having this same issue while running from Xcode.

Workaround: stop the packager, clean Xcode (cmd-shift-K), re-run.

Time suck

[2017-05-24 18:59] hramos commented on #2819
Should be restored in #14143

[2017-05-24 18:59] #2819 closed

[2017-05-24 19:02] hramos commented on #14151
DeviceEventEmitter is documented in the [Native Modules guide in master](http://facebook.github.io/react-native/releases/next/docs/native-modules-android.html#sending-events-to-javascript).

As for native modules docs, the best approach would be to send a PR with the added imports once you get this working.

[2017-05-24 19:02] #14151 closed

[2017-05-24 19:14] sgong-gzy commented on #13091
@JeffreyLeeSpokeo Thanks for the reply! I already have only one ReactNativeHost in MainApplication and is shared among all ReactRootView. But the problem still remains...

[2017-05-24 19:22] hramos commented on #14152
There isn't sufficient information here to act on the bug report.

[2017-05-24 19:22] #14152 closed

[2017-05-24 19:24] hramos commented on #14154
Isn't this a duplicate of #14063?

[2017-05-24 19:25] #14156 closed

[2017-05-24 19:26] hramos commented on #14157
Is there a Snack that demonstrates this behavior?

[2017-05-24 19:27] hramos commented on #14158
It's not: https://github.com/facebook/react-native/wiki/Roadmap

Best would be to send a PR. Closing as this is not an issue.

[2017-05-24 19:27] #14158 closed

[2017-05-24 19:27] hramos commented on #14159
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-24 19:27] #14159 closed

[2017-05-24 19:28] hramos commented on #14096
It's an interesting idea. It's not on the [roadmap](https://github.com/facebook/react-native/wiki/Roadmap), but if someone wants to take a stab at it they can send a PR.

[2017-05-24 19:28] #14096 closed

[2017-05-24 19:33] nsisodiya commented on #14154
Yes I think so.

[2017-05-24 19:35] JeffreyLeeSpokeo commented on #13091
I see, well I still see a flash of white, but it's slight so I haven't gotten rid of it entirely as well.

[2017-05-24 19:39] yale commented on #12077
I'm having this issue as well on a fresh new react native project. I have followed all of the suggestions above.

This is only happening on my custom "Staging" build configuration (which is a copy of Release). I am using [react-native-schemes-manager](https://github.com/Thinkmill/react-native-schemes-manager) to ensure all projects are properly configured with my Staging scheme.

I am able to buil

[2017-05-24 20:06] ixje opened #14163 "[Animated.View] child remains partially visible while parent view disappears"
### Description

I wrapped a TouchableOpacity inside an Animated.View. The Animated view animates from width x (e.g. 300) to width 0. The expected behaviour is that any children inside the animated view are no longer visible (equal to the parent) at the end of the animation. The TouchableOpacity in this minimised case (see code link below) has padding applied to its style (which is common in a but

[2017-05-24 20:40] SimplGy commented on #14106
(moving details/updates to this issue)

These workarounds fix the strange border behavior:

    borderRadius: 1 // any non-fractional border radius
    borderStyle: 'dotted' // or dashed. probably anything except 'solid'

[2017-05-24 21:20] #14163 closed

[2017-05-24 21:22] shergin commented on #14106
@SimplGy Yeah, it should be somewhere inside `RCTBorderDrawing`. May be you even have a proper fix? 😄

[2017-05-24 21:25] Chandhru08 opened #14164 "ScrollView cannot scroll its content"
### Description

When i included components into ScrollView, it doesnt scrolls the content.

### Reproduction Steps and Sample Code
![videotogif_2017 05 25_02 42 24 1](https://cloud.githubusercontent.com/assets/22728179/26426466/55cb08de-40f6-11e7-98ec-5720455bc0fe.gif)

Step1: Try to scroll the contents up and down
Step2: When srolling the child components, it works

Code:
[code]
Note: I deleted

[2017-05-24 21:28] SimplGy commented on #14106
I'm thinking it'll be about rounding any fractional units to something evenly divisible by hairlineWidth (0.33333, 0.5, 1). Or rounding to an Int, if we're in pixel rather than dip space. Haven't found the right place yet.

[2017-05-24 21:32] yale commented on #12077
Was able to reproduce on a fresh project using the following steps:

1. Create new Configuration called Staging, choosing "Duplicate 'Release' Configuration"
2. Create a new scheme called Staging
3. For each step in the scheme, choose the Staging build configuration
4. Attempt to archive the app

[2017-05-24 23:00] sgong-gzy commented on #12040
+1

[2017-05-24 23:21] agersoncgps commented on #12784
I just have a simple login form. Username input, Password input, Submit button. Is there curently no way to get around the "double tap" in this scenario?

[2017-05-24 23:34] agersoncgps commented on #4087
This solved it for me: https://stackoverflow.com/questions/42808294/react-native-have-to-double-click-for-onpress-to-work

[2017-05-24 23:39] cdiddy77 commented on #12995
Any ideas on why that would fix it?

[2017-05-24 23:52] timurtu opened #14166 "Android docs are broken"
Google deprecated their android cli.
brew install android doesn't work.

[2017-05-24 23:56] timurtu commented on #14166
[This page](https://facebook.github.io/react-native/releases/0.23/docs/android-setup.html)

[2017-05-25 00:01] ericapply opened #14167 "[Android][0.45.0-rc.0] Android keyboard pushes entire view up"
### Description
After upgrading RN from 0.41 to 0.45.0-rc.0, Android soft keyboard will push the entire view up from the bottom. Even after adding `android:windowSoftInputMode="adjustPan"` inside AndroidManifest.xml this behaviour is still there.
I am not using `KeyboardAvoidingView`

### Additional Information

* "react": "^16.0.0-alpha.12",
    "react-native": "^0.45.0-rc.0",
* Platform: Android

[2017-05-25 00:48] AmroAly commented on #12981
@rigobcastro  Thanks that hides the annoying alerts.

[2017-05-25 01:19] Symous commented on #13894
@octopitus Thank u! :-)

[2017-05-25 01:19] #13894 closed

[2017-05-25 01:38] fengjiankang commented on #14118
I have met the same problem. But I run it normally online in the simulator and device. But I make a offline bundle. The problem perform. RN version 0.44

[2017-05-25 01:42] rigdern opened #14170 "Android gradle build crashes on launch: Didn't find class "com.facebook.jni.HybridData$Destructor""
@javache

When building React Native Android using gradle, I get the following runtime exception during launch:

[code]

I think the exception is related to [these lines in `Hybrid.cpp`](https://github.com/facebook/react-native/blob/74a70fea97ddddb430346bd4b9b7e83a29616abc/ReactAndroid/src/main/jni/first-party/fb/jni/Hybrid.cpp#L31-L33):

[code]

They were changed on May 19 in commit https://githu

[2017-05-25 01:45] shergin commented on #12784
... Speaking about scrollviews, `<TextInput multiline={true}/>` actually contains `<ScrollView>` subclass inside.

[2017-05-25 01:58] victorkvarghese commented on #14157
@hramos See this video it shows the behaviour.
https://youtu.be/fL3Y2Fyh0tM

[2017-05-25 01:59] victorkvarghese commented on #14157
[code]

[2017-05-25 02:09] DanielZlotin commented on #14154
Yes same issue, see #14064 for the fix

[2017-05-25 02:12] rigdern opened #14174 "Compiler errors when building for iOS device"
@javache

After this commit (https://github.com/facebook/react-native/commit/885856c6a1cc0e848699f71c2175bfd90933b2b9), I can no longer successfully build my iOS app for use on my device (building for simulator works).

The error occurs when configuring glog (delete the directory called "third-party" before building for device to repro). The error is:

[code]

I'm building on a late 2014 Mac Mini

[2017-05-25 02:16] Symous commented on #14156
@HofmannZ ,Thanks for your help.But when I import update from 'immutability-helper' to my page, there is a error said that -

Unable to resolve module 'immutability-helper' rom [MY_DIRECTORY];Modules does not exist in the module map or in theres directories ....

do you have any idea about this ?
PS: React Native 0.43 + Android ;

[2017-05-25 02:25] shadman264 commented on #14032
having the same problem with android on both Windows & ubuntu 14.04. Is there any working solution?

[2017-05-25 02:30] stokesbga opened #14175 "UI Freezes on Redux/Redux-Thunk Fetch?"
### Description

#9452 This bad boy got closed, but I am still having this issue, and it is absolutely terrible.

I have a paginated listview that fetches results as I scroll. When i press on an item, i want a modal to pop up. However, this only occurs when the fetch is NOT occurring. If I try to press on an item during a fetch, nothing happens. In fact, I cant press any other buttons on the scree

[2017-05-25 03:43] fengerzh commented on #12928
@darthbinamira in Mac OSX same position. Thank you!

[2017-05-25 03:57] darthbinamira commented on #12928
@fengerzh you're welcome! glad to be of help! :)

[2017-05-25 04:32] mongris opened #14178 "Style property 'backgroundColor' is not supported by native animated module"
### Description

I am trying to animate `backgroundColor` with scrollView, but got

`Style property 'backgroundColor' is not supported by native animated module`

But accoding to [the blog post](https://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html) it has be supported.

Please help me to figure out how to animate backgroundColor with `useNativeDriver` or is

[2017-05-25 05:14] mykelaballe opened #14181 "@providesModule naming collision error"
Node: 4.8.3
NPM: 4.5.0
RN CLI:  1.0.0
RN: 0.34.0
Ignite: 1.13.0

the ios react-native project im working on is actually from another machine Mac machine. i transferred it over my windows machine and run it in a virtual machine with El Capitan OS. But now i cant even build it. I dont understand what the errors below are. And im not really familiar with XCode and OSX. The error is saying something a

[2017-05-25 05:16] prithsharma commented on #14063
I see that we are not considering another possible value - `same-origin` in this discussion. It is a part of the fetch API [docs](https://developer.mozilla.org/en-US/docs/Web/API/Request/credentials) for `Request.credentials`.
Is it because there is no such thing as 'origin of the calling script' here and thus `same-origin` is irrelevant?

[2017-05-25 05:33] dzuncoi commented on #10078
Hey @aparedes, do you just need to remove those default.realm* and realm-* files and it works? I tried that way but it still hangs there.

[2017-05-25 05:51] America-first-melon commented on #13258
@r4ggj  big brother  教教我怎么升级呗  /抱拳

[2017-05-25 05:58] mhkhung commented on #13765
0.44 is crap.. 0.43.4 works..

react-native init --version 0.43.4 AwesomeProject

[2017-05-25 06:28] Maxim-Chuhno commented on #14167
it's breaking change in 0.42 https://github.com/facebook/react-native/commit/e3d4ace3ae46e3e4046e1ec5a201b92033deb24a, you sure that in your manifest all fine?
https://developer.android.com/guide/topics/manifest/activity-element.html#wsoft

[2017-05-25 06:46] yasserzubair opened #14182 "Changing the highlight color of TextInput"
![untitled-1](https://cloud.githubusercontent.com/assets/18016507/26438961/599320de-413f-11e7-8ae8-3e2fba4fd3c6.jpg)

I cannot change the color of the line when the TextInput is focused. Styling is not mentioned in the documentation. Please help.

[2017-05-25 06:47] wv1124 commented on #10138
here: https://github.com/facebook/react-native/issues/8180

solution:
`android:windowSoftInputMode="adjustPan"`

[2017-05-25 06:51] wv1124 commented on #9822
android:windowSoftInputMode="adjustPan"

[2017-05-25 07:10] iamdurui opened #14183 "Exception is thrown in the code, but it works normally"
![hf omj6 g6rh xz1a7nq6](https://cloud.githubusercontent.com/assets/16399401/26439159/7728033e-4159-11e7-9ca5-57cf8311a38b.png)

when I create a native module in Android, throwing an exception , it is Method threw 'com.facebook.react.bridge.ObjectAlreadyConsumedException' exception. Cannot evaluate com.facebook.react.bridge.WritableNativeMap.toString()
my code is:
         array=new WritableNative

[2017-05-25 07:11] utopianism opened #14184 "PermissionsAndroid not work with Android 7.0"
### Description

seems PermissionsAndroid does not work properly with Android 7.0

### Reproduction Steps and Sample Code

I need detect incoming phone state,  then I had involved the PermissionsAndroid API  request READ_PHONE_STATE permission.
as http://facebook.github.io/react-native/releases/0.41/docs/permissionsandroid.html doc:

`granted === PermissionsAndroid.RESULTS.GRANTED` return true,
bu

[2017-05-25 08:07] yaxin3690 commented on #3678
+1

[2017-05-25 08:36] AlanFoster commented on #14175
@stokesbga Do you have a minimum reproducible test case? Is it possible to reproduce without redux?

[2017-05-25 09:10] javache commented on #14174
When installing the third-party dependencies we run the https://github.com/facebook/react-native/blob/master/scripts/ios-configure-glog.sh script, which is generating this error.

Could you try commenting out line 5 and 7 there (the Xcode context) checks?

[2017-05-25 09:15] alexanderkjeldaas commented on #13168
I'm having this issue, but with 0.45.0-rc.0, I'm getting out of memory. The behavior is not the same as with 0.40.0:
[code]

[2017-05-25 09:19] Symous opened #14185 "How to use react-native image in Native code?"
I have a folder named 'images' in the root directory of my react-native app.
Is there any way we can use a png image in the images direcory in Android Native Code directly?

[2017-05-25 09:27] sw-tt-vipulparmar commented on #11498
move your project to another path

[2017-05-25 09:35] RamboLouis opened #14186 "Connection to http://localhost:8081/debugger-proxy timed out. Are you running node proxy? If you are running on the device, check if you have the right IP address in RCTWebSocketExecutor.m."
In the use of iOS devices, real machine remote debugging when there will be this error,but using the emulator does not cause this problem:
"Connection to http://localhost:8081/debugger-proxy timed out. Are you running node proxy? If you are running on the device, check if you have the right IP address in RCTWebSocketExecutor.m."
![wechatimg32](https://cloud.githubusercontent.com/assets/16864923/26

[2017-05-25 09:41] holleword opened #14187 "react-native v0.44.0 After the software is loaded, it has been white screen"
After the software is loaded, it has been white screen

[2017-05-25 09:52] nihgwu commented on #14185
**Issues** is for bug tracking, not for QA

[2017-05-25 10:19] iegik commented on #6624
Add also
[code]

[2017-05-25 10:43] walkerXiong commented on #8624
Still having this problem with 0.40， and it occur frequently, i have to remove all of it .

[2017-05-25 10:53] wvteijlingen commented on #14157
Might be related, I'm seeing a lot of sticky header related bugs as well. Sometimes they disappear completely, but then come back after the scrolling slows down.

I've uploaded an example: https://youtu.be/3QyWi17uBNI

[2017-05-25 11:00] renehauck commented on #12717
my solution:

[code]
hope that helps

[2017-05-25 11:31] camellieeee opened #14188 "ScrollView cannot scroll ."
4 examples code will look like this:
1.  only `<ScrollView> `{some `<View/>`} `</ScrollView>`, It will not scroll.
![1](https://cloud.githubusercontent.com/assets/18331008/26447823/f70435b4-417c-11e7-9dcc-e7a86a0f32c6.jpeg)

![scrollview1](https://cloud.githubusercontent.com/assets/18331008/26447852/1209f092-417d-11e7-8fc7-5f35bae162b5.gif)

2. I wrap it in another View, It will not scroll too.
![

[2017-05-25 12:01] AlanFoster commented on #14187
@holleword There's information missing from this ticket; What are the steps to reproduce?

[2017-05-25 12:02] AlanFoster commented on #14188
@camellieeee Could you paste your example code please :+1:

[2017-05-25 12:24] julienvincent commented on #14178
I just hit this problem myself while using it on a `<View />`. Cannot use native driver for backgroundColor.

[2017-05-25 12:36] oliverbenns commented on #934
@brunolemos solution works well. But doesn't gives response bodies for some reason.

[2017-05-25 12:46] Symous commented on #14156
@HofmannZ ,I simply consider that was intergered into react-native already. :-) . And can you tell me is there any other way without importing a third-party lib to achieve this ? Will be grateful  to solve my confusion.Thanks again!

[2017-05-25 12:47] basequatro commented on #13995
Looks I'm being forced to use https://github.com/AlexanderZaytsev/react-native-i18n
Just installed and now RN will use user language set on the device, anyway, I think this should be part of the core.

[2017-05-25 12:58] mkonicek commented on #6624
Uh the Proguard config files are quite fragile. We have to keep adding stuff to them. Having a test on Circle CI that runs Proguard would help. Could anyone add that test?

Could you please send a pull request adding the lines to the default RN Proguard config, such as:

    -keep class com.facebook.react.cxxbridge.ModuleRegistryHolder { *; }

[2017-05-25 13:06] #13995 closed

[2017-05-25 13:21] meistocko commented on #14079
Afer installing NVM to manage node versions (I'm on Ubuntu 17.04) this mostly works.

I run `nvm use node` which sets node o v7.x, then `react-native run-android`.

[2017-05-25 13:27] iegik commented on #6624
I`l do that

[2017-05-25 13:29] joeldalley opened #14189 "RN 0.44: On Android, ListView Section Header disappears, when the number of elements in the dataSource changes"
### Description

We're using RN 0.44 in combination with React 16.0.0-alpha.6, so that we can have sticky section headers on Android. It works! However, when the number of rows in the dataSource changes, the section header mysteriously disappears.

Unfortunately, the versions of React and RN used on the Snack website are older, but I still created a sample app that, if the site were to feature the

[2017-05-25 13:30] Glaucoweb commented on #11389
This is problem in a Network! Active mode Remote JS Debuggin in APP!
It worked here!

[2017-05-25 13:31] andela-landia commented on #1882
Hi, you can use `onSubmitEditing` prop on the TextInput to submit on `Enter`. This works for iOS and Android.

[2017-05-25 13:37] srhise commented on #934
It sure doesn't, which is unfortunate. It would be awesome if this issue
was revisited.

On Thu, May 25, 2017 at 8:37 AM Oliver Benns <notifications@github.com>
wrote:

[2017-05-25 14:55] rcorrie commented on #13316
Here is a gif of the behavior.

![may-25-2017 10-54-41](https://cloud.githubusercontent.com/assets/6488063/26455580/a8d7fe5a-4138-11e7-8002-651a0dbc3bd8.gif)

[2017-05-25 14:58] rcorrie commented on #13316
Here is a gif
![may-25-2017 10-57-37](https://cloud.githubusercontent.com/assets/6488063/26455720/09856300-4139-11e7-8a4d-42949e216a1e.gif)

[2017-05-25 15:28] shahankit commented on #12735
@fuleshu Can you please help. I have wierd issue. I had a project using react native 0.35 and I upgraded it to 0.44. Everythings working find in Debug mode but when I try to build with Release by changing the Build configuration then the project fails to compile. I tried the solutions and also the Copy headers build phase is already present in my React.xcodeproj file's Build Phases.

[2017-05-25 15:33] AlanFoster commented on #14186
@RamboLouis Are you running the javascript asset server with `npm run start`
If there's difficulties starting up the server, see if there's something already running on the port - i.e. nginx or such.

[2017-05-25 15:51] hellogerard commented on #9749
This is happening for me on React Native 0.43 on Android (iOS is working). I found that switching from double-slash-type comments to C-style comments works.

[code]

[2017-05-25 16:27] rigdern commented on #14174
@javache

It seems I get a different error after doing this:

[code]

You can see [more of the error message here](https://gist.github.com/rigdern/be35f71d171ca9ff00c64514e8a7912f).

[2017-05-25 16:37] 1456118242 opened #14191 "com.android.ddmlib.InstallException: Failed to install all"
can run Gemotion but can't run phone
Installing APK 'app-debug.apk' on 'KIW-TL00H - 5.1.1' for app:debug
Unable to install C:\Users\Administrator\Desktop\reactnative\app\android\app\bui
ld\outputs\apk\app-debug.apk
com.android.ddmlib.InstallException: Failed to install all
        at com.android.ddmlib.SplitApkInstaller.install(SplitApkInstaller.java:8
9)
        at com.android.ddmlib.Device.insta

[2017-05-25 16:59] #14154 closed

[2017-05-25 17:31] #13784 closed

[2017-05-25 17:40] sheelendar commented on #14079
I solved this. As told by DContra was help full for me. First i deleted all demo projects(AwesomeProject).
And then create new project with
command :- react-native init HelloProject
next :-  cd HelloProject/android
create a file inside HelloProject/android (local.properties)
:- nano local.properties
Open the file and paste your Android SDK path like below
sdk.dir = C:/Users/USERNAME/AppData/Local/

[2017-05-25 17:47] stokesbga commented on #14175
@AlanFoster Afraid not. Id imagine the minimum requirements would be to have a paginated listview component fire the fetch action as described. There isn't too much going on in my case, but it seems that everywhere I have fetches, UI locks.

[2017-05-25 17:55] DContra commented on #14079
@sheelendar Would setting a system variable like
`set ANDROID_HOME=[Your SDK Path]`
`setx ANDROID_HOME=[Your SDK Path]`
resolve this as well?
Some people are reporting that react isn't locating the android sdk directory nor the JDK directory after the 0.44 update. Seems like setting JAVA_HOME and ANDROID_HOME variables and building a new project is resolving a lot of issues. However, some people a

[2017-05-25 17:57] AlanFoster commented on #14175
@stokesbga Would you mind pasting more of your react component please

[2017-05-25 18:21] aparedes commented on #10078
@dzuncoi, Yes, for me `rm -r default.realm* && rm -r realm-*` in the projects root worked.

[2017-05-25 18:41] gregblass opened #14192 "Can't change iOS button background color?"
I'm trying to change the background color of a button component on iOS, but for some reason when I try to apply styling to it, nothing happens.

Looking at the documentation, it looks like RN makes the decision for you to stick to iOS and Android design guidelines in regards to buttons.

While I appreciate that notion and generally agree, I would like some of my buttons on iOS to have more of an A

[2017-05-25 18:44] gregblass commented on #14192
Looks like react native elements is using a TouchableHighlight for their button for iOS. Just wondering though, what is the thought process here? Is it really necessary to limit people from styling a button how they want to?

[2017-05-25 18:51] jolancornevin commented on #2962
@TimoRuetten
This work for me, with react-native@0.43.1.

You actually have to specify the height and width if your content is not big enough (often the case if you are just testing).
[code]

If this still does not work for you, share a sample of your code, and I'll take a look at it =)

[2017-05-25 19:44] javache commented on #14174
Do you have any other compilers configured on your PATH? Somehow it seems to hit this error in the internal header

[code]

One idea is to also define CXX, can you add `export CXX=$CC` after the export CC?

[2017-05-25 19:54] hramos commented on #14192
This behavior is intentional with <Button />. You should look at the Touchable* classes to do what you're looking for.

For context, Button is relatively new. Until Button was introduced, there was no way to get a standard iOS or Android "button" without figuring out the right set of styles to apply on the appropriate Touchable class for a platform. Button does that for you. If you need custom beh

[2017-05-25 19:54] #14192 closed

[2017-05-25 19:55] hramos commented on #14191
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-25 19:55] #14191 closed

[2017-05-25 19:57] hramos commented on #14188
Can you clarify? All of these GIFs show scrolling. Please make sure to fill out the new issue template.

[2017-05-25 19:57] hramos commented on #14187
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-25 19:57] #14187 closed

[2017-05-25 19:57] hramos commented on #14185
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-25 19:57] #14185 closed

[2017-05-25 19:57] hramos commented on #14182
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-25 19:57] #14182 closed

[2017-05-25 19:57] hramos commented on #14183
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-25 19:57] #14183 closed

[2017-05-25 19:58] hramos commented on #14184
Hey, thanks for reporting this issue!

It looks like your description is missing some necessary information. Can you please add all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

I am going to close this, but feel free to open a ne

[2017-05-25 19:58] #14184 closed

[2017-05-25 19:59] gregblass commented on #14192
That makes sense. Thanks for the explanation!

[2017-05-25 20:00] hramos commented on #14166
That's... a pretty old page (v0.23). Try out the latest instructions: http://facebook.github.io/react-native/releases/next/docs/getting-started.html

[2017-05-25 20:00] #14166 closed

[2017-05-25 20:12] #12145 closed

[2017-05-25 20:15] hramos commented on #12143
Hey, thanks for reporting this issue! It seems there has been no activity on this issue for the past three months. I'll close the issue so it doesn't stay open indefinitely.

If you or someone else is interested in continuing the discussion, please do not hesitate to open a new issue with all the details specified in the [template](https://github.com/facebook/react-native/blob/master/.github/ISSUE

[2017-05-25 20:15] #12143 closed

[2017-05-25 20:17] hramos commented on #12133
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:17] #12133 closed

[2017-05-25 20:18] #12132 closed

[2017-05-25 20:19] hramos commented on #12125
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:19] #12125 closed

[2017-05-25 20:19] hramos commented on #12117
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:19] #12117 closed

[2017-05-25 20:19] hramos commented on #12116
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:19] #12116 closed

[2017-05-25 20:19] hramos commented on #12108
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:19] #12108 closed

[2017-05-25 20:20] hramos commented on #12104
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:20] #12104 closed

[2017-05-25 20:20] hramos commented on #12100
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:20] #12100 closed

[2017-05-25 20:20] #12098 closed

[2017-05-25 20:20] hramos commented on #12097
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-25 20:20] #12097 closed

[2017-05-25 20:20] hramos commented on #12082
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:20] #12082 closed

[2017-05-25 20:21] hramos commented on #12078
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12078 closed

[2017-05-25 20:21] hramos commented on #12074
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12074 closed

[2017-05-25 20:21] hramos commented on #12065
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12065 closed

[2017-05-25 20:21] hramos commented on #12056
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12056 closed

[2017-05-25 20:21] hramos commented on #12049
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12049 closed

[2017-05-25 20:21] hramos commented on #12029
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12029 closed

[2017-05-25 20:21] hramos commented on #12026
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12026 closed

[2017-05-25 20:21] hramos commented on #12023
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:21] #12023 closed

[2017-05-25 20:22] hramos commented on #12007
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:22] #12007 closed

[2017-05-25 20:22] hramos commented on #12002
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:22] #12002 closed

[2017-05-25 20:24] hramos commented on #8465
If you're still running into this, the best approach right now would be to send a PR with a fix. Please refrain from adding metoo comments so that we can keep the discussion focused on a fix.

[2017-05-25 20:24] #14149 closed

[2017-05-25 20:24] hramos commented on #14149
This issue looks like a question that would be best asked on [StackOverflow](http://stackoverflow.com/questions/tagged/react-native).

StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for

[2017-05-25 20:25] hramos commented on #11990
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11990 closed

[2017-05-25 20:25] hramos commented on #11971
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11971 closed

[2017-05-25 20:25] hramos commented on #11966
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11966 closed

[2017-05-25 20:25] hramos commented on #11951
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11951 closed

[2017-05-25 20:25] EJohnF commented on #12074
I didn't check that in the last versions of RN, in our project we used mentioned library

[2017-05-25 20:25] hramos commented on #11944
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11944 closed

[2017-05-25 20:25] hramos commented on #11943
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:25] #11943 closed

[2017-05-25 20:26] hramos commented on #11996
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11996 closed

[2017-05-25 20:26] hramos commented on #11941
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11941 closed

[2017-05-25 20:26] hramos commented on #11926
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11926 closed

[2017-05-25 20:26] hramos commented on #11920
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11920 closed

[2017-05-25 20:26] hramos commented on #11911
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11911 closed

[2017-05-25 20:26] hramos commented on #11903
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:26] #11903 closed

[2017-05-25 20:27] hramos commented on #11883
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11883 closed

[2017-05-25 20:27] hramos commented on #11873
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11873 closed

[2017-05-25 20:27] hramos commented on #11866
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11866 closed

[2017-05-25 20:27] hramos commented on #11855
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11855 closed

[2017-05-25 20:27] hramos commented on #11852
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11852 closed

[2017-05-25 20:27] hramos commented on #11844
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11844 closed

[2017-05-25 20:27] hramos commented on #11840
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11840 closed

[2017-05-25 20:27] hramos commented on #11836
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:27] #11836 closed

[2017-05-25 20:28] hramos commented on #11834
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] hramos commented on #11822
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11822 closed

[2017-05-25 20:28] hramos commented on #11814
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11814 closed

[2017-05-25 20:28] hramos commented on #11800
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11800 closed

[2017-05-25 20:28] hramos commented on #11782
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11782 closed

[2017-05-25 20:28] hramos commented on #11773
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11773 closed

[2017-05-25 20:28] hramos commented on #11772
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11772 closed

[2017-05-25 20:28] hramos commented on #11768
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11768 closed

[2017-05-25 20:28] hramos commented on #11762
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:28] #11762 closed

[2017-05-25 20:29] hramos commented on #11753
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11753 closed

[2017-05-25 20:29] hramos commented on #11740
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11740 closed

[2017-05-25 20:29] hramos commented on #11724
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11724 closed

[2017-05-25 20:29] mikehobi opened #14193 "ScrollView does not render flexBasis correctly"
### Description

In a `View`, when a child has a set `flexBasis` value (ex. `{flexBasis: 28}`), that space of 28px is rendered similar to a fixed `height` or `width` (depending on `flexDirection`).

In a `ScrollView`, that same child with a `flexBasis` of `28` is not rendered with any visible height. The expectation would be that it would render similar to a `View` with a height of `28`

### Repro

[2017-05-25 20:29] hramos commented on #11701
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11701 closed

[2017-05-25 20:29] hramos commented on #11692
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11685 closed

[2017-05-25 20:29] hramos commented on #11673
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11673 closed

[2017-05-25 20:29] hramos commented on #11672
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:29] #11672 closed

[2017-05-25 20:30] hramos commented on #11661
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11661 closed

[2017-05-25 20:30] hramos commented on #11652
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11652 closed

[2017-05-25 20:30] hramos commented on #11642
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11642 closed

[2017-05-25 20:30] #11639 closed

[2017-05-25 20:30] hramos commented on #11611
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11611 closed

[2017-05-25 20:30] hramos commented on #11584
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] hramos commented on #11580
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11580 closed

[2017-05-25 20:30] hramos commented on #11577
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:30] #11577 closed

[2017-05-25 20:31] hramos commented on #11563
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11563 closed

[2017-05-25 20:31] hramos commented on #11552
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11552 closed

[2017-05-25 20:31] hramos commented on #11538
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11538 closed

[2017-05-25 20:31] hramos commented on #11532
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11532 closed

[2017-05-25 20:31] hramos commented on #11679
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11679 closed

[2017-05-25 20:31] hramos commented on #11531
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11531 closed

[2017-05-25 20:31] hramos commented on #11523
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:31] #11523 closed

[2017-05-25 20:32] hramos commented on #11500
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11500 closed

[2017-05-25 20:32] hramos commented on #11482
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11482 closed

[2017-05-25 20:32] hramos commented on #11480
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11480 closed

[2017-05-25 20:32] hramos commented on #11477
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11477 closed

[2017-05-25 20:32] hramos commented on #11472
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11472 closed

[2017-05-25 20:32] hramos commented on #11460
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11460 closed

[2017-05-25 20:32] hramos commented on #11455
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11455 closed

[2017-05-25 20:32] hramos commented on #11441
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11441 closed

[2017-05-25 20:32] hramos commented on #11415
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11415 closed

[2017-05-25 20:32] hramos commented on #11410
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:32] #11410 closed

[2017-05-25 20:33] hramos commented on #11408
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.

[2017-05-25 20:33] hramos commented on #11405
Closing this issue because it has been inactive for a while. If you think it should still be opened let us know why.