[2015-10-28 16:03] warpdesign commented on #2806
@yinzSE I was patient, but after 20 or 30 minutes, I got this error:

    Setting up new React Native app in /Users/leodaed/Dev/ReactSlide fs.js:549
    return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
              ^

    Error: EACCES: permission denied, open '/Users/leodaed/.babel.json'

[2015-10-28 16:05] cosmith commented on #3609
My constructor looks like this

[code]

I don't really know enough about Android / Java to know if it's a terrible idea, but it works :)

[2015-10-28 16:11] ehourigan commented on #3609
@cosmith thanks for the context!

[2015-10-28 16:15] satya164 commented on #3563
@ms88privat I couldn't get the above to work, the response from s3 was that it needs multipart/formdata. So, I changed it to formdata and it works for me.

I'm using it on Android though, and not iOS. So can't confirm about your issue.

[2015-10-28 16:52] jedlinlau opened #3748 "TouchableOpacity onPress is passing a ResponderSyntheticEvent parameter in 0.12.0"
I was previously on 0.10.0, and this was working fine:
[code]

The `close` callback looks like this:
[code]

However, since upgrading to 0.12.0, I see that the optional `alert` parameter is not null when this TouchOpacity is pressed. `shallowCloneLog` (as per [this SO post] (http://stackoverflow.com/questions/26317985/react-js-onclick-event-returning-all-null-values)) shows that it's a ResponderSy

[2015-10-28 17:17] edo1493 commented on #795
I know this is a bit off-topic, but is there a way to update the props of each component in the stackRoute of Navigator?

I am updating the state where Navigator is rendered, but the props don't seem to update.

[2015-10-28 17:34] despairblue commented on #3005
@hedgerwang the imperative approach does not work since it is impossible to get a ref to NavigationBarTwo. A ref callback added to the component that is passed to the Navigator's navigationBar property is never called.
I also could not get the NavigationBarOne approach to work. Eventually the navigation bar is rendered, but only after a second render pass. The first render pass still renders the n

[2015-10-28 18:35] ide commented on #3546
@cosmith thanks! should be fixed now (points at 0.13.2)

[2015-10-28 18:38] ide commented on #3131
This should be fixed in master: https://github.com/facebook/react-native/commit/500ffa9b763d03e759e9b2897da7f4f7904934cf

[2015-10-28 18:38] #3131 closed

[2015-10-28 18:40] ide commented on #3589
This should be fixed in master.

[2015-10-28 18:40] #3589 closed

[2015-10-28 19:21] pmadruga commented on #2627
Same as @petermason here. dev mode to false didn't make a difference.

[2015-10-28 20:01] frantic commented on #3679
@nicklockwood good to know about `RCTURLRequestHandler`! Seems like on iOS we can change `uri` returned by `resolveAssetSource` to `image://...` and have a custom handler that would know how to deal with that (by default load from app's bundle). The question is – can third party library override existing bridge module (with the one that would handle `image://` differently and allow loading from di

[2015-10-28 20:02] frantic commented on #3679
also cc @zahanm

[2015-10-28 20:07] nicklockwood commented on #3679
Yes, you can create new handlers for existing protocols and assign them a higher priority.

[2015-10-28 20:13] jaygarcia commented on #3577
@gre, @ide

am hoping the above PR fixes things.
*Modify RCTView.m line 121 to the following*
[code]

@gre, I tested your use case as well as mine and everything seems to work as designed.  Am hoping this can be tested by others and verified for fixing.

[2015-10-28 20:30] gre commented on #3577
Cool :-)

[2015-10-28 21:13] cancan101 commented on #1831
I have this issue in `0.13.1` with only this:
[code]

[2015-10-28 21:48] ide commented on #3748
This is intended behavior. Pass in `() => this.props.close()` as your event listener if you need to control the arguments.

[2015-10-28 21:48] #3748 closed

[2015-10-28 22:04] hojberg commented on #3369
Will 0.14 of RN support stateless components via React 0.14? As far as I can tell, the `0.14.0-rc` does not right now :(

[2015-10-28 22:56] despairblue opened #3752 "Navigator.NavigationBar does not call the ref callback"
As mentioned [here](https://github.com/facebook/react-native/issues/3005#issuecomment-151921137), it's not possible to get a reference to the NavigationBar, as the callback is never called.

I adapted the NavBar Example in the UIExplorer [here](https://gist.github.com/despairblue/1f46df10020cc4a7c6c5). I added a ref callback to the Navigator and the NavigationBar. The one for the Navigator is call

[2015-10-28 23:36] despairblue opened #3754 "Navigator renders an old/stale NavigationBar"
In an attempt to show and hide the Navigator.NavigationBar at will I tried @hedgerwang's approaches from [here](https://github.com/facebook/react-native/issues/3005#issuecomment-142988456). Sadly none of those work at the moment. The second one does not work since it's [not possible to get a ref to the navigation bar](https://github.com/facebook/react-native/issues/3752). And the first one does no

[2015-10-29 00:10] ide commented on #3752
If you change https://github.com/facebook/react-native/blob/master/Libraries/CustomComponents/Navigator/Navigator.js#L1075 to use something like https://github.com/ide/react-native-clone-referenced-element it will honor the ref you pass in.

[2015-10-29 00:16] despairblue commented on #3752
Already made a PR. Hope the way I did it is also ok.

[2015-10-29 00:43] tehong opened #3756 "[iOS] Error in implementing Native UI Component"
I'm trying to implement my own Native UI Component but encountered the following error:

**Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of `RNiOSMapView`.'**

So I coded another project to the example as in the https://facebook.github.io/react-native/docs/native-c

[2015-10-29 00:46] rigdern opened #3757 "[Windows] [Packager] Syntax error in setup_env.bat breaks packager on Windows in 0.14.0-rc"
### Repro Steps

The packager in 0.14.0-rc doesn't work on Windows.

When running the packager:

[code]

I get the following error:

[code]

### Cause

It looks like [setup_env.bat](https://github.com/facebook/react-native/blob/ca7a8b271a92d6be3c7b56f35f6091c1c6a66a3c/local-cli/setup_env.bat) uses the wrong syntax for commenting which is causing the problem. The correct syntax for comments in `.ba

[2015-10-29 01:27] alvinwoon commented on #3529
It worked in testflight as well.

Update: Finally approved after 11 days 'in review'.
Lesson: When nothing else works, delete node_modules and reinstall everything.

[2015-10-29 01:27] #3529 closed

[2015-10-29 01:36] martinbigio commented on #3757
Sorry about that, just fixed it on 89f1e67. @mkonicek could we cherry pick that rev on the rc? :)

[2015-10-29 01:37] #3757 closed

[2015-10-29 01:38] charmingzuo commented on #3379
I face the same problem like all of you guys.
I stucked here a few hours, and have no any clues why it happens.

[2015-10-29 01:54] chemuto commented on #2837
I just did a small test and seemed to be working. At least a was able to do
a connect through ddp to my meteor server. I will try again when I have
some free time cause I would also like to develop in RN using the meteor
backend.

On Tue, Oct 27, 2015 at 1:50 PM, Thomas Goldenberg <notifications@github.com

[2015-10-29 02:08] sloanwolf commented on #3340
I was getting this as well but noticed this error in xcode log:

`[tid:com.facebook.React.RNVectorIconsManagerQueue][RCTConvert.m:55] JSON value 'black' of type NSString cannot be converted to NSNumber`

Upgrading "react-native-vector-icons" to the latest 0.8.4 fixed it for me.

I received this after upgrading react-native to 0.13.2.

[2015-10-29 02:45] anneunjungkim opened #3758 "[TabBarIOS] Translucent property not working properly"
Even when the translucent boolean of TabBarIOS is set to false, the tab bar still covers the main view.
For example, the end of the tableview is covered by the tab bar in the screen shot below.

![tabbarios](https://cloud.githubusercontent.com/assets/8837544/10808782/455e4970-7dac-11e5-9d3f-8974e517f65b.jpg)

[2015-10-29 02:58] grittymindy commented on #2206
@akaila did you find a solution? I'm having this problem now.

[2015-10-29 03:22] djchie opened #3759 "[iOS] Have a back-swipe option setting as prop?"
I was looking around to disable the back-swipe in the NavigationController and I was able to do that in RCTNavigator.m on line 384 via interactivePopGestureRecognizer. I was thinking though that it'd be great if this option could be set on the JS side. Maybe set it'd be great to set it up as a prop in the component? Let me know what you guys think!

[2015-10-29 03:30] jarvys opened #3760 "Latest release delete precomputeStyle module?"
redbox report 'unknown module precomputeStyle'

[2015-10-29 03:31] carl1990 opened #3761 "Integration into exist IOS project will be crash with error EXC_BAD_ACCESS (code=EXC_I386_GPFLT) in RCTUtils"
I Integration into exist IOS project by pods `pod 'React', '~> 0.13.0-rc'`

then add a react page according to this page

http://facebook.github.io/react-native/docs/embedded-app-ios.html#content

when I open this page, app will crash,

this error info is `EXC_BAD_ACCESS (code=EXC_I386_GPFLT)`

happen error code in RCTUtils.m this method

	NSString *RCTJSONStringify(id jsonObject, NSError **error)

[2015-10-29 04:22] yychun1217 commented on #3131
I encountered the same problem as well.
I hvae the correct path (http://localhost:8081/index.ios.bundle?platform=ios&dev=true)

any hints?

[2015-10-29 04:29] pickhardt commented on #3760
+1 is there a replacement for precomputeStyle?

This used to work, but now doesn't:

[code]

![screen shot 2015-10-28 at 9 28 36 pm](https://cloud.githubusercontent.com/assets/610082/10810136/e216fa2e-7dba-11e5-92e6-20f4b5a99af8.png)

[2015-10-29 04:38] akaila commented on #2206
Yes the solution is to pass the ref to the view manager using React.findNodeHandle(this.refs.myView) and then in the native module lookup the control using view registry. Here is a relevant snippet: http://stackoverflow.com/questions/31857583/how-to-access-native-ui-components-instance-methods-in-react-native

[2015-10-29 04:57] oney opened #3763 "SyntaxError: Unexpected token '}'. Expected a statement as the body of a for loop."
I run `react-native init TestProject` to create a project, then I run the app with iOS and it works fine.
I add `socket.io-client` in my dependencies, and run `npm install`.
[code]
And add
[code]
I got
[code]
![image](http://i.imgur.com/UZZvfT9.png)
I use socket.io before, and it works. However, every my React Native project that uses socket.io is broken now. So strange...
Line 60582 of `http://lo

[2015-10-29 05:05] ide commented on #3763
I am seeing this too (without socket.io). There is something unexpected happening with the bundled JavaScript -- we should run a parser over it to see if the bundled JS is invalid.

[2015-10-29 05:06] #3756 closed

[2015-10-29 05:09] ide commented on #3763
Looks like the packager could be stripping out newlines that ASI relied on, or perhaps is inserting a closing curly brace before a newline that triggered ASI?

[code]

[2015-10-29 05:10] ide commented on #3763
cc @martinbigio any commits come to mind?

[2015-10-29 05:10] crm416 commented on #3485
I started working on this tonight, but it's turning out to be non-trivial. The issue is that bumping up the letter spacing can in turn increase the number of lines in the text, and so `ReactTextShadowNode` has to account for that possibility (else, if you bump up the letter spacing and your text now spans an additional line or two, those lines will get cutoff). There isn't really a simple way to d

[2015-10-29 06:09] tachim commented on #1613
@DannyvanderJagt nice tutorial! But "RCTSharedApplication" isn't defined in my checkout of react native 0.11.0 so the bug fix doesn't work.

[2015-10-29 06:11] tachim commented on #1613
OK I think the right fix is to replace it with `  UIApplication *app = [UIApplication sharedApplication];`.

[2015-10-29 06:14] ntuckerxx commented on #3763
I just narrowed this down and came here to report it and found this bug.  My repro steps were just to create a freshly inited project and add socket.io-client, with the corresponding `require()` in my index.ios.js.  The last time I tried this was in 0.4.4, which I think was pre-babel, and it worked then.

[2015-10-29 06:19] mark-change commented on #282
your image file name must have the same name as imageSet name

[2015-10-29 06:28] oney commented on #3763
@ide  Thanks for confirming this issue.
Is there any way to temporarily solve the problem?
Use the past react-native version in package.json? Or, downgrade react-native-cli?

[2015-10-29 06:54] ntuckerxx commented on #3763
I came up with a hacky workaround.  There's this in socket.io.js, line 6395:

[code]

Modifying it to include an empty for loop body did the trick.  Looking at the output of the packager, it looks like the transformation caused the semicolons to get stripped from this line and the one immediately following it, and the two following closing braces to get stuck on the same line, resulting in a trans

[2015-10-29 07:39] oney commented on #3763
@ntuckerxx Thanks, the hack works.
I modify 3 places.
Line 6395, 6624, 6632 in socket.io.js (package version 1.3.7)
make `for( ... );` to `for( ... ){}`

[2015-10-29 07:52] DannyvanderJagt commented on #1613
@tachim Thank you! And also a thank you for the heads up. I looked into it and saw that In React-Native v0.12 and lower `[UIApplication sharedApplication]` is indeed replaced with `RCTSharedApplication();`. I have updated the article with you fix!

[2015-10-29 08:02] pyadav commented on #2022
@brentvatne I also getting this NetInfo.isConnected.fetch(...).done is not a function using "react-native": 0.12.0

[2015-10-29 08:24] pfeiffer commented on #371
:+1:

[2015-10-29 09:54] carl1990 commented on #3761
I debug this method it jsonobject is:<br>

	{
    remoteModuleConfig =     {
        RCTAccessibilityManager =         {
            methods =             {
                getCurrentVoiceOverState =                 {
                    methodID = 2;
                    type = remote;
                };
                getMultiplier =                 {
                    methodID = 1;

[2015-10-29 10:19] 3210jr commented on #2941
I have just solved an issue similar to this one by running

$ sudo chown -R $(whoami):admin /usr/local

I must have messed with the permissions at one point or the other.
Hope it helps!

[2015-10-29 10:19] liuwin7 commented on #3703
upgrading watchman  works for me

[2015-10-29 10:20] liuwin7 commented on #3703
Upgrading watchman works for me.

[2015-10-29 10:33] umfana commented on #3698
@nvcken I have this same issue on an iPhone 4S with iOS 7 - what did you do in the end to fix it?

[2015-10-29 10:35] gre commented on #3452
Experiencing this too, do anyone have a workaround for this?

[2015-10-29 10:58] TanTan-TT opened #3766 "Could you support to check OS version in iOS and Android?"
I have found a lib for this feature named "react-native-device", but I believe it is good that Facebook supports it natively.

[2015-10-29 11:00] nvcken commented on #3698
I follow this http://stackoverflow.com/questions/18758882/launch-images-in-ios-7-with-xcode-5

[2015-10-29 11:25] cosmith commented on #3429
This seems to be fixed in 0.13

![screen shot 2015-10-29 at 12 24 51 pm](https://cloud.githubusercontent.com/assets/1194749/10817119/230011f6-7e38-11e5-82ea-4793a7369a59.png)

[2015-10-29 11:40] davidaurelio commented on #3436
Implemented in #b86a6e3b44a63e92cf3a7976d2fa26c4bf412df1. Methods are supposed as *async* if they take a `Promise` as the last parameter. In Java, the object can either be resolved or rejected with the corresponding methods.

[2015-10-29 11:44] h3l opened #3768 "[DatePickerIOS] Could I set DatePickerIOS width,height and color?"

[2015-10-29 11:55] #3436 closed

[2015-10-29 13:25] bogdantmm92 commented on #41
@arianitu that solves the problem indeed! Thanks

[2015-10-29 13:33] martinbigio commented on #3763
looks like the problem was fixed on babel 5.8.33.

[2015-10-29 13:35] jonolock91 opened #3770 "Running app on Android emulator, build failed, react-native run-android"
Hi, hopefully it's just a small thing I'm missing but hope someone can help me. I have my app working on iOS and wanted to test it on an Android emulator. I have the Android SDK and emulator set up, the Android emulator starts up but with a black screen (I presume because react-native run-android fails).

When I run 'react-native run-android' inside my app project I get the following error:

Jonat

[2015-10-29 14:05] elisei-timofte commented on #29
+1 for <Text>

[2015-10-29 14:29] hufeng commented on #3766
[code]

[2015-10-29 14:35] zcstarr commented on #332
@jaygarcia I don't think this thread should be closed, UITableView in core would go along way in increasing the utility and longevity of the project. Its simply tricky and probably a bit time consuming to do @nicklockwood said back in Aug. there's simply no set schedule for this. That said, the suggested components area is most definitely not the place for UITableView discussion

[2015-10-29 15:13] maraujop commented on #3742
I've just hit this bug in Android too, just confirming it.

[2015-10-29 15:15] flipskills25 commented on #3770
Go to your build.gradle file in [your project name]\android\app and under "dependencies", change the 'com.android.support:appcompat-v7:23.0.1' dependency to 23.0.0.

[2015-10-29 15:34] mkonicek opened #3771 "Show download progress bar during 'react-native init'"
'react-native init' spends almost all its time in 'npm install':
https://github.com/facebook/react-native/blob/master/react-native-cli/index.js#L191

It would be cool to show a progress bar during the download.

A quick Google search returns: https://github.com/npm/npm/issues/6911

[2015-10-29 15:37] nucleartux opened #3772 "Network request progress on Android"
Currently on android xhr `onreadystatechange` fires only on xhr.DONE, but not on HEADERS_RECEIVED or LOADING. It seems OkHTTP doesn't support this events.
Does anyone have ideas how to realize this events for full consistency with iOS?
Maybe we should change OkHTTP to another library?

PS. And sorry for me english :)

[2015-10-29 15:38] dgladkov opened #3773 "[Android] [Navigator] HorizonalSwipeJump animation overlap"
Device: Nexus 5
OS: Android 6.0
React-native: 0.14.0-rc

Scenes overlap during HorizonalSwipeJump animation. Problem is not reproduced in both Android and iOS with react-native 0.12.x and iOS with react-native 0.14.0-rc

Example with 2 scenes and a Navigator with HorizontalSwipeJump
![2015_10_29_17_23_11](https://cloud.githubusercontent.com/assets/98132/10823299/b2a66960-7e63-11e5-8cc7-64f5d49a74c

[2015-10-29 15:40] webmanarmy commented on #41
Is anyone actively working on this? I find myself scanning each changelog hoping to see this has been fixed

[2015-10-29 15:54] javache commented on #3724
I'll actually change the default here, so the default value for visible is true.

[2015-10-29 15:55] #3724 closed

[2015-10-29 15:55] javache commented on #2952
This is probably happening since you're trying to present a modal before the first view has gone on screen.

[2015-10-29 15:57] PCharpentier opened #3774 "'Unable to download JS bundle' error on Android 4.1"
Hi,
First, I'm sorry for my broken English..

I'm working on React Native on Windows and I have an issue on my phone (Android 4.1.2).

I am following the quick start tutorial but, i have a problem in the guide "Running on Device". (http://facebook.github.io/react-native/docs/running-on-device-android.html#content)
I can't use adb reverse because I've Android 4.1 and not Android 5.0+. If I try, I h

[2015-10-29 16:36] appsuwear commented on #898
I have the same using 0.14.0-rc. But if I put the device in landscape and back again to portrait, then it works. Any idea?

[2015-10-29 16:39] JCzz commented on #898
I have the same using 0.14.0-rc. But if I put the device in landscape and back again to portrait, then it works. Any idea?

[2015-10-29 16:39] jonolock91 commented on #3770
Thanks for your help, I think that may have altered something, I've changed that, however the error still says 'Could not find com.android.support:appcompat-v7:23.0.1.', How do I reset it so it sees the new value?

[2015-10-29 16:54] h3r2on opened #3775 "packager strict mode error"
I have a fresh install of OSX 10.11 and went through the getting started setup. When I open Xcode and hit run i get the following error:

    /Users/MyUser/MyProject/node_modules/react-native/packager/packager.js:15
    const fs = require('fs');
    ^^^^^
    SyntaxError: Use of const in strict mode.

it's like it's not picking up ES6 support...

Environment:
* mac OS 10.11.1
* node v4.2.1
* react

[2015-10-29 17:08] cosmith opened #3776 "[Android] ReactMethod Callback arguments are null when passed first but not when passed last"
Calling
[code]
works but this:
[code]

gives `onSuccess` and `onError` as `null`.

I don't really have time to dig more into this right now but just putting it here in case someone is struggling to understand what's going on like me... try with your Callbacks at the end of the argument list :smile:

If someone who knows what's happening deep inside looks at this: the parameters are already null in

[2015-10-29 17:20] mkonicek commented on #2693
The status is now tracked here, feel free to send pull requests: https://github.com/facebook/react-native/blob/master/docs/LinuxWindowsSupport.md

I'll close this issue.

[2015-10-29 17:20] #2693 closed

[2015-10-29 17:48] corymsmith commented on #3760
Wondering the same thing over here

[2015-10-29 17:50] Sidnicious commented on #3429
Confirmed, thanks for checking!

[2015-10-29 17:50] #3429 closed

[2015-10-29 17:50] nucleartux commented on #2861
I think it issue can be closed by PR https://github.com/facebook/react-native/pull/3709

[2015-10-29 18:01] corymsmith commented on #3760
Looks like this commit by @sebmarkbage https://github.com/facebook/react-native/commit/6244fd003de4eb6ce7fc7c40632948bf27cca201#diff-459f28dd7480110d5d268af6f1204452

It was a private module so technically we shouldn't have been using it. Is there a good alternative to use in native modules?

[2015-10-29 18:04] pickhardt commented on #3760
Yeah, I know it was private, but people were using it (even though technically maybe we shouldn't have) It was useful. Is there an alternative?

Maybe it should get made into a public class method of StyleSheet, like StyleSheet.precomputeStyle

[2015-10-29 18:08] nosensezzz commented on #3583
Same here, after I update ios to 9.1 and xcode to 7.1, it happened.

[2015-10-29 18:17] nosensezzz commented on #3131
I encountered the same problem while running on a device.

my simulator runs well.

My environment is ios 9.1, xcode 7.1.

[2015-10-29 18:18] sebmarkbage commented on #3760
Why and how were you using it exactly?

It may product a result that may not be idempotent (in the mathematical sense). I.e. there may not be a public API that you can pass it to because it would be computed again.

[2015-10-29 18:35] pickhardt commented on #3760
Here's an example that was using it:

https://github.com/brentvatne/react-native-scrollable-tab-view/commit/c111d7746a87b7cebe07e90e3d73eede4970df53#diff-c7ac8c6ffd293d4101dad4033eedd5f7

(The function setAnimationValue uses it.)

[2015-10-29 18:46] marcshilling commented on #2228
@ide @brentvatne

I'm not sure this is resolved. I'm using the same tactic as @yamill to do animations and experiencing some very noticeable delays. The `onScroll` events simply do not come through the javascript bridge fast enough...

You can see the issue occurring in this gif: http://i.imgur.com/r15gMy1.gifv. The blurred background image is an `Animated` view that is having its `height` animate

[2015-10-29 19:14] ms88privat commented on #2299
I kinda have the same question right now. How to do it with a ScrollView and not a ListView?  onEndReached gets only triggered by the ListView?

[2015-10-29 19:18] AlexGustafsson commented on #29
Any news on support for <Text /> support?

[2015-10-29 19:22] ide commented on #2299
Since you control the content that goes into a ScrollView, between computing the layout of said content and listening to scroll events you should be able to determine when you've reached the end of the ScrollView.

[2015-10-29 19:29] ms88privat commented on #2299
@ide Thank you, I will try that. I read about "renderHeader" in the ListView documentation. Does the Header stay fixed or does it scrolls away? Because that is the reason I have to use the ScrollView every time instead of the ListView. I need the "Header" to scroll naturally away.

[2015-10-29 19:40] ide commented on #2299
It's not fixed -- there's nothing special about the header really.

[2015-10-29 19:49] ms88privat commented on #3563
@satya164 @nicklockwood Ok, I should have tried this more early, but it does still work with standard images / filePaths. Only if they get cropped and the filePath changes to `rct-image-store://1` it doesn't work anymore.

[2015-10-29 20:04] ide opened #3779 "[Reliability] Making Android robust during development and production"
There are a couple of things that are fragile about the RN Android environment right now. There has been some work put into RN iOS to be more forgiving about errors and bad inputs while still telling developers about the problems. A few things I've noticed that RN iOS does well that Android currently doesn't do:

- When there is a redbox, the app continues to function. On Android, the Java React i

[2015-10-29 20:28] ide opened #3780 "Node 5 and npm 3"
Node 5 is shipping with npm in less than an hour. Just a heads up that things like the website generation need to be updated to work with npm 3 before we can update the Travis suite to run Node 5.

[2015-10-29 21:26] mkascel commented on #3775
@h3r2on I just ran into this also, the issue on my end was that `~/.bashrc` wasn't getting sourced when launching a new terminal window, so NVM wasn't loading (you need node v4 to get the ES6 stuff to work).

Since OS X treats every new terminal as a login shell (which only sources `.bash_profile`), you need to create a `.bash_profile` in your root that sources `.bashrc`. This `.bash_profile` work

[2015-10-29 21:52] ide commented on #3585
0.13 was published awhile ago - closing

[2015-10-29 21:52] #3585 closed

[2015-10-29 22:07] Purii opened #3782 "[0.14-rc] Error running bundle with --dev=true"
I did an upgrade of two independent projects and always get an error, while launching them through their offline bundles.

**Upgrade:**
1. Update package.json
2. `npm i`
3. `react-native upgrade`: allow everything

I created the bundle with the following command:
`react-native bundle --entry-file index.ios.js --dev true --bundle-output ios/main.jsbundle --platform ios`

And now the app breaks whil

[2015-10-29 22:09] cancan101 opened #3783 "Add support for initWithBarButtonSystemItem to Right Button Item in NavigatorIOS"
Currently there is no way to use the [`initWithBarButtonSystemItem`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIBarButtonItem_Class/index.html#//apple_ref/occ/instm/UIBarButtonItem/initWithBarButtonSystemItem:target:action:) [when creating the Right Button Item in `NavigatorIOS`](https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/Rea

[2015-10-29 22:11] cancan101 opened #3784 "Support for rightBarButtonItems (multiple Right Buttons) in NavigatorIOS"
IOS Support multiple right buttons through the [`rightBarButtonItems`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UINavigationItem_Class/index.html#//apple_ref/occ/instp/UINavigationItem/rightBarButtonItems) property. [Currently this is not supported by NavigatorIOS](https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/React/Views/RCTNav

[2015-10-29 22:19] despairblue commented on #3754
After reading the source more closely, I think I just forgot to expose the `updateProgress` method:

[code]

[2015-10-29 22:19] #3754 closed

[2015-10-29 22:21] ide commented on #3782
We probably need to cherry-pick https://github.com/facebook/react-native/commit/500ffa9b763d03e759e9b2897da7f4f7904934cf

[2015-10-29 22:23] ide commented on #3776
This doesn't directly address your issue but in 0.15-rc we now have support for proper async functions. So you'll be able to take in one object at the end of your param list that has a `resolve` and a `reject` method and automatically define an async function on the JS side.

[2015-10-29 22:32] rocman commented on #898
seems the bugfix is not included in 0.14 rc
if you urge to fix it, maybe you can modify your code following the pull request above

[2015-10-29 22:33] ide commented on #3549
cc @martinbigio could you look into this and upgrade babel-core while you're at it? Somehow people are installing a buggy version of Babel but the latest 5.x release is good.

[2015-10-29 22:39] nucleartux commented on #3772
@ide can you help?:)

[2015-10-29 22:40] wootwoot1234 commented on #410
+1

[2015-10-29 22:45] niftylettuce commented on #3603
https://github.com/facebook/react-native/blob/master/Libraries/react-native/react-native.js#L20

Needs to be lowercase `react`?

[2015-10-29 22:45] niftylettuce commented on #3603
See <https://github.com/t4t5/react-native-router/issues/67>

[2015-10-29 22:51] niftylettuce commented on #3603
I'll submit a PR right now

[2015-10-29 22:51] ide commented on #3772
cc @kmagiera @mkonicek do you know of a Java HTTP library that notifies you of more fine-grained events, like when headers have been downloaded? (Also: it might make sense to look into HTTP/2 libraries now that it's popular, but that's a separate task.)

[2015-10-29 22:53] vjeux commented on #410
cc @martinkonicek

[2015-10-29 22:53] vjeux commented on #410
cc @mkonicek

[2015-10-29 22:57] niftylettuce commented on #637
This is not a good practice.  We need to get support for symlinks easily!  Come on!

[2015-10-29 22:58] niftylettuce commented on #637
How will we get better development, modules, tools, if developing modules that use other modules is a complete pain?

[2015-10-29 22:59] christopherdro opened #3785 "Layout inconsistency between Switch & SwitchAndroid"
### Switch

![Switch](http://www.chris.si/img/Screenshot_2015-10-30-02-45-13.png)
### SwitchAndroid
![SwtichAndroid](http://www.chris.si/img/Screenshot_2015-10-30-02-45-00.png)

The width value here seems to be incorrect.
https://github.com/facebook/react-native/blob/master/Libraries/Components/Switch/Switch.js#L113

No exactly sure if this applies to all devices so I wanted to check before making

[2015-10-29 23:01] niftylettuce commented on #3603
See <https://github.com/mjohnston/react-native-webpack-server/issues/50>

[2015-10-29 23:37] benvinegar opened #3787 "sourceMappingURL directive missing from JS bundle in 0.14-rc"
When using the following command:

[code]

I notice that no `//# sourceMappingURL=...` is present on the final line of main.jsbundle. It used to be.

Are we expected to add this line ourselves (totally fine)? It's not clear to me if this should be happening automatically or not.

[2015-10-30 01:07] kevinzzz007 commented on #1133
@iahu could you share more details on this code?  What is the context?

[2015-10-30 01:20] iahu commented on #1133
@kevinzzz007 source code is here https://gist.github.com/iahu/0e524f4612a8925f2f9c

[2015-10-30 01:22] kevinzzz007 commented on #1133
@iahu How did you manage to force the ListView to re-render?  I didn't see anywhere you created `_ds`...

[2015-10-30 01:31] h3r2on commented on #3775
@mkascel yup did'nt think about that. totally fixed it.

[2015-10-30 01:37] iahu commented on #1133
OK, I have update my gist.

[2015-10-30 01:46] kevinzzz007 commented on #1133
@iahu thanks!  That made it really clear.  So in my case, I got my data from ParseReact, here is my code:
[code]

[2015-10-30 01:54] iahu commented on #1133
You need to copy make a clone of you original datasource. That means it's must be a "immutable object".
So as your case, you can do that like me.
[code]

[2015-10-30 01:58] kevinzzz007 commented on #1133
@iahu yeah, I tried that, an issue with that is my Parse object has date object in it, which if I run the object through
`(JSON.stringify(this.data.driver_available_times));`, some data will be lost, so I had to use
`var _ds = this.data.driver_available_times;`

[2015-10-30 02:04] iahu commented on #1133
@kevinzzz007  try this code
[code]

[2015-10-30 02:07] kevinzzz007 commented on #1133
@iahu thanks!  I will give it a shot :-)

[2015-10-30 02:10] JonnyBGod commented on #3669
+1

[2015-10-30 02:13] yuchao86 commented on #3703
thanks all gays , when I was upgrade my node.js and npm , then start the RN again,  it's work good.

[2015-10-30 02:21] niftylettuce commented on #1924
Nevermind, resolved.

[2015-10-30 02:38] TanTan-TT commented on #3766
Oh, I want to check ios version, so RN for Android can check version but for iOS can not?

[2015-10-30 02:42] whokilledtheelectricmonk commented on #3770
Do you have the v23 SDKs?

[2015-10-30 04:00] mc-zone commented on #2299
@ms88privat I've find the way that how to know `scrollEnd` in ScrollView just like this:

[code]

But now I've turn to use `ListView` , and `renderHeader` meets my need too. :smile:

[2015-10-30 04:30] lvbingru opened #3789 "[IOS]Keyboard cannot dismiss when two TextInput switch focus in a ScrollView."
There are two TextInput in a ScrollView. When I touch one of them, the keyboard pop-up, then I touch the blank space in ScrollView, the keyboard dismissed. However, if I touch one TextInput, then touch the other, and then touch the blank space in ScrollView again, the keyboard can not dismiss.

[2015-10-30 04:30] mangogogos commented on #3584
@satya164 just wanted to give a huge thanks for insisting I use eslint!

[2015-10-30 04:38] uldza commented on #3703
Have the same issue.
I was following Getting Started guide from React Native websiste:
- Installed node with nvm
- installed watchman and flow with brew.
- npm install -g react-native-cli
- react-native init AwesomeProject
- opened AwesomeProject in Xcode, built it.
- had the same error in terminal:
Error building DepdendencyGraph:
 TypeError: Cannot read property 'root' of null
    at /Users/uldz

[2015-10-30 05:10] oney opened #3790 "Destroy app on Android after tapping home button or back button"
Running real Android device by signed APK. After tapping home button or back button, the app is destroyed. Then tap app icon, the app restarts. How to make the app not to be destroyed?
Some infos below.
The project is created by version 0.11.0, but I have added `onBackPressed` to `MainActivity`
[code]
I run these command to generate apk
[code]
However, `__DEV__` in `index.android.bundle` is `true`

[2015-10-30 05:18] qudao commented on #3703
@uldza i'm the same as you.

[2015-10-30 05:21] zelahi commented on #3701
@ide I would like to help out.  Would it be possible to take this on as a first issue?

[2015-10-30 05:24] brentvatne commented on #3701
@zelahi - sure! looking forward to the PR

[2015-10-30 05:41] lvbingru commented on #3789
I found the ScrollView's `scrollResponderHandleStartShouldSetResponderCapture` return true when the focus changed from one TextInput to the other. Because of that, the scrollview will capture the responder event, and consequently the other TextInput's focus cannot be called in js level. But actually, it already become the first responder in native, and the keyboard show. However, there is no focus

[2015-10-30 06:27] RandyZ opened #3792 "[IOS] After integrat to exist project, how to handle some unexpected error"
After integrat to exist project, how to handle some unexpected error in IOS and Android native code?

For example, Network is unreachable or some error from React Native view.

Thanks!

By the way. Sorry，I forget close my previous question！

[2015-10-30 08:05] tsaizhenling opened #3793 "Exporting Swift Value Types"
background:

we have a mature IOS project for which we are trying to use reactNative only for some parts of the application. so we already have built an extensive Model layer natively and we intend to keep it native. we also have plans to migrate this Model layer to Swift Value Types.

ideally we would like to be able to export our new Model layer as swift value types to js.

Question:

the guide

[2015-10-30 08:23] alexisohayon commented on #3598
+1 I've got this error too, no red box.

[2015-10-30 09:09] jonolock91 commented on #3770
I installed the android SDK using 'brew install android-idk' and here is what is installed when I run 'android':
<img width="679" alt="screen shot 2015-10-30 at 09 07 48 copy" src="https://cloud.githubusercontent.com/assets/11156990/10841960/e664ccb0-7ee5-11e5-9f4c-08f1c2c4ea18.png">

[2015-10-30 09:11] mkonicek commented on #3653
Interesting solution, looks like it might work. Can you explain how it covers all the three use cases above? Looks like it would let you set the page out of range and then much later add children which would suddenly select that page.

Note that I'll be away for a week so either someone else from the team can review or I'll get back to you then.

[2015-10-30 09:12] mkonicek commented on #3653
Wonder if there's a way to simply force the current page update to be done after adding the children in native.

[2015-10-30 09:19] PhilippKrone commented on #3653
@mkonicek: sure ;)

**Use case 1:**
Adding children and setting page in the same batch from JS -> native (such as when rendering for the first time).

Possibility 1 - First setInitialPage is executed, then the children are added: It will add one child after the other. The moment it reaches the child thats supposed to be shown initially, it will set the page to this child.

Possibility 2 - First ch

[2015-10-30 09:25] shishircc commented on #3760
I am facing same problem :) . I am also using react-native-scrollable-tab-view

[2015-10-30 09:30] d200820205051 opened #3794 "MapView 中的region值不会变"
/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 */
'use strict';

var React = require('react-native');
var {
  AppRegistry,
  StyleSheet,
  Text,
  View,
  MapView,
  Dimensions,
  TouchableHighlight,
  TextInput,
  NavigatorIOS,
} = React;

var regionText = {
  latitude: 0,
  longitude: 0,
  latitudeDelta: 0.04,
  longitudeDelta: 0.04,
};

var MyDemo = React.createClas

[2015-10-30 09:32] kmagiera commented on #3772
OkHttp that we use as a default http client have interceptors API that allows for tracking the progress (see https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/com/squareup/okhttp/recipes/Progress.java). It also supports SPDY and HTTP/2 support is definitely on the works (if not already there https://github.com/square/okhttp/commit/21dc92f967d01c2da3ace57b7cc04421e2fd296b)

[2015-10-30 09:32] kinhunt commented on #3452
+1

[2015-10-30 09:45] nucleartux commented on #3772
Hm, but how realize HEADERS_RECEIVED event? I can read length of bytes send, but how I can intercept what headers was received?

[2015-10-30 09:47] mc-zone commented on #3452
There is a dirty way that I've found to bypass this case temporarily:
[code]
[code]

But looking forward to real solutions.

[2015-10-30 09:57] JCzz commented on #898
Thanks rocman. I do have this PR in 0.14 rc. Or Am I missing something
If I have you code : https://github.com/rocman/react-native/commit/2d7261c201eb6f3eb9ca308474e9cd1a0ca0ca68
That should fix it right? Or did I hit another scenario(TabBar >> NavigatorIOS >> ListView) with same outcome?
Regards

[2015-10-30 10:12] kinhunt commented on #3452
@mc-zone clever

[2015-10-30 10:13] kmagiera commented on #3772
Not an expert in OkHttp API but it looks like when `Chain.proceed` returns headers are available (or maybe you need to call `Response.headers()` on the result of `Chain.proceed` and it's blocking). Those are questions you perhaps want to ask on okhttp github project rather than here

[2015-10-30 10:44] nucleartux commented on #3772
thank you, I will try realize this events :)

[2015-10-30 10:47] gutenye opened #3795 "Accessing development server from device is not working."
I followed http://facebook.github.io/react-native/docs/running-on-device-ios.html#accessing-development-server-from-device, and change `localhost` to my LAN `ip`, after `$ npm start`, still not work, I believe it still serves at `localhost:8081` instead of `0.0.0.0:8081`

[2015-10-30 10:53] hufeng commented on #3766
yes，iOS can not get version...

[2015-10-30 10:59] hufeng commented on #3789
yes, we have the same problem. Android have not the problem.

[2015-10-30 11:01] edo1493 commented on #898
I managed to solve this with a simple flex:1 on my NavigatorIOS tab bar ages ago (I was probably using 0.8.0). However, after downloading 0.13.0, I have got this issue again. : O

[2015-10-30 11:02] hufeng commented on #3776
thanks @ide , Cool.

[2015-10-30 11:03] tomkur opened #3796 "Add support for WebView component on Android"
It is mentioned in [several](https://facebook.github.io/react-native/docs/known-issues.html) [different](https://github.com/facebook/react-native/issues/2701) [places](https://github.com/facebook/react-native/pull/3604) that react-native does not offer currently WebView component on Android.
I think it's good to have a dedicated issue to keep track of the progress of this task.

[2015-10-30 11:06] richarddewit commented on #1167
+1

[2015-10-30 11:08] edo1493 commented on #898
My temporary fix is automaticallyAdjustContentInsets={false} in the <ListView> and then, I add     marginTop: 64, marginBottom: 49 to the listview style.

[2015-10-30 11:11] jaygarcia commented on #3766
http://stackoverflow.com/questions/7848766/how-can-we-programmatically-detect-which-ios-version-is-device-running-on

[2015-10-30 11:25] mkonicek commented on #3787
There were quite a few changes recently: https://github.com/facebook/react-native/blob/master/breaking-changes.md

Do source maps not work for you? Why do you need `sourceMappingURL`? It's possible the implementation changed.

cc @martinbigio

As a general note, this looks more like a question than an issue, you could try using Stack Overflow. With a small team we cannot answer all the questions w

[2015-10-30 11:31] mkonicek commented on #3774
Hi @PCharpentier, thanks for the feedback! Maintaining Windows support and documentation is an ongoing community responsibility.

Just added instructions for Mac:
https://github.com/facebook/react-native/commit/a02240c2ab9afa566b8beb2c3a4d4ebd0711be7e
https://github.com/facebook/react-native/commit/c16ffd31627a1d29dbe36da4ac02d98fa5a239bc

Please feel free to help improve the docs by adding instru

[2015-10-30 11:32] mkonicek commented on #3774
Also, please use Stack Overflow for asking questions: stackoverflow.com/questions/tagged/react-native

I'll close this issue as it is a question rather than an issue.

[2015-10-30 11:32] #3774 closed

[2015-10-30 11:36] mkonicek commented on #3766
Hey @TanTan-TT, no plans on our side yet. Feel free to find a 3rd party module or publish one: https://react.parts/

Please refer to the Stack Overflow question.

[2015-10-30 11:36] #3766 closed

[2015-10-30 11:38] mkonicek commented on #3766
Using 3rd party modules in your apps is perfectly fine.

[2015-10-30 11:41] mkonicek commented on #3792
Hey @RandyZ, please use Stack Overflow to ask questions: stackoverflow.com/questions/tagged/react-native

Your question is more likely to be answered there by the community and it also helps us keep track of bugs and feature requests in github issues.

I'll close this as it is a question rather than an issue.

[2015-10-30 11:41] #3792 closed

[2015-10-30 11:44] mkonicek commented on #3792
It will be also helpful to provide examples of what errors you're trying to handle. A lot of APIs have an error callback.

[2015-10-30 12:26] mschipperheyn opened #3797 "Text style: text transformation"
I find myself wishing for the option of text transformation: uppercase etc.

Even though these things can be easily achieved with Javascript, when your theming e.g. Material Design, with its penchant for capitalized buttons, it would make life easier.

[2015-10-30 12:59] nicklockwood commented on #3563
Can you tell me what the actual "filePath" value you're using looks like?

Also, this looks suspiciously like an error that was fixed a while ago. Is this still happening for you with the latest version? (the latest master, I mean, not the latest release)

[2015-10-30 13:23] bokuweb commented on #795
I use v0.13.1.
I create getter method to get updated props, and pass to  `NavigatorIOS`.
It is easy to keep the states on the top-most components and let it pass props down.
In this case there will be a problem?

For example,
[code]

[2015-10-30 13:57] PhilippKrone commented on #2616
@chirag04 After updating to current master, I get this error all over my app. Did you find any sources for this?

[2015-10-30 14:28] gitlovenotwar commented on #2797
Whew, I thought I was the only one having this issue. Adding --verbose shows now some log but I am encountering some errors with <pre>events.js:141 - Unhandled "error" event, Error: spawn npm ENOENT</pre> can someone explain, what's happening? Thanks.

[2015-10-30 14:42] gitlovenotwar opened #3798 "react-native init hangs over time"
It seems no one has ever solved this one yet so I reopen the issue. It hangs over time with no response at all. More people still encountering the problem. Adding --verbose as stated here https://github.com/facebook/react-native/issues/2806 shows now some log. I'm having this issue
<pre>events.js:141 - Unhandled 'error' event, Error: spawn npm ENOENT</pre>
Can some explain what's happening? Thanks

[2015-10-30 14:46] JCzz commented on #898
Thanks edo1493. I did paddingTop: 64. It looks like a thing in iOS: http://stackoverflow.com/questions/18103715/navigation-bar-appear-over-the-views-with-new-ios7-sdk

I tried to set the translucent, but nothing worked.
Thanks

[2015-10-30 14:55] chirag04 commented on #2616
@philikon I couldn't find the root cause yet.

beep @tadeuzagallo @sahrens

[2015-10-30 14:58] satya164 commented on #3584
@mangogogos Glad it helped you :D

[2015-10-30 15:01] mkonicek commented on #3779
Thanks for putting this together!

1. As @kmagiera said somewhere, not sure this is actually a good thing. Why do you want to keep using the app instead of being forced to fix the error that causes the redbox?

2. Didn't know about soft and fatal JS exceptions - interesting. Do you have some examples?

3. Looking at the commit I understand iOS does show a redbox?

4. I believe we catch Java except

[2015-10-30 15:07] ms88privat commented on #3563
@nicklockwood I will test it with the latest version. But for now, the cropped filePath (with `ImageEditingManager.cropImage` )  looks exactly like `rct-image-store://0`. Not cropped it looks like this: `assets-library://asset/asset.JPG?id=152C49B3-1894-42E4-8AFD-86979BC84225&ext=JPG`. Both filePaths are working with the `<Image />`, but only the second one I can upload via xhr.

[2015-10-30 15:08] dgladkov commented on #3773
Found that the problem is in ReactAndroid. bf598647d2ff7aad1d29c7c5d28d816c01941c1c breaks it for me

[2015-10-30 15:33] ms88privat commented on #3563
@nicklockwood YES, it did work with the latest master version! Thank you very much :+1:
PS: the filePaths look still the same, but it is working now.

[2015-10-30 15:36] braunsquared commented on #567
+1

[2015-10-30 15:38] satya164 commented on #3779
Subscribing.

[2015-10-30 15:38] #3563 closed

[2015-10-30 15:48] josev55 opened #3799 "Load Images dynamically from state"
Hi everybody,

I have an issue where I try to change the image source from a change in the state object but it's not changing.
I have logged the value and it's changing but the image does not.

Here it's the code im using:
[code]

[code]

Any help will be appreciated.
Thanks in advance

@josev55

[2015-10-30 16:14] dgladkov commented on #3773
Added example project to reproduce the bug at https://github.com/dgladkov/react-native-3773

[2015-10-30 16:15] elisei-timofte commented on #1587
I am trying to get two PickerIOS on the same row, but I can not set the width properly. It just cut from the content. I'd like to be able to set styles to the picker so I can decide the left and right padding. Thanks
<img width="392" alt="screen shot 2015-10-30 at 6 13 55 pm" src="https://cloud.githubusercontent.com/assets/6162068/10851115/070debda-7f32-11e5-827e-fe45844e94a4.png">

[2015-10-30 16:43] sebmarkbage commented on #3760
I think that was an invalid use of precomputeStyle. Perhaps due to a misunderstanding of the `setNativeProps` API. @brentvatne Could you clarify why it was needed since it was already doing that here?

https://github.com/facebook/react-native/blob/6f17dba39b447a540491ce7f8e6256a59ea2d4c5/Libraries/ReactIOS/NativeMethodsMixin.js#L80

And is still doing it. What breaks if you just remove the call?

[2015-10-30 16:46] whokilledtheelectricmonk commented on #3770
You also need the Android support repository:

http://facebook.github.io/react-native/docs/android-setup.html#content

If it is running slowly, make sure you configured HAXM correctly for the emulator.

[2015-10-30 16:55] jonolock91 commented on #3770
That solved that problem, thanks, but now I'm getting this error which should be a small thing.

Execution failed for task ':app:installDebug'.

I have my AVD open and it has a black screen on it before running the 'react-native run-android'

[2015-10-30 16:56] benvinegar commented on #3787
`sourceMappingURL` is what signals to the browser, "yes there is an associated source map for this file at this URL".

Up until react-native 0.13, this directive was always output with the result of the `bundle` operation. Now it isn't – and the change is not mentioned in the release notes. I just want to know if that was a conscious decision by the team, or a mistake.

Background: our tool, [Sent

[2015-10-30 17:01] jonolock91 commented on #3770
It also comes back with:
Skipping device 'emulator-5554' (emulator-5554): Device is OFFLINE.
Which would seem to be my simulator.

[2015-10-30 17:04] ms88privat commented on #3799
I got something similar some time ago. Try to add the key property to the image tag like `<Image key={images[this.state.playImage].uri} ... />`

[2015-10-30 17:07] jonolock91 commented on #3770
I have it working now thanks.

[2015-10-30 17:07] #3770 closed

[2015-10-30 17:22] jaygarcia commented on #567
Does removal (just asking) of the image make a difference?

[2015-10-30 17:52] martinbigio commented on #3787
Hmm I'll take a look. I don't think the `sourceMappingURL` should have get stripped out of the bundle. This is most likely a mistake. Thanks a lot for reporting it :)

[2015-10-30 18:10] wallacyyy commented on #3049
Even using the InteractionManager, dev mode off, nearly no content on render and single Navigator I still have a 1sec lock between transitions on Android testing with a Nexus 5.
I know it sounds not significant but I think it is, takes a lot off the native user experience that is what react-native is all about.
I will downgrade to older version to get the other transitions (#3669), maybe other thi

[2015-10-30 18:20] ide commented on #3773
cc @kmagiera

[2015-10-30 18:21] ide commented on #3794
Please use Stack Overflow and tag your question with react-native for asking these kinds of questions: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out on Stack Overflow and will be able to see and likely also answer your question. Using Stack Overflow for questions also helps us use Github issues to keep track of bugs that need to be fixed.

[2015-10-30 18:21] #3794 closed

[2015-10-30 19:12] ide commented on #3779
@mkonicek some replies:

1. If you are doing QA testing or showing a demo, it's useful to be able to keep using the app even if one method call or prop setter failed. For example POST requests on Android trigger a redbox if you don't specify a method body -- but the rest of the app mostly keeps working. It's also helpful for debugging to be able to keep using the app to figure out what causes the

[2015-10-30 19:16] davidsims9t commented on #3571
This still seems to be an issue in v0.13. Any idea when this will be fixed?

[2015-10-30 20:32] Grievoushead commented on #3239
Had the same issue, I have installed node 5 using these commands:
[code]

then I ran ```brew install node``` it's fixed the issue.

[2015-10-30 23:22] mangogogos commented on #3779
+1 to #3 @ide
Especially without the chrome React tools not knowing which component caused a crash can sometimes be a pain!

[2015-10-30 23:47] negativetwelve commented on #3054
You can create custom scene configs. The line you'd want to change is: https://github.com/facebook/react-native/blob/064de3b3381a29e6ac12e689cd460a1e05319fc1/Libraries/CustomComponents/Navigator/NavigatorSceneConfigs.js#L62 and keep the scale at 1

[2015-10-30 23:50] ide commented on #3054
@negativetwelve thanks for answering! Cloning the scene config is the recommended approach.

---

For further questions please use Stack Overflow and tag your question with react-native for asking these kinds of questions: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out on Stack Overflow and will be able to see and likely also answer your question. U

[2015-10-30 23:50] #3054 closed

[2015-10-30 23:52] ssoliwal commented on #3379
@mkonicek can you point me to the PR? Thanks!

[2015-10-31 00:09] #2952 closed

[2015-10-31 00:40] brentvatne commented on #3785
@christopherdro - images seem to be broken :O could you update?

[2015-10-31 00:46] christopherdro commented on #3785
@brentvatne loads for me on mobile

[2015-10-31 01:04] despairblue opened #3803 "unmounting a mapview in motion crashes the app"
Putting a mapview in a navigator and popping it while the mapview animates leads to this:

[code]

[2015-10-31 02:30] hermanccw opened #3804 "RCT_EXPORT_METHOD does not parse all Objc-C method declarations"
Hi all,

Ran into a problem when trying to integrate RN into an existing app, running version 0.13.2.

Followed instruction here: https://facebook.github.io/react-native/docs/embedded-app-ios.html#content and had a simple view displaying in existing app, great so far.

Problem started when I wanted to have the JS file called into an objc method.

1.  Create RCTBridgeModule class like this:
[code]

[2015-10-31 07:08] likeliondj commented on #2806
@yinzSE Thank you so much. I solved it with your advice by switching npm version :)

[2015-10-31 08:57] LeoJiaXin commented on #3325
In android native code，the blue fading effects can be removed. Could this work?
[code]
Could you please add a Prop to `ScrollView` for Android, so this blue fading effetcs could be optional?
@ide

[2015-10-31 09:31] qbig opened #3805 "Android XMLHttpRequest "onreadystatechange" event only fired once when "readyState == 4""
The same code when run on iOS, onreadystatechange would be fired 3 times with request.readyState equals 2, 3, 4 respectively.

[2015-10-31 10:44] changfuguo opened #3806 "set marginRight twice, the view hang there"
here i set style marginRight twice

       coverWrapper:{
          marginRight:5,
          width:60,
          height:93,
          flexDirection:'column',
          marginRight:20
      },

then the Interface is white and  hang there，when i remove  '  marginRight:5,' , then ok
i guess we can not set a style twice, or it is bug ???

[2015-10-31 12:56] Emory-M commented on #3259
Same issue, React-Native Android, I want put an unknown height Image from uri

[2015-10-31 13:14] norfish commented on #1875
[code]
works for me. When I use brew upgrade watchman，only get ```Error: watchman-HEAD already installed```.

[2015-10-31 13:16] nucleartux commented on #3805
I think this is duplicate of my issue https://github.com/facebook/react-native/issues/3772

[2015-10-31 13:54] jackyanjiaqi opened #3807 "No Content Shows when 'ViewPagerAndroid' wrapped by 'ViewPagerAndroid',fixed width$height given"
[code]
__Cannot show "First child page" and "Second child page" even if the exact width and height are given.But the touchevent-related Callbacks invoked like onPageScroll and onPageSelected__

[2015-10-31 14:10] qbig commented on #3805
As @nucleartux mentioned. Closed as dup.

[2015-10-31 14:10] #3805 closed

[2015-10-31 16:35] niftylettuce commented on #2952
@javache thanks for this!  that was my issue too.  I was trying to make the modal visible when it rendered :laughing:

[2015-10-31 16:35] mangogogos commented on #3806
It's just not a defined behaviour. I ran into the same issue ( #3584 ) and was recommended to use eslint which has improved efficiency by making it trivial to find such typos and mistakes! Just make sure to grab the babel parser and never make this mistake again ( no-dupe-keys: 1 ) which should be set already in the .eslintrc file in the root of this repo. Out of curiosity how are you debugging yo

[2015-10-31 18:20] oney commented on #3790
I am not familiar with Android. It's not related to React Native.
The following code makes it not destroy app when pressing back button.
In `MainActivity.java`
[code]

[2015-10-31 18:20] #3790 closed

[2015-10-31 18:21] niftylettuce opened #3810 "Modal doesn't work on Android"
When will we get Modal support for Android?

[2015-10-31 18:22] niftylettuce commented on #3004
@ide @satya164 Why don't the React Native docs for Modal say "Android is not supported"?  This is frustrating.

[2015-10-31 19:10] leohuangyi commented on #3666
The issue still has ,it seem did not Fixed
My Package.json is
"dependencies": {
    "react-native": "^0.14.0-rc"
  }

[2015-10-31 19:10] javache commented on #3804
Try following the obj-c style for method naming, although this not working sounds like a bug as well

    RCT_EXPORT_METHOD(addEvent:(NSString *)name location:(NSString *)location)

[2015-10-31 19:12] leohuangyi commented on #3666
@ide

[2015-10-31 19:31] leohuangyi commented on #3666
This is fixed,Thanks a lot :+1:

[2015-10-31 19:48] leohuangyi commented on #3666
@ide It seems did not fiexd,
 I ‘react-native init’ a new project，there is still HorizontalScrollIndicator 。
![screenshot_2015-11-01-03-41-41](https://cloud.githubusercontent.com/assets/12397290/10865597/314423d2-804b-11e5-8144-7a03b375c9ec.jpg)

[2015-10-31 19:59] hermanccw commented on #3804
Thanks @javache!  That's it!  It seems to be still a bug though since that's valid objc.

[2015-10-31 20:00] kevtastic opened #3811 "cant connect to development server when deploying to ios 9?"
i am changing the deployment target to ios 9 and running the simulator but its giving an error

'could not connect to development server.'

the only things i did to upgrade is bump the deployment target and run react-native upgrade

my packager is running and it works when im deploying to ios 8.4, when i go to "http://localhost:8081/index.ios.bundle?platform=ios&dev=true" in a browser i can see th

[2015-10-31 20:03] PhilippKrone opened #3812 "[Android] Touches are not working on transformed views"
Hi,

I'm using react-native-invertible-scroll-view and figured out a bug on Android which is as follows: If you have an element at the end of the inverted scrollview, you need to press at the top of the scrollview to actually touch the element. This seems to be as the hit box of the view is not transformed where as the view is.

Example: I need to press at the very top of the screen to actually tr

[2015-10-31 20:15] satya164 commented on #3812
I'm using transforms on Android too, and touches seem to be working fine. I'm still on 0.12 though. What's your RN version?

[2015-10-31 20:18] PhilippKrone commented on #3812
I'm on 0.12 as well. To be honest I'm not entirely sure how https://github.com/exponentjs/react-native-invertible-scroll-view/blob/master/InvertibleScrollView.js is exactly working concerning the transforms. The README says: InvertibleScrollView uses a scale transformation to efficiently invert the view. The scroll view's viewport is inverted to flip the entire component, and then each child is in

[2015-10-31 20:38] #3811 closed

[2015-10-31 20:39] kevtastic commented on #3811
react-native upgrade wasn't working correctly.

this was different in my info.plist

[code]

[2015-10-31 21:03] mschipperheyn opened #3814 "Subsequent Views clip overflowing content of previous views"
So, if I position an element absolutely to make it overflow it's containing View. Any subsequent View which is non transparent will clip the overflowing content. It seems like any subsequent View gets a z-index higher than a previous one

	<View style={{
	marginHorizontal:12,
	borderRadius:2,
	borderWidth:1,
	}}>
	  <View style={{
		  flex:0,
		  height:175
	  }}>
		<View style={{
			position:'abs

[2015-10-31 21:05] mschipperheyn commented on #3814
A workaround obvious is putting it in the following view and set top:-24.

[2015-10-31 21:07] PhilippKrone commented on #3557
Ah
@ide is this basically the reason for https://github.com/exponentjs/react-native-invertible-scroll-view/issues/16?

[2015-10-31 21:16] mschipperheyn commented on #698
One way to deal with the problems that are created by automatically overlaying subsequent elements over previous ones would be to implement the flex order element. This way, you could have an element with a lower z-index easily appear after an element with a higher z-index.

[2015-10-31 21:17] spicyj opened #3815 "Native exceptions when manipulating ART children without a surface"
Rendering this component throws a cryptic error on the native side because every ART Group should be mounted in a Surface and it gets confused.

[code]

We should probably throw an error earlier for this case. One way to do it would be to use context to pass down some flag from the Surface and throw if it's not present in the other components.

[2015-10-31 23:57] ide commented on #698
Flex order seems like a great idea cc @vjeux. Anyone want to contribute a PR and some tests to the CSS-layout repo?

[2015-10-31 23:58] ide commented on #3557
Yeah I think so. It might just be Android clowniness but perhaps RN is doing something to disable hitbox translation or can change this behavior on Android.

[2015-11-01 00:03] ide commented on #3004
@niftylettuce want to send a PR to clarify this in Modal's docblock?

[2015-11-01 00:06] ide commented on #3812
The README summarizes how it works for the most part. The code is also simple and really short so I recommend looking at it. I think Android (or RN android) just doesn't handle transforms completely.

[2015-11-01 00:09] ide commented on #3804
There's a regex that parses method signatures that probably needs to be just a tiny bit more lenient. Thanks for the report!

[2015-11-01 01:19] AaaChiuuu commented on #3810
t8776300 (removing BaseViewPropertyApplicator broke it)

[2015-11-01 01:56] urbanappetite opened #3817 "Invalid directory /Users/node_modules/Dimensions"
Hi,

I've just started using 0.14.0-rc and migrated from an early version. I opted to stop using CocoaPods and go it "alone" instead.

The directory structure is setup as per the result of "react-native init":

- android
- ios
- index.ios.js
- index.android.js
- node_modules
- package.son

Everything on the Obj-C side builds and runs in the iOS simulator

React native is giving the following error

[2015-11-01 03:05] Sammiu opened #3818 "Error: Cannot find module '/Users/tianpeng/AwesomeProject/node_modules/react-native/package.json'"
An error has occurred while I trying to initialize a react-native project by: react-native init awesomeProject:

Error: Cannot find module '/Users/tianpeng/AwesomeProject/node_modules/react-native/package.json'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at

[2015-11-01 03:13] yychun1217 commented on #2306
Same issue here, I am running the UIExplorer example inside react-native project

[2015-11-01 04:33] urbanappetite commented on #3817
ResolutionRequest.js is redirecting the require()'s from the module... it looks through these search paths:

- '/Users/username/Dropbox/Dev/project_name/node_modules/react-native-swiper/dist/node_modules/Dimensions'
- '/Users/username/Dropbox/Dev/project_name/node_modules/react-native-swiper/node_modules/Dimensions'
- '/Users/username/Dropbox/Dev/project_name/node_modules/node_modules/Dimensions'

[2015-11-01 04:36] urbanappetite commented on #3817
...I can change the library to use import { Dimensions } from 'react-native' but as it used to work and I couldn't find any mention of this being a breaking change require('Dimensions') should be allowed to work.

[2015-11-01 04:47] thstarshine commented on #3796
+1. It'll be great if there's a dedicated schedule for the release.

[2015-11-01 04:55] steve-ng opened #3820 "Implementing native admob view in Android"
Hi,

Here's some snippet of my code. However

1. I could only see white space without the ad
2. I tried debugging and it doesn't hit createViewInstance method

Any idea why? I tried implementing dummy prop too. I'm on RN 0.14.0-RC

ReactAdMobManager.java
[code]

ReactAdMobPackage.java
[code]
MainActivity.java
[code]

AndroidAdMobView.js
[code]

Usage
[code]

[2015-11-01 04:58] urbanappetite commented on #3817
If I add custom potential paths to the searchQueue in ResolutionRequest.js I end up with a working app. This obviously won't be the best way to get to the top level of the react-native module and we would want to include paths recursively but as a quick demo it works:

searchQueue.push( path.resolve(__dirname + '/../../../../../Libraries/Utilities/' + toModuleName));
searchQueue.push( path.resolve

[2015-11-01 05:17] ide commented on #3817
The `@providesModule` pragmas within the react-native package are meant to be a private detail. Requiring modules directly has undefined behavior i.e. best not to rely on it. Use the standard Node/npm style of going through the public API and requiring `react-native`.

[2015-11-01 05:23] leohuangyi commented on #3666
Thanks, it is fixed。

[2015-11-01 05:27] urbanappetite commented on #3817
I do for my own code but unfortunately I can't say the same for various modules I use. It could be a useful compatibility mechanism.

I also couldn't figure out how to import StyleSheetRegistry. This wasn't working:

import { StyleSheetRegistry} from 'react-native'

Admittedly I'm not all that used to the import style so maybe I'm missing something.

[2015-11-01 05:30] changfuguo commented on #3806
@mangogogos tks so much , my error sence is the same to you. i just copy some codes from other place,so  .., i do not know why there is no hint when debug  in the chrome,

[2015-11-01 05:31] #3806 closed

[2015-11-01 05:53] ktoh commented on #2952
@javache I'm not sure this issue should be closed. You're probably right that the technical issue is rendering order, but one of the key abstractions of React design is that it allows developers to think in terms of state with the platform taking care of mutations.

Forcing developers to set a `false` state on the modal and explicitly waiting for a render before setting the desired state to `true`

[2015-11-01 07:04] changfuguo opened #3821 "'including sections with sticky section headers ' and how to sticky the header of section?"
the doc just tell us the listview support sticky section header, but i found it is  does not work,

here are my code :

             'use strict'
            var videoTypies=[{name:'电影',value:'movie'},{name:'电视剧',value:'tv'},{name:'综艺',value:'zy'},{name:'动漫',value:'katong'}];
            var React = require('react-native');
            var {
                Image,
                StyleSheet,

[2015-11-01 07:20] zmingchun commented on #3687
@Shadowlong YES,the problem is Fuckin' Chinese GFW...，I use VPN and is OK.

[2015-11-01 09:07] ktoh commented on #2952
@javache ah got it, thanks for the clarification! I see the commit comment now, will revert if it doesn't solve the issue

[2015-11-01 09:47] javache commented on #2952
Hi @ktoh, with https://github.com/facebook/react-native/commit/6ab2719bff9753f533d7bb91f848d59ddece3e75 pushed to master, the React rendering order should no longer matter and we solve this issue on the native side. Let me know if that doesn't work for you.

[2015-11-01 09:54] niftylettuce opened #3822 "Ability to detect iOS vs Android and load differing components?"
In case I want to just have `index.js` instead of `index.ios.js` and `index.android.js`.

Most of my components are all shared, with exception of `react-native-facebook-login` (since there is now Android support at <https://github.com/lwhiteley/react-native-facebook-login/blob/master/Android.md> and the `require` call is different).

[2015-11-01 09:55] niftylettuce commented on #3822
For example, something like:

[code]

[2015-11-01 09:57] ide commented on #3822
You can do `require('react-native').Platform.OS === 'android' / 'ios'` to do a runtime check. The packager will still bundle all requires that it statically discovers.

[2015-11-01 12:04] satya164 commented on #3814
Currently you need to put the element at the end if you want it at the top.

[2015-11-01 13:38] JonathanWi commented on #3243
Same error here with node 5.0.0 on osx 10.11.1 El Capitan. Any news?

[2015-11-01 14:45] ssssssssssss opened #3823 "Lazy view-pager and scrollview"
Android ViewPager and iOS ScrollView {{pageEnable:true}} needs to load all the data in advance which is slow for a large data set, so we'd like to implement a lazy view pager that only loads several siblings of current page. It works in iOS, but Android version suffers the rendering issue which makes the lazily added view not shown.

Here is the repo to reproduce, we take 5 pages as sliding window

[2015-11-01 16:56] niftylettuce commented on #2150
Still not working for me - when I click off a text input with a scroll view that's behind it, it doesn't blur.

[2015-11-01 17:06] PhilippKrone opened #3824 "[Android] Reload bridge"
Hello,

is there any (public) method which reloads the bridge entirely, analogous to  [self.bridge reload] in iOS? I've tried the following but it seems to not really work (the progress dialog is not getting dismissed):

[code]

[2015-11-01 17:11] niftylettuce commented on #2150
I have to explicity declare `keyboardShouldPersistTaps={false}`, it's like the default isn't working or something?

[2015-11-01 17:31] niftylettuce opened #3825 "ScrollView doesn't take up 100% width"
I have ScrollView with `flex: 1` inside a fully stretch container.  It only spans the width of the content, not the full width of the container.  The only way I can fix this is if I do `<ScrollView style={{ width: Dimensions.get('window').width }}>`.  Is there a better way?  I'd like to not have to explicitly declare the width, given that if my app supports screen rotation, then I'd have to resize

[2015-11-01 17:44] mintuz commented on #3273
This is a duplicate, the information provided here may help you. https://github.com/facebook/react-native/issues/1282

[2015-11-01 18:36] niftylettuce opened #3826 "shadowSpread property"
Can we get something like this?

[code]

The expected result is to have a drop shadow that spans the entire width of the container to the edges.

Expected:

![screen shot 2015-11-01 at 1 35 25 pm](https://cloud.githubusercontent.com/assets/523141/10870629/7360c39a-809d-11e5-9151-84f9a0df2e71.png)

Actual:

![screen shot 2015-11-01 at 1 35 20 pm](https://cloud.githubusercontent.com/assets/523141/10

[2015-11-01 18:45] PhilippKrone commented on #3824
Update: Is this the correct one?

[code]

[2015-11-01 19:21] karlgodard commented on #1613
Is this fixed in RN 0.13.2? Because I am still not getting the "register" or "notification" events to fire.

[2015-11-01 19:35] DannyvanderJagt commented on #1613
@karlgodard This is fixed in v0.13 and higher. I have written a step by step tutorial on [How to use push notifications in React-Native (IOS)](https://medium.com/@DannyvanderJagt/how-to-use-push-notifications-in-react-native-41e8b14aadae#.v6dpmjwy7). Maybe it can with your problem.

If the tutorial didn't help to fix your problem, please let me know and I will help you. :)

[2015-11-01 20:22] BigPun86 commented on #3822
Just use Platform.OS where you need a specification:

var {Platform} = React;

if (Platform.OS === 'ios')
  return (
    <SomeAndroidComponent />
  )
else
  return (
    <SomeIOSComponent />
  )

[2015-11-01 20:27] Purii commented on #3782
Works for me :+1:

[2015-11-01 20:43] niftylettuce commented on #3822
Very cool.  Can this get documented on the site?  I'm finding myself being
able to write components that work both platforms so I only need one index
file.
On Nov 1, 2015 3:23 PM, "Adel Bruno Grimm" <notifications@github.com> wrote:

[2015-11-01 21:01] karlgodard commented on #1613
Thanks @DannyvanderJagt

Finally got it working. I recently switched from a 3rd party solution react-native-remote-push back to the PushNotificationIOS, since the issue was said to be fixed. Had a couple wires crossed in that process, which I've fixed, so it's all good now.

Thanks for the quick response!

[2015-11-01 22:01] kevtastic commented on #3677
what did you do to fix this?

[2015-11-01 22:34] ide commented on #3822
Task to add docs here: https://github.com/facebook/react-native/issues/3701

[2015-11-01 23:04] ms88privat commented on #3825
did you set the contentContainerStyle property to flex: 1 too?

[2015-11-01 23:39] DickyT opened #3827 "Request of adding Responder / callback function while swiping back the navigators"
Hi,
Can we add the Responder method / callback function to access the current coordinate(x, y) of the current touch point? Because in some cases we need to get this data.

I went through the documentation and I cannot find the solution. There is a few resources about the Navigator.SceneConfigs.

Thanks

![react-native-issue](https://cloud.githubusercontent.com/assets/4535844/10872046/cc27580e-80cf

[2015-11-02 00:04] aleclarson opened #3828 "Prevent a WebView from becoming a responder"
I've tried adding a `PanResponder` to a `View` that holds the `WebView` as a child. But when trying to use `onStartShouldSetPanResponderCapture`, the `WebView` still responds to the touch.

A workaround is to set the `WebView`'s `scrollEnabled` to `false` inside `onPanResponderGrant`, but that doesn't prevent the text zoom/selection from being triggered.

[2015-11-02 00:06] jxm262 commented on #247
:+1:

[2015-11-02 00:33] niftylettuce commented on #3004
@ide Don't really have time, trying to crank out a project.

[2015-11-02 00:34] niftylettuce commented on #3825
@ms88privat yes, all parent containers have flex 1

[2015-11-02 00:34] niftylettuce commented on #3822
Great @ide !

[2015-11-02 00:45] cmcewen commented on #3828
Try a transparent `View` absolutely positioned over the the `WebView` maybe?

[2015-11-02 00:46] jamesfzhang commented on #3273
Thanks @mintuz

[2015-11-02 00:46] #3273 closed

[2015-11-02 00:52] aleclarson commented on #3828
@cmcewen The problem there is that the touch is already being handled by the time the `View` is there to block the touch.

[2015-11-02 00:58] aleclarson commented on #3828
I could take advantage of `- (void)sendEvent:(UIEvent *)event` in `UIWindow` to intercept the touch before it is sent to the `UIWebView`, but that may not be applicable here depending on how touch handling is done in React Native.

[2015-11-02 01:08] jamesfzhang commented on #1282
@DaleJefferson Do you mind giving an overview of how the code in that gist works and fixes the problem? Thanks :)

[2015-11-02 01:22] xiekw2010 opened #3829 "[React ref]How to get the ref of listView's sectionHeader view"
[code]
As the code shows, I can get the listView ref but not the listView's header's ref, how can I get it?

[2015-11-02 01:56] Calvein commented on #3437
It should be documented somewhere, you can't create a react-native project called `native` (I just had the same problem).

[2015-11-02 02:11] niftylettuce commented on #2615
All I want to do is hide the NavigationBar for various components, e.g. Page A doesn't need navbar, but Page B does, what's the easiest way to do that?  Can someone give me a code example?

[2015-11-02 02:16] ide commented on #3829
Use callback refs, which are superior to string refs: `ref={component => whatever}`

[2015-11-02 02:16] #3829 closed

[2015-11-02 03:27] carl1990 commented on #379
+1

[2015-11-02 06:16] zixun opened #3830 "Can react-native used in swift application"
Can react-native used in swift application？ and how to import it ?

[2015-11-02 06:22] RandyZ commented on #3792
Thanks, got it.

[2015-11-02 06:24] DickyT commented on #3827
PS
I tried to use event responder to catch the root <View/>, but once the side to back triggered, the gesture recognizer is rejected, I can no more get the onResponderMove call

[2015-11-02 06:40] DickyT commented on #3830
I think it is hard to configure React Native in a Swift Project. But you can bridge swift file to the existing Objective C project.

For example, I want to export a Swift Class call ```MyExportSwiftClass```

1. right click the file tree and add a swift file to existing project, and create a bridging file while creating swift file. If XCode did not ask you to do so, you can create yourself. The fil

[2015-11-02 06:44] jihopark opened #3831 "[PushNotification] RCTPushNotificationManager.h not found"
I followed everything here (https://facebook.github.io/react-native/docs/pushnotificationios.html
) to use PushNotification on iOS, but when I try to build the app, I get the following error.

`RCTPushNotificationManager.h file not found`

I even added `RCTPushNotification.xcodeproj` to Libraries but it still get the same error.

[2015-11-02 06:56] jihopark commented on #3831
fixed by following
https://facebook.github.io/react-native/docs/linking-libraries-ios.html

[2015-11-02 06:56] yychun1217 commented on #3831
just encountered this issue, thx.

[2015-11-02 06:57] jihopark commented on #3831
i think https://facebook.github.io/react-native/docs/pushnotificationios.html
should include details about linking libraries

[2015-11-02 06:59] lvbingru commented on #3789
I found a way to fixed that, but need to modify the source.
Add the sentence `TextInputState.focusTextInput(React.findNodeHandle(this.refs.input))`  in the `_onFocus` function of 'TextInput.js', as followed:

[code]

[2015-11-02 07:06] hahaGitHub commented on #2927
hi,i have the same question.Can you tell why?

[2015-11-02 07:06] ide commented on #3830
@DickyT's answer is right. Thanks for answering!

[2015-11-02 07:06] #3830 closed

[2015-11-02 07:15] DickyT commented on #3830
@ide ur welcome LOL

[2015-11-02 07:16] zimo888 commented on #2927
RK is short for "React Kit". [the same question link](https://github.com/facebook/react-native/issues/119)

[2015-11-02 07:16] zimo888 commented on #2927
@hahaGitHub  RK is short for "React Kit". [the same question link](https://github.com/facebook/react-native/issues/119)

[2015-11-02 07:17] yinzSE commented on #2806
@warpdesign  I don't know how to solve that. sorry to let you down

[2015-11-02 07:37] ACCTFORGH opened #3832 "How do we retrieve phone number and device information with React Native Android?"
I don't see related API in the doc. It was not in the API roadmap either. Do we have to wrap the native API ourselves? Sorry if I missed any information.

Thank you!

Same question is asked in StackOverflow: http://stackoverflow.com/questions/33472742/how-do-we-retrieve-phone-number-and-device-information-with-react-native-android

[2015-11-02 08:01] Creemli commented on #282
I also have a problem just like this, could you help me out?

http://stackoverflow.com/questions/29308937/trouble-requiring-image-module-in-react-native/33472934#33472934

[2015-11-02 08:12] hahaGitHub commented on #2927
Thank you very much!!  i use the RCT and React, so i meet the question.

[2015-11-02 08:33] lrqstudy commented on #985
wonderful~

[2015-11-02 08:36] elisei-timofte opened #3835 "[PickerIOS] Is not correctly rendered if hide and show"
I'm using this [technique](http://stackoverflow.com/questions/30266831/hide-show-components-in-react-native) for hide and show react component. I have two pickers. One for the book, one for the chapter. If I render them without hide and show (set the "showPicker: false" it is rendered well)
<img width="376" alt="screen shot 2015-11-02 at 10 27 52 am" src="https://cloud.githubusercontent.com/assets

[2015-11-02 09:42] elisei-timofte commented on #3835
after more debugging I saw that if I change the book value, the chapter picker is rendered correctly
<img width="379" alt="screen shot 2015-11-02 at 11 41 48 am" src="https://cloud.githubusercontent.com/assets/6162068/10878513/bb94cbb6-8156-11e5-9796-264d34f493ea.png">
This is a very strange bug. ;(

Any ideas of how can I fix thid? Thanks

[2015-11-02 10:06] hufeng commented on #3789
this.refs.input.focus()

[2015-11-02 10:11] townmi commented on #3558
@mangogogos i got the same situation,
[code]

[code]
in my node_modules,there is only `react-native`, no more others. so who can help?

[2015-11-02 10:26] atom992 commented on #3371
the same error in HTTP PUT request.

[2015-11-02 11:21] ms88privat commented on #3825
@niftylettuce could you please reproduce it on https://rnplay.org/ ?

[2015-11-02 12:20] mschipperheyn commented on #3814
Yes, and this basically means that you end up with absolute in stead relative positioning. Which makes designing for various screen sizes more laborious and error prone.

[2015-11-02 12:24] nicklockwood commented on #3804
I'm about to do some work on this code (to add generics support), so I'll take a look at fixing that issue.

[2015-11-02 12:27] avatarfreak commented on #698
flex order would not suffice layering to some extend. I got two list view. Overlapping each other. The list  view which is below won't scroll at all as it being overlapped by high order.  I gave a shot by making position: absolute and giving top and bottom a value.  it did not work, so was wondering, if any one can show me a way to this mystery.

[2015-11-02 13:16] satya164 commented on #3814
@mschipperheyn Yeah, at least supporting flex-order can solve this

[2015-11-02 13:59] mkonicek commented on #3646
For the 0.14.0 release, we should cherry-pick:
- [ ] https://github.com/facebook/react-native/commit/500ffa9b763d03e759e9b2897da7f4f7904934cf (fix for https://github.com/facebook/react-native/issues/3782)

[2015-11-02 13:59] mkonicek commented on #3646
@arbesfeld I'll be away all of this week (conference and then vacation), might not get to cherry-picking https://github.com/facebook/react-native/commit/3a743ef228a14e07c77c5488b080413643ec9c4b. We should probably also cherry-pick this followup fix: https://github.com/facebook/react-native/commit/88655001e36315c2a8f3bebc1b33e5b0cad9d077. Worst case the bundle loading will go out in 0.15-rc which w

[2015-11-02 14:14] mkonicek opened #3836 "[0.15] Things we need to get in for 0.15"
Main thing to do: Cut the 0.15-stable branch, ideally Friday 6/11.

You need to make sure everything works on master (especially the "Getting started" flow on iOS and Android). If something's broken, fix it or chase people to fix it. Once master is in good state, cut the branch. Start testing everything on Thursday morning so you have a buffer and cut the branch on Friday.

Publishing is then easy

[2015-11-02 14:16] mbajur opened #3837 "[Android] Headers not present in fetch() response"
Hello,
I'm trying to get headers of response returned and consumed by react-native's `fetch()` method but it seems there is something not right with it and the headers aren't there.

I've seen few issues and commits that might be related to such issue (like for example here: https://github.com/facebook/react-native/commit/fe42a28de12926c7b3254420ccb85bef5f46327f ) but i'm not sure if it targets th

[2015-11-02 14:20] mkonicek commented on #3836
Here are the steps for cutting the branch:

- Make sure iOS and Android Getting Started flow works on master.
- Edit `ReactAndroid/gradle.properties`
- git checkout -b 0.15-stable
- In package.json, set version to e.g. 0.15.0-rc.
- In React.podspec, set version to e.g. 0.15.0-rc.
- In `local-cli/generator-android/templates/src/app/build.gradle` update the dependency to e.g. com.facebook.react:reac

[2015-11-02 14:52] mbajur opened #3838 "[Android] Not able to send a POST request"
Hi,
for some misterious reason, i'm not able to send POST requests using `fetch()` method. My request code looks like that:

[code]

However, running the code above does not actually fires a request to given endpoint (there is no any request log entry on the server that endpoint belongs to) but some other one which returns a following exception:

[code]

It looks like a typical network issue that

[2015-11-02 14:59] despairblue commented on #2615
@niftylettuce

What I do now is wrapping the NavigatorNavigationBar:
[code]

That I pass to ExNavigator:
[code]

In `HomeScreen` you can then push a route that does not hide the navbar:

[code]

This is for illustration purposes, use a factory for the route creation. For more information about ExNavigator see [the medium post](https://medium.com/the-exponent-log/routing-and-navigation-in-react-nat

[2015-11-02 15:02] nicklockwood commented on #3804
Hmm, I can't really explain it, but

    RCT_EXPORT_METHOD(addEvent : (NSString *)name location : (NSString *)location)

works fine for me with the current codebase. Our method matching regex seems to handle extra whitespace around the ":"s without any issue.

[2015-11-02 15:05] nicklockwood commented on #3804
Ahah! I see the problem. It's calling the method "addEvent ", with a space at the end.

[2015-11-02 15:16] mschipperheyn commented on #3814
exactly

[2015-11-02 15:30] notapipe commented on #3817
Hi, I'm also having a similar problem. A project I'm working on requires the node_modules directory to be in a different directory to the entry file of the project; adding the path with the node_modules directory to 'projectRoots' resolves react but no third-party modules. The additional path doesn't seem to get checked (I too get unable to resolve some-third-party-module ... Invalid directory /Us

[2015-11-02 15:33] atom992 commented on #3838
the same error on HTTP PUT request.

[2015-11-02 15:52] nucleartux commented on #3837
Fixed in master. So I'm not sure you installed react from master.

[2015-11-02 16:02] wootwoot1234 opened #3839 "How can I put a ListView inside a ScrollView using React Native iOS?"
I'm building an iOS React Native app. I have some test content and then a list of items below it. If I put both the text content and the listview inside a scrollview the listview does't work properly (only shows some of the items) but if I don't put the listview inside the scrollview, the listview scrolls but the text content stays locked to the top of the screen. How do I get the text content to

[2015-11-02 16:04] bluedaniel commented on #3026
I think this is a great idea

[2015-11-02 16:06] agrawalravi95 commented on #2806
Try running it with sudo because the long error log had "[Username] does not have permission...". It worked in a flash for me.

[2015-11-02 16:21] zahanm commented on #3679
Interesting, yes lets talk about the custom protocol approach if it works cross-platform.

[2015-11-02 16:21] mbajur commented on #3837
If it has been fixed in the linked commit (https://github.com/facebook/react-native/commit/fe42a28de12926c7b3254420ccb85bef5f46327f) i can confirm that i have those changes inside my `/node_modules/react_native/*` and the issue is still there.

[2015-11-02 16:24] nucleartux commented on #3837
Updating npm module not help, you should also build react native from java sources.

[2015-11-02 16:38] mbajur commented on #3837
That's what i've done to use it:

1. Changed `react-native` line in `package.json` to:

        (...)
        "react-native": "facebook/react-native#master",
        (...)

2. Removed `node_modules/react-native` dir
3. `npm install`
4. react-native run-android

However, i'm not an node/js/npm ace so please forgive me if i've done some rediculous mistake in here :)

[2015-11-02 16:50] nucleartux commented on #3837
Building from react native from sources(not from npm module) is very hard and complex process. I think you can just wait for new release https://github.com/facebook/react-native/issues/3836

[2015-11-02 16:53] mbajur commented on #3837
Oh i see, thanks for the info! I'm closing this then.

[2015-11-02 16:53] #3837 closed

[2015-11-02 17:01] jjshammas commented on #3839
This is more of a general mobile question. Typically, it's an anti-pattern to put a list/table view inside of a ScrollView, as the list/table view has a scrollable element in itself.

What I've done both native and in React Native is use only a ListView, and make the first cell include all of my top static content. Thus, it all scrolls as one scrollable region fluidly.

[2015-11-02 17:09] wootwoot1234 commented on #3839
That's at least a workaround.  I could put the text above the listview in the render function so it's just part of the listview.  I don't know if it's the best solution but that will work, thanks!

I feel like I could use the``` renderScrollComponent``` function but I'm not sure how.  I couldn't find any examples.

[2015-11-02 17:12] vjeux commented on #698
Can you add it to https://productpains.com/product/react-native/, so that we can track it and see how popular this is. Thanks!

[2015-11-02 17:17] gudmundurmar commented on #1516
@ide Having the same problem as @adrianha when I updated to 0.13.0.
The default image will not go away when the other is loaded

[2015-11-02 17:33] CorpusCallosum opened #3841 "Text component will not center inside a View component"
Hi I think should should be simple, but I cannot get it to work. Seems like no matter what I do, I cannot get the text component to center horizontally inside the view. I have tried using alignItems:center, justifyContent:center, alignSelf:center, textAlign:center, nothing works. I can get it to center vertically, but not horizontally. Whyyyyy dear lord?

    <Animated.View style={[styles.titleCon

[2015-11-02 17:45] whokilledtheelectricmonk commented on #3841
`flex:1` the text, not the container (unless that needs to be flex'd as well)

[2015-11-02 17:55] CorpusCallosum commented on #3841
When I do that, my top and bottom margins stop working, and the text is still not centered. Here is my new css:
    titleContainer: {
        marginTop:30,
        marginBottom:30,
        backgroundColor:'rgba(255,0,0,0.1)',
        justifyContent:'center',
        alignItems:'center',
    },
    title:{
        flex: 1,
        color:'white',
        backgroundColor:'rgba(255,0,0,0.1)',

[2015-11-02 17:58] aprock commented on #2266
Thanks for investigating, I wanted to put something up here if anyone else has a similar issue with this flow. The 3rd party webserver I'm connecting to runs on an embedded device, and the second request causes it problems.

My current workaround is to add a category to RCTHTTPRequestHandler that cancel's the task.

[code]

The fetch api pollyfill doesn't seem to have a good path for overriding cr

[2015-11-02 18:09] ide commented on #3804
Fixed in https://github.com/facebook/react-native/commit/6539b268108f1a6976cdda7b393f4abbbe82188e; thanks @nicklockwood.

[2015-11-02 18:09] #3804 closed

[2015-11-02 18:11] ide commented on #3832
There isn't a module for this so you should write one if you need it.

[2015-11-02 18:11] #3832 closed

[2015-11-02 18:13] ide commented on #3646
I merged 500ffa9b763d03e759 into 0.14-stable. Let's ship the other commits with 0.15 so that they have two weeks of testing.

[2015-11-02 18:47] duro commented on #2618
Will these efforts at some point be merged with the react-native project, or do they need to be ported out to a separate project? Is there somewhere I can learn what you guys have done already? I want in on the tvOS party!! 😜😜😜😜

[2015-11-02 19:05] phaddius commented on #3775
@mkascel @h3r2on  I'm running into this as well, but I've never had a .bashrc file.  Can I ask what is in your .bashrc that makes this work?

[2015-11-02 19:08] #3775 closed

[2015-11-02 19:09] olivierlesnicki commented on #3775
@phaddius you might want to check your `node version` ...

[2015-11-02 19:14] mkascel commented on #3775
@phaddius Have you installed NVM yet?  When you do that, the install should add a couple of lines to your .bashrc (I assume it creates it if it doesn't exist) to load NVM on a new shell.  It will add something like this:

[code]

[2015-11-02 19:39] phaddius commented on #3775
Ah got it.  That loading of nvm actually got written into my .bash_profile upon install, and it does run by the packager.  The problem was my node version was not set to the latest, because I run another node web stack that I haven't upgraded, and it's still on 0.10.  I fixed it for now by adding `nvm use 4.2.1` to my .bash_profile, but is there a config file where I can only set the version when

[2015-11-02 20:02] kevtastic opened #3842 "no way to change color of nontinted icons in tabbar?"
there doesnt seem to be any prop for it in the TabBarIOS or in TabBarIOS.Item

just to be clear im talking about the color if the icons in the tab bar while they arent selected

[2015-11-02 20:14] jaygarcia opened #3843 "UIExamples using FB CDN not showing images"
Is there a plan to replace these images? I've been doing meetup demo with UI explorer and have noticed that the've been broken for at least 5 months :(

![](http://content.screencast.com/users/djliquidice/folders/Snagit/media/6e4ce88e-c2b4-406d-a363-05b657681ca6/2015-11-02_15-11-58.png)

[code]

[2015-11-02 20:14] elliotdickison opened #3844 "Missing babel plugins"
Freshly initialized react-native projects are breaking for me. When I run `react-native init <ProjectName>`, build the project with Xcode, and run `npm run start` the simulator displays an RSoD message saying `Unknown plugin: "node-env-inline"`. I dug around a bit and discovered I was missing two babel plugins: `babel-plugin-node-env-inline` and `babel-plugin-dunderscore-dev-inline`. After install

[2015-11-02 20:15] jaygarcia commented on #3839
Couldn't you setup listview to flex:1 and maybe it doesn't scroll?

[2015-11-02 20:16] jaygarcia commented on #3825
Very strange. The only time i've seen this is if a parent had justifyContent : 'center'

[2015-11-02 20:28] wootwoot1234 commented on #3839
@jaygarcia It is set to flex = 1.  See this example:  https://rnplay.org/apps/GWoFWg

[2015-11-02 20:33] mkascel commented on #3775
Looks like there was a design decision by the nvm team to not have any kind of config parsing that would run an "auto use" command on a per-project basis, but there are various workarounds and additional packages people have used to achieve this.  IMO it's probably not worth the overhead/additional dependencies or configs when you can just do an `nvm use` as needed, but if you want to follow the t

[2015-11-02 21:44] edo1493 commented on #3838
I am getting the same "Network Request Failed" - index.android.bundle

[2015-11-02 21:50] edo1493 commented on #3838
I see the same when I try to run the app on the local server. I do have react-native 0.13.0.

[2015-11-02 21:54] satya164 commented on #3669
Any updates on this?

[2015-11-02 21:55] phaddius commented on #3775
Understood and agreed.  Thanks for the info.

[2015-11-02 22:21] stephenelliott opened #3846 "[WebSocket] On iOS, web sockets aren't being closed under the UIExplorer sample project"
When running the UIExplorer sample project on iOS: in the WebSocketBase.js class, the close() function is returning immediately due to this.readyState being undefined.

As a consequence, the array of _sockets in the RCTWebSocketModule class continues to grow until all sockets are consumed on device.

Checking that this.readyState is defined before evaluating the state seems to fix the issue, thoug

[2015-11-02 22:28] ericvicenti commented on #3669
I haven't seen any changes to Navigator that would cause this, and there is no platform-specific code that would cause breakage only on Android.

To perform animations, Navigator calls setNativeProps on views within a requestAnimationFrame timer.

Maybe somebody could try bisecting to identify the breakage? I don't have bandwidth to figure this out in the next few weeks.

[2015-11-02 22:48] niftylettuce commented on #3825
Ah, that might be it :)  I have parent container with justifyContent
:'center'

On Mon, Nov 2, 2015 at 3:17 PM, Jay Garcia <notifications@github.com> wrote:

[2015-11-02 23:58] tomtang539 commented on #2571
Had a similar issue, I fixed it by updating plist with the following:

[code]

here's the facebook page that describes the changes:

https://developers.facebook.com/docs/ios/ios9

[2015-11-02 23:58] tomtang539 commented on #2396
Had a similar issue, I fixed it by updating plist with the following:

[code]

here's the facebook page that describes the changes:

https://developers.facebook.com/docs/ios/ios9

[2015-11-03 00:15] Matthew-C opened #3847 "WritableMap fromBundle cannot handle array"
Arguments.java line 122:
value.getClass().isArray() always return false cause ArrayList is not array!

Note bundle.putStringArray takes an ArrayList as parameter so this code never works.

Also is there a way to allow user to directly put JSONObject as initial properties?

[2015-11-03 00:37] whokilledtheelectricmonk commented on #3838
Does it work if you set the `content-type` header? See https://facebook.github.io/react-native/docs/network.html#fetch

[2015-11-03 00:45] mbrochh opened #3848 "Content in TabBarIOS.Item overlapped by TabBar?"
I have combined the AwesomeProject tutorial example with the movie list with a TabBarIOS and I'm now rendering the movie list in one of the tabs. When I scroll down all the way in the ListView, I can see that the TabBar is overlapping the last item in the list.

Shouldn't the children of the TabBarIOS.Item somehow only extend to the available device-height minus the TabBar?

What is the best-pract

[2015-11-03 01:00] mbrochh commented on #3669
I simply created the AwesomeProject tutorial and then added a Navigator to it and used the FloatFromRight transition. It works on iOS but it does not work on Android. The only transition that seems to work on Android is FadeAndroid, but that one is so subtle, it's hardly noticeable.

[2015-11-03 01:54] ide commented on #3848
This is intended behavior on iOS 7+. You should set the bottom padding / margin / content inset yourself depending on how you want your app to look.

[2015-11-03 02:03] mbrochh commented on #3848
Alright, thank you very much for the fast reply!

[2015-11-03 02:03] #3848 closed

[2015-11-03 02:23] hahaGitHub commented on #2927
hi,i have another question.
pod react in my own project.i use the RCTRootView.by the url ,I can get the view.but i meet a problem.
it is a warning. could you tell me why? thank you very much.
[warn][tid:com.facebook.React.JavaScript] 'devtools socket errored', { [Error: The operation couldn’t be completed. Connection refused]
  line: 14510,
  column: 39,
  sourceURL: 'http://localhost/index.ios.bu

[2015-11-03 02:28] hahaGitHub commented on #119
@nicklockwood
hi,i have a question.
pod react in my own project.i use the RCTRootView.by the url ,I can get the view.but i meet a problem.
it is a warning. could you tell me why? thank you very much.
[warn][tid:com.facebook.React.JavaScript] 'devtools socket errored', { [Error: The operation couldn’t be completed. Connection refused]
  line: 14510,
  column: 39,
  sourceURL: 'http://localhost/inde

[2015-11-03 03:32] niftylettuce opened #3852 "Android gestures pop slow"
E.g. you have a `navigator.pop` event with a `Navigator.SceneConfigs.FloatFromRight` scene config.  The transition from right to left is SUPER slow/laggy.

[2015-11-03 03:43] atom992 commented on #3838
@whokilledtheelectricmonk  Thank you very much,it works now.

[2015-11-03 04:33] frantic commented on #3679
I'll give it a spin. We would have to figure something on Android side at some point (@foghina)

[2015-11-03 05:19] whokilledtheelectricmonk commented on #3841
Note that the default flex direction (`flexDirection`) in RN is `column`, not `row` like in browser flexbox. So your snippet could be as simple as:

[code]
[More about flex layout](http://moduscreate.com/aligning-children-using-flexbox-in-react-native/)

Also, for implementation-related questions like this, you may get a faster response on StackOverflow.

[2015-11-03 05:55] browniefed commented on #3852
This is known in React Native debug mode on Android. Animations are ridiculously slow. Put it in production mode to test out if it's actually fast.

[2015-11-03 06:10] niftylettuce commented on #3852
Ah!  Can we get this documented?
On Nov 3, 2015 12:57 AM, "Jason Brown" <notifications@github.com> wrote:

[2015-11-03 06:41] tlightsky commented on #2685
meet this too

[2015-11-03 07:35] loulijun opened #3854 "Could not resolve com.facebook.react:react-native:0.13.+"
Execute failed after "react-native run andorid", what's wrong with it?

[2015-11-03 07:35] loulijun commented on #3854
What went wrong:
A problem occurred configuring project ':app'.

     Required by:
         AwesomeProject:app:unspecified

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2015-11-03 07:45] loulijun commented on #3854
Has been fixed after cross the GFW

[2015-11-03 07:45] #3854 closed

[2015-11-03 07:55] mbajur commented on #3838
Nope, still nothing.

On 3 November 2015 at 01:38, Alex Krolick <notifications@github.com> wrote:

[2015-11-03 08:03] edo1493 commented on #3838
@whokilledtheelectricmonk it worked when I started developing on Android, now I still have it, but I have moved to 0.13.0 and it gets stuck there.

[2015-11-03 08:07] mbajur commented on #3838
Oh, no! my bad, it actually works now :) Thanks @whokilledtheelectricmonk !

On 3 November 2015 at 09:04, Edoardo Moreni <notifications@github.com>
wrote:

[2015-11-03 08:23] edo1493 commented on #3838
Solved, yes.

[2015-11-03 08:31] rupreetg commented on #2502
+1 for official typescript support! Would love to see this support.

[2015-11-03 08:42] guanyuxin opened #3856 "require.ensure support"
The interface "require.ensure" have been removed since commit D2544415, so is the splitting bundle into multiple part feature still in development?

[2015-11-03 08:58] ms88privat commented on #3839
@wootwoot1234 I had the same problem. The solution is the "renderHeader" property on the ListView (it does scroll away!)

https://rnplay.org/apps/0RMTVg

[2015-11-03 09:24] leftstick commented on #3716
I have the same issue. Seems requiring static resource doesn't work.

[2015-11-03 10:11] sulliwane opened #3857 "Where to change the registered project name for Android and iOS?"
I'd like to change below 'registered_name':
```AppRegistry.registerComponent('registered_name', () => test);```

Where should I change this name in Android and iOS files?

Thank you.

[2015-11-03 10:19] sulliwane opened #3858 "Update to v0.14.0-RC, how to update android/iOS project files?"
After updating react-native package version in my **package.json** to -> **0.14.0-rc**, and running ```npm update```, I'm wondering: **How should I update the xcodeproj and Android gradle files to their latest version as well?**

* I don't think they are being updated when doing ```npm update```.
* I cannot use the global cli ```react-native init``` as it will only init 0.13.0 related xcode/androi

[2015-11-03 10:34] nicklockwood commented on #3679
Having thought about this some more, I don't think that a custom protocol is the write way to go for this after all.

I think a simpler approach is going to be to pass an "assetsRoot" param to JS when the bridge initializes, and then resolveAssetSource.js can prepend that path to the local asset uri it puts in the imageSource.

[2015-11-03 10:43] gorangajic opened #3859 "is it possible to run `renderToStaticMarkup` in react-native"
I have tried running renderToStaticMarkup in react-native but it's complaining that two versions of react are running.

[code]

I have also tried to load local ReactDomServer from react-native module but error is the same
[code]

Is it possible something like that in react-native, or I need to create new renderer? I just want to get jsx/xml that is passed to my Component. I will also be happy with

[2015-11-03 10:44] nicklockwood commented on #119
@hahaGitHub this doesn't seem related to the issue that you've commented on. It's better to create new issues rather than comment on an unrelated one.

In any case, it sounds like there's either a problem with the packager on your system, or you've got the wrong sourceURL for your bundle.

The packager runs in a window in the terminal, and creates a server running on localhost, normally on port 80

[2015-11-03 10:47] nicklockwood commented on #3857
For iOS you just need to change it in the JS file and then the `AppDelegate.m` file, file, find a line that looks like this:

    RCTRootView *rootView = [[RCTRootView alloc] initWithBridge:bridge
                                                   moduleName:@"registered_name"
                                            initialProperties:nil];

And change the `@"registered_name"` to whatever the n

[2015-11-03 11:02] pangers commented on #3780
Are we able to safely update to node 5 and npm 3?

[2015-11-03 11:14] Bhullnatik commented on #3858
http://facebook.github.io/react-native/docs/upgrading.html#content

[2015-11-03 12:00] ask10000 commented on #1597
+ 1 for package.json

[2015-11-03 12:00] ask10000 commented on #1597
+ 1

[2015-11-03 12:10] ManuelReina commented on #2502
+1 for official typescript support. It would be great!

[2015-11-03 12:19] elisei-timofte opened #3860 "[Navigator] How can I change the swipe-back and swipe forward route?"
Hi @ericvicenti, I'm using navigator and I want to override the swipe functionality. Right know, when I swipe back it gets me to the last route from the stack (the normal behavior), but I want on swipe-back to do something else. Is this possible?

Thanks!

[2015-11-03 12:55] kalaomer commented on #2502
+1 for official typescript support

[2015-11-03 13:40] xiekw2010 opened #3861 "frame drops(fps) while using ListView cell component with shadow style"
frame drops(fps) while using ListView cell component with shadow style

[code]

[2015-11-03 13:52] toblux commented on #1282
+1

[2015-11-03 14:06] mihriminaz commented on #2941
brew uninstall watchman
brew link pcre
brew install --HEAD watchman

and be sure that you changed the localhost with your localhost url (ifconfig command to check -> http://127.0.0.1:8081/index.ios.bundle?platform=ios&dev=true in my case)

[2015-11-03 15:00] davidstubbs commented on #3669
I'm not entirely sure how it was broken, but the reason most transitions don't work is that they're using the wrong native prop.

`buildStyleInterpolator` creates a style with the `transformMatrix` property. Android expects the decomposed matrix in `decomposedMatrix`.

I hacked a change in Navigator.js _transitionSceneStyle which "fixes" the transitions (as in they work afterwards, but I'm sure th

[2015-11-03 15:21] niftylettuce opened #3864 "maxLength support for Android?"
Right now docs say it only works on iOS:

![screen shot 2015-11-03 at 10 21 08 am](https://cloud.githubusercontent.com/assets/523141/10911829/ae0363c2-8214-11e5-8d9d-211c1e160f8b.png)

[2015-11-03 15:22] niftylettuce commented on #3864
This is a prop for `<TextInput />` btw

[2015-11-03 15:25] cosmith opened #3865 "[Android] Change button text color in ToolbarAndroid"
I might be mistaken but I haven't found a way to change the color of the buttons in `ToolbarAndroid`.

![screenshot-2015-11-03t16 20 46](https://cloud.githubusercontent.com/assets/1194749/10911898/37b2d684-8247-11e5-991f-4385116b4b1d.png)

Now all the solutions I've seen to set this color are based on the Toolbar's theme which is then inflated but I couldn't get it to work in React Native's Androi

[2015-11-03 15:29] willatthewindow commented on #3860
Gestures that are detected by Navigator are part of the scene config.  You can manipulate the scene config by passing a `configureScene` prop https://facebook.github.io/react-native/docs/navigator.html#configurescene

It works just like `renderScene`, getting called once for each scene render except you return a scene config object instead of a component.  Start by looking at the existing scene co

[2015-11-03 15:29] vjeux commented on #1282
Can you post it on https://productpains.com/product/react-native/ please. Will help prioritize things :)

[2015-11-03 15:37] jamesfzhang commented on #1282
Please upvote here if you'd like to see this issue get resolved: https://productpains.com/post/react-native/bridge-event-dispatcher-fails-to-send-events-when-screen-is-locked/

[2015-11-03 15:50] kinhunt commented on #3861
+1

[2015-11-03 15:50] sulliwane commented on #3858
@Bhullnatik I knew this page, but I thought that ```react-native upgrade```calls the global ```react-native-cli``` and I guess it is instead calling the local and updated **v0.14.0-rc** react-native-cli , is that correct? Anyway, I'm a bit confused on which react-native is called (global or local).

 thanks a lot! ```react-native upgrade```does work...

[2015-11-03 15:54] kinhunt commented on #3796
+1

[2015-11-03 15:57] watzak commented on #3796
+1

[2015-11-03 16:03] sulliwane opened #3866 "RN v0.14.0-rc running on device, “it looks like the implementation of __DEV__ has changed”"
I'm trying to load bundle from iphone disk with v0.14.0-rc.

I uncommented this line in **AppDelegate.m**:

```jsCodeLocation = [[NSBundle mainBundle] URLForResource:@"main" withExtension:@"jsbundle"];```

then I created the bundle with this command:

```react-native bundle --entry-file index.ios.js --platform ios --bundle-output main.jsbundle --verbose```

Finally, after installing the app on the

[2015-11-03 16:03] #3858 closed

[2015-11-03 16:30] cgarvis commented on #3369
+1

[2015-11-03 16:32] chinloong91 commented on #29
+1 for <TextInput /> as well

[2015-11-03 16:46] gerbenupinion commented on #3796
+1

[2015-11-03 16:55] vjeux commented on #29
Can you add it to https://productpains.com/product/react-native/ so that we can figure out prioritization?

[2015-11-03 17:04] cosmith commented on #3857
I think it's this line in `MainActivity.java`

        mReactRootView.startReactApplication(mReactInstanceManager, "registered_name", null);

[2015-11-03 17:06] PhilippKrone opened #3868 "[Android] Scrollview "scrollEnabled""
Hello,

I'm looking forward to implement "scrollEnabled" in Android as well. I think its straight forward for simple scrollviews in android, but I'm not so sure concerning passing the MotionEvent to children of the scrollview.

I was digging around in https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollView.java but without luc

[2015-11-03 17:09] bergl commented on #3796
+1

[2015-11-03 17:21] ericvicenti commented on #3669
@astreet, have there been any recent changes to transform matrices? There seems to be an inconsistency with Android and iOS

[2015-11-03 17:28] atom992 opened #3869 "[Android] How to call native method from javascript?"
Hi,all
I want to get the result from javascript of calling a native method. Not send a event to a native method. How can I do?

[2015-11-03 17:31] davidstubbs commented on #3669
So a bit more research and...

The Android version relies on the `scaleX`/`translateY`/etc properties to get the transition.

A bunch of commits seemed to break that.

The problem is basically fixed already in https://github.com/facebook/react-native/commit/0ed3048e39c245f005b31277947606fa10f538da
I applied that diff to my 0.13 install and it fixed the issue.

So this should be fixed in 0.14 alrea

[2015-11-03 17:36] cancan101 opened #3870 "stickyHeaderIndices Equivalent for ListView"
`ScrollView` has a property `stickyHeaderIndices` that allows pinning the header elements. I suggest adding the same option to `ListView`. Currently the results of  `renderHeader` are not pinned.

[2015-11-03 17:39] mvayngrib commented on #1892
@chirag04 any progress on the rocksdb backed asyncstorage module?

[2015-11-03 18:08] elisei-timofte commented on #29
sure. thanks

[2015-11-03 18:15] toblux commented on #1282
@jamesfzhang Your link didn't work, but the issue can be found here: https://productpains.com/post/react-native/bridge-event-dispatcher-fails-to-send-events-when-device-is-locked-screen-inactive/

[2015-11-03 18:18] jamesfzhang commented on #1282
@toblux Good catch, I updated the title to correctly reflect the issue, and that changed the slug of the URL (bad! :p)

[2015-11-03 18:49] Emory-M opened #3871 "How to use Android Intent.createChooser get gallery image"
I use startActivity can open gallery chooser, but I don't know how to get the image result

    Intent intent = new Intent(Intent.ACTION_GET_CONTENT);
    intent.setType("image/*");

    Intent chooser = Intent.createChooser(intent, "Choose a Picture");
    chooser.addFlags(Intent.FLAG_ACTIVITY_NEW_TASK);
    this.reactContext.startActivity(chooser);

[2015-11-03 18:51] cancan101 commented on #1472
I think I am seeing a similar issue with (RN `0.13.2`):
[code]
![image](https://cloud.githubusercontent.com/assets/51059/10918093/ea9e03ec-8231-11e5-8414-141f13551f23.png)

[2015-11-03 19:00] astreet commented on #3669
@kmagiera Were matrix transforms broken for a while in Android? I.e. possibly broken in the 0.13 release?

[2015-11-03 19:15] ide commented on #3859
Rendering to markup is a feature of react-dom, not react nor react-native. What are you trying to do? If you want to render to divs and spans you should write/find a project (there are some out there) that reimplements View.js, ScrollView.js, etc and renders divs/spans.

[2015-11-03 19:40] ide commented on #3780
I haven't tried it but I believe it works if you're willing to take a 2-3x perf hit from npm 3.

[2015-11-03 20:13] chirag04 commented on #1892
@mvayngrib Sorry, too busy with our apps v1.3 release. The gist is gave should be all you would need. Feel free to use the gist and publish a module. Happy to help if you have a blocker.

[2015-11-03 20:45] niftylettuce commented on #3598
:+1: same error, no red box

[2015-11-03 21:13] jeromecovington opened #3874 ""Unable to resolve module" from dependency"
In this case, I am requiring `request-promise`, but when I start the react native project, I get the error:
`Unable to resolve module x. If you are sure the module is there, try restarting the packager.`

This error is reported for many of the required dependencies of the `request` dependency of `request-promise`. I have restarted the packager as well as removing `node_modules` and reinstalling. I

[2015-11-03 21:50] gorangajic commented on #3859
I was able to hack quick solution https://github.com/gorangajic/react-render-to-json

[2015-11-03 21:50] #3859 closed

[2015-11-03 23:15] nicholasalanbrown commented on #2819
I'm trying to get this to work with no luck. Following the examples above, I tried to attach a listener like so:
[code]
While also declaring the necessary variable at the top of my fiel:
[code]

[2015-11-03 23:40] trave7er commented on #3810
here is a community version: https://github.com/maxs15/react-native-modalbox

[2015-11-03 23:47] omnidan commented on #2768
Any updates on this issue? I tried using `setElevation` but my android development knowledge is far too limited to figure it out :cry:

If anyone could tell me how to set elevation on a certain component that'd be amazing :smile: And I can't wait for the `elevation` property to get implemented.

[2015-11-04 00:42] hahaGitHub commented on #119
@nickbalestra thank you your answer!

[2015-11-04 00:47] appden commented on #1499
Running into this as well with `react-native@0.13.2` and `react-native-cli@0.1.7`. It seems like this issue should be re-opened. The solution is definitely not to remove all uses of `for of` loops because the minify step fails.

[2015-11-04 00:52] vjeux commented on #1499
Well, that's not only the minify step that fails. JSC doesn't implement `for of` so your code is not going to work at all on device :)

[2015-11-04 00:56] appden commented on #1499
Thanks for reopening @vjeux! I get it, so Babel isn't transforming `for of`, which is making `UglifyJS` fail. It's working in the simulator for me since JSC added `for of` support in iOS 9.

[2015-11-04 01:01] sulliwane commented on #3857
Thanks a lot to both of you. It's working :)

[2015-11-04 01:01] #3857 closed

[2015-11-04 01:04] vjeux commented on #1499
Beware that if you depend on iOS 9-specific features, people with iOS 6,7,8 will instacrash :)

[2015-11-04 01:10] appden commented on #1499
@vjeux I had no idea I was depending on iOS 9 features because I assumed the packager was using `babel` to transform my ES6 code. :smile:

It would make sense to use the `es2015` and `react` presets included with `babel` (see https://babeljs.io/docs/plugins/) and then add the additional "ES7" features on top of those. The ideal situation would be to support `.babelrc` files to override those defau

[2015-11-04 01:14] hahaGitHub opened #3875 "pod react in my own project"
hi,i have a question.
pod react in my own project.i use the RCTRootView.by the url ,I can get the view.but i meet a problem.
it is a warning. could you tell me why? thank you very much.
[warn][tid:com.facebook.React.JavaScript] 'devtools socket errored', { [Error: The operation couldn’t be completed. Connection refused]
line: 14510,
column: 39,
sourceURL: 'http://localhost/index.ios.bundle' }

in

[2015-11-04 01:15] hahaGitHub commented on #119
@nickbalestra
hi,i have commit a new issue.and i try your idea,then the url is normal.

[2015-11-04 01:19] niftylettuce opened #3876 "fetch() API doesn't allow a timeout?"
I'd like to set a timeout before "Network error" occurs.  What's the easiest way  to do this?  Some setTimeout that throws some sort of error?  Has anyone done this or has the docs for it?

[2015-11-04 01:20] niftylettuce commented on #3876
e.g. I test with my API server turned off... I don't want the spinning progress bar I have to keep going for minutes, I want to give it a limit, like 10 seconds for my server to respond before I trigger a modal with the error

[2015-11-04 01:28] ide commented on #1499
@appden RN currently uses Babel 5 and supports the old .babelrc if you want to enable features. So you could enable forOf loops (but as I mentioned earlier in this thread, we can't pull in the runtime to polyfill it on old OSes).

[2015-11-04 01:39] hahaGitHub opened #3877 "development-level warning are ON, performance optimizations are OFF'"
i pod install react in my own project.and i use RCTRootView to create my UIView.then some information display,as below:
[info][tid:com.facebook.React.JavaScript] 'Running application "TestUI" with appParams: {"rootTag":21,"initialProps":{}}. __DEV__ === true, development-level warning are ON, performance optimizations are OFF'
could you tell me what is the meaning of that?thanks.

[2015-11-04 01:56] ide commented on #3877
It's telling you that you're in development mode which means: there are warnings, and performance will be slower. When you load the JS bundle with ?dev=false, you won't get warnings and your JS performance will be faster.

[2015-11-04 01:56] #3877 closed

[2015-11-04 02:37] hahaGitHub commented on #3877
@ide thanks!could you tell me how to set dev=false?

[2015-11-04 02:44] hahaGitHub opened #3878 "iOS and android use the same js"
now，i pod react in my iOS project.i user the url http://localhost/index.ios.boundle.
can i use like this  http://localhost/index.boundle,which iOS and android use it both.

[2015-11-04 02:46] erickreutz commented on #2206
How would you accomplish this same thing with Android?

[2015-11-04 02:49] ide commented on #3878
git grep for index.ios.js and change all references to index.js. In the future please use Stack Overflow and tag your question with react-native for asking these kinds of questions: http://stackoverflow.com/questions/tagged/react-native

Many people from the community hang out on Stack Overflow and will be able to see and likely also answer your question. Using Stack Overflow for questions also he

[2015-11-04 02:49] #3878 closed

[2015-11-04 02:50] ide commented on #3877
The issues in this GitHub repository are for bug reports and feature requests only. We don't have the time or people to answer everyone's questions, so please ask your question on Stack Overflow and tag it with "react-native".

[2015-11-04 02:51] petterliden commented on #2916
So what's the intention here? I wrote a native module to be able to launch new activities from the JS side, but it would be good to know if this is recommended/supported or if it can lead to unforeseen errors down the line (as RN continues to evolve). I haven't been able to find any documentation around having multiple RN activites hosting different root views / react instances in the same app, so

[2015-11-04 02:53] ide commented on #2916
I'm fairly certain that the main Facebook app will need to let one RN instance control several different root views (perhaps not Activities, depending on whether Facebook uses Activities). On iOS you can have one bridge control several root views FWIW.

[2015-11-04 02:58] jeromecovington commented on #3874
For example:
`Unable to resolve module "net". If you are sure the module is there, try restarting the packager.`

Are there known issues with dependencies requiring node core modules and breaking the packager?

[2015-11-04 03:05] jeromecovington commented on #3874
See - https://github.com/facebook/react-native/issues/1871

[2015-11-04 03:22] hahaGitHub commented on #3877
OK thanks

[2015-11-04 03:24] hahaGitHub commented on #3878
thanks.

[2015-11-04 03:48] hufeng commented on #3869
like this,

[code]
js:
[code]

[2015-11-04 03:51] steve-ng commented on #3820
updated with my latest code.

my onAdLoaded listener got fired. however it's still not visible on my screen.

From the logs I saw
- W/cr.BindingManager﹕ Cannot call determinedVisibility() - never saw a connection for the pid: 24719
- I/Ads﹕ Ad is not visible. Not refreshing ad.

[2015-11-04 03:52] dsibiski commented on #1882
@brentvatne We can close this now as my PR for `onKeyPress` has been merged to master.

[2015-11-04 04:42] cancan101 commented on #3876
See also: https://github.com/whatwg/fetch/issues/20

[2015-11-04 04:45] atom992 commented on #3869
Thanks, I will try.

[2015-11-04 05:37] Hi-Rube commented on #3703
@qudao brew update && brew reinstall watchman have fixed this problem

[2015-11-04 05:52] ippy04 commented on #2922
same thing happened to me going from 0.11.4 to 0.13.2. Images being loaded from a URL (or using the new './img/' paths work, but anything in Images.xcassets is just blank now with no error / warning. If I try a filename that doesn't exist in Images.xcassets I get the red error, so it appears as though the require is finding the image, but it's not being displayed. Any ideas?

[2015-11-04 07:14] Reparadocs opened #3879 "NavigatorIOS transition speed"
Currently NavigatorIOS takes 2 seconds + to transition to a new route, and that whole time users are unable to interact with anything. Is there anyway to speed up the transition speed?

[2015-11-04 07:32] Reparadocs commented on #3879
If it's any help, I'm not trying to do anything complex at all, I just started a new project - here's a gist of my entire index.ios.js: https://gist.github.com/Reparadocs/8b77e4acf53fa24931a7

[2015-11-04 08:14] dgoujard commented on #3796
+1

[2015-11-04 08:48] sulliwane commented on #3147
@ewaltman same problem here, thanks. (keyword : rctsourcecode module scripturl has not been set)

[2015-11-04 08:55] brentvatne commented on #1882
Awesome :smile:

[2015-11-04 09:16] wharsojo commented on #2720
as @peduxe  mentioned, after I downgrade my gradle plugin from: 1.3.1 to 1.2.3, everything just works.

my-project/android/build.gradle :
[code]

[2015-11-04 09:18] aintnorest commented on #3375
Same here as well. I also can't seem to change the animation. No matter what i return in configureScene I'm always just seeing a flicker of white as the transition between.

[2015-11-04 09:25] genexliu commented on #1402
For those who use a `LaunchImage`, you need to set both `frame` and `contentMode` for the image to scale correctly:

[code]

Just like the comment from @arnemart, add these lines to the `application didFinishLaunchingWithOptions` method in the `AppDelegate.m` file, above the line that says `return YES`.

[2015-11-04 09:45] huangzhiyang166 opened #3880 "Failed to establish session"
Failed to establish session

[2015-11-04 09:58] jackyanjiaqi commented on #3823
the same question,switching between two long lists costs long time.

[2015-11-04 10:02] PhilippKrone opened #3881 "[Android] JSON to WritableMap"
Hello,

is there currently a way to convert a common JSON (received e.g. as response to a HttpUrlConnection) to a WritableMap? I'm thinking of something like

[code]

or

[code]

If not, I'd be happy to provide a PR with a little bit of guidance as to where to put it and whether there are any preferences concerning implementation.

Thanks
Philipp

[2015-11-04 10:08] PhilippKrone commented on #3871
@Emory-M

1) I think those questions should go to stackoverflow :)
2) You need to use startActivityWithResult combined with an implementation handleActivityResult, e.g.

[code]

Please don't forget to pass the activityResult into your module

[2015-11-04 10:09] PhilippKrone commented on #3880
@huangzhiyang166 Could you please give a little bit more detail concerning what/when/where/etc.?

[2015-11-04 10:13] xnfa commented on #3598
+1 same error

[2015-11-04 10:20] icefoggy commented on #3478
@zenlambda
So we need declare these propTypes for every native UI module?

[2015-11-04 10:46] PhilippKrone commented on #3881
**Update**: found the solution after all:

[code]

[2015-11-04 10:46] #3881 closed

[2015-11-04 11:04] wizardzloy commented on #1167
There is an open PR that aims to solve this problem. Hope it will be merged soon
https://github.com/facebook/react-native/pull/3800

[2015-11-04 11:18] Reparadocs commented on #3879
Fixed it: iOS simulator -> Debug -> Uncheck Slow Animations

[2015-11-04 11:18] #3879 closed

[2015-11-04 11:23] gajuro opened #3882 "[Packager] dynamic requires"
I really need a way to require json files dynamically.

As I read in the [docs](http://facebook.github.io/react-native/docs/image.html#static-resources) you deliberately made it so I have to write the file name for pictures. Does the same rule have to be applied to all file types?

[2015-11-04 11:44] pangers commented on #3876
I'm not sure whether fetch has a timeout function. After a quick skim of the link by @cancan101 it doesn't seem like there is one.

However it sounds like something that RxJS might be able to solve. Check out this operator.
https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/timeout.md

[2015-11-04 12:08] iplus26 opened #3885 "I can't open Chrome to debug"
It worked fine yesterday, but not since today.

When I opened Chrome and <kbd>⌘+D</kbd> in my iOS Simulator, the Chrome shows 'Page couldn't be opened' while the simulator shows error.

![chrome error](https://cloud.githubusercontent.com/assets/6082721/10937676/941ed0f6-832f-11e5-8c16-80a41adc0edc.png)
<img width="393" alt="simulator error" src="https://cloud.githubusercontent.com/assets/6082721/1

[2015-11-04 12:19] yorkie commented on #354
BTW, what's the RCE?

[2015-11-04 13:21] yanggeorge commented on #3483
/**

@providesModule ToastAndroid */
ToastAndroid should be AlertModule?

[2015-11-04 13:37] samsalisbury commented on #3369
This would seriously clean up some of my code... Does anyone know what the complexity is to implement this? Combined with object spreading of props in JSX tags this can help to make code less verbose, as well as more efficient.

[2015-11-04 14:06] AlexErofeev commented on #3796
+1

[2015-11-04 14:20] vaibhavmule opened #3886 "Push Notification for Android."
I have searched a lot and not able to find impementation of Push Notification for Android in React-Native.

[2015-11-04 14:24] mihirsoni commented on #3885
Hi ,

If you restart everything properly it should work properly.
Please use http://stackoverflow.com/ with react-native tags to get answer.

[2015-11-04 14:26] mihirsoni commented on #3869
@atom992

Here is the complete tutorial how to expose NATIVE method to JS.

Please visit here :- https://facebook.github.io/react-native/docs/native-modules-android.html#content

From next time , please use http://stackoverflow.com/ with react-native tag , issues are limited only to issues.

[2015-11-04 14:34] mhollweck commented on #29
fyi: https://productpains.com/post/react-native/add-borderwidth-left-right-top-bottom-to-textinput-/

[2015-11-04 14:59] yychun1217 commented on #3886
you need to implement it in the native side, PushNotification is only supported in iOS currently, as in PushNotificationIOS

[2015-11-04 15:03] atom992 commented on #3869
ok,Thank you.

[2015-11-04 15:03] #3869 closed

[2015-11-04 15:03] yychun1217 opened #3887 "Is there any callback for android when ReactContext is created in MainAcitivity?"
I checked that it is very strange that ReactInstanceManager.getCurrentReactContext in MainActivity would return null in onCreate and in onResume as well. I found that it should have been created in initializeReactContext() inside ReactInstanceManager, which is called when mReactRootView.initializeReactContext() is invoked.

Yet the context is still null, any hints?

[2015-11-04 15:04] negativetwelve opened #3888 "New asset system uses incorrect bundle"
I've been working on compiling the app I'm working on for production purposes with the new asset system and I have been running into an issue. The images show up in development mode but do not show up at all (and no warning) when built for production.

I found the problem but am not sure if this is the correct solution. The production app is using the wrong bundle to find the assets. This might be

[2015-11-04 15:08] nicklockwood commented on #3888
Yeah, this should probably be [NSBundle mainBundle] given that it's typically used for images, which only work from the mainBundle.

[2015-11-04 15:09] nicklockwood commented on #3888
I can't remember exactly why it was changed to bundleForClass though. @javache, do you recall?

[2015-11-04 15:12] javache commented on #3888
Yeah, we changed this to bundleForClass so the URL resolving would work correctly when invoked from a test bundle. We made some changes afterwards to how we load images with imageNamed: afterwards so this might no longer be necessary.

Running the unit tests should show if it's safe to change this.

[2015-11-04 15:12] yychun1217 commented on #3847
You should convert ArrayList to Array

[2015-11-04 15:14] negativetwelve commented on #3888
sweet, should I go ahead and only change this one line? there were a bunch more instances in [this commit](https://github.com/facebook/react-native/commit/9076b71ac307d2a45b30efec41414862638c6aeb#diff-99f3601ec9fb0cc23570af725a27781e) where we're using `resourcePath`. Should those be changed as well?

[2015-11-04 15:19] marsprince commented on #3256
same error! How to solve it?

[2015-11-04 15:19] nicklockwood commented on #3888
I think the ones in RCTAssetBundleImageLoader.m and RCTImageDownloader have already been changed (those classes no longer exist, actually).

[2015-11-04 15:20] nicklockwood commented on #3888
You'll probably have to change RCTConvert_NSURLTests.m too because that's specifically testing the output of the [RCTConvert NSURL:] function!

[2015-11-04 15:21] yychun1217 commented on #3468
so it is not supported in Android?

[2015-11-04 15:28] negativetwelve commented on #3888
oh yeah definitely right about the test + missing classes. Made the changes and submitted at #3889!

[2015-11-04 15:50] marsprince commented on #3256
Oh,I solved it by a function sendEvent like docs show,but why?

[2015-11-04 15:59] niftylettuce commented on #686
Can you please re-open this issue?  We still don't have Android support.

See my bug bounty and the issue here <https://github.com/rt2zz/react-native-contacts/issues/10>

[2015-11-04 16:05] mattotodd commented on #686
@niftylettuce the react-native team does not build out anything they don't directly use, Contacts being one of them. If a third-party build something and it gets good feedback, it can be pulled back in

I started an iOS version  https://github.com/mattotodd/react-native-addressbook-ios

I can take a look at an Android version, but might take a little time

[2015-11-04 16:44] christopherdro commented on #3885
@iplus26
@mihirsoni Is right. This usually happens when you have a tab open from a previous packager instance. Close chrome and try rebuilding the project.

[2015-11-04 16:45] nvcken opened #3890 "ios7.1.1: UIExplorer: Modal does't work correctly"
I test on device iphone 5.
When click on button Present, the modal show on black background instead overlay
![12212203_422549201266883_18771498_n](https://cloud.githubusercontent.com/assets/3489866/10944958/2753c318-834e-11e5-9289-31c89faae112.jpg)

[2015-11-04 16:47] cosmith commented on #3820
Wild guess: does AdView implement the `onCreate` and `onResume` methods? If yes try calling them directly in `createViewInstance` (or subclass AdView and call `onCreate` and `onResume`)

[2015-11-04 16:52] iplus26 commented on #3885
@mihirsoni @christopherdro I have restarted my computer and the project for many times but it still doesn't work.

[2015-11-04 17:03] uldza commented on #3703
@Hi-Rube thanks that fixed the problem

[2015-11-04 17:16] Purii commented on #3866
Look at #3782

[2015-11-04 17:27] patoroco opened #3892 "Different fontSize in simulator than physical device"
We're having some issues related to font sizing, because it's rendered differently in iOS simulator than in the device.

I created a small app to reproduce it (https://rnplay.org/apps/VP0enw), including only a Text component with fontSize = 40.

Left side is how  the app looks in iPhone 6 (iOS 9.1), and at the right is the same app running in  simulator (iPhone 6, iOS 9.1). (updated with the corre

[2015-11-04 17:35] huitiemesens commented on #3032
:+1:  should be a great feature, as we could manage to build one app for 3 environements.

[2015-11-04 17:38] felipebueno commented on #3628
Hi, @PhilippKrone !

Any updates on this ```Dialog``` module? :smiley:

[2015-11-04 17:42] cancan101 opened #3893 "AlertIOS to Support Additional UIAlertViewStyle"
Currently `UIAlertViewStyleDefault` and `UIAlertViewStylePlainTextInput` are supported but not: `UIAlertViewStyleSecureTextInput` or `UIAlertViewStyleLoginAndPasswordInput`.

[2015-11-04 17:45] niftylettuce opened #3894 "SwitchIOS and SwitchAndroid Styling"
How can we style the border of a SwitchIOS?  See below -- how can I style that black border?

![screen shot 2015-11-04 at 12 44 28 pm](https://cloud.githubusercontent.com/assets/523141/10946729/e3a54b66-82f1-11e5-894f-b1ccbb6c9528.png)

Also, how come there is no styling props for SwitchAndroid?

[2015-11-04 17:46] PhilippKrone commented on #3628
@felipebueno I have not worked on it as @mkonicek has said that its already done internally. If you need one now, look at https://github.com/aakashns/react-native-dialogs

[2015-11-04 17:47] marcshilling commented on #3256
@marsprince can you explain further how you did this?

[2015-11-04 17:48] beatscode opened #3895 "Access ApplicationContext from within NativeModule"
I have an existing android application and I've built a view using react native. In the RN UI I have a button that I'd like,when clicked, to navigate to an activity that is not managed by react native. Is this possible?

I have created a native module already to do some other things. So i've been able to talk back and forth . How should I gain access to the Application Context from within a class

[2015-11-04 17:53] jherr commented on #3846
This bug relates to the websocket that's opened to support the hot reload functionality in dev mode. It's not a production issue.

[2015-11-04 17:57] stephenelliott commented on #3846
I'm seeing this issue when compiled for release; I've made sure debug mode is off when profiling.

[2015-11-04 18:13] bradennapier commented on #41
+1 - running into the issue as well

[2015-11-04 18:30] felipebueno commented on #3628
Hey sorry, @PhilippKrone I mentioned your name by mistake. It should be @mkonicek 😅

[2015-11-04 19:09] joshhornby commented on #3007
I seem to be having some issues with version `0.18.1`

I am seeing errors such as:

[code]

Think docs might need updating in terms of setting up Flow and React Native

[2015-11-04 19:25] stephenelliott commented on #3846
Excellent! Thanks, Ken.

[2015-11-04 19:29] jherr commented on #3846
:+1:

[2015-11-04 19:29] zenlambda commented on #3478
@icefoggy I think this is a question for react-native devs. I noticed I had to add the following changes to my prop types after the 0.13-rc release. I can't point to any specific documentation that states that these propTypes are necessary, but adding them did resolve my problem (and this issue).

[code]

I haven't tried, but do you think if we followed the latest native component instructions for

[2015-11-04 19:32] #1967 closed

[2015-11-04 19:59] ide commented on #3892
You might not be running the same code -- your screenshot on the right is missing a colon after fontSize. I'm not sure what else could be the cause here.

[2015-11-04 20:08] ide commented on #3468
Keyboard events are unimplemented on Android.

[2015-11-04 20:14] ide commented on #3882
Anything that you want the build system to package up needs to be statically referenced. Client systems are different than Node in this regard because there's a preprocessing step when building the app.

If you need to load JSON files dynamically, you should use the networking APIs that RN offers and/or the native filesystem APIs to read the JSON.

[2015-11-04 20:14] #3882 closed

[2015-11-04 20:17] ide commented on #3369
RN will eventually use React 0.14 (or maybe 0.15): https://github.com/facebook/react-native/issues/2985 and will fix this issue. It's not an easy process so will take time.

[2015-11-04 20:25] ide commented on #354
I'm guessing Remote Code Execution?

[2015-11-04 20:26] ide commented on #3866
Closing this since it's tracked in #3782 and will be fixed in 0.14 final (coming in a few days).

[2015-11-04 20:26] #3866 closed

[2015-11-04 20:45] frantic commented on #3679
Just submitted an internal diff to make sure we always load images from the same folder as we load `main.jsbundle`

[2015-11-04 21:00] satya164 commented on #3895
You can just call the method `getApplicationContext`, e.g. -

[code]

[2015-11-04 21:08] satya164 commented on #3852
@niftylettuce http://facebook.github.io/react-native/docs/performance.html#slow-navigator-transitions

[2015-11-04 21:28] patoroco commented on #3892
I just updated image with two correct snapshops. I was doing several tests to reproduce the issue, and I choose bad when I compose image with comparation, thanks @ide for your advise.

Anyway, it's easy to reproduce the issue render a simple `Text` component as follows:

[code]

[2015-11-04 21:48] ACCTFORGH opened #3897 "Documentation missed the openDrawer() and closeDrawer() functions of DrawerLayoutAndroid"
These two functions are working and useful for pulling out and closing the drawer as the name suggests. However, I was not able to find formal documentation of these two in the RN website. I suggest an update to the doc about these two functions.

[2015-11-04 21:48] satya164 commented on #3468
@yychun1217 `KeyboardDidShow` and `KeyboardDidHide` works on Android, so I guess whatever you wanted to do with will show events, you could do on did show instead.

[2015-11-04 21:49] satya164 commented on #3897
@ACCTFORGH Can you send a pull request?

[2015-11-04 22:50] ippy04 commented on #3888
:+1:

[2015-11-04 23:09] jberdine commented on #1314
Using opacity attributes on nested text nodes [now](https://github.com/facebook/react-native/commit/02a8c383618382d669369d3d0701af0892398761) adjusts the alpha channel correspondingly.

[2015-11-04 23:49] yorkie commented on #354
Thanks, I see @ide :-)

[2015-11-05 00:06] pangers opened #3898 "iOS Text Input - Secure Text Input"
Hi, in my UI I have a TextInput and Button. The onPress of the button toggles a state called secureTextEntry like so:

this.setState({ secureTextEntry: !this.secureTextEntry });

This state is passed into the TextInput as a property for its secureTextEntry property. The secureTextEntry state is initially set as true.

I am encountering some strange issues with this set up.

1) While secureTextEntr

[2015-11-05 00:22] frantic commented on #2922
@ippy04 could you please give a link to example project? Are you images pngs? I've just tried it and it works fine (React Native 0.13.2). Note that you have to recompile Xcode project and explicitly set width/height in Image's style for this to work.

[2015-11-05 00:29] ippy04 commented on #3888
This was breaking not only assets using the new packaging mode but also static assets being loaded from Images.xcassets after I upgraded to 0.13.0. (using cocopods). This fix saved me from 24 hours of frustration - thanks!

[2015-11-05 00:41] ippy04 commented on #2922
Hi @frantic I had width / height set, tried pngs, used same name as the image in Images.xcassets but nothing worked.

Turned out it was this issue: https://github.com/facebook/react-native/issues/3888. Looks like using react-native from cocoapods breaks static image loading both from Images.xcassets and also using the new asset packaging system. Have verified that this commit fixes the problem: ht

[2015-11-05 00:43] JaRail commented on #3235
I'm not sure what this has to do with Fresco. I'm new to this code but Fresco seems related to images.

It looks like the draw code for Views splits down two paths based on border radius.
https://github.com/facebook/react-native/blob/62e8ddc20561a39c3c839ab9f83c95493df117c0/ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java#L88-L95

When you don't have a bord

[2015-11-05 01:28] whokilledtheelectricmonk opened #3900 "CameraRoll on Android"
From the [docs](https://facebook.github.io/react-native/docs/cameraroll.html#content):
`@param {string} tag On Android, this is a local URI, such as "file:///sdcard/img.png".`

Is the camera roll API actually available on Android? I get `undefined is not an object (evaluating RCTCameraRollManager.getPhotos)` when calling `CameraRoll.getPhotos`.

[2015-11-05 01:33] rock007 commented on #3130
me too

[2015-11-05 01:34] whokilledtheelectricmonk commented on #3900
Answered in #3743

(searched for _camera roll_ instead of _CameraRoll_)

[2015-11-05 01:34] #3900 closed

[2015-11-05 01:50] whokilledtheelectricmonk commented on #3743
@cosmith Is there an ETA for the API?

[2015-11-05 02:26] niftylettuce commented on #3844
Same issue.

[2015-11-05 03:33] sunny-g commented on #2837
Having this issue with React Native 0.13.2 on iOS. Any help much appreciated!

[2015-11-05 03:42] mbrochh commented on #3842
I'm interested in this as well. Currently they are just gray and most of the time that looks terrible, if you have a non-default tintColor for the TabBar.

[2015-11-05 03:45] tells opened #3902 "Error building DepdendencyGraph"
Getting this error message when creating my first app.  Went to the line error in index.js and saw comments mentioning that the code should check if it's 'dealing with a version of watchman that's using "watch-project"'.  I threw in a null check to short circuit the following error.  Branch name is 'crawler-watchProjectInfo'.

[code]

[2015-11-05 04:38] chris-erickson commented on #3464
With some help from @jaygarcia I was able to get it working by adding `${PODS_ROOT}/../../node_modules/react-native/React` (recursive) to the Pod project header search paths.  This won't survive a `pod install` As far as I can tell, so it's not a long term solution.

Currently I'm developing this locally so it shows up in the Development Pods group in the Pods project.  Is this any part of the pro

[2015-11-05 05:29] iplus26 commented on #3885
I don't know why but it works now.

[2015-11-05 05:29] #3885 closed

[2015-11-05 06:06] pyadav opened #3904 "Warning: Failed propType: Invariant Violation: Invalid prop `type` of value `ThemeAttrAndroid`"
I am getting this error in android project  Seem like an error

'Warning: Failed propType: Invariant Violation: Invalid prop `type` of value `ThemeAttrAndroid` supplied to `TouchableNativeFeedback`, expected one of ["RippleAndroid"].\nBad object: {\n  "type": "ThemeAttrAndroid",\n  "attribute": "selectableItemBackground"\n} Check the render method of `TouchFeedback`.'

[2015-11-05 06:27] fiowind commented on #1133
re-create the datasource by changing a dummy value (so that the rows are re-rendered).
this fixed this propblem well.
look detail at http://stackoverflow.com/questions/29933546/updating-this-state-datasource-doesnt-update-listview

[2015-11-05 06:28] fiowind commented on #1133
this._dataSource[movie].imageurl="/dist/images/default_picture.jpg";
this.ds = new ListView.DataSource({rowHasChanged: (row1, row2) => row1 !== row2});
this.setState({
    dataSource: this.ds.cloneWithRows(this._dataSource),
    loaded: true,
});

[2015-11-05 06:57] zhangjg opened #3905 "What's this mean in Js?"
In the file of  UIExplorer/ListViewExample.js  at the lines 63 and 83, there define two methods as fellow:

[code]
the code ` _renderRow: function(rowData: string, sectionID: number, rowID: number) ` and ` _genRows: function(pressData: {[key: number]: boolean}): Array<string> ` looks like Swift but not like  Javascript.
Do them have some special mean? Or this is ES6?
Some body can give some tips?

[2015-11-05 07:00] zhangjg commented on #3905
@sahrens Can you give me some tips?

[2015-11-05 07:35] marsprince commented on #3256
@marcshilling I just copied codes in docs and it worked it.I am confused too.

[2015-11-05 08:21] mihirsoni commented on #3905
@zhangjg

First thing first, this is wrong place to ask questions , from next time please use http://stackoverflow.com/ and tag them react-native.

Now regarding the signatures , React is using https://github.com/facebook/flow for type scripts. Please look at flow you will be able to understand that.

If this answer the question , please close the issue.

[2015-11-05 08:43] #3905 closed

[2015-11-05 08:54] gajuro commented on #3882
Hey Ide,

Thank you for your prompt answer.

Can you please point me to some docs about the native filesystem API? I don't see anything related in the APIs section of the docs.

I did find [another repo](https://github.com/johanneslumpe/react-native-fs) that seems to handle these needs. Is this what you meant in the first place?

[2015-11-05 09:26] ide commented on #3882
By native filesystem API I mean you'd bridge it yourself.

[2015-11-05 09:27] cosmith commented on #3743
I don't know, maybe someone at facebook has more info?

[2015-11-05 09:33] DickyT commented on #720
@pranjaltech You can try [this](https://github.com/DickyT/react-native-tabbar-navigator)
![react-native-tab](https://cloud.githubusercontent.com/assets/4535844/10964643/bcab5856-837e-11e5-8995-54dc21cac68b.gif)

[2015-11-05 09:38] macnibblet commented on #3796
+1

[2015-11-05 09:49] sankhadeeproy007 opened #3906 "TextInput inside of AlertiOS"
Hi, is there any way we can use a TextInput inside a AlertiOS? I checked the docs for AlertiOS but couldn't find any mention of it. Is that a negative? Also, there are no references to it on SO as well. So any help here would be appreciated.

[2015-11-05 09:56] jxintang commented on #720
@DickyT
thanks,i will give a try

[2015-11-05 10:03] pkamenarsky opened #3907 "React Native production ready?"
We're currently in the process of evaluating different cross-platform mobile frameworks.

Seeing that this repository has over 700 open issues, how production ready is React Native really (both on iOS and Android?)

[2015-11-05 10:21] naxiaoguang opened #3908 "Run Example UIExplore error"
[error][tid:main][RCTBatchedBridge.m:425] Error while loading: The operation couldn’t be completed. No such file or directory

why this happen?
1,cd react-native
2,npm install
3,npm start
4,run UIExplorer.xcodeproj on xcode .

then error

[2015-11-05 10:26] pranjaltech commented on #720
@DickyT thanks, will check it out.

[2015-11-05 10:28] ide commented on #3907
If your team members have a go-getter attitude and the engineering skills to do iOS and Android development anyway, then I would recommend prototyping with RN to evaluate it further. A couple tips I have are: read the source code when something is unclear, build your own native components when they aren't already implemented, and go into RN with the understanding that it is not the DOM nor Cocoa/A

[2015-11-05 10:30] DickyT commented on #720
@pranjaltech @jxintang no problem, this solution wasted me 2 nights LOL. Feel free to create new issues if you find something not working :-)

[2015-11-05 10:33] phpscrpt commented on #3598
+1 here

[2015-11-05 10:49] cosmith opened #3909 "[Android] Transferring large amounts of data through the bridge"
I'm trying to persist a big string (about 13MB, I'm serializing a js DB) to the device's storage on Android using @johanneslumpe's [react-native-fs](https://github.com/johanneslumpe/react-native-fs) and passing data to the native code is extremely slow (around 15 to 30 seconds on a Nexus 5). I tried splitting my string into smaller chunks but the result is about the same.

I don't know much about

[2015-11-05 10:53] richarddewit commented on #3233
Any news on this?

[2015-11-05 10:54] peduxe commented on #2720
Have you tried any of the 1.4 RC versions?

[2015-11-05 10:55] flipace commented on #2720
so, what happened between 1.3.1 and 1.2.3 ?

[2015-11-05 10:56] peduxe commented on #2720
@flipace well, breaking changes :D

[2015-11-05 10:57] patoroco commented on #3233
@richarddewit we're workaround padding issue wrapping `Text` in a `View`, and applying margin to it.

Margin seems to be work for both platforms.

[2015-11-05 11:07] yychun1217 opened #3910 "TextInput is missing in ScrollView in iOS but not in Android"
My TextInput is missing inside ScrollView for iOS. It works fine on android.
Included is the sample app using Playground.

https://rnplay.org/apps/KtTZ2g

You could see that android is showing the TextInput, but the iOS's one does not show it.

These kind of bugs is making me crazy...

[2015-11-05 11:53] G-Ri-F opened #3911 "AnimatedScrollView error"
The following code throw exception

    var AnimatedScrollView = Animated.createAnimatedComponent(ScrollView)
	var Catalog = React.createClass({
		render: function() {
			return (
					<AnimatedScrollView contentOffset={{x:0,y:new Animated.Value(0)}}>
					</AnimatedScrollView>
			)
		},
	})
exception

    JSON value '{
	    "_animation" = "<null>";
	    "_children" =     (
	    );
	    "_listener

[2015-11-05 12:31] guanyuxin opened #3912 "some way to hide scrollbar in ScrollView"
Is there some way to hide the scrollbar of the ScrollView

[2015-11-05 12:33] guanyuxin commented on #3912
seems horizontal scrollbar is hidden in iOS,but not android

[2015-11-05 12:48] jihopark commented on #2615
What do you guys think about passing down RxObservable(with some action related with Navigation Bar) for the underlying component to subscribe to that observable?

[2015-11-05 13:03] thewei commented on #720
@pranjaltech https://github.com/thewei/react-native-navigator   react-native-navigator can hide bottomBar too

[2015-11-05 13:18] vaibhavmule commented on #3886
How do I go about implement in native side?

[2015-11-05 13:21] satya164 commented on #3669
This seems to be (kinda) fixed in master. Here's what happens on master,

![2015-11-05 18_50_30](https://cloud.githubusercontent.com/assets/1174278/10969407/2b34aede-83ee-11e5-8a21-8519cd7b07a6.gif)

Notice the animation when I go back.

[2015-11-05 14:23] admmasters opened #3914 "Touch events no longer work on master (IOS, haven't tested on Android)"
As a result of commit: 77272d5a9193762b8668c99d54f5bb9a3e423a9e touches no longer register. Reverting to an earlier version of RCTView makes touch events work as intended.

[2015-11-05 15:17] anback commented on #3598
+1 here

[2015-11-05 15:33] eyaleizenberg commented on #3598
+1

[2015-11-05 15:37] maraujop commented on #3379
I have this exact error when I do an `installRelease` even having `react.gradle` there. However if I to an `assembleRelease` and install the generated apk in my smartphone, it works as expected.

[2015-11-05 15:42] watert commented on #2999
seems the precomputeStyle have no default `validAttributes` value, can be added manually to avoid this problem, but seems it's more like a bug.

it works for me to manually pass a second variable to set the `validAttributes` like below:

`let nativeProps = precomputeStyle({ transform: [{rotate: '45deg'}] }, {transform:true});`

[2015-11-05 15:44] DukeLee1989 opened #3918 "react-native init project failed"
this is log:

[code]

[2015-11-05 15:54] WellDone2094 opened #3919 "TranformMatrix strange behavior"
I'm trying to use transform matrix to modify an Image, i can't use just transform because i want to use the translate Z which is missing. The problem is that i can't get it work, i'm trying to use this matrix
[code]
that should be the same as
[code]
 but i get a huge blinking yellow thing that should be my image since is the same yellow but the sape of the yello thing is not like my image. i think

[2015-11-05 16:12] cosmith commented on #3909
What was taking time was actually the string conversion to base64, done on the js side. Transfer is still slow but manageable (1 to 3 secs). I'm going to close this because there are enough issues in here ;)

[2015-11-05 16:12] #3909 closed

[2015-11-05 16:24] lindskogen opened #3922 "Border radius not respected when setting width in onLayout when nesting views"
Expected behavior is that both of the views have a border radius, but the inner view does not respect this property.

I have been able to reproduce it here: https://rnplay.org/apps/sqbFrQ
As you can see it only affects iOS, not Android.

[2015-11-05 16:26] ehourigan commented on #3886
@vaibhavmule start here:
https://developers.google.com/cloud-messaging/android/client
https://facebook.github.io/react-native/docs/native-modules-android.html#content

[2015-11-05 16:42] jforaker commented on #3521
+1
I have been working on an Android app for a couple months now, both 0.12 and 0.13 have had this problem and it has gone on ignored. Sad to see that facebook isn't concerned with giving the android devs a good experience.

[2015-11-05 16:59] gpbl commented on #3906
Are you looking for [AlertIOS.prompt](https://facebook.github.io/react-native/docs/alertios.html#prompt)?

[code]

[2015-11-05 17:02] WellDone2094 commented on #3919
Doing other test i discovered that the problem is only with the translation. If i use rotation and scale matrix there are no problems but as soon i use translation on x or y axis the result is not correct

[2015-11-05 17:02] #2783 closed

[2015-11-05 17:07] gpbl commented on #3893
Yes this would be a nice addition. If you look at https://github.com/facebook/react-native/blob/master/React/Modules/RCTAlertManager.m it doesn't seem hard to add this option.

[2015-11-05 17:14] gpbl opened #3923 "[AlertIOS] Change the keyboard type in prompt()"
Is there a way to change the keyboard type in the text field for the prompt dialog? We need an option like `keyboardType`.

[2015-11-05 17:38] lucasferreira commented on #3796
I don't know if helps to much, but I made a module for Android WebView:
https://github.com/lucasferreira/react-native-webview-android

I think that can be util, it was simple, but do the main work of shows web pages inside android apps built in React Native.

[2015-11-05 17:55] madwed opened #3925 "[Android] Could not find com.digits.sdk.android:digits:1.9.0@aar"
Hi,

I am working on putting together a package that will make integrating with digits fairly straightforward.  I've put together the package, but when I try to build it in a project I get the error that says:
```Could not find com.digits.sdk.android:digits:1.8.0```
The digits package was auto downloaded to ~/.gradle, but I'm not sure how to get run-android to search that path.  Any suggestions?

[2015-11-05 18:14] jforaker commented on #3912
Did you read the docs?  https://facebook.github.io/react-native/docs/scrollview.html#showshorizontalscrollindicator

`showsHorizontalScrollIndicator={false]`

[2015-11-05 18:18] mangogogos commented on #3919
Out of curiosity what platform are you working on?

[2015-11-05 18:19] jforaker commented on #3864
+1  This is a fundamental necessity

[2015-11-05 19:02] josev55 opened #3926 "[IOS] [Navigator] Using different navbars for each Route"
Hi,
Im trying to implement Navigator for the top navigation and im dealing with some views where i need a button on the right item of the nav bar. I don't want to create different navigators whenever i need to change the layout of the nav bar.

Is there anyway to achieve that with the passed navigator object? Can I just change the nav bar of the navigator object?
@ericvicenti sorry that i tag you

[2015-11-05 19:08] felipebueno opened #3927 "One save causes multiple reloading"
Hi!

Saving my ```index.android.js``` one time causes multiple auto reloading. Here's the log from my last test:
[code]

There's another strange thing happening, but I don't know if it's related to this issue. I'm using ```Emacs + Web Mode + Flycheck``` to develop my RN apps. For some reason, every key I type causes the emulator to auto reload.

![gif](http://g.recordit.co/dBUJQkb5wt.gif)

I'm new

[2015-11-05 19:10] ide commented on #3927
Can you try another editor to potentially narrow down whether the problem is with your normal editor?

[2015-11-05 19:12] sunny-g commented on #3598
+1: same error, no red box

[2015-11-05 19:12] felipebueno commented on #3927
hmm good idea @ide 😅
I'll try Atom.

[2015-11-05 19:19] felipebueno commented on #3927
Hmm yeah, both issues only happens on Emacs. Closing the issue now.
Thanks, @ide !

[2015-11-05 19:19] #3927 closed

[2015-11-05 19:20] keeth commented on #2478
:+1: would love a fix for this, thanks!

[2015-11-05 19:27] chris-erickson commented on #3464
I'm starting to think that this is an issue with using CocoaPods this way (it gives the same error as _my_ custom module):
[code]
Maybe someone knows that this is a bad way to include the code?  I just don't love the option of manually dragging project files and linking libraries.

[2015-11-05 19:30] Iverum opened #3928 "[Android] No support for handling exceptions"
On iOS a delegate can be assigned to the RCTExceptionManager to catch exceptions and provide some custom handling for them. However, on Android it appears that this functionality is missing.

Am I missing the way to do this on Android or is it just not there?

[2015-11-05 19:37] felipebueno commented on #3927
Just in case anyone else ends up here as the result of a Google search, the problem is caused by Flycheck.

![gif](http://g.recordit.co/jua2rcBpMU.gif)

:smile: :cry:

[2015-11-05 19:44] rogeliog commented on #3703
@qudao :+1:

[2015-11-05 19:52] madwed commented on #3925
After doing some more research it seems like run-android is configured to search using the ANDROID_HOME variable.  So now I'm looking for a way to describe multiple paths.

[2015-11-05 20:19] brentvatne commented on #3907
I agree with @ide and would add also:

- a significant number of the open issues are actually questions (eg: this issue, or "how do i do x?") and troubleshooting (eg: error running packager on windows, can't get watchman to run, etc).
- read the [React Native ProductPains](https://productpains.com/product/react-native/) list for a good idea of where people are having the biggest issues right now i

[2015-11-05 20:19] #3907 closed

[2015-11-05 20:26] felipebueno commented on #3927
Mystery solved :smiley: :+1:

![img](http://i.imgur.com/N82pqkX.png)

[2015-11-05 20:27] ide commented on #3927
Great work investigating!

[2015-11-05 20:32] #3888 closed

[2015-11-05 20:38] foghina commented on #2768
I tried to do this at some point but ran into some issues where setting elevation doesn't actually do anything, potentially due to our overriding of measurement and layout. I probably won't have time to look into this very soon. :(

[2015-11-05 20:53] #3679 closed

[2015-11-05 20:59] jjshammas opened #3929 "Flexbox does not work if a parent size is determined by child dimensions"
I have noticed that if:

- A parent element does not have an explicit width/height
- AND A child element (such as a text layer) determines the width and height of that parent

…then all flex box properties (such as centering or growing) completely break on both the parent and its children.

This has forced me to attach functions to the `onLayout` prop and place explicit widths/heights on the paren

[2015-11-05 21:01] ide commented on #2768
@foghina OK if I mark this as Help Wanted to encourage experiments?

[2015-11-05 21:03] DickyT commented on #898
I found the solution guys and I pack it as a npm package!
```npm install react-native-tabbar-navigator```
or check [GitHub](https://github.com/DickyT/react-native-tabbar-navigator)
![react-native-tab](https://cloud.githubusercontent.com/assets/4535844/10981591/fb1f30f2-83de-11e5-9f74-a259954c14bb.gif)

[2015-11-05 21:18] ericvicenti commented on #3926
Navigation bars are fixed to the navigator. You could make a custom navbar that knows how to transition between two modes based on the routes that you use. If you just need to change the button, you can set up the `RightButton` function in your NavigationBar routeMapper

[2015-11-05 21:48] foghina commented on #2768
@ide good idea!

[2015-11-05 21:55] talarari opened #3930 "Running on android device from windows machine fails"
I cloned awesome-project and ran:
react-native  start
react-native run-android

at first i get a red screen like this:
![screenshot_2015-11-05-23-48-38](https://cloud.githubusercontent.com/assets/4973087/10982832/39a3c34a-8418-11e5-9175-bab565d4ed26.png)

then i followed this post on stack overflow:
http://stackoverflow.com/a/33447467/2029019
like this:
![screenshot_2015-11-05-23-48-59](https://cl

[2015-11-05 22:19] irfaan commented on #1402
Weird. On RN v.0.11.4, the app first launches with a black screen and then LaunchScreen.xib before loading the app. iOS 9 w/ @arnemart's fix (https://github.com/facebook/react-native/issues/1402#issuecomment-130236507). Any ideas?

[2015-11-05 22:33] NormannEiland commented on #2700
+1

[2015-11-05 22:46] jhabdas commented on #2185
Looks like this issue was fixed 20 days ago with https://github.com/facebook/react-native/commit/da250671e55b971ef73b9a02c5e65d4f0325f68f, is a duplicate of #2980 and can safely be closed.

[2015-11-05 22:49] chetstone commented on #1331
It appears that attaching something to navigator is [not going to work](https://github.com/facebook/react-native/pull/2120#issuecomment-154177227) because navigator is read-only in webworkers. Does anyone have any other ideas on how to determine if code is running under react-native?

[2015-11-05 22:52] rileybracken opened #3931 "[ActionSheetIOS] Documentation"
According to the documentation `ActionSheetIOS` takes options:
`static showActionSheetWithOptions(options: Object, callback: Function) `

But in the example it gives the only option of URL:
[code]
What are the other options (if any)? I could see it being super useful to have things like `text` and `imageUrl`.

[2015-11-05 22:58] nicklockwood commented on #1402
@irfaan try changing window.backgroundColor to something like [UIColor redColor], that should tell us if the black color is coming from the window or something else.

[2015-11-05 22:58] CallMeSH opened #3932 "What's the recommended way to make image processing ?"
Hi everyone !
I'm working on a React Native project and I wanted to process images downloaded from the network to obtain the vibrancy colors and improve the UI. [More infos in Google's Doc](https://developer.android.com/reference/android/support/v7/graphics/Palette.html)
Unfortunately I could not find any informations on how to extract the downloaded Image buffer or local temporary file path of th

[2015-11-05 23:03] jhabdas opened #3933 "[PushNotificationIOS] Support Local Notifications in Simulator"
Local notifications support was added in https://github.com/facebook/react-native/pull/1616. Unlike remote notifications, local notifications will indeed work in the iOS simulator under Xcode 7 and iOS 9. However, the `PushNotificationIOS` lib uses some branching logic based on iOS version and, therefore, prevents local notifications from working as they could.

For example, in `RCTPushNotificatio

[2015-11-05 23:14] nevir commented on #3598
+1 cannot debug in chrome due to this

[2015-11-05 23:43] talarari commented on #3930
Sorry, this works fine with react-native version 0.0.0.14. closing.

[2015-11-05 23:43] #3930 closed

[2015-11-06 00:08] sowdri commented on #3669
The animation while going back kind of hangs for me as well while navigating back. Works fine in IOS though.

[2015-11-06 01:00] irfaan commented on #1402
```self.window.backgroundColor = [UIColor redColor];``` inside ```didFinishLaunchingWithOptions``` changed nothing. Still black before the LaunchScreen.xib. So not from the window, it seems @nicklockwood

How do you recommend I go about debugging this?

[2015-11-06 01:13] despairblue commented on #3598
@nevir how does that prevent you from debugging exactly?

[2015-11-06 02:05] randomer commented on #2185
@jhabdas It's still not possible to cancel specific notifications though...

[2015-11-06 02:05] inithink opened #3934 "copyright problem in 0.14.0 ( cannot build )"
I'm using windows. And I'm developing an android application.

In 0.14.0, I found a file, "node_modules\react-native\local-cli\setup_env.bat" has problem.

In github, there are no problem. (The file commented with ':')

But if I use 'react-native init <Project name>' command,

the file in local system commented with c style comment(/* */).

Because of it, I can't use commands like 'react-native ru

[2015-11-06 02:05] jaredly opened #3935 "Issues with Xcode's bundling script node finding the `react-native` command"
This is in response to @chirag04's comment here https://github.com/facebook/react-native/pull/3545#issuecomment-154248860

There are two possibilities here:

1) you don't have `react-native-cli` installed; in that case, do `npm install -g react-native-cli` and all should be well
2) Xcode doesn't have the `react-native` command on its path when running the script, probably because your `node` insta

[2015-11-06 02:25] niftylettuce opened #3936 "How to dynamically create config file based off NODE_ENV flag?"
If I were to run `npm run bundle` and bundle my app (e.g. via `react-native bundle`), then I would like my API endpoint to switch to the production endpoint in my code.  My API endpoint is defined in a helper function which in turn uses ES6's `fetch` function.

Right now I'm having to comment/uncomment the production and development domain names in the definition, for example:

[code]

Is there a

[2015-11-06 02:28] ide commented on #3936
This isn't a completely generalized solution and nor does it make use of NODE_ENV... but might address your specific use case: there's a special variable called __DEV__ that gets set based on whether you load the bundle with ?dev=true or ?dev=false. When bundling up your JS you'd typically use dev=false (in fact that might be enforced.. would have to read the code).

[2015-11-06 02:30] niftylettuce commented on #3936
How do I access this variable?  `global.DEV`?
On Nov 5, 2015 9:29 PM, "James Ide" <notifications@github.com> wrote:

[2015-11-06 02:31] ide commented on #3936
It's a global, just `__DEV__` (`global.__DEV__ might also work but different static analyzers in the JS ecosystem might not like `global`)

[2015-11-06 02:33] niftylettuce commented on #3936
What's the road map for dynamically generating this?   What if I want other
configurations?
On Nov 5, 2015 9:32 PM, "James Ide" <notifications@github.com> wrote:

[2015-11-06 02:38] niftylettuce commented on #3936
Also thank you @ide - I was able to get it working for now using `__DEV__`.  :+1:

[2015-11-06 02:42] ide commented on #3936
Roadmap-wise: my gut thought is that Babel 6 is the answer. With .babelrc you can load any plugin you want, which lets you hack on the AST pretty arbitrarily.

[2015-11-06 02:49] madwed commented on #3925
Ok, it looks like @aar files need to be loaded from the remote repository.  The solution was to add the remote repository to both the package and to my project's
[code]

[2015-11-06 02:50] #3925 closed

[2015-11-06 03:03] eddanger commented on #3935
:+1: Adding `. ~/.nvm/nvm.sh` to the `Bundle React Native code and images` build phase fixed this for me.

[2015-11-06 03:25] mattmo commented on #1823
We're seeing something similar. Was working fine with 0.8. We just updated to 0.12 and none of our local gifs animate. They do work fine if we load them remote (from a webserver). cc: @brentvatne

[2015-11-06 03:26] xiekw2010 opened #3937 "[ListView] by profiled with Apple Instruments will generate a lot of CGRasterData which never be released later"
I have a listView which mainly display a lot of network images, while i am scrolling, the memory increased vastly as the screenshot shows:

![1](https://cloud.githubusercontent.com/assets/1814071/10988635/1f117502-8479-11e5-8e19-f125a91accf9.png)

![2](https://cloud.githubusercontent.com/assets/1814071/10988628/14d3a650-8479-11e5-85ec-5c792fc41ca6.png)

[2015-11-06 03:45] race604 opened #3938 "RN 1.4.0 Build in Xcode: Command `bundle` unrecognized."
When the RN 1.4.0 released. I init a new rn project, and run in Xcode, show error like this:

[code]

It works fine when I run the `react-native bundle ...` command in the root directory of project.

My node version is 4.2.1. Xcode is Version 7.1.

[2015-11-06 04:34] jhabdas commented on #2185
Oh. Details. :eyeglasses: Carry on.

[2015-11-06 04:36] AustinAmoruso commented on #3938
Same problem...

[2015-11-06 04:37] nicholasalanbrown commented on #3817
I'm getting the same error upon update but with static images:

[code]

Agreed, I'm not sure why React Native is looking there - everything looks fine on the Xcode side and it worked before update.

[2015-11-06 05:14] guiguan commented on #3938
@race604 LOL, same here. It looks like the $PATH problem.

[2015-11-06 05:35] guanyuxin commented on #3912
yeah, showsHorizontalScrollIndicator={false} works on iOS,but not android

[2015-11-06 05:41] golorry commented on #3897
@satya164  sure will do.

[2015-11-06 05:43] ACCTFORGH commented on #3897
@satya164  sure will do.

[2015-11-06 05:44] guanyuxin commented on #3912
Fond it, it's a bug and have been fixed in 14-rc  https://github.com/facebook/react-native/commit/e6ad91b5a218bec73a10a9064e9178235b12c557

[2015-11-06 05:45] #3912 closed

[2015-11-06 05:54] ACCTFORGH opened #3940 "[RN 0.12] borderTopLeftRadius and the other 3 corner radius counterparts not working"
I was trying to round the corner of my square views but found the corner border radius props not working.  I have tried all four of them(borderTopLeftRadius, borderTopRightRadius, borderBottomLeftRadius, borderBottomRightRadius), but none works. The borderRadius props though work fine. I am using RN 0.12 on Mac OS.

The code snippet is as below.

< View
            name ='Button'
            style

[2015-11-06 05:57] arhcstolen commented on #3757
This problem is still present on 0.14-stable

[2015-11-06 06:18] globexdesigns opened #3941 "`react-native upgrade` doesn't exist"
This page: https://facebook.github.io/react-native/docs/upgrading.html#content mentions that I should run `npm-native upgrade` after installing a new version of react-native.

But `react-native upgrade` says there's no such option:

[code]

`react-native --version` returns `0.1.7`

I'm confused.

[2015-11-06 06:42] grabbou commented on #3941
Documentation is synced with master as far as I know, and the `upgrade` command has been added 14 days ago. It's not yet available in released versions. We need to wait for next release.

[2015-11-06 06:44] grabbou commented on #3929
Could you provide a React Native Playground example with reproduced issue? Thanks!

[2015-11-06 06:49] grabbou commented on #3701
Would be way easier if my english was gramaticaly correct :D

[2015-11-06 06:52] grabbou commented on #3780
Haven't run into issues with npm 3 so far.

[2015-11-06 07:18] ACCTFORGH opened #3942 "[RN 0.12] Native Modules require override of createViewManagers(ReactApplicationContext)"
I was following the Android Toast Native Modules tutorial on the RN. While createViewManagers() is for native UI components instead, and the docs mentions nothing about it, Android Studio suggests error for not implementing it and results in compilation error as shown below. The error was returned after saving all code in Android Studio and running react-native run-android command in console. Can

[2015-11-06 07:29] race604 commented on #3938
Thanks for @guiguan 's help, I figured out my actual problem, the node.js environment is not configured properly for Xcode, so this issue is duplicated with: https://github.com/facebook/react-native/issues/3935

My solution is adding first two lines in project *Build Phases-->Bundle React Native code and images*
[code]

[2015-11-06 07:29] #3938 closed

[2015-11-06 07:49] Kudo opened #3943 "require('image!somePng') broken on Android for 0.14.0"
I have an issue for RN 0.14.0 that cannot import a static asset image.
However, npm install react-native from github master branch and gradle compile from maven local build works fine.

There must be some wrong from 0.14.0 however, there are too much changes between 0.14.0 and master.
Are there any hints if I can solve this?
Thanks.

[2015-11-06 07:51] Kudo commented on #3941
Have you tried upgrade react-native in your project's package.json?
upgrade command is in local-cli inside your local project but not system one.

[2015-11-06 08:47] hacksparrow opened #3944 "~/.m2/repository/com/facebook/react/gradleplugin missing"
Where does one get `~/.m2/repository/com/facebook/react/gradleplugin` from?

[2015-11-06 08:50] elisei-timofte commented on #3860
Thanks for explaining that. Now I know where to dig. I'll try and I'll come back with other questions if needed

[2015-11-06 08:53] 52myu commented on #3943
require(./somePng.png),try it

[2015-11-06 08:53] kusamakura commented on #3943
Hi @Kudo, 0.14 changed the way you can manage your images for both iOS and Android. It's like requiring .js files. Check here: http://facebook.github.io/react-native/docs/images.html#content

[2015-11-06 08:55] xu6148152 opened #3945 "When I clicked 'Debug in chrome' in the AwesomeProject, the app will crash(Android6.0 nexus5)"
the following is log:
[code]

[2015-11-06 09:11] guiguan commented on #3598
This problem has been fixed in [0.14.0](https://github.com/facebook/react-native/releases/tag/0.14.0)

[2015-11-06 09:11] #3598 closed

[2015-11-06 09:11] shahzeb1 opened #3946 "Command /bin/sh failed with exit code 127"
(Using Node version v4.2.1)

This is the terminal window when I click on build inside of XCode:

[code]

[2015-11-06 09:18] Kudo commented on #3943
Thank you guys. However how if I would require images from Android project drawables (i.e. android/app/src/main/res/drawable-*/ ) ?

[2015-11-06 09:23] 52myu commented on #3943
It can automatically find the directory

[2015-11-06 09:24] 52myu commented on #3943
https://github.com/52myu/react-native/commit/1019cc3aef56ef0d105b6781f3d5dd5342243172

[2015-11-06 09:30] #3945 closed

[2015-11-06 09:41] dvcrn opened #3947 "[ImagePickerIOS] require('NativeModules').ImagePickerIOS is undefined"
Hi,

I noticed that with react 0.14.0 `ImagePickerIOS` is no longer inside `require('NativeModules')`, resulting in all function calls on it throwing an error.
Couldn't figure out why that is yet. Anyone a idea?

Tested with a fresh project with react 0.14.0

[2015-11-06 10:03] Kudo commented on #3943
My test for 0.14.0.
js file at `${ProjectRoot}/src/containers/App.js`

[code]

![screen shot 2015-11-06 at 5 57 40 pm](https://cloud.githubusercontent.com/assets/46429/10994211/e4499e36-84af-11e5-84fc-610b97461367.png)

Output of files at `find ${ProjectRoot}/ -name '*ic_menu_white_24dp.png'`
[code]

Did I have anything wrongs?

[2015-11-06 10:17] heliumsoule opened #3948 "Can't create bundle: react-native-xcode.sh fails to call react-native"
I recently updated node to 5.0.0 and react-native won't compile in Xcode. Previous projects still work though. Does anyone have any thoughts? Thank you!

+ react-native bundle --entry-file index.ios.js --platform ios --dev true --bundle-output /Users/[username]/Library/Developer/Xcode/DerivedData/firstP-diwselkaoasmusemncrzcyzygens/Build/Products/Debug-iphonesimulator/firstP.app/main.jsbundle --as

[2015-11-06 10:19] nicklockwood commented on #3947
ImagePicker used to be included in RCTImage lib, but is now in RCTCemeraRoll. You need to include the RCTCameraRoll.xcodeproj in your project Libraries, and then make sure libRCTCameraRoll.a is included under "Link Binary With Libraries" in the Build Phases tab.

[2015-11-06 10:38] seph14 opened #3949 "[iOS] how can i overwrite system font size setting?"
We are working on a reading app and we want to keep the font size same regardless of user settings in general > accessibility > larger text/bold text. Is there a settings somewhere we can use or we have to go native to find the scalling?

[2015-11-06 10:45] mbrock commented on #3452
We also have these problems in a semi-complex list view. No more complex than, say, Twitter; each row has an image plus some nested text views. The combination of jank and the mistaken touch activations make the app's main screen unusable, and thus unreleasable, so for us this issue is very important.

There are enough significant issues and complications related to performance in multi-page apps

[2015-11-06 11:19] lucasferreira commented on #3942
Hi @ACCTFORGH,

You have to create the complete class, override all of the methods not only that are suggest in docs, it's something like that:

public class RNSendIntentPackage implements ReactPackage {

    @Override
    public List<NativeModule> createNativeModules(ReactApplicationContext reactContext) {
        List<NativeModule> modules = new ArrayList<>();
        modules.add(new RNSendInten

[2015-11-06 11:25] mrcasals commented on #3232
I'm having the same issue. Current docs say the color can be set through the `color` property, but it doesn't seem to work:

https://github.com/facebook/react-native/blob/a797be6ffdd8fd9107cd8654b0c0d7c46ee2c6bb/Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.android.js#L68

I've tried the following, but none seems to work:

[code]

[2015-11-06 11:30] backslash112 commented on #2952
+1

[2015-11-06 11:32] lucasferreira commented on #3865
Hi @cosmith

The only way that I found to do that it's change ti XMLs files inside android/app/src/main/res/values.

I created a colors.xml file with a simple color palette and inside the styles.xml I used that colors to change the Android default theme.

Here my things:
https://gist.github.com/lucasferreira/d2786a9adb32830783e0

After change the android:textColorSecondary property in styles.xml y

[2015-11-06 11:36] lucasferreira commented on #3628
I made another module to help in show alerts for Android, I think that could help some https://github.com/lucasferreira/react-native-simpledialog-android

[2015-11-06 11:42] greyexpert commented on #3948
I have the same problem.
I found that XCode ```$PATH``` differs from terminal ```$PATH``` and it doesn't include path of nvm nodes (~/.nvm/versions/...).
I have temporary fixed it by adding ```source ~/.bash_profile``` to the beginig of ```react-native-xcode.sh``` but there should be a better solution.

[2015-11-06 11:52] nicklockwood commented on #1402
It sounds like iOS is not loading your launchScreen.xib at all until the app has loaded (at which point, React is displaying it as the loadingView).

Maybe it's a configuration error in Xcode? Or possibly a bug in iOS 9?

Have you tried on a device, or only the simulator?

[2015-11-06 12:05] klausbreyer opened #3950 "CameraRoll / Cannot read property 'getPhotos' of undefined"
Hi there,

I wanted to use the CameraRoll. But it does not work.

[code]

this is my header:
[code]

are there any more requirements I possibly missed?

 "react-native": "^0.13.2",

[2015-11-06 12:10] jihopark commented on #2615
[code]
Using RxJs, I created RxSubjects so that bottom components of the Navigator can also receive button events by subscribing to the RxSubjects.

[2015-11-06 12:21] astuetz commented on #2916
Short explanation first: with "React-Fragment" and "React-Activity" I mean that they setup a new ReactRootView, ReactInstanceManager and call startReactApplication in onCreate/onCreateView and handle all the onPause/onResume callbacks etc..

So I have an existing app which has a NavigationDrawer and just switches out the Fragment below the Toolbar if a drawer item is selected. There I include a "R

[2015-11-06 12:29] liesislukas commented on #3934
something similar happened to me too. downgraded to v13.2

[2015-11-06 13:05] mc-zone opened #3951 "[Layout] `text-overflow:ellipsis` in a View ?"
I already know there is a feature `numberOfLines` used on `Text`.

But it can't be work when I have a RICH-TEXT paragraph which includes some `Image` elements.

So I can't make a pretty text ellipsis on the line end. Then `overflow:hidden` is not always suitable in this case, it might result in text truncation.

For example:
![2015-11-06 9 02 05](https://cloud.githubusercontent.com/assets/4403937/

[2015-11-06 13:09] astuetz opened #3952 "[Android] [TouchableNativeFeedback] parent pressed state also applied to child elements"
react-native: 0.14.0-rc

If I have a parent view which is wrapped into an TouchableNativeFeedback element and this parent view has children which are also wrapped into TouchableNativeFeedback, the child elements also show the pressed state as soon as I press the parent.
Already spent some time looking into TouchableNativeFeedback.android.js but I guess that's a problem somewhere deeper.
Kinda beha

[2015-11-06 13:22] sarriaroman commented on #3943
From Android resources the right way to use the drawable is

[code]

"ic_menu_white_24dp" must be in your drawables ;)

[2015-11-06 13:23] rocman opened #3953 "[Memory Issue] When I use the repository code directly in the project, the app consumes memory every second."
However, when I just use the original one generated by "react-native init", the case does not happen. I just wonder what's the key difference?

[2015-11-06 13:24] mkonicek commented on #2916
You can share the bridge between several different fragments (and I think also Activities) in your app. You can even have several different `ReactRootView`s  on the screen at the same time. It's an important use case for fb.

I don't know all the details but I think @AaaChiuuu might. It should probably be mentioned in these docs: https://facebook.github.io/react-native/docs/embedded-app-android.ht

[2015-11-06 13:31] mkonicek commented on #3557
Interesting, @andreicoman11 do you think it's related to the issue where touch coordinates are absolute instead of relative on Android?

[2015-11-06 13:43] chirag04 commented on #3935
@jaredly Thanks for creating the issue with elaborate description. Since ``nvm`` is the documented dev setup env, ``. ~/.nvm/nvm.sh`` is reasonable.  I wish there was a generic way.

cc @ide

[2015-11-06 13:56] jonolock91 commented on #3049
I'm having a similar problem with the transitions between scenes pretty much making my app unresponsive. On another note, I get a blank white screen on my Android emulator when I load it up, it's only when I debug in Chrome that my app actually displays anything, is this normal behaviour?

[2015-11-06 14:01] cosmith commented on #3865
Hi @lucasferreira, thanks for your answer. Setting `textColorSecondary` didn't work but `android:textColorPrimary` did!

[2015-11-06 14:05] Jerrylingit commented on #3948
as greyexpert's way，it works，but i still don't konw why……

[2015-11-06 14:09] topicus commented on #3946
Same issue here.

[2015-11-06 14:12] JonathanWi commented on #3948
Same here, thanks @greyexpert, now to find a real solution :)

[2015-11-06 14:14] jstowell29 commented on #3948
Experiencing the same issue... used @greyexpert workaround and was able to compile. Thanks

[2015-11-06 14:14] andreicoman11 commented on #3232
Fixed in https://github.com/facebook/react-native/commit/a797be6ffdd8fd9107cd8654b0c0d7c46ee2c6bb

[2015-11-06 14:14] #3232 closed

[2015-11-06 14:18] cosmith commented on #3865
Be careful though, as it will set all your TextInput's default color to the one you set as android:textColorPrimary (and possibly other things)

[2015-11-06 14:55] andreicoman11 commented on #3742
Fixed by https://github.com/facebook/react-native/commit/5ed8c6732ee0636143f62e7495c67de93d1db1d7

[2015-11-06 14:55] #3742 closed

[2015-11-06 15:10] rocman commented on #3953
I've just confirmed that the memory issue does exist.

When I created a project by 'react-native init AwesomeProject', a project with the 'original' react-native node-module was in use. And in this case, the memory consumes slowly, the memory usage stay at a level.

And then I deleted the react-native folder in node-modules, and got the 'master' code in place by 'git clone https://github.com/faceb

[2015-11-06 15:21] adamtwiss commented on #3946
Same here ...  happy to help with any diagnostics.  I am using react-native-cli 0.1.7 and Node v5.0.0

I thought I'd have a quick at just commenting out the 'use strict;' in cli.js to see if that would fix it.

But then I get:

[code]

[2015-11-06 15:22] cosmith commented on #3865
On Android API level 23 I can set the `TextInput`'s colors via js but not on Android 22... So I either have everything black or everything white.

[2015-11-06 15:24] MicheleBertoli commented on #3946
+1

[2015-11-06 15:36] ffugly commented on #3946
+1

[2015-11-06 15:44] cancan101 commented on #2925
I am trying to use the trick @rmdort mentioned but I get the following. I should add that the Modal is already in a NavigatorIOS (i.e I am putting a NavigatorIOS on a Modal in a NavigatorIOS) :
[code]

[2015-11-06 15:53] shahzeb1 commented on #3946
Temporary work around (to at least get React Native working):

1. Use node version v4.2.1
2. `cd` into [your app]/node_modules/react-native/packager
3. Run `./packager.sh` (for some reason this runs fine
4. Go into XCode and go to the Build Phases tab.
5. Remove the last item on the list (the one that runs the script). So you're left with Target Dependencies, Compile Sources, Link Binary With Libr

[2015-11-06 16:04] gtejasvi opened #3955 "DrawerLayoutAndroid Option to Open the Menu from a Home Icon"
Would it be possible to expose a method that allows to open the Menu from a link Currently only the call back actions like onDrawerOpen , onDrawerSlide. Some prop could be exposed that could open the drawer. While this is not very critical, having this in the documentation really would help.
I was able to call the openDrawer method available in the component by using a reference to the component c

[2015-11-06 16:04] Kudo commented on #3943
@sarriaroman the syntax works fine, thank you.
I guess we should update the UIExplorer sample code if `require('image!...')` is not work or going to deprecate.

[2015-11-06 16:06] qbig commented on #3669
same here. the "back animation" is very choppy

[2015-11-06 16:10] christopherdro commented on #3785
So there are a couple ways this can be fixed but wanted to get some feedback before submitted a PR. After talking to @mkonicek this last week at Reactive2015 he mentioned that size of the switch for android is calculated automatically whereas it need to be defined for IOS.

So I'm wondering if we should remove this section entirely https://github.com/facebook/react-native/blob/2c7de35dee347b5d9a40

[2015-11-06 16:22] lupugabriel1 commented on #3243
+1

[2015-11-06 16:25] lucasferreira commented on #3865
@cosmith

You can use:

[code]

My styles.xml are now:

[code]

[2015-11-06 16:29] lupugabriel1 commented on #3456
@sriharrsha You saved my day !

[2015-11-06 16:32] bradbumbalough commented on #3946
Thanks @shahzeb1, that solved my problem.

[2015-11-06 16:38] TalkingQuickly commented on #3946
+1

[2015-11-06 16:45] sheets commented on #3948
@greyexpert work around worked for me as well.

[2015-11-06 16:47] whokilledtheelectricmonk commented on #3950
For Android: #3901
For iOS: You need to link the libraries in XCode.

[2015-11-06 17:05] votive commented on #41
+1 - getting this issue when I have a horizontal scroll view nested in a list view.

[2015-11-06 17:27] chirag04 commented on #3935
I get:
``/bin/sh: /Users/chirag/Library/Developer/Xcode/DerivedData/lrn-dsvwidjkkxwdtafnxqzavyicmsbs/Build/Intermediates/lrn.build/Debug-iphonesimulator/lrn.build/Script-00DD1BFF1BD5951E006B06BC.sh: .: bad interpreter: Permission denied``

when using . ~/.nvm/nvm.sh

[2015-11-06 17:33] irfaan commented on #1402
Thanks @nicklockwood - I had been experiencing the issue on device. Ran it in the simulator and it worked perfectly, and then deleted + ran on device and it works fine. Really odd. Will post again if the issue crops up again.

[2015-11-06 17:39] WellDone2094 commented on #3919
i'm working on iPhone 5s with iOS 8.1.2

[2015-11-06 17:44] ippa opened #3956 "upgrading to 0.14 on windows 10 fails at "react-native upgrade""
Been using react-native 0.13.* in windows 10 for 2-3 weeks I encountered this when trying to follow the upgrade-instrucions to upgrade to 0.14.0.

Steps in a working 0.13.0 project:
1) edit package.json to entering react-native 0.14.0 as a dep
2) running "npm install"
3) Running "react-native upgrade" gives me this:

[code]

I also tried nuking "node_nodules"-directory and running "npm install" be

[2015-11-06 17:54] jaredly commented on #80
@amasad did you ever add an option to clear the cache?

[2015-11-06 18:03] xiaobinlzy commented on #2806
@yinzSE It works. Thanks a lot!

[2015-11-06 18:10] ippa commented on #3956
Digging a bit further,  setup_env.bat contains only this:
[code]

and windows gets confused trying to execute that.

[2015-11-06 18:51] l-lawliett commented on #3946
Thats greate but all you need to do is just delete the last Item in Build Phase in Xcode perfect not a work around dont need to cd into anything after that

[2015-11-06 18:55] ide commented on #3949
You could set `allowFontScaling={false}` on the Text components whose size you would like to keep constant. To generalize this more widely, you could create a custom component called `FixedText` that simply renders a `Text` component with `allowFontScaling={false}` (and forwards all other props) and use `<FixedText>` throughout your app code.

[2015-11-06 18:55] #3949 closed

[2015-11-06 18:56] felipebueno commented on #3927
Thanks, @ide

I just found out the easy way to "fix" this behavior is to put this temp files on ```.gitignore```. Watchman ignores everything that is there :)

<img width="313" alt="screen shot 2015-11-06 at 16 55 16" src="https://cloud.githubusercontent.com/assets/241271/11005809/3de9b9de-84a7-11e5-89cb-2aaba5fca9b9.png">

[2015-11-06 18:57] JakeRawr commented on #3950
@klausbreyer

https://thebhwgroup.com/blog/accessing-iphone-camera-roll-images-react-native

I followed this tutorial on how to use Camera Roll. I've only tried it on iOS. I'm not certain that Android works the same

[2015-11-06 19:03] ide commented on #3953
Is this on iOS or Android? And is the app code doing anything?

[2015-11-06 19:22] jcsmesquita opened #3958 "TouchableNativeFeedback slow to animate"
When using TouchableNativeFeedback on Android I noticed the native response is slow. When tapping quickly the native animation isn't noticeable. Anybody experiencing the same issue?

[2015-11-06 19:24] #3846 closed

[2015-11-06 19:28] ide commented on #3935
I looked in some of our Xcode files and we have this:
[code]

[2015-11-06 19:28] ide commented on #3935
I don't think that's entirely right like NVM_DIR should probably use `brew --prefix nvm` if you installed it with homebrew, but I think what I pasted is roughly correct.

[2015-11-06 19:29] ide commented on #3950
@whokilledtheelectricmonk thanks for answering!

[2015-11-06 19:29] #3950 closed

[2015-11-06 19:30] cosmith commented on #3865
Awesome thanks!

[2015-11-06 19:30] #3865 closed

[2015-11-06 19:51] bartonhammond commented on #3948
I had to add '/usr/local/bin' explicitly to ~/.bash_profile along w/ @greyexpert  workaround

[2015-11-06 19:54] #1792 closed

[2015-11-06 19:55] aleclarson commented on #2296
Any updates on this?

[2015-11-06 20:13] ide commented on #3955
There is a method on DrawerLayoutAndroid instances called `openDrawer()`. There is `closeDrawer()` too. Check out the code for the specifics: https://github.com/facebook/react-native/blob/2c7de35dee347b5d9a40b4e87862622e60ddf7d9/Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js#L183. If you have further questions about how to use them, please ask your questions on Stack Overflow.

[2015-11-06 20:14] ide commented on #3955
There is also an issue to add `openDrawer()` and `closeDrawer()` to the documentation: https://github.com/facebook/react-native/issues/3897.

[2015-11-06 20:14] #3955 closed

[2015-11-06 20:18] jaredly commented on #3935
You'll might also want `/bin/bash/` instead of `/bin/sh` as the shell used

[2015-11-06 20:46] asamiller commented on #3946
Running `react-native upgrade` fixed this for me.

[2015-11-06 20:56] donmullen commented on #3243
Seeing similar issue with node v4.1.2.

[2015-11-06 21:09] timfpark commented on #3948
+1

[2015-11-06 21:21] ide opened #3960 "[Errors] Letting RCTExceptionsManagerDelegate override default behavior"
As of https://github.com/facebook/react-native/commit/31b5b0ac010d44afe3e742e85c75a9ef9e72a9e0 the delegate no longer can override the default behavior. That is, if there is a delegate its methods run alongside the default behavior. We could replace the whole module wholesale so this isn't a super critical blocker but it'd be nice to preserve the prior functionality/flexibility.

If it's considere

[2015-11-06 21:25] #3864 closed

[2015-11-06 21:38] ajwhite commented on #2814
+1 on this, our product has some 64bit dependencies as well

[2015-11-06 21:40] bparadie commented on #2502
Is this perhaps the elephant in the room?: Why not rewriting react and react-native in Typescript?

[2015-11-06 21:40] nicholasalanbrown commented on #3817
Ah, this was my fault - assets need to be included different in React Native 0.14.0+

[2015-11-06 21:40] shahzeb1 commented on #3946
@asamiller I got the following error in terminal `Command `upgrade` unrecognized. Did you mean to run this inside a react-native project?`

[2015-11-06 21:57] bartonhammond commented on #3948
I created new project (react-native @0.14.0 and changing index.ios.js does not update in iOS simulator w/ Cmd+R.  Anyone else experience this w/ this newest release?

[2015-11-06 22:00] bartonhammond commented on #3934
How do you downgrade?  I'm having problems w/ 0.14.0 on mac.

[2015-11-06 22:10] samsalisbury commented on #3948
@bartonhammond I had to kill the initial packager that was started after `react native init ...` and start it again with `npm start` to get it to work in general.. However it's now failing in the way reported by the OP

[2015-11-06 22:11] bartonhammond opened #3962 "0.14.0 iOS Simulator does not update w/ Cmd+R"
Using workaround from [https://github.com/facebook/react-native/issues/3948](https://github.com/facebook/react-native/issues/3948), running ios simulator and after changing index.ios.js, CMD+R does not update view.

[2015-11-06 22:13] bartonhammond commented on #3962
Ooops - restarted "npm start" and all is good

[2015-11-06 22:13] #3962 closed

[2015-11-06 22:14] samsalisbury commented on #3948
For me, the Xcode build script failure as originally reported started after I upgraded a 0.13.2 project to 0.14.0. I then created a new 0.14.0 project from scratch, and it all worked. I took my original `index.os.js`, `styles.os.js`, and dependencies from `package.json` (including 2 libraries with native components) into the fresh new project, and then this issue started again. I have not yet trie

[2015-11-06 22:14] bartonhammond commented on #3948
argh - @samsalisbury that was it. thanks

[2015-11-06 22:17] rocman commented on #3953
It's on iOS simulator, and doing nothing

[2015-11-06 22:53] samsalisbury commented on #3948
np @bartonhammond

UPDATE: I have isolated the problem in my case to my `.babelrc`. Simply adding this file to a brand new (verified working) RN 0.14.0 project causes the above failure. I suspect this may related to some global dependencies I've installed and forgotten about which pick up on this, I'm going to try & isolate it.

Here's my `.babelrc` for completeness:

[code]

[2015-11-06 22:57] javache commented on #3960
Sorry for breaking your stuff :)

To be clear, you don't want any of the default behaviour? The only thing that's really fixed in the new implementation is the redBox call, which is nil in production anyway. The fatal'ing behaviour can be configured through RCTSetFatalHandler.

[2015-11-06 23:01] rigdern commented on #3757
As @arhcstolen mentioned, it doesn't look like this change made it into the 0.14.0 release. Others have been hitting this bug:
  - #3934
  - #3956

[2015-11-06 23:25] chetstone commented on #2275
I found I was getting this error because I had moved an `import AuthStore from './src/stores/AuthStore'` from a subcomponent into `index.ios.js`. Removing that line got rid of the error. No idea why. It was *after* `var React = require('react-native');`

[2015-11-06 23:29] ide commented on #3960
Yeah, I reimplemented the redbox actually so a way to tell RN "don't worry about this error, I got this" is what I'm looking for.

[2015-11-06 23:33] samsalisbury commented on #3948
*UPDATE:* I've found a few things out:

- Even a .babelrc file containing only `{}` was causing the above failure.
- I _had_ a globally-installed `babel-eslint 4.1.3` (RN has a dev dependency on `4.1.1`). I removed this.
- Now, the `{}` .babelrc file now _did not_ cause a build failure, but the above posted one still did. Progress.
- I bisected the .babelrc from above and **isolated the issue to a