[2015-05-19 16:32] jaygarcia commented on #1343
I will say that this issue only seems to be a parsing error condition.  Logic errors seem to work fine =)

[2015-05-19 16:42] chirag04 commented on #900
@brentvatne  Seem like borderRadius is broken with latest version of react-native. I have backgroundColor set.

I do something like this:
[code]

In style:
[code]

[2015-05-19 16:46] chirag04 commented on #900
@brentvatne  Seems like it works fine when i use TouchableHighlight instead of TouchableOpacity

[2015-05-19 16:52] 7ynk3r commented on #925
This is amazing!

It's almost working for me but for some reason `Text` components are not being render even tough I can see the background color changing.

The server responds with the appropriated bundle, but the application is not able to render the content properly.

Ideas?

What I did:

1) cloned react-native under `./react-native` (0.4.4)
2) created a new project under `./my_project`  (xCode

[2015-05-19 17:19] iostalk commented on #1274
How to get the cookie in client?

[2015-05-19 17:21] ericvicenti commented on #514
For `Navigator`, the reason we don't put the title or scene components directly on the route is because it takes extra computation and memory to load and render them before they need to be displayed.

I think it would be nice if we could start making the API for `NavigatorIOS` more closely resemble `Navigator`. However, this is a community-maintained component, so I will let you all decide on the

[2015-05-19 17:31] arunshan opened #1344 "[WebView] Caching contents WebView using the cachePolicy"
Currently the UIWebView is not caching the contents of webview. We need a provision to set cachePolicy if there is a boolean prop to set cache policy to the webview.

[code]

[2015-05-19 17:50] ericvicenti commented on #1332
Interesting.. Can you post a simplified gist that demonstrates this bug, or modify the `NavigatorExample` to demo the problem?

[2015-05-19 17:56] ericvicenti commented on #1298
Sorry to see you're having troubles here!

If you post some example code, or modify the `NavigatorExample` to show the bug, I will be able to see exactly what is going wrong and help you find a fix

[2015-05-19 18:06] jtremback commented on #1328
Why doesn't react-native just use babel?

[2015-05-19 18:09] jtremback commented on #1139
I'm getting this sometimes when returning from a webpage using LinkingIOS.

[2015-05-19 18:20] ericvicenti commented on #1252
I've replicated this issue. I adding some code that logs the count of the route stack onDidFocus, and I've noticed that after swiping back, the count does not go down. I should be able to fix this today or tonight.

[2015-05-19 18:25] lwansbrough commented on #1332
Well, based on what I've seen in my own app, this should do it: https://gist.github.com/lwansbrough/03a459e59fdc5cf39091

The only thing that's changed is I added `sceneStyle={{}}`.

Just checking myself now..

[2015-05-19 18:29] arunshan opened #1345 "Images do not load on the ListView in iPhone 5 but works on iPhone 6 and up"
In ListView, the images do not load properly on the iPhone 5/5s but loads on the iPhone 6. Both the devices are on iOS 8.3.

iPhone 5/5s:

![img_2543](https://cloud.githubusercontent.com/assets/1124102/7710453/cf00c194-fe18-11e4-8f74-d6afbbf9ed55.PNG)

iPhone 6:

![img_0145](https://cloud.githubusercontent.com/assets/1124102/7710494/29d2a16e-fe19-11e4-832a-5fbfb1f07e50.PNG)

In the following code

[2015-05-19 18:32] dimoreira commented on #957
@josebalius Can you post your solution?

[2015-05-19 18:56] lwansbrough commented on #1332
Yes it's reproducible.

[2015-05-19 19:07] ericvicenti commented on #1332
Ok, thanks. I'll investigate this

[2015-05-19 19:31] jeroenbourgois commented on #846
@liubko I cannot get that to work. Can you show the code you use to change `navigationBarHidden` when using `navigator.push`?

Here is how I do it, with no effect (btw `navigationBarHidden` was set to `false` when setting up the `NavigatorIOS` component):

[code]

[2015-05-19 20:16] nicinabox commented on #846
@jeroenbourgois `navigationBarHidden` is a prop on `NavigatorIOS` itself. Passing it in `push` won't work because those are options for the route. I'm not sure about setting it like `this.props.navigator.navigationBarHidden = false`.

[2015-05-19 20:33] rborn commented on #1093
I'm really sorry for the delay.

@nicklockwood I did what you suggested (base64 the jsbundle) and the test app works ok (deployed both on sim and device).

However after I generated the ipa for appstore a `strings` command shows the base64 code in clear (as @shayne indicated).

[2015-05-19 20:45] nicklockwood commented on #1093
Ah, pity.

The next option would be to encrypt the base64 URL and then decrypt it before passing to the bridge then. Not very much harder, but still an extra step. Doesn't really matter if the string is stored in the app or in a file.

[2015-05-19 20:48] nicklockwood commented on #1093
Wait, when you say generated ipa for app store, do you mean you submitted it to Apple and then downloaded in iTunes once it was approved and releasrd, or did you just export a release build from xcode?

The encryption is applied by Apple in the cloud, so doesn't affect the ipa before you actually submit it.

[2015-05-19 20:53] rborn commented on #1093
Oh, didn't know this, I thought the encryption is done locally.
But if it's like this, why the jsbundle files are not encrypted? (found that in a react-native app that's in the Appstore).

[2015-05-19 20:59] liubko commented on #846
@jeroenbourgois I save `isNavBarHidden` status in parent component state.
[code]

so then if I do smth like this:
[code]
it works correctly. But it doesn't work when I use `replace` or `resetTo`

[2015-05-19 21:05] josebalius commented on #957
@dimoreira sure here is what I did

[code]

Hope this helps

[2015-05-19 21:21] jaygarcia commented on #1336
are those libraries listed in your sub-project dependencies?

[2015-05-19 21:24] jaygarcia commented on #1282
I've experienced this via command-center generated events.  However, my experience, when the device is locked, events publish fine when the phone is locked and the screen is on. However, when the phone is locked and the screen is off, events actually queue up. So, if i hit next next next, my player will move 3 songs forward in the playlist.

The flow is:
Command Center event -> my bridge impl clas

[2015-05-19 22:08] rxb commented on #1345
Might be the same issue, I am also having trouble loading some, but not all images in a ListView on a 5s. Works perfectly in the simulator.

[2015-05-19 22:52] pukhalski commented on #1252
Perfect! Thanks!

[2015-05-19 23:58] nicklockwood commented on #1093
Fairplay encryption is only applied to certain parts of the app binary itself, not to assets in the resources folder (they unzip your ipa, add the encryption, and then reassemble the ipa)

[2015-05-20 00:04] rborn commented on #1093
I see, thank you

Sadly I cannot test right now with an app in appstore :disappointed:

[2015-05-20 03:34] rxb commented on #1159
I did the same thing as @JonasJonny and had the same problem. I think i'm having trouble understanding how things are actually supposed to fit together.

Is the idea that you would need a structure like this:
* "App" Navigator, then...
* "Tab" Navigator & TabBarIOS (with TabBarIOS being used as the Navigator's NavigationBar, rather than relying on TabBarIOS to switch between Navigators), then...
*

[2015-05-20 03:36] oveddan opened #1348 "Let a WebView be loaded with html, rather than a url"
This would allow us to inject raw html into the WebView.  If this is currently possible, then provide documentation for it.

[2015-05-20 03:39] oveddan opened #1349 "[Idea: Webview] Enable injecting javascript into a WebView"
This way we can take an existing web view and run custom javascript in it, as the WKWebview allows you to do via [WKUserScript](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKUserScript_Ref/index.html#//apple_ref/occ/cl/WKUserScript)

[2015-05-20 04:22] christopherdro commented on #1348
http://facebook.github.io/react-native/docs/webview.html#content

WebView already has that option. Just make sure to pass in it in as a string.

[2015-05-20 05:58] 7ynk3r commented on #925
I've solved the problem, it was `cocoapods` that was outdated. It was ignoring the *subspecs* and just using the default `Core` instead. There was no error during the process.

After that I was able to install pods without *almost* any problem.

The only minor thing was that `RCTWebSocketDebugger` doesn't exists. I think it was renamed to `RCTWebSocket`, can you confirm this @ide?

Thanks!
JM

[2015-05-20 06:13] ide commented on #925
@7ynk3r, that's correct. One of the recent updates to react renamed the pod subspec to RCTWebSocket.

[2015-05-20 06:31] PhilippKrone commented on #1319
@brentvatne have you ever seen an error stack like this using your snippet?

[2015-05-20 06:40] TouchQQ commented on #1348
@christopherdro  it's not work...

[2015-05-20 06:53] #993 closed

[2015-05-20 07:47] jeroenbourgois commented on #846
AHA but of course! Should have seen that.... thanks a bunch!

[2015-05-20 08:08] lukasreichart commented on #1139
@jtremback any leads on how to fix this?

[2015-05-20 08:14] bigparksh commented on #759
64 is just a magic number. It'll probably cause problems in future cases. You could solve the issue by wrapping the View within ScrollView in the render function.
<ScrollView>
    <View>
    </View>
</ScrollView>

[2015-05-20 08:40] mintuz commented on #1282
@jaygarcia If you put a NSLog in your bridge where the event is also triggered, does the output display but the event not fired if the screen is turned off? I'm not having the events queue up, they just don't fire.

[2015-05-20 09:41] VonD commented on #930
@aroth thanks for the clarification. Have you been able to make progress on making the representation configurable ? That would indeed be very useful. Should I open an issue for that ?
Also, if the reprensentation is configurable, the orientation should be too, to avoid, e.g. displaying an upside down thumbnail.

[2015-05-20 10:32] romanonthego commented on #1298
actually i no longer have an issue since i've moved from tab layout to slide menu :)
all the symptoms I have here is reported in https://github.com/facebook/react-native/issues/1159:
1) switching context between navigators inside tab view in very, very unclear way - resulting back button calling pop() on parent and child navigator;
2) skipping focus phase of parent navigator;

the bug with compone

[2015-05-20 10:38] iostalk commented on #1343
It's an awesome job! A pull request would be appreciated!

[2015-05-20 10:43] soliury opened #1350 "I am using the navigator , it can push navigator, but the it don't render .."
this is my `index.ios.js`:

[code]

in `Home` Component:

[code]

`_onRowPress()`:

[code]

If I set the Topic Component to the initRoute it can render the View, but , In another file, I use `this.props.navigator.push()`, it will push to topic, but, I see nothing.

[2015-05-20 11:10] romanonthego opened #1351 "Enviroment configs"
Whats the best (or at least reliable) way to have multiple enviroments in application?
most node packages solving this problems relaying on `process.env` which is not accesible :(
at very least we need a way to pass variables from console, right?

[2015-05-20 11:56] liubko opened #1352 "TouchableWithoutFeedback with custom component inside doesn't fires onPress callback"
I made a demo https://rnplay.org/plays/iBVgwg

so the problem is that third button isn't working. The only difference between buttons is the way I passed them in `Header` component.

[code]

[2015-05-20 14:44] arunshan commented on #1345
@rxb do you know what may be the reason ? Are there any image size or image format restrictions that I am not aware of ? List view render is invoked only after the image urls are received from the server. I believe there is some kind of race condition.

[2015-05-20 14:46] oveddan commented on #1348
I can't see how it would work without HTML being publicly exposed via the interface https://github.com/facebook/react-native/blob/6500ba7bfbdc2bd8e3301813b3cb606aeea35331/React/Views/RCTWebView.h#L14

[2015-05-20 14:47] arunshan commented on #1350
Could you post the complete Topic component code here ?

[2015-05-20 14:51] soliury commented on #1350
ok, this is the topic component:

[code]

[2015-05-20 14:52] soliury commented on #1350
It can console.log `render()`, but, I see nothing in the view.

[2015-05-20 14:55] arunshan commented on #1350
First no comments in JSX. It will throw an error. Second set style to view - flex:1

[2015-05-20 15:03] rxb commented on #1345
@arunshan Still trying to parse out what's different about the ones that are intermittently not loading.

[2015-05-20 15:04] christopherdro commented on #1348
You need the html property and it seems you need to add ```webView:{}``` in your styles.

Here's a fiddle showing it to work.
https://rnplay.org/plays/6JolNQ/edit

[2015-05-20 15:11] soliury commented on #1350
I change to , but , it nothing to do :

[code]

[2015-05-20 15:12] soliury commented on #1350
And it don't through ane error. It can run, can console.log `render()`, but, I see nothing in the view.

[2015-05-20 15:22] soliury commented on #1350
I change `navigator.push()` to `navigator.replace()`, it can work, but `.push()` can work, I see nothing and no errors.

[2015-05-20 15:22] arunshan commented on #1350
Try to set width and height to the view. Also change text color to red.

On Wednesday, May 20, 2015, soliury <notifications@github.com> wrote:

[2015-05-20 15:43] soliury commented on #1350
I have try, but nothing to see. I see the view debug in *capture View hirerarchy*, I can see the view, but in  the simulator I see nothing , in mobile, also nothing .

[2015-05-20 15:44] psbanka commented on #1328
Anything that crashes loudly would be perfect. Sounds good :+1:

[2015-05-20 15:45] arunshan commented on #1350
Try componentDidReceiveProps in Topic component and set state {loaded:true}. Initialize loaded: false in constructor. Add if(this.state.loaded) in render function.

[2015-05-20 15:47] arunshan commented on #1350
Sorry use componentWillReceiveProps instead of componentDidReceiveProps

[2015-05-20 15:49] soliury commented on #1350
it console.log `false`

[2015-05-20 16:05] soliury commented on #1350
I really don't know where is wrong, no errors, the render() can run, but see nothing. In the view debug, I can see the view rightly, but, in the simulator, I see nothing.

[2015-05-20 16:07] brentvatne commented on #1348
@christopherdro - nice demo :smile:

[2015-05-20 16:16] #1348 closed

[2015-05-20 16:18] arunshan commented on #1350
Apply some background color to the view to see if the view is showing up. Also is the componentdidmount being invoked when you use push ? Also try doing a hard rest on simulator.

[2015-05-20 16:29] soliury commented on #1350
I have set the background, but nothing to see. the componentdidmount have been invoked.  I just don't know why the `push` can't work, the `replace` can work.

[2015-05-20 16:34] arunshan commented on #1350
Add index to push in _onRowPress

[2015-05-20 16:38] rogergl commented on #1280
Still confused. Should it work  ?

[2015-05-20 16:38] soliury commented on #1350
I have try, but it don’t work.

[2015-05-20 16:59] sebmck commented on #1280
It shouldn't work and there's probably no real way to make it work.

On Wednesday, 20 May 2015, Roger Gilliar <notifications@github.com> wrote:

--
Sebastian McKenzie

[2015-05-20 18:30] oveddan commented on #1149
@amasad  I'm still having this issue, when using react-native 0.4.4.  Here is a very simplified example which reproduces the error:

[code]

When I run this in the chrome, debugger, I get the error: `document.createElement is not a function`

What am I doing wrong?

[2015-05-20 18:32] spicyj commented on #1149
@oveddan `document.createElement` is not supported within React Native. The bug here was that we were trying to use it at all; we shouldn't attempt to.

[2015-05-20 18:45] oblador commented on #1032
I've done a very simple implementation available as [react-native-keychain](https://github.com/oblador/react-native-keychain) to fit my most urgent needs. Will add more API support soon, issues/PRs are welcome.

[2015-05-20 19:08] oveddan commented on #1149
Thanks for the clarification @spicyj
My actual use case is to use jQuery to parse/scrape some downloaded html.  I'm not using it with the intention of creating any dom nodes or elements.
When I `require('jquery')` without the chrome debugger it works fine, but when opening the chrome debugger, I get the error: "document.createElement is undefined"

Simple example:
[code]

[2015-05-20 19:16] pwmckenna opened #1354 "TouchableOpacity only supports a single child"
the following code triggers fails an invariant check:
[code]

![screen shot 2015-05-20 at 12 14 50 pm](https://cloud.githubusercontent.com/assets/295678/7734303/df85f92c-fee9-11e4-8820-0564190e2cc7.png)
![screen shot 2015-05-20 at 12 15 00 pm](https://cloud.githubusercontent.com/assets/295678/7734304/df975ad2-fee9-11e4-897f-08f2593e276a.png)

[2015-05-20 19:17] pwmckenna commented on #1354
this may just be documentation error, so if this is expected I can make a PR for the doc update.

[2015-05-20 19:17] ide commented on #1280
@sebmck I believe it should work. RN deploys ES5... in theory with ES3 support RN could run in IE8 if we wanted. Something is going wrong with the transform that's causing Chrome to receive a maltransformed spread operator.

@rogergl can you view the JS that is running in Chrome and see what the code around your Promise.all call looks like?

[2015-05-20 19:17] spicyj commented on #1149
Yes, unfortunately you can't use jQuery out of the box on React Native. Maybe you can use it in conjunction with jsdom, but I don't know anyone who has tried.

[2015-05-20 19:30] rogergl commented on #1280
This is the complete method:

      var setContent = (result) => {
            var fileInfo = result[0];
            var setValuePromises = m.map((data) => {
                return Store.setValue(m.get(data, "fileName"), m.get(data, "content"));
            }, fileInfo);
            return Promise.all([fileInfo, ...(m.intoArray(setValuePromises))]);
        };

[2015-05-20 19:31] ide commented on #1328
@jtremback it's partly historical and partly due to performance as I understand it. Babel/6to5 wasn't as big as it is today (or didn't even exist) when React/RN were developed, and FB's JS processing pipeline already used jstransform. The good news is that a migration to Babel is on the horizon, though someone else would have to give you the timeline for that. https://github.com/facebook/esprima/i

[2015-05-20 19:33] ide commented on #1280
@rogergl, sorry - I meant the code that Chrome's web inspector shows under the Sources tab. Things like the arrow functions should be transformed into normal functions.

[2015-05-20 19:46] rogergl commented on #1280
Chrome displays the code given in the previous posting.

This is the code from the index.ios.bundle file:

       var setContent = function(result)  {
            var fileInfo = result[0];
            var setValuePromises = m.map(function(data)  {
                return Store.setValue(m.get(data, "fileName"), m.get(data, "content"));
            }, fileInfo);
            return Promise.all([fileIn

[2015-05-20 19:49] sahrens commented on #1280
Hopefully this will be fixed when we switch to babel soon.

[2015-05-20 19:56] ide commented on #1280
@rogergl: thanks. Looks like a transform bug.

The best workaround now is to write a manual array.concat call until the transform pipeline uses babel as @sahrens mentioned.

[2015-05-20 20:55] jaredly commented on #1236
Yeah replace & friends (that modify the stack in-place) are fairly broken at the moment :/ but I'm looking into fixing them.

Let me know if you can reproduce this, preferably by modifying the UIExplorer example in `Examples/UIExplorer/Navigator`

[2015-05-20 21:42] dhrrgn commented on #113
@brentvatne I came up with a simple solution for this internally where I wrote a component that essentially just extends `UIView` and blurs all of the views.  Here is the guts of it:

[code]

So I just convert my container `View`'s to `<KBCloserView>` components, and :boom: tap anywhere in the view to close the keyboard.

I share this because I think adding a `closeKeyboardOnPress` type property t

[2015-05-20 22:39] sebmck commented on #1280
@ide Oh right. Sorry for speaking out of turn. I thought he was referring to the dev tools console.

[2015-05-20 22:46] amasad commented on #1280
Yeah, I hate this descripincy. JavaScript Core has rest param support whereas chrome doesn't. Pushing the switch to Babel shortly, and it should include this transform.

[2015-05-20 22:54] amasad commented on #570
No, sadly. But I hear @philikon is thinking about this.

[2015-05-20 22:57] amasad commented on #773
@paulgessinger Yeah, `require('./package.json')` works, no?
The issue @alexaivars is explaining is omitting the "json".

[2015-05-20 23:04] amasad commented on #571
@jnak I honestly don't have that much context on this. Good luck!

[2015-05-20 23:05] amasad commented on #293
Yes, I think so.

[2015-05-20 23:05] #293 closed

[2015-05-20 23:22] jaredly commented on #476
@pwmckenna the base issue is that NavigatorIOS doesn't have the logic for updating nav items in-place [see source](https://github.com/facebook/react-native/blob/master/React/Views/RCTNavigator.m#L486)

[2015-05-21 01:11] jessepollak commented on #1272
Tried upgrading to `0.4.4` and the issue persisted. Checked if I had those files and I didn't. Looked at my `Podfile.lock` and it had `React` at `0.4.1`. Changed my `Podfile` from `pod 'React'` to `pod 'React', '~> 0.4.4'` and it worked. I guess it's not surprising that we need to keep the Pod and JS in sync, sorry about the trouble. Hope this helps someone else!

[2015-05-21 01:11] #1272 closed

[2015-05-21 01:49] iostalk opened #1359 "Does Image uri support base64 string?"
I tried, but failed

[2015-05-21 02:15] yangxf commented on #1310
use event.nativeEvent.selectedSegmentIndex

[2015-05-21 02:20] unknownexception commented on #1345
Would you mind to try https://github.com/facebook/react-native/pull/1318 and see that `onError` handler returns? It could help to make `Image` error handler better.

[2015-05-21 02:50] rxb commented on #1159
Ok, here's a working Gist that gives you a 3-level navigator structure
* Navigator A: routes tab scene + modals
* Navigator B: routes tabs
* Navigators C: route for each tab item
https://gist.github.com/rxb/57f45c327d0f6847a821

Setting `gestures: false` on line 157 of tabBarNavigator.ios.js kills the swipe gesture between tabs and allows pop gesture within the tab item navigators.

Things I was n

[2015-05-21 03:41] soliury commented on #1332
yes, I also meet this bug.

[2015-05-21 03:44] soliury commented on #1350
It was a bug of navigator, if I remove the sceneStyle, it work right.

[2015-05-21 03:44] #1350 closed

[2015-05-21 06:22] studentdeng commented on #925
I hit the same problem. It looks like react native pod version doesn't support "require". both @ide and @7ynk3r ways is not working for me. While If I create project with `react-native init`. It works.

[2015-05-21 06:46] jedt commented on #849
Hey @crysfel, you can use high resolution images or retina images by suffixing @2x to the file name. for example:

icon@2x.png

[2015-05-21 06:57] xiaodao opened #1360 "[ListView & Image] Loading 100 big images into a ListView not only crashes the app, but also crashes the os"
I have a list of 100 image URLs and seeded them into the datasource of the ListView.

then I used this one for renderRow:

    <Image source={{uri: imageUri}} style={styles.image} />

and it worked fine when I was scrolling the top 40~50 images, but when I scrolled to the end of the list, then the app crashed and I saw the white apple on the screen.

And there is no stacktrace in crash report.

[2015-05-21 09:34] #1252 closed

[2015-05-21 09:35] lwansbrough commented on #1332
Great thanks @ericvicenti

[2015-05-21 09:59] TYRONEMICHAEL opened #1362 "Custom Pagination on ScrollView Horizontal"
From the docs it does not seem possible to control the scrollView. The default behavior for pagination is the following:

Would it be possible to change this value to a custom value? Or would I need to extend the ScrollView and submit a PR.

[2015-05-21 10:06] qingfeng commented on #456
@chadobado how to use `POPAnimation`? thanks

[2015-05-21 10:26] qingfeng opened #1363 "How to implement a mixin animation?"
AnimationExperimental can only one animation，
[code]

For example: I hope that in the process of moving, to change the value of `toValue`

thanks

[2015-05-21 10:41] ide commented on #1362
This is just how iOS behaves: size of scroll view viewport == one page.  I don't believe it's possible to customize it, so if you want a different pagination distance, you'll have to change the size of your scroll view.

[2015-05-21 10:50] TYRONEMICHAEL commented on #1362
Ok great. I think my best bet would be wrapping the scroll view in a container view whose job it is to intercept touches and hand them off to the scroll view? That way I can resize the scroll view while still being able to scroll outside of the scrollView.

[2015-05-21 11:29] TYRONEMICHAEL commented on #1362
I guess then my question is how do I pass down touches to a child component. So how can I let the ScrollView inside of a View become the responder?

[2015-05-21 13:01] pewallin commented on #1139
I'm getting this as well.

[2015-05-21 13:04] frostney commented on #1359
Base64 strings are supported in image components. Here's a working example: https://rnplay.org/plays/ZI-xCA (The image doesn't scale so well in the previewed simulator, if you try it in the iOS simulator or the real device, it does look better.)

[2015-05-21 13:06] meric426 commented on #1139
I've gotten this playing around on a iphone 5, never in the simulator.

[2015-05-21 13:11] lukasreichart commented on #1139
@meric426 The bug also occurs in the simulator, but is more difficult to reproduce ... :/

[2015-05-21 13:15] liubko commented on #928
@ilansas hi, I'm getting the same error. Did you solve this issue?

[2015-05-21 13:32] ilansas commented on #928
Yes :) See it right here https://github.com/facebook/react-native/issues/1135#issuecomment-98903335

[2015-05-21 13:43] liubko commented on #928
It works now. Thanks

[2015-05-21 14:22] aaronschubert0 commented on #1343
+1

[2015-05-21 14:24] marcshilling opened #1364 "App process is a steady 130% CPU immediately on launch"
2012 15" Retina MacBook Pro

Launching my react native app on the iPhone 6 simulator immediately skyrockets the process to 130% CPU. The name of the process matches my app name (I bring this up because the iOS Simulator Process is 0% and XCode is 1%).

Launching a non-react native app on the same simulator, the process sits at 0.1%.

I'm not experiencing any slowdowns or crashes, it's just annoyin

[2015-05-21 14:46] soliury commented on #1315
I have solve it .

[2015-05-21 14:46] #1315 closed

[2015-05-21 14:49] christopherdro commented on #1315
@soliury Great!

Maybe you can share your solution for other people that might come across this!

[2015-05-21 15:32] soliury commented on #1315
Just don’t set the contentStyle width and height, so it will work.

[2015-05-21 15:36] soliury commented on #1315
I am writing a app in react-native, and then I will open  the source of app, When the day come, I will put the example to here.

[2015-05-21 15:43] soliury commented on #1315
The solution is that , don't set the `contentContainerStyle` with height or width equal the window width or height, it will make the the scrollable content size to window width or window height, so you can not scroll. But nest with two scroll will make the app too slow, and take too much memory.

This is my app writing in react-native, after I finish it, I will open source.

![](http://lingyong-me

[2015-05-21 16:59] rogergl commented on #1280
Good to know that babel is coming

[2015-05-21 17:09] jtremback commented on #1139
What libraries are people using? I'm using `react-native-camera`, which has been a bit sketchy in general, so I wonder if it is related.

[2015-05-21 17:38] vishnevskiy opened #1365 "UIBlocks don't flush at the correct time"
I upgraded from a much lower version (I had a personal fork) to 0.4.4 and the POPAnimation native module I made is now having issues.

[code]

This is all I am doing to add animations to a view, but now sometimes the UIBlock won't execute until the next user interaction after this function was called or even more oddly if I just leave the simulator running within a minute or so it executes.

@vjeu

[2015-05-21 17:59] ericvicenti commented on #1298
It will be easier to address these issues one at a time. We should have a more specific issue for each.

I'll close this for now, but feel free to open specific issues (with example code!) and tag/assign me. Meanwhile, I am making it easier to use navigators within tabs.

[2015-05-21 17:59] #1298 closed

[2015-05-21 18:02] arunshan commented on #1345
@unknownexception It works now! Thanks.

[2015-05-21 20:35] jessepollak commented on #514
+1 this would be rad.

[2015-05-21 20:55] richardscarrott commented on #1219
+1

[2015-05-21 21:31] auser commented on #641
@brentvatne Yes, I hope to get to it this weekend.

I've had a bit of personal junk going on lately. I'll check in with you on irc.

[2015-05-21 21:41] poulsbo opened #1368 "Computed properties fails strict check"
When I try to use **two** computed properties in an object literal:

[code]

I get a Red Box stating: `TransformError: Duplicate data property in object literal not allowed in strict mode /path/to/ReactComponent/Component.js:nnn:mm`

Removing `"use strict";` clears the warning, and the code works as expected.

[2015-05-21 22:08] ide commented on #1368
Babel should end up fixing this for free.

[2015-05-21 22:58] ide commented on #1362
I haven't thought about your specific use case but this documentation may provide helpful: https://facebook.github.io/react-native/docs/gesture-responder-system.html

[2015-05-21 23:47] malkomalko opened #1369 "[XMLHttpRequest] fetch fails with weird unicode whitespace character"
Making a request with fetch to https://gist.githubusercontent.com/malkomalko/d8f6641618cf490c24a1/raw/05152cfc2b436cce8a2d0d1c7a928ef99d6c68e7/bad_request.json will fail and never return.

Basically the XMLHttpRequest file uses an RCTDataManager.m function.  Most of these files are in https://github.com/facebook/react-native/tree/master/Libraries/Network.

Here is the specific line where it should

[2015-05-22 02:07] carlgik4 opened #1371 "`npm install --save react-native` failed"
I followed the instruction to install react-native on my macbook
http://facebook.github.io/react-native/docs/getting-started.html

It seems like to use a ssh command to fetch repository, but my ssh key .ssh/id_rsa is not used for github, so I encounter an error:
![screen shot 2015-05-22 at 9 58 51 am](https://cloud.githubusercontent.com/assets/544929/7762570/713aa18a-0069-11e5-83e3-30ae271da83d.pn

[2015-05-22 04:42] soliury commented on #824
but it also a bug, when I run , the app cpu hit 100%

[2015-05-22 05:17] brentvatne opened #1373 "[Docs] Add documentation for LayoutAnimation"
Current docs are a bit sparse, would be nice to have a description and example in there.

[2015-05-22 05:23] 7ynk3r commented on #925
You are right @studentdeng . You need to add a `package.json`file to the root `./my_project`.
[code]

I think this is because this is a project that is based on node and react-native is expecting this to be there for some reason but it shouldn't be necessary given that when you start the server your are specifying the path.

[2015-05-22 06:31] TYRONEMICHAEL commented on #1362
No worries, I think I came across a solutions when I started looking at the source of the following react-native project => https://github.com/appintheair/react-native-looped-carousel/blob/master/index.js.

By looking at the source I noticed a few properties not covered in the documentation for the ScrollView:

* onScrollBeginDrag
* onMomentumScrollEnd

I don't see the events covered in the gestur

[2015-05-22 15:27] DaZzz commented on #1342
Try setting the same borderRadius property to TouchableHighlight.

[2015-05-22 15:29] jedt commented on #721
I was able to replicate this whenever I have a ScrollView (or ListView) with TabBarIOS at the bottom. If I put automaticallyAdjustContentInsets={false} the extra space at the top disappears but the scrollview doesn't scroll up all the way hiding the bottom contents of the ScrollView below the TabBarIOS

[2015-05-22 15:42] MossP opened #1374 "Question: Is it possible to get the screen position of an element / component?"
use case:
I would like to add a small *popUp* menu at the location of a button on the page. THe button would be inside a list view though so isn't in a fixed position.

Thanks, and keep up the good work! :) :+1:

[2015-05-22 15:49] MossP commented on #1354
Probably is a docs error. In the meantime you can wrap the inner elements in a view. I *believe* that the opacity is applied to that single child rather than cycling though each sub child element.

[2015-05-22 17:29] timdoes commented on #1195
+1 for this feature

[2015-05-22 18:03] larsvinter commented on #521
Hi all.

If you rename the file extension from .jpg to .png and then add it again to the asset catalog it works. You don't need to convert the file, just rename it.

I have tested and this has solved the problems in all my projects (am using v0.4.4).

Clearly this is a bug and the renaming is an ugly workaround, but at least it allowed me to finally progress with this.

//Lars

[2015-05-22 18:06] brentvatne commented on #1365
Curious to see what the solution is here!

[2015-05-22 19:00] JohnyDays commented on #1365
I had a problem where a native action i was executing (animation related) was only happening after a while. The solution I found worked was to add
[code]
To my native module implementation

[2015-05-22 19:04] JohnyDays commented on #1374
I believe what you are looking for is
[code]

[2015-05-22 19:05] jessepollak commented on #1235
Just a +1 that borderRadius stopped working as expected somewhere between 0.4.1 and 0.4.4 with the overflow property. Anything I can do to help debug?

[2015-05-22 19:26] ide commented on #721
@jedt, give the scroll view a contentInset of {bottom:49} or however tall your tab bar is, and the scrolling behavior should be fixed.

[2015-05-22 20:19] BlooJeans commented on #1234
Also experiencing this issue, hardcoding the height fixes it for me

[2015-05-22 20:24] tadeuzagallo commented on #1365
Running your module on the main queue as @JohnyDays suggested should fix it.

The issue is that when you call `-[UIManager addUIBlock]` the block will later be called by `-[UIManager flushUIBlocks]`. That happens on `-[UIManager batchDidComplete]`, that is called on `-[RCTBridge _handleBuffer:]`, but that only happens when there was a call made from JS to objc.

`-[UIManager flushUIBlocks]` will b

[2015-05-22 20:40] ide commented on #1365
@tadeuzagallo should we make `-[UIManager addUIBlock]` schedule a task to run `-[UIManager batchDidComplete]` on the next iteration of the run loop if JS hasn't sent any commands?

[2015-05-22 20:51] vishnevskiy commented on #1365
@tadeuzagallo Thanks I will try that out soon :)

[2015-05-22 20:51] myusuf3 opened #1376 "Unbalanced calls to begin/end appearance transitions."
Currently I have an application where the button that is triggered from a react view controller which pushes a modal view for `Healthkit` permissions.

I get the following "warning" nothing bad happens but might want to have a way to properly tell containing view that something is above to pushed on top of you modally with out getting this:

[code]

Thanks.

[2015-05-22 21:20] tadeuzagallo commented on #1365
@ide Hum, not sure, it'd introduce a 1 frame delay, that's probably not desired in most cases.

I think it'd make more sense to just allow accessing the `UIManager` on the main thread, but might be a little too much. What I believe makes more sense is to dispatch the blocks on the VSync, but that'd be a bigger change.

/cc @nicklockwood

[2015-05-22 21:55] rxb commented on #824
Not sure if this is considered the same bug or a new one, but when I:

* have a scene using flexWrap: 'wrap' and flexDirection: 'row',
* use Navigator to transition away
* then try to transition back

The Navigator never transitions back and the CPU runs off. If I remove the flexWrap and flexDirection rules, everything works fine and I can transition between those screens with no problem.

[2015-05-22 22:22] JohnyDays commented on #1365
If I correctly understand your explanation, then perhaps my case was actually bug, since no calls to UIManager were actually being made in the native method. In fact I attempted to just call a native Alert (not through the react alert manager) and it still displayed the same behaviour, only appearing after a significant amount of time.

[2015-05-22 22:25] ide commented on #1365
@JohnyDays that is expected behavior because you were calling into UIKit off of the main thread. Almost always `dispatch_async(dispatch_get_main_queue())` when doing UIKit work.

[2015-05-22 22:30] rxb opened #1378 "[Layout] Navigating back to scene with flexWrap + flexDirection sends CPU to 100%"
To reproduce:
* Have a scene using flexWrap: 'wrap' and flexDirection: 'row' (my component: https://gist.github.com/rxb/d37f05d6ad16be1a1afe)
* Use Navigator to transition away
* Attempt to transition back -- but the Navigator never transitions back and the CPU goes to 100%
* If I remove the flexWrap and flexDirection rules, everything works fine and I can transition between those scenes with no p

[2015-05-22 22:44] nicklockwood commented on #1365
Here's our internal POP module implementation. This will probably never be released as it will be made obsolete by the official animation API that @vjeux is working on, but if you're using it anyway, you may as well use something that works:

RKPOPAnimationManager.h

    // Copyright 2004-present Facebook. All Rights Reserved.

    #import "RCTBridgeModule.h"
    #import "RCTInvalidating.h"

    #

[2015-05-22 22:46] vishnevskiy commented on #1365
Awesome thx :) I just reimplemented the API and it worked for me but this is more complete than mine.

[2015-05-22 23:02] JohnyDays commented on #1365
Thanks @ide, I did not know method calls to UIKit were limited to the main thread, very new to Obj-C and the Apple APIs(didn't actually know what UIKit was, had to check).

[2015-05-22 23:08] vishnevskiy commented on #1365
@tadeuzagallo So I added this to my module.

[code]

The end result is the same. The weirder part is some of my animations do multiple invokes to addAnimation some of them play instantly and others wait till next interaction or just after sometime.

An example is fading in a backdrop and transforming a modal upwards.

[2015-05-22 23:10] vishnevskiy commented on #1365
Actually using this from the FB implementation.

[code]

Solved the problem

[2015-05-22 23:36] jedt commented on #721
Thanks @ide! it works perfectly :)

here is the code:
[code]

[2015-05-23 00:11] ccheever opened #1379 "[ListView] Cryptic errors from renderHeader and renderSectionHeader"
If you try throwing an error from an implementation of `renderRow` or `renderSectionHeader` in a `ListView`, you get a very cryptic error message with a stack trace that doesn't point to the problematic code at all.

A similar problem also occurs if either of those methods returns `undefined`.

It would be good if those weren't so cryptic (maybe wrapped in a `try/catch`?).

[2015-05-23 00:14] ccheever opened #1380 "[JS] Implement the warning given when trying to render the global Image when trying to render other commonly used components"
It's very helpful that if you forget to unpack `Image` from `require('react-native')`, you get an error message explaining exactly what the problem is.

If you make the same mistake with any other component provided by react-native, you get a much more cryptic message that doesn't really identify the problem at all. It seems like it would be useful to implement the same thing as `Image` for `ListV

[2015-05-23 00:33] rxb commented on #1378
To narrow things down, tried a simpler layout without no ListView or ScrollView and it still happens:
https://gist.github.com/rxb/31068fa0041a2080f5de

[2015-05-23 00:41] brownieboy commented on #304
@ikallen

The "react-native directory" refers to the folder where your own source-code is located.

[2015-05-23 02:08] joeferraro commented on #944
can confirm @bparadie's fix works for me

[2015-05-23 02:17] tadeuzagallo commented on #1365
Yes, that makes sense, sorry about that. I read the answer and forgot to check the actual queue, but the chain I explained remains the same. I'll update the answer accordingly for future references. :)

[2015-05-23 02:17] #1365 closed

[2015-05-23 04:28] valgaze commented on #1288
@cheunghy If you're getting stuck try these steps as a completely fresh start:

First things first: Assuming you have Xcode, type this into your terminal:
[code]
If it returns any other than a valid path, install command line tools by typing in ```shell xcode-select --install ```

------------

1. Install homebrew by typing
[code]

2. Confirm homebrew is properly configured by typing
[code]

3. In

[2015-05-23 05:05] ide commented on #1365
@tadeuzagallo - what I was thinking is that it is confusing that the UI blocks do not run until some other unrelated piece of code or a UI interaction causes the UIManager to flush the blocks.

To make this less surprising, here are two ideas: one idea is to schedule the the UI blocks to run ASAP (probably after the next vsync iteration as you suggested). The other idea is to print a warning messa

[2015-05-23 07:06] nicklockwood commented on #1365
Asserting that [UIManager addBlock:] is called on the shadowQueue seems like a good solution.

[2015-05-23 14:55] ksokhan commented on #1002
In xcode, select your root project in the project navigator, and under "General" you can check and uncheck whichever orientations you want to allow.

[2015-05-23 14:58] faithfe opened #1383 "How to hide the default backButtonIcon in NavigatorIOS?"
My code is:

[code]

I want to use my own back icon ('back_button') for backButtonIcon, but there are two back icons in the next page. How to hide the default one? tks

![2015-05-23 10 56 32](https://cloud.githubusercontent.com/assets/5271066/7784627/4150cb34-019f-11e5-9dfb-be263c0d620c.png)

[2015-05-23 15:09] faithfe commented on #1219
＋1

[2015-05-23 19:12] joewood commented on #809
I still this issue in 0.4.4.  I don't see onLayout firing for device orientation changes.
Saying that, I **don't** see this issue in UIExplorer using the same build and I can't see what UIExplorer is doing differently.

[2015-05-23 21:45] christopherdro commented on #1250
In order to pass in multiple attributes you need to send it through as an array.
```<View style={[styles.style1, styles.style2]}>```

[2015-05-23 22:14] brentvatne commented on #1250
Looks like this gives a red screen with a descriptive error message as it should. @christopherdro's suggestion is totally correct :smile:

[2015-05-23 22:14] #1250 closed

[2015-05-23 22:20] brentvatne commented on #1378
@rxb - thanks for bug report and examples, it would be ideal the example includes all code necessary to reproduce the problem - currently no mention of navigator. Additionally, if you can post it on rnplay.org - eg: https://rnplay.org/plays/NVOjJA (feel free to fork this) that would help a lot too and it makes it easy to test it across various versions

[2015-05-23 22:51] brentvatne opened #1385 "[Layout] Regression with paddingTop"
**Not working as expected for:**
[0.4.4](https://rnplay.org/plays/JQmrtA?autoplay=true): Image shifts up when paddingTop is added to parent container
[0.5.0-rc1](https://rnplay.org/plays/syyc5g?autoplay=true): Same problem, but also if you tap the padding toggle very quickly it will occasionally even enlarge the image

**Working as expected for:**
[0.4.2](https://rnplay.org/plays/gctI9w?autoplay=t

[2015-05-23 22:59] yelled3 opened #1386 "RCT_CUSTOM_VIEW_PROPERTY Docs"
in `Native UI Components (iOS)` docs:
https://facebook.github.io/react-native/docs/nativecomponentsios.html#properties

[code]

the `json` param is unexplained...

only made clear when looking at the docs
[code]

[2015-05-23 23:15] MossP commented on #1374
I believe you are right. Thank you :)

[2015-05-23 23:15] #1374 closed

[2015-05-23 23:34] jsierles opened #1387 "packager in 0.5.0-rc1 fails to parse command line options like --root"
This might be due to a missed commit to packager.js which adds a 'string' type to the packager commands as expected here:

https://github.com/facebook/react-native/commit/1b2975803b1b0ebad693342e51a5c9b533d7a15d

[2015-05-24 00:29] zoomclub commented on #246
I just got the gitbook Beginning React-Native and the first chapter that caught my eye was "Drawing Canvas on React-Native". I abruptly found out that it was the shortest chapter in the book, only a few lines! It basically says that I'm S*** out of luck except for using the internal Webview to render canvas calls.

Is there any thing more direct in the works? It would seem that something as essent

[2015-05-24 00:36] skevy commented on #246
It's not documented yet...but here is what @vjeux mentioned above: https://github.com/facebook/react-native/tree/d20a6e9d2d92bfc6bc81cc828c4008af1c7a7760/Libraries/ART

[2015-05-24 00:48] zoomclub commented on #246
Thanks and great! A straight canvas still works out best for me as I just need to render lines and glyphs and have no need for a graphic scene graph. Will it be possible to use Opentype.js in React-Native?

http://nodebox.github.io/opentype.js

[2015-05-24 00:50] MossP opened #1389 "Question : Is it possible to call ScrollTo_Y on <ListView/> Component?"
i.e. is it possible to call a method that scrolls a \<ListView/\> to a given position - the top in my instance.

[2015-05-24 00:55] zoomclub commented on #246
Looking further at React-ART it looks like it handles paths, etc. Maybe it is just the essentials and not to much extra now, like a full blown scene graph. Still very much interested in if Opentype.js can be supported.

[2015-05-24 02:22] brentvatne commented on #246
@zoomclub - give it a try and let us know :smile:

I don't see why not, it looks like it just parses OpenType and TrueType files.

Closing this issue because React ART solves the original question.

[2015-05-24 02:22] #246 closed

[2015-05-24 02:25] brentvatne commented on #1387
Closing this because you created a pull request, so we can track the issue there :+1:

[2015-05-24 02:25] #1387 closed

[2015-05-24 02:44] brentvatne commented on #1389
@MossP - you can get the underlying `ScrollView` by calling `getScrollResponder` on it, and then you can call `scrollTo` on that :smile:

[2015-05-24 02:44] #1389 closed

[2015-05-24 04:00] dvine-multimedia opened #1390 "[Docs] Add setNativeProps documentation (Original title: clear() function on TextInput)"
The problem: I need to clear a TextInput after some user interaction.

The request: expose some kind of clear() or even setText() functionality.

I understand that this is exactly the mutative approach to UI programming, that React is trying to get rid of. But as the docs state them selfs, a **controlled** approach to the TextInput component using the **value** property doesn't perform.
My current

[2015-05-24 04:22] dvine-multimedia commented on #107
@Sunify @awingla
Do you call getMetrics() directly in componentDidUpdate()? I don't use the list view but the ScrollView directly to solve the "chat problem" and ran into the same issue. I think the problem is, that the layout recalculation is not completed at that point. Try to wrap the call in *requestAnimationFrame* timer.

My current, somewhat hacky implementation of a jump to bottom function

[2015-05-24 05:34] dvine-multimedia opened #1391 "multiline TextInput scrolling"
I'm building a multiline text input component the grows for the first n lines and after that just scrolls as usual.

The growing it self and the scrolling after it's reached it's maximum height are working fine. But when I grow the box after adding a line break the scroll position of the text in the box is completely off.

For this to work I probably would either need to be able to disable scrolli

[2015-05-24 05:42] rxb commented on #1378
Thanks for the help. I put together a better example here that reproduces it:
https://rnplay.org/plays/phXLkA

If you load this example, try switching to the other tab, then back to the first, that's where the hang is.
Then, if you comment out either of the style rules on lines 168 or 169 and re-run the app, transitioning back and forth works again.

[2015-05-24 08:45] wan54 commented on #1259
React Packager has to be started once per app and cannot be shared with another one.

If you see the same error: simply restart React Packager

[2015-05-24 10:05] piyushchauhan2011 commented on #1135
Can you provide your example code ?

[2015-05-24 12:45] iostalk commented on #1374
But how to add the popular menu dynamic?

[2015-05-24 12:51] JohnyDays commented on #1374
I'm sorry, I'm afraid I didn't understand the question. You want to add a menu on the position of an element?

[2015-05-24 13:07] #1359 closed

[2015-05-24 16:03] brentvatne commented on #1371
@carlgik4 - This wouldn't be related to your ssh config - it seems like your network is blocking the connection. You can try it on another network or create a fork of the project to get it working right away.

cc @frantic

[2015-05-24 16:05] brentvatne commented on #1391
Hi @dvine-multimedia - check out this pull request: https://github.com/facebook/react-native/pull/1229

If that doesn't help, join us in irc (freenode #reactnative), these types of questions are better suited for discussion in that context :smile:

[2015-05-24 16:05] #1391 closed

[2015-05-24 16:10] brentvatne commented on #1383
Hi @faithfe - if you push a new route, you need to specify what the back button icon should be in that as well - not just in the `initialRoute`. Also, your left button looks like it also has the back button image.

If the above doesn't help, can you post a runnable example on https://rnplay.org/ please?

[2015-05-24 16:13] brentvatne commented on #1378
Thanks @rxb! That's perfect.

[2015-05-24 16:23] brentvatne commented on #1378
Wanted to find out where this broke - [0.4.2 works](https://rnplay.org/plays/cUZvnA), [0.4.3+](https://rnplay.org/plays/QsANIA) is broken.

[2015-05-24 16:37] brentvatne commented on #1386
@yelled3 - fair point, fixed here: https://github.com/facebook/react-native/commit/ffcdf210044b2fb2cb7702d0bec29eb3d279b89a

[2015-05-24 16:37] #1386 closed

[2015-05-24 16:39] brentvatne commented on #1364
@marcshilling - is this a brand new project that you created with `react-native init`? If not, we'll probably need to see the code for it to be able to guess at what might be the problem :smile:

[2015-05-24 16:43] brentvatne commented on #1380
This is an interesting idea. As far as I know, this happens for `Image` and `Text` because those are actually available in the browser environment, whereas others are not.

[2015-05-24 17:34] brentvatne commented on #1390
@dvine-multimedia - are you using `setNativeProps` to set the `value` to null?

[setNativeProps example](https://rnplay.org/plays/pOI9bA/edit)
[controlled setState example](https://rnplay.org/plays/EqK4nA)

[2015-05-24 17:44] brentvatne commented on #1363
@qingfeng - I would strongly advise that you don't use `AnimationExperimental` for now, and instead use something like `react-tween-state` - a better animation api is in the works. See [this project](https://github.com/brentvatne/react-native-modal) for an example of using `react-tween-state` to animate multiple properties.

[2015-05-24 17:44] #1363 closed

[2015-05-24 17:46] brentvatne commented on #1354
@pwmckenna - is there somewhere in the documentation where it's mentioned that you can use multiple children? If so, we should definitely fix that :smile:

[2015-05-24 20:35] jaygarcia commented on #1250
Duplicate attributes in *ML languages is technically invalid. =)

[2015-05-24 21:27] vishl opened #1394 "[React] mountComponent absorbing all errors"
When I have an error in my component (e.g. using `styles=` instead of `style=`). The exception handler in mountComponent is catching it and not displaying any error messages.  It would be preferable to at least print the error to the console.  Relevant lines below:

ReactCompositeComponent.js[225:238]
[code]

[2015-05-24 21:57] pwmckenna commented on #1354
@brentvatne it doesn't say either way, but its pretty adamant about only using one in practice. I'm not sure how the styling is applied if you wrap everything in a `View` as @MossP suggests.

[2015-05-24 22:15] ide commented on #1354
+1 to updating the docs

[2015-05-24 22:17] brentvatne commented on #1354
@pwmckenna - haha good point, do you have time to put together a PR that updates the docs to indicate this?

[2015-05-24 22:18] pwmckenna commented on #1354
sure, i'll give it a go. I've been meaning to take a peak at that other doc issue as well. I'll see if I can't do both while I'm in there.

[2015-05-24 22:48] MossP commented on #1389
Thanks @brentvatne I'll try that out, thank you :) :+1:

[2015-05-24 22:54] MossP commented on #1374
Hi iostalk. I am implementing the menu by using @brentvatne's modal plugin then passing a complete collection of stylds into it (take a look at the modalstyle included in the the source).. you can then pass in the screen coordinates that you'd like the modal window to show based on the size of your modal / touchable object.

[2015-05-24 23:09] yelled3 commented on #1386
@brentvatne well done :+1:

[2015-05-25 02:04] itsananderson opened #1396 "[Packager] Run `npm start` when launching app, rather than directly calling the packager"
When you build a React Native app in Xcode, it launches the packager, which is super useful for basic scenarios. Unfortunately, if you need to customize the packager (like having it watch extra folders for changes), or use a completely different packager, there's a bit more manual work that's required to shut down the default packager and launch the custom one.

Rather than directly launching the

[2015-05-25 03:06] umhan35 opened #1397 "[Image] Cache never expires for the same uri"
Even the image from the same uri is changed, `<Image>` still returns cached data. The code is here: [Libraries/Image/RCTImageDownloader.m#L91](https://github.com/facebook/react-native/blob/master/Libraries/Image/RCTImageDownloader.m#L91-94)

There should be a parameter that makes `<Image>` simply return a fresh copy of the image.

[2015-05-25 03:15] ide commented on #1396
This sounds like a reasonable proposal to me. Just to throw another idea out there, you could also configure Xcode to call your custom packager script directly. It's just a question of whether the level of indirection is at the Xcode script or package.json.

[2015-05-25 04:26] iostalk commented on #1397
I wonder know too.

[2015-05-25 06:07] iktw commented on #1241
I encountered the same problem. How do I solve this?

[2015-05-25 07:06] faithfe commented on #1383
thanks @brentvatne, it works!
Another question, i fail to  use uri to locate the icon, but use 'require' is ok:
backButtonIcon: require('image!back_button'),
leftButtonIcon: {uri: 'http://xx/back_button.png'},

[2015-05-25 07:10] ide commented on #1383
@faithfe, only local images are supported with NavigatorIOS.

[2015-05-25 07:14] faithfe commented on #1383
@ide , ok, tks!

[2015-05-25 07:33] JohnyDays commented on #1396
I would argue people coming from javascript development are more familiar with the indirection in package.json, and would have to learn how to change Xcode scripts.

[2015-05-25 09:02] yelled3 opened #1398 "[Integration w/ Existing App] Multiple react-native Applications Design"
I was reading:
https://facebook.github.io/react-native/docs/embedded-app.html#add-rctrootview-to-container-view
and going over the mentioned example:
https://github.com/tjwudi/EmbededReactNativeExample

and I started thinking on having an hybrid application, where some of the features are pure native iOS and other features will **each** have it's own react-native app (e.i each have it's own `RCTRo

[2015-05-25 09:03] yelled3 commented on #1398
@vjeux /cc

[2015-05-25 09:15] checkraiser commented on #1398
Yes, you're free to design your application any way you want. I 've written an article here to show how to integrate ReactView as a subview:
https://github.com/checkraiser/beginning-react-native

[2015-05-25 10:00] ranyefet commented on #638
+1 for UICollectionView, any estimate when it might be available?

[2015-05-25 12:41] yelled3 commented on #1398
@checkraiser thanks for link but your article is the same as the example I've included and does not address any of my questions :-)

[2015-05-25 13:20] danilowanner commented on #1213
@cparmar82’s method worked for me too. Thanks!

[2015-05-25 14:02] pukhalski opened #1399 "Issue with `npm start`: ERROR watch EMFILE although open files limit = 65536"
`ulimit -a` log:
[code]

Although I am still getting EMFILE error while `npm start`.

[code]

[2015-05-25 14:06] JohnyDays commented on #1398
I am implementing this in my app, I'll write here in detail how to do so in code examples when I get to a computer, but it's based on instantiating your own RCTBridges instead of letting RCTRootView do it.
You pass to each RCTBridge instances of the modules you want to be accessible through javascript

[2015-05-25 14:09] JohnyDays commented on #1397
I'm pretty sure this is to encourage you to use fingerprints, I may be wrong though. Does your server return cache headers? I'm not sure react-native takes them into account regardless

[2015-05-25 14:39] pukhalski commented on #1399
Forgot to insatll watchman. Sorry.

[2015-05-25 14:39] #1399 closed

[2015-05-25 15:02] onlymejosh commented on #1325
I've been having the same issue. Took me a while to work out what was causing my brand new laptop to run like the old one!

[2015-05-25 15:04] onlymejosh commented on #1364
I'm having the same issues on a brand new Retina MBP. It may be related to #1325

[2015-05-25 15:04] acorscadden commented on #1398
I'm in the process of implementing something like this. I have an existing app and I'm implementing a new feature by embedding an RCTRootView..

The main issue that I've run into so far is that when an RCTRooView is embedded into a native scrollview, they don't play nicely together. With a fully native implementation, a scrollview will only send touches to its subviews if the scrollview isn't scro

[2015-05-25 15:20] umhan35 commented on #1397
It's not actually my server. I'm showing a satellite image from other source: weather.gc.ca/data/satellite/goes_nam_1070x_100.jpg

I can proxy the url but it doesn't make sense that cache never expires and there is no way to clear the cache from js code.

[2015-05-25 15:56] #1383 closed

[2015-05-25 16:01] jaygarcia commented on #1364
When this happens, can you guys fire up instruments and share the data?

I've never run into this, but this is what I'd do if I did.

JG

@moduscreate

:: sent from my mobile device ::

[2015-05-25 16:04] JohnyDays commented on #1398
In my view controller initialization
[code]
Intializing the bridge manually allows you to scope each viewController instance to the current RCTRootView, so you can have multiple instances of the same module across different RCTRootViews, without clashing.

If you need some more details tell me.

[2015-05-25 16:07] JohnyDays commented on #1397
If you need a quick fix you can add
[code]
This will however, always download the image.

[2015-05-25 16:41] vjeux commented on #1398
@jingc would probably have more context in how we currently deal with this. But as far as I know, we don't have a rock solid answer to this problem and it needs more thinking

[2015-05-25 16:43] vjeux commented on #638
@ranyefet no one inside of Facebook is working on this right now and likely for the next few months. If you need this, I would encourage you to build it yourself or find someone to. The native component integration API should be all you need :)

[2015-05-25 16:48] JohnyDays commented on #1398
Definitely not a rock solid solution, I think with this approach(unless I missed something) it's impossible to pass keyed modules into a bridge, meaning they are always keyed by their class name, making them restricted to 1 instance per class per bridge.

[2015-05-25 17:06] brentvatne commented on #638
@matthewga0 @ranyefet - if either of you would like to have a shot at this, ping me @notbrent in irc!

[2015-05-25 17:44] brentvatne commented on #1213
Great, thanks for the fix @cparmar82!

[2015-05-25 17:44] #1213 closed

[2015-05-25 20:41] sharathprabhal commented on #1241
See above comment. I solved it by using `Navigator` for top level navigation

[2015-05-25 23:49] mitchozer commented on #1219
+1, thanks!

[2015-05-26 02:38] umhan35 commented on #1397
Thanks @JohnyDays. That should work. But now when the image is downloaded and I want to refresh the file, the obj-c code doesn't update the image... 😓

[2015-05-26 02:42] ide commented on #1397
@umhan35 there might be a bug in the image component, but for a temporary workaround (emphasis on temporary! if there is a bug in react we should fix it), you could specify `<Image key={url} />` which will replace your old image with a new one each time the URL changes.

[2015-05-26 03:05] umhan35 commented on #1397
@ide thank you! There is `key` to rescue. It works.

So, in addition to the bug that the title says, `<Image>` doesn't refresh itself after loaded.

[2015-05-26 04:21] ide opened #1401 "[Navigator] Components of inactive Navigator scenes intercepting touch events"
With master (0.5.0-rc) I occasionally encountered touch events being received by components in a scene that's not visible but is in my initial route stack. The initial route stack has two scenes, the bottom scene and top scene. The initial route is the bottom scene's.

Some touches in the bottom scene are sent to the components in the top scene, even though the top scene isn't active. That is, the

[2015-05-26 04:27] alinz opened #1402 "[Initialization] Launch screen white flash"
I just wondering if there is a good practice about LaunchScreen. The reason I'm asking this is, if one adds LaunchScreen, there is a white flash before react-native kicks in and load the app. Is there any way we can prevent this?

[2015-05-26 05:04] the4dpatrick opened #1403 "[NavigatorIOS] SetState does not rerender NavigatorIOS component (w/ example repo)"
Here is a repo showing the bug https://github.com/the4dpatrick/react-native-bug-example

I am trying to toggle NavigatorIOS on and off based on the prop `navigationBarHidden` set to a state value.

[code]

I pass along a method to child components that passes the parent's context and toggle the state value.
[code]
[code]

Inside the sidemenu, I am calling `this.props.toggleNavigation()` onPress. T

[2015-05-26 05:52] amasad commented on #700
The main reason for this issue is that we currently ship React in source form (`react-tools`) inside `react-native`. That means that it's written in ES6 and it depends on globals like `__DEV__`, which your jest setup should support that. We have plans to start shipping react from npm, (I think with React v0.14). @zpao can you confirm this?

In the mean time here is what you can do: adapt the [`jes

[2015-05-26 06:04] magicismight opened #1404 "How can I hide a View"
Is there a way to hide view and save the current state of the view?
I tried
[code]
but failed.
Is it possible to expose native component\`s `hidden` property.
It would be great if there is a way to hide the element and save its state.

[2015-05-26 06:13] christopherdro commented on #1345
@arunshan Would you mind closing this if it's been solved?

[2015-05-26 06:15] christopherdro commented on #1351
You could use AsyncStorage and separate your keys based on your different environments.

[2015-05-26 06:17] ide commented on #1351
?dev=true/false in the packager's URL sets __DEV__ to true/false in the JS.

[2015-05-26 06:28] romanonthego commented on #1351
DEV is good to determine development and production environment, but what if you have multiple production environments (stage, test, a/b testing etc)?

For now we stick with exporting environment variables from xcode via native module constants export. (probably will open source it soon).
But I do think react-native will be better with kind of rails config solution (yml/json config files for envir

[2015-05-26 06:28] #1351 closed

[2015-05-26 07:11] frantic commented on #1371
I'll take a look, thanks for reporting!

[2015-05-26 07:57] admmasters opened #1405 "EXC_BAD_ACCESS shadowText layout manager crash"
Sometimes a React Native app crashes at line 32 of RCTShadowText. At the line: [shadowText.layoutManager ensureLayoutForTextContainer:shadowText.textContainer]; This is on the queue: com.facebook.React.ShadowQueue - this happened to me while refreshing the app using cmd+R. Not really any specific steps to reproduce. iPhone 6 Simulator - latest Xcode 6.3.2. 6D2105. I believe this has happened a cou

[2015-05-26 08:01] ide commented on #1405
Yeah this is a real issue. Crash in a different but similar part of the code in #1207.

[2015-05-26 08:28] AlesJiranek commented on #247
+1

[2015-05-26 09:01] JohnyDays commented on #1404
The react native philosophy is that you shouldn't (I think), there has been some discussion around supporting display:none, however simply removing the view from the tree saves memory, which is about as vital as saving the re-render, depending on your use case.  If you really need this, you could expose that property from a custom view in obj-c.

[2015-05-26 09:35] checkraiser commented on #1404
As @JohnyDays  said, in React, you should change your View based on your current State.

[2015-05-26 09:52] magicismight commented on #1404
@checkraiser  I tried to create some component like `TabBarIOS` with customed button to toggle the content views without reset the content`s state every time.
Is there any way to achieve that?

[2015-05-26 09:59] checkraiser commented on #1404
Yes, i still not try, but i think you can wrap your view into a Custom View, then use the property `subView.hidden=YES` in your `View Manager`.
Good luck.

[2015-05-26 10:03] magicismight commented on #1404
@checkraiser  Thx!!!

[2015-05-26 12:24] Iragne commented on #779
Hi all
i create the PR https://github.com/facebook/react-native/pull/1406
It's solve for me the issue if you have a better idea to solve it feel free

Thanks

[2015-05-26 12:27] matthewga0 commented on #638
This one maybe works, but it's not the best solution for `flex` layout.
https://github.com/lucholaf/react-native-grid-view

[2015-05-26 13:52] admmasters commented on #1207
Not sure if this is related but have also discovered the following: EXC_BAD_ACCESS: RCTText line 90 - crashed with [_textStorage addLayoutManager:_layoutManager].

[2015-05-26 13:57] admmasters commented on #1207
Stack trace ends at: [NSLayoutManager(NSPrivate) _recalculateUsageForTextContainerAtIndex]

[2015-05-26 14:00] Iragne commented on #1360
it's cleary an issue with the size of the images.
It's a memory warning

[2015-05-26 14:02] marcshilling commented on #1364
@jaygarcia any particular instrument I should be monitoring? Nothing is really standing out other than my app being 130% CPU always like I said

[2015-05-26 14:07] tadeuzagallo commented on #1360
Can you reproduce that constantly?

[2015-05-26 14:16] faithfe opened #1407 "Failed to load the icon from imageset file when integrated to existing App."
My React native app named (named A) is ok in simulator, but when A is intergrated to existing App (named B), my icon (use require('image!icon') to load) failed to display. I have added the icon to the Images.xcassets of B. In main.jsbundle, the path of [__d("image!icon")] is my own desktop's dictory.  Maybe the icon's path is wrong, but I don't know how to set it.

help, pls!

[2015-05-26 14:51] Iragne commented on #1360
As soon as you load big image in a list you get this problem i will investigate more.
I solve in a way this issue on Library Asset https://github.com/facebook/react-native/pull/1406

[2015-05-26 14:54] umhan35 commented on #1404
Or try set `height` to 0

[2015-05-26 14:55] nparsons08 commented on #1360
You could use preprocessing like http://6px.io
On Tue, May 26, 2015 at 8:52 AM Iragne <notifications@github.com> wrote:

[2015-05-26 14:59] Iragne commented on #1360
yes if you want it will work.
But i think we should implement it in react

[2015-05-26 15:00] nparsons08 commented on #1360
Totally agree. I have an application that will be loading several hundred.
Would love to see a fix for this. +1.
On Tue, May 26, 2015 at 8:59 AM Iragne <notifications@github.com> wrote:

[2015-05-26 15:02] Iragne commented on #1360
+1

[2015-05-26 15:14] dvine-multimedia commented on #1390
@brentvatne I didn't realize that `setNativeProps` actually is the mutation API I was looking for. Thanks a lot. Maybe there could be some more documentation on that? But I don't know if react really want's to encourrage the usage of `setNativeProps`except for a few special cases.

[2015-05-26 15:18] Iragne commented on #1360
https://github.com/Iragne/UIImage-ResizeMagick ;) it's a good start !!!

[2015-05-26 15:46] brentvatne commented on #1390
@dvine-multimedia - good point, documentation for `setNativeProps` would be useful! Related - it might also be useful to add documentation [for the issues faced in this discussion](https://github.com/bsudekum/react-native-mapbox-gl/issues/28) - also pertaining to communicating directly from js->native

[2015-05-26 15:49] brentvatne commented on #1407
Hi @faithfe! Your image should be inside: `Images.xcassets/icon.imageset/icon.png`. Try deleting the imageset on app B and re-adding it like this: https://facebook.github.io/react-native/docs/image.html#adding-static-resources-to-your-app-using-images-xcassets

[2015-05-26 15:50] #1404 closed

[2015-05-26 16:16] arunshan commented on #1345
I just noticed something really strange. For some reason when the app is downloaded for the first time, then few images do not load. But works fine when I close the app and reopen it on the iPhone. It happens on the iPhone 6 with iOS 8.3. It is hard to reproduce the error. I need to do a hard reset on the simulator and check if the onerror prop is being invoked again. Will give you an update later

[2015-05-26 18:04] brentvatne opened #1410 "[Docs] Improve ScrollView documentation"
[code]

[2015-05-26 18:08] brentvatne commented on #1410
Also, when using `onScroll`, I receive this warning:

[code]

Just based off of this

[code]

[2015-05-26 18:27] JohnyDays commented on #1404
If you need measurements for said view set opacity to 0 instead of height

[2015-05-26 18:47] jonslenkooyala opened #1411 "Seeking help with setFrame:"
hi, I am trying to hook up some native iOS Objective-C UI widgets. Normally I would be using initWithFrame: and then the native widget's drawing code would know about a non-zero area to paint in. How do I do this in React-Native? I tried constantsToExport in my *Manager, but the frame was still zero. Does the JSX have to explicitly pass values (I'm just hoping to use the flow layout)?

In other wo

[2015-05-26 18:47] dalinaum opened #1412 "npm run-script test failed because of rounding change to V8's arithmetic"
npm run-script test

[code]

cat npm-debug.log

[code]

[2015-05-26 19:02] jaygarcia commented on #1364
Good question @marcshilling :-\

I was hoping maybe there were some signals from the stack display that could help.

I've recorded the following video demonstrating how my mid-2012 MBP displays CPU utilization for the iOS sim.

http://www.youtube.com/watch?v=91SurUNjkS4

For the record, this app is pushing the limits with React Native's Runloop and I still don't see issues with high CPU utilizatio

[2015-05-26 19:11] marcshilling commented on #1364
I repeated your steps and actually am seeing an even lower React Native Runloop time than you.
![screen shot 2015-05-26 at 3 09 04 pm](https://cloud.githubusercontent.com/assets/5598961/7820908/433a40c6-03b9-11e5-9e21-a1984d8aa781.png)

I do want to clarify - it's not the iOS Simulator process I'm having issues with. That is always around 0% like you show in your video. The process is the actual n

[2015-05-26 19:25] esauter5 commented on #947
![screen shot 2015-05-26 at 3 23 13 pm](https://cloud.githubusercontent.com/assets/1442232/7821214/3e90c174-03bb-11e5-89b1-36fd536a47f6.png)

When adding some height to the text element, you can see that the last word wraps to a new line. If I don't set an explicit height, the wrapped text is not visible. It would appear that the whatever size React Native is setting the text element to is a pixel

[2015-05-26 19:30] jaygarcia commented on #1282
OK.  @mintuz @nicklockwood @ide

So in doing this testing, i can tell you that when events are generated via CommandCenter, they queue up. The runloop seems to freeze (to be expected) when the phone sleeps.

Command center implementation: https://github.com/ModusCreateOrg/react-native-mod-player/blob/master/kgmp/iOS/ModusCreate/MCModPlayerInterface.m#L196

Event listener: https://github.com/ModusC

[2015-05-26 19:36] jaygarcia commented on #1364
Ah! I See what you mean.

During idle, i'm < 5% :(

See below.

![cpu](https://cloud.githubusercontent.com/assets/180031/7821475/dceb6724-03bc-11e5-8da1-fb4e09c70f32.gif)

I'll see if i can replicate with a vanilla project. Maybe there's something in there that is acting like a jerk :(

[2015-05-26 19:37] jaygarcia commented on #1062
@vjeux  Yes i do.  I was half asleep when i posted this.

/me slaps self with a large trout.

[2015-05-26 19:37] #1062 closed

[2015-05-26 19:53] jaygarcia commented on #1282
Here's why this is an issue for the type of app I'm currently writing:

Audio applications need to be able to:
- run in the background
- respond to command center events (Locked screen, command center drawer, USB remote control or even head phone remotes)

This application was designed, like many (if not all) RN applications, to have the controller logic inside of the JSX/JSCore layer.

Correct me

[2015-05-26 19:59] esauter5 commented on #947
A temporary hack I've found to work is adding an extra space of text to the end of `Text` components. The seems to add the extra few pixels necessary so that nothing gets cut off. I have a wrapper around the React `Text` component so I've added this extra space there so that I don't have to manually fix each individual problematic component. I also added an extra space at the beginning to try to b

[2015-05-26 20:04] jaygarcia commented on #1282
Lastly, if anyone plans on cloning that repo, know that it's HUGE atm. It's got > 4.3K Mod files, which will be removed once i configure the code to auto-download a zip file.

[2015-05-26 20:05] josebalius commented on #1342
@DaZzz I did and no luck, it still renders with square corners. Any other ideas?

[2015-05-26 20:07] oveddan commented on #1149
@spicyj  I ended up getting jquery to work within react-native for scraping/parsing with a slight modification to it.  See the issue I created within jquery [here](https://github.com/jquery/jquery/issues/2349).  let me know your thoughts!

[2015-05-26 20:29] vjeux commented on #1149
@oveddan: the proper fix is to remove window.document.createElement = null; altogether. It was used to make sure that ExecutionEnvironment.canUseDOM is false, but we modified this file and it is now false.

[2015-05-26 21:16] amasad commented on #1368
Yup. Come Friday this will disappear :)

[2015-05-26 21:19] brentvatne commented on #1410
`onScrollAnimationEnd` doesn't seem to fire for horizontal scrolls

[2015-05-26 21:21] brentvatne commented on #1410
Might be useful to have a way to get the current contentOffset

[2015-05-26 22:54] xiaodao commented on #1360
@tadeuzagallo Yes, I can reproduce it constantly

[2015-05-26 23:28] faithfe commented on #1407
@brentvatne    I  just use url (http:xxxx/xx/main.jsbundle) to locate  main.jsbundle file in app B, and not anything else.  So  should i cope the whole Images.xcassets directory from app A to app B?

[2015-05-27 00:11] brentvatne commented on #1407
@faithfe - yeah you will need to add all of those image assets to app B as well

[2015-05-27 02:27] eltoob commented on #846
Still not quite clear how to change isNavBarHidden from a child view .... @liubko how does this.setState is going to fix the problem as the state is at the parent level class

[2015-05-27 02:46] brentvatne commented on #1410
Note: this is a bit of a braindump right now from working with `ScrollView`, will cleanup when I'm done

[2015-05-27 03:00] ide commented on #1411
Frames are set from JS. Once you bridge your component over, give it `style={{width: 100, height: 100}}` and it should show up.

[2015-05-27 04:25] lazywei opened #1417 "[Image & ListView] Image in ListView is not updated when re-rendering"
Say I have such row in ListView

[code]

When the state changes, the `Text`'s are re-rendered but the `Image` isn't. The last `Text` shows that the `avatarUrl` is updated correctly. However, the `Image` still shows the old picture.
I'm wondering if this is due to `Image` doesn't compare `{uri: xxx}` deeply?

Thanks

[2015-05-27 04:56] dvine-multimedia commented on #646
I have the same issue with 0.4.4

[2015-05-27 06:23] christopherdro commented on #1410
:+1: I posted these issues a few weeks ago while working on the calendar.
Was looking for confirmation that it wasn't working.

[2015-05-27 06:51] lzyy opened #1418 "[Misc] How to set id<RCTExceptionsManagerDelegate> delegate?"
in `RCTExceptionsManager.h`, there is

[code]

but `delegate` is not public, so the only way to pass in delegate is use the designated initializer.

but when used like

[code]

it's impossible to set delegate, so when and how to set this delegate so that i can handle exception myself?

### Update, found a way to handle this

1) set an object implement `RCTExceptionsManagerDelegate`

2) find `RCTEx

[2015-05-27 07:02] johanneslumpe opened #1419 "[JS] Expose global as `self` too"
In JavascriptCore `self` is not defined. Libraries like `bluebird` for example rely on `self` being the global object instead of `window`, as it works in web workers too.

This fails in `react-native` due to `self` not being defined. A simple `global.self = global` at the beginning of the script solves this issue. Could we get this into the default packaged code so that we don't have to put the st

[2015-05-27 07:22] liubko commented on #846
@eltoob when you change state in parent component you then pass it to `NavigatorIOS`
[code]
 this will cause a re-render with new `navigationBarHidden` value

[2015-05-27 08:48] yelled3 commented on #1398
@JohnyDays few questions;
* shouldn't I pass a `weakSelf` (of my viewcontroller) to the moduleProvider block?
* have you encountered any issues with this solution?
* can you add some more details regarding the moduleProvider?
it didn't appear in the official docs - only thing I found about it was in `RCTBridge.h`

init parameters, or additional configuration prior to being used.
The bridge will ca

[2015-05-27 08:50] yelled3 commented on #1398
@vjeux @jingc
can you further share, what are currently the main issues?

[2015-05-27 08:53] Iragne commented on #79
+1
do you create a PR ??
@dvdhsu

[2015-05-27 09:13] pbaran opened #1420 "Include CoreTelephony"
I would like to know whether you are planning some API to view call log. For now I can see some plugins/modules which allow to read files so that I can read a proper file but as far as it seems to be so large it is a performance hit.

[2015-05-27 09:43] onlymejosh commented on #900
Having the same issues on 4.4.4

[code]

[code]

[2015-05-27 09:45] JohnyDays commented on #1398
The only issue I have found with this approach is that I'm limited to 1 instance per class per bridge, however the standard react export macro approach also limits you in this way.

I'm not sure what a weakSelf is, my obj-c lingo is pretty limited, but I'll check.

I found out about the moduleProvider block by reading the react source code, so this is not a publicly documented API and I recommend

[2015-05-27 11:54] JohnyDays commented on #1417
It's not a comparison problem, because even the shallow comparison would return false, given you are creating different object instances on every render. So I'm afraid that's not the issue. I think in #1397 @ide mentioned there might be some bug in the Image class that causes Images not to change, might want to check that.

[2015-05-27 12:03] admmasters opened #1421 "Crash within dispatchBlock:(dispatch_block_t)block forModule:(NSNumber *)moduleID in RCTBridge.m"
Crashing while generating a payload on line 1330. Interestingly all the variables are pointing to 0x0 or nil.
![screen shot 2015-05-27 at 13 00 48](https://cloud.githubusercontent.com/assets/335607/7835413/ad1a420e-0470-11e5-9bb9-8cf7c6ca8ea2.png)

[2015-05-27 12:13] alexrabarts commented on #846
@liubko are you passing the context of the parent component to the child component through the props object?

[2015-05-27 12:41] iostalk opened #1422 "[Integration w/ Existing App] How to pass the native navigation controller into a react-native root view component?"
I have a navigation controller already, I want to pass the navigation controller into the react-native root view, how to implement this?

[2015-05-27 13:20] thomasvm opened #1423 "[SampleApp] Launching default app template on iPad with iOS7.0 renders incorrectly"
I adjusted the app generated by `react-native init <myproject>` to be Universal instead of iPhone; and the resulting app renders strangely on an iOS7.0 iPad Mini.

![img_0140](https://cloud.githubusercontent.com/assets/140572/7836678/50875ae2-0482-11e5-8820-f93a90014a2a.PNG)

Some initial observations:
* the welcome text is not shown at all; if I put the `fontSize` property in comment, the `Text`

[2015-05-27 13:21] liubko commented on #846
@alexrabarts you can pass a callback which will change state in parent component
If you are using flux you could trigger some action to update store's `isNavBarHidden` value, and you will need to listen for that store in parent component.

Actually I ended up using my own header component, to have more control on it

[2015-05-27 13:34] naoufal commented on #700
I'm actually still getting errors after using the `jestSupport`/`package.json` setup.  But it seems to be because I'm requiring a React component in my jest test.

I haven't seen any of the tests in this repo do that yet, so I'm assuming that isn't supported yet.

@amasad can you confirm?

[2015-05-27 13:40] eltoob commented on #846
@liubko just a bit confused ... how do you change the state of the NavigatorIOS from a child component ... it doesn't inherit the state from the parent component

[2015-05-27 14:17] liubko commented on #846
@eltoob not sure we understand each other, I made a demo https://rnplay.org/plays/Vn5ebA/edit

[2015-05-27 14:27] liubko commented on #846
@eltoob not sure if we understand each other, I made a demo: https://rnplay.org/plays/L9v2wg

[2015-05-27 15:51] brentvatne commented on #1397
@sahrens - looked at the git attributions for this and it looks like you are the right man for this issue, feel free to re-assign if I got it wrong :smile:

@umhan35 - can you elaborate on that last point?

[2015-05-27 15:56] JohnyDays commented on #1397
@brentvatne I think his last point may be referring to the same problem in #1417, if I understand correctly

[2015-05-27 16:07] rogergl commented on #700
@naoufal

You have to mock react-native. The following example works:
[code]

[2015-05-27 16:28] phoboslab opened #1424 "[Bridge] Array Buffers / Typed Arrays for WebSockets, Ajax"
It's currently not possible to send/received ArrayBuffers with React Native.

Am I right to assume that this is largely due to the missing TypedArray implementation in JSC? I.e. we're not able to transfer raw memory in a sane and performant way between JavaScript and native.

I've opened an issue over at webkit.org (https://bugs.webkit.org/show_bug.cgi?id=120112), asking for a TypedArray API a few

[2015-05-27 16:29] brentvatne commented on #846
@liubko - great way to demo that :smile:

[2015-05-27 17:08] skevy opened #1425 "[Navigator] React Hot Loader and StaticContainer Usage in Navigator"
I'm opening this issue for discussion at the moment, because I'm not quite sure what the proper fix is yet.

React Native's Navigator uses a pattern that will return, if the component has already been rendered before, a `StaticContainer` element that has no children with the `shouldUpdate` prop set to false. This never breaks "in real life", because the whole point of not updating that component i

[2015-05-27 17:14] jonslenkooyala commented on #1411
Thanks, will do.

[2015-05-27 17:14] #1411 closed

[2015-05-27 17:17] admmasters opened #1426 "Crash within RCTShadowText - Line 29."
EXC_BAD_ACCESS @ [textStorage addLayoutManager:shadowText.layoutManager].

Within: static css_dim_t RCTMeasure(void *context, float width) function.

[2015-05-27 17:41] umhan35 commented on #1397
@brentvatne when `Image` is rendered, assign its uri to another image url doesn't make it show the new image.

[2015-05-27 17:45] mxstbr opened #1427 "index.ios.bundle not updating"
OSX 10.10.3, npm 2.10.1, watchman 3.1.1

If I change something in the `index.ios.js` file in my code editor (Sublime Text), the changes are not reflected in the simulator until I run the `npm start` command again.
Occasionally I get the `watchman took to long` error (cannot reproduce it), but have already taken and tried all the steps outlined on both troubleshooting pages, of react-native and of

[2015-05-27 19:12] ide commented on #1425
@ericvicenti mentioned in another discussion that StaticX components can often be replaced by holding a reference to the JSX element, and returning the same element instance from render() each time it is called. That should be robust against forceUpdates too.

[2015-05-27 19:14] skevy commented on #1425
@ide do you have a link to that discussion?

[2015-05-27 19:22] ide commented on #1424
There are two roadblocks here. One is the API limitation you described and onet solution would be to work with the WebKit team to patch the API for the next-next release of JSC.

The second issue is that the RN bridge uses JSON to communicate between JS and native. There are no shared references so you currently can't access a TypedArray from Obj-C that JS can also access. This could change at the

[2015-05-27 19:24] ide commented on #1425
https://github.com/facebook/react-native/pull/262#issuecomment-101371638

[2015-05-27 19:26] ide commented on #1421
Looks like another text layout crash (look at the stack in be bottom right corner).

[2015-05-27 19:26] skevy commented on #1425
Cool, so based on that, we should work on updating Navigator to use that new pattern, rather than the StaticContainer pattern

[2015-05-27 19:26] skevy commented on #1425
@ericvicenti I saw somewhere you were working on a refactor of Navigator...does it include this change?

[2015-05-27 20:02] vkurchatkin commented on #1424
We can have a separate `ArrayBuffer`  implementation that is just a handle for raw memory. They can be produced and consumed by some APIs and behave just as usual array buffers, except no direct access to bytes via typed arrays (maybe `DataView` is also possible).

[2015-05-27 20:23] bparadie opened #1429 "[Debugging] Please make debug port (8081) configurable"
Port `8081` is currently used by `react-native` as the debugging port in the following files:

[code]

Unfortunately there are other services that might use 8081, i.e. `McAfee`:

Port | Default | Description | Traffic direction
------------- | ------------- | ------------- | -------------
Agent wake-up communication port SuperAgent repository port  | 8081 | TCP port that agents use to receive agen

[2015-05-27 20:29] josebalius commented on #957
@ide do you know if any changes have gone into the scrollview animation? This same functionality that I implemented now scrolls really slow, before it was fluid but after updating to 0.4.4 it is pretty slow (almost 2 seconds when it used to take 0.5 at most)

[2015-05-27 20:38] bparadie opened #1430 "[Packager] Please add a second target to React project that does not launch the packager."
`React.xcodeproj` currently only supports one target that always launches the `packager` through this run script:

[code]

Because not everybody on our team is involved in developing UI we decided to use two separate targets in our project. One of those targets is for 'core development' only while the other one defines `UI_DEV` for 'UI development'. In our `AppDelegate.m` we use `localhost` for UI

[2015-05-27 20:40] ide commented on #957
@josebalius: I'm not aware of what could have caused this slow down. Doesn't seem good though - can you open a new issue with more detail?

[2015-05-27 20:43] josebalius commented on #957
@ide nvm :( it was this: http://stackoverflow.com/questions/8624519/simulator-slow-motion-animations-are-now-on somehow I had toggled that on....sorry about that. What gave me the clue was the keyboard was slow to come up everywhere.

[2015-05-27 20:44] bogdantmm92 commented on #720
+1

[2015-05-27 20:52] ide commented on #957
=)

[2015-05-27 21:16] bparadie commented on #1430
My proposal would work for us, see https://github.com/bparadie/react-native/tree/v0.5.0-rc-nopackager

![screen shot 2015-05-27 at 2 14 05 pm](https://cloud.githubusercontent.com/assets/1578115/7847728/636db85c-047a-11e5-872c-ddfaaee3e2eb.png)

I duplicated the `React` target and changed the name to `React-NoPackager`. I had to patch the project file afterwards and change all `React copy.a` string

[2015-05-27 21:23] jhabdas commented on #521
@larsvinter that totally worked. others may be able to bump to `0.4.4` to allow `jpg` file types but I'm stuck on `0.4.2` at the moment and needed a clever solution. you're my hero.

[2015-05-27 21:44] ide commented on #1430
This may or may not work for you but if you use the podspecs via CocoaPods you'll skip using the FB-provided React.xcodeproj and therefore drop the magic packager launcher.

[2015-05-27 21:52] uber5001 opened #1431 "[Packager] Requiring a script without newline at the end of file fails"
I can't seem to reproduce this issue for a single file. For libraries and packages installed from npm, however, this issue appears, in the form of

    Uncaught SyntaxError: Unexpected end of input                    RunMainModule.js:1

If I add newlines to every file in the library or package, the error goes away.

[2015-05-27 22:24] bparadie commented on #1430
@ide Thanks for the tip. I am not super familiar with podspecs. We have to use `npm`. Right now I pull in the React projects from `node_modules`. That's also what I see in every example.

[2015-05-27 22:45] ide commented on #1431
cc @amasad

[2015-05-27 22:46] ide commented on #1430
You can use npm along with the podspecs. It's not documented but it's a standard cocoapods setup.  Probably best to find an iOS/app developer on your team who can help set it up.

[2015-05-27 23:14] ide commented on #1086
Handling soft/hard exceptions with the exceptions manager works well for most cases. I think there are some errors that don't go through that code path but will open up separate issues and/or PRs for those when needed.

[2015-05-27 23:14] #1086 closed

[2015-05-27 23:21] ide commented on #725
The new way to get the node handle is with `React.findNodeHandle(componentReference)`. You can use a uiBlock in a native module to get access to a lookup map from node handles to native views if needed. Closing this out.

[2015-05-27 23:21] #725 closed

[2015-05-27 23:23] ide commented on #518
Can this be closed out Friday too?

[2015-05-27 23:25] ide commented on #425
Docs are much better now.

[2015-05-27 23:25] #425 closed

[2015-05-27 23:28] ide commented on #342
0.5.0-rc includes accessibility improvements: https://github.com/facebook/react-native/releases/tag/v0.5.0-rc

Can someone familiar with accessibility report whether the improvements are good enough and open up more specific issues if there are areas that still need to be addressed?

[2015-05-27 23:29] ide commented on #281
Closing this out since there are 3rd party solutions available.

[2015-05-27 23:29] #281 closed

[2015-05-27 23:31] ide commented on #248
If this is still a problem please open an issue with more details.

[2015-05-27 23:31] #248 closed

[2015-05-27 23:31] #107 closed

[2015-05-27 23:32] ide commented on #121
There's enough of a foundation now that this can be built independently.

[2015-05-27 23:32] #121 closed

[2015-05-27 23:33] ide commented on #60
The podspecs for RN and its helper libraries are in a reasonable place now. Module system still needs to be worked out and let's have that discussion separately.

[2015-05-27 23:33] #60 closed

[2015-05-27 23:36] ide commented on #1211
The latest RC now has a change log, authored by @vjeux! https://github.com/facebook/react-native/releases/tag/v0.5.0-rc

[2015-05-27 23:36] #1211 closed

[2015-05-27 23:37] ide commented on #1222
https://github.com/facebook/react-native/pull/1232 provides a foundation to address this.

[2015-05-28 00:13] zpao commented on #518
Yea, I closed my PR to actually switch to jstransform so lets close this too.

[2015-05-28 00:13] #518 closed

[2015-05-28 00:44] gaearon commented on #1290
@dsibiski Thanks so much for this tip.

[2015-05-28 04:33] brentvatne commented on #1235
Looks like this fix should land soon, see here: https://github.com/tadeuzagallo/react-native/commit/81401064e5bc0e50de5d77ec9e2384a70e43e2f4

[2015-05-28 04:41] joeferraro commented on #1274
@iostalk I've created a basic cookie manager that allows you to get/set cookies from react native: https://github.com/joeferraro/react-native-cookies

[2015-05-28 05:09] lazywei commented on #107
@ide why is this closed?

[2015-05-28 05:12] ide commented on #107
I wrote my own inverted scroll view, and I believe it should be a standalone component. No need for it to be deeply integrated with the core for now.

[2015-05-28 05:45] threepointone commented on #1371
I have a similar problem inside office, and have a workaround (run in terminal) -  `git config --global url."https://".insteadOf git://`

[2015-05-28 06:28] ide commented on #1371
Changing the package.json deep URL to `frantic/stacktrace-parser#493c5e5638` should do the trick, or at least make this a general problem with npm instead of react.

[2015-05-28 06:32] christopherdro commented on #1324
#1410

[2015-05-28 06:33] christopherdro commented on #1324
#1410

[2015-05-28 07:08] paramaggarwal commented on #858
Any more thoughts folks?

[2015-05-28 08:07] ieugen commented on #309
+1, I hope it comes out soon :)

[2015-05-28 08:45] mxstbr commented on #1427
After further investigation, this issue has nothing to with react native/watchman. No build tool is working, and it is the FSEvents Bug, as explained in great detail here: https://github.com/bdkjones/fseventsbug/wiki/realpath()-And-FSEvents (and, for 5 years of discussions about this bug, look here: https://github.com/thibaudgg/rb-fsevent/issues/10)

There is currently no real fix for it, but I ex

[2015-05-28 08:45] #1427 closed

[2015-05-28 09:02] nicklockwood commented on #1235
Yeah, @a2's fix for this is in the latest release. There's still an outstanding bug where borders are drawn behind the content when overflow = hidden, but I'm working on that now.

[2015-05-28 09:26] tadeuzagallo commented on #1397
Oops, sorry about the assign mess, I was trying to assign @a2... Damn buggy chrome.

[2015-05-28 10:48] magicismight opened #1433 "ES6 support bug"
As this [DOCUMENT](http://facebook.github.io/react-native/docs/javascript-environment.html#content) said,
react native\`s JavaScript environment should support `Computed Properties`.
But those code will throw an exception `Uncaught SyntaxError: Unexpected token [` in `v0.4.4`

[code]

[2015-05-28 10:53] ide commented on #1433
This will be fixed once babel lands.

[2015-05-28 11:48] dvdhsu commented on #79
Looking at the source code, this check only occurs when you're in dev mode. Seeing that it was working in production, I just ignored the problem. LMK if you still want me to make it?

[2015-05-28 14:48] iostalk commented on #1422
help! help!

[2015-05-28 15:26] nicinabox opened #1434 "Exposing System Date & Time format"
I'd love to be able to respect the system's time format rather than forcing a localized style. Are there any plans for exposing settings like this to JavaScript?

[2015-05-28 15:44] brentvatne commented on #1397
@tadeuzagallo - [Github Issue Assigner](https://chrome.google.com/webstore/detail/github-issue-assigner/leiiiopglchhahknggbcjckgghpefibm) - I had the same problem so I made this extension.

[2015-05-28 15:46] paramaggarwal commented on #1139
I'm getting this as well.

[2015-05-28 15:48] brentvatne commented on #1402
@alinz - this is fixed in the next release: https://github.com/tadeuzagallo/react-native/commit/8d992262ed2dcf0d46e8d22e605764902c33012f

[2015-05-28 15:56] bparadie commented on #1430
@ide I'll try that. I am curious: Do you agree, that it would be a good idea to have a second target that does not automatically launch the `packager`? Or do you suggest using podspecs for use cases like mine?

[2015-05-28 16:02] ide commented on #1430
My thinking is that instead of putting the launch script in React.xcodeproj, it'd be better for the top-level projects like UIExplorer.xcodeproj and SampleApp.xcodeproj to have the script. You could make the argument that React.xcodeproj implies that you need the packager but users who are manually linking React are also the kind of users who want to set up their own packager scripts and aren't ex

[2015-05-28 16:23] ide commented on #1405
Closing this out since https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442 hopefully fixes the source of the text crashes. Please open another task if you continue to see crashes when running the latest master branch of React.

[2015-05-28 16:23] #1405 closed

[2015-05-28 16:23] ide commented on #1421
Closing this out since https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442 hopefully fixes the source of the text crashes.

[2015-05-28 16:23] #1421 closed

[2015-05-28 16:23] ide commented on #1426
Closing this out since https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442 hopefully fixes the source of the text crashes.

[2015-05-28 16:23] #1426 closed

[2015-05-28 16:24] ide commented on #1302
Closing this out since https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442 hopefully fixes the source of the text crashes. Please open another task if the master branch of React still causes RCTText crashes for you.

[2015-05-28 16:24] #1302 closed

[2015-05-28 16:25] ide commented on #1196
Closing this because of https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442.

[2015-05-28 16:25] #1196 closed

[2015-05-28 16:26] ide commented on #1207
Closing this because of https://github.com/facebook/react-native/commit/0689c0790edcc9cb8494e3f15300e2743556f442. Will reopen if the crash persists.

[2015-05-28 16:26] #1207 closed

[2015-05-28 16:27] ide commented on #1328
Babel is in master, RN is JS-hipster-approved, closing this out. https://github.com/tadeuzagallo/react-native/commit/56d6ee3f0fadeb66aeb6cf9156c723759f48f617

[2015-05-28 16:27] #1328 closed

[2015-05-28 16:28] ide commented on #1280
Babel landed in master: https://github.com/tadeuzagallo/react-native/commit/56d6ee3f0fadeb66aeb6cf9156c723759f48f617

[2015-05-28 16:28] #1280 closed

[2015-05-28 16:28] ide commented on #1368
Babel landed in master: https://github.com/tadeuzagallo/react-native/commit/56d6ee3f0fadeb66aeb6cf9156c723759f48f617

[2015-05-28 16:28] #1368 closed

[2015-05-28 16:29] ide commented on #1433
Babel landed in master: https://github.com/tadeuzagallo/react-native/commit/56d6ee3f0fadeb66aeb6cf9156c723759f48f617

[2015-05-28 16:29] #1433 closed

[2015-05-28 16:52] esauter5 opened #1435 "Commas inserted before interpolated text"
When I try something like this:

[code]

The output is `Hello, ,Eric`

If I add text after `{name}` like:

[code]
The output is `Hello, ,Eric.,`

Is this unintended and a bug or is it something I should not be trying to do? I double checked some of the docs and that's definitely done in some examples. The alternative is:

[code]

 That works, but the other way is a little cleaner so it's preferabl

[2015-05-28 16:54] brentvatne commented on #1435
@esauter5 -  [it looks like your first example works as expected](https://rnplay.org/plays/j4DwGw?autoplay=true) - can you reproduce your issue on [rnplay.org](https://rnplay.org) please?

[2015-05-28 16:57] dsibiski commented on #1290
@gaearon No problem! I'm glad it helped someone. :)

[2015-05-28 16:57] brentvatne commented on #1139
It would be fantastic if someone could reproduce this in a simulator on [rnplay.org](https://rnplay.org)

[2015-05-28 17:00] MattFoley commented on #728
:+1: me too.

[2015-05-28 17:00] esauter5 commented on #1435
OK, this is my bad. I'm using a thin wrapper around the generic `Text` component and its actually a bug in that wrapper.

I just verified the problem isn't there with the actual React `Text` component. Closing

[2015-05-28 17:00] #1435 closed

[2015-05-28 17:05] bparadie commented on #1430
I agree that having a launch script baked into `React.xcodeproj` is not such a great idea. On the other hand the `packager` is pretty important to get react-native working properly. Perhaps a good compromise  would be moving that run script into its own separate project, i.e. `Packager.xcodeproj`.
There are probably many ways to skin this cat. Bottom line:  I would love to see that launch script r

[2015-05-28 17:39] jaygarcia opened #1436 "ES6-style classes & JSX binding doesn't work as expected."
This is a fun one :)

I'm in need of class hierarchy and thought that using ES6-style classes would be the best way to achieve this result using basic ES6 OOP patterns.  I've got things *mostly* working, but found that the JSX method binding doesn't actually act as (how I) expected and need someone to help me understand why.

*The Breakdown*

My class's render function returns a block of component

[2015-05-28 17:43] ide commented on #1436
ES6 React classes don't autobind their methods so you have three options:

1. Bind the methods yourself in the `constructor()` function
2. Use the property syntax like `onButtonPress = buttonType => { ... };`. This might require adjusting the options that the packager passes to Babel.
3. Use decorators like `@autobind onButtonPress() { ... }`. Again this might require a small patch to the packager

[2015-05-28 17:58] jtremback commented on #1328
Is this in RN5.0?

[2015-05-28 18:06] jtremback commented on #1420
Getting into React Native right now, you should be expecting to write some native code, unfortunately. Write an adapter and share it with us!

[2015-05-28 18:07] jtremback commented on #1419
Sounds pretty drastic to be defining new top-level variables to support some library!

[2015-05-28 18:09] ide commented on #1328
I expect it will ship with 0.6 because it's a bigger change and not a bug fix for 0.5.0 rc.

[2015-05-28 18:11] jtremback commented on #1328
Phew! Those 2 hours setting up and debugging Babel in my project yesterday
were not wasted!

[2015-05-28 18:29] johanneslumpe commented on #1419
Except for the fact that it's available in every browser and web workers - it's more of a generic fix for the runtime which is missing a prop on the window object than just "supporting some library". Read about it here: https://developer.mozilla.org/en-US/docs/Web/API/Window/self

Sent from my iPhone

[2015-05-28 18:38] brentvatne commented on #1364
@marcshilling - any chance you could post a public repo where this issue occurs?

[2015-05-28 18:39] #1354 closed

[2015-05-28 18:42] brentvatne commented on #1419
@johanneslumpe - good point, what do you think @vjeux?

[2015-05-28 18:52] ericvicenti commented on #1425
Yep, we should totally migrate to the "freezing" technique of putting the rendered descriptor directly into the state and using it directly in later renders instead of StaticComponent

The change that will be coming in a few days is actually removing the contextual navigation capabilities from Navigator, because it is causing too much complication. A better and more isolated solution for contextua

[2015-05-28 18:59] pwmckenna commented on #1403
I suspect you're running into the same issue I did (though I wanted to change the initial routes). https://github.com/facebook/react-native/pull/1300

I believe re-rendering the navigator is a no-go for the time being.

@ericvicenti thoughts?

[2015-05-28 19:29] brentvatne commented on #728
@nicklockwood @sahrens - do you think this is desirable to include in core? any thoughts for an implementation strategy for this?

[2015-05-28 19:30] brentvatne commented on #1434
Hey there @nicinabox! Probably an issue more with my lack of experience with this than your explanation, but I don't quite follow - could you elaborate with an example?

[2015-05-28 19:32] brentvatne commented on #1436
@ide nailed it, not much else to say here :smile:

Awesome level of detail in your report @jaygarcia :rocket:

[2015-05-28 19:32] #1436 closed

[2015-05-28 19:36] jaygarcia commented on #1436
@ide , thanks for the documentation. I somehow missed that.

@brentvatne , thanks for closing this :)

[2015-05-28 19:36] nicinabox commented on #1434
Sure, sorry for the lack of detail.

iOS has settings for 24 hour time. I'd like to be able to reflect that in my UI rather than specifically formatting times 12 hour or 24 hour time.

![img_7330](https://cloud.githubusercontent.com/assets/246280/7869175/abe2c542-0546-11e5-99b9-77220d4f5925.jpg)

(and yes, I'm a 24-hour user)

[2015-05-28 19:53] jtremback opened #1437 "[Packager] Presence of problematic module (without even requiring it) causes error (Original: ReferenceError: process is not defined in keyMirror)"
Attempting to run: https://github.com/jtremback/rnTest2

I get this cryptic string of errors:

https://gist.github.com/jtremback/d152ce43f643fb735994

[2015-05-28 19:57] nicklockwood commented on #728
I'd be in favour of it. Interesting to consider how it would interact with flexbox though - perhaps it would only work if the width and height are set explicitly?

[2015-05-28 20:04] jtremback commented on #1437
Getting these same errors even with a completely fresh `react-native init`. Is the `react-native-cli` still the recommended way to set up a project?

The npm module appears to be somewhat old and doesn't link to a repository: https://www.npmjs.com/package/react-native-cli

[2015-05-28 20:08] MattFoley commented on #728
I'm very new to the JS side of things, but I'd assume that it would shrink rather than wrapping past a specified number of lines.

[2015-05-28 20:08] brentvatne commented on #1403
`NavigatorIOS` is not currently owned by anyone on the React Native team because it is not used internally at Facebook, so this one is up to us to figure out.

The reason this isn't happening is that [this property is only applied on `viewDidAppear`](https://github.com/facebook/react-native/blob/master/React/Views/RCTWrapperViewController.m#L60-L70) - so you will see it work when you change routes

[2015-05-28 20:09] jaygarcia commented on #1433
@ide , this is great. Question: will 5.0.0 be used? I'd sure like to use decorators =)

http://babeljs.io/blog/2015/03/31/5.0.0/

[2015-05-28 20:10] danscan commented on #728
@MattFoley yes, much like the native behavior on UILabel, the font size would decrease to fit the width.

[2015-05-28 20:12] jtremback commented on #1437
This was fixed by running `killall node`. I think that there are some deeper issues around the packager misbehaving. Is there a relevant issue for the packager script?

[2015-05-28 20:23] ide commented on #1433
I imagine so. Peek at package.json.

[2015-05-28 20:23] vjeux commented on #1419
Finding the global object is annoying as there is no standard way of doing it. Here are 4 ways and how they behave:

[code]

[code]

`this` has the best coverage.

As to introduce `self` in react-native, I'm unsure. I'd really like to avoid adding 10 different ways to do the same thing. I'd love to find a way to get one solution that works everywhere and implement this one

[2015-05-28 20:30] ide commented on #1419
Seems like this is the kind of thing that could be neatly maintained by a standalone project for the most part. Ex: `npm install react-native-browser-polyfill` + `import 'react-native-browser-polyfill` and have docs that explain this. Then if it turns out that basically everyone ends up doing this, it'd be pretty easy to include it with the default react environment.

[2015-05-28 20:33] bogdantmm92 opened #1438 "[Text] Text doesn't wrap"
http://puu.sh/i407j/805ec722a0.png
Text doesn't wrap when it's wrapped inside :
[code]

[2015-05-28 20:34] jtremback commented on #1430
:+1: :+1:

Personally, I have been getting a bunch of weird errors from many packager instances building up over time after multiple recompiles.

https://github.com/facebook/react-native/issues/1437

[2015-05-28 20:36] brentvatne commented on #1403
@the4dpatrick - [this commit](https://github.com/brentvatne/react-native-bug-example/commit/e0655d19821072f7d2ace9bea42902ab50e9d861) on your project fixes the problem, but I think it's a little hacky. If you want to clean it up into a nicer solution that would be great. Feel free to clone that repo and try it - I included the `node_modules` directory in it because I made changes directly to the R

[2015-05-28 20:44] brentvatne commented on #1438
@bogdantmm92 - can you post a complete minimal example on [rnplay.org](http://rnplay.org/) please?

[2015-05-28 20:54] ide commented on #1430
@frantic, @amasad, what do you think about moving the packager startup script out of React.xcodeproj and into the individual top-level project files like UIExplorer and SampleApp?

[2015-05-28 21:14] jtremback commented on #1437
Actually, this still persists in some of my projects. Sorry if this issue is not very helpful, I'm as puzzled as anyone.

[2015-05-28 21:48] bogdantmm92 commented on #1438
Demo: https://rnplay.org/plays/21GRFQ

[2015-05-28 21:48] brentvatne commented on #1437
@jtremback - I cloned your project and had the same issue, then I removed Babel and your other dependencies from the project, `rm -rf node_modules && npm i`, and it worked. If you'd like to use Babel, try installing from master.

[2015-05-28 22:03] brentvatne commented on #1438
@bogdantmm92 - the problem is that it won't wrap because the flexDirection is row. I fixed this for you [here](https://rnplay.org/plays/6h_SzA?autoplay=true)

[2015-05-28 22:03] #1438 closed

[2015-05-28 22:12] brentvatne commented on #1434
Makes sense! ![](http://url.brentvatne.ca/1dzu9.png) - I am too :smile:

Looks like this would do it: [How can I determine if iPhone is set for 12 hour or 24 hour time display? - StackOverflow](http://stackoverflow.com/a/1972487/659988) - it uses the fact that `NSLocale` formats the date according to system preferences to indirectly determine the setting for you. Would you like to try your hand at

[2015-05-28 22:16] bogdantmm92 commented on #1438
Thanks for testing & fixing this so fast! Really appreciate it!

[2015-05-28 22:20] nicinabox commented on #1434
Nice. I'd love to be able to do this, but my native-fu is weak.

[2015-05-28 22:28] brentvatne commented on #728
@nicklockwood - I think it would be ideal if it were to support `flex` as well - my guess, as someone who is not too deep in this part of the internals, is that we could perform text sizing after the layout pass has computed the container size.

[2015-05-28 22:49] jtremback commented on #1437
Turns out, it was actually nuclear-js that was causing the problems.

It appears to me as if adding nuclear-js to a react-native project's node_module breaks react-native.

This is **without** even requiring nuclear-js anywhere. Its very presence in the node_modules folder causes the problem. I've never seen this from another npm-compatible piece of software, and I'm guessing that it will break on

[2015-05-28 22:57] brentvatne commented on #1434
@nicinabox - here you go: https://github.com/brentvatne/react-native-device-clock-format

[2015-05-28 22:57] #1434 closed

[2015-05-28 22:59] nicinabox commented on #1434
I was trying it anyway. Turns out I wasn't TOO far off. Thanks @brentvatne, this is really helpful!

[2015-05-28 23:03] brentvatne commented on #1437
@jtremback - weird! cc @amasad

[2015-05-28 23:05] brentvatne commented on #1419
@johanneslumpe - want to make that module? :smile:

[2015-05-28 23:06] brentvatne commented on #1434
My pleasure :smile:

[2015-05-28 23:08] brentvatne commented on #1437
@jtremback - any chance you want to dig through nuclear-js and find the offending code?

[2015-05-28 23:11] jtremback commented on #1437
@brentvatne working on it now.

[2015-05-28 23:23] brentvatne commented on #1427
Thanks @mxstbr for the follow up!

[2015-05-28 23:24] brentvatne commented on #638
@matthewga0 - thanks for sharing. Closing this issue - for now this will have to be a community-built module :smile:

[2015-05-28 23:24] #638 closed

[2015-05-28 23:28] brentvatne commented on #1319
@PhilippKrone - does this happen even if you remove the status bar sizing code? Seems like a Navigator issue

[2015-05-28 23:28] brentvatne commented on #1121
Great :smile:

[2015-05-28 23:28] #1121 closed

[2015-05-28 23:28] brentvatne commented on #1215
No indication that there is any bug, our solutions suggested above should work. Feel free to ping me if not!

[2015-05-28 23:28] #1215 closed

[2015-05-28 23:31] #65 closed

[2015-05-28 23:37] brentvatne commented on #1118
@rymdluo - hey there! are you still having this issue? if so, could you explain it a bit more? unclear on exactly what the problem is :smile:

[2015-05-28 23:38] brentvatne commented on #1227
Closing because this is related to #113

[2015-05-28 23:38] #1227 closed

[2015-05-28 23:39] jtremback commented on #1437
Ok, so the version of `nuclear-js` that is on NPM has an `examples` folder. I wish I could link you to it on here, but its only on NPM.

One of the examples has checked-in `node_modules`. In these `node_modules` is a copy of `React`. Part of the `React` code is `keyMirror`, which has some code (`process.env`) that only will run in node, or webpack etc.

Removing the `node_modules` folder results i

[2015-05-28 23:41] brentvatne commented on #1437
Thanks for checking that out @jtremback, @amasad is much more capable of answering that question than I am so I'll leave it to him :smile:

[2015-05-28 23:44] jtremback commented on #1437
Curious what the requirements are for packaging and serving your own JS? Just a bundle on 8081? I'm sure this issue will be resolved easily, but I'd like to look into bundling the JS myself, at least in a basic way.

[2015-05-29 00:03] josebalius commented on #1431
I am having the same problem....and can't figure out what's causing it....it started to happen out of nowhere.

[2015-05-29 00:55] ide commented on #1437
I believe the packager is searching all files (including under node_modules) for `@providesModule` directives. `nuclear-js` is shipping the raw React source with the facebook directives still, so this is tricking the packager.

Two things I recommend: nuclear-js should put examples under .npmignore. This is a super quick fix since you can just fork and then reference your fork from your own packag

[2015-05-29 00:57] ide commented on #728
Here's a proposal for the API: there is an optional prop called `numberOfLines`. If this is set, the text shrinks itself until it can fit in that number of lines or fewer (also want a lower bound so we don't end up with illegibly small text), given the available space provided by its parent.

If `numberOfLines` is not set, then auto-shrinking behavior takes effect only if upper bounds on the width

[2015-05-29 01:30] nicklockwood commented on #728
We already have a numberOfLines property though…

[2015-05-29 01:33] nicklockwood commented on #728
Or are you proposing that we use the existing numberOfLines property, but augment its behavior to include shrinking the text as well as truncating it, with the min size defaulting to current size (no shrinking) unless otherwise specified?

[2015-05-29 01:36] ide commented on #728
@nicklockwood, exactly -- if the proposed `adjustsFontSizeToFitWidth` were set to true then the behavior you describe would take effect.

[2015-05-29 02:13] brentvatne opened #1439 "[Packager] Change to any file in node_modules requires restart"
On `master` after today's sync, any changes to JS inside of node_modules requires a packager restart in order to take effect, and they will not be picked up for auto-reload. In contrast, on `v0.5.0-rc`, auto-reload works and a packager restart is not required.

It is useful sometimes to modify JS inside of node_modules directly for debugging purposes.

[2015-05-29 02:18] AdamBrodzinski commented on #1219
+1 and thanks for the info in this issue, makes it much more clear :+1:

[2015-05-29 02:48] brentvatne opened #1440 "[LayoutAnimation] Add support for delete"
This would be incredibly useful - I imagine it was left out because it was probably more difficult to implement than the others. @nicklockwood @sahrens could you detail what issues held this up and what your strategy might be for implementing it? If it seems like something I can take care of I'd be happy to follow up on it.

[2015-05-29 02:52] brentvatne commented on #1420
@jtremback is right, this will need to come in the form of an external library. .If you're up for writing one, check out [the Native Module docs](https://facebook.github.io/react-native/docs/nativemodulesios.html#content) and let me know if you need a hand - you can ping me in irc @notbrent or here!

[2015-05-29 02:53] #1420 closed

[2015-05-29 02:56] KJlmfe commented on #1360
I also have this problem.

I implement this page http://www.tmall.com/wh/tmall/act/14242/jfbybk with react-native ListView component, when I run in IPad air(not  Simulator), it crash when I scroll fast or scroll to the bottom.

[2015-05-29 06:12] johanneslumpe commented on #1419
@brentvatne @ide @vjeux Yeah I think I can cook up that module. Will probably use the name @ide suggested. And it will only contain a single polyfill for now, but maybe we can add more in the future.

[2015-05-29 06:17] sahrens commented on #1440
Yeah, just needs a bit more juggling to keep the view alive while animating it away, or maybe delay the removal - not sure which corner cases are harder to deal with...

[2015-05-29 06:28] TYRONEMICHAEL commented on #1410
+1.

[2015-05-29 07:30] bright-sea opened #1442 "[WebView] Is it possible to load local js file in WebView html prop?"
For Example, I put a web/jquery.js file in bundle, then I would like to use:

    var html=`
    <html>
    <script src="web/jquery.js"></script>
    ...`;

then use WebView to set html prop to html.

I tried to set src to jquery in CDN, it works fine. but don't work with above code.

Is it because currently local js in WebView not be supported? Or I miss something at here?

[2015-05-29 08:47] JohnyDays commented on #1442
I'm not sure you can do this, but if you can you would use a file:// protocol, which you would grab from the following snippet (I'm assuming jquery.js is in your xcode project)
[code]

That would return a uri with something like file://something/Devices/abcd-123/caches/bundle/jquery.js which is the absolute path on the device/emulator after compiling your app

[2015-05-29 10:31] JohnyDays commented on #1439
This used to already be the case for symlinked folders, usually created by npm link facebook/watchman#105

[2015-05-29 15:26] jtremback commented on #1437
What is @providesModule?

[2015-05-29 17:24] brentvatne commented on #1442
@bright-sea - I think what we want here is something like:

`<WebView url="web/index.html" />`

Then we just check if the url is http http or not - if not, we do [something like this](http://stackoverflow.com/a/5810930/659988)

Do you want to try submitting a patch for that? cc @JohnyDays

[2015-05-29 17:28] brentvatne commented on #1429
@bparadie - do you have time to submit a PR for this?

[2015-05-29 17:31] kevindeleon opened #1443 "[Swift] Difference in how NSString and String handle null param when exporting Swift module?"
First let me just say I have very little experience with Objective C and Swift.

I've been working on re-creating @jaygarcia's [tutorial](http://moduscreate.com/react_native_custom_components_ios/) using Swift based on the documentation provided on the React Native site and I've run into a bit of an error, but wasn't sure if this was just a problem with Jay's coding, my coding, React Native or a p

[2015-05-29 17:31] brentvatne commented on #1422
Hi @iostalk! Can you explain the use case and provide some sample code for how you would like to use this from the React Native side?

[2015-05-29 17:36] #1407 closed

[2015-05-29 17:48] bparadie commented on #1429
@brentvatne Right now I don't have a lot of time. But I can prepare a PR. First I wanted to know whether there is interest in this change. It looks like there is, correct?

[2015-05-29 17:54] lwansbrough commented on #1378
@brentvatne Best course of action is probably to check any changes made to facebook/css-layout as that was the original source of the issue.

[2015-05-29 17:55] brentvatne commented on #1418
@lzyy - Thanks for the follow up here! I don't know a lot about this area and I'm very curious to what your objective is in replacing the delegate :smile: could you explain?

@nicklockwood @sahrens - you two seem to appear most in the git history for this, did you have any ideas for how this might be extendable?

[2015-05-29 18:06] ide commented on #75
Closing this out because queues and run loops don't mix. Still wish we could use queues in the executor though.

[2015-05-29 18:06] #75 closed

[2015-05-29 18:07] tadeuzagallo commented on #1418
The current approach to use the delegate is to pass it in through `RCTBridgeModuleProviderBlock`, e.g.:

[code]

Where `ExceptionManagerDelegate` implements the `RCTExceptionsManagerDelegate ` protocol.

[2015-05-29 18:10] ide commented on #1443
Can you try `String?` instead of `String`?

[2015-05-29 18:10] #313 closed

[2015-05-29 18:12] jsierles commented on #313
This is (https://www.npmjs.com package/node-gyp)[npm's tool] for compiling native code at install time. This command will report build errors to a file. So, nothing out of the ordinary.

[2015-05-29 18:12] christopherdro commented on #1217
@soheil Were you able to figure this one out?

[2015-05-29 18:13] christopherdro commented on #1310
@donghanji Did this resolve your issue?

[2015-05-29 18:14] brentvatne commented on #1324
@dvine-multimedia - silly me, I didn't search before opening my issue - thanks for the report! Given that I have more notes in the other issue, I'll close this instead

[2015-05-29 18:14] #1324 closed

[2015-05-29 18:14] christopherdro commented on #1265
@donghanji Is this still a continuing problem?

[2015-05-29 18:14] ide commented on #1429
I think so. A good approach to make things configurable without stepping on too many toes could be to define a macro like `RCT_WEBSOCKET_PORT` so that it's as configurable as RCT_DEV, etc.

[2015-05-29 18:15] brentvatne commented on #237
@jsierles #fridaytriage

[2015-05-29 18:15] #237 closed

[2015-05-29 18:15] brentvatne commented on #313
@jsierles #fridaytriage

[2015-05-29 18:17] soheil commented on #1217
yes it was because I had in inside a navigator except that it was one of
two components in the navigator (split screen with map on top and list at
the bottom) so I guess it always assumes there will be a nav bar so it adds
a top padding regardless.

On Fri, May 29, 2015 at 11:13 AM, Christopher Dro <notifications@github.com>
wrote:

[2015-05-29 18:17] brentvatne commented on #1241
Closing as it seems to be fixed! @christopherdro #fridaytriage

[2015-05-29 18:17] #1241 closed

[2015-05-29 18:18] brentvatne commented on #1220
Thanks @henter!

@christopherdro #fridaytriage

[2015-05-29 18:18] #1220 closed

[2015-05-29 18:19] brentvatne commented on #1217
Thanks for the follow up @soheil!

@christopherdro #fridaytriage

[2015-05-29 18:19] #1217 closed

[2015-05-29 18:22] brentvatne commented on #1189
@mvayngrib - thanks for the interesting discussion! if you ended up creating a native module for this, please do share :smile:

[2015-05-29 18:22] #1189 closed

[2015-05-29 18:23] ide commented on #1202
The controlled prop is the semantically correct way to do things but it's not usable from a UX perspective. You can call `setNativeProps` on a ref to the TextInput to directly set its value if desired.

[2015-05-29 18:23] #1202 closed

[2015-05-29 18:24] ide commented on #1210
Please open an issue with an explanation of what you're looking for if this is still an issue for you.

[2015-05-29 18:24] #1210 closed

[2015-05-29 18:27] christopherdro commented on #1161
@soheil Still having this issue?

[2015-05-29 18:28] ide commented on #1419
Sounds like a plan.

[2015-05-29 18:28] #1419 closed

[2015-05-29 18:30] brentvatne commented on #1172
@unknownexception's PR looks great, closing this as we are tracking the issue there!

@christopherdro #fridaytriage

[2015-05-29 18:30] #1172 closed

[2015-05-29 18:31] brentvatne commented on #1378
@lwansbrough - good point, do you have any time today to try that out?

[2015-05-29 18:32] christopherdro commented on #1088
@iceNuts Are you still having this issue?

[2015-05-29 18:34] brentvatne commented on #1093
Very interesting discussion, good to see some options presented here. Given that this is outside of the scope of React Native itself, let's move the discussion [to discuss.react.js.org](https://discuss.reactjs.org/) if there's anything left to be said!

@rborn - feel free to ping us again in this discussion with followup if you do get a chance to test it in the app store!

[2015-05-29 18:34] #1093 closed

[2015-05-29 18:36] ide commented on #1331
Proposal to move things forward: `navigator.product` returns `"ReactNative"` and `navigator.productSub` returns the version e.g. `"0.5.0"`. This is a little different than browsers, which return "Gecko" and "20030107" but we'd be returning useful values in this case.

Relevant docs:
https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID/product
https://developer.mozilla.org/en-US/docs/Web/AP

[2015-05-29 18:38] christopherdro commented on #1063
This might help. http://stackoverflow.com/questions/29683720/react-native-push-notifications-parse

[2015-05-29 18:39] ide commented on #1325
@mintuz do you mean nano as in the editor? not sure where this is coming from. The only mention of nano is unrelated.

[code]

[2015-05-29 18:40] christopherdro commented on #1055
@mvayngrib did you ever get this resolved?

[2015-05-29 18:40] kevindeleon commented on #1443
@ide Yes, I did try that, but it then bombs on the `count()` call because `fileName` is `nil` -- due to it being passed as `null` initially from `index.ios.js`.

I suppose I could write a more complex `if` statement checking for `nil` before checking for `count()`, but in reality...the Swift function expects a String, and it should get a String (because that param is really not optional...it has t

[2015-05-29 18:41] brentvatne commented on #1178
@nicklockwood - I like that idea! @lukasreichart - any interest in submitting a PR?

[2015-05-29 18:45] mvayngrib commented on #1055
yea, sadly I didn't have time to dig in too deep so i hacked https://github.com/facebook/react-native/blob/master/packager/react-packager/src/DependencyResolver/haste/DependencyGraph/index.js#L121

from
[code]

to

[code]

and everything worked

[2015-05-29 18:49] christopherdro commented on #1013
Here's a example with embedding a youtube video and setting the height and width of the content container.
https://rnplay.org/plays/6JolNQ

[2015-05-29 18:51] christopherdro commented on #1000
@jaygarcia Did you get this resolved?

[2015-05-29 18:54] ide commented on #1443
You should add the nil check since the Swift function can receive nil. That is, `String?` is the correct type unless you assert in JS that `typeof value === 'string'` before passing it down to Obj-C.

Jay's example works because `NSString *` in Obj-C means the function can take a string or a nil value. To express that it takes only a string you can write `(nonnull NSString *)` but I don't think th

[2015-05-29 18:55] lwansbrough commented on #1378
@brentvatne Yeah I can take a look in a bit

[2015-05-29 18:56] jsierles commented on #280
Here's a README:

Use react-native-cli to initialize a working starter React Native app using the latest react-native version in npm. This package should be installed globally.

Usage:

[code]

[2015-05-29 18:57] christopherdro commented on #879
@peterprokop
Did the solution from @oblador work for you?

[2015-05-29 18:58] ide commented on #280
@jsierles want to add README.md to https://github.com/facebook/react-native/tree/master/react-native-cli? npm should automatically take care of the rest when it comes to displaying the docs on npmjs.com.

[2015-05-29 18:58] brentvatne commented on #229
Closing! Let us know if the problem comes back

@jsierles #fridaytriage

[2015-05-29 18:58] #229 closed

[2015-05-29 18:59] christopherdro commented on #861
@stuartlynn Are you still having this issue?

[2015-05-29 19:01] christopherdro commented on #816
@manuelkiessling  are you still having this issue?

[2015-05-29 19:01] jsierles commented on #280
#1444

[2015-05-29 19:02] brentvatne commented on #280
Nice :smile:

[2015-05-29 19:02] #280 closed

[2015-05-29 19:06] christopherdro commented on #771
Not sure if this was unavailable before but now you can set the the property `bounces` to false.
Here is an example.
https://rnplay.org/plays/E_Nbsw

[2015-05-29 19:09] brentvatne commented on #1412
Being tracked in #1382 now :smile: thanks for the report @dalinaum

[2015-05-29 19:09] #1412 closed

[2015-05-29 19:09] jsierles commented on #1429
Should this also include configuring the IP address (replacing localhost)?

[2015-05-29 19:11] jsierles commented on #311
Follow the discussion on configuring IP/port here: #1429

[2015-05-29 19:12] JohnyDays commented on #1442
@brentvatne I don't have access to a MAC over the weekend, if noone takes it up until monday I'll give it a shot.
However I don't think that's what @bright-sea was asking for! His question was more about requiring a <script> tag inside of the html(which is inlined and dynamically generated), where the source script was a file required inside the app bundle. Though perhaps you just explained how to

[2015-05-29 19:13] kevindeleon commented on #1443
Thanks @ide

Is that the more appropriate way of doing it, rather than setting the state of `textInputValue` to an empty string initially? I guess using `String?` and checking for nil makes things a bit more bulletproof on the back-end?

[2015-05-29 19:14] brentvatne commented on #295
Looks like this has been fixed! Thanks for the report

[2015-05-29 19:14] #295 closed

[2015-05-29 19:15] bright-sea commented on #1442
@brentvatne  - set url or html to an local html file is what I want. What I need to put some js files(css files and any other web assets) into bundle, then in html template we can use these files so that we can do any kinds of works from there.

@JohnyDays  - Thanks, your suggestion helps me. I use [react-native-fs](https://github.com/johanneslumpe/react-native-fs) to get the path of main bundle,

[2015-05-29 19:15] #311 closed

[2015-05-29 19:15] brentvatne commented on #311
@jsierles #fridaytriage :smile:

[2015-05-29 19:17] ide commented on #330
iOS 6 usage is really low (2% according to https://developer.apple.com/support/appstore/) and there were major changes to the UI and JavaScript environment from 6 to 7. To my knowledge none of Facebook's apps are targeting iOS 6 anymore so the biggest contributor to React Native is not going to be testing on iOS 6. So practically speaking while you might be able to get RN running on iOS 6 it might

[2015-05-29 19:17] #330 closed

[2015-05-29 19:17] brentvatne commented on #1442
@bright-sea - the second option I proposed would help:

`<WebView baseURL="/web" html={html} />`

By setting the baseURL, like in the [example I linked to on StackOverflow](http://stackoverflow.com/questions/5733883/loading-javascript-into-a-uiwebview-from-resources/5810930#5810930), the WebView knows where to look for the css/js that you link to :smile:

The `html` var I'm using there is just the

[2015-05-29 19:18] brentvatne commented on #1442
@JohnyDays - that would be great! looking forward to seeing it when you have time.

Given that this issue has been solved for now I'll close this, but I hope to see a PR to add something like what I mentioned above to WebViews - I think that would be very useful.

[2015-05-29 19:18] #1442 closed

[2015-05-29 19:20] brentvatne commented on #277
@amasad - Would this be a websocket polyfill that relies on polling? Is this still an issue that is worth following up on? It seems like the built in WebSocket Native Module works well :smile:

[2015-05-29 19:22] bright-sea commented on #1442
@brentvatne yes, you are right! Your proposal will be more elegant.

[2015-05-29 19:23] brentvatne commented on #1380
@vjeux @spicyj - any thoughts on this?

[2015-05-29 19:27] brentvatne commented on #1379
@ccheever - Have any time to put together a PR to fix this? High quality error messages are very important for dev workflow :smile:

[2015-05-29 19:28] jsierles commented on #310
Stylesheets are light wrappers around basic objects, and there's no standard way to tell if a key exists in one.

If this is a big problem, you might call your stylesheet from a wrapper method to check for the keys existence, or keep styles short and close to your component for reference.

[2015-05-29 19:30] brentvatne commented on #1362
@TYRONEMICHAEL - I opened issue #1410 to address the documentation problems. Check out [the ScrollResponder source](https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollResponder.js) for more info on these events - there are some pretty good comments documenting how they work.

Also, let me know if you come up with custom horizontal ScrollView pager, would be curious to

[2015-05-29 19:30] #1362 closed

[2015-05-29 19:34] ide commented on #1443
Either could work equally well. I think it's really up to your preference because your RN module (the JS and native code together) is a black box since people will use your module through its JS interface. It doesn't affect them whether your JS passes null values to native code that does a `nil` check, or if your JS coerces null to an empty string and ensures that the native code never receives `n

[2015-05-29 19:35] chandu0101 opened #1445 "[MapView] Add callback for MapView annotation tap"
In my app i want to display bunch of locations on mapview and on each annotation click i want to display alert box with actual address and a button to getdirections.

[2015-05-29 19:37] ide commented on #310
Additionally, it is a feature of the `style` prop that you can pass it null/falsy values so you can write code like this:
[code]

The solution to detecting undeclared property access is to use a type checker like flow.

[2015-05-29 19:37] #310 closed

[2015-05-29 19:38] kevindeleon commented on #1443
Sounds good @ide, and thanks for the explanation.  Going to close this as it seems to be a syntax/convention issue and not so much a problem in React or Swift.

[2015-05-29 19:38] #1443 closed

[2015-05-29 19:41] jsierles commented on #334
This is possible using the Dimensions class to calculate the width of the box from the viewport dimensions. However, the above solution is preferred as it would scale across devices and orientations. [Here's a more complex example of a grid view](https://github.com/lucholaf/react-native-grid-view/blob/master/index.js#L13).

[2015-05-29 19:57] JohnyDays commented on #1442
Oops apparently having a ````<script>```` tag in your comment hides the rest, apologies!

[2015-05-29 20:06] brentvatne commented on #1445
Hi @chandu0101 - this type of question is best suited for StackOverflow - if this turns out to be a bug, feel free to create an issue here. Thanks!

[2015-05-29 20:12] stuartlynn commented on #861
It seems to be working now. Will close the issue. Thanks for checking in

[2015-05-29 20:12] #861 closed

[2015-05-29 20:14] jsierles commented on #274
Working on a PR for documentation.

[2015-05-29 20:15] brentvatne commented on #1159
Thanks for the follow up @rxb!

I'm going to close this issue for now as it looks like the initial issue has been solved.

[2015-05-29 20:15] #1159 closed

[2015-05-29 20:16] christopherdro commented on #861
:+1:

[2015-05-29 20:17] #86 closed

[2015-05-29 20:18] ide commented on #69
The new module system from awhile back addressed most of what this issue was about. Closing out.

[2015-05-29 20:18] #69 closed

[2015-05-29 20:20] christopherdro commented on #1055
@mvayngrib  How were you originally defining the requirements? Would you  be able to provide an example project where this error occurs. That would help out a lot.

[2015-05-29 20:26] brentvatne commented on #1161
Thanks @soheil! [I put that example on rnplay](https://rnplay.org/plays/In9Sbg?autoplay=true).

[2015-05-29 20:30] brentvatne commented on #1376
@myusuf3 - this seems like an iOS related question, not so much React Native - perhaps give StackOverflow a try :smile:

[2015-05-29 20:30] #1376 closed

[2015-05-29 20:33] brentvatne commented on #1418
@tadeuzagallo - that seems like a very reasonable approach, @lzyy does that work for you? If not, let me know why and we can discuss options.

[2015-05-29 20:33] #1418 closed

[2015-05-29 20:36] brentvatne commented on #1371
Good call @ide, made a PR for that. Until then, @threepointone's workaround should fix this for anyone who has the issue!

[2015-05-29 20:36] #1371 closed

[2015-05-29 20:39] chandu0101 commented on #1445
its not a bug , i believe its an enhancement because i don't see any prop that handles this http://facebook.github.io/react-native/docs/mapview.html#content

[2015-05-29 20:40] mvayngrib commented on #1055
here's a sample project: https://github.com/mvayngrib/breakdotdep

all i did was:

[code]

then hit Run and open Chrome Dev Tools and see:

[code]

[2015-05-29 20:41] ide commented on #396
This is present in the docs: http://facebook.github.io/react-native/docs/nativemodulesios.html#sending-events-to-javascript

[2015-05-29 20:41] #396 closed

[2015-05-29 20:45] #1071 closed

[2015-05-29 20:45] #1104 closed

[2015-05-29 20:45] #1100 closed

[2015-05-29 20:46] #1089 closed

[2015-05-29 20:46] soheil commented on #1217
Although I hacked my code to work I think this is still an issue that needs
to be fixed though, in case others run into it. Basically a view should not
alway add extra padding on top when it's inside a navigator, it should only
do that when it's the first element (top element.)

On Fri, May 29, 2015 at 11:19 AM, Brent Vatne <notifications@github.com>
wrote:

[2015-05-29 20:47] brentvatne commented on #1087
Pretty comprehensive answer there from @ide, nice one :smile:

[2015-05-29 20:47] #1087 closed

[2015-05-29 20:49] brentvatne commented on #1074
[This works fine now](https://rnplay.org/plays/pALAlg?autoplay=true)

[2015-05-29 20:49] #1074 closed

[2015-05-29 20:49] #1040 closed

[2015-05-29 20:51] brentvatne commented on #1036
[This works fine now](https://rnplay.org/plays/vx9deg?autoplay=true)

Thanks @a2 :smile:

[2015-05-29 20:51] #1036 closed

[2015-05-29 20:52] #1033 closed

[2015-05-29 20:52] brentvatne commented on #1032
Nice one @oblador!

[2015-05-29 20:52] #1032 closed

[2015-05-29 20:54] brentvatne commented on #1025
This is fixed now!

[2015-05-29 20:54] #1025 closed

[2015-05-29 20:54] jaygarcia commented on #1436
So far, this is the only thing that work (Lexical scoping).

So, to currently use ES6-style classes with RN 0.4.4, I have to muddy up  my code with adhoc binding.

I don't see the value at the current time :(

[code]

[2015-05-29 20:54] brentvatne commented on #1022
@arthuralee - if you're still interested in doing this, feel free to open a PR! It would be very welcome. Closing the issue for now.

[2015-05-29 20:54] #1022 closed

[2015-05-29 20:54] jsierles commented on #274
PR for review at #1449. If we want this documented before the official release is out, I can update it to reference both transformers.

[2015-05-29 20:55] brentvatne commented on #1013
I highly recommend checking out @christopherdro's link! It solves the problem and is fun ;)

[2015-05-29 20:55] #1013 closed

[2015-05-29 20:56] arthuralee commented on #1022
Absolutely. Didn't get time to work on this because I was busy finishing up
school.

On Friday, May 29, 2015, Brent Vatne <notifications@github.com> wrote:

--
Arthur Lee

[2015-05-29 20:57] brentvatne commented on #1259
@wan54's comment address the most common reason for seeing this issue. @muhasturk if this is still happening, ping me and I'll reopen this issue.

[2015-05-29 20:57] #1259 closed

[2015-05-29 20:57] vjeux commented on #1380
Can you show what the error is? There's no reason it shouldn't be clear. It should be something along the lines of `variable ListView is not defined` or something

[2015-05-29 20:59] brentvatne commented on #230
Discussion went a bit off track here, I believe the original question has been answered. Closing, feel free to ping me if I'm off base here and I'll re-open.

[2015-05-29 20:59] #230 closed

[2015-05-29 21:00] #364 closed

[2015-05-29 21:01] lwansbrough commented on #771
@christopherdro Implemented by yours truly in https://github.com/facebook/react-native/pull/767

:)

[2015-05-29 21:01] #771 closed

[2015-05-29 21:02] brentvatne commented on #1364
@marcshilling - I'm going to close this issue for now, if you're still having the issue then ping me with 1) whether this is happening on a plain `react-native init` project 2) if not, somewhere that we can access the source for a project where this occurs

[2015-05-29 21:02] #1364 closed

[2015-05-29 21:02] jsierles commented on #363
Is this in the works or should I take a look at packaging it?

[2015-05-29 21:05] brentvatne commented on #1360
@xiaodao @KJlmfe - can you link us to a public repo where we can see the bug in action? Thanks!

cc @tadeuzagallo

[2015-05-29 21:05] christopherdro commented on #771
:+1:

[2015-05-29 21:06] #819 closed

[2015-05-29 21:06] #821 closed

[2015-05-29 21:07] #855 closed

[2015-05-29 21:07] #253 closed

[2015-05-29 21:09] jsierles commented on #341
@jaygarcia how's the packager working for you now?

[2015-05-29 21:10] brentvatne commented on #1010
Can we close this @tadeuzagallo?

[2015-05-29 21:11] brentvatne commented on #1009
Can we close this @nicklockwood, @ide?

[2015-05-29 21:11] ide commented on #1083
Reopening since there's a PR attached.

[2015-05-29 21:13] jwyld commented on #1010
Based upon changes on master (actually in latest release), things are good for my needs.

[2015-05-29 21:13] jwyld commented on #1009
Based upon changes on master (actually in latest release), things are good for my needs.

[2015-05-29 21:14] tadeuzagallo commented on #1010
:+1:

[2015-05-29 21:22] brentvatne commented on #1352
Hi @liubko! Thanks for the great example.

I was able to fix it [in this example](https://rnplay.org/plays/2iBPdA?autoplay=true) - notice that I changed the `<View>` in your `ThirdButton` to include `{...this.props}`

[code]

The reason for this is that TouchableWithoutFeedback will set responder props on that component, but `ThirdButton` is just a composite component with no backing UIView, so I

[2015-05-29 21:22] #1352 closed

[2015-05-29 21:23] brentvatne commented on #1349
Seems reasonable, can you submit a PR @oveddan?

[2015-05-29 21:24] brentvatne commented on #1345
@arunshan - if that issue persists, please open a new issue that describes it in detail and your best efforts at reproducing it :smile: - thanks for reporting!

[2015-05-29 21:24] #1345 closed

[2015-05-29 21:24] jsierles commented on #421
As discussed in #423, a proper implementation of this is being worked on internally at Facebook.

[2015-05-29 21:25] brentvatne commented on #1343
This would be a nice feature to have, PR welcome

[2015-05-29 21:27] #421 closed

[2015-05-29 21:28] brentvatne commented on #421
[This is actually working now](https://rnplay.org/plays/TTCZcA?autoplay=true)

Also see [the Transform style docs](https://facebook.github.io/react-native/docs/transforms.html#content)

[2015-05-29 21:29] jsierles commented on #412
Yes, your sample should work. The issue above was caused by the component not being exported, as you mentioned. Also, only for the UIExplorer examples, the component needs to be wrapped with createExamplePage().

[2015-05-29 21:29] brentvatne commented on #1344
@arunshan - looks like a simple change, can you submit a PR?

[2015-05-29 21:30] #412 closed

[2015-05-29 21:30] #408 closed

[2015-05-29 21:31] bparadie commented on #1429
@jsierles Yeah, I think IP address should be configurable as well.

[2015-05-29 21:36] brentvatne commented on #1342
@josebalius - thanks for the report!

@a2 - here's a [runnable demo of the bug](https://rnplay.org/plays/OHmCJQ?autoplay=true)

[2015-05-29 21:37] #1266 closed

[2015-05-29 21:38] brentvatne commented on #1251
@pukhalski - closing this issue as it has been inactive for quite a while :smile: - if this isn't fixed in 0.5.0-rc can you please post a runnable example [as per our contributing guidelines](https://github.com/facebook/react-native/blob/master/CONTRIBUTING.md#reporting-new-issues)? It helps us a lot narrow down the problem

[2015-05-29 21:38] #1251 closed

[2015-05-29 21:39] jtremback commented on #1396
:+1:

[2015-05-29 21:39] brentvatne commented on #1236
Closing because no follow-up about reproducing.

[2015-05-29 21:39] #1236 closed

[2015-05-29 21:40] brentvatne commented on #1222
Closed in favour of @ide's PR, thanks @jtremback!

[2015-05-29 21:40] #1222 closed

[2015-05-29 21:40] brentvatne commented on #1221
Thanks @bretrouse for the followup!

[2015-05-29 21:40] #1221 closed

[2015-05-29 21:41] brentvatne commented on #1244
#1428 is a fix for this! Thanks for reporting!

[2015-05-29 21:41] #1244 closed

[2015-05-29 21:43] brentvatne commented on #1340
@cxfeng1 - thanks for the report! Can you try this with the latest master branch (npm i facebook/react-native#master --save) and see if that fixes it? Ping me if it is not fixed and I'll reopen the issue!

[2015-05-29 21:43] #1340 closed

[2015-05-29 21:45] brentvatne commented on #1323
@NathanFlurry - thanks for the list! If anyone wants to pick items off of this and implement them, that would be helpful

[2015-05-29 21:48] nicklockwood commented on #1235
You may wish to keep this open due to the bug I mentioned (clipping to the outside of border rather than inside).

[2015-05-29 21:49] myusuf3 commented on #1376
@brentvatne I totally disagree. This isn't something I am doing incorrectly. Correct me if i am wrong, but react isn't able to handle modals appearing on top of it unexpectedly granted the push is coming from some native code.

[2015-05-29 21:50] #1009 closed

[2015-05-29 21:51] brentvatne commented on #1009
Thanks @jwyld!

[2015-05-29 21:51] #1010 closed

[2015-05-29 21:53] brentvatne commented on #1380
![](http://url.brentvatne.ca/1fOaE.png)

vs

![](http://url.brentvatne.ca/SCGa.png)

[2015-05-29 21:54] jsierles commented on #407
@oaleynik @asavin This is working for me on Chrome and Chrome Canary, with RN 0.4.4.

[2015-05-29 21:57] brentvatne commented on #1276
@yelled3 - If you'd like to add an example to the docs that would be *awesome*! Layout is an interesting idea but ListView already needs some other work related to perf so this would be lower priority. A community module for this would be so fantastic though! Ping me on irc or twitter @notbrent if you need a hand with it

[2015-05-29 21:57] #1276 closed

[2015-05-29 21:57] #1270 closed

[2015-05-29 21:57] jtremback commented on #883
Is there some solution to this? I've written a script that switches these by finding and replacing but it seems janky.

[2015-05-29 21:57] #407 closed

[2015-05-29 21:58] #390 closed

[2015-05-29 22:04] #207 closed

[2015-05-29 22:04] jsierles commented on #389
After some tests using eval, I couldn't get it to work for hot reloading an RN app from javascript. It's probably a safer solution to load a new native js context. [Here's some sample code](https://gist.github.com/jsierles/53fd0514d6f48e0c5872) from the http://rnplay.org iOS app that implements this in Objective C and exports a method for its use.

You could use a similar method to load a download

[2015-05-29 22:05] vjeux commented on #94
@Kureev implementated blur view: https://github.com/Kureev/react-native-blur

[2015-05-29 22:05] #94 closed

[2015-05-29 22:07] #389 closed

[2015-05-29 22:08] jsierles commented on #385
We have changelogs now here: https://github.com/facebook/react-native/releases

[2015-05-29 22:09] jsierles commented on #385
Better changlogs are on the way with the upcoming 2 week release process.

[2015-05-29 22:09] brentvatne commented on #1316
@romanonthego - strange one there, could you post a small project that reproduces this so we can clone and check it out? it helps a lot :smile:

[2015-05-29 22:11] brentvatne commented on #1325
Are you still having this issue @mintuz @onlymejosh? Is your shell $EDITOR or $REACT_EDITOR set to `nano` by any chance?

[2015-05-29 22:14] brentvatne commented on #1319
@PhilippKrone - going to close this issue for now, if you're still having this issue it would be *awesome* if you could reopen with a runnable example [as per contributing guidelines](https://github.com/facebook/react-native/blob/master/CONTRIBUTING.md#reporting-new-issues)

[2015-05-29 22:15] brentvatne commented on #1320
These types of how-to questions are best suited for StackOverflow - if you run into a bug in the process then please report that here! :smile:

[2015-05-29 22:15] #1320 closed

[2015-05-29 22:16] liubko commented on #1352
make sense, thank you

[2015-05-29 22:32] brentvatne commented on #1234
Looks like a bug to me, @lwansbrough can you test this out when you pull the newest version of css-layout?

Runnable example that you can just copy and paste in: [here](https://rnplay.org/plays/QsaXWA/edit)

[2015-05-29 22:33] brentvatne commented on #1287
[Example here](https://rnplay.org/plays/rwvHNg?autoplay=true)

Could you fork this and modify it to produce the same bug?

Thanks @oblador!

[2015-05-29 22:33] jsierles commented on #384
Working example of both centered image and transparent text backrground here: https://rnplay.org/plays/PCqivA

[2015-05-29 22:34] #384 closed

[2015-05-29 22:34] #380 closed

[2015-05-29 22:36] vjeux commented on #1380
Cannot find the variable ListView seems super explicit to me. This is the same exception you've got when you use a variable you don't have.

Maybe I should update the message on Image and Text to be "Can't find variable Text" so that both look the same?

[2015-05-29 22:37] #385 closed

[2015-05-29 22:37] #462 closed

[2015-05-29 22:39] brentvatne commented on #1310
@yangxf's [answer is correct](https://rnplay.org/plays/zibrKw?autoplay=true)

[2015-05-29 22:39] #1310 closed

[2015-05-29 22:42] brentvatne commented on #458
I believe this is no longer an issue

[2015-05-29 22:42] #458 closed

[2015-05-29 22:43] vjeux commented on #309
Someone even made a countdown out of it :p
http://www.reactnativeandroid.com/

[2015-05-29 22:45] #334 closed

[2015-05-29 22:51] jsierles commented on #449
I see the shadow now on the iPhone 5s simulator: https://rnplay.org/plays/6_nkSA

Also see the shadow on the iPhone 6 device.

@oisinlavery Still seeing this issue?

[2015-05-29 23:27] nicklockwood commented on #1339
Maybe we should just hard-code the values in this case. They've never changed since the date picker was first introduced AFAIK, and if they ever do we can add some OS-based branching.

[2015-05-29 23:29] nicklockwood commented on #1339
We've talked about adding a lazy initialization feature for bridge modules, but that wouldn't help here really - constants have to be fetched at init time s they're available immediately without needing a round trip.

[2015-05-29 23:36] jtremback opened #1451 "[Packager] How to configure Babel?"
My code is using async/await. How can I configure the Babel instance in the packager?

[2015-05-29 23:44] ccheever commented on #174
This no longer happens. Closing the issue.

[2015-05-29 23:45] #174 closed

[2015-05-29 23:46] jtremback commented on #1451
I could work on a PR for this. Does a react-native config section in package.json sound good to people?

[2015-05-30 00:22] brentvatne commented on #1352
@liubko - if you would like to update the docs for `TouchableWithoutFeedback` to explain this, that would be great :smile:

[2015-05-30 00:23] brentvatne commented on #1376
@myusuf3 - sorry I don't quite understand the issue because there is not a code example. If you can provide one that would help a lot and then I would be happy to reopen :smile:

[2015-05-30 00:24] brentvatne commented on #1022
No problem, whenever you get the time :+1: Thanks @arthuralee

[2015-05-30 00:26] brentvatne commented on #1217
@soheil - happy to reopen if we can get an example on 0.5.0-rc up on rnplay :smile:

[2015-05-30 00:27] brentvatne commented on #1445
@chandu0101 - reopened! any interest in submitting a PR for this?

[2015-05-30 00:50] joewood commented on #1046
Having the same issue. I'm wondering if ShouldCapture events should return true if the movement is more horizontal than vertical. The documents are not great for the PanResponder API.

[2015-05-30 00:50] brentvatne commented on #1380
I think the line that @ccheever is referring to that seems most useful is "You probably forgot to require x"

[2015-05-30 00:52] brentvatne commented on #449
I see the shadow on my iPhone 5s. Let's reopen this if anyone has the issue again.

[2015-05-30 00:52] jtremback commented on #1451
How about having the packager look for a `.babelrc`, or in `package.json` like the standalone Babel does? It could fall back to the existing settings if one is not found.

[2015-05-30 00:54] brentvatne commented on #1451
I believe I see that being mentioned elsewhere but can't seem to find it cc @ide

[2015-05-30 01:18] jtremback commented on #1451
Is there any `react-native` specific reason not to use any of the experimental transforms?

[2015-05-30 01:20] ide commented on #1451
@brentvatne were you thinking about this? https://twitter.com/amasad/status/604057791859445760

[2015-05-30 01:46] jessepollak opened #1452 "[Perf] Memory leak in profiler"
When enabling "Start Profiler" in the Debug menu, there's a consistent memory leak. The primary culripts seem to be `__NSDictionaryI`, `CFString (immutable)` and `CFNumber`. If you disable the profiler, the leak goes away.

![screenshot 2015-05-29 18 46 11](https://cloud.githubusercontent.com/assets/1097953/7895163/0f133b6e-0633-11e5-85ce-ebac20259583.png)

[2015-05-30 01:52] ide commented on #1452
cc @tadeuzagallo

[2015-05-30 02:14] joewood commented on #1266
Is the temporary UIView solution being tracked in a ticket? I'm doing some OpenGL work and the overhead is non-trivial. Would be good to know if a custom reconciler is possible.

[2015-05-30 02:26] jessepollak commented on #79
+1 for this occurring in dev mode

[2015-05-30 02:37] donghanji commented on #1310
thanks everyone ^_^.sorry to being late.
change the code ,like this:
<pre>
var EventSegmentedControlExample=React.createClass({
  getInitialState(){
    return {
      values:['One','Two','Three'],
      value:'Not selected',
      selectedIndex:undefined
    };
  },
  render(){
    return(
      &lt;View&gt;
        &lt;Text style={styles.text}&gt;
          Value:{this.state.value}
        &lt;/

[2015-05-30 02:50] jessepollak opened #1454 "[Perf] Memory leak with requestAnimationFrame and named anonymous function"
In a component I've created, I am doing an animation that uses recursion and `window.requestAnimationFrame`. The following code snippet causes this memory leak:

[code]

**EDIT: This fix doesn't work. It just causes the code to crash which I somehow missed (but fixes the leak, lol).**

~~Now, if we remove the `var` and put the named anonymous function in the global scope...~~

[code]

~~Voila, the

[2015-05-30 02:53] jessepollak commented on #1454
NEVERMIND! I wasn't paying enough attention — the fix just throws an error.

[2015-05-30 03:42] tadeuzagallo commented on #1452
@jessepollak What were you running? I just profiled running UIExplorer and my graph wasn't quite as impressive as yours. So it'd be nice to know what was happening during the profiling so I can have a better idea.

But what I can anticipate is that the profiler implementation (if you haven't looked into it) is the simplest possible, it has an array where it stores all the calls, the calls are repr

[2015-05-30 03:48] brentvatne commented on #1266
@joewood my understanding is that this is an ongoing effort that is happening in parallel with and in part driven by Android development - I'm not sure there is so much value in having an open ticket, but if you like I can reopen this.

[2015-05-30 03:49] brentvatne commented on #1451
@ide that's the one :) thanks

[2015-05-30 04:22] chandu0101 commented on #1445
thank you for reopen , sorry i have limited skills in javascript and objective-c, i am from scala.js land . Hope some one from community will take care of this ...

[2015-05-30 04:31] tadeuzagallo commented on #1439
I added a rule to the packager to ignore node_modules in order to unbreak the test builds on Travis, but I understand that's not ideal, sorry about that.

[2015-05-30 04:40] tadeuzagallo commented on #1454
There's indeed a memory leak, after letting the app run for ~90s I noticed an increase in the memory used of ~10mb (40%), but from what I profiled with Xcode, it seems that it's retained by JS. I can see the garbage collection is running but apparently it doesn't collect all the memory. I'll profile it on the chrome debugger soon and update it here.

[2015-05-30 05:06] jtremback opened #1456 "[Packager] Source maps do not seem to work in Chrome"
Getting stacktraces like this:

[code]

However, the redbox on the phone is showing the right source files.

[2015-05-30 05:45] Rudolph-Miller commented on #309
:laughing:

[2015-05-30 06:27] jtremback commented on #1451
Modifying the config object in `packager/transformer.js` doesn't seem to change the settings. Maybe this is an error on my part.

[2015-05-30 06:40] peterprokop commented on #879
@christopherdro haven't tried it.
Used something like
`/usr/libexec/PlistBuddy -c "Set CFBundleVersion $TRAVIS_BUILD_NUMBER" ./iOS/Info.plist`
instead.

[2015-05-30 06:43] oveddan commented on #1349
Sure I can work on it.

[2015-05-30 07:11] johanneslumpe commented on #1419
Published as `react-native-browser-polyfill`!

[2015-05-30 07:29] ide commented on #1419
yay https://github.com/johanneslumpe/react-native-browser-polyfill

[2015-05-30 08:24] ide opened #1459 "[Text] Text is nondeterministically rendered on one line"
After the Friday sync (though the Thursday sync could be to blame too), this text rendering bug appeared where text that should wrap was rendered on a single line. Notably the layout of the screen is correct, it's just the text drawing that's wrong. Refreshing the bridge and root view made the issue go away.

Screenshot (drop shadow was applied after screenshotting):
![text](https://cloud.githubus

[2015-05-30 08:46] ide commented on #1459
These are `<Text>` components that don't set a max number of lines. I'm not sure what caused this bug but one hypothesis is that when the NSTextStorage for the RCTText view is created in `uiBlockToAmendWithShadowView:`, the frame of the shadow view is somehow incorrectly very wide. The NSLayoutManager would think there is enough room to draw the text on one line.

[2015-05-30 08:48] nicklockwood commented on #1459
This was a consequence of the text multithreading crash fix. I landed a fix for this yesterday, but it must have just missed the branch cut.

[2015-05-30 08:51] ide commented on #1459
That's great to hear. I'll close this out.

[2015-05-30 10:31] checkraiser opened #1460 "How to test React Native component with Jest ?"
Do you know how to use Jest to test React Native component instead of integration test using XCTest ?

[2015-05-30 11:44] Dharmoslap opened #1461 "[Misc] Debugging React Native in browser"
The good thing about front-end web technologies is that there are a lots of people who know how to quickly debug them just in the browser using DOM inspector. What is the point about making mobile application with CSS, if I can't use the benefit of DOM inspector? Alright, I can just follow the docs + common sense and hope that everything will always just work, but there will be for sure situations

[2015-05-30 16:10] brentvatne commented on #1460
Dup: https://github.com/facebook/react-native/issues/700

[2015-05-30 16:10] #1460 closed

[2015-05-30 16:22] checkraiser commented on #1460
Jest uses `contextify`, i install jest with `npm install -g jest-cli` . How to run the test with `react-native` ?

[2015-05-30 16:29] browniefed opened #1462 "[ART] Art and Pattern w/ Images"
Just saw that Pattern hasn't been add yet in the react-native art implementation.
[code]
Any idea when this will be added, would love to take advantage of it.

Or any other recommendations on how to render an Image to the Surface

[2015-05-30 16:37] brentvatne commented on #1460
@checkraiser - can you ask that question in the issue I mentioned above? Ideally we would keep all related conversations in one place

[2015-05-30 16:38] brentvatne commented on #700
I think we need a section in the docs about how to test your React Native components

[2015-05-30 16:39] jessepollak commented on #1452
That makes total sense to me.

I'm running a component inside of an already existing app. There are no long running animations or anything like that going on in the JS (I've disabled the one that is causing #1454). The only animating thing is a native UIView that I'm using which uses UIView animations, but I don't think that should affect the JS profiler.

Can you give me a little more depth/direc

[2015-05-30 16:41] jessepollak commented on #1452
One other note: all of the memory gets cleared when you do "Stop Profiler", so that definitely points to it as the culprit.

[2015-05-30 16:47] brentvatne commented on #1461
I would argue that is not *the* good thing but *one of the* good things about it. You get many benefits of using CSS-like styles in React Native :smile: - such as familiar syntax, Flexbox layout, etc. Additionally, inspecting CSS should be much less of an issue in React Native where you must use inline styles, because you don't have to worry about the cascade - so you should just be able to look a

[2015-05-30 16:59] jessepollak commented on #1454
How did you determine that it's being retained by JS? The primary culprits seem to be 4kb and 8.5kb mallocs, but to be honest I'm not really sure where those come from. Screenshot for me attached (running in a iPhone 6 simulator on my Macbook Pro).

![screenshot 2015-05-30 09 54 47](https://cloud.githubusercontent.com/assets/1097953/7898350/395111ba-06b2-11e5-8ce8-46bf2c05fdd0.png)

[2015-05-30 17:47] naoufal commented on #700
@brentvatne I'd be glad to help if you guys think the approach here is satisfactory. naoufal/react-native-progress-hud#1

[2015-05-30 17:49] jwyld opened #1463 "[Bridge] RCTRootView and RCTBridge can only be created with URL"
Going through the work of providing a URL to the source is actually slower (noticeably so) for a situation when I have the JS string already.

Speed of startup is very important for me.  I have the JS code mapped from disk and in Unicode format already.  If I could hand the string I have to the root view creation or to a bridge and then into a root view, this would be a huge win for me.  This woul

[2015-05-30 18:08] brentvatne commented on #1277
@dsibiski - any interest in updating the [Embedded App](https://facebook.github.io/react-native/docs/embedded-app.html#content) docs to reflect your approach? It seems like you have a good amount of experience with it :smile:

@nicklockwood

Should we spin this off into a separate issue?

[2015-05-30 18:15] tadeuzagallo commented on #1452
@jessepollak When you finish a profile it'll convert all the data to JSON, following the format specified by trace-viewer, in the document I've linked above (https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/preview in case you missed).
Then it saves this JSON dump on your `/tmp` folder, and will try to run trace-viewer's `trace2html` command, if it's in your path (or

[2015-05-30 18:20] brentvatne commented on #1461
cc @vjeux

[2015-05-30 18:31] nicklockwood commented on #1277
You might be interested in the new `RCTContentDidAppearNotification` in the latest release btw :-)

[2015-05-30 18:35] tadeuzagallo commented on #1454
You have to mark the generations, otherwise you're seeing the memory used by the whole app.
So you mark a generation when the app starts up, and other after a while, and sees the difference:

![screen shot 2015-05-30 at 19 26 44](https://cloud.githubusercontent.com/assets/764414/7898758/2203fdd8-0702-11e5-9e1f-4d6fc6818675.png)

Then you can check where was the memory allocated:

![screen_shot_201

[2015-05-30 18:37] brentvatne commented on #700
@naoufal - that would be great! can you write up a draft for that and submit a PR? I'll review and augment as necessary

[2015-05-30 19:16] brentvatne commented on #1349
Awesome :smile:

[2015-05-30 20:03] brentvatne commented on #1339
Hardcoded values seem to make sense here, it would only become an issue if it were to change in some new release and then there would be different values for different iOS versions. But as it stands now this seems reasonable!

[2015-05-30 20:04] brentvatne commented on #1341
@Dharmoslap - makes sense. Unfortunately nobody on the team is currently working on NavigatorIOS because it is not used internally - if you'd like to submit a PR for this it would be welcome!

[2015-05-30 20:18] brentvatne commented on #1240
@opolyo01 - the geolocation module uses `CALocationManager`, and the [startUpdatingLocation](https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CLLocationManager_Class/index.html#//apple_ref/occ/instm/CLLocationManager/startUpdatingLocation) method when you call `watchPosition`.

From the docs on it:

[code]

`distanceFilter` is set to `kCLLocationAccuracyHundredMeters` -

[2015-05-30 20:25] brentvatne commented on #1233
Thanks @arypurnomoz - I added a note in https://github.com/facebook/react-native/commit/39b2342ab9b394bbf7755749677facf97ab8f8a0

[2015-05-30 20:25] #1233 closed

[2015-05-30 20:28] brentvatne commented on #1206
@nicklockwood - your name seems to be the one most closely associated with this code, any insight?

[2015-05-30 20:29] brentvatne commented on #1294
Collapsing #1206 into this as well

[2015-05-30 20:30] brentvatne commented on #1206
Actually let's move this discussion into one issue: #1294

[2015-05-30 20:30] #1206 closed

[2015-05-30 20:35] brentvatne commented on #1168
@dalinaum - Probably the easiest approach is what was done there - create a fork and keep it updated with what we have on the main repo. A lot of our docs are extracted directly from the code and it would add a lot of noise if we had inline translations :smile:

If you need a hand with anything docs related, ping me in irc or on Twitter - @notbrent. Looking forward to seeing what you come up with,

[2015-05-30 20:35] #1168 closed

[2015-05-30 20:37] brentvatne commented on #809
@joewood - if you still see the issue, can you reproduce in a public repo or on [rnplay.org](rnplay.org)?

[2015-05-30 20:37] #809 closed

[2015-05-30 20:38] brentvatne commented on #1176
Being tracked in the PR mentioned above :smile: nice work

[2015-05-30 20:38] #1176 closed

[2015-05-30 20:40] brentvatne commented on #1150
@iceNuts - closing this because we haven't heard a followup, feel free to ping me if you're still having this issue, and if you can please post a runnable example repository or app on [rnplay.org](rnplay.org), thanks!

[2015-05-30 20:40] #1150 closed

[2015-05-30 20:43] brentvatne commented on #1148
Neat solution there @yelled3 :smile:

As far as I know, this isn't in the roadmap cc @ericvicenti correct me if I am wrong and I will reopen.

[2015-05-30 20:43] #1148 closed

[2015-05-30 21:05] brentvatne commented on #1429
@bparadie - agreed!

[2015-05-30 21:05] brentvatne commented on #883
@jtremback - this is being tracked in #1429 now, PR welcome!

[2015-05-30 21:05] #883 closed

[2015-05-30 21:12] brentvatne commented on #1144
It will "re-render" everything but with two caveats:

1. The `rowHasChanged` function determines whether a re-render should occur in JS, so you can tune this according to your needs.
2. For the rows that actually do change, the re-render doesn't destroy and recreate the view, it just sends some commands over to native to update it, such as the following:

[code]

[2015-05-30 21:12] #1144 closed

[2015-05-30 21:14] brentvatne commented on #1105
Is this collapsable into #1287 @ide?

[2015-05-30 21:18] ide commented on #1463
To generalize would it make sense to expose the JS loader and allow custom implementations to be injected? One thing I've wanted to do with the loader is also have a better notion of progress, so custom loaders would let me achieve that and address this issue at the same time.

[2015-05-30 21:19] brentvatne commented on #1137
@cxfeng1 - can you not just broadcast the event on `DeviceEventEmitter` or `AppEventEmitter`?

As @nicklockwood said, if we can get some more details it would help! Closing until we hear back from you, but I am very curious to hear what you have in mind.

[2015-05-30 21:19] #1137 closed

[2015-05-30 21:20] brentvatne commented on #1139
@jtremback - it might be useful to set `var DEBUG_SPY_MODE = true;` in `Libraries/Utilities/MessageQueue.js` - but you will get a lot of noise from timers, so we'd probably want to filter that out.

[2015-05-30 21:21] brentvatne commented on #1136
@cxfeng1 @crysfel  - could either of you take a crack at this and submit a PR?

[2015-05-30 21:21] #1133 closed

[2015-05-30 21:22] johanneslumpe commented on #1451
So how should we read the `.babelrc` file? `babel-core` already provides a tool to read and parse the file, but unfortunately it's not exposed. And since react-native requires `babel` but not `babel-core` directly, it might be very ugly to do a nested require into `babel/node_modules/babel-core`.

But copying the file does not seem like the right solution. Would be nice to figure out a way to get

[2015-05-30 21:23] ide commented on #1105
This is a different problem with the layout engine.

[2015-05-30 21:23] brentvatne commented on #1445
@chandu0101 - it looks like there is an existing PR for this! #1247

[2015-05-30 21:23] #1445 closed

[2015-05-30 21:23] brentvatne commented on #1120
@dvcrn - Nice one! Closing so we can track this in the PR

[2015-05-30 21:23] #1120 closed

[2015-05-30 21:24] #816 closed

[2015-05-30 21:28] brentvatne commented on #1119
@littleweb - https://facebook.github.io/react-native/docs/textinput.html#onsubmitediting `onSubmitEditing` should work for you. Ping me if not and please explain the use case and we can look at it again!

[2015-05-30 21:28] #1119 closed

[2015-05-30 21:28] brentvatne commented on #1106
I updated the documentation here finally! Hurray

[2015-05-30 21:28] #1106 closed

[2015-05-30 21:33] ide commented on #1341
Look at AHKNavigationController for fix. This is an Apple idiosyncrasy and not anything React is doing.

[2015-05-30 21:34] brentvatne commented on #1105
Ah okay, just wanted to be sure

[2015-05-30 21:35] brentvatne commented on #1092
[code]

If this doesn't work, ping me with a runnable example and I'll reopen this issue @amitverma :smile:

[2015-05-30 21:35] #1092 closed

[2015-05-30 21:36] brentvatne commented on #1091
This is an issue better suited for StackOverflow, I'd recommend posting "how-to" issues there and bugs here :smile:

[2015-05-30 21:36] #1091 closed

[2015-05-30 21:37] brentvatne commented on #1090
Seems like @oveddan will try to implement this, as per #1349

[2015-05-30 21:37] #1090 closed

[2015-05-30 21:37] brentvatne commented on #1088
Code example here is incomplete, seems like this works fine for myself and others. Ping me with the uri that doesn't work and I'll reopen this issue @iceNuts!

[2015-05-30 21:37] #1088 closed

[2015-05-30 21:38] brentvatne commented on #1084
@lelandrichardson - looks like there hasn't been any progress here, would be great for you to jump in if you're still willing

[2015-05-30 21:39] brentvatne commented on #1078
Tracking this in your PR @jmstout :smile:

[2015-05-30 21:39] #1078 closed

[2015-05-30 21:45] brentvatne commented on #1341
@ide - good point. It couldn't hurt to augment the docs to reflect this odd behaviour.

[2015-05-30 21:46] brentvatne commented on #1077
@crylico - any interest in following through on this? If so, perhaps turn your gist into a PR and we can give feedback there :smile:

[2015-05-30 21:47] #1063 closed

[2015-05-30 21:48] #1051 closed

[2015-05-30 21:48] nicklockwood commented on #1240
There's no reason not to expose the accuracy, but it should be done so in a way that's compliant with the HTML5 Geolocation API as far as possible.

I thought we already did this, but I guess I misremembered.

[2015-05-30 21:49] brentvatne commented on #1060
ping @vjeux

[2015-05-30 21:50] brentvatne commented on #1038
@nicklockwood - has this one been resolved? cc @tadeuzagallo

[2015-05-30 21:52] #1002 closed

[2015-05-30 21:54] brentvatne commented on #1041
Agreed, neat idea :smile:

[2015-05-30 21:55] jtremback commented on #1451
We could skip parsing the `.babelrc` for now and just get our stuff from `package.json`.

[2015-05-30 21:57] brentvatne commented on #1240
@nicklockwood - poor wording on my behalf - `desiredAccuracy` is exposed, `distanceFilter` is not

[2015-05-30 21:59] brentvatne commented on #951
Hi @potsypantsy! #1029 should solve your problem

[2015-05-30 21:59] #951 closed

[2015-05-30 21:59] #944 closed

[2015-05-30 22:01] brentvatne commented on #973
This should only happen in development mode, if you can reproduce with development mode disabled, please ping me and I'll reopen this issue! @jbhatab

[2015-05-30 22:01] #973 closed

[2015-05-30 22:02] #1000 closed

[2015-05-30 22:07] brentvatne commented on #992
Looks like it was solved in #663 and merged in https://github.com/tadeuzagallo/react-native/commit/b0fb6e0566014b4ff9045c32a7eccfca8b6699e7

[2015-05-30 22:07] #992 closed

[2015-05-30 22:08] #974 closed

[2015-05-30 22:15] ide commented on #1451
@johanneslumpe would things be easier if RN depended on babel-core directly?

[2015-05-30 22:23] brentvatne commented on #998
Closing, ping me if this is still an issue for you @jwyld

[2015-05-30 22:23] #998 closed

[2015-05-30 22:27] brentvatne commented on #985
@vjeux - added this to the getting started page:

![](http://url.brentvatne.ca/1jrZP.png)

[2015-05-30 22:27] #985 closed

[2015-05-30 22:34] #105 closed

[2015-05-30 22:35] ide commented on #103
ListView now has renderSeparator.

[2015-05-30 22:35] #103 closed

[2015-05-30 22:44] brentvatne commented on #321
^ cc @ide

[2015-05-30 22:48] #273 closed

[2015-05-30 22:48] brentvatne commented on #273
This has been fixed!

[2015-05-30 22:50] brentvatne commented on #335
I believe that this is covered in this doc now: https://facebook.github.io/react-native/docs/javascript-environment.html#content

[2015-05-30 22:50] #335 closed

[2015-05-30 22:50] #304 closed

[2015-05-30 22:52] brentvatne commented on #1461
@Dharmoslap - #182

[2015-05-30 22:53] brentvatne commented on #930
The fix for this has been merged!

[2015-05-30 22:53] #930 closed

[2015-05-30 22:53] brentvatne commented on #930
@VonD - if the fix doesn't solve all of your issues, it would be great if you could open another issue! :smile:

[2015-05-30 22:55] brentvatne commented on #919
@mjw56 @ericvicenti - if there is still interest in pursuing animations on replace, let's open a new issue for it

[2015-05-30 22:55] #919 closed

[2015-05-30 22:57] brentvatne commented on #915
@Benmidi's comment is completely correct :smile:

[2015-05-30 22:57] #915 closed

[2015-05-30 22:57] #913 closed

[2015-05-30 23:00] brentvatne commented on #858
@paramaggarwal - you could use one of the `resizeMode` options to adjust the image to maintain the aspect ratio and still fit in whatever container size you have

[2015-05-30 23:01] brentvatne commented on #869
It looks like this is gone now :smile:

[2015-05-30 23:01] #869 closed

[2015-05-30 23:20] lelandrichardson commented on #1084
@brentvatne Looking closer at this, I think the current implementation is actually correct.  The `xhr.onerror` is only called if there is actually a hard-fail (ie, there was a network error) in which case there isn't actually an HTTP status code to inspect. In cases where there is an HTTP 500 or 404 etc, I believe the promise is resolved, not rejected, and the proper status code should be there in

[2015-05-30 23:39] brentvatne commented on #89
The issue here now is that the images change but the text does not

![bug](https://cloud.githubusercontent.com/assets/90494/7899847/683949c4-06ea-11e5-9111-9cf46a2b0a00.gif)

@vjeux - who is the owner of ListView?

[2015-05-30 23:41] brentvatne commented on #896
ping @ide

[2015-05-30 23:47] brentvatne commented on #885
@drkibitz - thanks for the report! This is fixed now: https://github.com/facebook/react-native/blob/master/Libraries/AppStateIOS/AppStateIOS.ios.js#L92-L103

The events are communicated through the `RCTDeviceEventEmitter` so you could access all of the events through that, this module just wraps that to make it even simpler to manage.

I'd love to see your module, could you share it?

[2015-05-31 00:00] tadeuzagallo commented on #1038
Yep, fixed!

[2015-05-31 00:00] #1038 closed

[2015-05-31 00:08] brentvatne commented on #1084
@lelandrichardson - that sounds acceptable to me, I believe a `.catch` chained on the promise should cover these errors so I'm going to close this issue, we can reopen if you change your mind or other people have this problem

[2015-05-31 00:08] #1084 closed

[2015-05-31 00:09] brentvatne commented on #476
@jaredly - seems like this is worth adding support for - I had an initial shot at this [here](https://github.com/facebook/react-native/issues/1403#issuecomment-106588791), we could use the same strategy for other props

[2015-05-31 00:12] #878 closed

[2015-05-31 00:13] brentvatne commented on #873
Fixed in bbd52595864a3ac6469b46b3789b882b51f33e86

[2015-05-31 00:13] #873 closed

[2015-05-31 00:13] #881 closed

[2015-05-31 00:14] brentvatne commented on #884
@mrblueblue - if you're still having this issue, ping me and we can look into it further!

[2015-05-31 00:14] #884 closed

[2015-05-31 00:17] JohnyDays commented on #1060
I should close this, since the latest version of react this has been implemented. Thanks @vjeux!

[2015-05-31 00:17] #1060 closed

[2015-05-31 00:23] brentvatne commented on #879
@oblador - that worked for me as well, submitted a PR to update the SampleApp accordingly

[2015-05-31 00:23] #879 closed

[2015-05-31 00:27] brentvatne commented on #1403
This is a dup of #846

[2015-05-31 00:27] #1403 closed

[2015-05-31 00:28] brentvatne commented on #846
I fixed this here: https://github.com/brentvatne/react-native-navigator-ios-hide-bugfix/commit/e0655d19821072f7d2ace9bea42902ab50e9d861

If this doesn't seem like too much of a hack, I can follow along those lines and have it update other props as well.

cc @ide

[2015-05-31 00:28] #822 closed

[2015-05-31 00:31] the4dpatrick opened #1467 "[Bridge] How to remove a UIView via a bridge method?"
I have a view controller with two views (Banner Ad and React View). I would like to be able to remove the banner ad view from within the react native code calling a bridged method of some sort.

Could someone steer me in the right direction on how to do this?

[2015-05-31 00:33] brentvatne commented on #898
@lazywei - did you manage to resolve your issue?

[2015-05-31 00:34] brentvatne commented on #990
@dwilt - is this still happening? did you fix it?

[2015-05-31 00:36] brentvatne commented on #796
AnimationExperimental is very.. Experimental.. :wink: A new api will be coming soon, there aren't any plans to fix any issues with this at the moment as it is more or less deprecated.

[2015-05-31 00:36] #796 closed

[2015-05-31 00:39] #575 closed

[2015-05-31 00:48] brentvatne commented on #894
Indeed, same issue was #476

[2015-05-31 00:48] #894 closed

[2015-05-31 00:50] drkibitz commented on #885
@brentvatne Thanks, it's really nothing special I never intended to share, I'll see if I can get it into an archive.

[2015-05-31 00:51] brentvatne commented on #1467
Hi @the4dpatrick - this is the type of question better suited for StackOverflow or IRC - if you don't have any luck there, feel free to open an issue.

[2015-05-31 00:51] #1467 closed

[2015-05-31 00:52] drkibitz commented on #885
I haven't been keeping as close of an eye on things as I was a month ago, was there anything added for orientation support?

[2015-05-31 00:53] kevindeleon opened #1468 "[Swift] Incomplete documentation for exporting custom Swift module?"
I was working on creating a custom module using swift based on a tutorial by Jay Garcia. I've got everything working, but one thing I did run into that doesn't seem to be in the documentation is the need for an objective-c bridging file (see in my github repo [the following file](https://github.com/kevindeleon/react-custom-swift-component/blob/master/CustomSwiftComponent-Bridging-Header.h)) that c

[2015-05-31 00:59] brentvatne commented on #726
@jcgertig - the border code changed significantly recently, and a big change to the animation api is under way as well. If you can post the code that you used to generate that, we can try it on the newer version and see what the result is!

[2015-05-31 01:00] #722 closed

[2015-05-31 01:00] brentvatne commented on #719
`barTintColor` as per the above issue

[2015-05-31 01:00] #719 closed

[2015-05-31 01:02] brentvatne commented on #885
@drkibitz - unfortunately not :(

[2015-05-31 01:20] ide commented on #896
@lzyy what is your question?

[2015-05-31 01:22] drkibitz commented on #885
@brentvatne, here you go https://github.com/drkibitz/react-native-device-state

be kind :wink:

[2015-05-31 01:48] aroth commented on #930
@brentvatne Thanks, this was merged internally by @nicklockwood a couple of weeks ago.

@VonD We still need support for configurable representation and orientation of ALAssets/PHAssets.

https://github.com/facebook/react-native/blob/master/Libraries/Image/RCTImageLoader.m#L81
https://github.com/facebook/react-native/blob/master/Libraries/Image/RCTImageLoader.m#L82

Another issue should be opened.

[2015-05-31 02:40] brentvatne commented on #885
Thanks! Will check it out tomorrow

[2015-05-31 02:48] psbanka commented on #1328
Thank you!

[2015-05-31 03:21] lzyy commented on #896
@ide the question is I didn't find `@proviedModels ReactClass` under react-native project, so wondering where does it come from. so after dig into the system node_modules dir, finally found the definition. so find my answer.

the second question is how `@provideModeuls module` declared in comments make it a real module, it seems is the effort of `JSTransform`, it has `--use-provides-module` parame

[2015-05-31 03:23] vjeux commented on #1462
Context: http://browniefed.com/blog/2015/05/30/create-a-map-with-react-art/

[2015-05-31 03:32] lzyy commented on #1418
@tadeuzagallo @brentvatne Thanks, didn't notice the Provider, problem solved.

[2015-05-31 03:32] lazywei commented on #898
@brentvatne hey, thanks for following up this! I solved this by setting "top" and "margin*" like things.
It would be great if we can have a better solution to this, yet please feel free to close this issue :+1:

[2015-05-31 03:34] spicyj commented on #89
Probably an Image issue; I can't imagine it being specific to ListView.

[2015-05-31 03:35] spicyj commented on #1462
No one's working on it right now as far as I know. I'd be happy to look at a pull request if you're interested in adding support.

[2015-05-31 03:42] rxb commented on #1362
This is a very dirty implementation of snap scrolling, but maybe it will inspire someone to actually make it legit:

[code]

Issues with this:
* Isn't taking user's scroll velocity into account, so you see a jump in velocity when scrollTo takes over.
* You get this warning: "ScrollView doesn't take rejection well - scrolls anyway" which I assume means I'm doing something frowned upon

Anyone with

[2015-05-31 03:56] naoufal commented on #700
Sure — I'll try and submit a PR tomorrow.

[2015-05-31 04:35] maplebaby commented on #720
Is it solved?

[2015-05-31 04:57] browniefed commented on #1462
Shucks. I don't know ObjectiveC and this seems like a large thing.
I guess no time like the present to learn. I'll see if I can get something working, no guarantees.

I'll close this out for now. Thanks for the response.

[2015-05-31 04:57] #1462 closed

[2015-05-31 05:15] brentvatne commented on #1462
@browniefed if you get stuck don't hesitate to ping me on irc or twitter!

[2015-05-31 05:22] jtremback commented on #1451
https://github.com/facebook/react-native/pull/1469

[2015-05-31 05:26] browniefed commented on #1462
@brentvatne thanks, I'm sure I will.

@spicyj I think there needs to be some documentation around `react-art`. I've been writing a lot of it and would love to document it so it might get some more use by people.
Is there a particular documentation style you would prefer, I imagine a clone of Jekyll style sites like `react-native` , `flux`, and `flow`?

[2015-05-31 06:02] brentvatne commented on #343
Rapidly tapping back button in simulator and I can't reproduce this, will reopen if this is still the case

[2015-05-31 06:02] #343 closed

[2015-05-31 06:03] brentvatne commented on #966
Seems like this is resolved :smile:

[2015-05-31 06:07] brentvatne commented on #898
@lazywei - agreed, cc @vjeux

[2015-05-31 06:10] brentvatne commented on #723
This issue seems stale, ping me if you are still having this problem @mcz and we can look into it further :smile: sorry we didn't get around to it sooner

[2015-05-31 06:10] #723 closed

[2015-05-31 06:11] brentvatne commented on #711
Also would love to see this, consolidating into one issue #1440

[2015-05-31 06:11] #711 closed

[2015-05-31 06:12] brentvatne commented on #697
Hint: Check out RCTUIManager. That said, this kind of issue is best suited for StackOverflow :smile:

If you can't find a solution there after trying, feel free to ping me here or on Twitter @notbrent

[2015-05-31 06:12] #697 closed

[2015-05-31 06:24] brentvatne commented on #696
This is fixed now: #1415 :smile:

[2015-05-31 06:24] #696 closed

[2015-05-31 06:26] brentvatne commented on #779
Dup #902

[2015-05-31 06:26] #779 closed

[2015-05-31 07:02] johanneslumpe commented on #1451
@ide i believe so, but now we have @jtremback's PR.

[2015-05-31 07:03] liubko commented on #1402
@alinz does it look something like https://www.dropbox.com/s/xq522ywqsd16vqe/example.mov?dl=0

[2015-05-31 07:57] Selmanh commented on #24
Is GIF still supported? I am trying to display a GIF as
```<Image style={styles.bg} source={require('image!sandglass')} />```

PNG works just fine, but I am getting the following error when I try to render animated GIF images in my view:

![screen shot 2015-05-31 at 12 57 11 am](https://cloud.githubusercontent.com/assets/3432700/7901180/00a4f9f2-0730-11e5-9617-791dbb3bf980.png)

Restarting the pac

[2015-05-31 08:55] mcz commented on #723
thanks, it was already fixed long time ago. i forgot to close the issue :)

[2015-05-31 09:07] ide commented on #24
AFAIK remote gifs are supported. Try a URL.

[2015-05-31 09:53] ide commented on #896
When you run the packager and load a bundle, it scans all the files for `@providesModule` and adds them to the dependency graph: https://github.com/facebook/react-native/blob/4673dca0b0941f9f8a61970b0d0829807f26f9bc/packager/react-packager/src/DependencyResolver/haste/DependencyGraph/index.js#L448

[2015-05-31 09:54] #896 closed

[2015-05-31 10:04] nicklockwood commented on #24
Gifs should work for both remote and loca images, but there might be an issue using them with the require() syntax. Try just using the file name (including extension) as the uri value.

[2015-05-31 11:24] Iragne commented on #499
Hi all
i create the PR https://github.com/facebook/react-native/pull/1406
It's solve for me the issue if you have a better idea to solve it feel free

Thanks

[2015-05-31 14:01] gabro commented on #966
@brentvatne are you sure? I just tested it on my star-rating project and I can reproduce the exact same behavior.

[2015-05-31 15:57] brentvatne commented on #966
Oh sorry @gabro - I thought from your follow up comment that you had resolved it.

[2015-05-31 15:59] brentvatne commented on #691
This is possible now with `borderBottomLeftRadius` etc :smile:

[2015-05-31 15:59] #691 closed

[2015-05-31 16:01] brentvatne commented on #679
@bradoyler - indeed, this is a dup of #89

[2015-05-31 16:01] #679 closed

[2015-05-31 16:01] brentvatne commented on #322
Dup of #89

[2015-05-31 16:01] #322 closed

[2015-05-31 16:02] brentvatne commented on #1461
@Dharmoslap - also see #770

[2015-05-31 16:03] brentvatne commented on #800
@johanneslumpe - is this fixed if you add `displayName: 'someName'` do your components?

[2015-05-31 16:06] brentvatne commented on #694
The recent change to Babel should fix this!

[2015-05-31 16:06] #694 closed

[2015-05-31 16:10] brentvatne commented on #687
@checkraiser - sorry for not getting back to you here, I somehow lost this amongst all of the other issue notifications :frowning:

I have used TextInput inside of View many times and I have never had any issues - if you are still having this problem on v0.5.0-rc, ping me and I can reopen.

[2015-05-31 16:10] #687 closed

[2015-05-31 16:10] brentvatne commented on #686
Thanks @mattotodd for putting that together :smile:

[2015-05-31 16:10] #686 closed

[2015-05-31 16:11] #681 closed

[2015-05-31 16:11] #680 closed

[2015-05-31 16:13] brentvatne commented on #676
Did anyone manage to get this working? Can we sit it on Github anywhere?

[2015-05-31 16:13] #676 closed

[2015-05-31 16:14] gabro commented on #966
Sorry, ambiguous comment. What I meant is that the location is correct given the target, but the target is wrong, as it's one of the subviews instead of the view.

[2015-05-31 16:15] brentvatne commented on #673
[Fixed!](https://rnplay.org/plays/vGvYSQ?autoplay=true)

![screen shot 2015-05-31 at 9 15 15 am](https://cloud.githubusercontent.com/assets/90494/7902672/95f52b18-0775-11e5-9676-2ee959473b96.png)

[2015-05-31 16:15] #673 closed

[2015-05-31 16:18] brentvatne commented on #668
I tried this on my own and this works fine, will reopen if you are still having the issue. If so, please explain step by step exactly what you're doing and we can try to narrow it down :smile:

[2015-05-31 16:18] #668 closed

[2015-05-31 16:20] brentvatne commented on #667
This [looks much more complete now](https://github.com/facebook/react-native/blob/master/React.podspec) but still doesn't include LinkingIOS. @ide any thoughts?

[2015-05-31 16:20] brentvatne commented on #636
Similar enough to #667, closing

[2015-05-31 16:20] #636 closed

[2015-05-31 16:21] #657 closed

[2015-05-31 16:21] #663 closed

[2015-05-31 16:25] brentvatne commented on #645
cc @nicklockwood

[2015-05-31 16:27] brentvatne commented on #639
@matthewga0 - it's possible to implement that same behaviour on another platform even if there is no built-in native function for it. We'll have to see where this goes with Android.

@karpotkin - thanks for the image, unfortunately it's not very clear from it exactly what the issue is? If you can explain further I will reopen the issue

[2015-05-31 16:27] #639 closed

[2015-05-31 16:29] brentvatne commented on #626
This is resolved now [here](https://facebook.github.io/react-native/docs/tabbarios.html#bartintcolor)

[2015-05-31 16:29] #626 closed

[2015-05-31 16:29] brentvatne commented on #619
@hharnisc's pr was merged :smile:

[2015-05-31 16:29] #619 closed

[2015-05-31 16:30] #617 closed

[2015-05-31 16:31] brentvatne commented on #596
@imaffett - still interested in this feature? Seems simple enough to make a PR, ping me on irc/twitter @notbrent if you need a hand

[2015-05-31 16:31] dwilt commented on #990
@brentvatne I can't figure out exactly what I did but it seemed to stop happening. Sorry I couldn't be more help.

[2015-05-31 16:33] brentvatne commented on #586
@notduncansmith - any interest in this still? if so, a PR would be welcome! you can ping me on irc/twitter @notbrent (nice username, by the way)

[2015-05-31 16:36] brentvatne commented on #584
@mudetroit - you're right - I believe we should eliminate one of the two. It seems like the reason for it is that on Android the `password` prop is used and on iOS `secureTextEntry` is used, but both props are accepted regardless.

@vjeux - if there's any interest, I can submit a PR for this

[2015-05-31 16:39] brentvatne commented on #573
Now using JSC C api as per #1037

[2015-05-31 16:39] #573 closed

[2015-05-31 16:44] brentvatne commented on #565
@jonaswindey - did you figure that out? ping me if not and I'll reopen

[2015-05-31 16:44] #565 closed

[2015-05-31 16:45] #555 closed

[2015-05-31 16:47] brentvatne commented on #1397
From IRC

Is there any plans to introduce a cache policy for images? For example, to be able to set expirationDate for RCTCache keys (`<Image expire={week} />`) or add methods to manual invalidating (`this.res.image.reload()`)?

[2015-05-31 16:49] brentvatne commented on #966
cc @spicyj

[2015-05-31 16:56] brentvatne commented on #342
ping @wesleyahall

[2015-05-31 16:58] brentvatne commented on #321
Labeled as good first task as per @vjeux's comment:

[2015-05-31 16:59] brentvatne commented on #297
@jessepollak - all good now? can we close this?

[2015-05-31 17:08] #274 closed

[2015-05-31 17:12] jtremback opened #1470 "[Packager] Refactor packager (separate preprocessor step)"
Maybe I'm messing something up, but I have not been able to get the packager to work with es6 modules, or anything requiring the Babel runtime. From digging around in the packager a little more, I believe this has to do with the fact that it runs the transform on each file individually.

I am able to this stuff working by running Babel on my files myself before they reach the packager, but it seem

[2015-05-31 17:12] brentvatne commented on #245
@vjeux - any plans to publicize a project roadmap?

[2015-05-31 17:16] brentvatne commented on #192
This is happening now with static images. To summarize the above: core will not include any auto-sizing of network images, but feel free to develop and publish a module to take care of this if you would like to see it :smile:

[2015-05-31 17:16] #192 closed

[2015-05-31 17:20] brentvatne commented on #355
@vishnevskiy - did you manage to figure this out or is it still an issue?

[2015-05-31 17:21] jessepollak commented on #297
:+1:

[2015-05-31 17:21] brentvatne commented on #332
Ping me if you implement this, I'm very interested in seeing the result! But given that there are no plans to implement this in the core at the moment I'm going to close the issue!

[2015-05-31 17:23] brentvatne commented on #531
Discussion here seems to be dead, if anyone has made progress or is still keen to do something related to this issue, ping me and I'll reopen

[2015-05-31 17:23] #531 closed

[2015-05-31 17:25] brentvatne commented on #529
@vjeux - any particular reason for not including justify? If not, we can tag this as a good first task

[2015-05-31 17:30] vjeux commented on #245
For the components, we open sourced all the ones that we have that do not depend on fb infra and are in a good shape.

As for publishing a roadmap, we first need to figure one out :))

More seriously, one idea that was thrown around was to add a "What are we working on" section in the rc changelogs every two weeks. This way we can give people some visibility into what's coming next.

[2015-05-31 17:33] brentvatne commented on #494
@paramaggarwal - check out [these bridge methods on RCTUIManager](https://github.com/facebook/react-native/blob/master/React/Modules/RCTUIManager.m#L971-L1119) for performing measurements

[2015-05-31 17:34] vjeux commented on #529
We had justify and then realized Android doesn't support justify so we removed it.

Probably worth adding it back and figure out something on android side, pretty crazy that it is not supported

[2015-05-31 17:35] brentvatne commented on #497
Nice one @wlindner :smile:

I'm going to close out this issue as it seems dead and at least for the moment best suited for a community module. Feel free to create another issue if in writing that module you run into an issue with the core infrastructure!

[2015-05-31 17:35] #497 closed

[2015-05-31 17:35] #492 closed

[2015-05-31 17:38] brentvatne commented on #498
Similar problem was solved [here on react-native-mapbox-gl](https://github.com/bsudekum/react-native-mapbox-gl/pull/25/files)

There is no way to pass in some values into a constructor, but if you move the view you are creating into something like `RCTMapboxGL` in the above link, then you can defer creating the underlying native component that you are wrapping until all of the necessary initializa

[2015-05-31 17:38] #498 closed

[2015-05-31 17:39] brentvatne commented on #489
More thought has been put into Cocoapods now and this should be working much better, give it a try and let me know if you still have an issue!

[2015-05-31 17:39] #489 closed

[2015-05-31 17:39] brentvatne commented on #487
This belongs on the [facebook/react-devtools repo](https://github.com/facebook/react-devtools)

[2015-05-31 17:39] #487 closed